[2019-12-17 01:35] #745 closed

[2019-12-17 01:38] changpe1 commented on #587
Closing this issue as this is not recommended way to use SPDK.

[2019-12-17 01:38] #587 closed

[2019-12-17 02:05] optimistyzy commented on #1104
@ryderhsu0129 I think that for directly using nvme driver, it is ok. Could you run ./test/bdev/bdevperf/bdevperf and using the same bdev.conf.in, you used:

bdev.conf.in
[Malloc]
        NumberOfLuns 1
        LunSizeInMB 128
[Nvme]
        TransportID "trtype:PCIe traddr:0000:02:00.0" NVMe0n1
        RetryCount 4
        TimeoutUsec 0
        AcctionOnTimeout None
        AdminPollRate 100000

An

[2019-12-17 02:08] yidong0635 commented on #1111
@jimharris  thanks ,  add json.power_on_time.hours to "grep -v". Hope that I got the ideas.

[2019-12-17 02:15] changpe1 commented on #1103
I checked the kernel log, it shows the issue is still related with NBD module, the kernel stuck more than 120 seconds.  If this is related with special OS/kernel version, maybe we can use other VM as a replacement.

[253005.566712] block nbd13: shutting down socket
[253005.566744] block nbd13: Receive control failed (result -32)
[253068.445128] block nbd0: NBD_DISCONNECT
[253068.445167] block nbd0

[2019-12-17 04:49] liang2yan commented on #1055
I run test/vmd/vmd.sh 100 time with latest codes, no error found. so close this issue.

[2019-12-17 04:49] #1055 closed

[2019-12-17 05:30] optimistyzy commented on #1104
@ryderhsu0129 Another thing I found, as Jim stated. Currently you are running SPDK target with fio together to access the same NVMe SSD, though we support the multiple process mode. Do you want to do this test?  If you want to:
1 Use  FIO + SPDK plugin (NVMe/bdev) to test the local NVMe SSD. You do not need to start SPDK tgt.
2 If you want to use FIO + SPDK plugin to test remote NVMe-oF target. Th

[2019-12-17 07:18] ryderhsu0129 commented on #1104
thanks for your reply.
I think my way of thinking are confusing.

1. I just want to use fio + SPDK plugin to test local NVMe SSD, launched the SPDK tgt just want to run rpc.py to create bdev device for test.(looks like rpc command is only useful when SPDK tgt is executed).

As mentioned above, so I tried to run `fio config.fio '--filename=NVMe0n1'` directly with
bdev.conf.in config :
[code]
but th

[2019-12-17 07:19] gwnet opened #1113 "19.10 failed to connect nvmeof via softroce but 19.07 can"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

wayne@ubuntu:~/spdk1910/spdk/examples/nvme/perf$ sudo ./perf -q 1 -w read -o 4096 -t 10 -r 'trtype:RDMA adrfam:IPv4 traddr:192.168.10.129 trsvcid:4420'
Starting SPDK v19.10 / DPDK 19.08.0 initialization...
[ DPDK EAL parameters: pe

[2019-12-17 07:56] liang2yan commented on #852
@AlekseyMarchuk , do you have any update about this issue? the issue 1086 can't be reproduced and closed.

[2019-12-17 08:07] yidong0635 commented on #1113
I use VM fedora31 ,SoftRoce, and  with the latest code.   run tests without error.
`rxe_cfg start`
[root@fedora31 spdk]#` rxe_cfg status`
  Name  Link  Driver  Speed  NMTU  IPv4_addr  RDEV  RMTU
  eth0  yes   e1000          1500  10.0.2.15  rxe0  1024  (3)

[code]
[perf.txt](https://github.com/spdk/spdk/files/3972063/perf.txt)

[2019-12-17 08:17] spdkci commented on #1072
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52956.html

[2019-12-17 08:36] spdkci commented on #1111
Another instance of this failure. Reported by @tomzawadzki. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52844.html

[2019-12-17 09:36] tomzawadzki commented on #1112
This is duplicate of #1089 with fix here:
https://review.gerrithub.io/c/spdk/spdk/+/476810

[2019-12-17 09:36] #1112 closed

[2019-12-17 13:12] tomzawadzki commented on #1109
This is duplicate of #1089.

@eyuval Fix is currently in review please see if this addresses what you see and let everyone know in #1089.

[2019-12-17 13:12] #1109 closed

[2019-12-17 13:24] optimistyzy commented on #1104
@ryderhsu0129 "I just want to use fio + SPDK plugin to test local NVMe SSD, launched the SPDK tgt just want to run rpc.py to create bdev device for test.(looks like rpc command is only useful when SPDK tgt is executed)."
If you want to test this, please:
1 Do not run spdk_tgt, it is not needed.
2 you do not need any rpc.

You can directly run fio with SPDK bdev plugin.

[2019-12-17 13:52] tomzawadzki commented on #1092
The failure occurs when initializing shared memory with VPP process (`framework_start_init` RPC).
This calls `spdk_vpp_net_framework_init()`, which then crashes deep within `vl_socket_client_init_shm()` VPP lib call.

The logs are not that helpful in determining the reason. Brief look at the SPDK side (vpp sock and tests) didn't help with resolution. Will take a look what happens on VPP side to fi

[2019-12-17 14:18] jimharris commented on #1104
Hi @ryderhsu0129,

In your bdev configuration file, you should use "NVMe0" not "NVMe0n1".  NVMe0 is the name of the controller.  The bdev module will append "n1" for the bdev associated with namespace ID=1.

-Jim

[2019-12-17 15:11] tomzawadzki commented on #1108
[Bug scrub]: @karlatec Please see what can be done in regards of updating the Ubuntu 18 VM image.

[2019-12-17 15:16] tomzawadzki commented on #1113
[Bug scrub]: @gwnet Can you provide bit more details on the environment (OS/kernel/SoftRoce versions) ?

[2019-12-17 15:17] peluse commented on #946
@xiaoxichen what is your env (distro, kernel version)? I think I should try a fresh install using your env

[2019-12-17 15:19] tomzawadzki commented on #1105
[Bug scrub]: @mmkayPL Is it something that you'd be interested in resolving ?

[2019-12-17 15:22] AlekseyMarchuk commented on #1110
Hi @Seth5141 I left a comment in the review. In general your suggestion looks good, but I'm not sure that we should check/set ibv qpair status in spdk_nvmf_rdma_qpair_destroy

[2019-12-17 16:21] tomzawadzki commented on #576
@govind-rathod1987 Both of the linked patches were put onto SPDK master branch, just before SPDK 19.07 release. Are you still seeing this issue on current SPDK master ?

[2019-12-17 19:36] spdkci commented on #1072
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53027.html

[2019-12-17 20:57] jimharris commented on #1092
Here's another instance:
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53028.html

I thought this output was interesting:

[ DPDK EAL parameters: iscsi --no-shconf -c 0x1 --log-level=lib.eal:6 --log-level=lib.cryptodev:5 --log-level=user1:6 --base-virtaddr=0x200000000000 --match-allocations --file-prefix=spdk_pid3084010 ]
EAL: No available hugepages reported in hugepages-104

[2019-12-17 23:32] jimharris commented on #1092
vl_api_application_attach_reply_t_handler() looks suspect to me.  I ran a test path through CI, and it shows that mp->n_fds = 2.  So the local fds array is then also 2.  But we clearly access off the end of the array when calling svm_msg_q_set_consumer_eventfd().

But I don't see where we could be *writing* off the end of that array.  So I'm not convinced this is the problem.  I also didn't check

[2019-12-18 02:50] ryderhsu0129 commented on #1104
@optimistyzy

I run fio with SPDK bdev plugin directly, and replaced "NVMe0" to "NVMe0n1" in bdev.conf.in file, then specify the filename at end of command line, finally it's work, thanks for your help.

[2019-12-18 02:51] ryderhsu0129 commented on #1104
@jimharris

it's work, thanks for your help.

[2019-12-18 02:58] jimharris commented on #1104
Thanks for the update!

[2019-12-18 02:58] #1104 closed

[2019-12-18 05:34] Comphix commented on #1066
Change has been merged. Close this issue.

[2019-12-18 05:34] #1066 closed

[2019-12-18 06:11] yidong0635 opened #1114 "build timeout due to connection timeout"
Submit  a new issue, I'm not sure if  it's the same as other one.
per-patch test failed as :
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/53119/archive/ubuntu16_autotest/build.log

 06:46:14	$ PREV_BASH_OPTS=
 06:46:14	$ xtrace_enable
sudo: unable to resolve host ubuntu16_04: Connection timed out
Build timed out (after 10 minutes). Marking the build as failed.
Build was a

[2019-12-18 06:14] spdkci commented on #1114
Another instance of this failure. Reported by @yidong0635. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53119.html

[2019-12-18 07:09] shuhei-matsumoto opened #1115 "Socket was not freed when starting RPC client autotest"
https://d3uor3w1civ2bt.cloudfront.net/public_build/autotest-per-patch_455.html

[2019-12-18 07:10] ryderhsu0129 opened #1116 "[bdevperf]number of executed cpus doesn't match the setting of cpu core mask"
We run bdevperf with SPDK bdev to test local NVMe SSD using following command line:

`./bdevperf -w randread -o 4096 -q 32 -t 300 -s 1024 -c /usr/src/spdk/examples/bdev/fio_plugin/bdev.conf.in -m 0xFF`

It can be found that we specify the 8 cpu cores(-m 0xFF) but we got the test report:
[code]

This report seems abnormal compared to perf report, we can't see each cpu core's performance via report.

[2019-12-18 07:11] shuhei-matsumoto opened #1117 "Autotest timeout on ubuntu 18"
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53125.html

[2019-12-18 07:13] spdkci commented on #1117
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53127.html

[2019-12-18 07:18] yidong0635 commented on #1115
rpc.c: 181:spdk_rpc_listen: *ERROR*: RPC Unix domain socket path /var/tmp/spdk.sock in use. Specify another.

[2019-12-18 07:26] shuhei-matsumoto commented on #1117
Sorry, Jin's code base looks two days ago and is not the latest. Close for now.

[2019-12-18 07:26] #1117 closed

[2019-12-18 07:36] shuhei-matsumoto commented on #1115
@yidong0635 and all

This was my mistake.  This error was from new CI.  Karol taught me on slack. Close this for now.

[2019-12-18 07:51] yidong0635 commented on #1116
[code]

[2019-12-18 08:27] karlatec opened #1118 "fio bdev plugin does not work in client-server mode; server bad crc on command error"
## Current Behavior
Cannot run fio bdev plugin in client-server mode.
Attempt to do so results in
[code]

## Expected Behavior

## Steps to Reproduce
1. Compile SPDK with --with-fio option
2. Run Vhost. Create NVMe bdev, scsi controller, attach a LUN
[code]
3. Start a VM and attach to controlelr socket
[code]

4. Copy SPDK and FIO source to the VM.
Compile SPDK with --with-fio option.
Compile FIO

[2019-12-18 09:04] ryderhsu0129 commented on #1116
@yidong0635

It's work now, thanks!

Could I ask another question?
I tried to compare the report between perf with SPDK NVMe and bdevperf with SPDK bdev, the test target is same local NVMe SSD, but I found the IO and BW throughput is very big difference, how do you analyze this result.

bdevperf with SPDK bdev
[code]
perf with SPDK NVMe
[code]

[2019-12-18 09:11] cockroach1136 commented on #1097
@changpe1 Thank you so much for your update:)

[2019-12-18 09:15] spdkci commented on #1117
Another instance of this failure. Reported by @changpe1. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53146.html

[2019-12-18 09:39] spdkci commented on #1007
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53148.html

[2019-12-18 09:57] yidong0635 commented on #1116
NVMe0n1              Logical core: 7 :  103952.45 IO/s     406.06 MB/s
vs
PCIE (0000:af:00.0)    from core  7:  104541.90     408.37
Result1 has NVMe0n1 bdev and Malloc bdev.
Result2 has only Nvme bdev.

[2019-12-18 10:11] spdkci commented on #1068
Another instance of this failure. Reported by @ksztyber. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53150.html

[2019-12-18 11:05] ryderhsu0129 commented on #1116
@yidong0635

I get it, thanks!

[2019-12-18 11:05] #1116 closed

[2019-12-18 11:43] mmkayPL commented on #1105
Sure, added two patches for review
https://review.gerrithub.io/c/spdk/spdk/+/478290
https://review.gerrithub.io/c/spdk/spdk/+/478291

[2019-12-18 14:54] gwnet commented on #1113
I use Ubuntu 18.04 installed on VMware workstation 15. use softroce to configure kernel nvmeof target, then use spdk19.10 to connect it. failed. on the same machine, the 19.07pre version works fine can connect the same nvmeof kernel target

[2019-12-18 15:00] jimharris commented on #1105
Thanks!  I've assigned those patches to myself for initial review.

CI seems to have found an issue with the first patch though.  Could you take a look when you have a chance?  I'll hold off on reviewing until they've passed the test pool.

[2019-12-18 15:22] mmkayPL commented on #1105
Yes, there seem to be some alignment issues with thread context. Revision 3+ should pass the tests.

[2019-12-18 16:46] ezsushy commented on #1101
Hey,
I think I have the same issue.

When running the "nvmf_tgt" app on the target machine and "perf" on the host machine I usually get the following error "Read completed with error (sct=0, sc=8)" followed by a segmentation fault or a floating-point exception.

The interesting thing I found out that if both host and target run with just 1 core I usually don't get this error, but if either one of

[2019-12-18 16:56] #823 closed

[2019-12-18 16:57] jimharris commented on #827
This issue hasn't been seen in ages.

[2019-12-18 16:57] #827 closed

[2019-12-18 17:01] jimharris commented on #832
Hi @lorneli @benlwalker - has this issue been resolved?  It looks like this was only seen with a custom out-of-tree bdev.  Just wondering if this can be closed.

Thanks,

-Jim

[2019-12-18 17:13] lorneli commented on #832
We run tests for a while, but haven't  reproduced the same panic. Thanks for your attention.

[2019-12-18 17:13] #832 closed

[2019-12-18 19:30] spdkci commented on #1072
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53239.html

[2019-12-18 19:57] spdkci commented on #1072
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53249.html

[2019-12-18 20:08] spdkci commented on #1072
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53250.html

[2019-12-18 20:18] spdkci commented on #1072
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53248.html

[2019-12-18 20:36] spdkci commented on #1072
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53251.html

[2019-12-18 20:55] spdkci commented on #1007
Another instance of this failure. Reported by @pawelkax. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53201.html

[2019-12-19 01:38] yidong0635 commented on #1113
I will check this onUbuntu with kernel target.

[2019-12-19 01:51] shuhei-matsumoto opened #1119 "Autotest timeout due to slow config file provisioning"
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/53297/archive/centos7_autotest/build.log

Success build forhudson.tasks.Shell@434a99a2
provisioning config files...
copy managed file [copy_or_clone] to file:/var/jenkins/workspace/Other_systems/centos7_autotest/copy_or_clone.sh
[centos7_autotest] $ /bin/sh -xe /tmp/jenkins1525154838364841560.sh
+ export PATH=/usr/local/bin:/us

[2019-12-19 01:52] spdkci commented on #1119
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53297.html

[2019-12-19 01:53] spdkci commented on #1119
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53294.html

[2019-12-19 02:12] spdkci commented on #1119
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53300.html

[2019-12-19 02:14] spdkci commented on #1119
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53301.html

[2019-12-19 02:47] shuhei-matsumoto commented on #1119
This will be due to network bandwidth and test schedule/time frame as Seth explained me before.
This is low priority and it's OK even if closed.

[2019-12-19 03:12] spdkci commented on #1119
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53305.html

[2019-12-19 04:23] spdkci commented on #1072
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53320.html

[2019-12-19 04:36] shuhei-matsumoto commented on #1067
A week passed since restoring original 10 minutes timeout. There is no report here. Close this issue. Thanks for all.

[2019-12-19 04:36] #1067 closed

[2019-12-19 04:49] spdkci commented on #1119
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53309.html

[2019-12-19 05:15] Comphix commented on #739
Patch is under reviewing.

[2019-12-19 06:00] yidong0635 commented on #1113
Switch  branches between 19.10 and 19.07 :
./test/nvmf/host/perf.sh --transport=rdma.
test without error on ubuntu 18.
maybe there're some dependencies needed.
[code]
you can use autotest which can solve the dependencies.

[2019-12-19 06:17] spdkci commented on #1103
Another instance of this failure. Reported by @yidong0635. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53336.html

[2019-12-19 09:21] spdkci commented on #1072
Another instance of this failure. Reported by @yidong0635. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53120.html

[2019-12-19 09:23] spdkci commented on #1072
Another instance of this failure. Reported by @yidong0635. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53124.html

[2019-12-19 09:38] ryderhsu0129 opened #1120 "[fio plugin]How to specify the block size and I/O size correspondingly"
I want to run fio plugin with metadata, according to the instructions on this page
https://github.com/spdk/spdk/tree/master/examples/nvme/fio_plugin

![image](https://user-images.githubusercontent.com/58720141/71161857-1a921f00-2285-11ea-90cf-92eb9ea7a227.png)

fio plugin can specify block size include metadata using field **bs**, but according to my understanding it was originally to specify the

[2019-12-19 10:22] spdkci commented on #1007
Another instance of this failure. Reported by @pawelkax. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53276.html

[2019-12-19 12:15] ryderhsu0129 opened #1121 "can't run fio plugin with SPDK nvme on local NVMe SSD"
We want to run fio plugin with SPDK nvme on two local NVMe SSDs,
one is formatted NTFS by ubuntu and run fio plugin successfully.
the other want to be used evaluate performance of protection information mechanism(metadata),
so we create specific namespace and formatted it to support protection information.
The following is our procedure:

[code]

and then we can see nvme0n1 on /dev and  run genera

[2019-12-20 01:07] changpe1 commented on #1120
@ryderhsu0129 As the document says, the block size should include data and metadata size, but this is only for the DIF mode, if you formatted your drive with DIX mode, the block size should not include the metadata size.

DIF mode means extended LAB format, the metadata comes after the data, DIX means separate metadata buffer, the metadata is in a different data buffer.

[2019-12-20 01:17] changpe1 commented on #1121
@ryderhsu0129 what's your drive's model ? Can you run the examples/nvme/identify and parse the log message here for the failed drive.  Alexey reported that some drives reported that can support SGL feature but only for the I/O queues, and this definitely is a firmware bug, but we will have a workaround in SPDK, here is the patch https://review.gerrithub.io/c/spdk/spdk/+/478320, I'm not sure it's t

[2019-12-20 01:51] ryderhsu0129 commented on #1120
@changpe1
thanks for your reply.

We understand the block size definition of document says, but bs field uesd to specify the I/O size per I/O operation on general fio, if bs field used to specify block size on fio plugin, we want to know how do we specify the I/O size per operation.

[2019-12-20 02:18] changpe1 commented on #1120
If your drive was 512 + 8 format, for the I/O size if you want to test 4KiB, so the bs field should be 520 * 8.

[2019-12-20 02:25] ryderhsu0129 commented on #1121
@changpe1
thanks for your reply.
our drive model is SAMSUNG MZWLL800HEHP-00003.
I run examples/nvme/identify and got similar error message :

[code]

[2019-12-20 02:29] changpe1 commented on #1121
Then the above patch can fix your issue, you can apply that patch for now. We will merge that patch soon.

[2019-12-20 02:38] ryderhsu0129 commented on #1120
@changpe1
thanks!
we want to confirm as you said, if we set bs field to 520*8, that is different with set bs to 4k?

[2019-12-20 02:45] changpe1 commented on #1120
Have a try, let me know if you get further issue.

[2019-12-20 03:14] ryderhsu0129 commented on #1121
@changpe1

We used the patch but same error message still happened :

[code]

[2019-12-20 03:44] Cindy-010 commented on #576
Hi guys,
Can you please let me know which branch? I used the latest branch v19.10x , but we didn't get the right code in branch

[2019-12-20 03:56] changpe1 commented on #1121
Did you re-compile the fio as well as SPDK?

[2019-12-20 04:44] GaoBo1997 opened #1122 "ubuntu19.10 make failed"
## Current Behavior

I use this project: https://github.com/OpenChannelSSD/qemu-nvme to run a ubuntu19.10 server version virtual machine.
In the virtual machine, according to SPDK documentation, I ran the following commands:
`git clone https://github.com/spdk/spdk`
`cd spdk`
`git submodule update --init`
`sudo scripts/pkgdep.sh`
`./configure`
`make`
everything was ok except the `make` command.
The

[2019-12-20 04:48] #1122 closed

[2019-12-20 05:01] GaoBo1997 commented on #1122
I solved the problem,  https://ahelpme.com/howto/qemu-full-virtualization-cpu-emulations-enable-disable-cpu-flags-instruction-sets/
the qemu command add the option `-cpu qemu64,+ssse3,+sse4.1,+sse4.2,+x2apic`

[2019-12-20 05:47] ryderhsu0129 commented on #1121
I have tried to clean build and re-compiled SPDK :
make clean
./configure
make

and check the nvme_pci.o is up-to-date.

[2019-12-20 06:18] spdkci commented on #1119
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53426.html

[2019-12-20 06:37] changpe1 commented on #1121
@ryderhsu0129 Can you run the examples/nvme/identify with that patch?

[2019-12-20 06:56] ryderhsu0129 commented on #1121
@changpe1
We re-run `./configure --with-fio=/usr/src/fio` and re-compile, we can run fio plugin successfully,
can you help explain the reason?we have no ideal about this result.

[2019-12-20 07:01] changpe1 commented on #1121
It's your drive's firmware bug, we have a workaround fix in SPDK.

[2019-12-20 07:47] ryderhsu0129 commented on #1121
@changpe1
We run fio plugin with the patch, but the report seems doesn't perform any I/O:

[code]

our fio config file as follow, the bs field no matter what value we set, we will get the results above:

[code]

[2019-12-20 08:50] ryderhsu0129 commented on #1121
we run examples/nvme/identify has some error in the beginning:

[code]

[2019-12-20 08:50] AlekseyMarchuk commented on #1121
Hi @ryderhsu0129
I checked the commit mentioned by @changpe1, it works on my side with fio 3.9
Here is my fio config:

[code]

fio output with git `926c85bea (HEAD) nvme/pcie: Don't use contig SGL commands for admin qpair`:

[code]
fio output with master `b9395621a (HEAD -> master) test/vhost: restore possibility to use custom Qemu binaries`:

[code]

I used disk SAMSUNG MZPLL1T6HAJQ-00005 which s

[2019-12-20 11:59] ufo19890607 opened #1123 "I/O requests from the vhost with large bandwith will interfere that from the vhost with small one"
Hi, guys

## Issue Description
Recently I found a competition issue that I/O requests from the vhost with large bandwith will interfere that from the vhost with small one. Reproducing this issue is really simply:
1. Startup the vhost_spdk and make sure one reactor thread will handle two vhosts I/O requests from a same socket.
2. Startup two vhosts  from a same socket and make sure each one has own

[2019-12-20 13:37] mkotwani1 opened #1124 "NVMeoF - Have ability to set timeout for port disconnects"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

When running SPDK 19.07 with CX-5, it takes SPDK 15 seconds to get an event from the RDMA CM if I disable the local interface. It is after this timeout that SPDK starts failing operations. Making this timeout configurable allows an

[2019-12-20 17:07] benlwalker commented on #1113
This probably isn't the root cause, but can you re-test using this patch? https://review.gerrithub.io/c/spdk/spdk/+/478638

[2019-12-21 00:25] optimistyzy commented on #1123
Bdevs which are built on the same base bdev  will share the resource
channel, so the code design is correct from my mind. Only bdevs share the
same resource channel, will be put into the same no mem wait queue list,.

So properly I think you should be use two different sockets,  if you use
one socket, does it mean that even with two different nvme ssds, they are
under same vhost bdev and sharing t

[2019-12-21 08:35] spdkci commented on #1072
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53745.html

[2019-12-21 15:30] spdkci commented on #1072
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53774.html

[2019-12-21 15:30] spdkci commented on #1072
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53773.html

[2019-12-21 15:31] spdkci commented on #1072
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53754.html

[2019-12-21 15:32] spdkci commented on #1072
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53750.html

[2019-12-21 15:45] spdkci commented on #1072
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53769.html

[2019-12-21 15:45] spdkci commented on #1072
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53767.html

[2019-12-21 15:45] spdkci commented on #1072
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53747.html

[2019-12-21 15:46] spdkci commented on #1072
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53770.html

[2019-12-22 08:24] ufo19890607 commented on #1123
one socket, does it mean that even with two different nvme ssds, they are
under same vhost bdev and sharing the same resource channel?

NVMe ssds are controlled by two different vhost bdevs but maybe sharing the same resource channel. Our host machine has 2 CPU socket, and each one contains 40 logical cores.  Each host machine will be mounted 4 NVMe ssds. Our lightweight virtual machine owns 16 vc

[2019-12-22 14:24] optimistyzy commented on #1123
But one cpu core can handle multiple paths  e.g., vhost.0, vhost.1 and
others. So my question is that can you assign the devices under the
different path(vhost.x), to make sure that they are different vhost
controllers.
I think that you misunderstand my sockets(not the cpu sockets), but
different io socket path.

在 2019年12月22日星期日，ufo19890607 <notifications@github.com> 写道：

[2019-12-22 14:27] optimistyzy commented on #1123
And another choice is using the qos feature to limit the io on different
bdev.

在 2019年12月22日星期日，杨子夜 <optimistyzy@gmail.com> 写道：

[2019-12-22 15:26] ufo19890607 commented on #1123
different path(vhost.x), to make sure that they are different vhost
controllers.

Do you mean that each bdev should be under a single path(vhost.x)? If so, then this approach is exactly what we are currently using. One vhost just has one bdev which represents a NVMe ssd, and there are 2 vhosts in one numa node. The vhost with large write pressure will interfere the other vhost in the same numa nod

[2019-12-22 23:41] jimharris commented on #1123
Hi @ufo19890607,

In your configuration, are you are attaching the same NVMe namespace to two different vhost controllers?

If you are sharing the namespace between two different controllers (via logical volumes for example), then bdev QoS would be the best method to avoid the situation you are describing.

-Jim

[2019-12-23 02:10] yidong0635 commented on #1113
@gwnet  Can you verify this on your side with Ben's patch? I verified this on my side, It's ok.

[2019-12-23 02:56] changpe1 commented on #1123
@ufo19890607 Can you list your environment and configuration when the issue happened ? I'm confused too.

[2019-12-23 06:06] ryderhsu0129 commented on #1121
@changpe1 @AlekseyMarchuk

I sync latest code from git and can run fio plugin with metadata,
thanks for your help.

[2019-12-23 06:06] #1121 closed

[2019-12-23 09:31] #1120 closed

[2019-12-23 11:29] ufo19890607 commented on #1123
Hi Jim

I've told Ziye that each NVMe device has a unique bdev which is under a unique vhost controller. One vhost just has one bdev which owns only one NVMe device, and there are 2 vhosts in one numa node. The vhost with large write pressure will interfere the other vhost in the same numa node.

Thanks
- Wind

[2019-12-23 11:52] ufo19890607 commented on #1123
Hi, changpe
The OS of the host machine is centos7.4, and kernel version is 3.10.0-693. Our hypervisor is KVM and we use virtio drivers. The spdk and dpdk is from upstream code.

To be frankly, I think this issue has nothing to do with the test environment. You can reproduce this issue by the following steps:
- Create 2 vhosts on a same CPU socket, and each one has half of the logical CPU cores of

[2019-12-23 13:14] AlekseyMarchuk commented on #1101
I tried to reproduce this issue more than thousand times, without crashes. Maybe someone who has core dump can share it and the binary for analysis?
I checked the original callstack, it looks strange for qdepth=1 and 1 core since frame `#11` sets `ns_ctx->is_draining = true` and in this case we should not call frame `#0` within frame `#1`.
I launched another iteration of test, will try to reproduc

[2019-12-23 14:23] jimharris commented on #1123
Are these two namespaces from the same controller?

The two vhost controllers will only share a channel if they are associated with the same NVMe controller.

[2019-12-23 15:10] ufo19890607 commented on #1123
No. They are from different vhost controllers.&nbsp;

Thx
Wind

------------------ Original ------------------
From: Jim Harris <notifications@github.com&gt;
Date: Mon,Dec 23,2019 10:23 PM
To: spdk/spdk <spdk@noreply.github.com&gt;
Cc: ufo19890607 <787738581@qq.com&gt;, Mention <mention@noreply.github.com&gt;
Subject: Re: [spdk/spdk] I/O requests from the vhost with large bandwith will interfere t

[2019-12-23 15:14] ufo19890607 commented on #1123
No. They are from different vhost controllers.

Thx
Wind

[2019-12-23 15:23] jimharris commented on #1123
Hi @ufo19890607,

But the bdevs that you are attaching to the vhost controllers - are these two bdevs represented by nvme namespaces from separate nvme controllers?  Or are they namespaces from the same nvme controller?

If you could post the exact commands you are using to configure the bdevs and the vhost controllers, it might help reduce any confusion.

Note that a channel is only shared if the

[2019-12-23 17:42] jimharris commented on #1108
Marking as intermittent failure.  These log messages themselves are not intermittent (they occur every time) but I suspect these are causing the rather frequent build timeouts on ubuntu18 auto test.

@karlatec @Seth5141 could we increase the ubuntu18 timeout to 20 minutes, until we get this resolved?  I just saw 4 different patches fail due to build timeout on ubuntu18 in the same series.

[2019-12-23 17:43] spdkci commented on #1108
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53916.html

[2019-12-23 17:44] spdkci commented on #1108
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53915.html

[2019-12-23 20:00] spdkci commented on #1072
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53707.html

[2019-12-23 21:16] spdkci commented on #1072
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53979.html

[2019-12-23 22:17] spdkci commented on #1092
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_53984.html

[2019-12-24 07:44] AlekseyMarchuk opened #1125 "NVME RDMA initiator crashes during connection establishment"
I was trying to reproduce issue #1101 and observed unexpected crash of spdk_nvme_perf application

## Expected Behavior
Connection to the remote target established or errors handled without crash

## Current Behavior
spdk_nvme_perf application crashed, call stack is the following:

[code]

## Possible Solution
From my analysis, the controller was trying to identify remote namespaces and pseudo cal

[2019-12-24 08:06] wanqunintel commented on #1110
Hi, Seth Did you see this issue on MLX NIC?

[2019-12-24 08:41] AlekseyMarchuk commented on #1124
From the discussion of this problem in slack, we found 2 ways to reduce the timeout
1. Use transport_retry_count parameter from the controller opts in rdma_connect(). This parameter is used during connection negotiation and later applied to qpair.
I checked how `retry_count` affects the real time of receiving "retry counter exceeded" error, rough results are below:
retry_count = 7, ~15 seconds
ret

[2019-12-24 08:44] ChenBo2333 opened #1126 "Errors occured when runnning ./test/nvmf/host/perf.sh --transport=rdma"
When running ./test/nvmf/host/perf.sh --transport=rdma  on physical machine,errors witnessed on it.
NIC : eno1,
driver: i40e
version: 2.8.20-k
firmware-version: 3.31 0x80000d31 1.1767.0
expansion-rom-version:
bus-info: 0000:3d:00.0
supports-statistics: yes
supports-test: yes
supports-eeprom-access: yes
supports-register-dump: yes
supports-priv-flags: yes

It seems autotest treats this NIC as the

[2019-12-24 09:51] ezsushy commented on #1101
adding my backtrace

 received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7ffff5475700 (LWP 19307)]
0x000055555555e554 in task_complete (task=0x7fffe0018400) at perf.c:934
934             if (spdk_unlikely(entry->md_size > 0)) {
(gdb) bt
#0  0x000055555555e554 in task_complete (task=0x7fffe0018400) at perf.c:934
#1  0x000055555555e683 in io_complete (ctx=0x7fffe0018400, cpl=0x7fffe

[2019-12-24 11:47] AlekseyMarchuk commented on #1125
Implemented the proposed solution:
https://review.gerrithub.io/c/spdk/spdk/+/478805

[2019-12-24 12:05] AlekseyMarchuk commented on #1124
Another point for discussion is about proposed approach №1 - use transport_retry_count from controller opts structure. This value is defaulted to `4` while on RDMA initiator side we use value `7`. I don't think that using `4` by default will somehow affect stability, but I wanted to hear other opinions regarding this change.

[2019-12-24 14:46] AlekseyMarchuk commented on #1101
Hi @ezsushy
Could you run `thread apply all bt` in gdb and share the output?

[2019-12-25 04:42] Comphix commented on #1126
Thanks Chen bo. Is there any log or related demsg from the NVMe-oF target side?

[2019-12-25 05:36] ChenBo2333 commented on #1126
@Comphix .
First, using "`dmesg -c`" command clean all logs;
Then running `./test/nvmf/host/perf.sh --transport=rdma`;
Finally, running "`dmesg`" ,got :
`dmesg`
[code]
Run `./test/nvmf/host/perf.sh --transport=rdma` again, got a core dumped log :
[code]
This maybe an new issue.

1.  one is test scripts recognize this NIC as a RDMA NIC and test failed.
2. another is run two times got core dumped.

[2019-12-25 06:48] Comphix commented on #1126
For the core dump, do we have more details?

You may try the debug build for the NVMe-oF target and use gdb to execute the nvmf_tgt to catch the core dump.

[2019-12-25 06:55] optimistyzy commented on #1123
Hi Jim @jimharris ,

I agree with you. So I am very confused. I think that the @ufo19890607 may use the wrong channel as I discussed with Changpeng @changpe1

[2019-12-25 07:37] ChenBo2333 commented on #1126
I catch these logs:
[coredumped.txt](https://github.com/spdk/spdk/files/3999926/coredumped.txt)

[2019-12-25 08:23] ChenBo2333 commented on #1126
Reading symbols from ./app/nvmf_tgt/nvmf_tgt...
(gdb) core-file /tmp/core-reactor_0-11-0-0-23230-1577290566
warning: core file may not match specified executable file.
[New LWP 23230]
[New LWP 23234]
[New LWP 23232]
[New LWP 23233]
[New LWP 23235]
[New LWP 23236]
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib64/libthread_db.so.1".
warning: Loadable section ".no

[2019-12-25 10:46] axiqia opened #1127 "Does SPDK vhost-user block support reconnect or restart?"
hi, folks!

Does SPDK vhost-user block support reconnect or restart? And is there any mechanism to deal with IO request consistency if it supports?

For example, SPDK crash or need to restart for some reason. I didn't find any document about SPDK reconnect.

I only found  DPDK support reconnect [here](https://doc.dpdk.org/dts/test_plans/pvp_vhost_user_reconnect_test_plan.html)

Any reply will be a

[2019-12-26 01:21] changpe1 commented on #1127
@axiqia I believe the patch here https://review.gerrithub.io/c/spdk/spdk/+/471235/7 can meet your requirement, we will enable this feature with SPDK 20.01 release.

[2019-12-26 03:03] yidong0635 commented on #1126
more details:
#0  rte_mempool_default_cache (lcore_id=0, mp=0x0) at /home/chenbo/spdk/dpdk/build/include/rte_mempool.h:1182
#1  rte_mempool_get_bulk (n=1024, obj_table=0x7ffc32e92db0, mp=0x0) at /home/chenbo/spdk/dpdk/build/include/rte_mempool.h:1457
#2  spdk_mempool_get_bulk (mp=0x0, ele_arr=0x7ffc32e92db0, count=1024) at env.c:279
#3  0x000000000049b741 in spdk_thread_create (name=name@entry=0x5

[2019-12-26 05:31] Comphix commented on #1126
Thanks.

Looks like there is no memory allocated.

By the way, I am looking at the log file and it is reporting same error

 21:24:45       # /home/chenbo/spdk/scripts/rpc.py load_subsystem_config
app.c: 543:spdk_app_setup_trace: *NOTICE*: Tracepoint Group Mask 0xFFFF specified.
app.c: 544:spdk_app_setup_trace: *NOTICE*: Use 'spdk_trace -s nvmf -i 0' to capture a snapshot of events at runtime.
app

[2019-12-26 05:39] yidong0635 commented on #1126
@Comphix  no special configuration,
try to add this to dpdk:
diff --git a/lib/librte_mempool/rte_mempool.c b/lib/librte_mempool/rte_mempool.c
index 7260ce0be..001b0802b 100644
--- a/lib/librte_mempool/rte_mempool.c
+++ b/lib/librte_mempool/rte_mempool.c
@@ -972,6 +972,8 @@ rte_mempool_avail_count(const struct rte_mempool *mp)

        count = rte_mempool_ops_get_count(mp);

+       if(mp == NULL)

[2019-12-26 05:51] axiqia commented on #1127
@changpe1  Thank you. Great job. Looking forward to this new feature.

[2019-12-26 05:51] #1127 closed

[2019-12-26 07:54] Comphix commented on #1126
Thanks Yidong. I will take a further look. So far I could reproduce it locally for this issue.

[2019-12-26 07:58] ywbgithub opened #1128 "an question about file "examples/bdev/hello_world/hello_bdev.c""
In the file ""examples/bdev/hello_world/hello_bdev.c"",  the function  hello_start() calls ""	hello_context->bdev_io_channel = spdk_bdev_get_io_channel(hello_context->bdev_desc)“”。 Is that only one struct spdk_io_channel  created ? Then is there only one io queue?

[2019-12-26 08:19] Comphix commented on #1126
Please have a try with below patch https://review.gerrithub.io/c/spdk/spdk/+/478849

It shall exit normally when failed to allocate memory.

[2019-12-26 08:20] Comphix commented on #1126
instead of hitting the core dump of NULL pointer

[2019-12-26 14:52] Seth5141 commented on #1110
Yes, it occurred on the nvmf_phy_autotest. Here is the link to the test. https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52005.html

[2019-12-26 14:54] Seth5141 commented on #1110
Change has been merged to master

[2019-12-26 14:54] #1110 closed

[2019-12-26 22:53] shuhei-matsumoto commented on #1096
@Seth5141

I'm working on refining bdevperf now, and I'm seeing the following intermittent issues.

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/54280/archive/nvmf_phy_autotest/index.html

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/54328/archive/nvmf_phy_autotest/index.html

Will you take a look at the log and will you share your idea about wha

[2019-12-27 05:07] shuhei-matsumoto commented on #1096
Hi @Seth5141

I changed only spdk_event_call to spdk_for_each_channel (spdk_thread_send_msg) in bdevperf but I found that this change caused frequent failures for some unknown reason.
So please ignore the last my comment. It was not related with this issue.

[2019-12-27 06:55] bharatpotnuri commented on #1089
Thanks for the commit @shuhei-matsumoto.
closing out the issue

[2019-12-27 06:55] #1089 closed

[2019-12-27 15:02] ak-gh commented on #1096
On Fri, Dec 27, 2019 at 8:07 AM shuhei-matsumoto <notifications@github.com>
wrote:

I believe it might be related, so please review
https://review.gerrithub.io/c/spdk/spdk/+/478903.

Regards,
Andrey

[2019-12-27 17:24] spdkci commented on #1072
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_54413.html

[2019-12-27 17:29] spdkci commented on #1007
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_54410.html

[2019-12-27 18:01] spdkci commented on #1072
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_54417.html

[2019-12-27 18:37] spdkci commented on #1072
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_54351.html

[2019-12-27 21:17] shuhei-matsumoto commented on #1096
Hi @ak-gh

Thank you for the patch.
I was wrong that I thought the issue I have seen was existing but knew that I created it by my patches. So I think we should move from here to gerrithub.

I think your idea is similar with Jin's https://github.com/spdk/spdk/tree/master/examples/nvmf/nvmf and patch series from https://review.gerrithub.io/c/spdk/spdk/+/468657/21.

On the other hand, what I want to

[2019-12-27 21:26] shuhei-matsumoto commented on #1096
On the other hand, the issue I had seen was gone by inserting 1 second sleep after bdev perf ran. I will ask experts their ideas

[2019-12-28 07:09] shuhei-matsumoto commented on #1096
Hi @ak-gh

I believe your patch and my patches will be able to work well together..
I feel your patch will match https://trello.com/c/SeKQ0IFU/145-remove-assumption-from-applications-that-spdkthreads-pre-exist-maciek-tomek-vitaliy .
On the other hand, my patches will try to use more thread APIs for bdevperf.
I want to correct my previous comment.

-Shuhei

[2019-12-28 08:11] ak-gh commented on #1096
Hi Shuhei,

I have no problem with merging patches if you wish. Please feel free to
combine mine and yours as you see fit.

Regards,
Andrey

On Sat, Dec 28, 2019, 10:09 shuhei-matsumoto <notifications@github.com>
wrote:

[2019-12-30 04:52] optimistyzy commented on #1128
@ywbgithub  Yes, get the IO channel on the current thread.  In real usage, if this function called second time on the same SPDK thread, it will reuse the same I/O channel.   Generally, IO channel can be thought as the mapping result from the pair  <io_device,  spdk thread>. It means the same io device can have its own channel on different SPDK threads, But the channel the io_device on the same thr

[2019-12-30 07:17] spdkci commented on #1072
Another instance of this failure. Reported by @yidong0635. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_54458.html

[2019-12-30 07:53] spdkci commented on #1072
Another instance of this failure. Reported by @yidong0635. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_54459.html

[2019-12-30 11:38] spdkci commented on #1072
Another instance of this failure. Reported by @Maciej-Szwed. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_54166.html

[2019-12-30 13:10] ezsushy commented on #1101
Hey,
I noticed that I get two different faults, segmentation fault, and arithmetic fault.
here is the backtrace for both of them.

**First fault:**
Thread 3 "lcore-slave-1" received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7ffff5034700 (LWP 6327)]
0x000055555555e490 in task_complete (task=0x7fffe0016720) at perf.c:919
919             entry = ns_ctx->entry;
(gdb) thread apply all

[2019-12-31 02:20] optimistyzy commented on #1128
@ywbgithub will close this issue. If there is any other question related this, you can re-open this issue.

[2019-12-31 02:20] #1128 closed

[2019-12-31 05:52] optimistyzy commented on #1126
https://review.gerrithub.io/c/spdk/spdk/+/478849 is merged, and will close this issue.

[2019-12-31 06:01] ChenBo2333 commented on #1126
@optimistyzy This patch just resolved core dumped issue , and another issue hasn't resolved. I think it should reopen.

[2019-12-31 06:34] optimistyzy commented on #1126
due to the request of @ChenBo2333

[2019-12-31 09:55] spdkci commented on #1072
Another instance of this failure. Reported by @Maciej-Szwed. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_54580.html

[2020-01-02 04:28] Comphix commented on #1126
Thanks Bo.

Could you give more information on the other issue?

"one is test scripts recognize this NIC as a RDMA NIC and test failed."

[2020-01-02 05:37] ChenBo2333 commented on #1126
The details of error information are given in "Current Behavior".

[2020-01-02 15:39] jimharris commented on #1124
Hi @benlwalker @Seth5141 - do you have any thoughts on this proposal from Alexey?

[2020-01-02 17:43] Seth5141 commented on #1124
@AlekseyMarchuk I think that #1 sounds perfectly reasonable. We'll just have to make sure that we do extra field validation when parsing that value for the RDMA transport since we also use it in PCIe as a generic 8 bit value and you can't exceed 7 in the RDMA transport.
I also agree that using the default of 4 shouldn't affect anything negatively. My only concern was with SRQ, but after refreshing

[2020-01-02 18:59] peluse commented on #946
@xiaoxichen @dong-liuliu so I made a little progress, went to a whole different machine and got better results, I no longer get the invalid parm problem so must be something in my env on that system.  However, in just trying to add the hugepages I get this:

peluse@pels3:~$ sudo docker run hello-world
docker: Error response from daemon: OCI runtime create failed: failed to launch qemu: exit status

[2020-01-02 21:42] peluse commented on #946
@xiaoxichen @dong-liuliu more progress, I think. I could not get beyond that error above to hardocded the hugepages info as mentioned however @xiaoxichen you pointed me to the struct definitions, I modified where I thought the values were used in

	modified:   virtcontainers/factory/template/template.go
	modified:   virtcontainers/qemu.go

and it seemed to at least start w/o error.  Then I added t

[2020-01-03 06:51] xiaoxichen commented on #946
I use centos:latest

[2020-01-03 15:01] peluse commented on #946
So, more progress. The hardcoded values I was using must have been incomplete.  When I make the following changes to the config file I can boot into an image with the only visible errors being the translation errors from SPDK. I'll look more into them shortly, I no longer see the alignment error message though, just a generic failure message.

enable_hugepages = true

# Enable file based guest mem

[2020-01-03 15:23] peluse commented on #946
The first failure is in spdk_mem_map_translate() from:
          if (spdk_unlikely(vaddr & ~MASK_256TB))
returning map->default_translation which is 0.  Subsequent failures from from the next check in the same function:
         if (spdk_unlikely(!map_1gb))

I'll chat with others who know this code better than I do and see what they think...

[2020-01-03 15:40] spdkci commented on #1114
Another instance of this failure. Reported by @benlwalker. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_54716.html

[2020-01-03 16:16] Seth5141 commented on #1096
@shuhei-matsumoto I believe that your changes are fine. After looking through them, I believe that your changes simply changed the timing on the initiator side. The qpair cleanup on the target side is asynchronous so we have always been racing to clean up the old qpairs before initiating new connections from the second instance of bdevperf. The only reason the tests fail is because bdevperf doesn'

[2020-01-03 17:09] jkryl opened #1129 "nvmf target stops to listen when subsystem is destroyed"
This happens when running the latest bits from v19.10.x branch.
There is a spdk_nvmf_tgt_listen() which opens a port for specified
transport (trid) which opens possibility to accept new connections
from initiators. However there is no counterpart of this function
(i.e. spdk_nvmf_tgt_stop_listen()), which would stop listening.
Instead the current code relies on spdk_nvmf_subsystem_destroy()
to stop

[2020-01-03 17:19] benlwalker commented on #1129
Agreed. There probably needs to be an RPC interface to explicitly create and destroy a listener as well. Right now the RPCs do it automatically when listeners are added to subsystems, but that should be a simpler access control operation instead (just like setting the allowed hosts).

[2020-01-03 17:26] jkryl commented on #1129
@benlwalker : Thanks for your response! I agree that we will likely need a new RPC method. I will have a look at my current fix next week and see if I can improve it. That is: the new rpc method and implicitly call stop listener when the target is destroyed.

[2020-01-06 02:53] shuhei-matsumoto commented on #1096
I saw #3 case for TCP transport.

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/54821/archive/nvmf_tcp_autotest/build.log

in test/nvmf/target/shutdown.sh:89 -> nvmf_shutdown_tc3()
     ...
nvme_qpair.c: 475:spdk_nvme_qpair_process_completions: *ERROR*: CQ error, abort requests after transport retry counter exceeded
nvme_ctrlr.c: 677:nvme_ctrlr_fail: *ERROR*: ctrlr 127.0.0

[2020-01-06 02:56] spdkci commented on #1096
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_54821.html

[2020-01-06 06:36] dong-liuliu commented on #946
Hi， @peluse
As I can see, the issues for Kata and SPDK for Pmem are  *memory alignment  and *memory translation.
In most cases,  the pmem mapped in Kata are memory aligned. So  error "invalid paddr 0x73f9fd000 - must be 2MB aligned" occurs sometimes. And we can add alignment parameter to it as Changpeng suggested.
After Kata is booted, Kata can work well with SPDK. But only has some risk if Pmem p

[2020-01-06 08:06] Comphix commented on #1126
Are you saying to recognize as the RDMA NIC in the "Current Behavior"?

Based on below code piece:
~~
function nvmftestinit()
{
	if [ -z $TEST_TRANSPORT ]; then
		echo "transport not specified - use --transport= to specify"
		return 1
	fi
	if [ "$TEST_MODE" == "iso" ]; then
		$rootdir/scripts/setup.sh
		if [ "$TEST_TRANSPORT" == "rdma" ]; then
			rdma_device_init
		fi
	fi
......
~~

If the script

[2020-01-06 08:27] ChenBo2333 commented on #1126
run `/root/spdk/examples/nvme/perf/perf -q 128 -o 262144 -w randrw -M 50 -t 2 -r 'trtype:rdma adrfam:IPv4 traddr:10.67.111.101 trsvcid:4420'` failed.

[2020-01-06 09:07] Comphix commented on #1126
Are you talking about below command in the perf.sh

$rootdir/examples/nvme/perf/perf -q 128 -o 262144 -w randrw -M 50 -t 2 -r "trtype:$TEST_TRANSPORT adrfam:IPv4 traddr:$NVMF_FIRST_TARGET_IP trsvcid:$NVMF_PORT"

In this case, it is regarding the "NVMF_FIRST_TARGET_IP" parameter.

Based on the below function (in the common.sh), it sets to different value based on the transport type.

function nvmft

[2020-01-06 12:22] shuhei-matsumoto commented on #1096
Thank you @Seth5141 for your analysis!

[2020-01-06 13:49] spdkci commented on #1092
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_54872.html

[2020-01-06 16:19] peluse commented on #946
@xiaoxichen @dong-liuliu Thanks! It seems your observations are consistent with mine and Xioxichen's with the exception of "After Kata is booted, Kata can work well with SPDK".  Neither of us were ale to see the SPDK vhost target after booting.  Can you expand on your comment?

[2020-01-06 21:34] peluse opened #1131 "Build timeouts on GP systems in CI"
On a patch unrelated to nvme: https://review.gerrithub.io/c/spdk/spdk/+/472209

[2020-01-06 21:35] peluse commented on #1131
also saw this on another patch earlier today at https://review.gerrithub.io/c/spdk/spdk/+/478384/12

[2020-01-06 22:10] peluse commented on #944
latest: https://review.gerrithub.io/c/spdk/spdk/+/472209

[2020-01-06 22:25] peluse commented on #1118
Just curious if you tried this with vhost and the VM out of the picture?  So just fio in c/s mode w/SPDK on bare metal

[2020-01-06 22:31] peluse commented on #1103
The last log appears to be a make timeout - not another example of the raid timeout

[2020-01-06 22:41] peluse commented on #1057
@liang2yan I assume you mean that https://linux.die.net/man/8/ledctl works on one but not on the other?  If so then it sounds like this can be closed.

[2020-01-06 22:43] peluse commented on #1038
@Donaim did you ever get a chance to look at this?

[2020-01-06 23:19] xiaoxichen commented on #946
I can see the SPDK Vhost target in `lsblk` however not in "/dev/sdX" and cannot do any IO. .

[2020-01-07 01:28] dong-liuliu commented on #946
@peluse @xiaoxichen  A qemu wrapper with SPDK vhost-user target can only attach device to sandbox,  not container. And It requires cooperation between several Kata components to get vhost-user-blk device work in contianer. So both you and Xiaoxi only got Kata booted, but didn't see the device.
It seems the related code in Kata is incomplete for that requirement. so what I've tried to do is to crea

[2020-01-07 01:49] ChenBo2333 commented on #1126
I use these commands:
./configure --> make -->./test/nvmf/host/perf.sh --transport=tcp
The result have no error.

[2020-01-07 02:42] Comphix commented on #1126
So in this case, it looks like need to first check whether there is valid RDMA nic on the server and then decide to use the RDMA or TCP transport.

[2020-01-07 02:56] optimistyzy commented on #1126
@ChenBo2333 Hi Bo, I think that you did not configure the NIC correctly, so the test fail, it seem the environment issue. Can you run the test using a different NIC (e.g., MLX's CX4 or 5). And you also need to run ibv ping pang test first to make sure that the RNIC is really working.

[2020-01-07 03:02] ChenBo2333 commented on #1126
@optimistyzy  recognizing RDMA NIC is automatically configure by script.

[2020-01-07 03:50] optimistyzy commented on #1126
But you use new Intel's NIC. Can you confirm that that this NIC is officially released or supported? If not, I just use Mlx's NIC since it is shipped.

[2020-01-07 05:23] optimistyzy commented on #1126
@ChenBo2333 @Comphix Close this issue. Confirmed with the tester, we used an experimental NIC, which does not have the matched driver in the system. And we did not detect such NIC in our script in order to load the proper RDMA driver for this NIC. So close this issue. When this NIC is really shipped, we should revise our script (/test/nvmf/common.sh) to add the support in "detect_pci_nics" functio

[2020-01-07 05:23] #1126 closed

[2020-01-07 05:25] optimistyzy commented on #1123
@ufo19890607 Any update on this?

[2020-01-07 05:50] ufo19890607 commented on #1123
I will try to reproduce this issue with spdk-19.10 version recently.

[2020-01-07 12:08] zlsh007 opened #1132 "spdk vhost performance issues"
Hi，
Recently, I used spdk19.07.1 to test the performance of the vhost blk device, and found that the performance of sequential reading under the condition of 1 thread in the virtual machine is relatively low, and the latest master version has the same phenomenon. But there is no problem using 19.04.x

19.07.1
spdk：85c0e1e841b9901387bd3cdf2c429669078e5e06

19.04.x
spdk: 31b5b6e1e62879d8c3cc69c79744

[2020-01-07 14:18] Comphix commented on #739
Patch has been merged. Close this issue at this moment. Please feel free to reopen it if necessary.

[2020-01-07 15:05] #998 closed

[2020-01-07 15:05] pawelkax commented on #998
Looks like patch from #994 solved this issue. Don't see this assert error anymore.

[2020-01-07 19:28] jimharris commented on #1131
I'm seeing similar issues on other patches.  It's not always nvme_phy_autotest - it seems more specific to the GP* systems (both of these were GP17, I have one on GP16).  So I'm going to change the title on this to cover the broader case now that we have some more data.

[2020-01-07 19:52] jimharris commented on #1131
Looking at the internal Jenkins log for Paul's 478384 failure, we see this:

19:01:46   LINK test/app/bdev_svc/bdev_svc
19:01:46   LINK examples/bdev/fio_plugin/fio_plugin
19:01:49   LINK test/nvme/deallocated_value/deallocated_value
19:09:51 Build timed out (after 10 minutes). Marking the build as failed.
19:09:51 Build was aborted
19:09:51 [PostBuildScript] - Executing post build scripts.
19:09:

[2020-01-07 19:57] jimharris commented on #1131
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55014.html

[2020-01-07 20:04] jimharris opened #1133 "blobfs use-after-free in cache_free_buffers (intermittent)"
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_54994.html
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/54994/archive/BlobFS_autotest/rocksdb/writesync_db_bench.txt

[2020-01-07 20:05] spdkci commented on #1133
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_54994.html

[2020-01-07 20:08] spdkci commented on #1072
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_54992.html

[2020-01-07 20:09] jimharris commented on #1131
This one was originally filed against #1072.  Moving it here instead.

Another instance of this failure. Reported by @Maciej-Szwed. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_54580.html

[2020-01-07 20:10] jimharris commented on #1131
Also originally from #1072
Another instance of this failure. Reported by @Maciej-Szwed. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_54166.html

[2020-01-07 23:19] spdkci commented on #1007
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55050.html

[2020-01-08 01:42] liang2yan commented on #1132
@zlsh007 , thanks for reporting issue. I will try to reproduce this issue in my env.

[2020-01-08 01:55] changpe1 commented on #1132
@zlsh007 Can you also list your NVMe drive's information here, you can put the identify output here for your drive, is is the same drive when testing different SPDK versions ?

[2020-01-08 02:04] zlsh007 commented on #1132
@changpe1
Yes, the only difference is the version of spdk.

sudo examples/nvme/identify/identify
Starting SPDK v19.07.1 / DPDK 19.05.0 initialization...
[ DPDK EAL parameters: identify --no-shconf -c 0x1 -n 1 -m 0 --log-level=lib.eal:6 --log-level=lib.cryptodev:5 --log-level=user1:6 --base-virtaddr=0x200000000000 --match-allocations --file-prefix=spdk_pid233566 ]
EAL: No available hugepages report

[2020-01-08 02:09] spdkci commented on #1131
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55072.html

[2020-01-08 05:01] yidong0635 opened #1134 "per-patch test failed due to run_test "nvme" test/nvme/nvme.sh"
log :https://d3uor3w1civ2bt.cloudfront.net/results/autotest-per-patch/builds/1548/archive/nvme-phy-autotest/build.log
[code]

[2020-01-08 05:04] yidong0635 commented on #1133
try to fix this:  RFC
https://review.gerrithub.io/c/spdk/spdk/+/479611.

[2020-01-08 06:11] spdkci commented on #1096
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55102.html

[2020-01-08 07:02] changpe1 commented on #1133
@yidong0635 May need to investigate the thread module in Rocksdb, is the file variable also be freed?

[2020-01-08 07:11] yidong0635 commented on #1133
@changpe1 hit the case  file is not NULL but file->tree is NULL.
and file->tree is allocated following with file.

[2020-01-08 07:13] changpe1 commented on #1097
Patch has been merged, I'm going to close this issue for now.

[2020-01-08 07:13] #1097 closed

[2020-01-08 09:12] spdkci commented on #1007
Another instance of this failure. Reported by @tomzawadzki. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55086.html

[2020-01-08 09:34] Comphix commented on #1134
From the log, looks like the reset application is started as secondary process while does not find the memzone created by primary process.

Could this relate to some memory configuration?

Current user memlock limit: 16 MB

This is the maximum amount of memory you will be
able to use with DPDK and VFIO if run as current user.
To change this, please adjust limits.conf memlock limit for current user

[2020-01-08 10:42] karlatec commented on #1118
@peluse TBH - can't remember :) I'm pretty sure I did. Can try again, but I think it will have the same result as doing this scenario inside a VM

[2020-01-08 10:52] spdkci commented on #1007
Another instance of this failure. Reported by @pawelkax. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55062.html

[2020-01-08 12:17] tomzawadzki opened #1135 "vhost nightly tests fail due to vtophys translation"
Vhost nightly tests fail on step "nightly_vhost_integrity_blk". This started between commits 80da9548 and 801e76d8. Most likely candidate that introduced it is dd7cd80c.

All of the following logs occurred on fedora_phy_nightly_1.
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-nightly_1339.html
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-nightly_1340.html
https://dqtibwq

[2020-01-08 12:47] spdkci commented on #1007
Another instance of this failure. Reported by @pawelkax. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55060.html

[2020-01-08 14:29] spdkci commented on #1072
Another instance of this failure. Reported by @Maciej-Szwed. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55187.html

[2020-01-08 16:02] Donaim commented on #1038
@peluse I didn't spend much time on this because it seems that this behaviour was not impacting the host other than by printing a warning, but I will investigate more this week and try to fix it

[2020-01-08 16:06] jimharris commented on #1133
Hi @yidong0635,

I think the issue is:

Thread A - alloc_cache_memory_buffer() - picks file A for freeing buffers (lines 2008-2016).
Thread B - spdk_fs_delete_file_async for file A - calls cache_free_buffers() which acquires lock for file A
Thread A - alloc_cache_memory_buffer() - calls cache_free_buffers but is blocked on file A lock
Thread B - cache_free_buffers() frees all of the cache buffers,

[2020-01-08 16:43] jimharris commented on #1133
Thinking about this some more, I think the better solution is to do all cache buffer reclaim from the polled mode thread.  We can start a poller which checks how many buffers are available.  We try to keep it above some TBD count.  When it gets below that count, we try to free buffers using the same order as currently in alloc_cache_memory_buffer().

To start, let's do a 1ms poller period.  Try to

[2020-01-08 17:11] spdkci commented on #1072
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55208.html

[2020-01-08 17:11] jimharris opened #1136 "QoS test fails on FreeBSD"
Several of these seen in the test pool - will post links shortly:

  18:59:01	# '[' IOPS = IOPS ']'
   18:59:01	# echo '{' '"tick_rate":' 2494212256, '"bdevs":' '[' '{' '"name":' '"Null_0",' '"bytes_read":' 104226033664, '"num_read_ops":' 25445802, '"bytes_written":' 0, '"num_write_ops":' 0, '"bytes_unmapped":' 0, '"num_unmap_ops":' 0, '"read_latency_ticks":' 7353991675588, '"write_latency_ticks":

[2020-01-08 17:13] spdkci commented on #1136
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55207.html

[2020-01-08 17:14] spdkci commented on #1136
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55206.html

[2020-01-08 17:15] jimharris opened #1137 "VMs timing out due to extremely long build times"
This is happening on a lot of test runs.  A VM will fail somewhere random during the test due to hitting the max amount of time.  When you look at the time stamps, you'll see that the build itself is taking 8-10 minutes.

Links coming...

[2020-01-08 17:16] spdkci commented on #1137
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55203.html

[2020-01-08 17:17] spdkci commented on #1137
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55202.html

[2020-01-08 17:20] spdkci commented on #1096
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55191.html

[2020-01-08 17:21] jimharris commented on #1131
(Moved from #1072)
Another instance of this failure. Reported by @Maciej-Szwed. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55187.html

[2020-01-08 17:23] spdkci commented on #1053
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55183.html

[2020-01-08 17:26] spdkci commented on #1137
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55145.html

[2020-01-08 17:30] spdkci commented on #1137
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55070.html

[2020-01-08 17:30] spdkci commented on #1137
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55067.html

[2020-01-08 18:18] spdkci commented on #1137
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55068.html

[2020-01-08 19:20] Seth5141 commented on #1131
Was this one on accident? It appears to be pointing to an ubuntu VM.

[2020-01-08 19:54] jimharris commented on #1131
Oops.  Should have been #1137.  I had too many issue numbers in my head.  :)

I'll fix it.

[2020-01-08 19:55] jimharris commented on #1137
(Moved from #1131)
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55072.html

[2020-01-08 20:58] jimharris commented on #1111
Patch merged.

[2020-01-08 20:58] #1111 closed

[2020-01-08 21:03] jimharris commented on #1061
Patches were included in 19.10.1 release.

[2020-01-08 21:03] #1061 closed

[2020-01-08 21:05] jimharris commented on #1114
Closing this issue.  This looks like it was a temporary problem with the ubuntu VM that hasn't been seen again.

[2020-01-08 21:05] #1114 closed

[2020-01-08 21:09] jimharris commented on #1103
Agreed.  This looks more like the recently submitted #1137.

Adding bug scrub label.  I haven't seen this issue occur since the original submission, so we may want to consider closing this issue, especially since it's only seen on a very old distribution.

[2020-01-08 21:16] jimharris commented on #1080
Hi @ywbgithub,

Please see the comment from @glodfish-zg.  My guess is that this SSD is not reporting itself as an NVMe SSD (class/subclass/PI = 0x010802) so SPDK does not attach to it.

You could try modifying lib/env_dpdk/pci_nvme.c, adding a new entry in the nvme_pci_driver_id array with the vendor/device ID for your NVMe SSD.

-Jim

[2020-01-08 22:45] spdkci commented on #1007
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55271.html

[2020-01-08 23:21] spdkci commented on #1007
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55274.html

[2020-01-09 00:02] yidong0635 commented on #1133
@jimharris  I'm glad to do this, will ask for you if there're any questions.

[2020-01-09 03:25] changpe1 commented on #1107
Patch has been merged, I'm going to close this issue for now.

[2020-01-09 03:25] #1107 closed

[2020-01-09 04:05] jimharris commented on #1134
Starting SPDK v20.01-pre git sha1 ba0c42eaac / DPDK 19.11.0 initialization...
[ DPDK EAL parameters: stub -c 0xF -m 4096 --log-level=lib.eal:6 --log-level=lib.cryptodev:5 --log-level=user1:6 --base-virtaddr=0x200000000000 --match-allocations --file-prefix=spdk0 --proc-type=auto ]
Starting SPDK v20.01-pre git sha1 ba0c42eaac / DPDK 19.11.0 initialization...
[ DPDK EAL parameters: reset -c 0x1 --log

[2020-01-09 04:06] jimharris commented on #1133
Bug scrub: removing intermittent failure since this is a confirmed bug.

[2020-01-09 04:13] jimharris commented on #1125
Bug scrub: patch looks like right approach - it does look like there was an even more basic bug in the current code, where status.done flag doesn't get explicitly cleared before submitting the command

[2020-01-09 04:16] jimharris commented on #1124
Bug scrub: approach seems reasonable, but there are some questions still from @Seth5141 on the math

[2020-01-09 04:18] jimharris commented on #1118
Bug scrub: @jimharris will take ownership on this - may not get to it until after the 20.01 release though

I just need to build fio from scratch and walk through how it calculates the CRCs to see how the SPDK plugin affects it.

[2020-01-09 04:21] jimharris commented on #1103
Closing since we haven't seen this issue in over 3 weeks and is only seen on an older distribution.  We can reopen if it pops up again.

[2020-01-09 04:24] jimharris commented on #1129
Bug scrub: @jkryl - please post a link to your patch here once it's ready.  We still have time to get it in for the 20.01 release (code freeze in two weeks).

[2020-01-09 04:26] jimharris commented on #906
Bug scrub: @tomzawadzki is there any update on this issue?  Need any help?

[2020-01-09 04:31] jimharris commented on #527
Bug scrub: @cockroach1136 does the fix for #1097 fix this issue?

[2020-01-09 04:32] yidong0635 commented on #1134
patch : https://review.gerrithub.io/c/spdk/spdk/+/479771.

[2020-01-09 04:34] jimharris commented on #869
Bug scrub: @tomzawadzki - any update on this?  let's discuss in next bug scrub

[2020-01-09 04:35] jimharris commented on #691
Bug scrub: let's discuss in next Euro bug scrub with @tomzawadzki

[2020-01-09 05:13] jimharris commented on #1103
Hilarious - just after closing this, I find this issue hit one of my patches.  Link will post shortly.

[2020-01-09 05:14] spdkci commented on #1103
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55298.html

[2020-01-09 06:00] Comphix commented on #1136
Looking at this issue

[2020-01-09 06:38] Comphix commented on #1136
After reading three instances of failure, it looks like not using the latest SPDK code where we use ticks for more accuracy of calculation of per second IOPS or BW instead of using the fixed 5 seconds.

Logs as below where we add a new member for the bdev_get_iostat" API.

   08:42:33	# /var/jenkins/workspace/Other_systems/freebsd_autotest/spdk/scripts/rpc.py bdev_get_iostat -b Null_1
  08:42:33	#

[2020-01-09 06:41] Comphix commented on #1136
Remain the open of this issue for a short time and will close it later.

[2020-01-09 07:08] shuhei-matsumoto commented on #958
Hi @jimharris @ZiyeYang ,

Calsoft test case failed.

Test case tc_login_29_1 failed.

Could you get any information?

https://review.gerrithub.io/c/spdk/spdk/+/473000
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/55347/archive/RBD_autotest/index.html

Thanks,
Shuhei

[2020-01-09 07:38] spdkci commented on #1096
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55352.html

[2020-01-09 10:50] ufo19890607 opened #1138 "spdk_vhost_blk_construct fail"
Hi guys!
I want to start spdk with my certain vhost.conf, but it failed since NVMe SSD could not be found.

OS: centos7.4
kernel version: 3.10.0-693.el7.x86_64
SPDK version: v19.10-pre
commit: b422cee886c17a38222a020256bc2477796e7102
DPDK version: 19.11.0-rc0
vmd: enabled

I've exported PCI_WHITELIST to scripts/setup.sh, and below is the output of lspci
[code]

However, spdk_vhost still cannot run

[2020-01-09 10:56] liang2yan commented on #1138
@ufo19890607 , SPDK VMD driver need to be enabled before configuring nvme bdev. You can add following content in your vhost.conf and try again.
[VMD]
Enable True

[2020-01-09 11:16] pawelkax opened #1139 "bdevperf assert error"
I try to run test from patch https://review.gerrithub.io/c/spdk/spdk/+/464450:
./test/spdk//hotplug/virtio_hotremove.sh

Test produces assert:
bdevperf: bdevperf.c:388: bdevperf_construct_target: Assertion `g_next_tg != NULL' failed.

There is a link to logs from TP https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/55019/archive/vhost_autotest/build.log

[2020-01-09 11:44] pawelkax opened #1140 "ASAN error when closing bdevperf"
Try to run test from patch https://review.gerrithub.io/c/spdk/spdk/+/464450:
./test/spdk//hotplug/virtio_hotremove.sh

It produces memory error. Link to logs with error:
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/55019/archive/vhost_autotest/build.log

[2020-01-09 12:42] ufo19890607 commented on #1138
Thank you!

[2020-01-09 12:42] #1138 closed

[2020-01-09 13:51] AlekseyMarchuk commented on #1101
@ezsushy,

Can you please share core dumps and binary file?

[2020-01-09 13:58] spdkci commented on #1072
Another instance of this failure. Reported by @Maciej-Szwed. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55410.html

[2020-01-09 14:48] jimharris commented on #1136
@Comphix is right.  Closing this issue.  I've put a note on the patch series that it needs to be rebased (last time it was rebased was mid November).

[2020-01-09 16:21] jimharris commented on #1140
HI @pawelkax - could you simplify this test for now to get two separate reproductions (#1139 and #1140).  Currently this script is starting two bdevperfs in the background, one fails with the use-after-free, and then we can this assert on the other.  It's not clear how those are interacting.  Any work you can do to narrow down the test failures to a simpler reproduction scenario would be helpful.

[2020-01-09 16:21] jimharris commented on #1139
HI @pawelkax - could you simplify this test for now to get two separate reproductions (#1139 and #1140).  Currently this script is starting two bdevperfs in the background, one fails with the use-after-free, and then we can this assert on the other.  It's not clear how those are interacting.  Any work you can do to narrow down the test failures to a simpler reproduction scenario would be helpful.

[2020-01-09 16:50] spdkci commented on #1137
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55414.html

[2020-01-09 16:53] spdkci commented on #1137
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55429.html

[2020-01-09 17:30] pawelkax commented on #1139
Hi,
To reproduce assert, script virtio_hotremove.sh could look like:

[code]

[2020-01-09 17:41] jkryl commented on #1129
@jimharris : I submitted a patch to gerrithub for review.

I did not add any new rpc methods as I think that would not make sense in the current situation. I just changed the implementation of delete subsystem rpc method to preserve its original behavior. That is, `nvmf_delete_subsystem` rpc method still removes all listeners as before. `nvmf_subsystem_add_listener` and `nvmf_subsystem_remove_list

[2020-01-09 17:46] spdkci commented on #1137
Another instance of this failure. Reported by @peluse. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55065.html

[2020-01-09 21:34] shuhei-matsumoto commented on #1139
Hi @pawelkax @jimharris I'm looking at the issues, this and the next.

[2020-01-09 22:52] shuhei-matsumoto commented on #1139
@pawelkax @jimharris

Fine testing Pawel! I think I found the root cause.
Bdevperf starts a timer for each target. For normal cases, the timer is expired and unregistered, then shutdown bdevperf.
On the other hand,  for this test case, bdevperf detected error before expiring timer, and freed the target, and then started bdevperf shutdown.
However for the later case, we didn't unregister the timer.

[2020-01-09 23:10] shuhei-matsumoto commented on #1139
Sorry this comment is for ASAN. Root cause will be same. I will update the comment shortly later

[2020-01-09 23:54] peluse opened #1141 "iscsi filesystem test in CI: mkfs error Device or resource busy"
mkfs.xfs: cannot open /dev/sdb1: Device or resource busy

[2020-01-10 00:39] shuhei-matsumoto commented on #1139
I posted a patch to fix this issue. https://review.gerrithub.io/c/spdk/spdk/+/479912

The long patch series had contained the fix for this issue https://review.gerrithub.io/c/spdk/spdk/+/478780.

But I insert a patch dedicated to this issue.

I hope this would clarify the value of the patch series.

[2020-01-10 00:43] shuhei-matsumoto commented on #1140
I posted a patch to fix this issue. My patch series didn't have any fix for this issue https://review.gerrithub.io/c/spdk/spdk/+/479911/1. So set this to the top of the series.
Besides, I added the hashtag 20.01 to the Pawel's patch and included in my series. Pawel's patch will test my patches now.

[2020-01-10 01:24] cockroach1136 commented on #527
Hello jimharris,

       Thank you so much for paying attention to this issue.

But this issue still exists after fix #1097.  This issue seems not related to #1097.

We have tried to upgrade the linux kernel to 5.2.

 In kernel 5.2 version ,the UIO is not crashed, but this problem still the same.

The phenomenon is totally the same as we use VFIO.

So we think this issue maybe not related to VFIO

[2020-01-10 01:30] spdkci commented on #1069
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55528.html

[2020-01-10 01:37] shuhei-matsumoto commented on #1140
Please see https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/55529/archive/vhost_autotest/index.html.

The patch worked. I think we have to reset g_run_rc to 0 after returning g_run_rc to RPC sender because when we kick test by RPC, RPC should get error but application should exits normally.

[2020-01-10 01:37] shuhei-matsumoto commented on #1139
Please see https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/55529/archive/vhost_autotest/index.html.

The patch worked.

[2020-01-10 01:51] changpe1 commented on #1133
Talked with Yidong, I will fix this issue soon.

[2020-01-10 02:40] yangtianyu0706 opened #1142 "[spdk-vhost] spdk_mem_register failed"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

1. When kernel  fix CVE-2019-3882(vfio/type1: Limit DMA mappings per container)
2. BIOS & kernel iommu on
3. Start 4U256G vm with vhost-usre-blk and nvme namespace as bdev

## Expected Behavior

Qemu & SPDK no errors and waring

##

[2020-01-10 02:45] yangtianyu0706 commented on #1142
We can modify vfio_iommu_type1.ko parameter dma_entry_limit to U32_MAX. But I don't think this is a good solution.

[2020-01-10 02:45] changpe1 commented on #1142
Actually we've fix the issue for a while, have you tried the latest SPDK version?

[2020-01-10 02:55] yangtianyu0706 commented on #1142
Can you help me list the patches? Thx.

[2020-01-10 03:00] changpe1 commented on #1142
commit be04cfc3423

[2020-01-10 03:04] yangtianyu0706 commented on #1142
Thanks~

[2020-01-10 03:24] shuhei-matsumoto commented on #1139
Hi @pawelkax

It looks that I changed the behavior by recent patches.
I'm investigating it now.
Sorry for inconvenience.

-Shuhei

[2020-01-10 03:52] shuhei-matsumoto commented on #1139
Hi @pawelkax

I traced the discussion on gerrit for your test patch and it looked that your patch is in progress.
So I skipped your patch in my series for now.

After the my patches, the behavior of bdevperf is
*  when we start I/O on bdevperf by RPC, bdevperf still exists even after the I/O completes.
*  when we start I/O on bdevperf by RPC, if the I/O fails, RPC returns error but bdevperf applic

[2020-01-10 04:00] shuhei-matsumoto commented on #1139
Hi All,

Two cirtical errors reported by this and next were fixed.
I added additional fix for return code when we start I/O by RPC for bdevperf.
https://review.gerrithub.io/c/spdk/spdk/+/479914
Managing return code is complex but I hope it is reasonable for you.
Of course I'm open to any idea :)

Thanks,
Shuhei

[2020-01-10 04:54] Comphix commented on #1142
@yangtianyu0706 , please check and add comment whether the patch fixed your issue. Thanks, Gang

[2020-01-10 06:13] yangtianyu0706 commented on #1142
Fixed! Thanks all

[2020-01-10 06:13] #1142 closed

[2020-01-10 07:24] spdkci commented on #1007
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55478.html

[2020-01-10 07:28] spdkci commented on #1096
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55438.html

[2020-01-10 12:38] pawelkax commented on #1139
Hi @shuhei-matsumoto
I updated hotremove test. I only changed checking exit code of bdevperf. Now it should end with success.
Tests are working now. Should patch with tests be rebased on top of your series?
I think #1133 and #1140 were fixed by your patches.

[2020-01-10 13:25] spdkci commented on #1072
Another instance of this failure. Reported by @Maciej-Szwed. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55608.html

[2020-01-10 15:34] jimharris commented on #829
I think this has been fixed in v5.4.  This commit explicitly mentions this UNH test:

https://github.com/torvalds/linux/commit/65e68edce0db433aa0c2b26d7dc14fbbbeb89fbb

@KariukiJ - can you retry the UNH tests on a system with Linux 5.4 kernel?

[2020-01-10 17:11] Donaim commented on #1038
I did more research and comfirmed that this message does not impact behaviour, but it is a bug in DPDK rte_vhost code. I will submit a patch to DPDK shortly and update here. Don't think there is anything to do in SPDK code to prevent this message from showing up.

So the issue is function that accepts client messages using `recvmsg`: https://github.com/DPDK/dpdk/blob/a02b9406a8769247737b55dbfa50b6

[2020-01-10 20:40] shuhei-matsumoto commented on #1139
Hi @pawelkax

Thanks for updating your patch.

Yes rebasing is necessary.Appending yours to the end is too far from the fixes. I will insert your patch into in the middle of my patch series next week.

Thanks
Shuhei

[2020-01-10 22:35] spdkci commented on #1007
Another instance of this failure. Reported by @benlwalker. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55698.html

[2020-01-11 15:05] peluse opened #1143 "nvmf_example_test failes: spdk_nvmf_subsystem_set_state: Assertion `actual_old_state == expected_old_state' failed."
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context (Environment including OS version, SPDK version, etc.)

[2020-01-11 15:06] spdkci commented on #1143
Another instance of this failure. Reported by @peluse. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55724.html

[2020-01-11 15:07] spdkci commented on #1143
Another instance of this failure. Reported by @peluse. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55730.html

[2020-01-11 15:21] Seth5141 commented on #1143
This is broken on master. You will have to rebase on this change which fixes the big. https://review.gerrithub.io/c/spdk/spdk/+/480007

[2020-01-12 06:42] GaoBo1997 opened #1144 "Failed to restore FTL bdev using uuid"
## Expected Behavior

I open two command windows. One runs `./scripts/setup.sh` and
 `./app/spdk_tgt/spdk_tgt`, and another one runs the following commands:
[code]
It should restore metadata from the device and create bdev ftl successfully.
## Current Behavior

But the following is current behavior:
[code]

More information:

The windows which runs `./app/spdk_tgt/spdk_tgt` shows:
[code]

Run `./e

[2020-01-12 21:50] shuhei-matsumoto commented on #1136
Hi @Comphix

I saw this failure once on the patch series rebased on January 9th. So I reopen the issue and want you to take a look.
Will you take a look at the log?

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/55700/archive/freebsd_autotest/build.log

  01:21:38	# '[' BANDWIDTH = IOPS ']'
   01:21:38	# echo '{' '"tick_rate":' 2494212908, '"ticks":' 577268109916, '"bdevs"

[2020-01-12 21:58] spdkci commented on #1136
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55700.html

[2020-01-12 22:47] shuhei-matsumoto opened #1145 "Freebsd don't support --no-headers option for ps command"
killprocess function caused the following error on freebsd.

This issue was separated from https://github.com/spdk/spdk/issues/1136

We will have to consider different method to remove headers of ps output on freebsd.
https://stackoverflow.com/questions/11532188/how-to-get-rid-of-the-headers-in-a-ps-command-in-mac-os-x

[2020-01-12 22:58] shuhei-matsumoto commented on #1139
Hi @pawelkax

I squashed four patches into a single temporary patch https://review.gerrithub.io/c/spdk/spdk/+/464450 and rebased your patch https://review.gerrithub.io/c/spdk/spdk/+/464450 onto this.
Then I could confirm CI passed as you said.

Thanks for your refinement!

Will you use the patch until my following four patches are merged?
https://review.gerrithub.io/c/spdk/spdk/+/479910/1
https://

[2020-01-13 01:40] changpe1 commented on #1038
@Donaim That's the right fix, connection was terminated from client, this should not be treated as an error log.

[2020-01-13 06:25] dong-liuliu commented on #946
Hi, Xiaoxi and Paul

A patch set to enable SPDK vhost-user devices to Kata container has been drafted.
[https://github.com/kata-containers/runtime/pull/2390](url)

I'm now drafting a document patch to Kata's domumentation repo (https://github.com/kata-containers/documentation). There the steps to run SPDK vhost-user device with Kata will be described.

[2020-01-13 09:13] spdkci commented on #1007
Another instance of this failure. Reported by @pawelkax. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_55052.html

[2020-01-13 10:43] tomzawadzki commented on #1143
Fix was merged - thanks @Seth5141 ! This issue is now fixed on master, please rebase if you see this error.

[2020-01-13 10:43] #1143 closed

[2020-01-13 10:53] tomzawadzki opened #1146 "QoS and FIO/json_config hangs"
While working on adding json_config support to bdev fio plugin, it seems that some interaction between FIO and QoS causes the application to hang.

## Expected Behavior
It should be possible to add QoS limits on bdev via json_config, even in bdev fio plugin.

## Current Behavior
When a limit is defined on a bdev the fio application hangs.

## Possible Solution

## Steps to Reproduce
1. Json_config

[2020-01-13 12:37] pawelkax opened #1147 "nvmf random failure"
On TP I got following error in test nvmf_example:
nvmf: subsystem.c:425: spdk_nvmf_subsystem_set_state: Assertion `actual_old_state == expected_old_state' failed.

Log to this error https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/55647/archive/nvmf_phy_autotest/build.log

[2020-01-13 12:43] #1105 closed

[2020-01-13 13:30] jimharris commented on #1147
Please rebase from latest master. This issue has already been fixed.

[2020-01-13 13:30] #1147 closed

[2020-01-13 14:16] liang2yan opened #1148 "SPDK reported error after killing spdk tgt if using SPDK VMD devices"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior
No error out.

## Current Behavior
SPDK reported error:
Device 0000:d7:05.5 is still attached at shutdown!

## Possible Solution
The Device 0000:d7:05.5 is the vmd device. so I think we need to some shutdown co

[2020-01-13 14:31] mmkayPL commented on #1144
Hey, could you post information about the exact QEMU version you're using?
FTL officially works on the OCSSD surfaced by this version of QEMU:
https://github.com/spdk/qemu/tree/spdk-3.0.0
and some settings suggest this isn't what's being used here. In the meantime could you also check with the following geometry settings:
num_grp=1,num_pu=8
and
Metadata Size:    0

[2020-01-13 22:45] spdkci commented on #1096
Another instance of this failure. Reported by @peluse. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_56307.html

[2020-01-14 00:29] spdkci commented on #1007
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_56292.html

[2020-01-14 00:29] jimharris commented on #450
Closing issue.  @jonathanrichardson please reopen if you retest and still see failures.

[2020-01-14 00:29] #450 closed

[2020-01-14 00:35] jimharris commented on #916
Hi @zlsh007 - are you still investigating this issue on your end?

If so, can you run your same test with latest QEMU?  It will be difficult to help debug this when running with the custom QEMU 1.5.3 backport.  If you can reproduce with latest QEMU release, it will help with the debug.

Thanks,

Jim

[2020-01-14 00:38] Seth5141 opened #1149 "spdk_tgt: " Assertion `thread->msg_cache_count == 0' failed" in nvme_autotest"
## Current Behavior
Hit an assert during shutdown of NVMe drive in FTL restore NVMe test

## Steps to Reproduce
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/56314/archive/nvme_autotest/build.log

## Context (Environment including OS version, SPDK version, etc.)
Test Pool, fedora_vm_5

[2020-01-14 00:39] spdkci commented on #1149
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_56314.html

[2020-01-14 00:44] jimharris commented on #920
Hi @ashmrtn,

This issue seems like it's specific to fio accounting - not anything with the SPDK fio plugin itself.

Closing this issue - we can continue to discuss on this thread however.

-Jim

[2020-01-14 00:44] #920 closed

[2020-01-14 01:29] liang2yan commented on #1148
@ksztyber , any comment about this issue?

[2020-01-14 01:58] GaoBo1997 commented on #1144
I use this QEMU: https://github.com/OpenChannelSSD/qemu-nvme
I read the FTL guide: https://spdk.io/doc/ftl.html
but I don't know the setting `lmetadata=/path/to/md/file` means.
I will try https://github.com/spdk/qemu/tree/spdk-3.0.0 later and feedback.

[2020-01-14 02:42] ryderhsu0129 opened #1150 "can't run fio plugin and got some error message"
I run fio plugin and got the following error message :
`illegal instruction (core dumped)`

but I can run original fio normally on the same PC.
I also tried to run fio plugin with another PC, and it's work.
It looks like this problem  is with specific PC,
Has anyone experienced this problem?please help to check it, thanks!

## Context (Environment including OS version, SPDK version, etc.)
fio-3.9

[2020-01-14 03:59] optimistyzy commented on #1150
@ryderhsu0129 More details need to be provided, e.g., environment, how do you test it

[2020-01-14 04:20] optimistyzy commented on #920
One thing may not be quite related with this. For NVMe SSD sequential test, there is multiple threads test for sequential writes. Because if you use multiple threads (each thread still conducts sequential writes), when the requests are sent to NVMe SSDs, the I/Os from become rand writes from the firmware view in the controller.

[2020-01-14 06:49] ryderhsu0129 commented on #1150
thanks for your reply.
I have added information.

[2020-01-14 07:12] GaoBo1997 commented on #1144
ok. When I use this version of QEMU:
https://github.com/spdk/qemu/tree/spdk-3.0.0
everything is ok.
And the FTL guide need to be updated: https://spdk.io/doc/ftl.html
`lmetadata=/path/to/md/file` is nod recognized, while `metadata=/path/to/md/file` is true.
And the `bdev_ftl_create` command's option `-l` is no more recognized.

And one more question, why the metadata file is separated from the ocs

[2020-01-14 07:25] mmkayPL commented on #1144
Thanks for pointing out the documentation mismatch.
The version of QEMU SPDK's fork was based of didn't have any sector metadata support initially. The separate file was at first only used to save information about sector state in OCSSD drives (ie. erased, written, etc.) and was eventually utilized for sector metadata as well.

[2020-01-14 07:31] GaoBo1997 commented on #1144
Thank you for your help! My problem has been solved. And I will close the issue.

[2020-01-14 07:31] #1144 closed

[2020-01-14 10:51] spdkci commented on #1137
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_56415.html

[2020-01-14 11:31] ryderhsu0129 commented on #1150
@optimistyzy
I search this error message and someone made the point that my CPU does not support the AVX instruction set, but application(SPDK fio plugin?) prebuilt binaries require the AVX instruction set extensions.
if so how can I fix this error and run fio flugin successfully?

[2020-01-14 12:03] ufo19890607 opened #1151 "SPDK will crash when invoking apply_firmware RPC method"
## Issue Description
SPDK will crash when I invoke apply_firmware RPC method without a right firmware file.

## Test Env
SPDK version: SPDK v19.10-pre
DPDK version: DPDK 19.11.0-rc0
OS: 		        centos7.4
vmd: 		enabled

## Reproducing Scenario
1. Start SPDK with the following commands
[code]
2. Invoke apply_firmware RPC
[code]

## Root Cause
I checked the callstack when spdk crashed, and found t

[2020-01-14 14:11] spdkci commented on #1007
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_56359.html

[2020-01-14 14:13] tomzawadzki commented on #1134
Patch fixing this issue was merged https://review.gerrithub.io/c/spdk/spdk/+/479771.

[2020-01-14 14:13] #1134 closed

[2020-01-14 14:13] spdkci commented on #1007
Another instance of this failure. Reported by @Maciej-Szwed. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_56452.html

[2020-01-14 14:19] tomzawadzki commented on #1125
Reworked solution now at https://review.gerrithub.io/c/spdk/spdk/+/481528

[2020-01-14 14:37] tomzawadzki commented on #1042
@benlwalker patches were merged ending in https://review.gerrithub.io/c/spdk/spdk/+/477362

@mhae Can you please verify this resolved your issue ?

[2020-01-14 15:07] pawelkax commented on #1139
Thanks @shuhei-matsumoto. I will wait until your patches are merged.

[2020-01-14 15:16] tomzawadzki commented on #1151
[Bug scrub]: Besides fixing this issue some parts of this RPC need to be part of autotest.sh [not actually applying firmware to the controller]. As well as separate test outside of autotest.sh that would test this RPC with a VM and virtualized controller.

[2020-01-14 15:18] tomzawadzki commented on #1149
[Bug scrub] Lets keep look at the number of occurrences of this issue.

[2020-01-14 15:21] tomzawadzki commented on #1141
[Bug scrub] Paul please post a log so that MaciekW could help with resolving this. There were similar issues in vhost and nvmf that he has been fixing.

[2020-01-14 15:23] tomzawadzki commented on #1146
[Bug scrub] @Comphix Would you like to assist with this issue ?

[2020-01-14 15:27] peluse commented on #946
Excellent, I'll look this week! Thanks @dong-liuliu

[2020-01-14 15:30] mhae commented on #1042
Yes, the issue has been resolved. Actually one of the patches for 19.10.1 fixed it. But I just checked out master and didn't see any issues running the nvmf target app.

[2020-01-14 15:30] #1042 closed

[2020-01-14 15:57] ashmrtn commented on #920
I agree that using multiple threads for submitting IO will change the results (though they may be useful for benchmarking different sorts of situations). However, what I was suggesting that the fio plugin enable multiple threads specifically so that it could be run in offload mode, which has a different way of checking for completions. In that mode, one thread is responsible for submitting IO and

[2020-01-14 16:06] wmalikow commented on #1149
Could be potentially related with recent changes  in thread.c (merged yesterday):
https://review.gerrithub.io/c/spdk/spdk/+/478290/8
I will look closer to this issue.

[2020-01-14 16:13] jimharris commented on #1149
I just took a look at this patch again, and it doesn't touch the msg pool at all.  The critical_msg is handled completely independent of any actual msg object.

[2020-01-14 23:02] Comphix commented on #1146
Will take a look at this one.

[2020-01-15 01:57] ChenBo2333 commented on #1135
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-nightly/builds/1393/archive/vhost_autotest_nightly/build.log
This issue occured recently.

[2020-01-15 02:18] jiaqizho commented on #1150
hi ruderhusu0129
do you compile spdk and fio_plugin by right steps?
and can you provided more infomation about run fio_plugin. (include config file , command , before run what you do)?

[2020-01-15 03:01] ryderhsu0129 commented on #1150
hi @jiaqizho
I compile spdk and fio_plugin by officially SPDK instructed steps, and it's can run normally on my PC.
and I installed my system disk(this means the SPDK environment is same) on anther PC, fio flugin can't run and just show the error message `illegal instruction (core dumped)`.

I only run /script/setup.sh to bind uio driver before running fio plugin, and my fio config file is as foll

[2020-01-15 04:19] optimistyzy commented on #1150
@ryderhsu0129 "I compile spdk and fio_plugin by officially SPDK instructed steps, and it's can run normally on my PC.
and I installed my system disk(this means the SPDK environment is same) on anther PC, fio flugin can't run and just show the error message illegal instruction (core dumped)."

I think that you need to rebuild on another machine. Since when building SPDK/DPDK, it will check the inst

[2020-01-15 05:00] Comphix commented on #1136
Looking at the log, it looks like the IO duration is 6.31 seconds while it is asked to sleep 5 seconds.

Previously we've calculated that it will be actually around 5.3 seconds. However here it is 1.3 second more.

Interesting, not sure where this additional 1 second come and make the bandwidth calculation lower than the expectation.

 01:21:31	# /var/jenkins/workspace/Other_systems/freebsd_autote

[2020-01-15 05:32] Comphix commented on #1146
@tomzawadzki , could you give more detailed information on the error (or hanging). I've taken a look at the two patches and not found the related log.

Also, it seems the change is to support the JSON conf file which looks like a new configuration and not sure why QoS will affect here as it is used to support the conf file.

If there is some detailed log or way to reproduce this issue, I could try

[2020-01-15 06:06] ryderhsu0129 commented on #1150
@optimistyzy
I rebuild SPDK and fio on another machine, it's work to run fio plugin,
thanks for your suggestion.

[2020-01-15 06:06] #1150 closed

[2020-01-15 06:49] liang2yan commented on #1101
I reproduced this issue with latest spdk master again. @AlekseyMarchuk , do you need the perf binary file and the coredump file? I can upload them.

[2020-01-15 07:29] AlekseyMarchuk commented on #1101
@liang2yan Yes, please share the binary and coredump, it will be very useful for debug

[2020-01-15 07:40] liang2yan commented on #1101
I have zipped the binary and coredump, please check if it is OK.
[issue1101.zip](https://github.com/spdk/spdk/files/4063577/issue1101.zip)

[2020-01-15 10:13] spdkci commented on #1137
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_56428.html

[2020-01-15 12:51] AlekseyMarchuk commented on #1124
Hi @Seth5141
I agree that the timeout you calculated looks very small. I tried to check how this value is used in IB driver, but this task turned out to be quite difficult. I'll ask someone from Mellanox driver developers for details and share the answer

[2020-01-15 13:20] optimistyzy commented on #1150
Glad to see this this. Actually, if you want to run the binary build from one platform to another. You need better to use cross-platform compilation tool.  For DPDK, it is highly optimized and detect the CPU type and utilize optimized instruction if it can.

[2020-01-15 14:29] #1090 closed

[2020-01-15 17:12] Comphix commented on #1136
Would like to monitor whether there are other similar failures.

Looking at one of the successful instance https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/56611/archive/freebsd_autotest/build.log,

It looks like the calculation is precise.

  18:54:15	# tick_rate=2494199934
   18:54:15	# echo '{' '"tick_rate":' 2494199934, '"ticks":' 1353493339048, '"bdevs":' '[' '{' '"name"

[2020-01-15 23:50] Comphix commented on #1146
I've tried to reproduce for below testing steps:

	$rootdir/app/spdk_tgt/spdk_tgt -c ./test/bdev/bdev.conf &
	spdk_tgt=$!
	waitforlisten $spdk_tgt
	# For some reason QoS hangs fio at the end of run, if it was enabled by json_rpc
	# Disable it for now and will try to create minimal repro steps
	$rpc_py bdev_set_qos_limit --rw_ios_per_sec 0 Malloc0
	$rpc_py bdev_set_qos_limit --rw_mbytes_per_sec 0 M

[2020-01-15 23:52] Comphix commented on #1146
@tomzawadzki , please check whether my reproduction steps are same as what you seen. And if there is any detailed log, please add the comment. Thanks, Gang.

[2020-01-16 04:16] jimharris commented on #1140
[Bug scrub] Classifying as low priority bug - only affects bdevperf when it is already closing.

[2020-01-16 04:18] jimharris commented on #1139
[Bug scrub] Medium priority bug - affects bdevperf with RPC whenever there is an error.  Patches are out for review.

[2020-01-16 04:21] jimharris commented on #1132
[Bug scrub] Marking as sighting (not bug) for now, while Liang tries to reproduce this issue.

[2020-01-16 04:22] jimharris commented on #1118
[Bug scrub]. This is very likely some kind of bug in the fio plugin.  More investigation still needed.  Marking as low for now since it only affects client/server mode.

[2020-01-16 04:23] jimharris commented on #1113
[Bug scrub] We are not seeing any issues with softroce w/ 19.10 - it's being used extensively in the test pool.  @gwnet - please reopen or reply on this thread if you still see an issue.

[2020-01-16 04:23] #1113 closed

[2020-01-16 04:26] jimharris commented on #1101
[Bug scrub] Marking as medium bug - only affects test tool (not target itself).

[2020-01-16 04:27] jimharris commented on #1057
[Bug scrub] Marking as low priority bug.  It's not really a bug per se, but something we need to document.

[2020-01-16 04:30] jimharris commented on #1048
[Bug scrub] Marking this as 3rd party issue.  We aren't able to repro with 4.12 kernel, but haven't been able to download SLES12SP4 yet.  We know this works on latest kernel.  @gwnet - can you try on your side with more recent kernel too?

[2020-01-16 04:32] jimharris commented on #1002
[Bug scrub] Marking as medium bug - Changpeng is looking at this further.

[2020-01-16 04:34] jimharris commented on #989
[Bug scrub] Assigning to Changpeng to investigate further.

[2020-01-16 04:36] jimharris commented on #852
[Bug Scrub] @AlekseyMarchuk - can I assign this issue to you for further investigation?  @liang2yan says this issue can still be reproduced.

[2020-01-16 04:46] changpe1 commented on #989
https://access.redhat.com/solutions/66861 already provides the workaround to address this issue and no action required from SPDK side, I'm going to close this issue.

[2020-01-16 04:46] #989 closed

[2020-01-16 04:53] liang2yan commented on #1132
Tried with similar env, I still can't reproduce this issue. @zlsh007 , can you reproduce this issue in your env?

[2020-01-16 06:04] zlsh007 commented on #1132
Thank you all, it may be a problem with my environment here, I am thinking of other ways to rule out.

[2020-01-16 06:08] zlsh007 commented on #916
Hi @jimharris
Sorry, I don't have an environment of 8 disks now. After I have the environment, I will test it with the latest qemu.

[2020-01-16 07:56] AlekseyMarchuk commented on #852
@jimharris sure, I'll check this issue

[2020-01-16 09:12] tomzawadzki opened #1152 "bdev_ocssd: Received invalid zone starting LBA"
Failures occur on ftl_bdevperf test that runs on nightly jobs.

Issue started between commits 1437b25472597b928e117988420b52ce49e2afbb and 6c2747491d7840413caa393cc0f1be0c22b9e94b, most likely pointing to changes in series starting [here](https://review.gerrithub.io/c/spdk/spdk/+/479701/5).

[code]

Link to nightly logs:
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-nightly/builds/1406/arc

[2020-01-16 09:17] #1139 closed

[2020-01-16 09:35] igorkonopko opened #1153 "Failed to bind NVMe to UIO under RHEL 8"
When using RHEL 8.1 with official kernel from distribution (4.18.0-147.el8.x86_64) it is not possible to bind nvme devices to uio_pci_generic driver and due to that to use them within SPDK environment:

The issue was previously reported in SPDK bugzilla [here](https://github.com/spdk/spdk/issues/399) for vanilla kernel 4.18. Unfortunately the kernel used in RHEL 8 does not contain the proper [bugf

[2020-01-16 10:05] ak-gh commented on #1153
Just for me to understand, is CentOS 8 also impacted?

Thanks,
Andrey

[2020-01-16 10:07] tomzawadzki commented on #1146
@Comphix Thank you for taking on this issue.

Sorry I should have been more clear in steps to reproduce, they assumed one would run test/blockdev.sh with the fio plugin patch applied.
Your steps to produce the failing json_config are correct. The next step would be to use that json_config with fio_plugin. Or run blockdev.sh as that already does this for you.

It is very likely the issue is directl

[2020-01-16 10:12] igorkonopko commented on #1153
I didn't run it on CentOS 8, but since the kernel is the same, it should be impacted too.

[2020-01-16 10:31] ak-gh commented on #1153
Thanks.

[2020-01-16 10:38] mmkayPL commented on #1149
The patch on which this failure occurred didn't have the critical message changes yet and I believe that this is the same issue as in #1105 . The FTL code is using regular spdk_thread_send_msg calls and if the test sent a kill signal to the app while the program is running in thread.c:716-719 with msg_cache_count = 1, then the assert would be hit.

[2020-01-16 11:37] tomzawadzki commented on #1152
@wmalikow @ksztyber thanks for pointers offline !

Turns out that nightly machines are one QEMU commit back compared to per-patch ones.
@Seth5141 can you take a look at making sure that QEMU on nightly machines have latest spdk/qemu patch https://github.com/spdk/qemu/commit/575b52eccb83dae60e73df9548f7475d631f0bec ?

[2020-01-16 13:26] jimharris commented on #1149
Oh - yeah that makes perfect sense. Good catch.

[2020-01-16 13:26] #1149 closed

[2020-01-16 15:13] spdkci commented on #1007
Another instance of this failure. Reported by @Maciej-Szwed. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_56831.html

[2020-01-16 15:38] jimharris commented on #1153
Hi @igorkonopko,

Do you have VMD enabled on this system?

-Jim

[2020-01-16 17:15] Comphix commented on #1146
From https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/56797/archive/centos7_autotest/build.log

There is one inconsistent area where

          "params": {
            "name": "Malloc0",
            "rw_ios_per_sec": 20000
          },
          "method": "bdev_set_qos_limit"

          "params": {
            "rw_mbytes_per_sec": 100,
            "name": "Malloc3"

[2020-01-16 18:31] spdkci commented on #1007
Another instance of this failure. Reported by @pawelkax. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_56864.html

[2020-01-16 18:34] pawelkax commented on #1140
Hi @jimharris @shuhei-matsumoto,

I think this issue can be closed now? I rebased patch with test on master and it works well.

[2020-01-16 18:58] jimharris commented on #1140
Thanks!

[2020-01-16 18:58] #1140 closed

[2020-01-16 21:58] spdkci commented on #1119
Another instance of this failure. Reported by @peluse. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_56902.html

[2020-01-16 21:58] peluse commented on #1141
I must have messed up when I added the "false positive" to the review for this item, I can't find it anywhere.  Sorry.  If there are no others like this we should probably just close it

[2020-01-16 22:23] Comphix commented on #1146
I've found out that QoS on Malloc bdev takes no effect as now Malloc bdev sends the ZCOPY io type down. Just raised a patch to enable the ZCOPY in QoS for Malloc at below:

https://review.gerrithub.io/c/spdk/spdk/+/481909

[2020-01-16 22:37] jimharris commented on #1141
Closing.  We can reopen if this pops up again and we can point to a failing build log.

[2020-01-17 00:40] Seth5141 commented on #1152
@tomzawadzki Done, thanks!

@wmalikow, @karlatec Who is responsible for updating the QEMU version for all of the hosts in Gdansk? If I include the IP address of the host in CHandler on the jenkins documentation, can that person also update the QEMU version on that machine? That will be more robust than having me manage them separately because I think changes like this either don't get forwarded to

[2020-01-17 07:55] spdkci commented on #1119
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_57017.html

[2020-01-17 08:28] tomzawadzki commented on #1152
@Seth5141 Thanks ! Checking nightly results, it seems that this has been fixed.

As for the updates, we do them ad-hoc and manually since QEMU rarely gets patches on spdk/qemu.
@karlatec mentioned that this has been previously requesting that particular change, but might have been lost on the way. From now on, we will communicate QEMU changes and do it for both locations for CI.

[2020-01-17 08:28] #1152 closed

[2020-01-17 08:33] dnzlike opened #1154 "set_compress_pmd method not found when running compress.sh"
I met this issue when I tried to run the compress test /test/compress/compress.sh
[code]
And then I started a spdk_tgt and tried to run `set_compress_pmd` and `bdev_compress_create`, but found out both methods are not found even in `rpc_get_methods`. I think it lacks some certain dependencies so I added `--with-reduce` to `./configure` (I think it has something to do with compress) but it remains

[2020-01-17 09:16] spdkci commented on #1092
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_57033.html

[2020-01-17 09:55] tomzawadzki commented on #1146
@Comphix Patch looks good to me, but verifying on local machine - did not fix the issue itself.
I've updated the patches to be based on top of yours, to expose the same issue as previously.

[2020-01-17 12:00] spdkci commented on #1119
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_57066.html

[2020-01-17 13:24] spdkci commented on #1007
Another instance of this failure. Reported by @pawelkax. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_57068.html

[2020-01-17 14:20] spdkci commented on #1007
Another instance of this failure. Reported by @Maciej-Szwed. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_57092.html

[2020-01-17 15:09] Comphix commented on #1146
Sure. Will also take a further look on the failures you met.

[2020-01-17 16:36] Comphix commented on #1136
Looking at the recent builds on FreeBSD for QoS, it looks like there is no this kind of error.

https://10.102.17.104:8080/job/Other_systems/job/freebsd_autotest/buildTimeTrend

Keep this in low priority and open for some time.

[2020-01-17 21:53] Comphix commented on #1146
Looks like FIO is hanging from my local reproduction.

Jobs: 16 (f=16): [w(1),V(1),w(1),V(1),w(2),V(2),w(1),V(1),w(1),V(1),w(4)][45.5%][r=1978MiB/s,w=3295MiB/s][r=506k,w=844k IOJobs: 16 (f=16): [w(2),V(1),w(2),V(2),w(5),V(1),w(3)][54.5%][r=1976MiB/s,w=3300MiB/s][r=506k,w=845k IOPS][eta 00m:05s]    Jobs: 16 (f=16): [V(2),w(2),V(1),w(3),V(2),w(1),V(1),w(4)][90.9%][r=1981MiB/s,w=3294MiB/s][r=507k,w=8

[2020-01-17 22:17] Comphix commented on #1146
I've changed back to use the CONF file instead of JSON CONF file, FIO is not hanging when QoS is enabled.

Jobs: 16 (f=16): [V(1),w(1),V(2),w(4),V(1),w(1),V(2),w(1),V(3)][36.4%][r=1973MiB/s,w=3306MiB/s][r=505k,w=846k IOPS][eta 00Jobs: 16 (f=16): [V(3),w(5),V(1),w(3),V(3),w(1)][45.5%][r=1973MiB/s,w=3325MiB/s][r=505k,w=851k IOPS][eta 00m:06s]         Jobs: 16 (f=16): [V(2),w(3),V(1),w(2),V(1),w(1),V

[2020-01-17 23:57] Comphix commented on #1146
Another interesting finding:

bdev_fio_trim runs well with JSON conf and enabled QoS.

Looks like the handing at bdev_fio_verify case.

************************************
START TEST bdev_fio_trim
************************************
 07:46:17       # xtrace_enable
 07:46:17       # fio_bdev --ioengine=spdk_bdev --iodepth=8 --bs=4k --runtime=10 /spdk/test/bdev/bdev.fio --spdk_conf=./test/bdev/bde

[2020-01-18 03:46] Comphix commented on #1146
Have a local run to remove FIO job for TestPT (QoS is on its base Malloc3),  the FIO can run if QoS is enabled and together with JSON conf.

Jobs: 14 (f=14): [W(14)][100.0%][r=0KiB/s,w=33.7GiB/s,t=33.7GiB/s][r=0,w=8822k,t=8822k IOPS][eta 00m:00s]
job_Malloc0: (groupid=0, jobs=14): err= 0: pid=4186: Sat Jan 18 11:36:52 2020
  write: IOPS=8774k, BW=33.5GiB/s (35.9GB/s)(335GiB/10001msec)
    slat (ns

[2020-01-18 03:58] Comphix commented on #1146
Looks like this is relating to the sequence of when Passthrough device is created.

With below change (1. create base Bdev; 2. enable QoS; 3. create Passthrough bdev), it looks like no problem. This is same logic for the CONF file where QoS is enabled at the time of Bdev creation (that's why CONF file works).

I've changed the content of JSON file to move the creation of Passthrough device after t

[2020-01-18 04:01] Comphix commented on #1146
So that the proper fix is that when generating the content of JSON configure, it shall move the operations of Base bdev to the earlier part (like here creation of base bdev and enabling QoS on base bdev), then append the operation on the virtual base which is based on the Base bdev (like here the creation of passthrough bdev).

[2020-01-18 04:02] Comphix commented on #1146
Or the other fix is when replaying the JSON RPC, needs to handle the operations on the base bdev first (like after the creation of the base bdev, then enable the QoS on it before the virtual bdev creation).

[2020-01-18 05:59] Comphix commented on #1146
Or maybe the other fix is that once QoS is enabled on base bdev, it is not allowed to be consumed by another Virtual bdev as in this case the consumed base bdev is hide behind the Virtual bdev and the QoS could be enabled on the Virtual bdev instead. This seems like a more reasonable fix to restrict the QoS always enabled on the Virtual Bdev or on the normal Bdev when both of these two types expos

[2020-01-18 06:05] Comphix commented on #1146
@tomzawadzki , to not block your change, you could just change below one line to enable QoS on the Non base base.

diff --git a/test/bdev/bdev.conf.in b/test/bdev/bdev.conf.in
index b80b4fefd..750ae4df2 100644
--- a/test/bdev/bdev.conf.in
+++ b/test/bdev/bdev.conf.in
@@ -33,7 +33,7 @@
   # multiple of 10
   # Assign 100 (MB) bandwidth for the Malloc3 block
   # device
-  Limit_BPS Malloc3 100
+  L

[2020-01-18 11:57] Comphix commented on #1146
Not sure whether this issue is relating to FIO thread scheduling. Seems it is hanging at below FIO logic to determine the jobs are finished...

0x00007f87683441ad in nanosleep () from /lib64/libc.so.6
(gdb) bt
#0  0x00007f87683441ad in nanosleep () from /lib64/libc.so.6
#1  0x00007f8768374ec4 in usleep () from /lib64/libc.so.6
#2  0x000000000046677e in do_usleep (usecs=10000) at backend.c:2136
#3

[2020-01-18 18:06] Comphix commented on #1146
Digging into why the FIO is hanging, it is found that there is timer-poller on the thread and later found out that it seems that the PassThrough vbdev does not close the base bdev. Need to take a further check for a proper fix.

[2020-01-19 12:47] ufo19890607 opened #1155 "Spdk_lspci failed to detect Intel NVMe P4500 devices"
Hi guys.
Recently I found a strange issue that Intel NVMe P4500 devices cannot be detected by spdk_lspci.

OS: centos7.4
kernel version: 3.10.0-693.el7.x86_64
SPDK version: v19.10-pre
commit: b422cee
DPDK version: 19.11.0-rc0
nvme: P4500
vmd: enabled
[code]

I've exported PCI_WHITELIST to scripts/setup.sh, and below is the output of spdk_lspci
[code]

[2020-01-20 00:39] Seth5141 commented on #1155
@ufo19890607 What is the value of $PCI_WHITELIST? It looks like setup.sh is intentionally skipping your drives because they aren't included in $PCI_WHITELIST. You can probably actually unset that variable entirely if you intend on using all of those drives with SPDK. The default behavior of that script is to bind all NVMe drives without an active mountpoint.

[2020-01-20 00:59] liang2yan commented on #1155
@ufo19890607 , can you try to run setup.sh reset and then run setup.sh again? If you have run setup.sh before inserting P4500. From your log, I think your codes doesn't support hotplug/hotremove.

[2020-01-20 05:28] ufo19890607 commented on #1155
@Seth5141 @liang2yan
[code]

[2020-01-20 05:36] ufo19890607 commented on #1155
I still cannot find NVMe devices

[2020-01-20 06:06] liang2yan commented on #1155
@ufo19890607 , so you have run "setup.sh reset" then "setup.sh" and still can't find the nvme ssd? If you run the "setup.sh reset" command, will the OS list the P4500 NVMe SSD?

[2020-01-20 06:27] ChenBo2333 opened #1156 "nvmf tgt Coredump occured when runnning run_nvmf.py script"
When checking the result of autotestspdk script , coredump occured and got the information of coredump.

## Expected Behavior
run successfully without coredump.

## Current Behavior
warning: the debug information found in "/usr/lib/debug/usr/lib64/libibverbs/libbnxt_re-rdmav22.so.debug" does not match "/usr/lib64/libibverbs/libbnxt_re-rdmav22.so" (CRC mismatch).

Missing separate debuginfo for /us

[2020-01-20 06:27] spdkci commented on #1053
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_57093.html

[2020-01-20 07:03] ufo19890607 commented on #1155
No, I reboot the host.  "setup.sh reset" cannnot reset NVMe ssd.

[2020-01-20 13:02] ufo19890607 commented on #1155
[dmesg.txt](https://github.com/spdk/spdk/files/4086244/dmesg.txt)

I've updated the code from master branch, but spdk_lspci still cannot find NVMe p4500

[2020-01-20 15:10] AlekseyMarchuk commented on #1101
Hi @liang2yan,

I checked the core dump you shared. Unfortunately, I didn't find the root cause but I noticed something strange. Here is the callstack:
[code]
In frame ` #5 nvme_transport_qpair_process_completions ` we received 2 completions, both had opcode IBV_WC_RECV (which is out of the blue since you used qdepth=1) and they pointed to the same nvme request. As the result, when perf processed

[2020-01-21 07:26] spdkci commented on #1072
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_57366.html

[2020-01-21 08:14] igorkonopko commented on #1153
I have both NVMe drives directly attach and behind a VMD in that setup. Issue is related to directly attach NVMe (without VMD). It looks that it is also related to I/OAT DMA. I didn't test the drives behind the VMD.

[2020-01-21 08:57] changpe1 commented on #1156
It's should be a bug, I have a fix https://review.gerrithub.io/c/spdk/spdk/+/482215, can you help to verify it? Thanks.

[2020-01-21 09:24] spdkci commented on #1119
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_57434.html

[2020-01-21 11:20] spdkci commented on #1119
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_57445.html

[2020-01-21 13:05] spdkci commented on #1007
Another instance of this failure. Reported by @karlatec. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_57457.html

[2020-01-21 14:25] jimharris commented on #1156
Marking as high priority bug.

But does this also indicate some kind of bug in the test script?  I'm trying to understand why we haven't seen this bug elsewhere.

[2020-01-21 15:16] pawelkax opened #1157 "iscsi_tgt_bdev_io_wait failure"
Log: https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/57360/archive/vpp_autotest/build.log

vpp.c: 396:session_disconnected_handler: *DEBUG*: Disconnect session 0xdff3d0 (1) handler
vpp.c: 873:spdk_vpp_sock_recv: *DEBUG*: Client 0xdff3d0(1) is disconnected.
vpp.c: 619:_spdk_vpp_session_disconnect: *DEBUG*: Session is already in disconnecting state 0xdff3d0 (1)
vpp.c: 226:_spd

[2020-01-21 15:18] spdkci commented on #1157
Another instance of this failure. Reported by @pawelkax. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_57360.html

[2020-01-21 15:27] spdkci commented on #1072
Another instance of this failure. Reported by @tomzawadzki. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_57497.html

[2020-01-21 21:24] Seth5141 commented on #1155
Hi @ufo19890607
The purpose of setup.sh is to unbind the appropriate pci devices from the nvme driver and bind them to vfio-pci or uio_pci_generic depending on whether your IOMMU is enabled.

By default, when you run sudo ./spdk/scripts/setup.sh, it will perform that action on all of your NVMe drives (or the ones that don't have active mountpoints). However, in your copy of setup.sh, you have expl

[2020-01-22 06:59] liang2yan commented on #1155
@Seth5141 , ufo19890607 is using SPDK VMD driver for the nvme ssd. These nvme ssd are already configured under Intel RAID Bus controller. So I think the PCI_WHITELIST is not problem.

[2020-01-22 07:33] ksztyber commented on #1155
@ufo19890607 could you try using newer version of SPDK? (from
 ef8966fe93ae2221da1c480edabfaa305fe33989 onward)? There were a couple of fixes incorporated after the v19.10 release.

[2020-01-22 13:54] #1129 closed

[2020-01-22 19:51] mikeBashStuff opened #1158 "[libvirt] Can't execute qemu instance with AppArmor around"
This is not really an issue with the actual SPDK framework, more with how its execution can be limited by some securityfss, like apparmor, hence the ticket to discuss if it's worth to do anything about it. :)

On systems which are managed by the AppArmor subsystem (e.g. Debian 10) the libvirtd daemon executes its libvirt-aa-helper to dynamically create an apparmor profile for each qemu instance. H

[2020-01-22 23:19] mcarlin opened #1159 "lib/nvme: hotplug fails to find transport type"
# Summary

While evaluating hotplug on latest master (9857ff6015e4a66753b9ce3c663a9e84ab0ad8c0),  I ran into an issue with it being unable to find the transport type which prevents hotplug from working:
[code]

# Steps to reproduce

1. Start target via `sudo app/spdk_tgt/spdk_tgt -r 0.0.0.0:8000`
2. Enable hotplug via RPC: `./scripts/rpc.py -s127.0.0.1 -p8000 bdev_nvme_set_hotplug -e`
3. Look at o

[2020-01-22 23:44] mcarlin commented on #1159
potential fix: https://review.gerrithub.io/c/spdk/spdk/+/482449

[2020-01-23 00:18] csm10495 opened #1160 "Docs slighty off for spdk_nvme_ctrlr_alloc_io_qpair"
Docs for include/spdk/nvme.h are slightly off for spdk_nvme_ctrlr_alloc_io_qpair()

for the opts param it says returned by spdk_nvme_ctrlr_alloc_io_qpair(). I think it should be spdk_nvme_ctrlr_get_default_io_qpair_opts()

## Expected Behavior
Docstring fixed?

## Current Behavior
NA

## Possible Solution
NA

## Steps to Reproduce
NA

## Context (Environment including OS version, SPDK version, etc

[2020-01-23 00:20] peluse commented on #1160
Hi Charlie! Would you be willing to submit a patch?

[2020-01-23 01:10] csm10495 commented on #1160
Sure. Point me to a wiki :)

- Charlie Scott Machalow

On Wed, Jan 22, 2020 at 4:20 PM Paul Luse <notifications@github.com> wrote:

[2020-01-23 01:14] shuhei-matsumoto opened #1161 "Voluntarily spdk_thread_exit() and spdk_thread_destroy() calls failed application shutdown"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

spdk_thread_exit() set thread->exit to true and spdk_thread_destroy() frees thread resource. However they don't notify them to reactor. Hence we could not make any thread call spdk_thread_exit() and spdk_thread_destroy() voluntaril

[2020-01-23 01:30] changpe1 commented on #1156
His environment has a bad drive, so it can trigger this bug, Liang already verified it with this patch, so we can close it now.

[2020-01-23 01:30] #1156 closed

[2020-01-23 01:39] shuhei-matsumoto commented on #1161
Please give me a few days. I hope patches will be ready soon.

[2020-01-23 01:54] jimharris commented on #1160
SPDK only accepts patches through GerritHub.

Let us know if you have any questions.  Or if you're not able to get GerritHub set up now, post something here and someone else can pick up the doc fix.

Thanks!

[2020-01-23 02:29] shuhei-matsumoto commented on #1161
Patches are ready to review now. The main patch is https://review.gerrithub.io/c/spdk/spdk/+/482469/1 Thanks in advance.

[2020-01-23 08:52] AlekseyMarchuk commented on #1124
Hi @Seth5141

I went deep in kernel IB modules and IB spec and found out that the actual time of retransmission is calculated using the following formula: `packet_life_time * 2 + 4.064 * 2 ^ ack_timeout us`.
However CMA kernel module uses some approximation to calculate `packet_life_time` - it is defaulted to 18 if ACK_TIMEOUT is not set or equals to  `ACK_TIMEOUT - 1`. Later `primary_path_timeout

[2020-01-23 09:05] shuhei-matsumoto commented on #1161
Sorry, the patch is not ready to review yet. I found a solution and I'm developing it. Please stay tune for a while.

[2020-01-23 09:29] ak-gh commented on #1161
I noticed this a while back, and reported on the mailing list. You might want to consult the respective discussion.

Regards,
Andrey

[2020-01-23 09:37] shuhei-matsumoto commented on #1161
Hi @ak-gh

Thank you, I'm glad you noticed this issue :)

Yes, I already read your bdevperf patch in detail and got good insight.
Definitely I will take a look at the discussion again, and will ask your help.

Please stay tune shortly.

-Shuhei

[2020-01-23 10:56] spdkci commented on #1119
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_57896.html

[2020-01-23 11:28] spdkci commented on #1007
Another instance of this failure. Reported by @Maciej-Szwed. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_57914.html

[2020-01-23 13:33] pawelkax opened #1162 "Hotremove for bdevperf with '-w randwrite' causes that machine freezes"
Steps to reproduce:
1. Download patch https://review.gerrithub.io/c/spdk/spdk/+/464450
2. Edit test/vhost/hotplug/virtio_hotremove.sh and for bdevperf commands replace "-w verify" with "-w randwrite".
3. Run ./test/vhost/hotplug/virtio_hotremove.sh

[2020-01-23 14:20] jimharris commented on #1154
@peluse - could you give @dnzlike some guidance here?  The RPCs are definitely in the code - it's certainly some kind of dependency issue on the submitter's end.

I also noticed just now that we didn't rename this "set_compress_pmd" method to match the other RPCs in that file that we recently renamed/deprecated.  Could you take a look at that too?

Thanks!

-Jim

[2020-01-23 15:19] peluse commented on #1154
yup, looking now...

[2020-01-23 15:32] peluse commented on #1154
1) @dnzlike  so I'm not sure why this is failing - I ran just now t on Ubuntu 18.01 w/master this works fine - as it should since the script you're running runs in CI all of the time including on CentOS 7.  Can you try doing a make clean first and re-running.  Maybe this time paste in the full output of every command and make sure you don't see this msg after running configure:
                ech

[2020-01-23 15:36] jimharris commented on #1154
Yeah - totally agree on #2.  Either it didn't exist yet, or I may have just missed it in that list that I put together.

[2020-01-23 16:04] peluse commented on #1154
@dnzlike also note that this is a script designed to run in our CI system and expects a QAT device to be present, if you don't have one you'll get the error below which isn't what you're seeing - just letting you know.  If you want to run it in a machine without QAT just change that "set_compress_pmd -p 1" to "set_compress_pmd -p 0"

 16:03:58	# /home/peluse/spdk/scripts/rpc.py set_compress_pmd -p

[2020-01-23 16:41] #1159 closed

[2020-01-24 08:31] shuhei-matsumoto opened #1163 "NVMe-TCP target: connect was refused in nvmf_target_disconnect_tc1 test case"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Recently NVMe-TCP was updated largely. Register this as issue for just in case.

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/58078/archive/nvmf_tcp_autotest/build.log

[code]

## Expected Behavior
Success

[2020-01-24 11:51] AlekseyMarchuk commented on #852
Hi @liang2yan

I tried to reproduce this issue about 20 times and I didn't see any errors on target/initiator side. I used spdk version `12ae64f86` and the following target configuration copied from your config:
[code]
fio config:
[code]

Could you clarify if you still see this error?

[2020-01-24 12:09] AlekseyMarchuk commented on #1101
I plan to reproduce this issue on the same setup as @liang2yan reported earlier, at least on the same OS and kernel. I'll share the result next week.

[2020-01-24 12:21] spdkci commented on #1163
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58114.html

[2020-01-24 12:50] spdkci commented on #1119
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58117.html

[2020-01-24 19:26] spdkci commented on #1007
Another instance of this failure. Reported by @tomzawadzki. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58152.html

[2020-01-24 19:56] peluse commented on #944
All patchers have merged, closing

[2020-01-24 19:56] #944 closed

[2020-01-24 19:56] peluse commented on #944
closing

[2020-01-24 22:48] Seth5141 commented on #1135
Hi @tomzawadzki @benlwalker I will start with the good news. I have a proposed change that I have verified fixes this issue on master: https://review.gerrithub.io/c/spdk/spdk/+/482714

Now I will get into some of the details around this issue which kind of, but don't really, make sense to me.

DPDK allows you to work with the iommu in either pa or va mode which is what Ben's patch was trying to ad

[2020-01-25 21:38] sarvanireddy commented on #1150
@optimistyzy ,
I am also facing the same issue as @ryderhsu0129 . can you please provide instructions and tools to use that can cross compile and create a fio binary to run across different platforms.

Thanks.

[2020-01-27 04:13] shuhei-matsumoto opened #1164 "nvmf/tcp initiator: Assert sock->cb_cnt goes negative in spdk_sock_abort_requests()"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Test pool hit the assert in spdk_sock_abort_requests().
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/58208/archive/nvmf_tcp_autotest/build.log

## Expected Behavior
No assert.

## Current Behavior
The abov

[2020-01-27 12:35] ksztyber commented on #1148
@liang2yan yeah it does look like the VMD library doesn't detach the PCI devices it uses. I'll post a patch fixing this soon.

[2020-01-27 14:03] ksztyber commented on #1148
Here's the patch: https://review.gerrithub.io/c/spdk/spdk/+/482852.

[2020-01-27 22:24] benlwalker opened #1165 "nvmf_bdevperf: bdevperf fails to reconnect (nvmf/rdma) after target killed and restarted"
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/58310/archive/nvmf_autotest/build.log

Probably something with the async writev introduced to the nvmf initiator just recently.

[2020-01-27 22:36] shuhei-matsumoto commented on #1164
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/58078/archive/nvmf_tcp_autotest/build.log

Another case

[2020-01-27 22:36] shuhei-matsumoto commented on #1164
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58114.html

Another case.

[2020-01-27 22:37] shuhei-matsumoto commented on #1163
This was as same as https://github.com/spdk/spdk/issues/1164 Move reported logs into 1164 and close this issue.

[2020-01-27 22:37] #1163 closed

[2020-01-27 22:44] spdkci commented on #1164
Another instance of this failure. Reported by @benlwalker. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58313.html

[2020-01-27 22:47] spdkci commented on #1165
Another instance of this failure. Reported by @benlwalker. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58310.html

[2020-01-27 22:49] #1125 closed

[2020-01-27 23:39] pawelkax commented on #1162
Sample script to reproduce this issue:
[code]

[2020-01-28 00:03] shuhei-matsumoto commented on #1162
@pawelkax Did you collect any log when the issue occurred?

[2020-01-28 03:25] shuhei-matsumoto opened #1166 "NVMe-TCP target: cannot open NVMe partition in filesystem autotest"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

The following has been observed intermittently.

[code]

## Expected Behavior
No error

## Current Behavior
The above

## Possible Solution
Ben already provided a fix.
https://review.gerrithub.io/c/spdk/spdk/+/482926

## Steps to R

[2020-01-28 03:26] spdkci commented on #1164
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58358.html

[2020-01-28 03:28] spdkci commented on #1166
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58360.html

[2020-01-28 08:26] karlatec opened #1167 "blobstore.c _spdk_bs_allocate_cluster: ‘extent_page’ may be used uninitialized"
## Current Behavior
Error in blobstore.c
[code]

## Steps to Reproduce
1.  Only reproduces without --enable-debug and with --enable-werror
[code]
2. make -j100

## Context (Environment including OS version, SPDK version, etc.)
SPDK 8818ace2f4d28ba1904a0903311e2f7df6542224
gcc version 8.3.1 20190223 (Red Hat 8.3.1-2) (GCC)

[2020-01-28 09:57] tomzawadzki commented on #1167
Sorry for that @karlatec.
This was fixed later in the series https://review.gerrithub.io/c/spdk/spdk/+/482893
Due to merging series in two parts, there was brief period where this failure occurred.

It should be fixed on master now.

[2020-01-28 10:11] karlatec commented on #1167
Ok will check it later

[2020-01-28 10:41] pawelkax commented on #1162
@shuhei-matsumoto
Sample logs from this test:
 05:36:17       # /root/spdk/scripts/rpc.py -s /root/vhost_test/vhost/0/rpc.sock -s /var/tmp/spdk1.sock bdev_virtio_attach_controller -t user -d scsi -a /root/vhost_test/vhost/0/scsi_ctrl VirtioUser0
VirtioUser0t0
 05:36:19       # perftest_pid=14088
 05:36:19       # sleep 5
 05:36:19       # /root/spdk/test/bdev/bdevperf/bdevperf.py -s /var/tmp/spdk1

[2020-01-28 12:01] karlatec commented on #1167
Build again with ./configure --enable-werror using SPDK origin/master bba0f040cf421ef75c840f64d0eab55e39bc0081

No issue this time. Closing.

[2020-01-28 12:02] #1167 closed

[2020-01-28 13:09] pawelkax commented on #1162
I can add that machine freezes for about 40 seconds.

[2020-01-28 13:35] AlekseyMarchuk commented on #852
@liang2yan I've just remembered that I noticed such errors in SPDK target in the case when I killed SPDK initiator, and as far as I remember, upgrade of in-box IB drivers resolved this issue. I was trying to reproduce this issue with MLNX_OFED_LINUX-4.6-1.0.1.1. rdma-core library in MOFED differs from the upstream version also MOFED upgrades FW on NIC. If this issue is still reproducible on your s

[2020-01-28 13:39] tkulasek commented on #1151
out points "char *field" in the "struct rpc_apply_firmware". In this particular call malloc is used for memory allocation and we cannot be sure it's zeroed. In other calls, which have no this issue calloc is used and *out == NULL, so free(*out) is ineffective.

I don't think we should remove "out" parameter, it will imply to rework also another decoders.

Instead malloc should be replaced with cal

[2020-01-28 13:47] pawelkax commented on #1162
I run this test several times today. My filesystem got broken.

[2020-01-28 14:00] tkulasek commented on #1151
https://review.gerrithub.io/c/spdk/spdk/+/483107

[2020-01-28 14:17] AlekseyMarchuk commented on #1165
I've met similar error https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58221.html so probably this is a common error

[2020-01-28 15:07] peluse commented on #1151
@benlwalker to review and decide whether to merge or not

[2020-01-28 15:09] peluse commented on #1133
@changpe1 can you provide the latest status?

[2020-01-28 15:11] peluse commented on #1135
bug scrub: wip understood

[2020-01-28 15:14] peluse commented on #1165
See Aleksey's link

[2020-01-28 15:20] peluse commented on #1166
@shuhei-matsumoto can you confirm this is fixed and close it if so?

[2020-01-28 15:24] peluse commented on #1158
bug scrub: will review patch and decide based on its merits

[2020-01-28 15:24] #1158 closed

[2020-01-28 15:28] peluse commented on #1160
bug scrub: need some help? @csm10495

[2020-01-28 15:32] peluse commented on #1153
Try this on CentoOS 8 @wawryk

[2020-01-28 15:42] #1151 closed

[2020-01-28 18:31] benlwalker commented on #1166
This is fixed by commit c85a3d105

[2020-01-28 18:31] #1166 closed

[2020-01-29 01:31] csm10495 commented on #1160
I'm hoping to get to it soon, just haven't gotten around to it.

- Charlie Scott Machalow

On Tue, Jan 28, 2020 at 7:28 AM Paul Luse <notifications@github.com> wrote:

[2020-01-29 02:39] mikeBashStuff opened #1168 "Review how (some) tests utilize tmp storage"
Some tests (e.g. in `./test/blobfs/blobfs.sh`) depend on data to be written out into a tmp storage prior their execution. In most cases this should be fine, however, in case a target path is located under a tmpfs|ramfs mount the actual size of said data may cause a high mem pressure (especially with some particular mount opts in use) on the host system (as in the mentioned example, `blobfs.sh` can

[2020-01-29 04:31] shuhei-matsumoto opened #1169 "iSCSI target: sock->cb_fn is NULL at spdk_sock_group_impl_poll_count"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/58467/archive/iscsi_autotest/build.log

During calsoft test suite, Error log is correct.

[code]
## Expected Behavior
No error

## Current Behavior
Above

## Po

[2020-01-29 04:45] shuhei-matsumoto opened #1170 "Blobstore: blob-state is not dirty at _spdk_blob_serialize"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/58470/archive/nvmf_tcp_autotest/build.log

[code]

[2020-01-29 04:48] spdkci commented on #1169
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58474.html

[2020-01-29 07:26] shuhei-matsumoto opened #1171 "FTL: band->high_prio is zero in ftl_band_free_lba_map"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

The following assert was collected.
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/58485/archive/nvme_autotest/build.log

[code]

[2020-01-29 07:54] spdkci commented on #1169
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58500.html

[2020-01-29 08:10] shuhei-matsumoto commented on #1169
This issue looks caused by conflict between asynchronous completion by sock layer and connection exit by iSCSI connection layer. I'm investigating the fix.

[2020-01-29 08:38] spdkci commented on #1169
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58508.html

[2020-01-29 08:52] shuhei-matsumoto opened #1172 "NVMf autotest timeout"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

15 minutes timeout for NVMf autotest was observed 6 times in a patch series.
The patch series is for thread library and I haven't find any relationship with this timeout yet.

Common signature is the timeout was observed in autotes

[2020-01-29 08:59] spdkci commented on #1170
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58511.html

[2020-01-29 09:00] spdkci commented on #1169
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58512.html

[2020-01-29 09:18] shuhei-matsumoto commented on #1169
Hi @benlwalker

The log says spdk_sock_group_impl_poll_count() gets input from closed socket because spdk_sock_group_remove_sock() removes socket from posix layer and clears it.

And I don't find anything in my patch series to update sock layer.

Is it likely that the recent improvement changed the behavior.

Thanks,
Shuhei

[2020-01-29 09:22] shuhei-matsumoto commented on #1169
The  patch https://github.com/spdk/spdk/commit/7ef33c86b824b912d8d487a86fccff31d76d93aa#diff-42a38a9dd6ad2de85bf35e2faf135182 changed the behavior of spdk_posix_sock_group_impl_poll() slightly. We conditionally copy the value to sock now.

[2020-01-29 11:33] shuhei-matsumoto commented on #1161
Hi All,

We are still busy for the next release but the patch series are ready to review starting from https://review.gerrithub.io/c/spdk/spdk/+/479390/11

I tried to incorporate all discussion by Ben and Andrey on mailing list and Vitaliy’s patch.

I completed iSCSI first.

I’ll move to bdevperf and NVMe-oF target in the mean time

Thanks
Shuhei

[2020-01-29 11:53] shuhei-matsumoto commented on #1162
Hi @pawelkax
Thank you for the detailed information and I hope you could restore file systems.
I started but don’t have vhost environment yet. I checked the source code today but could not find anything yet. I’ll continue tomorrow.

Thanks
Shuhei

[2020-01-29 12:36] ak-gh commented on #1161
On Wed, Jan 29, 2020, 14:33 shuhei-matsumoto <notifications@github.com>
wrote:

Hi Shuhei,

nice to see this moving forward. Could you please point me to the specific
patch re spdk_thread?

Thanks,
Andrey

[2020-01-29 12:52] spdkci commented on #1007
Another instance of this failure. Reported by @jkalwas. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58525.html

[2020-01-29 12:59] shuhei-matsumoto commented on #1161
Hi @ak-gh

The main is https://review.gerrithub.io/c/spdk/spdk/+/482469/16

https://review.gerrithub.io/c/spdk/spdk/+/483159/2
https://review.gerrithub.io/c/spdk/spdk/+/483160/2
https://review.gerrithub.io/c/spdk/spdk/+/483162/2
https://review.gerrithub.io/c/spdk/spdk/+/483163/3
https://review.gerrithub.io/c/spdk/spdk/+/483164/3
https://review.gerrithub.io/c/spdk/spdk/+/483165/3
https://review.ger

[2020-01-29 13:27] ak-gh commented on #1161
On Wed, Jan 29, 2020, 15:59 shuhei-matsumoto <notifications@github.com>
wrote:

Thanks for the pointers, I'll take a look at the series.

Regards,
Andrey

[2020-01-29 15:11] spdkci commented on #1172
Another instance of this failure. Reported by @tomzawadzki. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58458.html

[2020-01-29 15:19] ak-gh commented on #1161
I went through the spdk_thread_exit related patches, and would like to
share my impressions.

I believe the series represents a massive change, motivated and caused
primarily by the decision to mark thread exited inline under
spdk_thread_exit. This causes a lot of issues addressed by other patches in
the series.

I believe the key inline exit decision may be avoided, resulting in a more
efficient

[2020-01-29 15:48] wmalikow commented on #1171
I have prepared fix proposal: https://review.gerrithub.io/c/spdk/spdk/+/483264

[2020-01-29 16:58] spdkci commented on #1119
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58549.html

[2020-01-29 17:12] pawelkax opened #1173 "Cannot start hello_bdev with json config"
1. Generate sample spdk json config. Save it to bdev.json.
2. Run ./examples/bdev/hello_world/hello_bdev --json bdev.json
3. Got output:
   hello_bdev.c: 278:main: *ERROR*: configfile must be specified using -c <conffile> e.g. -c bdev.conf

[2020-01-29 17:29] spdkci commented on #1170
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58547.html

[2020-01-29 19:24] benlwalker commented on #1165
The writev's failing aren't a problem. The real issue is that bdevperf fails to reconnect after the target is brought back up and bdevperf never exits.

[2020-01-29 19:34] benlwalker commented on #1164
Classifying these:

1. https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/58208/archive/nvmf_tcp_autotest/build.log is an initiator assert.
2. https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/58078/archive/nvmf_tcp_autotest/build.log is an initiator assert.
3. https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58114.html is an initiator a

[2020-01-29 19:41] benlwalker commented on #1172
This is issue #1165. Closing this one and we'll report there.

[2020-01-29 19:41] #1172 closed

[2020-01-29 19:53] benlwalker commented on #1165
Seth observed that this is only failing on softroce. We already skip other disconnect tests on softroce because it's known to be buggy. That's probably the solution here too.

[2020-01-29 20:27] spdkci commented on #1096
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58568.html

[2020-01-29 20:28] spdkci commented on #1096
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58564.html

[2020-01-29 20:30] spdkci commented on #1119
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58567.html

[2020-01-29 20:30] spdkci commented on #1096
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58566.html

[2020-01-29 21:13] spdkci commented on #1007
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58585.html

[2020-01-29 21:34] spdkci commented on #1114
Another instance of this failure. Reported by @benlwalker. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58590.html

[2020-01-29 22:26] shuhei-matsumoto commented on #1161
Hi @ak-gh

Thank you for reviewing the patch series. I'm glad to read your detailed comments.

Yes, we will be able to do (1) then.
From (2) to (6),

If we take your idea, we may need to repeat message until freeing IO device. Freeing IO device may be deferred until the final spdk_put_io_channel() is called. We can't request the thread to call spdk_put_io_channel() and don't know when it comes.

B

[2020-01-29 22:40] csm10495 commented on #1160
Alrighty. Opened https://review.gerrithub.io/c/spdk/spdk/+/483306. Hopefully I did it ok.

[2020-01-29 22:48] peluse commented on #1160
Looks good!

[2020-01-29 23:44] pawelkax commented on #1162
Hi @shuhei-matsumoto @tkulasek
I tried to reproduce this issue today, but I wasn't able.
I was running this test several times but with no efffect.

[2020-01-30 00:50] spdkci commented on #1169
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58634.html

[2020-01-30 00:51] spdkci commented on #1165
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58635.html

[2020-01-30 01:26] spdkci commented on #1069
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58633.html

[2020-01-30 01:27] spdkci commented on #1065
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58639.html

[2020-01-30 01:27] spdkci commented on #1069
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58638.html

[2020-01-30 01:29] spdkci commented on #1065
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58637.html

[2020-01-30 01:29] spdkci commented on #1065
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58636.html

[2020-01-30 01:59] Comphix commented on #1136
Checked the recent QoS running on FreeBSD at https://10.102.17.104:8080/job/Other_systems/job/freebsd_autotest/buildTimeTrend

There are three recent failures which is not relating to QoS.

Would like to close this issue and if we see a new one. We could either file a new issue or reopen this one.

Thanks, Gang

[2020-01-30 01:59] #1136 closed

[2020-01-30 02:13] spdkci commented on #1069
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58646.html

[2020-01-30 02:15] spdkci commented on #1069
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58647.html

[2020-01-30 02:49] spdkci commented on #1065
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58652.html

[2020-01-30 02:56] shuhei-matsumoto commented on #1136
Hi Gang,

Ubuntu 18  failed to satisfy QoS limit once.
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58654.html

I file it here for just in case.

-Shuhei

[2020-01-30 02:57] spdkci commented on #1136
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58654.html

[2020-01-30 03:14] optimistyzy commented on #1169
@shuhei-matsumoto  I think that you are right, it was related with zero copy patch (I just dropped the same info to you in slack). Due to Coronavirus, we will be back to office on Feb 10.

[2020-01-30 03:37] optimistyzy commented on #1169
May be related with spdk_posix_sock_group_impl_poll function -> _sock_check_zcopy, then this function call "spdk_sock_request_put", it will call user call back, then it may do some operations to close socket.

Then this statement  in spdk_posix_sock_group_impl_poll tries to put the event again, but the socket may be already handled.
		if (events[i].events & EPOLLIN) {
			socks[j++] = events[i].dat

[2020-01-30 04:53] optimistyzy commented on #1169
@shuhei-matsumoto @benlwalker  https://review.gerrithub.io/c/spdk/spdk/+/483311  Not sure this patch can solve this issue since currently I did not have a test platform. By the way, Do we mujst
 call "spdk_sock_close" in spdk_sock_request_put? Though some flags are used to check. Actually my question is that: If "spdk_sock_close" is called in "spdk_sock_request_put", can we make sure that this soc

[2020-01-30 05:30] spdkci commented on #1169
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58588.html

[2020-01-30 06:00] spdkci commented on #1169
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58628.html

[2020-01-30 06:50] spdkci commented on #1065
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58656.html

[2020-01-30 06:50] spdkci commented on #1065
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58660.html

[2020-01-30 06:52] spdkci commented on #1165
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58658.html

[2020-01-30 06:54] ak-gh commented on #1161
On Thu, Jan 30, 2020, 01:26 shuhei-matsumoto <notifications@github.com>
wrote:

I'm not quite sure as to why. Correct thread behavior, IMO, is to release
I/O channels and unregister pollers. At this point, there's nothing else
the thread is required to do to exit as the rest occurs in/is the
responsibility of the respective subsystems.

In the specific case of the I/O device, freeing it up will oc

[2020-01-30 07:14] shuhei-matsumoto commented on #1161
Hi @ak-gh

The thread which unregisters I/O device and the thread which closes the last I/O channel may be different. In this case, the later thread will send message to the former thread, and the former thread will complete unregistration. Until the later thread sends the message, the former thread will repeat sending self message.

And what we want to do is to ensure the exiting thread never rec

[2020-01-30 07:25] ak-gh commented on #1161
On Thu, Jan 30, 2020, 10:14 shuhei-matsumoto <notifications@github.com>
wrote:

I believe this isn't the case. Nothing in the io device API or
implementation requires this.

The only reliable way to achieve this is to put the responsibility on the
programmer. Once thread has called spdk_thread_exit, sending it any message
or registering a poller is a bug (and that's why I suggested
spdk_thread_exi

[2020-01-30 07:40] shuhei-matsumoto commented on #1161
Thank you @ak-gh

I want to get review to the whole series first. I'm glad if it's OK for you.

In the end of the series, iSCSI target is implemented so that the master threads calls io_device_register(), and then create children threads and then children threads call get_io_channel() at startup. vice-versa at shutdown. I hope the patch series fit the design well. If we change that design, it may

[2020-01-30 07:54] shuhei-matsumoto commented on #1161
I read your last comment again.

I'm glad to get your consensus about "Settingg thread->exit first will be the reliable way." Invalidating thread pointer may be temporary because reactor may set it again at the next schedule, and I feel setting the flag is a little more safe than nullifying the pointer.

Anyway thank you @ak-gh

[2020-01-30 07:57] spdkci commented on #1065
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58672.html

[2020-01-30 08:06] spdkci commented on #1065
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58675.html

[2020-01-30 08:08] spdkci commented on #1065
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58673.html

[2020-01-30 08:09] shuhei-matsumoto commented on #1069
Sorry I should have written "false positive: 1169"

[2020-01-30 08:09] shuhei-matsumoto commented on #1169
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58633.html

[2020-01-30 08:10] shuhei-matsumoto commented on #1169
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58638.html

[2020-01-30 08:10] shuhei-matsumoto commented on #1169
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58646.html

[2020-01-30 08:10] shuhei-matsumoto commented on #1169
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58647.html

[2020-01-30 08:11] shuhei-matsumoto commented on #1169
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58673.html

[2020-01-30 08:11] shuhei-matsumoto commented on #1165
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58639.html

[2020-01-30 08:12] shuhei-matsumoto commented on #1165
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58637.html
--

[2020-01-30 08:12] shuhei-matsumoto commented on #1165
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58636.html

[2020-01-30 08:12] shuhei-matsumoto commented on #1165
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58652.html

[2020-01-30 08:12] shuhei-matsumoto commented on #1165
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58656.html

[2020-01-30 08:13] shuhei-matsumoto commented on #1165
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58660.html

[2020-01-30 08:13] shuhei-matsumoto commented on #1165
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58672.html

[2020-01-30 08:13] shuhei-matsumoto commented on #1165
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58675.html

[2020-01-30 08:23] spdkci commented on #1164
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58666.html

[2020-01-30 08:26] spdkci commented on #1169
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58679.html

[2020-01-30 08:27] spdkci commented on #1169
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58678.html

[2020-01-30 08:32] spdkci commented on #1165
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58670.html

[2020-01-30 09:19] spdkci commented on #1169
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58688.html

[2020-01-30 09:36] spdkci commented on #1096
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58686.html

[2020-01-30 10:07] ak-gh commented on #1161
On Thu, Jan 30, 2020, 10:40 shuhei-matsumoto <notifications@github.com>
wrote:

If that's what is underpinning the exit patches, I don't think designing a
key subsystem so as to suit the behavior of a single application is any
good approach.

Let me restate, just to be clear: I don't see anything in the thread API
that would prevent the message-based exit solution. Further, I believe
deferred thre

[2020-01-30 10:09] spdkci commented on #1007
Another instance of this failure. Reported by @tomzawadzki. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58561.html

[2020-01-30 10:11] spdkci commented on #1007
Another instance of this failure. Reported by @tomzawadzki. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58541.html

[2020-01-30 10:16] shuhei-matsumoto commented on #1161
Hi @ak-gh

I don’t think my patches will limit use cases, and Ben went through my patches.
If we set thread->exit we don’t have to use message.

Anyway let’s get more review as I said.

Will you provide any usecase or corner case such that my patches would not work?
I put many unit tests

See you tomorrow
Shuhei

[2020-01-30 10:17] shuhei-matsumoto commented on #1161
One question to @ak-gh

Your use case uses custom io channel and custom io devices?

[2020-01-30 10:34] ak-gh commented on #1161
On Thu, Jan 30, 2020 at 1:17 PM shuhei-matsumoto <notifications@github.com>
wrote:

Yes, I do that as well.

Regards,
Andrey

[2020-01-30 10:35] shuhei-matsumoto commented on #1161
Hi @ak-gh
I used my head when I walked to home :)
Honestly I don’t get why message is necessary.
Thread destroy is determined by reactor.
Reactor is just underneath thread.
On the other hand message is above thread.

So my patch should be simple and ok. Ben agreed overall once. Let’s get his comment again

[2020-01-30 10:39] shuhei-matsumoto commented on #1161
@ak-gh i know bdev layer have used message passing for unregistering

[2020-01-30 10:46] ak-gh commented on #1161
On Thu, Jan 30, 2020 at 1:35 PM shuhei-matsumoto <notifications@github.com>
wrote:

The key issue with setting thread->exit inline, IMO, is that it immediately
breaks thread messaging (since reactor won't process any messages from that
point on). This enforces inline channel removal and other housekeeping that
self-messaging approach cleanly avoids: _spdk_put_io_channel messages are
processed as u

[2020-01-30 10:48] pawelkax commented on #1162
I can confirm that this issue is not reproducible now.

[2020-01-30 10:51] shuhei-matsumoto commented on #1161
I removed that break from message handler. Did you see my patch?

[2020-01-30 10:54] tkulasek commented on #1162
@shuhei-matsumoto @pawelkax I've tried to reproduce it on fedora 28 VM running tests for several hours in a loop and nothing happen. Logs seems to be clean.

[2020-01-30 11:05] shuhei-matsumoto commented on #1161
Hi @ak-gh

As you felt, I changed overall design and now uses the policy to guard and reap.
Ben was very busy but read through my patches and gave me a favorable feedback.
Of course he may find my mistake today.
But I hope you will get similar impression if you have time to read through. And I believe we agree in the end

Thanks
Shuhei

[2020-01-30 12:14] darsto commented on #922
Closing due to inactivity.

This was a workaround for another issue which is now fixed.

[2020-01-30 12:14] #922 closed

[2020-01-30 12:19] tomzawadzki commented on #1169
@optimistyzy @shuhei-matsumoto
Unfortunately the patch https://review.gerrithub.io/c/spdk/spdk/+/483311, still triggers the Calsoft failure. Please see attached log [build.log.txt](https://github.com/spdk/spdk/files/4133923/build.log.txt).

[2020-01-30 12:32] pawelkax commented on #1162
@shuhei-matsumoto @tkulasek
I also cannot reproduce this issue on ubuntu18 VM. I think we can close this issue now.

[2020-01-30 12:50] darsto commented on #1173
There's one condition in code that we can easily remove and this issue will be fixed.

But we should also update comments in hello_bdev.c. Considering this is a most basic SPDK test app, the comments should be very descriptive.

[2020-01-30 13:13] spdkci commented on #1165
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58569.html

[2020-01-30 13:14] shuhei-matsumoto commented on #1169
Thank you so much Tomek. I saw the log and found the issue was not fixed

[2020-01-30 13:18] spdkci commented on #1169
Another instance of this failure. Reported by @tomzawadzki. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58705.html

[2020-01-30 13:27] pawelkax opened #1174 "SPDK should exit on RPC init failure"
To reproduce try to run:
  ./app/vhost/vhost -r ./app/vhost

Application should exit.

[2020-01-30 13:41] pawelkax commented on #1174
I would also like to report similar bug.
Application should exit when trying to start it with socket that is already in use.
To reproduce it:
1. ./app/vhost/vhost -r ./var/tmp/vhost_app.sock &
2. ./app/vhost/vhost -r ./var/tmp/vhost_app.sock

In point 2 application should exit.

[2020-01-30 13:42] spdkci commented on #1170
Another instance of this failure. Reported by @tomzawadzki. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58704.html

[2020-01-30 13:47] darsto commented on #1173
Fix: https://review.gerrithub.io/c/spdk/spdk/+/483386

[2020-01-30 13:47] #1173 closed

[2020-01-30 13:48] spdkci commented on #1165
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58716.html

[2020-01-30 13:59] darsto commented on #1174
SPDK is unable to start the RPC server, but in both cases it prints a nice and clear error message. [1]
Exiting on RPC failure could cause some problems now - even in our tests we may already depend on having e.g. multiple bdevperf instances started and not caring about RPC.

[1]
[code]

[2020-01-30 14:08] spdkci commented on #1169
Another instance of this failure. Reported by @tomzawadzki. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58723.html

[2020-01-30 14:09] darsto commented on #1132
Added bug scrub label - maybe you guys will have some ideas why this is happening.

[2020-01-30 14:25] darsto opened #1175 "nvmf_bdevperf hangs"
[code]

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/58724/archive/nvmf_autotest/build.log

[2020-01-30 14:27] spdkci commented on #1175
Another instance of this failure. Reported by @darsto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58724.html

[2020-01-30 14:32] spdkci commented on #1169
Another instance of this failure. Reported by @tomzawadzki. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58727.html

[2020-01-30 14:42] darsto commented on #948
It looks like the fix from #935 also applies here. Closing

[2020-01-30 14:42] #948 closed

[2020-01-30 15:15] spdkci commented on #1169
Another instance of this failure. Reported by @tomzawadzki. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58731.html

[2020-01-30 15:23] optimistyzy commented on #1169
@shuhei-matsumoto  I think that our direction is still a correct way, we may miss one part, that the upper layer actively remove the sock from the group, so we may also need this patch.

 https://review.gerrithub.io/c/spdk/spdk/+/483401

I may need refine this tomorrow.

[2020-01-30 15:23] darsto commented on #896
It took me a while - patch updated

[2020-01-30 15:40] darsto commented on #1135
Fix merged: https://review.gerrithub.io/c/spdk/spdk/+/483133
Thanks Seth!

[2020-01-30 15:40] #1135 closed

[2020-01-30 15:45] darsto commented on #840
Tomek allowed me to take this over

[2020-01-30 15:47] spdkci commented on #1169
Another instance of this failure. Reported by @tomzawadzki. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58738.html

[2020-01-30 15:48] Seth5141 commented on #1175
@darsto thanks for using the new latent failure reporting tool! This looks like a duplicate of #1165 so I am going to close it for now. Please ereopen if you feel it's different.

[2020-01-30 15:48] #1175 closed

[2020-01-30 16:05] darsto commented on #1175
Ah, thanks. I looked for nvmf github issues but it didn't show anything.

[2020-01-30 16:08] darsto commented on #1118
@jimharris Could I take over this?

[2020-01-30 16:16] spdkci commented on #1165
Another instance of this failure. Reported by @darsto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58732.html

[2020-01-30 16:27] Seth5141 commented on #1165
Patch here: https://review.gerrithub.io/c/spdk/spdk/+/483300

[2020-01-30 16:28] tomzawadzki commented on #1169
@optimistyzy Thank you for tackling the issue at such time !
After running patch https://review.gerrithub.io/c/spdk/spdk/+/483401 15 times over iscsi job - got hit by couple other failures but not once by Calsoft one. Looking good !

[2020-01-30 16:36] pawelkax commented on #1174
@darsto
Shouldn't this two cases be handled in file lib/vhost/rte_vhost_compat.c?
Code I see starts with:
`if (stat(path, &file_stat) != -1) {`
I don't see these two vhost logs.

[2020-01-30 18:12] spdkci commented on #1170
Another instance of this failure. Reported by @tomzawadzki. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58753.html

[2020-01-30 21:41] spdkci commented on #1170
Another instance of this failure. Reported by @benlwalker. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58761.html

[2020-01-30 21:41] spdkci commented on #1170
Another instance of this failure. Reported by @benlwalker. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58759.html

[2020-01-31 03:10] spdkci commented on #1170
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58813.html

[2020-01-31 03:46] spdkci commented on #1169
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58816.html

[2020-01-31 03:53] shuhei-matsumoto commented on #1162
Thank you for your investigation. Let's close this for now. Please re-open if  reproduced.

[2020-01-31 03:53] #1162 closed

[2020-01-31 05:18] spdkci commented on #1096
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58765.html

[2020-01-31 05:20] spdkci commented on #1096
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58715.html

[2020-01-31 05:46] spdkci commented on #1170
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58821.html

[2020-01-31 05:49] spdkci commented on #1170
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58822.html

[2020-01-31 06:52] Comphix commented on #1146
With same configuration, bdevperf runs well together with JSON config and enabled QoS.

Seems like still relating to the FIO threading which behaves differently here. Need to dig more.

[2020-01-31 07:19] spdkci commented on #1169
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58829.html

[2020-01-31 07:51] spdkci commented on #1137
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58546.html

[2020-01-31 07:57] spdkci commented on #1092
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58743.html

[2020-01-31 08:24] spdkci commented on #1169
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58838.html

[2020-01-31 08:26] spdkci commented on #1164
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58842.html

[2020-01-31 09:29] #1169 closed

[2020-01-31 11:05] Donaim commented on #1038
I submitted the fix: http://patches.dpdk.org/patch/65355/

[2020-01-31 12:39] tkulasek opened #1176 "apply_firmware RPC prevents closing bdev nvme library"
apply_firmware RPC call before bdev_nvme_detach_controller prevents clean closing of spdk_tgt with error "bdev_nvme.c:1881:bdev_nvme_library_fini: *ERROR*: Controller Nvme0 is still referenced, can't destroy it"

## Expected Behavior

1. All references to NVMe controller should be closed/removed.
2. spdk_tgt should cleanly exit receiving SIGTERM.

## Current Behavior

"rpc.py bdev_nvme_detach_cont

[2020-01-31 13:37] darsto commented on #1174
That code applies to vhost sockets -> the ones named after a vhost controller

-r command line parameter defines an RPC socket and is not related to vhost

[2020-01-31 13:42] darsto commented on #1165
This github issue is specific to an intermittent failure on CI and the workaround from Seth was merged, so I'm going to close this.

[2020-01-31 13:42] #1165 closed

[2020-01-31 13:46] Donaim commented on #1096
Instance with RDMA on vs-dpdk job:
https://ci.spdk.io/results/autotest-spdk-19-10-vs-dpdk-master/builds/1256/archive/nvmf_autotest_nightly/build.log

[2020-01-31 13:54] Donaim commented on #1141
Look like another one of this: https://ci.spdk.io/results/autotest-spdk-19-10-vs-dpdk-master/builds/1245/archive/iscsi_autotest_nightly/build.log
So reopening

[2020-01-31 14:24] Donaim opened #1177 "Build marked as failed with no errors in the log"
Build # 981 failed unexpectedly with no errors in the logs on `spdk-master-vs-dpdk-19.11` job.
End of the log:
[code]

## Expected Behavior

Build with no errors succeedes

## Steps to Reproduce

Reproduced once on CI

## Context (Environment including OS version, SPDK version, etc.)
SPDK 967fa2d707
DPDK 19.11

[2020-01-31 16:46] benlwalker commented on #1164
This issue has not occured on any patches rebased on top of d0f4a51fd, so the fix must have worked. Closing this issue. If anyone sees it happen again on a patch that includes that fix, we'll re-open.

[2020-01-31 16:46] #1164 closed

[2020-01-31 16:47] #1160 closed

[2020-01-31 17:37] pawelkax opened #1178 "hello_bdev cannot start with specific json"
To reproduce this issue:
1. Save to test/bdev/bev.json following content:
[code]
2. Run: examples/bdev/hello_world/hello_bdev --json test/bdev/bdev.json -b Malloc0
Command returns error:
[code]

[2020-01-31 21:57] peluse opened #1179 "START TEST bdev_verify data miscompare w/Jenkins Community CI Label"
Not sure what to make of this.  The patch itself is just some comment changes and the "regular" Jenkins passed fine but the Community Jenkins hit what looks like a real data miscompare using bdevperf.

Patch: https://review.gerrithub.io/c/spdk/spdk/+/483528

Fail Logs: https://d3uor3w1civ2bt.cloudfront.net/results/autotest-per-patch/builds/2848/archive/nvme-autotest/build.log

[2020-02-01 09:15] Comphix commented on #1146
Raise the patch at https://review.gerrithub.io/c/spdk/spdk/+/483547 and verify it works both for the JSON conf and conf file.

[2020-02-01 18:29] peluse commented on #1178
See proposed fix here: https://review.gerrithub.io/c/spdk/spdk/+/483562

[2020-02-01 19:36] peluse opened #1180 "test/nvmf/target/nvme_cli.sh: line 58: ./nvme: No such file or directory"
Hit this twice in CI today.

Log: https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/58943/archive/nvmf_phy_autotest/build.log

Patch (unrelated): https://review.gerrithub.io/c/spdk/spdk/+/483537

[2020-02-01 19:38] spdkci commented on #1180
Another instance of this failure. Reported by @peluse. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58943.html

[2020-02-01 21:37] spdkci commented on #1180
Another instance of this failure. Reported by @peluse. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58950.html

[2020-02-01 23:43] spdkci commented on #1180
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58956.html

[2020-02-02 00:02] spdkci commented on #1180
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58959.html

[2020-02-02 00:21] spdkci commented on #1170
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58962.html

[2020-02-02 00:53] spdkci commented on #1165
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58970.html

[2020-02-02 14:33] dnzlike commented on #1154
@peluse Thank you for your response. Sorry forgot to check this because of spring festival things. I did a make clean and re-run the configure and found a NOTICE which I didn't take a look. It's the nasm version didn't match. But now I encounter another question. I do have a QAT device on my server but when I run compress.sh it still shows
[code]
Does it need any configure to recognize the QAT dev

[2020-02-02 21:59] spdkci commented on #1180
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58969.html

[2020-02-02 22:00] spdkci commented on #1180
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58972.html

[2020-02-02 22:00] spdkci commented on #1180
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58982.html

[2020-02-02 22:02] spdkci commented on #1180
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58977.html

[2020-02-02 22:02] spdkci commented on #1180
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://d3uor3w1civ2bt.cloudfront.net/public_build/autotest-per-patch_2924.html

[2020-02-02 22:02] spdkci commented on #1180
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58967.html

[2020-02-02 22:03] spdkci commented on #1180
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58980.html

[2020-02-02 22:32] shuhei-matsumoto commented on #1170
https://d3uor3w1civ2bt.cloudfront.net/results/autotest-per-patch/builds/2924/archive/nvmf-autotest/build.log

[2020-02-02 22:41] spdkci commented on #1180
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58974.html

[2020-02-02 22:43] spdkci commented on #1180
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58989.html

[2020-02-02 22:44] spdkci commented on #1171
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58987.html

[2020-02-03 02:29] spdkci commented on #1170
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59000.html

[2020-02-03 07:12] spdkci commented on #1170
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58990.html

[2020-02-03 07:19] spdkci commented on #1007
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58906.html

[2020-02-03 09:29] spdkci commented on #1180
Another instance of this failure. Reported by @pawelkax. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_58961.html

[2020-02-03 11:50] tomzawadzki commented on #1180
This looks like the GP1 (maybe more) is missing the nvme cli tool. @karlatec Can you please take a look ?

[2020-02-03 12:44] tkulasek commented on #1176
Reference to the io channel wasn't released in apply_firmware RPC: https://review.gerrithub.io/c/spdk/spdk/+/483704

[2020-02-03 14:40] jimharris commented on #1118
Absolutely!  I'll assign it to you now.

[2020-02-04 07:42] karlatec commented on #1180
@tomzawadzki nvme-cli is in place in the right directory. Problem is that it's not built! There's no ./nvme binary file to execute.

[2020-02-04 11:18] ufo19890607 commented on #1155
I've used the latest spdk version, but spdk_lspci still cannot detect P4500 devices if VMD is enabled. This issue will disappear only if VMD is disabled.

By the way, I found that nvme device will shutdown ubnormally when I run setup.sh
[code]

[2020-02-04 11:18] spdkci commented on #1119
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59110.html

[2020-02-04 11:55] ksztyber commented on #1155
@ufo19890607 could you run `examples/vmd/lsvmd/lsvmd -d` and post the output here?

[2020-02-04 12:07] ufo19890607 commented on #1155
@ksztyber
[code]

[2020-02-04 12:17] ksztyber commented on #1155
@ufo19890607 is that all? I'd expect there to be a lot more debug output...

[2020-02-04 12:20] ufo19890607 commented on #1155
@ksztyber
Yes. I've attached all of the output information.

[2020-02-04 12:22] ksztyber commented on #1155
@ufo19890607 did you build the SPDK with debug info enabled (`./configure --enable-debug`)? If not, could you rebuild it with debug info and rerun the app?

[2020-02-04 12:28] ufo19890607 commented on #1155
@ksztyber
[code]

[2020-02-04 13:21] ufo19890607 commented on #1176
@tkulasek
Hi tkulasek. I've add your fix patch(483107: bdev/nvme: fix crash when invoking apply_firmware RPC), and found that spdk_json_decode_string will still free a NULL pointer. I still think we should free a certain pointer outside this function, which is more easier to understand.

At least, we can add a if statement.
[code]

[2020-02-04 13:54] tomzawadzki commented on #1178
Fix is now merged, @pawelkax can you confirm this resolves your issues ?

[2020-02-04 14:54] #1176 closed

[2020-02-04 14:57] spdkci commented on #1007
Another instance of this failure. Reported by @tomzawadzki. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59135.html

[2020-02-04 15:17] spdkci commented on #1007
Another instance of this failure. Reported by @pawelkax. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59126.html

[2020-02-04 15:18] spdkci commented on #1007
Another instance of this failure. Reported by @pawelkax. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59129.html

[2020-02-04 16:08] spdkci commented on #1170
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59065.html

[2020-02-04 16:51] #1148 closed

[2020-02-04 17:29] pawelkax opened #1181 "nvmf_lvol failure - assert error"
Occasionally, on TP when running nvmf_lvol test following error is displayed:
  17:20:42	# /var/jenkins/workspace/NVMeOF_tests/nvmf_autotest/spdk/scripts/rpc.py bdev_lvol_snapshot 3010c18d-d7d1-4611-8fec-7d56d54d880b MY_SNAPSHOT
nvmf_tgt: blobstore.c:1170: _spdk_blob_serialize: Assertion `blob->state == SPDK_BLOB_STATE_DIRTY' failed.

Sample log: https://dqtibwqq6s6ux.cloudfront.net/results/autote

[2020-02-04 17:31] spdkci commented on #1181
Another instance of this failure. Reported by @pawelkax. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59151.html

[2020-02-04 19:11] spdkci commented on #1181
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59139.html

[2020-02-04 20:06] jimharris commented on #1181
This is a duplicate of #1170

I'll move these failures instances to that issue.

[2020-02-04 20:06] #1181 closed

[2020-02-04 20:07] jimharris commented on #1170
(Moved from #1181)
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59139.html

[2020-02-04 20:07] jimharris commented on #1170
(Moved from #1181)
Another instance of this failure. Reported by @pawelkax. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59151.html

[2020-02-04 22:13] mhae commented on #1153
We have the same issue on CentOS. It's the 4.18 kernel. It is fairly easy to fix the driver. I did it once.

[2020-02-04 22:23] mhae opened #1182 "20.01: spdk_nvmf_subsystem_destroy no longer removes all listeners"
This is a new issue with 20.01. I'm using the public API spdk_nvmf_subsystem_destroy to destroy a subsystem with all its listeners (e.g. TCP). The listeners are no longer removed.

Looking at the RPC code for deleting a subsystem, it seems that `spdk_nvmf_subsystem_remove_all_listeners` is needed prior to calling the destroy function. However, `spdk_nvmf_subsystem_remove_all_listeners` is a privat

[2020-02-04 22:51] benlwalker commented on #1182
This was intentional. See commit 2167c68d1. The listeners exist independently of the subsystems now.

Do you really need to remove the listeners in your use case? If you do, you can call spdk_nvmf_tgt_stop_listen() to destroy them. You are allowed to destroy/re-create subsystems without ever destroying the listener though.

[2020-02-04 23:00] spdkci commented on #1119
Another instance of this failure. Reported by @peluse. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59155.html

[2020-02-04 23:27] mhae commented on #1182
So the proper approach now is to use spdk_nvmf_tgt_listen() to set up the listeners and then do the add_listener call on the subsystem to make the association? I can give that a try.

[2020-02-05 00:54] spdkci commented on #1119
Another instance of this failure. Reported by @peluse. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59227.html

[2020-02-05 03:08] spdkci commented on #1119
Another instance of this failure. Reported by @peluse. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59441.html

[2020-02-05 06:45] Comphix commented on #1146
With more debugging information, the issue is not clear.

We spawn a "dummy" thread for the initialization of the bdev layer for the FIO operation and each FIO job has its own thread.

(1) Case for the CONF file, the QoS is enabled at the time of bdev creation on the same thread (here it is the dummy thread).

(2) Case for JSON file, the QoS is set through RPC and enabled only when the bdev's chan

[2020-02-05 07:43] vonnyfly opened #1183 "vhost crash sometimes"
backtrace:
[code]
The memory size is 135291469824, nealy 126GB.

After adding some logs in qemu, I can see:
1. dev->mem->regions has this bad address size.
and set_mem_table through vhost_user protocal.
2. SPDK mmap the range, and touch every page, and the physical page is not available.
Why could the mmap success if memory is not enough?

I think this issue is from qemu, it gives a bad address ra

[2020-02-05 07:46] huangqingxin opened #1184 "coredump when process RDMA_CM_EVENT_DEVICE_REMOVAL"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

when the infiniband device is remove, the nvmf_tgt on the master  coredump.

## Expected Behavior
Can process without coredump

## Current Behavior
nvmf_tgt coredump

## Possible Solution
NA

## Steps to Reproduce
1. using Soft_RoC

[2020-02-05 08:31] AlekseyMarchuk commented on #1184
I reproduced this issue with RoCE NIC. Will check it

[2020-02-05 10:13] pawelkax commented on #1178
@tomzawadzki
I can confirm that json can be used with hello_bdev now.

[2020-02-05 11:39] AlekseyMarchuk commented on #1184
The problem is that RDMA_CM_EVENT_DEVICE removal can be triggered for either qpair or listening device. The current implementation assumes that the event occurs for qpair, so casting of the event context to rdma qpair leads to incorrect behaviour. In the case of an event dispatched for a device we need to close all qpairs associated with this device. I'm working on it.

[2020-02-05 12:16] wmalikow commented on #1155
@ufo19890607 I was trying to reproduce this issue but it seems everything is working fine on my environment.

[code]

To make progress on this issue we need to determine differences in our environments
- do you have any other devices connected to PCI switch under VMD?
- have you try this on different kernel versions?
- I see that in closed issue that you had reported some time ago - https://github

[2020-02-05 13:02] #1178 closed

[2020-02-05 13:03] peluse commented on #1178
thanks @pawelkax

[2020-02-05 14:53] darsto commented on #1118
Reproduced, debugging now.

[2020-02-05 15:10] AlekseyMarchuk commented on #1184
Hi @huangqingxin
Can you please check if this patch fixes the issue https://review.spdk.io/gerrit/c/spdk/spdk/+/574? It works on my side

[2020-02-05 15:29] darsto commented on #1118
The CRC failure occurs on some fio metadata, SPDK fio_plugin doesn't even get to send any I/O before the fio client exits.

Workaround: don't use --daemonize. Looking at the code, this param just makes fio go through an additional fork(). Why this matters? Still looking, although I'm changing this github issue's priority to low

[2020-02-05 16:19] darsto commented on #1118
Daemonized fio does:

[code]

And then starts opens a few sockets which get assigned fds 0, 1, 2, and so on:
[code]

FIO tries not to print any messages as a server, but still fails at it:
`111788 write(2, "Loading ioengines so_path=/home/"..., 104) = -1 EBADF (Bad file descriptor)`

Later on it's SPDK's fio_plugin that writes some messages to fd 1 and 2 and server picks it up as a FIO commands.

[2020-02-05 16:56] benlwalker commented on #1182
Yep - adding the listener to the subsystem is basically an access control operation now. They were unnecessarily coupled before.

[2020-02-05 17:04] #1182 closed

[2020-02-05 21:35] spdkci commented on #1119
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59860.html

[2020-02-05 21:35] spdkci commented on #1119
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59857.html

[2020-02-05 21:35] spdkci commented on #1119
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59863.html

[2020-02-05 21:37] spdkci commented on #1119
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59867.html

[2020-02-05 21:58] spdkci commented on #1170
Another instance of this failure. Reported by @peluse. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59888.html

[2020-02-05 23:12] spdkci commented on #1119
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59893.html

[2020-02-05 23:14] spdkci commented on #1119
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59891.html

[2020-02-06 07:56] spdkci commented on #1119
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59844.html

[2020-02-06 07:58] huangqingxin commented on #1184
Hi, @AlekseyMarchuk

I  have applied your patch, but there have other problems.

# Problem 1: The `rxe_cfg` will hang

When I re-follow the steps,  the `rxe_cfg` will hang util the nvmf_tgt exit.
The stack of `rxe_cfg remove` as follow
[code]

Is it normal, becasue we still have hold the device "rxe0", if i exit the nvmf_tgt, the `rxe_stop` will continue.

Or is it any other action should we take,

[2020-02-06 08:05] spdkci commented on #1096
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59934.html

[2020-02-06 08:42] huangqingxin commented on #1184
# Problem 2: the nvmf_tgt will go to *dead* when restart network.service

After create nvmf subsystem, and use `nvme-cli` connect to it, then restart the network.service, the nvmf_tgt becomes zoombie.

`root     44459 12.0  0.0 268653400 158052 ?    DL   16:12   2:02 ./app/nvmf_tgt/nvmf_tgt -r /home/spdk.sock`

here is the stack :
[code]
the log of nvmf_tgt
[code]
the behavior of infiniband device

[2020-02-06 09:13] shuhei-matsumoto opened #1186 "modprobe -r uio_pci_generic failed because uio_pci_generic is in use."
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/59946/archive/unittest_autotests/build.log

[code]

[2020-02-06 09:13] darsto commented on #1118
@karlatec while I'm at it, could you run your tests with the following patch and verify everything works?
https://review.spdk.io/gerrit/c/spdk/spdk/+/575/2

[2020-02-06 09:37] spdkci commented on #1186
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59951.html

[2020-02-06 09:38] spdkci commented on #1186
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59949.html

[2020-02-06 09:47] spdkci commented on #1186
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59948.html

[2020-02-06 10:29] AlekseyMarchuk commented on #1184
@huangqingxin thanks for your feedback, I'll check the issue with SoftRoCE

[2020-02-06 12:53] jgrodman commented on #852
I am also getting this error running a malloc bdev over RDMA

I am running nvmf_tgt with 1 core: `./nvmf_tgt -m 0x1`
I am running a single malloc bdev and exposing it over RDMA - see attached json file that I am loading via `./rpc.py load_config < rdma_malloc.json` (attached here as txt file because of github restriction)
[rdma_malloc.txt](https://github.com/spdk/spdk/files/4165097/rdma_malloc.txt