[2020-04-16 02:43] changpe1 commented on #1344
I guess this should related with your kernel vfio configuration, does the uio driver work for you?

[2020-04-16 02:45] changpe1 commented on #1343
Closing this issue for now, you can reopen it if related with SPDK. Thanks.

[2020-04-16 02:45] #1343 closed

[2020-04-16 02:46] changpe1 commented on #1332
issue #1309 is also related with this.

[2020-04-16 03:07] Seth5141 commented on #1096
I have this root caused and a patch series out to address the issue.

The problem is this. Historically when we disconnected a qpair from the initiator, we simply free all of the initiator side memory and called it a day. In the case where we were freeing a qpair from the bdev layer, we went one step further and just called spdk_nvme_ctrlr_free_io_qpair directly which calls disconnect and then imm

[2020-04-16 03:17] changpe1 commented on #1336
Closing this issue for now, we can reopen it if it still exist.

[2020-04-16 03:17] #1336 closed

[2020-04-16 03:51] spdkci commented on #1309
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_10694.html

[2020-04-16 04:03] changpe1 commented on #1349
[Bug Scrub] @tomzawadzki Could you take a look if we can upgrade the QEMU version ?

[2020-04-16 04:06] changpe1 commented on #1347
[Bug Scrub] @karlatec Could you take a look and maybe work with Paul to see any issue with QAT card.

[2020-04-16 04:07] dong-liuliu commented on #946
SPDK vhost-user-blk is already enabled in Kata [1.11.0-alpha1](https://github.com/kata-containers/runtime/releases/tag/1.11.0-alpha1) and will be included in upcoming Kata 1.11.0 release.
For more details, please visit [using-SPDK-vhostuser-and-kata](https://github.com/kata-containers/documentation/blob/master/use-cases/using-SPDK-vhostuser-and-kata.md)

[2020-04-16 04:07] #946 closed

[2020-04-16 04:10] changpe1 commented on #1345
Same with #1096 , @Seth5141 is working on it, so closing this issue for now.

[2020-04-16 04:10] #1345 closed

[2020-04-16 04:16] changpe1 commented on #1342
[Bug Scrub] It's should not an issue, let's keep it open for discussion.

[2020-04-16 04:22] changpe1 commented on #1332
[Bug Scrub] keep it open for now.

[2020-04-16 04:33] changpe1 commented on #1309
[Bug Scrub] All the failures are on GP3.

[2020-04-16 04:33] shuhei-matsumoto commented on #1342
@jimharris
If we take SPDK iSCSI target as an example, initiator group requires both host IQN and host IP address but we can set wildcard for both.

[2020-04-16 04:42] optimistyzy commented on #1096
I think that this patch may also be needed: https://review.spdk.io/gerrit/c/spdk/spdk/+/1226
The qid setting allocation should be conducted by the same thread.

[2020-04-16 04:44] shuhei-matsumoto commented on #1342
Add another comment. For iSCSI, I think access control has been implementation specific but most products have very similar functionality. It is not defined by RFC specification. Unfortunately I don't know fibre channel SCSI, but probably it has been defined by specification.

[2020-04-16 05:44] karlatec commented on #1332
#1309 only happens on one specific physical system (GP3) and always ends with assertion/coredump
#1332 happens only on VMs and is caused by lack of memory for reserving hugepages.

Totally unrelated issues in my opinion.
I hasn't happened for 8 days now. Personally I'd close it now, but I'm ok with waiting a bit longer to be sure.

[2020-04-16 05:54] karlatec commented on #1347
#1327 is related to crypto as well, true, but the fail happens at very different stage (driver initialization vs test fail).

@liang2yan The fail you reported has a build number very close to the one @mikeBashStuff reported, so I suspect it was caused by the same mistake.

Please see my comment from yesterday
[code]

[2020-04-16 08:51] Donaim commented on #1348
OCF sends some IO requests on startup. Evidently those failed, but then OCF should have communicated an error. My guess is that NVME doesn't call finish_io callback, which would also explain the hung that @mikeBashStuff observed.
Will look at it in debugger today

[2020-04-16 09:43] darsto commented on #1293
Ah, this can happen if `sudo autotest.sh` fails and the machine doesn't get rebooted. Subsequently run autobuild.sh (always run without sudo) will fail to remove that file since it doesn't have permissions.

This is still a bug - but let's remove the intermittent failure label. There used to be a problem with our script for rebooting CI machines, but it's been fixed from what I remember.

[2020-04-16 09:47] darsto commented on #1315
Let's get back to this after a few weeks and see if it persists. We could submit a bug report to the kernel if it doesn't get fixed.

[2020-04-16 12:09] dakshajauppalapati96 commented on #1286
Hi all,
Tried the test with runtime 100secs still fio hangs in both cases TCP and RDMA. So what could be the possible resolution. Is there anything I can help with?

[2020-04-16 12:51] darsto commented on #1349
There are some custom OCSSD patches in our qemu-3.0.0 branch needed for the FTL tests. I believe won't need them after we get physical FTL-capable devices, but for now they're necessary to test FTL.

If possible, I would suggest leaving FTL tests at older QEMU and move to the new QEMU with everything else. That should be the easiest way.

[2020-04-16 13:40] mikeBashStuff commented on #1293
@darsto I may be missing something here, but `autotest.sh` doesn't touch `/tmp/spdk` in any way so how its execution affects `autobuild.sh`?

[2020-04-16 13:43] spdkci commented on #1309
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_10769.html

[2020-04-16 14:57] spdkci commented on #1309
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_10734.html

[2020-04-16 17:21] spdkci commented on #1309
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_10810.html

[2020-04-16 18:28] karlatec commented on #1349
That may take a while, so we will need to stick with VMs running emulated FTL-capable drives.

[2020-04-16 20:32] spdkci commented on #1309
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_10832.html

[2020-04-16 21:06] mhae opened #1351 "NVMF: Abort command not plumbed through all the way to the bdev/nvme layer"
An initiator can use the abort command to abort an outstanding command. This is important in cases, where the initiator needs to immediately cancel all in flight admin/IO commands to prevent data corruption. While aborts are a best effort and not guaranteed, it may help in preventing data corruptions when the initiator is shut down or when a disk needs to be replaced.

Currently, the NVMF layer on

[2020-04-16 21:28] spdkci commented on #1318
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_10841.html

[2020-04-16 22:29] peluse commented on #1344
Has vfio ever worked for you on this system?

[2020-04-17 01:35] zlsh007 commented on #1344
@changpe1 , UIO can work, there may be a problem with the configuration of vfio, do you have any suggestions?
![image](https://user-images.githubusercontent.com/15990748/79522496-797a7000-808e-11ea-82de-165b8464eb94.png)

![image](https://user-images.githubusercontent.com/15990748/79522502-7d0df700-808e-11ea-8e41-ef734545515d.png)

![image](https://user-images.githubusercontent.com/15990748/795225

[2020-04-17 01:38] zlsh007 commented on #1344
@peluse  This machine is a new environment. At least I have not successfully used vfio on it. I wrote the BDF information of several disks in the /etc/spdk/spdk.conf configuration file, which will automatically initialize the nvme subsystem

[2020-04-17 06:20] spdkci commented on #1309
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_10885.html

[2020-04-17 07:04] AlekseyMarchuk opened #1352 "[nvmf-autotest] Build timed out, rxe not found"
Issue happens after nvmf_target_disconnect

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_10887.html

## Execution failed at
[code]

[2020-04-17 07:06] spdkci commented on #1352
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_10887.html

[2020-04-17 08:30] Donaim commented on #1348
I reproduced issued on my machine.
Not getting the NVME error at all, strange.
Tried updating OCF to 20.3 but it didn't help.
Will investigage further.

[2020-04-17 09:43] tomzawadzki commented on #1289
CI passed on the patch with changes to json configuration. This looks like it was resolved.

[2020-04-17 09:43] #1289 closed

[2020-04-17 09:43] spdkci commented on #1309
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_10905.html

[2020-04-17 09:45] spdkci commented on #1309
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_10901.html

[2020-04-17 10:22] dakshajauppalapati96 commented on #1286
Hi,
In RDMA tried on TOT spdk, still seen the issue  fio hangs when I increased the runtime to 100.

[2020-04-17 10:24] dakshajauppalapati96 commented on #1286
Hi @glodfish-zg

I think increasing fio runtime is not the solution since fio hangs when I increased runtime to 20 and 100. Also https://review.spdk.io/gerrit/c/spdk/spdk/+/1515 patch doesn't fix the issue.

[2020-04-17 11:10] spdkci commented on #1309
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_10920.html

[2020-04-17 11:40] spdkci commented on #1280
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_10919.html

[2020-04-17 13:35] Donaim commented on #1316
Working on implementing referenced change for our virtio_user lib,
but I am not sure how using that change do the refactoring to remove `virtio_user_map_notify()`.
Will carry this topic in next week

[2020-04-17 14:16] mhae commented on #1342
What would be the purpose of using IP addresses, rather than the nqn? It's unclear to me why we would need this. For authentication purposes?
IP addresses can change, even static ones. Also, host nqn is currently used for access control, and more importantly, as an identifier for the session. Using an IP as an identifier would work if we ever support static session instead of dynamic session.
Comi

[2020-04-17 16:42] spdkci commented on #1325
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_10973.html

[2020-04-17 16:50] spdkci commented on #1096
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_10975.html

[2020-04-18 07:32] Seth5141 commented on #1309
Found out that this machine didn't have ulimit set properly, so I changed it to unlimited. Let's see if this issue disappears over the next few days. If it does, we can close it.

[2020-04-18 22:28] peluse opened #1353 "[iscsi_tgt_ip_migration] json error with RPC net_interface_delete_ip_address"
02:22:15	# /var/jenkins/workspace/iscsi-autotest/spdk/scripts/rpc.py -s /var/tmp/spdk0.sock net_interface_delete_ip_address 1 127.0.0.2
request:
{
  "ifc_index": 1,
  "ip_address": "127.0.0.2",
  "method": "net_interface_delete_ip_address",
  "req_id": 1
}
Got JSON-RPC error response
response:
{
  "code": -32602,
  "message": "IP address 127.0.0.2 is not found in interface 1"
}
 02:22:15	# echo 'I

[2020-04-18 22:30] spdkci commented on #1353
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_11045.html

[2020-04-18 22:53] peluse opened #1354 "[ocf_fio_modes] Error -1000012 during start cache PT_Nvme"
WB_Nvme0: Successfully added
WB_Nvme0: Cache mode : wb
Inserting cache WB_Nvme1
WB_Nvme1: Successfully added
WB_Nvme1: Cache mode : wb
PT_Nvme: Not enough free RAM for cache metadata to start cache
PT_Nvme: Available RAM: 116473856 B
PT_Nvme: Needed RAM: 117334272 B
WT_Nvme: Not enough free RAM for cache metadata to start cache
WT_Nvme: Available RAM: 116473856 B
WT_Nvme: Needed RAM: 117334272 B
W

[2020-04-18 22:54] spdkci commented on #1354
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_11047.html

[2020-04-19 15:00] spdkci commented on #1309
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_11060.html

[2020-04-19 15:02] spdkci commented on #1297
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_11061.html

[2020-04-19 23:29] shuhei-matsumoto commented on #1353
Hi Paul,

this looks duplicated with #1313. So close for now.

[2020-04-19 23:29] #1353 closed

[2020-04-20 01:30] changpe1 commented on #1316
virtio_user_map_notify() will be called several times so that we have several SET_MEM_TABLE messages received in the vhost target, I'm thinking we can just send 1 SET_MEM_TABLE message using the new DPDK API. The message should include all the memory segments in the DPDK.

[2020-04-20 06:26] shuhei-matsumoto opened #1355 "iSCSI target: segmentation fault at TAILQ_REMOVE(&conn->active_r2t_tasks) in del_connection_queued_task()"
iSCSI initiator tries to login again if the current connection is stacked. SPDK iSCSI target forces to the current connection (connection 1) to exit if an new connection (connection 2) is created by the same iSCSI initiator.

The connection 1 caused segmentation fault in the destruct path, at TAILQ_REMOVE(&conn->active_r2t_tasks) in del_connection_queued_task().

This issue has occurred only when

[2020-04-20 06:57] spdkci commented on #1325
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_11076.html

[2020-04-20 09:33] karlatec commented on #1254
Fixed. Nightly builds summary pages available:
https://ci.spdk.io/public_build/autotest-nightly.html

FYI:
- There's no nightly failing now. It has been removed from configuration.
- Summary pages for "vs-dpdk" builds are not available now, but will appear soon.

[2020-04-20 11:52] mikeBashStuff opened #1356 "[nvmf] Kernel's BUG triggered while running filesystem_ext4 test"
System details:
[code]

During the `nvmf/target/filesystem.sh` run, the `filesystem_ext4` test blocked while executing `mkfs.ext4` for indefinite amount of time, causing `nvmf_tgt` to hit a timeout:

[code]
While `mkfs.ext4` is stuck in the kernel, this can be seen in the kmsg:
[code]
The only way to fully stop `filesystem.sh` is by treating it with SIGKILL. Afterwards, `mkfs.ext4` ends up under i

[2020-04-20 13:22] karlatec opened #1357 "[unitest-nightly] compilation error in autopackage.sh"
## Current Behavior

Compilation failure:

[code]

https://ci.spdk.io/public_build/autotest-nightly_371.html

## Steps to Reproduce

1. Run SPDK ./autorun .sh with current unit-test config:
[code]
2. autopackage.sh fails on:
[code]

## Context (Environment including OS version, SPDK version, etc.)

SPDK 22a1acce9
Fedora 30 5.4.21
KVM Virtual Machine

[2020-04-20 13:53] mikeBashStuff opened #1358 "nvmf_create_transport failed in connect_disconnect.sh"
System details:
[code]

This happened suddenly, while trying to locally reproduce https://github.com/spdk/spdk/issues/1252.

After 40th run, call to nvmf_create_transport failed:
[code]

nvmf trace: [nvmf_trace.0_shm.tar.gz](https://github.com/spdk/spdk/files/4503870/nvmf_trace.0_shm.tar.gz)

No cores, kernel was quiet at the time.

[2020-04-20 17:11] spdkci commented on #1309
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_11149.html

[2020-04-20 18:06] archiemorningstar opened #1359 "cmb_copy failure in QEMU"
Trying to run cmb_copy (examples/nvme/cmb_copy) using an emulated CMB SSD in QEMU, but cmb_copy reports it cannot allocate a CMB buffer. The identify (examples/nvme/identify) reports the two emulated SSD's I created have 128MB of CMB. Enabling --enable-debug shows print outs:
[code]

## Expected Behavior
cmb_copy should be able to allocate the CMB buffer and run the example application successfull

[2020-04-20 18:15] sbates130272 commented on #1359
Thanks @archiemorningstar. As noted in the email chain this was working in the past. Also the similar framework in-kernel (p2pdma) continues to work fine with QEMU so I do suspect this is an SPDK memory allocation issue.

[2020-04-20 18:19] spdkci commented on #1096
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_11140.html

[2020-04-20 18:32] spdkci commented on #1096
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_11178.html

[2020-04-20 18:50] spdkci commented on #1096
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_11146.html

[2020-04-20 19:32] jimharris commented on #1357
Commit 4f7f0f0986 is the culprit here.  It added the config params when doing the configure in autopackage.sh.  Before this point, the reduce unit tests were never built with LTO.  autopackage.sh is only run as a nightly test, and I'm guessing this patch never ran through the test pool with nightly enabled before getting merged.

It's not entirely clear how we should fix the reduce unit tests.  It

[2020-04-20 20:01] jimharris commented on #1357
@Seth5141 - never mind on the revert patch.  I think this patch fixes the problem.

https://review.spdk.io/gerrit/c/spdk/spdk/+/1948

[2020-04-21 04:43] spdkci commented on #1325
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_11246.html

[2020-04-21 06:11] spdkci commented on #1313
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_11261.html

[2020-04-21 06:21] spdkci commented on #1297
Another instance of this failure. Reported by @liang2yan. log: https://ci.spdk.io/public_build/autotest-per-patch_11260.html

[2020-04-21 07:43] spdkci commented on #1313
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_11164.html

[2020-04-21 08:08] changpe1 commented on #1359
Here is the fix with mater SPDK branch, I tested with provided command line, it passed https://review.spdk.io/gerrit/c/spdk/spdk/+/1955/1.

[2020-04-21 08:12] changpe1 commented on #1359
For the issue with SPDK v20.01.1 and earlier version, because in function spdk_pci_device_init() the callback to call spdk_mem_register() was earlier than TAILQ_INSERT_TAIL(&g_pci_hotplugged_devices, dev, internal.tailq);  Ben already refactor this part of code, so the issue isn't exist with master version.

[2020-04-21 09:54] mikeBashStuff commented on #1252
Managed to reproduced it locally once in 100 runs (running on Fedora 30, kernel  5.4.19-100.fc30.x86_64). The full trace:

[code]
Based on the above, I am still quite confused why allocation could have failed. The DMA32 zone can't manage the high order alloc for 64KB, but Normal zone should have met the requirements I think. That said, the alloc failed for the kernel thread (`kworker`) and I don't

[2020-04-21 10:43] spdkci commented on #1313
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_11294.html

[2020-04-21 10:44] spdkci commented on #1313
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_11301.html

[2020-04-21 12:40] tomzawadzki commented on #1351
Bdev layer does not currently support abort at this time, which makes adding it a potential enhancement.

There is Slack thread with ongoing discussion regarding this topic:
https://spdk-team.slack.com/archives/CPQCY1XCL/p1587069714031700

[2020-04-21 12:49] tomzawadzki commented on #1347
As per @karlatec comments, this issue was caused by maintenance work on one of the machines. Since then tests already had a chance to run on it multiple times.

[2020-04-21 13:37] tomzawadzki commented on #1332
As per @karlatec comment https://github.com/spdk/spdk/issues/1332#issuecomment-611067371, this has been occurring due to machines not properly resetting after failures. After the fix 13 days ago, no new report since.

[2020-04-21 13:37] #1332 closed

[2020-04-21 13:40] tomzawadzki commented on #1330
The issue was caused by missing `socat` on particular FreeBSD machine at the time.
`test/spdkcli/tcp.sh: line 65: socat: command not found`

I believe the machines were updated to with this since. No new reports were posted as well.
@karlatec Can you confirm that action was taken to make sure socat was installed on all FreeBSD machines ?

[2020-04-21 13:50] karlatec commented on #1330
I'm 99.999% sure that it was.
@wawryk can confirm so we can be 100% sure;)

[2020-04-21 13:52] tomzawadzki commented on #1330
Well I'm good with this level of confirmation ;)

[2020-04-21 13:52] #1330 closed

[2020-04-21 13:57] tomzawadzki commented on #1325
First logs from @peluse were not iscsi tests in particular. First log was timeout during coverage gathering. Second on rbd creation.

Logs from @optimistyzy, belong to https://github.com/spdk/spdk/issues/1313.
https://ci.spdk.io/public_build/autotest-per-patch_11246.html
https://ci.spdk.io/public_build/autotest-per-patch_11076.html

Let's discuss on bug scrub, but this looks like candidate for clo

[2020-04-21 14:03] karlatec opened #1360 "[test/vmd] examples/identify issues with VMD"
First of all: sorry for quite general title but I wasn't sure how to phrase that. Feel free to change it.

I have problems with running nvme tests (test/nvme) with NVMe drives on PCI slots which are part of VMD configuration, but the VMD subsystem is not enabled when running the test. Reproduction steps will clarify.

## Current Behavior

Cannot use NVMe drives which are patr of VMD when they are

[2020-04-21 14:09] karlatec commented on #1360
I just tried the same steps but with VFIO instead.

There's a difference how disks are bound to userspace driver:
[code]
So NVMes on "VMD lanes" are not actually bound, so there's no surprise now in examples/idenfity not working in this case:
[code]

fio-nvme doesn't work anymore:
[code]

[2020-04-21 15:07] tomzawadzki commented on #1360
[Bug scrub] There can be two issues here. 1) with the tests scripts 2) with VMD driver.
@karlatec will follow up on this issue.

[2020-04-21 15:14] tomzawadzki commented on #1349
[Bug scrub] We will look into whats possible with regards to updating FTL patches on top of newer QEMU version.

[2020-04-21 15:43] karlatec commented on #1335
@wanghailiangx did you run these steps manually or by script?
There's a test/common/config/vm_setup.sh script which you can use to install VPP on you system.
`test/common/config/vm_setup.sh -t "vpp"`

We run VPP on Fedora30 systems in the CI and I did some manual reinstalling myself, so I'm pretty sure it's OK...
Example CI system specs:
[code]

[2020-04-21 15:57] karlatec commented on #1335
@wanghailiangx did you run these steps manually or by script?
There's a test/common/config/vm_setup.sh script which you can use to install VPP on you system.
`test/common/config/vm_setup.sh -t "vpp"`

We run VPP on Fedora30 systems in the CI and I did some manual reinstalling myself, so I'm pretty sure it's OK...
Example CI system specs:
[code]

[2020-04-21 16:30] mikeBashStuff commented on #1352
The actual error about missing interface is an expected one since `rxe_cfg` doesn't consider net devs to be valid if they don't have a digit in their names (hilarious, I know). By default, `lo` would be skipped by `rxe_cfg` but since it's being explicitly added, you can see also the following (this happens for every build and it doesn't really affect anything):
[code]
When it's time to remove all

[2020-04-21 16:55] tomzawadzki commented on #1352
[Bug scrub] This occurred only in the instance of linked patches.
@karlatec suspects that other patches in review might have caused it, and will take a look at.

Yet as those were not merged, it should be fine to close this particular issue.

[2020-04-21 16:55] tomzawadzki commented on #1346
[Bug scrub] This particular message from `setup.sh` triggers on all CI test runs with vfio. Information it displays is correct, but all the tests are still ran using the sudo/root rather than actual user this information relates to.
The messaging is not clear and should be more specific.

[2020-04-22 05:44] karlatec commented on #1335
@tkulasek perhaps you could also take a look at the failure?

[2020-04-22 07:59] wanghailiangx commented on #1335
@karlatec Thank you for your attention. I tried vm_setup.sh before, these below steps are from this script.  Manual execution is the same.
5.git -C ./vpp apply test/common/config/patch/vpp/fedora30-fix.patch
6.yes | make -C ./vpp install-dep
7.make -C ./vpp build -j

[2020-04-22 08:36] tomzawadzki commented on #1346
Patch fixing calling ulimit with proper user and messaging around it:
https://review.spdk.io/gerrit/c/spdk/spdk/+/1964

[2020-04-22 10:44] Donaim commented on #1354
Looking at
[code]
the issue is that OCF needed more RAM than we provide

I will submit a patch that will increase the number of hugepages that we allocate for CI tests

[2020-04-22 10:50] Donaim opened #1361 "_spdk_bs_lba_to_cluster() assert when deleting lvol bdev"
Running `test/lvol/tasting.sh` fails on my machine every time
From `test/lvol/*` directory it is the only test that fails
But another one is `vhost_scsi_lvol_integrity` that runs during `test/vhost/vhost.sh`

## Expected Behavior

All lvol tests pass

## Current Behavior

Tests fail every time
[lvol-log.txt](https://github.com/spdk/spdk/files/4516944/lvol-log.txt)
[vhost-log.txt](https://github.co

[2020-04-22 10:50] Donaim commented on #1361
Log from `test/lvol/tasting.sh`

[code]

[2020-04-22 10:51] Donaim commented on #1361
Relevant part of `test/vhost/vhost.sh` log:
[code]

[2020-04-22 11:03] Donaim commented on #1317
I submitted an issue related to fails that I have with vhost/ tests - #1361
I am not able to reproduce this issue until that one resolves

[2020-04-22 11:15] mikeBashStuff commented on #1361
For lvol stuff, this is sorting issue. I can reproduce it from time to time on my local system. I think we should drop `-S` and sort in a `| sort` fashion instead.

[2020-04-22 11:31] mikeBashStuff commented on #1361
Potential fix for the issue with lvol test - https://review.spdk.io/gerrit/c/spdk/spdk/+/1973

[2020-04-22 11:47] Donaim commented on #1361
@mikeBashStuff thanks! It did solve the issue with lvol test

[2020-04-22 13:13] mikeBashStuff opened #1362 "identify hit by a SIGILL"
[code]
VM config:
[code]
Spotted while testing `cmb_copy`:
[code]
Core dropped from `identify`: [identify_debug.tar.gz](https://github.com/spdk/spdk/files/4516146/identify_debug.tar.gz)

Same can be seen on our Fedora 31 image (kernel 5.5).

[2020-04-22 21:12] peluse opened #1363 "[spdkcli_rbd] Logs just stop without any error indication"
## Link to the failed CI build

## Execution failed at

[2020-04-22 21:13] sbates130272 commented on #1359
@changpe1 thanks for root causing this. So which release(s) of SPDK did this impact? Can we add some form of regression test based on this QEMU example from @archiemorningstar to ensure it does not regress in the future?

[2020-04-22 21:19] sbates130272 commented on #1359
Also @changpe1 it is not clear to me why we have to disable the CMB for SQEs in order to get cmb_copy to work. There should be plenty of room in the CMB for both the SQEs and the DMA data used for the copy. I just wonder if your fix (disabling SQEs in the CMB) is simply hiding the real root cause?

[2020-04-22 22:23] jimharris opened #1364 "spdk_nvme_connect() - ctrlr_opts is not ABI friendly"
ctrlr_opts structure is supposed to support apps built against older versions of this structure to be linked with newer versions of the nvme library that may have extended ctrlr_opts

but spdk_nvme_connect() clearly just returns an error if the current size (sizeof(*opts)) does not match the caller's size (opts_size).

we need to add an opts_size to the ctrlr_opts to handle this case

please - who

[2020-04-23 00:13] archiemorningstar commented on #1359
@changpe1 @sbates130272
The change works fine for cmb_copy but if you try to create a bdev with with a cmb ssd it crashes with an illegal instruction.
At least in my environment, I've traced it to a memset call in nvme_pcie_qpair_reset() which is trying to zero out the sqs. I'm not familiar with vector instructions, but it looks like an AVX2 instruction is being invoked and I guess trying to use t

[2020-04-23 00:41] changpe1 commented on #1359
Actually I removed the limitation in the driver layer, and tested SQE in CMB with CMB copy, Ben added the limitation, I will ask him is there any special reason for it, if no I can add it back.

[2020-04-23 00:51] changpe1 commented on #1359
I met the same issue too, and I removed that line in nvme_pcie_qpair_reset() to pass the test.  This maybe related with the configuration, it's should be another issue not related with this one.

[2020-04-23 06:49] tomzawadzki commented on #1363
Gonna need little bit more info @peluse :)

[2020-04-23 07:05] tomzawadzki opened #1365 "[*] Build timed out without reaching 15 minute mark"
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/11506/archive/iscsi-autotest/build.log

## Execution failed at
First timing in log:
[code]

Failure point:
[code]

[2020-04-23 07:09] tomzawadzki commented on #1365
@karlatec Is there a way to narrow down there the remaining test time went ? As in timing logs for things like git clone etc ?

[2020-04-23 08:00] Donaim commented on #1354
I did tests to see how much memory OCF consumes and it looks like 8GB that we allocated on CI should be enough.
Then I noticed that when OCF asks our env for "free memory" we report non-hugepage memory, while most allocation are done on hygepage memory.
So this is a bug that is most likely responsible for the reported error.
I will fix our OCF env function

[2020-04-23 08:29] spdkci commented on #1297
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_11570.html

[2020-04-23 08:30] spdkci commented on #1313
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_11567.html

[2020-04-23 08:30] spdkci commented on #1318
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_11493.html

[2020-04-23 08:30] spdkci commented on #1365
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_11491.html

[2020-04-23 08:30] spdkci commented on #1318
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_11503.html

[2020-04-23 08:30] spdkci commented on #1313
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_11413.html

[2020-04-23 08:32] spdkci commented on #1365
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_11506.html

[2020-04-23 08:51] spdkci commented on #1313
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_11585.html

[2020-04-23 09:23] Donaim commented on #1354
There does'nt seem to be an API to get available HUGEPAGE memory in SPDK.
And if we return (-1)(uint64_t) like in OCF posix env example, then it will hang on initialization.
I will be looking into this more

[2020-04-23 10:38] optimistyzy commented on #1364
@jimharris  I will  work on this, so if we add opt_size in the structure, I think that the parameter of opts_size should be removed. But if remove this parameter in this function, will cause ABI not compatiable.

[2020-04-23 10:45] optimistyzy opened #1366 "NVMe-oF TCP failure (nvmf_shutdown_tc2)"
The test should  pass.

It fails. See this log: https://ci.spdk.io/results/autotest-per-patch/builds/11591/archive/nvmf-tcp-autotest/build.log

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context (Environment including OS version, SPDK version, etc.)

[2020-04-23 10:46] spdkci commented on #1366
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_11591.html

[2020-04-23 11:40] spdkci commented on #1313
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_11589.html

[2020-04-23 11:54] mikeBashStuff commented on #1361
Regarding vhost stuff, I am able to reproduce it locally, but I have no clue why this assertion is being raised (which consequently kills `vhost`).

`vhost: blobstore.h:524: _spdk_bs_lba_to_cluster: Assertion lba % (bs->cluster_sz / bs->dev->blocklen) == 0' failed.`

In my case, this is how lv_store is defined:
[code]
With lvol looking like so:
[code]
So if I am reading this correctly (there's a b

[2020-04-23 12:04] ak-gh commented on #1361
On Thu, Apr 23, 2020, 14:54 Michal Berger <notifications@github.com> wrote:

same.

Regards,
Andrey

[2020-04-23 12:14] optimistyzy commented on #1364
And also see the following two patches:

 https://review.spdk.io/gerrit/c/spdk/spdk/+/1996
 https://review.spdk.io/gerrit/c/spdk/spdk/+/1992

It just removes the opts_size in spdk_nvme_ctrlr_get_default_opts and spdk_nvme_connect, but breaks the ABI.  But definitely, we can still keep this parameter.

[2020-04-23 12:32] Donaim commented on #1354
Submitted a fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/1976

[2020-04-23 12:36] optimistyzy commented on #1366
Maybe the issue is that I did not rebase my patch with the master. But I also see several patches executed before my patch also failed.

[2020-04-23 12:41] mikeBashStuff opened #1367 "spdk_top - sorting issue with numeric values"
`SPDK: v20.01-rc1-932-g0b9b70d0f`

Two issues:

1) It's not clear what order is being used for sorting columns which hold numeric values. E.g., for `Core` column in `Threads` tab, sorting seem to be in ascending order:
[code]
However,  if sorting is switched to, e.g., `Active pollers`, which is also represented in numeric form, the output looks like so:
[code]
So this puts all the threads with > 0

[2020-04-23 12:56] Maciej-Szwed commented on #1367
Add 1. Sorting is done in a such way that more interesting data lands on top (more runs, longer time, first cores, etc)
Add 2. This is a bug - fix is here: https://review.spdk.io/gerrit/c/spdk/spdk/+/1999

[2020-04-23 13:05] mikeBashStuff commented on #1361
Is it possible to define a different block_size for the lvs (I can't see it being possible via rpc call to `bdev_lvol_create_lvstore` at least)? And the lvol's block_size seems to be the one of actual bdev - this test is using Nvme* so it can't be really changed I think (as it would be possible for Malloc bdev). With all that said, the very same config is used in CI and seems to be working just fi

[2020-04-23 13:44] mikeBashStuff commented on #1367
I think it would be nice if this was mentioned in some way in the README then. :)

[2020-04-23 14:01] jimharris commented on #1363
Closing for now.  @peluse - if you have more details, please add them and reopen.

[2020-04-23 14:01] #1363 closed

[2020-04-23 14:08] jimharris commented on #1365
Looking at the log in Jenkins, which also shows the timestamps for cloning, etc.:

13:44:32 Success build forhudson.tasks.Shell@4a492dd8
13:44:32 provisioning config files...
13:44:32 copy managed file [copy_or_clone] to file:/var/jenkins/workspace/iscsi-autotest/copy_or_clone.sh
13:44:32 [iscsi-autotest] $ /usr/bin/env bash /tmp/jenkins483427499330491817.sh
13:44:32 MANUAL, will clone
13:44:32 Cl

[2020-04-23 14:10] jimharris commented on #1365
Similar for 11491:

12:14:26 Pre-SCM step. Deleting whole workspace.
12:14:27 Success build forhudson.tasks.Shell@4a492dd8
12:14:27 provisioning config files...
12:14:27 copy managed file [copy_or_clone] to file:/var/jenkins/workspace/iscsi-autotest/copy_or_clone.sh
12:14:27 [iscsi-autotest] $ /usr/bin/env bash /tmp/jenkins2798824265069264096.sh
12:14:27 MANUAL, will clone
12:14:27 Cloning into '/

[2020-04-23 14:13] jimharris commented on #1365
Both of these failures were on GP_RED.  I checked iscsi_autotest on a different job which ran on GP2 - in that case, the delay was much shorter when cloning, and did not show anything about counting objects or finding sources on the remote.

Could this be a configuration problem on GP_RED?

[2020-04-23 14:32] jimharris commented on #1367
The patch seems fine to me.  @mikeBashStuff - could you pull the patch and confirm it fixes the sorting as intended?

I think @mikeBashStuff was also suggesting a bit longer explanation in the README on how the sorting works, I wouldn't be opposed to that either.

[2020-04-23 14:36] mikeBashStuff commented on #1367
@jimharris Already done that - all seems to be working fine with the patch in place. :)

[2020-04-23 14:59] Donaim commented on #1348
I made progress today
It seems that OCF is initializing correctly, but it takes really long time
I added a 200second sleep before doing `bdev_ocf_get_bdevs` from second run, and then results match
Questions that are still unanswered:
- why switching to JSON from INI format causes this behaviour? Here I observed that in case of JSON, the order of examines is different, which is probably more close

[2020-04-23 15:17] jimharris opened #1368 "qat_setup.sh: Failed to start qat_service.service: Unit qat_service.service not found."
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_11624.html
https://ci.spdk.io/results/autotest-per-patch/builds/11624/archive/crypto-autotest/build.log

## Execution failed at

 15:57:51	# XTRACE_DISABLED=yes
 15:57:51	# set +x
 15:57:51	# xtrace_enable
 15:57:51	# [[ 1 -eq 1 ]]
 15:57:51	# grep -q '#define SPDK_CONFIG_IGB_UIO_DRIVER 1' /var/jenkins/workspace/cry

[2020-04-23 15:19] spdkci commented on #1368
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_11624.html

[2020-04-23 15:22] peluse commented on #1368
FYI this typically means the QAT 01.org kernel driver needs to be rebuilt and installed

[2020-04-23 15:34] jimharris commented on #1368
Thanks Paul.  This was on GP4, in case anyone wants to check If the kernel driver needs to be rebuilt and installed on that system.

[2020-04-23 15:53] spdkci commented on #1297
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_11638.html

[2020-04-23 16:28] spdkci commented on #1297
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_11640.html

[2020-04-23 16:32] spdkci commented on #1365
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_11646.html

[2020-04-23 16:59] jimharris commented on #1365
11646 was also on GP_RED.

[2020-04-23 17:33] spdkci commented on #1365
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_11659.html

[2020-04-23 18:15] spdkci commented on #1297
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_11642.html

[2020-04-23 19:21] jimharris commented on #1327
@karlatec @mikeBashStuff these both happened on GP4 - do you know if that system was updated?  failures haven't been seen on that system for a couple of weeks now

[2020-04-23 19:42] jimharris commented on #1365
11659 was also on GP_RED.

[2020-04-24 06:08] karlatec commented on #1327
Actually it might have been updated to 5.5.10 kernel about a week ago or so. This was done to keep systems consistent and as a request in #1315 issue. Had to re-install QAT driver too.
It seems we do not have a reproduction for over 2 weeks not, GP4 build history is all green so I guess we can close this issue.

[2020-04-24 07:32] spdkci commented on #1365
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_11730.html

[2020-04-24 08:02] #1367 closed

[2020-04-24 08:05] karlatec commented on #1365
Updated local mirror repos on systems, so there should be less to fetch now. Let's see if that helps

[2020-04-24 08:07] yidong0635 opened #1369 "unittest failed without idxd_ut"
# Issue：
git submodule update --init
./configure  --with-ocf --without-isal
make  -j10
./test/unit/unittest.sh
"
 23:55:37       # /home/storage/spdk/test/unit/lib/idxd/idxd.c/idxd_ut
/home/storage/spdk/test/common/autotest_common.sh: line 758: /home/storage/spdk/test/unit/lib/idxd/idxd.c/idxd_ut: No such file or directory
  23:55:37      # trap - ERR
  23:55:37      # print_backtrace
  23:55:37

[2020-04-24 09:16] tomzawadzki commented on #1369
Please see fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/2012

[2020-04-24 10:18] karlatec commented on #1368
GP4 had an old version of driver.
Upgraded it to latest qat1.7.l.4.9.0-00008 and made sure all of QAT-enabled systems are up to date and running:

[code]

[code]

[code]

[code]

[code]

[2020-04-24 11:07] Donaim commented on #1241
No new reports for more than a week now, so closing this.
Please reopen if needed

[2020-04-24 11:07] #1241 closed

[2020-04-24 11:09] Donaim commented on #1316
Thanks @changpe1
I was focusing on issue #1348 because that one is a blocker currenly
But I will come back to this issue next week

[2020-04-24 12:45] karlatec opened #1370 "[autobuild.sh] external_run_tc1 fails due to lack of hugepages"
## Current Behavior

I have a fresh OS installation (well, VM actually) which does not have any hugepage options set Grub options, so nothing is allocated at boot time.
Because of that autobuild.sh (run as part of autorun.sh script) fails at external_run_tc1 test which needs hugepages to run SPDK hello_bdev app.

## Expected Behavior

autobuild.sh should pass.

## Possible Solution

autobuild.sh n

[2020-04-24 12:47] karlatec commented on #1370
@Seth5141 assigning to you so you can take a look. Feel free to re-assign to me and I can take care of the fix, just point me into a right direction based one of "Possible solutions" ;)

[2020-04-24 13:22] jimharris commented on #1368
Thanks @karlatec!

[2020-04-24 13:22] #1368 closed

[2020-04-24 15:57] #1369 closed

[2020-04-24 18:36] spdkci commented on #1309
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_11811.html

[2020-04-24 21:12] peluse opened #1371 "[bdev_write_zeroes] Build timed out"
## Link to the failed CI build

## Execution failed at

[2020-04-24 21:14] spdkci commented on #1371
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_11821.html

[2020-04-26 12:51] zlsh007 opened #1372 "identify EAL: Failed to hotplug remove device"
Hi：

SPDK v20.01
DPDK 19.11.0

./app/vhost/vhost -c /etc/spdk/spdk.conf -i 0 -s 1024
and ./examples/nvme/identify/identify -i 0

At the end of the identify cmd, the message is:
EAL: Failed to hotplug remove device

And the vhost app will print:
EAL: Driver cannot detach the device (0000:d9:00.0)
EAL: Failed to hotplug remove device on primary
EAL: Driver cannot detach the device (0000:da:00.0)
EAL

[2020-04-27 02:56] spdkci commented on #1309
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_11855.html

[2020-04-27 06:26] spdkci commented on #1309
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_11779.html

[2020-04-27 06:50] spdkci commented on #1313
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_11860.html

[2020-04-27 07:45] darsto commented on #1349
@tomzawadzki any update? I see you assigned, but is it you working on this?

[2020-04-27 09:05] karlatec commented on #1315
I did a quick grep through all dmesg.log files in current build archive, seems there are no reproduced issues. No new input from @tkulasek so I think we can close this one.

[2020-04-27 09:38] karlatec commented on #1335
Unassigning myself. These installation steps worked for me. Maybe @tkulasek can help.

[2020-04-27 11:13] darsto commented on #1349
We could also create a separate jenkins job with older QEMU just for FTL, then not to bottleneck autotest-per-patch, we could move the FTL tests to nightly only. That's something to consider.

[2020-04-27 14:14] tomzawadzki opened #1373 "[iscsi_tgt_sock] Segfault in spdk_trace_cleanup()"
Segfault seems to occur in spdk_trace_cleanup().

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/11895/archive/vpp-autotest/build.log

## Execution failed at

[code]

Yet the more relevant part is core dump:
[code]

[2020-04-27 14:16] spdkci commented on #1373
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_11895.html

[2020-04-27 14:38] #1315 closed

[2020-04-27 14:39] mikeBashStuff commented on #1252
@tomzawadzki @karlatec Any hints on what we should do with this one?

[2020-04-27 18:30] mkotwani1 commented on #317
Vmware is supporting ANA in the Vsphere 7.0 release, which is coming up, and the same will start with other vendors.

Can this be re-opened and looked at? It might not be needed in the short term, but seems like a good thing to investigate for medium to long term.

[2020-04-27 18:37] jimharris commented on #317
Reopening.  @tomzawadzki @changpe1 let's discuss at an upcoming bug scrub

[2020-04-28 02:52] spdkci commented on #1309
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_11945.html

[2020-04-28 03:05] peluse opened #1374 "[END TEST nvmf_identify_passthru] Failure description"
Looks like this is coming after the test as part of cleanup maybe?

Core was generated by `/var/jenkins/workspace/nvmf-tcp-autotest/spdk/test/bdev/bdevperf/bdevperf -r /v'.
Program terminated with signal SIGSEGV, Segmentation fault.
#0  0x0000000000000000 in ?? ()

[2020-04-28 03:08] spdkci commented on #1374
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_11946.html

[2020-04-28 03:25] peluse commented on #1374
Hmmm, this might just be in my patch series somewhere.... will see how a few re-tests go

[2020-04-28 03:25] spdkci commented on #1374
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_11949.html

[2020-04-28 03:25] spdkci commented on #1374
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_11948.html

[2020-04-28 05:26] karlatec commented on #1309
This now happens on basically every nightly build. Can we bump up priority on this one?

[2020-04-28 05:54] yidong0635 opened #1375 "All targets start without conf have error notification about deprecated INI configuration"
# Issue
[code]
I'm preparing to start app without config and start to use JSON_RPC methods to create bdevs and
transports. But it still report error about :
`INI configuration has been deprecated and will be removed in a future release. Please switch to JSON-RPC.`

Shouldn't  this error  report tailing without config?

[2020-04-28 06:31] tomzawadzki commented on #1375
This is fixed in patch https://review.spdk.io/gerrit/c/spdk/spdk/+/2051

[2020-04-28 06:34] spdkci commented on #1309
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_11903.html

[2020-04-28 13:27] spdkci commented on #1313
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_11957.html

[2020-04-28 13:37] spdkci commented on #1318
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_11960.html

[2020-04-28 13:57] optimistyzy opened #1376 "[iscsi-autotest] Build time out."
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/11964/archive/iscsi-autotest/build.log

## Execution failed at

Starting SPDK v20.04-pre git sha1 10d34d07c / DPDK 19.11.0 initialization...
[ DPDK EAL parameters: fio --no-shconf -c 0x1 --log-level=lib.eal:6 --log-level=lib.cryptodev:5 --log-level=user1:6 --base-virtaddr=0x200000000000 --match-allocations --file-

[2020-04-28 13:58] spdkci commented on #1376
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_11964.html

[2020-04-28 15:10] peluse commented on #1374
Comm meeting: looks like a dup of 1318

[2020-04-28 15:10] #1374 closed

[2020-04-28 15:11] spdkci commented on #1318
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_11955.html

[2020-04-28 15:11] spdkci commented on #1318
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_11956.html

[2020-04-28 15:25] tomzawadzki commented on #1375
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/2051 is now merged. This should resolve this issue.

[2020-04-28 15:25] #1375 closed

[2020-04-28 23:22] spdkci commented on #1309
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_11990.html

[2020-04-29 05:14] spdkci commented on #1297
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_12013.html

[2020-04-29 06:04] spdkci commented on #1313
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_11985.html

[2020-04-29 06:23] ashish19121 opened #1377 "IO delays with NVMe/TCP"
NVMe/TCP socket low watermark set to sizeof(spdk_nvme_tcp_c2h_data_hdr). Because of this if any data of size less than sizeof(spdk_nvme_tcp_c2h_data_hdr) sent to target delays IO processing of the command.

## Expected Behavior

Faster IO processing

## Current Behavior

Delayed IO processing

## Possible Solution

NVMe/TCP socket low watermark should be set to sizeof(spdk_nvme_tcp_common_pdu_hdr)

[2020-04-29 06:27] spdkci commented on #1313
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_11812.html

[2020-04-29 06:46] Donaim commented on #1354
Fix is merged, this issue should not occur anymore. Closing

[2020-04-29 06:46] #1354 closed

[2020-04-29 08:39] spdkci commented on #1313
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_11988.html

[2020-04-29 09:18] spdkci commented on #1341
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_12032.html

[2020-04-29 09:46] darsto commented on #1168
I agree putting 4GB into tmpfs doesn't sound right, but I don't think the above RFC is the right direction either - see comments inside. In various tests we use $testdir for temporary files. E.g. lvol tests put AIO backing files there. Could we use $testdir in blobfs tests as well?

[2020-04-29 10:05] mikeBashStuff commented on #1168
@darsto I guess that's one way to do it. On one hand, this sounds better as we keep files we create under our repo, but on the other, this can be a bit messy since not all the tests cleanup their stuff (or they fail to do so in case of a sudden crash or other bad weather) so if someone does something like `git add .; git commit --amend --no-edit` after running some tests, the actual contents of th

[2020-04-29 10:43] spdkci commented on #1313
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_12046.html

[2020-04-29 11:55] tomzawadzki commented on #1268
This looks to be resolved. @gwnet if there is anything else to be done here, please feel free to re-open.

[2020-04-29 11:55] #1268 closed

[2020-04-29 11:57] spdkci commented on #1318
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_12054.html

[2020-04-29 13:07] spdkci commented on #1318
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_12068.html

[2020-04-29 23:45] spdkci commented on #1313
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_12142.html

[2020-04-29 23:45] spdkci commented on #1309
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_12141.html

[2020-04-29 23:47] changpe1 commented on #1295
I happened to meet this issue with Fedora31, so mark this as a third party issue, maybe we can only add some notes on SPDK vhost target, closing it for now.

[2020-04-29 23:47] #1295 closed

[2020-04-30 00:23] spdkci commented on #1366
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_12146.html

[2020-04-30 00:45] changpe1 commented on #1309
I was trying to reproduce this issue with test/blobfs/rocksdb.sh, just found that it failed with test/blobfs/blobfs.sh, (:.

Now I can reproduce this issue in my local environment, it should be a bug.

[2020-04-30 01:43] #1344 closed

[2020-04-30 02:12] changpe1 commented on #1309
When set the default hugetlbfs with 4096MiB, test/blobfs/blobfs.sh will fail every time, so we may increase the hugetlbfs before starting the test, or just set the blobfs cache size in fuse application, here is the fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/2112

[2020-04-30 02:56] changpe1 commented on #1371
************************************
START TEST bdev_write_zeroes
************************************
 21:40:55	# xtrace_enable

 21:40:57	# set +x
************************************
END TEST bdev_write_zeroes
************************************
 21:40:57	# /var/jenkins/workspace/nvme-autotest/spdk/scripts/setup.sh reset
Build timed out (after 15 minutes). Marking the build as failed.
0000:00:

[2020-04-30 04:14] changpe1 commented on #1359
The CMB issue is already fixed, for the memset issue with CMB, it's same with #1362, so I'm going to close this issue now.

[2020-04-30 04:14] #1359 closed

[2020-04-30 04:16] changpe1 commented on #1371
@peluse Could you update the information, this is a build time out issue.

[2020-04-30 04:22] changpe1 commented on #1376
Same with issue #1365 , so closing this issue for now.

[2020-04-30 04:22] #1376 closed

[2020-04-30 04:42] changpe1 commented on #1372
This only happens with multiple-process scenario, because the physical NVMe controller is hold by the primary process, so DPDK print this log, it doesn't have any other effect with normal usage, just an error log information.

[2020-04-30 05:24] changpe1 commented on #1362
Follow the discussion with Jim in the Bug Scrub meeting,  I go through the QEMU code about the CMB simulation, it uses memory_region_init_io() to allocate the BAR space, and set the maximum access width with 8 bytes, so when running SPDK in the Guest, we will call memset() to zero the submission queue, which may cause the illegal instruction via AVX2 optimization in memset.

[2020-04-30 06:02] liu-wenhua commented on #1377
To address the issue, we made the following change:

*** tcp.c.new   2020-04-30 05:31:37.196499792 +0000
--- tcp.c       2020-04-29 19:48:25.857651523 +0000
*************** spdk_nvmf_tcp_qpair_sock_init(struct spd
*** 911,917 ****
        int rc;

        /* set low water mark */
!       rc = spdk_sock_set_recvlowat(tqpair->sock, sizeof(struct spdk_nvme_tcp_common_pdu_hdr));
        if (rc != 0) {

[2020-04-30 06:24] liu-wenhua opened #1378 "The parameter max_qpairs_per_ctrlr is misleading"
I have posted this issue in SPDK mailing list and was suggested by Ziye Yang to open a bug here.

When creating nvmf transport using command “rpc.py nvmf_create_transport”, there is a parameter max_qpairs_per_ctrlr. It means number of IO queues plus admin queue per controller. But when people talk about number of queues, usually it means number of IO queues. When someone creates nvmf transport, if

[2020-04-30 08:01] changpe1 commented on #1362
To address the issue there are two places in SPDK need to modify:
1) nvme_pcie_qpair_reset() in nvme_pcie_qpair_construct(), for this part we don't need to call memset, when CMB is enabled, we can just initialize each submission command with (*dst == *src).
2) nvme_pcie_copy_command() using SSE2, (*dst == *src) works.

Looks like we do need a quirk for QEMU NVMe drive.  Of course, it's better to c

[2020-04-30 08:11] spdkci commented on #1313
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_12130.html

[2020-04-30 08:33] zlsh007 commented on #1372
Okay thank you！

[2020-04-30 08:33] #1372 closed

[2020-04-30 08:55] Donaim commented on #1348
Newest OCF master shows this behaviour (very slow startup) for other tests too.
I will contact OCF team with this issue

[2020-04-30 09:02] Donaim commented on #1316
Working on this, but need more time.
Our `prepare_vhost_memory()` is different from that of DPDK, I need to study it more

[2020-04-30 10:05] spdkci commented on #1309
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_12077.html

[2020-04-30 11:18] spdkci commented on #1366
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_12107.html

[2020-04-30 12:16] spdkci commented on #1309
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_12200.html

[2020-04-30 13:10] wawryk opened #1379 "ClearLinux compilation warnings"
## Expected Behavior

## Current Behavior
compilation fail

## Possible Solution

## Steps to Reproduce

1.build spdk on clear linux

## Context (Environment including OS version, SPDK version, etc.)

OS:
`Linux clearlinux 5.4.33-31.lts2019 #1 SMP Fri Apr 17 03:03:03 PDT 2020 x86_64 GNU/Linux`
GCC:
[code]
SPDK: 597a7d08b595ba96175e3221fbd9ebb94f222afa

## Logs:
[code]

[code]

[code]

[code]

[2020-04-30 15:28] spdkci commented on #1297
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_12230.html

[2020-04-30 15:29] spdkci commented on #1297
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_12223.html

[2020-04-30 23:20] spdkci commented on #1210
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_12279.html

[2020-05-01 00:41] spdkci commented on #1313
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_12290.html

[2020-05-01 00:45] spdkci commented on #1318
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_12288.html

[2020-05-01 17:45] liu-wenhua opened #1380 "Compiling failure when pushing review to Gerrit"
:~/spdk/spdk$ git push review
Username for 'https://review.spdk.io': <user name>
Password for 'https://<user name>@review.spdk.io':
warning: redirecting to https://review.spdk.io/gerrit/spdk/spdk/
Running make with gcc ...
Running unittest.sh ...
Running make with clang ...
                                    ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/home/vmware/spdk/spdk/dpdk/build/include/rte_memcpy

[2020-05-01 20:39] jimharris commented on #1380
The proper way to build with clang is to pass CC=clang CXX=clang to the configure script.

But as @liu-wenhua has shown here, the git hook doesn't do that.  It relies on the existing configure settings, and just overrides CC= CXX= and does a make.

I think we should just remove this clang test from the githooks to fix this issue.  But I want to make sure we're getting good clang coverage.  We use

[2020-05-01 20:56] liu-wenhua commented on #1380
This issue is now blocking me from pushing up a change to Gerrit for review. Is there a work aground so that I can bypass it and push up my change to Gerrit?

Thanks,
-Wenhua Liu

[2020-05-01 21:09] jimharris commented on #1380
You can just uninstall the githook for now.

[2020-05-01 21:50] liu-wenhua commented on #1380
Thanks Jim. After removing pre-push hook, I have successfully pushed up my change to Gerrit for review.

[2020-05-01 22:21] Seth5141 commented on #1370
Hi Karol,

I think that I am going to add a call to setup.sh to the external test case. But if I recall correctly, there were problems with the whitelist parameter, so I may need to add a HUGEPAGES_ONLY parameter. Stay tuned for a couple of patches.

[2020-05-02 04:53] Seth5141 commented on #1370
Actually @karlatec turns out we already have that. You can just set PCI_WHITELIST to a garbage value.

https://review.spdk.io/gerrit/c/spdk/spdk/+/2141

[2020-05-04 08:03] tkulasek commented on #1335
@wanghailiangx what version of python are you using on your system?

[2020-05-04 08:45] spdkci commented on #1309
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_12304.html

[2020-05-04 08:53] darsto commented on #1168
This sounds promising. Sure, please open a trello.

[2020-05-04 09:20] spdkci commented on #1318
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_12308.html

[2020-05-04 09:39] spdkci commented on #1318
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_12309.html

[2020-05-05 06:53] AlekseyMarchuk commented on #852
Hi @yidong0635 sorry for long delay. Could you try to reproduce the issue using the latest SPDK master branch? I believe that fix for #1292 could fix this issue as well.

[2020-05-05 07:02] AlekseyMarchuk commented on #1283
I haven't investigated this problem (it requires additional logs/counters).
There have been no occurrences of this issue for more than a month. Suggest closing it.

[2020-05-05 07:48] karlatec opened #1381 "[autobuild.sh] ABI tests fail with SPDK 20.04 reference build due to libspdk_bdev_raid.so SO_MINOR version"
## Expected Behavior

## Current Behavior

ABI tests fail when run against 20.04 SPDK reference build.
Error message:
[code]

SPDK 20.04 reference build was built using routine from this patch:
https://review.spdk.io/gerrit/c/spdk/spdk/+/1653/10

## Possible Solution

Find related API changes in commit history and bump up SO_MINOR numbers in Makefiles?
@Seth5141 already found a related change for

[2020-05-05 08:15] darsto commented on #1168
Oh, I actually misread your comment and thought you're suggesting to add a single path outside of spdk directory for all tmp files. $testdir is fine too, but it does have those drawbacks you mentioned.

[2020-05-05 08:29] mikeBashStuff commented on #1168
@darsto It can serve as a fallback if needed. Will move it to trello, we can then discuss all the details there. :)

[2020-05-05 08:34] mikeBashStuff commented on #1168
https://trello.com/c/d84HgIRE/68-improve-how-the-tmp-storage-is-utilized-across-all-the-tests-ie-make-it-consistent

Closing this issue.

[2020-05-05 08:34] #1168 closed

[2020-05-05 09:15] spdkci commented on #1318
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_12383.html

[2020-05-05 09:51] tomzawadzki commented on #1370
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/2141 is now merged.

[2020-05-05 09:51] #1370 closed

[2020-05-05 10:08] tomzawadzki commented on #1357
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/2055 has been merged to mitigate LTO and unit tests conflicting.

Still proper resolution like one proposed by @jimharris would be great to have.

[2020-05-05 10:12] tomzawadzki commented on #1352
@karlatec Have you had a chance to take a look to verify your assumption ? Can this issue be closed ?

[2020-05-05 10:19] #1327 closed

[2020-05-05 10:23] tomzawadzki commented on #1309
Patch addressing this issue https://review.spdk.io/gerrit/c/spdk/spdk/+/2112 has been merged.
If any failures occur after rebasing on top of it, this issue should be re-opened.

[2020-05-05 10:23] #1309 closed

[2020-05-05 10:30] tomzawadzki commented on #1280
@Seth5141 any updates on this issue, should this be closed ?
Issue reported by @Maciej-Szwed does not look exactly like this one, so not sure of the relation.

[2020-05-05 10:52] karlatec commented on #1381
Proposed fix in check_so_deps.sh file in commit: https://review.spdk.io/gerrit/c/spdk/spdk/+/2171/5/test/make/check_so_deps.sh
(thanks for help @Seth5141 !)

[2020-05-05 11:22] karlatec commented on #1352
Sorry, unfortunately not.

[2020-05-05 11:54] tomzawadzki commented on #1254
Can confirm that links are working on the ci.spdk.io site.

[2020-05-05 11:54] #1254 closed

[2020-05-05 12:35] karlatec commented on #1254
FYI: commit which will make vs-dpdk builds public is already merged and I'll put it into production this week.

[2020-05-05 13:25] tomzawadzki commented on #1017
Looking at the error:
[code]
This looks like at least timing issue - lvs on aio_bdev0 have not finished loading by the time `bdev_lvol_get_lvstores` got called.
Meanwhile assert:
[code]
Was triggered in the middle of `bdev_aio_delete`.

Major changes to test scripts (python->bash rewrite) and blobstore improvements (including load/persist path) were done through out the months.
Logs from this issu

[2020-05-05 13:25] #1017 closed

[2020-05-05 14:23] jimharris commented on #1357
I updated https://review.spdk.io/gerrit/c/spdk/spdk/+/1948 which should fix the reduce unit test issue.  I am reverting the changes from Gerrit 2055 in that patch too, since the workaround should no longer be needed after 1948 is merged.

[2020-05-05 15:13] tomzawadzki commented on #1378
[Bug scrub] The `max_qpairs_per_ctrlr` is confusing to the users, and should be deprecated in favor of `max_io_qpairs_per_ctrlr`.

[2020-05-05 15:18] tomzawadzki commented on #1380
[Bug scrub] Githooks should not be the main way to test clang builds. To simplify submission process lets switch to gcc for this. Assigned to @jimharris.

@karlatec will create trello card for creation of the Linux clang job.

[2020-05-05 15:22] #1283 closed

[2020-05-05 15:25] tomzawadzki commented on #1313
[Bug scrub] This looks like two possible issues, 1) fio.py searches for iscsi targets to connect to and should fail if it does not find any 2) iscsi_tgt_ip_migration should make sure that targets are first available

[2020-05-05 15:26] #1280 closed

[2020-05-05 20:58] Seth5141 commented on #1381
Hi @karlatec I tried to reproduce this on fresh copies of the vagrant VMs and was unable to do so. I went ahead and updated the test pool VMs according to https://review.spdk.io/gerrit/c/spdk/spdk/+/1653/11 and the unittest job now passes on https://review.spdk.io/gerrit/c/spdk/spdk/+/2171/6. My best guess is that there was some kind of configuration issue leftover from an earlier version of the p

[2020-05-05 20:58] #1381 closed

[2020-05-06 02:12] optimistyzy commented on #1377
@liu-wenhua @tomzawadzki   Wenhua submitted the following patch:
https://review.spdk.io/gerrit/c/spdk/spdk/+/2138
It can address this issue.

[2020-05-06 02:15] spdkci commented on #1341
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_12405.html

[2020-05-06 03:09] changpe1 commented on #1362
I submitted a workaround patch to fix the issue here https://review.spdk.io/gerrit/c/spdk/spdk/+/2196.

[2020-05-06 03:28] yidong0635 commented on #852
@AlekseyMarchuk , Sorry, since our environments have been damaged, I'm fixing these , It will be fixed later today. But it may not good, I had verified these several days ago. And I will verified these again once all the environments are ok.
Note: This issue hits errors in rdma.c not in nvme_rdma.c. and we use Malloc bdevs.

[2020-05-06 05:11] optimistyzy opened #1382 "[./scripts/setup.sh fail] Caused by Memory fragmentation"
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/12432/archive/unittest-autotest/build.log

## Execution failed at

00:09:20.330  0000:00:09.0 (8086 5845): Skipping un-whitelisted NVMe controller at 0000:00:09.0
00:09:20.336  0000:00:0c.0 (8086 5845): Skipping un-whitelisted NVMe controller at 0000:00:0c.0
00:09:20.341  0000:00:0d.0 (8086 5845): Skipping un-whit

[2020-05-06 05:12] AlekseyMarchuk commented on #852
Yes, I understand that the issue is in rdma target, but most probably it is caused by some problem in initiator

[2020-05-06 05:13] spdkci commented on #1382
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_12432.html

[2020-05-06 06:23] wanghailiangx opened #1383 "Need SPDK CI Jenkins check older gcc version?"
I found there are lkey and rkey's warnings in compling nvme_rdma.c when gcc version is 4.8.5.

One of these warnings, such as:
[code]
I have raised a patch to remove this warning. Need SPDK CI Jenkins check older gcc version?

I compared some kinds of gcc/kernel, found only there is warning in gcc 4.8.5.

machine | waikikibeach51 | waikikibeach18 | waikikibeach56 | waikikibeach34
-- | -- | -- | --

[2020-05-06 06:24] wanghailiangx commented on #1335
@tkulasek My python version is 2.7.17.

[2020-05-06 06:25] wanghailiangx commented on #1335
@tkulasek
# python --version
Python 2.7.17
# whereis python
python: /usr/bin/python3.7 /usr/bin/python3.7m /usr/bin/python /usr/bin/python2.7 /usr/bin/python3.7m-x86_64-config /usr/bin/python2.7-config /usr/bin/python3.7-config /usr/bin/python3.7m-config /usr/lib/python2.7 /usr/lib/python3.7 /usr/lib64/python2.7 /usr/lib64/python3.7 /usr/include/python3.7m /usr/include/python2.7 /usr/share/man/man

[2020-05-06 07:53] spdkci commented on #1297
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_12430.html

[2020-05-06 08:54] yidong0635 commented on #852
Let's set this issue as a low level. What you said is reasonable.

[2020-05-06 09:08] spdkci commented on #1382
Another instance of this failure. Reported by @Donaim. log: https://ci.spdk.io/public_build/autotest-per-patch_12452.html

[2020-05-06 09:22] Donaim opened #1384 "[rocksdb_insert] Failure on gzip"
## Link to the failed CI build
https://ci.spdk.io/results/autotest-per-patch/builds/12453/archive/BlobFS-autotest/build.log

## Execution failed at

[code]

[2020-05-06 09:24] spdkci commented on #1382
Another instance of this failure. Reported by @Donaim. log: https://ci.spdk.io/public_build/autotest-per-patch_12457.html

[2020-05-06 09:24] spdkci commented on #1384
Another instance of this failure. Reported by @Donaim. log: https://ci.spdk.io/public_build/autotest-per-patch_12453.html

[2020-05-06 10:10] mikeBashStuff commented on #1252
Opened trello https://trello.com/c/VdXHmuQP/69-investigate-increasing-overall-system-performance-by-tweaking-different-kernel-mainly-sys-vm-knobs to cover the task mentioned in the previous comment.

[2020-05-06 10:12] darsto commented on #1383
Apparently we do have a CentOS 7.6 job with gcc 4.8.5 in CI, but it doesn't compile rdma.

Compiling everything on every configuration is a bit paranoid, but I think we might consider it for nightly. @wanghailiangx could you create a separate trello card for that?

[2020-05-06 10:27] karlatec commented on #1360
Talked with Wojeciech about this.
First of all - this is supposed to use uio_pci_generic, so that leaves vfio-pci out of the picture.
Second - binding NVMe disks which belong to VMD controller is not 100% correct and should probably be not done. (Even though test/nvme/nvme.sh will pass if identify is run with -V option)

Overall I think scripts/setup.sh should ignore NVMe disks which are a part of

[2020-05-06 10:34] darsto commented on #1360
VMD with VFIO will not work because the VMD controller itself shares an IOMMU group with its downstream ports. In order to use VFIO on one device you need to bind all devices within the IOMMU group to VFIO. Binding the controller to VFIO makes all the "virtual" pci devices starting with 10000: disappear from the system, so the only way to use VMD with VFIO is the SPDK VMD driver.

It doesn't work

[2020-05-06 10:39] karlatec commented on #1360
@darsto yes, that's true, but there's a separate problem when using uio.
If you don't bind the VMD controller to UIO then you still can bind "10000:" nvmes to userspace indepentently. Which will make some of our tests fail, because apps can't deal with "10000:" BDFs.
In that case shouldn't we ignore these NVMe drives (in setup.sh for example) so that they don't affect the tests?

[2020-05-06 10:42] darsto commented on #1360
I would say no - trying to be smart in scripts often doesn't work out. I would let people bind everything and see the spdk apps fail afterwards. And CI has some hardcoded requirements for NVMe drives anyway.

[2020-05-06 10:45] karlatec commented on #1360
Well, that's a bit problematic for CI scaling then. This problem makes any test platform with VMD enabled almost exclusive for VMD tests.
You won't be able to run test/nvme or test/vhost because it will fail due to the problem I described in previous comment.

[2020-05-06 10:53] darsto commented on #1360
True that. Hm.

Some tests require 1 NVMe, some require two. If you don't have enough you get a failure in the middle of a script because "Nvme1" just doesn't exist.

[2020-05-06 10:56] karlatec commented on #1360
Well this  was a hard requirement from day 1, so I don't consired that a "CI hardcoded requirement".

TBH I don't recall them. Any examples?

I'll create a patch with "trying to be smart in scripts". Let's see how will that work :P

[2020-05-06 11:02] darsto commented on #1252
Wouldn't it be just a workaround? That log looks like a kernel bug which needs to be fixed anyway. This doesn't reproduce too often so we could wait for an upstream fix, especially since NVMe/TCP needs a fairly recent kernel already.

[2020-05-06 12:28] tomzawadzki commented on #1383
For future readers, patch fixing this particular error was resolved in following patch:
https://review.spdk.io/gerrit/c/spdk/spdk/+/2197

[2020-05-06 12:49] spdkci commented on #1299
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_12391.html

[2020-05-06 12:50] tomzawadzki commented on #1299
Have not opened another GH issue, but similar failure occured on test `tc_ffp_7_5_1`. Please see:
https://ci.spdk.io/results/autotest-per-patch/builds/12391/archive/iscsi-autotest/build.log
https://ci.spdk.io/results/autotest-per-patch/builds/12391/archive/iscsi-autotest/calsoft/tc_ffp_7_5_1.txt

[2020-05-06 15:02] jimharris commented on #1360
If there are apps that can't handle 5 digit PCI domains, we need to fix those apps.  Can you provide specifics on which apps fail and why?

[2020-05-06 15:26] karlatec commented on #1360
Here's an attempt on "trying to be smart":) https://review.spdk.io/gerrit/c/spdk/spdk/+/2203

`identify` test fails, but can be eaisly fixed by an "if" and adding a -V option.
I'm pretty sure that I saw vhost failing on bdev_attach_controller.
I can look for the places in tests where this fails if you'd like me to.

[2020-05-06 16:25] spdkci commented on #1382
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_12484.html

[2020-05-06 18:51] cighao opened #1385 "[RocksDB-SPDK] RocksDB-SPDK performs worse with large Memtable size"
After turning on`sync` , I got the worst performance when having bigger MemTable . The left figure uses a bigger Memtable size (1GB), while the right one uses the default Memtable size (64MB). If I set `sync=false`, these two configurations have similar results.
Thanks

![image](https://user-images.githubusercontent.com/10767282/81216133-16239400-8fe3-11ea-8056-6e824a0593c1.png)

[2020-05-07 01:33] changpe1 commented on #1384
@Donaim I tried with your patch, actually I can reproduce this issue in my local environment, but without applying your patch, it works well for me.  I think this issue related with your patch, but I didn't find any exception with your patch.

[2020-05-07 01:39] optimistyzy commented on #1377
I will close this issue since this patch is merged. @liu-wenhua @tomzawadzki   Thanks for Wenhua's bug report and the patch submission.

[2020-05-07 01:39] #1377 closed

[2020-05-07 05:12] yidong0635 commented on #852
@AlekseyMarchuk  this may not due to the problems at initiator.
from the log, we can see that these error happens after connection/discover finished, and only change
bs to a 1M other  than 4096, which means that a big size of file for writing could cause error.
+#define MAX_COMPLETIONS_PER_POLL 128
+
 static int
 spdk_nvmf_rdma_poller_poll(struct spdk_nvmf_rdma_transport *rtransport,

[2020-05-07 05:54] spdkci commented on #1298
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_12512.html

[2020-05-07 06:04] spdkci commented on #1313
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_12404.html

[2020-05-07 06:21] wanghailiangx commented on #1383
@darsto Every time this warning appears on a physical machine with gcc version 4.8.5 and configure --with-rdma.
I noticed your mentioned machine(CentOS 7.6 job with gcc 4.8.5 in CI), we can see https://ci.spdk.io/results/autotest-nightly/builds/420/archive/centos7-nightly-autotest/build.log.
But I don't why it didn't report this waning.
[code]

@tomzawadzki Thank you for pasting that patch.

[2020-05-07 09:31] zlsh007 opened #1386 "About the conflict between the identify tool and nvme_cuse"
Hi all
I tested based on the spdk V20.01 branch.
When I only test the identify tool, there is no problem, and it can return normally, but when I create a device through cuse, such as "./rpc.py bdev_nvme_cuse_register -n Nvme0", executing the identify tool again will cause a coredump problem, and I tested the first bdev_nvme_cuse_register and then bdev_nvme_cuse_unregister has no effect on identify

[2020-05-07 09:40] spdkci commented on #1382
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_12537.html

[2020-05-07 09:55] karlatec commented on #1382
This might suggest some problem with VM host servers setup, or with the VMs themselves, but I don't recall any configuration change being done that would result in these kind of errors.
I'm even more certain of it considering that nightly tests are affected as well (https://ci.spdk.io/public_build/autotest-nightly_423.html) and I'm 200% sure that there was nothing done to nightly servers configura

[2020-05-07 10:42] #1328 closed

[2020-05-07 11:46] karlatec commented on #1382
Last change which had something to do with allocating hugepages in tests was: https://review.spdk.io/gerrit/c/spdk/spdk/+/2141
@Seth5141 could this be related by any chance?

[2020-05-07 12:06] Donaim commented on #1384
@changpe1 , yes, you are right, I investigated the root cause and it is really my patch that causes this bug. Issue is that in rocksdb test we grep logs, while my patch changes their format.
I will submit a fix today.
Closing issue because it will not reproduce without my patch

[2020-05-07 12:06] #1384 closed

[2020-05-07 12:21] zlsh007 commented on #1386
To correct it, I repeatedly tested the master branch code, 2c0980de71e99e53ecd98c4ba2cb34486efcf53a, the same problem exists,
1：./app/vhost/vhost -c /etc/spdk/spdk.conf -i 0 -s 1024
2：./scripts/rpc.py bdev_nvme_cuse_register -n Nvme0
3：./examples/nvme/identify/identify -i 0
will have the same problem

[2020-05-07 13:27] mhae opened #1387 "NVMF: Target reports errors when no_srq=true"
I'm seeing a regression with 20.04 when no_srp=true. When the initiator exists, the target shows the following errors:
[code]
## Expected Behavior
No errors.

## Current Behavior
Target reports errors when initiator disconnects. This is new with 20.01. Maybe this isn't really a problem but then these error messages should be suppressed since they fill up log files.

## Possible Solution

## Steps

[2020-05-07 13:57] AlekseyMarchuk commented on #1387
I'll check it

[2020-05-07 19:51] Seth5141 commented on #1382
@karlatec I believe that change is what is causing the memory fragmentation issues on the guest machines. For some reason calling setup twice in the same run causes the second attempt to fail.

I have since added this change https://review.spdk.io/gerrit/c/spdk/spdk/+/2212/1 which attempts to clear the system caches before the second call to setup.sh which, I believe, has drastically reduced the n

[2020-05-08 00:02] spdkci commented on #1297
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_11870.html

[2020-05-08 06:51] Comphix commented on #1386
@zlsh007

For step 3, are you going to use identify tool to discover the Nvme0 device?

After executing the step 2, there will be the devices under /dev/spdk folder like below:

ll /dev/spdk/*
crw-------. 1 root root 509, 0 May  8 15:36 /dev/spdk/nvme0
crw-------. 1 root root 510, 0 May  8 15:36 /dev/spdk/nvme0n1

And now you can use nvme cli tool to access the device like below:
root@storage35:/s

[2020-05-08 07:10] Comphix commented on #1386
For below steps, if using (-i 0) for the multi process method, there is no need to register the cuse and just using step 1 and step 3, it shall be ok to access the same NVMe ctrlr which is already acquired by vhost application from the identify tool.

1：./app/vhost/vhost -c /etc/spdk/spdk.conf -i 0 -s 1024
2：./scripts/rpc.py bdev_nvme_cuse_register -n Nvme0
3：./examples/nvme/identify/identify -i 0

[2020-05-08 08:20] spdkci commented on #1044
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_12726.html

[2020-05-08 08:54] spdkci commented on #1297
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_12733.html

[2020-05-08 09:42] zlsh007 commented on #1386
@Comphix Thank you for your reply. I want to use the identify tool to get some basic information of the disk, such as quantity, model, sn, firmware version, capacity, etc., and then use nvme smartlog to get the status information of the disk, such as life, serious failure, etc., although through Identify can also obtain similar information, but some are not convenient, I do n’t know where the two

[2020-05-08 09:47] zlsh007 commented on #1386
Can the nvme command obtain capacity information through the /dev/spdk/nvmex character device? I have not seen

[2020-05-08 10:10] Donaim commented on #1316
Still working on this and will continue next week

[2020-05-08 10:25] spdkci commented on #1297
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_12740.html

[2020-05-08 18:21] spdkci commented on #1382
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_12772.html

[2020-05-10 02:16] shuhei-matsumoto opened #1388 "[nvme_tcp_target] Seg fault at NVMe bdev reset"
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/12905/archive/nvmf-tcp-autotest/build.log
https://ci.spdk.io/public_build/autotest-per-patch_12905.html

## Execution failed at

[code]

[2020-05-10 02:25] spdkci commented on #1388
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_12905.html

[2020-05-10 22:43] spdkci commented on #1388
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_13005.html

[2020-05-11 03:31] Comphix commented on #1386
You can use below command id-ctrl and intel market-name to get the related information.

And the capacity is from below tnvmcap file which is in byte. Like below case, it is in about 2TB capacity.

Total NVM Capacity (TNVMCAP): This field indicates the total NVM capacity in the NVM subsystem.  The value is in bytes.

# nvme id-ctrl /dev/spdk/nvme0
NVME Identify Controller:
vid     : 0x8086
ssvid

[2020-05-11 03:32] Comphix commented on #1386
The other way is to unregister the device before calling the identify tool.

2：./scripts/rpc.py bdev_nvme_cuse_unregister -n Nvme0

[2020-05-11 04:55] spdkci commented on #1365
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_13117.html

[2020-05-11 07:44] darsto commented on #1293
True. Either way this won't happen now. Thanks for the fix, closing

[2020-05-11 07:44] #1293 closed

[2020-05-11 08:26] Comphix commented on #1386
For the problem itself, the 2nd identify process looks like accessing the NULL pointer from the qpair->transport field. As in the multi process sharing, this qpair is I/O qpair and allocated by the first process.

[2020-05-11 08:40] zlsh007 commented on #1386
Got it, thanks for replying.

[2020-05-11 08:40] #1386 closed

[2020-05-11 08:49] jasunliu opened #1389 "What limits the max spdk_cache"
rocksdb  db_bench
There is no error When I use the parameter  “--spdk_cache_size=2048” , but when I use "--spdk_cache_size=20480"  Create mempool failed

I've tested with "HUGEMEM=51200 scripts/setup.sh", still faild.

so what limits the spdk_cache_size？

ERROR MESSAGE:
Starting SPDK v20.01.2-pre git sha1 09377fc41 / DPDK 19.11.0 initialization...
[ DPDK EAL parameters: rocksdb --no-shconf -c 0x1

[2020-05-11 08:58] darsto commented on #1038
Merged.

[2020-05-11 08:58] #1038 closed

[2020-05-11 09:05] wawryk opened #1390 "Fedora31 compiling fails"
## Expected Behavior
Test pass

## Current Behavior
Test fail

## Possible Solution

## Steps to Reproduce

1.Upgrade f30 to f31
2.Run our CI tests
3.
4.

## Context (Environment including OS version, SPDK version, etc.)
### OS
Linux Fedora31 5.6.8-200.fc31.x86_64 #1 SMP Wed Apr 29 19:10:01 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
### gcc version
gcc (GCC) 9.3.1 20200408 (Red Hat 9.3.1-2)
Copyright

[2020-05-11 10:37] wawryk commented on #1390
Fio 3.19 fix this issue:
https://review.spdk.io/gerrit/c/spdk/spdk/+/2370

[2020-05-11 10:37] #1390 closed

[2020-05-11 10:55] optimistyzy commented on #1340
I posted a patch to address this issue:  https://review.spdk.io/gerrit/c/spdk/spdk/+/2372

[2020-05-11 12:51] wawryk opened #1391 "Fedora31 ocf error in nvme-phy-autotest"
## Expected Behavior
test should pass

## Current Behavior
test fail

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context (Environment including OS version, SPDK version, etc.)
### OS:
Linux GrizzlyPass2 5.6.8-200.fc31.x86_64 #1 SMP Wed Apr 29 19:10:01 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

### GCC:
gcc (GCC) 9.3.1 20200408 (Red Hat 9.3.1-2)
Copyright (C) 2019 Free Software Foun

[2020-05-11 13:08] darsto commented on #1391
It looks like OCF & SPDK version incompatibility rather than F31-specific failure.

[code]

[2020-05-11 13:51] darsto commented on #1382
I checked linux code and it doesn't touch any hugepages if the requested count is equal to the current hugepage count. Technically we should be able to allocate them once (on boot?) and never touch them again.

I pushed a fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/2374

[2020-05-11 14:13] spdkci commented on #1313
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_13181.html

[2020-05-11 14:48] cockroach1136 opened #1392 "Use general c function "system" in spdk code will cause nvmef malfunction"
Recently we are trying the nvmeof function of spdk.
We use the procedures
-----------------------------------------------------------------------------------------------------
1.scripts/rpc.py nvmf_create_transport -t RDMA -u 8192 -p 4 -c 0
2.scripts/rpc.py bdev_malloc_create -b Malloc0 512 512
3.scripts/rpc.py nvmf_create_subsystem nqn.2016-06.io.spdk:cnode1 -a -s SPDK00000000000001 -d SPDK_Contr

[2020-05-12 12:36] darsto commented on #1174
I posted a log with this message in my first comment `rpc.c: 181:spdk_rpc_listen: *ERROR*: RPC Unix domain socket path /tmp/spdk.sock in use. Specify another` - it's already there. Looks like there's nothing else to be done.

[code]

[2020-05-12 12:36] #1174 closed

[2020-05-12 13:34] darsto commented on #1360
I just submitted one fix to DPDK: http://patches.dpdk.org/patch/70110/

There might be more bugs with 5-digit PCI domains, but I don't have any VMD to test it.

[2020-05-12 15:05] spdkci commented on #1297
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_13530.html

[2020-05-12 16:51] spdkci commented on #1382
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_13561.html

[2020-05-12 18:21] spdkci commented on #1313
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_13574.html

[2020-05-13 00:23] peluse opened #1393 "[iscsi_autotest] no logs"
## Link to the failed CI build

## Execution failed at

[2020-05-13 00:24] spdkci commented on #1393
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_13617.html

[2020-05-13 03:02] spdkci commented on #1313
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_13659.html

[2020-05-13 06:17] spdkci commented on #1382
Another instance of this failure. Reported by @EugeneKochetov. log: https://ci.spdk.io/public_build/autotest-per-patch_13602.html

[2020-05-13 08:14] Comphix commented on #1392
May refer this page: https://linux.die.net/man/3/system

Description
system() executes a command specified in command by calling /bin/sh -c command, and returns after the command has been completed. During execution of the command, SIGCHLD will be blocked, and SIGINT and SIGQUIT will be ignored.

-----------
Can you try "/bin/sh -c ls" and check whether it works?

[2020-05-13 12:46] darsto commented on #1391
Yup, there was an outdated ocf source at $rootdir/lib/env_ocf/src which took priority over the submodule. Removing it solved the problem.

[2020-05-13 12:46] #1391 closed

[2020-05-13 16:23] jimharris commented on #1357
Patch was merged.

[2020-05-13 16:23] #1357 closed

[2020-05-13 16:24] jimharris commented on #1346
Patch was merged.

[2020-05-13 16:24] #1346 closed

[2020-05-13 16:25] jimharris commented on #1039
Closing issue.  @clicx please reopen if you are able to try Ziye's suggestion and still see problems.

[2020-05-13 16:25] #1039 closed

[2020-05-13 20:48] spdkci commented on #1366
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_13790.html

[2020-05-13 22:38] spdkci commented on #1313
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_13792.html

[2020-05-14 00:25] changpe1 commented on #1383
@wanghailiangx As suggested by Darek, you can start another trello task to cover the RDMA compilation, I'm going to close this issue, as the patch was merged.

[2020-05-14 00:25] #1383 closed

[2020-05-14 00:35] changpe1 commented on #1365
This failure is on GP1.

[2020-05-14 00:38] changpe1 commented on #1371
The failure is on fedora_vm_9.

[2020-05-14 01:03] spdkci commented on #1297
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_13771.html

[2020-05-14 01:05] peluse opened #1394 "[free-bsd-autotest] --enable-log-bt requires libunwind"
00:00:34.356  RDMA_OPTION_ID_ACK_TIMEOUT is not supported
00:00:34.371  --enable-log-bt requires libunwind.
00:00:34.371  Please install then re-run this script.

[2020-05-14 01:06] spdkci commented on #1394
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_13773.html

[2020-05-14 01:07] yidong0635 opened #1395 "code reports warning in log.c"
# Issue
log.c: In function ‘spdk_log’:
log.c:124:31: warning: ‘%06ld’ directive output may be truncated writing between 6 and 17 bytes into a region of size between 7 and 30 [-Wformat-truncation=]
  124 |  snprintf(buf, buf_size, "[%s.%06ld] ", date, usec);
      |                                                    ^~~~~
log.c:124:26: note: directive argument in the range [-9223372036854775, 92233

[2020-05-14 01:28] changpe1 commented on #1395
@yidong0635 could you take a look?

[2020-05-14 02:15] yidong0635 commented on #1395
how about add -Wno-format-truncation?

[2020-05-14 02:48] shuhei-matsumoto commented on #317
Hi @jimharris @changpe1 @benlwalker @tomzawadzki

I may want to work on this next after completing I/O abort.
Did you discuss this on the recent bug scrub meetings?

[2020-05-14 02:54] changpe1 commented on #317
We're planning to implement multipath support in initiator, so this is perfect to align with us, will you join today's Bug Scrub meeting, maybe we can talk a little bit about it.

[2020-05-14 02:59] jimharris commented on #1395
No, please let's not disable a warning for this.

Can we make the usec variable a uint32_t?  There's no need for it to be a long (which will be 64-bits).

[2020-05-14 03:10] shuhei-matsumoto commented on #317
@changpe1 Sounds good, I saw this feature on the Intel's roadmap on Trello. I will join today's meeting :)

[2020-05-14 03:43] yidong0635 commented on #1395
Thanks @jimharris ,https://review.spdk.io/gerrit/c/spdk/spdk/+/2426.

[2020-05-14 04:34] changpe1 commented on #1392
@cockroach1136 Could you describe why you need a system call inside the function, I'm thinking maybe you have another method to do that.

[2020-05-14 04:37] changpe1 commented on #1389
DPDK will allocate continuous physical memory for mempool, for your case there are two workarounds that you may have a try:
1. Using 1GiB hugepages.
2. You can try with  --iova-mode=va mode with 2MiB hugepage.

[2020-05-14 04:38] changpe1 commented on #1385
Did you try the same tests with kernel solution? I'm thinking this may not related with SPDK engine, maybe it's related with Rocksdb's implementation.

[2020-05-14 06:19] cockroach1136 commented on #1392
@Comphix
Thank you so much for your advice. I will try it

@changpe1
The reason why we need to use "system" function is that we need to execute a python script.
Of course, we can write a new c function to replace the python script.
But that is complicated.
The most convenient way is to use "system" to execute the python script directly.

Thank you again to both of you.

[2020-05-14 06:31] AlekseyMarchuk commented on #1394
This part of log "RDMA_OPTION_ID_ACK_TIMEOUT is not supported" is fine, it means that we don't use some functionality in NVMEoF RDMA initiator.
The real problem is
[code]

[2020-05-14 06:32] spdkci commented on #1394
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_13758.html

[2020-05-14 06:35] spdkci commented on #1313
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_13764.html

[2020-05-14 06:36] changpe1 commented on #1394
Seth is working on this, we just used a new Freebsd VM.

[2020-05-14 06:37] spdkci commented on #1092
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_13828.html

[2020-05-14 07:23] spdkci commented on #1382
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_13837.html

[2020-05-14 07:37] spdkci commented on #1313
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_13841.html

[2020-05-14 07:51] yidong0635 commented on #1395
the root cause is the timestamp buf is not enough in some case.

[2020-05-14 08:46] wawryk commented on #1394
During install new packages there was update gcc to version 9.4, and this caused this issue.
Back to gcc 9.3 in CI freebsd fix this issue.

[2020-05-14 08:50] spdkci commented on #1382
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_13849.html

[2020-05-14 10:22] darsto commented on #1394
BTW that backtrace doesn't work. I made a patch to remove the entire feature from SPDK: https://review.spdk.io/gerrit/c/spdk/spdk/+/2194

[2020-05-14 13:21] mikeBashStuff opened #1396 "Can't compile QAT on Fedora30"
[code]

An attempt to compile QAT via `vm_setup.sh` fails with the following:
[code]

Currently, `vm_setup.sh` uses the following driver package: `https://01.org/sites/default/files/downloads//qat1.7.l.4.9.0-00008.tar.gz`

Any hints on how to fix this would be appreciated. :)

[2020-05-14 13:30] peluse commented on #1396
The QAT driver is not part of SPDK so really we need the issue to be reported to the QAT folks but I believe @karlatec recently worked through something similar so may be able to help.  I'll try to find the process for reporting issues

[2020-05-14 13:31] peluse commented on #1396
BTW I think the latest driver might work, it's available at https://01.org/intel-quickassist-technology and this site also lists the maintainers contact info.

[2020-05-14 13:56] mikeBashStuff commented on #1396
Currently, driver that's listed as the latest one is https://01.org/intel-quickassist-technology/intel-quick-assist-technology/downloads/intel%C2%AE-quickassist-technology-driver-linux-hw-version-1.7-l.4.9.0-00008 and that's what `vm_setup.sh` is actually using. :)

[2020-05-14 14:06] peluse commented on #1396
Yeah that's probably from when @karlatec updated it recently. We're not using Fedora30 in CI yet are we?

[2020-05-14 14:26] mikeBashStuff commented on #1396
I just logged onto one of the random Fedoras in the pool and it actually was the Fedora30 (though idle, so maybe it's not picking up any builds yet. :)).

[2020-05-14 14:28] peluse commented on #1396
or it might not be one used to test QAT....

[2020-05-14 14:35] cighao commented on #1385
I also test RocksDB with different memtable size. It has the similar results.

[2020-05-14 16:03] jimharris commented on #1392
How long does this Python command take to execute?  Note that until that system() call returns, that SPDK thread will not be able to do any work (including servicing incoming connections).

If you truly must execute a Python command like this, I'd suggest spawning a separate pthread, and call spdk_unaffinitze_thread() immediately in that new thread.  Otherwise your new thread will be pinned to the

[2020-05-14 16:09] mikeBashStuff opened #1397 "[FreeBSD] Different compilers are used for same feature tests"
[code]

Background:

Currently, it's not possible to compile ref spdk via `vm_setup.sh` on `FreeBSD` as the compiler is not able to locate the `libunwind.*` files. The `libunwind` is looked up because  `install_reference_spdk()` calls `get_config_params()` to get the cmdline for the `./configure` which happens to include the `--enable-log-bt` option. The reason why it does that is because it uses

[2020-05-14 16:11] mikeBashStuff commented on #1397
Fix for the issue with locating libunwind files: https://review.spdk.io/gerrit/c/spdk/spdk/+/2434

[2020-05-14 16:13] jimharris commented on #1397
We should always default to clang on FreeBSD.

[2020-05-14 16:19] mikeBashStuff commented on #1397
Also, clang's issue with locating proper files is not limited to `libunwind`, this is just where `./configure` fails and exits. The same thing would  happen with other stuff, like rdma for instance.

[2020-05-14 16:20] jimharris commented on #1397
I don't think we support anything rdma-related on FreeBSD.

Could we just not use --enable-log-bt on FreeBSD at all?  Make it a Linux-only thing?  Our FreeBSD support is only best effort.  If someone comes along that really needs this to work on FreeBSD, it could be added later.

[2020-05-14 16:26] mikeBashStuff commented on #1397
@jimharris I guess we could just pass some limited options to `./configure` in case we run under FreeBSD instead of using everything `get_config_params()` returns. Currently, these are the args `./configure` gets on FreeBSD when stuff for ref spdk is being compiled:

[code]
Is there anything on that list that should be definitely removed?

[2020-05-14 16:47] jimharris commented on #1397
I would only keep the following options:

enable-debug
enable-werror
without-idxd
with-fio
enable-ubsan
enable-asan

Reading rdma, crypto, ocf and raid5, we've been compiling them in, but I don't think we run any tests for those on FreeBSD.  Can you or someone there confirm?  If we're not testing them, I don't think we should configure for them.  If there comes a requirement later for FreeBSD supp

[2020-05-15 01:29] optimistyzy commented on #1340
Close this issue since the patch which tries to address this issue is merged.

[2020-05-15 01:29] #1340 closed

[2020-05-15 08:18] tomzawadzki commented on #1349
QEMU version is now updated to 5.0.0 and FTL patches were ported on top. All machines are now using it to host VMs for tests.

This issue should not longer be occurring.

[2020-05-15 08:18] #1349 closed

[2020-05-15 08:30] Donaim commented on #1348
I have been seeing very slow startup consitantly with 100% reproduction,
but it did not reproduce on @imjfckm environment.
Then, at some point, I rebooted my machine, and after that I could not reproduce that behaviour to this day.
CI machines also don't seem to be able to reproduce it.
So I think I had something broken in my env.

What is left though is that test still fails.
But this can be fixe

[2020-05-15 08:46] mikeBashStuff commented on #1397
Hmmmm, I am not really able to compile spdk with this minimal set of options (testing on FreeBSD 11.3) :(. Getting this:
[code]

[2020-05-15 09:50] darsto commented on #1397
spdk_scsi_nvme_translate() is a part of lib/bdev. Are you sure there aren't any earlier errors?

[2020-05-15 10:36] mikeBashStuff commented on #1397
@darsto Nope, I can't see anything else, just that one thing seems to be failing. Should I look for something specific though?

[2020-05-15 11:35] Donaim commented on #1316
Didn't make it this weak
Need to mention that I am going to be OOO starting tomorrow so won't be able to work on this during that time

[2020-05-15 13:03] wawryk commented on #1379
@Maciej-Szwed thanks fo Your [patch](https://review.spdk.io/gerrit/c/spdk/spdk/+/2433), this fixed mentioned errors.
there is new error when SPDK is configured with --enable-werror option:
[code]

[2020-05-15 15:29] jimharris commented on #1316
Thanks for the update @Donaim.  We will keep this issue assigned to you for now.  You can pick it back up when you return.

[2020-05-15 18:03] spdkci commented on #1318
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_14075.html

[2020-05-15 18:10] AlekseyMarchuk opened #1398 "[iscsi_tgt_iscsi_lvol] vpp core dump"
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_14088.html

## Execution failed at
[code]

Part of core dump:
[code]

[2020-05-15 18:11] spdkci commented on #1398
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_14088.html

[2020-05-15 20:18] jimharris commented on #1397
There's no spdk_scsi_nvme_translate stub in test/unit/lib/bdev/mt/bdev.c/bdev_ut.c.  I can't explain why it links OK on gcc, but that's surely the culprit.

[2020-05-18 02:08] yidong0635 opened #1399 "[Iscsi] ./test/iscsi_tgt/calsoft/calsoft.sh test failed"
# Log
https://ci.spdk.io/results/autotest-per-patch/builds/14170/archive/iscsi-autotest/build.log
00:01:54.362   05:28:50	# /var/jenkins/workspace/iscsi-autotest/spdk/scripts/rpc.py iscsi_create_target_node Target3 Target3_alias MyBdev:0 1:2 64 -g 1
00:01:54.528   05:28:51	# sleep 1
00:01:55.529   05:28:52	# '[' '' ']'
00:01:55.529   05:28:52	# /var/jenkins/workspace/iscsi-autotest/spdk/test/iscsi

[2020-05-18 02:11] spdkci commented on #1399
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_14170.html

[2020-05-18 02:11] yidong0635 commented on #1399
dulicated of #1299 , close this one.

[2020-05-18 02:11] #1399 closed

[2020-05-18 06:32] karlatec commented on #1396
@mikeBashStuff which QAT system is that?
Issue title is probably misleading. You can compile & install QAT driver on F30. I know that, because I installed this particular driver version a couple of times, no problems. The difference is that I compiled it on 5.5.10 kernel with 9.2.1 gcc, so that's probably the cause.
You should probably report that on 01.org and wait for new driver version.

[2020-05-18 06:37] yidong0635 opened #1400 "compile failed on SUSE"
# Issue
built failed on SUSE:
Build complete [x86_64-native-linuxapp-gcc]
  CC app/spdk_top/spdk_top.o
spdk_top.c:42:10: fatal error: panel.h: No such file or directory
 #include <panel.h>
          ^~~~~~~~~
compilation terminated.
make[2]: *** [/home/storage/autotestspdk/spdk/mk/spdk.common.mk:367: spdk_top.o] Error 1
make[1]: *** [/home/storage/autotestspdk/spdk/mk/spdk.subdirs.mk:44: spdk_top]

[2020-05-18 08:14] mikeBashStuff commented on #1396
@karlatec It was done on my local VM.

Since we support kernel upgrades (since that's what `vm_setup.sh` can do) we should also handle it in some way rather then just waiting on the new driver (taking for granted that newer kernel|compiler is the culprit here).

[2020-05-18 08:16] karlatec commented on #1396
Explain?

[2020-05-18 08:20] mikeBashStuff commented on #1396
@karlatec If the kernel version makes any difference, or the gcc, we shouldn't try to compile qat stuff but simply return message stating that it's not supported in such a setup, i.e., be graceful about it.

[2020-05-18 08:47] karlatec commented on #1396
I don't think it's our responsibility to check which kernel and gcc versions are supported/correct for various QAT driver versions.

[2020-05-18 09:48] spdkci commented on #1318
Another instance of this failure. Reported by @tkulasek. log: https://ci.spdk.io/public_build/autotest-per-patch_14074.html

[2020-05-18 09:52] mikeBashStuff commented on #1396
@karlatec Ok, closing this issue then. :) If you have any knowledge on how stuff like that should be reported to 01.org then please share (I can't see any QAT references under their mailing lists|github repos|bug tracking).

[2020-05-18 09:52] #1396 closed

[2020-05-18 11:26] spdkci commented on #1382
Another instance of this failure. Reported by @tkulasek. log: https://ci.spdk.io/public_build/autotest-per-patch_14202.html

[2020-05-18 11:28] spdkci commented on #1382
Another instance of this failure. Reported by @tkulasek. log: https://ci.spdk.io/public_build/autotest-per-patch_14211.html

[2020-05-18 11:30] spdkci commented on #1382
Another instance of this failure. Reported by @tkulasek. log: https://ci.spdk.io/public_build/autotest-per-patch_14207.html

[2020-05-18 11:35] spdkci commented on #1382
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_14217.html

[2020-05-18 11:53] karlatec commented on #1397
We don't need a log bt for a reference build, so might as well just remove `--enable-log-bt` from `./configure` options I guess.

[2020-05-18 12:19] spdkci commented on #1382
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_14229.html

[2020-05-18 12:57] peluse commented on #1396
@mikeBashStuff I think I mentioned this earlier but if you look on the QAT page the maintainers are listed there.  I don't believe they run a community like SPDK does but there are some contact names there fore sure.

[2020-05-18 13:54] mikeBashStuff commented on #1396
@peluse I looked into that list, but from what I saw, only names|usernames were listed there, no contact info of any sort. :) And maybe it's silly, but I usually try to avoid contacting maintainers from outside projects directly - I once tried that by contacting one of the Linux kernel maintainers, via his email address, and let's just say his response to me doing that wasn't the very essence of p

[2020-05-18 13:56] spdkci commented on #1382
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_14249.html

[2020-05-18 15:26] peluse commented on #1396
@mikeBashStuff oh geeze.  Let me ping someone internally and find out what the best channel is to get support

[2020-05-18 16:08] peluse commented on #1396
@mikeBashStuff from a reliable source: just email the dpdk folks at users@dpdk.org

[2020-05-19 09:11] mikeBashStuff commented on #1396
@peluse Thanks, will try that!

[2020-05-19 11:00] #1395 closed

[2020-05-19 13:17] mhae commented on #1387
Hi @AlekseyMarchuk , have you had a chance to look at this? It seems to happen when no_srq=false as well. Maybe it is unrelated to srq.

[2020-05-19 14:01] AlekseyMarchuk commented on #1387
Hi @mhae I prepared a "fix" which excludes logging of error completion when we don't use SRQ - https://review.spdk.io/gerrit/c/spdk/spdk/+/2451
I didn't notice such errors with SRQ, but if you did then it should be another issue. Could you add more details about these errors?

[2020-05-19 14:04] spdkci commented on #1382
Another instance of this failure. Reported by @benlwalker. log: https://ci.spdk.io/public_build/autotest-per-patch_14289.html

[2020-05-19 14:14] mhae commented on #1387
I can open another issue, but maybe it is not different after all. I see these errors when running perf and then aborting perf with ctrlr-c. Here are the errors with no_srp=false:
[code]

[2020-05-19 14:28] mikeBashStuff commented on #1396
Will put my finding here as well, just in case (this is a message I sent out in reply to `users@dpdk.org`).
[code]

[2020-05-19 14:39] tomzawadzki commented on #1371
Duplicate of #1365

[2020-05-19 14:39] #1371 closed

[2020-05-19 14:46] mikeBashStuff commented on #1397
OK, just to note, I actually managed to build spdk like so:
`--enable-debug --enable-werror --with-fio=/usr/src/fio --disable-unit-tests --without-isal`

I basically took that from how autotest-freebsd in the CI builds it.

[2020-05-19 14:51] karlatec commented on #1352
Late update: I looked a bit more through the logs but could not find anything related. Since this does not reproduce for quite some time now I think we can clsoe the issue.

[2020-05-19 14:53] #1352 closed

[2020-05-19 15:13] tomzawadzki commented on #1358
[Bug scrub] Due to no further reports with similar errors and no sure steps for reproduction, this issue will be closed.

[2020-05-19 15:13] #1358 closed

[2020-05-19 16:17] gwnet opened #1401 "bdev perf test tool"
as nvme example folder, has one perf tool to test SPDK performance. I cannot find the same perf tool that can test bdev.

could you please let me know if there is any solution for me to do perf test on bdev?

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context (Environment including OS version, SPDK version, etc.)

[2020-05-19 16:27] jimharris commented on #1401
Hi @gwnet,

There is an app called bdevperf in the test/bdev/bdevperf directory.

I'm going to close this issue, but please feel free to respond on this issue if you have further questions.

-Jim

[2020-05-19 16:27] #1401 closed

[2020-05-19 16:28] benlwalker commented on #1401
I'm in the process of reorganizing where all of the applications output their binaries, and then I plan to "promote" both nvme/perf and bdevperf to officially supported tools instead of examples or test tools. That will make it less difficult to find in the future.

[2020-05-19 18:10] spdkci commented on #1382
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_14288.html

[2020-05-19 18:11] spdkci commented on #1382
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_14296.html

[2020-05-19 18:12] spdkci commented on #1382
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_14292.html

[2020-05-20 00:24] gwnet commented on #1401
thank you guys so much. :)

[2020-05-20 01:45] yidong0635 commented on #1400
@tomzawadzki
I just found it not just to change file path, this may need to check this app running on some other systems.
sorry , this app is  distortion on SUSE  about font selection with background color, the may need the owner to take a look.

[2020-05-20 04:35] gwnet commented on #1401
I follow this link to create one OCF bdev, but how I test it with bdevperf tool? can anyone give me the detail guidance? https://open-cas.github.io/getting_started_spdk.html

[2020-05-20 05:34] gwnet opened #1402 "maybe I use it by mistake, bdev hello world example does not work"
after build, I run the bdev hello world example. but it failed to find Malloc0 bdev device. is the hello world app should create Malloc device itself?

wayne@ubuntu:~/test2/spdk/examples/bdev/hello_world$ sudo ./hello_bdev
Starting SPDK v20.07-pre git sha1 3ceeab7c8 / DPDK 19.11.0 initialization...
[ DPDK EAL parameters: hello_bdev --no-shconf -c 0x1 --log-level=lib.eal:6 --log-level=lib.cryptodev

[2020-05-20 05:36] optimistyzy opened #1403 "Can't initialize NVMe drive due to VFIO exception on GP1(kernel panic with VFIO)"
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/14409/archive/BlobFS-autotest/build.log

## Execution failed at

00:03:39.986  Start insert test phase... 06:06:55	# taskset 0xFF /var/jenkins/workspace/BlobFS-autotest/spdk/../rocksdb/db_bench --flagfile=insert_flags.txt
00:04:35.056
00:04:35.056  real	0m55.067s
00:04:35.056  user	2m20.564s
00:04:35.056  sys	0m35

[2020-05-20 05:37] spdkci commented on #1403
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_14409.html

[2020-05-20 06:31] yidong0635 commented on #1402
$rootdir/examples/bdev/hello_world/hello_bdev --json "$conf_file" -b "$hello_world_bdev"
this need to specify hello_world_bdev

[2020-05-20 06:51] gwnet opened #1404 "SPDK bdev fio plugin does not work as expected"
hello intel expert.
I want to run bdev OCF test with FIO plugin, but I even failed to run the basic bdev fio test.

I follow https://github.com/spdk/spdk/tree/master/examples/bdev/fio_plugin, I use latest SPDK code.

I run the fio, but suffer this error. Could you please guide me how to do? my final goal is to test the OCF cache bdev from fio plugin. how to do this?

wayne@ubuntu:~/test2/spdk/exam

[2020-05-20 07:04] gwnet commented on #1402
@yidong0635
could you please give me one detail example?

I also do not know how to specify the conf file for bdevperf test tool.
so I suffer below errors. my final goal is to run fio and bdev on the OCF cache bdev device.
could you please instruct me?

root@ubuntu:/home/wayne/test2/spdk# test/bdev/bdevperf/bdevperf -w randread -o 4096 -q 32 -t 10 -s 512
Starting SPDK v20.07-pre git sha1 3ceeab7c8

[2020-05-20 07:27] karlatec opened #1405 "[rpc_integrity] Failing in centos7-nightly-autotest builds"
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-nightly_522.html

## Execution failed at

[code]

## Description

This is most probably an infrastructure issue. There is something wrong with this VM.

spdk starts with some weird stderr warning:
[code]

and rpc.py for some reason reports rc=0 even though SPDK is not running in the background (I killed spdk_tgt from previous

[2020-05-20 07:32] karlatec commented on #1405
Assigning myself for now

[2020-05-20 10:28] yidong0635 commented on #1402
please refer to script:  test/ocf/integrity/bdevperf-iotypes.sh  and with mallocs.conf.

[2020-05-20 17:05] karlatec commented on #1405
Looks fixed here: https://ci.spdk.io/public_build/autotest-nightly_527.html
Waiting a couple of builds before closing the issue.

[2020-05-20 19:25] peluse opened #1406 "[blobFS] bdev_io_get_buf: *ERROR* followed by AddressSanitizer complaint"
00:07:06.123  [2020-05-20 21:08:41.934136] bdev.c: 789:bdev_io_get_buf: *ERROR*: Length + alignment 69632 is larger than allowed
00:07:06.123   21:08:41	# umount /tmp/spdk_tmp_mount
00:07:06.147  [2020-05-20 21:08:41.958127] blobfs_fuse.c: 275:fuse_loop_new_thread: *NOTICE*: Blobfs on bdev BlobfsBdev unmounted from /tmp/spdk_tmp_mount
00:07:06.147   21:08:41	# killprocess 421542
00:07:06.147   21:

[2020-05-20 19:26] spdkci commented on #1406
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_14486.html

[2020-05-20 22:09] mpiszczek opened #1407 "pci_init() in v20.04 conflicts with pci_init() from libpci (PCI utilities)"
Hello,

I recently upgraded a project to SPDK v20.04. The function pci_init(void) in lib/env_dpdk/pci.c now conflicts with pci_init() from the libpci PCI Utilities library.

## Expected Behavior

## Current Behavior

## Possible Solution

Revert commit 15d0ae628de05172da695261c49864a40cef101f
lib/env_dpdk: remove spdk prefix from internal functions.

## Steps to Reproduce

Compile this example cod

[2020-05-20 22:57] jimharris commented on #1407
We need to include a fix for this in v20.04.2 (tentatively planned for next week).

Moving to bug.

[2020-05-20 23:42] changpe1 commented on #1362
Patch was merged to master, I'm going to close this issue now.

[2020-05-20 23:42] #1362 closed

[2020-05-21 01:16] spdkci commented on #1406
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_14519.html

[2020-05-21 03:35] spdkci commented on #1313
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_14548.html

[2020-05-21 05:59] gwnet opened #1408 "bdev failed to attach nvme device on my HW enviroment"
I checkout the SPDK tag code 20.04.x.
I make the code and run the scripts/setup to remove kernel driver.

but when I run below command, it show me failed attach NVMe controller.
as you can see lspci can show the nvme device is there.

10002:01:00.0 Non-Volatile memory controller: Intel Corporation Express Flash NVMe P4500
10002:02:00.0 Non-Volatile memory controller: Intel Corporation Express Flas

[2020-05-21 06:03] yidong0635 commented on #1400
![image](https://user-images.githubusercontent.com/39082016/82528639-d07ed380-9b6b-11ea-8602-d450f6ecb9c3.png)

[2020-05-21 06:08] gwnet commented on #1408
hello guys, I even failed to run the nvme hello world example.

what wrong is on going?

[root@localhost hello_world]# ./hello_world
Starting SPDK v20.04.1-pre git sha1 9da2afe / DPDK 19.11.0 initialization...
[ DPDK EAL parameters: hello_world -c 0x1 --log-level=lib.eal:6 --log-level=lib.cryptodev:5 --log-level=user1:6 --iova-mode=pa --base-virtaddr=0x200000000000 --match-allocations --file-prefi

[2020-05-21 06:20] Comphix commented on #1408
Looks like your system is VMD enabled.

Check https://spdk.io/doc/vmd.html webpage.

[2020-05-21 07:08] gwnet commented on #1402
@yidong0635
==could you please be more specific for below example?
$rootdir/examples/bdev/hello_world/hello_bdev --json "$conf_file" -b "$hello_world_bdev"
this need to specify hello_world_bdev

[2020-05-21 07:37] karlatec opened #1409 "[iscsi-nightly-autotest] iscsi_tgt_calsoft not run in test build"
## Description
Nightly builds failing due to calsoft binaries missing on systems.

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-nightly_527.html
https://ci.spdk.io/results/autotest-nightly/builds/527/archive/post_process/completions_table_by_test.html

## Execution failed at

[code]

[2020-05-21 07:38] gwnet commented on #1402
@yidong0635
I can run the bdevperf-iotypes.sh well now. but how to compile one mallocs.conf as I want. can you give me one simple example?

===
 08:07:40	# /home/wayne/spdk/test/bdev/bdevperf/bdevperf -c /home/wayne/spdk/test/ocf/integrity/mallocs.conf -q 128 -o 4096 -t 4 -w write
conf.c: 613:spdk_conf_read: *ERROR*: INI configuration has been deprecated and will be removed in a future release. Pl

[2020-05-21 08:35] karlatec opened #1410 "[nvme-phy-nightly-autotest] nvme_cli test fails on nvme-cli compilation"
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-nightly_528.html
https://ci.spdk.io/results/autotest-nightly/builds/528/archive/nvme-phy-nightly-autotest/build.log

## Execution failed at

[code]

First noticed in build with git log head:
[code]

Previous nightly build 527 was successful, with git log:
[code]

[2020-05-21 08:42] karlatec opened #1411 "[nvmf-phy-nightly-autotest] nvme_cli.sh test fails due to nvme-cli not available"
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-nightly_529.html
https://ci.spdk.io/results/autotest-nightly/builds/529/archive/nvmf-phy-nightly-autotest/build.log

## Execution failed at
[code]

First failing build is https://ci.spdk.io/public_build/autotest-nightly_529.html with git log head:
[code]

Previous builds https://ci.spdk.io/public_build/autotest-nightly_528.ht

[2020-05-21 09:11] yidong0635 commented on #1402
@gwnet , I don't very clear what you mean.
Are these steps about.
1. compile spdk  --with-ocf
2. start a target
3 . using rpc methods add bdevs ( malloc bdev  and then OCF bdev ,you can  look up from test scripts)
4 , run fio test (fio fio.config).

[2020-05-21 09:15] karlatec opened #1412 "[unittest-nightly-autotest] Compilation failure versus dpdk master"
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-master_225.html
https://ci.spdk.io/results/autotest-spdk-master-vs-dpdk-master/builds/225/archive/unittest-nightly-autotest/build.log

## Execution failed at

Error log is pretty long. Attaching it as file [unittest-nightly-autotest.zip](https://github.com/spdk/spdk/files/4661587/unittest-nightly-autotest.

[2020-05-21 12:50] spdkci commented on #1382
Another instance of this failure. Reported by @tkulasek. log: https://ci.spdk.io/public_build/autotest-per-patch_14581.html

[2020-05-21 13:00] AlekseyMarchuk commented on #1387
It is needed to check last information about errors with no_srq=false

[2020-05-21 13:14] gwnet commented on #1402
let me figure bdevperf firstly then get back to fio plugin. here is my latest issue.
I modify the conf file like this
==my OCF conf file
[Malloc]
  NumberOfLuns 1
  LunSizeInMB 300
  BlockSize 512

[Nvme]
  TransportID "trtype:PCIe traddr:0000:5e:00.0" Nvme0

[OCF]
  OCF MalCache1 wt Malloc0 Nvme0

then I run the command, but I cannot see the IO reach the OCF cache device MalCache1. what I am miss

[2020-05-21 22:55] gwnet commented on #1402
hello I run the bdev hello world with the json way, but it show me the error log indicate submit IO fail though the whole example run well.

[root@localhost hello_world]# ./hello_bdev --json /tmp/ocf.json --json-ignore-init-errors -b Cache1
Starting SPDK v20.04.1-pre git sha1 9da2afe / DPDK 19.11.0 initialization...
[ DPDK EAL parameters: hello_bdev --no-shconf -c 0x1 --log-level=lib.eal:6 --log-l

[2020-05-22 00:16] gwnet commented on #1402
if there is no OCF, it is working.
[root@localhost hello_world]# ./hello_bdev --json /tmp/nvmebdev.json --json-ignore-init-errors -b Nvme0n1
Starting SPDK v20.04.1-pre git sha1 9da2afe / DPDK 19.11.0 initialization...
[ DPDK EAL parameters: hello_bdev --no-shconf -c 0x1 --log-level=lib.eal:6 --log-level=lib.cryptodev:5 --log-level=user1:6 --iova-mode=pa --base-virtaddr=0x200000000000 --match-alloc

[2020-05-22 00:25] spdkci commented on #1313
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_14642.html

[2020-05-22 01:16] gwnet commented on #1404
hello I tried the json way, looks like bdev fio_plugin does not work well with json

[root@localhost fio_plugin]# LD_PRELOAD=/home/wayne/spdk/examples/bdev/fio_plugin/fio_plugin fio wayne.fio
test: (g=0): rw=randrw, bs=(R) 4096B-4096B, (W) 4096B-4096B, (T) 4096B-4096B, ioengine=spdk_bdev, iodepth=128
fio-3.19
Starting 1 thread
conf.c: 613:spdk_conf_read: *ERROR*: INI configuration has been depreca

[2020-05-22 01:37] gwnet commented on #1404
I try the json way too.
but still failed.
 I use the spdk_json_conf option. I add it into my .fio file
[global]
ioengine=spdk_bdev
#spdk_conf=wayne.conf
spdk_json_conf=/tmp/nvmebdev.json
thread=1
group_reporting=1
direct=1
verify=0
time_based=1
ramp_time=0
runtime=2
iodepth=128
rw=randrw
bs=4k
[test]
numjobs=1
9:35
but I still failed to run the fio. it failed to find the bdev file, this json file

[2020-05-22 01:57] gwnet commented on #1404
I use the legacy conf file to run only for one nvme device, also failed. could you please help?

Run status group 0 (all jobs):
[root@localhost fio_plugin]# LD_PRELOAD=/home/wayne/spdk/examples/bdev/fio_plugin/fio_plugin fio wayne.fio --filename=Nvme0n1
test: (g=0): rw=randrw, bs=(R) 4096B-4096B, (W) 4096B-4096B, (T) 4096B-4096B, ioengine=spdk_bdev, iodepth=128
fio-3.19
Starting 1 thread
conf.c: 6

[2020-05-22 02:02] gwnet commented on #1404
I failed with conf mode not json mode even with the default bdev fio plugin example.
my spdk version is 20.04.x

[root@localhost fio_plugin]# LD_PRELOAD=/home/wayne/spdk/examples/bdev/fio_plugin/fio_plugin fio full_bench.fio
4k_randread_qd1: (g=0): rw=randread, bs=(R) 4096B-4096B, (W) 4096B-4096B, (T) 4096B-4096B, ioengine=spdk_bdev, iodepth=1
fio-3.19
Starting 1 thread
conf.c: 613:spdk_conf_read:

[2020-05-22 06:48] yidong0635 commented on #1404
hi, bdev_plugin using this config:
![image](https://user-images.githubusercontent.com/39082016/82639316-1060bc00-9c3b-11ea-937f-d0aac0ba5e77.png)

[2020-05-22 06:58] yidong0635 commented on #1404
please list your nvme devices:  lspci | grep Non  Do you have this deive: traddr:0000:5e:00.0?

[2020-05-22 07:38] yidong0635 commented on #1402
@gwnet  Can you list your json config file here, that we can reproduce this issue next time?

[2020-05-22 08:31] yidong0635 opened #1413 "test/nvmf/host/perf.sh --transport=rdma failed"
run nvmf test locally, there are many errors,
some times:
 16:01:24       # /home/yidong/spdk/scripts/rpc.py nvmf_subsystem_add_ns nqn.2016-06.io.spdk:cnode1 Nvme0n1
[2020-05-22 16:01:24.214550] nvmf_rpc.c: 964:nvmf_rpc_ns_paused: *ERROR*: No bdev with name Nvme0n1
request:
{
  "nqn": "nqn.2016-06.io.spdk:cnode1",
  "namespace": {
    "bdev_name": "Nvme0n1"
  },
  "method": "nvmf_subsystem_add_ns"

[2020-05-22 09:09] karlatec commented on #1405
All latest CentOS7 nightly builds are passing now. Closing the issue.

[2020-05-22 09:09] #1405 closed

[2020-05-22 11:23] darsto commented on #1275
Hi @mhae . Sorry for the lack of update, I'm still working on this.
There's now a test suite for spdk hotplug up for review:  https://review.spdk.io/gerrit/c/spdk/spdk/+/2151/3
The two test cases there are commented out because they fail and I'm still investigating. I'll be trying to get them fixed in the first place, will keep you posted.

[2020-05-22 14:13] gwnet commented on #1402
@yidong0635 thank you so much buddy.
here is my command run hello world bdev on OCF json configure.

==here is log==
[root@localhost hello_world]# ./hello_bdev --json /tmp/ocf.json --json-ignore-init-errors -b Cache1
Starting SPDK v20.04.1-pre git sha1 9da2afe / DPDK 19.11.0 initialization...
[ DPDK EAL parameters: hello_bdev --no-shconf -c 0x1 --log-level=lib.eal:6 --log-level=lib.cryptodev:5 --l

[2020-05-22 15:10] gwnet commented on #1404
Yes, I have this device. let me try another device that is not optane.
[root@localhost fio_plugin]# lspci -v | grep Non
5e:00.0 Non-Volatile memory controller: Intel Corporation Optane DC P4800X Series SSD (prog-if 02 [NVM Express])
5f:00.0 Non-Volatile memory controller: Intel Corporation Optane DC P4800X Series SSD (prog-if 02 [NVM Express])
af:00.0 Non-Volatile memory controller: Intel Corporat

[2020-05-22 15:22] gwnet commented on #1404
@yidong0635 I do not use /examples/bdev/fio_plugin/bdev.conf.in any more.
here is my full config for the test.
===test result==
[root@localhost fio_plugin]# LD_PRELOAD=/home/wayne/spdk/examples/bdev/fio_plugin/fio_plugin fio wayne1.fio --filename=Nvme0n1
test: (g=0): rw=randrw, bs=(R) 4096B-4096B, (W) 4096B-4096B, (T) 4096B-4096B, ioengine=spdk_bdev, iodepth=128
fio-3.19
Starting 1 thread
Starting

[2020-05-25 01:41] gwnet commented on #1408
@Comphix @yidong0635 thank you so much guys. :) it is VMD issue.

[2020-05-25 01:44] #1408 closed

[2020-05-25 02:35] Comphix commented on #1385
After setting the "sync" to true, all writes will go to the disk, it looks like shall have similar impact to write unless there is some different handling in RocksDB.

Setting up a larger Memtable size, is for the potential better Read performance if hitting the data in Memtable?

Trying to understand these two parameters. Is this correct? @cighao

-sync (Sync all writes to disk) type: bool defaul

[2020-05-25 03:01] gwnet commented on #1404
@yidong0635 buddy, I test the simple malloc bdev too, I found the same issue. I use the json way. please suggest me.

[root@localhost fio_plugin]#  LD_PRELOAD=/home/wayne/spdk/examples/bdev/fio_plugin/fio_plugin fio  wayne2.fio
test: (g=0): rw=randrw, bs=(R) 4096B-4096B, (W) 4096B-4096B, (T) 4096B-4096B, ioengine=spdk_bdev, iodepth=128
fio-3.19
Starting 1 thread
Starting SPDK v20.04.1-pre git sha1

[2020-05-25 03:19] yidong0635 commented on #1404
@all, this issue can be reproduced .

[2020-05-25 04:27] changpe1 commented on #1413
@yidong0635 Can you get the block device using 'bdev_get_bdevs' RPC when this error happened ?

[2020-05-25 05:31] yidong0635 commented on #1413
@changpe1  ,  will take a time to double  check this. Our test environments are been reset. I ran this test on different machines last week,  and got different results:
1. some machine likes issue as above .
2. some machine hangs up .
 09:04:57       # /home/yidong/spdk/examples/nvme/perf/perf -q 1 -o 4096 -w randrw -M 50 -t 1 -r 'trtype:rdma adrfam:IPv4 traddr:192.168.1.1 trsvcid:4420'
Starting S

[2020-05-25 06:00] karlatec commented on #1409
Latest nightly tests are now running calsoft tests:
https://ci.spdk.io/public_build/autotest-nightly_541.html
https://ci.spdk.io/results/autotest-nightly/builds/541/archive/post_process/completions_table_by_test.html

https://ci.spdk.io/public_build/autotest-nightly_540.html
https://ci.spdk.io/results/autotest-nightly/builds/540/archive/post_process/completions_table_by_test.html

[2020-05-25 06:01] #1409 closed

[2020-05-25 06:07] changpe1 commented on #1406
I submitted a fix patch https://review.spdk.io/gerrit/c/spdk/spdk/+/2587 here.

[2020-05-25 06:45] jasunliu commented on #1389
Thank you for your reply.
According to the link : https://spdk.io/doc/blobfs.html,   require at list 5GB of memory allocated for huge pages.   "Make sure you have at least 5GB of memory allocated for huge pages. By default, the SPDK setup.sh script only allocates 2GB. The following will allocate 5GB of huge page memory (in addition to binding the NVMe devices to uio/vfio)."
and my system hugepages

[2020-05-25 07:14] yidong0635 commented on #1413
I haven't checked several machine.
for 1, no nvme device. It's not a bug on my side.
for 2, this may need to investigate .
others need to observe more.

[2020-05-25 07:55] Comphix commented on #1385
I've tried similar testing and configuration, for the "readseq" and "readrandom", with different Memtable size, looks like there is no obvious difference.

[2020-05-25 08:37] yidong0635 commented on #1413
I'm going to close this one, once I confirm the issue 2 is due to the code defect, I will submit a new one.

[2020-05-25 08:37] #1413 closed

[2020-05-25 09:24] cighao commented on #1385
Could you please try "fillrand"? I also compared rocksdb-spdk with vanilla rocksdb. I didn't see big difference between them when enable WAL and Fsync.

[2020-05-25 15:27] tmonjalo commented on #1412
How SPDK is integrating DPDK?
Is it using pkg-config with libdpdk.pc generated by DPDK meson installation?
If not, I advise switching to pkg-config which is the standard tool for library linkage,
and would provide a robust linkage, independent of any change in DPDK.

[2020-05-26 00:19] spdkci commented on #1092
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_14842.html

[2020-05-26 01:47] Comphix commented on #1385
"fillrandom" as documented in the issue? Yes, I've tried and I also seen the performance difference with different Memtable size. Question is that in which situation, you are going to use the 1G Memtable instead of the default 64M as it seems there is no difference for the read operations.

[2020-05-26 04:37] spdkci commented on #1297
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_14871.html

[2020-05-26 05:10] yidong0635 commented on #1404
please try this conf.json
{
  "subsystems": [
    {
      "subsystem": "bdev",
      "config": [
        {
          "params": {
            "name": "Malloc0",
            "block_size": 4096,
            "num_blocks": 32
          },
          "method": "construct_malloc_bdev"
        }
      ]
    }
  ]
}

[2020-05-26 06:49] liang2yan opened #1414 "the spdk iscsi disk can't be formatted in vmware esxi 6.7.0"
## Expected Behavior

the spdk iscsi disk can be formatted with vmfs5 and vmfs6
## Current Behavior
the spdk iscsi disk can't be formatted with vmfs5 and vmfs6.

## Possible Solution
the vmware reported following log:
[code]
it seems that the block size is not correct.
## Steps to Reproduce
1.  run spdk iscsi tgt, configure AIO bdev with block size 512.
2. In vmware esxi .7, configure iscsi device

[2020-05-26 07:14] yidong0635 commented on #1404
I use two machines to run the same scripts:
`./test/ocf/integrity/fio-modes.sh`
one is ok, another reports:
EAL: No available hugepages reported in hugepages-1048576kB
[2020-05-26 22:53:34.604879] json_config.c: 192:rpc_client_poller: *ERROR*: error response: {"co[2020-05-26 22:53:34.605052] fio_plugin.c: 457:spdk_fio_setup: *ERROR*: Unable to find bdev with name PT_Nvme
[2020-05-26 22:53:34.60513

[2020-05-26 07:38] yidong0635 commented on #1404
It's not a bug,  project compiling without fio config.
missed fio configure :  ./configure --with-fio=/usr/src/fio --with-ocf --without-isal ...

[2020-05-26 08:04] jasunliu commented on #1389
Thanks , I added the hugepages , It is OK.

[2020-05-26 08:06] #1389 closed

[2020-05-26 08:17] yidong0635 commented on #1402
According this conf to run hello_bdev,  we can also got an invalid  error code =-22,
volume.c: 362:vbdev_ocf_volume_submit_io: ERROR: submission failed with status=-22. need to clarify this.

[2020-05-26 09:49] wawryk commented on #1379
It work fine, thanks @Maciej-Szwed
error from my previous comment was caused by bad CFLAGS configuration.

[2020-05-26 12:27] tomzawadzki commented on #1407
Proposal for resolution sent here: https://review.spdk.io/gerrit/c/spdk/spdk/+/2611
Along with backport to v20.04.2: https://review.spdk.io/gerrit/c/spdk/spdk/+/2614

[2020-05-26 13:07] gwnet commented on #1404
ah, I compile fio also with ocf, but I suffer the issue. @yidong0635 may I know how you fun the fio on bdev with json configure?

[2020-05-26 13:09] gwnet commented on #1402
@yidong0635 is this one bug? how to run bdev hello world with ocf?

[2020-05-26 13:50] mhae commented on #1275
@darsto , thanks for the update. Test looks good. Another one that would be helpful is to remove/add in quick succession a couple of times and see if there are any issues.

[2020-05-26 16:28] spdkci commented on #1382
Another instance of this failure. Reported by @EugeneKochetov. log: https://ci.spdk.io/public_build/autotest-per-patch_14918.html

[2020-05-26 16:33] spdkci commented on #1382
Another instance of this failure. Reported by @EugeneKochetov. log: https://ci.spdk.io/public_build/autotest-per-patch_14922.html

[2020-05-26 16:34] spdkci commented on #1382
Another instance of this failure. Reported by @EugeneKochetov. log: https://ci.spdk.io/public_build/autotest-per-patch_14920.html

[2020-05-27 01:37] yidong0635 commented on #1404
@gwnet  FIO_BIN=/usr/src/fio
fio_plugin + FIO_BIN + ioengine=spdk_bdev + spdk_json_conf.(your config format may not right, and the step is right, I just follow your steps , just to modify the json conf and fio conf( put filename=Malloc0  in this file))
[code]

[code]

[2020-05-27 02:11] gwnet commented on #1404
@yidong0635  thank you so much yidong, I will verify. but my json file is exported by SPDK, I use the rpc command save_config to save it. can you help check if this the save_config bug?

[2020-05-27 02:12] gwnet commented on #1404
my final goal is to run the OCF test on fio plugin. so for complex IO system, it will be hard for me to compile manually. so save_config will help.

[2020-05-27 02:13] gwnet commented on #1402
@yidong0635 may I know any new finding for this?

[2020-05-27 02:16] changpe1 commented on #1406
Patch was merged, I'm going to close this issue now.

[2020-05-27 02:16] #1406 closed

[2020-05-27 02:40] yidong0635 commented on #1402
{
"method": "bdev_malloc_create",
"params": {
"name": "Malloc0",
"num_blocks": 614400,
"block_size": 512,
"uuid": "15373a32-4bad-4b8a-865f-15fbeb430d9f"
}
},

[2020-05-27 04:55] spdkci commented on #1313
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_14975.html

[2020-05-27 04:59] spdkci commented on #1297
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_14876.html

[2020-05-27 06:50] spdkci commented on #1411
Another instance of this failure. Reported by @EugeneKochetov. log: https://ci.spdk.io/public_build/autotest-per-patch_14935.html

[2020-05-27 09:54] spdkci commented on #1382
Another instance of this failure. Reported by @tkulasek. log: https://ci.spdk.io/public_build/autotest-per-patch_14906.html

[2020-05-27 12:08] gwnet commented on #1404
@yidong0635 thank you so much. with your json config, I can run fio on malloc bdev now.
1. but why the save_config json does not work. is it one issue for save_config method?
2. and how I build one json for OCF to run under fio?

[root@localhost fio_plugin]# LD_PRELOAD=/home/wayne/spdk/examples/bdev/fio_plugin/fio_plugin fio yidong.fio
test: (g=0): rw=randrw, bs=(R) 4096B-4096B, (W) 4096B-4096B, (

[2020-05-27 12:23] gwnet commented on #1402
hello @yidong0635  here is current configure for Malloc0, I feel nothing is wrong. if I use your above configure, the spdk fail to bring up because the json parse fail.

==my json malloc part==
 {
          "method": "bdev_malloc_create",
          "params": {
            "name": "Malloc0",
            "num_blocks": 51200,
            "block_size": 4096,
            "uuid": "15373a32-4bad-4b8a-865

[2020-05-27 21:56] spdkci commented on #1313
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_15063.html

[2020-05-27 22:44] mhae opened #1416 "Lock-up during multiple, successive nvme hotplugs"
When a NVMe drive is removed/added multiple times in quick succession, the nvmf target locks up.
For example, I'm executing the following 2 steps in quick succession 5 times:
hot remove drive
hot add drive

There is only minimal delay between these steps (1-10ms).

Note: In my app, I'm listening to SPDK bdev_register event and call the RPC to add a newly found bdev to a specific NVMF subsystem.

A

[2020-05-28 00:17] changpe1 commented on #1414
@liang2yan Do you have any SPDK log information when this happened?

[2020-05-28 00:50] yidong0635 commented on #1400
this is to fix compiling error on openSUSE.
https://review.spdk.io/gerrit/c/spdk/spdk/+/2638

[2020-05-28 01:00] yidong0635 commented on #1400
font issue should be another issue on all other platform.

[2020-05-28 01:03] changpe1 commented on #1403
It happened on GP1, and the test is actually not related with Blobfs test itself, when testing overwrite case, SPDK can't initialize the physical NVMe device:

[ DPDK EAL parameters: rocksdb --no-shconf -c 0x1 --log-level=lib.eal:6 --log-level=lib.cryptodev:5 --log-level=user1:6 --base-virtaddr=0x200000000000 --match-allocations --file-prefix=spdk_pid1401229 ]
EAL: No available hugepages reported

[2020-05-28 02:41] shuhei-matsumoto opened #1417 ""Cannot create lock on device /tmp/spdk_pci_lock_0000:00:06.0" observed at SPDK env init"
By inserting an new test application after nvme_arbitration test case in the test pool, the following log was collected.

[code]

The above log says process 84014 is the stub.

[code]
## Expected Behavior

No error and nvme_abort test case detects NVMe controller.

## Current Behavior

The above error

## Possible Solution

None yet.

## Steps to Reproduce

Test pool

## Context (Environment inclu

[2020-05-28 02:42] shuhei-matsumoto commented on #1417
Besides, I saw nvme_fio test case did nothing in the test pool.

[code]

[2020-05-28 04:13] shuhei-matsumoto commented on #1417
Bug scrub: I will try to set shm_id to zero, and add nvme_fio issue as a separate issue

[2020-05-28 04:18] shuhei-matsumoto opened #1418 "nvme_fio test case in the CI does not find NVMe device and did nothing."
Every auto test run gets the following log in the VM test pool.
https://review.spdk.io/gerrit/c/spdk/spdk/+/2661
According to Seth's investigation, physical machine passed this test.

[code]

[2020-05-28 04:26] changpe1 commented on #1403
kernel panic with IOAT devices:

[71232.496034] vfio-pci 0000:00:04.0: vfio_pci: Relaying device request to user (#0)
[71232.530938] ------------[ cut here ]------------
[71232.530950] WARNING: CPU: 0 PID: 1306671 at drivers/iommu/intel-iommu.c:602 domain_get_iommu+0x45/0x50
[71232.530951] Modules linked in: btrfs blake2b_generic xor zstd_compress raid6_pq zstd_decompress fuse mlx4_ib mlx4_en mlx4

[2020-05-28 04:30] changpe1 commented on #314
@Donaim Could you update the document so that we can close this issue, thanks.

[2020-05-28 04:32] changpe1 commented on #1188
@darsto pinging, could you submit a patch to provide a parameter? Thanks.

[2020-05-28 06:03] yidong0635 commented on #1402
hi，
[code]
[code]

[2020-05-28 06:51] liang2yan commented on #1416
@mhae , are you using vfio-pci or uio_pci_generic? I am trying to reproduce this issue in my environment.

[2020-05-28 07:13] #1407 closed

[2020-05-28 13:12] mhae commented on #1416
Hi @liang2yan, it's vfio-pci. UIO is still broken in CentOS8. I'll try to work some more on this issue as well (I've been on it for a couple of days already). I'm not sure how easy it will be to repro in a VM setup vs real HW. Did my write up and error messages provide enough context?

[2020-05-28 16:29] mikeBashStuff opened #1419 "Can't compile qemu 5.0.0 on Fedora {30,31} via vm_setup.sh"
[code]

When `vm_setup.sh` attempts to compile qemu from `spdk-5.0.0` branch, it fails with the following:
[code]

[2020-05-28 19:18] ak-gh commented on #1416
On Thu, May 28, 2020, 01:45 Michael Haeuptle <notifications@github.com>
wrote:

These repetitive messages come from vfio-pci since then expected user
callback is never fired. They are better disabled, makes things much easier
to debug.

Regards,
Andrey

[2020-05-28 20:05] mhae commented on #1416
@liang2yan , I made a little bit more progress today and I wanted to send you an update in case you come online soon.
I hope you had a chance follow the code based on the error messages. There are 1 or potentially 2 issues.
The major issue is that adding the bdev to a subsystem can fail. There is no way to propgate the failure in poll_group_update_subsystem back to the RPC. The RPC is left in a RE

[2020-05-28 22:21] spdkci commented on #1297
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_15178.html

[2020-05-28 22:28] mhae commented on #1416
@liang2yan , so it seems that force the NVMF subsystem to ACTIVE, even if spdk_rpc_nvmf_subsystem_add_ns fails, then I don't get into the DPDK loop. So having the subsystem in a failed state is messing up the release of the PCIe device when we try to hot remove it.
I don't know what our stance is towards failed RPCs, but we can't leave them in a non-recoverable state.
This is what I did to make pr

[2020-05-28 22:47] jimharris commented on #1096
@Seth5141 can we close this?

[2020-05-28 23:17] Seth5141 commented on #1096
My patch appears to have fixed the issue. Closing this.

[2020-05-28 23:17] #1096 closed

[2020-05-29 00:08] gwnet commented on #1404
@yidong0635 could you please use the save config to reproduce my previous issue? I feel it is save config bug?

the same json configure file works well for bdevperf tool. but failed in fio plugin tool. there is must something wrong.

![image](https://user-images.githubusercontent.com/7543276/83206361-4c3bda00-a183-11ea-8e49-60e20f31c770.png)

![image](https://user-images.githubusercontent.com/7543

[2020-05-29 01:21] changpe1 commented on #1400
Patch has been merged, closing this issue for now.

[2020-05-29 01:21] #1400 closed

[2020-05-29 02:06] yidong0635 commented on #1404
@gwnet , found an issue about  save config always " Timeout while waiting for response" using the latest code.

[2020-05-29 04:30] shuhei-matsumoto opened #1420 "[ubuntu18_vg_autotest] vagrant libvirt got undefined method `path' for nil:NilClass (NoMethodError)"
[code]
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/15224/archive/ubuntu18-vg-autotest/build.log

## Execution failed at

00:00:22.914  /var/lib/libvirt/images/.vagrant.d/gems/2.4.4/gems/vagrant-libvirt-0.0.45/lib/vagrant-libvirt/action/create_domain_volume.rb:37:in `call': undefined method `path' for nil:NilClass (NoMethodError)

[2020-05-29 07:58] gwnet commented on #1404
@yidong0635 ah, Yes, it is bug too. you can use 20.04, then you can see the same thing with me. save confige can make bdevperf run OK, but not fio plugin bdev.
these two bugs need fixed together. :)

[2020-05-29 08:29] ChenBo2333 opened #1421 "Rpc method run save_config failed."
When run save_config in spdkcli , hung up unexpectedly.

## Expected Behavior
run successfully without errors.

## Current Behavior
/iscsi/target_nodes> create alias_name=disk1 name=iqn.2016-06.io.spdk:disk1 bdev_name_id_pairs=Malloc0:0 pg_ig_mappings=1:1 queue_depth=64
bdev_name_id_pairs: Malloc0:0
pg_ig_mappings: 1:1
/iscsi/target_nodes> cd /
/> save_config filename=dddd.json
Timeout while waiti

[2020-05-29 08:32] yidong0635 commented on #1404
link to #1421 , config 20.04 can save_config, and  need to verify the json file describing  as above .

[2020-05-29 11:56] spdkci commented on #1313
Another instance of this failure. Reported by @tkulasek. log: https://ci.spdk.io/public_build/autotest-per-patch_15256.html

[2020-05-29 13:29] spdkci commented on #1297
Another instance of this failure. Reported by @tkulasek. log: https://ci.spdk.io/public_build/autotest-per-patch_15281.html

[2020-05-29 15:46] cighao commented on #1385
Because read operations don't need the Memtable, Memtable size has no impact on the read performance. I just tried the different Memtable sizes to see the performance difference and found that problem.  I'm very curious about why the Memtable size has such a big impact on write performance.
I also test the read performance,  RocksDB-BlobFS is much slower than vanilla RocksDB. Is that because Linux

[2020-05-29 18:45] peluse opened #1422 "[blobfs] ERROR: AddressSanitizer: heap-use-after-free (kernel panic when using vfio GP1 only)"
## Link to the failed CI build

## Execution failed at

[2020-05-29 18:46] spdkci commented on #1422
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_15188.html

[2020-05-29 18:47] spdkci commented on #1422
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_15195.html

[2020-05-29 20:45] spdkci commented on #1422
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_15359.html

[2020-05-29 21:27] mhae opened #1423 "nvme: io queue creation can loop forever during hot remove"
The `spdk_nvme_wait_for_completion_robust_lock()` can loop forever during hot remove of a device. Below is a stack trace that shows the call sequence. The function doesn't have an exit when the device is no longer present.

[code]

## Expected Behavior

No loops.

## Current Behavior

## Possible Solution
Checking csts register fixes the issue:
[code]
## Steps to Reproduce

Difficult with virtual

[2020-05-29 22:32] jimharris commented on #1423
@mhae - your fix looks reasonable to me.  Could you clean it up a bit and submit it to Gerrit for review?

[2020-05-29 22:39] mhae commented on #1423
Will do

On Fri, May 29, 2020, 4:32 PM Jim Harris <notifications@github.com> wrote:

[2020-06-01 02:31] spdkci commented on #1313
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_15582.html

[2020-06-01 02:40] changpe1 commented on #1422
I checked the build.log for the failure cases: echo 'AIO /blobfs_file BlobfsBdev 4096', we are using 512 with master branch now, you can rebase your patches with latest master branch, the issue is already fixed.

[2020-06-01 03:04] spdkci commented on #1313
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_15586.html

[2020-06-01 05:10] liang2yan commented on #1416
@mhae , I think I have reproduced this issue. The log is as below:
[code]

I will follow your suggestion to get some progress.

[2020-06-01 07:22] optimistyzy commented on #1378
@liu-wenhua  https://review.spdk.io/gerrit/c/spdk/spdk/+/2714  Could you see this patch satisfy your requirements?  It let users to configure max io qpairs. Definitely, if users pass 0, we will only create 1 admin qpair.
I checked the code, I will not suggest change  max_qpairs_per_ctrlr in our code, since it will break SPDK API.

[2020-06-01 07:50] spdkci commented on #1297
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_15630.html

[2020-06-01 08:35] darsto commented on #1412
Hi @tmonjalo . SPDK still uses DPDK Makefiles right now. There are patches to switch to meson, but still in review [1]. Right now SPDK just links with specified rte_* libs and drivers. Switching to pkg-config is something to consider - it might be the way to move forward.

For now I made a quick patch to add rte_telemetry to the lib list: https://review.spdk.io/gerrit/c/spdk/spdk/+/2590

[1] https

[2020-06-01 08:41] spdkci commented on #1313
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_15634.html

[2020-06-01 09:32] AlekseyMarchuk commented on #1387
Hi @mhae
Sorry for long delay. I checked your last comment and I didn't notice any errors generated by nvmf_tgt when I killed nvme_perf with ctrl+c. Could you clarify your environment? Did you use a real NIC or softroce?

[2020-06-01 10:18] wawryk commented on #1419
The same situation I have o clearlinux, I think that can be gcc issue.
[code]

[2020-06-01 13:18] mhae commented on #1387
@AlekseyMarchuk , now worries. I'm using a Mellanox CX5.

[2020-06-01 13:20] mhae commented on #1416
@liang2yan , sweet! I was wondering if we should just remove the namespace in the add namespace RPC when the namespace was only half created.

[2020-06-01 17:01] jimharris commented on #1398
VPP has been deprecated.

[2020-06-01 17:01] #1398 closed

[2020-06-01 17:02] jimharris commented on #1373
VPP has been deprecated.  Closing this issue since it was only seen once while running vpp_autotest.

[2020-06-01 17:02] #1373 closed

[2020-06-01 17:02] jimharris commented on #1335
VPP has been deprecated.

[2020-06-01 17:02] #1335 closed

[2020-06-01 17:04] jimharris commented on #1092
VPP has been deprecated.

[2020-06-01 17:04] #1092 closed

[2020-06-01 21:47] tmonjalo commented on #1412
Good to know that you may consider using pkg-config. Thanks

[2020-06-02 04:19] spdkci commented on #1422
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_16089.html

[2020-06-02 04:54] optimistyzy opened #1424 "[freebsd-vg-autotest] build time out during Vagrant setup"
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/16066/archive/freebsd-vg-autotest/build.log

## Execution failed at

00:00:15.750  remote: Total 4 (delta 3), reused 4 (delta 3)
00:00:15.768  From https://review.spdk.io/spdk/spdk
00:00:15.768   * [new ref]             refs/changes/14/2714/4 -> refs/test
00:00:15.874  Note: checking out '4b090a75cac8798315da35e42

[2020-06-02 04:56] spdkci commented on #1424
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_16066.html

[2020-06-02 05:14] spdkci commented on #1309
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_16070.html

[2020-06-02 06:38] yidong0635 commented on #1421
This issue is caused by commit: fad052b0cb156afb876c0bcf68111b6882df7ed7,
with accel always on, but  method of write_config json not good.

[2020-06-02 06:46] optimistyzy opened #1425 "[nvmf-phy-autotest] spdk_nvmf_subsystem_add_ns error"
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/16110/archive/nvmf-phy-autotest/build.log

## Execution failed at

00:04:38.564   10:04:36	# NVMF_SECOND_TARGET_IP=192.168.100.9
00:04:38.564   10:04:36	# /var/jenkins/workspace/nvmf-phy-autotest/spdk/scripts/rpc.py nvmf_create_transport -t rdma -u 8192
00:04:38.965   10:04:37	# /var/jenkins/workspace/nvmf-phy-aut

[2020-06-02 06:48] spdkci commented on #1425
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_16110.html

[2020-06-02 06:49] optimistyzy commented on #1421
@yidong0635  Do you mean that if we disable IOAT(accel module), this issue will disappear?

[2020-06-02 06:53] optimistyzy commented on #1417
@shuhei-matsumoto If we use the same shm_id under multiple process test, is this issue you described solved?

[2020-06-02 06:57] shuhei-matsumoto commented on #1417
@optimistyzy

Thank you, yes, using the same shm_id fixed this issue.
I close this issue. Thanks for your help.

[2020-06-02 06:57] #1417 closed

[2020-06-02 07:00] yidong0635 commented on #1421
@optimistyzy I don't know how to disable accel now, but before this patch it's ok. And these json related functions have not been registered.

[2020-06-02 07:01] spdkci commented on #1313
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_16116.html

[2020-06-02 07:10] spdkci commented on #1313
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_16098.html

[2020-06-02 07:13] AlekseyMarchuk commented on #1425
Looks like a duplicate of #1297

[2020-06-02 07:21] AlekseyMarchuk commented on #1388
There were no occurrences of this issues for 3 weeks, I think we can close it

[2020-06-02 07:23] AlekseyMarchuk commented on #1393
No reports on this issue for 20 days, I suggest closing it

[2020-06-02 07:24] optimistyzy commented on #1388
@AlekseyMarchuk I agree. We can close it and will open it again if there are same issues reported.

[2020-06-02 07:25] AlekseyMarchuk commented on #1319
No new reports for 2 months, suggest closing it

[2020-06-02 07:27] AlekseyMarchuk commented on #1317
No reports for ~5 weeks, suggest closing it

[2020-06-02 07:29] AlekseyMarchuk commented on #1248
No reports for several months, suggest closing it

[2020-06-02 07:31] optimistyzy commented on #1425
close this issue, and refer to #1297

[2020-06-02 07:31] #1425 closed

[2020-06-02 07:33] AlekseyMarchuk commented on #1141
It seems to be fixed, should we close it?

[2020-06-02 09:42] spdkci commented on #1313
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_12690.html

[2020-06-02 09:49] #1382 closed

[2020-06-02 10:35] spdkci commented on #1313
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_16147.html

[2020-06-02 13:18] tomzawadzki commented on #1388
Agreed.

[2020-06-02 13:18] #1388 closed

[2020-06-02 13:19] #1317 closed

[2020-06-02 13:20] #1248 closed

[2020-06-02 13:21] #1141 closed

[2020-06-02 13:22] #1393 closed

[2020-06-02 13:51] tomzawadzki commented on #1379
@wawryk Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/2433 is now merged. Does that resolve remaining items ?

[2020-06-02 14:03] tomzawadzki commented on #1366
The original failure was within `nvmf_shutdown_tc2` case. Last three reports are not within this test case, but different ones. Closing this issue since the logs are unrelated and if they were to be resolved, separate issue (more accurate) would need to be opened.

[2020-06-02 14:03] #1366 closed

[2020-06-02 15:17] tomzawadzki commented on #1418
[Bug scrub] This issue is present on every patch, and builds pass. @Seth5141 will take a look at it.

[2020-06-02 15:19] tomzawadzki commented on #1419
[Bug scrub] This is related to OCSSD patches on spdk/qemu.

[2020-06-02 15:21] tomzawadzki commented on #1424
[Bug scrub] This failure is related to Vagrant running the VMs.

[2020-06-02 15:24] wawryk commented on #1379
Yes, this patch resolved this issue. Thanks

[2020-06-02 15:24] #1379 closed

[2020-06-02 15:24] tomzawadzki commented on #1420
[Bug scrub] This looks as one time occurrence during VM maintenance on CI.

[2020-06-02 15:28] tomzawadzki commented on #1411
[Bug scrub] This was due to not updated nvme-cli repository on the test system. @karlatec took a look at it and updated. No longer occurs.

[2020-06-02 15:28] #1411 closed

[2020-06-02 15:28] tomzawadzki commented on #1410
[Bug scrub] This was due to not updated nvme-cli repository on the test system. @karlatec took a look at it and updated. No longer occurs.

[2020-06-02 15:28] #1410 closed

[2020-06-02 15:48] tomzawadzki commented on #1421
Following patch resolves this issue:
https://review.spdk.io/gerrit/c/spdk/spdk/+/2550

[2020-06-02 20:23] Seth5141 commented on #1418
Proposed fix here: https://review.spdk.io/gerrit/c/spdk/spdk/+/2746 We just had an ordering problem in the NVMe tests.

[2020-06-02 20:25] Seth5141 commented on #1394
Once Darek's patch is merged, we can close this. Thanks @darsto

[2020-06-03 01:57] optimistyzy commented on #1385
@cighao You are right for "BlobFS cannot use page cache". Blobfs is in user space, so definitely it cannot use page cache provided by kernel.

[2020-06-03 07:46] tomzawadzki commented on #1421
Previously [linked](https://review.spdk.io/gerrit/c/spdk/spdk/+/2550) patch is now merged, the issue should no longer be occurring.

@ChenBo2333 Does the current master work for you ?

[2020-06-03 07:54] ChenBo2333 commented on #1421
@tomzawadzki It works,thanks.

[2020-06-03 07:55] #1421 closed

[2020-06-03 08:52] wawryk opened #1426 "Memory leaks w/ tcmalloc during nvme-autotest"
## Expected Behavior
test pass

## Current Behavior
test fail

## Possible Solution

## Steps to Reproduce

1.Run nvme_autotest on clearlinux

## Context (Environment including OS version, SPDK version, etc.)
[code]

OS: Linux clearlinux 5.4.33-31.lts2019 #1 SMP Fri Apr 17 03:03:03 PDT 2020 x86_64 GNU/Linux
gcc:
[code]

clang:
[code]

[2020-06-03 12:17] darsto commented on #1426
Apparently it's discouraged to use ASAN with custom allocators, but I might try just to suppress those leaks and see if any other issues arise. If it works, then I would say we can use it on CI.

[2020-06-03 12:35] zhangsaisai opened #1427 "spdk iscsi tgt multi sessions error"
1、Use SPDK 19.01 and DPDK 18.11. Run SPDK iscsi_tgt with the config:
[iSCSI]
  NodeBase "iqn.2016-06.io.spdk"
  AuthFile /usr/local/etc/spdk/auth.conf
  MinConnectionsPerCore 4
  MaxSessions 1000
[PortalGroup1]
  Portal DA2 100.162.210.3:3260
[InitiatorGroup1]
  InitiatorName ANY
  Netmask ANY
[AIO]
  AIO /mnt/dev1/file1 AIO0 512
[TargetNode1]
  TargetName disk1
  TargetAlias "Data Disk1"
  Mappin

[2020-06-03 13:12] darsto commented on #1397
JFYI backtrace logs were removed from SPDK https://review.spdk.io/gerrit/c/spdk/spdk/+/2194

[2020-06-03 13:13] Seth5141 commented on #1394
Darek's patch was merged.

[2020-06-03 13:13] #1394 closed

[2020-06-03 13:17] mhae opened #1428 "[unittest-vg-autotest] CI failure"
See https://ci.spdk.io/results/autotest-per-patch/builds/16592/archive/unittest-vg-autotest/build.log

[code]

[2020-06-03 13:19] spdkci commented on #1428
Another instance of this failure. Reported by @mhae. log: https://ci.spdk.io/public_build/autotest-per-patch_16592.html

[2020-06-03 13:52] spdkci commented on #1313
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_16678.html

[2020-06-03 14:30] #1428 closed

[2020-06-03 21:44] Seth5141 commented on #1210
I am closing this as a duplicate of #1318. With the exception of one log, all of these come from the NVMe-oF TCP target_disconnect test.

[2020-06-03 21:44] #1210 closed

[2020-06-03 21:54] Seth5141 opened #1429 "[Multiple Tests] Failure in libvirt when starting vagrant VM for test."
# Link to the failed CI build
https://ci.spdk.io/public_build/autotest-per-patch_16753.html

## Execution failed at
00:00:37.159  There was an error talking to Libvirt. The error message is shown
00:00:37.159  below:
00:00:37.159
00:00:37.159  Call to virDomainCreateWithFlags failed: internal error: qemu unexpectedly closed the monitor: 2020-06-03T22:51:12.332547Z qemu-system-x86_64: warning: host

[2020-06-03 22:25] mhae commented on #1423
@jimharris , well, nothing is easy. My fix causes a recursion for the NVMF case, since `nvme_fabric_ctrlr_get_reg_4` eventually calls `spdk_nvme_wait_for_completion_robust_lock`.

[code]
Any suggestions on how to deal with that?

[2020-06-03 22:35] jimharris commented on #1423
Instead of that reg read, could you try checking qpair->state instead?  and if its not CONNECTED then bail

I'm fairly certain that when spdk_nvme_qpair_process_completions gets called after the SSD has been removed, that the state should get set to DESTROYING

Tagging @Seth5141 since he might have some ideas on this too.

[2020-06-03 23:03] spdkci commented on #1429
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_16755.html

[2020-06-03 23:07] spdkci commented on #1429
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_16756.html

[2020-06-04 00:45] spdkci commented on #1429
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_16759.html

[2020-06-04 02:46] spdkci commented on #1429
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_16766.html

[2020-06-04 02:51] spdkci commented on #1429
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_16767.html

[2020-06-04 02:57] spdkci commented on #1429
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_16768.html

[2020-06-04 04:24] spdkci commented on #1429
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_16770.html

[2020-06-04 06:08] spdkci commented on #1429
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_16776.html

[2020-06-04 06:45] liang2yan commented on #1414
I have use Linux LIO iscsi target to reproduce this issue. And the vmware esxi can correctly format the iscsi device which is from LIO iscsi target.
Then I run spdk iscsi target with iscsi and scsi debug log again, the issue still can be reproduced. i have put some log in the attached file which is got when the issue happened.
[1414.txt.txt](https://github.com/spdk/spdk/files/4728038/1414.txt.txt)

[2020-06-04 06:56] wanghailiangx opened #1430 "[rpc] RPC Unix domain socket path /var/tmp/spdk.sock in use"
00:01:40.301  ************************************
00:01:40.301  START TEST rpc
00:01:40.301  ************************************

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/16777/archive/iscsi-autotest/build.log

## Execution failed at

[code]

[2020-06-04 07:02] spdkci commented on #1430
Another instance of this failure. Reported by @wanghailiangx. log: https://ci.spdk.io/public_build/autotest-per-patch_16777.html

[2020-06-04 07:22] #1378 closed

[2020-06-04 08:05] wanghailiangx commented on #1427
Could you try again with the latest SPDK 20.04 and DPDK 19.11.0?

[2020-06-04 12:36] gwnet opened #1431 "SPDK bdev RPC will failed to bind 5th PCIE NVMe if run six device within one RPC scripts"
## Expected Behavior
I run RPC scripts to add NVMe device and OCF device, SPDK will failed to find nvme device that does exist.
if we run RPC directly on that device, there is no problem. just has issue if it is the 5th device to be scanned.

## Current Behavior

====run this scripts==
echo nvme0n1
time scripts/rpc.py bdev_nvme_attach_controller -b Nvme0 -t PCIe -a 0000:5e:00.0
time scripts/rpc.py

[2020-06-04 14:39] tomzawadzki commented on #1431
Hi @gwnet

[code]
Above suggests that it was not possible to allocate enough memory for malloc bdev.
From what I recall OCF takes bit more memory during the examine/initialization period. Since on initialization all of happens at once, it might be related.

How many Hugepages have you reserved (`HUGEMEM=x ./scripts/setup.sh`) ?
Did you try increasing this number ?

[2020-06-04 15:53] spdkci commented on #1424
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_16736.html

[2020-06-04 20:18] mhae commented on #1416
Hi @liang2yan , are you still looking into this bug?

[2020-06-04 21:53] spdkci commented on #1429
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_16748.html

[2020-06-04 21:53] spdkci commented on #1429
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_16747.html

[2020-06-04 23:29] optimistyzy commented on #1378
@liu-wenhua  Another patch is merged, please see this commit in the master:

 1551197db51aca1dc51ed866e5227f5c26927ed2

[2020-06-05 01:24] gwnet commented on #1431
@tomzawadzki thank you so much man. it works.
HugePages_Total:   20000
HugePages_Free:    18733
HugePages_Rsvd:        0
HugePages_Surp:        0
Hugepagesize:       2048 kB
Hugetlb:        40960000 kB
DirectMap4k:     1103220 kB
DirectMap2M:    32149504 kB
DirectMap1G:    168820736 kB

[2020-06-05 03:35] gwnet commented on #1431
@tomzawadzki now I use scripts to create ocf. I use one nvme0n1 vbdevs as cache device. I split nvme0n1 into 10. for the core device, I use Malloc.
===before I run my scripts to create OCF, I check there is no bdev in the system.
intel@intel:~/wayne/spdk$ sudo scripts/rpc.py bdev_ocf_get_bdevs
[]
intel@intel:~/wayne/spdk$ sudo scripts/rpc.py bdev_get_bdevs
[]
intel@intel:~/wayne/spdk$
==then I run

[2020-06-05 04:34] changpe1 commented on #1414
I believe that the issue should relate with RESERVE 0x16 command defined in SPC2, in existing SPDK reservation implementation, we didn't support this command, while LIO target do support that.

[2020-06-05 06:53] gwnet opened #1432 "SPDK OCF RPC looks like cannot change OCF cacheline size."
## Expected Behavior
there is no option for us to change the OCF cacheline size.

intel@intel:~/wayne/spdk$ sudo scripts/rpc.py bdev_ocf_create --help
usage: rpc.py bdev_ocf_create [-h] name {wb,wt,pt,wa,wi,wo} cache_bdev_name core_bdev_name

positional arguments:
  name                 Name of resulting OCF bdev
  {wb,wt,pt,wa,wi,wo}  OCF cache mode
  cache_bdev_name      Name of underlying cache

[2020-06-05 06:58] Comphix commented on #1432
@Michal, please take a look for this request.

[2020-06-05 07:08] changpe1 commented on #1414
OK, after the investigation, I think we can add RESERVE/RELEASE support defined in SPC2 as backward compatible. I mark this as an enhancement issue.

[2020-06-05 07:14] Comphix commented on #1414
Thanks @changpe1

[2020-06-05 08:02] yidong0635 commented on #1416
@mhae:
I can reproduce this locking up,
and the log:
requested_state =SPDK_NVMF_SUBSYSTEM_PAUSED
requested_state =SPDK_NVMF_SUBSYSTEM_PAUSED
nvmf set state error
 (
        rc = nvmf_subsystem_set_state(subsystem, intermediate_state);
        if (rc) {
+               printf("nvmf set state error\r\n");
                free(ctx);
                return rc;
        }
)
[2020-06-05 22:54:30.944777]

[2020-06-05 11:26] darsto commented on #1426
My Clear Linux VM can't mmap hugepages for whatever reason. Sorry, I don't have time to look into this deeper so I'm unassigning myself

[2020-06-05 11:29] spdkci commented on #1424
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_16974.html

[2020-06-05 13:14] mhae commented on #1416
Thanks, @yidong0635. Yep, tricky issue. I can easily reproduce it here and I'm happy to try your fix.

[2020-06-05 20:43] Seth5141 commented on #1418
Actually turned out to be more complicated. Here is the link to the actual fix that ensures we run FIO against all the NVMe controllers with at least one namespace. https://review.spdk.io/gerrit/c/spdk/spdk/+/2788

[2020-06-05 22:18] mikeBashStuff opened #1433 "Missing bdev in bdev_hello_world test"
Spotted here: https://ci.spdk.io/results/autotest-per-patch/builds/17068/archive/nvme-phy-autotest/build.log

`hello_bdev` failed since `$hello_world_bdev` ended up being empty after a call to `bdev_get_bdevs`. So either the nvme dev was still claimed when the test was run, or it suddenly disappeared (0000:84:00.0 was initially detected by `setup.sh`)?

[2020-06-05 22:19] spdkci commented on #1433
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_17068.html

[2020-06-07 00:47] gwnet commented on #1402
I reproduce the issue again. I can come back for this. I will compare detail json change.
wayne@ubuntu:~/ocf/spdk/examples/bdev/hello_world$ sudo ./hello_bdev --json /tmp/ocf.json --json-ignore-init-errors -b Cache1
Starting SPDK v20.04.1 git sha1 c5f0959de / DPDK 19.11.2 initialization...
[ DPDK EAL parameters: hello_bdev --no-shconf -c 0x1 --log-level=lib.eal:6 --log-level=lib.cryptodev:5 --log-

[2020-06-07 01:06] Comphix commented on #1402
@gwnet Looks like you are not using the latest code.

Starting SPDK v20.04.1 git sha1 c5f0959 / DPDK 19.11.2 initialization...

By the way, this seems like another issue on the write IO error:

hello_bdev.c: 167:hello_write: NOTICE: Writing to the bdev
volume.c: 362:vbdev_ocf_volume_submit_io: ERROR: submission failed with status=-22

If not same issue, please close this and submit a new issue.

[2020-06-07 06:31] gwnet commented on #1402
@Comphix thank you so much. :) this issue is actually for status=-22. I use the latest release version 20.04.1. latest master code save_config does not work now.

I do this test, I use two Malloc devices, one is core one is cache. we will not see issue again.
wayne@ubuntu:~/ocf/spdk/examples/bdev/hello_world$ sudo ./hello_bdev --json /tmp/ocfmalloc.json --json-ignore-init-errors -b Cache1
[sudo] p

[2020-06-07 06:43] gwnet commented on #1402
@Comphix @yidong0635 guys, I can compare the json file, mine is the same with yidong. but my code as Gang mention is old 20.04 latest stable release. Yidong is using 20.07. but I cannot find 20.07 tag name or branch name. could you please help me?

[2020-06-07 07:11] Comphix commented on #1402
Latest is master branch.

Close this issue and please file a new issue as the current issue is not the original one.

[2020-06-07 07:11] #1402 closed

[2020-06-07 15:11] spdkci commented on #1313
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_17242.html

[2020-06-07 20:16] shuhei-matsumoto opened #1434 "[ftl_bdevperf_append] NULL pointer access at ftl_get_entry_from_addr() when deleting FTL bdev"
[code]

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/17268/archive/nvme-vg-autotest/build.log

## Execution failed at

Backtrace is above.

[2020-06-07 20:18] spdkci commented on #1434
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_17268.html

[2020-06-08 02:07] optimistyzy commented on #1364
Close this issue, since the following patch is merged: https://review.spdk.io/gerrit/c/spdk/spdk/+/1998

[2020-06-08 02:07] #1364 closed

[2020-06-08 04:42] gwnet commented on #1402
I tried latest master code. I still suffer the bdev nvme submit IO issue. -22.
but with Malloc device is OK. May I know if we need new issue to monitor -22 issue?

[2020-06-07 21:37:16.177104] json_config.c: 192:rpc_client_poller: *ERROR*: error response: {"co[2020-06-07 21:37:16.185049] json_config.c: 192:rpc_client_poller: *ERROR*: error response: {"co[2020-06-07 21:37:16.193067] json_config.c:

[2020-06-08 04:55] Comphix commented on #1402
This looks like OCF related which is a new issue.

[2020-06-08 05:06] gwnet commented on #1402
I will create new issue to record that. :)

[2020-06-08 06:32] karlatec opened #1435 "[nvme_ns_manage_cuse] Test fails leaving platforms NVMe drive with no namespaces"
## Description
nvme_ns_manage_cuse fails on some of the CI nodes. Cleanup routine for this test seems faulty as it did not re-build NVMe namespaces for the installed drive. As a result all following builds on the platform would fail, because we try to run them on "empty" NVMe controller. Example:

[code]
Because the test seems to have a faulty cleanup routine - adding "bug" label as well.

## Link

[2020-06-08 06:57] changpe1 commented on #1414
@liang2yan I implemented a fake support https://review.spdk.io/gerrit/c/spdk/spdk/+/2802/1 now, it will always return success for RESERVE/RELEASE now, can you have a try with your environment, if it can work I will add the whole support according to the specification. Thanks.

[2020-06-08 08:35] karlatec commented on #1429
This problem was caused by CI misconfiguration.
Accidentally Jenkins instance was restarted while tests were running  on the slave nodes. This resulted in some VMs left running on VH Hosts (test scripts did not finish or traps did not fire because Jenkins was restarted).
When new VM instances were started they failed on attaching to backing files which were being already used/locked by leftover VM

[2020-06-08 08:39] karlatec commented on #1430
Considering the time when this GH issue was created I think the root cause is the same as in #1429
Jenkins instance was accidentally restarted while tests were running, which may have resulted in some leftover SPDK processes running on physical systems.

I think we can close this one.

[2020-06-08 08:47] darsto commented on #1426
Apparently this doesn't happen every time. @wawryk will see if it's even still reproducible on a clear system.

[2020-06-08 13:26] shuhei-matsumoto commented on #1433
Hi @mikeBashStuff

Thank you but this will be same as #1435 . So let's close this for now.

[2020-06-08 13:26] #1433 closed

[2020-06-08 16:50] KariukiJ opened #1436 "spdk_top crashed while adding nvme bdev"
spdk_top application crashed while adding nvme bdev to nvmf_tgt.
I started the nvmf_tgt using the following command
app/nvmf_tgt/nvmf_tgt -m 0x3 &

Created TCP transport and then launched the spdk_top application. I looked around spdk_top checking out all the information on different screens and then went to the Poller screen

I added an nvme bdev using command:
scripts/rpc.py bdev_nvme_attach_con

[2020-06-08 17:05] wawryk commented on #1426
Today, I use new, clean vm to test this once more and have other memory leak:
[code]

[2020-06-08 17:19] KariukiJ commented on #1436
When I restarted the spdk_top application, I didn't see the crash when I added another nvme dev. However, when I restart the nvmf_tgt and start the spdk_top application, I reproduced the issue when I added the first nvme bdev while spdk_top is running. So it seems that the crash is happening for the first nvme bdev but once I restart the spdk_top I can add bdevs without any issues.
I have the core

[2020-06-08 19:31] #1430 closed

[2020-06-08 19:31] #1429 closed

[2020-06-09 02:33] optimistyzy commented on #1313
After discussion with Shuhei, and he suggested that the following patch will help:

https://review.spdk.io/gerrit/c/spdk/spdk/+/2815

Let's review and merge this patch and see whether this issue will happen again for one week.

@shuhei-matsumoto @jimharris @tomzawadzki @benlwalker @changpe1

[2020-06-09 03:41] liang2yan commented on #1414
@changpe1 , I have tried your patch. the spdk iscsi target crashed while vmware esxi tried to format the disk. The spdk log is as below:

[code]
The coredump is as below:
[code]

[2020-06-09 04:38] changpe1 commented on #1414
@liang2yan Thanks Liang, I updated the patch, please try again.

[2020-06-09 04:43] gwnet opened #1437 "bdev hello world example failed to submit IO to core device if we use OCF"
## Expected Behavior
example need run well for OCF

## Current Behavior

[2020-06-07 21:37:16.177104] json_config.c: 192:rpc_client_poller: ERROR: error response: {"co[2020-06-07 21:37:16.185049] json_config.c: 192:rpc_client_poller: ERROR: error response: {"co[2020-06-07 21:37:16.193067] json_config.c: 192:rpc_client_poller: ERROR: error response: {"co[2020-06-07 21:37:16.203086] hello_bdev.c: 19

[2020-06-09 04:44] gwnet commented on #1437
@Comphix could you please assign to me directly? I can take it as practice since it is not urgent. bdevperf works well.

[2020-06-09 05:51] yidong0635 commented on #1416
@mhae, this locking up doesn't related to above error about pausing failure.
To pause a pausing subsystem  causes this failure. I solved  the  pausing error,
https://review.spdk.io/gerrit/c/spdk/spdk/+/2817
but there's still locking up. I prefer this is related to  vfio_pci driver.
 Maybe there're still something not thinking about.

[2020-06-09 05:54] liang2yan commented on #1414
Tried your updated patch. The vmware esxi can correctly format the spdk iscsi target with AIO and nvme bdev. So the patch works.

[2020-06-09 06:00] changpe1 commented on #1414
Thanks Liang, then I will add SPC2 RESERVE/RELEASE support, both VMWARE ESXI and Windows will use SPC2 RESERVE/RELEASE.

[2020-06-09 08:59] darsto commented on #1426
That's probably unrelated to clear linux - it's not a tcmalloc issue, so I guess it could happen on other systems too. Can you create another github issue?

[2020-06-09 13:41] mhae commented on #1416
Hi @yidong0635, I'm not sure I follow. The issue is that adding the namespace fails which leaves the subsystem in a resuming state. When a hot remove event is being process it tries to remove the namespace but fails because the subsystem is in a non-active state and after that the device scan is blocked since this half created NVME ctrlr is in a weird state.
You probably can reproduce this by retu

[2020-06-09 15:07] tomzawadzki commented on #1416
[Community meeting]: @Seth5141 Could you take a look at this particular issue ?

[2020-06-09 16:07] mhae commented on #1416
I uploaded a RFC change to illustrate a potential worarund: https://review.spdk.io/gerrit/c/spdk/spdk/+/2841

[2020-06-10 01:48] yidong0635 commented on #1416
@mhae , I just using your changes before which is the same as your patch .
 I haven't using rpcs to hot-remove ,with hot-removing three nvmes manually .
I use  nvmf tcp tranport.
[code]
[code]
then to hot-remove three nvmes manually .
And I will try to understand the last your comment.  if seth has time to double checking this is better.

[2020-06-10 02:21] changpe1 commented on #1434
https://ci.spdk.io/results/autotest-per-patch/builds/17677/archive/nvme-vg-autotest/build.log

[2020-06-10 05:01] optimistyzy commented on #1365
Close this issue, because there is no same issue reported in about one month. If there is new report of such failure, Let's open it again.

[2020-06-10 05:01] #1365 closed

[2020-06-10 05:07] optimistyzy commented on #1356
@tomzawadzki  Sorry I missed this issue. From my understanding, SPDK solution is compatible for Kernel version > =5.1.  From the description, it seems a kernel issue.  For SPDK target (both RDMA or TCP), if there is no response from the initiator for the admin queue, then the nvmf layer will catch the time out of the admin queue (did not find the client send the keep alive admin command), and prin

[2020-06-10 05:08] optimistyzy commented on #1356
@mikeBashStuff  Would like to get more details. Will you produce this issue with recent spdk release 20.04 to see whether there is the same issue with the kernel initiator.

[2020-06-10 05:17] optimistyzy commented on #1355
@shuhei-matsumoto  We can close this issue since the patch you submitted is already merged.

[2020-06-10 05:32] optimistyzy commented on #1299
Close this calsoft intermittent issue since it was not reported for nearly one month. If there is same or similar issue reported again, Let's re-open it again.

[2020-06-10 05:32] #1299 closed

[2020-06-10 05:38] optimistyzy commented on #1259
Close this Intermittent issue, since it does not happen more than 2 months. If this issue happens again, Let's reopen it.

[2020-06-10 05:38] #1259 closed

[2020-06-10 05:41] optimistyzy commented on #1146
@Comphix Is there any update on this issue? Or this issue is solved? // I remember that we have a disucssions in one bug scrum meeting.

[2020-06-10 05:43] optimistyzy commented on #1115
@shuhei-matsumoto  Did not see this Intermittent issue more than 3 months in our CI pool, Let's close this issue and if the same issue happens, Let's open it again.

[2020-06-10 05:43] #1115 closed

[2020-06-10 05:48] optimistyzy commented on #1002
@changpe1 I know  that you take over this work. Is this issue solved?

[2020-06-10 05:49] Comphix commented on #1146
JSON related changes for FIO as a configurable parameter has been merged already. For together with QoS itself, I will take a look and verify that later.

[2020-06-10 05:54] optimistyzy commented on #1057
@jimharris  I will close this issue according to the information from @liang2yan . The related document doc/vmd.md is updated with the LED management section. And I checked it, it is true.

[2020-06-10 05:54] #1057 closed

[2020-06-10 05:55] #1355 closed

[2020-06-10 06:13] changpe1 commented on #1002
It should be some firmware issue that the revert will take too much time on P4800x, https://review.spdk.io/gerrit/c/spdk/spdk/+/2816 will enable OPAL on P4510 drives, we can add more supported drives after verification.

[2020-06-10 07:15] optimistyzy commented on #958
@shuhei-matsumoto @jimharris From my understanding and checked the spec, we should add you patch, I think that Calsoft test is wrong.  And I submitted the following patch:  https://review.spdk.io/gerrit/c/spdk/spdk/+/2846
So @shuhei-matsumoto  I think that your previous patch is right

[2020-06-10 08:16] Donaim commented on #1348
The test has been fixed, doesn't fail anymore

[2020-06-10 08:16] #1348 closed

[2020-06-10 08:55] Maciej-Szwed commented on #1436
Fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/2847
John please confirm if this fixes the issue on your setup (it worked on my setup).

[2020-06-10 10:47] Donaim commented on #314
@changpe1 Ok, working on that.

[2020-06-10 11:02] Donaim commented on #1432
There was a patch that added the required RPC: https://review.gerrithub.io/c/spdk/spdk/+/470359
But it has not been finished

[2020-06-11 01:36] changpe1 commented on #1404
@gwnet patch was merged, could you verify again, then we can close this issue. thanks.

[2020-06-11 01:57] optimistyzy commented on #1318
Closes this issue since it is not reported more than 3 weeks. If the issue happens again, we can re-open it.

[2020-06-11 01:57] #1318 closed

[2020-06-11 02:39] changpe1 commented on #1422
00:03:21.782  *  (FAILED)[2020-06-02 06:07:33.594633] conf.c: 613:spdk_conf_read: *ERROR*: INI configuration has been deprecated and will be removed in a future release. Please switch to JSON-RPC.
00:03:21.782  *  (FAILED)Starting SPDK v20.07-pre git sha1 9826cf734 / DPDK 19.11.0 initialization...
00:03:21.782  *  (FAILED)[ DPDK EAL parameters: rocksdb --no-shconf -c 0x1 --log-level=lib.eal:6 --lo

[2020-06-11 02:41] changpe1 commented on #1422
When Rocksdb test didn't get the block device "Nvme0n1", it will call exit(1), so there is memory leak for the NVMe hotplug context, I will fix that.

[2020-06-11 03:27] changpe1 commented on #1392
I'm going to close this issue now, we will not enable this in SPDK.

[2020-06-11 03:27] #1392 closed

[2020-06-11 04:12] changpe1 commented on #1434
@wmalikow could you take a look? thanks.

[2020-06-11 07:17] wanghailiangx commented on #1427
Unfortunately, I can't reproduce this issue, I tried with 3 pairs of versions:
SPDK v19.01 / DPDK 18.08.0
SPDK v19.04 / DPDK 19.02.0
SPDK v20.07 / DPDK 19.11.0

Log as below:
[code]

My steps:
1.  dd if=/dev/zero of="/tmp/sample_aio" bs=512 count=500  (bs=4096 count=5000 is also tried)
2.  ./app/iscsi_tgt/iscsi_tgt -c iscsi.conf.in
([AIO]
  AIO /tmp/sample_aio AIO0 512
)
3.  iscsiadm -m node -o up

[2020-06-11 08:49] yidong0635 commented on #1416
@mhae I have change  according to your edit, your description is right :
`device scan is blocked since this half created NVME ctrlr is in a weird state`.
But I had added print as you said in poll_group_update_subsystem, it  , as I removed the locks in spdk_for_each_channel_continue, but all were the same.
I have the logs:
[log_ok.txt](https://github.com/spdk/spdk/files/4762970/log_ok.txt)
[lock_up

[2020-06-11 13:29] mhae commented on #1416
Hi @yidong0635. thanks for verifying! From looking at your lock_up.txt trace, it seems that you hit the same conditions.
I'm not sure what the best way would be to fix this. That's why I submitted this defect. The problem is that we don't have enough context in `subsystem_state_change_done` to know what operation we are working on (e.g. add namespace). But we do have status that indicates that som

[2020-06-11 19:51] jimharris commented on #958
Patch merged.

[2020-06-11 19:51] #958 closed

[2020-06-12 01:40] optimistyzy commented on #1313
Close this issue, since two patches are merged: https://review.spdk.io/gerrit/c/spdk/spdk/+/2815  and https://review.spdk.io/gerrit/c/spdk/spdk/+/2801.  If same issues happen again, we can re-open it.

[2020-06-12 01:40] #1313 closed

[2020-06-12 06:54] spdkci commented on #1299
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_17799.html

[2020-06-12 08:00] wmalikow commented on #1434
I will look at this issue.

[2020-06-12 11:52] mikeBashStuff commented on #1356
@optimistyzy Sure, will try to test it out asap.

[2020-06-12 11:54] #1397 closed

[2020-06-13 21:51] peluse opened #1438 "[iscsi_tgt_bdev_io_wait] within vpp-autotest #15836"
00:07:35.434  [2020-06-13 22:38:02.900896] vpp.c:1440:vpp_application_detached: *NOTICE*: Application detached
00:08:01.105  /var/jenkins/workspace/vpp-autotest/spdk/test/common/autotest_common.sh: line 744: 387334 Segmentation fault      (core dumped) "${ISCSI_APP[@]}" -m 0x2 -p 1 -s 512 --wait-for-rpc

[2020-06-13 21:52] spdkci commented on #1438
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_18227.html

[2020-06-15 08:49] spdkci commented on #1297
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_18275.html

[2020-06-16 02:06] optimistyzy commented on #1438
@peluse  VPP related test will be deprecated for 20.07 release. We can keep it open, but we may not focus to solve the issue.

[2020-06-16 02:52] liang2yan commented on #1414
I have verified this issue with the patch link below:
https://review.spdk.io/gerrit/c/spdk/spdk/+/2802/5

The vmware esxi can format the spdk iscsi disk. But sometimes it is slow that operating the datastore which is created using SPDK iscsi disk. let me get some logs about this problem.

[2020-06-16 04:28] spdkci commented on #1422
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_18437.html

[2020-06-16 04:37] changpe1 commented on #1422
kernel panic when switching IOAT to vfio-pci driver.

[2020-06-16 07:03] cyb70289 opened #1439 "[iscsi-autotest] Error while connecting to /var/tmp/spdk0.sock"
## Link to the failed CI build
https://ci.spdk.io/public_build/autotest-per-patch_18453.html

## Execution failed at
00:07:23.205  ========== Backtrace start: ==========
00:07:23.205
00:07:23.210  in ./test/iscsi_tgt/ip_migration/ip_migration.sh:123 -> main([])
00:07:23.211       ...
00:07:23.211     118 	$rpc_py -s $rpc_first_addr spdk_kill_instance SIGTERM
00:07:23.211     119
00:07:23.211     1

[2020-06-16 10:34] tomzawadzki commented on #1438
That's right, patch to ignore skipping VPP test was merged today [here](https://review.spdk.io/gerrit/c/spdk/spdk/+/2771).
Soon Jenkins won't run the VPP jobs at all. Currently waiting couple days, so that everyone has a chance to rebase on top of it.

[2020-06-16 10:40] tomzawadzki commented on #1439
Hi @cyb70289, this is duplicate of #1313 which was fixed on master. Rebasing on latest master shouldn't produce this intermittent failure. If it does occur, please re-open the original issue.

[2020-06-16 10:40] #1439 closed

[2020-06-16 10:54] tomzawadzki commented on #1435
@karlatec Temporarily reverted the change to Jenkins, which makes the CUSE tests run on physical machines instead of VMs. This results in `nvme_ns_manage_cuse` test case not being ran at all for time being.

Posted [series of patches](https://review.spdk.io/gerrit/c/spdk/spdk/+/2829/), where last one adds reverts NVMe namespaces to the default state at the beginning of autotest.sh. This should res

[2020-06-16 11:34] tomzawadzki commented on #1431
Hi @gwnet please use the "```" code block, so it is easier to catch the questions in the middle of the comment.

If I understood the question, this looks like there are already OCF metadata present on the NVMe device:
[code]

As you were performing following steps:
[code]
OCF metadata is saved on the NVMe device (or it's split parts), so to verify if some were already there you should first attach

[2020-06-16 11:40] tomzawadzki commented on #1420
As assessed on Bug Scrub, this was one time occurrence. Closing since it was not reproduced for two weeks.

[2020-06-16 11:40] #1420 closed

[2020-06-16 12:38] gwnet commented on #1404
@changpe1 thank you so much. I will test when I am free from other things. :)

[2020-06-16 12:49] gwnet commented on #1431
@tomzawadzki thank you so much. you are quite right, I am sorry for late update. after I do one disk format between tests, the issue is gone. :)

[2020-06-16 14:08] tomzawadzki commented on #1099
Closing, as it has not been reported for 2 months now.

[2020-06-16 14:14] tomzawadzki commented on #1094
The patch in question has been merged to DPDK submodule (as well as newer v19.11.2 submodule) [here](https://review.spdk.io/gerrit/c/spdk/dpdk/+/2576).

[2020-06-16 14:14] #1094 closed

[2020-06-16 15:15] manjo-git opened #1440 "[SPDK with-vpp] failure to build with vpp v20.5"
## Expected Behavior
SPDK builds with VPP support

## Current Behavior
Failure to build VPP support with VPP version 20.5

The VPP headerfile svm_fifo_segment.h is no longer available in VPP 20.05. But src/module/sock/vpp/vpp.c includes svm/svm_fifo_segment.h this results in the following build failure.

`
 LIB libspdk_sock_posix.a
  CC module/sock/vpp/vpp.o
vpp.c:52:10: fatal error: svm/svm_fifo_

[2020-06-16 15:23] tomzawadzki commented on #1426
[Bug scrub] @wawryk please update the current status of the tcmalloc related issue.

As for https://github.com/spdk/spdk/issues/1426#issuecomment-640754908 @wawryk will open new issue.

[2020-06-16 15:25] tomzawadzki commented on #1360
[Bug scrub] @darsto Can you please verify the status of the patch on DPDK and check if our submodule includes that ? If so, then this issue could be closed.

[2020-06-16 15:34] tomzawadzki commented on #1440
Hi @manjo-git, support for VPP implementation of socket abstraction will be deprecated with SPDK 20.07.
Please see mailing list post for more details - [here](https://lists.01.org/hyperkitty/list/spdk@lists.01.org/message/C7SNVANWUPNIZZ33S5C4KWICSRFW2DQX/).

[2020-06-16 15:34] #1438 closed

[2020-06-16 15:36] tomzawadzki commented on #1431
Glad to hear that. Since the issue is gone, let's close it :)

[2020-06-16 15:36] #1431 closed

[2020-06-16 15:43] tomzawadzki commented on #620
Support for Namespace Management with NVMe CUSE has been merged - series ending in c9bde257f0133f991aea7a370ef531961375bb6d.

Please see https://spdk.io/doc/nvme.html#nvme_cuse for details.

[2020-06-16 15:43] #620 closed

[2020-06-16 15:59] tomzawadzki commented on #646
@Maciej-Szwed Tests in `./test/nvme/hw_hotplug.sh` are merged and look to be running daily on Jenkins. Can you confirm that this is correct and we've got coverage to issue here ?

[2020-06-16 16:03] tomzawadzki commented on #817
@KariukiJ Has the feedback on test case in UNH test suite been provided ?

[2020-06-16 16:15] manjo-git commented on #1440
@tomzawadzki I was attempting to draw some performance results with NVME-of using SPDK over VPP, and in doing so I ran into these build issues this morning and I was attempting to port/fix the module/sock/vpp/vpp.c to use the latest VPP source changes, but looks like you are right, it has not kept up with the changes in VPP for awhile now. The hardware I am dealing with will only work with VPP v20

[2020-06-16 21:27] shuhei-matsumoto opened #1441 "[iscsi_tgt_calsoft] Test case tc_ffp_12_3_5 failed."
[code]
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_18503.html

## Execution failed at

[code]

[2020-06-17 01:31] optimistyzy commented on #1440
@manjo-git  As described by @tomzawadzki,  SPDK team made decision in mailing list, we will no longer integrate new VPP version.  Thanks.

[2020-06-17 03:02] liang2yan commented on #1414
I have tried several times, the issue which I mentioned in last comment only happened one time. And it doesn't affect the normal operation. So I think we can close this issue after the patch merged.

[2020-06-17 03:07] zRegle opened #1442 "iscsi_send_tgts: buffer too small for all target information"
## Expected Behavior
when initiator execute `iscsiadm -m discovery -t sendtargets -p ....`, function `iscsi_op_text()` should send all the target info to initiator.

## Current Behavior
if the initiator `MaxRecvDataSegmentLength` is smaller than all the target info size, the buffer to hold the target info will be OutOfBounds, then in `spdk_put_pdu`, the statement `free(pdu->data)` will cause SPDK

[2020-06-17 05:02] changpe1 commented on #1414
Thanks @liang2yan, glad to see that, I will start the code review process now.

[2020-06-17 05:45] yidong0635 opened #1443 "vhost target crash after ctrl+c"
# Issue
./app/vhost/vhost
[code]

## Steps to Reproduce
[code]
ctrl+c to kill target
## Context (Environment including OS version, SPDK version, etc.)

[2020-06-17 07:07] Maciej-Szwed commented on #646
Yes, hotplug test is running daily and I don't notice any fails currently. I think we can close this one. Sorry for late response - I missed a notification.

[2020-06-17 07:08] #646 closed

[2020-06-17 07:57] glodfish-zg commented on #1443
I think I can confirm this issue there is a race in vhost_fini and vhost_bdev_remove path. Both call the spdk_put_io_channel(bdev->dummy_io_channel). Let me try to fix this issue.

[2020-06-17 10:22] mikeBashStuff commented on #1356
@optimistyzy I have been running the `nvmf/target/filesystem.sh` tests in a loop for a whole day now and I could not reproduce the same behavior (testing on Fedora31 with a slightly newer kernel release, 5.6, against latest SPDK suite).

With that in mind, and since nobody else reported similar issue in quite some time, I think it should be ok to close this issue. :) (Please, reopen if you think o

[2020-06-17 10:22] #1356 closed

[2020-06-17 12:16] glodfish-zg commented on #1443
@yidong0635  please try this patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/2924.

[2020-06-17 16:03] sunmingbao opened #1444 "failure observed while using perf access target with 24 name-spaces"
## Expected Behavior

## Current Behavior
failure observed while using perf access a NVMe_OF target with 24 name-spaces.
note: in case the perf and NVMe_OF target are on the same host, the failure has not been observed.

## Possible Solution

## Steps to Reproduce

1. Deploy MOFED 4.7 on host-A.
2. setup a NVMe_OF target with 24 name-spaces on host-A.
3. Reserve 30720MB huge_page (use 2MB pages) m

[2020-06-17 19:06] AlekseyMarchuk commented on #1444
I'll look at this issue

[2020-06-18 01:38] optimistyzy commented on #1356
@mikeBashStuff Thanks for your efforts. I agree with you, we can close it and re-open it if we can reproduce it again.

[2020-06-18 02:34] ryderhsu0129 opened #1445 "example nvme_manage submitted identify command failed"
I want to refer to nvme_manage example to learn how to use API spdk_nvme_ctrlr_cmd_admin_raw(),
but it seems can't submit identify cmd successed,
can you please help clarify? thanks!

[code]