[2020-12-07 10:56] spdkci commented on #1347
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_31641.html

[2020-12-07 11:24] mikeBashStuff commented on #1187
@peluse Apologies for such a late reply. I have managed to reproduce it on latest master with the following:

[code]
Build spdk, then run `./autotest.sh path_to_autotest_conf`. The `nvmf_perf` test then should fail with something similar to:
[code]

[2020-12-07 12:38] mikeBashStuff commented on #1347
Ok, I had a closer inspection of the recent failures and they differ quite from the original issue. The current problem now occurs on systems where QAT controllers (and their VFs) are attached to NUMA node different than 0 - this is the case, for instance, on GP3. This is now more prominent due to 2b80955c097ace9ba27631846ee49758444dff56 since all the hugepages land, by default, on node0. Before t

[2020-12-07 22:36] jimharris commented on #1715
This is a bug that exists still in master (original report was for v20.04).  I think we should fix it without making it "bug backward compatible".  This means we need to also fix nvme bdev module which is depending on this incorrect usage.  Incidentally, fixing the nvme bdev module will result in some nice simplifications in the remove callback.

[2020-12-07 23:54] jimharris commented on #1715
This will be a bit more work to fix than originally anticipated.  The spdk_nvme_connect (and connect_async) APIs do not take a remove_cb nor a cb_arg parameter.  I think the proper way to fix this would be:

1) add remove_cb and remove_cb_arg members to spdk_nvme_ctrlr_opts
2) users of the spdk_nvme_probe APIs will see these members initialized to the associated spdk_nvme_probe parameters in the s

[2020-12-08 02:29] optimistyzy commented on #1484
https://review.spdk.io/gerrit/c/spdk/spdk/+/5330

[2020-12-08 06:25] yidong0635 commented on #1675
Issue can be reproduced locally.

[2020-12-08 06:48] jesonliang commented on #1205
I have encounted a similiar issue that failed to boot a VM guest with a vhost-user-blk boot disk like this thread mentioned.
Can anyboy give me a help? Any your response will be appreciated.

1. my vhost process: /home/spdk/spdk/build/bin/vhost -S /var/tmp -m 0xff
2.start vm through libvirt 3.2 and qemu version is 5.1. The vm has two disks one is for system and the other is reserved for saving dat

[2020-12-08 06:58] changpe1 commented on #1205
Does the AIO device work for you without using vhost-user-blk ? e.g: just use QEMU virtio-blk driver

[2020-12-08 07:44] zhiganglu commented on #1205
You can try to use a raw image, but not a qcow2 img.

[2020-12-08 08:22] jesonliang commented on #1205
Thanks for your reply quickly. firstly. i want to clarify more that the origin image format is qcow2 actually. we will convert it to raw data when we upload image to disk. without trying with spdk, we use the virto-scsi to attach disk to vm  previously.
![屏幕快照 2020-12-08 下午4 18 03](https://user-images.githubusercontent.com/340356/101458143-76135c00-3971-11eb-84bb-29bf797bdc50.png)

[2020-12-08 08:36] Comphix commented on #1712
"fio: fio_plugin.c:680: spdk_fio_queue: Assertion `false' failed.
VHOST_CONFIG: vhost peer closed
/home/vagrant/spdk_repo/spdk/test/common/autotest_common.sh: line 1145: 10817 Aborted                 (core dumped) LD_PRELOAD="$asan_lib $bdev_plugin" "$fio_dir"/fio "$@""

Looks like there is a core here. Do we have the related calling stack for the core?

[2020-12-08 08:51] spdkci commented on #1709
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_31649.html

[2020-12-08 08:56] AlekseyMarchuk commented on #1697
Hi @bharatpotnuri I checked, iWARP doesn't support LAST_WQE_REACHED event. I think we can ignore it but there is a chance that we will need to cleanup all WQEs related to a qpair being destroyed that are not completed yet and queued in SRQ. That needs further investigation. For now I'm preparing a patch to simply ignore this event for iWARP so that you can test it and check if a proper cleanup nee

[2020-12-08 09:10] bharatpotnuri commented on #1697
@AlekseyMarchuk Thanks. Agreed, I've been thinking if some sort of drain_srq() can do the job. Shall check the possible scenarios and update.

[2020-12-08 09:43] jesonliang commented on #1205
@changpe1  I just  follow your suggestion and try with virtio-blk start vm like below and  it boot successful and work well.
#!/bin/bash
/usr/bin/qemu-system-x86_64 \
 -machine accel=kvm \
 -boot strict=on \
 -vnc 0.0.0.0:7 \
 -smp 4 -m 4096M \
 -device virtio-blk-pci,drive=drive0,id=virtblk0,num-queues=4,bootindex=1 \
 -drive file='/dev/pbdx1',if=none,id=drive0,format=raw

[2020-12-08 09:50] AlekseyMarchuk commented on #1697
@bharatpotnuri please check this commit which ignores LAST_WQE_REACHED for iWARP https://review.spdk.io/gerrit/c/spdk/spdk/+/5474

[2020-12-08 10:17] jesonliang commented on #1205
Follow this thread, I simply the test environment and do a copare testing with spdk.
I can reproduce this issue with these steps.

1, Firtly create bdev device and controller through script.
![屏幕快照 2020-12-08 下午6 06 54](https://user-images.githubusercontent.com/340356/101470558-1d4bbf80-3981-11eb-97a9-6eca81d1d6f8.png)

2. start vm with blow script

#!/bin/bash
/usr/bin/qemu-system-x86_64 \
 -mach

[2020-12-08 10:30] shuhei-matsumoto commented on #1715
Hi @jimharris

I would like to confirm my understanding about the first simplification for the remove_cb used in the nvme bdev module.
The nvme bdev module have not used cb_ctx parameter yet.
If we fix the bug, we can hold the created nvme_bdev_ctrlr pointer in spdk_nvme_ctrlr_opts or nvme_async_probe_ctx by attach_cb(), and refer it by remove_cb() later. Then we don't parse the global nvme_bdev_c

[2020-12-08 11:24] zhiganglu commented on #1205
Seems like udev failed to create disk node /dev/disk/by-uuid/*,  how about try to use /dev/vda as boot device? or try another OS image such as ubuntu.

[2020-12-08 13:05] karlatec commented on #1711
No more occurrences. I think we can close this one.

[2020-12-08 13:34] AlekseyMarchuk commented on #1707
Hi @jgrodman @yidong0635 I'm trying to reproduce this problem on my setup

[2020-12-08 14:03] karlatec commented on #1674
Sorry for taking so long with the retest folks.
Just checked out Alexey's patch on Target and Initiator system and did a couple of tests. "Reproduction steps" from the original post doesn't trigger any errors, so everything looks fine. I also scaled the configuration a bit up, to 4 null bdevs with DIF=1, 4 subsystems, and tried various fio configurations (4k/128k, IODEPTH up to 16 for each subsyst

[2020-12-08 14:56] AlekseyMarchuk commented on #1707
From first 10 iterations I only see the following errors on the initiator:
[code]

And it can be solved by either reducing acceptor poll rate on the target to 2000 us or increasing NVME_RDMA_QPAIR_CM_EVENT_TIMEOUT_US in initiator to 2000000

Will try more iterations to get transport retry count errors

[2020-12-08 15:14] AlekseyMarchuk commented on #1707
While I'm reproducing retry errors, could you apply this patch to perf to check if it helps?
[code]

Note that `transport_ack_timeout` requires rather recent version of rdma-core. If your system doesn't support it then you'll see a notice `Can't apply RDMA_OPTION_ID_ACK_TIMEOUT ...`. If you such a notice then let's ignore `transport_ack_timeout` for a while and try to use increased `transport_retr

[2020-12-08 15:41] bharatpotnuri commented on #1697
Patch works as expected. Thanks @AlekseyMarchuk !

[2020-12-08 18:03] jonathan-teh opened #1716 "nvme bdev module segfaults if NVMe-oF TCP target becomes initially unreachable, then reachable again"
When using the nvme bdev module configured to abort on timeout with an NVMf TCP target, if the target becomes unreachable and the initiator (i.e. the nvme bdev) tries to reset the controller at least twice, then once the target becomes reachable again the initiator crashes with a segfault (or assertion failure in a debug build).

## Expected Behavior

The application using nvme bdev should continu

[2020-12-08 18:28] jimharris commented on #1715
Yes Shuhei, that is exactly my thought!

[2020-12-08 23:24] spdkci commented on #1709
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_31731.html

[2020-12-09 01:20] shuhei-matsumoto commented on #1715
Thanks Jim. That will be nice improvement. Thanks @rdxsasha for your nice finding and fix.

[2020-12-09 01:50] changpe1 commented on #1714
@zlsh007 I don't have a CentOS8 VM, can you test it with SPDK Malloc Bdev?

[2020-12-09 02:20] zlsh007 commented on #1714
@changpe1
At present, we modified to temporarily not support the write zero feature, so that all write zero operations in vm are converted to write operations. The vhost blk layer will support write zero featrue by default, as long as bdev supports write. For the virtual machine before the 4.18 version of the kernel, the real WRITE ZERO operation is not supported, and it will be converted into a w

[2020-12-09 04:25] yidong0635 commented on #1707
@AlekseyMarchuk  thanks ,my issue server can't apply RDMA_OPTION_ID_ACK_TIMEOUT, transport_retry_count doesn't work for me. And my keep alive timer failure can be fixed from the host side : https://review.spdk.io/gerrit/c/spdk/spdk/+/5333.
@jgrodman  Could your please check it on your side.

[2020-12-09 05:47] AlekseyMarchuk commented on #1707
Could you clarify how your nodes are connected? If they are connected via switch then for RoCE it is recommended to enable priority flow control (PFC). Without this option packets can be lost causing "retry errors"

[2020-12-09 05:57] AlekseyMarchuk commented on #1685
@optimistyzy I plan to start working on this issue next week, will update with test results

[2020-12-09 06:04] AlekseyMarchuk commented on #1703
I met such a failure with intensive traffic generated by initiator (#1707).
@wanqunintel Could you apply this patch and try to reproduce this issue?
[code]

[2020-12-09 06:08] shuhei-matsumoto commented on #1610
Naresh hit this failure again.

[2020-12-09 08:41] changpe1 commented on #1714
If your block device can't support SPDK_BDEV_IO_TYPE_WRITE_ZEROES command, SPDK vhost-blk target won't set the feature bit, I'm wondering how your change it, is it related with SPDK?

[2020-12-09 08:47] spdkci commented on #1675
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_31738.html

[2020-12-09 08:59] jesonliang commented on #1205
@zhiganglu  @changpe1  I tried with an image from ubuntu-20.04-desktop-amd64.iso today(actually this is only one i can find in our private ISO repo since our production using redhat/centos)
1. Firstly use qemu-img tool to create image with qcow2 type
2. then convert image to raw and write to a block device(disk) and then attach it to my testbed.
3. setup vm using  virto-blk drivce compare to using

[2020-12-09 09:00] zlsh007 commented on #1714
Even if the bdev code does not support WRITE_ZERO in the feature, it will be modified to support in the spdk_bdev_io_type_supported function as long as the WRITE operation is supported.

bool
spdk_bdev_io_type_supported(struct spdk_bdev *bdev, enum spdk_bdev_io_type io_type)
{
        bool supported;

        supported = bdev_io_type_supported(bdev, io_type);

        if (!supported) {

[2020-12-09 09:00] zlsh007 commented on #1714
if (!supported)->case SPDK_BDEV_IO_TYPE_WRITE_ZEROES:->supported = bdev_io_type_supported(bdev, SPDK_BDEV_IO_TYPE_WRITE);

[2020-12-09 09:07] sashakot commented on #1707
@jgrodman , could you please describe your environment?

1. Is it Infiniband, RoCE ? RCE v2?
2. What's network topology? Do you use switch, or it's a back-to-back connection?
3. Models of NIC and switch
4. What's SW stack? OS, OFED

Thanks

[2020-12-09 09:18] changpe1 commented on #1714
Ah~, I see, there is a mismatch between SPDK and kernel driver, the kernel driver should not set the UNMAP bit, since the DISCARD feature bit wasn't negotiated.

[2020-12-09 09:29] changpe1 commented on #1714
OK, this should be fixed in SPDK, I will provide a patch for it.

[2020-12-09 09:31] zlsh007 commented on #1714
Is this vm's kernel driver imperfect? It should confirm that the backend supports UNMAP, and then send a separate DISCARD down?

[2020-12-09 09:35] changpe1 commented on #1714
The fact is that the kernel generic block driver will enable UNMAP bit by default unless it specify the flag BLKDEV_ZERO_NOUNMAP.

It should be more reasonable to check the DISCARD is support or not before setting this flag, either way, changing in SPDK is much easier than the kernel.

[2020-12-09 09:38] zlsh007 commented on #1714
I understand, thank you, look forward to patch :)

[2020-12-09 09:48] mikeBashStuff opened #1717 "Can't compile LTS refspdk on fedora32"
[code]

While compiling against the LTS release, `install_refspdk()`, called via `vm_setup.sh`, fails with the following:

[code]
Without the `werror` enabled:
[code]
Odly enough, after `make clean`, compilation fails at a different place:
[code]
./configure is run with the following arguments:
[code]

[2020-12-09 10:05] yidong0635 opened #1718 "./test/blobstore/blob_io_wait/blob_io_wait.sh reports error, how to clean it?"
# Issue
[code]

========== Backtrace end ==========

## Context (Environment including OS version, SPDK version, etc.)
commit :e663dc82ad25ee8f6d6723185f89b9b3a8ad4f7c
OS: 5.4.7-100.fc30.x86_64

[2020-12-09 10:20] tomzawadzki commented on #1718
Hi @yidong0635, `test/blobstore/blob_io_wait/blob_io_wait.sh` script creates `aio.bdev` file at the beginning of the test and removes it at the end. If previous run of this script has not run till the end, the files remains.

Modifying the trap on line 19 to remove `aio.bdev` [and `bdevperf.json` while we are at it] should resolve it.

[2020-12-09 10:28] spdkci commented on #1675
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_31703.html

[2020-12-09 10:50] tomzawadzki commented on #1717
Hi @mikeBashStuff, I'm running F32 too.
[code]

On SPDK LTS using `./configure --enable-debug --enable-werror --with-rdma --with-fio=/usr/src/fio --with-iscsi-initiator --with-nvme-cuse --with-pmdk --with-reduce --with-rbd --with-crypto --with-ocf --enable-ubsan --enable-asan --with-fuse --with-uring`

Produces issues mentioned in #1493:
- dpdk build, can be fixed by applying 970c6d099e3db9ca67b19

[2020-12-09 10:52] wanghailiangx commented on #1718
I used to focus on  bdev_lvol_delete  lvs0/lvol0 and bdev_lvol_delete_lvstore -l lvs0, thanks @tomzawadzki , I have raised a patch https://review.spdk.io/gerrit/c/spdk/spdk/+/5503, please review.

[2020-12-09 11:13] mikeBashStuff commented on #1717
@tomzawadzki Ah, right, I always forget that checkout doesn't touch submodules by default (need to finally alias that `--recurse-submodules=yes` :D). Anyway, with submodules checked out at proper commits I can confirm that the #1493 is seen instead (this is also what  is seen in the vagrant-build-images job for fedora32).

Let's keep this issue opened until it's decided if any backports are needed

[2020-12-09 11:16] tomzawadzki commented on #1712
Hi @mikeBashStuff,

1) Do you have stable reproduction of this issue ? If so, do you know what is different than in CI ?

2) Can you add instrumentation in `spdk_fio_queue`@`examples/bdev/fio_plugin/fio_plugin.c` to see what type of `io_u->ddir` causes the assert ? We might be missing a [type](https://github.com/axboe/fio/blob/master/io_ddir.h#L4).

3) Most likely unrelated, but `fio: 3.19 (provid

[2020-12-09 11:19] #1711 closed

[2020-12-09 11:26] jgrodman commented on #1707
@AlekseyMarchuk after adding those two lines to perf.c, the `nvme_fabric_qpair_connect` issue on the initiator is not occurring.
I'm not concerned about the `nvme_fabric_qpair_connect` issue because right now, that only happens for me when I enable debug mode.

@sashakot I am working on getting answers to your questions

[2020-12-09 11:29] mikeBashStuff commented on #1712
@tomzawadzki

1. Yes. My fedora31 instance is "fresher" then the one used in the CI pool (kernel is newer as bunch of other packages I would reckon).
2. Will do.
3. Will take `3.25` for a spin and see if I get better results.

[2020-12-09 14:44] spdkci commented on #1675
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_31783.html

[2020-12-09 16:58] jimharris commented on #1674
I think we should get this patch merged, but leave this issue open until we get tests merged too.

[2020-12-09 18:52] jimharris commented on #1715
https://review.spdk.io/gerrit/c/spdk/spdk/+/5510

I took a slightly different approach than passing value through spdk_nvme_ctrlr_opts.  I created a new spdk_nvme_ctrlr_set_remove_cb() API instead.  Passing through opts structure is not convenient, for example bdev module does not create the bdev_nvme_ctrlr before calling spdk_nvme_connect_async().

[2020-12-09 21:35] jimharris commented on #1716
I've reproduced this locally.  Debugging now.

(Fantastic repo steps by the way...)

[2020-12-09 22:28] rdxsasha commented on #1715
Jim,
in nvme_pcie.c (_nvme_pcie_hotplug_monitor()) you fixed the 1st param in remove_cb() call in the line 309,
but I assume it should be also fixed in the line 338.
(in the case of our code just this call was critical to be fixed - we don't receive SPDK_NVME_UEVENT_REMOVE, but probing actively to get remove_cb() called as soon as PCI devhandle gets pending_removal flag enabled).

Sorry, commentin

[2020-12-09 22:34] jimharris commented on #1715
Yes, it should be fixed in line 338 too.  I'll clean that up and push again.  Thanks for the review.

[2020-12-10 00:13] jimharris commented on #1716
https://review.spdk.io/gerrit/c/spdk/spdk/+/5513

Root cause starts with the KATO command timing out.  Currently when we get a timeout, we try to read CSTS to see if CFS (Controller Fatal Status) bit is set.  But if you do that when you get a fabrics admin command timeout, you're now submitting another fabrics admin command and recursively checking for admin cmd completions and timeouts.  So this

[2020-12-10 02:07] yidong0635 commented on #1718
@tomzawadzki @wanghailiangx  Thanks for your helps.

[2020-12-10 02:32] changpe1 commented on #1709
Agreed.

[10178.545066] usdm_drv: loading out-of-tree module taints kernel.
[10178.545158] usdm_drv: module verification failed: signature and/or required key missing - tainting kernel
[10178.545281] usdm_drv: Unknown symbol qdm_iommu_unmap (err -2)
[10178.545429] usdm_drv: Unknown symbol qdm_iommu_map (err -2)
[10178.575622] QAT: Invalid ioctl

[2020-12-10 02:47] changpe1 commented on #1664
@EugeneKochetov Do you still work on dynamic NS patch? If not, may I close this issue? Thanks.

[2020-12-10 03:01] changpe1 commented on #319
Closing this issue as the RPC error response is much more descriptive.

[2020-12-10 03:01] #319 closed

[2020-12-10 05:43] sunmingbao opened #1719 "SPDK perf can not connect to NVMe_OF target of kernel 5.3.18-95.54-default+ of SLES"
SPDK perf can not connect to NVMe_OF target of kernel 5.3.18-95.54-default+ of SLES.

## Expected Behavior

## Current Behavior

create_qp failed in kernel-space at the target side.
## Possible Solution

## Steps to Reproduce

1. Setup a normal NVMe_OF target on HOST murray-dirt.
2. Connect to the above target from HOST lehi-dirt with the following command.
./perf -q 64 -P 1 -s 4096 -w read -t 300

[2020-12-10 06:03] changpe1 commented on #1719
This should be related with NVMoF target
nvmet_rdma: failed to create_qp ret= -12, the errno is ENOMEM when creating IO queue pair in target, you may try with SPDK target to see the issue is still exist or not.

[2020-12-10 07:04] sunmingbao commented on #1719
The error code -ENOMEM can not reflect the actual reason.
I had ever rebooted the 2 hosts, and re-execute the same command, and also got a fail result.
I have also tried to just create RDMA RC QPs using a test tool with the same target, and it works well.

I have also verified that the same perf command can work well with the target powered by MLNX_OFED_LINUX-4.9-0.1.7.0-sles12sp4-x86_64.tgz.

[2020-12-10 07:06] EugeneKochetov commented on #1664
Hi @changpe1. Yes, I'm still on it. It's not moving as fast as I'd like. I plan to push it till the next release.

[2020-12-10 07:08] sunmingbao commented on #1719
And the initiator of kernel-space can work well with the same target on the same 2 hosts.
Following are the logs:
lehi-dirt:/home/admin # nvme connect --transport=rdma --nqn=testnqn_1  --traddr=169.254.85.8 --trsvcid=4420
lehi-dirt:/home/admin #

[2020-12-10 08:20] yidong0635 commented on #1675
I found that :
sometimes in bdevperf  :  `bdev=  spdk_bdev_first_leaf()`  is NULL, then `job_config_list `is NULL, that can't create a thread job. and hold there.

[2020-12-10 09:01] AlekseyMarchuk commented on #1719
Hi,

SPDK nvme perf tool sets io_queue_depth to UINT16_MAX. Later when NVME controller is created this value is decreased to 1024 (in my case). So SPDK RDMA initiator in fabric_connect command sends hrqsize=1024 and hsqsize=1023.
NVMEoF target can adjust these values requested by initiator to values supported by target/HW. SPDK target does so and sends adjusted io_size in RDMA_CM rdma_accept() pri

[2020-12-10 09:22] AlekseyMarchuk commented on #1719
I think that io_queue_depth in perf should be corrected. It should be aligned to queue_depth configured by the user and payload size/controller MDTS. I'll prepare a patch soon

[2020-12-10 10:05] sunmingbao commented on #1719
@AlekseyMarchuk  I have tried the following steps, but still got a fail result.

Following are the logs:

murray-dirt:/sys/module # nvmetcli clear
murray-dirt:/sys/module # rmmod nvmet_rdma
murray-dirt:/sys/module # insmod /lib/modules/5.3.18-95.54-default+/kernel/drivers/nvme/target/nvmet-rdma.ko io_queue_depth=64

murray-dirt:/home/admin/NVMe_OF_test # ./setup_target.sh
create target: testnqn_1

[2020-12-10 10:25] AlekseyMarchuk commented on #1719
@sunmingbao I think that there are 2 problems
1. perf tool uses very big queue_depth. It can be corrected, I'll prepare a patch
2. out of box RDMA nvmet doesn't adjust hsqsize received in RDMA_CM private data. I would say it is 3rd party issue and as you said nvmet from MOFED doesn't have such a problem

Regarding your results with nvme kernel initiator - I suggested to set `io_queue_depth=1024` t

[2020-12-10 11:30] jonathan-teh commented on #1716
Thanks for the fix, I can confirm that the controller is now reset when the timeout occurs.

[2020-12-10 12:54] spdkci commented on #1675
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_31843.html

[2020-12-10 16:38] AlekseyMarchuk commented on #1719
@sunmingbao could you try this patch https://review.spdk.io/gerrit/c/spdk/spdk/+/5529 ?

[2020-12-10 19:51] jgrodman commented on #1707
@sashakot
1. We're not using Infiniband, so it must be RoCE v1 or RoCE v2. How do I check which?
2. We generally use a switch, and that's the topology we're most interested in. I don't currently have physical access to the server room so I can't check the exact configuration.
3a. Switch: Mellanox SX1710 or SX1012
3b. NIC on target: Mellanox Technologies MT27520 Family [ConnectX-3 Pro]
3c. NIC on i

[2020-12-11 00:49] spdkci commented on #1709
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_31860.html

[2020-12-11 01:51] yidong0635 commented on #1675
@tomzawadzki  I just saw that you had patches about this, if you are ready, please let me to check it, it easy to reproduce  for me.

[2020-12-11 02:42] sunmingbao commented on #1719
@AlekseyMarchuk I found that the NVMe_OF related modules from the mentioned kernel do not have the module param io_queue_depth, except for the host/nvme.ko (host/pci.c).
So my last try of loading module with io_queue_depth=64 is meaningless.
However, I will try changing  io_queue_depth from "nvme connect" command, and try the patch you provided, and upload the results later.

[2020-12-11 02:48] sunmingbao commented on #1719
@AlekseyMarchuk
Good news.
By changing the queue-size in "nvme connect" command, the issue was reproduced with nvme kernel initiator.

Following are the logs:

lehi-dirt:/home/admin # nvme connect --transport=rdma --queue-size=1024 --nqn=testnqn_1  --traddr=169.254.85.8 --trsvcid=4420
Failed to write to /dev/nvme-fabrics: Connection reset by peer

murray-dirt:/home/admin/NVMe_OF_test # ~/poll_dmes

[2020-12-11 03:52] sunmingbao commented on #1719
@AlekseyMarchuk
Good news.
The issue was resolved by your patch.

Following are the logs:

lehi-dirt:/home/admin/NVMe_OF_test # ./perf -q 64 -P 1 -s 4096 -w read -t 5 -c 0x1 -o 4096 -r 'trtype:RDMA adrfam:IPv4 traddr:169.254.85.8 trsvcid:4420'
Starting SPDK v20.04.1 git sha1 c5f0959de / DPDK 19.11.2 initialization...
[ DPDK EAL parameters: perf --no-shconf -c 0x1 -m 4096 --no-pci --log-level=lib.e

[2020-12-11 10:07] mikeBashStuff commented on #1712
@tomzawadzki Tested fio `3.25`, unfortunately, same story, both fio instances get killed with SIGABRT. As to 2., it seems that proper type is set right before the assertion is raised: `DDIR_SYNC == 3` (throughout the run `DDIR_READ` and `DDIR_WRITE` are seen as well).

[2020-12-11 10:08] jesonliang commented on #1205
Regarding this issue, I suspect that spdk or qemu may pass a serials number udev. because I found the udev always failed to create symbol link when start boot.
Anyway, seems like hit an issue.

[2020-12-11 11:44] spdkci commented on #1643
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_31960.html

[2020-12-11 12:46] AlekseyMarchuk commented on #1657
This patch hits the same issue https://review.spdk.io/gerrit/c/spdk/spdk/+/5531

[2020-12-11 12:47] spdkci commented on #1657
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_31968.html

[2020-12-11 15:08] jimharris commented on #1657
I just posted https://review.spdk.io/gerrit/c/spdk/spdk/+/5550 for review.  This adds a bit more detail when we hit this assert to help with analysis and root cause.

[2020-12-11 15:48] tomzawadzki commented on #1712
Thanks for the confirmation. I've reproduced this issue on my Fedora 32 dev machine too (fio3.25).
At this time I'm not sure how the setups from CI is different, how the OS version would make a difference in this scenario and why DDIR_SYNC is being sent from fio. Going back as far as 20.04.1 reproduced the issue.

The patch below 'resolves' this issue, but I'd be hesitant to proceed with it until

[2020-12-11 16:03] bharatpotnuri commented on #1697
4ede905352536e1671fd1f6fd947a27b87202526 is merged. so closing the issue.
Thanks @AlekseyMarchuk !!

[2020-12-11 16:03] #1697 closed

[2020-12-11 16:23] AlekseyMarchuk commented on #1697
@bharatpotnuri You are welcome) Please let us know if iWARP SRQ clean up process needs to be implemented

[2020-12-11 16:26] jimharris commented on #1712
test/vhost/common/fio_jobs/default_initiator.job is used to run fio in this test.  It contains:

fsync_on_close=1

Could you check if removing this eliminates the SIGABRT?

I think we should still add DDIR_SYNC handling like in Tomek's patch but want to know why we're getting that fio IO type but only in this test.  My guess is it's the fsync_on_close.

[2020-12-11 16:27] bharatpotnuri commented on #1697
Sure, I'll let you know.

[2020-12-11 16:28] jimharris commented on #1712
BTW, I'm fine with leaving the fsync_on_close=1 in this fio job file, even though it's not really needed.  It would ensure the DDIR_SYNC path gets tested once if/when Tomek's 5551 patch gets merged.

[2020-12-14 01:56] #1485 closed

[2020-12-14 01:56] optimistyzy commented on #1485
Patch was merged, so close this issue.

[2020-12-14 02:24] zlsh007 commented on #1205
change: scripts/rpc.py -v bdev_aio_create /dev/pbdx1 spdk_blk1
to: scripts/rpc.py -v bdev_aio_create /dev/pbdx1 spdk_blk1 512

[2020-12-14 03:20] jesonliang commented on #1205
@zlsh007 Thanks suhua for your reply. I have tried this block size option but hit same issue yet.
the block size parameter seems optional from spdk document.
![Uploading 屏幕快照 2020-12-14 上午11.16.09.png…]()

[2020-12-14 03:27] zlsh007 commented on #1205
@jesonliang
qemu-img convert -O raw a.qcow2 a.raw
./app/vhost/vhost -S /tmp/
./scripts/rpc.py bdev_aio_create a.raw file1 512
./scripts/rpc.py vhost_create_blk_controller --cpumask 0x1 vhost.1 file1
./x86_64-softmmu/qemu-system-x86_64 --enable-kvm -cpu host -smp 2 -m 2G -object memory-backend-file,id=mem0,size=2G,mem-path=/dev/hugepages,share=on -numa node,memdev=mem0 \
-chardev socket,id=spdk_vho

[2020-12-14 03:57] aohzju opened #1720 "Issue with timeout check in the function nvme_ctrlr_process_init"
At the end of the function nvme_ctrlr_process_init, there is a timeout check:

[code]
This check may raise false alarm due to the multi-task environment nature. Imagine the spdk task is scheduled out for some seconds right at the "init_timeout" point, but meanwhile the device has just completed a status transition successfully (so no timeout actually). When the spdk task is resumed again, spdk_get

[2020-12-14 04:04] gaowayne commented on #1692
@tomzawadzki actually we do not need real open channel device to debug and run ftl device. we can just use malloc, null, nvme, even raid device, ftl can be top of it.

[2020-12-14 05:32] jesonliang commented on #1205
@zlsh007 I have tried with both centos7.4 and redhat 7.6 and hit same issue. Futhermore. After I have compared it with using qemu virtio-blk,  I found a difference in the env parameter that passed to udev in the output of 'udevadm info .  it will add a 'ID_SERIAL = AIO disk' different with using virtio-blk.
![WechatIMG41_issue](https://user-images.githubusercontent.com/340356/102043756-43a1ad00-3e

[2020-12-14 05:40] changpe1 commented on #1205
I'm not familiar with udev, from your description, is this related with GET_ID command ?

[2020-12-14 05:40] zhiganglu commented on #1205
You can try to change the ID_SERIAL to another name, but not including a space. For example, "AIO-disk", since udev does not work well with the space.

[2020-12-14 05:42] jesonliang commented on #1205
@zhiganglu  Do you konw where I can change the ID_SERIAL? I' m confuse who pass this parameter to udev.

[2020-12-14 05:47] zhiganglu commented on #1205
SPDK AIO bdev product_name.

[2020-12-14 05:55] shuhei-matsumoto commented on #1720
Hi @aohzju

It is expected that we call nvme_ctrlr_process_init() repeatedly until the state of the ctrlr becomes ready.
If nvme_ctrlr_process_init() is called multiple times, there is no difference between the head or tail in a function as a place to check timeout.

nvme_ctrlr_process_init();
nvme_ctrlr_process_init();
nvme_ctrlr_process_init();

 (snip)

nvme_ctrlr_process_init().

But you have

[2020-12-14 06:37] jesonliang commented on #1205
@zhiganglu  Do you know is there any rpc API to change product_name?
I changed bdev_aio.c code as below and It looks like working well now.

diff --git a/module/bdev/aio/bdev_aio.c b/module/bdev/aio/bdev_aio.c
index 1829cac..acc6a6f 100644
--- a/module/bdev/aio/bdev_aio.c
+++ b/module/bdev/aio/bdev_aio.c
@@ -711,7 +711,7 @@ create_aio_bdev(const char *name, const char *filename, uint32_t block_siz

[2020-12-14 06:43] changpe1 commented on #1714
I pushed a patch to fix this issue https://review.spdk.io/gerrit/c/spdk/spdk/+/5565.

[2020-12-14 07:31] zlsh007 commented on #1714
Thanks a lot. The effect of unmap attached to this write zero is to clear the data and then delete the mapping table? Is this operation equivalent to sending a discard after sending a write zero?

[2020-12-14 07:41] changpe1 commented on #1714
This isn't defined in specification, but all the READs will return zeroes for the discarded regions for most of the SSDs in practice.
so at least this operation acts correctly, if it does need DISCARD, it can send DISCARD command directly.

[2020-12-14 07:46] zlsh007 commented on #1714
OK, Thanks!

[2020-12-14 07:46] #1714 closed

[2020-12-14 08:39] tomzawadzki commented on #1712
Not sure how I've missed the `fsync_on_close`, but you are right. Removing this from the config, does not reproduce the issue.

Interestingly enough, this option in used in quite a few different vhost tests. @mikeBashStuff Can you please check verify other tests that have `fsync_on_close`, by executing whole vhost.sh ?
Another interesting check would be `test/vhost/initiator/blockdev.sh` with addi

[2020-12-14 08:55] mikeBashStuff commented on #1712
@tomzawadzki Will try to test it out asap.

[2020-12-14 12:10] karlatec opened #1721 "[nvmf-tcp-nightly-vg-autotest] nvmf_perf test case core dump"
## Current Behavior

nvmf_perf test case for NVMe-oF TCP tests in nightly build fails with core dump. This also happens for uring version of the test job.

## Possible Solution

First known failing build: https://ci.spdk.io/public_build/autotest-nightly_1967.html (HEAD was: 6d9d3f87e bdev_nvme: don't try to read csts on fabrics cmd timeout)
Last known ok build: https://ci.spdk.io/public_build/auto

[2020-12-14 13:26] EugeneKochetov commented on #1721
This was introduced by my recent patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/5126
I will fix now.

[2020-12-14 14:19] jimharris commented on #1720
Hi @aohzju,

I agree with Shuhei.  Moving the spdk_get_ticks() call could help you in some of your cases, but what happens if the task gets swapped out just *before* the spdk_get_ticks() call?

So I agree with Shuhei that I'd like to know more about your environment.  What is being scheduled on this system such that an SPDK process could be swapped out for 30 seconds at a time?

You can also set a

[2020-12-14 15:08] tomzawadzki commented on #1648
Patch set 1 twice
https://review.spdk.io/gerrit/c/spdk/spdk/+/5526/1

[2020-12-14 15:35] AlekseyMarchuk commented on #1721
Just for reference, fix is here https://review.spdk.io/gerrit/c/spdk/spdk/+/5567

[2020-12-14 16:26] jimharris commented on #1721
Thanks for the fix!  I added my +2 and merged it.

@karlatec feel free to close...

[2020-12-14 20:08] mikeBashStuff commented on #1674
I am afraid I can still see similar issue while running tests on top of the https://review.spdk.io/gerrit/c/spdk/spdk/+/5114 - here's the patch which adds the tests: https://review.spdk.io/gerrit/c/spdk/spdk/+/5568/2 and here are the results https://ci.spdk.io/public_build/autotest-per-patch_32159.html. The `nvmf-tcp-vg-autotest` job did just fine, but the `nvmf-tcp-uring-autotest` (https://ci.spd

[2020-12-15 06:18] AlekseyMarchuk commented on #1674
Thanks @mikeBashStuff
I believe it happens due to I didn't put a pdu into `tqpair->send_queue` and in error case when we call `_pdu_write_done` we remove the pdu from this list. Will update my patch with fix for this problem.

[2020-12-15 07:09] aohzju commented on #1720
Hi, @shuhei-matsumoto , @jimharris ,
I gave an extreme example for illustrating the issue, not a real case.
I was running some tests on a QEMU guest OS against a simulated NVMe device (a home-grown NVMe simulator). Meanwhile, there was another machine interacting with the guest OS collecting testing log data. Intermittently, we saw NMVe init timed out at state 3 or 5 (NVME_CTRLR_STATE_DISABLE_WAIT

[2020-12-15 07:47] karlatec commented on #1721
I see test passing in nightly builds now. Closing. Thanks!

[2020-12-15 07:47] #1721 closed

[2020-12-15 07:54] sunmingbao opened #1722 "SPDK perf can not write larger data block"
SPDK perf can not write larger data block.
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1. Setup a normal NVMe_OF target on HOST murray-dirt using kernel target implementation.
2. Connect to the above target from HOST lehi-dirt with the following command.
./perf -q 16 -P 1 -s 4096 -w write -t 5 -c 0x4 -o 11534336 -r 'trtype:RDMA adrfam:IPv4 traddr:169.254

[2020-12-15 08:13] AlekseyMarchuk commented on #1674
I think that this `tqpair->send_queue` is useless in the current tcp implementation, tcp target has been changed since adding this member (it was added in initial implementation). So I prepared a patch to completely remove it. @mikeBashStuff could you verify it again? It is better to checkout a branch from gerrit since I added a patch before https://review.spdk.io/gerrit/c/spdk/spdk/+/5114

[2020-12-15 08:31] shuhei-matsumoto commented on #1720
Hi @aohzju

Thanks for the detailed explanation. Are you saying that we move the timeout check to the head of nvme_ctrlr_process_init() and return success regardless of timeout if state is moved to the next?

However, as you will find, we already have implemented similar solution.
nvme_ctrlr_set_state() extends timeout if the state is changed.
This timeout extension serves the role to remove the f

[2020-12-15 08:56] sunmingbao commented on #1722
Note, this perf has applied the patch provided in the following issue:
https://github.com/spdk/spdk/issues/1719

[2020-12-15 09:31] sunmingbao commented on #1722
Following is the full dmesg generated at the target side for a single execution of the perf command:

[  851.736345] nvmet: creating controller 1 for subsystem nqn.2014-08.org.nvmexpress.discovery for NQN 2014-08.org.nvmexpress:uuid:0355221d-e88b-4e9d-86da-14d54ab455ff.
[  851.743076] nvmet: creating controller 2 for subsystem testnqn_1 for NQN 2014-08.org.nvmexpress:uuid:0355221d-e88b-4e9d-86da-1

[2020-12-15 09:55] AlekseyMarchuk commented on #1722
@sunmingbao patch that fixed #1719 was changed since you verified it. Could you try again with last version of this patch?

[2020-12-15 10:02] sunmingbao commented on #1722
@AlekseyMarchuk
OK.
I will try with the latest version.

[2020-12-15 10:47] #1718 closed

[2020-12-15 11:30] tomzawadzki commented on #1641
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/5555
Log https://ci.spdk.io/public_build/autotest-per-patch_32216.html
Snippet from Jenkins:
[code]

This is a different failure, than previously yet the result is the same. There is no reason to generate empty results page, and posting such result won't be beneficial to the patch submitter.

[2020-12-15 11:54] tomzawadzki commented on #1642
Looking at a sample patch from latest CI run:
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/3324/14
CI coverage output https://ci.spdk.io/assets/html/untar.html?file=../../results/autotest-per-patch/builds/32201/archive/coverage_autotest-per-patch_32201.tar.gz&page=lib/nvme/nvme_tcp.c.gcov.html

Function `nvme_tcp_ctrlr_connect_qpair()` **matches** the source code and paths taken from the patc

[2020-12-15 12:00] tomzawadzki commented on #1347
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/5464 was merged.
Meanwhile the second idea https://review.spdk.io/gerrit/c/spdk/spdk/+/5465 was abandoned.

@mikeBashStuff does the above resolve this issue from your perspective ?

[2020-12-15 12:04] tomzawadzki commented on #1709
@mikeBashStuff patch https://review.spdk.io/gerrit/c/spdk/spdk/+/5451/ was merged.
 Does this resolve this particular issue fully ?

[2020-12-15 12:18] tomzawadzki commented on #1715
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/5510 fixing this issue was merged.

[2020-12-15 12:18] #1715 closed

[2020-12-15 12:19] tomzawadzki commented on #1716
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/5513 fixing this issue was merged.

[2020-12-15 12:19] #1716 closed

[2020-12-15 12:40] mikeBashStuff commented on #1347
@tomzawadzki I think so, yes. This particular patch + https://review.spdk.io/gerrit/c/spdk/spdk/+/5451 + changes committed on the CI side should mitigate this particular issue and #1709. Haven't seen similar failures in the crypto job for some time now.

[2020-12-15 12:59] mikeBashStuff commented on #1712
@tomzawadzki I run through different `vhost` tests which explicitly set `fsync_on_close=1` in the `fio` configuration, .e.g. suites from `vhost/lvol/lvol_test.sh` and `vhost/manual.sh`, without being able to reproduce this issue. That said, adding `--fsync_on_close=1` to the `vhost/initiator/blockdev.sh` did trigger the very same issue (without it, test executes just as expected).

[2020-12-15 13:02] sunmingbao commented on #1722
@AlekseyMarchuk
I  have tried with the latest patch, but the issue remains unresolved.

Here are the logs:

lehi-dirt:/home/admin/spdk # ls -l 46f88d8.diff
-rw-r--r-- 1 root root 4814 Dec 11 05:46 46f88d8.diff

lehi-dirt:/home/admin/spdk # patch -p1 <./46f88d8.diff
patching file examples/nvme/perf/perf.c
Hunk #1 succeeded at 79 with fuzz 2 (offset -6 lines).
Hunk #2 succeeded at 596 with fuzz 2 (o

[2020-12-15 13:03] AlekseyMarchuk commented on #1722
Thanks, I'm checking it

[2020-12-15 13:10] AlekseyMarchuk commented on #1722
@sunmingbao could you share your kernel NVMF target config?

[2020-12-15 13:57] jimharris commented on #1722
@sunmingbao could you also bisect the I/O size to find out the largest size that passes and the smallest sizes that fails?

I see you are using SPDK v20.04.1 - could you also try on latest master (or even v20.10)?

Thanks,

Jim

[2020-12-15 14:11] sunmingbao commented on #1722
@AlekseyMarchuk
I tried another kernel version () at the target side.

Logs of the perf side:
lehi-dirt:/home/admin/NVMe_OF_test # ./perf_rdma -q 16 -P 1 -s 4096 -w write -t 5 -c 0x4 -o 65536 -r 'trtype:RDMA adrfam:IPv4 traddr:169.254.85.8 trsvcid:4420'
Starting SPDK v20.04.1 git sha1 c5f0959de / DPDK 19.11.2 initialization...
[ DPDK EAL parameters: perf --no-shconf -c 0x4 -m 4096 --no-pci --log-l

[2020-12-15 14:19] sunmingbao commented on #1722
@AlekseyMarchuk
kernel NVMF target config uploaded.

[nvmet_cfg.txt](https://github.com/spdk/spdk/files/5696429/nvmet_cfg.txt)

[2020-12-15 14:55] spdkci commented on #1709
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_32284.html

[2020-12-15 15:08] tomzawadzki commented on #1347
[Bug scrub] Leaving open up till the end of the week.

[2020-12-15 15:09] tomzawadzki commented on #1709
[Bug scrub] The above report is for patch that needs a rebase. As for the issue, let's leave it open till the end of the week.

[2020-12-15 15:12] tomzawadzki commented on #1717
[Bug scrub] Yes, we should backport the 3 patches to the v20.01.x branch, without doing the next maintenance LTS release.

[2020-12-16 02:58] sunmingbao commented on #1722
@jimharris @AlekseyMarchuk
I tried with the latest code of master, but it has the issue https://github.com/spdk/spdk/issues/1719
I would apply the patch and try again.

Here are the logs:
lehi-dirt:/home/admin/NVMe_OF_test #  ./perf_master_latest -q 16 -P 1 -s 4096 -w write -t 5 -c 0x4 -o 65536 -r 'trtype:RDMA adrfam:IPv4 traddr:169.254.85.8 trsvcid:4420'
[2020-12-16 02:55:08.137175] Starting SPDK

[2020-12-16 03:11] sunmingbao commented on #1722
The patch of https://github.com/spdk/spdk/issues/1719 applied to the latest code of master, but the problem remains unresolved.

Here are the logs:

lehi-dirt:/home/admin/NVMe_OF_test # ls -l perf_master*
-rwxr-xr-x 1 admin users 3794888 Dec 16 02:53 perf_master_latest
-rwxr-xr-x 1 admin users 3795752 Dec 16 03:02 perf_master_latest_patched

lehi-dirt:/home/admin/NVMe_OF_test # ./perf_master_lates

[2020-12-16 03:24] sunmingbao commented on #1722
I have tried with NVMe over TCP (everything at 2 sides is the same, except for RDMA was replaced with TCP), and it works well.

Here are the logs:

murray-dirt:/home/admin/NVMe_OF_test # ./perf_master_latest_patched -q 16 -P 1 -s 4096 -w write -t 5 -c 0x4 -o 11534336   -r 'trtype:TCP adrfam:IPv4 traddr:169.254.85.7 trsvcid:4420'
[2020-12-16 03:20:47.308342] Starting SPDK v21.01-pre git sha1 e4f8ec

[2020-12-16 07:21] aohzju commented on #1720
HI, @shuhei-matsumoto , let me create a patch and get back to you. Allow me some days as I'm tied up by some other things.

Thanks
-Oscar

[2020-12-16 08:42] #1484 closed

[2020-12-16 12:29] AlekseyMarchuk commented on #1722
I was trying to reproduce this issue and now I think that behavior depends on the nvmet version. I checked 2 different nvmet-rdma modules.
When I used nvmet-rdma version 4AE338A70BC60FA297CDD54, perf didn't run any traffic at all and I got crash in nvmet-rdma module.
With nvmet-rdma version 7D7954484F9F0200453F194 perf worked but IOPS was not stable - sometimes it dropped to 0. The same IOPS fluct

[2020-12-16 14:18] sunmingbao commented on #1722
@AlekseyMarchuk
For shortage of clusters, I have moved to Virtual Machine environment.
I have tried with kernel 5.4 from kernel.org, but the problem remains unresolved.

Following are the whole logs:

linux-15v9:/home/admin/nvme_of_test # cat /etc/os-release
NAME="SLES"
VERSION="12-SP4"
VERSION_ID="12.4"
PRETTY_NAME="SUSE Linux Enterprise Server 12 SP4"
ID="sles"
ANSI_COLOR="0;32"
CPE_NAME="cpe:/o

[2020-12-16 14:25] mikeBashStuff commented on #1674
@AlekseyMarchuk Ah, missed your comment. Will try to re-test it asap. :)

[2020-12-16 14:31] jimharris commented on #1722
Hi @sunmingbao,

Can you determine the smallest I/O size where this starts to fail?  Or does it pass with any I/O size smaller than 11534336 bytes?

-Jim

[2020-12-16 14:44] sunmingbao commented on #1722
@AlekseyMarchuk @jimharris
I found that the issue was introduced by the patch provided in https://github.com/spdk/spdk/issues/1719

I switched to the kernel target powered by MLNX_OFED_LINUX-4.9-0.1.7.0-sles12sp4-x86_64.tgz.
And use the perf compiled from original source code of SPDK v20.04.1, it works well (though it can not connect to target powered by kernel 5.3.18-95.54).

logs:
linux-15v9:/ho

[2020-12-16 14:51] sunmingbao commented on #1722
Then I switch to target powered by up-stream kernel 5.4.63-94.41-default.

The perf compiled from original source code of SPDK v20.04.1 works well.
Logs:
linux-15v9:/home/admin/nvme_of_test # ./perf-53896977 -q 16 -P 1 -s 1024 -w write -t 5 -c 0x4 -o 11534336 -r 'trtype:RDMA adrfam:IPv4 traddr:192.168.17.152 trsvcid:4420'
Starting SPDK v20.04.1 git sha1 c5f0959de / DPDK 19.11.2 initialization...
[

[2020-12-16 15:49] sunmingbao commented on #1722
According to the results of the various combinations above, I think the root cause is that kernel 5.3.18 has certain issue(s).
Since once switched into kernel 5.4, the perf compiled from the original source code of SPDK v20.04.1 works well, no https://github.com/spdk/spdk/issues/1719, no https://github.com/spdk/spdk/issues/1722.

However, the problem for us is that up to now SUSE has not released

[2020-12-16 16:07] AlekseyMarchuk commented on #1722
@sunmingbao Thanks, you told that with kernel target from MLNX_OFED_LINUX-4.9-0.1.7.0 and SPDK perf with fix for #1719 perf sends no traffic. I'll install the same MOFED (but I don't have SLES, hope that nvmet-rdma will be the same for other distros) and check SPDK v20.04.1 with and without the fix. If I reproduce the problem then I believe I will be able to fix it :)

[2020-12-16 19:35] AlekseyMarchuk commented on #1722
@sunmingbao I reproduced this problem with nvmet-rdma from MLNX_OFED_LINUX-4.9-0.1.7.0 Going to work on solution tomorrow

[2020-12-17 00:53] jimharris commented on #1720
Hi @aohzju,

Would this patch work?

https://review.spdk.io/gerrit/c/spdk/spdk/+/5596

-Jim

[2020-12-17 01:59] yidong0635 commented on #1678
@mkenguva any update about this issue, does this related with async completion ?

[2020-12-17 02:26] optimistyzy commented on #1722
@sunmingbao  If that, you may diff the two kernel versions especially for nvmet/rdma code (I do not think that there are two many code change in linux/drivers/nvme/target especially linux/drivers/nvme/target/rdma.c). May be some issues are fixed by 5.4.

[2020-12-17 05:13] optimistyzy commented on #1710
@yidong0635 Do you see this failure again?

[2020-12-17 05:18] yidong0635 commented on #1710
@optimistyzy  can't see this  issue again .

[2020-12-17 05:32] aohzju commented on #1720
Hi, @jimharris ,
Thanks for the patch, but it does not fix the issue to my understanding.
I attached my patch here for your reference. Hopefully it can make my point clear.

Thanks
-Oscar
[nvme_ctrlr.c_diff.txt](https://github.com/spdk/spdk/files/5707188/nvme_ctrlr.c_diff.txt)

[2020-12-17 06:18] optimistyzy commented on #1710
@yidong0635  We may close it. If we see the similar issue, we can reopen it.

[2020-12-17 06:22] yidong0635 commented on #1710
ok. Close it.

[2020-12-17 06:22] #1710 closed

[2020-12-17 06:26] spdkci commented on #1675
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_32423.html

[2020-12-17 07:37] spdkci commented on #1645
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_32373.html

[2020-12-17 07:51] wanqunintel commented on #1703
Hi， Alex
If you have the link to this patch, let me know and i will download it to test, before that, your patch should pass the CI. thank you.

[2020-12-17 08:15] yidong0635 opened #1723 "use-after-free error when SSD fails to initialize"
# Issue
[code]

target 1:
1. `./build/bin/nvmf_tgt -m 0x1E &`
2. `./scripts/rpc.py nvmf_create_transport -t RDMA -u 8192`
3. `./scripts/rpc.py construct_nvme_bdev -b Nvme0 -t pcie -a 0000:d8:00.0`
4. `./scripts/rpc.py  nvmf_create_subsystem nqn.2016-06.io.spdk:cnode0 -a -s SPDK0000`
5. ` ./scripts/rpc.py nvmf_subsystem_add_ns nqn.2016-06.io.spdk:cnode0 Nvme0n1`
6. `./scripts/rpc.py nvmf_subsystem_

[2020-12-17 10:24] mikeBashStuff commented on #1674
@AlekseyMarchuk I am afraid the issue is still there - when I run my tests on top of this series https://review.spdk.io/gerrit/c/spdk/spdk/+/5196/5 (which includes https://review.spdk.io/gerrit/c/spdk/spdk/+/5114) one of them fails when SPDK is compiled with `liburing` support (same thing can be observed on the CI). The failing test setup looks as the following:
[code]

[2020-12-17 15:34] tomzawadzki commented on #1495
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/5514/
Log https://ci.spdk.io/results/autotest-per-patch/builds/31804/archive/nvme-phy-autotest/index.html
Files:
[code]
Missing build.log.

[2020-12-17 15:50] AlekseyMarchuk commented on #1722
@sunmingbao I compared sources of nvmet-rdma module from MLNX_OFED_LINUX-4.9-0.1.7.0 and upstream and found 2 problems:
1. Version from MLNX_OFED_LINUX-4.9-0.1.7.0 reports mdts=0 that means that we don't split requests in SPDK and send capsules with size 11534336. If we split request in SPDK then the problem could most likely be avoided.
2. There is another significant difference in how nvmet-rdma

[2020-12-17 15:54] AlekseyMarchuk commented on #1674
Thanks @mikeBashStuff since you compiled SPDK with uring that means that uring socket implementation has been used instead of posix. I verified my patch with posix, going to check it with uring
Could you clarify scenario of your test? I see that the problem happens in "failure" case when we have an error on socket layer. How do you trigger such an error?

[2020-12-17 17:41] mikeBashStuff commented on #1674
@AlekseyMarchuk I can reproduce it by simply running `fio` against the setup presented in my previous comment. If you cherry-pick my patch on top of your series (https://review.spdk.io/gerrit/c/spdk/spdk/+/5568/5) you should be able to reproduce it.
In short, the failing test consists of single nvmf subsystem with null bdev on top with `dif_type == 3`. Then fio is run against it with the config fr

[2020-12-17 21:38] jimharris commented on #1720
Hi @aohzju,

My concern with this approach is that now some case statements return, and others break.  That makes it more likely that you'd see regressions in the future.

Could you describe more why my patch would not work?  It has the advantage of being a much smaller patch.  It still calls spdk_get_ticks() after the state switch statement, but if the state changes it would now not cause a timeo

[2020-12-18 02:41] aohzju commented on #1720
Hi, @jimharris ,
Actually in the original implementation, some case statements do return after the nvme_ctrlr_set_state() call. Some don't, but I think they should. Think about the extreme case again, if they don't return immediately, and happen to be swapped out for seconds before init_timeout check, time-out may happen just in the current nvme_ctrlr_process_init cycle.

Regarding you patch, I ho

[2020-12-18 05:19] shuhei-matsumoto commented on #1720
Hi @aohzju
A very simple preliminary question.
So what is the difference between your patch and infinite timeout (or timeout check is disabled) ?
Do you still have any error case you want to find by timeout?
Is it OK for you to disable timeout check?

[2020-12-18 05:44] sunmingbao commented on #1722
@AlekseyMarchuk
Many thanks for the analysis.
But I still have not got a clear picture.

In my verifications, the following 3 types of kernel target were involved:

- 5.4.63-94.41-default   (from kernel.org)
- 5.3.18-95.54-default+ (from SLE15_SP2)
- MLNX_OFED_LINUX-4.9-0.1.7.0-sles12sp4-x86_64.tgz (compiled for kernel 4.12.14 from SLES12-SP4)

- Following 2 types of SPDK perf were involved:
- per

[2020-12-18 06:44] sunmingbao commented on #1719
@AlekseyMarchuk
Since this issue can be reproduced by the following command, I will report it to SUSE.

nvme connect --transport=rdma --queue-size=1024 --nqn=testnqn_1 --traddr=169.254.85.8 --trsvcid=4420

[2020-12-18 07:04] wanghailiangx opened #1724 "[modprobe irdma] Module irdma not found in directory /lib/modules/5.6.11-200.fc31.x86_64"
I think that irdma driver needs to be put in CI server.
[code]

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/32520/archive/unittest-vg-autotest/build.log

## Execution failed at

[code]

[2020-12-18 07:55] aohzju commented on #1720
Hi, @shuhei-matsumoto ,
My patch does not disable the timeout check. Basically it does this:

Get_Currrent_Time();
Check_Device_State();
Timeout_Check();

And yes, we still need timeout check.

Thanks
-Oscar

[2020-12-18 08:00] spdkci commented on #1675
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_32525.html

[2020-12-18 10:03] wanghailiangx opened #1725 "test/filesystem_btrfs: encountered an error of disconnected"
## Expected Behavior
filesystem_btrfs run passed.

## Current Behavior
build log：
[code]

dmesg log:
[code]

## Steps to Reproduce
1. ./autorun.sh
(but ./test/nvmf/target/filesystem.sh --transport=rdma passed.)

## Context (Environment including OS version, SPDK version, etc.)
Fedora release 29 (kernel 5.4.5 )
SPDK commit 9697d84f0e4e69b7f0660dfdc8e919692d6aac84

[2020-12-18 11:18] shuhei-matsumoto commented on #1720
Hi @aohzju

Thanks for your reply. Do you want to ignore intermittent spikes (i.e., large scheduling starvation) while polling ctrlr_process_init()?

How large is the spike compared with the timeout?
How many times do you experience such spikes from state 1 to state 2?
Is it enough to extend timeout to timeout + spike_size * spike_count?

[2020-12-18 11:28] shuhei-matsumoto commented on #1720
One more question.

Why can you say spike does not occur between the previous timeout_check() and the next get_current_time() ?

1. get_current_time()
2. check_device_state()
3. timeout_check()
4. get_current_time()
5. check_device_state()
6. timeout_check()

Why spike occurs only during between 1 and 3  or 4 and 6?
Why spike does not occur between 3 and 4?
Probability is just proportional to the

[2020-12-18 15:29] AlekseyMarchuk commented on #1722
@sunmingbao you are right that fix for #1719 has a relationship with the current issue. Let me explain why it happens
In #1719 when perf connects to target, it uses maximum queue depth reported by the controller. The option `-q` of perf application only limits the number of requests in flight, the real queue depth that perf and target allocate will be the maximum one(e.g. 1024). And in this case t

[2020-12-18 15:42] jimharris commented on #1720
Yikes - I didn't look at the rest of this function before responding.  It is quite the mishmash of breaks and returns already.  I would still prefer to base the decisions here on the state changing.  Then as we add new states we are not worrying about whether to break or return from this switch statement.  Probably we should do some refactoring on this function to make it more consistent for the c

[2020-12-18 21:57] spdkci commented on #1610
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_32640.html

[2020-12-18 22:14] shuhei-matsumoto commented on #1720
Thanks @jimharris

I think you said Oscar’s issue would not be random but specific causal relationship, i.e., timeout occurred always at any specific state. Oh, that is our desire.

[2020-12-18 22:30] mkenguva commented on #1678
Hi  @yidong0635 , can you eloborate which async operation you are referring to, im new to the RDMA functionality here.

Below is my steps i tried to reproduce this scenario. I have use v20.10 , not seen high number during tests.
@jgrodman Could you let me know if your setup was similar to the below , if im missing any specific that might to your posted scenario , please let me know

sudo scripts/r

[2020-12-19 03:22] aohzju commented on #1720
Yes, we can extend the timeout threshold to avoid the issue. But my point is, this function itself can be polished to avoid the issue so that spdk users don't have to worry about the false alarm.

[2020-12-19 06:02] aohzju commented on #1720
Spike can happen anytime anywhere. If there is a spike between 3 and 4, and the device does have changed the state during the spike period, 5 will capture it and move forward one more state step, and reset ctrlr->state_timeout_tsc, so 6 won't fail. On the other hand, if the device does not change its state during the spike period, then it is a real timeout, 6 will fail.

[2020-12-19 06:16] aohzju commented on #1720
Let's take NVME_CTRLR_STATE_WAIT_FOR_IDENTIFY as an example, the device may have sent the CPL of Identify to the Admin cpl queue, but spdk won't know it until the next call to spdk_nvme_ctrlr_process_admin_completions is done. See the sequence below:
spdk_nvme_ctrlr_process_admin_completions ()   //called in the switch case, but Identify response not arrived yet. Note, in this case, your old_state

[2020-12-19 06:18] aohzju commented on #1720
Let's take NVME_CTRLR_STATE_WAIT_FOR_IDENTIFY as an example, the device may have sent the CPL of Identify to the Admin cpl queue, but spdk won't know it until the next call to spdk_nvme_ctrlr_process_admin_completions is done. See the sequence below:
spdk_nvme_ctrlr_process_admin_completions () //called in the switch case, but Identify response not arrived yet.

[2020-12-20 10:22] jgrodman commented on #1678
@mkenguva sorry, I don't remember the exact setup I used!

[2020-12-20 17:24] AlekseyMarchuk commented on #1674
@mikeBashStuff I tried to fix uring problem keeping patch unchanged, but it seems that uring implementation doesn't work with mixed writev/writev_async calls. So I added another RFC patch which always uses writev_async. I had to revert previously added restriction that spdk_sock_flush doesn't flush requests if socket is connected to a poll group. Please check latest version of the branch with fix.

[2020-12-21 01:41] spdkci commented on #1675
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_32648.html

[2020-12-21 03:02] yidong0635 commented on #1678
I have tried this:
[code]
not sure this is a bug.

[2020-12-21 05:47] yidong0635 commented on #1678
sometimes :
[root@waikikibeach45 spdk]# sudo ./build/bin/spdk_trace -s nvmf -p 459375 | grep r2716
[code]
these values are so strange.

[2020-12-21 13:21] mikeBashStuff commented on #1674
@AlekseyMarchuk I run my tests locally against your latest patches and now everything seems to be working fine (with and without `liburing` support). :)

[2020-12-21 19:16] jimharris commented on #1720
Ah, I see @aohzju.

Can you clarify why you change the breaks to returns in your patch?  For example, if we are in NVME_CTRLR_STATE_INIT, we call nvme_ctrlr_identify.  This will update the state_timeout_tsc.  If you already captured spdk_get_ticks() at the beginning of the function, and there is a very long delay, state_timeout_tsc will still be more than the ticks you captured, so we will not tim

[2020-12-22 00:05] aohzju commented on #1720
Hi, @jimharris
Yes, replacing breaks with returns in my patch is not necessary. And very good catch about the issue in nvme_ctrlr_identify functions.

Yes, the most often seen false alarm is with WAIT_FOR_READY_0 and WAIT_FOR_READY_1 states. The reason is CAP.TO is usually marginal. Fortunately, nvme_ctrlr_process_init() disables/enables the controller before it calls nvme_ctrlr_set_state(). So an

[2020-12-22 07:23] jesonliang commented on #1205
@changpe1 one more question, I set up several vms which comunicated with one vhost process. I found that all the existed controller will be lost after vhost process restart/reboot.

scripts/rpc.py -v vhost_get_controllers
INFO: Log level set to 20
INFO: Requests:
{
  "jsonrpc": "2.0",
  "method": "vhost_get_controllers",
  "id": 1
}

INFO: response:
{
  "jsonrpc": "2.0",
  "id": 1,
  "result": []

[2020-12-22 07:28] changpe1 commented on #1205
Check you QEMU version, if it can support reconnect feature, the vhost process can be restarted without any change.

[2020-12-22 07:42] sunmingbao commented on #1722
@AlekseyMarchuk
Many thanks for the detailed explanation.

For the connecting issue #1719, I have reported a bug to SUSE, since it's really an independent bug on the kernel side.

But for the fix made in SPDK perf for #1719, it really introduced a new issue.
Since without the fix, the following command (-q 16, writing 11 MiB data-blocks) works well with both MLNX_OFED_LINUX-4.9-0.1.7.0-sles12sp4-x

[2020-12-22 10:10] yidong0635 commented on #1678
using the latest code:
`commit : 0dc567eb2d57b10ae554ff07667df5d8f84bc094`
At least we can see there's a narrow case about  time overflow, that is an issue of trace.cpp.
like this : `time: 7378697443082240.000`
`get_us_from_tsc(`e->tsc - stats->start[e->object_id]`,  tsc_rate)`;
possible reasons lead to this:
1.  a new request is coming , but the time ticks are not recorded, d->new_object is assig

[2020-12-22 10:18] karlatec commented on #1642
@tomzawadzki I inspected a couple of more builds. I think you were just lucky and the coverage was properly aggregated. In my case I found 3 out of 10 builds had flawed coverage report:
OK:
https://review.spdk.io/gerrit/c/spdk/spdk/+/3324/14
https://review.spdk.io/gerrit/c/spdk/spdk/+/3324/16
https://review.spdk.io/gerrit/c/spdk/spdk/+/3687/10
https://review.spdk.io/gerrit/c/spdk/spdk/+/4127/6
htt

[2020-12-22 16:53] AlekseyMarchuk commented on #1688
This issue has not occurred for more than one month

[2020-12-22 16:53] #1688 closed

[2020-12-22 16:54] AlekseyMarchuk opened #1726 "[opal_revert_cleanup] SPDK process can't open RPC socket"
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_32761.html

## Execution failed at
[code]

[2020-12-22 16:55] spdkci commented on #1726
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_32761.html

[2020-12-22 17:07] spdkci commented on #1726
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_32758.html

[2020-12-22 17:28] jimharris commented on #1726
Both failures are on the vhost_autotest job running on GP11.  @karlatec do you know of any recent changes on that system or that job?  This opal_revert_cleanup gets called in autotest.sh before we even start running any tests.  I haven't been able to find any recent script changes in this area.

[2020-12-22 18:09] karlatec commented on #1726
No recent changes that I remember. I **might** have replaced an NVMe drive and it might not be OPAL-enabled, but this would be quite a while back and I doubt that it could be the root cause - we'd hit that error sooner.
I saw that there was /var/tmp/spdk.sock.lock even though no builds were running in the background, I removed it.

This one failed too, and it wasn't vhost test: https://ci.spdk.io/

[2020-12-22 18:15] jimharris commented on #1726
Thanks @karlatec.  That failure was also on GP11, so let's see if removing the lock changes things.

If this happens again, could you run "lsof /var/tmp/spdk.sock.lock" before removing the lock file?  It will show you a PID if some process have the lock file open.  Maybe there were no builds running, but some other process still running in the background?

[2020-12-22 18:15] karlatec commented on #1726
i'll check, but there shouldn't be. We have a power cycle on failures.

[2020-12-22 18:26] karlatec commented on #1726
Just finished a manual vhost-autotest build on GP11 and it passed just fine. I think this was just a leftover file not cleaned up after application exit during a previous (probably failed) build.

I think we could add a `lsof /var/tmp/spdk.sock` and `lsof /var/tmp/spdk.sock.lock`  to the beginning of autotest.sh and delete them if no associated process is detected.

[2020-12-23 06:46] changpe1 commented on #1723
OK, It's very clear, I will submit a fix patch.

[2020-12-24 02:07] shuhei-matsumoto commented on #1610
I took a look for the log https://ci.spdk.io/public_build/autotest-per-patch_31737.html

Initiator got ECONNREFUSED error twice.

[code]

On the other hand, we don't know which port was used when connection succeeded. If we look at the above, we find reset succeeded after reset failed. I may create a patch to log which port was used when reconnecting to the controller.

[2020-12-24 02:39] yidong0635 commented on #1610
@shuhei-matsumoto  thanks, look forward it.

[2020-12-24 03:36] changpe1 commented on #1723
@yidong0635 https://review.spdk.io/gerrit/c/spdk/spdk/+/5682, can you help to verify it?

[2020-12-24 05:18] shuhei-matsumoto commented on #1610
Sorry @yidong0635  I was wrong.

[code]
means that all pending reset requests complete with success unconditionally even if the current reset request failed.
[code]

I have to focus on why ECONNREFUSED was returned.

[2020-12-24 05:48] yidong0635 commented on #1723
Thanks changpeng, let me to verify it, but this issue is not easy to reproduce.

[2020-12-25 01:22] shuhei-matsumoto commented on #1610
A few update.

1. We could not know failover was attempted/completed from which path to which path.
2. We had called nvme_ctrlr_fail() to the ctrlr which was already failed. This is noisy.
3. It was observed that we had attempted failover to already failed trids.

I think # 3 may be one of reasons which caused this intermittent failure. Even when the test failed, failover succeeded after repeated

[2020-12-25 01:27] shuhei-matsumoto commented on #1610
After the patch series, we don't see any retry of failover.
https://ci.spdk.io/results/autotest-per-patch/builds/32860/archive/nvmf-phy-autotest/build.log

You can find the corresponding log by matching nvmf_multipath as section name.

[2020-12-25 08:04] jesonliang commented on #1205
Yes, I have checked the qemu version is 5.1.50v5.1.0-2232-g3e40748 that I builded recently from git.
I can seen the exist link complain as below when vhost process restart.

2020-12-25T07:58:10.012343Z qemu-system-x86_64: Failed to set msg fds.
2020-12-25T07:58:10.012399Z qemu-system-x86_64: vhost VQ 0 ring restore failed: -1: Input/output error (5)
2020-12-25T07:58:11.021941Z qemu-system-x86_64:

[2020-12-25 08:24] changpe1 commented on #1205
@jesonliang  You can open an new issue for this case.

[2020-12-28 05:54] jesonliang opened #1728 "VM with a with a vhost-user-blk boot disk failed to reconnect to vhost after it restarted."
I set up vm with  a vhost-user-blk boot disk which comunicated with one vhost process. I found that the existed controller will be lost after vhost process restart/reboot and qemu failed to reconnect to vhost
## Expected Behavior

Hope the vm could reconnect to vhost process after vhost restart.

Steps to Reproduce

1. start a vhost process
    build/bin/vhost -S /var/tmp -m 0xf0000f

2. create a

[2020-12-28 05:58] changpe1 commented on #1728
@jesonliang for step 5, you should restore the vhost-blk controller via RPC(step 2, 3) manually after restarting vhost process.

[2020-12-28 06:37] Comphix commented on #1724
Could Karol take a look?

00:11:29.543  modprobe: FATAL: Module ib_ucm not found in directory /lib/modules/5.6.11-200.fc31.x86_64
00:11:29.543   06:53:29	# true
00:11:29.543   06:53:29	# modprobe ib_umad
00:11:29.550   06:53:29	# modprobe ib_uverbs
00:11:29.566   06:53:29	# modprobe iw_cm
00:11:29.577   06:53:29	# modprobe rdma_cm
00:11:29.590   06:53:29	# modprobe rdma_ucm
00:11:29.599   06:53:29

[2020-12-28 07:03] jesonliang commented on #1728
you mean vm manager need maintain all the connections and try to reconnect to host like step 2,3. Right?
But at that point before reconnecting finished, Application will not be able to access the disk just waiting for reconnect done?

[2020-12-28 07:10] changpe1 commented on #1728
Yes. The I/Os inside VM will suspend for a while before the reconnection was established.

[2020-12-28 07:37] karlatec commented on #1724
I'm running a F32 5.9.10 and I cannot modprobe irdma as well. Is it upstreamed to kernel?
@Comphix @wanghailiangx  please provide steps how do you install irdma module in your systems.

[2020-12-28 07:49] wanghailiangx commented on #1724
@karlatec Only run: modprobe irdma, my OS Fedora 29 5.4.5

[2020-12-28 07:56] karlatec commented on #1724
I still cannot do this on more recent system:
[code]

Could you please paste `modinfo irdma` from your system?

[2020-12-28 08:04] wanghailiangx commented on #1724
[code]

[2020-12-28 10:22] karlatec commented on #1724
@wanghailiangx I am pretty convinced that this is not an upstream driver and that irdma has to be installed manually.

`/lib/modules/5.4.5/updates/drivers/infiniband/hw/irdma/irdma.ko` path and it's `updates` suggests that this was installed separately.
From my system: after I installed irdma from [Intel Download Website](https://downloadcenter.intel.com/download/29751/Linux-RDMA-Driver-for-the-E8

[2020-12-28 13:23] #1708 closed

[2020-12-28 14:35] mikeBashStuff commented on #1674
I've noticed that on the CI some of the tests started to fail while run against the patch series - these don't seem to be related to the DIF tests though. Example: https://ci.spdk.io/results/autotest-per-patch/builds/32970/archive/nvmf-tcp-uring-vg-autotest/build.log
Where the point of failure looks like the following (triggered during `nvmf_host_management` test):
[code]

[2020-12-28 14:55] AlekseyMarchuk commented on #1674
Thanks, I'll check it

[2020-12-29 02:42] Comphix commented on #1725
Seems that keep alive command timed out

[20204.410181] nvme nvme0: I/O 1 QID 0 timeout
[20204.410184] nvme nvme0: starting error recovery
[20204.417385] block nvme0n1: no usable path - requeuing I/O
[20204.437351] nvme nvme0: failed nvme_keep_alive_end_io error=4

What's the configuration of the NVMe-oF target side and also is there any log and dmesg reported in the target side?

Please also have

[2020-12-29 03:15] yidong0635 opened #1729 "memory leak in an error path of thread"
# Issue
[code]
# Steps
`./configure --with-rdma --enable-asan`
jsonc.json
[code]
Just can't configure NIC, and kill the host app.
## Context (Environment including OS version, SPDK version, etc.)
commit f420b9ef0a9ab7f410e6e70675c8b5196cb2f4e8

[2020-12-29 05:55] jesonliang commented on #1728
@changpe1  Thanks your reply and I will close this issue. BTW, Regarding the vhost controller from the spdk document, I can find this discription "To achieve optimal performance on NUMA systems, the cpumask should specify cores on the same CPU socket as its associated VM."
Does it mean we need assign the cpu mask same as numa node that associated with VM?
For example, One host has two numa nodes.

[2020-12-29 06:21] Comphix commented on #1729
Hi Yidong,

This issue is occurred when killing the spdk_tgt app?

[2020-12-29 07:13] yidong0635 commented on #1729
Just tried again，using the latest code， sometimes the host app  can‘t be killed after the target is terminated without doing any other things.
[code]
[code]

[2020-12-29 08:04] yidong0635 commented on #1729
ISSUE can be reproduced without configuring host IP and after killing host app.

[2020-12-29 21:24] shuhei-matsumoto commented on #1729
Hi @yidong0635 ,

I guess the following case occurred.
We could not destruct the controller because it continued to try resetting.
A temporary poller, ctrlr->destruct_poller checks if the controller is not being reset but its interval is 1 ms. It's sufficiently likely that the controller was being reset always when the poller ran.

Independent from this issue, A possible fix is included in my patc

[2020-12-29 22:23] shuhei-matsumoto commented on #1723
@changpe1 I replied on gerrit. Please check it.

[2020-12-30 03:24] yidong0635 commented on #1729
@shuhei-matsumoto  Thanks for your response, I will check this ASAP.

[2020-12-30 06:40] profove opened #1730 "show "no NVMe controllers found""
I have followed the guidance of spdk and show "no NVMe controllers found" when run the examples, like "hello_world"

I'm using a lenovo server SR650 with two CPUs:

I'm already run the setup.sh script to config, and the status info below:
./setup.sh status
[root@localhost scripts]# ./setup.sh status
Hugepages
node     hugesize     free /  total
node0   1048576kB        0 /      0
node0      2048kB

[2020-12-30 06:47] changpe1 commented on #1730
You may run scripts/setup again before running the example.

For you second question, SPDK will skip SSDs which have filesystems formatted.

[2020-12-30 06:55] profove commented on #1730
run setup.sh again still get the error info "no NVMe controllers found", my mount info below:
[root@localhost scripts]# df -h
Filesystem      Size  Used Avail Use% Mounted on
devtmpfs        189G     0  189G   0% /dev
tmpfs           189G     0  189G   0% /dev/shm
tmpfs           189G   14M  189G   1% /run
tmpfs           189G     0  189G   0% /sys/fs/cgroup
/dev/nvme1n1p5  316G  3.4G  296G   2% /

[2020-12-30 07:03] changpe1 commented on #1730
What's input if you run scripts/setup reset & lsblk for the drive 0000:86:00.0?

[2020-12-30 07:05] profove commented on #1730
[root@localhost scripts]# ./setup.sh reset
0000:d8:00.0 (8086 0a54): Skipping denied controller at 0000:d8:00.0
0000:d8:00.0 (8086 0a54): Active mountpoints on nvme1n1:nvme1n1p1,nvme1n1:nvme1n1p2,nvme1n1:nvme1n1p3,nvme1n1:nvme1n1p5, so not binding PCI dev
0000:00:04.0 (8086 2021): Skipping denied controller at 0000:00:04.0
0000:00:04.1 (8086 2021): Skipping denied controller at 0000:00:04.1
0000:0

[2020-12-30 07:06] yidong0635 commented on #1729
@shuhei-matsumoto
Do you mean the fix for long time resetting issue or  for the memory leak issue?
 it reports by host app.

For memory leak issue.
[code]
[code]

[2020-12-30 07:10] changpe1 commented on #1730
I see, do you have UIO or VFIO driver in your OS?
Users must bind NVMe SSD to UIO or VFIO before running SPDK, for most cases setup.sh will bind automatically.

[2020-12-30 07:20] profove commented on #1730
how to check uio or vfio driver?

[2020-12-30 07:21] Comphix commented on #1730
It looks like that there are partitions on both NVMe SSDs as listed above. Are you saying that you would like like to run SPDK on the second nvme1 (0000:86:00.0) SSD?

[root@localhost scripts]# lsblk
NAME MAJ:MIN RM SIZE RO TYPE MOUNTPOINT
nvme0n1 259:0 0 698.7G 0 disk
└─nvme0n1p1 259:1 0 698.7G 0 part
nvme1n1 259:2 0 1.8T 0 disk
├─nvme1n1p1 259:3 0 600M 0 part /boot/efi
├─nvme1n1p2 259:4 0 1G 0 p

[2020-12-30 07:25] profove commented on #1730
yep

[2020-12-30 07:37] Comphix commented on #1730
Is 0000:86:00.0 for below SSD (nvme0) ?

nvme0n1 259:0 0 698.7G 0 disk
└─nvme0n1p1 259:1 0 698.7G 0 part

Looks like 0000:d8:00.0 is for nvme1 where OS is loaded
NVMe 0000:d8:00.0 8086 0a54 1 nvme nvme1 nvme1n1

[2020-12-30 07:38] yidong0635 opened #1731 "SEGV for bdevperf testing on an error path"
# Issue
[code]

## Steps to Reproduce
./configure --with-rdma --enable-asan
jsonc.json
[code]

## Context (Environment including OS version, SPDK version, etc.)

commit : f420b9ef0a9ab7f410e6e70675c8b5196cb2f4e8

[2020-12-30 07:40] profove commented on #1730
yes,
"0000:86:00.0" is nvme0
"0000:d8:00.0" is nvme1 and for OS

[2020-12-30 07:46] Comphix commented on #1730
If there is no data on nvme0 (0000:86:00.0), you could have a try to format it with kernel driver (or to destroy the partition nvme0n1p1) as it is listed there is a partition on it.

nvme0n1 259:0 0 698.7G 0 disk
└─nvme0n1p1 259:1 0 698.7G 0 part  <<<<<<<<<

Once there is no mountpoint, then run the scripts/setup.sh to check whether UIO or VFIO could be loaded on this SSD. You could run scripts/se

[2020-12-30 07:57] profove commented on #1730
I format the disk and still not work, and now the partition info below:
[root@localhost scripts]# lsblk
NAME        MAJ:MIN RM   SIZE RO TYPE MOUNTPOINT
nvme0n1     259:0    0 698.7G  0 disk
nvme1n1     259:2    0   1.8T  0 disk
├─nvme1n1p1 259:3    0   600M  0 part /boot/efi
├─nvme1n1p2 259:4    0     1G  0 part /boot
├─nvme1n1p3 259:5    0   1.5T  0 part /home
├─nvme1n1p4 259:6    0     4G  0 pa

[2020-12-30 08:16] Comphix commented on #1730
What's your OS and kernel information?

You could also check whether uio or vfio driver is loaded in the system like below:

~# lsmod | grep -i uio
uio_pci_generic        16384  0
uio                    16384  1 uio_pci_generic

[2020-12-30 08:22] profove commented on #1730
centos 8.3 and 4.18.0-240.1.1.el8_3.x86_64

[root@localhost scripts]#  lsmod | grep -i uio
uio_pci_generic        16384  0
uio                    20480  1 uio_pci_generic

[2020-12-30 09:10] mikeBashStuff commented on #1730
This issue is probably caused by a faulty io_pci_generic driver (similar to https://github.com/spdk/spdk/issues/1658 or https://github.com/spdk/spdk/issues/1563) considering this:
`0000:86:00.0 (8086 2701): no driver -> nvme`

`setup.sh` won't fail if write to bind|unbind is not successful and from this example it seems that the driver did reject the controller when `setup.sh` was run in config mo

[2020-12-30 21:56] shuhei-matsumoto commented on #1729
Hi @yidong0635
Thanks for your quick help. My patch was for long lasting reset.

I could not reproduce the issue for TCP transport locally. (Unfortunately I cannot try RDMA transport immediately now.) I want to investigate more after new year but hopefully others will find root cause soon.

[2020-12-31 02:40] profove commented on #1730
oops， same problem like before.  I update kernel to latest 5.10.4-1 and now it's working
Thank you all for your help.

[2020-12-31 02:40] #1730 closed

[2021-01-04 06:06] spdkci commented on #1721
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_33194.html

[2021-01-04 15:51] AlekseyMarchuk commented on #1674
@mikeBashStuff I forgot to notify that I updated original patch https://review.spdk.io/gerrit/c/spdk/spdk/+/5114
Now I believe it should work fine

[2021-01-04 20:15] mikeBashStuff commented on #1674
@AlekseyMarchuk Appreciate the feedback. :) I actually managed to run the tests again last week through your latest series and indeed, everything worked just fine. :)

[2021-01-05 03:13] yidong0635 commented on #1729
For the memory issue， I have a reference patch about this issue: https://review.spdk.io/gerrit/c/spdk/spdk/+/5744
Dev was deferred to the end and using async mode to free it (spdk_thread_send_msg) , but thread->state was exited.
That  callbacks can't be executed.

[2021-01-05 04:10] spdkci commented on #1675
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_33292.html

[2021-01-05 20:02] peluse commented on #1671
OK, back from holidays and will get back on this soon.  It's a 3rd party change requiring us to do some different stuff, I have the info I need to make the changes just need to try and build w/the latest DPDK as mentioned above so I can write/test the updates...

[2021-01-05 20:04] peluse commented on #1647
Has anyone seen this again? The patch to maybe provide a bit of a clue has been merged (the one above) but certainly no fixes.

[2021-01-05 20:08] peluse commented on #1187
OK, I vaguely remember having a thought on how to address this slightly differently than what @tkulasek had in his patch.  Will dust off the cobwebs and take a look this week if I can

[2021-01-05 20:42] peluse commented on #1187
@jimharris @tkulasek so I was thinking about Tomek's patch a bit more and specifically what we can do on the SPDK side.  I think Jim you had suggested once simply not supporting crypto in multi-process.  I can, of course, easily bail on init'ing AESNI_MB if we're running in a secondary process but from Tomek's description it sounds like DPDK is init'ing it on the secondary side.  On the primary si

[2021-01-05 22:45] shuhei-matsumoto commented on #1729
Hi @yidong0635

Thanks for the patch. If the thread is exited, it will be freed immediately by reactor. Reactor controls thread resource. Checking thread state outside reactor is not safe.  We may be able to add complex fix but we want to avoid it for now.

How about extending timeout to 30 seconds or 60 seconds? SPDK_THREAD_EXIT_TIMEOUT_SEC is 5 second now but it may be too short.

[2021-01-06 03:03] yidong0635 commented on #1729
@shuhei-matsumoto , it's not timeout issue,  the leaked resource is dev.
in `spdk_io_device_unregister`, `refcnt>0`, dev was deferred to release in a round of `put_io_channel`
[code]
then` io_device_free`  using `spdk_thread_send_msg` with `callback _finish_unregister` to free dev
`thread_exit ` foreached all the pollers and channels , it executed to the end , without return and  set `thread->stat

[2021-01-06 03:03] wanghailiangx opened #1733 "test/nvmf: test cases run on unwanted NICs"
When we run RDMA cases, we want these run on specialized NICs(Mellanox or Intel E810).
For example, there are 2 NICs in systerm,
[code]
rocep24s0f* is Mellanox NIC,   iwo* is Intel X722(LAN network card which supports RDMA).
rdma_device_init() in autotest.sh can add iwo* into RDMA_IP_LIST, then SPDK selects ths first NIC of this list, so all RDMA test cases run on iwo* card.

[code]
[code]
This ma

[2021-01-06 05:03] wanqunintel commented on #1733
@karlatec , this is the issue that we discuss last time, it seems that the following code will enable the LAN network port in our environment to run test with rdma transport
----detect_nics_and_probe_drivers "Intel" "X722" "i40e" "i40iw"

[2021-01-06 05:29] shuhei-matsumoto commented on #1729
Hi @yidong0635

Thank you so much for kind explanation. It is very nice and I understood the issue now.

It may be better if we defer exiting a thread if the thread is registered to dev->unregister_thread.
I will work on this including unit test.
Your reference patch is also very helpful.

[2021-01-06 05:47] shuhei-matsumoto commented on #1729
Hi @yidong0635

Will you take a look or try the patch https://review.spdk.io/gerrit/c/spdk/spdk/+/5796 ?

[2021-01-06 06:12] changpe1 commented on #1733
@wanqunintel Can you just describe the  failure cases and the environment?

[2021-01-06 06:13] changpe1 commented on #1733
If the failure cases are related with specific NICs, there should be vendor specific bugs.

[2021-01-06 06:31] changpe1 commented on #1728
It's up to you, if you can take NUMA into consideration, the performance maybe better, but it's not a mandatory requirement to run SPDK.

[2021-01-06 08:00] changpe1 commented on #1731
Looks like the bdev_mgr_unregister_cb() was called twice.

[2021-01-06 08:03] changpe1 commented on #1720
Patch has been merged, closing this issue now.

[2021-01-06 08:03] #1720 closed

[2021-01-06 08:05] changpe1 commented on #1706
@gwnet Can we close this issue now?

[2021-01-06 09:25] gaowayne commented on #1706
@changpe1 yes, changpe, please go head close this.

[2021-01-06 14:01] #1706 closed

[2021-01-06 19:29] peluse commented on #1671
@karlatec NICE! I can repro now so will start working on the fix

[2021-01-06 23:45] mkenguva commented on #1678
using the latest master with the commit 45c42ac2f26d6f8ef484b32290791c659d9488f4 , i cannot reproduce this issue on my side

![image](https://user-images.githubusercontent.com/50601283/103833518-6fded100-503e-11eb-80f6-56a265bba3bd.png)

Please see if you see any different values with the suggestion you mentioned.

[2021-01-07 01:22] yidong0635 commented on #1729
@shuhei-matsumoto  thanks , It's ok for me.

[2021-01-07 01:33] yidong0635 commented on #1731
Thanks, @changpe1,  will learn and trace this one today.

[2021-01-07 01:43] shuhei-matsumoto commented on #1729
Thank you @yidong0635 I assigned myself to this issue.

[2021-01-07 03:03] #1728 closed

[2021-01-07 03:24] yidong0635 commented on #1731
hi @changpe1 , thanks for your advise ,and there're two SEGVs, So I submit a patch about this : https://review.spdk.io/gerrit/c/spdk/spdk/+/5802 .

[2021-01-07 03:56] changpe1 commented on #1724
@wanghailiangx Can we close this issue?

[2021-01-07 04:05] changpe1 commented on #1731
[Bug Scrub] @yidong0635 can you post the call trace to see why the function is called twice?

[2021-01-07 04:09] changpe1 commented on #1726
[Bug Scrub] closing this issue now.

[2021-01-07 04:09] #1726 closed

[2021-01-07 04:13] changpe1 commented on #1725
link to issue #1733, closing this one.

[2021-01-07 04:13] #1725 closed

[2021-01-07 04:22] wanqunintel commented on #1733
This is somehow depend on the CI hardware environment, @karlatec , this will need your input.

[2021-01-07 05:08] yidong0635 commented on #1731
the trace log is :
  when  target is ok, host app with with jsonc.json, and transport has something wrong.
[code]

[2021-01-07 05:21] changpe1 commented on #1731
Thanks, it's clear to me now, I posted some comments in your patch, you may take a look.

[2021-01-07 06:03] wanghailiangx commented on #1725
OK, this issue is no longer repeated in the latest code.

[2021-01-07 07:10] changpe1 commented on #1723
@jimharris  latest patch https://review.spdk.io/gerrit/c/spdk/spdk/+/5682 will check controller status in attach_cb first to address this issue.

[2021-01-07 16:16] yogch opened #1734 "hello_blob fails"
## Expected Behavior
`hello_blob` should work

## Current Behavior

`hello_blob` fails
(btw, `hello_bdev` works:
[code]
)

## Steps to Reproduce

[code]

## Context (Environment including OS version, SPDK version, etc.)

4.15.0-45-generic
[code]

[2021-01-07 18:39] yogch commented on #1734
ok,
I just understood this should be the command line
[code]

[2021-01-07 18:39] #1734 closed

[2021-01-07 19:42] peluse commented on #1671
@karlatec I assume you have the failing CI test commented out for now.  Can you try this? https://review.spdk.io/gerrit/c/spdk/spdk/+/5799

[2021-01-08 01:58] JiangMaox opened #1735 "nvme_rdma_calloc() can`t return NULL pointer while allocate zero entry"
nvme_rdma_calloc() can`t return NULL pointer while allocate zero entry
[code]

## Expected Behavior

Return NULL pointer.

## Current Behavior
Return a unique pointer

## Possible Solution
Add a check before call common allocation APIs.
[code]

## Steps to Reproduce

1. call nvme_rdma_calloc(0, 192); and check the return pointer.
2. return a unique pointer.

## Context (Environment including OS ve

[2021-01-08 03:00] #1735 closed

[2021-01-08 03:00] JiangMaox commented on #1735
Done.

[2021-01-08 03:11] Comphix commented on #1735
Add the patch fix here: https://review.spdk.io/gerrit/c/spdk/spdk/+/5809

[2021-01-08 04:39] jesonliang commented on #1728
@changpe1  Thank your for your reply.

[2021-01-08 06:51] spdkci commented on #1686
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_33568.html

[2021-01-08 07:15] wanghailiangx commented on #1724
OK.

[2021-01-08 07:15] #1724 closed

[2021-01-08 07:18] karlatec commented on #1671
Thanks Paul! Here are the results: https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-main_803.html
(I think lvol fail is intermittent). It looks like the same needs to be done for compress & crypto UT.

[2021-01-08 07:30] karlatec commented on #1686
@shuhei-matsumoto @AlekseyMarchuk  these reported fails indeed timed out at one of the tests, but are not caused by long SPDK sources checkout. These timeouts are caused by `blob_io_wait` test which should be reported here: https://github.com/spdk/spdk/issues/1675

[2021-01-08 07:31] karlatec commented on #1686
btw @mikeBashStuff  it's been some time since November and no new matching fails are reported. Can we close the issue?

[2021-01-08 08:26] karlatec opened #1736 "spdk/dpdk submodule compilation fail on Centos 8.3"
## Current Behavior

When compiling SPDK on Centos 8.3 spdk/dpdk submodule fails to build.

## Possible Solution

Was fixed after DPDK 20.11 release (95e0871929bfd9891545c9cbfe97119cb72390ba in DPDK tree)
https://review.spdk.io/gerrit/c/spdk/dpdk/+/5835
https://review.spdk.io/gerrit/c/spdk/spdk/+/5836

## Steps to Reproduce

1. Download SPDK
2. git submodule update --init
3. ./configure --enable-d

[2021-01-08 09:00] spdkci commented on #1643
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_33516.html

[2021-01-08 10:37] karlatec commented on #1733
@wanqunintel I think CI hardware environment is fine, as the tests are currently passing and this problem is not reproducible. The issue itself IS hardware dependent because of using i40w NIC instead of Mellanox.
@wanghailiangx I don't think I agree with proposed solutions. Test scripts seem fine to me, and removing i40 driver and/or explicitly always selecting Mellanox NIC in scripts looks more l

[2021-01-08 10:49] zhuohaofan opened #1737 "The guest OS hangs when communicating with SPDK Vhost-blk device"
## Expected Behavior
The guest starts normally and can read and write vhost user block devices.

## Current Behavior
When the guest starts, hung.

## Possible Solution

## Steps to Reproduce

1. host:~# HUGEMEM=8192 HUGENODE=0 ./scripts/setup.sh
2. host:~# ./build/bin/vhost -m 0xf -s 4096 -S /var/tmp/ &
[1] 95932
[2021-01-08 18:26:33.475938] Starting SPDK v20.10.1-pre git sha1 a26adb0d6 / DPDK 20.

[2021-01-08 11:21] spdkci commented on #1675
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_33586.html

[2021-01-08 14:52] peluse commented on #1671
Cool, yeah I wanted to make sure this worked in CI before doing any more.  I'll update UT today, thanks!

[2021-01-11 02:45] wanghailiangx commented on #1724
@karlatec
If one user wants to use CVL card, he must install irdma driver, otherwise `lspci `can't see the device.
Proper steps as below:
`download and tar ice-1.3.2.tar.gz;./build.sh;modprobe irdma`
In other words, users will complete these steps by themselves.

We can't and needn't install irdma driver through `yum` at this time. So this step doesn't fit in pkgdep.sh.
I suggest we do nothing or

[2021-01-11 03:04] changpe1 commented on #1737
@zhuohaofan Do you have a chance to run into the Guest first, and then hot-add the vhost-blk device using qemu command line to see if the issue is still exist?

[2021-01-11 03:08] yidong0635 commented on #1731
Jim found the root cause of this problem， some other issues may caused by this one. spdk_app_stop be executed twice.

[2021-01-11 10:54] zhuohaofan commented on #1737
I use qemu monitor to try to hot-add vhost-blk.
step 1. chardev-add, success.
virsh qemu-monitor-command vm1 --hmp chardev-add socket,id=spdk_vhost_blk0,path=/var/tmp/vhost.0
step 2. device_add, failed.
virsh qemu-monitor-command kylin10.0 --hmp device_add vhost-user-blk-pci,chardev=spdk_vhost_blk0,num-queues=4
Error: Bus 'pcie.0' does not support hotplugging

And the supported dirver values by qe

[2021-01-11 12:17] spdkci commented on #1572
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_33709.html

[2021-01-11 14:15] ufo19890607 opened #1738 "Data inconsistency for SPDK+UIO using NVMe"
## Abnormal Behavior
I find md5sum value is changed when copying one bigfile with 100G size from one nvme device to another.

## Possible Solution
Bind nvme devices with vfio driver rather than UIO driver.

## Steps to Reproduce
### Scenario 1
1. Bind 2 NVMe P5510 or P4510 with UIO driver
[code]
2. Boot SPDK with the following command:
[code]
3. Create 2 nvme bdevs and vhost_controllers.
[code]
4.

[2021-01-11 15:29] peluse opened #1739 "[autotest-per-patch] failed incomplete but all tests pass"
https://review.spdk.io/gerrit/c/spdk/spdk/+/5845

[2021-01-11 15:31] spdkci commented on #1739
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_33724.html

[2021-01-11 16:16] AlekseyMarchuk commented on #1549
Hi @mhae

I apologize for so long delay. I checked this problem, it happens due to perf tool doesn't have signal handlers so when you kill it with ctlr-c, all resources are destroyed ungracefully. For RDMA that means that all resources (memory regions, protection domains and qpairs) are cleaned by the kernel. RDMA CM notifies target that the qpair is being destroyed but we may have some IO request

[2021-01-11 17:04] mhae commented on #1549
Hi Aleksey, I'll give it a try asap.

On Mon, Jan 11, 2021 at 9:16 AM Aleksey Marchuk <notifications@github.com>
wrote:

[2021-01-11 20:05] toan2013 opened #1740 "Could not write synchronously to blobfs"
I am new to SPDK and I try to use synchronous write (spdk_file_write). After creating a
file successfully (spdk_fs_open_file) on NVMe drive, writing to the file causes the crash.
I attached the call stack below
Asynchronous functions on blobfs seem to work fine with the system.
## Expected Behavior
Synchronize write (spdk_file_write) should work

## Current Behavior
The program crash upon calling

[2021-01-11 22:24] jonathanrichardson opened #1741 "json rpc parse error with converted conf file"
I converted my old style conf file using config_converter.py (described in steps to reproduce below). There is no Nvme section in the json file output. When I run spdk I get an error saying json rpc parsing failed. There is an iscsi subsection in the conf file with a iscsi_set_options method that causes the error.

I had an Rpc and Transport section in my conf file but the script said to remove it

[2021-01-11 22:41] jimharris commented on #1733
Hi @wanghailiangx,

Can you help clarify the original description?  Not in a new comment here, but please edit the original description.

It is not clear whether the problem is with the script or with the application.  If the Intel NIC supports RDMA, then it seems the test should pass.  Making the script skip the Intel NICs just doesn't seem like a good solution since we want to use these scripts

[2021-01-11 22:54] mhae commented on #1549
@AlekseyMarchuk , I can't repro this anymore with the fix.

[2021-01-12 01:35] dong-liuliu opened #1742 "[autotest-per-patch] vhost-initiator-vg-autotest stopped before finishing test"
The patch is at https://review.spdk.io/gerrit/c/spdk/spdk/+/5782

## Link to the failed CI build
https://ci.spdk.io/public_build/autotest-per-patch_33638.html

## Execution failed at
https://ci.spdk.io/results/autotest-per-patch/builds/33638/archive/vhost-initiator-vg-autotest/index.html

[2021-01-12 01:42] spdkci commented on #1742
Another instance of this failure. Reported by @dong-liuliu. log: https://ci.spdk.io/public_build/autotest-per-patch_33638.html

[2021-01-12 02:45] optimistyzy commented on #1733
@wanghailiangx @jimharris @karlatec  My suggestion is that:  We need to define a control path IP range (e.g., 10.**.*) macro.  For those NICs used by management (control path), we would not probe it any more.  It would be better to  not i40e NIC. May be some customers would use i40e NIC in the datapath, but have another NIC (e.g., 1G NIC) for management purpose.

[2021-01-12 03:05] changpe1 commented on #1740
@toan2013 I don't find load_blobfs_cb in SPDK, the issue may be related with your own application, the global cache must be initialized before using it.

[2021-01-12 03:15] changpe1 commented on #1737
This may related with your QEMU, hotplug works in my local environment, can you try with a new QEMU version?

[2021-01-12 03:16] wanghailiangx commented on #1733
@jimharris If the Intel NIC supports RDMA, then it seems the test should pass. But the current code is a bit confusing when creating the $RDMA_IP_LIST.
If there are only NICs (control plane, **supports RDMA**) but no NICs (data plane) in system, the nvmf test will report an error, "no NIC for nvmf test" and exit.
If there are all NICs (control plane and data plane), autotest.sh will select NICs (c

[2021-01-12 03:26] changpe1 commented on #1738
@ufo19890607 Do you see any error log in SPDK vhost target ? is the issue still exist when switching to vfio driver?

[2021-01-12 03:35] #1733 closed

[2021-01-12 03:49] ufo19890607 commented on #1738
No, I don't find any error in spdk vhost log.

No, this issue will disappear when binding vfio driver for NVMe P5510.

[2021-01-12 06:06] spdkci commented on #1739
Another instance of this failure. Reported by @dong-liuliu. log: https://ci.spdk.io/public_build/autotest-per-patch_33768.html

[2021-01-12 06:16] changpe1 commented on #1738
Is this issue only related with P5510 drives? Have you tried other drives?

[2021-01-12 06:34] karlatec commented on #1733
@wanghailiangx

It's just going through all /sys/class/infiniband/* interfaces, assigning them IP's starting at 192.168.100.8.

If there are all NICs (control plane and data plane), autotest.sh will select NICs (control plane) to create $RDMA_IP_LIST.
This is not the result we want. I don't mean not to test the intel NICs.
So we tested in a server which have older NICs (control plane, doesn't supp

[2021-01-12 06:34] ufo19890607 commented on #1738
I only found this issue on P5510 driver , and P4510 is OK.

[2021-01-12 07:00] changpe1 commented on #1738
That's interesting, I have a patch https://review.spdk.io/gerrit/c/spdk/spdk/+/5857, can you try with it ?

[2021-01-12 07:03] ufo19890607 commented on #1738
Ok, I will try it later, thx.

[2021-01-12 07:16] spdkci commented on #1675
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_33739.html

[2021-01-12 07:32] JiangMaox opened #1743 "[nvme_tcp_ut] CI occured errors but not related to nvme_tcp test."
## Link to the failed CI build
https://swx-ci.mellanox.com/spdk-test/job/basic_test_spdk_upstream_ci/3321/display/redirect

## Execution failed at
Error1:
[2021-01-11T07:13:01.535Z] Terminated

[2021-01-11T07:13:01.535Z] Failed to write to /dev/nvme-fabrics: Connection reset by peer

[2021-01-11T07:13:01.539Z] script returned exit code 143

Error2:
[2021-01-11T07:10:11.097Z] 0000:05:00.0 (8086 270

[2021-01-12 07:38] zhuohaofan commented on #1737
I can hot-plug under the x86_64 architecture, but not under arm64.
Are you hot-plug on arm64 architecture? If so, could you share your qemu command line, thanks.

[2021-01-12 07:44] wanghailiangx commented on #1733
@karlatec This is how I recognize it: eno1/eno2. This method may not be very good and needs to be discussed again.  There is not any code change to fix it. Once there is a solution, we can submit a patch.

[2021-01-12 07:45] changpe1 commented on #1737
No, I don't have an arm platform. You may use another OS kernel to test it too, SPDK CI will do similar tests everyday for every patch and I don't see similar issue.

[2021-01-12 08:01] changpe1 commented on #1733
@karlatec SPDK_NVMF_TEST is the top level configuration test switch, users can enable it  or not based on CI environment.

You may export an environment variable for this case, it's only valid for this scenario(not CI).

[2021-01-12 08:01] #1743 closed

[2021-01-12 08:07] karlatec commented on #1733
@changpe1 Sorry, I don't really understand. Could you explain a bit more?

[2021-01-12 08:16] changpe1 commented on #1733
This is manual test case, for the NIC that users want to test with, we can export a environment variable(NIC name) to cover this case.

[2021-01-12 08:17] tomzawadzki commented on #1610
@shuhei-matsumoto Since the series is merged, was this issue resolved ?

[2021-01-12 08:23] spdkci commented on #1739
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_33789.html

[2021-01-12 08:23] karlatec commented on #1733
Sorry, I still don't follow. @wanghailiangx is clearly running test `test/nvmf/target/filesystem.sh --transport=rdma`, which is part of our automation scripts. Even if the fail was on his local machine and not in the CI, then this should still be fixed in our test scripts. This is just in case we ever attach a system with X722 card to CI.

[2021-01-12 09:05] ufo19890607 commented on #1738
Unfortunately, this issue still exists!

[2021-01-12 09:14] changpe1 commented on #1738
For the IO path, the only difference between P4510 and P5510 is SGL feature, you may hardcode sgl_supported in nvme_pcie_qpair_submit_request() in nvme_pcie.c to false, and see the result.

[2021-01-12 09:59] tomzawadzki commented on #1723
Patch from previous comment was abandoned in favor of https://review.spdk.io/gerrit/c/spdk/spdk/+/5818

[2021-01-12 10:01] tomzawadzki commented on #1686
Last reported failure was almost two months ago, lets close this issue.

[2021-01-12 10:18] tomzawadzki commented on #1736
Patch on spdk/dpdk submodule for 20.08 was merged. Pending submodule update in spdk/spdk https://review.spdk.io/gerrit/c/spdk/spdk/+/5836

[2021-01-12 10:34] spdkci commented on #1739
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_33748.html

[2021-01-12 11:09] karlatec commented on #1736
Once https://review.spdk.io/gerrit/c/spdk/spdk/+/5836 is merged we can close this issue

[2021-01-12 11:25] spdkci commented on #1739
Another instance of this failure. Reported by @dong-liuliu. log: https://ci.spdk.io/public_build/autotest-per-patch_33798.html

[2021-01-12 11:40] karlatec commented on #1713
Issue solved; the problem was with duplicate call to dhclient when booting VM image. This resulted in a race condition and from time to time made libvirt <--> VM ssh communication impossible due to wrong IP address.
This was fixed in VM configuration and once #1736 is closed we can try to put CentOS8 VMs back into CI infrastructure.

[2021-01-12 11:41] karlatec commented on #1677
Fixed by  https://review.spdk.io/gerrit/c/spdk/spdk/+/5067, can close

[2021-01-12 11:41] #1677 closed

[2021-01-12 12:12] shuhei-matsumoto commented on #1610
@tomzawadzki I believe so. Let’s close this and reopen if reported. Thanks for your check

[2021-01-12 12:12] #1610 closed

[2021-01-12 12:53] karlatec commented on #1739
I allowed myself to edit the title ;)

[2021-01-12 13:12] tomzawadzki commented on #1741
Hi @jonathanrichardson Please see patch https://review.spdk.io/gerrit/c/spdk/spdk/+/5879 and let me know if it fixes this for you.

Just a bit of background. The `config_converter.py` cannot account for different SPDK applications and configuration options when building SPDK. You ran into this issue due to `iscsi_set_options` not being supported in `nvmf_tgt`, but working in other apps like `spdk_

[2021-01-12 13:25] ufo19890607 commented on #1738
The md5 value is still different.  I've also found the same issue on P4510 drive.  Sorry for not providing the correct information. This issue seems to be not related to SGL feature but to UIO driver only.

[2021-01-12 13:57] spdkci commented on #1739
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_33825.html

[2021-01-12 13:57] spdkci commented on #1739
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_33821.html

[2021-01-12 14:16] #1713 closed

[2021-01-12 14:42] tomzawadzki commented on #1717
Patches were merged to v20.01.x branch

[2021-01-12 14:42] #1717 closed

[2021-01-12 14:58] tomzawadzki commented on #1712
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/5551 fixing this issue was merged.

[2021-01-12 14:58] #1712 closed

[2021-01-12 15:14] tomzawadzki commented on #1647
[Bug scrub] The issue has not occurred for three months and Paul added more debug information for easier tracking in case it happens again.

[2021-01-12 15:14] #1647 closed

[2021-01-12 15:18] tomzawadzki commented on #1742
[Bug scrub] The log stops right in the middle of outputting the string, @karlatec could you take a look at the job log above to see what might have caused it ?

[2021-01-12 16:34] toan2013 commented on #1740
Thanks. I attach my test program below for your reference
1) Regarding load_blobfs_cb, I am not sure I understand your comment. load_blobfs_cb() is my own callback function for SPDK spdk_fs_load() (line 482). I load blobfs before creating then writing to a file.
2) How you initialize a global cache?

[blobfs_sync.c.txt](https://github.com/spdk/spdk/files/5803425/blobfs_sync.c.txt)

[2021-01-12 17:56] peluse commented on #1671
This should do it (famous last words): https://review.spdk.io/gerrit/c/spdk/spdk/+/5799

[2021-01-12 20:42] jonathanrichardson commented on #1741
OK thanks. I figured the section was invalid so I removed it but wanted to make sure I wasn't missing something. That does solve the problem with the iscsi section.

When I run spdk now with the json config it says there is no transport, but it had told me to remove the Transport section in my old style conf file. Can you tell me what else is missing, and if this is considered a bug or there is so

[2021-01-12 21:10] spdkci commented on #1675
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_33810.html

[2021-01-12 21:50] jonathanrichardson commented on #1741
I found the JSON RPC doc and noticed the sections that were missing in my json file. I wasn't aware it corresponded to the existing rpc interface. I added the nvmf_create_transport method to the nvmf subsystem, and bdev_nvme_attach_controller to the bdev subsystem and it starts fine. There are probably use cases with the other apps I haven't looked at before so not sure it is reasaonble to request

[2021-01-13 06:54] karlatec commented on #1671
Re-run it, but there's still unittest compilation issues: https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-main_833.html

[2021-01-13 08:41] yidong0635 commented on #1701
This issue looks the same that I met in #1723. At that time I ready to format a disk (Intel Corporation NVMe Datacenter SSD [3DNAND, Beta Rock Controller]), It's no response, but can't be reproduced after that time.

[2021-01-13 14:58] spdkci commented on #1675
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_33942.html

[2021-01-13 15:21] peluse commented on #1671
Oh for crying out loud :)  Will fix, missing the word 'static' on my decl

[2021-01-13 17:04] karlatec commented on #1739
@xjjx Made appropriate changes to CI configuration today. Let's close the issue if no more instances are reported by end of the week.

[2021-01-13 17:53] spdkci commented on #1495
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_33981.html

[2021-01-13 19:07] karlatec commented on #1671
@peluse Seems like success https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-main_841.html :)
I used refs/changes/99/5799/13

[2021-01-13 19:17] peluse commented on #1671
Nice!  Thanks for your help on this one (and Tomek)!!

[2021-01-14 01:40] changpe1 commented on #1731
Patch has been merged, closing this issue for now.

[2021-01-14 01:40] #1731 closed

[2021-01-14 02:31] spdkci commented on #1675
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_34005.html

[2021-01-14 02:40] yidong0635 commented on #1729
Thanks @shuhei-matsumoto   patch was merged , Issue was fixed, close this one.

[2021-01-14 02:40] #1729 closed

[2021-01-14 02:41] yidong0635 commented on #1723
thanks @jimharris @changpe1 ,close this one.

[2021-01-14 02:41] #1723 closed

[2021-01-14 03:00] changpe1 commented on #1738
OK, so for now the issue is only related with UIO, the issue didn't happen when using VFIO driver.
VFIO driver is more safe as it can pin the pages so that the pages can't be swapped during the IO processing, for the UIO driver, maybe you can try to use mlock() in SPDK to protect the memory:
In vhost_session_mem_register() add mlock before spdk_mem_register(), and munlock() before spdk_mem_unregis

[2021-01-14 03:15] yidong0635 commented on #1685
@AlekseyMarchuk  May I ask a question, what's  the status of this issue, any testing help do you need?

[2021-01-14 05:38] AlekseyMarchuk commented on #1685
@yidong0635 I'm working on it, trying to reproduce and find the root cause. I would appreciate your help validating the fix when I find it.

[2021-01-14 09:45] spdkci commented on #1675
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_34035.html

[2021-01-14 11:27] spdkci commented on #1643
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_34048.html

[2021-01-14 12:37] karlatec commented on #1709
It's been a long week it seems ;) @tomzawadzki @mikeBashStuff  ok to close?

[2021-01-14 12:43] mikeBashStuff commented on #1709
@karlatec Most definitely, yes! :)

[2021-01-14 12:43] mikeBashStuff commented on #1347
Issue seems to be resolved, no failures has been reported for quite a while now. Closing.

[2021-01-14 12:43] #1347 closed

[2021-01-14 13:44] #1709 closed

[2021-01-14 15:14] wawryk opened #1745 "Unsupported Get Log Page 0x02"
During nvmf perf tests there is error:
[code]
We have 16 disks (p4600) with latest FW.
Log:
[code]
## Expected Behavior

## Current Behavior
It looks like everything works fine (tests pass), but in logs we can see error as above.

## Possible Solution

## Steps to Reproduce

Commands called on target:
[code]
Then I call `discover` on initiator:
[code]

## Context (Environment including OS version,

[2021-01-14 19:29] jimharris commented on #1745
Hi @wawryk,

Can you please provide more specifics?  "Run nvmf perf test" can be interpreted many ways.  :-)

For some reason, we are sending a HEALTH_INFO log page request to a discovery controller which is obviously invalid.  I'm just trying to figure out if this is SPDK or Linux kernel initiator that's sending it.

-Jim

[2021-01-14 19:45] jimharris commented on #1745
I think I figured out that this is getting triggered by the nvme-cli discovery command which we call from the discover_subsystems function in scripts/perf/nvmf/run_nvmf.py.

Can you try just setting up nvmf target with one subsystem, and run nvme discover command manually and confirm you get this same error message?

I tried this with latest master, and could not reproduce this error message on th

[2021-01-14 19:53] jimharris commented on #1745
I also tried latest nvme-cli tip (1.13.43.g4bde) and was also unable to reproduce this error message.

[2021-01-14 22:02] wawryk commented on #1745
Hi @jimharris
thanks for your qiuck reply.

I will check this tommorow.

Currently on SM3 we have nvme-cli `version 1.11.1`

Full log [here](https://10.211.11.84:8080/job/NVMf_perf/job/BenchTC4_spdk/36/NUMJOB=4,QD=64,RW=randwrite,label=SM3/console)

[2021-01-14 22:11] jimharris commented on #1745
I just checked out v1.11.1 in my nvme-cli repo, rebuilt and tried again, but still no reproduction on my end.

Could you see if this happens with both RDMA and TCP?

[2021-01-15 08:33] #1675 closed

[2021-01-15 08:35] #1741 closed

[2021-01-15 22:19] KariukiJ opened #1746 "fio job doesn't terminate after runtime"
I am using fio with the bdev fio_plugin to benchmark the SPDK NVMe-oF TCP initiator and target. When I run 24 fio jobs at QD >= 128, fio continues to run after the configured runtime. I have a runaway job that will not terminate. I see the issue only when I have zcopy=true on the target.
## Expected Behavior

After the 5 minute runtime fio should terminate all threads
## Current Behavior

Some fio

[2021-01-15 22:56] jimharris commented on #1746
Thanks for the bisect @KariukiJ.  Could you revert that patch on tip of master and see if the problem goes away?

Tagging @optimistyzy.

[2021-01-15 23:54] optimistyzy commented on #1746
Hi @jimharris @KariukiJ I figured out the reason, we should revert this patch.

Reason：After this patch, the sock which is in waiting req state and  with no in coming data (readin event ) will never have a chance to execute again for the last command again.

// Please firstly test it and I will submit the revert patch

[2021-01-18 13:45] dakshajauppalapati96 opened #1747 "Error "RDMA CQ resize failed: errno 0: Success" seen while running fio"
Hi all,

With TOT SPDK, created targets with SRQ disabled and tried to run fio on initiator then "RDMA CQ resize failed: errno 0: Success" is seen.

**Current Behavior:-**

On Target:-
[root@potato2 ~]# [2021-01-18 18:23:22.391143] rdma.c: 961:nvmf_rdma_resize_cq: *ERROR*: RDMA CQ resize failed: errno 11: Resource temporarily unavailable
[2021-01-18 18:23:22.391205] rdma.c:1002:nvmf_rdma_qpair_ini

[2021-01-18 16:19] AlekseyMarchuk commented on #1747
Hi,

I see that return code of ibv_resize_cq which can help to understand the reason is not logged. I prepared a test patch to log this rc, could you try it https://review.spdk.io/gerrit/c/spdk/spdk/+/5973 ? This patch also logs max_cqe supported by the device. SPDK code has a check that we don't reach device limit, I just want to check that the limit is big enough.
Please also share the following

[2021-01-18 16:45] karlatec opened #1748 "[nvmf-phy-autotest] much longer test execution time on E810 NICs"
## Current Behavior

When running autotest.sh RDMA test suite with Intel E810-XXV NIC total execution time is roughly 40-50% longer than when testing with Mellanox NIC such as ConnectX-4 Lx. Not sure if this is a NIC driver or SPDK problem.

Also - tests pass, so it's a minor problem, but should be improved if possible, as execution time is close to CI timeout limit for this test.

## Expected Beh

[2021-01-18 16:55] karlatec commented on #1748
Additional log & dmesg output for test/nvmf/target/bdevperf.sh test (dmesg timestamps easier to match what's in log file)

[cvl-bdevperf-log.txt](https://github.com/spdk/spdk/files/5831544/cvl-bdevperf-log.txt)
[cvl-bdevperf-dmesg.txt](https://github.com/spdk/spdk/files/5831545/cvl-bdevperf-dmesg.txt)
[mlx-bdevperf-log.txt](https://github.com/spdk/spdk/files/5831546/mlx-bdevperf-log.txt)
[mlx-bdev

[2021-01-18 18:30] rdxsasha opened #1749 "Fix of issue #1621 introduced bug - segmentation fault after failed reset"
With the fix of #1621
(made by 9ae19a41 nvme: restore qid in free_io_qids bit array) - another bug was introduced.
After calling reset spdk_nvme_ctrlr_reset() that fails, segmentation fault occurs upon calling to spdk_nvme_ctrlr_free_io_qpair() with qpair of this controller

## Expected Behavior
upon failed reset of controller, it should be possible to free I/O qpair (spdk_nvme_ctrlr_free_io_qpair

[2021-01-18 22:04] rafalste commented on #1668
Hi @mgerdts ,
I couldn't stumble upon this problem even using RDMA. I will appreciate your help very much, if you could try to reproduce it once again in two scenarios:
1. using the latest SPDK master branch
2. using TCP instead of RDMA

We will try to statically analyze the code (with my more experienced OCF team members) once we finish working on our latest release, which should be next week, bu

[2021-01-19 01:57] optimistyzy commented on #1749
@rdxsasha Could you submit a patch to address this issue?  You can follow the guide in https://spdk.io/development/

[2021-01-19 04:44] dakshajauppalapati96 commented on #1747
Hi @AlekseyMarchuk

Thanks for the patch, with the given patch below logs are seen

on Target:-
[2021-01-19 09:17:27.768425] rdma.c: 945:nvmf_rdma_resize_cq: *NOTICE*: required 0 + 98. dev max_cqe 65518
[2021-01-19 09:17:27.778443] rdma.c: 945:nvmf_rdma_resize_cq: *NOTICE*: required 98 + 386. dev max_cqe 65518
[2021-01-19 09:17:27.788465] rdma.c: 945:nvmf_rdma_resize_cq: *NOTICE*: required 0 + 98.

[2021-01-19 05:08] optimistyzy commented on #1747
rc = -95 means Operation not supported on transport". Does it mean the Chelsio NIC does not support resize operation? @AlekseyMarchuk

[2021-01-19 05:18] dakshajauppalapati96 commented on #1747
Hi @optimistyzy,

yes, SPDK is invoking resize_cq() which is not supported by Chelsio drivers.

Thanks
Dakshaja

[2021-01-19 06:12] optimistyzy commented on #1747
Could you test this patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/5973 ?   I think that we may only resize it if srq is enabled. //Maybe I am wrong, I am not working in rdma module for a long time.

[2021-01-19 06:34] dakshajauppalapati96 commented on #1747
Hi @optimistyzy

Tried this patch already, above logs are seen.

Thanks
Dakshaja

[2021-01-19 07:13] AlekseyMarchuk commented on #1747
@dakshajauppalapati96
When RDMA poller is created, it creates a cq with 4096 entries. So actual resize doesn't occur until we reach this limit. In your logs I see that ibv_resize_cq fails on the first real resize with rc=95 which is `EOPNOTSUPP`. That means that your driver doesn't support cq resizing.
Could you clarify what is your NIC model? RoCE or SoftRoCE?

[2021-01-19 07:36] dakshajauppalapati96 commented on #1747
@AlekseyMarchuk

Below is the required info
NIC model -> Chelsio
OS version ->RHEL8.0, Kernel 5.10
OFED/MOFED version if you use it -> None
Are you using RoCE or SoftRoCE? -> iWARP

Thanks
Dakshaja

[2021-01-19 11:09] rdxsasha commented on #1749
Hi, Ziye!

I can do it.

But cannot do immediately (I have to get arranged with environment and learn guide).
Presumably will do it in a week or so.

Thanks,
Sasha.

[2021-01-19 12:40] spdkci commented on #1495
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_34456.html

[2021-01-19 12:49] AlekseyMarchuk commented on #1747
For bug scrub: iWARP doesn't support CQ resize. We can add a check to ignore resize of CQ for iWARP. But at big scale usage of small cq size can lead to CQ overrun and CQ will become invalid (maybe iWARP handles it in a different way)
Possible solution - add configuration parameter to set CQ size when RDMA transport is created. In this case it will be user's responsibility to configure appropriate

[2021-01-19 13:08] tomzawadzki commented on #1671
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/5799 is now merged, the issue is now resolved.

[2021-01-19 13:08] #1671 closed

[2021-01-19 14:27] bharatpotnuri commented on #1747
I see `CQ resize` is only supported by few RDMA vendors and probably needs HW support. So, having it as config param would be the ideal solution.
Thanks

[2021-01-19 15:10] tomzawadzki commented on #1674
[Bug scrub] Working through adding tests to verify the fix. Patch series:
https://review.spdk.io/gerrit/c/spdk/spdk/+/5968/4

[2021-01-19 15:23] mikeBashStuff commented on #1674
And here are the actual tests: https://review.spdk.io/gerrit/c/spdk/spdk/+/5568

@AlekseyMarchuk About your suggestion from gerrit:
[code]

Would you kindly advice how it could be achieved? By going through the rpc doc, I can see options like `header_digest` and `data_digest`, but they seem to be specific to `iscsi` rpcs not the `nvmf`. Are there any equivalent options available for the `nvmf`?

[2021-01-19 16:40] AlekseyMarchuk commented on #1674
@mikeBashStuff Sorry, I missed that we can't configure header/data digest using `bdev_nvme_attach_controller` RPC. It needs to be extended. Let's do it in a separate patch series when current patches are merged.

[2021-01-19 17:21] mikeBashStuff commented on #1674
@AlekseyMarchuk Sounds good to me. :)

[2021-01-19 18:35] brianjmurrell opened #1750 "packaging spdk"
I've been looking at upgrading our SPDK packaging to the latest version, 20.10 and wanted to get a perspective of how you see this as being done in particular given the submodules you employ in your git tree.

Since you do not produce any kind of specific release assets (i.e. tarballs with submodule code included), you are relying on GitHub's automated means of producing a tarball from a tag.  Whi

[2021-01-19 21:38] KariukiJ commented on #1746
Looks good. I ran the patch at least 20 times and could not reproduce the issue

[2021-01-19 21:38] #1746 closed

[2021-01-19 21:44] jimharris commented on #1746
Thanks @KariukiJ!

It's better to wait to close the issue until the patch has been merged.  But I just merged the patch so it's all good.  :-)

[2021-01-20 04:27] changpe1 commented on #1750
@brianjmurrell the minimum DPDK version is 19.11 and for coming SPDK release DPDK 20.11 will be supported.
I will submit a patch to change 17.11 to 19.11.

[2021-01-20 05:00] changpe1 commented on #1749
@rdxsasha what's the application you are using?

For your case, SPDK can do controller destruction automatically if you enable the hotplug, so IO queue pairs will be released too.
I don't think it's worth to fix the scenario that you mentioned.

[2021-01-20 05:32] changpe1 commented on #1740
@toan2013 Do you have any update about this? is your application working now?

[2021-01-20 05:37] changpe1 commented on #1660
@zlsh007 do you have any update for the issue?

[2021-01-20 05:48] changpe1 commented on #1595
@wanqunintel is the issue still exist? if not we may close it now.

[2021-01-20 05:52] changpe1 commented on #1641
This issue is same with #1495, so let's close this one and leave #1495 open.

[2021-01-20 05:52] #1641 closed

[2021-01-20 07:30] wawryk commented on #1745
Sorry for my late answer.
Yes, this happens with both (RDAM and TCP).

[2021-01-20 09:48] tomzawadzki commented on #1750
Hi @brianjmurrell thanks for rising some very good points here !

That is correct.

The purpose of spdk/dpdk fork is two fold. One as you mentioned to minimize build time. Another is to include fixes that will be submitted to upstream DPDK. The latter are usually few and far between.
I believe that by default DPDK builds every component in can, not sure what exactly is packaged in most systems. Th

[2021-01-20 12:00] AlekseyMarchuk commented on #1549
Patch is merged, closing this issue

[2021-01-20 12:00] #1549 closed

[2021-01-20 12:03] AlekseyMarchuk commented on #1719
Hello @sunmingbao Since we found out that this is a problem in SUSE and patch in SPDK introduces another problem in kernel nvmf target, I think can we close this issue and #1722. Does that suit you?

[2021-01-20 12:09] tomzawadzki commented on #1648
Patch set 15 twice
https://review.spdk.io/gerrit/c/spdk/spdk/+/1715/

[2021-01-20 13:43] jimharris commented on #1745
Hi @wawryk,

Did you get a chance to check this?

Thanks,

Jim

[2021-01-20 14:35] spdkci commented on #1686
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_34550.html

[2021-01-20 16:10] karlatec opened #1751 "igb_uio.ko fails to load when using --with-igb-uio-driver"
## Current Behavior

igb_uio.ko fails to load when SPDK is built with --with-igb-uio-driver option
First occurrence: https://ci.spdk.io/public_build/autotest-per-patch_34571.html

## Steps to Reproduce

1. Checkout SPDK https://review.spdk.io/gerrit/c/5347/13, update submodules (make sure dpdk 20.11 is used)
2. Build with `--with-igb-uio-driver`
3. Run scripts/setup.sh
4. Results in:
[code]

## Co

[2021-01-20 16:17] toan2013 commented on #1740
@changpe1 No, this simple test code is based on rocksdb. I am not sure I miss anything. Do you have example codes with synchronous API for blobfs? Thanks

[2021-01-20 19:25] karlatec commented on #1751
Proposed fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/6006
Let's use this to provision CI test systems and have igb_uio module in place.

[2021-01-20 20:32] spdkci commented on #1686
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_34606.html

[2021-01-20 20:35] spdkci commented on #1686
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_34611.html

[2021-01-20 22:04] spdkci commented on #1686
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_34633.html

[2021-01-20 22:15] toan2013 opened #1752 "Blobfs performance seems too slow"
## Expected Behavior
I compare performance of blobfs using rocksdb against perf (SPDK app). Both of tests are done in sequential writing to NVMe (Samsung 960 pro). Perf produces 32820.12 IOPS, 2051.23 MiB/s which is close to Samsung spec (2100 MiB/s). rocksdb application only reaches to 1381 MiB/s.  Blobfs performance (67% of Perf test) seems too slow. Are there any parameters should I change to i

[2021-01-21 02:28] changpe1 commented on #1752
@toan2013 I don't think it's fair to compare the performance like this.

For perf tests, it's sequential write, for Rocksdb fillseq test, it's may not 100% sequential write from the drive's perspective.

[2021-01-21 02:33] changpe1 commented on #1736
Closing this issue as the patch has been merged.

[2021-01-21 02:33] #1736 closed

[2021-01-21 04:05] spdkci commented on #1643
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_34671.html

[2021-01-21 04:06] spdkci commented on #1643
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_34675.html

[2021-01-21 04:35] changpe1 commented on #1749
[Bug Scrub] @rdxsasha Go ahead to submit your fix patch, we discussed this, it's OK for us. thanks.

[2021-01-21 07:41] karlatec commented on #1751
Along with the updated provisioning script this is needed: https://review.spdk.io/gerrit/c/spdk/spdk/+/6016/2

[2021-01-21 08:08] yidong0635 opened #1753 "compiling failed of the latest spdk code on Fedora28/25/CentOS 7.8"
# Issue
Build targets in project: 127

Found ninja-1.10.0.git.kitware.jobserver-1 at /usr/local/bin/ninja
ninja: Entering directory `/home/yidong/spdk/dpdk/build-tmp'
[140/282] Compiling C object 'lib/librte_net/5bd3875@@net_crc_avx512_lib@sta/net_crc_avx512.c.o'
FAILED: lib/librte_net/5bd3875@@net_crc_avx512_lib@sta/net_crc_avx512.c.o
cc -Ilib/librte_net/5bd3875@@net_crc_avx512_lib@sta -Ilib/libr

[2021-01-21 08:17] changpe1 commented on #1753
Can you reproduce this issue in another environment, I didn't see it in my environment.

[2021-01-21 08:49] yidong0635 commented on #1753
changed a fedora 30 is ok, but the old one is the same .

[2021-01-21 12:05] AlekseyMarchuk commented on #1674
@mikeBashStuff I prepared a patch https://review.spdk.io/gerrit/c/spdk/spdk/+/6023 which allows to enable TCP hdgst/ddgst. Could you add a test for DIF feature with at least 128k block size and enabled digest?

[2021-01-21 12:30] mikeBashStuff commented on #1674
@AlekseyMarchuk Added it as a separate patch in the series, here: https://review.spdk.io/gerrit/c/spdk/spdk/+/6028 :)

[2021-01-21 13:56] spdkci commented on #1686
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_34819.html

[2021-01-21 17:25] karlatec opened #1754 "libvfio-user submodule fails to build"
## Current Behavior

libvfio-user fails to build on a system with very recent kernel and gcc

SPDK 5636dab
F33 5.10.8
gcc version 10.2.1 20201125 (Red Hat 10.2.1-9) (GCC)

## Steps to Reproduce

1. Grab latest SPDK (e.g. 5636dabc3dd6974911d7e224994f666b3dcbb62c)
2.  Try to build it with:
[code]
3. Errors:
[code]

## Context (Environment including OS version, SPDK version, etc.)

SPDK 5636dabc3dd69

[2021-01-21 17:46] peluse commented on #1753
I see it too with 28...

[peluse@localhost spdk]$ cat /etc/fedora-release
Fedora release 28 (Twenty Eight)
[peluse@localhost spdk]$ gcc --version
gcc (GCC) 8.3.1 20190223 (Red Hat 8.3.1-2)
Copyright (C) 2018 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

[2021-01-21 18:05] karlatec commented on #1754
@changpe1 can you take a look?

[2021-01-21 19:28] wawryk commented on #1745
Yes, I have the same error in log with one subsystem, also i checked null block device, and there is the same log.

[2021-01-21 19:59] jimharris commented on #1745
But did you test this manually, without using the run_nvmf.py script?  I want to rule out anything in run_nvmf.py that could be causing this.

[2021-01-22 01:51] changpe1 commented on #1754
OK, I will take a look, I don't have a Fedora 33 environment, the compilation passed in Fedora25,30.

[2021-01-22 01:55] changpe1 commented on #1753
OK, my Fedora 25 also reported compilation error.

[2021-01-22 02:53] sunmingbao commented on #1719
@AlekseyMarchuk
Yes, the root cause is the bug in the kernel of SUSE.
So both this issue and #1722 may be closed now.

Many thanks for supporting us.

[2021-01-22 05:58] changpe1 commented on #1719
Thanks @sunmingbao, closing this issue now.

[2021-01-22 05:58] #1719 closed

[2021-01-22 05:59] changpe1 commented on #1722
Closing this issue now.

[2021-01-22 05:59] #1722 closed

[2021-01-22 07:09] changpe1 commented on #1754
@karlatec I just installed a Fedora 33 environment which passed the compilation. Here is my environment setting:

gcc (GCC) 10.2.1 20201125 (Red Hat 10.2.1-9)
Linux localhost.localdomain 5.10.8-200.fc33.x86_64 #1 SMP Sun Jan 17 19:53:01 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

[2021-01-22 07:18] changpe1 commented on #1754
OK, I can reproduce the issue now, compile without DEBUG flag can cause the issue.

[2021-01-22 09:39] spdkci commented on #1643
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_34876.html

[2021-01-22 17:06] mikeBashStuff opened #1760 "heap-use-after-free triggered in dd_offset_magic test"
https://ci.spdk.io/results/autotest-per-patch/builds/35029/archive/centos7-vg-autotest/build.log

Point of failure:
[code]

[2021-01-22 17:07] spdkci commented on #1760
Another instance of this failure. Reported by @mikeBashStuff. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_35029.html

[2021-01-22 17:10] spdkci commented on #1674
Another instance of this failure. Reported by @tomzawadzki. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_35018.html

[2021-01-22 17:14] tomzawadzki commented on #1674
It seems that test introduced in https://review.spdk.io/gerrit/c/spdk/spdk/+/5568/ failed on unrelated patch

[2021-01-22 17:26] AlekseyMarchuk commented on #1674
Interesting call stack, I'll take a closer look at this on Monday.
[code]

[2021-01-25 02:55] changpe1 commented on #1754
Here is the patch https://review.spdk.io/gerrit/c/spdk/spdk/+/6059 to fix the issue.

[2021-01-25 07:34] changpe1 commented on #1753
@yidong0635 can you check your build-tmp/meson-logs/meson-log.txt to see if there is "Compiler for C supports arguments -mvpclmulqdq: NO" ?

[2021-01-25 07:41] yidong0635 commented on #1753
@changpe1 .
no this log about  Compiler for C supports arguments -mvpclmulqdq: NO/YES"

[2021-01-25 07:42] yidong0635 commented on #1753
sorry, correct :

Compiler stdout:

Compiler stderr:

Compiler for C supports arguments -mvpclmulqdq: YES
Running compile:
Working directory:  /home/yidong/spdk/dpdk/build-tmp/meson-private/tmp6ejai4hx
Command line:  cc /home/yidong/spdk/dpdk/build-tmp/meson-private/tmp6ejai4hx/testfile.c -o /home/yidong/spdk/dpdk/build-tmp/meson-private/tmp6ejai4hx/output.obj -pipe -c -fPIC -Wno-error -D_FILE_OFF

[2021-01-25 07:45] changpe1 commented on #1753
OK, my Fedora25 can work now after re-configure.

[2021-01-25 08:33] karlatec opened #1761 "[nvme-phy-nightly-autotest] scheduler test "idle" failing due to not all threads becoming idle in time"
## Current Behavior

"idle" test is failing for various nightly builds.
https://ci.spdk.io/public_build/autotest-nightly_2287.html
https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-main_923.html

## Expected Behavior

Test should pass, obviously :)

## Possible Solution

I did not see it in per-patch tests, just nightly, so it's possible this could be related to nightly HW configuration

[2021-01-25 08:33] karlatec commented on #1761
@mikeBashStuff @Maciej-Szwed  fyi

[2021-01-25 10:00] spdkci commented on #1761
Another instance of this failure. Reported by @mikeBashStuff. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_35142.html

[2021-01-25 10:45] AlekseyMarchuk commented on #1674
@tomzawadzki I think that the failure above happened due to attempt to connect a new IO qpair to a controller which admin qpair was already disconnected due to expired keep alive timeout. I prepared a patch https://review.spdk.io/gerrit/c/spdk/spdk/+/6071 to address this case

[2021-01-25 11:31] spdkci commented on #1761
Another instance of this failure. Reported by @mikeBashStuff. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_35149.html

[2021-01-25 15:44] mikeBashStuff opened #1762 "crypto-autotest failed due to an unknown reason"
https://ci.spdk.io/results/autotest-per-patch/builds/35196/archive/crypto-autotest/build.log

It seems like the job failed for no particular reason, can't find anything relevant in the log (no traces, no obvious indication of a timeout, etc.)

[2021-01-25 15:45] spdkci commented on #1762
Another instance of this failure. Reported by @mikeBashStuff. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_35196.html

[2021-01-25 16:10] rafalste opened #1763 "Not enough memory error in OCF: vbdev_ocf.c:1015:start_cache_cmpl: *ERROR*: Error -1000013 during start cache"
## Current Behavior

Starting cache device sometimes leads to undefined error message:
[code]

## Expected Behavior

There should be info that failure of cache start is caused by not enough allocated memory. Ideally with a hint of how much memory is needed.

[2021-01-25 16:40] rafalste commented on #1763
Patch submitted to review:
https://review.spdk.io/gerrit/c/spdk/spdk/+/6078

[2021-01-25 18:14] spdkci commented on #1761
Another instance of this failure. Reported by @tomzawadzki. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_35220.html

[2021-01-25 18:45] mikeBashStuff opened #1764 "Memory leaks detected during scheduler_create_thread test"
https://ci.spdk.io/results/autotest-per-patch/builds/35227/archive/nvme-vg-autotest/build.log

Point of failure:

[code]

[2021-01-25 18:46] spdkci commented on #1764
Another instance of this failure. Reported by @mikeBashStuff. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_35227.html

[2021-01-25 19:43] rch0wdhury opened #1765 "examples/interrupt_tgt/interrupt_tgt.c should not be compiled when vhost is disabled"
If --without-vhost is specified or we are using custom env (vhost is diabled in that case also) intrrupt_tgt.c should not be compiled because it might not be able to find vhost symbols

interrupt_tgt.c:51: undefined reference to `spdk_vhost_set_socket_path'

[2021-01-25 21:16] Maciej-Szwed opened #1766 "spdk_for_each_reactor() can cause memory leak on application shutdown"
When spdk_for_each_reactor function is called before application shutdown started and shutdown is triggered before spdk_for_each_reactor finished going through all reactors we end up with memory leak from this function.

This line in spdk_for_each_reactor() is causing memory leak:

cr = calloc(1, sizeof(*cr));

Shutdown process aborts events calls and function on_reactor(), which frees 'cr', is ne

[2021-01-25 22:12] rch0wdhury opened #1767 "lib/event/dpdk_governor.c should not get compiled for non-DPDK env"
lib/event/dpdk_governor.c includes DPDK header file and it will fail to compile for custom env. If custom env is being used, lib/event Makefile should be changed so that we do not compile lib/event/dpdk_governor.c

[2021-01-26 02:54] changpe1 commented on #1766
Here is one reference failure log:
https://ci.spdk.io/results/autotest-per-patch/builds/35259/archive/nvme-vg-autotest/build.log

[2021-01-26 03:02] changpe1 commented on #1766
https://review.spdk.io/gerrit/c/spdk/spdk/+/6080

[2021-01-26 03:16] yidong0635 commented on #1765
https://review.spdk.io/gerrit/c/spdk/spdk/+/6088

[2021-01-26 03:38] changpe1 commented on #1754
patch has been merged, closing this issue now.

[2021-01-26 03:38] #1754 closed

[2021-01-26 08:51] tomzawadzki commented on #1764
Duplicate of #1766

[2021-01-26 08:52] #1764 closed

[2021-01-26 09:20] tomzawadzki commented on #1762
The build was aborted:
[code]

This is due to cloning taking 2,5 min where the job itself is already pretty close to the timeout value of 15min:
[code]

As such this is duplicate of #1686

[2021-01-26 09:20] #1762 closed

[2021-01-26 09:21] karlatec opened #1768 "[autopackage.sh] unused variable ‘reactor’"
## Current Behavior

Nightly tests fail on autopackage.sh test due to unused variable.
https://ci.spdk.io/public_build/autotest-nightly_2295.html
https://ci.spdk.io/public_build/autotest-nightly_2294.html

[code]

## Context (Environment including OS version, SPDK version, etc.)

SPDK bb15f826315544d1319f78bc9b84dc3f4048bde2

[2021-01-26 09:26] mikeBashStuff opened #1769 "Application can't switch cpu into interrupt mode"
[code]

In case cpus, which are defined in app's cpumask, are overloaded by other processes, the interrupt mode won't be enabled. This is indicated upon initializing the application:

[code]
Where cpus were stressed with something like `stress-ng --all 8  --taskset 1-4,24-28 --class cpu --cpu-method loop` increasing the load of the cpu to ~90%.

This behavior seems to be expected, however, when th

[2021-01-26 09:35] yidong0635 commented on #1768
patch has been merged just now .

[2021-01-26 09:36] yidong0635 commented on #1768
@karlatec  please rebase , thanks!

[2021-01-26 10:39] tomzawadzki commented on #1751
Both patches above are now merged to allow compiling of the igb_uio module.
Besides that, option `--with-igb-uio-driver` is now removed since DPDK submodule does not support it https://review.spdk.io/gerrit/c/spdk/spdk/+/6033.

@karlatec Can you confirm that after the merges, test systems provision correctly with igb_uio ?

[2021-01-26 10:50] #1739 closed

[2021-01-26 11:25] Maciej-Szwed commented on #1769
I see that this is older version of implementation. There were changes in the code that fixed such issue. Please try to reproduce on latest master to see if this issue still exists.

[2021-01-26 11:42] spdkci commented on #1766
Another instance of this failure. Reported by @mikeBashStuff. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_35323.html

[2021-01-26 12:02] mikeBashStuff commented on #1769
@Maciej-Szwed Tested against the very latest master and the issue seems to be gone. Thanks!

[2021-01-26 12:02] #1769 closed

[2021-01-26 12:21] mikeBashStuff commented on #1761
Ok, I managed to reproduce it, to some extent, by running stressors on the designated cpus, prior running the test. This is how idle|busy stats look on a first sample (so right after app is initialized) when the cpus are idle:

[code]
Which is fine. However, if I stress each cpu thread so its load peaks to ~90% before starting the app, this is how first sample looks like:
[code]
Number of the busy

[2021-01-26 12:26] wawryk commented on #1745
I test it using run_nvmf.py and manually by starting nvmf_tgt app on target, and nvme cli discover command on initiator.
Is it ok, or should I do something else ?

[2021-01-26 13:21] jimharris commented on #1745
Thanks @wawryk.  So when you do it manually by starting nvmf_tgt app on target and just running nvme-cli discover on initiator and it all works, it still fails?

If so, could you update the original report above to describe that?  It will be easier for people to reproduce if they know they can do it with these manual steps, rather than requiring use of the run_nvmf.py script.

[2021-01-26 13:47] dong-liuliu commented on #1766
this might be a general but potential issue.
Due to no alignment on reactors' leaving reactor_run, not only spdk_for_each_reactor will meet this issue.
When the event function of one spdk_event has malloc operation, it is also possible that the allocated memory has no chance to free, if the spdk_event is enqueued into reactor, but reactor is already leave reactor_run.

[2021-01-26 14:00] tomzawadzki commented on #1765
Fix linked by @yidong0635 was merged. This should resolve the issue.
@rch0wdhury thank you for the submission !

[2021-01-26 14:00] #1765 closed

[2021-01-26 14:26] karlatec opened #1770 "[autotest-spdk-vs-dpdk] TestingSPDK with mainline DPDK results in a fail due to missing pyelftools"
## Current Behavior

Like in the title. This is actually an issue with building DPDK itself, it doesn't even reach SPDK build or linking stage, but this affects vs-dpdk nightly builds.
https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-main_933.html

## Possible Solution

The problem is a missing pyelftools python module. We need to update our CI systems with this module - either do a ma

[2021-01-26 14:33] Maciej-Szwed commented on #1767
Fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/6102

[2021-01-26 14:33] #1768 closed

[2021-01-26 15:00] shuhei-matsumoto commented on #1766
I think the right fix is to use not global state but state per reactor, and then maybe to reap received events and fail spdk_event_allocate(). However, it is hard to complete by 21.01 :)

How frequent does this issue occur? If so frequent, Maciej's fix or disbling the corresponding test case will be practical workaround.

[2021-01-26 15:07] tomzawadzki commented on #1747
[Bug scrub] Specifying the compile time CQ size parameter is a way to work around this issue. This could be further improved in SPDK 21.04 as a configurable parameter.

[2021-01-26 15:12] tomzawadzki commented on #1674
[Bug scrub] Patch above was merged, so the new issue was resolved. To close the original issue two last patches need to be merged:
https://review.spdk.io/gerrit/c/spdk/spdk/+/6023
https://review.spdk.io/gerrit/c/spdk/spdk/+/6028

[2021-01-26 15:18] tomzawadzki commented on #1753
[Bug scrub] @peluse had the issue occuring even after make clean, had to upgrade from F28 to F30 to make it work again.
@changpe1 Can you described what steps worked for you to resolve this issue on F25 ?

[2021-01-26 15:24] jimharris commented on #1766
https://review.spdk.io/gerrit/c/spdk/spdk/+/6104

[2021-01-26 15:37] karlatec commented on #1770
Building & updating CI systems with https://review.spdk.io/gerrit/c/spdk/spdk/+/6103

[2021-01-26 17:07] AlekseyMarchuk commented on #1747
Patch to disable CQ resize https://review.spdk.io/gerrit/c/spdk/spdk/+/6106

[2021-01-26 17:52] tomzawadzki commented on #1766
Alternative approach from Jim was merged, which should resolve the currently observed issue.

It might be worth to see how we could address further potential, yet unobserved, issues with spdk_for_each_reactor(). Just like @shuhei-matsumoto and @dong-liuliu suggested.

[2021-01-26 20:14] karlatec commented on #1770
Nightly test systems & VMs updated using above patch. Results in https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-main_935.html are all passing.

[2021-01-26 23:45] mhae opened #1771 "nvmf/rdma: NVMe abort fails to find the request to abort"
While trying to abort a read request in NVMF, I noticed that rqpair contains requests from various other queues. This only seems to happen with the default no_srp=false. Wne no_srp=true, I don't see this issue.

In nvmf_rdma_qpair_abort_request I added the following code to dump all the outstanding requests that are on this queue that is supposed to have the request to abort.
[code]

To my surpris

[2021-01-26 23:46] mhae commented on #1771
Hey @AlekseyMarchuk, @shuhei-matsumoto , I don't have an easy repro for #1771 but I was hoping if you could give me some pointers to further triage this issue. I can easily reproduce it.

[2021-01-27 01:55] changpe1 commented on #1753
My Fedora25 reported the following error, and after I disable CONFIG_DEBUG option, the error disappered.

FAILED: lib/librte_acl/libavx512_tmp.a.p/acl_run_avx512.c.o
cc -Ilib/librte_acl/libavx512_tmp.a.p -Ilib/librte_acl -I../lib/librte_acl -I. -I.. -Iconfig -I../config -Ilib/librte_eal/include -I../lib/librte_eal/include -Ilib/librte_eal/linux/include -I../lib/librte_eal/linux/include -Ilib/librt

[2021-01-27 02:10] changpe1 commented on #1767
Patch has been merged, closing this issue now.

[2021-01-27 02:10] #1767 closed

[2021-01-27 05:31] spdkci commented on #1643
Another instance of this failure. Reported by @optimistyzy. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_35364.html

[2021-01-27 05:59] AlekseyMarchuk commented on #1771
Hi @mhae thanks for reporting this issue. When we use SRQ, all qpairs share common pool of requests. I'm working on the fix

[2021-01-27 06:30] AlekseyMarchuk commented on #1771
@mhae please check this patch https://review.spdk.io/gerrit/c/spdk/spdk/+/6110

[2021-01-27 08:47] wanghailiangx commented on #1738
@ufo19890607  pPlease try https://review.spdk.io/gerrit/c/spdk/spdk/+/6120, thanks. Added mlock and munlock according to changpe1.

[2021-01-27 10:11] mikeBashStuff commented on #1761
Interestingly, depending on which cpus from the mask are going to be overloaded prior running the test, results may differ a bit. For instance, this:

`stress-ng --all 8  --taskset 1-4,24-28 --class cpu --cpu-method loop` - targeting all cpus from the spdk's cpumask. Results are as posted above, `nvmf_*` threads having busy|idle disproportion favoring busy ts.

`stress-ng --all 8  --taskset 1 --cl

[2021-01-27 11:19] wawryk commented on #1745
@jimharris
when I start it manually it works fine.

Commands called on target:
[code]
Then I call `discover` on initiator:
[code]
and on target side there is log:
[code]
Also  pasted this to original report.

[2021-01-27 11:19] yidong0635 commented on #1753
it seems my issue is due to :
`lib/librte_net/net_crc_avx512.c: In function ‘crc32_eth_calc_vpclmulqdq’ `
  using a wrong operand type . I can just only find :
 `return _mm_extract_epi32(data64, 2);  ` in `barrett_reduction`   using ` _mm_extract_epi32(data64, 2);`
if returns a fixed value, compiling will be ok.
`

[2021-01-27 15:05] jimharris commented on #1745
Thanks @wawryk.

I was thinking that maybe specifying the NQN was causing nvme-cli to send the log page 0x2 command.  But I couldn't reproduce that on my local system.  I tried both nvme-cli tip. nvme-cli v1.11.1 and nvme-cli v1.7.

Could you try cloning nvme-cli separately on this system, and run your same test using that nvme-cli instead of the packaged one?

[2021-01-27 16:48] mhae commented on #1771
@AlekseyMarchuk , thanks so much for addressing this so quickly! The patch fixes the issue.

I'm not fully understanding why we have requests from other rqpairs co-mingled. I thought the resources struct is rqpair specific.
Are we just picking one rqpair for sharing the resources?

Also, I don't see performance differences between srp and no srp. What is your recommendation or experience with srp?

[2021-01-27 17:50] AlekseyMarchuk commented on #1771
Each qpair has send queue, completion queue and optionally receive queue when we don't use SRQ. So the larger the number of qpairs the larger the total number of receive queues. That means that each qpair posts receive Work Requests to its own receive queue and flush them to HW more frequently compared to SRQ.
When we use SRQ, all qpairs share it so we have to share RDMA requests between qpairs as

[2021-01-28 08:35] profove opened #1772 "error "aborting outstanding command""
I wrote a piece of code to test the write speed, using only one thread and write again in the callbak func

## Expected Behavior

no error occur

## Current Behavior
[2021-01-28 16:29:31.110900] nvme_pcie.c:1444:nvme_pcie_qpair_abort_trackers: *ERROR*: aborting outstanding command
[2021-01-28 16:29:31.110928] nvme_qpair.c: 272:nvme_io_qpair_print_command: *NOTICE*: WRITE sqid:1 cid:191 nsid:1 lba:

[2021-01-28 08:37] profove commented on #1772
write_complete is the callback func, and I want to test the block(lba is 4k) write speed, so write different  lba again and again, but error occur.

[2021-01-28 09:15] karlatec opened #1773 "[spdk-vs-dpdk-main] DPDK multi-process memory allocation failures"
## Current Behavior

test/nvmf/host/perf.sh test fails when SPDK is built with mainline DPDK. This does not seem to reproduce when testing with mainline DPDK v20.11 and with current spdk/dpdk submodule.

The test is run on physical system using RDMA transport layer.

Last passing build: https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-main_937.html
First failing build: https://ci.spdk.

[2021-01-28 12:35] wawryk commented on #1745
@jimharris
yes, i cloned it today:
[code]
and on the newest version target show:
[code]

[2021-01-28 14:40] jimharris commented on #1772
Hi,

Please attach your full test program used to reproduce this error, or a patch file that applies cleanly to latest SPDK master branch.

Thanks,

Jim

[2021-01-28 14:43] AlekseyMarchuk commented on #1771
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/6110 merged, closing this issue

[2021-01-28 14:43] #1771 closed

[2021-01-28 14:59] jimharris commented on #1773
Seems to be some kind of issue with multi-process.  I'll take a look.

[2021-01-28 15:55] peluse opened #1774 "[make] dpdk source file w/warning treated as error"
Looks like junk in the source file??

00:02:47.489  /home/vagrant/spdk_repo/spdk/dpdk/kernel/linux/kni/kni_net.c:791:20: error: initialization of â€˜void (*)(struct net_device *, unsigned int)â€™ from incompatible pointer type â€˜void (*)(struct net_device *)â€™ [-Werror=incompatible-pointer-types]
00:02:47.489    .ndo_tx_timeout = kni_net_tx_timeout,

[2021-01-28 15:56] spdkci commented on #1774
Another instance of this failure. Reported by @peluse. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_35456.html

[2021-01-28 19:59] jimharris commented on #1773
Memory allocations in multi-process are almost always failing due to a message time out between the primary and secondary process.  This is 100% tied to DPDK commit 7ac31e82 (mem: improve parameter checking on memory hotplug).  I'm discussing with the patch author (Anatoly Burakov).

Problem is simply reproduced by just starting target with -i 0, attaching one NVMe SSD, and then starting perf with

[2021-01-28 22:41] shuhei-matsumoto commented on #1738
Link to the patch to fix this issue: https://review.spdk.io/gerrit/c/spdk/spdk/+/5970

[2021-01-29 00:54] profove commented on #1772
[fio.txt](https://github.com/spdk/spdk/files/5890890/fio.txt)

[2021-01-29 00:55] profove commented on #1772
#include "spdk/stdinc.h"

#include "spdk/nvme.h"
#include "spdk/vmd.h"
#include "spdk/nvme_zns.h"
#include "spdk/env.h"
#include "spdk/string.h"

static int g_time_in_sec;
static uint64_t g_tsc_rate;
static uint64_t g_size_in_ios;
static uint64_t g_lba = 0;

struct ctrlr_entry {
	struct spdk_nvme_ctrlr		*ctrlr;
	TAILQ_ENTRY(ctrlr_entry)	link;
	char				name[1024];
};

struct ns_entry {
	struct spdk

[2021-01-29 01:02] jimharris commented on #1772
Hi @profove,

Could you please attach it?  Pasting it inline in the GitHub issue makes it more difficult to copy to a system to run locally.

Thanks,

Jim

[2021-01-29 01:44] profove commented on #1772
I'm already attach it, see above, file name is: fio.txt

[2021-01-29 01:48] profove commented on #1772
@jimharris
I'm already attach it, see above, file name is: fio.txt

[2021-01-29 04:32] AlekseyMarchuk opened #1775 "[vagrant] start of ubuntu fails at `rm -rf /var/cache/apt/archives`"
[code]

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_35508.html
https://ci.spdk.io/results/autotest-per-patch/builds/35508/archive/ubuntu18-vg-autotest/build.log

[2021-01-29 04:32] spdkci commented on #1775
Another instance of this failure. Reported by @AlekseyMarchuk. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_35508.html

[2021-01-29 04:44] spdkci commented on #1643
Another instance of this failure. Reported by @optimistyzy. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_35524.html

[2021-01-29 07:21] AlekseyMarchuk commented on #1685
Fix is here https://review.spdk.io/gerrit/c/spdk/spdk/+/6162

[2021-01-29 10:33] tomzawadzki commented on #1648
Patch set 2 twice
https://review.spdk.io/gerrit/c/spdk/spdk/+/6158

[2021-01-29 15:29] jimharris commented on #1773
Anatoly provided me a one-line patch today to test, and it fixed this issue.  Expecting that patch to hit dev@dpdk mailing list today or Monday.

[2021-01-29 15:51] jimharris commented on #1772
Closing this issue, since it is not a bug against SPDK.  Feel free to post additional questions here though.

[2021-01-29 15:51] #1772 closed

[2021-01-29 15:52] jimharris commented on #1773
http://patches.dpdk.org/patch/87552/

[2021-01-29 16:32] spdkci commented on #1643
Another instance of this failure. Reported by @tomzawadzki. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_35570.html

[2021-01-29 16:55] dakshajauppalapati96 commented on #1747
Issue is not seen with the above patch. Hence closing the issue.

Thanks
Dakshaja

[2021-01-29 17:07] dakshajauppalapati96 commented on #1747
Sorry I have accidently closed the issue. reopening it

Thanks
Dakshaja

[2021-02-01 02:26] yidong0635 commented on #1774
I have question that:
Do we need to filter this kind of error .incompatible-pointer-types was enable when gcc version >9 (install_qemu).
but for dpdk do we need to disable it?

[2021-02-01 05:46] profove commented on #1772
yep, should be more comments on the api usage.

BTW, how to append data to the specific LBA ? not write the whole block very time.

[2021-02-01 06:21] wanghailiangx commented on #1753
I see it too with CentOS 7.8, gcc 6.4.0, kernel 3.10.0

[code]

[2021-02-01 07:53] spdkci commented on #1643
Another instance of this failure. Reported by @KKaras169169. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_35450.html

[2021-02-01 12:00] spdkci commented on #1643
Another instance of this failure. Reported by @mikeBashStuff. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_35638.html

[2021-02-01 13:26] jimharris commented on #1773
Patch has been merged to DPDK main.  http://git.dpdk.org/dpdk/commit/?id=7e54f18326ca157b5187183bc77838d122cb2564

[2021-02-01 14:13] jimharris opened #1776 "SPDK applications fail to link after DPDK main branch commit 682a6454"
DPDK main branch commit 682a6454 adds a new rte_power dependency on rte_ethdev.  SPDK build environment currently does not link rte_ethdev, so the link operations fail.

I'll be pushing a patch to add this new dependency.  I've also contacted the patch author (Liang Ma from Intel) about moving the functionality from this patch into rte_ethdev instead, since these APIs are operations to perform on

[2021-02-01 14:30] jimharris commented on #1776
https://review.spdk.io/gerrit/c/spdk/spdk/+/6210

[2021-02-01 21:48] rmvasuki opened #1777 "Segmentation fault in nvme_ctrlr_proc_remove_io_qpair() when trying to free an I/O qpair"
Segmentation fault in nvme_ctrlr_proc_remove_io_qpair() seen when freeing an I/O qpair.

## Expected Behavior

The application should not panic and no segmentation fault should be seen.

## Current Behavior

A segmentation fault when trying to access the per_process_tailq tailq in the ctrlr->active_proc.

## Possible Solution

For SPDK 20.07, this patch seems to solve the problem:
[code]

## Steps

[2021-02-01 21:50] rmvasuki commented on #1777
@jimharris suggested that a unit test also be added for this.

[2021-02-02 02:56] changpe1 commented on #1738
Patch has been merged, closing this issue now.

[2021-02-02 02:56] #1738 closed

[2021-02-02 11:06] nconnolly1 opened #1778 "[json_config] EAL: Cannot find device"
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_35500.html

## Execution failed at

https://ci.spdk.io/results/autotest-per-patch/builds/35500/archive/centos8-vg-autotest/build.log

Log message:
00:03:17.769    01:37:43	# /home/vagrant/spdk_repo/spdk/scripts/rpc.py -s /var/tmp/spdk_tgt.sock bdev_lvol_delete lvs_test/clone0
00:03:17.959  Traceback (most recent cal

[2021-02-02 11:10] spdkci commented on #1778
Another instance of this failure. Reported by @nconnolly1. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_35500.html

[2021-02-02 11:24] nconnolly1 opened #1779 "[MLX5_DV - SPDK-tgt] Transport type 'RDMA' create failed"
## Link to the failed CI build

https://review.spdk.io/gerrit/c/spdk/spdk/+/6055

## Execution failed at

https://swx-ci.mellanox.com/spdk-test/blue/organizations/jenkins/basic_test_spdk_upstream_ci/detail/basic_test_spdk_upstream_ci/5004/pipeline/

[2021-01-31T21:42:07.650Z] + sudo /scrap/workspace/basic_test_spdk_upstream_ci/spdk_upstream/scripts/rpc.py -s /scrap/workspace/basic_test_spdk_upstre

[2021-02-02 13:10] karlatec commented on #1685
I ran https://review.spdk.io/gerrit/c/spdk/spdk/+/6162/1 (with zcopy enabled for both Target and Initiator)  a couple of times (7 times I think) on our TCP regression setup and did not see a freeze or hang.

[2021-02-02 14:11] AlekseyMarchuk commented on #1779
Hi Nick, thanks you for reporting this issue. I'll take a look what is wrong with Mellanox CI

[2021-02-02 14:53] AlekseyMarchuk commented on #1779
There was a problem in Mellanox CI and it was fixed last Friday. It seems this failure happened before it was fixed (your request was queued for some time). I see that latest re-run passed so now there should be no problems. I'll keep this issue open for a few days to track possible false-positive reports.

[2021-02-03 10:51] rdx-drorg opened #1780 "Stack overflow segmentation fault in spdk_nvmf_qpair_disconnect"
V20.10

Set up has 9 connections (FDs) for subsystem (so 9 qpairs) and data is being transmitted.

Received the segmentation fault when running spdk_nvmf_subsystem_stop. Note that segfault is caught once in a few runs and when running without transmitting data there is no segfault..

The stack trace shows (signal caught is segfault - SIGSEGV 11):

signal_catch(int, siginfo_t*, void*) at signal_mas

[2021-02-03 13:02] shuhei-matsumoto opened #1781 "iSCSI target cannot process the case that each Data-Out PDU is not block multiples but totally Data-Out sequence is block multiples"
When we use VMware ESXi7.0 + Emulex OCe11102 (H/W iSCSI) as a iSCSI host to SPDK iSCSI target, read I/O worked but write I/O caused check condition to SPDK iSCSI target.

The iSCSI host sent 1st Data-Out PDU whose data size is 2848 and 2nd Data-Out PDU whose data size is 6368, and sum of  two is 9216. 9216 is 512 multiples but 2848 and 6368 cannot be divided by 512.

## Expected Behavior

SCSI wri

[2021-02-03 13:36] AlekseyMarchuk commented on #1780
I'll check this issue

[2021-02-03 15:41] spdkci commented on #1761
Another instance of this failure. Reported by @mikeBashStuff. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_35755.html

[2021-02-03 17:57] peluse opened #1782 "[rocksdb_insert] Build timeout"
00:14:22.592  ************************************
00:14:22.592  START TEST rocksdb_insert
00:14:22.592  ************************************
00:14:22.593   17:36:47	# xtrace_enable
00:14:22.593   17:36:47	# run_step insert
00:14:22.593   17:36:47	# '[' -z insert ']'
00:14:22.593   17:36:47	# cat
00:14:22.594   17:36:47	# db_bench=insert_db_bench.txt
00:14:22.594   17:36:47	# echo -n Start insert

[2021-02-03 17:57] spdkci commented on #1782
Another instance of this failure. Reported by @peluse. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_35760.html

[2021-02-03 18:50] jimharris commented on #1782
@peluse,

This looks more like another case of #1686.  I looked briefly at the log, there's this:

00:00:00.526  Cloning into '/var/jenkins/workspace/BlobFS-autotest/spdk'...
00:11:04.328  warning: redirecting to https://review.spdk.io/gerrit/spdk/spdk/
00:11:15.127  git version 2.26.2
00:11:17.535  warning: redirecting to https://review.spdk.io/gerrit/spdk/spdk/
00:11:18.526  remote: Counting obj

[2021-02-03 19:01] spdkci commented on #1778
Another instance of this failure. Reported by @nconnolly1. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_35704.html

[2021-02-03 23:54] jimharris commented on #1686
Another instance of this failure. https://ci.spdk.io/public_build/autotest-per-patch_35760.html

[2021-02-03 23:54] jimharris commented on #1782
Moved this report to #1686.

[2021-02-03 23:54] #1782 closed

[2021-02-04 01:28] optimistyzy commented on #1781
Hi @shuhei-matsumoto  Could you show some log in SPDK target side.

[2021-02-04 01:52] shuhei-matsumoto commented on #1781
Hi @optimistyzy Unfortunately it's difficult or probably impossible for me to get and share such log.
I feel that associating multiple PDUs with one subtask and using SGL is easier solution, and will work on that.

[2021-02-04 02:35] changpe1 commented on #1777
@rmvasuki do you want to submit a patch for it?

[2021-02-04 02:47] shuhei-matsumoto commented on #1781
Hi @optimistyzy @jimharris

I know that iSCSI host sent multiple Data-Out PDUs to one R2T from my colleague.

Current my idea is as follows:
-  associate multiple pdus with one iscsi_subtask by changing pointer to linked list (use STAILQ)
-  add a fixed-size iov array and iovcnt to struct spdk_iscsi_task
-  set multiple pdu->data to iscsi_subtask->iovs
-  set iscsi_subtask->iovs and iscsi_subtask-

[2021-02-04 03:02] changpe1 commented on #1778
@nconnolly1 I rebased your patch with master, now it passed the CI, let's keep this issue open for a while to see if is still exist.

[2021-02-04 04:06] optimistyzy commented on #1781
I do not suggest use multiple subtask. My suggestion is that using one sub task for all the data out pdu for one R2T pdu response

[2021-02-04 04:22] shuhei-matsumoto commented on #1781
[Bug scrub] The idea we got consensus is as follows. Share the same data buffer among multiple PDUs by shifting the offset, associate multiple PDUs with the same single task. Sharing the same data buffer is needed to use NVMe bdev. Out of order Data-Out PDUs may come. So connection has to hold  data buffer for each SCSI command until receiving all the data.

[2021-02-04 04:33] changpe1 commented on #1774
@peluse let's keep this issue open for a while, some patches after rebase passed the failure VM.

[2021-02-04 05:46] spdkci commented on #1686
Another instance of this failure. Reported by @AlekseyMarchuk. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_35765.html

[2021-02-04 06:21] gaowayne opened #1783 "SPDK top poller tab does not show the busy count"
## Expected Behavior
can spdk_top show the busy count as the run count in the poller tab?

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context (Environment including OS version, SPDK version, etc.)

[2021-02-04 08:50] AlekseyMarchuk commented on #1685
Path https://review.spdk.io/gerrit/c/spdk/spdk/+/6162 is merged, closing this issue

[2021-02-04 08:50] #1685 closed

[2021-02-04 09:50] spdkci commented on #1686
Another instance of this failure. Reported by @mikeBashStuff. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_35784.html

[2021-02-04 10:53] spdkci commented on #1686
Another instance of this failure. Reported by @tomzawadzki. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_35783.html

[2021-02-04 17:56] AlekseyMarchuk commented on #1780
I agree that in some cases spdk_nvmf_subsystem_stop can cause stack overflow, but I can't reproduce it locally (passed at least 12 times in a row).
@rdx-drorg could you clarify how many cores did you allocate for SPDK target, what was your IO pattern (queue depth, mode and payload size) and what is the reproducibility of this problem?

[2021-02-05 02:18] spdkci commented on #1775
Another instance of this failure. Reported by @optimistyzy. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_35864.html

[2021-02-05 02:21] optimistyzy opened #1784 "[test_name] dpdk_governor failed"
Waiting for samples...
00:09:06.788  MAIN DPDK cpu1 current frequency at 2578549 KHz (2700000 KHz), set frequency 2500000 KHz < 2600000 KHz
00:09:07.895  MAIN DPDK cpu1 current frequency at 2441213 KHz (2700000 KHz), set frequency 2400000 KHz < 2500000 KHz
00:09:08.593  MAIN DPDK cpu1 current frequency at 2534839 KHz (2700000 KHz), set frequency 2300000 KHz < 2400000 KHz
00:09:09.783  MAIN DPDK cp

[2021-02-05 02:23] spdkci commented on #1784
Another instance of this failure. Reported by @optimistyzy. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_35865.html

[2021-02-05 03:52] spdkci commented on #1775
Another instance of this failure. Reported by @optimistyzy. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_35869.html

[2021-02-05 08:03] Maciej-Szwed commented on #1784
@mikeBashStuff could you take a look at this?

[2021-02-05 09:53] mikeBashStuff commented on #1784
@Maciej-Szwed Sure. At first glance either dpdk's governor didn't set frequency to the lowest supported value by given cpu or the list of said values was not properly generated. Will take a closer look.

[2021-02-05 10:08] Maciej-Szwed opened #1785 "Misuse of DPDK event framework in SPDK"
In SPDK we are using DPDK event monitor framework by registering pci_device_rte_dev_event() function (pci.c) through rte_dev_event_callback_register(). Unfortunately this event callback is never being called due to missing rte_dev_event_monitor_start() call in SPDK that would start DPDK event monitor.

Here is note from DPDK patch that implements event monitor framework:

[code]

I've created fix

[2021-02-05 10:48] mikeBashStuff commented on #1784
Ok, here's the mitigation: https://review.spdk.io/gerrit/c/spdk/spdk/+/6283 - this is clearly a timing issue. Apparently, governor may need some more time to tweak proper sysfs knobs. Reproduced this on GP1 (it's where the initial report came from). Interestingly, GP1 also has SMT disabled as compared to other boxes from the CI pool. I would leave it like this though since it gives us additional u

[2021-02-05 12:48] spdkci commented on #1643
Another instance of this failure. Reported by @tomzawadzki. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_35929.html

[2021-02-05 13:55] spdkci commented on #1686
Another instance of this failure. Reported by @shuhei-matsumoto. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_35782.html

[2021-02-05 15:21] jimharris commented on #1785
Hi @Maciej-Szwed,

It is not clear from the title nor description why starting the event monitor is important.  Could you update the title and the description?

Thanks,

-Jim

[2021-02-05 16:58] rmvasuki commented on #1777
https://review.spdk.io/gerrit/c/spdk/spdk/+/6272

[2021-02-05 17:01] rmvasuki commented on #1701
@shuhei-matsumoto We also see this error with Kioxia drives. Our application has set up a 15s timeout, and we see that the Controller Fatal Status (CFS) bit is set when the timeout is seen after issuing a format command.
The format command works fine when using the kernel nvme driver, but does not work with SPDK cli/SPDK nvme-cli. We are using SPDK 20.07.

[2021-02-05 22:52] shuhei-matsumoto opened #1786 "[scheduler balanced] insufficient cpus while test runs"
It looks that the following check was not satisfied:

[code]
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_35895.html

## Execution failed at

[code]

[2021-02-05 22:53] spdkci commented on #1786
Another instance of this failure. Reported by @shuhei-matsumoto. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_35895.html

[2021-02-06 16:31] spdkci commented on #1784
Another instance of this failure. Reported by @AlekseyMarchuk. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_35971.html

[2021-02-06 16:33] AlekseyMarchuk opened #1787 "[nvmf-vg-autotest] test hangs executing `rxe_cfg_small.sh stop`"
[code]

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_35973.html

[2021-02-06 16:34] spdkci commented on #1787
Another instance of this failure. Reported by @AlekseyMarchuk. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_35973.html

[2021-02-08 09:17] karlatec opened #1788 "[iscsi-nightly-vg-autotest] segfault in iscsi_tgt_fuzz"
## Current Behavior

iscsi_tgt_fuzz results in segmentation fault during nightly tests.
https://ci.spdk.io/public_build/autotest-nightly_2394.html
https://ci.spdk.io/results/autotest-nightly/builds/2394/archive/iscsi-nightly-vg-autotest/index.html

Coredump files available via links above.

[code]

## Steps to Reproduce

1. Build SPDK with
[code]
2. Start iscsi_tgt_fuzz test:
[code]

## Context (E

[2021-02-08 09:19] karlatec commented on #1751
@tomzawadzki Centos8 VMs (which user igb_uio) now run correctly. Closing the issue.

[2021-02-08 09:19] #1751 closed

[2021-02-08 09:24] karlatec commented on #1773
Fixed, does not reproduce anymore. Thanks for the help Jim!

[2021-02-08 09:24] #1773 closed

[2021-02-08 09:34] yidong0635 commented on #1788
Program terminated with signal SIGSEGV, Segmentation fault.
#0  _sock_check_zcopy (sock=sock@entry=0x1cdad90) at posix.c:729
729                                     TAILQ_INSERT_TAIL(&group->pending_recv, psock, link);
[Current thread is 1 (Thread 0x7fab6d523980 (LWP 26443))]
Missing separate debuginfos, use: dnf debuginfo-install glibc-2.29-9.fc30.x86_64 openssl-libs-1.1.1d-2.fc30.x86_64
(gdb) bt

[2021-02-08 15:57] karlatec opened #1789 "Docs and coverage on CI status page fail to uncompress"
## Expected Behavior

https://ci.spdk.io/public_build/autotest-per-patch_36097.html
After clicking "Documentation" or "Coverage" the archive should be unpacked on the fly and presented directly in browser tab.

## Current Behavior

https://ci.spdk.io/public_build/autotest-per-patch_36109.html
After clicking "Documentation" or "Coverage" following error is displayed:
`Can't find page "index.html" i

[2021-02-08 16:19] #1777 closed

[2021-02-08 18:07] spdkci commented on #1686
Another instance of this failure. Reported by @AlekseyMarchuk. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_36092.html

[2021-02-08 18:08] spdkci commented on #1686
Another instance of this failure. Reported by @AlekseyMarchuk. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_36093.html

[2021-02-08 19:53] spdkci commented on #1784
Another instance of this failure. Reported by @peluse. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_36122.html

[2021-02-08 23:37] rmvasuki opened #1790 "Enhance error messages to include information that identifies the controller"
Error messages do not include any details that can help identify the actual controller that is seeing errors.

## Expected Behavior

Include some information that can uniquely identify the controller (e.g. PCIe: bus address/RDMA: subnqn) in the error message.

## Current Behavior

No identifying information seen:
[code]

## Possible Solution

None.

## Steps to Reproduce

Observe log files after a

[2021-02-09 02:56] optimistyzy commented on #1788
See this patch : https://review.spdk.io/gerrit/c/spdk/spdk/+/6334

[2021-02-09 09:27] AlekseyMarchuk commented on #1790
Hi @rmvasuki do you plan to submit a patch to address this issue? I'm asking because recently I faced the same problem and I have a draft patch which adds more details to these prints, I can clean it up and send for review

[2021-02-09 10:33] mikeBashStuff commented on #1786
Here's mitigation: https://review.spdk.io/gerrit/c/spdk/spdk/+/6337 - this is yet another timing issue. Scheduler simply doesn't have enough time to put given thread on additional cpus. But instead of increasing number of samples (which would increase test's runtime) lower the number of expected cpus (expect to see main cpu + additional 1 or more cpus from the mask).

[2021-02-09 11:18] spdkci commented on #1686
Another instance of this failure. Reported by @mikeBashStuff. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_36178.html

[2021-02-09 11:54] mikeBashStuff commented on #1787
I am afraid I can't reproduce this on my local system. I used the same config as in `nvmf-vg-autotest`, with the same patchsets on top, same distro, etc. The `rxe_cfg_small.sh`'s stop routine simple removes the rxe drivers from the kernel and all the infiniband devices. So either modprobe blocked while unloading the modules or writes to infiniband class did. There's nothing interesting in the kern

[2021-02-09 12:29] AlekseyMarchuk commented on #1790
I pushed a patch https://review.spdk.io/gerrit/c/spdk/spdk/+/6338
It updates error logs in nvme_fabric.c
With this patch I got the following errors when I didn't allow subsystem to accept connections from the host:
[code]
Please reply if you want to add more details

[2021-02-09 12:30] AlekseyMarchuk commented on #1674
All patches are merged, closing this issue

[2021-02-09 12:30] #1674 closed

[2021-02-09 12:42] rmvasuki commented on #1790
Thanks, I think this information is good enough for us to identify the failing controller.
The only problem is that we need to make this change in a few different places.
I will also submit a patch after modifying the log messages that we have found useful on our system.

[2021-02-09 13:56] floatious opened #1791 "[compress_qat] bdevperf.py perform_tests timed out"
00:15:27.279  ************************************
00:15:27.279  START TEST compress_qat
00:15:27.279  ************************************
...
00:15:34.460   14:33:07	# /var/jenkins/workspace/crypto-autotest/spdk/scripts/rpc.py bdev_get_bdevs
00:15:34.461   14:33:07	# jq -r '.[] .name'
00:15:34.461   14:33:07	# grep -qw COMP_lvs0/lv0
00:15:34.644   14:33:07	# return 0
00:15:34.693   14:33:07	# /v

[2021-02-09 13:59] spdkci commented on #1791
Another instance of this failure. Reported by @floatious. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_36198.html

[2021-02-09 14:08] mikeBashStuff commented on #1791
This is yet another case of #1686

[2021-02-09 14:27] jimharris commented on #1686
Another instance of this failure. Reported by @floatious. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_36198.html

[2021-02-09 14:28] jimharris commented on #1791
Agreed.  I've copied this report to #1686 and closing this issue.

[2021-02-09 14:28] #1791 closed

[2021-02-09 14:33] spdkci commented on #1686
Another instance of this failure. Reported by @AlekseyMarchuk. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_36206.html

[2021-02-09 14:34] tomzawadzki commented on #1784
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/6283 was merged. Lets wait for a week to see if there are any new reports before closing.

[2021-02-09 14:50] tomzawadzki commented on #1776
The patch https://review.spdk.io/gerrit/c/spdk/spdk/+/6210 was merged to latest SPDK and backported to v21.01.x.

[2021-02-09 14:51] AlekseyMarchuk opened #1792 "An error occurred in the underlying SSH library that Vagrant uses"
[code]

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_36183.html

[2021-02-09 14:51] spdkci commented on #1792
Another instance of this failure. Reported by @AlekseyMarchuk. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_36183.html

[2021-02-09 14:59] mikeBashStuff commented on #1786
Test has been rewritten as per @tomzawadzki comments here: https://review.spdk.io/gerrit/c/spdk/spdk/+/6337/2

[2021-02-09 15:06] spdkci commented on #1686
Another instance of this failure. Reported by @mikeBashStuff. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_36205.html

[2021-02-09 15:14] tomzawadzki commented on #1774
[Bug scrub] The issue has not been observed for over 12 days and since this is a build issue it should be reproducible more often if it was more than single occurrence. Closing as a one-time thing.

[2021-02-09 15:14] #1774 closed

[2021-02-09 15:17] tomzawadzki commented on #1779
[Bug scrub] The issue is no longer occurring after fixes in the Mellanox CI. Thanks @AlekseyMarchuk !

[2021-02-09 15:17] #1779 closed

[2021-02-09 15:20] #1776 closed

[2021-02-09 15:28] #1766 closed

[2021-02-09 15:53] AlekseyMarchuk commented on #1792
I think that it will be hard to reproduce this issue manually, but let's keep it for some time, if no new occurrences reported then we could close it

[2021-02-09 16:28] spdkci commented on #1686
Another instance of this failure. Reported by @floatious. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_36217.html

[2021-02-09 17:16] jimharris commented on #1648
Patch set 4 twice
https://review.spdk.io/gerrit/c/spdk/spdk/+/6330

[2021-02-09 17:58] spdkci commented on #1686
Another instance of this failure. Reported by @mikeBashStuff. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_36227.html

[2021-02-09 18:15] spdkci commented on #1686
Another instance of this failure. Reported by @floatious. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_36212.html

[2021-02-10 06:26] spdkci commented on #1495
Another instance of this failure. Reported by @AlekseyMarchuk. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_36264.html

[2021-02-10 08:22] spdkci commented on #1686
Another instance of this failure. Reported by @tomzawadzki. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_36176.html

[2021-02-10 08:44] #1788 closed

[2021-02-10 11:51] KKaras169169 opened #1793 "[spdk_top] App crash when calling pop-up details window after switching tabs with TAB key"
When selecting a data row in a tab, then switching to a different tab with TAB key, if the second tab has fewer rows and user calls pop-up details window with ENTER key, it'll crash the application.

## Expected Behavior
Show pop-up details window for currently selected row.

## Current Behavior
spdk_top crashes.

## Possible Solution
Reset row counter when switching tabs with TAB key.

## Steps t

[2021-02-10 13:53] KKaras169169 commented on #1793
Possible solution: https://review.spdk.io/gerrit/c/spdk/spdk/+/6367

[2021-02-10 14:34] spdkci commented on #1786
Another instance of this failure. Reported by @mikeBashStuff. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_36373.html

[2021-02-10 14:54] spdkci commented on #1643
Another instance of this failure. Reported by @mikeBashStuff. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_36377.html

[2021-02-10 16:37] spdkci commented on #1760
Another instance of this failure. Reported by @peluse. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_36342.html

[2021-02-11 05:58] spdkci commented on #1760
Another instance of this failure. Reported by @AlekseyMarchuk. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_36448.html

[2021-02-11 05:58] AlekseyMarchuk commented on #1760
Asan output with symbols:
[code]

[2021-02-11 15:55] tomzawadzki commented on #1668
Hi @mgerdts are you able to reproduce this issue with latest SPDK ?

[2021-02-15 08:16] mikeBashStuff commented on #1787
Since this issue hasn't resurfaced for over a week let's close this issue. Will reopen it whenever needed.

[2021-02-15 08:16] #1787 closed

[2021-02-15 15:32] Dantali0n commented on #1276
I am having the same issue when linking against SPDK. Compiling using the follow command:

[code]

Results in an output showing missing definitions:

[code]

This makes no sense because when I use `nm` to check the availability of exposed functions, all the missing functions do exist!

[code]

I don't understand how this could be as I am compiling a simple hello world example: https://github.com/s

[2021-02-15 16:07] Dantali0n commented on #1276
I can now confirm that these compilation errors are caused by trying to compile older versions of the SPDK library against a recent hello world example. They are at least extremely similar.

[2021-02-15 20:25] Dantali0n opened #1794 "NVMe Hello world: *ERROR*: NVMe trtype 256 not available"
**UPDATE 2021-02-16:**

- The problem seems related to the static SPDK libraries as compiling using `-lspdk` with a a path to libspdk.so results in the hello world example working,
- Notable, when compiling against libspdk.so a lot of other libraries are suddenly required that where not required when building against the static libraries. An example is isa-l.
---
When compiling the NVMe hello worl

[2021-02-15 21:16] Dantali0n commented on #1794
Here is the slightly modified version of 21.10 NVMe hello world as source and download:

[hello-world.zip](https://github.com/spdk/spdk/files/5984165/hello-world.zip)

[code]

[2021-02-15 22:01] rakeshranjan-gh opened #1795 "Hitting "*ERROR*: cpl does not map to outstanding cmd" error while running spdk perf tool as secondary process"
Hitting an assert while running perf benchmarking tool as secondary process.

Configuration:
  - CentOS 8.2/8.3 instance running on GCP
  - 4 Local SSD scratch devices (single controller, multiple namespaces), bind to UIO driver

Steps:
  1. Start a primary application which probes and enumerates the single controller with multiple namespaces
  2. Run perf tool, first run it runs fine but in secon

[2021-02-16 14:41] mikeBashStuff commented on #1786
Patch was merged, closing.

[2021-02-16 14:41] #1786 closed

[2021-02-16 16:24] spdkci commented on #1643
Another instance of this failure. Reported by @mikeBashStuff. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_36657.html

[2021-02-16 16:37] balamsg commented on #1701
The issue seems to be because of the AER command which is sent during the controller initialization.
When the drives are tested with the spdk nvmecli , the SQE for format command contains the [ SQTail: 13 , CID:23 ] and the corresponding CQE has [SQHD: 13, CID: 22]. This Command id 22 corresponds to the AER command which was submitted during the controller init.
Without this AER submission the for

[2021-02-16 22:59] shuhei-matsumoto commented on #1781
Hi @jimharris @ZiyeYang and all,

Patch series is on gerrit now. The idea is as follows.

Try to merge multiple Data-OUT PDUs in the same sequence as much as possible until 64KB or the sequnce ends (i.e., F bit is set).
MaxRecvDataSegmentLength is 64KB but MaxBurstLength is 1MB. The data buffer size is at most 64KB. So iSCSI initiator sends 1MB Data-OUT PDU sequence at the maximum.

Number of spli

[2021-02-17 04:55] shuhei-matsumoto opened #1796 "[make test] ERROR: Clock skew detected. File /build-tmp/../meson.build has a time stamp 3194.0314s in the future."
[code]

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_36675.html

## Execution failed at

See the above

[2021-02-17 05:55] spdkci commented on #1796
Another instance of this failure. Reported by @shuhei-matsumoto. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_36686.html

[2021-02-17 06:00] spdkci commented on #1796
Another instance of this failure. Reported by @AlekseyMarchuk. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_36649.html

[2021-02-17 06:04] spdkci commented on #1775
Another instance of this failure. Reported by @shuhei-matsumoto. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_36687.html

[2021-02-17 10:13] mikeBashStuff commented on #1784
It seems like the issue is gone, let's close the issue. Will reopen if it resurfaces again.

[2021-02-17 10:13] #1784 closed

[2021-02-17 10:34] tomzawadzki commented on #1796
That's an interesting failure. Might be caused by patch https://review.spdk.io/gerrit/c/spdk/spdk/+/2693.
The time between Gerrit instance (that generates tar) and particular VM might be out of sync, which is most likely the reason for this failure.

Yet more worrying is how the patch could affect other builds. I was under assumption that data in VMs is not persisted between builds, especially und

[2021-02-17 10:44] wawryk commented on #1796
New centos boxes was deployed now to our CI servers.
In every build we start new, fresh vm, and there should not be any old artifacts, will take a closer look on it.

[2021-02-17 10:53] mikeBashStuff commented on #1796
Why do we suspect that it has anything to do with the leftovers artifacts inside the VM though? Is it something in the logs (like a file specific to that TEST patchset)? To me this looks like either a blip in the ntp sync (considering reported timestamp, VMs are kept in UTC and synced against our NTP pool so the difference between vhost and the VM should be of 1h right now. Maybe clock was adjuste

[2021-02-17 11:07] mikeBashStuff commented on #1796
I just logged onto VM-host-SM9 and its sys clock is a bit off. Considering how off, it may explain the issue above as it matches, more or less, the clock skew reported above.

[code]

[2021-02-17 11:30] wawryk commented on #1796
Time on sm9 synchronized

[2021-02-17 14:12] ksztyber opened #1797 "[ubuntu18-vg-autotest] Build timed out while waiting for domain to get an IP address"
[code]

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_36704.html
https://ci.spdk.io/results/autotest-per-patch/builds/36704/archive/ubuntu18-vg-autotest/build.log

[2021-02-17 14:13] spdkci commented on #1643
Another instance of this failure. Reported by @wawryk. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_36711.html

[2021-02-17 14:59] mikeBashStuff commented on #1797
All vagrant boxes have been recently updated across all hosts so it's quite likely this build was caught in a crossfire. Right now all VMs seem to be working fine. Let's monitor for some time and then close this issue if it doesn't reappear.

[2021-02-17 16:02] jimharris commented on #1794
SPDK relies on constructor functions to register the nvme transports.  For static builds, this means you need to add --whole-archive linker arguments around the SPDK libraries.

-Wl,--whole-archive <spdk and dpdk libraries> -Wl,--no-whole-archive

Please give that a try and report back.

Thanks,

Jim

[2021-02-17 16:05] jimharris opened #1798 "SPDK nvme apps on Google Cloud Platform report interrupt errors in dmesg"
Originally reported by @rakeshranjan-gh.

See the following when running any SPDK app with a local NVMe scratch disk on GCP.  I'm fairly certain this is a GCP issue with their NVMe implementation.  I've filed an issue with GCP at https://issuetracker.google.com/issues/180437651.

[ 1961.044407] Hardware name: Google Google Compute Engine/Google Compute Engine, BIOS Google 01/01/2011
[ 1961.044408]

[2021-02-17 17:22] Dantali0n commented on #1794
Indeed the example works when the arguments are changed to include `-Wl,--whole-archive`. There is, however, no reference to this requirement in the documentation the page https://spdk.io/doc/libraries.html. In general there is not really an example for compiling with static libraries on this page.

The [pkgconfig documentation](https://spdk.io/doc/pkgconfig.html) does show that the `--whole-archi

[2021-02-17 17:40] jimharris commented on #1794
Hi @Dantali0n,

I agree that some better documentation would be helpful here.  Please check https://spdk.io/development for instructions on how to submit patches to SPDK.

You can find the associated markdown files for those two pages in the doc subdirectory of the SPDK repo.  Once your patches get merged, the associated HTML pages on spdk.io will automatically get updated.

Thanks,

-Jim

[2021-02-17 18:17] jimharris opened #1799 "identify app reports incorrect number of queues on GCP NVMe SSD"
GCP NVMe SSDs support up to 16 submission and 16 completion queues, but the identify app only reports 1 each.

This seems to be a bug in the GCP implementation.  In our identify app, we submit a bunch of GET_FEATURE commands all at once, then poll until all of them are complete.  GCP doesn't seem to handle this - I see the completions getting executed, but the expected cdw0 values in the completio

[2021-02-17 18:18] jimharris commented on #1799
Thanks to @rakeshranjan-gh for reporting this issue.

[2021-02-17 20:05] jimharris commented on #1795
Working with @rakeshranjan-gh, the underlying issue seems to be inability of GCP NVMe SSDs to handle deleting of a CQ/SQ pair and then creating another CQ/SQ pair using the same qid.

This shows up in the primary/secondary scenario described by @rakeshranjan-gh because the first perf instance uses qid=1, and then frees it before exiting.  Since primary process is still running, the second perf ins

[2021-02-18 03:10] zlsh007 commented on #1660
@changpe1 Sorry for taking so long to reply, there is no new progress at present, I will close it first, and wait for new information to add.

[2021-02-18 03:10] #1660 closed

[2021-02-18 09:25] spdkci commented on #1792
Another instance of this failure. Reported by @KKaras169169. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_36807.html

[2021-02-18 12:27] spdkci commented on #1686
Another instance of this failure. Reported by @KKaras169169. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_36828.html

[2021-02-18 12:54] spdkci commented on #1792
Another instance of this failure. Reported by @shuhei-matsumoto. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_36832.html

[2021-02-18 14:08] tomzawadzki commented on #1648
Patch sets 23 and 24 both ran twice
https://review.spdk.io/gerrit/c/spdk/spdk/+/2693

[2021-02-18 15:59] rakeshranjan-gh commented on #1795
@jimharris Thanks  a lot for your help on this!
Should we also file new GCP issue, which is related to the quid usage against Local SSD device type or wait to get the update against GCP issue #180437651 first?

[2021-02-18 16:01] jimharris commented on #1795
I was planning to wait until we get some traction on the first issue filed with Google/GCP.

[2021-02-19 00:31] jimharris opened #1800 "nvme-perf displays incorrect results when test run stopped early"
When an nvme-perf is stopped early (i.e. Ctrl-C), it displays incorrect performance results.  The calculation of the IOPs and MiB/s is done using the originally specified time as the divisor rather than the actual amount of time elapsed before the test run was stopped.

[2021-02-19 04:39] jimharris opened #1801 "[nvmf_multipath] subsystem reports inaccessible state"
00:07:48.650   02:18:48	# /home/vagrant/spdk_repo/spdk/scripts/rpc.py nvmf_subsystem_listener_set_ana_state nqn.2016-06.io.spdk:cnode1 -t tcp -a 10.0.0.2 -s 4420 -n optimized
00:07:48.875   02:18:48	# /home/vagrant/spdk_repo/spdk/scripts/rpc.py nvmf_subsystem_listener_set_ana_state nqn.2016-06.io.spdk:cnode1 -t tcp -a 10.0.0.3 -s 4420 -n optimized
00:07:49.083   02:18:48	# sleep 1
00:07:50.087

[2021-02-19 04:40] spdkci commented on #1801
Another instance of this failure. Reported by @jimharris. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_36931.html

[2021-02-19 09:10] spdkci commented on #1760
Another instance of this failure. Reported by @AlekseyMarchuk. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_36833.html

[2021-02-19 13:35] jkalwas opened #1802 "event framework should not depend on dpdk"
This issue is an output from the discussion on slack related to *.pc files which describes dependencies.

Background from Jim below.

we originally kept it inside of the event framework, because the APIs for scheduler/governor are still quite experimental and we didn't want to have to define a 'public' API to put the dpdk governor in a module - but I think by time 21.04 hits it will be in good eno

[2021-02-20 01:58] yidong0635 commented on #1801
Can anyone can clarify this?
   sometimes  non-optimized can't be configured on my side. but other states are ok.
  and this issue is optimized state.

[2021-02-20 02:31] yidong0635 opened #1803 "test/dd/bdev_to_bdev.sh got SEGV"
# issue
[code]
OS: fedora30
commit: 9ab2855d6e74c9c1f02994c7544bc90d36795b29

[2021-02-20 14:23] EugeneKochetov commented on #1664
Hi @jimharris,

I have pushed for review a patch series for this issue: https://review.spdk.io/gerrit/c/spdk/spdk/+/6510

- It starts with a few preparation refactoring patches.
- Then dynamic allocation is added to nvme driver. Static allocation is kept. At this stage, once NS is allocated, it is not released till controller destruction. Even if it becomes inactive.
- Then I add dynamic allocatio

[2021-02-21 22:24] shuhei-matsumoto commented on #1801
Hi @jimharris @yidong0635

Is this issue one of CI intermittent failures?
Do you think this issue has occurred since months ago?
The multipath test was added before v20.10.

@yidong0635
If you can reproduce very similar issue locally, will you share more detailed information?

The RPC nvmf_subsystem_listener_set_ana_state succeeded or failed when changing to the state, non-optimized? If failed, wh

[2021-02-22 02:43] yidong0635 commented on #1801
sometimes fio keeps holding there:
[code]

[2021-02-22 03:09] shuhei-matsumoto commented on #1801
Thanks for sharing the result. So it looks that application sometimes hung up when we change ANA state.

[2021-02-22 05:47] yidong0635 commented on #1803
this case is designed to accepted a parameter, so direct to run this test scripts is not right.
but I found other case happens can't find  the controller .  maybe these cases have relationships。
and I close this one.

[2021-02-22 05:47] #1803 closed

[2021-02-22 06:41] spdkci commented on #1495
Another instance of this failure. Reported by @floatious. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_37000.html

[2021-02-22 09:19] spdkci commented on #1498
Another instance of this failure. Reported by @optimistyzy. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_37105.html

[2021-02-22 14:19] jimharris commented on #1801
@shuhei-matsumoto I only saw this one time in CI last week.  It seems very intermittent.

[2021-02-22 15:01] jimharris commented on #1664
Thanks @EugeneKochetov.  I've added it to my review queue.

[2021-02-22 17:08] EugeneKochetov commented on #1664
@jimharris, I see that CI fails now on multi-process tests. Controller sharing is something new to me. I will check how to rework the solution. Looks like, current approach with "ns_ops" structure and function pointers will not work for shared controllers. The only thing that comes to my mind at the moment is to replace "ns_ops" in controller with "dynamic_ns" flag and replace calls via "ns_ops" w

[2021-02-22 17:45] jimharris commented on #1664
I think your suggestion is probably best.  The alternative is to put the function pointer table in the per-process controller structure (spdk_nvme_ctrlr_process) but I think your method is simpler.

[2021-02-22 21:16] shuhei-matsumoto commented on #1664
Hi @EugeneKochetov @jimharris

Thanks for your work. My concern is how we can keep fast access to nvme_bdev_ns in I/O paths when we support multipath in the NVMe bdev module.

In the NVMe bdev module, you have replaced the array, nvme_bdev_ctrlr->namespaces array by the linked list nvme_bdev_ctrlr->ns_list. I'm wondering if we still need the array for performance perspective as you keep it in NVMe

[2021-02-22 21:55] shuhei-matsumoto commented on #1664
Hi @EugeneKochetov @jimharris

Please ignore my concern for now. Multipath is new and does not need to be backward compatible too. So I will try putting multipath on your idea. That will be interesting.

[2021-02-23 04:16] yidong0635 opened #1804 "Can't disconnect dev on TCP transport using nvme disconnect -d /dev/nvmeXn1"
# Issue
[code]

## Expected Behavior
can disconnect dev using nvme disconnect -d /dev/nvmexn1

## Current Behavior
using NVMF TCP transport :
can disconnect using nvme disconnect -n "nqn.2016-06.io.spdk:cnode1"
but can't disconnect using disconnect  -d /dev/nvmeXn1
and using RDMA transport is ok.
[code]

## Steps to Reproduce
[code]

## Context (Environment including OS version, SPDK version, etc.

[2021-02-23 07:03] zhuohaofan opened #1805 "vhost_target performance of 4k random read"
vhost_target performance of 4k random read is much lower than expected.
## Expected Behavior
I created nvmf_tgt on the storage node and added a nvme SSD. The storage client reads and writes the SSD through the RDMA network. The IOPS of random read tested by fio_plugin on the storage client can reach 700k. But the VM created on the storage client is only 300k.
By the way, the sequential read and wr

[2021-02-23 09:20] tomzawadzki commented on #1668
Closing due to lack of reproduction. @mgerdts Please feel free to re-open if you can observe it.

[2021-02-23 09:20] #1668 closed

[2021-02-23 09:41] tomzawadzki commented on #1797
The issue has occurred once and then was not observed for a week. Closing as per @mikeBashStuff suggestion.

[2021-02-23 09:41] #1797 closed

[2021-02-23 12:29] tomzawadzki commented on #1536
Closing the since `transport_ack_timeout` can be configured to help with reaching the expected timeout.
@cyx-cathy please feel free to re-open if there is more to be done to address this issue.

[2021-02-23 12:29] #1536 closed

[2021-02-23 12:34] tomzawadzki commented on #1703
@wanqunintel I don't think the expectation is to merge the suggested changes. Is it possible for you to apply them manually just for testing ?

[2021-02-23 12:38] tomzawadzki commented on #1750
The submodule was updated to DPDK 20.11 in the patch linked above.

@brianjmurrell Hopefully the previous comment has cleared up the questions you've had on packaging. Please feel free to re-open if there are more.