[2018-08-23 09:30] Comphix commented on #370
For the bandwidth, looks like due to the split and high I/O queue depth, those small split I/Os are handled in order by not at one time. For example, several first part of a single data out write from Initiator side can be handled at one time and the left parts may be handled later. In this case, due to the split and randomly handling of the left I/Os (may due to the network communication). The go

[2018-08-23 14:02] optimistyzy commented on #262
you have not link the related dpdk mem related ilb in your make file，so it
failed， can you refer the cmake file in ceph to use spdk

2018年8月23日星期四，Feng,Li <notifications@github.com> 写道：

[2018-08-23 15:37] Seth5141 commented on #400
@pawelwod @ChenWang01 I have done some tracking on this issue. Something changed in the kernel  relative to NVMe namespaces and multipath right after Linux kernel commit ab9e00cc72fa4 (4.14-rc2) or thereabouts that causes the filesystem tests to break on my machines. A partial fix was implemented (reverting another patch in the earlier series I mentioned) at Linux kernel commit 8a30ecc6, which lea

[2018-08-23 17:08] tkulasek commented on #362
Hi @shuhei-matsumoto, is this issue critical for SPDK and should be resolved in some time range (release, DPDK, upstreamed to DPDK ASAP or something else)? If so, I can help you in investigation.
From my tests It seems that with current SPDK release only white/black lists doesn't work at all for hot-plugged devices, am I right? While this feature is experimental in the DPDK, maybe easier it will b

[2018-08-23 22:41] xxks-kkk commented on #318
Hello,

@konili  I'm facing the same issue. In order to fix the issue, I need to unmount the file system?

Thanks much!

[2018-08-23 23:40] shuhei-matsumoto commented on #362
Hi @tkulasek

Thank you so much and sorry for my no update.

pci-white/black-list enhancements have been started by Young Tack. Traditional config file supports pci-white/black-list by his patch and it has satisfied his use case for now (as he said above in this issue).
Fixing this issue is not critical at least for me and I don't think it is critical for SPDK.

I wished the patch was ready but we

[2018-08-23 23:48] shuhei-matsumoto commented on #362
@youngtack

If this issue is critical, we will be able to take Tomek's idea.

[2018-08-23 23:52] youngtack commented on #362
@shuhei-matsumoto, @tkulasek, @liang2yan:

The effort to fix this issue seems to be beyond my estimation. I'm ok to lower this issue's severity.
I will look for another system solution, if any, to isolate a group of pci devices to spdk app.
Appreciate all your efforts for this issue so far.

Thanks,
YT

[2018-08-24 04:28] shuhei-matsumoto commented on #362
@youngtack

Thank you for your update. If you find other solution, please share with us.

[2018-08-24 06:18] darsto commented on #390
This should be now fixed on master with DPDK 18.05+:

https://review.gerrithub.io/c/spdk/spdk/+/421652
https://review.gerrithub.io/c/spdk/spdk/+/420659

[2018-08-24 06:30] YamboZhou commented on #364
@wanqunintel
I have tested with spdk master branch in the same environment (CentOS 6.2, Kernel: 3.10.104) and no issues occur.  I think we can close this issue.

Thanks

[2018-08-24 08:16] pawelwod commented on #318
@xxks-kkk  yes, you need to umount it. Devices with mounted filesystems won't be used by `setup.sh`

[2018-08-24 08:35] konili commented on #318
Yes, it’s right.
If you have multiple drives on your system, do not use NVMe driver as OS drive also can fix this error.

[2018-08-24 08:40] Maciej-Szwed commented on #407
@clicx my patch has been merged to master. Please check if this fixes your issue.

[2018-08-24 10:02] clicx commented on #407
@Maciej-Szwed like I said before, my issue is related to nvme rdma transport (client side), is it resolved as well? It does not handle properly with connection lost and timeout.

[2018-08-24 15:53] vermavis opened #415 "SPDK NVMe-oF Initiator 64K seq read performance too high with iodepth=1"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.
SPDK NVMe-oF perfromance seem higher than local performance which is not expected. Experiments were ran as to is it NVMe-oF target issue or initiator issue. When running NVMe-oF Target with kernel initiator, this issue doesn't happe

[2018-08-24 16:28] jimharris commented on #362
You could try blacklisting a device by unbinding it from uio/vfio.  That will keep DPDK from enumerating it.

It may even be nice to have this kind of whitelist/blacklist capability in scripts/setup.sh.

[2018-08-24 16:39] darsto commented on #362
On Fri, Aug 24, 2018 at 6:28 PM Jim Harris <notifications@github.com> wrote:

You can already do:
`./setup.sh reset`
`PCI_WHITELIST="0000:01:00.0 0000:02:00.0" ./setup.sh config`

[2018-08-24 16:40] jimharris commented on #362
Ha - I forgot we already had that.  Thanks @darsto!

[2018-08-24 16:45] youngtack commented on #362
@jimharris, @darsto:

Thanks for advice. setup.sh might work for single spdk app instance but might not for multiple instances. I will look into other system instruments such as cgroups.

Thanks,
YT

[2018-08-24 20:15] benlwalker commented on #414
Could you try out this series of patches to see if it addresses the issue? I can't actually reproduce it because I don't have a switch available, but this is an attempt:

https://review.gerrithub.io/#/c/spdk/spdk/+/423413/

[2018-08-24 22:29] Tracy35 commented on #414
Thank you. Will run it and update you by mid of Monday.

[2018-08-25 03:53] xxks-kkk commented on #300
Hello,

I'm new to the SPDK. I'm playing around with example program under `spdk/examples/bdev/hello_world/`. My goal is to build some program based on the underlying NVMe SSD. However, I run into some issues:

1. I fire up `spdk/app/spdk_tgt/spdk_tgt` and tried to use `rpc.py` to create a NVMe bdev as follows:

[code]

I think I can run the example program as `sudo ./hello_bdev -b hzyn1` but I go

[2018-08-26 02:03] xxks-kkk opened #416 "Compile the "hello_bdev" outside of the spdk directory"
## Expected Behavior

I'm expecting to able to compile and run "hello_bdev" program outside of the spdk directory.

## Current Behavior

I'm new to the SPDK library and I want to simulate the scenario that writing a program using the block device abstraction layer API. I think the good first step is to use the `hello_bdev` under `spdk/examples/bdev/hello_world` abd directly compile it outside the

[2018-08-26 06:33] wanghailiangx commented on #412
This issue did not happen again in NIGHTLY TEST after that patch had been merged. It can be closed.

[2018-08-26 06:33] #412 closed

[2018-08-26 07:19] pcybulski opened #417 "SPDK does not compile on rhel 7.5 after running ./pkgdep.sh"
SPDK didnot compile on rhel 7.5 after running ./pkgdep.sh system was registered with Red Hat and default redhat repositories were added.

## Expected Behavior
Since you support Red Hat it should install all dependencies and compile SPDK without any additional steps necessary.

## Current Behavior
  LINK test/app/stub/stub
  CC test/bdev/bdevio/bdevio.o
bdevio.c:43:25: fatal error: CUnit/Basic.h: N

[2018-08-26 21:27] xxks-kkk commented on #300
I followed the [guide](http://www.spdk.io/doc/bdev.html#bdev_config_nvme) and do the following:

[code]

However, when `./spdk_tgt` is running, `hello_bdev.c` will lead to errors

[code]

If I terminate the `spdk_tgt` (`sudo ./rpc.py kill_instance 9`), I can run `hello_bdev.c`. However,  if I run `hello_bdev.c` like

[code]
with `bdev.conf` looks like

[code]

I got the error that `NVMe1n1` is not

[2018-08-26 23:33] xxks-kkk commented on #300
I printout all the bdev names in `hello_bdev.c` and I find a bdev named `Nvme01n1`. Maybe this is created from some of the previous commands mentioned above. How can I verify this is this NVMe physical SSD? Where does `Nvme01n1` name come from?

Sorry for the multiple posts.

Thanks!

[2018-08-27 01:02] xxks-kkk commented on #300
I'm also wondering if `bdev_nvme` module supports the operations like requesting a logical block? Can I think about NVMe bdev as a device that directly read and write into a certain block? I think NVMe driver (`nvme.h`) allows me to directly read or write to a block. What's the difference between NVMe bdev and NVMe driver?

Thanks much!

[2018-08-27 06:29] ghost opened #418 "core dump after nvmf_tgt started with enable-debug parameter and network cable was unpluged"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

After nvmf_tgt started with enable-debug parameter, then the network cable was unpluged,
nvm_tgt would core dump.

## Expected Behavior

don't core dump

## Current Behavior

==5904==ERROR: AddressSanitizer: SEGV on unknown address

[2018-08-27 08:26] pelplinski commented on #416
There might be more dependencies in spdk libraries.
Have you tried adding `--whole-archive spdk` to `target_link_libraries` ?

[2018-08-27 09:29] wuzhouhui opened #419 "Option -W and -B don't work at all"
Set option -B or -W for vhost app, but these option don't work at all

## Expected Behavior

Cannot create nvme bdev if BDF listed in blacklist. And cannot create nvme bdev if BDF not listed in whitelist.

## Current Behavior

Nvme bdev can be created no matter whether it's BDF is listed in blacklist or whitelist

## Possible Solution

## Steps to Reproduce

For option -B
1. Start vhost app: `./vh

[2018-08-27 10:02] #419 closed

[2018-08-27 10:07] Maciej-Szwed commented on #418
Hi @chenlo2x
Have you tried to run this scenario with current master? There is this patch:
https://review.gerrithub.io/#/c/spdk/spdk/+/422941
which fixes such case. This patch has been merged recently to the master.
Please confirm if that helps.

[2018-08-27 11:43] darsto commented on #362
For test purposes you can also override the sysfs pci devices path
(/sys/bus/pci/devices) by setting the SYSFS_PCI_DEVICES env variable. You
could technically create an empty dir and symlink only those
/sys/bus/pci/devices/dddd:bb:dd.f entries that you want to whitelist. This
is an DPDK feature made specifically for testing.
D.

On Fri, Aug 24, 2018 at 6:45 PM Young Tack Jin <notifications@github.

[2018-08-27 15:34] nmarusha commented on #300
Hi Zeyuan,

Using the NVMe BDEV instead of the NVMe driver directly allows you to utilize other block device functionality. For example, SPDK has implemented virtual block devices that can be stacked on top of the physical BDEVs like the NVMe driver. A couple examples are: logical volumes (for carving up SSDs to look like more SSDs of smaller sizes), pooled volumes (currently RAID 0 and experiment

[2018-08-27 16:44] benlwalker commented on #300
@xxks-kkk - I think the confusion here is that you're running both the SPDK target application and the hello_bdev application at the same time and they're both configured to claim all available huge pages unless told otherwise. You don't need to be running these two applications at the same time - they don't interact with one another.

The hello_bdev example application is configured via a configu

[2018-08-27 16:59] xxks-kkk commented on #300
@benlwalker Thanks for the detailed response. I'm wondering how can I configure the underlying hardware ("they're both configured to claim all available huge pages unless told otherwise") so that I can have both applications running? In other words, I want to be part of my logical blocks to be managed by the JSON-RPC approach and part of the blocks managed in a similar style as "hello_bdev.c"? Do

[2018-08-27 17:10] benlwalker commented on #300
Run `sudo ./examples/bdev/hello_world/hello_bdev -h` to see the command line options. This is the option you need:

[code]
If you limit it to claim, say, half of your reserved hugepages on each application you can run both at the same time.

In an upcoming SPDK release we'll be moving to dynamic memory management so by default applications will claim 0 hugepages instead of all of them, and take th

[2018-08-27 17:33] xxks-kkk commented on #300
Hello @benlwalker

I tried the command, I got the same error messages for `spdk_agt` and `hello_bdev`:

[code]

I figured my HUGEPAGES may not be allocated, so I run `sudo HUGEMEM=4096 scripts/setup.sh`, which probably what @pawelwod suggested. I still hit the same errors. However, if I don't specify `--mem-size` parameter, there will be no problem for both programs.

Thanks!

[2018-08-27 17:42] benlwalker commented on #300
The -s parameter is the memory in MB, not the number of hugepages. You just didn't give the program enough memory to actually run. Try giving it 1024 MB.

[2018-08-27 17:56] youngtack commented on #362
@darsto:

Thank you for the env variable. I'll give it a try.
As we figured out so far, unprivileged container could be a solution for pci whitelist but RDMA NIC driver is requiring privileged container. I expect we can try unprivileged container for multiple nvmf_tgt instances once spdk NVMe/TCP would be available.

Thanks,
YT

[2018-08-27 19:42] Tracy35 commented on #414
Took the master (2 hours back) and applied the patch https://review.gerrithub.io/#/c/spdk/spdk/+/423413/. It crashed for the same reason as mentioned earlier. Below are the dumps from this:

nvmf_tgt: request.c:58: spdk_nvmf_qpair_request_cleanup: Assertion `qpair->state == SPDK_NVMF_QPAIR_ACTIVE' failed.

#4  0x00000000004628aa in spdk_nvmf_qpair_request_cleanup (qpair=0x2748db0) at request.c:58

[2018-08-27 22:53] nmarusha commented on #300
Sort of. But, let me completely open, I’m no longer a developer. I’m the lucky person who is responsible for the SW organization that does SPDK. So, I’m relatively sure I know how this probably works, but I would definitely be guessing and the last thing I want to do is lead you in the wrong direction. So, someone else will need to give an answer.

Thanks,
Nate

From: Zeyuan Hu [mailto:notificatio

[2018-08-28 02:08] chenlo2x commented on #418
@Maciej-Szwed I have verified the issue with the latest master branch again,  nvmf_tgt threw the same error.

[2018-08-28 02:58] #364 closed

[2018-08-28 05:02] WenqianZong commented on #415
I test this issue on latest spdk version:e87352fa93eab747acb674a20d7eec418e98730c
but I can't reproduce,  following are detail result:
1.The output for local test when io depth is 1 (sequential read):
[code]

2.The output for remote test when io depth is 1 (sequential read):
[code]

[2018-08-28 05:37] liang2yan commented on #408
@beef9999 , can you try  spdk dpdk submodule to see if this issue still exist?

[2018-08-28 05:49] liang2yan commented on #399
@pawelwod @jimharris , was the kernel patch merged? Then we can close this issue.

[2018-08-28 07:07] chenlo2x commented on #407
@clicx @Maciej-Szwed I have verified it. After I ran the perf in the initiate and then unpluged the network cable, the nvmf_tgt crashed. Crashed log as below.

==3078==ERROR: AddressSanitizer: SEGV on unknown address 0x7ffc00000009 (pc 0x0000004f03d8 bp 0x7ffcd4835ff0 sp 0x7ffcd4835f50 T0)
==3078==The signal is caused by a READ memory access.
    #0 0x4f03d7 in spdk_nvmf_process_ib_event /home/xuh

[2018-08-28 08:40] WenqianZong commented on #415
I retest this issue and pre-condition again.I used p3700 800g ssd.
following is p3700 spec:
[code]

1.The output for local test when io depth is 1 (sequential read):
[code]
2.The output for remote test when io depth is 1 (sequential read):
[code]

[2018-08-28 09:00] wanghailiangx commented on #413
@jimharris  Great, I've seen the change in pages. About ---- 3.The 3 contents are in left navigation bar, but not in "Related Page" and "Main Page". This has not been changed. Is it not necessary? In addition, Is "Related Page" repeated with "Main Page"? Their content is the same.

[2018-08-28 10:09] beef9999 commented on #408
dpdk submodule could work

[2018-08-28 10:09] #408 closed

[2018-08-28 10:15] pawelwod commented on #399
yes, patch merged.

[2018-08-28 11:59] liang2yan commented on #405
I got some log from the vmware esxi. Please see below:
[code]

It reported that SPDK doesn't support following SCSI command:

2018-08-28T11:16:40.641Z cpu0:65665)ScsiScan: 592: Path 'vmhba64:C0:T0:L0': **Failed to read VPD Extended Inquiry page: Not supported**

[2018-08-28 14:45] habeanf opened #420 "create_vbox.sh script fails on ubuntu 18.04 because pushd isn't an sh command"
## Expected Behavior
Calling spdk/scripts/vagrant/create_vbox.sh <distro> should create a <distro> subdirectory and set up the vm

## Current Behavior
The script fails with:
spdk/scripts/vagrant/create_vbox.sh: 147: spdk/scripts/vagrant/create_vbox.sh: pushd: not found

## Possible Solution
Change #/bin/sh to #/bin/bash because 'pushd' on line 147 isn't an sh command (or don't use pushd)

## Steps

[2018-08-28 17:44] tkulasek commented on #362
@youngtack, @shuhei-matsumoto:

I have prepared a quick fix for DPDK 18.02 to handle white/blacklists. It just prevents to attach blacklisted devices. Seems to work for DPDK.

Tomek
[code]

[2018-08-28 19:06] youngtack commented on #362
@tkulasek:

Thank you for the patch and appreciate it. I also could see blacklist is working fine with your patch ported to the spdk tip of `b0cfbb4`.
[code]

[2018-08-28 19:17] peluse commented on #420
Thanks Amir.  Is this something you'd like to push a fix for?

[2018-08-28 19:19] peluse commented on #413
@wanghailiangx FYI you can update doc pages too if you're so inclined... let me know if you need some guidance, or catch anyone on IRC or on the dist list

[2018-08-28 19:33] habeanf commented on #420
Sure but I can't test on anything other than linux. I'm not sure if the solution is indeed switching to bash. Would it work on mac and windows+shell variants?

[2018-08-28 19:41] peluse commented on #420
I'm not really sure, maybe we get rid of all the pushd and popd and just cd "cd" and "cd -" I think that works everywhere, I just used cd - in a recent script

[2018-08-28 20:03] benlwalker commented on #414
I think I see how this can occur (but I can't reproduce it). Here's a patch series that I think addresses the problem:

https://review.gerrithub.io/#/c/spdk/spdk/+/423745/

You can grab the tip of the series with this command:

[code]

If this doesn't fix it, I'm going to need to get myself set up with physical NICs that I can pull cables on to make further progress.

[2018-08-28 20:04] jimharris commented on #413
@wanghailiangx - Doxygen automatically creates these three sections (Modules, Data Structures and Files).  It also automatically creates the "Main Page" and "Related Pages".  I know this is not ideal, but I'm not aware of any way to modify this without modifying Doxygen itself.

[2018-08-28 20:12] jimharris commented on #405
Hi @liang2yan,

Here is a similar thread on this topic from early last year:

https://lists.01.org/pipermail/spdk/2017-January/000301.html

Can you work with @ZiyeYang on this?  Reading scsi_bdev.c, it looks like we are supporting SPDK_SPC_VPD_EXTENDED_INQUIRY_DATA.  It's not immediately clear to me why the ESXi log says otherwise.

-Jim

[2018-08-28 20:16] jimharris commented on #420
Agree - let's just use cd and cd -.

[2018-08-29 03:14] Tracy35 commented on #414
Ran the above patch (i.e. 423745) and it segfaulted at a different location. Please see below the details:

 **Crashed at:**
#4  0x0000000000465f1f in spdk_nvmf_rdma_request_process (rtransport=0x2c81610, rdma_req=0x34bb778) at rdma.c:1246
1246            assert(rdma_req->state != RDMA_REQUEST_STATE_FREE);

**Stack dump:**
#0  0x00007f7cbc42b1f7 in raise () from /lib64/libc.so.6
#1  0x00007f7cbc42

[2018-08-29 03:45] clicx commented on #407
Yes, perf hung up because its completion callback will never be called after an error and even timeout, error may due to tgt stop or network shutdown, just "ifdown ib0" can reproduce.

[2018-08-29 05:26] noorshaheennoorudheen commented on #365
Closing this as it seems to be a host side problem at least for now.

[2018-08-29 05:28] liang2yan commented on #399
Close this issue since patch merged.

[2018-08-29 05:28] #399 closed

[2018-08-29 05:40] Comphix commented on #395
Patch has been tracked at https://review.gerrithub.io/#/c/spdk/spdk/+/423646/

[2018-08-29 05:42] Comphix commented on #370
Related patch https://review.gerrithub.io/#/c/spdk/spdk/+/421142/  has been merged. It more likes a tune-able method to handle the larger Write and have controllable QoS rate limits.

[2018-08-29 08:33] liang2yan commented on #405
After using 512 bs malloc bdev and aio bdev, the bdev can be found in the vmware esxi. But the bdev can't be formatted as VMFS fille system. The log is as below:
[code]

[2018-08-29 08:38] wanghailiangx commented on #396
(2)vhost_blk.c error, the Poland team is working on it.

[2018-08-29 09:57] wanghailiangx commented on #413
@peluse @jimharris OK, I tried to submit a patch to update web page. I think  Doxyfile need be updated too. But I can't find corresponding "md" files about "Modules, Data Structures and Files" in the left navigation bar.
https://review.gerrithub.io/#/c/spdk/spdk/+/423816/, please review.

[2018-08-29 11:15] chenlo2x commented on #418
@benlwalker commit 8166215677ca26b85cbb91b79107314df31a832b

[2018-08-29 14:38] jimharris commented on #405
As an experiment, maybe try setting FirstBurstLength to 65536 – Gang recently added this ability to the iSCSI target.

From: Changpeng Liu <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Wednesday, August 29, 2018 at 2:22 AM
To: spdk/spdk <spdk@noreply.github.com>
Cc: James Harris <james.r.harris@intel.com>, Comment <comment@noreply.github.com>
Subject: Re: [spdk/spdk

[2018-08-29 14:59] jimharris commented on #405
Can you retry with this patch?

https://review.gerrithub.io/#/c/spdk/spdk/+/423906/

The iSCSI target was reporting underflow on large writes.  The Linux initiator ignored it (which is why we hadn't found this issue until now).  ESXi initiator was detecting the underflow which resulted in the error messages above.

[2018-08-29 15:39] tkulasek commented on #362
@shuhei-matsumoto @jimharris

I can prepare patches for DPDK as well as for our current version of SPDK's DPDK and try to submit it. It requires to add also whitelists for vdevs, not only PCI devices. It will be done tomorrow.

Next week I'm on vacances, so I'll add you and @darsto to CC in DPDK patch if there will be some feedback from the list, if you do not mind, of course.

[2018-08-29 16:00] johnmeneghini commented on #420
Yes, we want create_vbox.sh to support mac and windows.  The original implementation supported both of these platforms as that’s what I implemented and tested it on.  Bash is assumed by these two platforms.

See:  https://github.com/spdk/spdk/blob/master/scripts/vagrant/README.md

From: Amir More <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Tuesday, August 28, 2018

[2018-08-29 16:04] johnmeneghini commented on #420
Before we do that, I’d like to understand the problem.  What’s the platform that you are trying to create a virtual box on?   Mac OSX, Windows, or Linux?  create_vbox.sh does assume bash, but it works fine with OSX and Git-bash.

/John

From: Jim Harris <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Tuesday, August 28, 2018 at 4:17 PM
To: spdk/spdk <spdk@noreply.gith

[2018-08-29 16:07] johnmeneghini commented on #420
Amir, are you trying to run create_vbox.sh on a Linux platform or is your laptop/pc running OSX/Windows?

[2018-08-29 16:35] habeanf commented on #420
@jimharris I was on the 18.07 branch. I can verify that on commit https://github.com/spdk/spdk/commit/48629a88f9731aab450a1a86f52703caaf3f2385 the issue is fixed on ubuntu 18.04. Thanks guys!

A side comment (because I don't know where else to put this):
In the file [spdk/scripts/vagrant/README.md](https://github.com/spdk/spdk/blob/master/scripts/vagrant/README.md) , lines 155-156 have commands to

[2018-08-29 16:35] #420 closed

[2018-08-29 16:39] johnmeneghini commented on #420
Yes, I was just looking at commit 48629a8.  I think the problem was that my original script, which was designed to work on a native, vanilla OSX installation, wanted to remove any dependency on bash. This was originally a /bin/sh script.

See the comments at:

https://review.gerrithub.io/#/c/spdk/spdk/+/414861/7/scripts/vagrant/README.md@24

So, I agree, that for the sake of supporting all possibl

[2018-08-29 16:41] habeanf commented on #420
@johnmeneghini @jimharris I'm confused.. do you want a commit that switches back to `#/bin/sh` and uses `cd`/`cd -` instead of `pushd`?

[2018-08-29 16:45] jimharris commented on #420
@johnmeneghini @habeanf

I'm fairly certain that MacOS comes with bash.  The comment above was for gnu-getopt - we certainly don't want to force MacOS users to have to install that.

I'm OK with reverting back to /bin/sh if someone wants to submit a patch for that.

[2018-08-29 16:45] johnmeneghini commented on #420
Let’s just stick with what’s on the master branch for now.  I will retest everything on my OSX and Windows platforms to be sure there isn’t a regression anywhere.

Thanks for using create_vbox.sh!  I’m interested in any bugs or improvements you find.

/John

From: Amir More <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Wednesday, August 29, 2018 at 12:42 PM
To: spdk

[2018-08-29 16:47] johnmeneghini commented on #420
Jim, I’ll re-test things on my two OSX machines before we make any changes here.

/John

From: Jim Harris <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Wednesday, August 29, 2018 at 12:45 PM
To: spdk/spdk <spdk@noreply.github.com>
Cc: John Meneghini <John.Meneghini@netapp.com>, Mention <mention@noreply.github.com>
Subject: Re: [spdk/spdk] create_vbox.sh script fails

[2018-08-29 16:52] jimharris commented on #420
Thanks @johnmeneghini.

@habeanf - I've pushed a patch to fix the doc - thanks for the report!
https://review.gerrithub.io/#/c/spdk/spdk/+/423931/

[2018-08-29 16:58] habeanf commented on #420
I just realized spdk uses gerrithub for community code contribution. I'll close my PR, @johnmeneghini since you're working on it I won't submit to gerrithub. @jimharris thanks

[2018-08-29 19:53] Seth5141 commented on #400
So I finally got to the bottom of this. Sorry about the delay here. The bug is in the blk-core.c file of the kernel block stack. Basically, some checks were added to a function called blk_partition_remap that exposed an issue where the partition assigned to a bio was not being reset to 0 when passed down the stack. This bug was introduced in kernel commit c04fa44b76b8d9d4f6b577030aa0cbb20359c428.

[2018-08-29 23:40] shuhei-matsumoto commented on #362
@tkulasek
Thank you so much and it will be great if you can start review process in DPDK.

Adding me to CC is of course OK. But I think it will be fine even after your vacation.

@darsto @jimharris Your comments will be more helpful.

[2018-08-30 00:37] liang2yan commented on #405
Tried with latest log, it still can't be formatted. the vmware log is as below:

[code]

[2018-08-30 00:42] jimharris commented on #405
I still see the failed Extended Inquiry in the ESXi log.  Could that be part of the problem?

[2018-08-30 00:45] changpe1 commented on #405
For now it failed with Reservation command, I can add dummy Reservation/Release commands to see the test result.

[2018-08-30 01:27] Comphix commented on #395
Tested with 1000 iterations of connect and disconnect operations from the initiator side accordingly to the configuration here (32cores + P3700). The hang up issue is not seen the the device can be properly listed.

[ Command output ]
NAME    MAJ:MIN  RM   SIZE RO TYPE MOUNTPOINT
sda       8:0     0 931.5G  0 disk
├─sda1    8:1     0   915G  0 part /
└─sda2    8:2     0    16G  0 part [SWAP]
sr0

[2018-08-30 04:14] jimharris commented on #418
There is a patch series in progress by @benlwalker which should fix this issue.  @Maciej-Szwed please sync up with Ben before you spend too much time on this.

[2018-08-30 04:28] jimharris commented on #396
(2) is a different issue.  @wanghailiangx - can you create a new GitHub entry for it?

We should be able to get Huagen's 422194 patch merged - then we can close this issue.

[2018-08-30 04:28] jimharris commented on #370
421142 has been merged.  This issue can be closed.

[2018-08-30 04:28] #370 closed

[2018-08-31 02:16] wanghailiangx opened #422 "vhost timeout while waiting in NIGHTLY master test"
vhost reports timeout error while waiting for response in NIGHTLY master test everyday.

## Expected Behavior
vhost pass all test.

## Current Behavior
Error log as bellow,
========== Backtrace start: ==========
in /home/sys_sgsw/build_pool/agent/repo/test/vhost/../../test/common/autotest_common.sh:433 -> run_test()
     ...
   428 		shift
   429 		echo "************************************"
   43

[2018-08-31 07:25] pelplinski commented on #416
I think that what you did is the best solution for now. You have to specify each module you want to link with.
However, we do have trello card for to simplify this in the future: https://trello.com/c/FvRM0GVi/108-add-build-support-for-out-of-tree-bdev-modules

[2018-08-31 08:57] pawelwod commented on #422
@nedved1 is currently investigating this issue. For now I seam that from time to time some service in guest OS is taking more time to shut down so the whole VM takes more time to shutdown.

[2018-08-31 18:56] tkulasek commented on #362
@shuhei-matsumoto @darsto

Due to some problems with circular dependencies between libraries in DPDK, I have reworked this patch and probably new version should be retested with SPDK.

Gerrit: https://review.gerrithub.io/c/spdk/dpdk/+/424259
DPDK patchwork: http://patches.dpdk.org/patch/44149/

Tomek

[2018-09-04 06:16] liang2yan commented on #405
Added dummy Reservation/Release commands support codes, the VMware ESXi can format SPDK iscsi disk and make VMFS filesystem.

[2018-09-04 07:54] pawelwod commented on #417
https://review.gerrithub.io/#/c/spdk/spdk/+/424413/ can some one check pls

[2018-09-05 16:43] xxks-kkk opened #424 "Bdev modules are not properly registered if using SPDK library as 3rd party library"
Hello,

I'm playing around with hello_bdev.c with NVMe SSD. I got the following correct output:

[code]

Now, I try to write the same program in Rust and call the SPDK C interface. Everything seems to work until there is an error `"Could not find the bdev Nvme0n1".` My output of the program looks like:

[code]

I use the same bdev.conf file for both my .c program and .rs program:

[code]

By compa

[2018-09-05 17:41] jimharris commented on #424
Hi,

SPDK_BDEV_MODULE_REGISTER defines a C function with attribute(__constructor__).  That ensures the C function executes before main().  I'm not sure how this translates to Rust.  Since these functions are not explicitly called anywhere, the linker will remove them by default so SPDK adds --whole-archive linker directives to make sure these functions don't get dropped during the link stage.

-Ji

[2018-09-05 19:11] xxks-kkk commented on #424
@jimharris Hello Jim, thanks for the reply. From what I understand based on your reply,

[code]

will be called automatically during the linking phase to the static libraries provided by SPDK? Then the problem in my program might be that the function is not properly called in the linking phase from Rust side?

Thanks!

[2018-09-05 20:19] jimharris commented on #424
Can you describe how a Rust program is linked?  That would be one area to look.  Need to make sure that these constructor functions are not getting stripped out from the linked Rust program.

I'm also not sure how the Rust runtime handles C constructor functions.

I hope this helps.  :-)

[2018-09-05 20:30] xxks-kkk opened #425 "Build failure of SPDK"
I just learned that the latest release of SPDK will compile everything into a dynamic library. So, I decide to upgrade my SPDK library and install the latest version. However, `make` leads to the failure.

## Expected Behavior

## Current Behavior

[code]

## Possible Solution

## Steps to Reproduce

I follow the SPDK guide online by doing:

[code]

## Context (Environment including OS version, SP

[2018-09-05 20:34] jimharris commented on #425
Hi @xxks-kkk,

When specifying an external DPDK path, you must build DPDK yourself.  The SPDK build system will only build DPDK when it is the dpdk submodule in the spdk repository.

The main SPDK readme shows how to build DPDK after you have unpacked it:  https://github.com/spdk/spdk

-Jim

[2018-09-05 20:40] lhoswdev opened #426 "CI: Add build(s) with '--with-shared' to the test pool"
## Expected Behavior
To maximize test coverage on new patches and avoid the risk of breakage when using SPDK shared libs, add a build with the configure option, '--with-shared'.

## Current Behavior
Unless a developer tests '--with-shared' in their own local repo, patch submissions may result in build breaks when linking with SPDK shared libraries.

## Context (Environment including OS version, SP

[2018-09-05 20:56] xxks-kkk commented on #425
Hello Jim @jimharris ,

A couple of issues here:

- When I tried to use the SPDK 18.07 release version and after unpack and run `./configure --prefix=/home/zeyuanhu/spdk_install`, I got

[code]

So, I have to download the DPDK 18.05 to workaround this issue. I understand probably it's not ideal to pack the DPDK source along with but I find it is a little annoy during the installation

- I also tri

[2018-09-05 21:02] jimharris commented on #425
Agreed - it would be nice if GitHub created release tarballs that contained the submodules.

I think you need to do those "make install" commands from the root of the DPDK repository.  They will not work if run from the SPDK directory.

You could also clone the repository instead of downloading a release tarball.  This would allow you to use the dpdk submodule:

git clone https://github.com/spdk/s

[2018-09-05 21:12] xxks-kkk commented on #425
Hello Jim @jimharris

Thanks for the command. However, I'm still hit the error even follow your commands exactly.

[code]

I checked if there is anything under `/usr/local` related to SPDK but I found it's clean. Do you have any clue why I still get this error?

Thanks!

[2018-09-05 21:32] xxks-kkk commented on #425
Hello Jim,

I followed your commands by downloading the repo and checkout 18.07 version. I should have made more clear. Sorry about that. The following is the output of `make SKIP_DPDK_BUILD=1 Q= -j1`:

[code]

I cannot see `build/lib/libspdk_env_dpdk.a ` inside `build/lib`. So, I assume it is not built correctly.

[2018-09-05 22:14] #417 closed

[2018-09-06 01:39] youngtack commented on #362
@tkulasek:

Thanks for dpdk patch and so appreciate it.
On DPDK patchwork review, I found Gaetan's comment that blacklist can be probed if hot plugged.
I have no concern on current behavior for blacklist but only concerned on whitelist.
Could you amend the patch only for whitelist?

Thanks,
YT

[2018-09-06 02:37] WenqianZong commented on #425
1. I complies pass with latest spdk and following is step:
[code]

2.complies pass with latest and dpdk-18.05 and following is step:
[code]

[2018-09-06 02:48] xxks-kkk commented on #425
@WenqianZong Thanks for the steps. I'm able to compile on another machine with a clean environment (no spdk has been installed before). However, my question is more on what operation I might perform to break the build system? If possible, can you shed some lights on the possible issue? To me, the error looks like the system tries to search for the header file using system path instead of something

[2018-09-06 03:01] WenqianZong commented on #425
hi xxks-kkk:

I think "rte_config.h" issue means DPDK didn't compiled well. please try `make install T=x86_64-native-linuxapp-gcc DESTDIR=.  EXTRA_CFLAGS=-fPIC` command to compile DPDK

[2018-09-06 03:30] xxks-kkk commented on #425
Hello @WenqianZong

Thanks for the reply. I have tried your suggestion but unfortunately, I still hit the same issue. One thought to me is that why we use `#include <rte_memcpy.h>` instead of `#include "rte_memcpy.h"`. The former one might indicate the system tries to search for the file globally?

I paste my environment below. Maybe that will help?

[code]

[2018-09-06 03:54] xxks-kkk commented on #425
I also attach the `make` output from both environments below. One thing I observe is that the order of operations are not the same. For example, `SYMLINK-FILE include/rte_bus_vdev.h` then `CC vdev.o` immediately after `	== Build drivers/bus/vdev==` in the clean environment. But, in my polluted one, those two operations are not grouped together and appears after ` SYMLINK-FILE include/rte_bus_pci.h

[2018-09-06 03:57] wanqunintel commented on #407
@Maciej-Szwed is there any new patch for it?

[2018-09-06 04:03] wanqunintel commented on #396
close as patch https://review.gerrithub.io/#/c/spdk/spdk/+/422194/ has been merged

[2018-09-06 04:03] #396 closed

[2018-09-06 04:06] wanqunintel commented on #410
@ZiyeYang as Jim has mentioned that this patch will fix the issue and Chen verified it works, https://review.gerrithub.io/#/c/spdk/dpdk/+/401667/, is this upstreamed to DPDK? Then we can close it.

[2018-09-06 04:13] wanqunintel commented on #380
@liang2yan would you update the verification status here?

[2018-09-06 04:17] wanqunintel commented on #422
@pawelwod i add nedved as the owner then. thanks.

[2018-09-06 04:27] wanqunintel commented on #234
@YamboZhou is there any update for this issue?

[2018-09-06 04:29] wanqunintel commented on #338
@johnmeneghini is this unstable issue fixed now with latest SPDK code?

[2018-09-06 04:30] YamboZhou commented on #234
@wanqunintel Nothing yet. Give me more time....

[2018-09-06 04:34] wanqunintel commented on #264
@WenqianZong would you retest with latest SPDK master code and update status here? thanks.

[2018-09-06 04:39] wanqunintel commented on #418
the patches series is still pending for review

[2018-09-06 04:41] wanqunintel commented on #414
@liang2yan would you retest with switch in local enviroment to see if any other issue?thanks

[2018-09-06 04:41] changpe1 commented on #310
I'm adding a timeout parameter to Admin queues, this is the first patch https://review.gerrithub.io/#/c/spdk/spdk/+/424622/, with default polling timeout value, I think this issue can be fixed.

[2018-09-06 04:41] wanqunintel commented on #411
@liang2yan , we may use the latest SPDK code to retest. thanks.

[2018-09-06 04:46] wanqunintel commented on #362
Per shuhei's udpate, we should have a patch early next week to integrate Yound's comment

[2018-09-06 06:34] liang2yan commented on #425
@xxks-kkk , can you clean your dpdk and spdk directory and then compile them all again?I think it can fix the polluting issue.

[2018-09-06 07:39] liang2yan commented on #380
Just checked, this issue  can't be reproduced now. So close this issue.

[2018-09-06 07:39] #380 closed

[2018-09-06 07:44] xuhuagen commented on #426
@lhoswdev  Inmy  local spdk repo, it is ok that build with the configure option, '--with-shared' on both a Linux flavor and FreeBSD.
can you list the log of  building breaks when linking with SPDK shared libraries?

[2018-09-06 09:43] wanghailiangx commented on #413
https://review.gerrithub.io/#/c/spdk/spdk/+/423816/ is abandoned, it moved to "spdk/spdk.github.io"
https://review.gerrithub.io/#/c/spdk/spdk.github.io/+/424780/

[2018-09-06 09:44] wuzhouhui opened #427 "huge files not be deleted when option -R specified"
Start vhost app with option -R specified, but huge files in hugetlbfs not be deleted after app initialized

## Expected Behavior

huge files in hugetlbfs be deleted after app initialized if option -R specified

## Current Behavior

huge files not be deleted if option -R specified

## Steps to Reproduce

1. Start vhost app with option -R specified: `./vhost -R`
2. Check if huge files  in hugetlbfs

[2018-09-06 12:28] Maciej-Szwed commented on #407
Not yet, but I'm working on it right now.

[2018-09-06 13:52] lhoswdev commented on #426
During the final linking step of executables, e.g.
[code]

@jimharris has a set of patches that address the build break.   See: https://review.gerrithub.io/#/c/spdk/spdk/+/424721/

[2018-09-06 14:43] jimharris commented on #426
Just to note - this bug is not tracking the link failure.  @lhoswdev added it to make sure we add --with-shared testing in the test pool(s).  So please do not close this issue after my patches have been merged.  It should only be closed once @Seth5141 or @karlatec or someone else confirms that we have --with-shared testing enabled somewhere.

[2018-09-06 14:46] jimharris commented on #422
I have invited @nedved1 to become a member of the SPDK project.  Once he accepts, we can assign this issue to him.

[2018-09-06 14:54] jimharris commented on #425
Hi @xxks-kkk,

On the corrupted system, can you check the contents of CONFIG.local?

When I look at the Q= output you sent earlier, I see this in the compilation line:

-I/include/dpdk

That is clearly wrong - it should be have the path to include/dpdk in the DPDK submodule.

-Jim

[2018-09-06 20:39] xxks-kkk commented on #425
Hello Jim @jimharris

Sorry to get you back late. I just checked `CONFIG.local` and it looks like:

[code]

It doesn't look wrong to me :(

[2018-09-06 20:45] Seth5141 commented on #426
I have uploaded a patch on top of yours to add a shared lib build. https://review.gerrithub.io/c/spdk/spdk/+/424888

[2018-09-06 20:48] jimharris commented on #425
No problem Zeyuan.  Could you also share the contents of the config.h that is generated?  It should be in the root of the spdk tree.

[2018-09-06 20:49] xxks-kkk commented on #425
@liang2yan Thanks for the comment. I completely deleted the SPDK repo and perform the operations as follows and hit the error:

[code]

[code]

The `CONFIG` file looks like

[code]

and `CONFIG.local` file looks like

[code]

[2018-09-06 20:50] xxks-kkk commented on #425
@jimharris

The content of `config.h` looks like

[code]

[2018-09-06 20:53] jimharris commented on #425
Do you have DPDK_DIR defined in your environment?  If so, can you undefined it and retry?

[2018-09-06 21:00] xxks-kkk commented on #425
@jimharris WOW! It's just hard to believe that the environment variable I randomly chose for my Rust program leads to the conflict with the build system :(   Thank you so much for all the help! It's truly my bad.

[2018-09-06 21:00] #425 closed

[2018-09-06 21:02] jimharris commented on #425
No worries!  This DPDK_DIR thing isn't needed anymore in SPDK actually - now that we have the SPDK configure script, it can be removed.  I'm going to push a patch for that right now.

Looking forward to figuring out your Rust link issue as well.  :-)

[2018-09-06 21:28] xxks-kkk commented on #425
@jimharris Hello Jim,

One more thing I just realized is that `libspdk.so` doesn't get copied to the install location. It still resides in the `build/lib` of the repo. Is it done intentionally?

Thanks!

[2018-09-06 21:40] jimharris commented on #425
Not intentional - I think the install target wasn't updated when the shared library build got added.  This should be fixed.  We've also added a --with-shared option to the configure script to build individual shared libraries as well - those should be getting copied to the install location as well.

This should probably be filed as a new issue.

[2018-09-06 21:45] xxks-kkk commented on #425
@jimharris Good to know `--with-shared` option. However, I haven't found it in `./configure --help`. Do you want me to open a new issue?

[2018-09-06 21:49] jimharris commented on #425
--with-shared was added very recently - it is on master but was not in SPDK 18.07.

[2018-09-06 21:52] xxks-kkk commented on #425
I see. Thank you!

[2018-09-06 23:50] alantu02 opened #428 "SPDK iSCSI crashes with large block workload"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

The configuration is as such:
                SPDK v18.07
                16 Optane drives with 8 partitions each on the target
                2 Mellanox ConnectX-4 50GbE dual ported NIC
                2 initiators targeting 64 L

[2018-09-07 00:07] alantu02 opened #429 "SPDK iSCSI write performance is below expectation"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

The configuration is as such:
                SPDK v18.07
                16 Optane drives with 8 partitions each on the target
                2 Mellanox ConnectX-4 50GbE dual ported NIC
                2 initiators targeting 64 L

[2018-09-07 02:46] xxks-kkk opened #430 "Failed to run hello_bdev.c again if kill the program right after spdk_bdev_get_io_channel"
I'm playing around with `hello_bdev.c` program. I accidentally kill the process after the program runs into the phase that output `Opening io channel` onto the stdout. Then, I re-run the program and I keep getting the following failure:

[code]

I've tried `sudo scripts/setup.sh reset` and `sudo scripts/setup.sh`. Then I run the program again and I still hit the same error. To me, the issue might

[2018-09-07 02:57] xxks-kkk commented on #430
I think this issue might link with #349 and #350 But, I'm not sure what to do in my case. Do I have to restart the machine to fix this issue?

[2018-09-07 03:04] ChenWang01 opened #431 "Fio failed when run the Nvmf tgt used the lvol bdev with raid-0 bdev"
The fio failed and the raid bdev module can't support the IOVs.

## Expected Behavior
The fio can passed and raid bdev module support the multiple IOVs

## Current Behavior
[code]

## Steps to Reproduce
[code]

## Context (Environment including OS version, SPDK version, etc.)
OS: Fedora release 27 (Twenty Seven)
Linux version: 4.13.13
gcc version: 7.3.1 20180303 (Red Hat 7.3.1-5) (GCC)
SPDK: maste

[2018-09-07 06:27] liang2yan commented on #414
I reproduced this issue following the steps. After running about 25 min fio job, I unplugged the cables.
The nvmf target still crashed. The coredump is as below:

==24552==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x606000000009 at pc 0x0000004b2166 bp 0x7fff00cde170 sp 0x7fff00cde160
READ of size 8 at 0x606000000009 thread T0 (reactor_0)
    #0 0x4b2165 in spdk_nvmf_process_ib_even

[2018-09-07 06:58] pelplinski commented on #430
That happens when spdk app crashes and does not clean hugepage files.

Go to `/dev/hugepages` and remove all huge pages that belong to your application (starting with prefix, in your example `--file-prefix=spdk_pid357`). Usually during development all the hugepages belong to your application.

If you delete all hugepage files in this directory, the HugePages_Free should be equal to HugePages_Total

[2018-09-07 08:00] liang2yan commented on #428
@alantu02 , how many port group(i.e, the socket listening address) you used? I think you used two port group. So one initiator connected to iscsi target using one port group. Another initiator used another port group.

[2018-09-07 15:29] xxks-kkk commented on #430
@pelplinski Thanks for your reply. I went to `/dev/hugepages`, I see nothing there and I have the following when run the command:

[code]

I also tried to run the example program again and it will still fail:

[code]

[2018-09-07 15:58] jimharris commented on #430
Hi Zeyuan,

Can you make sure the first invocation of the app isn’t still running the background?

-Jim

From: Zeyuan Hu <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Friday, September 7, 2018 at 8:29 AM
To: spdk/spdk <spdk@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [spdk/spdk] Failed to run hello_bdev.c again if kill the program

[2018-09-07 16:02] jimharris commented on #425
https://review.gerrithub.io/#/c/spdk/spdk/+/424893/ has been merged which removes any SPDK dependency on the DPDK_DIR environment variable.  So feel free to use DPDK_DIR again for your Rust program.  :-)

[2018-09-07 16:07] xxks-kkk commented on #425
That's great!  Thank you for the notice 👍

[2018-09-07 16:13] xxks-kkk commented on #430
@jimharris  Hello Jim, Tried `ps aux | grep -i hello` and  `pgrep -la hello`. Didn't find any suspicious process. Do you have any commands available to help with detecting the hidden app process?

Thanks!

[2018-09-07 16:29] jimharris commented on #430
No - I think that means the process is not still running.

Is /dev/hugepages your only hugetlbfs mount?

mount | grep hugetlbfs

[2018-09-07 16:38] jimharris commented on #430
Hmmm.  I'm at a loss.  You could try unmounting /dev/hugepages and see if it gives any hints.  Or unmounting /dev/hugepages may free the hugepages.

[2018-09-07 16:54] jimharris commented on #431
Hi,

Can you simplify the test case that reproduces this issue?  For example, remove both loops.  Just do:

create two malloc bdevs
put a RAID-0 on top of those bdevs
put a logical volume store on the RAID-0
put one logical volume on the logical volume store

I also think there is some kind of script issue here - one of the construct_malloc_bdev commands uses rp.py instead of rpc.py.

This is very

[2018-09-07 16:57] xxks-kkk commented on #430
Hello Jim,

Tried to unmount the device but it shows it is busy

[code]

Tried `fuser -m /dev/hugepages` but it shows nothing. I use `sudo umount -l /dev/hugepages/` to forcely unmount the device. However, after issuing `cat /proc/meminfo |grep HugePages`, I can still see

[code]

[2018-09-07 20:27] xxks-kkk commented on #430
Hello Jim,

It turns out if I unmount the `/dev/hugepages` and reboot the machine, I need to rerun `sudo scripts/setup.sh` to start over. I can solve my issue for now. However, there are nothing left in the `/dev/hugepages` looks weird to me. I'm wondering if that's because I check `/dev/hugepages` several hours after the program crash.

[2018-09-07 21:49] blu3bird opened #432 "vhost-user-scsi-pci is unusable with Windows 10"
When starting a Windows 10 VM (fresh install) in QEMU with a vhost-user-scsi-pci device attached, the boot already takes quite long, way longer than it should. Once the OS is finally booted, trying to use the disk, for instance to partition it using disk manager, produces I/O errors.
When booting the VM with a Linux ISO (systemrescuecd-x86-5.2.2.iso), the disk works perfectly.

## Expected Behavio

[2018-09-08 00:52] jimharris commented on #428
Fix for this was merged today.

On Sep 7, 2018, at 3:20 PM, alantu02 <notifications@github.com<mailto:notifications@github.com>> wrote:

@liang2yan<https://github.com/liang2yan> Each initiator has a dual ported NIC, so 2 connections from each to the target. Each connection is on it's own subnet, so there are 4 PortalGroups being used.

—
You are receiving this because you are subscribed to this th

[2018-09-10 00:48] cranechu opened #433 "SPDK_DEBUGLOG definition"
https://github.com/spdk/spdk/blob/ea1c15791fc760e07c8e9cd4629fe17dc0ddb1a1/include/spdk_internal/log.h#L83

Should it be SPDK_LOG_DEBUG?

[2018-09-10 01:03] peluse commented on #433
Sure looks that way to me... would you like to submit a patch?

[2018-09-10 03:13] ChenWang01 commented on #431
Hi  Jim,
Following are the simplified steps:
1. start the nvmf_tgt and set the I/O unit size
[code]
2. create two malloc bdevs
[code]
3. put a RAID-0 on top of those bdevs
    ` ./rpc.py construct_raid_bdev -n raid0 -s 64 -r 0 -b "Malloc0 Malloc1"`
4. put a logical volume store on the RAID-0
    `ls_guid="$(./rpc.py construct_lvol_store raid0 lvs_0 -c 524288)`
5. put one logical volume on the logi

[2018-09-10 05:54] ChenWang01 commented on #431
Hi Jim,
I have set a breakpoint on the "lib/bdev/raid/bdev_raid.c" line 450.
And the "connect subsystem command" hit the breakpoint. Following is the backtrace, please review it.
[code]
Thanks so much.

[2018-09-10 08:26] pawelwod commented on #432
Hmmm... USB-stick is insanely slow vs malloc bdev :) Can you check local SSD drive as AIO bdev?

[2018-09-10 13:06] alekseymmm commented on #431
It seems from code that raid_bdev doesn't support vector read/write (I mean readv, writev) . Is it true that if some bdev doesn't implement these operations than it couldn't be used as a backend for nvmeof target?

[2018-09-10 14:51] xxks-kkk commented on #424
@jimharris @wanghailiangx Thanks for all the comments and helps. I link my rust program with the shared SPDK library. My problem is resolved.

[2018-09-10 14:51] #424 closed

[2018-09-10 15:00] jimharris commented on #431
raid_bdev did not support iovcnt > 1 originally.  Splitting I/O with iovcnt > 1 when it spans a strip boundary is something we wanted to do in the generic bdev layer, since other modules might need similar functionality.

That splitting was added in the generic bdev layer but has not yet been enabled for the raid bdev module yet.    The patch to enable it is out for review and should be merged thi

[2018-09-10 15:01] jimharris commented on #431
Also note that the configure warning message mentions that raid bdev currently will not work with vhost.  But nvmf is also affected when in-capsule data is specified.

[2018-09-10 16:15] jimharris commented on #411
Hi,

Can you set up this same test with -e 0xFFFF option to nvmf_tgt and capture the event trace file?  See end of http://spdk.io/doc/nvmf.md for more details on how to capture the event trace file.

Thanks,

-Jim

[2018-09-10 16:47] blu3bird commented on #432
I originally used an lvm volume on top of my nvme as bdev, which had the same symptoms and failures as the usb stick.
The reason I switched to a usb stick was that the lvm volume had a blocksize of 4096 and there were lot's of 'blocksize 512' messages in the log. I wanted to eliminate any potential issue with block size mismatch.

[2018-09-10 17:41] jimharris commented on #433
Good catch!

[2018-09-10 17:50] jimharris commented on #426
https://review.gerrithub.io/#/c/spdk/spdk/+/424890/ has been merged.

[2018-09-10 17:50] #426 closed

[2018-09-10 19:01] ak-gh commented on #433
Not exactly related, but it would be helpful if release builds avoid printing (essentially debugging) source code reference along with the message. Should I raise the respective issue?

Regards,
Andrey

[2018-09-10 19:42] lhoswdev opened #434 "nvmf_tgt segfaults when built with SPDK shared libs"
## Expected Behavior

nvmf_tgt should come up and begin awaiting connections.

## Current Behavior

Seconds within launch of nvmf_tgt (built against SPDK shared libs), it segfaults.   Fortunately, the issue is consistent.  It appears to die in the call to ``ibv_query_device()`` within ``spdk_nvmf_rdma_create()``.   If I rebuild nvmf_tgt against SPDK static libs, nvmf_tgt does not incur the segfaul

[2018-09-11 02:03] ChenWang01 commented on #431
I have verified this issue with patch https://review.gerrithub.io/#/c/spdk/spdk/+/423408/
This patch can solve the issue, and i will do further testing when this patch has been merged.
Thanks,
Chen

[2018-09-11 03:10] ChenWang01 commented on #414
I used the master branch(18c6c0724975be9fa45909ff580e47d9c714696c) to reproduce this issue and i follow the http://spdk.io/doc/nvmf.html to get the debugging trace log.
[trace.log](https://github.com/spdk/spdk/files/2369204/trace.log)

[2018-09-11 05:10] liang2yan commented on #433
@cranechu , can you  add the patch link here?. thanks.

[2018-09-11 05:41] liang2yan commented on #429
@alantu02 , can you try with latest codes? Jim has submitted patch to fix related issue.

[2018-09-11 05:42] liang2yan commented on #428
@alantu02 , can you try with latest codes?

[2018-09-11 07:39] WenqianZong commented on #264
I verified this issue with latest spdk b6938efd0b8a3a85bb0b65091eafbb79d8165108 , But when I run perf after 337 cycles error occurred . Following is log :
[code]

[2018-09-11 07:51] xuhuagen commented on #434
@lhoswdev  I follow your steps and  segfault can be reproduce.
I start nvmf_tgt without config file,  when I use rpc commends to construct nvmf subsystem

[code]
meanwhile the nvmf_tgt core dumped.
[code]

[2018-09-11 08:31] pawelwod commented on #432
I don't see any failures in your log. Can you pls check SSD drive as AIO bdev? I don't think you will get any usable performance from USB Strick with 512LBA and SPDK on it.

[2018-09-11 09:29] Maciej-Szwed commented on #407
NVMf host side in SPDK does not support events and this is why we are not aware of the issue when cable is being disconnected. I will implement event handling on host side and change perf code accordingly.

[2018-09-11 12:27] Maciej-Szwed commented on #418
I wasn't able to reproduce this, but by looking at SEGV you provided I assumed where the problem is. Could you please try to reproduce it with this patch: https://review.gerrithub.io/#/c/spdk/spdk/+/425254

[2018-09-11 15:34] nedved1 commented on #422
Timeout while closing the virtual machines appears quite randomly. Still working on this issue.

[2018-09-11 16:27] jimharris commented on #264
Hi @stallamr,

Do you think your original issue should be closed?  A lot of work has gone into the NVMe-oF target over the last 1-2 months - I'm curious if your original issue is now addressed.

@WenqianZong - I think maybe this issue you have seen, after 337 cycles, should be a separate GitHub issue.

-Jim

[2018-09-11 18:59] jimharris commented on #429
My patch only fixed https://github.com/spdk/spdk/issues/428 which affects reads.

@alantu02 - would you be able to rerun this at some point with malloc bdevs instead of NVMe?  Or even null bdevs.  @vermavis can help on this.

I am certain this is an iSCSI issue but testing with malloc or null would confirm it.

[2018-09-11 19:30] jimharris commented on #414
Wait - now I'm looking at spdk_nvmf_process_ib_event().

We get the rqpair before the switch statement.  This dereferences event.element.qp.  But aren't there some event types that don't have a qp?  I was able to figure out which commit @liang2yan's backtrace was based on, and this is the exact line that crashed.

Can you try patch https://review.gerrithub.io/#/c/spdk/spdk/+/425311/?

Please also

[2018-09-11 20:29] jimharris commented on #414
@Maciej-Szwed beat me to this patch.  Please test his patch instead:

https://review.gerrithub.io/#/c/spdk/spdk/+/425254/

I will abandon mine.  Good job @Maciej-Szwed - I think your patch fixes this one too.  :-)

[2018-09-11 21:34] jimharris commented on #414
Patch from @Maciej-Szwed has been merged to master.

[2018-09-11 21:35] jimharris commented on #418
GitHub automatically closed this.  Reopening just until @chenlo2x can confirm patch referenced by @Maciej-Szwed fixes the issue.  That patch has been merged to master.

[2018-09-12 01:29] WenqianZong opened #435 "Asan error occurred when run perf test."
After 337 cycles spdk perf tool running to test SPDK nvmf target ,asan error occurred from SPDK nvmf target.

## Expected Behavior
no error occurred

## Current Behavior
asan error

## Possible Solution

## Steps to Reproduce
Target side:
1.   ./configure --with-rdma --enable-asan --enable-debug
2.   make clean && make -j8
3.    ./app/nvmf_tgt/nvmf_tgt -c nvmf.conf.in -L rdma

The config file is a

[2018-09-12 01:31] ChenWang01 commented on #414
Hi jim,
I used the master branch(1f3f160581391955c230a99b24deb8b86470d885) to reproduced this issue.
The crash did not occur when i disable the Nic, but the target crashed with another Asan error after a few seconds.
[code]
Following is the debugging trace log:
[trace_poller.log](https://github.com/spdk/spdk/files/2373235/trace_poller.log)

[2018-09-12 05:44] ChenWang01 commented on #427
I check this issue with master branch(43ab58b613373ac424bca82797827da0d040554a)
The huge files can't be deleted when start  Vhost and issci target with "-R".
And the huge files can't be deleted when start NVMf-oF target with "-R".

[2018-09-12 14:35] pelplinski commented on #430
@xxks-kkk Do you still replicate the issue or was it one time event?

[2018-09-12 15:46] tomzawadzki commented on #432
@jimharris We do have automated tests running daily for vhost - against Windows SCSI Compliance Test 2.0 (LOGO). There are no fails reported at this time for those. It runs on other version of Windows.
https://docs.microsoft.com/en-us/windows-hardware/test/hlk/testref/d1f2fbbe-d5e4-439d-819a-dc100df0e9ba

@blu3bird
Thank you for submitting. We will try to reproduce this issue and will keep you pos

[2018-09-12 16:35] Seth5141 commented on #434
I have also verified this bug on master as of today. I also ran the app without a shared object build and dumped the contents of device and device->context. They look identical between the two cases (with the exception of address values). I think this is an issue with linking inside of the shared library.
The symbol table for libspdk_nvmf.so shows ibv_query_device, but shows it as a NOTYPE symbol

[2018-09-12 16:36] youngtack commented on #362
@darsto:

As I figured out so far, CBDMA functions can be attached individually with kernel pci quirk patch as on https://lkml.org/lkml/2013/5/30/513. Also spdk rpc can attach nvme devices dynamically. I want to isolate groups of pci devices per application with whitelist (rather than blacklist) and prevent other app's device to be attached.

Thanks,
YT

[2018-09-12 17:49] lhoswdev commented on #434
Hmmm, an ``ldd`` against the final executable reveals the dependency there.   And, if the symbol didn't resolve, I'd have expected an error to that effect on startup from the run-time linker:
[code]

I wonder if there's an issue with respect to ordering of the dependency libs?   When running ``ldd`` against ``nvmf_tgt``, I see libibverbs.so.1 in the output list before ``libspdk_nvmf.so.1``.   I kn

[2018-09-12 20:12] Seth5141 commented on #434
I found an interesting stack overflow on this topic. https://stackoverflow.com/questions/45135/why-does-the-order-in-which-libraries-are-linked-sometimes-cause-errors-in-gcc.
The answer seems to indicate that when building the original shared object, you have to ensure that it is compiled and linked against all of the shared libraries it references. If that is not the case, we will get a runtime e

[2018-09-12 20:39] lhoswdev commented on #434
This didn't work for me.    Still incurred the segfault.   However, I noted the following.
**BEFORE** your suggested change adding in SYS_LIBS:
[code]

Then **AFTER** building with your change that adds SYS_LIBS:
[code]

Note that in the AFTER case above, there's no listing of libibverbs.   Was there another linking change possibly made?   I also haven't done a pull since Monday.

The above, aside

[2018-09-12 20:45] lhoswdev commented on #434
Additional inquiry:   can you please provide the output for your own:  ``gcc --version`` and ``ld --version``?    I see in a build log from, say, one of the Chandler fedora systems that it was using gcc version 7.3.1.   We don't output the ld version though.

[2018-09-12 20:46] Seth5141 commented on #434
gcc --version
gcc (GCC) 7.3.1 20180303 (Red Hat 7.3.1-5)
ld --version
GNU ld version 2.29-13.fc27

[2018-09-12 20:51] Seth5141 commented on #434
I am kind of surprised that didn't work for you (I just verified it again on my system). I have been running git clean -xfd between each build to make sure that I don't have any leftover build artifacts. Then I follow exactly your original repro steps.
Here is my output from ldd build/lib/libspdk_nvmf.so:
	linux-vdso.so.1 (0x00007fffd5164000)
	libibverbs.so.1 => /lib64/libibverbs.so.1 (0x00007f3b5

[2018-09-12 20:56] lhoswdev commented on #434
@Seth5141 , Ah, but note how ``libibverbs.so.1`` appears in your ``ldd`` output, but it does not in mine.
My compiler is much older than yours, and my linker somewhat:
[code]

Would you mind please doing a ``make clean`` and then a ``make V=1`` and then post the detailed compiler output where it displays the linking of ``libspdk_nvmf.so``?   You have way more dependencies than mine which is very c

[2018-09-12 20:59] Seth5141 commented on #434
@lhoswdev running that now. But an additional thought occurred to me in the meantime. Did you by any chance cherry pick the last change from my patch series? If you did that, it might explain the missing links. The middle change in that patch series is needed to make sure that SYS_LIBS is properly populated.

[2018-09-12 21:02] Seth5141 commented on #434
@lhoswdev Here is the relevant line from make.
echo "  SO libspdk_nvmf.so.1.0"; \
	cc -o /home/sethhowe/Desktop/Development_Folders/spdk/build/lib/libspdk_nvmf.so.1.0 -shared  -Wl,-z,relro,-z,now -Wl,-z,noexecstack -pthread -Wl,--soname,libspdk_nvmf.so.1 -Wl,--whole-archive /home/sethhowe/Desktop/Development_Folders/spdk/build/lib/libspdk_nvmf.a -Wl,--no-whole-archive -Wl,--version-script=spdk.map

[2018-09-12 21:04] lhoswdev commented on #434
@Seth5141 , you're referring to:  https://review.gerrithub.io/#/c/spdk/spdk/+/425434/ .   You are correct.   I merely hand-patched the one change in shared_lib/Makefile as shown in https://review.gerrithub.io/#/c/spdk/spdk/+/425436/.   I didn't get the former!   Let me grab that one and retry.

[2018-09-12 21:05] Seth5141 commented on #434
You can grab the whole patch series directly from gerrithub by selecting download on the main page of the last commit and copying the command line under checkout. I have included the command line below:

git fetch https://review.gerrithub.io/spdk/spdk refs/changes/36/425436/1 && git checkout FETCH_HEAD

[2018-09-12 21:13] lhoswdev commented on #434
@Seth5141 Having now grabbed _ALL_ of your patches, ;-), and rebuilt, I can now see that the ``ldd`` of my new ``libspdk_nvmf.so.1`` does in fact list ``libibverbs.so.1``.    An invocation of ``nvmf_tgt`` on my system now no longer segfaults.   Hooray!    I'll take a look at each of the patches in the series in greater detail to see precisely what you changed.

[2018-09-12 21:19] lhoswdev commented on #434
@Seth5141 Meanwhile, do you have a FreeBSD system where you can debug the build failure therein?   The build.log in the CI looked like it had corrupted output:
[code]

[2018-09-12 21:35] Seth5141 commented on #434
@lhoswdev I am currently debugging that issue. I am not sure exactly why the output looks all garbled like that, but I got to the heart of the issue. The problem is the way pkg installs shared object files. Most of them are located in /usr/local/lib which isn't where the linker normally checks. We were passing -L/usr/local/lib in as part of the LIBS variable, which was getting picked up on the nor

[2018-09-12 22:07] Seth5141 commented on #434
@lhoswdev The next revision is up and passes on the test pool. https://review.gerrithub.io/c/spdk/spdk/+/425436

[2018-09-12 23:45] xxks-kkk commented on #430
Hello @pelplinksi, I haven't replicated the issue. I rebooted the machine to solve the problem. I'll close this issue for now.

[2018-09-12 23:45] #430 closed

[2018-09-13 07:50] #431 closed

[2018-09-13 07:58] optimistyzy commented on #429
@alantu02  For the write performance, it may be affected by r2t value. The default value locate in lib/iscsi/iscsi.h is :
#define DEFAULT_MAXR2T 4

Could we increase this value to conduct some tests?

[2018-09-13 09:33] darsto commented on #362
For now I'd suggest to use different config files for different SPDK instances, or possibly a proxy script to create such temporary config files based on a single template.

If we wanted hotplugged devices to be affected by the whitelist, we would have to allow changing the whitelist at runtime, which is possible even with current DPDK APIs, but requires some more effort.

[2018-09-13 13:51] tomzawadzki commented on #432
It seems that it was possible to reproduce an issue. I've ran script below to verify different backends (NVMe, AIO, malloc) and block sizes (512 vs 4096). It occurs on any block size of AIO backend from script.
The steps for reproduction are close to what you did. Environment was similar, but with couple differences (older Windows and driver):
Host-OS: Fedora 28 with kernel 4.17.19
SPDK: commit b6

[2018-09-13 15:00] jimharris commented on #432
This is probably a buffer alignment issue.  AIO requires data buffers aligned on LBA size alignment.

Sent from my iPhone

On Sep 13, 2018, at 6:52 AM, Tomasz Zawadzki <notifications@github.com<mailto:notifications@github.com>> wrote:

It seems that it was possible to reproduce an issue. I've ran script below to verify different backends (NVMe, AIO, malloc) and block sizes (512 vs 4096). It occurs

[2018-09-13 16:07] youngtack commented on #362
We're already using the different config files as you suggest. The continued effort for whitelist would be so appreciated.

[2018-09-13 16:32] blu3bird commented on #432
@tomzawadzki after applying the patch the disk works as expected. I tested it by partitioning, mounting and reading/writing files onto it.

[2018-09-14 05:48] xuhuagen opened #436 "Using NIC intel x722 run nvmf_tgt core dumped when nvme discover/connect it or run perf with rdma"
I use NIC:  Intel Corporation Ethernet Connection X722 for 10GbE SFP+  to start nvmf_tgt
when run fio with rdma, it is ok.
but when I run perf with rdma or using nvme discovder or connect in initiator , core dumped occurred.

## Expected Behavior
we can use nvme command to discover or connect nvmf subsystems and can
run fio or perf with rdma successfully.

## Current Behavior
in initiator machine

[2018-09-14 10:12] pawelwod commented on #427
It is broken in DPDK >= 18.05 by commit

I will send a fix to both DPDK community and SPDK fork.
Stay tuned :)

[2018-09-14 13:05] Maciej-Szwed commented on #411
I don't have machine with enough memory to replicate this setup and with less number of mallocs I wasn't able to reproduce this issue.

[2018-09-14 16:53] Seth5141 commented on #436
@xuhuagen
Thanks for reporting this!
Just a couple questions.
What version of libibverbs are you using?
What is the kernel version for your distribution?
Ben and I think this is probably related to the kernel driver for your NIC. He is working on a patch to check this capability at run-time from what the drive reports right now.

[2018-09-14 18:31] alantu02 commented on #428
The latest updates fixed this bug as reported for 64K workloads. This can be closed.

[2018-09-14 18:37] #428 closed

[2018-09-14 18:56] benlwalker commented on #436
Can you try again using this patch? https://review.gerrithub.io/#/c/spdk/spdk/+/425631/

[2018-09-14 20:15] benlwalker commented on #435
Can you re-test with the latest on master? I believe commit 44ab0033b fixes this problem.

[2018-09-14 20:17] benlwalker commented on #433
Merged as commit 4e58b2544

[2018-09-14 20:17] #433 closed

[2018-09-14 20:28] benlwalker commented on #414
The issue reproduced by @ChenWang01 is one we see intermittently on the test pool too. The issue is that an RDMA queue pair was quiesced, shutdown, and then destroyed. Later, the thread comes back and polls the shared completion queue which has a stray, outdated entry that refers to the now destroyed queue pair. I'm trying to investigate whether there is some method available by which we can guara

[2018-09-14 21:14] benlwalker commented on #414
Here's the relevant entries from the trace log in the crash above, cleaned up a bit.

[code]

To summarize the timeline above:

1. Read request was received from the network and sent to the backing device.
2. Backing device completed request and the data transfer to the initiator was started.
3. RNIC went offline (IBV_EVENT_PORT_ERR).
4. Some time much later, RNIC came back online (IBV_EVENT_PORT_

[2018-09-14 22:15] alantu02 commented on #429
@optimistyzy I have tried with increased value at 8 and at 16 with no change. 4K writes are still ~800K IOPS.

@jimharris I have configured with same number of null bdevs and 4K writes are still ~800K IOPS.

Some good news, previously when testing a bug fix for #428, large block was working, but writes were also low. Since pulling the patch, large block writes are within expectation, but small blo

[2018-09-15 07:40] sochinpub opened #437 "Encountering deadlock while calling rpc method construct_vhost_blk_controller"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Deadlock occurs when calling rpc 'construct_vhost_blk_controller', maybe in accompany with vm rebooting.
The stack follows:

Thread 3 (Thread 0x2b5b99d0b700 (LWP 79167)):
0 0x00002b5b99841d73 in epoll_wait () from /lib64/libc.so.6

[2018-09-17 01:07] xuhuagen commented on #436
@Seth5141, In my target machine
version of libibverbs is 1.1.16.2
version of kernel is 4.16.3-301.fc28.x86_64

[2018-09-17 06:58] liang2yan commented on #411
Just tried with latest codes, f8d0f6d6ccddc0dac44f49b8cd927d0379faf922. The nvmf target still crashed after several minutes' fio testing.
log is as below:

[code]

The tracepoint log is in the attachment.
[issue411.log](https://github.com/spdk/spdk/files/2387560/issue411.log)

[2018-09-17 20:13] benlwalker commented on #436
My patch fixes one problem, but the remaining issue is a bug in the i40iw driver. I just went through the code and confirmed it - they've made the same mistake that was recently fixed in the rxe driver as well. The issue is that there are two sets of opcodes describing valid RDMA operations - the user space IBV_WR_* ones and the kernel IB_WR_* ones. I think the original intention was that they'd h

[2018-09-17 20:47] benlwalker commented on #436
Actually - the patch Seth submitted to fix RXE will actually also fix this one. I just sent a note to the linux-rdma list to see where that's at.

[2018-09-17 20:49] benlwalker commented on #434
Are we all set to close this one?

[2018-09-17 20:54] jimharris commented on #434
Not yet.  It makes each shared library dependent on everything in SYS_LIBS which Lance rightfully objected to.  Seth and I plan to sync up on this today.  From IRC:

[15:54:42] <jimharris> lhodev: could portions of shared_lib/Makefile be moved to mk/spdk.lib.mk?
[15:54:48] <jimharris> specifically building the individual shared libraries
[15:55:09] <jimharris> then maybe each lib/*/Makefile can de

[2018-09-17 21:01] benlwalker commented on #411
For the tracepoint log posted above, I think this patch may resolve the issue:

https://review.gerrithub.io/#/c/spdk/spdk/+/425646/

[2018-09-18 01:34] ChenWang01 commented on #437
@sochinpub
Hi,
I have tried to reproduce this issue in my location, but it's failed. Can you post the detail steps for us to reproduce it? Thanks so much for your effort.
Following is my steps, please check it, thanks.
[code]
The blk controller can create successfully, and  can login into the VM after reboot.

[2018-09-18 02:32] ChenWang01 commented on #414
I have applied the patch https://review.gerrithub.io/#/c/spdk/spdk/+/425646/ with master branch, but this issue still can be reproduced.
[code]
Trace log:
[trace.log](https://github.com/spdk/spdk/files/2390923/trace.log)

[2018-09-18 02:51] wanghailiangx commented on #409
When perf is running io, kill nvmf_tgt. Then the issue can be produced every time.

[2018-09-18 03:05] sochinpub commented on #437
@ChenWang01
em...My version is 18.01(82b4abc), but I think the master branch still has this problem unfixed.
Indeed, It's hard to reoccur. I know exactly now what's the problem, so I actually reproduce this problem by add a 'sleep' in the source code as following:

In **lib/vhost/vhost.c**:
static void
stop_device(int vid)
 {
 	struct spdk_vhost_dev *vdev;
 	struct rte_vhost_vring *q;
 	int rc;

[2018-09-18 06:45] chenlo2x commented on #418
@Maciej-Szwed I have verified this issue with latest code, core dump still happened.
commit-id: I have verified this issue with latest code, core dump still happened
core dump info as below:
rdma.c:2651:spdk_nvmf_rdma_poller_poll: *WARNING*: CQ error on CQ 0x61200000b8c0, Request 0x139657684100432 (5): Work Request Flushed Error
rdma.c:2675:spdk_nvmf_rdma_poller_poll: *ERROR*: Received an unknown

[2018-09-18 07:52] darsto commented on #437
Thanks for the report, I see a potential deadlock here,
Thread 2 waits for a vhost controller to complete its pending I/O, but the I/O is probably polled on the Thread 1, which also handles the RPC.

[2018-09-18 08:32] WenqianZong commented on #411
I patched https://review.gerrithub.io/#/c/spdk/spdk/+/425646/ , error also can be reproduced.
The attachment is tracepoint.
[log.txt](https://github.com/spdk/spdk/files/2391824/log.txt)

[code]

[2018-09-18 08:38] WenqianZong commented on #411
When I reproduced this issue ,i find another error :
On initator :
[code]

On target:
After kill fio on initiator, then kill nvmf_tgt , error occurred.
[code]
Attachment is tracelog.
[NVMf_completion.txt](https://github.com/spdk/spdk/files/2391858/NVMf_completion.txt)

[2018-09-18 19:34] jonathanrichardson opened #438 "segfault on nvme disconnect from initiator"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior
No segfault on disconnect.

## Current Behavior
Occasional segfault when initiator does an nvme disconnect. The following gdb core dump trace shows the problem. It is more common to not get detailed debug info

[2018-09-18 19:48] jimharris commented on #338
Hi @johnmeneghini,

We're going to close this issue.  If you are able to reproduce with latest SPDK code, please reopen it, or file a new issue.

Thanks,

-Jim

[2018-09-18 19:48] #338 closed

[2018-09-18 22:33] benlwalker commented on #438
The code on master has changed significantly in this area since SPDK 18.04, but I think the problem still exists and your analysis is correct. To fix it, we need to prevent the disconnect from running prior to the connect completing, as you say. However, we need to ensure that spdk_nvmf_poll_group_add() is called from the thread that created the poll group in order to remain thread safe (unless we

[2018-09-19 00:11] jimharris commented on #429
Tried to reproduce this locally with just a loopback configuration - but was unsuccessful.  Small write performance was inline with small read performance.

Could you try using null bdevs again, but create them with 512-byte block size (the last parameter to construct_null_bdev), and do 512-byte reads and writes?

Also try increasing DEFAULT_MAXOUTSTANDINGR2T from 1 to 16.  I really don't think th

[2018-09-19 08:25] wanghailiangx opened #439 "iscsi_tgt/fio failed with conf file in NIGHTLY master test with RSYC ERRORS"
iscsi_tgt/fio.sh reports conf file error in NIGHTLY master test everyday.

In fedora-02 server:
= = = = = = = = = = = = = = = = = = = =
 iSCSI target running config
= = = = = = = = = = = = = = = = = = = =
[crypto]

*ERROR*: === BACKTRACE START ===
vbdev_crypto.c: 221:vbdev_crypto_init_crypto_drivers: *ERROR*: error creating virtual PMD crypto_aesni_mb

This issue can be reproduced in local server.

[2018-09-19 08:47] xuhuagen commented on #439
@wanghailiangx  it need to notice that ReactorMask config option is deprecated.  Use -m/--cpumask
in file /tmp/iscsi.conf.

[2018-09-19 16:18] lhoswdev opened #440 "build fails against DPDK 18.05 installed rpm's"
## Expected Behavior
Should be able to install the DPDK 18.05 (and it's devel) rpm's against which we can build the SPDK.

## Current Behavior
Unresolved symbols when linking:

[code]

## Possible Solution

Comment from Jim during IRC chat on this topic:
[code]

## Steps to Reproduce

1.  Install dpdk and dpdk-devel (version 18.05) rpm's
2.  Run ``configure --with-dpdk`` to point to ``/usr/share/d

[2018-09-19 16:34] jimharris commented on #440
The primary issue is that eal_get_runtime_dir() is not exported by the DPDK shared library or the DPDK public header files.  We worked around this in lib/env_dpdk/init.c by declaring the function locally.  This works OK with static libraries but doesn't for shared libraries.

[2018-09-19 18:18] stallamr commented on #264
Hi Jim,

I agree that new occurence is different issue and you can go ahead and close this issue. This issue would have propped up <50-100 iterations.

Thanks,
Sai.

[2018-09-19 18:18] #264 closed

[2018-09-19 19:32] lhoswdev commented on #440
It would be nice if when we update the SPDK to use a newer version of the DPDK that we could also test against the DPDK shared-libs -- not just the static ones as we currently do.   @Seth5141

[2018-09-20 00:55] WenqianZong commented on #435
I use commit https://github.com/spdk/spdk/commit/44ab0033ba8b85a179281d6b081e110482334944 and issue cannot be reproduced after 800 cycles test.

[2018-09-20 00:58] liang2yan commented on #435
Close this issue since it can't be reproduced now.

[2018-09-20 00:58] #435 closed

[2018-09-20 01:35] xuhuagen commented on #434
@Seth5141 I tried your patch  https://review.gerrithub.io/#/c/spdk/spdk/+/426131/, nvmf_tgt segfaults
not occur. this issue has been fixed.

[2018-09-20 01:54] yangliang20065613 opened #441 "nvme_pcie.c:2098:nvme_pcie_qpair_process_completions: *ERROR*: cpl does not map to outstanding cmd"
Firstly：
These errors below will happen when I restart the nvmf target, and  I stop the nvmf target by running “kill –s SIGTERM [ the pid of nvmf target]”.

rdma.c:1517:spdk_nvmf_rdma_poll_group_create: *NOTICE*: Skipping unused RDMA device when creating poll group.
nvme_qpair.c: 131:nvme_io_qpair_print_command: *NOTICE*: WRITE sqid:1 cid:172 nsid:1 lba:8467184 len:8
nvme_qpair.c: 283:nvme_qpair_p

[2018-09-20 01:59] ChenWang01 commented on #414
The patch has been merged, so i used the master branch(c48402892ea39b8fa37afbb1fbe0b7fb47a1f562) to retest it.
The Asan issue reproduced after disable the RDMA Nic.
[code]

[2018-09-20 02:04] liang2yan commented on #441
@yangliang20065613 , can you provide the detailed steps to reproduce this issue? Then we can try to reproduce the issue in our env.

[2018-09-20 02:26] yangliang20065613 commented on #441
Hi,
这个问题不是每次都出现，我是在测试spdk的nvmf，target端4块或者8块m.2的盘，用8个或者16个cpu核，client端队列深度64或者128，用fio plugin测试，client端用的cpu核数等于盘的个数。网卡是mlx25G的。感觉这个问题和盘和测试压力有关系。

发自我的 iPhone

[2018-09-20 02:29] yangliang20065613 commented on #441
步骤就是把spdk nvmf搭起来，用fio测试就可以了。hupge page个数，target端cpu核数对问题出现影响比较大，数量越多发生的概率越大。

发自我的 iPhone

[2018-09-20 02:34] yangliang20065613 commented on #441
还有initiator端队列在64,128时出问题概率也大一些。

发自我的 iPhone

[2018-09-20 04:40] liang2yan commented on #439
@wanghailiangx , please create separate issues for two errors. the crypto issue to be paul luse.

[2018-09-20 04:41] liang2yan commented on #439
@wanghailiangx , Assign the RAID issue to yourself.

[2018-09-20 04:51] darsto commented on #437
Long ago I pushed an rfc patch to fix this issue, although it introduces another deadlock on shutdown:
https://review.gerrithub.io/c/spdk/spdk/+/396577

This needs some more work.

[2018-09-20 04:52] liang2yan commented on #427
@pawelwod , any patch link for this issue?

[2018-09-20 04:57] jimharris commented on #415
@vermavis - can you still reproduce this on your system?  If so, let's have @benlwalker or me come take a look on your system.

[2018-09-20 04:58] liang2yan commented on #414
@ChenWang01 , please upload the tracepoint log.

[2018-09-20 05:04] liang2yan commented on #422
@nedved1 , any patch link about this issue?

[2018-09-20 05:55] ChenWang01 commented on #414
[trace.log](https://github.com/spdk/spdk/files/2399856/trace.log)
Append the tracepoint log.

[2018-09-20 08:15] pawelwod commented on #427
yes, in review

https://review.gerrithub.io/#/c/425577/
https://review.gerrithub.io/#/c/425576/
https://review.gerrithub.io/#/c/425578/

Works for me, but I need to ask Anatoly if this is the right fix.

[2018-09-20 09:39] wanghailiangx opened #442 "bdev 'raid0' not found in NIGHTLY master test"
iscsi_tgt/fio.sh reports conf file error in NIGHTLY master test everyday.

In fedora-06 server:
= = = = = = = = = = = = = = = = = = = =
iSCSI target running config
= = = = = = = = = = = = = = = = = = = =
[TargetNode-1]
Comment "Target-1"
TargetName iqn.2016-06.io.spdk:Target3
TargetAlias "iqn.2016-06.io.spdk:Target3"
Mapping PortalGroup1 InitiatorGroup2
AuthMethod None
AuthGroup None
UseDigest Aut

[2018-09-20 11:02] darsto commented on #440
Thanks for the report!
I pushed a fix/workaround - https://review.gerrithub.io/c/spdk/spdk/+/426218

[2018-09-20 11:19] tchaikov opened #443 "cannot use "=" in transport id along with a PCIe address containing ":" when calling `spdk_nvme_transport_id_parse()`"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

in e02d0bbd5f5c4952ce3175202311cc65842dc43b,  `spdk_nvme_transport_id_parse()` is allowed to parse trid with `=` as separator of keyvals.  but if `trtype=PCIe traddr=0000:00:0e.0` is passed to this function. it fails.

## Expected

[2018-09-20 20:35] alantu02 commented on #429
@liang2yan The attached config files are using coremask 0xFFFFFF, with each portal group getting 6 cores. Once peak performance was measured under this config, my intent is to start scaling down cores to determine the minimum number needed to reach peak performance.

FIO jobfile looks like this:
[global]
blocksize=512B
rw=randrw
rwmixread=0
ioengine=libaio
direct=1
randrepeat=1
iodepth=32
ramp_tim

[2018-09-21 02:38] shuhei-matsumoto commented on #442
To re-enable running_config test, a little more work will be needed. I enabled once but disabled again in revision 2 of the patch.

[2018-09-21 08:29] xuhuagen commented on #441
@yangliang20065613 ,
My enviromet is
OS version: kernel:4.17.1 Linux Distribution：CentOS Linux release 7.5.1804 (AltArch)
SPDK version：18.04.1
NVMe SSD： Intel P3700 *8
user nvme driver： uio
HUGEPAGE counter：8192
HUGEPAGE size：2048k

and the configuration file of Nvmf target and fio jobfile is samilar to yours.
but I can't reproduce your issue.

[2018-09-21 20:55] lhoswdev commented on #440
@darsto I cherry-picked your patch and built against DPDK 18.05 rpm's that I had installed, and verified it was linked against DPDK shared obj's so it looks good!

[2018-09-21 22:39] lhoswdev commented on #434
Verified latest copy of patch series:

https://review.gerrithub.io/#/c/spdk/spdk/+/426129/4
https://review.gerrithub.io/#/c/spdk/spdk/+/426131/5

resolves this issue on Linux.

[2018-09-24 04:28] darsto commented on #437
Well, this is a mess. Before we perform the cleanup, we shall upstream the patch I linked before:
https://review.gerrithub.io/c/spdk/spdk/+/396577
It solves this (major) deadlock for now, but introduces another issue:

Thread 1:
* start shutdown
   * rte_vhost_driver_unregister()
      * stop_device()
        * wait for all pending I/O

Thread 2:
 * *VM reboots*
   * stop_device() -> stopping the

[2018-09-24 11:27] Maciej-Szwed commented on #418
This is different dump than the original one. My suggestion is to close this github issue as fixed and open new one for the new issue.

[2018-09-25 00:16] shuhei-matsumoto commented on #374
@liupan1111

I posted a mail about design policy to support ELBA in bdevs to the mailing list. Will you input me if you have any feedback?

Thanks,
Shuhei

[2018-09-25 07:36] xuhuagen opened #444 "Core dumped when using rpc command construct_crypto_bdev if argument --crypto_pmd is incorrect"
Now I use rpc command "construct_crypto_bdev" to construct a crypto vbdev.
core dumped occur when value of argument  --crypto_pmd is not crypto_aesni_mb

The  log is as below:
[code]

[code]

core dumped log:
[code]
## Expected Behavior
if value of argument is incorrect, it should print the error message
and exit normally.

## Current Behavior
core dumped occur when value of argument  --crypto_pmd

[2018-09-25 11:46] liang2yan commented on #429
@alantu02 , I used same coremask and fiojob file. My result is as below:
[code]

The randwrite is too low comparing to randread and randrw.

[2018-09-26 07:08] xuhuagen opened #445 "Nvmf target core dumped with SIGTERM after using same device to construct crypto bdev again"
Now I use rpc command construct_crypto_bdev to construct a crypto vbdev,
This command will create a crypto vbdev called 'CryNvme0' on top of the NVMe bdev
 'Nvme0n1' and will use the DPDK software driver 'crypto_aesni_mb' and the key
 '0123456789123456'.

[code]
I try to reuse base bdev Nvme0n1 to construct another crypto vdev CryNvme1,it fail as expect
[code]

Then I enter ctrl +c to kill nvmf_tg

[2018-09-26 21:12] #387 closed

[2018-09-26 23:25] repu1sion opened #446 "How to stack 2 physical nvme (bdev) devices into one single logical volume?"
Doc clearly says, there are "Facilities to stack block devices to create complex I/O pipelines".
But if lvol_store should be created only on selected block device. And it contains all logical volumes. It seems that we can easily create few smaller virtual bdevs on bigger physical one.
But what If I have 2 physical nvme drives. How should I stack them into one single logical volume? (if this is pos

[2018-09-26 23:29] jimharris commented on #446
Hi,

SPDK recently added a RAID-0 (striping) module.  See lib/bdev/raid.  This would allow you to stripe the 2 NVMe namespaces together into one larger bdev - then put the logical volume store on top of that.

Note that currently the RAID-0 module does not do on-disk metadata.  Meaning that information about the RAID volume will need to be loaded by config file.

Regards,

-Jim

[2018-09-27 00:59] xuhuagen commented on #436
@benlwalker do you have any patch for this issue?

[2018-09-27 06:02] wuzhouhui opened #447 "VM report IO error when intel_iommu enabled"
When set `intel_iommu=on` in kernel parameters (in grub2.cfg), the block device in VM report IO error. This block device is generated by connecting vhost-user-blk socket of secondary SPDK vhost target.

## Expected Behavior

The block device can be read/write normally in VM.

## Current Behavior

The block device report IO error when  read/write in VM.

## Steps to Reproduce

1. Start primary vhos

[2018-09-27 06:03] wuzhouhui commented on #447
The block device can be read/write normally in VM if we don't use secondary process

[2018-09-27 06:14] pawelwod commented on #447
You are getting a clear warning from DPDK:

So what you expect from scenario that uses secondary process?

[2018-09-27 06:27] pawelwod commented on #447
https://doc.dpdk.org/guides/prog_guide/multi_proc_support.html?highlight=multi%20process#multi-process-limitations

[2018-09-27 07:39] darsto commented on #447
The warning from EAL doesn't seem to be the cause here.

memory region 0. Future vtophys translation might fail.

This is usually paired with a dmesg message that describes the issue. Could
you share dmesg here?

D.

On Thu, Sep 27, 2018 at 8:27 AM pawelwod <notifications@github.com> wrote:

[2018-09-27 08:04] wuzhouhui commented on #447
There are 8 SSD in my system:
[code]
But SPDK only use first two (31:00.0 and 32:00.0) and I only export 31:00.0 via vhost-user-blk to VM.

I don't find any usefull message from dmesg, maybe you can find some different. The complete dmesg is too long, so I just put last portion here:
[code]

[2018-09-27 17:09] jimharris commented on #447
Only the SPDK NVMe driver is supported in multi-process mode.  Other libraries in SPDK would need significant changes to support multi-process mode.

[2018-09-27 20:04] peluse commented on #444
Thanks! I'll take a look at this right away!

[2018-09-27 20:04] peluse commented on #445
Thanks! I'll take a look at this right away!

[2018-09-27 20:40] peluse commented on #444
OK, try this please: https://review.gerrithub.io/#/c/spdk/spdk/+/427164

I used your steps to repro and now you should see this from the target:
  vbdev_crypto.c:1096:vbdev_crypto_insert_name: *ERROR*: invalid crypto PMD type cryp_aesni_mb

and this from the cmd line where you try to create it (well, i sued a different name):

Got JSON-RPC error response
request:
{
  "jsonrpc": "2.0",
  "method":

[2018-09-27 21:38] peluse commented on #445
Thanks for the great/clear steps to repro.  I think this should resolve your issue, please let me know: https://review.gerrithub.io/#/c/spdk/spdk/+/427170

Your output on teh tgt should look something like this when you ctrl-c:

vbdev_crypto.c:1359:vbdev_crypto_claim: *NOTICE*: Match on Null0
bdev.c:3274:spdk_bdev_open: *ERROR*: Could not open Null0 - crypto module already claimed it
vbdev_crypto.

[2018-09-28 01:29] xuhuagen commented on #444
@peluse  I have tried patch https://review.gerrithub.io/#/c/spdk/spdk/+/427164 and it can fix this issue.

[2018-09-28 11:29] darsto commented on #447
@jimharris
I don't think those would be significant changes. In fact, I'd expect vhost to work in secondary process just fine now. I guess we have a bug rather than a missing feature.

@wuzhouhui

That's true, although container->iommu_driver still shouldn't be null. It's the same container for primary and secondary process after all. Maybe primary process didn't call VFIO_SET_IOMMU either?. I'll

[2018-09-28 13:29] pawelwod commented on #422
I checked logs provided by @nedved1 and there is something wrong with systemd during shutdown. All failures have simmilar scheme:

[code]

The `session-2.scope`  (what ever this scope contains) is hanging. After timeout (90s) it is killed by `systemd` and poweroff complete with max 10s. It is possible that the hanging session contains our own `shutdown` command but this need to be verified.

There

[2018-09-28 14:39] jimharris commented on #447
@darsto - they would be very significant changes.  Things like spdk_thread_send_msg and spdk_for_each_channel would need to be completely rethought since we can't pass function pointers across process boundaries.

[2018-09-28 15:07] jimharris commented on #336
I haven't forgotten about this.  Will be adding a patch before 18.10 release that will skip bdevs which are claimed during the unregistration process at shutdown.  That will help enforce the "top-down" order for cases like multipath or RAID expansion where a base bdev is added to a vbdev after the fact.

[2018-09-28 16:38] darsto commented on #447
@jimharris what would we use them for?
I'm thinking of a very simple scenario where secondary process with an NVMe
disk exposes a vhost target. Being a secondary process means there's
different memory and PCI management, but the rest of the functionality
should work fine. The usecase from this issue should really just work IMO.

On Fri, Sep 28, 2018 at 4:40 PM Jim Harris <notifications@github.com>

[2018-09-28 16:54] jimharris commented on #447
What would we use spdk_thread_send_msg and spdk_for_each_channel for?

We use them all over the place in the bdev layer.  It's used to coordinate resets and enforce QoS limits.  The NVMe-oF target uses it extensively to coordinate infrequent control path operations.  Blobstore uses it for cluster allocation synchronization.

I guess I don't understand why this has to be a secondary process.  Maybe

[2018-09-28 16:57] benlwalker commented on #436
This ended up being a bug in the rdma-core project. The team there has a fix for it that was just merged. I don't know how long it will take to filter down into the released rdma-core packages on Fedora.

[2018-09-28 17:18] darsto commented on #447
resets and enforce QoS limits. The NVMe-oF target uses it extensively to
coordinate infrequent control path operations. Blobstore uses it for
cluster allocation synchronization.

@jimharris Ah right, I see. But this still doesn't explain the vfio errors.

On Fri, Sep 28, 2018 at 6:54 PM Jim Harris <notifications@github.com> wrote:

[2018-09-28 18:46] #437 closed

[2018-09-28 23:15] jimharris commented on #336
https://review.gerrithub.io/#/c/spdk/spdk/+/427294/ posted to skip claimed bdevs until they become unclaimed during shutdown unregistration.

We still need to handle cases like RAID hot spare - where a module may claim a bdev, but it's not associated with any vbdev.  I've punted on that case for now but something we still need to look at.  I think the solution for this involves making the fini_sta

[2018-09-28 23:50] jimharris commented on #336
More work is needed on this - there seem to be places where bdevs are not getting released resulting in my assert in this patch firing.

[2018-09-29 01:40] xuhuagen commented on #445
@peluse I used rpc method  to reproduce this issue and patch https://review.gerrithub.io/#/c/spdk/spdk/+/427170 can fix it.
Now, I add crypto option into nvmf.conf and try to start nvmf_tgt,nvmf config file like as below:
[code]

core dumped occur. the log as below:

[code]
can you submit a patch to fix it ?

[2018-09-29 01:54] WenqianZong commented on #438
Unfortunately, I can't reproduced this issue after a week loop test.

[2018-09-29 02:04] #444 closed

[2018-09-29 02:13] peluse commented on #445
Would you mind pasting that into a new issue since its different and we can close this one since it has the fix with it?

[2018-09-29 02:15] peluse commented on #439
strange, you'd think this would have failed quite often by now.  I'll take a look

[2018-09-29 02:22] xuhuagen opened #448 "Nvmf target core dumped when using same device to construct crypto bdev again in nvmf.conf"
Now, I  try to add crypto option into nvmf.conf and start nvmf_tgt, nvmf config file like as below:
[code]

start nvmf_tgt then  ctrl+c to kill it, core dumped occur.
[code]

the core dumped log as below:
[code]

## Expected Behavior
nvmf target can exit normally.

## Current Behavior
nvmf core dumped occur when start with incorrect config in nvmf.conf

## Possible Solution

## Steps to Reproduce

[2018-09-29 02:23] #445 closed, assigned to peluse

[2018-09-29 02:42] peluse commented on #439
FYI crypto should behave fine with an empty config section, I just tested it

[2018-09-29 02:46] peluse commented on #439
Oh, here's the problem:
CRYPTODEV: rte_cryptodev_pmd_create() line 121: [crypto_aesni_mb] Failed to allocate crypto device for crypto_aesni_mb

Note that this is DPDK output.  I'm not sure why it couldn't create this.  Will have to go look at the aesni crypto driver but our module did the right thing, threw an error.  Now, we might want to fix one thing though, we always create the aesni driver ev

[2018-09-29 02:51] peluse commented on #439
Looks like the only thing that could have happend, the only path that doesn't print something else, is an actual memory allocation error.  This test does run nightly and has been running for a while right?

[2018-09-29 02:51] peluse commented on #439
Also, its stated that "This issue can be reproduced in local server." can you provide the exact steps to reproduce on a local system?

[2018-09-29 02:57] peluse commented on #448
Can repro, should be pretty easy fix

[2018-09-29 03:01] wanghailiangx commented on #439
Yes, this test runs nightly and has been running for a while right, reports error almost every day.
I will list local steps for a while.

[2018-09-29 04:08] wanghailiangx commented on #439
It is a great pity that I can't reproduce in local now. I only run ./test/iscsi_tgt/iscsi_tgt.sh posix.
I'll try add [crypto] in conf.in and retest later. The former two questions were originally put together, and the other bdev_raid was reproduced. I haven't changed this description here yet.

[2018-09-29 05:07] wuzhouhui commented on #447
I have found something useful.

If process is secondary, the DPDK will request container fd from primary (see `rte_vfio_get_container_fd()`). When primary get this request, it will open `/dev/vfio/vfio` (see `rte_vfio_get_container_fd()` called in `vfio_mp_primary()`) and return this fd as container fd directly. So the secondary's container fd is different from primary process. After the fd is sen

[2018-09-29 05:46] wuzhouhui commented on #447
The issue disappeared after apply following ugly patch to DPDK:
[code]

[2018-09-29 06:53] xuhuagen opened #449 "Run bdevperf core dumped when use crypto vdev to construct target node and set io pattern type reset"
In target machine, I  add crypto option into iscsi.conf and start iscsi_tgt,
iscsi.conf like as below:

[code]

In initiator machine: set io pattern type to reset when run bdevperf
bdev.conf as below:
[code]

at first time,  Reset blockdev=iSCSI1 failed Reset blockdev=iSCSI0 failed and bdevperf exit normally.
but  run bdevperf again,core dumped occurred.
[code]

core dumped log as below:
[code]

#

[2018-09-29 07:29] xuhuagen commented on #449
@peluse I try crypto on an nvme bdev local,it works for me.

[2018-09-29 07:35] peluse commented on #449
Also, was there any output from the tgt app?

[2018-09-29 07:52] xuhuagen commented on #449
@peluse  tgt app also have error message.
[code]
I hope it can help you

[2018-09-29 15:31] peluse commented on #449
Yeah, I'm not sure how to this up to repro locally.  Will work on it some on Mon

[2018-09-29 16:07] peluse commented on #448
Please try https://review.gerrithub.io/#/c/spdk/spdk/+/427317

thanks!

[2018-09-29 16:28] ak-gh commented on #336
I have a slightly different patch below that works as expected, with bdev
being unregistered top-down as desired, such as in the following example
(I've got raid and a couple of passthrough devices atop 4 malloc base ones).

Running I/O for 10 seconds...
bdev.c: 967:_spdk_bdev_finish_unregister_bdevs_iter: *NOTICE*:
Unregistering bdev 'raid0'
bdev.c: 967:_spdk_bdev_finish_unregister_bdevs_iter: *N

[2018-09-29 17:18] ak-gh commented on #336
A bit cleaner patch with expanded comment (and the code matching the
comment ;)).

Regards,
Andrey

diff --git a/lib/bdev/bdev.c b/lib/bdev/bdev.c
index 37e8f4e2..d0632464 100644
--- a/lib/bdev/bdev.c
+++ b/lib/bdev/bdev.c
@@ -939,7 +939,7 @@ _spdk_bdev_finish_unregister_bdevs_iter(void *cb_arg,
int bdeverrno)
        if (TAILQ_EMPTY(&g_bdev_mgr.bdevs)) {
                SPDK_DEBUGLOG(SPDK_LOG_BDE

[2018-09-30 01:10] xuhuagen commented on #448
@peluse I try this patch and core dumped can't be reproduced.

[2018-09-30 06:41] wanghailiangx commented on #442
@shuhei-matsumoto Once you re-enable running_config test in fio.sh, please give a link of patch here, thanks. Then this issue will be closed now, do you think so?

[2018-10-01 08:08] #440 closed

[2018-10-01 08:09] karlatec commented on #440
Fixed by Darek

[2018-10-01 08:14] nedved1 commented on #422
Thank You @pawelwod  for Your help, but adding 'pkill --signal HUP sshd' to poweroff command didn't helped. Changing TimeoutStopSec  to 10 seconds worked and vms are closing within time limit.

[2018-10-01 21:56] peluse commented on #448
@xuhuagen also as a side note, please don't close these until the proposed fix is merged to master since technically it's not fixed until that happens.  Thanks!

[2018-10-02 16:04] nedved1 commented on #422
Patch for fixing this issue: https://review.gerrithub.io/#/c/spdk/spdk/+/427715/
Abandoning: https://review.gerrithub.io/#/c/spdk/spdk/+/426585

[2018-10-02 16:31] peluse commented on #439
@wanghailiangx the last question there was for you :) .

[2018-10-02 16:40] peluse commented on #439
Also, looking at the last few failures it's not the same signature as the one you pointed out earlier, the one about the DPDK AESNI driver not having enough memory.  It looks like most of these failures are somewhere in the ext4test but its not jumping out at me where (but then again I've never looked at this test before).

Can you please take another look at the logs and let me know if you are se

[2018-10-03 12:57] darsto commented on #447
@wuzhouhui I confirm it's a bug. I have just submitted a fix to DPDK:
http://patches.dpdk.org/patch/45940/
It fixes the problem for me.

Let's see what DPDK folks will say.

[2018-10-03 17:47] peluse commented on #439
@wanghailiangx it looks like *most* of these test, maybe all but one, failed because of an rsync issue, not a crypto issue. And the crypto issue you pointed out, again, was an out of memory error condition in DPDK so not clear how easy that is to repro.

 08:16:33	# rsync -qav --exclude=.git /home/sys_sgsw/build_pool/agent/repo/ /mnt/sdbdir/spdk
rsync: write failed on "/mnt/sdbdir/spdk/test/unit/l

[2018-10-03 17:50] peluse commented on #449
setting up for repro now...

[2018-10-03 21:37] peluse commented on #449
@xuhuagen I'm trying to setup 2 dev systems to reproduce this and am going to need some basic help as I've never setup our iscsi target or initiator before. On the target side I crated a .conf file based on your steps to reproduce (my nvme device is at the same address) and when I run the target I get the error message below.

Can you help identify what I'm missing on the target side?

[peluse@pel

[2018-10-03 22:10] jimharris commented on #449
Hi @xuhuagen,

I think the iscsi conf file is missing some sections - specifically for the PortalGroup and InitiatorGroup.

-Jim

[2018-10-04 22:44] jonathanrichardson commented on #438
Thanks for the fix. It looks reasonable but I haven't been able to verify it yet. If testing this make sure you see lots of CQ errors on disconnect to slow things down otherwise it likely will never be reproducible.

[2018-10-04 23:51] jonathanrichardson opened #450 "initiator connect fails after hard power off"
When a connection from the spdk initiator (perf) to spdk target (nvmf_tgt) is established and data transfer is occurring, powering off the initiator by pulling the power prevents the initiator from connecting again when the machine is brought back up.

## Expected Behavior

The initiator should be able to connect again. The only way is to restart nvmf_tgt. It should be able to recover eventually b

[2018-10-08 01:07] wuzhouhui commented on #447
This patch works for we too.

[2018-10-08 01:09] xuhuagen commented on #448
There is a better fix for it.

[2018-10-08 01:50] xuhuagen commented on #448
@peluse  patch https://review.gerrithub.io/#/c/spdk/spdk/+/427317 has been abandoned. do you have a better fix for it?

[2018-10-08 03:47] wanghailiangx opened #451 "Checking file permissions cause failed in NIGHTLY master test"
"Checking file permissions..." has some problems which merged on 10/6.
This error occurs on all fedora servers.

Logs as bellow:
 08:02:53	$ ./scripts/check_format.sh
Checking file permissions...ERROR: test/spdkcli/iscsi.sh is marked executable but does not start with a shebang.
Checking coding style... OK
Checking comment style... OK
Checking for spaces before tabs... OK
Checking trailing whitesp

[2018-10-08 04:53] optimistyzy commented on #451
https://review.gerrithub.io/428314

[2018-10-08 06:16] wanghailiangx commented on #451
The above patch fixed it. The problem is in test/spdkcli/iscsi.sh.

[2018-10-08 06:16] #451 closed

[2018-10-08 07:07] darsto commented on #447
The patch got acked on DPDK, so closing this issue.

[2018-10-08 07:07] #447 closed

[2018-10-08 09:14] wanghailiangx opened #452 ""Checking file permissions..." of check_format.sh does not take effect in Fedora25 and CentOS"
In check_format.sh:
echo -n "Checking file permissions..."
while read -r perm _res0 _res1 path; do
	if [ ! -f "$path" ]; then
		continue
	fi
......
done <<< $(git grep -I --name-only --untracked -e . | git ls-files -s)

In Fedora25, “check_format” always enter "continue"(skipped), then print a false "OK".

Logs as bellow:
In Fedora25,
[root@waikikibeach34 spdk]# while read -r perm _res0 _res1 path

[2018-10-08 09:47] chenlo2x commented on #452
Please try this patch: https://review.gerrithub.io/#/c/spdk/spdk/+/428332/

[2018-10-08 16:38] jimharris commented on #452
Thanks!  I added some more detail to the commit message - explaining why these changes were needed, especially since the test pool passes without them.  I've added my +2 and we will merge once another +2 is added.

[2018-10-09 05:48] wanghailiangx commented on #452
Thank Jim for added commit message. The above patch has been merged and resolved the issue.

[2018-10-09 05:48] #452 closed

[2018-10-09 07:55] nedved1 commented on #422
@wanghailiangx, could we close this issue?

[2018-10-09 08:08] wanghailiangx commented on #422
@nedved1 OK, thank you for your patch. The issue did not reproduce again.

[2018-10-09 08:08] #422 closed

[2018-10-09 09:13] wanghailiangx opened #453 "test/blobstore: report ERROR when there are two or more Nvme disks"
In test/blobstore/btest.out.match
List bdevs:
	bdev Name: Nvme0n1
	bdev Product Name: NVMe disk

So once there are two or more Nvme disks in system, this match will report ERROR.

Log as bellow:
/home/wanghailiang/spdk_debug/test/blobstore/btest.out.match:9          bdev Name: Nvme0n1
/home/wanghailiang/spdk_debug/test/blobstore/btest.out:9                bdev Name: Nvme1n1
FAIL: match: /home/wang

[2018-10-09 20:42] peluse commented on #449
This was a really great find! Exposed a lot of missing logic in the crypto bdev and makes sure we don't miss it in the upcoming compression bdev.

Please retest with https://review.gerrithub.io/#/c/spdk/spdk/+/428552 and if it fixes it we can close this one the patch has been reviewed & merged.

[2018-10-09 21:30] peluse opened #454 "bdevperf w/iscsi initiator to SPDK iscs_tgt; unexpected errors w/reset flag and high queue depth"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Discovered while debugging an issue with crypto and this same config; resolved the crypto issue and noticed this still happened even w/only nvme back end or malloc.  Steps here are w/nvme back end. Note that in my setup I use two d

[2018-10-10 02:28] xuhuagen commented on #449
@peluse  I try patch https://review.gerrithub.io/#/c/spdk/spdk/+/428552 , In initiator machine
blockdev iSCSI0 and iSCSI1 can be reset success.
[code]
but in target machine, it still have error log as below:

[code]
Press  CTRL+C and exit normally.

[2018-10-10 03:02] peluse commented on #449
Thanks!  That's almost perfect :) The "vbdev_crypto.c: 431:_crypto_operation_complete: *ERROR*: ERROR on crypto operation completion!" are totally expected, as soon as we get the reset we send back any IOs that are sitting in the crypto device as failed since we don't know whether they are good or not.

The last message about the bdev IO pool count shouldn't be there though.  The last time I saw t

[2018-10-10 05:16] xuhuagen commented on #449
@peluse  The last message occur when I send SIGTERM to kill it and it  is easy to be reproduce.

[2018-10-10 06:12] wanghailiangx commented on #453
This "btest.out.match“ currently supports only one NVMe device.

[2018-10-10 06:12] #453 closed

[2018-10-10 10:02] wanghailiangx commented on #439
In recent days' logs of NIGHTLY test, the issue can't be reproduced, because "running_config
" had been commented out in test/iscsi_tgt/fiofio.sh. I am trying to reproduce it in local.

[2018-10-10 13:01] peluse commented on #449
OK, thanks.  I'll double check on my end

[2018-10-10 16:14] peluse commented on #449
Yup, I can repro.  I was testing with a slightly simpler config.  I'll keep you posted...

[2018-10-11 01:31] xuhuagen commented on #449
@peluse  I try your updated patch and it work,the last error message not occur.

I notice that the  Test-Pool failed to this patch.  it  perhaps due to code file lib/bdev/crypto/vbdev_crypto.c has execute permission.

[2018-10-11 01:55] WenqianZong commented on #454
I can reproduce this issue on local server, and find core dump on initator device.
Following is log:

[code]
[code]

CORE DUMP LOG:
[code]

[2018-10-11 07:12] Maciej-Szwed commented on #411
I've managed to reproduce issue on initiator side. Still working on reproducing target issue.

[2018-10-11 07:13] Maciej-Szwed commented on #407
Still waiting for free resources to implement this.

[2018-10-11 10:09] wanghailiangx opened #455 "vhost/spdk_vhost.sh reports stack-buffer-overflow in NIGHTLY test"
Logs as bellow:
12:32:18 echo -e 'INFO: Running Migration test case 2'
INFO: Running Migration test case 2
......
12:32:28 /home/sys_sgsw/build_pool/agent/repo/test/vhost/common/../../..//scripts/rpc.py -s /home/sys_sgsw/build_pool/agent/vhost0/rpc.sock construct_nvme_bdev -b Nvme0 -t rdma -f ipv4 -a 192.168.100.8 -s 4420 -n nqn.2016-06.io.spdk:cnode1
......
==515028==ERROR: AddressSanitizer: stac

[2018-10-11 10:58] darsto commented on #455
A fix was merged today - https://review.gerrithub.io/c/spdk/spdk/+/428693 (Merged as 5d5181d ): nvme/rdma: fix a stack-buffer-overflow error

[2018-10-11 11:12] darsto commented on #455
I believe this can be closed. Thanks for reporting!

[2018-10-11 19:36] Tracy35 commented on #414
As fixes went it, thought I will give it a try.  The code from the tip crashed within few minutes. Please find below the information on it.  If new test code need to be tried, please let me know.

Attached is the trace file [tracefile.tar.gz](https://github.com/spdk/spdk/files/2470422/tracefile.tar.gz)

Below is the crash dump information:
Program terminated with signal 11, Segmentation fault.
#0

[2018-10-11 23:52] peluse commented on #448
sorry, didn't see this update.  Yes, the better fix has already been merged

[2018-10-11 23:52] peluse commented on #448
so you can test off master and close if it passes

[2018-10-12 01:13] xuhuagen commented on #448
I test off master and it passes.

[2018-10-12 01:13] #448 closed

[2018-10-12 01:50] peluse commented on #448
Excellent, thanks for re-testing!

[2018-10-12 03:01] xuhuagen opened #456 "Intel x722 RNIC has performance drop much compared to Manellox NIC"
I use same nvmf config to test performance of  Intel x722 RNIC and Manellox NIC by running perf
in SPDK v18.07.

the nvmf.conf as below:
[code]

**when using mellanox NIC**
[code]

**when using intel RNIC**
[code]
we can find that the IOPS is almost 273k when using mellanox NIC, but only 27.7k when using intel RNIC.

## Expected Behavior
Intel x722 RNIC has performance  nearly or more compared to

[2018-10-12 05:53] shuhei-matsumoto opened #457 "Seg. fault in iSCSI target by read and write workload and periodical TCP disconnection"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Segmentation faults have occurred intermittently.

[code]

## Expected Behavior
Safely TCP disconnection.

## Current Behavior
Segmentation fault occured.

## Possible Solution
None

## Steps to Reproduce
1. A Windows initiator log

[2018-10-12 07:00] #456 closed

[2018-10-12 07:04] shuhei-matsumoto commented on #457
https://review.gerrithub.io/#/c/spdk/spdk/+/429090/
didn't fix the issue.

[2018-10-12 07:45] shuhei-matsumoto commented on #457
100% read or 100% write are OK.
64KB, ImmediateData=No, write:read = 7:3 also reproduced the issue.
Mix of read and write may be the key.

[2018-10-12 08:45] wanghailiangx commented on #455
Thank you for pasting out patch's link.

[2018-10-12 08:45] #455 closed

[2018-10-12 09:38] shuhei-matsumoto commented on #457
This issue has occured by using the latest master of SPDK.

[2018-10-12 14:09] peluse commented on #454
Great to know someone else sees this as well!  I may pick this up later but for now its open to anyone who wants to dive in, I just wanted to get it in the system as I discovered it while fixing another issue; have a few other priorities  ahead of this...

[2018-10-12 16:23] jimharris commented on #456
Hi @xuhuagen - why was this issue closed?

[2018-10-12 20:11] johnmeneghini commented on #317
Closing this since there doesn't seem to be the need or desire for ANA in SPDK

[2018-10-12 20:35] johnmeneghini opened #458 "create_vbox.sh fails to provision fedora27 with virtualbox"
Running `create_vbox.sh -p virtualbox -d fedora27` on my MacBook running OSX 10.12.6 produces errors.

The VM is successfully provisioned, but errors are returned during the install.

## Expected Behavior

script should complete without error

## Current Behavior

[code]

## Possible Solution

[code]

## Steps to Reproduce

1.  git clone https://review.gerrithub.io/spdk/spdk
2. spdk/scripts/vagran

[2018-10-12 21:01] ak-gh commented on #317
On Fri, Oct 12, 2018, 22:11 John Meneghini <notifications@github.com> wrote:

John,

based on your reaponse to my question re ANA support in SPDK few months
back, I thought this is goimg forward. Any details on why you don't believe
it needed?

Thanks,
Andrey

--

Regards,
Andrey

[2018-10-15 05:58] WenqianZong opened #459 "RPC CMD "list_nvme_device -t namespace" with NVMe-of hadn't output"
When use rpc cmd "list_nvme_device -t namespace" with NVMe-of, it hadn't output corresponding data.
## Expected Behavior
Use cmd "list_nvme_device -t namespace" will output namespace data.
{
  "device_names": [
    "Nvme0n1"
  ]
}
## Current Behavior
Use rpc cmd "list_nvme_device -t namespace" with NVMe-of, it hadn't output .
{
  "device_names": []
}

## Possible Solution

## Steps to Reproduce
1.

[2018-10-15 08:35] wuzhouhui opened #460 "After bdev hot-removed, spdk crashes when qemu connect to vhost-blk socket"
After bdev hot-removed, spdk crashes when qemu connect to vhost-blk socket

## Expected Behavior

spdk do not crash

## Current Behavior

spdk crashed

## Possible Solution

Lock or serialize when hot-remove-cb and `spdk_vhost_blk_get_config()` accesses bdev.

## Steps to Reproduce

1. Start vhost target
2. Construct a malloc bdev
3. Construct vhost-blk-controller with malloc bdev that step 2 crea

[2018-10-15 20:43] peluse opened #461 "Recent change to pkgdep.sh to build ipsec as non-root results in error"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Recent change to pkgdep.sh to build ipsec as non-root results in

## Expected Behavior

If I 'sudo make uninstall' from the intel-ipsec-mb dir and then run pkgdep.sh as root I expect the lirbary to be installed without errors.

##

[2018-10-15 21:40] benlwalker commented on #461
With those steps, pkgdep still fails. This patch fixes it:

https://review.gerrithub.io/#/c/spdk/spdk/+/429527/

[2018-10-16 02:45] ChenWang01 commented on #460
I can reproduce this issue in our environment with master branch (1c16c6c088549cd78b4142004a7b663914f6a0df)
Qemu log:
[code]

The Core dump didn't occurred when run the SPDK Vhost-scsi, i can log into the VM but can't find the scsi device in the VM.

[2018-10-16 05:31] wanqunintel commented on #450
@jonathanrichardson , it seems that your network configuration for rdma nic need to be reconfigured after reboot on the initiator, @WenqianZong can help to provide more detailed info later.

[2018-10-16 05:33] wanqunintel commented on #449
@peluse , is there any patches comes out?

[2018-10-16 05:50] liang2yan commented on #438
@jonathanrichardson , Ben's patch has been merged. Can you try to reproduce this issue with latest codes?

[2018-10-16 05:53] #434 closed

[2018-10-16 05:54] #432 closed

[2018-10-16 06:01] liang2yan commented on #418
@benlwalker , any patches for this issue?

[2018-10-16 06:02] darsto commented on #460
@wuzhouhui

Thanks for the report. Fixed here -
https://review.gerrithub.io/c/spdk/spdk/+/417934

[2018-10-16 06:04] wanqunintel commented on #410
it seems Ziye's patch has been abandoned, can you have a look now @ZiyeYang

[2018-10-16 06:06] liang2yan commented on #407
@Maciej-Szwed , any patch for this issue?

[2018-10-16 06:07] wanqunintel commented on #310
@liang2yan , would you verify this with Changpeng's patch

[2018-10-16 06:08] wanqunintel commented on #245
@YamboZhou , is there any patch for it?

[2018-10-16 06:30] WenqianZong commented on #450
@jonathanrichardson After reboot initator ,you need do following operation:
1. configure ip and ping target machine successful
2.modprobe mlx5_ib
   modprobe mlx4_ib
   modprobe nvme_rdma
   modprobe nvme_fabrics
3.run perf with rdma

[2018-10-16 06:45] Maciej-Szwed commented on #407
@liang2yan it should be ready at the end of this week

[2018-10-16 06:57] yidong0635 commented on #458
@johnmeneghini  now we don't have the environment  which all the same as yours.
but you can follow the **README.md** to execute the installation procedures:

several key commands:
[code]
we already setup successfully in fedora26/fedora27/ubuntu.

[2018-10-16 07:21] wuzhouhui opened #462 "Wrong judgement about vfio availability"
`scripts/setup.sh` bind nvme device to uio, but vhost-target think vfio is available, and cause initialization of nvme device failed.

## Expected Behavior
Vhost-target think vfio is unavailable and works as usual.

## Current Behavior
Initialization of nvme device failed and vhost-target app stuck.

## Possible Solution
spdk (or dpdk) and `scripts/setup.sh` should determine the availability of vf

[2018-10-16 07:51] ChenWang01 commented on #427
Since these patches have been merged into the spdk/dpdk repository, I use the "git submodule update --init" to download the DPDK code and checkout to the spdk-18.08 branch, but i can't find the changes in https://review.gerrithub.io/c/spdk/dpdk/+/425578

[2018-10-16 08:16] wuzhouhui commented on #460
This patch set 4 works for me, and `lsblk` won't display the information about the bdev that hot-removed.

[2018-10-16 11:07] peluse commented on #449
Same patch, just one last (I think) revision just pushed for formatting stuff...

[2018-10-16 11:07] peluse commented on #439
OK thanks,.  I'd say focus on the rsync errors,

[2018-10-16 11:09] peluse commented on #454
I don't plan on picking this up but I can if nobody else does.  Not sure what the larger community thinks of how important it is, seems like it would be but then again nobody has reported it before :)  Good one to cover in the Wed eve bug scrub for sure

[2018-10-16 12:34] jimharris commented on #439
https://review.gerrithub.io/#/c/spdk/spdk/+/429517/ was merged yesterday - it should fix the rsync errors.

[2018-10-16 19:50] pawelkax opened #463 "Cannot start spdk app"
Cannot start spdk app if configure spdk with --with-shared flag.

## Expected Behavior
Can run vhost.

## Current Behavior
./app/vhost/vhost: error while loading shared libraries: libspdk_vhost.so.1: cannot open shared object file: No such file or directory

## Possible Solution
None

## Steps to Reproduce
1. ./configure --enable-debug --enable-werror --enable-coverage --enable-ubsan --enable-asan

[2018-10-17 01:07] WenqianZong commented on #463
I can reproduce this issue on fedora 28. Following is error log:
`./app/vhost/vhost: error while loading shared libraries: libspdk_vbdev_lvol.so.1: cannot open shared object file: No such file or directory`

[2018-10-17 01:30] wuzhouhui commented on #463
The dynamic librasy (*.so) should be put on certain library, so they can be found on runtime. So you can resolve issue by:
    a. make install before start spdk app
or
    b. add directory that contains spdk *.so into /etc/ld.so.conf, run ldconfig. Then, the spdk app can be started.

[2018-10-17 01:38] wuzhouhui commented on #463
If you don't want to install shared library or change /etc/ld.so.conf, you can run spdk app by `LD_LIBRARY_PATH=build/lib/ ./app/vhost/vhost`

[2018-10-17 02:11] WenqianZong commented on #463
I use following command to setup vhost successful:
1.  ./configure --enable-debug --enable-werror --enable-coverage --enable-ubsan --enable-asan --with-rdma --with-pmdk --with-iscsi-initiator --with-shared 
2.   make && make DESTDIR=~ install && ldconfig -v -n ~/usr/local/lib 
3.   export LD_LIBRARY_PATH=~/usr/local/lib 
4.   ./app/vhost/vhost

[2018-10-17 02:13] ChenWang01 commented on #410
I have used the SPDK master(e66d09029bf8826196fa87dabef561641387c798) branch and DPDK(18.02.2) version to verify this issue.
This issue can’t be reproduced with latest code.

[2018-10-17 05:17] liang2yan commented on #310
verified this issue with patch https://review.gerrithub.io/#/c/spdk/spdk/+/424622/ . This issue still can be reproduced.

[2018-10-17 06:08] wanghailiangx commented on #442
https://review.gerrithub.io/#/c/spdk/spdk/+/426199/ This patch disabled running_config test temporarily.

[2018-10-17 06:44] wanghailiangx commented on #442
@shuhei-matsumoto this issue does not occur again. Shall we close it, or set low bug label?

[2018-10-17 07:58] Maciej-Szwed commented on #411
@WenqianZong @liang2yan there has been some fixes merged recently. Could you please try again with latest master?

[2018-10-17 08:39] xuhuagen commented on #441
@yangliang20065613

My enviromet is
OS version: kernel:4.17.1 Linux Distribution：CentOS Linux release 7.5.1804 (AltArch)
NVMe SSD： Intel P3700 *8
user nvme driver： uio
HUGEPAGE counter：8192
HUGEPAGE size：2048k
The configuration file of Nvmf target and fio jobfile is samilar to yours.

 **I send SIGTERM to kill nvmf_tgt  in target machine when fiojob is running in initiator**

**if SPDK version is

[2018-10-17 08:51] pawelwod commented on #427
I asked @jimharris on IRC about this some time ago. He told me that the is some issue with sync gerrit <-> github on this patch. I tought that this was fixed but apparently not :(

[2018-10-17 09:33] pawelkax commented on #463
I use this commands:
1. ./configure --enable-debug --enable-werror --enable-coverage --enable-ubsan --enable-asan --with-rdma --with-pmdk --with-iscsi-initiator --with-shared
2. make && ldconfig -v -n ./build/lib
3. LD_LIBRARY_PATH=./build/lib/ ./app/vhost/vhost

[2018-10-17 09:55] wanghailiangx commented on #409
Due to changes in the SPDK version, there is a problem with reproducing now.
Updated steps:
3./scripts/rpc.py nvmf_subsystem_create -s SPDK0 nqn.2014-08.org.spdk:cnode1 -a
4./examples/nvme/perf/perf -r 'trtype:RDMA adrfam:IPv4 traddr:192.168.11.11 trsvcid:4420' -q 128 -s 4096 -w randread -t 5 -c 0x2 -o 4096

nvmf_subsystem_create which have replace construct_nvmf_subsystem can't set RDMA listen ad

[2018-10-17 10:22] pawelkax opened #464 "Missing target uninstall"
There should be possibility to uninstall spdk

## Expected Behavior
Can run: make uninstall

## Current Behavior
make: *** No rule to make target 'uninstall'.  Stop.

## Possible Solution
None

## Steps to Reproduce
1. ./configure --enable-debug --enable-werror --enable-coverage --enable-ubsan --enable-asan --with-rdma --with-pmdk --with-iscsi-initiator --with-shared
2. make && make install
3. mak

[2018-10-17 20:56] jonathanrichardson commented on #450
Yes that's what I do. But on power loss spdk thinks the initiator is still connected. This is what happens:

1.	Initiator connects after reboot
2.	Target sends ConnectReject with reason “connection stale”
3.	Target sends DisconnectRequest
4.	Initiator gives up saying can't connect. According to the spec it should move into a Time Wait state.
From the IB spec:
 Stale connection The recipient of the

[2018-10-18 04:13] YamboZhou commented on #279
It's difficult to response this problem. It seems like these issues including #279, #245 and #234 are the same problem. The file size recorded in MANIFAST mismatches the actual file size, which is the consistency problem caused by the write_sync operation in BlobFS.

[2018-10-18 04:13] YamboZhou commented on #245
It's difficult to response this problem. It seems like these issues including #279, #245 and #234 are the same problem. The file size recorded in MANIFAST mismatches the actual file size, which is the consistency problem caused by the write_sync operation in BlobFS.

[2018-10-18 05:00] wanqunintel commented on #410
Close as issue can not reproduce

[2018-10-18 05:00] #410 closed

[2018-10-18 05:03] wanqunintel commented on #427
Hi, @jimharris , will this gerrit<->github sync issue be fixed?

[2018-10-18 05:06] wanqunintel commented on #454
@peluse , Gang will look into this issue.

[2018-10-18 05:14] wanqunintel commented on #463
@pawelkax , would you try with Wenqian's step with addition of make DESTDIR=~ install, she can successfully load spdk with the steps above.

[2018-10-18 05:34] ChenWang01 commented on #460
https://review.gerrithub.io/c/spdk/spdk/+/417934 this patch can fix this issue.

[2018-10-18 05:46] Comphix commented on #454
Looking at this issue.

[2018-10-18 06:47] WenqianZong opened #465 "NVMF target Memory leaks when send SIGTERM after finish fioplugin test"
nvmf taget occurred memory leaks when send SIGTERM after initator finished fioplugin test.

## Expected Behavior
no error occurred

## Current Behavior
nvmf taget occurred memory leaks

[code]

## Possible Solution

## Steps to Reproduce
On target:
1.  ./configure --with-dpdk=/home/xuhuagen/dpdk-18.02/x86_64-native-linuxapp-gcc/ --with-rdma --enable-asan --enable-debug
2.  make clean && make -j
3.

[2018-10-18 06:54] WenqianZong commented on #411
I use latest spdk version and dpdk 18.02 to verify this issue ,and it can not be reproduced. But on initator machine ,sometimes run fio hung and display following error, on target machine ,no error occurred. I will continue the test.
[code]

[2018-10-18 15:29] jimharris commented on #362
Changing this to an enhancement rather than bug.  Users choose which application to send an RPC to attach a newly inserted NVMe controller, so blacklist is not required - it would be an enhancement.

[2018-10-18 21:10] youngtack commented on #362
Hi @tomzawadzki,

With the tip version, `commit 2975822` of `Thu Oct 18 16:18:00 2018 +0000`, still the un-whitelisted devices can be attached as below. Do you have any patch not upstreamed to fix this?
[code]
Thanks,
YT

[2018-10-18 22:59] jimharris commented on #465
Hi @WenqianZong,

Do you see this issue with the DPDK submodule in the SPDK repository?  We should focus the testing on that version of DPDK - not DPDK 18.02.

There was a known ASAN issue with upstream DPDK in DPDK 18.02.  The submodule had a fix for it.

(Removing bug label for now.)

Thanks,

-Jim

[2018-10-18 23:03] jimharris commented on #427
This should be fixed now.

[2018-10-18 23:30] jparairo opened #466 "nvme device with 0 default namespace"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

no error

## Current Behavior

nvme_ctrlr.c: 906:nvme_ctrlr_identify_active_ns: *ERROR*: Failed to allocate active_ns_list!
nvme.c: 423:nvme_init_controllers: *ERROR*: Failed to initialize SSD: 0000:64:00.0
sp

[2018-10-18 23:52] jimharris commented on #466
Hi @jparairo,

I've walked through the nvme_ctrlr.c state machine - I think everything there is fine, but I don't have a setup available with a 0 namespace controller at the moment.

But lib/bdev/nvme/bdev_nvme.c looks suspect.  Both create_ctrlr() and nvme_ctrlr_create_bdevs() will bail early if the ctrlr has no namespaces.

Is this something you'd be interested in looking into further?  I would

[2018-10-19 01:35] jparairo commented on #466
hi @jimharris,

Yes, it's the same behavior as the master.

I tried running hello_world, identify, and nvme_manage in the ./examples/nvme using Intel SSD:
**Model Number:                          INTEL SSDPE2MX400G4**

and always during nvme_ctrlr_construct_namespaces, before if (nn != ctrlr->num_ns),
ctrlr->cdata.nn = 1
ctrlr->num_ns = 0

running the same tests with a  device that has NO namespac

[2018-10-19 02:34] ChenWang01 commented on #427
Yeh , the gerrit<->github sync issue has been fixed, and we can find the changes in the github.
I have cloned the spdk/dpdk code with spdk-18.08 branch and compiled with SPDK master branch.
The huge files can be deleted when used the vhost application with "-R", but the Nvmf and Iscsi target started failed.
Nvmf-tgt:
[code]
Iscsi-tgt:
[code]

[2018-10-19 05:37] WenqianZong commented on #465
I test this issue with the DPDK submodule in the SPDK, memory leaks didn't occurred. So close it.

[2018-10-19 05:37] #465 closed

[2018-10-19 06:17] Comphix commented on #454
Tried the latest code, and seems that no core dump hit by so far. For the high queue like 256, it does need more time for the bdevperf to complete. Below is some data, IO took long time for 256 queue depth.

[root@node4 bdevperf]# ./bdevperf -c ./bdev.conf -q 256 -o 4096 -t 30 -w reset -m 0x100000
Ignoring -m option. Verify can only run with a single core.
Starting SPDK v18.10-pre / DPDK 18.05.0 i

[2018-10-19 08:12] huiminglai opened #467 "Segmentation fault (core dumped) when running fio plugin with bs=1M"
When running the fio plugin with "bs=1M", I get a segmentation fault error, and this error will happen when set bs=512k too.
I also test "bs=4k" and fio job can run successfully.

## Expected Behavior
When set "bs=4k" and fio job can runs successfully.

fio --numjobs=1 --iodepth=128 --bs=4k --name=SWPre --filename="trtype=PCIe traddr=0000.86.00.0 ns=1" --thread=1 --rw=randwrite --direct=1 --ioengi

[2018-10-19 09:57] pohly opened #468 "rbd: make rbd config file optional"
Right now, constructing an RBD BDev only allows specifying the rbd pool. All other configuration options are expected to be in one of the rbd config files:
https://github.com/spdk/spdk/blob/master/lib/bdev/rbd/bdev_rbd.c#L98-L114

This is problematic when trying to create BDevs for different RBD clusters, because the config file would have to be modified before each `construct_rbd_bdev` call.

##

[2018-10-19 09:59] pohly commented on #468
I can prepare a patch, but some guidance whether such a patch would be accepted would be nice.

[2018-10-19 14:47] jimharris commented on #468
Hi Patrick,

This seems like a good - even required - addition to the RBD driver.  Please move forward with your proposal.

From your perspective as a user of this interface, would passing a path to a config file be sufficient?  This would certainly be simpler to implement within SPDK, but would require you to put your key/value pairs in a file, specify the file path to SPDK, and then delete this

[2018-10-19 14:58] pelplinski commented on #467
Tried to replicate on Fedora 27 with P3700 drive.
Issue is not present on my system.

[2018-10-19 15:40] pohly commented on #468
Jim Harris <notifications@github.com> writes:

The call will be local, so a file would work. But I think passing all
information as part of the JSON parameters would be cleaner and less
work on the client side of the RPC interface (at least when using
something higher-level than C).

Is there some support code in spdk for passing maps via JSON? That's
what we have here.

[2018-10-19 15:50] jimharris commented on #468
SPDK has support for parsing arrays of JSON objects (see spdk_json_decode_array).  But I'm not sure we have any examples of arrays with arbitrary names for strings.  Adding @pawelwod - he's one of our JSON-RPC experts.  Pawel - can you give Patrick some guidance here?

[2018-10-19 16:00] ak-gh commented on #336
Just for me to understand, has this been added to the 18.10 queue or there
are some snags preventing it?

Thanks,
Andrey

On Sat, Sep 29, 2018, 20:18 Andrey Kuzmin <andrey.v.kuzmin@gmail.com> wrote:

[2018-10-19 17:19] optimistyzy commented on #454
Hi Gang,

Are you sure? For the latest code, our SPDK iSCSi target will use the
nonblack model for writing out the data.

GangCao <notifications@github.com> 于2018年10月18日周四 下午11:17写道：

[2018-10-20 20:36] repu1sion commented on #446
Thanks Jim! That helped a lot!
But one more question.

After creating raid device, can I just open it and work with it as with common bdev device?

For example:
struct raid_bdev_config *raid_cfg = raid_bdev_config_find_by_name(RAID_DEVICE);
struct spdk_bdev *bd = &raid_cfg->raid_bdev->bdev;
rv = spdk_bdev_open(bd, 1, NULL, NULL, &desc);
struct spdk_io_channel *ch = spdk_bdev_get_io_channel(desc);

[2018-10-20 21:36] peluse commented on #446
Yup, that’s the cool thing about virtual bdevs, interact with all of them the same way… I’m sure you’ve seen the basic example for red/write a bdev/vbdev, exact steps are all in there…   https://github.com/spdk/spdk/tree/master/examples/bdev/hello_world

[2018-10-22 03:44] peluse commented on #449
If its convenient can you please re-test on master? I honestly don't suspect anything but the patch has already merged - I will retest in the morning also on master but it passed here (at the time) running for 6000 seconds.

[2018-10-22 03:48] peluse commented on #454
Note that I was not using loopback, I don't know if that makes any difference or not but I suspect it might if this is somehow related to how long it takes.  Can you try running with 2 machines? Also, when you say " it does need more time for the bdevperf to complete" are you changing a setting somewhere, seeing something in a debug log or what drove you to make this statement?  Thanks!

[2018-10-22 06:05] xuhuagen commented on #449
@peluse  The patch I tried is https://review.gerrithub.io/#/c/spdk/spdk/+/428552/,it not be merged in geriithub. do you have another patch for this issue?
and I re-test it on master, the core dumped still occur.

[2018-10-22 08:11] pawelwod commented on #416
There is work-in-progress about fixing such link problems but I'm afraid that patches might be ready after release.

[2018-10-22 08:14] tomzawadzki commented on #362
Hi @youngtack

Sorry I should have pointed to the patch. The fixed issue I meant was with loading multiple addresses into whitelist/blacklist in patch https://review.gerrithub.io/c/spdk/spdk/+/420211/

What you describe is in regards to respecting whitelist when user explicitly tries to attach the PCI device. As noted, the current approach in DPDK seems to allow user to attach PCI devices regardle

[2018-10-22 12:48] peluse commented on #449
Yeah I was thinking of a different one and GH was down last night. You are correct.  I'll let you know later this morning if I can repro, looks like I have a few more comments to address on the patch as well.  Thanks!!

[2018-10-22 13:05] Comphix commented on #454
Just have a simple script to run the testing with queue depth 1024/512/256/128/64 and before each run, log the time, below is the result from the two machines:

Mon Oct 22 20:55:00 CST 2018
./bdevperf -c ./bdev.conf -q 1024 -o 4096 -t 30 -w reset -m 0x100000
Starting SPDK v18.10-pre / DPDK 18.05.0 initialization...
Running I/O for 30 seconds...
 Logical core: 0
 iSCSI0              :      97.57 IO

[2018-10-22 15:51] youngtack commented on #362
Hi @tkulasek,

What do you think on your dpdk patch, http://patches.dpdk.org/patch/44149/ to make it only for whitelist? I have no concern on the current behavior of blacklist at hot plug.

Thanks,
YT

[2018-10-22 17:14] peluse commented on #449
Hmmm, I can now reproduce easily.  Thanks for re-testing, I'll get this updated shortly

[2018-10-23 01:14] peluse commented on #449
So I should first apologize for having you test something that I failed to properly regress - it passed for me because I was only using one bdev.  I'll put more details in the commit message if you're interested but, again, this was a really great find by you.  The crypto patch made it to master w/o any reset handling because we had never had a vbdev that had outstanding IO that weren't under it (

[2018-10-23 01:32] shuhei-matsumoto commented on #457
@wanqunintel

Thank you for looking this patch and sorry for the late reply.

qd=20 was used and reported by my team member. We just wanted to do stress test for iSCSI error handling and didn't have any particular intention.

I submitted a patch https://review.gerrithub.io/#/c/spdk/spdk/+/430397/ to fix the issue.
It looks that the issue was fixed so far. If stress test continues today, I will be

[2018-10-23 01:37] peluse commented on #454
thanks!  Yeah #3 is why I submitted the issue. Just a shot in the dark but I wonder if this is related to issue #457?

[2018-10-23 02:04] xuhuagen commented on #463
@pawelkax  compile spdk with --with-shared flag. The steps as below:
[code]
if you can start spdk app success, this issue can be closed.

[2018-10-23 02:08] shuhei-matsumoto commented on #454
@peluse  #457 doesn't look related.

It looks that the target received an out-of-order command and exit the current connection correctly. (#457 caused segmentation fault in the target.)

Which of the initiator or the target should be addressed here?
It looks that the behavior of the target looks normal and the behavior of the initiator is against our expectation?
Out-of-order command should not be

[2018-10-23 02:29] Comphix commented on #454
@shuhei-matsumoto, so far it seems the initiator needs more time to exit although we set the running time to 30 seconds. I will keep a look. Thanks for the comments.

[2018-10-23 02:31] peluse commented on #454
thanks guys! I don't have much insight into this I just filled it as "unexpected" which seems to be the case.  I can repro or test or whatever but other than that am along just for the learning :)

[2018-10-23 03:01] xuhuagen commented on #467
@huiminglai
I try reproduce on Centos 7.5 with P3700 drive
I set bs=1M/2M/,fio job can run successfully.  if bs more bigger,
`fio: pid=36576, err=12/file:memory.c:332, func=iomem allocation, error=Cannot allocate memory
`
fio exit normally.
This should relate on the size of memory in machine.

[2018-10-23 03:19] huiminglai commented on #467
Thanks for your test, I can run fio job with bs=1M  after add below text in grub (enabled iommu).
intel_iommu=on iommu=pt

[2018-10-23 03:30] shuhei-matsumoto commented on #457
The issue reported here was fixed but calsoft (iSCSI certification test) failed. I'll continue investigation.

[2018-10-23 06:01] wanghailiangx opened #470 "build.log not generated in "fedora-03" server for NIGHTLY Test"
Logs generated in "fedora-03" server for NIGHTLY Test, but no "build.log".
[TXT] agent_timing.txt                                                         2018-10-22 05:48    3
[TXT] all_tests.txt                                                            2018-10-22 05:48  842
[TXT] dmesg.log                                                                2018-10-22 05:48    0
[TXT] doxygen.log

[2018-10-23 06:52] shuhei-matsumoto commented on #457
I changed the patch and now fixed the issue and passed the calsoft test.

[2018-10-23 07:18] wanghailiangx opened #471 "nvme reports parameters errors in NIGHTLY Test"
test/nvmf/nvme_cli/nvme_cli.sh reports errors:

 08:22:28	# ./nvme discover -t rdma -a 10.0.2.15 -s 4420
Starting SPDK v18.10-pre / DPDK 18.05.0 initialization...
[ DPDK EAL parameters: nvme_cli -c 0x100 -m 512 --legacy-mem --file-prefix=spdk0 --base-virtaddr=0x200000000000 --proc-type=auto ]
EAL: Detected 8 lcore(s)
EAL: Detected 1 NUMA nodes
EAL: lcore 8 unavailable
EAL: invalid coremask
EAL: FA

[2018-10-23 08:45] pelplinski commented on #463
@pawelkax I build spdk with commands you mentioned and vhost is working fine
My OS is Fedora 27,  commit 2772d86c23148d3cd575b1c814584fa0946acc0d

[2018-10-23 09:32] Comphix commented on #454
The lower IOPS with high queue depth (>128) is due to below error and trigger the backend reset

(conn.c:1132:spdk_iscsi_conn_flush_pdus_internal: ERROR: spdk_sock_writev() failed, errno 9: Bad file descriptor)

Looking at the implementation, seems like the sock is NULL when hitting this error (9: Bad file descriptor)

[2018-10-23 10:20] pawelwod commented on #468
Hi @pohly,

I'm not an expert in RBD so need to ask what kind of maps you want to pass over RPC? If this is just JSON object of "key: values" series it is easy to do. Check this patch https://review.gerrithub.io/#/c/spdk/spdk/+/430433/ You can pick this patch as starting point.

`

`

[2018-10-23 11:01] pohly commented on #468
pawelwod <notifications@github.com> writes:

Arbitrary key/value pairs of strings. In other words, I don't want to
enumerate the valid keys in SPDK, because all it needs to do is pass
them through to rados_conf_set().

That shows how to add certain config values.

I have something working that supports arbitrary key/value pairs. I'll
submit a PR soon.

[2018-10-23 12:44] pohly commented on #468
"Patrick Ohly" <patrick.ohly@intel.com> writes:

Please see https://review.gerrithub.io/c/spdk/spdk/+/430460

[2018-10-23 13:46] peluse commented on #463
@pelplinski do you knowif those steps are documented anywhere?

[2018-10-23 14:01] pawelwod commented on #468
@pohly See my comments to this patch

[2018-10-23 14:06] pawelwod commented on #463
@peluse @pelplinski
Is `make `__install__ required for "shared" build? I think you can have your setup polluted from previous "make install" but this is only my guess.

[2018-10-23 15:42] pelplinski commented on #463
I haven't seen it anywhere besides this github issue. I can update documentation tomorrow.

Ok, I actually did:
[code]

So, I think that `make install` is not required for shared build.

[2018-10-23 16:35] peterjweir opened #472 "fio_plugin with prchk guard is not performant."
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context (Environment including OS version, SPDK version, etc.)

[2018-10-23 16:35] #472 closed

[2018-10-23 16:48] peterjweir opened #473 "fio_plugin with prchk=GUARD is not performant"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

When using fio plugin with 520-dif format, the crc16 being used to calculate the guard check is a major bottleneck to software performance

## Expected Behavior

Ideally, spdk would be able to perform the crc check fast enough to e

[2018-10-23 17:04] peterjweir opened #474 "fio_plugin with md support not calculating lba size correctly with extended lba."
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

When using an extended lba format, the fio_plugin does not correctly use the size of the lba for the transfer,

## Expected Behavior

fio_plugin should be using the extended lba to calculate transfer sizes when using formats like 5

[2018-10-23 17:15] Seth5141 commented on #458
Hi @johnmeneghini,

Can you please verify that Ben's patch https://review.gerrithub.io/c/spdk/spdk/+/429282 fixed this issue for you?

[2018-10-23 17:33] repu1sion commented on #446
anyway, when I call the sequence above I have a segfault like this:
[code]
any ideas why it could fail during inserting desc into bdev->internal.open_descs ?

[2018-10-23 17:55] #460 closed

[2018-10-23 18:05] tkulasek commented on #362
Hi @youngtack

Whitelists nor blacklists are not supported at all in the DPDK, by design, and it seems to be enough reasonable for me for the DPDK point of view. There's not a difference between implementation of white and blacklists, they are complementary and implemented the same way for non-hotplugged devices, so I don't think that implementing only whitelist for hotplug devices is the solution

[2018-10-23 20:52] jimharris commented on #471
There are two bugs here - not just the failure that you've reported, but also that nvme_cli.sh does not recognize this as a failure!

See http://spdk.intel.com/public/spdk/builds/review/e91464674eef9430c6d967c7b76ad81caa54d273.1540296064/

fedora-06 has this failure, but it's reported as a Pass.

[2018-10-24 02:00] shuhei-matsumoto commented on #457
No issue observed for a day in my evaluation.

[2018-10-24 02:00] #457 closed

[2018-10-24 07:41] Comphix commented on #454
For the reset, it is from the error and close the connection as following:
	spdk_iscsi_conn_destruct
		spdk_iscsi_conn_cleanup_backend
			spdk_iscsi_tgt_node_cleanup_luns
				spdk_scsi_dev_queue_mgmt_task(target->dev, &task->scsi, SPDK_SCSI_TASK_FUNC_LUN_RESET);

[2018-10-24 08:00] Comphix commented on #454
So that this behavior looks like expected. Met some out-of-order error, the connection close, reset triggered, IOPS dropped. One thing may need further investigation is why the out-of-order error hit with high queue depth？ Is this also expected? Could be relating to some of the node setting where the initial queue depth has been configured to 256.

[2018-10-24 09:15] ChenWang01 opened #475 "The contents should be updated in the "https://spdk.io/roadmap/""
The SPDK 18.07 version has been released and the SPDK 18.10 version will come, So we should update the contents on the "ROADMAP" label in the "https://spdk.io/roadmap/" website.

## Expected Behavior

[code]

## Current Behavior
[code]
## Possible Solution
Update the website "https://spdk.io/roadmap/".

## Steps to Reproduce

1.  Go to https://spdk.io/roadmap/
2.
3.
4.

[2018-10-24 09:23] wanghailiangx commented on #471
08:22:28	# ./nvme discover -t rdma -a 10.0.2.15 -s 4420
Starting SPDK v18.10-pre / DPDK 18.05.0 initialization...
[ DPDK EAL parameters: nvme_cli -c 0x100 -m 512 --legacy-mem --file-prefix=spdk0 --base-virtaddr=0x200000000000 --proc-type=auto ]
EAL: Detected 8 lcore(s)
EAL: Detected 1 NUMA nodes
EAL: lcore 8 unavailable
EAL: invalid coremask
EAL: FATAL: Invalid 'command line' arguments.
EAL: Inval

[2018-10-24 09:52] wanghailiangx opened #476 "rpc_client reports AIO error in NIGHTLY Test"
START TEST SUITE test/rpc_client/rpc_client.sh
......
vbdev_passthru.c: 603:vbdev_passthru_register: *NOTICE*: created pt_bdev for: TestPT
bdev_aio.c:  90:bdev_aio_open: *ERROR*: open() failed (file:/tmp/aiofile), errno 2: No such file or directory
bdev_aio.c: 539:create_aio_disk: *ERROR*: Unable to open file /tmp/aiofile. fd: -1 errno: 2
bdev_aio.c: 702:bdev_aio_initialize: *ERROR*: Unable to cre

[2018-10-24 09:54] pawelwod commented on #476
AIO and bdev_svc is not needed in this test. It will be fixed when https://review.gerrithub.io/#/c/spdk/spdk/+/430316/ is merged.

[2018-10-24 10:03] wanghailiangx commented on #476
Thanks a lot for prompt reply.

[2018-10-24 12:39] pelplinski commented on #463
@peluse
https://review.gerrithub.io/c/spdk/spdk/+/430538

[2018-10-24 17:52] youngtack commented on #362
Hi @tkulasek,

Then do you mean both of whitelist and blacklist has no effect on non-hotplugged devices? I've been just wanted to have whitelist for non-hotplugged devices.

Thanks,
YT

[2018-10-24 22:02] WilsonkcLo opened #477 "SPDK v18.07 can't detect all my SSD disks"
I install SPDK v18.07 on my system with 18x SSD disk.  But it only detects two disks after I run the setup.sh.  If I run the "setup.sh reset", it shows all 18x nvme disks.  I run the "pref" command on the detected disk and the command works fine.

## Expected Behavior
Shows all disks after running the setup.sh

## Current Behavior
Only shows two disks out of 18x disks.  Log file is below -
***** B

[2018-10-24 22:36] jimharris commented on #477
Hi,

I have a few questions/requests:

Please provide anything you see in dmesg after you've run these setup.sh commands.
Please also try running the setup.sh script again, but after modifying it to remove the redirections to /dev/null in linux_bind_driver().  That may provide some clues.
Can you provide some more details on the platform?
"I run the "pref" command on the detected disk and the comm

[2018-10-24 23:01] WilsonkcLo commented on #477
I can only run the command with PCIe address "0000:41:00.0" or "0000:42:00.0", other address will get undetected physical address failure (command is below)
~/spdk/examples/nvme/perf/perf -q 128 -o 4096 -w randread -r 'trtype:PCIe traddr:0000:41:00.0' -t 300

If I remove the redirection in linux_bind_driver(), the dmesg is below
amd@amd-s1:~/spdk$ sudo scripts/setup.sh
0000:02:00.0 (144d a808): nv

[2018-10-24 23:03] repu1sion commented on #446
ok, nvm about last segfault. I found the issue.

[2018-10-24 23:09] jimharris commented on #477
Hi @WilsonkcLo,

setup.sh line 109 on v18.07 does not look like a write operation.  Is it possible you have locally modified setup.sh?

Some more details on the platform would also be appreciated.

Thanks,

-Jim

[2018-10-25 04:17] wanqunintel commented on #467
@huiminglai , shall we close this issue since it's fixed with configuration.

[2018-10-25 04:34] jimharris commented on #439
Jim to increase size of malloc bdev used for backing storage for iSCSI LUN.

[2018-10-25 04:36] jimharris commented on #438
We believe this issue is fixed.  @jonathanrichardson - please reopen if you are able to reproduce with the latest SPDK master branch.

[2018-10-25 04:36] #438 closed

[2018-10-25 04:37] jimharris commented on #429
@alantu02 - could you re-run your test with the latest SPDK master when you have a chance?  We recently found an issue with setting O_NONBLOCK on iSCSI TCP sockets - it's possible this was affecting the random write performance.

[2018-10-25 04:38] jimharris commented on #418
@benlwalker has a patch set to address this issue.  It has not been merged yet.

[2018-10-25 04:43] jimharris commented on #362
@liang2yan - could you try a test with 2 NVMe SSDs - attach one SSD to each of two separate primary processes

The processes could be iSCSI, or bdev_svc w/ nbd.

We want to confirm that SPDK will support this.

[2018-10-25 05:39] shuhei-matsumoto commented on #473
And I think the current implementation of PI on top of the SPDK NVMe driver is very preliminary and the performance may be lower even if this fix works.

[2018-10-25 07:43] xuhuagen commented on #477
My environment:
CentOS Linux release 7.5.1804 (Core)
kernel: 4.17.1
I git checkout v18.07, run the "pref" command and all my SSD disks can be detected.

[2018-10-25 07:47] ChenWang01 commented on #459
https://review.gerrithub.io/c/spdk/spdk/+/419094
The patch has changed the "list_nvme_devices" method to be “get_nvme_controllers” . And it only list available nvme controller and related transport ID.
We can used the "get_bdevs" rpc method to get the namespace information.

[2018-10-25 09:45] Comphix commented on #471
I will take a look at this.

[2018-10-25 10:26] wanghailiangx opened #478 "spdk_vhost reports GPT Primary MBR size error in NIGHTLY Test"
START TEST SUITE ./test/vhost/spdk_vhost.sh --integrity-lvol-scsi-nightly
......
  08:26:11	# /home/sys_sgsw/build_pool/agent/repo/test/vhost/common/../../..//scripts/rpc.py -s /home/sys_sgsw/build_pool/agent/vhost0/rpc.sock construct_lvol_bdev -u d0a9e7e0-81d1-40e2-9a7d-385893c8bf7f lbd_vm_0 40916
gpt.c: 197:spdk_gpt_check_mbr: *ERROR*: GPT Primary MBR size does not equal: (record_size 20479999 !

[2018-10-25 12:48] liang2yan commented on #362
I have run following steps to verify if spdk support this function:
[code]

Then I run parted command to format these two nbd devices, /dev/nbd0 and /dev/nbd1.
No error found.

[2018-10-25 14:19] pelplinski commented on #464
@pawelkax Do you have any thoughts on approach we should take here?

1. We can track files generated during make install (like install_manifest.txt generated with cmake)
But what, if install_manifest.txt is missing (for example due to git clean -xf)?
2. We can delete all files based on current dependencies in makefile.
This might be generate problems if user tries to uninstall older spdk with newe

[2018-10-25 15:01] WilsonkcLo commented on #477
Hi,
The setup.sh is the original file.  I would like to confirm the modification of setup.sh you suggested. I remove the "2 >/dev/null || true" in line 100, 106 and 107.  For example,
The line 100 is changed from - echo "$ven_dev_id" > "/sys/bus/pci/devices/$bdf/driver/remove_id" 2> /dev/null || true , to echo "$ven_dev_id" > "/sys/bus/pci/devices/$bdf/driver/remove_id"

Does my modification corre

[2018-10-25 15:08] pawelwod commented on #464
I vote for 2.
This is not `yum remove` command so `make uninstall` should only undo `make install` with the same source version and the same build configuration.

[2018-10-25 15:42] WilsonkcLo commented on #477
Detail view of PCI bus
amd@amd-s1:~/spdk$ lspci -vt
-+-[0000:c0]-+-01.1-[c1]----00.0  Samsung Electronics Co Ltd Device a808
 |           +-01.2-[c2]----00.0  Samsung Electronics Co Ltd Device a808
 |           +-01.3-[c3]----00.0  Samsung Electronics Co Ltd Device a808
 |           +-01.4-[c4]----00.0  Samsung Electronics Co Ltd Device a808
 |           +-03.1-[c5]----00.0  Mellanox Technologies

[2018-10-25 16:01] WilsonkcLo commented on #477
My software information is
amd@amd-s1:~/spdk$ cat /etc/*release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=18.04
DISTRIB_CODENAME=bionic
DISTRIB_DESCRIPTION="Ubuntu 18.04.1 LTS"
NAME="Ubuntu"
VERSION="18.04.1 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.1 LTS"
VERSION_ID="18.04"

[2018-10-25 16:37] jimharris commented on #478
I think this should likely be a SPDK_DEBUGLOG instead of SPDK_ERRLOG.

[2018-10-25 16:49] WilsonkcLo commented on #477
Hi,
I found the issue is in line 100.  After running the setup.sh, the "driver" directory is missing under PCIe 0000:02:00.0 and others (before running the script, the directory is there) .  The "driver" directory only shows in "0000:41:00.0" and "0000:42:00.0" which are SPDK detected disk.  And it causes the write error.

amd@amd-s1:~$ **Before running setup.sh**
Before: command not found
amd@amd

[2018-10-25 16:56] jimharris commented on #477
Note: this looks like a duplicate of https://github.com/spdk/spdk/issues/273.

[2018-10-25 17:13] jimharris commented on #477
Line 100 does an echo of $ven_dev_id to .../$bdev/driver/remove_id - this is the line that's causing the write error?  Can you double-check?

[2018-10-25 18:01] WilsonkcLo commented on #477
Yes, I confirm this line cause the error message -
echo "$ven_dev_id" > "/sys/bus/pci/devices/$bdf/driver/remove_id" || true

I added an echo before and after this line.  Thanks

[2018-10-25 18:19] jimharris commented on #477
Interesting.

So this means that before running setup.sh, the $bdf/driver directory is there, but it doesn't have a remove_id file.  Could you confirm?

Could you also try commenting out the "set -e" at the top of the file, and re-run?  set -e is causing the script to exit after the first error since we removed the "|| true".

Thanks.

[2018-10-25 18:31] jimharris commented on #477
Line 100 is before we've tried to attach the device to uio_pci_generic.  The driver directory should still be there at this point.  At line 100, we are trying to unbind the device from the kernel nvme driver first.  So I'd like an ls of the driver directory before the script is run to confirm that remove_id is not there.

[2018-10-25 18:36] WilsonkcLo commented on #477
It is before the script to run
amd@amd-s1:~/spdk$ ls -lL /sys/bus/pci/devices/0000:02:00.0/driver/
total 0
drwxr-xr-x 5 root root    0 Oct 16 18:49 0000:02:00.0
drwxr-xr-x 5 root root    0 Oct 16 18:49 0000:03:00.0
drwxr-xr-x 5 root root    0 Oct 16 18:49 0000:04:00.0
drwxr-xr-x 5 root root    0 Oct 16 18:49 0000:05:00.0
drwxr-xr-x 5 root root    0 Oct 16 18:49 0000:41:00.0
drwxr-xr-x 5 root root

[2018-10-25 18:44] WilsonkcLo commented on #477
Looks like it failed to link the folder in all PCIe disk except "0000.41.00.0".
amd@amd-s1:~/spdk$ ls /sys/bus/pci/devices/0000:41:00.0/driver -l
lrwxrwxrwx 1 root root 0 Oct 25 18:36 /sys/bus/pci/devices/0000:41:00.0/driver -> ../../../../bus/pci/drivers/uio_pci_generic

[2018-10-25 18:46] jimharris commented on #477
OK.  This remove_id error is not relevant then.  This device/vendor ID was not added as a new_id, so remove_id_store() is returning -ENODEV.

Could you try commenting out the "set -e", do a setup.sh reset, and then setup.sh again?  The log attachment you did earlier was perfect - you can do that instead of trying to paste the text inline.

Thanks,

-Jim

[2018-10-25 18:53] WilsonkcLo commented on #477
I don't see any different after "set- e" is comment out.

[2018-10-25 18:56] jimharris commented on #477
Sorry - I just realized there are a bunch of "set -e" throughout this script.  You'll need to comment out all of them.

[2018-10-25 19:05] WilsonkcLo commented on #477
I don't see any additional output message after removing "set -e"

[2018-10-25 19:09] WilsonkcLo commented on #477
During running the setup.sh, I find there is no error message on "0000:02:00.0", but "0000:41:00.0" has ..... However, setup.sh status shows "0000:41:00.0" is mounted.

amd@amd-s1:~/spdk$ sudo scripts/setup.sh
Before line 100
After line 100
0000:02:00.0 (144d a808): nvme -> uio_pci_generic
Before line 100
After line 100
0000:03:00.0 (144d a808): nvme -> uio_pci_generic
Before line 100
After line 1

[2018-10-25 19:44] WilsonkcLo commented on #477
It is AMD x86_64.
I only set one entry in PCI_WHITELIST and skipping all others.  I found that the initialization of setup.sh has error, but reports success.  When I run the script, it reports "0000:02:00.0 (144d a808): nvme -> uio_pci_generic".  However, when I run the "reset", it reports "no driver".  The log is below -

amd@amd-s1:~/spdk$ sudo PCI_WHITELIST="0000:02:00.0" scripts/setup.sh
Befor

[2018-10-25 19:45] peterjweir commented on #474
I have tried the above code, and it does indeed work. I saw this elsewhere and originally was concerned that always using the extended sector size would not be a generic solution. It does work with dif, but i wonder about pract = 1 and dix as well, I am not situated to be able to test those two cases. I don't know if there is any added value in treating all the pi cases explicitly independently fr

[2018-10-25 19:50] peterjweir commented on #473
I will try that commit as well, where I am at today it is all technically working, just very slowly. I have done two things to try to figure this out, I commented out the guard check which allowed spdk to run at speeds comparable to doing a 512 format, and I also hardcoded an appropriate crc guard check value for a fixed pattern of data and ran with that fixed data pattern. that also ran at speeds

[2018-10-25 19:55] jimharris commented on #477
Does dmesg show anything?  Any errors from the uio_pci_generic driver?

[2018-10-25 19:56] ak-gh commented on #473
On Thu, Oct 25, 2018 at 10:50 PM peterjweir <notifications@github.com>
wrote:

Milliseconds sound (extremely) excessive, but it has already been mentioned
(in the email thread re iSCSI target) that built-in SPDK crc is way slower
than the SSE/AVS-aware optimized version shipping with the Intel Storage
Acceleration library (ISA-L).

Regards,
Andrey

—

[2018-10-25 19:57] jimharris commented on #477
This is certainly not an SPDK error at this point.  I think you'll need to do more instrumentation in the uio_pci_generic driver to see why it can't bind to most of these SSDs.  You may also try enabling the IOMMU and using vfio-pci instead.

I'm going to close #273 as a duplicate of this issue here, since this one has more analysis information.

[2018-10-25 20:00] jimharris commented on #273
Closing this issue as a duplicate of #477.  #477 has many more details around analysis.

[2018-10-25 20:00] #273 closed

[2018-10-25 20:07] jimharris commented on #473
Shuhei's patch should drastically improve the performance.  Maybe not to GB/s, but way better than you have now.

The code currently is getting the extended sector size very sub-optimally - it's issuing an IDENTIFY for every I/O!  So Shuhei's patch caches the IDENTIFY data which it should have been doing from the beginning.

[2018-10-25 20:17] WilsonkcLo commented on #477
Thanks for your help.  Yes, I believe it is kernel driver issue.  See the dmesg after I run the script with one disk only.

[782797.940915] pcieport 0000:00:03.1: can't derive routing for PCI INT A
[782797.940920] uio_pci_generic 0000:02:00.0: PCI INT A: no GSI
[782797.941100] uio_pci_generic: probe of 0000:02:00.0 failed with error -107

[2018-10-25 20:39] peterjweir commented on #473
Thank you very much for all the quick help.

Returning and reporting, after applying the patch performance is unfortunately not significantly impacted.

Here is some data that I've been gathering,
doing a sequential write workload., 64k block size.

512 format .   greater than 1000MBps
520 format starting point (default crc16 in spdk) ~ 7MBps
520 format 256 entry crc16 table implementation ~100MBp

[2018-10-25 20:54] jimharris commented on #473
Hi @peterjweir,

Is the 520 format starting point (7MBps) with or without Shuhei's patch?

-Jim

[2018-10-25 20:55] jimharris commented on #473
Oh - never mind, I see now your comment about "less than a percent change".

Did you have Shuhei's patch applied for your crc16 table and crc16 hardcoded tests?

[2018-10-25 20:58] jimharris commented on #473
I looked at the fio_plugin further.  It was *not* issuing the identify on each I/O.  So that patch from Shuhei is not needed, and explains the results you see with the patch.

[2018-10-25 21:05] jimharris commented on #473
I just talked with our ISA-L expert Greg Tucker - he says crc16-t10dif calculations should be on the order of multiple GB/s per CPU core, exact numbers vary of course on a number of different variables.

[2018-10-25 21:31] alekseymmm opened #480 "SPDK couldn't find NVMe device"
spdk_tgt fails to attach NVMe devices that is present in the system.
I try it with Intel Corporation Express Flash NVMe P4500
[code]
config file for app/spdk_tgt is following
[code]

## Expected Behavior

Successful start of spdk_tgt
## Current Behavior

[code]
## Possible Solution

Is it somehow related to #477  or #273  ?
## Steps to Reproduce

1. git clone https://github.com/spdk/spdk.git (comm

[2018-10-25 21:49] jimharris commented on #480
10000:03:00.0 => this indicates a system that has VMD (Volume Management Device).

This is a different issue - but the Linux kernel patch referenced in #477 should resolve this issue.  Link copied here for reference:
https://github.com/torvalds/linux/commit/acec09e67dc450d09a912735855326c3f1146a37

Your other option is going into BIOS and looking for options to disable VMD.  This would likely be s

[2018-10-25 21:54] alekseymmm commented on #480
@jimharris  thanks for advice. I am going to check the BIOS and try disabling VMD. What could be the possible consequences of VMD disabling in terms of performance or functionality?
If it doesn't help I will think about trying the latest kernels.

[2018-10-25 22:14] jimharris commented on #480
There's no difference in performance when using SPDK.  VMD can actually impact performance negatively when using interrupt-driven drivers, because the NVMe interrupts get routed through the VMD driver for handling.

VMD is generally useful for isolating hotplug events.  It's useful for operating systems with no or minimal hotplug support or to ensure hotplug events get handled by the OS and not BI

[2018-10-25 23:27] repu1sion opened #481 "raid_bdev_start_rw_request: *ERROR*: I/O spans strip boundary!"
I see such an error on every raid read/write request:

[code]
let's take a look at code of raid_bdev_start_rw_request():
[code]
 So if start_strip is our start offset, end_strip is start offset + num of data blocks to be transferred and
we fail all the time when start_strip != end_strip, when do we suppose to do a correct rw operation? when we write a single block???

[2018-10-25 23:35] shuhei-matsumoto commented on #474
@peterjweir @jimharris

I could reproduce the issue Peter observed.

I observed the following error when
- I format the P3700 NVMe SSD to 512+8 with PI type 1
- I don't add pi_chk=GUARD|REFTAG|APPTAG to the FIO config file.

[code]

Even if I added pi_chk to the FIO config file, nothing changes.

[code]

[2018-10-25 23:39] shuhei-matsumoto commented on #473
@jimharris @peterjweir

I apologize for my not-elaborated patch first. I think I could reproduce the issue https://github.com/spdk/spdk/issues/474. I will start investigation for these two issues and post any update.

[2018-10-26 00:00] jimharris commented on #481
Please revise this issue to follow the template.  You should see the template when creating a new issue.  Reproduction steps especially are important.

Thanks,

-Jim

[2018-10-26 00:45] shuhei-matsumoto commented on #481
@repu1sion

It looks that "offset_blocks: 0, shift: 0, num_blocks: 2048, start: 0, end: 2047" is the debug message you added and the message shows strip_size_shift is 0.

Please include what strip_size you specified.

[2018-10-26 01:07] shuhei-matsumoto commented on #481
I tried to run the bdevperf with blocksize=1MB and strip_size of the raid bdev is 1. (We can't use strip_size=0.) But I didn't observe any error.

NVMe configuration
[code]

SPDK config file
[code]

The result of bdevperf
[code]

[2018-10-26 01:45] shuhei-matsumoto commented on #474
I added the patch to fix the issue I observed. But I haven't observed the same issue with @peterjweir .

[2018-10-26 02:13] shuhei-matsumoto commented on #473
I tried both PRACT=0 and PRACT=1 for the PI enabled NVMe namespace (512+8 and PI_type=1).
But I haven't observed any observed result yet. I'm afraid my operation is not correct, though.

NVMe format

[code]

FIO configuration file

[code]

[code]

[2018-10-26 03:52] Comphix commented on #454
Looking at the libiscsi code https://github.com/sahlberg/libiscsi/blob/36548b46692367d2372eb873195b0f47c03daa0e/lib/iscsi-command.c where the iscsi_scsi_command_async() function is called. The IOs are sent in the async mode.

[2018-10-26 05:41] Comphix commented on #454
Raised a patch at https://review.gerrithub.io/#/c/spdk/spdk/+/430879/

With same configuration as logged in this issue, I can run 512 queue depth without error:

[root@node4 bdevperf]# ./bdevperf -c ./bdev.conf -q 512 -o 4096 -t 10 -w write -m 0x100000
Starting SPDK v18.10-pre / DPDK 18.05.0 initialization...
[ DPDK EAL parameters: bdevtest --no-shconf -c 0x100000 -m 1024 --legacy-mem --file-prefi

[2018-10-26 05:42] Comphix commented on #454
@xuhuagen , could you help also to verify this patch and same configuration as Paul logged. Thanks.

[2018-10-26 06:53] tone-zhang commented on #139
Observed the "time out" error when debug SPDK in Ceph. The SPDK version is f60effdd75b782542a539eaad00d8f8f1d2df988.

After change the delay in "https://github.com/spdk/spdk/blob/f60effdd75b782542a539eaad00d8f8f1d2df988/lib/nvme/nvme_ctrlr.c#L1619" from "spdk_delay_us(100);" to "spdk_delay_us(100000);".

The NVMe device is "Intel Corporation SSD 750 Series [Add-in Card]".

Thanks!

[2018-10-26 07:13] darsto commented on #139
This should be fixed on master. We've increased the sleep time after each
PCI reset from 500ms to 2s. See the following patches:

https://github.com/spdk/spdk/commit/951bb3a458748ae419f6507c805f639295b296fa
https://github.com/spdk/spdk/commit/0258728f2baa795e438229565eb7e103ad56dceb

Can you try to reproduce this timeout with the above two?
D.

On Fri, Oct 26, 2018 at 8:53 AM tone-zhang <notificat

[2018-10-26 07:32] tone-zhang opened #482 "nvme_ctrlr time out error when enable SPDK in Ceph"
When enable SPDK in Ceph, observed nvme_ctrlr time out during start the ceph-osd daemon.

The Ceph version is master/LATEST.

## Expected Behavior
In general the Ceph cluster will start up normally.

## Current Behavior
Observed the error below:
starting osd.0 at - osd_data /home/ubuntu/tone/latest_ceph/ceph/build/dev/osd0 /home/ubuntu/tone/latest_ceph/ceph/build/dev/osd0/journal
Starting DPDK 17.

[2018-10-26 07:34] tone-zhang commented on #139
@darsto Thanks a lot for your response.

Regarding the issue has been closed here, I have created new one to track the "time out" issue. Could you please move to https://github.com/spdk/spdk/issues/482.

Sorry for the inconvenience. Thanks!

[2018-10-26 07:53] darsto commented on #482
This should be fixed on master. We've increased the sleep time after each PCI reset from 500ms to 2s. See the following patches:

https://github.com/spdk/spdk/commit/951bb3a458748ae419f6507c805f639295b296fa
https://github.com/spdk/spdk/commit/0258728f2baa795e438229565eb7e103ad56dceb

Can you try to reproduce this timeout with the above two?

[2018-10-26 07:56] xuhuagen commented on #449
@peluse  can you send the new patch link?

[2018-10-26 08:59] alekseymmm commented on #480
Thanks . Got it about SPDK. What about block device performance in Linux  with VMD  enabled or not ? I mean, If I just run fio to /dev/nvme0n1  with or without VMD, do I see any difference in performance?

[2018-10-26 09:04] Comphix commented on #454
Thanks for the update. I've just rebased to the latest code to have the testing again. Previously there is some commits behind.

[2018-10-26 09:13] Comphix commented on #454
I do notice with latest code, it takes more time to start the testing "to print out Running I/O for 10 seconds..."

Tested on two machines and looks like it's ok with the patch.

QD: 256, 10s, reset

[root@node4 bdevperf]# ./bdevperf -c ./bdev.conf -q 256 -o 4096 -t 10 -w reset -m 0x100000
Ignoring -m option. Verify can only run with a single core.
Starting SPDK v18.10-pre / DPDK 18.08.0 initializ

[2018-10-26 09:19] Comphix commented on #454
30s testing

QD:512; 30s; reset

[root@node4 bdevperf]# ./bdevperf -c ./bdev.conf -q 512 -o 4096 -t 30 -w reset -m 0x100000
Ignoring -m option. Verify can only run with a single core.
Starting SPDK v18.10-pre / DPDK 18.08.0 initialization...
[ DPDK EAL parameters: bdevperf --no-shconf -c 0x1 -m 1024 --file-prefix=spdk_pid91810 ]
EAL: Detected 32 lcore(s)
EAL: Detected 2 NUMA nodes
EAL: No free hug

[2018-10-26 09:20] wanghailiangx opened #483 "lvol.sh' usage() omits a case in NIGHTLY Test"
START TEST SUITE ./test/lvol/lvol.sh --test-cases=1,50,51,52,53,100,101,102,150,200,201,250,251,252,253,254,255,300,301,450,451,452,550,551,552,553,600,601,650,651,652,654,655,700,701,**702**,750,751,752,753,754,755,756,757,758,759,800,801,802,803,804,10000

**702** case are listed here and run PASS, but it not listed in lvol.sh' usage().
It's easy to be confusing. Where is **702** case?

In test/

[2018-10-26 09:31] wanghailiangx commented on #483
I has raised a patch to fix the  issue.
https://review.gerrithub.io/#/c/spdk/spdk/+/430905/

[2018-10-26 09:43] wanghailiangx commented on #470
By the way, build.log also not generated in "fedora-09" server.

[2018-10-26 10:11] wanghailiangx opened #484 "freebsd/ioat reports "failed to read the internal channel error register" in NIGHTLY Test"
In freebsd-0 server,

START TEST SUITE test/ioat/ioat.sh
......
07:13:01	# /usr/home/sys_sgsw/build_pool/agent/repo/examples/ioat/perf/perf -t 1
and
 07:13:04	# /usr/home/sys_sgsw/build_pool/agent/repo/examples/ioat/verify/verify -t 1
are all reports:

Starting SPDK v18.10-pre / DPDK 18.08.0 initialization...
[ DPDK EAL parameters: perf --no-shconf -c 0x1 ]
EAL: Sysctl reports 40 cpus
EAL: Detecte

[2018-10-26 14:36] jimharris commented on #480
I don't have any hard data.  But I would expect to see minimal if any noticeable difference in performance with a single NVMe SSD - maybe slightly higher CPU utilization.  I'd expect a more noticeable difference, especially in CPU utilization as more and more SSDs are added to the system.

[2018-10-26 15:59] repu1sion commented on #481
my bad, set really big stripe value, and code was not so obvious to understand what went really wrong.

[2018-10-26 15:59] #481 closed

[2018-10-26 17:22] peterjweir commented on #473
the results that you get are comparable to when I don't do the crc at all.

My drive is formatted the same as yours, but with protection information type 2 instead of 1. I would have expected it to still do the guard check. Is it possible that the bdf doesn't match the drive that you have formatted?

the results when I comment out the crc and use the hardcoded answer look the same as your results

[2018-10-26 18:29] peterjweir commented on #473
I was able to get a hold of a P3700 drive, and I repeated your test with that drive as the only one attached to the system, here are the results.

[code]

[2018-10-26 20:39] jimharris commented on #464
Agree that #2 is the best option.

[2018-10-28 08:18] liang2yan opened #485 "Some test cases are not executed in nightly testing on Fedora-02 machine"
Because of issue 439, the test cases after ext4test.sh all failed.

## Expected Behavior
all test cases are executed.

## Current Behavior
Some test cases are not executed. The test cases are as follows:
[code]
## Possible Solution
Fix issue 439.

## Context (Environment including OS version, SPDK version, etc.)
SPDK Automated Test System.

[2018-10-28 08:18] liang2yan commented on #485
#439

[2018-10-28 08:19] liang2yan commented on #485
#439

[2018-10-28 18:09] blu3bird commented on #432
Still reproducable with 9f9cfdc5.

@wanqunintel the merged patch (https://review.gerrithub.io/#/c/spdk/spdk/+/425213/) did not solve the issue, it was just to enhance logging.

[2018-10-29 03:53] wanghailiangx opened #486 "there are 4 cases skipped in NIGHTLY test"
Cases and logs as bellow, I think they should be removed in NIGHTLY test,
1. test/nvme/nvme.sh/reserve (in centos7)
 08:06:23	# /home/sys_sgsw/build_pool/agent/repo/examples/nvme/reserve/reserve
=====================================================
NVMe Controller at PCI bus 0, device 4, function 0
=====================================================
Reservations:                Not Supported

2.

[2018-10-29 06:28] wanghailiangx commented on #483
@nedved1 hi, I noticed that there were other four cases listed in usage() in lvol.sh, but they didn't run in the nightly. Do you know should we add them in TEST SUITE ./test/lvol/lvol.sh --test-?
350: 'nested_destroy_logical_volume_negative',
400: 'nested_construct_logical_volume_positive',
500: 'nested_construct_lvol_bdev_on_full_lvol_store',
653: 'thin_provisioning_resize',
Thanks.

[2018-10-29 08:49] wanghailiangx commented on #486
remove test/nvme/hotplug.sh
    https://review.gerrithub.io/#/c/spdk/spdk/+/431097

not run rocksdb.sh and blobstore.sh
    https://review.gerrithub.io/#/c/spdk/spdk/+/431100/

[2018-10-29 12:38] liupan1111 opened #487 "issue of delete pair"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

![image](https://user-images.githubusercontent.com/17977187/47650220-882f4780-dbba-11e8-9da2-4ced4b4d5688.png)

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context (Enviro

[2018-10-29 12:43] liupan1111 commented on #487
@jimharris @ZiyeYang

[2018-10-29 14:56] nedved1 commented on #483
Hi @wanghailiangx ,
these test cases that you mention are not implemented in lvol test.

[2018-10-29 18:39] jimharris commented on #487
Hi @liupan1111,

nvme_pcie_qpair_abort_trackers() does not actually send any abort commands to the SSD.  This function just manually completes each outstanding I/O with ABORTED_BY_REQUEST status.

Regards,

-Jim

[2018-10-29 22:38] Seth5141 commented on #470
I did a little digging into this issue. It turns out that we had set a limit for filesize in the script we use to copy to ci.spdk.io. This was initially intended to keep us from copying core files output from the builds in order to prevent us from taking up too much space on the public server.
Since we have been hitting this issue quite frequently recently, I have updated the script to allow for l

[2018-10-29 23:37] dong-liuliu commented on #466
@jimharris , @jparairo
Let me try it with a D3600 device later to confirm and then fix the problem~

[2018-10-29 23:39] dong-liuliu commented on #466
Or add some change to QEMU nvme part to verify it

[2018-10-30 01:29] liang2yan commented on #458
@johnmeneghini , can you please verify with latest spdk master codes to see if it can't be reproduced?

[2018-10-30 03:07] xuhuagen commented on #449
@peluse  I retest this issue,    commit id : 3e2297140ca17ff97bda235b2b5962ebf185953f
when io_depth=32/64,it can run successfully.
but when io_depth=128 or more,  Target machine
[code]
 initiator machine is hang and only be killed by kill -9
it is samilar to issue454

[2018-10-30 03:40] peluse commented on #449
So I'm guessing this is something screwy with iSCSI somewhere.

I can retry tomorrow on my setup with the higher Q depth but I did report another issue with high Q depth and iSCSI that happened even without crypto in the picture.

I'd suggest we close this issue though as you can no longer repeat the issue as it was reported, changing the test case is of course valid but we should close this one a

[2018-10-30 04:32] tomzawadzki commented on #484
Hi @wanghailiangx
Provided build log does not have the error message (it is marked passing too). It does not refer to freebsd-0, but to fedora-04 as well.
Can you please point to build-log containing this error or provide verified scenario to reproduce it ?

[2018-10-30 05:00] shuhei-matsumoto commented on #473
@peterjweir @jimharris

I could reproduced the low IOPS you have observed. I didn't see any difference between 512+8 and 512+16. The reason that I didn't see Peter's result was my error in the FIO config file. SPDK have another IO tool Perf (/example/nvme/perf/perf) and I could reproduced the same in the Perf.

Currently SPDK uses its own CRC library /lib/util/crc16.c and this performance is low.

[2018-10-30 05:31] wanqunintel commented on #483
@nedved1 , thank you for the feedback, for these 4 cases, is there any plan to add it to the lvol test?

[2018-10-30 05:55] liang2yan commented on #470
@Seth5141 , yes, we can close this issue. And when can we fix this tooling and test infrastructure bug?

[2018-10-30 06:15] #459 closed

[2018-10-30 06:54] glodfish-zg commented on #310
https://review.gerrithub.io/c/spdk/spdk/+/430875  patch for this issue. @liang2yan  you can give some help to verify again.

[2018-10-30 07:04] #449 closed

[2018-10-30 07:52] Comphix commented on #454
The timeout of NOP is relating to the host, I've rebooted the host and this issue is not seen at the higher queue depth 256/512

[2018-10-30 07:54] ChenWang01 commented on #427
I have used the SPDK master branch(3e2297140ca17ff97bda235b2b5962ebf185953f) and "git submodule update --init" to download the dpdk(96fae0e24c9088d9690c38098b25646f861a664b).
This issue can't be reproduced. So it can be closed.

[2018-10-30 07:55] #427 closed

[2018-10-30 08:38] Comphix commented on #471
For above discover not caught error from failed DPDK initialization, I've raised the patch at https://review.gerrithub.io/#/c/spdk/nvme-cli/+/431258/

Please have a try, thanks.

[2018-10-30 09:29] wanghailiangx commented on #471
Thanks Cao Gang. Your patch is to fix issue that nvme_cli.sh does not recognize this as a failure.
I have raised a patch to fix another issue: EAL parameters errors
https://review.gerrithub.io/#/c/spdk/nvme-cli/+/431262/

[2018-10-30 09:35] wanghailiangx commented on #484
@tomzawadzki sorry, I pasted a mistake link. Now I have updated the upper freebsd-0 link.

[2018-10-30 10:12] wanghailiangx commented on #486
3.test/blobfs/rocksdb/rocksdb.sh (in freebsd-0)
--/usr/src/rocksdb does not exist, skipping rocksdb tests.
@Seth5141 Thanks your comments in patch #431097. If we want to run rocksdb in freebsd? If yes, we will put /usr/src/rocksdb on freebsd. If no, I think removing rocksdb.sh in freebsd is reasonable.

4.test/blobstore/blobstore.sh (in freebsd-0)
--blobstore.sh cannot run on FreeBSD currently.
@p

[2018-10-30 12:19] liang2yan opened #488 "bdevperf crashed while testing SPDK iSCSI target using SPDK iscsi initiator"
I have run spdk iscsi target with null bdev. then I run bdevperf to test the iscsi target. but the bdevperf crashed.

## Expected Behavior
bdevperf passed without error.

## Current Behavior
bdevperf crashed.

## Possible Solution

## Steps to Reproduce
1. run spdk iscsi target with the config file in attachment. The command is as below:
./app/iscsi_tgt/iscsi_tgt -c iscsi.conf -m 0xff
2. In initia

[2018-10-30 13:03] peluse commented on #449
thanks!

[2018-10-30 13:05] peluse commented on #488
could you add your iscsi.conf file as well?  Thanks

[2018-10-30 13:07] peluse commented on #486
not as fasr as I know, @jimharris ?

[2018-10-30 13:11] peluse commented on #439
has anyone tried @jimharris earlier suggestion to increase the malloc size? There's another issue waiting to retest on this as well so would be good to take a few minutes to try  it

[2018-10-30 13:12] pawelkax commented on #463
This command is working:
sudo LD_LIBRARY_PATH=./build/lib/ ./app/vhost/vhost

[2018-10-30 13:12] #463 closed

[2018-10-30 13:12] peluse commented on #484
does this happen every time?

[2018-10-30 13:15] peluse commented on #480
@jimharris how did you ID that as VMD so quickly? Is that always the address or did you go look in some logs?

[2018-10-30 13:22] peluse commented on #454
let me know if you'd like me to retest w/any particular patch, be happy to

[2018-10-30 13:23] liang2yan commented on #488
@peluse , I added it in Context. the name is iscsi.txt since github can't recognize the iscsi.conf file type.

[2018-10-30 13:29] johnmeneghini commented on #458
Sorry for my late reply. I will do this today.

From: Liang Yan <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Monday, October 29, 2018 at 9:30 PM
To: spdk/spdk <spdk@noreply.github.com>
Cc: John Meneghini <John.Meneghini@netapp.com>, Mention <mention@noreply.github.com>
Subject: Re: [spdk/spdk] create_vbox.sh fails to provision fedora27 with virtualbox (#458)

@john

[2018-10-30 14:41] jimharris commented on #480
The PCI domain 10000 is the dead giveaway:

10000:03:00.0

The VMD driver has to create a PCI domain for any PCI devices that sit behind it.  ACPI defines 16-bit domains (0000-FFFF) so VMD chooses one that falls just past that range.

-Jim

[2018-10-30 14:43] jimharris commented on #482
Removing "bug" label for now, until this is reproduced on latest SPDK master.  The referenced commit is approximately 20 patches before v18.01 (late January 2018).

[2018-10-30 15:13] Seth5141 commented on #470
@liang2yan I have increased the size of the files we will try to rsync to the public server. This should fix the tooling and infrastructure bug, except in extreme cases where our build logs are larger than 16MiB. I think it is reasonable to set that as the limit for copying to the public server since we have limited space on that server.
So both the SPDK and tooling bug can be considered closed as

[2018-10-30 18:09] jimharris commented on #486
I don't see any need to run any of these tests on FreeBSD at the moment.

[2018-10-30 18:38] WilsonkcLo commented on #477
For your information, the issue is fixed by using igb_uio driver instead of uio_pci_generic.

[2018-10-30 18:38] #477 closed

[2018-10-30 19:44] #446 closed

[2018-10-30 19:46] jimharris commented on #443
The patch from @optimistyzy has been merged, so I am closing this issue.

@tchaikov - please report if you still see any problems.

[2018-10-30 19:46] #443 closed

[2018-10-30 19:49] jimharris commented on #336
It has not been merged.  It fails both test pools currently.  I haven't had time to debug it further.

If you're interested in looking into it and we can get a fix, we could merge it to master after 18.10 releases, and then cherry pick it to the upcoming v18.10 branch for an upcoming 18.10.1 release.

[2018-10-30 20:16] peterjweir commented on #473
@shuhei-matsumoto I followed your isa-l implementation in your comment above and transplanted it into the fio-plugin, (after a fashion, my implementation isn't worth sharing) and the performance with ISA-L appears to be comparable to my performance with hard-coded values. It looks like this will fix it, I'm excited to see the finished implementation

[2018-10-30 20:33] alekseymmm opened #489 "fio plugin issue"
I have been testing my custom bdev with fio and fio_plugin from SPDK. Sometimes in _spdk_bdev_io_complete got assert and spdk_get_thread() returns NULL.  It seems like completion of bdev_io happens not in the thread that it was submitted, or some issue with fio threads
## Expected Behavior
fio_plugin works well

## Current Behavior
[code]
with this backtrace
[code]

## Possible Solution
In IRC cha

[2018-10-30 20:39] jimharris commented on #489
Thanks @alekseymmm.

Primary problem is that spdk_fio_init_env() calls spdk_allocate_thread(), and then passes that thread implicitly to a different thread where it is polled.  The initialization and finish code need to be moved to spdk_init_thread_poll() so that it executes in the context of the pthread.

[2018-10-30 21:03] ak-gh commented on #336
I've posted a comment on the path, hope that helps. Will give it some
extra time tomorrow.

Regards,
Andrey

On Tue, Oct 30, 2018 at 10:50 PM Jim Harris <notifications@github.com>
wrote:

[2018-10-30 21:13] benlwalker commented on #488
This patch should fix the issue: https://review.gerrithub.io/#/c/spdk/spdk/+/431375/

[2018-10-31 02:29] wanghailiangx commented on #484
Yes, this happens every time. But sometimes error is another as below:
(https://ci.spdk.io/spdk/builds/review/a6304b0370dc2215468d476055336ddb031786f1.1538395576/freebsd-0/build.log) (search "failed to read the internal channel error register")
 05:13:11	# /usr/home/sys_sgsw/build_pool/agent/repo/examples/ioat/perf/perf -t 1
Starting SPDK v18.10-pre / DPDK 18.05.0 initialization...
[ DPDK EAL para

[2018-10-31 02:36] #470 closed

[2018-10-31 02:55] liang2yan commented on #488
@benlwalker @jimharris , I tried your patch. It can fix this issue.

[2018-10-31 05:40] tone-zhang commented on #482
@darsto Thanks for the comments. I have merged the two patches manually and rerun the test, the "time out" issue disappeared. The bug should be fixed with the above patches. Thanks.

[2018-10-31 06:23] liang2yan opened #490 "bdevperf sometimes hung up while testing SPDK iSCSI target using SPDK iscsi initiator with 0xf6 coremask"
Being similar to issue 488. except for the bdevperf will hung up. But it doesn't hung up every time.
## Expected Behavior
bdevperf run successfully.

## Current Behavior
bdevperf hung up.

## Steps to Reproduce
Please see issue 488 for step 1-4.
5. run bdevperf with following command:
./test/bdev/bdevperf/bdevperf -c bdev.conf -q 128 -o 4096 -w randread -t 600 -m 0xf6

6. bdevperf will hung up aft

[2018-10-31 06:39] liang2yan commented on #490
While bdevperf hung up, the iscsi target will report following error:

[code]

[2018-10-31 06:49] wuzhouhui opened #491 "Secondary vhost target failed if primary specifies -R"
The secondary vhost target will failed if primary vhost target started with option `-R`

## Expected Behavior

Secondary started successfully or failed with clear message.

## Current Behavior

Secondary failed and user feels confused.

## Steps to Reproduce

1. Start primary vhost target by `./vhost -i 0 -R`
2. Start secondary vhost target by `./vhost -i 0 -r /tmp/spdk.sock.2`
3. Then, will see s

[2018-10-31 07:04] darsto commented on #491
That's expected. --huge-unlink is not compatible with --shm-id.
See https://spdk.io/doc/app_overview.html#cmd_arg_huge_unlink

[2018-10-31 07:09] wuzhouhui commented on #491
Thanks, and close it.

[2018-10-31 07:09] #491 closed

[2018-10-31 07:13] tomzawadzki commented on #482
@tone-zhang Thanks for verifying.
Closing, since this is fixed on master.

[2018-10-31 07:13] #482 closed

[2018-10-31 07:13] Comphix commented on #454
Hi Paul, you may have a try with patch https://review.gerrithub.io/#/c/spdk/spdk/+/430879/ on your original configuration. One noticeable phenomenon is that with larger queue depth like 256, it needs a little long time for the perf to exit although we set the 30 seconds running time. Thanks. Gang

[2018-10-31 08:51] ak-gh commented on #336
I guess on error - when the list contains claimed bdevs only - we shouldn't
assert(false) as your patch does since such a case - impossible under
correct claims as that would mean there's a loop in the claims graph - is
still possible if some bdev fails to unclaim its base bdev(s) or to
shutdown properly. If that's the case, we should fail back to the existing
behavior and just unregister last bde

[2018-10-31 09:07] clicx opened #492 "nvmf tgt and client in the same app"
I'm writing an app for nvmf discovery, the app works normally,  but after move it to an nvmf app, in the app, the client will discovery self nvmf subsystem, will got an error in nvme_rdma_connect:
nvme_rdma_get_event: *ERROR*: Failed to get event from CM event channel. Error 4 (Interrupted system call), is it known issue?

## Expected Behavior
Working normally.

## Current Behavior
Failed while co

[2018-10-31 10:26] wanghailiangx opened #493 "nvme smart-log prints abnormal data in NIGHTLY test"
test/nvme/spdk_nvme_cli.sh
test/nvmf/nvme_cli/nvme_cli.sh
-- Logs as below:

13:03:34	# ./nvme smart-log 0000:06:00.0
Starting SPDK v18.10-pre / DPDK 18.08.0 initialization...
[ DPDK EAL parameters: nvme_cli -c 0x100 -m 512 --file-prefix=spdk0 --base-virtaddr=0x200000000000 --proc-type=auto ]
EAL: Detected 32 lcore(s)
EAL: Detected 2 NUMA nodes
EAL: Auto-detected process type: SECONDARY
EAL: Multi

[2018-10-31 16:13] jimharris commented on #492
Hi @clicx,

I'm not aware of any reported issues like this.

Can you report the exact SPDK commit?  This will be important, especially if someone tries to debug this issue a lot later - we don't want to guess which commit you were using.

"with IB" => you are using Infiniband for this test?

Thanks,

-Jim

[2018-10-31 16:30] jimharris commented on #488
Patch merged.

[2018-10-31 16:30] #488 closed

[2018-10-31 16:35] peluse commented on #454
ran patch on both init and tgt sides, looks good:
INIT:
sudo ./bdevperf -c ./bdev.conf -q 128 -o 4096 -t 30 -w reset
Starting SPDK v18.10-pre / DPDK 18.08.0 initialization...
[ DPDK EAL parameters: bdevperf --no-shconf -c 0x1 -m 1024 --file-prefix=spdk_pid46835 ]
EAL: Detected 72 lcore(s)
EAL: Detected 2 NUMA nodes
EAL: No free hugepages reported in hugepages-1048576kB
EAL: Probing VFIO support...

[2018-10-31 18:03] peluse commented on #493
Sure, I will

[2018-11-01 00:59] wanghailiangx commented on #493
This issue can be reproduced locally. Steps:
1. cd SPDK dir
2. run test/nvmf/nvme_cli/nvme_cli.sh

[2018-11-01 01:41] ChenWang01 commented on #462
scripts/setup.sh:
We can find the function in the line 166
[code]
we will use the "uio_pci_generic" when the "/sys/kernel/iommu_groups" file does not exist.

vhost app:
We can find the define in the "spdk/lib/env_dpdk/vtophys.c" file line 48.
And use the define "SPDK_VFIO_ENABLED" in line 523, when start the vhost app.

[code]
The vfio will be disabled when the system is FreeBSD or the linux kerne

[2018-11-01 03:29] peluse commented on #493
Hmmm, I cloned the nvme_cli repo and ran it directly and didn't see an issue.  I was going to ask, it seems like the syntax for smart-data is different.  Running locally I had to provide /dev/xxxx however in the script it provides BDF location.  I've not sued these tools before so any info you can provide would be helpful, thanks

[2018-11-01 04:14] wanqunintel commented on #407
@Maciej-Szwed do you have the patch link for it?

[2018-11-01 04:45] jimharris commented on #474
@peterjweir, @shuhei-matsumoto

Is there a patch out for the proposed fix on GerritHub?  If so, and it is merged, can we close this issue?

[2018-11-01 04:46] shuhei-matsumoto commented on #474
my patch was merged.

[2018-11-01 04:48] jimharris commented on #474
Hi @shuhei-matsumoto - is is commit 25d5f2?

[2018-11-01 04:48] jimharris commented on #474
commit 25d5f262

[2018-11-01 04:49] wanqunintel commented on #411
@liang2yan , will close it and file an new one

[2018-11-01 04:49] #411 closed

[2018-11-01 04:50] shuhei-matsumoto commented on #474
Hi @jimharris
Yes, and I think the possible solution is already implemented and the reason why Peter observed was that read was done to the area not written yet.

[2018-11-01 04:51] jimharris commented on #414
There is a patch series from @benlwalker that will significantly improve the handling for this case.  Let's retest once that has been merged.

[2018-11-01 04:53] wanqunintel commented on #429
@alantu02 , do you have time to test it, or we may ask @vermavis to retest it?

[2018-11-01 04:56] jimharris commented on #441
Let's retest this after the patch set from @benlwalker is merged.

[2018-11-01 04:57] wanqunintel commented on #441
@xuhuagen , will retest with the latest patch udpated end of this week?

[2018-11-01 06:09] xuhuagen commented on #474
I  could  reproduce  the issue shuhei observed.
I test it in latest code (commit id is 544e863db18872937fc18dd68e7021ffb9ae7a82)
`nvme_ns_cmd.c: 447:_nvme_ns_cmd_rw: *ERROR*: io_flags 0x10000001 bottom 16 bits is not empty`
 not occur,this issue is fixed.

[2018-11-01 08:11] wanghailiangx commented on #483
The upper patch has been merged.

[2018-11-01 08:11] #483 closed

[2018-11-01 08:31] glodfish-zg commented on #310
i think i get what you mean. maybe we need to update the .../example/nvme/hotplug case using event framework.  and is there a corner case in nvme_pcie_ctrlr_delete_io_qpair(), befor we run nvme_pcie_ctrlr_cmd_delete_io_sq(), the device has been removed?

[2018-11-01 09:34] wanghailiangx commented on #493
List all steps, these's also for customers:
1. cd SPDK dir, ./configure --with-rdma, make -j
2. ./app/nvmf_tgt/nvmf_tgt -c nvmf.conf (as below,  set AllowAnyHost Yes)
....
[Subsystem1]
  NQN nqn.2016-06.io.spdk:cnode1
  Listen RDMA 192.168.11.11:4420
  AllowAnyHost Yes
  Host nqn.2016-06.io.spdk:init
  SN SPDK00000000000001
  MaxNamespaces 20
  Namespace Nvme0n1 1
  Namespace Nvme1n1 2

3. open a

[2018-11-01 14:43] jimharris commented on #493
This is a completely different set of instructions.  The original description was clearly for a locally attached SSD (BDF specified, debug output clearly shows PCI probe).  But these latest steps are using NVMe-oF.

These are two completely different issues.  For local PCI device, this *should* work.  For the NVMe-oF case, we do not try to emulate log pages with NVMe-oF, so getting data back with

[2018-11-01 15:10] peterjweir commented on #474
It looks like when i originally reported this the line had not been changed to always use the extended lba. Now my question is if this is correct. Is it right to always use the extended lba even in the pract =1 case, and for dix where the data is not transmitted as part of an extended lba. I don’t have access to equipment with those capabilities today To be able to test, but at first glance it loo

[2018-11-01 19:45] peluse commented on #493
For direct-attached using nvme-cli directly (the correct way this time) I see data as expected.  I'll run via test script just to be sure.  Here is my output:
[peluse@pels-64 nvme-cli]$ sudo ./nvme smart-log 0000:0d:00.0
Starting SPDK v19.001-pre / DPDK 18.08.0 initialization...
[ DPDK EAL parameters: nvme_cli -c 0x100 -m 512 --file-prefix=spdk1 --base-virtaddr=0x200000000000 --proc-type=auto ]
EA

[2018-11-01 19:47] dong-liuliu commented on #466
@jparairo
Raised one patch set to fix the problem caused by 0 namespace.
https://review.gerrithub.io/c/spdk/spdk/+/431701

Even one controller has no namespace, it still can be retained inside SPDK app.
With this patch set, it can be verifeid by:
./scripts/rpc.py get_nvme_controllers

[2018-11-01 19:53] peluse commented on #493
and here's a snippet running via the test script, still cannot repro:

 15:52:46	# ./nvme smart-log 0000:0d:00.0
Starting SPDK v19.001-pre / DPDK 18.08.0 initialization...
[ DPDK EAL parameters: nvme_cli -c 0x100 -m 512 --file-prefix=spdk0 --base-virtaddr=0x200000000000 --proc-type=auto ]
EAL: Detected 72 lcore(s)
EAL: Detected 2 NUMA nodes
EAL: Auto-detected process type: SECONDARY
EAL: Multi-pro