[2020-02-06 13:01] spdkci commented on #1137
Another instance of this failure. Reported by @darsto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59808.html

[2020-02-06 13:13] spdkci commented on #1186
Another instance of this failure. Reported by @tomzawadzki. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59980.html

[2020-02-06 13:28] spdkci commented on #1186
Another instance of this failure. Reported by @darsto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59984.html

[2020-02-06 14:04] spdkci commented on #1186
Another instance of this failure. Reported by @tomzawadzki. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59987.html

[2020-02-06 14:06] spdkci commented on #1186
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59990.html

[2020-02-06 14:52] spdkci commented on #1186
Another instance of this failure. Reported by @EugeneKochetov. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59967.html

[2020-02-06 15:11] mikeBashStuff opened #1187 "Hit memory leak while running nvmf_perf test"
* SPDK: v20.01-rc1 (HEAD -> f17e02a0)
* Build config:
[code]
* Linux Kernel: 4.19.67 (Debian's 10 4.19.0-6-amd64 build)

Relevant part covering the sanitizer's output:
[code]

This was caught while running the nvmf_perf test locally - called from direct execution of  ` ./test/nvmf/nvmf.sh:47 -> main(["--iso"],["--transport=rdma"])` and triggered by:

[code]
Full trace of the execution: [nvmf_trace

[2020-02-06 15:41] jimharris commented on #1186
All of these failures are on fedora_1G_vm_1.  Has that system been updated at all?  Or recently activated?

[2020-02-06 18:29] spdkci commented on #1186
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59999.html

[2020-02-06 18:30] spdkci commented on #1186
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_60008.html

[2020-02-06 18:32] spdkci commented on #1186
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_60003.html

[2020-02-06 18:34] spdkci commented on #1186
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_60001.html

[2020-02-06 18:37] jimharris commented on #1186
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59996.html

(Posted this manually since this patch was updated with a new version after this failure)

[2020-02-06 18:41] spdkci commented on #1186
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59993.html

[2020-02-06 19:29] spdkci commented on #1007
Another instance of this failure. Reported by @jkalwas. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_60015.html

[2020-02-06 23:15] spdkci commented on #1137
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_60021.html

[2020-02-07 03:47] ufo19890607 commented on #1155
@wmalikow

[code]
I've just connected NVMe devices to PCI switch under VMD.

We need to make sure everything is OK on centos7 rather than other upstream kernel.

Yes. The only difference is that I used P4510 NVMe devices in that case.

By the way, I found that nvme device will shutdown ubnormally when I run setup.sh. Is it normal?
[code]

[2020-02-07 07:57] karlatec commented on #1186
Please observe if this happens again today. If not then we can probably close the issue.

These fails happened at the same time when server hosting the VMs lost its DHCP IP address. With no IP address it was not possible to reboot the VMs after failed tests so there must have been some leftover process keeping uio_pci_generic busy and causing the problem reported here.

Last 12h logs for fedora_1G

[2020-02-07 10:49] darsto opened #1188 "It's no longer possible to run SPDK w/ UIO devices with IOMMU enabled."
[code]

I wanted to run w/ UIO for testing and development purposes, I guess I can't..?

I've read the commit history in spdk at I feel like we're reluctant to provide a `iova-mode=pa/va` option just like dpdk does and prefer automatic choice instead.

[2020-02-07 13:17] AlekseyMarchuk commented on #1184
@huangqingxin
I don't have a kernel with debug symbols, so I can't use `crash` for debug. But I found out that rxe creates additional files in /dev/infiniband/ path (e.g. /dev/infiniband/uverbs2 in my case) and when you create RDMA transport, SPDK calls `rdma_get_devices` which opens /dev/infiniband/uverbs* files. `rxe_cfg stop` waits until RXE device is released which means it waits until all pro

[2020-02-07 14:10] wmalikow commented on #1155
@ufo19890607 could you please check if this issue exist if you connect only one P4500 to PCI switch or if you connect it directly to CPU slot?

[2020-02-07 14:18] huangqingxin commented on #1184
@AlekseyMarchuk Tks! I think your are right about problem 1. The librdmacm will use uverbs devices, it looks like we can not support dynamic remove infiniband devices.

Problem 2 required 3 conditions. First, rxe should config on a bond device. In my env, i cfg on bond1,sorry for not specific at the first.
Second, the initiator should connect to tgt, there will generate a new qpair. Third, run res

[2020-02-07 14:30] jimharris commented on #1186
Closing.  Based on explanation from @karlatec, I'm confident this was due to the VM losing it's DHCP IP address.  All of the failures were consistent with a failed VM that didn't reboot.

[2020-02-07 14:30] #1186 closed

[2020-02-07 14:33] jimharris opened #1189 "--with-igb-uio-driver configure option doesn't work in isolation"
There are cases where someone may want to use the igb-uio driver, for example if uio_pci_generic is not available on their system.

But currently this option only works if you also specify --with-crypto or --with-reduce, since the original need for this igb_uio option came from QAT enablement.

The build system (i.e. dpdkbuild/Makefile) should support building the igb_uio driver even when crypto a

[2020-02-07 15:11] spdkci commented on #1170
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59835.html

[2020-02-08 00:07] spdkci commented on #1119
Another instance of this failure. Reported by @peluse. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_60127.html

[2020-02-08 13:22] spdkci commented on #1038
Another instance of this failure. Reported by @Comphix. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_60143.html

[2020-02-08 21:27] spdkci commented on #1119
Another instance of this failure. Reported by @peluse. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_60146.html

[2020-02-09 00:58] mikeBashStuff opened #1190 "vm_setup.sh fails to clone nvme-cli from new gerrit"
a9a472b99b changed the address of the nvme-cli repo to `"https://review.spdk.io/spdk/nvme-cli`, however, it seems to not exist there:

[code]
The old address works just fine though:

[code]

[2020-02-09 03:48] spdkci commented on #1131
Another instance of this failure. Reported by @Comphix. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_60151.html

[2020-02-09 05:54] spdkci commented on #1131
Another instance of this failure. Reported by @Comphix. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_60154.html

[2020-02-10 00:24] spdkci commented on #1170
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_60164.html

[2020-02-10 01:06] changpe1 commented on #1133
@jimharris After some investigation and testing, I found that if we removed the g_caches_lock and reclaim the cache buffer in a separate thread, this will cause the cache get exhausted very quickly, because there maybe 8 or even more Rocksdb threads will allocate the cache buffer at the same time, existing code will do the cache allocation one by one so this is more safe. So I posted a patch to fi

[2020-02-10 04:25] changpe1 commented on #1146
@Comphix After reading your analysis, for the JSON case, the QoS poller is registered in the FIO thread, the spdk_thread_is_idle(fio_thread->thread)) is not idle, do you know which list in this thread is not null, the active list or the timer list ?
I'm wondering why spdk_fio_poll_thread() didn't work for this case.

[2020-02-10 05:05] shuhei-matsumoto commented on #1146
Hi @tomzawadzki

Will you move the patch to load json config to fio to review.spdk.io?
It will be helpful for others to reproduce or investigate the issue.

Thanks,
Shuhei

[2020-02-10 05:21] shuhei-matsumoto commented on #1146
@tomzawadzki Sorry, link is still valid and I knew the current status. Please ignore my question.

[2020-02-10 06:36] junehyuk-boo opened #1191 "JSON-RPC call vhost_create_nvme_controller doesn't seem to work for vhost-nvme"
I have been trying to use the SPDK vhost-user-nvme, which is explained at the spdk.io documentation: [https://spdk.io/doc/vhost.html](https://spdk.io/doc/vhost.html)

However, when I was trying to set up the vhost-nvme's controller, I does not seem to work.

I was setting the environment to my server by the following:

[code]

I also tried to set up the bdev controller before creating the vhost-nv

[2020-02-10 06:43] changpe1 commented on #1191
@junehyuk-boo Thanks for submitting, vhost-nvme is only compiled "with-internal-vhost-lib", we will not include vhost-nvme by default, because it needs a extra QEMU patch which doesn't in QEMU mainline branch.

[2020-02-10 07:30] junehyuk-boo commented on #1191
Thank you for the kind response.
I have configured the spdk with the "with-internal-vhost-lib" option, and for me the VM with vhost-user-nvme seems to work fine with the patched qemu (version 3.0.0).
It was very helpful, and if there are no other issues, I think I can close this.

[2020-02-10 07:30] #1191 closed

[2020-02-10 07:41] Comphix commented on #1146
The QoS poller is created at the time of RPC call which is the dummy FIO init thread. However the QoS poller related channel and thread is from the device which is opened on the FIO job thread. The logic of FIO init thread and FIO job thread is just one kind of implementation in SPDK FIO plugin which means the QoS logic is correct here.

Problem here is that when the FIO ends, the FIO job thread s

[2020-02-10 07:46] Comphix commented on #1146
The problem is the QoS poller can not be unregistered from the FIO job thread is using JSON/RPC way. So that my change here is to slight adjust the FIO logic to kick off the bdev destruction first to remove the QoS poller first. One problem blocking here is that when closing the bdev desc, it is opened on the base bdev and get initialized by the bdev layer through the FIO init thread while as its

[2020-02-10 07:57] changpe1 commented on #1146
Thanks, what if we just removed the  spdk_thread_is_idle(fio_thread->thread)) in your patch, does that work?

[2020-02-10 08:11] shuhei-matsumoto commented on #1146
Hi @changpe1 @Comphix

spdk_thread_exit will fail if there is any poller even if it is ok now. My patch series will prohibit it.

If we change the close caller, can we change the open caller? Or sending SPDK message?
SPDK thread and FIO thread is separated, so we can do any what we want.

I’ll try to catch up

[2020-02-10 10:37] AlekseyMarchuk commented on #1184
Reponed since problem `#2` is not addressed yet

[2020-02-10 15:05] jimharris commented on #1146
Hi @Comphix,

I would prefer to not change spdk_bdev_close() behavior to 'fix' this case.  It is better to enforce caller to always close the descriptor on the same thread it was opened.  It avoids misuse of bdev descriptors, including trying to close the same descriptor on multiple threads at once.

It would be better to change this by modifying the fio plugin instead.  Is there a way to only cha

[2020-02-10 15:38] mikeBashStuff opened #1192 "nvmf_tgt hangs after an attempt to create subsystem with invalid model|serial number is made"
SPDK: v20.01-rc1 (HEAD->e97ad60f)
OS: Debian 10 (Kernel version: 4.19.67, 4.19.0-6-amd64 build)

Config:
[code]

After an attempt to create a subsystem with an invalid serial number (or model) is made, the nvmf_tgt doesn't gracefully handle TERM anymore:

Include ascii chat that's not supported by the nvme spec to trigger the error:
[code]
 Regardless of the failure above, the subsystem is still c

[2020-02-10 15:40] wmalikow commented on #1155
@ufo19890607 I've checked this issue on same kernel you are using: 3.10.0-693.el7.x86_64

In my environment I'm receiving  kernel panic during VMD unbinding from kernel:

[code]

I think that you could has also issue with kernel VMD driver unbind (you've noticed abnormal shutdown of nvme devices during setup.sh) and this could potential lead to that spdk driver is not able to enumerate those drive

[2020-02-10 16:56] not7cd opened #1193 "configure silently fails with explicit dependencies"
When using spdk as ExternalProject in CMake, certain errors can be ignored. It would be helpful if configure script could fail earlier.

## Expected Behavior
[code]

## Current Behavior
[code]

## Possible Solution

When running `./configure` with specified dependency, it should return non-zero code when it can't be added to `mk/config.mk`

## Context (Environment including OS version, SPDK versio

[2020-02-11 00:52] Comphix commented on #1146
Will take a further look.

[2020-02-11 08:36] optimistyzy commented on #1157
Can we produce this issue, I see the latest error is 3 weeks ago?

[2020-02-11 09:51] jkalwas opened #1194 "bdev_qos_iops (not related to any particular test?) timeout (ubuntu18 job)"
example log
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/60334/archive/ubuntu18_autotest/build.log

[2020-02-11 09:58] spdkci commented on #1194
Another instance of this failure. Reported by @jkalwas. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_60334.html

[2020-02-11 11:45] darsto opened #1195 "Bdev modules segfault on BDEV_IO_STATUS_NOMEM handling"
https://10.102.17.104:8080/job/RBD_BlobFS_tests/job/BlobFS_autotest_nightly/6401/console (intel only)

relevant part of log below.

This can be reproduced on any spdk app. If I modify crypto_read_get_buf_cb() in vbdev_crypto.c to always queue the I/O (without even submitting it down the path) then I get the same segfault.

[code]

[2020-02-11 11:50] pawelkax opened #1196 "Spdk can start with old config with aio bdev but not with json config"
Spdk cannot run with json config with aio bdev.

## Expected Behavior
Spdk can run successfully.

## Current Behavior
Spdk exits with error code:
json_config.c: 191:rpc_client_poller: *ERROR*: error response: {"code":-32601,"message":"Method not found"}}
app.c: 712:spdk_app_stop: *WARNING*: spdk_app_stop'd on non-zero

## Steps to Reproduce
1. Define bdev_aio.json with:
[code]
2. Run app/spdk_tgt/

[2020-02-11 11:58] spdkci commented on #1007
Another instance of this failure. Reported by @jkalwas. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_60359.html

[2020-02-11 13:25] jkalwas opened #1197 "alias_rpc timeout (centos7 job)"
example log:
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/60379/archive/centos7_autotest/build.log

[2020-02-11 13:29] spdkci commented on #1197
Another instance of this failure. Reported by @jkalwas. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_60379.html

[2020-02-11 13:50] tkulasek commented on #1187
@mikeBashStuff hi, from your config I see that crypto is turned off, but in your log cryptodev_aesni_mb is created anyway, what shouldn't happen for this case. Can you confirm that this log is for CONFIG_CRYPTO and CONFIG_IPSEC_MB turned off?

I can reproduce this issue but only with crypto turned on. For my case, and I suppose for yours, rte_aesni_mb_pmd is not initialized and freed right in mult

[2020-02-11 13:59] AlekseyMarchuk commented on #1192
I will check this issue

[2020-02-11 14:22] tomzawadzki commented on #1170
The issue is related to multiple md syncs going on at the same time. As such it is related to #906.
Recent addition of Extent Table writing before serializing rest of metadata, exacerbates the issue.

Please see UT that reproduces this assert in simplest way: https://review.spdk.io/gerrit/c/spdk/spdk/+/775/
First jab at fixing it can be seen here: https://review.spdk.io/gerrit/c/spdk/spdk/+/776/

[2020-02-11 14:25] tomzawadzki commented on #906
This issue as previously discussed is related to multiple md syncs going on at the same.
Result of that is clearing incorrect md pages or running out of md pages.

Reproduction of this issue in UT by checking if we are clearing md pages:
https://review.spdk.io/gerrit/c/spdk/spdk/+/774/

Possible fix can be seen here:
https://review.spdk.io/gerrit/c/spdk/spdk/+/776/

[2020-02-11 14:56] tkulasek commented on #1187
With crypto and perf started at least once nvmf_tgt segfaults on exit with:
[code]

[2020-02-11 15:13] tomzawadzki commented on #1020
[Bug scrub] @mhae Do you still need help with this issue ? Does it still occur ?

[2020-02-11 15:16] tomzawadzki commented on #1193
[Bug scrub] Since @tkulasek is working on configure changes to igb_uio, he can take on this one too. Please keep in mind looking at other places where explicit dependency is turned off.

[2020-02-11 15:25] tomzawadzki commented on #1196
[Bug scrub] This issue occurs on FreeBSD where AIO is not available. The expected behavior is one in json config. Since ini configs works by picking up certain parts of the configure, meanwhile json process all of the configuration.

Ini config files will get removed in the near future, so there is no need to fix this behavior.

[2020-02-11 15:25] #1196 closed

[2020-02-11 15:36] tomzawadzki commented on #1179
[Bug scrub] The Community Jenkins CI is an instance that we will be switching to soon. VM was temporarily run on system with spinning drive that was causing the issue. @karlatec Says the issue no longer shows up, so I'll be closing this issue.

[2020-02-11 15:36] #1179 closed

[2020-02-11 15:44] tomzawadzki commented on #1153
[Bug scrub] This could worked around by using igb_uio. Unfortunately since this is third-party issue, not much can be done right now.
We can verify if CentOS 8.2 beta contains this fix and will post docs update for this information.

[2020-02-11 16:16] spdkci commented on #1096
Another instance of this failure. Reported by @tomzawadzki. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_60387.html

[2020-02-11 16:35] peluse commented on #1195
this happens on passthru also.  I'm guessing on others as well so just updated the title to indicate that it's not specific to crypto.

[2020-02-11 17:41] jimharris commented on #1133
Can we be more aggressive in making sure enough cache buffers are available?  Originally I had suggest 16MB of buffers every 1ms, but maybe that's not aggressive enough.

The patch seems functionally correct - I left some comments on some suggested improvements.  But it does making the locking a bit more complex than it already is, which is why I'd really love to get the other method working.  :-)

[2020-02-11 17:52] spdkci commented on #1096
Another instance of this failure. Reported by @benlwalker. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_60323.html

[2020-02-11 19:48] peluse commented on #1195
Crypto, like PT and many others that followed the PT example, passes the spdk_io_channel struct that it got from the submit entry point when it calls spdk_bdev_queue_io_wait().  This is causing the issue as the bdev layer is unable to get the spdk_bdev_channel struct from that one.  If I instead pass the spdk_io_channel that I have for the underlying base bdev it seems to work

[2020-02-11 20:04] peluse commented on #1195
confirmed that by design the underlying base bdev channel should be used.  Multiple patches will be submitted to address the various vbdev modules that have this wrong

[2020-02-11 20:18] Seth5141 commented on #1153
doc fix here: https://review.spdk.io/gerrit/c/spdk/spdk/+/814/1

[2020-02-11 20:19] Seth5141 commented on #1189
Sorry @tkulasek I know I'm not assigned to this one, but I ended up doing a fix for this as part of my docs change for #1153. Series here. https://review.spdk.io/gerrit/c/spdk/spdk/+/814/1

[2020-02-11 20:34] spdkci commented on #1170
Another instance of this failure. Reported by @benlwalker. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_60412.html

[2020-02-11 20:38] Seth5141 commented on #1194
I am getting some generic timeout failures on ubuntu 18. I think they might be related.

[2020-02-11 20:41] spdkci commented on #1194
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_60409.html

[2020-02-11 20:51] peluse commented on #1195
So every vbdev module that uses IO queueing with the sole exception of RAID had this wrong. All the way back to gpt and split.  All patches have been submittted

[2020-02-11 21:02] spdkci commented on #1119
Another instance of this failure. Reported by @peluse. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_60428.html

[2020-02-11 22:04] spdkci commented on #1180
Another instance of this failure. Reported by @peluse. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_60441.html

[2020-02-11 22:06] spdkci commented on #1194
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_60439.html

[2020-02-11 23:08] Seth5141 commented on #1190
@mikeBashStuff Thanks for the heads up. Looks like I missed this one in the switchover. I have updated the repo on Gerrit so
[code]

works now.

[2020-02-11 23:08] #1190 closed

[2020-02-11 23:10] spdkci commented on #1180
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_60445.html

[2020-02-12 00:03] peluse opened #1199 "Segfault running CI: START TEST iscsi_tgt_qos"
00:57:28	# ip netns exec spdk_iscsi_ns ./app/iscsi_tgt/iscsi_tgt -L sock_vpp
 00:57:28	# trap 'killprocess $pid; iscsitestfini $1 $2; exit 1' SIGINT SIGTERM EXIT
 00:57:28	# waitforlisten 1161344
 00:57:28	# '[' -z 1161344 ']'
 00:57:28	# local rpc_addr=/var/tmp/spdk.sock
 00:57:28	# echo 'Waiting for process to start up and listen on UNIX domain socket /var/tmp/spdk.sock...'
Waiting for process t

[2020-02-12 00:04] spdkci commented on #1199
Another instance of this failure. Reported by @peluse. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_60457.html

[2020-02-12 00:33] shuhei-matsumoto commented on #1180
Slightly different signature but still related with nvme-cli.

EAL:   using IOMMU type 1 (Type 1)
 01:15:46	# '[' -e /var/run/spdk_stub0 ']'
 01:15:46	# [[ -e /proc/632920 ]]
 01:15:46	# sleep 1s
 01:15:47	# '[' -e /var/run/spdk_stub0 ']'
 01:15:47	# [[ -e /proc/632920 ]]
 01:15:47	# sleep 1s
 01:15:48	# '[' -e /var/run/spdk_stub0 ']'
 01:15:48	# [[ -e /proc/632920 ]]
 01:15:48	# sleep 1s
 01:15:4

[2020-02-12 00:34] spdkci commented on #1170
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_60464.html

[2020-02-12 00:36] spdkci commented on #1170
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_60463.html

[2020-02-12 01:44] changpe1 commented on #1133
When allocating a new cache buffer in the Read/Write path, the Rocksdb threads already hold each file lock, so the background cache management poller can't free enough cache buffers sometimes.  So we need a more accurate cache eviction policy first, it's on my todo list, I posted a fix for this issue first and will add some more refactoring patches very soon.

[2020-02-12 03:57] spdkci commented on #1180
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_60504.html

[2020-02-12 04:38] spdkci commented on #1092
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_60507.html

[2020-02-12 08:15] #1171 closed

[2020-02-12 08:34] darsto commented on #1195
Thanks Paul, you rule!

[2020-02-12 09:22] tomzawadzki opened #1200 "NVMe-oF shutdown tc3 nvme_transport_admin_qpair_abort_aers() assert"
Assert `bdevperf: nvme_transport.c:334: nvme_transport_admin_qpair_abort_aers: Assertion 'transport != NULL' failed.` is triggered on nvmf_shutdown_tc3 when using tcp transport.

As seen in log https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/60365/archive/nvmf_tcp_autotest/build.log
[code]

Further test are executed because of nvmf_shutdown_tc3 ignoring failure when killing

[2020-02-12 09:23] spdkci commented on #1200
Another instance of this failure. Reported by @tomzawadzki. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_60365.html

[2020-02-12 09:23] mikeBashStuff commented on #1187
@tkulasek Hmm. CONFIG_IPSEC_MB was definitely turned off. As for the CONFIG_CRYPTO...I am not sure anymore since I already scrapped this setup. :) However, if crypto was indeed built than it had to be on so there's a chance that the config I pasted is not that valid as I would want it to be...That said, I think it should be only this one deviation with CONFIG_CRYPTO since I haven't played with oth

[2020-02-12 09:24] spdkci commented on #1096
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_60113.html

[2020-02-12 09:32] mikeBashStuff opened #1201 "nvmf_tgt SIGABRTed"
This happens from time to time with builds which include this particular patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/693 thus it may be somehow related to https://github.com/spdk/spdk/issues/1192 which was seen locally? (feeding nvmf with invalid serial number|model).

Logs from the build: https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/60521/archive/nvmf_autotest/bui

[2020-02-12 09:34] spdkci commented on #1119
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_59841.html

[2020-02-12 10:08] darsto commented on #1118
FIO can sometimes open fd 2 even before loading our fio_plugin, so the patch won't work.

A clean solution here would be to redirect SDPK logs to fio logging function which knows if we're running as a server and can even send the msg to the client. But that doesn't cover DPDK yet, which prints messages locally anyway.

I pushed another revision to exit fio clients with a nice error message "SPDK F

[2020-02-12 10:09] darsto commented on #1118
Closing this for now - supporting fio daemon mode could be an enhancement later on.

[2020-02-12 10:09] #1118 closed

[2020-02-12 12:08] AlekseyMarchuk commented on #1192
Hi @mikeBashStuff

Could you check if patch https://review.spdk.io/gerrit/c/spdk/spdk/+/832 fixes the issue?

[2020-02-12 12:08] AlekseyMarchuk commented on #1201
I prepared a fix for #1192, will check this issue

[2020-02-12 12:16] mikeBashStuff commented on #1192
@AlekseyMarchuk  Sure, will do.

[2020-02-12 14:07] mikeBashStuff commented on #1192
@AlekseyMarchuk I just tested it locally and with your patch everything worked beautifully. :)  It would be really nice to have this merged so https://review.spdk.io/gerrit/c/spdk/spdk/+/693 can be done as well (would need to just adjust code to fit your improvements in the format of the rpc responses :)).

[2020-02-12 14:10] AlekseyMarchuk commented on #1192
Thank you @mikeBashStuff !

[2020-02-12 14:34] peluse commented on #1154
@dnzlike no problem. As I mentioned before, this script requires QAT (it runs in our CI). You can make one small change though to make it work without QAT.  Just just change "set_compress_pmd -p 1" to "set_compress_pmd -p 0"

[2020-02-12 14:47] mhae commented on #1020
@tomzawadzki Let's close this for now. I still think it is an issue but I haven't had a chance to dig into further.

[2020-02-12 14:47] #1020 closed

[2020-02-12 14:48] AlekseyMarchuk commented on #1201
It looks like it is related to #1192 since we created a subsystem, tried to apply Model Number, it failed and we didn't start the subsystem, so the subsystem stays in state SPDK_NVMF_SUBSYSTEM_INACTIVE. Later during destruction, nvmf_tgt iterates over all subsystems and stops them. During the stop process we expect the following state changes: SPDK_NVMF_SUBSYSTEM_ACTIVE (current) -> SPDK_NVMF_SUBS

[2020-02-13 03:53] jimharris commented on #1133
Sounds like a good plan Changpeng.  I've added my +2 to all three patches in your patch set.

[2020-02-13 03:56] taolluo opened #1202 "Question: I want to run fio with a io_uring-backed bdev, how to setup bdev.conf with a io_uring bdev?"
I want to test the performance of an optane ssd with io_uring.

Following this guide

 https://mp.weixin.qq.com/s?__biz=MzI3NDA4ODY4MA==&mid=2653334990&idx=1&sn=2b8cc25a6271e96ad0499fa805d34404&chksm=f0cb5a49c7bcd35f0f52da024484769b75be2aefc96de5f8b4ec0266c60fe8c0a8c175331c4f&mpshare=1&scene=1&srcid=1114sufem9yNa5Jxjmy7lx22&sharer_sharetime=1581149365230&sharer_shareid=8d5fd725a4e1540d771a8a3fbac3

[2020-02-13 06:52] taolluo commented on #1202
Hi  @yottaliu it seems this io_uring feature was developed by you, could you please give some hints ?

[2020-02-13 09:36] shuhei-matsumoto opened #1203 "JSON config test failed in the test pool"
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/3235/archive/centos7-autotest/build.log

The following error was observed.

[code]

Nothing is investigated yet.

[2020-02-13 09:53] #840 closed

[2020-02-13 10:55] spdkci commented on #1007
Another instance of this failure. Reported by @karlatec. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_3237.html

[2020-02-13 10:55] spdkci commented on #1170
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_3185.html

[2020-02-13 10:55] spdkci commented on #1096
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_3024.html

[2020-02-13 11:31] spdkci commented on #1007
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_3243.html

[2020-02-13 11:55] dnzlike commented on #1154
@peluse yes sir, I **have** a QAT card on my server, and it works well with other QAT examples. But when I run the above script, it still shows this problem. I need the QAT card to do some compress work, does it need any configure to recognize the QAT card? By the way, what does CI mean?

[2020-02-13 12:06] AlekseyMarchuk commented on #1184
I reproduced something similar to the problem `#2` - I created a bonding interface over 2 dummy interfaces and added rxe over bonding. After that I started spdk_tgt and nvme_perf on the bonding and disabled this interface. As a result, both spdk_tgt and nvme_perf hang and become defunct processes when I try to kill them. I was not able to attach to them with gdb. My second attempt was to start nvm

[2020-02-13 13:21] spdkci commented on #1096
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_3281.html

[2020-02-13 13:45] peluse commented on #1154
@dnzlike  CI means contiguous integration, its the system that performs tests on all code in the SPDK repo when patches are submitted. Try running /scripts/qat_setup.sh and let us know what that output looks like, this is a required step before using QAT with SPDK. Thanks

[2020-02-13 14:20] dnzlike commented on #1154
[code]
@peluse  Noticing the last line, so I add the --with-igb-uio-driver and re make it.

[2020-02-13 15:03] taolluo commented on #1202
I figured it out .
[code]

In command line, pass '--filename=URING0' to fio binary.

[2020-02-13 15:03] #1202 closed

[2020-02-13 16:45] spdkci commented on #1170
Another instance of this failure. Reported by @tomzawadzki. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_3302.html

[2020-02-13 16:47] spdkci commented on #1007
Another instance of this failure. Reported by @tomzawadzki. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_3292.html

[2020-02-13 19:59] #1153 closed

[2020-02-13 23:42] spdkci commented on #1092
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_3393.html

[2020-02-14 06:19] optimistyzy commented on #1092
It seems that this issue happens very often..

[2020-02-14 06:40] shuhei-matsumoto opened #1204 "iSCSI bdev called poller_unregister() by the different thread that called poller_register()."
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/3469/archive/iscsi-autotest/build.log

[code]

[2020-02-14 06:42] shuhei-matsumoto commented on #1204
This was caused by https://review.spdk.io/gerrit/c/spdk/spdk/+/890/1.

So close this for now.
Sorry for confused information.

[2020-02-14 08:32] zhiganglu opened #1205 "Failed to boot a VM guest with a vhost-user-blk boot disk"
I failed to boot a VM guest with a vhost-user-blk boot disk. Is there anything I missed? Or so far the vhost does not support boot disk.

Here is the steps to reproduce.
1) start vhost:
#./spdk-master/app/vhost/vhost -m 0x1000010 -s 2048 -S /var/run/spdk -c vhost.conf
Starting SPDK v20.04-pre / DPDK 19.11.0 initialization...
[ DPDK EAL parameters: vhost --no-shconf -c 0x1000010 -m 2048 --log-level

[2020-02-14 09:18] spdkci commented on #1170
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_3492.html

[2020-02-14 10:49] mikeBashStuff opened #1206 "bdevperf fails to run against virtio-scsi device"
SPDK: v20.01-rc1 (HEAD->72b9af55)
OS: Fedora31 (kernel: 5.4.17-200.fc31.x86_64)

This issue is following the report from @franciozzy  on slack. The bdevperf is failing to run against a viritio-scsi device with the following:

[code]
Config is:
[code]
Originally, issue was reported for Debian 10, however, same scenario can be seen on our fedora31 image.
v19.10 Doesn't seem to be affected, that said

[2020-02-14 12:27] AlekseyMarchuk commented on #852
Hi @jgrodman

I ran fio with your configuration about 30 times and didn't notice this error. I used RHEL 7.4 3.10.0-693.el7.x86_64 with MLNX_OFED_LINUX-4.6-1.0.1.1 on both machines. Could you clarify your environment? I think that the issue is caused by inbox drivers (rdma-core)

[2020-02-14 13:26] tomzawadzki commented on #1189
Patch fixing this issue was merged:
https://review.spdk.io/gerrit/c/spdk/spdk/+/792/3

[2020-02-14 13:26] #1189 closed

[2020-02-14 13:30] jimharris commented on #1206
Can you check whether it’s the virtual address or the physical address that fails?

My guess is it’s the physical address. We shouldn’t need the physical address of the virtio BAR. But it would still be good to know why we can’t get it. A workaround for now would be to revert that part of the patch.

Note that we do need the physical address for NVMe devices when they have a CMB.

[2020-02-14 13:43] mikeBashStuff commented on #1206
@jimharris I think it actually was the virtual one. But I will double check it just to be sure.

[2020-02-14 14:17] mikeBashStuff commented on #1206
@jimharris Tested like so and it seems that it fails while checking the `mapped_addr`:
[code]

[2020-02-14 15:41] spdkci commented on #1007
Another instance of this failure. Reported by @ksztyber. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_3585.html

[2020-02-14 16:18] huangqingxin commented on #1184
Hi, @AlekseyMarchuk

Tks for your work! **I will check the behavior when  bonding over infiniband NIC**.  I wonder this will be a common issue like the port failure in real world, if it happens, the nvmf_tgt and OS will hang, the result is unhappy. :)

If check the call backtrace in the kernel dump from crash. It is cause by `rdma_cm_destory`, in `nvmf lib` will respond the `DEVICE_REMOVAL` event

[2020-02-16 19:51] jgrodman commented on #852
Hi @AlekseyMarchuk thanks for giving it a look...here is my setup:

target and initators:

[code]

[code]

target:
[code]

initiator 1 and 2:
[code]

initator 1:
[code]

initiator 2:
[code]

[2020-02-17 00:14] shuhei-matsumoto opened #1207 "Test pool failed but no logs have not been generated."
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_3490.html

[2020-02-17 00:15] spdkci commented on #1207
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_3490.html

[2020-02-17 00:45] shuhei-matsumoto opened #1208 "Buffer mismatch occured in bdevperf with verify"
The following was observed in CI.

[code]

[2020-02-17 00:46] spdkci commented on #1208
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_3313.html

[2020-02-17 00:48] spdkci commented on #1170
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_3504.html

[2020-02-17 01:19] spdkci commented on #1207
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_3681.html

[2020-02-17 02:02] changpe1 commented on #1205
@zhiganglu I used the same configuration as yours, it can work for me, I'm using the Fedora 29 as the image, maybe you can try another image. For the raw format, since it has passed the BIOS stage, so it should work for the OS part.

[2020-02-17 02:25] changpe1 commented on #1204
@shuhei-matsumoto Can we close this issue now?

[2020-02-17 02:27] changpe1 commented on #1200
@optimistyzy Can you take a look of this issue? Thanks.

[2020-02-17 02:34] shuhei-matsumoto commented on #1204
Oh yes, I close this. Thanks @changpe1

[2020-02-17 02:34] #1204 closed

[2020-02-17 04:16] spdkci commented on #1170
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_3512.html

[2020-02-17 05:37] optimistyzy commented on #1200
I did not see suspicious code in NVMe tcp layer, so propose this patch to avoid this issue: https://review.spdk.io/gerrit/c/spdk/spdk/+/918. Would like to let Seth get a look since he implemented the reset feature for NVMe-oF in 20.01.  @Seth5141

[2020-02-17 07:10] shuhei-matsumoto opened #1209 "nvme_multi_secondary test failed"
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/3511/archive/nvme-phy-autotest/build.log

[code]

[2020-02-17 10:05] #1192 closed

[2020-02-17 11:11] zhiganglu commented on #1205
@changpe1 Thank you, I will try some other images, and find out why Centos image does not work.

[2020-02-17 14:08] spdkci commented on #1133
Another instance of this failure. Reported by @pawelkax. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_3714.html

[2020-02-17 15:18] spdkci commented on #1180
Another instance of this failure. Reported by @ksztyber. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_3636.html

[2020-02-17 18:22] spdkci commented on #1119
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_3797.html

[2020-02-17 18:22] spdkci commented on #1119
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_3785.html

[2020-02-17 23:04] shuhei-matsumoto opened #1210 "NVMe-TCP target failed to connect after shutdown test"
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/3319/archive/nvmf-tcp-autotest/build.log

Extra sleep may be needed.

[code]

[2020-02-17 23:05] spdkci commented on #1210
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_3319.html

[2020-02-18 01:05] changpe1 commented on #1133
Starting SPDK v20.04-pre git sha1 dd7bf5a52b / DPDK 19.11.0 initialization...
[ DPDK EAL parameters: rocksdb --no-shconf -c 0x1 --log-level=lib.eal:6 --log-level=lib.cryptodev:5 --log-level=user1:6 --base-virtaddr=0x200000000000 --match-allocations --file-prefix=spdk_pid162543 ]
EAL: No available hugepages reported in hugepages-1048576kB
EAL: VFIO support initialized
app.c: 646:spdk_app_start: *NO

[2020-02-18 01:07] changpe1 commented on #1133
Closing this issue as patches have been merged.

[2020-02-18 01:07] #1133 closed

[2020-02-18 01:12] changpe1 opened #1211 "blobfs: cache allocation failure in write sync tests(intermittent failure)"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Tests aborted due to can't allocate cache buffer after 100 times retries.

## Expected Behavior

## Current Behavior

Starting SPDK v20.04-pre git sha1 dd7bf5a52b / DPDK 19.11.0 initialization...
[ DPDK EAL parameters: rocksdb --no

[2020-02-18 01:14] changpe1 commented on #1211
I will take a look of this issue.

[2020-02-18 03:16] zlsh007 commented on #1132
Hello everyone, I found some new information. When comparing the two versions of iostat information of 19.04 and 19.07 in my environment, when the fio test parameter is bs = 128k, I see that the average request size of 19.04 is 256. , Which is exactly 128k, but 19.07 is 8, which is 4k.

The test parameters are as follows：
fio -direct=1 -iodepth=128 -rw=read -ioengine=libaio -bs=128k -numjobs=1 -ti

[2020-02-18 03:27] zlsh007 commented on #1132
Thanks @liang2yan  for helping test. Although max_segments is also 1 on his machine, the average queue depth is not affected by this, and the performance is normal.

[2020-02-18 05:17] SavanAnjaria commented on #906
@tomzawadzki
Had a chance to take a look at the code review. If I understand it correctly, we are allowing only 1 persist request at a time and queue the successive requests until the prior one is completed. Once the prior one is completed, we dequeue the next item from the queue.

I just had one suggestion for this approach (couldn't mention that in the review since I don't have permission to do

[2020-02-18 07:30] shuhei-matsumoto commented on #1161
I close this issue because the main patch was merged. https://github.com/spdk/spdk/commit/abb942bda118280ba8230c5c8098caa80fe8c2f4
Thanks for everyone.

Hi @ak-gh,

I hope the merged feature is sufficiently simple and usable. Please feel free re-open or create an new issue if you find any issue.

[2020-02-18 07:30] #1161 closed

[2020-02-18 07:56] spdkci commented on #1170
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_3857.html

[2020-02-18 08:05] #1195 closed

[2020-02-18 08:07] shuhei-matsumoto opened #1212 "iscsi_tgt_rbd test: Ceph monitor data filesystem reached concerning levels of available storage space"
The following error was observed in the test pool.
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/3887/archive/iscsi-autotest/build.log
[code]

[2020-02-18 08:09] spdkci commented on #1212
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_3887.html

[2020-02-18 08:17] spdkci commented on #1072
Another instance of this failure. Reported by @ksztyber. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_3807.html

[2020-02-18 08:37] mikeBashStuff opened #1213 "nvme_cli test fails to link to the spdk repo"
This seems to happen intermittently: https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/3846/archive/nvme-phy-autotest/build.log - `spdk_nvme_cli.sh` attempts to remove entire directory with `rm -f`. I take the assumption is that it should be an actual symlink to the repo we want to built nvme_cli against but here it's not the case.

Part where it fails:
[code]

Simply use `rm

[2020-02-18 08:44] darsto commented on #966
Unassigning @karlatec

[2020-02-18 08:52] optimistyzy commented on #1211
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/3876/archive/BlobFS-autotest/rocksdb/readwrite_db_bench.txt  Not same with you, but another issue.

[2020-02-18 09:24] darsto commented on #1213
@karlatec please assign someone ;)

[2020-02-18 09:25] darsto commented on #1213
(anyone but me!)

[2020-02-18 09:26] changpe1 commented on #1211
Patch to fix the issue https://review.spdk.io/gerrit/c/spdk/spdk/+/938.

[2020-02-18 09:33] spdkci commented on #1213
Another instance of this failure. Reported by @mikeBashStuff. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_3846.html

[2020-02-18 10:43] mikeBashStuff opened #1214 "freebsd-autotest is cloning rocksdb from gerrithub (not new gerrit instance)"
Raising for visibility. Happened only once so far, marking as intermittent for now.

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/3913/archive/freebsd-autotest/build.log

[2020-02-18 10:46] spdkci commented on #1214
Another instance of this failure. Reported by @mikeBashStuff. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_3913.html

[2020-02-18 11:01] AlekseyMarchuk commented on #1184
I believe that nvmf_tgt/OS hang only relate to soft roce and we should handle DEVICE_REMOVAL event. Otherwise we'll have another errors such ascq polling errors and we'll have to destroy qpair which will result in calling `rdma_destroy_id`

[2020-02-18 11:12] zlsh007 commented on #1132
After updating to the 4.14 kernel, the performance is normal. This may indicate that the higher kernel is more intelligent at the general block device layer. But why the max_segments of 19.04 is 126 and 19.07 is indeed 1. This has the limitation of using a higher kernel. If the device queue information obtained by 19.07 is the same as that of 19.04, does it mean that it can also be obtained in a s

[2020-02-18 11:18] AlekseyMarchuk commented on #852
I'll find Ubuntu 18.04 to check my assumption regarding inbox drivers. @jgrodman will you be able to install the latest release of OFED/MOFED and check that these errors still exist?

[2020-02-18 12:23] wawryk opened #1215 "nvme_autotest fails in vm on nvme_smartctl_cuse test"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior
Test should pass

## Current Behavior
Test fail:
[code]

## Possible Solution

## Steps to Reproduce

1.Run nvme_autotest on fedora 30
autorun-spdk.conf:
[code]

## Context (Environment including OS version, SP

[2020-02-18 13:50] AlekseyMarchuk commented on #852
I checked Ubuntu 18.04 with standard ib/rdmacm drivers and didn't see these errors. @jgrodman if it is possible for you to install MOFED, I would wait for your results since MOFED installation also updates FW on NIC.

[2020-02-18 14:34] spdkci commented on #1210
Another instance of this failure. Reported by @tomzawadzki. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_3910.html

[2020-02-18 16:12] spdkci commented on #1213
Another instance of this failure. Reported by @tomzawadzki. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_3968.html

[2020-02-18 21:42] jimharris commented on #1211
Hi @changpe1,

The patch looks OK, but I suspect this bug only appeared because of the recent changes for issue #1133.  Do you know why those fixes caused this problem to now occur?  I would like to understand that root cause a bit more before merging this patch.

-Jim

[2020-02-19 02:56] changpe1 commented on #1211
@jimharris I reverted the recent blobfs patches and set the cache size to 1024MiB, when using test/blobfs/rocksdb/rocksdb.sh to test the result, I found there is dead lock issue, and my recent patches which using pthread_spin_trylock() can avoid this issue.  Here is the thread dump when dead lock happens:

(gdb) info threads
  Id   Target Id         Frame
* 1    Thread 0x7f8ca5a94100 (LWP 66721) "

[2020-02-19 03:04] changpe1 commented on #1211
@jimharris From the code change, using pthread_spin_trylock() may not release any cache buffer during scanning the g_caches list in one round, but I still break the scanning, so here isn't efficient than the original code.  If I changed the code at least to release one file cache buffer for each around, this will exactly same with the original code, I will try that.

[2020-02-19 03:43] jimharris commented on #1211
Sounds good Changpeng. Thanks!

[2020-02-19 06:30] changpe1 commented on #1211
I post a patch https://review.spdk.io/gerrit/c/spdk/spdk/+/950 before https://review.spdk.io/gerrit/c/spdk/spdk/+/938, the patches to resolve #1133 can cause the cache buffer to be exhausted very quickly, because we may not get the file lock sometimes.

[2020-02-19 08:29] spdkci commented on #1211
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_4036.html

[2020-02-19 10:00] spdkci commented on #1207
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_4045.html

[2020-02-19 12:26] tkulasek commented on #1187
@mikeBashStuff can you check if this issue is reproducible for you with config you have provided (with crypto disabled)?

[2020-02-19 12:37] mikeBashStuff commented on #1187
@tkulasek Yes, will do.

[2020-02-19 14:28] mikeBashStuff commented on #1187
@tkulasek I've managed to reproduce this memory leak once again (against latest master, same system), but as you said, CONFIG_CRYPTO had to be enabled. The config I used this time (and this time I am 100% sure it's the very same I just run my tests against :D) looks like this:

[code]
And just for visibility's sake, `autotest.sh` was run with the following env:
[code]

[2020-02-19 14:54] tkulasek commented on #1215
@wawryk Make sure you're using our fork of qemu to run vm. Standard qemu available in system may not support this feature.

[2020-02-19 15:54] mikeBashStuff opened #1216 "rocksdb_writesync test failed for unknown reason"
The db_bench runs redirect their stdout|stderr to a file, thus xtrace is unfortunately not writing out anything useful when the error occurs.

https://ci.spdk.io/results/autotest-per-patch/builds/4071/archive/BlobFS-autotest/build.log

[2020-02-19 15:57] spdkci commented on #1216
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_4071.html

[2020-02-19 16:01] jimharris commented on #1216
The output gets captured in a separate file.  You can find it here:

https://ci.spdk.io/results/autotest-per-patch/builds/4071/archive/BlobFS-autotest/index.html
rocksdb -> writesync_db_bench.txt

It's a use-after-free error.  Seems similar to #1133 which has been fixed.  Is it possible this patch hasn't been rebased from master recently?

[2020-02-19 16:06] mikeBashStuff commented on #1216
@jimharris Ah, I completely forgot those files are exposed as well. And regarding the patch itself, yes that indeed might be the case. will check that asap.

[2020-02-19 16:38] jimharris commented on #1211
The reclamation patch looks good Changpeng.  Do we still need patch #938 then?  I don't think this case will ever hit now that you've improved the cache buffer reclamation.

[2020-02-19 17:35] mikeBashStuff commented on #1216
This patch (the whole series) was actually recently rebased. The next build (after retriggering it) was completed successfully.

[2020-02-19 18:12] brianjmurrell opened #1217 "libspdk_bdev.so SOVERSION bump?"
Looking at https://github.com/spdk/spdk/commit/53b92a6c18f0c0f2e44575d259bea26ab546b014, it appears that this is breaking the API of `spdk_bdev_io_complete_nvme_status()`.  Is my understanding of this correct?

That would appear to have happened in v19.10 if I'm reading the [CHANGELOG.md](https://github.com/spdk/spdk/blob/53b92a6c18f0c0f2e44575d259bea26ab546b014/CHANGELOG.md) correctly, yes?

I be

[2020-02-19 19:05] jimharris commented on #1217
SOVERSION should have been bumped.  We'll discuss this at tonight's bug scrub (including how to better catch these in the future.)

[2020-02-19 19:06] spdkci commented on #1213
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_4072.html

[2020-02-19 21:30] brianjmurrell commented on #1217
Thanks much @jimharris.

Does this warrant a bug-fix point release, to get consumers using the correct version of shared library again?

[2020-02-19 21:34] jimharris commented on #1217
That will be part of tonight's discussion.  We would certainly fix this in a v20.01.1 release - the question is whether we would do a v19.10.2 release as well.

[2020-02-19 21:35] brianjmurrell commented on #1217
Ah, yes, indeed.  For us, at the moment, the v20.01.1 release would be the most important.  We never did jump on v19.10.x.  But I could see that some others might have.

[2020-02-19 21:44] spdkci commented on #1211
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_4100.html

[2020-02-19 21:47] spdkci commented on #1211
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_4058.html

[2020-02-19 21:49] brianjmurrell commented on #1217
@jimharris What are the chances that any other shared libs missed SOVERSION bumps?  Would consideration of that in your meeting tonight and a rectification in a v20.01.1 be feasible if so?

Frankly, I'd love to get rid of our `Requires:` and `BuildRequires:` for `spdk` and `spdk-devel` versions and let RPM's _auto-{requires,provides}_ take care of finding the right RPM version of the needed spdk l

[2020-02-19 21:51] shuhei-matsumoto opened #1218 "EAL failed to attach device on CI"
The following error was observed:
https://review.spdk.io/gerrit/c/spdk/spdk/+/853/4
[code]

[2020-02-19 21:52] spdkci commented on #1218
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_4068.html

[2020-02-19 21:55] spdkci commented on #1210
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_4073.html

[2020-02-20 00:25] spdkci commented on #1208
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_4132.html

[2020-02-20 00:30] spdkci commented on #1211
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_4126.html

[2020-02-20 00:33] jimharris commented on #1168
Removing the bug label here.  Typically issues are either a bug or an enhancement, not both.

[2020-02-20 00:34] jimharris commented on #1157
Closing this issue.  Was only seen with VPP, and not at all over the last 4 weeks.

[2020-02-20 00:34] #1157 closed

[2020-02-20 00:36] jimharris commented on #1154
@dnzlike @peluse What are the next steps on this?  It looks like @dnzlike needs to run qat_setup.sh like this?

scripts/qat_setup.sh igb_uio

Is there anything else?

[2020-02-20 00:38] jimharris commented on #1206
@Donaim - can you take a look at this?

[2020-02-20 00:39] peluse commented on #1154
@dnzlike sorry I didn't see your update until just now. @jimharris yeah your suggestion looks right.  If that doesn't work I can help build from source as that's how I had to get it working on one of my dev systems.  QAT isn't the easiest thing to get setup (nothing to do with SPDK)

[2020-02-20 00:40] jimharris commented on #1201
Closing this based on Alexey's comments.  #1192 has been closed already.

If we see this again, we can reopen.

[2020-02-20 00:40] #1201 closed

[2020-02-20 00:42] jimharris commented on #1207
Assigning to @Seth5141

[2020-02-20 00:44] jimharris commented on #1214
This was probably just an intermittent network issue.

But looking at the log, we're still cloning rocksdb from gerrithub - not the new SPDK instance.

So I'm keeping this bug open but renaming it.  @Seth5141 or @karlatec - can one of you take this?

[2020-02-20 00:48] jimharris commented on #1216
This looks like a duplicate of #1211.

[2020-02-20 00:48] #1216 closed

[2020-02-20 00:54] spdkci commented on #1211
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_4003.html

[2020-02-20 01:00] spdkci commented on #1119
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_4005.html

[2020-02-20 01:56] changpe1 commented on #1218
From the log information, DPDK hotplug API returns an error when probing the drive.

[2020-02-20 03:03] changpe1 commented on #1209
This issue is same with #1213 .

[2020-02-20 03:04] changpe1 commented on #1209
But from the log, I see lots of DPDK EAL detach failure, that also need to take a look.

[2020-02-20 03:18] changpe1 commented on #1207
It's same with #1177.

[2020-02-20 03:59] changpe1 commented on #1218
Similar with #1209 too. This is attach failure, and #1209 is detach failure.

[2020-02-20 04:12] jimharris commented on #1215
Hi @tkulasek - I know we need the custom Qemu for Open Channel features.  Is there something else needed for these CUSE tests?

[2020-02-20 04:13] jimharris commented on #1215
Bug scrub: this is the blocking issue with upgrading the VMs so that we can support newer kernels with io_uring.

[2020-02-20 04:15] jimharris commented on #1214
Bug scrub: @Seth5141 thinks this has already been fixed (to stop cloning from gerrithub).  Assigning to him and he'll check for sure tomorrow.

[2020-02-20 04:19] jimharris commented on #1213
Bug scrub: All three failures reported so far are on GP1.  Assigning to @karlatec and @Seth5141.

[2020-02-20 04:23] jimharris commented on #1212
Failure was on WP4.  @karlatec - could you check if this system is running low on disk space?

[2020-02-20 04:31] jimharris commented on #1210
Bug scrub: assigning to @Seth5141 - he wants to investigate why the spdk_nvme_ctrlr_reconnect_io_qpair is returning something other than -ENXIO

[2020-02-20 04:33] jimharris commented on #1199
Bug scrub: this dumped in VPP code - closing this issue since we're just in maintenance mode for now with VPP and not actively debugging VPP-related issues

[2020-02-20 04:33] #1199 closed

[2020-02-20 04:36] jimharris commented on #1197
Bug scrub: this looks like a real hang - let's continue to monitor to see if this hits again

[2020-02-20 04:40] jimharris commented on #1194
These are all generic build timeouts related to issue #1137.  Closing this issue.

[2020-02-20 04:40] #1194 closed

[2020-02-20 04:43] jimharris commented on #1177
Bug scrub: @karlatec is doing some scrubbing in some of the nightly Jenkins jobs - assigning to him for now.  @karlatec - feel free to reassign if needed.  :-)

[2020-02-20 04:43] spdkci commented on #948
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_4167.html

[2020-02-20 04:45] jimharris commented on #1180
These last three failures are the same as issue #1213.  Closing this issue since the original problem has been fixed.

[2020-02-20 04:45] #1180 closed

[2020-02-20 04:47] jimharris commented on #1099
Bug scrub: @changpe1 hit this issue while debugging one of the other blobfs issues.  He fixed a deadlock condition with a try lock.  Closing this issue since we believe it's been fixed, and the original issue hasn't been seen for 2+ months.

[2020-02-20 04:49] jimharris commented on #1077
Bug scrub: This nfs issue in CI hasn't been seen in 2+ months.  Closing.

[2020-02-20 04:49] #1077 closed

[2020-02-20 04:54] jimharris commented on #1069
Bug scrub: Closing this issue.  All reports since January 9 are not related to this issue and have been fixed separately.

[2020-02-20 04:54] #1069 closed

[2020-02-20 04:57] jimharris commented on #917
Bug scrub: Closing this issue - hasn't been seen in over 5 months and we we aren't actively debugging issues only seen with VPP.

[2020-02-20 04:57] #917 closed

[2020-02-20 04:58] jimharris commented on #916
Hi @zlsh007,

I'm going to close this issue.  Please continue to respond on this issue though if you have a chance to test again.

Thanks,

-Jim

[2020-02-20 04:58] #916 closed

[2020-02-20 04:59] jimharris commented on #817
Bug scrub: @KariukiJ - have you confirmed this issue with UNH?  Thanks.

[2020-02-20 05:23] jimharris commented on #954
Closing issue since patches were merged - please report back if you find that the issue still exists.

[2020-02-20 05:23] #954 closed

[2020-02-20 05:26] jimharris commented on #968
Commit 784332106 was merged in December which adds a quirk to address this issue.

[2020-02-20 05:26] #968 closed

[2020-02-20 05:26] zlsh007 commented on #1132
@changpe1
hi, do you know why the max_segments parameter was set to 1 after version 19.07? This seems to be not friendly to the performance of the lower version kernel

Thanks
su

[2020-02-20 05:32] jimharris commented on #1184
Closing based on analysis from @AlekseyMarchuk that this is related to rxe (soft-roce).

@huangqingxin - if you have any additional questions, please continue to reply on this issue.  Thanks!

[2020-02-20 05:32] #1184 closed

[2020-02-20 05:35] changpe1 commented on #1132
@zlsh007 We don't change this parameter to 1 actually, I go through the commit history, and do you mean this commit cf680fe47?

[2020-02-20 05:38] govind-rathod1987 opened #1219 "NVMe discover failed with Input/output error for NVMe host with Kernel ver 5.3"
NVMe discover failed with Input/output error a below:

linux-q9xz:~ # nvme discover -t rdma -a 100.100.20.32
Failed to write to /dev/nvme-fabrics: Input/output error
linux-q9xz:~ #

dmesg output is:
[ 5743.295642] nvme nvme9: Connect command failed, error wo/DNR bit: 6
[ 5743.296728] nvme nvme9: failed to connect queue: 0 ret=6

using latest 5.3 kernel:
linux-q9xz:~ # uname -r
5.5.3-195-default
li

[2020-02-20 05:42] changpe1 commented on #1219
Can you also list the SPDK version and the debug messages when this issue happens?

[2020-02-20 06:09] govind-rathod1987 commented on #1219
SPDK ver : 19.04
at host dmesg i see following error :
[600952.224056] nvme nvme16: Connect command failed, error wo/DNR bit: 6
[600952.225036] nvme nvme16: failed to connect queue: 0 ret=6

[2020-02-20 06:12] changpe1 commented on #1219
Have you tried with latest SPDK version? I'm wondering there is some mismatch for the new kernel version.

[2020-02-20 06:14] govind-rathod1987 commented on #1219
ok in that case i shall try updating my SPDK ad get back with my findings.
Thanks

[2020-02-20 07:10] govind-rathod1987 commented on #1219
Hi it works after updating SPDK from 19.04 to 20.
i verified discover and connect form hosts running with kernel ver 4.19 and 5.5 version to my SPDK (ver 20) with kernel 4.19

[2020-02-20 07:58] zlsh007 commented on #1132
hi，@changpe1
In the 19.04 version, the get_config function will be called to obtain parameters, but the negotiation process in 19.07 does not support this action. I do n’t know why later versions do not need get_config. Is it implemented elsewhere?

![image](https://user-images.githubusercontent.com/15990748/74912467-ba8d3580-53f9-11ea-953e-d1fad68215b2.png)
![image](https://user-images.githubuser

[2020-02-20 08:13] zlsh007 commented on #1132
@changpe1
Hi, I found it. It turned out that 19.07 was obtained in the spdk_extern_vhost_pre_msg_handler function. The same logic was used, but it was not 126 in the guest, but 1. I will see where it is caused.

[2020-02-20 08:21] changpe1 commented on #1218
The detach failure information is related with autotest, I can reproduce it by using STUB in two terminals:
1)  test/app/stub/stub -s 4096 -i 0 -m 0xE
2)  examples/nvme/identify/identify -i 0

Terminal 1 prints:
Starting SPDK v20.04-pre git sha1 6d8f1fc / DPDK 19.11.0 initialization...
[ DPDK EAL parameters: stub -c 0xE -m 4096 --log-level=lib.eal:6 --log-level=lib.cryptodev:5 --log-level=user1:6

[2020-02-20 08:24] changpe1 commented on #1132
Exactly, you should check your DPDK version.

[2020-02-20 08:30] zlsh007 commented on #1132
@changpe1
I use the 19.05 version, but the other day when @liang2yan helped me test it, he was also 1 in the guest, and I used 20.01 as well.

[2020-02-20 08:50] zlsh007 commented on #1132
@changpe1 It is cleared again after setting
![image](https://user-images.githubusercontent.com/15990748/74916554-0a232f80-5401-11ea-90d8-893edf086285.png)

[2020-02-20 08:55] changpe1 commented on #1132
Good catch, can you submit a patch to SPDK?

[2020-02-20 08:56] zlsh007 commented on #1132
@changpe1 Ok, let me mention a patch

[2020-02-20 09:15] zlsh007 commented on #1132
@changpe1
After this change, will the problem of formatting the aio device of the previous windows2012 still occur, and still need to be verified?

[2020-02-20 09:20] changpe1 commented on #1132
It's should be OK, we already adjust the number of segments based on bdev device.

[2020-02-20 09:29] zlsh007 commented on #1132
@changpe1 okay

[2020-02-20 09:29] #1132 closed

[2020-02-20 10:00] wawryk commented on #1215
@tkulasek thanks for your tips, compile qemu from our sources and fresh vm works fine.
Also i tested this on one of our CI fedora and it works fine after upgrade.

[2020-02-20 10:00] #1215 closed

[2020-02-20 11:30] karlatec commented on #1212
WP4 had 85% disk utilization with about ~15GB left. If I recall correctly then in Ceph tests we lay out some 10G file, so that's probably why it was complaining.

There was still some free space on the OS disk so I resized the partition. Let me know if the issue persists.

[2020-02-20 11:55] spdkci commented on #1213
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_4209.html

[2020-02-20 12:47] jkalwas opened #1220 "io channel ref leak results in nvmf_tgt "hang""
## Expected Behavior

- app shall be able to exit with ctrl + c or spdk_kill_instance SIGTERM
- it would be nice to have err reported
"thread %s still has active channel"

## Current Behavior

app doesn't exit

## Steps to Reproduce

e.g.
add spdk_nvmf_poll_group_create(transport->tgt);
in spdk_nvmf_tcp_listen

## Context (Environment including OS version, SPDK version, etc.)

issue shall be repro

[2020-02-20 14:31] jimharris commented on #1219
Thanks @govind-rathod1987.  Closing this issue.

[2020-02-20 14:31] #1219 closed

[2020-02-20 14:41] jimharris commented on #1220
Hi @jkalwas,

If sounds like you're saying that if you add an extra spdk_nvmf_poll_group_create() call in spdk_nvmf_tcp_listen(), without any code to destroy that poll group, that the nvmf target won't exit.  If so, any further explanation on the need to add such a call to spdk_nvmf_tcp_listen() would be great.

If you could add specifics - including a patch - that would help assist with reproduct

[2020-02-20 15:00] spdkci commented on #1170
Another instance of this failure. Reported by @pawelkax. log: https://ci.spdk.io/public_build/autotest-per-patch_4012.html

[2020-02-20 15:02] spdkci commented on #1211
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_4207.html

[2020-02-20 15:05] jimharris commented on #1145
https://review.spdk.io/gerrit/c/spdk/spdk/+/970

[2020-02-20 15:33] tkulasek commented on #1215
@jimharris No, everything should be fine.

[2020-02-20 15:40] jimharris commented on #1212
Thanks @karlatec.  I'm going to close this issue.

[2020-02-20 15:40] #1212 closed

[2020-02-20 15:47] jimharris commented on #1197
Looking at this further - this test is only running the spdk_tgt, running a couple of deprecated RPCs, and then killing spdk_tgt.

So this did hang, but I'm less convinced that the application didn't respond to the kill.  It's possible this is more related to the general timeouts we see from time to time in the test pool.

Keeping this issue open for now - will continue to monitor.

[2020-02-20 15:49] jimharris commented on #1188
Assigning to @benlwalker - can you get together with @darsto and bottom out on this?  Thanks.

[2020-02-20 15:53] jimharris commented on #1187
Looks like this is crypto related.  @peluse - can you take a look?

[2020-02-20 16:09] jimharris commented on #1174
I agree with Darek that we probably shouldn't fail the application if we can't start RPC because there's already a different application listening for RPC on the same path.

But we could add a check whether that path even references a socket (i.e. using stat() and checking for S_IFSOCK).  In that case I think it would be appropriate to fail immediately.

Who wants to pick this one up?

[2020-02-20 16:11] jimharris commented on #1108
Closing this issue - changing the ubuntu18 timeout fixed this issue.

[2020-02-20 16:11] #1108 closed

[2020-02-20 16:26] jimharris commented on #1071
Closing this issue - intermittent issue hasn't been seen in 3 months.

[2020-02-20 16:26] #1071 closed

[2020-02-20 16:28] jimharris commented on #1068
@Seth5141 - you've made a lot of changes to how we collect test completion results since the last time this failure was hit.  Have your changes eliminated the problem described by @tomzawadzki here?

[2020-02-20 16:49] mikeBashStuff opened #1221 "rocksdb_insert test - memory leaks, segfault"
SPDK: v20.01 (HEAD->b70c23feb09af29755db5aa8d81da5378a3d01ce)
OS: Debian 10 (Kernel: 4.19.67)
Config:
[code]

Memory leak spotted while running `rocksdb.sh` while not having Nvme0n1 bdev around:
[code]
Aaaand segfault was spotted when bdev was in place, but there was no enough memory around:
[code]
Just to note that everything works perfectly fine in case the environment is properly set up (hugepa

[2020-02-20 17:09] spdkci commented on #1170
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_4102.html

[2020-02-20 17:15] tkulasek commented on #1193
Patch submitted: https://review.spdk.io/gerrit/c/spdk/spdk/+/971

[2020-02-20 17:25] Seth5141 commented on #1214
I confirmed that the autotest upstream job is configured to clone from review.spdk.io and just just merged a patch to fix an additional lagging reference to the old gerrit version.

[2020-02-20 17:25] #1214 closed

[2020-02-20 18:08] jgrodman commented on #852
@AlekseyMarchuk I am going to try to reproduct this on the most recent version of ubuntu and see if the error persists...if it does then I will try OFED/MOFED

[2020-02-20 18:17] darsto commented on #1174
I thought we already have that check. Maybe the error message could be made more clear.

Assigned myself.

[2020-02-20 18:22] darsto commented on #739
Reopening. That's a generic problem spread throughout the entire SPDK. It's still present.

[2020-02-20 18:26] darsto commented on #1221
[code]

I'm pretty sure this is because we don't do proper cleanup on initialization failure.
There was a github issue about it - https://github.com/spdk/spdk/issues/739
I'm going to close this one and reopen #739 . It's not just a bug lurking somewhere in our crypto or nvme hotplug - there's probably more we don't even know about, because we're not testing initialization failures.

[2020-02-20 18:26] #1221 closed

[2020-02-21 02:05] spdkci commented on #757
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_4258.html

[2020-02-21 04:26] spdkci commented on #1137
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_4305.html

[2020-02-21 05:30] spdkci commented on #1137
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_4314.html

[2020-02-21 05:54] spdkci commented on #1218
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_4318.html

[2020-02-21 08:54] mikeBashStuff commented on #1221
@darsto What about the segfault? You think it's caused by the very same thing - https://github.com/spdk/spdk/issues/739?

[2020-02-21 09:00] darsto commented on #1221
Yup.

[code]

We just don't handle initialization failures properly

[2020-02-21 09:27] karlatec opened #1222 "[nvme-nightly] watchdog CPU soft lockup with smartctl/cuse nightly tests"
## Current Behavior

Execution of smartclt commands in nightly tests causes system to freeze in soft lockup. Tests time out as a result.

## Steps to Reproduce

1. Run nvme nightly tests on one of the CI nightly VMs
Job: nvme-autotest-nightly
test config:
[code]

2. Test job gets stuck at nvme_smartctl_cuse tests.

3. Relevant build log output:
https://ci.spdk.io/results/autotest-nightly/builds/67

[2020-02-21 09:28] karlatec commented on #1222
[dmesg.log](https://github.com/spdk/spdk/files/4235273/dmesg.log)
[build.log](https://github.com/spdk/spdk/files/4235274/build.log)

Adding dmesg.log and build.log as files here.

[2020-02-21 09:34] #896 closed

[2020-02-21 09:35] #1170 closed

[2020-02-21 10:00] karlatec commented on #1213
Appatently there are more nodes which do not have nvme-cli sources available, but they were silently skipping tests. I've added a fail condition for that here: https://review.spdk.io/gerrit/c/spdk/spdk/+/980
so please expect some more failures until I identify and fix all the test systems.

[2020-02-21 10:14] spdkci commented on #1210
Another instance of this failure. Reported by @pawelkax. log: https://ci.spdk.io/public_build/autotest-per-patch_4280.html

[2020-02-21 10:15] spdkci commented on #1007
Another instance of this failure. Reported by @pawelkax. log: https://ci.spdk.io/public_build/autotest-per-patch_4309.html

[2020-02-21 10:29] jkalwas commented on #1220
Hi @jimharris

https://review.spdk.io/gerrit/c/spdk/spdk/+/630/1/lib/nvmf/muser.c#2099

The fix is easy, we should prevent leaks. However, it can be not so obvious when new transport introduced with N k lines of new code - so it would be good to have at least warning/error during shutdown - I'm not sure if that is possible though.

Given reproduction example with tcp was the minimal one to reprodu

[2020-02-21 10:47] karlatec commented on #1207
It's not the same issue :)
@shuhei-matsumoto can you please see if this shows up in some of the latest test runs? I've made some changes to the CI and the way tests are retried in case of unexpected failures.

I've looked through most of the failed test runs listed on ci.spdk.io and I haven't found anything with "logs not generated"

[2020-02-21 10:49] pawelkax opened #1223 "Different nvme name for cuse and kernel in nvme_cli_cuse test"
During test nvme_cli_cuse got following error:
[code]

Log with this output: https://ci.spdk.io/results/autotest-per-patch/builds/4328/archive/nvme-autotest/build.log

[2020-02-21 10:50] spdkci commented on #1223
Another instance of this failure. Reported by @pawelkax. log: https://ci.spdk.io/public_build/autotest-per-patch_4328.html

[2020-02-21 10:53] spdkci commented on #1223
Another instance of this failure. Reported by @pawelkax. log: https://ci.spdk.io/public_build/autotest-per-patch_4333.html

[2020-02-21 10:55] spdkci commented on #1223
Another instance of this failure. Reported by @pawelkax. log: https://ci.spdk.io/public_build/autotest-per-patch_4336.html

[2020-02-21 11:12] mikeBashStuff opened #1224 "nvme_cli_cuse fails while diffing KERNEL_OUT and CUSE_OUT"
Build log: https://ci.spdk.io/results/autotest-per-patch/builds/4355/archive/nvme-autotest/build.log

Failure occurs while comparing outputs from the very first get-ns-id commands.  Diff looks like so:

[code]

The problem is the name of the nvme device that's picked up from the sysfs - `setup.sh` picks up 3 nvme devices, starting from nvme4 (0000:00:09.0)  and this is the device that's used throu

[2020-02-21 11:13] spdkci commented on #1224
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_4355.html

[2020-02-21 11:19] karlatec commented on #1177
We should probably keep this open and let Vitaliy re-evaluate the issue once he's back in the office.
This was reported before we switched CI to the new setup, so it might not be valid anymore.

[2020-02-21 11:46] tkulasek commented on #1223
Patch with fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/981

[2020-02-21 11:53] tkulasek commented on #1224
This is the same issue as https://github.com/spdk/spdk/issues/1223, patch with fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/981

[2020-02-21 11:53] #1224 closed

[2020-02-21 11:57] spdkci commented on #1223
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_4351.html

[2020-02-21 11:58] spdkci commented on #1213
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_4359.html

[2020-02-21 12:01] spdkci commented on #1211
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_4364.html

[2020-02-21 12:35] spdkci commented on #1157
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_4292.html

[2020-02-21 13:02] tkulasek commented on #1222
@karlatec This is an old issue with kernel 5.2.x and 5.3.x and cuse module. I cannot find it now, but this was a reason why we've downgraded kernel versions on fedora 29. This issue was fixed in 5.4.
I've tested it with fedora 30, kernel 5.4.19 with no problem.

@wawryk have you seen this issue upgrading vm's to fedora 30?

[2020-02-21 13:40] spdkci commented on #1044
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_4386.html

[2020-02-21 13:44] karlatec commented on #1222
Yeah, I remember this. Wasn't sure if that's the same issue though. Some of the VMs run F30 since yesterday an I don't see any issues so far.

[2020-02-22 04:52] optimistyzy commented on #1222
@tkulasek  I also use fedora 30 5.4.19, it should be OK.

[2020-02-23 08:53] dnzlike commented on #1154
@peluse @jimharris Thanks for your generous help, It works with the command
/qat_setup.sh igb_uio
please help close this issue

[2020-02-23 08:53] #1154 closed

[2020-02-23 21:27] spdkci commented on #1213
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_4341.html

[2020-02-23 22:22] spdkci commented on #1170
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_4368.html

[2020-02-24 00:08] spdkci commented on #1131
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_4393.html

[2020-02-24 00:24] optimistyzy commented on #1200
@tomzawadzki @shuhei-matsumoto I see this issue happened 12 days ago, actually, I cannot reproduce the assert issue on my platform. Did it happen during the refactoring of bdevperf (@shuhei-matsumoto)?

[2020-02-24 00:53] optimistyzy commented on #1200
More analysis:
"bdev_nvme.c: 326:_bdev_nvme_reset_complete: *ERROR*: Resetting controller failed.
app.c: 712:spdk_app_stop: *WARNING*: spdk_app_stop'd on non-zero"
We can see this time: spdk_app_stop is already called. And in the attached log: spdk_bdev_module_finish_done is called. So it means that the program is in existing phase. So this is why I ask that there are some issues related with bdev

[2020-02-24 00:55] spdkci commented on #1218
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_4478.html

[2020-02-24 01:29] spdkci commented on #918
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_4481.html

[2020-02-24 02:34] spdkci commented on #952
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_4490.html

[2020-02-24 05:19] spdkci commented on #1223
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_4500.html

[2020-02-24 05:21] spdkci commented on #1223
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_4502.html

[2020-02-24 05:22] spdkci commented on #1218
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_4499.html

[2020-02-24 05:46] shuhei-matsumoto commented on #1200
@optimistyzy I have seen https://github.com/spdk/spdk/issues/1210 but have not seen this yet.

[2020-02-24 05:56] spdkci commented on #1223
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_4512.html

[2020-02-24 07:23] karlatec commented on #952
Fail does not look related to this github issue.

[2020-02-24 07:29] karlatec commented on #1213
It looks like these two occurrences happened on Friday before I provisioned nvme-cli source on test nodes. I can't see reproduction of original issue for nvme-phy-autotest since Friday afternoon GMT+1 time.

[2020-02-24 08:03] spdkci commented on #1223
Another instance of this failure. Reported by @apaszkie. log: https://ci.spdk.io/public_build/autotest-per-patch_4400.html

[2020-02-24 08:12] spdkci commented on #979
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_4518.html

[2020-02-24 08:39] spdkci commented on #918
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_4494.html

[2020-02-24 08:58] spdkci commented on #1223
Another instance of this failure. Reported by @apaszkie. log: https://ci.spdk.io/public_build/autotest-per-patch_4525.html

[2020-02-24 09:04] triplen21c opened #1225 "how to detect hot-inserted device dynamically"
Hello I am new with SPDK and I have probably a quite stupid question but so. I am implementing the ability to add devices dynamically.

The devices already installed before running 'setup.sh' are well detected via 'spdk_nvme_probe'.
However, newly inserted devices after running 'setup.sh' are not detected by spdk_nvme_probe. I am wondering the solution to detect the hot-insertion event and rebindi

[2020-02-24 09:10] ak-gh commented on #1225
You should enable nvme hotplug with the respective RPC.

Regards,
Andrey

On Mon, Feb 24, 2020, 12:05 triplen21c <notifications@github.com> wrote:

[2020-02-24 09:21] darsto commented on #1225
If you look into setup.sh it basically rebinds each nvme pcie device to another kernel driver, either vfio-pci or uio_pci_generic. You could bind PCIe devices to those kernel drivers automatically on hotplug with linux  `udev` rules.

[2020-02-24 09:24] ak-gh commented on #1225
On Mon, Feb 24, 2020, 12:21 Darek Stojaczyk <notifications@github.com>
wrote:

Darek,

does spdk provide an example of the udev rule to bind pcie device to
vfio_pci?

Thanks,
Andrey

[2020-02-24 09:38] spdkci commented on #1223
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_4385.html

[2020-02-24 10:05] AlekseyMarchuk commented on #1101
Hi @liang2yan

Sorry for long delay. I found 2 machines with Fedora 28, installed all deps using pkgdep.sh and tried to reproduce the issue. I used the latest master version d8aa3ab6b. I ran a script to launch perf app (I used your cli params) for about 5k times and didn't find core dumps. After 5k+ iterations I found cq error and perf app went into infinite ctrlr re-init state (it is not related

[2020-02-24 10:41] darsto commented on #1225
Hey Andrey, no - I don't think so. `grep -R "udev"` doesn't return anything. It's kind of generic linux knowledge though. If you can google `udev bind` and find what you wanted I don't see a need to describe it in our docs.

[2020-02-24 10:43] darsto commented on #1225
We can continue this discussion here, but I'm going to close the github issue.

[2020-02-24 10:43] #1225 closed

[2020-02-24 11:51] darsto commented on #1218
Interesting - I can take a look if needed. Our multi-process device hotplug could use some love.

[2020-02-24 12:11] spdkci commented on #1223
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_4520.html

[2020-02-24 12:13] spdkci commented on #1223
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_4526.html

[2020-02-24 12:14] spdkci commented on #1137
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_4535.html

[2020-02-24 12:55] karlatec commented on #1119
A lot (if not all) of these failures are caused by CentOS7 VMs timing out due to some issue with internal NFS network.

[2020-02-24 13:08] karlatec commented on #1007
Quite a number of fails here are CentOS7 VM timeouts (usually vm 1 & 2). This issue is already reported in https://github.com/spdk/spdk/issues/1119 and  I am attempting to fix it so please use that number.

[2020-02-24 13:15] karlatec commented on #1119
Hey @Seth5141 FYI: I've disabled NFS network on centos7_vm_1 and 2. Let's see how that works out.

[2020-02-24 18:05] tkulasek commented on #1223
It looks like patch with the fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/981 is already merged but I cannot find these changes on the current master.

[2020-02-24 18:25] tkulasek commented on #1187
@jimharris @peluse I think the problem is with the way how DPDK handles virtual devices in multiprocess environment:

1) Primary process nvmf_tgt creates crypto vbdev and initializes rte_aesni_mb_pmd DPDK virtual pmd,
2) Secondary process perf, initializing DPDK, detects rte_aesni_mb_pmd and initializes it,
3) When perf exits didn't free memory allocated for rte_aesni_mb_pmd (this is first memleak

[2020-02-24 20:01] mikeBashStuff opened #1226 "rpc_client test suddenly fails"
`rpc_client_test` fails with the following:

[code]
Happened for most of the recent builds, e.g. https://ci.spdk.io/results/autotest-per-patch/builds/4563/archive/nvmf-tcp-autotest/build.log or https://ci.spdk.io/results/autotest-per-patch/builds/4549/archive/nvmf-tcp-autotest/build.log

[2020-02-24 20:04] spdkci commented on #1226
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_4584.html

[2020-02-24 20:04] spdkci commented on #1226
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_4580.html

[2020-02-24 20:21] spdkci commented on #1226
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_4570.html

[2020-02-24 20:21] spdkci commented on #1226
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_4574.html

[2020-02-25 00:23] spdkci commented on #1223
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_4541.html

[2020-02-25 01:19] shuhei-matsumoto opened #1227 "Creating connection got timeout or failed."
https://ci.spdk.io/results/autotest-per-patch/builds/4622/archive/nvmf-autotest/build.log

[code]

[2020-02-25 01:20] spdkci commented on #1227
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_4622.html

[2020-02-25 01:24] spdkci commented on #1227
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_4626.html

[2020-02-25 01:25] changpe1 commented on #1218
@darsto This issue is not caused by hotplug, although there are some error information printed from DPDK library.

Here is the one possible fix from SPDK side, https://review.spdk.io/gerrit/c/spdk/spdk/+/977, I think we should detach the controller when exit the stub  process, it may affect the next start as the issue shows.

[2020-02-25 01:46] spdkci commented on #1218
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_4631.html

[2020-02-25 02:12] spdkci commented on #1218
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_4635.html

[2020-02-25 02:25] spdkci commented on #1218
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_4638.html

[2020-02-25 03:00] changpe1 commented on #1218
spdk_nvme_transport_available_by_name() return false because no RDMA transport found.

This should not the same issue:
[ DPDK EAL parameters: nvme_cli --no-shconf -c 0x1 -m 512 --log-level=lib.eal:6 --log-level=lib.cryptodev:5 --log-level=user1:6 --base-virtaddr=0x200000000000 --match-allocations --file-prefix=spdk_pid224983 ]
EAL: No available hugepages reported in hugepages-1048576kB
EAL: VFIO s

[2020-02-25 03:21] spdkci commented on #1218
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_4444.html

[2020-02-25 04:02] changpe1 opened #1228 "SPDK nvme cli test failed with NVMf target"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

./nvme discover -t rdma -a 192.168.100.8 -s 4420
Starting SPDK v20.04-pre git sha1 87eaec2df / DPDK 19.11.0 initialization...
[ DPDK EAL parameters: nvme_cli --no-shconf -c 0x1 -m 512 --log-level=lib.eal:6 --log-level=lib.cryptodev

[2020-02-25 04:07] shuhei-matsumoto commented on #1218
@changpe1  thanks for the analysis. I may have to move the following to #1227

[2020-02-25 06:37] spdkci commented on #1226
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_4549.html

[2020-02-25 06:48] spdkci commented on #1131
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_4657.html

[2020-02-25 06:56] glodfish-zg opened #1229 "VPP Process leaked file descriptors"
07:34:24	# cp ./app/iscsi_tgt/iscsi_tgt /var/jenkins/workspace/vpp-autotest/spdk/../output
 07:34:24	# mv ./core.3563945 /var/jenkins/workspace/vpp-autotest/spdk/../output
 07:34:25	# chmod a+r /var/jenkins/workspace/vpp-autotest/spdk/../output/./core.3563945
 07:34:25	# ret=1
 07:34:25	# IFS=
 07:34:25	# read -r -d '' core
 07:34:25	# return 1
Process leaked file descriptors. See https://jenkins.

[2020-02-25 06:56] glodfish-zg commented on #1229
https://ci.spdk.io/results/autotest-per-patch/builds/4655/archive/vpp-autotest/build.log

[2020-02-25 06:58] spdkci commented on #1229
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_4655.html

[2020-02-25 07:01] spdkci commented on #1131
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_4658.html

[2020-02-25 07:12] karlatec commented on #1226
This one can be closed as it's already fixed.
Node reset routine was not updated after migrating VMs to a different host system.

[2020-02-25 07:16] karlatec commented on #1119
Result of removing NFS from centos vms 1&2 looked fine, so I also disabled it on vms 3&4.
This can probably be closed soon as at the moment reported timeouts are not even present in centos7-autotest build history (last 150 builds)

[2020-02-25 07:17] changpe1 commented on #1228
Here is the fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/1001

[2020-02-25 07:21] karlatec commented on #1213
Update: none of the failed builds of nvme-phy-autotest in build history (150 builds) is related to this issue. Seems it's not occurring anymore.

[2020-02-25 07:23] changpe1 commented on #1227
This log shows that it's same with #1228, I've post a fix patch.

[2020-02-25 07:30] karlatec commented on #1229
This issue seems invalid.
The actual reason of fail is some random unrelated crash when running fio:
[code]

As for the "process leaked file descriptors" - this shows up when some process spawned as part of the test lives longer than the build itself.
So in case there is a fail the build finishes with RC !=0. If there are some processes still running in the background (e.g. some SPDK app process)

[2020-02-25 07:47] #1119 closed

[2020-02-25 07:48] #1213 closed

[2020-02-25 07:53] darsto commented on #1229
[code]

That's a bummer. Looks like stack corruption. @glodfish-zg could you create another issue for the above? I'm going to close this one.

[2020-02-25 07:53] #1229 closed

[2020-02-25 08:05] spdkci commented on #1228
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_4543.html

[2020-02-25 08:12] spdkci commented on #1226
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_4596.html

[2020-02-25 08:12] spdkci commented on #1226
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_4598.html

[2020-02-25 08:13] spdkci commented on #1226
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_4588.html

[2020-02-25 08:13] spdkci commented on #1226
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_4592.html

[2020-02-25 08:14] spdkci commented on #1226
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_4594.html

[2020-02-25 08:15] spdkci commented on #1226
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_4565.html

[2020-02-25 08:15] spdkci commented on #1226
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_4573.html

[2020-02-25 08:15] spdkci commented on #1226
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_4575.html

[2020-02-25 08:15] spdkci commented on #1226
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_4578.html

[2020-02-25 08:17] spdkci commented on #1226
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_4563.html

[2020-02-25 08:54] karlatec commented on #1197
Fortunately I still have a log from old CI for that build which includes Jenkins timestamps!
[code]
Process froze somewhere around fetching the sources. This looks very similar to #1119 which was closed today.

@darsto @jimharris IMO that's the same issue as #1119 and additionally there was no update since original issue submission. I think we can close this one.

[2020-02-25 09:07] karlatec commented on #1131
@shuhei-matsumoto The timeout in your #4393 build was on CentOS VM, not GP system. And I think it should be fixed now as part of #1119 issue. The other fail (nvme-phy-autotest job) has something to do when testing nvme_cli vs Optane drive.

@glodfish-zg Timeouts in builds 4657 and 4658 did not occur on GP systems, but in nvmf-autotest which is run on Fedora VMs. This seems to be a separate issue

[2020-02-25 09:37] karlatec opened #1230 "nvme-cli list-ctrl fails with P4800X NVMe drive"
## Current Behavior
test/nvme/spdk_nvme_cli.sh fails when testing "nvme list-ctrl" command versus P4800X drive.

## Steps to Reproduce

1. Run autorun.sh configuration on physical system with p4800x drive:
[code]
2. Test nvme_cli fails at "nvme list-ctrl" command:
[code]

## Context (Environment including OS version, SPDK version, etc.)
This happens on only one node in CI - GP12 which has 375GB Op

[2020-02-25 09:40] karlatec commented on #1230
GP12 is disabled from tests for now so it doesn't cause unnecessary failures.

[2020-02-25 09:42] tomzawadzki commented on #1230
Please see https://ci.spdk.io/results/autotest-per-patch/builds/4576/archive/nvme-phy-autotest/build.log for the instance of it during tests.

[2020-02-25 09:46] karlatec commented on #1230
Assigning to me for now. I'll try to downgrade the FW version on GP12 and see if that solves the issue.

[2020-02-25 10:38] spdkci commented on #1230
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_4677.html

[2020-02-25 10:39] spdkci commented on #1228
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_4683.html

[2020-02-25 10:40] spdkci commented on #1228
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_4674.html

[2020-02-25 12:33] tomzawadzki commented on #1223
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/981 is now merged.
If this failure occurs again, please make sure to rebase on master before re-opening.

[2020-02-25 12:33] #1223 closed

[2020-02-25 12:38] tomzawadzki commented on #1222
@tkulasek Can you please share more details on that particular issue and which kernel versions it pertains to ?
This should be noted down in the limitations of cuse support.

[2020-02-25 12:48] tomzawadzki commented on #1211
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/950 was merged. No failures has been posted since.

If encountered again, please make sure be rebased on master before re-opening the issue.

[2020-02-25 12:48] #1211 closed

[2020-02-25 13:45] tomzawadzki commented on #1141
There are two parts to this issue:

1. `mkfs.xfs: cannot open /dev/sdb1: Device or resource busy`
Which requires similar fix as that of #1024, basically retrying again. For more places than iSCSI tests actually.
2. `iscsi_tgt: bdev.c:4521: spdk_bdev_close: Assertion `desc->thread == spdk_get_thread()' failed.`
This one is similar to some of the patches resolving #1146, like here b3be320de4ececb82f

[2020-02-25 13:58] tkulasek commented on #1222
Kernels 5.2.x and 5.3.x are affected.
More details: https://bugzilla.redhat.com/show_bug.cgi?id=1762795

[2020-02-25 14:05] tomzawadzki commented on #1137
Most of the recent logs display following message in dmesg.
[code]
This looks somewhat related as the time outs occur either in building at beginning of tests or at autopackage.
I know there are some changes coming in regards to getting rid of nfs, @karlatec can you give some update on that ?
Lets revisit this issue after the change.

[2020-02-25 14:08] karlatec commented on #1137
That's EXACTLY what I saw on CentOS VMs and you can see it in the report by Shuhei 4 days ago (I think that was before I disabled NFS on these VMs)

I can see the problem on Ubuntu18 VMs as well, so I think these are next in line to remove NFS.

[2020-02-25 15:20] tomzawadzki commented on #1200
[Bug scrub] @Seth5141 confirms this does not look related to #1210. Besides that the original occurrence wasn't within Shuhei's bdevperf refactor.

[2020-02-25 15:27] Seth5141 commented on #1197
Bug Scrub: Closing this as a duplicate of #1119 Thanks @karlatec for the fix to the VMs.

[2020-02-25 15:27] #1197 closed

[2020-02-25 16:04] tomzawadzki commented on #1007
[Bug scrub]
The CI Jenkins instance was switched recently to a new version, number of improvements have been done to that. This issue contains a lot of older comments that are no longer relevant.
To help with resolution of current and actual issues, I propose to close this one and report any new ones in separate issues.

Please note there are:
- #1207 for all failures with 'logs not generated'
- #

[2020-02-25 16:04] #1007 closed

[2020-02-25 16:09] tomzawadzki commented on #1217
[Bug scrub]:
First and last SOVERSION was set 2 years ago. With this in mind we will be updating minor version of SOVERSION for the v20.01.1 and master in all shared libraries.

Going forward the model would be to update each library separately as changes affecting ABI happen.
This would require addition of tests that will check the compatibility.

Together with @Seth5141 we will be forwarding pat

[2020-02-25 16:10] darsto commented on #1188
Bug scrub: we agree on adding a command line param to force the iova mode.
Marking this as an enhancement.

[2020-02-25 17:18] mikeBashStuff opened #1231 "[RPC] framework_get_config doesn't yield all the crypto info"
Consider the following setup:
[code]
Based on the above, for Malloc1 bdev, I would expect the subsystem to report the entire crypto setup including key2 and the cipher type. However, this is not the case:
[code]
Instead, `key2` and `cipher` is missing, and key, for some reason, consists of both: `${key}${key2}`. This, unless I am missing something obvious here, doesn't look correct. Due to the way

[2020-02-25 18:01] peluse commented on #1231
yeah, my mistake.  I forgot to add QTS info to the config dump when I added QTS.  For XTS, it's actually one long key but easier to input as two keys.  I'll fix it

[2020-02-25 20:23] KariukiJ opened #1232 "vbdev_crypto segfault with 16 devices"
I am running fio targetting crypto virtual bdevs. When I configure 16 crypto devices for AESNI, I get a segmentation fault during the initialization of the vbdev_crypto module. When I reduce the number of crypto vbdevs to 8 or less the test runs successfully.

## Expected Behavior
fio should run successfully.

## Current Behavior
fio exits with a segmentation fault error. gdb trace is provided bel

[2020-02-25 20:29] peluse commented on #1232
So AESNI only has 8 qp and we only ever init one instance as there was no reason to do more at the time.  Will think about adding a startup RPC to change this value

[2020-02-25 20:34] peluse commented on #1232
for bug scrub discussion: using more than one AESNI PMD will remove this limitation, it will add some complexity to the code.  Nothing crazy but wanted to get some thoughts on whether we think 8 bdevs is enough or should I go ahead and do an RPC to allow up to 8 or something to enable 64 bdevs with AESNI?  FYI QAT limit is 92 (I think, something like that)

[2020-02-25 21:49] peluse commented on #1231
@mikeBashStuff here is what should fix this stuff https://review.spdk.io/gerrit/c/spdk/spdk/+/1008

I need to test it here shortly, I'll update when I do but feel free to try it out.  Thanks for reporting!

[2020-02-25 21:50] peluse commented on #1231
OK, don't test yet :)

[2020-02-25 23:05] pawelkax commented on #1203
@shuhei-matsumoto I think that reason of this failure could be that tasting was not finished before deleting lvol bdev. @tomzawadzki What do you think?

[2020-02-25 23:19] peluse commented on #1231
Just updated, should work a little better:

   "method": "bdev_crypto_create",
    "params": {
      "base_bdev_name": "malloc2",
      "name": "2cry1",
      "crypto_pmd": "crypto_qat",
      "key": "1234567890123456",
      "key2": "1234567890123456",
      "cipher": "AES_XTS"
    }
  },
  {
    "method": "bdev_crypto_create",
    "params": {
      "base_bdev_name": "malloc1",
      "name": "cry

[2020-02-26 03:18] yidong0635 commented on #1101
According to Liang‘s request to reproduce this issue. Pull the latest code：
Error Message as this (and this issue hits a narrow case  which only exists on some nvme devcies that got nvme_cpl failed )：
[code]
From the log we can see that there's reconnect behavior.
reconnect executes task_complete the same with perf tool which lead to heap used after free I think.
I think need to add condition to a

[2020-02-26 05:10] Comphix commented on #1146
Patch has been updated with a new solution.

[2020-02-26 05:31] triplen21c commented on #1225
thanks all, helped a lot :)

[2020-02-26 08:28] Donaim commented on #1206
sure, @jimharris

[2020-02-26 08:54] yidong0635 commented on #1101
@@ -961,9 +980,9 @@ io_complete(void *ctx, const struct spdk_nvme_cpl *cpl)
                fprintf(stderr, "%s completed with error (sct=%d, sc=%d)\n",
                        task->is_read ? "Read" : "Write",
                        cpl->status.sct, cpl->status.sc);
+       } else {
+               task_complete(task);
        }
verify this is useful, but can't exactly explain now.

[2020-02-26 09:17] darsto opened #1233 "crypto: invalid AES_CCB key length"
[code]

[2020-02-26 09:19] mikeBashStuff commented on #1233
@darsto I think this one sis going to be fixed by https://github.com/spdk/spdk/issues/1231 as well.

[2020-02-26 09:19] darsto commented on #1233
Yup, nevermind

[2020-02-26 09:19] #1233 closed

[2020-02-26 09:25] spdkci commented on #1233
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_4747.html

[2020-02-26 09:26] #1228 closed

[2020-02-26 10:14] spdkci commented on #1233
Another instance of this failure. Reported by @darsto. log: https://ci.spdk.io/public_build/autotest-per-patch_4720.html

[2020-02-26 10:32] karlatec commented on #1230
Rolled back FW version on GP12 from E2010471 to E2010435. Issue does not reproduce on older FW version.

[2020-02-26 10:33] karlatec commented on #1230
Either a FW or nvme-cli issue, as this was reproducible with "plain" nvme-cli outside of spdk tests.

[2020-02-26 10:41] Donaim commented on #1038
My fix was accepted and merged to DPDK
Adding it to our fork as well: https://review.spdk.io/gerrit/c/spdk/dpdk/+/1014

[2020-02-26 13:25] wawryk opened #1234 "unittest-nightly-autotest fails on our fedora nightly vms"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior
test should pass

## Current Behavior
test fail:
[code]

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context (Environment including OS version, SPDK version, etc.)
OS: Fedora30
Kernel: 5.4.21-1

[2020-02-26 14:32] jimharris commented on #1232
What's the cost or overhead of just enabling 64 by default instead of 8?

[2020-02-26 14:56] peluse commented on #1232
I'll have to see, I doubt its much though and now that I think about it the implementation wouldn't be that bad because I already have aesni qp on their own list and there's no load balancing needed as it makes no difference if I have one PMD supporting 8 threads or 8 PMDs supporting 8 (1 ea) from a perf perspective.  So it'll just be a matter of creating 8 of them with unique names.  Probably Fri

[2020-02-26 14:58] darsto opened #1235 "SPDK scripts can write to NVMe devices with active mountpoints"
We check for active mountpoints in setup.sh as well as some of the tests scripts themselves, but not everywhere.

I'm not familiar with this file, but it seems like NVMe-oF performance test script `run_nvmf.py` doesn't have those checks.

Grepping our tests through iter_pci_class_code may reveal more cases.

[2020-02-26 15:00] peluse commented on #1233
Yup it should be fixed by that other one :) If not I'll be back Fri unless someone else wants to tackle it.

[2020-02-27 01:33] Comphix commented on #1227
Duplicate of #1228

[2020-02-27 01:38] spdkci commented on #1226
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_4821.html

[2020-02-27 02:04] spdkci commented on #1226
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_4822.html

[2020-02-27 02:40] Comphix commented on #1220
Hi Jacek,

For this reproduction, it is based on the patch you mentioned above and with current TCP testing configuration? Could you give more information here about the reproduction like based on which SPDK commit, testing configuration, testing method and so on?

Thanks.

[2020-02-27 02:56] shuhei-matsumoto opened #1236 "NVMe RDMA target failed to connect in NVMe-CLI test"
#https://ci.spdk.io/results/autotest-per-patch/builds/4759/archive/nvmf-phy-autotest/build.log

EAL: No available hugepages reported in hugepages-1048576kB
EAL: VFIO support initialized
nvme.c: 598:spdk_nvme_probe_internal: *ERROR*: NVMe trtype 1 not available
nvme.c: 726:spdk_nvme_connect: *ERROR*: Create probe context failed
spdk_nvme_connect() failed

[2020-02-27 02:57] spdkci commented on #1236
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_4759.html

[2020-02-27 04:35] yidong0635 commented on #1101
I think the root cause is due to ：
In perf.c  :
callback about io_complete(check_io) was been executed async ,
[code]
check_io  -> nvme_check_io ->..........->io_complete-> task_complete ( here ns_ctx->is_draining be set true the first time, )
In task_complete will trigger
[code]
to free_task.
if  there's no cpl error, in nvme_complete_request will execute below codes ,otherwise only executes call

[2020-02-27 06:24] spdkci commented on #1236
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_4779.html

[2020-02-27 07:24] glodfish-zg opened #1237 "fio_nvme $PLUGIN_DIR/mock_sgl_config.fio --filename="trtype=$TEST_TRANSPORT adrfam=IPv4 verify failed"
07:39:04	# fio_nvme /var/jenkins/workspace/nvmf-tcp-autotest/spdk/examples/nvme/fio_plugin/mock_sgl_config.fio '--filename=trtype=tcp adrfam=IPv4 traddr=127.0.0.1 trsvcid=4420 ns=1'
 07:39:04	# local fio_dir=/usr/src/fio
 07:39:04	# local nvme_plugin=/var/jenkins/workspace/nvmf-tcp-autotest/spdk/examples/nvme/fio_plugin/fio_plugin
  07:39:04	# grep libasan
  07:39:04	# awk '{print $3}'
  07:39:04

[2020-02-27 07:26] spdkci commented on #1237
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_4826.html

[2020-02-27 08:51] jkalwas commented on #1220
Hi Gang,

No, that was just an example patch when leak can occur and potentially this hang issue.
In the main thread I mentioned it shall be reproducible on master branch (but I haven't capture exact commit sha). I took top from the time I raised the issue and just modified lib/nvmf/tcp.c.

as for the minimal steps to reproduce
* checkout master
* modify tcp.c / rebuild
* run nvmf_tgt
* create tcp

[2020-02-27 10:19] mikeBashStuff commented on #1231
Just to note that it would be really nice if this got merged before the work covered under this patch https://review.spdk.io/gerrit/c/spdk/spdk/+/530/24 (i.e. the entire relation chain) is done so we could keep using this particular call to create json config out if its output. :)

[2020-02-27 11:29] spdkci commented on #1137
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_4851.html

[2020-02-27 11:39] Donaim commented on #1206
I tried to reproduce this and it did reproduce on every setup I tried.
For instance, on Ubuntu18 with SPDK20-01-rc1 using vhost-scsi as well as vhost-blk, with either bdevperf or rpc.py + app/vhost.

After investigation, it seems to me that linked patch https://github.com/spdk/spdk/commit/87f0dab8cf6d331fd9531ce473855c0b62db760d is responsible for the failure.
Above patch changes `spdk_map_bar_rte

[2020-02-27 11:40] spdkci commented on #1226
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_4840.html

[2020-02-27 11:45] tomzawadzki commented on #1226
This issue is still happening on new CI runs.

[2020-02-27 11:47] darsto commented on #1235
Just to clarify: we need someone to go through all our scripts and ensure we don't write directly to NVMes with still active mountpoints. We don't want to wipe anyone's filesystem, or worse - boot disk.

[2020-02-27 11:50] spdkci commented on #1131
Another instance of this failure. Reported by @darsto. log: https://ci.spdk.io/public_build/autotest-per-patch_4665.html

[2020-02-27 12:48] tomzawadzki commented on #1234
There is more background to this needed. So the issue occurred when moving from Fedora29 to Fedora 30, is that correct ?
We do not have vtune as part of any preparation scripts (pkgdep.sh or vm_setup.sh). Besides there are no testing for this except compiling if `${DEPENDENCY_DIR}/vtune_codes` is present.
It looks like only machines doing nightly (or some of them) had the directory present.

This

[2020-02-27 12:58] wawryk commented on #1234
Today this directory ${DEPENDENCY_DIR}/vtune_codes was moved and I do not see fails with vtune (correct me as I'm wrong).

[2020-02-27 13:01] spdkci commented on #1226
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_4863.html

[2020-02-27 13:28] jimharris commented on #1206
Thanks @Donaim!

Could you also add a test for our virtio-scsi driver?  Something that at least initializes the device and runs some basic IO.

[2020-02-27 13:51] spdkci commented on #1226
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_4869.html

[2020-02-27 15:00] spdkci commented on #1226
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_4877.html

[2020-02-27 15:08] Donaim commented on #1206
Of course. We should at least test the attach method that will prove my fix correct :) @jimharris

[2020-02-27 16:45] tkulasek opened #1238 "Namespace bdevs not populated properly on ns manage raw command"
Using namespace manage feature to create and delete namespaces via "bdev_nvme_send_cmd" RPC is not populated on bdev nor nvme layer.

E.g. sending create-ns, attach-ns doesn't create new bdev for namespace even when created properly on the controller. Sending reset after these commands also have no impact.

## Expected Behavior
Creating or deleting namespaces via raw commands should be populated p

[2020-02-27 16:54] jimharris commented on #1145
Patch was merged.

[2020-02-27 16:54] #1145 closed

[2020-02-27 16:56] jimharris commented on #829
Linux patch was merged so closing this issue.  @KariukiJ - if you still see problems when running UNH tests in the future, please reopen.

[2020-02-27 16:56] #829 closed

[2020-02-27 16:57] jimharris commented on #817
@KariukiJ - ping

[2020-02-27 16:58] jimharris commented on #646
@Maciej-Szwed - ping.

[2020-02-27 17:00] jimharris commented on #620
Assigning this issue to @tkulasek.  He is working on support namespace management with the recently added NVMe CUSE functionality.  That is the long-term strategy for using nvme-cli with SPDK.

@tkulasek - you can close this issue once we have the NVMe CUSE changes implemented and merged.

[2020-02-27 17:04] jimharris commented on #1080
Closing this issue - looks like a 3rd party issue with this specific SSD.

@ywbgithub - if you are able, please report back if adding the new entry helped in your case.

Thanks,

-Jim

[2020-02-27 17:04] #1080 closed

[2020-02-27 17:06] jimharris commented on #1205
Closing this issue.  @zhiganglu - please report back here if you have any update.  We can continue the discussion here even if the issue is closed.

[2020-02-27 17:06] #1205 closed

[2020-02-27 17:09] jimharris commented on #1234
Closing this issue based on report from @wawryk.  Thanks!

[2020-02-27 17:09] #1234 closed

[2020-02-27 17:11] jimharris commented on #1177
Assigning to @Donaim to reevaluate.

[2020-02-27 17:17] jimharris commented on #1131
@karlatec @Seth5141 Seems like this issue hasn't appeared in almost 3 weeks.  Has anything changed with the GP systems that we can point to?  If so, I vote we close this issue.

[2020-02-27 17:18] jimharris commented on #1103
Issue not seen for almost 8 weeks.  Closing - likely related to kernel NBD (not SPDK).

[2020-02-27 17:18] #1103 closed

[2020-02-27 17:41] jimharris commented on #1101
Thanks @yidong0635.

sct 0x0 = SCT_GENERIC
sc 0x8 = SC_ABORTED_SQ_DELETION

So we're getting an error response for an I/O that was outstanding when we deleted an SQ.

How many namespaces are attached to this controller?  If more than one, please try to reproduce with just one namespace.

Can you add a debug print to cleanup_ns_worker_ctx() to see if it's getting called prior to this error?

[2020-02-27 17:45] jimharris commented on #906
@SavanAnjaria - good suggestion.  You should have the ability to review any of the SPDK patches once you set up your account on review.spdk.io - please let us know if you have any problems with that.

@tomzawadzki - can you make a Trello card for this optimization?

Closing this issue since the original problem has been fixed.

[2020-02-27 17:45] #906 closed

[2020-02-27 18:09] jimharris commented on #1096
All of the most recent failures are due to the this signature:

app.c: 642:spdk_app_start: *NOTICE*: Total cores available: 1
reactor.c: 346:_spdk_reactor_run: *NOTICE*: Reactor started on core 0
Running I/O for 10 seconds...
ctrlr.c: 199:ctrlr_add_qpair_and_update_rsp: *ERROR*: Got I/O connect with duplicate QID 1
nvme_fabric.c: 395:nvme_fabric_qpair_connect: *ERROR*: Connect command failed
nvme_

[2020-02-27 19:44] shuhei-matsumoto commented on #1096
Hi @jimharris @Seth5141 and all,

If I remember correctly, removing the delay after nvmf_shutdown_tc1 caused this issue almost always, solidly.

Another solution we discussed before might be to fix bdevperf tool. However we have seen this issue in other IO tools too. We will need to add fix to other layer

So Jim’s proposal sounds reasonable but discussing our direction of fix before removing the

[2020-02-27 19:47] jimharris commented on #1096
Chatted with @benlwalker on this issue offline.  We think there could be an issue with cntlid generation which would cause the new process to connect to the controller from the old process before the target fully cleaned it up.  I've added some instrumentation to my test patch and will run it through the test pool a few times to hopefully reproduce the failure.  (Test patch passed first time after

[2020-02-27 21:41] shuhei-matsumoto commented on #1096
Hi @jimharris Thanks for sharing your current thought and work.

May I confirm my understanding? SPDK NVMe-oF target have used dynamic controller model but may have some cases such that available controller is not allocated. So The idea is to ensure to the host that available controller is allocated?

[2020-02-27 21:52] jimharris commented on #1096
We always specify cntlid = 0xFFFF in the connect capsule for the admin queue.  This tells the target to allocate a new cntlid.

So assume first process starts:
admin queue connect (qid = 0, cntlid = 0xFFFF) - target allocates cntlid = 1
io queue connect (qid = 1, cntlid = 1) - success

Then the first process exits and a second process starts.  The process should be:
admin queue connect (cntlid = 0

[2020-02-27 22:02] dacrespi opened #1239 "rpc_http_proxy.py will not accept a json RAID configuration"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Creating a raid vbdev via the proxy does not appear to work with SPDK v20.01.  We have been using it with SPDK v19.07 for awhile now.  We just are switching everything over to support the v20.01 and this issue came up.

## Expected

[2020-02-27 22:28] spdkci commented on #1237
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_4963.html

[2020-02-27 22:32] jimharris commented on #1239
@Maciej-Szwed - could you take a look?

[2020-02-27 23:18] spdkci commented on #1218
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_4974.html

[2020-02-28 01:18] changpe1 commented on #1227
https://ci.spdk.io/public_build/autotest-per-patch_4974.html, identified this is a different issue.

[2020-02-28 01:20] changpe1 commented on #1218
https://review.spdk.io/gerrit/c/spdk/spdk/+/977 was merged, let's continue to see if the issue still exist.

[2020-02-28 01:20] changpe1 commented on #1218
This is related with issue #1227 .

[2020-02-28 02:45] yidong0635 commented on #1101
@jimharris , I confirm that " `cleanup_ns_worker_ctx`" wasn't be executed.
we use only one namespace, `ns_ctx->entry->fn_table->check_io(ns_ctx);` will be executed to second time , then will crash, will on longer print message after `ns_ctx->entry->fn_table->check_io(ns_ctx)`;
Add delay at rdma_recv side will also avoid this issue of kicking off "SC_ABORTED_SQ_DELETION"
qd =1 or other value are th

[2020-02-28 03:19] shuhei-matsumoto opened #1240 "Invalid argument is passed to python script in nvmf_invalid test case"
https://ci.spdk.io/results/autotest-per-patch/builds/5013/archive/nvmf-autotest/build.log
[code]

[2020-02-28 03:20] spdkci commented on #1240
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_5013.html

[2020-02-28 05:23] shuhei-matsumoto opened #1241 "FIO plugin failed to find OCF bdev in CI"
https://ci.spdk.io/results/autotest-per-patch/builds/5030/archive/nvme-phy-autotest/build.log
[code]

Run status group 0 (all jobs):

[2020-02-28 05:26] shuhei-matsumoto opened #1242 "Git clone failed in CI"
https://ci.spdk.io/results/autotest-per-patch/builds/5031/archive/ubuntu16-autotest/build.log
[code]

[2020-02-28 05:26] spdkci commented on #1242
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_5031.html

[2020-02-28 06:35] spdkci commented on #1242
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_5041.html

[2020-02-28 07:40] spdkci commented on #1207
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_5050.html

[2020-02-28 07:40] spdkci commented on #1242
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_5049.html

[2020-02-28 07:40] spdkci commented on #1242
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_5048.html

[2020-02-28 07:45] karlatec commented on #1131
@jimharris just a question - what comments from spdkci did you delete?:) Were these unrelated failures, which were mistakenly put here?

Not on GP systems directly, but we switched the CI over this time. I do not recall any new configuration being done on physical systems.

[2020-02-28 07:54] karlatec commented on #1226
Looks like I missed one of the other nodes in the reset-job routine. Should be fixed now.

[2020-02-28 09:34] spdkci commented on #1237
Another instance of this failure. Reported by @jkalwas. log: https://ci.spdk.io/public_build/autotest-per-patch_4969.html

[2020-02-28 09:34] spdkci commented on #1237
Another instance of this failure. Reported by @jkalwas. log: https://ci.spdk.io/public_build/autotest-per-patch_4976.html

[2020-02-28 09:51] mikeBashStuff commented on #1240
Well, this is unfortunate - the problem in this case is that the random string starts with `-` at the very beginning. Should be easy to fix.

[2020-02-28 10:20] mikeBashStuff commented on #1240
Potential fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/1054

[2020-02-28 10:38] mikeBashStuff opened #1243 "discover_bdevs() stuck in a loop during blockdev_rbd test"
`ceph` got missing so the config that was passed to `bdev_svc` was not valid. This resulted in `discover_bdevs()` being stuck in its loop waiting for `/var/run/spdk_bdev0`.

https://ci.spdk.io/results/autotest-per-patch/builds/5070/archive/iscsi-autotest/build.log

Potential mitigation with the CI in mind so it doesn't have to wait for 15 minutes before it marks build as failed: https://review.spd

[2020-02-28 10:40] spdkci commented on #1243
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_5070.html

[2020-02-28 10:43] darsto commented on #1243
That's why discover_bdevs is evil and we need to get rid of it. It won't be necessary after we remove .ini configs from our test scripts. ;)

[2020-02-28 10:51] Donaim commented on #1177
I don't see replications on the new CI, but I also have not seen them when I originally submitted this issue (only a sigle case). So cannot tell whether it is invalid or just rare.

[2020-02-28 13:10] spdkci commented on #1240
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_5074.html

[2020-02-28 13:26] jimharris commented on #1131
They were unrelated failures.

Ok - thanks.  I guess we will keep this open for now and track it a bit longer.

[2020-02-28 14:48] jimharris commented on #1177
Thanks @Donaim.

I'm going to close this issue.  I'm wondering if this was related to the post-processing detecting that some tests didn't get run - that doesn't show up clearly in the logs.  The failing case happened 4 weeks ago though so we can't go back and check it.

[2020-02-28 14:48] #1177 closed

[2020-02-28 14:57] mikeBashStuff opened #1244 "db_bench compilation fails"
`make` failed when run from `rocksdb.sh` as part of the `rocksdb` run_test.

https://ci.spdk.io/results/autotest-per-patch/builds/5105/archive/BlobFS-autotest/build.log

CI went through some upgrades recently, maybe this one is related?

[2020-02-28 15:00] spdkci commented on #1244
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_5105.html

[2020-02-28 15:15] jimharris opened #1245 "error: unknown option `dissociate' - when trying to clone in CI"
Note this does not seem to be the same as issue #1242 although the symptom is similar.

Started by upstream project "autotest-per-patch" build number 5097
originally caused by:
 Started by user sys_sgci
Running as SYSTEM
[EnvInject] - Loading node environment variables.
Building remotely on centos7_vm_3 (Centos7_VM) in workspace /var/jenkins/workspace/centos7-autotest
Running Prebuild steps
[cento

[2020-02-28 15:17] jimharris commented on #1245
Looks like @karlatec has fixed this already, so I'll skip posting logs here for now.

@karlatec - you can close this once you're ready.

[2020-02-28 15:47] tomzawadzki commented on #1238
`Namespace Attribute Notices:         Not Supported`
`Namespace Management:                  Supported`
NVMe 1.4 spec, 8.12 Namespace Management. Specifies that when Namespace Management is turned on, then controller _should_ support the Namespace Attribute Changed asynchronous event.

Bdev nvme module updates the bdevs only when it receives AER, so it would makes sense that additional bdevs do no

[2020-02-28 16:24] peluse commented on #1231
@mikeBashStuff sorry I was out Wed/Thu this week.  I can't control when it gets merged, just when it is ready :) It'll be ready shortly, there's a CI test failing still that I just started to debug.

[2020-02-28 16:28] peluse commented on #1231
You know though, you can always rebase your patch on top of mine and just keep working...

[2020-02-28 16:37] mikeBashStuff commented on #1231
@peluse Yep. :) There's no rush though, my comment was just to simply point out what work would benefit from this particular fix. :)

[2020-02-28 17:25] peluse commented on #1231
@mikeBashStuff OK cool.. It's passing CI now, please review/test/vote :)
https://review.spdk.io/gerrit/c/spdk/spdk/+/1008

[2020-02-28 17:36] spdkci commented on #1240
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_5122.html

[2020-02-28 17:36] spdkci commented on #1240
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_5124.html

[2020-02-28 18:24] peluse commented on #1232
OK, this should be easy.  The num q pairs is configurable.  I'll test it out now...

[2020-02-28 18:54] spdkci commented on #1236
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_4810.html

[2020-02-28 18:57] spdkci commented on #1244
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_5126.html

[2020-02-28 21:36] peluse commented on #1232
Fix is here: https://review.spdk.io/gerrit/c/spdk/spdk/+/1063

[2020-02-29 11:30] karlatec commented on #1245
@jimharris Yeah, this one is totally on me. I was trying to improve cloning when using local mirror repos, but apparently CentOS has an ancient 1.8 git version which does not support --dissociate option.
Already gave a comment in affected commits and retriggered them;)

[2020-02-29 11:30] #1245 closed

[2020-02-29 20:37] peluse commented on #1203
This *might* be a fix.  Signature for the failure looks the same but I would have thought we'd see more than just a few intermittent.  https://review.spdk.io/gerrit/c/spdk/spdk/+/1008

[2020-02-29 20:55] peluse commented on #1208
I can repro this locally with a simplified config.  In debug...

[2020-03-01 16:36] peluse commented on #1208
I don't believe what I found is the root cause here or it'd fail every time, but I did post one verify fix here https://review.spdk.io/gerrit/c/spdk/spdk/+/1069
Will continue debug as I was able to repro this one time w/o modifying the config but immediately went to attempting to simplify the scenario after I did.

[2020-03-01 19:02] peluse commented on #1208
FYI added some prints to see which target the mismatch happened on and what the first dword mismatch is https://review.spdk.io/gerrit/c/spdk/spdk/+/1070/1

[2020-03-01 22:35] spdkci commented on #1208
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_5066.html

[2020-03-01 23:43] spdkci commented on #1240
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_5166.html

[2020-03-01 23:47] shuhei-matsumoto opened #1246 "Make failed in rocksdb test case"
https://ci.spdk.io/results/autotest-per-patch/builds/5171/archive/BlobFS-autotest/build.log
[code]

[2020-03-01 23:47] spdkci commented on #1246
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_5171.html

[2020-03-02 00:12] aaronknister commented on #830
Hi @sashakot, do you know when we might see the user-space API land in rdma-core? I checked and I don't think it's there.

[2020-03-02 00:42] shuhei-matsumoto commented on #1246
Duplicated with #1244.

[2020-03-02 00:42] #1246 closed

[2020-03-02 00:51] shuhei-matsumoto opened #1247 ""Too long time for initialization" in nvme_startup"
https://ci.spdk.io/results/autotest-per-patch/builds/5177/archive/ubuntu18-autotest/build.log

[code]

[2020-03-02 00:53] spdkci commented on #1244
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_5179.html

[2020-03-02 00:53] spdkci commented on #1247
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_5177.html

[2020-03-02 00:54] spdkci commented on #1244
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_5183.html

[2020-03-02 00:57] shuhei-matsumoto opened #1248 "NVMf FIO test failed to shutdown because /run/dpdk/spdk0 is still open."
https://ci.spdk.io/results/autotest-per-patch/builds/5184/archive/nvmf-tcp-autotest/build.log

[code]

[2020-03-02 01:00] spdkci commented on #1248
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_5184.html

[2020-03-02 03:57] shuhei-matsumoto commented on #1208
Hi @peluse

Thanks for the great analysis and fix. For the complete fix, if we use verify, do you think we have to
*  set queue depth to 1, or
*  use spdk_bdev_comparev_and_writev_blocks?

[2020-03-02 07:12] spdkci commented on #1248
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_5203.html

[2020-03-02 07:14] spdkci commented on #1244
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_5204.html

[2020-03-02 07:32] spdkci commented on #1210
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_5127.html

[2020-03-02 07:37] Maciej-Szwed commented on #1239
sure

[2020-03-02 08:11] spdkci commented on #1244
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_5206.html

[2020-03-02 08:27] tomzawadzki commented on #1222
The issue is a 3rd party issue in cuse module within select kernel versions.
Since the original report, the test pool machines were updated to Fedora 30 with kernels higher than 5.3.x.

[2020-03-02 08:27] #1222 closed

[2020-03-02 08:30] tomzawadzki commented on #1193
Patch from @tkulasek  is now merged. The issue should be resolved.

[2020-03-02 08:30] #1193 closed

[2020-03-02 09:20] spdkci commented on #1244
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_5212.html

[2020-03-02 11:42] karlatec commented on #1244
Started after updating test systems to F30 gcc version 9.2.1

[2020-03-02 11:47] karlatec opened #1249 "vpp-autotest compilation fails on gcc version 9.2.1"
This one started after upgrading the systems to F30 with gcc 9.2.1

https://ci.spdk.io/public_build/autotest-per-patch_5235.html
https://ci.spdk.io/public_build/autotest-per-patch_5230.html
https://ci.spdk.io/public_build/autotest-per-patch_5218.html

[2020-03-02 12:09] spdkci commented on #1244
Another instance of this failure. Reported by @pawelkax. log: https://ci.spdk.io/public_build/autotest-per-patch_5235.html

[2020-03-02 12:18] tomzawadzki commented on #1231
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/1008 is now merged, this should fix the issue.

[2020-03-02 12:18] #1231 closed

[2020-03-02 12:25] brianjmurrell commented on #1217
Hopefully this is just a misunderstanding of what the above actually means, but if APIs have been broken in a library since the last SOVERSION setting, the SOVERSION **MUST** have a major version bump.  The shared library linker only considers the major version number for library compatibility.

On another note, not to seem impatient, but rather just for our own (DAOS) release planning, do you hav

[2020-03-02 12:27] tomzawadzki commented on #906
@jimharris @SavanAnjaria Please see Trello card for the mentioned optimization https://trello.com/c/0oiXG9Lt/67-improve-blob-persist-queue-execution

[2020-03-02 12:34] spdkci commented on #1244
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_5236.html

[2020-03-02 12:34] spdkci commented on #1244
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_5240.html

[2020-03-02 12:59] darsto commented on #1244
workaround: https://review.spdk.io/gerrit/c/spdk/spdk/+/1082

[2020-03-02 13:05] tomzawadzki commented on #1249
@wawryk Can you please confirm fix posted by @tkulasek https://review.spdk.io/gerrit/c/spdk/spdk/+/1084 ?

[2020-03-02 13:12] darsto commented on #1247
This message is somewhat expected in multi-process detach. We fail to detach the device and DPDK prints this message, but also handles the failure gracefully.

The direct failure here is `Too long time for initialization.`. in nvme_startup test. I have no clue why.

[2020-03-02 14:06] tomzawadzki commented on #1068
The original reason for submission of this issue was not changed even after changes from @Seth5141.
Please see patches submitted once again to new review board:
[test: limit files scanned when searching for test completions](https://review.spdk.io/gerrit/c/spdk/spdk/+/1089/1 "test: limit files scanned when searching for test completions")
[test/common: do not double exclude autotest_common.sh](htt

[2020-03-02 14:10] tomzawadzki commented on #1053
After reaching out to @ksztyber, it looks like the issue was not reproduced for long time either via manual attempt or CI.

Closing the issue, if it happens again - please re-open.

[2020-03-02 14:10] #1053 closed

[2020-03-02 15:18] jimharris commented on #1217
Seth and I talked Friday about this - we will be making a major version bump.

We are planning v20.01.1 for March 20th.  It will contain the SOVERSION bumps as well as other bug fixes since the v20.01 release.

[2020-03-02 16:37] benlwalker commented on #1238
Can you clarify what hardware is being tested here? Is this a physical NVMe SSD that does support namespace management but does not support namespace attribute notice AER?

In that case, I don't think there's anything we can do to fix this. The upper layer doesn't know the command being sent is a namespace management command, so it has no idea it needs to look for new namespaces without that AER.

[2020-03-02 17:10] peluse opened #1250 "nvmf tcp autotest: verify: bad header rand_seed"
See https://ci.spdk.io/results/autotest-per-patch/builds/5159/archive/nvmf-tcp-autotest/index.html

[2020-03-02 17:11] spdkci commented on #1096
Another instance of this failure. Reported by @benlwalker. log: https://ci.spdk.io/public_build/autotest-per-patch_5145.html

[2020-03-02 17:12] spdkci commented on #1250
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_5159.html

[2020-03-02 20:31] spdkci commented on #1250
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_5287.html

[2020-03-02 23:42] spdkci commented on #1240
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_5318.html

[2020-03-03 00:16] shuhei-matsumoto commented on #1240
Thank you so much @mikeBashStuff The patch has been merged.

[2020-03-03 00:16] #1240 closed

[2020-03-03 03:18] shuhei-matsumoto opened #1251 "Use after free in ftl_bdevperf_append test case"
https://ci.spdk.io/results/autotest-per-patch/builds/5349/archive/nvme-autotest/build.log

[code]

[2020-03-03 03:19] spdkci commented on #1251
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_5349.html

[2020-03-03 03:19] shuhei-matsumoto commented on #1251
Hi @ksztyber, will you take a look at this issue?

[2020-03-03 07:29] AlekseyMarchuk commented on #1124
Patch which adds transport ack timeout has been merged to master https://review.spdk.io/gerrit/c/spdk/spdk/+/503, I'm closing this issue

[2020-03-03 07:29] #1124 closed

[2020-03-03 07:44] AlekseyMarchuk commented on #1101
Hi @yidong0635
Thanks for your analysis. Do you plan to implement a fix for this issue? I'm asking because you have made great progress and perhaps you'll assign this issue to yourself?

[2020-03-03 09:18] tomzawadzki commented on #1068
After talking to @karlatec, one of limiting factors when accessing the SPDK repository in a VM was the NFS backing it. It has been since removed.

Using https://review.spdk.io/gerrit/c/spdk/spdk/+/1086/ greping all files in repo did not add considerable amount of time in current CI setup. Thus this issue is no longer relevant and will be closed.

Remaining patches for improving collection of test

[2020-03-03 09:18] #1068 closed

[2020-03-03 09:35] jkalwas opened #1252 "Timeout on waitforserial "$NVMF_SERIAL""
example log
https://ci.spdk.io/results/autotest-per-patch/builds/5163/archive/nvmf-tcp-autotest/build.log

issue occurs on nvmf_filesystem_incapsule test
"=> 68  		waitforserial "$NVMF_SERIAL""
not sure if that is an timeout

[2020-03-03 09:46] spdkci commented on #1252
Another instance of this failure. Reported by @jkalwas. log: https://ci.spdk.io/public_build/autotest-per-patch_5163.html

[2020-03-03 11:22] spdkci commented on #1226
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_5376.html

[2020-03-03 13:02] spdkci commented on #1226
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_5397.html

[2020-03-03 13:19] tomzawadzki commented on #691
In order to test the current state of this issue, ported the reproduction script to new CI/review board.
https://review.spdk.io/gerrit/c/spdk/spdk/+/1111
https://ci.spdk.io/results/autotest-per-patch/builds/5400/archive/nvmf-phy-autotest/build.log

It results in different asserts at the same time as previous tests (deletion of first lvol bdev).
[code]

Will be assessing the how it relates to previ

[2020-03-03 13:41] ksztyber commented on #1251
Hi @shuhei-matsumoto, I'll take a look.

[2020-03-03 16:07] Seth5141 commented on #1250
Hi @peluse,

This is a known issue with the version of FIO we are using. There is a workaround on our master for this. Please rebase your change on master to get it to pass the build pool.

[2020-03-03 16:07] #1250 closed

[2020-03-03 20:57] felipe-barajas opened #1253 "OCF Bdev Encounters Submit IO Error"
Using SPDK v20.1, an OCF bdev fills up the screen with errors like this:
"volume.c: 358:vbdev_ocf_volume_submit_io: *ERROR*: submission failed with status=-12"
during initialization of large devices.

## Expected Behavior

OCF initializes OK even if using large number of devices / device capacity

## Current Behavior

OCF initializes but fills up the screen with errors

## Steps to Reproduce

1. U

[2020-03-03 21:49] spdkci commented on #1208
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_5436.html

[2020-03-04 02:31] wanghailiangx opened #1254 "autotest-nightly tests all failed and no links"
https://ci.spdk.io/public_build/autotest-nightly.html

## Current Behavior
Previous Build Summary
Date | Result
-- | --
03-March 23:30:00 | Test Failure
03-March 20:30:00 | Test Failure
03-March 17:30:00 | Test Failure
03-March 14:30:00 | Test Failure

## Possible Solution
Administrator could restore links first.

[2020-03-04 02:44] wanghailiangx commented on #1254
Autotest-nightly-failing is the same.
https://ci.spdk.io/public_build/autotest-nightly-failing.html

[2020-03-04 03:09] shuhei-matsumoto commented on #1115
Please close again if I'm wrong.
This error was observed in CI.
https://ci.spdk.io/results/autotest-per-patch/builds/5384/archive/ubuntu16-autotest/build.log

[2020-03-04 03:10] spdkci commented on #1115
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_5384.html

[2020-03-04 03:10] yidong0635 commented on #852
@AlekseyMarchuk,@Seth5141 ,@benlwalker,@changpe1, @jimharris ,@liang2yan ,
since I have the real environment to simulate this issue, and I add print to debug this, found that something valuable:
1. this issue occurred at test pool before.
2.` spdk_nvmf_rdma_poller_poll: *ERROR*: data=0x200201a30000 length=131072 `
it shows not only in RDMA_WR_TYPE_SEND but also  in case RDMA_WR_TYPE_DATA,  the err

[2020-03-04 03:22] spdkci commented on #1115
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_5386.html

[2020-03-04 04:01] yidong0635 commented on #1101
@AlekseyMarchuk thanks, I observed that  you have said about "but anyway working with freed memory is undefined." which is still unaccountable. I still have some questions about this. But will continue to check this.

[2020-03-04 08:23] darsto commented on #1243
The workaround was merged, so closing. Let's continue getting rid of discover_bdevs()

[2020-03-04 08:23] #1243 closed

[2020-03-04 10:12] tkulasek commented on #1187
Disabling scanning and probing devices on secondary process on DPDK initialization (see POC https://review.spdk.io/gerrit/c/spdk/dpdk/+/1056) makes that this test pass without any problems. This is DPDK issue with handling virtual devices on secondary process for me. I think that DPDK shouldnt try to initialize cryptodev at all if not attached manually.

[2020-03-04 10:18] AlekseyMarchuk commented on #852
Hi @yidong0635

Could you clarify your environment, I want to reproduce the issue on my side. I wonder why I could not reproduce it for so long..

[2020-03-04 11:01] yidong0635 commented on #852
[perf.log](https://github.com/spdk/spdk/files/4286885/perf.log) the important is the fio config and testing methods: the environment is provided by Liang.
there's one target, three initiators:
target:
5.4.8-1.el7.elrepo.x86_64 #1 SMP Sat Jan 4 15:29:03 EST 2020 x86_64 x86_64 x86_64 GNU/Linux

we use json config:
{
  "general": {
    "username": "***",
    "password": " ***",
    "transport": "rdma

[2020-03-04 12:21] AlekseyMarchuk commented on #852
@yidong0635 Thanks for your reply. Could you clarify what you mean by `change code can avoid this error`?

[2020-03-04 12:29] mikeBashStuff opened #1255 "rpc timeout in nvme_rpc test"
https://ci.spdk.io/results/autotest-per-patch/builds/5477/archive/freebsd-autotest/build.log

It seems to be caused by the fact that upon calling `rpc.py` `/var/tmp/spdk.sock` was already in use.

[2020-03-04 12:29] spdkci commented on #1255
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_5484.html

[2020-03-04 15:22] mikeBashStuff commented on #1255
There's also this hidden segfault for which the core dump was not fetched as the host that was running the test didn't have `eu-readelf` installed and used `grep` without the support for perl regexes (`-P`) (that part actually caused `process_core()` to fail entirely).

[2020-03-04 16:06] spdkci commented on #1208
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_5530.html

[2020-03-04 16:40] mhae opened #1256 "NVMF: Initiator connection fails when subsystem is paused"
The fabric connect fails when when the subsystem is paused. This is very problematic if a subsystem has a lot namespaces that are coming an going.

Here's the code in question that fails the connect:
[code]
Wouldn't it be better to queue the request for a while an retry?
I do see that the request is added to the outstanding list in nvmfrequest_exec. Couldn't we just re-queue the request for a whil

[2020-03-04 17:44] spdkci commented on #1208
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_5534.html

[2020-03-05 00:47] yidong0635 commented on #852
@AlekseyMarchuk  I know that
[fio.log](https://github.com/spdk/spdk/files/4290253/fio.log)
maybe may change is not right, just to verify this is not due to FW/OS/OFED/MOFED:
[code]
it isn't totally right, _**_but this can see obvious effect_**_.
I feel the calculation of the length is not right this would due to IBV_WC_WR_FLUSH_ERR .

[2020-03-05 02:23] changpe1 commented on #1218
Attach failure should be related with we didn't shutdown the controller in STUB process, since patch was merged, I'm going to close this issue.

[2020-03-05 02:23] #1218 closed

[2020-03-05 03:39] ryderhsu0129 opened #1257 "function level reset and subsystem reset occurs drive drop"
We tried to do function level reset(FLR) by setting FLR bit to 1 to trigger the reset,
but we got some error message and drive drop occured,
we already do same experiment on different SSD drive and still got the same results,
the error message is as follows :

The code we wrote to do FLR :

[code]

please help to check this issue, thanks!

[2020-03-05 04:05] jimharris commented on #1257
Bug scrub: @jimharris will take a look at what SPDK should do here.

We should also check PCI capability registers to confirm the SSD supports FLR (thanks Changing).

[2020-03-05 04:08] jimharris commented on #1256
Bug scrub: connect command needs to be queued, but we need to make sure there's a timeout on that queue (for cases where the subsystem is paused for a longer period of time)

We need some stress tests around this - something like:
1) thread or process constantly issuing RPCs to add and remove namespaces from subsystem
2) thread or process constantly connecting to subsystem (and confirming the conn

[2020-03-05 04:10] jimharris commented on #1256
@liang2yan will develop the stress test to reproduce this problem.  We still need someone to take the development side of fixing the bug.

[2020-03-05 04:14] jimharris commented on #1255
Bug scrub: assigning to Gang - he will assign to someone from his team

[2020-03-05 04:15] jimharris commented on #1254
Bug scrub: assigning to @karlatec

[2020-03-05 04:17] jimharris commented on #1253
Bug scrub: @mdziegie can you take a look?

[2020-03-05 04:19] jimharris commented on #1252
Bug scrub: assigning to @Seth5141 for now - this may require some more instrumentation to hopefully give more info on a future failure

[2020-03-05 04:23] jimharris commented on #1248
Bug scrub: assigning to @changpe1 for further analysis

[2020-03-05 04:24] jimharris commented on #1247
Bug scrub: @jimharris will take a look

[2020-03-05 04:26] jimharris commented on #1244
Bug scrub: @changpe1 says that even very latest RocksDB still shows this same issue.

Assigning to @darsto for now, mainly because he's already posted the workaround patch.  We will need to monitor RocksDB mainline as well to see when they fix this upstream.

[2020-03-05 04:29] jimharris commented on #1242
Bug scrub: Assigning to @Seth5141.  It looks like this was just a temporary CI issue (that only happened during a very short period of time).  Will let Seth disposition.

[2020-03-05 04:31] jimharris commented on #1241
Bug scrub: This appears OCF related.  Assigning to @mdziegie

[2020-03-05 04:33] shuhei-matsumoto commented on #1208
Copied from Slack.

 I saw this issue only twice, and these had the same signature. The log showed mismatch occurred at LBA 4984, 4986, 4988, 4990, and IO size of bdevperf was 4096. So it is very likely that the issue was caused by using AIO bdev. AIO file was block size = 2048 and number of blocks = 5000. So The LBAs was almost end of the LBA file.
Queue depth was 128 and so as you think, your fi

[2020-03-05 04:34] jimharris commented on #1237
Bug scrub: @benlwalker says we need to confirm that everywhere we are doing fio verify, that we specify the verify_backlog parameter.  Assigning to @Comphix

[2020-03-05 04:35] jimharris commented on #1236
Bug scrub: @changpe1 will take a look

[2020-03-05 04:39] jimharris commented on #1220
Bug scrub: in this case, there's not much the io channel code can do to try to communicate anything to the user - the problem here was a poll group was created and never deleted

Agree that when possible we should give hints to the user when we can't gracefully shut down, but in this case, it was just a bug in the code that needed to be fixed.

[2020-03-05 04:39] #1220 closed

[2020-03-05 04:45] changpe1 commented on #1236
This issue is same with #1228 and it was fixed via commit 8d6f48fb, so I'm going to close this one.

[2020-03-05 04:45] #1236 closed

[2020-03-05 04:47] jimharris commented on #1208
This patch should help get closer to the bottom of this.  We'll get this reviewed and merged.

@shuhei-matsumoto also suggested trying a patch with multiple AIO bdevs to see if that accelerates the problem.  We might not want to check it in, but could run it multiple times through the test pool to see if it fails.

[2020-03-05 04:52] changpe1 commented on #1209
Similar with #1218 , we will detach the controller from STUB process, this issue should be fixed already, close it for now.

[2020-03-05 04:52] #1209 closed

[2020-03-05 04:52] ryderhsu0129 commented on #1257
thanks for your reply.

the code I attached that already confirmed SSD supports FLR before setting FLR bit to trigger reset,
but drive drop still occurred, I don't understand why nvme_ctrlr_shutdown() is called after setting FLR bit, it seems to be the cause.

[2020-03-05 05:58] spdkci commented on #1248
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_5598.html

[2020-03-05 07:02] karlatec commented on #1254
FYI, if you need to access nightly results then they're still available despite links not being displayed on mentioned pages.

Go to https://ci.spdk.io/ and search for "autotest-nightly" or "autotest-nightly-failing". Links will be in the left side column.

[2020-03-05 07:28] dong-liuliu commented on #1255
hi, @mikeBashStuff
I've looked through related failure build.log. It seems to be caused by your own patch set.

[2020-03-05 07:35] dong-liuliu commented on #1255
From the your build log and patch set, for freeBSD platform:
In `test/bdev/blockdev.sh`'s setup_gpt_conf function, when uname is freeBSD not Linux, the test would do `trap -SIGINT SIGTERM EXIT`.  This overrided  the trap operation of function `start_spdk_tgt()` 's trap which would kill SPDK process.

So your bdev gpt test left but without killing its SPDK process. Then latter test cases with spdk_

[2020-03-05 08:06] mikeBashStuff commented on #1255
@dong-liuliu Ah, I must have dropped call to `killprocess()` from there after one of the rebases. :\ Thanks for checking it out! :)

Though I still wonder what to do about this one https://ci.spdk.io/public_build/autotest-per-patch_5484.html where the actual core dump was written out. Do you think it's worth looking into? If not, I guess we could proceed with closing this issue.

[2020-03-05 09:32] ryderhsu0129 commented on #1257
We also tried to do subsystem reset(NSSR) by setting NSSRC bit to trigger the reset,
we got same error message and drive drop occurred,
the error message is same as above attached :

attached the code we wrote to do NSSR:
[code]
we used nvme-cli tool to do NSSR on same SSD drive is work.

[2020-03-05 09:33] wanghailiangx commented on #1254
@karlatec OK, thank you. But we can't see through that entrance --**Job results** in the right side column.

### Job results
*AUTOTEST-PER-PATCH
*AUTOTEST-NIGHTLY **(error link)**
*AUTOTEST-NIGHTLY-FAILING **(error link)**
*AUTOTEST-SPDK-MASTER-VS-DPDK-MASTER
*SPDK-GITHUB-IO

[2020-03-05 09:52] wangzhhbj opened #1258 "NVMe RDMA target failed to discover"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

use SPDK+NVMeOF to do some test, and target is run ok, but when I run 'nvem discover' command, I got this error.

## Expected Behavior

discover success

## Current Behavior

#nvme discover -t rdma -a 192.168.0.90 -s 4421
Failed to

[2020-03-05 10:29] mikeBashStuff opened #1259 "iscsi_tgt_filesystem_btrfs test failed"
`iscsi_tgt` suddenly died after ` iscsiadm`'s logout:

[code]

https://ci.spdk.io/results/autotest-per-patch/builds/5620/archive/iscsi-autotest/build.log

[2020-03-05 10:30] spdkci commented on #1259
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_5620.html

[2020-03-05 12:24] AlekseyMarchuk commented on #852
Hi @yidong0635
IBV_WC_WR_FLUSH_ERR errors are generated for all work requests after qpair moves to an error state. Errors which represent send/receive queue overflow are IBV_WC_LOC_LEN_ERR and IBV_WC_REM_INV_REQ_ERR, have you seen such errors?
I'll check your assumption regarding wrong calculation of send depth, but I believe it should be correct, otherwise we'll see a lot of errors in our perform

[2020-03-05 12:53] mikeBashStuff opened #1260 "[FreeBSD] $OSTYPE contents differs depending on the $USER"
Leaving it here just for visibility.
[code]
This may affect `./configure` depending on if it's run as a root since all the bsd-related checks look for `freebsd*` string. uname calls seem to be consistent though.

[2020-03-05 13:17] Maciej-Szwed commented on #1239
I found the root cause of your problem. In rpc.py you get "raid_level": "0", but in curl command you use "raid_level" : 0.
There should be "0" (with " around it).
Please confirm if that works on your side and we can close this issue.

[2020-03-05 13:46] mikeBashStuff opened #1261 "db_bench failed in rocksdb_readwrite test"
https://ci.spdk.io/results/autotest-per-patch/builds/5638/archive/BlobFS-autotest/build.log

Relevant part:
[code]
Memory leaks potentially related to #739.

[2020-03-05 13:48] spdkci commented on #1261
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_5638.html

[2020-03-05 13:56] darsto commented on #1206
Fix merged

[2020-03-05 13:56] #1206 closed

[2020-03-05 14:03] darsto commented on #1261
That's the error:
*  (FAILED)bdev_nvme.c:1871:bdev_nvme_library_init: *ERROR*: NVMe SSD "0000:85:00.0" could not be found.

But it doesn't look like DPDK even tried to use this device. @wawryk Could it be that rocksdb tests were run on wrong machine?

[2020-03-05 14:09] mikeBashStuff commented on #1261
This device is seen on the bus when the autotest starts though.

[2020-03-05 14:21] dacrespi commented on #1239
Yes, that does indeed work!!  I didn't think we needed to quote around numbers, just strings.  Well, regardless it's good to go, thanks!  Closed.

[2020-03-05 14:21] #1239 closed

[2020-03-05 15:00] jimharris commented on #1239
Yeah - normally numbers don't need to be quoted, but in this case the raid level is a string - either "0" or "raid0" are accepted.

[2020-03-05 16:48] jimharris commented on #1257
Hi @ryderhsu0129 - can you describe a few things:

1) what application are you running for your test?
2) where are you adding the code to do the FLR?
3) are you using uio_pci_generic or vfio-pci in your environment?
4) do you see any change in behavior if you call spdk_nvme_ctrlr_reset() immediately after doing the FLR or NSSR?

Thanks,

-Jim

[2020-03-05 20:13] pawelkax opened #1262 "FreeBSD contigmem driver crashes when memory cannot be allocated"
To reproduce this error:
1. Create virtual machine with freebsd 12.1
2. Compile spdk sources
3. Run setup.sh

Output in console:
[code]
Output in vnc:
![image](https://user-images.githubusercontent.com/28859087/76021623-d62e2b00-5f25-11ea-930c-5fbd0a34e0a0.png)

[2020-03-05 20:23] pawelkax commented on #1262
I would like to add that after reboot the machine setup.sh is working.

[2020-03-05 21:41] peluse commented on #1232
Fix confirmed by submitter

[2020-03-05 21:41] #1232 closed

[2020-03-05 21:43] peluse commented on #1208
@jimharris cool, I'll try it

[2020-03-06 00:46] dong-liuliu commented on #1255
Yes, Mike, we could close this issue.

what I'm thinking about this patch, maybe, you can add some `if` condition to trap, like `trap <if ?; then kill spdk> SIGINT SIGTERM EXIT`, in order to avoid unexpected trap overriding.

[2020-03-06 00:46] #1255 closed

[2020-03-06 00:59] spdkci commented on #1208
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_5720.html

[2020-03-06 01:03] shuhei-matsumoto commented on #1208
@peluse @jimharris My anylysis for log was totally wrong. Sorry for that.
New log showed the mismatch occurred offset 0.
I'm suspecting my recent patches caused the issue and investigating it.

[code]

[2020-03-06 01:37] yidong0635 commented on #852
@AlekseyMarchuk , you are right, that's my assumption. My distro is to download the latest version every day.
And I applied your patch on gerrit. It shows retried counter exceeded (12) then work flush error(5).
My change before may changed the rsp which I tested the rwmixread": 60%-->1%", it reduced the error probability, this is experience value,It's not right, please ignore.
rwmixread=1 which me

[2020-03-06 01:51] spdkci commented on #1208
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_5730.html

[2020-03-06 02:32] spdkci commented on #1208
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_5736.html

[2020-03-06 03:38] ryderhsu0129 commented on #1257
Hi @jimharris

answer your question :
1.We modify spdk hello world example to do different reset test.
2.We do the FLR/NSSR after spdk_nvme_probe process completed.
3.uio_pci_generic
4.We have tried to call spdk_nvme_ctrlr_reset() immediately after doing the FLR or NSSR, but still occurred error.

We refer to linux driver that will rescan the device after doing reset, I think our SSD drive occurre

[2020-03-06 06:11] shuhei-matsumoto commented on #1208
Hi @peluse

Sorry for confused and wrong information. Buffer mismatch by FTL or OCSSD bdev is not related with this issue. Please ignore FTL or OCSSD cases. I will fix FTL or OCSSD cases during development.

[2020-03-06 06:34] govind-rathod1987 opened #1263 "unable to perform any rpc calls in SPDK v20.04-pre"
unable to perform any rpc calls in  SPDK v20.04-pre version.
Note: I have modified rpc.py file to use python2
i see error for any help command as well like below:

**[root@Rhel7u6_demo_Target2 scripts]# python rpc.py --help
  File "rpc.py", line 2319
    print("{} is deprecated, use {} instead.".format(name, deprecated_aliases[name]), file=sys.stderr)

[2020-03-06 07:50] darsto commented on #1261
Ah, interesting.

I can see at the very end, after the failure:

[code]

But I don't see any place where NVMe gets bound to the kernel driver. In fact, we even use it in SPDK a few tests earlier:
[code]

Yet, it was somehow unbound from vfio-pci.  Someone messing with the machine during tests maybe?

[2020-03-06 08:02] darsto commented on #1262
A quick git log over DPDK's contigmem shows only 1 change since 2019 and that's a FreeBSD 13 compilation fix - unrelated here.

We should report this to DPDK if we ever see it again.

https://github.com/DPDK/dpdk/commit/03bff90ccfd6ad347f1e50901caf47890872ca28

[2020-03-06 08:06] darsto commented on #1263
This is not supported and won't work. Python 2 has almost reached EOL.

[2020-03-06 08:06] #1263 closed

[2020-03-06 08:08] darsto commented on #1260
@jimharris is there any better way to detect if we're on freebsd?

[2020-03-06 08:19] darsto commented on #1244
Sorry, I'm unassigning myself

[2020-03-06 08:20] darsto commented on #1249
Fix merged and Karol has verified it works

[2020-03-06 08:20] #1249 closed

[2020-03-06 10:38] darsto opened #1264 "iscsi-autotest: FIO: No job(s) defined"
[code]

[2020-03-06 10:39] spdkci commented on #1264
Another instance of this failure. Reported by @darsto. log: https://ci.spdk.io/public_build/autotest-per-patch_5758.html

[2020-03-06 12:27] tomzawadzki commented on #1141
Patch submitted here:
https://review.spdk.io/gerrit/c/spdk/spdk/+/1178

[2020-03-06 13:11] tkulasek commented on #1238
@benlwalker Yes, this is phisical hardware supporting namespace management and doesn't support ns attribute notice AER.
This is also not handled by linux kernel. To made namespace management effective, using nvme-cli with kernel driver it is required to reset controller after adding or deleting namespace.

[2020-03-06 13:29] spdkci commented on #1207
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_5767.html

[2020-03-06 14:35] AlekseyMarchuk commented on #852
@yidong0635 This error says that something is wrong with connectivity between your nodes. I may seem stubborn, but could you try to install the latest ofed/mofed on your nodes? Sometimes in-box drivers (e.g. rdma-core) have their own forks that don't include all the latest fixes.

[2020-03-06 14:36] AlekseyMarchuk commented on #1256
@jimharris I'll prepare a fix, probably next week

[2020-03-06 14:52] spdkci commented on #1264
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_5666.html

[2020-03-06 14:59] peluse commented on #1208
proposed fix here: https://review.spdk.io/gerrit/c/spdk/spdk/+/1180

[2020-03-06 15:09] #1155 closed

[2020-03-06 15:25] jimharris commented on #1263
HI @govind-rathod1987,

SPDK does not officially support Python 2.  There was someone on the SPDK mailing list a few months ago who was also interested in using Python 2, which would require making out-of-tree changes that you would need to maintain.  But it did seem like he was able to get it to work.  You can find that mailing list thread here:

https://lists.01.org/hyperkitty/list/spdk@lists.01

[2020-03-06 15:27] jimharris commented on #1256
Thanks @AlekseyMarchuk!

[2020-03-06 15:28] jimharris commented on #1244
Workaround patch was merged, so closing this issue.

[2020-03-06 15:30] jimharris commented on #1262
@pawelkax - are you able to intermittently reproduce this?

[2020-03-06 15:51] jimharris commented on #1260
Wow - that's really weird.  I have no explanation for that (but can confirm it happens with FreeBSD 12 as well).

I'd just suggest we use uname.  That's what we use in all of our other scripts.  configure is the only one that uses OSTYPE.

@mikeBashStuff - I'm going to assign this to you - could you throw together a patch?

[2020-03-06 16:02] peluse opened #1265 "“ccache: error: Failed to create temporary file for /home/sys_sgci/.ccache/tmp/bdev_zone_.stdout: No space left on device” on vhost_autotest"

[2020-03-06 16:04] spdkci commented on #1265
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_5797.html

[2020-03-06 16:05] pawelkax commented on #1262
@jimharris It happens every time when I'm compile spdk for the first time ad use setup.sh.

[2020-03-06 16:14] peluse opened #1266 "CI: NVMF fio tests failing both TCP and RDMA"
This seems to be causing fio to fail:  16:55:59	# /var/jenkins/workspace/nvmf-tcp-autotest/spdk/scripts/fio.py -p nvmf -i 4096 -d 1 -t write -r 1 -v
Could not set block device queue depths.

See https://review.spdk.io/gerrit/c/spdk/spdk/+/1180

[2020-03-06 16:15] spdkci commented on #1266
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_5801.html

[2020-03-06 16:22] jimharris commented on #1262
Do you see any other errors before this crash?

I looked at module_register_init() to understand why we are in the sys_kldload path but crashing in contigmem_unload.  If the MOD_LOAD fails, module_register_init() will immediately call MOD_UNLOAD.  So it seems to indicate that the load failed, and I'm wondering if there are any error messages which would indicate why.

But I do see the bug in the c

[2020-03-06 16:40] peluse opened #1267 "CI: in test/nvmf/target/connect_disconnect.sh:35 -> main(["--transport=rdma"])"

[2020-03-06 16:43] spdkci commented on #1267
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_5804.html

[2020-03-06 20:05] peluse commented on #1267
Looking at the logs a bit closer, this appears to be the start of the failure:

nvme_qpair.c: 475:spdk_nvme_qpair_process_completions: *ERROR*: CQ error, abort requests after transport retry counter exceeded
nvme_ctrlr.c: 693:nvme_ctrlr_fail: *ERROR*: ctrlr 192.168.100.8 in failed state.
nvme_ctrlr.c:1088:spdk_nvme_ctrlr_reset: *NOTICE*: resetting controller
nvme_rdma.c: 421:nvme_rdma_validate_cm_

[2020-03-07 01:56] gwnet opened #1268 "SPDK internal segfault but no application core dump is created to debug"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Even though we can this null pointer access at kernel dmesg, but our application did not crash with one core dump(we surely configure the dump, other crash can create dump).

But looks like this spdk’s internal null pointer is swal

[2020-03-07 02:09] Comphix commented on #1268
To make clear, the dump of the crash (NULL pointer) is not generated as expected?

Is this easy to reproduce for the NULL pointer access and also try below setting first.

./configure --enable-debug
make clean
make
echo 'core.%p' > /proc/sys/kernel/core_pattern

[2020-03-07 16:29] AlekseyMarchuk commented on #1268
Could you clarify your scenario? Did you simply run IO or use additional operations like start/stop of subsystems/listeners under traffic?

[2020-03-08 08:21] sashakot commented on #830
Hi,

We plan to submit the "Signature offload" ("Data protection offload") to rdma-core in June 2020

Best regards
Sasha

[2020-03-09 03:08] ryderhsu0129 commented on #1257
We tried to re-call spdk_nvme_probe() to rescan SSD drive, but still occurred drive drop and get error message :

[2020-03-09 04:06] changpe1 commented on #1257
@ryderhsu0129 Did you try to call PCI rescan after doing NSSR, I'm wondering the SPDK hotplug monitor is triggered after NSSR.

[2020-03-09 05:26] optimistyzy commented on #1248
Related with the checksum, when testing fio with plugin: examples/nvme/fio_plugin/mock_sgl_config.fio

 03:43:00	# asan_lib=
 03:43:00	# LD_PRELOAD=' /var/jenkins/workspace/nvmf-tcp-autotest/spdk/examples/nvme/fio_plugin/fio_plugin'
 03:43:00	# /usr/src/fio/fio /var/jenkins/workspace/nvmf-tcp-autotest/spdk/examples/nvme/fio_plugin/mock_sgl_config.fio '--filename=trtype=tcp adrfam=IPv4 traddr=127.0

[2020-03-09 06:01] ryderhsu0129 commented on #1257
hi @changpe1
thanks for your reply.

You mentioned PCI rescan is to call spdk_nvme_probe()? If so we have tried to do it.
we don't know that re-call spdk_nvme_probe() whether is right time after doing FLR/NSSR,
do you have suggestion about re-scan PCI procedure? such as when to call a function or call
which function.

[2020-03-09 06:10] changpe1 commented on #1257
@ryderhsu0129 After NSSR, can you still see the PCI drive via lspci command?  You mentioned that the kernel driver can work with your requirement, I'm wondering the uio_pci_generic driver didn't have such steps, so you can try to unbind the NVMe drive from uio_pci_generic driver and bind it again to see any difference.

[2020-03-09 06:42] ryderhsu0129 commented on #1257
@changpe1

We still can see PCI drive via lspci command after NSSR, but can't see it on /dev/nvme*,
so we can't access SSD drive through SPDK application.

we unbind the NVMe drive from uio_pci_generic driver and do a hot reset via setpci command to config bridge control register,  PCI drive also occurred drop.
and then we issue "echo 1 > /sys/bus/pci/devices/$PORT/dev_rescan", the PCI drive will

[2020-03-09 06:58] optimistyzy commented on #1248
In my mind, though it prints the following issue.
"rmdir: failed to remove '/var/run/dpdk/spdk0': Directory not empty
Process leaked file descriptors. See https://jenkins.io/redirect/troubleshooting/process-leaked-file-descriptors for more information
Build step 'Execute shell' marked build as failure"

But actually, there are different cases fail, so it cause this issue.

[2020-03-09 07:11] changpe1 commented on #1258
@wangzhhbj I think this issue is related with your environment, the error log printed in target side shows there is an error:
rdma.c:1075:spdk_nvmf_rdma_qpair_initialize: ERROR: rdma_create_qp failed: errno 12: Cannot allocate memory

it means rdma_create_qp() returns an error.  Do you still see this issue after a reboot?

[2020-03-09 07:15] yidong0635 commented on #1258
@wangzhhbj following your steps , with you conf , I can discover it successfully.
 1. what kind of NIC are you using.  real physical NIC or SoftRoCE.
 2. please search the  issue history there're some issues about this kind of can't allocate memory which may help you to check some steps.(#696)
3. you can use rpc methods create target.

[2020-03-09 07:16] changpe1 commented on #1123
I'm going to close this issue as I don't see similar issue in mater SPDK.  Please re-open it if you still need more investigation.

[2020-03-09 07:16] #1123 closed

[2020-03-09 07:33] yidong0635 commented on #852
@AlekseyMarchuk  we are finding the right ofed/mofeds. Will do this right now.

[2020-03-09 08:01] ryderhsu0129 commented on #1257
We check the implementation method of FLR/NSSR on linux pci driver,
they only write specific bit into corresponding register and no other operations.
for example, FLR is just to write 1 to bit 15 of PCIe device control register.
so we should no need to do rescan PCI devices.

We write specific bit into FLR/NSSR corresponding register and didn't get the error code on write operation. but the error

[2020-03-09 08:05] changpe1 commented on #1257
That's why I asked do you see the SPDK hotplug NVMe monitor work or not for this case, it will monitor uio_pci_generic uevents.

[2020-03-09 08:47] ryderhsu0129 commented on #1257
so the occurrence of error message(nvme_ctrlr_shutdown() is be called) is because SPDK hotplug NVMe monitor caused?If so how do we avoid it?

[2020-03-09 08:53] shuhei-matsumoto opened #1269 "Hung up when we try to create FTL bdev on non 4K block size zone bdev to bdev_ftl_create RPC"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

When we create FTL bdev on zone block bdev according to https://spdk.io/doc/ftl.html , if we pass non 4K block size zone bdev, SPDK application hungup because spdk_io_device_unregister() is called to not registered IO device.

## E

[2020-03-09 13:28] pawelkax commented on #1262
I tried to run setup.sh with patch.txt.
In console I got:
 11:10:52       # ./scripts/setup.sh
kldunload: can't find file nic_uio.ko
hw.nic_uio.bdfs="0:7:0"
hw.contigmem.num_buffers="8"
hw.contigmem.buffer_size="268435456"
kldload: an error occurred while loading module contigmem.ko. Please check dmesg(8) for more details.

 In dmesg I got error:
nic_uio0: <DPDK PCI Device> mem 0xfeb92000-0xfeb93f

[2020-03-09 13:50] jimharris commented on #1262
How much memory do you have in this VM?

[2020-03-09 13:55] pawelkax commented on #1262
I had 4GB. Increased to 12GB and it works now.

[2020-03-09 14:43] jimharris commented on #1262
OK.  The contigmem driver load can fail if it cannot find enough contiguous memory - which may happen if you do something like compile SPDK before loading contigmem.  That explains why it works when you either add more memory, or reboot the VM and retry without first compiling SPDK.

But the crash still needs to be fixed.  I'm going to change the title of this bug to reflect the crash, and we'll k

[2020-03-09 15:23] jimharris commented on #1262
https://review.spdk.io/gerrit/c/spdk/dpdk/+/1200

[2020-03-09 16:17] pawelkax commented on #1262
@jimharris  I can confirm that spdk tests on freebsd 12 are working without your patch.txt when I have enough memory.
But after compiling spdk sources I cannot do scripts/setup.sh:
kldunload: can't find file nic_uio.ko
hw.nic_uio.bdfs="0:6:0"
hw.contigmem.num_buffers="8"
hw.contigmem.buffer_size="268435456"
kldload: an error occurred while loading module contigmem.ko. Please check dmesg(8) for mor

[2020-03-09 17:06] jimharris commented on #1262
HI @pawelkax - I think that's fine that setup.sh doesn't work after you compile SPDK sources.  Compiling the sources seems to fragment memory enough that we can't allocate even 1 256MB buffer.  It just means that on FreeBSD, we should always load contigmem (or run setup.sh) immediately after booting.

[2020-03-09 17:26] jimharris commented on #1262
Pushed to dev@dpdk.org also:

https://patches.dpdk.org/patch/66470/

[2020-03-09 17:26] spdkci commented on #1264
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_5902.html

[2020-03-09 17:27] pawelkax commented on #1262
@jimharris Ok, thank you for explaining.

[2020-03-10 02:45] optimistyzy commented on #1237
By coincidence, I investigated this issue due to another issue. Unfortunately, I cannot reproduce this issue on my local platform (with malloc device) with many times running with different fio version, e.g., fio 3.15  or 3.18. The verify_backlog usage specified by FIO sounds correct, see the following verify_backlog explanation by fio man:

 verify_backlog=int
              Fio will normally veri

[2020-03-10 04:01] ufo19890607 commented on #1008
[SPDK FIO Plugin for VMD mode.pdf](https://github.com/spdk/spdk/files/4310166/SPDK.FIO.Plugin.for.VMD.mode.pdf)

Add a simple doc for fio_plugin under vmd mode

[2020-03-10 07:39] EugeneKochetov opened #1270 "SPDK NVMf initiator fails to connect if target does not support Get Features "Number of Queues""
Some targets do not support Get Features "Number of Queues" command and SPDK fails to connect to such targets. Linux kernel initiator connects to the same target without any issues.

NVMe specification in ch.7.6 "Controller Initialization" suggests to use only Set Features command and says nothing about Get Features. So, Get Feature "Number of Queues" step in SPDK controller initialization seems t

[2020-03-10 07:48] optimistyzy commented on #1259
It seems related with logical volume deletion:

INFO: Removing lvol bdev
 11:56:01	# /var/jenkins/workspace/iscsi-autotest/spdk/scripts/rpc.py bdev_lvol_delete lvs_0/lbd_0
request:
{
  "name": "lvs_0/lbd_0",
  "method": "bdev_lvol_delete",
  "req_id": 1
}
Got JSON-RPC error response
response:
{
  "code": -19,
  "message": "No such device"
}

Hi @tomzawadzki  can you look at this issue?  Thanks.

[2020-03-10 07:53] optimistyzy commented on #1210
The issue reported by @tomzawadzki  is not related with the issue reported by @shuhei-matsumoto, it is generated by the "invalid test"

[2020-03-10 07:56] optimistyzy commented on #1200
@tomzawadzki @shuhei-matsumoto Do we see this assert again in the test pool? I tried my best to reproduce this issue on my local platform, but I did not see the same assert genenerated. So I would like to ask you whether you see this issue again in our CI system.

[2020-03-10 10:18] karlatec opened #1271 "[nightly] nvmf-phy-nightly fails on nvmf_bdev_io_wait"
## Current Behavior

CI nvmf-phy-nightly-autotest is failing on test nvmf_bdev_io_wait.
This produces HUGE (up to 4-5GB!) log files and is very hard to track down what is actually causing the fail.

## Steps to Reproduce

1. Run nvmf_bdev_io_wait with RDMA transport on a system with physical RNIC (Mellanox 4 or 5)
2. Test starts failing at step:
[code]
After that error messages are looped.

## Con

[2020-03-10 10:18] karlatec commented on #1271
Labeling bug & intermittent failure as this seems to not have 100% repro rate

[2020-03-10 10:24] karlatec commented on #1271
Issue seems to have first appeared using this commit `eb9d8f341 lib/thread: Add spdk_io_device_get_name as a SPDK internal API
0b0f0c541 rpc: Add thread_get_pollers RPC`.
Can't find any earlier occurences.

[2020-03-10 10:39] spdkci commented on #1265
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_5795.html

[2020-03-10 12:13] ufo19890607 opened #1272 "NVMe P4500 has a low I/O performance with QDV101D1 fw"
## Issue Description
I found an I/O performance regression when conducting fio tests on NVMe P4500 with QDV101D1 fw.

## Test Env
SPDK version: SPDK v19.10-pre
DPDK version: DPDK 19.11.0-rc0
OS: centos7.4
kernel version: 3.10.0-693
vmd: enabled

## Reproducing Scenario
1. Prepare two NVMe P4500 devices with different fw, eg. QDV101D1 and QDV10170.
2. Initialize these two NVMe devices with the foll

[2020-03-10 12:25] shuhei-matsumoto commented on #1271
Hi @karlatec

My three patches for bdevperf were merged on the same day. They changed some timings and may be related with the issue.

https://github.com/spdk/spdk/commit/52d8f11ea83034cac957baf007d111c5b0892806

https://github.com/spdk/spdk/commit/19367440b6b5be400eef65e01b276d8c1b9708be

https://github.com/spdk/spdk/commit/d559562eaf3079a73e5908ec954eac9fe2906c5d

Further filtering is possible?

[2020-03-10 12:53] karlatec commented on #1271
Thanks for the tip @shuhei-matsumoto !

That's kind of hard with 4GB logs :) But honestly I don't think there's anything more valuable in these log files. It's just these error messages that are looped. Can't see anything interesting in dmesg either.

[2020-03-10 13:41] Comphix commented on #1272
Looks like hitting a similar condition which is tracked at https://github.com/spdk/spdk/issues/968.

Please take a look at there is a workaround and let us know if that workaround takes effect.

Thanks, Gang

[2020-03-10 14:34] tomzawadzki commented on #1269
@shuhei-matsumoto The fix you posted seems to get positive response from @wmalikow and @ksztyber.
If it fixes the issue, please close this issue after patch gets merged. Thank you for submitting the patch !

[2020-03-10 14:40] spdkci commented on #1264
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_5966.html

[2020-03-10 14:45] tomzawadzki commented on #1261
It looks like this might have been one time occurrence.
If it does not occur within week, lets close this issue.

[2020-03-10 14:54] tomzawadzki commented on #1259
@optimistyzy It does not look related to lvols. Part that you've posted is occurring on cleanup path. Original submission from @mikeBashStuff contains the first failure.

One part I'm unsure why would be occuring from the above log is:
[code]

[2020-03-10 15:02] jimharris commented on #1272
Bug scrub: This is almost certainly the same issue as #968.  Closing this issue.  You should be able to upgrade to v20.01, or apply the patch mentioned in issue #968.

[2020-03-10 15:02] #1272 closed

[2020-03-10 15:06] jimharris commented on #1271
Bug scrub:  This issue has been seen on multiple test runs since late last week.  Not 100% reproducible though.

[2020-03-10 15:08] ufo19890607 commented on #1272
It seems to be a same issue.  Users can set the IO queue size according to their specified controller. While I prefer to get a  thorough solution. Can we submit a issue to Intel NVMe team?

[2020-03-10 15:11] jimharris commented on #1266
Bug scrub: Version #2 of this patch had two identical failures on two different jobs (both related to bdevperf).  Strong suspicion this may not be CI-related, but rather the patch under test.  Subsequent changes to this patch did not produce any more failures.

Closing this issue - if we happen to see a similar failing signature again, we can reopen.

[2020-03-10 15:11] #1266 closed

[2020-03-10 15:13] jimharris commented on #1267
Bug scrub: We do not see this text in the log mentioned in the original description.

[2020-03-10 15:14] jimharris commented on #1267
Bug scrub: Further investigation from @tomzawadzki indicates this is a duplicate of #1227

[2020-03-10 15:14] #1267 closed

[2020-03-10 15:16] jimharris commented on #1265
Bug scrub: Both cases happened on GP15 and very closely together.  @karlatec confirms we have a cron job to monitor disk space but maybe needs to run more often.

Closing this issue since no disk space failures seen on GP15 since.

[2020-03-10 15:16] #1265 closed

[2020-03-10 15:20] jimharris commented on #1264
Bug scrub: @jimharris to investigate further.  Possible that the login has not taken full effect before fio.py runs "iscsiadm session".  But not clear why this issue would only start appearing now.

[2020-03-10 15:24] jimharris commented on #1259
Bug scrub: @tomzawadzki to take a further look

[2020-03-10 15:31] jimharris commented on #1272
We raised this issue with them, but they do not plan to fix it.

[2020-03-10 15:37] karlatec commented on #1271
Can't reproduce this issue on my system with Mellanox ConnectX Lx-4, but on nightly test system it reproduced on first try.

[2020-03-10 16:09] karlatec commented on #1271
Did a quick bisect using the same system that runs nightly tests and the first failing commit was:
52d8f11ea83034cac957baf007d111c5b0892806

[2020-03-10 16:10] jimharris commented on #1271
Thanks @karlatec.  @shuhei-matsumoto - could you take a further look?

[2020-03-10 17:55] jimharris commented on #1262
DPDK patch was merged to our spdk-19.11 branch.

https://review.spdk.io/gerrit/c/spdk/spdk/+/1217 moves the submodule to include this commit.

[2020-03-10 18:12] jimharris commented on #1263
https://review.spdk.io/gerrit/c/spdk/spdk/+/1219 removes the python2 references from spdk.spec.

[2020-03-10 21:37] mhae opened #1273 "NVMF: Intermittent SIGSEGV during hot remove"
Every 10th or so hot remove of actual NVMe devices causes a SIGSEGV.

It's caused by the admin qpair being 0x0:
[code]
Now the interesting part is that it doesn't always happen.

Here are some additional messages right before the abort:
[code]

I think the internal data structures are hosed. Here's some more debug info from another crash (this time with --enable-debug):
[code]

## Expected Behavio

[2020-03-10 22:10] shuhei-matsumoto commented on #1271
Hi @karlatec @jimharris

The difference I noticed is that
*  before the patch, bdev_close() is called after unwinding stack from bdev_io_complete()
*  after the patch, bdev_close() is  called in bdev_io_complete() without unwinding stack.

Each bdevperf is single CPU core configuration, bdev_close() is called only after target->current_queue_depth becomes zero. So, I have to investigate more.

Bes

[2020-03-11 00:38] gwnet commented on #1268
I feel our dump configuration is well. it can create dump for any other application.
[  +0.100624] a.out[115016]: segfault at 0 ip 0000000000400cb9 sp 00007ffc0fa8d320 error 4 in a.out[400000+2000]
[  +0.027640] nvmet: creating controller 40 for subsystem nqn.2014-08.org.nvmexpress.discovery for NQN 2014-08.org.nvmexpress:uuid:61be1139-894a-4425-b6e5-013bf3b37ae7.

ogden-smoke:/var/log/cores # ls

[2020-03-11 01:19] dacrespi opened #1274 "when running containerized SPDK target (running as the primary process,), secondary process fails."
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Running spdk v20.01 in a container.  This is started as the primary process with shmID:42.  When attempting to use the identify app (also shmID 42) to check a device that has been added to spdk, the identify command fails.
identify

[2020-03-11 01:27] peluse commented on #1274
Just to confirm that your container setup is working, were you able to run an SPDK app in a single container without issue?

[2020-03-11 01:28] dacrespi commented on #1274
Absolutely, been doing that for quite some time now.

Regards,
      David

(C) 714-476-2692

________________________________
From: Paul Luse <notifications@github.com>
Sent: Tuesday, March 10, 2020 6:27:40 PM
To: spdk/spdk <spdk@noreply.github.com>
Cc: David Crespi <david.crespi@storedgesystems.com>; Author <author@noreply.github.com>
Subject: Re: [spdk/spdk] when running containerized SPDK targ

[2020-03-11 02:08] shuhei-matsumoto commented on #1271
Hi @karlatec

Thank you for finding the patch which caused this failure and reproducing this failure.
Only from code inspection but I created two patches.
https://review.spdk.io/gerrit/c/spdk/spdk/+/1223
https://review.spdk.io/gerrit/c/spdk/spdk/+/1224

I hope 1223 fix this issue but I have no confidence yet. 1224 just came from diff of patches.

I will continue investigation regardless of your tr

[2020-03-11 02:50] optimistyzy commented on #1200
Keep watching this issue, the last error happened more than 20 days ago, if the same assert issue does not happen in one week, I will close this issue. @tomzawadzki  @changpe1 @shuhei-matsumoto

[2020-03-11 05:10] optimistyzy commented on #1096
Hi @jimharris,

For your consideration on cntlid may be the possibility, but in the code cntlid is generated by the logic in the same thread (and cntlid is linearly increased with a loop). I think it may be related qpair_mask which is not handled in the same thread, if you search "qpair_mask" in the code base.  I found that qpair_mask seems not all handled by the same thread "ctrlr->thread" . And

[2020-03-11 07:48] optimistyzy commented on #1101
This patch:  https://review.spdk.io/gerrit/c/spdk/spdk/+/1229 should be the right fix.

[2020-03-11 08:12] spdkci commented on #1252
Another instance of this failure. Reported by @jkalwas. log: https://ci.spdk.io/public_build/autotest-per-patch_6032.html

[2020-03-11 08:27] spdkci commented on #1096
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_6054.html

[2020-03-11 08:45] mikeBashStuff commented on #1260
Potential fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/1230

[2020-03-11 09:42] ryderhsu0129 commented on #1257
We bind the NVMe drive to uio_pci_generic driver,
and then run hot reset procedure via shell command lines as follow,
the reset procedure is complete and SSD drive doesn't drop.

but we run SPDK application like hello world example and inserted the same shell command lines,
the reset procedure is also complete but the SSD drive drop occurred immediately,
and error message is same as above attached

[2020-03-11 09:48] spdkci commented on #1208
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_5995.html

[2020-03-11 12:27] peluse commented on #1208
SOB.  This is also on the same VM that I think all others were reported on.  Will check it out

[2020-03-11 12:53] jimharris commented on #1208
@tomzawadzki did this last instance happen because the patch wasn’t rebased on top of Paul’s fix?  I noticed you posted this in Gerrit:

The FP would be fixed by rebasing on master from yesterday, but to prevent doing whole series through CI - just posted FP report.

[2020-03-11 12:58] peluse commented on #1208
@jimharris @tomzawadzki No it had the fix.  I downloaded the patch and confirmed before I re-opened :(

[2020-03-11 15:06] jimharris commented on #1244
https://ci.spdk.io/results/autotest-per-patch/builds/6083/archive/BlobFS-autotest/build.log

[2020-03-11 15:18] jimharris commented on #1096
Thanks Ziye.  I'm still trying to reproduce the original failure with this patch:

https://review.spdk.io/gerrit/c/spdk/spdk/+/1046

It removes the sleeps between test cases, which we think should make the problem occur more frequently.  The problem is that when the second process connects, it should get a new cntlid meaning a new qpair_mask as well.  The attached patch also adds some more debug p

[2020-03-11 15:27] peluse commented on #1208
thought I had a theory but no... will hold off until @tkulasek confirms rebase/retest - maybe I made a mistake pulling the patch down or something.

[2020-03-11 15:28] jimharris commented on #1257
Hi @ryderhsu0129,

In this case, can you share how you confirm SSD drive doesn't drop?  Do you mean that you can still see the NVMe device in sysfs directory?

This looks like a different test than the original reported issue against FLR.  Doesn't echo 1 to devices/$DEV/remove simulate a PCI hot removal?  If so, then you would need to reprobe the device in your application.

[2020-03-11 17:25] ryderhsu0129 commented on #1257
Hi @jimharris
We run the original hello_world example successful, so SSD drive shouldn't drop.
the error message will show the controller not found if SSD drive already dropped.

the shell script simulate a hot reset procedure, we already confirm it's work by SSD firmware log.
SSD drive can be reprobe via last step "echo 1 >  /sys/bus/pci/devices/$PORT/rescan"

if we run script directly after bind

[2020-03-11 23:42] shuhei-matsumoto commented on #1271
@karlatec

I could not reproduce the issue locally but I hope https://review.spdk.io/gerrit/c/spdk/spdk/+/1223 changes the behavior and fix the issue. Will you try it on nightly system?

[2020-03-12 02:14] changpe1 commented on #1257
@ryderhsu0129 I believe I get your issue now, the reason is that the hotplug monitor is disabled by default(which I think it's enabled by default previously).

Here is my steps:
1) app/nvmf_tgt/nvmf_tgt -L nvme
2) $rpc_py bdev_nvme_set_hotplug -e
3) $rpc_py bdev_nvme_attach_controller -b Nvme0 -t PCIe -a b2:00.0
4) echo 1 >/sys/bus/pci/devices/0000:b2:00.0/remove
You can find that the controller i

[2020-03-12 03:10] ryderhsu0129 commented on #1257
@changpe1
thanks for your reply.

so it seems the key step is to enable hotplug monitor, how should we open it on our application?
we inserted different reset test in nvme hello_world example,
we expect the controller can be add back after doing any reset.

[2020-03-12 03:58] changpe1 commented on #1257
You can call spdk_nvme_probe() every a few microseconds, e.g. 1000 us to trigger the hotplug feature, or take modules/bdev/nvme/bdev_nvme.c bdev_nvme_hotplug() as an example.

[2020-03-12 04:09] jimharris commented on #1274
@peluse - would you have a chance to try to reproduce this?  if you can, we should be able to get to the bottom of this pretty quickly I think

[2020-03-12 04:11] jimharris commented on #1273
I'll take a look at this - will probably have some patches for you to try.

[2020-03-12 04:51] jimharris commented on #1273
Hi @mhae - we never set the ctrlr->admin_qpair to NULL.  Which leads me to believe that the ctrlr has actually been freed while the bdev layer was performing a reset operation.  Could you instrument spdk_nvme_detach()?  I'm curious if we see this getting executed prior to the crash.

[2020-03-12 07:03] dong-liuliu commented on #1274
hi, @dacrespi
Previously, Paul did a great start for SPDK community on running SPDK inside container. Here is the SPDK in container document [link](https://spdk.io/doc/containers.html#spdk_in_docker).

Following Paul documented steps, I verified your situation but using `spdk_tgt` with two NVMe disk. `identify` run well on host.
Here is my docker cmd following your case:
[code]

So can you have a

[2020-03-12 07:13] changpe1 commented on #1252
The error is in dmesg.log, from dmesg.log, there is a page allocation failure, so we may look at log here, there is some XFS/EXT4/BTRFS auto check, I'm wondering it's caused by we didn't zero the bdev, so it contains the old information, need to check the test scripts.

[89158.857459] rdma_rxe: already configured on ens4
[89190.901901] nvme nvme108: creating 8 I/O queues.
[89190.980270] nvme nvme1

[2020-03-12 07:19] karlatec commented on #1271
Hey @shuhei-matsumoto
Sorry, I was out of office yesterday. Just tested you patches on the nightly system. I cherry-picked them on top of current master branch.
Unfortunately they do not fix the issue.

Sorry  for inconvenience. If you have anything new to test then ping me here or on Slack and I'll run it manually.

Thanks Shuhei!

[2020-03-12 07:29] shuhei-matsumoto commented on #1271
@karlatec

Thank you so much! Got it. I'm still investigating and will let you know if I create any patch to give you.

[2020-03-12 07:43] changpe1 commented on #1252
Another one: https://ci.spdk.io/results/autotest-per-patch/builds/6163/archive/nvmf-tcp-autotest/index.html

[2020-03-12 08:00] ryderhsu0129 commented on #1257
@changpe1

We did some experiments, and the updated results are as follows:

1. we did hot reset (attached script) without doing reprobe to trigger hotplug feature,
we found that driver will be automatically switched back to linux nvme and SSD drive doesn't drop.
Do you know why the driver switching happened?

2. we did FLR/NSSR(first post attached) with doing reprobe to trigger hotplug feature,
r

[2020-03-12 08:19] changpe1 commented on #1252
OK, this should only related with kernel page allocation failure.

[89190.996918] kworker/u16:2: page allocation failure: order:4, mode:0x40dc0(GFP_KERNEL|__GFP_COMP|__GFP_ZERO), nodemask=(null),cpuset=/,mems_allowed=0

[2020-03-12 08:26] changpe1 commented on #1257
From your description, I think the behavior is expected from my side, the SPDK application will not add the detached drive back automatically. For FLR case, I think there is a remove uevent is captured by SPDK, so SPDK will detach the drive first and then add it back later, what's your requirement? Is a controller reset can meet your requirement if you don't want a drive drop ?

[2020-03-12 09:12] ryderhsu0129 commented on #1257
@changpe1

We hope the drive doesn't drop after doing various reset, so that we can continue to do other operations to drive, we have tried to do controller reset and it's work, but it seems FLR/NSSR will happen drive drop.
thanks for helping to clarify.

[2020-03-12 10:15] shuhei-matsumoto commented on #1271
Hi @karlatec

Will you try https://review.spdk.io/gerrit/c/spdk/spdk/+/1246 if you can?

I want to know if inserting time gap between bdevperf starts change the behavior

[2020-03-12 12:04] karlatec commented on #1271
@shuhei-matsumoto I ran this about 10 times. bdev_io_wait test passed every time.
I also ran the whole nvmf-phy-autotest routine on this system (without nightly though, to save time) and it failed at nvmf_shutdown_tc1 test case:

[code]

So once again it failed at bdevperf start, but this time in another test case.

[2020-03-12 13:04] peluse commented on #1274
@jimharris @dong-liuliu I'll get on it this week and let you know how it goes...

[2020-03-12 13:44] spdkci commented on #1208
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_6235.html

[2020-03-12 13:57] peluse commented on #1208
Hmmm, more AIO and nearly all of them on are Ubuntu18. Debug continues...

[2020-03-12 14:01] darsto commented on #1158
I'm not sure what was the final verdict here. I'll just share my view.

I don't think we need to be apparmor-aware in this case. The easiest solution here is just `# apt purge apparmor`. If someone wants to use apparmor - let him go for it, but we dont have to.

[2020-03-12 14:11] darsto commented on #1244
The patch above simply wasn't rebased. Closing again ;)