[2021-09-03 08:02] USTCqzy commented on #2120
@rafalste
"Moreover, OCF caching only makes sense to some extent, until your processing power is enough to handle your device's performance. It is a matter of balance between those two. In case of such fast device like RAM disk, processing power should be ridiculously high to keep up with the disk performance."

Maybe there is no such problem here, considering of cpu usage.
![image](https://user-i

[2021-09-03 08:20] #2141 closed

[2021-09-03 08:32] tomzawadzki commented on #2140
Proposed fix https://review.spdk.io/gerrit/c/spdk/spdk/+/9387

[2021-09-03 11:12] tomzawadzki opened #2144 "[blobstore] cluster can be used by multiple threads before md persist finishes"
# Bug report

Reported by Guoju Fang on [Slack](https://spdk-team.slack.com/archives/CPE6P8LHJ/p1628042888009800), copying here to not lose the message due to Slack's message limit.

<details><summary>Original report</summary>
<p>

</p>
</details>

## Expected Behavior

## Current Behavior

While cluster or extent is being allocated and md persist is not yet finished, other threads can already use

[2021-09-03 14:03] KKaras169169 commented on #2053
@ChengqiangMeng I have prepared a small [patch](https://review.spdk.io/gerrit/c/spdk/spdk/+/9389) to help with debugging of this issue. Could you apply it on your end and tell me if your application stops on an assert? Additionally I have disabled a few function calls to get rid of the border lines - if spdk_top performs OK without them, then I'll need to manually add those lines instead of relyin

[2021-09-03 21:44] spdkci commented on #2128
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_57530.html

[2021-09-05 01:50] gaowayne opened #2145 "failed to create one simple SPDK app following hello_bdev with CMakeLists.txt to build it"
# Bug report

I want to use CMakeLists and cmake to build my simple hello_bdev example SPDK app application. But I suffer the link error related with SPDK app framework event core code even I am pretty sure I add spdk_event into CmakeLists.txt file.

## Expected Behavior

I can build my simple SPDK example app with Cmakelists.txt.

## Current Behavior

the link error is below
[code]

## Possible S

[2021-09-05 06:55] adamagniv commented on #2122
after messing around with the fio file I use I found out that when **decreasing the blocksize** in the fio file I am able to **increase the iodepth**, for example when changing from blocksize = 1M to 512B I was able to run the test with iodepth <= 8 instead iodepth <= 2.
It seems like spdk_bdev allocates a pool of data to write in some way and I exhaust it when changing the iodepth parameter.

@Al

[2021-09-05 07:07] shuhei-matsumoto commented on #2081
Hi All,

Sorry for my delayed response.
I noticed a common signature in dmsg. log for the reported cases.

[  584.447248] nvme nvme1: Reconnecting in 10 seconds...

For some reason, connection was lost and reconnecting was scheduled after 10 seconds.
10 seconds is the default value.
However, I set the timeout to 3 seconds.

I propose extending the timeout to 20 seconds to cover this case.
For most

[2021-09-05 09:50] gaowayne commented on #2145
hello guys, I have fixed the build issue by modify CMakeLists.txt file sequence and static link and dynamic link. when running. I found another error, SPDK register macro is not built into my application, that cause it failed to init scheduler list.

SPDK_SCHEDULER_REGISTER(scheduler);

/*
 * Macro used to register new reactor balancer.
 */
#define SPDK_SCHEDULER_REGISTER(scheduler) \
static void

[2021-09-05 10:39] shuhei-matsumoto commented on #2081
All reported failures were nvmf-tcp-uring-autotest so far. We may have any transport specific cause about connection loss while ANA states are changed.

[2021-09-05 13:03] gaowayne commented on #2145
I adjust CMakelists.txt. now schedule is registered well now. but bdev malloc RPC method cannot be registered.

SPDK_RPC_REGISTER("bdev_malloc_create", rpc_bdev_malloc_create, SPDK_RPC_RUNTIME)

[root@cyp03 build]# nm hello_boostasio | grep rpc_bdev_malloc_create
[root@cyp03 build]#

[root@cyp03 examples]# nm hello_bdev | grep rpc_bdev_malloc_create
0000000000408255 t rpc_bdev_malloc_create
000000

[2021-09-05 14:38] jimharris commented on #2145
Please consider using pkg-config to generate your list of libraries. https://spdk.io/doc/pkgconfig.html

You may also try pretending Q= to the SPDK make line to compare your cmake build with what SPDK build system is linking.

[2021-09-06 02:00] ChengqiangMeng commented on #2053
@KKaras169169 I tested it with this patch and it worked fine. And the display effect is better than before. Thread details also will not be cached on the screen. Just no lines.

[2021-09-06 04:52] Comphix commented on #2142
error 19 is no such device
#define ENODEV      19  /* No such device */

I am not sure about the "-C None" parameter based on below nvme discover command usage.
https://www.mankier.com/1/nvme-discover

Also, could you also try other internal IP address like 192.168.0.1?

[2021-09-06 04:53] yidong0635 commented on #2106
@changpe1 @jimharris  @Comphix  @ZivHirsch13  I have a patch to reproduce this issue, https://review.spdk.io/gerrit/c/spdk/spdk/+/9386 . I ran this locally also . but can't reproduced until now.
Maybe there are some improvements about these reproduced steps.

[2021-09-06 04:54] Comphix commented on #2065
@antroseco , any feedback on this issue?

[2021-09-06 05:35] Comphix commented on #2062
Looks like we have several patches for the nvme/tcp async operations are merged.

[2021-09-06 05:43] changpe1 commented on #2106
Thanks Yidong, if can't reproduce this issue, maybe we can change the `spdk_dma_zmalloc` with `calloc` as a workaround, I don't see any reasons that the `tqpair->pdus` should use dma memory.

[2021-09-06 06:12] AlekseyMarchuk commented on #2145
@gaowayne The missing symbol `rpc_bdev_malloc_create` is used in constructor function and probably it was ignored by the linker. SPDK docs say that when static libraries are linked, it is needed to use ` -Wl,--whole-archive` linker option. Please refer to https://spdk.io/doc/libraries.html

[2021-09-06 07:49] JiangMaox commented on #2126
Update centos7 kernel version to 5.4, nvme connect run succucessfully. Maybe old kernel version caused panic.

[2021-09-06 07:49] #2126 closed

[2021-09-06 08:11] mikeBashStuff commented on #2060
@jimharris Sounds like a good idea, will try to get it done this week.

[2021-09-06 10:21] #2137 closed

[2021-09-06 10:28] KKaras169169 commented on #2053
@ChengqiangMeng I have submitted a [patch](https://review.spdk.io/gerrit/c/spdk/spdk/+/9400) changing the way we display border lines. I would appreciate if you could apply it on your side and see if you still run into these display issues.

[2021-09-06 10:53] kevinnikki commented on #2142
the parameter '-C none' doesn't affect results of 'nvme discover'. It means the nvme-cli won't find a file from the path '/etc/nvme/config.json'.You can find the details in 'fabrics.c' from nvme-cli source code.I haven't try other ip but i found that the 'nvme connect' command works, i can connect this nvme-oF target but can't discover it.

[2021-09-06 11:38] AlekseyMarchuk commented on #2055
Thanks for your feedback @MattDumm I was on vacation last week, going to continue working on this issue

[2021-09-06 12:36] mikeBashStuff opened #2146 "runtime error: load of null pointer of type 'spdk_nvme_ana_state' during nvmf_multipath test"
https://ci.spdk.io/results/autotest-per-patch/builds/57619/archive/nvmf-phy-autotest/build.log

Point of failure:
[code]

[2021-09-06 12:39] spdkci commented on #2146
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_57619.html

[2021-09-06 14:11] antroseco opened #2147 "NVMe driver: admin queue does not update shadow doorbells"
# Bug report

## Expected Behavior

When the host submits a command to the admin queue, it should update the admin queues shadow doorbell (if configured).

In the NVMe 2.0a Base Specification, Figure 167 clearly shows the admin queue doorbells whilst §B.5.1 states that

## Current Behavior

SPDK will correctly update the shadow doorbells of all IO queues, but not the shadow doorbells of the admin

[2021-09-06 15:08] antroseco commented on #2065
Sorry for the delay. Re-tested this with the latest SPDK master and it looks like this issue has been fixed; the guest no longer crashes. I'll close the issue.

[2021-09-06 15:08] #2065 closed

[2021-09-07 02:54] ufo19890607 commented on #2135
ping~

[2021-09-07 06:10] shuhei-matsumoto commented on #2146
Hi @mikeBashStuff Thanks for registering this issue. I will investigate.

[2021-09-07 06:14] ksztyber commented on #2146
I think this patch might fix this: https://review.spdk.io/gerrit/c/spdk/spdk/+/9237

[2021-09-07 06:19] spdkci commented on #2102
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_57692.html

[2021-09-07 06:21] ChengqiangMeng commented on #2053
@KKaras169169 It may not help the issue, the display cache still exists.
And I found a phenomenon as shown in the picture：
![b](https://user-images.githubusercontent.com/77378851/132293900-dfcbdd34-7ac2-4f36-834b-d4ab47c4bc8b.png)
When I press `2` or `3` twice, the green square will move from the right to the left. I'm not sure that will help you. This is just a strange phenomenon about the displa

[2021-09-07 06:30] shuhei-matsumoto commented on #2146
Hi @ksztyber

Thanks for the patch! Looks fine to me but my patch to give ANA state to finer granularity, per ANA group per subsystem listener were merged first. So will you rebase your patch onto the latest master?

[2021-09-07 06:35] KKaras169169 commented on #2053
@ChengqiangMeng since we now know that those functions responsible for drawing borderlines are probably the cause (because spdk_top was working fine with this [patch](https://review.spdk.io/gerrit/c/spdk/spdk/+/9389)), could you try debugging it on your end (or just comment out the changed lines from this [patch](https://review.spdk.io/gerrit/c/spdk/spdk/+/9400) one by one and launch spdk_top unti

[2021-09-07 06:38] ChengqiangMeng commented on #2053
@KKaras169169 Ok, I will try to debug and feedback to you.

[2021-09-07 06:43] spdkci commented on #2128
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_57698.html

[2021-09-07 07:07] mikeBashStuff opened #2148 "nvmf_multipath (host) test fails to count proper amount of controller resets"
[code]

[code]

I haven't seen this happening in the CI pool under per-patch jobs so far, but it can be reproduced quite often locally on one of the systems that was recently taken out from the said pool.

[2021-09-07 07:26] spdkci commented on #2128
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_57707.html

[2021-09-07 07:46] #2097 closed

[2021-09-07 08:17] ChengqiangMeng commented on #2053
@KKaras169169 I found that deleting the left line( `mvwvline(tab, 1, 0, ACS_VLINE, tab_height);` ) of `draw_tabs` function, display caching does not happen.

[2021-09-07 09:07] AlekseyMarchuk commented on #2055
@MattDumm I updated this patch https://review.spdk.io/gerrit/c/spdk/spdk/+/8963
In the latest version I a bit reworked how controller is destroyed - previously we started to destroy the controller when the last qpair was active (just before destroy the qpair) but now we destroy the controller when the last qpair finishes the disconnect process. It should remove the raise condition that you mention

[2021-09-07 09:10] ksztyber commented on #2148
I think it's already tracked under #2128.

[2021-09-07 09:10] #2148 closed

[2021-09-07 11:20] KKaras169169 commented on #2053
@ChengqiangMeng thanks for checking! I will post a patch disabling this line and hopefully this will be enough to fix the issue.

[2021-09-07 11:21] spdkci commented on #2041
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_57735.html

[2021-09-07 11:24] karlatec opened #2149 "[nvmf-phy-autotest] Disable unnecessary messages and reduce log size"
## Current Behavior

Not really a bug, but rather a nuisance with nvmf test build logs.
Some of the tests in spdk/test/nvmf result in a LOT of what seems to be unnecessary output which results in bloating the build.log file.

Typically for all nvmf test job flavors this file has ~2MB size, while for nvmf-phy-autotest (RDMA test with MLX NIC) this goes up to even ~10MB.

![image](https://user-image

[2021-09-07 11:51] KKaras169169 commented on #2053
@ChengqiangMeng  I have prepared a [patch](https://review.spdk.io/gerrit/c/spdk/spdk/+/9415) deleting the vertical border lines inside tab window. Could you check it one more time on your side? If the issue was caused only by the left line, the spdk_top should work fine with this patch.

[2021-09-07 11:56] tomzawadzki commented on #2073
Patches fixing the issue have been merged https://review.spdk.io/gerrit/c/spdk/spdk/+/9250.

[2021-09-07 11:56] #2073 closed

[2021-09-07 12:05] mikeBashStuff opened #2150 "nvme_hotplug test may fail to execute binaries copied over to incompatible VM"
This test copies binaries and libraries built on the host side over to the test VM and then attempts to execute `build/examples/hotplug` inside the VM. This assumes that the VM image used for the test holds a compatible distro lib|bin-wise with the host. If that's not the case, then the test will simply fail as the copied binary won't be able to execute, e.g. in case of incompatible libc version o

[2021-09-07 12:44] AlekseyMarchuk commented on #2122
@adamagniv fio allocates memory a big chink of memory using engine operations and than divides this pool between IO requests. Bdev layer memory pool is not used in this case.

The error "Work Request Flushed Error" that you see means that the qpair is in error state and all posted but not completed rdma Work Requests are flushed to the CQ. That is normal behavior when qpairs are disconnected. (I'm

[2021-09-07 12:48] spdkci commented on #2118
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_57762.html

[2021-09-07 12:49] shuhei-matsumoto commented on #2146
https://review.spdk.io/gerrit/c/spdk/spdk/+/9237

[2021-09-07 13:01] KKaras169169 commented on #2115
I have found a few things while comparing the builds sizes:

with configuration:
./configure --enable-debug --enable-werror --with-rdma --with-idxd --with-iscsi-initiator --with-nvme-cuse --with-pmdk --with-reduce --with-rbd --with-crypto --with-ocf --enable-ubsan --enable-asan --with-fuse --with-raid5 --without-shared
(I had to disable coverage, because I got errors with llvm library)

branch spd

[2021-09-07 13:28] karlatec commented on #2150
Yup, that's totally the case. I confirm.
As per our IM conversation and what you suggested - we can try running the test on the physical host and do detach/attach on the PCI bus. Sounds good to me.

[2021-09-07 13:39] tomzawadzki commented on #1591
@gwnet please reopen with additional details if the issue is still relevant for you.

[2021-09-07 13:39] #1591 closed

[2021-09-07 13:42] tomzawadzki commented on #1703
@wanqunintel please reopen the issue providing more details, if the issue is still relevant for you.

[2021-09-07 13:42] #1703 closed

[2021-09-07 14:04] ksztyber opened #2151 "[ocf/integrity/fio-modes.sh] error writing '/dev/nvme0n1': Operation not supported"
This might not be related to OCF, but it happened on one of the OCF tests. Seems like the step which clears the first 1GB worth of data on an nvme drive failed with `ENOTSUP`. The drive is using kernel NVMe driver at this point, so the problem probably has something to do with the driver or the disk itself (or maybe our scripts?).
[code]

## Link to the failed CI build

https://ci.spdk.io/results/

[2021-09-07 14:05] spdkci commented on #2151
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_57752.html

[2021-09-07 14:07] spdkci commented on #2146
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_57779.html

[2021-09-07 14:07] jimharris commented on #2115
maybe we should consider using shared library builds on systems with crypto enabled?

[2021-09-07 14:20] mikeBashStuff commented on #2151
This happened on a node (SM11) which was connected to the production pool by mistake - currently it's being used under different jenkins instance for other tests and they most likely stepped on autotest's toes.

[2021-09-07 14:22] tomzawadzki commented on #1802
As of latest SPDK (containing https://review.spdk.io/gerrit/c/spdk/spdk/+/7119/) this is no longer an issue. @jkalwas Please let us know if the result is satisfactory.

[2021-09-07 14:41] tomzawadzki commented on #1999
Not observed for over a month, closing.

[2021-09-07 14:45] tomzawadzki commented on #2047
Not observed for over a month, closing.

[2021-09-07 14:49] tomzawadzki commented on #2069
Patch fixing this issue has been merged https://review.spdk.io/gerrit/c/spdk/spdk/+/9115.

[2021-09-07 14:49] #2069 closed

[2021-09-07 14:54] spdkci commented on #2146
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_57787.html

[2021-09-07 15:04] tomzawadzki commented on #1989
[Bug scrub] Has the issue been root caused, outside of occurring with batched APIs ?

[2021-09-07 15:15] tomzawadzki commented on #2115
[Bug scrub] Suggestion from Jim is the right one, currently 3 jobs use --without-shared and there is no need to do so. @KKaras169169 will take a look at using shared build on clang job.

[2021-09-07 15:21] tomzawadzki commented on #1997
[Bug scrub] There is not much SPDK can do for this scenario. The build has to targeted towards the minimum (older) architecture to work, then possible enhancement could be to add multi function versioning for newer architectures.

[2021-09-07 15:21] #1997 closed

[2021-09-07 15:25] tomzawadzki commented on #2030
[Bug scrub] The issue has not occurred for couple months.

[2021-09-07 15:25] #2030 closed

[2021-09-07 15:28] spdkci commented on #2146
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_57793.html

[2021-09-07 15:30] tomzawadzki commented on #1988
[Bug scrub] Before providing the CI vote on the patch, the files on AWS could be checked against the Jenkins artifacts. @karlatec Will take a look at tackling this.

[2021-09-07 15:40] tomzawadzki commented on #2102
[Bug scrub] Log from @matthewburbridge looks similar, but occurred in different test than the original one. Let's close this one, and if the other one is need a new issue should be opened.

[2021-09-07 15:40] #2102 closed

[2021-09-07 15:44] tomzawadzki commented on #2127
[Bug scrub] This issue has literally no logs to go off of unfortunately. There has been no occurrence outside of the single one, let's close it.

[2021-09-07 15:44] #2127 closed

[2021-09-07 15:50] ksztyber commented on #2151
Thanks @mikeBashStuff. In that case, I think we can close this one.

[2021-09-07 15:50] #2151 closed

[2021-09-07 16:13] spdkci commented on #2128
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_57801.html

[2021-09-07 17:37] spdkci commented on #1863
Another instance of this failure. Reported by @tomek82. log: https://ci.spdk.io/public_build/autotest-per-patch_57246.html

[2021-09-07 21:17] shuhei-matsumoto commented on #2128
https://ci.spdk.io/results/autotest-per-patch/builds/57728/archive/nvmf-phy-autotest/build.log

[2021-09-07 21:21] spdkci commented on #2146
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_57756.html

[2021-09-07 21:23] jimharris commented on #2062
Yes, and the rest of the series is here: https://review.spdk.io/gerrit/c/spdk/spdk/+/8607

Honestly, I think the parts of the series that we really need for async spdk_sock_connect have already been merged.  @winglq are you interested in moving this forward in upstream SPDK?

[2021-09-08 00:47] MattDumm commented on #2055
Hi @AlekseyMarchuk -
I'm having some trouble using the fix. I get a crash toward the end of init, in spdk_nvmf_poll_group_remove() where it is trying to use the qpair pointer for the "TAILQ_FOREACH(tgroup, &qpair->group->tgroups, link)". The qpair pointer at that point is bad, and it segfaults.

#0  0x000000000051b752 in spdk_nvmf_poll_group_remove (qpair=qpair@entry=0x6120000616c0) at nvmf.c:1038

[2021-09-08 00:58] ChengqiangMeng commented on #2053
@KKaras169169 The spdk_top now works normally with this [patch](https://review.spdk.io/gerrit/c/spdk/spdk/+/9415). Thanks for your fix!

[2021-09-08 09:36] winglq commented on #2062
I am happy to contribute. Please guide me on how to move this forward and I hope there is no urgent time goal.
Thanks.

[2021-09-08 10:53] ksztyber commented on #2146
Patch was merged: 1c81d1afa2a99e6b2bc7cc46c860c232a6bbb843

[2021-09-08 10:53] #2146 closed

[2021-09-08 11:02] Comphix commented on #2062
Thanks @winglq , you could follow below link to contribute the patch.

https://spdk.io/development/

[2021-09-08 12:20] mikeBashStuff commented on #2060
@jimharris
Ok, bisecting between 5.13.x and 5.14 was no good since up to that release git was able only to return a range of commits (~300) where potential fix resides without giving any hints which one it may actually be. With that in mind, I checked each rc commit for 4.14 and then bisected against first faulty one and the working rc. Results below:

[code]
So based on the above I checked out to

[2021-09-08 12:20] #2060 closed

[2021-09-08 12:39] spdkci commented on #2146
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_57848.html

[2021-09-08 13:24] wawryk commented on #2113
@optimistyzy
sorry for my late response but I had few vacation days :)

Can You tell me how to check this:
[code]
and, how can I use `you should use another value 3 for placement id` for fio plugin on initiator side ?

[2021-09-08 17:34] peluse opened #2152 "[nvmf_multipath] *ERROR*: CQ transport error -6"
First sign of failure that I can see:

00:09:39.323  EAL: No free 2048 kB hugepages reported on node 1
00:09:39.323  EAL: No available 1048576 kB hugepages reported
00:09:39.323  TELEMETRY: No legacy callbacks, legacy socket not created
00:09:39.323  [2021-09-08 19:18:38.626104] app.c: 541:spdk_app_start: *NOTICE*: Total cores available: 1
00:09:39.323  [2021-09-08 19:18:39.119277] reactor.c: 939:

[2021-09-08 17:35] spdkci commented on #2152
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_57928.html

[2021-09-08 18:00] jimharris commented on #2152
Looks like a duplicate of #2128.

[2021-09-08 18:00] #2152 closed

[2021-09-08 18:04] spdkci commented on #2128
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_57826.html

[2021-09-08 21:01] jimharris commented on #2060
Agree with closing this issue.  Thanks @mikeBashStuff for all of the bisection work on this - glad to know we have a rock solid root cause and fix for this issue.

[2021-09-08 23:43] jimharris commented on #2135
The reason this RPC was added was to help the case where one vCPU was receiving too many interrupts from the vhost backend and wasting CPU cycles.  The vCPU would get an interrupt, schedule some completion processing, then while that completion processing was happening, it would get another interrupt.  This significantly reduced the amount of time the vCPU could do that actual completion processin

[2021-09-09 00:48] MattDumm commented on #2055
A quick update: I found the issue causing my crash, and it was a merge problem which happened because our 21.04 base has diverged from upstream master. Two noteworthy commits were b503ef4fa0 and 103f5c62f5, both impacting the same area we're looking at for this fix...  it left my 21.04 "fixed" version with 2 calls to spdk_nvmf_poll_group_remove() in our path instead of one, and crashed there.
When

[2021-09-09 01:55] spdkci commented on #2118
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_57960.html

[2021-09-09 05:05] changpe1 commented on #2147
There is no specific reason for that, just because ADMIN commands will not be sent from VM for most of the time.

[2021-09-09 05:26] changpe1 commented on #2130
patch to fix it https://review.spdk.io/gerrit/c/spdk/spdk/+/9372

[2021-09-09 06:31] adamagniv commented on #2122
@AlekseyMarchuk, thank you.
regarding the possibility it has something to do with the target, I agree. I gathered tcpdumps from 2 scenarios I where it works and iodepth = 8, and one that fails where iodepth = 9. in both we send 8KB of data to 1 bdev, blocksize = 512B.

[spdk_iodepth.zip](https://github.com/spdk/spdk/files/7133961/spdk_iodepth.zip)
in the zip file you'll find the pcap files and the

[2021-09-09 07:02] adamagniv commented on #2122
@AlekseyMarchuk, so I applied the patch the output is as seen below:
[code]

with those prints I see that the 3rd io queue is opened after the test fails, so it has nothing to do with the problem in my opinion. Also, I see that the queue depth we get from the target is always 15 which explains my comment from before:

[2021-09-09 12:02] ufo19890607 commented on #2135
Hi, Jim
It sounds like that coalescing feature can be used only on per-queue basis rather than multi-queue basis.  But most of vhost_blk targets in the cloud environment are equipped with muti-queue, so I think limiting the number of interrupts for vhost-blks using coalescing will be a mainstream demand.

What was worse,  just as you said, if the IO/s rate is set to low, and/or the IRQ delay time

[2021-09-09 17:15] jimharris commented on #2135
Hi Wind,

Coalescing will still work with multi-queue virtio devices.  For example, if the virtio device has 4 virtqueues, and each virtqueue exceeds the IO/s rate specified by the RPC, then coalescing will be enabled for every virtqueue.

It would be better not to add a second coalescing RPC that is per-device.  The existing per-queue RPC should be sufficient.  If there is a specific workload or

[2021-09-09 17:25] jimharris commented on #2130
Patch merged.

[2021-09-09 17:25] #2130 closed

[2021-09-10 03:34] shuhei-matsumoto opened #2153 "Performance of NVMe-TCP target does not reach our expectation for two ports configuration"
# Bug report

We evaluated the performance of 256KB seq. read for NVMe-TCP between the Linux kernel initiator and
the SPDK target on a smart NIC.

By increasing both max_io_size and io_unit_size to 256KB, we got 22 Gb/s for one port configuration,
but only 25 Gb/s for two ports configuration. Our target is 32 Gb/s for two ports configuration.

## Expected Behavior

32 Gb/s for two ports configurat

[2021-09-10 04:29] optimistyzy commented on #2153
In this page: https://spdk.io/doc/iscsi.html (Though it is described in iscsi). Can you check the following setting:

Recommended changes to /etc/sysctl.conf

net.ipv4.tcp_timestamps = 1
net.ipv4.tcp_sack = 0
net.ipv4.tcp_rmem = 10000000 10000000 10000000
net.ipv4.tcp_wmem = 10000000 10000000 10000000
net.ipv4.tcp_mem = 10000000 10000000 10000000
net.core.rmem_default = 524287
net.core.wmem_defaul

[2021-09-10 11:03] xjjx opened #2154 "autotest.sh leaves processes after test failure"
# Bug report

Sometimes when test fail autotest.sh leaves active processes on machine.
For example for CI job nvmf-phy-autotest:
root      541528       1 99 Sep08 ?        4-03:30:20 /var/jenkins/workspace/nvmf-phy-autotest/spdk/build/bin/nvmf_tgt -i 0 -e 0xFFFF -m 0xF

or for CI job "nvme-phy-autotest"
root     1241112       1  2 12:27 ?        00:00:34 qemu-system-x86_64 -daemonize -display none

[2021-09-11 04:36] ufo19890607 commented on #2135
Hi Jim,

We have different opinions for this point. I think coalescing is used to limit the IO threshold for a whole device rather than each virtqueue.

I do need an coalescing RPC that is per-device in the cloud environment. SPDK should not limit the IOPS for a vhost-blk target when users run some sensitive IO workload in the VM, but if users want to get the highest IOPS for each NVMe device, SPD

[2021-09-13 07:58] wawryk commented on #2113
@optimistyzy
when adq is enabled only on target side it works fine

[2021-09-13 14:38] peluse commented on #1939
@ericcurtin any movement on this? Just curious, someone was asking about the feature on Slack

[2021-09-13 21:50] Davido71 opened #2155 "Make install not coping DPDK .so files."
# Bug report

For SPDK version 21.07 with shared is enabled, running make install copies all the SPDK .so files to /usr/local/lib but not any of the DPDK files. Previous version (v21.07) I was able to cd into DPDK directory and run sudo make install.

## Expected Behavior

All .so files and soft links (libspdk* and  librte*) should be installed to /usr/local/lib directory

## Current Behavior

Onl

[2021-09-13 21:57] peluse opened #2156 "[fio_dif_digest] Invalid datao (error message from nvme_tcp_c2h_data_hdr_handle)"
:37.006  EAL: No free 2048 kB hugepages reported on node 1
00:11:37.007  EAL: No available 1048576 kB hugepages reported
00:11:37.011  TELEMETRY: No legacy callbacks, legacy socket not created
00:11:37.170  [2021-09-13 23:42:50.004355] accel_engine.c:1016:spdk_accel_engine_initialize: *NOTICE*: Accel engine initialized to use software engine.
00:11:38.592  [2021-09-13 23:42:51.425854] nvme_tcp.c:1

[2021-09-13 21:59] spdkci commented on #2156
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_58141.html

[2021-09-14 00:08] yidong0635 commented on #2155
Got failures as above steps:  commit:e91d7428f9968d9e208b1994cc67a71e597abf6d
cc: error: /home/spdk/build/lib/libspdk_event_scheduler.so: No such file or directory
make[4]: *** [/home/spdk/mk/spdk.lib.mk:108: /home/spdk/build/lib/libspdk_event_iscsi.so.3.0] Error 1
make[3]: *** [/home/spdk/mk/spdk.subdirs.mk:44: iscsi] Error 2
make[2]: *** [/home/spdk/mk/spdk.subdirs.mk:44: subsystems] Error 2
mak

[2021-09-14 07:59] optimistyzy commented on #2156
same with #2098

[2021-09-14 08:11] yidong0635 commented on #2155
sometimes,
Using 1. make clean.
           2. ./configure --with-shared
           3. make (not make -j)  compiling reports error as issue described.
 if compiles successfully:
DPDP libs such as librte_*.so will not be copied  to /usr/local/lib.

[2021-09-14 08:26] ericcurtin commented on #1939
Hi Guys,

I just heard from him he messaged. Sorry I should have dropped a note on this sooner. I left the storage industry to take up an opportunity in the automotive industry, so my focus has been more on that and finishing my masters thesis ever since.

So:

https://github.com/ericcurtin/spdk/tree/tls_support

is where I left it. I was running target.sh and host.sh scripts to test. It connects

[2021-09-14 09:20] yidong0635 commented on #2106
Are there any different ideas about this issue?. If not, just change the code according to @changpe1 's idea. @jimharris @Comphix @ZivHirsch13 .

[2021-09-14 09:38] jlevon commented on #2147
@benlwalker we're curious about the spec on this issue. Neither Linux nor spdk seems to follow the spec here, and it seems like we're forced to not follow it too

[2021-09-14 12:36] karlatec opened #2157 "NVMe-oF fio bdev initiator process does not shutdown"
## Current Behavior

For some time NVMe-oF performance regression tests have been broken due to fio initiator freezing / not shutting down.
There are no related dmesg logs and no SPDK logs available, as SPDK does not run in debug mode.

It is visible though, that the fio initiator after finishing the workload gets stuck and continues to print infinite ETA:
[code]

Bisecting the issue indicates 771

[2021-09-14 12:38] karlatec commented on #2157
As mentioned - reproduction steps are not very useful, but I included what I have to at least give an overview what's happening. I'll try to prepare some better steps and maybe include debug/trace messages if possible.

[2021-09-14 12:38] KKaras169169 commented on #2115
This [patch](https://review.spdk.io/gerrit/c/spdk/spdk/+/9479/3) seems to fix the problem.

[2021-09-14 14:00] wawryk opened #2158 "Performance drop in Test Case 4: NVMe-oF Performance with increasing # of connections"
# Bug report

## Expected Behavior

Have constant level of performance results

## Current Behavior

Have about 60% IOPS drop.

## Possible Solution

When doing bisect between v21.04 and v21.07 have found two possible commits:
2cd948c with IOPS results (which are not stable):

- 375605.052
- 338690.083
- 1058384.612
- 1077318.904
- 333754.914

d9f5da13e with IOPS results:

- 339574.61
- 310367.165

[2021-09-14 14:53] spdkci commented on #2128
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_58175.html

[2021-09-14 14:54] spdkci commented on #2128
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_58195.html

[2021-09-14 14:59] spdkci commented on #2138
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_58168.html

[2021-09-14 15:20] ksztyber commented on #2138
@mikeBashStuff I'm not sure this is the case. Only the last loop didn't reach 20 iterations, but all of the earlier nvmf tests had the same problem and they *did* reach 20 iterations. That means that each of these tests spent 20 extra seconds trying to rmmod the nvme-fabrics module, which I think could explain the timeout.

[2021-09-14 15:36] mikeBashStuff commented on #2138
@ksztyber Hmm, you are right. And the `nvmftestfini()` prevents `nvmfcleanup()` from aborting the tests earlier on hence the slow agony.

[2021-09-14 15:44] sashakot commented on #2153
Hi,

I just want to confirm, do you run NVME-OF TCP Target on ARM cores inside BlueField? Is it possible to try the same experiment with VMA(XLIO) library which replaces Linux Kernel TCP stack?

What's BFB version do you use?

Best regards
Sasha

[2021-09-14 16:27] Davido71 commented on #2155
Here is more details in my steps: First of all I'm building on a AMD  Ryzen 7 3700X machine with Linux Mint 20.2.

1. git clone --depth 1 --branch v21.07 https://github.com/spdk/spdk spdk_21.07
2. cd spdk_21.07
3. python3 -m pip install --upgrade pip
4. git submodule update --init
5. Linux Mint only: cd scripts/pkgdep
6. Linux Mint only: ln -s debian.sh linuxmint.sh
7. Back to spdk_21.07 directory

[2021-09-14 16:31] jimharris commented on #2115
I'm not sure, but would it be better to use a build parameter to control shared v. static instead of tying it directly to clang?

So with gcc, you see the static builds come out much smaller?

[2021-09-14 16:33] benlwalker commented on #2147
While I am reasonably confident that not updating the shadow doorbell for admin commands will work just fine, my reading of the specification is that we should be using the shadow doorbells for all queues if they are configured.

But let's look through the code here and figure out why it isn't occurring for the admin queue. I see admin queue commands get submitted through the same code path as I/O

[2021-09-14 17:20] jimharris commented on #2147
Hey Ben, I left a comment in the 9502 patch.  The general approach (hooking the completion of the DOORBELL CONFIG command) is correct, but the current version of the patch only does it in the multi-process case where the completion is deferred because a different process found the completion entry when it was polling the adminq.

Also a note for @changpe1 - I noticed during code inspection that we

[2021-09-14 17:40] jlevon commented on #2147
So, the reason we were asking about this, is because there's a problem on the controller side. Where should a controller look for the admin queue's doorbell? We'd like to look in the shadow doorbell region, but we can't - it'll always be zero. We have to basically hard-code that for admin queues, we always have to check bar0 location *instead*.

In other words, we don't see a way in which we can i

[2021-09-14 17:42] jimharris commented on #2106
@changpe1's idea will not work - @ZivHirsch13 indicated other places (not TCP related) that panicked due to non-zeroed memory.

@yidong0635 - can you confirm that you are testing with CentOS Linux release 7.6.1810 (Core)?

[2021-09-14 17:48] benlwalker commented on #2147
Is it possible to map the doorbells so that you get an interrupt if they're written to, only when shadow doorbells are enabled? That way writing to the shadow doorbell is fast but you still get notified when the user writes to the actual doorbell.

But with vfio-user, is there any reason at all to be using shadow doorbells? Can't the guest just map the actual doorbells into shared memory? If you'r

[2021-09-14 17:52] jimharris commented on #2147
You can map the actual doorbells into shared memory, but doesn't it still result in a trap because the guest is writing to the PCI BAR?  With shadow doorbells it avoids any MMIO writes to the virtual PCI device.

[2021-09-14 17:57] jlevon commented on #2147
Right, the setup we need/want is that the shadow doorbell region is just guest memory (no MMIO writes, no notifications possible), and BAR0 is mapped into the guest only via mmio (either REGION_WRITE or ioeventfd/ioregionfd).

If we want interrupt mode to work, we want shadow doorbells so we don't pay the price of MMIO writes on every doorbell write.

[2021-09-14 17:59] benlwalker commented on #2147
So even though the "BAR" here is just some system memory we allocated in the target, because vfio-user presented it as a BAR then every access to it traps as if it were MMIO? I know there's a way to control whether there are notifications or not when the memory is written to, but changing that doesn't also change the trap behavior?

[2021-09-14 22:07] shuhei-matsumoto commented on #2153
Hi Sasha,

Thanks for your reply.
This is a system configuration. So yes, SPDK NVMe-oF TCP target on ARM cores inside Bluefield.

![image006 (1)](https://user-images.githubusercontent.com/31527144/133339131-1b9366a3-265d-4ee9-8a54-5d3de564706d.png)

I will ask my colleague about VMA library and BFB version today. Please wait for a shile.

Additionally,  JSON config file for the target is here. max

[2021-09-15 01:16] changpe1 commented on #2147
Currently SPDK vfio-user is using sparse memory region for BAR0, that means the doorbells are already in the memory mapped address, there is no need to support shadow doorbell buffer config command.

[2021-09-15 01:25] changpe1 commented on #2147
@jimharris @benlwalker For BAR0, we are using the sparse mmap way, that means for the first 4KiB, QEMU will trap and then translate the trap with socket messages, while for the next doorbells, it uses the memory mmap way, that means even without shadow doorbell support, it will not have traps for this memory region.

[2021-09-15 01:47] optimistyzy commented on #2158
Hi @wawryk https://github.com/spdk/spdk/commit/2cd948c4a6fb0b26a495dfc861d26f7dfe9bc90d is used to fix a coredump issue related test reported by @karlatec (#1970). Previously there is a refactoring work in posix (https://github.com/spdk/spdk/commit/1ae601b573b8cf2be93b87b4fbd7ef491cbb6d87#diff-12ec6112c947de645d68808a3642d4c7346e4053497d9fd96201873d8893f403). So what my suggestion is that:  1  Go

[2021-09-15 03:30] yidong0635 commented on #2106
@jimharris , tried this on CentOS Linux release 7.6.1810 (Core) again .  still can get such panicked error.  Just report invalid arguments ,AS I known, TCP transport can be supported on a very later kernel version. @ZivHirsch13 what are your `modprobe steps` ?

[2021-09-15 03:58] shuhei-matsumoto commented on #2153
The reporter started but cannot continue working on this issue publicly. So close this issue.cannot continue working on this issue publicly. So close this issue.

[2021-09-15 03:58] #2153 closed

[2021-09-15 04:37] winglq commented on #2062
I have uploaded the patch. I used perf(nvme-of target tcp protocol) to test it with following cases:
1. good path
2. connect failure
3. connect timeout

Please help to review, thanks.

https://review.spdk.io/gerrit/c/spdk/spdk/+/9508

[2021-09-15 05:56] spdkci commented on #2098
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_58256.html

[2021-09-15 05:59] spdkci commented on #2118
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_58250.html

[2021-09-15 06:53] spdkci commented on #2128
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_58248.html

[2021-09-15 07:04] spdkci commented on #2138
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_58297.html

[2021-09-15 07:08] wawryk commented on #2158
@benlwalker
i revert 2cd948c on v21.07
[code]
as You suggest on yesterday call, and here results from 5 tests:
[code]
This IOPS are expected, and look stable in five runs.

Also I do 5 runs on v21.07 to confirm, that revert give us expected result.
Here IOPS from v21.07:
[code]

Created revert commit on current master: https://review.spdk.io/gerrit/c/spdk/spdk/+/9510
Please review.

[2021-09-15 08:55] optimistyzy commented on #2158
@wawryk If we simplily revert this patch, we  will trigger #1970 issue again? So could you alSo revert 1ae601b patch and see what's performance is.

[2021-09-15 09:34] KKaras169169 commented on #2115
1) A parameter would be much better for when we run into similar issues with expanding submodules.
2) Today I tested this with branch spdk-1.0 of intel-ipsec-mb checked out and --without-shared option enabled during the ./configure stage, and gcc build comes out about 0,6 GB smaller.

[2021-09-15 09:49] wawryk opened #2159 "Performance drop in Test Case 1: SPDK NVMe-oF TCP Target I/O core scaling"
# Bug report

## Expected Behavior
Have constant level of performance results

## Current Behavior
Have IOPS drop.

## Possible Solution
When doing bisect between v21.04 and v21.07 have found possible commit:
f5ba8a5ef50485f182c07e1b52fccedc17cbd72d IOPS results:
[code]

last good commit, what gives me good IOPS results:
df01076f70f6f61255e4151ab32216d10bc48e88:
[code]

## Steps to Reproduce

conf

[2021-09-15 10:40] krish-reddy opened #2160 "[test_name] nvmf-phy-autotest build failure"
# CI Intermittent Failure

00:11:29.155  ************************************
00:11:29.155  START TEST nvmf_multipath
00:11:29.155  ************************************
00:11:29.156   12:16:57	-- common/autotest_common.sh@959 -- # xtrace_enable
00:11:29.156   12:16:57	-- common/autotest_common.sh@960 -- # test/nvmf/host/multipath.sh --transport=rdma

## Link to the failed CI build

https://ci.spdk

[2021-09-15 10:41] spdkci commented on #2160
Another instance of this failure. Reported by @krish-reddy. log: https://ci.spdk.io/public_build/autotest-per-patch_58327.html

[2021-09-15 10:42] mikeBashStuff commented on #2160
I think it's a duplicate of #2128

[2021-09-15 10:56] #2160 closed

[2021-09-15 11:12] AlekseyMarchuk commented on #2055
@MattDumm verified [this ](https://review.spdk.io/gerrit/c/spdk/spdk/+/8963) patch and set +1. It is ready for review

[2021-09-15 12:11] wawryk commented on #2158
@optimistyzy
I create revert patch for 1ae601b like You mention above, [patch here](https://review.spdk.io/gerrit/c/spdk/spdk/+/9512)
performance tests results:
[code]
IOPS results above looks good.
@benlwalker can you take a look on it ?

[2021-09-15 13:40] spdkci commented on #2128
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_58345.html

[2021-09-15 19:00] MattDumm commented on #2055
Yes, code looks good to me. The issue no longer happened with the change incorporated.

[2021-09-15 21:09] #2155 closed

[2021-09-15 21:20] jimharris commented on #2147
Got it - thanks @changpe1!

[2021-09-15 22:12] jimharris commented on #2062
Hi @winglq,

Thanks for your patch!  I added a few comments on Gerrit, and also kicked our CI to run tests against your patch.  I'll do a more thorough review on the functional parts of the patch once it's gone through CI.

-Jim

[2021-09-15 23:01] jimharris commented on #2062
Hi @winglq,

scan-build found a dead assignment.  If you aren't familiar with how to check CI results, go to your Gerrit URL, look for the -1 CI vote, and you'll see a link in there that takes you to CI results.  From there click on scanbuild link that shows failure, and then on the "scan-build" link that comes next.

-Jim

[2021-09-16 00:12] jimharris commented on #2159
Hi @wawryk,

A couple of questions:
* Do you only see this for 70/30 RW mix test or does it also happen on 100% read and 100% write tests?
* Do you see the problem if only 1 core running on the target, or does it only happen with 4 or more?

I'm looking at the patch in question - it changed when we read the CAP register - it's now done after we've connected the admin queue rather than when the ctr

[2021-09-16 00:50] jimharris commented on #2157
Hi @karlatec,

I found this note interesting:

[code]

Can you confirm that you only see this with P4800X Optanes, and not P4610s?  If that's a firm data point, let's add it to the issue title.

Do you see both initiator systems hanging?

It's interesting that it appears only one job is hung.  Maybe try spdk_top on the target process when it hangs, and let's see what pollers are still running?  It

[2021-09-16 01:19] changpe1 commented on #2124
Patch has been merged, closing this issue now.

[2021-09-16 01:19] #2124 closed

[2021-09-16 01:38] #2145 closed

[2021-09-16 01:41] changpe1 commented on #2133
I'm going to close this issue now, if you found it still exist in master branch, go ahead to reopen it. thanks.

[2021-09-16 01:41] #2133 closed

[2021-09-16 02:03] changpe1 commented on #1816
Combine this issue with https://github.com/spdk/spdk/issues/2086, to address the two issues together, I think reverting commit 8f7d9ec is the correct way.

[2021-09-16 04:04] changpe1 commented on #2159
[Bug Scrub] @wawryk we can assign this issue to other after getting some data.

[2021-09-16 04:17] changpe1 commented on #2106
@ZivHirsch13 Do you run your tests on a ARM platform?

[2021-09-16 04:18] jimharris commented on #2157
When you kill the initiator, can you get the per-job I/O stats?  I'm curious if this one job was able to ever send any I/O, or if it hung immediately (which might mean the queue never finished connecting).

[2021-09-16 05:04] ZivHirsch13 commented on #2106
@yidong0635 - I use SPDK only on target side. There isn't a problem there related to TCP transport.
The problem is zmalloc doesn't return zeroed memory.
I don't run `modprobe` on the target (I do run `modprobe nvme-tcp` on the initiator).

@changpe1 - No, regular x86.

[2021-09-16 05:25] yidong0635 commented on #2106
@ZivHirsch13  Thanks, I can try this with a different initiator with 5.x.x kernel later to see if can reproduce this issue .

[2021-09-16 05:37] ZivHirsch13 commented on #2106
@yidong0635 why? The problem is in the target (only target side uses SPDK).

As I wrote here - the problem exists also when just starting the SPDK app (don't even need initiator).
Why don't you just do some zmallocs and verify that all the memory you got is zeroed?

[2021-09-16 06:05] wawryk commented on #2159
@jimharris
I see this only on 100% writes, sorry for inconvenience in previous message.
For explanation `"rwmixread": 70,` parameter is ignored by script, when rw is set to randread or randrwrite, and then we have 100% reads or writes.
 I see these problem for cores from 1 to 16 (on attached picture You can see diffs between v21.07 and v21.04):
![image](https://user-images.githubusercontent.com/15

[2021-09-16 06:17] yidong0635 commented on #2106
I have done that, but can't got the error. From manual testing to using some code testing. I have no way to reproduce it.

[2021-09-16 06:19] changpe1 commented on #2106
@ZivHirsch13 We can't reproduce this issue locally, since SPDK uses the API from DPDK directly, I suggest you may narrow down this issue with a simple test tool which just call DPDK APIs directly and then ask help from DPDK guys.

[2021-09-16 08:00] optimistyzy commented on #1970
@karlatec @wawryk  Previously I provided this  https://review.spdk.io/gerrit/c/spdk/spdk/+/8283  patch to fix this issue, but it seems that there is performance drop reported in #2158 recently, so can you revert this patch and apply  this patch https://review.spdk.io/gerrit/c/spdk/spdk/+/9521 to see whether this patch can fix the coredump issue but also not degrade the performance.

[2021-09-16 08:07] karlatec commented on #2157
Actually this should be ignored. I think the faulty patch was merged after 21.07, or at least the freezes started after 21.07 release.

Will check that again and confirm.

Just one of them.

Unfortunately not, as group_reporting is enabled.

I'm still struggling to reproduce this manually instead of using Jenkins. No idea what's the difference between these two executions. Good idea with spdk_top,

[2021-09-16 09:07] CryusYoung opened #2161 "fio can't work when ocf bdev created with rpc"
spdk version is v21.01x,
the test step is:
1. spdk configure with fio and ocf
2. create an ocf bdev(cache0) with rpc
3. fio test with fio conf.in

fio can't work.
cache0.conf.in:
[root@localhost spdk]# cat cache0.conf.in
[Split]
  Split Nvme0n1 2 10240

fio:
[root@localhost spdk]# cat cache0.fio
[global]
ioengine=examples/bdev/fio_plugin/fio_plugin
spdk_conf=cache0.conf.in
thread=1
group_reporting

[2021-09-16 10:19] wanghailiangx opened #2162 "Question: what's wrong with the conf for “bdevperf --json iscsi_initiator.json“?"
## Expected Behavior
./test/bdev/bdevperf/bdevperf --json iscsi_initiator.json can work.

## Current Behavior
./test/bdev/bdevperf/bdevperf --json iscsi_initiator.json can't work.
Reports:
[code]

## Steps to Reproduce
1../build/bin/iscsi_tgt --json iscsi_tgt.json -m 0x2 -p 1 -s 512
2../test/bdev/bdevperf/bdevperf --json iscsi_initiator.json -q 128 -o 4096 -w read -t 10

iscsi_tgt.json
[code]

isc

[2021-09-16 10:26] jlevon commented on #2147
just to be clear, we definitely want shadow doorbells for interrupt mode, or we are paying the MMIO write cost for every doorbell write.

[2021-09-16 10:54] wawryk commented on #2158
@optimistyzy
I do some tests like You ask
git log:
[code]
Performance results:
[code]
iops looks ok.

[2021-09-16 11:30] wawryk commented on #2158
I also run fast test 10 times with parameters from #1970 and all tests pass
@karlatec how often this segmentation fault occurs ? 10 tests is enough to confirm that it works ?

[2021-09-16 11:41] karlatec commented on #2158
@wawryk to be honest - I don't know. The issue was created in closed in June, so I don't remember.
If it's not mentioned then it was probably 100% reproducible, on each run with given configuration.

[2021-09-16 11:49] tomzawadzki commented on #2162
iSCSI bdev module (iSCSI initiator) is optional. Have you built SPDK using `./configure --with-iscsi-initiator` ?

[2021-09-16 12:00] wanghailiangx commented on #2162
@tomzawadzki not --with-iscsi-initiator, with it, bdevperf --json iscsi_initiator.json can work well.
Thank you very much.

[2021-09-16 12:00] #2162 closed

[2021-09-16 14:29] spdkci commented on #1474
Another instance of this failure. Reported by @yupeng0921. log: https://ci.spdk.io/public_build/autotest-per-patch_58375.html

[2021-09-16 17:42] jimharris commented on #2106
Yeah, this looks like a DPDK, Linux kernel or system configuration issue (or combination thereof).

@ZivHirsch13, you could use test/env/mem_callbacks/mem_callbacks.c as a template for creating a focused DPDK-only test case that reproduces the problem on your setup.  Assuming that you get that test to reproduce the issue, posting something on dev@dpdk.org would be the best next step.  Let's keep t

[2021-09-16 21:43] spdkci commented on #2098
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_58429.html

[2021-09-17 02:33] optimistyzy commented on #2158
Hi  @karlatec Could you also run this test described in #1970 ? We need make sure that the issue can be fixed and still keep the good performance.  Thanks.

[2021-09-17 05:55] Comphix commented on #2161
@wanghailiangx , will you help on this issue?

[2021-09-17 05:59] Comphix commented on #2057
Several child patches are created as a patch series from above one. Now it could dynamically set the Max # of LUNs and Max # of Devs.

[2021-09-17 06:05] wanghailiangx commented on #2161
@Comphix OK, let me have a look.

[2021-09-17 07:12] karlatec commented on #2158
@optimistyzy  For any re-test requests please ask @wawryk.

@wawryk could you please do a re-run for @optimistyzy?

[2021-09-17 08:18] wanghailiangx commented on #2161
[code]
these have been changed to
[code]

cache0.json come from command: ./scripts/config_converter.py < cache0.conf.in > cache0.json

filename=trtype=PCIe traddr=0000.03.00.0 ns=1

If any errors else, please show here, thanks.

[2021-09-17 08:44] CryusYoung commented on #2161
thanks for  your reply. the problem is my spdk version is v20.01x, there is no spdk_bdev, even no build/fio directory. this version configured to fio_plugin, not the spdk_bedv in build/.
and i've succeed with the above method. but now i must use this verion because of some reasons,.
if it can't work with conf.in file indeed, i will upgrade spdk to newer version.
thanks again~

[2021-09-17 08:56] wanghailiangx commented on #2161
Can you post the error log about cache0.fio with cache0.conf.in in v20.01x?

[2021-09-17 09:08] CryusYoung commented on #2161
the err log is:
spdk_fio_setup: ERROR: Unable to find bdev with name cache0

[2021-09-17 10:08] wawryk commented on #2158
Run 5 tests today, all finished without errors

[2021-09-17 11:07] rafalste commented on #2161
I think the reason it fails is creating OCF bdev manually prior running fio. Configuration for OCF bdev should be passed in SPDK config file instead.
And another thing - are you trying to run fio on created bdev or are you using SPDK's fio_plugin according to [this guide](https://github.com/spdk/spdk/blob/v20.01.x/examples/bdev/fio_plugin/README.md)? I believe fio_plugin is the only way to run fio

[2021-09-17 11:22] wanghailiangx commented on #2161
Yes, rafalste 's right. Let me give you an example for creating ocf bdev.
bdev.conf.in
[code]
then
`fio cache0.fio--filename=wb_test`

[2021-09-17 11:30] spdkci commented on #2128
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_58335.html

[2021-09-17 11:53] optimistyzy commented on #2158
@wawryk great，So I think that the solution is to revert my old patch and apply the new one.

[2021-09-17 12:00] mikeBashStuff opened #2163 "Newer doxygen (1.9.1) reports issues with the documentation"
[code]

Issues in question:

[code]

[2021-09-17 12:01] mikeBashStuff commented on #2163
https://review.spdk.io/gerrit/c/spdk/spdk/+/9541 - review would be appreciated. :)

[2021-09-17 13:00] wawryk commented on #2158
Ok, then we need this two patches merged to close this issue:
https://review.spdk.io/gerrit/c/spdk/spdk/+/9510
https://review.spdk.io/gerrit/c/spdk/spdk/+/9521

[2021-09-17 13:35] CryusYoung commented on #2161
thanks very much, i've succeed in the way you mentioned several days ago. Thank you and rafalste again~发自我的华为手机-------- 原始邮件 --------发件人： wanghailiang ***@***.***>日期： 2021年9月17日周五 晚上7:22收件人： spdk/spdk ***@***.***>抄送： CryusYoung ***@***.***>, Author ***@***.***>主    题： Re: [spdk/spdk] fio can't work when ocf bdev created with rpc (#2161)
Yes, rafalste 's right. Let me give you an example for creati

[2021-09-17 15:31] CryusYoung commented on #2161
yes,that is what i wanna know. thanks very very much~

[2021-09-17 15:35] #2161 closed

[2021-09-17 15:36] CryusYoung commented on #2161
problem sloved, thank wanghailiang and rafalste

[2021-09-17 17:27] jimharris commented on #2163
Review completed. :)

[2021-09-19 04:16] gaowayne opened #2164 "[question] SPDK accel framework, can it run in separated reactor and CPU core, currently accel poller just run inside current spdk_thread that may belong to another components and reactor"
# Bug report

SPDK accel framework, can it run in separated reactor and CPU core, currently accel poller just run inside current spdk_thread that may belong to another components and reactor

## Expected Behavior

for example, if we create one SPDK module called A, in this module A, we create our own spdk_thread that sit on our own cpu core. if our module A use the SPDK accel DSA, SPDK accel regis

[2021-09-20 07:58] KKaras169169 commented on #2164
Hello @gaowayne, could you describe in detail what problem did you encounter in the above form, not just in GitHub issue title? Also if this is a question and not a bug or a problem with SPDK, please add a label _**question**_  (you can select it on the right side panel, under "Labels").

[2021-09-20 08:17] KKaras169169 commented on #2071
Closing, because fix has been merged.

[2021-09-20 08:17] #2071 closed

[2021-09-20 09:11] spdkci commented on #1969
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_58504.html

[2021-09-20 09:12] spdkci commented on #1969
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_58505.html

[2021-09-20 09:25] mikeBashStuff opened #2165 "bdevio hit with SIGABRT during blockdev_pmem -> bdev_bounds test"
[code]

Happened locally, not affecting CI at the moment. Failing path Looks similar to https://github.com/spdk/spdk/issues/1978 but the bt is actually different. Point of failure:
[code]

[2021-09-20 10:38] spdkci commented on #1969
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_58507.html

[2021-09-20 10:40] spdkci commented on #1969
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_58506.html

[2021-09-20 14:46] spdkci commented on #1969
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_58509.html

[2021-09-20 14:46] spdkci commented on #1969
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_58510.html

[2021-09-20 22:00] MattDumm commented on #2055
Any ETA for when this will get final reviews and be merged into the code? It all looks good from my side.

[2021-09-21 07:24] spdkci commented on #2128
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_58337.html

[2021-09-21 10:03] mikeBashStuff opened #2166 "SM7 is missing kernel-modules-extra package"
It may fail `cuse` tests since this package provides needed kernel module.

[2021-09-21 10:04] mikeBashStuff commented on #2166
Installed package on the affected system, leaving the issue open for some time in case of potential false positives.

[2021-09-21 10:18] tomzawadzki commented on #2163
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/9541 is merged, the issue can now be closed.

[2021-09-21 10:18] #2163 closed

[2021-09-21 13:37] AlexTalker opened #2167 "Building SPDK on Oracle Linux 8.4 with UEK + Mellanox OFED"
As title suggest, I'm trying to do some real necromancy here, i.e. building latest SPDK release in the following enviroment
1. Oracle Linux 8.4
2. Unbreakable Enterprise Kernel installed(v6)
3. For UEK, latest Mellanox OFED is re-built from sources

I'm trying to patch up SPEC file provided by SPDK repo to make it work and so far I encountered following issues:

# Oracle Linux is not supported

It

[2021-09-21 13:39] mikeBashStuff opened #2168 "Can't compile SPDK against main DPDK due to missing rte_cryptodev_pmd.h"
[code]

Due to https://github.com/DPDK/dpdk/commit/af668035f7f492424b2e199f155690815944a8ca `rte_cryptodev_pmd.h` is not exposed anymore for external use. This causes the SPDK build to fail with:

[code]

This affects nightly CI builds which tests SPDK against latest DPDK.

[2021-09-21 13:54] AlekseyMarchuk commented on #2167
Hi @AlexTalker
Thanks for reporting this issue, I'll check it. Not sure that I can find the same environment but I believe that issue with undefined symbols in mofed dpdk can be reproduced in another env

[2021-09-21 14:13] jimharris commented on #2168
@peluse can you take a look?

[2021-09-21 14:14] tomzawadzki commented on #2168
Patch https://github.com/spdk/spdk/commit/40240f7e9dc3c5f701908b55de03da8cd60637b7 introduced dependency on the `rte_cryptodev_pmd.h`. Briefly looking at the DPDK API, I've not seen an obvious candidate to accomplish similar thing.

[2021-09-21 15:22] tomzawadzki commented on #2115
[Bug scrub] Comment from @jimharris is correct that differentiating only by the compiler within the test scripts might not provide the best control. It seems that we have an option to increase the infrastructure and VM disk size to accommodate the build sizes. Let's go this route if possible.

[2021-09-21 15:34] peluse commented on #2168
sent email to dpdk dev mailing list, I don't see a workaround either.

[2021-09-21 21:12] benlwalker opened #2169 "nvme_tcp_c2h_data_hdr_handle: *ERROR*: Invalid datao for tcp_req"
# CI Intermittent Failure

fio_dif_digest

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/58570/archive/nvmf-tcp-uring-vg-autotest/build.log

## Execution failed at

00:14:14.180  in /home/vagrant/spdk_repo/spdk/test/common/autotest_common.sh:1176 -> fio_bdev(["--ioengine=spdk_bdev"],["--spdk_json_conf"],["/dev/fd/62"],["/dev/fd/61"])

[2021-09-21 21:21] shuhei-matsumoto opened #2170 "[nvme_tcp] poll_group was used after free and caused NULL pointer access"
# Bug report

By the patch https://review.spdk.io/gerrit/c/spdk/spdk/+/9515/3 when an I/O qpair is disconnected, all related I/O qpairs are freed. In this operation, the corresponding poll groups were removed. Then unexpected NULL pointer access occurred.

https://ci.spdk.io/results/autotest-per-patch/builds/58563/archive/nvmf-tcp-uring-vg-autotest/build.log

00:15:08.785  [2021-09-21 16:00:10.796

[2021-09-21 21:32] shuhei-matsumoto commented on #2170
https://review.spdk.io/gerrit/c/spdk/spdk/+/9560/1

[2021-09-21 21:45] peluse commented on #2169
dup of #2098?

[2021-09-21 22:37] jimharris commented on #2169
Yeah it is.  I'll copy this log over to #2098.

[2021-09-21 22:37] #2169 closed

[2021-09-21 22:37] jimharris commented on #2098
https://ci.spdk.io/results/autotest-per-patch/builds/58570/archive/nvmf-tcp-uring-vg-autotest/build.log

[2021-09-21 22:46] spdkci commented on #2128
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_58588.html

[2021-09-22 01:01] spdkci commented on #2098
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_58602.html

[2021-09-22 01:02] spdkci commented on #2128
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_58607.html

[2021-09-22 01:03] spdkci commented on #2128
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_58601.html

[2021-09-22 01:59] Comphix commented on #2165
Looks like it is reading a large data area of nbytes=3670016 which is 3.5MB

2021-09-20T10:59:02+02:00:     fedora34: #7  0x00007fcf3866e85d in bdev_bytes_to_blocks (bdev=0x6000700070007, offset_bytes=0, offset_blocks=0x7fcf3545e640, num_bytes=3670016, num_blocks=0x7fcf3545e648) at bdev.c:3752
2021-09-20T10:59:02+02:00:     fedora34:         block_size = 0
2021-09-20T10:59:02+02:00:     fedora34:

[2021-09-22 02:24] spdkci commented on #2169
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_58570.html

[2021-09-22 07:21] spdkci commented on #1969
Another instance of this failure. Reported by @EugeneKochetov. log: https://ci.spdk.io/public_build/autotest-per-patch_58561.html

[2021-09-22 08:30] tomzawadzki commented on #1648
Patch set 4 https://review.spdk.io/gerrit/c/spdk/spdk/+/9390/4 ran twice.
Note a "prioritize change" request was put after a rebase.

@xjjx could you take a look ?

[2021-09-22 08:32] tomzawadzki commented on #2053
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/9415 is now merged, fixing this issue. Thank you @KKaras169169 !

[2021-09-22 08:32] #2053 closed

[2021-09-22 10:16] karlatec commented on #2157
@jimharris  I was **finally** able to get a reproduction manually and not in CI. Unfortunately it seems that this is not reproducible with `--enable-debug`. With Konrad's help (thanks @ksztyber !) we were able to get following information from spdk_top and from GDB.

Target spdk_top info:
[code]

[code]

Target GDB bt:
[code]

Target qpair inspection. Seems like all IO has been completed and there

[2021-09-22 10:16] karlatec commented on #2157
Initiator GDB info:

[code]

[2021-09-22 11:18] antroseco opened #2171 "nvmf/vfio-user: doorbell writes are not validated"
# Bug report

vfio-user controller does not validate doorbell writes (as suggested by the spec).

## Expected Behavior

See "Invalid Doorbell Write Value" in Figure 144 of the NVMe Base Specification 2.0a for a list of possible checks.

## Current Behavior

No validation takes place - the host is allowed to write any 32-bit value.
This could lead to all sorts of issues, e.g. writing `0xFFFF...` to

[2021-09-22 11:38] spdkci commented on #2128
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_58650.html

[2021-09-23 00:19] changpe1 commented on #2171
Yeah, I agree that we should add a valid check for SQ tail doorbell register.

[2021-09-23 01:04] changpe1 commented on #2171
Here is the patch to fix this issue, https://review.spdk.io/gerrit/c/spdk/spdk/+/9584, and it will also reports an error event for this case according to the specification.

[2021-09-23 04:00] spdkci commented on #1969
Another instance of this failure. Reported by @xjjx. log: https://ci.spdk.io/public_build/autotest-per-patch_58704.html

[2021-09-23 06:20] changpe1 commented on #2164
I think you are asking that starting a separate thread to poll IDXD completions while submitting new requests in your own module A.  The thread model for NVMe and acceleration framework is same, we will use the IO channel concept(poll group or poller inside)  for most of the usage scenarios.  Your described scenario isn't recommended.  Please continue to ask question in slack channel, I'm going to

[2021-09-23 06:20] #2164 closed

[2021-09-23 07:04] gaowayne commented on #2164
@changpe1 thank you so much changpeng. so it is by design IDXD accel run inside parent spdk_thread. by design it is not best practice we take IDXD completion pollers out of spdk_thread. we just need IDXD compete the same CPU core with parent spdk_thread.

[2021-09-23 08:53] antroseco commented on #2171
Great, thank you

[2021-09-23 11:04] spdkci commented on #2128
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_58768.html

[2021-09-23 11:48] antroseco opened #2172 "nvmf/vfio-user: host can delete admin queues"
# Bug report

## Expected Behavior

See §5.7 of the spec:

and

## Current Behavior

If you do `nvme admin-passthru /dev/nvme0 --opcode=0 --cdw10=0` on the guest, `handle_del_io_q()` will call `lookup_io_q()`, which doesn't check `qid != 0`. Hence, admin SQ will be deleted.

## Possible Solution

`lookup_io_q()` should fail if `qid == 0`

CC: @jlevon

[2021-09-23 12:59] rafalste commented on #2120
Hi @USTCqzy,
I just wanted to let you know, that I'm investigating the issue and will get back to you soon with some updates.

[2021-09-23 13:31] antroseco commented on #2172
I've submitted a patch to fix this and a few more issues
https://review.spdk.io/gerrit/c/spdk/spdk/+/9593

[2021-09-23 14:06] antroseco opened #2173 "nvmf/vfio-user: deleting the same SQ more than once hits an assert"
# Bug report

Relevant code (`handle_del_io_q()`)
[code]

## Expected Behavior

First call to
`$ nvme admin-passthru /dev/nvme0 --opcode=0 --cdw10=1`
should return `SUCCESS`.

Second call to
`$ nvme admin-passthru /dev/nvme0 --opcode=0 --cdw10=1`
should return `INVALID_QUEUE_IDENTIFIER`.

## Current Behavior

First call to
`$ nvme admin-passthru /dev/nvme0 --opcode=0 --cdw10=1`
does return `SUCCES

[2021-09-23 14:36] antroseco opened #2174 "nvmf/vfio-user: can't recreate a deleted SQ without deleting the CQ as well"
# Bug report

## Expected Behavior

Should be able to delete and recreate an SQ without also deleting its CQ (this is the recommended way to abort a large amount of commands, according to the spec).

## Current Behavior

This check in `handle_create_io_q()` fails
[code]
because the SQ still exists but is marked as `DELETED` (the CQ was not deleted so the qpair still exists).

## Possible Solution

[2021-09-23 14:44] antroseco opened #2175 "nvmf/vfio-user: can create queues of size 1"
# Bug report

## Expected Behavior

See Figure 162 in the NVMe Base Specification 2.0a.

• with an invalid number of entries (e.g., a **value of 0h** or a value which exceeds the maximum supported by the controller, specified in CAP.MQES); or
• before initializing the CC.IOSQES field.

So the minimum queue size would be 2 (since queue size is 0-based).

## Current Behavior

[code]

Maximum size is

[2021-09-23 16:19] AlekseyMarchuk commented on #2167
I reproduced the same problem with undefined symbols, working on it

[2021-09-23 18:23] spdkci commented on #1969
Another instance of this failure. Reported by @mkenguva. log: https://ci.spdk.io/public_build/autotest-per-patch_58799.html

[2021-09-23 18:52] spdkci commented on #2098
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_58800.html

[2021-09-24 02:59] #2172 closed

[2021-09-24 03:01] changpe1 commented on #2173
Thanks, here is the patch to fix it. https://review.spdk.io/gerrit/c/spdk/spdk/+/9604

[2021-09-24 05:03] changpe1 commented on #2174
Here is the patch https://review.spdk.io/gerrit/c/spdk/spdk/+/9605 to fix the issue.

[2021-09-24 05:04] changpe1 commented on #2175
https://review.spdk.io/gerrit/c/spdk/spdk/+/9606, here is the patch to fix it.

[2021-09-24 05:14] optimistyzy commented on #2164
@gaowayne We now have the independent idxd_perf tool with some basic functions, which can run without using spdk application work.

[2021-09-24 06:49] gaowayne commented on #2164
thank you so much ziye. @uubs we will research idxd_perf. :)

[2021-09-24 07:35] #2170 closed

[2021-09-24 07:53] #2129 closed

[2021-09-24 09:50] AlekseyMarchuk commented on #2167
@AlexTalker could you clarify your Mellanox ofed version? I have a bit different result with `MLNX_OFED_LINUX-5.4-1.0.3.0`. Please also provide ofed installation options. If I understand correctly, you are using x86 machine, is it correct?

[2021-09-24 09:59] AlexTalker commented on #2167
@AlekseyMarchuk sure, thing, I have the following in my building environment at the moment:
[code]

So it seems like `5.4.1.0.3.1` is the answer.

I also have following kernel packages:
[code]

Yes, I used x64 machine.

Regarding OFED installation I am not completely sure since we have it for the most part as a locally served RPM repository but I found following configuration options to be supplie

[2021-09-24 12:14] mikeBashStuff opened #2176 "Builds failing due to lack of storage on the jenkins node"
Placeholder for issues similar to https://ci.spdk.io/public_build/autotest-per-patch_58892.html

[2021-09-24 12:14] mikeBashStuff commented on #2176
Issues has been already mitigated.

[2021-09-24 12:14] spdkci commented on #2176
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_58892.html

[2021-09-24 12:43] spdkci commented on #2176
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_58896.html

[2021-09-24 15:39] spdkci commented on #1969
Another instance of this failure. Reported by @mkenguva. log: https://ci.spdk.io/public_build/autotest-per-patch_58802.html

[2021-09-24 16:37] spdkci commented on #2176
Another instance of this failure. Reported by @nconnolly1. log: https://ci.spdk.io/public_build/autotest-per-patch_58883.html

[2021-09-24 16:53] spdkci commented on #2089
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_58969.html

[2021-09-24 16:58] jimharris commented on #2098
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_58969.html

[2021-09-24 22:04] spdkci commented on #1969
Another instance of this failure. Reported by @mkenguva. log: https://ci.spdk.io/public_build/autotest-per-patch_58974.html

[2021-09-24 23:03] spdkci commented on #2098
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_59022.html

[2021-09-24 23:41] jimharris commented on #2098
Ziye posted a patch here: https://review.spdk.io/gerrit/c/spdk/spdk/+/9612 which looks good to me!

[2021-09-25 01:11] MattDumm commented on #2055
Running recently without using asan, I'm now seeing that there are some shutdown issues with the code.

I don't have the root cause figured out but in my code version (in which this fix was backported to a 21.04 base with a few modifications, and thus may not behave exactly like your code based on current master) I am seeing two different crash stacks sometimes during shutdown

 CRASHED!
 === Back

[2021-09-26 00:43] changpe1 commented on #2086
patch has been merged, so closing this issue for now.

[2021-09-26 00:43] #2086 closed

[2021-09-26 04:05] gaowayne opened #2177 "DSA idxd better can enable the PMU performance counter the same as kernel idxd driver do"
# Bug report

DSA idxd better can enable the PMU performance counter the same as kernel idxd driver do .
I am not sure if we need develop code in SPDK to enable idxd performance counter.

## Expected Behavior
==below is kernel driver related enablement.
static void perfmon_pmu_enable(struct pmu *pmu)
{
	struct idxd_device *idxd = pmu_to_idxd(pmu);

	enable_perfmon_pmu(idxd);
}

## Current Behavior

[2021-09-27 07:16] spdkci commented on #1950
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_59000.html

[2021-09-27 07:21] spdkci commented on #2128
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_58986.html

[2021-09-27 07:28] ksztyber commented on #1950
Seems like a core (2) was idle according to SPDK:
[code]
but was busy according to Linux:
[code]
Perhaps something else on the system was executed on that CPU? I think we need to re-evaluate the way we check CPUs for being busy/idle.

[2021-09-27 07:49] Comphix commented on #2142
Looks like connect command works which means to directly connect a Known device. Discover command is to list related devices from the NVMe-oF Target. Maybe you could add a debugging break at nvmf_get_discovery_log_page() on the SPDK NVMe-oF Target side to debug whether the discover command is properly handled at the Target side.

[2021-09-27 08:54] dong-liuliu commented on #1950
Agree with Konrad.
We checked CPU stat directly from /proc/stat which show each CPU statistics.
But it is possible that after SPDK gives up a CPU core, but that CPU core is preempted by other processes immediately. Then the CPU is probably indicated busy in /proc/stat.

[2021-09-27 09:27] spdkci commented on #1969
Another instance of this failure. Reported by @xjjx. log: https://ci.spdk.io/public_build/autotest-per-patch_59102.html

[2021-09-27 09:27] spdkci commented on #1969
Another instance of this failure. Reported by @xjjx. log: https://ci.spdk.io/public_build/autotest-per-patch_59101.html

[2021-09-27 09:27] spdkci commented on #1969
Another instance of this failure. Reported by @xjjx. log: https://ci.spdk.io/public_build/autotest-per-patch_59100.html

[2021-09-27 09:43] AlekseyMarchuk commented on #2055
Hi @MattDumm is it possible to get coredump with variables?
I have a question about your app - are you using a standard nvmf target or your own application? It looks like spdk threads are already destroyed when some controllers are still exist.

[2021-09-27 10:45] spdkci commented on #1988
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_59093.html

[2021-09-27 11:20] #2098 closed

[2021-09-27 11:54] spdkci commented on #1969
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_59108.html

[2021-09-27 11:56] spdkci commented on #1969
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_59095.html

[2021-09-27 11:59] spdkci commented on #1969
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_59107.html

[2021-09-27 11:59] spdkci commented on #1969
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_59106.html

[2021-09-27 13:52] AlekseyMarchuk commented on #2122
@adamagniv sorry for long delay, I'm checking pcap traces that your shared before

[2021-09-27 14:08] spdkci commented on #2098
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_59040.html

[2021-09-27 14:14] AlekseyMarchuk commented on #2122
I see that with qdepth=9 disconnect event is triggered by the target (frame 982, QPN 0x8000). In all other cases disconnect was requested by the initiator. I have no idea why it happened since you are using your own nvmf target application. But I believe that this is the cause of the observed errors. As a response to disconnect, bdev_nvme tries to reconnect a qpair, that is done in frame 984 (QPND

[2021-09-27 22:50] MattDumm commented on #2055
@AlekseyMarchuk -
About the app: It is based on the nvmf_tgt code from spdk (version 21.04), But it includes some product specific extensions to integrate with our platform, and it has some extra debug messages and a few fixes for a issues that came up in our testing.

Here's a stack trace with more detail, for the 1st stack listed above. (file/line numbers won't line up exactly with your version

[2021-09-27 23:26] spdkci commented on #1988
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_59115.html

[2021-09-28 06:20] spdkci commented on #1969
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_59116.html

[2021-09-28 06:20] spdkci commented on #2114
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_59129.html

[2021-09-28 06:33] kevinnikki commented on #2142
thanks for your reply, i will try it later!

[2021-09-28 07:19] wawryk opened #2178 "ADQ performance drop"
# Bug report

It looks like ADQ do not use all available cores on target side.
For example, when I start test with 40 cores: and run spdk_top
Intel 800 Series network adapter  without ADQ:
![image](https://user-images.githubusercontent.com/15612188/135040890-aaa39a44-b146-4562-9ef2-abda0880c931.png)
As we can see, all 40 core are busy.

Intel 800 Series network adapter with ADQ (enable_placement_i

[2021-09-28 07:25] spdkci commented on #1950
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_59185.html

[2021-09-28 10:54] shuhei-matsumoto commented on #2057
Hi @ghnicky

Linux host SCSI driver may support 256 LUNs per SCSI device at the maximum. Some other OS or other special SCSI driver may support more than 256 LUNs per SCSI device, but I guess these are not available easily or freely.

How about increasing SPDK_SCSI_DEV_MAX_LUN from 64 to 256? Is it acceptable?
If yes, the patch series are ready to review.

[2021-09-28 11:15] AlekseyMarchuk commented on #2055
Yeah, it looks like thread is already destroyed. I see in nvmf_tgt that we first stop subsystems, than destroy poll groups (and threads) and only than destroy nvmf target (spdk_nvmf_tgt_destroy function which destroys subsystems and controllers if any).
As part of NVMF_TGT_FINI_DESTROY_POLL_GROUPS state we mark a thread as exiting. The thread remains in exiting state until there are registered pol

[2021-09-28 11:39] thatsdone opened #2179 "Better to add DRIVER_OVERRIDE explanation to README.md"
# Bug report

Difficult to find out how to use `uio_pci_generic` under SR-IOV enabled environment.

## Expected Behavior

Users can easily enable uio devices even if they are using SR-IOV enabled environment.

## Current Behavior

When `scripts/setup.sh` was executed, vfio-pci driver is used and uio devices will not be created.
Actually, this is the correct behavior, and already considered by `scr

[2021-09-28 14:10] benlwalker commented on #2178
How many hardware queues were assigned to the traffic class? My guess is 4 and it needs to be 40.

[2021-09-28 14:39] AlekseyMarchuk commented on #2055
Hi @MattDumm I prepared a [patch ](https://review.spdk.io/gerrit/c/spdk/spdk/+/9668 ) which I believe should fix the latest problem. You'll also need to port this [patch](https://github.com/spdk/spdk/commit/97385af196bf271645c7158e97c53cbaf74d2f80#diff-2824b9d6615af855a06a418c93304c3fdf67fb6ccca7c8c3fe89a3aec2c73d28) which makes subsystem destruction asynchronous.

[2021-09-28 14:45] MattDumm commented on #2055
Thanks @AlekseyMarchuk ! I'll try it out and let you know.

[2021-09-28 15:05] wawryk commented on #2178
When we configure adq, we set in scripts queues equals to num cores:
[code]

[2021-09-28 15:06] jimharris commented on #2168
Hi @peluse, any update from dpdk-dev mailing list on this?

[2021-09-28 15:14] tomzawadzki commented on #2158
The performance drop is no longer observed after merging https://review.spdk.io/gerrit/c/spdk/spdk/+/9510. Closing this issue.

As for #1970, so far has not reproduced with the revert above. If it does, then original issue should be re-opened.

[2021-09-28 15:14] #2158 closed

[2021-09-28 16:12] jimharris commented on #2179
Hi @thatsdone,

I don't have any problem with adding a short note to README.md telling users about running ```scripts/setup.sh --help``` to get information on additional parameters or environment variables.

But can you describe the configuration and use case where SR-IOV is enabled, but you want to use uio_pci_generic instead?  I'm mostly familiar with Intel platforms, and if kernel is configured

[2021-09-28 16:24] AlekseyMarchuk commented on #2055
@MattDumm I see that CI fails with the latest patch. Please wait until I fix it

[2021-09-28 20:25] shuhei-matsumoto commented on #2057
@ghnicky

It looks that most SCSI hosts, Linux, VMware, Windows, support 256 LUNs per device at maximum now. So as I said yesterday, it will be practical to increase SPDK_SCSI_DEV_MAX_LUN from 64 to 256. We refactored code and so memory footprint does not increase. Please take a look or try the patch series https://review.spdk.io/gerrit/c/spdk/spdk/+/9608/4

@Comphix

Both bitmap and RB tree may n

[2021-09-28 23:14] MattDumm commented on #2055
@AlekseyMarchuk - Understood. I'll be away Wednesday but will check back in Thursday. Thanks again.

[2021-09-29 01:21] Comphix commented on #2057
Yes, in this case, it looks like the RPC dynamic set is neither critical a we now could just increase to 256.

[2021-09-29 01:31] shuhei-matsumoto commented on #2057
Hi @Comphix Thanks for your comment.

[2021-09-29 01:42] thatsdone commented on #2179
Hi @jimharris ,

Thanks for your clarification requests.

Outline of my use case is a kind of converged system like the following:
* Each node has  bunch of NVMe devices (storage) and running VMs (compute).
* Each node is connected by RDMA capable NICs (Mellanox CX-5)
    * Each VM has at least one attached SR-IOV VF of the RNIC.
* the NVMe storage devices are controlled by a special management so

[2021-09-29 02:51] optimistyzy commented on #2178
@msudheer337 Hi Sudheer, could you look at this issue? Whether there will be some misconfiguration of the adq scripts.

[2021-09-29 02:58] jimharris commented on #2179
Thanks @thatsdone!  I understand your use case better now.  I've posted a patch to point users towards the setup.sh help:

https://review.spdk.io/gerrit/c/spdk/spdk/+/9676

[2021-09-29 04:14] spdkci commented on #1969
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_59289.html

[2021-09-29 04:23] optimistyzy commented on #2098
This is another issue, which is related with datao != c2h_data->datao case.

[2021-09-29 05:15] spdkci commented on #2176
Another instance of this failure. Reported by @optimistyzy. log: Not Found

[2021-09-29 06:26] spdkci commented on #1969
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_59255.html

[2021-09-29 06:34] spdkci commented on #2176
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_59123.html

[2021-09-29 07:22] AlekseyMarchuk commented on #2055
@MattDumm the patch passes CI and ready for verification

[2021-09-29 07:23] spdkci commented on #1969
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_59257.html

[2021-09-29 07:26] spdkci commented on #1950
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_59265.html

[2021-09-29 08:24] spdkci commented on #1969
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_59276.html

[2021-09-29 08:43] spdkci commented on #2128
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_59323.html

[2021-09-29 10:23] jiewei-ke opened #2180 "nvmf/rdma: RDMA Recv WR may be exhausted if IO requests are handled slowly"
# Bug report

If IO requests are handled slowly (maybe 10 min delay for each IO) in bdev layer, NVMF host will run into IO timeout, reconnect and then repost these IO requests. RDMA Recv WR may be exhausted and NVMF host will fail to connect in the end since the target cannot handle NVMF fabirc connect command.

By default, nvmf/rdma transport will use SRQ and max_srq_depth is 4096.

When an NVMF

[2021-09-29 12:36] jlevon commented on #2043
FLR works for me with latest bits?

[2021-09-29 12:36] jlevon commented on #2043
unless this is jsut referring to the pending reset CR?

[2021-09-29 13:35] spdkci commented on #2041
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_59351.html

[2021-09-29 14:00] spdkci commented on #2114
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_59352.html

[2021-09-29 14:11] KKaras169169 opened #2181 "[nvmf_phy_autotest] nvmf_multipath - CQ transport error -6 (No such device or address) on qpair id 0"
# CI Intermittent Failure

During nvmf_multipath test, system ran into an error with CQ transport.

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_59356.html

## Execution failed at

[code]

[2021-09-29 14:18] spdkci commented on #2181
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_59356.html

[2021-09-29 14:22] spdkci commented on #2114
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_59348.html

[2021-09-29 14:23] spdkci commented on #2114
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_59359.html

[2021-09-29 16:24] spdkci commented on #2114
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_59374.html

[2021-09-30 01:50] changpe1 commented on #2043
My Linux VM doesn't report any error when doing "echo 1 >/sys/bus/pci/devices/0000\:00\:04.0/reset", but I didn't add the FLR callback in SPDK vfio-user target.

[2021-09-30 03:35] ufo19890607 commented on #2135
PING

[2021-09-30 06:12] spdkci commented on #2114
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_59376.html

[2021-09-30 06:14] spdkci commented on #2114
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_59364.html

[2021-09-30 06:17] spdkci commented on #2114
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_59369.html

[2021-09-30 06:21] KKaras169169 opened #2182 "[nvme_mount] Partition 1 is too big for the disk."
# CI Intermittent Failure

During nvme_phy_autotest, nvme_mount failed to create a new partition for the disk.

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_59381.html

## Execution failed at

00:01:53.772  ************************************
00:01:53.772  START TEST nvme_mount
00:01:53.772  ************************************
00:01:53.772   17:55:37	-- comm

[2021-09-30 06:24] spdkci commented on #2182
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_59381.html

[2021-09-30 06:30] spdkci commented on #2114
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_59384.html

[2021-09-30 06:31] spdkci commented on #2114
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_59387.html

[2021-09-30 06:46] KKaras169169 opened #2183 "output/timing.txt: No such file or directory - Process leaked file descriptors"
# CI Intermittent Failure

During nvmf-tcp-phy-autotest, after accel_engine test has finised, system reported
"touch: cannot touch '/var/jenkins/workspace/nvmf-tcp-phy-autotest/spdk/../output/timing.txt': No such file or directory".

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_59386.html

## Execution failed at

[code]

[2021-09-30 06:47] spdkci commented on #2183
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_59386.html

[2021-09-30 06:48] spdkci commented on #2114
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_59362.html

[2021-09-30 06:49] changpe1 commented on #2177
I don't have the answer, probably not. @peluse any comments about this?

@gaowayne I believe we have better channel(slack, teams) to ask questions instead of here, so can you reach us via slack or teams next time? thanks.

[2021-09-30 06:49] spdkci commented on #2182
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_59372.html

[2021-09-30 06:50] spdkci commented on #2114
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_59370.html

[2021-09-30 06:51] spdkci commented on #2114
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_59379.html

[2021-09-30 06:51] spdkci commented on #2181
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_59380.html

[2021-09-30 06:52] spdkci commented on #2114
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_59389.html

[2021-09-30 06:56] spdkci commented on #2114
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_59394.html

[2021-09-30 07:08] AlekseyMarchuk commented on #2180
Hi, I'll check this problem and find out what we can do with SRQ WQE starvation.

[2021-09-30 07:17] ksztyber commented on #2181
This is a duplicate of #2128.

[2021-09-30 07:17] #2181 closed

[2021-09-30 07:18] spdkci commented on #2128
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_59440.html

[2021-09-30 07:38] tomzawadzki commented on #2183
Looking at the
[code]
and
[code]

It suggests that the `spdk`, `output` or whole workspace was removed during the test. @xjjx would you mind taking a look ?

[2021-09-30 07:44] ksztyber opened #2184 "[setup/acl] setup.sh reset failed"
Seems like `setup.sh reset` failed. Unfortunately, all of its output was redirected to `/dev/null`, so there's very little information in the log.
[code]

## Link to the failed CI build
https://ci.spdk.io/results/autotest-per-patch/builds/59367/archive/nvmf-tcp-phy-autotest/build.log
https://ci.spdk.io/public_build/autotest-per-patch_59367.html

[2021-09-30 07:44] spdkci commented on #2184
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_59367.html

[2021-09-30 08:04] Maciej-Szwed commented on #2139
I wasn't able to reproduce this issue on bare metal. Working on reproducing this in VM.

[2021-09-30 08:08] KKaras169169 opened #2185 "[nvme-hotplug] version `GLIBC_2.32' not found"
# CI Intermittent Failure

During nvme-hotplug test, system reported that GLIBC_2.32 was not found.

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_59442.html

## Execution failed at

[code]

[2021-09-30 08:09] spdkci commented on #2185
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_59447.html

[2021-09-30 08:09] spdkci commented on #2185
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_59442.html

[2021-09-30 08:21] tmakatos commented on #2043
Have you tried the repro I pasted on the gerrit review?

[2021-09-30 08:27] #2171 closed

[2021-09-30 09:06] adamagniv commented on #2122
Hi @AlekseyMarchuk, unfortunately I can't share logs from the my target as I do not have access to them myself. I am in touch with the vendor after our findings. If we discover anything that does concern SPDK I will comment it here.

I think we can close the ticket if you believe it has nothing to do with SPDK and there is nothing more you can advise.

[2021-09-30 09:38] spdkci commented on #2114
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_59392.html

[2021-09-30 11:26] xjjx commented on #2183
it later says:
`/var/jenkins/workspace/nvmf-tcp-phy-autotest/spdk/test/common/autotest_common.sh: line 1219: /var/jenkins/workspace/nvmf-tcp-phy-autotest/spdk/scripts/setup.sh: No such file or directory
`
so at least entire spdk dir was unavailable, but I can't find any "rm" command which could be responsible for such assassination :(

Later post_get_build_log.sh create output directory with "mkdi

[2021-09-30 11:52] spdkci commented on #2114
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_59410.html

[2021-09-30 11:56] spdkci commented on #2114
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_59408.html

[2021-09-30 12:20] spdkci commented on #2114
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_59406.html

[2021-09-30 13:37] adamagniv commented on #2122
Ran with a different target I have access to, got good results. the problem was with the target I had before.

[2021-09-30 13:37] #2122 closed

[2021-09-30 13:38] peluse commented on #2177
@gaowayne yes for sure.  I've had it in the back of my mind but wasn't sure how valuable anyone would find it.  I'll close this and put it on Trello where we like to keep backlog items.  Feel free to work on it if not it's possible it well get some attention in the next quarter or so.

[2021-09-30 13:38] #2177 closed

[2021-09-30 13:40] AlekseyMarchuk commented on #2122
@adamagniv Thanks for the update!

[2021-09-30 16:05] spdkci commented on #1950
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_58979.html

[2021-09-30 16:43] antroseco opened #2186 "nvmf/vfio-user: controller-level reset does not delete I/O queues"
# Bug report

## Expected Behavior

From page 131 of the NVMe Base Specification 2.0a:

## Current Behavior

We only delete the admin queue, and pray that the host has already deleted all I/O queues (there's no guarantee that it's gonna do that).

This also applies to the shutdown procedure (in case of an abrupt shutdown, the host is not supposed to delete the I/O queues).

CC: @jlevon

[2021-10-01 06:53] spdkci commented on #1969
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_59474.html

[2021-10-01 09:15] spdkci commented on #1969
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_59484.html

[2021-10-01 09:24] AlexTalker commented on #2167
@AlekseyMarchuk Any luck with debugging of the issue?
Can I help you out with it in any way?
Say, maybe you have some patches that fix the issue and I can test them out on my use-case.

[2021-10-01 11:48] spdkci commented on #1969
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_59479.html

[2021-10-01 11:49] spdkci commented on #1969
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_59478.html

[2021-10-01 11:49] spdkci commented on #1969
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_59477.html

[2021-10-01 16:12] KKaras169169 opened #2187 "[nvmf_example] Fail due to insufficient number of tcp interfaces"
# CI Intermittent Failure

During nvmf-tcp-phy-autotest, nvmf_example test returned error on bash test for available tcp interface number.

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_59469.html

## Execution failed at

[code]

[2021-10-01 16:14] spdkci commented on #2187
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_59469.html

[2021-10-01 16:15] spdkci commented on #2128
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_59470.html

[2021-10-01 16:19] spdkci commented on #1950
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_59487.html

[2021-10-01 22:17] mkenguva opened #2188 "[bdev_ut] git push review failed"
`bdev_ut.c: In function ‘bdev_multi_allocation’:
bdev_ut.c:4753:43: error: ‘%d’ directive output may be truncated writing between 1 and 10 bytes into a region of size 6 [-Werror=format-truncation=]
   snprintf(name[j], sizeof(name[j]), "bdev%d", j);
                                           ^~
bdev_ut.c:4753:38: note: directive argument in the range [0, 2147483646]
   snprintf(name[j], sizeof(nam

[2021-10-02 07:26] spdkci commented on #2187
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_59494.html

[2021-10-02 07:27] spdkci commented on #2128
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_59495.html

[2021-10-02 12:39] AlekseyMarchuk commented on #2167
Hi @AlexTalker
I contacted people who are responsible for dpdk module, waiting for their response. For now I mark this problem as 3rd party. Probably this issue will be redirected to mofed.

[2021-10-03 14:27] spdkci commented on #2187
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_59507.html

[2021-10-03 14:31] mikeBashStuff commented on #2185
This is duplicate of #2150.

[2021-10-03 14:31] mikeBashStuff commented on #2150
Potential fix waiting in review: https://review.spdk.io/gerrit/c/spdk/spdk/+/9461

[2021-10-04 01:56] optimistyzy commented on #2188
change the size of the destination string according to the description, then the issue can be addressed，e.g., change the size of name From 6 to 11.

[2021-10-04 03:59] MattDumm commented on #2055
@AlekseyMarchuk - Still working on testing on my end. The underlying changes that make subsystem destruction asynchronous are complicating matters but I'll let you know what I find.

[2021-10-04 06:14] spdkci commented on #2114
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_59402.html

[2021-10-04 07:55] tomzawadzki commented on #2178
This was indeed misconfiguration, the `sudo tc filter add...` was not called.
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/9703/ works around it, but it's already suggested to create a separate patch that targets this issue specifically.
@msudheer337 no need to look into this particular issue, thanks tho !

[2021-10-04 08:01] #2185 closed

[2021-10-04 12:37] peluse commented on #2168
heard back from a dev, will provide update once there's a plan

[2021-10-04 12:53] wawryk commented on #2178
[Patch](https://review.spdk.io/gerrit/c/spdk/spdk/+/9717) created

[2021-10-04 13:45] peluse commented on #2168
See https://review.spdk.io/gerrit/c/spdk/spdk/+/9720 will do the same for compress vbdev soon

[2021-10-04 17:03] mkenguva commented on #2188
Hi Ziye, the bdev_ut is not my focus code. I did not edit bdev_ut tests. I rebase my accel_engine_ut patch on latest master today morning and no longer see this issue,

[2021-10-04 17:03] #2188 closed

[2021-10-04 17:40] jimharris commented on #2135
If you have 4 virtqueues, then you can set the IOPs threshold to 100K IOPs.  This basically has the same effect as if you have a per-device coalescing RPC set with a 400K IOPs limit.

The per-queue coalescing has been in place for a long time, so we cannot simply change it to per-device.  So the question is really if we need a per-device coalescing RPC.  In the examples you've shown above, it seem

[2021-10-04 18:08] jimharris commented on #2187
so all of these are on GP9 - which I'm guessing now has an E810 (ice) NIC installed

nvmf_tcp_init calls get_tcp_if_list_by_driver, which by default looks for ice interfaces - if it finds one interface, this function returns to nvmf_tcp_init and will *not* configure the veth and instead fails on the check that @KKaras169169 shows above

looks like commit 460bacc914 added these changes - @wanghaili

[2021-10-04 22:02] jimharris commented on #2157
Thanks @karlatec.  So on the target all 4 bdev nvme poll groups are still running.  So it doesn't seem like the initiator has started disconnecting yet.

As you keep trying to reproduce this locally, could you turn off group reporting?  I'd really like to know if this one job that's hung ever completed any I/O.  I see the io_u_in_flight is 43 - which is qd=128 divided by 3.

[2021-10-04 22:13] jimharris commented on #2165
@mikeBashStuff can you still repro this locally?

Thread #2 is actively shutting down the bdev subsystem, while thread #1 is still doing bdev operations.  That explains weirdness around pointer accesses, if we're dereferencing buffers that have been freed.

Is there a more complete log that might show any other messages from bdev_bounds before the abort occurs?

[2021-10-04 22:27] jimharris commented on #2165
This could potentially happen if tests.py exited for some reason while the perform_tests operations started by the RPC were still in progress.  In that case the blockdev.sh script would immediately proceed with killing the bdevio app which would cause the problem seen above.

But that's actually not happening here, since the bash bt clearly shows we're still executing the tests.py script.

I just

[2021-10-05 07:55] tomzawadzki commented on #2113
After some further testing this look like a target issue. Initiator failures are seen due to failing to connect the NVMe-oF qpairs.

Adding a bit of [logs ](https://review.spdk.io/gerrit/c/spdk/spdk/+/9669)around the sock_map placement it seems that issue stems from `spdk_sock_map_lookup()` being done on different thread than `spdk_sock_map_insert()`. More importantly resulting in race between loo

[2021-10-05 08:37] #2178 closed

[2021-10-05 08:38] spdkci commented on #1969
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_59565.html

[2021-10-05 08:42] spdkci commented on #1969
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_59574.html

[2021-10-05 08:42] spdkci commented on #2187
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_59576.html

[2021-10-05 09:03] spdkci commented on #1969
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_59552.html

[2021-10-05 09:03] spdkci commented on #1969
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_59543.html

[2021-10-05 09:04] spdkci commented on #1969
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_59549.html

[2021-10-05 09:28] tomzawadzki commented on #1664
@EugeneKochetov Can you update on the current status ? Are there specific patches in review that could be referenced in this issue ?

[2021-10-05 09:31] tomzawadzki commented on #2173
Patch fixing the issue has been merged https://review.spdk.io/gerrit/c/spdk/spdk/+/9604. Closing the issue.

[2021-10-05 09:31] #2173 closed

[2021-10-05 09:34] tomzawadzki commented on #2179
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/9676 has been merged. @thatsdone Does that resolve this issue from your point of view ?

[2021-10-05 09:39] mikeBashStuff commented on #2165
@jimharris I already scrapped the testing environment where this issue happened, will need to bring it up again to retest it - will try to do handle it this week.

[2021-10-05 09:45] EugeneKochetov commented on #1664
Patches are on review here: https://review.spdk.io/gerrit/c/spdk/spdk/+/6510
They require rebase now. I'm working on it

[2021-10-05 09:45] tomzawadzki commented on #1917
@gila @jonathan-teh The series above has been merged. Can you confirm that the issues you've been seeing are resolved and the issue can be closed ?

[2021-10-05 10:16] spdkci commented on #2128
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_59597.html

[2021-10-05 10:40] tomzawadzki commented on #1187
Hi @peluse any updates if the redesign is going to make into DPDK 21.11 and/or are changes required on SPDK side to accommodate the redesign ?

[2021-10-05 10:44] tomzawadzki commented on #1816
The revert patch 7fed70f1bdcd491738211c726542446795606ec6 was merged, this issue can be closed.

[2021-10-05 10:44] #1816 closed

[2021-10-05 10:54] tomzawadzki commented on #2046
Has not occurred for over a month, closing.

[2021-10-05 10:54] tomzawadzki commented on #2166
Closing since the dependency has been installed two weeks ago, no reports since.

[2021-10-05 10:54] #2166 closed

[2021-10-05 10:55] tomzawadzki commented on #2118
@mikeBashStuff Any updates on changes on the SM7 ?

[2021-10-05 10:57] tomzawadzki commented on #2115
The size increase of the VM disk size is scheduled for deployment, @mikeBashStuff please close the issue once that is done.

[2021-10-05 11:05] tomzawadzki commented on #2081
@shuhei-matsumoto usually the intermittent failure issues are closed if no new reports are submitted for long time. The patch you've submitted looks good to me. Do you want to work further on this issue besides the patch or should this issue be closed ?

[2021-10-05 11:09] tomzawadzki commented on #2176
This was temporary CI infrastructure issue that has since been resolved.

[2021-10-05 11:09] #2176 closed

[2021-10-05 11:12] mikeBashStuff commented on #2118
@tomzawadzki The grub's env was completely broken for some reason - fixed that and updated the kernel cmdline as well (iommu was disabled, as compared to other nodes in the pool, so now vfio should be used instead of uio for the tests). Nothing in particular changed regarding the hp setup since it all looks sane to me. Added the node back to the pool to see how it behaves so let's monitor for now.

[2021-10-05 11:40] spdkci commented on #2041
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_59604.html

[2021-10-05 11:41] #1802 closed

[2021-10-05 13:19] peluse commented on #1187
I thought I updated this yesterday,  Seems there is a close API.  See https://review.spdk.io/gerrit/c/spdk/spdk/+/9720

[2021-10-05 13:20] peluse commented on #1187
No update, I'll ask

[2021-10-05 15:17] thatsdone commented on #2179
Hi @tomzawadzki,

Yes, it looks good to me. :)
Thanks @jimharris !

Best regards,
Masanori

[2021-10-05 15:22] #2179 closed

[2021-10-05 20:49] yuezhu1 opened #2189 "nvmf_tgt crash when having too many initiators"
# Bug report

`build/bin/nvmf_tgt -m 0xff0 -u --wait-for-rpc`  crash after creating 1856 Ceph RBD bdev via `bdev_rbd_create` without indicating the Ceph cluster name

## Expected Behavior

expect to see adding Ceph rbd disk successfully. For example,
`bdev_rbd.c:1274:bdev_rbd_create: *NOTICE*: Add Ceph1856 rbd disk to lun`
`bdev_rbd.c:1274:bdev_rbd_create: *NOTICE*: Add Ceph1857 rbd disk to lun`
`

[2021-10-05 21:34] spdkci commented on #1969
Another instance of this failure. Reported by @mkenguva. log: https://ci.spdk.io/public_build/autotest-per-patch_59546.html

[2021-10-05 21:37] jimharris commented on #2189
Thanks for the report @yuezhu1.

Maybe we should print a warning message when bdev_rbd_create RPC is called without a -c <cluster name> option?  Basically warning the user that this is suboptimal, and should use bdev_rbd_register_cluster + bdev_rbd_create -c.

Then if user tries to create 2000 rbd bdevs (without specifying -c) and Ceph asserts, it will be clear from the log messages what their nex

[2021-10-05 21:59] spdkci commented on #2187
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_59579.html

[2021-10-05 22:01] spdkci commented on #2187
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_59572.html

[2021-10-05 22:32] mikeBashStuff commented on #2187
These failures actually happened on GP2 - not sure why jenkins reported GP9 as the remote node, odd (later in the log you can see actual hostname of the system. The pci addresses of the ice ctrls also don't match what's available on GP9, but they do match GP2's).

Also, this points at the fact that there's proper amount of devices available on the node:

[code]

however, one of the net devices is

[2021-10-05 23:33] jimharris opened #2190 "blobstore: large unmap operations not performed optimally"
Reported by DAOS team (https://daosio.atlassian.net/browse/DAOS-8616 - may require an Atlassian account to view).

struct spdk_bs_dev defines its unmap and write_zeroes function pointers to take a uint32_t lba_count parameter.  uint32_t is not sufficient for 2TB+ SSDs formatted for 512B block size.

This primarily affects unmap operations, since by default we only write zeroes to the metadata page

[2021-10-05 23:59] jimharris commented on #2190
https://review.spdk.io/gerrit/c/spdk/spdk/+/9737

We should consider back porting this to SPDK 21.07.x and 21.01.x branches.

[2021-10-06 01:06] shuhei-matsumoto commented on #2081
Thank you @tomzawadzki

No, I don't want to work further on this issue :)
This issue might be temporary and fixed by recent changes.
More than one month passed since the last report. I'm happy if the patch is merged but I'm OK to close this issue even if it is not.

[2021-10-06 06:20] spdkci commented on #1969
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_59644.html

[2021-10-06 10:22] rafalste commented on #2120
Hi @USTCqzy,
it turns out that the problem was related to sequential cutoff and its unoptimized implementation in OCF 20.12. This is already improved in OCF 21.6 but to resolve this issue it also needed a slight modification in OCF adapter in SPDK.
Moreover, OCF 21.6 is not yet available in upstream SPDK, so I will let you know when all of those changes will be merged in SPDK.
Let me know if this

[2021-10-06 10:35] rafalste commented on #2121
Hi @USTCqzy,
have you managed to test your configuration with Open CAS Linux yet?

[2021-10-06 12:46] USTCqzy commented on #2120
@rafalste Thanks for your explanation!
Actually, this problem is crucial for my research. I am occupied by other things these days, so I plan to test more next week. If your optimizations cannot be officially available in a few days, I would be eager to get a patch in advance.
Btw, OCF is really crucial for my experiments. Thanks for your persistent development!!!

[2021-10-06 15:07] spdkci commented on #2114
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_59673.html

[2021-10-06 19:50] spdkci commented on #2114
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_59677.html

[2021-10-07 06:57] spdkci commented on #1988
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_59694.html

[2021-10-07 07:00] spdkci commented on #1988
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_59679.html

[2021-10-07 13:13] rafalste commented on #2120
@USTCqzy here you have two patches that might resolve your issue:
https://review.spdk.io/gerrit/c/spdk/spdk/+/9129
https://review.spdk.io/gerrit/c/spdk/spdk/+/9786

The first one is OCF update, so you could take advantage of our (almost) latest improvements and the second one modifies the adapter a bit to set proper values for new parameters.
Please share your results after you take it for a test

[2021-10-08 00:47] spdkci commented on #2187
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_59791.html

[2021-10-08 02:03] changpe1 commented on #2186
@antroseco SPDK will delete all the IO queues for controller reset. you may refer the code in nvmf_prop_set_cc() nvmf/ctrlr.c.  The same for shutdown process.

[2021-10-08 02:05] changpe1 commented on #2186
For controller reset, it is same for fabric and vfio-user transports, so its implementation is in the internal public APIs.

[2021-10-08 02:24] zlsh007 opened #2191 "Inconsistent crc found at the bdev layer"
# Bug report
Hi, everyone. Recently, our testing colleagues found that the bdev layer occasionally has two consecutive crc verification results that are different. Even if a memory barrier is added, it has no effect. The following code is the test logic, output the crc check value for two consecutive iterations, and then compare whether they are equal. If they are not equal, print out the content

[2021-10-08 05:13] dong-liuliu commented on #2189
Ack, I'll take some time to look into it.

[2021-10-08 10:29] mikeBashStuff opened #2192 "ASAN reports memory leaks with fio-3.28 during nvme_fio test"
[code]

Trace looks like the following:
[code]

This is not affecting CI for now, it popped up while testing new VM images. From the trace it doesn't really look like something with the SPDK rather with fio itself but leaving it here for tracking and in case someone comes up with a quick fix. :)

[2021-10-08 15:20] jlevon commented on #2186
We need to hook this into the reset callback though

[2021-10-08 16:50] jimharris commented on #2190
The uint32_t parameters are problematic, and will be fixed with the 9737 patch above.

But the large unmap operations aren't taking effect for a different reason.  The spdk_bs_init() already tries to chunk up the large unmap into UINT32_MAX size chunks, but UINT32_MAX number of 512B blocks is not an even number of physical blocks on the SSD (usually 4KiB or 64KiB).  So some SSDs may just complete

[2021-10-08 18:07] jonathan-teh commented on #1917
I've re-tested the above scenarios with single and dual targets, the re-exported nvme bdev, and resets, and they work fine against e4913b3. I notice 00d5871 has addressed the blocking CSTS reads from `bdev_get_bdevs`.
With that, this can be considered resolved and can be closed. Thank you for addressing this.

[2021-10-09 01:10] jiguanglizipao commented on #922
I met the same issue with SPDK v21.04.

[2021-10-09 07:22] Comphix commented on #2191
Could you have a try to config --with-out isa-l as this implementation is through ISA-L? Let's first have another check with the CPU version.

#ifdef SPDK_HAVE_ISAL

uint32_t
spdk_crc32c_update(const void *buf, size_t len, uint32_t crc)
{
	return crc32_iscsi((unsigned char *)buf, len, crc);
}

#elif defined(SPDK_HAVE_SSE4_2)

[2021-10-09 07:51] Comphix commented on #2191
Ok, in this case, it shall use the CPU (SSE4_2) version (the CPU with sse4_2 as mentioned). Could add some trace to make sure whether version is used.

And maybe we still could have a try for the ISA-L version.

If this issue is gone with ISA-L version (as described, this issue could be reproduced after hours running), it could be some possible issue with the CPU (SSE4_2) implementation.

If this

[2021-10-09 09:18] zlsh007 commented on #2191
I added debugging information, the logic is sse4_2.

` Sat Oct  9 17:13:26 2021 440816 us: crc32c.c:  66:spdk_crc32c_update: *NOTICE*: sse4_2`
Later, I will run through the logic of isal to see if there is the same problem.

[2021-10-11 03:49] Pangzhihong opened #2193 "An error is reported when the SPDK connects to the iSCSI."
**linux-DMEYYd:~ # /opt/uvp/spdk/vhost -c ~/vhost.conf**
vhost.c: 165:vhost_lock: *NOTICE*: lock vhost /var/run/vhost.lock.
app.c: 859:spdk_try_env_lock: *NOTICE*: lock file successfully:/var/run/hugepages_dpdk_lock.
Starting SPDK v19.01.1 / DPDK 19.11.0 initialization...
[ DPDK EAL parameters: vhost --iova-mode=pa --match-allocations --no-shconf -c 0x30 --no-pci --base-virtaddr=0x200000000000 --f

[2021-10-11 06:22] spdkci commented on #1969
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_59730.html

[2021-10-11 08:00] mikeBashStuff commented on #2184
The single report comes from the GP9 which was affected by various different issues. It was disconnected from the CI pool due to these instabilities. Closing this for now, if it pops up on any other system let's reopen it.

[2021-10-11 08:43] wanghailiangx commented on #2187
@jimharris Thank you for your advice, I added a NIC interface number vaule for tcp test, this patch has been updated.

[2021-10-11 09:02] changpe1 commented on #2191
You can run fio inside the VM with the verification enabled.

For your tests above, do you have a chance to test spdk_crc32_update() with allocated data buffers? we should narrow down this issue.

[2021-10-11 09:32] zlsh007 commented on #2191
@changpe1 Do you want to calculate the CRC from the tmp array of memcpy after finding that crc_tmp_1 is not equal to crc_tmp_2, or calculate the CRC at each stage of iov copy? The method of fio verify remembers that there was no inconsistency in the previous operation, I will run the test again to verify it.

Thanks

[2021-10-11 09:36] dong-liuliu commented on #2191
From your issue description, memory barrier is used for some kind of concurrency consideration.
So probably that during CRC calculation and memory copy, data inside iovs was polluted.
Can you add some details about your external concurrency logic?

[2021-10-11 10:57] spdkci commented on #2114
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_59873.html

[2021-10-11 16:32] tmakatos opened #2194 "[NVMf/vfio-user] cannot fail to abort command"
I'm looking at the abort behavior in NVMf/vfio-user. I'm using a custom bdev device (it's super simple) and I'm trying to simulate a scenario where the guest needs to abort a command. Specifically I'm deliberately not completing write commands at all so after 30 seconds the guest driver sends an abort command. My plan is to always complete abort requests without aborting the command in question (s

[2021-10-12 02:14] shuhei-matsumoto opened #2195 "[nvme_hotplug] NVMe controller initialization timed out in state 10 (disable and wait for CSTS.RDY = 1 reg)"
# CI Intermittent Failure

00:05:23.335  [2021-10-11 19:32:00.974398] [ DPDK EAL parameters: [2021-10-11 19:32:00.974511] hotplug [2021-10-11 19:32:00.974596] -c 0x1 [2021-10-11 19:32:00.974681] --log-level=lib.eal:6 [2021-10-11 19:32:00.974779] --log-level=lib.cryptodev:5 [2021-10-11 19:32:00.974869] --log-level=user1:6 [2021-10-11 19:32:00.974947] --iova-mode=pa [2021-10-11 19:32:00.975024] --ba

[2021-10-12 02:15] spdkci commented on #2195
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_59978.html

[2021-10-12 02:39] changpe1 commented on #2194
@tmakatos similar with live migration, for reset callback, SPDK still needs the asynchronous API, I can add the support to delete all the IO queues in the reset callback for now.

[2021-10-12 06:27] Pangzhihong commented on #2193
but the previous error is still reported when Read Capacity 10 is used.

[2021-10-12 08:23] mikeBashStuff commented on #2187
There's also an ongoing plan to refactor the way how we detect devices needed for the nvmf tests - https://review.spdk.io/gerrit/c/spdk/spdk/+/7849. Mentioning it here just in case we attempt to mitigate this particular issue by introducing more  changes to the `test/nvmf` suite.

[2021-10-12 08:35] tmakatos commented on #2186
Fixing this depends on https://github.com/nutanix/libvfio-user/issues/610.

[2021-10-12 09:24] jlevon opened #2196 "nvmf: CNTRLTYPE must not be zero"
""
NVM Express ® Base Specification, revision 2.0
Figure 275: Identify – Identify Controller Data Structure, I/O Command Set Independent

Controller Type (CNTRLTYPE): This field specifies the controller type. A value of 0h
indicates that the controller type is not reported.

Implementations compliant to NVM Express Base Specification revision 1.4 or later shall
report a controller type (i.e., the

[2021-10-12 09:57] jlevon opened #2197 "nvmf: NOWS field should match up with NPWA"
Since this change:

https://github.com/spdk/spdk/commit/b32cfc467b3f3a6a7bd00631334612f6181f7c08

we set NPWG. However, it appears NOWS is still zero, but the spec says:

"
Namespace Optimal Write Size (NOWS): This field indicates the size in logical blocks
for optimal write performance for this namespace. This is a 0’s based value. If the NSABP
bit is cleared to ‘0’, then this field is reserved.

[2021-10-12 09:57] jlevon commented on #2197
cc @swapnili

[2021-10-12 11:25] tomzawadzki commented on #2192
Patch resolving this issue on SPDK side https://review.spdk.io/gerrit/c/spdk/spdk/+/9822.

[2021-10-12 11:28] tomzawadzki commented on #2168
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/9720 is now merged, removing patches out for review label. @peluse please add it back once there are similar patches for compress vbdev.

[2021-10-12 16:22] #2192 closed, assigned to nobody

[2021-10-12 17:18] jlevon commented on #2196
I'd missed it was still reporting 1.3, thanks.

[2021-10-12 17:18] #2196 closed, assigned to nobody

[2021-10-12 21:17] jimharris commented on #2193
Hi @Pangzhihong,

Note - it looks like you're using an old version of SPDK, since it is still using the INI conf file format (instead of JSON-RPC).  But I think I might still see the problem:

[code]

I believe the /1 at the end of the URL specifies the LUN ID.  Can you confirm that you've configured the target with a LUN 1 on this target node?  If you only configured a LUN 0, then it would explai

[2021-10-12 23:31] peluse commented on #1187
Just asked for anoretic update from DPDK contact Fan and cc/d Jim letting Fan know I'm on sabbatical in a few days until Dec 1

[2021-10-12 23:32] peluse commented on #1863
Seems like this still happens every once in a while, strange.  Either way I'm on sabbatical before the next bug scrub so this can sit until Dec 1 or someone else can grab it.  Good luck!

[2021-10-13 01:26] jimharris commented on #2193
It looks like v19.01.1 had a lot of bugs around lun handling, which have since been fixed.  For example, see line 670 - the second argument should be req->lun, not 0.  You'll want to look for similar cases in other libiscsi calls in this file.

[2021-10-13 01:51] Pangzhihong commented on #2193
Thank you, I did see the problem with this parameter 0, so I'll try to fix it including other libiscsi calls in this file.

[2021-10-13 10:30] mikeBashStuff commented on #2187
@jimharris

Current nvmf test cases are currently written in a specific and not very flexible way. For instance, as this may be not be very clear, `nvmf-phy-autotest` is targeting the mlx setup, while `nvmf-tcp-phy-autotest` the ice - this is handled by shuffling drivers on the target system by the CI (it basically unloads modules from the kernel for interfaces we don't want to test and keep those

[2021-10-13 12:58] KKaras169169 commented on #2115
We have got a verification from CI on the [intel-ipsec-mb update](https://review.spdk.io/gerrit/c/spdk/spdk/+/7976)after the size has been increased. Closing the issue.

[2021-10-13 12:58] #2115 closed

[2021-10-13 21:54] spdkci commented on #2128
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_60132.html

[2021-10-14 01:58] shuhei-matsumoto commented on #2081
The last date we saw this issue was more than a month ago.
Let's close this issue.

[2021-10-14 01:58] #2081 closed

[2021-10-14 02:01] #2057 closed

[2021-10-14 02:37] changpe1 commented on #2194
For the controller reset failure issue inside the VM, because when CC.EN is set to 0, SPDK will disconnect all the IO queues, since there is one request didn't return from backend, so SPDK will not free that IO queue, but SPDK do set the RDY to 1, because SPDK just calls `spdk_nvmf_qpair_disconnect` but doesn't wait for its completion. @jlevon also mentioned this in Slack.

[2021-10-14 04:49] jimharris commented on #2157
So we see this, right after fio starts.

[code]

I don't understand why we're getting RPC client command timeouts.  These are happening while the app is doing initialization with the json config file.  Can you post the /tmp/spdk/bdev.conf that gets used for these hangs?

These prints occur every ten seconds, do you see them while I/O is running from fio?  Or is it hanging here and delaying fio fro

[2021-10-14 05:53] jimharris commented on #2157
Patches which add a "log_flags" fio parameter to the SPDK fio plugins.

https://review.spdk.io/gerrit/c/spdk/spdk/+/9870 (bdev)
https://review.spdk.io/gerrit/c/spdk/spdk/+/9871 (nvme)

If you run with these patches, you can add:

[code]

with a debug build and we'll get a ton more information on all of these json_config timeouts.

[2021-10-14 07:55] tomzawadzki opened #2198 "[nvmf-tcp-uring-vg-autotest] Build timed out (after 15 minutes)"
# CI Intermittent Failure

nvmf-tcp-uring-vg-autotest job is packed to the brim, slight differences in execution time causes it to go over the 15 minute limit.

Parts of this job need to be re-evaluated across other jobs. By finding the longest parts of the tests https://ci.spdk.io/results/autotest-per-patch/builds/60157/archive/nvmf-tcp-uring-vg-autotest/timing.svg and comparing to duplicates acr

[2021-10-14 07:56] spdkci commented on #2198
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_60157.html

[2021-10-14 09:17] jlevon opened #2199 "nvmf: ctrlr-level reset doesn't wait for cleanup"
When CC.en is toggled to 0, the controller should reset. We currently do:

[code]

[code]

However, this doesn't actually wait for the queues to be fully deleted. The spec says this:

[code]

A host driver is then supposed to do this:

[code]

Back to the set CC handler:

[code]

We immediately mark ourselves as ready.

Thus it seems like this is racy: we've not necessarily finished the last `_nvm

[2021-10-14 09:36] tmakatos commented on #2194
@changpe1 so what happens if the request never completes? Shouldn't NVMf/vfio-user handle this case?

[2021-10-14 09:51] zlsh007 commented on #2191
@jimharris Sorry I just saw this message today. I'll try it this way.

Thanks

Su

[2021-10-14 09:52] mikeBashStuff commented on #2198
@tomzawadzki will try to take a stab at it, thanks for all the feedback.

[2021-10-14 12:45] jlevon commented on #2194
I agree with thanos that nvmf should attempt to abort commands on a reset...

[2021-10-14 14:15] karlatec commented on #2157
Thanks @jimharris ! To my amazement I was able to reproduce the issue in debug mode, but I only enabled it on initiator side.
Switched the reproduction a bit - I used just a single initiator so that the output from two initiators would not be mangled.

One reproduction finished with fio printing the results, but it was still hanging and would not exit on it's own until I SIGKILLed it.
[initiator_e

[2021-10-14 14:29] raghukolagi opened #2200 "Cmb_copy failed with Core dump error"
# Bug report
Cmb_copy failed with Core dump error

Testing cmb copy with 2 nvme disk and getting Coredump error
**Command**: ./cmb_copy -r 0000:00:0b.0-1-0-1 -w 0000:00:0c.0-1-0-1 -c 0000:00:0b.0
[2021-10-14 10:21:30.091158] Starting SPDK v21.10-pre git sha1 87e9ae403 / DPDK 21.08.0 initialization...
[2021-10-14 10:21:30.091741] [ DPDK EAL parameters: [2021-10-14 10:21:30.091767] cmb_copy [2021-10

[2021-10-14 23:40] jimharris commented on #2157
Thanks @karlatec.  Glad it still reproduced with debug mode and a single initiator!  That will hopefully make it easier to get to root cause.

So this time there are no RPC client timeouts.  We see the last JSON initialization message at 15:28:27 (which is probably when I/O started), and the first error message at 15:29:57 - exactly 90 seconds later.  The fio test time is 60 seconds.

Can you try

[2021-10-15 00:51] changpe1 commented on #2200
can you have a try using test/nvme/cmb/cmb.sh script, looks like your SSDs are not attached to the application.

[2021-10-15 08:40] spdkci commented on #2198
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_60390.html

[2021-10-15 08:40] spdkci commented on #2128
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_60386.html

[2021-10-15 09:38] mikeBashStuff opened #2201 "[sw_hotplug] No enough insert events detected"
https://ci.spdk.io/results/autotest-per-patch/builds/60402/archive/nvme-cmb-pmr-vg-autotest/build.log

Most likely this is a timing issue.

[code]

[2021-10-15 09:39] KKaras169169 opened #2202 "[nvme_fio] LeakSanitizer: detected memory leaks"
# CI Intermittent Failure

During nvme-vg-autotest, nvme_fio test LeakSanitizer reported memory leaks.

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_60389.html

## Execution failed at

`Run status group 0 (all jobs):
00:06:47.660     READ: bw=79.5MiB/s (83.4MB/s), 79.5MiB/s-79.5MiB/s (83.4MB/s-83.4MB/s), io=159MiB (167MB), run=2001-2001msec
00:06:47.660    WRI

[2021-10-15 09:40] spdkci commented on #2202
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_60389.html

[2021-10-15 09:41] KKaras169169 commented on #2202
Duplicate of  [#2192](https://github.com/spdk/spdk/issues/2192)

[2021-10-15 09:41] #2202 closed, assigned to nobody

[2021-10-15 12:00] wawryk opened #2203 "[crypto-autotest] Crypto autotest failure due to missing QAT card"
# CI Intermittent Failure

## Link to the failed CI build
https://ci.spdk.io/results/autotest-per-patch/builds/60415/archive/crypto-autotest/build.log

This is issue related to our WFP16 node.
We do not have QAT card installed in this system, and have by wrong label on it in our CI.
Label fixed.
This intermittent failure should not occur anymore

## Execution failed at

[code]

[2021-10-16 12:02] EugeneKochetov opened #2204 "RBD bdev performance doesn't scale when adding more RBD images"
# Bug report

Performance of one RBD image (bdev_rbd) is usually quite low and SPDK is not a bottle neck. When more RBD bdevs are added to loadshare and improve overall performance, SPDK becomes a limiting factor because only one SPDK core is handling all RBD IOs.

Issue was introduced by this patch: https://github.com/spdk/spdk/commit/e1e73440d37b1b9ee3ab5a5497e52b7187e4eebd. The patch itself is

[2021-10-17 08:46] zlsh007 commented on #2191
The test results are in, but so far the crc-inconsistent check information is in a self-implemented Bdev under the generic Bdev layer. I applied the same validation policy to both layers. CRC check is performed on the IOV data twice in a row. If any inconsistency is found, the DATA in the MEMCPY and IOV is printed out. Then, the DATA in the IOV and MEMCPY are verified twice in a row.he current phe

[2021-10-18 05:36] raghukolagi commented on #2200
I ran the cmb.sh script and below is the output of the script. I think SSD probing is success but later its not able to find SSD,  please let me know what could be an issue

[root@fedora cmb]# ./cmb.sh
* Looking for test storage...
* Found test storage at /home/test/spdk/test/nvme/cmb
  00:55:04	-- common/autotest_common.sh@1417 -- # xtrace_enable
 00:55:04	-- ./cmb.sh@6 -- # shopt -s extglob null

[2021-10-18 05:39] KKaras169169 commented on #2040
The issue still persists for our latest master branch.

[2021-10-18 05:49] changpe1 commented on #2200
we don't have a CMB enabled physical NVMe SSD environment, I don't know where the issue is.  You may debug the issue with cmb_copy example to see where this issue is.

[2021-10-18 09:47] spdkci commented on #1456
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_60488.html

[2021-10-18 09:53] tomzawadzki commented on #2128
Another instance https://ci.spdk.io/public_build/autotest-per-patch_60485.html

[2021-10-18 10:05] mikeBashStuff commented on #1456
I wonder if this is a timing issue, i.e., we attempt to write to a device before ctrl is actually ready (though I would expect the block device to pop up AFTER the ctrl is live and ready). I just checked and after reboot, the drive is actually accessible. Relevant parts of the kernel log:
[code]

[2021-10-18 10:16] spdkci commented on #2128
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_60448.html

[2021-10-18 17:07] jimharris commented on #2200
Hi @raghukolagi,

Can you confirm that your SSD has a CMB?  You can run build/examples/identify to confirm.

@changpe1 - we also have a bug in this cmb_copy application - it needs to check that the read and write ctrlrs were successfully attached.  Otherwise it tries to alloc io qpairs for a NULL ctrlr (which triggers the assert in the original post).

-Jim

[2021-10-18 23:02] mpiszczek opened #2205 "[basic_test_spdk_upstream_ci] Que task was canceled after 21h waiting"
# CI Intermittent Failure

Running basic_test_spdk_upstream_ci the job was cancelled after waiting 21 hours for next available executor

## Link to the failed CI build

https://swx-ci.mellanox.com/spdk-test/blue/organizations/jenkins/basic_test_spdk_upstream_ci/detail/basic_test_spdk_upstream_ci/19764/pipeline

## Execution failed at

[2021-10-14T14:19:42.758Z] Triggered by Gerrit: https://review.

[2021-10-19 01:17] changpe1 commented on #2200
that's true, I will add a fix for it.

[2021-10-19 06:28] changpe1 commented on #2199
Here is the patch to fix the issue, it will start a timer when there is active IO queues. https://review.spdk.io/gerrit/c/spdk/spdk/+/9908

[2021-10-19 08:32] zlsh007 commented on #2191
Clicking on the link directly may not reach the target page, you can copy the address to search.

[2021-10-19 09:38] mikeBashStuff opened #2206 "Memory leaks detected in scheduler_create_thread test"
Spotted in one of the nightly tests for vs-dpdk job:

https://ci.spdk.io/results/autotest-spdk-master-vs-dpdk-v21.08/builds/409/archive/lvol-nightly-vg-autotest/build.log

Point of failure:

[code]

[2021-10-19 15:06] #2193 closed

[2021-10-20 00:27] jimharris commented on #2157
This is all really helpful Karol.  Can you re-run with this patch?  This should generate some extra log messages on the target.

https://review.spdk.io/gerrit/c/spdk/spdk/+/9926

[2021-10-20 01:54] changpe1 commented on #2200
A patch is added via https://review.spdk.io/gerrit/c/spdk/spdk/+/9927

[2021-10-20 02:58] jimharris commented on #2206
https://review.spdk.io/gerrit/c/spdk/spdk/+/9928

[2021-10-20 05:47] changpe1 commented on #2194
I proposed a fix patch https://review.spdk.io/gerrit/c/spdk/spdk/+/9909

[2021-10-20 06:06] spdkci commented on #2206
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_60662.html

[2021-10-20 07:50] changpe1 commented on #2200
Patch has been merged, close this issue.

[2021-10-20 07:50] #2200 closed

[2021-10-20 10:21] spdkci commented on #2066
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_60684.html

[2021-10-20 12:35] spdkci commented on #2206
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_60727.html

[2021-10-20 12:38] spdkci commented on #2128
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_60730.html

[2021-10-20 13:12] spdkci commented on #2206
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_60743.html

[2021-10-20 19:36] jimharris commented on #2157
I made a small change to the 9926 to reduce the ERRLOGs a bit - could you try it again to see if you can reproduce with the latest version of that patch?

[2021-10-20 20:43] jimharris opened #2207 "[nvme_hotplug] Huge log files of INVALID NAMESPACE OR FORMAT generated"
https://ci.spdk.io/public_build/autotest-per-patch_60773.html shows the problem, but the failure there does not seem to be related to these huge log files.

We see the following when running the nvme_hotplug test.  The logs are HUGE and make it difficult to get to the actual failure at the end of the log.

00:05:42.825   22:16:01	-- nvme/hotplug.sh@16 -- # local hotplug_wait=6
00:05:42.825   22:16

[2021-10-20 20:54] jimharris commented on #2207
I think it's possible this has something to do with issue #1456.  I mentioned above that these logs aren't the cause of the actual failure, but the eventual failure is exactly what is described in #1456.

[2021-10-21 01:31] spdkci commented on #2207
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_60779.html

[2021-10-21 01:35] spdkci commented on #2206
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_60780.html

[2021-10-21 02:28] yidong0635 commented on #2191
@zlsh007  I got  compiling errors due to the unit of iovcnt, I found that sometime it uses uint32_t sometimes int, first of all , we should unify this , I am curious that doesn't have your meet this problem?

[2021-10-21 04:12] spdkci commented on #1456
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_60782.html

[2021-10-21 07:40] dong-liuliu commented on #2190
Do we need to lable this issue as "enhancement", and remove other lables?

[2021-10-21 10:30] mikeBashStuff opened #2208 "*ERROR*: name (TCP_QP_RECV_STATE_CHANGE) too long"
[code]

This error can be seen while starting some of the apps:
[code]

Feels cosmetic in nature but may be confusing while investigating other issues.

[2021-10-21 11:19] ghnicky opened #2209 "about the parameter of rpc command: iscsi_create_initiator_group"
1. the help for the parameter 'initiator_list'  is as the following:
 p.add_argument('initiator_list', help="""Whitespace-separated list of initiator hostnames or IP addresses,
    enclosed in quotes.  Example: 'ANY' or '127.0.0.1 192.168.200.100'""")

but  the code seems to only support iqn or 'ANY' instead of ip or hostname.

could you please give some advice?

[2021-10-21 13:00] mikeBashStuff opened #2210 "[freebsd] nvme_rpc test failed while calling bdev_nvme_detach_controller"
https://ci.spdk.io/results/autotest-per-patch/builds/60872/archive/freebsd-vg-autotest/build.log

Point of failure:
[code]

Quite unexpected, not sure why this suddenly could fail.

[2021-10-21 13:51] spdkci commented on #1456
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_60817.html

[2021-10-21 14:48] mpiszczek opened #2211 "[basic_test_spdk_upstream_ci] Fails with modprobe: FATAL: Module msr not found in directory"
# CI Intermittent Failure

Running basic_test_spdk_upstream_ci in script swx-spdk-verification/scripts/pci_hp.sh spdk-tgt-bw-04
The test fails because modprobe cannot find the msr module. This was seen is several jobs.

## Link to the failed CI build

https://swx-ci.mellanox.com/spdk-test/blue/organizations/jenkins/basic_test_spdk_upstream_ci/detail/basic_test_spdk_upstream_ci/20028/pipeline

## E

[2021-10-21 15:51] jimharris commented on #2208
We do need to fix this.  I think the TCP one is really important to fix, so I'm marking this bug as high.  Let's fix the FC ones while we're at it though.

Assigning to @KKaras169169.

[2021-10-22 02:21] yidong0635 commented on #2191
@zlsh007 Could you let me know what's your platform.  I plan to apply this to CI. but the unittest is failed.  Can you try that?
./test/unit/unittest.sh
[code]

but I do some simple test but not reproduced using bdevperf, I need to confirm the patch is right edit.  Then will apply some
complex procedures .

[2021-10-22 02:31] zlsh007 commented on #2191
@yidong0635 Hi，This is my platform info：
CPU：
Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(s):                72
On-line CPU(s) list:   0-71
Thread(s) per core:    2
Core(s) per socket:    18
Socket(s):             2
NUMA node(s):          2
Vendor ID:             GenuineIntel
CPU family:            6
Model:                 85
Model n

[2021-10-22 04:41] spdkci commented on #1863
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_60894.html

[2021-10-22 05:24] #2206 closed, assigned to jimharris

[2021-10-22 07:25] #2203 closed, assigned to wawryk

[2021-10-22 10:26] faizhav opened #2212 "app crash with ASAN heap-use-after-free when nvmf_tgt is stopped on a vagrant VM"
# Bug report:
Configured nvmf_tgt on a vagrant VM(vm2) with NVMe devices
On another vagrant VM(vm3) setup nvmf_tgt to use the remote target from vm2
Use a linux client node to perform IO over fabric to target exposed from vm3
When the nvmf_tgt process is stopped(Ctrl C) on vm2, it causes a crash on vm3

==1227==ERROR: AddressSanitizer: heap-use-after-free on address 0x6210000f1b9a at pc 0x563a6780

[2021-10-22 18:08] #2208 closed, assigned to KKaras169169

[2021-10-25 08:20] #2212 closed, assigned to AlekseyMarchuk

[2021-10-25 10:51] mikeBashStuff opened #2213 "bdevperf is hit by SIGABRT during nvmf_host_management test"
[code]

https://ci.spdk.io/results/autotest-per-patch/builds/61051/archive/nvmf-tcp-uring-vg-autotest/build.log
https://ci.spdk.io/results/autotest-per-patch/builds/61051/archive/nvmf-tcp-uring-vg-autotest/coredumps/index.html

Point of failure:
[code]

Some more context:
[code]

Currently this affects majority of per-patch tests on the CI.

[2021-10-25 13:17] mikeBashStuff opened #2214 "DPDK doesn't build under meson 0.60.0"
This is a placeholder for https://bugs.dpdk.org/show_bug.cgi?id=836 so we can track it on our side more easily.

Currently it doesn't affect CI since all the systems use older version of meson (0.59.2). That said, this may become a serious issue in case of new deployments (for new release in particular).

[2021-10-25 15:33] #2213 closed, assigned to AlekseyMarchuk

[2021-10-26 02:00] sejun000 opened #2215 "Submit AER command when disconnecting by host will incur wrong pending IO."
# Bug report

Each qpair group has pending io for each subsystem.
For admin commands, spdk uses "mgmt_io_outstanding"
When disconnect by host is incurred (usually, linux nvmf driver triggers disconnect with target when timeout happened),
this pending count (mgmt_io_outstanding) can be wrong.
So, next time, subsystem pause and resuming by rpc (for, example, bdev is attached to a subsystem)

(Soluti

[2021-10-26 03:06] yingjia-wang opened #2216 "Something wrong when I make SPDK"
# Bug report

Hi, I was building SPDK on a new machine, but some errors occurred when I tried to 'make' it. I just followed the instructions and got the same result two times. Could anyone help me?

## Expected Behavior

## Current Behavior
[code]

## Context (Environment including OS version, SPDK version, etc.)

OS: Linux 5.4.0-65-generic #73-Ubuntu SMP Mon Jan 18 17:25:17 UTC 2021 x86_64 x86_64

[2021-10-26 03:27] #2216 closed, assigned to nobody

[2021-10-26 19:42] mhae opened #2217 "[nvme] nvme_init_controllers can block for long time when drive is having issues"
# Bug report

When drives are having issues, the reactor is blocked until nvme_init_controllers times out. Currently, this function synchronously waits until the state machine is done or there was a timeout (see https://github.com/spdk/spdk/blob/75eed7b52ef9a2a5a4408a534f0deda910cefe8c/lib/nvme/nvme.c#L770).

This is problematic since it will block the reactor for a long period of time (minutes).

[2021-10-26 23:08] jimharris opened #2218 "vfio-user target does not fail OPC_FABRICS commands"
vfio-user uses the nvme fabrics (nvmf) target library, but is not actually a fabrics controller.  So it needs to fail commands with OPC_FABRICS opcode.

Ideally we can handle this generically in the nvmf library rather than doing it per-transport.  We should be able to look at the trtype of the transport, similar to spdk_nvme_ctrlr_is_fabrics().

[2021-10-27 06:25] KKaras169169 opened #2219 "[spdk_top] Broken column descriptions after window resize"
# Bug report

Coulmn descriptions seem to print for all the tabs at the same time, which results in this:
![image](https://user-images.githubusercontent.com/49611974/139010233-8d43f45b-622f-439c-9a96-49e6fd3183b9.png)

## Expected Behavior

Coulmn descriptions should be drawn for current tab only.

## Possible Solution

Skip drawing other tabs until the user swithces to them.

## Steps to Reproduc

[2021-10-27 07:31] sejun000 opened #2220 "add_io_qpair can access invalid pointer."
# Bug report

When disconnect by host is incurred (usually, linux nvmf driver triggers disconnect with target when timeout happened),
Host try to recover by delete io qpair and create new io qpair by issue connect command.
On the other hand, target can trigger keep alive timeout (nvmf_ctrlr_keep_alive_poll), which will destroy all qpairs and ctrlr.
Those two incident can happen simultaneously and

[2021-10-29 07:56] Pangzhihong opened #2221 "bdev_iscsi Error"
When I execute: **/root/spdk-19.01.1/scripts/rpc.py construct_iscsi_bdev -b iscsi3 -i iqn.2016-06.io.spdk:init --url iscsi://172.28.32.24:3260/iqn.2006-08.com.huawei:oceanstor:2100f86eee5d0531::20000:172.28.32.24/3**
The following error is reported when the Bdev is added.

bdev_iscsi.c: 726:iscsi_bdev_conn_poll: *ERROR*: iscsi_service failed:
bdev_iscsi.c: 726:iscsi_bdev_conn_poll: *ERROR*: iscsi_

[2021-10-29 09:27] #2214 closed, assigned to nobody

[2021-10-29 19:48] AlekseyMarchuk commented on #2055
This patch 3b1f13e caused CI failures with uring, so it was reverted. I'll continue working on the new version next week

[2021-10-29 21:00] mhae commented on #2217
Backporting the new reset async API did the trick. One caveat: The async reset and polling of adminq has to be done on the same thread since the async reset is taking a ctrlr lock for the duration of the reset which can take a while.

[2021-10-29 21:00] #2217 closed

[2021-11-01 01:38] yidong0635 commented on #2191
That's very strange using bdevperf and fio in VM can't catch such error after a long run .

[2021-11-01 01:43] Comphix commented on #2191
Thanks @yidong0635 , @zlsh007 SuHua, have you hit the issue with the common SPDK bdev?

[2021-11-01 01:47] changpe1 commented on #2191
As discussed in the community meeting, you can use fio or iozone as the test tool, for your own binary test tool we don't know if the test cases have *transaction* protect or not.  The data buffers maybe changed by your test tool during the IOs are live in the VM. @zlsh007

[2021-11-01 12:45] zlsh007 commented on #2191
@changpe1 Okay, we are here to see if there is a problem with the test program itself. @Comphix Sorry, my local disk test has not come out yet. There is a problem after the code is transplanted. Data reading and writing will cause the process to be cored. I am still trying to solve this problem.However, according to Yidong’s test, this crc problem may not have much to do with the back-end bdev typ

[2021-11-01 20:21] stvml opened #2222 "New build failure for release v21.07"
# Bug report

We noticed a recent regression in the build for v21.07, first identified yesterday. I suspect it's related to the release of v21.10. Following the build steps which were successful before now results in a failure.

## Expected Behavior

Successful build.

## Current Behavior

When running `make`, we see this output:
[code]

## Possible Solution

**?**

## Steps to Reproduce

Build st

[2021-11-01 20:22] mikeBashStuff commented on #2222
This is a duplicate of https://github.com/spdk/spdk/issues/2214.

[2021-11-01 21:30] jimharris commented on #2222
This patch on the spdk-21.08 branch of the dpdk submodule fixed the issue, while we wait for the upstream DPDK fix:

https://github.com/spdk/dpdk/commit/22e79be44fd5609b7f43236d8be9b68303e99e81

You could try applying this patch to the spdk-21.05 branch (which SPDK 21.07 points to), but not sure if it applies cleanly.

[2021-11-01 21:30] #2222 closed

[2021-11-02 11:28] KKaras169169 commented on #2219
Fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/10087

[2021-11-02 15:28] mhae opened #2223 "vfio/bdev_nvme: Hotplug poller blocked for long time when device is having issues"
# Bug report
This is an issue with the vfio driver and bdev_nvme.

Today, DPDK handles with the vfio device management. The bdev_nvme hotplug poller calls DPDK periodically for new allowed devices. DPDK then opens these devices via the vfio API.
When a device is opened via vfio, the vfio kernel driver typically performs a function level reset (FLR).

When a device is having issues (e.g. device fir

[2021-11-02 15:39] spdkci commented on #2211
Another instance of this failure. Reported by @spdkci. log: https://ci.spdk.io/public_build/autotest-per-patch_61371.html

[2021-11-02 16:20] spdkci commented on #2211
Another instance of this failure. Reported by @spdkci. log: https://ci.spdk.io/public_build/autotest-per-patch_61378.html

[2021-11-02 16:29] spdkci commented on #2211
Another instance of this failure. Reported by @spdkci. log: https://ci.spdk.io/public_build/autotest-per-patch_61379.html

[2021-11-02 17:40] tanabarr opened #2224 "Unexpected error: pci_event.c: 68: spdk_pci_event_listen: *ERROR*: Failed to set socket option"
# Bug report

Any idea what we are doing wrong if we are seeing this, and how should it be silenced?

## Expected Behavior

The presence of the error message during successful operation is unexpected.

## Current Behavior

The error as mentioned in the title is appearing on stdout when running DAOS engine (SPDK process) as non-root user with IOMMU enabled through VFIO driver.

## Possible Solution

[2021-11-03 02:23] changpe1 commented on #2223
I don't think SPDK is the right place to fix it.  Maybe it's better just leave it.

[2021-11-03 02:37] yingjia-git opened #2225 "Something wrong in creating blobfs"
# Bug report

I followed the steps in [https://spdk.io/doc/blobfs.html](https://spdk.io/doc/blobfs.html)，trying to integrate RocksDB+BlobFS+SPDK+SSD. The part between SPDK and SSD is fine, but some errors occurred when I tried to create an empty blobfs. Would you suggest me some solutions?

## Current Behavior

The command below incurred an error, by the way, my SSD is a ZNS SSD, I am not sure if

[2021-11-03 03:02] changpe1 commented on #2225
You can't use your zoned NVMe SSD directly, you may refer https://spdk.io/doc/ftl.html in practice.

[2021-11-03 03:06] yingjia-git commented on #2225
I see, thanks for your reply, I will check it.

[2021-11-03 04:12] changpe1 commented on #2221
Did you try with latest SPDK version?

[2021-11-03 04:28] #2197 closed

[2021-11-03 08:08] karlatec opened #2226 "SPDK vhost vs Qemu master- vhost_blk member access within misaligned address for type const struct virtio_blk_outhdr"
# Bug report

SPDK Vhost BLK tests fail when running vs recent Qemu build from qemu/qemu master.
Last good known commit combination is:
SPDK: d47893607be294e16ecfc851600fc21bf0c0da9a
Qemu: 362534a643b4a34bcb223996538ce9de5cdab946

## Current Behavior

vhost_blk_integrity test from test/vhost/fiotest/fio.sh fails due to:

[code]

qemu.log:
[code]

## Steps to Reproduce

1. In CI reproduction boils

[2021-11-03 08:18] yingjia-git commented on #2225
@changpe1 Sorry to have another question, if I don't use bdev, but use nvme_zns and nvme interfaces(such as spdk_nvme_zns_zone_append, spdk_nvme_ns_cmd_write/read), can I access ZNS SSD directly? I found codes in examples/nvme/ directory helpful.

[2021-11-03 08:28] changpe1 commented on #2225
Yes, these APIs works for you.

[2021-11-03 08:29] yingjia-git commented on #2225
@changpe1 Thanks a lot!

[2021-11-03 08:29] #2225 closed

[2021-11-03 09:08] spdkci commented on #2114
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_61418.html

[2021-11-03 09:33] spdkci commented on #2114
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_61422.html

[2021-11-03 09:33] spdkci commented on #2114
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_61420.html

[2021-11-03 10:02] spdkci commented on #2114
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_61425.html

[2021-11-03 13:38] mhae commented on #2223
Hi @changpe1, code that is running on reactors must not block. Unfortunately, the vfio API can block (via a call to `spdk_nvme_probe_async`). Here is a call stack that I took when vfio was stuck:
[code]
It's not too hard to move the hotplug poller to its own SPDK thread, but this thread must not be polled on other reactors.
A potential solution would be to have an option to create a separate Posix

[2021-11-03 14:39] sydidelot opened #2227 "nvme_cuse: memory corruption when cuse thread early-exits"
# Bug report

There is a bad memory corruption where the code for nvme cuse attempts to write one byte (with value 0x1) after the memory is freed.

## Expected Behavior

I expect the SPDK not to corrupt memory :)

## Current Behavior

When the CUSE device is unregistered, the poller thread is signaled with
`fuse_session_exit()`, which writes the value 1 to `fuse_session::exited`.
The poller thread

[2021-11-03 15:03] karlatec commented on #2226
Did a bisect using SPDK master and switched through Qemu commits. This seems to make our target crash with error as in description: https://github.com/qemu/qemu/commit/9fb3fcfce512da58cd048eaefd293e1d3f513de2.

[2021-11-03 18:31] #2219 closed

[2021-11-03 19:34] jimharris commented on #2226
This QEMU commit unfortunately is an update of the Seabios binaries.  I guess this helps a little bit, since it's not hard to imagine that somehow Seabios started sending requests that aren't 8-byte aligned.  The specific access above is to a 4-byte member of the virtio_blk_outhdr structure, but that structure also has an 8-byte sector member which I guess is what makes ASAN check for 8-byte align

[2021-11-03 19:51] mhae commented on #2223
@jimharris , for a truly busted drive, DPDK (via the hotplug poller) will scan the bus and try to initialize the device again resulting in the timeout. So yes, the FLR timeout is hit every time the hotplug poller runs.

The other option for someone needing a complete NVMF/NVME stack is to use their own execution environment and reimplementing the bdev_nvme layer. But I think it makes more sense to

[2021-11-03 20:15] jimharris commented on #2223
That's what I was afraid of.  So getting the VFIO_RESET_DEVICE ioctl out of the polled-mode thread is only part of the problem.  How do we keep DPDK from hitting this timeout over and over again?  And does the FLR timeout keep other newly inserted devices from getting properly probed and attached?

My point here was really that even if we make changes to run this DPDK enumeration logic in a separa

[2021-11-03 21:07] mhae commented on #2223
That would be an option too. But there seems to be quite some code to deal with hot removes, adds and udev events. It would be good if this stuff can be abstracted out.
We'd also need a way to bubble up the device having issues from DPDK, right now it is buried.
Similarly, we probably need a way to notify the separate process if the controller initialization failed so that it can take actions as w

[2021-11-03 21:31] jimharris commented on #2223
At least for vfio, I think it's just adds.  Removes aren't handled through udev.  This is fairly well abstracted in the SPDK env layer already - the separate process could just be an SPDK process using the env layer (without the application framework).

If you know which device was added via udev, then you can use spdk_pci_device_attach() to specifically try to add that device.  If it fails, then

[2021-11-04 02:08] #2191 closed

[2021-11-04 02:37] changpe1 commented on #2226
@karlatec What's your compilation option? I can't reproduce this issue in my local environment using the latest QEMU commit.

[2021-11-04 03:05] spdkci commented on #2128
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_61411.html

[2021-11-04 03:06] spdkci commented on #2128
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_61412.html

[2021-11-04 06:56] karlatec commented on #2226
@changpe1 Ahh right, forgot about this.
[code]

@jimharris I will shoot them an email.

[2021-11-04 08:01] changpe1 commented on #2226
OK, I can reproduce this issue in my local environment too.

The binary pc-bios/bios.bin seems buggy, the seabios code is fine.

You can compile your own bios in roms/seabios directory and use `-bios roms/seabios/out/bios.bin`  to start QEMU, it works.

[2021-11-04 20:05] tanabarr commented on #2224
https://review.spdk.io/gerrit/c/spdk/spdk/+/10126

[2021-11-05 01:01] changpe1 commented on #2218
Fix patch and test case patch are merged, closing it for now.

[2021-11-05 01:01] #2218 closed

[2021-11-05 04:34] x2c3z4 opened #2228 "vhost crash when running the guest with seabios"
Vhost-user client must send the mem table, kick fd, call fd on all virtqueue,
then the device will be VIRTIO_DEV_RUNNING.

If the vhost-user communication is initialized partly, e.g.
- When initializing the vhost-user, try to restart the vhost-user
    backend;
- Seabios only initialized the vhost-scsi req vq.
The device is not with flags VIRTIO_DEV_RUNNING..

Root Cause:
The vhost session has bee

[2021-11-05 05:37] Comphix commented on #2228
Please Changpeng take a further look as I saw there is also some discussion on the DPDK mailing list. Thanks, Gang.

[2021-11-05 05:51] changpe1 commented on #2228
sure, I asked Feng to submit a SPDK issue so that we can track it here.

[2021-11-05 06:03] changpe1 commented on #2228
@x2c3z4 Can you post the vhost coredump trace and debug log here?

[2021-11-05 07:26] sydidelot commented on #2227
Hi @dong-liuliu. Here is the Github issue you requested for https://review.spdk.io/gerrit/c/spdk/spdk/+/9931

[2021-11-05 09:40] x2c3z4 commented on #2228
Currently I don't have the coredump and log.

[2021-11-05 11:15] spdkci commented on #2128
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_61568.html

[2021-11-05 12:23] spdkci commented on #2198
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_61572.html

[2021-11-05 12:52] rafalste commented on #1875
Metadata updater was removed in OCF 21.6 which is a part of latest SPDK 21.10 release, so this problem should no longer exist.
I suggest to close this issue. @gaowayne, can you confirm that it works for you?

[2021-11-05 14:31] rafalste commented on #1914
I suggest to close this issue as the officially supported OCF version is the one pointed by SPDK submodule.
Other OCF versions may cause various problems and such configuration is considered experimental/non-stable.

[2021-11-05 14:31] rafalste commented on #1915
I suggest to close this issue as the officially supported OCF version is the one pointed by SPDK submodule.
Other OCF versions may cause various problems and such configuration is considered experimental/non-stable.

[2021-11-05 20:55] mhae commented on #2223
@jimharris , so what you are suggesting is to enumerate the pci devices first via a method outside of SPDK, then call spdk_pci_device_attach and bdev_nvme_attach_controller. Then listen for udev add events and handle these. Not sure about the hot remove handling...
When you say "... process using the env layer ...", which APIs were you think besides spdk_pci_device_attach/detach?

[2021-11-06 03:18] Lyhugo opened #2229 "A segmentation fault occurred when spdk_ioat_probe() is called"
# Bug report

When I followed [https://www.intel.com/content/www/us/en/developer/articles/technical/fast-memcpy-using-spdk-and-ioat-dma-engine.html] to test memcpy，a segmentation fault occurred when spdk_ioat_probe() is called.
![1636167595(1)](https://user-images.githubusercontent.com/71816089/140595848-9996fb26-5801-4147-9874-c3dfa1dbe464.jpg)

When I use GDB for debugging, the program stopped i

[2021-11-06 08:23] Lyhugo commented on #2229
ioat_perf can be run successfully as followed.
![image](https://user-images.githubusercontent.com/71816089/140603203-d4cca868-0eb7-4cbb-8181-0c22896311d0.png)

[2021-11-07 09:17] adamagniv opened #2230 "Opal Not Supported on drives"
# Bug report

running fio (engine = spdk_bdev) I get the print:
```nvme_opal.c: 828:opal_discovery0_end: *ERROR*: Opal Not Supported.```
for each bdev in the spdk_json_conf I attach to.
After the print the IO runs ok.

## Possible Solution
SPDK should not assume that the security protocol the SSD supports is Opal.

## Context (Environment including OS version, SPDK version, etc.)
tested with SPDK

[2021-11-08 00:48] changpe1 commented on #2230
Yes, an error log isn't friendly to users. here is the fix https://review.spdk.io/gerrit/c/spdk/spdk/+/10139

[2021-11-08 02:49] changpe1 commented on #2228
The issue should really be part of SPDK, actually I don't think it's related with SeaBIOS nor DPDK.  When QEMU is connected and then kill `spdk_tgt`, SPDK should destroy the pollers before exiting the application.  Is this your purpose?

[2021-11-08 04:03] jimharris commented on #2229
Please post the source code for your test application.

[2021-11-08 04:54] optimistyzy commented on #2229
@Lyhugo This code you mentioned is not based on latest SPDK version.  You may try this branch:  https://review.spdk.io/gerrit/c/spdk/spdk/+/8443   (But it requires on gcc version or C++14 support). For further support, you can reach @Comphix  since I do not work on this anymore.

[2021-11-08 05:27] changpe1 commented on #2228
@x2c3z4  Can you try with  https://review.spdk.io/gerrit/c/spdk/spdk/+/10143 to see it fix your issue or not?
Ideally you can add patch in DPDK to fix this issue, but this will introduce extra API or new callback to make it suitable for different virtio devices types.

[2021-11-08 08:51] Lyhugo commented on #2229
It works fine when I refer to ioat_perf's source code to write test code. It seems the bug is indeed due to a version change. Thank you very much!

[2021-11-08 08:52] Lyhugo commented on #2229
It works fine when I refer to ioat_perf's source code to write test code. It seems the bug is indeed due to a version change. Thank you very much!

[2021-11-08 08:52] #2229 closed

[2021-11-08 14:29] karlatec commented on #2226
I ran the test with `-bios /usr/share/qemu/bios.bin` and `bios-256k.bin` instead, these come from Fedora33 Qemu package. The test run fine.

This seems more like a workaround though. Do we need any change on SPDK side to accommodate for new bios.bin, or should this be raised as issue on Qemu side?

[2021-11-08 16:06] #2224 closed

[2021-11-08 16:16] tanabarr opened #2231 "Errors from SPDK when initializing storage in DAOS"
# Bug report

Very slow storage initialization with DAOS v1.3 (using SPDK v21.07). Sometimes after a reboot, these errors don't appear.

[code]

Re-binding back to the kernel driver works and devices are visible through the OS.

## Expected Behavior

storage initialises in a timely manner without errors from SPDK

## Current Behavior

storage initialises very slowly and sometimes completely fails

[2021-11-08 16:21] jimharris commented on #2231
Hi @tanabarr,

Can you provide any specifics on the SSD exhibiting this behavior?

-Jim

[2021-11-08 19:19] spdkci commented on #2128
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_61604.html

[2021-11-08 19:30] mikeBashStuff opened #2232 "nvme drives not present on the target node (WFP15)"
https://ci.spdk.io/results/autotest-per-patch/builds/61605/archive/nvmf-phy-autotest/build.log

There are no nvme drives installed on the WFP15, removed it from the CI pool for now.

[code]

[2021-11-08 19:31] spdkci commented on #2232
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_61605.html

[2021-11-08 19:34] mhae commented on #2223
Executing the bdev_nvme_attach_controller in spdk_pci_device_attach() doesn't work since we're still in the spdk_pci_device_attach flow.

However, moving the bdev_nvme_attach_controller outside the callback right after spdk_pci_device_attach fails as well.
spdk_pci_device_attach returns -1 if he device is already attached (`if (dev->internal.attached || dev->internal.pending_removal) {`) which the

[2021-11-08 20:08] jimharris commented on #2223
Hi @mhae,

@benlwalker, @changpe1 and I talked about this issue in last week's community meeting.  We think this doesn't have to be a separate process, but could just be a separate thread in the env_dpdk library itself.

This thread can use spdk_pci_get_event() to get notifications of newly inserted devices, and can then try an spdk_pci_device_attach() with a dummy driver (*not* the nvme driver) t

[2021-11-08 20:18] spdkci commented on #2128
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_61609.html

[2021-11-08 20:25] mhae commented on #2223
@jimharris , thanks for the update. The 2nd spdk_pci_device_attach, would that be executed on the app thread? If so, I'm just not sure that this is tight enough. It would be better to avoid any of these blocking operations on the reactors.

[2021-11-08 20:48] jimharris commented on #2223
Yes, the second spdk_pci_device_attach would be executed on the app thread.

But if we did something akin to the alternative approach described at the end of my last post, we wouldn't need a second attach, and the first and only attach would be on a non-reactor thread.  Note that would require the spdk drivers to register their enumeration callbacks at SPDK_PCI_DRIVER_REGISTER time, since the env_

[2021-11-09 01:34] changpe1 commented on #2226
I think you can report this issue to QEMU community, and if they don't want to update the default bios binary, we can use this as a workaround.

[2021-11-09 08:16] x2c3z4 commented on #2228
Hi Changpeng,

On Mon, Nov 8, 2021 at 1:27 PM Changpeng Liu ***@***.***>
wrote:

 Thanks for your patch, I will test it this week.

—

[2021-11-09 08:17] x2c3z4 commented on #2228
Yes.

[2021-11-09 09:08] sydidelot opened #2233 "bdev/nvme: canceled outstanding commands are completed twice"
# Bug report

We are hitting a bug where canceled bdev/nvme outstanding commands are completed twice:
[code]

The bug is intermittent and happens only in specific environments where the bdev/nvme devices are very slow to complete initialization (it could be a bad device, right now I'm not sure exactly what is the trigger).

In order to understand the context of the bug, you need to know that our a

[2021-11-09 13:53] tanabarr commented on #2231
These are 1.6TB Intel P46x0 NVMe drives.

[code]

[2021-11-09 14:06] jimharris commented on #2231
Can you try https://review.spdk.io/gerrit/c/spdk/spdk/+/10162?

[2021-11-09 18:01] sydidelot commented on #2233
Is there a patch available already? (I see the tag "Patches out for review")

[2021-11-09 18:13] jimharris commented on #2233
I think that tag was added by mistake.  I've removed the tag.

[2021-11-10 04:28] changpe1 commented on #2233
Indeed it's a bug, especially some drives will take long time to complete DSM command which may also cause timeout in host driver.  I think adding another state to queue pair is fine, we may not continue to poll the queue pairs which have manual aborted requests.  @sydidelot do you want to a try? we don't have such environment to test this?

[2021-11-10 06:48] sydidelot commented on #2233
I can test the patch for you. I have a consistent reproducer.

[2021-11-10 06:52] changpe1 commented on #2233
OK, I will fix it.

[2021-11-10 07:51] sydidelot commented on #2233
Thanks, @changpe1!

[2021-11-10 09:01] Lyhugo opened #2234 "How to do memcpy with spdk_ioat concerning file mmap"
Specifically，I would like to do memcpy between buffer and the address of file mmap. If successful, I will try to do it on PMEM next.

I have made some try. I mmap the file to the address spdk_malloc allocate, and set the flags of mmap with MAP_FIXED, and transmit the data from buffer to it. But it seems to fail.  The target address can receive the data but the data cannot flush to the file. The fo

[2021-11-10 10:13] KKaras169169 commented on #2149
Here is a fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/10168

[2021-11-10 11:40] x2c3z4 commented on #2228
@changpe1
I just test your patch with Fedora 33 iso, and go into the "Install Fedora 33" page, then restart the spdk_tgt, it still crash as before:
[code]

[2021-11-11 04:24] jimharris commented on #2226
@karlatec - maybe ask the QEMU mailing list how the seabios binary in the QEMU repository was built?  it's possible we could bisect this down to a specific seabios commit

[2021-11-11 04:37] benlwalker commented on #2234
Unfortunately, this is not possible with IOAT.

In your code specifically, you cannot mmap over top of an allocation like that. Linux will simply mmap to a new address in that case, since the range you asked it to mmap into has already been allocated to a huge page by spdk_malloc earlier. What would have made sense to try would be to mmap the file and then call spdk_mem_register to prepare that me

[2021-11-11 06:16] AlekseyMarchuk commented on #2211
Reported failures seems not related to this issue. The issue is specific for Mellanox CI. Actually this error is not fatal and can be ignored. I can't open original log (seems to be out dated) but I'm sure that the problem was not in this modprobe error. To re-trigger Mellanox CI, please add a comment with `Mellanox:retest` message. For now, I'm closing this issue, if you see another failures, ple

[2021-11-11 06:16] #2211 closed

[2021-11-11 06:59] yasharzb opened #2235 "Failed to configure spdk with shared libraries"
# Bug report

## Expected Behavior

Successful make

## Current Behavior

Error while making

[code]

![image](https://user-images.githubusercontent.com/45389623/141252558-53a4175d-8fa9-431d-bfec-b00116d3d4b0.png)

## Possible Solution

Maybe a dependency is missing from the prerequisites.

## Steps to Reproduce

1. Executing `./scripts/pkgdep.sh`
2. Executing `./configure --with-shared`
3. `make`

[2021-11-11 10:11] zlsh007 commented on #2191
Thank you everyone for your help. At present, the inconsistency of CRC in data writing is triggered by the use of wget command to copy files. But I think this problem should be normal. If the user performs a continuous update of a certain data block, the old request data may be part of the new and part of the old. However, in the end, the new request will also cover the old data as a whole, and th

[2021-11-11 11:16] spdkci commented on #2210
Another instance of this failure. Reported by @floatious. log: https://ci.spdk.io/public_build/autotest-per-patch_61720.html

[2021-11-11 11:20] floatious commented on #2210
https://ci.spdk.io/results/autotest-per-patch/builds/61720/archive/nvme-cmb-pmr-vg-autotest/build.log

Not on FreeBSD, but spdk_tgt seems to segfault when it gets a bdev_nvme_detach_controller,
so I assume that it is the same bug.

00:05:12.703   10:20:33	-- nvme/nvme_rpc.sh@34 -- # /home/vagrant/spdk_repo/spdk/scripts/rpc.py bdev_nvme_detach_controller Nvme0
00:05:18.745  Traceback (most recent c

[2021-11-11 11:43] Comphix commented on #2191
Thanks @zlsh007 Suhua for this update.

[2021-11-11 17:11] AlekseyMarchuk commented on #2205
Sorry for late response, there was a problem with HW - no available workers to run a job. We had to cancel multiple requests in a queue to fix it. I believe this issue can be closed now

[2021-11-11 17:11] #2205 closed

[2021-11-12 01:08] changpe1 commented on #2230
Patch has been merged, closing it now.

[2021-11-12 01:08] #2230 closed

[2021-11-12 01:56] changpe1 commented on #2191
@zlsh007 data consistency should be guaranteed, but it's up to different layers, e.g: for NVMe device, the atomic normally is logical block size,  file system based on NVMe device should have its own transaction support to respect this.

[2021-11-12 02:40] zlsh007 commented on #2191
@changpe1 Yes, the block size level data in a request is atomic, only because the crc here has verified a lot of iovs to get an inconsistent crc data.

[2021-11-12 03:04] Comphix commented on #2235
Thanks for reporting this issue. Tried the latest code and hit the same issue. Will take a further look.

[2021-11-12 03:27] Comphix commented on #2235
Can you have a try with below patch?

https://review.spdk.io/gerrit/c/spdk/spdk/+/10199

[2021-11-12 04:29] spdkci commented on #1950
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_61787.html

[2021-11-12 05:42] Comphix commented on #2209
For initiator hostname, you may refer below link (SPDK UT) as example:

https://github.com/spdk/spdk/blob/66f7c55ed503365eeb601fcf3e2824ba64c5a248/test/unit/lib/iscsi/iscsi.c/iscsi_ut.c

#define UT_INITIATOR_NAME1	"iqn.2017-11.spdk.io:i0001"
#define UT_INITIATOR_NAME2	"iqn.2017-11.spdk.io:i0002"

[2021-11-12 06:21] yasharzb commented on #2235
Thanks! This patch worked. But I have another problem right now. I expected after this, I'd be able to work with the library inside of an IDE. But the library is still not recognized in CLion or VSCode. I also executed this after the `make`:
[code]
I should mention that I am running this on my PC. But I thought that development (without building) might be possible with a computer without a NVMe fa

[2021-11-12 06:30] Comphix commented on #2235
If this issue is fixed, I'd suggest to submit a new issue to track it.

[2021-11-12 08:18] yasharzb opened #2236 "spdk librararies are not recognized in the IDE"
# Bug report

Recognized libraries

## Current Behavior

After configuring with shared libraries, I expected that developing a simple program would be easier with an IDE. But `spdk/*` libraries are not recognized.

![spdk_libraries](https://user-images.githubusercontent.com/45389623/141433963-3a771dec-f297-4e7d-b1af-631f1c36baf7.png)

## Possible Solution

Maybe one or two steps are missing from t

[2021-11-12 08:32] AlekseyMarchuk commented on #2236
Hi, it looks like the problem is not in shared libraries, your IDE can't find a path to SPDK includes. Usually each IDE can be configured with non-standard paths to include files (like -I compiler flag). Try to add path to spdk/include directory to your IDE

[2021-11-12 14:36] spdkci commented on #1950
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_61805.html

[2021-11-15 03:03] changpe1 commented on #2228
As we discussed earlier, my patch can fix the issue when killing `spdk_tgt` while SPDK and DPDK have different state for the device.
But from what you posted above, this issue happened after restarting the `spdk_tgt`, is that correct?

[2021-11-15 03:21] x2c3z4 commented on #2228
No, this crash happened in `spdk_tgt` exit stage, so this patch hasn't  achieved the goal.

[2021-11-15 04:06] changpe1 commented on #2228
when you say "restart spdk_tgt", did this issue happen in kill spdk_tgt stage?

[2021-11-15 04:19] changpe1 commented on #2228
Here is the trace without my fix patch, it's almost same with yours, my patch indeed fixed the issue I observed, can you double check your test? include the SPDK version you are using.

AddressSanitizer:DEADLYSIGNAL
=================================================================
==23637==ERROR: AddressSanitizer: SEGV on unknown address 0x7f179bddd802 (pc 0x00000082ba3d bp 0x7ffdaff1a660 sp 0x7ff

[2021-11-15 10:28] x2c3z4 commented on #2228
The spdk version I'm using is 20.10.
I'm using systemd to manage the lifecycle of this process, and the crash happened when running `systemctl restart spdk_tgt`.
I will re-test your patch in tomorrow.

[2021-11-15 12:37] ChrisMacNaughton opened #2237 "ncurses update causes build failures [-Werror=format-security]"
# Bug report

Ubuntu has just uploaded a new version of ncurses which changes handling of the `mvwprintw` function and causes errors during build:

[code]

## Expected Behavior

it should build successfully

## Current Behavior

The build fails referencing three locations where `mvwprintw` is used:

[code]

## Possible Solution

Adding a patch like the following around the three failing instances

[2021-11-15 13:39] Lyhugo commented on #2234
Thank you for your reply! Sorry for not responding in time. And I am looking forward to the new platform.

According to your reply, if I apply  IOAT to copy to/from PMEM with devdax, writes are not guaranteed to be persistent when they are complete. In my opinion, I think it doesn't matter. Here are my brief thoughts.

I will use PMDK to access PMEM and use `pmem_map_file ` in libpmem library to m

[2021-11-15 21:22] jlevon opened #2238 "nvmf_poll_group_pause_subsystem() has pointless NULL check"
[code]

Coverity noticed that the check on line :1524 can't be NULL. I wasn't clear if this was trying to check if the subsystem was INACTIVE, or if it should just be deleted.

[2021-11-16 02:03] changpe1 commented on #2231
patch has been merged, so closing it now.

[2021-11-16 02:03] #2231 closed

[2021-11-16 02:05] changpe1 commented on #2221
Closing this issue now, if this issue still happen with latest SPDK, you can reopen it.

[2021-11-16 02:05] #2221 closed

[2021-11-16 02:36] changpe1 commented on #2238
I think this check can be deleted, https://review.spdk.io/gerrit/c/spdk/spdk/+/10232.

There are some code in SPDK do the unnecessary check, we know that can't happen in practice, just for the purpose to address scan-build errors or reports from static code analysis tool.

[2021-11-16 04:37] x2c3z4 commented on #2228
Hi Changpeng,
I have re-test the patch, this crash has disappeared, some mistakes have happened in my previous test.
Sorry about this.

Some times I have encounter this wired crash, but I don't have a good producer:
[code]

[2021-11-16 04:42] Comphix commented on #2235
Patch has been merged. Close this issue.

[2021-11-16 04:42] #2235 closed

[2021-11-16 04:42] changpe1 commented on #2233
Here is the patch to fix this issue https://review.spdk.io/gerrit/c/spdk/spdk/+/10233

[2021-11-16 04:46] changpe1 commented on #2233
Actually I can remove the call to `nvme_qpair_abort_reqs` in `spdk_nvme_ctrlr_free_io_qpair`, this will also fix the scenario here, but there are other cases such as hotplug do require this function, so I think just remove the assertion is better.

[2021-11-16 04:49] Comphix commented on #2237
Thanks @ChrisMacNaughton , will you raise a patch to SPDK Gerrit?

[2021-11-16 04:53] Comphix commented on #2106
@ZivHirsch13 , any further update on this issue from your side?

[2021-11-16 05:05] changpe1 commented on #2228
glad to know it works, for the next crash, you may compile the vhost with DEBUG enabled, then we can have the whole trace when this issue happens, did you enable the `prealloc=yes` in QEMU?

[2021-11-16 05:06] changpe1 commented on #2228
I'm going to close this one, you may raise a separate issue if have more debug trace or stable scenario to reproduce it.

[2021-11-16 05:06] #2228 closed

[2021-11-16 06:15] changpe1 commented on #2237
https://review.spdk.io/gerrit/c/spdk/spdk/+/10227

[2021-11-16 06:28] x2c3z4 commented on #2228
Yes, I did use the 'prealloc=yes'.

[2021-11-16 08:21] EugeneKochetov commented on #2204
Hi,

Solution for this scaling issue is ready here: https://review.spdk.io/gerrit/c/spdk/spdk/+/9895. Could you please have a look?

As @tanlong0121 reported, the patch mentioned by @jimharris above causes performance degradation. We have some ideas why it can be. But analysis and fix will require some time.
@jimharris is it OK with you to revert this patch for now?

[2021-11-16 10:02] jlevon commented on #2238
@changpe1 thanks. for my own understanding, what does happen if we try to pause an inactive subsystem? This looked like it might do odd things.

[2021-11-16 10:13] changpe1 commented on #2238
The function `nvmf_subsystem_set_state` can do the right thing, it is called in `subsystem_state_change_done`.

[2021-11-16 10:41] xjjx opened #2239 "build with LTO fails on clang"
It's happen when test is started with RUN_NIGHTLY=1 flag.

10:32:34  09:32:34	-- spdk/autopackage.sh@78 -- $ ./configure --enable-werror --with-rdma --with-idxd --with-fio=/usr/src/fio --with-iscsi-initiator --with-nvme-cuse --with-pmdk --with-reduce --with-rbd --with-crypto --with-ocf --enable-ubsan --enable-asan --enable-coverage --with-fuse --with-raid5 --with-uring --enable-lto
10:32:34 Using

[2021-11-16 10:42] mikeBashStuff commented on #2239
Going to look into that one.

[2021-11-16 11:49] mikeBashStuff commented on #2118
No reports for almost a month, I think we can close this for now. Also, there's the https://review.spdk.io/gerrit/c/spdk/spdk/+/10209 series which should mitigate similar issues further.

[2021-11-16 11:49] #2118 closed

[2021-11-16 11:50] mikeBashStuff commented on #2154
Series addressing the issue: https://review.spdk.io/gerrit/c/spdk/spdk/+/10209

[2021-11-16 12:24] shuhei-matsumoto commented on #2209
Hi @ghnicky

Your confusion is very reasonable.
The following patch is helpful for you?
https://review.spdk.io/gerrit/c/spdk/spdk/+/10236

Besides, the following information may be for my learning :)

For Linux iSCSI initiator, IQN is in /etc/iscsi/initiatorname.iscsi. In my Linux, it is InitiatorName=iqn.1994-05.com.redhat:50e992c3873f. We can change it to any preferred value.

Besides, if we use

[2021-11-16 12:30] mikeBashStuff commented on #2198
Patches addressing this issue had been already merged - execution time of the job in question dropped about ~5min (e.g. https://ci.spdk.io/public_build/autotest-per-patch_61859.html). Closing.

[2021-11-16 12:30] #2198 closed

[2021-11-16 12:39] mikeBashStuff commented on #2114
Patches addressing used nvme devices got merged (https://review.spdk.io/gerrit/c/spdk/spdk/+/9291), closing for now.

[2021-11-16 12:39] #2114 closed

[2021-11-16 12:50] mikeBashStuff commented on #2232
@karlatec @wawryk Would you kindly look into this? We need someone to do some lab work to verify if nvme drive was actually installed inside that box - from the system's perspective it looks like it's missing.

[2021-11-16 12:56] mikeBashStuff commented on #2187
There's ongoing series addressing general refactor of the way how nvmf tests pick up proper hardware for the tests here: https://review.spdk.io/gerrit/c/spdk/spdk/+/7849 - this should also help to mitigate similar issues (some other mitigations were already merged as well). And since the last report is from over a month ago I think we can close this for now.

[2021-11-16 12:56] #2187 closed

[2021-11-16 13:44] spdkci commented on #2128
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_61917.html

[2021-11-16 13:47] spdkci commented on #2005
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_61919.html

[2021-11-16 14:00] tomzawadzki commented on #2190
Backports out for review:
https://review.spdk.io/gerrit/c/spdk/spdk/+/9970/
https://review.spdk.io/gerrit/c/spdk/spdk/+/9971/

[2021-11-16 14:02] mikeBashStuff commented on #2239
We would need couple of fixes here: https://review.spdk.io/gerrit/c/spdk/spdk/+/10238

[2021-11-16 14:38] tomzawadzki commented on #1914
In general testing latest SPDK against OCF master is useful to get ahead of required changes for next release. The same thing is done for compatibility between SPDK and DPDK. In the future such issues would be worth taking a look at.

This particular issue was reported against SPDK v21.01, but is resolved on latest SPDK via OCF update.

[2021-11-16 14:38] #1914 closed

[2021-11-16 14:40] tomzawadzki commented on #1915
Latest SPDK has submodule updated to OCF 21.6, so the details in this issue are out of date.

[2021-11-16 14:40] #1915 closed

[2021-11-16 14:49] jimharris commented on #2237
Hi @ChrisMacNaughton,

Thanks for the report!  I'm wondering if we can change the code to something like:

[code]

I'd prefer that to adding #pragmas around these calls in spdk_top.c.

Jim

[2021-11-16 16:41] benlwalker commented on #2234
Yes - you can issue the sync operations from code and that will make it persistent. You can do that in the completion callback from IOAT. I don't know how well that will perform, but it will be functionally correct.

[2021-11-16 21:02] shuhei-matsumoto opened #2240 "[scheduler] Cpu other than the main cpu was not idle when switching into interrupt mode"
# CI Intermittent Failure

The following scenario was not satisfied.

        # Standard scenario - spdk app is idle, all cpus, except the main cpu, should be
        # switched into interrupt mode. main cpu should remain busy, all remaining cpus
        # should become idle.

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_61923.html

## Execution failed at

00:

[2021-11-16 21:03] spdkci commented on #2240
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_61923.html

[2021-11-16 23:30] jimharris commented on #2204
Thanks @EugeneKochetov.  Can you share the initial ideas you have on why it is causing performance degradation?  It really is a nice cleanup, avoiding the extra epoll.  It's really perplexing why removing the epoll would have such a big impact especially on something like 1M sequential reads.

Do you have data on overall CPU utilization before and after the epoll patch?  And also what kind of conf

[2021-11-17 01:33] Lyhugo commented on #2234
Thank you very much! I'll do some experiments later.

[2021-11-17 03:11] tanlong0121 commented on #2204
Hi,

Testing system is on my hand, I will retest the patch before and after, and collect the info @jimharris mentioned, this may need some time, I will sync the results once completing. We use bdev_rbd_create to create rbd bdev, I will try bdev_rbd_register_cluster also.

Regarding the patch https://review.spdk.io/gerrit/c/spdk/spdk/+/9895, I have another thinking of the solution, we know the bott

[2021-11-17 03:13] tanlong0121 commented on #2204
And there are another 2 patches to fix rbd issues about performance: https://review.spdk.io/gerrit/c/spdk/spdk/+/10198 and https://review.spdk.io/gerrit/c/spdk/spdk/+/10201/2, could you please take a look?

[2021-11-17 08:45] sydidelot commented on #2233
@changpe1 Thanks for the patch, but I think the fix is incorrect. I have posted my comments to Gerrit. Please have a look.

[2021-11-17 10:39] EugeneKochetov commented on #2204
@jimharris, here are my thoughts on possible root cause for degradation. With epoll completion mechanism all IO completion handling was done in scope of SPDK thread. Once epoll was removed we partly do it in completion callback in the context of librbd thread. librbd threads are very CPU intensive and we take some precious CPU time for SPDK needs. Solution can be to just spdk_thread_send_msg to su

[2021-11-17 11:33] spdkci commented on #2128
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_61970.html

[2021-11-17 12:06] eyuval opened #2241 "spdk perf with meta data"
I tested the following scenario:
sudo perf  -c 0x1 -M 50 -q 31 -o 131072 -w read -t 2 -r 'trtype:RDMA adrfam:IPv4 traddr:2.2.2.49 trsvcid:4420 subnqn:nqn.2020-02.com.xxxxxx:nvme:sn-9830A01BTVYE ' -e 'PRACT=1,PRCHK=GUARD'
What I see in wireshark is, that the read commands are split into 2 reads, one of 131040 and the other of 2080 bytes. This causes an overflow on the target if the queue there is o

[2021-11-17 15:01] jimharris commented on #2241
Hi @eyuval,

My guess is that you are using the default options on the target side when creating the RDMA transport, which includes a max io size of 131072.  The nvme driver on the initiator/perf side, has to split the 133120 payload to accommodate that max io size.

perf tries to account for this - see register_ns().  It looks at things like max_io_xfer_size() and figures out what the actual queu

[2021-11-17 19:06] jimharris commented on #2204
Yeah, I was thinking along these lines too, but for 1M sequential reads, we aren't doing very many completions, so it's surprising that we'd see 14% degradation (compared to only 3% for random 4KB write).

I think it's really important for us to go back and re-run the performance data using the bdev_rbd_register_cluster RPC.  That will significantly cut down on the number of threads spawned by lib

[2021-11-17 22:22] adamagniv opened #2242 "SPDK initiator reports wrong amount of available IOQ"
# Bug report
SPDK ran as initiator thinks there are a wrong amount of IOQ available on the target (not running SPDK)
it takes the **Max virtual controllers amount** as the **max IOQ amount**

## Expected Behavior
report 128 Max IOQ instead of 512

## Current Behavior
reporting Max Virtual Controllers as Max IOQ.

## Steps to Reproduce

added this change to SPDK:
[code]
when running perf (also happ

[2021-11-17 22:41] adamagniv opened #2243 "nvme_cntrl mistakenly reports "No free I/O queue IDs""
# Bug report
when running from 2 initiators to the same 12 drives the second initiator thinks there is only 1 available IOQ per drive although there are a lot more than that.

## Expected Behavior
to be able to open the requested amount of IOQ from the second initiator after th first started running.

## Current Behavior
the first initiator shows a high amount of IOQ available but when trying to c

[2021-11-18 01:39] changpe1 commented on #2233
We've already set the queue pair to DESTROYING state, so there will no new requests sent from applications, so it's safe in practice, but it's indeed a little weird that we use the tracker data structure in the free list.

[2021-11-18 02:21] Comphix commented on #2241
One slight update, the max_io_size parameter is "-i 133120" for nvmf_create_transport RPC. Also assign to @MengjinWu to have a try in our local environment.

[2021-11-18 02:33] Comphix commented on #2242
Not quite clear.

In above SPDK log:

[2021-11-17 22:07:54.933382] nvme_ctrlr.c:5131:spdk_nvme_ctrlr_alloc_qid: *ERROR*: [<SUBNQN>.01] qid: 1 | opts.num_io_queues: 128  <<<<<<<<

The Max IO Queues is 128 for this single controller.

And for the nvme cli, it successfully allocated 42 queues.

Are you expecting SPDK to report 128 queues or 512 queues?

[2021-11-18 04:41] jimharris commented on #2242
Hi,

Please clarify which target you are using.  Is it the kernel target?  If not, can you reproduce this problem with the SPDK target or kernel target?

It's not clear what is meant by "max virtual controllers amount".  SPDK uses the GET_NUM_QUEUES NVMe feature to determine the maximum number of IOQ per controller.

In this case, you are telling the kernel how many IOQs to use per controller.  Th

[2021-11-18 04:51] jimharris commented on #2243
Hi,

I have the same questions here around "max IOQ" and "max virtual controllers" as issue #2242.  Let's clarify those before we dig into this issue.

Thanks,

Jim

[2021-11-18 05:59] adamagniv commented on #2242
Hi @jimharris, thank you for the reply.
So the target is a specific nvme enclosure from a vendor I use. So, I don't 100% know how to answer regarding this.

If this is true, running nvme-cli to connect to the 1st drive in the target with **-i 128** should have shown in the dmesg log that 128 I/O Queue were created.
but in fact this is the result on my end:
[code]
you can see that only **63 IOQ** w

[2021-11-18 06:41] eyuval commented on #2241
Many thanks for the explanation. I will adjust my max_io_size parameter.

[2021-11-18 06:41] #2241 closed

[2021-11-18 09:25] erikliu123 commented on #295
how do you create a NVMe device which attached to host without RPC , i have the same issue.

[2021-11-18 10:10] spdkci commented on #2128
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_62062.html

[2021-11-18 10:36] changpe1 commented on #2233
@sydidelot I used a different way to fix this issue which is more clean, can you have a try with above patch?

[2021-11-18 11:49] spdkci commented on #2128
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_62044.html

[2021-11-18 14:00] spdkci commented on #2240
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_62067.html

[2021-11-18 14:56] mikeBashStuff commented on #2240
Just taking some snippets from the the last repo to better understand conditions under which given scenario fails:
[code]
So the cpu9 schedules some other work, not-related to SPDK. I guess this is expected since we don't isolate cpus for these tests. That said, at the very beginning, when work under `test/scheduler` started, there was this idea of using cgroups to make sure SPDK spins on dedicate

[2021-11-18 14:59] jimharris commented on #2242
How many CPU cores do you have on this system?  Will the Linux kernel actually try to allocate more IO queues than there are CPU cores on the system?

We need to differentiate between how many queues the controller reports through the NUMBER_OF_QUEUES feature, and how many queues are actually created using CREATE_CQ/CREATE_SQ commands.

When the kernel reports "creating 63 I/O queues", that only i

[2021-11-19 08:16] ksztyber commented on #2240
@mikeBashStuff, I agree with you, we should either make sure the CPU load doesn't include background stuff or don't bother checking that at all. I feel like it is good to cross-check the SPDK scheduler stats with the kernel ones. I like the idea of using cgroups, but how exactly would that work? Would we be able to see the busy/idle stats for a cgroup?

Also, this is a duplicate of #1950, let's cl

[2021-11-19 08:16] #2240 closed

[2021-11-19 09:21] mikeBashStuff commented on #1950
@ksztyber Regarding https://github.com/spdk/spdk/issues/2240#issuecomment-973853706

Currently, `test/scheduler/isolate_cores.sh` is looking for cpus to be used across entire `test/scheduler` suite. The idea with cgroups that I have in my mind would depend  on creating a separate cpuset instance, putting all the processes from `test/scheduler` inside it and then pinning that cgroup to the selected

[2021-11-19 11:24] spdkci commented on #2128
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_62092.html

[2021-11-19 11:26] spdkci commented on #1950
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_62074.html