[2021-02-23 12:38] #1750 closed

[2021-02-23 12:55] Maciej-Szwed commented on #1785
Description and title updated.

[2021-02-23 12:58] Maciej-Szwed commented on #1760
@tomzawadzki this looks like bdev examine code failure. Could you take a look at this?

[2021-02-23 15:04] tomzawadzki commented on #1696
[Bug scrub] This issue has only been seen on the specific Fedora 31, and has not been seen since.

[2021-02-23 15:04] #1696 closed

[2021-02-23 15:11] tomzawadzki commented on #1804
[code]
[Bug scrub] The error above suggests that namespace is not expected with `-d` argument. Can you try the command to disconnect by the nqn ?

[2021-02-23 15:21] jimharris commented on #1804
You could also try disconnecting by controller name (/dev/nvme20) instead of namespace name (/dev/nvme20n1).

[2021-02-23 15:42] jimharris commented on #1805
Hi @zhuohaofan,

Could you try latest SPDK v21.01 release?  Please also provide more details on the VM you are using for your tests.

Can you try testing with 8 VM cores + 8 virtio-blk queues + 8 jobs?

-Jim

[2021-02-24 02:13] yidong0635 commented on #1804
Thanks @jimharris @tomzawadzki  using `nvme disconnect -d /dev/nvme20` is ok on TCP transport.  Just curious  about from history log: we use disconnect -d /dev/nvmeXn1 usually and RDMA transport using` nvme disconnect  -d /dev/nvmeXn1`  is ok.

[2021-02-24 02:48] zhuohaofan commented on #1805
The VM OS information is:
[root@vm44 ~]# uname -a
Linux vm44 3.10.0-1160.el7.x86_64 #1 SMP Mon Oct 19 16:18:59 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
[root@vm44 ~]# cat /etc/redhat-release
CentOS Linux release 7.9.2009 (Core)
Because of network problems, I have never succeeded in pulling the latest SPDK v21.01 release.
And I will try to update later.
I try testing with 8 VM cores + 8 virtio-blk q

[2021-02-24 05:19] shuhei-matsumoto commented on #1664
Hi @EugeneKochetov @jimharris and all,

I might find a solution to satisfy both sparse namespaces and multipath.

nvme_bdev_io needs pointers to spdk_nvme_ns and spdk_nvme_qpair to submit it to NVMe driver.

When we support multipath, a nvme_bdev_subsystem has multiple nvme_bdev_ctrlr and a nvme_bdev has multiple nvme_bdev_ns.

We register both nvme_bdev_subsystem and nvme_bdev as I/O devices by s

[2021-02-24 06:34] zhuohaofan commented on #1805
Hi all,
If I put the virtual machine and SSD on the same server.
I means:
host:~# ./build/bin/vhost -S /var/tmp -s 4096 -m 0x0f &
host:~# ./scripts/rpc.py bdev_nvme_attach_controller -b Nvme0 -t pcie -a 0000:af:00.0
host:~# ./scripts/rpc.py vhost_create_blk_controller --packed_ring --cpumask 0x0000000000f vhost.0 Nvme0n1

The 4k random read IOPS can reach 680k. Very ideal performance.
It looks lik

[2021-02-24 06:58] optimistyzy opened #1806 "[clang-vg-autotest] qemu-system-x86_64: failed to initialize kvm: Cannot allocate memory"
## Link to the failed CI build

http://10.211.11.56/results/autotest-per-patch/builds/37238/archive/clang-vg-autotest/build.log

## Execution failed at

[2021-02-24 07:00] spdkci commented on #1806
Another instance of this failure. Reported by @optimistyzy. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_37238.html

[2021-02-24 07:32] wanghailiangx opened #1807 "Jenkins build failed but Subbuild show all Pass"
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_37160.html

## Execution failed at
Build Summary
Result
Test Failure

Subbuild Summary
Result
All Pass

[2021-02-24 07:41] spdkci commented on #1801
Another instance of this failure. Reported by @optimistyzy. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_37245.html

[2021-02-24 07:45] spdkci commented on #1807
Another instance of this failure. Reported by @JiangMaox. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_37160.html

[2021-02-24 08:08] yidong0635 opened #1808 "nvmf target will hang if to split a bdev is not power of 4"
# issue
[code]

## Steps to Reproduce
./configure
make -j
./scripts/rpc.py bdev_malloc_create -b Malloc2 512 1025
./scripts/rpc.py bdev_split_create -s 4 Malloc2 8

commit : 7cc83b6258f23e3650b0412bb9b13ba364c8a77c
OS: fedora30

[2021-02-24 09:01] zhuohaofan commented on #1805
The 4k random read IOPS is still 330k with the latest SPDK v21.01 release.

[2021-02-24 13:12] #1763 closed

[2021-02-24 22:27] rmvasuki opened #1809 "nvme hotplug: Unable to to access NVMe drives if drives are hotplugged while controller initialization is in process"
If the NVMe drives are powered off while the application is probing and constructing controllers, the application is never able to recognize and construct controllers when the drives are powered on again.

## Expected Behavior

Application should be able to recognize and construct controllers after a drive power off/power on sequence.

## Current Behavior

We’re using the vfio-pci kernel driver wi

[2021-02-25 06:42] yidong0635 commented on #1808
the reactor in  dead loop  :
[2021-02-25 07:24:37.913305] reactor.c: 617:get_rusage: *INFO*: Reactor 0: 0 voluntary context switches and 4 involuntary context switches in the last second.
[2021-02-25 07:24:38.915655] reactor.c: 617:get_rusage: *INFO*: Reactor 0: 0 voluntary context switches and 5 involuntary context switches in the last second.
[2021-02-25 07:24:39.918004] reactor.c: 617:get_rusag

[2021-02-25 08:41] spdkci commented on #1760
Another instance of this failure. Reported by @EugeneKochetov. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_37324.html

[2021-02-25 09:50] karlatec commented on #1807
It's not an intermittent failure. Looks like everything is as expected.
Please see:  https://ci.spdk.io/results/autotest-per-patch/builds/37160/archive/post_process/build.log for "Tests Missing From Build" and compare the list with spdk/test/common/skipped_tests.txt

I imagine some tests failed to start because of this change https://review.spdk.io/gerrit/c/spdk/spdk/+/6361, as rebasing your patch

[2021-02-25 10:30] tomzawadzki commented on #1648
Patch set 1 ran twice
https://review.spdk.io/gerrit/c/spdk/spdk/+/6545/1

[2021-02-25 10:37] spdkci commented on #1761
Another instance of this failure. Reported by @tomzawadzki. log: build failed. results: https://ci.spdk.io/public_build/autotest-per-patch_37296.html

[2021-02-25 10:42] glodfish-zg commented on #1809
https://review.spdk.io/gerrit/c/spdk/spdk/+/6553 @rmvasuki  please try this patch.

[2021-02-25 12:40] rmvasuki commented on #1809
@glodfish-zg this idea works. Since I'm using SPDK 20.07, the function names are a bit different, but using deferred removal works great.

[2021-02-25 13:41] karlatec commented on #1643
Made minor reconfiguration on Jenkins side today. Hopefully this will allow us to reduce the number of these fails, if not mitigate completely

[2021-02-25 20:29] EugeneKochetov commented on #1664
Hi @shuhei-matsumoto

Thanks for looking into this conflict.
Do you have patches in gerrit to look at which introduce the subsystem layer for multipath? I'd like to build deeper understanding of the changes and maybe will have some ideas too.

[2021-02-26 02:04] changpe1 commented on #1805
For the test case, vhost is using just 1 CPU core to process the IOs, how many CPU cores are you using with fio_plugin in Client?

[2021-02-26 02:21] optimistyzy commented on #1805
Hi Changpeng,

Could we change the vhost internal strategy. Currently, we use one cpu to server all the I/Os even if multiple coremask is enabled. Could we enable the same strategy as in NVMe-oF subsystem, that we could have multiple CPUs to serve on vhost?

[2021-02-26 02:29] zhuohaofan commented on #1805
I use the following command to run fio_plugin.
host:~# cat spdk_rand_read_4k.conf
[global]
direct=1
thread=1
iodepth=64
rw=randread
ioengine=spdk
bs=4k
ramp_time=10
runtime=60
group_reporting=1
time_based=1

[test]
offset=10%
numjobs=8
size=100g
filename=trtype=RDMA adrfam=IPv4 traddr=192.168.100.26 trsvcid=4420

sudo LD_PRELOAD=/home/spdk/spdk/build/fio/spdk_nvme /home/spdk/fio/fio -f spdk_rand_r

[2021-02-26 02:45] changpe1 commented on #1805
@zhuohaofan You can limit fio plugin to use 1 core to see the performance result, @optimistyzy vhost is designed for multiple VMs, so users can span multiple controllers to different cores, but for 1 controller, even you can specify the core mask, it means the controller can schedule to other cores, when doing the IOs, it's running in 1 lcore.

[2021-02-26 03:05] zhuohaofan commented on #1805
@changpe1 When I changed the numjobs in the fio configuration file from 8 to 1, the 4k random read iops of fio_plugin was also about 310k.
As you said, even if a controller has multiple cores, it can only use one at a time. So for a VM, it can easily reach a performance bottleneck. For example, the current 330k IOPS.

[2021-02-26 03:21] changpe1 commented on #1805
Right, but in practice users can use multiple VMs, or you can assign two controllers in one VM.

[2021-02-26 04:51] changpe1 commented on #1808
@yidong0635 I pushed a fix https://review.spdk.io/gerrit/c/spdk/spdk/+/6578, can you help to verify it?

[2021-02-26 06:46] yidong0635 commented on #1808
Thanks @changpe1  , It works for me.   From the source to prevent creating a wrong size malloc bdev is always ok.  and I'm checking  if there's any defects about the code path.

[2021-02-26 06:53] changpe1 commented on #1808
sure, go ahead.

[2021-02-26 14:59] mikeBashStuff opened #1810 "crypto-autotest timed out due to a blocking make test"
`make` test blocked for almost 3 minutes before it finally started building SPDK.

https://ci.spdk.io/results/autotest-per-patch/builds/37518/archive/crypto-autotest/index.html

[code]
Hence leaving the job with not enough time to properly finish. Most likely caused by a blip in a cosmos.

[2021-02-26 15:38] AlekseyMarchuk commented on #1780
@rdx-drorg Could you try this patch https://review.spdk.io/gerrit/c/spdk/spdk/+/6597?
I was not able to reproduce this problem but I believe it should fix it

[2021-02-26 19:00] rdx-drorg commented on #1780
Hi Alexey,

Sorry for not being responsive on your previous questions, I somehow missed it. I will look at this again on Sunday and update on your questions and patch. The issue does not reproduce often.

Thanks,
Dror

Sent from my iPhone

[2021-02-28 07:00] ghnicky opened #1811 "app compiled in intel x86 fails to run in amd x86 platform. [-funsigned-char]"
when i run my application which compiled in intel x86, it will core dump in amd environment.
after i compiled the my app wich adding -funsigned-char in CFLAGS, it seems that it can solve this problem.
But i am not sure whether it  does harm to the normal logic in SPDK.
Anyone can give some help on this question? Any help is aprreciated!

## Expected Behavior

## Current Behavior

## Possible Solut

[2021-02-28 16:09] rdx-drorg commented on #1780
* There is a single core allocated for the SPDK target.

* The fio command I'm running:
root@io-generator-app-0:/# fio --ioengine=libaio --name=/media/reduxio --readwrite=randrw --numjobs=10 --filesize=1GB --rwmixread=70 --direct=1
/media/reduxio: (g=0): rw=randrw, bs=(R) 4096B-4096B, (W) 4096B-4096B, (T) 4096B-4096B, ioengine=libaio, iodepth=1
...
fio-3.16

* I have a test that creates and destro

[2021-02-28 20:27] rdx-drorg commented on #1780
With the patch I'm now getting signal 6 with following backtrace:

_nvmf_ctrlr_destruct at ctrlr.c:445 (0x7f8bd99272fe)
msg_queue_run_batch at thread.c:545 (0x7f8bd9917bd4)
thread_poll at thread.c:623 (0x7f8bd9917e94)
spdk_thread_poll at thread.c:732 (0x7f8bd991842b)
_reactor_run at reactor.c:706 (0x7f8bd991e5ca)
reactor_run at reactor.c:770 (0x7f8bd991e7c5)
spdk_reactors_start at reactor.c:888 (0

[2021-03-01 02:37] yidong0635 commented on #1808
A base bdev was opened but not closed in the error path of  spdk_bdev_part_base_construct_ext, that leads to io still be unregistered. A subsystem can't be finished and the reactor can't be stopped. The code here is a little mixed.

[2021-03-01 04:09] changpe1 commented on #1808
Thanks, @yidong0635  you can submit a fix for that.

[2021-03-01 04:12] changpe1 commented on #1811
Can you provide more information about it? e.g core dump trace and environment information.

[2021-03-01 04:15] changpe1 commented on #1805
@zhuohaofan We don't have the plan to implement vhost to per-queue poll mechanism, do you have further question about it?
if not, I'm going to close this issue.

[2021-03-01 08:27] karlatec commented on #1789
Docs and coverage are available in ci.spdk.io status  pages, closing

[2021-03-01 08:27] #1789 closed

[2021-03-01 08:30] yidong0635 commented on #1808
list the patch here :https://review.spdk.io/gerrit/c/spdk/spdk/+/6599.

[2021-03-01 09:30] AlekseyMarchuk commented on #1780
Thanks for your reply. Could you specify which transport do you use? If it possible, please share the full SPDK target configuration and options passed to `configure` script.
I tried about 40 attempts to delete/create a subsystem while traffic is running but still was not able to reproduce the issue.

[2021-03-01 10:31] karlatec commented on #1775
https://ci.spdk.io/public_build/autotest-per-patch_37526.html

[2021-03-01 12:09] #1808 closed

[2021-03-01 12:14] rdx-drorg commented on #1780
Transport: TCP.
We are using proprietary bdev implementation.
configure options:
    --with-isal
    --with-rdma
    --disable-tests
    --disable-unit-tests
    --disable-examples

[2021-03-01 21:50] mikeBashStuff opened #1812 "vhost-autotest failed while cloning submodules"
https://ci.spdk.io/results/autotest-per-patch/builds/37594/archive/vhost-autotest/build.log

[code]

[2021-03-01 22:44] shuhei-matsumoto commented on #1664
Hi @EugeneKochetov

Sorry for my late reply. I have not added subsystem layer yet but remove the direct association between nvme_bdev and nvme_bdev_ns. Then I registered nvme_bdev as an io_device, created nvme_bdev_channel for nvme_bdev, and added a cache to nvme_bdev_ns to nvme_bdev_channel. The patch series starts from https://review.spdk.io/gerrit/c/spdk/spdk/+/6603. I hope you will have more c

[2021-03-02 01:57] optimistyzy commented on #1800
Patch is merged, so close this issue.

[2021-03-02 01:57] #1800 closed

[2021-03-02 09:28] AlekseyMarchuk commented on #1780
Thanks @rdx-drorg
I was able to reproduce this problem with delay block device built on top of null bdev. I fixed the original issue but discovered another one related to double destruction of nvmf controller. Now I'm working on the new issue, plan to publish a fix today.

[2021-03-02 14:27] karlatec opened #1813 "nvmf_tgt segfault when killing QEMU and restart QEMU"
nvmf_tgt fails with a segfault when trying to connect a Qemu VM via vfio-user socket.

## Steps to Reproduce

1. Clone & build SPDK with vfio-user option:
[code]
2. Clone & build vfio-user capable Qemu:
[code]
3. Run & configure SPDK nvmf_tgt:
[code]
4. Run Qemu VM:
[code]

Results in nvmf_tgt printing error messages:
[code]
And then crashing due to segfault:
[code]

[code]

5. try again with libv

[2021-03-02 14:32] changpe1 commented on #1813
diff --git a/lib/dma.c b/lib/dma.c
index 07d12b3..cb76f15 100644
--- a/lib/dma.c
+++ b/lib/dma.c
@@ -361,6 +361,9 @@ UNIT_TEST_SYMBOL(dma_map_region);
 int
 dma_unmap_region(dma_memory_region_t *region, void *virt_addr, size_t len)
 {
+    if (virt_addr == NULL) {
+        return 0;
+    }
     mmap_round((size_t *)&virt_addr, &len, region->page_size);
     return munmap(virt_addr, len);
 }

@karl

[2021-03-02 14:46] karlatec commented on #1813
Thanks @changpe1 this helped a little.

I was able to run the VM:
[code]

Following error messages are still printed from nvmf_tgt process while starting the VM:
[code]

More when shutting down the VM:
[code]

I also noticed that it is impossible to start the VM again without restarting nvmf_tgt process.
Qemu fails to start up because of:
[code]
Even though I have enough hugepages free:
[code]

[2021-03-02 14:47] karlatec commented on #1813
Quite similar when I try to run VM again without hugepages, like this:
[code]

[code]

[2021-03-02 14:49] karlatec commented on #1813
Ping @tmakatos for visibility

[2021-03-02 15:01] tmakatos commented on #1813
[code]

[2021-03-02 16:27] karlatec commented on #1813
@tmakatos by debugging you mean trace logs right?

[2021-03-02 16:30] tmakatos commented on #1813
Not sure what trace logs are, I mean passing `-L vfio_user -L nvmf_vfio -L nvmf_vfio` to `nvmf_tgt`. What we want is to enable `SPDK_DEBUGLOG` messages in `lib/nvmf/vfio_user.c` and also debug messages from libvfio-user.

[2021-03-02 22:49] KariukiJ opened #1814 "NVMe driver performance degradation"
When I run the NVMe perf in the 21.01 LTS I get 1.1M lower IOPS/Core than with the 20.10 release.

## Expected Behavior
In the SPDK 20.10 release, I get up to 13.8M IOPS/Core when I run NVMe perf for the 512B Rand Read workload

## Current Behavior
In the SPDK 21.01 release, I get 12.7M IOPS/Core when I run NVMe perf for the 512B Rand Read workload

## Possible Solution
Git bisect shows that there

[2021-03-03 01:24] changpe1 commented on #1813
The following messages are not real errors when starting VM, because in the unmap_dma callback, I will stop polling all the queue pairs(similar with vhost to stop device when receiving socket messages), and try to remap queue pair periodicity, and finally it will remap successfully.

[2021-03-02 15:38:45.761201] vfio_user.c: 510:acq_map: *ERROR*: Map ACQ failed, ACQ 3ffde000, errno -1

But there i

[2021-03-03 05:10] changpe1 commented on #1813
huge pages are mandatory, we are doing the zero-copied IO processing.

[2021-03-03 07:27] spdkci commented on #1812
Another instance of this failure. Reported by @mikeBashStuff. log: Not Found

[2021-03-03 07:28] spdkci commented on #1792
Another instance of this failure. Reported by @mikeBashStuff. log: Not Found

[2021-03-03 07:28] spdkci commented on #1760
Another instance of this failure. Reported by @AlekseyMarchuk. log: Not Found

[2021-03-03 08:25] tomzawadzki opened #1815 "[vhost-autotest] spdk_test_image.qcow2 does not exist"
Issue appears on vhost job when attempting to use the spdk_test_image.qcow2.

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/37705/archive/vhost-autotest/build.log

## Execution failed at
[code]

[2021-03-03 09:15] tmakatos commented on #1813
@changpe1 not sure I understand, so you're saying that all queue map errors are benign except a specific one?

[2021-03-03 12:32] spdkci commented on #1686
Another instance of this failure. Reported by @KKaras169169. log: Not Found

[2021-03-03 12:32] spdkci commented on #1815
Another instance of this failure. Reported by @tomzawadzki. log: Not Found

[2021-03-03 14:45] AlekseyMarchuk commented on #1780
@rdx-drorg It took more time than I expected to fix another issue. I updated old patch https://review.spdk.io/gerrit/c/spdk/spdk/+/6597 and added 2 more on top of it. I would like to check CI results before you verify them, I'll write you a bit later

[2021-03-03 15:15] karlatec commented on #1815
@wawryk please make sure all new test nodes have vhost test image provisioned

[2021-03-03 15:19] karlatec commented on #1815
@tomzawadzki this is strange however `ERROR: VM image '/root/spdk_test_image.qcow2' does not exist.`
We run tests with `sudo -E` so this should point to /home/sys_sgci/spdk_test_image.qcow2 instead

[2021-03-03 15:34] mikeBashStuff commented on #1815
That actually depends on how sudo is configured (different distros handle this particular setting differently),  `always_set_home` in particular.

[2021-03-03 15:42] karlatec commented on #1815
True, but that's the same distribution and I think we re-used an OS image for this host

[2021-03-03 15:47] mikeBashStuff commented on #1815
@karlatec This is fedora and as far as I recall they always have `always_set_home` set to defaults (i.e. `$HOME` should be set to that of a target user, `root` in this case). And from that I see now, it's there in `/etc/sudoers`.

[2021-03-03 16:28] AlekseyMarchuk commented on #1780
@rdx-drorg CI passed, could you verify patches? You can checkout the last patch in the series https://review.spdk.io/gerrit/c/spdk/spdk/+/6661

[2021-03-03 23:11] sydneyvanda opened #1816 "NVMe Hotplug example not working with VFIO driver"
Seems that I misspoke in previous #1616 , and NVMe hotplug example is still failing with vfio-pci driver in CentOS 7.9 (kernel 3.10.0), CentoOS 8.2 (4.18.0), and openSUSE Leap 15 (kernel 5.3.18).

## Expected Behavior

NVMe hotplug example script should detect the VFIO device hot removal (with ctrlr in failed state error), and then detect the hot plug event when the PCI bus is rescanned and the de

[2021-03-03 23:16] sydneyvanda commented on #1816
@NiuYawei @jimharris was looking into this issue again recently and seems it was not resolved by the CentOS 8 kernel version, as it is currently reproducible in CentOS 8.2 (kernel 4.18.0) and also openSUSE Leap 15 (kernel 5.3.18).

[2021-03-03 23:17] peluse commented on #1187
@mikeBashStuff I figured as much,  I think @tomzawadzki patch is the only way to address it.  it happens before the vbdev is initialized

[2021-03-03 23:21] nconnolly1 opened #1817 "[nvmf_multipath] core dump from bdevperf"
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/37767/archive/nvmf-tcp-vg-autotest/build.log

## Execution failed at

00:08:33.410  Connection closed with partial response:
00:08:33.410
00:08:33.410
00:08:33.421  test/nvmf/host/multipath.sh: line 62: 35746 Aborted                 (core dumped) $rootdir/test/bdev/bdevperf/bdevperf -z -r $bdevperf_rpc_sock -q 128

[2021-03-04 01:20] changpe1 commented on #1813
I submit a patch which remove the error message during this period, https://review.spdk.io/gerrit/c/spdk/spdk/+/6650

If the QEMU started with "prealloc" parameter, that means the memory region will not be changed after startup, these messages only occur when starting the VM.

[2021-03-04 01:50] changpe1 commented on #1817
I submit a fix patch https://review.spdk.io/gerrit/c/spdk/spdk/+/6690 for it.

[2021-03-04 02:17] changpe1 commented on #1816
The VFIO hotplug requires minimum kernel 4.0, I just tested on my 5.4 kernel, it works.

[2021-03-04 02:31] changpe1 commented on #1804
@yidong0635 I'm going to close this issue, please use the suggested parameters for this command.

[2021-03-04 02:31] #1804 closed

[2021-03-04 02:38] changpe1 commented on #1790
@rmvasuki Go ahead to submit a improvement patch for it, I assign this issue back to you.

[2021-03-04 04:14] yidong0635 commented on #1816
I will try to reproduce this one.

[2021-03-04 04:30] changpe1 commented on #1805
[Bug Scrub] @tomzawadzki is investigating virtio part,  we may change the existing poll mechanism in future(not recently), so label it as an enhancement.

[2021-03-04 04:57] onkar6699 opened #1818 "spdk bdev creation error"
I installed Spdk
git clone https://github.com/spdk/spdk
cd spdk
git submodule update --init
sudo scripts/pkgdep.sh --all
./configure
make
/test/unit/unittest.sh
But not able to run
RPC.py bdev_aio_create /dev/sda aio
It is not running
scripts/rpc.py bdev_aio_create /dev/sda aio ev/sda Traceback (most recent call last): File
"/root/spdk/scripts/rpc/client.py", line 71, in connect

device self.sock.

[2021-03-04 06:19] #1818 closed

[2021-03-04 07:22] Dantali0n commented on #1794
I'll start looking into submitting patches this weekend, I have worked on OpenStack before which also uses Gerrit so it shouldn't be that different.

[2021-03-04 08:59] ksztyber opened #1819 "[nvmf_multipath] wait on fio to finish execution took over 3min"
The wait for fio to finish execution took 3m20s, which caused the job to time out. The fio is started with a runtime of 6 seconds, so 3 minutes definitely seem to be out of the ordinary. From what I saw, normally the wait takes around 3 seconds.

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/37891/archive/nvmf-tcp-vg-autotest/index.html

## Execution failed a

[2021-03-04 09:55] spdkci commented on #1645
Another instance of this failure. Reported by @KKaras169169. log: Not Found

[2021-03-04 09:55] spdkci commented on #1792
Another instance of this failure. Reported by @nconnolly1. log: Not Found

[2021-03-04 10:11] spdkci commented on #1792
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_37966.html

[2021-03-04 10:18] HellenViolet opened #1820 "[UpdateNamespace]Spdk lib in host side cannot update the namespace list after the new namespace added to the existing target.."
After adding a new namespace to the existing target, spdk lib in the host side cannot get the  spdk_nvme_ns  of the new namespace, so cannot submit io to the new namespace.

## Expected Behavior
Expect that the host could get the spdk_nvme_ns  of the new namespace and could do IO on the new namespace without affecting IO stream on the other namespaces of the target.

## Current Behavior

we are tr

[2021-03-04 11:14] spdkci commented on #1686
Another instance of this failure. Reported by @KKaras169169. log: Not Found

[2021-03-04 11:46] spdkci commented on #1639
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_37970.html

[2021-03-04 13:56] karlatec opened #1821 "[nvmf] segfault when trying to remove non-existent subsystem listener"
## Current Behavior

As in title - segfault occurs when trying to remove a non-existent subsystem listener.

## Steps to Reproduce

1. sudo scripts/rpc.py nvmf_create_transport --trtype TCP
2. sudo scripts/rpc.py nvmf_create_subsystem nqn.2019-07.io.spdk:cnode0 -s SPDK001 -a
3. sudo scripts/rpc.py nvmf_subsystem_remove_listener nqn.2019-07.io.spdk:cnode0 -t tcp -a 10.211.11.0 -s 4421

[code]

## C

[2021-03-04 14:06] karlatec opened #1822 "vfio-user nvmf target can't use physical NVMe drives as the block backend"
## Current Behavior

App crashes with `Assertion `bdev_ch->io_outstanding > 0' failed.` when trying to connect a Qemu VM to a vfio-user socket, which points to subsystem with NVMe bdev namespace attached.

## Steps to Reproduce

1. Clone & build SPDK with vfio-user option:
[code]
2. Clone & build vfio-user capable Qemu:
[code]
3. Run & configure SPDK nvmf_tgt:
[code]

4. Run Qemu VM:
[code]

Resul

[2021-03-04 15:35] AlekseyMarchuk commented on #1821
Hey @karlatec I pushed a fix https://review.spdk.io/gerrit/c/spdk/spdk/+/6699 (in case if you haven't fixed it yet by yourself)

[2021-03-04 23:24] sydneyvanda commented on #1816
I just ran this example on Ubuntu 20.04 (kernel 5.4.0) and I still get the same errors. @changpe1 not sure what I am doing differently. At this point I don't think it is related to the kernel version.

[2021-03-05 00:48] changpe1 commented on #1820
@HellenViolet Actually we discussed similar issue before, NN(number of namespaces) is a fixed value, and when there is AER for namespace change notice to initiator, I don't see the specification that says initiator should call Identify Controller to update the NN first, so I think existing SPDK logic is correct.  Correct me if I missed something in the specification. Also copy @benlwalker @ZiyeYan

[2021-03-05 00:48] w-michal commented on #1795
Hello from GCP - we recently noticed this issue as well. The (most likely) root cause is that SPDK does not follow the NVMe spec in one place. GCP supports shadow doorbell config extension - that means SPDK will send `NVME_OPC_DOORBELL_BUFFER_CONFIG` (`0x7c`) admin command that configures extra doorbells per qid. The problem is that those doorbell buffers are not updated after queue recreation. Ac

[2021-03-05 00:57] yidong0635 commented on #1816
I tried this  hotplug  on several machines yesterday,  can't reproduce this until now. But I will continue to do this today according to your OS.

[2021-03-05 01:49] changpe1 commented on #1795
Simple disable it will affect the performance because shadow doorbell buffer is only designed for emulated NVMe controller, I will take a look.

[2021-03-05 05:30] yidong0635 commented on #1821
Maybe this issue can happen not only here，I meet this kind of issue once. as @AlekseyMarchuk said:
send response again but the response handler had already been released and we dereferenced a NULL pointer.

[2021-03-05 05:35] yidong0635 commented on #1819
link this issue to #1801 ,I can reproduce it frequently.

[2021-03-05 06:55] AlekseyMarchuk commented on #1792
Reporting manually since `false positive` is not working https://ci.spdk.io/public_build/autotest-per-patch_38031.html

[2021-03-05 07:13] changpe1 commented on #1795
I don't have a GCP environment, @w-michal @rakeshranjan-gh would you kindly have a try with this patch https://review.spdk.io/gerrit/c/spdk/spdk/+/6724? thanks.

[2021-03-05 08:35] #1809 closed

[2021-03-05 08:38] #1817 closed

[2021-03-05 09:52] dakshajauppalapati96 opened #1823 "while running iozone on SPDK target “write NLB 10 * block size 512 > SGL length 4096” error is seen"
Hi all,

Created two SPDK NVMEoF  targets over iWARP each of size 8GB and started iozone on NVMEoF host over iWARP. Within 30secs of test the below logs are seen on target side.

[2021-02-16 18:10:29.572370] ctrlr_bdev.c: 328:nvmf_bdev_ctrlr_write_cmd: ERROR*: Write NLB 10  block size 512 > SGL length 4096

**Current Behavior:-**

/root/nvme-cli/spdk/build/bin/nvmf_tgt: no process found
[2021-03-0

[2021-03-05 11:52] spdkci commented on #1792
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_38140.html

[2021-03-05 13:28] karthimouni opened #1824 "ctrl is missing after pli(used refclk on second port) event driver is in uio."
ctrl is missing after pli(used refclk on second port) event
driver is in uio. Observing this behavior on spdk version SPDK v20.10 git sha1 1e160969c / DPDK 20.08.0 initialization, not observed in spdk v 19
## Expected Behavior
controller pointer has to be valid value after pli

## Current Behavior
controller pointer showing null after pli event.

## Possible Solution

## Steps to Reproduce
run spd

[2021-03-05 14:13] jimharris commented on #1824
Hi @karthimouni,

Please provide enough information to allow someone else to reproduce this issue.  There is not nearly enough information here for anyone to be able to help.

Thanks,

Jim

[2021-03-05 14:56] jimharris commented on #1795
Hi Changpeng,

I tried this patch on my GCP VM instance, but it did not work.

I tried reading the shadow doorbell entries for QID=1 before we use it for the first time.  sq_tdbl, cq_hdbl, sq_eventidx are all 0.  cq_eventidx is MAX_UINT32.

So I also tried initializing cq_eventidx to MAX_UINT32 in nvme_pcie_qpair_reset.  This also doesn't work.

I need to study the shadow doorbell section of the s

[2021-03-05 15:36] karthimouni commented on #1824
I have a code which will write on a drive and in middle of the write issuing PREST PCI reset and after reset again checking the written data.

After reset , found no controller attached.

[2021-03-05 19:08] jimharris commented on #1824
Hi @karthimouni,

You must provide more specifics:

1) test code that you are using to reproduce the issue
2) specifics on how you "issue PREST PCI reset", "used refclk on second port", "issue pli on secondary port"
3) exact SPDK configuration, including aio configuration

-Jim

[2021-03-05 23:00] jimharris commented on #1795
@changpe1 was on the right track, but we have to clear the shadow doorbells before we reuse the qid in a new create sq/cq call.

https://review.spdk.io/gerrit/c/spdk/spdk/+/6752

I tested this on GCP and it works.

[2021-03-05 23:45] rakeshranjan-gh commented on #1795
@jimharris @changpe1 @w-michal  Thanks a lot taking a look at it and coming up with a patch. Look like this is mainly to handle a queue reuse case. I have also seen a case where without reusing any queue, the moment we put load 50K to 100K IOPS, we start seeing the cpl error as mentioned below.

nvme_pcie.c:2398:nvme_pcie_qpair_process_completions: *ERROR*: cpl does not map to outstanding cmd
nvme

[2021-03-06 00:59] w-michal commented on #1795
@jimharris @changpe1 thanks for the patches. I was able to reproduce the issue internally and can also confirm that  https://review.spdk.io/gerrit/c/spdk/spdk/+/6752 resolves the issue.

@rakeshranjan-gh can you share more details/repro? I am assuming that the test is being executed against recent (post https://github.com/spdk/spdk/commit/7188bb994f6bdff12167bda5e26cc309eeabd8ca) SPDK version. Thi

[2021-03-06 01:06] sunmingbao opened #1825 "SPDK perf can only receive one async event from the target"
## Expected Behavior

Each time the file "/sys/kernel/config/nvmet/subsystems/nqn_name/namespaces/ns_id/enable" on the target side was changed, the app perf on the host side should receive an async event from the target.
## Current Behavior

Only the first async event was received by perf.
## Possible Solution

## Steps to Reproduce

1. on host-A, set up an NVMe_OF RDMA target (nqn_name is testnqn

[2021-03-06 01:52] rakeshranjan-gh commented on #1795
@w-michal Thanks for your input! I was running my test against SPDK 20.04 and SPDK 20.10 version and that already has memory barrier change which you have mentioned.  In the test which I conduced, there is no I/O qpair getting reallocated. SPDK/DPDK Primary and multiple secondary processes sharing the single controller's namespaces. Each secondary process using its own I/O qpair corresponding to a

[2021-03-06 03:57] rakeshranjan-gh commented on #1795
While running fio even with this patch in place, I hit the following error. Patch 6752 is mainly to handle the I/O  qid reuse hence it is resolving that I/O queue id reuse issue. In the test case (mentioned above), there is no I/O queue id being reused but consistently I hit this error the moment IO load increases (200K+).

 kernel:Disabling IRQ #11
[2021-03-06 03:50:36.970514] nvme_pcie_common.c:

[2021-03-06 08:36] sunmingbao commented on #1825
By using the kernel host and capturing packets on the target side (kernel target), it is found that for each change in the file "/sys/kernel/config/nvmet/subsystems/nqn_name/namespaces/ns_id/enable", the target does send back an AER event (type: NVME_AER_TYPE_NOTICE, info: NVME_AER_NOTICE_NS_CHANGED).

[2021-03-06 09:38] sunmingbao commented on #1825
By debugging the kernel target, the following clues were found:
When the SPDK host was used, for the non-first call to nvmet_ns_changed, the condition "nvmet_aen_bit_disabled(ctrl, NVME_AEN_BIT_NS_ATTR)" was matched, thus the AER event sending was canceled.

[2021-03-06 10:01] sunmingbao commented on #1825
According to the code of kernel target, if the host sends a nvme_admin_get_log_page command with  NVME_LOG_CHANGED_NS as the  cmd->get_log_page.lid, the bit NVME_AEN_BIT_NS_ATTR in ctrl->aen_masked would got cleared.
I will try to add such an operation (get log page) on the SPDK host side.

[2021-03-07 03:13] sunmingbao commented on #1825
By adding the operation of "spdk_nvme_ctrlr_cmd_get_log_page(ctrlr, SPDK_NVME_LOG_CHANGED_NS_LIST, SPDK_NVME_GLOBAL_NS_TAG, ...)" at the SPDK host side, the problem got fixed.

[2021-03-07 05:41] Comphix commented on #1825
Thanks @sunmingbao on your analysis and findings. Will you raise a patch of your change? Thanks, Gang.

[2021-03-07 21:24] spdkci commented on #1760
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_38275.html

[2021-03-08 04:06] changpe1 commented on #1822
Thanks @karlatec I can reproduce this issue in my local environment, I will provide a fix patch for it ASAP.

[2021-03-08 08:16] zhuohaofan commented on #1805
I don't have any other questions. Thank you for your answer.

[2021-03-08 08:54] changpe1 commented on #1822
Existing vfio-user doesn't call spdk_mem_register for the VM memory regions, so when doing hardware DMA access from VM memory to physical NVMe drives, vtophys will report error.

I will fix this.

[2021-03-08 11:16] spdkci commented on #1806
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_38169.html

[2021-03-08 12:43] rdx-drorg commented on #1780
@AlekseyMarchuk The fix looks good. I've run my test for several hours now and it is stable.
Thanks,
Dror

[2021-03-08 13:46] spdkci commented on #1806
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_38361.html

[2021-03-08 14:24] spdkci commented on #1806
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_38228.html

[2021-03-08 15:25] karlatec commented on #1813
Thanks @changpe1, with your patch `failed to map CQ0:` error messages are not displayed.

Currently when using current libvfio-user **master branch** I can run a nvmf subsystem with malloc bdev attached and attach a Qemu VM without any additional patches / changes.
For libvfio-user used as current SPDK submodule I still need to do the trick with `virt_addr == NULL`. Perhaps we could update the sub

[2021-03-08 16:08] jimharris commented on #1795
Hi @rakeshranjan-gh,

This issue was filed for running perf as a secondary process, and we know that this patch definitely fixes the underlying problem in that use case (reusing qid).

There may be additional bugs that need to be looked at, including the fio one you mention here, but let's do that in a separate GitHub issue.  We will need specific reproduction steps in that new issue report.

Than

[2021-03-08 17:49] tmakatos commented on #1813
Not sure why this is happening. @changpe1 does SPDK destroy the context when the client closes the connection?

[2021-03-09 01:55] changpe1 commented on #1813
@karlatec I added one patch to update the libvfio-user submodule, you can use https://review.spdk.io/gerrit/c/spdk/spdk/+/6650 without extra update to libvfio-user.

I tested the restart case, it works now. Can you have another try? currently it can only use the malloc backend, for supporting the NVMe backend, there needs more work.

[2021-03-09 05:25] yidong0635 opened #1826 "[nvmf_identify] test/nvmf/host/identify.sh --transport=rdma"
## Link to the failed CI build
https://ci.spdk.io/results/autotest-per-patch/builds/38463/archive/nvmf-vg-autotest/build.log
## Execution failed at
[code]

[2021-03-09 05:40] rakeshranjan-gh commented on #1795
Hi @jimharris

Yes, this patch is addressing the qid reuse issue. Should I open a separate issue (ERROR: cpl does not map to outstanding cmd) being seen while running fio workload where IOQP qid is not reused?

[2021-03-09 05:44] spdkci commented on #1643
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_38462.html

[2021-03-09 06:16] changpe1 commented on #1795
@rakeshranjan-gh go ahead to open a new issue. thanks.

[2021-03-09 07:20] spdkci commented on #1792
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_38470.html

[2021-03-09 07:21] spdkci commented on #1792
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_38465.html

[2021-03-09 07:53] karlatec commented on #1813
Just FYI to be extra clear, because I haven't explained in previous comments: by `restart` I mean:

- Start Qemu process
- Stop Qemu process (by either SIGTERM of `sudo poweroff` in VM)
- Start Qemu process again.

I don't this it works.

After shutting down the VM:
[code]

Qemu log after 2nd start attempt:
[code]

nvmf_tgt after 2nd qemu start attampt:
[code]

[2021-03-09 08:05] changpe1 commented on #1813
Ah~~, I was thinking it's the case that restart the VM(inside the VM). let me have a try with your case again.

[2021-03-09 08:27] spdkci commented on #1784
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_38410.html

[2021-03-09 09:44] tomzawadzki commented on #1642
This issue still persists. For example this [coverage](https://ci.spdk.io/assets/html/untar.html?file=../../results/autotest-per-patch/builds/38502/archive/coverage_autotest-per-patch_38502.tar.gz&page=module/bdev/nvme/bdev_nvme.c.gcov.html) does not match the [patch](https://review.spdk.io/gerrit/c/spdk/spdk/+/6714/5).

[2021-03-09 09:47] #1826 closed

[2021-03-09 09:49] Dantali0n commented on #1794
Patch submitted: I suppose it is nice to track it here but could not find out how to relate Github issues to gerrit patches:
https://review.spdk.io/gerrit/c/spdk/spdk/+/6798

[2021-03-09 09:58] tomzawadzki commented on #1742
The build log no longer contains the output and this issue has not occurred for two months. Closing.

[2021-03-09 09:58] #1742 closed

[2021-03-09 10:33] tomzawadzki commented on #1778
Issue has not been reported again for over a month, closing.

[2021-03-09 10:52] spdkci commented on #1645
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_38153.html

[2021-03-09 11:22] spdkci commented on #1806
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_38541.html

[2021-03-09 11:23] tomzawadzki commented on #1645
@mikeBashStuff the last report looks like something different:
[code]
Could you create a fresh issue for it ?

[2021-03-09 11:25] tomzawadzki commented on #1645
This issue is duplicate of #1792. Closing this one, since #1792 is more recent with better title and has fresh reports.

[2021-03-09 11:25] #1645 closed

[2021-03-09 11:28] tomzawadzki commented on #1796
Last I've heard, @mikeBashStuff was working on tuning up the NTP services across the servers. Is the work complete and the issue can be closed ?

[2021-03-09 11:42] tomzawadzki commented on #1775
@mikeBashStuff Any update on this issue ?

[2021-03-09 11:51] mikeBashStuff commented on #1775
@tomzawadzki This should not be happening anymore since we already merged patches which disable vagrant's cachier, so the path the plugin was touching should be free of its curse.

[2021-03-09 12:02] AlekseyMarchuk commented on #1651
I'll try to reproduce this problem with new SPDK, will update with results today

[2021-03-09 12:02] mikeBashStuff commented on #1775
Also, just to note, the VM images are now also cleaned up of any lingering, unnecessary garbage, this includes contents of apt-get's archive dir. So even if vagrant's cachier would be in play, the dir it touches would be in fact empty.

[2021-03-09 12:03] tomzawadzki commented on #1286
A patch claiming to fix the issue was merged https://review.spdk.io/gerrit/c/spdk/spdk/+/1407.
@dakshajauppalapati96 @glodfish-zg please feel free to re-open if there is more to do on this issue.

[2021-03-09 12:05] tomzawadzki commented on #1628
@zlsh007 have you had a chance to modify the [patch ](https://review.spdk.io/gerrit/c/spdk/spdk/+/4735) resolving this issue ?

[2021-03-09 12:10] mikeBashStuff commented on #1775
So with the above in mind, closing.

[2021-03-09 12:10] #1775 closed

[2021-03-09 12:42] karlatec commented on #1643
@tomzawadzki We could probably close this one. Hasn't occurred since my last comment.

[2021-03-09 12:45] tomzawadzki commented on #1793
Patch resolving the issue was merged.

[2021-03-09 12:45] #1793 closed

[2021-03-09 13:01] tomzawadzki commented on #1749
Hi @rdxsasha, have you had a chance to create a patch following what you've suggested ?

[2021-03-09 13:01] AlekseyMarchuk commented on #1651
@wanqunintel I don't see any failures with your configuration even with default `num_shared_buffers` parameters. I used SPDK `13f868977` Could you check that MTU is configured to the same value on all RDMA ports? There was an issue with similar semantic and the problem was in wrong MTU setting

[2021-03-09 13:11] zlsh007 commented on #1628
@tomzawadzki
I need to look at the processing logic of the new version. I recently used the 20.04 branch to test and found that sometimes the same problem occurs even if it is deleted synchronously. It may be caused by some changes in the processing logic. Currently, the sampling period is set to 0 in advance through rpc, and then stop the service to avoid this problem

[2021-03-09 13:18] AlekseyMarchuk commented on #1703
I hit the same problem when I was reproducing issue #1681
[code]

The problem is in relatively small hardcoded timeout. In this case a huge number of qpairs is being connected simultaneously and the timeout might be not enough to get a response from the target since it is also busy with processing of IO requests. Changing the timeout helps to get rid of these errors:
[code]
@wanqunintel Could you

[2021-03-09 13:29] AlekseyMarchuk commented on #1707
@jgrodman sorry for the long delay in resolving this issue. If it is still relevant, can we summarize which approaches have you tried to solve it and what was the result?
1. Apply `transport_retry_count` and  `transport_ack_timeout` in perf tool. Please note that you'll have to reconfigure SPDK before compilation. This change also requires to use a fresh rdma-core library. If you see a warning  `R

[2021-03-09 13:30] mikeBashStuff opened #1827 "FreeBSD VM reports ro filesystem"
https://ci.spdk.io/results/autotest-per-patch/builds/38549/archive/freebsd-vg-autotest/build.log

Potentially broken image on the host (it's quite old too).

[2021-03-09 13:36] mikeBashStuff commented on #1796
@tomzawadzki I think this issue can be closed since sys clocks across most of the systems are currently in sync with the ntp pool. There's a patch on the jenkins side which introduces small adjustments for the `chrony` config (since this issue got opened, this was handled manually on SM9) but it hasn't been merged yet.

[2021-03-09 13:39] sunmingbao commented on #1825
@Comphix My local modification for this issue was mixed with some other modifications for the very special non-general requirements of our products. And the code style is not compliant with that of SPDK.
In addition, in our company, approval must be obtained first before contributing to open-source community.

Anyway, once I got the approval later, I would prepare and raise a proper clean patch de

[2021-03-09 13:45] #1807 closed

[2021-03-09 14:16] Comphix commented on #1825
Thanks @sunmingbao

[2021-03-09 14:49] spdkci commented on #1827
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_38565.html

[2021-03-09 14:50] xjjx commented on #1686
Today we implemented improvement for cloning submodules.
Previously we used git reference repository only for selected submodules, now we'll cache all submodules.
Also for some jobs (e.g. this crypto-autotest which often failed) we didn't use reference repository at all.
Hopefully problem is solved now :-)

[2021-03-09 15:06] tomzawadzki commented on #1812
[Bug scrub] @xjjx has already been working on this/similar issue and it might have been already resolved. Please close the issue when you confirm it has been addressed.

[2021-03-09 15:12] tomzawadzki commented on #1747
[Bug scrub] [Patch ](https://review.spdk.io/gerrit/c/spdk/spdk/+/6495) addressing the issue has been merged.

[2021-03-09 15:12] #1747 closed

[2021-03-09 15:23] tomzawadzki commented on #1187
[Bug scrub] @peluse will try to take a look again. The issue looks to be in DPDK crypto pmd when initializing it again from secondary process.

[2021-03-09 17:00] spdkci commented on #1792
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_38585.html

[2021-03-09 18:24] rakeshranjan-gh opened #1828 ""cpl does not map to outstanding cmd" errors or I/O hangs while running fio workload with GCP NVMe SSDs backend"
Hitting "cpl does not map to outstanding cmd" error or I/O hangs while running fio workload with GCP Local NVMe SSD.

kernel:Disabling IRQ #11
[2021-03-06 03:50:36.970514] nvme_pcie_common.c: 830:nvme_pcie_qpair_process_completions: ERROR: cpl does not map to outstanding cmd
[2021-03-06 03:50:36.970590] nvme_qpair.c: 455:spdk_nvme_print_completion: NOTICE: SUCCESS (00/00) qid:6 cid:176 cdw0:0 sqhd

[2021-03-09 18:26] rakeshranjan-gh commented on #1795
Hi @jimharris , @w-michal , @changpe1 ,

Thanks for taking a look at it. Based on the suggestion here, I have opened the new issue to track the application I/O hang without any queue reuse.

https://github.com/spdk/spdk/issues/1828

[2021-03-09 18:30] jimharris commented on #1828
Hi @rakeshranjan-gh,

Can you provide more specifics on the steps to reproduce?  For example, fio config files, exact command lines used for the primary process, are you using bdev or nvme fio plugin, etc.

Does it require both a primary and secondary process to reproduce?  If yes, does it require 4 SSDs and 4 secondary processes to reproduce?  Anything you can do to reduce the scope of the proble

[2021-03-09 18:50] rakeshranjan-gh commented on #1828
Hi @jimharris ,

Thanks for taking a look at this! Actually I don't have exact set of steps without our virtualization stack, which is using SPDK nvme driver and nvmf_tgt and exporting a pseudo volume. Let me see if I can find out a way to reproduce this issue without our virtualization stack in picture. I can try to simulate a primary process which only probes the controller and a secondary proce

[2021-03-09 19:44] rdxsasha commented on #1749
Hi, @tomzawadzki
sorry, had a problem to setup gerrit at my Mac.
Assume will be able to arrange it and subscribe patch not later than this weekend.

[2021-03-09 22:06] sydneyvanda commented on #1816
@yidong0635 any updates on this? not sure if you had a chance to test it again or not.

[2021-03-10 01:04] yidong0635 commented on #1816
sudo examples/nvme/hotplug/hotplug -n 1 -r 1 -t 100
[code]
This is the result on Ubuntu20.04  when doing "`echo 1 > /sys/bus/pci/devices/0000:d8:00.0/remove`"
and and tried these with mixed operations. nothing abnormal can be found.

[2021-03-10 01:42] yidong0635 commented on #1820
Adding a test for checking max namespace from the target side and with host configure . https://review.spdk.io/gerrit/c/spdk/spdk/+/6762.

[2021-03-10 07:48] ChengqiangMeng opened #1829 "spdk_top: The title of the column is out of sync with the value of the column"
## Current Behavior

The title of the column exists, but the corresponding value does not exist.
![spdk_top1](https://user-images.githubusercontent.com/77378851/110590515-d6a17780-81b2-11eb-838e-d024a85d36f0.JPG)
The title of the column does not exists, but the corresponding value exist.
![spdk_top2](https://user-images.githubusercontent.com/77378851/110590959-6fd08e00-81b3-11eb-9aaf-ac1d5c91169b.

[2021-03-10 11:52] wawryk opened #1830 "nvme-cli INVALID_FIELD on Intel SSD DC P4600 Series"
## Expected Behavior
nvme_cli_cuse test should pass

## Current Behavior
test fail, log:
[code]

## Possible Solution

## Steps to Reproduce

1. run nvme-cli commands on P4600 disks.

## Context (Environment including OS version, SPDK version, etc.)

OS: Fedora 33
Kernel: 5.10.17-100.fc32.x86_64
nvme-cli: nvme version 1.10.1
Disk FW: QDV101D1

[2021-03-10 13:30] wawryk commented on #1815
All new test nodes provisioned.

[2021-03-10 14:02] tomzawadzki commented on #1830
The above suggests this is issue between the drive behavior and nvme-cli, not strictly related to SPDK.

I imagine this could be worked-around in tests, but is this disk to be included in the CI or its just something observed that you wanted to report ?

[2021-03-10 14:10] jimharris commented on #1830
Can you run same NVMe cli test but with the SSD attached to the kernel NVMe driver?

[2021-03-10 15:20] jimharris commented on #1828
Hi @rakeshranjan-gh,

OK. It will be important to have reproduction steps that do not require your virtualization stack.  Otherwise it will be almost impossible for anyone to help debug the issue.

This issue will require some very careful debugging. The error message indicates that the controller completed an I/O with a cid tag that the driver does not think is valid. It could be a bug with the G

[2021-03-10 17:36] rakeshranjan-gh commented on #1828
Hi @jimharris ,

Thanks for your input! As usual, I truly appreciate all of your help! We will work on the problem reproduction with SPDK and GCP stack in place.

With the same build, we are not seeing this cpl error on bare metal nodes, where it is using physical PCIe SSDs. On Bare metal nodes, we have verified against both configuration i.e. a single controller with multiple namespaces as well a

[2021-03-11 05:03] changpe1 commented on #1813
@tmakatos for the error case discussed here:
1) Start QEMU
2) Kill QEMU
3) Start QEMU again

In SPDK, I didn't call vfu_destroy_ctx after disconnecting with QEMU, because I think the vfu_ctx is related with the socket file, we shouldn't destroy the context until stopping listen the socket file.

I think SPDK should call an API to release the mapped memory regions for this case, thoughts?

[2021-03-11 06:00] karthimouni commented on #1824
before pli flow:
file : spdk/lib/nvme/nvme.c  ->spdk/lib/nvme/nvme_transport.c -> lib/nvme/nvme_pcie.c
nvme_transport_ctrlr_scan ->nvme_transport_ctrlr_scan -> transport->ops.ctrlr_scan(probe_ctx, direct_connect) -> nvme_pcie_ctrlr_scan

after pli flow:
nvme_transport_ctrlr_scan ->nvme_transport_ctrlr_scan -> (transport->ops.ctrlr_scan(probe_ctx, direct_connect) ) call not landing on nvme_pcie_ctr

[2021-03-11 06:46] yidong0635 commented on #1823
@dakshajauppalapati96 what's your version of iozone ? how do your get it?  Could you please show us more details(ethtool -i  nic).
with mounting commands and mkfs.ext4 steps.   I just have a try to run this ,creation is no issue, but nvme connection error .
And not very clear about your description. Do you mean spdk_tgt comparing with nvmf_tgt while changing the in_caps_data size ? and your error

[2021-03-11 07:35] NiuYawei opened #1831 "spdk_subsystem_fini() won't complete with blob opened"
I observed that completion callback of spdk_subsystem_fini() won't be called when there is any opened blobs.

## Expected Behavior

The spdk_subsystem_fini() should run to completion without problem.

## Current Behavior

Immediately after the spdk_subsystem_fini() call, a spdk_thread_poll() is called in a loop to test if the completion callback is done, but seems the completion callback for the s

[2021-03-11 07:43] yidong0635 commented on #1831
@NiuYawei  Why not to close this blob?  bdev should be closed that our bdev subsystem then can be  finished.

[2021-03-11 07:57] yidong0635 commented on #1821
@AlekseyMarchuk  I vote +1 for your patch. In json_write.c there are many functions that accessing spdk_json_write_ctx , they assume the spdk_json_write_ctx is not null. I can't describe the error now for what scemarios these can happen now. If  I can find that I would submit an issue in the future.

[2021-03-11 08:26] wawryk commented on #1806
All above reports occurred on SM9.
HugePages configuration on server fixed.

[2021-03-11 10:19] dakshajauppalapati96 commented on #1823
Hi @yidong0635

Thanks for the reply. Here are the steps used to reproduce the issue  with more detail

Created 2 targets each of size 8GB.

On Target:-
Started nvmf_tgt using below command

/root/nvme-cli/spdk/build/bin/nvmf_tgt -m 0x77 &

And then created targets using below script with in_caps_data size of 8192 that is specified with -c option
RPC_PATH=/root/nvme-cli/spdk/scripts

python3 $RPC_

[2021-03-11 12:56] NiuYawei commented on #1831
The blob won't be closed in some error cases or on force shutdown.

We'll improve our code to close blob in the force shutdown case, but I just don't see why opened blob could prevent the bdev subsystem from finalizing? Shouldn't it return an EBUSY error (like what blobstore unload does) or just log a warning message?

[2021-03-11 13:49] spdkci commented on #1806
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_38830.html

[2021-03-11 15:18] spdkci commented on #1806
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_38840.html

[2021-03-11 15:18] spdkci commented on #1806
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_38841.html

[2021-03-11 16:29] peluse commented on #1187
So I have a much simpler way of producing a leak, not the exacts same signature but I'm not doing the same exact things.  Some observations on running spdk_tgt as primary and accel_perf as secondary.  On a side note if the first process and secondary process both try to init crypto the secondary will already fail the call to init aesni_mb fails.

1) if I disable crypto in this scenario things work

[2021-03-11 16:31] peluse commented on #1187
But I do think I know where the alloc is, working to confirm

[2021-03-11 17:06] peluse commented on #1187
*pretty* sure I found the bug in AESNI PMD... working on potential fix

[2021-03-11 19:31] peluse commented on #1187
I don't believe is aesni_mb now, I think Tomek had it pretty close to correct earlier.  Will send a question to the DPDK dev list and see what they say

[2021-03-11 21:42] rakeshranjan-gh commented on #1828
Hi @jimharris ,

After we applied the following SPDK patch, we didn't see the fio hang. Could you please verify this from your end?

`diff --git a/lib/nvme/nvme_pcie_common.c b/lib/nvme/nvme_pcie_common.c
index 0ef56cb9e..373d1c48c 100644
--- a/lib/nvme/nvme_pcie_common.c
+++ b/lib/nvme/nvme_pcie_common.c
@@ -586,6 +586,11 @@ nvme_pcie_qpair_submit_tracker(struct spdk_nvme_qpair *qpair, struct nvm

[2021-03-11 22:14] jimharris commented on #1828
Hi @rakeshranjan-gh,

I'm not able to verify this patch, since I'm still not able to reproduce any fio hangs.  Have you been able to create a reproducible test case that you can share?

This patch would be a big pessimization to the main I/O path for the nvme driver.  We cannot even consider merging it without a reproducible test case and full root cause on why it fixes your I/O hangs.

-Jim

[2021-03-12 05:38] sun-mingbao commented on #1825
Hi @Comphix
This is another account of @sunmingbao registered with the company e-mail address.
I will use this account to provide the patch (based on branch v20.04.x) for this issue.
Could you tell us the steps for providing the patch?

[2021-03-12 06:14] Comphix commented on #1825
Thanks @sun-mingbao . You can refer https://spdk.io/cn/development/ webpage for the environment setup and code submission. Thanks for your support!

[2021-03-12 07:56] optimistyzy commented on #1831
I see spdk_subsystem_fini in the master branch, it is an async function. Only the callback function passed in the spdk_subsystem_fini is called, then means that the spdk_subsystem_fini is really finished.

[2021-03-12 08:15] karlatec opened #1832 "vfio-user: segfault when removing dma regions for NUMA node other than 0"
## Current Behavior

When SPDK target is located on NUMA node other than 0 it fails with segfault in `_dma_controller_do_remove_region` function when shutting down.

## Steps to Reproduce

1. Need a system with at least 2 NUMA nodes.
2. Clone & build SPDK with vfio-user option:
[code]

3. Clone & build vfio-user capable Qemu:
[code]

4.  Run & configure SPDK nvmf_tgt:
[code]

5.  Run Qemu VM
[code

[2021-03-12 08:26] changpe1 commented on #1832
looks like the fix in libvfio-user lib/dma.c dma_unmap_region() is still required.

if (virt_addr == NULL)
    return 0;

[2021-03-12 08:46] NiuYawei commented on #1831
Right, spdk_subsystem_fini() is async, my observation is that completion callback will never be called when bdev is held by some open blobs.

We are currently using a workaround to set a timeout for the completion polling, so that application won't be blocked on polling spdk_subsystem_fini() completion even when blob is still opened. Though some SPDK errors are observed on console in such unclean

[2021-03-12 11:15] tomzawadzki commented on #1770
Looks like the FreeBSD VMs do not contain the `elftools`. See [patch](https://review.spdk.io/gerrit/c/spdk/spdk/+/6617) and [log ](https://ci.spdk.io/results/autotest-per-patch/builds/38937/archive/freebsd-vg-autotest/build.log).
[code]

[2021-03-12 11:41] KKaras169169 opened #1833 "[vhost-autotest] qemu image not found"
00:02:49.152  ************************************
00:02:49.152  START TEST vhost
00:02:49.152  ************************************
00:02:49.152   16:34:02	# xtrace_enable
00:02:49.153   16:34:02	# ./test/vhost/vhost.sh
00:02:49.223  * Purging old temporary test storage (/tmp/spdk.H3Mp05)
00:02:49.265  * Looking for test storage...
00:02:49.272  * Found test storage at /var/jenkins/workspace/vhos

[2021-03-12 11:43] karlatec commented on #1833
@wawryk
Qemu not installed on test node:
[code]

[2021-03-12 11:44] spdkci commented on #1833
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_38848.html

[2021-03-12 11:49] karlatec opened #1834 "vfio-user: SPDK target crash when attaching multiple VMs"
## Current Behavior

SPDK target crashes when multiple VMs (3 and more in my case) attach via vfio-user sockets.

## Steps to Reproduce

1. Clone & build SPDK with vfio-user option:
[code]
2. Clone & build vfio-user capable Qemu:
[code]

3. Configure SPDK target and run multiple VMs.
[code]

At some point while VMs are booting SPDK target crashes with:
[code]

**NOTE**
For actual reproduction I'm

[2021-03-12 12:03] mikeBashStuff commented on #1770
Just to note: we are currently building FreeBSD 12.2, however, before it's deployed, we need this https://review.spdk.io/gerrit/c/spdk/spdk/+/6805 to be merged first.

[2021-03-12 13:58] mikeBashStuff opened #1835 "[clang-vg-autotest] setup.sh fails to allocate proper amount of hugepages"
https://ci.spdk.io/results/autotest-per-patch/builds/38840/archive/clang-vg-autotest/build.log

Seems to be happening from time to time exclusively on SM9.

[2021-03-12 14:13] mhae commented on #1824
What's PLI? What's PITA?
Does the kernel log/dmesg show anything interesting?

[2021-03-12 14:57] rakeshranjan-gh commented on #1828
Hi @jimharris ,

Thanks for your comment! No, I didn't get a chance to reproduce the I/O hang issue just with SPDK and GCP Local SSD NVMe devices. We instrumented spdk nvme driver code to see what is happening with the cpl and tracker. Based on the instrumentation log, we noticed a duplicate completion against a cid whereas there is no  pending tracker for that cid. For a pending tracker, there wa

[2021-03-12 15:05] karlatec commented on #1770
@tomzawadzki deployed fresh freebsd VM images to all host systems

[2021-03-12 16:14] karthimouni commented on #1824
680507.825776] nvme nvme0: pci function 0000:03:00.0
[680507.826122] nvme nvme0: failed to register the CMB
[680507.828276] nvme nvme1: pci function 0000:04:00.0
[680507.828611] nvme nvme1: failed to register the CMB
[680507.933367] nvme nvme0: Shutdown timeout set to 15 seconds
[680507.934290] nvme nvme0: 8/0/0 default/read/poll queues
[680507.941315] nvme nvme1: Shutdown timeout set to 15 second

[2021-03-12 21:25] jimharris commented on #1831
Hi @NiuYawei,

I don't see any reason yet why we shouldn't be able to make this work.  We already have code in bdev_finish_unregister_bdevs_iter (which is in the spdk_subsystem_fini code path) that tries to handle the case where bdevs are not appropriately cleaned up during application shutdown.

Could you instrument bdev_finish_unregister_bdevs_iter?  I don't have a test currently to duplicate yo

[2021-03-15 04:34] NiuYawei commented on #1831
Thanks @jimharris , I didn't see the WARNLOG.

I checked bdev_finish_unregister_bdev_iter() code a bit, it looks to me that bdev_finish_unregister_bdev_iter() won't be called again if the bdev is still opened by blobstore (the blobstore didn't unload successfully since there is still open blob).

bdev_finish_unregister_bdev_iter() -> spdk_bdev_unregister() -> bdev_unregister_unsafe() -> spdk_threa

[2021-03-15 06:22] yidong0635 commented on #1816
@sydneyvanda
 I can only reproduce this one
 `echo 1 > /sys/bus/pci/devices/0000:d8:00.0/remove`  has no response  while doing
`sudo build/examples/hotplug  -n 1 -r 1 -t 100`  on some server,
but still can't see below kind of error.
[code]

[2021-03-15 07:07] bigbang009 commented on #1205
@jesonliang i have the same problem,  can you share the solutions?

[2021-03-15 07:14] zxx1985 opened #1836 "Failed to boot a VM guest Only in CentOS 7.x with a vhost-user-blk-pci disk"
## Expected Behavior

I have been troubled for three days = =

CentOS 8.3 and Fedora 27 strart Normally, but CentOS 7 start failed

However [this issue](https://github.com/spdk/spdk/issues/1205),   can't solve my problem.

## Current Behavior

![image](https://user-images.githubusercontent.com/58806546/111114097-bcdea680-859d-11eb-90d8-95d05a2e9db9.png)

![image](https://user-images.githubusercont

[2021-03-15 07:31] zlsh007 commented on #1628
Close this question temporarily, open it when there is progress

[2021-03-15 07:31] #1628 closed

[2021-03-15 07:48] changpe1 commented on #1836
@zxx1985 You may start QEMU with a telnet monitor, then add vhost-blk device via QMP:
device_add driver=vhost-user-blk-pci,chardev=spdk_vhost_blk0
of course you should remove "-device vhost-user-blk-pci,chardev=spdk_vhost_blk0" in your QEMU startup command line.

BTW, you are creating a vhost-blk device, but why the logs here didn't show anything about vhost-blk, it's SCSI boot drive.

[2021-03-15 07:55] wawryk commented on #1833
Missing packages installed.

[2021-03-15 07:55] #1833 closed

[2021-03-15 08:18] yidong0635 commented on #1836
I just test this today,
`./qemu-system-x86_64  -enable-kvm -m 8G -smp 4 -drive file=/home/fedora.qcow2,if=none,id=disk,format=qcow2 -device ide-hd,drive=disk,bootindex=0  -object memory-backend-file,id=mem,size=8G,mem-path=/dev/hugepages,share=on -numa node,memdev=mem -mem-prealloc  _-chardev socket,id=char0,path=/home/spdk/vhost.0 -device vhost-user-blk-pci,id=block0,chardev=char0_  -monitor teln

[2021-03-15 08:51] zlsh007 commented on #1628
If other people have ideas to fix this problem, they can fix it directly.

[2021-03-15 09:03] zxx1985 commented on #1836
yes 👍 , fedora use command like :
`-chardev socket,id=char0,path=/home/spdk/vhost.0 -device vhost-user-blk-pci,id=block0,chardev=char0`
can boot normally,
but  a error occurs when  `vhost-user-scsi-pci`  be used to CentOS 7.x 😖

![emergency](https://user-images.githubusercontent.com/58806546/111128275-ab9e9580-85af-11eb-9f18-8a775849541a.png)

 The VM guest can boot normally after removing `-devic

[2021-03-15 13:51] tomzawadzki commented on #1770
@karlatec now two other systems have the same issue - [Patch set 4](https://review.spdk.io/gerrit/c/spdk/spdk/+/6617 ) and [log](https://ci.spdk.io/public_build/autotest-per-patch_39049.html).
Fedora Physical machines - [WFP8 ](https://ci.spdk.io/results/autotest-per-patch/builds/39049/archive/crypto-autotest/build.log) & [WP4](https://ci.spdk.io/results/autotest-per-patch/builds/39049/archive/vho

[2021-03-15 14:21] bigbang009 commented on #1205
@zhiganglu  Can you share the solutions?

[2021-03-15 16:31] tomzawadzki commented on #1648
Patch set 4 ran twice
https://review.spdk.io/gerrit/c/spdk/spdk/+/6617

[2021-03-16 01:42] yidong0635 commented on #1836
@zxx1985  before using “vhost-user-scsi-pci “  to start  a QEMU， Do you use these steps ?
./scripts/rpc.py bdev_nvme_attach_controller -b Nvme0 -t pcie -a 0000:03:00.0
./scripts/rpc.py vhost_create_scsi_controller --cpumask 0x1 vhost.0
./scripts/rpc.py vhost_scsi_controller_add_target vhost.0 0 Nvme0n1

[2021-03-16 02:33] zxx1985 commented on #1836
@yidong0635 Of course I did it. While the miracle didn't happen in the end .

[2021-03-16 02:50] zxx1985 commented on #1836
The problem is driving me crazy. Maybe I'm a muggle, not a wizard 😂

[2021-03-16 03:58] sun-mingbao commented on #1825
The patch is already in the approval process of our company.

[2021-03-16 06:42] jesonliang commented on #1205
@lwk I'm not clear whether you hit same issue as this I mentioned in this topic or not. Actually,  I have given the solution that change the AIO bdev product_name to fit the udev rules. You may go through this topic for detail.

[2021-03-16 07:23] bigbang009 commented on #1205
i test with Centos 7.5 and 8.3, Centos 8 is ok but 7.5.
the error message like this:
![image](https://user-images.githubusercontent.com/36918717/111270784-3ee8d100-866b-11eb-9a4e-1b7e0daab4f4.png)
![image](https://user-images.githubusercontent.com/36918717/111270860-5cb63600-866b-11eb-970b-993a8a69886a.png)

i try my best to test in different ways, however, haven't solve it.

That's my follow step

[2021-03-16 08:49] yidong0635 commented on #1836
@zxx1985 please follow changpeng's suggestion :
you may start QEMU with a telnet monitor, then add vhost-blk device via QMP:
device_add driver=vhost-user-blk-pci,chardev=spdk_vhost_blk0
using commands to add a device other than initial starting.

[2021-03-16 08:54] jesonliang commented on #1205
Look like hit same issue and you may try my solution to change spdk product_name directly.  But it seems to be good expertise there need an option to allow user changing this name.

[2021-03-16 09:02] bigbang009 commented on #1205
Yes, i have solved it

[2021-03-16 09:44] zxx1985 commented on #1836
@yidong0635 Thank you for your advice

[2021-03-16 10:29] zxx1985 commented on #1836
@changpe1 @yidong0635
thank you for your advice.
 I have found a solution to the problem that modify bdev_nvme.c to avoid the systemd-udevd bug.

[2021-03-16 10:29] #1836 closed

[2021-03-16 14:04] mikeBashStuff commented on #1812
Haven't seen this issue since the initial report, new way of handling reference repos seems to be working fine.

[2021-03-16 14:04] #1812 closed

[2021-03-17 01:02] sydneyvanda commented on #1816
@yidong0635 ok here is what I found so far in doing some more testing:

Ubuntu 20.04:
       SPDK v20.01.1 = **FAIL** (this was the version I was using when filing the ticket, but seems to work in version 20.01.3)
       SPDK v20.01.3 = PASS
       SPDK v20.04.2-pre = PASS

CentOS 8.2:
        SPDK v20.01.3-pre = PASS
        SPDK v20.04.2-pre = PASS
        SPDK v21.01 = **FAIL** (hangs after dev

[2021-03-17 01:23] spdkci commented on #1792
Another instance of this failure. Reported by @floatious. log: https://ci.spdk.io/public_build/autotest-per-patch_39151.html

[2021-03-17 03:26] yidong0635 opened #1837 "[vfio-user] vfio_user_log reports Resource temporarily unavailable"
#  Issue
Not sure this is an issue, but report this to clarify.
[code]

## Steps to Reproduce

./test/nvmf/target/nvmf_vfio_user.sh

## Context (Environment including OS version, SPDK version, etc.)

commit :70c71149581c14cd856e9dde81f27ff1c8f6b009

[2021-03-17 04:19] changpe1 commented on #1837
This isn't an error, when client NVMe driver disconnect from the target, the target will report it, it may too strict for this message, but it doesn't affect anything.

[2021-03-17 05:10] onkar6699 opened #1838 "how to export file as block device from target to initiator"
Can Anybody tell me how to export file as block device from target to initiator

[2021-03-17 06:37] changpe1 commented on #1832
https://github.com/nutanix/libvfio-user/pull/394 has fixed this issue, I will update the submodule after merging to master branch.

[2021-03-17 07:51] yidong0635 commented on #1838
Do you mean save the target bdev config  and use it as initiator config ?  Fox example:
jsonf.json
[code]
test/bdev/bdevperf/bdevperf --json jsonf.json  -q 128 -o 4096 -w verify -t 1
indeed json file can get from target using` gen_nvmf_target_json` or rpc mathod `save_config`  from target to cut out `"subsystem": "bdev"` which similar above.

[2021-03-17 07:59] changpe1 commented on #1834
I tested 2 VMs and failed with the following errors:

[2021-03-17 23:21:15.165114] vfio_user.c:1348:vfio_user_log: *DEBUG*: /var/run/muser/domain/muser1/9: W 7 0x86-0x88
[2021-03-17 23:21:15.165452] vfio_user.c:1348:vfio_user_log: *DEBUG*: /var/run/muser/domain/muser1/9: W 7 0x86-0x88
[2021-03-17 23:21:15.165458] vfio_user.c:1348:vfio_user_log: *DEBUG*: /var/run/muser/domain/muser1/9: enable MSI-X

[2021-03-17 08:03] yidong0635 commented on #1829
A fix from  ChengqiangMeng : https://review.spdk.io/gerrit/c/spdk/spdk/+/6893.

[2021-03-17 09:44] mikeBashStuff opened #1839 "spdk-qemu crashes while handling nvme_enqueue_event"
[code]

This may occur while running `setup.sh` to either bind or unbind the nvme controllers from the kernel. Suddenly, entire qemu instance receives `SEGV` signal and crashes. The bt from the generated core always looks the same:

[code]
From the above it seems like the invalid address of `n->aer_timer` is passed to `timer_mod()` (`ts=0x0`). Just to note that this code path doesn't exist in vani

[2021-03-17 12:02] karlatec opened #1840 "nvmf_tgt cannot be killed during RDMA tests with E810 NICs"
## Current Behavior

When running spdk/test/nvmf tests with RDMA transport layer and using Intel CVL (E810) NIC it is sometimes impossible to stop SPDK nvmf_tgt process using SIGINT or SIGTERM signals. Only SIGKILL works.
Does not reproduce 100% of times, but is quite frequent.

This does NOT happen when Mellanox ConnectX-5 NIC is used to run the test.
Below reproduction steps use `spdk/build/exam

[2021-03-17 14:37] jimharris commented on #1816
Hi @sydneyvanda,

Can you confirm that these PASS/FAIL results are 100% reproducible?

If so, could you do some git bisects to figure out when these switch between PASS and FAIL?

1) on Ubuntu 20.04 w/ SPDK v20.01.x branch, bisect between v20.01.1 and v20.01.3
2) on CentOS 8.2 w/ master, bisect between 597a7d08 (v20.04-rc1) and 312a9d6 (v21.01-rc1) - first make sure that v20.04-rc1 passes and v21.

[2021-03-18 02:17] changpe1 commented on #1838
@onkar6699 we have slack chat channel spdk-team.slack.com for questions, you may ask questions there, it's really unclear to me for your question here, please clarify your question again.

[2021-03-18 02:19] changpe1 commented on #1835
00:05:53.883  ## ERROR: requested 4096 hugepages but 3402 could be allocated on node0.
00:05:53.883  ## Memory might be heavily fragmented. Please try flushing the system cache, or reboot the machine.

[2021-03-18 02:22] yidong0635 commented on #1837
Thanks @changpe1  Close this one.

[2021-03-18 02:22] #1837 closed

[2021-03-18 02:25] changpe1 commented on #1830
I used the nvme-cli to test it with P4500, the same result showed below. I used nvme-1.6.128.ge145.

nvme list-ctrl /dev/nvme1
NVMe Status:INVALID_FIELD: A reserved coded value or an unsupported value in a defined field(4002) cntid:0

[2021-03-18 02:43] changpe1 commented on #1825
@sunmingbao for this issue, you may consider adding this log in the nvme_ctrlr_async_event_cb() function, just after the nvme_ctrlr_identify_active_ns() call.  I think it's better to add it in the NVMe driver instead of perf tool.

[2021-03-18 03:56] changpe1 commented on #1811
I'm going to close this issue for now, you may open it if have any questions.

[2021-03-18 03:56] #1811 closed

[2021-03-18 04:06] jimharris commented on #1840
@karlatec we discussed this briefly during bug scrub.  Can you attach a debugger when this hangs, and 'p g_tgt_state'.  Could you also capture the stack trace for all of the threads?

[2021-03-18 04:12] changpe1 commented on #1830
[Bug Scrub] let's close this issue for now, it's not related with SPDK.

[2021-03-18 04:12] #1830 closed

[2021-03-18 04:15] jimharris commented on #1839
Bug scrub: are these code path differences due to the OCSSD patches we are carrying in the spdk-qemu branch?

[2021-03-18 04:25] changpe1 commented on #1823
[Bug Scrub] @yidong0635 can you have a test in our local environment to set 8192 in_caps_data, we don't have this test case in CI, if passed in your tests, we can enable this in CI environments.

[2021-03-18 04:40] yidong0635 commented on #1823
@changpe1  Do we need to run this case using NIC "cxgb4" or using other NICs ?  I run this test using "cxgb4" failed while nvme connecting, it causes kernel core-dump , maybe the driver is not good.

[2021-03-18 05:19] onkar6699 commented on #1838
How to join slack channel I think need invitation

On Thu, 18 Mar, 2021, 7:47 AM Changpeng Liu, ***@***.***>
wrote:

[2021-03-18 05:30] Aniruddha8699 commented on #1838
@changpe1 can you please invite me on that channel as well? I have a few doubts that need to be solved.

[2021-03-18 05:33] changpe1 commented on #1838
sure, can you provide your email?

[2021-03-18 05:35] jimharris commented on #1824
@karthimouni, what does "Using PITA to do PLI event on port 0 (0, 1 ports)" mean?

What is ADV?

Please provide details that clearly explain how to reproduce this issue.  There are simply too many acronyms and other details here that the SPDK community cannot understand.  It is your responsibility to provide clear steps for reproduction before anyone can try to help.

Regards,

Jim

[2021-03-18 05:40] Aniruddha8699 opened #1841 "How to change location of spdk.sock and spdk.sock.lock"
How to move these files- spdk.sock, spdk.sock.lock from /var/tmp to any other location?

[2021-03-18 05:46] sun-mingbao commented on #1825
@changpe1
Exactly :)
I just inserted an action of getting ns-changed-log in nvme_ctrlr_async_event_cb().

[2021-03-18 05:46] Aniruddha8699 commented on #1838
@changpe1 I joined the channel just now. Still thank you!

[2021-03-18 05:47] onkar6699 commented on #1838
@changpe1 thanks i have joined slack channel

[2021-03-18 05:47] #1838 closed

[2021-03-18 05:56] Comphix commented on #1841
You can use -r parameter to assign a preferred location. The spdk.sock is the default one.

[2021-03-18 06:31] Aniruddha8699 commented on #1841
@Comphix I followed these steps,

mkdir /test

cd spdk
./build/bin/spdk_tgt -r /test

And I got the following error msg

[2021-03-18 11:59:01.902671] Starting SPDK v21.04-pre git sha1 97ef87010 / DPDK                                                                              20.11.0 initialization...
[2021-03-18 11:59:01.902784] [ DPDK EAL parameters: [2021-03-18 11:59:01.902795]

[2021-03-18 06:33] Comphix commented on #1841
Please have a try as below:

/build/bin/spdk_tgt -r /test/spdk.sock

[2021-03-18 06:42] dakshajauppalapati96 commented on #1823
Hi @yidong0635

Can you please tell what issue are you facing while nvme connect.  Also please use the latest kernel for testing. We didn't tried with other adapters, we have only tried with kernel NVMF target and it works fine there. Issue is only seen with SPDK NVMF target.

Thanks
Dakshaja

[2021-03-18 06:45] Aniruddha8699 commented on #1841
**Yes it is working.
Thank you.**

But now while executing RPC commands it is giving error
For eg,
**I used scripts/rpc.py bdev_get_bdevs**
and it is throwing this error

Traceback (most recent call last):
  File "/root/spdk/scripts/rpc/client.py", line 71, in _connect
    self.sock.connect((addr, port))
socket.gaierror: [Errno -2] Name or service not known

During handling of the above exception,

[2021-03-18 06:48] Comphix commented on #1841
For the rpc.py, need to add the -s parameter to specify your preferred RPC address

rpc.py -s /test/spdk.sock

[2021-03-18 06:51] Aniruddha8699 commented on #1841
Yes it is working.
Thank you so much !!

[2021-03-18 06:51] #1841 closed

[2021-03-18 07:11] yidong0635 commented on #1823
discovery:
[code]

[2021-03-18 07:29] dakshajauppalapati96 commented on #1823
@yidong0635 ,

From the above trace its an issue with nvmf host due to selinux enabled.

Changing the selinux to the following might help:

cat /etc/selinux/config

# This file controls the state of SELinux on the system.
# SELINUX= can take one of these three values:
#     enforcing - SELinux security policy is enforced.
#     permissive - SELinux prints warnings instead of enforcing.
#     disab

[2021-03-18 07:38] karlatec commented on #1840
[code]

[2021-03-18 07:44] yidong0635 commented on #1823
[code]
[code]

[code]

[2021-03-18 09:31] mikeBashStuff commented on #1839
@jimharris Yes, it's all part of the https://github.com/spdk/qemu/commit/33197ab5e5f123ff8b4638df1eb8264b9082b6df

[2021-03-18 13:16] dakshajauppalapati96 commented on #1823
@yidong0635

Did you reboot the machine after setting selinux config file since reboot is needed for the changes to takeplace.
Also as issue is seen with kernel 5.11-rc5, please try to reproduce the issue on the same kernel. you can use this https://github.com/dakshajauppalapati96/kernel_config/blob/master/linux_config file as .config while building the kernel.

Please let me know if you want me t

[2021-03-18 17:34] jimharris commented on #1839
OK, I see it now.  Thanks!

Could @wmalikow take a look?  I'm guessing that just based on your stack trace, there's a chance he could develop a patch to try relatively quickly.

[2021-03-18 18:48] Dantali0n commented on #1794
Patch merged

[2021-03-18 18:48] #1794 closed

[2021-03-18 22:59] menacingChicken opened #1842 "unsuccessful probe after detach"
A spdk_nvme_probe does not show a device which was previously spdk_nvme_detach'd.

Steps to repro:
1. Perform spdk_nvme_probe. Do not attach to anything.
2. Perform spdk_nvme_connect using one of the found spdk_nvme_transport_id pointers from step 1.
3. Immediately perform spdk_nvme_detach.
4. Perform spdk_nvme_probe again. Note that the previously detached device does not appear.

If you follow u

[2021-03-18 23:10] menacingChicken commented on #1842
This works fine...

`
auto ctrlr = spdk_nvme_connect(&trid, NULL, 0);
spdk_nvme_detach(ctrlr);
ctrlr = spdk_nvme_connect(&trid, NULL, 0);
`

So if I already know the transport id, I could just force a single connection no problem. It's just the probe that doesn't see it.

[2021-03-18 23:26] jimharris commented on #1842
This is actually a known issue.  You can find a very good explanation on https://github.com/spdk/spdk/issues/1574.

I'm going to close this issue here as a duplicate.  Feel free to ask additional questions on #1574.

[2021-03-18 23:26] #1842 closed

[2021-03-18 23:27] jimharris commented on #1842
Note that #1574 is focused on the underlying spdk_pci_* calls, but it applies here since that is what spdk_nvme_connect and spdk_nvme_detach are calling.

[2021-03-19 00:50] sydneyvanda commented on #1816
@jimharris ok I did some testing on CentOS 8.2 today:
- I confirmed that tag v20.04-rc1 passes
- I confirmed that tag v21.01-rc1 fails
- I found the conflicting commit to be the following: https://github.com/spdk/spdk/commit/8f7d9ec2f4775c5627265c3c5dcce96397598c8f
The issue that happens with the hotplug example is that when trying to remove a device, the command just hangs and does not complete u

[2021-03-19 01:11] ChengqiangMeng commented on #1829
The patch on this has been merged. Now, close issue.

[2021-03-19 01:12] ChengqiangMeng commented on #1829
fix patch： https://review.spdk.io/gerrit/c/spdk/spdk/+/6893.

[2021-03-19 01:12] #1829 closed

[2021-03-19 05:12] yidong0635 commented on #1823
@dakshajauppalapati96   this issue maybe due to the driver of some nic.
They are not the newest driver, I haven't  update it.

I add a test run it local with large configuration.
https://review.spdk.io/gerrit/c/spdk/spdk/+/6951.
test can be ok .
test needs to install iozone package.  logs are as below:
[io_zone.txt](https://github.com/spdk/spdk/files/6168747/io_zone.txt)

[2021-03-19 07:04] onkar6699 opened #1843 "how to export file as storage device using spdk(NVMf target/iSCSI target)"
i created file using **xfs_mkfile 1G testfile**
then i created aio block device over that file **scripts/rpc.py bdev_aio_create /test/testfile file 512**
i able to export file as storage device using ISCSI Target or NVMf target
But i want to export file directly without creating block device over file
how i can do it?

[2021-03-19 07:44] changpe1 commented on #1843
@onkar6699 iSCSI and NVMf target are the right way, or you may try with NBD client/server.

[2021-03-19 07:54] onkar6699 commented on #1843
@changpe1 ok I'll but is there any way to directly exporting file without using block device using nvmf or iscsi

[2021-03-19 07:57] changpe1 commented on #1843
You can use one file in the host server to VM, inside the VM, the file exported from host is a block device.

[2021-03-19 08:03] onkar6699 commented on #1843
Ok thanks
Just one doubt while exporting file as storage device always need to create block device over it right?

[2021-03-19 08:13] changpe1 commented on #1843
Correct.

[2021-03-19 08:39] #1843 closed

[2021-03-19 10:53] karlatec commented on #1839
@jimharris @wmalikow  If possible I'd like to set some priority (possibly high) on this one. It's blocking us from doing a bunch of upgrades on CI side.

[2021-03-19 10:59] karlatec commented on #1839
@mikeBashStuff could you paste the command line params used to run qemu?

[2021-03-19 11:07] ksztyber commented on #1839
I've taken a quick look at this and it seems like an easy fix. @mikeBashStuff, could you check if this patch fixes the issue: https://review.spdk.io/gerrit/c/spdk/qemu/+/6969 ?

[2021-03-19 11:10] mikeBashStuff commented on #1839
@karlatec This is how `vagrant` executes the qemu, however, this failure seems to occur even on more basic setups. The key is to have nvme devices attached to the VM.

[code]

[2021-03-19 11:10] mikeBashStuff commented on #1839
@ksztyber Thanks, will test it out ASAP!

[2021-03-19 11:13] karlatec commented on #1839
@ksztyber I'll assign you for now since you sent a patch :)

[2021-03-19 11:14] wmalikow commented on #1839
Another potential workaround could be to set laer_thread_sleep=0, but @ksztyber fix should be enough.

[2021-03-19 15:04] mikeBashStuff commented on #1839
@ksztyber I am calling it a success - I've been spinning the VM for over ~4h and it seems to be stable (no segfaults, no any other crashes). @karlatec I guess one thing left to do is to spin some newer fedoras in your setup as well to be 100% sure the issue is gone. :)

[2021-03-19 16:00] menacingChicken commented on #1842
Sounds good, I'll go take a look through the other ticket. Thanks!

[2021-03-19 16:46] karlatec commented on #1839
So far so good on my end as well. ~20 successful builds in a row using Fedora33 VMs. I will leave this running for a few more hours and report back later.

[2021-03-22 03:34] gaowayne opened #1844 "bdevperf support zipf workload as fio"
## Expected Behavior
it will be great that bdevperf can support zipf workload as fio, I know we can use fio_plugin, but it will be still great that if bdevperf can do it, it is easy for us to debug and SPDK under different workload.

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context (Environment including OS version, SPDK version, etc.)

[2021-03-22 05:10] onkar6699 opened #1845 "how can we automate exporting block device using iscsi ?"
hey i want to  automate the procedure of an exporting block device using iscsi?
which language is used for that?

[2021-03-22 06:49] karlatec commented on #1821
Thanks for the fix Aleksey! I just checked it out and it does not reproduce using original reproduction steps.
We should probably add a test for that before closing the issue.

[2021-03-22 06:55] karlatec commented on #1839
~400 builds in a row without failing :)

[2021-03-22 08:42] changpe1 commented on #1813
The issue is tracked with https://github.com/nutanix/libvfio-user/issues/392 now. let's keep it open here until pass the tests in SPDK.

[2021-03-22 09:21] #1686 closed

[2021-03-22 10:31] karlatec opened #1846 "[vhost/vhost_initiator] vhost fuzzer fuzz_vhost_create_dev error"
## Current Behavior

Vhost fuzz test fails at `fuzz_vhost_create_dev` case.

## Steps to Reproduce

1. Run `./test/vhost/fuzz/fuzz.sh` test.

Core dump:
[code]

Files:
[logfiles.zip](https://github.com/spdk/spdk/files/6181390/logfiles.zip)
[coredumps.zip](https://github.com/spdk/spdk/files/6181387/coredumps.zip)

## Context (Environment including OS version, SPDK version, etc.)
SPDK `b8db1af4e2` `

[2021-03-22 11:26] wawryk commented on #1806
Last reported failure was almost two weeks ago, closing this issue.

[2021-03-22 11:26] #1806 closed

[2021-03-22 11:27] wawryk commented on #1815
Last reported failure was almost three weeks ago, closing this issue.

[2021-03-22 11:27] #1815 closed

[2021-03-22 13:04] karlatec opened #1847 "idxd unit tests fail on UndefinedBehaviorSanitizer when using clang 11"
## Current Behavior

IDXD unit tests fail when compiling with Clang version 11.

## Steps to Reproduce

1. Create ~/autorun-spdk.conf file:
[code]
2. Do `spdk/autobuild.sh ~/autorun-spdk.conf`
3. Run idxd unit test
[code]

[code]

## Context (Environment including OS version, SPDK version, etc.)
SPDK `b8db1af4e`  `thread: criticalmsg also indicates valid event`
clang version 11.0.0 (Fedora 11.0.0-

[2021-03-22 13:05] karlatec commented on #1847
Suggesting to port the fix to 21.01.x branch once the fix is ready

[2021-03-22 13:26] karlatec opened #1848 "SPDK compilation error with fio-3.19 when using clang as compiler"
## Current Behavior

SPDK compilation fails when using --with-fio option along with fio-3.19.
Issue reported, because our provisioning scripts for tests (`/test/common/config/vm_setup.sh`) use this specific version.

## Possible Solution

a) Upgrade fio to latest version 3.26 (which on the other hand has different compilation issue - `-Wsign-compare`)
**NOTE**:  Upgrading fio in `/test/common/conf

[2021-03-22 13:26] peluse commented on #1847
never tried with clang before, will have a few min later today can look unless someone else gets to it first

[2021-03-22 13:36] karlatec commented on #1848
Might be a good idea to cherry pick to 21.01.x if this solution is used: https://review.spdk.io/gerrit/c/spdk/spdk/+/6991

[2021-03-22 13:45] spdkci commented on #1792
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_39564.html

[2021-03-22 21:56] jimharris commented on #1816
Thanks @sydneyvanda.

@Maciej-Szwed, the patch referenced above is "env/dpdk: Use the DPDK device count for IOMMU mapping".  Could you try to reproduce this issue in your environment?

[2021-03-23 05:27] onkar6699 commented on #1845
@changpe1 can you give answer of it

[2021-03-23 05:36] changpe1 commented on #1845
@onkar6699 You can refer test/iscsi_tgt/fio/fio.sh as an example, SPDK uses Python and shell scripts to do it.

BTW, please don't open github issues for questions, we use it to track bugs here, not questions. thanks.

[2021-03-23 05:37] #1845 closed

[2021-03-23 06:43] Comphix opened #1849 "g_hotplug_probe_ctx is double free when exiting the spdk_tgt"
Start the spdk_tgt, enable the hotplug, insert one new NVMe SSD. After this, exit (ctrl + c) the spdk_tgt, a core dump is generated.

## Expected Behavior

No core dump will trigger

## Current Behavior

Core dump triggerred.

./spdk_tgt
[2021-03-23 15:09:16.553571] Starting SPDK v21.04-pre git sha1 289c1d5bb / DPDK 20.11.0 initialization...
[2021-03-23 15:09:16.553865] [ DPDK EAL parameters: [202

[2021-03-23 12:54] dakshajauppalapati96 commented on #1823
Hi @yidong0635

Tried to reproduce the issue with the steps and packages that you have used. Issue is not seen when iozone run with 8m size. Issue is reproducing when iozone run with 128m size. Please use iozone -a -I -+d -g 128m instead of iozone -a -I -+d -g 8m.

Here are the steps and its output that I have tried.

On target:-

Started nvmf_tgt and created 2 targets each of size 4GB.

/root/nvm

[2021-03-23 13:15] spdkci commented on #1792
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_39651.html

[2021-03-23 14:25] Comphix commented on #1849
Patch for this issue: https://review.spdk.io/gerrit/c/spdk/spdk/+/7002

[2021-03-23 15:07] tomzawadzki commented on #1770
Bug scrub: The machines have been updated with pyelftools and are passing on CI.

[2021-03-23 15:07] #1770 closed

[2021-03-23 15:12] peluse commented on #1187
Sent this to dpdk dev list over 10 days ago.  Just resent, includes details of what is happening, where and why

Hi All,

I'm having an issue with the following scenario with SPDK-based applications built w/DPDK
using CryptoDev in a primary/secondary process setup.

Primary Process: An application that does crypto and properly initializes aesni_mb
Secondary Process: An application that does not us

[2021-03-23 15:15] tomzawadzki commented on #1840
Bug scrub: Addition of traces on the nvmf shutdown path would help with narrowing down the outstanding requests.

[2021-03-23 15:17] tomzawadzki commented on #1844
Bug scrub: @gaowayne is this something you are interested in contributing ?

[2021-03-23 15:21] tomzawadzki commented on #1839
Bug scrub: The patch has been merged @ksztyber Thanks !

[2021-03-23 15:21] #1839 closed

[2021-03-23 15:23] tomzawadzki commented on #1821
Bug scrub: @wawryk will take a look at adding this test scenario to autotest.

[2021-03-23 15:23] karlatec commented on #1821
@wawryk `test/nvmf/target/invalid.sh` looks like a suitable place

[2021-03-23 15:28] tomzawadzki commented on #1846
Bug scrub: This started appearing after updating from Fedora 31 to Fedora 33, does not have 100% reproduction.

[2021-03-23 15:33] jimharris commented on #1844
If someone does pick this up, please develop the zipf distribution functionality such that it could also be integrated into nvme perf.

[2021-03-23 17:19] karlatec commented on #1819
Encountered the same problem when working on a physical system, but it was a bit worse - fio refused to exit and resulted in zombie process when killed by SIGKILL. This seems to only happen when using round-robin iopolicy, numa policy is fine.

Moreover, you can unblock fio by doing a `sudo nvme disconnect -n nqn.2016-06.io.spdk:cnode1` command. However this results in kernel panic, at least on my

[2021-03-23 18:44] peluse commented on #1847
@karlatec here is the proposed fix.  I'm very curious though why this just came up now, is this a new test config in CI? https://review.spdk.io/gerrit/c/spdk/spdk/+/7016

[2021-03-23 19:56] karlatec commented on #1847
@peluse Yes. Current test VMs have clang version 9, new ones have version 11.

[2021-03-24 01:30] gaowayne commented on #1844
@tomzawadzki buddy, my this half year will be very busy on other project. currently we test our workload with fio plugin. if anyone in SPDK team who like work on it? this is not very high priority blocking feature for our project, but it will be very nice to have zipf in bdevperf,

[2021-03-24 01:59] yidong0635 commented on #1823
@dakshajauppalapati96  I can't reproduce it even running iozone -a -I -+d -g 128m.

[code]

[2021-03-24 04:39] yidong0635 commented on #1819
@karlatec  leave this issue for a long time, will reproduce and check it locally.  This issue happens on some server quite often.
At least a point. Some python test scripts call fio bin and never kill it.

[2021-03-24 05:57] yidong0635 opened #1850 "[nvmf_tgt] kill target got heap-use-after-free while running fio"
# Issue
running
`./test/nvmf/target/multipath.sh --transport=tcp`  and it is holding on
`/root/spdk/scripts/fio.py -p nvmf -i 4096 -d 128 -t randrw -r 6 -v`
[code]

## Context (Environment including OS version, SPDK version, etc.)
OS: Fedora30
commit : 0968ee2fcf7409cf50177d4f8f0234c6db2c94d5

[2021-03-24 06:27] yidong0635 commented on #1819
tests changed a little. fio bin can be killed , but still can see it's holding on checking "inaccessible" state. Author @shuhei-matsumoto , Do you have any ideas?

[2021-03-24 06:39] balamsg commented on #1701
@shuhei-matsumoto  When the format command is issued, the Kioxia drive issues a AEN ( Namespace Attribute Change Notice ) which calls the callback function nvme_ctrlr_async_event_cb( ) . Inside this callback function, there are SYNCHRONOUS submissions of 2 commands which is Active Ns List & Identify Ns. I doubt whether this should be a synchronous submissions ? because the application has already

[2021-03-24 07:39] yidong0635 commented on #1834
[code]

It there any update it?

[2021-03-24 08:10] shuhei-matsumoto commented on #1819
@yidong0635 Thanks for investigating this issue. I have no idea yet but will start investigation soon. Thanks for your patience.

[2021-03-24 08:15] karlatec opened #1851 "Enable TCP & ADQ tests in SPDK CI"
This is an enhancement issue which goal is to enable CI tests for NVMe-oF + ADQ using physical CVL E810 NICs.

What needs to be done in order to make this work:
- [x] Install CVL E810 NICs in the CI environment
- [x] Install ICE driver with ADQ option enabled in CI environment
- [x] Prepare CI job to run SPDK NVMe-oF TCP test suite on top of physical systems instead of virtual machines (e.g. nvmf-

[2021-03-24 08:40] wanqunintel commented on #1851
@karol, Hailiang has found that there is no physical machine in the CI par-patch node configured to run with TCP (with E810 physical NIC), Would you provide the node name so that we can submit patch to config it to run with TCP on that machine. I added Hailiang into the thread.

[2021-03-24 08:46] karlatec commented on #1851
Correction - there is no CI per-patch job configured to run TCP tests on nodes with E810 NICs. Please let me finish my part of the job (see the tasks listed in the description) and I will comment here when it's ready.
Just to be clear - lack of CI per-patch job is not a blocker for modifying the test scripts.

[2021-03-24 09:29] Karol commented on #1851
@wanghailiangx Please use: @karlatec not @Karol
because I get allso notifications

[2021-03-24 09:36] karlatec commented on #1851
@wanghailiangx  small commit from me which should make detecting desired NIC interfaces easier: https://review.spdk.io/gerrit/c/spdk/spdk/+/7015

Feel free to cherry-pick and/or modify the contents.

[2021-03-24 09:50] dakshajauppalapati96 commented on #1823
@yidong0635

Can you please confirm the path on which you are running iozone. Usually iozone is run on mounted paths like "/mnt/dev0". which means after formatting and mounting the disks to /mnt/dev* using ext4 on Initiator you need to change the directory to "/mnt/dev0"
#cd /mnt/dev0
# iozone -a -I -+d -g 128m

Thanks
Dakshaja

[2021-03-24 10:09] yidong0635 commented on #1823
@dakshajauppalapati96 sorry, I'm not familiar with iozone.
can reproduce this issue:
[code]

[2021-03-24 10:19] mikeBashStuff opened #1852 "examples/arbitration receives SIGABRT during nvme_arbitration test"
[code]

Note that there's a pmrdev configured per nvme driver (not sure if this is relevant for the actual failure though):
[code]

Point of failure:
[code]

Trace:

[code]

[arbitration_core.zip](https://github.com/spdk/spdk/files/6196167/arbitration_core.zip)

[2021-03-24 11:43] karlatec commented on #1847
Ran tests with you patch, 10/10 pass rate. Thanks!

[2021-03-24 12:03] Comphix commented on #1849
Patch merged. Close this issue.

[2021-03-24 12:03] #1849 closed

[2021-03-24 12:04] AlekseyMarchuk opened #1853 "NVMF RDMA with multiSGL payload and NVME disk"
Recently we met an issue with multiSGL payload in NVMF target and following IO submitted to NVME disk with PRP payload
Setup:
1. Local host, x86 initiator with Smart NIC, the Smart NIC exposes NVME PCI subfunction, so the host writes/reads data using NVME driver
2. Remote host, x86 macine running SPDK NVMF RDMA target NVME disks.

Scenario:
1. Smart NIC handles NVME commands from the initiator and

[2021-03-24 13:27] wanqunintel commented on #1851
@karlatec , just would like to know, without that CI machine ready, how can we test the scripts? @wanghailiangx has also posted that there is a autorun_spdk.conf file to config to run with TCP transport.

[2021-03-24 13:32] karlatec commented on #1851
@wanqunintel AFAIK you have a locally available server with a E810 NIC, so running the tests locally should not be a problem. In fact - if hardware is available locally then all changes should probably be tested as much as possible by the owner of the change, so that they're in good shape when submitted. This helps to reduce CI cycles.

[2021-03-24 14:04] spdkci commented on #1819
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_39782.html

[2021-03-24 14:38] karlatec commented on #1851
Done. We have E810's installed in a bunch of CI systems

[2021-03-24 15:38] jlevon opened #1854 "nvmf_vfio_user_accept() has a race"
Running under ASAN, we saw a race in nvmf_vfio_user_accept():

[code]

If vfu_attach_ctx() succeeds, it should not be called again. However, if we end up back in this poller,
before ->ready has become true for the endpoint->ctrlr, then we will try to call vfu_attach_ctx() again. This isn't currently checked for in libvfio-user (I'm fixing that), so it ends up resetting the socket fd to -1, and bre

[2021-03-24 16:41] peluse commented on #1847
fix here: https://review.spdk.io/gerrit/c/spdk/spdk/+/7016

[2021-03-24 16:59] jimharris commented on #1853
Maybe in nvmf_request_set_buffer(), for the first iov, pick the iov_base that would *end* on a 4KiB alignment?  This should fix your case above.

Merging the SGL entries might work, but my initial thought is it could get rather complicated, especially if you expand the case above into a 128KiB I/O with a PRP1 that doesn't have a 4KiB start aligned address.

[2021-03-24 20:00] jimharris commented on #1853
By the way, good catch on the -ENOMEM handling when the SGL violates PRP - I posted a comment on the patch 7036.

[2021-03-25 00:52] wanqunintel commented on #1851
@karlatec , so my understanding is that we let the script running (after address the comments) here locally on our machine nightly. Just correct me if i was wrong. thanks.

[2021-03-25 00:55] yidong0635 commented on #1823
@changpe1 @karlatec  since I can reproduce this issue, if  need to integrate this test to CI.  Need to install test tool iozone in CI.

[2021-03-25 01:22] changpe1 commented on #1854
@jlevon yes, for now the accept poller and admin poller can run in different cores, I will fix it in SPDK too.

[2021-03-25 01:57] jimharris commented on #1823
Hi @yidong0635,

Let's not install iozone in CI yet.  We need to debug the issue on local systems first.  Once the issue is debugged, we should be able to reproduce the same issue with other tools such as fio that already exist in CI.

Can you break on this in the debugger, and:

p/x req->cmd->nvme_cmd

-Jim

[2021-03-25 02:03] yidong0635 commented on #1823
@jimharris ok, I will trace the stack value ASAP.

[2021-03-25 04:04] yidong0635 commented on #1823
I use a assert to generate a coredump:
[code]

[2021-03-25 04:16] jimharris commented on #1823
Hi @yidong0635,

You will need to have gdb attached to the target when the assert() occurs.  The req->cmd->nvme_cmd will be in Hugepage memory, which is not written out to the core dump.  That is why you get the "Cannot access memory" error.

-Jim

[2021-03-25 04:23] shuhei-matsumoto commented on #1701
@balamsg

Thank you, that's great update!  How about submitting patches to fix this issue if possible according to https://spdk.io/development/ ?

This issue was pretty urgent for my colleague and I backported the necessary feature onto the older SPDK as workaround, but the true fix was anticipated.

@jimharris Thanks for raising this issue in today's meeting. Please share here if you have any.

[2021-03-25 04:50] shuhei-matsumoto commented on #1701
@yidong0635 @rmvasuki

Thanks for sharing your update too. I had worked on creating a workaround but had not checked any update.
Sorry for my delayed response.

[2021-03-25 05:01] yidong0635 commented on #1823
@jimharris  logs are as below:
[code]

[2021-03-25 05:49] changpe1 commented on #1834
Maybe tomorrow, one PR is going to be merged to libvfio-user, I tested with this PR, the two VMs cases passed.

[2021-03-25 06:08] sun-mingbao commented on #1825
@Comphix @changpe1
I tried to push the commit to the gerrit repo, but failed.
Could you help to have a look?
BTW: I have just set up the email and HTTP password in gerrit.

Following are the logs:

[C:\files\src\ttmmpp\provide_patch\spdk]$ git branch
* v20.04.x

[C:\files\src\ttmmpp\provide_patch\spdk]$ git status
On branch v20.04.x
Your branch is ahead of 'origin/v20.04.x' by 1 commit.
  (use "gi

[2021-03-25 06:13] changpe1 commented on #1825
you can use master branch for upstreaming.

[2021-03-25 07:58] karlatec commented on #1851
@wanqunintel Please use your local system **for development work on the scripts**. Upload the changes frequently to Gerrit for review, so that we can get them in shape quickly. After we finish the reviewing cycle and the patches are merged they will be run as part of usual  CI pipeline.

We will **not** run these tests as separate entity in CI.

[2021-03-25 08:28] changpe1 opened #1855 "VHOST: spdk_mem_register return error with QEMU memory regions"
## Current Behavior

 build/bin/vhost
[2021-03-25 23:38:59.800724] Starting SPDK v21.04-pre git sha1 560197240 / DPDK 20.11.0 initialization...
[2021-03-25 23:38:59.801027] [ DPDK EAL parameters: [2021-03-25 23:38:59.801058] vhost [2021-03-25 23:38:59.801081] --no-shconf [2021-03-25 23:38:59.801103] -c 0x1 [2021-03-25 23:38:59.801123] --log-level=lib.eal:6 [2021-03-25 23:38:59.801144] --log-level=

[2021-03-25 08:29] changpe1 commented on #1855
when registering the memory region to vfio driver, it reports:

memory.c: 835:vtophys_iommu_map_dma: ERROR: Cannot set up DMA mapping, error 22

[2021-03-25 08:39] changpe1 commented on #1855
OK, this issue has been fixed via https://github.com/spdk/spdk/commit/aaac48880dc9f3545a19aaeb85a95cef138eb2ce.

[2021-03-25 09:11] sun-mingbao commented on #1825
@Comphix @changpe1
I switched to master branch.
But the Change-Id was not generated after the commit.
Could you help to have a look?

Following are the logs:

linux-15v9:/mnt/ttmmpp/provide_patch/spdk_github # ls -l .git/hooks/commit-msg
-rwxr-xr-x 1 root root 2174 Mar 25 14:26 .git/hooks/commit-msg

linux-15v9:/mnt/ttmmpp/provide_patch/spdk_github # more .git/hooks/commit-msg
#!/bin/sh
# From Ger

[2021-03-25 10:36] jlevon commented on #1854
Thank you - NB it's not about multiple cores, this can happen in a single-thread configuration too (as we have setup)

[2021-03-25 11:58] karlatec commented on #1851
This is of course also ready. Forgot to add that yesterday with previous point.

Is blocked. This patch must be merged before I can deploy a CI job : https://review.spdk.io/gerrit/c/spdk/spdk/+/6998

[2021-03-25 13:03] Comphix commented on #1825
You may take a look at below webpage:

https://spdk.io/development/#patch

The major steps

0. get latest master code (git checkout master && git pull && git submodule update --init)
1. create you own branch (git checkout -b your_branch)
2. make your changes (git add your_file)
3. commit your changes (git commit -s -m "module_name: description of your change")
4. push your changes (git push review

[2021-03-25 15:42] jimharris commented on #1851
I agree.

The typical process is to develop and test the scripts locally, push the scripts to Gerrit for review, and only enable in CI after the patches are merged.

@wanqunintel - can you push your current scripts out to Gerrit to start reviews?

Thanks,

Jim

[2021-03-25 19:53] KariukiJ commented on #1814
This issue is fixed in the current master. Did a bisect from the current master to v21.01 to find out where the issue was fixed. The commit 4249dc1010e3163c610d5ee8f9780b0059dfedc5 fixed the issue. Looking at that commit its and update to the _nvme_get_host_buffer_sector_size() function that will avoid splitting requests that don't need splitting.

[2021-03-25 22:34] Comphix commented on #1851
Hi Jim, just added you on to the patch review. We've already pushed the patch out for review to run the TCP on the physical CVL NIC. If the nic driver is ADQ enabled, it will cover the TCP with ADQ capability. So here, we also listed some pre-work items.

[2021-03-26 01:27] changpe1 commented on #1814
I'm still confused, the commit 4249dc1 only affect one extended LBA format case, but for your test case, I assume that you are using the 512 Bytes format.

[2021-03-26 01:31] Comphix commented on #1851
Added the patch from Hailiang https://review.spdk.io/gerrit/c/spdk/spdk/+/6932 here to make the NVMe-oF testing running on physical CVL NIC.

[2021-03-26 02:03] changpe1 commented on #1854
Yeah, ADMIN connection is running in the same core with different thread context, Here is the patch to fix it https://review.spdk.io/gerrit/c/spdk/spdk/+/7073

[2021-03-26 02:12] wanqunintel commented on #1851
@karlatec i saw that you have enabled the CI with ice driver, which driver version is it? And pls. confirm that the ADQ configured correctly.

[2021-03-26 02:30] Comphix commented on #1851
To make clear

Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/6932 is to run TCP test using the E810 if there. It will not choose which NIC from CVL and others.

"test/nvmf_tcp: allow tcp cases running in E810 NIC instead of virtual eth".

For below items listed in the description:

"Modify test/nvmf TCP scripts to run tests with physical interfaces instead of virtual veth interfaces. Sub-tasks

[2021-03-26 02:36] yidong0635 commented on #1823
I found that if we created a malloc bdev with MALLOC_BLOCK_SIZE=4096 is ok , TCP transport doesn't have this issue.  Is there any special requirements for rdma?

[2021-03-26 05:37] AlekseyMarchuk opened #1856 "[nvmf_multipath] fio hangs for 5 minutes in target test"
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_39787.html

## Execution failed at

[code]
fio hangs in interval `08:57-13:37` and that leads to build timeout:
[code]

[2021-03-26 05:38] spdkci commented on #1856
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_39787.html

[2021-03-26 05:45] changpe1 commented on #1823
SGL type is SPDK_NVME_SGL_TYPE_DATA_BLOCK and subtype is SPDK_NVME_SGL_SUBTYPE_OFFSET, and sgl->unkeyed.length is 0x1000, this is aligned with what we see in the log.

it's worth to take a look of the initiator side.

[2021-03-26 06:00] yidong0635 commented on #1823
[code]

[2021-03-26 06:15] wanghailiangx commented on #1851
Patch https://review.spdk.io/gerrit/c/build_pool/jenkins_build_pool/+/7076 is to get an automated nvmf_tcp test log on physical E810 card.

[2021-03-26 06:55] aohzju opened #1857 "spdk_pci_device_cfg_read32 cannot read extended capabilities when vfio-pci is used"
I'm running spdk on a Centos 8.3 machine. My program calls spdk_pci_device_cfg_read32 to read configure space location 0x100, it always returns 0, while it's actually not. The same program works on Centos 7 or Ubutun 18.

It's very likely it is related to vfio. The output from dmesg shows:

**[  105.951045] VFIO - User Level meta-driver version: 0.3
[  224.992830] vfio_ecap_init: 0000:41:00.0 hidi

[2021-03-26 08:39] gaowayne opened #1858 "OCF - bdevperf failed to run on latest release code, core dump happen"
## Expected Behavior
we need fix this

## Current Behavior

## Possible Solution

## Steps to Reproduce

1. create malloc device or nvme device
2. set OCF device
3. run bdevperf on the cache device
4.
===below is the cache device configure==
intel@wcp116:~/wayne/war/spdk/scripts$ sudo ./rpc.py  bdev_malloc_create -b Malloc0 1024 4096
[sudo] password for intel:
Malloc0
intel@wcp116:~/wayne/war/spdk

[2021-03-26 09:01] gaowayne commented on #1858
unregister_finish(struct vbdev_ocf * vbdev) Line 201	C
 	vbdev_ocf_mngt_start(struct vbdev_ocf * vbdev, vbdev_ocf_mngt_fn * path, vbdev_ocf_mngt_callback cb, void * cb_arg) Line 86	C
 	register_vbdev(void * cb_arg, vbdev_ocf_mngt_callback cb, struct vbdev_ocf * vbdev) Line 1123	C
 	register_vbdev(struct vbdev_ocf * vbdev, vbdev_ocf_mngt_callback cb, void * cb_arg) Line 1113	C
 	rpc_bdev_ocf_create

[2021-03-26 09:25] Maciej-Szwed opened #1859 "Nightly test machines kernel version should be updated due to changes in DPDK"
Nightly tests (spdk-master-vs-dpdk-main and spdk-v21.01-LTS-vs-dpdk-main) fail due to dpdk governor test failure. It happens due to recent change in DPDK: https://git.dpdk.org/dpdk/commit/?id=4db9587bbf726a658807089e0af162208e9bd2ee
DPDK disables power management, when it finds a kernel bug. It is present in kernel versions < 5.8.7. Scheduler behaves correctly and disables governor functionality,

[2021-03-26 09:28] karlatec commented on #1859
@wawryk after you update the systems please remember to:
- rebuild fio in /usr/src/fio
- rebuild QAT driver (unfortunately youre going to cherry-pick this: https://review.spdk.io/gerrit/c/spdk/spdk/+/7010, it's not merged yet)

[2021-03-26 09:48] rafalste commented on #1858
Hi @gaowayne, I'll take a look at that. :)

[2021-03-26 09:53] mikeBashStuff commented on #1859
I don't think upgrading the kernel will help here in any way. From the patch it seems that the path which affects all the systems which run vs-dpdk jobs, and which are not suffering from the kernel bug dpdk is describing, is this:

`FOPEN_OR_ERR_RET(f_base, -1)`

governor now fails if `base_frequency` cpufreq attribute is not opened. This is also seen in the logs:
[code]

The problem is  that this

[2021-03-26 10:06] mikeBashStuff commented on #1859
And to note, the `base_frequency` is present under `cpufreg` only if given cpu supports HWP feature and intel_pstate runs in an active state. The latter is in place on the fedora_phy_nightly boxes, but cpuid seems to say HWP is not supported there:
[code]

[2021-03-26 10:25] spdkci commented on #1792
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_39938.html

[2021-03-26 11:13] karlatec opened #1860 "scan-build with clang-11.0.0 fails due to Dead store in nbd_cleanup_io()"
## Current Behavior

[code]

## Possible Solution

https://review.spdk.io/gerrit/c/spdk/spdk/+/7082

## Context (Environment including OS version, SPDK version, etc.)

Fedora 33 5.11.7-100.fc32.x86_64
Clang version 11.0.0

[2021-03-26 11:34] karlatec opened #1861 "iscsi_tgt/rbd/rbd.sh test fails due to loop module not loaded"
## Current Behavior

iscsi_tgt_rbd test fails due to loop module not loaded. This is caused by scripts/ceph/start.sh script to be more specific.

[code]

Losetup fails due to missing loop module. This was not detected before in CI because we still use a bit older version (2.34) than the one which caused the issue (2.36.1). Not sure if it's a bug or a feature on  losetup side, but we should still l

[2021-03-26 13:24] gaowayne commented on #1858
@rafalste :) I did debug with Michal together. here is the root cause.
if we configure cacheline size is 64, the cache_line_size=65536
but we multiple KiB again, then the size is wrong.

	ocf_cache_line_size_t set_cache_line_size = cache_line_size ?
			(ocf_cache_line_size_t)cache_line_size * KiB :
			ocf_cache_line_size_default;
	if (set_cache_line_size == 0) {
		SPDK_ERRLOG("Cache line size shou

[2021-03-26 13:26] gaowayne commented on #1858
@rafalste to fix it, we just need remove that KiB. maybe I can commit this fix, and go through one SPDK code commit process. :) maybe next week you can share me steps to do that, I forget most steps. already.

[2021-03-26 13:38] rafalste commented on #1858
Well, that's great news. :) I will check this fix then to confirm it really resolves the issue.

[2021-03-26 15:26] jimharris commented on #1823
Hi @dakshajauppalapati96,

When you test with the Linux kernel NVMf target, do you also change in cap size to 8192?

It really seems to me like in capsule handling is where we should be looking.  I'm not familiar with how this is configured in the kernel target.

-Jim

[2021-03-26 18:51] jianlenovo opened #1862 "Question about spdk_tgt"
I am trying to build spdk on ubuntu 18.04 and followed the doc with following steps. However, I got "command not found" error when trying to start the target app on the last step.
1.  git clone https://github.com/spdk/spdk.git
2.  cd spdk
     git submodule update --init
3.  ./configure --with-ocf
4.  make
5.  sudo ./scripts/setup.sh
6.  sudo ./app/spdk_tgt/spdk_tgt &      --> this got  "command n

[2021-03-26 18:56] jimharris commented on #1862
Hi @jianlenovo,

Can you provide details on where you found the doc that had these steps?

The spdk_tgt binary used to be in app/spdk_tgt directory, but now exists under build/bin.  So step 6 should be:

sudo ./build/bin/spdk_tgt &

-Jim

[2021-03-26 19:05] jianlenovo commented on #1862
Jim,

Thank you for the quick reply.

The following are 2 docs that I followed,
https://open-cas.github.io/getting_started_spdk.html
https://spdk.io/doc/getting_started.html

Thanks,

Jian

From: Jim Harris ***@***.***>
Sent: Friday, March 26, 2021 2:56 PM
To: spdk/spdk ***@***.***>
Cc: Jian Li ***@***.***>; Mention ***@***.***>
Subject: [External] Re: [spdk/spdk] Question about spdk_tgt (#1862)

[2021-03-26 19:10] jimharris commented on #1862
Yeah, the open-cas documentation needs to be updated.  I filed an issue in their GitHub:

https://github.com/Open-CAS/open-cas-linux/issues/765

[2021-03-26 19:10] #1862 closed

[2021-03-26 19:16] jianlenovo commented on #1862
Jim,

I was able to start tgt without error following your instruction, but it failed at a later command as following,

***@***.***:~/SPDK/spdk$ sudo ./build/bin/spdk_tgt &
[2] 16023
***@***.***:~/SPDK/spdk$ sudo scripts/rpc.py construct_nvme_bdev -b nvme0 -t PCIe -a 0000:86:00.0
[sudo] password for lab-ai:
Error while connecting to /var/tmp/spdk.sock
Is SPDK application running?
Error details: [E

[2021-03-26 19:23] jimharris commented on #1862
Please try starting spdk_tgt in the foreground, and run scripts/rpc.py from a separate terminal.

It is possible that your sudo spdk_tgt & prompted a sudo password prompt, meaning spdk_tgt hadn't actually started.

[2021-03-27 01:26] gaowayne commented on #1858
@rafalste great, thank you so much. yes, I only verify cacheline size=64, not check other situation yet. :)

[2021-03-27 10:07] sun-mingbao commented on #1825
Following patch submitted:

https://review.spdk.io/gerrit/c/spdk/spdk/+/7100

[2021-03-28 11:44] karlatec opened #1863 "nvmf_dif test fails w/keep alive timeout"
(SEE LATER NOTES, THERE ARE ERRORS EARLIER IN THE OUTPUT THAT ARE LIKELY CAUSING THE ISSUES BELOW

## Current Behavior

When running NVMe-oF tests with TCP transport layer enabled nvmf_dif test (test/nvmf/target/dif.sh) fails on fio test due to:

[code]

**Currently this is not reproducible in CI**
This issue was detected when testing this change: https://review.spdk.io/gerrit/c/spdk/spdk/+/6998 o

[2021-03-28 11:47] karlatec commented on #1863
@wawryk  or @mikeBashStuff  can I ask you to try to reproduce this on Fedora 32 or Fedora 33 VMs? They should have a similar kernel version to what's described in the issue. You might need to run this in a loop for some time, because the reproducibility is not high - I saw this 3 times out of around 80 autotest.sh runs.

[2021-03-28 11:47] karlatec commented on #1863
This issue affects #1851 (running TCP tests on bare-metal instead of a VM), but due to low reproducibility is not a blocker.

[2021-03-29 02:34] yidong0635 opened #1864 "[vfio_user] Using abort to test vfio_user got coredump"
# Issue
[code]

## Steps to Reproduce
[code]
## Context (Environment including OS version, SPDK version, etc.)

commit : b33da506b546ebca3a92c9d0355ed30cc7495cfd
OS : Fedora30

[2021-03-29 04:10] changpe1 commented on #1864
@yidong0635 it's not an error, currently only three tools in example/nvme can test with vfio-user, a parameter "-g" is required to test it with vfio-user.

[2021-03-29 04:15] yidong0635 commented on #1864
OK, Do we need to support this one later?

[2021-03-29 04:19] changpe1 commented on #1864
You can add this parameter to abort application, and add it in the test scripts.

[2021-03-29 05:39] gaowayne commented on #1858
@rafalste buddy, please review this, I try to submit this fix into review https://review.spdk.io/gerrit/c/spdk/spdk/+/7108

[2021-03-29 06:02] dakshajauppalapati96 commented on #1823
Hi @jimharris

Yes, I configured the linux kernel NVMF target using below script with in_caps_size 8192.

#!bin/bash

if [[ $# != 1 ]]; then
        echo "error: specify the number of targets"
        exit 0
fi

nvmetcli clear
mount -t configfs none /sys/kernel/config
rmmod nvmet_rdma nvmet_tcp nvmet nvme null_blk brd

sleep 1

IPPORT="4420"                                   # 4420 is the reserved

[2021-03-29 06:06] sun-mingbao opened #1865 "[MLX5_DV - SPDK-tgt] Failed to run image 'ubuntu2004-ofed-spdk_dev'"
Following are the error log:

[2021-03-29T05:32:29.366Z] + docker inspect -f . ubuntu2004-ofed-spdk_dev

[2021-03-29T05:32:29.366Z] .

Failed to run image 'ubuntu2004-ofed-spdk_dev'. Error: docker: Error response from daemon: Conflict. The container name "/dev_spdk_dv_app" is already in use by container "9480d2c950895dc6f3e2c615f7e4570bd60c4518a8089d2e250e0ddcaabfc16f". You have to remove (or rena

[2021-03-29 07:34] #1860 closed

[2021-03-29 09:57] mikeBashStuff commented on #1859
Submitted issue on the DPDK side: https://bugs.dpdk.org/show_bug.cgi?id=668

[2021-03-29 14:43] jimharris commented on #1865
Hi @sun-mingbao,

SPDK does not release container images, so this does not seem to be an SPDK failure.

I am going to change the label on this issue to "question" for now.  I'm not sure if anyone here will be able to help you with your container image, but please provide more details including reproduction steps in case someone wants to try to help.

-Jim

[2021-03-29 15:17] AlekseyMarchuk commented on #1865
@sun-mingbao @jimharris there was a problem in Mellanox CI, it is fixed now. @sun-mingbao please retrigger another build by leaving a comment with `Mellanox:retest` content

[2021-03-29 15:35] mikeBashStuff opened #1866 "[doxygen] Undocumented parts of code"
[code]

Latest releases of doxygen report warnings on some undocumented parts of code. Example here:
[code]
Currently, this causes `autobuild_build_doc` test to fail on latest fedora releases (`f{32,33}`) where `doxygen` 1.8.20 is shipped.

[2021-03-29 15:52] karlatec commented on #1851
Done. CI job `nvmf-tcp-phy-autotest` is now run as part of CI per-patch routine.

[2021-03-29 15:52] jimharris commented on #1866
Hi @mikeBashStuff,

Can you try with patch series ending at https://review.spdk.io/gerrit/c/spdk/spdk/+/7131?

-Jim

[2021-03-29 16:01] mikeBashStuff commented on #1866
@jimharris Great, thanks! With your patches most of the above warnings are gone. Only two left:

[code]

[2021-03-29 16:26] karlatec opened #1867 "SPDK NVMe-oF TCP Target latency increase"
## Current Behavior

NVMe-oF latency increased due to recent merges on master branch.
Between `b33da506b5` and `346c43edd32` commits average TCP latency using SPDK Target and Initiator increased from ~40-45usec to ~75-80usec.

## Possible Solution

Bisecting leads to this commit as the one resulting in increased latency:
https://review.spdk.io/gerrit/c/spdk/spdk/+/6746
`b67aa514a48baa1b8ed34e315c6

[2021-03-29 16:52] jimharris commented on #1866
Ah, those were in your original output but I missed it in my first patch set.

I've pushed a second rev of the patch series - can you try it again?

[2021-03-29 17:20] mikeBashStuff commented on #1866
@jimharris That did it, all the above warnings are gone. Thanks!

[2021-03-29 19:21] jianlenovo commented on #1862
Jim,

I have run into another issue when trying out SPDK. When I tried to follow the example of “MVMe bdev character device”, https://spdk.io/doc/bdev.html#bdev_config_nvme_cuse, I got an error:
rpc.py: error: unrecognized arguments: -p spdk/nvme0

Thank you for your help.

Regards,

Jian
From: Jim Harris ***@***.***>
Sent: Friday, March 26, 2021 3:23 PM
To: spdk/spdk ***@***.***>
Cc: Jian Li ***@

[2021-03-29 19:41] jimharris commented on #1823
Can you try the following patch?  Note that kernel target always sets msdbd to 1.

The intention was to support multiple SGLs with the RDMA transport in the SPDK target - we may need to revert to 1 for now while we sort this out further.

-Jim

diff --git a/lib/nvmf/rdma.c b/lib/nvmf/rdma.c
index e7f3f8ea61..4889dd212d 100644
--- a/lib/nvmf/rdma.c
+++ b/lib/nvmf/rdma.c
@@ -3185,7 +3185,7 @@ static

[2021-03-29 20:11] jimharris commented on #1823
Hi @yidong0635,

Can you catch this in gdb again, and do:

p/x ((struct spdk_nvmf_rdma_request *)req)->recv->sgl[0]
p/x ((struct spdk_nvmf_rdma_request *)req)->recv->sgl[1]

[2021-03-30 00:12] yidong0635 commented on #1823
@jimharris
(gdb) p/x ((struct spdk_nvmf_rdma_request *)req)->recv->sgl[0]
$1 = {addr = 0x2000dc0fec80, length = 0x40, lkey = 0xe8585}
(gdb) p/x ((struct spdk_nvmf_rdma_request *)req)->recv->sgl[1]
$2 = {addr = 0x2000dc3e4000, length = 0x2000, lkey = 0xe9c9c}

[2021-03-30 00:17] jimharris commented on #1823
Thanks!  Could you do this again, see the addr values?  They might be different next time, but I'd like you do get sgl[0] and sgl[1] like you just did, and then follow it up with:

x/16xw 0x2000dc0fec80 /* replace with new addr for sgl[0] */
x/2048xw 0x2000dc3e4000 /* replace with new addr for sgl[1] */

[2021-03-30 00:26] yidong0635 commented on #1823
(gdb) x/2048xw 0x2000dc3e4000Quit
(gdb) p/x ((struct spdk_nvmf_rdma_request *)req)->recv->sgl[0]
$5 = {addr = 0x200016410e00, length = 0x40, lkey = 0x9bcbc}
(gdb) p/x ((struct spdk_nvmf_rdma_request *)req)->recv->sgl[1]
$6 = {addr = 0x2000a936f000, length = 0x2000, lkey = 0x8bcbc}
(gdb) x/16xw 0x200016410e00
0x200016410e00: 0x00304001      0x00000001      0x00000000      0x00000000
0x200016410e10:

[2021-03-30 00:33] jimharris commented on #1823
If it’s possible could you get all of the output from that second address dump?  I want to see if it is embedding a second SGE after the first 4K of data.

[2021-03-30 00:38] yidong0635 commented on #1823
please see : [regs.log](https://github.com/spdk/spdk/files/6225366/regs.log)

[2021-03-30 02:14] changpe1 commented on #1823
@yidong0635 is your test case using block size with 4096? you may use 512B for this issue.

[2021-03-30 03:02] yidong0635 commented on #1823
*NOTICE*: Accel engine initialized to use software engine.
[2021-03-30 03:38:57.786409] rdma.c:2650:nvmf_rdma_listen: *NOTICE*: *** NVMe/RDMA Target Listening on 192.167.125.19 port 4420 ***
[2021-03-30 03:38:58.441310] ctrlr.c:2075:nvmf_ctrlr_get_log_page: *ERROR*: Unsupported Get Log Page 0x02
[2021-03-30 03:39:04.909169] ctrlr_bdev.c: 326:nvmf_bdev_ctrlr_write_cmd: *ERROR*: Write NLB 10 * block

[2021-03-30 03:32] spdkci commented on #1865
Another instance of this failure. Reported by @spdkci. log: https://ci.spdk.io/public_build/autotest-per-patch_40270.html

[2021-03-30 04:44] shuhei-matsumoto commented on #1701
test
[test.log](https://github.com/spdk/spdk/files/6226209/test.log)

[2021-03-30 07:24] sun-mingbao opened #1868 "[nvmf-phy-autotest] Test Failure"
https://ci.spdk.io/public_build/autotest-per-patch_40271.html

The above URL has the following failures:

nvmf-phy-autotest #33492
nvmf-tcp-phy-autotest #136
nvmf-tcp-uring-vg-autotest #16337
nvmf-tcp-vg-autotest #19774
nvmf-vg-autotest #19751

However, I could not see any relationship between my commit and the nvmef.

[2021-03-30 07:26] spdkci commented on #1868
Another instance of this failure. Reported by @sun-mingbao. log: https://ci.spdk.io/public_build/autotest-per-patch_40272.html

[2021-03-30 07:33] changpe1 commented on #1868
@sun-mingbao I checked the failure of your CI results, it's related with your patch.

test/nvme/aer/aer.c is doing the same thing as you did in your patch, so you may remove the duplicated code in test/nvme/aer/aer.c to pass the CI.

[2021-03-30 07:36] karlatec commented on #1868
@sun-mingbao Also - if possible please rebase your patch on latest master branch head. This was announced on Slack yesterday, but you might have missed it.

[2021-03-30 07:43] sun-mingbao commented on #1868
@changpe1 @karlatec
Got it.

[2021-03-30 08:04] Saigut commented on #446
Doesn't SPDK has a concept like LVM？

[2021-03-30 09:20] AlekseyMarchuk commented on #1856
Duplicate of #1819

[2021-03-30 09:20] #1856 closed

[2021-03-30 10:34] yidong0635 commented on #1823
The right request length is 8. but the got 10. the cdw12 should be 0x7 which is 0 based.  Not sure it's the host app's error or from target side.  Can we check it's power of 2?
[code]

[2021-03-30 10:58] spdkci commented on #1760
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_40291.html

[2021-03-30 14:36] jimharris commented on #1823
@benlwalker and I talked about this issue offline yesterday.

The main difference between the SPDK target and the kernel target is the reported MSDBD - Maximum SGL Data Block Descriptors.  SPDK reports 16 while the kernel only reports 1.

For this 10LBA (5KiB) case, we see a data block descriptor for the first 4KiB, but not for the final 1KiB.  The output that @yidong0635 provided does not show th

[2021-03-30 14:45] jianlenovo opened #1869 "NVMe bdev character device"
I am trying out spdk on ubuntu 18.04. Following the user doc, https://spdk.io/doc/bdev.html#bdev_config_nvme, "MVMe bdev character device" section -- was able to create bdev Nvme0 successfully , but got an error when executing the following command:

rpc.py bdev_nvme_cuse_register -n Nvme0 -p spdk/nvme0  --> an error as below

rpc.py: error: unrecognized arguments: -p spdk/nvme0

[2021-03-30 14:55] jimharris commented on #1866
Patches merged.

[2021-03-30 14:55] #1866 closed

[2021-03-30 15:13] jimharris commented on #1857
I am not aware of any system parameters to get these unhidden.

Just looking at the first one, 0x19@0x100 - 0x19 = PCI_EXT_CAP_ID_SECPCI (Secondary PCIe capability).  drivers/vfio/pci/vfio_pci_config.c is responsible for determining what is hidden, and this capability is clearly marked as "masked from the user" when you look at the pci_ext_cap_length map at the beginning of this file.

git blame s

[2021-03-30 15:13] #1857 closed

[2021-03-30 18:28] #1805 closed

[2021-03-30 18:31] jimharris commented on #1599
Hi @jiaqizho,

These patches above are still open with some unresolved comments.  Have you had a chance to take a look?

Thanks,

Jim

[2021-03-30 19:36] jimharris commented on #1869
/dev/spdk directory will not be created until the first bdev_nvme_cuse_register RPC.

[2021-03-30 19:45] jianlenovo commented on #1869
Jim,

Got it.

However, I got an error response for bdev_nvme_cuse_register RPC without -p as following,

***@***.***:~/SPDK/spdk$ sudo ./scripts/rpc.py bdev_nvme_cuse_register -n NVMe0
request:
{
  "name": "NVMe0",
  "method": "bdev_nvme_cuse_register",
  "req_id": 1
}
Got JSON-RPC error response
response:
{
  "code": -32601,
  "message": "Method not found"
}

From: Jim Harris ***@***.***>
Sent:

[2021-03-30 19:47] jimharris commented on #1823
@benlwalker talked with Sagi Grimberg (Linux nvme maintainer) and confirmed there seems to be a kernel bug.

@yidong0635, could you try to create a test case that reproduces this issue without iozone?  Basically start the target with same configuration as above, connect to the target using nvme-cli and the Linux kernel nvme driver, and then do some focused writev testing.

I would suggest using PO

[2021-03-30 19:50] jimharris commented on #1869
Can you confirm you ran configure with the --with-nvme-cuse option before building?

I just posted another rev of the doc patch above, with an addition for this configure option.

[2021-03-30 19:53] jimharris commented on #1814
@KariukiJ @changpe1 could the two of you sync up on this and provide an update on whether we should close this issue?  Latest post from John indicates this has been fixed now but will wait to close until we get confirmation.

Thanks,

Jim

[2021-03-30 20:28] jianlenovo commented on #1869
Jim,

It did not build with --with-nvme-cuse option.
Will rebuild with that.

Thanks,

Jian

From: Jim Harris ***@***.***>
Sent: Tuesday, March 30, 2021 3:50 PM
To: spdk/spdk ***@***.***>
Cc: Jian Li ***@***.***>; Mention ***@***.***>
Subject: [External] Re: [spdk/spdk] NVMe bdev character device (#1869)

Can you confirm you ran configure with the --with-nvme-cuse option before building?

I just p

[2021-03-31 06:06] wanghailiangx commented on #1851
Updated https://review.spdk.io/gerrit/c/spdk/spdk/+/6932
I have added a function nvmf_phy_init() which uses netns for current TCP testing, and we have tested it locally. Now we can see TCP packets between physical ports. The premise is that we need to connect a cable between the two ports of the E810 network card.

[2021-03-31 08:30] spdkci commented on #1792
Another instance of this failure. Reported by @dong-liuliu. log: https://ci.spdk.io/public_build/autotest-per-patch_40380.html

[2021-03-31 11:53] mikeBashStuff opened #1870 "GP1 has no free nvme drives for the tests"
This fails the `devices` test: https://ci.spdk.io/results/autotest-per-patch/builds/40447/archive/nvmf-tcp-phy-autotest/build.log

[2021-03-31 11:54] spdkci commented on #1870
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_40447.html

[2021-03-31 12:00] tomzawadzki commented on #1861
@karlatec patch https://review.spdk.io/gerrit/c/spdk/spdk/+/7086 has been merged. Does this resolve this issue ?

[2021-03-31 12:26] spdkci commented on #1870
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_40453.html

[2021-03-31 13:01] spdkci commented on #1868
Another instance of this failure. Reported by @dong-liuliu. log: https://ci.spdk.io/public_build/autotest-per-patch_40455.html

[2021-03-31 14:01] spdkci commented on #1870
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_40468.html

[2021-03-31 14:17] spdkci commented on #1835
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_40469.html

[2021-03-31 14:54] anatolyburakov commented on #1859
Just to provide some context: you're correct, `base_frequency` cannot be bigger than max frequency when it doesn't exist 😄 the original problem was that on some CPU's/kernel versions, the `base_frequency` reporting in the kernel seems to be broken (i have an old Broadwell-era Xeon that exhibits this behavior), which is why the fix was introduced in the first place. If you rely on this particular s

[2021-03-31 15:36] spdkci commented on #1835
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_40476.html

[2021-03-31 15:36] spdkci commented on #1835
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_40480.html

[2021-03-31 16:27] balamsg opened #1871 "[unittest-vg-autotest] The CQ Head Doorbell is updated twice with the same value during format"
[unittest-vg-autotest] The CQ Head Doorbell is updated twice with the same value during format command.

00:20:11.231  Build timed out (after 20 minutes). Marking the build as failed.
00:20:27.804  Build was aborted
00:20:27.812  [PostBuildScript] - [INFO] Executing post build scripts.

## Link to the failed CI build
https://ci.spdk.io/results/autotest-per-patch/builds/40456/archive/unittest-vg-au

[2021-03-31 16:29] spdkci commented on #1871
Another instance of this failure. Reported by @balamsg. log: https://ci.spdk.io/public_build/autotest-per-patch_40456.html

[2021-03-31 16:30] mikeBashStuff commented on #1871
@balamsg you need to rebase your patches against the latest master. This timeout was due to recent changes that got merged in the spdk repo and the CI pool.

[2021-03-31 16:31] balamsg commented on #1871
@mikeBashStuff I have done the rebase before pushing it for review

[2021-03-31 16:44] mikeBashStuff commented on #1871
@balamsg I am looking at the patchset 3 of your commit https://review.spdk.io/gerrit/c/spdk/spdk/+/7149 and it doesn't seem to be up-to-date.
[code]

From the above list, the lack of  d22233ac592a1ca5025e16fbb4c7acd44f73b0e9  is causing the build to timeout.

[2021-04-01 04:21] balamsg commented on #1871
I got the same issue even after rebasing

[2021-04-01 04:35] jimharris commented on #1852
Hi @mikeBashStuff,

Is this issue reproducible?  If so, do you only see it with the PMR enabled?

-Jim

[2021-04-01 04:45] benlwalker commented on #1853
The behavior you outlined in #3 is not how the target works. The target allocates its buffers only based on the total length of the command. In this case, it will allocate a single 4KiB buffer and then perform two RDMA reads to fetch data into it.

[2021-04-01 04:45] changpe1 commented on #1850
[Bug Scrub] @optimistyzy can you take a look? thanks.

[2021-04-01 04:52] changpe1 commented on #1871
Link this issue to #1701.

[2021-04-01 04:58] changpe1 commented on #1871
[Bug Scrub] we discussed this issue today, SPDK should try to avoid recursive call to spdk_nvme_qpair_process_completions() in the aer_cb function, one way is to execute aer_cb sequentially.

[2021-04-01 05:19] balamsg commented on #1871
Hi @changpe1 , Yes, asynchronous submission of Active NS list & the Identify NS commands will solve the issue. But that comes  with a lot of code changes so i have just avoided the CQ head doorbell updation twice with the same value.

[2021-04-01 05:26] changpe1 commented on #1871
Yeah, do you want to have a try? if no I can take care of this change.

[2021-04-01 05:30] AlekseyMarchuk commented on #1853
In the case of multi SGL target allocates a separate buffer for every SGL descriptor. That is done in `nvmf_rdma_request_fill_iovs_multi_sgl` function, this function prepares `lengths` array and passed in to `spdk_nvmf_request_get_buffers_multi`. As a result in this particular case we'll have 2 transport buffers

[2021-04-01 05:32] balamsg commented on #1871
Sure @changpe1,  i will make the changes. I will make the submission of Active Ns list & identify Ns as asynchronous.

[2021-04-01 06:37] spdkci commented on #1870
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_40523.html

[2021-04-01 07:00] yidong0635 opened #1872 "[nvme-phy-autotest] devices.sh test failed"
# Issue
[code]
## Link to the failed CI build
https://ci.spdk.io/results/autotest-per-patch/builds/40605/archive/nvme-phy-autotest/build.log

[2021-04-01 07:01] yidong0635 commented on #1872
link to #1870

[2021-04-01 07:01] #1872 closed

[2021-04-01 08:07] spdkci commented on #1870
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_40609.html

[2021-04-01 08:09] spdkci commented on #1870
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_40607.html

[2021-04-01 09:02] yidong0635 commented on #1819
@shuhei-matsumoto  thanks ,No problem, waiting for your requests!

[2021-04-01 10:12] spdkci commented on #1863
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_40622.html

[2021-04-01 10:18] mikeBashStuff commented on #1859
Just to confirm that patch from @anatolyburakov works, tested it against our vs-main-dpdk job.

[2021-04-01 12:43] spdkci commented on #1863
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_40628.html

[2021-04-01 14:54] spdkci commented on #1863
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_40667.html

[2021-04-01 19:56] shuhei-matsumoto commented on #1819
Hi @karlatec

What you saw might have been fixed recently by 5.10.13.
https://cdn.kernel.org/pub/linux/kernel/v5.x/ChangeLog-5.10.13
https://lkml.org/lkml/2021/1/27/345

[2021-04-01 21:43] shuhei-matsumoto commented on #1819
Hi @yidong0635

Will you reduce nvme_core.max_retries from 5 to 1 by kernel boot parameter and see what happen when you can?
The following URL says about max_retries:
https://github.com/kubernetes/kops/issues/5694

[2021-04-01 21:59] benlwalker commented on #1853
This is the bug then - the memory allocations on the target side should only be based on the total length, not the way the host side has carved up the data into segments.

[2021-04-01 22:13] spdkci commented on #1835
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_40503.html

[2021-04-01 22:39] shuhei-matsumoto commented on #1819
Sorry, please ignore the above comment. The difference between 5 and 1 is negligible.
On the other hand, I noticed that the hung occurred always at the second controller.

Will you insert 1 second between two RPC set_ana_state calls?

[code]

[2021-04-01 23:21] spdkci commented on #1870
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_40554.html

[2021-04-01 23:22] spdkci commented on #1870
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_40541.html

[2021-04-01 23:24] spdkci commented on #1870
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_40559.html

[2021-04-01 23:27] shuhei-matsumoto opened #1873 "[nvmf] /home/vagrant/spdk_repo/spdk/scripts/rxe_cfg_small.sh stop spent 10 minutes"
[code]

https://ci.spdk.io/results/autotest-per-patch/builds/40672/archive/nvmf-vg-autotest/build.log

## Execution failed at

See above

[2021-04-01 23:27] spdkci commented on #1873
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_40672.html

[2021-04-01 23:28] spdkci commented on #1870
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_40546.html

[2021-04-01 23:30] spdkci commented on #1870
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_40535.html

[2021-04-01 23:31] spdkci commented on #1870
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_40540.html

[2021-04-01 23:33] spdkci commented on #1863
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_40659.html

[2021-04-02 02:10] yidong0635 commented on #1819
@shuhei-matsumoto the test result is not good.  Add sleeps according to your edits.
Test sometimes hang at different where ,Maybe "optimized",
Sometime states not equal and reports error then exit.

[2021-04-02 02:29] KariukiJ commented on #1814
@jimharris I talked to @changpe1 and determined that the next steps are to collect perftop data for the commit above and the one before to help understand the issue. I will also cherry-pick the commit  4249dc1010 and submit it for next LTS patch to fix the issue in the LTS.

[2021-04-02 05:46] yidong0635 commented on #1864
I tested  vfio-user using perf with large io size( e.g.  -o=13072)  and abort app uses the same value。
with the same assert and perf hangs：
[code]
waiting for updating submodule。

[2021-04-02 05:49] changpe1 commented on #1864
Thanks @yidong0635 , Assertion `vu_req->iovcnt < NVMF_VFIO_USER_MAX_IOVECS'  means this is a bug in SPDK, I will take a look.

[2021-04-02 10:41] ksztyber commented on #1840
I've run this case on top of the https://review.spdk.io/gerrit/c/spdk/spdk/+/7232 series with rdma, nvmf, and the IO channel traces enabled. It looks like one of the poll groups (`0xfdc4b0`) doesn't get destroyed, because there's the refcount of its IO channel is greater than zero:
[code]
Going further, it seems that this happens because one of the qpairs (`0x10c3590`) acquires IO channel tied to

[2021-04-02 11:46] shuhei-matsumoto commented on #1819
@yidong0635 Thanks for your trial. I  will investigate more before I ask you again.

[2021-04-02 14:55] jimharris commented on #1840
Hi @ksztyber,

Nice sleuthing.  Does nvmf_rdma_qpair_destroy get called on this qpair through the nvmf_rdma_poll_group_destroy code path?

-Jim

[2021-04-02 22:14] spdkci commented on #1870
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_40285.html

[2021-04-02 23:18] spdkci commented on #1870
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_40719.html

[2021-04-02 23:19] spdkci commented on #1870
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_40714.html

[2021-04-05 09:58] karlatec commented on #1870
@mikeBashStuff  I'm pretty sure that there is a NVMe drive in GP1:

[code]

[2021-04-05 10:22] mikeBashStuff commented on #1870
Yes, there is, but it's not free. It has a ntfs partition installed. I could remove it but don't know why it's there in a first place.

[2021-04-05 17:34] dtkeith opened #1874 "AER Callbacks in multi-process environments can be lost."
## Summary

When two or more processes are registered for Asynchronous Event Request (AER) callbacks, a completion on one process means the other process will not get the notification it registered for.

## Expected Behavior

The expectation is that if process A registers a callback function using spdk_nvme_ctrlr_register_aer_callback() then it will receive that call back during it’s call to spdk_

[2021-04-05 19:54] karlatec commented on #1870
@mikeBashStuff  I have a suspicion. Could you check the CI job running Windows SCSI compliance test? This job is designated to only run on GP1, maybe something isn't cleaned properly after the test.

[2021-04-06 07:40] gaowayne opened #1875 "[OCF performance] - ring error due to the qd=128 bdevperf or fio testing on OCF device"
## Expected Behavior
need fix this error and performance goes back

## Current Behavior
during testing OCF performance
[code]
performance is very poor
Device                  tps       MB_read/s  MB_wrtn/s  MB_dscd/s  MB_read  MB_wrtn  MB_dscd  aqu-sz  wareq-sz  rareq-sz  w_await(us)  r_await(us)  util
Nvme3n1(no sampling)    0.00      0.00       0.00       0.00       0.00     0.00     0.00     0

[2021-04-06 08:33] Comphix commented on #1869
@jianlenovo , how is the current status? After rebuilding with --with-nvme-cuse option, is it working now?

[2021-04-06 12:59] jianlenovo commented on #1869
Yes, rebuilding with –with-nvme-cuse option works.
Thanks,

Jian

From: GangCao ***@***.***>
Sent: Tuesday, April 6, 2021 4:34 AM
To: spdk/spdk ***@***.***>
Cc: Jian Li ***@***.***>; Mention ***@***.***>
Subject: [External] Re: [spdk/spdk] NVMe bdev character device (#1869)

@jianlenovo<https://github.com/jianlenovo> , how is the current status? After rebuilding with --with-nvme-cuse option, is it

[2021-04-06 13:11] Comphix commented on #1869
Close this issue.

[2021-04-06 13:11] #1869 closed

[2021-04-06 14:36] jkalwas opened #1876 "[nvmf] accept poller shouldn't be registered by default"
nvmf transport interface requires accept to be impl by specific transport
additionally there is poller registered which seems redundant for pluggable transport (not sure about vfio-user though)

this is more enhancement than bug

## Expected Behavior

nvmf layer is not registering accept poller by default and accept function on nvmf transport interface is optional

## Current Behavior

pluggable t

[2021-04-06 15:04] jimharris commented on #1876
Bug scrub: marked as enhancement request.  @jkalwas - would you like to take an initial stab at this when you are ready?

[2021-04-06 15:10] jimharris commented on #1865
Closing.  This was related to an intermittent problem with Mellanox CI.

[2021-04-06 15:10] #1865 closed

[2021-04-06 15:12] jimharris commented on #1859
Closed based on feedback from @mikeBashStuff

[2021-04-06 15:12] #1859 closed

[2021-04-06 15:14] jimharris commented on #1785
Possibly related to #1816.

[2021-04-06 17:15] AlekseyMarchuk commented on #1853
Agree, I add bug label to this issue. Working on the fix

[2021-04-06 23:31] spdkci commented on #1870
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_41000.html

[2021-04-06 23:58] spdkci commented on #1870
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_40961.html

[2021-04-07 00:00] spdkci commented on #1870
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_40977.html

[2021-04-07 00:05] spdkci commented on #1870
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_40979.html

[2021-04-07 02:39] ChengqiangMeng commented on #1850
rerun on the latest code and found the different error, but this time hits below.
os: Fedora30
commit: c3853598b13d70af3c6e60bbf7fb1d7ebc25f120

[code]

[2021-04-07 04:19] rch0wdhury opened #1877 "config option to just compile and not link"
Hi,
Is there any config option that just compiles the files and creates the static/dynamic libraries but does not link anything (apps, examples, tests ...)
Thanks.

[2021-04-07 04:50] jimharris commented on #1877
Hi @rch0wdhury,

There are some options to disable some of those but not all.  I see no reason not to add more config options though to do what you are looking for.

--disable-tests
--disable-unit-tests
--disable-examples

We just need one for --disable-apps.  Assigning this to me, I'll push a patch for this tomorrow.

-Jim

[2021-04-07 06:17] yidong0635 commented on #1850
There's race between  reactor_post_process_lw_thread  and  thread spdk_thread_send_msg to operate thread.
In `reactor_post_process_lw_thread`  executes `spdk_thread_destroy`  which frees thread.
spdk_nvmf_qpair_disconnect can be executes many times , and `if (!ctrlr || !ctrlr->thread)` can't prevent it sending a message
about `_nvmf_ctrlr_free_from_qpair` , but using `spdk_get_thread() `can.

[2021-04-07 06:36] changpe1 commented on #1864
Here is the patch https://review.spdk.io/gerrit/c/spdk/spdk/+/7264 to fix this issue.

The reason is that for NVME PRP list command, a 128KiB request may use 33 entries for it, while we only have maximum 32 in NVMf request data structure.

[2021-04-07 06:39] yidong0635 commented on #1864
@changpe1 thanks for your explanation ,will verify this.

[2021-04-07 07:00] mikeBashStuff commented on #1870
@karlatec Sure, will check it out.

[2021-04-07 07:24] yidong0635 commented on #1864
thanks @changpe1  patch serials work for me. Will do some other checks after these patches have been merged.

[2021-04-07 07:24] glodfish-zg opened #1878 "[test_name] Process leaked file descriptors."
00:01:25.612  START TEST devices
00:01:25.612  ************************************
00:01:25.613   09:00:49	# xtrace_enable
00:01:25.613   09:00:49	# /var/jenkins/workspace/vhost-autotest/spdk/test/setup/devices.sh
00:01:25.658  * Purging old temporary test storage (/tmp/spdk.MLutLA)
00:01:25.676  * Looking for test storage...
00:01:25.680  * Found test storage at /var/jenkins/workspace/vhost-auto

[2021-04-07 07:26] spdkci commented on #1878
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_41080.html

[2021-04-07 07:51] sun-mingbao opened #1879 "[nvmf-tcp-phy-autotest] Build failed"
https://ci.spdk.io/public_build/autotest-per-patch_41082.html

The above web page has failures of:

- nvmf-tcp-phy-autotest
- vhost-autotest

However, I could not see any relationship between my push review and the failures.

[2021-04-07 07:55] dakshajauppalapati96 commented on #1747
Tried to reproduce the issue with given configuration in the following link https://github.com/spdk/spdk/issues/1747#issue-788282932  on TOT SPDK issue is still seen i.e., resize_cq errors seen on target find them below.

[2021-04-07 13:10:08.023696] rdma.c: 961:nvmf_rdma_resize_cq: *ERROR*: iWARP doesn't support CQ resize. Current capacity 4096, required 8192
Using CQ of insufficient size may lea

[2021-04-07 07:56] spdkci commented on #1879
Another instance of this failure. Reported by @sun-mingbao. log: https://ci.spdk.io/public_build/autotest-per-patch_41082.html

[2021-04-07 08:05] mikeBashStuff commented on #1878
Duplicate of #1870

[2021-04-07 08:05] #1878 closed

[2021-04-07 08:06] mikeBashStuff commented on #1879
Duplicate of #1870

[2021-04-07 08:06] #1879 closed

[2021-04-07 08:12] spdkci commented on #1870
Another instance of this failure. Reported by @dong-liuliu. log: https://ci.spdk.io/public_build/autotest-per-patch_41025.html

[2021-04-07 08:36] AlekseyMarchuk commented on #1747
Hi @dakshajauppalapati96

That is expected, if you are using iWARP the only way to avoid this error is to configure big enough CQ size when you create the transport. This patch https://review.spdk.io/gerrit/c/spdk/spdk/+/6495 added a new config parameter, you can use it like this:
`rpc.py nvmf_create_transport -t rdma -d 8192`

Regarding the math - it is quite simple: each time a new qpair is crea

[2021-04-07 09:03] spdkci commented on #1870
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_41020.html

[2021-04-07 10:19] mikeBashStuff commented on #1852
@jimharris I think it relates to qemu as a whole - I have seen it under vanilla qemu 5.1 where `nvme_arbitration` test fails every other build, but a similar failures were seen under the zns job where another fork of qemu (though it does retain most of the upstream's functionality if not all). Can't reproduce it under spdk fork neither on older qemu versions (e.g. 4.2.0, 4.2.1, etc.).

[2021-04-07 10:59] mikeBashStuff commented on #1870
Potential fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/7269

[2021-04-07 12:06] rafalste commented on #1875
Hi @gaowayne @jimharris,
it looks like we do not remove all messages from the queue after each metadata updater request, so after a while free entries in the ring drops to 0, resulting with no more messages being sent.
I'm looking for a way to efficiently clear the queue after each request (probably at the metadata updater side after receiving a message), so if any of you guys have some suggestion

[2021-04-07 12:12] rafalste commented on #1875
@jimharris maybe there is an already implemented quick way to accomplish this task and I'm missing something?

[2021-04-07 12:49] jkalwas commented on #1876
I rethought what shall be done here and the actual changes can be very limited. Initially I thought there would be major change required to tcp/rdma.

please take a look into proposition
https://review.spdk.io/gerrit/c/spdk/spdk/+/7268

also I think there is a bug
when transport is getting added to the tgt with `spdk_nvmf_tgt_add_transport`
it is put into the list but `calloc` / `_nvmf_tgt_add_tra

[2021-04-07 13:52] AlekseyMarchuk commented on #1853
This patch addresses the problem: https://review.spdk.io/gerrit/c/spdk/spdk/+/7259

[2021-04-07 14:17] jimharris commented on #1870
Thanks @mikeBashStuff - I added my +2.

Any idea why this problem started just recently?

[2021-04-07 14:27] mikeBashStuff commented on #1870
@jimharris It started right after the `test/setup` suite got merged (and that happened quite recently) - that's where the failing test is coming from. Failures were limited to GP1 since any other system in the pool had available nvme disk for these particular tests. And the reason why there was none on GP1 was due to `windows_scsi_compliance` not cleaning up after itself (hence the patch above). :

[2021-04-07 14:31] jimharris commented on #1852
And you only see this problem with the nvme_arbitration test?

This looks wrong:
READ sqid:2 cid:1890 nsid:1 lba:3626752 len:256 SGL DATA BLOCK ADDRESS 0x0 len:0x0 key:0x0

The address and length of the SGL descriptor are 0?  That would explain the INVALID FIELD status codes.

I just noticed this commit in Qemu:
https://github.com/qemu/qemu/commit/cba0a8a344fea94aa2212e105611b8e099343cb1#diff-d368

[2021-04-07 15:13] mikeBashStuff commented on #1852
@jimharris So far, yes. I will try to spin some more test suites we have under this particular version of qemu and see if I can trigger similar failures there as well.

[2021-04-07 15:21] jimharris commented on #1875
Calling spdk_thread_poll() from within your module is not supported.  I think instead you need something a bit more efficient to kick the md_thread.

There is a non-zero cost every time you do an spdk_thread_send_msg.  It looks like the I/O threads are sending a flood of so many kick messages that the md_thread cannot process all of them quickly enough.

Can you instead create your own spdk_ring?

[2021-04-07 16:14] rch0wdhury commented on #1877
Thanks Jim. Yes, --disable-apps should do it.

[2021-04-07 17:09] jimharris commented on #1876
Hi @jkalwas,

I posted a comment on your patch.  Let me know what you think.

Regarding spdk_nvmf_tgt_add_transport, I agree this is a bug.  We should wait to add the new transport to the tgt->transports TAILQ until _nvmf_tgt_add_transport_done shows successful status.  Good catch!

-Jim

[2021-04-07 17:38] jimharris commented on #1852
@changpe1 - are you ok if @mkenguva takes a look at this one?

[2021-04-07 18:44] mikeBashStuff opened #1880 "Memory leaks detected during nvmf_ns_hotplug_stress test"
[code]
Autotest configuration:
[code]
Trace from ASAN:
[code]

Trace from the test execution:
[code]

[2021-04-07 20:00] jimharris commented on #1790
It looks like this patch from @Comphix is going to eventually address this issue:

https://review.spdk.io/gerrit/c/spdk/spdk/+/7057

[2021-04-07 20:50] spdkci commented on #1835
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_40887.html

[2021-04-07 21:15] jimharris commented on #1850
Good analysis @yidong0635.  Can you try https://review.spdk.io/gerrit/c/spdk/spdk/+/7275?

[2021-04-07 21:32] jimharris commented on #1798
Google just updated the issue that their product team fixed this issue, and I confirmed it with my GCP VM.

[2021-04-07 21:32] #1798 closed

[2021-04-07 21:43] spdkci commented on #1801
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_41178.html

[2021-04-07 22:02] jimharris commented on #1799
I've filed an issue with GCP for this: https://issuetracker.google.com/issues/184763639.

[2021-04-07 23:00] spdkci commented on #1792
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_41193.html

[2021-04-08 01:23] changpe1 commented on #1852
sure, assigned to @mkenguva  now.

[2021-04-08 02:07] yidong0635 commented on #1820
@ZiyeYang  you ask me to test this from the target side. and It seems this doesn't give any helps.
@HellenViolet do you still need have question to ask from the maintainers ?

[2021-04-08 06:12] spdkci commented on #1792
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_41151.html

[2021-04-08 06:14] spdkci commented on #1792
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_41145.html

[2021-04-08 06:52] karlatec commented on #1868
@dong-liuliu First report is unrelated, second seems to be resolved after rebase like suggested in previous comments

[2021-04-08 06:58] karlatec commented on #1863
@wawryk @mikeBashStuff  any updates on this one and what's the reproducibility using a VM?

[2021-04-08 07:05] karlatec commented on #1819
@shuhei-matsumoto

Seems about right. I've updated some systems to 5.11.x and the issue no longer reproduces.

[2021-04-08 07:41] AlekseyMarchuk commented on #1880
Hi @mikeBashStuff please check this patch https://review.spdk.io/gerrit/c/spdk/spdk/+/7282 it should fix this memory leak

[2021-04-08 08:49] ksztyber commented on #1840
No, it gets called from `nvmf_rdma_destroy_drained_qpair`:
[code]
I think by the time `nvmf_rdma_poll_group_destroy` gets called, the poll groups are already destroyed, because it's called from `nvmf_tgt_destroy_poll_group` (`lib/nvmf/nvmf.c`), which is only executed once all IO channels are put down. And that never happens in this case, because when the qpair is removed from the poll group in `nv

[2021-04-08 08:54] spdkci commented on #1868
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_41030.html

[2021-04-08 09:46] AlekseyMarchuk commented on #1840
@ksztyber In reproduction steps I see that your create RDMA transport with SRQ, in that case when qpair is being destroyed, we should wait for `IBV_EVENT_QP_LAST_WQE_REACHED`. Could you add logs to make sure that we receive this event for every qpair?

[2021-04-08 10:23] mikeBashStuff commented on #1880
@AlekseyMarchuk Will test it out asap, thanks!

[2021-04-08 11:25] karlatec commented on #1867
Changed title to `SPDK NVMe-oF TCP Target latency increase` because I will create another TCP latency related issue in a moment

[2021-04-08 11:38] karlatec opened #1881 "SPDK NVMe-oF TCP Initiator latency increase"
## Current Behavior

NVMe-oF latency increased due to recent merges on master branch.
Between de8f3a50ee and a620cd198f commits average TCP latency using SPDK Target and SPDK Initiator increased from ~35usec  to ~57usec.

Additional observations:
- IOPS in QD=1 latency test using this configuration are affected as well (50-70% drop)
- In case of higher QD tests (QD=128) and more CPUs, subsystems i

[2021-04-08 12:26] AlekseyMarchuk commented on #1881
Hey @karlatec the patch a620cd198 fixed zcopy in TCP initiator, but with this patch zcopy works in a bit different way. Previously sockets were attached to a poll_group and `_sock_check_zcopy` function from posix.c was called once per poll_group poll. Now sockets are not attached to a poll_group and `_sock_check_zcopy` is called by every qpair. I think there is possible performance impact. Could y

[2021-04-08 12:45] rafalste commented on #1875
@jimharris thank you for the feedback!
I used `spdk_thread_poll()` in the function that is called on thread (i.e. in the function which is passed to `spdk_thread_send_msg()` along with the context) and it actually work - queue isn't stuck anymore. In SPDK's documentation I've seen the statement that `spdk_thread_poll()` should be called frequently, so I assumed that will be a good idea... Now I su

[2021-04-08 13:06] AlekseyMarchuk commented on #1881
Probably I was wrong, since just after creating a socket, it is added to a poll_group and everything should work as before
Could you add the following to bdev.conf and measure latency again?
[code]

[2021-04-08 13:13] ksztyber commented on #1840
@AlekseyMarchuk, you're right, we're not passing the no_srq option, but `ibv_query_device` reports that `max_srq = 0`, so we're actually waiting for `rqpair->current_recv_depth == rqpair->max_queue_depth`. I've added an error log in `nvmf_rdma_destroy_drained_qpair` to track these values:
[code]
Here are the logs:
[code]
It looks like there are two qpairs, `0x18ae590` and `0x1832e30` with `max_que

[2021-04-08 13:41] AlekseyMarchuk commented on #1840
Could you also check ibv state of the qpair? Qpair destruction path should call `nvmf_rdma_close_qpair -> spdk_rdma_qp_disconnect -> rdma_disconnect` and the last function moves qpair to IBV_QPS_ERR state. In this state the driver should complete all posted work request (receive WRs in this case) and flush them to CQ. Work Completions for these WRs should have `wc.status == IBV_WC_WR_FLUSH_ERR`. Y

[2021-04-08 14:04] dakshajauppalapati96 commented on #1823
Hi @jimharris

Do you want me to report the issue to linux-nvme community?

Thanks
Dakshaja

[2021-04-08 14:36] spdkci commented on #1870
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_41232.html

[2021-04-08 14:37] spdkci commented on #1870
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_41271.html

[2021-04-08 14:38] spdkci commented on #1870
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_41273.html

[2021-04-08 16:03] jimharris commented on #1875
Calling spdk_thread_poll() like this would cause other issues.  It can cause messages to get executed out of order for example.  When spdk_thread_poll() runs, it reads SPDK_MSG_BATCH_SIZE (8) messages from the message queue into a local array, and then executes them one by one.  But then if in the context of one of those messages, you call spdk_thread_poll() again, it will read the next SPDK_MSG_B

[2021-04-08 16:05] jimharris commented on #1868
Closing this issue.  The most recent reports here are duplicates of #1870.

[2021-04-08 16:05] #1868 closed

[2021-04-08 16:09] jimharris commented on #1848
Patch merged.

[2021-04-08 16:09] #1848 closed

[2021-04-08 16:30] spdkci commented on #1870
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_41276.html

[2021-04-08 16:40] karlatec opened #1882 "[unit tests] Memory leak in nvme_ns_cmd_ut"
## Current Behavior

Unit test failures occur in nvme_ns_cmd_ut in some specific system configurations.  When the issue occurs, there are 3 unit test failures, all of them are related to expecting request->num_children == 2, but the check fails.

The check is done using SPDK_CU_ASSERT_FATAL, which aborts the rest of the unit test.  That means buffers allocated in these unit tests don't get freed,

[2021-04-08 16:40] jlevon opened #1883 "vfio-user nvmf crash in nvmf_transport_qpair_abort_request()"
Running current SPDK master with vfio-user nvmf, I got this crash when the backing iscsi server went down:

[code]

`->qpair_abort_request` has no implementation in `vfio-user.c`

cc @changpe1

[2021-04-08 18:22] jimharris commented on #1861
Karol reported to me offline that this issue is fixed.  Thanks @karlatec!

[2021-04-08 18:22] #1861 closed

[2021-04-08 18:52] jimharris opened #1884 "add support for physical block size and/or preferred write granularity"
The SPDK bdev layer today has no support for modules to report the physical block size and/or preferred write granularity for a bdev.  Some bdevs have the ability to get this, for example:

* bdev_iscsi, bdev_virtio_scsi - READ_CAPACITY_16
* bdev_nvme - NPWG (Namespace Preferred Write Granularity)

Steps to implement:
1) add new phys_blocklen field to struct spdk_bdev
2) add bdev getter API to ret

[2021-04-08 19:51] jimharris commented on #1882
Well...I'm not able to reproduce this.  I tried gcc-10, various configurations (w/ and w/o debug, w/ and w/o ubsan) - everything works.

The real failure isn't the memory leaks, it is the 3 failed unit tests.  Each of those failures was from an SPDK_CU_ASSERT_FATAL, which immediately terminates the current unit test - in these cases, causing buffers to not get freed.

Note: these shouldn't be SPDK

[2021-04-09 01:04] changpe1 commented on #1883
Right, I will add a fix patch for it.

[2021-04-09 01:36] changpe1 commented on #1883
I submitted a quick fix https://review.spdk.io/gerrit/c/spdk/spdk/+/7291, I need to think about how to add ABORT support with vfio-user later.

[2021-04-09 02:20] yidong0635 opened #1885 "[nvmf] run identify in nvmf_vfio_user got memory leak"
# Issue
This issue not only happened here but also on other test .
[code]

## Possible Solution

https://review.spdk.io/gerrit/c/spdk/spdk/+/7249

## Steps to Reproduce

./configure --with-vfio-user --enable-asan --enable-ubsan
./test/nvmf/target/nvmf_vfio_user.sh
or  ./test/nvmf/host/multipath.sh (kill test while running fio)

## Context (Environment including OS version, SPDK version, etc.)

[2021-04-09 05:58] optimistyzy commented on #1881
Hi  @karlatec ,
 I agree with @AlekseyMarchuk . This patch will not change anything, the only thing to address is to change the configuration like Alex suggested.

[2021-04-09 06:16] spdkci commented on #1870
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_41409.html

[2021-04-09 06:19] spdkci commented on #1870
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_41280.html

[2021-04-09 06:19] spdkci commented on #1870
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_41281.html

[2021-04-09 06:21] spdkci commented on #1870
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_41289.html

[2021-04-09 06:47] spdkci commented on #1870
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_41306.html

[2021-04-09 06:48] spdkci commented on #1870
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_41284.html

[2021-04-09 06:50] karlatec commented on #1882
Bisecting led me to: 04cd292237bff7fe0841c6e70a2ea07c873a115e

[2021-04-09 07:10] spdkci commented on #1870
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_41419.html

[2021-04-09 07:53] spdkci commented on #1870
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_41430.html

[2021-04-09 08:53] yidong0635 commented on #1823
@jimharris  I wrote a simple code  that using writev of posix and can't reproduce this issue yet.
https://review.spdk.io/gerrit/c/spdk/spdk/+/7171.
The same behavior in a mount device  which connected by nvme-cli  :
using
dd if=/dev/urandom of=writev3.c bs=5120 count=256 oflag=direct
and
writev(fd3, iov, 2) iov[0].iov_len=4096/5120/2038 iov[1].iov_len=1024/5120/2048.

I'm afraid I misunderstood wh

[2021-04-09 08:57] mikeBashStuff commented on #1880
@AlekseyMarchuk I am afraid the mem leak is still there, this time slightly different but triggered under the same test:
[code]

[2021-04-09 10:37] AlekseyMarchuk commented on #1880
@mikeBashStuff Thanks, that is another memory leak, will check it

[2021-04-09 12:00] spdkci commented on #1885
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_41456.html

[2021-04-09 12:42] ksztyber commented on #1840
You're right, the destruction path looks exactly as you've described. However, it seems that the qpair in question doesn't move to the `IBV_QPS_ERR` state, but stays in the `IBV_QPS_RTS` state. And I'm not seeing any WRs being completed with the `IBV_WC_WR_FLUSH_ERR` status on that qpair, so it does look like the driver/FW doesn't notice the qpair being moved to the `IBV_QPS_ERR` state.

[2021-04-09 12:45] EugeneKochetov commented on #1882
Hi,

Not sure if someone is working on the fix. I just faced this one while rebasing my patches. The root cause is uninitialized controller structure allocated on the stack. This applies to multiple tests in the nvme_ns_cmd_ut.c, e.g. test_nvme_ns_cmd_compare_with_md.
ctrlr.quirks is non zero and patch found by Karol comes into play.

If noone is on it I can submit a patch.

[2021-04-09 13:17] jimharris commented on #1882
Sure @EugeneKochetov, go ahead and submit a patch. Thanks!

[2021-04-09 14:28] balamsg commented on #1871
00:15:28.295  Build timed out (after 15 minutes). Marking the build as failed.
00:15:28.307  Build was aborted
00:15:28.308  [PostBuildScript] - [INFO] Executing post build scripts.
00:15:28.317  [nvmf-phy-autotest] $ /usr/bin/env bash /tmp/jenkins7740217856687376351.sh

[2021-04-09 14:43] spdkci commented on #1871
Another instance of this failure. Reported by @balamsg. log: https://ci.spdk.io/public_build/autotest-per-patch_41428.html

[2021-04-09 15:38] balamsg commented on #1871
The following tests are failing which are not related to my patch.
nvmf-phy-autotest, nvmf-tcp-phy-autotest , nvmf-tcp-uring-vg-autotest, nvmf-tcp-vg-autotest, nvmf-vg-autotest.

[2021-04-09 15:45] EugeneKochetov commented on #1882
Patch is ready for review here: https://review.spdk.io/gerrit/c/spdk/spdk/+/7309

[2021-04-09 16:06] jlevon commented on #1884
For NVMe specifically as well, there is the possibility of LBA formats as well, which is another way of identifying a preferred block size. From googling it appears at least some NVMe controllers in hardware do do this.

[2021-04-09 16:22] jimharris commented on #1884
That's true @jlevon.

One of the side effects of selecting a 4KB logical block size is that it forces you to also always read at least 4KB of data at a time.  There are some database applications that either use O_DIRECT or consume block storage directly, and will read sub-4KB chunks (of 512B multiples) if possible to optimize the amount of data transferred and resulting latency.

[2021-04-09 17:30] jimharris commented on #1790
Patch from @Comphix was merged, so closing this issue.

[2021-04-09 17:30] #1790 closed

[2021-04-09 18:10] brianjmurrell opened #1886 "nvme_qpair.c: 307:spdk_nvme_qpair_print_completion: *NOTICE*: INVALID FIELD (00/02) sqid:0 cid:95 cdw0:0 sqhd:0005 p:1 m:0 dnr:1"
I have set up a test instance of DAOS on a KVM/qemu VM with a qemu NVMe drive on Fedora 33 which worked as expected.

I duplicated the configuration to a different machine also running Fedora 33 and spdk is reporting:

[code]

## Expected Behavior

Should not get the above error.

## Current Behavior

Got the above error.

## Possible Solution

Not really sure.

## Steps to Reproduce

Not really s

[2021-04-09 18:36] brianjmurrell commented on #1886
Working commandline:

[code]

Non-working:
[code]

[2021-04-09 18:53] jimharris commented on #1886
The failing command is a SET FEATURES - ASYNC EVENT CONFIGURATION.

What is the QEMU version on each of these systems?

Looks like QEMU only added support for this SET FEATURES value in v5.2 (commit 5d5a533).  So my guess is the 'working' system has a QEMU based on v5.2, while the other system has something older.

[2021-04-09 19:04] brianjmurrell commented on #1886
Looks like 5.1.0 on both systems.  Both systems in fact have identical versions and list of packages matching `*qemu*` with the exception of qemu-guest-agent-5.1.0-9.fc33.x86_64 vs. qemu-guest-agent-5.1.0-5.fc33.x86_64.  Seems a doubtful candidate for the issue though.

[2021-04-09 19:08] jimharris commented on #1886
OK.  Can you provide more of a log from the passing and failing system?

[2021-04-09 19:13] brianjmurrell commented on #1886
Sure thing.  To be clear though, you are looking for qemu logs on the host or logs of something on the guest?

[2021-04-09 19:14] jimharris commented on #1886
Both if possible.  But I'm mostly curious about the guest at the moment - the failing system should have printed out a message like "nvme_ctrlr_configure_aer failed!" and if it didn't that would be a clue where to look next

[2021-04-09 19:32] brianjmurrell commented on #1886
Working:

[code]

Not working:

[code]

But given now similar those look, I went back to "working" and it is indeed now exhibiting the not-working behaviours of the not-working instance.  :-(  Let me take another look at this on my side.

[2021-04-09 19:57] jimharris commented on #1886
Ok Brian.  Just to confirm, you didn't see any functional issues, it was just the annoying and unexpected error log messages?

Marking as Waiting on Submitter for now.

[2021-04-09 22:36] jimharris commented on #1823
Oh - dd can reproduce this?  That is great, much simpler than iozone.

I posted a couple of comments on your patch that might get it to reproduce there too.

[2021-04-09 22:40] jimharris commented on #1823
@dakshajauppalapati96 - let's hold off on reporting to linux-nvme for now.  I think the work from @yidong0635 will help us construct a much more simplified repro case for the Linux maintainers.

@yidong0635 - I'm not even sure you need to work any further on your POSIX writev test case, if dd can simply reproduce it.  Do you need count=256 to reproduce with dd?  I would be curious if count=1 is su

[2021-04-10 14:47] gaowayne opened #1887 "lspci_spdk cannot find any NVMe device but OS can see two NVMe device, VMD is disabled"
## Expected Behavior
need to know the root cause or work around.

## Current Behavior
===errors==
[root@intel-obmc bin]# ./spdk_lspci
[2021-04-10 20:27:01.998675] Starting SPDK v21.01.1 git sha1 fede410ca / DPDK 20.11.0 initialization...
[2021-04-10 20:27:01.998712] [ DPDK EAL parameters: [2021-04-10 20:27:01.998719] spdk_lspci [2021-04-10 20:27:01.998723] --no-shconf [2021-04-10 20:27:01.998727]

[2021-04-10 14:55] peluse commented on #1887
Did you run scripts/setup.sh first?

[2021-04-10 14:57] gaowayne commented on #1887
@peluse I run it well as below. you can see I have one machine good, another is bad. I paste the pcie info above. :(
[root@intel-obmc spdk]# HUGEMEM=16384 scripts/setup.sh
0000:80:01.3 (8086 0b00): ioatdma -> uio_pci_generic
0000:80:01.2 (8086 0b00): ioatdma -> uio_pci_generic
0000:80:01.1 (8086 0b00): ioatdma -> uio_pci_generic
0000:80:01.0 (8086 0b00): ioatdma -> uio_pci_generic
0000:80:01.7 (80

[2021-04-10 15:40] jimharris commented on #1887
lspci_spdk is only for finding PCI devices behind VMD when using user space VMD driver. So this behavior is expected.

[2021-04-11 00:11] gaowayne commented on #1887
@jimharris jim we disable the VMD from BIOS, from the NVMe pcie addr, there is no VMD looks like, why SPDK load VMD driver in user space. my another machine works well.
===bad machine with this error lspci===
+-[0000:64]-+-00.0 Intel Corporation Device 09a2
| +-00.1 Intel Corporation Device 09a4
| +-00.2 Intel Corporation Device 09a3
| +-00.4 Intel Corporation Device 0998
| -05.0-[65]----00.0 Inte

[2021-04-11 00:27] gaowayne commented on #1887
SPDK tool lsvmd also shows there is no VMD here.
[root@intel-obmc examples]# ./lsvmd
[2021-04-11 08:26:45.357522] Starting SPDK v21.04-pre git sha1 c84ecccca / DPDK 20.11.0 initialization...
[2021-04-11 08:26:45.357578] [ DPDK EAL parameters: [2021-04-11 08:26:45.357584] lsvmd [2021-04-11 08:26:45.357588] --no-shconf [2021-04-11 08:26:45.357591] -c 0x1 [2021-04-11 08:26:45.357594] --log-level=lib.

[2021-04-11 00:29] gaowayne commented on #1887
[code]

[2021-04-11 00:36] gaowayne commented on #1887
@jimharris on my another good machine, VMD is disabled too, it will show correct list.
[code]
actually my bdevperf app failed to find 0000:65:00.0 and 0000:e3:00.0 on bad machine, and run spdk_lspci on bad machine also show nothing.
here is my full error log for bdevperf, it failed to scan out these two device too.
[code]

[2021-04-11 01:30] optimistyzy commented on #1887
I think that the root cause is the kernel version is too old, I see the following kernel version.
Linux intel-obmc.sh.intel.com 4.18.0-240.15.1.el8_3.x86_64

And the kernel dmesg is:
[167559.371704] genirq: Threaded irq requested with handler=NULL and !ONESHOT for irq 16
[167559.385712] uio_pci_generic: probe of 0000:80:01.3 failed with error -22

I have confidence (> 90%) that the issue is simila

[2021-04-11 01:45] gaowayne commented on #1887
@optimistyzy thank you so much ziye,
this is my kernel version, it is CentOS8.3
[root@intel-obmc ~]# uname -a
Linux intel-obmc.sh.intel.com 4.18.0-240.15.1.el8_3.x86_64 #1 SMP Mon Mar 1 17:16:16 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
[root@intel-obmc ~]#

[2021-04-11 03:13] optimistyzy commented on #1887
After @gaowayne Wayne's upgrade kernel, the issue is solved. So the issue can be closed.

[2021-04-11 03:13] #1887 closed

[2021-04-11 03:24] spdkci commented on #1760
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_41468.html

[2021-04-12 06:04] wawryk commented on #1863
@karlatec using fedora 32 and fedora 33 vm's and running tests in loop few hundred times, there were no reproduction.

[2021-04-12 07:40] karlatec commented on #1882
Fixes problem for me! Thanks!

[2021-04-12 08:43] karlatec commented on #1863
@wawryk could you reproduce this again on GP1 then? Just to be sure this actually reproduces.

[2021-04-12 09:18] yidong0635 commented on #1823
@jimharris  changed count=1 is not sufficient, if that's not expected?
I try to minimize the count, and change ：
MALLOC_BDEV_SIZE=4096
MALLOC_BLOCK_SIZE=1024
dd if=/dev/urandom of=writev3.c bs=5120 count=2 oflag=direct (must using direct to reproduce)
count=2 can reproduce this issue using dd。
https://review.spdk.io/gerrit/c/spdk/spdk/+/7171.
and using  writev return -1 without error from spdk.

[2021-04-12 12:42] spdkci commented on #1819
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_41549.html

[2021-04-12 16:27] jlevon opened #1888 "bdev_iscsi_unmap() doesn't respect maximum unmap LBA count"
Using current master, we hit a problem with an iSCSI server, which was refusing unmap requests. This was because its maximum LBA count was 32768 (and its maximum descriptor count was 1).

bdev_iscsi_unmap() doesn't respect these values, and just presumes it can pass through the request.
I've made a prototype change to split up large requests as needed, and it works again (although it is potentiall

[2021-04-12 16:28] jlevon commented on #1888
cc @changpe1

[2021-04-12 17:48] jimharris commented on #1888
Thanks for the report @jlevon.

We could also consider doing these checks and splits in the bdev layer itself.  Allow modules to report a max unmap LBA count, and if spdk_bdev_unmap_blocks exceeds that, the bdev layer splits it up into multiple bdev_ios.

But I think we want some kind of upper bound on how many of those split I/O can be outstanding at once.  If the iSCSI target is exposing a 2TB L

[2021-04-12 17:51] jimharris commented on #1823
do you need MALLOC_BLOCK_SIZE=1024?  that is pretty non-standard, can you confirm you cannot just use MALLOC_BLOCK_SIZE=512?

how about bs=5120 count=1 seek=1 oflag=direct?

could you also provide some more details (including log) for the writev case?

[2021-04-12 19:34] jimharris commented on #1854
Patch 7073 has been merged.  @jlevon - can you confirm this fixes your issue?

[2021-04-12 20:56] MattDumm opened #1889 "nvmf: Error in spdk_rdma_qp_accept() leads to crash in spdk_nvmf_poll_group_remove()"
When spdk_rdma_qp_accept() encounters an rdma error during an initiator connection attempt, it leads to a crash in spdk_nvmf_poll_group_remove().
See log below:

2021-03-10 11:32:10.749 MST {61614} E {nvmf_tgt_app} rdma.c:1168:nvmf_rdma_event_accept Error 19 on spdk_rdma_qp_accept
2021-03-10 11:32:10.753 MST {61614} E {nvmf_tgt_app} nvmf.c:739:_nvmf_poll_group_add Unable to add the qpair to a poll

[2021-04-12 21:00] jimharris commented on #1882
Patch merged.

[2021-04-12 21:00] #1882 closed

[2021-04-13 00:57] yidong0635 commented on #1885
Patch was merged, close this one.

[2021-04-13 00:57] #1885 closed

[2021-04-13 01:29] yidong0635 commented on #1823
@jimharris
[code]
if MALLOC_BDEV_SIZE=256
count need to be

[code]
[code]

[2021-04-13 06:49] karlatec opened #1890 "Nightly tests fail due to missing dependencies directory"
## Expected Behavior

## Current Behavior

Some of the nightly builds fail because of `/home/sys_sgci/spdk_dependencies/spdk_test_image.qcow2 is missing` error.
See:
https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-v20.11_607.html

## Possible Solution

Provision test node filesystem according to: https://review.spdk.io/gerrit/c/spdk/spdk/+/6940/9

## Context (Environment including OS

[2021-04-13 07:09] wawryk commented on #1890
Nightly systems provisioned.

[2021-04-13 07:40] AlekseyMarchuk commented on #1889
Hi @MattDumm thank you for reporting this problem. I checked the code and it seems that in master branch we will see another call stack but the problem still exists. Let me reproduce it and see how it can be fixed

[2021-04-13 08:00] wawryk commented on #1863
On 300 test on GP1, there was no fails.

[2021-04-13 08:39] AlekseyMarchuk commented on #1889
I missed one moment when I was writing my previous comment. In `spdk_nvmf_poll_group_add` we add a qpair to a poll group when `nvmf_transport_poll_group_add` returns success. If your case it returns some error code, so we don't add the qpair to the poll group and at the same time we don't change qpair's state to active, it remains in uninitialized state
https://github.com/spdk/spdk/blob/v20.10.x/l

[2021-04-13 08:42] #1883 closed

[2021-04-13 09:13] karlatec commented on #1881
@AlekseyMarchuk Checked with your config, IOPS and latency look better now. So as I understand disabling zcopy on the initiator side has an impact, right `"enable_zerocopy_send": false,`? I think it's the only line which is different than default settings for `scripts/rpc.py sock_impl_get_options -i posix`

[2021-04-13 09:41] AlekseyMarchuk commented on #1881
Yes, my config disables zcopy in initiator.  I noticed some impact when I was implementing this feature, but it was rather small. In your case it is significant, I can't explain why. I would also expect similar effect on target side. Have your tried to compare performance with/without zero copy on target side?
I'm adding bug scrub label to discuss this issue, probably we should disable zero copy b

[2021-04-13 10:01] karlatec commented on #1881
4k randread QD=1 workload

Zerocopy disabled on both target and initiator side:
[code]

Zerocopy disabled on target side, enabled on initiator side:
[code]

Zerocopy enabled on target side, disabled on initiator side:
[code]

Zerocopy enabled on both target and initiator side:
[code]

Have you tested with QD=1? For higher queue depths, e.g. QD=128, I noticed visible but less drastic drop of about

[2021-04-13 10:16] karlatec commented on #1890
@wawryk please wait a couple of hours and verify if nightly builds are in passing state again. If these fail will not show up then please close the issue. Thanks!

[2021-04-13 10:17] AlekseyMarchuk commented on #1881
Thanks @karlatec I need to investigate this performance degradation. I'm assigning this issue to myself.
As I remember I checked performance with higher queue depths like 64, 128

[2021-04-13 10:25] karlatec opened #1891 "Compilation failed on Centos 7 system when building with mainline DPDK"
## Current Behavior

SPDK fails to build on a Centos 7 system when  building with custom DPDK (`--with-dpdk`) due to DPDK compilation issue.
Example failed build: https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-main_1501.html

First failed occurence:
https://ci.spdk.io/results/autotest-spdk-master-vs-dpdk-main/builds/1498/archive/centos7-nightly-vg-autotest/index.html
DPDK `340d22c ev

[2021-04-13 10:56] jlevon commented on #1854
I tried ASAN again but couldn't reproduce the issue directly. As it's timing related this isn't a big surprise.

[2021-04-13 10:56] AlekseyMarchuk commented on #1881
Hmm, I don't think that we need to investigate this degradation, zero copy on initiator side degrades performance due to the nature of NVMF protocol. IOPS statistics are reported by initiator when a request is completed. The request is completed when we receive 1. response from target 2. notification from error queue.
That means that enabling zero copy send on target doesn't affect latency in both

[2021-04-13 11:18] jlevon commented on #1888
Patch I have is here:

https://github.com/jlevon/spdk/commit/8a964852d895c77edc837572476b48c3837babcd

As mentioned it works, but clearly has some problems. It doesn't have the pending I/O issue you mentioned, at the cost of a giant stack instead :)

I see we already have some split support in bdev, though it doesn't immediately look suitable for the unmap split you're suggesting (I think we'd wan

[2021-04-13 11:34] rafalste commented on #1875
Hi @jimharris,
we've discussed this issue among the CAS team and came up with a different approach. Instead of creating a separate ring to handle all the messages, we've limited the number of metadata updater kicks by checking if the metadata updater is already running and processing messages from the queue. This also slightly improves performance as there is much less updater calls.
If you have t

[2021-04-13 13:25] karlatec commented on #1881
@AlekseyMarchuk one important information which I see I've forgot to include in the original issue description.

See that in the original description I wrote: `latency increased from ~35usec to ~57usec`, which doesn't match 250usec latency I mention later. I think I lost focus when creating this GH issue and must have switched test platforms to produce the results, so let me clear things up.

Orig

[2021-04-13 15:06] tomzawadzki commented on #1881
[Community meeting] To avoid the degradation the zero copy on initiator shall be disabled for 21.04 release. @AlekseyMarchuk will take a look at further steps to take in order to resolve this degradation.

[2021-04-13 20:05] gcoakes opened #1892 "Support NVME_IOCTL_IO_CMD in cuse block device."
Currently, only `NVME_IOCTL_ADMIN_CMD`, `NVME_IOCTL_SUBMIT_IO`, and `NVME_IOCTL_ID` are supported by the cuse interface. This prevents commands such as dsm trim from being issued against the block device.

## Expected Behavior

The following command should successfully run when under SPDK drivers. This is essentially just a hello world for IO commands. It's extracted directly from `man nvme-io-pas

[2021-04-13 23:14] gcoakes opened #1893 "NVMe FIO plugin always reports success regardless of status code."
The FIO plugin which uses SPDK's NVMe API directly ([`examples/nvme/fio_plugin`](https://github.com/spdk/spdk/tree/master/examples/nvme/fio_plugin)) appears to always pass regardless of errors. The function [`spdk_fio_completion_cb`](https://github.com/spdk/spdk/blob/558be98fd3b0a35cfefb4c758f9b62e6e10c3087/examples/nvme/fio_plugin/fio_plugin.c#L895) never dereferences the [`spdk_nvme_cpl`](https:

[2021-04-14 01:28] spdkci commented on #1870
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_41707.html

[2021-04-14 01:54] yidong0635 opened #1894 "[nvmf_tcp] nvmf_filesystem_no_incapsule failed at spdk_trace_init of could not shm_open spdk_trace"
# Issue
[code]

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/41674/archive/nvmf-tcp-phy-autotest/build.log

[2021-04-14 06:13] rch0wdhury opened #1895 "Unused variable"
Minor issue - looks like g_tsc_us_rate is unused .

https://github.com/spdk/spdk/blob/90db6167ce6331bcb9c93abd05c0999d3d834726/test/event/event_perf/event_perf.c#L100

[2021-04-14 07:12] spdkci commented on #1870
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_41763.html

[2021-04-14 07:13] spdkci commented on #1870
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_41718.html

[2021-04-14 08:46] spdkci commented on #1870
Another instance of this failure. Reported by @EugeneKochetov. log: https://ci.spdk.io/public_build/autotest-per-patch_41774.html

[2021-04-14 08:46] spdkci commented on #1870
Another instance of this failure. Reported by @EugeneKochetov. log: https://ci.spdk.io/public_build/autotest-per-patch_41765.html

[2021-04-14 09:14] wawryk commented on #1890
Nightly build passing.
Closing this issue.

[2021-04-14 09:14] #1890 closed

[2021-04-14 09:48] yangliang20065613 opened #1896 "rpc.py construct_lvol_bdev failed that report timeout. but the size of lvs is reduced, and lvol bdev wasn't created."
rpc.py construct_lvol_bdev failed that report timeout. but the size of lvs is reduced, and lvol bdev wasn't created.

## Expected Behavior
1. construct one 1G logical volume from lvs0
rpc.py construct_lvol_bdev -l lvs0 disk0 10240

2. we can get logical volume of disk0 by rpc get_bdevs command.

## Current Behavior
1. construct one 1G logical volume from lvs0
rpc.py construct_lvol_bdev -l lvs0 dis

[2021-04-14 09:55] Comphix commented on #1896
Looks like SPDK is old of v18.01. Have you tried SPDK v21.01? Also what logs are reported at the SPDK side when failed to create the device?

[2021-04-14 10:20] yidong0635 commented on #1895
not only here , but also in Accel_perf. here should be ?
g_tsc_us_rate = spdk_get_ticks_hz();
g_tsc_rate = g_tsc_us_rate / (1000 * 1000);
g_tsc_end = spdk_get_ticks() + g_time_in_sec * g_tsc_rate;

[2021-04-14 10:42] yidong0635 commented on #1895
oh , no it's not right just unused, I just guest the meaning.

[2021-04-14 11:06] yangliang20065613 commented on #1896
I haven't try v21.01 becasuse this issue can't be reproduced easily, and we've only had two. There is no log in spdk.log, and we only get timeout from rpc.py construct_lvol_bdev.

Is this issue one known issue? Could I get any patch link about this issue?

Thank you very much.

[2021-04-14 11:21] spdkci commented on #1801
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_41750.html

[2021-04-14 11:42] mikeBashStuff opened #1897 "iscsi_tgt_trace_record test fails while waiting for attached devices"
https://ci.spdk.io/results/autotest-per-patch/builds/41864/archive/iscsi-vg-autotest/build.log

Point of failure:
[code]

[2021-04-14 11:43] karlatec opened #1898 "[vhost autofuzz] Assertion `lun->reservation.flags & SCSI_SPC2_RESERVE' failed"
## Current Behavior

Vhost fuzzer fails with `Assertion `lun->reservation.flags & SCSI_SPC2_RESERVE' failed` .

## Steps to Reproduce

1. Build SPDK with
[code]
2. Run vhost fuzzer test:
[code]
3. Test fails at:
[code]

Fuzzer output (full log in attachments):
[code]

Core dump:
[code]

## Context (Environment including OS version, SPDK version, etc.)

SPDK 530646f60
fedora33-cloud-210413300 5.11.

[2021-04-14 11:44] spdkci commented on #1897
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_41864.html

[2021-04-14 14:30] jimharris commented on #1898
I think it's likely that the fuzzer submitted a RELEASE without a prior RESERVE.  Probably we shouldn't be asserting but rather just failing the command with error status.

@changpe1 - can you take a look?

[2021-04-14 14:54] jimharris commented on #1875
I think this patch will work, and would fix this bug.  But I'm concerned with adding this atomic operation.  You said this slightly improves performance - how many cores did you run in that performance test?  I think with more cores you're going to start seeing a lot of contention with this atomic operation.

I think you really need to use per-thread contexts to do this correctly.  These "ocf_meta

[2021-04-14 15:10] jimharris commented on #1888
I was thinking it would look more like the spdk_bdev_write_zeroes_blocks(), where it does an explicit write of a zeroed buffer when the bdev doesn't natively support write zeroes.  In that case, we have a single 1MB buffer that is written 1MB at a time to the specified LBA range.  In this unmap case, we would instead check the maximum LBA count and go down the split path if the specified LBA count

[2021-04-14 15:30] jimharris commented on #1891
DPDK says they only support gcc >= 4.9:

http://doc.dpdk.org/guides/linux_gsg/sys_reqs.html

[2021-04-14 15:32] AlekseyMarchuk commented on #1880
@mikeBashStuff could you verify that this patch https://review.spdk.io/gerrit/c/spdk/spdk/+/7376 fixes the last memory leak? It is based on the previous fix, so please use both of them

[2021-04-14 16:02] MattDumm commented on #1889
Root cause found: My code was missing a fix from the 20.10 SPDK.
I was hitting a use-after-free in _nvmf_poll_group_add(), trying to use the qpair in cleanup/disconnect. This is already fixed in SPDK 20.10 in this commit:
[code]
Since this one is already fixed in 20.10, this bug can be closed.
Thank you @AlekseyMarchuk for your help.

[2021-04-14 16:08] AlekseyMarchuk commented on #1889
Thank you @MattDumm

[2021-04-14 16:08] #1889 closed

[2021-04-14 16:27] jlevon commented on #1888
You'll have to excuse my lack of familiarity with the bdev code, but doesn't this have an arbitrarily-long

bdev_write_zero_buffer_next()->bdev_write_blocks_with_md()->bdev_write_zero_buffer_done()->bdev_write_zero_buffer_next()->...

call chain until u.bdev.split_remaining_num_blocks reaches zero?

Basically the same issue with my prototype fix?

[2021-04-14 17:03] jimharris commented on #1888
bdev completions are always executed asynchronously - never in the context of the submission.

[2021-04-14 22:49] spdkci commented on #1863
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_41965.html

[2021-04-15 01:00] yidong0635 commented on #1850
Patch has been merged. Close this issue. Thanks everyone.

[2021-04-15 01:00] #1850 closed

[2021-04-15 01:48] changpe1 commented on #1898
Yeah, we should return SCSI error status for this case, I fixed this issue via https://review.spdk.io/gerrit/c/spdk/spdk/+/7379.

[2021-04-15 01:51] ChengqiangMeng opened #1899 "[scheduler] spdk_top aborted and report "ERROR: AddressSanitizer: SEGV on unknown address""
Run ./build/bin/spdk_top while run spdk/test/scheduler/scheduler.sh. spdk_top aborted and report "ERROR: AddressSanitizer: SEGV on unknown address".

## Current Behavior

[code]

## Steps to Reproduce

1. Build SPDK with
    `./configure --enable-asan --enable-ubsan --enable-debug`
2. `./test/scheduler/scheduler.sh`
3. When it runs to the following part ("when load_balancing.sh is running")，run `.

[2021-04-15 02:02] changpe1 commented on #1899
@ChengqiangMeng can you take a look for this issue?

[2021-04-15 02:22] changpe1 commented on #1897
I saw there were some network error logs in dmesg.log, so I think this issue is related with network.

[  440.021704]  connection13:0: ping timeout of 5 secs expired, recv timeout 5, last rx 4295096905, last ping 4295101952, now 4295107072
[  440.021769]  connection13:0: detected conn error (1022)
[  440.021776]  connection15:0: ping timeout of 5 secs expired, recv timeout 5, last rx 4295096915, l

[2021-04-15 02:30] changpe1 commented on #1896
In the old SPDK version, the RPC is running in synchronous mode, this RPC is marked with "depreciated" and renamed to "bdev_lvol_create", I guess this is the reason why you met the timeout.

[2021-04-15 02:43] wanghailiangx opened #1900 "[nvmf_filesystem_no_incapsule] keep alive timeout when disconnecting host"
************************************
START TEST nvmf_filesystem_no_incapsule
************************************

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/41867/archive/nvmf-tcp-phy-autotest/build.log

## Execution failed at

 13:46:01	# nvme connect -t tcp -n nqn.2016-06.io.spdk:cnode1 -a 10.0.0.2 -s 4420
 13:46:02	# waitforserial SPDK00000000000001
 1