[2021-11-19 11:27] spdkci commented on #2128
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_62085.html

[2021-11-19 12:19] spdkci commented on #1950
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_62146.html

[2021-11-20 00:18] shuhei-matsumoto opened #2245 "[nvme_rpc] Segmentation fault at nvme_completion_create_sq_cb() by the bdev_nvme_detach_controller RPC"
# CI Intermittent Failure

00:05:28.434  #0  0x00007fc89c1b450f in nvme_completion_create_sq_cb (arg=0x200014a300e0, cpl=0x200022e130e0) at nvme_pcie_common.c:492
00:05:28.434          qpair = 0x200014a300e0
00:05:28.434          pqpair = 0x200014a30080
00:05:28.434          ctrlr = 0x0
00:05:28.434          pctrlr = 0x0
00:05:28.434          rc = 32766
00:05:28.434          __func__ = "nvme_compl

[2021-11-20 00:20] spdkci commented on #2245
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_62148.html

[2021-11-20 00:22] spdkci commented on #2128
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_62128.html

[2021-11-20 00:24] spdkci commented on #1950
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_62122.html

[2021-11-20 00:26] spdkci commented on #1950
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_62130.html

[2021-11-21 11:32] #2242 closed

[2021-11-21 11:32] adamagniv commented on #2242
``[root@host-2 ~]# grep -c ^processor /proc/cpuinfo
64
``
Good observation! I totally forgot about that part!

I also ran `nvme connect -t rdma -a 169.254.100.11 -s 4420 -i 128 -n <SUBNQN>.01` from 3 different hosts to see the sum of IOQP that will be created:
**server1 dmesg**
[code]
**server2 dmesg**
[code]
**server3 dmesg**
[code]

total of 128 IOQP were created. @jimharris , you are totally ri

[2021-11-21 11:37] adamagniv commented on #2243
@jimharris, I edited the the Context, removing my wrong assumption after understanding my mistake in #2242.
I think we can try now to start digging in and see why this is happening here. :)

[2021-11-21 13:46] adamagniv commented on #2243
## 2 Server Setup
running from 2 servers perf on a single drive.
host-1 runs with **-P 2**:
[code]
trying to run from host-2 with **-P 2** will fail:
[code]

## 3 Server Setup
running from 2 servers perf on a single drive.
host-1 runs with **-P 2**:
[code]
host-2 runs with **-P 1**:
[code]
(As you can see opts.num_io_queues reports only 1 queue available)
host-3 runs with **-P 1**:
[code]

for som

[2021-11-22 05:03] Comphix commented on #2243
For above "Mixing with NVMe-CLI" case, host-2 and host-3 both created 1 I/O queue and this is same for SPDK perf on 2nd and 3rd host where only 1 queue created. This behavior looks like same.

Have you tried FIO on kernel nvme driver on host-1 and run the "nvme connect" on host-2 and host-3?

Do you have any chance to know the details from Target side, any logs reported on Target side?

[2021-11-22 06:19] spdkci commented on #2128
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_62154.html

[2021-11-22 08:35] #2238 closed

[2021-11-22 08:35] #2233 closed

[2021-11-22 08:57] changpe1 commented on #2204
@EugeneKochetov Does your application only use one core? e.g: if we use RBD images as SPDK vhost target backend devices, then the RBD image should span to different threads based on the configuration of vhost controller core mask.  From the code, it's up to caller to decide using which core.

[2021-11-22 08:58] changpe1 commented on #2204
I'm a little confused about the description "SPDK becomes a limiting factor because only one SPDK core is handling all RBD IOs", do you mean SPDK is processing all IOs from different RBD images in one core?

[2021-11-22 09:28] ksztyber commented on #1950
@mikeBashStuff, that sounds good to me. How much code would it take to set something like that up?

[2021-11-22 09:29] EugeneKochetov commented on #2204
Hi @changpe1,

We test with spdk_tgt application that comes with SPDK. spdk_tgt is run on multiple cores (8). We create 8 or 16 rbd bdevs. All rbd bdevs are assigned by SPDK to the same main thread (rbd->main_td). This means that all IOs submitted to any rbd bdev submitted from any core will be forwarded to the same SPDK thread (core) to do the actual submission to librbd. This is not a problem wi

[2021-11-22 09:30] mikeBashStuff commented on #1950
@ksztyber The patches I linked here https://github.com/spdk/spdk/issues/2240#issuecomment-972941598 should do most of that work. I would just need to rebase them and see if there are some adjustments needed (probably they will be).

[2021-11-22 09:53] tomzawadzki commented on #2239
@xjjx Patch linked by @mikeBashStuff has been merged. Can you confirm the new dependency has been deployed and issue is now fixed ?

[2021-11-22 09:55] tomzawadzki commented on #2190
Patches for latest SPDK and backports for LTS have been merged. This issue can now be closed.

[2021-11-22 09:55] #2190 closed

[2021-11-22 09:56] EugeneKochetov commented on #2204
Hi @jimharris

We tested with bdev_rbd_register_cluster RPC and it didn't help. In fact, it made things worse. Without cluster registration we see that librbd uses many cores (40) and all are pretty busy (around 70%). With cluster registration we see only 4 librbd threads. They also very busy but overall performance drops. And looks like drop is proportional to decrease in number of cores. Do you

[2021-11-22 10:11] EugeneKochetov commented on #2204
In fact, we're discussing several issue and improvements here. So, I'd like to bring some order.

This is the current list of issues and improvements mentioned in the thread:

1. Original issue from description - performance scalability problem because all rbd bdev IOs are handled by single core (same main_td). I believe this must be addressed somehow.
2. Performance degradation in the 21.10 relea

[2021-11-22 12:43] spdkci commented on #2128
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_62213.html

[2021-11-22 13:47] spdkci commented on #1950
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_62214.html

[2021-11-22 16:54] jimharris commented on #2237
@trofi submitted this patch, independently it seems from this issue:
https://review.spdk.io/gerrit/c/spdk/spdk/+/10300

This is similar to the suggestion provided above - @ChrisMacNaughton can you confirm this fixes your build failures?

[2021-11-22 16:56] jimharris commented on #2237
This 10300 patch fixes a lot more instances of this same pattern - assuming @ChrisMacNaughton doesn't see any issues with this patch, I'd rather merge this one than 10227 since it covers all of the cases in this file.

[2021-11-22 17:09] jimharris commented on #2204
I think we can only indirectly controller the number of threads created by librbd, by changing the number of cluster objects we create in SPDK.

Creating one cluster object for each RBD bdev is terrible if you have 10s or 100s of bdev, since you end up with 4 threads per bdev.  But having just one cluster object doesn't necessarily work either as you've shown here.

Was this test still with 8 disk

[2021-11-22 18:44] jimharris commented on #2204
This is a good summary.  I made some comments on the 10198 patch - I think it's a bug that the spdk unaffinitized routines only remove affinity of the calling CPU core instead of all of the core's in the application's core mask.

[2021-11-22 19:31] jimharris commented on #2243
It sounds like this target internally allocates some limited number of queues based on the SET_FEATURE(NUMBER_OF_QUEUES) value passed by the host.

SPDK by default tries to allocate 1024 queues, unless the controller option num_io_queues is overridden with a smaller value.  Currently that controller option is not exposed as a parameter to perf.   https://review.spdk.io/gerrit/c/spdk/spdk/+/10357 i

[2021-11-22 20:38] benlwalker commented on #2243
I'm very confident that all you're seeing here is an enclosure that has a finite number of queues *globally* and the first controller is just eating up the pool so that subsequent ones are left with only 1.

Note that it doesn't matter how many I/O queues you actually create (i.e. the -P or -i options), it only matters how many have been allocated to the controller on the enclosure side (i.e. the

[2021-11-23 02:55] wanqunintel opened #2246 "[vfio-user]nvmf_tgt core dumped when removing the listener with VM booted up"
# Bug report
[vfio-user]nvmf_tgt core dumped when removing the listener with VM booted up
![image](https://user-images.githubusercontent.com/18566118/142964321-c63a5b68-d80a-4fa7-bc2b-69f9480ae538.png)

## Expected Behavior
no core dump

## Current Behavior
nvmf_tgt core dumped
## Possible Solution

## Steps to Reproduce
1. Build SPDK with vfiouser
git submodule update --init
./configure --with-fi

[2021-11-23 08:45] adamagniv commented on #2243
@jimharris Thank you! I have applied this to see if this is the problem and ran "`/root/spdk/build/examples/perf -w randread -t 120 -q 32 -o $((68*1024)) -r "trtype:RDMA adrfam:IPv4 traddr:169.254.100.11 trsvcid:4420 subnqn:<SUBNQN>.01" -P 2 --nvme-number-of-queues 14`" on host-1 and host-2 and it didn't fail.

Can this be applied to `spdk_bdev` and the connect rpc command in some way so SPDK won'

[2021-11-23 08:49] KKaras169169 opened #2247 "[scheduler_create_thread] Assertion `spdk_interrupt_mode_is_enabled()' failed"
# CI Intermittent Failure

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_62229.html

## Execution failed at

00:03:43.994  ************************************
00:03:43.994  START TEST scheduler_create_thread
00:03:43.994  ************************************
00:03:43.994   16:54:33	-- common/autotest_common.sh@964 -- # xtrace_enable
00:03:43.994   16:54:33	--

[2021-11-23 08:50] spdkci commented on #2247
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_62229.html

[2021-11-23 11:22] spdkci commented on #2201
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_62345.html

[2021-11-23 11:22] spdkci commented on #1969
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_62343.html

[2021-11-23 12:25] spdkci commented on #1969
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_62347.html

[2021-11-23 12:28] spdkci commented on #1969
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_62355.html

[2021-11-23 12:29] spdkci commented on #1969
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_62353.html

[2021-11-23 12:36] tanabarr opened #2248 "lsvmd example app shows incorrect socket ID for backing devices"
# Bug report

When running the lsvmd example application to list backing devices present behind VMDs, socket ID is always returned as 0 even if the PCI bus ID is mapped to a different socket.

Illustrated by updating lsvmd.c to show socket as well as address and running the recompiled application:
[code]

## Expected Behavior

VMD backing device addresses listed through lsvmd beginning with 85 and

[2021-11-23 13:11] spdkci commented on #1969
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_62363.html

[2021-11-23 13:54] spdkci commented on #1969
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_62366.html

[2021-11-23 13:55] spdkci commented on #1969
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_62368.html

[2021-11-23 14:03] sydidelot commented on #2233
@changpe1 Thanks for the patch!
I'll be verifying it soon.

[2021-11-23 14:17] spdkci commented on #1969
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_62372.html

[2021-11-23 14:24] wawryk commented on #2232
Disk replaced and installed newest firmware on it.
Taken back online in CI.
Will close if no new occurrence in this week.

[2021-11-23 14:48] adamagniv commented on #2243
@jimharris @benlwalker added this change:
[code]

now when adding "num_io_queues" with the wanted number I chose it worked.
How can we push this as a patch for SPDK officially? (I'm a newbie here :P)

[2021-11-23 15:06] tomzawadzki commented on #2227
The patch is now merged, the issue can be closed. @sydidelot thank you !

[2021-11-23 15:06] #2227 closed

[2021-11-23 15:36] jimharris commented on #2243
It's fine if someone wants to specify more than DEFAULT_MAX_IO_QUEUES here.  I think what you really need to check though is that num_io_queues <= UINT16_MAX + 1.  The NUMBER_OF_QUEUES feature is 0-based and uses 16-bits each for the number of SQs and CQs.  So theoretically it's possible to request 65,536 IO queues - the driver subtracts 1 from that value (since it's 0-based according to NVMe spec

[2021-11-23 16:50] jimharris commented on #2248
Hi @tanabarr, can you try https://review.spdk.io/gerrit/c/spdk/spdk/+/10373?

[2021-11-23 21:01] mikeBashStuff commented on #2232
@wawryk Now there are two nvme drives, but one of them (nvme0) doesn't have any active namespaces:

[code]

I can format an ns on that nvme0 manually but for some reason it cannot fit the whole drive. I think we had similar issue before and upgrading firmware did help back then - would you kindly look into bumping the firmware on the `/dev/nvme0` as well?

The problem with this is that autotest fa

[2021-11-23 21:02] spdkci commented on #2232
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_62387.html

[2021-11-24 00:34] tanabarr commented on #2248
works great thanks Jim:
[code]

[2021-11-24 01:51] wanqunintel opened #2249 "[vfio-user]Hot remove namespace with multiple namespaces can only show first one removed in guest"
# Bug report
Hot remove namespace with multiple namespaces can only show first time removed in guest

## Expected Behavior
Hot remove the namespace second/third time in the host, the Guest will not show the removed Namespace

## Current Behavior
Hot remove the second/third Namespace in the host, the Guest still can see the removed Namespace

## Possible Solution

## Steps to Reproduce
[Host machin

[2021-11-24 01:59] junwenx opened #2250 "[run_nvmf.py]: Can't make dir and scp to host machine when run the python file"
## Expected Behavior

When run scripts/perf/nvmf/run_nvmf.py -c scripts/perf/nvmf/config30.json, it will run normally and run fio on host successfully
## Current Behavior

## Possible Solution
In  line 893 in scripts/perf/nvmf/run_nvmf.py -c scripts/perf/nvmf/config30.json

Seems below command execute fail on host

self.exec_cmd(["mkdir", "-p", "%s/nvmf_perf" % self.spdk_dir])
self.exec_cmd(["echo

[2021-11-24 05:25] junwenx opened #2251 "[run_nvmf.py]: The fio_config_file may absent [jobs] module that generated by scripts/perf/nvmf/run_nvmf.py, line 886"
# Bug report
[jobs] module absent in fio_config_file  generated by scripts/perf/nvmf/run_nvmf.py in line 886

## Expected Behavior
Want the fio config file format

[global]
ioengine=/tmp/spdk/build/fio/spdk_bdev
spdk_json_conf=/tmp/spdk/bdev.conf
thread=1
group_reporting=1
direct=1
percentile_list=50:90:99:99.5:99.9:99.99:99.999

norandommap=1
rw=randread
rwmixread=100
bs=4k
time_based=1
ramp_time

[2021-11-24 06:57] changpe1 commented on #2246
For other transport other than vfio-user, we should allow to remove the listener, but for vfio-user transport, maybe it's more reasonable that don't allow user to remove the listener while there is active connection on it.  Here is the patch to fix this issue via  https://review.spdk.io/gerrit/c/spdk/spdk/+/10379, maybe we can add the limitation in another patch.

[2021-11-24 08:09] dashan8020 opened #2252 "rdma qpair in connecting state is added to connected list"
# Bug report
in function nvme_rdma_qpair_init(), if poll group is used, the qpair is added to connected list iwhen "nvme_rdma_poll_group_connect_qpair" is called, which is no correct.

## Expected Behavior
the qpair shiuld be added to connected list of poll group after it is real connected.

## Current Behavior
the qpair is added to connected list from disconnected list of poll group when it is in

[2021-11-24 08:33] AlekseyMarchuk commented on #2252
Hi @dashan8020
Thank you for reporting this issue. Do you want to submit a patch to address it?

[2021-11-24 09:41] wawryk commented on #2232
`nvme list` show me only one disk, and I upgrade them.
Created namespace on second one, upgraded FW.

[2021-11-24 09:45] spdkci commented on #1969
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_62364.html

[2021-11-24 11:31] bharatpotnuri opened #2253 "spdk nvmf rdma discover fails with iwarp transport"
# Bug report

Hi All,
With TOT spdk, NVMF discover fails with iWARP. on debugging further, the following commit has introduced a regression for iwarp devices.

commit 64fa301f6728ac752de30e3c3c427618ab87aa7e
Author: Alexey Marchuk <alexeymar@mellanox.com>
Date:   Thu Nov 18 22:12:53 2021 +0300

    rdma: Update for memory map

    Add a parameter which determines the owner of the
    map - target

[2021-11-24 12:07] AlekseyMarchuk commented on #2253
Hi @bharatpotnuri
Thanks for reporting this issue. Please try this patch https://review.spdk.io/gerrit/c/spdk/spdk/+/10392 It sets REMOTE_WRITE access flag for iWARP transport

[2021-11-24 13:12] bharatpotnuri commented on #2253
@AlekseyMarchuk patch looks fine and works as expected. Thanks for the quick patch!

[2021-11-24 13:38] dashan8020 commented on #2252
if necessary, I'd like to prepare the patch.
to master branch?

[2021-11-24 13:47] AlekseyMarchuk commented on #2252
Well, it is not necessary, only if you want to contribute to the project :)
Yes, please push a patch to master branch. Please refer to https://spdk.io/development/ if you haven't checked this doc yet

[2021-11-24 13:59] spdkci commented on #2128
Another instance of this failure. Reported by @tomzawadzki. log: Not Found

[2021-11-24 18:32] FrancesoM opened #2254 "Initialization timed out in state 21 (wait for identify controller) - Samsung NVMe Disk"
# Bug report

After a clean installation of SPDK I try to run the /build/examples/hello_world example for the NVMe disk and I get the following errors:

[code]

## Expected Behavior

By looking at this [tutorial ](https://www.xilinx.com/developer/articles/storage-performance-development-kit.html), which is doing what I am doing but on a slightly different hardware and with an older version of SPDK

[2021-11-25 01:08] jsoref opened #2255 "scripts/check_format.sh breaks on darwin"
# Bug report

`scripts/check_format.sh` breaks when run on macOS Big Sur 11.6.1 (which like all versions of macOS from Apple doesn't have a bash newer than 3.2 because of a GPL license change for the subsequent bash versions)

## Expected Behavior

Script should not fail

## Current Behavior

[code]

## Possible Solution

Solutions are discussed here:
https://stackoverflow.com/questions/1055671/ho

[2021-11-25 01:16] jsoref opened #2256 "Spelling errors"
# Bug report

Any project larger / older than `hello world` will have typos. This issue is to hang a series of changesets to fix some of them.

## Expected Behavior

Ideally there wouldn't be typos (and CI would block them from being introduced), or at least the check-spelling action could report a ✅ when run against a corrected baseline.

## Current Behavior

https://github.com/jsoref/spdk/commit

[2021-11-25 01:23] tanlong0121 commented on #2204
@EugeneKochetov @jimharris

We re-run the tests several times with 4 versions, and summarize the results below:

Version A: commit id 59305582120723733348d8d91847a4d6b8d02dbd + https://review.spdk.io/gerrit/c/spdk/spdk/+/9895
Version B: commid id 3b1f13ef29058782e0a7d1ac1799648a69c14ec8 + https://review.spdk.io/gerrit/c/spdk/spdk/+/9895
Version C: commid id 4e4f11ff7840f02cb6d9497acd42897844a43f87

[2021-11-25 01:32] changpe1 commented on #2254
@FrancesoM I think you are on the right way to add the quirks support for your drive, you may try other vendor's drive on the same system so that to narrow down the issue.

[2021-11-25 01:50] changpe1 commented on #2252
@dashan8020 Yeah, you can refer to the development guide and submit your fix patch.

[2021-11-25 02:06] changpe1 commented on #2251
@junwenx do you want to a try to add this feature? it's OK to me to add them manually.

[2021-11-25 02:09] changpe1 commented on #2251
@junwenx I don't think this is an issue, closing it now.

[2021-11-25 02:09] #2251 closed

[2021-11-25 02:13] junwenx commented on #2251
@changpe1 OK, manually is OK. thanks

[2021-11-25 02:51] changpe1 commented on #2245
I think it's same with https://github.com/spdk/spdk/issues/2210

[2021-11-25 02:54] changpe1 commented on #2245
After calling `bdev_nvme_attach_controller`, the bdev module examine routine will allocate one IO queue pair in the background, meanwhile we may call `bdev_nvme_detach_controller` RPC, so the error happen then, this is a bug, but we can add a delay in the test script as a workaround.

[2021-11-25 02:55] wanqunintel commented on #2246
verified with the patch(commit abaa01abe8f2b9583ca4a9fe13dc89b5c4b9902c), there is still core dump, the trace in nvmf_tgt is as follows
Reading symbols from ./build/bin/nvmf_tgt...

warning: Can't open file /dev/hugepages/qemu_back_mem.mem.oK3rfA (deleted) during file-backed mapping note processing
[New LWP 133897]
[New LWP 133898]
[New LWP 133899]
[New LWP 133900]
[Thread debugging using libthrea

[2021-11-25 04:47] changpe1 commented on #2246
Updated a new version, you may have another try.

[2021-11-25 05:48] Comphix commented on #2256
Thanks @jsoref , let me first assign to you as you will submit the changes. Thanks.

[2021-11-25 05:57] wanqunintel commented on #2246
Fixed the issue. verified with the new patch(commit 9226805762d2ba12a95d94bddf59c246f25ccb51), there is no core dump from nvme_tgt now.

[2021-11-25 08:50] EugeneKochetov commented on #2204
@tanlong0121, thanks for your update.

@jimharris, we pushed for review another solution for loadsharing issue: https://review.spdk.io/gerrit/c/spdk/spdk/+/10295
The solution is very simple. We don't pass IO to main_td and just submit from original thread. This means that multiple SPDK threads may submit IO to the same librbd image context. We rely here on thread safety of librbd `rbd_aio_read/wri

[2021-11-25 10:05] spdkci commented on #2128
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_62531.html

[2021-11-25 10:28] spdkci commented on #1969
Another instance of this failure. Reported by @Maciej-Szulik. log: https://ci.spdk.io/public_build/autotest-per-patch_62336.html

[2021-11-25 11:39] tanlong0121 commented on #2204
@jimharris

I have submitted a patch with my idea mentioned above: https://review.spdk.io/gerrit/c/spdk/spdk/+/10416/, and I describe the difference with https://review.spdk.io/gerrit/c/spdk/spdk/+/9895 and https://review.spdk.io/gerrit/c/spdk/spdk/+/10295 in the patch, the results show in our scenario it is working well and the CPU utilization decresed compare with 9895, and keep the policy that

[2021-11-25 14:37] ksztyber commented on #2183
This has only happened once and it was almost two months ago. Seems like a one-time issue, closing.

[2021-11-25 14:37] #2183 closed

[2021-11-26 06:30] dashan8020 commented on #2252
ok, I will prepare one, thx

[2021-11-26 08:38] ksztyber commented on #2248
Patch was merged, closing.

[2021-11-26 08:38] #2248 closed

[2021-11-26 08:48] shuhei-matsumoto opened #2257 "SPDK_ZEROCOPY did not work for IPV6"
# Bug report

When we use SPDK_ZEROCOPY for IPV6, _sock_check_zcopy() outputs WARNLOG Unexpected cmsg level or type! and did not work.

## Expected Behavior

SPDK_ZEROCOPY should work for IPV6.

## Current Behavior

The above

## Possible Solution

https://review.spdk.io/gerrit/c/spdk/spdk/+/10428

## Steps to Reproduce

Enable SPDK_ZEROCOPY in IPV6 environment.

## Context (Environment including

[2021-11-26 10:57] mikeBashStuff opened #2258 "autobuild.sh can't patch DPDK main's qat_asym driver anymore"
Due to recent changes in DPDK, mainly:

https://github.com/dpdk/dpdk/commit/f0f369a6850f9ac8c14cb4d74d0ecd1a7133eac7
https://github.com/dpdk/dpdk/commit/b6c82d2d0b1076e83f05908f8a7ea4109f7f3993
https://github.com/dpdk/dpdk/commit/0c4546de453f733ea319982067ab019526a78955

There's no easy way to disable qat_asym anymore - this is what currently `autobuild.sh` attempts prior building DPDK against its

[2021-11-26 13:29] mikeBashStuff commented on #2256
I actually opened a trello card some time ago to use misspel-fixer as part of `check_format.sh`.  Closed it (quite recently) as it wasn't getting much of a prio and time resources to actually implement it. Wonder if we should reopen it.

[2021-11-26 14:45] jkalwas commented on #1876
Hi @jimharris
I covered that change as it was recently mentioned on the Slack as possibly required.
The main open is what to do with `acceptor_poll_rate` which is tgt's opt... This opt doesn't make much sense now as each transport can have its own policy, also it is not possible to use that opt during transport create as transport at this stage is not yet associated with tgt.

...also fixed (?) tw

[2021-11-26 18:05] jkalwas commented on #2254
@FrancesoM
is it working with Linux NVMe kernel driver?

based on

i'd try to add some sleep after ctrlr confirmed it is ready (state changed from CSTS.RDY = 0 to 1)
if that helps then i'd try to find proper quirk

[2021-11-27 16:36] dashan8020 commented on #2252
https://review.spdk.io/gerrit/c/spdk/spdk/+/10438

[2021-11-29 08:29] changpe1 commented on #2245
I submitted a fix patch https://review.spdk.io/gerrit/c/spdk/spdk/+/10445 here.

[2021-11-29 10:25] tmakatos commented on #2067
@changpe1 Microsoft have added support for namespace hotplug in this build: https://techcommunity.microsoft.com/t5/windows-server-insiders/announcing-windows-server-preview-build-22509/m-p/3002661. You'll have to register for Windows Server Insider if not already done so.

I trying testing the ISO and run into this:
[code]
Which I think is related to commit 94adbefa4fa9c5353ce0a0f8025926af3a4a9986

[2021-11-29 13:27] spdkci commented on #2128
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_62630.html

[2021-11-29 13:28] spdkci commented on #1950
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_62625.html

[2021-11-29 13:57] spdkci commented on #1950
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_62633.html

[2021-11-29 14:01] spdkci commented on #1950
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_62635.html

[2021-11-29 15:20] FrancesoM commented on #2254
Hi, I am leaving this comment for other people who might come here looking for answers: unfortunately I am a bit time tight at the moment, so I will try other solutions without SPDK. I will keep trying the suggestions later, but I will, so at some point I'll update this thread.

[2021-11-29 15:59] spdkci commented on #2128
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_62651.html

[2021-11-29 15:59] spdkci commented on #2128
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_62649.html

[2021-11-29 16:41] sydidelot commented on #2233
@changpe1 I could successfully verify your patch today! No assertion failure anymore. Thanks a lot!

[2021-11-29 16:41] mikeBashStuff commented on #2255
I wonder if MacOS still ships with an ancient Bash on board (last time I checked it was at 3.2 or something similar). If that's the case, users would still need to upgrade it to be able to run most of the scripts from the repo (including `check_format.sh`).

[2021-11-29 16:53] jsoref commented on #2255
macOS defaults to zsh instead.
Apple isn't a fan of gpl, so the licence change pushed them to abandon it.

https://discussions.apple.com/thread/252176464

[2021-11-29 22:52] jimharris commented on #2258
I think we should look for approaches so that we don't disable qat_asym anymore.

I'm not really concerned about the extra memory footprint for the asym instances - so we could just modify rte_config.h and increase the MAX_DEVS parameters.

Are the QAT VFs automatically created when the driver for the QAT PF is loaded?  If not, then we don't even need to touch the MAX_DEVS parameters.  Those param

[2021-11-30 02:41] changpe1 commented on #2067
https://docs.microsoft.com/en-us/windows-hardware/drivers/storage/stornvme-feature-support the new NVMe driver in Windows added a lot of new features.

But I still can't understand why Windows need this, can you post your whole SPDK log here? Maybe we reported something that make the driver to choose shared CQ.

[2021-11-30 03:02] changpe1 commented on #2067
It's OK for me to add the shared CQ support, I will start the work.

[2021-11-30 04:01] spdkci commented on #2046
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_62728.html

[2021-11-30 04:10] spdkci commented on #2140
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_62506.html

[2021-11-30 04:12] spdkci commented on #2140
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_62539.html

[2021-11-30 04:18] shuhei-matsumoto opened #2259 "[nvmf_filesystem_no_incapsule] nvme connect failed to the SPDK NVMe-oF target"
# CI Intermittent Failure

00:03:00.800  [2021-11-25 06:52:26.567517] [ DPDK EAL parameters: [2021-11-25 06:52:26.567523] nvmf [2021-11-25 06:52:26.567527] -c 0xF [2021-11-25 06:52:26.567531] --log-level=lib.eal:6 [2021-11-25 06:52:26.567535] --log-level=lib.cryptodev:5 [2021-11-25 06:52:26.567539] --log-level=user1:6 [2021-11-25 06:52:26.567542] --base-virtaddr=0x200000000000 [2021-11-25 06:52:26

[2021-11-30 04:19] spdkci commented on #2259
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_62521.html

[2021-11-30 04:20] spdkci commented on #2128
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_62518.html

[2021-11-30 04:24] spdkci commented on #2259
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_62510.html

[2021-11-30 04:44] spdkci commented on #2128
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_62730.html

[2021-11-30 06:03] ye1xchen opened #2260 "[iscsi]End-to-end resize failed"
# Bug report

End-to-end resize failed

## Expected Behavior

 resize iscsi null bdev in target A,  the bdev in target B resize successfully.

## Current Behavior

resize iscsi null bdev target A , but the bdev in target B dose not change.

## Possible Solution

## Steps to Reproduce

1.target A:
./build/bin/iscsi_tgt &
./scripts/rpc.py iscsi_create_portal_group 1 192.168.20.11:3260
./scripts/rpc.

[2021-11-30 07:17] spdkci commented on #2128
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_62668.html

[2021-11-30 07:21] spdkci commented on #2195
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_62657.html

[2021-11-30 08:43] spdkci commented on #2128
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_62744.html

[2021-11-30 08:43] adamagniv commented on #2243
added the changes here: https://review.spdk.io/gerrit/c/spdk/spdk/+/10439

[2021-11-30 09:08] #2253 closed

[2021-11-30 10:13] tmakatos commented on #2067
Attached.

[7abdc7e6-7e04-448f-95df-b56ef0e67bb5.log.gz](https://github.com/spdk/spdk/files/7624871/7abdc7e6-7e04-448f-95df-b56ef0e67bb5.log.gz)

[2021-11-30 10:38] tomzawadzki commented on #2257
Fix https://review.spdk.io/gerrit/c/spdk/spdk/+/10428 has been merged. Issue can be closed.

[2021-11-30 10:38] #2257 closed

[2021-11-30 10:41] tomzawadzki commented on #2120
Patches updating OCF to 21.6 have been merged, which should include resolution to issue.
@USTCqzy Please feel free to re-open the issue if you observe the original issue.

[2021-11-30 10:41] #2120 closed

[2021-11-30 10:50] tomzawadzki commented on #2005
The report above looks to be #2128, rather than this issue.

Outside of that, the issue has not occured for over 3 months. Closing this issue.

[2021-11-30 10:50] #2005 closed

[2021-11-30 10:56] tomzawadzki commented on #2201
Adding part of the failure log to help when searching for this issue:
[code]

@KKaras169169 Would you mind taking a look, since you are reworking on the hotplug tests right now ?

[2021-11-30 11:08] tomzawadzki commented on #1969
The latest report refer to completely different issue, rather than network related.

First failure occurs at:
[code]
Then is followed by:
[code]

Giving a quick look around for the cause, points to possibly `git fetch` missing some commits if done after shallow `git clone`. I believe there is optimization done during job execution to checkout minimal set of required changes.

@karlatec Could someo

[2021-11-30 11:09] mikeBashStuff commented on #1969
@tomzawadzki This was already fixed.

[2021-11-30 11:10] tomzawadzki commented on #1950
@mikeBashStuff Please feel free to update this issue with links to updated patches once they are ready.

[2021-11-30 11:19] tomzawadzki commented on #2138
Closing, no new reports for over 2 months.

[2021-11-30 11:19] #2138 closed

[2021-11-30 11:20] tomzawadzki commented on #1875
Since update to OCF 21.6 the troublesome code path of metadata updater has been removed.

@gaowayne Please feel free to re-open this issue if you observe the original issue.

[2021-11-30 11:20] #1875 closed

[2021-11-30 11:23] tomzawadzki commented on #2154
Patches have been merged, issue can be closed.

[2021-11-30 11:23] #2154 closed

[2021-11-30 12:01] tomzawadzki commented on #2209
Hi @ghnicky clarification for the RPC is now merged. Do you think this answers the original question in this issue ?

[2021-11-30 13:01] mikeBashStuff commented on #2259
Both reports point at the WFP15 node which was improperly configured in the CI pool (phy-nvmf tests should not be scheduled on it due to lack of proper hardware) - this was fixed couple of days ago. Let's leave this issue open for couple more days just in case somebody else's patches got hit by it.

[2021-11-30 15:06] tomzawadzki commented on #2258
[bug scrub] The patches for vs_dpdk tests and patch for submodule (ex https://review.spdk.io/gerrit/c/spdk/dpdk/+/10452/) will be dropped, in favor of increasing CONFIG_RTE_CRYPTO_MAX_DEVS if the issues shows on CI jobs.

[2021-11-30 15:17] KKaras169169 commented on #2201
Looks a bit different from what I already fix in this [series](https://review.spdk.io/gerrit/c/spdk/spdk/+/9711/10) - here we encountered no inserts at all, so probably a different bug, so I can take a look into this one as well.

[2021-11-30 15:24] tomzawadzki commented on #2232
[bug scrub] WFP15 now hold all required hardware to run the tests. Reported issue no longer occurs.

[2021-11-30 15:24] #2232 closed

[2021-11-30 15:26] #1969 closed

[2021-11-30 15:46] mikeBashStuff commented on #2239
Tested it under our CI - the setup for the clang works now just fine, but it seems that the amount of memory we allocate for the VM is not enough (lto build fails due to kernel bashing it with a stick (oom)). I've seen similar issues across some recent ipsec patches but under the scanbuild job. We are going to fix that on the CI side by redistributing resources for the VMs (per affected job) prope

[2021-11-30 15:46] #2239 closed

[2021-11-30 20:09] jimharris commented on #2237
Patches merged.

[2021-11-30 20:09] #2237 closed

[2021-11-30 21:09] sekar-wdc opened #2261 "SPDK initiator does not seem to honor Responder Resource value exchanged during RDMA connection establishment"
Bug report

SPDK initiator does not seem to honor Responder Resource value exchanged during RDMA connection establishment

**Summary of Expected vs Current Behavior**
Details:
During the MAD Connect sequence for establishing an RDMA IO connection for RoCEv2
(NVMe-over Fabrics), the SPDK initiator provides the following values in the REQ message:
• Initiator Depth: 0
• Responder Resources: 16

The

[2021-11-30 23:27] jimharris commented on #2204
10295 seems like the cleanest solution, if we can get confirmation that these APIs are thread-safe.

[2021-11-30 23:45] jimharris commented on #2209
Closing issue - @ghnicky please feel free to reopen if the merged patch does not provide adequate help in your opinion.  Thanks.

[2021-11-30 23:45] #2209 closed

[2021-12-01 00:45] jimharris commented on #2255
I needed to install bash, readlink and grep using homebrew to get this to work on MacOS, along with this patch:

https://review.spdk.io/gerrit/c/spdk/spdk/+/10476

Default bash doesn't support mapfile.
Default readlink doesn't support -f option.
Default grep doesn't support -P option.

[2021-12-01 04:16] gaowayne opened #2262 "FAQ - bdevperf run different workload on different bdev partition at the same time"
# Bug report

hello here my scenario
we split one big bdev into 8 split bdevs.
we want to run randwrite zipf workload on one 4x bdevs
we want to run randread workload on other 4x bdevs

how can we do this with current bdevperf?

## Expected Behavior

we can run these mixed workload with bdevperf easily

## Current Behavior

we workaround this by using fio plugin

## Possible Solution

## Steps to

[2021-12-01 05:29] Comphix commented on #2262
So far I think we could only select one workload for assigned bdevs.

[2021-12-01 06:59] benqwu opened #2263 "spdk cross compilation failed"
Hello,
I use linaro toolchain to compile spdk for arm64 platform on x86 machine. During the linking phase of the app, the following error is prompted:

[code]

I did not compile the zlib library on this x86 machine and install it to the linaro directory, but from another arm64 server, copy the zlib header file and so file to the linaro directory. Just like the installation example of the numa libr

[2021-12-01 07:07] AlekseyMarchuk commented on #2263
Hi, what is the output of `ldd /root/gcc-linaro-6.3.1-2017.05-x86_64_aarch64-linux-gnu/lib/gcc/aarch64-linux-gnu/6.3.1/libcrypto.so` ?

[2021-12-01 07:21] AlekseyMarchuk commented on #2263
As I see, the problem is that libz is not explicitly linked into SPDK binary, it is a dependency of another shared object. That is why linker can't find it.
If I'm not mistaken, in case of cross compilation your can add `ld.so.conf` file to to your toolchain, e.g. to `/root/gcc-linaro-6.3.1-2017.05-x86_64_aarch64-linux-gnu/etc/ld.so.conf` This file should have a line with `/root/gcc-linaro-6.3.1-2

[2021-12-01 07:48] AlekseyMarchuk commented on #2263
You may also need to specify LD from your toolchain - `export LD=aarch64-linux-gnu-ld`

[2021-12-01 08:27] benqwu commented on #2263
Thank you.

- ldd
I have a problem executing ldd command on an X86 server.
[code]
And I execute this command on arm64 server and the result is
[code]

- ld.so.conf
I add ld.so.conf to /root/gcc-linaro-6.3.1-2017.05-x86_64_aarch64-linux-gnu/aarch64-linux-gnu/libc/etc and execute ./aarch64-linux-gnu/libc/sbin/ldconfig failed. The reason should be that the arm64 program cannot be executed on x86.
[co

[2021-12-01 08:59] AlekseyMarchuk commented on #2263
Please run `spdk/configure` again when you set LD since SPDK may cache old default LD
If it doesn't help then I think the easiest way to solve this problem is to set rpath. Please try `CFLAGS+=-Wl,-rpath=/root/gcc-linaro-6.3.1-2017.05-x86_64_aarch64-linux-gnu/lib ./configure --target-arch=armv8-a+crc --cross-prefix=aarch64-linux-gnu --without-isal`

[2021-12-01 09:52] tmakatos commented on #2067
The logs I sent was with 4 vCPUs. I also tried with 1 vCPU and WIndows still tries to use a shared CQ.

[2021-12-01 10:24] mikeBashStuff commented on #1950
@tomzawadzki Sure, will try to pick this up till the end of this week.

[2021-12-01 10:53] mikeBashStuff commented on #2258
@tomzawadzki @jimharris So I tested the https://review.spdk.io/gerrit/c/spdk/spdk/+/10360 under our vs-dpdk-main  and the issue actually pops out under the crypto job. Here's the log snippet:

[code]
To give more context, `qat_setup.sh` configures 16 VFs per PF prior running the actual tests.

[2021-12-01 11:59] tanlong0121 commented on #2204
In most scenarios，multiple threads write to a rbd image is safe, but we cannot enusre users will not write the same block in a very short time, single thread is safe definitely. Because ceph is a slow storage, the performance bottneck is not in client, so multi-threads cannot bring much benifit, contrarily, it will lead competition betwwen threads and higher cpu load compare with single thread.

[2021-12-01 14:44] EugeneKochetov commented on #2204
@tanlong0121, how is 10295 different from other suggested solutions? Could you please clarify?
If app generates IO to the same block from multiple threads, no one can guarantee the order. And I'm not sure what competition do you mean. As far as I understand, IOs are handled in the context of internal librbd threads. So, it should not matter which SPDK thread submitted the IO.
There may be some loc

[2021-12-01 16:16] jimharris commented on #2262
No, we have config file support for bdevperf which can enable different workloads.  Please see https://spdk.io/doc/bdevperf.html.

[2021-12-01 16:16] #2262 closed

[2021-12-01 16:48] spdkci commented on #2128
Another instance of this failure. Reported by @Maciej-Szulik. log: https://ci.spdk.io/public_build/autotest-per-patch_62865.html

[2021-12-02 01:40] wanqunintel opened #2264 "[SPDK CI]CI log is not generated https://ci.spdk.io/results/autotest-per-patch/builds/62872/archive/nvmf-tcp-vg-autotest/build.log"
# Bug report
CI log is not generated https://ci.spdk.io/results/autotest-per-patch/builds/62872/archive/nvmf-tcp-vg-autotest/build.log
build.log content is as follows.
https://10.211.11.56:8080/job/nvmf-tcp-vg-autotest/71/timestamps/?elapsed=HH:mm:ss.S&appendLog
IllegalArgumentException: durationMillis must not be negative

## Expected Behavior
Should have log generated with following path

## Cur

[2021-12-02 02:24] benqwu commented on #2263
I tried this method, but the same error was still displayed.
[code]

[2021-12-02 02:51] spdkci commented on #2128
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_62879.html

[2021-12-02 07:53] spdkci commented on #1950
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_62851.html

[2021-12-02 08:03] mikeBashStuff commented on #2264
This is caused by the system clock being out of sync with the ntp on some of the VM hosts.

[2021-12-02 08:35] mikeBashStuff commented on #2264
Issue should be fixed, configuration on the VM hosts was updated. Let's leave this issue open for couple of days to make sure nothing else is affected.

[2021-12-02 12:20] spdkci commented on #2245
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_62921.html

[2021-12-02 13:14] Maciej-Szwed opened #2265 "nvmf_subsystem_remove_listener optional arguments are actually required"
From nvmf_subsystem_remove_listener help:

[code]

-t TRTYPE and -a TRADDR are required (correctly displayed in second line), but described as optional.

Also this will fail:

`./scripts/rpc.py nvmf_subsystem_remove_listener -t TCP -a 192.168.0.1 nqn.2016-06.io.spdk:cnode1`

because `spdk_nvme_transport_id_compare()` in `nvmf_subsystem_find_listener()` will fail when searching for transport if `-s

[2021-12-02 14:59] spdkci commented on #2047
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_62931.html

[2021-12-02 15:02] spdkci commented on #2128
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_62935.html

[2021-12-03 01:46] wanqunintel commented on #2264
Agreed with that.

[2021-12-03 02:11] yidong0635 commented on #2265
This should be a document edit fault.

[2021-12-03 02:54] yidong0635 commented on #2265
python command ArgumentParser puts these required items list in optional arguments.

[2021-12-03 07:42] changpe1 commented on #2067
I added the shared IO CQ feature via patch https://review.spdk.io/gerrit/c/spdk/spdk/+/10532.

[2021-12-03 08:05] Maciej-Szwed opened #2266 "[NVMf] Removing subsystem with active namespace leaves block device on initiator side"
When removing subsystem with active namespace we end up with block device on initiator side still present. Tested with kernel and SPDK initiators.

Steps to reproduce:
[code]
a) For kernel initiator:
[code]
b) For SPDK initiator:
[code]

Suggesting to block subsystem removal when active namespace are present.

[2021-12-03 09:14] tanlong0121 commented on #2204
Let me clarify the patch 10416 I submitted first. The main thinking of 10416 is to use the threads that rbd bdev io channels were created on, for example, in our scenario, the app is started as: ./build/bin/nvmf_tgt -m 0xff, there are 8 threads(named nvmf_tgt_poll_group_0 to nvmf_tgt_poll_group_7) are created on each core, a rbd bdev is created by rpc: ./scripts/rpc.py bdev_rbd_create -b rbd0 volu

[2021-12-03 09:46] anji1921389 opened #2267 "SPDK test apps (identify / perf / fio) not freeing hugepages when exiting"
# Bug report

On an ARM board with cross compiled SPDK, identify / perf / fio apps are not releasing the hugepages

## Expected Behavior

When the test app exits, it should release the hugepages back and the free hugepage count should match with the free hugepage count before running the app

## Current Behavior

The free hugepage count captured after running the test apps was less than the free h

[2021-12-03 11:01] gaowayne commented on #2262
thank you so much Jim and Gang. :)

[2021-12-03 13:41] ksztyber commented on #2266
@Maciej-Szwed not sure why having a namespace should change the behavior in this case. With the kernel initiator you should be able to specify the controller loss timeout via the `-l` option:
[code]
This will cause the controller to be removed from the system after that time.

For the SPDK initiator, I can see that it tries to constantly reset the controller in a loop. Perhaps we could add a simil

[2021-12-03 14:23] tmakatos commented on #2067
Using @changpe1's fix (https://review.spdk.io/gerrit/c/spdk/spdk/+/10532) and Windows build 22509, I was able to hotplug an NVMe namespace. I had open the Disk Management utility and the hotplugged namespace immediately appeared as a new disk which I was able to initialize, format, and use.

[2021-12-03 14:29] spdkci commented on #1950
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_63061.html

[2021-12-03 14:44] spdkci commented on #2128
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_63047.html

[2021-12-03 14:48] spdkci commented on #2128
Another instance of this failure. Reported by @rafalste. log: https://ci.spdk.io/public_build/autotest-per-patch_63073.html

[2021-12-03 14:51] ksztyber commented on #2265
I agree with @yidong0635, this is how the python's argparse module works and I don't think there's much we can do about it, other than what @yidong0635 suggested. But I'd be a bit hesitant to change it, as it could break a lot of existing scripts.

As for `trsvcid`, it is indeed required by TCP, but some of the transports don't use this field (e.g. FC). So, for them it doesn't make sense to specif

[2021-12-03 15:11] jimharris commented on #2266
I think @shuhei-matsumoto has plans to add something like this to the bdev/nvme module.

[2021-12-03 15:19] peluse commented on #2267
@anji1921389 do you know if this only happens with Arm (did you/can you test your steps on IA?)

[2021-12-03 22:55] shuhei-matsumoto commented on #2266
Yes, I'm adding a similar option path_loss_timeout_sec to the SPDK initiator in the patch https://review.spdk.io/gerrit/c/spdk/spdk/+/10128
Still testing and being reviewed but looks working as expected so far.

[2021-12-03 23:03] shuhei-matsumoto commented on #2266
The kernel initiator have other options, --max-retries, --fast-io-fail-tmo and --reconnect-delay. --fast-io-fail-tmo has been used via a famous multipath driver DM-multipath. The SPDK initiator supports a similar option for --max-retries now, and will support similar options for --fast-io-fail-tmo and --reconnect-delay in my remaining patch series.
Currently I'm working on mainly now is to reduce

[2021-12-04 05:09] anji1921389 commented on #2267
@peluse Did you mean x86 by IA? If yes, it works fine.

[2021-12-04 13:15] AlekseyMarchuk commented on #2267
@anji1921389 Have you tried to cross compile SPDK using spdk/scripts/arm_cross_compile.sh?
I tested this script but didn't pay attention if huge pages were released or not.

[2021-12-04 17:19] gaowayne commented on #2262
@Comphix @jimharris I review the code and also tried fio configuration. I am pretty sure below zipf parameter is not supported in bdevperf fio configuration. But bdevperf command line have -F parameter to support it. can we re-open this issue add zipf parameter into bdevperf fio configuration too?
[code]

[2021-12-04 19:12] peluse commented on #2267
Yes, sorry IA = Intel Architecture.  @AlekseyMarchuk do you by any chance have any ideas on this what appears to be an Arm specific mem leak of some kind?

[2021-12-05 09:21] adamagniv commented on #2261
any updates?
@sekar-wdc If possible, please also attach your traces.

[2021-12-05 10:25] spdkci commented on #2128
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_62926.html

[2021-12-06 02:11] yidong0635 commented on #2265
Thanks @ksztyber for  your further explanation, @Maciej-Szwed  what's your idea？

[2021-12-06 03:03] wanghailiangx opened #2268 "[vg-autotest] logs have not been generated"
# CI Intermittent Failure

[code]

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_63110.html

## Execution failed at

[code]

[2021-12-06 03:06] spdkci commented on #2268
Another instance of this failure. Reported by @wanghailiangx. log: https://ci.spdk.io/public_build/autotest-per-patch_63110.html

[2021-12-06 05:49] anji1921389 commented on #2267
@AlekseyMarchuk, my ARM board doesn't have enough memory to build ARM natively, as it requires a lot of tool support.
So far, i've not used the script that you've pointed out, i kind of have my own script similar to scripts/arm_cross_compile.sh to build the SPDK and DPDK.

PS: I cross compile libnuma, fio, DPDK, SPDK using the rootfs generated by yocto build system for ARM

[2021-12-06 07:18] AlekseyMarchuk commented on #2261
Hi @adamagniv sorry didn't have time to look at this issue. I plan to check it this week, will update you with my findings

[2021-12-06 07:23] Comphix commented on #2260
Will take a look at this issue.

[2021-12-06 07:52] spdkci commented on #2128
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_63133.html

[2021-12-06 07:58] dashan8020 opened #2269 "core dump with poll group on SPDK nvme initiator"
# Bug report
A core dump occasionally happen when use poll group in SPDK nvme initiator (over RDMA)

## Expected Behavior
No core dump happen.

## Current Behavior
the core dump stack is as below, the SPDK version is v21.01.x, because I added some debug logs to debug such issue, so the call stack line number may be different from the standard SPDK v21.01.x.  libibverbs version on my setup is 16.9-

[2021-12-06 08:42] spdkci commented on #2128
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_63100.html

[2021-12-06 08:43] spdkci commented on #1950
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_63099.html

[2021-12-06 08:45] spdkci commented on #1950
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_63087.html

[2021-12-06 08:45] spdkci commented on #1950
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_63080.html

[2021-12-06 08:48] spdkci commented on #2128
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_63092.html

[2021-12-06 10:40] spdkci commented on #1950
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_63153.html

[2021-12-06 10:44] #2243 closed

[2021-12-06 14:04] spdkci commented on #2268
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_63164.html

[2021-12-06 14:46] KKaras169169 opened #2270 "[ubuntu18-vg-autotest] Guest-specific operations were attempted on a machine that is not ready for guest communication"
# CI Intermittent Failure

During [ubuntu18-vg-autotest] a notification has been printed:

[code]

and the test exited with failed status.

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_63155.html

## Execution failed at

00:00:38.608  ==> default: Creating shared folders metadata...
00:00:38.608  ==> default: Starting domain.
00:00:39.992  ==> default: Waiting

[2021-12-06 14:48] spdkci commented on #2270
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_63155.html

[2021-12-06 16:54] AlekseyMarchuk commented on #2263
Can you run make again as `make V=1` and share part of the output with error? I see that you also specify `SKIP_DPDK_BUILD=1`, can you try without this flag?

[2021-12-06 16:55] spdkci commented on #2128
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_62999.html

[2021-12-06 16:58] AlekseyMarchuk commented on #2252
From discussion in gerrit review: we should add a qpair to the poll group connected_qpairs list since poll group also handles RDMA WRs batching of qpairs on the connected_qpairs list. I'm working on the async connect/disconnect and I'll try to address this problem

[2021-12-06 21:31] sekar-wdc commented on #2261
Attached is the trace
[MAT-4700_20211022_1150.zip](https://github.com/spdk/spdk/files/7663648/MAT-4700_20211022_1150.zip)
.

[2021-12-07 07:47] Maciej-Szwed commented on #2265
In such case I would just add in description to the '-s TRSVCID' flag something like that: ... (required for TCP and RDMA transport types).

[2021-12-07 07:48] Maciej-Szwed commented on #2266
OK, so I think we can close this one as I was not aware of this ongoing work.

[2021-12-07 08:29] yidong0635 commented on #2265
if you no mind adding https://review.spdk.io/gerrit/c/spdk/spdk/+/10580, please let me know if it needs more.

[2021-12-07 08:36] Maciej-Szwed commented on #2265
One small comment on gerrit. Overall looks good - thanks :)

[2021-12-07 16:58] spdkci commented on #2128
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_63277.html

[2021-12-07 16:59] yty77566872 commented on #2128
邮件收到，我会尽快回复的~

[2021-12-07 16:59] spdkci commented on #2128
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_63278.html

[2021-12-07 17:47] peluse opened #2271 "[interrupt_mode] failure at interrupt.sh:4"
Unclear what is failing to me:
00:09:27.462  START TEST interrupt_mode
00:09:27.462  ************************************
00:09:27.462   17:52:26	-- common/autotest_common.sh@961 -- # xtrace_enable
00:09:27.462   17:52:26	-- common/autotest_common.sh@962 -- # /var/jenkins/workspace/nvme-phy-autotest/spdk/test/scheduler/interrupt.sh
00:09:27.462  * Looking for test storage...
00:09:27.462  * Found

[2021-12-07 17:48] spdkci commented on #2271
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_63295.html

[2021-12-07 19:35] mikeBashStuff commented on #2271
Duplicate of the #1950.

[2021-12-07 19:35] #2271 closed

[2021-12-08 03:55] yidong0635 commented on #2265
@Maciej-Szwed  updated, thanks for your idea.

[2021-12-08 06:07] ye1xchen opened #2272 "[rpmbuild]run rpmbuild/rpm.sh failed"
# Bug report

run rpmbuild/rpm.sh failed

## Expected Behavior

run rpmbuild/rpm.sh passed

## Current Behavior

run rpmbuild/rpm.sh failed
error: File not found: /root/rpmbuild/buildroot/spdk-v21.10-1.x86_64/usr/local/lib/lib*.so

run rpmbuild/rpm.sh --with-shared passed

## Possible Solution

## Steps to Reproduce

1. cd spdk
2. rpmbuild/rpm.sh
3.
4.

## Context (Environment including OS version

[2021-12-08 08:15] mikeBashStuff commented on #2272
Regression introduced by 6317642ce6296d078aeabe88e17c467d4173c5df. Potential fix here https://review.spdk.io/gerrit/c/spdk/spdk/+/10591 - @ye1xchen would you kindly test this patch to see if it works on your end?

[2021-12-08 10:23] AlekseyMarchuk commented on #2261
Hi,

I looked at the trace. I found something strange here
First of all, `responder resources` parameter of rdma cm determines the number of RDMA_READ operations that the local side will be ready to accept from the remote side. In NVME-oF protocol only target sends RDMA_READ requests, it never expects RDMA_READ request to be send by the initiator. That means that NVME-oF RDMA target should set `re

[2021-12-08 11:03] AlekseyMarchuk commented on #2261
Update: I see that some nvme commands request to read 64KiB so my last assumption that RMDA_READ uses wrong address may be wrong. But please share your NIC model and supported max_qp_rd_atom and max_qp_init_rd_atom parameters

[2021-12-08 18:17] sekar-wdc commented on #2261
@AlekseyMarchuk

The NIC model on the initiator side is a Mellanox CX516A 100GbE with the 16.28.2006 FW.

A little clarification on the trace:

The trace shows:
SPDK initiator (HCA) values in REQ message:
               Initiator Depth:                 0
               Responder Resources:    16
Target (TCA) values in REP message:
               Initiator Depth:                 16
               R

[2021-12-09 00:37] #2265 closed

[2021-12-09 00:40] #2255 closed

[2021-12-09 01:41] ye1xchen commented on #2272
Thanks! This patch worked.

[2021-12-09 02:48] changpe1 commented on #2269
Did you unplug the cable while the IO was running for your case?

[2021-12-09 06:06] #2245 closed

[2021-12-09 06:08] changpe1 commented on #2210
Patch has been merged, closing this issue now.

[2021-12-09 06:08] #2210 closed

[2021-12-09 10:38] tanabarr opened #2273 "VMD backing devices disappear from lspci when bound to pci-vfio"
# Bug report

lspci can normally be used to view NVMe device details even when bound to pci-vfio driver, this is not the case for VMD backing devices

## Expected Behavior

lspci shows details (of specific interest is device link width and speed) for VMD backing devices (PCI address beginning with domain 1000) even when devices are bound to pci-vfio driver.

## Current Behavior

[code]
Note that t

[2021-12-09 11:12] mikeBashStuff commented on #2272
@ye1xchen Appreciate the feedback, thanks. :) Patch got merged, so closing this issue.

[2021-12-09 11:12] #2272 closed

[2021-12-09 14:12] #2266 closed

[2021-12-09 14:36] ksztyber commented on #2273
When you unload the VMD driver (and load the vfio-pci in its place), the devices behind it will disappear from the system, as they're discovered through that driver. But I think you could use `spdk_lspci` to list them.

[2021-12-09 15:10] jimharris commented on #2273
Konrad's right, this is expected behavior.  I'm thinking we can mark this as an enhancement request instead of a 3rd party issue though.

Here's an idea...

lspci has a -F option, which takes the name of a file which contains the output of a previous lspci -x execution.
The lspci -x output is pretty basic - we could easily generate the contents of such a file from the VMD library and even trigger

[2021-12-09 15:20] KKaras169169 commented on #2201
There is not much to work with (error messages in failing function nvme_ctrlr_process_init() are scarce).
I looked through functions called from the nvme_ctrlr_process_init() and counted multiple that do not print any logs before returning an error (I was looking for a path in code that would lead to _*ERROR*: Failed to initialize SSD: 0000:00:06.0_ without any other errors/logs that would be prin

[2021-12-09 15:27] jimharris commented on #2273
We could also implement this at the env_dpdk layer, so that it covers all PCI devices claimed by the application, not just those behind VMD.  That would have the added benefit of being able to test this lspci functionality without a VMD system.

[2021-12-09 16:21] karlatec opened #2274 "[clang-vg-auotest] dpdk submodule fails to build with clang version 13.0.0 on Fedora35"
# Bug report

As in title. DPDK submodule in SPDK fails to build under Fedora 35 OS.

## Current Behavior

[code]

## Possible Solution

Either disable fail on warning, update submodule or report to DPDK for fix.

## Steps to Reproduce

1. Build SPDK on recent Fedora 35 release using clang.
My build was with:
[code]

## Context (Environment including OS version, SPDK version, etc.)

SPDK 91b8cd379

[2021-12-09 16:27] bensallen commented on #2273
I wonder, long term, if it would be worth adding and trying to upstream a PCI access method, eg. lspci -A for SPDK?

[code]

These implementations can be found under https://github.com/pciutils/pciutils/tree/master/lib, like proc.c, sysfs.c, etc

[2021-12-09 16:31] jimharris commented on #2274
I've already fixed this in upstream DPDK:  https://github.com/DPDK/dpdk/commit/628bac7df18904c7083c8ad04669c69688f352de

So I think what we need here is back porting this into our DPDK fork until we move our submodule to include this fix.

[2021-12-09 16:46] karlatec commented on #2274
Thanks for a quick reply Jim!
Cherry picked the fix into our spdk/dpdk 21.08 branch: https://review.spdk.io/gerrit/c/spdk/dpdk/+/10613

[2021-12-09 17:02] jimharris commented on #2274
Here are some other patches I pushed for clang-13.  I'm guessing you'll run into these next.  :)

https://github.com/DPDK/dpdk/commit/1345c5baae35d16b20126704c8636c476c4f32eb
https://github.com/DPDK/dpdk/commit/0353121c33846c40ff2e2282448f324c93d3ce9d
https://github.com/DPDK/dpdk/commit/d4fb4eb08725a3e667042c1f5cd3ed72b94505a7

[2021-12-09 18:33] tkg61 opened #2275 "nvmf_create_transport unable to create SRQ errno 22"
# Bug report

## Expected Behavior

When running through the basic configuration of NVME-OF on this page: https://spdk.io/doc/nvmf.html that we would successfully be able to create a target to host an NVME drive

## Current Behavior

While following the above tutorial when the command to run: `scripts/rpc.py nvmf_create_transport -t RDMA -u 8192 -m 4 -c 0` is given we receive the following error f

[2021-12-09 18:52] tkg61 commented on #2275
i did some reading on the help page for this command and i am able to negate the error by using the "-r" flag. i don't know what that effects but it mitigates the issue.

[2021-12-09 19:07] jimharris commented on #2275
-r disables SRQ (shared receive queues), so it makes sense why that would mitigate the error you reported.

Can you provide more details on your platform - specifically what kind of RDMA NIC you are using in this setup?

[2021-12-09 19:07] tkg61 commented on #2275
I am using a Mellanox ConnectX-5 100Gb

[2021-12-09 19:10] tkg61 commented on #2275
After using the -r flag, i ran:

[code]

Upon trying to discover the endpoint from the same machine i get:

[code]

[2021-12-10 07:25] shuochen0311 opened #2276 "vm hang when using kata containers (qemu + spdk + vhost-user-blk-pci driver)"
# Bug report
You can check this link for more detail: [here](https://github.com/kata-containers/kata-containers/issues/3249)

we are trying to use kata container to create a vm along with spdk block device.
The way that kata works is:
* create a qemu process(a qemu vm) with some default memory cpu resources.
* hotplug the spdk device with vhost-user-blk-pci driver as well as the extra memory that

[2021-12-10 08:00] changpe1 commented on #2276
@shuochen0311 You need to narrow down this issue to reproduce it with QEMU + SPDK only, we don't know the usage model in Kata.

[2021-12-10 08:01] shuochen0311 commented on #2276
Thanks! I am trying to narrow it down.

On Fri, Dec 10, 2021 at 12:00 AM Changpeng Liu ***@***.***>
wrote:

[2021-12-10 08:20] AlekseyMarchuk commented on #2275
Hi @tkg61
This NIC supports SRQ, maybe the problem is in drivers or kernel modules on your VM. Could you query properties of your NIC using `ibv_devinfo -v` on both VM and bare metal host? You can grep the output using `| grep -i srq` to verify that SRQ properties are correctly reported. On my bare metal system with Ubuntu 21.04 and ConnectX-5 the output is following:
[code]
If you don't have ibv_

[2021-12-10 08:31] karlatec commented on #2274
Prophet :) Yes, one of these. I'm guessing the rest will come in handy when updating our submodule to DPDK 21.11.

For now, this series seems to be enough to fix spdk/dpdk 21.08:
https://review.spdk.io/gerrit/c/spdk/dpdk/+/10624/1

I still see some warnings from ipsec submodule, but that's a different story:
[code]

[2021-12-10 10:14] KKaras169169 commented on #2201
I have prepared two patches:
- added sleep time in hotplug.sh, because mikeBashStuff pointed out it might be timing issue: https://review.spdk.io/gerrit/c/spdk/spdk/+/10626
- added error logs to the failing funtion to help with debugging in nvme_ctrlr.c:  https://review.spdk.io/gerrit/c/spdk/spdk/+/10627/1

[2021-12-10 11:59] ksztyber commented on #2273
@jimharris, tyeah, we could definitely add something like this (and it doesn't seem like a lot of work either). I'll mark it as an enhancement then.

@bensallen, that is also a very interesting idea, it'd make the usage even more straight-forward. Once we have the RPC in place, we could call it from lspci directly.

[2021-12-10 12:21] karlatec opened #2277 "[nvmf-vg-autotest] CPU soft lockup during virtualized RDMA SoftRoce tests on Fedora35"
# Bug report

Virtualized RDMA tests freeze during execution when using recent Fedora 35 releases. The issue is with `watchdog: BUG: soft lockup`

## Current Behavior

As in bug description.

## Possible Solution

Issue is most likely caused by bug in kernel modules, not by SPDK.
Possible solution would be to downgrade system kernel to 5.12.0 (that's what we're currently using in CI for Fedora33 V

[2021-12-10 13:26] spdkci commented on #1950
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_63612.html

[2021-12-10 13:29] tkg61 commented on #2275
Here is the output of the VM and the PVRDMA nic (was hoping the VM would play host to the NVME drive, not a baremetal box, the client of this would be the ESXi server itself as a test of NVME-OF):

[code]

[2021-12-10 13:53] AlekseyMarchuk commented on #2275
This looks interesting `max_srq_wr:                     1024` - it looks like we missed some check on target side since we use default SRQ depth `4096` and don't check device capabilities in that case. Can you try to create RDMA transport with SRQ depth 1024? E.g. `nvmf_create_transport -s 1024` and see if it helps? I'll prepare a patch to check device max_srq_wr when we create an SRQ

[2021-12-10 14:43] tkg61 commented on #2275
@AlekseyMarchuk I was able to add that to the nvmf_create_transport command and it did not error out!

Another question, do you know of anyone who has successfully connected an ESXi host server to an SPDK hosted NVME-OF backend (regardless of being a VM or not)

[2021-12-10 14:51] tkg61 commented on #2275
I still received the above error when trying to discover the drive

[2021-12-10 15:56] AlekseyMarchuk commented on #2275
@tkg61 it looks like the first SEND is failed, really strange. Have you tried to use standard tools like `udaddy` or `rping` or `ibv_rc_pingpong` or `ib_write_bw` to verify that RDMA works in your environment?

[2021-12-10 18:23] tkg61 commented on #2275
@AlekseyMarchuk i was able to perform a ib_send_bw on my vm to itself (which is the same as trying to mount the nvme on itself)

[code]

[2021-12-10 18:26] mikeBashStuff commented on #2277
Ok, here's where this issue gets a bit weird - I tested different, newer, versions of the upstream kernel under fedora35 (including latest master) and in each case I hit the same issue. Then I built a v5.12.10 - this is the version our fedora33s currently use in the CI, but provided via .rpms - and to my surprise it failed in the same way. Then I tested the same version, but from the .rpms (so sam

[2021-12-10 23:35] ahribeng opened #2278 "[nvme cuse] Incorrect response from nvme cli"
# Bug report

The "create-ns" command in nvme cli is not returning the nsid.

## Expected Behavior
The create-ns command should return a valid nsid if the command was succesfull.
nvme create-ns /dev/spdk/nvme0 -c 1 -d 0 -f 0 -m 0 -s 1 -t 50000000
create-ns: Success, created **nsid:1**

## Current Behavior
Currently nsid will always be 0.
nvme create-ns /dev/spdk/nvme0 -c 1 -d 0 -f 0 -m 0 -s 1 -t 5

[2021-12-12 00:26] fengwang666 commented on #2276
@changpe1 We were able to narrow down the issue to qemu hot plug memory. It seems this issues happens only when we try to hotplug more memory into qemu through qmp.

[2021-12-13 02:53] changpe1 commented on #2276
Yeah, I think that's the problem.  SPDK vhost is always tested with pre-allocated memory, we didn't test this case in practice, I will take a look first.

[2021-12-13 05:28] spdkci commented on #2128
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_63616.html

[2021-12-13 05:28] spdkci commented on #2128
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_63615.html

[2021-12-13 07:00] karlatec commented on #2277
So basically you're saying that it's Fedora35 specific issue? Seems we need to open an issue in their bugzilla with your findings ASAP.

[2021-12-13 09:07] mikeBashStuff commented on #2277
@karlatec Well, at least it looks like it surfaces only under fedora35. I compared kernel configs, for the same target version, from both distros, and they differ only in options that are autodetected (like compiler version, some new compiler-specific options, etc.). Example here:

[code]

I tried to disable these options which are enabled under fedora35's gcc, but that didn't help (didn't expect

[2021-12-13 12:59] balamsg opened #2279 "[NVMeOverTCP] Pdu corruption when the data digest is enabled."
# Bug report
While running the DT tool on the ESX host , there is a PDU corruption happening when the data digest is enabled in NVMe Over TCP..
The spdk_accel_submit_crc32cv( ) submits the data to the accel module for the CRC calculation and the callback data_crc32_accel_done( ) is called when the calculation completes. Inside data_crc32_accel_done( ), there is a batch submission to the socket & i

[2021-12-13 15:27] AlekseyMarchuk commented on #2055
Long time passed, I tried to reproduce failure from CI locally, but this test never failed. When I rebased my patch on top of master, CI passed. I don't know what was the reason of this failure and I would like to highlight that it was specific for uring only. The last version of patch is on review https://review.spdk.io/gerrit/c/spdk/spdk/+/9995

[2021-12-13 16:26] jimharris commented on #2279
@peluse can you take a look at this?

[2021-12-13 17:22] ksztyber opened #2280 "[vhost_boot] Could not access KVM kernel module"
Looks like qemu failed, because the kvm kernel module was missing:
[code]
Info on the machine the test was executed:
[code]

## Link to the failed CI build
https://ci.spdk.io/results/autotest-per-patch/builds/63664/archive/vhost-autotest/build.log
https://ci.spdk.io/public_build/autotest-per-patch_63664.html

[2021-12-13 17:23] spdkci commented on #2280
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_63664.html

[2021-12-13 17:47] jimharris commented on #2273
Thanks @ksztyber!  I separately created this series, since the spdk_pci_get_[first|next]_device isn't really safe for hotplug reasons:  https://review.spdk.io/gerrit/c/spdk/spdk/+/10655.  Could you rebase your series to use this new spdk_pci_for_each_device API instead?

[2021-12-13 17:58] mikeBashStuff commented on #2280
WFP17 seems to be a new box in the pool and from the look of it VT|VT-d is not enabled in the BIOS. Removed it from the pool  until it's properly set up.

[2021-12-13 18:10] ksztyber commented on #2273
@jimharris, yeah, I was wondering about that API not being safe myself. I've just rebased my patches.

[2021-12-13 18:22] jimharris commented on #2278
Thanks @ahribeng!  I posted a few comments on the patch.  @tomzawadzki could you take a closer look at the CUSE specifics?

[2021-12-13 18:29] peluse commented on #2279
@jimharris you bet! @balamsg is this the DT tool you are using? https://github.com/RobinTMiller/dt
 I'll review the code first and try on Linux but if I need to do something with ESC I'll need your help :) Will et ya know...

[2021-12-13 20:58] peluse commented on #2279
@balamsg as I'm not quite as familiar with the TCP code here as I am the accel code, and since you can repro it sounds pretty easily, can you elaborate a bit more (using function names, line numbers, etc) on the following:

* what file/function are you referring to here: "there is a batch submission to the socket & if it fails, then all the requests in the "qpair->outstanding"?
* what file/functio

[2021-12-13 20:59] mhae opened #2281 "nvmf tgt: IOs continue to complete during target shutdown"
# Bug report

When the nvmf target is shut down, the subsystems are deleted which trigger a qpair disconnect. In the RDMA case, the initiator will receive the RDMA disconnect and the client application will either get SPDK_NVME_SC_ABORTED_BY_REQUEST or SPDK_NVME_SC_ABORTED_SQ_DELETION as the completion status code for any outstanding IOs.

However, outstanding IOs in the target may still complete

[2021-12-14 02:41] changpe1 commented on #2276
@fengwang666 I tested it today, the memory hotplug can work correctly with QEMU + SPDK Vhost-blk.

[2021-12-14 06:25] spdkci commented on #1950
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_63700.html

[2021-12-14 09:09] wawryk commented on #2280
Virtualization enabled on WFP17, added back to CI.

[2021-12-14 09:12] #2149 closed

[2021-12-14 09:24] AlekseyMarchuk commented on #2281
Hi @mhae could you share your changes if you somehow modified NVMF target/initiator to catch cases where IO successfully completed during shutdown? I want to reproduce this problem on my side

[2021-12-14 10:58] balamsg commented on #2279
Hi @peluse , this issue is due to the zcopy changes which was made by Mathew [ https://review.spdk.io/gerrit/c/spdk/spdk/+/9478/11/lib/nvmf/nvmf.c ] where the function spdk_nvmf_terminate_io( ) frees all the outstanding requests while the callback is still active for that requests.

[2021-12-14 11:44] tanabarr commented on #2273
sorry I haven't been paying attention, what exactly should I test and expect to see @ksztyber ?

[2021-12-14 11:50] tanabarr commented on #2273
My VMD system currently has openSUSE LEAP 15.2 and I have to call `/sbin/lspci`, hence the script fails as follows:
[code]

[2021-12-14 13:35] tomzawadzki commented on #2264
No further reports were posted after VM configuration was fixed. Closing.

[2021-12-14 13:35] #2264 closed

[2021-12-14 14:16] peluse commented on #2279
Hi @balamsg thanks - that patch isn't yet merged, is that what you're using?

[2021-12-14 14:58] tomzawadzki commented on #2259
No new reports after fixing configuration in WFP15.

[2021-12-14 14:58] #2259 closed

[2021-12-14 15:21] tomzawadzki commented on #2274
[Bug scrub] Submodule update to include clang fixes is now merged. Issue can be closed.

[2021-12-14 15:21] #2274 closed

[2021-12-14 15:23] tomzawadzki commented on #2280
[Bug scrub] WFP17 configuration is now fixed.

[2021-12-14 15:26] tomzawadzki commented on #2270
[Bug scrub] This failure is vagrant/infrastructure related. Since it occurred just once over period of week, closing.

[2021-12-14 15:26] #2270 closed

[2021-12-14 15:36] balamsg commented on #2279
Yes @peluse , i am using his patch and the function spdk_nvmf_terminate_io( ) which frees the outstanding requests is the root cause of this issue.

spdk_nvmf_qpair_disconnect(struct spdk_nvmf_qpair *qpair, nvmf_qpair_disconnect_cb cb_fn, void *ctx) {
         ........
	/* Check for outstanding I/O */
	if (!TAILQ_EMPTY(&qpair->outstanding)) {
		qpair->state_cb = _nvmf_qpair_destroy;
		qpair->state

[2021-12-14 15:41] peluse commented on #2279
@balamsg OK thanks.  I don't mean to "pass the buck" but issues are for code on master, not pending patches.  You should put a -1 vote on the patch along with your comments and work with the patch submitter to assure that they are introducing bugs into master.  If I've understood this correctly and it makes sense to you, please close this issue and go update the patch as I mentioned.  Thanks!

[2021-12-14 17:25] karlatec commented on #2280
@wawryk Could you please check the same thing on WFP18?
https://10.211.11.56:8080/job/vfio-user-integration-autotest/29/consoleFull

[2021-12-14 22:38] spdkci commented on #1950
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_63690.html

[2021-12-14 22:39] spdkci commented on #1950
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_63709.html

[2021-12-15 05:35] spdkci commented on #1950
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_63849.html

[2021-12-15 06:36] spdkci commented on #1950
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_63836.html

[2021-12-15 06:58] spdkci commented on #2047
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_63840.html

[2021-12-15 08:51] spdkci commented on #2181
Another instance of this failure. Reported by @wanghailiangx. log: https://ci.spdk.io/public_build/autotest-per-patch_63865.html

[2021-12-15 09:11] ksztyber commented on #2273
Yeah, you need `lscpi` to be in your `PATH`. I think you should be able to do something like:
[code]
However, the script uses SPDK's RPC to retrieve the data, so you probably need to just run it as root anyway.

You're using your system's lspci here. To use the SPDK's script from the `scripts/` directory, you'd have to use `./lspci`.

But, as you've noticed, it only lists devices that are attached

[2021-12-15 09:40] spdkci commented on #1950
Another instance of this failure. Reported by @wanghailiangx. log: https://ci.spdk.io/public_build/autotest-per-patch_63871.html

[2021-12-15 09:48] Apokleos opened #2282 "vfio-user compiling failed with error "PCI_CFG_SPACE_SIZE/PCI_CFG_SPACE_EXP_SIZE undecleared..", when linux kernel version is 4.9.x"
# Bug report

vfio-user compiling failed with error "PCI_CFG_SPACE_SIZE/PCI_CFG_SPACE_EXP_SIZE undecleared..", when linux kernel version is 4.9.x

## Expected Behavior

compiled ok

## Current Behavior

[code]

## Possible Solution

add checking of kernel versioin into the header fie `spdk/libvfio-user/include/pci_defs.h`

[code]

## Steps to Reproduce
[code]

## Context (Environment including OS

[2021-12-15 09:52] winglq opened #2283 "missing library rt in spdk_trace.pc"
# Bug report

spdk_trace use shm_open/close functions, but spdk_trace.pc only require following link libraries:

[code]

uuid should be added to spdk_util.pc, as it use uuid_copy/compare functions.

[code]

## expected behavior

rt library shoud be added to Requires in spdk_trace.pc
uuid library shoud be added to Requires in spdk_util.pc

[2021-12-15 11:07] #2279 closed

[2021-12-15 16:18] jimharris commented on #2283
Hi @winglq,

You need to also include spdk_syslibs if linking with static libraries.  This will pull in both rt and uuid.  https://github.com/spdk/spdk/blob/master/doc/pkgconfig.md explains this in more detail.

Regards,

Jim

[2021-12-15 16:18] #2283 closed

[2021-12-15 21:45] spdkci commented on #2268
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_63790.html

[2021-12-15 21:48] spdkci commented on #2128
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_63792.html

[2021-12-16 01:53] ahribeng commented on #2278
@jimharris, Would we want to modify test\nvme\cuse\nvme_ns_manage_cuse.sh to parse stdout of create-ns to find the nsid or is that creating fragility in the test by relying on nvme cli output?

[2021-12-16 02:02] changpe1 commented on #2282
Thanks, here is the fix patch https://review.spdk.io/gerrit/c/spdk/spdk/+/10691

[2021-12-16 04:01] jimharris commented on #2278
I think that's a fantastic idea.  I'm not especially worried about the nvme cli output format changing, and even if it did I'm guessing we could find a way to parse both an old and new format.

Do you want to take a shot at either updating your existing patch to add that, or adding a second patch to do it?

[2021-12-16 06:11] ahribeng commented on #2278
Yea I will push up a change for that.

[2021-12-16 09:52] JiangMaox opened #2284 "Vfio-user target core dumped while running fio job for nvme disk on VM"
# Bug report

Use a malloc bdev as vfio-user transport backend, run fio job to test emulated nvme disk in VM, then nvmf_tgt crashed.
## Expected Behavior

Finished test.
## Current Behavior
nvmf_tgt core dumped.

## Possible Solution

## Steps to Reproduce

1. ./build/bin/nvmf_tgt -p 0 -m 0x1
2. scripts/rpc.py nvmf_create_transport --trtype VFIOUSER
   scripts/rpc.py bdev_malloc_create 128 512 -b

[2021-12-16 11:22] spdkci commented on #2201
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_63929.html

[2021-12-16 11:23] spdkci commented on #1950
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_63918.html

[2021-12-16 16:57] spdkci commented on #2201
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_63957.html

[2021-12-17 00:00] ahribeng commented on #2278
@jimharris, Updated the commit to include testing changes. Didn't seem like an unrelated change so I used the same commit. Let me know if the community prefers them split up.

https://review.spdk.io/gerrit/c/spdk/spdk/+/10633/3/test/nvme/cuse/nvme_ns_manage_cuse.sh

[2021-12-17 00:56] changpe1 commented on #2282
patch has been merged, closing it now.

[2021-12-17 00:56] #2282 closed

[2021-12-17 02:01] changpe1 commented on #2284
@JiangMaox do you have some other actions when doing fio testing in VM?

[2021-12-17 02:15] JiangMaox commented on #2284
@changpe1 No other actions, it still reproduce even though I reboot server.

[2021-12-17 02:18] changpe1 commented on #2284
can you see any exceptions in the VM? you can use `dmesg` to check the kernel log

[2021-12-17 04:53] JiangMaox commented on #2284
[issue.log](https://github.com/spdk/spdk/files/7732139/issue.log)
It still crashed after VM booted a few minutes, full log attached.

[2021-12-17 05:44] changpe1 commented on #2284
There were commands submitted to the backend which didn't return.  Normally each command will print like this:
[2021-12-17 04:30:35.380583] nvme_qpair.c: 269:nvme_io_qpair_print_command: *NOTICE*: READ sqid:3 cid:32 nsid:1 lba:0 len:8 PRP1 0x222d45000 PRP2 0x0
[2021-12-17 04:30:35.380609] nvme_qpair.c: 453:spdk_nvme_print_completion: *NOTICE*: SUCCESS (00/00) qid:3 cid:32 cdw0:0 sqhd:0000 p:0 m:0

[2021-12-17 10:05] spdkci commented on #1950
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_64052.html

[2021-12-17 11:25] spdkci commented on #1950
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_64068.html

[2021-12-17 12:17] spdkci commented on #1950
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_64074.html

[2021-12-17 15:08] tkg61 commented on #2275
@AlekseyMarchuk here is an example with the ib_write_bw

[code]

Client (same vm)

[code]

[2021-12-17 15:08] tkg61 commented on #2275
Any advice on this question? ^^^

[2021-12-18 04:30] spdkci commented on #2128
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_64107.html

[2021-12-18 16:58] AlekseyMarchuk commented on #2275
@tkg61 I'm not aware of who use ESXi.
Regarding your problem with SEND operation error - I'll take a closer look next week. Will it work for you if I prepare some debug patch with more logs for you to reproduce this issue?

[2021-12-19 08:08] MengjinWu opened #2285 "[NVMf failover] Segmentation Fault in Failover."
# Bug report

Failover in NVMf will potentially get a Segmentation Fault.

## Expected Behavior

the host will successfully reconnect to the new target.

## Current Behavior

Segmentation Fault happened.

## Steps to Reproduce

Targets:
`
sudo ./build/bin/nvmf_tgt -m 0x1 -r /tmp/spdk2.sock &
sleep 2
scripts/rpc.py -s /tmp/spdk2.sock nvmf_create_transport -t RDMA -u 8192 -m 4 -c 0
scripts/rpc.py -s

[2021-12-20 16:09] adamagniv commented on #2261
@AlekseyMarchuk @sekar-wdc any update?

[2021-12-20 17:15] AlekseyMarchuk commented on #2261
Yeah, I was looking at your pcap traces at the same moment. I believe the problem is in implementation of RDMA_READ in your target. It looks like the target splits big write nvme commands into several parts and performs several RDMA_READ operations per each nvme command, it may calculate outstanding RDMA_READs incorrectly and limit "responder resources" on the initiator.
That is part of nvme write

[2021-12-21 07:30] wanqunintel opened #2286 "[nvmf_fuzz]llvm_nvme_fuzz help doesn't show -D option usage"
# Bug report
llvm_nvme_fuzz help doesn't show -D option usage

## Expected Behavior
llvm_nvme_fuzz help should show -D option usage

## Current Behavior
llvm_nvme_fuzz help doesn't show -D option usage

## Possible Solution
Add -D option usage

## Steps to Reproduce
1. yum install clang
2. yum install llvm
3. cd <path_to_spdk>
3. CC=clang-12 CXX=clang++-12 ./configure --with-fuzzer=/usr/lib64/clan

[2021-12-21 07:31] wawryk commented on #2280
I forgot to reply here.
WFP18 was configured 7 days ago with WFP17 and log attached above was before I configured machines.

[2021-12-21 07:31] #2280 closed

[2021-12-21 07:57] MengjinWu commented on #2285
I just test that, keeping doing `nvmf_subsystem_remove_listener` and `nvmf_subsystem_add_listener` on targets, the host will abort too.

There is a comment [https://github.com/spdk/spdk/blob/54efe6552b683d3a57458a47e9667f8a9ea170df/test/nvmf/host/multipath.sh#L17](url). It is not only to happen in soft roce.

[2021-12-21 08:49] AlekseyMarchuk commented on #2285
Hi @MengjinWu could you provide call stack when initiator crashes?

[2021-12-21 10:24] mikeBashStuff commented on #2277
Tracking the issue on the fedora's side: https://bugzilla.redhat.com/show_bug.cgi?id=2034556

[2021-12-21 10:37] spdkci commented on #1950
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_63883.html

[2021-12-21 14:31] AlekseyMarchuk commented on #2285
@MengjinWu how often does this issue reproduce if you remove/add listener? I used the latest master `54efe6552 bdev/delay: add missing write_object_end in config_json` and was not able to reproduce it after ~30 iterations. Could you try to update SPDK to the latest version and repeat your test?

[2021-12-21 15:19] spdkci commented on #1950
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_64212.html

[2021-12-21 15:25] AlekseyMarchuk commented on #2285
I just noticed a crash on CI in nvmf_multipath test which adds/removes the listener https://ci.spdk.io/results/autotest-per-patch/builds/64184/archive/nvmf-phy-autotest/build.log. But this crash may be caused by my patches. Unfortunately there is no call stack/core dump

[2021-12-21 22:31] spdkci commented on #1950
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_64259.html

[2021-12-22 00:02] jimharris commented on #2142
Closing.  @kevinnikki, please reopen if you are able to retest with latest master and still see a problem.

[2021-12-22 00:02] #2142 closed

[2021-12-22 00:03] jimharris commented on #2189
Hi @dong-liuliu - any update on this one?

[2021-12-22 00:04] jimharris commented on #2041
This intermittent CI issue has not been seen for 2 months.  Closing.

[2021-12-22 00:04] #2041 closed

[2021-12-22 00:14] jimharris commented on #2273
@tanabarr - can we close this issue?  I think SPDK has now provided what it can to support getting information about devices behind the VMD endpoint when the SPDK VMD driver owns the device.  I think there's still some plumbing work needed in DAOS, but if that's not going to be ready for a while, I'd prefer to close this issue now.  We can revisit down the road if a problem is found with the APIs

[2021-12-22 00:17] jimharris commented on #2256
All patches but one have been merged.  @shuhei-matsumoto could you take a look at the comment on https://review.spdk.io/gerrit/c/spdk/spdk/+/10397?

[2021-12-22 00:19] jimharris commented on #2236
Closing, this looks like a problem with the submitter's IDE configuration.

[2021-12-22 00:19] #2236 closed

[2021-12-22 01:37] ye1xchen opened #2287 "[nvmf_fuzz]run test/nvmf/target/llvm_nvme_fuzz.sh --time=3000 --fuzzer=0 fail"
# Bug report

run test/nvmf/target/llvm_nvme_fuzz.sh --time=3000 --fuzzer=0
*ERROR*: Set Features - Invalid Namespace ID

## Expected Behavior

run test/nvmf/target/llvm_nvme_fuzz.sh --time=3000 --fuzzer=0 without errors

## Current Behavior

run test/nvmf/target/llvm_nvme_fuzz.sh --time=3000 --fuzzer=0
#10254  NEW    cov: 1406 ft: 2906 corp: 268/16Kb lim: 320 exec/s: 4 rss: 486Mb L: 12/320 MS: 5

[2021-12-22 01:46] changpe1 commented on #2286
Thanks @wanqunintel.  Here is the patch to fix it, https://review.spdk.io/gerrit/c/spdk/spdk/+/10814

[2021-12-22 01:49] shuhei-matsumoto commented on #2256
@jsoref @jimharris @tomzawadzki

Will you check my reply on https://review.spdk.io/gerrit/c/spdk/spdk/+/10397?

[2021-12-22 01:59] jsoref commented on #2256
@shuhei-matsumoto: reading through it now.

[2021-12-22 02:02] changpe1 commented on #2287
@ye1xchen this is the purpose for fuzz tests, fuzzer will try all kinds of different input and NVMf target will return error for some cases.

[2021-12-22 02:09] ye1xchen commented on #2287
@changpe1 thanks, I'm not familiar with this, if that so, I will close this issue.

[2021-12-22 02:09] #2287 closed

[2021-12-22 02:27] shuhei-matsumoto commented on #2256
Hi @jsoref

Thanks for the quick update! I'm sorry but the term "stream" was bad. Will you take a look at my reply again?

[2021-12-22 02:34] wanqunintel opened #2288 "[llvm_nvme_fuzz]spdk_nvmf_transport_create: *ERROR*: Unable to allocate buffer pool for poll group"
# Bug report
llvm_nvme_fuzz test with spdk_nvmf_transport_create: *ERROR*: Unable to allocate buffer pool for poll group

## Expected Behavior

## Current Behavior
llvm_nvme_fuzz test with spdk_nvmf_transport_create: *ERROR*: Unable to allocate buffer pool for poll group

## Possible Solution

## Steps to Reproduce
1. ./test/nvmf/target/llvm_nvme_fuzz.sh --time=60000 --fuzzer=0
during the running

[2021-12-22 02:38] wanqunintel opened #2289 "[llvm_nvme_fuzz]nvme_tcp_qpair_connect_sock: *ERROR*: sock connection error of t qpair=0x7fc3af3a1a10 with addr=127.0.0.1, port=4420"
# Bug report
llvm_nvme_fuzz test with nvme_tcp_qpair_connect_sock: *ERROR*: sock connection error of t qpair=0x7fc3af3a1a10 with addr=127.0.0.1, port=4420

## Expected Behavior

## Current Behavior
llvm_nvme_fuzz test with nvme_tcp_qpair_connect_sock: *ERROR*: sock connection error of t qpair=0x7fc3af3a1a10 with addr=127.0.0.1, port=4420

## Possible Solution

## Steps to Reproduce
1../test/nvmf/t

[2021-12-22 04:45] shuhei-matsumoto opened #2290 "[autotest_cleanup] Perf terminated with SIGABRT at nvme_rdma_poll_events ()"
# CI Intermittent Failure

00:13:45.196  Program terminated with signal SIGABRT, Aborted.
00:13:45.196  #0  0x00007fce76a5e9e5 in raise () from /usr/lib64/libc.so.6
00:13:45.196  [Current thread is 1 (Thread 0x7fce75dae640 (LWP 23873))]
00:13:45.196
00:13:45.196  Thread 5 (Thread 0x7fce755ad640 (LWP 23874)):
00:13:45.196  #0  0x00007fce76bff1ff in accept () from /usr/lib64/libpthread.so.0
00:13:45

[2021-12-22 04:46] spdkci commented on #2290
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_64303.html

[2021-12-22 05:22] meilihao opened #2291 "iscsiadm discover failed with "iscsi_pdu_hdr_handle: *ERROR*: before Full Feature""
# Bug report

## Expected Behavior

iscsiadm discover is ok.

## Current Behavior

iscsi_tgt:
[code]

iscsiadm:
[code]

## Steps to Reproduce
1. spdk build:
[code]
2. start iscsi target
[code]

## Context (Environment including OS version, SPDK version, etc.)

env:
- uname: `Linux FYHDESKTOP29 5.15.1-amd64-desktop #1 SMP Tue Nov 9 20:32:54 CST 2021 x86_64 GNU/Linux`
- os : deepin 20.3 (based debia

[2021-12-22 05:31] MengjinWu commented on #2285
@AlekseyMarchuk You can try to just kill the target. It will be reproduced more quickly.

[2021-12-22 05:35] MengjinWu commented on #2285
@AlekseyMarchuk  It will more likely to be aborted comparing with segmentation fault.
![image](https://user-images.githubusercontent.com/17685740/147040784-d10e6ef8-8d0b-45bd-b51b-73a5b6892370.png)

[2021-12-22 06:22] MengjinWu commented on #2285
@AlekseyMarchuk
This requires IOs are performing in the targets.

If you do not want use NBD, you can do as following

[code]

You can also check with

[2021-12-22 06:26] MengjinWu commented on #2285
I think if there are IOs in some part of NVMf, it may crash.

[2021-12-22 06:59] AlekseyMarchuk commented on #2290
Hi Shuhei,

SIGABRT occured on thread 1, it crashed on nvme_rdma_cq_process_completions:2281 function https://github.com/spdk/spdk/blob/2af48ebf5847a5588cf516040b6c0059ddf290c8/lib/nvme/nvme_rdma.c#L2281
That is a soft roce problem, I addressed this issue in https://review.spdk.io/gerrit/c/spdk/spdk/+/10327
Also on yesterday's community meeting @karlatec raised a question to disable soft roce/rxe

[2021-12-22 07:13] spdkci commented on #2128
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_64251.html

[2021-12-22 07:15] meilihao commented on #2291
more log:
[code]

[2021-12-22 07:53] spdkci commented on #2247
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_64233.html

[2021-12-22 08:13] spdkci commented on #2128
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_64323.html

[2021-12-22 08:37] ksztyber opened #2292 "[rdma/nvmf_delete_subsystem] initiator segfault"
Looks like the initiator was killed when processing completions:
[code]
Also, seems like the test didn't fail, but the coredump was caught at the end of autotest.

## Link to the failed CI build
https://ci.spdk.io/results/autotest-per-patch/builds/64232/archive/nvmf-vg-autotest/build.log
https://ci.spdk.io/public_build/autotest-per-patch_64232.html

[2021-12-22 08:38] spdkci commented on #2292
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_64232.html

[2021-12-22 08:38] spdkci commented on #2292
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_64322.html

[2021-12-22 08:42] ksztyber commented on #2292
Closing, this is a duplicate of #2290.

[2021-12-22 08:42] #2292 closed

[2021-12-22 08:48] changpe1 commented on #2291
@meilihao can you have a try without enable io_uring? looks like the response PDU didn't send to client before the next PDU. I'm wondering it happened only with io_uring enabled.

[2021-12-22 09:34] ksztyber opened #2293 "Intermittent CI failures"
Looks like lots of patches failed on the CI yesterday (Dec 21st) because of various issues: either builds were timing out, or not starting at all (`logs have not been generated`). It should already be resolved, but opening this issue in case it reappears and to have something to point the failures on gerrit.
[code]

## Link to the failed CI build
https://ci.spdk.io/public_build/autotest-per-patch_

[2021-12-22 09:35] spdkci commented on #2293
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_64301.html

[2021-12-22 09:36] spdkci commented on #1950
Another instance of this failure. Reported by @wanghailiangx. log: https://ci.spdk.io/public_build/autotest-per-patch_64340.html

[2021-12-22 09:41] shuhei-matsumoto commented on #2290
Thank you @AlekseyMarchuk Your patch looks fine to me.

[2021-12-22 09:43] spdkci commented on #1950
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_64273.html

[2021-12-22 09:50] spdkci commented on #2293
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_64306.html

[2021-12-22 09:58] spdkci commented on #2201
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_64330.html

[2021-12-22 10:05] meilihao opened #2294 "nvme discover failed"
# Bug report

## Expected Behavior

nvme discover is ok.

## Current Behavior

nvmf_tgt:
[code]

ps: must to kill by `kill -9` and `Ctrl+C` didn't work

nvme-cli:
[code]

## Steps to Reproduce
1. spdk build:
[code]
2. start nvmf_tgt
[code]

## Context (Environment including OS version, SPDK version, etc.)

env:
- uname: `Linux FYHDESKTOP29 5.15.1-amd64-desktop #1 SMP Tue Nov 9 20:32:54 CST 2021 x8

[2021-12-22 10:13] spdkci commented on #2293
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_64286.html

[2021-12-22 10:14] spdkci commented on #2290
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_64246.html

[2021-12-22 10:16] spdkci commented on #2293
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_64296.html

[2021-12-22 11:18] shuhei-matsumoto commented on #2291
Hi @meilihao

I agree with Changpeng.

[code]
shows login will succeed and the remaining operation is to send a response. However, before completing to send a response, the next PDU came.

A patch to write login response asynchronously was merged almost two years ago.
SPDK test pool has a system to test io_uring with SPDK iSCSI target but we haven't seen similar failure yet.

It looks that you all

[2021-12-22 11:28] meilihao commented on #2291
@changpe1  I tried with `./configure  --enable-debug`, "iscsiadm -m discovery" is ok, but `iscsiadm --login` failed :
[code]
iscsi_tgt log:
[code]

[2021-12-22 11:38] shuhei-matsumoto commented on #2291
@meilihao Thank you for your nice trial.

Please set netmask to ANY as follows:
[code]

[2021-12-22 11:42] shuhei-matsumoto commented on #2291
For portal group, we can use 0.0.0.0 as IPv4 wildcard but it's not for initiator group.
Please use ANY as netmask if you want to accept any initiator port for now.

[2021-12-22 11:47] meilihao commented on #2291
Thanks, `./scripts/rpc.py iscsi_create_initiator_group 2 ANY ANY` works. Then I will to try `allocate multiple CPU cores with io_uring`.

[2021-12-22 12:17] meilihao commented on #2291
spdk build:
[code]

iscsi_tgt:
[code]
@shuhei-matsumoto all failed and must to kill by `kill -9`, `Ctrl+C` doesn't work.

[2021-12-22 12:19] meilihao commented on #2291
wrong commit to close it and reopened.

[2021-12-22 12:33] spdkci commented on #2157
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_64374.html

[2021-12-22 12:41] meilihao commented on #2294
Inspired by [issue 2291](https://github.com/spdk/spdk/issues/2291), spdk without io_uring, `nvme discover` is ok, but `nvme connect ` failed:
[code]

[code]
nvmf_tgt log when `nvme connect`:
[code]

[2021-12-22 13:39] ksztyber commented on #2294
Hey @meilihao, I'm not sure what happened in your original report, but the reason the connect fails in your second attempt is because of `traddr`: the listener uses `0.0.0.0`, while you're connecting to `127.0.0.1`. It should work if you change
[code]
to
[code]
I guess this happens, because the listener listens on all interfaces, but compares the address of the accepted host connection (`127.0.0.1

[2021-12-22 14:06] jimharris commented on #2294
I don’t think 0.0.0.0 (INADDR_ANY) is a valid listener address.  Listener addresses are passed to hosts in discovery log page entries, and hosts cannot use 0.0.0.0 to connect to subsystems, they need an explicit address.

Requiring the target to expand INADDR_ANY to it’s possible set of IP addresses isn’t a viable option either. It would require the target to detect when interfaces are added or re

[2021-12-22 14:26] ksztyber commented on #2294
I haven't thought about that, it makes complete sense, we need to return something in the discovery log page and cannot reliably detect all valid interfaces.

[2021-12-22 14:51] spdkci commented on #1950
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_64399.html

[2021-12-22 14:57] jimharris commented on #2294
Hi @meilihao, can you explain more about this comment?

Do you mean that you are not able to simply Ctrl-C to kill the target?  Does this problem still occur if you remove the '-L all' when starting the target?

[2021-12-22 14:59] spdkci commented on #1950
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_64397.html

[2021-12-22 15:39] spdkci commented on #2201
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_64404.html

[2021-12-22 16:53] mikeBashStuff opened #2295 "[reactor_set_interrupt] target reactor not going idle in time"
https://ci.spdk.io/public_build/autotest-per-patch_64418.html

[code]

[2021-12-22 16:54] spdkci commented on #2295
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_64418.html

[2021-12-22 16:56] spdkci commented on #1969
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_64421.html

[2021-12-22 18:21] spdkci commented on #1950
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_64437.html

[2021-12-22 18:23] spdkci commented on #1950
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_64432.html

[2021-12-22 18:23] spdkci commented on #2201
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_64438.html

[2021-12-22 18:27] spdkci commented on #2201
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_64422.html

[2021-12-22 21:49] spdkci commented on #2268
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_64458.html

[2021-12-22 23:03] spdkci commented on #2295
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_64476.html

[2021-12-23 01:41] meilihao commented on #2294
`./configure  --enable-debug`+`nvmf_subsystem_add_listener nqn.2016-06.io.spdk:cnode1 -t TCP -a 127.0.0.1 -s 4420` is ok.

socket program usually uses "0.0.0.0" , so I did not hesitate to use it.

@jimharris  When using `./configure --with-uring --enable-debug`, i am not able to simply Ctrl-C to kill the target. And this problem still occur when i removed the '-L all'.

[2021-12-23 06:11] spdkci commented on #2290
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_64452.html

[2021-12-23 06:35] wanqunintel commented on #2286
verified and now we can see this -D option now.
 -D                        Path of corpus directory.
 -F                        Transport ID for subsystem that should be fuzzed.
 -t                        Time to run fuzz tests (in seconds). Default: 10
 -Z                        Fuzzer to run (0 to 1)

[2021-12-23 07:00] changpe1 commented on #2284
For the above test cases, VM may send 128 IO requests for each IO queue pair and each IO request may have 32 IOVs, so when using malloc device as the backend, we may exhaust 128 * 32 acceleration tasks while the number of acceleration tasks is 0x800, so we will hit ENOMEM from acceleration engine.  Then IOs will retry again and again in the bdev layer until timeout happened.

[2021-12-23 07:07] changpe1 commented on #2284
To fix this patch
1. We need to avoid segment fault when aborting the timeout requests.
2. 0x800 maybe too small for VM test cases, instead of using task pool, we may use malloced acceleration tasks when doing IO.

[2021-12-23 07:12] changpe1 commented on #2284
https://review.spdk.io/gerrit/c/spdk/spdk/+/10836 currently will exit the submission earlier.

[2021-12-23 08:36] #2286 closed

[2021-12-23 09:25] mikeBashStuff opened #2296 "spdk_top.c: implicit declaration of function ‘print_bottom_error_message’"
[code]

Building SPDK may fail with something similar to:

[code]

Potential culprit: https://review.spdk.io/gerrit/c/spdk/spdk/+/10016

[2021-12-23 09:29] mikeBashStuff commented on #2296
Potential fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/10837

[2021-12-23 09:41] Apokleos commented on #2282
@changpe1 Thanks Changpeng.
I have tested it with the version `commit 2af48ebf5847a5588cf516040b6c0059ddf290c8`, it seems that the bugfix doesn't work and with the same errors.

[2021-12-23 11:18] spdkci commented on #2296
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_64539.html

[2021-12-23 11:18] spdkci commented on #2296
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_64541.html

[2021-12-23 11:19] spdkci commented on #2296
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_64543.html

[2021-12-23 13:25] zhangke96 opened #2297 "vhost_blk: dummy_io_channel useless"
# Bug report

Get `dummy_io_channel` in `spdk_vhost_blk_construct` function useless, the io channel get from app_thread, which handle rpc.
Actually we use io channel which get from `vdev->thread` created in `vhost_dev_register`.
`spdk_get_io_channel`  only share io_channel in the same spdk thread.
The `dummy_io_channel` can't hold the reference and reduce io_channel get/put count.

get/put io_chan

[2021-12-23 14:01] AlekseyMarchuk commented on #2290
Patch merged, closing this issue

[2021-12-23 14:01] #2290 closed

[2021-12-23 14:02] spdkci commented on #2128
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_64603.html

[2021-12-23 14:05] AlekseyMarchuk commented on #2285
@MengjinWu can you try to reproduce this issue with these 3 patches https://review.spdk.io/gerrit/c/spdk/spdk/+/10840 ?

[2021-12-23 14:59] spdkci commented on #2128
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_64617.html

[2021-12-23 15:01] spdkci commented on #1950
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_64607.html

[2021-12-23 15:28] mikeBashStuff commented on #1950
Unfortunately, https://github.com/spdk/spdk/commit/977a53573fa06fcb86d62bf6162c0e859d2bc0df didn't seem to help:

https://ci.spdk.io/public_build/autotest-per-patch_64607.html

[code]
This is how the setup should look like on the system while running the scheduler tests:
[code]

For the above, the only thing that may still technically  jump onto `/cpuset/spdk` cpus are the kernel threads (and ther

[2021-12-23 16:53] spdkci commented on #2128
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_64638.html

[2021-12-23 16:55] mikeBashStuff opened #2298 "[scheduler] Failed to remove /cpuset/all cgroup"
https://ci.spdk.io/public_build/autotest-per-patch_64640.html

[2021-12-23 16:56] spdkci commented on #2298
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_64640.html

[2021-12-24 04:42] MengjinWu commented on #2285
@AlekseyMarchuk I tried it. While there are IOs in the NVMf, the close of the target will still cause the abortion of the client.

I will look at the failover because I think it is the async failover process not correctly handled..

[2021-12-24 06:39] Comphix commented on #2260
As discussed, there are several areas needs the enhancement for the resize operation from iSCSI Target.

1. Take NULL bdev as example, once NULL bdev is resized on the iSCSI Target side, the resize_cb needs to be properly set to "lun->resize_cb" in the SCSI Dev construct
2. Once the resize_cb is there and the resize is triggered, in-operation and finished, needs to update with iSCSI target (so far

[2021-12-24 07:40] shuhei-matsumoto commented on #2285
Hi @MengjinWu

Will you cherry-pick 3 patches
https://review.spdk.io/gerrit/c/spdk/spdk/+/10128/31
https://review.spdk.io/gerrit/c/spdk/spdk/+/10301/20
https://review.spdk.io/gerrit/c/spdk/spdk/+/10250/25

and then
- add two more options, -l -1 and -o 10, to the bdev_nvme_attach_controller RPC call.
-l is ctrlr_loss_timeout_sec, and -o is reconnect_delay_sec.

- call bdev_nvme_set_options -r -1

T

[2021-12-24 12:40] MengjinWu commented on #2285
@shuhei-matsumoto Yes I have tried these patches. I know that you can recently focus on multipath. But it still happened even with these added options and commands.

I am trying to fix these problems. But I am not sure if my fix will affect your patches.

[2021-12-24 12:45] MengjinWu commented on #2285
So far, I only found this problem in RDMA mode.

[2021-12-25 11:24] shuhei-matsumoto commented on #2285
I saw similar failure in https://ci.spdk.io/public_build/autotest-per-patch_65444.html.
[code]

Hi @AlekseyMarchuk

@MengjinWu said "I think if there are IOs in some part of NVMf, it may crash."

We may be able to use delay bdev (we can create it by bdev_delay_create) to hold I/Os in the target when adding/removing listener. How do you think?

[2021-12-27 02:42] changpe1 commented on #2282
You may use `git submodule update` to update your submodule first.

[2021-12-27 04:43] spdkci commented on #2128
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_66424.html

[2021-12-27 04:43] spdkci commented on #2128
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_66426.html

[2021-12-27 06:08] changpe1 commented on #2297
@zhangke96 as the comment for `dummy_io_channel`, this is useful when starting VM, can you describe your issue more clearly?
what's the problem when using `dummy_io_channel` ?

[2021-12-27 06:16] changpe1 commented on #2256
@jsoref thanks for all the spelling fixes, all patches are merged, closing it now.

[2021-12-27 06:16] #2256 closed

[2021-12-27 06:17] changpe1 commented on #2296
patch has been merged, closing it now.

[2021-12-27 06:17] #2296 closed

[2021-12-27 06:20] spdkci commented on #2128
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_66450.html

[2021-12-27 08:55] changpe1 commented on #2288
NVMf uses dynamic controller model for TCP transport and we will do connect/disconnect in client for llvm fuzz test, so each new connection is one new controller with new CNTLID, the memory will be exhausted in NVMf target, so the tests can't run long time.

[2021-12-27 08:58] changpe1 commented on #2288
we can connect the nvmf target before the fuzz test, and then disconnect it after fuzz test, I will fix it in this way.

[2021-12-27 09:03] shuhei-matsumoto commented on #2285
I pushed a patch series made of 20 patches starting from https://review.spdk.io/gerrit/c/spdk/spdk/+/10128/34 and I got this failure 7 times.

@AlekseyMarchuk I hope you will be able to reproduce this failure by using delayed bdev. Will you try when you can? Of course I should do it by myself soon though.
https://ci.spdk.io/public_build/autotest-per-patch_66504.html
https://ci.spdk.io/public_build

[2021-12-27 10:01] ye1xchen commented on #2294
I try to test in following environment, and I can‘t reproduce this problem.
os: debian11.2 / fedora32
spdk: v21.10 / last_master

using ./configure --with-uring --enable-debug + nvme connect -t tcp -n "nqn.2016-06.io.spdk:cnode1" -a 127.0.0.1 -s 4420 is ok.
Ctrl-C kills the target successfully.

[2021-12-27 11:53] spdkci commented on #2285
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_66543.html

[2021-12-27 11:54] spdkci commented on #2046
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_66541.html

[2021-12-27 11:56] spdkci commented on #2140
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_66538.html

[2021-12-27 12:02] shuhei-matsumoto opened #2299 "[nvmf_multipath] nvmf_stop_listen_disconnect_qpairs() used qpair->ctrlr even if it was NULL."
# CI Intermittent Failure

[code]
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_66545.html

## Execution failed at

[code]

[2021-12-27 12:04] spdkci commented on #2299
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_66545.html

[2021-12-27 12:05] spdkci commented on #2285
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_66547.html

[2021-12-27 20:15] mikeBashStuff opened #2300 "bdvperf hit by SIGABRT during nvmf_multipath host test"
[code]

This currently affects the CI pool (to some degree), however, for some reason core dumps are not being caught by the autotest suite (investigating under https://review.spdk.io/gerrit/c/spdk/spdk/+/10853). That said, I am able to trigger this issue by running the test in the loop. Results:

[code]

[bdevperf_core.zip](https://github.com/spdk/spdk/files/7781691/bdevperf_core.zip)

[2021-12-27 20:23] mikeBashStuff commented on #2300
Here is another example, but `bdevperf` fails sooner, before `nvmf_subsystem_remove_listener()` is called (still under the same test):

[code]

[bdevperf_core.zip](https://github.com/spdk/spdk/files/7781708/bdevperf_core.zip)

[2021-12-27 20:40] ahribeng opened #2301 "cuse: metadata support missing from io commands"
# Bug report

Currently IO commands do not take into account metadata.

## Expected Behavior
For commands that have data transfer set to controller => host, the cuse layer should allow metadata address to be written to and the callback should return metadata from the device.
For commands that have data transfer set to host => controller, the cuse layer should allow metadata address to be read from

[2021-12-27 23:28] ahribeng commented on #2301
This is how experimental patch was tested:
[code]

[2021-12-27 23:33] ahribeng commented on #2301
Tested the experimental patch with the following:
[code]

[2021-12-28 01:01] shuhei-matsumoto commented on #2299
This is duplicated with #2300. Let's close this.

[2021-12-28 01:01] #2299 closed

[2021-12-28 02:18] Apokleos commented on #2282
Hi,@Changpeng, I have cloned a new one and do `git submodule update`, got the same error.
So, I think the bugfix doesn't work.
And I have tested libvfio-user(`master 17769cf fix coverity issues`), got the similar error.

[2021-12-28 02:45] changpe1 commented on #2282
I see, I suggest to submit an issue to https://github.com/nutanix/libvfio-user, SPDK removed direct use of `PCI_CFG_SPACE_SIZE/PCI_CFG_SPACE_EXP_SIZE`.

[2021-12-28 05:49] shuhei-matsumoto commented on #2300
Hi @mikeBashStuff

Thanks for reporting and investigating this issue.
The patch https://review.spdk.io/gerrit/c/spdk/spdk/+/10860 should fix this issue.
Will you try when you can?

-Shuhei

[2021-12-28 05:59] changpe1 commented on #2288
Here is the patch to fix it, https://review.spdk.io/gerrit/c/spdk/spdk/+/10863

[2021-12-28 06:46] shuhei-matsumoto commented on #2300
Sorry @mikeBashStuff

The patch did not fix this issue.
Reverting https://github.com/spdk/spdk/commit/79727986e0e9d698d492572e1d4594ba27520683#diff-b49e47085053e4c526ccf1052e0ae9d9fa94b5a06b66cc6058dd6d8ecedc356d will be worth to try.

[2021-12-28 06:52] meilihao commented on #2294
today i retried:
1. `./configure --with-uring --with-rdma  --enable-debug` + `nvmf_create_transport -t TCP` + `nvme discover -t tcp` is ok.
1.  `./configure --with-uring --with-rdma  --enable-debug` + `nvmf_create_transport -t RDMA` + `nvme discover -t rdma`  is ok.
1. `./configure --with-uring  --enable-debug` + `nvmf_create_transport -t TCP` + `nvme discover -t tcp` reproduced the issue.
1. `./c

[2021-12-28 06:59] meilihao commented on #2291
Is there any update on issue?

[2021-12-28 07:14] ye1xchen commented on #2294
The liburing version I use is https://git.kernel.dk/cgit/liburing/snapshot/liburing-master.tar.gz.
@meilihao Can you update liburing and retry?

[2021-12-28 07:55] changpe1 commented on #2291
My guess this issue does exist, but I didn't reproduce it in my local environment, so I guess it only happen with some distros, like what you tried above.

[2021-12-28 07:56] changpe1 commented on #2291
I used 5.11.12-300.fc34.x86_64 and liburing.so.1.0.7 for my testing.

[2021-12-28 08:15] optimistyzy commented on #2291
IMHO: if some environment works and some not. It is better to run some io uring test on your environment first. Because for using io_uring on network, there is kernel version dependency. According to my experience, it should be use kernel version > 5.4.3 (not exactly accurate or correct.)

[2021-12-28 08:36] changpe1 commented on #2291
https://review.spdk.io/gerrit/c/spdk/spdk/+/10868, @meilihao I submitted a patch, can you have a try to see it fix your issue or not?

[2021-12-28 08:41] mikeBashStuff commented on #2300
@shuhei-matsumoto Sure, will try to test it out as soon as possible.

[2021-12-28 09:10] MengjinWu commented on #2285
@shuhei-matsumoto I think it is the problem from past. And I am looking at this to reorganize the reconnect process .

[2021-12-28 09:18] meilihao commented on #2294
I used [axboe liburing-2.1](https://github.com/axboe/liburing/releases/tag/liburing-2.1), because `liburing make-debs.sh` need a git repo.

**And it works**.

Thanks for your help.

[2021-12-28 09:18] #2294 closed

[2021-12-28 09:27] jiewei-ke opened #2302 "nvmf/rdma: not all spdk memory needs to be registered to rdma memory region"
# Bug report

When using nvmf/rdma together with ioat, it takes a long time to create rdma transport, e.g. about 1 min in my testbed with 4 rdma nics and 700GB pmem.

The ioat engine needs to call spdk_mem_register() to register the whole pmem memory to spdk. While for nvmf/rdma, spdk_rdma_create_mem_map() will register all memory to the rdma memory region unconditionally. The ibv_reg_mr() call wi

[2021-12-28 09:32] shuhei-matsumoto commented on #2285
Hi @MengjinWu

Thanks for investigating this issue in detail.

This non-multipath failover is different from the multipath failover.
I am focusing more on the multipath failover than the non-multipath failover now.
So I do not know the root cause yet and do not have any other idea about how we should implement this non-multipath failover.

I'm looking forward to see your idea :)

[2021-12-28 09:36] meilihao commented on #2291
My kernel is 5.15, so i upgraded liburing from 0.7 to 2.1 with [axboe liburing-2.1](https://github.com/axboe/liburing/releases/tag/liburing-2.1), **and it works**.

Thanks for your help.

[2021-12-28 09:36] #2291 closed

[2021-12-28 09:57] meilihao commented on #2291
Maybe spdk needs to indicate the version of liburing.

[2021-12-28 09:57] meilihao commented on #2294
Maybe spdk needs to indicate the version of liburing.

[2021-12-28 11:36] mikeBashStuff commented on #2300
@shuhei-matsumoto I am afraid there's no change - in both cases I got hit by https://github.com/spdk/spdk/issues/2300#issuecomment-1001739560.

[2021-12-28 12:13] shuhei-matsumoto commented on #2300
Thank  you @mikeBashStuff !

The issue reported by you occurred at the target side but the new failure occurred at the initiator side.
No issue is the best but what we wanted to get was the issue at the initiator side rather than the target side.

The new issue looks similar with https://github.com/spdk/spdk/issues/2285

I am not certain if I can do but I will let you know if I find the root cause

[2021-12-28 13:29] spdkci commented on #2300
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_66647.html

[2021-12-28 14:04] spdkci commented on #2298
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_66648.html

[2021-12-28 14:52] spdkci commented on #2298
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_66649.html

[2021-12-28 19:23] spdkci commented on #2300
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_66655.html

[2021-12-28 20:12] spdkci commented on #2114
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_66656.html

[2021-12-28 21:51] shuhei-matsumoto commented on #2300
Hi @mikeBashStuff

I added another patch to fix the second issue https://review.spdk.io/gerrit/c/spdk/spdk/+/10901
Will you try again with https://review.spdk.io/gerrit/c/spdk/spdk/+/10860 and https://review.spdk.io/gerrit/c/spdk/spdk/+/10901 ?]

@AlekseyMarchuk It looks that we need to remove an assert from https://github.com/spdk/spdk/commit/eb09178a59bac1679767eb7bc0d7c05da8d9b3ca
Please check

[2021-12-28 23:20] ahribeng opened #2303 "cuse: Missing IOCTLs for 64 bit results"
# Bug report

NVME_IOCTL_ADMIN64_CMD and NVME_IOCTL_IO64_CMD are missing from the cuse IOCTLs.
In NVMe 2.0 its possible for cdw0 and cdw1 to be used for the results field. This is currently missing

## Expected Behavior

SPDK should attempt to run the command even if the cmd uses extended results

## Current Behavior

Currently spdk will return an error with "Unsupported IOCTL"

## Possible Soluti

[2021-12-29 02:14] shuhei-matsumoto opened #2304 "[nvme_hotplug] Successful insertions was fewer than required or timeout occurred"
# CI Intermittent Failure

[code]

Another timeout log was

[code]
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_66661.html

## Execution failed at

[code]

[2021-12-29 02:15] spdkci commented on #2304
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_66661.html

[2021-12-29 02:17] spdkci commented on #2298
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_66672.html

[2021-12-29 02:17] spdkci commented on #2298
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_66677.html

[2021-12-29 02:21] spdkci commented on #2304
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_66670.html

[2021-12-29 04:20] changpe1 commented on #2267
My identify binary shows that there is one hugepage file left when exiting the application, if you are talking about this, here is the fix patch, because SPDK doesn't call `rte_eal_cleanup` when exiting.

https://review.spdk.io/gerrit/c/spdk/spdk/+/10904

[2021-12-29 07:46] shuhei-matsumoto commented on #2300
Thank you @mikeBashStuff

Two patches were merged and the test pool looks more stable.
Please reopen if needed.

[2021-12-29 09:04] Lyhugo opened #2305 "Error occurs when I use spdk_ioat to do memcpy concerning pmem"
I have successfully used spdk_ioat to do memcpy between buffer and the address of a regular file mmap.
In brief, I mmap a file with the flag of MAP_HUGETLB to use the 2MB-align page and then use `spdk_mem_register` to register the specified memory region.

Next, I would like to do some tests in pmem with a similar approach, but the results are different.
At first, I equipped ext4-DAX with 2MB huge

[2021-12-29 09:05] mikeBashStuff commented on #2304
First part of the log looks quite similar to https://github.com/spdk/spdk/issues/2201.

[2021-12-29 09:05] Lyhugo commented on #2305
Sorry to trouble you to change the label to the problem

[2021-12-29 09:34] Lyhugo commented on #2234
I have successfully used spdk_ioat to do memcpy between buffer and the address of a regular file mmap.
In brief, I mmap a file with the flag of MAP_HUGETLB to use the 2MB-align page and then use `spdk_mem_register` to register the specified memory region.

Next, I would like to do some tests in pmem with a similar approach, but the results are different.
At first, I equipped ext4-DAX with 2MB huge

[2021-12-29 09:37] mikeBashStuff commented on #2300
I have been running this particular test in a loop against the latest master for some time now and indeed it looks stable. Thanks for all the fixes! :)

[2021-12-29 10:03] mikeBashStuff commented on #2300
Actually, I spoke too soon, the test just failed on me. Core info attached below:

[code]

Point of failure:
[code]
Not sure if this is not a new issue though.
[bdevperf_core.zip](https://github.com/spdk/spdk/files/7788243/bdevperf_core.zip)

[2021-12-29 10:12] #2234 closed

[2021-12-29 11:04] shuhei-matsumoto commented on #2300
Thank you again @mikeBashStuff

The assert we got was not expected. I will investigate it and  let you know if I find anything.
Thanks for your patience.

[2021-12-29 15:51] benlwalker commented on #2305
Linux does not support long term page pins for files in filesystems because it can prevent the filesystem from performing critical data movement operations. Because of this, you can only register pmem on a devdax mount, not fsdax. This is expected behavior.

Future platform DMA engines simply won't require the memory to be pinned, so this is only a temporary limitation with current generation hard

[2021-12-29 15:51] #2305 closed

[2021-12-29 22:20] shuhei-matsumoto commented on #2304
Thank you @mikeBashStuff again. This is duplicated with #2201. I did not catch up the recent activities at all. I'm reviewing the patches  to fix this issue.

[2021-12-29 22:20] #2304 closed

[2021-12-30 07:31] MeinhardZhou opened #2306 "Blob/Lvol: Input/output error while running fio job for nvmf disk"
# Bug report

Use a nvme/lvol(**thin-provisioning**) as nvmf tcp transport backend, and run a randwrite fio with 8 jobs, 128 iodepth. And there will raise io_u error.

## Expected Behavior

Normal operation and no error

## Current Behavior
[code]

## Possible Solution

## Steps to Reproduce

target:
1. ./build/bin/nvmf_tgt
2. ./scripts/rpc.py bdev_nvme_attach_controller -b NVMe0 -t PCIe -a 0000:$

[2021-12-30 07:51] shuhei-matsumoto commented on #2300
Hi @mikeBashStuff

You found a critical bug again. I created a fix and verified it by adding unit test. Will you run the failover test in a loop again when you can? We may have more bugs but I hope the test will run longer. https://review.spdk.io/gerrit/c/spdk/spdk/+/10921/1

[2021-12-30 09:30] wanghailiangx opened #2307 "[autobuild_check_format] Checking function naming failed on removing a function"
It's understandable that the new function with the same name reports an error,
but I'm just moving a position here. I think it shouldn't report an error.
Please see: https://review.spdk.io/gerrit/c/spdk/spdk/+/10923

00:02:42.952  ************************************
00:02:42.952  START TEST autobuild_check_format
00:02:42.952  ************************************

## Link to the failed CI build

[2021-12-30 11:51] mikeBashStuff commented on #2300
@shuhei-matsumoto Appreciate the feedback! I think this particular issue is gone, or at least it didn't resurface again (tested your patch since this morning so it managed to run for a long time). :)

[2021-12-30 12:17] spdkci commented on #2298
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_66819.html

[2021-12-30 12:20] shuhei-matsumoto commented on #2300
Oh, thank you @mikeBashStuff ! I'm happy to know that.

[2021-12-30 12:57] spdkci commented on #2298
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_66824.html

[2021-12-30 14:15] spdkci commented on #2201
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_66830.html

[2021-12-30 23:00] spdkci commented on #2298
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_66798.html

[2021-12-30 23:02] spdkci commented on #2298
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_66797.html

[2021-12-31 12:19] mikeBashStuff commented on #2298
Potential fix(es) in the series https://review.spdk.io/gerrit/c/spdk/spdk/+/10872.

[2022-01-02 17:30] spdkci commented on #2298
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_66962.html

[2022-01-03 07:30] Maciej-Szwed commented on #2139
We decided to not test current main branch from Openstack as it is often very unstable. We will be still testing its latest release. Closing.

[2022-01-03 07:30] #2139 closed

[2022-01-03 15:26] mikeBashStuff opened #2308 "[nvme_hotplug] Test blocked indefinitely leading to a job (zns-vg-autotest) timeout"
Point of failure:

[code]

It looks like the `hotplug` app blocked for over 11 minutes before jenkins finally terminated the job. From the logs it looks like `remove_attach_helper()` finished as the loop went through all the `hotplug_events`. Kernel also did complain at that time:

[code]

[2022-01-03 15:28] spdkci commented on #2308
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_66965.html

[2022-01-03 17:03] rafalste opened #2309 "Timeout while waiting for devices to be reattached to the nvme driver (between tests)"
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/67003/archive/nvme-vg-autotest/build.log

## Execution failed at
[code]

[2022-01-03 17:04] spdkci commented on #2309
Another instance of this failure. Reported by @rafalste. log: https://ci.spdk.io/public_build/autotest-per-patch_67003.html

[2022-01-04 02:47] changpe1 commented on #2302
Are you saying that for your 700GiB pmem memory region, you only want to access them via IOAT, the RDMA NICs will not access them, so they don't need to be registered to RDMA memory region?

If so, currently SPDK doesn't have a good idea to address this issue.  We don't have different types of memory region now.

[2022-01-04 02:48] #2297 closed

[2022-01-04 02:50] #2276 closed

[2022-01-04 02:53] changpe1 commented on #2267
For dynamic memory model(default mode), SPDK applications will leave one hugepage file after exiting the processes, for static memory model(-m 1024), SPDK applications will leave all the hugepage files when exiting, my above patch serial can fix this issue.

[2022-01-04 03:18] jiewei-ke commented on #2302
Yes. Could we add some other API to let users choose which memory regions need to be registered to the RDMA memory region?

[2022-01-04 06:25] changpe1 commented on #2302
Maybe you can add a new callback in `spdk_mem_map_ops`, e.g: filter_cb to allow user to define the rule which memory region is allowed to register.

SPDK's default policy is to allow every memory region, then you may need to rewrite your own filter rule.

[2022-01-04 07:11] jiewei-ke commented on #2302
Thanks @changpe1 for your suggestion.

A simple workaround for me to speed up the `spdk_rdma_create_mem_map() ` is to skip those huge-size memory regions. But maybe we need a better way.

We may add filter_cb in `spdk_mem_map_ops` and user can pass the filter_cb by `struct spdk_nvme_rdma_hooks`. But it's hard for user to write the filtering rule since not all spdk memory is registered by the user.

[2022-01-04 07:36] changpe1 opened #2310 "Assertion `wc[i].opcode == IBV_WC_SEND' failed"
# Bug report
when running test/nvmf/host/perf.sh with perf tool, we will call
`$rpc_py nvmf_delete_subsystem nqn.2016-06.io.spdk:cnode1` to delete the subsystem in nvmf_tgt, and nvmf_tgt will report
the following assertion:

00:08:41.444  nvmf_tgt: rdma.c:3833: nvmf_rdma_poller_poll: Assertion `wc[i].opcode == IBV_WC_SEND' failed.

## Steps to Reproduce

https://ci.spdk.io/results/autotest-per-pat

[2022-01-04 07:36] changpe1 commented on #2310
00:08:38.874   05:37:34	-- host/perf.sh@47 -- # /var/jenkins/workspace/nvmf-phy-autotest/spdk/build/examples/perf -q 128 -o 262144 -w randrw -M 50 -t 2 -r 'trtype:rdma adrfam:IPv4 traddr:192.168.100.8 trsvcid:4420' --transport-stat
00:08:38.874  [2022-01-04 05:37:34.482404] Starting SPDK v22.01-pre git sha1 ae7b7d511c5 / DPDK 21.08.0 initialization...
00:08:38.874  [2022-01-04 05:37:34.482496] [ D

[2022-01-04 07:49] changpe1 commented on #2302
that's true. @AlekseyMarchuk any comments about this issue?

[2022-01-04 07:53] spdkci commented on #2310
Another instance of this failure. Reported by @changpe1. log: https://ci.spdk.io/public_build/autotest-per-patch_67078.html

[2022-01-04 08:12] shuhei-matsumoto commented on #2310
Hi @changpe1

I added a workaround patch https://review.spdk.io/gerrit/c/spdk/spdk/+/10955/1

[2022-01-04 08:13] shuhei-matsumoto commented on #2310
This failure is too frequent to overlook. I am not certain if this is good enough though.

[2022-01-04 09:46] ksztyber commented on #2310
Also seems to happen in other tests, here in `delete_subsystem.sh`:
[code]

[2022-01-04 09:47] spdkci commented on #2310
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_66999.html

[2022-01-04 09:50] spdkci commented on #2310
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_67001.html

[2022-01-04 09:52] spdkci commented on #2310
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_67002.html

[2022-01-04 09:53] spdkci commented on #2310
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_67004.html

[2022-01-04 11:57] shuhei-matsumoto commented on #2310
`00:10:41.994  [2022-01-04 11:12:11.728486] rdma.c:3834:nvmf_rdma_poller_poll: *WARNING*: Unexpected opcode: 136
`

is IBV_WC_DRIVER2.

The man page says

       IBV_WC_DRIVER1 will be reported as a response to IBV_WR_DRIVER1
       opcode; IBV_WC_DRIVER2/IBV_WC_DRIVER3 will be reported on
       specific driver operations.

The patch https://github.com/spdk/spdk/commit/b9518a554016ccc65903ce961cd

[2022-01-04 15:23] spdkci commented on #2310
Another instance of this failure. Reported by @rafalste. log: https://ci.spdk.io/public_build/autotest-per-patch_67146.html

[2022-01-04 17:04] benlwalker commented on #2302
The reason we have historically registered everything is that we support zero copy sending in nvmf/rdma. The data buffer is provided by the bdev in that case, so rather than having each individual bdev decide to register it's memory with RDMA, we just registered everything.

We could move away from this model by maybe having a flag on the allocation calls or the memory registration calls.

[2022-01-04 17:26] benlwalker commented on #2288
Are we leaving ourselves open to DDoS with this behavior? I'm not worried about an intentional attack so much as an initiator bug reconnecting repeatedly that blocks anyone else from being able to connect. Maybe instead, if we detect that the number of controllers has hit some low threshold, new connections attempt to force garbage collect old controllers that no one is connected to?

[2022-01-04 19:11] benlwalker opened #2311 "[nvmf_delete_subsystem] Assertion `wc[i].opcode == IBV_WC_SEND' failed."
# CI Intermittent Failure

Somehow we're getting work completions with invalid opcodes all the sudden with RDMA. See discussion at:

https://review.spdk.io/gerrit/c/spdk/spdk/+/10955

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/67151/archive/nvmf-phy-autotest/build.log

[2022-01-04 19:18] mikeBashStuff commented on #2311
The affected test is different, but in general I think this is a duplicate of #2310 (and there's possible relation with the #2300). But I guess it would be beneficial to keep this open, just for easier identification of the issue for other users.

[2022-01-04 19:41] benlwalker commented on #2311
Closing this one (duplicate of #2310). I renamed #2310 so it's clearer to find for people searching for the failure.

[2022-01-04 19:41] #2311 closed

[2022-01-04 19:47] benlwalker commented on #2310
On certain types of failures, not all fields in the `wc` will get updated. I don't know if any of those conditions  make the opcode not get updated - I'd be very surprised if that was the case. I also don't know all of the conditions under which the opcode field isn't updated nor do I know where to look information like that up.

Do we know which commit started to cause this failure? Can we run th

[2022-01-04 20:19] spdkci commented on #2310
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_67165.html

[2022-01-04 20:40] benlwalker commented on #2310
I uploaded this patch https://review.spdk.io/gerrit/c/spdk/spdk/+/10965 which I'm just going to run through the test pool a bunch of times. I suspect that's the commit that triggered this but we'll soon know for sure.

[2022-01-04 21:16] jimharris commented on #2307
https://review.spdk.io/gerrit/c/spdk/spdk/+/10967 should fix this issue.  I was able to reproduce on my system with your patch, and confirmed this patch fixes it.

I've rebased your patch on top of mine to confirm it also passes in CI.

[2022-01-04 21:20] jimharris commented on #2306
Hi,

Any logs from the target when these io errors occur?

-Jim

[2022-01-04 23:12] jimharris commented on #2288
@wanqunintel, @changpe1 - I'm concerned that we are looking at the wrong problem here.

The output that Anna posted shows the failure happening immediately after starting the llvm_nvme_fuzz application.  It fails when creating the transport.  So I don't think this is related to connecting and disconnecting from the target for each iteration of fuzz data.

I think it is useful to connect and discon

[2022-01-04 23:51] jimharris commented on #2284
(tagging @peluse)

Does this patch actually fix the issue?  It seems like we still fail the I/O back to the bdev layer in the same way.

We need a better way to handle accel task allocation failures.  We could try increasing the number of tasks per channel, but there's always going to be a case that could result in exhaustion.  Doing malloc at runtime seems too costly, but probably needs to be ben

[2022-01-05 00:15] jimharris commented on #2262
You can still pass the -F parameter on the bdevperf command line to enable zipf and specify a global theta value.

Marking this as a low priority enhancement request.  If for some reason passing the -F option doesn't work, please feel free to submit a patch to add the necessary functionality to the bdevperf job parsing code.

Thanks,

Jim

[2022-01-05 01:23] changpe1 commented on #2284
My above patch is just an optimization, yeah, we need a better way in acceleration library to allocate tasks.

[2022-01-05 03:06] MeinhardZhou commented on #2306
There is no error log :(

[2022-01-05 06:21] spdkci commented on #1863
Another instance of this failure. Reported by @wanghailiangx. log: https://ci.spdk.io/public_build/autotest-per-patch_67213.html

[2022-01-05 06:35] sashakot commented on #2310
Hi,

Which driver do you use in the test? Is it real RDMA NIC with OFED or soft ROCE?

Thanks
Sasha

[2022-01-05 07:01] changpe1 commented on #2310
it's real RDMA NICs.

[2022-01-05 08:08] AlekseyMarchuk commented on #2310
We should remove this assert https://github.com/spdk/spdk/blob/0ac16751a5538678e46aa3fd496427c964388fa8/lib/nvmf/rdma.c#L3833
Only the following fields in ibv_wc are valid when we receive a completion with error: `wr_id, status, qp_num, vendor_err`

[2022-01-05 09:01] spdkci commented on #2310
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_67171.html

[2022-01-05 09:02] spdkci commented on #2310
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_67175.html

[2022-01-05 09:23] shuhei-matsumoto commented on #2310
Hi @AlekseyMarchuk

However, in this case, wc[i].status is 0 (= IBV_WC_SUCCESS). So I found the same as in https://www.rdmamojo.com/2013/02/15/ibv_poll_cq/ as

However, in this case, opcode should be valid?
Will you correct me if I'm wrong?

[2022-01-05 09:28] AlekseyMarchuk commented on #2310
Yes, you are right. Sorry I missed this "if" condition when looked at the code from mobile phone.
Now this issue looks quite strange, need to think about it

[2022-01-05 11:04] spdkci commented on #2310
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_67251.html

[2022-01-05 13:31] ksztyber commented on #2293
Two weeks have passed and no similar failures occurred, so closing the issue.

[2022-01-05 13:31] #2293 closed

[2022-01-05 14:10] spdkci commented on #1950
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_67288.html

[2022-01-05 20:35] spdkci commented on #2310
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_67192.html

[2022-01-05 20:35] spdkci commented on #2310
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_67185.html

[2022-01-05 21:03] spdkci commented on #2310
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_67108.html

[2022-01-05 21:06] spdkci commented on #2310
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_67110.html

[2022-01-05 21:07] spdkci commented on #2310
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_67114.html

[2022-01-05 21:09] spdkci commented on #2310
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_67118.html

[2022-01-05 21:41] spdkci commented on #2310
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_67092.html

[2022-01-05 21:42] spdkci commented on #2310
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_67087.html

[2022-01-05 22:33] benlwalker commented on #2310
The root cause appears to be an upgrade from Fedora 33 to 34. We've downgraded and not seeing the problem anymore.

[2022-01-05 22:41] spdkci commented on #2310
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_67122.html

[2022-01-05 22:42] spdkci commented on #2310
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_67124.html

[2022-01-05 23:18] spdkci commented on #2310
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_67128.html

[2022-01-05 23:38] spdkci commented on #2298
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_67347.html

[2022-01-05 23:41] spdkci commented on #2201
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_67340.html

[2022-01-05 23:49] spdkci commented on #2308
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_67350.html

[2022-01-06 04:32] changpe1 commented on #2306
@tomzawadzki can you take a look? thanks.

[2022-01-06 04:36] changpe1 commented on #2284
[Bug Scrub] Set this issue to low priority now, as it will only happen with malloc device.  this will need several enhancement features, we will add them one by one.

[2022-01-06 07:37] spdkci commented on #2298
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_67395.html

[2022-01-06 09:01] MeinhardZhou opened #2312 "Blob/Lvol: nvmf_tgt crashed for checking md_page's state in used_md_pages in multi-core."
# Bug report

Use a nvme/lvol(thin-provisioning) as nvmf tcp transport backend with multi-core(4 cores), and run a randwrite fio with 8 jobs, 128 iodept. It will trigger assert and cause a crash.

## Expected Behavior

Running normally

## Current Behavior

It will crash at blobstore.c:7220
[code]

## Possible Solution

Management of md_page in the case of multi-core.

## Steps to Reproduce

the s

[2022-01-06 09:11] #2312 closed

[2022-01-06 16:02] jimharris commented on #2267
This phenomena is not specific to ARM, it reproduces on x86 platforms as well.  Calling rte_eal_cleanup() does not actually fix the problem, since there is a small memzone allocated by the SPDK nvme driver that doesn't get freed before exiting the application.  rte_eal_cleanup() will only release hugepages that have no outstanding allocations.  (Note: it might be nice at some point to figure out a

[2022-01-06 16:53] anji1921389 commented on #2267
@jimharris I already tried passing huge-unlink option to the eal (I made changes to the code such that the flag gets passed), that didn’t solve my issue.
Also, with each test run the number of huge pages count went down, so for some reason the dpdk couldn’t free them up on my ARM board.

[2022-01-06 16:58] jimharris commented on #2267
Sorry @anji1921389, I missed that in your original description.

When you use the huge-unlink option, do you still see hugepage file entries in your hugepage mount directory?

[2022-01-06 17:09] anji1921389 commented on #2267
Yes @jimharris.
I ran fio initiator on board & my observation (when huge-unlink option not used) was the number of huge pages left un-freed were somehow related to the number of target namespaces. When I tried with 1 namespace, there were 2 - 2MB huge page files in hugetlbfs and removing them only freed 1 hugepage. Also when I ran the test targeting 8 namespaces there were many huge page file seen

[2022-01-06 17:18] anji1921389 commented on #2267
@jimharris Though I didn’t modify any dpdk core that would have these kind of effects, am I the only one seeing these issues?

Since my RNIC requires non-cacheable memory (hugepage memory writes were cached) I had to register few IO memory regions as external memory and used them where I needed (I’m pretty sure these didn’t cause the issue, because I also tried a different approach to get the requ

[2022-01-06 18:00] jimharris commented on #2267
I haven't seen or heard of anyone else reporting these kinds of issues.  I'm not sure how many people are trying this on ARM though.

If you use this "different approach to get the required non-cacheable IO memory", with current master + the 10991 patch above, do you still see the problem?  If not, then it could be something related to your extra IO memory regions that you've allocated.

[2022-01-06 19:49] spdkci commented on #2310
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_67101.html

[2022-01-06 22:33] spdkci commented on #2310
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_67049.html

[2022-01-06 23:17] spdkci commented on #2310
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_67098.html

[2022-01-06 23:19] spdkci commented on #2310
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_67081.html

[2022-01-07 02:03] wanghailiangx commented on #2307
The issue has passed in CI, and https://review.spdk.io/gerrit/c/spdk/spdk/+/10967 has been merged, now close the issue.

[2022-01-07 02:03] #2307 closed

[2022-01-07 04:35] anji1921389 commented on #2267
@jimharris, I observed the same issue even with huge-unlink eal flag when external memory regions were not registered

[2022-01-07 10:37] jlevon opened #2313 "nvmf_vfio_user_listen() locking has issues"
[code]

Here we take the `->lock` to traverse endpoints, but then:

[code]

We shouldn't be modifying the list without owning the corresponding lock.

Cc @changpe1

[2022-01-07 15:36] jimharris opened #2314 "[nvmf_delete_subsystem] Assertion `qpair->group->stat.current_admin_qpairs > 0' failed"
# CI Intermittent Failure

[code]

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_67452.html

[2022-01-07 15:37] spdkci commented on #2314
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_67452.html

[2022-01-07 21:43] mikeBashStuff commented on #2310
We still need to figure out what is triggering this issue under f34. Without pinpointing the actual culprit here, this issue is a potential blocker preventing us from performing further dist upgrades in the CI pool. Since we kept the kernel at the same version as under f33 (to avoid hitting #2060 again) I guess for starters we need to look more into `libverbs`, `librdmacm` (or any other piece that

[2022-01-08 08:08] fengchunsong commented on #2310
(gdb) bt
#0  0x0000ffffbb3a4d6c in raise () from /lib64/libc.so.6
#1  0x0000ffffbb392928 in abort () from /lib64/libc.so.6
#2  0x0000ffffbb39e410 in __assert_fail_base () from /lib64/libc.so.6
#3  0x0000ffffbb39e478 in __assert_fail () from /lib64/libc.so.6
#4  0x00000000004c3d34 in nvmf_rdma_poller_poll (rtransport=0x23e93940, rpoller=0xffff900998f0) at rdma.c:3819
#5  0x00000000004c42bc in nvmf_

[2022-01-10 06:16] spdkci commented on #2310
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_67310.html

[2022-01-10 12:03] AlekseyMarchuk commented on #2314
There is a race between qpair destruction and qid assignment, will fix it

[2022-01-10 16:31] spdkci commented on #2308
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_67626.html

[2022-01-10 16:38] jimharris opened #2315 "[nvme_cli_cuse] Timeout during nvme write operation"
# CI Intermittent Failure

[code]

https://ci.spdk.io/public_build/autotest-per-patch_67627.html
https://ci.spdk.io/results/autotest-per-patch/builds/67627/archive/nvme-phy-autotest/build.log

[2022-01-10 17:53] spdkci commented on #1950
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_67643.html

[2022-01-10 21:04] spdkci commented on #2315
Another instance of this failure. Reported by @mkenguva. log: https://ci.spdk.io/public_build/autotest-per-patch_67657.html

[2022-01-10 21:33] jimharris commented on #2315
Another instance of this failure.  Reported by @jimharris.  log: https://ci.spdk.io/public_build/autotest-per-patch_67553.html

[2022-01-10 21:38] jimharris commented on #2315
This issue appears specific to SM10.  I looked at 40-50 logs for the nvme-phy-autotest job - every time the test ran on SM10, it failed due to this issue.  Every time it ran on some system other than SM10, it passed.  It seemed the passing systems were SM6, SM8 and SM11.

Can someone try to run nvme-phy-autotest specifically on SM10 a few times and see if this always reproduces?  That might help u

[2022-01-10 21:43] jimharris commented on #2195
https://github.com/spdk/spdk/issues/2308 has been filed, which is a duplicate of this issue.  But I'm going to close this issue, since the later one has some additional pertinent information.

[2022-01-10 21:43] #2195 closed

[2022-01-10 22:19] #2300 closed

[2022-01-10 22:19] spdkci commented on #2300
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_67640.html

[2022-01-10 22:25] spdkci commented on #2308
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_67651.html

[2022-01-10 22:55] peluse opened #2316 "DSA does not support UIO"
virt to phy translation doesn't handle crossing 2MB boundary right now.  Use only with VFIO until this support is added.

[2022-01-10 22:58] peluse opened #2317 "Enable PMU in IDXD library"
See spec for details and propose high level design before implementing if someone other than me grabs this.  Current spec is here: file:///Users/peluse/Downloads/341204-intel-data-streaming-accelerator-spec%20(8).pdf

[2022-01-10 22:59] peluse opened #2318 "Enhance reset handling in IDXD"
DSA supports different types of resets depending on its reported status.  See file:///Users/peluse/Downloads/341204-intel-data-streaming-accelerator-spec%20(8).pdf for details, we should support all of the reset types per status

[2022-01-10 23:07] jimharris commented on #2316
For now, could we use spdk_iommu_is_enabled() in accel_engine_idxd_init() to ensure we don't even try to use idxd if the iommu is disabled?

[2022-01-10 23:08] jimharris commented on #2317
Hi @peluse,

Could you attach the PDF to this issue?  This just looks like a path to your local filesystem.

-Jim

[2022-01-10 23:10] jimharris commented on #2318
Hi @peluse,

Could you attach the PDF file to this issue?

Thanks,

Jim

[2022-01-10 23:14] spdkci commented on #2315
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_67677.html

[2022-01-10 23:26] peluse commented on #2318
[341204-intel-data-streaming-accelerator-spec.pdf](https://github.com/spdk/spdk/files/7842527/341204-intel-data-streaming-accelerator-spec.pdf)

[2022-01-10 23:27] peluse commented on #2318
Done!

[2022-01-10 23:27] peluse commented on #2317
[](url
[341204-intel-data-streaming-accelerator-spec.pdf](https://github.com/spdk/spdk/files/7842530/341204-intel-data-streaming-accelerator-spec.pdf)
)

[2022-01-10 23:28] peluse commented on #2316
Great idea, yes I'll get that ready ASAP!

[2022-01-10 23:36] peluse commented on #2317
To clarify: if someone picks this up please read the spec, think about the use cases, chat on Slack, etc., may or may not make sense for us but I know it will get forgotten if someone doesn't take some time to check it out.

[2022-01-11 05:16] spdkci commented on #1950
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_67653.html

[2022-01-11 06:48] spdkci commented on #2315
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_67686.html

[2022-01-11 08:08] spdkci commented on #1950
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_67722.html

[2022-01-11 08:30] spdkci commented on #2046
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_67642.html

[2022-01-11 09:29] ksztyber commented on #2046
Patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/11014

[2022-01-11 09:36] spdkci commented on #2285
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_67659.html

[2022-01-11 10:11] ksztyber opened #2320 "[nvme_multi_secondary] segmentation fault"
Seems like one of the three processes was killed with a `SIGSEGV`:

[code]
The DPDK errors are always there (even if the test succeeds), so I'm not sure if they're related. There's even been some discussion on removing them in #1606.

Also, it looks as if the job timed out for some reason. The last log from the test is the wait on the killed process:
[code]
Which seems weird to me, as I think it s

[2022-01-11 10:12] spdkci commented on #2320
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_67656.html

[2022-01-11 12:18] spdkci commented on #2285
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_67757.html

[2022-01-11 15:20] tomzawadzki commented on #2310
[Bug scrub] @karlatec will take a look at testing upstream ibverbs against this issue on F34.

[2022-01-11 15:31] tomzawadzki commented on #2258
[Bug scrub] `qat_setup.sh` can be modified to reduce the number of VFs from 16 to lower value below the total CONFIG_RTE_CRYPTO_MAX_DEVS. @karlatec will take a look.

[2022-01-11 15:34] karlatec commented on #2310
Using provided links I created a list of failing tests and the NIC versions they have installed. I thought this might be narrowed down just to ConnectX-4, but it also fails on X5 as well.

[code]

[2022-01-11 18:25] spdkci commented on #2315
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_67784.html

[2022-01-11 19:02] karlatec commented on #2310
Here's what I tried:
- Booted into F34 system.
- Uninstalled following packages:
`sudo rpm -e --nodeps libibverbs libibverbs-utils librdmacm.x86_64 librdmacm-debuginfo.x86_64 librdmacm-utils.x86_64 rdma-core-devel.x86_64`
- Removed modules:
[code]
- Downloaded release tarball of rdma-core from https://github.com/linux-rdma/rdma-core/releases
- Build rdma-core packages usign `rpmbuild` and installe

[2022-01-11 19:37] jimharris commented on #2310
Thanks Karol!  How long does this process take to test each version?  I just cloned rdma-core, and it says it would take 7 steps to bisect between v35.0 and v37.0.

-Jim

[2022-01-11 19:42] jimharris commented on #2310
rdma-core v37.0 does use IBV_WC_DRIVER2 internally.  v35.0 does not have it defined.

IBV_WC_DRIVER2 was added in rdma-core commit https://github.com/linux-rdma/rdma-core/commit/8ff1c5c3c4117fe0cd36b451be9b9729becc9eb5.

[2022-01-11 20:18] jimharris commented on #2310
Could you try the v37.0 test again, but after applying this patch and rebuilding rdma-core?

[patch.txt](https://github.com/spdk/spdk/files/7849653/patch.txt)

[2022-01-11 23:43] spdkci commented on #2315
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_67806.html

[2022-01-12 00:37] spdkci commented on #2300
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_67739.html

[2022-01-12 02:05] xihaishibei opened #2321 "Using Vhost to accelerate QEMU, which QEMU version is the most appropriate？"
# Bug report

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context (Environment including OS version, SPDK version, etc.)

[2022-01-12 08:21] #2046 closed

[2022-01-12 08:23] spdkci commented on #2047
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_67823.html

[2022-01-12 08:28] karlatec commented on #2310
Done, here's the output:
[code]

[2022-01-12 08:31] karlatec commented on #2310
Here's a little makeshift script for building rdma-core
[rdma-core.txt](https://github.com/spdk/spdk/files/7852901/rdma-core.txt)

[2022-01-12 09:08] AlekseyMarchuk commented on #2310
Hi @karlatec it seems that this commit should fix this issue: https://github.com/linux-rdma/rdma-core/commit/4c905646de3e75bdccada4abe9f0d273d76eaf50
Could you verify it?

[2022-01-12 12:25] karlatec commented on #2310
Thanks for pointing me to thix fix @AlekseyMarchuk ! 40/40 pass rate.
Strange. This commit is 9 days old, but rdma-core 38.1 is onyl 6 days old and not passing. Unless the fix did not make it to the release and I cannot find this information.

We should probably find out if this is going to be backported into v37.X and then upstreamed to Fedora builds

[2022-01-12 12:38] karlatec commented on #2310
Looks like the patch is already present on v37 and v38 branches.
https://github.com/linux-rdma/rdma-core/commits/stable-v37
https://github.com/linux-rdma/rdma-core/commits/stable-v38
Looks like we have to wait for v37.3 and v38.2 to be released and available in [Koji ](https://koji.fedoraproject.org/koji/packageinfo?packageID=23665)and/or Fedora DNF repo.

[2022-01-12 12:58] spdkci commented on #2201
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_67901.html

[2022-01-12 12:59] spdkci commented on #2201
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_67902.html

[2022-01-12 13:16] karlatec opened #2322 "nvmf_rdma_resize_cq: *ERROR*: iWARP doesn't support CQ resize. Current capacity 4096, required 8192"
# Bug report

NVMe-oF RDMA tests using E810 iRDMA (with iWARP protocol) fail because of following error:
[code]

## Expected Behavior

Resize possible?

## Possible Solution

Change `nvmf_create_transport -t rdma -u 8192` to `nvmf_create_transport -t rdma -u 4096`?

## Steps to Reproduce

1. Build SPDK with
[code]
2.  Make sure irdma module does not have roce_ena=1 set.
3. Run SPDK test:
`sudo -E

[2022-01-12 13:29] AlekseyMarchuk commented on #2322
Hey @karlatec
Resize of CQ must be supported by the device driver, you can find more details in this issue https://github.com/spdk/spdk/issues/1747
We can set a CQ size via configuration (that is `-d` parameter) and set smaller `--max-io-qpairs-per-ctrlr` parameter to avoid this problem.
I don't know, probably Intel irdma supports CQ resize. You can verify that by removing this check https://githu

[2022-01-12 14:03] spdkci commented on #2315
Another instance of this failure. Reported by @tomzawadzki. log: Not Found

[2022-01-12 15:44] jimharris opened #2323 "[nvmf_vfio_user_nvme_compliance] admin_create_io_cq_verify_iv_pc unit test failed"
# CI Intermittent Failure

[code]

https://ci.spdk.io/public_build/autotest-per-patch_67860.html

[2022-01-13 01:55] changpe1 commented on #2321
QEMU that can support vhost-user-pci-blk/scsi driver is fine to SPDK, but newer QEMU version has some new features, such as live recovery for vhost, it's really up to you.

[2022-01-13 01:55] #2321 closed

[2022-01-13 03:58] changpe1 commented on #2323
In post_completion(), we set the phase bit a litter earlier than SC, This is a bug, I will fix it.
        cpl->status.p = cq->phase;
	cpl->status.sc = sc;

[2022-01-13 05:20] spdkci commented on #2315
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_67933.html

[2022-01-13 08:00] spdkci commented on #2315
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_67919.html

[2022-01-13 09:58] spdkci commented on #2128
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_67974.html

[2022-01-13 10:21] spdkci commented on #1950
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_67981.html

[2022-01-13 10:56] spdkci commented on #2315
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_67995.html

[2022-01-13 11:23] spdkci commented on #2308
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_67898.html

[2022-01-13 11:23] fp208 opened #2325 "Unable to get the correct AIO ret"
# Bug report
read Disk data with bad sector by spdk_bdev_readv_blocks，but unable to get the correct AIO ret by spdk_bdev_io_get_aio_status。
## Expected Behavior
aio_ret = -ENODATA
## Current Behavior
aio_ret = 0

in function：bdev_aio_io_channel_poll：
events[i].res is negative when read Disk with bad sector，but io_result is u64_t ， the condition io_result < MAX_AIO_ERRNO is always false.
## Possibl

[2022-01-13 11:31] AlekseyMarchuk commented on #2267
@jimharris I noticed that commit 8b81801e2dc0bfc00a4d3de0ef52c3d600523d1c leads to core dump when fio with bdev plugin finishes. It is easy to reproduce, I used 1 core and bdev_nvme with RDMA transport. The callstack is following:
[code]

It looks like rte_eal_cleanup is called too early while fio continues to poll spdk threads in frame `7`.
I added a print to dpdk_cleanup() and the output is foll

[2022-01-13 11:48] spdkci commented on #2315
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_67985.html

[2022-01-13 11:57] spdkci commented on #2315
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_68003.html

[2022-01-13 12:33] spdkci commented on #2315
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_68013.html

[2022-01-13 12:57] jimharris commented on #2267
Thanks for the report @AlekseyMarchuk, I’ll take a look.

[2022-01-13 14:29] spdkci commented on #2310
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_68018.html

[2022-01-13 21:01] spdkci commented on #2315
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_68008.html

[2022-01-13 21:02] jimharris commented on #2267
Can you try https://review.spdk.io/gerrit/c/spdk/spdk/+/11085?

[2022-01-14 06:47] AlekseyMarchuk commented on #2267
Thanks @jimharris this patch fixes this problem

[2022-01-14 08:15] spdkci commented on #2300
Another instance of this failure. Reported by @wanghailiangx. log: https://ci.spdk.io/public_build/autotest-per-patch_68137.html

[2022-01-14 10:36] karlatec opened #2326 "nvme-of tcp: latency performance regression"
# Bug report

One of the patches introduced NVMe-oF TCP performance regression in terms of latency.
Faulty change was narrower down using SPDK performance regression tests:
![image](https://user-images.githubusercontent.com/28856727/149499196-3a8d8ad6-e392-4d1b-a6f8-9b0add2385dd.png)
and then bisected manually.
The fauly change appears to be: 43022da379118298f803f8ee895c8477139b175b  nvmf: remove

[2022-01-14 10:43] karlatec commented on #2326
On the other hand this had slight positive impact on IOPS results.
![image](https://user-images.githubusercontent.com/28856727/149502681-252484fd-9875-42ff-baee-43853ebe2898.png)
![image](https://user-images.githubusercontent.com/28856727/149502776-3f3021fa-c1da-4000-a663-b159bbe12194.png)

If that's ok then please disregard my issue and just close :)

[2022-01-14 11:52] AlekseyMarchuk commented on #2326
Hey @karlatec can you measure latency with this patch  https://review.spdk.io/gerrit/c/spdk/spdk/+/11095 ?

[2022-01-14 11:54] karlatec commented on #2326
Sure thing, just give me ~1 hour so that current regression build finishes. I'll allow myself to assign you, since you proposed a fix ;)

[2022-01-14 12:51] spdkci commented on #2268
Another instance of this failure. Reported by @jkalwas. log: https://ci.spdk.io/public_build/autotest-per-patch_68193.html

[2022-01-14 14:04] karlatec commented on #2326
With kernel init the latency drops to ~33.5usec, with spdk init - to ~29 usec. This looks slightly worse for SPDK init than originally, but not by much. I re-tested just the latency for now.

[2022-01-14 14:53] AlekseyMarchuk commented on #2326
Thanks Karol, I'll add 22.01 tag to this patch. I don't know where we lost ~2 usec of tcp latency

[2022-01-14 23:21] spdkci commented on #2308
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_68074.html

[2022-01-14 23:28] spdkci commented on #2308
Another instance of this failure. Reported by @mkenguva. log: https://ci.spdk.io/public_build/autotest-per-patch_68073.html

[2022-01-14 23:43] spdkci commented on #2308
Another instance of this failure. Reported by @mkenguva. log: https://ci.spdk.io/public_build/autotest-per-patch_68096.html

[2022-01-14 23:55] spdkci commented on #2308
Another instance of this failure. Reported by @mkenguva. log: https://ci.spdk.io/public_build/autotest-per-patch_68078.html

[2022-01-14 23:59] spdkci commented on #2268
Another instance of this failure. Reported by @mkenguva. log: https://ci.spdk.io/public_build/autotest-per-patch_68100.html

[2022-01-15 00:06] jimharris opened #2327 "setup.sh should consider nvme/virtio devices that are member disks of other block devices"
setup.sh today will check if an NVMe SSD has an active mount point.  If it does, it will not try to unbind it from the kernel driver.

But we should also consider the case where an NVMe SSD is a member disk of another block device - i.e. an MD-RAID volume or ZFS pool.  Even if that MD-RAID volume or ZFS pool does not have an active mount point, we should not unbind it from the kernel driver.

To r

[2022-01-15 13:06] spdkci commented on #1950
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_68227.html

[2022-01-15 13:07] spdkci commented on #1950
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_68229.html

[2022-01-15 17:45] mikeBashStuff commented on #2327
Here's a suggestion on how to handle potential holders when devices are not mounted: https://review.spdk.io/gerrit/c/spdk/spdk/+/11109.

However, I am not sure how to really handle zfs. If all pools are unmounted, the only way to check if given device is part of it is to use dedicated tooling (so that introduces extra dependency on the `setup.sh`) like `zpool` since otherwise we would need to read

[2022-01-16 01:06] mikeBashStuff commented on #2327
Ok, I think this approach should cover most of the cases out there now (tested with md, dm, zfs pools, etc.): https://review.spdk.io/gerrit/c/spdk/spdk/+/11111 - with this, `setup.sh` should pick only devices which don't have any data on them.

[2022-01-17 03:47] spdkci commented on #2295
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_68241.html

[2022-01-17 04:53] wanqunintel commented on #2288
@jimharris I have tried to run llvm_nvme_fuzz for 10 times, and the issue persist, tried to reproduce the issue with the generated crash file with following command `./test/app/fuzz/llvm_nvme_fuzz/llvm_nvme_fuzz -D /tmp/corpus0 -F "trtype:tcp adrfam:IPv4 subnqn:nqn.2016-06.io.spdk:cnode1 traddr:127.0.0.1 trsvcid:4420" -t 6000 -Z 0 ./crash-583c01ebaf8aa847d2a2afb673c09e6c5dd50df1`, it prints log as

[2022-01-17 07:39] changpe1 commented on #2323
https://review.spdk.io/gerrit/c/spdk/spdk/+/11076/3

[2022-01-17 08:36] xihaishibei opened #2328 "nvme over rdma tgt send data to spdk initiate failed"
# Bug report
node A start a nvmf tgt，transport = RDMA，node B use spdk perf to test

node A print log as follow：
[2022-01-17 16:00:36.818699] rdma.c:2651:nvmf_rdma_listen: *NOTICE*: *** NVMe/RDMA Target Listening on xx.x.xx.48 port 4422 ***
[2022-01-17 16:03:57.637929] rdma.c:3769:nvmf_rdma_log_wc_status: *ERROR*: Error on CQ 0x20155a0, (qp state 1 ibv_state 6) request 0x139974757082280, type DATA,

[2022-01-17 08:52] ye1xchen opened #2329 "[idxd_perf] idxd_perf keeps looping without results"
# Bug report

./build/examples/idxd_perf keeps looping without results.

## Expected Behavior

idxd_perf exits normally.

## Current Behavior

./build/examples/idxd_perf keeps looping without results.

## Possible Solution

## Steps to Reproduce

1.  ./configure --with-idxd
2.  make -j
3. accel-config disable-wq dsa0/wq0.1
accel-config disable-device dsa0
accel-config config-wq --group-id=0 --mode

[2022-01-17 10:07] x2c3z4 opened #2330 "Install Win10 on virtio-blk disk will fail."
# Bug report
Windows ISO: cn_windows_10_business_editions_version_20h2_updated_april_2021_x64_dvd_0a0fc490
Install Win10 on virtio-blk disk will fail.

This is the log from the vhost-user backend.
[code]
Stable version 0.1.185 looks ok.

More information is here:
https://github.com/virtio-win/kvm-guest-drivers-windows/issues/578

## Expected Behavior

## Current Behavior
Install Windows 10 fail.

[2022-01-17 10:10] x2c3z4 commented on #2330
@changpe1  Do you have any suggestions about this issue?
I have fired this bug to virtio-win half a year ago, and I read the virtio-win code, there is no any evidence.
So I think we should fix this issue in SPDK/DPDK.

Maybe support a larger max_seg from 126 to (512-2) is a good choice.

[2022-01-17 10:36] spdkci commented on #2268
Another instance of this failure. Reported by @rafalste. log: https://ci.spdk.io/public_build/autotest-per-patch_68342.html

[2022-01-17 12:05] spdkci commented on #2128
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_68326.html

[2022-01-17 12:39] karlatec commented on #2258
Patch submitted: https://review.spdk.io/gerrit/c/spdk/spdk/+/11122

[2022-01-17 12:39] spdkci commented on #1950
Another instance of this failure. Reported by @rafalste. log: https://ci.spdk.io/public_build/autotest-per-patch_68359.html

[2022-01-17 13:22] spdkci commented on #1988
Another instance of this failure. Reported by @rafalste. log: https://ci.spdk.io/public_build/autotest-per-patch_68368.html

[2022-01-17 13:46] spdkci commented on #2268
Another instance of this failure. Reported by @rafalste. log: https://ci.spdk.io/public_build/autotest-per-patch_68372.html

[2022-01-17 14:12] karlatec commented on #2258
I'm not sure if lowering the number of VFs is possible:
[code]

[2022-01-17 14:12] karlatec commented on #2258
[code]

[2022-01-17 17:09] sekar-wdc commented on #2261
@AlekseyMarchuk

You are correct that our target does issue RDMA READ REQUESTS in chunks of 4K. However, each RDMA READ REQUEST is treated as a unique request even when they are part of the same NVMe Write command. We will not issue an RDMA READ REQUEST if the outstanding number for the connection has reached the limit negotiated during RDMA connection establishment. In this case, the initiator in

[2022-01-17 17:42] KKaras169169 opened #2331 "Trace: Unable to activate all traces via 'all' or '0xffff'"
# Bug report

Recently introduced patch (https://review.spdk.io/gerrit/c/spdk/spdk/+/10431) changed the call from spdk_trace_set_tpoint_group_mask() function to spdk_trace_set_tpoints(), which registers tracepoints only once instead of iterating over all groups. In result 'all' and '0xffff' activate only one tracepoint group.

## Expected Behavior

All tracepoints should be enabled with 'all' and

[2022-01-17 17:43] KKaras169169 commented on #2331
Solution: https://review.spdk.io/gerrit/c/spdk/spdk/+/11126

[2022-01-17 22:08] spdkci commented on #555
Another instance of this failure. Reported by @yupeng0921. log: https://ci.spdk.io/public_build/autotest-per-patch_68335.html

[2022-01-17 22:59] spdkci commented on #2201
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_68246.html

[2022-01-18 02:01] yidong0635 commented on #2329
Just have a quick review about this, drain io can't exit with endless loop,
in spdk_idxd_process_events : IDXD_COMPLETION(op->hw.status) always false , and break foreach chan->ops_outstanding with current_queue_depth always above 0.
No sure if there's any implements need to do,  there's only comments left:
/*
 * oldest locations are at the head of the list so if
 * we've polled a location that has

[2022-01-18 02:55] Comphix commented on #2260
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/11086 created for this change.

[2022-01-18 04:17] ye1xchen commented on #2260
@Comphix I tried this patch, but the problem still exists. Resize iscsi null bdev in target A, bdev in target B will not change unless vhost is restarted.

[2022-01-18 04:21] Comphix commented on #2260
Have you run on IOs from target B? The current implementation needs the Read and Write IOs from target B to Target A.

[2022-01-18 05:30] ye1xchen commented on #2260
@Comphix  After writing IO on target B,  lsblk shows the resized size, but using cmd ' ./scripts/rpc.py bdev_get_bdevs ' iSCSI0's size does  not change.

[2022-01-18 05:41] Comphix commented on #2260
Thanks ChenYe. Just make sure when using bdev_get_bdevs, have you sent the IO already?

[2022-01-18 05:49] ye1xchen commented on #2260
yes, before using bdev_get_bdevs, the fio read and write tests are over.

[2022-01-18 06:40] changpe1 commented on #2330
Looks like Windows doesn't follow that configuration parameter, you may change that parameter to see it can work with Windows or not.

[2022-01-18 06:43] #2328 closed

[2022-01-18 06:58] spdkci commented on #1950
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_68452.html

[2022-01-18 07:10] yidong0635 opened #2332 "docker-compose build failed"
# Bug report
[code]

## Steps to Reproduce
these steps are following with spdk/docker/README.md.
cd spdk/docker
......
docker login
sudo setenforce 0
docker-compose build --build-arg PROXY=$http_proxy

## Context (Environment including OS version, SPDK version, etc.)
commit 9d7e239f157a730de871d51a13b4212edac334f6

[2022-01-18 07:50] changpe1 commented on #2289
Can you have another try with patch https://review.spdk.io/gerrit/c/spdk/spdk/+/11133? thanks.

[2022-01-18 08:23] karlatec commented on #2326
I saw the patch was merged :)
![image](https://user-images.githubusercontent.com/28856727/149898426-81ac6341-a855-4df4-b7d4-9579e1f10061.png)

I'd say this is fixed, so closing this one. Thank you @AlekseyMarchuk !

[2022-01-18 08:23] #2326 closed

[2022-01-18 08:43] ye1xchen commented on #2260
Thanks! skip cmd ‘iscsiadm -m discovery -t sendtargets -p 192.168.20.11:3260 && iscsiadm -m node --login -p  192.168.20.11:3260‘, This patch worked.
’

[2022-01-18 10:43] wawryk opened #2333 "SPDK TOP warnings during build"
# Bug report

## Log

[code]

## Steps to Reproduce

1. `./configure --with-fio=/usr/src/fio --disable-unit-tests --without-vfio-user --without-isal --with-rdma --enable-lto`
2. `make -j$(nproc)`

## Context (Environment including OS version, SPDK version, etc.)

OS:
[code]
Kernel version: `5.15.13-200.fc35.x86_64`
gcc: `gcc (GCC) 11.2.1 20211203 (Red Hat 11.2.1-7)`

[2022-01-18 11:05] spdkci commented on #2300
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_68474.html

[2022-01-18 11:31] AlekseyMarchuk commented on #2261
@sekar-wdc from pcap traces I see that initiator sends NAK when it receives 16th RDMA_READ request. Have you tried linux kernel initiator? How does it work with your target?

[2022-01-18 15:07] x2c3z4 commented on #2330
Yes, I have tested that the max iov count is 514 when installing win10 using the latest virtio-win, so if we set the SPDK_VHOST_IOVS_MAX to 515, it works.
The total iov is:
0:        16(header)
1-512: 512*4k(data)
513:    1(status)

[2022-01-18 18:17] sekar-wdc commented on #2261
@AlekseyMarchuk There is no similar issue with Linux Inbox driver.

[2022-01-18 23:13] jimharris commented on #2327
Thanks @mikeBashStuff!

It's a great question.  I'm thinking of ZFS differently than other filesystems like ext4.  Someone may want to use the aio or io_uring bdev module with a ZFS volume or MD-RAID volume.  I guess I'm saying that an NVMe SSD device that is part of a ZFS pool is much more in-use than an NVMe SSD with an unmounted ext4 partition.

[2022-01-18 23:23] spdkci commented on #1950
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_68532.html

[2022-01-18 23:28] spdkci commented on #2201
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_68539.html

[2022-01-19 01:21] spdkci commented on #2308
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_68563.html

[2022-01-19 01:41] changpe1 commented on #2288
The error messages here should belong to #2289.

[2022-01-19 02:44] wanqunintel commented on #2289
@changpe1 thank you for the update, i have verified with this patch and rerun the tests, it now passed.

[2022-01-19 03:19] wanqunintel commented on #2288
oh, apologize, log error messages should belong to #2289, i have updated on the issue #2289.

[2022-01-19 05:41] changpe1 commented on #2313
Here is the patch  https://review.spdk.io/gerrit/c/spdk/spdk/+/11037 to fix the issue.

[2022-01-19 09:05] #2194 closed

[2022-01-19 11:15] tomzawadzki opened #2334 ""Unexpected number of tracepoint arguments" assert"
# Bug report

Patch https://github.com/spdk/spdk/commit/b04f51ac62fe0c9056a4df82bd9f3634fbe3c256 introduced failure when enabling all tracepoints during app start up.

## Current Behavior

[code]

## Steps to Reproduce

Start any SPDK app with `-e 0xFFFF` to enable all tracepoints.

## Context (Environment including OS version, SPDK version, etc.)
https://ci.spdk.io/results/autotest-per-patch/buil

[2022-01-19 12:49] ksztyber commented on #2334
Potential fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/11159/1

[2022-01-19 13:15] KKaras169169 commented on #2334
I was in the middle of writing a fix already, so I modified the code to add dev->name to THREAD_IOCH_GET/PUT according to @AlekseyMarchuk 's comment ("Maybe we can add dev->name to tracepoints definition? This name can be useful") under Konrad's fix. Here is the patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/11160

[2022-01-19 16:11] ksztyber commented on #2334
Patch passed the CI and was merged.

[2022-01-19 16:11] #2334 closed

[2022-01-19 16:12] ksztyber commented on #2331
Patch was merged.

[2022-01-19 16:12] #2331 closed

[2022-01-20 00:14] #2246 closed

[2022-01-20 00:15] spdkci commented on #2308
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_68491.html

[2022-01-20 02:14] changpe1 commented on #2323
Patch has been merged, closing it now.

[2022-01-20 02:14] #2323 closed

[2022-01-20 02:56] changpe1 commented on #2267
The issues observed from our side have been fixed, closing it for now.

[2022-01-20 02:56] #2267 closed

[2022-01-20 04:18] changpe1 commented on #2322
[Bug Scrub] iWARP just not support CQ resize, closing it now.

[2022-01-20 04:18] #2322 closed

[2022-01-20 04:21] changpe1 commented on #2320
[Bug Scrub] keep it open to see we can get a trace.

[2022-01-20 04:26] changpe1 commented on #2332
[Bug Scrub] @tomzawadzki can you take a look? thanks.

[2022-01-20 04:39] changpe1 commented on #2330
Set SPDK_VHOST_IOVS_MAX to 515 will waste a lot of memory, e.g: if your backend devices are Intel NVMe SSDs, the maximum transfer data size is only 128KiB, we need to split the request in the bdev layer into smaller ones.  A workaround maybe to set this value can be configured via RPC, users know the exact environment they are using, when using with Windows environment, set it to a big number.

[2022-01-20 05:09] x2c3z4 commented on #2330
I think the memory usage is in control.
One vhost blk task's iovs memory: 515 * sizeof(struct iovec) = 515*16 = 8240
Set iodepth is 128, one vhost blk controller's iovs memory = 1054720.
The data memory in iovs is from guest OS, so they don't increase the spdk/dpdk memory.
Even if the bdev layer splits the IO, I think no memory overhead is added.

I think adding a rpc to configure it for Windows i

[2022-01-20 06:54] changpe1 commented on #2330
Have you considered that the issue may not occur in vhost but may occur in the bdev layer if we just increase this value greater than 512?  The bdev layer will also consume resources to do split IO.

[2022-01-20 07:45] x2c3z4 commented on #2330
As long as the data is not copied, the resource consumption is relatively small.

[2022-01-20 07:52] changpe1 commented on #2330
we do have a similar issue here #2284, timeout happened due to limited resources in bdev layer.

[2022-01-20 07:58] Comphix commented on #2260
Patch merged and verification passed. Close this issue.

[2022-01-20 07:58] #2260 closed

[2022-01-20 09:53] mikeBashStuff commented on #2332
Caused by 47ee30d3e38af3001ca0866cb26fc6bb1361e7cc, potential fix here: https://review.spdk.io/gerrit/c/spdk/spdk/+/11174

@yidong0635 Would you kindly test the above fix on your end? You would need to rebuild the `spdk.tar.gz `to make sure the change this patch introduces is included inside.

I will try to add some tests covering the docker build stage to make sure similar issues are picked up un

[2022-01-20 10:17] yidong0635 commented on #2332
@mikeBashStuff  thanks, confirm it works for me.

[2022-01-20 11:38] KKaras169169 opened #2335 "[nvmf_failover] Timeout while waiting for response after nvmf_subsystem_remove_listener"
# CI Intermittent Failure

During /nvmf-tcp-uring-vg-autotest, nvmf_failover aborted with timeout after the

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_68791.html

## Execution failed at

00:08:03.498   08:55:59	-- host/failover.sh@38 -- # /home/vagrant/spdk_repo/spdk/scripts/rpc.py -s /var/tmp/bdevperf.sock bdev_nvme_attach_controller -b NVMe0 -t tcp -a 10.

[2022-01-20 11:40] spdkci commented on #2335
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_68791.html

[2022-01-20 13:46] KKaras169169 opened #2336 "[nvmf_failover] Assertion `qpair->state_cb != NULL' failed"
# CI Intermittent Failure

During nvmf-tcp-phy-autotest, nvmf_failover failed at Assertion `qpair->state_cb != NULL'.

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/68832/archive/nvmf-tcp-phy-autotest/build.log

## Execution failed at

00:08:49.437   14:04:15	-- host/failover.sh@38 -- # /var/jenkins/workspace/nvmf-tcp-phy-autotest/spdk/scripts/rpc.py -s /var/

[2022-01-20 13:47] spdkci commented on #2336
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_68832.html

[2022-01-20 13:52] AlekseyMarchuk commented on #2336
This issue can be related to https://github.com/spdk/spdk/issues/2314 where qpair seems to be destroyed twice

[2022-01-20 14:11] benlwalker commented on #2329
Should be fixed by https://github.com/spdk/spdk/commit/c1ec9241665e4f8bb9cc4431d2e2befcf447654c which was merged yesterday

[2022-01-20 14:19] peluse commented on #2329
@ye1xchen I hav a request for you, I don't believe we have any idxd kernel usage tests in CI at all.  I assume you ran this manually?  Can you please submit a patch and add this (maybe expanded a bit) so we get some coverage there?

[2022-01-20 15:00] jlevon opened #2337 "nvmf RDY handling still seems incorrect"
In #2199 I said:

A host driver is then supposed to do this:

[code]

Back to the set CC handler:

[code]

We immediately mark ourselves as ready.

Thus it seems like this is racy: we've not necessarily finished the last _nvmf_qpair_destroy() calls for the IO queues before a driver can come in and set CC.en again, immediately seeing that CSTS.RDY is now 1 and hence the controller is operational ag

[2022-01-20 15:11] KKaras169169 commented on #2333
Here is the patch for the spdk_top warning: https://review.spdk.io/gerrit/c/spdk/spdk/+/11177
I will look into the second one now.

[2022-01-20 15:31] tomzawadzki opened #2338 "ISAL PMD for vbdev_compress reserves too many qpairs"
# Bug report

With DPDK 22.11 the vbdev_compress reserves too many qpairs and exhausts the RTE_MAX_MEMZONE.
ISAL PMD always reserves 99 qpairs, see commit https://github.com/spdk/spdk/commit/e9211cbf4595d24a1fb32173bb0c6d5c99b64c96 and issue https://github.com/spdk/spdk/issues/879 for reference.
As noted in the commit, it was done due to fio_plugin not being able to rely on number of cores from en

[2022-01-20 15:39] peluse commented on #2338
@tomzawadzki what is "the required value for CI"? 99 was a pretty huge number and I doubt anyone in real use is even coming close.  If the new suggested max isn't crazy small I'd suggest lets do that.

[2022-01-20 16:20] peluse commented on #2338
OK, let me know if you need a hand.

[2022-01-20 20:01] #2055 closed

[2022-01-21 01:55] changpe1 commented on #2337
The spec says "When this bit is cleared to ‘0’, the CSTS.RDY bit is cleared to ‘0’ by the controller once the controller is ready to be re-enabled."
For the CC.DISABLE case, host driver is expected to detect CSTS.RDY bit too, SPDK will disconnect all IO queue pairs before CSTS.RDY is cleared to 0.

[2022-01-21 02:57] yidong0635 commented on #2329
@peluse thanks, maybe  I or @ye1xchen will add this later, but this test depends on  special HW config.
@benlwalker  sorry to say that,  doesn't fix this issue.

[2022-01-21 03:00] ye1xchen commented on #2329
@benlwalker Thanks for your reply, but this issue still exists with latest spdk.

[2022-01-21 05:14] changpe1 commented on #2289
patch has been merged, closing it now.

[2022-01-21 05:14] #2289 closed

[2022-01-21 07:52] spdkci commented on #2128
Another instance of this failure. Reported by @shuhei-matsumoto. log: Not Found

[2022-01-21 07:53] shuhei-matsumoto commented on #2128
One update for this issue.

We may be able to improve the non-multipath failover feature.

We always failover to the next path if connecting to the current path failed.

I noticed that we got RDMA_CM_EVENT_TIMEWAIT_EXIT when connecting qpair. In this case, the current connection may be still live. So retrying to the current path without switching to the next path may be better.

This is only for R

[2022-01-21 07:55] spdkci commented on #2128
Another instance of this failure. Reported by @shuhei-matsumoto. log: Not Found

[2022-01-21 09:15] spdkci commented on #2335
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_68838.html

[2022-01-21 10:16] KKaras169169 opened #2340 "[vfio-user-autotest] Not all tests were run"
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_69033.html - list missing **vfio-user-autotest**

## Execution failed at

[2022-01-21T09:44:42.594Z] Not all tests were run. Failing the build.
[2022-01-21T09:44:42.594Z] ['vfio_user_fio', 'vfio_user_qemu', 'vfio_user_restart_vm']

[2022-01-21 10:17] spdkci commented on #2340
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_69033.html

[2022-01-21 11:19] spdkci commented on #2335
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_69025.html

[2022-01-21 13:27] peluse commented on #2329
Yeah, I was wondering with perf that was in master when you ran this (I assume) we auto-limited teh Q depth to avoid busy.  I don't think this is a medium based on HW availability, @benlwalker  I can pick this up but won't be able to look at until end of next week if that works.

[2022-01-21 14:29] jlevon commented on #2337
I see your point: a well-behaved host is supposed to wait until RDY becomes zero (in _nvmf_ctrlr_cc_reset_shn_done) before it tries to set CC.en=1 again. Makes sense.

But what if a host is malicious and doesn't wait? Are we safe? Seems like we could add a test for this

[2022-01-21 15:59] jimharris commented on #2332
Patch merged.  Thanks @mikeBashStuff!

[2022-01-21 15:59] #2332 closed

[2022-01-21 16:37] jimharris opened #2341 "[device] blocks check returns 0"
# CI Intermittent Failure

[code]
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_69040.html
https://ci.spdk.io/results/autotest-per-patch/builds/69040/archive/vhost-autotest/build.log

[2022-01-21 16:55] benlwalker commented on #2329
I see a minor bug in idxd_perf that I'll submit a fix for, but it isn't related to the problem here. When I run idxd_perf against kernel DSA we simply never get any completions at all.

[2022-01-21 18:06] jimharris commented on #2301
Patches merged.  Thanks @ahribeng!

[2022-01-21 18:06] #2301 closed

[2022-01-21 18:07] jimharris commented on #2258
This issue has been resolved with a series of patches from @tomzawadzki.

[2022-01-21 18:07] #2258 closed

[2022-01-21 18:09] jimharris commented on #2338
@tomzawadzki - are more changes needed here, or is this workaround sufficient?  Just wondering if we can close this issue now.

[2022-01-21 18:10] jimharris commented on #2278
Patch merged - thanks @ahribeng!

[2022-01-21 18:10] #2278 closed

[2022-01-21 18:19] jimharris commented on #1678
Closing this issue since it can't be reproduced.

[2022-01-21 18:19] #1678 closed

[2022-01-21 18:21] jimharris commented on #1664
Patches from @benlwalker have been merged.

[2022-01-21 18:21] #1664 closed

[2022-01-21 18:31] jimharris commented on #2186
@antroseco @tmakatos @changpe1 - any update on this issue?

[2022-01-21 18:34] jlevon commented on #2074
Not yet, I'm afraid. The quiesce fix has solved part of the problem - map/unmap won't race against vfu_map/unmap_sg(), but there is more, covered here:

https://github.com/nutanix/libvfio-user/issues/594

Quiesce fixes problem #4

We need to figure out the rest before multiple pthreads can use vfu_map/unmap_sg().

[2022-01-21 18:38] jlevon commented on #2186
Controller-level reset is OK. We still need https://review.spdk.io/gerrit/c/spdk/spdk/+/7689 (modulo my comments) for reset outside of host writing to CC.en itself

[2022-01-21 20:06] benlwalker commented on #2329
This series gets the tool to stop hanging. I'm still not seeing the correct behavior but getting closer: https://review.spdk.io/gerrit/c/spdk/spdk/+/11209

[2022-01-21 20:56] benlwalker commented on #2329
Ok, I updated https://review.spdk.io/gerrit/c/spdk/spdk/+/11209 and now it's working for me.

[2022-01-21 22:36] jimharris commented on #1863
This issue hasn't been reported in 3 months.

[2022-01-21 22:36] #1863 closed

[2022-01-21 22:39] jimharris commented on #1648
@tomzawadzki @karlatec Do we know if this has been resolved?  I haven't really been watching for it, but there aren't any reports here for the last 4 months.

[2022-01-21 22:44] jimharris commented on #2298
Patch was merged.  I confirmed that the two reports of this issue after the patch was merged were not rebased on top of the fix.

[2022-01-21 22:44] #2298 closed

[2022-01-22 00:54] recklessnl commented on #1948
Would you share your knowledge about how you fixed it? This would be great for documentation purposes.

[2022-01-23 14:12] gaowayne commented on #2134
@USTCqzy could you please let us know if you can close this issue or you have new question on this?

[2022-01-23 14:14] gaowayne commented on #1593
@john4477 could you please close this issue, open channel ssd will be replaced by new project WSR that is kicked off in this year SPDK summit 2021 Dec, please find my video there.

[2022-01-24 03:17] yidong0635 commented on #2329
here the HW may damaged . After applying your patches:
[code]

And I just try this before  to force to make it out:
[code]

[2022-01-24 04:05] shuhei-matsumoto opened #2342 "Reconnect adminq failed repeatedly for RDMA transport even after path is restored."
# Bug report

We saw repeated failures of reconnect adminq even after path is restored.

[code]

## Expected Behavior

Reconnect adminq should not fail after path is restored.

## Current Behavior

See the above log.

## Possible Solution

Revert the patch
https://github.com/spdk/spdk/commit/eb09178a59bac1679767eb7bc0d7c05da8d9b3ca#diff-c6aaea7960f1d84279e907cb1c95ba22d51e76854b70ba4a7d656ea793aca