[2018-06-11 17:42] dverkamp-intel commented on #327
The patch turned out to be quite simple, so I went ahead and posted it: https://review.gerrithub.io/#/c/spdk/spdk/+/414681

[2018-06-11 18:49] pohly commented on #329
What is the output format of `get_subsystem_config`? If it is JSON or something similar which can be parsed easily on the client side, then the call sounds like one possible solution for this issue. It's not quite aligned with the other query functions, though.

[2018-06-11 19:09] akshorcl commented on #327
Let me test this out and will get back to you.

[2018-06-11 19:09] akshorcl commented on #327
Thanks!

[2018-06-11 22:23] dverkamp-intel commented on #329
I don't think parsing the output of `get_subsystem_config` is something we want to encourage - it should be purely a way to round-trip configuration automatically, not a stable API that automation should be using.

If there is more information that would be useful from the vhost target that isn't already in `get_vhost_controllers`, I think we should be able to add it either as additional response

[2018-06-11 22:28] dverkamp-intel commented on #329
Here's example output of `get_vhost_controllers` for a vhost-scsi controller from one of the automated tests:

[code]

[2018-06-12 00:22] shuhei-matsumoto commented on #321
Thanks again.

[2018-06-12 00:22] #321 closed

[2018-06-12 06:03] wanqunintel commented on #280
@benlwalker , is there any patch for it for wenqian to verify?

[2018-06-12 06:05] liang2yan commented on #298
I think we need to remove the "Work Request Flushed Error" message. if we need to save the log of SPDK running, then we will get a lot of "Work Request Flushed Error" messages. And it will let the log file very large if SPDK run very long time.

[2018-06-12 07:02] pohly commented on #329
`get_vhost_controllers` has the right amount of information. It's not documented, but that's already tracked by #267, so let's close this issue here.

[2018-06-12 07:02] #329 closed

[2018-06-12 08:14] pohly commented on #328
Slight correction: it looks like `add_vhost_scsi_lun` (despite the name) adds a *SCSI target*, not a *LUN*. Correct?

The underlying issue still remains the same, though: can the call itself choose an available SCSI target number?

[2018-06-12 08:53] pohly commented on #328
@pawelwod explained on IRC that only one LUN is supported per target, so `add_vhost_scsi_lun` adds a new target and a LUN for that target at once.

[2018-06-12 08:56] pohly commented on #328
He also explained that there is a maximum number of targets built in at compile time (vhost_internal.h, `#define SPDK_VHOST_SCSI_CTRLR_MAX_DEVS 8`).

[2018-06-12 10:12] pohly commented on #329
FYI, handling the "backend_specific" result in Go required manual code because the Go JSON decoder cannot be told what structs to create for backend type "scsi". I suspect this kind of result type will also be hard to describe in a JSON schema.

[2018-06-12 10:40] pawelwod commented on #329
@dverkamp-intel

This will be as stable as RPC API.

@pohly
Try get_subsystem_config - we use this to save and later restore vhost (and other targets) configuration.
Each entry in config array is one JSON RPC call. See https://github.com/spdk/spdk/blob/9f697e0fe24aa35a805e974de2b1d33eacc8721a/scripts/rpc/__init__.py#L31 and https://github.com/spdk/spdk/blob/9f697e0fe24aa35a805e974de2b1d33eacc8721a

[2018-06-12 15:53] pohly opened #330 "VHost: identify block device inside QEMU"
Suppose a VHost SCSI target gets added dynamically to a running QEMU. The Linux kernel in the guest will notice that and provide a new /dev/sd* entry. Now suppose that some app inside the virtual machine is asking for the creation of these devices (via some way of remote controlling SPDK) and then wants to detect that a certain /dev/sd* entry is really the device it is waiting for.

It could make

[2018-06-12 20:28] alekseymmm commented on #312
@ak-gh

I have looked at your patch it seems like it could solve my issue. Then I wonder what is the point of claiming some bdevs (I mean spdk_bdev_module_claim_bdev function) after your patch applied if by default you allow multiple writers and doesn't check claim flag anywhere ?  Is it safe in general to allow multiple writers?

[2018-06-12 20:38] ak-gh commented on #312
On Tue, Jun 12, 2018, 23:28 Aleksei <notifications@github.com> wrote:

I suggest you consult the respective mail thread that discusses those
points.

Re your specific questions, claim mechanism is also used to differentiate
between base and virtual bdevs, although this could be done differently.

Safety mechanisms IMO must be tailored to the environment, one size
definitely doesn't fit all here. I

[2018-06-12 21:52] alekseymmm commented on #312
@ak-gh found that mail thread and read it. Unfortunately I haven't been subscribed to spdk mailing before, so thanks.
I hope some changes in  lvol architecture will be done or your patches accepted in master.

[2018-06-13 00:56] yidong0635 commented on #296
what's your procedures to setup the ceph enviroment? I  can't reproduce it if follow my procedures to create rbd.
download spdk.
apt install ceph (ubantu)or dnf install ceph(fedora)
vim CONFIG : `ASAN=y`
`./configure --with-rbd `then` make && make install`
Create config.conf:
[code]
`./scripts/setup.sh reset`
`NRHUGE=12288 ./script/setup.sh`
`./app/spdk_tgt/spdk_tgt -m 0x1 -p 0 -c config.conf -s 1

[2018-06-13 07:13] shuhei-matsumoto commented on #248
Now the behavior is slightly different from before and looks closer to the root cause.

https://ci.spdk.io/spdk/builds/review/b037121971c6945414f7af5df23823a45e144e9d.1528872177/

I think this is already past half a year and not urgent. Hence I'm refactoring the iscsi and scsi code and trying to find the root cause and create the solution.

I will update if I get progress.

[2018-06-13 13:43] #296 closed

[2018-06-13 13:51] pawelkax commented on #296
@yidong0635 Thanks for checking this issue. I also cannot reproduce this bug, so I decided to close it.

[2018-06-13 15:51] pohly commented on #330
pawelwod <notifications@github.com> writes:

Suppose the app is a storage driver which services two different apps X
and Y which ask for exposing two existing volumes A and B, both of
the same size but backed by different remote storage volumes with some
existing content. When /dev/sda and /dev/sdb appear, how does the
storage driver know which device is for A and which one for B?

The driver cann

[2018-06-13 16:08] pawelwod commented on #330
You can see that this controller have two LUNs
[code]

Now look at `HCTL` column. You have `2:0:0:0` and `2:0:1:0` Last two digits are Target ID and LUN ID. The same info is available in sysfs, `udevadm info /dev/sdX`, `lsscsi` or by reading`/proc/scsi/scsi`.

As only one LUN per target is supported LUN id will always be 0, but Target ID is passed when adding LUN via RPC `add_vhost_scsi_lun CTRL_N

[2018-06-14 04:25] dverkamp-intel commented on #326
@benlwalker has posted a patch to fix this: https://review.gerrithub.io/c/spdk/spdk/+/414481

[2018-06-14 04:32] wanqunintel commented on #326
@ChenWang01 pls. check this patch, thanks.

[2018-06-14 04:42] wanqunintel commented on #301
@pawelkax is there any thing that missed from the command Dong has pasted?

[2018-06-14 04:50] wanqunintel commented on #298
@benlwalker would you paste your patchset here?

[2018-06-14 04:58] Comphix commented on #282
Will work on the patch to at least not crash the target if configured with 32 cores.

[2018-06-14 05:00] wanqunintel commented on #245
@WenqianZong would you run the test again with latest SPDK code and dump the data and send the log back to Jim?

[2018-06-14 05:03] jimharris commented on #245
Latest master has blobstore metadump capabilities.  You can run:

examples/blob/cli/blobcli -c <rocksdb SPDK conf file> -b <bdev name> -D

Please run this immediately after the failure occurs and then attach the output to this issue (as an attachment, not inline).

Thanks,

-Jim

[2018-06-14 05:44] skaushal14 commented on #147
Hi alekseymmm,
I am also facing same issue while running discover or connect:
"Failed to write to /dev/nvme-fabrics: Connection reset by peer"
Please let me know how to resolve it.

[2018-06-14 07:48] alekseymmm commented on #147
Hello @skaushal14 First make sure that the necessary drivers are loaded
modprobe nvme_rdma  (on the host side)
modprobe nvmet_rdma (on the target side)

Regarding this problem, it has been almost a year ago so I am not 100% sure, but I believe that the steps that helped me was something  like this:
1.  Install latest Mellanox OFED drivers for your system
http://www.mellanox.com/page/products_dyn?p

[2018-06-14 08:50] pawelkax commented on #301
I execute:
1. ./configure --enable-debug --enable-werror --enable-coverage --enable-ubsan --enable-asan --with-rdma --with-pmdk --with-rbd --with-iscsi-initiator
2. make
3. ./test/bdev/blockdev.sh
and I got the following error at the end:
==32378==ERROR: LeakSanitizer: detected memory leaks

Direct leak of 432 byte(s) in 1 object(s) allocated from:
    #0 0x7f6040405532 in operator new(unsigned lo

[2018-06-14 15:29] jimharris commented on #301
Can you try https://review.gerrithub.io/#/c/spdk/spdk/+/415282/?

[2018-06-14 15:50] jimharris commented on #245
Either one.  It just needs to point to the SSD that was used for the RocksDB test.

[2018-06-14 18:43] ak-gh commented on #323
Surprisingly, after changing core.hooksPath as suggested I lost config-msg
hook (I've copied it under the new hooks path for sure, but it still didn't
work) which prevented pushes to gerrit. Restoring hooks path back to
default brought Change-Id back :).

Regards,
Andrey

On Thu, Jun 7, 2018 at 11:56 PM Andrey Kuzmin <andrey.v.kuzmin@gmail.com>
wrote:

[2018-06-14 21:02] pawelkax commented on #301
@jimharris @yidong0635  It looks like this patch fix this issue.

[2018-06-14 22:42] wanqunintel commented on #245
@jim go the test result from test pool and this is not critical issue as the issue not happen so frequently and also wenqian found it not happen so frequently

[2018-06-14 22:46] jimharris commented on #301
Thanks @pawelkax.

[2018-06-14 22:46] #301 closed

[2018-06-14 23:17] dverkamp-intel commented on #327
@akshorcl, any update on the testing? This has been merged as commit 194d6af65db462541368ab8f83b31c8eccdfeabd, but I want to verify it works for you.

[2018-06-15 02:33] WenqianZong commented on #279
@jimharris

I run rocksdb.sh 20 cycles and it reported following error:
[code]
The attachment "bsdump.txt"is log of command "examples/blob/cli/blobcli -c -b -D".
[bsdump.zip](https://github.com/spdk/spdk/files/2104608/bsdump.zip)

[2018-06-15 02:34] WenqianZong commented on #245
@jimharris

I run rocksdb.sh 20 cycles and it reported following error:
[code]
The attachment "bsdump.txt"is log of command "examples/blob/cli/blobcli -c -b -D".
[bsdump.zip](https://github.com/spdk/spdk/files/2104609/bsdump.zip)

[2018-06-15 07:37] yidong0635 commented on #292
It seems to the virtualbox issue.
![image](https://user-images.githubusercontent.com/39082016/41456051-e9755bde-70b1-11e8-86be-056c2b9c2a63.png)

[2018-06-15 09:43] senthilkumar-v opened #331 "NVMe-oF target: InCapsuleDataSize 0 does not work"
Hi,
      I’ve a query regarding Nvmf “InCapsuleDataSize” and its implementation. From the SPDK conf file Nvmf section, the “InCapsuleDataSize” is defined as below,

### Nvmf Conf. file
[Nvmf]
  ###Set the maximum number of outstanding I/O per queue.
  MaxQueueDepth 128
  ###Set the maximum in-capsule data size. Must be a multiple of 16.
  ###0 is a valid choice.
  InCapsuleDataSize 4096

Please n

[2018-06-15 14:48] akshorcl commented on #327
Thanks! Your change is fine and the uuid is available via spdk_nvme_ns. We were hoping to encode the PCIe addr via the user specified uuid so that will need some more work. Since the specification defines it as a uuid, we are limited to that.

[2018-06-15 14:48] #327 closed

[2018-06-15 21:58] benlwalker commented on #326
The patch posted above fixes this same bug in the bdev fio_plugin. Here's one that fixes it in the nvme fio_plugin:

https://review.gerrithub.io/#/c/415538/

[2018-06-18 15:30] kvietmeier commented on #292
Yidong is using Linux/OS X - not applicable

It sounds like Paul reinstalled Windows?   That is not a viable resolution - no one is going to reinstall their OS to get this working.

This looks very much like a Virtuabox for Windows issue.

I am running the latest Windows release and patch set that my IT org will allow.
 VBox 5.2.8 r121009 (Qt5.6.2)
 Host extensions - the latest as of 2 weeks ago

[2018-06-18 15:50] johnmeneghini opened #334 "Ubuntu16 check_format.sh bug."
https://review.gerrithub.io/#/c/spdk/spdk/+/415057/ is failing Verification because of a check_format.sh problem.  I believe this is a problem with the asytle utility on the Ubuntu 16 CIT testbed.  I have seen this problem before, and I have reproduced this problem on Ubuntu 16.  Note that the same patch does NOT display this problem on any other CIT testbed, so this is a CIT tool and configuratio

[2018-06-18 15:58] jimharris commented on #334
Maybe we have check_format.sh skip the astyle checks if the astyle version is less than <some revision number>?

[2018-06-18 16:00] jimharris commented on #334
We could also uninstall astyle on ubuntu16.04.  But I think a check in check_format.sh would make it more clear which version of astyle SPDK conforms to.

[2018-06-18 16:08] kvietmeier commented on #292
**Resolved -**
I went back and  double checked all versions and updated to the latest possible.  I can start the VM.

No need to reinstall Windows - but I did need the latest Extension Pack which has an NVMe update.
Versions:
VBox - 5.2.12 r122591 (Qt5.6.2)
EPack - 5.2.12
Vagrant - 2.0.1
Windows - Holiday Edition

![image](https://user-images.githubusercontent.com/9323750/41548182-00cee67a-72d7-11

[2018-06-18 16:08] #292 closed

[2018-06-18 16:08] jimharris commented on #292
Thanks Karl!

[2018-06-18 17:37] dverkamp-intel commented on #331
This is definitely a bug - we should be checking InCapsuleDataSize before trying to allocate and register the in-capsule data buffers.

[2018-06-19 05:30] wanqunintel commented on #312
It seems that there is a discussion on the trello on this, can anyone update the patch here and we may verify if it works. thanks. https://trello.com/c/zmbepRYG/119-github-issue-293

[2018-06-19 08:16] ChenWang01 commented on #326
Hi, Qun
@wanqunintel
I have verified this issue with master branch(include https://review.gerrithub.io/#/c/415538/ patch), and this issue can't be reproduced.
commit id：ddc63f077a6271a9fed4181ce65130b09d074433
The fio_plugin call the spdk_nvme_ctrlr_process_admin_completions() function, and the fioplugin can run successfully. So this issue can be closed.

Thanks,
Chen

[2018-06-19 08:22] #326 closed

[2018-06-19 15:43] noorshaheennoorudheen opened #335 "Creating an LVOL with all free clusters in LVS reports unexpected/reduced size for LVOL"
Creating an LVOL using all the reported free clusters in LVS only reports a reduced LVOL size.

As shown in "Steps to Reproduce tab, creating a single LVS out of the entire Intel 3.2TB P4500 and then creating a single LVOL volume out of the entire LVS only create/report ~999GB

## Context (Environment including OS version, SPDK version, etc.)
SPDK: version18.04
OS: Fedora Core 26
Kernel: 4.11.8-30

[2018-06-19 21:02] dverkamp-intel commented on #335
I'm attempting to reproduce this  on my system, but it seems to work OK.

I have a slightly different setup (4.00 TB drive), but I think the basic properties should be the same; I see a correctly-sized /dev/nvme0n1 when exporting a ~4TB lvol via NVMe-oF to the kernel host and using "nvme list".

I'm testing with:
- SPDK nvmf_tgt from master (f387d321338578abbc5c159c1849418f99671d80)
- Linux 4.16.3

[2018-06-19 21:14] dverkamp-intel commented on #335
Also, the output of `nvme id-ns /dev/nvme0n1` would be very helpful.

[2018-06-19 22:48] dverkamp-intel commented on #334
I removed astyle from the Ubuntu 16.04 test machine and re-ran the patch linked above, so that should resolve the short-term problem.

We should probably still add astyle version detection to check_format.sh to avoid problems like this in the future.

[2018-06-20 00:40] WenqianZong commented on #264
run perf test 5 minutes per cycle, after 1156 cycles ,"Work Request Flushed Error" reported.
commit 34de1542eb418fbc6f88365f269694baa5f5379f

[2018-06-20 02:39] senthilkumar-v commented on #331
Hi Xuhuagen,
        I'm already working on this issue but could see that it got assigned to you.  Can you please let me know whether you are working on fixing the same issue or it got assigned to you wrongly.

Thanks,
Senthil Kumar V.

[2018-06-20 02:41] wanqunintel commented on #331
Hi, @senthilkumar-v  Huagen is working on the validation for this issue. Will you submit the patch for this?

[2018-06-20 02:44] senthilkumar-v commented on #331
Hi @wanqunintel, I'm planning to discuss the proposed solution in the upcoming SPDK Asia community meeting on 21st June. After which I'll submit the patch for review.

[2018-06-20 02:47] wanqunintel commented on #331
Hi, @senthilkumar-v That's great, thank you and would you post the link for the patch here when it's done. Thanks a lot.

[2018-06-20 02:53] senthilkumar-v commented on #331
Hi @wanqunintel, sure. I'll post it here.

[2018-06-20 07:10] konili commented on #318
Sorry for the late response.

The cause of this issue as mentioned, some reason it could not be work if nvme mount as system drive.
I used another system which installed on SATA SSD and the example code work well of NVMe storage detection.

Thanks for your great help :)

-Koni

[2018-06-20 09:01] pohly commented on #330
@pawelwod something is still missing: how can I ensure that the block device is from the right SCSI controller? I can't just compare the host:channel part (the 2:0 in the example above) because it is unknown how the kernel enumerates the hosts.

On the QEMU side, I set up the device with:
[code]

This shows up in the VM as:
[code]

Is it safe to make the following assumptions?
1. the `/sys/dev/blo

[2018-06-20 09:02] alekseymmm opened #336 "Question on spdk_bdev_close"
Hello I am new with SPDK and I have  probably  a quite stupid question but so.  I was reading code of the function `spdk_bdev_close`. I believe this function is called when one finished working with bdev. In this function there are checks:
[code]
Regarding the  first if, I greped the whole spdk code and found out that the only place where you set
`bdev->status = SPDK_BDEV_STATUS_REMOVING;`
is in b

[2018-06-20 09:06] chenlo2x commented on #334
The reason why check_format.sh failed on ubuntu 16.04 is that the astyle version is too low (2.0.3). I have resolved this problem on my ubuntu 14.04,  I install astyle (3.0.1) via the astyle source code. weblink: https://launchpad.net/ubuntu/+source/astyle/3.0.1-1ubuntu1

[2018-06-20 11:32] Maciej-Szwed commented on #336
Hi Aleksei,
There are no stupid questions ☺ This one is a bit tricky. When user calls spdk_bdev_unregister we cannot unregister the bdev right away because it may have some vbdevs created on top of it, or it can be open (have open descriptors) as well. In such case we postpone the deregistration until all vbdevs are unregistered and all active descriptor to this bdev are closed (the if(!do_destruc

[2018-06-20 11:49] alekseymmm commented on #336
Thanks, it clarified a bit. Do we have to call spdk_bdev_unregister before spdk_bdev_close () then?

What happens when we have for example one vbdev that volds (opened and claimed) 2 other bdev when one call spdk_bdev_close() with this vbdev? Will it follow this kind of dependencies and close  lower bdevs and then close itself ?
I looked at null bdev and passthru and others but they have only one

[2018-06-20 12:05] noorshaheennoorudheen commented on #335
Details as requested from the system where the issue is reported.

**SPDK Version :**
_git show --oneline -s_
**ddc63f07** (HEAD -> master, origin/master, origin/HEAD) bdev: change spdk_bdev_free_io return type to void

**System Details**
Linux 4.11.8-300.fc26.x86_64 (host system, also running the SPDK target on this system in loopback)
nvme cli version 1.3 from Fedora 26

_[root@fmdcppzona26 ~]#

[2018-06-20 12:11] Maciej-Szwed commented on #336
You don’t have to call spdk_bdev_unregister if you want to have particular bdev available but closed at the moment – spdk_bdev_close will be sufficient. You call spdk_bdev_unregister only if you want to remove bdev entirely (unregister function will remove it from bdevs list, close function will keep it on bdevs list, but it will only decrease the open ref count and free descriptors allocated duri

[2018-06-20 12:53] alekseymmm commented on #336
But what if we have something like raid  on multiple devices and one of them closed (for example device become absent) then i call spdk_bdev_close() on this bdev and it will close the entire raid vbdev ? It is weird.

[2018-06-20 14:11] pawelkax opened #337 "Errors when killing nvmf_tgt"
## Expected Behavior
Nvmf_tgt is killed without error

## Current Behavior
I got following output:
^C=================================================================
==144090==ERROR: AddressSanitizer: heap-use-after-free on address 0x60600000e620 at pc 0x00000058f40c bp 0x7ffc42648710 sp 0x7ffc42648700
WRITE of size 8 at 0x60600000e620 thread T0 (reactor_0)
    #0 0x58f40b in spdk_nvmf_rdma_qpair

[2018-06-20 15:00] jimharris commented on #336
Maciek is correct - after the device is closed, it still exists on the global list of bdevs.  Closing a bdev does not destroy it.  bdevs are destroyed by the bdev modules.

It is similar to kernel based block devices.  On Linux, if you close /dev/nvme0ns1, it does not destroy it.  /dev/nvme0ns1 is destroyed by the kernel if the NVMe controller is hot-removed, a namespace management command deletes

[2018-06-20 15:14] jimharris commented on #335
Thanks!  LBA count matches the 998GB reported earlier.

Could you post the results from:

examples/blob/cli/blobcli -c nvmf.sample.lvol.conf -D -b Nvme0n1

This will dump the blobstore metadata contents of your logical volume store and help narrow down where we should be looking next.

I saw your original report was against SPDK 18.04, but the latest nvme-cli output was using master.  When using m

[2018-06-20 15:28] jimharris commented on #318
No problem Koni.  Thank you for following up.

[2018-06-20 15:55] alekseymmm commented on #336
@jimharris  Thanks for more explanations.
But what about the case with some kind of vbdev that created on top of the two other bdevs  like raid1 . When one of the lower bdevs failed (for example removed) should vbdev call spdk_bdev_close() on this bdev? This bdev couldn't be unregistered since it is in the vbdev->base_bdevs array and it has opened base_desc.

[2018-06-20 16:23] jimharris commented on #336
Yes – the RAID vbdev module should close the descriptor on the member disk bdev that was removed.

This base_bdevs array needs to be looked at in more detail though.  It doesn’t really get used for anything currently.  The intention was to give the bdev layer a way to understand parent/child bdev relationships, but there’s no mechanism for removing a base_bdev from its array (i.e. one of the membe

[2018-06-20 16:42] alekseymmm commented on #336
@jimharris consider this case.
vbdev RAID1 on top of two Malloc bdevs  let say Malloc0 and Malloc1. Suppose Malloc0 died (has been removed or whatever) if it was opened by raid vbdev with remove_cb provided this callback then will be called and in this callback raid should perform spdk_bdev_close as you said. Then Malloc0 is no longer in opened descs so will be unregistered , am I right here?
The

[2018-06-20 17:38] johnmeneghini opened #338 "Our Fedora 26 SPDK CIT testbeds are suddenly failing autotest."
CITs test suddenly started failing on our internal testbeds and now 2 out of 3 of our Fedora 26 SPDK CIT testbeds are down.

See:  https://lists.01.org/pipermail/spdk/2018-June/002066.html

We use vm_setup.sh to setup our SPDK CIT testbeds.

## Expected Behavior

 autotest.sh on the master branch continues to run on Fedora 26 CIT testbeds.

## Current Behavior

 autotest.sh unpredictably and inter

[2018-06-20 22:10] dverkamp-intel commented on #335
My 4 TB device was formatted with 4 KB sectors, as @jimharris pointed out; I have reformatted it with 512-byte sectors, and now I can reproduce the problem.  There are several places where we store numbers of blocks in uint32_t variables; lib/blob will need a thorough audit to find all of them and make sure we are not truncating anywhere.

[2018-06-21 01:28] WenqianZong commented on #337
@pawelkax
I can reproduce this issue with your steps . Can you tell me where your error log was found？core dump trace log？

[2018-06-21 04:07] jimharris commented on #331
Suggestion is to *not* allocate 1-byte buffers.  Just don't allocate any memory when in-capsule-size is 0.

This will require some other changes - i.e. for the rdma recvs, it should just be one scatter gather element instead of two.

[2018-06-21 04:55] johnmeneghini commented on #304
The new patch I've created for this enhancement is at:

https://review.gerrithub.io/#/c/spdk/spdk/+/415907/

[2018-06-21 06:59] noorshaheennoorudheen commented on #335
@jimharris: Please see the output below.

[root@fmdcppzona21 spdk]# examples/blob/cli/blobcli -c nvmf.sample.lvol.conf -D -b Nvme0n1
Starting SPDK v18.07-pre / DPDK 18.02.0 initialization...
[ DPDK EAL parameters: blobcli -c 0x003 --file-prefix=spdk_pid4255 ]
EAL: Detected 72 lcore(s)
EAL: No free hugepages reported in hugepages-1048576kB
EAL: Multi-process socket /var/run/.spdk_pid4255_unix
EAL:

[2018-06-21 07:28] pelplinski commented on #312
Hi @wanqunintel, I'm working on the last patch in the series, it should be ready for review and testing by EOW.

[2018-06-21 07:30] wanqunintel commented on #312
Hi, @pelplinski , thank you for the update.

[2018-06-21 09:07] pawelkax commented on #337
I found my logs after killing nvmf_tgt application.
Before compiling spdk sources I use:
./configure --enable-debug --enable-werror --enable-coverage --enable-ubsan --enable-asan --with-rdma --with-pmdk --with-rbd --with-iscsi-initiator

[2018-06-21 16:41] alekseymmm commented on #336
I think the good solution for the case I described above is to organize vbdev->base_bdevs not as array but as  linked list (tailq) and on bdev_close just remove closing device from this list. So when vbdev is unregistered its list has only really opened bdevs.

[2018-06-21 18:25] jimharris commented on #336
I think we probably need to rip out these base_bdevs and vbdevs arrays entirely.  The intention was to enable the bdev layer to understand the bdev topology but there’s nothing making use of it today.  But it is really not safe for the bdev layer to keep bdev references without their own descriptor.

The better solution long-term would be for bdev modules to provide function pointers where the bde

[2018-06-21 19:48] alekseymmm commented on #336
@jimharris I like this tailq we had before. I just thought that  this kind of relationship between bdevs like one in the commit you mentioned  is super unsafe.
[code]
I mean sharing bdev1 between many other vbdev looks like the opportunity for data corruption... Does it have any practical use?

Yes it sounds like the best solution.

[2018-06-21 19:55] jimharris commented on #336
Partitioning modules like GPT or logical volumes can present multiple bdevs from a single base bdev.  Then it’s possible to do a RAID-0 of two such partitions.  Likewise, multiple partitions from the same base_bdev could be part of many of these RAID-0 volumes.

I’m not saying this is the most common usage scenario, but we want something that’s general and don’t want to preclude these types of use

[2018-06-21 22:47] jimharris commented on #335
We have checked in a patch to master that should fix this issue.  Could you pull latest master and confirm?

https://review.gerrithub.io/#/c/spdk/spdk/+/416231/

Thanks,

-Jim

[2018-06-22 09:38] beef9999 opened #339 "[vhost bug] Continuous stressful operations cause vhost app to crash or respond timeout"
Hi, guys

I was running some stress tests before trying to deploy SPDK into production environment. Then I found the vhost app would occasionally crash or respond with connection timeout, when stress was high.

My test case is like this:
1. Setup vhost app
2. Create 10 SPDK volumes (construct_lvol_bdev, construct_vhost_scsi_controller, add_vhost_scsi_lun)
3. Create 10 QEMU guests
4. Attach the vol

[2018-06-22 11:09] noorshaheennoorudheen commented on #335
I just verified with the changes and it gives me the entire volume size. Thanks for the fix, closing the bug

[2018-06-22 11:09] #335 closed

[2018-06-25 02:04] WenqianZong commented on #337
@pawelkax
Unfortunately, I also can not reproduce this issue with compiling spdk command "./configure --enable-debug --enable-werror --enable-coverage --enable-ubsan --enable-asan --with-rdma --with-pmdk --with-rbd --with-iscsi-initiator".

[2018-06-25 09:09] ChenWang01 commented on #339
Hi, Bob
I can reproduce this issue in our environment with the master branch. Thanks.
Steps for reproduce:
[code]

[2018-06-25 09:34] Comphix commented on #282
@liang2yan
Could you have a try at this patch https://review.gerrithub.io/c/spdk/spdk/+/416689 with 32 configured cores on P3700?

Thanks for your time. Gang

[2018-06-25 12:44] darsto commented on #339
This is related to [the very ugly workaround](https://review.gerrithub.io/c/spdk/spdk/+/408611) we crafted to support QEMU 2.12. We are currently in a middle of rewriting vhost initialization code, which should land in master in the upcoming weeks. That will fix this issue. Please assign this bug to me, I'll keep it updated.

[2018-06-25 15:38] ak-gh commented on #336
Consider a pass-through driver that creates two vbdevs atop a single base bdev to provide two different QoS classes.

[2018-06-25 21:05] pawelkax commented on #337
@WenqianZong
Ok. I will try to reproduce this again and try to clearly define steps to get error message.

[2018-06-26 05:05] wanqunintel commented on #337
@pawelkax do you have the commit #?

[2018-06-26 05:29] liang2yan commented on #313
Patch merged. Just verified with latest codes, this issue can be closed now.

[2018-06-26 05:29] #313 closed

[2018-06-26 09:49] jessehui opened #340 "Segmentation fault when running bdevperf for iSCSI initiator"
## Expected Behavior

Using bdevperf to test read/write performance for SPDK iSCSI initiator

## Current Behavior

Segmentation fault (core dumped) with info:
[code]

## Possible Solution

## Steps to Reproduce

1. Add iscsi initiator config to `bdev.conf.in`:
[code]
2. Target side:  `./app/iscsi_tgt/iscsi_tgt -c etc/spdk/iscsi.conf.in  -p 1 -s 512`
3. Initiator side: `cd test/bdev && ./bdevperf/b

[2018-06-26 13:44] optimistyzy commented on #340
https://review.gerrithub.io/#/c/spdk/spdk/+/416837  May be check this
patch to see what happened.

2018-06-26 21:26 GMT+08:00 杨子夜 <optimistyzy@gmail.com>:

[2018-06-26 19:14] ack72tdp opened #343 "build error .. . Any ideas?"
make[3]: Entering directory `/root/anil/spdk/dpdk'
== Build lib
== Build lib/librte_compat
== Build lib/librte_eal
== Build lib/librte_eal/common
== Build lib/librte_eal/linuxapp
== Build lib/librte_eal/linuxapp/eal
  CC eal_memory.o
/root/anil/spdk/dpdk/lib/librte_eal/linuxapp/eal/eal_memory.c:27:18: fatal error: numa.h: No such file or directory
 #include <numa.h>
                  ^
compilation

[2018-06-26 19:17] ack72tdp commented on #343
fatal error: numa.h: No such file or directory #include <numa.h> ^ compilation terminated.

[2018-06-26 20:08] pawelkax commented on #337
@wanqunintel No, I don't have any commit.

[2018-06-26 20:15] pawelkax commented on #337
@wanqunintel  @WenqianZong
When I use command:
nvme connect -t rdma -n nqn.2014-08.org.spdk:cnode1 -a 192.168.100.10 -s 4260 -Q 32
and during this command I press Ctrl-C, then error output occurs.

[2018-06-26 20:32] pawelkax commented on #337
@wanqunintel @WenqianZong
Similar output I get when I use command:
nvme connect -t rdma -n nqn.2014-08.org.spdk:cnode1 -a 192.168.100.10 -s 4260 -Q 32
wait until it finishes, and then I kill nvmf_tgt.
This is similar but not the same error as in this issue.

[2018-06-26 20:33] ack72tdp commented on #343
I did however I saw few errors ..

Error downloading packages:
  python-urwid-1.1.1-3.el7.x86_64: [Errno 256] No more mirrors to try.
  pyparsing-1.5.6-9.el7.noarch: [Errno 256] No more mirrors to try.
  1:python-configshell-1.1.fb23-3.el7.noarch: [Errno 256] No more mirrors to try.

------------------
All output ...

[root@nautilus106 spdk]# ./scripts/pkgdep.sh
Loaded plugins: product-id, search-

[2018-06-26 21:29] ack72tdp commented on #343
This is Rhel 7.4 .. not sure if the system is up to date. .. So I installed ubutunu 18 .. it builds fine there ..  I guess we can close this ... Thanks for your help ..

[2018-06-26 21:29] #343 closed

[2018-06-27 01:29] optimistyzy commented on #340
By the way, I tested the master branch.  And using the following
configuration file in target side:

[Global]
[iSCSI]
 NodeBase "iqn.2016-06.io.spdk"
 AuthFile /usr/local/etc/spdk/auth.conf
 MinConnectionsPerCore 4
 Timeout 30
 DiscoveryAuthMethod Auto
 DefaultTime2Wait 2
 DefaultTime2Retain 60
 ImmediateData Yes
 ErrorRecoveryLevel 0
[PortalGroup1]
 Portal DA1 127.0.0.1:3260
[InitiatorGroup1]
 In

[2018-06-27 04:56] liang2yan commented on #282
Veirifed gang's patch with P3700. This issue didn't happen and SPDK just print some error messages. So wait for updated version of gang's patch.

[2018-06-27 07:04] xuhuagen opened #344 "If rpc method set_bdev_qos_limit_iops timeout,affects the execution of subsequent commands"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

Though it is a wrong way to use  rpc method 'set_bdev_qos_limit_iops' and it occured
'Timeout while waiting for response:' ,  it should not affact the execution of subsequent rpc commands.

## Current Behavior

[2018-06-27 09:51] pawelkax opened #345 "Spdk_tgt crashes when deleting lvol store."
### Expected Behavior
Spdk_tgt works normally

### Current Behavior
blobstore.c:4976:spdk_bs_delete_blob: *ERROR*: Cannot remove snapshot with clones
lvol.c: 915:_spdk_lvol_delete_blob_cb: *ERROR*: Could not delete blob on lvol

=================================================================
==24215==ERROR: AddressSanitizer: heap-use-after-free on address 0x610000003ce8 at pc 0x000000478040 bp 0

[2018-06-27 18:10] lhoswdev opened #346 "build: Request for option enabling build of individual SPDK shared libs"
A fairly recent (June 11, 2018) commit, 6f46e27, launched the ability to produce a shared library of the SPDK, albeit a single .so.   During the SPDK community meeting held at Tue Jun 26 UTC 15:00, I inquired about the ability to build individual SPDK shared libs (on parity with the individual static libs).   @dverkamp-intel requested that I log this request as an issue here.

[2018-06-27 18:30] dverkamp-intel commented on #344
The RPC usage looks fine to me; this is definitely a bug in the QoS RPC implementation.

It looks like the problem occurs when there are no I/O channels, so _spdk_bdev_enable_qos_done() is called synchronously within the context of the spdk_for_each_channel() call in spdk_bdev_set_qos_limit_iops(); this happens while we are still holding the bdev mutex, so the pthread_mutex_lock() call in _spdk_bd

[2018-06-27 19:30] darsto commented on #330
On Wed, Jun 20, 2018 at 11:01 AM Patrick Ohly <notifications@github.com>
wrote:

Yes. In fact we already do such thing in setup.sh script to detect if a PCI
virtio device doesn't have any mountpoints on its block devices before we
unbind it from the kernel virtio driver. `get_virtio_names_from_bdf` is the
function if you want to look it up.

Also, you can specify your own buses in QEMU with custom

[2018-06-27 19:39] darsto commented on #328
We have a backlog trello item to support multiple LUNs per SCSI
target: https://trello.com/c/VQpj9shl/10-support-multiple-luns-per-target
Can this issue be closed?

On Tue, Jun 12, 2018 at 10:56 AM Patrick Ohly <notifications@github.com> wrote:

[2018-06-27 20:47] dverkamp-intel commented on #344
Please try with https://review.gerrithub.io/#/c/spdk/spdk/+/417068 - this appears to fix the issue for me.

[2018-06-27 23:22] Seth5141 opened #347 "ASAN errors when exiting nvmf_tgt application after a call to delete_nvmf_subsystem"
## Expected Behavior
The application should shut down with no ASAN errors.

## Current Behavior
Currently, ASAN reports a heap use after free error on an spdk_nvmf_ctrlr in the shutdown path when running the fio_remote_nvme.sh test in the SPDK repository.
The error is included below.

==585805==ERROR: AddressSanitizer: heap-use-after-free on address 0x62100007a908 at pc 0x0000005f8aaf bp 0x7ffe3e9

[2018-06-28 01:39] xuhuagen commented on #344
Yes,I patched https://review.gerrithub.io/#/c/spdk/spdk/+/417068 for this issue and it worked.

[2018-06-28 04:33] wanqunintel commented on #280
@WenqianZong as Ben mentioned that a bunch of patches has been merged to master, will you retest with master and update it here? thanks.

[2018-06-28 04:37] wanqunintel commented on #344
@xuhuagen will you close if no issue

[2018-06-28 04:38] wanqunintel commented on #337
@pawelkax is there any patch for it

[2018-06-28 04:41] wanqunintel commented on #282
Patch works fine and patch is being reviewed with different ideas, pending for reverify

[2018-06-28 04:44] optimistyzy commented on #340
https://review.gerrithub.io/#/c/spdk/spdk/+/410891/  This patch introduced
the issue.

2018-06-28 12:42 GMT+08:00 wanqunintel <notifications@github.com>:

[2018-06-28 04:55] wanqunintel commented on #255
@liang2yan can you post the detail of the coredump issue for hot plug, thanks.

[2018-06-28 05:10] xuhuagen commented on #344
@wanqunintel  I will close this issue when  https://review.gerrithub.io/#/c/spdk/spdk/+/417068 merge.

[2018-06-28 05:13] shuhei-matsumoto commented on #255
@liang2yan @wanqunintel

This is related with hotplug? It looks data protection issue during FIO.
I can see detailed core dump at the top of this page. What will be additionally posted here?
I hope the core dump you observed first will be fixed by my hotplug patches.

But I think probably we should handle this issue as data protection issue.

Now this issue is related with

[2018-06-28 05:44] WenqianZong commented on #280
@wanqunintel
I can not reproduce core dump with latest spdk version ,commit : 70df6cb890d20a9748d3a4e8814156c4f9846d57

[2018-06-28 06:08] pohly commented on #330
I've implemented this approach and it seems to work well enough. Let's close this issue.

[2018-06-28 06:08] #330 closed

[2018-06-28 06:12] pohly commented on #328
No, multiple LUNs is a different issue. Once SPDK supports multiple LUNs, the same issue arises: when LUNs need to be allocated dynamically, then it is better done inside the server than the client.

[2018-06-28 07:39] pawelkax commented on #337
@wanqunintel No there is no patch for it, This error occurs on master.

[2018-06-28 08:33] liang2yan opened #348 "SPDK scripts/fio.py's fio parameter may have conflict between norandommap and verify"
From the fio manual, the verify and norandommap parameter may have conflict.
The SPDK scripts/fio.py have following parameter:
 norandommap=1
%(verify)s
verify_dump=1

The norandommap parameter is always true whenever verify is enabled or not.

I have submitted a patch to fix this issue:

https://review.gerrithub.io/#/c/spdk/spdk/+/417094/

[2018-06-28 08:36] liang2yan commented on #255
@shuhei-matsumoto , I am trying to reproduce the core dump.
And I have created another github issue for the FIO data protection issue.
https://github.com/spdk/spdk/issues/348

[2018-06-28 12:31] pawelwod commented on #340
@optimistyzy

What is final status? Is this reproducible? If yes, please provide steps.

[2018-06-28 17:44] pohly opened #349 "vhost: don't leak hugepages when killed with SIGKILL"
## Expected Behavior

When the app/vhost/vhost binary gets killed with SIGKILL, the kernel should free as many resources as possible.

## Current Behavior

Entries in /dev/hugepages are left behind because the process only frees resp. deletes the pages when shutting down cleanly.

## Possible Solution

Not sure whether it is possible, but perhaps the file entries in /dev/hugepages can already be d

[2018-06-28 17:58] pohly opened #350 "vhost: leaked huge pages when killed with SIGINT"
## Expected Behavior

When shutting down a the app/vhost/vhost with SIGINT, it should free all huge pages.

## Current Behavior

/dev/hugepages still has the entries for the killed process. According to discussions on IRC that shouldn't happen.

## Steps to Reproduce

Start vhost under sudo, then abort with CTRL-C:

[code]

## Possible Solution

Perhaps this can be solved together with #349?

## C

[2018-06-28 21:28] ghost opened #351 "bdev/iscsi should check for unmap support"
## Expected Behavior

The iSCSI bdev module should correctly report whether a bdev (LUN) supports UNMAP.

## Current Behavior

The iSCSI bdev module currently reports that all bdevs support UNMAP without checking.

## Possible Solution

Retrieve the Logical Block Provisioning VPD page for each LUN and check if the logical block provisioning UNMAP command (LBPU) bit is set in order to determine whe

[2018-06-28 23:32] dverkamp-intel commented on #351
We should also be splitting large UNMAP requests, since the SCSI UNMAP command only supports 32-bit number of blocks, whereas the bdev layer unmap request has a 64-bit block count field.

See bdev_virtio_unmap() in lib/bdev/virtio/bdev_virtio_scsi.c for an example of how this should work (this file also has an example of how to check for UNMAP support in the VPD page).

[2018-06-29 01:50] jessehui commented on #340
@pawelwod It is reproducible. With libiscsi master branch. Steps are listed above. You may have a look. Thank you.

[2018-06-29 02:43] liang2yan commented on #348
patch has merged. So close this issue.

[2018-06-29 02:43] #348 closed

[2018-06-29 04:16] shuhei-matsumoto commented on #248
I submitted patch series and re-enabled hot removal test.

Hot removal test has passed as expected.
https://review.gerrithub.io/#/c/spdk/spdk/+/417200/

I hope we can start review process.

[2018-06-29 04:20] shuhei-matsumoto commented on #255
@liang2yan

I submitted patch series and re-enabled in them.
If this issue is also related with hot plug, let's work together.

Besides It will be nice if we can add additional tests especially about hot-removal.
So any input is appreciated.

Thanks,
-Shuhei

[2018-06-29 05:33] liang2yan commented on #255
@shuhei-matsumoto , yes of course. I  also re-enabled the hotplog testing in autotest and run the script locally. But I have run about 200 times. The core dump issue still can't be reproduced. I will add more hot-removal test cases .

[2018-06-29 11:01] pohly commented on #349
pawelwod <notifications@github.com> writes:

True, the program itself can't clean up in this case. That's why I was
suggesting that the kernel should clean up as much as possible. In our
IRC discussion it did not become clear to me why that can't work for
huge pages.

Note that I am not talking about the SPDK library, only about the vhost
app. That app may be able to set up huge memory usage diffe

[2018-06-29 11:49] pohly commented on #349
Yes. There's two things that the app can do:
- signal handling (but that is covered by issue #350)
- allocating resources such that they get freed by the kernel on process exit

A temp file that gets unlinked while it is open is the classic example for the latter. I don't know whether that can be done for huge pages, but IMHO it is worth investigating (this issue).

[2018-06-29 12:49] pawelwod commented on #349
We already handling SIGINT and SIGTERM but issue is that DPDK is not unlinking those files. There is experimental function `rte_eal_cleanup()` that we can call. I will check if this will work in case of clean exit (#350). As we (SPDK) are not managing those hugepage files directly but using DPDK for that, in case of  SIGKILL or crash I don't have any idea how to cleanup those artifacts. So this co

[2018-06-29 13:36] pawelwod commented on #349
Nope, despite DPDK 18.02 description
[code]

the ``rte_eal_cleanup()`` function doesn't do what the claim 👎

[2018-07-02 01:18] xuhuagen commented on #344
Pacth https://review.gerrithub.io/#/c/spdk/spdk/+/417068  can resolve it,so close this issue.

[2018-07-02 01:18] #344 closed

[2018-07-02 05:32] optimistyzy commented on #340
hi @pawelwod I updated my patch:  https://review.gerrithub.io/#/c/spdk/spdk/+/416837/ And We can confirm that it is an issue of libscsi. So this patch can solve the issue. But for long time, SPDK should be work with designated version of libiscsi to avoid the issue caused by the third party API.

[2018-07-02 05:36] optimistyzy commented on #351
@jessehui Can you look at this issue mentioned by @dverkamp-intel

[2018-07-02 06:07] wanqunintel commented on #293
@ChenWang01 , you may refer to the links in this trello task and verify this bug. thanks.https://trello.com/c/zmbepRYG/119-github-issue-293

[2018-07-02 07:14] xuhuagen opened #352 "spdk bdevperf core dumped when use iscsi initiator"
core dumped occurred when I run bdevperf command
`./test/bdev/bdevperf/bdevperf -c ../bdev.conf -q 32 -s 4096 -w write -t 10`

bdev.conf as below:
[code]
core dumped log:
[code]

## Expected Behavior
bdevperf should  run success when io pattern is reset,unmap,reset and so on when I use iscsi initiator.
## Current Behavior

core dumped occurred when I run bdevperf command

## Possible Solution

##

[2018-07-02 07:33] optimistyzy commented on #352
duplicated error, which is same with #340  @xuhuagen

[2018-07-02 07:49] pawelwod commented on #340
I can only see a resource leak in this patch (see review) that is hiding real issue. If you are sure that this is libiscsi bug pls point me in which version it is present and in which it is fixed of some bug id or something.

[2018-07-02 08:03] xuhuagen commented on #352
this issue is same with #340,so close it。

[2018-07-02 08:03] #352 closed

[2018-07-02 08:13] liang2yan opened #353 "SPDK reported AddressSanitizer issue after the unsuccessful RPC operation and the CTRLR+C method"
I am trying to reproduce the issue 255 and found another possible core dump issue.
## Steps to Reproduce
1. get latest SPDK and configure it with --enable-werror and --enable-asan.
2. run spdk with attached file,
[iscsi-loopback.log](https://github.com/spdk/spdk/files/2154349/iscsi-loopback.log)

3. in same machine, login to the SPDK iscsi target;
4. run "./rpc.py delete_bdev Malloc0"
5. wait a wh

[2018-07-02 08:15] liang2yan commented on #255
@shuhei-matsumoto . I have run some hotplug testing and found another possible leak issue reported by AddressSanitizer. And I have created a new issue: https://github.com/spdk/spdk/issues/353.
The new issue is related with hotplug. But I think it is not just about hotplug..

[2018-07-02 09:51] yidong0635 opened #354 "SPDK nvmf target crashed with ctrlr+c killing method while running rbd bdev testing"
spdk nvmf target crashed with ctrlr+c killing method while running rbd bdev testing.

nvmf_tgt: bdev.c:1182: _spdk_bdev_channel_destroy_resource: Assertion `ch->io_outstanding == 0' failed.
Aborted (core dumped)

(gdb) bt
#0  0x00007f736d8c5f2b in raise () from /lib64/libc.so.6
#1  0x00007f736d8b0561 in abort () from /lib64/libc.so.6
#2  0x00007f736d8b0431 in ?? () from /lib64/libc.so.6
#3  0x0000

[2018-07-02 10:17] optimistyzy commented on #340
Hi Paul,

I know that there is the memory leak.  You can try master branch of
libiiscsi. If we do not link SPDK app with our designated libiscsi, if the
users use their own version of libiscsi, the segment fault will be
triggered. Compared the memory leak, the segment fault will be more
serious, right?  Even the patch in libiscsi is solved,  you can not prevent
the wrong usage of libiscsi.

2018-0

[2018-07-02 11:45] liang2yan commented on #354
@yidong0635 . Can you use latest codes to verify this issue? You used SPDK V18.04.1 from the context.

[2018-07-03 01:12] yidong0635 commented on #354
sorry, correct the version.

[2018-07-03 02:53] optimistyzy commented on #354
One question,  could you start iSCSI target  + rbd,  and kill iSCSI target,
see what happens? Will see the same issue in bdev rbd

2018-07-03 9:12 GMT+08:00 yidong0635 <notifications@github.com>:

[2018-07-03 05:31] wanqunintel commented on #248
@liang2yan , as you mentioned that we need to add test cases, would you check with shuhei to add which test case

[2018-07-03 05:39] wanqunintel commented on #280
close this bug as issue not produciable and code merged

[2018-07-03 05:39] #280 closed

[2018-07-03 05:49] wanqunintel commented on #264
@benlwalker, is there any patch for this issue being worked on?

[2018-07-03 05:58] wanqunintel commented on #347
@Seth5141 , is there any patch being working for this issue?

[2018-07-03 06:06] wanqunintel commented on #312
@WenqianZong , would you verify with latest master code with the patch merged as mentioned in the https://trello.com/c/zmbepRYG/119-github-issue-293.

[2018-07-03 07:36] xuhuagen commented on #331
@senthilkumar-v is there a patch to slove this issue?

[2018-07-03 08:02] senthilkumar-v commented on #331
@xuhuagen Sorry for the late response. I couldn't spend time on this last week due to other priorities. I'll submit it in this week.

[2018-07-03 08:23] avinashmn commented on #234
@shashankgugnani  Is this issue still open? Were you able to run BlobFS tests over NvmF?

[2018-07-03 08:25] PepperJo opened #355 "NVMf: Arbitration support"
Provide arbitration support like weighted round robin for the NVMf target. My undestanding is that this is not straight forward to do in SPDK since there is no 1:1 relation between a bdev nvme queue and a NVMf connection. We would need to introduce priorities in the bdev abstraction.

[2018-07-03 08:36] pohly commented on #350
@wanqunintel I'm a bit uncertain what the expectation is when an issue like this gets assigned to me. Can you clarify?

I can review a proposed solution, but I wasn't planning to develop one myself.

[2018-07-03 08:39] wanqunintel commented on #350
@pohly , this bug is assigned to you as you find it and if anyone has a fix on it, you may have a chance to know and verify it. we will assign other validator to validate this issue also, so you will expect to see more than one owners for it. any comments are welcomed. :)

[2018-07-03 11:14] pelplinski commented on #293
Last patch in series to workaround this issue is here: https://review.gerrithub.io/c/spdk/spdk/+/413913

Even with this patch we need to modify test a little bit.

This patch will not help with this exact scenario, because we load lvol during Nvme0n1 examine. This creates race condition, where lvol claims Nvme0n1 before split does.

To workaround this we need to specify split in config file. This

[2018-07-03 16:24] jimharris commented on #355
Just a thought - what if this was implemented solely in the NVMe-oF target?  Then it would work with any bdev - not just bdevs that are namespaces on a WRR-enabled NVMe SSD.

[2018-07-03 23:39] dverkamp-intel commented on #355
It should be possible to implement this in the NVMe-oF target in a generic way, but I believe it would require message-passing all I/O for a given controller to a single thread so that it could apply the weighted round robin policy as required by the NVMe specification.

[2018-07-03 23:41] jimharris commented on #355
True.  But I think we'll have similar problems if we try to plumb this through the bdev layer.

[2018-07-03 23:47] dverkamp-intel commented on #355
Yes, I didn't mean to imply that we should try to plumb this through the bdev layer to use native NVMe WRR somehow; I don't think that is possible with our current NVMe-oF target design.

Also, I think simple per-bdev-io priorities would not be sufficient to emulate WRR in a way that matches the requirements laid out in the NVMe specification, such as the arbitration burst and user-specified weigh

[2018-07-04 00:31] WenqianZong commented on #337
@pawelkax
I still can not reproduce this issue.Could you provide detail test env(kernel ,os...), thanks.

[2018-07-04 00:39] WenqianZong commented on #312
After use patch https://review.gerrithub.io/c/spdk/spdk/+/413913, issue can not be reproduce.

[2018-07-04 05:28] yidong0635 commented on #302
@jimharris  Can you help to review it , if need this patch?

[2018-07-04 07:16] jessehui commented on #351
Yep. Will look into this. Thank you.

[2018-07-04 07:20] pelplinski commented on #293
@pawelkax I think it should work as long as you call construct_split_vbdev before corresponding construct_nvme_bdev

[2018-07-04 07:45] PepperJo commented on #355
I agree I don't think we can emulate WRR in software. Once one hardware queue is filled to a certain level you would block urgent request behind the already pending requests. We need to enable native WRR in the block layer. One approach could be similar to this: https://www.usenix.org/sites/default/files/conference/protected-files/hotstorage17_slides_joshi.pdf

[2018-07-04 07:50] jessehui opened #356 "bdevperf error log buffer mismatch and then get frozen for reset test"
Reset is one of the IO type that should be invoked every 10 seconds in the bdevperf test. However, the test always throws `Buffer mismatch!` and some times gets frozen (can't exit with `ctrl` + `c`)

## Expected Behavior

bdevperf should return performance statistics.

## Current Behavior

[code]
## Possible Solution

Not known yet.

## Steps to Reproduce

1. add bdev malloc configuration to bdev.

[2018-07-04 07:52] jessehui commented on #356
@xuhuagen could you please verify this to see whether it is reproducible

[2018-07-04 08:50] xuhuagen commented on #356
I run bdevperf with same arguments,

the log as below:
[code]

it also core dumped and exit,but not hrows Buffer mismatch!

[2018-07-04 08:59] zbenlong opened #357 "Why abort pending spdk_bdev_io at QoS disable?"
spdk_bdev_qos.queued should have accumulated bunch of pending spdk_bdev_io at QoS disablement from RPC. The current SPDK implementation choose to abort these with SPDK_BDEV_IO_STATUS_FAILED (as in _spdk_bdev_abort_queued_io). Why not just issue them instead?

## Expected Behavior

## Current Behavior
spdk_bdev_io terminated with spdk_bdev_io_complete(bdev_io, SPDK_BDEV_IO_STATUS_FAILED);

## Possi

[2018-07-04 11:59] jessehui commented on #356
@xuhuagen Could you have a look on the dump file and see where it get dumped? Thank you.

[2018-07-04 20:13] pawelwod commented on #267
Reviving this as the documentation force is turned ON. For now there are patches that waiting for another eye :) @pohly Can you help review documentation patches?

https://review.gerrithub.io/#/c/spdk/spdk/+/417719/
https://review.gerrithub.io/#/c/spdk/spdk/+/417718/
https://review.gerrithub.io/#/c/spdk/spdk/+/417237/

The rest of RPC methods (including bdev) will be sent shortly. Can we count on

[2018-07-04 20:18] pohly commented on #267
pawelwod <notifications@github.com> writes:

Sure, no problem.

However, it would be nice if this opportunity was used not only to
document the status quo, but also address some of the open API change
requests (error codes or strings, assigning resources on the server side).

[2018-07-05 00:22] wanqunintel commented on #356
@xuhuagen , and do you use the master, better to add the commit# here, thank you

[2018-07-05 03:06] avinashmn commented on #234
@shashankgugnani  Is this issue still open? Were you able to run BlobFS tests over NvmF?

[2018-07-05 05:11] yidong0635 commented on #354
@optimistyzy  setup an iscsi target, it  can't see the same issue in bdev rbd.
waikiki46:  `nvme connect -t rdma -n "nqn.2016-06.io.spdk:cnode1" -a 192.168.2.2 -s 4420`
                still can reproduce  this issue. (with configure file don't set size or timing_based)
change to waikiki23: `nvme connect -t rdma -n "nqn.2016-06.io.spdk:cnode1" -a 192.168.2.2 -s 4420`   ctrl+C kill target, can't re

[2018-07-05 05:37] optimistyzy commented on #354
So in my mind. This issues seems the general NVMe-oF target killing issue,
which is known to the already issues which is in a solving phase by Ben.

2018-07-05 13:12 GMT+08:00 yidong0635 <notifications@github.com>:

[2018-07-05 08:43] yidong0635 commented on #354
**another machine** : `nvme connect -t rdma -n "nqn.2016-06.io.spdk:cnode1" -a 192.168.2.2 -s 4420`
ctrl+C kill target, can reproduce issue with setting"#size=1G  #timing_based=1". that means if not to set
size and timing_based will cause hung up.

[2018-07-05 12:17] pawelkax opened #358 "Cannot add nvme disk to spdk_tgt if run with -g parameter"
## Expected Behavior
Can add disk to spdk_tgt normally.

## Current Behavior
Get following error:
EAL:   cannot set up DMA remapping, error 22 (Invalid argument)
EAL:   0000:08:00.0 DMA remapping failed, error 22 (Invalid argument)
EAL: Driver cannot attach the device (0000:08:00.0)
bdev_nvme.c:1059:spdk_bdev_nvme_create: *ERROR*: Failed to find new NVMe controller

## Possible Solution
None

## S

[2018-07-05 13:42] darsto commented on #358
Could you check this patch?
https://review.gerrithub.io/c/spdk/dpdk/+/418073
D.

On Thu, Jul 5, 2018 at 2:17 PM pawelkax <notifications@github.com> wrote:

[2018-07-05 15:27] tomzawadzki opened #359 "Slow cluster allocation for thin provisioned lvols"
## Expected Behavior
Lvols that are thin provisioned are expected to have same amount IOPS for allocated clusters as thick provisioned lvols. Meanwhile for unallocated clusters, IOPS would be decreased by the amount of time it takes to allocate a new cluster.

## Current Behavior
Using FIO configuration that forces large amount of cluster allocations, shows lower IOPS than expected for even the wo

[2018-07-05 15:33] Seth5141 commented on #347
I was able to do a bit more digging on this issue. I was able to successfully shut down the application if I removed the rpc call to delete_nvmf_subsystem before shutdown. I think that the error lies in that code path. It is my assumption that the controller i freed, but not properly removed from all of the corresponding tailqs. I still haven't reached a conclusion, but plan to do some more diggin

[2018-07-06 00:38] jimharris commented on #357
I'm working on a patch + unit test for this.

[2018-07-06 00:59] jimharris commented on #357
https://review.gerrithub.io/#/c/spdk/spdk/+/418128/

[2018-07-06 08:39] pawelwod commented on #340
Patch is not updated from a while. Is someone working on this?

[2018-07-06 08:42] Benlegend commented on #357
Cool, thank you for the code! @jimharris

So each spdk_bdev_io is being redirected back to its original thread. But I think we can simply send from the QoS thread too, _spdk_bdev_io_complete() should make the iostats channel right.

And may I ask can I get the SPDK Automated Test System as we wanna setup the autotest internally for our customized repo.

Thank you!

[2018-07-06 09:19] senthilkumar-v commented on #331
@xuhuagen I've submitted code for review. Review URL is https://review.gerrithub.io/#/c/spdk/spdk/+/418170 . I've tested these changes by setting "InCapsuleDataSize" to zero in nvmf.conf file as I didn't find appropriate UT test file in /test/unit/lib/nvmf/. Please let me know if there is any other way to include this case in UT framework of /test/unit/lib/nvmf/.

[2018-07-06 15:11] jimharris commented on #357
We cannot easily send them from the QoS thread.  Once QoS is disabled, the QoS thread will release its reference on the channel (spdk_put_io_channel) - if this was the last reference on the channel, the channel and its resources will be deleted.  So if we send them from the QoS thread, we would have to defer releasing the reference on the channel which really complicates things unnecessarily.

It'

[2018-07-09 07:59] xuhuagen commented on #331
@senthilkumar-v  I patched https://review.gerrithub.io/#/c/spdk/spdk/+/418170 and it can resolve this issue.  From my observation,There are no ut tests for nvmf configuration files so far.

[2018-07-09 08:13] jessehui commented on #340
@optimistyzy is working on this.

[2018-07-10 01:34] WenqianZong commented on #337
I use ubuntu 17.10 and test this issue , it can be reproduced.But I test 10 times , only happened once. Following is log:
[code]

[2018-07-10 02:36] senthilkumar-v commented on #331
Closing this issue as the patch is integrated.

[2018-07-10 02:36] #331 closed

[2018-07-10 03:04] Comphix commented on #353
Looking at this issue.

[2018-07-10 05:08] liang2yan commented on #359
@tomzawadzki , is there any patch for this issue?

[2018-07-10 05:10] liang2yan commented on #358
@WenqianZong also verified this issue with Darek's patch. This patch can fix this issue.

[2018-07-10 05:12] liang2yan commented on #357
@Benlegend , can we close this issue? Since the patch already merged.

[2018-07-10 05:50] liang2yan commented on #347
@Seth5141 , any progress about this issue?

[2018-07-10 05:51] liang2yan commented on #351
@jessehui , any patch about this issue?

[2018-07-10 05:54] liang2yan commented on #312
@WenqianZong ,use latest codes to try to reproduce this issue since all patch merged.

[2018-07-10 06:08] xuhuagen commented on #345
@pawelkax   I reproduce this iuuse, is there any patch for it?

[2018-07-10 06:13] WenqianZong commented on #312
@wanqunintel ,This issue can not be reproduced with latest spdk version.

[2018-07-10 06:17] wanqunintel commented on #312
Thanks, wenqian. we may close it as not reproducible.

[2018-07-10 06:17] #312 closed

[2018-07-10 06:29] zbenlong commented on #357
@liang2yan Oh, not know the opener is expected to close ASAP. Sure I will close this.

[2018-07-10 06:29] #357 closed

[2018-07-10 07:14] WenqianZong opened #360 "NvmF Core dump occurred on CentOS 6.3"
When setup NvmF target Centos 6.3, core dump occurred.

## Expected Behavior
nvmf _tgt can be set up with no error

## Current Behavior
core dump occurred when set up nvmf_tgt on Centos6.3
[code]

### core dump trace
[code]
## Possible Solution

## Steps to Reproduce
1.  ./app/nvmf_tgt/nvmf_tgt -c nvmf.conf
2.  check status

### nvmf.conf

[code]

## Context (Environment including OS version, SPDK

[2018-07-10 08:41] Comphix commented on #353
I can reproduce this issue locally as suggested and found that the RPC callback _spdk_rpc_delete_bdev_cb() is never get executed for the delete bdev operation. Eventually it will report "Timeout while waiting for response:". On the other side, when sending "ctrlr+c" to the iSCSI target, it hit the memory issue.

[2018-07-10 10:23] pawelkax commented on #337
@WenqianZong Thank you very match for testing this issue. I can reproduce this problem on ubuntu 16.04 every time I try.

[2018-07-10 14:53] Comphix commented on #353
Please have a try at below patch

https://review.gerrithub.io/#/c/spdk/spdk/+/418846/

Also please do some testing when I/O is ongoing and call the RPC operation to delete the bdev. Let's see whether it has other issues.

Thanks,
Gang

[2018-07-10 14:59] johnmeneghini opened #361 "make spdk/nvme-cli tests configurable in autotest.sh"
The https://github.com/spdk/nvme-cli fork contains a series of patches in the default spdk branch that are specific to spdk.  This is a request to make the SPDK autotest.sh that tests this fork configurable.

See: https://lists.01.org/pipermail/spdk/2018-July/002168.html

## Expected Behavior

autotest.sh only runs tests configured by ~/autorun-spdk.conf

## Current Behavior

~/autorun-spdk.conf d

[2018-07-10 16:47] dverkamp-intel commented on #361
Please try this patch: https://review.gerrithub.io/#/c/spdk/spdk/+/418866/

[2018-07-10 17:00] dverkamp-intel commented on #360
Please try this patch: https://review.gerrithub.io/#/c/spdk/spdk/+/418868/

[2018-07-10 19:46] alekseymmm commented on #336
vbdev RAID1 on top of two Malloc bdevs let say Malloc0 and Malloc1. Suppose Malloc0 died (has been removed or whatever) if it was opened by raid vbdev with remove_cb provided. This callback then will be called and in this callback raid should perform spdk_bdev_close as you said. Then Malloc0 is no longer in opened descs so will be unregistered , am I right here?
The problem is that after Malloc0 i

[2018-07-10 19:52] jimharris commented on #336
Correct.  I suggest that we just remove the base_bdevs and vbdevs array entirely.

[2018-07-10 20:34] jimharris commented on #302
This will automatically delete all files, even if the associated application is still running.  Maybe this is OK, but it seems a bit dangerous.

What do you think about my proposal from June 7th?  Then in most cases, these files would be cleaned up automatically.

[2018-07-10 21:00] ak-gh commented on #336
On Tue, Jul 10, 2018, 22:52 Jim Harris <notifications@github.com> wrote:

Then there will be no way to distinguish between virtual and base bdevs on
startup/shutdown, and hence no way to correctly shut down virtual bdevs. In
the RAID-1 case mentioned above, it would mean that RAID vbdev won't be
able to distinguish between hot base bdev failure/removal and planned
shutdown, and that doesn't look c

[2018-07-10 21:23] alekseymmm commented on #336
@ak-gh
I think for raid there is no much difference between hot remove and planned shutdown of lower devices. Initially  raid works in ONLINE mode , when some devices are leaving (hot removed or shutdown) it goes to DEGRADED state, when it is too much devices that  are absent then it goes to OFFLINE mode and could be removed.
So I think raid could and should handle this in some specific way and no

[2018-07-10 21:33] ak-gh commented on #336
On Wed, Jul 11, 2018, 00:23 Aleksei <notifications@github.com> wrote:

You seem to be missing my point. I'm talking planned RAID shutdown vs. it
always being handled as abrupt. The latter is what you'll get if the block
device subsystem starts shutting down base bdevs first rather than
top-down, first unregistering RAID vbdev. And, believe me, there's huge
difference between handling planned shutd

[2018-07-10 21:51] alekseymmm commented on #336
@ak-gh
If base bdevs are opened by raid vbdev with remove_cb provided I mean spdk_bdev_open(..., ..., remove_cb, remove_ctx, ...)
then when spdk_bdev_unregister is called for some of the base bdev whether they are hot removed or planned removed  this callback will be called since this bdev is still in open_desc list, so it will notify the raid.
Looks like raid could handle both case of removal wit

[2018-07-10 21:58] jimharris commented on #336
Currently bdev doesn’t use the base_bdev or vbdev arrays at all.  So deleting them makes us no worse off than we are today.

I agree that we want to shut everything down at app exit in “top down” order – i.e. if we have logical volumes on top of a RAID volume on top of NVMe namespaces – we want to destroy the logical volumes first, then the RAID volume, then the NVMe namespaces.  We could do this

[2018-07-10 23:39] ak-gh commented on #336
On Wed, Jul 11, 2018, 00:58 Jim Harris <notifications@github.com> wrote:

Just try running bdevperf against an lvol ;).

And top-down shutdown can be easily done today by iterating the extant
bdev.vbdevs (and then doing top-down walk in the unregister iterator).

Bottom line, not sure why one would want to drop an infrastructure already
in place to immediately replace it with someghing equivalent.

[2018-07-11 00:21] jimharris commented on #336
@ak-gh

Because it's not reliable.  It just saves a bdev pointer instead of a descriptor.  So at a minimum, what's there would need to be changed to use arrays of bdev descriptor pointers instead, and then open the bdevs that are passed as part of spdk_vbdev_register.

But then that still doesn't cover the case where base bdevs are added later.  This is not uncommon for RAID.

[2018-07-11 08:45] ak-gh commented on #336
On Wed, Jul 11, 2018, 03:21 Jim Harris <notifications@github.com> wrote:

Safety is definitely something to be considered. At the moment, as far as I
understand, the code has vbdevs and base_bdevs manipulations protected with
the respective bdev mutex.

Shutdown (where that protection may get clumsy to deal with) is, OTOH,
naturally single-threaded (similar to bdev subsytem startup, I believe), so

[2018-07-11 09:47] pawelwod commented on #302
Maybe some simpler solution (don't know if we want this in library code or in shell script)

1. for each file /dev/shm/*trace.pid* and /dev/shm/spdk_*_conns.* files.
2. Discover PID from filename
3. File is used only if it is open -> check if there is a link to this file in /proc/PID/fd/*, if not remove this file.

Implementing this in shell script is super easy. In library a just a little bit har

[2018-07-11 13:18] jimharris commented on #302
This wouldn’t clean up files from apps using shared memory ID but I am OK with that. There should almost never be more than one shared memory ID being used on a system.  Let’s go with Pawels idea.

Sent from my iPhone

On Jul 11, 2018, at 2:47 AM, pawelwod <notifications@github.com<mailto:notifications@github.com>> wrote:

Maybe some simpler solution (don't know if we want this in library code or

[2018-07-11 13:31] pawelwod commented on #302
Do we wan't this in cleanup script or in library startup code?

[2018-07-11 13:40] jimharris commented on #302
I think just a script. And it should print an error if run on FreeBSD since it doesn’t have proc entries like Linux.

To put it in the library, I think we would need to do the F_SETLK approach so that it works on both Linux and FreeBSD.

Sent from my iPhone

On Jul 11, 2018, at 6:32 AM, pawelwod <notifications@github.com<mailto:notifications@github.com>> wrote:

Do we wan't this in cleanup script

[2018-07-11 17:54] youngtack opened #362 "dpdk_eal: pci_whitelist doesn't work as expected"
## Expected Behavior

- dpdk_eal can attach only pci devices defined as white listed.

## Current Behavior

- dpdk_eal can not attach pci devices defined as white listed.
- dpdk_eal is attaching pci devices not defined as white listed.

## Possible Solution

- `eal_option_device_add()` to remove leading spaces of optarg.
[code]
- `rte_eal_hotplug_add()` not to replace devargs already registered if

[2018-07-11 18:39] jimharris commented on #362
Does -W=bdf work?

Sent from my iPhone

On Jul 11, 2018, at 10:55 AM, Young Tack Jin <notifications@github.com<mailto:notifications@github.com>> wrote:

Expected Behavior

  *   dpdk_eal can attach only pci devices defined as white listed.

Current Behavior

  *   dpdk_eal can not attach pci devices defined as white listed.
  *   dpdk_eal is attaching pci devices not defined as white listed.

Poss

[2018-07-11 18:50] youngtack commented on #362
dpdk_eal failed with parse error with -W=bdf as below.
`EAL: Unable to parse device '=0000:00:03.0'`
Instead -Wbdf can go on with parse.
And it still needs not to replace devargs for non white listed device.

[2018-07-11 19:51] jimharris commented on #362
Should SPDK be passing a single comma separated list instead?

[2018-07-11 20:53] youngtack commented on #362
`rte_eal_devargs_parse()` seems to parse tailing parts of single comma separated list as devargs rather than device and EAL recognizes only the first device of the list. I can't find dpdk doc on devargs right now.

[2018-07-12 01:31] WenqianZong commented on #360
Core dump cannot be reproduced with latest spdk version.

[2018-07-12 01:33] #360 closed

[2018-07-12 02:35] ChenWang01 opened #363 "ASAN errors when running bdevperf application with nonexistent subsystem"
The  application report ASAN AddressSanitizer error when use configuration file with nonexistent subsystem.

## Expected Behavior
The application should exit normally with no ASAN errors.

## Current Behavior
[code]

## Possible Solution
It seems the address points to the zero page in function blockdev_heads_destroy(),in the spdk/test/bdev/bdevperf/bdevperf.c file

## Steps to Reproduce
1.  add bd

[2018-07-12 03:06] peluse commented on #363
So  on a quick examination of the code it looked pretty clear that we were calling blockdev_heads_destroy() at the end of main() without ever having run bdevperf_run() because spdk_bdev_initialize() failed due to the bogus entry.  I figured a quick fix would be simply not to call blockdev_heads_destroy() unless bdevperf_run() actually ran.  That fixes the ASAN issue reported of course however intr

[2018-07-12 03:39] peluse commented on #363
actually scratch that last sentence... the leaks I mention only happen if its a real failure in spdk_app_start()

[2018-07-12 03:55] jimharris commented on #363
can blockdev_heads_destroy() just return immediately if heads is NULL?

while you're in here, heads should be g_heads since it's a global

[2018-07-12 04:03] peluse commented on #363
that doesn't fix the mem leaks, I might have something.. hold tight

[2018-07-12 04:08] peluse commented on #363
Yeah, what I was trying didn't work.  Forgetting the issue in bdefperf for a second which as you mention is pretty simple.  Isn't there an issue in spdk_bdev_modules_init() where we call each module's module_init() function and simply break if one fails? From there all we do is call spdk_bdev_init_complete(-1); and never attempt to tear down the modules that actually init'd OK? That's what I tried

[2018-07-12 04:16] peluse commented on #363
but agree that's a bug in bdevperf, see https://review.gerrithub.io/c/spdk/spdk/+/419039/1/test/bdev/bdevperf/bdevperf.c

Still need to address the larger potential issue in bdev if I'm understanding it correctly - as explained above.

[2018-07-12 04:52] optimistyzy commented on #340
https://review.gerrithub.io/#/c/spdk/spdk/+/418878/

[2018-07-12 05:04] liang2yan commented on #358
patch merged. So close this issue.

[2018-07-12 05:04] #358 closed

[2018-07-12 05:05] liang2yan commented on #361
@johnmeneghini , Daniel's patch already merged. Can we close this issue?

[2018-07-12 06:14] shuhei-matsumoto commented on #362
Hi Youngtack,

I could see the failure you saw according to your steps.

[code]

[code]

However DPDK pci-whitelist and pci-blacklist themselves look working correctly as we expect.

I verified by three patterns:
1. spdk_tgt application, pci-whitelist/blacklist in traditional config file, nvme config in traditional config file
2. spdk_tgt application, pci-whitelist/blacklist in command line (-B/-W

[2018-07-12 06:17] shuhei-matsumoto commented on #362
@youngtack

We will have to make bdev_svc ready for your use case but the test application you took is the one you need?

[2018-07-12 07:46] changpe1 commented on #349
DPDK has a long option "--huge-unlink", currently SPDK don't enable this option, it can unlink all the huge files after initialization of  huge files. I tested in my local server, it worked, and I will submit a patch to enable this option.

[2018-07-12 14:55] youngtack commented on #362
Hi Shuhei,

bdev_svc is just to verify json-rpc and whitelisting.
Interesting to see nvmf_tgt is whitelisting with cli arg.
I will repro this scenario and come back to you.

Thanks,
YT

[2018-07-13 03:10] optimistyzy commented on #340
@xuhuagen for the bdevperf beset issue is already logged in another SPDK issue, which should not be related with this issue

[2018-07-13 03:16] optimistyzy commented on #340
@huagen reset is another git issue, which is not related with this.

2018-07-13 9:27 GMT+08:00 xuhuagen <notifications@github.com>:

[2018-07-13 12:14] YamboZhou opened #364 "Core dump while run db_bench(readrandom and overwrite) on SPDK rocksdb"
Hi guys,

We want to evaluate the performance of rocksdb on SPDK.
It's ok when run seqfill using  db_bench. However, when I run readrandom and oervwrite, it will cause core dump.

The parameters for rocksdb refers to the spdk test scrits.

## Expected Behavior

## Current Behavior
Core dump when readrandom and overwrite when run db_bench on spdk rocksdb.

## Possible Solution
When I run hello_worl

[2018-07-13 12:16] YamboZhou commented on #364
Core dump information:

DB path: [/mnt/rocksdb]
Received signal 11 (Segmentation fault)
#0   /lib64/libc.so.6(+0x11dbf7) [0x7ffff64edbf7] ??	??:0
#1   ../rocksdb-spdk-v5.6.1/db_bench() [0x80d82b] __read_done	/data/data1-backup/yanbo/data1-backup/yanbo/spdk-18.04.1/lib/blobfs/blobfs.c:1529
#2   ../rocksdb-spdk-v5.6.1/db_bench() [0x7ef450] spdk_bs_request_set_complete	/data/data1-backup/yanbo/data1-

[2018-07-13 13:34] tomzawadzki commented on #359
@liang2yan There are three patches addressing this in some capacity. They are currently in review process. Please see:
1. [blobstore: no copy write in thin-provisioning](https://review.gerrithub.io/#/c/spdk/spdk/+/417938/)
2. [blobstore: do not block ops when no cluster copy](https://review.gerrithub.io/#/c/spdk/spdk/+/419227/)
3. [blob: fix unallocated clusters to run-length encode](https://revie

[2018-07-16 04:17] yidong0635 commented on #302
@jimharris and @pawelwod ：
update the patch,
1.for each file /dev/shm/trace.pid , I checked that only iscsi target can generate conns file named ：/dev/shm/spdk_iscsi_conns.-1  it's name can't change, so i will only remove /dev/shm/*trace.pid* file , it's size is more lager.
2.extract PID from file name.
3.  kill -0 PID to check if it's still running.

not test FreeBSD , to skip this.
./scripts/cle

[2018-07-16 05:31] xuhuagen commented on #356
I test reset function for iscsi initiator. commit id is 5e5cc5ac9cece8031cabfae506175306cdc292bd
Always it can run successfully
[code]

Occasionally, it  throws Buffer mismatch! and exit
[code]

[2018-07-16 06:44] optimistyzy commented on #356
This should be the fix: https://review.gerrithub.io/#/c/spdk/spdk/+/419338

[2018-07-16 07:10] optimistyzy commented on #364
@YamboZhou  I see segment fault in __read_done function. Is this line:   __rw_done(req, 0);  req is NULL?  If you can point which variable in your version, which could be helpful for debugging.

[2018-07-16 07:42] YamboZhou commented on #364
@optimistyzy Ok, thank you Ziye. Let me try it again and give you more detailed reusults.

[2018-07-16 08:53] pawelwod commented on #340
Patch look ok. Can someone (@benlwalker ?) else take a look and merge?

Thanks

[2018-07-16 15:38] dwy189 commented on #187
I was using VirtualBox and on the Ubuntu 16.04 version. My fio version was: 2.2.10. I tried the same procedures as the original author did and I thought I followed the instruction from the fio plugin README page. But I still got the following error:

weiyoud@weiyoud-VirtualBox:~/spdk/examples/nvme/fio_plugin$ LD_PRELOAD=/home/weiyoud/spdk/examples/nvme/fio_plugin/fio_plugin /home/weiyoud/fio/fio e

[2018-07-16 23:15] peluse commented on #363
FYI, getting close to a solution on the bdev side :)

[2018-07-17 00:13] peluse commented on #363
Try https://review.gerrithub.io/c/spdk/spdk/+/419446 when you get a chance. It's a bdev fix as well as another small bdevperf fix

[2018-07-17 00:35] shuhei-matsumoto commented on #362
@youngtack @jimharris

Sorry for my late reply.
Pci whitelist and blacklist work well with traditional config file but don't work with RPC construct_nvme_bdev.

I want to avoid to change DPDK as possible as we can.
I could confirm pci-whitelist/blacklist work as expected by changing SPDK a little.
https://review.gerrithub.io/#/c/spdk/spdk/+/419448/

Does this fix satisfy your requirement?

Thanks,

[2018-07-17 01:06] youngtack commented on #362
@shuhei-matsumoto:

Thanks a lot for the patch. I agree with you for no change to dpdk.
The patch works fine for the initial create but doesn't work after delete as below.
[code]
Thank you.

Best regards,
YT

[2018-07-17 01:11] shuhei-matsumoto commented on #362
@youngtack

Thanks a lot. Yes, I saw the same issue. Your idea may be necessary but please give time to read your idea and investigate.

Sorry for inconvenience.

[2018-07-17 01:35] youngtack commented on #362
@shuhei-matsumoto:

pci-whitelist through json-rpc is not serious for now but a must to have for our project.
Have your time. As always, I so highly appreciate your contribution to SPDK.

Thanks,
YT

[2018-07-17 02:31] JuanA1-ZY commented on #264
mlx5: e07a01227.eu6sqa: got completion with error:
00000000 00000000 00000000 00000000
00000000 00000000 00000000 00000000
00000004 00000000 00000000 00000000
00000000 00008813 10002c02 00112cd2
rdma.c:1797:spdk_nvmf_rdma_poller_poll: *ERROR*: CQ error on CQ 0x7eecc0000c20, Request 0x139555298690096 (10): remote access error
rdma.c:1797:spdk_nvmf_rdma_poller_poll: *ERROR*: CQ error on CQ 0x7eecc00

[2018-07-17 02:39] optimistyzy commented on #356
@xuhuagen @wanqunintel  Can this issue be closed？ Since this patch is merged？

[2018-07-17 02:42] optimistyzy commented on #340
@xuhuagen  @wanqunintel  The patch is merged, can we test it again?

[2018-07-17 02:45] wanqunintel commented on #356
@optimistyzy ok, we will test and update soon

[2018-07-17 02:45] wanqunintel commented on #340
@xuhuagen will test it and update here

[2018-07-17 02:49] xuhuagen commented on #356
@optimistyzy   I patched https://review.gerrithub.io/#/c/spdk/spdk/+/419338, it can resolve this issue,
the mismatch issue not occur.

[2018-07-17 02:50] wanqunintel commented on #356
close it as it's not producible and patch merged. thanks all

[2018-07-17 02:50] #356 closed

[2018-07-17 02:51] ChenWang01 commented on #359
I have verified this issue with these patches, it seems to have some problems.
The random 4K write and random 4K rw will failed when the cluster size=1G.

Fio log:
[code]

Dmesg log:
[code]

The Vhost target will core dump when  compile SPDK with --enable-debug and run the same case(cluster size=1G and random 4K write)
SPDK log:
`vhost: blobstore.c:132: _spdk_bs_release_cluster: Assertion cluster_

[2018-07-17 03:02] WenqianZong commented on #364
@YamboZhou  I can not reproduce core dump on Fedora release 26 with latest spdk version, I will try to test on Centos 6.3.

[2018-07-17 03:16] YamboZhou commented on #364
@WenqianZong
Thanks Wenqian. Could you please try this on CentOS 6.2 using spdk 18.04.01 with dpdk 18.05?

[2018-07-17 03:18] WenqianZong commented on #362
I reproduce youngtack's phenomenon after pull patch https://review.gerrithub.io/#/c/spdk/spdk/+/419448/.
[code]

[2018-07-17 04:59] xuhuagen commented on #340
I test bdevperf with lastest version commit id is 1e2b25ec204d1969bdc429e2ce9d74f160ca6268
The segmentation fault when running bdevperf for iSCSI initiator not occur.

[2018-07-17 05:08] shuhei-matsumoto commented on #362
@yongseokoh @WenqianZong

I found the place which uses the fix by the following:
- eal_option_device_add() to remove leading spaces of optarg.
I have started to feel modification of DPDK is not avoidable as YT says.

I will continue to post here if I have any update.
Spending a little per day for this issue is valuable for me, so please don't worry about that.

Thanks,
Shuhei

[2018-07-17 05:17] jessehui commented on #351
https://review.gerrithub.io/#/c/spdk/spdk/+/419056/
https://review.gerrithub.io/#/c/spdk/spdk/+/419165/
Please feel welcome to review. Thanks

[2018-07-17 05:56] ChenWang01 commented on #363
Hi Peluse,
I have retested this issue with your patches.
https://review.gerrithub.io/c/spdk/spdk/+/419039
https://review.gerrithub.io/c/spdk/spdk/+/419446
The bdevperf can exit without core dump when compile SPDK without "--enable-asan".
But there is a new ASAN error when compile SPDK with "--enable-asan".
[code]

[2018-07-17 05:57] optimistyzy commented on #351
@jessehui，  the two patches fail the automation test. Could you check it first?

[2018-07-17 06:17] noorshaheennoorudheen opened #365 "Performance drop detected on scaling number of logical volumes exposed as name spaces under a single subsystem"
Scaling number of volumes under a single subsystem results in a performance drop.

## Context (Environment including OS version, SPDK version, etc.)
SPDK: version18.04
OS: Fedora Core 26
Kernel: 4.11.8-300.fc26.x86_64
Drive Used: Intel NVMe P4500 ( 3.2 TB)

## Steps to Reproduce

**On Target**
Create an LVS using the entire drive
./rpc.py -s 127.0.0.1 construct_lvol_store Nvme0n1 LVS0

Construct a

[2018-07-17 07:10] karlatec opened #366 "Memory leak when running tests for spdk/nvme-cli"
Sorry for reporting this here but we don't have an issue board for spdk/nvme-cli

## Current Behavior
ASAN mem leak.

## Steps to Reproduce

NVMeOF test asan log:

NVMe test asan log:

Notes:
- Used a Fedora26 VM with emulated NVMe and SoftROCE instead of a physical system.

[2018-07-17 08:13] changpe1 commented on #349
https://review.gerrithub.io/#/c/419156/ patch has been merged, users can add -R parameter when starting vhost application, and the huge pages can be released when exit.

[2018-07-17 08:13] changpe1 commented on #350
https://review.gerrithub.io/#/c/419156/ patch has been merged, users can add -R parameter when starting vhost application, and the huge pages can be released when exit.

[2018-07-17 13:50] peluse commented on #363
Thasnk!  Odd, I has ASAN enabled and did see that/  I'll check it out again later today - same exact .conf file and bdevperf command line?

[2018-07-17 17:04] benlwalker commented on #264
We currently believe that the connection is dropping either due to configuration problems on the NIC or switch, or due to other problems with the cables or firmware on the cards. There is ongoing work to add additional recovery mechanisms to handle these cases now, but it isn't all merged yet.

[2018-07-18 04:16] liang2yan commented on #248
@shuhei-matsumoto , were your iscsi hot-removal enabling patches all merged? Do we plan to add some new test cases for hot-removal?

[2018-07-18 04:36] shuhei-matsumoto commented on #248
@liang2yan library code was merged and test code is under the review. Adding test cases will be better but I don't have any actual plan yet.

[2018-07-18 07:10] shuhei-matsumoto commented on #248
@liang2yan
I'm thinking a test case such as adding multiple LUNs to a iSCSI target, make a connection to each LUN and run some workload on each of them, and then hot remove LUNs one by one.
But I can't promise if I'm sure to do or when I can do yet.

[2018-07-18 07:32] YamboZhou commented on #364
Hi there,

I re-installed operating system and made the tests again on my environment.  It seems like this issue is caued by *overwrite* operation.

When mkfs for NVMe device and then run "seqfill -> readrandom -> overwrite", all of them seem good. However, after *overwrite* operation, whatever operations will cause segment fault.  Hence I think *overwrite* operation will destroy blobfs filesystem

[2018-07-18 07:51] YamboZhou commented on #364
@WenqianZong Hi Wenqian, could you please test again and see whether this issue was cased by *overwrite* operation?

Thanks for your time.

Yanbo

[2018-07-18 11:49] bharatpotnuri commented on #298
Hi All,
These flush error messages can be seen with Chelsio iwarp as well.

When a QP is moved to error state during connection disconnect, the pending posted WRs in the QP are completed with `Flush Error`. So these can be safely ignored by the application.

The following patch should resolve this. Please let me know if looks good for PR.
[code]

[2018-07-18 17:22] dwy189 opened #367 "SPDK fio_plugin not working on Ubuntu-Configuration error possibly"
I was using VirtualBox and on the Ubuntu 16.04 version. My fio version was: 2.2.10. I tried the same procedures as from the SPDK Fio_plugin README told me. But I still got the following error:

weiyoud@weiyoud-VirtualBox:~/spdk/examples/nvme/fio_plugin$ LD_PRELOAD=/home/weiyoud/spdk/examples/nvme/fio_plugin/fio_plugin /home/weiyoud/fio/fio example_config.fio
ERROR: ld.so: object '/home/weiyoud/spd

[2018-07-18 19:49] pawelkax opened #368 "Can run fio_plugin with asan enabled. But get memory leaks in fio"
## Expected Behavior
Can run fio_plugin

## Current Behavior
fio_plugin reports:
==38092==ASan runtime does not come first in initial library list; you should either link runtime to your application or manually preload it with LD_PRELOAD.

## Possible Solution
None

## Steps to Reproduce
1. Configure spdk with asan enabled
2. Run vhost and create blk controller with path /var/tmp/naa.Nvme0n1p0.0 a

[2018-07-19 05:44] ChenWang01 commented on #363
Hi Peluse,
Yes, the same .conf file and bdevperf command line, Then i have used the master branch(ee9db7dac0ee61a85f56dc8d8353b02205d0e6ad) to retried it, It can be reproduced.
Thanks.

[2018-07-19 06:14] WenqianZong commented on #298
@barryspinney ,I add your code in spdk, and use iWARP RDMA to run fio, "Work Request Flushed Error" didn't occurred in fio test.
But
[code]
massages displayed on target machine.
I will use these code to verify on Chelsio.

[2018-07-19 06:43] bharatpotnuri commented on #298
@WenqianZong @changpe1 are the above replies to my patch? @WenqianZong quoted 'barryspinney' above.

[2018-07-19 08:12] WenqianZong commented on #366
@karlatec
I found NVMeOF test asan error with latest spdk：
[code]
Only "nvme discovery" cause error, "nvme connect" "nvme disconnect" can't.
But command "./nvme list-ctrl 0000:af:00.0" can not be use :
[code]
Could you provide test step?

[2018-07-19 08:14] ChenWang01 opened #369 "ASAN errors when using spdk-cli to delete bdev"
The SPDK target will report ASAN AddressSanitizer error when using spdk-cli to delete bdev

## Expected Behavior
bdev should be deleted.

## Current Behavior
target:
[code]
spdk-cli:
[code]
## Steps to Reproduce
[code]
## Context (Environment including OS version, SPDK version, etc.)
OS: Fedora release 27 (Twenty Seven)
Linux version: 4.17.3-100.fc27.x86_64
gcc version: 7.3.1 20180303 (Red Hat 7.3

[2018-07-19 09:59] darsto commented on #368
The following works:

sudo LD_PRELOAD="$(ldd /path/fio_plugin | grep libasan | awk '{print $3}'):/path/fio_plugin" /path/fio /path/job.fio --ioengine=spdk_bdev --iodepth=128 --bs=4k --runtime=5 --spdk_conf=/path/spdk.conf --spdk_mem=512

Other issue is that ASAN detects a couple of memory leaks in fio 3.3..

[2018-07-19 11:31] peluse commented on #363
Yup, I understand.  A few partial fixes have gone in already. I still have this on my plate but a few other things have come up that need attention first.  Will get back on it soon though!

[2018-07-19 17:21] #302 closed

[2018-07-19 22:18] alekseymmm commented on #367
The suggested version of fio for correct work with spdk is fio 3.3. I think it makes  sense try this fio version.

[2018-07-19 23:39] dwy189 commented on #367
@alekseymmm When I have "fio --version" directly in the command line window, it shows "fio-2.2.10" because the default fio version for Ubuntu is 2.2.10. https://packages.ubuntu.com/search?keywords=fio However, when I have "./fio --version" under the fio directory, it shows: "fio-3.3". I am confused. In addition, I actually tried the two different fio commands ("fio xxxxx" and "fio/ ./fio") but nei

[2018-07-20 03:16] chenlo2x opened #370 "When the IO_SIZE>= 65536, the qos bandwidth limit is abnormal"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

When iscsi_tgt uses qos to limit the bandwidth, io_size>=65536, the qos bandwidth rate limit is abnormal, and the entire bandwidth will suddenly drop to about 22M.

## Expected Behavior

Within the range of bandwidth achievable spe

[2018-07-20 05:14] xuhuagen commented on #367
@dwy189  in dir /home/weiyoud/fio/,the fio version is fio-3.3 ,fio-2.2.10 should be version of fio system package.
do  you complile spdk with fio option?(./configure --with-fio=/path/to/fio). if not ,try it.

[2018-07-20 05:40] liang2yan opened #371 "SPDK nvmf target didn't report error and exit if same namespace(bdev) is used for different subsystems"
In compliance with current specification, the same namespace can't be used for different subsystems. But SPDK didn't check it.

## Steps to Reproduce
1. Get latest SPDK codes.
2.  Use attached file to boot SPDK nvmf target.
[nvmf-error.txt](https://github.com/spdk/spdk/files/2212573/nvmf-error.txt)

## Expected Behavior
SPDK reported "same namespace used in different subsystem config" error and ex

[2018-07-20 08:37] alekseymmm commented on #367
@dwy189
1. If you don't mind your default fio version then just do
[code]
this will set up fio 3.3.
2. make sure that when you compiled spdk  you run
`./configure --with-fio=/path/to/fio`
3. show what is in config that you pass to fio. I mean /home/weiyoud/fio/fio example_config.fio

[2018-07-20 08:49] ChenWang01 opened #372 "ASAN errors when construct_raid_bdev with bdev that doesn't exist more than twice"
The SPDK target will report ASAN  error when construct_raid_bdev with bdev that doesn't exist more than twice.

## Expected Behavior
Target should be normal.

## Current Behavior

[code]
## Possible Solution
double free in "spdk/lib/bdev/raid/bdev_raid_rpc.c" file.

## Steps to Reproduce

1. ./app/nvmf_tgt/nvmf_tgt
2. ./rpc.py construct_raid_bdev -n raid0 -s 4096 -r 0 -b nvme0n1
3. ./rpc.py constr

[2018-07-20 09:02] pawelwod commented on #340
Can we close this?

[2018-07-20 09:09] ChenWang01 commented on #372
submit patch https://review.gerrithub.io/#/c/spdk/spdk/+/419975/

[2018-07-20 11:45] pawelkax commented on #369
@ChenWang01 I cannot reproduce this error. I work on VM with Ubuntu 16.04.
This kind of test is in patch https://review.gerrithub.io/#/c/416559/ where only one nvme is created and deleted. I  also cannot reproduce this error with this patch.

[2018-07-20 13:08] pawelwod commented on #350
@pohly is the '-R' what you are looking for here?

[2018-07-20 19:04] pohly commented on #350
@pawelwod yes, this is okay. I verified that it works.

Just out of curiosity, why is this behavior not the default?

[2018-07-20 19:04] #350 closed

[2018-07-20 19:05] pohly commented on #349
Works for me.

[2018-07-20 19:05] #349 closed

[2018-07-22 15:34] peluse commented on #363
OK, please see https://review.gerrithub.io/#/c/spdk/spdk/+/420118

I'm not 100% confident that this is the right fix but that will come out in the review. I did confirm that there are no leaks w/ASAN enabled using your exact conf file example and cmd line.

[2018-07-23 01:05] ChenWang01 commented on #369
Hi, pawel
@pawelkax
I have retried the issue with master(70ec42ad6a64eb1f0c0717d6ee72dfe7bd735f12), it's still exist.
The step 5 is necessary, step 4 and step 5 must use the same name to create the bdev, Then delete the nvme0n1, the issue will reproduce.

[2018-07-23 04:34] jessehui commented on #340
Yes. Please close this issue. @wanqunintel @liang2yan

[2018-07-23 07:40] tomzawadzki commented on #345
@xuhuagen There is https://review.gerrithub.io/#/c/spdk/spdk/+/407402/ that fixes the ASAN error as well as gives proper error message when trying to delete snapshot with clones present.

That patch with the scenario in this issue hangs on destroy_lvol_store(). This will be fixed by changing order of the lvols removal. It is WIP at this time.

[2018-07-23 07:47] liang2yan commented on #340
Issue fixed and patch merged. so close this issue.

[2018-07-23 07:47] #340 closed

[2018-07-23 07:51] tomzawadzki commented on #293
All patches from @pelplinski were merged. So scenario described in his previous comment should apply.

@pawelkax This should work for new json config format as well. Like Piotr mentioned - as long as split is done before constructing nvme bdev. Can you please verify it with json config ?

[2018-07-23 08:00] tomzawadzki commented on #359
Patch https://review.gerrithub.io/#/c/spdk/spdk/+/419227/ is in review with the same issue as posted above.
Solution is being worked on, another patch will be posted before this.

[2018-07-23 08:16] pawelwod commented on #350
Because unlinking hugepages makes multi process feature impossible to work.

[2018-07-23 08:38] pawelwod commented on #316
Patch for this in review https://review.gerrithub.io/#/c/420054/

[2018-07-23 11:14] pawelkax commented on #369
I get following error after step 5, and after killing spdk_tgt:
bdev.c:2809:spdk_bdev_init: *ERROR*: Bdev name:nvme0n1 already exists
bdev_nvme.c:1059:spdk_bdev_nvme_create: *ERROR*: Failed to find new NVMe controller
EAL: Cannot find unplugged device (0000:00:05.0)
bdev_nvme.c:1059:spdk_bdev_nvme_create: *ERROR*: Failed to find new NVMe controller
^C
==============================================

[2018-07-23 16:42] dwy189 opened #373 "EAL: Not enough memory available to run FIO - Unable to initialize SPDK env"
I was running fio command to benchmark the NVMe devices. But I ran into the "not enough memory issue". Below is the summary message I got from the terminal.

LD_PRELOAD=/home/weiyoud/spdk/examples/nvme/fio_plugin/fio_plugin fio example_config.fio
test: (g=0): rw=randrw, bs=(R) 4096B-4096B, (W) 4096B-4096B, (T) 4096B-4096B, ioengine=spdk, iodepth=8
fio-3.3
Starting 1 thread
Starting SPDK v18.07-pre

[2018-07-23 17:00] jimharris commented on #373
Hi @dwy189,

Can you confirm that you are running fio as root?

Thanks,

-Jim

[2018-07-23 17:39] dwy189 commented on #373
After adding "sudo" at the beginning of the command, I was able to solve this problem. Thank you so much.

[2018-07-23 17:39] #373 closed

[2018-07-23 19:43] jimharris commented on #366
@Comphix - can you take a look at this?  Looks like some fairly straightforward fixes we can make to clear these up.

[2018-07-23 19:49] jimharris commented on #362
@shuhei-matsumoto @youngtack

If there is a DPDK patch needed, we should apply it soon to our DPDK submodule for the SPDK 18.07 release.  But let's wait a bit - we will be moving the DPDK submodule from a DPDK 18.02 base to DPDK 18.05 in the next day or two.

DPDK will also release their next version (DPDK 18.08) end of August, so would be good to get a patch posted to DPDK as well to hopefully ma

[2018-07-23 23:46] shuhei-matsumoto commented on #362
@youngtack @jimharris

Sorry for my delayed update.
The first issue YT reported could be fixed by changing not DPDK but SPDK slightly.
-  eal_option_device_add() to remove leading spaces of optarg.

I submitted https://review.gerrithub.io/#/c/spdk/spdk/+/420211/ and I'll move to the next issue YT reported.

I said changing DPDK is not avoidable last week but please defer that comment.

[2018-07-24 01:51] shuhei-matsumoto commented on #362
@youngtack @jimharris

Based on YT's investigation I add another change and I could confirm pci-whitelist and pci-blacklist worked for construct_nvme_bdev and delete_bdev (will be delete_nvme_controller) RPCs.
My change is slightly different from YT's and I hope this will be helpful for us to get better understanding.

Jim,
I agree with you that posting a patch to DPDK 18.08 will be fine. YT's pat

[2018-07-24 01:53] xuhuagen commented on #316
@pawelwod  I patched https://review.gerrithub.io/#/c/420054/, error not occurs when use malloc bdev( less than 1M) to construct target node with rpc command line. it work for this issue.

[2018-07-24 02:00] shuhei-matsumoto commented on #362
So posting a patch to DPDK will be necessary anyway. And I haven't posted any patch to DPDK yet and if YT hasn't do that too, any help will be appreciated.

YT's patch may have better coverage but making it simpler will be possible.

YT, do you take the task to post a patch to DPDK? It will be fine.

[2018-07-24 05:11] liang2yan commented on #226
@ksingh2017 , can we close this issue?

[2018-07-24 05:13] liang2yan commented on #234
@xuhuagen , please reproduce this issue with latest codes.

[2018-07-24 05:20] liang2yan commented on #338
@johnmeneghini , any update about this issue?

[2018-07-24 05:33] liang2yan commented on #368
@pawelkax , so the memory leak is in the fio repo source codes, not spdk related codes?

[2018-07-24 06:43] liang2yan commented on #217
@Vinayak099 , did this issue still exist?

[2018-07-24 06:44] liupan1111 opened #374 "bdev didn't support metadata size"
Hi @optimistyzy

I tried 17.07 version, and found bdev didn't support extended lba, in which metadata size is not zero. Has this been changed?

Thanks
Pan

[2018-07-24 08:13] xuhuagen commented on #345
@tomzawadzki    I have patched https://review.gerrithub.io/#/c/spdk/spdk/+/407402/ , spdk_tgt not crashes when deleting lvol store or see any ASAN reports, it work for this issue.

[2018-07-24 08:50] pawelkax commented on #293
@tomzawadzki
I try to check applied patches:
1.	Run spdk_tgt
2.	Run ./scripts/rpc.py construct_split_vbdev Nvme0n1 2
3.	Run ./scripts/rpc.py construct_nvme_bdev -t PCIe -a 0000.00.04.0 -b Nvme0
4.	Spdk_tgt crashes with output:
spdk_tgt: blobstore.c:2739: _spdk_bs_load_used_clusters_cpl: Assertion `ctx->mask->length == ctx->bs->total_clusters' failed.
Aborted (core dumped)

This kind of error also

[2018-07-24 09:09] Maciej-Szwed commented on #334
There has been added check of astyle version. For version < 3.0 warning message will be displayed that results may be not sufficient for our CI and astyle update is suggested. Patch introducing this change: https://review.gerrithub.io/420010
We can close this issue now.

[2018-07-24 14:42] gila opened #375 "Failure when trying to use lvols on AIO based devices via iSCSI and NBD"
## Expected Behavior
While using vmware fusion, with a block device (/dev/sdb) assigned to SPDK using the AIO backend, it is expected that an lvol_bdev, ontop of a lvol_store can be exported and used by iSCSI and/or NBD.

## Current Behavior
When constructing the lvol_bdev, everything seems to work fine. The system is configured using the RPC methods. Below is the output of the dump_config RPC com

[2018-07-24 16:33] youngtack commented on #362
@shuhei-matsumoto:

My changes on`rte_eal_hotplug_add()` and `pci_find_device()` are just the quick workarounds and don't seem to be enough for DPDK post. And I've never posted to DPDK.

Your patch seems to be pretty good to me. And it can repeat bdev create/delete for the whitelisted (expected) but still can repeat bdev create/delete for the non-whitelisted (unexpected). More investigation could

[2018-07-24 20:15] pawelkax commented on #369
@ChenWang01 @benlwalker Could you please look at my last comment and confirm it reproduces?

[2018-07-24 23:07] shuhei-matsumoto commented on #362
@youngtack

Thank you for your review and test. I didn't test anything about "still can repeat bdev create/delete for the non-whitelisted (unexpected)." yet. I will investigate it first.

[2018-07-25 01:31] ChenWang01 commented on #363
i used your patch with master branch, but this issue still exist with my conf file and cmd line.

[code]

[2018-07-25 01:35] optimistyzy commented on #374
@liupan1111 I checked the bdev_nvme layer, there is no support for lba yet (though, we currently support it in nvme fioplugin).  I think that we will add this later.

[2018-07-25 01:50] changpe1 commented on #371
I don't think it's a bug, bdev module provides an API: spdk_bdev_module_claim_bdev which can be used to claim the bdev, and for NVMeoF, we don't need to do this, maybe there are customers want to enable this usage scenario for multipath purpose.

[2018-07-25 02:18] liang2yan commented on #371
@changpe1 , I have a discussion with other contributor. The current nvme specification doesn't allow this configuration.  So I list it as an issue.

[2018-07-25 02:23] changpe1 commented on #371
Can you list the specification paragraph here so that we can take a look ?

[2018-07-25 02:36] xuhuagen commented on #234
@shashankgugnani, In latest spdk code, commit id is 0de89b36173569630eea4269398179082c030a6f,
I run script test/blobfs/rocksdb/rocksdb.sh with nvmf and no error occur in target machine and initiator machine.

[2018-07-25 07:34] ChenWang01 commented on #369
@pawelkax
You can try to do step 6 after step 5 without kill the nvmf_tgt if you  can see the same issue.
I think it's the same issue that caused by repeating to create the bdev with the same name.

[2018-07-25 09:02] yidong0635 commented on #354
check latest spdk commit ID:13fbedcc03bcded1795d6f94b792b4bc72aa7539 ,
issue still exists.

[2018-07-25 09:04] yidong0635 commented on #354
verify the latest spdk code： commit ID：13fbedcc03bcded1795d6f94b792b4bc72aa7539
issue still exists.

[2018-07-25 09:39] pawelkax commented on #337
@tomzawadzki @Seth5141  @WenqianZong
I confirm that this error still exists. I don't think that this issue can be merged with #347 . We will be able to check that if any error from #337 and #347 will be solved. Steps to reproduce these two bugs are listed in description.

[2018-07-25 09:44] pawelkax commented on #368
@liang2yan Yes, memory leaks are in fio repo.

[2018-07-25 12:44] peluse commented on #363
Thanks for testing. On the plus side, that's much better than before and what I was trying to fix (partial module init not being cleaned up) seems to be addressed. The leak you are seeing now I believe is something different.  Not sure why I don't see it though, will retest and let ya know.  Thanks!!

[2018-07-25 13:35] liang2yan commented on #353
Verified with latest codes, this issue can't be reproduced.

[2018-07-25 13:53] liang2yan commented on #248
Verified with latest codes, no mem leak while finishing the iscsi target hot-removal testing.

[2018-07-25 14:51] liang2yan commented on #255
I have run the test/iscsi_tgt/fio/fio.sh script with nightly enabled locally.I have run it 150 times. The core dump issue still can't be reproduced. I think we can close this issue.

[2018-07-25 18:01] #345 closed

[2018-07-25 18:01] #316 closed

[2018-07-25 18:24] gila commented on #375
After some more experiments, it seems that the AIO backend is causing the issue. Using an (emulated) NVMe device or malloc bdev seems to work just fine.

[2018-07-26 00:44] liang2yan commented on #375
I have followed the step to reproduce this issue. The dmesg command reported same error. But I didn't get the error message from SPDK.

[2018-07-26 01:21] jessehui commented on #351
Patched updated: https://review.gerrithub.io/#/c/spdk/spdk/+/419974/
Already merged. You may test and close this @liang2yan @wanqunintel

[2018-07-26 01:58] shuhei-matsumoto commented on #248
@liang2yan Thank you. Please close the issue.

[2018-07-26 02:10] #248 closed

[2018-07-26 02:11] #255 closed

[2018-07-26 02:33] liang2yan commented on #353
Close this issue since it can't be reproduced.

[2018-07-26 02:33] #353 closed

[2018-07-26 02:36] xuhuagen commented on #351
@jessehui  when use null bdev
Target machine error occured and cored dump when Ctrl+C to kill it

[code]
dmesg

`[260619.271038] reactor_0[23956]: segfault at 0 ip 000000000047a537 sp 00007fffaf2a57c0 error 6 in iscsi_tgt[400000+c2000]
`

coreed dump file

[code]

[2018-07-26 04:34] liang2yan commented on #375
run blobcli -D to get the content.

[2018-07-26 04:35] liang2yan commented on #375
after getting more info, then find one to fix this issue.

[2018-07-26 04:37] liang2yan commented on #374
Add it into the trello to track this task.

[2018-07-26 04:38] liang2yan commented on #372
close this issue since patch merged.

[2018-07-26 04:38] #372 closed

[2018-07-26 04:44] liang2yan commented on #368
Close this issue since the memory leak are from fio.

[2018-07-26 04:44] #368 closed

[2018-07-26 04:47] liang2yan commented on #365
@KariukiJ , can you please reproduce this issue? then ben can look at this issue.

[2018-07-26 04:51] #361 closed

[2018-07-26 04:56] #334 closed

[2018-07-26 04:58] liang2yan commented on #304
close this issue since patch merged.

[2018-07-26 04:58] #304 closed

[2018-07-26 05:22] ChenWang01 commented on #339
@pawelwod
I have checked this issue with your patch, and it can be fixed in my environment.

[2018-07-26 06:01] shuhei-matsumoto commented on #362
@youngtack

I tried to create nvme_bdev without any whitelist or blacklist by using the following change. I didn't see any issue. Will you describe what you saw a little in detail?

[code]

[2018-07-26 06:48] gila commented on #375
Are you referring to the assertion failure from SPDK? If so, I only get that when building debug mode.

[2018-07-26 07:37] liang2yan commented on #375
Yes. Ok, I will try the debug mode. I want to know more about the following line:

you mean retarting SPDK with AIO bdev using config file or RPC method?

[2018-07-26 08:42] pawelwod commented on #339
Should be closed by commit, if not please close manually.

[2018-07-26 09:18] jessehui commented on #351
I can't really reproduce this under my server.

[2018-07-26 11:05] liang2yan commented on #339
Close this issue since patch merged.

[2018-07-26 11:05] #339 closed

[2018-07-26 11:54] bharatpotnuri commented on #298
With following commit, CQ error logs aren't seen:
[code]
Looks like the Error log is directly changed to debug log, so flush errs arent seen.

[2018-07-26 12:00] gila commented on #375
@liang2yan I've tried what you have suggested, however, when running blobcli, I hit the assertion and we dump core.

[code]
(its a pitty the values themselves are not printed but)

[code]

As I mentioned earlier, I suspect this not to be a blobstore related issue due to the fact I get the same issues when using an AIO backend, exported via iSCSI -- without any blobs on it.  (except for the asserti

[2018-07-26 13:59] KariukiJ commented on #365
@liang2yan We are currently using our NVMe-oF testing set up for some data collection. I will work on reproducing this issue once we are done with that data collection next week.

[2018-07-26 16:34] KariukiJ opened #376 "Segmentation Error when running fio plugin with numjob=8"
When running the fio plugin with parameter numjob=8 I get a segmentation fault error. The run seems to be going fine and the read IOPS are getting update but when the run completes I get a segmentation fault error.

I change the parameter to numjob=1 the fio job runs successfully. I also successfully ran numjob=2 and numjob=4.
I have increased the total Hugepages from 2 GB to 8 GB but that did not

[2018-07-26 18:18] jimharris commented on #375
So at first I thought this was an AIO alignment problem for sure.  AIO requires data buffers to be aligned on a boundary equivalent to the AIO's block length.  But looking through the blobstore code, all internally allocated buffers are aligned on 4KB boundaries, so I don't *think* this is the problem yet.

I'll try to repro this here.  I still think this is related to data buffer alignment but wi

[2018-07-26 19:17] lhoswdev commented on #376
Patch submitted:  https://review.gerrithub.io/#/c/spdk/spdk/+/420575/

[2018-07-26 19:56] Seth5141 commented on #347
The following commit solves this ASAN error on my machine. https://review.gerrithub.io/c/spdk/spdk/+/419732. It seems that the main issue was not necessarily thae synchronous nature of the qpair deletion (although this is still an issue that is being resolved), but the fact that an AER was being left in the NVMe-oF queue.
Please also see issue #337 to confirm that this fix can be reproduced in tha

[2018-07-26 19:56] #347 closed

[2018-07-26 20:50] gila commented on #375
Hi @jimharris

When going through the code, it looks you are right about the buf alignment problem when we issue the IO down to the AIO bdev.

`spdk_io_set_buf()` seems to be the culprit here and returns us 8256.

Using strace its easy to demonostrate:

```io_submit(140233243267072, 1, [{data=0x7f8a9122baf0, preadv, fildes=11, iovec=[{0x7f8a8d1c8200, 8256}], offset=4096}]) = 1```

It took me a whi

[2018-07-26 20:53] jimharris commented on #375
Hi @gila

Was this in your iSCSI testing I assume?  Would you be able to give me a backtrace from this io_submit w/ len=8256?

The blobstore issue is a real issue - completely unrelated to AIO, and I'm going to have a fix out shortly.  Then I'll look further into the AIO unalignment issue.

Thanks,

-Jim

[2018-07-26 21:03] gila commented on #375
@jimharris

Yes, this is my testing with iSCSI and AIO, without blobs in between. This gives me the SCSI errors and in effect makes the whole disk useless.

Here is bt you asked for:

[code]
I've also tested with nvme + blobstore and then all is fine when using iSCSI. If you are convinced these are seperste bugs (i.e aio being one, and blobfs assertion being another) then perhaps I should change t

[2018-07-26 21:08] gila commented on #375
@liang2yan

It happens either way (sorry missed that question)

[2018-07-27 01:20] WenqianZong commented on #298
I use latest spdk version （7/27）to verified this issue passed with X722 iWARP RDMA. I will test on Chelsio nic.

[2018-07-27 04:16] samhjn opened #378 "Vhost-user crashed after Guest OS reboot"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Right after rebooting guest os, the spdk vhost app crashed.
Guest OS version: Ubuntu 18.04
Maybe crashed when grub loads

## Expected Behavior
vhost app keeps work

## Current Behavior
crashed with segment fault

## Possible Soluti

[2018-07-27 05:21] shuhei-matsumoto commented on #362
@youngtack

Thank you for continuous work.

I tested the change on a Virtual Box VM with one nvme drive and it worked.
However I tested on a server with 4 nvme drives as same as you and observed the same unexpected behavior.

Please wait for my update.

[code]

[2018-07-27 08:09] WenqianZong commented on #298
I use latest spdk version （7/27）to verified pass on Chelsio nic and test 100 cycles.

[2018-07-27 08:15] pawelwod commented on #378
Look like issue that is already fixed here https://review.gerrithub.io/#/c/spdk/spdk/+/420372/ . Can you check latest master?

[2018-07-27 08:26] #298 closed, assigned to changpe1, liang2yan, WenqianZong

[2018-07-27 10:51] tomzawadzki commented on #359
Patch https://review.gerrithub.io/#/c/spdk/spdk/+/419227/ will be abandoned. Problem with going through with it was noted in patch and on community meeting [here](https://trello.com/c/rcs2r4tw). It would involve changing how metadata thread works. Benefit of this patch is minimal to original issue.

Other two patches were merged:
- [blob: fix unallocated clusters to run-length encode](https://revi

[2018-07-27 10:51] #359 closed

[2018-07-27 18:20] youngtack commented on #362
@shuhei-matsumoto:

Here is another observation for blacklist with construct/delete repeated.

* based on the original dpdk code
[code]
*  based on your patch for dpdk
[code]

[2018-07-27 21:32] KariukiJ commented on #376
I have validated that the issue is resolved in the SPDK master after merging the patch to fix this issue. I ran with numjob=8 and numjob=16 successfully.
[root@fedora27-SPDK oracle_perf_scripts]# LD_PRELOAD=../new/spdk/examples/nvme/fio_plugin/fio_plugin fio sr_128k.fio
SR_128K_QD256: (g=0): rw=read, bs=(R) 128KiB-128KiB, (W) 128KiB-128KiB, (T) 128KiB-128KiB, ioengine=spdk, iodepth=256
...
fio-3.3

[2018-07-27 21:32] #376 closed

[2018-07-28 14:16] liupan1111 commented on #374
@liang2yan it is good you marked it as enhancement. But in my opinion, we should add a patch first to avoid the crash when extended lba, and report "not supported" before we finish the enhance. @jimharris

[2018-07-30 01:04] xuhuagen commented on #351
I also not reproduce this issue when I change a server.

[2018-07-30 02:30] ChenWang01 commented on #363
@peluse
Hi Paul,
I found the memory leak is in the nvme_rdma_ctrlr_construct function when creating the admin qpair fails. So i submit a patch to fix it. Please review it.
https://review.gerrithub.io/c/spdk/spdk/+/420719
Thanks so much.

[2018-07-30 08:11] pelplinski commented on #293
Following steps should work on current master:

[code]

@pawelkax Could you confirm?

[2018-07-30 09:06] pawelkax commented on #293
@pelplinski I checked this issue on master. Now it works properly.

[2018-07-30 09:06] #293 closed

[2018-07-30 10:33] xuhuagen opened #379 "Running bdevperf with SPDK nvmf host library can only Identify the first bdev in the bdev.conf and spdk nvmf target"
In target machine:
I set up 2 subsystems in config file nvmf.conf, as below:
[code]

In host machine
bdev.conf as below:
[code]
 Run bdevperf
[code]
It  only shown the log of  bdev Nvme0 ,and I add a bdev Nvme2 which not exists, as below
[code]
Run bdevperf again ,we can find that  the log is same as before

[code]
## Expected Behavior
bdevperf should identify all bdevs of bdev.conf

## Current Be

[2018-07-30 12:41] Maciej-Szwed commented on #369
I've got same result as pawelkax with emulated NVMes on VM. The original trace looks weird as it comes from blobstore which is not used at all in the reproduction steps.

[2018-07-30 12:59] Maciej-Szwed commented on #369
I'm getting the same result with physical devices.

[2018-07-30 15:09] jimharris commented on #369
Hi @Maciej-Szwed and @pawelkax

Can we get an updated sequence of steps to reproduce this issue?  Original submitter had 6 steps and issue was related to deleting the bdev (in a way that we don't support any more).  But latest seems to indicate the failure is now in killing the spdk_tgt after step 5.

Maybe the original issue should be closed, and we should have a new issue for this latest sequenc

[2018-07-30 22:15] jimharris commented on #374
Hi @liupan1111,

I agree that if the bdev layer does not support extended LBA sizes, that it should not crash.  Do you have any logs from latest SPDK that describe the crash or show the backtrace?  If not, we can have someone try this.

Then we can create a new issue for the crash (marked as a bug) and keep this issue as the enhancement.

Thanks,

-Jim

[2018-07-31 05:13] wanqunintel commented on #351
Close due to environment issue, can not reproduce

[2018-07-31 05:13] #351 closed

[2018-07-31 05:41] changpe1 commented on #371
The patch for this issue is here: https://review.gerrithub.io/#/c/spdk/spdk/+/420472/

[2018-07-31 06:02] wanqunintel commented on #366
@Comphix would you look at this issue?

[2018-07-31 06:03] Maciej-Szwed commented on #369
@jimharris reproduction steps are the same. Only change is that you have to shut down app after those steps to get that error. I'll investigate this with new delete call and file new issue for the leaks we that we saw.

[2018-07-31 06:06] wanqunintel commented on #370
@Comphix is there any patch for this?

[2018-07-31 06:26] liang2yan commented on #371
I have verified this patch. The SPDK nvmf target reported following error:
[code]

I have run "nvme discover -t rdma -a 192.168.89.11 -s 4420" command in the host machine. Only the first subsystem info is printed.
[code]

So this patch can fix this issue.

[2018-07-31 06:52] Maciej-Szwed commented on #369
There is the same issue with the new delete command. I've created patch that fixes this:
https://review.gerrithub.io/#/c/spdk/spdk/+/420845

[2018-07-31 07:50] liang2yan opened #380 "SPDK nvmf target crashed while running"
## Expected Behavior
run without error.
## Current Behavior
SPDK core dump
(gdb) bt
#0  _spdk_bit_array_get_word (ba=0x0, bit_index=1) at bit_array.c:200
#1  spdk_bit_array_clear (ba=0x0, bit_index=1) at bit_array.c:203
#2  0x0000000000443fb1 in _spdk_nvmf_qpair_destroy (ctx=0x14dadd60, status=<value optimized out>) at nvmf.c:649
#3  0x00000000004450e0 in spdk_nvmf_request_complete (req=<value opt

[2018-07-31 08:44] wanghailiangx opened #381 "two cases should be removed in server "freebsd-0" in NIGHTLY TEST - master"
I found the two cases are skipped in server "freebsd-0" in NIGHTLY TEST - master .
test/blobfs/rocksdb/rocksdb.sh
test/blobstore/blobstore.sh

## Expected Behavior
no cases are skipped.

## Current Behavior
/usr/src/rocksdb   does not exist.
blobstore.sh cannot run on   FreeBSD currently.
these two cases are skipped.

## Possible Solution
remove them, because them have been replaced by others.

##

[2018-07-31 09:14] ChenWang01 opened #382 "The 4K random write fio failed when use 32MB/64MB/128MB cluster size with thin provision"
The 4K random write fio failed when use 32MB/64MB/128MB cluster size with thin provision.
The 4MB and 16MB cluster size can run 4K random write cases, but the IOPS is lower when the qd=1

## Expected Behavior
The  4K random write fio case should pass

## Current Behavior
Fio log
[code]
Dmesg log:
[code]

4MB randwrite | qd=1 | 4
-- | -- | --
numjobs=1 | 89 | 801
4 | 115 | 59.6k
8 | 247 | 225k
32 |

[2018-07-31 09:33] ChenWang01 commented on #369
@Maciej-Szwed
I have retested this issue with your patch https://review.gerrithub.io/#/c/spdk/spdk/+/420845
The ASAN error can't reproduced, but the bdev can't be deleted after the step 4 and step 5.
I think it's still needs to  be solved.
[code]

[2018-07-31 09:39] Maciej-Szwed commented on #369
Recently some patches that changing delete behavior has been merged. Could you try "delete nvme0" instead of "delete nvme0n1" ?

[2018-07-31 10:00] bharatpotnuri commented on #170
Hi @ehudmarvell,
Have you or anybody from SPDK community tried adding inline support to host?
Thanks,
Bharat.

[2018-07-31 10:10] wanghailiangx opened #383 "err_injection test run skipped in Linux in NIGHTLY TEST - master"
err_injection test run skipped in all Linux servers in NIGHTLY TEST - master, but passed in freebsd.

## Expected Behavior
err_injection test run passed in Linux servers.

## Current Behavior
err_injection test run skipped in all Linux servers.

## Possible Solution
err_injection test may be moved out of stub in test/nvme/nvme.sh.

## Steps to Reproduce
1. view https://review.gerrithub.io/#/c/spdk

[2018-07-31 14:02] Maciej-Szwed commented on #382
I played a little bit on my setup and I was able to get the same result when my lvol was bigger than lvolstore and we tried to allocate cluster for that additional space (and no free clusters left after previous writes). Could please run get_lvol_stores RPC command after FIO error and paste here full output?

[2018-07-31 18:25] jimharris commented on #375
420582 was merged.  Closing this issue.  Thanks @gila for the bug report!

[2018-07-31 18:25] #375 closed

[2018-07-31 19:34] jimharris commented on #383
Or can we specify opts.shm_id = 0 like we do for other tests in this file?

err_injection.c should also fail if no NVMe devices are found.

[2018-07-31 19:41] jimharris commented on #381
Hi Hailiang,

I don't see the bug here.  Can you explain further?  We don't run these tests on FreeBSD at all - but they get lots of coverage on Linux.  I don't think we should spend time getting these tests to run on FreeBSD unless there is some specific request.

Thanks,

-Jim

[2018-07-31 22:46] jimharris commented on #336
Hi @ak-gh,

I would still like to explore removing these arrays altogether.  All of the dynamic allocations of pointer arrays seems prone to errors, and I still don't think the pointers of bdevs is correct - it should be bdev descriptors.

I've posted a proposed patch series here:  https://review.gerrithub.io/#/c/spdk/spdk/+/420932/

You brought up an excellent point about how we should tear down

[2018-08-01 01:33] ChenWang01 commented on #369
@Maciej-Szwed
i used the "delete nvme0" command and it can delete the nvme0n1 bdev, but we use the "ls" command to see the bdev name is "nvme0n1", there is something to be improved.
Another issue is:
We can't create bdev use `create name=nvme1 trtype=PCIe traddr=0000.04.00.0` after step 1 and step 2
[code]
And we can create the bdev as following
[code]

[2018-08-01 02:48] wanghailiangx opened #384 "unknown option 'pool init rbd' in NIGHTLY TEST - master"
run test/bdev/bdevjson/rbd_json_config.sh in NIGHTLY TEST - master.

## Current Behavior
# rbd pool init rbd
error: unknown option 'pool init rbd'
usage: rbd <command> ...
This error occurs in all Linux servers.

## Steps to Reproduce
1. view https://review.gerrithub.io/#/c/spdk/spdk/+/393768/
2. view https://ci.spdk.io/spdk/builds/review/4586074545eb46b4116792417305d69b296ad35b.1532865653/fedora-

[2018-08-01 02:52] ChenWang01 commented on #369
The ASAN error can't be reproduced after https://review.gerrithub.io/#/c/spdk/spdk/+/420845 this patch merged.
So i will close this issue.

[2018-08-01 02:52] #369 closed

[2018-08-01 02:54] wanghailiangx commented on #384
The same error occurs in running "test/spdkcli/rbd.sh" on fedora-01, and "rbd_setup 127.0.0.1 in test/bdev/blockdev.sh" on fedora-02.

[2018-08-01 03:01] ChenWang01 opened #385 "Can't create nvme bdev after error command when using spdk-cli"
Can't create nvme bdev after error command when using spdk-cli

## Expected Behavior
can create nvme bdev after error command

## Current Behavior
spdk-cli
[code]
spdk target
[code]

## Steps to Reproduce

1. ./app/spdk_tgt/spdk_tgt
2. ./scripts/spdkcli.py
3. cd bdevs/nvme
4. create name=nvme0 trtype=PCIe traddr=0000.03.00.0
5. create name=nvme0 trtype=PCIe traddr=0000.81.00.0
6. create name=nvme1

[2018-08-01 03:11] ChenWang01 commented on #382
@Maciej-Szwed  following is the full output.
[code]

[2018-08-01 03:29] wanghailiangx opened #386 "test/nvme/reset/reset can't find SSD in NIGHTLY TEST - master"
run "test/nvme/nvme.sh", there is an error caused by "reset -q 64 -w   write -s 4096 -t 2".

## Expected Behavior
Associating INTEL SSD**** with lcore 0

## Current Behavior
In linux:
Cannot create lock on device /tmp/spdk_pci_lock_0000:00:04.0, probably process 13636 has claimed it
nvme_pcie.c: 793:nvme_pcie_ctrlr_construct: *ERROR*: could not claim device 0000:00:04.0
nvme.c: 384:nvme_ctrlr_prob

[2018-08-01 08:47] wanghailiangx commented on #381
@jimharris  I thought that these two use cases were not running on other machines, and they were also skipped here. Now found running successfully on "fedora-04". It can be closed.

[2018-08-01 08:47] #381 closed

[2018-08-01 12:57] Maciej-Szwed commented on #385
Fix for this issue is currently in review:
https://review.gerrithub.io/c/spdk/spdk/+/421006

Regards

[2018-08-01 13:05] Maciej-Szwed commented on #382
@ChenWang01 it looks like this is expected behavior. Here is why:
From output of get_lvol_store I see that your lvol store has size of 745 GB. You are creating lvol with size = 1 TB. In this case we can see that we are hitting end of space on lvol store and we are not able to allocate any new cluster ("free_clusters": 0). Error that you are getting is caused by SPDK sending EIO /* I/O error */. I'

[2018-08-01 15:42] jimharris commented on #386
Good catch!  Thank you for really digging into the nightly test logs.

I think there are multiple bugs here:

1) the "reset" test should exit with failure if no NVMe controllers can be attached - then we would have found this issue a long time ago :-)
2) maybe this test should set the shm_id to 0?  similar to some of the other NVMe tests; this allows them to run with the stub and reduce overall te

[2018-08-01 15:52] jimharris commented on #384
This bug is very low priority.

I think maybe older versions of Ceph had this option, but now it's not needed and so they removed the option.  You can see that tests still continue OK.

Maybe we can just remove this "rbd pool init" line altogether?  @optimistyzy - what do you think?

-Jim

[2018-08-01 17:00] ak-gh commented on #336
I'm not interested in handling simplistic present use cases on shutdown; the patch aimed to address exactly the complex vbdev you quote as something to be done in a future patch. Apparentky, before I see how your future patch achieves what this one already does, it's rather problematic to agree to the proposed solution.

[2018-08-01 17:04] jimharris commented on #336
Fair enough.  I can code up a proposed patch for the more complex case like RAID expansion, although there won't be anything in the tree yet that would take advantage of it.  We could cobble together some unit tests to validate the logic if we all agree on the approach.

[2018-08-01 17:13] ak-gh commented on #336
Ready to review whenever you're ready with the patch.

As to nothing in the tree to use that, I've got a simple mu!tipath vbdev that implements multi-pathing at the bdev level coded and tested, and I can submit it for review if it makes sense. Since it supports path activation (and deactivation, obviously) at runtime (I haven't coded runtime path addition, but this should be pretty straightforward

[2018-08-01 17:28] benlwalker commented on #336
Re: multipath - note this card I added on Trello a month ago: https://trello.com/c/ygAUZpg9

Figuring out the best place to implement multipath is tricky. It may make sense to do it at the NVMe layer actually, but I think taking a shot at a bdev module is a worthwhile effort.

[2018-08-01 17:28] jimharris commented on #382
Should this also fail for 4MB and 16MB cluster sizes?

@ChenWang01 - how long are you running the fio test?  I suspect that if you run the test longer for 4MB and 16MB cluster sizes, that it will fail there too.

[2018-08-01 17:32] jimharris commented on #336
Agreed.  There may be NVMe-specific features that can be more easily used if it's at the NVMe layer.  But a bdev-layer multipath module opens up additional possibilities including iSCSI.

[2018-08-01 17:38] ak-gh commented on #336
Ok, I'll push the patch next week (I need a couple of days to revisit the
code and prep the patch, but I doubt I will be able to allocate that time
until next Mo or so). I'll keep it as is, that's dependent on my two
pending patches, and then we can revise it to make use of your proposal.

Regards,
Andrey

On Wed, Aug 1, 2018, 20:32 Jim Harris <notifications@github.com> wrote:

--

Regards,
Andrey

[2018-08-01 17:57] jimharris commented on #336
Sounds good.  No rush to get the patch pushed out.

Do you see any gaps in my proposal from your initial read?  If you think this will likely work, I can start preparing patches.

[2018-08-01 19:25] johnmeneghini opened #387 "CIT failure: bdev_svc repeatedly cores"
The latest master branch consistently fails CITs on our Fedora 26 CIT testbed.

## Expected Behavior

CIT tests should pass as they do upstream

## Current Behavior

    12:19:29      # '[' -e /var/run/spdk_bdev0 ']'
    12:19:29      # sleep 1
    /home/johnm/master/build-20180801121500/spdk/test/common/autotest_common.sh: line 513: 18072 Aborted                 (core dumped) $rootdir/test/app/bd

[2018-08-01 19:31] johnmeneghini commented on #387
Does the SPDK project support an ftp upload site or something where I can upload my core file?

I'll need something that supports uploads of 150M or larger.

johnm-mac-0:cores > ls -alhd build*
drwxr-xr-x  5 johnm  staff   170B Aug  1 15:16 build-20180801121500
-rw-r--r--  1 johnm  staff   158M Aug  1 14:39 build-20180801121500.tgz
-rw-r--r--  1 johnm  staff   144M Aug  1 15:10 build-2018080112150

[2018-08-01 19:49] jimharris commented on #387
Hi John,

The project doesn't have anything like that currently.

Can you describe which test is generating this core dump?

-Jim

[2018-08-01 19:52] johnmeneghini commented on #387
I've attached the build.log file.

The test that consistently fails is:

        run_test test/bdev/blockdev.sh

[2018-08-01 19:54] jimharris commented on #387
Oh - sorry John.  I missed the attachment.  Looking at it now.

[2018-08-01 19:57] johnmeneghini commented on #387
If I disable the blockdev test then next test that fails is:

START TEST ./test/iscsi_tgt/rbd/rbd.sh

[2018-08-01 20:01] jimharris commented on #387
The referenced commit - is this when you started noticing that it is failing?  Or rather can you bisect this down to a specific commit?

[2018-08-01 20:11] jimharris commented on #387
Hi @johnmeneghini,

If this is failing consistently on your CIT system, can you try instrumenting the places where spdk_io_device_register and spdk_io_device_unregister are called in lib/bdev/pmem/bdev_pmem.c?  I want to see if it's never getting registered, or if it's getting unregistered twice.

Please also print out the value of &g_pmem_disks in each of these cases.

We aren't seeing these fail

[2018-08-01 20:19] johnmeneghini commented on #387
I haven't tried to bisect this down to a specific commit, but I do know that earlier versions of the master branch passed all CITS on our testbeds.

commit 3181857bc from  Thu Jul 12 11:18:57 works.

I'll try to start a bisect and see if I can narrow things down a bit, but this will be hard because there have been a number of huge changes to the test scripts and the environment lately.  Here's onc

[2018-08-01 20:24] ak-gh commented on #336
On Wed, Aug 1, 2018, 20:57 Jim Harris <notifications@github.com> wrote:

I believe I do see a few ssues.

First, I doubt complex vbdevs will be satisfied with just a notification.
What's needed is a mechanism mirroring thaf of the startup: a calback
(similar to examine), with async notification to bdev layer that vbdev is
done shutting down. In fact, if bdev layer just walks bdev tree in the
right

[2018-08-01 20:27] jimharris commented on #365
Marking this as medium priority for now.  We need to get to the bottom of this, but we haven't concluded that it's a SPDK problem yet - we need to rule out the Linux kernel initiator.

@benlwalker is planning to spend some time on this after 18.07 is released.

[2018-08-01 21:04] johnmeneghini commented on #387
By installing some missing packages on my testbed and disabling the blockdev.sh test I've gotten as far as:

ssan-rx2560-01:johnm > grep "START.TEST" master/build-20180801160611/output/build.log
START TEST ./test/unit/unittest.sh
START TEST test/event/event.sh
START TEST test/nvme/nvme.sh
START TEST test/env/env.sh
START TEST ./test/iscsi_tgt/iscsi_tgt.sh
START TEST ./test/iscsi_tgt/calsoft/calsof

[2018-08-01 21:06] jimharris commented on #387
Hi John,

Not sure - we'll need to check that ASAN is getting used for the iSCSI initiator tests in the Intel test pools.

Do you want to keep this bug still open?  The iSCSI initiator issue should be filed as a separate issue.

-Jim

[2018-08-01 21:14] johnmeneghini commented on #387
I will open a separate bug report for the iSCSI initiator problem.

From: Jim Harris <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Wednesday, August 1, 2018 at 5:06 PM
To: spdk/spdk <spdk@noreply.github.com>
Cc: John Meneghini <John.Meneghini@netapp.com>, Mention <mention@noreply.github.com>
Subject: Re: [spdk/spdk] CIT failure: bdev_svc repeatedly cores (#387)

Hi

[2018-08-01 21:35] jimharris commented on #336
Hi Andrey,

destruct callbacks can return 1 indicating that they have some asynchronous work to do.  When that work is finished, they can call spdk_bdev_destruct_done().

Of course you wouldn't know that from reading the docs - because it's not documented.  That obviously needs to be fixed.  Argh.

lib/bdev/lvol/vbdev_lvol.c uses this currently.  You can and should rely on this if needed - I'll ma

[2018-08-01 21:41] benlwalker commented on #336
I think we also agreed a few weeks ago to separate the notion of "claiming" from the read/write permissions. Permissions would be handled only through descriptors, whereas claiming deals with building the dependency tree. Patches to change that behavior haven't gone in yet.

[2018-08-01 21:44] johnmeneghini opened #388 "Can't compile after ./configure --enable-log-bt=lvl"
Configuring spdk with the following options fails to compile

[code]

## Expected Behavior

Any combination of ./configure flags should compile, link and run.

## Current Behavior

Compiling lib/log/log.c fails to compile with the above options.

## Possible Solution

Don't configure --enable-log-bt=lvl

## Steps to Reproduce

[code]

## Context (Environment including OS version, SPDK version, etc

[2018-08-01 21:54] jimharris commented on #388
I can reproduce this on my dev system.

[2018-08-01 21:58] jimharris commented on #388
Was going to assign to @pawelwod, but he's not part of the SPDK group yet.  If he accepts my invitation, we'll assign this to him.  (Pawel, please accept my invitation!)

[2018-08-01 23:14] jimharris commented on #363
The patch from @ChenWang01 has been merged.  Can we close this issue?

[2018-08-01 23:17] jimharris commented on #388
Oh - this isn't really a bug.  It should be something like --enable-log-bt=ERROR

"lvl" is just the placeholder for the log level.  I'm going to keep this issue open though as a bug and reduce it to low priority.  We should modify the configure script to throw an error if an invalid enable-log-bt flag is selected.

[2018-08-01 23:18] jimharris commented on #226
Closing this issue.  @ksingh2017, if you feel there is still something to look at here, please reopen it.

Thanks,

-Jim

[2018-08-01 23:18] #226 closed

[2018-08-01 23:26] jimharris commented on #354
I agree with @optimistyzy that this is likely related to some of the other NVMe-oF target shutdown bugs.

In general, the NVMe-oF target shutdown bugs are high priority.  Only marking this one as Medium since it is seen with Ceph RBD module which is not as critical as other bdev modules.

[2018-08-02 00:54] ChenWang01 commented on #363
This issue can't be reproduced with the master branch. So i will close this issue.

[2018-08-02 00:54] #363 closed

[2018-08-02 01:05] ChenWang01 commented on #385
https://review.gerrithub.io/c/spdk/spdk/+/421006
The patch can fix this issue, so i will close it.

[2018-08-02 01:05] #385 closed

[2018-08-02 01:26] ChenWang01 commented on #382
@jimharris
I run the 4MB and 16MB random write cases 5 minutes, it can pass but the IOPS is lower when the qd=1 and qd=4. I will test the 4MB and 16MB with longer time  and have a check.

[2018-08-02 01:36] shuhei-matsumoto commented on #362
@youngtack @jimharris

The following change worked in my environment with NVMe x 4 both for blacklist and whitelist.
hotplug function in DPDK looks experimental. I'm not sure what amounts of review will be done but believe the fix will be merged in the end.

[code]

[2018-08-02 01:44] shuhei-matsumoto commented on #362
if whitelist is used, only whitelist devices are probed at startup.
if blacklist is used, all devices are tried to probe but blacklisted devices are skipped.
This asymmetry made me spent not a few time.

Besides, the server with NVMe x 4 is disconnected to the internet and I had failed to build DPDK and link it to SPDK. The last update was done by the original DPDK and wrong. So please forget abou

[2018-08-02 02:57] shuhei-matsumoto commented on #374
@jimharris @liupan1111

I formatted an namespace by 512 + 8 and then started nvmf-tgt but it exited with error.
Adding a patch to avoid the crash doesn't look necessary for this case.
Pan, have you observed different behavior?

[code]

[2018-08-02 03:53] noorshaheennoorudheen commented on #365
I am OK in moving this to medium priority. However, I thought we have already ruled out kernel initiator. Please look at my point number 2 under "Possible Solution" header.  If there are any other thoughts to think it to be an initiator problem then I would appreciate if you could throw some light here.

[2018-08-02 04:05] jimharris commented on #365
Hi @noorshaheennoorudheen,

Point #2 is not ruling out an issue on the initiator side with sending I/O to one namespace out of 250.   I don't know enough about the Linux kernel initiator to know how it handles subsystems with many namespaces.

I'm not saying it is a kernel initiator problem, just that we have not ruled it out yet.

I think it would be worth testing the following with your 250 name

[2018-08-02 04:17] optimistyzy commented on #380
This patch should solve this issue https://review.gerrithub.io/420827
The qpair_mask will be operated only by the thread which admin qpair is created on

[2018-08-02 06:13] ChenWang01 opened #389 "Can't use nvme bdev's name to delete the bdev"
Can't use the nvme bdev's name to delete the bdev.
Can use nvme conttroller's name to delete the bdev.

## Expected Behavior
Can use the nvme bdev's name to delete the bdev.

## Current Behavior
[code]

## Possible Solution
[code]
## Steps to Reproduce

[code]

## Context (Environment including OS version, SPDK version, etc.)
OS: Fedora release 27 (Twenty Seven)
Linux version: 4.17.3-100.fc27.x86_

[2018-08-02 06:33] changpe1 commented on #389
delete nvme0n1 should not call delete_nvme_controller, because it's block device's name.

[2018-08-02 06:34] wanqunintel commented on #389
@ChenWang01 Would you check the spdk.py script it's calling the wrong method when deleting the bdev.
Got JSON-RPC error response
request:
{
  "params": {
    "name": "nvme0n1"
  },
  "jsonrpc": "2.0",
  "method": "delete_nvme_controller",
  "id": 1
}

[2018-08-02 06:59] Maciej-Szwed commented on #382
@ChenWang01 please try 16MB with higher qd and longer time. This configuration should fail faster than 4MB and lower qd.

[2018-08-02 07:01] ChenWang01 commented on #382
@Maciej-Szwed  Yes you are right, i run the 16MB cases with 30 minutes, it's failed. And run the 4MB cases failed with 60 minutes.

[2018-08-02 07:03] changpe1 commented on #386
I pushed a patch to fix this, https://review.gerrithub.io/#/c/spdk/spdk/+/421070/

[2018-08-02 07:07] Maciej-Szwed commented on #389
The idea behind "delete" command in SPDK-CLI and delete_nvme_controller command is to detach NVMe device from SPDK. I don't see any point in removing one of the controller's bdev, but leaving other bdev from this controller and controller itself still available in SPDK. That's way we decide to do the deletion using controllers name instead of one of its bdev.
You can also look at this from another

[2018-08-02 07:25] changpe1 commented on #383
I pushed a patch to fix this: https://review.gerrithub.io/#/c/spdk/spdk/+/421071/

[2018-08-02 07:31] ak-gh commented on #336
On Thu, Aug 2, 2018, 00:41 Ben Walker <notifications@github.com> wrote:

Sounds good, thanks for letting me know.

Regards,
A.

[2018-08-02 07:52] shuhei-matsumoto commented on #374
@jimharris

I disabled vbdev_gpt and vbdev_lvol and retried to boot nvmf-tgt. nvmf-tgt started without error but "nvme list" command from the initiator hang up because  nvme-connect -> keep-alive -> IO error -> reconnect was repeated.  I knew this behavior by syslog in the initiator but I didn't see any log in the target. I'll be able to continue investigation thanks to your input.

@liupan1111

T

[2018-08-02 07:55] ChenWang01 commented on #389
@Maciej-Szwed
I find "delete" command  call the "delete_bdev" method in the "bdevs/split_disk" directory and call the "delete_nvme_controller" method in the "bdevs/nvme" directory. So i followed steps.

[code]

[2018-08-02 08:04] changpe1 commented on #379
I will fix the issue, it can only happen for NVMeF subsystems.

[2018-08-02 08:16] NiuYawei opened #390 "Fail to unlink shared memory file when apps running by non-privileged user"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

When running SPDK app with non-proviledged user, all the shared memory related files should be unlinked on app exit, no error should be reported.
## Current Behavior

Every time when initialize SPDK env by our

[2018-08-02 08:24] changpe1 commented on #379
The patch is here to fix the issue: https://review.gerrithub.io/#/c/spdk/spdk/+/421078/

[2018-08-02 08:33] alekseymmm commented on #336
What about hot_remove_callback  argument in spdk_bdev_open() considering the case of raid1 or multipapath as bdev. Isn't it called when underlying bdev removed and can be closed and unregistered ? or is it already unregistered by some internal mechanism ?

[2018-08-02 08:40] ak-gh commented on #336
Not sure what exactly are you referring to.

Hotremove argument may be anything the caller of the bdev_open has provided as a hotremove callback arg.

The problem with hotremove at the moment is that  it's being used for two distinct purposes: to let a claimant vbdev know that the underlying base bdev is gone at runtime, and on shutdown in the context of the bdev_unregister iterator.  We are tryin

[2018-08-02 08:54] xuhuagen commented on #379
@changpe1 thank you. The pathch  https://review.gerrithub.io/#/c/spdk/spdk/+/421078/ can solve this issue.

[2018-08-02 08:55] alekseymmm commented on #336
@ak-gh Ok it makes sense. I got  a lot of pain trying to handle properly raid1 and device hot remove or shutdown. I believe this kind of separation could help.

[2018-08-02 09:31] Maciej-Szwed commented on #382
@ChenWang01 can we close this issue as expected behavior? Or would you like to track here my work on trying to find more appropriate errno which will be handled better by fio/OS (if it is possible at all)?

[2018-08-02 13:02] johnmeneghini commented on #387
Please download the full CIT test output from:

https://www.dropbox.com/s/hwcjyjzykmjn2vm/build-20180801121500.tgz?dl=0

See the log file in output/build.log. See the core file in the spdk directory.

[2018-08-02 14:39] jimharris commented on #389
@Maciej-Szwed is correct.  We should not be using the delete_bdev method at all anymore.  We are adding module-specific delete methods for every bdev module, and will be removing the delete_bdev RPC in the next release.

This looks more like an spdkcli bug.  We still have the delete_bdev method plumbed.  If you cd to the split_disk directory and do "help", you see both "delete" and "destruct_split

[2018-08-02 14:43] jimharris commented on #389
Hi @karlatec - can you take a look at this?

I tried to assign it to you, but you're not in the SPDK GitHub group yet.  You should have an invitation now though - I just sent one.

Thanks,

-Jim

[2018-08-02 14:47] jimharris commented on #387
Is this issue still reproducible, now that you've installed the missing packages on this system?

[2018-08-02 14:52] jimharris commented on #382
I doubt any errno will be better handled by FIO.  The I/O simply cannot be completed as requested - there's no way for fio to recover from that.

It might be worth checking at an lvol unit test level, that we get an -ENOSPC error when we cannot allocate a cluster.  But even -ENOSPC should result in the I/O error seen with fio.

I'm going to mark this as Low priority for now.  I'm not going to mark

[2018-08-02 14:58] jimharris commented on #390
@NiuYawei - thanks for the report!

spdk_env_unlink_shared_files should use eal_get_runtime_dir() instead of hardcoding /var/run.

(Note that the cleanup code later in this function is already using eal_get_runtime_dir().)

[2018-08-02 16:35] youngtack commented on #362
@shuhei-matsumoto:

Thanks a lot. Great to see whitelist and blacklist are working as expected with your dpdk patch amended for the tip of master as below (rte_eal_ --> rte_). Looking forward to seeing this patch upstreamed soon.
* whitelist
[code]
* blacklist
[code]
* dpdk patch to the tip of master
[code]
[code]

[2018-08-02 16:41] darsto commented on #387
There was at least one bug with finishing bdev modules.

John, can you check if this patch fixes your case?
https://review.gerrithub.io/c/spdk/spdk/+/421158
D.

On Thu, Aug 2, 2018 at 4:49 PM Jim Harris <notifications@github.com> wrote:

[2018-08-02 17:07] jimharris commented on #231
Thanks @baruch for the heads-up.

[2018-08-02 17:18] KariukiJ commented on #365
@liang2yan
Unfortunately, our NVMe-oF systems will not be available for me to reproduce this issue until after 8/9/2018 because they are being used for a demo at FMS next week.

[2018-08-02 17:34] jimharris commented on #370
Hi @chenlo2x,

Could you please add more details on the steps to reproduce.  It should include specifics on config files, RPCs, etc.

Thanks,

-Jim

[2018-08-02 18:05] jimharris commented on #374
Thanks @shuhei-matsumoto.

I think for gpt and lvol, their examine functions should be modified to immediately call spdk_bdev_module_examine_done() if the bdev's logical block size is not 512 nor 4096.  Then we can at least continue debugging the NVMe-oF issues without needing to modify the build.

[2018-08-02 23:29] shuhei-matsumoto commented on #362
@youngtack
Thanks for good news! We talked in the yesterday community meeting and will start the activity soon. Please keep in touch with us.

[2018-08-02 23:55] jimharris commented on #362
Hi @darsto and @tkulasek,

Could one of you take this patch from @shuhei-matsumoto and work on getting it upstreamed?  You may want to reproduce the issue that @youngtack has found (and is fixed by this patch) just so you're familiar with it if there are questions.

I know DPDK is gearing up for 18.08 release, so it may be a bit before anyone reviews it.

Thanks,

-Jim

[2018-08-03 00:41] shuhei-matsumoto commented on #362
I just removed a debug log and please ask me if anything.

[code]

[2018-08-03 01:01] #379 closed

[2018-08-03 05:48] ChenWang01 commented on #382
@Maciej-Szwed @jimharris
Yeh, it seems the test issue. i used `./rpc.py construct_lvol_bdev -u ${id} lbd_vm_0 524288 -t  ` instead of step 4 and the 4K Rand write case can pass.
Can we find a way to remind the users when creating the lvol bdev using bigger size than actual lvol store size.

[2018-08-03 06:49] Maciej-Szwed commented on #382
@ChenWang01 I can add warning printed by SPDK, but user will have to track what SPDK is printing to see that information. I don't see any good method to return that information to user with creation completion response.

[2018-08-03 08:46] ChenWang01 opened #391 "ASAN errors when using the CTRL+C to kill the NVMF target"
ASAN errors when using the CTRL+C to kill the NVMF target.

## Expected Behavior
NVMF target can exit successfully.

## Current Behavior
[code]

## Steps to Reproduce

[code]

## Context (Environment including OS version, SPDK version, etc.)
OS: Fedora release 27 (Twenty Seven)
Linux version: 4.17.3-100.fc27.x86_64
gcc version: 7.3.1 20180303 (Red Hat 7.3.1-5) (GCC)
SPDK: master (commit id: 5a27b6

[2018-08-03 09:29] tkulasek commented on #362
Hi @jimharris and @shuhei-matsumoto,
I can do it.

[2018-08-03 10:49] karlatec commented on #389
@ChenWang01 @jimharris
"delete_bdev" was used in /bdevs node of spdkcli as a general tool for deleting all types of bdevs.
Now that all nodes for bdevs have their own specific "delete_*" methods there is no need to keep the general call. Removed here: https://review.gerrithub.io/#/c/spdk/spdk/+/421208/

As for original reported problem "Can't use nvme bdev's name to delete the bdev" - as Maciek ex

[2018-08-03 17:02] jimharris commented on #382
@Maciej-Szwed @ChenWang01

I'm not sure we should do a warning message.  For thin provisioning, it is valid (although dangerous) to create a volume that's bigger than the backing capacity.  And @Maciej-Szwed makes a good point that there is no way to return this warning message over RPC.

[2018-08-03 19:06] benlwalker commented on #365
Hi @noorshaheennoorudheen

I've been taking a close look at this and I think we need to run a number of additional experiments to narrow things down.

# Target Configuration

Instead of using lvols, can you add 250 namespaces mapped to 250 null bdevs? You can create a null bdev by doing:

[code]

That still yields 250 namespaces in a single subsystem (if you do that 250 times) and won't run the sy

[2018-08-03 20:18] benlwalker commented on #365
I just got a real RDMA NIC up and running and tested the scenario I outlined above with the SPDK initiator. I get 1.2M I/Ops in both cases.

[2018-08-06 03:54] shuhei-matsumoto commented on #362
@tkulasek Thank you! Please let us know if anything we should do.

[2018-08-06 09:12] chenlo2x commented on #370
@jimharris I have added steps to reproduce.

[2018-08-06 23:39] jimharris commented on #386
Patch merged.

[2018-08-06 23:39] #386 closed

[2018-08-07 00:41] liang2yan commented on #362
@shuhei-matsumoto , I used your DPDK patch to verify this issue. This issue can be fixed by your patch. But when I used CTRL+C to kill the bdev_svc, it reported some ASAN error:

[code]

I have used dpdk codes without your patch. The bdev_svc didn't report the ASAN error.

[2018-08-07 02:04] WenqianZong commented on #388
I test this issue with "--enable-log-bt=ERROR" and "--enable-log-bt=lvl".
following is logs:
 "--enable-log-bt=ERROR"
[code]

[2018-08-07 05:32] liang2yan commented on #382
@jimharris , can we close this issue? Since this is not a bug.

[2018-08-07 05:34] liang2yan commented on #378
@samhjn , any updates about this issue?

[2018-08-07 06:58] ChenWang01 commented on #378
@samhjn
I can't reproduce this issue in my environment.
commit: 2b3abb2a339cfb1033108808ffa7577b860cca09

[2018-08-07 07:00] samhjn commented on #378
it fixed

                            Sam He

                                    邮箱：samhjn@gmail.com

Signature is customized by Netease Mail Master

On 08/07/2018 14:59, Chen Wang wrote: @samhjn
I can't reproduce this issue in my environment.
commit: 2b3abb2a339cfb1033108808ffa7577b860cca09

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mu

[2018-08-07 07:06] chenlo2x commented on #388
I have resolved this issue on fedora 25, It is not a bug and just did not install the libunwind package.
You can install it by one of below cmd.
dnf install libunwind-devel.x86_64
apt install libunwind-dev
When you make the spdk,  the --enable-log-bt parameter should be followed by ERROR or other Log lever, not the lvl.
By the way, more details about the libunwind, please refer to below website.
h

[2018-08-07 07:12] chenlo2x commented on #388
@jimharris & @johnmeneghini
I have resolved this issue on fedora 25, It is not a bug and just did not install the libunwind package.
You can install it by one of below cmd.
dnf install libunwind-devel.x86_64
apt install libunwind-dev
When you make the spdk, the --enable-log-bt parameter should be followed by ERROR or other Log lever, not the lvl.
By the way, more details about the libunwind, pleas

[2018-08-07 07:27] xuhuagen commented on #390
@NiuYawei  could you list the steps of reproducing this issue?

[2018-08-07 07:31] liang2yan commented on #371
Patch merged. And I used latest codes to reproduce this issue. It can't be reproduced. So close this issue.

[2018-08-07 07:31] #371 closed

[2018-08-07 07:34] ChenWang01 commented on #391
Update the ASAN information with master branch(2b3abb2a339cfb1033108808ffa7577b860cca09)
[code]
I used the `"nvme disconnect -n "nqn.2016-06.io.spdk:cnode1"` command to disconnect the subsystem in the initiator then I used the CTRL+C to kill NVMF target, this issue can't be produced.

[2018-08-07 07:36] NiuYawei commented on #390
We are developing DAOS NVMe support by SPDK, and the error messages popped up when starting DAOS server by non-root user, it seems to me these reproducing steps are useless for you.

The root cause is about "spdk_env_unlink_shared_files should use eal_get_runtime_dir() instead of hardcoding /var/run." Just as Jim mentioned in previous comment.

[2018-08-07 07:38] pawelwod commented on #388
@chenlo2x  @WenqianZong guys, you know that there is script in `scripts/pkgdep.sh` that will install all dependencies for you, right?

@jimharris @johnmeneghini I will add this check.

BTW: Are there any plans to use something like autoconf instead our own crafted script?

[2018-08-07 08:10] shuhei-matsumoto commented on #362
@liang2yan
Thank you for testing with ASAN. Will you confirm if the issue is fixed by using the following if you have chance to do?

[code]

[2018-08-07 08:55] wanghailiangx commented on #384
I pushed a patch to fix this: https://review.gerrithub.io/#/c/spdk/spdk/+/421482/

[2018-08-07 09:39] Comphix commented on #370
The problem here is that iSCSI target will split the larger big write into small ones. It seems only relate to iSCSI target and the write IO only. I am also looking at the iSCSI module.

[2018-08-07 09:40] Comphix commented on #282
Hi Liang, could you have a try with the rebased patch https://review.gerrithub.io/#/c/spdk/spdk/+/416689/

Thanks, Gang

[2018-08-07 13:17] Comphix commented on #366
Had a quick patch at https://review.gerrithub.io/c/spdk/nvme-cli/+/421504

Please help to validate whether the below issue has been fixed:
Direct leak of 2048 byte(s) in 1 object(s) allocated from:
    #0 0x7fbed4852d38 in __interceptor_calloc (/usr/lib/x86_64-linux-gnu/libasan.so.4+0xded38)
    #1 0x555f5a31aa46 in nvmf_get_log_page_discovery /home/zong/nvme-cli/fabrics.c:318
    #2 0x555f5a31aa4

[2018-08-07 15:31] pawelkax commented on #337
@tomzawadzki @Seth5141 @WenqianZong
I tested this bug on master and I can still reproduce it

[2018-08-07 15:37] pawelkax commented on #337
Neew output when killing nvmf_tgt:
=================================================================
==7241==ERROR: AddressSanitizer: heap-use-after-free on address 0x61700000c128 at pc 0x0000005aad3e bp 0x7ffccae47a90 sp 0x7ffccae47a80
READ of size 8 at 0x61700000c128 thread T0 (reactor_0)
    #0 0x5aad3d in _spdk_nvmf_qpair_destroy /root/spdk_nvmf/lib/nvmf/nvmf.c:697
    #1 0x5ab914 in _spdk_nvm

[2018-08-07 16:52] benlwalker commented on #388
I investigated moving to autoconf at one point and couldn't figure out how to do a number of things that we need to do in config/make. So I just made a script that mostly works like the autoconf tools instead. In general, since our build system only needs to support Linux and FreeBSD, and even within those only relatively modern versions, I think this strategy is a lot simpler. I'm open to switchi

[2018-08-07 18:20] ack72tdp opened #392 "compile issue on centos 7.5.."
CC lib/iscsi/conn.o
  CC lib/iscsi/init_grp.o
  CC lib/iscsi/iscsi.o
In file included from iscsi.c:46:0:
/root/anil/spdk/lib/iscsi/md5.h:40:25: fatal error: openssl/md5.h: No such file or directory
 #include <openssl/md5.h>
                         ^
compilation terminated.
make[2]: *** [iscsi.o] Error 1
make[1]: *** [iscsi] Error 2
make: *** [lib] Error 2

[root@sio37-12 spdk]# openssl version
Op

[2018-08-08 01:17] ChenWang01 commented on #391
It seems the same issue like https://github.com/spdk/spdk/issues/337.
So i will close this issue.

[2018-08-08 01:17] #391 closed

[2018-08-08 02:01] changpe1 commented on #392
Did you install openssl-devel in your system ?

[2018-08-08 02:06] changpe1 commented on #390
Patch https://review.gerrithub.io/#/c/spdk/spdk/+/421169/ can fix the issue, but may need some time for code merge.

[2018-08-08 02:28] liang2yan commented on #362
@shuhei-matsumoto , I tried to add your patch into dpdk codes but failed. I checked the patch. It seems that the following part may have conflict with the original codes:

[code]

Can you help to check it?

[2018-08-08 04:40] shuhei-matsumoto commented on #362
@liang2yan

I updated DPDK and observed the failure in it.
To send the updated patch file to you, I tried to build DPDK and SPDK but build of DPDK was failed.

== Build lib/librte_compressdev
  CC rte_net.o
  CC rte_net_crc.o
  CC rte_compressdev_pmd.o
/home/spdkuser/development/spdk/dpdk/lib/librte_compressdev/rte_compressdev_pmd.c:6:24: fatal error: rte_kvargs.h: No such file or directory
 #incl

[2018-08-08 04:50] liang2yan commented on #362
@shuhei-matsumoto , no, I haven't observed similar error. Actually I haven't compiled dpdk codes with your latest patch.

[2018-08-08 05:05] shuhei-matsumoto commented on #362
@liang2yan

Thank  you
This is a issue by pulling master and submodules without any change.
I found a workaround.
In dpdkbuild/Makefile, CONFIG_RTE_LIBRTE_KVARGS was set to n unintentionally.
By changing this to y, build completed.

[2018-08-08 05:07] shuhei-matsumoto commented on #362
@liang2yan
Will you try again by using the following? I will ask build failure in mailing lists.

[code]

[2018-08-08 05:07] xuhuagen commented on #366
@Comphix I patched  https://review.gerrithub.io/c/spdk/nvme-cli/+/421504, issue
[code]
has been fixed.

[2018-08-08 05:38] liang2yan commented on #362
@shuhei-matsumoto , I used your patch to run bdev_svc again. No ASAN error reported.
And I can't use patch command to add your patch into dpdk codes. I input the codes manually. Some errors in the patch:
[code]

[2018-08-08 05:42] shuhei-matsumoto commented on #362
Hi @liang2yan  thank you for your verification and I'm sorry for bothering you by my error in copy&paste.

Hi @tkulasek @youngtack
I think this may not be enough yet but I hope this is better than before.

[code]

[2018-08-08 07:17] xuhuagen opened #393 "Memory leak when running spdk/test/nvme/overhead/overhead with asan"
I run script test/nvme/nvme.sh and memory leak occur when running test/nvme/overhead/overhead

the log as below:
[code]
## Current Behavior
ASAN mem leak when running spdk/test/nvme/overhead/overhead
## Possible Solution

## Steps to Reproduce

1. cd /path/to/spdk
2. ./configure --with-rdma --enable-asan
3. make clean && make -j
4../test/nvme/nvme.sh

## Context (Environment including OS version,

[2018-08-08 17:36] tkulasek commented on #362
Hi @shuhei-matsumoto,

Do you think it's enough to try to try submit it to the DPDK mailing list now?

This is rebased version and prepared to pass DPDK verification. I've made some cosmetic changes and other required due to merge conflicts. If you like to submit it to the DPDK mailing list we can go with that.

Tomek

[code]

[2018-08-08 20:34] ack72tdp commented on #392
yep .. fixed after installing openssl-devel ... thanks...

[2018-08-08 20:34] #392 closed

[2018-08-09 02:13] Comphix commented on #282
Patch has been merged. Please verify. Thanks.

[2018-08-09 02:14] Comphix commented on #366
Thanks Huagen!

[2018-08-09 02:19] WenqianZong commented on #366
@Comphix I pull patch https://review.gerrithub.io/c/spdk/nvme-cli/+/421504 and test discovery and connect can not reporoduced.

[2018-08-09 02:55] ChenWang01 commented on #389
https://review.gerrithub.io/#/c/spdk/spdk/+/421208/ this patch removed the "delete_bdev" method in spdkcli.
Can we close this issue? Since we call "delete_nvme_controller" to delete the nvme bdevs and use the controller name.

[2018-08-09 03:00] liang2yan opened #394 "nvmf target reported ASAN error after using CTRLR+C kill command if using extended LBA for nvme device"
I have used 4K+128 extended LBA for the nvme devices, then I run nvmf target. The nvmf target reported error. Then I used ctrlr+c command to kill nvmf target, it reported ASAN error.

## Steps to Reproduce
1. Use spdk nvme_manage tool to configure nvme devices with 4KB+128 extended LBA.
The cmd is: 6->busnumber->0>6->0->1->Y.
2. configure nvmf config file using the nvme ssd, like the content below

[2018-08-09 03:02] liang2yan commented on #374
I have reported another issue for the crash if using extended LBA. https://github.com/spdk/spdk/issues/394

[2018-08-09 03:48] wanqunintel commented on #383
@wanghailiangx would you have a check why it's failed in the nightly master test?

[2018-08-09 03:56] wanqunintel commented on #389
patch has been merged, @ChenWang01 would you verify it? thanks.

[2018-08-09 04:37] shuhei-matsumoto commented on #362
@tkulasek  and All,

Thank you so much. Submitting the patch to the DPDK mailing list is fine to me but from tomorrow I will have a vacation. Tomek and others will be able to respond well and if you are OK, please submit it. How do you think?

[2018-08-09 04:37] liang2yan opened #395 "nvmf target hung up after using ctlr+c kill command if using 32 cores for P3700 NVMe SSD"
This issue is related with the issue 282, https://github.com/spdk/spdk/issues/282.

## Steps to Reproduce
1. configure spdk nvmf target config with following content:
ReactorMask 0x00FFFFFFFF
Use P3700 as the nvme controller. configure spdk subsytem using nvme bdev.
2.run spdk nvmf target with the config file.
3. In host machine, discover and connect to the spdk subsystem. then disconnect.
4. In t

[2018-08-09 04:48] Comphix commented on #370
For the Read from iSCSI initiator, it will also be affected by below negotiated parameter between iSCSI initiator and iSCSI target.

/*
 * SPDK iSCSI target currently only supports 64KB as the maximum data segment length
 *  it can receive from initiators.  Other values may work, but no guarantees.
 */
#define SPDK_ISCSI_MAX_RECV_DATA_SEGMENT_LENGTH  65536

[2018-08-09 08:26] wanghailiangx commented on #383
This "Build with tests failed" does not appear again in new merged patch. The NIGHTLY failed case is an other problem. I will raise a new issue.
This issue can be closed.

[2018-08-09 09:12] wanghailiangx opened #396 "lvol_bdev errors in NIGHTLY master test"
These errors occur from 8/7/2018.

(1)bdev.c:3128:spdk_bdev_open: *ERROR*: Could not open db7f423b-d4ba-46d0-9a6d-ac99036ff380 - NVMe-oF Target module already claimed it
vbdev_lvol.c: 247:vbdev_lvs_create: *ERROR*: Cannot create blobstore device

(2)vhost_blk.c: 410:_bdev_remove_cb: *WARNING*: Controller naa.0.0: Hot-removing bdev - all further requests will fail.
Timeout while waiting for respons

[2018-08-09 14:53] jimharris commented on #396
Hi Changpeng,

Could you take a look at the tests that are failing?  I know this is related to the NVMe-oF bdev claim patch that you developed.  Your patch is correct we will just need to look at and modify these tests.

You may need to consult with @pawelkax and/or Pawel N.

Thanks,

-Jim

[2018-08-09 14:53] #383 closed

[2018-08-09 21:12] pawelkax commented on #396
@changpe1 @nedved1 @jimharris
Hi,
I think that this is problem with creating nested lvol store.
Such code fails:
1. ls_guid=$($rpc_py construct_lvol_store Nvme0n1 lvs_0)
2. get_lvs_free_mb $ls_guid
3. lb_guid=$($rpc_py construct_lvol_bdev -u $ls_guid lbd_0 $free_mb)
4. ls_nested_guid=$($rpc_py construct_lvol_store $lb_guid lvs_n_0)
and this code also fails:
1. ls_guid=$($rpc_py construct_lvol_stor

[2018-08-10 02:45] changpe1 commented on #396
commit ff458be85 "nvmf: claim each bdev when constructing new Namespace" caused the issue, because nvmf target will claim each block device when constructing Namespaces, for nested blobstore, the parent block device is claimed by nvmf target, so it will fail for the nested case.

[2018-08-10 03:56] optimistyzy opened #397 "ISCSI target crashed due to segment when doing the fio test in the client side"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

When doing the fio test against SPDK iSCSI target. The network can be disconnected due to some situations. To simulate this issue, we disable NIC function in the client side. The fio hangs as expected, then we kill the iSCSI target

[2018-08-10 05:38] Comphix commented on #370
Please check patch https://review.gerrithub.io/#/c/spdk/spdk/+/421142/ where I have made a change to follow the RFC3720 to increase the FirstBurstLength as the default value of 64K. For the I/O size <= 64K, the QoS rate limits should be managed without splitting of more PDUs. For I/O size > 64KB, will document this behavior later.

[2018-08-10 05:49] liang2yan commented on #378
Close this issue since it fixed.

[2018-08-10 05:49] #378 closed

[2018-08-10 10:09] Rakesh-Babu-Saladi opened #398 "Jsonrpc: Support for handling JSON batch requests"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

Batch requests should be handled

## Current Behavior

When submitting a batch request, the nvmf_tgt  returns "SPDK_JSONRPC_ERROR_INVALID_REQUEST " error.
## Possible Solution

If a batch request is received,

[2018-08-10 10:13] Rakesh-Babu-Saladi commented on #398
The above issue is solved and the patch is submitted to the community. Please follow the link
https://review.gerrithub.io/c/spdk/spdk/+/409297

[2018-08-10 10:27] pawelwod commented on #398
@Rakesh-Babu-Saladi We are aware of your patch but since you haven't addressed all comments from previous review nor replied to them we don't know when to review it again. Pls fix all pointed issues or ask in comments if you have any doubts.

Thanks

[2018-08-10 10:40] tkulasek commented on #362
@shuhei-matsumoto and All,

I think it requires more work.

I've tried to reproduce this failure with pure DPDK (newest, 18.05 and 18.02) with no success yet, however after applying your patch reattaching of device fails.

On the pure DPDK it works fine.

Steps to reproduce:
[code]

[2018-08-10 12:56] pawelwod opened #399 "Linux kernel >= 4.18.0-rc5 - fail to bind NVMe device to UIO module"
Trying to NVMe device to UIO module fail on kernel >= 4.18.0-rc5. This is not SPDK issue but lets have it here just to track it.

## Expected Behavior
It must be able to bind NVMe device to UIO module.

## Current Behavior
Fail with dmesg:

[code]

[code]

## Possible Solution
Use kernel < 4.18.0-rc5

## Steps to Reproduce
1. Build & boot into mainline kernel >= 4.18.0-rc5
2. Invoke `spdk/scripts/

[2018-08-10 16:03] #366 closed

[2018-08-10 16:04] jimharris commented on #389
Patches have been merged.

[2018-08-10 16:04] #389 closed

[2018-08-10 16:07] jimharris commented on #399
Hi @pawelwod,

Do you have the test system that reproduces this error?  I know another team at Intel report this and just wanted to make sure it's not system-specific.

Can we have someone try to bisect between 4.18.0-rc4 and -rc5 to narrow this down to a specific commit?

-Jim

[2018-08-10 16:09] jimharris commented on #399
This is almost certainly the cause of the failures:

https://github.com/torvalds/linux/commit/9421e45f5ff3d558cf8b75a8cc0824530caf3453#diff-f8c4bf947cbbef4f6cc9d168af57c347

[2018-08-10 16:18] jimharris commented on #398
Hi @pawelwod,

Can you clarify which comments have not been addressed yet?  I see that the patch changed a lot since rev1 that you and Daniel reviewed, so it's possible that @Rakesh-Babu-Saladi has tried to address all of them.

Thanks,

-Jim

[2018-08-10 17:01] jimharris commented on #399
I think it's possible this bug has been fixed:

https://github.com/torvalds/linux/commit/d1f0301b3333eef5efbfa1fe0f0edbea01863d5d

[2018-08-10 17:03] #382 closed

[2018-08-13 04:42] Comphix commented on #370
https://review.gerrithub.io/#/c/spdk/spdk/+/421142/ Updated this patch to have the FirstBurstLength as a user configurable parameter. In the iscsi.conf file, it can be configured as FirstBurstLength 65536. In this way, the Write I/O <= 65536 can be QoS rate limit controlled. Still may need to document this behavior and let user to configure the own FirstBurstLength and set the proper QoS goal. Tha

[2018-08-13 05:25] Rakesh-Babu-Saladi commented on #398
Hi @pawelwod ,

I've addressed comments from the previous review. Please review it again and suggest/comment if any more changes needed. Thank you @jimharris for going through my patch.

Thanks,
Rakesh.

[2018-08-13 07:33] pawelwod commented on #399
LKML thread
https://lkml.org/lkml/2018/8/10/624

Waiting for fix to be merged into mainline.

[2018-08-13 07:41] Comphix commented on #395
Looking at this issue.

[2018-08-13 08:09] liang2yan commented on #310
I think I reproduced this issue in my env.  The steps are as below:
1. run spdk hotplug tool. The command is as below:
./examples/hotplug/hotplug -n 5 -r 5  -t 4000
2. run following bash script:

[code]
Current behavior:
The hotplug tool will hung up at the last step, unregister_dev. I have checked the hotplug running status, it is in the spdk_nvme_wait_for_completion_robust_lock infinite loop.

[2018-08-13 12:34] chenlo2x commented on #370
@Comphix  I have just tested your patch, when set FirstBurstLength great than 16384, the iscsi_tgt can't be started. Reason for failure:  create PDU data out pool failed,

[2018-08-13 12:54] Comphix commented on #370
Yes. Bigger FirstBurstLength needs bigger PDU pool. You can use NRHUGE to allocate more Hugepages and start iSCSI target again.

[2018-08-13 13:53] Comphix commented on #395
This issue looks like still relating to the un-initialized Qpair where it is NULL and the sgroup is not triggered to Active state. For the coming I/Os, they are just queued. The possible fix is to return these errors in Error. I am looking at a complete fix as it seems there are other issues regarding this situation.

[2018-08-13 16:25] #388 closed

[2018-08-13 16:49] benlwalker commented on #395
Does this patch fix it? https://review.gerrithub.io/#/c/spdk/spdk/+/421167/

[2018-08-13 16:52] benlwalker commented on #380
@liang2yan Have we confirmed that the patch above fixes the problem? It did address a real race condition that may result in a crash like this.

[2018-08-13 17:30] benlwalker commented on #337
I just took a look at what happened. The above bug is actually different than the one originally reported and the patch I linked originally did fix the first bug. An additional bug was introduced as part of another fix and when the patches I linked were rebased this new failure appeared.

I've added an additional patch to my series that fixes this new bug. You can get to the code here:

https://re

[2018-08-13 17:31] benlwalker commented on #354
I believe this patch series should correct the problem:

https://review.gerrithub.io/#/c/spdk/spdk/+/422134/

[2018-08-13 17:38] benlwalker commented on #337
@liang2yan @wanqunintel @WenqianZong can you all please write a patch that adds the following test to ensure these issues do not get reintroduced:

1. ./app/nvmf_tgt/nvmf_tgt -s 2048 -m 0x1 &
2. ./scripts/rpc.py construct_malloc_bdev 1024 512 -b Malloc
3. ./scripts/rpc.py construct_nvmf_subsystem -s SPDK0 nqn.2014-08.org.spdk:cnode1 'trtype:RDMA traddr:<ip> trsvcid:<port>' '' -a -n "Malloc"
4. ./e

[2018-08-13 17:41] benlwalker commented on #394
This looks to be a problem somewhere else in the stack, but just to confirm can you try this using this series of patches:

https://review.gerrithub.io/#/c/spdk/spdk/+/422134/

[2018-08-14 01:42] liang2yan commented on #384
patch merged. issue can't be reproduced. so close this issue.

[2018-08-14 01:42] #384 closed

[2018-08-14 03:08] ChenWang01 opened #400 "NVMf target can't do ext4 and btrfs filesystem test with raid bdev in initiator"
Ext4 and btrfs filesystem test failed in the initiator with raid bdev.

## Expected Behavior
The ext4 and btrfs filesystem test can pass like xfs.

## Current Behavior
ext4 log:
[code]

Dmesg log:
[code]
btrfs log:
[code]
Dmesg log:
[code]

## Steps to Reproduce

[code]

## Context (Environment including OS version, SPDK version, etc.)
OS: Fedora release 27 (Twenty Seven)
Linux version: 4.17.3-100

[2018-08-14 03:43] wuzhouhui opened #401 "destroy_lvol_store timeout if VM opened lvol_bdev via vhost-blk"
RPC method destroy_lvol_store will exited with timeout if lvol_bdev is opened by VM via vhost-blk

## Expected Behavior

Destroy lvol_store and its lvol_bdev forcely even if VM is running.

## Current Behavior

RPC method destroy_lvol_store exited with timeout

## Steps to Reproduce

1. Create lvol_store and lvol_bdev
2. Create vhost-blk socket with lvol_bdev binded
3. Start a VM with vhost-blk so

[2018-08-14 05:06] wanqunintel commented on #394
@liang2yan , can you pls. verify these patch series and update here? thanks.

[2018-08-14 05:09] wanqunintel commented on #337
@WenqianZong will add these case in the autotest. thanks.

[2018-08-14 05:10] wanqunintel commented on #354
@yidong0635 pls. update the verification status here.

[2018-08-14 05:14] wanqunintel commented on #370
@chenlo2x can you update the status here with allocate more Hugepages

[2018-08-14 05:17] wanqunintel commented on #310
@jimharris , Liang can reproduce it in our environment with a simple script, are you available to look at it

[2018-08-14 05:54] wanqunintel commented on #390
@NiuYawei would you verify Changpeng's patch? thanks.

[2018-08-14 06:09] wanqunintel commented on #234
@xuhuagen would you test with -L to enable the debug mode as there is a patch for "work request flush error"

[2018-08-14 06:11] wanqunintel commented on #264
@benlwalker , do you have the patch link for it? just a soft reminder

[2018-08-14 06:38] liang2yan opened #402 "compiling SPDK failed if using DPDK 18.08"
As the title, compiling spdk failed if using dpdk-18.08.
## Steps to Reproduce
1.  download DPDK-18.08, compiling it with command:
`make install T=x86_64-native-linuxapp-gcc DESTDIR=.  EXTRA_CFLAGS=-fPIC
`
2. configure SPDK with the DPDK 18.08 path.

`./configure --with-dpdk=/path/to/dpdk1808/
`
3. run make command to compile spdk.

## Expected Behavior
compiling successfully.
## Current Behavior

[2018-08-14 06:45] wanqunintel commented on #402
@liang2yan there is already effort for this and it's going to be released soon.

[2018-08-14 07:17] chenlo2x commented on #370
As you said, it works.

[2018-08-14 08:42] Maciej-Szwed commented on #401
I was able to reproduce this issue. I will investigate it.

[2018-08-14 11:41] wuzhouhui commented on #401
The same issue did occured after applying this patch. I will close this issue after patch merge into master.

[2018-08-14 11:48] Maciej-Szwed commented on #401
Your sentences confused me a bit. Does the issue still exist with my patch or not?

[2018-08-14 12:00] wuzhouhui commented on #401
The issue disappeared after applying this patch.

[2018-08-14 12:45] liang2yan commented on #394
@benlwalker , I used your patch series and verified this issue again. It still existed. I think this issue is not related to nvmf target. I run iscsi target to verify this issue. The iscsi_tgt also reported same ASAN error.

[2018-08-14 15:02] jimharris commented on #402
Yes - @darsto has patches out already.  See https://review.gerrithub.io/#/c/spdk/spdk/+/422241/.

[2018-08-14 17:05] jimharris commented on #394
Could you also try this patch series?

https://review.gerrithub.io/#/c/spdk/spdk/+/422321/

First patch in this series removes the block length restriction in the malloc bdev module.  Then we can specify 4096+128 block size with malloc bdev for basic testing (and not always require specially formatted NVMe namespace).

[2018-08-14 17:10] jimharris commented on #310
Let's discuss at next bug scrub.  I probably do not have bandwidth to look at it currently.

[2018-08-15 02:56] liang2yan commented on #362
@tkulasek . I follow your steps and try to reproduce your issue. But I failed. My steps are as below:
1. bind ethernet port (0000:06:00.0 0000:06:00.1) to uio_pci_generic.
2. apply patch.
3. run testpmd as below:
[code]
Is there anything I missed?

[2018-08-15 03:30] beef9999 opened #403 "Guest kernel core dump at virtio-scsi module when using SPDK"
Guest kernel core dump at virtio-scsi module, if the guest mem is larger than 8GB, running in SPDK environment.

## Expected Behavior
SPDK bootable rootfs disk + OVMF UEFI boot-loader + 8GB memory
Expected to be able to start up.

## Current Behavior
Kernel core dump
<img width="1026" alt="core dump" src="https://user-images.githubusercontent.com/4076315/44130083-5f1c8848-a07e-11e8-92cb-d4be00f035

[2018-08-15 05:02] liang2yan commented on #362
I found another issue, the testpmd tool will report segmentation fault if try to attach port which is not in whitelist.

[code]

[2018-08-15 05:29] xuhuagen commented on #397
@optimistyzy  I follow ypur steps and trying to reproduce it,  I disable the NiC card by using ifconfig interface down. but the iSCSI target can be correctly stopped.
How quick does this issue happen?

[2018-08-15 05:36] yidong0635 commented on #354
verify the patch,  confirm this path can solve the coredump issue.

[2018-08-15 05:46] yidong0635 commented on #354
@wanqunintel @benlwalker
if this patch has been merged, I will close this issue.
https://review.gerrithub.io/#/c/spdk/spdk/+/422134/

[2018-08-15 05:51] #354 closed

[2018-08-15 08:34] wanghailiangx commented on #396
Changpeng has submit a patch to fix perf.sh. https://review.gerrithub.io/#/c/spdk/spdk/+/421136/ (merged).
But Hugen raised different opinion and sbumit a new patch. https://review.gerrithub.io/#/c/spdk/spdk/+/422194/

In addition, "test/vhost/spdk_vhost.sh" needs to be fixed, it also causes issues sometimes.
Refer to mentioned
(2)https://ci.spdk.io/spdk/builds/review/5e6901fef6048c9ec854c7c052d93

[2018-08-15 22:53] waelhalbawi opened #404 "Passthru vbdev re-created after deletion"
Deletion and recreation of a bdev on-top of which a passthru vbdev was placed results in recreation of the vbdev itself.

## Expected Behavior
Recreating the underlying bdev should not recreate the vbdev, especially if the passthru vbdev was removed first.

## Current Behavior
Recreating the underlying bdev (after deletion) results in the recreation of the passthru vbdev.

## Possible Solution
Aft

[2018-08-15 23:53] jimharris commented on #404
Hey @peluse - can you take a look at this one?

[2018-08-16 01:00] waelhalbawi commented on #404
Submitted a patch that provides a fix: https://review.gerrithub.io/c/spdk/spdk/+/422474

[2018-08-16 01:13] peluse commented on #404
Haha, I just pushed one also.  I'll comment on yours and if you agree and would like to update I'm happy to abandon mine. See https://review.gerrithub.io/#/c/spdk/spdk/+/422475

[2018-08-16 01:17] peluse commented on #404
Actually they're identical minus comments.  I'll go ahead and abandon mine, thanks for fixing your own reported issue!! Awesome!

[2018-08-16 04:26] waelhalbawi commented on #404
Thinking about the hot-removal scenario again. PT vbdev will be recreated as long as the underlying bdev has the same as in what's in `g_bdev_names` - no other checks are in place. This is not to say that the vbdev will have the wrong parameters, but I'm wondering whether the hot-removal scenario should be reconsidered.

[2018-08-16 04:32] lhoswdev commented on #346
Various patches are under review to support this enhancement.

[2018-08-16 06:33] pawelwod commented on #403
Can you check this issue on SPDK 18.07? What QEMU version you are using?

[2018-08-16 07:08] liang2yan opened #405 "SPDK iSCSI target doesn't support Vmware ESXi iSCSI initiator"
We found that Vmware ESXi iSCSI initiator can't connect to SPDK iSCSI Target.

## Steps to Reproduce
1. Setup Vmware ESXi iSCSI initiator env;
2. try to connect to SPDK iSCSI Target.

## Expected Behavior
connection success.

## Current Behavior
connection failed.

[2018-08-16 07:18] beef9999 opened #406 "spdk-18.07 release tarball + dpdk-18.05 release tarball = compiling failure"
Download both tarballs from github release site.

## Expected Behavior
Compiling OK

## Current Behavior
Compiling Failure

## Possible Solution
Makefile error, no -fPIC

## Steps to Reproduce
[code]

ERROR:

LINK app/iscsi_tgt/iscsi_tgt
/usr/bin/ld: /home/sankuai/rpmbuild/BUILD/spdk-18.07/dpdk/x86_64-native-linuxapp-gcc/lib/librte_eal.a(eal.o): relocation R_X86_64_32 against `.rodata.str1.1' can

[2018-08-16 08:14] liang2yan commented on #394
Issue fixed by the latest patch series. and patch series were merged.  So close this issue.

[2018-08-16 08:14] #394 closed

[2018-08-16 08:15] wanqunintel commented on #402
@jimharris , as i see the patch has been merged. Shall we add the tag for it for test?

[2018-08-16 08:28] beef9999 commented on #403
Looks like it is just a kernel bug.
I upgrade the guest OS kernel then it disappeared.

[2018-08-16 08:28] #403 closed

[2018-08-16 08:35] liang2yan commented on #374
@liupan1111 , the 394 issue was fixed. Can you try to make sure the crash also can't be reproduced in your env?

[2018-08-16 08:44] WenqianZong commented on #337
@benlwalker I use latest spdk to test this issue and find new asan log:
[code]
test step :
./app/nvmf_tgt/nvmf_tgt -s 2048 -m 0x1 &
./scripts/rpc.py construct_malloc_bdev 1024 512 -b Malloc
./scripts/rpc.py construct_nvmf_subsystem -s SPDK0 nqn.2014-08.org.spdk:cnode1 'trtype:RDMA traddr:ip trsvcid:port' '' -a -n "Malloc"
./examples/nvme/perf/perf -r 'trtype:RDMA adrfam:IPv4 traddr:ip trsvcid:port

[2018-08-16 09:03] darsto commented on #406
Since SPDK always builds a shared lib target, you have to compile DPDK as follows:
EXTRA_CFLAGS="-fPIC" make install T=x86_64-native-linuxapp-gcc

We can't really print a nice error message here, but we should definitely mention fPIC in READMEs.

[2018-08-16 16:46] tkulasek commented on #362
@liang2yan as for yours reproduction steps, you should to detach device after close and before attach, like in the step 3):
[code]
Second issue is after applying patch?

[2018-08-16 17:17] jimharris commented on #402
Yes - please retest.

Thanks!

[2018-08-16 18:01] ak-gh commented on #336
Hi guys,

the [patch in question](https://review.gerrithub.io/c/spdk/spdk/+/422180) has been submitted, with the hope that it will speed up the dynamic bdev management issues resolution. Looking forward to your comments.

Thanks,
Andrey

[2018-08-17 00:55] WenqianZong commented on #402
I test spdk latest version with dpdk18.08 . SPDK can be compiled successful with dpdk 18.08.

[2018-08-17 08:34] liang2yan commented on #405
We got log from target side. Please check it.
![ssssss](https://user-images.githubusercontent.com/29114155/44256238-2a39c780-a23b-11e8-96cb-228236e1714b.png)

[2018-08-17 13:57] wanghailiangx commented on #393
The memory is not completely released, there are mutiple malloc list, but only the last one is released. So I free all.
I submit a patch to fix it. https://review.gerrithub.io/#/c/spdk/spdk/+/422682/.

[2018-08-17 14:28] lhoswdev commented on #346
Done.   Merged into master, SHA1: e9424c7e1 on 20180817.

[2018-08-17 14:29] #346 closed

[2018-08-18 08:04] clicx opened #407 "nvme rdma transport reconnect issue"
nvme rdma transport seems not detect connection lost and recover connection.
It should complete all outstanding io with failed status after connection lost.

## Current Behavior

IO hangs forever. Completion callback function will never called.
## Possible Solution

Possible need to modify code, I need a suggestion to fix it.
## Steps to Reproduce

1. For example, use perf to testing a nvmf target

[2018-08-20 13:49] Maciej-Szwed commented on #407
Hello clicx,
One question: do you use SPDK nvmf_tgt application or do you implement your own application?
I've tried to reproduce this scenario using SPDK nvmf_tgt application and after I've pulled a cable the target application crashed. I'll investigate this.

[2018-08-20 23:25] jimharris commented on #404
Patch has been merged.  Thanks @waelhalbawi!

[2018-08-20 23:25] #404 closed

[2018-08-20 23:29] #402 closed

[2018-08-20 23:32] jimharris commented on #337
Hi @WenqianZong - should we file a different issue for the ASAN error?  It seems unrelated to the original failure reported by @pawelkax.

[2018-08-20 23:39] shuhei-matsumoto commented on #362
Hi @tkulasek @liang2yan ,

Thank you so much to test the patch. I've started to investigate the issues. Please wait for my update.

[2018-08-21 00:12] waelhalbawi commented on #404
Thanks, @jimharris! Any thoughts on my previous comment?

[2018-08-21 02:08] clicx commented on #407
I'm researching and testing with SPDK nvmf-tgt and nvme perf, the issue that I meet is on client side, possibly be nvme-rdma.c, it is used by nvme perf tool.

[2018-08-21 02:13] Comphix commented on #395
Have raised a patch https://review.gerrithub.io/#/c/spdk/spdk/+/422799/ and the previous hanging up and ASAN memory issue is no seen. The "ctrl+c" to kill the target can be successful.

However, even with this patch, there still has two small issues which require further patch to address.

1. The disconnect operation from the initiator side may take a little time (e.g., 1 minute) to execute for th

[2018-08-21 02:16] xuhuagen commented on #234
@shashankgugnani,now I tried with SPDK commit e8650a8 or latest commit b07d3bd2bdb4565894b33dc1a0ea7913d65e3a5b in target machine, run script test/blobfs/rocksdb/rocksdb.sh with nvmf in initiator machine, error occured, the log as below

[code]
this error is similar to issue245.

[2018-08-21 05:10] wanqunintel commented on #234
@jimharris , it seems this issue the same as this bug https://github.com/spdk/spdk/issues/245, shall we have someone look at it?

[2018-08-21 05:28] wanqunintel commented on #337
close this one and will raise a new issue

[2018-08-21 05:36] wanqunintel commented on #398
@Rakesh-Babu-Saladi did you click the button reply to commit to the gerrithub? it seems the commit message is still too long(can be split into to two lines).

[2018-08-21 06:00] wanqunintel commented on #397
@xuhuagen which commit do you use?

[2018-08-21 06:03] wanqunintel commented on #397
@optimistyzy do you have some command in detail so that huagen can verify more accurate? thank you.

[2018-08-21 06:27] wanqunintel commented on #406
@beef9999 you may try with @darsto's method to recompile DPDK and then SPDK. thank you.

[2018-08-21 06:30] beef9999 opened #408 "vhost core dump"
QEMU 2.12

Starting SPDK v18.07 / DPDK 18.05.0 initialization...
[ DPDK EAL parameters: vhost -c 0x1 -m 1024 --legacy-mem --file-prefix=spdk_pid24488 ]

SPDK 18.04 was OK, what did you change?

[code]

[code]

[2018-08-21 06:34] wanqunintel commented on #408
@beef9999 are you using vhost-scsi or vhost-blk?

[2018-08-21 06:45] beef9999 commented on #408
@wanqunintel vhost-scsi

[2018-08-21 06:52] pawelwod commented on #408
Pls post commit id and try building with debug options.

I assume you are using centos as host?

[2018-08-21 07:15] wanqunintel commented on #397
checked with Ziye and issue has been closed.

[2018-08-21 07:15] #397 closed

[2018-08-21 07:27] beef9999 commented on #408
@pawelwod
1. 18.07 release tarball
2. Updated with the detailed logs, see above
3. CentOS 7.5,  kernel 3.10.0-862

[2018-08-21 07:53] darsto commented on #408
This is DPDK 18.05 issue. As we wait for the DPDK 18.05.1 stable release, which should have it fixed, you might want to use our internal dpdk fork https://github.com/spdk/dpdk/tree/spdk-18.05. Note that SPDK includes that particular DPDK repo as a git submodule, so you could just do:

[code]

[2018-08-21 07:59] WenqianZong opened #409 "memory leaks occurred when kill nvmf-tgt"
## Expected Behavior
no error occurred when kill nvmf-tgt

## Current Behavior
memory leak happened after kill nvmf-tgt

## Steps to Reproduce

1./app/nvmf_tgt/nvmf_tgt -s 2048 -m 0x1 &
2./scripts/rpc.py construct_malloc_bdev 1024 512 -b Malloc
3./scripts/rpc.py construct_nvmf_subsystem -s SPDK0 nqn.2014-08.org.spdk:cnode1 'trtype:RDMA traddr:ip trsvcid:port' '' -a -n "Malloc"
4./examples/nvme/per

[2018-08-21 08:01] ChenWang01 commented on #408
I can produce this issue with SPDK 18.07 and DPDK 18.05 in our environment.
[code]
Detail steps:
[code]

[2018-08-21 08:03] darsto commented on #406
We no longer build shared libs by default, so the standard compilation should work just fine now.

The patch responsible:
https://review.gerrithub.io/c/spdk/spdk/+/422307/9 (Merged as 0923734 ): build: Conditionally builds single and separate shared libs

[2018-08-21 08:16] Maciej-Szwed commented on #407
I posted patch that fixes segfault that I saw:
https://review.gerrithub.io/#/c/spdk/spdk/+/422941
But I'm not sure if we see the same issue. Could you please retest with my patch applied?

[2018-08-21 11:33] liang2yan commented on #405
I have tried again. The SPDK iSCSI target reported that the VMware ESXi has login:
`iscsi.c:2032:spdk_iscsi_op_login_notify_session_info: *NOTICE*: Login from iqn.1998-01.com.vmware:waikikibeach3-019b6a5a (192.168.70.1) on iqn.2016-06.io.spdk:disk1 tgt_node1 (192.168.70.11:3260,1), ISID=23d000001, TSIH=1, CID=0, HeaderDigest=off, DataDigest=off`

But I can't find the disks in Vmware ESXi 6.5. I wi

[2018-08-21 12:11] #406 closed

[2018-08-21 14:15] #393 closed

[2018-08-21 14:18] jimharris commented on #404
Hi @waelhalbawi,

I don't think this is a problem.  The SPDK bdev system is setup such that the "old" PT vbdev is not removed until all open descriptors have been closed.  This means that if a "new" PT vbdev with the same name, but different parameters (blocklen, blockcnt, supported I/O types, etc.), is created later, the bdev will need to be opened again which will always trigger an evaluation of

[2018-08-21 14:18] #337 closed

[2018-08-22 06:06] liang2yan commented on #405
Please the log below:

[code]

[2018-08-22 06:36] ChenWang01 opened #410 "ASAN errors when using the CTRL+C to kill the NVMF target"
ASAN errors when using the CTRL+C to kill the NVMF target.
SPDK master branch with DPDK 18.02.2

## Expected Behavior
NVMF target can exit successfully.

## Current Behavior
[code]

## Steps to Reproduce
[code]

## Context (Environment including OS version, SPDK version, etc.)
OS: Fedora release 27 (Twenty Seven)
Linux version: 4.17.3-100.fc27.x86_64
gcc version: 7.3.1 20180303 (Red Hat 7.3.1-5) (

[2018-08-22 06:39] ChenWang01 commented on #410
The Nvmf target can exit successfully with the SPDK master branch and the default DPDK(git submodule update --init)

[2018-08-22 07:39] liang2yan opened #411 "nvmf target crashed if using large size Malloc bdev and specific fio job work"
## Steps to Reproduce
1. Get latest SPDK master codes and dpdk 18.02.  Configure SPDK using following command:
./configure --with-dpdk=(/path/to/dpdkdirectory/x86_64-native-linuxapp-gcc)  --with-rdma --enable-debug
2. use following content to be nvmf target config file:

[code]
3. run nvmf target using command as below:
`./app/nvmf_tgt/nvmf_tgt -c nvmf.conf -L all
`
4.  also get latest spdk master

[2018-08-22 07:45] Maciej-Szwed commented on #411
@liang2yan this patch should fix the issue:
https://review.gerrithub.io/c/spdk/spdk/+/422941
Could you please retest with this patch applied?

[2018-08-22 08:18] liang2yan commented on #411
@Maciej-Szwed , this issue still existed with this patch. But the coredump backtrace is different. I have got another two coredump.

[code]
[code]

[2018-08-22 08:29] liang2yan commented on #411
Another coredump:

[code]

[2018-08-22 09:16] wanghailiangx opened #412 "configure parameter not comfortable in NIGHTLY master test"
There is an error on fedora-02 and fedora-06 in NIGHTLY master test recently.
The logs are as follows:

08:15:53	# make -C /mnt/sdbdir/spdk clean
make: Entering directory '/mnt/sdbdir/spdk'
make: Leaving directory '/mnt/sdbdir/spdk'
 08:15:58	# cd /mnt/sdbdir/spdk
08:15:58	# ./configure --enable-debug --enable-werror --with-raid --enable-coverage --enable-ubsan --with-rdma --with-pmdk --with-fio=/

[2018-08-22 09:41] wanghailiangx opened #413 "inconsistent contents in www.spdk.io/doc"
If you open "http://www.spdk.io/doc/pages.html", you will find 3 inconformity in pages.

## Expected Behavior
There is a consistent one-to-one match between each catalog and each page.

## Current Behavior
1. repeated “Modules” in navigation bar on the left.
▼Modules
▼Tools
▼Experimental Tools
▼Modules

2. If click "Related Page" in upper navigation bar, you will see
▼Modules
NVMe Driver
I/OAT Dri

[2018-08-22 16:07] jimharris commented on #413
Thanks @wanghailiangx - good catch!

We have a page named "Modules", but Doxygen also uses "Modules" as a special auto-generated page.  I'll change our "Modules" to "Driver Modules" which should fix this issue.

-Jim

[2018-08-22 16:11] jimharris commented on #410
I think this is a known issue with DPDK upstream.  In our DPDK submodule, we have git commit d8fcc7a40 which fixes this memory leak.  Could you try applying this patch to DPDK 18.02.2 and see if it fixes this issue?

@ZiyeYang - could you submit this patch to DPDK upstream?  Then we will no longer need to maintain it in our submodule.

Thanks,

-Jim

[2018-08-22 16:28] vonnyfly commented on #262
Hi, I have the same issue when writing my own target with C++.
Which GCC options affects?
I have tried all, it still doesn't work.
[code]

[2018-08-22 18:15] jimharris commented on #413
https://review.gerrithub.io/#/c/spdk/spdk/+/423165/ has been merged.

[2018-08-22 20:09] jimharris commented on #412
https://review.gerrithub.io/c/spdk/spdk/+/423163 should fix this.

[2018-08-22 20:48] jimharris commented on #370
I am OK with the 421142 commit.  But I don't think changing the FirstBurstLength to 64KB is a good option - it results in a much higher memory footprint.  It's still not clear to me why I/O size > 64KB would affect the bandwidth limits.  Can you run some additional experiments, with default FirstBurstLength = 8KB?

1) Does this problem happen with reads also, or only writes?
2) Can you clarify exa

[2018-08-23 01:46] ChenWang01 commented on #410
I have applied patch https://review.gerrithub.io/c/spdk/dpdk/+/401667 (commit d8fcc7a40 ) to the DPDK 18.02.2 and this issue can't be reproduced.

[2018-08-23 04:31] wanqunintel commented on #412
@wanghailiangx , would you verify and update it?

[2018-08-23 04:42] wanqunintel commented on #407
@chenlo2x pls. verify this patch

[2018-08-23 04:48] wanqunintel commented on #400
@ChenWang01 would you check this is raid related or not? thanks.

[2018-08-23 04:50] Comphix commented on #370
For the Read from iSCSI initiator, it will also be affected by below negotiated parameter between iSCSI initiator and iSCSI target.

/*
SPDK iSCSI target currently only supports 64KB as the maximum data segment length
it can receive from initiators. Other values may work, but no guarantees.
*/
#define SPDK_ISCSI_MAX_RECV_DATA_SEGMENT_LENGTH 65536

The issue will occur when write size is bigger tha

[2018-08-23 04:52] #395 closed

[2018-08-23 04:56] Seth5141 commented on #390
@NiuYawei Please try the following commit 194b8ec which has been merged and I believe fixes this issue. We chose to run the program without a shared config file when running in single process mode. This allows us to avoid unlinking the files.

[2018-08-23 05:25] Comphix commented on #370
Talked with Ziye, maybe we need some hint here for the upper layer like iSCSI target to send some original I/O related information from initiator side to bdev layer which is a common layer so that the QoS can be managed more accurately.

[2018-08-23 05:34] NiuYawei commented on #390
Thank you, I believe the issue has been fixed from the code. We'll verify it on next SPDK update.

[2018-08-23 05:34] #390 closed

[2018-08-23 06:16] Tracy35 opened #414 "nvmf segfault when using a switch"
## Expected Behavior
Should not crash when there are RDMA disconnects

## Current Behavior
nvmf segfaults during RDMA disconnects

## Steps to Reproduce
1. Connect Target and Initiators (2 Initiatorfor heavy load) to a switch
2. Run IO for e.g. fio with 8K and 128Q Depth
3. Issue happens in less than 25min.

## Context (Environment including OS version, SPDK version, etc.)
SPDK Version - from mast

[2018-08-23 06:58] ChenWang01 commented on #400
@wanqunintel  I have rechecked this issue, i found it's my environment issue.
I Used another machines to run these cases. and it can't be reproduced.

[2018-08-23 07:04] pawelwod commented on #400
@ChenWang01 Can you share what was wrong with your machine? This kind of knowledge might help other users. Thanks.

[2018-08-23 07:56] liang2yan commented on #411
The nvmf target will crash every time with direct connection and loop back mode.  Before the coredump, following messages are printed:

[code]

[2018-08-23 08:28] ChenWang01 commented on #400
@pawelwod Sorry, I don't know what's the root cause in my machine, but the same issue appeared in our
 vagrant VM when run filesystem tests.

[2018-08-23 08:53] wanghailiangx commented on #412
I can't reproduce "cat: standard output: Permission denied" in my local server.
But I tried to set "umask 0402" with non root user, received similar "cannot create temp file for here-document: Permission denied".
"echo" can avoid the issue. The premise is that there is no quotation mark in the string.
After merging, if there is no error from NIGHTLY logs, we can close it.

[2018-08-23 09:02] noorshaheennoorudheen commented on #365
When I try with SPDK initiator on a single namespace I am able to get the same numbers as per the drive spec. Which say this could probably not a target issue.

One thing which I am not clear is the way SPDK initiator connects with the target as opposed to the kernel initiator. Kernel initiator connects with all the namespaces in the subsystem before we initiate the IO. Does SPDK initiator also co