[2020-10-16 07:09] ryderhsu0129 commented on #1600
it work when we include all DPDK libraries on Makefile

[2020-10-16 07:09] #1600 closed

[2020-10-16 07:49] zlsh007 opened #1627 "[test_name] Failure description"
hi all：
When I submitted a new patch in git push review, something happened:

suh@suh-virtual-machine:~/src/spdk/git/push/spdk$ git push review
warning: 重定向到 https://review.spdk.io/gerrit/spdk/spdk/
Running make with gcc ...
  CC lib/bdev/bdev.o
  LIB libspdk_sock.a
  CC lib/bdev/bdev_rpc.o
app.c: In function ‘spdk_app_parse_args’:
app.c:968:7: error: this statement may fall through [-Werror=impli

[2020-10-16 07:55] wawryk commented on #1613
Thanks @jimharris, this fix issue, but now, I have next:
[code]

[2020-10-16 08:46] shuhei-matsumoto commented on #1627
Hi @zlsh007

I think this is the one fixed by Jim very recently :) Please take a look at
https://github.com/spdk/spdk/commit/eecc14df1958049e4134ab0a01daa610a598a789.

[2020-10-16 09:18] mikeBashStuff commented on #1612
@Comphix I've managed to reproduce it on `33420`, `33590` and `33830` so far. Though, considering how Clearlinux's build-cadence works, these versions shouldn't differ that much really (e.g., the most notable difference I noticed between `33830` and the rest is that `gcc` was upgraded to `10.2.1`). If it helps, I can upload somewhere a vagrant box I build for `clearlinux` (or raw disk image as an

[2020-10-16 09:24] zlsh007 commented on #1627
@shuhei-matsumoto
Thanks, I didn't notice it :), it's okay now.

[2020-10-16 09:24] #1627 closed

[2020-10-16 09:30] mikeBashStuff commented on #1456
It looks like all these failures are coming from a single system, `GP8`. We had similar ones on the `fedora_phy_nightly_*` systems. Upgrading firmware on the nvme drives seemed to resolve the issue, maybe here said upgrade is needed as well.

[2020-10-16 11:38] spdkci commented on #1474
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_28388.html

[2020-10-16 15:08] jimharris commented on #1613
This warning message (clang-9: warning: argument unused during compilation) is a bug in the external_code/Makefile - that's easily fixed.

But for the linker errors - can you run "ldd build/lib/libspdk_event.so" and see what is shows?  I'd like to see if the dependencies are missing, or if they are there but for some reason the linker can't resolve them.

[2020-10-16 16:20] spdkci commented on #1495
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_28419.html

[2020-10-16 16:47] AlekseyMarchuk commented on #1569
I prepared a fix https://review.spdk.io/gerrit/c/spdk/spdk/+/4754

[2020-10-17 13:29] spdkci commented on #1533
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_28547.html

[2020-10-17 13:31] spdkci commented on #1533
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_28507.html

[2020-10-18 02:28] zlsh007 opened #1628 "Problems caused by the order of execution"
Hi all：
When the sampling period is set by spdk_bdev_set_qd_sampling_period, bdev_calculate_measured_queue_depth will be executed periodically. This function calls spdk_for_each_channel. In this function, ch->dev->for_each_count++ will be executed; and in the callback function _calculate_measured_qd, through the execution of sp->dev->for_each_count++; >for_each_count--operation. When our process e

[2020-10-18 09:48] jgrodman opened #1629 "Simultaneous reads and writes in NVMF causes initiator errors and poor performance"
## Expected Behavior

If I run 2 fio jobs, one of which is a read and one of which is a write, I encounter two issues: 1) The performance jumps around, from the wire speed to 0, and 2) I get io errors in fio. This occurs even if I run the 2 fio jobs from different initiators.
I also sometimes see the following errors in the tgt:
[code]

The following 2 files, which are both reads, can be run in pa

[2020-10-19 01:02] yidong0635 commented on #1612
Hi all,
My configure:
[code]

[code]
[code]
[code]

And
[code]

[2020-10-19 01:35] shuhei-matsumoto opened #1630 "[lvol_bg_autotest] bdev.c:1520:bdev_finish_unregister_bdevs_iter: *WARNING*: Unregistering claimed bdev"
This occurs always in one of the test system. This is not error but warning
Unclaiming the bdev before SPDK application shutdown is better to do.

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/28684/archive/lvol-vg-autotest/build.log

## Execution failed at

[code]

[2020-10-19 04:28] aohzju opened #1631 "Virtual address obtained by spdk_pci_device_map_bar causes segmentation fault"
I reported this issue some time ago in the community: https://lists.01.org/hyperkitty/list/spdk@lists.01.org/message/PKDUDNMZIW7ILNPO2WRWGDQJFKZXZ4JD/

I'd like to report it as bug here.

My NVMe device has MSI-X table at offset 0x2000 in BAR 0. I'd like to access that area from the host. So I used the function spdk_pci_device_map_bar to get the virtual address of BAR 0, then add the offset 0x2000

[2020-10-19 05:35] Comphix commented on #1612
Thanks @yidong0635 , just confirm that in your environment and with my patch, this issue is not reproduced? What's the different between your environment and Michal's? Thanks, Gang.

[2020-10-19 05:40] yidong0635 commented on #1612
I just  used the commit : 10f712bc99e472657555ab7e9d9f0565db528ae8
without applying patch to test autorun.sh.  I followed the Michal's description to update OS and GCC.
And I test several times, It's nothing reported related to the title .

[2020-10-19 05:54] jimharris commented on #1631
Hi,

What does size show after the spdk_pci_device_map_bar call?  And are you using uio or vfio?

[2020-10-19 06:55] spdkci commented on #1533
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_28769.html

[2020-10-19 07:20] wawryk commented on #1613
@jimharris
[code]

[2020-10-19 07:39] mikeBashStuff opened #1632 "blob_io_wait test failed"
https://ci.spdk.io/results/autotest-per-patch/builds/28455/archive/lvol-vg-autotest/build.log

Point of failure:
[code]

[2020-10-19 07:40] spdkci commented on #1632
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_28455.html

[2020-10-19 07:57] AlekseyMarchuk commented on #1613
I remember I met similar issue with SPDK shared libraries, but my scenario was rather specific - I had a custom library which is linked with spdk shared libraries, I ran spdk_tgt binary using LD_PRELOAD=custom library. I don't have logs with undefined references but I remember that some SPDK libraries used symbols defined in other SPDK libraries without linking them. That was easy to solve - just

[2020-10-19 08:45] spdkci commented on #1533
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_28782.html

[2020-10-19 08:46] yidong0635 commented on #1626
patch to check : https://review.spdk.io/gerrit/c/spdk/spdk/+/4761

[2020-10-19 09:38] tomzawadzki commented on #1495
On patch https://review.spdk.io/gerrit/c/spdk/spdk/+/4632/2 in unittest job https://ci.spdk.io/results/autotest-per-patch/builds/27992/archive/unittest-vg-autotest/index.html following files are missing:
[code]

[2020-10-19 13:15] spdkci commented on #1533
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_28778.html

[2020-10-19 13:31] aohzju commented on #1631
The size is correct (64K). I'm using vfio. It has no problem with uio.

[2020-10-19 15:00] jimharris commented on #1631
Hi @aohzju,

This behavior is dictated by the vfio-pci kernel driver itself.  vfio provides hooks to allow applications to register interrupt vectors.  So when PCI bars are mapped, it excludes the MSI-X table so that the application cannot interfere with the interrupt configuration.

I'm going to close this issue since it's not something SPDK can fix or modify.

-Jim

[2020-10-19 15:00] #1631 closed

[2020-10-19 15:03] jimharris commented on #1613
This ldd output doesn't look right.  We should see the dependencies listed in the spdk_event library.  @changpe1 - this is related to some of the other shared library stuff I'm working on - I'm going to take ownership of this one for now.

[2020-10-19 15:07] karlatec opened #1633 "NVMeOF-TCP: Failed to construct qpair"
## Current Behavior

Getting following error messages when using SPDK for NVMeOF-TCP connection:
[code]

I was reproduce the issue with my usual test setup (Target system with 16 subsystems, each with 1 NVMe attached) or with just 4 malloc bdevs instead of physical nvmes (just 1 malloc wasn't enough).

## Steps to Reproduce

1. Clone & build SPDK on target and initiator systems.
[code]
2. Run and

[2020-10-19 15:22] karlatec commented on #1633
@AlekseyMarchuk can you take a look? seems kind of similar to #1607

[2020-10-19 15:34] jingliu9 opened #1634 "spdk_nvme_ns_cmd_write_zeroes does not actually zero the device."
## Expected Behavior

use `spdk_nvme_ns_cmd_write_zeroes(0, 8); spdk_nvme_ns_cmd_write_zeroes(8,8); spdk_nvme_ns_cmd_write_zeroes(16, 8);` to erase the first three 4K blocks of the nvme devices. I expect when I read back by `spdk_nvme_ns_cmd_read`, it will be all zero.

## Current Behavior

However, from the second 4K block (lba start from 8) there is some byte not 0.

## Possible Solution

## Ste

[2020-10-19 15:40] jimharris commented on #1634
Hi @jingliu9,

Are you able to reproduce this with most recent SPDK release?

-Jim

[2020-10-19 16:33] AlekseyMarchuk commented on #1633
@karlatec sure, will check it

[2020-10-19 17:05] AlekseyMarchuk commented on #1633
@karlatec which OS and kernel do you use on initiator side? I'm trying to understand if it supports TCP zero copy

[2020-10-19 18:25] AlekseyMarchuk commented on #1633
Yeah, one more bug introduced by me) It happens when several qpairs are attached to a poll group. In my tests I used a single qpair per core. Could you try this fix https://review.spdk.io/gerrit/c/spdk/spdk/+/4768 ?

[2020-10-19 18:51] mhae opened #1635 "nvmf: race condition between _nvmf_ctrlr_destruct and nvmf_ctrlr_association_remove"
A long running hot plug test where the drive is under IO failed with the following core:

[code]

I also get the following log output:
[code]

From looking at the above log output, it seems that the ctrlr structure is already freed in _nvmf_ctrlr_destruct when nvmf_ctrlr_association_remove poller task is called. However, _nvmf_ctrlr_destruct does stop the poller for nvmf_ctrlr_association_remove .

[2020-10-19 20:11] jingliu9 commented on #1634
nvm.  the reason is that `spdk_nvme_get_flags` shows it does not support `WRITE_ZEROES` flag.
I haven't tried the latest spdk yet.

Initially, I simply run the test case (https://github.com/spdk/spdk/blob/f49fa23d9ad0c3f9bf05c9ff845918b4307ac230/test/unit/lib/nvme/nvme_ns_cmd.c/nvme_ns_cmd_ut.c#L543) and thought it was fine.

I'm wondering does this feature requires the support from SSD? CPU? or m

[2020-10-19 20:28] jimharris commented on #1634
Hi @jingliu9,

The SSD must support the WRITE_ZEROES command.

FYI - the SPDK identify tool (found under examples/nvme/identify in SPDK 18.01) will show whether or not your SSDs support it.

-Jim

[2020-10-19 20:28] #1634 closed

[2020-10-19 21:39] spdkci commented on #1533
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_28868.html

[2020-10-20 00:22] peluse opened #1636 "[ocf_persistent_metadata] ERROR: AddressSanitizer: SEGV on unknown address"
## Link to the failed CI build

## Execution failed at

[2020-10-20 01:05] yidong0635 commented on #1626
From the error reports that unregister_controller  was executed after unregister_worker,  ns-.>ctx was freed before using.
check the flow and other app, this app looks likely working as  single thread. And unregister_controller should be executed before
unregister_worker.

[2020-10-20 01:21] jimharris commented on #1636
Hey Paul,

Can you post some more info on this?  From the brief description this seems very similar to https://github.com/spdk/spdk/issues/1533.

-Jim

[2020-10-20 03:03] jiaqizho commented on #1629
hi ,
i tested in master.and can't reproduce your issue .

target:
[code]
initiator with the same fio config.
read and write is stable , and won't drop .

can you try newest spdk ?

[2020-10-20 06:08] karlatec commented on #1633
@AlekseyMarchuk  Forgot to mention it, sorry.
Target and initiator systems are Fedora 30 5.4.14-100.fc30.x86_64

[2020-10-20 07:28] yidong0635 commented on #1623
close this one, thanks!

[2020-10-20 07:28] #1623 closed

[2020-10-20 08:44] jiaqizho commented on #1599
@changpe1
sorry for just see this issue
queue depth can be add , i will submit a patch to enhancement iostat.

[2020-10-20 12:56] changpe1 commented on #1621
Patch has been merged, I'm going to close it now.

[2020-10-20 12:56] #1621 closed

[2020-10-20 12:59] yaojingen commented on #1622
This bug has been fixed of master. So, close it.

[2020-10-20 12:59] #1622 closed

[2020-10-20 13:23] tomzawadzki commented on #1490
Closing for now. @dashan8020 If it does happen on latest SPDK, please feel free to re-open this issue.

[2020-10-20 13:23] #1490 closed

[2020-10-20 13:27] #1596 closed

[2020-10-20 13:29] tomzawadzki commented on #1619
Closing since @karlatec noted it was temporary issue due to CI maintenance.

[2020-10-20 13:29] #1619 closed

[2020-10-20 13:35] tomzawadzki commented on #1583
Following patch was merged in the meantime https://review.spdk.io/gerrit/c/spdk/spdk/+/4001/ to allow update to DPDK 20.08.
This will be now reverted, since now submodule patch was merged.

[2020-10-20 13:48] changpe1 commented on #1583
Ah, I remembered this patch.

[2020-10-20 14:08] tomzawadzki commented on #1626
Patch fixing this issue is now merged https://review.spdk.io/gerrit/c/spdk/spdk/+/4761

[2020-10-20 14:08] #1626 closed

[2020-10-20 14:19] karlatec opened #1637 "[autotest-spdk-master-vs-dpdk-main]: No rule to make target librte_pmd_aesni_mb.so"
## Current Behavior

When building SPDK versus current DPDK main branch and having crypto and compress enabled there are fails related to shared libraries not being available. Full log [here in this file](https://github.com/spdk/spdk/files/5409270/spdk-vs-dpdkmain-crypto.log).
Does not reproduce with DPDK v20.08

## Possible Solution

Apparently some libraries were renamed somewhere after DPDK v20

[2020-10-20 14:34] karlatec opened #1638 "[autotest-spdk-master-vs-dpdk-v20.08] crypto: Reached maximum number of crypto devices"
## Current Behavior

When testing SPDK master branch vs DPDK v20.08 release crypto test fails with following error messages:
[code]

## Steps to Reproduce

1. Clone & build isa-l, intel-ipsec-mb and dpdk:
[code]

[code]

[code]
2. Build SPDK with crypto and compress enabled:
[code]
3. Run ./autotest.sh. Should fail with errors like mentioned in problem description.

## Context (Environment includi

[2020-10-20 14:41] spdkci commented on #1630
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_29034.html

[2020-10-20 15:01] karlatec commented on #1638
Also reproduces with DPDK ddfaa718b (main branch)

[2020-10-20 15:04] tomzawadzki commented on #1633
[Bug scrub] @karlatec The patch passes the CI, please verify it in your scenario too.

[2020-10-20 15:10] tomzawadzki commented on #1612
[Bug scrub] @mikeBashStuff Just to clear up, does the failure occur with 100% reproduction ?

[2020-10-20 15:11] spdkci commented on #1495
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_29010.html

[2020-10-20 15:13] tomzawadzki commented on #1424
Thanks !

[2020-10-20 15:13] #1424 closed

[2020-10-20 15:16] tomzawadzki commented on #1616
[Bug scrub] This looks like an issue with the kernel in CentOS 7, since CentOS 8.2 work.

[2020-10-20 15:16] #1616 closed

[2020-10-20 15:18] tomzawadzki commented on #1456
[Bug scrub] @karlatec Please take a look at `GP8` and possibly upgrade the firmware on the nvme drives to resolve it. Making sure that the fw ver aligns between all physical test hosts.

[2020-10-20 15:22] tomzawadzki commented on #1495
[Bug scrub] @karlatec Let's add verification mechanism after moving artifacts to AWS to make sure all are present.

[2020-10-20 16:38] karlatec commented on #1456
Updated GP8 for now. Other test systems seem to have proper FW version, but I'll double check later when CI is less busy. I'll post an update.

[2020-10-20 16:48] tomzawadzki commented on #1583
This issue can be closed after patch https://review.spdk.io/gerrit/c/spdk/spdk/+/4783/ is merged

[2020-10-20 17:54] spdkci commented on #1474
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_29064.html

[2020-10-20 18:11] jimharris opened #1639 "Vagrant VM startup failure (libvirt)"
Failure log shows:

00:00:31.690  ==> default:     -> value=-drive,
00:00:31.690  ==> default:     -> value=format=raw,file=/var/lib/libvirt/images/backends/ex0-nvme-zero.img,if=none,id=nvme-2,
00:00:31.690  ==> default:     -> value=-device,
00:00:31.690  ==> default:     -> value=nvme,drive=nvme-2,serial=12342,namespaces=0,
00:00:31.691  ==> default:     -> value=-drive,
00:00:31.691  ==> defaul

[2020-10-20 18:12] spdkci commented on #1639
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_29074.html

[2020-10-20 18:13] jimharris commented on #1639
It seems these failures are all occurring on VM-host-WFP1.

[2020-10-20 18:14] spdkci commented on #1639
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_29075.html

[2020-10-20 18:15] spdkci commented on #1639
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_29066.html

[2020-10-20 18:20] spdkci commented on #1639
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_29060.html

[2020-10-20 18:59] spdkci commented on #1639
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_29081.html

[2020-10-20 19:43] mikeBashStuff commented on #1612
@tomzawadzki Yes, at least on the clearlinux builds I am working on (i.e. the ones built under our packer work).

[2020-10-20 19:44] spdkci commented on #1639
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_29085.html

[2020-10-20 23:12] spdkci commented on #1533
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_29098.html

[2020-10-20 23:13] peluse commented on #1636
Hmm, why didn't my false positive comment  link my failed CI issue to this I wonder? Here is the full log:
https://ci.spdk.io/public_build/autotest-per-patch_28462.html
 I'll go look at 1533

[2020-10-20 23:42] peluse commented on #1636
likely dup of 1533

[2020-10-20 23:42] #1636 closed

[2020-10-21 02:22] jimharris commented on #1613
Could you try https://review.spdk.io/gerrit/c/spdk/spdk/+/4796?

This is really interesting - this external_code/test_make.sh script failed on my system too, just using the system gcc 9.3 (Ubuntu 20.04 VM).  The failure signature is a bit different, but fails on the same test case (tc3).  This patch fixes the problem on my system.

[2020-10-21 05:29] spdkci commented on #1639
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_29058.html

[2020-10-21 05:33] Maciej-Szwed opened #1640 "[vhost_boot] Test failed with 'No bootable device.'"
https://ci.spdk.io/results/autotest-per-patch/builds/29005/archive/vhost-autotest/build.log

00:07:11.346  Searching bootorder for: /pci@i0cf8/*@3
00:07:11.346  Searching bootorder for: /rom@genroms/kvmvapic.bin
00:07:11.346  Searching bootorder for: HALT
00:07:11.346  drive 0x000e8e20: PCHS=0/0/0 translation=lba LCHS=1024/255/63 s=40960000
00:07:11.346  Running option rom at cb00:0003
00:07:11.34

[2020-10-21 05:36] spdkci commented on #1640
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_29005.html

[2020-10-21 05:46] spdkci commented on #1639
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_29067.html

[2020-10-21 06:55] spdkci commented on #1640
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_29146.html

[2020-10-21 08:05] spdkci commented on #1639
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_29080.html

[2020-10-21 08:19] spdkci commented on #1632
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_29088.html

[2020-10-21 14:37] peluse commented on #1638
@karlatec I'm not having any luck getting this to build, is there a machine I can ssh into?  I did look at the changes between 20.08 and what we're using now and there aren't any other than one mason file which I don't see a connection to this issue but if you want to try and replace your failing config with this file from our current DPDK and try it that'd be great. dpdk/drivers/crypto/qat/meson.

[2020-10-21 22:33] jimharris commented on #1605
After further discussion on the DPDK and SPDK mailing lists, this behavior is as expected.

The PCI whitelist refers to the specific device at the BDF when the application starts.  It does not apply to other devices that may occupy that same BDF at a later point.  BDFs can also change for a given physical PCIe slot based on any number of factors.

The use case here was to have multiple independent

[2020-10-21 22:33] #1605 closed

[2020-10-21 22:36] jimharris commented on #1554
Changing this to an enhancement request.  As @tomzawadzki mentioned, I'm working on changes to make it easier for external applications to link in the correct libraries in this types of situations.  I'd expect that to land for the v21.01 release (January 2021).

[2020-10-21 22:43] jimharris commented on #1423
Hi @mhae,

Catching up on the this issue.  Are you saying that your patch above works, if you add in a check for PCIe transport type?  If so, I think the patch you have there just needs to be cleaned up and sent out for review.  I'd suggest returning -ECANCELED instead of -EIO though.  I think this error case more closely matches an spdk_nvme_qpair_process_completions() failure which usually happe

[2020-10-21 22:44] mhae commented on #1423
Hi Jim, I can do it tomorrow. It’s simple enough (-;

[2020-10-22 07:33] wawryk commented on #1613
This fix problem on my fedora31 with clang too, but have next errors:
[code]
and
[code]

[2020-10-22 07:37] tomzawadzki opened #1641 "[artifacts] Empty artifacts"
Some of the builds contain empty artifacts.

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_29225.html

## Execution failed at
Looking at Jenkins side, the logs are empty because tests in job has not yet started.
1) Failures before starting the tests should be clearly reported in the CI output, as to not confuse submitters. For the most cases re-triggering such

[2020-10-22 07:40] tomzawadzki commented on #1641
Patches were rebased while creating this issue so will report here manually, rather than via bot:
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/4809 Log https://ci.spdk.io/public_build/autotest-per-patch_29225.html
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/4816/ Log https://ci.spdk.io/public_build/autotest-per-patch_29228.html

[2020-10-22 08:44] tomzawadzki opened #1642 "[coverage] Coverage is out sync with patch under test"
Coverage reports are out of sync with source code that is being tested. Verifying couple random patches I couldn't find instance where that is not the case.

## Link to the failed CI build

Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/4684/
CI log https://ci.spdk.io/public_build/autotest-per-patch_29238.html
Coverage https://ci.spdk.io/assets/html/untar.html?file=../../results/autotest-per-pa

[2020-10-22 09:50] karlatec commented on #1638
@peluse I'll try this, thanks!

[2020-10-22 12:19] wawryk opened #1643 "Fail during git clone - Could not resolve proxy"
## Link to the failed CI build

[https://ci.spdk.io/results/autotest-per-patch/builds/29295/archive/iscsi-uring-vg-autotest/build.log](https://ci.spdk.io/results/autotest-per-patch/builds/29295/archive/iscsi-uring-vg-autotest/build.log
)

## Execution failed at

[code]

[2020-10-22 12:19] spdkci commented on #1643
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_29295.html

[2020-10-22 12:20] Maciej-Szwed commented on #1640
It looks like real issue with my patch, not intermittent failure. Closing.

[2020-10-22 12:20] #1640 closed

[2020-10-22 14:48] karlatec commented on #1638
Thanks for suggestion @peluse! This worked for DPDK v20.08, but I still see the same problem with DPDK main, even after replacing meson.build file

[2020-10-22 15:04] peluse commented on #1638
@karlatec well that's interesting.  That *might* be a decent workaround, we don't and likely will never use asym crypto so I guess I assume that by including these in the build device allocation is limited somehow. I can followup with the crypto folks.  In the meantime, when you say "DPDK main" do you mean DPDK repo master?

[2020-10-22 15:08] karlatec commented on #1638
Yup.

Please do :)

I'm just looking at our dpdk/drivers/common/qat/meson.build file too, and it's pretty different, so I guess I'll give it a go too.

[2020-10-22 15:38] karlatec commented on #1638
I think I got it: https://review.spdk.io/gerrit/c/spdk/spdk/+/4828
Waiting for the nightly tests to finish testing

[2020-10-22 15:54] peluse commented on #1638
NICE!  I'll let you close once the patch is in and working

[2020-10-22 15:55] karlatec commented on #1638
Any chance you could review the patch? Including the "git am" patches done in autobuild.sh script? Thanks!:)

[2020-10-22 15:57] peluse commented on #1638
reviewed that one, will take a lok at the others too a bit later

[2020-10-22 16:06] karlatec commented on #1633
I noticed that proposed fix was already merged so I retested today with SPDK dc45a73d9e01fed927b773099760c564fc2e385d

I was going to close the issue, because I could not reproduce it with the steps I initially provided.
However I noticed that one of our TCP perf regression tests failed with following errors:
[code]

This reproduced on a setup with 16 nvmes/subsystems connected to a single initiat

[2020-10-22 16:27] karlatec commented on #1633
FYI: reproduced again, this time basically with the same errors as in original issue description. Pulled fresh SPDK 1e8fac45ecdea3abe7193a7cb0774067c0353a39
[code]

[2020-10-23 00:34] spdkci commented on #1639
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_29362.html

[2020-10-23 00:58] spdkci commented on #1643
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_29298.html

[2020-10-23 01:12] yidong0635 commented on #1625
Issues can be reproduce on  clearlinux-33840
patch serials for spdk : https://review.spdk.io/gerrit/c/spdk/spdk/+/4825

[2020-10-23 02:37] jiaqizho opened #1644 "[CI]There was an error talking to Libvirt."
## Link to the failed CI build

https://review.spdk.io/gerrit/c/spdk/spdk/+/4818
https://ci.spdk.io/results/autotest-per-patch/builds/29391/archive/unittest-vg-autotest/build.log

## Execution failed at

00:00:33.257  There was an error talking to Libvirt. The error message is shown
00:00:33.257  below:
00:00:33.257
00:00:33.257  Call to virDomainCreateWithFlags failed: internal error: process exi

[2020-10-23 03:27] jimharris commented on #1644
Hi Jiaqi,

I think this is a duplicate of 1639. Can you check?

Thanks,

Jim

[2020-10-23 04:43] spdkci commented on #1639
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_29394.html

[2020-10-23 04:46] spdkci commented on #1639
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_29387.html

[2020-10-23 04:46] spdkci commented on #1639
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_29390.html

[2020-10-23 04:57] jiaqizho commented on #1644
duplicate , closed this

[2020-10-23 04:57] #1644 closed

[2020-10-23 05:37] spdkci commented on #1639
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_29408.html

[2020-10-23 05:44] glodfish-zg opened #1645 "freebsd-vg-autotest(SSH library)"
Failure log:

00:03:25.180  + vagrant ssh -c 'git -C /home/vagrant/spdk_repo/spdk reset --hard'
00:03:43.999  Handy bash(1) prompt:  PS1="\u@\h \w \!$ "
00:03:43.999  		-- David Scheidt <dscheidt@tumbolia.com>
00:03:44.339  HEAD is now at 5bbc1617f bdev: fix md_buf split issue
00:03:44.413  + [[ -f /var/jenkins/workspace/freebsd-vg-autotest/autorun-spdk.conf ]]
00:03:44.413  + vagrant upload /var/

[2020-10-23 05:45] spdkci commented on #1645
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_29278.html

[2020-10-23 05:46] spdkci commented on #1645
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_29410.html

[2020-10-23 06:27] AlekseyMarchuk commented on #1633
@karlatec I'm working on it. Could you share the full configuration?

[2020-10-23 06:41] karlatec commented on #1633
In this test it's 1 Target system connected back to back with 1 Initiator system using both ports of Mellanox NIC.

Target system:
[code]

Initiator system:
[code]

Target Configuration:
[code]

[2020-10-23 08:43] AlekseyMarchuk opened #1646 "[freebsd-vg-autotes] SSH timeout"
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_29327.html

## Execution failed at

[code]

Might be duplicate of #1645 but logs are different

[2020-10-23 08:44] spdkci commented on #1646
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_29327.html

[2020-10-23 08:57] AlekseyMarchuk commented on #1633
@karlatec the errors are a bit different from the original issue, the last output contains this line
`[2020-10-22 18:21:45.968268] nvme_qpair.c: 716:spdk_nvme_qpair_process_completions: *ERROR*: CQ error, abort requests after transport retry counter exceeded`.

I'm trying to reproduce it using 1 port since right now I don't have hosts which support TCP zcopy and connected with 2 ports. With 1 port

[2020-10-23 09:36] mikeBashStuff commented on #1646
Duplicate of #1645 - the error log is the same. Fortune cookies are spamming the log though so it may look a bit different. These will be disabled in a newer image we built for freebsd.

[2020-10-23 09:49] spdkci commented on #1646
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_29436.html

[2020-10-23 10:36] AlekseyMarchuk commented on #1633
Still can't reproduce, tried about 15 times. I guess that the line I posted in the previous comment might point to network issue. Trying to reproduce

[2020-10-23 10:44] spdkci commented on #1645
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_29426.html

[2020-10-23 11:44] AlekseyMarchuk commented on #1646
@mikeBashStuff thanks, I'm closing this issue

[2020-10-23 11:44] #1646 closed

[2020-10-23 11:45] spdkci commented on #1645
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_29382.html

[2020-10-23 12:17] karlatec commented on #1633
@AlekseyMarchuk Interestingly I cannot reproduce this today. The only error warning I get when running the initiator is:
[code]

[2020-10-23 13:13] spdkci commented on #1645
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_29446.html

[2020-10-23 13:23] AlekseyMarchuk commented on #1633
It is strange but now I also see the same logs. Working on it.
[code]

[2020-10-23 14:45] spdkci commented on #1639
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_29420.html

[2020-10-23 14:47] spdkci commented on #1639
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_29424.html

[2020-10-23 15:33] AlekseyMarchuk commented on #1633
I see some incorrect (from fio point of view) qpair initialization. In your config you set iodepth=192, we receive this value in `spdk_fio_init_thread` function. But we have no way to configure queue depth of nvme queue using bdev interface.
So in TCP transport we allocate 128 requests and  that means that we always have some requests queued on nvme layer. We allocate 128 requests because it is de

[2020-10-23 15:42] jimharris commented on #1633
good analysis @AlekseyMarchuk

This resubmit_requests function was written with the PCIe transport in mind.  It did not consider the case where an I/O is completed back to the user, but the associated transport-level resource cannot be freed until later.  We put the ERRLOG here because at least in the PCIe transport case, we should always be able to resubmit as many as were just completed.

I thin

[2020-10-23 16:09] spdkci commented on #1645
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_29492.html

[2020-10-23 18:03] benlwalker commented on #1635
I don't consider this patch a full "fix", but it probably does make it impossible to reproduce the bug: https://review.spdk.io/gerrit/c/spdk/spdk/+/4814

[2020-10-23 18:15] jimharris commented on #1613
Can you try https://review.spdk.io/gerrit/c/spdk/spdk/+/4860?

This is based on top of the 4796 patch.

[2020-10-23 19:18] jimharris opened #1647 "[bdev_verify] bdevperf data verification error"
00:06:14.975  ************************************
00:06:14.975  START TEST bdev_verify
00:06:14.975  ************************************
00:06:14.975   18:54:00	# xtrace_enable
00:06:14.975   18:54:00	# /home/vagrant/spdk_repo/spdk/test/bdev/bdevperf/bdevperf --json /home/vagrant/spdk_repo/spdk/test/bdev/bdev.json -q 128 -o 4096 -w verify -t 5 -C -m 0x3
00:06:15.024  [2020-10-23 18:54:00.868345]

[2020-10-23 19:22] jimharris commented on #1647
First two failures are both on VM-host-PE3

[2020-10-23 19:22] spdkci commented on #1647
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_29517.html

[2020-10-23 22:00] jimharris commented on #1574
This scan_pci_bus() code is needed to avoid race conditions between the nvme initialization and some of the in-kernel device handling for newly inserted devices.  (Tagging @mhae just as an FYI on this.)

We don't have a way currently to know whether a newly found device is truly a new device, or one that was just previously detached and we are now enumerating again.  For the newly inserted devices

[2020-10-23 22:42] tomzawadzki opened #1648 "[build_queue] Patches run through CI multiple times"
Some of the builds occur twice for the same patch set.

## Link to the failed CI build

Patch set 12 twice
https://review.spdk.io/gerrit/c/spdk/spdk/+/4338/

[2020-10-26 01:52] jiaqizho opened #1649 "[ubuntu16-vg-autotest] no build log"
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_29435.html
https://ci.spdk.io/results/autotest-per-patch/builds/29435/archive/ubuntu16-vg-autotest/index.html
## Execution failed at

no build output ...

[2020-10-26 03:02] jiaqizho commented on #1599
please follow this patch set(no merge yet): https://review.spdk.io/gerrit/c/spdk/spdk/+/4847

closed this issue .

[2020-10-26 04:19] yidong0635 opened #1650 "spdk compiles with warnings and error"
# Issue
thread.c: In function ‘msg_queue_run_batch’:
thread.c:523:3: warning: ignoring return value of ‘read’, declared with attribute warn_unused_result [-Wunused-result]
   read(thread->msg_fd, &notify, sizeof(notify));
   ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
thread.c:528:3: warning: ignoring return value of ‘write’, declared with attribute warn_unused_result [-Wunused-result]
   write(

[2020-10-26 05:18] optimistyzy commented on #1650
@dong-liuliu It is brought by your new interrupt patch. Can you check this?

[2020-10-26 06:30] spdkci commented on #1645
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_29536.html

[2020-10-26 07:25] wanqunintel opened #1651 "[spdk rdma]nvmf tgt transport retry counter exceeded when QD=16 with 32 nullbdev using fioplugin spdk bdev"
nvmf tgt transport retry counter exceeded when QD=16 with 32 nullbdev using fioplugin spdk bdev, with Mellanox ConnectX 5 NIC

## Expected Behavior
Test pass

## Current Behavior
Test failed

## Possible Solution
N/A

## Steps to Reproduce
Tgt:
**#./spdk/build/bin/nvmf_tgt -m 0x1F --json nvmf_tgt_full_speed.json**
failed log as follows
state 1 ibv_state 6) request 0x140642870038424, type SEND, sta

[2020-10-26 07:30] wawryk commented on #1613
there is one error like before:
[code]

[2020-10-26 08:16] dong-liuliu commented on #1650
Ack.
Thanks for you notice, @yidong0635 & @optimistyzy
Fixed warnings caused by thread's interrupt code at https://review.spdk.io/gerrit/c/spdk/spdk/+/4869

[2020-10-26 08:23] karlatec opened #1652 "[autotest-nightly] compilation errors for package build"
## Current Behavior

Compilation error when building SPDK package build. Discovered in nightly builds because we don't have a packaging build test in per-patch (yet; I will create a patch for that in a couple of minutes).

Failures in multiple builds:
https://ci.spdk.io/public_build/autotest-nightly_1613.html

## Steps to Reproduce

1. Build SPDK with configure options:
[code]

## Context (Environ

[2020-10-26 08:33] changpe1 commented on #1652
duplicate with issue #1650, here is the fix.

[2020-10-26 08:33] yidong0635 commented on #1650
thanks  xiaodong, fixes your warnings.

@Maciej-Szwed  there's  including file error. why not put it into lib/env_dpdk ?
[code]

[2020-10-26 08:39] karlatec commented on #1652
Duplicate of #1650

[2020-10-26 08:39] #1652 closed

[2020-10-26 09:05] AlekseyMarchuk commented on #1651
Hi @wanqunintel could you share your configuration files mentioned in the description? nvmf_tgt_full_speed.json and fio_plugin_randread_qd128.job

[2020-10-26 09:14] #1557 closed

[2020-10-26 09:58] beef9999 opened #1653 "partition failed"
### OS:
CentOS 7

### Version:
v20.10.x

### Cmds:
./build/bin/spdk_tgt
./scripts/rpc.py bdev_nvme_attach_controller -b Nvme0 -t PCIe -a 0000:3b:00.0
./scripts/rpc.py nbd_start_disk Nvme0n1 /dev/nbd0
\# Use `parted` cmd to create the 1st GPT partition

### Output:
`lsblk` won't show a successful partition

### Questions:
1. Why no partitions could be seen immediately?
2. Will SPDK automatically cr

[2020-10-26 10:17] mikeBashStuff commented on #1612
Ok, I run some additional tests and here are my findings:

I deployed the very same Clearlinux VM on a bit different system (hardware-wise, and distro-wise) and, to my surprise, issue was gone - I run the VM with the qemu shipped with the new distro (3.0.1, Fedora29), issue didn't appear. Then I compiled 3.1.0 qemu with series of debian patches (51) to align it with the one from original system I

[2020-10-26 10:17] #1612 closed

[2020-10-26 14:09] tomzawadzki commented on #1653
Hi @beef9999

1. Why no partitions could be seen immediately?
Have you made sure that nbd module is loaded (`modprobe nbd`) ?
Does `nbd_start_disk` RPC return success ?
Are there any errors in `spdk_tgt` output ?

2. Will SPDK automatically create a GPT partition table for me when using bdev_split_create ?
[Split bdev](https://spdk.io/doc/bdev.html#bdev_ug_split) does not use GPT. No data for spli

[2020-10-26 14:21] beef9999 commented on #1653
@tomzawadzki
`nbd_start_disk` was succeeded because I could see /dev/nbd0 by `lsblk` in the first place.
But I didn't see the next /dev/nbd0p1 after making partition with `parted`

[2020-10-26 14:28] beef9999 commented on #1653
As to how to recreate split bdev, is JSON the only supported config format? What about the plain text configure file?

[2020-10-26 14:34] rorschach01 opened #1654 "About db_bench and rocksdb compilation"
I found that spdk has updated the version in the past two days, which fixed the rpc creation problem of blobfs and the configuration of json_config in /test/blobfs/mkfs, but I still found some problems when using it, mainly including two problems:
1. For the recently updated 21.01 spdk, when compiling spdk/rocksdb, there will be an error of repeated definition of the function. When I delete "SPDK_

[2020-10-26 14:47] jimharris commented on #1599
Re-opening issue.  We should not close the issue until patches are merged.

[2020-10-26 14:49] mhae commented on #1635
Had some more instances of this issue and it seems unrelated to the toggle in the reserved CC bits.

[2020-10-26 15:15] dong-liuliu commented on #1654
hi, @rorschach01
For question 1, yes, You are right, the extra blobfs_bdev should be removed from spdk.rocksdb.mk.

For question 2, seems you are running 2 SPDK processes.
I don't think 2 SPDK processes could share Bdev information. So you should shutdown your first spdk_tgt app, then run your rocksdb app.
Note: if you have done "blobfs_create " on one bdev in spdk_tgt, that means it is not requir

[2020-10-26 15:27] gwnet commented on #1599
@jiaqizho thank you so much, buddy, I have one private branch, I will merge this patch to enable more qd dumping. 👍

[2020-10-26 15:29] dong-liuliu commented on #1654
In spdk.rocksdb.mk, it uses SPDK_LIB_LINKER_ARGS which will lead to ALL_MODULES_LIST and BLOCKDEV_MODULES_LIST.
Since blobfs_bdev lib is already added into BLOCKDEV_MODULES_LIST, so blobfs_bdev  shouldn't be included in spdk.rocksdb.mk. Fixed it at https://review.spdk.io/gerrit/c/spdk/spdk/+/4876

It is strange that our CI didn't report error on building db_bench.

[2020-10-26 15:48] karlatec commented on #1649
Duplicate of #1495, closing

[2020-10-26 15:48] #1649 closed

[2020-10-26 16:03] karlatec commented on #1637
Fixed by: https://review.spdk.io/gerrit/c/spdk/spdk/+/4780

Closing

[2020-10-26 16:03] #1637 closed

[2020-10-26 16:04] karlatec commented on #1638
Fixed by: https://review.spdk.io/gerrit/c/spdk/spdk/+/4828
closing

[2020-10-26 16:04] #1638 closed

[2020-10-26 20:52] jimharris commented on #1613
Sorry @wawryk, I missed that one.  I've updated that same patch.  Could you retest?

[2020-10-26 21:54] jimharris commented on #1650
Patch has been merged.

@yidong0635 - I think you forgot to update your DPDK submodule and then make clean and rebuild DPDK - that will get you the rte_power.h header file installed correctly

Closing issue, but @yidong0635 please confirm that updating the DPDK submodule fixed the complication error

[2020-10-26 21:54] #1650 closed

[2020-10-27 00:49] wanqunintel commented on #1651
fio_plugin_randread_qd16.job file
[global]
ioengine=/spdk/build/fio/spdk_bdev
spdk_json_conf=spdk_bdev.json
ramp_time=10
runtime=100
numjobs=32
iodepth=16
thread=1
group_reporting=1
direct=1
norandommap=1
time_based=1
filename=Nvme0n1
filename=Nvme0n2
filename=Nvme0n3
filename=Nvme0n4
filename=Nvme0n5
filename=Nvme0n6
filename=Nvme0n7
filename=Nvme0n8
filename=Nvme0n9
filename=Nvme0n10
filename=Nv

[2020-10-27 00:50] wanqunintel commented on #1651
[nvmf_tgt_full_speed.log](https://github.com/spdk/spdk/files/5442241/nvmf_tgt_full_speed.log)

[2020-10-27 01:55] optimistyzy commented on #1653
When a new bdev is created to be used, there will be some bdevs to check whether there are format (e.g., GPT, blobstore). I am thinking these are the checking format info printed in GPT.  Because you firstly formated the disk into GPT, then you use split. However the split operation does not change anything in the disk. So the GPT info in the disk may still be exist (in the first split bdev).

[2020-10-27 02:02] yidong0635 commented on #1650
@jimharris  oh, I forgot to `git submodule update --init`.  Verifed, every thing is ok now,

[2020-10-27 02:05] optimistyzy commented on #1647
@jimharris

"128 -o 4096 -w verify -t 5 -C -m 0x3". Not sure in verification mode, we can use multiple cores.  Because I see the following info:

Thread name: Nvme0n1_1
00:06:20.739
Core Mask: 0x1
00:06:20.739
Nvme0n1 : inf IOPS inf MiB/s
00:06:20.739
: -nan Fail/s -nan TO/s
00:06:20.739
Thread name: Nvme0n1_2
00:06:20.739
Core Mask: 0x2

Does it mean that NVMe0n1 is operating by two different CPU

[2020-10-27 02:23] optimistyzy commented on #1633
For the error message, I know this issue. Because we previously have this. The reason is that the underlying implemented reported more entries, but actually it does not have so many. And due the async execution mode, it will be also difficult to report the actual slots to the uplayer. Removing the print issue, will not cause any execution of the commands, because the up layer (I mean the nvme gene

[2020-10-27 05:48] AlekseyMarchuk commented on #1651
@wanqunintel
My first assumption is that there is not enough transport buffer in NVMEoF RDMA target. By default SPDK allocates 4096 buffers which are shared across all system threads. But according to your initiator configuration, you connect to a subsystem with 32 namespaces, run fio on 32 threads with queue depth = 16. it will produce about 32 * 32 * 16 = 16 384 requests inflight which is 4 time

[2020-10-27 05:52] spdkci commented on #1641
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_29635.html

[2020-10-27 06:01] AlekseyMarchuk opened #1655 "[vhost-autotest] Build timeout - Error: The location 10GB is outside of the device /dev/sda."
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_29639.html

## Execution failed at

[code]

[2020-10-27 06:02] spdkci commented on #1655
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_29639.html

[2020-10-27 06:36] #1653 closed

[2020-10-27 08:07] spdkci commented on #1495
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_29624.html

[2020-10-27 09:11] wawryk commented on #1613
Next part of fails in this case:
[code]

[2020-10-27 09:17] spdkci commented on #1533
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_29651.html

[2020-10-27 09:46] zlsh007 opened #1656 "Does the vhost user blk device use the virtio 1.0 protocol?"
I use a centos 6.8 virtual machine [kernel version 2.6.x]. After the vhost user blk device is configured, the virtual machine cannot be started. After removing the device, it starts normally. When I upgraded the kernel of this virtual machine to 3.10.x, there was no problem so.

I checked the differences in some directories of the two different versions of the kernel：
`cat /usr/src/kernels/2.6.32-

[2020-10-27 11:38] spdkci commented on #1643
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_29671.html

[2020-10-27 13:28] mikeBashStuff commented on #1625
Confirmed on my end, the above warnings are gone (tested against the latest master).

[2020-10-27 13:28] #1625 closed

[2020-10-27 13:45] #1583 closed

[2020-10-27 13:54] jimharris commented on #863
The PoC patch above was on GerritHub - I've rebased this on top of the SPDK 20.08 branch and pushed to our SPDK gerrit instance.  https://review.spdk.io/gerrit/c/spdk/dpdk/+/4917

[2020-10-27 13:57] peluse commented on #1647
It didn't used to support verify w/multi-core but it should now.  See bdevperf_construct_job() where jobs w/multiple cores are assigned their own LBA ranges to operate on.  This was pretty heavily tested when I added it however there's been a ton of refactoring since then so it's entirely possible something was introduced.  Lets talk in bug scrub, I can probably take this one

[2020-10-27 14:18] mikeBashStuff commented on #1632
Haven't seen this for almost a week now, closing (will reopen if it resurfaces again).

[2020-10-27 14:18] #1632 closed

[2020-10-27 14:58] tomzawadzki opened #1657 "[blob_io_wait] bs_load_used_pages_cpl: Assertion `ctx->mask->length == ctx->super->md_len' failed."
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_29644.html

## Execution failed at

Failure occurs in blob_io_wait test:
[code]

[2020-10-27 14:58] spdkci commented on #1657
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_29644.html

[2020-10-27 15:14] tomzawadzki commented on #1633
[Bug scrub] @karlatec reproduces the issue when the base device is NVMe. Could @AlekseyMarchuk take a look if you can reproduce it in similar setup ?

[code]
FIO config
[code]

[2020-10-27 15:46] spdkci commented on #1533
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_29690.html

[2020-10-27 16:33] mhae commented on #1635
I think the issue is that we're overwriting the assoc poller when we get a CC disable & shutdown:

[code]

[2020-10-27 17:05] rafalste opened #1658 "[ocf_fio_modes] bdev_nvme.c:1935:bdev_nvme_create: *ERROR*: No controller was found with provided trid (traddr: 0000:01:00.0)"
## Current Behavior

[code]

## Steps to Reproduce

run `./test/ocf/ocf.sh`

also this gives the same output:
[code]
when invoking:
[code]

## Context (Environment including OS version, SPDK version, etc.)

OS: CentOS 8.2, RHEL 8.2
kernel: 4.18.0-193.19.1.el8_2.x86_64
SPDK:  latest GitHub repo
disk: Intel SSD DC P3700 Series CVFT620200K5400BGN

[code]

[2020-10-27 17:13] mikeBashStuff commented on #1658
@rafalste Can you share the kernel version that's booted on that Centos8 system and a piece of its log when `setup.sh` attempts to move the controller from the `nvme` driver? This may be related to issues like https://github.com/spdk/spdk/issues/1563 where binding the nvme controller to the `uio_pci_generic` simply doesn't work. To mitigate, 785d6ca209eb291993be318f08400e26573274a7 was introduced,

[2020-10-27 17:33] jimharris commented on #1633
Hi @karlatec - in your original reports, it is always Nvme1, Nvme2 and Nvme3 that are failing.  And it is GPT that is throwing the error, meaning these failures are happening even before I/O start.  GPT tries to get a qpair so it can see if a partition table exists immediately after the NVMe namespace is registered as a bdev.

So could you see if you can reproduce this with just 2 subsystems expor

[2020-10-27 17:44] karlatec commented on #1633
@jimharris when I submitted the issue and used "easier to reproduce" setup (mallocs, that is) I had to use 4. Using just 1 malloc and 1 subsystem I was not able to reproduce. Is that good enough, or would you like me to test again with 2?

[2020-10-27 18:06] jimharris commented on #1633
Yes let's test again with just 2.  I'd like to try to get the configuration as simple as possible.

Since this also seems to happen when fio initially starts up, you should be able to significantly reduce the runtime so that you can do more test runs (since the issue is intermittent).

[2020-10-27 23:33] jimharris commented on #1594
This behavior is by design.  There might be a couple of ways to fix it or workaround it, but let me explain first what's happening here.

There are two ways to attach an SPDK driver to a PCI device - spdk_pci_enumerate() and spdk_pci_device_attach().  The problem that @jkalwas describes here is when we use spdk_pci_enumerate().  In this case, DPDK will probe every device that matches the PCI devic

[2020-10-28 00:03] jimharris commented on #1613
I wish I could reproduce on my setup so we wouldn't have to keep playing whack-a-mole.  :)  I've installed both clang-9 and clang-10 in my Ubuntu VM but am not able to reproduce any of these issues.

Which Linux distro are you using for these tests?

[2020-10-28 00:38] jimharris commented on #1613
Same Gerrit patch updated with stubs for those listed in your latest error log.

[2020-10-28 01:53] changpe1 commented on #1569
Closing this issue as the patch has been merged.

[2020-10-28 01:53] #1569 closed

[2020-10-28 02:44] changpe1 commented on #1613
My environments Fedora 30 with clang-8 and Fedora32 with clang-10 didn't report any above errors with master SPDK.

There is one error due to the new kernel header changes, it's not related with this issue, I will submit a fix to the following error.

  CC lib/env_dpdk/memory.o
memory.c:63:36: error: field 'unmap' with variable sized type 'struct vfio_iommu_type1_dma_unmap' not at the end of a str

[2020-10-28 03:56] rorschach01 commented on #1654
Thank you very much! I understand that when using db_bench and mkfs, I need to re-establish the bdev information. By creating a spdk json config file instead of the RPC command, I write the configuration of the previous RPC creation process of bdev. I wrote the json config file in the format defined in scripts/gen_ftl.sh, but the error "No'subsystems' key JSON configuration file" appeared when run

[2020-10-28 07:17] yidong0635 opened #1659 "rockdb reports error"
# Issue
[code]

## Possible Solution
not sure but change
[code]

## Steps to Reproduce
`./test/blobfs/rocksdb/rocksdb.sh`

## Context (Environment including OS version, SPDK version, etc.)
commit: e2f773aafc2f5515f19a17aeb3e0b556b23fdff9
5.4.7-100.fc30.x86_64

[2020-10-28 07:22] changpe1 commented on #1659
@yidong0635 could you try with  "__attribute__((unused))" and submit a fix patch?

[2020-10-28 07:28] spdkci commented on #1643
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_29718.html

[2020-10-28 07:38] yidong0635 commented on #1659
thanks @changpe1
https://review.spdk.io/gerrit/c/spdk/spdk/+/4929

[2020-10-28 08:03] changpe1 commented on #1654
@rorschach01 it works in my environment, your ftl.json file isn't correct, you can take the following as an example.

{
 "subsystems": [
    {
      "subsystem": "bdev",
      "config": [
        {
          "method": "bdev_malloc_create",
          "params": {
            "name": "Malloc0",
            "num_blocks": 102400,
            "block_size": 512
          }
        },
        {

[2020-10-28 08:07] changpe1 commented on #1656
@zlsh007 Yes, SPDK vhost user blk can support virtio 1.0, if your kernel driver is using virtio 0.95 or legacy mode, SPDK can't support that.

For more debug information, you may boot to your CentOS 6.8 kernel without this device , and add this device via QMP command, then the kernel may report the error log.

[2020-10-28 08:08] spdkci commented on #1533
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_29714.html

[2020-10-28 08:17] zlsh007 commented on #1656
@changpe1 Thanks a lot!

[2020-10-28 08:17] #1656 closed

[2020-10-28 09:46] jkalwas commented on #1594
Thank you @jimharris for your investigation.
I confirm that WA proposed here is good enough for now, we can always go back to what you suggested within 1st solution.

This means that problem raised initially is slightly more extensive i.e. having registered device X, Y and enumerating X, device Y are getting "blocked". Did I get it right?

[2020-10-28 10:09] zlsh007 opened #1660 "Why are huge pages created in multiple directories?"
When I only have one mount point for /dev/hugepages, the huge page specified by the -s parameter of the spdk process is created in this directory, but when I create two other mount points /mnt/huge_1GB /mnt/huge_2MB.

After that, huge pages will be created both in the /dev/hugepages and /mnt/huge_1GB directories.

Although the --huge-dir parameter can be used to specify that huge pages are created

[2020-10-28 10:59] mikeBashStuff commented on #1613
I am not sure if this is directly related to this particular issue, but I've been hitting problems with `undefined reference ...` every now and then without any clue as to why. Usually, this issue pop up when `autobuild` tests fail (for whatever reason) and then attempt is made to compile the spdk again (either via said tests or manually). Here is example, taken from the latest master. I removed `

[2020-10-28 11:06] rafalste commented on #1658
Hey, @mikeBashStuff ! It turns out that's the exact same problem that #1563 so I've follow your instructions and it worked for me. Just for the clarification my kernel is `4.18.0-193.19.1.el8_2.x86_64` and it's log when binding the controller:
[code]

[2020-10-28 11:08] #1658 closed

[2020-10-28 11:32] karlatec opened #1661 "[autotest-spdk-vs-dpdk-main] unittest job external_make_tc5 test compilation fail"
## Current Behavior

When building current SPDK master vs current DPDK main branch there is a fail when running external_make_tc5 test case.
Example failing build: https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-main_309.html
Last successful build: https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-main_281.html

## Steps to Reproduce

1. Clone & build DPDK main from github

[2020-10-28 13:54] jimharris commented on #1661
I'll take this one.

[2020-10-28 14:05] jkalwas commented on #1574
I tired to put a sleep there as a very first possible WA but it doesn't work.

I'm not using bdev nvme module, just dpdk_env to handle PCI device.

This is actually a regression, it used to work as expected before the change addressing race condition introduced.

I guess another WA is to directly attach, but this require to explicitly specify BDF.
This 2s delay was intended to be generic solution

[2020-10-28 14:08] jimharris commented on #1613
Hi @mikeBashStuff - this is unrelated to this issue.  In your case, the libspdk was built with ocf, iscsi initiator and pmem modules.  Your config file doesn't have those options turned on though.  I'm not sure why this script/Makefile aren't regenerating libspdk.so but it's not.  Could you file a separate issue for this?  Once you do, let's delete your entry here and my reply to reduce the length

[2020-10-28 14:13] jimharris commented on #1574
Sorry @jkalwas, the WA sequence should be:

detach
enumerate
2.5 or 3 second delay
enumerate again

The problem with keeping a list like this is there is that when we want to attach to the same BDF again, we have no way of knowing whether it is the exact same device that was previously detached, or whether the device at that BDF was swapped out with a different one.  The latter is a common stress

[2020-10-28 14:21] jimharris commented on #1594
That is correct Jacek.  Y is blocked because X was attached using spdk_pci_enumerate.

If you used spdk_pci_device_attach to attach X, then Y would not be affected.

[2020-10-28 14:24] mhae commented on #1635
There is a fix (https://review.spdk.io/gerrit/c/spdk/spdk/+/4935) for this condition. Although it seems more like a corruption of the CC register that seems to be maintained by the NVMF target, the code as written can trigger setting the assoc timer twice when both CC.en and CC.shn are set. The fix at least gets rid of the double triggering of the assoc timer that can result in access to freed mem

[2020-10-28 14:32] AlekseyMarchuk commented on #1633
@karlatec I'm still trying to reproduce this issue using NVME disks. Did you have a chance to reproduce it using a simpler configuration as Jim suggested?

[2020-10-28 14:38] jgrodman commented on #1629
Hi @jiaqizho thanks for your response, and sorry for the delay...the issue is occurring even on the latest master in spdk

What is the meaning / cause of the first line I am seeing?
`[2020-10-18 09:34:56.096419] rdma.c: 833:nvmf_rdma_qpair_destroy: *WARNING*: Destroying qpair when queue depth is 16`

[2020-10-28 15:15] jimharris commented on #1635
Nice analysis and root cause @mhae.  I posted some comments on your patch.  We should get this in for the 20.10 release this week.

[2020-10-28 15:41] karlatec commented on #1633
@AlekseyMarchuk Yes, I was able to reproduce this issue with just 2 null/malloc bdevs. However the reproduction rate is pretty low. I'm trying to find the simplest possible config with high reproduction rate

[2020-10-28 15:49] AlekseyMarchuk commented on #1633
Do you have logs from the target?

[2020-10-28 16:18] jimharris commented on #1611
Hi @mhae,

I think your approach is fine.  I've even taken it a bit further - changing nvme_ctrlr_poll_internal() to just return void.  See https://review.spdk.io/gerrit/c/spdk/spdk/+/4945.

I'll definitely want several maintainer reviews on this patch.

-Jim

[2020-10-28 16:30] AlekseyMarchuk commented on #1633
@karlatec I remember when I ran TCP traffic in setup where both SPDK target and initiator supported TCP zero copy I noticed that there might be some problem in TCP target with this feature since from time to time initiator hung. Now on target side I'm using host which doesn't support TCP zcopy and almost 150 iterations passed. Does OS on target side in your setup supports this feature? It should h

[2020-10-28 16:35] karlatec commented on #1633
Hey @AlekseyMarchuk ,

I wasn't able to get any. It's just initiator that complains in the logs.

That's another TCP/zcopy related issue I am facing, aside from the "tqpair" one, and it reprocudes quite often.

Any tips on how can I check that?

Already did that yesterday. I ran tests in loop overnight with `3a2148213f nvme/tcp: Enable zcopy send when qpair is attached to poll group` patch reverte

[2020-10-28 16:35] jimharris commented on #1633
I had Karol disable zerocopy last night and he said privately that the tests that have been failing passed at least 20 times with no hangs or tqpair error messages.  @karlatec please provide any other details that I may have missed.

[2020-10-28 16:46] karlatec commented on #1661
Thanks Jim! If you push any patch with fix to gerrit let me know - I can check it in the CI

[2020-10-28 16:56] AlekseyMarchuk commented on #1633
Thanks Jim, Karol. I'm not sure, maybe TCP zcopy implementation in Fedora is different from Ubuntu 20.04 which I'm using.
Karol, just to clarify - you used latest SPDK master branch and only reverted specified patch?

[2020-10-28 17:01] karlatec commented on #1633
So I was able to reduce the scenario to a point where TCP target with 2 malloc devices, each on separate nvmf subsystem.
Used fio config on initiator side:
[code]
I had no luck reproducing the issue with just 1 malloc bdev. I tried enormous iodepth settings, but only managed to hang the initiator like Aleksey descibed.

@jimharris  you asked yesterday if the IOPS are lower in case of subsystems fo

[2020-10-28 17:06] AlekseyMarchuk commented on #1633
Let me try to debug it until Thursday evening. If I don't find the root cause, we can disable TCP zcopy in socket layer by default. We already have a problem in the target, no sense to add a new one to the initiator)

[2020-10-28 20:20] jimharris commented on #1661
rte_hash now depends on rte_rcu as of upcoming DPDK 20.11 release.  This means that not just the external_code tests fail, but any SPDK static link would fail since we don't include rte_rcu in our link arguments.

To fix this the right way, we need to enable the rte_rcu build in our DPDK submodule.  We could work around that by hacking up the external_code Makefiles but I'd prefer to not do that.

[2020-10-28 21:54] jimharris commented on #1661
DPDK patch has been merged. @karlatec - you can now try https://review.spdk.io/gerrit/c/spdk/spdk/+/4947 and check it in CI with DPDK latest master.

[2020-10-28 22:51] karlatec commented on #1661
Thanks for the notice Jim! The build hasn't finished yet, but I saw that the unittest job with external_code tests passed.
Results should be available via this link in about an hour: https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-main_316.html

[2020-10-29 00:07] jimharris commented on #1661
It passed. 👍

[2020-10-29 01:02] #1659 closed

[2020-10-29 02:29] yidong0635 commented on #1613
meet the same issue :
with applying  some patches that needed to verify  or  without :
[code]
[code]
 run_test "external_make_tc1" make -C $test_root hello_world_bdev_shared_combo

[2020-10-29 02:32] changpe1 commented on #1613
@yidong0635 this is an separate issue, could you fire a new one?

[2020-10-29 02:42] yidong0635 opened #1662 "Autobuild failed at external_make_tc1"
# Issue
[code]
with config:
[code]

## Context (Environment including OS version, SPDK version, etc.)

`Linux clearlinux-cloud-1602846708-e3f08eef8 5.4.71-71.lts2019 `
`Fedora28 5.0.16-100.fc28.x86_64`
add patch serials  or not :

commit e2ecceaca29532c6f980164447a0e2e9a1b053cd
Author: Jim Harris <james.r.harris@intel.com>
Date:   Wed Oct 28 17:27:13 2020 +0000

    env_dpdk: add rte_rcu library d

[2020-10-29 02:54] changpe1 commented on #1423
Here is the fix patch https://review.spdk.io/gerrit/c/spdk/spdk/+/4831

[2020-10-29 04:04] changpe1 commented on #1662
[Bug Scrub] Assign it to Jim now.

[2020-10-29 04:05] changpe1 commented on #1660
[Bug Scrub] I will try to reproduce this issue.

[2020-10-29 04:07] changpe1 commented on #1654
[Bug Scrub] If you have further questions, you can response on this issue, I'm closing it now.

[2020-10-29 04:07] #1654 closed

[2020-10-29 04:10] changpe1 commented on #1647
[Bug Scrub] @peluse assign this issue to Paul now.

[2020-10-29 04:23] jimharris commented on #1275
Hi @mhae,

From your perspective, can we close this issue?  @darsto added the delay to workaround the kernel deadlocks a while back.

-Jim

[2020-10-29 04:47] changpe1 commented on #1660
@zlsh007 By default, SPDK will not unlink the mapped huge files, the mapped hugefiles will be cleaned for the next startup, but you can enable "-R, --huge-unlink" option in SPDK. This should not be a bug.

[2020-10-29 07:10] karlatec commented on #1661
Hey @tomzawadzki, should we take those patches into v20.10.x branch?

[2020-10-29 07:10] rorschach01 commented on #1654
According to the configuration file format you suggested, I can now successfully use mkfs to generate ftl bdev. But after using mkfs to successfully generate blobfs, there will still be errors about ftl bdev. At the same time, I use the same configuration file to run db_bench, although blobfs can also be generated, but db_bench cannot successfully import blobfs. Here is the error return of the cod

[2020-10-29 07:11] rorschach01 commented on #1654
According to the configuration file format you suggested, I can now successfully use mkfs to generate ftl bdev. But after using mkfs to successfully generate blobfs, there will still be errors about ftl bdev. At the same time, I use the same configuration file to run db_bench, although blobfs can also be generated, but db_bench cannot successfully import blobfs. Here is the error return of the cod

[2020-10-29 08:11] glodfish-zg opened #1663 "[unittest-vg-autotest] Build timed out (after 20 minutes). Marking the build as failed"
fail log shows：
START TEST scanbuild_make
00:08:14.018  ************************************
00:08:14.018   07:45:13	$ xtrace_enable
00:08:14.018   07:45:13	$ scanbuild_make
00:08:14.018   07:45:13	$ pass=true
00:08:14.019   07:45:13	$ scan-build -o /home/vagrant/spdk_repo/spdk/../output/scan-build-tmp --exclude /home/vagrant/spdk_repo/spdk/dpdk/ --status-bugs make -j10
00:11:31.395  In file inclu

[2020-10-29 08:14] #1423 closed

[2020-10-29 08:14] spdkci commented on #1533
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_29788.html

[2020-10-29 08:41] EugeneKochetov opened #1664 "SPDK fails to connect to NVMf target with large NN value in controller identify structure"
If NVMf target reports huge (but still valid) value in cdata.nn, SPDK NVMe initiator fails to connect with memory allocation error. Kernel nvme driver works well with such targets.
According to NVMe spec:

SPDK NVMe initiator tries to allocate array of namespaces of cdata.nn length. But it doesn't have to. Actual number of active namespaces can be small and is discovered with IDENTIFY_ACTIVE_NS co

[2020-10-29 08:42] mikeBashStuff opened #1665 "Can't compile SPDK after some of the autobuild tests fail"
Here is example, taken from the latest master. I removed `spdk_abi_latest` to trigger a failure with the following config:

[code]

Here's the test failing:
[code]

And here's the rerun of the same test (with `spdk_abi_latest` already put in place):
[code]
`make clean` doesn't seem to help either. After it's run, failure then looks like so:
[code]
The only way to make things running again is to cl

[2020-10-29 09:47] jkalwas commented on #1594
Thank you for confirmation - let's follow your recommendation and close for now with known workarounds.
Do you see a value in documenting this behavior? I put proposal here https://review.spdk.io/gerrit/c/spdk/spdk/+/4962.

[2020-10-29 11:02] jkalwas commented on #1574
Good point.

I can confirm that given WA is working, thanks!
Probably 2/3s delay embedded into enumeration itself if "new" device found is not an option. Do you see any possible fix not affecting the env interface user?

[code]

The only solution I see is to inform somehow the user to "keep trying" as requested device is temporarily blacklisted.
Looking at possible return code and handling with en

[2020-10-29 11:54] AlekseyMarchuk commented on #1633
I reproduced this issue, analyzing..

[2020-10-29 14:02] #1635 closed

[2020-10-29 14:04] mhae commented on #1275
The fixes that darsto put in fixes the issue. lock ups are no longer observable in 20.07+.

[2020-10-29 14:04] #1275 closed

[2020-10-29 16:02] jimharris commented on #1574
Maybe I'm missing something, but this documentation seems wrong.  How can spdk_pci_enumerate() return anything but -1 or 0?  I don't see it.  Even if the user callback returns 1, I don't see how that can get piped back to the spdk_pci_enumerate() caller.

In your case, since you've just called spdk_pci_device_detach(), you know the BDF you are wanting to reattach.  Instead of this 2-3 second sleep

[2020-10-29 16:30] tomzawadzki opened #1666 "[VM-host-WFP1/Vagrant] Initialization parameters must be an attributes hash, got NilClass nil"
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/29848/archive/unittest-vg-autotest/build.log
https://ci.spdk.io/results/autotest-per-patch/builds/29844/archive/ubuntu16-vg-autotest/build.log

## Execution failed at

[code]

[2020-10-29 16:31] tomzawadzki opened #1667 "[VM-host-PE1/Vagrant] No space left on device"
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/29836/archive/unittest-vg-autotest/build.log
https://ci.spdk.io/results/autotest-per-patch/builds/29839/archive/unittest-vg-autotest/build.log
https://ci.spdk.io/results/autotest-per-patch/builds/29842/archive/unittest-vg-autotest/build.log
https://ci.spdk.io/results/autotest-per-patch/builds/29841/archive/unittes

[2020-10-29 16:33] spdkci commented on #1666
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_29848.html

[2020-10-29 16:34] spdkci commented on #1666
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_29844.html

[2020-10-29 16:45] jgrodman commented on #1629
I enabled tracing and I'm seeing really high `time` values at points -

[code]

Is there somewhere that has details for what is being logged here? I'm not seeing it on the tracing page here: https://github.com/spdk/spdk/blob/master/doc/nvmf_tracing.md

Thank you,
Jesse

[2020-10-29 18:46] AlekseyMarchuk commented on #1633
I found the root cause, this problem is caused by buffer reclaim notification received after icresp from the target, here are details:
1. TCP initiator sends icreq and start polling a qpair. Polling of qpair actively calls `nvme_tcp_read_pdu` function
2. `nvme_tcp_read_pdu`: qpair is in NVME_TCP_PDU_RECV_STATE_AWAIT_PDU_CH state, it reads 8 bytes of common PDU header. It determines the type of the

[2020-10-29 19:46] AlekseyMarchuk commented on #1633
I prepared the fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/4969
@karlatec said that he can run it through regression this night. I also verified it on my side - I caught the described situation 2 times and no errors were observed. But if the fix doesn't help than I suggest disabling TCP zcopy in default socket configuration for this release so I can continue to work on this issue.

[2020-10-29 20:14] jimharris commented on #1665
I needed three patches to get this all working in my Ubuntu VM.  The last patch is here: https://review.spdk.io/gerrit/c/spdk/spdk/+/4970

Patch #1 I already had as part of the #1613 debug.  This ensures that the shared library dependencies get written into the final .so in all cases.

Patch #2 I also already had as part of some pkgconfig work I've been doing.  The check_so_deps.sh script modifies

[2020-10-29 20:14] jimharris commented on #1662
I needed three patches to get this all working in my Ubuntu VM.  The last patch is here: https://review.spdk.io/gerrit/c/spdk/spdk/+/4970

Patch #1 I already had as part of the #1613 debug.  This ensures that the shared library dependencies get written into the final .so in all cases.

Patch #2 I also already had as part of some pkgconfig work I've been doing.  The check_so_deps.sh script modifies

[2020-10-29 20:52] jimharris commented on #1613
@wawryk - could you retest with latest version of https://review.spdk.io/gerrit/c/spdk/spdk/+/4860?  thanks!

[2020-10-29 21:45] jimharris commented on #1611
Patch merged.

[2020-10-29 21:45] #1611 closed

[2020-10-29 21:46] jimharris commented on #1661
Patches merged.

[2020-10-29 21:46] #1661 closed

[2020-10-29 22:33] karlatec commented on #1633
Just fyi: I started the tests some time ago, and I think I've hit the "freeze" condition once. No "tqpair" errors though.
I'm leaving the tests looped overnight and I'll report back in a couple of hours.

[2020-10-30 01:09] yidong0635 commented on #1662
verified, test_make.sh is ok.

[2020-10-30 05:07] spdkci commented on #1533
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_29868.html

[2020-10-30 05:15] spdkci commented on #1633
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_29804.html

[2020-10-30 05:18] spdkci commented on #1633
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_29801.html

[2020-10-30 05:18] spdkci commented on #1667
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_29805.html

[2020-10-30 05:19] spdkci commented on #1667
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_29806.html

[2020-10-30 05:19] spdkci commented on #1633
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_29803.html

[2020-10-30 05:19] spdkci commented on #1633
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_29802.html

[2020-10-30 05:42] AlekseyMarchuk commented on #1633
Reported CI failures are not related to this issue

[2020-10-30 05:44] glodfish-zg commented on #1633
sorry. Should be github#1663.

[2020-10-30 05:45] glodfish-zg commented on #1663
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_29804.html
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_29801.html
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_29803.html
Another instance of

[2020-10-30 06:20] jiaqizho commented on #1629
hi jesse ,
[code]
this means qpair still have some request pending in qpair have not been finished when qpair need destory(it called by disconnect or target ready to finished)

as tracing log your privider , i think most of reqeust pending in target to host queue(it cost a lot of time). so that can explaim why performance is poor.

can you try change the initiator(use other initiator to test targe

[2020-10-30 07:03] karlatec commented on #1633
I ran 20 test builds overnight using https://review.spdk.io/gerrit/c/spdk/spdk/+/4969/2 (and these are a bit longer tests with various rw modes and iodepths).
I didn't see any "tqpair" or "icresp" errors or similar in any of the build logs.
However, unfortunately, 3 out of 20 builds failed due to initiator process hanging. This seems much less frequent than before, but still occurs.

[2020-10-30 07:27] AlekseyMarchuk commented on #1633
It seems to be another issue. Did you notice such a freeze without zero copy?

[2020-10-30 08:58] tomzawadzki commented on #1633
@AlekseyMarchuk I've talked with Karol - the initiator process hang does not occur without zero copy. At this time unfortunately there are no more logs for instances where hang occurs. As per your assessment with current information, I'd lean towards this being another issue.

[2020-10-30 09:14] spdkci commented on #1645
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_29873.html

[2020-10-30 09:18] jgrodman commented on #1629
Hi @jiaqizho thanks for your response. Can you please explain what you mean when you say:

"as tracing log your privider , i think most of reqeust pending in target to host queue(it cost a lot of time). so that can explaim why performance is poor."

Thanks!
Jesse

[2020-10-30 09:26] AlekseyMarchuk commented on #1633
Thanks Tomek. I'm afraid it is too late to debug this freeze for 20.10 release. I think that if there is a problem with zcopy in initiator (and most likely in target) maybe it worth disabling this feature by default in 20.10? I would like to hear other opinions before disabling it.

[2020-10-30 10:04] AlekseyMarchuk commented on #1633
I prepared a patch for disabling zcopy in advance so that we don't waste time when we make a decision. https://review.spdk.io/gerrit/c/spdk/spdk/+/4978

[2020-10-30 10:04] jkalwas commented on #1574
It would require some changes but it is better than 3s delay - thanks!

2nd look... my mistake, this was return code description for the callback, not for the enumerate function itself which is valid.
[code]

Few opens
* Callback shouldn't be described around its typedef?
* Is it worth to document why and when device can be temporarily on denylist (or maybe there is something already?).
* Possibly

[2020-10-30 12:21] spdkci commented on #1347
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_29899.html

[2020-10-30 12:54] tomzawadzki commented on #1347
As per recent occurrence above, the issue does not seem to be related maintenance work from April.

[2020-10-30 12:55] spdkci commented on #1645
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_29901.html

[2020-10-30 14:03] jimharris commented on #1633
This issue was specific to the initiator side.  Do we think this second issue could also be initiator-specific?

We've had zerocopy enabled on the target side for a while, and I think that @karlatec's issues have been more recent.  I'm more tempted to just disable zerocopy by default on the initiator side for v20.10?

[2020-10-30 14:25] AlekseyMarchuk commented on #1633
In my tests I noticed that freezes in initiator happen more frequently with zcopy enabled on the target side and disabling zcopy (in target) makes initiator more stable. I can't say for sure that the problem is 100% on the initiator side.
Regarding the problem reported by Karol - Tomek said that it is only reproducible when zcopy is enabled in the initiator.
If we decide to disable zcopy then I wo

[2020-10-30 14:33] jimharris commented on #1633
Thanks @AlekseyMarchuk.  I agree with you then.  Let's move forward with disabling it in posix default sock options.

[2020-10-30 17:55] mgerdts opened #1668 "ocf SIGSEGV: bdev_channel_get_io (channel=0x30) at bdev.c:1486"
## Expected Behavior

I should be able to perform reads from an nvmeof target that uses OCF without spdk_tgt crashing.

## Current Behavior

While running a sequential fio read test against an SPDK target, spdk crashes within 1 minute.

While running under gdb:

[code]

## Possible Solution

TBD

## Steps to Reproduce

1. Using this with this Dockerfile

[code]

Run:

[code]

Use the bits found in

[2020-11-01 13:55] eyuval opened #1669 "format of hostnqn sent by perf does not start with 'nqn'"
I see in the code (nvme_ctrlr.c) that the hostnqn sent by SPDK in the connect command is initialized as follows:

snprintf(opts->hostnqn, sizeof(opts->hostnqn), "2014-08.org.nvmexpress:uuid:%s", host_id_str);

This seems to be in contradiction with section 7.9 of the nvme express specification, which states, that it should start with the string 'nqn'. This is relevant for me, since I want to check

[2020-11-02 08:09] zlsh007 commented on #1660
@changpe1 Maybe I have described some problems. The actual problem is this: before the spdk service starts, first mount /dev/hugepages and /mnt/huge_2MB /mnt/huge_1GB, and then start the spdk service, for example, we configure 1GB HUGEPAGE, and Without specifying the huge page directory, after the service is started, 512 2MB huge pages will be created in /dev/hugepages and a 1GB huge page will be

[2020-11-02 08:30] karlatec commented on #1347
@wawryk this fail was on recently added supermicro system. Can you re-build the QAT driver on all of these systems?

[2020-11-02 11:21] wawryk commented on #1613
@jimharris
i run test on checkouted repo on Your patch and:
[code]
You asked me:
[code]
I use vagrant fedora31 vm to tests with clang9

[2020-11-02 13:59] gwnet commented on #1599
@jiaqizho hello man, I branch code do not have the module folder as your version did, could you please share me your suggestion how I merge your code into my repo? I see one big code structure change here.

spdk\module\bdev\rpc\bdev_rpc.c

[2020-11-02 14:41] jimharris commented on #1613
Hi @wawryk,

Could you try this again, with a fresh clean checkout from SPDK master?  The patches above have all been merged now.  The rte_rcu dependency was recently added, but the DPDK submodule needs a 'git submodule update' to make sure it gets built.

Thanks,

-Jim

[2020-11-02 16:54] jimharris commented on #1514
Closing issue.  @ssampath if you have a chance to try again with suggestion from @Comphix, please reopen this issue.

[2020-11-02 16:54] #1514 closed

[2020-11-02 17:17] jimharris commented on #1639
I know @karlatec made some CI changes that fixed this on the host that was exhibiting the problem.  We haven't seen the problem again in 10 days so closing.

[2020-11-02 17:21] jimharris commented on #1505
Hi @yidong0635,

Can you update this issue with your latest findings with current SPDK master?  Please close if this issue is no longer relevant.

If the issue still exists, please provide very clear and concise instructions so that @AlekseyMarchuk can try to reproduce.

Thanks,

Jim

[2020-11-02 17:23] jimharris commented on #1492
@changpe1 @wanghailiangx Can we close this issue?  This seems to be related to D3700 firmware, not SPDK.

[2020-11-02 17:24] jimharris commented on #1464
Hi @mkenguva,

I know you posted some updates to the bdev user guide.  Can we close this issue now?  Or are there other sections that need updating by their respective owners?

Thanks,

Jim

[2020-11-02 17:27] jimharris commented on #1444
Closing this issue.  @sunmingbao if you are able to retest with instructions from @AlekseyMarchuk and still see issues, please reopen this issue with your results.

Thanks,

Jim

[2020-11-02 17:27] #1444 closed

[2020-11-02 17:28] jimharris commented on #1416
Hi @mhae - is there anything more needed on this issue?

[2020-11-02 17:31] jimharris commented on #1286
Hi @glodfish-zg,

Could you update this issue?

Thanks,

Jim

[2020-11-02 17:34] mkenguva commented on #1464
I have updated regarding the above pointers and other updates. FTL and Zone block needs update from owners. This issue can be closed i believe. Apologize havent notified here.

[2020-11-02 17:41] jimharris commented on #1027
The latest information here indicates that this issue is specific to the Samsung SSD, and is not seen with the Intel P4800X SSD.  Closing as a 3rd party issue.

@cighao - if you are still interested in debugging this, we can continue the discussion here.  It would be interesting to try 1 thread with QD=8 and compare to the 8 threads with QD=1.  This would affect the number of qpairs used for the t

[2020-11-02 17:41] #1027 closed

[2020-11-02 17:43] jimharris commented on #817
Hi @KariukiJ,

Can you provide an update on this issue?

Thanks,

Jim

[2020-11-02 17:48] jimharris commented on #1464
Thanks @mkenguva!

[2020-11-02 17:48] #1464 closed

[2020-11-02 18:34] jimharris commented on #1549
@mhae - could you provide some more info on your environment and reproduction steps for @AlekseyMarchuk?

Thanks,

Jim

[2020-11-02 18:35] jimharris commented on #1419
Changing assignment to @tomzawadzki.  Is this issue still valid?  Especially since we are moving away from those OCSSD patches...

[2020-11-02 18:40] jimharris commented on #1187
Moving assignment to @peluse.

Paul - could you recommend a way forward on this?  I'm not sure the DPDK patch is the way to go.  I'd be OK with changing SPDK to throw warnings and skip crypto initialization in secondary processes though.

-Jim

[2020-11-02 18:55] jimharris commented on #1257
Hi @ryderhsu0129,

Is there anything more needed on this issue?  If not, we can close it.

Thanks,

Jim

[2020-11-02 18:58] jimharris commented on #1385
BlobFS is behaving as expected here so closing this issue.  But @cighao please continue to ask questions on this thread as needed.  Thanks.

[2020-11-02 18:58] #1385 closed

[2020-11-02 19:04] jimharris commented on #1360
@karlatec @tomzawadzki could someone there retest with latest master?  Patch from @darsto was merged in DPDK as commit 26cfc20fe back in May so was part of DPDK 20.05 release.  This is now part of our submodule.

[2020-11-02 21:11] mhae commented on #1416
@jimharris Let's close this. Seth's changes fixes this issue and I have a workaround until I can pull in 20.10.

[2020-11-02 21:11] #1416 closed

[2020-11-02 21:13] mhae commented on #1549
@jimharris , I'll try with the latest bits when I have a breather. The scenario was fairly simple. Nvmf_tgt with at least 20 subsystems with bdev_nvme and a remote setup with CX5. Run perf and then hit ctrlr-c after a while.

[2020-11-02 21:15] jimharris commented on #1549
Thanks @mhae.  No rush on this.  Just wanted to check in since it had been open for a while.

[2020-11-03 00:48] changpe1 commented on #1492
Sure, closing this issue as it's not SPDK related.

[2020-11-03 00:48] #1492 closed

[2020-11-03 01:34] ryderhsu0129 commented on #1257
OK, thanks for your help.

[2020-11-03 01:34] #1257 closed

[2020-11-03 02:59] yidong0635 commented on #1505
@jimharris @AlekseyMarchuk ,
using the latest master branch, test script looks good.
It's strong enough .
with a RDMA cable in or out, tests are ok which are exceeded the expectation even without a cable .
[code]
but I think we can close this one.

[2020-11-03 02:59] #1505 closed

[2020-11-03 05:17] yidong0635 commented on #1669
Host NVMe Qualified Name (HOSTNQN):  NVMe Qualified Name (NQN) that uniquely identifies the host. Refer to section 7.9 of the NVMe Base specification .
If  it means there're some missing prefixes about "nqn"?

[2020-11-03 05:24] glodfish-zg opened #1670 "[autotest] libvirt error Cannot allocate memory"
error message:

There was an error talking to Libvirt. The error message is shown
00:00:37.884  below:
00:00:37.884
00:00:37.884  Call to virDomainCreateWithFlags failed: internal error: process exited while connecting to monitor: qemu-system-x86_64: -realtime mlock=off: warning: '-realtime mlock=...' is deprecated, please use '-overcommit mem-lock=...' instead
00:00:37.884  2020-11-02T07:23:04.41

[2020-11-03 05:26] spdkci commented on #1670
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_29934.html

[2020-11-03 05:26] spdkci commented on #1670
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_29933.html

[2020-11-03 08:51] eyuval commented on #1669
I think the nqn is missing, because 7.9 of the nvme spec states, that both formats need to start with nqn. My problem is actually the following: A customer pointed out to me, that the host  (nvme cli) can provide an invalid hostnqn in the fabric connect data. I wanted to fix this problem in the SPDK target code by adding the following check in the function spdk_nvmf_ctrlr_connect:

      if (!spdk

[2020-11-03 11:42] shuhei-matsumoto commented on #1628
Hi @zlsh007

Thanks for your investigation and clear explanation about this issue.
How about removing the check simply?
Did you already try this idea?

spdk_for_each_channel() does not access the global list g_io_devices.

If no IO channel (dev->refcnt == 0), spdk_for_each_channel() does not increment or decrement dev->for_each_count.
spdk_io_device_unregister() just registers callback function if

[2020-11-03 11:48] karlatec opened #1671 "[autotest-spdk-vs-dpdk-main] compilation fail when building with compress and crypto"
## Current Behavior

When building current SPDK master vs current DPDK main branch there is a compilation fail related to crypto and compress libraries.
Example failing build: https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-main_358.html
Last successful build: https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-main_335.html (this is just before SPDK 20.10 release)

Unfortuna

[2020-11-03 12:01] mikeBashStuff commented on #1419
Mitigation: https://review.spdk.io/gerrit/c/spdk/spdk/+/5004. Tested on almost every distro we support, qemu compiles just fine.

[2020-11-03 12:25] mikeBashStuff commented on #1666
Usually, vagrant fails like so when VM's storage (i.e. the disk|snapshot image) suddenly goes away, i.e. is manually removed. I don't think this was indeed the case here, however, the common mitigation is to restart `libvirtd` daemon when it happens. I did that and cleaned up unused storage pools `libvirtd` was complaining about, including some lingering config files for non existing VM domains.

[2020-11-03 13:17] tomzawadzki commented on #1419
@jimharris I'd still resolve this issue, until the OCSSD patches for QEMU are abandoned and tests are switched to ZNS. Patch from @mikeBashStuff seems look to me considering that.

[2020-11-03 13:28] spdkci commented on #1533
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_29977.html

[2020-11-03 13:34] mikeBashStuff opened #1672 "Failure in test_snapshot_compare_with_lvol_bdev test"
https://ci.spdk.io/results/autotest-per-patch/builds/29976/archive/lvol-vg-autotest/build.log

`cmp` binary was overridden by the `cmp()` from `scripts/common.sh` causing the test to fail.  Fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/5005

[2020-11-03 14:02] mikeBashStuff commented on #1672
Bah, this was failing due to the other patch I had in the series - it added `scripts/common.sh` to `autotest_common.sh` hence the failure here.

[2020-11-03 15:10] tomzawadzki commented on #1633
[bug scrub] SPDK 20.10 was released with disabled zero_copy in posix. @karlatec is still observing this issue [`...via correct icresp`] with higher block size 128k or with DIF/DIX enabled on SPDK 20.10. In some cases the error log does not print, instead the initiator hangs.

More details will follow here.

[2020-11-03 15:13] tomzawadzki commented on #1594
[bug scrub] Patch documenting the behavior was merged.

[2020-11-03 15:13] #1594 closed

[2020-11-03 15:15] wawryk commented on #1613
Hi, @jimharris
Current [master](42ec403b6a95f94be8ef7a5e635d05c4fb95d310):
[code]

[2020-11-03 15:19] tomzawadzki commented on #1671
[Bug scrub] A fix will need to be posted to latest SPDK and then to v20.10.x branch. There will be no need to do 20.10.1 for this reason, but keeping patch there will allow for further testing against DPDK main.

[2020-11-03 15:51] jimharris commented on #1670
FYI - this is the same issue as #1639 and #1644 that were previously closed.  Perhaps we should reopen #1639 and close this issue? #1639 has a lot more history on it.

[2020-11-03 15:55] karlatec commented on #1670
@jimharris I agree, let's use #1639

[2020-11-03 16:03] jimharris commented on #1669
Good catch @eyuval.  This is a bug.  I'll push a fix shortly.

[2020-11-03 16:27] jimharris commented on #1639
Seeing this issue pop up again.

[2020-11-03 16:28] jimharris commented on #1639
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_29934.html
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_29933.html

[2020-11-03 16:28] jimharris commented on #1670
Copied reports to #1639 and re-opened that issue.

[2020-11-03 16:28] #1670 closed

[2020-11-03 17:40] mhae commented on #1549
@jimharris @AlekseyMarchuk , I just reproduce it while testing Ben's fixes. This is main with Ben's subsystem changes.
I was running perf to all subsystems (24), then I pressed ctrlr-C to stop perf and got these reported by the target:
[code]

[2020-11-04 09:41] yidong0635 commented on #1668
@mgerdts  what are the nvme type and nvmepool size?
I fail to add attaching cache device:
bdev_ocf_create ocf:mgerdts-nvme1 wb cachen1 rbd:mgerdts-nvme1
[code]
and your error key log is not very  clear.

[2020-11-04 10:05] mgerdts commented on #1668
@yidong0635 The Ceph `nvmepool` is a 7.5 TiB pool.  The `mgerdts-nvme1` `rbd` device is:

[code]

That is, spdk should only be accessing up to 10 GiB from the pool, which is quite a bit smaller than the 960 GiB cache device.  The NVMe drive that I'm using as a cache is a SAMSUNG MZQLW960HMJP-00003.

If you don't have Ceph and an empty NVMe drive handy to replicate my configuration, I can try to fi

[2020-11-04 11:10] mgerdts commented on #1668
I can reproduce without Ceph by using an aio core rather than an rbd core.

[code]

However, using and rbd core and aio bdev for the cache **does not reproduce**.

[code]

The reproductions described in this comment were with **SPDK v20.10 git sha1 e5d26ecc2**.

[2020-11-04 14:10] jimharris commented on #1613
Could you try https://review.spdk.io/gerrit/c/spdk/spdk/+/5016?

[2020-11-04 20:35] jimharris commented on #1628
I don't think removing the for_each_count check will work.  It has the potential to access freed memory if the for_each_count is > 0. The for_each_count check is there for a reason - if we are performing some kind of for_each_channel operation, we *must* make sure that we do not unregister the underlying device while that for_each operation is still iterating.

But I'm also not sure about the sync

[2020-11-04 21:44] mgerdts opened #1673 "build should depend on a specific liburing hash or tag"
## Expected Behavior

I should be able to have reproducible builds despite some upstream repo making incompatible changes in master.

## Current Behavior

See https://gitlab.com/mgerdts/docker-spdk/-/jobs/830785558

[code]

A couple hours earlier earlier, this breakage happened in the liburing repo.

https://github.com/axboe/liburing/commit/0de9d8c06d21c0d0d84608119b3dd1bfa53fb776

And the fix cam

[2020-11-04 21:50] shuhei-matsumoto commented on #1628
Thank you Jim, Suhua, I read critically again and I'm fine with your ideas.

[2020-11-04 22:04] shuhei-matsumoto commented on #1628
Hi @Jim,

This may not be the place for code review but then the current if (poller->state == PAUSED) check cannot be true after synchronous unregister? Hence can we do more as follows?

if (poller->state == RUNNING) {
  poller->state = UNREGISTERED;
  return;
}

if (poller->state == PAUSED) {
  remove poller from thread->paused_pollers;
} else if (poller->period_ticks) {
  remove poller from thre

[2020-11-04 22:20] jimharris commented on #1628
Good catch Shuhei.  But I did miss something - we need to check:

if (poller->state == RUNNING || poller->state == PAUSING)

We use PAUSING state if user calls spdk_poller_pause() from the poller callback context.  So in this case we cannot immediately free the poller either.

[2020-11-04 22:21] mikeBashStuff commented on #1673
The problem with `liburing` is that not every supported distro provides a package for it, unfortunately. But the idea of checking out to a specific release sounds good to me (or fetching source bundle for a specific version directly, instead of cloning the entire repo). The question now is which release we should use. @tomzawadzki @Maciej-Szwed would you kindly provide any feedback on the matter?

[2020-11-04 22:25] jimharris commented on #1673
Jens has liburing-x.y tags in his repo - I'd say just use the latest one of those.

It's liburing-0.7 from July, so it's a bit out of date but I think that's fine for the pkgdep script.  If someone wants something more up to date, they have the option of building and installing themselves from whatever commit they choose.

[2020-11-04 22:28] jimharris commented on #1673
Looks like Jens is planning a 2.0 release soon: https://github.com/axboe/liburing/issues/228

Not sure why it is jumping from 0.7 to 2.0, but we'd probably want to move to that 2.0 tag once it's available.

[2020-11-04 23:14] shuhei-matsumoto commented on #1628
Thank you Jim for recheck.

[2020-11-04 23:45] #1672 closed

[2020-11-05 02:16] zlsh007 commented on #1628
@jimharris @shuhei-matsumoto Thank you very much for your suggestions. I will think about how to modify the code logic.

[2020-11-05 03:26] yidong0635 commented on #1668
It seems to be related to the nvme disk，using nvme with shared cache， there may be  some  special requirements.
I followed your steps:
even format  an SSD or changed serveral SSDs, still failed.
[code]
using Malloc  cache and aio bdev , running fio is ok.

[2020-11-05 08:07] wawryk commented on #1613
Hi @jimharris
next errors:
[code]
and one warning:
[code]

[2020-11-05 12:28] karlatec opened #1674 "TCP NVMe-oF with DIF enabled results in *ERROR*: Unexpected PDU type 0x00 or a freeze"
## Current Behavior

Fio bdev plugin Initiator reports IO errors when trying to run IO workload using NVMe-oF TCP and with DIF enabled on Target side.

This mostly happens when using large IO, like 128k with DIF enabled for read and rw workloads. So far I haven't seen these issues with write workloads. If DIF is disabled, then workloads described in `Steps to reproduce` pass without any problems.

[2020-11-05 12:50] karlatec commented on #1633
Created new GH issue for errors with DIF enabled in https://github.com/spdk/spdk/issues/1674
Most probably I was not correct with `...via correct icresp` errors occuring there, as I did not see these anymore while reproducing DIF-related problems.

[2020-11-05 12:53] karlatec commented on #1633
I also checked some of the recent TCP-regression builds (4k bs, various RW modes and IODEPTH values) and did not see tqpair errors after disabling zcopy.

[2020-11-05 15:27] rafalste commented on #1533
There is a pull request on gerrit which fixes this issue:
https://review.spdk.io/gerrit/c/spdk/spdk/+/5030

OCF metadata updater is handling all the requests at once and when it finishes the cache can deinitialize, so in the rare circumstances when the thread is not aware of cache not existing any more, there is another metadata kick request and check for the random pointer is performed instead of

[2020-11-05 16:50] jimharris commented on #1613
I'm going to need someone else to pick this up.  We need someone to reproduce this environment with a Fedora VM + clang-9 and go through all of the unit tests adding stubs as required.

@wawryk - you could also take a crack at making these changes.  You can look at how I added the stubs in some of the patches above.  It's not very difficult, just a bit time consuming since it seems there are a lot

[2020-11-06 03:13] gwnet commented on #1432
@Donaim may I know how it is going on now? can we close this issue now?

[2020-11-06 03:15] changpe1 commented on #1432
Vitaly has left Intel, go ahead to close this issue.

[2020-11-06 03:18] gwnet commented on #1533
@michalwy hello Michal, may I know how it is going on for this issue?

[2020-11-06 03:22] gwnet commented on #1668
@Comphix could you please assign this to me firstly?

[2020-11-06 03:27] gwnet commented on #1668
@mgerdts hello buddy, how this issue on going? can you enable debug log and share us the debug log to see?
./configure --enable-debug
run /opt/spdk/bin/spdk_tgt -m 0xff -L all

[2020-11-06 05:50] mgerdts commented on #1668
@gwnet The debug output is in [spdk-debug.log.gz](https://drive.google.com/file/d/10S-8FZJQ_zZW_QqXKZs5siOoq1dFglc-/view?usp=sharing).

[2020-11-06 08:13] #1533 closed

[2020-11-06 08:35] gwnet commented on #1668
@mgerdts got it, we will analyze it. may I know if you can successfully run through it with Malloc device?

[2020-11-06 08:49] spdkci commented on #1347
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_30061.html

[2020-11-06 08:52] spdkci commented on #1641
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_30062.html

[2020-11-06 12:12] tomzawadzki commented on #1456
Since the issue no longer occurs after fixing `GP8` this issue can be closed.

[2020-11-06 13:08] spdkci commented on #1347
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_30091.html

[2020-11-06 14:15] spdkci commented on #1630
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_30098.html

[2020-11-06 14:30] spdkci commented on #1347
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_30100.html

[2020-11-06 15:59] spdkci commented on #1347
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_30103.html

[2020-11-06 16:03] mgerdts commented on #1668
I have not been able to reproduce this problem with a malloc device.  I tried with:

[code]

[2020-11-06 16:42] spdkci commented on #1347
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_30104.html

[2020-11-06 17:12] AlekseyMarchuk commented on #1674
I found the root cause, this problem exists since initial implementation of dif_insert_or_strip feature.
To send data to a socket we need to prepare iovs. In nvme_tcp_pdu structure iov is array of 32 entries, so we can write max 32 pointers to socket. 1 iov entry is occupied by PDU header, so for data we have 31 entries.
In dif_insert_or_strip feature we should strip metadata from original data bu

[2020-11-06 17:32] spdkci commented on #1347
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_30105.html

[2020-11-06 17:56] AlekseyMarchuk commented on #1674
Actually there is one more issue. Max_io_unit size is 131072 (default) while bdev writes 135168 bytes (with md) so it overwrites the memory after allocated buffer. We'll need to recalculate io_unit_size and max_io_unit_size taking into account metadata size like it is done for ICD in tcp target

[2020-11-06 20:48] jimharris commented on #1574
I agree the callback would be better documented the spdk_pci_enum_cb typedef is specified.

I don't think the 2 second wait time is documented anywhere, but a brief explanation in the spdk_pci_enumerate comments would be good I think.

I didn't follow this part of your response - could you clarify?  "Possibly no changes to impl required as there is a log from EAL layer, the only case is that verbo

[2020-11-09 01:44] gwnet commented on #1253
@mdziegie hello man may I know how it is going on for this issue?

[2020-11-09 01:46] gwnet commented on #1432
close this for now. this is already in the enhancement roadmap.

[2020-11-09 01:46] #1432 closed

[2020-11-09 02:14] spdkci commented on #1347
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_30074.html

[2020-11-09 08:35] spdkci commented on #1347
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_30109.html

[2020-11-09 08:36] spdkci commented on #1347
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_30108.html

[2020-11-09 08:50] AlekseyMarchuk commented on #1674
I'm working on a patch to support read of mdts bytes regardless of iov count.

[2020-11-09 10:31] mikeBashStuff opened #1675 "blob_io_wait times out on last wait()"
https://ci.spdk.io/results/autotest-per-patch/builds/30131/archive/lvol-vg-autotest/build.log

Build timed out after second `bdevperf` run while test was `wait()`ing for the process to finish. Point of failure:
[code]

[2020-11-09 10:32] spdkci commented on #1675
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_30131.html

[2020-11-09 10:43] mikeBashStuff commented on #1419
Patch merged, closing.

[2020-11-09 10:43] #1419 closed

[2020-11-09 11:28] jkalwas commented on #1574
I assume that having any fix within impl is not applicable. The only possible change would be to add some description to the enumerate function and meaningful log. So I'm wondering if adding log on SPDK layer that device is put on denylist with timeout bring some value or log from DPDK is enough (to see DPDK's log we need to modify SPDK sources).

[2020-11-09 14:08] jimharris commented on #1574
That documentation looks good to me Jacek.

We could create an SPDK debug log message for this case.  I would prefer to not make it a normal error/warn log message though to avoid confusing users (for example, those who use the bdev/nvme hotplug poller).

[2020-11-09 14:18] AlekseyMarchuk commented on #1674
I don't see an easy solution to this problem. I suggest 2 alternatives:
1. Complete such a request with length error. I don't think that it is a good alternative, it will break initiators logic since it sends absolutely valid NVME command and received a completion with error.
2. Rework how iovs are handled by socket layer. Now it is assumed that iovs are located right after sock_request. This appr

[2020-11-09 14:19] shuhei-matsumoto opened #1676 "iSCSI initiator failed to login to the cached target node after SPDK iSCSI target application restarts"
If SPDK iSCSI target application restarts while iSCSI host caches discovered target, the iSCSI host intermittently failed to re-login discovered targets.

The reason is as follows:
iSCSI target application configures by the following ordering.
1. Portal group 1 is added first.
2. Target node A is created by associating with the portal group 1.

If iSCSI host tries to login to the target node A via

[2020-11-09 15:24] jkalwas commented on #1574
https://review.spdk.io/gerrit/c/spdk/spdk/+/5059 env: move attach cb description where typedef is specified
https://review.spdk.io/gerrit/c/spdk/spdk/+/5060 env: describe enumerate function detail behavior

Env layer doesn't have logger registered.

[2020-11-10 14:13] karlatec opened #1677 "[autotest-spdk-master-vs-dpdk-main] ‘str2flowtype’ defined but not used [-Werror=unused-function]"
When building current SPDK master vs current DPDK main branch there is a compilation fail related to crypto and compress libraries.
Example failing build: https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-main_405.html

## Current Behavior

External DPDK make compilation fails at
[code]

## Steps to Reproduce

1. Clone & build DPDK main from github
[code]

## Possible Solution
1.  Enabl

[2020-11-11 00:28] jimharris commented on #1674
Hi @AlekseyMarchuk,

I agree that alternative #1 is not a good alternative.

For #2, putting the iovs memory right after the sock_request was to avoid having to do any kind of pool of extra iovs and all of the error handling when that pool is exhausted.  So I'd prefer to try to find a way to avoid that, but if we can't, then let's reconsider.

It looks like you've found two problems:
1) the iov ar

[2020-11-11 01:10] shuhei-matsumoto commented on #1674
I can't say I'm familiar with DIF use cases but I think 520 byte has been very common among FC or iSCSI. So existing user will be happy for 520 bytes as block size.

Hence I think we need many more iovs, but I don't know much about NVMe-TCP or NVMe-oF because Linux kernel NVMe-oF initiator does not support 520 byte as block size yet.

@mhae how do you think about whether we should support both 422

[2020-11-11 01:23] shuhei-matsumoto commented on #1674
So I think we have to use pool . 256 is too many for non-DIF use cases.

[2020-11-11 09:52] jgrodman opened #1678 "incorrect time values in spdk_trace"
I am filing this ticket at the request of @KariukiJ. The time values are sometimes very high. Here is a paste of our slack conversation:

[code]

## Steps to Reproduce

I do not know what version / OS / HW John was using, but it was likely master as of the date of his comment, Oct 30, 2020.

[2020-11-11 09:54] jgrodman commented on #1629
@jiaqizho all of the issues I mentioned in this ticket seem to have been fixed by switching initiators...so I'm closing this ticket. Thanks for your help!

[2020-11-11 09:54] #1629 closed

[2020-11-11 14:47] shuhei-matsumoto commented on #1676
Hi @jimharris

I got another idea. How about this?
When we create a portal group, we test if we can listen all portals in the portal group, and then immediately close all portals.
Then later, when the first target node is created and associated with the portal group (i.e. the reference count of the portal group is changed 0 to 1), we start listening all portals in the portal group, or when the las

[2020-11-11 14:52] shuhei-matsumoto commented on #1676
The third idea may be to just pause acceptor poller while no target node is associated with the portal group, but this may cause timeout error to iSCSI initiator, or I'm afraid any negative side effect on this.

[2020-11-11 16:02] mhae commented on #1674
@shuhei-matsumoto: We have both scenarios, 520b and 4160b (8 x 520), but 520b is more common for DIF.

[2020-11-11 16:10] AlekseyMarchuk commented on #1674
I agree that we need a allocate iovs dynamically. When we create qpair's resources we can check if dif_insert_or_strip feature is enabled and allocate enough iov elements to cover the worst case (mdts/512). For default mdts 128k it will be 256 iov elements. But at the same time if dif_insert_or_strip is disabled we can use just 32 elements.

[2020-11-11 16:45] jimharris commented on #1674
Could we send the data out on the socket in 32-iov chunks?  I haven't looked in detail how this might work.

I'm concerned about the dynamic iov allocation - is it possible do that only within nvmf or will it require lib/sock changes as well?

Just working out the memory consumption - an extra 224 iovs is 3584 bytes.  If the queue size is 128, that's about 450KiB extra memory required per TCP qpai

[2020-11-11 22:28] shuhei-matsumoto commented on #1676
Hi @jimharris

I'm leaning toward the third idea. If we don't call accept(), we can ignore socket activity and defer any acceptance until we are ready. The backlog queue is limited and if it is full, further connection attempts are dropped.

In our use case, one portal group is associated with multiple target nodes, and at startup, we load multiple target nodes and want to start listening after al

[2020-11-11 22:40] jimharris commented on #1676
Hi @shuhei-matsumoto,

Do we still have the race condition between iscsi_create_portal_group and iscsi_pause_portal_group?  Maybe we would need a parameter to iscsi_create_portal_group to say that it should start in paused state.

Which iSCSI host are you using?  I thought that Linux would continue to retry, even if it connects and login fails.  But it has been a long time since I've tested that.

[2020-11-11 23:12] shuhei-matsumoto commented on #1676
Hi @jimharris

The issue has been caused by Windows hosts.

And adding an new option to creare_portal_group will be better. I think race condition is not fixed completely

[2020-11-11 23:14] shuhei-matsumoto commented on #1676
My colleague reported that windows hosts didn’t retry login in his case

[2020-11-11 23:34] jimharris commented on #1676
OK, thanks Shuhei.  I think we should go with the create_portal_group option.

[2020-11-12 01:43] shuhei-matsumoto commented on #1674
Thanks for your analysis, Jim. I think that is a reasonable concern.
The previous synchronous implementation did that, i.e. iterating to send 32-iov chunks.
So I believe we will be able to do also for asynchronous implementation.
The previous synchronous implementation may be a good reference.

Thanks for your feedback Michael, very helpful input to SPDK.

[2020-11-12 02:18] changpe1 commented on #1669
Patch has been merged, so closing this issue for now.

[2020-11-12 02:18] #1669 closed

[2020-11-12 04:08] changpe1 commented on #1675
[Bug Scrub] mark it as intermittent failure now, let's wait to see if any more failures.

[2020-11-12 04:10] gwnet commented on #1668
@robertbaldyga man, may I know how it is going on?

[2020-11-12 04:12] gwnet commented on #1253
@robertbaldyga  man, may I know how it is going on?

[2020-11-12 04:16] changpe1 commented on #1608
[Bug Scrub] I'm going to close this issue, you can reopen it if the issue still exists.

[2020-11-12 04:16] #1608 closed

[2020-11-12 04:34] jimharris commented on #1664
Hi @EugeneKochetov,

The plain array is really nice but you're right it doesn't work with such a large nn value.

Note that we have two arrays that will need to be modified - spdk_nvme_ctrlr::ns and spdk_nvme_ctrlr::nsdata.  Maybe spdk_nvme_ctrlr::nsdata_zns too, we made it an array of pointers to save some space, but even an array of 0xFFFFFFFF pointers is way too much memory.

A few things I not

[2020-11-12 06:27] spdkci commented on #1675
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_30201.html

[2020-11-12 07:06] spdkci commented on #1675
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_30252.html

[2020-11-12 08:12] EugeneKochetov commented on #1664
Hi @jimharris

Thanks for the input.

I've started working on it. I have a version that works in basic use case. Basically, I just needed to switch to dynamic array and apply point 2 from your message.
Now, I'm working on support for runtime namespace add/remove/update. And it is much more challenging. Mostly because of the point 1 you noted. I'd like to avoid locks on IO path but don't know how t

[2020-11-12 10:42] shuhei-matsumoto commented on #1676
Hi Jim and all,

The patches are ready to review, starting from https://review.spdk.io/gerrit/c/spdk/spdk/+/5088/1
Please review them when you can.

-Shuhei

[2020-11-12 11:04] rafalste commented on #1668
@gwnet I'm investigating this issue at the OCF side. I'll post any updates as soon as I manage to gain some.

[2020-11-12 12:16] karlatec opened #1679 "[spdk-vs-qemu-master] vm crash when testing with BLK controllers"
## Current Behavior

When running spdk/test/vhost.sh versus latest Qemu binaries the VM seems to crash during seabios phase.

## Possible Solution

The problem started to appear with commit adb29c027341ba095a3ef4beef6aaef86d3a520e merged in Qemu master branch.

## Steps to Reproduce

1.  Download & compile latest SPDK sources:
[code]
2. Download & compile Qemu master (or checkout to the faulty com

[2020-11-12 14:10] jimharris commented on #1664
Oh of course.  I was only thinking of accessing the array - but users of the nvme driver will keep a reference to the spdk_nvme_ns structure and use it later in the I/O path.

We must avoid locks in the I/O path.  One option would be to keep a reference count on the spdk_nvme_ns which is incremented when user calls spdk_nvme_ctrlr_get_ns().  Then we add a new API spdk_nvme_ctrlr_put_ns() to releas

[2020-11-13 02:28] optimistyzy commented on #1442
@zRegle Could you verify the latest master branch of SPDK and see whether your issue is fixed? Because now we support the discovery with small buffer (e.g., 512) set on the initiator side.

[2020-11-13 09:27] shuhei-matsumoto commented on #1675
Rui Chang submitted a patch to an intermittent failure very similar with this issue.
 https://review.spdk.io/gerrit/c/spdk/spdk/+/5093

I asked Rui to take a look at this issue.

[2020-11-13 09:30] changruinj commented on #1675
Yes, same issue as I am trying to fix in https://review.spdk.io/gerrit/c/spdk/spdk/+/5093

[2020-11-13 10:31] shuhei-matsumoto commented on #1675
Got it. Thank you @changruinj. Will you take a look at the test pool logs? The patch might cause another failure.

[2020-11-13 11:38] mikeBashStuff commented on #1665
Apologies for such a late reply. Got a chance to tetest the same setup one more time against latest master and everything worked just fine. :) Closing.

[2020-11-13 11:38] #1665 closed

[2020-11-13 11:40] mikeBashStuff commented on #1663
This probably happened at the time when PE1 run out of storage some time ago. Haven't seen similar timeouts since then, closing for now.

[2020-11-13 11:40] #1663 closed

[2020-11-13 13:43] changruinj commented on #1675
Sure, looking at it.

[2020-11-13 15:12] EugeneKochetov commented on #1664
I was also thinking about reference counting and "put" function.
I'm just in the beginning of implementation. So far, I have a prototype with dynamic array and several unit tests to verify it in basic scenario. But it doesn't handle runtime add/remove of namespaces yet. I think, it should not be a problem to keep existing static array for backward compatibility.

Another idea to think about. Point

[2020-11-13 15:16] jimharris commented on #1664
I think the conversion from nsid to ns struct would add too much overhead to the I/O path.  And I think there would still be a race between one thread that is searching for the ns struct and another that is removing the ns struct because the namespace went away.

[2020-11-13 16:57] AlekseyMarchuk commented on #1674
Jim, Shuhei

Thanks for your feedback and ideas. I prepared a draft version of patch to use synchronous writev when we can't send a request for 1 operation. I still need to optimize several places and I plan to push this patch for review next Monday

[2020-11-13 16:59] KariukiJ commented on #817
I submitted an issue to UNH. UNH asked me to retest with the latest version of the tool iol_tcp-14.0a to make sure its still an issue. Verified the same issue happens on v14 of the UNH test tool.

[2020-11-13 18:26] nconnolly1 commented on #1613
Could you try applying the following patches which should add the missing stubs:

https://review.spdk.io/gerrit/c/spdk/spdk/+/5079
https://review.spdk.io/gerrit/c/spdk/spdk/+/5080
https://review.spdk.io/gerrit/c/spdk/spdk/+/5081
https://review.spdk.io/gerrit/c/spdk/spdk/+/5082
https://review.spdk.io/gerrit/c/spdk/spdk/+/5083
https://review.spdk.io/gerrit/c/spdk/spdk/+/5084
https://review.spdk.io/g

[2020-11-16 06:01] Phantomape opened #1680 "Support ubuntu 20.04 in vagrant setup script"
## Expected Behavior

Vagrant setup script should work under 20.04

## Current Behavior

For now, the vagrant setup script does not support ubuntu 20.04, only 16.04 and 18.04 are supported.

Should have had 20.04 supported

## Possible Solution

Support 20.04 in the near future

[2020-11-16 07:34] wawryk commented on #1613
@nconnolly1
Thanks for Your help, it fix above missing stubs, now i have new errors:
[code]
and
[code]

[2020-11-16 07:49] yidong0635 commented on #1662
close this one, since patch was merged.

[2020-11-16 07:49] #1662 closed

[2020-11-16 09:28] spdkci commented on #1347
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_30096.html

[2020-11-16 09:28] spdkci commented on #1347
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_30093.html

[2020-11-16 11:38] wawryk commented on #1680
@Phantomape
Please try [this patch](https://review.spdk.io/gerrit/c/spdk/spdk/+/5109)

[2020-11-16 11:55] nconnolly1 commented on #1613
I've updated the nvmf changes to include rdma and added changes for idxd.

Please re-apply https://review.spdk.io/gerrit/c/spdk/spdk/+/5082
And apply https://review.spdk.io/gerrit/c/spdk/spdk/+/5110

[2020-11-16 12:04] karlatec commented on #1667
No  new instances since last two weeks.
Disk space was freed and improvements were done to VM scripts to better cleanup backing storage files in case of VM failure or crash.

[2020-11-16 12:09] karlatec commented on #1639
The error message:

[code]

suggests that the issue may have been occurring because the system hosting the VMs had been overprovisioned. While this is partly true, the issue was mostly caused by a different CI job, not related to per patch testing. This job was also spawning VMs for test, but because of misconfiguration they were not destroyed properly after the test and were hogging up the memory

[2020-11-16 12:53] karlatec commented on #1620
Cannot reproduce or find the root cause. This one really seems like a totally random Jenkins issue.

[2020-11-16 12:58] #1667 closed

[2020-11-16 13:07] gwnet commented on #1668
@rafalste may I know how it is going on?

[2020-11-16 13:13] karlatec commented on #1679
After recent merges in qemu/qemu master branch these failures are no longer reproducible.
![image](https://user-images.githubusercontent.com/28856727/99256581-e8cb6480-2815-11eb-9e93-05b5b6e7c28a.png)

[2020-11-16 14:22] rafalste commented on #1668
@gwnet I'm trying to reproduce this issue but there are some things I'm not familiar with like RDMA (and NVMe-oF in general) and it's a rough path sometimes.

[2020-11-16 14:24] wawryk commented on #1613
next errors:
[code]

[2020-11-16 14:35] AlekseyMarchuk commented on #1674
I prepared a patch https://review.spdk.io/gerrit/c/spdk/spdk/+/5114
I measured performance impact of this solution vs using a big iov vector (288 entries, just increased NVME_TCP_MAX_SGL_DESCRIPTORS to 144). To my surprise I didn't see any performance degradation with the patch, even small benefit. I ran target and initiator on 8 cores (connected via switch) and configured Null device with 512+128

[2020-11-16 15:00] karlatec commented on #1347
Updated QAT driver on systems mentioned in recent failures, let's see if this is ok

[2020-11-16 15:43] nconnolly1 commented on #1613
Added support for configurations using pmem to ftl unit tests.
Please re-apply https://review.spdk.io/gerrit/c/spdk/spdk/+/5085

[2020-11-16 15:54] jimharris commented on #1674
Overall this looks OK to me @AlekseyMarchuk.  I would expect us to see a performance degradation if we tested with fewer cores, mainly because with synchronous writev we will not use the MSG_ZEROCOPY and will have extra data copies in the I/O path.  But I think this solution is suitable for now - perhaps it can be optimized further in the future to use writev_async.

@karlatec - we will need you t

[2020-11-16 22:49] spdkci commented on #1675
Another instance of this failure. Reported by @floatious. log: https://ci.spdk.io/public_build/autotest-per-patch_30342.html

[2020-11-17 00:06] jimharris commented on #1676
Hi @shuhei-matsumoto,

Overall the patches look good.  I added some comments on the last two patches in the series.

-Jim

[2020-11-17 04:39] yidong0635 commented on #1680
Could you please update the README.md? @wawryk

[2020-11-17 07:48] yidong0635 commented on #1610
This one hasn't happened for a long time。

[2020-11-17 07:56] Phantomape commented on #1680
I'm able to start the vm on ubuntu 20.04. However, when I tried to run the hello-world example, it failed. I took a closer look into the script, it seems that the command ```lspci -mm -n -D | grep -i -- "-p02" | awk -v 'cc="0108"' -F ' ' '{if (cc ~ $2) print $1}'``` in function ```iter_all_pci_class_code```(common.sh) exit silently. The output of command ```lspci -mm -n -D``` is attached below
![i

[2020-11-17 07:57] glodfish-zg opened #1681 "[vhost-initiator-vg-autotest ] vhost fuzz failed"
error log:
START TEST vhost_fuzz
00:06:31.162  ************************************
00:06:31.162   09:05:34	# xtrace_enable
00:06:31.162   09:05:34	# ./test/vhost/fuzz/fuzz.sh
00:06:31.216    09:05:34	# xtrace_enable
00:06:31.216   09:05:34	# source /home/vagrant/spdk_repo/spdk/test/vhost/fuzz/../../../scripts/common.sh
00:06:31.218  Waiting for process to start up and listen on UNIX domain socket

[2020-11-17 08:20] mikeBashStuff commented on #1680
How was the `create_vbox.sh` executed? You should make sure you run it with `-b` (and `-c` if the image specified by `-b` doesn't exist) so there's actual nvme device attached to the VM.

[2020-11-17 08:26] Phantomape commented on #1680
```./scripts/vagrant/create_vbox.sh -s 10240 -n 2 ubuntu2004``` this is my command. Looks like the README needs to be updated, cause the ```-b``` option is not mentioned in the READEME

[2020-11-17 09:42] tomzawadzki commented on #1681
@glodfish-zg Can you please link to patch where this failure occurred ?
CI bot can link that here when patch receives comment `false positive: 1681`. More info on that [here](https://spdk.io/development/#integration_false_positive)

[2020-11-17 09:50] #1620 closed

[2020-11-17 10:02] #1680 closed

[2020-11-17 12:47] dakshajauppalapati96 opened #1682 "Error "Unable to listen on transport RDMA" is seen while creating targets with TOT"
Hi all,

With TOT SPDK, "Unable to listen on transport RDMA. The transport must be created first." error is seen while creating the target devices on SPDK target.

**Current Behavior:-**
[root@potato1 spdk]# app/nvmf_tgt/nvmf_tgt -m 0x3F &
[1] 8300
[root@potato1 spdk]# Starting SPDK v20.07-pre git sha1 8ddeccad58d7 / DPDK 19.11.2 initialization...
[ DPDK EAL parameters: nvmf --no-shconf -c 0x3F --

[2020-11-17 12:51] gwnet commented on #1668
@mgerdts hello buddy, can you reproduce the issue without NVMeoF, that may make debug and find root cause easily.

[2020-11-17 13:23] shuhei-matsumoto commented on #1676
Hi @jimharris

Thanks for your careful review. Your suggestion and recent merge required me to update all four patches.
Please take a look again when you can.

-Shuhei

[2020-11-17 14:38] AlekseyMarchuk commented on #1682
Hi,

Some time ago build artifacts were moved to spdk/build/bin/ directory. If you are using app/nvmf_tgt/nvmf_tgt then it might be a very outdated binary from your old builds (in my case it was modified in June). Could you try to use spdk/build/bin/nvmf_tgt? Your script works in my setup

[2020-11-17 15:06] tomzawadzki commented on #1633
[Bug scrub] This issue no longer occurs as zcopy is now disabled. New issue with another signature for enabled zcopy will be created by @AlekseyMarchuk.

[2020-11-17 15:06] #1633 closed

[2020-11-17 15:08] nconnolly1 commented on #1613
Analysis of issue:
With some build environments (e.g. clang, see #1613) linking fails with
unresolved references. This is caused by the inclusion of 'unused code'
which is usually discarded by the linker. The 'unused code' contains
references to functions that have not been 'stubbed' out. The failure
can be seen by removing 'LDFLAGS += -Wl,--gc-sections' in
spdk.unittest.mk

Resolved by adding stu

[2020-11-17 15:10] karlatec commented on #1677
Reported to DPDK bugtracker: https://bugs.dpdk.org/show_bug.cgi?id=576

[2020-11-17 15:20] tomzawadzki commented on #1639
[Bug scrub] The change mentioned by Karol was merged a week ago, let's close the issue.

[2020-11-17 15:20] #1639 closed

[2020-11-17 15:21] #1679 closed

[2020-11-17 15:24] tomzawadzki commented on #1347
[Bug scrub] Thanks @karlatec for updating the driver. @mikeBashStuff will take a look at changing `qat_setup.sh` to fail in case the driver is not recent (see log from original report).

[2020-11-17 15:26] tomzawadzki commented on #1673
[Bug scrub] Since 2.0 might be some months away and 0.7 is quite old at this point, lets point to specific commit on liburing on master.

[2020-11-17 17:23] karlatec opened #1683 "[ocf-master-vs-spdk-master] Fail at ocf_persistent_metadata test case"
## Current Behavior

SPDK ocf tests fail at "ocf_persistent_metadata" test case when testing versus latest OCF sources.

## Steps to Reproduce

1. Prepare SPDK test config in ~/autorun-spdk.conf
[code]

2. Checkout latest ocf sources in spdk ocf module
[code]

3. Build SPDK & OCF:
[code]

4. Run tests:
[code]

Tests fail at ocf_persistent_metadata test case. Example build log attached:
[ocf-build-

[2020-11-18 05:35] bharatpotnuri opened #1684 "nvme discover fails with `*ERROR*: Admin command sent before CONNECT`"
Hi All,
I am seeing the following error on trying to discover NVMF target. I see the same behavior with both 'nvme' app and 'fio with spdk'.
`
[2020-11-18 10:41:45.383980] ctrlr.c:2679:nvmf_ctrlr_process_admin_cmd: *ERROR*: Admin command sent before CONNECT
`

## Expected Behavior
Discover should succeed.

## Current Behavior
Target prints the following error:
`
[2020-11-18 10:41:45.383980] ctrlr.

[2020-11-18 06:21] yidong0635 commented on #1684
@bharatpotnuri  please try new plugin path: build/fio/spdk_bdev or build/fio/spdk_nvme. And I will try to reproduce this issue.

[2020-11-18 06:54] AlekseyMarchuk opened #1685 "NVMeOF-TCP: initiator hangs when zero copy is enabled"
NVMEoF TCP initiator hangs when zero copy is enabled. This issue observed several times in regression tests.
More information can be found in #1633

## Expected Behavior

NVMEoF TCP initiator works without hangs

## Current Behavior

In some cases NVMEoF TCP initiator hangs

## Possible Solution

None

## Steps to Reproduce

Run bdev_perf or nvme_perf with enabled zero copy send feature. For perf

[2020-11-18 07:00] dakshajauppalapati96 commented on #1682
Hi Aleksey,

Thankyou for correcting me.
Able to create target devices with spdk/build/bin/nvmf_tgt. Hence closing the issue.

[2020-11-18 07:00] #1682 closed

[2020-11-18 07:00] bharatpotnuri commented on #1684
@yidong0635 tried with fio/spdk_nvme.
Still see the same issue. Follwoing prints are flooding dmesg:
`
[2020-11-18 12:28:36.337203] ctrlr.c:2679:nvmf_ctrlr_process_admin_cmd: *ERROR*: Admin command sent before CONNECT
`

Fio command:
[code]

[2020-11-18 07:04] yidong0635 commented on #1684
My test result is :
[code]

[2020-11-18 07:18] gwnet commented on #1683
@karlatec could you please fetch the OCF code just using git submodule update --init, then try again?

[2020-11-18 07:18] gwnet commented on #1683
@Comphix could you please assign this to me first?

[2020-11-18 07:23] karlatec commented on #1683
@gwnet You mean using OCF 02f6fc3 commit, which is the current "default" for OCF submodule in SPDK?

[2020-11-18 08:33] bharatpotnuri commented on #1684
Looks like issue is with kernel. I reran on 5.4.44 kernel where discovery and fio works fine.

[code]

I am fine with using latest kernel. Can I close the issue?

[2020-11-18 10:31] mikeBashStuff opened #1686 "Cloning SPDK repo took over 5 minutes leading to build timeout"
https://ci.spdk.io/results/autotest-per-patch/builds/30440/archive/crypto-autotest/build.log

At first glance, all the tests were passing just fine, however, the build didn't finish. At the very top, it can be seen that cloning the spdk repo took over 5 minutes which definitely could cause an overall timeout of the build (even though it's not seen in the log since it suddenly cuts on the run of th

[2020-11-18 10:32] spdkci commented on #1686
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_30440.html

[2020-11-18 10:36] aohzju opened #1687 "spdk_pci_device_cfg_write* functions fail to update MSI-X control register"
I have an NVMe testing program, which calls spdk_pci_device_cfg_write16 to change MSI-X control register (CAP_MSIX+0x02). The function returns zero as if it has update the register correctly, but actually the register is not updated at all.
I tried spdk_pci_device_cfg_write32 as well, which has no effect either.

I ever reported such an issue: https://github.com/spdk/spdk/issues/1631. The root cau

[2020-11-18 10:42] AlekseyMarchuk opened #1688 "[ubuntu18-vg-autotest] nvme_fio test fails"
[code]
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_30420.html

## Execution failed at

[code]

[2020-11-18 10:43] AlekseyMarchuk commented on #1688
The description might be wrong since I don't see any timeouts reported

[2020-11-18 10:53] aohzju commented on #1687
Byt the way, the utility tool setpci can update the MSI-X control register from command line. Doesn't setpci update the register via vfio-pci as well?

[2020-11-18 11:08] spdkci commented on #1686
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_30444.html

[2020-11-18 11:09] spdkci commented on #1686
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_30443.html

[2020-11-18 11:18] spdkci commented on #1347
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_30448.html

[2020-11-18 11:28] spdkci commented on #1643
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_30424.html

[2020-11-18 12:25] spdkci commented on #1347
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_30458.html

[2020-11-18 12:55] mikeBashStuff commented on #1673
https://review.spdk.io/gerrit/c/spdk/spdk/+/5058 - points at the latest commit from the master as of now. Tested under different distros, shipped with different versions of the compiler. Seems to be stable.

[2020-11-18 13:39] tomzawadzki commented on #1688
Rather than `vagrant destroy` hang, this looks like the fio_nvme exited with error (not sure why it wasn't caught by traps/backtraces). Not sure of the reason for failure.

Checking out a build right before this one:
[code]

[2020-11-18 14:06] jimharris commented on #1687
This is the same root cause as #1631.

setpci has no dependencies on vfio-pci.  setpci can manipulate PCI config registers for any PCI device, regardless of what driver that device is bound to.

You could try integrating pcilib or libpciaccess into your test application if you need to directly manipulate these MSI-X registers.

[2020-11-18 14:06] #1687 closed

[2020-11-18 14:08] jimharris commented on #1684
I'm closing the issue.  It will only change the status of this issue - all of the details will remain here for tracking purposes in the future.

[2020-11-18 14:08] #1684 closed

[2020-11-18 14:17] spdkci commented on #1686
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_30459.html

[2020-11-18 14:43] spdkci commented on #1347
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_30464.html

[2020-11-18 16:04] spdkci commented on #1675
Another instance of this failure. Reported by @floatious. log: https://ci.spdk.io/public_build/autotest-per-patch_30477.html

[2020-11-18 16:24] mgerdts opened #1689 "setup.sh should load required iommu module"
## Expected Behavior

After running `scripts/setup.sh`, I should be able to use NVMe drives.

## Current Behavior

The nvme driver is unbound and the vfio driver is bound, but while starting `spdk_tgt` I see:

[code]

While trying to attach an NVMe controller:

[code]

## Possible Solution

At least on CentOS 8.2, add `modprobe vfio_iommu_type1` to `setup.sh`.  Alternatively (Additionally?), docum

[2020-11-18 16:34] jimharris commented on #1689
Hi @mgerdts,

Specifically on your comment here:

env PCI_WHITELIST=${BDF:-**set_BDF_or_your_nvme_root_disk_will_be_toast_not_that_it_ever_happened_to_me**} scripts/setup.sh

Has this happened to you recently?  setup.sh tries to check if there are active mounts on an nvme ssd before trying to unbind it.  If there's a bug there, we need to fix it.

-Jim

[2020-11-18 16:59] mgerdts commented on #1689
Yeah, I got bit by that.  I ran `setup.sh` without any options and my root disk disappeared.

It may be that I ran it in a privileged docker container, which would make it rather hard for the script to do the right thing.  With that understanding, I'll tone down the snark in the description.

[2020-11-18 17:17] jimharris commented on #1689
We hadn't considered the privileged docker container case when making those setup.sh checks.  If you're willing I'd love to see if we could figure out how to guard against unmounting the root disk in that case too.  Currently we use info from /sys/block and /proc/sys/mountinfo to make decisions.  What do those look like in a privileged docker container?

Tagging @mikeBashStuff since I'd be leaning

[2020-11-18 18:10] mgerdts commented on #1689
I don't see a significant difference `/sys/block/nvme*` nor `/proc/self/mountinfo`.  Perhaps the problem here is that lvm is used.

[code]

Maybe a better/additional check would be:

[code]

The trailing `/` on the `/sys/bus/pci/devices/<bdf>/` is important so that it follows that symlink.

[2020-11-18 21:13] peluse commented on #1187
@jimharris sure...

[2020-11-18 22:12] peluse commented on #1187
@mikeBashStuff can you provide me the simplest possible steps to reproduce this on my dev system?  thanks

[2020-11-18 22:31] peluse commented on #1671
So here's why: https://github.com/DPDK/dpdk/commit/5284adad3e95025f9901869f581c8c04ea642d32#diff-dcdb3b94304fc6382b5be08f413c61223ad7377729841d5e2a0ac69dcd5ee746

Should be a simple rename and its changed from a ptr to a u64.  Will take care of it shortly

[2020-11-18 22:47] peluse commented on #1671
@karlatec can you try this one: https://review.spdk.io/gerrit/c/spdk/spdk/+/5159 I can't get my DPDK master configured/built right for some reason...

[2020-11-18 23:46] aohzju commented on #1687
Thanks, Jim. Perhaps the spdk APIs should return a value indicating the failure.

[2020-11-19 00:27] jimharris commented on #1687
The SPDK APIs do return status from these APIs.  SPDK is returning the status it receives from the corresponding DPDK rte_pci_write_config call.

If you're already checking this return status, and it's returning 0, could you step through or instrument the rte_pci_write_config() code to see where things might be going wrong?

[2020-11-19 02:24] aohzju commented on #1687
I drilled it down until the  low level function pwrite64, which returns 0 in this case.
![image](https://user-images.githubusercontent.com/64340020/99612837-5fa07180-2a51-11eb-96a8-90a56b181dfa.png)

[2020-11-19 02:52] gwnet commented on #1683
@rafalste could you please help confirm the commit id that @karlatec should use?

[2020-11-19 03:02] gwnet commented on #1668
@mgerdts @rafalste guys
@mgerdts may I know if you can try OCF without NVMeOF, NVMeoF can use any bdev, OCF device is one bdev, so it should be decoupled two things. if you can reproduce the issue without NVMeOF, our OCF developer can easily debug it.
@rafalste please ping me internally, I do have only one RDMA system, but it is for other testing now. we can sync more. if you have RDMA HW system,

[2020-11-19 03:24] yidong0635 opened #1690 "running bdev_io_wait crashed"
# Issue
[code]
[code]

## Context (Environment including OS version, SPDK version, etc.)

5.0.16-100.fc28.x86_64
commit d73077b84a71985da1db1c9847ea7c042189bae2

[2020-11-19 03:54] spdkci commented on #1690
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_30516.html

[2020-11-19 04:43] jimharris commented on #1687
Thanks @aohzju.  I guess there's not much DPDK or SPDK can do in that case to return an error indication.  Maybe the vfio-pci driver could return error somehow when the pwrite64 tries to write to the MSI-X capability register?  But I haven't looked into it in any detail.

[2020-11-19 06:53] yidong0635 commented on #1690
It seems `keep alive timeout` and then ```CQ error, abort requests after transport retry counter exceeded``` waiting for a long time.
[code]
[code]

[2020-11-19 07:26] karlatec commented on #1686
Already updated local mirror repositories to speed up git fetch/clone operations.

[2020-11-19 08:28] AlekseyMarchuk commented on #1688
Thanks Tomek, you are right, I updated the description of this issue. Let's keep it open for a couple of days to see if there will be another occurrences of this issue

[2020-11-19 08:32] spdkci commented on #1686
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_30488.html

[2020-11-19 08:49] mikeBashStuff commented on #1689
@jimharris @mgerdts I will take a look at it. I admit, I didn't take lvm|md devices into consideration while doing recent rewrites - I guess that was the itch at the back of my head a I had for some time now, trying to tell me I forgot about something. Since this doesn't seem to be related to the main problem reported under this issue though (the missing iommu extension) I will open a separate iss

[2020-11-19 08:58] mikeBashStuff opened #1691 "setup.sh may unbound nvme device from the kernel when it's part of mounted lvm|md device"
When given block device attached to a nvme controller (same applies to virtio) is part of the lvm|md setup, it will miss a mountinfo check, subsequently being marked as free to use. We should look up virtual devices it may be attached to as well. Reported under #1689.

[2020-11-19 09:20] gwnet commented on #1668
@mgerdts hello can you reproduce the issue with bdevperf, we currently do not have RDMA environment to debug exactly your issue. but NVMeOF and OCF should be decoupled two things. could you please verify OCF part with bdevperf local test first?

[2020-11-19 09:49] #1613 closed

[2020-11-19 09:49] john4477 opened #1692 "ftl write error with spdk 3.0.0"
## Expected Behavior

When I run test/ftl/restore.sh, it is successful to write ppa sequentially.
## Current Behavior

ppa from 0 to f is written successfully.
After a few batch of writes(ppa : 1000000 ~ 100000f , 2000000 ~ 200000f ,~, 700000 ~ 700000f) are performed,
writing ppa : 10 is failed.

VM side
[code]

qemu (spdk-3.0.0) side
[code]
## Possible Solution
nand rule is that ppa must be writt

[2020-11-19 10:07] mikeBashStuff commented on #1691
Potential fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/5167
[code]

[2020-11-19 10:11] mikeBashStuff commented on #1689
@mgerdts  https://review.spdk.io/gerrit/c/spdk/spdk/+/5167 - this patch should prevent `setup.sh` from hijacking the nvme|virtio devices when they are part of a virtual device setup, would you kindly take it for a spin and see if it works on your end? I pasted results from my tests here: https://github.com/spdk/spdk/issues/1691#issuecomment-730266616

[2020-11-19 10:21] rafalste commented on #1683
@gwnet @karlatec I can see that after running `git submodule update --init` on SPDK sources, the last OCF commit is indeed `02f6fc3`, so I suppose this is the right one. Try this one and let us know if it helped.

[2020-11-19 11:20] wawryk opened #1693 "lcov takes considerable time to process clang coverage"
Building spdk with clang hang on lcov.

How to enable lcov quickly with the current SPDK autorun scripts:
1.  Install llvm
2.  Create llvm-gcov.sh :
[code]
3. Add to `LCOV_OPTS`:
[code]
Test configuration:
[code]
Above test configuration run by `autorun.sh` script takes something about one hour.

Removing `-q` parameter from lcov_opts allow me to figure out, that this files consumed most of time:

[2020-11-19 11:39] karlatec commented on #1683
@rafalste @gwnet I am aware that OCF 02f6fc3 (currently checked out after SPDK git submodule update --init) is OK.
The issue I created is specifically about using OCF master instead of top of v20.3.1.

[2020-11-19 13:04] rafalste commented on #1683
@karlatec OCF in master branch have some API changes, so it won't work with SPDK at the moment.

[2020-11-19 14:13] jimharris commented on #1613
Thanks @nconnolly1 for all of these patches!

@wawryk could you retest on latest master?  Note that this issue was auto-closed since the patches mention that they fix this issue.  So please reopen if you still see any problems.

[2020-11-19 14:14] tomzawadzki commented on #1683
@gwnet @rafalste In case of some dependencies test are being performed for their upstream. This is to get some heads up for when the version is moved forward. This is common for components like DPDK, QEMU, OCF etc.

This is not an issue _right now_, but if the OCF version is ever to be moved up it has to be addressed. @karlatec thanks for reporting this.

Let's leave it up and @rafalste can handle

[2020-11-19 14:37] mgerdts commented on #1668
I've been hitting some snags even getting nvme (e.g. #1689) and ocf to work again.  Currently:

[code]

Leads to:

[code]

The key change since I was able to set up a cache device is I run `dnf update -y` and moved from a CentOS 8.0ish kernel to a CentOS 8.2 kernel.

I'm still poking at this, but I have a busy day ahead of me.  It may be a day or two before I can reproduce again.

[2020-11-19 14:57] gwnet commented on #1668
@mgerdts cool, I think you already reproduce the issue without NVMeOF. @rafalste could you please help to see if you can reproduce with mgerdts steps, this is has nothing to do with NVMeOF now. :)

[2020-11-19 15:02] mgerdts commented on #1668
My plan was to access it via nbd rather than nvmeof to try to reproduce. In
my earlier test the difference between reproducing and not was whether the
cache was on an nvme device via vfio.

On Thu, Nov 19, 2020, 8:57 AM gwnet <notifications@github.com> wrote:

[2020-11-19 15:14] jimharris commented on #1693
Marking this as an enhancement request.  Maybe also add some additional information in the description on how we use gcov today and why you want to add llvm/lcov support.

Can you confirm exactly where you hit this delay?  Is it when running the various $LCOV commands near the end of test/unit/unittest.sh?

[2020-11-19 17:32] peluse commented on #1671
@karlatec so I've got the info on what to change but I'm having "issues" building SPDK with out of tree DPDK.  I cloned a fresh DPDK repo and built using their standard directions here https://doc.dpdk.org/guides/linux_gsg/build_dpdk.html and DPDK builds OK but then when I try to build SPDK using --with-dpdk=<path to the build output dir> I get a shitload of errors mostly like these:

make[3]: ***

[2020-11-19 21:08] peluse commented on #1647
@jimharris I don't see anything wrong with the LBA range code and could not repro locally.  I added the LBA range info per thread to the debug output and changed the seed data from random to LBA to maybe provide a clue if it happens again.  See https://review.spdk.io/gerrit/c/spdk/spdk/+/5177

[2020-11-20 07:20] gwnet opened #1694 "SPDK fio plugin cannot show spdk_top and spdk iostat"
it is better we can see spdk_top and spdk iostat for SPDK fio plugin

08:46:49	# fio_bdev /root/repos/qlc/war/test/ftl/config/fio/por.fio
 08:46:49	# local fio_dir=/root/repos/fio
 08:46:49	# local bdev_plugin=/root/repos/qlc/war/build/fio/spdk_bdev
 08:46:49	# local asan_lib
  08:46:49	# ldd /root/repos/qlc/war/build/fio/spdk_bdev
  08:46:49	# grep libasan
  08:46:49	# awk '{print $3}'
 08:46:49

[2020-11-20 07:21] gwnet commented on #1694
@Comphix could you please assign this to me? I would like to try to solve this.

[2020-11-20 07:29] yidong0635 opened #1695 "[ubuntu16/18-vg-autotest ] unable to access 'https://review.spdk.io/spdk/spdk/'"
# Issue
00:00:28.842  + set +x
00:01:06.767  warning: redirecting to https://review.spdk.io/gerrit/spdk/spdk/
00:02:39.135  fatal: unable to access 'https://review.spdk.io/spdk/spdk/': gnutls_handshake() failed: Error in the pull function.
00:02:39.148  /tmp/jenkins7447453100779926008.sh: line 38: refs: bad array subscript
00:02:39.165  Build step 'Execute shell' marked build as failure
00:02:39.2

[2020-11-20 07:32] spdkci commented on #1695
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_30605.html

[2020-11-20 08:16] wawryk commented on #1693
The biggest delay I noticed during this command in `test/unit/unittest.sh`:
[code]

[2020-11-20 12:46] tomzawadzki commented on #1671
Maybe the way the vs_dpdk jobs build might be helpful. See https://github.com/spdk/spdk/blob/master/autobuild.sh#L50

Note that even if just standard build of DPDK should work, the `build_native_dpdk` aims for minimal required set of drivers/functionality. Similar to the way DPDK submodule in SPDK is compiled.

[2020-11-20 13:21] mikeBashStuff opened #1696 "nvmf_example test hangs on wait() [transport=rdma]"
[code]

Configuration:
[code]

Either run directly by executing `test/nvmf/nvmf.sh` or through `autotest.sh`,  the entire suite hangs indefinitely on `nvmf_example` test.  This seems to be related to the latest kernel version available for fedora31 since the very same test passes just fine under kernel 5.3 and 5.6. This concerns rdma transport (tcp works just fine).

[2020-11-20 15:20] AlekseyMarchuk commented on #1696
Hi, is it possible to attach to nvmf process with gdb and check where it hangs? E.g. execute `thread apply all bt`

[2020-11-20 15:32] mikeBashStuff commented on #1696
@AlekseyMarchuk Appreciate the response. No problem, here's the output:
[nvmf_gdb_bt.txt](https://github.com/spdk/spdk/files/5574449/nvmf_gdb_bt.txt)

Let me know if there's anything else needed to troubleshoot this further. :)

[2020-11-20 18:56] bharatpotnuri opened #1697 "QP not destroyed with SPDK NVMEoF target"
## Current Behavior
Hi All,
When running SPDK NVMEoF target run over iWARP, I see that .destroy_qp() is not invoked while connection teardown and results in QP leak.
I see this behavior only with SPDK target and not other user rdma applications.

below logs are seen on target side per connection:
[2020-11-21 00:16:05.310968] rdma_verbs.c: 119:spdk_rdma_qp_disconnect: *ERROR*: rdma_disconnect faile

[2020-11-21 01:32] gwnet commented on #1694
@Comphix it looks like I cannot create my own dev branch. to commit the fix from our private repo that solve this problem.
intel@wcp116:~/wayne/fiospdk/spdk$ git checkout -b spdk_war_wayne_fiostat
Switched to a new branch 'spdk_war_wayne_fiostat'
intel@wcp116:~/wayne/fiospdk/spdk$ git push origin spdk_war_wayne_fiostat
Username for 'https://github.com': gwnet
Password for 'https://gwnet@github.com

[2020-11-21 01:36] jimharris commented on #1694
Hi @gwnet,

Please take a look at https://spdk.io/development/. It describes the process for submitting patches for review.

Jim

[2020-11-23 00:28] gwnet commented on #1694
@jimharris thank you so much.

[2020-11-23 01:49] gwnet commented on #1683
@karlatec can we go head close this issue?

[2020-11-23 02:00] gwnet commented on #1668
@mgerdts notice you update kernel from 8.0 to 8.2, so at CentOS8.0, it works fine right?

[2020-11-23 02:25] gwnet commented on #1694
@Comphix could you please help review. I follow the SPDK development steps, I saw UT passed on my local machine.

Writing objects: 100% (6/6), 740 bytes | 740.00 KiB/s, done.
Total 6 (delta 4), reused 0 (delta 0)
remote: Resolving deltas: 100% (4/4)
remote: Counting objects: 18664, done
remote: Processing changes: refs: 1, new: 1, done
remote:
remote: SUCCESS
remote:
remote:   https://review.spdk.

[2020-11-23 06:18] yidong0635 commented on #1690
I found that every test of bdevperf was disturbed by the before one , due to the ctrlr associated timer shutdown would disturb the next one. it would take several seconds , we should sleep for a while between them.

[2020-11-23 08:51] linwenbo opened #1699 "iscsi_tgt segmentation fault"
use iscsi_tgt as iscsi target. use 2 initiator to test performance and I got segmentation fault on target node.

## Current Behavior
(gdb) bt
#0  0x00000000004a2ca9 in spdk_iscsi_task_is_read (task=0x20002b8818c0) at /root/spdk.git.149/lib/iscsi/task.h:164
#1  0x00000000004a51d5 in spdk_iscsi_task_cpl (scsi_task=0x20002b8818c0) at conn.c:1115
#2  0x00000000004c25de in spdk_scsi_lun_complete_task (

[2020-11-23 14:09] cighao opened #1700 "[performance] Read performance drop when increase the number of threads from 1 to 2"
Hardware: Intel P4610 1.6TB

When I use one thread to test the read performance, the latency is only 6.03 us. But when increasing the number of threads to 2, the latency will increase to 51.85us. I don't understand why there is such a big increase when only adding one more thread. Below is the results,

![image](https://user-images.githubusercontent.com/10767282/99970941-9954dd80-2dad-11eb-97e4-c9

[2020-11-23 14:18] jimharris commented on #1700
Hi @cighao,

Please retry your test, but with randread instead of read.

Some Intel SSDs will do prefetching when it detects QD=1 sequential read I/O.  This is why you are getting 6us latency for the single thread case - normally NAND latency is 50us+.  When you go to two threads, it is no longer QD=1 (it is QD=2 across two threads) and you see the more expected 50us latency.

Thanks,

Jim

[2020-11-23 14:32] cighao commented on #1700
Hi @jimharris ,

Thanks for your answer. Under rand read, the latency is about 50+us. It should be because of prefetching.  Thanks.

[2020-11-23 14:41] jimharris commented on #1700
Thanks for retesting @cighao.  May we close this issue?

[2020-11-23 15:02] mgerdts commented on #1689
Thanks, @mikeBashStuff.  I have confirmed that in-use devices are detected and I no longer lose my root file system while not running in a container.

When I tried to run it in a privileged container, `setup.sh` failed in an unrelated way due to an unconditional `modprobe uio` and missing content from the container's `/lib/modules`.  That's probably for the best, as I'm pretty sure the fix does no

[2020-11-23 15:06] jimharris commented on #1689
Thanks @mikeBashStuff and @mgerdts for the updates on this.

@mikeBashStuff can you take a look at updating setup.sh to address the original issue reported by @mgerdts?

[2020-11-23 15:15] #1700 closed

[2020-11-23 16:54] mikeBashStuff commented on #1689
@mgerdts Appreciate your feedback. :) I will proceed with closing the #1691. And I agree. Currently, `setup.sh` doesn't have any awareness as to which namespaces it's working with. That said, it's still possible to see host's mount namespace from within the container so technically we could make it a bit smarter in that department. I am not sure if it's worth the effort though (this would probably

[2020-11-23 16:54] mikeBashStuff commented on #1691
Patches merged, closing.

[2020-11-23 16:54] #1691 closed

[2020-11-24 01:02] shuhei-matsumoto commented on #1699
Hi @linwenbo

Thank you for posting this issue. If possible, will you run the same test on SPDK 20.10 or the latest master and check if you still see the same issue? We have added a couple of critical fixes after 19.01.

-Shuhei

[2020-11-24 01:17] shuhei-matsumoto opened #1701 "SPDK NVMe CLI hung up only when formatting specific vendor's NVMe SSD just after power on"
My colleague (SPDK end user) reported an issue.

When we format a specific vendor's NVMe SSD (Kioxia, formerly Toshiba Memory) via SPDK NVMe CLI, SPDK NVMe CLI hung up.

## Expected Behavior

Retry after forceful termination

[code]

## Current Behavior

[code]
## Possible Solution

## Steps to Reproduce

1. Power on NVMe SSD drive.
2. format by SPDK NVMe CLI

After 12 hours without any response,

[2020-11-24 02:28] ryderhsu0129 opened #1702 "No response to reservation register action in test reserve"
We run reservation test(test/nvme/reserve/reserve) but no response from controller,
we are sure that drive supports reservation feature through nvme cli command lines.
The cause seems to be unable to poll completion successfully so enter the infinite polling procedure.
attach the log displayed by the reserve test:

[code]
please help to clarify this issue, thanks!

[2020-11-24 04:02] shuhei-matsumoto commented on #1701
I'm asking my colleague to narrow down the version from which the issue occurs. I will share any update here.

[2020-11-24 06:29] yidong0635 commented on #1702
@ryderhsu0129  Can you debug using GDB to see it blocked at what step on your side?

[2020-11-24 06:36] ryderhsu0129 commented on #1702
@yidong0635
it's unable to poll completion successfully so enter the infinite polling procedure(while loop).

[code]

[2020-11-24 07:27] changpe1 commented on #1702
Is this related with your drives? you may add a debug log in reservation_ns_completion() to see the reservation register command is executed before polling the IO queue.

[2020-11-24 07:38] changpe1 commented on #1697
I don't see .destroy_qp(), can you clarify which function?

[2020-11-24 07:40] AlekseyMarchuk commented on #1696
@mikeBashStuff I didn't find anything useful in the backtrace :). I'll try to find a host/VM with Fedora31 to debug this problem

[2020-11-24 08:51] bharatpotnuri commented on #1697
Update:
-> I see this behavior only if SRQ is used while creating RDMA transport.
-> QPs are destroyed once transport is removed by killing the `nvmf_tgt` process.

Now I am not sure if the QPs need to be destroyed explicitly calling ibv_destroy_qp().

[2020-11-24 08:58] yidong0635 commented on #1690
communicated with @glodfish-zg .
verified, need to change the default MIN_KEEP_ALIVE_TIMEOUT_IN_MS.
bdevperf doesn't use its own spdk_nvme_ctrlr_process_admin_completions.
bdevperf test doesn't have a item to set the connect_cmd->kato.

[2020-11-24 09:05] bharatpotnuri commented on #1697
I meant, the HW QP resources.
In general user rdma applications the RDMA connections are closed using rdma_disconnect() and RDMA resources like QP/SRQ are destroyed or freed when application is closed via
ib_uverbs_close() --> ib_destroy_qp_user() --> HW specific .destroy_qp() handlers.

Here in case of SPDK NVMF target, SRQ is created while transport is created and is freed only when nvmf_tgt app

[2020-11-24 09:10] changpe1 commented on #1697
I see, indeed SPDK doesn't call rdma_destroy_qp(). @AlekseyMarchuk does this cause potential leaks?

[2020-11-24 09:33] ryderhsu0129 commented on #1702
@changpe1

We only have one drive that supports reservation feature,
and the result of testing it on the nvme-cli is successful.

We added a debug log in reservation_ns_completion() but the log was not printed,
do you have any other suggestions to clarify this problem? thanks!

[2020-11-24 09:48] changpe1 commented on #1702
Can you clear your drive's reservation and run again? I guess if the drive contains old reservation.

[2020-11-24 10:16] AlekseyMarchuk commented on #1697
Let me check it

[2020-11-24 10:41] ryderhsu0129 commented on #1702
@changpe1

I'm sure that reservation has been cleared,
even if it is not cleared,
It should also receive the error status code, not no response?

[2020-11-24 10:55] AlekseyMarchuk commented on #1697
@bharatpotnuri I don't see resource leaks in rdma. I added several logs and checked that ibv qpair is created and later destroyed:
[code]

You might miss qpair destruction (rdma_destroy_qp or ibv_destroy_qp) because it is done in SPDK rdma library - `lib/rdma/rdma_verbs.c:103`. This library is an abstraction over regular verbs interface and Mellanox specific direct verbs interface. Verbs implement

[2020-11-24 13:21] bharatpotnuri commented on #1697
Thanks for trying it out @AlekseyMarchuk

I see different thing happening on my setup:
Here I ran nvmf_tgt under gdb and set break at `spdk_rdma_qp_destroy`, spdk_rdma_qp_destroy() is not invoked in my case.

[code]

looking further.

[2020-11-24 17:15] bharatpotnuri commented on #1697
This check is at `lib/nvmf/rdma.c` added by this commit ` 85ff3fcea6 : rdma: Do not use the poller to handle the qpair exiting`, is avoiding calling nvmf_rdma_qpair_destroy()
[code]

[2020-11-25 01:22] optimistyzy commented on #1699
@yidong0635 Can you replace this issuse with SPDK master branch?  //Currently, we cannot use configuration file, you need to transfer the configuration into RPC or json.   Thanks.

[2020-11-25 01:42] linwenbo commented on #1699
I runed the same test on branch v20.10  and  everything OK.

[2020-11-25 01:42] #1699 closed

[2020-11-25 01:44] shuhei-matsumoto commented on #1699
Thank you @linwenbo  We all are good to know that.

[2020-11-25 01:46] optimistyzy commented on #1699
@yidong0635  you do not need to test it again since this issue is closed. And @linwenbo confirms that no issues are related with the latest SPDK version.

[2020-11-25 02:16] glodfish-zg commented on #1681
patch has been abandoned. So close this issue.

[2020-11-25 02:16] #1681 closed

[2020-11-25 02:30] gwnet commented on #1694
@changpe1 before I commit code, it run the local build and UT, could you please help check why build server fail to build that?

[2020-11-25 02:36] gwnet commented on #1692
@john4477 could you please help reproduce this without qemu? that will be easy for us to debug.

[2020-11-25 02:39] gwnet commented on #1683
temp close this for now. if has any new questions, please reopen it

[2020-11-25 02:39] #1683 closed

[2020-11-25 02:41] wanqunintel opened #1703 "[NVMe-oF RDMA]nvme_rdma_connect: *ERROR*: RDMA connect error -99 using fio plugin spdk_bdev when qd>1"
Running fio_plugin with spdk_bdev will fail to connect with RDMA transport when qd>1
## Expected Behavior
Should pass

## Current Behavior
[2020-11-20 15:05:22.771868] accel_engine.c: 692:spdk_accel_engine_initialize: *NOTICE*: Accel engine initialized to use software engine.
[2020-11-20 15:05:24.443045] nvme_rdma.c:1097:nvme_rdma_connect: *ERROR*: RDMA connect error -99
[2020-11-20 15:05:24.44310

[2020-11-25 02:42] gwnet commented on #1253
@rafalste could you reproduce this? if no, is it OK we temp close this?

[2020-11-25 03:25] ryderhsu0129 commented on #1702
I use the same drive and commands through the linux's ioctl mechanism to test reservation feature, it seems to be working well,
are there other ways to try to clarify this issue?

[2020-11-25 04:20] changpe1 commented on #1702
Can you show me the output from "nvme resv-report" using the kernel driver?
I guess your drive may contain the old reservation information before running this test utility.

[2020-11-25 05:53] ryderhsu0129 commented on #1702
@changpe1

the output from "nvme resv-report":
[code]

If my drive contain the old reservation,
I should get a status of reservation conflict when I execute test utility that try to re-register reservation key, not no any response.

[2020-11-25 06:03] changpe1 commented on #1702
Yeah, your drive is in clear state.  can you show me the "nvme resv-register" command line ? the test utility is very easy, it build a reservation register command and send to the drive, looks like the drive didn't return a response after the submission.

[2020-11-25 06:19] ryderhsu0129 commented on #1702
@changpe1

@changpe1

#issue nvme-cli resv-register cmdline
`$nvme resv-register /dev/nvme0 -n 1 -r 0 -k 1 -c 0 -p 2 `

#console show as below
`NVME Reservation success`

because the behavior of the test is so simple, I can’t find out the cause of the problem.
can you help retry to run the test utility on your drive is it ok?

[2020-11-25 06:23] AlekseyMarchuk commented on #1703
Hello,

Can you provide more information on your setup such as OS and kernel versions of both target and initiator hosts (you wrote Fedora29 with kernel 5.4.5 - is it target or initiator or both hosts?), how your hosts are connected (back 2 back or via switch?)
Could you also clarify your NIC model? Are you using RoCE/IB? If you are using Mellanox NICs then I would recommend you to install latest

[2020-11-25 06:27] AlekseyMarchuk commented on #1697
@bharatpotnuri what is the vendor ID in your case? I'm not familiar with iWARP but this check was added for soft roce - this driver doesn't generate LAST_WQE_REACHED ib event needed to cleanup the qpair. No sure but maybe iWARP also doesn't support this event. If it doesn't support it then we can detect iWARP (don't know how yet) and allow qpair destruction without LAST_WQE_REACHED event. Or as an

[2020-11-25 06:30] changpe1 commented on #1702
we have daily tests for this utility:

 05:19:16	# /home/storage/workspace/opal-end-to-end-reservation-autotest/spdk/test/nvme/reserve/reserve
[2020-11-25 05:19:16.396442] Starting SPDK v21.01-pre git sha1 0d98a94901 / DPDK 20.08.0 initialization...
[2020-11-25 05:19:16.396512] [ DPDK EAL parameters: [2020-11-25 05:19:16.396524] reserve [2020-11-25 05:19:16.396532] -c 0x1 [2020-11-25 05:19:16.3965

[2020-11-25 06:39] gwnet commented on #1694
Writing objects: 100% (18/18), 1.84 KiB | 1.84 MiB/s, done.
Total 18 (delta 12), reused 0 (delta 0)
remote: Resolving deltas: 100% (12/12)
remote: Counting objects: 18706, done
remote: Processing changes: refs: 1, new: 2, updated: 1, done
remote:
remote: SUCCESS
remote:
remote:   https://review.spdk.io/gerrit/c/spdk/spdk/+/5194 add rpc server for fio plugin for spdk top iostat
remote:   https://re

[2020-11-25 06:48] ryderhsu0129 commented on #1702
@changpe1

thanks for providing this information.
So I temporarily don’t know why my drive can't run the test utility,
but can run on kernel driver.

[2020-11-25 06:51] changpe1 commented on #1702
The drive should give a response anyway, from your tests, the drive just keep silent for this command.

[2020-11-25 07:05] bharatpotnuri commented on #1697
In may case it is 0x1425. I doubt if this check is correct. Vendor ID for softroce is 0xFFFFF. Vendor id is non zero for other vendor devices too. This check passes for all devices.
I am not sure about this LAST_WQE_REACHED event. I am checking that part.
Most importantly above check was added to prevent double free. Now with commit `fdf2490a32412    nvmf/rdma: Don't destroy qpair if rdma_accept f

[2020-11-25 08:07] wanqunintel commented on #1703
Hi， Alex
I was running Fedora29 with kernel 5.4.5 both on target and host. They are connected with switch. I am using MLX NIC(Mellanox Technologies MT27700 Family [ConnectX-4]) for this example, but i don't think this is related with the NIC, it also happens with other vendors NIC. should not be hardware related.

[2020-11-25 08:34] AlekseyMarchuk commented on #1703
The issue might be related to kernel ib driver. For example you can refer to this issue https://github.com/spdk/spdk/issues/1696 - the issue only happens on Fedora31. I'll check your scenario on my setup but as I remember it works fine.

[2020-11-25 08:45] AlekseyMarchuk commented on #1697
A small correction, if we are talking about this check `if (rqpair->srq != NULL && rqpair->device->attr.vendor_id != 0 && rqpair->last_wqe_reached == false)` then it was added due to softroce doesn't send LAST_WQE_REACHED event, so we can't destroy a qpair when we are using softroce with SRQ. Regarding a commit that you mentioned - it covers the case when rdma_accept fails and in this case NVMF qp

[2020-11-25 09:04] zRegle commented on #1442
Thanks, the problem is resolved.

[2020-11-25 09:04] #1442 closed

[2020-11-25 09:36] bharatpotnuri commented on #1697
Right, I was talking about the check. The commit `85ff3fcea6` that added the check has multiple reasons. from the commit description, it looks like this is solving a segfault.
I think the check for softroce isn't working as expected and the segfault is solved by your `fdf2490a32412`.
Right check would be something like this:
`
if (rqpair->srq != NULL && rqpair->device->attr.vendor_id == 0XFFFFFF &

[2020-11-25 11:59] AlekseyMarchuk commented on #1697
Could you clarify where you found that softroce vendor id is 0XFFFFFF? I checked driver's code and as I see,  when we create a softroce device we don't initialize attr.vendor_id, so it remains 0 after kzmalloc.
Also let me clarify that this check `if (rqpair->srq != NULL && rqpair->device->attr.vendor_id != 0 && rqpair->last_wqe_reached == false)` can be re-written to `if (rqpair->srq != NULL && r

[2020-11-25 12:12] bharatpotnuri commented on #1697
@AlekseyMarchuk
I see it from linux softroce code `drivers/infiniband/sw/rxe/rxe_param.h`
[code]
Here in `drivers/infiniband/sw/rxe/rxe.c`, it is initialized.
[code]

[2020-11-25 12:29] bharatpotnuri commented on #1697
@AlekseyMarchuk  yeah I understand your point. last_wqe_reached is always 0 in my case and I see from code that Chelsio devices doesn't support LAST_WQE_REACHED. I trying to confirm if we can safely say all iwarp devices dont support LAST_WQE_REACHED.

[2020-11-25 12:48] mikeBashStuff commented on #1689
@mgerdts @jimharris I have submitted https://review.spdk.io/gerrit/c/spdk/spdk/+/5259 targeting this issue. However, I am not sure if this is really needed. Please, see the comment in the patch. I've looked up `vfio-pci` module dependencies on couple of distros, including `centos8`, and on all of them, if not directly compiled into the kernel, `vfio_iommu_type1` is listed in `vfio-pci` dependencie

[2020-11-25 13:31] spdkci commented on #1641
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_30785.html

[2020-11-25 14:33] bharatpotnuri opened #1704 ""rdma_disconnect failed" error logs seen on SPDK NVMF target"
Hi All,
When running SPDK NVMEoF, below logs are seen on target side per connection during disconnect:
[2020-11-21 00:16:05.310968] rdma_verbs.c: 119:spdk_rdma_qp_disconnect: ERROR: rdma_disconnect failed, errno Invalid argument (22)

## Current Behavior
below error logs for each connection disconnect:
[2020-11-25 19:49:43.406152] rdma_verbs.c: 119:spdk_rdma_qp_disconnect: *ERROR*: rdma_disconnect

[2020-11-25 17:31] spdkci commented on #1675
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_30779.html

[2020-11-25 19:29] shuhei-matsumoto commented on #1676
Patches were merged.

[2020-11-25 19:29] #1676 closed

[2020-11-26 01:14] wanqunintel commented on #1703
Hi, Alex
I don't think this is related to the kernel ib driver as i was using exactly the same kernel and OS, which passed for the SPDK test in earlier version.

[2020-11-26 01:15] wanqunintel commented on #1703
And this is randomly happens with QD>1, if you do a loop with QD=1,4,8,16,32,128 for different pattern, then it'll be easier to reproduce.

[2020-11-26 04:08] gwnet commented on #1694
I will create one intel account and resubmit these patches into one patch again. please stay tuned.

[2020-11-26 08:52] gwnet commented on #1694
please review this one
[sudo] password for intel:
Pushing to review https://review.spdk.io/spdk/spdk
Enumerating objects: 11, done.
Counting objects: 100% (11/11), done.
Delta compression using up to 112 threads
Compressing objects: 100% (6/6), done.
Writing objects: 100% (6/6), 755 bytes | 755.00 KiB/s, done.
Total 6 (delta 4), reused 0 (delta 0)
remote: Resolving deltas: 100% (4/4)
remote: Count

[2020-11-26 09:27] AlekseyMarchuk commented on #1697
Thanks, I was looking at kernel version `Linux 5.5-rc1` and there was no such definition and initialization of `rxe->attr.vendor_id`. That was added in 0184afd15a141d7ce24c32c0d86a1e3ba6bc0eb3 in April. I think we need to take it into account in SPDK

[2020-11-26 10:57] optimistyzy commented on #1485
https://review.spdk.io/gerrit/c/spdk/spdk/+/5293

[2020-11-26 11:13] tomzawadzki commented on #1574
The two patches above were merged documenting the behavior.

[2020-11-26 12:47] AlekseyMarchuk commented on #1703
@wanqunintel I tried to reproduce this issue about 20 times with different qdepth values and all iterations passed. But I don't have a host with Fedora31 so I used Ubuntu 18.04 with mofed MLNX_OFED_LINUX-4.7-1.0.0.1. I plan to run VM with Fedora31 to check it in the same environment.
Error -99 is caused by timeout on waiting for RDMA_CM_EVENT_ESTABLISHED event. The timeout is 1 second. While I'm t

[2020-11-26 13:26] #1574 closed

[2020-11-26 13:50] karlatec commented on #1671
Hey @peluse, sorry missed the message.
To build SPDK with out of tree DPDK create a ~/autorun-spdk.conf file:
[code]
And then do `spdk/autorun.sh ~/autorun-spdk.conf` or  `spdk/autobuild.sh ~/autorun-spdk.conf`
You do not need to clone or compile DPDK yourself, spdk/autobuild.sh will take care of that.

[2020-11-26 14:01] AlekseyMarchuk commented on #1704
I would like to clarify a part of the issue description about the disconnect process. We use RDMA_CM to create, connect and disconnect qpairs. It implements "out of band communication".
When the initiator starts the disconnect process, it should first call rdma_disconnect. This function moves initiator's qpair to error state and sends RDMA_CM_EVENT_DISCONNECTED to the target and after that initiat

[2020-11-27 01:41] shuhei-matsumoto commented on #1701
My colleague identified from which version this issue occurred. It looks that this issue occurs from SPDK18.07.

[2020-11-27 02:07] changpe1 opened #1705 "Potential silent IO error when using vfio dynamic memory model with NVMe"
We found that in some very rare situations the vfio dynamic memory model has an issue which may result the DMA engine don't put the data to the right IO buffer, here is the tests we do to identify the issue:

1. Start the application and call spdk_zmalloc to allocate IO buffers.
2. Hotplug one NVMe drive, then DPDK will register existing memory region to kernel vfio driver via dma_map ioctl, we ad

[2020-11-27 04:43] yidong0635 commented on #1690
issue can't be reproduced after I restarted the test server. And forcibly to a error path, still no error.
this provides a experience of idea to trace keep alive timer later, I'm going to close this one.

[2020-11-27 04:43] #1690 closed

[2020-11-27 11:45] bharatpotnuri commented on #1704
@AlekseyMarchuk Thanks for the description.
Yes, This is with iWARP. And rdma_disconnect() handled by IW CM unlike RoCE. First thing iwarp does incase of incoming disconnect is to move QP to error state. In this case when rdma_disconnect is called over a QP that is already in error. rdma_disconnect() failure in this case is still okay but printing error log gives an impression to user that somethi

[2020-11-27 13:33] AlekseyMarchuk commented on #1704
@bharatpotnuri Thanks for clarification. Could you verify that this patch removes the error? https://review.spdk.io/gerrit/c/spdk/spdk/+/5314

[2020-11-27 14:12] bharatpotnuri commented on #1704
@AlekseyMarchuk Thanks for the patch. Tested, Patch works as expected.
The check in `lib/rdma/rdma_mlx5_dv.c` may not be needed as rdma_mlx5_dv.c is specific for Mellanox devices(IB and RoCE) and iWARP flows wont enter `lib/rdma/rdma_mlx5_dv.c`.

[2020-11-29 13:32] gwnet opened #1706 "if rpc server command need take a super long time, client socket will timeout, how to solve this?"
if the rpc server command for example create ftl device need long time to provision. we get error at client side below.
what is best way to solve this?

     **raise JSONRPCException("Connection closed with partial response:\n%s\n" % self._recv_buf)**

===below is the code that raise above error===I tried set timeout as None, but no help.
    def recv(self):
        start_time = time.process_time(

[2020-11-30 03:18] gwnet commented on #1253
@rafalste maybe we temp close this?

[2020-11-30 03:18] #1253 closed

[2020-11-30 06:58] ryderhsu0129 commented on #1702
It seems to be a problem with the drive, close this issue first.

[2020-11-30 06:58] #1702 closed

[2020-11-30 08:37] changpe1 commented on #1660
@zlsh007 I can't reproduce this issue in my local environment, if both 2MiB and 1GiB huge pages were mounted, the application will choose the 2MiB one. after you killed the vhost application, the files in the mount point will be cleared in my environment.

[2020-11-30 08:39] changpe1 commented on #1660
@zlsh007 can you try the latest version? I used the master branch.

[2020-11-30 08:44] zlsh007 commented on #1660
@changpe1 Ok i will try it, thanks

[2020-11-30 10:19] spdkci commented on #1347
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_31131.html

[2020-11-30 10:42] rafalste commented on #1668
The problem with reproducing this issue, the same one that caused failure when attaching cache device: `vbdev_ocf.c:1015:start_cache_cmpl: *ERROR*: Error -1000013 during start cache ocf-core0, starting rollback` is caused by memory allocation problem. Solution is to increase the HugePage size where all the allocation is performed.
But this is not a solution to solve the main problem in this issue,

[2020-11-30 11:52] jgrodman opened #1707 ""Write completed with error" when pushing nvmf_tgt"
When I put enough stress on the nvmf_tgt over RDMA using `examples/nvme/perf`, the initiator (`examples/nvme/perf`) prints many lines of
[code]
and then
[code]

On the target I see (usually a few seconds later)
[code]

## Steps to Reproduce

Steps on the target:
`./spdk_tgt -m FF000`
[code]

Steps on the initiator:
[code]
^ Here I am using 32 cores on the initiator. With a small enough number, the

[2020-11-30 11:55] spdkci commented on #1675
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_31141.html

[2020-11-30 15:21] mgerdts opened #1708 "corrupt cache device leads to 211:ocf_freelist_populate: *ERROR*: BUG"
## Expected Behavior

When a cache shuts down uncleanly, the subsequent restart should gracefully handle corruption.

## Current Behavior

[code]

## Possible Solution

TBD

## Steps to Reproduce

1. Start `spdk_tgt`

[code]

2. Use an NVMe drive as a cache for a core.

[code]

3. Wait for `spdk_tgt` to log `ocf-core0.core0: Successfully added`.
4. Use `^C` to try to terminate `spdk_tgt`, move to

[2020-11-30 15:30] mgerdts commented on #1668
Thanks @rafalste.  I had 4 GiB of 2 MiB huge pages, but I guess that wasn't enough.  Bumping it to 32 GiB did the trick.

While trying to reproduce, I started yak shaving. See:

* [Slack thread on possible reactor pause](https://spdk-team.slack.com/archives/C01E5BD7HL2/p1606747075001300)
* [Slack thread on crash due to corrupt cache](https://spdk-team.slack.com/archives/C01E5BD7HL2/p16067481950071

[2020-11-30 22:20] jimharris opened #1709 "[json_config] QAT failed to initialize"
https://ci.spdk.io/public_build/autotest-per-patch_31217.html

00:02:49.994  ************************************
00:02:49.994  START TEST json_config
00:02:49.994  ************************************
00:02:49.994   22:53:12	# xtrace_enable
00:02:49.995   22:53:12	# ./test/json_config/json_config.sh
00:02:50.025    22:53:12	# xtrace_enable
00:02:50.025   22:53:12	# source /var/jenkins/workspace/c

[2020-11-30 22:21] spdkci commented on #1709
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_31217.html

[2020-12-01 04:03] yidong0635 opened #1710 "./test/iscsi_tgt/calsoft/calsoft.sh test failed"
# Issue
[code]
## Link to the failed CI build
https://ci.spdk.io/results/autotest-per-patch/builds/31247/archive/iscsi-uring-vg-autotest/build.log

[2020-12-01 04:04] spdkci commented on #1710
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_31247.html

[2020-12-01 04:36] spdkci commented on #1709
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_31250.html

[2020-12-01 04:47] spdkci commented on #1709
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_31248.html

[2020-12-01 05:22] spdkci commented on #1709
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_31251.html

[2020-12-01 06:01] spdkci commented on #1709
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_31241.html

[2020-12-01 06:52] spdkci commented on #1709
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_31255.html

[2020-12-01 06:55] yidong0635 commented on #1706
Meet the same issue . Is this buffer is not enough ？

[2020-12-01 10:24] #1704 closed

[2020-12-01 11:19] spdkci commented on #1709
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_31257.html

[2020-12-01 12:57] tomzawadzki commented on #1692
@john4477 Latest branch of patches for QEMU that supports open channel emulation are based on QEMU 5.0.0 - see https://github.com/spdk/qemu/commits/spdk-5.0.0. This is what Jenkins CI runs FTL tests on currently. Could you please check if that version reproduces this issue too ?

@gwnet Considering the general lack of available open channel devices, OC emulation in QEMU is easiest way to reproduce

[2020-12-01 13:44] tomzawadzki commented on #1697
Just for future reference, patch adding the vendor_id for SoftRoCE is available here:
https://review.spdk.io/gerrit/c/spdk/spdk/+/5307

[2020-12-01 14:05] tomzawadzki commented on #1673
Patch that points to specific liburing commit was merged. This should be sufficient for resolving this issue.

[2020-12-01 14:05] #1673 closed

[2020-12-01 14:07] karlatec opened #1711 "Access denied to ci.spdk.io status pages and artifacts"
"Access denied" message displayed when trying to access status pages and log files for some of the CI builds.

## Current Behavior

"Access denied" message displayed when trying to access status pages and log files for some of the CI builds.

## Possible Solution

Caused by a bug in CI configuration. Already solved by reverting faulty patch.
Affects builds 30926 to 31991.
Will retrigger any patche

[2020-12-01 14:17] tomzawadzki commented on #1709
I just wonder if this is not a duplicate of #1347. The final result is the same, but qat_setup.sh is bit different:
[code]

This most likely should be resolved within same fixes as in #1347.

[2020-12-01 14:20] spdkci commented on #1711
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_31180.html

[2020-12-01 14:20] spdkci commented on #1711
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_31289.html

[2020-12-01 14:20] spdkci commented on #1711
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_31177.html

[2020-12-01 14:20] tomzawadzki commented on #1657
This issue was not observed for over a month, closing.

[2020-12-01 14:20] spdkci commented on #1711
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_31174.html

[2020-12-01 14:25] wawryk commented on #1613
@jimharris
Sorry for my late response.
I tested it today on master, and found some mistake in my previous path.
With this [patch](https://review.spdk.io/gerrit/c/spdk/spdk/+/5364), it works fine.

[2020-12-01 14:40] tomzawadzki commented on #1642
Still the case currently, just a sample patch from latest CI runs:
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/5330/10
CI coverage output https://ci.spdk.io/assets/html/untar.html?file=../../results/autotest-per-patch/builds/31348/archive/coverage_autotest-per-patch_31348.tar.gz&page=lib/event/app.c.gcov.html

Function `spdk_app_opts_init()` in coverage report does not match the patch under

[2020-12-01 14:41] tomzawadzki commented on #1645
This issue was not observed for over a month, closing.

[2020-12-01 14:41] tomzawadzki commented on #1655
This issue was not observed for over a month, closing.

[2020-12-01 14:41] #1655 closed

[2020-12-01 14:49] tomzawadzki commented on #1495
No recent reports of this issue for a month. Just checked 6 builds from ci.spdk.io, none had missing `build.log`. Closing.

[2020-12-01 17:58] spdkci commented on #1709
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_31353.html

[2020-12-01 18:00] spdkci commented on #1709
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_31352.html

[2020-12-01 18:00] jimharris commented on #1709
This is happening on multiple systems - I've seen failures on GP3, GP5 and GP6 so far.

[2020-12-02 05:48] Comphix commented on #1706
One possible way is to break the long time ftl_create operation into two phases.

Phase 1: RPC to asynchronously create (the ftl creation will happen in the background). The rpc_bdev_ftl_create() will return immediately.
Phase 2: Add a new list_ftl or get_ftl RPC method to check the status of the ftl creation

[2020-12-02 06:39] gaowayne commented on #1706
@yidong0635 no worry about this now. I found the root cause, it is our FTL use too much C runtime memory, it is killed by OS OOM, so rpc client report that exception, that is correct. and rpc.py -t 600 can add a timeout value, it works.

@Comphix, great suggestion, we will improve like this. current, our work around is rpc.py -t 600 and we need enough DRAM to run our app.  :)

[2020-12-02 06:45] gaowayne commented on #1708
@mgerdts, we will ask our architect take a look at it. buddy could you please let me know your business requirement, what are you trying to setup?

[2020-12-02 06:47] yidong0635 commented on #1706
@gwnet ok, I encountered this issue at other testing before. And I had no idea about this too.  Thanks all.

[2020-12-02 06:51] yidong0635 commented on #1695
close this one, it doesn't happen for a long time for this jenkins issue,

[2020-12-02 06:51] #1695 closed

[2020-12-02 08:24] wanqunintel commented on #1703
Hi, Alex I checked my code, the value is exactly the same as what you have provided and rerun the test with loop, it still failed.

[2020-12-02 08:26] AlekseyMarchuk commented on #1703
Let me clarify, I suggested increasing this timeout x2, so the value should be
[code]
Could you clarify if you increased this value

[2020-12-02 16:45] mgerdts commented on #1708
@gaowayne I started looking at OCF as a potential way to speed up re-reads from Ceph.  #1668 contains the initial config.

For OCF to be used in production, it needs to be stable even in adverse conditions.  An unclean shutdown due to the actions of `systemd` or some other form of ungraceful shutdown must not lead to a situation requiring operator intervention (e.g. `nvme format ...`) the next tim

[2020-12-02 22:58] mgerdts commented on #1689
@tomzawadzki it does not look like the iommu problem is fixed.  I see the dependencies you mention, but they seem to not have the intended impact.

A freshly rebooted system:

[code]

Test the fix:

[code]

That doesn't look good.  Let's try starting `spdk_tgt` just to be sure.

[code]

Relevant to the attempted fix:

[code]

[2020-12-03 04:36] gaowayne commented on #1708
@mgerdts got it. we have not complete all the feature for OCF in SPDK. we have one production level support opencas for kernel. and we have worked out some design win with opencas+Ceph. can you send me email wayne.gao@intel.com. I will share you more detail. not sure if you can try kernel Opencas for now?

[2020-12-03 04:42] gaowayne commented on #1708
this is kernel mode opencas link https://open-cas.github.io/

[2020-12-03 04:49] gaowayne commented on #1708
this is opencas public link and include ceph cache topic at bottom.  if you can bypass SPDK, the kernel way is production ready for you to use for many years already. :)

but it is great you submit issue for our SPDK version, we will continue improve the SPDK version.

https://www.intel.com/content/www/us/en/software/intel-cache-acceleration-software-performance.html

[2020-12-03 06:07] yidong0635 commented on #1707
@jgrodman Can you show us the full log?
I can reproduce this similar issue  on one of my servers but not all  the same with log:
but it's keep alive timeout and connection forcibly terminated , and then io error.
I can't reproduced on a server that well installed OFED driver .
target side:
`Disconnecting host from subsystem nqn.2016-06.io.spdk:cnode0 due to keep alive timeout.`

initiator side:
[c

[2020-12-03 07:36] optimistyzy commented on #1685
The following patch may help:  https://review.spdk.io/gerrit/c/spdk/spdk/+/5423
What I think is that if the initiator's connection does not belong to a group. When zero copy is enabled, I checked the code path if a connection is not in the group. We do not have an code to call _sock_check_zcopy

[2020-12-03 10:28] mikeBashStuff commented on #1689
@mgerdts The fix for the `iommu` issue hasn't been merged yet and `e1aba437452f7d9d329171de3e6a596753cc8bfc` tree doesn't include it. The attempted fix is currently being reviewed here: https://review.spdk.io/gerrit/c/spdk/spdk/+/5259.

As to your results seen in the comment, I am a bit confused. :) By default, I wouldn't expect `vfio_pci` module to be loaded into the kernel, unless there's some d

[2020-12-03 10:43] jgrodman commented on #1707
Hi @yidong0635 thank you for your response. To be clear, the errors that you pasted from the initiator and the target - you **are** able to reproduce those?

After upgrading to SPDK 20.10, there is no longer an error message on the target. However, on the initiator I see the following:
[code]

[2020-12-03 11:07] mgerdts commented on #1689
@mikeBashStuff thanks for pointing out the error in my testing.  I managed to grab the wrong URL from gerrit and verified things are broken without the fix.  With cluestick in hand:

[code]

Yay, no more `VFIO support could not be initialized` errors.

[2020-12-03 14:01] rafalste commented on #1668
@mgerdts OCF puts metadata on the cache device but if this cache device didn't shutdown uncleanly, metadata should be fine and the #1708 won't be related to this issue.

The other thing is that I'm trying hard to reproduce this issue without success for some time now. The only difference in my setup is the NVMe-oF transport protocol - I'm using TCP instead of RDMA. Is it possible for you to try TC

[2020-12-03 14:02] rafalste commented on #1708
@mgerdts how lucky you need to be to get a reproduction? I've tried many times with different sleep intervals during killing the spdk_tgt and didn't catch your error. In my environment OCF recognizes that the metadata is corrupted, doesn't load the cache state and prevents the cache from being started which is the expected behavior.
Can you share your last OCF commit hash?

[2020-12-03 14:24] mgerdts commented on #1708
@rafalste As stated in the description, I'm running SPDK v20.10 git sha1 e5d26ec / DPDK 20.08.0.

I've only been able to create the corruption once, but I can't say that I've tried to reproduce it either.  I figured this would be hard to reproduce and maybe hard to understand, so I have avoided writing to the drive in case we need to inspect it.  Unfortunately `nvme list` shows 960 GB in use and t

[2020-12-03 16:54] mikeBashStuff opened #1712 "fio receives SIGABRT during vhost_shared test"
[code]
Relevant portion of the trace where there's seen how both instances of `fio` fail right after the following assertion is raised:
`fio: fio_plugin.c:680: spdk_fio_queue: Assertion 'false' failed.`:

[code]
Both cores and backtraces can be found here: [fio_cores.tar.gz](https://github.com/spdk/spdk/files/5637523/fio_cores.tar.gz)

[2020-12-03 23:06] spdkci commented on #1675
Another instance of this failure. Reported by @mkenguva. log: https://ci.spdk.io/public_build/autotest-per-patch_31523.html

[2020-12-04 01:33] yidong0635 commented on #1707
@jgrodman  if just from the io error , they are the same.  but  the root cause of each issue, maybe not the same.
I'm investigating about the keep alive timer timeout for a while. and we got the method or wor around to solve it.
but from your error log, it doesn't give any indications to show the root cause of IO failure, we should get more log using  "-L all" at target side with debug mode.

[2020-12-04 02:41] spdkci commented on #1709
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_31258.html

[2020-12-04 07:37] bharatpotnuri commented on #1697
Hi @AlekseyMarchuk,
From linux code looks like not many rdma devices /vendors support LAST_WQE_REACHED.
Can this be checked some how in spdk?

Thanks.

[2020-12-04 12:10] mikeBashStuff commented on #1709
After some investigation, it seems that this issue differs from #1347.

The problem seems to be related to the fact that on the affected systems, instead of the out-of-tree qat modules, upstream once were being loaded into the kernel early on, during the initramfs stage. However, when the rootfs is finally switched, modprobe sees out-of-tree modules in the dependencies and when `qat_service` attem

[2020-12-04 13:34] spdkci commented on #1709
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_31566.html

[2020-12-04 13:44] mikeBashStuff opened #1713 "centos8-vg-autotest fails to start the VM"
`centos8` still doesn't seem to be stable, depending on which host it's being booted up. Opening this isssue as a drop-in for any other similar issues related to this job.

[2020-12-04 13:51] karlatec commented on #1713
My fault. I accidentally re-enabled centos8 tests in the CI. I already disabled them, so we should be fine for now, but let's leave this open

[2020-12-04 16:04] rafalste commented on #1708
@mgerdts We've managed to find a stable repro, so there's no need for you to keep the drive's state anymore. But thank you very much for your willingness to help! :) I'll post updates as soon as I get some on resolving this issue.
Have a good weekend!

[2020-12-06 07:33] zlsh007 opened #1714 "For centos 8 series mirroring WRITE ZERO setting does not seem to work"
We configure a data disk for a virtual machine through vhost user blk pci. When testing on the centos8.1 image, the following prompt message will appear after formatting and mounting "blk_update_request: operation not supported error, dev vdb, sector 826298624 op 0x9: (WRITE_ZEROES) flags 0x800 phys_seg 0 prio class 0", at the bdev layer, we have a newly added device ourselves, and the io_type_sup

[2020-12-06 09:13] spdkci commented on #1610
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_31610.html

[2020-12-06 10:13] jgrodman commented on #1707
When I enable debug mode, I see the following errors when I start to run the perf_test. It starts happening at about 24 cores on the initiator (against 8 on the target)
However, I don't get the IO errors on the initiator - I think because the performance is so much slower due to the logging:

initiator:
[code]

target:
[code]

[2020-12-06 22:25] mikeBashStuff commented on #1709
Need to refine a bit my previous comment. The issue is not with dracut per se, but rather with contents of the initramfs on the affected system. This is basically what happens early on, inside initramfs (example from GP5):

[code]
So the mitigation on the system's side is to either rebuild the initrd to include `updates/drivers` (where the out-of-tree modules are stored) or use `rd.driver.blacklis

[2020-12-07 03:04] changpe1 commented on #1714
Can you try with SPDK malloc device to see the issue is still exist or not? You may also change the supported IO types for the malloc device.

[2020-12-07 03:11] zlsh007 commented on #1714
@changpe1 We experimented with aio and local nvme devices, and the same phenomenon exists

[2020-12-07 05:56] changpe1 commented on #1714
I can't reproduce this issue in my local environment with Fedora 32, can you list the attributes in your VM?

/sys/block/vda/queue/write_zeroes_max_bytes, discard_max_bytes, discard_granularity, discard_zeroes_data, max_discard_segments

[2020-12-07 05:59] spdkci commented on #1709
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_31624.html

[2020-12-07 07:28] zlsh007 commented on #1714
[code]
I found this problem on the centos 8 series of standard mirrors. Centos 7 did not see this problem.

[2020-12-07 08:08] yidong0635 commented on #1707
@jgrodman   above log  is not  the error that we expected, this is a setup error, only needs to restart.
 I just want to see if it can give any clues about sending or receiving interference  that we can give to @AlekseyMarchuk
I believe the error occurs at the middle of testing when appearing the IOPS not the setup that we need to focus on.

[2020-12-07 08:40] zlsh007 commented on #1714
@changpe1 This problem only occurs after formatting as ext4 and have mount

[2020-12-07 08:57] mikeBashStuff commented on #1689
Patch has been merged, closing this issue.

[2020-12-07 08:57] #1689 closed

[2020-12-07 09:17] rdxsasha opened #1715 "passing wrong context to remove callback in _nvme_pcie_hotplug_monitor()"
In _nvme_pcie_hotplug_monitor() remove_cb should pass context of the controller (saved upon its primary probe), not one from probe_ctx of ongoing probe call

## Expected Behavior
When hotplug monitor gets SPDK_NVME_UEVENT_REMOVE event or detects device to be removed it calls
for remove callback of the controller of this device.

But it should pass cb_ctx (1st param) the context of controller (that

[2020-12-07 09:57] jgrodman commented on #1707
Hi @yidong0635 - got it, the problem is that with debug logging enabled, the IO errors on the initiator do not incur (I think because of the reduced perf), and thus neither do the errors on the target

[2020-12-07 10:16] spdkci commented on #1713
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_31640.html