[2019-04-23 17:25] changpe1 commented on #629
@benlwalker sounds good to me, I'm going to the two issues.

[2019-04-23 17:33] changpe1 commented on #629
@jimharris it would be nice to add the check through. I'll submit a patch.

[2019-04-23 17:52] changpe1 commented on #629
I posted a patch https://review.gerrithub.io/#/c/spdk/spdk/+/451762/ here as a workaround.

[2019-04-23 20:26] jimharris opened #765 "random builds timing out - due to NFS soft lockup"
I've seen several unit test builds that have timed out.  This is very unexpected.  Here's one example:

https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_29089.html

Note that dmesg.log shows several kernel back traces due to soft lockups in the NFS path.

[2019-04-23 20:50] peluse commented on #710
Worked fine up until https://review.gerrithub.io/c/spdk/spdk/+/443741 when we moved to DPDK 19.02, something changed (still need to investigate) that is causing the aesni driver to not use the patch we apply to enable doing separate src and dst buffer operations.

[2019-04-23 21:24] benlwalker commented on #765
Why do the test agents need NFS? Can we just install some giant HDDs?

[2019-04-23 21:25] peluse commented on #710
So with 19.02 the aesni_driver took one of the files and appended "compat" to it and they complie it when the ipsec lib being used is under .5.  They made changes to the file with the "compat" on it to use new features of the latest ipsec but, of course, we didn't know this and since they're using the "compat" file for < .5 and we are less than .5, we end up compiling without the patched file. Wil

[2019-04-23 22:16] Seth5141 commented on #736
@ShaharSalzman-K Ben and Jim pointed out to me that the RPC thread and the subsystem thread are on the same thread in practice, so passing a message in my change isn't going to do much to remove the race we are seeing. I have tried to create a script that replicates your issue so that we can get to the bottom of this. Please see the content below.

[code]

I am also running the nvmf target as foll

[2019-04-23 23:20] peluse commented on #710
The 2 patch series ending with https://review.gerrithub.io/c/spdk/spdk/+/449357/3 works for me locally and it queued for CI now

[2019-04-23 23:22] peluse commented on #747
The root cause to the failure was a combination of aesni, ipsec and dpdk latest greatest all needing to be lined up.  CI didn't catch this because it was only testing on QAT which was not affected.

Jim has this patch to address this issue: https://review.gerrithub.io/c/spdk/spdk/+/451784

[2019-04-23 23:44] jimharris commented on #710
Test pool never failed because it we only test crypto on systems that have QAT.  I've pushed this patch which will ensure we always test AESNI, even if QAT is available.

https://review.gerrithub.io/c/spdk/spdk/+/451784

Of course this patch fails now - will rebase it once Paul's patches are merged.

[2019-04-24 00:05] pentyala commented on #748
Hi,
Thanks for letting me know.

Now I am using a real NVMe device in my setup with extended LBA.
04:00.0 Non-Volatile memory controller: Samsung Electronics Co Ltd NVMe SSD Controller 172X (rev 01)

Formatted to 520 sector size using nvme format command in ubuntu.

~/Source/spdk$ sudo nvme list
Node             SN                   Model                                    Namespace Usage

[2019-04-24 00:13] pentyala opened #766 "DPS in SPDK"
https://github.com/spdk/spdk/issues/748#issue-431256336

Hi,

As a follow up to this issue.

Hi,
Thanks for letting me know.

Now I am using a real NVMe device in my setup with extended LBA.
04:00.0 Non-Volatile memory controller: Samsung Electronics Co Ltd NVMe SSD Controller 172X (rev 01)

Formatted to 520 sector size using nvme format command in ubuntu.

~/Source/spdk$ sudo nvme list
Node SN Mo

[2019-04-24 01:46] shuhei-matsumoto commented on #766
@pentyala

Using the nvme format command is the right approach.

During SPDK running, we can know if 512 + 8 is recognized by SPDK NVMe-oF target by JSON RPC get_bdevs. SPDK NVMe CLI may not be aware of metadata yet.

[2019-04-24 01:58] shuhei-matsumoto commented on #766
@pentyala

You will get metadata and DIF settings of NVMe-bdev by get_bdevs RPC like as follows:

    "md_interleave": true,
    "dif_is_head_of_md": false,
    "block_size": 520,
    "md_size": 8,
    "dif_type": 1

These information will be exposed to NVMe-oF initiator by SPDK NVMe-oF target. I hope you will see the same.

Besides, other community members or I will work on SPDK NVMe CLI by SPDK

[2019-04-24 02:24] yangtianyu0706 opened #767 "Why does spdk_rpc_construct_xxx_bdev always return "Invalid parameters" when it occur error."
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

[Question]
Why does spdk_rpc_construct_xxx_bdev always return "Invalid parameters" when it occur error.

## Expected Behavior

When we use rpc methods to create some bdev, all of functions that create bdev is always return "Invalid

[2019-04-24 02:25] yangtianyu0706 commented on #767
@benlwalker @darsto

[2019-04-24 05:41] cockroach1136 commented on #527
@darsto
    Thank you so much.
    I will give a try ASAP

[2019-04-24 07:33] darsto commented on #687
I have just found one more case where this happens. Here's the fix:
[vhost/scsi: don't send events when eventq is unset](https://review.gerrithub.io/c/spdk/spdk/+/451789)

[2019-04-24 08:37] yidong0635 commented on #710
applied above patches, still got error:
[code]

[2019-04-24 08:52] glodfish-zg commented on #755
@wanghailiangx
Could you verify this issue with these two patches? Thanks.
https://review.gerrithub.io/c/spdk/spdk/+/449274
https://review.gerrithub.io/c/spdk/spdk/+/451847

[2019-04-24 09:06] darsto commented on #733
We've removed this assert in patch 283abcb9a2445183014b5bd5bc1511e837a71de6

[2019-04-24 09:06] #733 closed

[2019-04-24 12:41] wuzhouhui opened #768 "nvme_driver_init of secondary failed if primary doesn't connect any nvme ctrl"
When secondary try to connect to a NVMoF/TCP target, `nvme_driver_init()` of secondary failed if primary doesn't connect any nvme controller

## Expected Behavior

RPC method `construct_nvme_bdev` of secondary succeeds if we are trying connect to NVMoF/TCP target, instead of local PCIe.

## Current Behavior

RPC method `construct_nvme_bdev` of secondary failed.

## Possible Solution
Always initial

[2019-04-24 14:14] Seth5141 commented on #730
https://review.gerrithub.io/c/spdk/spdk/+/451678 is now passing the CI and has been merged.

[2019-04-24 16:19] jimharris commented on #765
It's not just unit tests - here's a case where nightly test failed due to same failure in the nvme_autotest job:

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-nightly/builds/474/archive/nvme_autotest/index.html

Changing the title to reflect these new findings.

[2019-04-24 16:20] jimharris commented on #765
It's not always the same VM.  The original unit test build failed on fedora_vm_5.  The more recently nightly failure was on fedora_vm_4.

[2019-04-24 16:55] peluse commented on #710
final fix is here: https://review.gerrithub.io/c/spdk/spdk/+/449357/6

[2019-04-24 16:57] peluse commented on #710
be sure to git submodule update --init and make sure that you are seeing this: for git submodule after doing the update (it looks like you don't have the right ipsec lib)

 67b915b09bcf51ae2e2a703718881f0b0845883c dpdk (v18.08-1994-g67b915b09)
+489ec6082a9d4a65d7569d1772dce64d2e96f5b5 intel-ipsec-mb (v0.50-60-g489ec60)
 09e787231b31add1234ec9a3dfe718533f1c3bf4 isa-l (v2.24.0-3-g09e7872)
 bd19b9c12

[2019-04-24 17:09] pentyala commented on #766
Hi @shuhei-matsumoto, Thanks for letting me know that.

I am trying to get the bdevs using the command "rpc get_bdevs". However, I could not find the "md_size" nor "dif_type" in my output.
Here is my output.
[
  {
    "name": "Nvme1n1",
    "aliases": [],
    "product_name": "NVMe disk",
    "block_size": 512,
    "num_blocks": 1562824368,
    "assigned_rate_limits": {
      "rw_ios_per_sec": 0,

[2019-04-24 17:34] changpe1 commented on #766
@pentyala Maybe you can use a new SPDK version, I tested it with master SPDK branch, it works.

[2019-04-24 17:35] pentyala commented on #766
@changpe1 Let me try it.

[2019-04-24 17:43] jimharris commented on #765
Ziye ran into this on one of his patches as well:

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/29221/archive/unittest_autotests/index.html

[2019-04-24 17:52] jimharris commented on #765
Here's another random failure - timing out during a build.  I suspect this is NFS related again but in this case we didn't get the dmesg:

https://10.102.17.104:8080/job/autotest-per-patch/29220/

[2019-04-24 17:52] pentyala commented on #766
@changpe1

When I try to create nvme_bdev after formatting the NVMe device to (512B + 8B), I get the following error.
bdev_nvme.c: 739:nvme_ctrlr_create_bdev: *ERROR*: Bdev doesn't support metadata not intereleaved with block data
bdev_nvme.c:1617:nvme_ctrlr_create_bdevs: *NOTICE*: Failed to create bdev for namespace 1 of Nvme1
bdev_nvme.c:1622:nvme_ctrlr_create_bdevs: *NOTICE*: No bdev is created

[2019-04-24 18:00] changpe1 commented on #766
@pentyala Can you change the format of your drive? SPDK BDEV can only support extended LBA format for now, it means the 8 bytes Protection Information should followed by the data.

[2019-04-24 18:01] jimharris commented on #765
This looks promising:  https://www.spinics.net/lists/linux-nfs/msg71948.html

But not sure how we can get a kernel easily with this patch.  Still looking at other mount options, etc. that may alleviate this problem.

[2019-04-24 18:08] peluse commented on #767
It occurs because, I hate to say it, invalid parms were provided. Maybe share one example and we can help determine exactly what is wrong?

[2019-04-24 18:11] peluse commented on #763
Thanks for reporting this. We may very well be simply missing some codepaths still, the only testing to date has been R/W only via bdevperf with verify.  I've got some UT to finish up first, then I'll look at this and see what's happening.

[2019-04-24 18:16] changpe1 commented on #768
@wuzhouhui you can start two nvmf_target instances both for primary process, and what's the reason you start another nvmf_target using the secondary process?

[2019-04-24 18:17] jimharris commented on #767
I think the problem is more that the error codes are too generic.  For example, we could provide more details on whether an RPC failed because their truly was an invalid parameter, or whether the specified bdev doesn't exist, or whether an operation can't be performed because the target object is busy for some reason.

Unfortunately we can't cover this was just one GitHub issue.  We probably need

[2019-04-24 18:20] peluse commented on #767
totally agree! I think seeing an example here though might point to something generally wrong with how any rpc is being sent by @yangtianyu0706 since the report seems to indicate they all fail....

[2019-04-24 19:04] pentyala commented on #766
@changpe1 Thanks for the help. That worked.
Thanks @shuhei-matsumoto

[2019-04-24 19:04] #766 closed

[2019-04-24 22:10] jimharris commented on #765
We've disabled NFS delegations by writing 0 to /proc/sys/fs/leases-enable on the NFS server.  Let's see if this problem goes away.

[2019-04-24 22:14] changpe1 commented on #629
Closing the patch as the commit 4582e9fb has been merged.

[2019-04-24 22:42] yaahallo commented on #725
Just wanted to touch base on this and see where you guys are on this issue and what your thoughts are.

Are you guys still looking into this issue / working on it? Also, do you think that the fact that done tasks are still in the queue at the start of `_spdk_iscsi_conn_abort_queued_datain_task` is a serious issue?  For us we're going to move forward with the assumption that we're fine with the flo

[2019-04-24 22:43] yaahallo commented on #744
Just wanted to check in to see how progress on patches for this issue are going. We saw some movement on gerrit prior to the conference but haven't seen much since then and we want to make sure this doesn't fall through the cracks.

[2019-04-24 22:45] jimharris commented on #744
Yeah - progress stopped due to the conference and now the 19.04 release.  Let's try to get back to this later next week once the 19.04 release is done.  Thanks for checking in!

[2019-04-24 22:50] #710 closed

[2019-04-24 23:55] youngtack commented on #700
Hi @wmalikow,

Glad to see your patch to fix chunk wptr error has been merged. Appreciate the agile turnarounds so far. Closing this issue.

Thanks a lot as always,
YT

[2019-04-24 23:55] #700 closed

[2019-04-25 01:10] wuzhouhui commented on #768
Not particular reason, just encounter this issue accidentally when I forget add SSD in primary's configuration file.

[2019-04-25 04:22] shuhei-matsumoto commented on #744
@pbasler-scale @yaahallo

The patch series was merged to the master branch. So I created the patch series for 19.01 based on the master. Will you cherry-pick it and test the issue?

For the another issue (only cause is unknown) I have no progress.

By the way, there is a large difference between 19.01 and master, and so I hope you will adopt 19.04.

-Shuhei

[2019-04-25 05:11] shuhei-matsumoto commented on #744
Test CI failed for all patches but the failure is not related with your trial for now. So please ignore the failure in GerritHub. Sorry for inconvenience.

[2019-04-25 07:06] yangtianyu0706 commented on #767
For example, spdk_rpc_construct_aio_bdev function:
When create_aio_disk return NULL meams it fail to create bdev. But we can't see a specific error unless we query the log. First there will be some correctness of the check. Next, call spdk_bdev_register to register the bdev, it will return rc ( 0 = success, -EEXIST = already exists, -ENOMEM = no memory, -ENVAIL = Invalid argument).

I looked at th

[2019-04-25 07:22] darsto commented on #768
Fix:
https://review.gerrithub.io/c/spdk/spdk/+/452043 nvme: allow manually initializing the NVMe driver

[2019-04-25 07:32] darsto commented on #747
The patch above just adds an extra test, I believe the actual fix is here:
https://review.gerrithub.io/c/spdk/spdk/+/449357 ipsec: move to version 0.52
It's merged.

@karlatec can you add `set -e` to that job now?

[2019-04-25 07:47] darsto commented on #747
Uhh wait, our ubuntu17 machine uses an outdated nasm version and fails on compilation right now.

@karlatec could you update nasm on that machine to at least 2.13.03?

[2019-04-25 08:11] darsto commented on #767
Related to #319 "RPC error messages are not descriptive at all"

[2019-04-25 09:03] darsto commented on #747
Assigning to @nedved1 . Pawel, can you take a look at that?

[2019-04-25 09:09] glodfish-zg commented on #589
For NVMe Drive hot insert with VFIO-PCI driver, it seems the UEVENT has changed.
At least in Fedora-release-28 it has changed.

[2019-04-25 09:18] glodfish-zg commented on #755
@wanghailiangx
I have pushed this patch https://review.gerrithub.io/c/spdk/spdk/+/452038 into GerritHub.

[2019-04-25 09:19] glodfish-zg commented on #755
#615

[2019-04-25 09:36] wanghailiangx commented on #755
Verified, this patch https://review.gerrithub.io/c/spdk/spdk/+/452038 can fixed upper core dumped issue, thanks.

[2019-04-25 09:36] gila commented on #319
Hi all,

I'm glad others feel the need to provide more context around RPC error messages as it almost impossible to figure out why things failed if you do not have verbose logging enabled (or looking into the source ofcourse)

Adding error information to the JSON object seems a good way to do that for sure. There is one other thing I'd like to bring up here, let's take the `construct_aio_bdev` RPC

[2019-04-25 10:23] wanghailiangx commented on #730
@Seth5141 Sorry for the late reply. I am busy with other verifications and nightly log these two days.
Now verified the latest code, include your patch. I found there were some errors in target and hosts.
Logs was attached.  Test scripts are still previous.
[issue730-target-log.txt](https://github.com/spdk/spdk/files/3116426/issue730-target-log.txt)
[issue730-two-host-log.txt](https://github.com/s

[2019-04-25 11:23] pelplinski commented on #691
It looks like issue is specific to NVMf. I cannot reproduce it either on any local backend or iSCSI.

[2019-04-25 11:42] pawelkax commented on #464
I uploaded new patch set in 431471. RFC tag was removed from commit message, so that test was started for this feature.

[2019-04-25 13:40] yangtianyu0706 commented on #319
I looked at the call place to create the Bdev function and found that it was called only when the RPC or parsing the configuration file. So I have an idea that all the create functions return the real error code, not the Bdev pointer, eg. int create_xx_bdev(parameters).

[2019-04-25 13:42] yangtianyu0706 commented on #735
19.04 is fix this error

[2019-04-25 14:24] nedved1 commented on #747
@darsto @karlatec I've installed nasm 2.14.02 and autotest passes on ubuntu17 machines. We might wait for some time before setting -e flag in ubuntu17 job so people could rebase on top of Pauls patch.

[2019-04-25 15:35] jimharris commented on #765
I haven't seen this problem come up again, so closing this issue.

[2019-04-25 15:35] #765 closed

[2019-04-25 16:01] darsto commented on #747
Good call @nedved1 . Let's wait at least until Monday

[2019-04-25 17:50] benlwalker commented on #603
I wrote a simple test that creates a thin provisioned lvol, does some writes to it, and while those writes are happening it resizes the lvol larger. If I run this with a target using just 1 core, it works fine. If I give the target 4 cores, address sanitizer detects a use after free every time. There is some bug in allocating clusters from multiple threads occurring. We should be able to get to a

[2019-04-25 18:12] peluse commented on #763
OK, I can repro here. Will start checking it out...

[2019-04-25 18:53] tomzawadzki commented on #603
- The tests were performed with **single CPU core**, so this occurs even with single CPU core. [snapshot_repro.tar.gz](https://github.com/spdk/spdk/files/3118387/snapshot_repro.tar.gz)

- @SavanAnjaria Tested with resize scenario as well. It occurs but much less frequent. IO hits the freeze io window much less often here. Please see attachment
[resize_repro.tar.gz](https://github.com/spdk/spdk/fil

[2019-04-25 19:02] peluse commented on #763
Have a fix for this.  A compressed vol is slightly smaller than its backing device, early on we switched up who was setting vol size and when we correctly had it being set in reduceLib I never updated the settings on the comp device so it was reporting a larger size than it should have.  part/mkfs were therefore writting off the end of what reducelib knew existed.  With the fix I'll push this afte

[2019-04-25 20:15] lhoswdev opened #769 "SPDK's identify reports zero (0) number of namespaces against a fabric target"
Started up `nvmf_tgt` with a conf file that specified two malloc bdev namespaces.   The SPDK's `identify`, however, consistently reports the number of namespaces as zero (0).   I am, however, able to run SPDK's `perf` against the target to one or both of the malloc bdevs just fine.

## Expected Behavior

I would expect to see two (2) namespaces.

## Current Behavior

`identify` output chunk:
[code

[2019-04-25 20:20] changpe1 commented on #769
@lhoswdev Thank you Lance, this is a bug, I will take a look.

[2019-04-25 20:38] Seth5141 commented on #730
@wanghailiangx Thank you for the updated logs. The timeouts and disconnects on the initiator side are to be expected. Since we are overwhelming the SRQ, we can expect quite a few I/O to time out. So we can safely ignore those timeouts.
The asan dump on the target, however is not. I was able to recreate that stacktrace (or at least what I think is that same stack trace since the one in your log doe

[2019-04-25 21:08] changpe1 commented on #769
@lhoswdev Hi Lance, this is not a bug, because for your parameter -r 'trtype:RDMA adrfam:IPv4 traddr:192.168.10.2 trsvcid:4420', actually SPDK will use discovery controller as the default subnqn, so you can  use 'trtype:RDMA adrfam:IPv4 traddr:192.168.10.2 trsvcid:4420 subnqn:nqn.2016-06.io.spdk:cnode1'  instead.  Discovery controller in NVMoF doesn't contain valid namespaces.

[2019-04-25 21:47] benlwalker commented on #603
Here's a test that reproduces the problem:

https://review.gerrithub.io/c/spdk/spdk/+/452150

You have to change the NVMe device BDF to whatever it is on your system.

[2019-04-25 22:26] jimharris commented on #603
This patch fixes the issue on my system using Ben's test.  Go forth and test.

https://review.gerrithub.io/c/spdk/spdk/+/452157

[2019-04-25 22:43] peluse commented on #763
Fix is here: https://review.gerrithub.io/c/spdk/spdk/+/452158

[2019-04-25 23:25] lhoswdev commented on #769
Awesome!   Thank you so much!

[2019-04-25 23:25] #769 closed

[2019-04-26 01:28] amtrek opened #770 "Failed to link spdk static library"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Hi, I am trying to use spdk in our application, so we worked out an example to see if we can properly use spdk through static libraries built by default.  This is my CMakeList to include the header, and link the library in the buil

[2019-04-26 03:24] tomzawadzki commented on #603
Confirming that this fixes the issue on my system as well.

[2019-04-26 06:31] liang2yan commented on #763
The patch can fix the file system formatting issue. But the fio randwrite issue still existed. After running fio randwrite job more than 10 minutes, the nvmf target will report following error:

[code]

[2019-04-26 06:54] darsto commented on #603
fix merged.

[2019-04-26 06:54] #603 closed

[2019-04-26 07:23] wanghailiangx opened #771 "nvmf fio tests show disk stats null"
All nvmf fio tests show disk stats null: **"ios=0/0, merge=0/0, ticks=0/0, in_queue=0, util=0.00%".**
But iscsi fio tests show disk stats normal: like this "sdb: ios=686/672, merge=0/0, ticks=13399/61685, in_queue=76298, util=57.84%".
This is in this case Per-patch and NIGHTLY tests.
While I tested nvmf fio on local severs, found "nvmf pcie" shows disk stats normal, "nvmf rdma" shows disk stats nu

[2019-04-26 07:48] wanghailiangx opened #772 "ubuntu17_autotest traced ERROR but return pass in NIGHTLY test"
I found "ubuntu17_autotest" server can trace ERROR but return result pass.

## Expected Behavior
traced ERROR and return "Test Failure"

## Current Behavior
traced ERROR but return pass

## Possible Solution
N/A

## Steps to Reproduce
1. view https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-nightly.html
2. view https://dqtibwqq6s6ux.cloudfront.net/results/autotest-nightly/builds/471/arch

[2019-04-26 08:01] wanghailiangx commented on #772
Same as https://github.com/spdk/spdk/issues/747, so closed.

[2019-04-26 08:01] #772 closed

[2019-04-26 08:09] karlatec commented on #747
@nedved1 Did you also update nasm on Ubuntu 18 VMs? Remember, once this bug is fixed we'd like to replace old Ubuntu 17 VMs.

[2019-04-26 08:20] nedved1 commented on #747
@karlatec yup

[2019-04-26 08:21] karlatec commented on #747
@nedved1 Cool, thanks!

[2019-04-26 10:00] wanghailiangx commented on #730
@Seth5141  Thank you for your new patch. This time test results look good.
[issue730-target-log-patch-452122.txt](https://github.com/spdk/spdk/files/3120773/issue730-target-log-patch-452122.txt)
[issue730-two-host-log-patch-452122.txt](https://github.com/spdk/spdk/files/3120774/issue730-two-host-log-patch-452122.txt)

[2019-04-26 13:30] jimharris commented on #763
Please file a new issue for this new problem. Thanks!

[2019-04-26 13:51] peluse commented on #763
Yes and please be clear - fio was running on local machine to an comp nvme details?  All relevant details please, thanks! Given that you confirmed the filesystem  issue fixed, I'll close this.

[2019-04-26 13:51] #763 closed

[2019-04-26 13:55] peluse commented on #767
I guess I'm just trying to understand whether this is really a general "RPC error codes are useless" or if @yangtianyu0706 is having issues with syntax or setup or something else.  We know the errors codes are not easy to decipher.  @yangtianyu0706 have you been able to get *any* RPC to work and if not can you paste in the exact steps that you are doing? We may be able to at least get you going if

[2019-04-26 15:29] Seth5141 commented on #730
@wanghailiangx Thanks! I am glad to see that was a step in the right direction. I am concerned by the buffers not being properly returned to the buffer pool though. That shouldn't be happening. Will you post a new issue for that behavior? I want to put it on a new tracker because it's different than the title of this bug.
Closing this one as the target crash is fixed.

[2019-04-26 15:29] #730 closed

[2019-04-28 02:46] liang2yan opened #773 "SPDK reported error while running fio randwrite job to test compression bdev of nvmf target"
## Steps to Reproduce
1. run spdk nvmf target with latest codes(I used commit ee430f97b022376986dc59d65909a1e59c53880d), the dpdk and ISA-l are default source codes in spdk repository. The config file are as below:
[code]

2. run RPC command to create compression bdev and subsystem.
[code]

3. In host machine, use following command to connect to the nvmf subsystem.
`nvme connect -n nqn.2016-06.io.

[2019-04-28 04:30] liang2yan commented on #773
If running fio longer, the spdk nvmf target can't be killed by Ctrlr+C method.

[2019-04-28 06:16] zy-tough opened #774 "SPDK FTL: error address translation from ftl ppa to nvme lba"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

SPDK FTL translates on-disk address defined as _struct ftl_ppa {...}_ to the nvme block address defined as _uint64_t_ in Function _ftl_ppa_addr_pack_ before submitting nvme read/write/erase commands to the open-channel SSD.

The tr

[2019-04-28 08:29] yidong0635 commented on #774
@zy-tough, Can you try to submit a patch on  github? please refer to :https://spdk.io/development/

[2019-04-28 10:53] yidong0635 commented on #670
@tkulasek thanks, this patch for vpp compiling is ok.
may need effort to  this :
        its environment dependency about vpp , installed some old packages on fedora which could covered the packages that installed by  "dnf install -y " .  we can leave this to another patch.

[2019-04-29 01:07] ChenBo2333 commented on #629
Tried with latest codes, the nvmf target which is using TCP transport nvme bdev crashed.
[code]

[2019-04-29 04:39] liang2yan commented on #625
I have used latest SPDK codes to run SPDK vhost-blk with aio bdev. Then in Windows VM, I formatted the blk disk with FAT32 system. The SPDK reported following error:

[code]
Then SPDK crashed. The coredump is as below:

[code]

[2019-04-29 05:25] changpe1 commented on #625
@liang2yan Thanks Liang, I root caused the issue and will submit patches to fix it.

[2019-04-29 07:01] changpe1 commented on #625
I submitted a patch https://review.gerrithub.io/#/c/spdk/spdk/+/452378/ which can fix the part of the issue, and for the coredump issue, because Window can send 1 unaligned data buffer with 128KiB length, but SPDK can only support up to 64KiB data buffer, so it will return error for this case, I will submit another patch set later to fix it.

[2019-04-29 08:45] wanghailiangx commented on #747
Now all test results on ubuntu17 look good. This issue can be closed.

[2019-04-29 11:13] #747 closed

[2019-04-29 12:02] pelplinski commented on #691
I have run a couple more tests and I can confirm that I cannot see any metadata corruption on latest master.
I did tried:
- Physical machine with NVMf
- 4h and 8h tests
- shutting down cleanly and killing spdk tgt
- Multiple and single thin provisioned lvol

[2019-04-29 16:31] benlwalker commented on #691
Fixed by 795134891 and e740ba637.

[2019-04-29 16:58] jkryl opened #775 "rpc get_bdevs_iostat returns array with entries which are not of the same "type""
Although that it is possible to return arbitrary entries in JSON array which have nothing in common (for example `[1, "string", {"key": "val"}]`) it is not a good practise, because it makes the api unintuitive and more difficult to parse. As an example when parsing array of objects in rust from JSON with serde deserializer, it is necessary that all entries share common set of properties, otherwise

[2019-04-29 22:03] jimharris commented on #775
Thanks @jkryl.  This is great feedback.  Fixing get_bdevs_iostat as you've suggested makes sense.  Are you aware of any others offhand that have this similar structure?

[2019-04-29 22:11] jimharris commented on #770
Hi @amtrek,

I don't see spdk_env_dpdk in the list of link_libraries directives.  Could you add it and report if it fixes this problem?

Thanks,

-Jim

[2019-04-29 22:33] jimharris commented on #745
Thanks @NiuYawei.

I think the long term solution for this - instead of the workaround I mentioned above - would be to allow specifying a bigger io_queue_requests value through the bdev/nvme RPCs.  Currently the default is 512.  A global default could be set through set_bdev_nvme_options, or the default for a specific controller could be set through construct_nvme_bdev.

I'm marking this as an enh

[2019-04-29 22:36] jimharris commented on #773
Assigning to @peluse.  This could be a problem in libreduce (not the bdev module) though.

[2019-04-29 22:36] amtrek commented on #770
Hi, Jim:
Thanks for reply, after adding the spdk_env_dpdk, I am still getting same error.

[2019-04-29 22:38] jimharris commented on #770
Can you post the full command line for the link stage for your executable?

Thanks,

-Jim

[2019-04-29 22:43] jimharris commented on #762
Hi @amtrek,

Could you post more code from your benchmark?  I don't see any calls to the SPDK NVMe driver in the code that you posted.

Writing 1GB in 3 seconds could be very reasonable, depending on the I/O size and queue depth you are using.  The max throughput specified in the spec sheets will be for large sequential writes.  If the benchmark is only doing 4KB writes at a time, the throughput s

[2019-04-29 22:46] jimharris commented on #758
We've merged changes now that have the RocksDB tests pull a specific version of RocksDB for building.  I'd suggest we not merge those patches to 19.01.x though.  Let's just wait for 19.04 to release, then start the 19.04.x branch and change the nightly tests to test 19.04.x vs. DPDK master.

[2019-04-29 22:47] amtrek commented on #770
#My new CMakeList.txt
project(helloworld)
cmake_minimum_required(VERSION 3.1)
SET(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -std=c++14 -fno-strict-aliasing -march=native -m64 -D_GNU_SOURCE -fPIC -fstack-protector -DNDEBUG")
SET(CMAKE_EXE_LINKER_FLAGS "${CMAKE_EXE_LINKER_FLAGS} -Wl,-z,relro,-z,now -Wl,-z,noexecstack")

include_directories(/home/gtk/spdk/include)

link_directories(/home/gtk/spdk/build/lib

[2019-04-29 22:50] jimharris commented on #753
Hi @lorneli,

Good question.  The primary use case for these code lines is vhost w/ aio bdev module.

Linux AIO requires buffers to be aligned on LBA boundaries.  Since vhost frontend passes buffers directly from guest VM, we have no control on alignment.  So bdev layer must double buffer these IO.  Since the bdev buffers have max size SPDK_BDEV_LARGE_BUF_MAX_SIZE, we must split on that boundary t

[2019-04-29 22:50] #753 closed

[2019-04-29 22:52] jimharris commented on #770
Hi @amtrek,

I don't see the command line for the linker.  I only see the output from make.

-Jim

[2019-04-29 22:55] jimharris commented on #729
Can we close this issue?  We had the kernel soft lockup issues due to NFS which would hang a test (but not crash the system) - that's been resolved.

I've seen a lot of the Jenkins java.io.IOException issues - but I think those are different.

[2019-04-29 23:00] jimharris commented on #279
Patch set to enable infrastructure for collecting BlobFS tracepoints is here:

https://review.gerrithub.io/c/spdk/spdk/+/452263

We'll get this merged after the 19.04 release.  It will collect data on every BlobFS open/close and when the length xattr is written (and when the write is complete).  The patch set also adds the ability to write an 8 character string as the tracepoint argument - we leve

[2019-04-30 03:28] yidong0635 opened #776 "nvme-cli compiles with spdk default configuration failed"
use the latest spdk in nvme-cli, to compile  nvme-cli
[root@waikikibeach32 nvme-cli]# make
cc -D_GNU_SOURCE -D__CHECK_ENDIAN__ -O2 -g -Wall -Werror -std=gnu99 -DLIBUUID -I/home/yidong/nvme-cli/spdk/include -DNVME_VERSION='"1.3.404.gc763"' nvme.c -o nvme argconfig.o suffix.o parser.o nvme-print.o nvme-ioctl.o nvme-lightnvm.o fabrics.o json.o plugin.o intel-nvme.o lnvm-nvme.o memblaze-nvme.o wdc-nvm

[2019-04-30 05:23] changpe1 commented on #625
@liang2yan  Can you verify the issue again with https://review.gerrithub.io/#/c/spdk/spdk/+/452509/ ? Thanks.

[2019-04-30 06:24] wanghailiangx commented on #615
Verified, this issue can't be reproduced, so can be closed.
SPDK commit e600f0967665c4f5815dd7ee740e4f9bbe3c1ed3

[2019-04-30 06:37] liang2yan commented on #625
I have verified this issue with the patch https://review.gerrithub.io/#/c/spdk/spdk/+/452509/.
This issue still can be reproduced, the SPDK reported following error:

[code]

Then SPDK crashed. The coredump is as below:

[code]

[2019-04-30 07:25] changpe1 commented on #625
@liang2yan Thanks, we can open a new issue for the case(after the patch set was merged), because it's another issue for large IO size sent from Guest, according to the virtio-blk specification, 'opt_io_size' is a suggestion value, we should implement huge buffer support in bdev layer.

[2019-04-30 07:31] darsto opened #777 "CI machines fail to initialize AIO bdevs"
Apparently we can't open some AIO bdevs on two of our CI machines and we don't even know it because the bdev module initialization continues even if some bdevs to register. We should either make sure those bdevs can be created on all the CI machines or we should remove them from the config files in our autotest.

ubuntu16_04_vm_3 (Ubuntu16_VM):
[code]

I pushed a patch to fail the AIO module initi

[2019-04-30 08:21] optimistyzy commented on #777
@darsto I do not think it is a bug.  The print log is a correct behavior. In your patch, you use add the error case if create_aio_bdev failed. If we do that, could we change all the "continue" in the for loop, this will be consistent.

[2019-04-30 15:25] peluse commented on #767
Bug scrub folks agree that we need a larger effort here to scrub RPC's in terms of naming, JSON config, error codes, etc., etc. This is something we will need to do as a larger project as opposed to using a github issue to fix everything. If @yangtianyu0706 has a specific instance that we can address here please update the bug, otherwise we'll close this once we have the Trello tasks up

[2019-04-30 15:39] #641 closed

[2019-04-30 20:00] jimharris opened #778 "Coverage results nested too deep"
This is mostly an enhancement request.  When downloading the coverage results, the actual results 10 directories deep.  It would be easier to view the results if this was reduced.  For example:

/var/www/html/build_pool/results/autotest-per-patch/builds/29728/archive/ut_coverage

Even if we just removed the /var/www/html/build_pool/results part, I'd be happy.  Everything starting with autotest-per

[2019-04-30 21:48] amtrek commented on #770
Hi, @jimharris

sorry for the delay. The command line make is
gtk@gtk-1-18041:~/gtk/spdk/examples/ioat/cpp/build$ make

[2019-04-30 22:14] jimharris commented on #770
Hi @amtrek,

No - I need the command line for the linker.  Not for make.  See below for what it looks like for spdk_tgt when using the SPDK in-tree build environment.  You should have a way to do something similar with your environment.  Somewhere, the linker is getting called.  We need to see what the linker command line is, to confirm that the libraries are being correctly specified.

Thanks,

-

[2019-04-30 22:25] amtrek commented on #770
Hi, @jimharris
does this looks like what you are looking for ?
make[2]: Entering directory '/home/gtk/spdk/examples/ioat/cpp/build'
[ 50%] Building CXX object CMakeFiles/helloworld.dir/src/main.cpp.o
/usr/bin/c++   -I/home/gtk/spdk/include  -std=c++14 -fno-strict-aliasing -march=native -m64 -D_GNU_SOURCE -fPIC -fstack-protector -DNDEBUG   -pthread -o CMakeFiles/helloworld.dir/src/main.cpp.o -c /ho

[2019-04-30 22:33] jimharris commented on #770
Thanks @amtrek.  This is what I was looking for.

I just looked at your latest error messages.  They are actually different than originally.  I no longer see the spdk_env_opts_init failure - now it is rte_ related link failures.  This is because the DPDK libraries are not being linked in.

You can look at lib/env_dpdk/env.mk to get an idea of which ones you need to link.

-Jim

[2019-05-01 16:42] #615 closed

[2019-05-01 20:31] jimharris opened #779 "Intermittent iSCSI SendTargets test failure"
I've seen this same failure multiple
http://10.102.17.206/results/autotest-per-patch/builds/29817/archive/iscsi_autotest/build.log (on GP3)

Relevant part of the failure:
[code]

Somehow the iscsiadm database is getting corrupted.

[2019-05-01 20:34] jimharris commented on #779
Here's another one of the failures.  Again on GP3:

http://10.102.17.206/results/autotest-per-patch/builds/29805/archive/iscsi_autotest/build.log

[2019-05-01 20:35] jimharris commented on #779
And another one on GP3:

http://10.102.17.206/results/autotest-per-patch/builds/29799/archive/iscsi_autotest/build.log

[2019-05-01 20:40] jimharris commented on #779
@Seth5141 and I just looked at Jenkins history on iscsi_autotest and last 6 times this test ran on GP3, it failed.  It hasn't failed on any other systems in that amount of time.

Still debugging.

[2019-05-01 20:55] Seth5141 commented on #778
Hi Jim, This was caused by the way we were calling tar in the python script that controls preparing and publishing logs. I have found a fix and submitted it for review on the internal git repository for that script. I'll close this once it gets merged and I confirm it works.

[2019-05-01 21:01] jimharris commented on #779
The iscsiadm database was corrupted on GP3.  I think I've fixed it for now.  The /var/lib/iscsi/nodes directory had a bunch of entries, including empty "default" files which seem to cause the issue shown:

https://groups.google.com/forum/#!topic/open-iscsi/bbiAW3ft7zE

I removed those empty default files for now.  Logging into GP3, that at least let me run iscsiadm -m node -o delete.

@Seth5141 re

[2019-05-01 22:18] peluse commented on #776
@yidong0635 can you please try this, thanks! https://review.gerrithub.io/c/spdk/nvme-cli/+/452798

[2019-05-02 07:12] jkryl commented on #775
thanks Jim for the response! We are using maybe 10 rpc methods from spdk so far and this one is the only one where I have encountered this problem. It might not be feasible to fix if we want to preserve backward compatibility of the api. Maybe at some point in future when major revision of the api is made. I have changed the method in our private fork of spdk so it does not bother me. It seems tha

[2019-05-02 07:28] jkryl commented on #319
Hi @pawelwod , I'm somewhat confused how the final solution will look like. So instead of
[code]
we will have
[code]
?
If that's the case, I'm still missing a simple error code which would tell what kind of error was encountered (i.e. something similar to ENOENT, EEXIST, ...). Looking at how i.e. grpc does it, they have:

1) a message (for human)
2) a code (for program - set of predefined and docu

[2019-05-02 14:54] jimharris commented on #775
Hi @jkryl - I'd like to get it fixed since you've pointed out it's practically unusable in its current state (and you've had to modify it in your private fork).  I know it breaks backward compatibility but I guess I'm not as concerned if it's breaking a broken API.  What do others think?

I have a patch out for this:  https://review.gerrithub.io/c/spdk/spdk/+/452477/1

[2019-05-02 14:54] jimharris commented on #775
That patch still needs to update CHANGELOG and jsonrpc.md.

[2019-05-02 15:10] jimharris commented on #775
Updated version posted: https://review.gerrithub.io/c/spdk/spdk/+/452477

[2019-05-02 15:28] jimharris opened #780 "Intermittent nvme/identify seg fault"
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_29863.html

I've seen this occur several times in the test pool.  stub application starts, then immediately after starting nvme/identify, it segfaults.

Even worse, the trap tries to kill the stub but is unsuccessful.  So the build times out and we don't get any clues on the the backtrace.

https://review.gerrithub.io/c/spdk/spdk

[2019-05-02 15:30] jimharris commented on #779
This test has passed several times now on GP3.

[2019-05-02 15:30] #779 closed

[2019-05-02 15:31] jimharris commented on #758
These patches were merged back to v19.01.x yesterday.  Last night's SPDK stable v. DPDK master passed.

[2019-05-02 15:31] #758 closed

[2019-05-02 15:34] jimharris commented on #679
@karlatec, @peluse - can this be closed?

[2019-05-02 15:37] jimharris commented on #695
@darsto - do you just mean something in our vhost test scripts that explicitly check the NVMe block size, and fail the test immediately if it's not 512?

[2019-05-02 16:04] Seth5141 commented on #778
The changes to the test pool have been merged. Now coverageand documentation TAR files have more descriptive names, and the actual files are not nested deep inside the archive. https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/29927/archive/ut_coverage_autotest-per-patch_29927.tar.gz

[2019-05-02 16:04] #778 closed

[2019-05-02 16:21] peluse commented on #679
I'd prefer @karlatec do it, I have the instructions for running a job on all test systems somewhere but there'd be much less risk if Karol did it - if it's not already done that is

[2019-05-02 16:24] peluse commented on #777
do we know why this is not working on those 2 machines?
(file:/tmp/aiofile), errno 2: No such file or directory

[2019-05-02 16:54] jkryl commented on #775
nice fix. Thank you!

[2019-05-02 17:11] mhae opened #781 "SPDK shared libraries have incorrect library name in SONAME attribute"
Some tools (bazel/ldd) use the SONAME attribute in the shared library for the name that is specified in the executable and not the actual filename.
The SPDK make spdk_build_realname_shared_lib has an issue where the library name doesn't include the minor version.

Here's an example of the verbose build:
[code]
Notice `--soname,libspdk_bdev_raid.so.1` which is stored in the shared library. The name

[2019-05-02 17:21] jimharris commented on #781
@mhae - good catch.  Can you try https://review.gerrithub.io/c/spdk/spdk/+/452895?

[2019-05-02 17:50] mhae commented on #781
That works (I fixed it the same way). Thanks.

[2019-05-03 18:08] jimharris commented on #720
Closing this issue.  @wanghonghuigithub - please put any additional details in issue #625.

Thanks,

-Jim

[2019-05-03 18:08] #720 closed

[2019-05-05 02:39] yidong0635 commented on #776
@peluse , thanks, this patch is ok.

[2019-05-05 07:12] changpe1 commented on #625
@liang2yan Can you verify this issue with patch https://review.gerrithub.io/#/c/spdk/spdk/+/452509/ again? thanks.

[2019-05-05 10:01] glodfish-zg commented on #771
@wanghailiangx
I think it's not the SPDK issue.
I find fio tool use the /sys/block/nvme1n1/stat to count disk state. But the values in /sys/block/nvme1n1 are always 0 if we use NVMe connection cmd to connect another machine, and the real values seem in the /sys/block/nvme1cXn1/stat. And if we use NVMe connection cmd to connect itself that OS will not create /sys/block/nvme1cXn1, the real values ar

[2019-05-06 03:12] liang2yan commented on #625
I verified this issue with the patch serieshttps://review.gerrithub.io/#/c/spdk/spdk/+/452509/, the windows server still reported error while running FAT32 formation, but the SPDK didn't report any error.

[2019-05-06 07:24] pawelwod commented on #319
Hi @jkryl, I can't answer to your question as I'm no longer engaged in SPDK project. I think @darsto can have aswers you are looking for :)

Paweł

[2019-05-06 07:26] yidong0635 opened #782 "autotest for iscsi related items failed"
when I use vagrant to run autotest about iscsi related items,

SPDK_TEST_ISCSI=1
SPDK_TEST_ISCSI_INITIATOR=1
SPDK_RUN_ASAN=1
SPDK_RUN_UBSAN=1
./test/iscsi_tgt/ip_migration/ip_migration.sh
./test/iscsi_tgt/trace_record/trace_record.sh
./test/iscsi_tgt/initiator/initiator.sh
and it will reports several errors , but I observed that  issues will not be detected in jenkins pool .

[iscsi_tgt_issue.txt]

[2019-05-06 07:30] yidong0635 commented on #782
in jenkin  SPDK_TEST_ISCSI_INITIATOR=0

[2019-05-06 10:30] lorneli opened #783 "bdev: question about per-thread bdev_io cache in spdk_bdev_mgmt_channel"
Hi,

In lib/bdev/bdev.c, the per-thread variable spdk_bdev_mgmt_channel provides a cache mechanism for bdev_io, similar to that in DPDK mempool library.

[code]

As mentioned in the above code comment, this mechanism is for bdev threads which are **not** DPDK threads.

From my understanding, a SPDK thread, is a thread structure which is allocated by spdk_thread_create function and is assigned to t

[2019-05-06 13:10] nedved1 commented on #747
Flag is set on Jenkins Ubuntu17 job.

[2019-05-06 16:28] jimharris commented on #781
Patch merged.

[2019-05-06 16:28] #781 closed

[2019-05-06 18:18] jimharris commented on #744
@yaahallo @pbasler-scale - are you able to test with 19.04?

@shuhei-matsumoto has posted patches for 19.01, but it is a very large set of patches.  If you can post results with either the 19.01 series, or with master, we can hopefully move forward on resolution.

Thanks,

-Jim

[2019-05-06 18:41] jwatson-scale commented on #744
Hello! My name's Jeremy, I'm a colleague of @yaahallo and @pbasler-scale. We've done some testing with 19.04 and as far as we can tell the issue is fixed, but we are having other issues with 19.04 and we're not sure if they're related. We'll create more issues as we figure out what we're seeing.

[2019-05-06 22:51] shuhei-matsumoto commented on #744
Hi @jwatson-scale

Thank you for your test with 19.04. Could you test with 19.01 + my patch series? As Jim says, the patch series is large. You will post additional issues for 19.04. If you don't need 19.01, we may abandon the patch series for 19.01.x.

Thanks,
Shuhei

[2019-05-06 23:00] nagendra-v commented on #699
@karlatec
Thanks for the information, looks like 19.04 has the changes.

[2019-05-06 23:39] Seth5141 opened #784 "Memory leak in RPCs during iscsi ip_migration tests."
## Expected Behavior
No memory leaks in the rpc code.

## Current Behavior
ASAN reports that there are memory leaks coming from the spdk_jsonrpc_parse_request function.
See Below:
[code]

The reason this is not being caught is we aren't testing iscsi with ASAN in the test pool. I don't know of any reason iscsi can't be enabled with ASAN so we should enable that when this is fixed.

## Steps to Rep

[2019-05-06 23:48] Seth5141 opened #785 "Latent Failure in iscsi trace_record.sh tests"
## Current Behavior
I observed the following latent failure in the trace_record.sh iscsi tests on the test pool:
[code]

Relevant core dump below:
[code]

## Steps to Reproduce
Occurs intermittently on the test pool.
The first link is the signature I posted above.
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/30210/archive/RBD_autotest/build.log

The second link is a sligh

[2019-05-07 02:35] jimharris commented on #771
Closing this issue based on Jin's input.  Also marking it as 3rd party issue since it's an fio issue.

[2019-05-07 02:35] #771 closed

[2019-05-07 02:45] jimharris commented on #729
Closing this issue.  @darsto - if we start seeing more of these, we can reopen it.

[2019-05-07 08:27] RongtongJin opened #786 "An error occurs when multiple threads reading the file sequentially on blobfs"
I wrote a program to test blobfs, but when multiple threads read the file sequentially, an error occurred and the program was abort occasionally.

I used Linux AIO bdev

## Expected Behavior

No error

## Current Behavior

Output information：
Starting SPDK v19.07-pre / DPDK 19.02.0 initialization...
[ DPDK EAL parameters: blobfs-test --no-shconf -c 0x1 --log-level=lib.eal:6 --base-virtaddr=0x20000

[2019-05-07 08:34] changpe1 commented on #786
@RongtongJin Thanks for submitting, can you try the following patch https://review.gerrithub.io/#/c/spdk/spdk/+/453491/ here, the root cause for this issue is obvious, and you can take issue 625 as reference.

[2019-05-07 09:44] darsto commented on #782
#784 is a duplicate, but since it contains more information I'm going to close this current issue and let #784 be

[2019-05-07 09:44] #782 closed

[2019-05-07 11:06] karlatec commented on #679
@peluse I ran

[code]

On all Fedora-based systems in CM (both physical and VMs). Do we need to do this on other OS types as well?

[2019-05-07 13:56] darsto commented on #764
Patch merged. Thanks!

[2019-05-07 13:56] #764 closed

[2019-05-07 14:44] darsto commented on #767
Bug scrub: Closing as it's a duplicate of https://github.com/spdk/spdk/issues/319, let's track it there.

[2019-05-07 14:44] #767 closed

[2019-05-07 14:48] darsto commented on #784
Bug scrub: we can try to enable ASAN on CI machines.

[2019-05-07 14:54] darsto commented on #786
Bug scrub: The patch above fixes the segfault, but not the I/O error, which should not happen. Can you prepare a unit test that reproduces this? We'll move forward from there.

[2019-05-07 14:55] darsto commented on #407
Bug scrub: It's long term feature addition for the initiator. We need to listen for CM events.

[2019-05-07 14:58] darsto commented on #620
Bug scrub: The long term goal is to add RPC for NVMe management operations into SPDK itself. As for now, we will still try to fix nvme-cli.

[2019-05-07 15:04] darsto commented on #679
Bug scrub: Yes.

[2019-05-07 15:05] darsto commented on #454
Bug scrub: @peluse please give an update

[2019-05-07 15:08] darsto commented on #646
Bug scrub: @darsto to look into this deeper for 19.07

[2019-05-07 17:15] karlatec commented on #679
Done the same steps for Ubuntu16, Ubuntu 17. Will need to update Centos as "sudo make uninstall" fails due to nasm being to old.

[2019-05-07 17:33] jwatson-scale commented on #744
@shuhei-matsumoto we will not be needing 19.01, thank you for all of your help!

-Jeremy

[2019-05-07 17:51] jimharris commented on #776
Patch merged.

[2019-05-07 17:51] #776 closed

[2019-05-07 19:06] jimharris commented on #785
Another case: http://10.102.17.206/private_build/autotest-per-patch_30373.html

[2019-05-07 20:05] shuhei-matsumoto commented on #744
Thank you @jwatson-scale @yaahallo @pbasler-scale
I abandon patches for 19.01 and close this issue. Please open additional issues as new issues.

[2019-05-07 20:05] #744 closed

[2019-05-07 20:09] shuhei-matsumoto commented on #725
@yaahallo @jimharris
I also stopped working on this. Let's reopen if necessary. Thank you for all of your help

[2019-05-07 20:09] #725 closed

[2019-05-08 06:29] vikasbrcm opened #787 "Crypto compilation for target platform"
Crypto compilation for target platform do not go through if we are compiling for target platform on x86 machine. Checking the architecture based on the local machine force the compilation to use Intel based libraries which may not be required for target platform.
A patch has been pushed for same.
https://review.gerrithub.io/c/spdk/spdk/+/453622

[2019-05-08 06:44] changpe1 commented on #786
@darsto No, my patch is a serial to fix the issue, it's same issue with #625, existing code path didn't process big IO READ with unaligned buffer, so here take the failure 262656 bytes as an example, it will return error.

[2019-05-08 07:44] liang2yan opened #788 "SPDK iscsi target reported error and hung up if running 1M io_size fio job"
## Steps to Reproduce
1. Use SPDK 19.04 and DPDK 18.11. Then run SPDK iscsi_tgt with the config as below:
[code]
2.  In the initiator machine, use iscsiadm to login to the spdk iscsi target.
3. run fio job in the initiator machine. the fio config is as below:
[code]

## Expected Behavior
SPDK no error and fio exit successfully.

## Current Behavior
SPDK reported error and hung up. fio exit with er

[2019-05-08 08:36] tomzawadzki commented on #777
The error was caused by using configuration file (bdev.conf.in) for blockdev.sh in bdev_raid.sh. In blockdev.sh /tmp/aiofile is removed at the end, so it was not present for bdev_raid.sh. There is no need use bdev.conf.in, since raid tests only use malloc devices.

Please see following patch for a fix: https://review.gerrithub.io/#/c/spdk/spdk/+/453644/

[2019-05-08 10:02] RongtongJin commented on #786
@changpe1 , Thanks for your reply. I tried your [patch](https://review.gerrithub.io/c/spdk/spdk/+/453491/), but the same error still existed.

[2019-05-08 16:14] #777 closed

[2019-05-08 16:18] jimharris commented on #788
Hi @liang2yan,

I would like to make a few requests:

1) Is there any log output from the target?
2) We should be using RPCs to set up the target and stop using the old config file format.
3) It would be great to have a script that reproduces this problem.  Push the script as a patch to GerritHub.  Then when this gets fixed, we have a test that can be added to autotest.

Thanks,

-Jim

[2019-05-08 23:55] #775 closed

[2019-05-09 00:41] changpe1 commented on #786
@RongtongJin It's patch serial, not the only one I listed here.

[2019-05-09 01:37] liang2yan commented on #788
@jimharris , the SPDK iscsi target will print following error messages:

[code]

[2019-05-09 02:14] Comphix commented on #788
Assign this issue to myself for a further look.

[2019-05-09 05:27] Comphix commented on #788
Raised the patch https://review.gerrithub.io/#/c/spdk/spdk/+/453782/ for the test steps. One major difference with existing one is this issue is from 1 MB large IO size.

[2019-05-09 09:16] #787 closed

[2019-05-09 09:53] Comphix commented on #788
Issue is hit at the log https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/30636/archive/RBD_autotest/build.log

[2019-05-09 10:11] #783 closed

[2019-05-09 14:38] benlwalker commented on #783
In all normal circumstances (i.e. not the fio plugin or rocksdb), yes an spdk_thread is mapped 1:1 to a DPDK thread in the 19.01 and 19.04 releases. In 19.04 that's not strictly required - there can be multiple spdk_threads per DPDK thread, but there isn't any code that does that yet.

[2019-05-09 16:18] #770 closed

[2019-05-09 23:49] shuhei-matsumoto commented on #788
Hi @Comphix @jimharris

Thank you for reproducing the issue.

I think the following is the issue we should investigate first. Does this match your thought?

iscsi.c:2920:4: runtime error: store to null pointer of type 'struct spdk_iscsi_task *'

iscsi.c:4248:iscsi_op_data: *ERROR*: Not found task for transfer_tag=4ac
iscsi.c:4248:iscsi_op_data: *ERROR*: Not found task for transfer_tag=4ac
fio: io_

[2019-05-10 03:16] jimharris opened #789 "Intermittent json_config.sh test failure"
https://10.102.17.104:8080/job/Other_systems/job/centos7_autotest/25276/artifact/build.log

This has come up several times.  I recently pushed a patch to get more debugging information, and this log above contains that data.

The failure would always be indicated by this line:  "Config not empty".  The log above now shows that config.

Calling clear_vhost_subsystem
Calling clear_nbd_subsystem
Call

[2019-05-10 03:55] jimharris commented on #715
https://10.102.17.104:8080/job/RBD_BlobFS_tests/job/RBD_autotest/25283/artifact/build.log

Is this test failure related?  It looks the same.

[2019-05-10 04:08] shuhei-matsumoto commented on #715
@jimharris Will you conver the URL to the public one?

[2019-05-10 04:17] jimharris commented on #715
Sorry @shuhei-matsumoto.  Please try this link:  https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_30756.html

[2019-05-10 04:24] jimharris commented on #789
http://10.102.17.206/results/autotest-per-patch/builds/30759/archive/ubuntu17_autotest/build.log

Same failure just hit again.

[2019-05-10 04:26] jimharris commented on #780
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/30759/archive/nvme_phy_autotest/build.log

This one has backtraces from the segfault.

[2019-05-10 04:38] shuhei-matsumoto commented on #715
Thank you @jimharris This looks same. I'll investigate it.

[2019-05-10 05:56] shuhei-matsumoto commented on #715
@jimharris I posted a fix for this issue. https://review.gerrithub.io/#/c/spdk/spdk/+/453959/

Probably the root cause is as follows:

Patch series for RAID bdev to make destroy_raid_bdev wait for its completion was helpful.
I saw removing raid0 caused timeout when the configuration was that raid0 is on malloc0 and malloc1.
And incoming I/Os from the host didn't stop.

I added "Fixes #715" in the

[2019-05-10 06:03] jimharris commented on #715
Hi Shuhei,

Good catch!  I posted a comment on your patch - I think there may be a way to simplify it a bit.

-Jim

[2019-05-10 06:52] shuhei-matsumoto commented on #788
Hi @liang2yan @Comphix

When you can, will you test this again with the patch https://review.gerrithub.io/#/c/spdk/spdk/+/453959/ ?

[2019-05-10 08:18] shuhei-matsumoto commented on #715
Hi Jim,

Thank you for nice suggestion. I update the patch based on it. It will work well.

[2019-05-10 10:18] tkulasek commented on #789
@jimharris ok.

[2019-05-11 08:26] Comphix commented on #788
Thanks Shuhei, will have a try on the patch.

On the other hand, tried with NULL, Malloc and NVMe different backends, this issue is seen as always. So that it is not relating to the backend.

The commit ID is

commit 788c16773b72ab8bf528b9d0c6d581648a3d9e32
Author: Jim Harris <james.r.harris@intel.com>
Date:   Thu May 2 16:55:49 2019 -0700

[2019-05-11 08:31] Comphix commented on #788
Tried the patch as following change and this issue is still there.

diff --git a/lib/scsi/lun.c b/lib/scsi/lun.c
index aa732b0..d64a4b5 100644
--- a/lib/scsi/lun.c
+++ b/lib/scsi/lun.c
@@ -216,7 +216,6 @@ scsi_lun_remove(struct spdk_scsi_lun *lun)
 {
        spdk_bdev_close(lun->bdev_desc);

-       spdk_scsi_dev_delete_lun(lun->dev, lun);
        free(lun);
 }

@@ -299,6 +298,8 @@ scsi_lun_hot_re

[2019-05-12 23:09] shuhei-matsumoto commented on #788
Hi @Comphix @liang2yan

Thank you for testing the patch. I haven't reproduced this issue locally yet and re-running CI caused not this issue but the json config issue. So honestly I don't know what is the error we should investigate and fix. Will you paste the error log around the issue to help me?

-Shuhei

[2019-05-13 02:40] liang2yan opened #790 "EAL: Unable to open runtime directory"
## Expected Behavior
SPDK nvme_manage can run without error.

## Current Behavior
nvme_manage reported following error.
[code]
## Possible Solution

## Steps to Reproduce
1. get latest SPDK codes.
2. configure SPDK with following command:

`./configure --without-isal --without-ocf --with-dpdk=/pathtodpdk-stable-18.11.1/x86_64-native-linuxapp-gcc`

3. run "make" command to compile spdk.
4. run spdk

[2019-05-13 05:37] liang2yan commented on #790
@darsto , should we add this test case into the jenkins test pool?

[2019-05-13 07:34] Comphix commented on #788
Hi Shuhei,

You could refer to below testing log:

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/30636/archive/RBD_autotest/build.log

Device paths:
['/dev/sdb', '/dev/sdc']
job0: (g=0): rw=read, bs=(R) 1024KiB-1024KiB, (W) 1024KiB-1024KiB, (T) 1024KiB-1024KiB, ioengine=libaio, iodepth=32
job1: (g=0): rw=read, bs=(R) 1024KiB-1024KiB, (W) 1024KiB-1024KiB, (T) 1024KiB-1024Ki

[2019-05-13 09:41] lorneli opened #791 "proposal: change min IOPS limit in QoS to 1k"
Currently min IOPS limit in QoS is 10k, defined in `SPDK_BDEV_QOS_MIN_IOS_PER_SEC` macro. If user specifies an IOPS parameter which is smaller than 10k, the IOPS limit will be rounded up to 10k.

Though 10k IOPS is low enough for normal cases, 1k IOPS could still be required in some special cases. For example, in cloud computing scenario a tenant uses a virtualized block device, which eventually m

[2019-05-13 12:04] darsto commented on #790
@liang2yan The failure has nothing to do with SPDK. DPDK is complaining:

That means you don't have access to neither /var/run/dpdk nor /tmp/dpdk

Are you running with sudo?

[2019-05-13 12:05] darsto commented on #791
+1

@Comphix was there any reason to set it to 10k in the first place?

[2019-05-13 12:11] liang2yan commented on #790
Yes, I run with root user account. I have run SPDK with DPDK 18.11 before. is it conflict with DPDK18.11.1?

[2019-05-13 13:07] darsto commented on #790
Hmm, I'll try to reproduce this

[2019-05-13 15:39] jimharris commented on #715
Patch merged.

[2019-05-14 04:22] shuhei-matsumoto commented on #788
Hi @Comphix

Thank you. failure of abort task is expected because it is not supported yet. As I commented above, what I'm concerned about is

iscsi.c:2920:4: runtime error: store to null pointer of type 'struct spdk_iscsi_task *'

I'll investigate this first.

[2019-05-14 04:59] Comphix commented on #788
@shuhei-matsumoto , could you give more input on why the "Abort Task" is expected.

I've run the testing with "Write" IO operation and with 128 that higher queue depth, the FIO could run successfully. While for the "Read" IO operation and with 5 or 6 smaller queue depth, the FIO is hanging and the iSCSI target reported "Task Abort" and "Reset controller".

The IO size is 1MB for read and write.

T

[2019-05-14 05:13] shuhei-matsumoto commented on #788
@Comphix

Thank you for kind explanation. OK, I could understand the issue now.

[2019-05-14 05:21] shuhei-matsumoto commented on #788
@Comphix

Sorry I saw the wrong place. Abort task is unexpected as you say.

[2019-05-14 12:12] SavanAnjaria commented on #691
@benlwalker
Looks like the issue still persists as I am hitting the same assert with another scenario.
1. Create NVMe Bdev and LVS on top of that
2. Create 8 thin provisioned lvols of 3GB size each
3. Create NVMf subsystem and connect that with an initiator
4. Discover and connect NVMe Controller on the initiator side which will then list all the 8 lvols on the initiator side
5. Run fio writes for

[2019-05-15 03:34] shuhei-matsumoto commented on #715
Sorry, we still see the issue.

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/31246/archive/RBD_autotest/build.log

[2019-05-15 06:19] yidong0635 opened #792 "autotest reprots errors on ubuntu16 with scanbuild enabled"
there're several errors on ubuntu16, when I run autotest on ubuntu16 VM  .
_1.ftl_anm.c:406:2: warning: Null pointer passed as an argument to a 'nonnull' parameter
        pthread_mutex_lock(&ctrlr->lock);
        ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
2. ctrlr.c:367:2: warning: Access to field 'tqh_first' results in a dereference of a null pointer
        TAILQ_FOREACH_SAFE(log, &ctrlr->log_head, link,

[2019-05-16 02:04] GaoliangL commented on #790
It’s a DPDK 18.11.1 issue, not a defect in SPDK 19.04.
DPDK 18.11.1 release included the backported patch ‘3d8191d eal: clean up unused files on initialization’ , but missed its follow-up fix ‘4c1ef6d eal: fix cleanup in no-shconf mode’. It will cause the failure ‘EAL: Cannot clear runtime directory’ when starting any APPs with the EAL option ‘--no-shconf’.

[2019-05-16 02:11] changpe1 commented on #790
@GaoliangL Thanks for pointing that out, @liang2yan Can you try with a new DPDK version, we can close this issue if it's not related with SPDK.

[2019-05-16 02:52] liang2yan commented on #790
Tried SPDK-19.04 with DPDK-18.11 and DPDK-19.02. No error reported. So I think we can close this issue.

[2019-05-16 04:07] changpe1 commented on #791
[Bug Scrub] It's reasonable requirement,  Gang can fix it.

[2019-05-16 04:15] changpe1 commented on #768
[Bug Scrub] There is no usage scenario for this case now, we are going to close this issue, and we can add the task to trello card if got new requirement.

[2019-05-16 04:15] #768 closed

[2019-05-16 04:23] changpe1 commented on #792
[Bug Scrub] Can we add the assertion in the Unit test where the issue was reported?

[2019-05-16 05:20] yidong0635 commented on #792
will check  the 4th , others can't.

[2019-05-16 06:01] yidong0635 commented on #792
in test/unit/lib/blob/blob.c/blob_ut.c :
 #include "common/lib/ut_multithread.c"
#include "../bs_dev_common.c"
  #include "blob/blobstore.c"
 #include "blob/request.c"
  #include "blob/zeroes.c"
 #include "blob/blob_bs_dev.c"
although  error reports issues, due to it includes  c source file.
that means this issue doesn't related to UT.

[2019-05-16 06:07] yidong0635 commented on #792
@changpe1  waiting for your kindly advise.

[2019-05-16 06:14] lorneli commented on #791
👍 👍 👍

[2019-05-16 11:50] lorneli commented on #783
@benlwalker Thanks a lot for your explanation.

The fio_plugin creates its own spdk_thread. When fio_plugin submits io to bdev layer, bdev layer needs to grab a bdev_io struct to describe this io, but it can't take advantage of the per core cache of spdk_mempool which is intended for dpdk thread. That's why the per-thread variable spdk_bdev_mgmt_channel in bdev layer provides a cache mechanism for

[2019-05-16 13:32] liang2yan opened #793 "SPDK iscsi target reported coredump in the CI nightly testing"
the SPDK iSCSI Target reported coredump in the nightly RBD_autotest. The test suite is test/iscsi_tgt/trace_record/trace_record.sh. The detailed log is as below:
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-nightly/builds/503/archive/RBD_autotest/build.log

[code]

[2019-05-16 16:46] jimharris commented on #279
We finally caught another failure on this with the tracepoints enabled:
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-nightly_503.html

Trace file attached.

The failing file is 002397.  Note that for 002397 there was never any xattr sync!  Not sure exactly how this could happen but now I at least know where to start looking.

[rocksdb_trace.pid1622296.gz](https://github.com/spdk/spdk

[2019-05-16 17:30] jimharris commented on #279
I started thinking that maybe alloc_fs_request fails, resulting in returning early from a sync operation with -ENOMEM.  It would explain why the xattr didn't get synced.  But there's a very clear SPDK_ERRLOG in this case, which I don't see anywhere in the logs.

[2019-05-16 20:56] jimharris commented on #464
Patch merged.

[2019-05-16 20:56] #464 closed

[2019-05-16 21:59] peluse commented on #780
got a repro on this locally early in the week but can't get it to happen again.  What does intermittent mean again?

[2019-05-16 22:27] ZiyeYang commented on #279
Hi Jim,

That’s great. if it returns enomem, it indicates that my previous thought is correct. Either the default num (512) is not enough, or there is req leak, which may not return back.

发自我的 iPad

在 2019年5月17日，上午1:30，Jim Harris <notifications@github.com<mailto:notifications@github.com>> 写道：

I started thinking that maybe alloc_fs_request fails, resulting in returning early from a sync operation

[2019-05-16 22:30] jimharris commented on #279
If it returned ENOMEM, we should see an SPDK_ERRLOG.  But there is no SPDK_ERRLOG in the log.  So I don't think the problem is related to running out of reqs.

[2019-05-17 01:38] optimistyzy commented on #279
@jimharris I submitted the following patch track most "-ENOMEM" case in blobfs related with file metadata operation in order to track whether it really triggers the running out of requests issue:
https://review.gerrithub.io/c/spdk/spdk/+/454829

[2019-05-17 20:09] peluse commented on #773
So I ran this on master just no with your fio file but in loopback and with only one nvme and it worked fine. The error in your output is maybe something I just didn't hit for some reason but if you could try this patch https://review.gerrithub.io/c/spdk/spdk/+/454806 that would be great.  It's mainly UT but in adding that UT I noticed that I was storing a - value for an error from compressdev API

[2019-05-17 20:19] peluse commented on #773
oh geeze, I just ran with the patch I suggested and segafulted.  Let me see what's up with that first...

[2019-05-17 22:02] peluse opened #794 "bdev/compress: multi-thread is broken"
Have root cause, will get it pushed probably Monday.  Do not test with any multi-thread use cases until fixed.

Marking this medium as compress is still experimental in this release

[2019-05-19 01:56] amtrek opened #795 "Use IOAT to perform fast copy from memory to Nvme SSD"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

I read an article published by intel which use IOAT to perform fast memcpy, we have couple nvme SSD device on dev enviroment, using the nvme perf example, the write speed achieves up to spec (1.8G /s), however, this is not fast eno

[2019-05-19 12:38] changpe1 commented on #795
@amtrek NVMe specification defines a feature called Controller Memory Buffer, but not all NVMe devices can support it, you need to check it can support data buffer or not first.  If you have such drives, you can use spdk_nvme_ctrlr_alloc_cmb_io_buffer() API to allocate data buffer, spdk_malloc* related APIs can't be used for that purpose.

[2019-05-19 17:06] peluse commented on #794
https://review.gerrithub.io/c/spdk/spdk/+/455018

[2019-05-19 17:52] peluse commented on #773
OK, fixed the issue with the suggested patch above.  Please try https://review.gerrithub.io/c/spdk/spdk/+/455019/1 and let me know how it goes.  Thank You!

[2019-05-19 17:53] peluse commented on #773
BTW with that patch I'm about 15 min into your 20 min test, so far so good....

[2019-05-19 19:04] peluse commented on #794
FYI also tested w/fio against nvmf tgt with compressdev backing.  6 threads w/verify turned on.

[2019-05-19 19:09] peluse commented on #454
I can't find it. based on the age of this I suggest we close it and if its a real problem it will get reported again.

[2019-05-20 03:21] yidong0635 opened #796 "ubuntu support libverbs error"
configure: error: <infiniband/driver.h> not found. librxe-dev requires libibverbs.

new kernel integrates this to rdma-core

apt-get install rdma-core*

[2019-05-20 13:03] #790 closed

[2019-05-20 20:51] amtrek commented on #795
@changpe1  thanks for your reply, it helps me understand a bit better. I've now created buffer on my nvme device, but while doing the ioat copy, the spdk_submit_copy never finished. Is the copy operation between source (via malloc) and destination (via spdk_nvme_ctrlr_alloc_cmb_io_buffer()) can not be completed by ioat ?

[2019-05-20 22:07] benlwalker commented on #795
@amtrek Can you confirm that you have devices that support Controller Memory Buffer for data transfer? Almost no devices support that, so I'd be surprised if you have one.

If you don't have controller memory buffer, then you can't use IOAT to transfer data to an NVMe device. The NVMe device has its own DMA engine to pull data out of host memory anyway, and the NAND itself isn't exposed as DMA-abl

[2019-05-21 01:04] yidong0635 commented on #796
maybe should install rdma-core instead of downloading and compiling librxe-dev on ubuntu serials, need
 to investigate more.

[2019-05-21 05:10] #791 closed

[2019-05-21 05:18] amtrek commented on #795
Hi, @benlwalker : Thanks for pointing that out, I am actually not certain that our SSD supports command memory buffer (Intel SSD DC P4500), when I use spdk_nvme_ctrlr_alloc_cmb_io_buffer() to allocate buffer, there's no error thrown. Dumb question, which specification should I look for to see if my device support command memory buffer ?

For your question, yes, 1.8G/s is max speed in product speci

[2019-05-21 05:47] darsto commented on #735
Closing

[2019-05-21 05:47] #735 closed

[2019-05-21 07:31] mmkayPL opened #797 "Error in vtophys mapping in nvme_pcie results in both error code and completion callback"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Sending an NVMe command with erroneous virtual address results in nvme_pcie_qpair_build_contig_request both returning an error code and executing nvme_complete_request with the supplied callback routine

## Expected Behavior
Callba

[2019-05-21 07:35] yidong0635 commented on #792
ubuntu18 need to install clang-tools to start scanbuild， otherwise hash scan-build failed.

[2019-05-21 08:15] yidong0635 commented on #792
finished this one,  three of  patches have been merged, other one will be abandoned.
close this issue.

[2019-05-21 08:15] #792 closed

[2019-05-21 09:42] Maciej-Szwed commented on #760
For the case where we find blob with a parent snapshot ID matching blob X we can finish whole process during recovery by processing forward with what is in _spdk_bs_snapshot_origblob_sync_cpl function - setting snpashot as read only, removing xattr and syncing. This way we finished snapshot process successfully.
We should remove snapshot only if there is no blob with parent pointing at blob X.

He

[2019-05-21 09:49] karlatec opened #798 "Segfault when sending json-rpc with unexpected parameter"
## Current Behavior
Spdk application segfaults when RPC command containing unexpected parameters is sent.

## Expected Behavior
Well, no segfault would be nice :)

## Steps to Reproduce
1. Compile SPDK
[code]
2. Argparse in scripts/rpc.py prevents us at Python level to pass any extra argument to function calls. Need to modify one of the functions a little bit.
[code]
3. Run spdk app and issue rpc

[2019-05-21 09:50] Maciej-Szwed commented on #551
Starting work on that right now.

[2019-05-21 09:52] darsto commented on #798
fix: https://review.gerrithub.io/c/spdk/spdk/+/455220

Thanks!

[2019-05-21 12:43] Maciej-Szwed commented on #551
Patch is ready: https://review.gerrithub.io/c/spdk/spdk/+/455239

[2019-05-21 13:24] tomzawadzki commented on #789
And here as well https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/31913/archive/ubuntu17_autotest/failed_test.log

Hard to judge from the log output, but it would seem that clear_bdev_subsystem() didn't fully clean the bdevs.
Originally theres nvme, split into two, where one of those splits is used for creating lvol store with two lvol bdevs. Lvol bdevs were deleted correctly

[2019-05-21 14:26] benlwalker commented on #795
The DC P4500 does not support controller memory buffer. It's interesting that spdk_nvme_ctrlr_alloc_cmb_io_buffer() does not fail. That's something that we need to investigate. The code looks like it should fail to me.

You can check if your device supports controller memory buffer by running the SPDK identify tool - `./examples/nvme/identify/identify`. It's also on https://ark.intel.com.

SPDK in

[2019-05-21 15:01] tkulasek commented on #789
@tomzawadzki Is that possible that split as well as nvme is pending deletion, but config is not updated yet, and we should to wait a while?

[2019-05-21 15:04] darsto commented on #796
Bug scrub: I'm assigning this to you, @yidong0635 ;)

We probably need some updates to vm_setup.sh, that's where librxe is built

[2019-05-21 15:08] darsto commented on #670
Bug scrub: it's better to update to newer VPP version, which already works with gcc8 and glibc 2.27.

@tkulasek is already working on it.

[2019-05-21 15:09] #679 closed

[2019-05-21 15:10] darsto commented on #450
Bug scrub: no update, @jimharris wants to help

[2019-05-21 15:11] Seth5141 commented on #738
Hello @rajasekaranmam, I am sorry to have taken so long to reply to this bug.
A couple of weeks ago, I attempted unsuccessfully to replicate this bug locally. I tried test case 1 and simulated drive removal using an RPC.
I also looked through the code paths and couldn't find a path where this value would be modified from two different paths. Even though I couldn't find this path by inspection, it

[2019-05-21 15:14] darsto commented on #755
Bug scrub: The fix is still WIP

[2019-05-21 15:24] darsto commented on #738
Bug scrub: @Seth5141 let's try to reproduce it on the exact same commit. If we can't reproduce it, let's close the github issue

[2019-05-21 15:26] darsto commented on #780
Bug scrub: let's keep an eye out - if this doesn't reproduce during this week we'll just close the github issue

[2019-05-21 15:32] darsto commented on #731
Bug scrub: @ack72tdp could you try running the same fio job against a local kernel block device through libaio?

If it's AIO that's slow, we can't do anything in SPDK to improve performance.

[2019-05-21 16:28] ack72tdp commented on #731
It's not the libaio as I see .. in my original post it has both kernel and SPDK results using the same device one producing at IOPS=146k, other producing at IOPS=3.6k for the same block size and workload ....

[2019-05-21 16:59] jimharris commented on #797
This is intended behavior.  vtophys only happens after the request has been sent to the transport.  This may be after spdk_nvme_ns_cmd_write_with_md has returned, if the request needs to be queued because the transport has insufficient resources to submit the command to the SSD.  So to keep the error reporting consistent, we always complete requests with bad virtual addresses through the completio

[2019-05-21 17:34] benlwalker commented on #731
Could you run fio on those devices locally, without NVMe over Fabrics? Specifically, on the target system run fio directly against the kernel devices in question. The suspicion is that these devices, since they are not NVMe devices, are not able to actually perform asynchronous I/O from user space. The kernel code path probably can.

[2019-05-21 17:50] ack72tdp commented on #731
Running FIO on both devices (kernel/userspace) directly .. gives me about 160K-170K IOPS .. Yes.. they are not NVME devices.. Devices are created by our software by abstracting many SSD devices across various nodes..

[2019-05-21 17:52] ack72tdp commented on #731
So in summary
direct device  - 160K IOPS
nvme kernl  - 146k IOPS
nvme userspace -  3.6k IOPS..

Same workload, same block size.. and same test ...

[2019-05-21 17:59] benlwalker commented on #731
To further narrow down the problem, if you run the SPDK NVMe-oF target with a malloc bdev, do you get good performance? I'm trying to tease out exactly which layer in SPDK is the root cause.

[2019-05-21 18:02] amtrek commented on #795
@benlwalker  it looks to us that in order to configure nvme SSD into RAID, the server needs to supports it, and ours does not.  Thank you for your detail answers, I've benefit from the discussion a lot.

[2019-05-22 04:19] yidong0635 commented on #796
https://review.gerrithub.io/c/spdk/spdk/+/455336

[2019-05-22 04:38] #798 closed

[2019-05-22 06:10] yidong0635 opened #799 "test/nvmf/target/filesystem.sh failed on ubuntu18"
## Current Behavior
test/nvmf/target/filesystem.sh always failed on ubuntu18.
 _parted -s /dev/nvme0n1 mklabel msdos mkpart primary 0% 100%
Warning: The resulting partition is not properly aligned for best performance._
[parted_failure.txt](https://github.com/spdk/spdk/files/3205795/parted_failure.txt)

## Expected Behavior
test can pass

## Possible Solution

## Steps to Reproduce
run auto test o

[2019-05-22 14:08] liang2yan commented on #773
Just tried your patch series, issue can't be reproduced. after patches merged, I will try again.

[2019-05-22 14:10] peluse commented on #773
Great news, thanks!

[2019-05-22 14:21] virgilshi commented on #503
@lh2debug ,after your NVMe SSD worked well, did segment fault disappear and db_bench work well? Unfortunately, I encountered some error similar to yours. I configure and install rocksdb according to https://spdk.io/doc/blobfs.html

# Expected Behavior
` test/blobfs/mkfs/mkfs /usr/local/etc/spdk/rocksdb.conf Nvme0n1` works well

# Current Behavior
When I run `test/blobfs/mkfs/mkfs /usr/local/etc/sp

[2019-05-22 22:41] jimharris commented on #788
Can you try https://review.gerrithub.io/c/spdk/spdk/+/455454.

[2019-05-22 23:14] jimharris commented on #715
I think this patch helps fix part of this issue:  https://review.gerrithub.io/c/spdk/spdk/+/455454

But after applying this patch, I now hit a consistent segfault in the hotplug path.  Still investigating.

[2019-05-22 23:58] jimharris commented on #715
https://review.gerrithub.io/c/spdk/spdk/+/455460 plus 455454 above I think will fix this.

Note that the transfer_tag error messages themselves are relatively harmless.  We may even consider removing them, or make them a debug log.  What I think is happening is that we get a large write, send a bunch of R2Ts to the initiator, and then the LUN gets hot removed and we delete the transfer task intern

[2019-05-23 00:15] shuhei-matsumoto commented on #715
@jimharris

Thank you! Two patches look good to me, but ordering should be swapped? The second one should come first? Also I found an unrelated change (remove white space). So I swapped the ordering and remove the change. Please restore the original ordering if needed.

[2019-05-23 00:43] shuhei-matsumoto commented on #715
And waiting for remaining Data Out PDUs from the initiator may require timeout feature. So changing the error log to debug log may be the practical next step. I'm positive for your idea though.

[2019-05-23 07:44] virgilshi commented on #364
Hello,
I occurred the same one, but segment fault(core dumped) happened when I run `test/blobfs/mkfs/mkfs /usr/local/etc/spdk/rocksdb.conf Nvme0n1`. More details has been shown in the last comment in #503 .
Thank you !

[2019-05-23 12:08] virgilshi opened #800 "test/blobfs/mkfs/mkfs /usr/local/etc/spdk/rocksdb.conf Nvme0n1 failed with seg fault(core dumped)"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

all step which the [website](https://spdk.io/doc/blobfs.html) shows work well.
## Current Behavior
Related issue is #503 , but differ from the issue as follow.

1.  when making rocksdb along with spdk, some er

[2019-05-23 14:27] jimharris commented on #715
Yes - you are right of course @shuhei-matsumoto.  Thanks for swapping the ordering and fixing up the unrelated whitespace change.  I've also just pushed some additional fixes to the commit messages.

[2019-05-23 17:29] jimharris commented on #279
http://10.102.17.206/private_build/autotest-per-patch_32344.html

[2019-05-23 17:32] jimharris opened #801 "intermittent lvol test #702 failure"
I've seen this failure multiple times the last couple of days.

http://10.102.17.206/results/autotest-per-patch/builds/32344/archive/lvol_autotest/build.log

It's always the "test #702" that is failing.

The lvol tests are all run as a python script which is quite a bit different than the rest of our tests.  I'm not proposing we change that here, but it would be nice if it just failed immediately

[2019-05-23 17:34] jimharris commented on #801
This is the name of the test that fails: tasting_positive_with_different_lvol_store_cluster_size

************************************
START TEST CASE tasting_positive_with_different_lvol_store_cluster_size
************************************
INFO: RPC COMMAND construct_aio_bdev
INFO: RPC COMMAND construct_aio_bdev
INFO: RPC COMMAND construct_lvol_store
INFO: RPC COMMAND get_lvol_stores
INFO: RPC

[2019-05-23 21:01] jimharris commented on #795
Closing this issue.  We can still continue discussion if you have more questions.

[2019-05-23 21:01] #795 closed

[2019-05-23 21:05] jimharris commented on #551
I added my +2.  One more +2 and we can merge it and close this issue.

[2019-05-23 21:59] jimharris commented on #794
Patch merged.

[2019-05-23 21:59] #794 closed

[2019-05-23 22:01] jimharris commented on #279
I'm fairly convinced that this describes the root cause: https://review.gerrithub.io/c/spdk/spdk/+/455575

I don't want to quite fix this bug though since we're not 100% sure it's the cause of this problem.  I'd prefer to merge this SPDK_ERRLOG, get the failure again, and see this ERRLOG printed for the same file that fails.

[2019-05-24 01:29] Comphix commented on #788
Thanks @jimharris , yes, the problem from my observation is that the data-in operation is stuck in the high queue depth. We had set a max 64 data-in operations. For 1M IO read, the queue depth above 4 will hit this issue. 1M/64K * 4 = 64 data-in IO count. I would suggest Liang to have a try with larger queue depth like 1024, 1M read to verify this issue.

[2019-05-24 01:54] glodfish-zg commented on #800
hi @virgilshi
For the Rockdb compile error, you can downgrade the SPDK to version v19.01.

root@wy-All-Series:~/sl/spdk# HUGEMEM=5120 scripts/setup.sh
0000:01:00.0 (1d1d 1f1f): nvme -> vfio-pci

It seems that you do the test in the VM, it 's a virtual NVMe device. I am not sure about this, maybe @changpe1 can give some suggestion.

[2019-05-24 03:27] virgilshi commented on #800
Thanks a lot for your reply. Rocksdb compile error disappeared by `git checkout v19.01`. My testing ssd is openchannel ssd, not VM.

[2019-05-24 04:06] cockroach1136 commented on #527
@darsto
    I just try this patch.
   But the phenomenon is the same. We still get strange CID in CQ.
   I put some log code in register call back and call back function.
   I found the call back is indeed registered,   ### **But the call back is nerver triggered..**
  Did I missed any part of setting ??
   Now we use the pcie driver is VFIO.

  Any suggestion is welcome, thank you so much.

[2019-05-24 04:08] cockroach1136 commented on #527
@darsto
   By the way, the spdk version we are using is 19.01

[2019-05-24 05:12] #551 closed

[2019-05-24 05:57] darsto opened #802 "kernel nvmf initiator hangs on disconnect"
This came up in nightly. It seems like we try to connect and disconnect the kernel initiator multiple times as a part of the test and at some point one disconnect gets stuck.

[code]

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-nightly/builds/511/archive/nvmf_phy_autotest/build.log

[2019-05-24 06:05] yidong0635 commented on #796
this supports ubuntu18 and later version. ubuntu16 should keep former .

[2019-05-24 06:13] yidong0635 commented on #802
met the same issue auto test failed.
01:01:44       # xtrace_enable
 01:01:44       # ((  i == 0  ))
 01:01:44       # return 0
 01:01:44       # modprobe nvme-rdma
 01:01:44       # timing_exit start_nvmf_tgt
 01:01:44       # xtrace_disable
 01:01:44       # PREV_BASH_OPTS=ehxBE
 01:01:44       # set +x
 01:01:44       # xtrace_enable
 01:01:44       # /home/vagrant/master/build-20190524005845/s

[2019-05-24 06:26] liang2yan commented on #788
verified with latest codes since the patch merged. This issue can't be reproduced.

[2019-05-24 19:46] jimharris commented on #788
Thanks @liang2yan!

[2019-05-24 19:46] #788 closed

[2019-05-24 19:55] jimharris commented on #802
We will need to keep an eye on this one.  Note that we recently removed the -p option from this test which limited the number of qpairs that we create.  So now instead of creating 4 queue pairs per connect, we do 60 (at least on this system).

We also do the connect/disconnect loop 50 times on the nightly test vs. just 3 on per-patch testing.

[2019-05-24 21:39] Seth5141 commented on #738
@rajasekaranmam I have tried to replicate this bug on the SPDK commit that you specified using case 1 from above.
1. create 4 malloc bdevs.
2. construct a raid bdev on top of those four bdevs.
3. construct a single lvol store and lvol bdev on top of the raid bdev.
4. expose that lvol bdev as a namespace in the NVMe-oF target.
5. discover and connect to the bdev using an NVMe-oF initiator.
7. run f

[2019-05-24 23:53] jimharris commented on #279
This patch adds a unit test that reproduces this problem, along with the fix.

https://review.gerrithub.io/c/spdk/spdk/+/455692

Disregard the 455575 patch above.  It described the problem, but the ERRLOG it added was fairly bogus.  Now that we have a unit test that reproduces the problem, the ERRLOG is unnecessary.

[2019-05-26 11:51] ShaharSalzman-K commented on #736
Hi,

Sorry for the delayed response, I've been off the radar for the past few weeks.

Regarding recreating the problem, the scrtipt you are running is very similar to what I had been running, but I think that we only started seeing this when we moved to more advanced switch options, i.e. PFC and DSCP marking. The switches we used where Mellanox, with Cumulus Linux, not sure if we ever tried to rec

[2019-05-27 04:30] darsto opened #803 "Blobstore documentation page is missing some images"
There's some javascript on the blobstore page which doesn't work for me. I'm guessing it's supposed to generate some image, but I can't see anything on the screen.

[code]

Maybe we're missing a two.js include?

[2019-05-27 13:53] pawelkax opened #804 "Windows scsi compliance tests suspend"
See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Windows scsi compliance tests run on jenkins suspend

## Expected Behavior
Windows scsi compliance tests end with success

## Current Behavior
Windows scsi compliance tests suspend on:
ASSERTION 13.6 WRITE (16) Write-With-Disk-Cache-Disabled Test

## Possible Solution
Not known

## Steps to Reprod

[2019-05-27 13:54] pawelkax commented on #804
@changpe1 I found that tests start failing from https://review.gerrithub.io/#/c/spdk/spdk/+/436088/

[2019-05-27 17:35] ak-gh opened #805 "bdev: assert(shared_resource->io_outstanding > 0) being hit on STATUS_NOMEM io completion"
## Expected Behavior
STATUS_NOMEM io should complete gracefully and get retried eventually.

## Current Behavior
Assert under subject is being hit consistently.

## Possible Solution
Looks like a one-liner (notice shared_resource->io_outstanding being decremented right before the assert check under STATUS_NOMEM clause).

[code]

## Steps to Reproduce
1. Run any test against aio bdev with sufficien

[2019-05-27 18:17] karlatec commented on #804
@pawelkax does vhost app print any error messages to stdout or stderr? If so, then it'd be good to post them here as well.

[2019-05-27 23:40] shuhei-matsumoto commented on #805
@ak-gh Thank you Andrey. Did you already post a patch to Gerrit or will you do if not yet?

[2019-05-28 00:32] changpe1 commented on #805
@ak-gh You can remove the assertion line, we don't need to add that assertion again, can you submit a patch to fix the issue ? Thanks.

[2019-05-28 00:43] changpe1 commented on #800
@virgilshi Is your NVMe SSD dual-mode one? I'm wondering if you will get the same result with common SSDs.

[2019-05-28 00:46] changpe1 commented on #799
@yidong0635 Can this issue be reproduced very easy ?

[2019-05-28 01:07] virgilshi commented on #800
@changpe1 , thank you.
My testing SSD is  just one-mode one, i.e., Openchannel SSD. Can I use common SSDs(e.g., SATA SSDs, M.2 SSDs) for testing? OK, I will do it later and update the issue, thanks.  ( The first error has been solved with the help of @glodfish-zg, and the second error isn't too much urgent, maybe a negligible bug.  However, The last error is to be solved.)

[2019-05-28 01:11] changpe1 commented on #800
@virgilshi You can use SATA SSDs with SPDK AIO backend, edit the rocksdb.conf with
[AIO]
AIO /dev/sdX AIO0
and format you drive with test/blobfs/mkfs/mkfs /usr/local/etc/spdk/rocksdb.conf AIO0

[2019-05-28 01:13] virgilshi commented on #800
OK, thank you very much.

[2019-05-28 02:35] virgilshi commented on #800
I can run `test/blobfs/mkfs/mkfs /usr/local/etc/spdk/rocksdb.conf AIO0` and `./db_bench --spdk=/usr/local/etc/spdk/rocksdb.conf --spdk_bdev=AIO0` (`cmd1` for short) successfully. However when I run `cmd1` again in the same terminal, **new error appears ( i.e. Segmentation fault (core dumped))**.

### Steps to Reproduce
1. modify rocksdb.conf
[code]
2. configure and install spdk
[code]
3. make rock

[2019-05-28 02:38] changpe1 commented on #800
@virgilshi Thanks for the update, can you add the call trace here for the segment fault issue ?

[2019-05-28 02:42] virgilshi commented on #800
Thank you for your help, I'll try it now.

[2019-05-28 04:53] yidong0635 commented on #802
if my memory is enough ,can pass this item.

[2019-05-28 04:55] yidong0635 commented on #799
yes , on ubuntu18,  it always blocks me.

[2019-05-28 05:03] changpe1 commented on #799
@yidong0635 Can you debug it to see why the block device do not exist on your system?

[2019-05-28 08:10] pawelkax commented on #804
@changpe1 This is a last log from console:
ASSERTION 13.6 WRITE (16) Write-With-Disk-Cache-Disabled Test
Test: The command writes 12 MB of data correctly with cache disabled.
Info: Refer to SBC-2 (SCSI Block Commands) specification revision 8 Section 5.2.33.
Info: This test writes 12 MB of data to disk. Then, it reads the same 12 MB data that has just been written to verify that the data we just w

[2019-05-28 08:12] changpe1 commented on #804
@pawelkax I checked the code, it doesn't introduce any new feature for IO commands, is there any log information from the SPDK side?

[2019-05-28 08:28] pawelkax commented on #804
@changpe1 Unfortunatley I cannot find any more useful logs

[2019-05-28 08:31] ak-gh commented on #805
Ok, I'll submit a patch today.

[2019-05-28 09:09] pawelkax commented on #804
@changpe1 I reverted patch https://review.gerrithub.io/#/c/spdk/spdk/+/436088/ and tests are working so the bug must be in this patch

[2019-05-28 09:21] changpe1 commented on #804
@pawelkax Thanks, I will setup a Windows environment to debug it.

[2019-05-28 13:52] jimharris commented on #804
Do the Windows compliance tests run SCSI reservations tests?  Or try to reserve the LUN before doing the write command?

I really don't see how 436088 could affect a write test, unless there are reservations happening as part of the test.

Are there no logs from the Windows system?

[2019-05-28 14:18] jimharris commented on #799
Hi @yidong0635 - could you try adding "partprobe" after the "parted"?

[2019-05-28 14:22] ak-gh commented on #805
https://review.gerrithub.io/c/spdk/spdk/+/455985

[2019-05-28 17:16] benlwalker commented on #803
https://review.gerrithub.io/c/spdk/spdk.github.io/+/456073

[2019-05-28 19:40] darsto commented on #803
^ merged. thanks

[2019-05-28 19:40] #803 closed

[2019-05-29 03:35] jimharris commented on #785
I've seen this failure a couple more times.  Here's the primary symptom:

10.0.0.1:3260,1 iqn.2016-06.io.spdk:Target14
10.0.0.1:3260,1 iqn.2016-06.io.spdk:Target15
 21:48:01	# iscsiadm -m node --login -p 10.0.0.1:3260
iscsi.c:4496:spdk_iscsi_execute: *ERROR*: before Full Feature
conn.c:1373:iscsi_conn_handle_incoming_pdus: *ERROR*: spdk_iscsi_execute() fatal error on iqn.2016-06.io.spdk:Target15,t

[2019-05-29 03:36] yidong0635 commented on #799
@jimharris @changpe1  will try what you are suggested, but now I'm blocked by #802.

[2019-05-29 03:37] jimharris commented on #785
Two of the failures referenced here on fedora_vm_6.  One on fedora_vm_4.

[2019-05-29 03:38] jimharris commented on #793
I'm 99% sure this is a duplicate of issue #785.  So I'm going to close this issue.

[2019-05-29 03:38] #793 closed

[2019-05-29 03:39] yidong0635 commented on #799
this only happens on ubuntu18, fedora28 is ok.

[2019-05-29 03:47] jimharris commented on #799
Does #802 happen every time on Ubuntu 18?

[2019-05-29 04:12] yidong0635 commented on #799
it almost every time, I tried some methods , but can't bypass it.

[2019-05-29 04:45] shuhei-matsumoto commented on #805
The patch was merged. Thank you Andrey.

[2019-05-29 04:45] #805 closed

[2019-05-29 04:47] shuhei-matsumoto commented on #715
Probable fixes are merged. We will reopen if reproduced.

[2019-05-29 04:47] #715 closed

[2019-05-29 08:21] yidong0635 commented on #799
maybe a little different,  my failures are at nvme connects.

[2019-05-30 00:43] yidong0635 commented on #796
since this patch has been merged, close this issue.

[2019-05-30 00:43] #796 closed

[2019-05-30 01:18] changpe1 commented on #802
There is a similar issue in https://www.spinics.net/lists/linux-rdma/msg64887.html here, someone also mentioned that due to limited MR in RDMA cards, so maybe we still need to limit number of queue pairs when connecting to remote target.

[2019-05-30 02:24] virgilshi commented on #800
@changpe1 hi,
The call trace is below.
[code]
### Steps to Reproduce
The step is refered to [website](https://www.gnu.org/software/gcc/bugs/segfault.html).

[2019-05-30 09:13] darsto commented on #790
FYI, this is fixed in the upcoming DPDK 18.11.2

[2019-05-30 09:22] yidong0635 commented on #802
git reset --hard HEAD~100 ----git reset --hard HEAD~200
Starting SPDK v19.07-pre / DPDK 19.02.0 initialization...
[ DPDK EAL parameters: nvmf -c 0xF --log-level=lib.eal:6 --log-level=lib.cryptodev:5 --log-level=user1:6 --base-virtaddr=0x200000000000 --match-allocations --file-prefix=spdk0 --proc-type=auto ]
app.c: 628:spdk_app_start: *NOTICE*: Total cores available: 4
app.c: 538:spdk_app_setup_tra

[2019-05-30 10:03] yidong0635 commented on #802
@jimharris @darsto @changpe1 if need bring this back? "-p 4"?
 09:50:04       # /home/vagrant/master/build-20190530094529/spdk/scripts/rpc.py nvmf_create_transport -t rdma -u 8192 -p 4 -c 0
 09:50:04       # modprobe -v nvme-rdma
 09:50:04       # /home/vagrant/master/build-20190530094529/spdk/scripts/rpc.py construct_malloc_bdev 64 512 -b Malloc1
Malloc1
 09:50:05       # /home/vagrant/master/bui

[2019-05-30 12:05] yidong0635 commented on #799
@jimharris  adding "partprobe" after the "parted",
11:36:26       # partprobe
it keeps waiting.

[2019-05-30 17:35] jimharris commented on #802
Is this two different issues?  The title and original description shows a problem with disconnect.  But more recent posts show the problem during connect.

I don't want to bring back the "-p 4".  This looks like a real problem that needs to be debugged.  It might be a kernel bug, but we need to interoperate well with the Linux kernel drivers.  If we add the "-p4 " back, it will just hide this issu

[2019-05-30 17:36] jimharris commented on #799
OK - thanks for trying.

[2019-05-31 01:12] yidong0635 commented on #802
My fault to put these issues in one, at the beginning , It blocks me at the connection. So I want to put it here. also need to nvme connect/disconnect.

[2019-05-31 04:07] yidong0635 commented on #799
tried  a method，partprobe takes 10 minites， it's too long：

 02:35:31       # wipefs -a /dev/nvme0n1
/dev/nvme0n1: 2 bytes were erased at offset 0x000001fe (dos): 55 aa
/dev/nvme0n1: calling ioctl to re-read partition table: Success
 02:36:53       # parted -s /dev/nvme0n1 mklabel msdos mkpart primary btrfs 0% 100%
Warning: The resulting partition is not properly aligned for best performance.
 02:

[2019-05-31 05:28] yidong0635 commented on #802
the same issue exists in other nvmf_create_transport  related file including connect_disconnct.sh.
so need to resolve this.

[2019-05-31 08:00] wanghailiangx opened #806 "fio running on crypto bdev in iscsi can cause target crash"
Verifying Ziye's patch https://review.gerrithub.io/#/c/spdk/spdk/+/453961/.
Checking fio run on iSCSI target + crypto bdev test.  Found segmentation fault error.
When crypto bdev has been created, then run fio.

## Expected Behavior
Fio can run and the iscsi target doesn't report error.

## Current Behavior
The iscsi target will reports:
[code]

gdb infio:
[code]

## Possible Solution
Consider dea

[2019-05-31 12:29] optimistyzy commented on #806
@peluse We successfully exported the device via iscsi target and the initiator can see the device, however it failed the fio test.

[2019-05-31 12:30] tkulasek commented on #789
I have a problem to reproduce it on my local machine. I've run this test in a loop for a whole night and nothing happen.

[2019-05-31 14:10] peluse commented on #806
Can you try this same exact setup but w/o Crypto please?

[2019-05-31 15:19] jimharris commented on #802
Hi @yidong0635,

Could you please post URLs for these failures when you find them?  Or if you are hitting this problem on your local system, please provide details on that system.

Thanks,

-Jim

[2019-05-31 15:20] jimharris commented on #802
It would also be great if you could try to reproduce this on your local system.  That will allow us to more quickly come to resolution.

[2019-06-02 07:30] optimistyzy commented on #806
@peluse if you export other bdev，it works correctly.

[2019-06-03 02:46] liang2yan commented on #436
This issue still existed with latest SPDK codes and X722 production version NIC. The env config is as below:
kernel version: 5.0.17-200.fc29.x86_64
rdma-core version:20.1 (must contain the fix Ben mentioned)
SPDK commit: 9da1c7384d8b540a85c489429e7592dbf805d7c6

reproduce steps:
1. run SPDK nvmf_tgt in loopback mode;
2. run nvme command to discover SPDK nvmf_tgt in loopback mode.

[2019-06-03 03:02] wanqunintel commented on #436
@liang2yan

[2019-06-03 03:02] wanqunintel commented on #436
sorry for closed it by mistake. reopened

[2019-06-03 03:17] vsnag opened #807 "hello_nvme_blob.c missing in repo"
SPDK blobstore programmers guide talks about a file in examples called hello_nvme_blob.c. This is currently not found in the repo nor in the release package.

[2019-06-03 07:00] yidong0635 commented on #802
@jimharris ,  I reproduced this in ubuntu18 with SoftRoCE:
setup  ubuntu18 on waikikibeach15:
apt-get install rdma-core
rxe_cfg add ens785f1
rxe_cfg start
./test/nvmf/nvmf.sh
[nvme_connect_failure.txt](https://github.com/spdk/spdk/files/3246253/nvme_connect_failure.txt)

[2019-06-03 08:32] Donaim commented on #670
@yidong0635 have you got other issues related to this topic other than QEMU install? I suggest closing this thread.

[2019-06-03 08:49] yidong0635 commented on #670
ok , thanks for all your efforts.

[2019-06-03 08:50] #670 closed

[2019-06-03 09:12] wanghailiangx commented on #806
I list steps here for reproducing on local.
1. start a iscsi target with one core, ./app/iscsi_tgt/iscsi_tgt
2. construct crypto bdev and target_node.
./scripts/rpc.py add_portal_group 1 127.0.0.1:3260
./scripts/rpc.py add_initiator_group 2 ANY 127.0.0.1
./scripts/rpc.py construct_malloc_bdev 64 4096
./scripts/rpc.py construct_crypto_bdev -b Malloc0 -c crypto0 -d "crypto_aesni_mb" -k "123456781234

[2019-06-03 09:34] changpe1 commented on #807
@vsnag Thanks for reporting, I've removed the description via patch https://review.gerrithub.io/#/c/spdk/spdk/+/456598/.

[2019-06-03 11:08] vsnag commented on #807
Does it mean blob to NVMe direct interaction is not supported?
Is the interaction only via the bdev abstraction is it?

[2019-06-03 11:29] tomzawadzki commented on #789
This issue is still valid, last failure occurred as recent as last Friday May 31st.
I've seen it occur on Ubuntu17/Centos7/FreeBSD, on different VMs for each one.

<details>
  <summary>Links to build logs</summary>
  <p>

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/30108/archive/centos7_autotest/build.log
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/bu

[2019-06-03 16:50] tkulasek commented on #785
Another case on fedora_vm_6: https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/33330/archive/RBD_autotest/build.log

[2019-06-03 21:53] jimharris opened #808 "bdevio seg faults with NVMe/TCP bdev"
The SPDK bdevio test fails with an NVMe/TCP namespace as a bdev.

This was found during refactoring of the NVMf tests for automated NVMe/TCP testing.

To reproduce:
1) Make sure you're running with a Linux kernel that supports NVMe/TCP.
2) Check out https://review.gerrithub.io/c/spdk/spdk/+/456698
3) Run "test/nvmf/target/bdevio.sh --transport=tcp"

bdevio output:

[code]

gdb backtrace from the s

[2019-06-03 22:22] KariukiJ opened #809 "spdk_nvmf_tcp_create: *ERROR*: There are not enough buffers"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

When creating the TCP transport using the nvmf_create_transport rpc with the following parameters:
scripts/rpc.py nvmf_create_transport -t TCP -u 16384 -p 64 -c 8192

The target throws error "There are not enough buffers to satisfy

[2019-06-03 22:23] KariukiJ commented on #809
By default the number of shared buffers is 511 and the buffer cache size is 32. The transport allocated 511 data buffers total, then tried to hand out 32 buffers to each thread on the system.
The target was configured to use 16 CPU cores using the -m core mask option. This means that there are 16 threads, so 16 * 32 is 512 and that is why there are not enough shared buffers.

You can fix this by i

[2019-06-03 22:23] #809 closed

[2019-06-04 06:05] optimistyzy commented on #808
@jimharris  I pushed the following patch,  https://review.gerrithub.io/c/spdk/spdk/+/456755.
But this path is based on  a very small patch(https://review.gerrithub.io/c/spdk/spdk/+/455899). It can solve the coredump issue, and I tested, it works well. For the very big I/O,  Need another patch.

[2019-06-04 07:17] optimistyzy commented on #808
@jimharris  https://review.gerrithub.io/c/spdk/spdk/+/456760 This patch with one line can solve the wrong calculation of the io length.  With the patch series, we can fix the issue you reported in the bdevio.

[2019-06-04 11:15] tomzawadzki commented on #807
You are correct - blobstore at this time only supports interaction with underlying device via bdev. This is implemented in lib/blob/bdev/blob_bdev.c.

There is abstraction around blobstore that should allow adding NVMe interaction, in similar manner to blob_bdev.c by implementing functions [here](https://spdk.io/doc/blob__bdev_8h.html) and callbacks for [spdk_bs_dev](https://spdk.io/doc/structspdk

[2019-06-04 15:10] darsto commented on #789
Bug scrub: The leftover NVMe bdev was used as lvolstore. @tomzawadzki is working on improving the test output.

[2019-06-04 15:13] darsto commented on #785
Bug scrub: We need additional logs. @shuhei-matsumoto just a question - are you working on this?

Jim suggests adding tracelogs.

[2019-06-04 15:23] darsto commented on #780
Bug scrub: still reproduces.

We need to add more instrumentation to the identify app - someone should go through the entire code path of getting nvme log pages.

[2019-06-04 15:38] darsto commented on #729
Bug scrub: Could it be QEMU crashing?

Seth suggests to check if any physical machines "crash" as well, that would rule out QEMU theory.

I suggest to automatically retrigger the test if it did not generate any logs. For now we can retrigger the entire autotest-per-patch.

[2019-06-04 17:33] jimharris commented on #780
Patch out for debugging this issue: https://review.gerrithub.io/c/spdk/spdk/+/456871

[2019-06-04 17:36] peluse commented on #780
cool, I hadn't seen this for a while but it just hit one of my patches yesterday

[2019-06-04 18:42] jimharris commented on #780
Yeah - this does look like a problem with the Intel log pages:

http://10.102.17.206/results/autotest-per-patch/builds/33565/archive/nvme_phy_autotest/build.log

It hits my assert specifically when running the Intel log page commands.  Will add more specifics to figure out exactly which one it is, and how much data its actually writing.

[2019-06-04 19:48] jimharris commented on #780
Looks like this is an SSD FW bug that has been fixed.  Rev 8DV10171 has the problem, 8DV101H0 does not.

Waiting for one more test run to see how many bytes it overwrites with the bad FW.  Then we will change the size of struct spdk_nvme_intel_marketing_description_page to add extra bytes to work around this problem.

WP2 passes my test:
Model Number:                          INTEL SSDPE2MD400G4
F

[2019-06-04 20:07] jimharris commented on #780
It apparently overwrites 4 bytes.

EAL:   using IOMMU type 1 (Type 1)
size=512 but overwrote 4 bytes
identify: nvme.c:195: nvme_user_copy_cmd_complete: Assertion `false' failed.
test/nvme/nvme.sh: line 100: 595934 Aborted                 (core dumped)

https://review.gerrithub.io/c/spdk/spdk/+/456880 should fix this issue for good.

[2019-06-04 20:29] jimharris commented on #789
I'm fairly certain this intermittent failure is because clear_config.py issues the RPCs to delete the split and nvme bdevs, but those RPCs complete immediately - they don't wait for the bdev unregister callback.

In most cases, by time we run the config_filter, the unregistrations have happened, and the configuration is clear.  But not always.

I think for now, just be dumb and add a 2 second dela

[2019-06-04 23:18] jimharris commented on #808
FYI - the patch series mentioned above has all been merged.  So this issue can be reproduce now by just running "test/nvmf/target/bdevio.sh --transport=tcp" with latest master.

[2019-06-05 00:35] shuhei-matsumoto commented on #785
@darsto I will add trace log first as Jim suggest, but not started yet. Hopefully I will start in this week.

I have another iSCSI seg fault issue found by our team. I don't add it to Github yet because I haven't reproduced it by SPDK master yet. This is higher priority for me.

[2019-06-05 05:30] changpe1 commented on #807
@vsnag Patch has been merged, the unnecessary description has been deleted.

[2019-06-05 05:30] #807 closed

[2019-06-05 07:20] karlatec commented on #729
@darsto I think the initial Github issue was caused by SSH connection drop in Jenkins due to very rapid prints to console log (there was a JIRA issue for that but I can't find it at the moment), but that's not the case anymore after @jimharris "fixed" the NVMe reset test case.

I am pretty sure that now Qemu crashes are the root cause. From servers hosting the VMs:
[code]

[2019-06-05 07:53] shuhei-matsumoto commented on #785
@darsto @jimharris I pushed a patch to dump PDU when any PDU other than login to the target which is not in runnable state.
https://review.gerrithub.io/c/spdk/spdk/+/456952

[2019-06-05 08:15] tkulasek commented on #789
I was trying with delay here: https://review.gerrithub.io/c/spdk/spdk/+/455668, but I wasn't able to confirm it solves the problem.

[2019-06-05 08:20] shuhei-matsumoto commented on #785
Test condition and environment is completely different but our use case have observed the failure whose signature is same as this. Our test case is to run 4k random read/write (r:w = 7:3), 16 connections, 10 LUNs. Our gdb showed iovec array was corrupted when the failure occurred. This may be unrelated but the signature was same. So I want to share for just in case.

[code]

[2019-06-05 08:39] habeanf opened #810 "Error starting spdk on arm64"
The spdk_tgt app crashes on start up on arm64.

## Expected Behavior
spdk_tgt should start on arm64

## Current Behavior
Getting the following error:
[code]

[2019-06-05 09:02] shuhei-matsumoto commented on #785
I'm not confident if the above addition is helpful. I will investigate the code and log more.

[2019-06-05 10:21] darsto commented on #695
@jimharris Yeah - at least

[2019-06-05 10:23] darsto commented on #807
The patch from Changpeng is now merged. I'm closing this issue, but don't hesitate to continue the discussion here :)

[2019-06-05 10:24] darsto commented on #807
@vsnag thanks for reporting!

[2019-06-05 13:08] jimharris commented on #789
I think that patch is the best approach. I’d suggest using a shorter sleep time per loop but run the loop more times so that it waits up to 10 seconds to be safe. And also add a comment explaining why we are doing the sleeping.

It’s ok to merge that without confirmation - we can always reopen the issue if it surfaces again.

[2019-06-05 13:47] jimharris commented on #780
Patch has been merged.

[2019-06-05 13:47] #780 closed

[2019-06-05 14:43] tkulasek commented on #789
New version of patch is ready.

[2019-06-05 14:52] jimharris commented on #789
Thanks @tkulasek!  Code changes look good.  Could you add "Fixes issue #789" to the commit message?

[2019-06-05 14:54] jimharris commented on #810
Hi @habeanf,

Thanks for the report.  Could you try this with both SPDK 19.04 as well as 7bb1c57~1 (the commit before 7bb1c57).  You may have noticed that 7bb1c57 is the commit that switches the DPDK submodule from DPDK 19.02 to DPDK 19.05 - I'm curious if the new DPDK version is causing the problem here.

Please make sure to do a "git submodule update" when you go back to the older commits to mak

[2019-06-05 15:30] jimharris commented on #785
Hi @shuhei-matsumoto,

iovec_array is on the stack (it's called "iovs" now), so I think as long as iovec_cnt is valid there's no corruption here.

Can you provide more details on the failure you're seeing?

Thanks,

-Jim

[2019-06-05 16:15] #808 closed

[2019-06-05 17:41] habeanf commented on #810
Sure. With commit 975e46149 which precedes 7bb1c57 spdk hangs on startup (compiled with `CONFIG_DEBUG=y` ):

[code]

[2019-06-05 17:46] habeanf commented on #810
@jimharris If it helps, it should be worth mentioning that I'm not entirely sure how iommu/smmu works on the platform I'm compiling on. I can't find any exposed kernel parameters that can be enabled or disabled it.

[2019-06-05 18:33] jimharris commented on #789
Patch merged so closing.  Let's keep an eye out for this though.

[2019-06-05 18:33] #789 closed

[2019-06-05 22:41] shuhei-matsumoto commented on #785
Hi @jimharris

I might be a little upset.

The above is based on SPDK 18.07. iovec_cnt was optimized out and we didn't know the value, but it would be valid.

The signature what we are seeing is very similar with

[code]

We haven't seen "before Full Feature" but have seen  iscsi_get_pdu_length caused NULL pointer access as same as above. The stack dump was the one my colleague collected when iscs

[2019-06-05 23:15] shuhei-matsumoto commented on #785
The issue what we are seeing is reproducible, said my colleague. This issue has many different signatures but what we are seeing has the same signature of error.

iscsi_get_pdu_length() may cause NULL pointer access if writev() wrote more than iovec array but that is very unlikely.

[2019-06-06 02:37] shuhei-matsumoto commented on #785
The issue we had observed was not reproduced by updating SPDK to 19.04. They said the issue became solid when using multi cores for SPDK 18.07, but the issue didn't occur even when using multi cores for SPDK 19.04.

They are worrying that they don't find root cause yet.

This issue #785 may be related with multi core configuration too and they will be happy if this issue is fixed.

[2019-06-06 09:19] cockroach1136 commented on #527
Hello Sir,
     Is there any schedule for supporting hotplug in VFIO in spdk nvme driver??
     Because this related to our product schedule and the hotplug is an important feature for our produce.
     Please give us advise.

    Thank you so much

[2019-06-06 14:11] mhae opened #811 "spdk_thread_send_msg error handling"
It seems that spdk_thread_send_msg can fail if there are no more entries in the ring buffer holding the messages (see https://github.com/spdk/spdk/blob/264667078184117dfc265fa525276356d0f69f9a/lib/thread/thread.c#L696)

While the ring buffer is fairly large 64k, there can still be situations where a thread is sending messages to another thread at a higher rate than it can handle.
If I understand t

[2019-06-06 16:35] benlwalker commented on #811
Correct - we need to figure out what our strategy is going to be here. Either we need to let the message pass fail and then try to handle failures throughout the code, or we need to possibly block the thread and spin until it works. Both aren't great options, but fortunately there isn't that much message passing going on in SPDK so it should be tractable to resolve.

[2019-06-06 16:52] darsto commented on #527
@cockroach1136 Sorry for the lack of response. We don't have any schedule for the full VFIO hotplug support yet, but we're continuously making some steps towards fixing it. We definitely want to get your case fixed, so could you prepare a specific list of steps on how to reproduce it? I'd like to debug it locally.

[2019-06-06 17:23] cockroach1136 commented on #527
Hello Sir,
      Thank you so much for your response.
      I have described the reproduce steps of this problem in previous mails.
But I think it still hard to reproduce the problem for you because it needs many disks.
In other way, I think if we can observe the VFIO hard remove event when we hot removed disk,
That would be a good sign for the problem is solved.
But when we use the patch, we stil

[2019-06-06 19:59] mhae commented on #811
Agreed, for the basic SPDK use cases it is probably okay ... but issues can arise when we use SPDK threading in a different execution env.
What do you think about adding a function that returns whether the message queue is full? We already have spdk_thread_is_idle that looks at the ring count.
This at least would allow a caller to avoid posting more messages when the queue is full.

[2019-06-06 20:46] ak-gh commented on #811
On Thu, Jun 6, 2019, 19:35 Ben Walker <notifications@github.com> wrote:

There's a third option thanks to us owning the message data structure. It
should be relatively straightforward to add a tailq link field to the
message/tailq head to the thread structure so as, on ring_enqueue failure,
to queue message in a per-thread tailq. Queued messages could be retried
when, say, the thread receives a me

[2019-06-06 20:53] KariukiJ opened #812 "SPDK NVMe-oF Target throws error “ctrlr.c:1008:spdk_nvmf_ctrlr_set_features_host_identifier: *ERROR*: Set Features - Host Identifier not allowed”"
When running test case 7.1 from the UNH-IOL_NVMe_Conformance_Test_Suite_v11 I ran into several issues with the emulated support for reservations that was recently added to the SPDK NVMe-oF target. The purpose of the test case is to verify if the NVMe Controller properly reports status of a reservation when processing a Reservation Report Command

## Expected Behavior
The SPDK NVMe-oF target report

[2019-06-06 21:27] vermavis opened #813 "SPDK compress bdev issue while running FIO"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

While running 4K writes using FIO to a compressed bdev volume on top of thin provisioned LVOL, I noticed a seg fault. FIO was ran with verify to make sure written data is also correctly read back.

## Expected Behavior

Seg fault s

[2019-06-06 22:17] peluse commented on #813
FYI the patch that is still pending to add compress tests to CI just caught a very similar issue so that's kidna re-assuring.

[2019-06-06 22:20] vermavis commented on #813
Cool, glad that it’s reproducible.

From: Paul Luse [mailto:notifications@github.com]
Sent: Thursday, June 06, 2019 3:17 PM
To: spdk/spdk <spdk@noreply.github.com>
Cc: Verma, Vishal4 <vishal4.verma@intel.com>; Author <author@noreply.github.com>
Subject: Re: [spdk/spdk] SPDK compress bdev issue while running FIO (#813)

FYI the patch that is still pending to add compress tests to CI just caught a v

[2019-06-06 23:21] peluse commented on #813
blah, this is something different

[2019-06-06 23:29] peluse commented on #813
Hey Vishal, looking at your steps to repro:
./scripts/rpc.py construct_compress_bdev -b Nvme0n1 -p /mnt/pmem/ -d compress_isal
Not sure if you pasted this wrong here but you are specifying the nvme bdev as the base for compression, not the lvol. The name of the compress dev in your output clearly shows its on the lvol though, can you double check?

[2019-06-06 23:32] vermavis commented on #813
That was the typo…
I am using UUID rather than just specifying nvme bdev. Somehow I ended up copying old command.
The right command is following:

./scripts/rpc.py construct_compress_bdev -b $UUID -p /mnt/pmem -d compress_isal

From: Paul Luse [mailto:notifications@github.com]
Sent: Thursday, June 06, 2019 4:30 PM
To: spdk/spdk <spdk@noreply.github.com>
Cc: Verma, Vishal4 <vishal4.verma@intel.com>

[2019-06-06 23:37] peluse commented on #813
OK, thanks.  Working to repro...

[2019-06-07 09:40] pawelkax commented on #804
Hi @changpe1 ,
Do you have any update on this issue?
If you need help please let me know.

[2019-06-07 15:16] songweijia opened #814 "Broken Intel Optane SSD (Intel SSD DC P4800X 375GB) after SPDK tests."
## Expected Behavior and Current Behavior
We have a bounch of Intel SSD DC P4800X 375GB Card installed in our cluster. The server model is Dell PowerEdge R720 (Intel E5-2690 v0 x2, 96GB memory). The SSD broke when we run multiple fio test using the SPDK driver and prevented the system from booting with a freezing screen saying "Initializing firmware interfaces...". We are not sure if this related

[2019-06-07 19:16] benlwalker commented on #811
That's an interesting idea and I like it. I need to think about exactly when to retry and if there are any pathological cases.

Simultaneously adding a function to query if the ring is full would be great too.

[2019-06-07 19:23] benlwalker commented on #814
Case 1: Can you post the command line you used to start the fio plugin, plus any config files used? By default, two SPDK processes won't be able to access the same device at the same time (we do support multiprocess, but you have to explicitly turn it on with -i). The second time you started fio, it should have just failed. I tested that locally just now and it does indeed just fail to start on th

[2019-06-07 22:09] ak-gh commented on #811
On Fri, Jun 7, 2019, 22:16 Ben Walker <notifications@github.com> wrote:

Most natural retry point is when a message from the thread the receiver has
queueed messages for is received, though that would require a search tree
keyed by the destination tid instead of the plain tailq. My gut feeling,
though, is that in a reasonably well-connected topology receiving any
message should be good enough to r

[2019-06-08 15:53] mhae commented on #811
Either is fine... I still think it is good to have an API to check the # of messages queued even if it is not 100% reliable. It allows me to see what's going on with submissions and expose a metric.

[2019-06-09 17:24] ak-gh commented on #231
I'm still seeing this on a pretty modern kernel (ubuntu 18.04.2, kernel 4.15). Any idea if the above fix has been merged into the kernel and/or other suggestions?

Thanks,
Andrey

Jun  9 02:17:49 kernel: [587473.878509] nvme nvme0: pci function 0000:84:00.0
Jun  9 02:17:49 kernel: [587473.909184] nvme nvme1: pci function 0000:85:00.0
Jun  9 02:17:49 kernel: [587473.940255] nvme nvme2: pci function

[2019-06-10 00:42] shuhei-matsumoto commented on #785
The common signature of the segmentation fault cases was  "any iscsi pdu other than login is received during login processing."

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/30210/archive/RBD_autotest/build.log

 21:48:01	# iscsiadm -m node --login -p 10.0.0.1:3260
iscsi.c:4496:spdk_iscsi_execute: *ERROR*: before Full Feature
conn.c:1373:iscsi_conn_handle_incoming_pdus: *

[2019-06-10 09:51] darsto commented on #785
I've just merged the fix. Thanks Shuhei!

[2019-06-10 09:51] #785 closed

[2019-06-10 12:12] darsto opened #815 "ERROR: timeout while waiting for ocf process to start"
Intermittent failure. OCF test hangs inside waitforlisten.

[code]

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/34144/archive/nvme_phy_autotest/build.log

[2019-06-10 12:47] tomzawadzki commented on #815
Just throwing it out there. Comparing the attached log to one that passes, it seems like the ocfWB0/1 do not finish the examine. The flow should be that:
1) aio4 is examined
2) ocfWB0 starts the cache, but does not attach cores which are not present yet (aio5/aio6) - but 'adds them as inactive'
3) ocfWB1 attaches to already started cache
4) during aio5/6 examine the cores are attached
From the fai

[2019-06-10 13:01] darsto commented on #815
@Donaim is on two-week vacation and we don't have anyone to work on this right now, so I suggest disabling the test. I pushed a patch: https://review.gerrithub.io/c/spdk/spdk/+/457483

[2019-06-10 14:34] ksztyber opened #816 "spdk_app_start: start_fn called twice when JSON config is used"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

When starting SPDK application with JSON config, start_fn is called twice. This prevents test/app/bdev_svc/bdev_svc from starting up, as it tries to create sentinel file twice.

## Expected Behavior
The start_fn callback should be

[2019-06-10 23:10] KariukiJ opened #817 "NVMe-oF ERROR: NVMeoF uses extended controller data structure, please set EDS bit in cdw11 and try again"
I was running test case 7.3.1 in the UNH-IOL compliance testing which test that our emulated NVMe Reservation handles Unregistering with the Reservation Register Command correctly.
The test case is failing with error the errors reported in issue https://github.com/spdk/spdk/issues/812 plus the following new error:

subsystem.c:1973:nvmf_ns_reservation_report: *ERROR*: NVMeoF uses extended controll

[2019-06-11 03:11] bbdsxl opened #818 "construct_lvol_store could not find the bdev device"
Hope here is the right place for help about SPDK issue.

I tried to create a lvs but failed.
root@converge02:/opt/spdk/scripts# ./rpc.py construct_lvol_store Nvme1n1 converge02-Nvme1n1
request:
{
  "method": "construct_lvol_store",
  "req_id": 1,
  "bdev_name": "Nvme1n1",
  "lvs_name": "converge02-Nvme1n1"
}
Got JSON-RPC error response
response:
{
  "code": -32602,
  "message": "No such device"
}

[2019-06-11 06:39] wanqunintel commented on #806
@wanghailiangx , we tried the same step and the initiator core dumped, would you confirm if this is target core dump?

[2019-06-11 06:56] wanghailiangx commented on #806
@wanqunintel 127.0.0.1, This only needs a single-machine test.

[2019-06-11 09:42] glodfish-zg opened #819 "test/nvme/reset endlessly print "sq_tail is passing sq_head""
run test/NVMe/reset and get the endless print
nvme_pcie.c:1263:nvme_pcie_qpair_submit_tracker: *ERROR*: sq_tail is passing sq_head!

## Expected Behavior
run correctly without error message

## Current Behavior
endlessly print
nvme_pcie.c:1263:nvme_pcie_qpair_submit_tracker: *ERROR*: sq_tail is passing sq_head!

## Possible Solution

## Steps to Reproduce
1. test/nvme/reset/reset -q 128 -s 4096 -w

[2019-06-11 10:05] tomzawadzki commented on #818
Hi @bbdsxl,

From get_bdevs() call it seems that Nvme1n1 is already claimed - meaning it was opened for some other use. It is confirmed by the provided configuration file where Nvme1n1 is used for Subsystem1.
Before you get the chance to create an lvol store on the NVMe device, it was already setup to be exposed via NVMe-oF. This should be more clear when browsing the output from nvmf_tgt - there

[2019-06-11 21:30] Seth5141 commented on #736
@ShaharSalzman-K Thanks for the extra information. I think there are some assumptions baked into the NVMe-oF library that aren't agreeing with your application's threading library.
I can't reproduce this at all on the vanilla NVMe-oF target. My assumption is that the subsystem thread and the rpc thread are different logical threads in your application whereas they are the same in the vanilla targe

[2019-06-12 06:44] yidong0635 commented on #799
@jimharris  follow your suggestion, post this patch :https://review.gerrithub.io/c/spdk/spdk/+/457735
though it's not perfect. Other SPECs suggest to add this.

[2019-06-12 07:50] ShaharSalzman-K commented on #736
I hadn't tried to recreate this with spdk nvmf app, but it was tricky to catch.
The recreate rate on our "normal" setup which is initiator vs. target via Mellanox/Dell 100G switches with PAUSE flow control was very low (perhaps once or twice a month or even lower). The only setup I could recreate (using the test in the bug), is on Cumulus Linux 100G switch setup with PFC (not sure if the switch to

[2019-06-12 08:26] wanghailiangx opened #820 "HotInNvme bdevs were unexpectedly created when set HotplugEnable Yes"
When I start a nvmf target with one nvme bdev by conf file, HotInNvme bdevs were unexpectedly created.

Attached nvmf.conf:
[code]

Log as bellow:
./scripts/rpc.py get_bdevs
[code]

## Expected Behavior
HotInNvme bdevs were not created without command.

## Current Behavior
HotInNvme bdevs were created without command.

## Possible Solution
investigate c code about hotplug

## Steps to Reproduce
1.

[2019-06-12 08:48] glodfish-zg commented on #819
pushed a patch to fix this issue.

[2019-06-12 08:48] glodfish-zg commented on #819
https://review.gerrithub.io/c/spdk/spdk/+/457755

[2019-06-12 11:21] darsto commented on #810
@habeanf just one more thing to try - on latest spdk master (w/ DPDK 19.05) could you run spdk_tgt with --mem-size param? e.g.:

`./spdk_tgt --mem-size 1G`

This should preallocate 1G of hugepages and maybe give you some specific error messages if it fails

[2019-06-12 11:30] darsto opened #821 "iSCSI data corruption in ext4test in NIGHTLY"
ext4test.sh fails in nightly tests:

[code]

[2019-06-12 11:33] darsto commented on #821
@Comphix

[2019-06-12 11:59] bbdsxl commented on #818
@tomzawadzki Thank you so much.
Last night I stopped the previous target service and created a new one by RPC call and this time it worked really well.
Thanks again.

[2019-06-12 11:59] #818 closed

[2019-06-12 12:51] peluse commented on #813
See https://review.gerrithub.io/c/spdk/spdk/+/457818

[2019-06-12 16:55] habeanf commented on #810
@darsto Thanks for the help. I compiled and tried running it again with the latest spdk and dpdk 19.05. Now I get a different error:
[code]
Perhaps this is related to https://github.com/spdk/spdk/issues/226 ?

[2019-06-12 16:56] habeanf commented on #810
Doh, I just realized I didn't allocate enough huge pages. Let me retry

[2019-06-12 17:18] habeanf commented on #810
@darsto So `spdk_tgt --mem-size 1G` starts but it doesn't seem to be working properly. After starting up, I tried to `construct_malloc_bdev` but it fails on spdk_zmalloc:

[code]

FYI the command I used was `scripts/rpc.py construct_malloc_bdev 512 4096`

[2019-06-12 20:18] peluse commented on #454
just retested on master, output looks as expected:
nvme_ctrlr.c: 846:spdk_nvme_ctrlr_reset: *NOTICE*: resetting controller
iscsi.c:3492:iscsi_op_task: *NOTICE*: LOGICAL_UNIT_RESET
nvme_pcie.c:1354:nvme_pcie_qpair_abort_trackers: *ERROR*: aborting outstanding command
nvme_qpair.c: 137:nvme_io_qpair_print_command: *NOTICE*: READ sqid:1 cid:155 nsid:1 lba:53398512 len:8
nvme_qpair.c: 306:nvme_qpair_p

[2019-06-12 20:18] #454 closed

[2019-06-12 20:47] peluse commented on #806
I'm unable to reproduce this locally.  @ZiyeYang did you do a test run of this in CI by setting the nightly flag (or for one patch set remove the nightly check for this test)?

Also note that the stack trace doesn't apepar to have anything to do with crypto and I'm no iscsi expert.  @wanghailiangx can I ask you to retest on your same system but on nvme w/crypto?

either way I think an iscsi person

[2019-06-12 20:49] peluse commented on #813
note: I've had 2 systems running this patch w/same fio script was was used here for 20+ hours.  Prior I was able to reppro

[2019-06-12 20:52] peluse commented on #806
@wanghailiangx patch is merged but I suspect the *real* root cause to this is fixed here: https://review.gerrithub.io/c/spdk/spdk/+/457818/2

if you want to close based on your earlier test results I'm fine w/that as there's lots of fio testing going on w/compression right now.

[2019-06-12 23:01] ZiyeYang commented on #806
This is related with crypto bdev, why the root cause is related with the lib reduce. I am very confused.

发自我的 iPad

在 2019年6月13日，上午4:52，Paul Luse <notifications@github.com<mailto:notifications@github.com>> 写道：

@wanghailiangx<https://github.com/wanghailiangx> patch is merged but I suspect the real root cause to this is fixed here: https://review.gerrithub.io/c/spdk/spdk/+/457818/2

if you want to

[2019-06-12 23:04] peluse commented on #806
@ZiyeYang sorry I think I posted a compress/reduce related patch to the wrong github issue :)

[2019-06-12 23:04] peluse commented on #806
@wanghailiangx please ignore my last comment

[2019-06-12 23:31] optimistyzy commented on #806
@peluse  Currently, we cannot use CI to reproduce this issue since the requested software (nasm) is not available. We confirm it is a bug in crypto bdev, you can also reproduce this issue with NVMF, it is not the issue of iSCSI target.  And you can follow the steps provided by hailiang(it is reduce by us ) in a local environment.

[2019-06-13 04:52] changpe1 commented on #804
@pawelkax A patch is merged to address the issue, what's the result for now?

[2019-06-13 05:49] glodfish-zg commented on #820
@wanghailiangx
Did you do the NVMe disk hotplug operation?

[2019-06-13 05:50] wanghailiangx commented on #820
@glodfish-zg No hotplug operation.

[2019-06-13 06:38] wanghailiangx commented on #806
Verified the latest SPDK version(as Ziye said), the "core dumped" disappears, fio can run well. So close the issue now.

[2019-06-13 06:38] #806 closed

[2019-06-13 07:22] darsto commented on #821
Setting priority to high until investigation is done.

[2019-06-13 09:00] karlatec opened #822 "SPDK compilation fails on Fedora 30"
## Steps to Reproduce
1. Clone spdk/spdk
2. (optional) You may need to cherry-pick https://review.gerrithub.io/c/spdk/spdk/+/457923. F30 has new version of pycodestyle which will make check_format.sh fail without these fixes.
3. Run ./autobuild.sh
4. Building SPDK fails:

[code]

## Context (Environment including OS version, SPDK version, etc.)
[code]
Current SPDK master commit: ba3adc4367df751138

[2019-06-13 09:21] darsto commented on #822
There's a patch for rte_vhost_compat.c: https://review.gerrithub.io/c/spdk/spdk/+/457559

Other errors seems to be real issues as well.

[2019-06-13 14:12] pawelkax commented on #804
Thanks @changpe1 . I tested windows scsi on jenkins with spdk master. It is working now.

[2019-06-14 08:01] yidong0635 commented on #802
@benlwalker need you help, Do you have any idea about this?

[2019-06-14 08:54] wanghailiangx commented on #755
Yujin's patch has been merged, and verified. It can fixed upper core dumped issue.

[2019-06-14 08:54] #755 closed

[2019-06-14 10:47] pawelkax commented on #804
Test are working now on jenkins. Finish with success.

[2019-06-14 10:47] #804 closed

[2019-06-14 12:04] pawelkax commented on #729
It looks like vm stop responding at deffirent stage of test execution. We will try to retry such build in sitruation when vm stop responding.

[2019-06-15 11:43] virgilshi opened #823 "Failed to create FTL bdev: Cannot allocate memory when running construct_ftl_bdev"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

FTL bdevs can be created via RPC successfully.
## Current Behavior

I got some errors below.
[code]
## Possible Solution

According to #703, the problem may be solved via `configure  --with-ftl`. However bdev/

[2019-06-16 10:17] Seth5141 commented on #802
@yidong0635 In reference to the traceback you posted two weeks ago. I have seem similar tracebacks on systems where the limits for locked memory are set too low. What are the memlock limits you get back when you run ulimit? If it's less than unlimited, you might want to modify that. Also, what is your setup here? If it's a VM, how much memory have you supplied to the system and how much of that is

[2019-06-16 11:11] Seth5141 commented on #736
Is there any way that you could share your thread allocation scheme? I am hesitant to merge a change that will make it harder to reproduce the race condition. I think that understanding the way the threads are assigned in your application it could help reveal if we are making faulty assumptions in the Nvmf subsystem library. I also think that by properly constraining the threads at the library lev

[2019-06-16 11:36] ShaharSalzman-K commented on #736
My application has several poller threads (5/9 depending on the HW configuration) which poll a ring buffer with IO commands.
I am using a single reactor on core #1, and start spdk RPC just like in app.c

The implementation of my bdev is to enqueue the IO commands on the IO rings on reactor thread context. These IO commands will be dequeued by the pollers above.

When adding and removing my bdevs,

[2019-06-16 13:03] JunPiaoHW opened #824 "Failed to create SPDK bdevs from Virtio-Block: EAL: Driver cannot attatch the device (0000:00:06.0)"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

SPDK bdevs can be created via rpc.py construct_virtio_dev successfully.
## Current Behavior

The below command exec failed:
# rpc.py construct_virtio_dev --dev-type blk --trtype pci --traddr 0000:01:00.0 Virti

[2019-06-17 01:47] wanghailiangx commented on #755
Re-verified this updated patch https://review.gerrithub.io/c/spdk/spdk/+/452038. It can fix the issue. So closing it.

[2019-06-17 05:35] yidong0635 commented on #802
tested this on a physical machine.
root@waikikibeach15:/home/yidong/spdk# ulimit -a
core file size          (blocks, -c) 0
data seg size           (kbytes, -d) unlimited
scheduling priority             (-e) 0
file size               (blocks, -f) unlimited
pending signals                 (-i) unlimited
max locked memory       (kbytes, -l) unlimited
max memory size         (kbytes, -m) unlimited
ope

[2019-06-17 05:38] #799 closed

[2019-06-17 06:42] Seth5141 commented on #802
@yidong0635 Thanks for trying that. Is there anything interesting printed to dmesg when you run this test?

[2019-06-17 06:56] yidong0635 commented on #802
what about this?
[ 1102.300329] Code: 89 e5 41 56 41 55 41 54 53 48 8d 1c c5 00 00 00 00 49 89 fc 49 89 c5 49 89 d6 48 29 c3 48 c7 c2 00 96 89 c0 48 c1 e3 04 48 03 1f <48> 89 7b 18 48 8d 7b 58 c7 43 50 00 00 00 00 e8 40 99 63 e9 45
[ 1102.300378] RIP: nvme_rdma_alloc_queue+0x3c/0x190 [nvme_rdma] RSP: ffffbbae48c8fdf0
[ 1102.300384] ---[ end trace b264cdc5b8e0bf5c ]---
[ 1621.980193] nvme nvme0: cr

[2019-06-17 08:37] chuckylilin opened #825 "build failure spdk/dpdk"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior
build success of spdk/dpdk

## Current Behavior
build failure of spdk/dpdk
fatal error: rte_hash.h: No such file or directory

## Possible Solution

## Steps to Reproduce
1. git submodule init
2. git submodule

[2019-06-17 09:02] yidong0635 commented on #822
ioat warning: https://review.gerrithub.io/c/spdk/spdk/+/458242

[2019-06-17 09:25] benlwalker commented on #802
When you set up the kernel initiator, can you tell it to create fewer queue pairs? 72 is a lot.

[2019-06-17 09:44] Comphix commented on #825
Yujin is looking at this issue to clarify some questions and looks like currently the issue is solved.

Thanks,
Gang

[2019-06-17 18:59] Yash3667 commented on #825
Hi, has the updated solution been pushed? I'm also having trouble compiling SPDK.

Steps Taken:
git clone https://github.com/spdk.spdk
cd spdk
git submoule update --init
sudo scripts/pkgdep.sh
./configure
make

I receive an error for dpdk/lib/librte_vhost/vhost_crypto.c:5:10 (fata error: rte_hash.h not found).

[2019-06-18 03:31] #801 closed

[2019-06-18 04:06] lorneli opened #826 "iscsi unit test failure"
The iscsi unit test fails on current master branch when I run tests locally.

## Expected Behavior
Unit test passes

## Current Behavior
Iscsi unit test  fails.
Test output:
[code]

## Possible Solution

## Steps to Reproduce
1. ./configure --enable-debug && make
2. ./test/unit/unittest.sh

## Context (Environment including OS version, SPDK version, etc.)
Current master, commit id: f87568a095b2ecc

[2019-06-18 04:35] shuhei-matsumoto commented on #826
@lorneli Thank you for finding this. I'm working on this. After fixing the one you reported I saw another one. I'll update here when I fixed all.

@Comphix it looks that a few initialization are not done yet.

[2019-06-18 04:47] darsto commented on #824
Have you bound your virtio device to vfio or uio kernel driver?

You can run `scripts/setup.sh` script to automatically bind all available virtio devices (the ones without any mounted filesystem on top).

[2019-06-18 04:48] darsto commented on #820
That's just how hotplug works today.

[2019-06-18 04:48] #820 closed

[2019-06-18 05:01] shuhei-matsumoto commented on #826
@lorneli @Comphix I posted a patch to fix this issue. Will you try it? https://review.gerrithub.io/c/spdk/spdk/+/458339

[2019-06-18 05:58] darsto commented on #816
Pushed a fix: https://review.gerrithub.io/c/spdk/spdk/+/458351

Thanks

[2019-06-18 06:01] darsto commented on #815
The test is disabled for now.

[2019-06-18 06:34] ksztyber commented on #823
From the logs it looks like the Get Log Page / Chunk Information is failing... Could you post the output of examples/nvme/identify/identify?

[2019-06-18 06:45] lorneli commented on #826
Hi @shuhei-matsumoto, I have verified your patch locally. All unit tests passed. Thanks.

[2019-06-18 06:57] #826 closed

[2019-06-18 07:49] darsto commented on #813
Fix merged. Thanks for reporting!

[2019-06-18 07:49] #813 closed

[2019-06-18 08:13] virgilshi commented on #823
Thanks for your help.
[code]

[2019-06-18 08:41] Comphix commented on #825
Close this issue as it has been solved. Please re-open it if you are still seeing problems.

Thanks, Gang

[2019-06-18 08:43] Comphix commented on #821
@darsto , is there a link to the failed testing log? Thanks, Gang

[2019-06-18 08:49] Comphix opened #827 "NVMe-oF assertion from Nightly testing"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

An assert is triggered from the nightly testing (https://10.102.17.104:8080/job/Vhost_tests/job/vhost_autotest/29341/artifact/build.log).

This is regard vhost live migration and with a NVMe-oF backend.

## Expected Behavior

No er

[2019-06-18 08:50] Comphix commented on #827
Below is the assertion. It is expecting "rqpair->current_read_depth > 0" where this variable is ZERO in this case. Could be somewhere this variable is not increased (before trying to decrease here)?

nvmf_tgt: rdma.c:3328: _qp_reset_failed_sends: Assertion `rqpair->current_read_depth > 0' failed.

[2019-06-18 10:04] ksztyber commented on #823
I suspect the problem lies with the fact that the device you're using doesn't support the Get Log Page Extended Data. libftl is calling spdk_nvme_ctrlr_cmd_get_log_page with an offset to get information about specific chunk, which isn't possible if the device doesn't support the extended data for the Get Log Page command. I don't think we can really do anything about it, except for better error lo

[2019-06-18 10:07] alekseymmm opened #828 "NVMEoF failed to establish connection to spdk target"
Started spdk nvmeof target but failed to discover and connect to it. With nvmf debug message
[code]
## Expected Behavior
Successful discover and connection

## Current Behavior
Error with log provided above

## Possible Solution
no idea

## Steps to Reproduce
1. On target side use this config am_nvmf.conf.in :
[code]
2. start target
```./app/spdk_tgt/spdk_tgt -m 0xff -c etc/spdk/am_nvmf.conf.in -L

[2019-06-18 10:11] darsto commented on #821
http://10.102.17.206/results/autotest-nightly/builds/531/archive/RBD_autotest/build.log

[2019-06-18 10:15] Seth5141 commented on #736
My personal opinion is that we shouldn't merge a fix that we know leaves a race condition. If you can reproduce this on vanilla SPDK, it will give us a good test bed to find the actual root cause and feel confident in the solution. A couple months ago you and I had two patches out, one from you that accomplished two things:
1. Removing the second free of the controller (your patch).
2. Trying to f

[2019-06-18 10:19] ksztyber commented on #774
Fix pushed by @mmkayPL https://review.gerrithub.io/c/spdk/spdk/+/457114

[2019-06-18 10:40] darsto commented on #773
Fix merged, closing. Thanks for reporting!

[2019-06-18 10:40] #773 closed

[2019-06-18 11:20] yidong0635 commented on #784
try to post a patch here :  https://review.gerrithub.io/c/spdk/spdk/+/458438

[2019-06-18 15:03] karlatec commented on #822
Still failing:

[code]

[2019-06-18 15:09] darsto commented on #701
Bug scrub: We've integrated all the nvme-cli functionality into usual spdk targets as RPCs. nvme-cli is definitely buggy, but we don't want to spend too much time fixing it now.

[2019-06-18 15:13] darsto commented on #319
Bug scrub: Make sure we return c errnos instead of regular "error" messages as a first step.

[2019-06-18 15:17] darsto commented on #646
Bug scrub: It's likely caused by bugs inside emulated NVMes, for now we've got two solutions:
1) passthrough real NVMe to a VM, dynamically hotremove it via QEMU monitor cmds
2) try additional HW for simulating hotremove (?)

[2019-06-18 15:27] darsto commented on #797
Bug scrub: @benlwalker confirms it should be either callback called or rc returned, not both at the same time.

[2019-06-18 15:32] darsto commented on #822
Bug scrub: as for ioat.c case:

Ben suggests to drop the packed attribute and add a STATIC_ASSERT to check struct size. The gcc error is just too pessimistic, there's no actual error.

[2019-06-18 15:34] tomzawadzki commented on #784
Turns out that we ignore the ASAN error in the ip_migration.sh. Actually it applies to trace_record.sh as well.
For log please see a sample patch that turns on ASAN for all jobs [here](https://review.gerrithub.io/#/c/spdk/spdk/+/456317/) and log [here](https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/34114/archive/iscsi_autotest/build.log).
This needs separate patch to fix an

[2019-06-18 15:34] darsto commented on #822
@tomzawadzki to look at the blobstore case

@Comphix  there's one issue on iscsi, can you take a look?

[code]

[2019-06-18 15:38] darsto commented on #800
Bug scrub: it could be version incompatibility between rocksdb and spdk. We need to update at least rocksdb docs.

[2019-06-18 15:44] darsto commented on #828
Bug scrub: Does it fail with RoCE or iWARP? We currently don't have any HW to reproduce this with Omni-Path.

[2019-06-18 15:46] darsto commented on #821
Bug scrub: Ben suggests to find out when this first happened. We know it started failing at least 2 weeks ago.

[2019-06-18 15:53] virgilshi commented on #800
@darsto , thanks.
Can I close the issue after rocksdb docs has been updated?
And can I ask other question whether the team will plan to develop leveldb via spdk? I am doing this but meet some difficulties. I hope to get your help.

[2019-06-18 20:20] KariukiJ opened #829 "CAP.CSS not reporting support for NVM Command Set"
The Command Sets Supported (CSS) field of the Controller Capabilities (CAP) register is not set correctly.

## Expected Behavior
CAP.CSS register field is set to ‘1’ to indicate that the NVM Command Set is supported by the controller

## Current Behavior
Found bit 37 of CAP = 0

## Possible Solution

## Steps to Reproduce

1. Configure the NVMe Host to read the CAP.CSS register field (bits 37:44)

[2019-06-18 23:24] ashish19121 opened #830 "Data Protection(DPS) with NVMe RDMA target."
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

I have configured SPDK as NVMe RDMA Target. I also have NVMe PCIe device that is formatted with 520 sectors and type 3 protection(exposed via NVMe RDMA SPDK target). I am able to connect to controller and see namespace with 520 sec

[2019-06-18 23:49] shuhei-matsumoto commented on #830
Hi @ashish19121

Metadata (if supported) is transferred as a contiguous part of logical blocks. Specifically,
transferring metadata as a separate buffer of data is not supported.

Hence the following feature will be necessary if we do by software.

*  the SPDK NVMe RDMA driver will have to receive data and separate metadata, verifies metadata, merges metadata with data, and then transfers extended

[2019-06-19 00:08] ashish19121 commented on #830
Are we planning to support data integrity for NVMe RDMA case ?

Thanks,
Ashish R

[2019-06-19 00:16] shuhei-matsumoto commented on #830
Hi @ashish19121

If the data integrity you want is software defined and what I commented, I don't know any plan in SPDK community yet. SPDK NVMe-oF target supports PI pass-through now but I think that is not what you want.

[2019-06-19 00:24] shuhei-matsumoto commented on #830
I suppose you need high performance because your use case is NVMe-RDMA, and  hardware offload may be nice to have. Sasha and his colleagues may be working on such offload feature but they will have their own roadmap and priority.

[2019-06-19 00:40] shuhei-matsumoto commented on #830
Hi @ashish19121

I added two cards for this request to trello.
https://trello.com/c/s2WQ0wvA/55-implement-t10-dif-and-dix-conversion
https://trello.com/c/euE4Dnda/22-implement-t10-dif-and-dix-conversion
Please add any comment on them.

[2019-06-19 02:04] yidong0635 commented on #822
For now, https://github.com/openucx/ucx/pull/3125 , this website indicates method to resolve this kind of warning.
apply this to identify as well.

[2019-06-19 02:44] changpe1 commented on #829
@KariukiJ Thanks John, I've root caused the issue, and it's one bug from Linux kernel, Linux ioctl always uses u32 to get the result for fabrics connect commands, I'll report this issue to Linux kernel community.

[2019-06-19 02:48] yidong0635 commented on #822
https://review.gerrithub.io/c/spdk/spdk/+/458535, if you prefer to other solution, please tell me.

[2019-06-19 02:53] jessehui opened #831 "Target core dump when using compressdev with a simulated pmem pool"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

We can always use rpc `create_pmem_pool` to create a memory-simulated "pmem". And if we use this pool to do `construct_compress_bdev`,  the target will get core dump.

## Expected Behavior
The target runs well.

## Current Behavior

[2019-06-19 05:41] changpe1 commented on #817
I checked the specification, 5.21.1.19 Host Identifier says NVMoF should use extended 128-bit Host Identifier, and NVMe Reservation Report command should set EDS(Extended Data Structure) to 1 to indicate the returned data should be extended data structure.

[2019-06-19 06:45] karlatec commented on #822
@yidong0635 Thanks, this fixes the identify.c issue for me!

Compliation still has multiple warnings, both related to DPDK and SPDK and finally fails due to scan-build errors.

Attaching STDERR output from build and scan-build report as well.

[error.log](https://github.com/spdk/spdk/files/3304731/error.log)
[scan-build.zip](https://github.com/spdk/spdk/files/3304733/scan-build.zip)

[2019-06-19 06:46] yidong0635 commented on #822
use ./scripts/pkgdep.sh always failed. I can't simulate other issues.
DPDP maybe the same issue,  let Darek to update.

[2019-06-19 07:13] yidong0635 commented on #822
use following commands can solve update failures.
dnf clean all
dnf update
dnf install gcc

[2019-06-19 07:15] jessehui commented on #831
Dig a little deeper, this [patch](https://review.gerrithub.io/#/c/spdk/spdk/+/458563/) can fix.
However, still need more to check error code in init compress bdev.

[2019-06-19 07:21] karlatec commented on #822
@yidong0635 Sorry, I don't follow. Why are we discussing failing pkgdep.sh and dnf update failures?

[2019-06-19 07:57] alekseymmm commented on #828
@darsto I haven't tried RoCE or iWARP since I don't have any experience and knowledge of how to configure them. By the way, I tried linux kernel nvmeof target at this system and it works without any problems.

May be I can collect some more debug info to help investigating this problem ?

[2019-06-19 07:59] yidong0635 commented on #822
@karlatec  this just a record for simulating you issue, it's the milestone to setup fedora30, for further,
our update.sh should be changed. this is a issue.

[2019-06-19 08:02] karlatec commented on #822
@yidong0635 I didn't have any issues with pkgdep.sh or vm_setup.sh.
Also - that's not really related to this issue report, so if there's an issue with the scripts then we should probably start a new thread.

[2019-06-19 08:08] alekseymmm commented on #828
Also I tried SPDK 18.04 commit 9eb54cae6aca7ddefb501fe6e26d125d877d59c9 and it works either.

[2019-06-19 08:33] Comphix commented on #827
Assign to Changpeng to take a look. Thanks.

[2019-06-19 11:29] lorneli opened #832 "report a nvmf target panic when destroying qpair"
Hi,

We encountered a nvmf target panic when destroying qpair. I tried to fix this panic yesterday, but failed. It would be great if someone could help to take a look at this panic.

- Panic happens at `spdk_nvmf_qpair_set_state` function.

[code]
- Expected thread(qpair->group->thread) is "app_thread", but current thread is "reactor_4".

[code]
- Here is the test scenario causing this panic:

1.

[2019-06-19 13:50] peluse commented on #831
You don't need to use create_pmem_pool to sim pmem, you just need to provide a path a dir somewhere. Why were you trying to use create_pmem_pool?

You can see clearly that it doesn't work:

spdk_reduce_vol_init: *ERROR*: could not pmem_map_file(/mnt/pmem/71d70151-1e04-4973-b6aa-67216ea63370): Not a directory

[2019-06-19 15:27] KariukiJ commented on #828
fio configuration file
[global]
ioengine=libaio
direct=1
iodepth=64
numjobs=1 # 2, 4,  8, 16
group_reporting
runtime=60s
offset_increment=10G
rw=read
bs=128K

[job1]
filename=/dev/nvme0n1

[2019-06-19 15:47] alekseymmm commented on #828
Tried capturing trace while doing discovery. May be it could help somehow
[code]

[2019-06-19 17:27] KariukiJ commented on #828
@alekseymmm Can you capture a trace while sending I/Os? Can you also share the parameters your using to connect to the target? And the dmesg log showing the device and number of queues?
Thanks.

[2019-06-20 01:26] yidong0635 commented on #784
Once you enable asan, there're other issues, but from the log, we can see that iscsi_autotest are passed.

[2019-06-20 01:53] jessehui commented on #831
I am not saying this should work. However, this is a valid input from user, and no matter this is correct or not, we should handle this properly intstead of throwing a core dump and crash the target.

[2019-06-20 02:13] yidong0635 commented on #822
there are so many similar issues :
init_grp.c ,https://review.gerrithub.io/c/spdk/spdk/+/458715
that strict checking , maybe some need add assert is only. please tell me if you perfer.

[2019-06-20 05:29] vonnyfly opened #833 "spdk tgt crashed with vpp 18.01"
Using vpp 18.01.01 along with master spdk.

1. launch & configure vpp
2. launch spdk taget.
2. crash

## Expected Behavior
No crash

## Current Behavior
(gdb) bt
#0  0x00007ffff67841f7 in raise () from /lib64/libc.so.6
#1  0x00007ffff67858e8 in abort () from /lib64/libc.so.6
#2  0x000000000058ab19 in os_panic () at /root/vpp/build-root/rpmbuild/vpp-18.01.1.0/build-data/../src/vppinfra/unix-misc.c:

[2019-06-20 07:46] Comphix opened #834 "NVMe-oF core dump from Nightly testing"
A core dump happened from the nightly testing

https://10.102.17.104:8080/job/Vhost_tests/job/vhost_autotest/29639/artifact/build.log

   07:18:14	# local vm_dir=/var/jenkins/workspace/Vhost_tests/vhost_autotest/vms/1
   07:18:14	# cat /var/jenkins/workspace/Vhost_tests/vhost_autotest/vms/1/ssh_socket
  07:18:14	# local 'ssh_cmd=ssh -i /root/.ssh/spdk_vhost_id_rsa -F /var/jenkins/workspace/Vhost_t

[2019-06-20 09:25] alekseymmm opened #835 "NVMEoF over omnipath performance degradation with more than 1 io thread"
Run spdk nvmeof target over omnipath. Run perf utility to check the performance. Sequential read in 1 thread shows about 1.3 GB/s but with 2 or more threads it is about 300MB/s. The similar behavior when I use fio and linux initiator with the same target.

## Expected Behavior

No performance drop

## Current Behavior

Explained above

## Possible Solution

No idea
## Steps to Reproduce

1.Start s

[2019-06-20 09:34] alekseymmm commented on #835
I also tried it with null bdev. This config on target :
[code]
On host side
single thread  perf :
[code]

2 threads perf :
[code]
4 threads perf :
[code]

[2019-06-20 10:04] alekseymmm commented on #828
@KariukiJ
I decided to fill issue regarding performance over omnipath here https://github.com/spdk/spdk/issues/835
and leave this bug only about latest spdk and establishing connection problem

[2019-06-20 10:50] alekseymmm commented on #835
I have collected full trace (-e 0xFFFF) in case when performance drops down to 250 MB/s  with 2 io threads with nvmeof tgt with real nvme (not null). Hope it can help.
[am_trace.zip](https://github.com/spdk/spdk/files/3310036/am_trace.zip)

[2019-06-20 11:15] alekseymmm commented on #828
When nvme discover fails I see this message in dmesg :
[code]

[2019-06-20 11:17] alekseymmm commented on #828
nvme discover fails so no nvme connect performed after. So the information about number of queues is unavailable.

[2019-06-20 15:02] Seth5141 commented on #828
@alekseymmm could you try to discover and connect again on master but include the -Lrdma flag when you launch the target and post the results back? That will give us more information on what might be going wrong. In the meantime, I can think of a couple features that have been added since 18.04 that you might want to look at disabling or modifying to see if they are the culprit here:
1. Send with

[2019-06-21 03:12] wanghailiangx commented on #834
Raised a patch to fix it: https://review.gerrithub.io/c/spdk/spdk/+/458913

[2019-06-21 03:13] darsto opened #836 "blobfs_sync_ut hangs"
Happened a few times in a row.

https://travis-ci.org/spdk/spdk/jobs/547646579

[code]

[2019-06-21 04:09] JunPiaoHW commented on #824
Thanks, I wil try it.

[2019-06-21 04:10] JunPiaoHW commented on #824
Thanks, I wil try it.

[2019-06-21 04:10] #824 closed

[2019-06-21 08:09] lorneli opened #837 "nvmf target: spdk_nvmf_ctrlr_ns_changed shouldn't be called in subsystem's thread"
Hi, I think there exists a race condition in nvmf target's control path.

In lib/nvmf/subsystem.c, func spdk_nvmf_subsystem_add_ns  calls spdk_nvmf_subsystem_ns_changed to notify subsystem's ctrlrs that ns has been changed. (using spdk_nvmf_ctrlr_ns_changed func in lib/nvmf/ctrlr.c)

Here is the call trace:
[code]

This is a potential **race condition**.  Since func spdk_nvmf_subsystem_add_ns is c

[2019-06-21 08:19] darsto commented on #831
Fix merged. Thanks!

[2019-06-21 08:19] #831 closed

[2019-06-21 08:37] #819 closed

[2019-06-21 09:56] alekseymmm commented on #828
@Seth5141  Here is log when running nvme discover with -L rdma on target
[code]
Here is the versions of libs I have both on target and host
[code]

[2019-06-21 10:07] alekseymmm commented on #828
@Seth5141  you were right and disabling RDMA_SEND_WITH_INVAL helped.
Although I cannot find proper ./configure flag but run
[code]
solves this issue and target could be discovered and connected. Thank you.

I still have performance issue described in https://github.com/spdk/spdk/issues/835 but hope this information about establishing connection is helpful.

[2019-06-21 15:15] nightwise opened #838 "g_bdev_opts related function has error"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

file: bdev.c
static struct spdk_bdev_opts	g_bdev_opts = { ... }
g_bdev_opts is not a pointer type.

function:
spdk_bdev_get_opts(struct spdk_bdev_opts *opts)
{
    *opts = g_bdev_opts;  //NOTE: looks like wrong
}

int
spdk_bdev_set

[2019-06-23 00:01] optimistyzy commented on #838
The code is correct，I did not see issue. *opts =g_bdev_opts is correct, it
copys the value of g_bdev_opts into the memory pointed by opts
variable(which is equal the memory copy method you mentioned). if we write
opts= g_bdev_opts, it is wrong.

在 2019年6月21日星期五，nightwise <notifications@github.com> 写道：

[2019-06-23 06:34] nightwise commented on #838
Sorry, it should my poor knowledge of C that allow such operation.
And thanks for reply.

[2019-06-23 06:34] #838 closed

[2019-06-24 06:59] tomzawadzki commented on #784
@yidong0635 Yes, I confirm that the log from temporary patch verifies your patch fixing the issue [here](https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/35147/archive/iscsi_autotest/build.log).

Issue of not terminating the tests when encountering the improper exit in ip_migration.sh and trace_record.sh is separate one, I'll take a look at that.

[2019-06-24 07:04] lorneli commented on #837
SPDK commit id f19fea15c18b237991868f9d5ef9616c4028828a , v19.04

[2019-06-24 07:28] darsto opened #839 "rpc_client_test: server thread failed to exit in 1 sec: (rc: -1)"
Happened on nightly:

[code]

https://10.102.17.104:8080/job/RBD_BlobFS_tests/job/RBD_autotest/29733/console
(intel-only, sorry)

D.

[2019-06-24 07:49] tomzawadzki commented on #839
@darsto FYI nightly jobs have logs on cloudfront - see [job logs](https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-spdk-master-vs-dpdk-master.html) -> [job run status](https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-spdk-master-vs-dpdk-master_198.html) -> [build.log](https://dqtibwqq6s6ux.cloudfront.net/results/autotest-spdk-master-vs-dpdk-master/builds/198/archive/RBD_autotes

[2019-06-24 09:42] benlwalker commented on #834
Adding an assert can't possibly fix a crash. I agree that the above patch may make it easier to debug the issue.

[2019-06-24 09:51] ksztyber opened #840 "JSON config saved by some apps doesn't load on others"
It's not possible to load the configuration saved by e.g. spdk_tgt using other apps. This is probably related to the differences between the linked RPC libraries.

## Expected Behavior
The config should load successfully.

## Current Behavior
The config doesn't load.

## Possible Solution
All the RPC libraries should be grouped together, so the same are linked to all of the apps (for the same SPDK

[2019-06-24 14:20] lorneli commented on #837
https://review.gerrithub.io/c/spdk/spdk/+/459144

submit a patch, trying to fix this

[2019-06-24 15:56] #816 closed

[2019-06-24 15:59] darsto commented on #840
*ERROR*: error response: {"code":-32601,"message":"Method not found"}}

I would suggest to make SPDK rpc server ignore this error if we're in the middle of loading the config. We can print a warning, but let's not fail the initialization.

[2019-06-24 16:00] darsto commented on #839
Sure, I'm just too lazy to find the corresponding cloudfront link.

[2019-06-24 20:52] jkryl commented on #319
With very little effort I was able to add following extra error codes (enoent & eexist) which we need the most to our fork of spdk:
[code]
then it's just a matter of starting using the new error codes at appropriate places and perhaps using error messages which are more to the point. It is more a continuous effort rather than a big fix which uses the new error codes everywhere where appropriate an

[2019-06-25 05:06] yidong0635 commented on #802
thanks ben, for autotest, how to tell the initiator, only need to change test scripts ? or do you have some special commands?

[2019-06-25 15:13] peluse commented on #836
comm meeting: lets stop using travis

[2019-06-25 15:14] #836 closed

[2019-06-25 22:07] shuhei-matsumoto commented on #821
Another log says stray error occurred.

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-nightly/builds/545/archive/RBD_autotest/build.log

 CC lib/bdev/malloc/bdev_malloc.o
iscsi.c: In function â€˜create_iscsi_sessâ€™:
iscsi.c:4749:35: error: stray â€˜\211â€™ in program
  sess->DefaultTime2Wait = g_spdkUH‰åATSHƒìH‰}èðHÿ    Hƒ}è u'ðHÿ    H     º¼  H5    H=    è    H‹EèHƒ}è tH‰ÂƒâH…Òt

[2019-06-25 22:15] peluse commented on #821
Oh I didn't see someone posted the log.  Just in case what I grabbed is different: https://gist.github.com/peluse/2e7a54e12023d7ae4ffc5d149ae188fd

[2019-06-25 22:23] shuhei-matsumoto commented on #821
The issue looks occurred when injecting error to malloc bdev.

Test error injection
 07:20:46	# /var/jenkins/workspace/RBD_BlobFS_tests/RBD_autotest/spdk/scripts/rpc.py bdev_inject_error EE_Malloc0 all failure -n 1000
  07:20:46	# iscsiadm -m session -P 3
  07:20:46	# grep 'Attached scsi disk'
  07:20:46	# awk '{print $4}'
 07:20:46	# dev=sdb
 07:20:46	# set +e
 07:20:46	# mkfs.ext4 -F /dev/sdb
mk

[2019-06-25 22:37] ak-gh commented on #821
On Wed, Jun 26, 2019, 01:23 shuhei-matsumoto <notifications@github.com>
wrote:

Those likely are expected errors, at least the error injection test
succeeds.

On a separate note, I have recently witnessed multihour iscsi target test
failing (the exact reason wasn't discovered) with LUNs being SPDK GPT
partitions on a single NVMe drive, and that same test succeeding when
reconfigured to run against

[2019-06-25 22:41] shuhei-matsumoto commented on #821
@ak-gh

Thank you I was confused. You are correct. So we should return to our original findings, like stray error.
And thanks for sharing the issue you have seen.

[2019-06-25 22:51] peluse commented on #821
nice catch.  @darssto when you entered the issue is that what you were looking at? If not can you point to where you see the corruption, thanks!

[2019-06-26 04:22] darsto commented on #821
@shuhei-matsumoto It's compilation of SPDK sources copied over to an SPDK iSCSI target.
Compilation fails, so data must have been corrupted during the copy. This tells us there's a bug somewhere in iSCSI data path. In the issue description I posted an outline of how the test works.

[2019-06-26 04:58] shuhei-matsumoto commented on #821
@darsto @ak-gh @peluse

Thank you, I understand the issue now. As Andrey suggested, I will investigate partitioning with iSCSI target first.

[2019-06-26 06:08] shuhei-matsumoto commented on #821
I'm suspecting the patch https://github.com/spdk/spdk/commit/3cfb1fe8dd1bcf223a2407344c76cfbbaa8aa7f5

This patch was merged 16 days ago.

[2019-06-26 06:32] yidong0635 commented on #822
some of  these issues may failed at unit test. so not only just make this compiling pass, need to dig into details.

[2019-06-26 06:59] changpe1 commented on #829
All ready submit a email to Linux block-nvme maillist, no body responded to my eamil, the change is quite straightforward, but it will break the uapi as well as nvme-cli.

[2019-06-26 07:09] ShaharSalzman-K commented on #736
I tried recreating this issue in the same env I did last time both with my application and with nvmf_tgt on SPDK v19.04 and couldn't recreate it on either version.
Not sure what has changed that eliminated/changed the probability of the issue, but I couldn't recreate it even after 400+ iterations of the test.

Your call on whether to close this, or put it on ice.

[2019-06-26 07:25] darsto commented on #821
We've seen it even earlier though. Here's the same failure from Wed Jun 5
05:02:55 UTC 2019:

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-nightly/builds/520/archive/RBD_autotest/build.log

On Wed, Jun 26, 2019 at 8:08 AM shuhei-matsumoto <notifications@github.com>
wrote:

[2019-06-26 07:52] benlwalker commented on #736
By inspection at least, I am fairly confident that this problem can't happen with valid use of the nvmf library APIs. If we have a way to reproduce the issue in the future, we can address it then. I'm going to close this for now.

[2019-06-26 07:52] #736 closed

[2019-06-26 07:54] wanghailiangx commented on #822
Fixing freed memory warning about blob/blobstore.c.
https://review.gerrithub.io/c/spdk/spdk/+/459411
[code]

[2019-06-26 10:59] darsto commented on #784
The fix is now merged. We could probably try a bit harder to finish all outstanding RPC requests during shutdown in future, but what we have now is fine - for now.

[2019-06-26 10:59] #784 closed

[2019-06-27 07:55] shuhei-matsumoto commented on #821
I noticed that spdk_bdev_reset is not isolated among multiple split bdevs, but I'm not sure if this is related with the issue.

[2019-06-27 08:00] ak-gh commented on #821
I guess that, to verify if the case is related to the split vbdev being
used, it's easiest to rerun the test against a non-split bdev first.

Regards,
Andrey

On Thu, Jun 27, 2019, 10:55 shuhei-matsumoto <notifications@github.com>
wrote:

[2019-06-27 08:14] shuhei-matsumoto commented on #821
Yes, that is reasonable suggestion. I posted a patch to disable using split bdev https://review.gerrithub.io/c/spdk/spdk/+/459587 .

[2019-06-27 11:33] eyuval opened #841 "error on parsing transport section in configuration file"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

In file lib/event/subsystems/nvmf/conf.c the function spdk_nvmf_parse_transport gives the following error and exits, when parsing the RDMA transport section
SPDK_ERRLOG("C2HSuccess is relevant only for TCP tra

[2019-06-27 12:06] benlwalker commented on #837
This is a good catch and I think your fix works, but I think we need to improve the infrastructure around resuming a subsystem so that each controller currently connected gets an opportunity to take some action. I've started a small patch series that cleans up some of the current complexity, but doesn't yet fix the bug. I also left a note on your current code review on next steps.

https://review.

[2019-06-27 14:50] lorneli commented on #837
@benlwalker  Hi Ben. I've read your note on the gerrithub page carefully. Notifying ctrlrs when resuming a subsystem is indeed a more graceful and generic way to fix this bug.  I'll follow up the subsequent patches in your patch series.  Thanks.

[2019-06-27 18:36] Seth5141 commented on #828
@alekseymmm Thanks for following up with that. There is a known issue on older kernels. Essentially, there was a mix-up between an enum defining WR opcodes between the kernel and userspace library. The kernel commit in question is 9a59739bd01f77db6fbe2955a4fce165f0f43568.
If I am remembering correctly, there may have also been a couple of issues with in the kernel code related to how different dev

[2019-06-27 18:36] #828 closed

[2019-06-28 02:49] wanghailiangx commented on #822
test/dif_ut: fix a warning of iov_base garbage value
https://review.gerrithub.io/c/spdk/spdk/+/459712
[code]

[2019-06-28 10:59] tomzawadzki commented on #822
Added some fixes for scan-build issues:
- [ut/nvmf: fixed scan-build error by initializing command and response](https://review.gerrithub.io/c/spdk/spdk/+/459758)
- [ut/lvol: fixed scan-build error on spdk_bs_init](https://review.gerrithub.io/c/spdk/spdk/+/459756)
- [test/ut: initialize spdk_bdev_desc to NULL](https://review.gerrithub.io/c/spdk/spdk/+/459755)

And tried to address bulk of unit tes

[2019-06-28 13:31] KariukiJ commented on #835
@alekseymmm I am currently waiting to get access to a system that has Omni-Path NICs so that I can try to reproduce the issue and debug it further. I did run the workload on my system with Mellanox NICs and could not reproduce it.

[2019-06-29 09:31] yangliang20065613 opened #842 "error: dereferencing pointer to incomplete type"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

**in file example/nvme/perf/perf.c,  failed to access the the members of struct spdk_nvme_ctrlr.**

compile error:
**error: dereferencing pointer to incomplete type**
## Expected Behavior

failed to compile the nvme perf tool when

[2019-07-01 05:50] changpe1 commented on #625
@liang2yan Can you verify this issue again with master branch, this issue should be fixed. Thanks.

[2019-07-01 05:57] changpe1 commented on #841
@eyuval Thanks for submitting, the patch has been merged, and I'm going to close this issue.

[2019-07-01 05:57] #841 closed

[2019-07-01 08:57] yidong0635 commented on #822
https://review.gerrithub.io/c/spdk/spdk/+/459927:
[code]

[2019-07-01 09:48] yidong0635 commented on #822
https://review.gerrithub.io/c/spdk/spdk/+/459939 :
[code]

[2019-07-01 11:55] pawelkax opened #843 "Intermitent test failure on vhost hotremove test"
See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Most of daily vhost-hotremove tests on jenkins are failing.

## Expected Behavior
Test should finish with success.

## Current Behavior
Test are failing very often.

## Possible Solution
None

## Steps to Reproduce
1. Run:
 a. spdk/test/vhost/manual.sh -shr
 b. spdk/test/vhost/manual.sh -bhr

## C

[2019-07-02 01:16] liang2yan commented on #625
verified with latest codes, this issue can't be reproduced. So close this issue.

[2019-07-02 01:16] #625 closed

[2019-07-02 05:07] yidong0635 commented on #842
for personal use, the struct header file what you are accessing is not include in perf.c.

[2019-07-02 05:11] yidong0635 commented on #842
what perf.c now using  is an opaque define.
 /**
 * Opaque handle to a controller. Returned by spdk_nvme_probe()'s attach_cb.
 */
struct spdk_nvme_ctrlr;

[2019-07-02 06:54] yangtianyu0706 opened #844 "[Question] qemu costs a lot of time to start when bind multi-queues vhost-user-device"
Hi
we have vms that attached multi-queues vhost-user-device to connect spdk. it will cost a lot of time to turn it on.

The root cause is that in virtio_is_ready function.

before 1d74fea0159ea617e31dfa9d34a78d7c7d4f8fbe this patch
all vq ready can start_device.

after 1d74fea0159ea617e31dfa9d34a78d7c7d4f8fbe this patch
one vq ready can start_device , when next vq ready will lead to destroy_device

[2019-07-02 06:54] yangtianyu0706 commented on #844
@darsto

[2019-07-02 07:04] ChenBo2333 opened #845 "Iscsi_autotest always fail to read pdu"
Lots of build logs of  iscsi_autotest report the same error message:
"iscsi_conn_handle_incoming_pdus: *ERROR*: Failed to read pdu, error=-1"

## Expected Behavior
Succeed to read pdu

## Current Behavior
Failed to read pdu

## Possible Solution
N/A

## Steps to Reproduce
View build log on iscsi_autotest server,
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/36365/archive/i

[2019-07-02 07:15] changpe1 commented on #845
It's not a bug, but we can improve the log message to make it more reasonable.

[2019-07-02 07:26] wanghailiangx commented on #822
1. bdev/raid: fix a warning of freed memory
https://review.gerrithub.io/c/spdk/spdk/+/460069
In file included from bdev_raid_ut.c:38:
[code]

2. test/bdev_raid_ut: fix a warning of a null pointer dereference
https://review.gerrithub.io/c/spdk/spdk/+/460094
[code]

[2019-07-02 08:13] changpe1 commented on #845
https://review.gerrithub.io/c/spdk/spdk/+/460110, I've posted a patch to fix the issue.

[2019-07-02 10:43] karlatec opened #846 "NVMeOF tests fail on Fedora 29 (or kernels 5.0+)"
## Current Behavior
test/nvmf/host/aer.sh fails when calling nvmfcleanup() function.
This is most probably because kernels 5.0+ have nvme-tcp enabled and nvme-tcp uses nvme-fabrics module which we try to unload in cleanup function.

## Steps to Reproduce
1. Run nvmf test suite on test system which has nvme-tcp module enabled and loaded.
[code]
## Possible Solution
Fix nvmfcleanup() to detect if nv

[2019-07-02 12:49] karlatec opened #847 "Segfault when creating null_bdev with wrong block_size from config file"
## Current Behavior
SPDK segfaults when loading configuration file containing Null bdev with wrong block size.
Did not get a reproduction with rpc.py scripts.

## Steps to Reproduce
1. Configuration file:
[code]
2. Start SPDK with config file:
[code]
3. Result:
[code]

## More info
This test is already run as part of CI tests, but as a negative test. We expect it to fail. CI machines have ASAN and

[2019-07-02 12:51] karlatec commented on #847
Suggesting setting this to low prio.
I did not get a reproduction with rpc.py scripts, so it looks like this is only a problem for .ini config loading path.

[2019-07-02 13:27] tomzawadzki commented on #833
Hi @vonnyfly
Since you were running with SPDK master anyway. Would you mind checking out the latest to see if it reproduces ?
From patch https://github.com/spdk/spdk/commit/699a5f35e5d60d18fe672ced4772b812fdfebb91 SPDK supports VPP 19.01.1. More up to date info https://spdk.io/doc/vpp_integration.html

Side note: There is work in progress on moving from VPP 19.01 to VPP 19.04 - [here](https://revi

[2019-07-02 15:13] tomzawadzki commented on #760
Bug scrub: This was fixed in patch https://review.gerrithub.io/c/spdk/spdk/+/455216/

[2019-07-02 15:13] #760 closed

[2019-07-02 15:16] tomzawadzki commented on #815
Bug scrub: @Donaim working on reproducing the issue

[2019-07-02 15:19] tomzawadzki commented on #843
Bug scrub: @pawelkax will attach dmesg logs

[2019-07-02 21:27] xxks-kkk opened #848 "SPDK build failure"
I tried to build SPDK inside QEMU with Ubuntu as OS and hit the build failure error shown below.

## Expected Behavior
Build should success

## Current Behavior

[code]

## Possible Solution

## Steps to Reproduce
1. `git clone https://github.com/spdk/spdk`
2. `cd spdk`
3. `git submodule update --init`
4. `sudo scripts/pkgdep.sh`
5. `./configure --prefix=/home/ubuntu/spdk_install`
6. `make -j4`

#

[2019-07-02 22:32] shuhei-matsumoto opened #849 "Solid nightly test failure for iSCSI data digest test"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Since 26th or 27th June, iSCSI data digest test in nightly test suites has failed.
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-nightly/builds/547/archive/iscsi_autotest/build.log
https://dqtibwqq6s6ux.cloudfront.net/resul

[2019-07-02 22:57] changpe1 commented on #845
Patch was merged, I'm going to close this issue for now.

[2019-07-02 22:57] #845 closed

[2019-07-03 00:02] shuhei-matsumoto commented on #849
Hi @dong-liuliu

For some reason, "node.conn[0].iscsi.DataDigest = None" has been included in the returned target configuration. Hence iscsi_header_data_digest_test has been invoked. However we cannot still change node.conn[0].iscsi.DataDigest.

Should we disable iscsi_header_data_digest_test even if  "node.conn[0].iscsi.DataDigest = None"?
Will you give any comment on this?

I saw the patch https

[2019-07-03 06:23] jiaqizho opened #850 "nvmf target hang out"
## Expected Behavior
spdk nvmf_tgt normal exit .

## Current Behavior

![image](https://user-images.githubusercontent.com/8388185/60567623-1fc5e500-9d9d-11e9-85a4-bf9ea8e2ad17.png)

tgt2 hang out when tgt1 exit .

## Possible Solution

WR flushed error , Maybe we didn't clear the WR very well . and it make nvmf tgt hang.

## Steps to Reproduce

tgt1 :  ./app/nvmf_tgt/nvmf_tgt -m 0xff0000 -e 0x10 -

[2019-07-03 08:16] Seth5141 commented on #846
@karlatec When you were running the tests, were you running them against the RDMA transport or the TCP transport?

There is already a loop in the nvmftestcleanup function that attempts to unload nvme_tcp if you are running the tests against  the tcp transport.

[code]

Is it possible that you had explicitly modprobed nvme_tcp before starting the tests?

[2019-07-03 13:01] karlatec commented on #846
@Seth5141 We hooked up new systems to CI and got these fails, so I'm 99.9% sure that tests were running against RDMA transport layer.

I didn't modprobe nvme_tcp. Must be enabled by default.

Yes, but it doesn't work if you have nvme_tcp loaded as well. Loop will get stuck on modprobe: FATAL: Module nvme_fabrics is in use.

[2019-07-03 20:56] ak-gh commented on #821
Are there any special considerations to running spdk in a virtualized
environment such as ESX (cpus, polling control, memory reservation, nvme
passthrough)? Any suggestions/heads-ip/hints will be appreciated.

Thanks,
Andrey

[2019-07-03 23:15] Seth5141 commented on #846
@karlatec I don't think that nvme_tcp is enabled by default on fedora 29.  I don't have a fed 29 vm available ATM, but I confirmed that on fedora 30 it is not loaded by default.

I think the issue is this:

we currently run the test/nvmf/host/perf.sh test with both --transport=rdma and --transport=tcp (see nvmf.sh). perf.sh invokes nvmfappstart which calls modprobe nvme-$TEST_TRANSPORT. However at

[2019-07-04 01:16] Seth5141 commented on #846
I think this series should fix it. https://review.gerrithub.io/c/spdk/spdk/+/460396 It makes sure that we probe and remove the nvme-* modules on every test run using the current infrastructure.

[2019-07-05 01:34] yidong0635 commented on #850
this issue is easy to simulate , and occurred before ,try to fix  this issue, if you have a better solution, please let me know.  https://review.gerrithub.io/c/spdk/spdk/+/460569

[2019-07-05 04:14] lorneli opened #851 "nvmf/rdma: close rdma qp panic"
Rdma's qpair is destroyed twice if the upper layer spdk_nvmf_qpair still has outstanding I/Os, which were submitted previously to bdev layer.

## Expected Behavior

Rdma qpair destruction happens exactly one time.

## Current Behavior

The rqpair->cm_id->qp is NULL when qpair destruction is executed from request-completed path. Looks like rdma_destroy_qp is called and cm_id->qp is freed previously

[2019-07-05 05:04] liang2yan opened #852 "SPDK nvmf target somtimes reported error while running SPDK fio_plugin in host machine"
## Expected Behavior
No errors are out.

## Current Behavior
SPDK nvmf target reported following error:
[code]

## Possible Solution

## Steps to Reproduce
1. run nvmf target with following command:
./app/nvmf_tgt/nvmf_tgt -c nvmf.conf -m 0x3
The nvmf.conf content is as below:
[code]

2. get latest SPDK codes in the host machine, configure the SPDK with fio.
3. Run fio_plugin using following fio j

[2019-07-05 06:09] gila opened #853 "--huge-dir has no effect"
While running multiple instances of SPDK on the same machine (for testing purposes) inside of docker and/or k8s, SPDK uses getpid() + some fixed prefix to construct the huge page mappings. Due to the PID namespace, all SPDK instances have PID 1, and things go bad when they all start to map huge pages with the same xxxx.map

There is an option to set the huge-dir which I use to make sure this does

[2019-07-05 08:28] jessehui commented on #800
Hi @virgilshi , I think this issue is fixed. Please use SPDK of master branch and rocksdb for spdk-v5.14.3 branch.

[2019-07-05 09:04] benlwalker commented on #842
spdk_nvme_ctrlr is intentionally opaque. If you want to get the number of namespaces, call the public API function for getting the number of namespaces (spdk_nvme_ctrlr_get_num_ns()).

[2019-07-05 09:04] #842 closed

[2019-07-05 09:08] #846 closed

[2019-07-05 09:14] benlwalker commented on #851
Looks like you are saying it correctly quiesces the network side but not the bdev side before destroying the connection.

[2019-07-05 09:48] lorneli commented on #851
@benlwalker The network side destroys rdma qp when rdma qp becomes corrupted, regardless of whether there's outstanding I/Os issued to bdev layer. The bdev layer, request-completed path in particular, may destroy qp again.

[2019-07-05 10:02] virgilshi commented on #800
@jessehui , thanks a lot. I'll try it later.

[2019-07-05 10:18] lorneli commented on #851
@benlwalker From my understanding, there are two possible solutions:

a. Actual rdma qp destruction is defered and done by the last outstanding I/O.
b. Or rdma layer destroys qp if only rdma qp is corrupted.  Request-completed path checks if qp has been destroyed before doing actual destruction.

[2019-07-05 22:33] sashakot commented on #851
Hi,

@lorneli, I think, you're right. RDMA layer destroyes QP without checking outstanding I/O operations in bdeb layer.

QP should be destroyed at latest event from any type: outstanding I/O completion, or  IBV_EVENT_QP_LAST_WQE_REACHED. I believe, IBV_EVENT_QP_LAST_WQE_REACHED comes first, but there is no guarantee for that.

[2019-07-08 06:04] yidong0635 commented on #822
missed this one： https://review.gerrithub.io/c/spdk/spdk/+/459529

[2019-07-08 07:07] darsto commented on #843
There's nothing interesting in the logs. @pawelkax could you try to reproduce this with https://review.gerrithub.io/c/spdk/spdk/+/447060 ? Those tests were passing few months ago, but since we haven't merged them I would be curious if they pass now.

[2019-07-08 07:19] alekseymmm commented on #835
@KariukiJ The same is with me. I have run a lot of tests on Mellanox NIX and never seen such a problem.

[2019-07-08 08:37] Seth5141 commented on #849
@shuhei-matsumoto I stumbled on this while working on enabling a test pool in chandler for nightly testing. It looks like @dong-liuliu's method works for earlier versions of iscsiadm (at least 6.2.0.874). But the output for the newer machines running fedora 29 doesn't fit this same mold. I think finding a version agnostic way of detecting this feature set would be best. I just don't know enough ab

[2019-07-08 08:49] shuhei-matsumoto commented on #849
Hi @Seth5141 thank you so much for your effort. I don't  know this feature well too. I reproduced this failure locally but haven't found the root cause yet. It looks that DataDigest have not been tested recently and we can reproduce this issue locally. So it may be acceptable even if we disable DataDigest test as a temporally workaround. I will gear up my effort anyway.

[2019-07-08 09:09] pawelkax commented on #843
Logs that I noticed on VM:
[2174254.023583] WARNING: CPU: 1 PID: 0 at /build/linux-fQ94TU/linux-4.4.0/net/sched/sch_generic.c:306 dev_watchdog+0x23d/0x250()
[2174254.023584] NETDEV WATCHDOG: ens3 (e1000): transmit queue 0 timed out
[2174254.023585] Modules linked in: rpcsec_gss_krb5 auth_rpcgss nfsv4 nfs lockd grace fscache snd_hda_codec_generic snd_hda_intel snd_hda_codec snd_hda_core snd_hwdep p

[2019-07-08 13:36] shuhei-matsumoto commented on #849
Hi @Seth5141 if you are considering to remove data digest test, please do not do that. I will investigate more tomorrow.

[2019-07-09 04:40] shuhei-matsumoto opened #854 "15% performance degradation of iSCSI target by thread poller change"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

The patch thread: Run all pollers on each spdk_thread_poll call
(https://review.gerrithub.io/c/spdk/spdk/+/440598) caused 15% IOPS degradation for 4KB random read for our iSCSI target application.

One difference of our application

[2019-07-09 05:34] darsto commented on #853
Thanks for the fix! It's merged now.

[2019-07-09 05:34] #853 closed

[2019-07-09 08:23] darsto opened #855 "ftl restore tests randomly fail on CI"
[code]

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/37139/archive/nvme_autotest/build.log

[2019-07-09 09:18] Donaim commented on #847
After investigation it turned out that minimal requirement for reproduction is error code != 0 returned from *some* bdev module initialization routine. It is not NULL bdev fault.

In original issue, `bdev_null_initialize()` returned EINVAL after reading bad config (blocksize % 512 != 0).
This resulted is two callbacks created at module initialization that run concurrently.
First one is FTL's callb

[2019-07-09 13:51] darsto commented on #821
Changing prio to critical - we need to have this figured out before 19.07 release.

[2019-07-09 15:22] karlatec commented on #319
For anyone interested, I started making some minor changes towards improving json-rpc error replies. Here's the start of the series: https://review.gerrithub.io/c/spdk/spdk/+/459948

[2019-07-10 00:43] yidong0635 opened #856 "Some opal manage items need enter twice."
To test opal lib, that I found that a bit trouble,
[code]
here keeps on success.
or other cases stop on failed points. I think these should  go straight to command notice
after command finished if these don't need inputs.
[code]
## Expected Behavior
after command finished, enter to command notice if don't need inputs.

## Current Behavior
stops on an executed command.
## Possible Solution

## Step

[2019-07-10 01:08] changpe1 commented on #852
@liang2yan Can you provide more detailed error information from the NVMe-oF side?

[2019-07-10 01:13] changpe1 commented on #844
@yangtianyu0706 QEMU may not initialize all the IO queues when starting up, especially in the BIOS stage, so we add a workaround in SPDK, we will destroy the device and start it again when got a VQ ready message.

[2019-07-10 01:17] changpe1 commented on #850
The patch has been merged, let me know if the issue still exist or not, thanks.

[2019-07-10 01:24] changpe1 commented on #786
@RongtongJin Can you try again with master branch? My patch set has been merged to address the aligned data buffer issue.

[2019-07-10 01:42] yangtianyu0706 commented on #844
I know this. But do we have a better way to solve this problem?
When BIOS stage, VQ may not initialize,  can we add a message like virtio spec driver_ok to tell the spdk start device and the same time setup VQ is initialized.

[2019-07-10 01:49] changpe1 commented on #844
Even without the extra vhost-user message, SPDK can still address it with a better way, since we are using DPDK vhost-user library, so we have to add a workaround to it.

[2019-07-10 04:44] optimistyzy commented on #854
This is interesting.

[2019-07-10 05:55] jessehui commented on #856
Hi @yidong0635 thanks for reporting. A patch is submitted and it can fix this.
https://review.gerrithub.io/c/spdk/spdk/+/461179/1
You may need some previous patch to get this patch in. After that, you can also test with invalid input. Thank you!

[2019-07-10 06:22] changpe1 commented on #745
I posted a patch to make `io_queue_requests` of NVMe I/O queue can be configured via RPC, if users do need very big I/O size , they can increase the number when creating a new NVMe controller. https://review.gerrithub.io/c/spdk/spdk/+/461182

[2019-07-10 06:50] dong-liuliu commented on #849
Hi, @shuhei-matsumoto @Seth5141
Yes, it's really strange for that version of iscsiadm in Fedora 29.
I've downloaded its source code and compiled its latest version 2.0-877. From my test, iscsi.DataDigest works well again. So it should be a short-lived issue in iscsiadm versions.

[2019-07-10 07:13] shuhei-matsumoto commented on #849
Hi @dong-liuliu , Thank you so much for investigating this issue. I couldn't do anything for this issue. If the issue is iscsiadm version, can we update iscsiadm of the OS in the test pool? I'm not sure what option is the best in this case but anyone (including you) will be able to provide better fix because you found the cause.

[2019-07-10 07:19] dong-liuliu commented on #849
https://review.gerrithub.io/c/spdk/spdk/+/461191
It should work for this issue

[2019-07-10 08:21] AlekseyMarchuk opened #857 "nvmf/rdma: double free on failed qpair inititalization"
## Expected Behavior
Failed qpair initialization is handled correctly, no resources leaked, no memory corruptions

## Current Behavior
Double free of spdk_nvmf_rdma_qpair structure

The following pseudo call stack represents the qpair creation flow. Memory allocated for `spdk_nvmf_rdma_qpair` structure is cleaned.
[code]

The following pseudo call stack represents how non zero return code is handl

[2019-07-10 08:30] benlwalker commented on #854
Some comments I made on Slack regarding this issue:

I suspect that I know what the problem is. There are two types of pollers - ones that run as often as possible (non-timed) and ones that run on a time delay (timed). In the old code, each time through the main reactor loop it would run one non-timed poller (round-robin) and then any expired timed pollers.
Whereas in the new code, each time throu

[2019-07-10 09:08] shuhei-matsumoto commented on #854
Hi @benlwalker

Thank you so much for your kind comment.

Your inspection matches our team's experience.

The comment from our team was that we saw sensitivity of the random IOPS to the timer interval and so we tuned the timer interval according to that experience.

[2019-07-10 09:12] AlekseyMarchuk opened #858 "nvmf/rdma: possible double free on qpair destruction"
## Expected Behavior
qpair is destroyed when no outstanding IO exist on nvmf level, RDMA qpair is set to ERR state and LAST_WQE_REACHED event handled correctly.

## Current Behavior
There is a possibility of double free of the memory allocated for `spdk_nvmf_rdma_qpair` struct.

## Steps to Reproduce
1. the qpair destruction process is started, e.g. by RDMA_CM_EVENT_DISCONNECTED
2. There are no ou

[2019-07-10 11:15] Donaim commented on #847
Fix proposed: https://review.gerrithub.io/c/spdk/spdk/+/461230
@karlatec could you confirm if it solves the issue for you?

[2019-07-10 12:02] ak-gh commented on #821
I guess the issue is caused by buffer management (or, to the letter, lack of that) in the iscsi target/split bdev.

To my understanding, iSCSI target doesn't allocate buffers on read, delegating that to the bdev backing iSCSI LUN. In case of split bdev, neither vbdev_split_submit_request nor spdk_bdev_part_submit_request it calls do spdk_bdev_io_get_buf for the upper-level bdev io. The allocation

[2019-07-11 04:04] shuhei-matsumoto commented on #821
Hi @ak-gh ,

Thank you so much for your insight. I saw your point now.
part bdev calls spdk_bdev_free_io(bdev_io) just after calling the callback to SCSI layer. But SCSI layer calls callback to iSCSI layer and then iSCSI layer will call spdk_bdev_free_io(bdev_io) later after transferring read data to the initiator.

So as you suggest, part bdev will need to have get_buf and its callback in itself.

[2019-07-11 05:36] liang2yan commented on #852
Tried with a little different configuration.
Run nvmf target with "-m 0xf". Run fio_plugin with "runtime=600". The nvmf target will report same error and the fio_plugin somtimes will crash. The log is as below:

[code]

[2019-07-11 05:51] shuhei-matsumoto commented on #821
Hi @darsto @ak-gh

I posted a patch according to Andrey's insight. https://review.gerrithub.io/c/spdk/spdk/+/461348

Will you take a look at it when you can?

-Shuhei

[2019-07-11 07:37] ak-gh commented on #821
Looks good to me.

On Thu, Jul 11, 2019, 08:51 shuhei-matsumoto <notifications@github.com>
wrote:

[2019-07-11 07:51] shuhei-matsumoto commented on #821
Thank you Andrey.

I could reproduce the issue by reducing bdev_io buffer pool size to two, and delaying free buffer by cusotmizing bdevperf tool as follows:

Before fix verification failed
[code]

But after fix, no error was observed.
[code]

[code]

[2019-07-11 07:54] ak-gh commented on #821
Ok, looks like we've nailed it down :).

On Thu, Jul 11, 2019, 10:52 shuhei-matsumoto <notifications@github.com>
wrote:

[2019-07-11 18:50] ak-gh commented on #821
Shuhei-san,

I believe you should submit the patch, for the issue to be verified and closed.

Regards,
Andrey

[2019-07-11 22:14] shuhei-matsumoto commented on #821
Thank you again Andrey. All will complete after getting another approval by Darek or Changpeng. -Shuhei

[2019-07-11 22:24] shuhei-matsumoto commented on #830
Hi @ashish19121

We can track such features on Trello board and so close this issue.
Please open again if any update.

Thanks,
Shuhei

[2019-07-11 22:24] #830 closed

[2019-07-11 22:27] shuhei-matsumoto commented on #854
The cause is clear and we have workaround. Close this issue and track further activity on Trello board. https://trello.com/c/soHtrkTj/153-timer-scheduling-improvement-on-the-current-spdk-thread

[2019-07-11 22:27] #854 closed

[2019-07-12 02:37] #821 closed

[2019-07-12 02:59] shuhei-matsumoto commented on #847
@Donaim @karlatec

I could verify the patch locally and looks nice!

[2019-07-12 04:15] darsto commented on #847
Merged.

[2019-07-12 04:15] #847 closed

[2019-07-12 08:12] darsto commented on #855
Happened again:
http://10.102.17.206/results/autotest-per-patch/builds/37547/archive/nvme_autotest/build.log

[2019-07-12 08:25] wmalikow commented on #855
I'm trying to reproduce it on my environment but with no success so far.
The issue is related probably with ANM handling that was added recently - we could turn off ANM generation in qemu unitl we find root couse.

[2019-07-12 10:36] mmkayPL opened #859 "Nvmf unit test fail on non-root user"
Tests **reservation_register_with_ptpl** and **reservation_acquire_release_with_ptpl** in test/unit/lib/nvmf/subsystem.c/subsystem_ut.c fail for users which don't have write access to /var/log directory
## Expected Behavior

Test should pass for both root and regular user
## Current Behavior

Test: reservation_register_with_ptpl .../home/mk/Documents/spdk/lib/nvmf/subsystem.c:1528:spdk_nvmf_ns_jso

[2019-07-12 11:04] darsto commented on #859
@changpe1 can we use /tmp in that test instead?

[2019-07-12 12:30] tomzawadzki commented on #849
Patch resolving this issue is now merged.
https://review.gerrithub.io/c/spdk/spdk/+/461191
@shuhei-matsumoto Can this issue be closed ?

[2019-07-12 14:20] shuhei-matsumoto commented on #849
Yes,

[2019-07-12 14:20] #849 closed

[2019-07-12 15:05] jgrodman opened #860 "NVMe over Fabrics Target example application"
I am going through the NVMe over Fabrics Target Programming Guide
 (https://spdk.io/doc/nvmf_tgt_pg.html), and looking at the example target application (app/nvmf_tgt). It is working, but I'm trying to understand where the app calls spdk_nvmf_tgt_create(), spdk_nvmf_subsystem_create(), etc. When I look through the code, I do not see the calls. I am asking because I am interested in writing a targe

[2019-07-12 20:24] Seth5141 commented on #860
Hi @jgrodman,

Our NVMe-oF target application relies on the built in app framework in SPDK/dpdk. There is a good user guide on the app framework at www.spdk.io/doc/app_overview.html. The code in app/nvmf_tgt/nvmf_main.c does little more than start the dpdk and app framework initialization process.
This initialization process starts all of the subsystems registered with our application. The source

[2019-07-15 01:51] changpe1 commented on #859
@mmkayPL @darsto Thanks, I've changed to use /tmp directory instead.

[2019-07-15 13:56] jgrodman commented on #860
@Seth5141 thank you for your reply. So there are three components?

1. The target app in `app/nvmf_tgt`
2. The subsystem in `lib/event/subsystems/nvmf`
3. The NVMe-oF target library in `lib/nvmf`

If I want to, for example, change the way that reads and writes are performed (such as those done by the NVMe hello_world at `examples/nvme/hello_world/hello_world.c`), is the correct way to do that to n