[2019-07-16 00:27] Seth5141 commented on #860
@jgrodman Yeah, those are the  three locations where the NVMe-oF related code lives.
I'm not sure exactly what you mean when you say that you want to change the way that reads and writes are performed?
If you mean performing some kind of transformative operation on the data being read or written (e.g. compression, encryption, etc), or providing an abstraction above the base NVMe drive to present t

[2019-07-16 05:00] govind-rathod1987 opened #861 "Host is able to discover all subsystem log pages, even if it is mapped to only certain subsystems."
Hi Team,
I want my host to discover only those subsystem log pages through discover command which are mapped to my host. But I could fetch all subsystem information each time when I do the discover.
Please let me know if I need to configure some parameters somewhere to restrict my host to get only the configured / allowed subsystem information during discover.

Regards,
Govind

Below is my sample

[2019-07-16 05:02] govind-rathod1987 commented on #861
Note: The connect operation is working as expected and the Host is not able to connect to the subsystems other than the mapped one. see below fo rmore details.
linux-uyry:~/Desktop/packet_sender # nvme connect -t rdma -a 100.100.20.1 -n nqn.2016-06.io.spdk:cnode1
linux-uyry:~/Desktop/packet_sender # nvme connect -t rdma -a 100.100.20.1 -n nqn.2016-06.io.spdk:cnode2
Failed to write to /dev/nvme-fab

[2019-07-16 06:26] liang2yan commented on #852
Changed the env and fioplugin job file. then this issue can be reproduced every time. The changes are as below:
still run nvmf with same config and "-m 0x3". the fioplugin file is as below:
[code]
increased the numjobs and iodepth. the nvmf target continue to report error. the log is in the attachment.
[nvmfrunlog.txt](https://github.com/spdk/spdk/files/3395624/nvmfrunlog.txt)

nvmf target reporte

[2019-07-16 06:30] changpe1 commented on #852
@liang2yan Can you try this patch, https://review.gerrithub.io/c/spdk/spdk/+/461734, it should fix the memory leak issue. Thanks.

[2019-07-16 06:33] darsto opened #862 "iscsi_tgt/fio/fio.sh data corruption"
Happened in latest nightly.

[code]

Full log:
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-nightly/builds/565/archive/iscsi_autotest/build.log

[2019-07-16 06:33] darsto commented on #862
@Comphix

[2019-07-16 06:51] liang2yan commented on #436
verified with latest codes, this issue still existed. the log from nvmf target is as below:

[code]

The kernel(5.1.16-200.fc29.x86_64) will report following error:
[code]

[2019-07-16 06:59] gwnet opened #863 "SPDK PCIE AER advanced error report handling"
Please use the issue tracker only for reporting suspected issues.
PCIE has AER advanced error report and handling, Linux kernel has related code to handle this.
Linux NVMe kernel driver will handle the PCIE AER error with below code. Looks like just enabling them. but SPDK looks like did not have code to handle it. Even uio_pci_generic driver.

Please bear in mind that this AER is not NVMe AER asy

[2019-07-16 08:18] yidong0635 commented on #856
waiting for patch serials to be merged.

[2019-07-16 08:19] yidong0635 commented on #850
@jiaqizho  Could you please help to verify this issue?

[2019-07-16 09:11] yidong0635 commented on #861
@govind-rathod1987  please help to list more information:
system/kernel version, operation procedures.
and
something like :
modprobe mlx5_ib
modprobe mlx4_ib
modprobe nvme_fabrics
modporbe nvme-rdma
Firwall.
about this input/output error, sometimes due to setting ,sometimes due to kernel errors.

[2019-07-16 09:27] govind-rathod1987 commented on #861
Hi,
I'm able to perform discovery and connect operation on the allowed subsystem. my requirement is like:

Rest of the 3 subsystem are not allowed to access from any hosts and allow_all_hosts is set to false.

 4 subsystems * 4 listening interfaces = 16 logpages.

Here are the additional details:
kernel version: 4.19.24-23-default
loaded drivers:
linux-uyry:~ # lsmod | grep mlx*
mlx5_fpga_tools

[2019-07-16 12:38] darsto commented on #774
The fix was merged over 2 weeks ago. Closing.

[2019-07-16 12:38] #774 closed

[2019-07-16 12:43] darsto commented on #861
This is SPDK's fault. There was already a github issue about it: #576

Let's continue the discussion in there.

[2019-07-16 12:43] #861 closed

[2019-07-16 12:44] darsto commented on #576
This is still reproducible

[2019-07-16 14:39] darsto commented on #862
This was apparently just a an error in our tests:

A fix for it was just merged: https://review.gerrithub.io/c/spdk/spdk/+/461905

[2019-07-16 14:39] #862 closed

[2019-07-16 15:01] Seth5141 commented on #436
This is definitely a send with invalidate issue (that's opcode 9. It looks like from Ben's earlier comment that the problem is in the rdma-core library, not in our code. I will do a quick search tomorrow to make sure this is fixed in the latest versions of rdma-core and we can point people to those patches that fixed it.

[2019-07-16 15:22] karlatec commented on #839
@darsto @tomzawadzki any repro steps?

[2019-07-16 15:24] darsto commented on #822
@karlatec could you check the current state?

[2019-07-16 16:48] darsto commented on #839
Nope - we only know this test sometimes fails on nightly.

[2019-07-16 16:57] darsto commented on #848
Sorry for the late response. It's DPDK that fails to build, probably because of some missing instruction sets.

DPDK requires SSSE4.2 [1] which your system might not have.

You can check it with:
`cat /proc/cpuinfo | grep flags | head -n1`

If SSE4.2 is supported, you should see sse4_2 in there.

[1] https://doc.dpdk.org/guides-18.02/rel_notes/release_17_08.html
"Starting with version 17.08, DPDK

[2019-07-16 17:06] darsto commented on #837
Ben's patch was merged, so I'm closing this issue.

Please post a comment if it needs to be reopened.

[2019-07-16 18:43] jgrodman commented on #860
@Seth5141 Got it, thank you - that is helpful. I want to service the read and write requests myself,  over an NVMe-oF interface. Therefore, it sounds like I should create a non-virtual bdev and export it as a namespace in an NVMe-oF subsystem, as you said. I will use `bdev_null` as my template for this.

From the docs / code, it seems like the distinction between a virtual bdev and a non-virtual b

[2019-07-16 19:01] sashakot commented on #830
Hi @ashish19121

My group in Mellanox is working on public user-space API for data protection offload. This API are going to be submitted to rdma-core by October. In parallel, we're evaluating possibility  t10diff offload capabilities to NVME-OF RDMA in SPDK.
We're thinking about the same approach like @shuhei-matsumoto  introduced in TCP transport  : "Local" mode for data protection.

Best regard

[2019-07-16 19:44] sashakot commented on #834
Hi

Did the crash happen on soft roce, or real hw ?
Did you reproduce the problem ?

Best regards
Sasha

[2019-07-16 19:59] sashakot commented on #850
Hi,

As far I understand, you run two targets. The second one forwards io to the first one. Is that correct ?
Did you “kill” forwarding target during io ?

Thanks
Sasha

[2019-07-17 01:16] changpe1 commented on #859
Closing this issue as patch was merged.

[2019-07-17 01:16] #859 closed

[2019-07-17 01:45] liang2yan commented on #852
tried this patch, memory leak still existed, it only happened while using ctrl+c to kill nvmf target.

[2019-07-17 01:54] changpe1 commented on #852
Good, that's the purpose.  Can you increase the QueueDepth defined in NVMe-oF and try again?

[2019-07-17 02:40] #850 closed

[2019-07-17 03:30] ChenBo2333 commented on #629
Tried with the latest codes, after deleting the nvme controller, perf finished without coredump.

[2019-07-17 04:54] Seth5141 commented on #860
So are you trying to essentially define a backing block device in software, i.e  you won't have an actual NVMe device or malloc disk or AIO bdev in the background, you will just take in the commands and do some sort of branching based on the contents thereof and send out a response?

The distinction between base bdevs and virtual bdevs from the perspective of writing the module is mostly semantic.

[2019-07-17 06:14] yidong0635 commented on #576
issue can be traced，
out target  start with `spdk_add_nvmf_discovery_subsystem` which
setting `spdk_nvmf_subsystem_set_allow_any_host(subsystem, true);`

without using conf file to start target ,but using rpc method to create subsystem.
"`./scripts/rpc.py nvmf_subsystem_create nqn.2016-06.io.spdk:cnode2  -s SPDK00000000000002`"

nvme discovery report error about input/output errors:
target side: `

[2019-07-17 07:50] liang2yan commented on #852
I have updated following nvmf config:
[code]
This issue still existed and printed more error messages.

[2019-07-17 08:18] shuhei-matsumoto commented on #830
Thank you for your update, @sashakot . Great news to SPDK community :)

[2019-07-17 14:53] ashish19121 commented on #830
Thanks for the update Sasha :)

[2019-07-17 18:07] jgrodman commented on #860
Hi Seth,

That's correct.

Thank you for clarifying - this is consistent with my prior understanding. Based on this description, I think we want a non-virtual bdev. Does that sound like the correct architecture for what we're trying to do?

Thank you for explaining - two questions:
1. `bdev_null` uses polling, whereas the read operation really finishes immediately - is this just to illustrate the

[2019-07-17 19:33] gila opened #864 "bdev_iscsi crashes when it fails to connect to a target with an invalid nqn."
When making a simple typo in the iscsi URL which gets parsed by libiscsi, the system crashes in `iscsi_bdev_conn_poll` The last error messages shown in the console is:

[code]

The reason for the crash is rather simple. We try to poll the iscsi context and blindly assume it is connected. We should check the iscsi_context parameter it is connected before calling iscsi_service() on it.

This is a tr

[2019-07-18 02:12] Seth5141 commented on #860
Hey Jesse,

Yeah, a non-virtual bdev is the way to go. Using the Null bdev as a template is probably the best option.

I can't remember exactly why they made the Null bdev poll. It was either meant to be illustrative like you mentioned or part of an effort to make the Null bdev feel more like an actual block device with very low latency.

I'd have to know more about your asynchronous handler to ha

[2019-07-18 05:34] darsto opened #865 "trace record test on iscsi: failure on inefficient entries number check"
[code]

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/37960/archive/RBD_autotest/build.log

[2019-07-18 05:37] changpe1 commented on #863
@gwnet SPDK can use Linux UIO or VFIO driver, the PCIE AER can be processed by the two drivers, I don't think SPDK should do it.  BTW, what can we do in PCIE AER, do you have any idea on that?

[2019-07-18 05:45] changpe1 commented on #864
@gila Please go ahead to submit your fix first, we do need it. :).

[2019-07-18 05:50] changpe1 commented on #844
@yangtianyu0706 Do you still have further question about this topic, if not I'm going to close it for now.  You can reach us via Slack for discussion online.

[2019-07-18 05:53] yangtianyu0706 commented on #844
Ok

[2019-07-18 05:54] #844 closed

[2019-07-18 05:59] liang2yan commented on #629
since issue can't be reproduced, so close this issue.

[2019-07-18 05:59] #629 closed

[2019-07-18 06:04] changpe1 commented on #812
Let's see the following definition from the NVMe specification, for NVMe over Fabrics, the Host Identifier can't be modified, so this should be a third part issue, or we must specify the transport option when using UNH test suites.

5.21.1.26.2 NVMe over Fabrics Implementations
The Host Identifier is a mandatory feature in NVMe over Fabrics implementations. The Host Identifier shall be an extended

[2019-07-18 06:23] changpe1 commented on #576
I can take a look of this issue to see we can get it fixed before this release.

[2019-07-18 07:19] gwnet commented on #863
I review the UIO driver at least, it did not handle PCIE AER as kernel NVMe driver did. our corp HW experts mentioned if driver did not enable PCIE AER well, there will be silent data corruption risk

[2019-07-18 08:09] wanghailiangx commented on #834
@sashakot  I remember the crash only happened on soft roce. For now, this issue have not been reproduced in recent Nightly testing.
@Comphix  I think some other patches had fix it. So I suggest closing it.

[2019-07-18 08:50] darsto commented on #855
I've just merged a patch adding more logs on I/O errors:

https://review.gerrithub.io/c/spdk/spdk/+/461588 ("lib/ftl: Add error log after IO failure")

[2019-07-18 09:19] karlatec commented on #822
Retested. Build run with:
[code]

Conf contents:
[code]

Result: 21 scanbuild issues. See attached scanbuild report.
[scan-build.tar.gz](https://github.com/spdk/spdk/files/3405770/scan-build.tar.gz)

[2019-07-18 09:25] changpe1 commented on #576
I posted  a patch https://review.gerrithub.io/c/spdk/spdk/+/462440 to fix the issue.

[2019-07-18 15:46] benlwalker commented on #837
My patch was only preparatory for the real fix. There is still work needed here.

[2019-07-18 16:24] jgrodman opened #866 "Docs update - Message Passing and Concurrency"
First off - the docs on spdk are great, so thanks to everyone for doing such a solid job.

The docs in "Message Passing and Concurrency" ([here](https://spdk.io/doc/concurrency.html)) have an out-of-date section about thread creation. They talk about using spdk_allocate_thread() with three function pointers, whereas the API has been changed to spdk_thread_create() and has a different argument list

[2019-07-18 16:26] jgrodman commented on #860
Hi Seth,

Great...thank you very much for all your help!

Jesse

[2019-07-18 16:26] #860 closed

[2019-07-18 19:54] gila commented on #864
Ok, I have a fix ready - I'll submit it when I have some free time.

[2019-07-19 03:54] #848 closed

[2019-07-19 07:17] changpe1 commented on #786
I'm going to close this issue for now, as SPDK will do the split first before getting data buffer from bdev layer, so even the IO size is much bigger than supported, it should be fine for now, you can reopen it again if your issue still exists. Thanks.

[2019-07-19 07:17] #786 closed

[2019-07-19 07:23] changpe1 commented on #800
We have update the documentation in spdk.io with spdk-v5.14.3, so I'm going to close this issue for now, you can reopen it if it still exist with spdk-v5.14.3, thanks.

[2019-07-19 07:23] #800 closed

[2019-07-19 08:25] yidong0635 commented on #822
add three patch here;
https://review.gerrithub.io/c/spdk/spdk/+/462592
https://review.gerrithub.io/c/spdk/spdk/+/462574
https://review.gerrithub.io/c/spdk/spdk/+/462576

there are two issues in dpdk:
[code]
[code]
after apply darek's tailq_remove work around. this issue still occured, will take a look next week.
[code]
blobstore.c need to verify with hailiang.

In all left 6 issues.

[2019-07-19 08:35] Comphix commented on #863
@gwnet ,can you describe this issue with more background information? Like in what kinds of situation, how to trigger this risk and so on？

[2019-07-19 09:13] yidong0635 commented on #822
https://review.gerrithub.io/c/spdk/spdk/+/462598
for vbdev_lvol_ut.c:97:7: warning: Null pointer passed as an argument to a 'nonnull' parameter
                if (strncmp(alias, tmp->alias, SPDK_LVOL_NAME_MAX) == 0) {
                    ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
1 warning generated.

[2019-07-19 12:01] gwnet commented on #863
hello Comphix, our corp HW expert, mentioned we can ingest uncorrectable PCIE error into HW to test it. but actually I do not know how to do it myself. this is only his analysis. I can ask him more detail. I will see if I can perform this kind of test. I feel we need HW engineer to do it.

[2019-07-21 05:09] lorneli commented on #837
@benlwalker

Hi Ben. Following your note, I'm writing a trial patch, to add a notify-ctrlr mechanism when resuming subsystem. But I have encountered a problem.

I introduce a structure spdk_subsystem_notify_ctrlr_ctx , which defines the notification content. When resuming subsystem, this structure could be allocated and sent to subsystem's active ctrlrs using spdk_thread_send_msg.

But these ctrlr

[2019-07-21 10:06] gila commented on #864
patch posted here: https://review.gerrithub.io/c/spdk/spdk/+/462614

[2019-07-21 14:18] benqwu opened #867 "spdk_bdev_writev/spdk_bdev_readv take over 20ms somtimes"
I use spdk bdevperf to test SSD performance and find that sometimess spdk_bdev_writev/spdk_bdev_readv take over 20ms when testing large IO.

I do not understand why it take so long time, because I think aio io_submit is asynchronous and O_DIRECT means there is no data copy in syscall.
My APP cares about latency, so please help.

## Expected Behavior

## Current Behavior

## Possible Solution

## S

[2019-07-22 02:08] jessehui commented on #866
Hi Jesse, thanks for pointing out. Could you submit a patch to update the `doc/concurrency.md`?  And the spdk.io doc will be updated automatically. Thanks.

[2019-07-22 02:28] yidong0635 commented on #822
https://review.gerrithub.io/c/spdk/spdk/+/462789

[2019-07-22 05:27] changpe1 commented on #856
@yidong0635 Patches have been merged, can we close this issue for now?

[2019-07-22 08:23] #856 closed

[2019-07-22 09:20] yidong0635 commented on #822
https://review.gerrithub.io/c/spdk/spdk/+/462822
for :
[code]

[2019-07-22 09:49] tomzawadzki commented on #691
@SavanAnjaria
Hi I've been trying to reproduce with steps that you've provided, but have been unable to so far. Please see following script that tries to recreate it:
https://gist.github.com/tomzawadzki/cc25af80371b6d696eef9dff91b628de
Script assumes its possible to run it locally on same system. I've used Soft-RoCE on mine.

1) Does the script follow the methodology you've used to see the issue ?

[2019-07-22 12:59] gwnet opened #868 "perf example hung at the process the RDMA CQ when we configure NVMeOF kernel target in Ubuntu VM with softRoCE"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.
sudo ./perf -q 128 -o 4096 -w read -r 'trtype:RDMA adrfam:IPv4 traddr:192.168.147.130 trsvcid:4420' -t 300
Starting SPDK v19.07-pre

[2019-07-22 13:50] tomzawadzki opened #869 "Race between bdev examine and lvol store create"
When creating script for debugging issue #691, I've called RPC for constructing_nvme_bdev(), destroy_lvol_store() and construct_lvol_store() in such short intervals that the blobstore seen issues.

## Expected Behavior
There should be no way to interact with bdev via bdev API during its examine.
In case of this issue - construct_lvol_store() RPC should not proceed, if lvol store is present on NVMe

[2019-07-22 14:09] darsto commented on #822
After applying a few patches from gerrithub:
[code]

System:
[code]

[code]

[code]

Most of those patches are scattered around gerrithub, I had to cherry-pick all of them.

[2019-07-22 14:29] jgrodman commented on #866
Sure! I pushed a change to gerrit, following the instructions in the spdk development guidelines: https://review.gerrithub.io/c/spdk/spdk/+/462878

[2019-07-22 14:36] tomzawadzki commented on #691
Small update:
When creating script for this test, a CRC mismatch error occured for me. Unfortunetly it seems to be unrelated https://github.com/spdk/spdk/issues/869.

Still no reproduction. Just wanted to clear up some details.
1. Shutdown SPDK app in your case means SIGINT (ctrl+c), not a SIGKILL (-9) ?
2. When SPDK app is started again, configuration contains only the NVMe device (and no further

[2019-07-22 20:53] krishna-e opened #870 "I/O stops on link toggle test"
I/O stops on link toggle test

## Expected Behavior
connections should reconnect successfully despite of frequent link toggle.

## Current Behavior
after running link toggle script on a target machine for about 45min, the initiator dmesg show below log and then reconnect fails indefinetly:
dmesg at initiator:
[ 5441.276643] nvme nvme0: I/O 1 QID 0 timeout
[ 5441.282095] nvme nvme0: starting error

[2019-07-22 20:56] jimharris commented on #870
Hi,

Thanks for the report.  Can you try this same test with the Linux kernel NVMe-oF target?  That would help confirm whether this is an initiator or target side problem.

-Jim

[2019-07-22 22:01] krishna-e commented on #870
The attached wireshark capture indicates that the issue is at target side(spdk). That is, the initiator sends a request(in-capsule command) and awaits for the response from target. I may be wrong.

Anyways, I will give a try with NVMe-oF target.

Thanks,
Krishna.

[wireshark_capture.zip](https://github.com/spdk/spdk/files/3419298/wireshark_capture.zip)

[2019-07-23 01:30] changpe1 commented on #866
Patch has been merged, I'm going to close this issue for now, thanks for submitting the patch.

[2019-07-23 01:30] #866 closed

[2019-07-23 01:47] yidong0635 commented on #576
I verify this issue on my side, it  looks good for me, maybe other peoples have more test requirements.

[2019-07-23 02:08] yidong0635 commented on #868
@gwnet , looks like  need to update your code .
The codes that  be listed here  are:

[code]
Could you please help to check it again?

[2019-07-23 03:09] changpe1 commented on #867
@benqwu The IO size is 4MiB, and the default IO buffer size is 64KiB, so one 4MiB IO will be splitted into 64 small requests, so you can break down the time consuming in  spdk_bdev_writev to see which function consumed the time.

[2019-07-23 03:30] lorneli opened #871 "nvmf: question about spdk_nvmf_subsystem_set_state's concurrent model"
Hi,

Func spdk_nvmf_subsystem_set_state sets subsystem to its next state. It uses atomic CAS __sync_val_compare_and_swap to do this. But is there a case that multiple threads will change subsystem's state concurrently, so that an atomic CAS  is used here?

[code]

From my understanding, adding/removing a ns from subsystem will not cause concurrent modification to subsystem's state. When receiving

[2019-07-23 03:55] lorneli commented on #851
Update related information:

Patch: https://review.gerrithub.io/c/spdk/spdk/+/461237

Root cause: Currently rqpair will be destroyed directly in ibv_poll_cq path if it has been drained, regardless of whether there are outstanding I/Os issued to bdev layer. So after outstanding I/Os completing, spdk_nvmf_rdma_close_qpair will be called from nvmf layer, accessing a destroyed qp.

[2019-07-23 04:23] lorneli commented on #832
Here is our brief conclusion for this issue:

a.  From our analysis from core dump, a qpair in 'app_thread' submits a request to bdev in 'reactor_4'. On it's completion, _spdk_nvmf_qpair_destroy is called because qp has disconnected, causing thread assert panic.
b.  We haven't figured out the root cause of this panic. But it's different from issue #837 , whose root cause is that async_event is com

[2019-07-23 05:22] Seth5141 opened #872 "[CI] TCP transport coredumps during NVMF shutdown.sh tests."
## Expected Behavior
The TCP transport should be able to pass the shutdown.sh test without any issues.

## Current Behavior
The TCP transport fails consistently on the following assert in the NVMe-oF TCP shutdown test:

nvmf_tgt: tcp.c:2489: spdk_nvmf_tcp_req_process: Assertion `tcp_req->state != TCP_REQUEST_STATE_FREE' failed.

This may be a serious problem because the request that is hitting the

[2019-07-23 05:28] liang2yan commented on #852
Used kernel nvmf host library and run fio with same config, SPDK reported same error:
[code]
the host machine reported kernel panic, error log is as below:

[code]

[2019-07-23 05:46] changpe1 commented on #857
@AlekseyMarchuk Since the patch has been merged, can we close this issue for now?

[2019-07-23 06:04] changpe1 commented on #857
@AlekseyMarchuk My bad, the fix is in your own git repository. :)

[2019-07-23 06:09] dong-liuliu commented on #865
From the its gerrithub page https://review.gerrithub.io/c/spdk/spdk/+/462043/2 , the patch get veirfied-1 from different test env in each round of test.
So I don't think it is one issue,

This test is used to check whether trace_record tool works well.
If it works well, entries counted from trace_record tool will be much much larger than 4096.
Two factors may cause the failure:
1. trace_record did

[2019-07-23 06:09] #865 closed

[2019-07-23 06:47] lorneli commented on #837
@benlwalker Kindly ping. Do you have any idea about modifying resume-subsystem mechanism?

[2019-07-23 07:19] Seth5141 opened #873 "Vhost target heap-buffer-overflow after fuzz testing"
## Current Behavior
I encountered the following vhost target core dump when inspecting logs from the autofuzz jobs on Jenkins.

[code]

## Possible Solution
Not sure yet.

## Steps to Reproduce
[code]

## Context (Environment including OS version, SPDK version, etc.)
The test ran inside of a Qemu virtual machine running fedora 28 with kernel version 1.18.18-200 and 1 GiB hugepages configured.

[2019-07-23 08:24] Seth5141 opened #874 "Failure in FTL restore tests"
## Current Behavior
The FTL restore test (spdk/test/ftl/restore.sh) has failed twice in a row on one of the nightly test jobs for SPDK.

The failure has looked slighty different each time.

Failure 1:
[code]

followed by a core dump.

failure 2:
[code]
followed by a core dump

## Possible Solution
There were three ftl related changes merged between the last successful test run and the first failed

[2019-07-23 08:34] ksztyber commented on #874
Looks very similar to #855. I suspect the root cause might be the same for both, while some of the recent patches made the reproduction more frequent.

[2019-07-23 10:51] mmkayPL commented on #874
The patch
lib/ftl: Remove buffer alignment requirements
required a change (bugfix) to qemu, specifically at least patch:
https://review.gerrithub.io/c/spdk/qemu/+/459264

I've reverted my local QEMU instance to a previous version and received the same errors. It seems like the Chandler machines' QEMU wasn't updated.

[2019-07-23 11:11] karlatec commented on #874
@Seth5141
I've sent you some Qemu related info, check you mail.

[2019-07-23 11:16] Maciej-Szwed commented on #589
@rajasekaranmam have you tried running this scenario with darsto fix (https://review.gerrithub.io/c/spdk/spdk/+/448927)?

[2019-07-23 11:20] ksztyber commented on #874
Yeah, seems I was wrong and it's just the QEMU that needs to be updated.

[2019-07-23 11:57] Seth5141 commented on #874
@ksztyber @karlatec Great, thanks!
I'll update the qemu version in the Chandler machines. What is the best way for me to stay up on the latest qemu changes? Do you have a distribution list when you update the branch, or should I just keep an eye on the spdk-3.0.0 branch of our fork?

[2019-07-23 11:57] #874 closed

[2019-07-23 11:59] karlatec commented on #874
@Seth5141
I guess just keep an eye on our qemu branch. And I promise to keep you in the loop next time we update stuff! :)

[2019-07-23 12:23] pawelkax commented on #843
Cannot get useful errors on VM when it freezes. Need talk to Darek how to debug this issue.

[2019-07-23 13:47] jimharris commented on #873
Closing for now - this needs some more analysis first.

[2019-07-23 13:47] #873 closed

[2019-07-23 14:00] peluse opened #875 "data corruption w/latest reduce patches and fio 4K rw"
This is daily WIP with various steps to repro, please contact me for more info if you have input

[2019-07-23 15:56] kamillipka opened #876 "Nvmf SPDK target with SoftRoce problem with nvme-cli commands"
Hello,
we are developing virtual environment for deploying Intel Rack Scale Design with SPDK as a storage backend and SoftRoce for RDMA capabilities.
We are experiencing some difficulties with ‘nvme discovery’ and ‘nvme connect’ commands.
After we successfully create volumes and subsystems on target with spdk, we then invoke nvme discover command on initiator the response is as expected:

[code]

[2019-07-23 16:02] tomzawadzki commented on #691
I've tried to follow up on the tips around serialization of md, but via code inspection I couldn't find anything wrong with it.

@SavanAnjaria Please let me know if you get a chance to checkout and verify the script posted, or some of the proposed ways to narrow it down.

[2019-07-23 16:10] Seth5141 commented on #876
Hi Kamil,

Can you provide some more information about the kernel version you are working with and the Linux distribution you are working on? Also, what SPDK version are you working with?
Are you using a packaged version of rxe_cfg or a manually configured one?

[2019-07-23 16:25] kamillipka commented on #876
Hi Seth,

distribution and kernel: Ubuntu 16.04.3 LTS (GNU/Linux 4.19.0-041900-lowlatency x86_64),
SPDK version: v19.04.1,
for rxe_cfg script we clone repository: https://github.com/linux-rdma/rdma-core.git, build it and install.

[2019-07-23 20:07] benlwalker commented on #858
Does commit b4d306689 also fix this issue?

[2019-07-23 20:09] benlwalker commented on #858
Either way I like your proposed fix too. https://review.gerrithub.io/c/spdk/spdk/+/462012

[2019-07-23 22:53] #695 closed

[2019-07-23 22:57] #857 closed

[2019-07-23 22:58] KariukiJ commented on #828
@alekseymmm I finally got access to a host and target system with OPA NICS. However, the system does not have an NVMe SSD. Thanks for reporting the DNR issue, I ran into that and used the recommendation above from @Seth5141 to resolve it. I will now switch to issue 835 to talk about performance.

[2019-07-23 22:58] #858 closed

[2019-07-23 23:30] KariukiJ commented on #835
@alekseymmm I have a host and target that have Omni-Path NICs, but my target does not have an NVMe SSD so I am using a NULL block device.
Here is what I am seeing:
NUMJOB=1, IOPS=66.8k, bw=8348MiB/s (8754MB/s)
NUMJOB=2, IOPS=93.5k, bw=11.4GiB/s (12.3GB/s)
NUMJOB=4, IOPS=94.5k, bw=11.5GiB/s (12.4GB/s)
NUMJOB=8, IOPS=89.8k,  bw=10.0GiB/s (11.8GB/s)
NUMJOB=16, IOPS=94.6k, bw=11.5GiB/s (12.4GB/s)
So w

[2019-07-24 01:19] peluse commented on #875
this particular failure was w/my debug setup - bad starting conditions. Will leave open for another day, had 3 systems at about 10 hrs each run today w/latest patches w/no issues.  4 systems running overnight tonight, 1 w/16K, 3 w/4K all fio w/verify

[2019-07-24 02:44] #851 closed

[2019-07-24 04:42] benqwu commented on #867
The IO size is 4MiB, and the default IO buffer size is 64KiB

[2019-07-24 04:48] AlekseyMarchuk commented on #858
Hi Ben,
These commits fix different issues

[2019-07-24 05:34] liang2yan opened #877 "Compiling error using latest SPDK codes with reduce parameter"
## Expected Behavior
compilation success.

## Current Behavior
compilation failed. error messages are as below:

[code]
## Possible Solution

## Steps to Reproduce
1. clone latest spdk and submodule codes.
2. configure spdk with following command:
`./configure --with-isal --without-ocf --with-rdma --enable-debug --with-reduce
`
3.run make command.

## Context (Environment including OS version, SPD

[2019-07-24 06:57] Maciej-Szwed commented on #646
Introducing HW solution for hotremove tests: https://review.gerrithub.io/c/spdk/spdk/+/462470

[2019-07-24 07:32] Maciej-Szwed commented on #589
I've run some tests and haven't seen any issue on latest master. I'm suggesting to close this github issue if there won't be any response here or on mailing list.

[2019-07-24 07:41] alekseymmm commented on #835
@KariukiJ I tried Null bdev and posted results above in my first comment on this issue. And it seemed there was no performance degradation with nulls only with real nvme.

thanks for the recommendations of tunning performance (I never knew about the info in 3.5). I will try it asap.

[2019-07-24 08:35] krishna-e commented on #870
I ran the same test with Linux kernel NVMe-oF as target for more than 3 hours the issue did not occur.

Looks like the issue is at SPDK target side.

[2019-07-24 11:19] wanghailiangx commented on #877
This is passed in other servers with gcc v6. I guess this is related to gcc. I am testing  with other gcc version.

[2019-07-24 15:56] gwnet commented on #863
please refer this document from kernel. PCIE error cannot be overlooked by SPDK.

[2019-07-24 15:56] gwnet commented on #863
https://elixir.bootlin.com/linux/v4.12.14/source/Documentation/PCI/pci-error-recovery.txt

[2019-07-24 16:27] jimharris commented on #870
Thanks @krishna-e.  We'll get this assigned to someone at the next SPDK bug scrub.

[2019-07-24 16:49] benlwalker commented on #711
Fixed by 7dbdf87f6. There are more patches in the works to enable full cross compilation to any target, but that is sufficient to target a specific x86 platform instead of native.

[2019-07-24 16:49] #711 closed

[2019-07-24 16:51] benlwalker commented on #713
7dbdf87f6 allows for targeting specific x86 platforms when building, instead of always using "native". There are additional patches coming for full cross compilation support.

Once the compile-side is done, we'll still need a runtime check like DPDK has.

[2019-07-24 21:34] ErMaVi commented on #597
Hello @kreuzerkrieg wondering if you could spell out what you did to get this working.
1. I can avoid  crashes, due to no huge tables, but data never reaches the PMD
2. I mount hugepages in  /dev/hugepages in the pod, otherwise crashes due to no hugepages
3. Why do you need all those remount commands ? (those are needed too if I want to avoid crashes)
4. It all works fine when using docker and mou

[2019-07-24 22:21] peluse commented on #877
I've never seen this and use gcc (GCC) 8.3.1 20190223 (Red Hat 8.3.1-2

[2019-07-24 22:21] peluse commented on #875
4 systems ran overnight w/o issue.  closing (for now)

[2019-07-24 22:21] #875 closed

[2019-07-24 22:23] peluse opened #879 "latest compress code fails bdevio w/multiple comp_bdevs"
investigating using https://review.gerrithub.io/c/spdk/spdk/+/463107

[2019-07-24 22:43] peluse commented on #879
quick investigation shows the failure requires both the patch above (doesn't happen with prev in the chain) and >1 bdev.

[2019-07-25 03:17] wanghailiangx commented on #877
At present, I reproduced this issue in two servers with GCC v4.8.5.

[2019-07-25 04:06] wanghailiangx commented on #877
I raise a patch https://review.gerrithub.io/c/spdk/spdk/+/463126.
@peluse I should not have changed the original meaning of the code, right?

[2019-07-25 04:41] kreuzerkrieg commented on #597
1) I guess ./setup.sh didnt do the job as required, why? see below
2) so? are we good here? do you see available hugepages in `cat /proc/meminfo`?
3) setup.sh needs it since it touches various files in /dev and /sys
4) then you can get it working?

BTW, did you `modprob`ed on the host before starting the suff?

[2019-07-25 06:30] clicx opened #880 "build failed on branch spdk-v5.14.3"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

using master branch of spdk, while can't build successfully each spdk-v* branch or rocksdb.

## Expected Behavior
should build successfully

## Current Behavior
many build errors.

## Possible Solution

## Steps to Reproduce
just f

[2019-07-25 06:59] jessehui commented on #880
Hi, thanks for reporting. Could you please give a more detailed steps of how you build. Also, please attach the info of your system, Linux, GCC etc. Thank you.

[2019-07-25 07:27] changpe1 commented on #576
I post another patch to fix 2 Hosts issue, here is the patch https://review.gerrithub.io/c/spdk/spdk/+/463123, it will always update the discovery log if offset is not zero.

[2019-07-25 07:54] changpe1 commented on #880
@clicx you can try with Rocksdb master or v5.14.3 without SPDK patch, looks like this compilation failure is not related with SPDK.

[2019-07-25 08:00] changpe1 commented on #876
@kamillipka Did you try it with real RDMA NICs instead of softRoCe? I tested with my local environment it showed no exception.

[2019-07-25 08:22] clicx commented on #880
I can build master branch of rocksdb from facebook.
gcc version:
gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-36)

[2019-07-25 08:46] SavanAnjaria commented on #691
@tomzawadzki : Looked at your script. Here are my replies to your questions:
1. Script follows the reproduction steps that I had followed except for the LVOL destruction at the end I believe. I haven't tried running that on my machine yet. I'll give a shot and update you.
2. I usually see this issue with destroy_lvol_bdev only
3. I can create minimal config to reproduce this issue.

Are you runnin

[2019-07-25 10:50] tomzawadzki commented on #691
Previous results, without reproduction, were on SPDK master.
I've re-ran the script with SPDK 19.04.1, no reproduction as well.
Which SPDK version were you using ?

Can you please clarify 1. and 2. in previous comment ? You say that destroy_lvol_bdev only() is required, and the script does not follow the flow in that regard. Yet posted script deletes first lvol bdev right before restarting the app

[2019-07-25 11:52] jkryl opened #881 "git pre-push hook starts dozens to cc processes"
My machine was low on memory and gerrithub pre-push hook took ages to complete. I found out that there are dozens of cc processes running and RAM is exhausted. Looking at the pre-push script itself it reveals the reason:

[code]

nproc is not set. Instead what the author wanted to write here is probably `$(nproc)` although that I can only guess. `-j` without integer means unlimited number of procs

[2019-07-25 12:28] jkryl commented on #713
@benlwalker thanks for the fix! 👍 I'm wondering how to pass this information to dpdk (if dpdk is built from the subrepository). There is this code where DPDK_CONFIG is set: https://github.com/spdk/spdk/blob/master/dpdkbuild/Makefile#L93 and it is set to native (always). If I explicitly set `TARGET_ARCHITECTURE` for spdk then dpdk will be still using native unless COMMON_CFLAGS propagate to dpdk an

[2019-07-25 13:03] kamillipka commented on #876
Hello,

we are developing virtual environment, only real HW we use is one machine where we deploy all our virtual machines.

[2019-07-25 13:09] darsto commented on #881
Ha, good catch. I just pushed a fix - https://review.gerrithub.io/c/spdk/spdk/+/463179

In general, don't hesitate to push one yourself.

Thanks,
D.

[2019-07-25 13:59] ErMaVi commented on #597
Can't make the PMD work in kubernetes, It works fine if I launch a container using docker.
I do modprobe uio and insmod igb_uio.ko in the host.
In my dpdk release 18.11.2,  dpdk_etup.sh is just a menu based script used for binding devices to drivers, creating huge pages and also doing chmod +x in a few /dev /sys files, which is all fine in my setup.

If I do the 4 mounts you specify above,

[code]

[2019-07-25 15:28] jkryl commented on #881
I always get goose skin when I see gerrithub 😃  thanks for the fix!

[2019-07-25 15:28] kreuzerkrieg commented on #597
hold your horses... menu based setup.sh? are you talking about DPDK, not SPDK?

[2019-07-25 15:32] kreuzerkrieg commented on #597
In addition... now I start to recall something about PMD... it was something about that in some circumstances, inside docker/kubernetes it will not work... I think I saw it somewhere here... Maybe @jimharris will remember.

[2019-07-25 15:32] ErMaVi commented on #597
Yes, I'm talking about DPDK, I understand the drivers dpdk/spdk use are the same.

[2019-07-25 15:35] kreuzerkrieg commented on #597
Nope, SPDK uses stuff, like memory management from DPDK...
ummm... you mention the port... does this port supposed to get any kind of traffic from outside the kubernetes pod?

[2019-07-25 15:42] ErMaVi commented on #597
The PMD, initializes two ethernet devices, VFs, tied underneath to a physical device. The pod runs in a VM, the VM gets these 2 VFs, the VFs are then initialized in the kubernetes pod by the PMD. These devices do get traffic from outside the kubernetes pod.

[2019-07-25 15:50] jimharris commented on #877
The patch looks good.  I agree that the explicit casts are not needed (and not commonly used when using static initializers).

I just merged the patch - it had +2s from Changpeng, Shuhei and myself.  So closing this issue.  Thanks for the quick turnaround.

[2019-07-25 15:50] #877 closed

[2019-07-25 15:59] mdziegie commented on #815
I spent some time on debugging this issue, conclusions:

1. Bdev aio has IO in flight limit equal to 128 for all aio instances. In case when we have few aio devices (like in this case) we can easily get -EAGAIN from io_submit syscall.

2. From bdev layer perspective in above case we get SPDK_BDEV_IO_STATUS_NOMEM, and we add it to nomem_io list. Unfortunately, if there was only one in-flight IO (fr

[2019-07-25 16:08] kreuzerkrieg commented on #597
they do get traffic or they supposed to get traffic?
did you open ports in your pod? something like
spec:
  ports:
  - port: 80
    protocol: TCP

[2019-07-25 16:11] jimharris commented on #815
I think this bug is related to some of the bdev_aio changes made earlier this year.  We switched AIO to use a single context per thread, rather than one per channel.  As you've noticed, the IO_STATUS_NOMEM handling only works if the NOMEM condition is associated with a single channel - i.e. we are guaranteed to get a completion associated with the channel so that the next IO can be sent.

We've ta

[2019-07-25 16:23] peluse opened #882 "RPC to create compress bdev only accepts lvol UUID"
For some reason the alias of the lvol doesn't work.  Need to investigate.

[2019-07-25 18:34] peluse commented on #879
fix: https://review.gerrithub.io/c/spdk/spdk/+/463107

[2019-07-25 21:13] pdesh1 opened #883 "Failed to write to /dev/nvme-fabrics invalid argument over TCP"
NVMEof over TCP fails to connect to the target.
We are running the standard nvme target/host application inside a docker container and it is not working. It works fine outside the container.

sh-4.2# ls /dev/nvme-fabrics
/dev/nvme-fabrics
sh-4.2# ls -la /dev/nvme-fabrics
crw------- 1 root root 10, 56 Jul 25 13:36 /dev/nvme-fabrics

sh-4.2# dmesg
…
[  798.545513] IPv6: ADDRCONF(NETDEV_CHANGE): dock

[2019-07-25 21:25] peluse commented on #882
user error, wasn't including the name of the logical vol store as well.  Works when, for example, when using the base name as "LVS0/LV0"

[2019-07-25 21:25] #882 closed

[2019-07-25 21:42] benlwalker commented on #713
For more context, see this whole series of patches for cross compilation: https://review.gerrithub.io/c/spdk/spdk/+/460977

But you're right - we need to pass `TARGET_ARCHITECTURE` down to DPDK somehow. Unfortunately, that's not trivial to do because we can't pass any `-march` value to DPDK. There's two major issues outstanding with our build system that need to be solved:
* We may need special fl

[2019-07-25 21:49] jimharris commented on #883
Hi @pdesh1,

Are you able to connect to the SPDK target using an SPDK application (i.e. examples/nvme/identify)?

-Jim

[2019-07-25 22:55] pdesh1 commented on #883
Hi Jim,

Identify command seems to work but not the connect..
Another thing to note is /dev/nvme-fabrics is not reliably being setup.
Earlier we failed to write to this, now we are not seeing the c-node.

Following is the output -

sh-4.2# ./identify -r 'trtype:TCP adrfam:IPv4 traddr:172.20.0.2 trsvcid:4420'
Starting SPDK v19.04.1 / DPDK 19.05.0 initialization...
[ DPDK EAL parameters: identify --

[2019-07-26 00:53] yidong0635 opened #884 "autotest test/nvmf/target/fio.sh --transport=rdma reports error."
# Issue reports:
==1783294==ERROR: AddressSanitizer: heap-use-after-free on address 0x615000000744 at pc 0x00000061e8b5 bp 0x7fab2b8f7790 sp 0x7fab2b8f7780
READ of size 2 at 0x615000000744 thread T5 (reactor_3)
 17:12:55       # for malloc_bdev in $malloc_bdevs
 17:12:55       # /home/vagrant/master/build-20190725170056/spdk/scripts/rpc.py delete_malloc_bdev Malloc0
    #0 0x61e8b4 in raid_bdev_de

[2019-07-26 01:22] changpe1 commented on #880
And can you compile SPDK in your system separately?

[2019-07-26 01:28] changpe1 commented on #576
Patch has been merged, I'm going to close this issue for now.

[2019-07-26 01:28] #576 closed

[2019-07-26 02:44] yidong0635 commented on #884
this issue happens not every time. But still decide to report this issue.
Maybe there's something that's overlooked.
https://review.gerrithub.io/c/spdk/spdk/+/463249

[2019-07-26 07:34] jkryl commented on #713
Thanks for the information! Just to give a bit more info about our use case. Most of the people probably don't realise that this is not just a cross compilation problem (different cpu architectures) but even differences between more recent and less recent x86 cpus. So spdk which I compile on my laptop with intel corei7 processor cannot be run on my desktop with slightly older intel xeon processor.

[2019-07-26 07:52] darsto commented on #822
Older scan-build version on our CI required a few more patches, but eventually we got it fixed, top here: https://review.gerrithub.io/c/spdk/spdk/+/459285

[code]

This passes scan-build on the CI as well as fedora-30.

[2019-07-26 09:08] clicx commented on #880
Yes.
I now using spdk 19.01, can build rocksdb library successfully, spite there are errors in build test cases.

[2019-07-26 11:18] yuelimv opened #885 ""rocksdb.sh: No such file or directory" in rocksdb test"
I'm following the instructions on testing rocksdb and got the following error:

## Current Behavior

 04:03:23	# make db_bench -j72 DEBUG_LEVEL=0 SPDK_DIR=/home/yli/spdk
Makefile:1007: warning: overriding recipe for target `clean'
/home/yli/spdk/mk/spdk.app.mk:55: warning: ignoring old recipe for target `clean'
  GEN      util/build_version.cc
Makefile:1007: warning: overriding recipe for target `

[2019-07-26 15:44] jimharris commented on #822
Bug filed with LLVM for the TAILQ_REMOVE issue:  https://bugs.llvm.org/show_bug.cgi?id=42780

[2019-07-26 15:50] jimharris commented on #885
There should be an insert_db_bench.txt file in the rocksdb directory after this failure occurs.  Could you post those contents here?

I suspect this might be due to not enough huge pages allocated for the BlobFS cache.  It should be clear from looking at the insert_db_bench.txt contents.  You can allocate more pages by doing something like:

HUGEMEM=8192 scripts/setup.sh

This would allocate 8GB o

[2019-07-26 19:22] yuelimv commented on #885
I just looked at that file, and it seems the issue might be simpler:

Please install fglags to run rocksdb tools

However, if I simply use the gflags from `yum install gflags-devel` at CentOS, it will actually reports the following error when compiling rocksdb during rocksdb.sh execution:

What would be the specific version of gflag that is required by this rocksdb branch?

  CC       table/cuckoo

[2019-07-26 21:11] peluse opened #886 "Update CI systems with new QAT driver"
There’s a new QAT driver at https://01.org/sites/default/files/downloads//qat1.7.l.4.6.0-00025.tar.gz that actually works.  This is like only the 2nd time I’ve been successful setting one up so I’ll leave it to one of you to update the test systems.  I’ll throw a github issue up for it.  Note that compressdev CI testing (patch pending) is limited to ISAL right now.  Once this new driver is in plac

[2019-07-26 21:29] songweijia commented on #814
Hi @benlwalker, Sorry for replying very late since we were working on another path and our provider substituted the problematic cards. However, I want this issue to be solved so that we don't need to bounce it back to our provider again and again.

For case 1: One of our students did it long before. So far, I can only report whatever from his description. I attached the script he used to run the b

[2019-07-27 08:41] yuelimv commented on #885
After installing gflags 2.0, following the CentOS instructions here:

https://github.com/facebook/rocksdb/blob/master/INSTALL.md

The test now runs.

[2019-07-27 09:06] yuelimv commented on #885
Actually I found there probably is a bug in rocksdb.sh

here

cp $testdir/common_flags.txt writesync_flags.txt
echo "--benchmarks=overwrite" >> writesync_flags.txt

I think overwrite should be fillsync?

[2019-07-27 11:46] KariukiJ commented on #835
@alekseymmm I will add an SSD for my test environment and see if I can reproduce the issue.

[2019-07-27 12:33] KariukiJ commented on #835
@alekseymmm Can you also collect a trace with just one thread so that we can compare it to the good trace with the one you collected for 2 threads where the performance drops and see what section of the code is taking longer?

[2019-07-28 19:48] ErMaVi commented on #597
The pods do get traffic, it all works fine with docker instead of k8s. This unfortunately looks like a k8s bug, it is similar to this https://github.com/kubernetes/kubernetes/issues/71233 which is still open. Somehow the remounts mask the issue, but a simple test with the mmap function call shows the problem. What k8s verision are you using ? (I'm using v1.15.1)

[2019-07-29 01:16] yidong0635 opened #887 "QAT module installation on VM is failed"
# Issue reports:
make[4]: Entering directory '/usr/src/kernels/4.19.10-200.fc28.x86_64'
Building for linux_2.6% (17080/66873), 5.13 MiB | 27.00 KiB/s
  CC      /QAT/quickassist/utilities/osal/src/linux/kernel_space/OsalAtomic.o
  CC      /QAT/quickassist/utilities/osal/src/linux/kernel_space/OsalCryptoInterface.o
  CC      /QAT/quickassist/utilities/osal/src/linux/kernel_space/OsalIOMMUMgmt.o
  CC

[2019-07-29 01:33] peluse commented on #887
There's some issues with this driver depending on kernel version.  There's a github issue already open to update vm_setup with the new driver which will take care of this, it can be worked around but the new driver is needed anyway for proper operation of QAT.  If you want to install it manually while waiting for vmsetup to be updated the link is in the patch I mentioned here: https://github.com/s

[2019-07-29 01:47] shuhei-matsumoto commented on #854
@benlwalker

Our communication was not enough.

Our team had thought that we can't set period of poller to zero because SPDK had returned error when they designed.

Our poller to check completion is light if no completion, and we could confirm the issue was fixed without reverting any patch and only with period change (1us to 0).

Regardless of this update, I will work on improvement but the prior

[2019-07-29 02:58] yidong0635 commented on #887
@peluse  thanks for your quick response, this just took a long time to setup, I will close it since it's related to #886.

[2019-07-29 02:58] #887 closed

[2019-07-29 02:58] yidong0635 opened #888 "QoS sometimes failed in VM fedora28"
# Issue reports:
see attached file,
[qos_failure.txt](https://github.com/spdk/spdk/files/3439932/qos_failure.txt)

## Expected Behavior
test can pass

## Current Behavior
test failed at qos.sh.

## Possible Solution

## Steps to Reproduce
use vagrant to run  iscsi autotest.

## Context (Environment including OS version, SPDK version, etc.)
fedora28.
commit:0e6ddfd66add37ae46ed3639cfb77f73bca55aa1

[2019-07-29 03:42] darsto commented on #822
All fixes merged. Confirmed latest master works on fedora 30. Thanks everyone!

[2019-07-29 03:42] #822 closed

[2019-07-29 04:42] SavanAnjaria commented on #691
@tomzawadzki :
Missed the lvol destruction part from your script. It follows all the reproduction steps I had mentioned. I was able to reproduce this issue with 19.04.1 released version. By EOD, will post the result with SPDK Master tip code

[2019-07-29 06:58] tomzawadzki commented on #691
@SavanAnjaria
You did reproduce the issue on SPDK 19.04.1 with script exactly as posted ?
If that is the case, there has to be some difference between our setups. Lets try to narrow it down (here are mine):
- `uname -r ` 5.1.12-300.fc30.x86_64 Fedora 30
- Soft-RoCE (rxe_cfg) from https://github.com/SoftRoCE/librxe-dev.git Are you using Soft-RoCE ?
- `fio -v` fio-3.3
- NVMe `sudo ./examples/nvme/id

[2019-07-29 08:29] Maciej-Szwed commented on #589
Closing this issue as there is no confirmation that issue still exists.

[2019-07-29 08:29] #589 closed

[2019-07-29 08:48] SavanAnjaria commented on #691
@tomzawadzki : Not using the script. I meant to say that, using the exact steps I have mentioned in the reproduction (running IOs from the different server), I was able to reproduce this issue on 19.04.1 but, I am yet to take SPDK master and see the results.

[2019-07-29 13:04] zlsh007 opened #889 "Scripts/rpc.py execution problem"
Use the master version, commit: 5de38f95431689b88a0f89dc63f938955bf092ba
When executing the rpc.sh script, the following problem will occur：

./scripts/rpc.py -h
Traceback (most recent call last):
  File "./scripts/rpc.py", line 3, in <module>
    from rpc.client import print_dict, print_json, JSONRPCException
  File "/home/xxx/test/spdk/scripts/rpc/__init__.py", line 20, in <module>
    from . im

[2019-07-29 14:40] pawelkax commented on #876
Hi Kamil,

Could you try running rpc nvmf_create_transport with max_qeueu_depth equals to 32?

[2019-07-29 16:00] jimharris commented on #889
I'm not able to reproduce this.  client.py line 161 only executes when an RPC is specific, but if you are only running "scripts/rpc.py -h" from the command line, there is no RPC.

Can you provide any additional details?  Such as:

1) Do you have an SPDK application running when you invoke rpc.py?
2) If so, does running "scripts/rpc.py rpc_get_methods" and "scripts/rpc.py get_spdk_version" work?

T

[2019-07-29 16:10] jimharris commented on #822
I agree - these are going to pop up more in the future.  I updated my Ubuntu system to 19.04 and get 70(!!!) scan-build errors including the crypto one you originally coded a workaround for:

https://review.gerrithub.io/c/spdk/spdk/+/463232

Closing this issue is fine but we probably need to be more aggressive about filing LLVM issues and getting ahead of bugs that scan-build finds.  I don't mind

[2019-07-29 17:00] jimharris commented on #885
Hi @yuelimv,

I think the script is OK as it is now.  --disable-wal=0 and --sync=1 will result in sync operations (i.e. each put is sync'd to WAL).  We use overwrite test to overwrite existing keys written in previous tests.

If you still think changes to the script are needed, please file a separate GitHub issue.  We should close this issue since the described problem has been resolved.

Thanks,

[2019-07-29 17:00] #885 closed

[2019-07-29 21:40] yuelimv commented on #885
Sounds good, thanks Jim.

[2019-07-29 22:18] peluse opened #890 "compress vbdev & pmem file delete/cleanup behavior"
Today, as it has always been but we are releasing so I wanted to document this so it gets fixed:

If you have a working comp vol with its pmem file you delete the pmem file manually,  you will be unable to load the comp_bdev or even delete it via RPC.  The only workaround for this right now is to zero out the first few MB on the disk.  What's needed here is the ability to delete via RPC even w/o t

[2019-07-29 22:29] peluse commented on #889
FYI works for me also

[2019-07-29 22:44] peluse commented on #888
So I'm curious now, from the log clearly we're less than the limit:

 18:37:43       # verify_qos_limits 2248704 3145728
 18:37:43       # local result=2248704
 18:37:43       # local limit=3145728

but the function that's checking is making sure that the the result is at least 85% of the limit which in this case happens to be exactly the case, the result is 85% of the limit. I don't know how the

[2019-07-29 22:55] peluse commented on #886
BTW I'm sure you guys have it but here's the directions, note that on my system I no longer needed the sed workourd they mention in another page somewhere: https://doc.dpdk.org/guides/cryptodevs/qat.html#installation-using-01-org-qat-driver

[2019-07-29 22:59] #879 closed

[2019-07-30 01:57] yidong0635 commented on #822
this one  still exist:
 LIB libspdk_bdev_virtio.a
In file included from vbdev_crypto.c:46:
/root/yidong/spdk/dpdk/build/include/rte_crypto.h:136:11: warning: Dereference of null pointer
        op->type = type;
[code]

[2019-07-30 02:48] peluse commented on #822
that's in DPDK

[2019-07-30 06:47] wanghailiangx opened #891 "A question: two unimplemented cases in lvol.sh"
test/lvol/lvol.sh

In function usage(),
About case 350 and 400, I cant't find the functions to implement them in test_cases.py.
      350: 'nested_destroy_logical_volume_negative',
      400: 'nested_construct_logical_volume_positive',

Or maybe they be implemented elsewhere? Or they were not implemented on purpose?
Anyone knows? Thanks.

## Expected Behavior
Adding implementation for the two case

[2019-07-30 07:55] darsto commented on #891
Those tests were not implemented for some reason. There's even a few more unimplemented in there.

I'm in the middle of rewriting all the python lvol tests to bash, so the missing cases will be added at some point.

[2019-07-30 07:55] #891 closed

[2019-07-30 08:09] darsto commented on #741
I'm going to close this issue. Please @mention me if you'd like me to reopen it.

[2019-07-30 08:09] #741 closed

[2019-07-30 08:21] darsto commented on #864
Merged, thanks!

[2019-07-30 08:21] #864 closed

[2019-07-30 10:29] wanghailiangx commented on #891
@darsto Thank you for your timely reply. Do you estimate the lvol tests to be rewrited before the release v19.07? If OK, I'll abandon the upper patch [#463275](https://review.gerrithub.io/c/spdk/spdk/+/463275). If there is no such plan, I suggest merging it for the time being.

[2019-07-30 11:45] karlatec commented on #886
Updated on GP4 for now.
Tests with the same config as in CI passed locally:
[code]

However I see a lot of error/warning messages when initializing SPDK/DPDP. For example:
[code]

[code]

In the dock pages you linked there is a note:
"In the BIOS ensure that SRIOV is enabled and VT-d is disabled."
I wasn't aware of that. All of our CI systems use VT-d (for vhost tests I guess). I'll try again with

[2019-07-30 12:04] karlatec commented on #886
Same thing with VT-d disabled. Let me know if I should proceed with update on other QAT system.

[2019-07-30 13:59] jimharris commented on #822
It is in a DPDK header file.  But the scan-build error happens when we build an SPDK module (which includes that header file).  I see this on my Ubuntu 19.04 system as well.

I think since SPDK compilation passes on Fedora 30 now, we should keep this issue closed and file a new issue for any other scan-build issues with scan-build 8.0.

[2019-07-30 14:00] peluse commented on #886
Awesome thanks.  The error messages you are seeing are semi-unrelated and I have a DPDK patch on our fork to address them. When this merges https://review.gerrithub.io/c/spdk/spdk/+/463548 they will go away.  I'll ask Fiona about the VTd thing

[2019-07-30 14:01] karlatec commented on #886
Im going to run tests via CI instead of just manually to confirm if all is OK, and proceed with the second system.

[2019-07-30 15:15] darsto commented on #840
Bug scrub: Jim suggests to add an option to ignore all init failures. We can still print error messages, but not fail.

[2019-07-30 15:19] darsto commented on #691
Bug scrub: switching the priority to medium - we need a confirmation if this reproduces on master

[2019-07-30 15:22] darsto commented on #436
@Seth5141 friendly reminder ;)

[2019-07-30 15:29] darsto commented on #646
Bug scrub: We've recently updated QEMU on our CI machines, it should be worth trying to run the same tests again now

[2019-07-30 15:31] darsto commented on #632
Bug scrub: Closing, we believe this is fixed in the latest vpp version. Please @mention me if this should be reopened.

[2019-07-30 15:31] #632 closed

[2019-07-30 15:34] darsto commented on #563
Bug scrub: I'm going to close this, please create a trello item on https://trello.com/b/P5xBO7UR/things-to-do if this is still something that we should add

[2019-07-30 15:34] #563 closed

[2019-07-30 15:39] darsto commented on #683
Bug scrub: I wonder if we should reprioritize it in order to add new fuzz tests - we could run a fuzzer to send I/O to the same app that handles it. @Seth5141 ?

[2019-07-30 15:40] darsto commented on #802
Bug scrub: we haven't seen this lately. Closing for now.

[2019-07-30 15:40] #802 closed

[2019-07-30 15:43] darsto commented on #868
Bug scrub: We believe this code part is fine. @gwnet could you provide reproduction steps, so we can pin down the exact issue?

[2019-07-30 15:46] darsto commented on #727
Bug scrub: we agree those functions should be at least documented if they're thread safe or not.

[2019-07-30 15:47] darsto commented on #727
I'm actually going to close this issue - we would like to track only issues on github. Please create a trello item on https://trello.com/b/P5xBO7UR/things-to-do if you'd like to make this enhancement more visible.

[2019-07-30 15:47] #727 closed

[2019-07-30 15:53] darsto commented on #870
Bugscrub: @peluse  to reproduce it for now.

[2019-07-30 15:57] darsto commented on #829
@changpe1 ping

[2019-07-30 23:47] peluse commented on #886
thanks!

[2019-07-31 04:27] changpe1 commented on #829
No response from Linux block-nvme mainlist as well as nvme-cli community.

I can fix it too so set the issue with low priority and fix it later.

[2019-07-31 06:23] karlatec commented on #886
Forgot to add a comment, sorry.
Both platforms have the driver updated now. Please confirm all is OK and then we can close the issue:)

[2019-07-31 06:33] zlsh007 commented on #889
hi，Sorry for the late reply
![image](https://user-images.githubusercontent.com/15990748/62188780-01550880-b3a0-11e9-86a7-b3ea9a2ff715.png)

[2019-07-31 06:55] changpe1 commented on #889
it works for me too.

[2019-07-31 07:00] jessehui commented on #889
@zlsh007 Which python version are you using in this environment?

[2019-07-31 07:30] zlsh007 commented on #889
@jessehui I can use other versions, such as 18.10, also specify python3

[2019-07-31 07:31] zlsh007 commented on #889
I think it should be my installation package or configuration problem.

[2019-07-31 07:41] jessehui commented on #889
Could you do a clean clone and build and run with python3 again to see if these errors still occur? Thank you.

[2019-07-31 10:55] Seth5141 commented on #436
Thanks @darsto!
@liang2yan
The fix in the rdma-core library is this one: https://github.com/linux-rdma/rdma-core/commit/0f35e04b303ab56fbfbe829d602377874cabdc1b#diff-c2af2d61e7d67edda71d9ebbc497087b. The NIC supports SEND_WITH_INVAL and reports that it does, but they didn't ever include the case to handle that operation in the userspace side until that commit.
It was merged in September of last ye

[2019-07-31 17:27] songweijia commented on #814
To summarize my previous post: I believe the issue lies in the firmware of the Intel DC P4800X card. Our provider(Colfax Direct) talked to me to make this clear.

For how to reproduce the issue, I could only describe what happened when I had it. It's hard for us to narrow it down to a "do this, and it will break" pattern because we don't have many cards to experiment. However, I would like to be i

[2019-07-31 20:23] peluse commented on #870
So I tried to repro this, a few differences:
target: spdk master, kernel 5.0.16-200.fc29.x86_64
initiator: kernel 4.18.16-300.fc29.x86_64
and I'm running fio against the connected target.

 * the only thing I see on the target are the following which directly correspond to me taking the link down/up:
rdma.c:2927:spdk_nvmf_process_ib_event: *NOTICE*: Async event: port error
rdma.c:2927:spdk_nvmf_pr

[2019-07-31 20:24] peluse commented on #870
oh wait, fio stated generating updates again.  I have verify on as well and there are no issues reported.  Will let it run for a while.  Not that I only manually took the link down/up 2 times with about 15 sec in between.

[2019-07-31 21:22] peluse commented on #886
OK, I need to make one test script update to actually use QAT cards for compress (right now ISAL is hardcoded).  I'll make that change and add yo;u as a reviewer so you see it

[2019-07-31 21:51] peluse commented on #870
If this is your SPDK:
 commit de1d0f8fe912584990edbe03eb30e8d32664b4b8
 Date:   Fri Feb 22 10:48:05 2019 +0100
It seems like it would be work trying with master.... please let me know if you can do that and how it goes.

[2019-08-01 09:04] SavanAnjaria commented on #691
@tomzawadzki
Just to make a note of the points we discussed:
- The issue didn't reproduce for me on master with 3 attempts of the same reproduction steps.
- I am going to do an exercise to narrow down the commit(s) that's fixing/hiding/masking this issue.
- This issue plays hide and seek at times. So, while I would be doing above said exercise, if the issue reproduces on master as well, I'll repor

[2019-08-01 10:10] wanghailiangx opened #892 "Some rpc methods does not exist in FreeBSD"
Nightly test reports that some rpc methods does not exist in FreeBSD. This is a low priority issue.
This log can't be found in other Linux OS(CentOS, Fedora, ubuntu), only in FreeBSD.

[code]

## Expected Behavior
These rpc methods can  be found in FreeBSD.

## Current Behavior
These rpc methods can't  be found in FreeBSD.

## Possible Solution
These rpc_methods are defined in log_rpc.c

function

[2019-08-01 11:49] liang2yan commented on #436
@Seth5141 , you are right. The rdma-core library I used(rdma-core-20.1-1) doesn't include the patch. I have checked this patch. From the github page, the version must be one of "v25.0  v24.0 v23.1 v23 v22.3 v22.2 v22.1 v22 v21.2 v21.1 v21 debian/24.0-2 debian/24.0-1 debian/22.1-1 debian/22.0-1 debian/21.0-1".
So I setup one Debian env which rdma-core version is 22.1-1.  Then I run nvmf target and

[2019-08-01 12:15] Seth5141 commented on #436
@liang2yan sounds good. Thanks! It's good that this is now we'll documented in this issue in case someone else runs into the same problem.

[2019-08-01 12:15] #436 closed

[2019-08-01 14:31] jimharris commented on #892
I have a FreeBSD VM on my laptop - I'll take a look.

[2019-08-01 14:51] jimharris commented on #892
I'm not able to reproduce this on my FreeBSD VM - but it's FreeBSD 12 while CI is using FreeBSD 11.2.

But I think what's happening is that the constructor functions are running in a different order on FreeBSD 11.2 than they are on FreeBSD 12 (or Linux):

rpc.c: 277:spdk_rpc_register_alias_deprecated: *ERROR*: cannot create alias get_rpc_methods - method rpc_get_methods does not exist
rpc_client_t

[2019-08-01 16:07] jimharris commented on #892
https://review.gerrithub.io/c/spdk/spdk/+/463915 seems to fix the issue.

http://10.102.17.206/results/autotest-per-patch/builds/39142/archive/freebsd_autotest/index.html

[2019-08-01 17:49] krishna-e commented on #870
I just recreated the issue with the latest SPDK, commit a2dcdde(Date:   Wed Jul 31 21:59:38 2019 +0800).

To quickly recreate the issue:

-set "InCapsuleDataSize 8192" in nvmf.conf at spdk target.
-User MTU 9000
-run traffic on at least 4 luns.
-I used IOZone to run traffic on multiple luns(running IO on formatted disks).
-use ifconfig down(for 10sec) and ifconfig up(for 30sec) on target in an aut

[2019-08-01 23:01] KariukiJ opened #893 "BDEV fio_plugin fails to replay iolog file"
The bdev fio plugin throws a segmentation fault when replaying fio trace with the --read_iolog flag

## Expected Behavior
fio replays the iolog successfully with the bdev fio plugin.
Trace replay works if I directly use fio v3.3 without the plugin.

## Current Behavior
fio-3.3 throws the error below:

Starting 1 thread
fio: pid=9537, err=12/file:memory.c:333, func=iomem allocation, error=Cannot al

[2019-08-01 23:08] KariukiJ commented on #893
This is an issue in fio 3.3. Once fio version was upgraded to 3.14 and 3.15 the issue was not observed. fio runs the iolog successfully

LD_PRELOAD=examples/bdev/fio_plugin/fio_plugin IODEPTH=128 fio spdk_bdev.fio.conf -read_iolog io_workload_qd128
filename: (g=0): rw=randread, bs=(R) 4096B-4096B, (W) 4096B-4096B, (T) 4096B-4096B, ioengine=spdk_bdev, iodepth=128
fio-3.14-6-g97134

[2019-08-01 23:08] #893 closed

[2019-08-02 02:33] zlsh007 commented on #889
@jessehui The result of the above test is the code of the clone master, without any changes. When I have time, I will change the machine and test it again.

[2019-08-02 02:33] #889 closed

[2019-08-02 04:15] windye opened #894 "Attaching a block device to vm use too long time when use spdk vhost"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

Qemu communicate with vhost by vhost_user messgage when attach a block device,  this process complete quickly in normal case.
## Current Behavior

 Attach a one queue block device  spent up to 45s, when physic

[2019-08-02 11:30] JakubWarumzer commented on #876
Hi all,
I've been working with Kamil on resolving this issue. Thank you for all your suggestions. Unfortunately, so far we had no luck in fixing this problem. We've tried following solutions:

1. Upgrading Kernel to `5.2.3`
2. Limiting `max_queue_depth` to `32`
3. Casting `ulimit -s unlimited`

Yet the issue still stands. If anyone has some clues/ideas I'd appreciate the help. I can provide some a

[2019-08-02 13:21] pawelkax commented on #843
On VM that freezed I noticed follwing errors:
[   64.276031] NMI watchdog: BUG: soft lockup - CPU#1 stuck for 22s! [systemd-udevd:959]
[   68.696031] INFO: rcu_sched detected stalls on CPUs/tasks:
[   68.696031]  0-...: (0 ticks this GP) idle=099/140000000000000/0 softirq=2548/2548 fqs=0
[   68.696031]  (detected by 1, t=15002 jiffies, g=367, c=366, q=559)
[   68.696031] rcu_sched kthread starved

[2019-08-02 13:44] pawelkax commented on #876
Could you provide all steps eg. all rpc commands that you run?

[2019-08-02 14:18] JakubWarumzer commented on #876
Absolutely - it goes like this:

## **Target**

### 1. Allocate hugepages and bound devices to SPDK
`NRHUGE=400 ./setup.sh`

### 2. Run SPDK NVMf Target daemon
`nohup sudo nvmf_tgt`

### 3. Claim NVMe drives from kernel to SPDK
`sudo ./scripts/rpc.py construct_nvme_bdev -b <disk_name> -t pcie -a <disk_address>`

### 4. Create Logical Volume Stores
`sudo ./scripts/rpc.py construct_lvol_store <bdev_

[2019-08-02 14:22] pawelkax commented on #876
Try adding to this commands:
1. create lvol bdev on <lvs_name>
2. sudo ./scripts/rpc.py nvmf_subsystem_add_ns <nqn> <lvol_bdev_name>

[2019-08-05 05:28] shuhei-matsumoto commented on #884
Hi @yidong0635

My question is do you know what is the caller of the following spdk_put_io_channel() ?

=================================================================
fio: io_u error on file /dev/nvme0n3: Operation not supported: read offset=9535488, buflen=4096
fio: pid=1784369, err=95/file:io_u.c:1833, func=io_u error, error=Operation not supported
==1783294==ERROR: AddressSanitizer: heap-use

[2019-08-05 08:15] JakubWarumzer commented on #876
I've included the commands you've suggested, unfortunately to no avail. Behavior stays the same - `nvme discover` works once, then for any attemps made in the next ~5 seconds it responds with
[code]
then works once again, then doesn't for ~5 seconds, etc. etc.

[2019-08-05 08:32] darsto commented on #843
The last dmesg looks suspicious, but in general we can't get any more detailed logs from the VM side. Have you tried reproducing it with the patch I linked before? https://review.gerrithub.io/c/spdk/spdk/+/447060

[2019-08-05 08:33] pawelkax commented on #876
Hi, could you look at #697?
There is issue reported similar to your problems.

[2019-08-05 08:46] #871 closed

[2019-08-05 09:03] shuhei-matsumoto commented on #884
@benlwalker @yidong0635

I haven't investigated the detail yet, but I think the change https://github.com/spdk/spdk/commit/88da8a91f956d131e3bdaf5b9c845a66868cd664 may be related with this issue.

Namespace hot removal may still need asynchronous spdk_nvmf_subsystem_remove_ns() when there is outstanding IOs because we cannot wait for completion of outstanding IOs synchronously.

Will you give your

[2019-08-05 10:34] shuhei-matsumoto commented on #884
I was thoughtless. Your patch will be fine. I will investigate more.

[2019-08-05 18:51] jimharris commented on #892
Patch merged so closing this issue.  @wanghailiangx - please comment or reopen if you still see any problems like this.

[2019-08-05 18:51] #892 closed

[2019-08-05 19:09] rajasekaranmam opened #895 "NVMe/SAS/SATA Storage controllers (Broadcom/Microchip) supported in SPDK?"
Query:
Is/Are NVMe/SAS/SATA Storage controllers (Broadcom/Microchip) supported in SPDK?

Reason:
Looking for an option to check if NVMe/SAS/SATA storage controllers supported in SPDK already.

[2019-08-05 21:45] shuhei-matsumoto commented on #884
I cut and paste the log that T0 might put io channel after T5 closed bdev.

[code]

[2019-08-05 23:23] shuhei-matsumoto commented on #884
Hi @yidong0635

I haven't found the path why **spdk_**bdev_destroy_cb can be called before **raid_**bdev_destroy_cb is called. It looks that dev->refcnt in lib/thread/thread.c can avoid that ordering. Please share if you have any update on this.

[2019-08-06 02:45] yidong0635 commented on #884
@shuhei-matsumoto  I traced this flow. and have a question?

 register :  do  `raid_bdev_configure`  then
 `
spdk_io_device_register(raid_bdev, raid_bdev_create_cb,
   raid_bdev_destroy_cb, sizeof(struct raid_bdev_io_channel),	raid_bdev->bdev.name);
`
`raid_bdev_create_cb ->spdk_bdev_get_io_channel-> ch->destroy_cb = dev->destroy_cb;
`
`spdk_put_io_channel->_spdk_put_io_channel->ch->destroy_cb->

[2019-08-06 05:26] yidong0635 opened #896 "Makefile make -jN reports warning"
I tried several physical machine and VM.
make -j2/ make -j32
 some reports  warning:
make[2]: warning: -jN forced in submake: disabling jobserver mode.
make -j   doesn't have this warning.
Because I think our code compiling is so slowly and enlarge -jN can't to speed it up.

I'm not sure if there's a bug. and report this issue.

## Context (Environment including OS version, SPDK version, etc.)
tri

[2019-08-06 06:04] darsto commented on #896
The warning comes from ISA-L. Thanks, I pushed a fix:

https://review.gerrithub.io/c/spdk/spdk/+/464261 Makefile: don't override MAKEFLAGS in submake

[2019-08-06 06:09] shuhei-matsumoto commented on #884
Hi @yidong0635 Oh, thank you so much, I had left raid bdev for a long time and missed the critical logic. But the issue makes sense to me now. Please give me a little more time to learn your bug fix.

[2019-08-06 07:35] jessehui commented on #896
Scan build throws lots of warnings for ISAL. I will push some patches to ISAL and SPDK can checkout to new commit then. Thank you all for reporting and fixing.

[2019-08-06 09:27] pawelkax commented on #843
@darsto I tried to reproduce this issue with 447060 but with no effect (tests passed).

[2019-08-06 10:47] cockroach1136 commented on #527
Hello Sir,

     Any update for this issue?
Because the UIO driver is also crashed in our hotplug test.
We have no solution for device hotplug now.

The UIO crash call stack is as below

[  393.487008]  sd_mod crc32c_intel i40e drm_kms_helper syscopyarea sysfillrect sysimgblt igb fb_sys_fops ahci ptp ttm libahci pps_core drm dca i2c_algo_b
it libata dm_mirror dm_region_hash dm_log dm_mod dax
[  39

[2019-08-06 13:07] JakubWarumzer commented on #876
It does look familiar. So this would mean that it apparently is `soft_rxe` issue if I understand correctly. Still, if anybody had any luck in using SPDK with `soft_rxe` I'd be thankful for any clues.

[2019-08-06 14:10] #886 closed

[2019-08-06 14:16] peluse opened #897 "Data corroption w/high QD (16K>) and laerge IO (64K>) data corruption w/bdevperf"
Using master, in debug.  Does not happen w/same workload on FIO.  Does not happen w/same workload on either tool with ISAL PMD

Have implemented PMD checksum features for debug, CrC's match (PMD calcs on uncompressed data on the way in, I save in PMEM, PMD calc's again on the way out and I compare to daved value in PMEM).

Appears to be related to how we behave when QAT enqueue operation is full.

[2019-08-06 17:47] jimharris commented on #895
Hi,

The SPDK NVMe userspace driver will work with any specification-compliant NVMe SSD.

SPDK supports SAS/SATA storage controllers using Linux AIO (or io_uring on newer Linux kernels).  In this case, you would use the Linux kernel driver for your SAS or SATA storage controllers.

Best regards,

-Jim

[2019-08-06 18:07] ak-gh commented on #895
On Tue, Aug 6, 2019, 20:47 Jim Harris <notifications@github.com> wrote:

Jim,

sorry for off-top, but still what is the minimum kernel version required
for the SPDK io_uring bdev?

Thanks,
Andrey

[2019-08-06 18:31] jimharris commented on #895
5.1

[2019-08-06 18:34] ak-gh commented on #895
On Tue, Aug 6, 2019, 21:31 Jim Harris <notifications@github.com> wrote:

Thanks.

—

[2019-08-07 06:52] yidong0635 commented on #884
@shuhei-matsumoto @changpe1  thanks for pushing to make this issue more clear. Waiting for other
one to review.

[2019-08-07 07:23] yidong0635 commented on #888
the log shows the result/limit=0.71 is lower than 0.85.

[2019-08-07 10:00] pawelkax commented on #876
If it is possible try to install ubuntu 18.04.

[2019-08-07 11:05] rajasekaranmam commented on #895
Thanks, Jim.

In that case, I believe we can use any storage controller in 5.1 kernels with SPDK 19.07.x environment, which helps to expose only drives connected (JBOD or RAID) behind the storage controller to userspace.

Is there any provision (now in SPDK), to expose the entire storage controller completely to userspace?

[2019-08-07 12:32] #881 closed

[2019-08-07 17:12] ygoldfill opened #898 "OPAL retrieval of MSID_CPIN yields extra character in some cases"
When taking ownership of the drive, the drive might send the MSID_PIN with
a prefix of MEDIUM_ATOM in which case the next byte holds the LSB of the length.
If opal_response_parse_medium() is used to retrieve the byte string
then the string starts at pos[2]. When opal_response_get_string() is called
later it returns part of the the length along with the reset of the sting.

## Steps to Reproduce
Ta

[2019-08-07 22:05] jimharris commented on #895
There are currently no native userspace SPDK drivers for any SAS or SATA/AHCI controllers.  SPDK only enables SAS/SATA via kernel mode drivers.

[2019-08-08 01:58] jessehui commented on #898
Hi @ygoldfill , thanks for reporting. May I know what drive are you using? So you can't take ownership with that drive, right? Do you have a log for that?

[2019-08-08 04:05] Seth5141 commented on #872
This was fixed by Ziye's patch https://review.gerrithub.io/c/spdk/spdk/+/462658. My bad for not closing it earlier.

[2019-08-08 04:05] #872 closed

[2019-08-08 05:47] darsto commented on #894
SPDK < 19.07 used to repeatedly map/unmap memory during QEMU VM boot because of limitations in DPDK's vhost library. We have applied a few significant optimizations to this process in the latest SPDK version.

Could you try running SPDK 19.07 + DPDK 19.05? It should take much less amount of time to boot and should no longer scale with the amount of used queues.

D.

[2019-08-08 06:28] jessehui commented on #898
Please take a try on this : https://review.gerrithub.io/c/spdk/spdk/+/464502

[2019-08-08 11:23] jkalwas opened #899 "improve rpc.py help"
Currently there is no easy way to know what are supported and default values after displaying help. Not sure if help should serve as manual but currently to get this kind of info you need to go into the code. Example would be nice to have as well.

I see that providing defaults might be difficult because it depends on e.g. transport type.
Providing supported values might be difficult as well becau

[2019-08-08 14:23] weingithub opened #900 "nvme discover -t rdma -a 192.168.1.110 -s 4420 Failed to write to /dev/nvme-fabrics: Invalid argument"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

use  SPDK+NVMeOF to do some test, and target is run ok, but when I run 'nvem discover' command, I got this error.
## Expected Behavior

discover success
## Current Behavior

Failed to write to /dev/nvme-fabrics: Invalid argument

[

[2019-08-08 16:38] ygoldfill commented on #898
Hi jessehui
Your patch worked fine - thanks.
I am using our own company drive which has not yet been released. Yes, I could not take ownership of the drive. I knew it was working as we tested with sedutil-cli. I also noticed that the password  using the SPDK is sent in the clear while it is sent hashed using the sedutil package so I can not take ownership of the dirive with SPDK and manage with se

[2019-08-08 20:11] jgrodman opened #901 "spdk_event_mempool creation failed, when running with shared libraries"
Thank you to @Seth5141 and @jkryl for your help

Repro steps:
Confirmed that this issue occurs on Ubuntu 18.04
@Seth5141 has another distro that does not experience this issue

`./configure --with-shared --without-isal --without-vhost --with-rdma`
`make -j 32`
`sudo LD_LIBRARY_PATH=./build/lib/:./dpdk/build/lib/ ./examples/bdev/hello_world/hello_bdev -c examples/bdev/hello_world/bdev.conf`

output

[2019-08-08 20:21] Seth5141 commented on #901
Like @jgrodman mentioned above, on Fedora 28 the above steps properly launch the hello_bdev application. I am looking into the differences between the ubuntu18 and fedora28 to start with.

[2019-08-08 21:12] Seth5141 commented on #900
Hi @weingithub,

On the client, what do you get from lsmod | grep rdma and lsmod | grep mlx on the client? I would expect the nvme-rdma to be loaded and depend on nvme-fabrics and for the mlx modules to be loaded.

Thanks

[2019-08-08 21:16] benlwalker commented on #837
Does this approach get the job done? https://review.gerrithub.io/c/spdk/spdk/+/464614

[2019-08-08 21:19] jonathanrichardson opened #902 "data errors and addresses in sg list exceeding max MR address"
I'm seeing data errors in 19.04 with Intel Optane SSD 900P Series and Express Flash NVMe P4500 drives. They occur almost immediately when the initiator is run. When it happens the initiator hangs and stops sending data.

## Expected Behavior
No data errors.

## Current Behavior
Data errors occur almost immediately on 128k block size data transfers. It always happens on post_send and seems to occur

[2019-08-08 23:56] jessehui commented on #898
@ygoldfill , Thanks for your response. I will take a look on sedutil and see what we can do. As far as I know, kernel is also using clear text. I will see whether we can make it an option to send it with hash or not. Thank you.

[2019-08-09 01:22] weingithub commented on #900
@Seth5141
`[root@node188 MLNX_OFED_LINUX-4.6-1.0.1.1-rhel7.6-x86_64]# lsmod |grep nvme
nvme_rdma              12432  0
nvme_fabrics           19998  0
nvme                   32338  0
nvme_core              58852  2 nvme,nvme_fabrics
mlx_compat             29590  16 rdma_cm,ib_cm,iw_cm,mlx4_en,mlx4_ib,mlx5_ib,mlx5_fpga_tools,ib_ucm,nvme_rdma,ib_core,ib_umad,ib_uverbs,mlx4_core,mlx5_core,rdma_ucm,ib

[2019-08-09 01:56] Seth5141 commented on #900
Yeah, that is very odd. In my system, whenever I have run lsmod, I always have the same dependency.
[code]

I think that something odd is going on with your kernel modules.

Here is the output of my whole lsmod command for a reference.

[code]

I am going to mark this as a third party issue, because I believe it is most likely related to something in the client kernel configuration.

[2019-08-09 02:18] weingithub commented on #900
@Seth5141
when I modprobe nvme_rdma，I got this error from dmesg
# modprobe -r nvme_rdma nvme_fabrics
# dmesg |tail
[50770.356433] Request for unknown module key 'Mellanox Technologies signing key: 61feb074fc7292f958419386ffdd9d5ca999e403' err -11

I am not sure if this cause invalid argument problem.  I do some google , got these information:
![image](https://user-images.githubusercontent.com/8966

[2019-08-09 02:20] Seth5141 commented on #901
@jgrodman https://review.gerrithub.io/c/spdk/spdk/+/464621 fixes this for my ubuntu systems. It looks like ubuntu based systems somehow override ld's default behavior (which is the same as --no-as-needed) while RHEL based systems leave that behavior intact. I just made the --no-as-needed flag explicit in the make files.

[2019-08-09 05:35] jessehui commented on #898
It looks like that sedutil is using its self-defined hmac-sha1 for password. In this case, I would suggest to just use SPDK opal tool for configuration as we have even more functions than sedutil. Besides, it can works smoothly with kernel.

[2019-08-09 08:27] EugeneKochetov commented on #900
Hi @weingithub,

Could you please post the output of "modinfo nvme-rdma"?
As far as I see you use MLNX_OFED. Did you install it yourself? What parameters did you pass to installation script?

BR, Eugene.

[2019-08-09 10:38] wanghailiangx commented on #899
The question you raised is very good, and we have thought about it. Examples of RPC are scattered among various bash test scripts, so we had sorted out the corresponding command before, which is for internal use only at present.
Such as bellow:
[code]
I think it's better to submit a patch in spdk.io/doc so that this example list can be easily referenced by users.  https://review.gerrithub.io/c/spd

[2019-08-09 10:56] EugeneKochetov opened #903 "NVMf RDMA target crashes with assertion on shutdown during heavy traffic"
SPDK NVMf RDMA target crashes with assert when it is shutdown during heavy traffic.
The problem is not easy to reproduce. It happens once in 20 runs or even less frequently depending on environment.

## Expected Behavior

No crash.

## Current Behavior

SPDK crashes with assert.
[code]

## Possible Solution

IB Architecture Specification vol.1 rel.13. in ch.10.3.1 "QUEUE PAIR AND EE CONTEXT STATES

[2019-08-09 16:14] benlwalker commented on #895
Note that this is an intentional design decision on our part. For SAS and SATA/AHCI, the CPU overhead of the kernel I/O path (especially via libaio and liburing) is low enough relative to the performance of these types of devices that bypassing the kernel isn't worthwhile.

Also, you can use SAS and SATA devices you can use them via SPDK on any kernel that supports libaio, which covers any activel

[2019-08-09 16:14] #895 closed

[2019-08-09 16:28] benlwalker commented on #871
The atomic is only used to guard against two threads trying to transition the state from ACTIVE to something else. Once the subsystem is no longer ACTIVE, other threads will return BUSY.

It likely doesn't even need the atomic if we just went through and made sure all subsystem management operations happened from a single thread (i.e. the RPC thread).

[2019-08-09 21:33] pentyala opened #904 "FUSE Support in SPDK"
Hi,

     Does SPDK support FUSE commands?

Thanks.

[2019-08-10 00:02] peluse commented on #897
fix: https://review.gerrithub.io/c/spdk/spdk/+/464719/2

[2019-08-10 00:15] jonathanrichardson commented on #902
Please ignore this for now. There is a discussion with my colleague on the list regarding "Data buffer split over multiple RDMA Memory Regions". We reverted commit 37b7a308941b996f0e69049358a6119ed90d70a2 "memory: fix contiguous memory calculation for unaligned buffers" as a fix but I think it just caused the issue I described here. Since the error happens quickly it seems unlikely no one else has

[2019-08-12 01:41] wanghailiangx commented on #904
spdk/BlobFS provides a FUSE plug-in to mount an SPDK BlobFS as a kernel filesystem for inspection or debug purposes. Please see this link for details.
https://spdk.io/doc/blobfs.html

[2019-08-12 02:37] yidong0635 opened #905 "iscsi related test test/iscsi_tgt/nvme_remote/fio_remote_nvme.sh failed"
This test requires SPDK_TEST_NVMF =1 and  SPDK_TEST_ISCSI =1 at the same time.
but it seems that this test is missed in out test pool.
I post a patch here.

https://review.gerrithub.io/c/spdk/spdk/+/463164

put --transport=$SPDK_TEST_NVMF_TRANSPORT behind ./iscsi_tgt.sh posix  has no effect.
./iscsi_tgt.sh posix --transport=$SPDK_TEST_NVMF_TRANSPORT
And
./iscsi_tgt.sh vpp --transport=$SPDK_TEST_NV

[2019-08-12 02:41] weingithub commented on #900
Hi, @EugeneKochetov
[root@node188 mlnx-en-4.6-1.0.1.1-rhel7.6-x86_64-ext]# modinfo nvme_rdma
filename:       /lib/modules/3.10.0-957.12.2.el7.x86_64/kernel/drivers/nvme/host/nvme-rdma.ko.xz
license:        GPL v2
retpoline:      Y
rhelversion:    7.6
srcversion:     F13AD14AE88E3D11EF498A1
depends:        rdma_cm,ib_core,nvme-core,nvme-fabrics
intree:         Y
vermagic:       3.10.0-957.12.2.el7.

[2019-08-12 04:22] #884 closed

[2019-08-12 05:30] SavanAnjaria opened #906 "IO Errors witnessed on Thin Provisioned Volumes"
IO Errors are witnessed on Thin provisioned volumes occupying entire LVS size.
(4k size IO and block size on NVMe bdev as well as LVOL is 512bytes)

## Expected Behavior
NO IO Errors should be seen

## Current Behavior
We are seeing IO errors on the host issuing fio
fio: io_u error on file /dev/nvme4n2: Input/output error: write offset=320041287680, buflen=4096
fio: io_u error on file /dev/nvme4n2

[2019-08-12 05:41] SavanAnjaria commented on #906
[SPDK_Thin_Prov_IO_Errors.txt](https://github.com/spdk/spdk/files/3491100/SPDK_Thin_Prov_IO_Errors.txt)

[2019-08-12 05:42] SavanAnjaria commented on #906
I have made sure that, we are not running out of clusters. So, the IO errors seen here are the actual IO errors.
@darsto @jimharris @tomzawadzki

[2019-08-12 08:26] EugeneKochetov commented on #900
MLNX_OFED by default installs dummy nvme-rdma kernel module which does nothing.
Try to install it with `--with-nvmf` key:
`./mlnxofedinstall --with-nvmf`
This should install correct nvme-rdma driver.

You can check other MLNX_OFED installation options with:
`./mlnxofedinstall --help`

[2019-08-12 09:19] weingithub commented on #900
@EugeneKochetov
that solved the problem of dependency. However, some new error occur, it seems like version's problem.

[root@node188 MLNX_OFED_LINUX-4.6-1.0.1.1-rhel7.6-x86_64]# modprobe nvme_fabrics
modprobe: ERROR: could not insert 'nvme_fabrics': Invalid argument

[root@node188 MLNX_OFED_LINUX-4.6-1.0.1.1-rhel7.6-x86_64]# dmesg |tail
[335329.177953] nvme_fabrics: disagrees about version of sym

[2019-08-12 10:10] EugeneKochetov commented on #900
Looks like you still have old nvme-core module. Did you reload it after MLNX_OFED install?
Try `modprobe -r nvme-rdma nvme-fabrics nvme nvme-core` and then `modprobe nvme-rdma` or just reboot the host to have all modules reloaded.

[2019-08-12 11:17] weingithub commented on #900
@EugeneKochetov  It really solve my problem. Thank you very much.

[2019-08-12 11:17] #900 closed

[2019-08-12 11:42] jgrodman commented on #901
That fixed it for me too. Thank you!

[2019-08-12 14:01] zlsh007 opened #907 "fio_plugin info"
Hi all
When testing fio_plugin, the printed information contains -c 0x1, but why the first cpu is not used when actually running, but other cpu is used, thanks；
![image](https://user-images.githubusercontent.com/15990748/62870681-9bc42d00-bd4c-11e9-92ff-3e07e900f394.png)
![image](https://user-images.githubusercontent.com/15990748/62870720-b1395700-bd4c-11e9-9e0c-9f3c92b5c73b.png)

[2019-08-12 14:02] zlsh007 commented on #907
I don't know why the first cpu has no usage rate. Does the -c parameter have no effect?

[2019-08-12 17:26] jimharris commented on #907
Hi @zlsh007,

The SPDK NVMe fio plugin initializes DPDK via spdk_env_opts_init(), but does not use DPDK threads.  fio creates its own threads, and SPDK runs in the context of those threads.

See spdk_fio_setup() in examples/nvme/fio_plugin/fio_plugin.c for where this initialization occurs.

So DPDK gets initialized with the -c 0x1 mask because we have to pick *some* mask to use when initializing D

[2019-08-12 22:18] jimharris opened #908 "trace_record intermittent failure"
Saw this intermittent failure in the test pool today:

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/39698/archive/RBD_autotest/index.html

Marking low priority for now.  Will raise it to higher priority if it continues to appear.

23:29:33	# echo 'killing process with pid 333654'
killing process with pid 333654
 23:29:33	# kill 333654
 23:29:33	# wait 333654
 23:29:33	# .

[2019-08-12 22:30] jimharris opened #909 "vpp_autotest intermittent failure"
http://10.102.17.206/private_build/autotest-per-patch_39706.html

Started by upstream project "autotest-per-patch" build number 39706
originally caused by:
 Started by user sys_sgci
[EnvInject] - Loading node environment variables.
Building remotely on GP1 (nvmf_phy_autotest SingleDisk) in workspace /var/jenkins/workspace/iSCSI_tests/vpp_autotest
Running Prebuild steps
[vpp_autotest] $ /bin/sh -xe

[2019-08-12 22:35] jimharris opened #910 "blockdev autotest intermittent failure - timeout"
I've seen this several times.  The blockdev test gets aborted at 10 minutes since it hasn't completed.  It's odd that we see a 2 minute delay during the test for seemingly no real reason:

0000:00:04.4 (8086 3c24): vfio-pci -> ioatdma
0000:80:04.4 (8086 3c24): vfio-pci -> ioatdma
0000:00:04.5 (8086 3c25): vfio-pci -> ioatdma
0000:80:04.5 (8086 3c25): vfio-pci -> ioatdma
0000:00:04.6 (8086 3c26): v

[2019-08-13 00:04] zlsh007 commented on #907
Hi@jimharris
Thanks for your answer, is it possible to use multiple queues of nvme devices in multithreaded situations? Each queue commits and completes on the same CPU？

Regards,
Su

[2019-08-13 00:23] jimharris commented on #907
Yes!  You can create multiple jobs, each running on a different CPU.  Then in the fio plugin, each of these threads will allocate and use their own NVMe queue pair for each attached NVMe SSD.

[2019-08-13 00:28] changpe1 commented on #894
@darsto any update for the issue ? I don't see the improvement with latest SPDK.

[2019-08-13 02:00] zlsh007 commented on #907
@jimharris Thanks a lot；

[2019-08-13 02:50] #907 closed

[2019-08-13 02:59] yidong0635 commented on #905
and past former error here:
=> 9    nvmftestinit
   10   # $1 = "iso" - triggers isolation mode (setting up required environment).
   11   # $2 = test type posix or vpp. defaults to posix.
   12   iscsitestinit $1 $2
   13
   14   rpc_py="$rootdir/scripts/rpc.py"
     ...

========== Backtrace end ==========
  02:27:38      # xtrace_enable
  02:27:38      # return 0
  02:27:38      # trap - ERR

[2019-08-13 07:41] yidong0635 commented on #908
if this should be ? # '[' 4096 -lt 4096 ']'  why equal reports error?

[2019-08-13 09:36] yidong0635 commented on #905
@Seth5141  I put --transport=$SPDK_TEST_NVMF_TRANSPORT to the tail of  fio_remote_nvme.sh.

[2019-08-13 14:35] tomzawadzki commented on #906
Hi @SavanAnjaria
Please see patch that tries to replicate this issue running on SPDK CI - [here](https://review.gerrithub.io/c/spdk/spdk/+/465075). Pending in CI queue as of this post, awaiting results.

Couple questions to clarify:
1. SPDK NVMe-oF target uses single core?
2. Can you please run with -L flags to see where the EIO error comes from ?
3. Does this happen when fio bs is set to 512 ?
4.

[2019-08-13 14:51] SavanAnjaria commented on #906
@tomzawadzki:
Looked at the script. It will run IOs on both the lvols right? I used to run that on one lvol at a time and wait for the errors to be reported. If I don't see errors on that lvol, I used to switch to another lvol. What's the block size being reported by the lvol info?

Answers to your queries:
1. SPDK NVMe-oF target uses 8 cores in my case. Haven't tried using one core.
2. I have tri

[2019-08-13 15:13] Seth5141 commented on #901
Change has been merged https://review.gerrithub.io/c/spdk/spdk/+/464621

[2019-08-13 15:13] #901 closed

[2019-08-13 15:13] peluse commented on #905
@yidong0635 have you tried this?

[2019-08-13 15:14] #904 closed

[2019-08-13 15:17] peluse commented on #903
@EugeneKochetov can we assign this to you?

[2019-08-13 15:29] #898 closed

[2019-08-13 15:29] peluse commented on #898
merged

[2019-08-13 15:34] peluse commented on #896
maybe try removing scnbuild from the make lags for these cases

[2019-08-13 15:41] peluse commented on #888
@Comphix have you had a chance to look at this yet?

[2019-08-13 15:46] peluse commented on #883
any updates?

[2019-08-13 15:48] peluse commented on #880
@clicx so you have made progress? Does rocksrb run in spite of the errors in building the test code?

[2019-08-13 15:52] peluse commented on #876
@Seth5141 will post the rxe_cfg to see if that helps determine what is different

[2019-08-13 15:54] peluse commented on #870
OK, I'll try with those more specific settings, thanks

[2019-08-13 18:50] jimharris commented on #863
vfio-pci has a mechanism to report PCIe AERs to the user space driver.  DPDK does not plumb these yet.  I'm going to take a look at hacking something up to demonstrate how this might work with DPDK/SPDK and the userspace NVMe driver.

@gwnet is correct though - uio_pci_generic doesn't have similar support.  This will be a vfio-only thing.

[2019-08-13 18:57] pdesh1 commented on #883
We were able to get past the problem by using the examples/nvme/perf/perf.c utility. It was doing most of the things we wanted to do and we were able to run the utility in one container and target on the other container.

[2019-08-13 18:58] jimharris commented on #883
Thanks for the update!  Closing this issue...

[2019-08-13 18:58] #883 closed

[2019-08-13 19:19] benlwalker commented on #863
Did you take a look at igb_uio in DPDK? I *think* I saw it in there. We do support building that as part of SPDK and it could be used instead of uio_pci_generic.

[2019-08-13 19:46] jimharris commented on #863
The DPDK kni module (which is based off of the Linux igb/ixgbe drivers) has PCIe error handlers registered.  That's in dpdk/kernel/linux/kni/ethtool/igb.

But igb_uio (dpdk/kernel/linux/igb_uio) does not.  Potentially the error detection could be added, but some kind of plumbing to get that information to user space would also need to be added.

[2019-08-13 23:49] Seth5141 commented on #876
@JakubWarumzer We use Soft-RoCE on all of our fedora based VMs in the Continuous Integration testing. The main difference between your setup and ours is that fedora 28/fedora 29 come with rxe_cfg preinstalled on the system. So I assume that the rxe_cfg daemon we are using is different than the one you are using in your setup.
I would tell you which version we are using in our machines, but the scr

[2019-08-14 00:10] yidong0635 commented on #905
@peluse  of course . here's the logs:

[fio_remote_nvme.sh.txt](https://github.com/spdk/spdk/files/3499342/fio_remote_nvme.sh.txt)

[2019-08-14 01:44] yidong0635 commented on #888
mark the issue as low priority.  I use fedora30 and fedora28 to recreate and run autotest, it no longer happens util now.

[2019-08-14 06:48] EugeneKochetov commented on #903
Hi Paul,
Yes, sure. I will take it and provide a patch soon.

[2019-08-14 12:56] pawelkax commented on #843
Hi,
I changed qemu version from 2.11.2 to 3.0.0 and also I changed kernel for ubuntu 16.04 to version 4.19. It helped. But now I get following error:
Begin: Will now check root file system ... fsck from util-linux 2.27.1
[/sbin/fsck.ext4 (1) -- /dev/sda1] fsck.ext4 -a -C0 /dev/sda1
/dev/sda1: clean, 129147/196608 files, 537811/785920 blocks
done.
[   57.940841] EXT4-fs (sda1): mounted filesystem w

[2019-08-14 13:47] tomzawadzki commented on #691
@SavanAnjaria
Were you able to take some of the previously mentioned steps ?

When working on #906, I was able to produce the same assert. See log [here](https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/39949/archive/nvmf_phy_autotest/build.log) from [patch](https://review.gerrithub.io/c/spdk/spdk/+/465075).
Steps in the patch are:
1) create two thin provisioned lvol bdevs wi

[2019-08-14 13:47] tomzawadzki commented on #906
I've changed the [patch](https://review.gerrithub.io/c/spdk/spdk/+/465075) to more closely follow your description:
- changed SPDK NVMe-oF target to use 8 cores
- done 3 minutes of FIO randwrites to first lvol, then proceeded with second.
- added get_bdevs/get_lvol_stores to verify block size of devices. They are 512bytes same as in your scenario.

No reproduction on I/O errors reported in this is

[2019-08-14 14:05] Seth5141 commented on #905
@yidong0635 What is your ultimate goal with https://review.gerrithub.io/c/spdk/spdk/+/463164? Are you trying to re-enable that test on the build pool, or are you trying to get it to pass locally?
I added some more comments to your patch.

[2019-08-14 16:01] jgrodman opened #911 "When building shared libraries, dynamic link dependencies not declared"
This is related to #901, which @Seth5141 helped with

When I compile after configuring with `--with-shared`, the `.so` files are built, but their dependencies are not linked. This makes it so that the applications which depend on the `.so` files need to declare the dependencies of the `.so` files.

For example, the `examples/bdev/hello_world` application depends on `lib/bdev`, but it needs to then

[2019-08-14 19:47] Seth5141 commented on #911
@jgrodman Funny you should mention this. I have had it on my to do list for a while, and just started revisiting it a couple of days ago after we closed #901. I am slogging through a couple of dependency loops trying to figure out the best way to link some of the bdev modules right now, but am close to having it set up. Here is the tip of my current review chain: https://review.gerrithub.io/c/spdk

[2019-08-14 20:06] jgrodman commented on #911
Hi Seth, okay great so glad we are in sync!

Are you planning on doing the same thing for dpdk? I suspect that is where I'm currently hitting my issue, because of the `spdk_event_mempool` issue. I guess one way to do this would be to include all of the `DPDK_LIB_LIST` libs from https://github.com/spdk/spdk/blob/master/lib/env_dpdk/env.mk when `lib/env_dpdk` is depended on.

As a semi-related meta-

[2019-08-14 20:55] jimharris commented on #863
https://review.gerrithub.io/c/spdk/dpdk/+/465203 is a working demonstration of SPDK/DPDK getting notified of an uncorrectable PCIe error via VFIO.  It leverages the aer-inject utility on a kernel built with CONFIG_PCIEAER_INJECT=y.  aer-inject can be found at https://git.kernel.org/pub/scm/linux/kernel/git/gong.chen/aer-inject.git/.

This patch needs some work before it's ready to be pushed into u

[2019-08-14 21:16] Seth5141 commented on #911
In regards to the dpdk stuff, I am hesitant to make those dependencies at link time. The reason for that is that people may be using their own version of dpdk with different names for the shared objects. I am actually not 100% sure how the naming convention for dpdk .so files works or if we are even compatible against dpdk shared objects with different versions. But that is my concern there. Simil

[2019-08-14 21:23] Seth5141 commented on #911
Oh and I'm not sure about the whole spdk_event_mempool error. My assumption would have been that if the symbol couldn't be found it would fail in some more spectacular way. I don't know enough yet about how a binary handles symbols that don't resolve to know why it fails in that way. If there's something I can do about the message within the SPDK make system, I will, but it'll take some research t

[2019-08-14 21:51] peluse commented on #890
https://review.gerrithub.io/c/spdk/spdk/+/465204

[2019-08-14 22:18] jimharris commented on #910
Another instance of this.  On same system as last one (GP4):

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/39983/archive/blockdev_autotest/build.log

[2019-08-15 01:59] yidong0635 commented on #905
@Seth5141  I use vagrant to run these cases, at least ,I think this should be covered it locally. That
@tomzawadzki  and @karlatec  would't to turn on "SPDK_TEST_NVMF=1 " and "SPDK_TEST_ISCSI =1"
on one test machine.
and  for my opinion, SPDK_TEST_ISCSI  should control all  the iscsi tests including iscsi_posix and iscsi_vpp. Although we always treat  iscsi_posix  as the default on, And add option

[2019-08-15 03:27] yidong0635 opened #912 "nvme connect -t rdma Cannot allocate memory on VM ubuntu18"
# Issue descriptions
autotest on ubuntu18 , This issue was reported before, for some reason it had been closed.
whatever due to the kernel issue or code setting, it blocks me from autotest on ubuntu.
So re-report an issue about this:

02:41:29       # /home/vagrant/master/build-20190815023356/spdk/scripts/rpc.py nvmf_create_transport -t rdma -u 8192 -c 0
 02:41:29       # /home/vagrant/master/buil

[2019-08-15 11:17] SavanAnjaria commented on #906
@tomzawadzki : Sure I'll check this from my end and provide an update from my end.

[2019-08-15 11:38] SavanAnjaria commented on #906
@tomzawadzki : One suspect here is, when the logical to physical block address calculation happens, the physical address goes beyond the Drive's total capacity. Say we are using a 20GB drive to create NVMe Bdev, LVS and LVOLs on that. Now, when the random write knocks an LBA which converts to the offset_blocks that's beyond 20GB range, we may end up seeing IO errors.

I have seen this issue being

[2019-08-15 11:40] SavanAnjaria commented on #691
@tomzawadzki : That's a good news. I haven't been able to take up the previously mentioned steps as the server I have been using have gone for maintenance. But, I'll try to pick a working server soon and provide further update on this issue.

[2019-08-15 13:20] peluse opened #913 "vhost autotest failing in CI"
See https://review.gerrithub.io/c/spdk/spdk/+/465207 - unrelated patch has failed vhost autotest for either timeout or no logs 4x in a row.

[2019-08-16 20:28] jimharris opened #914 "No way to enable ioat (CB-DMA) when using JSON-RPC"
ioat is disabled by default.  Currently the only way to enable it is by specifying the following in an INI-style config file:

[Ioat]
  Enable Yes

We need a way to do the same with JSON-RPC.  So likely a startup RPC just for ioat.

[2019-08-19 08:02] darsto opened #915 "SPDK fails to register >128GB of memory on Linux 5.1+"
Linux 5.1 introduced a limitation of VFIO regions there can be registered [1]. The default limit is 65535, which combined with the fact that SPDK sends a vfio register ioctl for each 2MB chunk, results in SPDK being able to make only the first 128GB of memory DMA-able. This is problematic for vhost where we need to register the entire VM's memory.

[1] https://github.com/torvalds/linux/commit/4928

[2019-08-19 13:20] zlsh007 opened #916 "About vhost_target performance"
spdk-18.10
qemu 1.5.3
libvirt 1.1.1
Hi，all
I use eight NVME disks, the random read performance of the single disk is 650,000 IOPS, the vhost I configured 4 cpus, the virtual machine configured 16 cpus, the same NUMA with the vhost cpu, and the interrupt of the eight disks in the virtual machine. Binding of different cores was performed. But how to test the random read performance is also 1 million

[2019-08-19 13:29] tomzawadzki commented on #833
The original report was using VPP 18.01.1, since this was version the supported in SPDK at the time.
Since SPDK 19.07 moved the supported version of VPP considerably higher (VPP 19.04.2), the issue might not be still valid.

@vonnyfly This issue will be closed. Please feel free to re-open it, if it occurs with newer SPDK/VPP too.

[2019-08-19 13:29] #833 closed

[2019-08-19 13:59] tomzawadzki opened #917 "iSCSI assert 'ahs_len <= ISCSI_AHS_LEN' when using VPP on CI"
Assert is triggered during autotest.sh runs on CI during for patches unrelated to iSCSI or VPP:
- https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_39920.html
- https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_40171.html
- https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_40090.html

Issue occurs during ./test/iscsi_tgt/fio/fio.sh with VPP

[2019-08-19 15:30] jimharris commented on #917
The ahs_len assert must be a by-product of the session reset.  None of the initiators we test with send any AHS data - so if this assert is hitting it must be due to reading invalid data off the TCP stream.

Session reset could indicate that the initiator dropped the connection because it detected something bad.  And if we look at the 39920 dmesg.log, we see this:

[437155.641194] sd 11:0:0:0: [sd

[2019-08-19 16:37] jgrodman commented on #911
Hi Seth,

Thanks for your responses, that all makes sense. It's strange because I did link with `-lspdk_env_dpdk -ldpdk`, but was still getting the spdk_event_mempool error...but it could be something else. I'm out of town at the moment, but will double check it all when I'm back.

Jesse

[2019-08-19 22:11] jimharris opened #918 "Intermittent oct-related build failure"
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_40251.html

  CC lib/bdev//bdev_nvme.o
  CC lib/bdev//bdev_nvme_rpc.o
  CC lib/bdev//bdev_null_rpc.o
  CC lib/bdev//nvme_rpc.o
  CC lib/bdev//bdev_rpc.o
  CC lib/bdev//bdev_raid.o
  CC lib/bdev//common.o
  CC lib/bdev//bdev_raid_rpc.o
  CC lib/bdev//bdev_ftl.o
  CC lib/bdev//bdev_ftl_rpc.o
  CC lib/bdev//ctx.o
cp /var/jenkins/wor

[2019-08-19 22:22] jimharris commented on #918
I think commit 2a3b6b417 broke this.  lib/bdev/Makefile defines DEPDIRS-ocf := ocf/env to ensure that ocf/env gets built before ocf.  But now that spdk.lib.mk no longer includes spdk.subdirs.mk, it doesn't enforce this dependency (since the DEPDIRS handling is defined in spdk.subdirs.mk).

[2019-08-20 00:18] stevelandiss opened #919 "Getting poor performance with the blobstore"
I created an fio_plugin engine backend based on the bdev/fio_plugin sample code and I am getting very low performance.  For comparison, against the same NVMe backend device. bdev is able to get around 80k IOPS, but when I go through the BLOB layer, it drops to 300.

My code is available here: https://github.com/stevelandiss/spdk/tree/master/examples/blob/fio_plugin

## Expected Behavior
I would ex

[2019-08-20 02:15] gwnet commented on #863
thank you so much Jim. I read the vfio driver code. it looks like not fully implement the PCIE error recovery callback too. but it truly implement part of that.

[2019-08-20 02:28] zlsh007 commented on #916
Using blktrace in a virtual machine to see D2C takes a long time, more than three times slower than normal.

[2019-08-20 04:20] ashmrtn opened #920 "Fio Reports High(er) Latency for Queue Depth >= 4 Due to Latency Accounting"
## Expected Behavior
SPDK with an NVMe SSD should have lower/similar latency compared to Ext4 on the same NMVe drive (running with the sync ioengine in fio) when the queue depth is >= 4.

## Current Behavior
When running the spdk fio_plugin, a near linear relationship between request latency and queue depth holds, which is in contrast to the sync ioengine's near constant latency with increasing qu

[2019-08-20 06:17] dong-liuliu commented on #908
Hi， Yidong
That sentence is used to check whether spdk_trace_tool works well.

The case will generate lots of trace records. so the original trace shm (which is generated directly by SPDK iscsi_tgt) will be writen round and round. Its number of trace records is always $NUM_TRACE_ENTRIES.

[2019-08-20 06:47] dong-liuliu commented on #908
Hi, Jim
Weeks ago, Darek also met this type of failure caused by trace_record  #865
I've considered the reason for that issue. But seems I failed to explain it clear at that time.

This is really a small probability event.
it was not a fault of spdk_trace_tool, but the process scheduler of the test env.

After spdk_trace_record was called asynchronously, OS process scheduler run it not timely. Whe

[2019-08-20 09:49] zlsh007 commented on #916
Each physical device allocates a logical volume and creates a corresponding vhost_controller, which is output to the virtual machine through disk type='vhost-user-blk'.

[2019-08-20 10:40] tomzawadzki commented on #919
Hi @stevelandiss
Briefly looking at the linked repo, it seems that you are creating blobstore on top of AIO bdev - not NVMe bdev. AIO performance depends on which device its based on and adds overhead by itself.

I'd suggest using Logical volumes, which is bdev module built on top of blobstore. See documentation here: https://spdk.io/doc/logical_volumes.html

To use it with spdk/examples/bdev/fio_

[2019-08-20 16:30] jimharris commented on #908
Hi Xiaodong,

Unfortunately we cannot just ignore these cases.  It is failing patches in the test pool.  Even if it happens very seldom, we need to fix or change the test to ensure we don't get these types of intermittent failures.

Thanks,

-Jim

[2019-08-20 17:04] Seth5141 commented on #918
This change fixed the build for me locally. Just waiting for it to run through the tests. https://review.gerrithub.io/c/spdk/spdk/+/465808

[2019-08-20 17:16] Seth5141 commented on #911
Please see the following patch series for updates to the shared library dependencies. https://review.gerrithub.io/c/spdk/spdk/+/465704. You can double check this series by checking out the tip and after doing a shared object make, running readelf -d to confirm that the proper SPDK shared objects are listed.

I am working on creating a little test repository that will demonstrate how one might comp

[2019-08-20 18:01] benlwalker commented on #920
Real SSDs scale linearly with increasing queue depth, especially for writes (there is additional drive-level parallelism for reads, typically). This isn't SPDK causing this scaling - that's the expected behavior of the hardware.

I'm fairly confident that using queue depth > 1 with the sync engine in fio is giving you nonsense results. The sync calls are synchronous, meaning they block. I believe

[2019-08-20 18:21] stevelandiss commented on #919
Hi @tomzawadzki thank you for your reply.  I did in fact write an fio plugin using logical volumes as well and get the same results as the blob store.  Note that... I do not know how to initialize the LVS (logical volume store) with a an NVMe bdev... perhaps that is where I can use some help.  Below is my fio plugin for logical volumes... if you could help me with the proper way to initialize my L

[2019-08-21 02:59] liang2yan opened #921 "Configuring status raid bdevs with SPDK"
## Expected Behavior
No configuring status RAID BDEV.

## Current Behavior

    ./rpc.py construct_raid_bdev -n StoragePool1 -r 0 -z 64  -b "NVMe3n1"   -->This command will cause the issue. It will report error message, but a "Configuring" status raid is built.

## Possible Solution
  It seems with above steps, we can't recover previous settings after system reboot. But the steps work with old ver

[2019-08-21 03:01] liang2yan commented on #921
Current comment:
Hi Neil,

 I started looking into this and can easily reproduce.  Question though, why are you using a single disk RAID0? Or are you meaning to create a RAID0 out of all of the nvme devices in which case when you create the raid you need to pass in a list of all of the devices.  The thinking is that this would work with other than a single disk RAID0 (which has no real value in an

[2019-08-21 06:09] tomzawadzki commented on #919
Please note that its not change of using blobstore to lvolstore that you would see the improvement in performance, its **changing from AIO bdev to NVMe bdev**.
The NVMe bdev itself has to be present and attached to the application, so bdev.conf.in from linked repo needs to have NVMe section. For help on creating this section see spdk/scripts/gen_nvme.sh. Then using bdev API [spdk_bdev_get_by_name(

[2019-08-21 06:57] shibingxun commented on #921
Hi Paul, Jim, Liang,

Thanks for your help. Below is my update and response:
1.	I tried the same steps with 2 SSD as a RAID bdev, the issue is not there. Just as you point out, it happens only with 1 SSD as a RAID bdev.
2.	The reason why we have 1 SSD as a RAID:
Yes, we understand that creating a RAID with 1 SSD has meaningless. We are using SPDK build up the NVMe-oF model. In our design, the firs

[2019-08-21 06:59] shibingxun commented on #921
Hi Paul, Jim, Liang,

Thanks for your help. Below is my update and response:
1.	I tried the same steps with 2 SSD as a RAID bdev, the issue is not there. Just as you point out, it happens only with 1 SSD as a RAID bdev.
2.	The reason why we have 1 SSD as a RAID:
Yes, we understand that creating a RAID with 1 SSD has meaningless. We are using SPDK build up the NVMe-oF model. In our design, the firs

[2019-08-21 07:00] shibingxun commented on #921
Hi Paul, Jim, Liang,

Thanks for your help. Below is my update and response:
1.	I tried the same steps with 2 SSD as a RAID bdev, the issue is not there. Just as you point out, it happens only with 1 SSD as a RAID bdev.
2.	The reason why we have 1 SSD as a RAID:
Yes, we understand that creating a RAID with 1 SSD has meaningless. We are using SPDK build up the NVMe-oF model. In our design, the firs

[2019-08-21 10:58] karlatec opened #922 "Cannot run target application with 8192MB memory or more"
## Current Behavior
nvmf_tgt, vhost and spdk_tgt cannot run with "-s" argument equal or more than 8192.
Works only if "-g" argument is additionally passed.

## Steps to Reproduce
1. HUGEMEM=300000 scripts/setup.sh
2. cat /proc/meminfo | grep Huge
[code]
3. Check no other target apps are running:
[code]
4. app/nvmf_tgt/nvmf_tgt -s 8192
[code]

## Context (Environment including OS version, SPDK vers

[2019-08-21 11:50] tomzawadzki commented on #921
Hi Neil,

Raid bdevs do not require the underlying bdevs to be present at creation time. `construct_raid_bdev` RPC can be issued on non-existent _bdev names_. When bdevs with those names appear at later time, they will immediately be claimed by the bdev module.

Until all bdevs underlying the raid bdev are present, no I/O is possible with raid bdev and `get_bdevs` do not list raid bdev. There is s

[2019-08-21 13:17] peluse commented on #921
Hi Neil,

Wrt reversing the order it works because RAID was written with an examine_config entry point defined because it does not use metadata data on disk, lvol was written with an examine_disk entry point.  When you call the RAID RPC and it can’t find the bdev it just remembers the name so when its examine function is called (when the nvme shows up) it will grab it. Below the snippet from bdev.

[2019-08-21 13:20] peluse commented on #921
Using either >1 disk in the RAID or creating the RAID bdev before the NVME bdevs will make this work.  The single disk case is special in that the size of the vol and disk are the same so unless the RAID is created first, lvol will read the metadata and grab it which puts things in a very bad state

[2019-08-21 13:20] #921 closed

[2019-08-21 13:28] peluse commented on #921
Hmmm, hate to question my own answer but Jim the snippet I pasted below would put RAID and lvol in the same category tight? So what is guaranteeing that the RAID examine will happen before the lvol in this case?

Thx
Paul

From: Luse, Paul E
Sent: Wednesday, August 21, 2019 6:18 AM
To: 'spdk/spdk' <reply@reply.github.com>; spdk/spdk <spdk@noreply.github.com>
Cc: Subscribed <subscribed@noreply.gith

[2019-08-21 16:19] jimharris commented on #921
bdev_raid.c implements the examine_config function pointer, while vbdev_lvol.c implements the examine_disk function pointer.  spdk_bdev_start() in bdev.c will call all of the examine_config function pointers first.  If it's not claimed by any of them, it will proceed with calling the examine_disk function pointers.

[2019-08-21 16:27] jimharris commented on #922
Is this reproducible on multiple systems?  I tried this on my system (w/ 2MB huge pages) on both master and v19.07 and didn't see this problem.

[2019-08-21 16:33] jimharris opened #923 "iscsi does not unregister iscsi_tgt io_device"
This seems to be related to the recent iSCSI refactoring.  If you Ctrl-C spdk_tgt or iscsi_tgt, you see this error message:

thread.c: 180:spdk_thread_lib_fini: *ERROR*: io_device iscsi_tgt not unregistered

I was able to bisect this down to commit fb641c4b.

[2019-08-21 18:30] karlatec commented on #922
Yes. I've done this on two separate physical systems.
Both F29, one with kernel 5.1.20 and the other on 5.2.6. 2MB huge pages as well. I'll ask someone from ITP tomorrow to try and reproduce it to be sure

[2019-08-21 18:51] stevelandiss commented on #919
@tomzawadzki Thank you... I get it now.  Just two questions... when I run gen_nvme.sh, it generates this:
[code]

[2019-08-21 19:58] benlwalker commented on #923
https://review.gerrithub.io/c/spdk/spdk/+/465976

[2019-08-21 23:30] jimharris commented on #917
Slightly different failing signature but fairly certain this is related to the same issue:

https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_40529.html

[2019-08-22 01:17] changpe1 commented on #922
I met same issue on my system too when using test/blobfs/mkfs/mkfs, but can't reproduce it again after one rebooting. The error message is same:

EAL: eal_memalloc_alloc_seg_bulk(): couldn't find suitable memseg_list
EAL: FATAL: Cannot init memory
EAL: Cannot init memory

[2019-08-22 01:33] changpe1 commented on #914
@jimharris I can take a look.

[2019-08-22 01:44] changpe1 commented on #914
spdk_rpc_scan_ioat_copy_engine() already enabled the ioat by default, I'm wondering if we still need another RPC, or we may break the RPC into two parts, one is enable the ioat, the other one is add white list.

[2019-08-22 02:10] changpe1 commented on #912
@yidong0635 Can you enable the log in the target side, I would like to know what's the status in target side when the error happens.

[2019-08-22 02:11] changpe1 commented on #913
closing the issue for now as the patch has been merged.

[2019-08-22 02:11] #913 closed

[2019-08-22 02:14] shibingxun commented on #921
Hi Tomasz,
Thanks. Now I understand how it works , and I tried "construct_raid_bdev" with a non-created bdev name, it can be success. The RAID bdev status is "configuring", and after the nvme bdev created, the RAID bdev status will change to "online".

Hi Paul, Jim,
Thank you so much. Change the command sequence really works with 1 SSD. Now we can make some update in our flow, then the solutin wil

[2019-08-22 02:18] changpe1 commented on #880
My environment is OK with Rocksdb 5.14.3 so mark this as a third party issue.

[2019-08-22 02:47] yidong0635 commented on #912
@changpe1  this issue logs are located at  #802 .It is easy to simulate.  Put this issue as an independent issue .
other test pool hasn't test nvmf with softroce on ubuntu18 whatever virtual machine or physical machine.  All nvmf related nvme connect are failed and the rate is 100%.
If there's anything wrong, please help to point it out.

[2019-08-22 02:55] yidong0635 commented on #802
[2418515.989035] rdma_rxe: set rxe1 active
[2418515.989042] rdma_rxe: added rxe1 to enp3s0f0
[2418633.273316] nvme nvme0: creating 72 I/O queues.
[2418633.419894] nvme nvme0: failed to initialize MR pool sized 128 for QID 16
[2418633.420660] nvme nvme0: rdma connection establishment failed (-12)
[2418633.461232] nvme nvme0: Reconnecting in 10 seconds...
[2418643.513105] BUG: unable to handle kerne

[2019-08-22 03:38] shuhei-matsumoto commented on #914
Yes, scan_ioat_copy_engine has been added when I worked with Pawel before.

[2019-08-22 03:54] changpe1 commented on #912
@yidong0635 I see the issue, you can use nvme connect --nr-io-queues option to limit the number of IO queues, can you submit a patch to do that?

[2019-08-22 04:12] jimharris commented on #922
Can you try playing with some of the CONFIG_RTE_MAX_MEMSEG constants in dpdk/config/common_base?  Especially CONFIG_RTE_MAX_MEMSEG_PER_LIST and CONFIG_RTE_MAX_MEMSEG_PER_TYPE.

[2019-08-22 04:15] benlwalker commented on #916
Can you post how you've configured and started the vhost target? Is the expectation that you get 8x650k IOPs in the VM?

[2019-08-22 04:17] #914 closed

[2019-08-22 04:24] benlwalker commented on #912
I recommend you either build a vanilla Linux kernel based on the latest (5.3) and try to reproduce it with that, or switch to Fedora 30 and reproduce it there. I suspect this is a kernel bug that's already been fixed and Ubuntu just doesn't have the fix yet.

[2019-08-22 04:29] benlwalker commented on #626
The aio bdev has been rewritten to use a different polling strategy since this bug was filed. If this problem still occurs on master, please reopen the issue.

[2019-08-22 04:29] #626 closed

[2019-08-22 04:33] benlwalker commented on #731
Not enough information to make forward progress here. Please re-open the issue if you'd like to continue the debug.

[2019-08-22 04:33] #731 closed

[2019-08-22 04:35] benlwalker commented on #738
Unable to reproduce the issue. If you'd like to continue debug, please re-open.

[2019-08-22 04:35] #738 closed

[2019-08-22 04:36] benlwalker commented on #762
No response, so closing out. If you'd like to continue on this issue, please re-open it.

[2019-08-22 04:36] #762 closed

[2019-08-22 04:51] #880 closed

[2019-08-22 04:56] #837 closed

[2019-08-22 06:57] yidong0635 commented on #912
@benlwalker  thanks ben， you are right. To update the kernel , issue disappered.
I need to download the needed files:
linux-headers-5.3.0-050300rc5_5.3.0-050300rc5.201908182231_all.deb
linux-modules-5.3.0-050300rc5-generic_5.3.0-050300rc5.201908182231_amd64.deb
linux-image-unsigned-5.3.0-050300rc5-generic_5.3.0-050300rc5.201908182231_amd64.deb
sudo dpkg -i *.deb.
sudo update-grub
reboot
ubuntu aut

[2019-08-22 06:58] #912 closed

[2019-08-22 08:44] tomzawadzki commented on #919
There are couple things to unfold here.
- The output from gen_nvme.sh provides all necessary info for SPDK application to create bdev from NVMe device (transport type, transport address and **name** that will be used for the NVMe bdev).
- You've created lvol store on top of that NVMe bdev, and some lvol bdevs in that lvol store. This will result in new bdevs being present.

In general **all bdevs*

[2019-08-22 12:59] wawryk opened #924 "Scan build bdev issue"
On virtual machines Fedora29 and Fedora30 when I run scan-build test there are this bugs:

        CU_ASSERT(desc != NULL);
[code]

[2019-08-22 14:20] karlatec commented on #916
Is this  the correct qemu version? :) I might have missed something, but I don't see 1.5.3 supporting vhost-user-blk.

I think we could use more information. Like Ben suggested - vhost target configuration, VM configuration, CPU masks, etc.
Also - do you have scsi_mod.use_blk_mq=1 enabled inside the guest OS? For multi-CPU VM it will improve performance.

[2019-08-22 14:48] jgrodman commented on #911
Thanks, Seth - the `readelf -d` test works for me - I'm seeing the dependencies. When I have a chance, I will try rebasing on your change and see if my error still occurs.

This is unrelated, but for some reason, when I run `sudo ./scripts/setup.sh` now, I'm getting:
[code]

[2019-08-22 14:51] jimharris commented on #923
Patch merged.  Thanks Ben!

[2019-08-22 14:51] #923 closed

[2019-08-22 14:59] zlsh007 commented on #916
Sorry for taking so long to reply. Thanks for your reply. It is true that vhost-user is not supported in that version of qemu. We have carried out the back port, and I have tested kernel vhost performance is not good, and it is very low, only a few hundred thousand IOPS of eight disks, but if the virtual machine is configured with the pass-through mode, it is still fast, possibly because of differ

[2019-08-22 15:36] jimharris commented on #915
Is this basically because we don't try to merge contiguous regions into a single VFIO_IOMMU_MAP_DMA ioctl?

[2019-08-22 15:39] jimharris commented on #915
Never mind - I see this patch now :). https://review.gerrithub.io/c/spdk/spdk/+/432442/2

[2019-08-22 15:44] jimharris commented on #908
Xiaodong pushed patch https://review.gerrithub.io/c/spdk/spdk/+/465847 which has been merged.  Thanks Xiaodong!

[2019-08-22 15:44] #908 closed

[2019-08-22 16:02] Seth5141 commented on #911
Hey Jesse,

I just want to confirm, when you say "see if my error still occurs", you are talking about having to link the dependencies of each shared object?
I just want to make sure that we aren't talking about the spdk_event_mempool error you mentioned a couple of comments ago. That was fixed by the patch linked in #901, correct?

If you look in setup.sh at the configure_linux_pci function, you

[2019-08-22 19:07] stevelandiss commented on #919
@tomzawadzki thank you for your explanation... I will close this issue

[2019-08-22 19:07] #919 closed

[2019-08-22 23:37] ashmrtn commented on #920
I understand that an SSD is going to have some scaling in latency as the number of requests queued gets larger, but the overhead that fio is adding by queuing all requests for a depth before checking for _any_ completions is adding more time to the latency than the actual latency of a single request.

I also get that only 1 request is ever really "queued" for the sync ioengine because of the fact

[2019-08-23 02:08] zlsh007 commented on #916
@benlwalker There is a protocol overhead of less than 8 * 650,000 IOPS, but it feels that 8 disks are only a little low for 1 million IOPS. I can use the nvme passthrough mode to reach more than 3 million IOPS. I think at least this should be better than this. High, or the virtio protocol itself is slow?
Thanks
   su

[2019-08-23 02:41] zlsh007 commented on #916
spdk conf
[Global]
ReactorMask 0xf
HugeMem 4096
SocketDir /var/tmp
Mode none

[NVMe]
xxx
---------------------------------------------------------------------
********************************************************************************
Hardware Thread Topology
********************************************************************************
Sockets:                2
Cores per socket:       8
Th

[2019-08-23 02:44] zlsh007 commented on #916
![image](https://user-images.githubusercontent.com/15990748/63563244-079b6680-c593-11e9-9e4b-857f01defc2d.png)

[2019-08-23 03:12] SavanAnjaria commented on #906
As discussed earlier with @tomzawadzki on slack, I could figure out the area which is responsible for witnessing IO errors.

In _spdk_blob_persist_start,
/* Assign this metadata to pages. This requires two passes -
    * one to verify that there are enough pages and a second
    * to actually claim them. */
   page_num = 0;
   /* Note that this loop starts at one. The first page location is fixed

[2019-08-23 05:19] yidong0635 opened #925 "test pool " ./test/iscsi_tgt/fio/fio.sh" reports error about access within spdk_iscsi_pdu"
# issue description
intermittent failure about coredump.
************************************
START TEST SUITE ./test/iscsi_tgt/fio/fio.sh

 13:10:51	# '[' 0 -eq 1 ']'
 13:10:51	# fio_pid=1328403
 13:10:51	# sleep 3
 13:10:51	# /var/jenkins/workspace/iSCSI_tests/iscsi_autotest/spdk/scripts/fio.py -p iscsi -i 1048576 -d 128 -t rw -r 10
Device paths:
['/dev/sdc', '/dev/sdd']
job0: (g=0): rw=rw, bs=(

[2019-08-23 05:31] shuhei-matsumoto commented on #925
Hi @yidong0635 Thanks for finding and filing this. This looks being similar with https://github.com/spdk/spdk/issues/785.

[2019-08-23 05:35] yidong0635 commented on #925
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/40452/archive/iscsi_autotest/build.log

[2019-08-23 05:53] shuhei-matsumoto commented on #925
I'm doubting the patch  https://github.com/spdk/spdk/commit/8cf1945432f383ce8906f000d3296d1584573234#diff-659f4d8360fd7aac0be9b627022c1866 caused this degradation. I haven't found any logical reason yet though.

[2019-08-23 06:00] shuhei-matsumoto commented on #925
It looks that the patch https://github.com/spdk/spdk/commit/cefab5d647cefb4912a290006ee4e67b5fb085e4#diff-9c38eec053877ae792b89ebe3de29a4e explains the cause.

I had forgot the critical logic of hot plug.
Simple reverting is not possible because we changed iSCSI from core based to thread based. But Ben already provided an example and I will be able to create the patch to fix this issue.
Sorry for

[2019-08-23 06:04] shuhei-matsumoto commented on #925
Please don't care my previous comment. The patch I pasted doesn't explain the cause. Please give time to me.

[2019-08-23 06:06] shuhei-matsumoto commented on #925
Correctly I reverted Ziye's fix https://github.com/spdk/spdk/commit/1f6a78620d1f4b7470ccf5ff378fd2eb6cf49c5f#diff-9c38eec053877ae792b89ebe3de29a4e by mistake.
So I will re-enable this fix according to the current code.

[2019-08-23 06:06] yidong0635 commented on #925
ok. @shuhei-matsumoto , please  feel free to debug this issue, it's not  urgent.

[2019-08-23 06:41] shuhei-matsumoto commented on #925
I posted a fix https://review.gerrithub.io/c/spdk/spdk/+/466108.

[2019-08-23 07:04] karlatec commented on #916
@zlsh007 Could you try adding "num-queues" parameter for vhost-usr-blk devices? You can assign it the same value as the number of CPUs for example.

Here's a an example:
[code]

We typically use vhost-usr-blk-pci devices in our tests, but we still use chardev option to connect via vhost socket. I see that "num-queues" are available for both vhost-user-blk and vhost-user-blk-cpi.

[2019-08-23 07:08] ChenBo2333 opened #926 "[Autotest-nightly] Some errors witnessed on nvme_phy_autotest"
In recent autotest-nightly nvme_phy_autotest's build.log , after using 'make -j48' command , we can see some errors.

## Expected Behavior
Compile succeessfully without errors.

## Current Behavior
make[3]: *** No rule to make target '/tmp/tmp.WoHFDgCB36/spdk-2019_08_22/build/lib/libspdk_ocfenv.a', needed by '/tmp/tmp.WoHFDgCB36/spdk-2019_08_22/build/lib/libspdk_bdev_ocf.a'.  Stop.
make[3]: *** Wa

[2019-08-23 08:00] ChenBo2333 opened #927 "[Autotest-nightly] Build timed out occured to nvmf_phy_autotest"
In recent autotest-nightly nvmf_phy_autotest's build.log , when run test/nvmf/target/rpc.sh , it can't come out the loop and build timed out.

## Expected Behavior
Compile succeessfully without 'build timed out'.

## Current Behavior
NQN:nqn.2016-06.io.spdk:cnode1 disconnected 1 controller(s)
 09:25:09	# /var/jenkins/workspace/NVMeOF_tests/nvmf_phy_autotest/spdk/scripts/rpc.py nvmf_subsystem_remov

[2019-08-23 09:17] zlsh007 commented on #916
@karlatec I have tried this parameter. When the number of disks is small, it is relatively improved, but when it reaches 8 disks, it will not exceed 1 million.

[2019-08-23 10:23] tomzawadzki commented on #927
The troublesome part is during `START TEST SUITE test/nvmf/target/connect_disconnect.sh --transport=rdma`.
[code]
Disconnects take over 15 minutes to finish. @karlatec and @Seth5141 are investigating this failure.

[2019-08-23 10:31] karlatec opened #928 "spdk_tgt crash when destroying lvol with active compression bdev"
## Current Behavior
SPDK crashes due to "double free or corruption" when removing lvol bdev with active compression bdev. Core dump attached.

[core.zip](https://github.com/spdk/spdk/files/3534073/core.zip)

## Steps to Reproduce

1. Compile SPDK with compression enabled
[code]
2. Run spdk_tgt app
3. Construct NVMe bdev with lvol store and lvol bdev on top.
[code]

4. Construct compression bdev wi

[2019-08-23 10:50] tomzawadzki commented on #924
See patch resolving this here:
https://review.gerrithub.io/c/spdk/spdk/+/466110

[2019-08-23 11:56] darsto opened #929 "Failed lvolstore creation leaks base bdev descriptors"
[code]

[code]

[code]

The last command hangs because of an open descriptor that's never closed.

[2019-08-23 15:11] jimharris commented on #926
This is a duplicate of issue #918.

[2019-08-23 15:11] #926 closed

[2019-08-23 15:13] jimharris commented on #924
Patch merged.

[2019-08-23 15:13] #924 closed

[2019-08-23 15:14] jimharris commented on #929
@Maciej-Szwed - can you take a look?

[2019-08-23 15:26] jimharris commented on #928
Hey @peluse - could you take a look?

[2019-08-23 15:49] jgrodman commented on #911
Hey Seth,

Actually, I was referring to the mempool error, which is happening to me when I load the shared object library from c#. It looks like this:

[code]

And this is the .so that I'm loading:
[code]

==========

Regarding uio_pci_generic, I was trying to run on AWS. I found the following:
The Ubuntu 18.04 image has the `uio` module in `/lib/modules/`, but it is not loaded. It does not have t

[2019-08-23 18:10] #925 closed

[2019-08-23 18:11] jimharris commented on #925
Patch merged.

Let's close this issue for now.  I'm fairly certain Shuhei's patch fixes this issue.

[2019-08-26 21:12] vermavis opened #930 "QEMU memory registration failure with PMEM"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

QEMU is registering this pmem memory region with the SPDK process, but SPDK only knows how to register ‘regular’ huge page memory. This is making guest VM to not boot.

## Expected Behavior

It would be good for SPDK process to reg

[2019-08-27 07:50] karlatec commented on #927
I think I found what the issue was - it was the number of created IO queues when connecting to NVMe-oF subsystem. We use nvme-cli connection for initiator side and default number of io queues is:
[code]

Now let's take a look at core count of servers which execute the test.
Server which usually passes the test:
[code]

Server which usually fails the test:
[code]
(I don't know why it's 60 instead o

[2019-08-27 08:02] karlatec commented on #927
Commit with fix: https://review.gerrithub.io/c/spdk/spdk/+/466389

[2019-08-27 08:46] cranechu commented on #701
It seems the same issue I met when trying to upgrade SPDK to v19.04 and v19.07 in my application pynvme. Finally, I decided to disable the function hotplug_mp, and fixed a bug in DPDK. (here is the changes for reference: https://github.com/cranechu/dpdk/commit/01579b2ec4341e8ecd44e0fd79e66643ed8cad6c

After that, I ported my application from SPDK v19.01 to v19.07 successfully.

[2019-08-27 09:37] karlatec opened #931 "vhost tests pass despite ASAN fail"
This report is about faulty test scripts which do not detect ASAN failure.
There is a separate github issue for ASAN failure itself: [932](https://github.com/spdk/spdk/issues/932)

## Current Behavior
Vhost autotest passes CI despite encountering ASAN fail and coredumping.

## Possible Solution
Most possible that it's a faulty trap instruction.
We should fix the scripts, catch this fail and end te

[2019-08-27 09:41] karlatec opened #932 "vhost ASAN heap-use-after-free when shutting down app"
This report is for the ASAN issue itself.

## Current Behavior

Address sanitizer reports heap-use-after-free when shutting down vhost app.
This is a part of vhost tests for test/json_jonfig and is related to issue [931](https://github.com/spdk/spdk/issues/931).

## Steps to Reproduce
1. Prepare autorun-spdk.conf:
[code]
2. ./autobuild.sh ~/autorun-spdk.conf
3. ./autotest.sh ~/autorun-spdk.conf
4.

[2019-08-27 11:04] karlatec commented on #931
This change should be able to detect ASAN fail: https://review.gerrithub.io/c/spdk/spdk/+/466412 but it's very simple and the script should be modified more.

[2019-08-27 11:05] karlatec commented on #931
@darsto do you think we should try to keep timeout functionality in the script or just use simple "killprocess" instead?

[2019-08-27 14:41] pawelkax commented on #843
On Test Pool we upgraded Ubuntu 16.06 with kernel 4.4 to kernel 4.19. It works now.

[2019-08-27 14:41] #843 closed

[2019-08-27 14:52] darsto commented on #922
DPDK can show more detailed logs about what's happening inside its memory allocator. Those logs have to be enabled programatically in the SPDK application, but are enabled by default e.g. in our `vtophys` test app.

I'll work with Karol to modify vtophys app to allocate 8GB of hugepages and we'll post an update here.

[2019-08-27 15:04] darsto commented on #855
I haven't seen this in a while so I'm going to close it.

@ksztyber FYI

[2019-08-27 15:04] #855 closed

[2019-08-27 15:20] darsto commented on #910
Happens on other jobs as well - not only blockdev. Still no root cause.

[2019-08-27 15:32] darsto commented on #915
This will be included in SPDK 19.07.1

[2019-08-27 15:36] darsto commented on #899
Bug scrub: We agree rpc.py -h output should be improved and made more user-friendly.

Jim has some ideas.

[2019-08-27 15:45] darsto commented on #645
Bug scrub: Bump. I need to prepare that list :)

[2019-08-27 15:46] darsto commented on #407
Bug scrub: no update so far.

[2019-08-27 15:49] darsto commented on #675
Bug scrub: We generally use github to track issues. @kreuzerkrieg could you move this item to our Miscellaneous board on trello? That's where we keep the backlog. https://trello.com/b/ootiYU05/miscellaneous-backlog

I'm going to close this.

[2019-08-27 15:49] #675 closed

[2019-08-27 15:53] darsto commented on #527
Bug scrub: @Maciej-Szwed could you check if we cover similar scenarios in the CI now?

[2019-08-27 15:54] darsto commented on #827
Bug scrub: @changpe1 any update?

[2019-08-27 15:55] darsto commented on #812
Bug scrub: @benlwalker to confirm it's a test bug.

[2019-08-27 15:56] darsto commented on #817
Bug scrub: @benlwalker to confirm

[2019-08-27 15:59] darsto commented on #701
Closing then. Thanks @cranechu !

[2019-08-27 15:59] #701 closed

[2019-08-27 16:58] kreuzerkrieg commented on #675
Logged in. Not sure how to add cards or whatever the name is to the board. Could you guide me or just move it to the backlog there?

[2019-08-28 02:00] glodfish-zg commented on #932
hi @karlatec you can try this patch https://review.gerrithub.io/c/spdk/spdk/+/464654. It seems that we see a similar issue.

[2019-08-28 02:36] yidong0635 opened #933 "scanbuild reports error at compress_ut.c"
# Issue
  LINK test/unit/lib/scsi/lun.c/lun_ut
  CC test/unit/lib/scsi/scsi.c/scsi_ut.o
compress_ut.c:780:2: warning: Use of memory after it is freed
        spdk_mempool_free((struct spdk_mempool *)g_mbuf_mp);
        ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
1 warning generated.
  LINK test/unit/lib/bdev/compress.c/compress_ut
  LINK test/unit/lib/scsi/scsi.c/scsi_ut
  CC test/unit/lib

[2019-08-28 02:50] yidong0635 commented on #888
close it, for can't duplicate.

[2019-08-28 02:50] #888 closed

[2019-08-28 04:28] takeshi-yoshimura opened #934 "Build error: __attribute__((__target__("bmi"))) is invalid"
In my ppc64le box, I saw a build error due to commit de0308219 ("util: Generate multiple versions of spdk_u32log2"). I workaround this by reverting the patch.

[code]

## Context (Environment including OS version, SPDK version, etc.)

IBM Power System AC922 (Power9, ppc64le)
Ubuntu 18.04
Linux 4.17.0
gcc: (Ubuntu 7.3.0-27ubuntu1~18.04) 7.3.0
SPDK: commit 1f133d727
DPDK 19.11-rc0

[2019-08-28 05:50] darsto commented on #902
Yes, the data errors are most likely caused by reverting that patch.

As for reaching the max memory registration limit, SPDK with DPDK older than 19.02 puts a few limitations on RDMA. They can be mitigated, quoting from NVMe-oF doc: ( https://spdk.io/doc/nvmf.html#nvmf_rdma_limitations )

`
As RDMA NICs put a limitation on the number of memory regions registered, the SPDK NVMe-oF target applicati

[2019-08-28 05:50] #902 closed

[2019-08-28 05:58] changpe1 opened #935 "intermittent failure for test/bdev/blockdev.sh with AIO backend in autotest"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

intermittent failure for test/bdev/blockdev.sh with AIO backend in autotest

## Expected Behavior

## Current Behavior

sha1: verify failed at file AIO0 offset 7667712, length 196608
       Expected CRC: 29a28934f6847e5f1d0ff0ab8ba

[2019-08-28 06:30] changpe1 commented on #935
We will use the following configuration for this AIO backend:

# Create a file to be used as an AIO backend
dd if=/dev/zero of=/tmp/aiofile bs=2048 count=5000

[AIO]
  AIO /tmp/aiofile AIO0 2048

I will try to reproduce in my local environment first.

[2019-08-28 07:08] karlatec commented on #928
@peluse Looks good! Not crashing anymore.

[2019-08-28 14:24] gwnet opened #936 "SPDK NVMeOF host cannot recover from RDMA error automatically then finally all reqs are used up for client"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Currently, SPDK NVMeOF host driver cannot recover from RDMA error automatically like kernel. Each time the RDMA error is detected, it will not have the chance to free the NVMe requests and RDMA requests in the list. Finally from ou

[2019-08-29 02:27] ChenBo2333 commented on #935
This failure : https://10.102.17.104:8080/job/Other_systems/job/ubuntu18_autotest/9579/artifact/build.log
and similar nightly failure :
https://10.102.17.104:8080/job/Other_systems/job/centos7_autotest/35056/artifact/build.log

[2019-08-29 02:41] ChenBo2333 opened #937 "[Autotest-nightly] Build timed out occured to blockdev_autotest"
In recent autotest-nightly blockdev_autotest's build.log , when run test/compress/compress.sh , it build timed out.

## Expected Behavior
Compile succeessfully without 'build timed out'.

## Current Behavior
== Build lib/librte_ethdev
  AR librte_reorder.a
  INSTALL-LIB librte_reorder.a
  SYMLINK-FILE include/rte_ethdev.h
  SYMLINK-FILE include/rte_ethdev_driver.h
  SYMLINK-FILE include/rte_ethdev

[2019-08-29 08:04] shuhei-matsumoto commented on #917
Another log

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/41185/archive/vpp_autotest/build.log

[2019-08-29 08:31] shuhei-matsumoto opened #938 "Segmentation fault during LUN hot removal in iSCSI target auto test per patch"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

The following issue was observed.
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/41190/archive/iscsi_autotest/index.html

[code]

## Expected Behavior
No failure is observed.

## Current Behavior
See above.

[2019-08-30 01:46] richael02 commented on #934
I met such problem too. I submit  a [patch](https://review.gerrithub.io/c/spdk/spdk/+/466848) to solve this.

[2019-08-30 07:18] tomzawadzki opened #939 "git status --porcelain check timeouts during autopackage.sh"
During test for SPDK 19.07 vs DPDK master one of the jobs times out on autopackage.sh.

Please see log:
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-spdk-19-07-vs-dpdk-master_199.html

Looking at Jenkins log that adds additional timestamps:
[code]
Looks like the build hangs for almost 3 minutes on `wc -l` or right after it before calling `timing_exit porcelain_check`.

[2019-08-30 18:40] vermavis commented on #930
SPDK tgt process logs when running QEMU with /dev/hugepages vs. PMEM (/dev/dax).
Ran with spdk_build_eal_cmdline  --log-level=lib.eal:8

[log_hugepages.txt](https://github.com/spdk/spdk/files/3561121/log_hugepages.txt)
[log_pmem_devdax.txt](https://github.com/spdk/spdk/files/3561122/log_pmem_devdax.txt)

[2019-08-30 19:44] #915 closed

[2019-08-30 20:42] jimharris opened #940 "RPC library needs way to report RPC registration errors"
Recently we had a patch where SPDK_RPC_REGISTER_ALIAS_DEPRECATED was used with out-of-order arguments.  This resulted in a warning message which wasn't noticed until after the patch had passed the test pool, reviewed by two core maintainers and then merged.

We really should have a way for lib/rpc to be able to report any kind of registration error.  Currently lib/event/rpc.c calls spdk_rpc_listen

[2019-09-01 08:25] gwnet commented on #936
Dear Intel experts
we have got a way to reproduce this issue with all SPDK open source tools perf

we use the ib_send_bw tool to ingest incast load into RDMA NICs during the perf testing. then SPDK perf will report below error and cannot recover from it.

Starting SPDK v19.04.1 / DPDK 19.02.0 initialization...

[ DPDK EAL parameters: perf --no-shconf -c 0xf --no-pci --log-level=lib.eal:6 --base-vi

[2019-09-01 08:48] gwnet commented on #936
possible soltuion
SPDK latest code will mark ctrl as failed state when detect fatal CQE error

	qpair->in_completion_context = 1;
	ret = nvme_transport_qpair_process_completions(qpair, max_completions);
	if (ret < 0) {
		SPDK_ERRLOG("CQ error, abort requests after transport retry counter exceeded\n");
		qpair->ctrlr->is_failed = true;
	}
	qpair->in_completion_context = 0;

==solution1===
can we ju

[2019-09-01 08:51] gwnet commented on #936
bear in mind we are using SPDK NVMeOF host side code.
another possible solution is that can we use bdev at host side? I see bdev has more complex error handling code!~ can intel expert suggest

[2019-09-02 02:41] yidong0635 commented on #896
@darsto  will you update this ? I saw this patch was nearly ok, thanks!

[2019-09-02 03:10] yidong0635 commented on #936
@gwnet ,
Before our experts give you a suggestion, I have an idea about this:
1: configure your target,  using "`./configure + --enable-asan` " to run startup target to check if there's a memory leak which could cause resources exhausted.
2. I think you can try to add what you want to add . For my limited understanding, the rdma recovery
is still a problem.
may be then our experts will give you mo

[2019-09-02 03:17] gwnet commented on #936
hello dear intel expert, below is our reproduce steps, anyone can play it. or I feel intel can add CQE error in the error ingestion framework, then it is easy for us to play reset
1.	Run 3 ib_write_bw servers on 10.249.248.45
ib_write_bw -p 19875 -s 10485760
ib_write_bw -p 19876 -s 10485760
ib_write_bw -p 19877 -s 10485760
2.	Run ib_write_bw client on other three nodes. one node run one ib_write_b

[2019-09-02 03:19] gwnet commented on #936
thank you so much Man. we will use that to trouble shoot memory leak. it is for huge page heap management leak? can it also trouble shoot c lib heap leak? I see we also have c lib heap leak.

yes, for RDMA error happen and recovery, can intel have one expert to help? if solution 1 is strong fix? I guess no.

[2019-09-02 05:04] yidong0635 opened #941 "new code reports warning at igzip/igzip_inflate.c"
# Issue
[root@waikikibeach40 spdk]# make clean && make -j
igzip/igzip_inflate.c: In function 'check_gzip_checksum':
igzip/igzip_inflate.c:1867:4: warning: dereferencing type-punned pointer will break strict-aliasing rules [-Wstrict-aliasing]
    *(uint64_t *) (state->tmp_in_buffer + tmp_in_size) =
    ^
igzip/igzip_inflate.c: In function 'check_zlib_checksum':
igzip/igzip_inflate.c:1918:4: warning

[2019-09-02 06:43] Maciej-Szwed commented on #527
Currently do not test hotplug in our CI. We are working on adding tests for that.

[2019-09-02 07:03] wanqunintel opened #942 "spdk.io chinese version for "https://spdk.io/cve_threat/" is missing"
spdk.io chinese version for "https://spdk.io/cve_threat/" is missing

![image](https://user-images.githubusercontent.com/18566118/64095798-7302e680-cd92-11e9-945b-43ae06cf79a4.png)

## Expected Behavior
Show the Chinese version of the subpage for https://spdk.io/cve_threat/
## Current Behavior
404 file not found
## Possible Solution
Add a chinese page
## Steps to Reproduce
1. Browse to the page "h

[2019-09-02 08:32] yidong0635 commented on #852
Fio.job configure should using  capital letter:
`[Global]`
using the newly code, I will not allowed you to start.
`[root@waikikibeach49 spdk]# LD_PRELOAD=./examples/nvme/fio_plugin/fio_plugin /usr/src/fio/fio nmicfiojob`
Global: (g=0): rw=read, bs=(R) 4096B-4096B, (W) 4096B-4096B, (T) 4096B-4096B, ioengine=spdk, iodepth=1
...
job1: (g=0): rw=read, bs=(R) 4096B-4096B, (W) 4096B-4096B, (T) 4096B-409

[2019-09-02 08:46] yidong0635 commented on #868
@gwnet  If you have any other question about this issue, please close this issue.

[2019-09-02 09:21] ccoderr opened #943 "Unable to end iscsi_tgt with kill -15"
I am performing the spdk/tests TestSuite_iscsi_nvme_fio test. After a test case runs fio and the iscsi_tgt process exits with kill -15, I find that the process is hanging in shutdown.

## Expected Behavior
I can end iscsi_tgt with kill -15

## Current Behavior
The iscsi_tgt exit hangs. I found the program hanging in the spdk_iscsi_conn_check_shutdown because the spdk_iscsi_get_active_conns check i

[2019-09-02 09:30] Comphix commented on #936
@gwnet , what is target (looks like Kernel Target) reporting when we saw below error on the host side.

The error message says "transport retry counter exceeded" which seems that some IO is sent, met error and retried and eventually exceeding the retry count.

nvme_rdma.c:1680:nvme_rdma_qpair_process_completions: ERROR: CQ error on Queue Pair 0x7f6c4c0008e0, Response Index 140103109069640 (12): tr

[2019-09-02 12:28] karlatec commented on #932
@glodfish-zg Cherry-picked and build with your fix. I dont see ASAN fail anymore. I'll rebase my [script change](https://review.gerrithub.io/c/spdk/spdk/+/466412) on top of your fix

[2019-09-02 12:29] karlatec commented on #932
@glodfish-zg btw, can you add "Fixes Github issue #932" to your commit message? Thanks!

[2019-09-02 12:35] karlatec commented on #931
Updated the commit to kill the process outside of "if" statement. Also rebased on top of @glodfish-zg patch for root cause of the problem in .c code.

[2019-09-03 05:05] glodfish-zg commented on #932
@karlatec  It's ok. Thanks.

[2019-09-03 07:31] shuhei-matsumoto commented on #938
I submitted a patch https://review.gerrithub.io/c/spdk/spdk/+/467212. This patch came only from code and log inspection. So I'm not certain if this is the real fix yet. I want to monitor if we see any change in the test pool with this patch.

[2019-09-03 07:43] glodfish-zg commented on #825
can use make -j or in the VM add more cores for example 4 vcpus.

[2019-09-03 11:51] jgrodman commented on #911
Hi Seth, yes, the same issue from #901 has returned, when I run the program via c# as I described above. I'm trying to figure out why

[2019-09-03 14:14] jgrodman commented on #911
I fixed the mempool issue - it was an issue with how I was building the .so that c# was using - I needed to move the `--no-as-needed` flag to the beginning of the command to include all of the libs.

The command to build the intermediary .so which declares the dependencies now looks like this (I just added all the libs in spdk and dpdk):
[code]

I'm still interested in Seth's change to have the li

[2019-09-03 14:28] karlatec commented on #937
@ChenBo2333 please do not link results to Jenkins directly as the logs have short retention and are removed pretty quickly. Instead please link to https://dqtibwqq6s6ux.cloudfront.net/ if possible.

Unfortunately the log is already timed out and the log snippet you pasted isn't much useful for root-causing. Can you try to find it on Cloudfront pages?

[2019-09-03 17:00] Seth5141 commented on #911
@jgrodman The changes to add dependencies have been merged to master if you want to give them a try.

[2019-09-03 22:57] #928 closed

[2019-09-03 23:01] peluse commented on #870
was out sick all of last week, so you are saying you need all 3 of your first bullets to be true for this to fail? For example, if you use just 1 lun this doesn't happen? Or if you use 4 but don't set the conf option it doesn't happen? Sure, if you have logs that would help, just trying to get the simplest repro conditions pobbile....

[2019-09-03 23:08] peluse commented on #941
I don't get this warning, on master with gcc (GCC) 8.3.1 20190223 (Red Hat 8.3.1-2)

[2019-09-03 23:13] peluse commented on #942
don't look at me :)

[2019-09-04 01:11] ChenBo2333 commented on #937
I'm sorry for the lost of link results , and the new link is https://dqtibwqq6s6ux.cloudfront.net/results/autotest-nightly-failing/builds/459/archive/blockdev_autotest/build.log

[2019-09-04 01:32] peluse commented on #933
See https://review.gerrithub.io/c/spdk/spdk/+/467302   Thanks!

[2019-09-04 08:29] karlatec commented on #939
Found an issue with our NFS network. I updated the configuration a bit and the issue should be resolved.
If similar issue doesn't show up in a couple of days then I think we can close the issue.

[2019-09-04 08:56] darsto commented on #930
SPDK translates only 2MB-aligned virtual addresses and assumes:
`2MB_aligned_vaddr + offset == vtophys(2MB_aligned_vaddr) + offset`

This is not true for memory that's not physically contiguous in sub-2MB granularity.

If the VM doesn't boot, the above could be a reason. In such case, SPDK ends up writing to `vtophys(2MB_aligned_vaddr) + offset`, which is different from `vtophys(2MB_aligned_vaddr

[2019-09-04 11:19] karlatec opened #944 "lvol UNMAP performed when destroying lvol despite "--clear-method none" specified"
## Current Behavior
NVMe is unmapped when destroying lvol bdev or lvol store, despite "--clear-method none" being used.

## Expected Behavior
According to doc/lvol.md:
[code]
I don't see such note for lvol store, but I imagine it should be similar.

## Steps to Reproduce
0. Write some data (preferably not zeroes) to NVMe device.
1. Run one of SPDK apps and construct a NVMe bdev. Expose it to kerne

[2019-09-04 13:22] Maciej-Szwed opened #945 "Json config tests fail with more than one NVMe present in the system"
Json config (RPC notification) tests fail after changing Jenkins environment from physical with one NVMe to VM with multiple NVMes. This is a part of blockdev_autotest Jenking job for per patch tests.

## Possible Solution
Use only one NVMe in tests (generate config for only one NVMe).

## Steps to Reproduce
Run blockdev_autotest job on Jenking using VM environment.

[2019-09-04 13:30] Maciej-Szwed commented on #945
Patch that fixes this issue: https://review.gerrithub.io/c/spdk/spdk/+/467374

[2019-09-04 13:32] Maciej-Szwed commented on #929
Patch that fixes this issue: https://review.gerrithub.io/c/spdk/spdk/+/467327

[2019-09-04 15:54] peluse commented on #944
Your steps to repro don't appear to use "--clear-method none" right?

[2019-09-04 16:05] peluse commented on #944
But either way, stepping through a delete on an lvol that I created with "none" as the clear_method option, the parameter is present but not honored on the delete path, I'll work on a patch...

[2019-09-04 17:13] jgrodman commented on #911
Thanks - I will give that a shot! In the meanwhile, happy to close this ticket if you want

[2019-09-04 20:38] peluse commented on #944
@karlatec although I submitted a patch https://review.gerrithub.io/c/spdk/spdk/+/467444 for this, I'm not sure it "jives" with what you reported but I think it makes sense given what I read in the code and how I was able to reproduce.  Here's that I did exactly:

1) sudo ~/spdk/scripts/rpc.py construct_nvme_bdev -b Nvme0 -t PCIe -a 0000:0d:00.0
2) sudo ~/spdk/scripts/rpc.py bdev_lvol_create_lvstor

[2019-09-04 21:27] Seth5141 commented on #911
Sounds good! We can reopen it if there are any issues down the road, but I feel pretty confident with the dependencies and I have a test verifying that they are correct running on the per-patch CI.

I am still interested in your feedback on the new dependencies and if they work well for your use case, so let me know either way after you have tried it.

[2019-09-04 21:27] #911 closed

[2019-09-05 07:15] karlatec commented on #944
Both construct_lvol_store and construct_lvol_bdev have the option --clear-method=none

Thanks Paul, I'll checkout the path in a bit and let you know

[2019-09-05 08:07] karlatec commented on #944
No luck it seems.
I followed the same steps as in the original description of the issue, after destroying lvols I see only zeroes on disk:
[code]

BTW, I made a mistake in reproduction steps - I have mistaken the unit for -n option, which is in BYTES! That means I was only dumping 1k of data from the device. Better value is -n 104857600 which is 100MB.

Fortunately (or unfortunately, depends on ho

[2019-09-05 08:19] xiaoxichen opened #946 "[Kata]SPDK vhost application failed to register memory region from virtual NVDIMM"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

SPDK vhost application failed to register memory region from virtual NVDIMM,  which is how Kata container provide image to the VM.
## Expected Behavior

Container should be able to use the vhost device from SPDK and memory registra

[2019-09-05 08:20] xiaoxichen commented on #946
Related with https://github.com/spdk/spdk/issues/930

[2019-09-05 08:48] nizarbo-flexxon opened #947 "fio_plugin issue ( not compiled)"
Hi there,
below my system settings:
- ubuntu 16.04
- lastest spdk  from github/spdk
- my configuraiton with fio and linked to the write source code of fio directory.
 I have 3 errors during compile:
1- from fio_plugin.c:34:
../fio/arch/../lib/types.h:5:13: error: two or more data types in declaration specifiers
 typedef int bool;
2- ../fio/os/../oslib/strsep.h:6:7: error: expected identifier or ‘(

[2019-09-05 09:43] Maciej-Szwed opened #948 "Fio test fails verification when running on multi namespace NVMe and --spdk_mem=0"
Fio verification fails on multi namespace NVMe only when spdk_mem flag is set to 0. W/o this flag test passes.

Fail log:

verify: bad magic header 8256, wanted acca at file Nvme2n1 offset 842694656, length 4096
fio: pid=2641125, err=84/file:io_u.c:2108, func=io_u_queued_complete, error=Invalid or incomplete multibyte or wide character
sha1: verify failed at file Nvme2n3 offset 184430592, length 4

[2019-09-05 13:16] peluse commented on #944
Yeah, like I said unless you write to the lvol we don't clear the clusters on destruct.  The patch I submitted now honors the option but you were never writing to the disks. I'm not sure what is happening there.  Maybe you can try inserting a step where you write several MB to the lvol before you destroy it? (just out of curiosity wr thte patch, it would still be ncie to know who/what is zeroing y

[2019-09-05 15:34] krishna-e commented on #870
The issue may occur with 1 lun, but it will take a lot of time. But with 4 luns, I see the issue happening quickly, around 25min.

How to enable debug logs in SPDK.
Is it possible to enable only rdma part debugging logs? because enabling all debug logs can slow down the processing and I may not see this issue.

[2019-09-05 16:44] Seth5141 commented on #927
I haven't seen this issue since the patch was merged. Thanks @karlatec!

[2019-09-05 16:44] #927 closed

[2019-09-06 00:47] yidong0635 commented on #947
please checkout fio-3.3 , and have a try.

[2019-09-06 00:50] nizarbo-flexxon commented on #947
Hi There,
thank you for your message I already fixed.

[2019-09-06 00:50] #947 closed

[2019-09-06 01:47] yidong0635 commented on #948
Issue that was reported in #935 ,that is the same error.
It seems related to fio,  it has not been resolved yet.

[2019-09-06 06:09] Donaim opened #949 "Intermittent failure during setup - connection droped"
After executing `./scripts/setup.sh` in `autotest.sh`, it looks like the connection with the machine was lost.

Reproduced once on CentOS VM (`/var/jenkins/workspace/Other_systems/centos7_autotest`).
Relevant log snippet:
[code]

patch on gerrithub that triggered error: https://review.gerrithub.io/c/spdk/spdk/+/466728

[2019-09-06 07:36] tomzawadzki commented on #939
After talking with @karlatec offline. Elaborating bit more for posterity.
SPDK repo is archived and copied from single machine to each one that executes particular job. Turns out that there are git alternates that point to directory available from all machines over NFS:
`./.git/objects/info/alternates:1:/var/ci_repos/spdk.git/objects`. This caused `git status` to communicate over NFS and cause del

[2019-09-06 07:36] #939 closed

[2019-09-06 21:34] Seth5141 commented on #407
I have a patch series out here that adds simple disconnect handling to the initiator (using cm events). https://review.gerrithub.io/c/spdk/spdk/+/467701

[2019-09-06 22:16] Seth5141 commented on #917
Another log from fio

https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_42124.html

[2019-09-06 22:21] peluse commented on #943
can you please provide the exact command line you are using to start the tests?

[2019-09-07 02:09] ccoderr commented on #943
i just run test/framework/main.py
My execution.cfg is as follows
`
[Execution]
crbs=10.252.1.152
drivername=mlx5_core
test_suites=
#    nvmf_malloc_fio,
#    nvmf_nvme_fio,
#    nvmf_aiobackend_fio,
#    nvmf_rxtxqueue,
#    nvmf_multiconnection,
#    nvmf_filesystem_integrity,
#    iscsi_malloc_fio,
    iscsi_nvme_fio,
#    iscsi_aiobackend_fio,
#    iscsi_rxtxqueue,
#    iscsi_multiconnection,
#

[2019-09-07 11:11] SavanAnjaria commented on #906
@tomzawadzki @jimharris
_spdk_blob_persist_zero_pages_cpl doesn't get called always because when we do spdk_bs_batch_close from _spdk_blob_persist_zero_pages, SPDK finds u.batch.outstanding_ops to be non-zero for some instances. As a result, we aren't able to do spdk_bit_array_clear(bs->used_md_pages, page_num) for some of the batches of metadata pages and run out the metadata pages eventually

[2019-09-09 01:42] yupeng0921 opened #950 "is spdk_put_io_channel thread safe?"
From the code of spdk_put_io_channel, I suppose this function could be called on multiple threads, because it would operate two reference counters and send the actual operation to the thread which the channel belongs to. But I don't think the operations of the reference counters are thread save. Below is the source code:

void
spdk_put_io_channel(struct spdk_io_channel *ch)
{
    SPDK_DEBUGLOG(SPD

[2019-09-09 01:58] jimharris commented on #950
Hi @yupeng0921,

Multiple threads must not try to operate on the same channel.  Each thread should get its own channel.

-Jim

[2019-09-09 03:13] yupeng0921 commented on #950
Hi @jimharris
If each thread should operate on its own channel, why spdk_put_io_channel calls spdk_thread_send_msg? Why not let spdk_put_io_channel call _spdk_put_io_channel directly?

[2019-09-09 04:30] jimharris commented on #950
Oh, good question.  We may need some better comments in the code to make this more clear.

We call spdk_thread_send_msg to allow the stack to unwind before the resources are freed.  Here is a situation:

1) Application gets I/O channel for some device (for example, NVMe bdev)
2) Application issues an I/O
3) Poller for device detects completion, and calls the application's callback
4) In context of

[2019-09-09 06:15] changpe1 opened #951 "intermittent failure with FTL bdevperf"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

/var/jenkins/workspace/NVMe_tests/nvme_autotest/spdk/test/ftl/config/ftl.conf -q 128 -w verify -t 4 -o 4096
Starting SPDK v19.10-pre / DPDK 19.05.0 initialization...
[ DPDK EAL parameters: bdevperf --no-shconf -c 0x1 --log-level=li

[2019-09-09 06:25] ChenBo2333 opened #952 "[Autotest-nightly] Permission denied witnessed on many build logs"
In recent autotest-nightly-failing's build.log , many build logs failed because of "Permission denied".

## Expected Behavior
Compile succeessfully without "Permission denied".

## Current Behavior
In ioat_autotest build log:

[ioat_autotest] $ /bin/sh -xe /tmp/jenkins7176948984414420511.sh
_+ set +x
UPSTREAM, will not clone
cp: cannot open '/var/ci_repos/spdke62a3c655340d253b49613e1c067eeceff6cc5

[2019-09-09 07:00] karlatec commented on #910
FYI - blockdev_autotest was renamed a couple of days ago to crypto_autotest.

I was investigating https://github.com/spdk/spdk/issues/939 a couple of days ago and found out that there were some issues with NFS network which are now fixed. This might have been somehow related to #910 as I haven't seen a timeout since last tuesday / wednesday.
Another thing is that GP4 had a faulty disk which was re

[2019-09-09 07:57] Maciej-Szwed commented on #945
Closing as fixed.

[2019-09-09 07:57] #945 closed

[2019-09-09 11:10] richael02 opened #953 "module/bdev/ocf: get error log when using ocf vbdev"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

I run " ./examples/bdev/hello_world/hello_bdev -c bdev1.conf -b wt_test " . For the first time I use bdev1.conf and second time I use bdev2.conf. And in the second time, there is and error log "_vbdev_ocf.c:1101:init_vbdev: *ERROR*

[2019-09-09 17:29] #950 closed

[2019-09-09 19:41] shuhei-matsumoto commented on #938
The patch was wrong

[2019-09-10 01:06] ChenBo2333 commented on #952
The new link:
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-nightly-failing_470.html

[2019-09-10 02:56] jessehui commented on #953
@richael02 , thank you for bring this up. For now, during examine, the OCF bdev will be loaded as long as there is valid metadata. And that's why it reports same name error here.  It is for production environment when SPDK target is killed or crashed, next time you restart it, it can load previous configuration for OCF without any other configuration. We will work on RPCs to make metadata invalid.

[2019-09-10 03:06] Cindy-010 opened #954 "During the perf test, the target side reboot when target side deleted target cfg."
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

1.	Create two targets on node 38 as target side in kernel way (tgt1: 416d7463-d3c2-41e4-b2f5-76df2ed3db26/4420 and tgt2: 199212f7-33d0-46c3-b362-e47a217c2c49/4421);
2.	Run perf to write data to tgt2 on node 37 in SPDK way, command:

[2019-09-10 03:10] changpe1 commented on #954
I agree that SPDK should have similar recovery mechanism like the kernel does.

[2019-09-10 03:16] richael02 commented on #953
@jessehui , thanks!  I'll try to erase metadata of the device. Giving another name will give rise to another error log.

#####bdev1.conf#######
[AIO]
        AIO /dev/sdb AIO0
        AIO /dev/sdc AIO1
        AIO /dev/sde AIO2 
[OCF]
        OCF **wx_test** wt AIO1 AIO0
#####################
####bdev2.conf#########
[AIO]
        AIO /dev/sdb AIO0
        AIO /dev/sdc AIO1
        AIO /dev/sde AIO

[2019-09-10 05:23] jessehui commented on #953
Yes, as there is previous OCF bdev metadata in base bdev device, when you use the cache device as core device in new config file, there will be error. You can erase metadata before second test. And later, you can use RPC commands to delete OCF metadata (but not now).

[2019-09-10 05:34] richael02 commented on #953
@jessehui , I got it. Thanks so much!

[2019-09-10 05:37] ChenBo2333 commented on #937
[blockdev_autotest.txt](https://github.com/spdk/spdk/files/3593872/blockdev_autotest.txt)

[2019-09-10 06:26] shadowhzx commented on #852
I have finished the  automation of using script of run_nvmf.py to test this case.
using fio_plugin through bdev layer, the path is **examples/bdev/fio_plugin/fio_plugin**:
the test result is :
when the io size >= 4k, it  happens:

[code]
the config.json file :
[code]

[2019-09-10 07:03] ChenBo2333 opened #955 "[Autotest-nightly] Failure occured to vhost_autotest"
In recent autotest-nightly-failing vhost_autotest's build.log , failed building because can't find some files.

## Expected Behavior
Compile succeessfully without errors.

## Current Behavior
  10:50:03	# /var/jenkins/workspace/Vhost_tests/vhost_autotest/spdk/scripts/rpc.py -s /home/sys_sgci/vhost_test/nvmf_tgt/rpc.sock nvmf_create_transport -t RDMA -u 8192
  10:50:04	# /var/jenkins/workspace/Vhos

[2019-09-10 08:32] yidong0635 opened #956 "mixed switches about $SPDK_TEST_BDEV_FTL"
# Issue descriptions
   I found that there're three switches for controlling testing ftl.sh
$SPDK_TEST_BDEV_FTL
$SPDK_TEST_FTL
$SPDK_TEST_FTL_EXTENDED
at least to conform them , $SPDK_TEST_FTL has not been used but  exported.

[2019-09-10 10:58] karlatec commented on #955
This is a fail from job autotest-nightly-failing, which contains tests that are known to fail.
Furthermore - it fails on spdk/test/vhost/migration/migration.sh which is explicitly marked as "failing" in test/vhost.sh:

[code]

[2019-09-10 11:08] karlatec commented on #952
I see a number of intermittent failures (internal network related, sources did not copy properly), but there is no issue with permissions in any of these fails.
IMO this issue is invalid and should be closed.

[2019-09-10 11:41] ksztyber commented on #956
Patch removing SPDK_TEST_BDEV_FTL: https://review.gerrithub.io/c/spdk/spdk/+/467932

[2019-09-10 14:43] tomzawadzki commented on #934
Since above patch was merged - @takeshi-yoshimura can you confirm this solution works for you ? If yes, please close the issue.

[2019-09-10 14:58] tomzawadzki commented on #929
Above patch has been merged.

[2019-09-10 14:58] #929 closed

[2019-09-10 15:20] tomzawadzki commented on #943
Bug scrub: @ccoderr test/framework/main.py is not part of SPDK tests. Can you please provide steps to reproduce with code from SPDK repo ?

[2019-09-10 15:24] pawelkax commented on #944
Hi @peluse @karlatec ,
I submitted patch with test for this issue  https://review.gerrithub.io/c/spdk/spdk/+/467967

[2019-09-10 15:27] tomzawadzki commented on #937
Bug scrub: There were number of changes to the particular machine running blockdev (change a faulty disk) and improved NFS connectivity. It doesn't seem to appear since then. If it occurs again, please reopen.

[2019-09-10 15:27] #937 closed

[2019-09-10 15:28] peluse commented on #944
Cool, thanks! I'll use this to test the next proposed fix

[2019-09-10 15:39] tomzawadzki commented on #949
Bug scrub: There is not enough data to move forward with resolving this issue. Linked patch was resubmitted and passed the CI. If it happens again with more data, please re-open.

[2019-09-10 15:39] #949 closed

[2019-09-10 15:43] tomzawadzki commented on #936
Bug scrub: @Seth5141 is working on resolving general RDMA error recovery, please see #407.

[2019-09-10 15:52] tomzawadzki commented on #955
Bug scrub: This test is part of nightly-failing, which were disabled on purpose. It is good have GitHub issues related to those open. Lets settle that this issue is directly related to the test-cases 1 and 2 from migration.sh.

[2019-09-11 01:41] yidong0635 opened #957 "memory leaks are detected by ./test/ocf/ocf.sh"
# Issue description
test/ocf/integrity/fio-modes.sh
[Issue _ocf_sh.txt](https://github.com/spdk/spdk/files/3598411/Issue._ocf_sh.txt)

## Expected Behavior
test can pass

## Current Behavior
reports memory leaks.

## Possible Solution

## Steps to Reproduce
run autotest with SPDK_TEST_OCF=1

## Context (Environment including OS version, SPDK version, etc.)
commit : faa4de48c5bee64001b438c117d9344c

[2019-09-11 01:55] yidong0635 commented on #941
this exists on  CentOS Linux release 7.6.1810 (Core)
[root@waikikibeach40 spdk]# uname -a
Linux waikikibeach40 5.2.0-1.el7.elrepo.x86_64 #1 SMP Mon Jul 8 09:37:45 EDT 2019 x86_64 x86_64 x86_64 GNU/Linux
[root@waikikibeach40 spdk]# make clean && make -j
igzip/igzip_inflate.c: In function 'check_gzip_checksum':
igzip/igzip_inflate.c:1867:4: warning: dereferencing type-punned pointer will break stric

[2019-09-11 01:59] yidong0635 commented on #956
FTL related  testing requires OCSSD device.  Issue verification would be more limited.

[2019-09-11 03:10] changpe1 commented on #946
Yeah, it's indeed an issue for SPDK vhost, although we already wrote the limitation in the documentation. We will take a look for this issue soon.

[2019-09-11 12:28] shandegaodu opened #958 "A param of discovery_ignored_param is missed in /lib/iscsi/param.c"
According to rfc3720 chapter 12, the iscsi target should ignore 8 params when discovery, including "DataSequenceInOrder"(see rfc3720 12.19), which is missed in the struct discovery_ignored_param(locate in /lib/iscsi/param.c).

## Expected Behavior

DataSequenceInOrder should be ignored when discovery, the struct discovery_ignored_param shoule be defined as:
static const char *discovery_ignored_par

[2019-09-11 22:19] peluse commented on #944
OK, if you can try this patch that would be great but first note:
- it's not ready for final review, I commented out the lvol UT for now pending feedback on the functional code change and your testing.
- I tested by stepping through the code on delete and making the the clear_method is correctly set by the time spdk_bs_batch_clear_dev() is eventually called
- Tomek, I'll put this note on the patch

[2019-09-12 01:56] shuhei-matsumoto commented on #958
Hi @shandegaodu Thank you for finding and posting the issue. How about creating the patch according to https://spdk.io/development/ ? We are very welcome for your contribution :-)  I can take this otherwise.

[2019-09-12 02:04] shandegaodu commented on #958
ok，I'll do it now

[2019-09-12 02:52] chuckylilin opened #959 "The performance of raid bdev is halved in vm"
## Expected Behavior
I use two nvme disks to build raid bdev. Random read performance per nvme disk is 800,000
I'm expecting to test raid bdev  in a VM with a performance of approximately 1500,000. But the actual performance is only 800,000.
However, testing RAID bdev with fioplugin and perf outside VM can reach 1500,000.

## Current Behavior
I'm expecting to test raid bdev  in a VM with a perform

[2019-09-12 03:05] changpe1 commented on #959
Can you put your environment here, such as Host OS and CPU information and SPDK version ?  From my test 1 million IOPS per core is a very high value, there is VM_EXIT for the completion path, we may not have too much method to improve this.

[2019-09-12 03:13] yidong0635 commented on #957
Maybe need to refactor io_device_destroy_cb.
allocate memory in callback, but not release. This is not a good method.
If there's resource conflicts with heap used after it freed, need to use other method to resolve it.
/* Called per thread
 * Put OCF queue and relaunch poller with new context to finish pending requests */
static void
io_device_destroy_cb(void *io_device, void *ctx_buf)
{
	/* Makin

[2019-09-12 03:20] chuckylilin commented on #959
OS：CentOS release 6.3
CPU：6271 CPU
SPDK version：v19.07

What do you mean is that even high-performance disks in VM can hardly be higher than 1000,000？

[2019-09-12 03:25] changpe1 commented on #959
@chuckylilin The performance is really related with your CPU capability if your backend device has much higher IOPS number, you can increase the number of queues inside the Guest to have another try, if the number is still the same, you can change the interrupt coalescing in vhost as another attempt.

[2019-09-12 03:53] SavanAnjaria commented on #906
@tomzawadzki @jimharris
Based on all the experiments I did, I could conclude on the following scenario to be happening that causes this issue:
1. As a part of _spdk_blob_persist_start, we populate both blob->active.pages and ctx->pages page arrays with the same page numbers.
2. Here, ctx (spdk_blob_persist_ctx) is going to be the same until we write the metadata pages and zero them out at the end

[2019-09-13 11:17] karlatec commented on #944
Doesn't seem to help unfortunately.
I've followed my original reproduction steps and all data was gone from Nvme.

This time I also checked more thoroughly for construct_* steps and it seems like unmaps are also sent on lvol store creation.

1. Check BDF - kernel nvme mapping.
I was using nvme3 - 0000:1d:00.0.
I checked this output every time when I switched back to kernel so I would be sure I am

[2019-09-13 14:45] peluse commented on #944
I thought you were destroying the lvol, not the lvolstore. I only addressed lvol in that patch, I'll look at the lvolstore path today, thanks @Karo !l

[2019-09-13 17:43] peluse commented on #944
heh, I see why I didn't see where you were setting clear_method, each entry in the issue has a scrollbar I didn't see.  Sheesh. Taking another look, something isn't adding up here

[2019-09-13 20:26] peluse commented on #944
OK, taking a different approach than what I was doing before, stepping through the code from the RPC down.  I just put a brkpnt in the nvme driver on either unmap or WZ and sure enough they're coming from someone on create and delete regardless of the flag.  I'll backtrack and see what's up, thanks for the detailed repro steps!

[2019-09-13 21:52] peluse commented on #944
It looks like, yeah, I need to make the same change for deleting an lvolstore.  When we go to delete the super blob we use the the regular open, not open_etx to preare for delete.  Another problem though is that at the time I need to call  the delete_ext() function that I used for lvols, I don't have access to the clear_method as I did with lvol (its in the lvol struct).  All I've got is the lvs s

[2019-09-14 19:05] peluse commented on #944
wait, why do we even have an option for clear-method for an lvolstore? isn't per lvol sufficient?

[2019-09-14 21:33] peluse commented on #944
OK so here's what I think.  clear_method makes sense on lvolstore create only for create.  For delete it should respect the individual options set per lvol.  Not sure if the docs make this clear or not but thats what makes sense.  Using the latest patch from above (it has extra prints in it) you can see that

1) I create an lvolstore with no options so it does do UNMAP to the whole blobstore which

[2019-09-16 06:06] karlatec commented on #910
Check the job build logs again. Could only find two timeouts, and both builds were run of "autotest nightly failing", so I'm pretty sure now that this issue is fixed now.

[2019-09-16 06:12] SavanAnjaria commented on #906
@tomzawadzki @jimharris: Can you please take a look at this?

[2019-09-16 08:21] chuckylilin commented on #959
I try to change he interrupt coalescing，but it didn't work，iops did not change

[2019-09-16 10:26] gwnet commented on #954
hello buddy, SPDK currently does not have self recovery for sure. but kernel host cannot make target node kernel panic, but SPDK can make the kernel target kernel panic. this is 100% reproduciable. I believe this is one compatible issue between SPDK host and kernel target. do Intel has any suggestion for debugging this to find the code level root cause?

[2019-09-17 06:24] Comphix commented on #954
Will discuss it in our next Bug Scrub meeting.

[2019-09-17 09:26] karlatec opened #960 "Shared object build fails on CentOS7 when building with DPDK master and SPDK 19.07.x"
## Current Behavior
Nightly tests spdk-19.07-vs-dpdk-master builds fail.
The reason is failure on CentOS7 machines when building shared objects.

## Steps to Reproduce
1. Clone dpdk from http://dpdk.org/git/dpdk, check-out master branch (can use specific commit from Context section), build it with
[code]
2.  Use SPDK commit from context section below. Build with options:
[code]
3. Result:
[code]

[2019-09-17 09:29] karlatec commented on #960
Related fails:
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-spdk-19-07-vs-dpdk-master-chandler_304.html
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-spdk-19-07-vs-dpdk-master-chandler_303.html
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-spdk-19-07-vs-dpdk-master_220.html
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-spdk-19-07-vs-dpdk-master_

[2019-09-17 17:55] Seth5141 commented on #960
Hi Karol,

This failure is caused by a couple of things.
1. The proper dependencies haven't been specified for the internal rte_vhost implementation on v19.07.x. There is a patch out for rebase which fixes this. It has already been merged to master, so that's why we don't run into it on the spdk-master-vs-dpdk-master job. Here is the link to that patch. https://review.gerrithub.io/c/spdk/spdk/+/46

[2019-09-17 18:37] Seth5141 commented on #960
This change fixes part 2. https://review.gerrithub.io/c/spdk/spdk/+/468636.
Please see the logs at
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-spdk-master-vs-dpdk-master/builds/288/archive/centos7_autotest/build.log

and

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-spdk-master-vs-dpdk-master/builds/287/archive/centos7_autotest/build.log

These are spdk master vs dpdk  master lo

[2019-09-18 02:25] dashan8020 opened #961 "Nvme of rdma host CQ error"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

no error happen
## Current Behavior

CQ error, log as below, it is a RDMA local protection error
it seems that SPDK Nvme Host has some issue to handle RDMA PD or memory register.

issue LOG:
mlx5: ogden-rust.w

[2019-09-18 02:32] Comphix commented on #961
@dashan8020 could you give more details on the testing environment like OS, kernel, NVMe-oF target configuration, NVMe-oF host configuration, testing method. This will help us to reproduce this issue first to better understand. Thanks, Gang

[2019-09-18 07:05] yidong0635 commented on #961
append error explanation here:
`This event is generated when a user attempts to access an address outside of the registered memory region. For example, this may happen if the lkey does not match the address in the WR.`

[2019-09-18 07:54] karlatec commented on #944
Just downloaded patch set 4 of the commit.

Well it's valid in "production" environment, but not really useful for perf tests, so I'm sticking with --clear-method none:)

I've followed my last reproduction steps and I got to step 5, which is creating a lvol store then stopping SPDK app and checking how that affected the NVMe.

So I got:
[code]

And again, the only data left on NVMe seems to be the

[2019-09-18 08:41] qinglanDeku commented on #957
Maybe the problem is from the function vbdev_ocf_ctx_queue_stop() which is also in vbdev_ocf.c. It releases io_channels and unregisters the poller, but it doesn't free the vbdev_ocf_qcxt itself.

[2019-09-18 09:59] pawelkax opened #962 "Multicore.sh test fails with new proposed version of rpc.py"
## Expected Behavior
Test passes

## Current Behavior
Test fails with error:
src/ocf/ocf_core.c:  36:ocf_core_get_front_volume: *ERROR*: BUG
iscsi_tgt: src/ocf/ocf_core.c:36: ocf_core_get_front_volume: Assertion `0' failed.

## Steps to Reproduce
1. Download patch https://review.gerrithub.io/c/spdk/spdk/+/466259
2. Run test/ocf/management/multicore.sh

[2019-09-18 12:48] peluse commented on #944
I think this is fine but later I will add prints for you showing the LBAs of the superblock, metadata region and used clusters as you can be more confident what is being unmapped.  Sounds good?

Did my comment about clear_non on lvolstore make sense? An lvolstore has no data to clear, it only has lvols. So it only clears the superblock and then walks each lovl one by one and if they have clear_non

[2019-09-18 12:51] Comphix commented on #942
Looking at this issue.

[2019-09-18 12:54] Comphix commented on #954
Here we also talk about some NVMe-oF host recovery mechanism. Is it similar to issue https://github.com/spdk/spdk/issues/407 ?

[2019-09-18 13:06] karlatec commented on #944
Ok, sure! But this
[code]
still shows zeroes despite "NOTICE*: Do nothing CM 2" present in spdk logs :P

This one?

Well, to be honest - either one sounds good to me. Both respecting clear_method on create, as well as on delete.
Ultimately, as a user, I would be most interested in the end result :) which in this case is - no UNMAPs done to Nvme in the entire reproductions steps chain (well, unmaps

[2019-09-18 13:54] peluse commented on #944
OK, try the newest patch.  Here's the correct output for creating an lvstore w/default, one lvol with default and one with clear_none.  Look though this and compare to what you are seeing:

lvol.c: 645:spdk_lvs_init: *NOTICE*: Initializing lvol store
blobstore.c:3840:spdk_bs_init: *NOTICE*: Number of lbas for super (1 page) + metadata 763184
blobstore.c:3880:spdk_bs_init: *NOTICE*: WZ to metadata

[2019-09-18 14:31] peluse commented on #933
patch still under review, has all the required approvals though

[2019-09-18 14:44] peluse commented on #870
make sure you when "make" you include --enable-debug and then when you start your application you use the --logfile option.  Generally its described here, https://spdk.io/doc/app_overview.html#cmd_arg_debug_log_flags so to get all of them "sudo ./app/spdk_tgt/spdk_tgt --logflag all".  To get a list of flags supported for the app you are using, use help, here's the help putout for --logfile for spd

[2019-09-18 14:57] peluse commented on #962
FWIW, I'm probably doing something wrong but running this test ON MASTER --with-ocf and debug and asan, I get an asan error:

=================================================================
==15188==ERROR: LeakSanitizer: detected memory leaks

Direct leak of 168 byte(s) in 3 object(s) allocated from:
    #0 0x7f610080fc08 in __interceptor_malloc (/lib64/libasan.so.5+0xefc08)
    #1 0x4ff615 in i

[2019-09-18 20:03] pawelkax commented on #944
@karlatec @peluse I uploaded patch with test for --clear_method none: https://review.gerrithub.io/c/spdk/spdk/+/467967.
Could you review it?

[2019-09-18 20:34] peluse commented on #944
I will for sure but I want to get to the bottom of the reported issue first :) For debugging with gdb it's much, much simpler for me to run the target under gdb, setup breakpoints ,and then send in RPCs manually.  There's still something odd about what @karlatec is seeing vs what I'm seeing and, again, I'm not doing *exactly* what's he's doing because it's harder to step through the code with thos

[2019-09-19 01:07] changpe1 commented on #933
Patch is merged, I'm going to close this issue for now.

[2019-09-19 01:07] #933 closed

[2019-09-19 01:11] yidong0635 commented on #957
@qinglanDeku thanks, there're patch serials about ocf which would update ocf lib and some fixes.
will verify these after patches serials are merged.

[2019-09-19 01:27] changpe1 commented on #953
I'm going to close this issue for now, you can re-open it if the issue still exists.

[2019-09-19 01:27] #953 closed

[2019-09-19 01:35] changpe1 commented on #932
Patch was merged, I'm going to close this issue for now.

[2019-09-19 01:35] #932 closed

[2019-09-19 01:38] changpe1 commented on #962
This issue is similar with #957

[2019-09-19 02:31] qinglanDeku commented on #957
@yidong0635  And I had another question when I reproduced this bug:
[code]
Is this OK since tow errors above are both indirect leaks? And by the way I run autotest.sh with OCF, ASAN and FUNCTIONAL_TEST on the latest MASTER branch.

[2019-09-19 02:47] yidong0635 commented on #957
@qinglanDeku  I have tried this . it's not ok just to resolve above direct leaks.
why it's indirect , so need to wait for lib update. And I'm not sure if these still exist .
the fio lib leaks are about reqs that have not been cleaned.

[2019-09-19 03:23] ccoderr commented on #731
Hi all
I also encountered the same problem in my environment.
At first I used spdk iscsi, I found that the write performance is normal, but the read performance is very low.Then I tried to use perf to test, the same read performance is very low.But the read performance is normal on the nvme devices created using kernel drivers.
The nvme I am using is intel p4600, my spdk version is the main line l

[2019-09-19 04:09] changpe1 commented on #961
[Bug Scrub] Can you provide more information about how to reproduce this issue?

[2019-09-19 04:16] jimharris commented on #956
Patch merged.

[2019-09-19 04:16] #956 closed

[2019-09-19 04:24] Seth5141 commented on #954
@gwnet @Cindy-010 I am currently working on adding handling for cm events to the SPDK initiator (host). These are the events we need to handle in order to be able to recover from a disconnect like that. You can see the link here https://review.gerrithub.io/c/spdk/spdk/+/467701. Once I get the infrastructure in place, I plan on adding processing for ibv_async events as well and adding recovery step

[2019-09-19 04:49] Seth5141 opened #963 "iscsi digests tests broken on nightly."
## Expected Behavior
Test passes

## Current Behavior
The last several nightly tests have failed on both the rbd and iscsi jobs in the digests tests. See logs here:
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-nightly/builds/520/archive/RBD_autotest_nightly/index.html
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-nightly/builds/520/archive/iscsi_autotest_nightly/index.html
https:/

[2019-09-19 04:51] changpe1 commented on #959
[Bug Scrub] Discussed in Bug Scrub meeting, since your backend device has enough bandwidth, and the performance is only limited by Vhost itself, according to different CPU capability, 0.8 million is a reasonable number for vhost.  I'm going to close this issue, you can re-open if had other comments.

[2019-09-19 04:51] #959 closed

[2019-09-19 04:58] jimharris commented on #963
I think just reverting this patch is best for now.  It's not clear why the patch breaks the digest test yet.  But we also don't know for sure yet that this patch is needed for iSCSI optimization.  It may just be faster and simpler to just copy the 48-byte BHS.  I think we should wait to merge an updated version of the reverted patch until we have clear proof that this patch is needed.

[2019-09-19 05:03] changpe1 commented on #962
@pawelkax I can't find the github account name for Marcin, can you ask him to take a look for this issue and #957? Thanks.

[2019-09-19 05:06] changpe1 commented on #948
@Maciej-Szwed Can you also list your SPDK commands so that someone else can also reproduce this issue?

[2019-09-19 05:18] jimharris commented on #962
FYI - I also sent Marcin an e-mail with a link to this issue (and asked him for his GitHub username).

[2019-09-19 06:20] Cindy-010 commented on #954
@Seth5141 Thank you for your info, I will apply the patch for test and will update the results in here.
And the kernel dump as you mentioned as below:
[dmesg.txt](https://github.com/spdk/spdk/files/3629684/dmesg.txt)

[2019-09-19 07:34] changpe1 commented on #963
There is one more place need to be added if changed the bhs field in PDU to a pointer:

diff --git a/lib/iscsi/iscsi.c b/lib/iscsi/iscsi.c
index 05ac33b..28e0660 100644
--- a/lib/iscsi/iscsi.c
+++ b/lib/iscsi/iscsi.c
@@ -286,7 +286,7 @@ spdk_iscsi_pdu_calc_header_digest(struct spdk_iscsi_pdu *pdu)
        uint32_t ahs_len_bytes = pdu->bhs->total_ahs_len * 4;

        crc32c = SPDK_CRC32C_INITIAL;

[2019-09-19 10:25] gwnet opened #964 "SPDK Host have remote memory access issue when work with Kernel target based on SLES12SP4"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Below is the request from one kernel dmesg issue.
We are using SPDK host and kernel target. When SPDK host send write request to target, kernel target will do RDMA read to handle host side write request, but when RDMA NIC try to re

[2019-09-19 11:57] karlatec opened #965 "scan-build fail for rdma.c"
## Current Behavior
Build with scan-build failed for rdma.c:
[code]
Build detected as part of nightly test using Arch Linux VM:
https://10.102.17.104:8080/job/Other_systems/job/ArchLinux_autotest/42/console

[output.zip](https://github.com/spdk/spdk/files/3631045/output.zip)

## Steps to Reproduce
1. Build SPDK with:
[code]

## Context (Environment including OS version, SPDK version, etc.)
SPDK 72

[2019-09-19 12:01] karlatec commented on #542
https://review.gerrithub.io/c/spdk/spdk/+/468807

[2019-09-19 12:43] karlatec commented on #944
Reproduced your steps. The numbers are different obviously, but overall the output looks similar to yours.
[code]

[2019-09-19 12:54] karlatec commented on #944
I also checked my steps from yesterday, where I just created lvol store with --clear-method none, then stop spdk and check disk contents on kernel level. As before - it's unmapped.
[code]

[2019-09-19 13:46] Comphix commented on #942
Two issues here. One is that we miss the link to CVE_Threat. The other is that we are missing the Chinese version of CVE_Threat. Will have two patches here. One is to first have the page linked to the existing English CVE_Threat page and second is to replace with the proper Chinese CVE_Threat page.

[2019-09-19 14:57] peluse commented on #944
@karlatec hit me up on slack when you get a chance and lets start a quick freeconference - thanks!

[2019-09-19 15:07] jimharris commented on #963
Good catch Changpeng.  I still suggest we just revert this patch for now.

[2019-09-19 16:18] benlwalker commented on #731
I believe you are comparing 4 threads doing 32 queue depth each in fio, to 1 thread doing queue depth 32 in SPDK. Try increasing the queue depth in SPDK to 128 to get a fair measurement of the device's performance.

[2019-09-20 01:28] yidong0635 commented on #965
@karlatec  try to fix this:
https://review.gerrithub.io/c/spdk/spdk/+/468908

[2019-09-20 02:19] ccoderr commented on #731
@benlwalker Thank you. Your answer inspired me.I have solved the problem in my environment.I found that the queue depth used by the kernel driver to create a submission queue is 1024.so after I changed this value DEFAULT_IO_QUEUE_SIZE from 256 to 1024, the same model read performance is normal.
[code]

[2019-09-20 07:27] Comphix commented on #942
Patch for a new Chinese page has been submitted at https://review.gerrithub.io/c/spdk/spdk.github.io/+/468843/

[2019-09-20 11:36] mdziegie commented on #957
Hi all,

I have checked this issue on my bench, definitely we have leak in io_device_destroy_cb, this is issue on spdk adapter side so lib update will not fix it, as @qinglanDeku mentioned we have to free copy of vbdev_ocf_qcxt in vbdev_ocf_ctx_queue_stop, I will push patch that fix it.

Regarding to other leaks (not from ocf adapter) reported by asan, I did quick change in test - I removed depend

[2019-09-20 12:10] karlatec commented on #965
@yidong0635 Looks OK.
This build cherry-picks the patch and the result for build was a success: https://10.102.17.104:8080/job/Other_systems/job/ArchLinux_autotest/43/

[2019-09-20 12:14] optimistyzy commented on #963
Hi Changpeng,

Thanks for catching the root cause of this issue, it should be the right
fix.

在 2019年9月19日星期四，Jim Harris <notifications@github.com> 写道：

[2019-09-20 12:59] mdziegie commented on #957
Patch: https://review.gerrithub.io/c/spdk/spdk/+/468983

[2019-09-20 13:47] peluse commented on #944
Karol and I discussed the outputs and agree:

- he was dumping metadata region, not data so needs to re-run his tests with the debug output in the patch showing him where the data region starts
- for lvolstore: the clear_method flag only makes sense for create.  For destroy we want to respect the flags set by the individual lvols themselves

The current patch should be what we want (minus all the

[2019-09-20 14:02] mdziegie commented on #962
@changpe1 Yes this is the same issue as in #957 , patch with fix is here: https://review.gerrithub.io/c/spdk/spdk/+/468983

[2019-09-20 16:38] mdziegie commented on #962
@pawelkax Unfortunately I don't have reproduction on bench and on CI machine, I have re-triggered tests on your patch, to check reproduction rate.

[2019-09-20 19:56] benlwalker commented on #944
Just confirming that the intended behavior of these flags  as the blobstore level is as you've concluded. The one on the whole blobstore is the behavior on blobstore creation. Then the per-blob ones control what happens when a blob is deleted.