[2020-06-18 04:26] changpe1 commented on #1445
@ryderhsu0129 The log message here showed that the command was submitted to the controller successfully, but the drive can't support this command, so it returned error, this failure is normal, I don't see any exception here.

[2020-06-18 06:42] spdkci commented on #1424
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_18637.html

[2020-06-18 06:58] wanghailiangx opened #1446 "arbitration report Segmentation fault in some P3700"
[code]
But no core dump file was creatd.

## Expected Behavior

arbitration run pass like below.
[code]

## Current Behavior

arbitration run failed.

## Possible Solution

Need verify if these P3700s support  WRR.

## Steps to Reproduce

1. run ./examples/nvme/arbitration/arbitration -t 3 -i 0

## Context (Environment including OS version, SPDK version, etc.)

SPDK commit d5eb583584f63abf3a1dce2b

[2020-06-18 07:29] #1435 closed

[2020-06-18 08:06] sunmingbao commented on #1444
supplement kernel logs corresponding to this issue:
`[ 3306.089987] nvmet: creating controller 1 for subsystem nqn.2014-08.org.nvmexpress.discovery for NQN 2014-08.org.nvmexpress:uuid:6fdc9c06-aab7-4c4b-a130-e1d854cbaff8.
[ 3306.093235] nvmet: creating controller 2 for subsystem testnqn_4 for NQN 2014-08.org.nvmexpress:uuid:6fdc9c06-aab7-4c4b-a130-e1d854cbaff8.
[ 3306.542120] nvmet_rdma: SEND for

[2020-06-18 08:07] sunmingbao commented on #1444
supplement kernel logs corresponding to this issue:
[ 3306.089987] nvmet: creating controller 1 for subsystem nqn.2014-08.org.nvmexpress.discovery for NQN 2014-08.org.nvmexpress:uuid:6fdc9c06-aab7-4c4b-a130-e1d854cbaff8.
[ 3306.093235] nvmet: creating controller 2 for subsystem testnqn_4 for NQN 2014-08.org.nvmexpress:uuid:6fdc9c06-aab7-4c4b-a130-e1d854cbaff8.
[ 3306.542120] nvmet_rdma: SEND for C

[2020-06-18 08:11] changpe1 commented on #1446
The drive was formatted to extended LBA format, while the arbitration test still use spdk_nvme_ns_get_sector_size() to get the block size, not only arbitration test utility use this API, some other test utility also use this API when doing IOs.

Here is the fix patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/2934

[2020-06-18 09:32] #1445 closed

[2020-06-18 10:15] wawryk opened #1447 "Memory leaks during nvme autotest"
## Expected Behavior
test pass

## Current Behavior
test fail

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context (Environment including OS version, SPDK version, etc.)
=================================================================
==56991==ERROR: LeakSanitizer: detected memory leaks

[code]

OS: Linux clearlinux 5.4.33-31.lts2019 #1 SMP Fri Apr 17 03:03:03 PDT 2020 x86_64 GNU

[2020-06-18 10:16] wawryk commented on #1426
New issue: https://github.com/spdk/spdk/issues/1447
This one was related to specific vm configuration. Closing

[2020-06-18 10:16] #1426 closed

[2020-06-18 11:49] tomzawadzki commented on #1418
Patch created by @Seth5141 [here](https://review.spdk.io/gerrit/c/spdk/spdk/+/2788) was merged. It should resolve this intermittent failure.

Closing for now, if it happens again please re-open.

[2020-06-18 11:49] #1418 closed

[2020-06-18 13:15] tomzawadzki opened #1448 "[nvme_cli] Incorrect nvme-cli version installed on some CI machines"
Machine `GP14` contains incorrect nvme-cli version installed in `/home/sys_sgsw/nvme-cli/`. Possibly other machines too.

This [patch ](https://review.spdk.io/gerrit/c/spdk/spdk/+/2948/) can verify that among machines.

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/18649/archive/nvme-phy-autotest/build.log

## Execution failed at
[code]

[2020-06-18 13:44] darsto commented on #1275
Well, I tried, but the hotplug poller still renders the entire SPDK process unusable when combined with RPC attach/detach.

The workaround for kernel deadlocks themselves is finally ready though: https://review.spdk.io/gerrit/c/spdk/spdk/+/1733

It passes the tests, but can't be run on CI yet. I would be grateful if you verify it on your end.

[2020-06-18 15:07] tomzawadzki commented on #1440
@manjo-git Is there particular reason why VPP is enticing for you ?
As detailed in the mailing list post - the sockets with Kernel stack got a lot of improvements in recent times.

Results for this can be seen in recently published [SPDK v20.04 NVMe-oF TCP Performance Report](https://ci.spdk.io/download/performance-reports/SPDK_tcp_perf_report_2004.pdf).

[2020-06-18 15:33] spdkci commented on #1424
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_18628.html

[2020-06-18 15:35] spdkci commented on #1297
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_18625.html

[2020-06-19 04:19] yidong0635 commented on #1275
@darsto, https://review.spdk.io/gerrit/c/spdk/spdk/+/1733, tested several times, these patches work well on my side.

[2020-06-19 04:21] yidong0635 commented on #1416
link to #1275

[2020-06-19 08:01] wmalikow commented on #1434
Fix is here https://review.spdk.io/gerrit/c/spdk/spdk/+/2964

[2020-06-19 08:12] shuhei-matsumoto commented on #1427
Hi @wanghailiangx and all,

Our team reported to me that probably the same issue occurred by SPDK 20.01.
I will investigate this issue too.

-Shuhei

[2020-06-19 09:14] spdkci commented on #1448
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_18732.html

[2020-06-19 09:16] shuhei-matsumoto commented on #1427
I don't think this is related but share this for just in case.
https://github.com/open-iscsi/open-iscsi/issues/108
Does this issue depend on open iscsi version?

[2020-06-19 10:35] spdkci commented on #1448
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_18741.html

[2020-06-19 12:18] AlekseyMarchuk commented on #1444
Hi @sunmingbao

I was able to reproduce your problem with SPDK target. I think that the problem is related to a huge amount of work requests generated by SPDK perf. You used queue depth 256, 24 namespace and 4 qpairs per namespace, it results in 256 * 24 * 4  = 24 576‬ requests in flight (if we don't take into account requests splitting). That might produce a lot of RNR (receiver not ready) events

[2020-06-19 15:20] spdkci commented on #1448
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_18765.html

[2020-06-19 15:27] tomzawadzki commented on #1448
Turns out there are couple issues around nvme-cli:
1) Repo at the `${DEPENDENCY_DIR}/nvme-cli` got corrupted over time (incorrect `.git/index`, *.gcda or core dumps left over). @karlatec made sure that every machine now contained clean repository (thx!).
2) `NVME_VERSION = 1.3.406.gcb30.dirty` was judged by the `git describe` from tags in spdk/nvme-cli repo. Where the v1.6 tag was missing. This ha

[2020-06-19 17:02] Seth5141 commented on #1447
@wawryk DId this also occur in the ocf tests like the original bug in #1426? Or did it occur in another test case? Just trying to narrow down the scope.

[2020-06-19 22:37] mhae commented on #1275
@darsto , I'll give it a try on Monday. Thanks for your hard work on this!

[2020-06-20 11:53] spdkci commented on #1297
Another instance of this failure. Reported by @jkalwas. log: https://ci.spdk.io/public_build/autotest-per-patch_18894.html

[2020-06-21 01:14] sqiu110 opened #1449 "spdk_nvme_ctrlr_free_io_qpair may have deadlock issue"
spdk_nvme_ctrlr_free_io_qpair grab ctrlr->ctrlr_lock while calling nvme_transport_ctrlr_delete_io_qpair, while inside nvme_transport_ctrlr_delete_io_qpair it may submit request to adminq which also try to grab ctrlr->ctrlr_lock.
As a result cause deadlock.

![image](https://user-images.githubusercontent.com/43693104/85214600-c1817180-b321-11ea-8016-6ed42034fc00.png)

should we release ctrlr->ctrlr

[2020-06-22 01:03] yidong0635 commented on #1443
Patch has been merged. close this one. Thanks!

[2020-06-22 01:03] #1443 closed

[2020-06-22 02:34] sunmingbao opened #1450 "failure observed in case SPDK perf writes a larger data block"
## Expected Behavior

## Current Behavior
failure observed in case SPDK perf writes a larger data block.

## Possible Solution

## Steps to Reproduce

1. Deploy MOFED 4.7 or 4.9 on host-A.
2. setup a NVMe_OF target with 1 name-spaces on host-A.
3. Reserve 30720MB huge_page (use 2MB pages) memory for the test on host-B.
4. issue the following command on host-B (perf is from SPDK v20.04.1.):
perf -q

[2020-06-22 03:04] changpe1 commented on #1450
I'm wondering if this issue also happen when using SPDK NVMf target, 16MiB block size should be splitted via target's configuration.

[2020-06-22 04:13] sunmingbao commented on #1450
Hi, changpe1.
We are using the kernel space NVMe_OF target.
Do you mean this issue could be solved by proper configuration of the NVMe_OF target?
If so, could you tell us where and how to modify the split related configuration?

[2020-06-22 04:22] changpe1 commented on #1450
I believe the kernel NVMf target should also has the configuration "Maximum Data Transfer Size (MDTS)", you may check with that.

[2020-06-22 06:18] AlekseyMarchuk commented on #1449
Hi @sqiu110

`ctrlr->ctrlr_lock` is a recursive mutex, that means that it can be locked multiple times by the same thread without deadlocks. Scenario that you described is a normal qpair destruction flow and it is well tested. Could you clarify your SPDK and OS versions?

[2020-06-22 08:02] sunmingbao commented on #1450
@changpe1 did you see the kernel log? In case perf send NVMe cmd with 16777216 bytes data, in the nvmet_req message received at target side, the req->data_len = 16777216, but the req->transfer_len = 0.  Is it likely that perf send out a wrong message in case the data size is 16777216?
So could you verify it using SPDK NVMf target?

[2020-06-22 08:58] AlekseyMarchuk commented on #1450
Hi,
The digit 16777216 requires 4 bytes to be stored while according to NVME spec, keyed SGL descriptor provides only 3 bytes, that is why you see length equal to 0. I reproduced it with SPDK target.
I think we can add functionality to perf to use multi SGL descriptor, but I'm not sure if kernel target can work with multi SGLs

[2020-06-22 09:04] shuhei-matsumoto commented on #1427
My colleague said that in his case, the host detected multipath failure but session was not released and then the session pool became out of resource.

@zhangsaisai

The following was included in your log?
: iscsi.c: 562:create_iscsi_sess: *ERROR*: MaxSessions set to 128
: iscsi.c:1780:iscsi_op_login_set_conn_info: *ERROR*: create_sess() failed

If no, your issue and the issue my colleague got may

[2020-06-22 10:02] sunmingbao commented on #1450
@AlekseyMarchuk
Got it.
Many thanks for the explanation.
I have searched into the code of mofed.
The following should be the corresponding code clips from MOFED to retrieve the 24-bit transfer_len from SGL:

`static u16 nvmet_rdma_map_sgl_keyed(struct nvmet_rdma_rsp *rsp,
struct nvme_keyed_sgl_desc *sgl, bool invalidate)
{
struct rdma_cm_id *cm_id = rsp->queue->cm_id;
u64 addr = le64_to_cpu(sgl->a

[2020-06-22 10:05] sunmingbao commented on #1450
@AlekseyMarchuk
Got it.
Many thanks for the explanation.
I have searched into the code of mofed.
The following should be the corresponding code clips from MOFED to retrieve the 24-bit transfer_len from SGL:

static u16 nvmet_rdma_map_sgl_keyed(struct nvmet_rdma_rsp *rsp,
struct nvme_keyed_sgl_desc *sgl, bool invalidate)
{
struct rdma_cm_id *cm_id = rsp->queue->cm_id;
u64 addr = le64_to_cpu(sgl->ad

[2020-06-22 12:01] wanghailiangx commented on #1446
@changpe1 Do you have any other patch?

[2020-06-22 15:49] jimharris commented on #1434
Patch merged.  Thanks @wmalikow!

[2020-06-22 15:49] #1434 closed

[2020-06-22 21:18] mhae opened #1451 "NVMF: Stuck IOs during hot remove"
I'm running a pretty basic IO workload similar, to perf that submits IOs up to certain queue depth. All setup is single threaded and I'm using NVMF/RDMA.

During a hot remove, the subsystem is paused. However, since there are any outstanding ios (io_outstanding), the subststem is not paused immediately but later in spdk_nvmf_request_complete when the io_outstanding is 0.

However, the condition in

[2020-06-22 21:19] mhae commented on #1451
[hotplug_trace1.txt](https://github.com/spdk/spdk/files/4815623/hotplug_trace1.txt)

[2020-06-22 22:24] shuhei-matsumoto opened #1452 "[vhost_boot] Your device "Nvme0n1" block size is 4096, but should be 512 bytes."
[code]

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_18992.html

## Execution failed at

[code]

[2020-06-22 22:32] mhae commented on #1451
After investigating some more it seems that the error handling in nvme_qpair.c:nvme_qpair_submit_request is incorrect. It doesn't free the request. Freeing the request actually fixes the problem:
[code]

[2020-06-23 01:14] Seth5141 commented on #1452
This appears to be occurring only on GP4 and (possibly) GP3. I have disabled GP4 in the test pool for now.

[2020-06-23 01:19] Seth5141 commented on #1452
@karlatec I am assigning to you for the time being in case you see an obvious infrastructure related issue. If not, please remove the assignment and we can re-assign it in bug scrub.

[2020-06-23 01:26] changpe1 commented on #1446
No, please verify again, I don't see arbitration errors from the NVME and OPAL log.

[2020-06-23 04:09] dashan8020 opened #1453 "spdk_nvme_connect API can not get namespace information or (struct spdk_nvme_ctrlr_data *cdata）（）"
## Expected Behavior
if spdk_nvme_connect  calling success, then get the namespace information or controller info successfully

## Current Behavior
spdk_nvme_connect  calling success, and can not get namespace info or cdata correctly.

after calling spdk_nvme_connect successfully,
I got the cdata via calling spdk_nvme_ctrlr_get_data(), but cdata is empty without valid content.
I got namespace id

[2020-06-23 04:55] shuhei-matsumoto commented on #1451
Hi @mhae

Thank you, the issue you found is very clear to me.
As you give the second question, split I/O case is a concern.
Abort command will use different split I/O mechanism, and will not be covered by the above.

How about adding another queue, failed_req to qpair and abort all requests in qpair->failed_req like nvme_qpair_abort_queued_reqs() at appropriate place?

[2020-06-23 06:24] jasunliu opened #1454 "rocksdb-spdk test faild : nvme_pcie.c:1815:nvme_pcie_prp_list_append: *ERROR*: virt_addr 0x200025f8f1c1 not dword aligned"
cockroach rocksdb using spdk env, run tpcc test workload 6000 faild.
error  log:
nvme_pcie.c:1815:nvme_pcie_prp_list_append: *ERROR*: virt_addr 0x200025f8f1c1 not dword aligned
nvme_qpair.c: 137:nvme_io_qpair_print_command: *NOTICE*: WRITE sqid:1 cid:509 nsid:1 lba:265465865 len:1
nvme_qpair.c: 306:spdk_nvme_qpair_print_completion: *NOTICE*: INVALID FIELD (00/02) sqid:1 cid:509 cdw0:0 sqhd:0000 p:

[2020-06-23 06:45] sunmingbao commented on #1444
@AlekseyMarchuk
The RDMA target configuration has been uploaded.

[nvmet_cfg_provo-rust.txt](https://github.com/spdk/spdk/files/4817543/nvmet_cfg_provo-rust.txt)

[2020-06-23 06:48] karlatec commented on #1452
I'm 99% positive that this is a result of re-enabling cuse tests along with the cleanup routine from here:
https://review.spdk.io/gerrit/c/spdk/spdk/+/2829/10/test/common/autotest_common.sh
In case a namespace revert is needed we use 4kB block size, while vhost_boot.sh test needs 512B formatted NVMe to work. I totally forgot about this during review.

Patch changing the blocksize: https://review.s

[2020-06-23 07:48] optimistyzy commented on #1441
@shuhei-matsumoto This Calsoft tests the SNACK PDU, which means that the iSCSI target was configured with ERL >0. How many times do we see such failure in the CI pool? Do we recently change some code which may affect the ERL >0 (I mean that we may change some pdu handling for ERL=0, but we forget to change for ERL > 0, and thus the test fails).  Would like to get more details? Hoping that the test

[2020-06-23 07:56] shuhei-matsumoto commented on #1441
Thanks @optimistyzy

I saw this only once, so not so critical. Sounds reasonable if we wait more instances are accumulated.

[2020-06-23 08:04] #1452 closed

[2020-06-23 08:51] sunmingbao commented on #1444
@AlekseyMarchuk
I have made some verification.
It seems "-k 30000" does not have an effect on this issue.
But reduce parameter value of -q and -P is helpful.

[2020-06-23 09:14] changpe1 commented on #1454
@jasunliu could you provide the whole test script command line here, I think maybe it's SPDK bug, for most READ/WRITE cases, SPDK blobfs will use internal cache buffer, if the payload was from Rocksdb, I think it may hit this issue.

[2020-06-23 09:55] wanghailiangx commented on #1446
When I insert a P3700 ssd, there is still errors.

[code]

[2020-06-23 10:25] changpe1 commented on #1446
@wanghailiangx P3700 only has one namespace, just wondering how the nsid=2 comes from.

[2020-06-23 11:41] shuhei-matsumoto opened #1455 "[autobuild_check_format] /var/ci_repos/dpdk-submodule.git/objects does not exist"
The following failure has been observed recently.

[code]

Rerunning auto test in the CI test pool did not fix this issue.
All following patches in the series were affected if one patch caused this failure.

Updating the patch fixed this issue. But any change was fine. There was no logical relationship between the patch and the result of auto test.

For example, in https://review.spdk.io/gerrit/c/

[2020-06-23 12:29] shuhei-matsumoto commented on #1451
Hi @mhae Sorry for wrong information. The above patch did not work.  Please get review from others. I will continue learning.

[2020-06-23 14:47] mhae commented on #1451
Fix at https://review.spdk.io/gerrit/c/spdk/spdk/+/3018

[2020-06-23 14:56] #1453 closed

[2020-06-24 01:42] optimistyzy commented on #1441
@shuhei-matsumoto  Got it, let's continue watching this issue.

[2020-06-24 01:50] optimistyzy commented on #1453
@dashan8020 When you close this issue. Could update some reasons? Then others can also learn from it.

[2020-06-24 03:29] jasunliu commented on #1454
@changpe1  I modified Cockroachdb's rocksdb default env using SPDK env. The test steps are as follows:
1、sudo ./cockroach start --insecure --store=/data8/cockroach-data --max-sql-memory=.10 --cache=.10 --listen-addr=10.110.10.53:27555 --http-addr=10.110.10.53:8099 --background
2、sudo ./cockroach workload init tpcc --warehouses 6000 'postgresql://root@10.110.10.53:27555?sslmode=disable'

[2020-06-24 09:37] mikeBashStuff opened #1456 "clear_nvme() failed to write to /dev/nvme0n1 in ocf_fio_modes test"
Spotted here: https://ci.spdk.io/results/autotest-per-patch/builds/19166/archive/nvme-phy-autotest/build.log

Point of failure:
[code]

[2020-06-24 10:02] spdkci commented on #1456
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_19170.html

[2020-06-24 10:35] spdkci commented on #1456
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_19174.html

[2020-06-24 11:11] spdkci commented on #1424
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_19179.html

[2020-06-24 16:03] spdkci commented on #1456
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_19183.html

[2020-06-24 17:21] guptask opened #1457 "DPDK fails to initialize for fio plugin"
## Issue
I'm trying to integrate fio plugin with a custom bdev for my project. As first step in this process, I'm trying to run the fio plugin available within spdk/examples/bdev/fio_plugin without any of my changes. I built fio v3.20 and spdk v20.04 using the commands listed in fio plugin README (https://github.com/spdk/spdk/tree/v20.04/examples/bdev/fio_plugin). I'm using the DPDK submodule in t

[2020-06-24 21:44] sqiu110 commented on #1449
Hi @AlekseyMarchuk

Thanks for you kind response. We identified that there are two threads try to lock ctrlr->ctrlr_lock, this is probably the cause.
How do you think?

[2020-06-25 06:00] AlekseyMarchuk commented on #1449
@sqiu110 Yes, accessing controller structure from multiple threads can cause this issue.
Can you provide a call stack of both threads?

[2020-06-25 09:50] mikeBashStuff opened #1458 "[qemu] spdk_tgt receives SIGILL while attempting to attach to a nvme controller"
[code]

Config:
[code]
Qemu's cmdline:
[code]

Whenever any app (`spdk_tgt` is just an example) is run with the above config, it's being immediately killed with `SIGILL`:
[code]

Short bt:
[code]

[spdk_dd_tgt.tar.zip](https://github.com/spdk/spdk/files/4830416/spdk_dd_tgt.tar.zip) - core dump (sorry for the extra. zip, apparently github can't handle a plain .tar archive).

[2020-06-25 09:57] tomzawadzki commented on #1457
Hi @guptask Since this issue occurs at DPDK initialization time, have you been able to reproduce it with other SPDK application ?
First try `hello_world` example as described in https://spdk.io/doc/containers.html

If the above fails too, another thing to try is using `--iova-mode=va` with another application on **latest SPDK master.** As this failure looks similar to https://github.com/spdk/spdk/

[2020-06-25 11:48] spdkci commented on #1425
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_19280.html

[2020-06-25 12:23] AlekseyMarchuk commented on #1450
I prepared a patch to check the length of request https://review.spdk.io/gerrit/c/spdk/spdk/+/3056

[2020-06-25 15:44] jimharris commented on #1458
Was spdk_tgt built on the host or inside the VM?

[2020-06-25 15:48] mikeBashStuff commented on #1458
@jimharris Inside the VM.

[2020-06-25 15:52] jimharris commented on #1458
Do we always use machine=q35 in our tests?

My guess is that we're getting the SIGILL on the SSE2 commands in nvme_pcie_copy_command.  If you're building it inside the VM, it *should* use a normal copy by assignment and not the SSE2 commands. Could you try modifying that function temporarily to remove use of SSE2 in that function and retest?  That will make sure we're going down the right path her

[2020-06-25 16:00] mikeBashStuff commented on #1458
@jimharris This is just my local setup I brought up for  the spdk_dd stuff. Will try to go with you suggestion to see if it helps. thanks!

[2020-06-25 20:40] shuhei-matsumoto commented on #1455
I observed this again, and updated the patch.
https://ci.spdk.io/public_build/autotest-per-patch_19324.html

[2020-06-26 05:29] shuhei-matsumoto commented on #1455
Hi @karlatec @tomzawadzki

This is my estimation but format check detected actual error but the reason of error was not shown, but the above reason was shown instead? So the tool may have the more detailed reason of the error.

[2020-06-26 05:55] shuhei-matsumoto commented on #1455
The above estimation may be correct. The check tool found format error but the reason was

[code]

Is it possible to output more accurate reason to the console? My installed tool could not find the error.

[2020-06-26 06:21] spdkci commented on #1297
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_19367.html

[2020-06-26 06:41] spdkci commented on #1297
Another instance of this failure. Reported by @EugeneKochetov. log: https://ci.spdk.io/public_build/autotest-per-patch_19305.html

[2020-06-26 06:42] spdkci commented on #1297
Another instance of this failure. Reported by @EugeneKochetov. log: https://ci.spdk.io/public_build/autotest-per-patch_19307.html

[2020-06-26 09:20] spdkci commented on #1297
Another instance of this failure. Reported by @jkalwas. log: https://ci.spdk.io/public_build/autotest-per-patch_18894.html

[2020-06-26 09:40] spdkci commented on #1456
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_19263.html

[2020-06-26 09:40] spdkci commented on #1456
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_19255.html

[2020-06-26 12:40] gwnet opened #1459 "ftl bdev emulated zone device interface does not work now, could you please guide me?"
the FTL bdev emulated zone device does not work now.

## Expected Behavior

should works and bdev hello world can run througth on the ftl device.

## Current Behavior

I see this failure log
[code]

## Possible Solution

## Steps to Reproduce

following https://spdk.io/doc/ftl.html
[code]
1. when run scripts/rpc.py bdev_ftl_create -b ftl0 -d zone1, we will see above error log
this is emulate for z

[2020-06-26 13:18] wawryk commented on #1447
Sorry for my late response
this memory leak is in nvmf_example test.
Full log below:
[code]

[2020-06-26 16:16] jkalwas opened #1460 "[nvmf] sigsegv after qpair removed from the poll group"
https://review.spdk.io/gerrit/c/spdk/spdk/+/3091
here is the issue exposed on nvmf_shutdown_tc3 test when qpair->group set to null after removed from the poll group
it might indicate some design / synchronization issue

from "lib/nvmf/ctrlr.c" / spdk_nvmf_request_exec

## Expected Behavior

after qpair removed from the poll group, qpair->group should not be used any longer

## Current Behavior

ru

[2020-06-26 23:58] jolivier23 opened #1461 "If SPDK installed in custom location, links against libraries fail to find dependent libs"
I would like to be able to link with an spdk library and have it find it's dependencies automatically.   It can use DT_RUNPATH for this

-Wl,-rpath=/path/to/install -Wl,--enable-new-dtags

This adds the path to the RPATH in the library.   It may also be helpful to add $ORIGIN into the rpath for finding libraries at runtime even if the library is relocated.

Presently, without -rpath-link being set

[2020-06-28 00:52] changpe1 commented on #1414
Closing this issue as patch was merged.

[2020-06-28 00:52] #1414 closed

[2020-06-28 12:58] spdkci commented on #1424
Another instance of this failure. Reported by @jkalwas. log: https://ci.spdk.io/public_build/autotest-per-patch_19538.html

[2020-06-28 13:39] spdkci commented on #1424
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_19527.html

[2020-06-28 13:40] peluse opened #1462 "[iscsi_tgt_filesystem] iscsiadm: Failed to query iSCSI sessions, error 1: BUG of libopeniscsiusr library"
## Link to the failed CI build

## Execution failed at

[2020-06-28 13:42] spdkci commented on #1462
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_19530.html

[2020-06-29 05:07] spdkci commented on #1456
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_19313.html

[2020-06-29 06:35] optimistyzy commented on #1462
@peluse The log said that it is bug of libopeniscsiusr library, we may firstly mark it as third party issue.

[2020-06-29 11:20] wmalikow commented on #1459
Hi @gwnet ,

**ftl_init.c:1339:ftl_dev_init_base_bdev: *ERROR*: Unsupported block size (512)**
You need format your drive to 4k block size - this is only supported at this moment by FTL.

Thanks,
Wojtek

[2020-06-29 13:38] gwnet commented on #1459
@wmalikow thank you so much. it works. I use malloc device with block size=4096. it works now. :)
[code]

[2020-06-29 13:42] gwnet commented on #1459
@wmalikow I save the configure to json file on above ftl0 device. then I run the bdev_hello with the json file and specify the ftl0 as device to run. but it report error. is it expected that bdev_hello can run through over the ftl?

[code]

[2020-06-29 13:44] gwnet commented on #1459
my json file:
[code]

[2020-06-29 13:57] wmalikow commented on #1459
@gwnet  FTL stores metadata on the drive so you need to use persistent storage to be able to restore - unfortunately you can't restore from bdev_malloc.
If you want to test FTL restore you should do this on real drive - you could use bdev_split to decrease drive size exposed to FTL.
e. g.
$rpc_py bdev_nvme_attach_controller -b nvme0 -a 0000:5e:00.0 -t pcie
$rpc_py bdev_split_create -s $disk_size n

[2020-06-29 14:10] AlekseyMarchuk opened #1463 "[confirm_abi_deps] SO name for libspdk_scsi.so changed without a change to abi. please revert that change."
00:06:40.052  ************************************
00:06:40.052  START TEST confirm_abi_deps
00:06:40.052  ************************************
00:06:44.848  No corresponding object for libspdk_rdma.so in canonical directory. Skipping.
00:06:45.036  SO name for libspdk_scsi.so changed without a change to abi. please revert that change.
00:06:45.519  Processed 56 objects.
00:06:45.519
00:06:45.519

[2020-06-29 14:13] gwnet commented on #1459
@wmalikow thank you so much. I will not play restore for now. but I will test this later following your guide.
I will test uuid all zero for bdev_hello next day. thank you so much. 👍

[2020-06-29 14:13] AlekseyMarchuk commented on #1463
@tomzawadzki  prepared a fix https://review.spdk.io/gerrit/c/spdk/spdk/+/3114

[2020-06-29 15:07] mikeBashStuff commented on #1458
@jimharris With this change (not quite sure if this was the right way to do it), I got the same result (bt looks exactly the same):
[code]

I tried with different `-machine` and `-cpu` options but with no luck.

[2020-06-29 15:24] jimharris commented on #1458
Your changes are correct.  If it's not too much trouble, could you capture a core dump for this modified version as well?

[2020-06-29 15:28] jimharris commented on #1458
Or even better can you just run your app from gdb, and when it crashes type "disass".  That will disassemble the current function.  Scroll through a bit and you'll see an arrow in the far left column pointing to the current PC.  Either that instruction or the one just before it will be the one that is crashing.

[2020-06-29 15:48] mikeBashStuff commented on #1458
@jimharris

Here's the core: [sigill_core.tar.zip](https://github.com/spdk/spdk/files/4846530/sigill_core.tar.zip)

Here's the snippet from the disassemble:
[code]

And here's the full output:

[code]
Let me know if you need any additional info. :)

[2020-06-29 15:55] jimharris commented on #1458
@Seth5141 @karlatec what options do we pass to our QEMU VMs in the test pool?  I'd like @mikeBashStuff to try with those same options here. If he is building the app inside the VM, it shouldn't generate instructions that it can't execute.

[2020-06-29 17:51] guptask commented on #1457
Hi @tomzawadzki thanks for your help. I upgraded my VM to 5.4.0 kernel/ Ubuntu 20.04. This along with the aforementioned spdk patch did the job. I can now run fio plugin. Earlier other applications such as hello world were not running as well.

[2020-06-29 17:51] #1457 closed

[2020-06-29 18:43] mhae commented on #1451
Fixed at: https://github.com/spdk/spdk/commit/89013903fe2910143329ec8567fe9d000eb68c78

[2020-06-29 18:43] #1451 closed

[2020-06-29 20:06] peluse opened #1464 "docs: block device user guide out of date / light on content"
From a slack conversation, community member trying to create a new bdeve module:

the two things that caused the most difficulty for me (as someone just starting out) were, first, this section in the linked doc:
Block device modules are located in subdirectories under lib/bdev today. It is not currently possible to place the code for a bdev module elsewhere, but updates to the build system could b

[2020-06-29 21:51] peluse commented on #1464
be sure to include details on an out of tree bdev moduole

[2020-06-30 02:36] gwnet commented on #1459
@wmalikow  thank you so much. zero uuid works. :)

intel@wcp116:~/wayne/spdk/spdk/examples/bdev/hello_world$ sudo ./hello_bdev --json /tmp/ftl1.json --json-ignore-init-errors -b ftl0
Starting SPDK v20.04.1 git sha1 c5f0959de / DPDK 19.11.2 initialization...
[ DPDK EAL parameters: hello_bdev --no-shconf -c 0x1 --log-level=lib.eal:6 --log-level=lib.cryptodev:5 --log-level=user1:6 --iova-mode=pa --ba

[2020-06-30 02:36] #1459 closed

[2020-06-30 06:32] darsto commented on #1458
@jimharris we don't use Q35 on CI, but I did use it locally and didn't see any problems.

On some machines I see a warning from DPDK when building: "AVX512 support disabled because of binutils 2.30. See Bug 97" - this might be related.

[2020-06-30 06:44] changpe1 commented on #1458
@jimharris @mikeBashStuff commit 44f69a9e already fixed this issue, but this patch didn't backport to LTS.

[2020-06-30 06:46] changpe1 commented on #1458
See related issue #1362

[2020-06-30 06:52] changpe1 commented on #1463
OK, that's reason why I need to bump the version number without changing the public header file.

[2020-06-30 06:52] changpe1 commented on #1463
Closing this issue now as the patch was merged.

[2020-06-30 06:52] #1463 closed

[2020-06-30 07:44] mikeBashStuff opened #1465 "Build timeout during autotest_cleanup"
https://ci.spdk.io/results/autotest-per-patch/builds/19725/archive/iscsi-autotest/build.log - hit timeout during lcov run.

[2020-06-30 07:46] spdkci commented on #1465
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_19725.html

[2020-06-30 08:27] mikeBashStuff commented on #1458
@changpe1 I am building spdk on the VM against the latest master which includes this particular fix.

 I tested it against different qemus (3.1.0, 4.2.0, 5.0.0) and with the same `-cpu|machine` args the Vagrant (`create_vbox.sh`) executes the qemu with, all with the same result. As a last resort, I removed support for CMB from the emulated nvme drives and now apps seem to work, i.e., SIGILL is not

[2020-06-30 08:35] changpe1 commented on #1458
Could you list the drive device ID in your VM? if it used a different device ID, we may need to add it in quirks.

[2020-06-30 08:43] Comphix commented on #1146
Verified the latest code, it seems like this issue is still existing. Need to further debug.

[2020-06-30 08:45] yidong0635 commented on #1447
This issue  can be reproduce with the latest code on fedora30,`./test/nvmf/host/perf.sh --transport=rdma`.
There maybe an error state checking:
After finished the perf testing in a normal case,
@Seth5141
rdma rsps/reqs  are deferred  deletion to pg, but when destroying pg, the qpairs' states are disconnected (not destroying state) in nvme_cleanup_ns_worker_ctx , that leads bypassing the freeing be

[2020-06-30 08:48] mikeBashStuff commented on #1458
@changpe1

Here's how they are defined for the qemu:
[code]

This is how they are seen inside the VM:
[code]

[2020-06-30 08:51] changpe1 commented on #1458
I mean the PCI device ID, such as 0x5845 for QEMU quirks for existing code, if it was already in the quirks list, I think the issue should already be fixed.

[2020-06-30 09:03] mikeBashStuff commented on #1458
@changpe1 Oh, ok, thought you meant the qemu's ids. Here you go:

[code]

[2020-06-30 10:55] changpe1 commented on #1458
Yeah, I believe this issue has been fixed by me, let me try again.

[2020-06-30 11:14] changpe1 commented on #1458
@mikeBashStuff issue #1362 is also reported by you, I've verified again, it works well in my VM, can you try again with master SPDK?

[2020-06-30 11:19] spdkci commented on #1456
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_19993.html

[2020-06-30 11:30] tomzawadzki commented on #1465
This is not a bug, it is directly related to the tested series.

Patch [2898](https://review.spdk.io/gerrit/c/spdk/spdk/+/2898/23) adds 3 minutes to every single job that runs functional tests:
[code]

[2020-06-30 11:30] mikeBashStuff commented on #1458
@changpe1 Still the same. It works only when I remove `cmb_size_mb` arg from the nvme drives.

[2020-06-30 11:34] mikeBashStuff commented on #1465
@tomzawadzki For `spdk_dd_basic_rw` there's no much I can do about it except lowering the number of `spdk_dd` runs.

[2020-06-30 11:38] #1465 closed

[2020-06-30 11:41] wawryk commented on #1458
@mikeBashStuff as I can see You use qemu-4.2.0
in our test pool we use qemu-5.0.0 from here: https://github.com/spdk/qemu/tree/spdk-5.0.0
maybe wrong qemu version caused Your issue ?

[2020-06-30 11:43] tomzawadzki commented on #1462
I would be hesitant to update the open-iscsi initiator outside of the usual packaged versions in distros. Thus suggest leaving it as is.

Noting down for posterity the probable fix:
[bug report](https://bugs.launchpad.net/os-brick/+bug/1814849) -> [supposed fix](https://github.com/open-iscsi/open-iscsi/commit/baa0cb45cfcf10a81283c191b0b236cd1a2f66ee)

[2020-06-30 11:43] mikeBashStuff commented on #1458
@wawryk :)

I don't think there are any VMs on the CI which have CMB enabled on their nvme drives though.

[2020-06-30 12:17] tomzawadzki commented on #1424
This log is unrelated, it does not pertain to Vagrant at all. Tho there is another interesting failure there:
[code]

This log is not related to Vagrant as well.

@karlatec All other logs point to Vagrant setup for FreeBSD job:
[code]
Can you (or @wawryk @mikeBashStuff) please see for anything specific for this VM or if there is possibility for more information what went wrong ?

[2020-06-30 14:06] jimharris commented on #1458
Oh - I didn't know we were using CMB here.

This is related to the issue we tried to fix a couple of weeks ago. It seems that even for direct assignment (rather than explicit SSE) the compiler will still emit SSE instructions. I think for CMB, we need to implement an inline memory copy routine that only copies 4 bytes at a time into the SQ.

I'll create a patch for you to test.

[2020-06-30 14:18] spdkci commented on #1456
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_20024.html

[2020-06-30 14:20] changpe1 commented on #1458
I see, I used Fedora 30 image, it may still happen if we used other images.

[2020-06-30 14:24] spdkci commented on #1448
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_20009.html

[2020-06-30 14:35] mikeBashStuff opened #1466 "Issue with a json configuration"
[code]

Following json configuration doesn't seem to work:
[code]
as each app fails with the following:
[code]
I can't say why it fails though. If I apply the same config via separate rpc calls, everything works just fine:
[code]
Is there something crucial missing from the json?

[2020-06-30 15:11] tomzawadzki commented on #1455
[Bug scrub]: The check_format.sh fails on missing objects from 'mirror' repository for submodules. @mikeBashStuff Can you take a look what might be the cause ?

[2020-06-30 15:14] mikeBashStuff commented on #1455
@tomzawadzki  Sure, will do.

[2020-06-30 15:16] tomzawadzki commented on #1462
[Bug scrub]: Let's leave it up for a week to report intermittent failures against. If no new reports show up, it will be closed.

[2020-06-30 15:25] tomzawadzki commented on #1466
[Bug scrub] What is the source of the first JSON config posted - was it created by hand ?
I don't think we considered either load order of the RPC in config or creation of lvols (since they persist on disk).
I'll take a look at lvols support for such creation/deletion.

[2020-06-30 15:44] mikeBashStuff commented on #1466
@tomzawadzki  Correct, it was created by hand. The idea was to use it with `spdk_dd` directly so all lvols are created in a single app run (instead of also having some other app + rpc.py involved).

[2020-06-30 23:35] spdkci commented on #1422
Another instance of this failure. Reported by @yupeng0921. log: https://ci.spdk.io/public_build/autotest-per-patch_19570.html

[2020-07-01 00:00] jimharris commented on #1458
Please try https://review.spdk.io/gerrit/c/spdk/spdk/+/3135.

[2020-07-01 00:05] jimharris commented on #1427
Hi @zhangsaisai,

Can you try to reproduce with SPDK v20.04 and/or latest master?  That would help us know if the issue still exists or was fixed in one of the releases since SPDK v19.01.

Thanks,

Jim

[2020-07-01 00:07] jimharris commented on #1247
@shuhei-matsumoto - I don't think we've seen this again since you originally reported it in March.  Do you think we can close it?

[2020-07-01 00:52] shuhei-matsumoto commented on #1247
@jimharris @darsto I don't see this issue since I added too. So let me close this. Thanks for crawling the issues.

[2020-07-01 00:52] #1247 closed

[2020-07-01 01:42] glodfish-zg commented on #1447
hi, @yidong0635.  I checked the code and agree with you. I will submit a patch to fix it.

[2020-07-01 03:45] nankcj opened #1468 "when read a sector which write rightnow , the lat is over 3ms"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.write 4096 at offset of : 1901260800
2.then read 4096 at offset :1901260800
3.it cost 4ms

## Context (Environment including OS version, SPDK version, etc.)

[2020-07-01 05:14] changpe1 commented on #1468
@nankcj could you provide more information here, such as the drive's model, and your test utility.

from the description, looks like your need a feature similar with NVMe COMPARE command.

[2020-07-01 06:11] nankcj commented on #1468
@changpe1 thank for your reply ， not NVMe COMPARE command。it‘s performance problem.

We split nvme disk by sector  , which‘s  size is 4k . like sector0-N

read sector8 or sector7 from disk after append sector8 down,

the read command cost to much time , more then 3 ms .

unit test like this:
uint64_t io_size = 4096;
for (int i = 0; i < 30000; ++i) {
    Append(fd, io_buf, io_size, &real_wr_offset)

[2020-07-01 06:16] changpe1 commented on #1468
Did you try to read from a different LBA other that the previous write LBA?
if this issue was gone, it's should be related with controller itself, SPDK may not help for this case.

[2020-07-01 06:24] nankcj commented on #1468
yes，I read the previous LBA ， then  this problem is gone， think for time

[2020-07-01 07:51] Donaim commented on #1183
Closing this for now becase we cannot reproduce the issue and no response from submitter was received in two months

[2020-07-01 07:51] #1183 closed

[2020-07-01 09:33] Comphix commented on #1146
Looks like still need to apply the fio changes in https://review.spdk.io/gerrit/c/spdk/spdk/+/662

For changes in bdev, it looks like not able to solve the issues from fio side.

We rely on some callbacks from the virtual bdev close to trigger the base bdev close. In this case, the base bdev is enabled QoS and there is the active QoS poller on the thread. This poller will be removed if its related

[2020-07-01 10:08] mikeBashStuff commented on #1458
@jimharris With this patch everything works like a charm, thanks! \o/

[2020-07-01 11:03] shuhei-matsumoto opened #1469 "[nvmf_nvme_cli] libspdk_bdev_ocf.so.2.0 was not found"
./nvme: error while loading shared libraries: libspdk_bdev_ocf.so.2.0: cannot open shared object file: No such file or directory

The patch merged today is related with this issue?
https://github.com/spdk/spdk/commit/40d20acb72eeb1bdc6d44faf744f6c149e781dfd

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/20123/archive/nvmf-phy-autotest/build.log

## Execution

[2020-07-01 11:07] spdkci commented on #1469
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_20120.html

[2020-07-01 11:08] spdkci commented on #1469
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_20123.html

[2020-07-01 11:25] spdkci commented on #1469
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_20115.html

[2020-07-01 12:50] mikeBashStuff commented on #1466
@tomzawadzki  Here's some more details about my current use-case for this particular config:
[code]

[2020-07-01 14:56] mhae commented on #1275
@darsto, @yidong0635, sorry for the long delay ... I verified that this fix works with the stock Centos8 driver. Darek, your fix nicely serializes the hot remove and add. I was able to remove all of our devices (up to 24). Great job.
It would be awesome if we could get this fix in rather sooner than later.

[2020-07-02 02:56] zhangsaisai commented on #1427
Hi, @jimharris，
We have investigated this problem about "drop old connections" when node.session.nr_sessions is 300.
According to the iscsi protocol, a session between an iSCSI Initiator and iSCSI Target is defined by a session ID (SSID). The session ID is an element composed of an initiator part (ISID) and a target part (Target Portal Group Tag) group. The ISID is explicitly specified by the init

[2020-07-02 03:13] wanghailiangx commented on #1427
Hi @zhangsaisai,
Thank you for your detailed explanation. Shuhei got to the point. I think this issue can be closed. Thanks.

[2020-07-02 03:37] optimistyzy commented on #1427
@zhangsaisai @shuhei-matsumoto It seems a third party issue, I think that we can close this issue.

[2020-07-02 03:37] #1427 closed

[2020-07-02 05:20] Comphix commented on #1468
Also, as asked before, @nankcj , what's your SSD Drive information here?

[2020-07-02 06:54] spdkci commented on #1469
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_20142.html

[2020-07-02 07:52] tomzawadzki commented on #1469
Hi @shuhei-matsumoto I think this might be related to the [patch ](https://github.com/spdk/spdk/commit/40d20acb72eeb1bdc6d44faf744f6c149e781dfd)you've linked and my series on [nvme-cli](https://review.spdk.io/gerrit/q/topic:%22nvme-cli%22+(status:open%20OR%20status:merged)) .

The series makes it so that nvme-cli repo is cleared between tests and nvmf tests compile the nvme-cli on their own (inste

[2020-07-02 09:41] sunmingbao opened #1470 "errors observed in case 48 SPDK perf processes access 1 single nvme target"
## Expected Behavior

## Current Behavior
errors observed in case 48 SPDK perf processes access 1 single nvme target.

## Possible Solution

## Steps to Reproduce

1. Deploy MOFED 4.7 or 4.9 on host-A.
2. setup a NVMe_OF target with 3 name-spaces on host-A.
3. Reserve 30720MB huge_page (use 2MB pages) memory for the test on host-A.
4. create a shell script launch_perf.sh on host-A with the followi

[2020-07-02 11:05] spdkci commented on #1424
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_20180.html

[2020-07-02 12:15] tomzawadzki commented on #1469
After considering the options, the issue comes not from the series I've linked to.

The reason is that **nvmf** tests don't compile nvme-cli on their own. Build of nvme-cli remains from previous run of **nvme**-phys job. Meaning that patches with parents pointing to different points in time, cause failures between each other.

With that in mind the solution is [here](https://review.spdk.io/gerrit/

[2020-07-02 16:47] AlekseyMarchuk commented on #1450
Commit that added a check for keyed SGL length has been merged, so I'm closing this issue

[2020-07-02 16:47] #1450 closed

[2020-07-02 20:42] spdkci commented on #1462
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_20262.html

[2020-07-02 21:42] shuhei-matsumoto commented on #1469
Thank you @tomzawadzki !

[2020-07-03 01:38] glodfish-zg commented on #1447
@yidong. Please try this patch https://review.spdk.io/gerrit/c/spdk/spdk/+/3136.

[2020-07-03 02:25] yidong0635 commented on #1447
Good. Fixes this issue. Waiting for these patches can be merged.

[2020-07-03 07:48] mikeBashStuff commented on #1458
Fix merged, closing this issue.

[2020-07-03 07:48] #1458 closed

[2020-07-03 09:58] nankcj commented on #1468
@Comphix  Intel P4320

[2020-07-03 10:34] spdkci commented on #1469
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_20322.html

[2020-07-03 10:37] wawryk opened #1471 "Error while loading liburing."
Log:
[code]

Link to full log: [https://ci.spdk.io/results/autotest-per-patch/builds/20317/archive/iscsi-uring-autotest/build.log](url)

[2020-07-03 10:38] spdkci commented on #1471
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_20317.html

[2020-07-03 10:44] spdkci commented on #1469
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_20324.html

[2020-07-03 11:16] spdkci commented on #1471
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_20328.html

[2020-07-03 11:50] spdkci commented on #1456
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_20333.html

[2020-07-03 14:12] spdkci commented on #1469
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_20358.html

[2020-07-03 14:14] spdkci commented on #1469
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_20351.html

[2020-07-03 15:15] spdkci commented on #1469
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_20366.html

[2020-07-03 15:17] spdkci commented on #1469
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_20281.html

[2020-07-03 15:18] spdkci commented on #1469
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_20288.html

[2020-07-03 15:18] spdkci commented on #1469
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_20286.html

[2020-07-03 15:20] spdkci commented on #1469
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_20287.html

[2020-07-03 15:29] spdkci commented on #1469
Another instance of this failure. Reported by @jkalwas. log: https://ci.spdk.io/public_build/autotest-per-patch_20355.html

[2020-07-03 15:34] jkalwas opened #1472 "[autobuild_check_format] naming conv error but function already within the map file"
Issue occurs on patch below
https://review.spdk.io/gerrit/c/spdk/spdk/+/3176
Seems that checker is complaining about function which is already added to nvme.map file.

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/20335/archive/unittest-vg-autotest/build.log

## Execution failed at

00:02:48.539  Checking for proper function naming conventions... found naming

[2020-07-03 16:14] spdkci commented on #1469
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_20375.html

[2020-07-03 16:14] spdkci commented on #1469
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_20371.html

[2020-07-03 17:26] spdkci commented on #1469
Another instance of this failure. Reported by @jkalwas. log: https://ci.spdk.io/public_build/autotest-per-patch_20380.html

[2020-07-03 18:29] peluse commented on #1469
@tomzawadzki FYI I have many patches that are consistently hitting this now - not sure intermittent  is an appropriate label :)

[2020-07-04 00:33] optimistyzy opened #1473 "[nvmf-tcp-uring-vg-autotest]Failure of running nvme perf again nvmf tcp target"
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/20387/archive/nvmf-tcp-uring-vg-autotest/build.log

## Execution failed at

00:05:41.474   17:15:43	# /home/vagrant/spdk_repo/spdk/build/examples/perf -q 128 -o 262144 -w randrw -M 50 -t 2 -r 'trtype:tcp adrfam:IPv4 traddr:127.0.0.1 trsvcid:4420'
00:05:41.491  Starting SPDK v20.07-pre git sha1 2f1c0ee2e / DPDK 19.

[2020-07-04 00:35] optimistyzy commented on #1473
This issue does not happen in physical machine, but we need to track and solve this.

[2020-07-04 08:16] spdkci commented on #1473
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_20404.html

[2020-07-04 08:16] spdkci commented on #1473
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_20406.html

[2020-07-04 09:02] jkalwas opened #1474 "[lvol-vg-autotest] Libvirt, virDomainCreateWithFlags"
Seems like memory allocation issue or miss-configuration.

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/20392/archive/lvol-vg-autotest/build.log

## Execution failed at

00:01:36.367  There was an error talking to Libvirt. The error message is shown
00:01:36.367  below:
00:01:36.367
00:01:36.367  Call to virDomainCreateWithFlags failed: internal error: proce

[2020-07-04 09:03] spdkci commented on #1474
Another instance of this failure. Reported by @jkalwas. log: https://ci.spdk.io/public_build/autotest-per-patch_20392.html

[2020-07-04 09:07] spdkci commented on #1469
Another instance of this failure. Reported by @jkalwas. log: https://ci.spdk.io/public_build/autotest-per-patch_20394.html

[2020-07-04 13:47] spdkci commented on #1473
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_20412.html

[2020-07-06 01:58] optimistyzy commented on #1473
This patch may be the proper fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/3215

[2020-07-06 02:22] glodfish-zg commented on #1470
Hi @sunmingbao. Does this issue occur when the number of cases is smaller? For example, the number is 24.

[2020-07-06 04:50] spdkci commented on #1473
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_20425.html

[2020-07-06 06:07] spdkci commented on #1469
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_20350.html

[2020-07-06 06:09] spdkci commented on #1473
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_20427.html

[2020-07-06 06:59] spdkci commented on #1469
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_20428.html

[2020-07-06 07:26] tomzawadzki commented on #1447
Patches https://review.spdk.io/gerrit/c/spdk/spdk/+/3136 are now merged.
Closing, since they've been confirmed to fix it by @yidong0635.

[2020-07-06 07:26] #1447 closed

[2020-07-06 07:38] mikeBashStuff commented on #1455
Here's an attempt to mitigate this issue: https://review.spdk.io/gerrit/c/spdk/spdk/+/3223.

[2020-07-06 08:24] tomzawadzki commented on #1436
The [patch ](https://review.spdk.io/gerrit/c/spdk/spdk/+/2847) with fix was merged.

[2020-07-06 08:24] #1436 closed

[2020-07-06 08:25] spdkci commented on #1469
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_20384.html

[2020-07-06 08:46] yidong0635 commented on #1470
hi, please try "trsvcid:4420".

[2020-07-06 11:32] spdkci commented on #1469
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_20433.html

[2020-07-06 12:44] spdkci commented on #1456
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_20442.html

[2020-07-06 13:09] spdkci commented on #1473
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_20446.html

[2020-07-06 13:11] spdkci commented on #1469
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_20435.html

[2020-07-06 13:44] spdkci commented on #1469
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_20449.html

[2020-07-06 13:47] spdkci commented on #1471
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_20451.html

[2020-07-06 13:59] spdkci commented on #1469
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_20445.html

[2020-07-06 14:33] spdkci commented on #1469
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_20456.html

[2020-07-06 14:50] spdkci commented on #1469
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_20458.html

[2020-07-06 15:26] Seth5141 commented on #1461
Hello @jolivier23 Thanks for the suggestion. I will look into adding that option for the current release (20.07). It seems like using -rpath will be a nice add-on for convenience. Thanks to the outline you gave in your issue, it should be pretty easy to plumb it through the Makefiles.

In the meantime, may I propose a workaround?

You can specify -rpath when you build your application to achieve t

[2020-07-06 17:16] peluse commented on #1274
@dacrespi checking in to see where things are at on this - sorry it seems have gone without a response for so long. It's good to tag people when you ask a question so it pops up for them.  Incidentally no there is no kernel version requirement for SPDK however if you want to run NVME-oF w/TCP you need that in your kernel but I don't think you're doing anything with that.

Anyway, let us know what'

[2020-07-06 17:20] peluse commented on #1187
Wow, I missed all these updates somehow :)

[2020-07-06 17:21] peluse commented on #1027
This is pretty old, @cighao are you still interested in moving forward on this?

[2020-07-06 17:22] peluse commented on #129
Can we close this?

[2020-07-06 19:03] sitsofe commented on #129
@peluse If you want - this was only informational to let you know about the general issue. I'm not actively using SPDK so I don't have a horse in this race...

[2020-07-06 20:43] Seth5141 commented on #1472
That's an issue with the naming convention script. Fix here. https://review.spdk.io/gerrit/c/spdk/spdk/+/3229

[2020-07-06 22:54] spdkci commented on #1469
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_20454.html

[2020-07-06 23:24] #1469 closed

[2020-07-07 00:17] spdkci commented on #1469
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_20534.html

[2020-07-07 01:43] optimistyzy commented on #129
@peluse  I think that we can close it. Previously, we had a discussion on enabling libiscsi or not. We know that some iSCSI commands which are not supported in iSCSI target.  And there are some conflicts to support both libiscsi, calsoft and UNH for the common features. So We mark this as low priority. I remember previously I also logged a issue with libiscsi issue, but I cannot find it.

[2020-07-07 04:16] optimistyzy commented on #1471
This patch may be helpful: https://review.spdk.io/gerrit/c/spdk/spdk/+/3231

[2020-07-07 04:37] spdkci commented on #1473
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_20556.html

[2020-07-07 06:17] spdkci commented on #1469
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_20584.html

[2020-07-07 07:33] #1473 closed

[2020-07-07 08:10] tomzawadzki commented on #1455
@shuhei-matsumoto From the number of reports, it seems that the 'mirror' repository failed briefly for some reason (connectivity or state of the shared git repo). This was most likely brief occurrence. If it happens again, it should manifest in more expected place during the tests.

The mitigation [patch](https://review.spdk.io/gerrit/c/spdk/spdk/+/3223) posted by @mikeBashStuff was merged. This e

[2020-07-07 08:10] #1455 closed

[2020-07-07 08:57] spdkci commented on #1471
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_20605.html

[2020-07-07 10:10] shuhei-matsumoto opened #1476 "[nvmf-tcp-uring-vg-autotest] nvme_free_request: Assertion `req->num_children == 0' failed"
[code]

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_20601.html

## Execution failed at

[code]

[2020-07-07 10:11] spdkci commented on #1476
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_20601.html

[2020-07-07 10:12] spdkci commented on #1476
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_20600.html

[2020-07-07 11:32] spdkci commented on #1474
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_20630.html

[2020-07-07 13:37] shuhei-matsumoto opened #1477 "[nvmf-tcp-uring-vg-autotest] tcp.c:1658:nvmf_tcp_pdu_ch_handle: *ERROR*: Unexpected PDU type 0xac"
[code]

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_20641.html

## Execution failed at

See the above

[2020-07-07 13:38] spdkci commented on #1477
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_20641.html

[2020-07-07 13:40] spdkci commented on #1471
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_20646.html

[2020-07-07 14:13] spdkci commented on #1471
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_20650.html

[2020-07-07 16:18] mgerdts opened #1478 "iscsi luns on lvols lead to errors from bdev_io_get_buf"
Creating an iscsi lun on a lvol leads to a lot of noise from `spdk_tgt`.  This appears quite frequently:

[code]

A read through #1406 makes me worry that this may be triggering heap corruption.  That is "fixed" but it seems the fix merely papers over a real problem.

## Expected Behavior

Use of default values in creating an lvstore, lvol, and iscsi target should be a happy path without frequent

[2020-07-08 04:12] shuhei-matsumoto opened #1479 "[nvmf-tcp-uring-vg-autotest] spdk_nvme_qpair_process_completion - CQ error - nvmf_target_disconnect test case"
[code]
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_20744.html

## Execution failed at

[code]

[2020-07-08 04:14] spdkci commented on #1479
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_20744.html

[2020-07-08 04:16] spdkci commented on #1456
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_20738.html

[2020-07-08 04:16] spdkci commented on #1456
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_20742.html

[2020-07-08 04:34] spdkci commented on #1476
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_20734.html

[2020-07-08 04:44] shuhei-matsumoto opened #1480 "[iscsi-uring-autotest] Failure description"
Test case tc_ffp_2_1_3 failed, but I'm not sure if this is specific for uring or not.

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_20734.html

## Execution failed at

[code]

[2020-07-08 05:23] AlekseyMarchuk opened #1481 "[iscsi_tgt_filesystem] Warning: Error fsyncing/closing /dev/sdb: Input/output error"
[code]

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_20726.html

## Execution failed at
[code]

[2020-07-08 05:24] spdkci commented on #1481
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_20726.html

[2020-07-08 05:58] optimistyzy commented on #1480
@shuhei-matsumoto  It seems that it is not related with the uring socket.  The expected op is ISCSI_OP_SCSI_DATAIN (0x20), but the received one is ISCSI_OP_NOPIN  (0x20).

[2020-07-08 06:01] optimistyzy commented on #1479
Hi Shuhei, this may be related with your patch.  Currently, I see from the pool, the stable reproduced issue with uring is the perf test  with 256 KB I/O size. Let's keep this open and see whether there are same issues with other patches (unrelated with the change on uring)

[2020-07-08 07:18] optimistyzy commented on #1477
This issue is same phenomenon with #1476 .  Because in the beginning, the error message from the target side is nearly similar.  And it both related with nvme perf on big io size (256KB) with large QD(128). It introduces the R2T pdu. So can we close this issue and only keep #1476?   @shuhei-matsumoto

[2020-07-08 07:29] shuhei-matsumoto commented on #1477
Hi Ziye, Got it. Let's consolidate to #1476. Thank you for your analysis.

[2020-07-08 07:29] #1477 closed

[2020-07-08 07:30] shuhei-matsumoto commented on #1480
Thank you @ZiyeYang I removed "uring" from the title.

[2020-07-08 10:46] xjjx opened #1482 "memory leaks when execute fuzz test"
## Expected Behavior

No memory leaks while executing test: test/fuzz/autofuzz.sh --module=vhost --transport=all

## Current Behavior

Test failed with output about memory leaks.
Please found outputs in attachements:
[vhost_autofuzz_output1.txt](https://github.com/spdk/spdk/files/4890169/vhost_autofuzz_output1.txt)
[vhost_fuzz_tgt_output.txt](https://github.com/spdk/spdk/files/4890170/vhost_fuzz_t

[2020-07-08 13:23] jkalwas opened #1483 "[nvmf_nvme_cli] missing libspdk_accel.so"
Seems some dependency is missing on the CI image.

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/20803/archive/nvmf-phy-autotest/build.log

## Execution failed at

00:03:28.901   13:39:03	# ./nvme discover -t rdma -a 192.168.100.8 -s 4420
00:03:28.904  ./nvme: error while loading shared libraries: libspdk_accel.so.3.0: cannot open shared object file: No such

[2020-07-08 13:24] spdkci commented on #1483
Another instance of this failure. Reported by @jkalwas. log: https://ci.spdk.io/public_build/autotest-per-patch_20808.html

[2020-07-08 13:40] tomzawadzki commented on #1448
[Series](https://review.spdk.io/gerrit/c/spdk/spdk/+/2836) was merged, this issue can be closed.

[2020-07-08 13:40] #1448 closed

[2020-07-08 14:30] jkalwas opened #1484 "support ABI stability for spdk_app_opts"
This public struct defined should allow to provide ABI stability.

## Possible Solution

Follow the pattern for other public struct defined e.g. spdk_nvme_ctrlr_opts.

## Context (Environment including OS version, SPDK version, etc.)

spdk master (0bec3c3c647a492507f27696a647ff1aba2b3a1d)

[2020-07-08 14:32] jkalwas opened #1485 "support ABI stability for spdk_nvmf_transport_opts"
This public struct defined should allow to provide ABI stability.

## Possible Solution

Follow the pattern for other public struct defined e.g. spdk_nvme_ctrlr_opts.

## Context (Environment including OS version, SPDK version, etc.)

spdk master (0bec3c3c647a492507f27696a647ff1aba2b3a1d)

[2020-07-08 15:12] tomzawadzki commented on #1466
### Summary:
The original issue was a misspelling - no bug to fix.
JSON configuration for persistent bdevs (lvol specifically) works, but might run into the same issues as RPC sent in quick succession. This in part is represented by issue #869.

### Details:
Well... turns out this was benign misspelling.
[code]
Notice the `bdev_nvme`, where proper field name is `bdev_name`. Happens to everyone ;)

[2020-07-09 01:44] changpe1 commented on #1446
@wanghailiangx Can we close this issue now?

[2020-07-09 01:46] wanghailiangx commented on #1446
Issue is removed, now we can close it, thanks @changpe1 .

[2020-07-09 01:46] #1446 closed

[2020-07-09 02:10] spdkci commented on #1471
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_20870.html

[2020-07-09 02:18] optimistyzy commented on #1471
Another patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/3261

[2020-07-09 02:39] optimistyzy commented on #1476
@shuhei-matsumoto Checked checked the recent 50 tested patched, I did not see the similar unexpected issue for nvme perf test in the uring environment. I think that this issue is solved by this patch https://review.spdk.io/gerrit/c/spdk/spdk/+/3215.  Let's keep watching for issue for one week.

[2020-07-09 03:30] shuhei-matsumoto commented on #1476
@optimistyzy Yes, please keep monitoring for a while. I saw only once after taking your fix, and I might did mistake when rebasing.

[2020-07-09 03:33] spdkci commented on #1471
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_20924.html

[2020-07-09 04:08] changpe1 commented on #1485
[Bug Scrub]@mkenguva Jim will talk to you about the changes needed. Thanks.

[2020-07-09 04:09] changpe1 commented on #1484
[Bug Scrub] it's not target for 20.07 release.

[2020-07-09 04:11] changpe1 commented on #1483
[Bug Scrub] @Seth5141 Assign the shared library issue to you now, :)

[2020-07-09 04:14] changpe1 commented on #1482
[Bug Scrub] @Donaim could you take a look ? thanks.

[2020-07-09 04:16] changpe1 commented on #1481
[Bug Scrub] Assign to Jim now.

[2020-07-09 04:21] changpe1 commented on #1480
[Bug Scrub]Assign to Shuhei now.

[2020-07-09 04:23] changpe1 commented on #1479
[Bug Scrub] let's keep it open for another week.

[2020-07-09 04:26] changpe1 commented on #1478
[Bug Scrub] @liang2yan could you try to reproduce this issue ?

[2020-07-09 04:29] changpe1 commented on #1460
[Bug Scrub] @jkalwas could you try to run more tests to see if this issue happen again, if not we may close this issue.

[2020-07-09 04:32] changpe1 commented on #1442
[Bug Scrub] @liang2yan will try to reproduce this issue locally.

[2020-07-09 04:34] changpe1 commented on #1476
[Bug Scrub] let's keep it open for another week.

[2020-07-09 04:35] optimistyzy commented on #1471
@Seth5141  What's your option on this shared library issue?  Thanks.

[2020-07-09 05:16] shuhei-matsumoto opened #1486 "[nvmf-tcp-uring] Core dump at sock_uring_group_reap () while bdevperf runs"
[code]

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/20932/archive/nvmf-tcp-uring-vg-autotest/build.log

## Execution failed at

This core dump was analyzed in the following check code.

[code]

[2020-07-09 05:25] shuhei-matsumoto commented on #1486
@Seth5141

Do you find the test case which produced the above stray core file?

-Shuhei

[2020-07-09 05:28] optimistyzy commented on #1486
Hi  @shuhei-matsumoto  I submitted a patch to address this: https://review.spdk.io/gerrit/c/spdk/spdk/+/3262. If the error line is correct in line 929, it means that we detect POLLERR event

[2020-07-09 06:12] shuhei-matsumoto opened #1487 "[nvmf_identify_passthru] nvme_fabric.c: 119:nvme_fabric_prop_get_cmd: *ERROR*: Property Get failed"
Test passed but the following error log was always collected.

`nvme_fabric.c: 119:nvme_fabric_prop_get_cmd: *ERROR*: Property Get failed
`

It will be worth to investigate this.

## Link to the failed CI build

All logs have the same signature. The following is an example.

https://ci.spdk.io/results/autotest-per-patch/builds/20940/archive/nvmf-tcp-uring-vg-autotest/index.html

## Execution faile

[2020-07-09 06:17] shuhei-matsumoto commented on #1486
Thank you @optimistyzy  The patch you wrote looks reasonable to me.
@benlwalker Please take a look.

[2020-07-09 06:23] shuhei-matsumoto commented on #1474
This is not unique in lvol-vg-autotest.
I saw in freebsd-vg-autotest.
https://ci.spdk.io/public_build/autotest-per-patch_20943.html

[2020-07-09 06:26] spdkci commented on #1456
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_20935.html

[2020-07-09 06:28] karlatec commented on #1471
I think you're confusing some of the CI jobs. We don't have iSCSI uring tests running in Vagrant VM's at the moment, only on physical systems.

Looks like it:
[code]

[2020-07-09 06:52] optimistyzy commented on #1471
Hi  Karol, Thanks for your info, the iscsi uring job is running on physical machine with Fedora 30. So I am curious if uring is existing in the library path, while the SPDK iSCSI target can not load this some times.

By the way, My local os is also fedora 30. And if I did not update ldconfig, I cannot directly load liburing.so..

[2020-07-09 06:57] optimistyzy commented on #1471
@karlatec  Could you install liburing library into /lib64 (i.e., /usr/lib64). I checked my machine, if I directly install this library, it works.

[2020-07-09 07:37] spdkci commented on #1483
Another instance of this failure. Reported by @jkalwas. log: https://ci.spdk.io/public_build/autotest-per-patch_20917.html

[2020-07-09 07:44] optimistyzy commented on #1471
This patch does not help on this case, I guess pkg related patch will not execute in physical machines.

[2020-07-09 07:51] spdkci commented on #1456
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_20953.html

[2020-07-09 09:28] jkalwas commented on #1460
is there any particular fix for the issue?

after rebase SPDK CI jenkins gave +1
but Mellanox CI is getting some timeout
https://swx-ci.mellanox.com/spdk/blue/organizations/jenkins/spdk_upstream_ci_ver/detail/spdk_upstream_ci_ver/8701/pipeline

[2020-07-09 09:33] tomzawadzki commented on #1483
This is duplicate of https://github.com/spdk/spdk/issues/1469, please rebase on latest SPDK.

[2020-07-09 09:33] #1483 closed

[2020-07-09 09:35] #1466 closed

[2020-07-09 10:02] cighao commented on #1027
@peluse Yes. I'd like to. Do you have any suggestions?

[2020-07-09 10:09] Donaim commented on #1482
Sure @changpe1 I will take a look this week

[2020-07-09 10:21] spdkci commented on #1297
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_20973.html

[2020-07-09 10:52] spdkci commented on #1424
Another instance of this failure. Reported by @jkalwas. log: https://ci.spdk.io/public_build/autotest-per-patch_20987.html

[2020-07-09 11:28] spdkci commented on #1456
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_20995.html

[2020-07-09 12:14] spdkci commented on #1456
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_20999.html

[2020-07-09 12:15] spdkci commented on #1471
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_21000.html

[2020-07-09 17:50] spdkci commented on #1456
Another instance of this failure. Reported by @jkalwas. log: https://ci.spdk.io/public_build/autotest-per-patch_21010.html

[2020-07-09 22:56] jyizheng opened #1488 "rocksdb.sh not working properly"
Hi experts,

I am trying to run rocksdb with spdk. I downloaded rocksdb code and spdk code in my home directory.
Then I compiled spdk source code successfully. Then, I tried to run test/blobfs/rocksdb/rocksdb.sh.
However, I got an error message below:

=================================================
ar: creating librocksdb.a
  CCLD     db_bench
  popd
~/spdk/test/blobfs/rocksdb
  timing_exit db_

[2020-07-10 03:06] dkuo1 opened #1489 "Compile SPDK but not seeing "fio_plugin" binary generated in ./examples/nvme/fio_plugin/"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1. git clone http://github.com/spdk/spdk
2. git submodule update --init
3. ./scripts/pkgdep.sh --all
4. ./configure  --with-fio=/root/fio/ --with-pmdk=/root/pmdk/ --with-rdma --with-vhost --with-virtio --with-rbd
5. make
6. check if binary show up in ./examples/nvme/fio_plugin/

## Context (Environment includin

[2020-07-10 03:17] Comphix commented on #1489
For latest code, the binaries are under <spdk folder>/build/fio/

[2020-07-10 03:19] Comphix commented on #1489
Here is the related commit: https://github.com/spdk/spdk/commit/c3b5ae0c60463f3d41fcd28c9371de80f52dbfa9

[2020-07-10 04:08] dashan8020 opened #1490 "there is possible invalid memory access when calling "spdk_nvme_connect""
## Expected Behavior
memory access correct

## Current Behavior
check it with valgrind:
==99002== Invalid read of size 4
==99002==    at 0x6BEC110: nvme_ctrlr_identify_id_desc_async_done (nvme_ctrlr.c:1471)
==99002==    by 0x6C0DFA9: nvme_complete_request (nvme_internal.h:1005)
==99002==    by 0x6C0DFA9: nvme_rdma_req_complete (nvme_rdma.c:260)
==99002==    by 0x6C0E12F: nvme_rdma_qpair_abort_reqs

[2020-07-10 05:07] optimistyzy commented on #1489
I also posted in our mailing list about the binary change: https://lists.01.org/hyperkitty/list/spdk@lists.01.org/thread/Y4QUPNKJ7BA435W23NIMQIUV42AKTYOR/

[2020-07-10 05:07] #1489 closed

[2020-07-10 05:22] Donaim opened #1491 "[vagrant up] SSHFS mount failed"
ubuntu18-vg-autotest job failed on `vagrant up`

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_21018.html

## Execution failed at

[code]

[2020-07-10 05:24] spdkci commented on #1491
Another instance of this failure. Reported by @Donaim. log: https://ci.spdk.io/public_build/autotest-per-patch_21018.html

[2020-07-10 07:14] karlatec commented on #1471
Updated VMs and physical systems according to this patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/3261
Let's see if that helps

[2020-07-10 09:13] wanghailiangx opened #1492 "nvme/pci: sometimes D3700 reports "Failed to return from FLR""
Accidentally, D3700 powers off and reports "Failed to return from FLR" during testing. Then "lsblk" can't see it after "script/setup.sh reset", but "lspci" can.

SPDK log as below:  (0000:d9:00.0) is D3700 ssd.
[code]
(All log: https://10.102.17.111:8080/job/prc_opal_end_to_end_reservation_autotest/43/console)

Dmesg log as below:
[code]

## Expected Behavior
D3700 will not shutdown during testing

[2020-07-10 10:36] tomzawadzki commented on #1361
In order to make progress on this GH issue, distinction needs to be made on different parts of it:
1) Ordering of lvols in `test/lvol/tasting.sh` - which was solved in [patch](https://review.spdk.io/gerrit/c/spdk/spdk/+/1973) by @mikeBashStuff. Thanks !

2) Failure in `vhost_scsi_lvol_integrity` with this [log](https://github.com/spdk/spdk/files/4516948/vhost-log.txt) in original submission. It wa

[2020-07-10 10:48] mikeBashStuff commented on #1361
@tomzawadzki Sure, will try to get it done asap.

[2020-07-10 13:19] spdkci commented on #1456
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_21055.html

[2020-07-10 13:21] spdkci commented on #1456
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_21052.html

[2020-07-10 13:46] spdkci commented on #1474
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_21098.html

[2020-07-10 15:41] jimharris commented on #1490
Hi @dashan8020,

Can you provide more details on the application that is calling spdk_nvme_connect?

-Jim

[2020-07-11 07:49] dashan8020 commented on #1490
it is a case of nvme over RDMA, and there are many nvme targets in kernel, and I run spdk_nvme_connect in one thread. and recently I found there are some memory issue and run it with valgrind to debug it. From valgrind stack dump, invalid read happen when "nvme_ctrlr_process_init" failed. I reproduced it many times with valgrind. The dump is same as below, please give some suggestions to debug it.

[2020-07-11 13:27] spdkci commented on #1474
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_21121.html

[2020-07-12 13:55] dashan8020 commented on #1490
it seems "ctrlr" become NULL when error handling in "nvme_ctrlr_identify_id_desc_async_done "

[2020-07-12 14:06] spdkci commented on #1474
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_21131.html

[2020-07-12 16:22] spdkci commented on #1456
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_21148.html

[2020-07-13 01:35] optimistyzy commented on #1486
Close this issue since the patch was merged. @shuhei-matsumoto If there are similar issues, let's reopen this/

[2020-07-13 01:35] #1486 closed

[2020-07-13 01:43] Comphix commented on #1492
@wanghailiangx , what's the firmware version of this D3700? Have you tried to upgrade to a latest firmware? Thanks, Gang.

[2020-07-13 01:51] Comphix commented on #1490
@dashan8020 , could you also list the SPDK commit id as I saw you mentioned "spdk-v20.01.x" branch which looks like not quite clear to me. Thanks.

[2020-07-13 01:55] Comphix commented on #1488
The problem is that there is no bdev (Nvme0n1) found:

nitializing filesystem on bdev Nvme0n1...[2020-07-09 18:40:13.359589] bdev.c:5645:spdk_bdev_open_ext: ERROR: Failed to find bdev with name: Nvme0n1

You may check with you /home/betrfs/spdk/test/blobfs/rocksdb/rocksdb.conf file to see whether this is a Nvme0n1 device configured.

For example, below is my conf content:

cat ../spdk/etc/spdk/roc

[2020-07-13 02:10] dashan8020 commented on #1490
commit 09377fc41fd06e5b98a09bce24ff01567cd87769
Author: Tomasz Zawadzki <tomasz.zawadzki@intel.com>
Date:   Thu Mar 19 07:35:36 2020 -0400

    version: 20.01.2 pre

I think if "nvme_ctrlr_process_init" failed at some stage, the issue will happen when handle the reqs in outstandling queue.
please have a check and suggest me a solution.
thx.

[2020-07-13 02:52] spdkci commented on #1469
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_21071.html

[2020-07-13 02:57] optimistyzy commented on #1471
Close this issue since the patch was merged  (https://review.spdk.io/gerrit/c/spdk/spdk/+/3261). If same issue happens again, we can reopen it.

[2020-07-13 02:57] #1471 closed

[2020-07-13 09:22] wanghailiangx commented on #1492
The firmware is updated, but issue still exist.

[2020-07-13 12:45] mikeBashStuff opened #1493 "Compilation issues under gcc 10"
Couple of issues spotted which have not been seen under older `gcc` releases. It all varies depending on what configure options are actually in use.

1)
`--with-crypto| SPDK_TEST_CRYPTO=1` triggers the following:
[code]

This seem to be related to recent changes in `gcc`, where `-fcommon` is not used by default anymore. Details here: https://gcc.gnu.org/PR85678. Currently, this affects `install_re

[2020-07-13 23:12] peluse opened #1494 "[ocf_fio_modes] dd: error writing '/dev/nvme0n1': Operation not supported"
## Link to the failed CI build

## Execution failed at

[2020-07-13 23:14] spdkci commented on #1494
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_21227.html

[2020-07-13 23:14] spdkci commented on #1494
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_21235.html

[2020-07-13 23:33] peluse commented on #1480
I have a failure too w/calsoft that I'm going to mark as "this one" but I'm not 100% how to find the failing test so will mark as bug scrub

[2020-07-13 23:34] spdkci commented on #1480
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_21223.html

[2020-07-14 06:33] yidong0635 commented on #1493
For issue in nvme_pcie_ut.c,
a patch has already been merged to the master branch, CU_ASSERT(tr.u.sgl[0].address = 0xDEADBEEF); need to submit it to the
v20.04.1  this commit :7641283387e9ed237bbb0824f2a114ad65684172.
For the master branch , I can't see any other issue compiling with   gcc  version 10.1.1 on fedora32.

[2020-07-14 08:15] mikeBashStuff commented on #1494
This looks like a duplicate of #1456.

[2020-07-14 08:19] darsto commented on #1482
I see in the first log:

[code]

This message could be a bit more clear, but it indicates you're trying to share more than 8 memory mappnigs over vhost-user, which is not possible (vhost protocol limitation). This can be fixed by either switching to 1GB hugepages or starting the vhost initiator with '--single-file-segments'. autofuzz.sh should probably have that flag.

[2020-07-14 08:22] liang2yan commented on #1442
I reproduced this issue with spdk 19.04.1 and spdk master branch. The coredump of spdk19.04.1 is as below:

[code]

@zenglg , is this core dump similar to your coredump?

[2020-07-14 08:56] Comphix commented on #1490
I've tried to get that commit and seems that not exactly matching the code lines. Have you made some local changes? Also have you also tried with the latest code? As you mentioned, if the nvme_ctrlr_process_init() failed, normally it means that the ctrlr is not properly initialized and it will need some check of this ctrlr in the later operation.

[2020-07-14 11:31] mikeBashStuff commented on #1361
@tomzawadzki

Running tests against latest master: (`v20.04-rc1-689-gc7d1abba1`), `CONFIG_ASAN=y` set.

1. Running `vhost.sh` standalone. Initially, this was how I managed to reproduce this issue, no luck this time:
[code]
[vhost_512.txt](https://github.com/spdk/spdk/files/4917983/vhost_512.txt)

[code]
[vhost_4096.txt](https://github.com/spdk/spdk/files/4918002/vhost_4096.txt)

2. Attempt to  fol

[2020-07-14 12:51] tomzawadzki commented on #1494
Duplicate of #1456

[2020-07-14 12:51] #1494 closed

[2020-07-14 13:30] wawryk commented on #1474
On WFP1 host added to crontab compact_memory and drop_caches.
Maybe this will help for memory allocation issue.

This issue indicates not enough contiguous free memory.
Anyone know, that HP can be fragmented ?

[2020-07-14 13:33] tomzawadzki commented on #1472
Fix from @Seth5141 has been merged https://review.spdk.io/gerrit/c/spdk/spdk/+/3229. Thanks !

[2020-07-14 13:33] #1472 closed

[2020-07-14 13:37] tomzawadzki commented on #1188
Parameter `--iova-mode <pa/va>` was added in patch https://github.com/spdk/spdk/commit/eb76afe78b5c56281a8d0c987bb38b44186fd043.
This should be sufficient for this enhancement to be fulfilled.

[2020-07-14 14:28] tomzawadzki commented on #1493
I'm on Fedora 32 with `gcc version 10.1.1 20200507` using latest SPDK c7d1abba182857b6bf6e59c6aad3e1a58b0c8ed7.

1. Can confirm that `./configure --with-crypto` produces same error on my system on latest SPDK.
2. Same for `./configure --enable-werror` on latest SPDK.
3. @yidong0635 is right. Latest SPDK has this fixed with patch 7641283387e9ed237bbb0824f2a114ad65684172, which needs to be backporte

[2020-07-14 14:37] tomzawadzki commented on #1482
Marking it as a [bug], since the test (or VM hosting the test) needs to be changed.

[2020-07-14 14:52] tomzawadzki opened #1495 "[artifacts] Missing artifacts from builds"
Some of the builds are missing `build.log` file, while having at least some of the other artifact files.
Does not seem to be reproducible always (checked latest merged patch), but did occur on at least two builds below.
The file is missing on runs from failed and passed tests.

## Link to the failed CI build

[Build 21183](https://ci.spdk.io/public_build/autotest-per-patch_21183.html)
- [nvme-phy-

[2020-07-14 14:54] tomzawadzki commented on #1480
Hi @peluse, I don't think what you've seen is calsoft related - or at least there is no actionable output. Seems that some of the logs are missing `build.log`. For that I've created a new issue https://github.com/spdk/spdk/issues/1495

[2020-07-14 15:06] #129 closed

[2020-07-14 15:09] tomzawadzki commented on #1187
[Bug scrub] @peluse will take a look at POC patch created by @tkulasek to asses if this needs to be developed further (and solves the reported issue).

[2020-07-14 15:10] #1188 closed

[2020-07-14 15:14] tomzawadzki commented on #1361
[Bug scrub] @mikeBashStuff So I'm not really following the point 1. in your comment. Does that mean there is no way to reproduce the issue on latest SPDK ?

[2020-07-14 15:25] mikeBashStuff commented on #1361
@tomzawadzki I wouldn't go that far and say "there is no way" since that I am not 100% sure. :) By 1) I simply meant that I was not able to reproduce the issue with `vhost.sh` the same way as when this issue was opened back in April.

[2020-07-14 15:30] tomzawadzki commented on #1495
[Bug scrub] The build.log artifacts are present on Jenkins side for the two listed builds. @Seth5141 suggests adding better logging for artifact copying to AWS.

[2020-07-14 15:36] tomzawadzki commented on #1474
[Bug scrub] After update done by @wawryk, we will observe for any new issues reported.

[2020-07-14 15:39] tomzawadzki commented on #1442
[Bug scrub] The steps to reproduce seem like it is possible to crash SPDK iSCSI target only using initiator with the right `MaxRecvDataSegmentLength` set up. For that reason marking this issue as critical.

[2020-07-14 15:49] tomzawadzki commented on #1412
[Bug scrub] The patch https://review.spdk.io/gerrit/c/spdk/spdk/+/2590 was merged to SPDK point releases of 20.01 and 20.04, meaning the `vs_dpdk` jobs should not encounter this issue.
For latest SPDK that patch and update to DPDK 20.05 is yet to be done. Along with meson build system update. This is separate task and for that this issue seems resolved.

[2020-07-14 15:49] #1412 closed

[2020-07-14 21:21] spdkci commented on #1297
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_21296.html

[2020-07-15 01:37] shuhei-matsumoto commented on #1442
OK, I take this patch.

[2020-07-15 01:51] dashan8020 commented on #1490
I just add some debug log for the issue, and I think it does not affect the original logic. Did you have similar bug before? I did not try the latest code, and is there relevant update in latest version? I think you can create the issue by setting initialization timeout enough short, because when the issue happen, there was below log:
nvme_ctrlr.c:2539:nvme_ctrlr_process_init: *ERROR*: Initializat

[2020-07-15 02:23] Comphix commented on #1490
What type of NVMe SSD are you using in this case? Is it supporting multiple namespaces? For the operation (state 16) you identified, it is to identify NS.

[2020-07-15 02:58] dashan8020 commented on #1490
Intel p4500/p4510, I don't know whether it support multiple NS, however, we only have 1 NS active in our system.
Sometimes it failed at other state, such as state 8, 18.

[2020-07-15 06:32] spdkci commented on #1424
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_21340.html

[2020-07-15 06:38] liang2yan commented on #1478
I reproduced this issue with specified commit and master branch. the iscsi target reported same error. moreover, if I add "-L bdev" argument(need to enable debug in configuration), the iscsi target will crash. the core dump info is as below:

[code]

[2020-07-15 07:13] spdkci commented on #1495
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_21183.html

[2020-07-15 07:18] tomzawadzki commented on #1361
One last request if I may, is the same true for commit from original submission https://github.com/spdk/spdk/commit/6d3ee836210060c969694a686da5dfbe5facaea6 ?
Just to check if this has been fixed, or the reproduction no longer happens (different device/system/etc).

[2020-07-15 07:40] Comphix commented on #1490
I've taken a look at our recent nvme_rdma.c changes (https://github.com/spdk/spdk/commits/master/lib/nvme/nvme_rdma.c) which looks like several patches are relating to qpair destroy and request abort which is shown in the above core dump stack. If possible, please have a try with the latest SPDK code to check whether this issue is still there in the master branch. What's more, SPDK v20.07 is comin

[2020-07-15 07:41] mikeBashStuff commented on #1361
@tomzawadzki Will check that out.

[2020-07-15 09:43] mikeBashStuff commented on #1361
@tomzawadzki Still can't reproduce. I did spin the same tests on Ubuntu 18.04 as well (previously I tested it on Fedora) but there was no difference, everything seems to just work now. Maybe there was some other `CONFIG_*` I built the spdk with which was causing this issue? (unfortunately, I don't really recall what config I actually used back then).

@Donaim Would you kindly try to reproduce the

[2020-07-15 15:16] spdkci commented on #1424
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_21386.html

[2020-07-15 20:50] spdkci commented on #1424
Another instance of this failure. Reported by @jkalwas. log: https://ci.spdk.io/public_build/autotest-per-patch_21406.html

[2020-07-16 00:14] Seth5141 commented on #1461
Hi @jolivier23 Sorry about the lag time here, I have been getting pulled a lot of different ways lately. I did a quick patch adding the library dir in https://review.spdk.io/gerrit/c/spdk/spdk/+/3361. It concatenates DESTDIR and libdir ($prefix/lib) to come up with the install directory.

Please let me know if this works for your use case.

Thanks,

Seth

[2020-07-16 02:19] optimistyzy commented on #1476
Close this issue since it is not reproduced any more in a week. I think this issue is fixed. @shuhei-matsumoto

[2020-07-16 02:19] #1476 closed

[2020-07-16 02:20] optimistyzy commented on #1479
@shuhei-matsumoto  Also close this issue since we did not see the similar log shown in the CI.

[2020-07-16 02:20] #1479 closed

[2020-07-16 03:50] spdkci commented on #1424
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_21414.html

[2020-07-16 04:07] optimistyzy commented on #1487
I think that this issue was also fixed. So let's close it if there is same issue, Let's reopen it. @shuhei-matsumoto

[2020-07-16 04:07] #1487 closed

[2020-07-16 05:33] dashan8020 commented on #1490
ok, I will try it.

[2020-07-16 07:40] tomzawadzki commented on #1460
The fix for the actual issue looks to be an already merged patch [here](https://review.spdk.io/gerrit/c/spdk/spdk/+/3031).
@jkalwas your [patch ](https://review.spdk.io/gerrit/c/spdk/spdk/+/3091 )will make it easier to catch those errors in the future. Thanks !

[2020-07-16 09:05] Maciej-Szwed opened #1496 "[nvme_cli_build] .git/index: index file smaller than expected"
nvme_cli_build part of tests fails with:

# git clean -dfx
fatal: .git/index: index file smaller than expected

in /var/jenkins/workspace/nvme-phy-autotest/spdk/test/common/autotest_common.sh:851 -> nvme_cli_build([])

Log:
https://10.102.17.111:8080/job/nvme-phy-autotest/18407/console

[2020-07-16 09:07] spdkci commented on #1496
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_21431.html

[2020-07-16 09:07] spdkci commented on #1496
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_21429.html

[2020-07-16 09:09] spdkci commented on #1424
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_21438.html

[2020-07-16 09:10] Maciej-Szwed commented on #1496
Seen only on GrizzlyPass14 server

[2020-07-16 09:12] spdkci commented on #1496
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_21428.html

[2020-07-16 09:14] spdkci commented on #1496
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_21439.html

[2020-07-16 09:14] spdkci commented on #1496
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_21433.html

[2020-07-16 09:22] spdkci commented on #1496
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_21441.html

[2020-07-16 10:37] spdkci commented on #1462
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_21448.html

[2020-07-16 11:23] AlekseyMarchuk commented on #1493
Patch to suppress warnings: https://review.spdk.io/gerrit/c/spdk/spdk/+/3373

[2020-07-16 12:31] spdkci commented on #1460
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_21463.html

[2020-07-16 12:53] wawryk opened #1497 "Can't compile QAT on Fedora31"
Install log:
[code]
Kernel: 5.7.7-100.fc31.x86_64
gcc:
[code]
QAT download link: https://01.org/sites/default/files/downloads//qat1.7.l.4.10.0-00014.tar.gz

[2020-07-16 13:27] spdkci commented on #1496
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_21442.html

[2020-07-16 13:43] tomzawadzki opened #1498 "OCF fails [ocf_persistent_metadata] after update to DPDK 20.05"
As part of preparation for updating DPDK submodule, new branch spdk-20.05 on the DPDK fork was created [here](https://review.spdk.io/gerrit/q/project:spdk%252Fdpdk+branch:spdk-20.05).
Then patch on SPDK side was submitted in order to test the changes [[TEST]dpdk: verify changes to spdk/dpdk branch](https://review.spdk.io/gerrit/c/spdk/spdk/+/2693/5).

Patch set 4 CI run exposes the issue with [thi

[2020-07-16 13:51] spdkci commented on #1460
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_21474.html

[2020-07-16 14:06] Donaim opened #1499 "[nvmf_shutdown_tc3] member access within null pointer"
NVMf tests fail ocassionally due null pointer error
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_21472.html
https://ci.spdk.io/public_build/autotest-per-patch_21445.html

## Execution failed at

[code]

[2020-07-16 14:07] Donaim commented on #1499
similar issues: #1345 #1096

[2020-07-16 14:13] spdkci commented on #1099
Another instance of this failure. Reported by @Donaim. log: https://ci.spdk.io/public_build/autotest-per-patch_21475.html

[2020-07-16 14:37] Donaim commented on #1099
Reopening because still reproduces ^ (1 case found in 3 months, it seems)

[2020-07-16 15:09] spdkci commented on #1499
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_21482.html

[2020-07-16 22:52] spdkci commented on #1496
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_21506.html

[2020-07-16 23:22] Seth5141 commented on #1416
Hi @mhae,

Sorry for the long delay on this one, I didn't realize I was assigned and was just pinged on it a couple of days ago. Also, I apologize for the long post. This one is a bit hard for me to wrap my head completely around.

I have read through all of the comments here, and I *think* I understand what is going on here, but I just want to make sure that I do. According to what I have read, t

[2020-07-16 23:38] Seth5141 commented on #1496
Also saw this on GP12

[2020-07-16 23:40] spdkci commented on #1496
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_21507.html

[2020-07-17 00:14] spdkci commented on #1496
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_21515.html

[2020-07-17 02:22] spdkci commented on #1496
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_21522.html

[2020-07-17 02:34] spdkci commented on #1499
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_21445.html

[2020-07-17 07:06] spdkci commented on #1499
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_21472.html

[2020-07-17 07:08] karlatec commented on #1496
Proposed fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/3415

However this only mitigates the issue. It does not address the root cause why .git/index get corrupted (currently I have no idea why:P, still looking for answers)

[2020-07-17 07:11] spdkci commented on #1496
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_21523.html

[2020-07-17 07:19] optimistyzy opened #1500 "[nvmf-phy-test] fatal: .git/index: index file smaller than expected"
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/21508/archive/nvme-phy-autotest/build.log

## Execution failed at

 01:09:14	# git clean -dfx
00:03:39.038  fatal: .git/index: index file smaller than expected
00:03:39.038    01:09:14	# trap - ERR
00:03:39.038    01:09:14	# print_backtrace
00:03:39.038    01:09:14	# [[ ehxBET =~ e ]]
00:03:39.039    01:09:14	# ar

[2020-07-17 07:35] tomzawadzki commented on #1500
Duplicate of #1496

[2020-07-17 07:37] tomzawadzki commented on #1499
Probably a result of issue https://github.com/spdk/spdk/issues/1460

[2020-07-17 07:37] #1500 closed

[2020-07-17 09:06] darsto commented on #1275
I rebased the patch series and have put the tests at the very end, so the fixes could be merged first - possibly before the 20.07 release.

With all those patches I can't find any more cases that break hotplug/hotremove anymore. Top here: https://review.spdk.io/gerrit/c/spdk/spdk/+/3429/1

[2020-07-17 11:51] Donaim commented on #1316
I am working on bdevperf changes and don't have time to investigate this issue currently
But I will come back to this after bdevperf is done

[2020-07-17 15:00] spdkci commented on #1496
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_21508.html

[2020-07-17 18:40] Seth5141 commented on #1416
Hi @mhae Here is my proposed solution to the problem. It's a little bit messy, but I think I got my main idea in code so that you could test it out. Please let me know what you think. https://review.spdk.io/gerrit/c/spdk/spdk/+/3437

[2020-07-17 18:55] mhae commented on #1416
Hey @Seth5141 , sorry I got stuck in some meetings. Before I go into the code review, let me give you some more details.

The scenario is where are drive gets hot removed/inserted in quick succession. We detect when a new drive is added and add it to a pre-configured subsystem. In other words, we have a lot of removes/adds happen to a subsystem. Now, when a drive is added to a subsystem via the RP

[2020-07-18 12:30] Czezary commented on #1499
Proszę to naprawić

[2020-07-19 22:35] peluse opened #1501 "[spdkcli_rbd] rmdir: failed to remove '/var/run/dpdk/spdk0': Directory not empty"
## Link to the failed CI build

## Execution failed at

[2020-07-19 22:36] spdkci commented on #1501
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_21703.html

[2020-07-20 00:55] changpe1 commented on #1492
The firmware may run into some unrecoverable fatal errors, you may dump the CSTS.CFS bit after this error.  I think this may related with firmware, if you can confirm which test cases cause this issue, we can skip this tests for this drive.

[2020-07-20 01:05] changpe1 commented on #1488
@Comphix is right. There is no PCIe based NVMe SSD in your system, you should use scripts/setup.sh to bind one PCIe SSD first. We are going to drop the configuration support in future but still can support it for now.  @jyizheng I'm going to close this issue.

[2020-07-20 01:05] #1488 closed

[2020-07-20 01:15] changpe1 commented on #1002
Mark this issue as third party issue.  Optane SSD uses bit based medium, so when formatting a namespace or doing security revert operation, the drive will take much longer time that NAND based SSDs, our test case will be aborted after 15m, the drive may still in the revert status.

For now we enabled the OPAL tests with P4510 drives, so closing this issue for now.

[2020-07-20 01:15] #1002 closed

[2020-07-20 01:25] changpe1 commented on #1099
There is no error log in overwrite test case, the overwrite test finished normally, let's keep it open for a while to see if can have more error information to help debugging.

[2020-07-20 12:36] mikeBashStuff opened #1502 "[bdev_hello_world] hello_bdev fails with EIO"
https://ci.spdk.io/results/autotest-per-patch/builds/21758/archive/nvme-phy-autotest/build.log

Point of failure:
[code]
Config was loaded successfully before by `spdk_tgt` (however, it also reported the `*ERROR*: Gpt: bdev=Nvme0n1 io error status=0`), test failed while performing an actual write to bdev.

Spotted only on `GP_GREEN`.

[2020-07-20 12:36] spdkci commented on #1502
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_21758.html

[2020-07-20 12:37] spdkci commented on #1502
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_21762.html

[2020-07-20 12:38] spdkci commented on #1502
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_21760.html

[2020-07-20 14:09] spdkci commented on #1501
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_21769.html

[2020-07-20 14:11] spdkci commented on #1501
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_21774.html

[2020-07-20 14:11] spdkci commented on #1501
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_21772.html

[2020-07-20 14:12] mikeBashStuff commented on #1501
Please, disregard the above failures from me, I mistaken the issue id with #1502. :)

[2020-07-20 14:47] peluse commented on #1497
The correct support path for things like this is to email "dev@dpdk.org" with the details.

[2020-07-20 14:48] peluse commented on #1502
Can anyone briefly explain how/where OCF is involved in this test?

[2020-07-20 14:52] peluse commented on #1274
@dacrespi is there anything else that you need on this or is it OK to close?

[2020-07-20 14:54] peluse commented on #1187
FYI I left a question/comment on the patch.

[2020-07-20 15:16] spdkci commented on #1502
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_21784.html

[2020-07-20 16:08] spdkci commented on #1502
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_21766.html

[2020-07-20 19:16] spdkci commented on #1502
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_21776.html

[2020-07-20 19:18] spdkci commented on #1502
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_21799.html

[2020-07-20 20:02] spdkci commented on #1502
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_21803.html

[2020-07-20 20:16] spdkci commented on #1460
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_21669.html

[2020-07-20 20:16] spdkci commented on #1460
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_21670.html

[2020-07-20 20:16] spdkci commented on #1460
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_21671.html

[2020-07-20 20:49] spdkci commented on #1460
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_21804.html

[2020-07-20 20:51] Seth5141 commented on #1460
This issue appears to be related to a race condition on qpair destruction within the TCP transport in general. The backtraces on the last three failures I pointed out show that the qpair->group pointer was already NULL when we tried to set the sgroup pointer. There is an assumption built into nvmf_qpair_request_exec that this will not be the case. I think that the main thing we need to worry about

[2020-07-21 00:27] changpe1 commented on #1502
@mikeBashStuff could you dump the smartlog information of this drive, there are many IO errors from this drive even with kernel driver. I guess this drive was broken.

[275808.394494] nvme nvme0: 128/0/0 default/read/poll queues
[275808.417981] print_req_error: 20 callbacks suppressed
[275808.417983] blk_update_request: operation not supported error, dev nvme0n1, sector 0 op 0x0:(READ) flags 0x0 p

[2020-07-21 00:34] changpe1 commented on #1502
For other tests which passed with this environment, the drive is P4800X, but the health status shows that it's good.

[2020-07-21 00:51] changpe1 commented on #1501
00:10:34.202   19:42:12	# /home/vagrant/spdk_repo/spdk/scripts/setup.sh cleanup
00:10:35.054  Cleaning
00:10:35.059  Still open: /run/dpdk/spdk0/config
00:10:35.063  Still open: /run/dpdk/spdk0/fbarray_memseg-2048k-0-0
00:10:35.066  Removing:    /run/dpdk/spdk0/fbarray_memseg-2048k-0-0_41498
00:10:35.072  Still open: /run/dpdk/spdk0/fbarray_memseg-2048k-0-1
00:10:35.075  Removing:    /run/dpdk/spd

[2020-07-21 02:05] changpe1 commented on #1442
@shuhei-matsumoto As Liang can reproduce very easily, so I'm working with Liang to fix this issue now, thanks.

[2020-07-21 02:09] shuhei-matsumoto commented on #1442
@changpe1 @liang2yan

Thank you. I'm reading the code a little but haven't written any patch yet. So that's nice if you pick this.

[2020-07-21 04:18] spdkci commented on #1423
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_21862.html

[2020-07-21 04:48] changpe1 commented on #1442
I root cause the issue, because SPDK doesn't support long text responses defined in RFC3720 10.10.4 now, so here I just post a fix the address the coredump issue and leave this as an enhancement feature after 20.07 release. Here is the patch : https://review.spdk.io/gerrit/c/spdk/spdk/+/3454

[2020-07-21 04:52] Comphix commented on #1442
Thanks @changpe1 , please also add a new feature request in SPDK trello for this enhancement.

[2020-07-21 07:43] spdkci commented on #1460
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_21806.html

[2020-07-21 09:24] #1496 closed

[2020-07-21 10:21] spdkci commented on #1499
Another instance of this failure. Reported by @EugeneKochetov. log: https://ci.spdk.io/public_build/autotest-per-patch_21891.html

[2020-07-21 13:53] spdkci commented on #1499
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_21919.html

[2020-07-21 14:11] peluse opened #1503 "[nvme-phy-autotest] Build timed out"
## Link to the failed CI build

## Execution failed at

[2020-07-21 14:12] spdkci commented on #1503
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_21824.html

[2020-07-21 14:14] spdkci commented on #1503
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_21832.html

[2020-07-21 15:20] AlekseyMarchuk commented on #1493
@mikeBashStuff the patch is merged, could you verify that compilation works?

[2020-07-21 17:47] mikeBashStuff commented on #1493
@AlekseyMarchuk I am afraid I get the very same results:
[code]

Test for `--enable-werror`:
[code]

Test for `--with-crypto`:
[code]

[2020-07-21 18:35] mikeBashStuff commented on #1497
It seems like QAT left a bit behind: https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/commit/?h=v5.7.9&id=894020fdd88c1e9a74c60b67c0f19f1c7696ba2f

[2020-07-21 18:40] mikeBashStuff commented on #1497
So technically, this could be fixed by simply renaming the function to `pci_aer_clear_nonfatal_status`, however,
 the old issue with `timespec`, which was reported here https://github.com/spdk/spdk/issues/1396,  is unfortunately still present.

[2020-07-21 18:51] spdkci commented on #1424
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_21959.html

[2020-07-21 21:23] spdkci commented on #1499
Another instance of this failure. Reported by @mkenguva. log: https://ci.spdk.io/public_build/autotest-per-patch_21986.html

[2020-07-21 21:36] mhae opened #1504 "nvmf/rdma: Bogus? error message when initiator is killed"
With 20.07-pre, killing an initiator like perf against a RDMA subsystem logs the following error messages:
[code]

It is unclear if these messages are benign or represent an actual issue. At a minimum these messages should be a warning with additional text that clarifies the issue (like a remote connection terminated unexpectedly).

## Steps to Reproduce

0. CX5 and 2 systems, connected with a pat

[2020-07-21 23:04] Seth5141 commented on #1460
Fix here. https://review.spdk.io/gerrit/c/spdk/spdk/+/3451 We were still processing requests even after the qpair was no longer in the active state. That shouldn't be the case. This change brings us more into line with how the RDMA transport does things.

[2020-07-22 02:45] spdkci commented on #1424
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_22000.html

[2020-07-22 03:09] yidong0635 opened #1505 "some servers run perf failed"
# Issue
[code]

This can't killed by` ctrl+c`  or `kill -9  479404 `:
[code]
:
and process can't be killed

ethtool -i enp216s0:
[code]
ethtool enp216s0:
`Link detected: no`
## Steps to Reproduce
[code]
## Context (Environment including OS version, SPDK version, etc.)
OS: 5.0.16-100.fc28.x86_64
commit: e63eb0375d9c02aa18ffaf3287ce44714df565f3

[2020-07-22 04:36] spdkci commented on #1499
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_22014.html

[2020-07-22 05:12] AlekseyMarchuk commented on #1504
I'll try to reproduce this issue. I've never seen it in my practice. But I agree, it should be a warning with clear description

[2020-07-22 06:18] AlekseyMarchuk commented on #1493
Hi @mikeBashStuff sorry I did a mistake in my previous commit, I used incorrect variable to determine compiler type, so flags to suppress those warnings were not applied. I fixed it in this patch https://review.spdk.io/gerrit/c/spdk/spdk/+/3472. Could you verify it please?

[2020-07-22 06:36] AlekseyMarchuk commented on #1504
That is strange but now these errors occur very often. As I said, I've never seen them before. I'll try to find why they started to appear

[2020-07-22 07:14] xjjx commented on #1482
I've tried to set HUGEMEM=1024 and added "-g" parameter to vhost. Unfortunately this didn't help much.
In logs there is information that at least "-g"  (single file segments) was used:

[vhost_autofuzz_output1.txt](https://github.com/spdk/spdk/files/4958397/vhost_autofuzz_output1.txt)
[vhost_fuzz_tgt_output.txt](https://github.com/spdk/spdk/files/4958398/vhost_fuzz_tgt_output.txt)

[2020-07-22 07:34] spdkci commented on #1499
Another instance of this failure. Reported by @EugeneKochetov. log: https://ci.spdk.io/public_build/autotest-per-patch_21901.html

[2020-07-22 07:34] mikeBashStuff commented on #1493
@AlekseyMarchuk With this patch in place everything compiles nicely, thanks! :)

[2020-07-22 07:56] AlekseyMarchuk commented on #1504
This happens due to patch which set `qpair.group = NULL` when the qpair is removed from a poll group, so we can't get a thread when we are handling LAST_WQE_REACHED.
As I see, we can get an access to the poll group in a bit longer way, at least this pointer is not zerofied while we are destroying qpair.
I prepared a patch to address this problem https://review.spdk.io/gerrit/c/spdk/spdk/+/3475, it

[2020-07-22 08:03] AlekseyMarchuk commented on #1503
Git works too slow, I met similar problem:
[code]

[2020-07-22 08:04] spdkci commented on #1503
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_22022.html

[2020-07-22 08:20] spdkci commented on #1499
Another instance of this failure. Reported by @Donaim. log: https://ci.spdk.io/public_build/autotest-per-patch_22017.html

[2020-07-22 08:26] spdkci commented on #1424
Another instance of this failure. Reported by @Donaim. log: https://ci.spdk.io/public_build/autotest-per-patch_22027.html

[2020-07-22 08:28] spdkci commented on #1424
Another instance of this failure. Reported by @Donaim. log: https://ci.spdk.io/public_build/autotest-per-patch_21989.html

[2020-07-22 12:09] spdkci commented on #1499
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_22036.html

[2020-07-22 12:11] spdkci commented on #1499
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_22015.html

[2020-07-22 12:33] mikeBashStuff opened #1506 "Build timeout [centos7-vg-autotest]"
`copy_or_clone.sh` failed on `git fetch`, timing out the build:

https://ci.spdk.io/results/autotest-per-patch/builds/22051/archive/centos7-vg-autotest/build.log

Point of failure:
[code]
This took ~12 minutes and didn't actually fetch the entire tree:
[code]
where the patchsets tree looks like so: https://review.spdk.io/gerrit/c/spdk/spdk/+/3479/2

[2020-07-22 12:34] spdkci commented on #1506
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_22051.html

[2020-07-22 12:37] jkalwas commented on #1460
Hi @Seth5141
isn't it worth to mark this condition
`if (tqpair->qpair.state != SPDK_NVMF_QPAIR_ACTIVE)`
as unlikely as it is a "hot path"

[2020-07-22 12:43] spdkci commented on #1499
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_21777.html

[2020-07-22 13:21] spdkci commented on #1499
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_22032.html

[2020-07-22 13:29] spdkci commented on #1499
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_22033.html

[2020-07-22 16:49] Seth5141 commented on #1504
@AlekseyMarchuk I like your solution. I have an additional alternative that I mentioned in the comments of your change, but am happy to merge your change as is.

[2020-07-22 16:53] Seth5141 commented on #1460
@jkalwas Yes. There should be a similar check in RDMA as well. I'll push a change. Meanwhile, I am going to close this issue for the time being since the change has been merged, and we also have #1499 to track latent failures for patches that haven't been merged.

[2020-07-22 16:53] #1460 closed

[2020-07-22 17:23] spdkci commented on #1504
Another instance of this failure. Reported by @jkalwas. log: https://ci.spdk.io/public_build/autotest-per-patch_22091.html

[2020-07-23 00:28] changpe1 commented on #1442
Patch has been merged, so remove the Critical bug label, leave this as a enhancement feature in next release.

[2020-07-23 00:31] changpe1 commented on #1506
it's same with #1503 .

[2020-07-23 00:33] changpe1 commented on #1505
@yidong0635 could you also post the target log here? thanks.

[2020-07-23 00:46] changpe1 commented on #1499
let's keep it open for a while to see the issue is still exist or not.

[2020-07-23 02:03] changpe1 commented on #1478
I can also reproduce in my local, I'm debugging this issue now.

[2020-07-23 02:24] yidong0635 commented on #1505
@changpe1  I just run this :`./test/nvmf/host/perf.sh --transport=rdma` directly.
I'm clear that RDMA cable had been removed from the server, but it should not can't be killed.

[2020-07-23 02:41] spdkci commented on #1424
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_22171.html

[2020-07-23 02:42] Comphix commented on #1505
Seems that the below operation fails

ret = nvme_rdma_process_event(rqpair, rctrlr->cm_channel, RDMA_CM_EVENT_ESTABLISHED);

@yidong0635 , do you mean there is no RDMA cable linked between two servers? This issue is from the host side when setting the transport to rdma?

[2020-07-23 02:49] yidong0635 commented on #1505
@Comphix  yes, I checked the server or using this command to check.
ethtool enp216s0:
Link detected: no

[2020-07-23 04:25] Comphix commented on #1505
# ping 192.168.1.1
PING 192.168.1.1 (192.168.1.1) 56(84) bytes of data.
64 bytes from 192.168.1.1: icmp_seq=1 ttl=64 time=0.044 ms
^C
--- 192.168.1.1 ping statistics ---
1 packets transmitted, 1 received, 0% packet loss, time 0ms
rtt min/avg/max/mdev = 0.044/0.044/0.044/0.000 ms

# ./perf -q 1 -o 4096 -w randrw -M 50 -t 1 -r 'trtype:RDMA adrfam:IPv4 traddr:192.168.1.1 trsvcid:4420'
Starting SPDK v

[2020-07-23 04:35] Comphix commented on #1505
Also added more about my NIC used where the link is On and different than yours @yidong0635

root@storage35:/home/gangcao/spdk/build/examples# ethtool ens1f0 | grep -i link
        Supported link modes:   1000baseKX/Full
        Advertised link modes:  1000baseKX/Full
                               link
        Link detected: yes
root@storage35:/home/gangcao/spdk/build/examples# ethtool -i ens1f0

[2020-07-23 04:39] Comphix commented on #1505
Changed the links status to No and looks like a different error stack report.

This time did not fail at nvme_rdma_connect()

root@storage35:/home/gangcao/storage17/spdk/build/examples# ethtool ens1f0 | grep -i link
        Supported link modes:   1000baseKX/Full
        Advertised link modes:  1000baseKX/Full
                               link
        Link detected: no
root@storage35:/home/gangc

[2020-07-23 04:44] changpe1 commented on #1478
I pushed a fix patch for this issue https://review.spdk.io/gerrit/c/spdk/spdk/+/3495.

[2020-07-23 04:53] changpe1 commented on #1482
Put "-g" parameter in fuzz client can work for this issue, vhost target doesn't need -"g" parameter.

[2020-07-23 06:28] AlekseyMarchuk commented on #1504
I updated my patch with new solution

[2020-07-23 06:36] spdkci commented on #1499
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_22075.html

[2020-07-23 06:39] spdkci commented on #1503
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_22054.html

[2020-07-23 07:14] yidong0635 commented on #1505
@Comphix
I can confirm it holds by "`rdma_destroy_id`", and  Don't we need to clear something  if _nvme_rdma_ctrlr_connect_qpair failed somewhere?
For example "rqpair->cm_id" .
@AlekseyMarchuk @Seth5141 @benlwalker @changpe1

[2020-07-23 07:38] AlekseyMarchuk commented on #1505
Hi, rdma_destroy_id waits for completion of all events submitted to kernel driver, that is why it can freeze. I'll try to reproduce it next week.

[2020-07-23 08:25] tomzawadzki commented on #1493
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/3472 is now merged. Thanks @AlekseyMarchuk !

[2020-07-23 08:25] #1493 closed

[2020-07-23 08:45] spdkci commented on #1499
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_22064.html

[2020-07-23 14:31] mikeBashStuff commented on #1506
Duplicate of #1503, closing.

[2020-07-23 14:31] #1506 closed

[2020-07-23 14:56] jolivier23 commented on #1461
Hi Seth, that should work.  I'm out for a couple of days but will try next week.  In the meantime, I looked at the diff.   You might also want to add --Wl,--enable-new-dtags at least for older linkers as it changes the default to RUNPATH from RPATH.   This means that LD_LIBRARY_PATH will take precedence if set which is generally desired.  RPATH is deprecated but many systems still have it as the d

[2020-07-23 15:05] mikeBashStuff commented on #1502
Attaching output from different log requests, including SMART:
[nvme_drive.log](https://github.com/spdk/spdk/files/4966861/nvme_drive.log)

Can't really see anything critical going on the drive right now so it would seem this issue is gone now (at least most of the recent builds coming through this box are green). Though it's to note that this systems was rebooted couple of days ago. So maybe this

[2020-07-23 20:04] spdkci commented on #1499
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_22316.html

[2020-07-23 22:32] spdkci commented on #1424
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_22308.html

[2020-07-24 10:50] spdkci commented on #1503
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_22511.html

[2020-07-24 11:14] #1440 closed

[2020-07-24 16:59] tomzawadzki commented on #1498
Can't really figure out what change in DPDK 20.05 exposes this issue, but that seems to be a bug in vbdev_ocf.

What happens here are following steps:
1) `ocfWB1` advances through `unregister_path_dirty`
2) on `stop_vbdev` due to `g_fini_started` the cache instance is `ocf_mngt_cache_stop`d
3) In OCF this is last reference to the cache and thus `vbdev->ocf_cache` is freed
4) Next in line is `ocfWB

[2020-07-24 17:18] mhae opened #1507 "nvmf/rdma: nvmf_tgt non responsive after multiple initiator connects/disconnects"
We are seeing issues with nvmf_tgt (RDMA) when running load for a long time (> 8h). After a while the target becomes unresponsive and has to be restarted.
We can reproduce this behavior consistently after 30m with the following stress test set up:
- 2 systems with CX5 and direct connection
- nvmf_tgt -m -0xf
- 24 subsystems each one NVMe drive
- 2 perf commands running in a loop constantly against

[2020-07-24 19:52] mhae commented on #1507
Update: The _nvmf_rdma_try_disconnect is triggered here with an empty group:
[code]

[2020-07-24 20:06] jimharris commented on #1507
Hi @mhae,

Do you have any local patches or anything on this system?  The line numbers don't exactly match up with latest master.

The call stack also seems to indicate that _nvmf_rdma_try_disconnect() is calling itself recursively, but on master that is an spdk_thread_send_msg(), not a direct recursive call.

-Jim

[2020-07-24 20:35] mhae commented on #1507
Hey @jimharris , this is top of tree I'm on:
commit 29bbb9ba9cfeb6c819137f28d40fcfe7e7fd18b1 (HEAD -> master, origin/master, origin/HEAD)

and I have this local change:
[code]

It seems the target his getting a disconnect event while accepting a connection. I modified NVME_RDMA_QPAIR_CM_EVENT_TIMEOUT_US to 4s from 1s to see if makes a difference.
But please remember that this could be a symptom. T

[2020-07-24 21:00] mhae commented on #1507
After changing NVME_RDMA_QPAIR_CM_EVENT_TIMEOUT_US it takes longer to hit the use after free.
As mentioned the IOPS slow down quite a bit and some of the initiators stay at 0 IOPS. This is also evident in spdk_top that shows nvmf_tgt_poll_groups to be idle and no longer busy:
![image](https://user-images.githubusercontent.com/6045616/88434529-9cb76880-cdbd-11ea-95f6-d206d08950c2.png)
The initiator

[2020-07-25 12:08] spdkci commented on #1503
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_22912.html

[2020-07-25 18:38] AlekseyMarchuk opened #1508 "[freebsd-vg-autotest] Build timed out"
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_23105.html

## Execution failed at

[code]

[2020-07-27 00:19] changpe1 commented on #1478
@mgerdts patch has been merged, instead of adjusting the SPDK_BDEV_POOL_ALIGNMENT value in bdev layer, I adjusted the data alignment in AIO bdev layer, the issue already fixed in my local, closing this patch for now, you can reopen it if it still exist in your environment.

[2020-07-27 00:19] #1478 closed

[2020-07-27 00:23] changpe1 commented on #1468
I think the behavior is related with the NVMe's firmware implementation, it's not a SPDK issue.

[2020-07-27 04:24] rakeshranjan-gh opened #1509 "SPDK Application crashed in nvme_transport_qpair_abort_reqs() while IO qpair cleanup against a dead secondary process"
SPDK Application crashed in nvme_transport_qpair_abort_reqs() while cleaning up dead secondary process with the follow stack trace.

------------------------------------------------------------------------------------------------------------------
Program terminated with signal SIGSEGV, Segmentation fault.
#0  nvme_transport_qpair_abort_reqs (qpair=0x200043c04618, dnr=1) at nvme_transport.c:347
34

[2020-07-27 04:27] rakeshranjan-gh commented on #1509
(gdb) p {struct spdk_nvme_qpair} 0x200043c04618
$2 = {
  ctrlr = 0x200009e8a980,
  id = 3,
  qprio = 0 '\000',
  state = 6 '\006',
  in_completion_context = 0 '\000',
  delete_after_completion_context = 0 '\000',
  no_deletion_notification_needed = 1 '\001',
  first_fused_submitted = 0 '\000',
  trtype = SPDK_NVME_TRANSPORT_PCIE,
  free_req = {
    stqh_first = 0x20005d8ffac0,
    stqh_last = 0x20

[2020-07-27 04:29] rakeshranjan-gh commented on #1509
`diff --git a/lib/nvme/nvme_transport.c b/lib/nvme/nvme_transport.c
index 7279badda..a7c6338a2 100644
--- a/lib/nvme/nvme_transport.c
+++ b/lib/nvme/nvme_transport.c
@@ -343,13 +343,9 @@ nvme_transport_qpair_abort_reqs(struct spdk_nvme_qpair *qpair, uint32_t dnr)
        const struct spdk_nvme_transport *transport;

        assert(dnr <= 1);
-       if (spdk_likely(!nvme_qpair_is_admin_queue(qpair

[2020-07-27 04:30] rakeshranjan-gh commented on #1509
![image](https://user-images.githubusercontent.com/68837087/88503670-4433c700-cf87-11ea-8b86-e010d75fa2f1.png)

[2020-07-27 05:19] shuhei-matsumoto commented on #1509
Hi @rakeshranjan-gh

Thanks for posting the issue. I think your proposed fix is reasonable because qpair_abort_reqs() is not performance critical.
Others will give better feedback soon, so please stay tune.

-Shuhei

[2020-07-27 05:26] AlekseyMarchuk commented on #1507
Hi @mhae, I'll handle this issue with high priority.

[2020-07-27 05:50] rakeshranjan-gh commented on #1509
Hello @shuhei-matsumoto

Thanks for your comment! May be the better fix is to allocate the transport operation vector from shared memory (hugepage) if primary application is started using shared memory group id so that transport reference is always valid across multiple processes attempting to do the I/O qpair cleanup and that would also avoid the need to call nvme_get_transport() by assigning the

[2020-07-27 06:24] shuhei-matsumoto commented on #1509
Hi @rakeshranjan-gh

Nice idea but transport object is statically allocated and initialized before starting main() function by using __attribute__((constructor)) (Please see include/spdk/nvme.h). So I think allocating it from shared memory is not easy to do now. Please still waiting shortly.

[2020-07-27 06:34] karlatec commented on #1508
Duplicate of GH issue 1424

[2020-07-27 07:08] Comphix commented on #1509
@rakeshranjan-gh , have you already posted a patch of the proposed fix?

[2020-07-27 07:12] tomzawadzki commented on #1508
Closing as duplicate of #1424

[2020-07-27 07:12] #1508 closed

[2020-07-27 07:12] spdkci commented on #1424
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_23105.html

[2020-07-27 07:52] spdkci commented on #1498
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_23154.html

[2020-07-27 08:39] AlekseyMarchuk commented on #1507
@mhae have you seen such errors in spdk_tgt output?
[code]

on perf side, after print of performance metrics I see the following errors
[code]

Due to these errors, shutting down perf takes a long time.

I have a patch for another issues reported by you, I haven't checked yet, but I think it can affect this issue too. Could you try to reproduce this problem with https://review.spdk.io/gerrit/c/spd

[2020-07-27 13:24] mhae commented on #1507
@AlekseyMarchuk , thanks for your help on this one. I'll do the repro in a little bit. Yes, I do get the above errors that you describe in nvmf_tgt and perf.
The odd thing is that the target seems to slow down. Have you seen this as well?

[2020-07-27 14:47] mhae commented on #1507
@AlekseyMarchuk , the patch didn't help. I'll see if I can make more progress today. If you have any ideas where to instrument, let me know.

[2020-07-27 15:10] AlekseyMarchuk commented on #1507
@mhae you are right, the patch didn't help. I reproduced this issue - nvme_perf can't start at all. I tried to debug spdk_tgt with gdb, I saw that target received RDMA connection request, sent RDMA connection response and handled several admin/fabric commands, but traffic didn't go. I'll try to continue debug today a bit later.

[2020-07-27 16:15] jimharris commented on #1509
Hi @rakeshranjan-gh,

Can you try https://review.spdk.io/gerrit/c/spdk/spdk/+/3536 and confirm it also fixes your issue?

Thanks,

Jim

[2020-07-27 17:37] rakeshranjan-gh commented on #1509
Hi @jimharris ,

Thanks for taking a look at it!

Sure, I will try out your patch and will let you know the result asap. I think it make sense to not process qpair abort in such case where new secondary process is attempting to do the dead secondary process's qpair cleanup.

-Rakesh

[2020-07-27 18:51] shuhei-matsumoto commented on #1509
Thank you @jimharris. I knew I didn’t understand the issue at all, but it is clear to me now

[2020-07-27 19:03] AlekseyMarchuk commented on #1507
I used gdb to debug spdk_tgt, I noticed that target accepted new RDMA connections, but incoming requests such as NVMF connect were processed by only 1 thread (reactor_2 in my case). Due to this behaviour, perf successfully established admin qpair but failed to establish IO qpair since it was assigned to other core that was not responding.
Unfortunately I hit heap-use-after-free (patch to fix it ht

[2020-07-27 20:07] rakeshranjan-gh commented on #1509
Just was to capture the further issue which was seen while testing. @jimharris  has quickly looked at it  and has provided the new patch for further testing. Thanks a lot Jim!

Program terminated with signal SIGSEGV, Segmentation fault.
#0  nvme_transport_ctrlr_delete_io_qpair (ctrlr=0x200009e8a980, qpair=0x200043c06618) at nvme_transport.c:276
276     return qpair->transport->ops.ctrlr_delete_io_

[2020-07-27 20:26] rakeshranjan-gh commented on #1509
Hi @jimharris,

With the patch version 2, I am not hitting any crash so this patch looks good to me.

Starting SPDK v20.04 git sha1 c4e28a51a / DPDK 19.11.0 initialization...
[ DPDK EAL parameters: ldfs -c 0x10 --log-level=lib.eal:6 --log-level=lib.cryptodev:5 --log-level=user1:6 --iova-mode=pa --base-virtaddr=0x200000000000 --match-allocations --file-prefix=spdk269488144 --proc-type=auto ]
app.c:

[2020-07-27 20:55] jimharris opened #1510 "[iscsi-vg-autotest/bdev_nbd] g_accel_task_pool allocation failed"
00:10:03.561  ************************************
00:10:03.561  START TEST bdev_nbd
00:10:03.561  ************************************
00:10:03.561   22:29:56	# xtrace_enable
00:10:03.561   22:29:56	# nbd_function_test /home/vagrant/spdk_repo/spdk/test/bdev/bdev.json Ceph0
00:10:03.562    22:29:56	# uname -s
00:10:03.563   22:29:56	# '[' Linux = Linux ']'
00:10:03.563   22:29:56	# modprobe -n nbd

[2020-07-27 20:57] spdkci commented on #1510
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_23189.html

[2020-07-27 23:33] mhae commented on #1507
@AlekseyMarchuk, thanks for the update. I spent most of the day debugging as well. What's really weird is that in my setup, the issue happens always after 20m.
Once I saw the slowdown in my perf runs, I exited them and ran perf against a single subsystem. I got ~5 IOPs. Perf finishes fine and I can repeatedly execute perf.
Below is spdk_top when perf was running at 5 IOPs:
![image](https://user-im

[2020-07-28 06:42] spdkci commented on #1424
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_23211.html

[2020-07-28 08:30] spdkci commented on #1499
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_23187.html

[2020-07-28 10:18] AlekseyMarchuk commented on #1504
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/3475 merged, closing this issue

[2020-07-28 10:18] #1504 closed

[2020-07-28 10:22] AlekseyMarchuk opened #1511 "[centos7-vg-autotest] Build timed out"
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_23216.html

## Execution failed at
Git works too slow:

[code]

[2020-07-28 10:23] spdkci commented on #1511
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_23216.html

[2020-07-28 12:49] nufosmatic opened #1512 "SPDK 20.04.1 - Enabling CRYPTO results in compile errors CentOS 7.5 gcc 4.8.5"
SPDK 20.04.1 is otherwise working (nvme, bdev, aio, fio_plugin, perf). Enabled CRYPTO=y and now I'm getting compilation errors.

## Expected Behavior

Should just compile.

## Current Behavior

Lotso compile errors.

`In file included from sse/snow3g_sse.c:42:0:
./include/snow3g_common.h: In function 'C0_C11_4':
./include/snow3g_common.h:125:9: warning: implicit declaration of function '_mm_extrac

[2020-07-28 12:55] karlatec commented on #1424
Same issue is bugging nightly builds, but with much greater frequency so I finally gathered my strength to take a look at it.

All VM hosts (for per-patch and nightly VMs) use the same system - Ubuntu 18.04 LTS.
Turns out that mounting NFS shares got stuck because of the firewall. Which is weird, because on all systems UFW service was in `"active/exited"` state and `ufw status verbose` reported `S

[2020-07-28 13:04] nufosmatic commented on #1512
This is apparently in the included Intel Multi-Buffer library, and these tools meet the minimums:

5. Compilation
==============

Linux (64-bit only)
-------------------

Required tools:
- GNU make
- NASM version 2.13.03 (or newer)
- gcc (GCC) 4.8.3 (or newer)

----

$ nasm -v
NASM version 2.13.03 compiled on Jun  5 2018
$ gcc -v
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/libex

[2020-07-28 13:06] AlekseyMarchuk commented on #1507
What I was managed to find is that ibv_poll_cq stops to generate completions after some time. I traced that nvme_perf sent AER request and switched to NVME_CTRLR_STATE_SET_SUPPORTED_LOG_PAGES state. After this in nvme_ctrlr_process_init nvme ctrlr tries to get cc and csts and sends request to get cc. No work completions generated on target after that.

[2020-07-28 13:15] mhae commented on #1507
@AlekseyMarchuk , interesting. What OS are you reproducing it on? Could there be an issue with the ib layer? I'm not aware of any good troubleshooting tools besides ibv_devinfo. Would the mlx* utilities have more info?

[2020-07-28 13:53] peluse commented on #1512
SPK is on ver .51 however DPDK supports up to ver .54.  No idea if it will help you or not but as you have the env already setup can you please try this? https://github.com/01org/intel-ipsec-mb/archive/v0.54.zip

[2020-07-28 14:37] AlekseyMarchuk commented on #1507
I believe I missed qpair destruction, that can explain why I didn't get any completions. Going to reproduce it one more time

[2020-07-28 15:05] tomzawadzki commented on #1509
[Bug scrub] This issue is resolved with the posted patch.

[2020-07-28 15:15] tomzawadzki commented on #1507
[Bug scrub] @Seth5141 will take a shot at reproducing the issue on his setup too.
Suggestion from @Seth5141 was to reduce the time to reproduce by using DPDK legacy mode and lowering the amount of memory assigned.

[2020-07-28 15:23] tomzawadzki commented on #1424
[Bug scrub] Firewall was disabled for NFS shares, patches should no longer encounter this issue. Observing is further reports occur.

[2020-07-28 15:25] peluse commented on #1510
@karlatec for this VM, how much hugepage mem is setup?

[2020-07-28 15:28] tomzawadzki commented on #1503
[Bug scrub] This issue refers to timeout during:
[code]

[2020-07-28 15:31] tomzawadzki commented on #1187
[Bug scrub] @darsto Can you please take a look at this issue? Will it occur on latest SPDK and should we move forward with the DPDK patch posted by Tomek earlier ?

[2020-07-28 15:32] tomzawadzki commented on #1497
[Bug scrub] @mikeBashStuff any update on submitting the details to dev@dpdk.org ?

[2020-07-28 15:56] Seth5141 commented on #1507
@mhae, Another good way to see if the time to failure (TTF) is directly related to the number of connect/disconnects would be to increase the length of each perf job and see if there is a corresponding increase in the TTF. Otherwise we can assume that it's something else causing the failure.

[2020-07-28 16:31] Seth5141 opened #1513 "nvmf_shutdown_tc3 null pointer access"
## Link to the failed CI build
https://ci.spdk.io/results/autotest-per-patch/builds/23187/archive/nvmf-vg-autotest/build.log

## Execution failed at

00:06:02.716  nvme_rdma.c:2288:13: runtime error: member access within null pointer of type 'struct nvme_request'
00:06:02.738      #0 0x7f131e68cdb5 in nvme_rdma_cq_process_completions /home/vagrant/spdk_repo/spdk/lib/nvme/nvme_rdma.c:2288
00:06:02.

[2020-07-28 16:33] Seth5141 commented on #1499
The most recent backtrace is distinct from the initial bug report. It occurs on the initiator side while the previous one occurs on the target side. I am closing this issue as the target side bug has been fixed. All instances of the initiator side bug should be directed to #1513

[2020-07-28 16:36] nufosmatic commented on #1512
The CONFIG_CRYPT=y option requires at least SSE4.2 to build properly. However, this feature does not appear in the gcc by default on the box I'm using:

$ gcc -dM -E - < /dev/null | egrep SSE
#define __SSE2_MATH__ 1
#define __SSE_MATH__ 1
#define __SSE2__ 1
#define __SSE__ 1
$ gcc -msse4 -dM -E - < /dev/null | egrep SSE
#define __SSE4_1__ 1
#define __SSE4_2__ 1
#define __SSE2_MATH__ 1
#define __SS

[2020-07-28 17:07] ssampath opened #1514 "Inconsistent results from spdk perf"
SPDK perf reports inconsistent results when performing random read/write test

## Expected Behavior

Report consistent result (even though latency between runs is different)

## Current Behavior

**_Run 1:_**

[root@SudheGary2 examples]# ./perf -o 4096 -w randrw  -M 70 -r 'trtype:RDMA adrfam:IPv4 traddr:12.12.12.201 trsvcid:4420' -q 8 -t 120 -c 0xff
Starting SPDK v20.07-pre git sha1 ed2a57a35 / DP

[2020-07-28 17:42] AlekseyMarchuk commented on #1507
I have one idea, I think this happens due to AER cleanup - we don't resubmit receive request associated with AER back to SRQ and eventually run out of receive requests. Going to verify if I'm right. @mhae, @Seth5141 if you are going to reproduce the issue, please configure RDMA transport without SRQ

[2020-07-28 17:46] AlekseyMarchuk commented on #1507
Another option, if you have spdk_tgt in problematic state, you can change rnr_retry_count in nvme_rdma.c from 7 (infinite) to another value (e.g. 4). In this case initiator will abort connection due to RNR retries

[2020-07-28 18:11] spdkci commented on #1498
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_23228.html

[2020-07-28 18:13] spdkci commented on #1513
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_23230.html

[2020-07-28 18:20] spdkci commented on #1503
Another instance of this failure. Reported by @mkenguva. log: https://ci.spdk.io/public_build/autotest-per-patch_23192.html

[2020-07-28 18:22] spdkci commented on #1499
Another instance of this failure. Reported by @mkenguva. log: https://ci.spdk.io/public_build/autotest-per-patch_23193.html

[2020-07-28 19:51] AlekseyMarchuk commented on #1507
Hi,

I prepared a fix https://review.spdk.io/gerrit/c/spdk/spdk/+/3558
Without this patch and with srq_depth=768 spdk_tgt becomes unresponsive after 5 minutes. With this fix spdk_tgt works well for 15 minutes. I ran a long test to verify it.

[2020-07-28 19:56] jimharris commented on #1507
Thanks @AlekseyMarchuk!  I feel like we should try to get this in for 20.07 release this week.  Keep us posted on your longer test results.  @mhae if you can test too that would be great.

[2020-07-28 20:04] spdkci commented on #1514
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_23237.html

[2020-07-28 20:05] mhae commented on #1507
I will verify asap.
@AlekseyMarchuk , the nrn_retry_count=0x4 did not make a difference, nor trying different memory sizes. What made **a difference** is add -r (no_srp=true). My Test is still running +15m past my 25m mark...

[2020-07-28 20:06] Seth5141 commented on #1513
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_23237.html

[2020-07-28 20:10] Seth5141 opened #1515 "[ocf_fio_modes] dd fails, operation not supported."
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/23238/archive/nvme-phy-autotest/build.log

## Execution failed at

00:06:42.333   21:30:30	# mountpoints=0
00:06:42.333   21:30:30	# '[' 0 '!=' 0 ']'
00:06:42.333   21:30:30	# dd if=/dev/zero of=/dev/nvme0n1 bs=1M count=1000 oflag=direct
00:06:42.336  dd: error writing '/dev/nvme0n1': Operation not supported
00:06

[2020-07-28 20:11] spdkci commented on #1515
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_23238.html

[2020-07-28 20:12] Seth5141 commented on #1513
Proposed fix here: https://review.spdk.io/gerrit/c/spdk/spdk/+/3557

@AlekseyMarchuk I think this issue may be a Soft-RoCE specific one. Can you confirm that once we disconnect a qpair on an actual NIC, all WCs should come back as failed?

[2020-07-28 21:40] nufosmatic opened #1516 "rpc.py returns an error on "bdev_nvme_attach_controller" - what does it mean?"
$ sudo ../../spdk/scripts/rpc.py bdev_nvme_attach_controller -b NVMe0 -t PCIe -a 0000:8d:00.0/1
request:
{
  "name": "NVMe0",
  "trtype": "PCIe",
  "traddr": "0000:8d:00.0/1",
  "method": "bdev_nvme_attach_controller",
  "req_id": 1
}
Got JSON-RPC error response
response:
{
  "code": -1,
  "message": "Method is allowed in any state in the mask (2), but current state is (1)"
}

## Expected Behavior

[2020-07-28 22:12] jimharris commented on #1516
Hi,

I agree the text here is not descriptive enough.  What the text should be saying is something to the effect of "the application is currently in STARTUP phase, but this RPC can only be run in RUNTIME phase".

I suspect you've started your application with --wait-for-rpc, and are trying to run this RPC before the framework_start_init RPC.  If you can provide more details on the application you'

[2020-07-28 22:20] spdkci commented on #1513
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_23256.html

[2020-07-28 23:23] mhae commented on #1507
@AlekseyMarchuk , you rock! This 3558 fixes the issue. My test ran fine for 90m! We will be doing more testing tomorrow.

[2020-07-29 02:13] spdkci commented on #1424
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_23258.html

[2020-07-29 02:59] spdkci commented on #1424
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_23260.html

[2020-07-29 04:32] AlekseyMarchuk commented on #1507
@mahe @jimharris
My test ran for ~9 hours, I think the patch works

[2020-07-29 04:33] spdkci commented on #1424
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_23263.html

[2020-07-29 04:45] Seth5141 commented on #1507
@AlekseyMarchuk @mhae I also confirmed this change with another community member running a similar test.

[2020-07-29 05:44] AlekseyMarchuk commented on #1513
@Seth5141 you are right, when we call rdma_disconnect, it moves the qpair to err state. In this state all outstanding requests in send and receive queues that were not completed will be flushed, we will receive a WC for each of them with IBV_WC_WR_FLUSH_ERR status

[2020-07-29 05:52] AlekseyMarchuk commented on #1513
BTW, I just remember I saw some failure in CI where we received a completion with wr_id = 0. I forgot to file an issue for this case, but it could be similar to this one, I believe it is SoftRoCE too.
https://ci.spdk.io/results/autotest-per-patch/builds/23220/archive/nvmf-vg-autotest/build.log
Attention, huge log)

[2020-07-29 05:58] spdkci commented on #1513
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_23220.html

[2020-07-29 06:20] spdkci commented on #1424
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_23265.html

[2020-07-29 07:07] tomzawadzki commented on #1515
Duplicate of #1456

[2020-07-29 07:07] #1515 closed

[2020-07-29 07:25] tomzawadzki opened #1517 "[iscsi-uring-vg-autotest] Calsoft test case tc_ffp_3_1 failed"
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_23221.html

## Execution failed at
[code]

[2020-07-29 07:26] spdkci commented on #1517
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_23221.html

[2020-07-29 07:47] optimistyzy commented on #1517
Very similar to this issue : #1480.  I think it is not with posix or uring implementation, may be there are some issues in iSCSI. @shuhei-matsumoto

[2020-07-29 07:59] Comphix commented on #1516
Raised a patch here https://review.spdk.io/gerrit/c/spdk/spdk/+/3565

And below is the output:

root@storage35:/home/gangcao/storage17spdk# ./scripts/rpc.py bdev_set_options
request:
{
  "bdev_auto_examine": true,
  "method": "bdev_set_options",
  "req_id": 1
}
Got JSON-RPC error response
response:
{
  "code": -1,
  "message": "Method is allowed in the state of Startup, but current state is Runtim

[2020-07-29 09:28] mikeBashStuff commented on #1497
@tomzawadzki There hasn't been any. The last information I got is that the issue spotted in #1396 will probably fixed in the release scheduled for September.

[2020-07-29 11:32] nufosmatic commented on #446
Are you gonna share?

[2020-07-29 11:43] nufosmatic commented on #1516
I finally found a mundane explanation for this error - it means "this application cannot accept RPC commands." I found this in another issue https://github.com/spdk/spdk/issues/300:

I was attempting to get an fio_plugin application to do what I wanted. I won't be trying to do this any more.

It would be nice if all of the INI files included were all converted to JSON so that we've have a template

[2020-07-29 11:44] #1516 closed

[2020-07-29 13:16] nufosmatic opened #1518 "SPDK 20.04.1 - json config bdev_raid_create expects raid_level to be a string, not a number as shown in the docs"
In the JSON-RPC methods doc, the "raid_level" example is a number. The decoder decode_raid_level() is expecting a string.

## Expected Behavior

This syntax in a json configuration file should work as documented:

[code]

## Current Behavior

This syntax will actually make it through the decoder:

[code]

## Possible Solution

There appears to be some parameter disagreement between the procedure c

[2020-07-29 13:42] AlekseyMarchuk commented on #1505
Hi @yidong0635
I tried to reproduce this problem, but I didn't notice that perf hung:
[code]
Link status:
[code]

I haven't unplugged the cable, I just set link status to down, but I believe the effect will be the same.
Could you clarify your OS and kernel version? This issue might depend on the environment.

[2020-07-29 13:58] spdkci commented on #1513
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_23300.html

[2020-07-29 15:49] jkalwas opened #1519 "[nvmf] rdma connect/disconnect related failure"
This is more like a sighting related to the series of patches here
https://review.spdk.io/gerrit/c/spdk/spdk/+/3476

With this series there are many flavors of issues on rdma transport around connection.
Not sure if that is something introduced by the series or just revealed some existing issue.
Not sure if that is only rdma transport related either.

Every run of the CI generates slightly differe

[2020-07-29 17:57] jimharris commented on #1518
Thanks for the report.  https://review.spdk.io/gerrit/c/spdk/spdk/+/3581 fixes the documentation bug.  This will likely be merged for the 20.07 release, but probably not back ported to the 20.04.x branch.  The patch should apply cleanly to 20.04.1 however.

[2020-07-29 19:20] mhae opened #1520 "nvmf/rdma: Use after free issue when network port is brought down"
The use after free issue that is reported in **https://github.com/spdk/spdk/issues/1507** happens when we bring down one of the port on which NVMF is listening on. This issue is reproducible with the fix for #1507

[code]

## Steps to Reproduce
- Two systems, RDMA direct connect with CX5.
- Centos8
- perf running one one system against 24 subsystems
- CX5 config to allow bringing down RDMA traffic

[2020-07-29 19:24] mhae commented on #1519
I just submitted issue related to disconnects (see https://github.com/spdk/spdk/issues/1520). The stack trace in the above logs doesn't look familiar but the issue I submitted does cause memory corruption.

[2020-07-29 19:28] mhae commented on #1520
Note, I don't think this needs to hold up 20.07. A fix could be part of the 20.07.1 release.

[2020-07-30 00:36] spdkci commented on #1498
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_23332.html

[2020-07-30 00:37] spdkci commented on #1513
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_23322.html

[2020-07-30 00:39] spdkci commented on #1511
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_23324.html

[2020-07-30 01:03] changpe1 commented on #1422
kernel panic for IOAT device.

[2020-07-30 01:27] changpe1 commented on #1422
Here is the fix https://review.spdk.io/gerrit/c/spdk/spdk/+/3586 to address the memory leak issue, the issue is still there(IOAT with vfio), I guess this related with hardware/OS.

[2020-07-30 01:36] changpe1 commented on #1403
It's same with issue #1422 , as I stepped into issue 1422, so I'm going to close this one.

[2020-07-30 01:36] #1403 closed

[2020-07-30 01:42] yidong0635 commented on #1505
@AlekseyMarchuk  : 5.0.16-100.fc28.x86_64
I found this issue for at least on two different machines, and another one is perf running is ok but he IOPS is holding on zero.
And I need to retest this on more machines , I can confirm these are ok on last release that we had resolved an issue about
nvme_rdma receiving before sending.

[2020-07-30 01:59] yidong0635 commented on #1505
I changed another machine:  5.0.9-301.fc30.x86_64, this is really a bug. `commit b0a28e9509369d7a6e77a0400133393bce11512b`
ethtool -i ens785f1:
[code]
ethtool ens785f1 |grep  "Link detected"
`        Link detected: yes
`
[code]

[2020-07-30 02:03] yidong0635 commented on #1505
I checked above log , that the IP address is not right. The test scripts may have issue.

[2020-07-30 02:46] optimistyzy opened #1521 "[nvmf-vg-autotest] bdevperf failure related with nvme_rdma driver"
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/23348/archive/nvmf-vg-autotest/build.log

## Execution failed at

ccel_engine.c: 509:spdk_accel_engine_initialize: *NOTICE*: Accel engine initialized to use software engine.
00:05:32.117  [2020-07-30 02:28:10.976645] nvme_rdma.c:2237:nvme_rdma_cq_process_completions: *ERROR*: CQ error on Queue Pair 0xa2a430, Respo

[2020-07-30 02:47] spdkci commented on #1521
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_23348.html

[2020-07-30 02:48] optimistyzy commented on #1521
@AlekseyMarchuk  Can you look at this issue?

[2020-07-30 03:54] spdkci commented on #1425
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_23355.html

[2020-07-30 04:03] #1498 closed

[2020-07-30 04:15] spdkci commented on #1521
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_23358.html

[2020-07-30 05:33] spdkci commented on #1297
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_23360.html

[2020-07-30 06:21] AlekseyMarchuk commented on #1519
I'll check it next week

[2020-07-30 06:22] AlekseyMarchuk commented on #1520
I'll check it next week

[2020-07-30 07:01] yidong0635 commented on #1297
Just reproduced the same issue,  the first target IP is the same with the second one. that leads to this issue.
https://review.spdk.io/gerrit/c/spdk/spdk/+/3590

[2020-07-30 07:24] shuhei-matsumoto commented on #1351
Hi @mhae

Can we close this issue now?

- Shuhei

[2020-07-30 13:04] spdkci commented on #1513
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_23401.html

[2020-07-30 13:06] spdkci commented on #1513
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_23403.html

[2020-07-30 13:17] mhae commented on #1351
Feature is part of 20.07.

[2020-07-30 13:17] #1351 closed

[2020-07-30 14:12] jimharris commented on #1351
@mhae and @shuhei-matsumoto - thank you for all your efforts on this feature!

[2020-07-30 15:43] spdkci commented on #1513
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_23410.html

[2020-07-30 16:20] spdkci commented on #1513
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_23416.html

[2020-07-30 18:19] spdkci commented on #1513
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_23340.html

[2020-07-30 18:20] spdkci commented on #1513
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_23343.html

[2020-07-30 18:21] #1507 closed

[2020-07-30 21:03] spdkci commented on #1513
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_23420.html

[2020-07-30 21:03] spdkci commented on #1513
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_23423.html

[2020-07-30 22:06] spdkci commented on #1513
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_23428.html

[2020-07-31 01:07] spdkci commented on #1513
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_23444.html

[2020-07-31 05:07] spdkci commented on #1513
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_23452.html

[2020-07-31 07:12] Comphix commented on #1514
@ssampath , on the target side, how many device connectted to NVMe-oF Target?

"Export a NVMe target over the fabric"

[2020-07-31 08:10] AlekseyMarchuk commented on #1520
Hi, @ZiyeYang push a patch https://review.spdk.io/gerrit/c/spdk/spdk/+/3616 which can fix this issue. Could you verify it?

[2020-07-31 08:10] AlekseyMarchuk commented on #1519
Hi, @ZiyeYang push a patch https://review.spdk.io/gerrit/c/spdk/spdk/+/3616 which can fix this issue. Could you verify it?

[2020-07-31 10:36] spdkci commented on #1486
Another instance of this failure. Reported by @Donaim. log: https://ci.spdk.io/public_build/autotest-per-patch_23387.html

[2020-07-31 10:38] Donaim commented on #1486
Could someone confirm that above liked failure is related to this issue?

[2020-07-31 14:19] wawryk opened #1522 "Disks or nvme-cli problem/bug"
Disk:
[code]
Namespaces on disk:
[code]
When trying to detach namespaces like we have in autotest_common.sh this will fail:
[code]
When I detach namespaces without mask `0xffffffff `, but this way: `sudo nvme detach-ns /dev/nvme0n1 -n 0x1 -c 0` it works fine.
Next fail I have when trying to create new namespace using all the disk capacity reported by:
[code]
with `bs=512`,  using this command:
[co

[2020-07-31 14:55] tomzawadzki opened #1523 "[iscsi_tgt_calsoft] timeout after successful test case run"
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_23507.html

## Execution failed at

[code]

[2020-07-31 14:56] spdkci commented on #1523
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_23507.html

[2020-07-31 15:47] spdkci commented on #1513
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_23468.html

[2020-07-31 17:11] spdkci commented on #1508
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_23521.html

[2020-07-31 18:35] ssampath commented on #1514
Just one NVMe device.

[2020-07-31 21:57] nufosmatic opened #1524 "Is there a way to import memory into SPDK?"
Is there a way to import memory into SPDK? For instance, I have an FPGA device with slave PCIe spaces that I would like the NVME device to pull data from using the SPDK environment. Also, I have middleware that makes use of reserved kernel memory using MEMMAP= kernel parameter and that memory is how other devices I have should buffer data.

## Expected Behavior

Perform a mmap() on the device slav

[2020-08-01 00:55] Seth5141 opened #1525 "[lvol-vg-autotest] Libvirt failure"
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/23537/archive/lvol-vg-autotest/build.log

## Execution failed at
00:01:05.243  ==> default:  -- Command line args:
00:01:05.244  ==> default:     -> value=-drive,
00:01:05.244  ==> default:     -> value=format=raw,file=/var/lib/libvirt/images/backends/ex7-nvme.img,if=none,id=nvme-0,
00:01:05.244  ==> default:

[2020-08-01 00:55] spdkci commented on #1525
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_23537.html

[2020-08-01 00:56] Seth5141 opened #1526 "[freebsd-vg-autotest] timeout"
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/23555/archive/freebsd-vg-autotest/index.html

## Execution failed at

00:01:19.340      default: Inserting generated public key within guest...
00:01:20.337      default: Removing insecure key from the guest if it's present...
00:01:21.424      default: Key inserted! Disconnecting and reconnecting using new SSH ke

[2020-08-02 19:02] nufosmatic commented on #1524
I see from [DPDK Koh](https://www.dpdk.org/wp-content/uploads/sites/35/2018/12/Yongseok_Koh_Embracing_Externally_Allocated_Memory.pdf) that this is ground good people are covering that is currently covered in craters.

Using these hints, I managed to pull in external memory (in spite of the hugepage-bound limitations in the API - learned a new [well, old, but that wasn't Linux 35 years ago] trick

[2020-08-02 22:10] nufosmatic commented on #1524
And now I think I have all of the pieces:

- The Koh piece referenced above shows how rte_ext_heap_*() APIs can be used to add a memory region.
- This will add an allocator - however, once the memory has been added it is immediately available as data buffer space - it doesn't have to be malloc'd from the API. Finding a specific pre-allocated chunk of memory requires some address math and you're go

[2020-08-02 22:10] #1524 closed

[2020-08-03 05:11] karlatec commented on #1510
@peluse Each VM gets 12288MB of memory

[2020-08-03 06:02] spdkci commented on #1511
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_23572.html

[2020-08-03 09:35] xjjx opened #1528 "make CONFIG_WERROR=y fails"
Building with CONFIG_WERROR=y option failing.

## Expected Behavior

SPDK should pass build.

## Current Behavior

Build with CONFIG_WERROR=y because of:
json_config.c: In function ‘app_json_config_load_subsystem_config_entry’:
json_config.c:415:3: error: ‘params_len’ may be used uninitialized in this function [-Werror=maybe-uninitialized]
   spdk_json_write_val_raw(w, cfg.params->start, params_le

[2020-08-03 09:36] darsto commented on #1528
Thanks, that's a recently introduced false positive. Fix here: https://review.spdk.io/gerrit/c/spdk/spdk/+/3626

[2020-08-03 14:15] mhae commented on #1520
Hi @AlekseyMarchuk I can still repro the issue with the above fix. It's really tricky to reproduce and it doesn't always happen. I haven't researched when the try_disconnect is being triggered to see if there's an easier repro. But from asan output it seems to be clear what is happening.

The way I can repro it most of the the time is like this:
- run perf from remote system
- bring port down
- br

[2020-08-03 14:21] AlekseyMarchuk commented on #1520
Thank you @mhae, I'll start working on this issue tomorrow, your information will be really useful

[2020-08-03 16:43] spdkci commented on #1526
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_23598.html

[2020-08-03 17:36] spdkci commented on #1526
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_23600.html

[2020-08-04 06:18] karlatec commented on #1526
Duplicate of https://github.com/spdk/spdk/issues/1424

[2020-08-04 06:18] #1526 closed

[2020-08-04 06:18] AlekseyMarchuk opened #1529 "--with-reduce causes compilation failure"
## Expected Behavior

SPDK successfully compiled when configured with the following parameters:
`./configure --with-rdma --with-pmdk --with-reduce`

## Current Behavior

DPDK compilation failed:

[code]

## Possible Solution

I'm not familiar with meson/ninja, from DPDK output I see that `-I` directive doesn't point to `crypto/qat` directory where qat_sym_pmd.h is located. I applied the following

[2020-08-04 06:47] spdkci commented on #1519
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_23635.html

[2020-08-04 07:52] karlatec commented on #1525
Duplicate of https://github.com/spdk/spdk/issues/1474

[2020-08-04 07:52] #1525 closed

[2020-08-04 07:59] karlatec commented on #1511
Not related. Unit test compilation fail.

Not related.  Well, kind of. It is timeout, but different test job and timeout was just close to finishing the tests.

[2020-08-04 13:37] spdkci commented on #1526
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_23657.html

[2020-08-04 14:32] mikeBashStuff opened #1530 "nvmf_nmic tests fails to access /dev/nvme-fabrics device"
https://ci.spdk.io/results/autotest-per-patch/builds/23659/archive/nvmf-phy-autotest/build.log

Point of failure:
[code]

[2020-08-04 14:33] spdkci commented on #1530
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_23659.html

[2020-08-04 15:08] AlekseyMarchuk commented on #1520
I was trying to reproduce this issue. I unbind mlx5 NIC from the driver, it generated RDMA_CM_EVENT_DEVICE_REMOVAL event and I got another user-after-free reported by asan. I'll fix this issue and than will try to reproduce the one reported here

[2020-08-04 17:38] senthilkumar-v opened #1531 "Bug in fused command flow."
I’m going thru the code for “fused command” implementation.

In one of the code flows there seem to be a BUG as described below.
3839 static void
3840 bdev_comparev_and_writev_blocks_locked(void *ctx, int status)
3841 {
3842  struct spdk_bdev_io *bdev_io = ctx;
3843
3844  if (status) {
3845   bdev_io->internal.status = SPDK_BDEV_IO_STATUS_FIRST_FUSED_FAILED;
3846   bdev_io->internal.cb(bdev_io, fa

[2020-08-05 01:19] Seth5141 commented on #1520
@mhae, I think this might be related to a potential infinite loop in _nvmf_rdma_try_disconnect. I don't know exactly how it can happen, but if the qpair->group is NULL, we just keep sending messages to ourselves to attempt to disconnect the qpair until the group is non-null.
The initial thought behind this was if we get an event for a qpair that is in the process of being created, then we will get

[2020-08-05 06:11] spdkci commented on #1297
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_23704.html

[2020-08-05 06:11] spdkci commented on #1297
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_23703.html

[2020-08-05 07:21] darsto commented on #1528
Fix merged

[2020-08-05 07:21] #1528 closed

[2020-08-05 10:28] spdkci commented on #1503
Another instance of this failure. Reported by @Donaim. log: https://ci.spdk.io/public_build/autotest-per-patch_23506.html

[2020-08-05 13:13] mhae commented on #1520
@Seth5141 , yes these two disconnect paths need to be somehow synchronized. BTW, just to clarify... I do not see an infinite loop. Without asan, I typically see hangs or a core dump at an unrelated place in the code. With asan, the program cores right away when it hits the condition.
I still have a hard time reproducing it very consistently. But it does happen frequently.

[2020-08-05 13:48] spdkci commented on #1297
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_23714.html

[2020-08-05 17:10] spdkci commented on #1424
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_23763.html

[2020-08-05 17:10] spdkci commented on #1297
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_23712.html

[2020-08-05 17:18] ravisure commented on #177
Hi,
I followed the following steps to download latest source code.
_________________________________________________
git clone https://github.com/spdk/spdk
cd spdk
git submodule update --init
_______________________________________
Then I ran ./configure   and make
But I get the following error asking meson.

[root@c202f06fs03a spdk]# make
/bin/sh: meson: command not found
make[1]: *** [Makefile:1

[2020-08-05 18:18] AlekseyMarchuk commented on #177
Hi, the latest DPDK requires meson and ninja. You can run `scripts/pkgdep.sh` to install all needed packages

[2020-08-05 18:38] AlekseyMarchuk commented on #1519
I reproduced the issue and prepared a fix, could you try to verify it? https://review.spdk.io/gerrit/c/spdk/spdk/+/3673

[2020-08-05 18:39] AlekseyMarchuk commented on #1520
I reproduced the issue and prepared a fix, could you try to verify it? https://review.spdk.io/gerrit/c/spdk/spdk/+/3673

[2020-08-05 19:56] Seth5141 commented on #1520
@AlekseyMarchuk I think that your change definitely helps alleviate that infinite loop I was talking about earlier. (@mhae It wouldn't show up on the stack as an infinite loop because it's a function passing a message back to the reactor that called it so it's sort of a wide loop). I have an alternative solution that cleans up the disconnect code and makes spdk_nvmf_disconnect_qpair the lone synch

[2020-08-05 21:35] Seth5141 opened #1532 "[NVMe-phy-autotest] Cannot create new namespace during nvme_namespace_revert"
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/23779/archive/nvme-phy-autotest/build.log

## Execution failed at
00:01:12.251  ========== Backtrace start: ==========
00:01:12.251
00:01:12.257  in /var/jenkins/workspace/nvme-phy-autotest/spdk/test/common/autotest_common.sh:1292 -> nvme_namespace_revert([])
00:01:12.257       ...
00:01:12.257     1287
00:01:12.2

[2020-08-05 21:37] spdkci commented on #1532
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_23779.html

[2020-08-05 21:48] mhae commented on #1520
@AlekseyMarchuk, @Seth5141 , thanks so much for that quick turnaround. The 3673 patch fixes the issue.

The 3675 patch produces a SEGV:
[code]

[2020-08-05 21:59] Seth5141 commented on #1520
Hi @mhae, did you cherry-pick 3675? It also depends on 3674 which makes the spdk_nvmf_qpair_disconnect function thread safe. (I only ask because 3674 moves the assert you are pointing to from line 960 to 992). They are submitted in the same relation chain. If instead of doing cherry-pick from 3675 you select the checkout option from the download tab, you will get both patches.

git fetch "https://

[2020-08-05 22:01] Seth5141 commented on #1520
I am definitely not opposed to @AlekseyMarchuk's patch, but with 3674 and 3675 I am trying to address the synchronization problem on a more macro scale.

[2020-08-05 22:27] mhae commented on #1520
@Seth5141 . sorry about that. I didn't see the other part of it. Yes, your's fixes it too.

[2020-08-05 22:29] mhae commented on #1520
BTW, with both fixes, I'm still getting a bunch of errors, but I assume these are benign?
[code]

[2020-08-06 00:02] spdkci commented on #1424
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_23782.html

[2020-08-06 00:33] changpe1 commented on #1530
Here is the error log from kernel dmesg.log:

[ 3623.476490] nvme nvme1: rdma_connect failed (-22).
[ 3623.484720] nvme nvme1: rdma connection establishment failed (-22)

[2020-08-06 00:35] mkenguva opened #1533 "[ocf_fio_modes] ERROR: AddressSanitizer: SEGV on unknown address"
Run status group 0 (all jobs):
00:05:23.750     READ: bw=101MiB/s (106MB/s), 101MiB/s-101MiB/s (106MB/s-106MB/s), io=1013MiB (1062MB), run=10001-10001msec
00:05:23.750    WRITE: bw=80.1MiB/s (83.0MB/s), 80.1MiB/s-80.1MiB/s (83.0MB/s-83.0MB/s), io=801MiB (840MB), run=10003-10003msec
00:05:24.921  AddressSanitizer:DEADLYSIGNAL
00:05:24.921  ===========================================================

[2020-08-06 00:39] mkenguva commented on #1532
Hi
Instance at https://ci.spdk.io/results/autotest-per-patch/builds/23784/archive/nvme-phy-autotest/build.log
SPDK CI recognizes 1532 as invalid . can someone confirm why i have received such comment on this log?

Thanks

[2020-08-06 00:42] spdkci commented on #1533
Another instance of this failure. Reported by @mkenguva. log: https://ci.spdk.io/public_build/autotest-per-patch_23783.html

[2020-08-06 03:31] changpe1 commented on #1499
This is same with #1521 , not belong to this issue.

[2020-08-06 03:48] spdkci commented on #1532
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_23788.html

[2020-08-06 04:05] changpe1 commented on #1533
[Bug Scrub] @jakubradtke  @Donaim could you take a look for this issue?

[2020-08-06 04:08] changpe1 commented on #1513
Patch has been merged, so close this issue for now.

[2020-08-06 04:08] #1513 closed

[2020-08-06 04:09] changpe1 commented on #1499
[Bug Scrub] Closing this issue for now.

[2020-08-06 04:09] #1499 closed

[2020-08-06 04:15] changpe1 commented on #1521
[Bug Scrub] let's keep it open for while to see is this related with softRoCE.

[2020-08-06 04:17] changpe1 commented on #1532
[Bug Scrub] it's same with #1522 , so closing this issue for now.

[2020-08-06 04:17] #1532 closed

[2020-08-06 04:24] changpe1 commented on #1529
[Bug Scrub] @peluse @darsto could you take a look for this issue?

[2020-08-06 05:04] optimistyzy opened #1534 "[IOAT] IOAT failure on start and cause segment fault when the application shutdown."
If we start application with IOAT several times (under some workloads). And after some times, we cannot restart the application with IOAT device, then we shutdown the application, we will see the segment fault.

## Current Behavior

IOAT start failure and if we shut down the application, we will have segement fault. Current the solution is to reset the machine. But I want to say, there is no issue

[2020-08-06 05:08] optimistyzy commented on #1534
@peluse  I think that someone may report this issue on the mailing list, and you suggest restarting the machine, it solves the problem. But I think that there may be still some issues with our software (may be in SPDK or DPDK), previously we do not have this issue (Because I use ioat on malloc bdev on NVMe-oF TCP target test). I did not see this issue before 20.04. So we may need dig more.

[2020-08-06 05:11] optimistyzy commented on #1534
@darsto I remembered that you changed the PCI device management part code. Is this issue related with this?  Thanks.

[2020-08-06 05:27] AlekseyMarchuk commented on #1520
Hi @Seth5141 I like your patches, I'm fine with them if they fix this issue.
If you don't mind, I plan to rework the disconnect process deeper to eliminate dependency on qpair->group pointer which might be cleared to NULL at some point.

[2020-08-06 05:38] AlekseyMarchuk commented on #1520
@mhae I think those errors related to issue #1387, I'll take a close look next week

[2020-08-06 06:16] spdkci commented on #1522
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_23790.html

[2020-08-06 07:44] shuhei-matsumoto opened #1535 "[nvme_ns_manage_cuse] SGL_INVALID_OFFSET: The offset specified in a descriptor is invalid.(0x16)"
[code]

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_23765.html

## Execution failed at

See above

[2020-08-06 07:45] spdkci commented on #1535
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_23765.html

[2020-08-06 08:48] cyx-cathy opened #1536 "nvme_ctrlr_destruct() takes too long time when remote target is out of communication"
When remote target is out of communication  ( target is down or remote node's network is unavailable)   nvme_ctrlr_destruct(struct spdk_nvme_ctrlr *ctrlr) will spend too long time on below piece of code
	if (ctrlr->opts.no_shn_notification) {
		SPDK_INFOLOG(SPDK_LOG_NVME, "Disable SSD: %s without shutdown notification\n",
			     ctrlr->trid.traddr);
		nvme_ctrlr_disable(ctrlr);
	} else {
		nvme_c

[2020-08-06 08:55] changpe1 commented on #1536
When the remote  target isn't available, is it stuck at one of the above functions?

[2020-08-06 09:18] cyx-cathy commented on #1536
yes, it stuck at nvme_ctrlr_get_cc( ) which is called by both nvme_ctrlr_disable( ) and nvme_ctrlr_shutdown( )

[2020-08-06 09:22] wawryk commented on #1522
It was tested on two nvme-cli versions:
[code]

[2020-08-06 11:17] nufosmatic opened #1537 "Should I expect that an Opal password set in nvme_manage should work in sedutil and vice versa?"
Should I expect that an Opal password set in nvme_manage should work in sedutil and vice versa? The password is a feature of the hardware, so if each tool is compliant to the standard then I would expect the two to configure the device the same way.

## Expected Behavior

Setup SPDK
Lay in password  in nvme_manage [8][DEVICEPCI][2][PASSWORD]
Reset SPDK
Access device with sedutil --listlockingrange

[2020-08-06 12:02] spdkci commented on #1535
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_23796.html

[2020-08-06 12:04] spdkci commented on #1533
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_23795.html

[2020-08-06 16:38] peluse commented on #1534
@optimistyzy  So the mailing list issue was different, it was an issue in the community member's code that actually required a hard reset to recover IOAT, that was resolved.

@darsto not sure if you were talking to me but I did make this change back in Feb https://review.spdk.io/gerrit/c/spdk/spdk/+/839 and AFAIK that's really the only thing that has changed in IOAT that would be worth looking int

[2020-08-06 17:09] karlatec commented on #1522
@AlekseyMarchuk

Fixed on GP12 by FW update

[2020-08-06 18:06] Seth5141 commented on #1530
duplicate of issue #1297

[2020-08-06 18:06] #1530 closed

[2020-08-06 18:06] spdkci commented on #1297
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_23815.html

[2020-08-06 18:07] spdkci commented on #1297
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_23813.html

[2020-08-06 18:14] nufosmatic commented on #1537
It looks like "sedutil" will hash the password UNLESS you use the "-n" (do not hash password) option. The hashed password is passed on to the device. The hashed password would be consistent with "sedutil" commands. There does not appear to be a hash in the nvme_manage path.

Not certain I understand the utility of the hash. But this answers my question.

[2020-08-06 18:14] #1537 closed

[2020-08-06 18:54] spdkci commented on #1424
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_23820.html

[2020-08-06 18:56] spdkci commented on #1523
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_23821.html

[2020-08-06 20:46] Seth5141 opened #1538 "[crypto-autotest] timeouts"
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/23824/archive/crypto-autotest/build.log
https://ci.spdk.io/results/autotest-per-patch/builds/23828/archive/crypto-autotest/build.log

## Execution failed at

Not always the same log, sometimes it fails at the end when doing lcov, sometimes it fails earlier on.

[2020-08-06 20:47] spdkci commented on #1538
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_23828.html

[2020-08-06 20:47] spdkci commented on #1538
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_23824.html

[2020-08-06 21:43] spdkci commented on #1538
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_23837.html

[2020-08-07 02:57] optimistyzy commented on #1534
@peluse Let me download the patch since my reported issue will happen after an unexpected application shutdown with IOAT. So it need some time to see whether it will be helpful.

[2020-08-07 12:03] spdkci commented on #1533
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_23888.html

[2020-08-07 18:30] spdkci commented on #1538
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_23919.html

[2020-08-09 12:57] spdkci commented on #1424
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_23926.html

[2020-08-10 05:18] spdkci commented on #1297
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_23936.html

[2020-08-10 09:01] tomzawadzki commented on #1538
Even on passing crypto-autotest job seems overloaded. Addition of spdk_dd tests lasting 6+ minutes took it over the 15min timeout mark on some CI runs. See [this ](https://ci.spdk.io/results/autotest-per-patch/builds/23914/archive/crypto-autotest/timing.svg) example from build that did not time out.

@Maciej-Szwed Can you please see if spdk_dd tests require such length to cover the required use ca

[2020-08-10 09:31] tomzawadzki commented on #1533
This error signature is the same as https://github.com/spdk/spdk/issues/1498, which should have been addressed by combination of 71469b64bab6828c668a1456342d7c49f5143d4e and ab691e3d5afb2fe265072b77ef9a656f0aa3a5cf.

Turns out that it missed the `vbdev_ocf_md_kick` function in `ctx.c`.
Private data of `ocf_metadata_updater_t` does not contain reference to `vbdev->cache.attached`, which makes it ha

[2020-08-10 09:35] tomzawadzki commented on #1522
@karlatec thanks for the update.

Will close when no new reports show up in 7 days since your comment.

[2020-08-10 09:47] tomzawadzki commented on #1535
@shuhei-matsumoto There was outdated firmware in one of the disks on GP12 machine (both logs here point to that one). It has been updated to newest one, which so far seems to resolve https://github.com/spdk/spdk/issues/1522 issue.

Even if error signature is different I'd be keen to suggest that both were related. Lets observe for new reports.
If they don't show up for 7 days since FW upgrade, let

[2020-08-10 10:23] tomzawadzki commented on #1519
Just a general update for this issue.
Series fixing it was posted for review by @Seth5141, replacing @AlekseyMarchuk patch from comment above. See:
- [nvmf/rdma: disconnect qpair from ibv_event ctx](https://review.spdk.io/gerrit/c/spdk/spdk/+/3681/2 "nvmf/rdma: disconnect qpair from ibv_event ctx")
- [nvmf/rdma: always go through spdk_nvmf_qpair_disconnect.](https://review.spdk.io/gerrit/c/spdk/sp

[2020-08-10 10:27] tomzawadzki commented on #1422
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/3586 fixing this issue was merged.

[2020-08-10 10:27] #1422 closed

[2020-08-10 10:29] tomzawadzki commented on #1518
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/3581 fixing this issue was merged.

[2020-08-10 10:29] #1518 closed

[2020-08-10 11:30] #1482 closed

[2020-08-10 11:40] spdkci commented on #1495
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_23393.html

[2020-08-10 13:09] spdkci commented on #1297
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_23960.html

[2020-08-10 14:00] nufosmatic opened #1539 "What is the right way to asynchronously terminate an SPDK application?"
What is the right way to asynchronously terminate an SPDK application? Generally we start with a SIGTERM handler and carefully tear down the application quescing service loops and calling destructors. SPDK looks to have it's own SIGTERM handler installed in spdk_app_start(). Is there a way to hook into that to manage the termination? I found I can put my own signal handler in the application start

[2020-08-10 16:11] jimharris commented on #1539
If you have your own cleanup work you want to do at application termination, you can set the shutdown_cb function pointer in the spdk_app_opts structure.  This function will get called when the SPDK framework receives a SIGTERM signal.

Once your cleanup work is completed, you must call spdk_app_stop() to allow the rest of the SPDK framework to complete its cleanup work.

[2020-08-11 01:06] spdkci commented on #1523
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_23965.html

[2020-08-11 02:41] spdkci commented on #1424
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_24053.html

[2020-08-11 04:04] spdkci commented on #1523
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_24056.html

[2020-08-11 07:22] AlekseyMarchuk commented on #1505
Hi @yidong0635, you wrote that test script may have an issue, Have you checked it? Is this issue still relevant?

[2020-08-11 07:27] tomzawadzki opened #1540 "[iscsi_tgt_calsoft] Test cases tc_ffp_7_2 and tc_ffp_1_1 failed"
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_24013.html

## Execution failed at
<details><summary>tc_ffp_7_2</summary>
<p>

[code]

</p>
</details>
<details><summary>tc_ffp_1_1</summary>
<p>

[code]

</p>
</details>

[2020-08-11 07:29] spdkci commented on #1540
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_24013.html

[2020-08-11 07:40] yidong0635 commented on #1505
@AlekseyMarchuk  For the issue described as "can't kill -9" is still existed.
I said the test scripts have issue:
1. test scripts can't find  the right rdma nic to test perf(this is not fatal,maybe overlook this , or sort NICS)
2. even though I deleted an address, the test scripts still can found it.
3. Second target IP and First target IP sometimes not right to meet nvmf test.
In all , I want to

[2020-08-11 08:23] yidong0635 commented on #1505
@AlekseyMarchuk  I git pull the latest code, and test again , "can't kill -9 " this issue disappeared. Are there any updates ?
If so we can close this one .

[2020-08-11 08:33] yidong0635 commented on #1505
corrected , there's still some threads not clean:
ps -ef |grep perf
root       13146       1  0 Jul29 ?        00:00:01 /home/spdk/build/examples/perf -q 1 -o 4096 -w randrw -M 50 -t 1 -r trtype:rdma adrfam:IPv4 traddr:192.168.1.1 trsvcid:4420
root       15465       1  0 Jul29 ?        00:00:01 /home/spdk/build/examples/perf -q 1 -o 4096 -w randrw -M 50 -t 1 -r trtype:rdma adrfam:IPv4 traddr:192.1

[2020-08-11 08:37] tomzawadzki commented on #1146
Patch resolving this issue was merged https://review.spdk.io/gerrit/c/spdk/spdk/+/3682
@Comphix confirmed in comment there that this fixes this issue.

Added patch that removes FIXME for this test case https://review.spdk.io/gerrit/c/spdk/spdk/+/3726

[2020-08-11 08:40] spdkci commented on #1533
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_24065.html

[2020-08-11 08:43] spdkci commented on #1424
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_24014.html

[2020-08-11 09:08] tomzawadzki commented on #1497
@wawryk @mikeBashStuff What is the state of this issue after merging following series ?
[pkgdep/git: [QAT] Fix logic while checking qat_service status](https://review.spdk.io/gerrit/c/spdk/spdk/+/3515/6 "pkgdep/git: [QAT] Fix logic while checking qat_service status")(Merged)
[pkgdep/git: [QAT] Do the patching only on the tested driver](https://review.spdk.io/gerrit/c/spdk/spdk/+/3507/9 "pkgdep/git

[2020-08-11 09:17] tomzawadzki commented on #1513
For reference the comment above refers to patch that disabled shutdown tests for SoftRoCE https://github.com/spdk/spdk/commit/79aac78398b5f339ca0ddfda7b1cc2d225f41146

[2020-08-11 09:19] tomzawadzki commented on #1521
The two reports here should have been moved to #1513, which share the error signature.
That issue was closed since shutdown tests for Soft-RoCE were disabled.

Since both issues are the same, closing this one too.

[2020-08-11 09:19] #1521 closed

[2020-08-11 09:26] tomzawadzki commented on #1437
@gwnet Have you had a chance to look into this issue and does it reproduce on latest SPDK ?

[2020-08-11 09:29] tomzawadzki commented on #1449
@sqiu110 Have you had a chance to gather more details on this issue and does it happen on latest SPDK ?

[2020-08-11 09:30] tomzawadzki commented on #1470
@sunmingbao Have you had a chance to try steps from @yidong0635 ?

[2020-08-11 09:33] tomzawadzki commented on #1490
@dashan8020 Have you had a chance to try if latest SPDK reproduces the issue ?

[2020-08-11 11:42] AlekseyMarchuk commented on #1387
Hi @mhae
I apologize for long delay. I prepared a patch that removes redundant error logs https://review.spdk.io/gerrit/c/spdk/spdk/+/3736
Could you check if it helps you?

[2020-08-11 11:44] AlekseyMarchuk commented on #1519
I added @Seth5141 to assignee since he prepared fixes for this issue

[2020-08-11 11:45] AlekseyMarchuk commented on #1520
I added @Seth5141 to assignee since he prepared fixes for this issue

[2020-08-11 11:53] AlekseyMarchuk commented on #852
Hi @yidong0635, a lot of time passed since last update. Will you be able to reproduce this issue with this patch https://review.spdk.io/gerrit/c/spdk/spdk/+/3736? I believe that old fixes should eliminate core dumps reported below. This patch removes redundant error logs in rdma module.

[2020-08-11 12:35] Maciej-Szwed commented on #1531
@senthilkumar-v it looks like you are right. Here is the fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/3737

[2020-08-11 12:48] spdkci commented on #1538
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_24077.html

[2020-08-11 12:48] spdkci commented on #1538
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_24081.html

[2020-08-11 14:23] mhae commented on #1387
@AlekseyMarchuk , thanks for the fix. I tried it with no_srp=false (not true).
The original errors are gone but I'm still getting occasionally these:
[code]
The test is really simple. Just perf against 24 subsystems and hitting ctrl-c in perf.

[2020-08-11 15:18] tomzawadzki commented on #1510
[Bug scrub] @peluse Any other environment details we could provide to help solve this issue ?

[2020-08-11 15:22] tomzawadzki commented on #1497
[Bug scrub] The set of patches above resolves the compilation issue. CI is now updated with Fedora 31.

[2020-08-11 15:22] #1497 closed

[2020-08-11 15:24] AlekseyMarchuk commented on #1387
My patch suppresses redundant errors which occur during graceful qpair destruction process. But the error you reported is not related to those errors, it means that we tried to access the wrong remote memory. Probably that means that we tried to read/write data to perf's memory when it was already deregistered (e.g. we destroyed a protection domain).
If think it would be better to create another i

[2020-08-11 16:23] nufosmatic opened #1541 "spdk_app_get_core_mask() - doc should include a warning that modifying the set returned will modify the framework"
spdk_app_get_core_mask() - doc should include a warning that modifying the set returned will modify the framework.

## Expected Behavior

I probably expect too much.

## Current Behavior

Example: if you call spdk_setcpu_and(spdk_app_get_core_mask(), other), subsequent calls to spdk_app_get_core_mask() will return the modified CPU mask.

## Possible Solution

1) Doc should warn that the cpu set re

[2020-08-11 16:45] mkirkconnell opened #1542 "pkgdep.sh does not complete successfully on RHEL 8.x"
##Summary
Running pkgdep.sh on recently released RHEL 8 doesn't complete successfully. Looks like current checks in rhel.sh is for rhel7 only which is causing different commands to be executed resulting in failure

$ cat /etc/os-release
NAME="Red Hat Enterprise Linux"
VERSION="8.2 (Ootpa)"
ID="rhel"
ID_LIKE="fedora"
VERSION_ID="8.2"

## Expected Behavior
Running pkgdep.sh should complete without e

[2020-08-11 17:07] AlekseyMarchuk commented on #1444
Hi @sunmingbao

I tried to reproduce this issue with kernel target, but everything worked fine (I ran 10 iterations).
I don't have a system with 24 nvme disks, so I used 16 nvme disks and 8 ram disks. Here is how I started nvmet:
[code]
perf output:
[code]

Hosts info:
Initiator:
Intel(R) Xeon(R) Silver 4116 CPU @ 2.10GHz 48 cores (with hyper threading)
CentOS Linux release 7.5.1804 3.10.0-862.el7

[2020-08-11 18:19] mhae commented on #1387
@AlekseyMarchuk , ok. Regarding the error above, do you think it could cause any memory corruption? Do we handle this corner case properly? I'm happy to create a new issue since it is easily seen. Let me know.

[2020-08-12 06:22] optimistyzy commented on #1523
This is issue is related with ISCSI shutdown. It seems that the iSCSI target is waiting for some events, but the iSCSI target does not get it . I tried to produce this issue on my local physical machine, but cannot produce it (Running the calsoft testcases more than 20 times). So I think that it need some one's help to get some clues (e.g., to get some code execution path with some tools like psta

[2020-08-12 07:20] tomzawadzki opened #1543 "[vhost-initiator-vg-autotest] Could not resolve proxy"
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_24111.html

## Execution failed at
[code]

[2020-08-12 07:21] spdkci commented on #1543
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_24111.html

[2020-08-12 07:24] yidong0635 commented on #852
hi @AlekseyMarchuk ,
    I'm still on setting up the test environment(It's easily broken), I will verify your patch once ready.

[2020-08-12 07:51] yidong0635 commented on #852
@AlekseyMarchuk  test finished， and there's no error ， your patch looks good。

[2020-08-12 07:57] AlekseyMarchuk commented on #852
Thanks @yidong0635. I'll close this issue when the patch is merged

[2020-08-12 08:40] gwnet commented on #1437
@tomzawadzki I am busy on other thing these days. I have not have a chance verify this again. I remember I did not suffer bdev hello world issue any more. this issue is reproduced with vmware workstaion emulated NVMe device. could you please tune this to low priority? I will find a time to verify this. :)

[2020-08-12 08:42] cyx-cathy commented on #1536
we do some test based on SPDK V20.01, here is the result:
RDMA   connect retry count | NVME_RDMA_TIME_OUT_IN_MS | NVME_RDMA_QPAIR_CM_EVENT_TIMEOUT_US | Runtime    for nvme_ctrlr_get_cc()
-- | -- | -- | --
7 (Default) | 2000(Default) | 1000000 (Default) | 33 [sec] 198639 [usec]
7 (Default) | 20 | 1000000 (Default) | 34 [sec] 108872 [usec]
7 (Default) | 2000(Default) | 10000 | 32 [sec] 918902 [usec]

[2020-08-12 09:25] spdkci commented on #1424
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_24134.html

[2020-08-12 11:27] spdkci commented on #1424
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_24173.html