[2020-08-12 11:29] spdkci commented on #1424
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_24165.html

[2020-08-12 13:45] nufosmatic commented on #1539
Thank you. That would seem to do what I needed. At least I replaced my added signal handler with the callback and the application is terminating nicely. The callback function mods the above example like this:

[code]

I guess my observation is a correct usage of the members of the spdk_app_opts structure is not well described. I don't see where this behavior is described in the docs. My inclinatio

[2020-08-12 13:55] jimharris commented on #1539
Reopening to keep as a placeholder to track improving the docs in this area.

[2020-08-12 13:58] nufosmatic commented on #1512
I've determined that the CRYPT feature does not do what I need, so I'm not going to pursue installing and testing the alternative intel library (as I'm still not certain the offending feature is involved).

However, I did have a look at it, and it does look like it addresses the specific problem I found:

[code]

[2020-08-12 13:58] #1512 closed

[2020-08-12 15:53] nufosmatic opened #1545 "Should spdk "thread context" be in the public API - spdk_thread_init_ext(), spdk_thread_get_ctx() et al?"
Should spdk "context" APIs be public - spdk_thread_init(), spdk_thread_get_ctx() et al? It looks like the "thread context" is reserved for supporting the "reactor" paradigm and is not generally usable after calling spdk_app_start().

## Expected Behavior

Define my own context using spdk_thread_init_ext(). The context seemed handy for avoiding evil global variables or noisy arguments in thread mes

[2020-08-13 00:16] spdkci commented on #1424
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_24218.html

[2020-08-13 00:17] spdkci commented on #1533
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_24219.html

[2020-08-13 02:31] spdkci commented on #1538
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_24230.html

[2020-08-13 04:06] spdkci commented on #1538
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_24234.html

[2020-08-13 04:31] jimharris commented on #1480
This is related to some of the other Calsoft failures that I'm looking at.

[2020-08-13 07:05] jackygam2001 opened #1546 "nvme tcp testing of spdk perf will cause kernel crash on upstream linux kernel 5.4.52"
use the spdk perf(v20.04.X) as host and upstream linux kernel(5.4.52) as target to test nvme tcp will cause kernel crash

## Expected Behavior

the nvme tcp can connect and read/write disk successfully.

## Current Behavior

the kernel will oops.  the piece log of crash dmesg is below.
[  876.455509] BUG: unable to handle page fault for address: 0000000001eb1ca8
[  876.462474] #PF: supervisor read

[2020-08-13 08:52] spdkci commented on #1533
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_24239.html

[2020-08-13 11:41] rorschach01 opened #1547 "Failed to create blobfs on ftl bdev"
I use the qemu emulator to mount the image of ocssd, and want to create blobfs on ftl bdev to test rocksdb
## Expected Behavior
I open two command windows. One runs `HUGEMEM=5120 ./scripts/setup.sh` and `./build/bin/nvmf_tgt`, and another one runs the following commands:
[code]

It should  create blobfs on ftl0 bdev successfully.
## Current Behavior

When I run `HUGEMEM=5120 ./scripts/setup.sh` an

[2020-08-13 12:38] #1535 closed

[2020-08-13 12:38] #1522 closed

[2020-08-13 13:09] shuhei-matsumoto opened #1548 "[BlobFS-autotest] modprobe: FATAL: Module ib_ucm not found in directory /lib/modules/5.7.7-100.fc31.x86_64"
[code]

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/24266/archive/BlobFS-autotest/build.log

## Execution failed at

[code]

[2020-08-13 13:12] shuhei-matsumoto commented on #1548
This might occur because I did not rebase to the latest master. (The last rebase might be a day ago.)
I will close this if I don't see this failure after rebasing.

[2020-08-13 13:42] AlekseyMarchuk commented on #852
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/3736 merged, closing this issue

[2020-08-13 13:42] #852 closed

[2020-08-13 13:44] AlekseyMarchuk commented on #1387
@mhae, I don't think that it causes memory corruption. I would prefer to investigate this error in details, so could you create a new issue? The last patch is merged, so I think that we can close this issue.

[2020-08-13 13:44] #1387 closed

[2020-08-13 13:46] mhae commented on #1387
@AlekseyMarchuk, I will open a new issue. Thanks again for fixing this!!

[2020-08-13 13:55] mhae opened #1549 "nvmf/rdma: Errors are logged when perf is aborted during run with ctrlr-c"
I'm running perf aganist a number of subsystems. Each subsystem contains one NVMe drive and perf connects to all of the subsystem. When I hit ctrlr-c during the perf run, the target sometimes logs these errors:
[code]

If they are harmless, we could make them INFO, or WARN. Or turn them into something more useful, indicating that the initiator went away. I don't think we should just suppress them

[2020-08-13 14:29] jimharris commented on #1547
Could you try changing line 99 in test/blobfs/mkfs/mkfs.c to set opts.json_config_file instead of opts.config_file?  This is definitely a bug in the mkfs app that needs to be fixed.

@dong-liuliu - could you take a look at method_not_found error here?  It seems we do not link the blobfs_bdev library into the main target applications.

[2020-08-13 15:40] peluse commented on #1538
Proposed fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/3740

[2020-08-13 16:35] phantooom opened #1550 "run hello_bdev failed"
## Expected Behavior

## Current Behavior

[code]
## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context (Environment including OS version, SPDK version, etc.)

vargant centos8(Linux centos8.localdomain 4.18.0-193.14.2.el8_2.x86_64 #1 SMP Sun Jul 26 03:54:29 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux)  （spdk commit b70fc69）

[2020-08-13 18:27] kumaran-coder opened #1551 "spdk_nvme_ctrlr_create_ns fails on devices that support NVMe version 1.3 and above"
Namespace creation fails on NVMe devices that support version 1.3 and above.

## Expected Behavior

Namespace creation should succeed. spdk_nvme_ctrlr_create_ns should return the newly created namespace id.

## Current Behavior
nvme_ctrlr_identify_id_desc is called in the context of creating a new namespace (spdk_nvme_ctrlr_create_ns), nvme_ctrlr_identify_id_desc tries to get the Namespace Identif

[2020-08-13 19:29] spdkci commented on #1548
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_24274.html

[2020-08-13 19:30] spdkci commented on #1548
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_24275.html

[2020-08-13 19:33] spdkci commented on #1533
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_24278.html

[2020-08-13 22:52] mhae opened #1552 "nvmf/nvme: Subsystem not transition to paused when IO is outstanding during hot remove"
Testing hot plugging under load (perf) with 20.07 plus patches from Seth (https://review.spdk.io/gerrit/c/spdk/spdk/+/3759).
When a device is detected (after it was removed), it is added back to a specific subsystem. The RPC to add the namespace to the subsystem can hang if there's an io outstanding (see trace below).
Note, there are hot adds/removes happening in quick succession which causes this

[2020-08-14 02:47] rorschach01 commented on #1547
I try to change line 99 in test/blobfs/mkfs/mkfs.c to set opts.json_config_file instead of opts.config_file,it produced the following error:
[code]
This seems to be mkfs re-initiated the RPC request and competed with nvmf_tgt to use /var/tmp/spdk.sock.I hope you can give some suggestions,thanks!

[2020-08-14 03:34] spdkci commented on #1424
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_24291.html

[2020-08-14 04:41] yidong0635 commented on #1297
test has been changed to different ports to test multi-paths, maybe this issue can be closed.

[2020-08-14 04:53] Comphix commented on #1146
Patch has been merged. Close this issue.

[2020-08-14 04:53] #1146 closed

[2020-08-14 04:57] spdkci commented on #1424
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_24294.html

[2020-08-14 07:12] Comphix commented on #1550
Looks like you've configured the Malloc0 as the bdev which is not found:

[2020-08-13 16:29:27.634563] hello_bdev.c: 208:hello_start: *ERROR*: Could not find the bdev: Malloc0

Could you add more configuration information here?

[2020-08-14 07:15] Comphix commented on #1551
@liang2yan , please check whether we have the SSD with NVMe 1.3 and have a try on this case.

[2020-08-14 08:52] gwnet opened #1553 "[FAQ] review.spdk.org password generating issue need help"
I try to download SPDK patch, I use the same password of my github account. but failed to get the code.

Password for 'https://gwnet@review.spdk.io':
remote: Unauthorized
fatal: Authentication failed for 'https://review.spdk.io/gerrit/a/spdk/spdk/'
intel@wcp116:~/wayne/warraid5/spdk$ git fetch "https://gwnet@review.spdk.io/gerrit/a/spdk/spdk" refs/changes/03/3203/7 && git checkout -b change-3203-7

[2020-08-14 13:46] spdkci commented on #1424
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_24314.html

[2020-08-14 14:00] nufosmatic opened #1554 "Example makefile from 20.04.1 will cause run-time error in 20.07 "subsystem bdev dependency sock is missing""
Example makefile from 20.04.01 will cause run-time error in 20.07 "subsystem bdev dependency sock is missing"

## Expected Behavior

???

## Current Behavior

We found this elsewhere, but the simplest case is in the BDEV hello_world example - the example compiles, but then at run-time we get this error:

[code]

## Possible Solution

The "event_sock" library is apparently required in 20.07. This i

[2020-08-14 14:20] phantooom commented on #1550
step ref :https://github.com/spdk/spdk/tree/master/scripts/vagrant
[code]

[2020-08-14 16:04] peluse commented on #1553
@Seth5141 might be able to help

[2020-08-14 20:36] Seth5141 commented on #1553
This issue was resolved over slack this morning. I'm just going to summarize the main points for anyone coming across this later.

1. The http password created by gerrit for use with cloning and pushing using the http API is not the same thing as your GitHub password used to log in using OAUTH.
2. In order to generate an https password you have to first configure your e-mail address in the gerrit

[2020-08-14 20:36] #1553 closed

[2020-08-14 22:54] kumaran-coder commented on #1551
Yes, it is NVMe 1.3
Output from SPDK identity example

Controller Capabilities/Features
================================
...
NVMe Specification Version (VS):       1.3
NVMe Specification Version (Identify): 1.3
...

[2020-08-17 06:50] spdkci commented on #1538
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_24356.html

[2020-08-17 06:54] optimistyzy commented on #1546
@jackygam2001  What ever SPDK sends, the kernel should not crash.(The crash should be the kernel bug that it can handle the corner case if SPDK sends wrong data). So could you also try SPDK 20.07 for testing? Thanks.

[2020-08-17 07:27] glodfish-zg commented on #1550
You can use this cmd(sudo ./build/examples/hello_bdev -c ./examples/bdev/hello_world/bdev.conf -b Malloc0) to test.
Also you can ./build/examples/hello_bdev - to check all the params.
It seems the ref needs to be updated.

[2020-08-17 08:03] jackygam2001 commented on #1546
@optimistyzy ,  okay, i will try spdk 20.07.  also i will report this issue to the kernel community.  Does your team test spdk 20.04.X as host and upstream linux kernel as target case?  and what's upstream linux kernel version does the spdk 20.04.X match

[2020-08-17 11:13] spdkci commented on #1424
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_24385.html

[2020-08-17 23:23] jimharris commented on #1542
@wawryk @mikeBashStuff would one of you have time to take a look at this one?

[2020-08-18 01:38] optimistyzy commented on #1546
@jackygam2001 We have regular kernel related test in our CI pool every day. But we did not test every kernel version in our CI system.

[2020-08-18 02:08] jackygam2001 commented on #1546
@optimistyzy , okay, i also try the kernel 5.6.X on our node.

[2020-08-18 02:20] spdkci commented on #1532
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_24479.html

[2020-08-18 03:01] optimistyzy commented on #1514
@ssampath   in your both running:

"[2020-07-27 21:34:47.014186] nvme_rdma.c:1103:nvme_rdma_connect: ERROR: RDMA connect error -99
[2020-07-27 21:34:47.014347] nvme_rdma.c:1334:_nvme_rdma_ctrlr_connect_qpair: ERROR: Unable to connect the rqpair"

It seems that one connections fails, this may be root cause of the performance is not consistent.

[2020-08-18 03:15] jackygam2001 commented on #1546
hi @optimistyzy , i have tested the upstream kernel 5.6.19, the issue is still exist.  could you try spdk 20.04.x to double check this issue?

[2020-08-18 04:48] spdkci commented on #1424
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_24475.html

[2020-08-18 04:56] spdkci commented on #1538
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_23889.html

[2020-08-18 06:31] Comphix commented on #1550
Please have a try with below patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/3831

Verified and it looks like working.

root@storage35:/home/spdk# ./build/examples/hello_bdev -c ./examples/bdev/hello_world/bdev.conf -b Nvme0n1
[2020-08-18 15:15:04.413440] conf.c: 626:spdk_conf_read: *ERROR*: INI configuration has been deprecated and will be removed in a future release. Please switch to JSON-RPC

[2020-08-18 06:47] YafeiWangAlice opened #1555 "Performance of random read tested by db_bench with SPDK is much worse than which with kernel device driver(KDD)"
As SPDK instructions, I think the performance of RocksDB with spdk should be better than which with KDD.
And in some case it is better, such as fillseq,overwrite. readseq is similar at least.
But the readrandom is much worse than KDD.

Below is my test result about **readrandom**:
   1) latency(micros/op)
        KDD               0.547
        spdk18.04      16.33
        spdk20.01      22.425

[2020-08-18 06:48] yidong0635 commented on #1546
@optimistyzy , @jackygam2001 master branch issue can be reproduced.

[2020-08-18 06:58] spdkci commented on #1424
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_24494.html

[2020-08-18 07:02] spdkci commented on #1424
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_23964.html

[2020-08-18 07:15] jackygam2001 commented on #1546
@yidong0635  do u mean the issue is reproduced on the spdk's master branch ?  @optimistyzy i think most possibility of this issue is  spdk 20.04.X sends  a wrong pdu to target, then cause the kernel crash.  Does you guys test the scenario before?

[2020-08-18 07:25] spdkci commented on #1456
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_24495.html

[2020-08-18 07:46] optimistyzy commented on #1546
@jackygam2001 Dong means that the SPDK master branch will also cause the kernel crash. Currently, I do not think that SPDK sends a wrong pdu. From 20.01 to now, the SPDK nvme initiator uses batched data sending. So it will send big data with large size in one time if possible. So it is probably the issue of kernel target. As what I said, whatever SPDK sends any data, the kernel should not have cor

[2020-08-18 08:04] yidong0635 commented on #1554
@nufosmatic  Do you mean CHANGELOG.md was not mentioned about this? It works well on 20.07.

[2020-08-18 08:56] spdkci commented on #1533
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_24461.html

[2020-08-18 09:01] mikeBashStuff commented on #1542
@jimharris Sure, will look into this.

[2020-08-18 13:29] mikeBashStuff commented on #1542
Fixing this can be a bit problematic since we don't have any actual RHEL boxes in the CI pool, so the support here is really a "best effort" thing. I fetched 8.2 image under a dev licence but I am getting some wonky results with plenty of packages missing from the repos I got available under my subscription. So for instance, I am missing the `CUnit-devel` package, but from the description of the i

[2020-08-18 15:35] phantooom commented on #1550
@Comphix  thx

[2020-08-18 15:35] #1550 closed

[2020-08-18 16:34] mkirkconnell commented on #1542
Yes I tripped over CUnit-devel and nasm, had to locate repos online as they are not included in base OS.

This is my repo for them:

[ol8_codeready_builder]
name=Oracle Linux 8 Repositories - Codeready Builder
baseurl=http://yum.oracle.com/repo/OracleLinux/OL8/codeready/builder/x86_64
enable=1
gpgcheck=0

[2020-08-18 20:22] nufosmatic commented on #1554
Yes, the examples on 20.07 all work (all that we've tried), but they have this new required library in the Makefile as compared with 20.04.01. So, if you have a dozen prototype apps with Makefiles built up from 20.04.1, and you upgrade to 20.07, they will all fail in this way.

There is not a description of how to create a Makefile for a particular application, and there is not an automated means

[2020-08-18 20:30] peluse commented on #1554
This has come up on slack before as well. It's good to have this github issue log in for folks that run into it in the future.  Seems like it can be closed at this point though

[2020-08-18 20:35] nufosmatic opened #1556 "Application termination with lots of threads results in "thread <threadname> is marked as exited" and a hang."
Application termination with lots of threads results in "thread <threadname> is marked as exited" and a hang.
We scaled our simple framework from one NVMe device to four. With one device or two devices the framework terminates nicely (implemented with the shutdown_cb per https://github.com/spdk/spdk/issues/1539. With three or four devices we will frequently get this message:

[2020-08-18 16:12:15.

[2020-08-18 20:45] ak-gh commented on #1556
On Tue, Aug 18, 2020, 23:36 NUFOSMATIC <notifications@github.com> wrote:

You might want to spend some time on your threading logic. The above
message tells you that the thread the message is being sent to has already
called spdk_thread_exit (so the message has no valid addressee). BTW,
spdk_thread_send_msg returns a code worth checking.

Regards,
Andrey

[2020-08-18 21:52] nufosmatic commented on #1556
We renamed the four bdev "writer" threads to include the launch order in the name. No matter what order we launch, the same physical device exhibits this message. So we have some sort of device issue, not a middleware issue. We are not seeing a performance issue between devices (spdk_top is very nice, thank you).  Th e prototype type case runs all of the devices at the same rate and block size and

[2020-08-18 22:58] mhae commented on #1552
I think I found a clue. In my testing, the path for SPDK_NVME_ASYNC_EVENT_TYPE_NOTICE was triggered without decrementing the io_outstanding.
[code]

[2020-08-19 02:34] optimistyzy commented on #1546
I have the clues and will update it later.

[2020-08-19 04:10] ssampath commented on #1514
Hmm..Not sure if I understand your comment above.  There is I/Os statistics being reported.  You mean the connection across one core is lost (core #2 in trial 1, core #1 in trial 2) given that the core-mask I specified is 0xff.

[2020-08-19 06:39] zlsh007 opened #1557 "About blob metadata corruption"
Now the blob layer does not seem to have a repair for metadata corruption.

When crc verification fails, or other metadata errors, are there plans to make multiple copies or other strategies to try to recover?

Thanks
    su

[2020-08-19 07:46] punkie44 opened #1558 "Does SPDK support VF(sriov ) ?"
## Expected Behavior

Using SRIOV supported NVME SSD, make 1 VF and run perf tool then it should be run without any issue.

## Current Behavior
For PF it runs well while VF is failed.

## Possible Solution

## Steps to Reproduce

1. using sriov, make VF (nvme1)
2. attach namespace on VF (nvme1n1)
3. run setup.sh in spdk/scripts directory. (it makes 2 vfio-pci (e.g.>0000:03:00.0 , 0000:03:00.1))
4.

[2020-08-19 08:26] jackygam2001 commented on #1546
@optimistyzy , i will try your patch, thanks very much!

[2020-08-19 09:04] jackygam2001 commented on #1546
@optimistyzy , i have tried your patch, but it crash another function.  i think the patch only fixs get cmds by  data->ttag bug.
you can see my crash log below.

[85627.604196] nvmet: creating controller 1 for subsystem nqn.2014-08.org.nvmexpress.discovery for NQN 2014-08.org.nvmexpress:uuid:2eaa260a-bd99-4f6d-a10e-be61dc64ce24.
[85627.604937] nvmet: creating controller 2 for subsystem testnqn_12

[2020-08-19 09:17] tomzawadzki commented on #1297
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/3590 has been merged a week ago, since then no new reports showed up.
Thank you @yidong0635 for resolving this long standing and often occurring issue !

[2020-08-19 09:17] #1297 closed

[2020-08-19 09:21] mikeBashStuff commented on #1542
@mkirkconnell Appreciate the feedback, thank you :) I will take that and try to cook some more patches for rhel 8.x so we know for sure `pkgdep,sh` won't suddenly fail there.

[2020-08-19 09:21] tomzawadzki commented on #1548
The issue occurred on recently introduced system into the test pool **GP19**. It might be related to machine setup itself or rxe_cfg script.
@mikeBashStuff is looking into the issue

[2020-08-19 14:10] spdkci commented on #1533
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_24581.html

[2020-08-19 14:12] spdkci commented on #1538
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_24582.html

[2020-08-19 15:13] spdkci commented on #1538
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_24586.html

[2020-08-19 19:38] Seth5141 commented on #1552
Just posting mhae's change here for informational purposes. https://review.spdk.io/gerrit/c/spdk/spdk/+/3854

[2020-08-19 22:50] jimharris commented on #1558
Hi,

SPDK should work fine with VFs.  But you may need to keep the PF attached to the kernel nvme driver and only run SPDK with the VF.

Could you try:

PCI_BLACKLIST="0000:03:00.0" setup.sh

This will keep the PF attached to the kernel nvme driver, and allow any VFs to get attached to vfio-pci for SPDK usage.

[2020-08-19 22:58] jimharris commented on #1555
Hi @YafeiWangAlice,

If I am reading your configuration correctly, you have 20M entries (--num=20000000) and value size of 1000 bytes.  This means total database is approximately 20GB in size.  This means the entire database will fit in kernel page cache.

The SPDK RocksDB plugin cannot utilize the kernel page cache.  It will buffer writes and do read ahead to improve compaction performance.  But

[2020-08-19 23:07] spdkci commented on #1424
Another instance of this failure. Reported by @Donaim. log: https://ci.spdk.io/public_build/autotest-per-patch_24577.html

[2020-08-20 02:01] optimistyzy commented on #1546
@jackygam2001 Have you also applied my spdk patch to SPDK side?  I did not reproduce your issue again with your workloads on my proposed spdk patch and the workaround on kernel.(my linux version is 5.8+).  I hope that you can get the  support from kernel community for the kernel side issue.

[2020-08-20 02:03] punkie44 commented on #1558
Hi Jim,
Thank you for your advice.
Now I can run perf tool on VF.

BTW,  Is it a constraint of SPDK that it is impossible to use VF and PF at the same time?
If my SSD supports 1 PF and 7 VF, and also supports 8 namespace.
I want to attach a namespace to a total of 8 controllers and give IO to each side.
Howerver, if PF should be in the kernel space, I can use only 7 controllers.
Am I correct ?

[2020-08-20 04:04] changpe1 commented on #1557
[Bug Scrub] Assign it to Jim now.

[2020-08-20 04:18] jimharris commented on #1556
Hi @nufosmatic,

Can you describe more about your shutdown callback and where you are calling spdk_thread_exit() for your four "writer" threads?

Thanks,

Jim

[2020-08-20 04:18] changpe1 commented on #1541
[Bug Scrub] Ben will take a look.

[2020-08-20 04:19] benlwalker commented on #1545
SPDK is built in layers so that you can pick and choose which components to use. The application framework - the spdk_app_* calls are the very highest layer. If you use SPDK's app framework, it does almost everything for you to get all of the threads and reactors set up. For applications that require additional control, they can target lower level APIs like the thread library. If you elect to use

[2020-08-20 04:20] #1545 closed

[2020-08-20 04:21] benlwalker commented on #1541
We should mark the return value as const as suggested.

[2020-08-20 04:57] jimharris commented on #1558
Hi @punkie44,

When the PF is bound to vfio-pci, do you see a /sys/bus/pci/devices/<0000:03:00.0>/sriov_numvfs entry?  If so, what is the value when you cat that file?

-Jim

[2020-08-20 05:09] punkie44 commented on #1558
in this condition....
1.using sriov, make VF (nvme1)
2.attach namespace on VF (nvme1n1)
3.run setup.sh in spdk/scripts directory. (it makes 2 vfio-pci (e.g.>0000:03:00.0 , 0000:03:00.1))
---> I can see " /sys/bus/pci/devices/<0000:03:00.0>/sriov_numvfs" and the value is 1.

[2020-08-20 05:20] changpe1 commented on #1551
Yeah, the issue does exist, I submit a fix https://review.spdk.io/gerrit/c/spdk/spdk/+/3860 here

[2020-08-20 05:30] jimharris commented on #1558
Thanks @punkie44.  When you run the nvme perf tool, do you run it on both SSDs at the same time, or just one at a time?

[2020-08-20 05:40] punkie44 commented on #1558
@jimharris, maybe you or me....mis-understand something....

As I said I can't run perf tool on VF if PF & VF all are bound to vfio-pci
-----------------------------------------------------------------------------------
3.run setup.sh in spdk/scripts directory. (it makes 2 vfio-pci (e.g.>0000:03:00.0 , 0000:03:00.1))
4.run perf tool in spdk/example/nvme/perf
 --> for PF(0000:03:00.0) works fine bu

[2020-08-20 06:21] yidong0635 commented on #1546
after Tried server times. I can confirm there's no coredump on kernal 5.6.X with above patch of spdk, and  I tried it on a 5.4.x, I can't simulate a same error.

[2020-08-20 06:22] yidong0635 commented on #1546
[  215.509823] null_blk: module loaded
[  215.621447] Emulex LightPulse Fibre Channel SCSI driver 12.6.0.3
[  215.621448] Copyright (C) 2017-2019 Broadcom. All Rights Reserved. The term "Broadcom" refers to Broadcom Inc. and/or its subsidiaries.
[  215.627043] nvmet: adding nsid 1 to subsystem nqn.2016-06.io.spdk:testnqn
[  215.632315] nvmet_tcp: enabling port 1 (10.67.111.54:4420)
[  219.893265]

[2020-08-20 07:02] jackygam2001 commented on #1546
@optimistyzy @yidong0635 , i have patched  the code for kernel and spdk.  it won't crash when the read/write size < 4k, but when i use size as 131072, the kernel will crash.  i see in your spdk patch, there is only one row code, set the max_incapsule_data_size as a macro 'NVME_TCP_IN_CAPSULE_DATA_MAX_SIZE'. i see this macro is 8192.  does it mean the read/write size must < 8k in your fix?
and my t

[2020-08-20 07:04] spdkci commented on #1533
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_24589.html

[2020-08-20 07:17] optimistyzy commented on #1546
@jackygam2001 For large size, SPDK will determine to use  max_incapsule_data_size dermined by  ctrlr->ioccsz_bytes to use incapsule data or not. I am thinking that for Big I/O size, there is still issue related with kernel for h2c_data handling.

[2020-08-20 09:48] tomzawadzki commented on #1538
Series of patches ending in https://review.spdk.io/gerrit/c/spdk/spdk/+/3843 were merged.
They reduce time of spdk_dd tests from 6 to 3 minutes. This issue should no longer be occurring for patches that rebase on top of the latest SPDK.

Leaving open for 7 days, to let everyone rebase. If no new reports after rebase are seen, issue will be closed.

[2020-08-20 09:52] tomzawadzki commented on #1552
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/3854 is now merged, closing this issue. Thank you @mhae !

[FYI to automatically close GH issues from patches, please use [this](https://docs.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue) guide. So replacing `Fixes: 1552` with `Fixes #1552` would do the trick.]

[2020-08-20 09:52] #1552 closed

[2020-08-20 09:55] optimistyzy commented on #1546
I also confirmed that if this patch https://review.spdk.io/gerrit/c/spdk/spdk/+/3837 is applied on the initiator side, you need not apply the patch in a.txt file. Both 4KB and 128KB or other size workload should be OK.  But from my opinion, kernel does not handle the corner cases, which should be the enhancement for the kernel to avoid the coredump.

[2020-08-20 10:02] wawryk opened #1559 "Fedora32 fails on nvme_hotplug test"
## Expected Behavior

test pass

## Current Behavior

test fails

## Possible Solution

`

## Steps to Reproduce

1.Run nvme-phy-autotest on fedora32 (GP4 in CI)
Log from fail:
[code]

## Context (Environment including OS version, SPDK version, etc.)

Kernel:
[code]

GCC:
[code]

[2020-08-20 10:04] cyx-cathy commented on #1536
Also try on SPDK V20.07, here is the result:

RDMA   connect retry count | NVME_RDMA_TIME_OUT_IN_MS | NVME_RDMA_QPAIR_CM_EVENT_TIMEOUT_US | runtime  for nvme_ctrlr_get_cc()
-- | -- | -- | --
7 (Default) | 2000(Default) | 1000000 (Default) | 21 [sec] 376037 [usec]
7 (Default) | 20 | 1000000 (Default) | 21 [sec] 519722 [usec]
7 (Default) | 2000(Default) | 10000 | 19 [sec] 804296 [usec]

[2020-08-20 10:05] yidong0635 commented on #1546
@jackygam2001 Do you recompile the kernel, I just re-test this with a large size 131072 using these two patches, can't reproduce now.

[2020-08-20 10:12] optimistyzy commented on #1546
Let me analyze why the kernel nvmet tcp coredump:
1 SPDK initiator sends cmd capsulepdu, it is a write command, e.g., nvme fabrics connect command.
2 The kernel target tries to handle  and send r2t pdu,
3  The spdk initiator send h2c_data_pdu.
4 The kernel try to handle, but finds cmds are not initialized, so it causes coredump.

I checked the spec, and think that spdk initiator should send incaps

[2020-08-20 10:12] optimistyzy commented on #1546
@yidong0635  I think that if you use the original kernel, but only with the spdk patch on the initiator, the test should also pass without causing the kernel coredump.

[2020-08-20 10:47] wawryk opened #1560 "Warnings in intel-ipsec-mb during crypto test"
[code]

# Context (Environment including OS version, SPDK version, etc.)
Kernel:
[code]
GCC:
[code]
All submodules updated before starting test.

[2020-08-20 12:17] tomzawadzki commented on #1560
@wawryk Can you please see if v0.54 resolves this ? See new branch on spdk/intel-ipsec-mb https://review.spdk.io/gerrit/c/spdk/intel-ipsec-mb/+/3866

[2020-08-20 13:40] wawryk commented on #1560
@tomzawadzki v0.54 resolve this errors, thanks.

[2020-08-20 23:24] sagi-lb commented on #1546
Hey, the patch proposed for the kernel is wrong. the target is in full control of the use of ttag and the ttag is how it should locate h2cdata commands, for sure not the command_id. a single command could in theory involve several ttags, each for a different r2t issued by the target.

Does spdk happens to send less in-capsule data than what the target sets in its capabilities (16K by default for L

[2020-08-20 23:26] sagi-lb commented on #1546
@optimistyzy according to your analysis, I think there is indeed an issue for non-incapsule data for the connect. I'll try to look into that.

[2020-08-20 23:43] optimistyzy commented on #1546
See my last patch.To support write with non incapluse data for nvme fabrics, we can reuse connect in queue as a workaround or there should be other approach to handle it. By the way, in my last patch in a.txt  I did not change ttag to command_id. My proposal is just a workaround, there should be other ways to mitigate it.

[2020-08-21 00:02] sagi-lb commented on #1546
@optimistyzy I'm not able to reproduce this issue. But just to understand, is the connect coming with non-incapsule data?

[2020-08-21 00:10] sagi-lb commented on #1546
This indeed can work. I'd also add that the ttag sent to the host would be USHRT_MAX so we have an indication of this, right now we are doing incorrect arithmetic for the ttag... Want to send a patch upstream or should I?

[2020-08-21 00:38] jackygam2001 commented on #1546
@optimistyzy @yidong0635 @sagi-lb   sure, i recompiled the kernel module and reloaded it and also used your patch  to spdk 20.4.X.  but it still crashed when iosize is 131072.   okay, today i will try the lastest spdk master branch code.

[2020-08-21 01:36] optimistyzy commented on #1546
@jackygam2001 You can either use the SPDK master branch. For the kernel patch you can use the info in a.txt, and you may not need any patch for your kernel.

[2020-08-21 01:37] optimistyzy commented on #1546
Hi @sagi-lb What's the latest guide and steps to submit patches to linux kernel? If you think that my workaround in a.txt make sense, I can follow the guide to submit a patch to linux kernel.

[2020-08-21 05:41] jackygam2001 commented on #1546
@optimistyzy @yidong0635 , for the latest spdk master branch code,  it seems work fine now. and i see your spdk patch has been pushed into the master branch.   and we need not to patch the kernel and it won't crash.   thanks for you kindly help!

[2020-08-21 06:26] optimistyzy commented on #1546
@jackygam2001 Though the kernel will still have issue but I will submit patch to linux kernel. I think that this issue can be closed.

[2020-08-21 07:28] spdkci commented on #1494
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_24661.html

[2020-08-21 07:34] mikeBashStuff opened #1561 "[vagrant] - Hit timeout while waiting for ssh during ubuntu18-vg-autotest"
https://ci.spdk.io/results/autotest-per-patch/builds/24659/archive/ubuntu18-vg-autotest/build.log

Point of failure:
[code]

[2020-08-21 07:35] spdkci commented on #1561
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_24659.html

[2020-08-21 08:31] tomzawadzki commented on #1548
Patch fixing this was just merged:
https://review.spdk.io/gerrit/c/spdk/spdk/+/3823/

[2020-08-21 08:31] #1548 closed

[2020-08-21 08:43] tomzawadzki commented on #1559
Please try fill out the description to be more precise, since more investigation into this was already done.

Failure occurs due to line:
[code]
Which occurs during `nvme_hotplug` test on binary copied from Fedora 32 host to VM image.

[2020-08-21 08:51] spdkci commented on #1533
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_24653.html

[2020-08-21 14:11] wawryk opened #1562 "[Clearlinux] blob_ut: No such file or directory"
## Expected Behavior
Test pass

## Current Behavior
Test fail

## Context (Environment including OS version, SPDK version, etc.)
Test fails on:
[code]

During compilation there is warning:
[code]
When I checked CUnit version:
[code]

Example failure from our CI: [here](https://10.102.17.111:8080/job/clearlinux-autotest/3/console)
Kernel:
[code]
gcc:
[code]

[2020-08-21 14:14] mikeBashStuff opened #1563 "[setup.sh] Can't bind nvme controllers to uio driver on RHEL 8.2"
[code]
VM config:
[code]

This doesn't seem to be an issue with SPDK itself, however, I am leaving it here in case someone ever seen similar issue.

[code]

`setup.sh` is silent as to what's going on while the bind|unbind is performed since it ignores any failures at that stage, however, kernel is quite verbose:

[code]
Haven't seen anything similar on any other distros we support.

[2020-08-21 14:27] mikeBashStuff opened #1564 "uring fails to compile on RHEL 7.x"
[code]

`pkgdep.sh` fails to install uring due to the following:
[code]
However, even with the missing header file in place, compilation still fails:

[code]
gcc and the kernel in this distro are quite old though, so the question is if such a setup can be considered as supported.

[2020-08-21 15:23] eyuval opened #1565 "question regarding keep alive to ssd"
I am looking at the function nvme_ctrlr_set_keep_alive_timeout_done in lib/nvme/nvme_ctrlr.c. For me it is strange, that a zero value of the cdw0 (kato) of the nvme completion seems not to disable keep alive but instead is replace by:
if (keep_alive_interval_ms == 0) {
		keep_alive_interval_ms = 1;
	}

[2020-08-21 19:08] #1563 closed, assigned to nobody

[2020-08-24 01:43] changpe1 commented on #1551
Patch has been merged, so closing this issue now.

[2020-08-24 01:43] #1551 closed

[2020-08-24 01:47] optimistyzy commented on #1564
@mikeBashStuff I see that your kernel version is : 3.10.0, so clearly uring will not be supported in this kernel version. From my mind, we can close this issue.

[2020-08-24 01:48] YafeiWangAlice commented on #1555
Hi, @jimharris
I retest it with a bigger data number, and the result is as you said.

[2020-08-24 02:35] optimistyzy commented on #1546
Hi Jim,

When closing this issue, I already sent aan patch to the linux-nvme mailing list. And the latest one is :

http://lists.infradead.org/pipermail/linux-nvme/2020-August/019171.html

So I think that I will close this issue.

[2020-08-24 02:35] #1546 closed

[2020-08-24 03:08] punkie44 commented on #1558
@jimharris , I got it.
Here is my answer.
"You are testing one SSD at a time by specifying the transport ID parameters for each"
--> Yes
"or testing both SSDs together by omitting those parameters entirely"
--> If I omit a transport ID,  Perf tool can't find both PF and VF.

Anyway, I've got correct answer how to run spdk for VF.(using PCI_BLACKLIST)
So, I close this issue.
Thanks,

[2020-08-24 03:08] #1558 closed

[2020-08-24 04:36] optimistyzy commented on #1519
@jkalwas Checked in the CI system these days, this issue is fixed. Can you check it again in your environment?

[2020-08-24 05:12] optimistyzy commented on #1501
Do not see this issue for one month. Keep open this issue for another 1 week and if there is no similar issue, we can close this issue.

[2020-08-24 07:14] spdkci commented on #1533
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_24784.html

[2020-08-24 07:14] nissan7 commented on #266
Using -g parameter it worked.

[2020-08-24 07:18] spdkci commented on #1495
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_24787.html

[2020-08-24 07:19] spdkci commented on #1424
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_24749.html

[2020-08-24 07:39] #1441 closed

[2020-08-24 08:33] mikeBashStuff commented on #1564
I think we should at least consider adding some warning into `pkgdep.sh` about the kernel version we try to build uring against so user is aware what's going on with regards to `--uring` arg. This can be handled as a separate task though, closing this issue. :)

[2020-08-24 08:33] #1564 closed

[2020-08-24 09:49] jkalwas commented on #1519
Hi Ziye, I don't have any other tests than what is within CI system to confirm it is fixed.
I think it can be closed - thanks!

[2020-08-24 11:57] mikeBashStuff opened #1566 "bdevperf fails in nvmf_multicontroller test with mismatching buffer"
Example from the CI pool: https://ci.spdk.io/public_build/autotest-per-patch_24835.html

Note that the failing `bdev_nvme_attach_controller` call is part of the negative test and it's expected to fail (i.e. the #1568 is a duplicate issue):
[code]
The actual point of failure is described below.

Locally reproduced with the following setup:

[code]

With two controllers in place, `bdevperf` fails li

[2020-08-24 11:57] spdkci commented on #1566
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_24835.html

[2020-08-24 12:12] #1519 closed

[2020-08-24 13:59] spdkci commented on #1526
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_24866.html

[2020-08-24 14:04] Ornias1993 commented on #1396
@peluse If you like you can just openly admit QAT is vaporware, just so we can all start dropping it.
It has been months and QAT is STILL not actually supporting kernel 5.6 and up.

[2020-08-24 14:36] jimharris commented on #1555
Thanks for the update @YafeiWangAlice.

I'm going to close this issue since the behavior you have seen is expected.  If you have additional questions on this issue, please feel free to continue responding here.

[2020-08-24 14:36] #1555 closed

[2020-08-24 14:52] spdkci commented on #1566
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_24871.html

[2020-08-24 14:57] peluse commented on #1396
@Ornias1993 I don't see your name in the history on this, are you also having issues?

[2020-08-24 14:58] Ornias1993 commented on #1396
@peluse The same one here... QAT not being 5.6 compatible.
Does my name have to be in an issue before an obvious kernel incompatibility gets fixed?! >.<

[2020-08-24 15:06] peluse commented on #1396
@Ornias1993 OK, thanks. And no, of course your name doesn't have to be on it it to get it fixed :) It does help us (the SPDK team) communicate with the QAT team that it's more than the SPDK CI environment that's being impacted so appreciate you speaking up! I've escalated this internally, stay tuned...

[2020-08-24 15:18] mhae opened #1567 "nvme/rdma: Memory leak when controller is reset"
There seems to be a memory leak when an NVME initiator using RDMA is continuously resetting the controller while the target is restarting.
The call to spdk_nvme_ctrlr_reset is happening fairly often.

The trace clearly shows that we're exhausting the qpair->free_req list:
[code]

The following code is processing IOs and adm cmds and also deals with connection issues:
[code]

## Expected Behavior

[2020-08-24 15:21] Ornias1993 commented on #1396
@peluse Even a stock build (with --enable-kapi) on 5.6 doesn't pass.
Which is pretty reasonable, because it seems the functions it crashes on have been changed in 5.6.

If they tested it on 5.6 (which they should've been from feb 2020 (rc1) onwards at the very least) they would've known.
OS tested: Deb with kernel 5.6

[2020-08-24 16:12] spdkci commented on #1424
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_24837.html

[2020-08-24 16:25] Seth5141 commented on #1567
@mhae You are absolutely right. Thanks for finding this. The change that adds the -ENXIO path to _nvme_qpair_submit_request was added about a month ago (I think in time for 20.07). I have implemented the fix that you mentioned above. https://review.spdk.io/gerrit/c/spdk/spdk/+/3921. We should also backport it for 20.07.

[2020-08-24 17:24] Ornias1993 commented on #1396
Thanks to the patch file you guys from spdk have provided I managed to continue a but further.
Thank you!

[2020-08-24 17:31] spdkci commented on #1566
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_24872.html

[2020-08-24 17:37] peluse opened #1568 "[nvmf_multicontroller] Failed bdev_nvme_attach_controller"
17:16:04	# /home/vagrant/spdk_repo/spdk/scripts/rpc.py -s /var/tmp/bdevperf.sock bdev_nvme_attach_controller -b NVMe0 -t tcp -a 127.0.0.1 -s 4421 -f ipv4 -n nqn.2016-06.io.spdk:cnode1 -i 127.0.0.1 -c 60001
00:05:51.053  request:
00:05:51.053  {
00:05:51.053    "name": "NVMe0",
00:05:51.053    "trtype": "tcp",
00:05:51.053    "traddr": "127.0.0.1",
00:05:51.053    "hostaddr": "127.0.0.1",
00:05:51.

[2020-08-24 17:38] spdkci commented on #1568
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_24880.html

[2020-08-24 17:42] mikeBashStuff commented on #1568
This is a duplicate of https://github.com/spdk/spdk/issues/1566. :)

[2020-08-24 17:44] jimharris commented on #1568
1566 is a bdevperf verify error.  This one looks like an RPC failure.

It's the same test that's failing, but at least to me it seems like its failing for different reasons.

[2020-08-24 17:53] peluse commented on #1568
agree

[2020-08-24 18:57] mikeBashStuff commented on #1568
This one is the negative test which is meant to fail.

[2020-08-24 19:04] peluse commented on #1568
With a Backtrace??

[2020-08-24 19:33] mikeBashStuff commented on #1568
The piece of log which is included in the description shows output of the rpc call which doesn't fail the actual test (since we expect the failure here). The actual build failed on perform_tests call which raised the errexit trap, generating the backtrace.

[2020-08-24 19:58] jimharris commented on #1568
I guess I'm confused about the original description on #1566.  It shows logs for data mismatches, but I can't find those mismatches anywhere in any of the CI logs.  It seems the logs from #1566 description were generated from some local repro steps.  @mikeBashStuff please correct me if I'm wrong here.

It still seems like there are two different issues here that need to be root caused separately.

[2020-08-24 20:19] mikeBashStuff commented on #1568
The log about the mismatching data comes from the try.txt to which bdevperf writes its std{out,err}. It's missing from the CI since this file is not read at any point during the test and it's purged upon exiting from it. With that in mind, I had to reproduce it locally to see what's going on.

`test/nvmf/host/multicontroller.sh` is where these tests are coming from. The failure from the descriptio

[2020-08-24 20:21] jimharris commented on #1568
Thanks @mikeBashStuff.

Could you add more to the #1566 description for this?  Otherwise I'm concerned we will get a bunch of duplicate issues like Paul's.  I'd suggest putting the primary failing signature (the RPC failure) first in the description so that it's more easily matched when people are looking for existing issues before filing a new one.

[2020-08-25 02:07] spdkci commented on #1568
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_24896.html

[2020-08-25 02:32] spdkci commented on #1568
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_24898.html

[2020-08-25 03:42] spdkci commented on #1568
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_24902.html

[2020-08-25 06:33] spdkci commented on #1566
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_24910.html

[2020-08-25 06:33] spdkci commented on #1566
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_24909.html

[2020-08-25 06:44] optimistyzy commented on #1568
The following shows the log for running: test/nvmf/host/multicontroller.sh --transport=tcp on my platform. It always fails.

 00:26:02       # /home/ziyeyang/spdk/scripts/rpc.py -s /var/tmp/bdevperf.sock bdev_nvme_attach_controller -b NVMe0 -t tcp -a 127.0.0.1 -s 4420 -f ipv4 -n nqn.2016-06.io.spdk:cnode1 -i 127.0.0.1 -c 60000
NVMe0n1
 00:26:02       # /home/ziyeyang/spdk/scripts/rpc.py -s /var/tm

[2020-08-25 07:28] AlekseyMarchuk opened #1569 "Zero in-capsule data size"
There is a test `nvmf_filesystem_no_incapsule` which tries to check how SPDK target works with zero in-capsule data. But due to incorrect parsing of parameters in rpc.py, the actual in-capsule data size was not zero (the tests used transport default value) and test worked fine. With patches which fix parameters parsing (https://review.spdk.io/gerrit/c/spdk/spdk/+/3815) this test fails.

## Expecte

[2020-08-25 07:28] AlekseyMarchuk commented on #1569
I would like to discuss this issue on the next bug scrub

[2020-08-25 07:38] fishman419 opened #1570 "util/cpuset: spdk_cpuset_parse cannot parse core_mask if masked core num over 128"
we have a 256-core experimental machine, and use last several cores to do polling, but we found spdk_cpuset_parse didn't work in this case.

## Expected Behavior
spdk_cpuset_parse does work, masked core should be set in the spdk_cpuset which can tell correct masked core.

## Current Behavior
masked core num over 128 cannot be parsed.

## Possible Solution
it seems the statement in function **parse

[2020-08-25 09:10] shuhei-matsumoto opened #1571 "iSCSI initiator gets logout timeout when target portal is redirected by login redirection."
When a target portal is redirected by login redirection feature, open-iscsi initiator gets 15 seconds logout timeout after asynchronous logout is requested.
So the initiator login to the redirect portal after 15 seconds delay.
This downtime should be avoided.

## Expected Behavior

Open-iscsi initiator should complete logout immediately, and login to the new redirect portal

## Current Behavior

T

[2020-08-25 10:07] wawryk commented on #1559
I create new qcow2 image for this tests based on fedora32.
Currently on GP4 machine it works fine.
Closing issue.

[2020-08-25 10:07] #1559 closed

[2020-08-25 13:17] spdkci commented on #1566
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_24919.html

[2020-08-25 13:41] mikeBashStuff opened #1572 "[blobfs_fuse_test] Mountpoint not found"
https://ci.spdk.io/results/autotest-per-patch/builds/24918/archive/BlobFS-autotest/build.log

Seems like `fuse/fuse` didn't mount the filesystem at the expected path (` /tmp/spdk_tmp_mount`) as it was missing from `/proc/mounts`.

[code]

[2020-08-25 13:41] spdkci commented on #1572
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_24918.html

[2020-08-25 13:55] shuhei-matsumoto commented on #1571
A patch to fix this issue is https://review.spdk.io/gerrit/c/spdk/spdk/+/3928/1

[2020-08-25 14:16] karlatec opened #1573 "SPDK vs DPDK main branch compilation fail"
## Current Behavior

SPDK compilation fails when building versus latest DPDK main branch.
This issue was discovered using a patch which is still not merged, so may not fully apply to SPDK master branch.

## Steps to Reproduce

1. Use SPDK with following patch for building with external DPDK: https://review.spdk.io/gerrit/c/spdk/spdk/+/868/4
2. Use following ~/autorun-spdk.conf:
[code]
3. Run spdk/

[2020-08-25 14:18] karlatec commented on #1573
Similar errors encountered also when trying to build versus DPDK 20.08

[2020-08-25 14:32] #1538 closed

[2020-08-25 14:34] tomzawadzki commented on #1543
Most likely one time occurrence with the proxy. Closing.

[2020-08-25 14:34] #1543 closed

[2020-08-25 14:36] #1510 closed

[2020-08-25 14:44] jkalwas opened #1574 "pci device re-enumeration failure"
In a sequence of calls as below the second enumeration of pci device would fail i.e. enum_cb will not be called.
Probably it applies for any pci device type (verified for nvme device).

spdk_pci_enumerate + spdk_pci_device_claim
spdk_pci_device_detach
spdk_pci_enumerate

According to spdk_pci_enumerate API description it should work (and it did before).

After DPDK eal log level modified it turns

[2020-08-25 14:51] tomzawadzki commented on #1099
No new reports for a month. Closing.

[2020-08-25 14:51] #1099 closed

[2020-08-25 14:57] #1462 closed

[2020-08-25 15:07] AlekseyMarchuk commented on #1573
`00:04:15.915  make[2]: *** No rule to make target '/tmp/spdk/dpdk/build/lib/librte_eal.so', needed by '/home/vagrant/spdk_repo/spdk/build/bin/spdk_trace'.  Stop.`

I believe that means that librte_eal.so was not found and we expect that DPDK is already compiled. I tried to use external DPDK, it works fine (when I compiled DPDK before SPDK)

[2020-08-25 15:28] #1274 closed

[2020-08-25 15:31] tomzawadzki commented on #1568
[Bug scrub] Closing as duplicate of #1566. Still need address try.txt not getting saved - @mikeBashStuff introduced some patches to address it.

[2020-08-25 15:31] #1568 closed

[2020-08-25 15:34] tomzawadzki commented on #1566
[Bug scrub] @Seth5141 noted that verify should be disabled, since the test should not do that for this case. @mikeBashStuff will introduce patch that disables it.

[2020-08-25 15:36] tomzawadzki commented on #1501
[Bug] Months of no instances is enough, closing.

[2020-08-25 15:36] #1501 closed

[2020-08-25 15:37] tomzawadzki commented on #1520
[Bug scrub] Patch with fix was merged and verified by @mhae. Thanks @Seth5141 !

[2020-08-25 15:37] #1520 closed

[2020-08-25 16:47] jimharris commented on #1571
Hi Shuhei,

Do we know the reason for the StatSN debug/warning message?  I feel like the root cause of the problem is that the connection is being reset.  Is there any log on the initiator side indicating some kind of failure causing it to disconnect unexpectedly?  Or do we think this is an iSCSI initiator bug, where it disconnects before waiting for the logout response?

-Jim

[2020-08-25 16:52] spdkci commented on #1566
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_24931.html

[2020-08-25 16:54] spdkci commented on #1526
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_24930.html

[2020-08-25 17:16] jimharris commented on #1570
Patch including unit test here:  https://review.spdk.io/gerrit/c/spdk/spdk/+/3931

[2020-08-25 18:29] jimharris commented on #1573
This 868 patch seems to be using the old DPDK make system.  Maybe that's supposed to still work, but I'd suggest changing it to use the meson/ninja build system.

Alexey reported separately that he can compile latest SPDK against external DPDK without any problem.

@karlatec - could you debug this test patch further - maybe update it to use meson/ninja build system and see if the problem persists?

[2020-08-25 20:15] spdkci commented on #1566
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_24945.html

[2020-08-25 21:33] shuhei-matsumoto commented on #1571
Hi Jim,

No, I closed my eyes to that warning messages and got sleep. I totally agree with you about your impression. It was good to know we had a workaround to reduce the probability of this issue. I have no extra information to reply to your questions yet. I will investigate more today.

-Shuhei

[2020-08-25 21:50] spdkci commented on #1566
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_24946.html

[2020-08-26 02:53] Comphix commented on #1502
Are we still seeing this issue recently?

[2020-08-26 05:44] optimistyzy commented on #1571
Jim's opinion may be right. We need to figure out why the statsn is not same to the expected statsn.
"scsi_pdu_hdr_op_logout: *DEBUG*: StatSN(16/15) might have dropped"

[2020-08-26 05:46] shuhei-matsumoto commented on #1571
Hi @ZiyeYang @jimharris

I found the root cause of this failure and fixed the logout timeout issue. The bug was the one I added when I refactored iSCSI throughout. I'm creating the patch now. I will investigate StatSN then. Please stay tune for a while.

-Shuhei

[2020-08-26 05:55] shuhei-matsumoto commented on #1571
The patch to fix this issue is here https://review.spdk.io/gerrit/c/spdk/spdk/+/3928
I will read iSCSI specification and investigate StatSN next.

[2020-08-26 06:41] spdkci commented on #1424
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_24959.html

[2020-08-26 08:13] shuhei-matsumoto commented on #1571
Slight update about StatSN difference when processing logout request.
This difference has been observed only for logout request requested by asynchronous logout request. If the initiator logouts by itself, we haven't seen the difference.

(Hopefully) further update will come soon.

[2020-08-26 08:26] yidong0635 opened #1575 "vhost target crashed after input a wrong vhost_scsi_controller_add_target command"
# Issue

[code]

## Steps to Reproduce

[code]
start a target:
[code]
## Context (Environment including OS version, SPDK version, etc.)

uname -a : 4.15.0-112-generic #113-Ubuntu SMP Thu Jul
commit: 2b16cfff9e56ebe5da4f850e26af4ba60dfe54aa

[2020-08-26 08:30] shuhei-matsumoto commented on #1571
Hi Jim, Ziye,

Both were my silly bugs, sorry for inconvenience.
The StatSN issue was fixed by https://review.spdk.io/gerrit/c/spdk/spdk/+/3940

Then as the following patches show, iSCSI login redirection works well now.

Thanks for your help.

-Shuhei

[2020-08-26 10:42] spdkci commented on #1566
Another instance of this failure. Reported by @Donaim. log: https://ci.spdk.io/public_build/autotest-per-patch_24788.html

[2020-08-26 14:52] spdkci commented on #1533
Another instance of this failure. Reported by @Donaim. log: https://ci.spdk.io/public_build/autotest-per-patch_25000.html

[2020-08-27 00:34] spdkci commented on #1424
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_25011.html

[2020-08-27 00:59] yidong0635 commented on #1424
Does this can give any helps? same issue with freebsd vagrant file mounting :
https://github.com/wunki/vagrant-freebsd/issues/4

[2020-08-27 06:20] karlatec opened #1576 "Null Bdev created despite errors when metadata size is 0 with protection information enabled"
## Current Behavior
When creating null bdev with any protection type (1, 2 or 3) and no --md-size parameter null bdev gets created despite errors.

## Expected Behavior
Bdev not created

## Possible Solution

- Document that `--dif-type` and `--md-size` are mutually inclusive (current description makes them look like unrelated)
- Make `--dif-type` and `--md-size` parameters mutually inclusive in b

[2020-08-27 06:35] karlatec opened #1577 ""Data block size X is not a multiple of 512" when creating null bdev with protection information enabled"
## Current Behavior

Creating null bdev with "--md-size" and "--dif-type" options fail due to "Data block size 4096 is not a multiple of 512" error

## Steps to Reproduce

1.  sudo ./build/bin/vhost
2.  sudo scripts/rpc.py bdev_null_create Null0 100 4096 -t 1 -m 128
[code]

## Possible solution / question
But this works (although with an error):
1. sudo scripts/rpc.py bdev_null_create Null0 100 42

[2020-08-27 07:42] karlatec commented on #1576
Proposed fix:
https://review.spdk.io/gerrit/c/spdk/spdk/+/3949

[2020-08-27 08:10] karlatec commented on #1424
@yidong0635 some of this fixes no longer apply. I tried some of them before with no success

[2020-08-27 08:29] AlekseyMarchuk commented on #1577
When you use metadata, `block_size` is represented as extended LBA format, so it includes data size + metadata size. I think we should update our documentation

[2020-08-27 08:35] #1570 closed

[2020-08-27 08:48] spdkci commented on #1566
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_25016.html

[2020-08-27 10:53] spdkci commented on #1566
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_25035.html

[2020-08-27 11:02] optimistyzy opened #1578 "NVMe-OF target on RDMA transport hang when using ctrl+c to shutdown"
The NVMe-OF target on RDMA transport can shutdown correctly if with ctrl+c from users.

It hangs in nvmf_rdma_destroy_drained_qpair  on the following statements:

 if (rqpair->srq == NULL && rqpair->current_recv_depth != rqpair->max_queue_depth) {
                return;
        }

## Possible Solution

https://review.spdk.io/gerrit/c/spdk/spdk/+/3936 //This patch can solve the issue, may not be p

[2020-08-27 11:12] karlatec commented on #1577
Thanks @AlekseyMarchuk
If this is as expected, can we also fix the GPT error besides documentation?

[2020-08-27 11:34] shuhei-matsumoto commented on #1577
Hi @karlatec

It is known that SPDK GPT doesn’t support metadata. I tried to support quickly before but failed. For GPT will you add an new issue as enhancements?

[2020-08-27 11:39] spdkci commented on #1566
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_25039.html

[2020-08-27 11:40] mikeBashStuff opened #1579 "[autobuild] "make" test failed due to missing mesonbuild python module"
https://ci.spdk.io/results/autotest-per-patch/builds/25041/archive/BlobFS-autotest/build.log

Point of failure:
[code]

[2020-08-27 11:42] spdkci commented on #1579
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_25041.html

[2020-08-27 11:55] karlatec commented on #1577
Sure thing

[2020-08-27 12:00] spdkci commented on #1579
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_25044.html

[2020-08-27 12:06] karlatec commented on #1579
GP1 has meson installed:
[code]

I see that pip is a symlink to pip3, so there's no pip for python2, which doesn't have meson installed:
[code]

Any chance that this error is a result of using Python2 instead of Python3?

[2020-08-27 12:09] karlatec opened #1580 "Add GPT support for metadata"
## Current Behavior

When creating a bdev with metadata enabled (as in, for example #1577) GPT complains about lack of support for provided block size (which includes metadata size)

## Steps to Reproduce

1. sudo scripts/rpc.py bdev_null_create Null0 100 4224 -t 1 -m 128
[code]
2. Bdev is created successfully anyways
[code]

## Context (Environment including OS version, SPDK version, etc.)
SPDK b

[2020-08-27 12:09] karlatec commented on #1580
@shuhei-matsumoto you asked to create this as separate issue, so assigning you. Feel free to re-assign!

[2020-08-27 12:48] mikeBashStuff commented on #1579
`meson` explicitly execs `python3` so that would be unlikely I think.

[2020-08-27 13:23] spdkci commented on #1566
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_25054.html

[2020-08-27 17:52] spdkci commented on #1566
Another instance of this failure. Reported by @jkalwas. log: https://ci.spdk.io/public_build/autotest-per-patch_25087.html

[2020-08-27 19:53] spdkci commented on #1566
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_24948.html

[2020-08-27 22:14] shuhei-matsumoto commented on #1571
Patches were merged. Thanks for your help.

[2020-08-27 22:14] #1571 closed

[2020-08-28 02:34] yidong0635 commented on #1575
try to add fix here：
https://review.spdk.io/gerrit/c/spdk/spdk/+/3951

[2020-08-28 07:35] optimistyzy commented on #1578
Another approach to fix the non SRQ case, may be: https://review.spdk.io/gerrit/c/spdk/spdk/+/3960

[2020-08-28 10:11] AlekseyMarchuk commented on #1578
I think that the problem is not in RDMA transport. When we are exiting SPDK target, we stop pg poller too early so we can't reap all RDMA completions and RDMA qpair is not deleted. But at the same time RDMA qpair holds io_channel of poll group, so the poll group can't be removed as well and we get a hang. I prepared a patch to test is through CI where I stop pg's poller when we are ready to destro

[2020-08-28 16:04] AlekseyMarchuk commented on #1577
@karlatec has updated the description of `block_size` parameter in https://review.spdk.io/gerrit/c/spdk/spdk/+/3949, so this patch also fixes this problem. I'm assigning this issue to Karol, it can be closed once the patch is merged

[2020-08-28 21:25] spdkci commented on #1566
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_25131.html

[2020-08-28 21:25] spdkci commented on #1566
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_25136.html

[2020-08-29 01:13] optimistyzy commented on #1578
@AlekseyMarchuk Thanks Alex, This is the right fix. Thanks for your efforts.

[2020-08-30 16:18] peluse opened #1581 "[ocf_fio_modes] dd: error writing '/dev/nvme0n1': Operation not supported"
dd: error writing '/dev/nvme0n1': Operation not supported
00:06:38.721  1+0 records in
00:06:38.721  0+0 records out
00:06:38.721  0 bytes copied, 0.00109391 s, 0.0 kB/s
00:06:38.721    02:17:15	# trap - ERR
00:06:38.721    02:17:15	# print_backtrace
00:06:38.721    02:17:15	# [[ ehxBET =~ e ]]
00:06:38.722    02:17:15	# args=("${BASH_ARGV[@]}")
00:06:38.722    02:17:15	# local args
00:06:38.722

[2020-08-30 16:19] spdkci commented on #1581
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_25148.html

[2020-08-31 01:29] yidong0635 commented on #1575
Patch was merged, close this issue.

[2020-08-31 01:29] #1575 closed

[2020-08-31 07:35] Comphix commented on #1514
@ssampath , could you also have a try with NULL bdev at the SPDK NVMe-oF Target side instead of using the NVMe Bdev? This may help to narrow down the issue.

[2020-08-31 07:52] Comphix commented on #1574
Assign to Darek to take a further look. Thanks.

[2020-08-31 08:08] mikeBashStuff commented on #1574
Just to note, something similar seems to affect `spdk_lspci` making it completely unusable - it simply segfaults upon execution and bt points at the `spdk_pci_enumerate()` at the very top. Checked against master. Example of the trace:
[code]

[2020-08-31 08:30] john4477 opened #1582 "ftl.sh failed in spdk v19.07 with spdk-3.0.0"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context (Environment including OS version, SPDK version, etc.)

[2020-08-31 08:30] #1582 closed

[2020-08-31 08:46] tomzawadzki commented on #1581
Duplicate of #1456

[2020-08-31 08:46] #1581 closed

[2020-08-31 08:55] tomzawadzki opened #1583 "DPDK 20.08 VirtioSCSI device never ends up in ready state"
Using DPDK 20.08 with latest SPDK results in VirtioScsi device finishing in ready state. This is exposed in `json_config` test where only RPC is sent to configure the device, without any traffic actually going through.

Going through DPDK commits between 20.05 and 20.08, https://github.com/DPDK/dpdk/commit/d0fcc38f5fa41778968b6f39777a61edb3aef813 is one that introduces this behavior.

## Expected

[2020-08-31 08:56] tomzawadzki commented on #1583
Hi @changpe1 , would mind take a look at this issue ?

[2020-08-31 09:11] spdkci commented on #1538
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_25191.html

[2020-08-31 09:12] john4477 opened #1584 ""Write failed" running ftl.sh in spdk v19.07 with spdk-3.0.0"
Write failed when running spdk/test/ftl/ftl.sh in spdk v19.07 with spdk-3.0.0

## Expected Behavior

write to ftl_bdev successfully

## Current Behavior

Write failed at ppa

[code]
full output file :
[bug.txt](https://github.com/spdk/spdk/files/5149429/bug.txt)

## Possible Solution

changes the message below error to correct one?

nand_rule: previous page state(W) is not (W) for ppa(0x0000000002

[2020-08-31 10:08] mikeBashStuff opened #1585 "Can't compile QAT against 5.8 kernel on Fedora32"
[code]

`vm_setup.sh` fails to compile qat due to the following:

[code]

This relates to crypto fixes introduced in newer kernels:
https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/commit/?id=228c4f265c6eb60eaa4ed0edb3bf7c113173576c

Potential patch could look like so:

[code]

[2020-08-31 13:17] karlatec commented on #1576
Fixed by: https://review.spdk.io/gerrit/c/spdk/spdk/+/3949

[2020-08-31 13:17] #1576 closed

[2020-08-31 13:17] karlatec commented on #1577
Doc fixed by https://review.spdk.io/gerrit/c/spdk/spdk/+/3949
GPT error part will be resolved in #1580

[2020-08-31 13:17] #1577 closed

[2020-08-31 20:25] spdkci commented on #1533
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_25211.html

[2020-08-31 21:22] spdkci commented on #1456
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_25221.html

[2020-09-01 01:59] changpe1 commented on #1583
I submitted a fix patch for SPDK https://review.spdk.io/gerrit/c/spdk/spdk/+/3989 at here, and you must use --vq-count with a number bigger than 1 for virtio_blk(virtio_scsi will use 3 vrings), I think this should be fixed in DPDK, so there is another DPDK related patch coming.

[2020-09-01 07:53] #1578 closed

[2020-09-01 09:00] tomzawadzki commented on #1583
The `json_config` test passes for virtio_blk without passing any `--vq-count` argument.
Meanwhile specifying 4 virtqueues for virtio_scsi does not seem to workaround the issue, please see patch (and submodule update next in series):
https://review.spdk.io/gerrit/c/spdk/spdk/+/4001/

[2020-09-01 09:32] senthilkumar-v opened #1586 "Discovery command behaviour."
Setup Details:-
============

I've configured SPDK target as below:-

# 1) Example subsystem configuration :-  cat ./etc/spdk/nvmf.conf.in

Namespaces backed by physical NVMe devices

[Subsystem1]

  NQN nqn.2016-06.io.spdk:cnode1

  Listen RDMA 192.168.122.227:4420 <<<<<<<<<<< n/w 1

  AllowAnyHost Yes

  SN SPDK00000000000001

  MN SPDK_Controller1

  Namespace Nvme0n1 1

[Subsystem2]

  NQN nqn

[2020-09-01 14:55] mhae opened #1587 "nvmf: Use after free during hot remove"
Performing hot remove/add in quick succession. Occassionaly, there is a use after free error reported when the NVMe device is removed while adding the device to subsystem is in progress.

[code]

I believe this is a regression with 20.07.

Note, I modified `nvme_wait_for_completion_robust_lock` to workaround another issue when the device was removed.

[code]

## Steps to Reproduce

## Context (Env

[2020-09-01 15:11] spdkci commented on #1533
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_25158.html

[2020-09-01 19:25] spdkci commented on #1533
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_25304.html

[2020-09-01 19:28] spdkci commented on #1533
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_25303.html

[2020-09-01 21:07] spdkci commented on #1533
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_25308.html

[2020-09-02 01:05] yidong0635 commented on #1586
This is really strange, I try to reproduce this:
`./build/bin/nvmf_tgt -c ../nvmf.conf.in`
[code]

[2020-09-02 01:59] senthilkumar-v commented on #1586
Looks like there is no NIC with 192.168.2.21 IP on the target side (check “ifconfig -a” o/p) so it is not able to listen & BIND failed.
Please check your target n/w configuration.

Regards,
Senthil Kumar V.

From: yidong0635 <notifications@github.com>
Reply to: spdk/spdk <reply@reply.github.com>
Date: Wednesday, 2 September 2020 at 6:35 AM
To: spdk/spdk <spdk@noreply.github.com>
Cc: Senthil Kumar

[2020-09-02 02:59] spdkci commented on #1424
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_25317.html

[2020-09-02 03:02] spdkci commented on #1498
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_25318.html

[2020-09-02 03:33] yidong0635 commented on #1586
@senthilkumar-v  but are your NICs are ok? why 'ifconfig' dispalys only one nic?

[2020-09-02 03:41] senthilkumar-v commented on #1586
@yidong0635 Sorry for not being more clear. I meant, target side I've configured two NICs with IPs 192.168.122.227 &  192.168.123.254 and initiator side, I've configured only one NIC with IP 192.168.122.114.

# Target NIC config

[root@vm2 ]# ifconfig
eth0: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet 192.168.122.227  netmask 255.255.255.0  broadcast 192.168.122.255
        in

[2020-09-02 03:56] spdkci commented on #1424
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_25324.html

[2020-09-02 07:59] changpe1 commented on #1583
A patch for DPDK submitted at https://patches.dpdk.org/patch/76197

[2020-09-02 08:17] changpe1 commented on #1565
keep alive is expressed via millisecond, so spdk will use timer / 2 as the interval poller to send keep alive command, when the timeout value was set to 1 millisecond, we will use 1 ms as the interval poller in SPDK.

I think the may cause issue in practice, for this case it's better to use 500 us as the interval timer.

[2020-09-02 08:18] spdkci commented on #1566
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_25314.html

[2020-09-02 09:23] mikeBashStuff opened #1588 "rpc timeout in nvmf_multipath test"
https://ci.spdk.io/results/autotest-per-patch/builds/25344/archive/nvmf-tcp-uring-vg-autotest/build.log

Point of failure:
[code]

This caused `bdevperf` to hang what led to build timeout (`wait()` blocked for too long):
[code]

[2020-09-02 09:24] spdkci commented on #1588
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_25343.html

[2020-09-02 09:24] spdkci commented on #1588
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_25344.html

[2020-09-02 11:41] spdkci commented on #1588
Another instance of this failure. Reported by @Donaim. log: https://ci.spdk.io/public_build/autotest-per-patch_25355.html

[2020-09-02 12:02] spdkci commented on #1533
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_25356.html

[2020-09-02 14:23] rouming opened #1589 "Not able to generate password on gerrit"
Hi folks,

I'm desperate, I want to submit a patch to spdk (I'm a new user to spdk gerrit), but https://review.spdk.io/gerrit/settings/ returns 500 error on attempt to generate a HTTP password. Whom can I ask for help? Any support email etc are welcome. Or any other possibilities to send the patch upstream bypassing gerrit?

--
Roman

[2020-09-02 14:32] jimharris commented on #1589
Hi Roman,

SPDK patches can only be submitted through Gerrit.  Can you confirm that you have configured your e-mail address on your Gerrit profile before trying to generate the HTTP password?

-Jim

[2020-09-02 14:41] rouming commented on #1589
Hi Jim,

I'm a github user, I simply followed the https://spdk.io/development/  guide, which says:

[code]

 and immediately stuck on the second line "HTTP Password", because server responds with 500 error.

[2020-09-02 14:47] jimharris commented on #1589
Yes.  Thanks @rouming.  I'm keeping this issue open for now - I'll push a patch to clarify the e-mail registration in step 1.  You are not the first person to run into this.

[2020-09-02 14:48] rouming commented on #1589
Awesome, now issue is fixed (after putting email address). Thanks, Jim.

[2020-09-02 15:16] jimharris commented on #1589
https://review.spdk.io/gerrit/c/spdk/spdk.github.io/+/4034

[2020-09-02 15:33] spdkci commented on #1588
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_25371.html

[2020-09-02 17:50] spdkci commented on #1588
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_25379.html

[2020-09-02 19:24] jimharris opened #1590 "blob: md pages for extent tables are not getting released"
Unit test reproducing the failure: https://review.spdk.io/gerrit/c/spdk/spdk/+/4038

This unit test describes the conditions fairly well.  You just need to repeatedly create and delete a blob (with no intermediate blobstore unload/load) to hit this condition.

Found while create a benchmark application to test efficiency of allocating blobstore clusters and md_pages.

[2020-09-02 20:20] jimharris commented on #1590
Unit test ported to 20.01 LTS branch:  https://review.spdk.io/gerrit/c/spdk/spdk/+/4040

[2020-09-02 22:40] spdkci commented on #1526
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_25420.html

[2020-09-02 22:48] #1587 closed

[2020-09-02 23:23] spdkci commented on #1588
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_25423.html

[2020-09-02 23:49] spdkci commented on #1533
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_25416.html

[2020-09-02 23:51] spdkci commented on #1533
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_25415.html

[2020-09-03 02:16] spdkci commented on #1424
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_25429.html

[2020-09-03 02:23] changpe1 commented on #1588
@yidong0635 could you take a look ? the issue is happening very frequently.

[2020-09-03 03:01] changpe1 commented on #1567
patch was merged, closing this issue for now.

[2020-09-03 03:01] #1567 closed

[2020-09-03 04:22] changpe1 commented on #1584
[Bug Scrub] @tomzawadzki could you find the right person who can take a look? thanks.

[2020-09-03 04:24] changpe1 commented on #1580
[Bug Scrub] We will not support GPT with extended LBA format, so this can be a debug log.

[2020-09-03 04:25] jimharris commented on #1585
Patch from @mikeBashStuff to manually patch in our pkgdep scripts: https://review.spdk.io/gerrit/c/spdk/spdk/+/4030

I think we can close this issue once that patch is merged.

[2020-09-03 04:39] changpe1 commented on #1565
[Bug Scrub] it's two bugs here, if the target return 0, we can just skip it, if returned 1, we can use microsecond as the interval unit.

[2020-09-03 06:37] eyuval commented on #1565
My original intention was, that if the ssd tells us a zero kato value we should respect this and not do any keep alives as if we had received a zero kas value in the identify structure.

[2020-09-03 06:40] changpe1 commented on #1565
Keep alive was mainly used for NVMf target, for local PCIe based SSDs, I assume most of the physical SSDs will return 0 for kato, for this case SPDK will not enter the keep alive process.

[2020-09-03 06:59] spdkci commented on #1533
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_25392.html

[2020-09-03 07:45] optimistyzy commented on #1534
Close this issue since I am not seeing the similar issue on the master those days! Will reopen it if see this again.

[2020-09-03 08:26] #1585 closed

[2020-09-03 08:36] tomzawadzki commented on #1589
Patch clarifying the docs is now merged.

[2020-09-03 08:36] #1589 closed

[2020-09-03 08:39] tomzawadzki commented on #1566
Patch implementing suggestion from @Seth5141  by @mikeBashStuff was merged.
https://review.spdk.io/gerrit/c/spdk/spdk/+/3929

Note: last occurrence from yesterday was due to lack of rebase.

[2020-09-03 08:39] #1566 closed

[2020-09-03 08:42] tomzawadzki commented on #1584
@john4477 Have you had a chance to check out if this reproduces on latest SPDK v20.07 or SPDK v20.01.2 LTS ?

[2020-09-03 15:40] spdkci commented on #1588
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_25457.html

[2020-09-03 16:57] spdkci commented on #1588
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_25464.html

[2020-09-03 17:12] spdkci commented on #1533
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_25470.html

[2020-09-03 17:14] spdkci commented on #1533
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_25468.html

[2020-09-03 20:17] benlwalker commented on #1565
Yes - if KATO is 0 we shouldn't be sending any keep alives. But there's also a bug if KATO is 1ms (which is an unreasonable but valid value). We need to fix both.

The bug only occurs when someone tries to enable keep alive on a local SSD. If you just don't try to enable it on a local SSD SPDK won't send keep-alives.

[2020-09-03 20:36] benlwalker commented on #1586
Hi Senthil - In SPDK, an spdk_nvmf_tgt defines a discovery service. A discovery service behaves as follows according to the specification:

[code]
If you want the two subsystems to appear in different discovery services, place them into separate targets. You can create targets using the `nvmf_create_tgt` RPC. Right now SPDK will list all subsystems in a target that are on the same fabric type that

[2020-09-04 02:45] spdkci commented on #1424
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_25497.html

[2020-09-04 04:46] shuhei-matsumoto commented on #1580
I posted a patch to change ERRLOG to DEBUGLOG.
https://review.spdk.io/gerrit/c/spdk/spdk/+/4058

[2020-09-04 06:06] spdkci commented on #1588
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_25511.html

[2020-09-04 07:07] spdkci commented on #1588
Another instance of this failure. Reported by @Donaim. log: https://ci.spdk.io/public_build/autotest-per-patch_25496.html

[2020-09-04 08:22] spdkci commented on #1588
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_25504.html

[2020-09-04 10:30] senthilkumar-v commented on #1586
Thank you for the explanation, Ben. Really appreciate it. Just one last question,

Do you mean implementing ANA at target or can you please elaborate your comment here?

[2020-09-04 10:53] spdkci commented on #1588
Another instance of this failure. Reported by @Donaim. log: https://ci.spdk.io/public_build/autotest-per-patch_25518.html

[2020-09-04 11:25] Donaim commented on #1361
@mikeBashStuff I tried again on 6d3ee836210060c969694a686da5dfbe5facaea6 and it did reproduce exactly as the first time, but then I tried on master and got a different error (no assertion this time). Not sure if this is my fault this time. Anyway attaching the log
[log-vhost.txt](https://github.com/spdk/spdk/files/5174498/log-vhost.txt)

[2020-09-04 12:21] spdkci commented on #1533
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_25530.html

[2020-09-04 15:13] #1580 closed

[2020-09-07 06:04] spdkci commented on #1588
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_25550.html

[2020-09-07 10:38] spdkci commented on #1533
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_25579.html

[2020-09-07 10:52] spdkci commented on #1533
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_25556.html

[2020-09-07 13:03] spdkci commented on #1588
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_25597.html

[2020-09-07 14:04] gwnet opened #1591 "bdevperf will hang if run ftl+zone+malloc device, but ftl+zone+nvme is OK."
bdevperf will hang if run ftl+zone+malloc device, but ftl+zone+nvme is OK.

## Expected Behavior

bdevperf should run ftl+zone+malloc device good too.

## Current Behavior

## Possible Solution

## Steps to Reproduce

1. enable ftl+zone=malloc
intel@wcp116:~/wayne/spdk/spdk$ sudo scripts/rpc.py bdev_malloc_create -b Malloc0 1024 4096
Malloc0
intel@wcp116:~/wayne/spdk/spdk$ sudo scripts/rpc.py bdev

[2020-09-07 14:05] gwnet commented on #1591
if we use malloc with FTL, bdevperf will never free below two FTL internal pollers
  ftl_reloc_task_poller(void * ctx) Line 708        C
         thread_poll(struct spdk_thread * thread, uint32_t max_msgs, uint64_t now) Line 602        C
         spdk_thread_poll(struct spdk_thread * thread, uint32_t max_msgs, uint64_t now) Line 689        C
         _reactor_run(struct spdk_reactor * reactor) Lin

[2020-09-07 14:07] gwnet commented on #1591
but if we use NVMe device, run bdevperf on FTL device, it works well. should be FTL compability with Malloc device. any shed light where the code should be the reason?

root@wcp116:/home/intel/wayne/warraid5/spdk/test/bdev/bdevperf# ./bdevperf  --json /tmp/ftlnvme.json --json-ignore-init-errors -q 1 -o 4096 -w write -t 10 -k 10 -S 2 -T ftl0
Wayne war raid5 Enter int: 1
Starting SPDK v20.07-pre git

[2020-09-07 14:18] gila opened #1592 "Read/write failures when using SPDK nvmf tcp target."
I'm running tests against the SPDK nvmf target using the TCP transport. While doing so, Fio would all of sudden,  stop sending IO's and I would see backtraces in dmesg looking something like this:

[code]

As im using nvme TCP and was also using uring together with Fio, I tried these tests with ioengine=linuxaio as well as ioengine=io_uring to rule out any potential bugs in that particular of the

[2020-09-08 01:55] spdkci commented on #1588
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_25585.html

[2020-09-08 02:31] optimistyzy commented on #1546
The patch to address the issue of kernel core dump is merged in linux master branch @jimharris.  Thanks for your suggestion @sagi-lb and kind review.

[2020-09-08 02:51] optimistyzy commented on #1592
@gila When I use SPDK NVME-oF target (binary is build/bin/nvmf_tgt, I hope that you use the correct binary) and SPDK perf tool (the binary is build/examples/perf) in master branch, I did not see the issue you mentioned. What I mean is that, did you see any issues when you run nvme perf when the test is completed. From your description, I am confused, did you do other tests such as kill NVMe-oF tar

[2020-09-08 03:00] yidong0635 commented on #1588
put test patch serials to address this:
 https://review.spdk.io/gerrit/c/spdk/spdk/+/4045
let us see what will happen, if this happens still frequently, need to simplify the test case.

[2020-09-08 03:13] gwnet commented on #1591
guys, I found the root cause now. it is one timing issue, if I use debug mode with more log. the issue cannot reproduce.

with malloc device, always after the is_draining is set true, bdevperf_complete is never called.
but with nvme device, bdevperf_complete is always called, then it will call into bdevperf_job_end to stop reactors include the FTL device pollers correctly
[code]

[2020-09-08 07:21] gila commented on #1592
@optimistyzy I use:

machine A:

[code]

That binary is located in `~/spdk/build/bin`

zcopy is disabled/enabled on the target (machine A)  and the binary on machine B is located in `~/spdk/build/examples` the network between A and B is  100gbe.

## zero copy disabled

[code]

[code]

## zcopy enabled

[code]

[code]

## using fio on machine B

When I use the kernel initiator one machine B:
[code]

[2020-09-08 07:25] gila commented on #1592
I've noticed something interesting. When the target is started with a single core, the issue does not show up. Adding a second core, the error starts to show after ~30s-60s when running 4 cores, no IO flows ever.

[2020-09-08 07:40] optimistyzy commented on #1592
@gila I tried to reproduce, I also start SPDK NVMe-oF target with 4 CPU cores (one subsystem with one nvme device), and I use the the perf program with the same command as you provided. For the zero copy enabled, I did not see your issue via perf program.  So what's your operating system info, I know you gave the kernel version 5.4, 5.6 and etc.

[2020-09-08 07:43] optimistyzy commented on #1592
@gila Also whats's the connection between your Machine A and B, is the two machines, directly connected?

[2020-09-08 08:01] spdkci commented on #1424
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_25648.html

[2020-09-08 09:03] gwnet commented on #1591
I add some debug log in the dump thread, it looks like malloc bdev has one 1 qd never be processed, so bdevperf_complete is never called to trigger close app action. any suggestion why Malloc device has this issue?

Wayne debug _performance_dump is draining, qd: 1 ...
 =====================================================
 Total               :     319.65 IOPS       1.25 MiB/s

[2020-09-08 09:56] spdkci commented on #1588
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_25662.html

[2020-09-08 10:44] spdkci commented on #1424
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_25659.html

[2020-09-08 10:48] spdkci commented on #1588
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_25666.html

[2020-09-08 11:57] spdkci commented on #1588
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_25669.html

[2020-09-08 13:59] tomzawadzki commented on #1361
The log itself points at just NVMe device not being clear before the test, since the test was executed manually. @Donaim Can you please take that into consideration and confirm latest SPDK ?

[2020-09-08 14:53] tomzawadzki commented on #1590
Patch resolving this issue posted:
https://review.spdk.io/gerrit/c/spdk/spdk/+/4051/
@jimharris Shall we backport fix and UT to LTS ?

[2020-09-08 14:55] jimharris commented on #1590
Hi Tomek,

Yes, I think we should backport this fix and UT to 20.01 branch.

-Jim

[2020-09-08 15:04] tomzawadzki commented on #1565
[Bug scrub] Patch https://github.com/spdk/spdk/commit/ba773a54c769b2a4bee0ef08895659cb4fc9388e was merged, if this addresses this issue - please close it.

[2020-09-08 15:07] tomzawadzki commented on #1573
[Bug scrub] There is no compilation issue with latest DPDK right now. @karlatec is working on updating patch https://review.spdk.io/gerrit/c/spdk/spdk/+/868/ to use meson-ninja.

[2020-09-08 15:10] spdkci commented on #1588
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_25682.html

[2020-09-08 15:10] tomzawadzki commented on #1583
[Bug scrub] @tomzawadzki will push the DPDK patch  https://patches.dpdk.org/patch/76197 to spdk/dpdk submodule.

[2020-09-08 15:27] gila commented on #1592
I've found the cause of the problem and will update this issue with my findings

[2020-09-08 20:03] spdkci commented on #1424
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_25698.html

[2020-09-08 20:05] spdkci commented on #1424
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_25700.html

[2020-09-08 21:18] spdkci commented on #1533
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_25707.html

[2020-09-08 21:19] spdkci commented on #1588
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_25708.html

[2020-09-08 21:33] spdkci commented on #1588
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_25710.html

[2020-09-08 22:17] spdkci commented on #1588
Another instance of this failure. Reported by @benlwalker. log: https://ci.spdk.io/public_build/autotest-per-patch_25715.html

[2020-09-08 22:19] spdkci commented on #1588
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_25714.html

[2020-09-09 00:04] spdkci commented on #1588
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_25720.html

[2020-09-09 00:05] spdkci commented on #1588
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_25726.html

[2020-09-09 01:18] spdkci commented on #1588
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_25740.html

[2020-09-09 02:18] spdkci commented on #1588
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_25742.html

[2020-09-09 07:22] #1590 closed

[2020-09-09 08:05] john4477 commented on #1584
@tomzawadzki
On SPDK v20.07, it shows

* Purging old temporary test storage (/tmp/spdk.YS55IT)
* Looking for test storage...
* Test storage is not available

On spdk v20.01.x
it shows the same errors like below files
[v20.01.output.txt](https://github.com/spdk/spdk/files/5193582/v20.01.output.txt)
[v20.01.output2.txt](https://github.com/spdk/spdk/files/5193583/v20.01.output2.txt)

[2020-09-09 10:16] gila commented on #1592
As it turned out, the problem is caused by having a low value of `optmem_max` causing `sendmsg()` to fail. Setting it purposely to a low value leads to a lot of unpredictable behavior in the target.

This additional memory is needed to accommodate the auxiliary data needed when using zero-copy, and it is supposed to be set "sufficiently high", but there seems to be no (or I can't find it at least)

[2020-09-09 10:43] optimistyzy commented on #1592
Hi @gila Could you submit a patch to review.spdk.io ? And paste the link here?

I checked the value net.core.optmem_max in my system, which is 81920, when I changed into 1024, the nvme perf example in the client fails with the following issue:

[2020-09-10 03:30:05.637089] nvme_ctrlr.c:2522:nvme_ctrlr_process_init: *ERROR*:

[2020-09-09 11:17] gila commented on #1592
@optimistyzy yes it depends on where/when we run out of buffers in terms of what errors you get.

Pathed posted here https://review.spdk.io/gerrit/c/spdk/spdk/+/4129

[2020-09-09 11:21] spdkci commented on #1588
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_25780.html

[2020-09-09 11:22] optimistyzy commented on #1592
IJust posted some comments only for reference. Looking forward to seeing other comments from @benlwalker @jimharris and others

[2020-09-09 12:36] spdkci commented on #1588
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_25792.html

[2020-09-09 13:45] alokprasad commented on #272
most of this channel related issue is due to "rdma_ucm" module not loaded in system

[2020-09-09 15:34] spdkci commented on #1588
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_25800.html

[2020-09-09 15:37] jimharris commented on #1592
Hi @gila,

Thanks for the analysis and fix for this!  I saw you just posted a rev 2 and it crossed paths with a response I made to Ziye's comment on your rev 1.  Could you take a look?

Thanks,

-Jim

[2020-09-09 19:54] spdkci commented on #1588
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_25813.html

[2020-09-09 23:13] peluse commented on #1529
LOL I just ran into this working on something else and found the previous issue (right here) via google. Didn't see the question to me above.  OK, I'll guess I'll own it ;)

[2020-09-09 23:17] peluse commented on #1529
@AlekseyMarchuk did your patch work? I tried it and get this:
------
In file included from ../drivers/common/qat/qat_qp.c:18:0:
../drivers/crypto/qat/qat_sym.h:10:10: fatal error: rte_net_crc.h: No such file or directory
 #include <rte_net_crc.h>
          ^~~~~~~~~~~~~~~
compilation terminated.
------
@karlatec how are we building in CI --with-reduce?

[2020-09-10 04:40] spdkci commented on #1588
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_25814.html

[2020-09-10 05:09] AlekseyMarchuk commented on #1529
@peluse
My workaround worked when I created this issue. Probably something has changed with the update of DPDK

[2020-09-10 11:37] john4477 opened #1593 "helloworld example failed on FTL bdev using ocssd interface without privilege (qemu : spdk-3.0.0, spdk v20.07 , vfio-pci driver, iommu enabled)"
## Expected Behavior

./build/bin/spdk_tgt --iova-mode=va.
create ftl bdev.
helloworld run successfully without privilege.

## Current Behavior

[code]

## Possible Solution

## Steps to Reproduce

1. install spdk-3.0.0
git clone https://github.com/spdk/qemu.git
git checkout origin/spdk-3.0.0
git submodule update --init
cd qemu
mkdir build
cd build
../configure --target-list=x86_64-softmmu --pytho

[2020-09-10 14:12] spdkci commented on #1424
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_25851.html

[2020-09-10 14:44] peluse commented on #1529
I VAGUELY remember an issue with the old build system when trying to build crypto and compress at the same time there was an ordering issue.  If I choose crypto only, the meson output says its trying to build both and things work.  If I chose reduce only it also says both but things fail. I suspect that’s the problem.  If I choose BOTH then it builds OK so I’m pretty sure its an ordering dependenc

[2020-09-10 16:17] tomzawadzki commented on #1593
Hi @john4477,

First please note that processes cannot share access to the same device, unless configured as [primary-secondary process](https://spdk.io/doc/app_overview.html#cmd_arg_multi_process).

More importantly `./build/examples/hello_world` is meant as a walk-through example for using NVMe driver API. It does not use bdev layer, nor respond to RPC.

After step 4. the ftl bdev should be pres

[2020-09-10 16:37] john4477 commented on #1593
Hi @tomzawadzki ,

the processes means different terminals(1,2) or (spdk_tgt and helloworld example)?

bdev_get_bdevs returns
[
  {
    "name": "nvme0n1",
    "aliases": [],
    "product_name": "Open Channel SSD",
    "block_size": 4096,
    "num_blocks": 100663296,
    "uuid": "57859db9-f44a-4c1c-bc21-3864e326d3cf",
    "assigned_rate_limits": {
      "rw_ios_per_sec": 0,
      "rw_mbytes_per_sec

[2020-09-10 18:05] spdkci commented on #1424
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_25862.html

[2020-09-10 18:07] spdkci commented on #1424
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_25864.html

[2020-09-10 18:07] spdkci commented on #1588
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_25863.html

[2020-09-10 18:48] spdkci commented on #1588
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_25875.html

[2020-09-10 18:50] jimharris commented on #1424
@karlatec - any help needed to get to the bottom of this one?  It sounds like you got this fixed for nightly tests - can you confirm its still working there?

[2020-09-11 03:40] spdkci commented on #1588
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_25897.html

[2020-09-11 04:27] spdkci commented on #1424
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_25854.html

[2020-09-11 06:39] AlekseyMarchuk commented on #1529
@peluse
You are right, configuring SPDK with both `--with-reduce` and `--with-crypto` solves this issue. The main difference from DPDK point of view is that `--with-crypto` also builds crypto/qat PMD. in crypto/qat/meson/build I see the following line: `qat_includes += include_directories('.')`. I'm not familiar with meson build system but I think that it adds the current directory (dpdk/drivers/c

[2020-09-11 06:44] karlatec commented on #1424
@jimharris Yeah, I can't really figure this one out. Similar issues with FreeBsd Vagrant boxes reported I've found on the Internet suggest that most commonly this is caused by firewall settings on the host system. I already tried both setting proper firewall entries and disabling it completely too, but with no results.

[2020-09-11 07:55] spdkci commented on #1588
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_25901.html

[2020-09-11 09:50] tomzawadzki commented on #1560
Working on updating the submodule on SPDK side:
https://review.spdk.io/gerrit/c/spdk/spdk/+/3868
It requires changes in ubuntu18 job, after that change should be ready for merge.

[2020-09-11 10:18] tomzawadzki commented on #1593
Just to be sure we are on the same page. Once FTL bdev is created it can be used the same as any other bdev.
See for example exposing that as [NVMe-oF target](https://spdk.io/doc/nvmf.html), running [bdevperf](https://spdk.io/doc/bdevperf.html) or [spdk_dd](https://github.com/spdk/spdk/blob/master/app/spdk_dd/spdk_dd.c) application or use the non-performance focused [NBD](https://spdk.io/doc/bdev.

[2020-09-11 11:24] peluse commented on #1529
@AlekseyMarchuk I suppose that's not the worst thing ever, this isn't my area of expertise but it could be that in the old system changing the order handled the include issue. I played around with this a bit and couldn't find anything better.  Do you want to submit it @AlekseyMarchuk or should I?

[2020-09-11 12:46] AlekseyMarchuk commented on #1529
I pushed a patch https://review.spdk.io/gerrit/c/spdk/spdk/+/4179

[2020-09-11 13:53] spdkci commented on #1588
Another instance of this failure. Reported by @jkalwas. log: https://ci.spdk.io/public_build/autotest-per-patch_25934.html

[2020-09-13 14:51] spdkci commented on #1533
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_25947.html

[2020-09-14 03:56] spdkci commented on #1424
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_25954.html

[2020-09-14 04:21] spdkci commented on #1588
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_25961.html

[2020-09-14 07:26] john4477 commented on #1593
There is no need to use any specific spdk application.
I found out that I can modify hello_bdev to achieve my goal.

but I would like to ask 3 more questions.

1. Is there a way to run hello_bdev without privilege?

when I run hello_bdev without root, it shows

[code]
When I run it with root,
2. Why an error called RPC client commmand timeout occurs?
3. When releasing ftl bdev, write failed and se

[2020-09-14 07:34] john4477 commented on #1584
#1593 shows the same error

[2020-09-14 07:34] #1584 closed

[2020-09-14 12:50] spdkci commented on #1424
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_25986.html

[2020-09-14 12:50] spdkci commented on #1588
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_25985.html

[2020-09-14 14:48] tomzawadzki commented on #1583
Patch ready on spdk/dpdk fork:
https://review.spdk.io/gerrit/c/spdk/dpdk/+/4219

[2020-09-14 16:58] jimharris commented on #1560
Thanks @tomzawadzki.  Patch looks good - I added my +2.

[2020-09-15 04:33] optimistyzy commented on #1592
@gila  I revised your patch according to Jim's @jimharris comments.

[2020-09-15 07:13] gila commented on #1592
@optimistyzy Hmm, I thought I replied to @jimharris but its possible I messed up as I'm not very fluent with Gerrit. Thanks!

[2020-09-15 08:20] yidong0635 commented on #1588
only one issue can be found util now , it has been resolved by Changpeng's patch which has already been merged:
 https://review.spdk.io/gerrit/c/spdk/spdk/+/4143/2
And no other issue can be found in normal path:
use this test : https://review.spdk.io/gerrit/c/spdk/spdk/+/4088/12

[2020-09-15 09:20] tomzawadzki commented on #1562
Please see patch resolving this on clearlinux:
https://review.spdk.io/gerrit/c/spdk/spdk/+/4240

[2020-09-15 09:49] tomzawadzki commented on #1593
Yes, but the privileges have to be granted to the devices and hugepages. Please see patch still in review that will describe details for this https://review.spdk.io/gerrit/c/spdk/spdk/+/2850

any idea to notify the server that there will be no more command?
[code]

This one I've not seen yet. Can you please run the app again with log flags enabled `-L all` ? This will help with checking which RPC'

[2020-09-15 14:54] jkalwas opened #1594 "pci device handling on spdk based applications"
PCI Device attached to vfio-pci driver cannot be unbind if SPDK based app enumerated other PCI Device under the same bus.
Devices are on separate IOMMU groups.

e.g.
Device X with BB:00.1, Device Y with BB:00.2 - both bind to vfio-pci driver.
SPDK X app attached Device X during enumeration.

Two possible issues
* unbind BB:00.2 from vfio-pci fails with
`[1254279.970475] vfio-pci 0000:BB:00.2: Devi

[2020-09-15 15:07] john4477 commented on #1593
ftl bdev created at [2020-09-15 20:27:43.453031]

[log_hello_bev_ftl.txt](https://github.com/spdk/spdk/files/5225848/log_hello_bev_ftl.txt)

I run example with ocssd bdev (nvme0n1)

[code]

[2020-09-15 15:19] jimharris commented on #1594
I think this behavior is by design, but will check the DPDK code to confirm.  Either way, we should add some documentation to clarify this behavior for SPDK.

[2020-09-16 06:15] changpe1 commented on #1586
It's not related with ANA, here you are using two listeners with two subsystems.

[2020-09-16 06:29] senthilkumar-v commented on #1586
Thank you @changpe1. I'm closing this issue.

[2020-09-16 06:29] #1586 closed

[2020-09-16 06:29] changpe1 commented on #1572
I can't reproduce this issue in my local environment, but go through the test script, maybe we should add 1 second delay before check the mount point.

[2020-09-16 06:42] changpe1 commented on #1572
For this error case, only one notice log as follow:
Mounting filesystem on bdev BlobfsBdev to path /tmp/spdk_tmp_mount...

For normal cases, there are two notice messages:
Mounting filesystem on bdev BlobfsBdev to path /tmp/spdk_tmp_mount...
blobfs_fuse.c: 267:fuse_loop_new_thread: *NOTICE*: Start to loop blobfs on bdev BlobfsBdev mounted at /tmp/spdk_tmp_mount

So we do need extra sleep to wait f

[2020-09-16 06:55] changpe1 commented on #1572
This patch https://review.spdk.io/gerrit/c/spdk/spdk/+/4260 should fix the issue.

[2020-09-16 07:39] changpe1 commented on #1547
The RPC method blobfs_create works for me in my environment, there is a WIP patch https://review.spdk.io/gerrit/c/spdk/spdk/+/2894 will fix the configuration file issue.

[2020-09-16 07:58] spdkci commented on #1588
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_26022.html

[2020-09-16 09:14] john4477 commented on #1593
QEMU debug shows
[code]
After I change the argument to read 4 sectors, It works!
[code]

[2020-09-16 09:43] spdkci commented on #1588
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_26048.html

[2020-09-16 09:51] cockroach1136 commented on #527
After one year and nine months struggling,  we found the root cause of this problem.

The root cause is after removing disk A, the speed of host CPU PCIe seems become slow.

So the PCIe  "completion Timeout"  happened in disk B.

That will cause disk B's firmware misinterpreted the received PCIe packet,

Then return the strange CID response in nvme CQ  and firmware hang.

After changing the **Comp

[2020-09-16 10:56] nmarusha commented on #527
Hello,

Without additional details, this sounds like more of a HW or BIOS related issue and not an SPDK problem. Perhaps your question may actually be better asked to support individuals from one of the following: system/BIOS vendor, SSD vendor, or cpu vendor. Are you in contact with any of those support resources?

Thanks,
Nate

On Sep 16, 2020, at 2:52 AM, cockroach1136 <notifications@github.com

[2020-09-16 11:25] spdkci commented on #1588
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_26062.html

[2020-09-16 11:32] gila commented on #1592
Fixed by c66275c so I'm closing it.

[2020-09-16 11:32] #1592 closed

[2020-09-16 12:23] spdkci commented on #1588
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_26070.html

[2020-09-16 12:37] spdkci commented on #1588
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_26074.html

[2020-09-16 12:39] spdkci commented on #1533
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_26069.html

[2020-09-16 12:39] tomzawadzki commented on #1583
Hi @changpe1 I've backported the patch to spdk/dpdk fork. It seems to affect the VM boot, see in vhost_boot in vhost-autotest and nvmf_vhost in nvmf-phy-autotest.
https://ci.spdk.io/public_build/autotest-per-patch_26060.html

Specific example from the above log [vhost_boot]:
[code]

[2020-09-16 16:46] spdkci commented on #1526
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_26103.html

[2020-09-16 19:36] spdkci commented on #1588
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_26126.html

[2020-09-16 19:50] jimharris commented on #1588
I'm able to reproduce this locally in a VM.  Will start debugging this further.

[2020-09-16 20:29] jimharris commented on #1588
bdevperf is hung in an I/O abort loop.  We don't see this in any of the logs on this issue, since the bdevperf output is redirected to try.txt to do some grepping later in the test.

This just keeps continuing forever.  We get the RPC timeout since presumably this loop is preventing bdevperf from responding to the RPC sent by bdevperf.py.

Continuing to debug, but getting closer to root cause...

[2020-09-16 21:18] spdkci commented on #1588
Another instance of this failure. Reported by @benlwalker. log: https://ci.spdk.io/public_build/autotest-per-patch_26137.html

[2020-09-16 21:20] spdkci commented on #1588
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_26135.html

[2020-09-16 21:53] spdkci commented on #1588
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_26147.html

[2020-09-16 22:58] mhae commented on #922
Running into the same issue with 20.07 on debian.

[2020-09-16 23:18] spdkci commented on #1588
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_26161.html

[2020-09-16 23:29] jimharris commented on #1588
Confirmed root cause and fix:  https://review.spdk.io/gerrit/c/spdk/spdk/+/4284

[2020-09-16 23:29] spdkci commented on #1588
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_26165.html

[2020-09-17 00:40] spdkci commented on #1588
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_26174.html

[2020-09-17 01:04] cockroach1136 commented on #527
Hello Nate,
      Thank you for your quick response.

We had contacted the resources that we can found.
The answer always

"The SSD is sold millions items and no one complain about this problem"
"The server complies with all enterprise level design rules and pass all certification"
"There are billion people use intel CPU, It is impossible for intel CPU has problems"
"We cannot reproduce this pheno

[2020-09-17 01:50] mhae commented on #527
Hi,

I’ve been running hot plug tests under load (perf) for months now and haven’t seen this issue. The setup I’m using is NVMF/bdev_nvme on Centos8 with SPDK 20.0x (real HW, no VM).

I can remove a disk, plug it back in and perf is the same as before I removed the disk.

Also, in your email you mention “the speed of host CPU PCIe seems become slow” and “Then return the strange CID response in nvm

[2020-09-17 06:03] wanqunintel opened #1595 "[E810]unable to connect to the rqpair when running nvmf/host/multipath.sh"
Unable to connect to the rqpair when running nvmf/host/multipath.sh test
## Expected Behavior
Finishing the script running successfully.

## Current Behavior
 15:23:13	# /home/qwan/spdk/scripts/rpc.py nvmf_subsystem_remove_listener nqn.2016-06.io.spdk:cnode1 -t rdma -a 192.168.100.8 -s 4422
 15:23:13	# sleep 5
 15:23:18	# wait 100999
Timeout while waiting for response:

  15:24:02	# trap - ERR
  1

[2020-09-17 06:17] changpe1 commented on #1595
@wanqunintel could you try again with this patch https://review.spdk.io/gerrit/c/spdk/spdk/+/4284?

[2020-09-17 06:25] spdkci commented on #1588
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_26184.html

[2020-09-17 07:14] wanqunintel commented on #1595
i tried with this patch, and it also failed, i checked that this only failed on CVL NIC

[2020-09-17 07:26] wanqunintel commented on #1595
And it seems when remove the listener with -s 4420, it doesn't fail, there is a dmesg info when remove the listener with -s 4421 and -s 4422
/home/qwan/spdk/scripts/rpc.py nvmf_subsystem_remove_listener nqn.2016-06.io.spdk:cnode1 -t rdma -a 192.168.100.8 -s **4421**
**[  566.169167] iwpm_add_and_query_mapping_cb: Received a Reject (pid = 2025, echo seq = 20)**
/home/qwan/spdk/scripts/rpc.py nvmf_s

[2020-09-17 09:22] spdkci commented on #1588
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_26159.html

[2020-09-17 09:22] spdkci commented on #1588
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_26145.html

[2020-09-17 10:15] jgrodman opened #1596 "NVME RDMA timeouts"
## Expected Behavior

Perf test without errors

## Current Behavior

When I test the spdk_tgt over NVME / RDMA with a malloc bdev at scale, I get timeouts on the initiator.
The timeouts are in `/var/log/messages`, and fio performance jumps around a lot, often dipping to 0. The errors look like this:
[code]

## Steps to Reproduce

1. `HUGEMEM=32000 ./setup.sh`
2. `./spdk_tgt -m 0xFF0`
3. Configure

[2020-09-17 11:16] AlekseyMarchuk commented on #1596
Hi @jgrodman

Could you specify how you configure SPDK RDMA transport? Probably there is not enough transport buffers

[2020-09-17 11:22] jgrodman commented on #1596
@AlekseyMarchuk I'm just running `./rpc.py nvmf_create_transport -t RDMA`, so I'm using whatever the default configuration us

[2020-09-17 11:31] AlekseyMarchuk commented on #1596
Oh sorry, I missed this line
Could you specify more transport buffers, e.g.
`./rpc.py nvmf_create_transport -t RDMA -n 8192`
You are using 128k payload, it requires 16 transport buffer per IO request. With default `num_shared_buffers` you'll have 256 IO requests in flight. I think that increasing the number of transport buffers could help to get stable IOPS

[2020-09-17 11:34] AlekseyMarchuk commented on #1596
Could you also run `./scripts/rpc.py nvmf_get_stats` while you are running fio?

[2020-09-17 15:23] cockroach1136 commented on #527
Hello Michael,

Thank you so much for your reponse.

I had reproduced this issue by little modify the bdev_raid code in spdk.

You can check the previous response in this git-issue that I wrote in in  13, Dec 2018

![image](https://user-images.githubusercontent.com/29791158/93488103-91556900-f938-11ea-9e99-22e6edb446f4.png)

I had uploaded a program bdev_raid.zip and the reproducing procedure is a

[2020-09-17 15:26] #1562 closed

[2020-09-17 15:27] spdkci commented on #1588
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_26247.html

[2020-09-17 15:40] spdkci commented on #1495
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_26172.html

[2020-09-17 15:51] spdkci commented on #1588
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_26175.html

[2020-09-17 21:28] spdkci commented on #1588
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_26284.html

[2020-09-17 21:28] spdkci commented on #1588
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_26290.html

[2020-09-17 21:35] jimharris commented on #1588
Patch merged.

[2020-09-17 21:35] #1588 closed

[2020-09-17 22:33] spdkci commented on #1588
Another instance of this failure. Reported by @floatious. log: https://ci.spdk.io/public_build/autotest-per-patch_26296.html

[2020-09-18 01:20] changpe1 commented on #1572
Closing this issue for now as the patch has been merged.

[2020-09-18 01:20] #1572 closed

[2020-09-18 02:08] changpe1 commented on #1541
I submitted a fix patch https://review.spdk.io/gerrit/c/spdk/spdk/+/4306.

[2020-09-18 06:22] wanghailiangx opened #1597 "[vagrant] Mounting NFS shared folders..."
/var/jenkins/workspace/freebsd-vg-autotest/freebsd11-libvirt /var/jenkins/workspace/freebsd-vg-autotest

## Link to the failed CI build
https://ci.spdk.io/results/autotest-per-patch/builds/26317/archive/freebsd-vg-autotest/build.log

## Execution failed at
00:01:06.965  ==> default: Exporting NFS shared folders...
00:01:06.969  ==> default: Preparing to edit /etc/exports. Administrator privileges

[2020-09-18 06:24] wanghailiangx commented on #1597
Maybe this link can help, https://github.com/geerlingguy/drupal-vm/issues/245.

[2020-09-18 06:49] spdkci commented on #1597
Another instance of this failure. Reported by @wanghailiangx. log: https://ci.spdk.io/public_build/autotest-per-patch_26317.html

[2020-09-18 09:22] jgrodman commented on #1596
Hi @AlekseyMarchuk, thanks I tried bumping `-n 8192` as you suggested. I also tried increasing the other parameters so that my config is the below, but both resulted in the same timeout errors on the initiator. The output of `./rpc.py nvmf_get_stats` is attached.

Thanks for your help,
Jesse
[stats.txt](https://github.com/spdk/spdk/files/5244645/stats.txt)

[code]

[2020-09-18 10:10] #1565 closed

[2020-09-18 14:46] jimharris commented on #1597
Duplicate of #1424

[2020-09-18 14:46] #1597 closed

[2020-09-18 16:51] john4477 opened #1598 "Ocssd bdev differs from the ocssd Specification v2.0."
## Expected Behavior

when send read command on ocssd bdev, opcode should be 0x92 according to ocssd specification v2.0.

## Current Behavior

opcode is 0x02 for read command on ocssd bdev.

## Possible Solution

ocssd bdev should use spdk_nvme_ocssd_ns_cmd_vector_read_md command() to send read request not spdk_nvme_ns_cmd_readv_with_md() which is used for current ocssd bdev
## Steps to Reproduce

[2020-09-18 18:34] AlekseyMarchuk commented on #1596
@jgrodman

I tried to reproduce your problem on my setup, fio works fine and no timeouts reported. I used default RDMA transport configuration.
Full fio output:

[code]

My setup:
Initiator: CentOS Linux release 7.5.1804 (Core) kernel: 3.10.0-862.el7.x86_64 MLNX_OFED_LINUX-5.0-2.1.0.0. CPU with 48 cores, 128 Gb RAM
Target: Ubuntu 18.04.3 LTS kernel: 4.15.0-65-generic MLNX_OFED_LINUX-5.1-0.4.1.0. C

[2020-09-19 08:31] gwnet opened #1599 "set_qd_sampling_period cannot persist into the json file and it does not work with iostat.py"
## Expected Behavior
below is the steps to reproduce this.

intel@wcp116:~/wayne/warraid5/nvcache/war$ sudo scripts/rpc.py bdev_set_qd_sampling_period Malloc0 1000000
intel@wcp116:~/wayne/warraid5/nvcache/war$ sudo scripts/rpc.py save_config >  /tmp/warmallocqd.json
intel@wcp116:~/wayne/warraid5/nvcache/war$ sudo vim /tmp/warmallocqd.json
intel@wcp116:~/wayne/warraid5/nvcache/war$ sudo scripts/rpc

[2020-09-19 08:39] gwnet commented on #1599
more urgent thing is that even I enable qd sampling, it cannot show in iostat.py though code looks like has this feature.
[code]

[2020-09-21 04:49] changpe1 commented on #1583
I will try to reproduce this issue in my local environment.

[2020-09-21 05:43] spdkci commented on #1533
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_26430.html

[2020-09-21 05:58] spdkci commented on #1424
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_26451.html

[2020-09-21 06:00] spdkci commented on #1533
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_26450.html

[2020-09-21 06:57] spdkci commented on #1424
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_26463.html

[2020-09-21 08:37] Comphix commented on #1599
@gwnet , what information that you would like to get in the iostat.py? To get the runtime queue depth? The bdev_set_qd_sampling_period is to set the timer poller and use another RPC bdev_get_iostat() to get the related information.

[2020-09-21 18:33] jgrodman commented on #1596
Hi @AlekseyMarchuk thanks for your response. We were using the in-box drivers.
We just installed Mellanox OFED drivers, and from an initial test, it looks like the issue is no longer occurring, so it seems that the issue was the inbox drivers on the centos 7.8 initiator. I will perform more tests tomorrow and post back here.

[2020-09-21 18:35] jgrodman commented on #1596
When running `./rpc.py nvmf_get_stats`, is the correct way to calculate latency: `"request_latency" / "requests" / "tick_rate"` ?

[2020-09-21 18:42] jgrodman commented on #1596
Last question...what bdev are you exposing over NVMf? (I am using the malloc bdev) And what is your link speed?

Thanks,
Jesse

[2020-09-22 04:52] changpe1 commented on #1583
@tomzawadzki I reproduced this issue with the DPDK change, it failed with virtio-scsi, but worked with virtio-blk.

Maxime sent another workaround, I will try that patch.

[2020-09-22 06:30] AlekseyMarchuk commented on #1596
Regarding request latency, you are right, the average latency is `"request_latency" / "requests" / "tick_rate"`
I used the same SPDK target configuration as you wrote in this issue, so I exposed malloc bdevs. My link is 100GbE

[2020-09-22 07:27] changpe1 commented on #1583
Seabios can't work with SPDK vhost for a long time, I just realized this, it's not critical, but SPDK used to support this feature.

[2020-09-22 08:36] ryderhsu0129 opened #1600 "can't open libspdk_nvme.so.4.0 since upgrading to SPDK version v20.07"
We upgrade SPDK version to v20.07 from previous version v20.04 and compile it to shared library files.
But an error occurred when we tried to run example hello_world :
`Error while loading shared libraries, cannot open shared object file: libspdk_nvme.so.4.0 :No such file or directory `

We check that the file libspdk_nvme.so.4.0 is indeed stored under the path build/lib,
We also run ldconfig spec

[2020-09-22 14:39] tomzawadzki commented on #1560
Patch updating the submodule is now merged https://review.spdk.io/gerrit/c/spdk/spdk/+/3868

[2020-09-22 14:39] #1560 closed

[2020-09-22 15:06] tomzawadzki commented on #1529
[Bug scrub] Thanks @AlekseyMarchuk for fixing this. @peluse confirms that this is the right solution with DPDK right now.

[2020-09-22 15:06] #1529 closed

[2020-09-22 15:08] tomzawadzki commented on #1579
[Bug scrub] The issue occurred in just two builds linked above, and then never again. There was no changes done on CI to resolve it. Let's close it.

[2020-09-22 15:08] #1579 closed

[2020-09-22 15:12] tomzawadzki commented on #1573
[Bug scrub] Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/868/ was merged, enabling building 'vs_dpdk' jobs on nightly basis. @karlatec will enable the jobs and report any new issues with DPDK compatibility that might come up.

[2020-09-22 15:12] #1573 closed

[2020-09-22 15:13] tomzawadzki commented on #1561
[Bug scrub] This issue has not occurred for over a month on CI. Closing it.

[2020-09-22 15:13] #1561 closed

[2020-09-22 15:14] tomzawadzki commented on #1542
[Bug scrub] @mkirkconnell There were series of fixes for RHEL done by @mikeBashStuff on latest SPDK. Could you try and see if this resolves the issues you've been seeing ?

[2020-09-22 15:20] tomzawadzki commented on #1252
Closing this Intermittent Failure since last occurrence was over a month ago.

[2020-09-22 15:20] #1252 closed

[2020-09-22 15:20] tomzawadzki commented on #1481
Closing this Intermittent Failure since last occurrence was over a month ago.

[2020-09-22 15:20] #1481 closed

[2020-09-22 15:21] tomzawadzki commented on #1491
Closing this Intermittent Failure since last occurrence was over a month ago.

[2020-09-22 15:21] #1491 closed

[2020-09-22 15:21] tomzawadzki commented on #1511
Closing this Intermittent Failure since last occurrence was over a month ago.

[2020-09-22 15:21] #1511 closed

[2020-09-22 15:21] tomzawadzki commented on #1503
Closing this Intermittent Failure since last occurrence was over a month ago.

[2020-09-22 15:21] #1503 closed

[2020-09-22 15:22] tomzawadzki commented on #1523
Closing this Intermittent Failure since last occurrence was over a month ago.

[2020-09-22 15:22] #1523 closed

[2020-09-22 15:30] tomzawadzki commented on #1404
Per @changpe1 and @yidong0635 comment the issue has been resolved and patch merged.
@gwnet if you confirm the latest SPDK does produce the same issue, please re-open it.

[2020-09-22 15:30] #1404 closed

[2020-09-22 15:32] tomzawadzki commented on #1449
No update for last 5 months. @sqiu110 please re-open this issue if it occurs on latest SPDK.

[2020-09-22 15:32] #1449 closed

[2020-09-22 15:38] tomzawadzki commented on #1470
No update for 3 months. @sunmingbao Please feel free to re-open this issue if you get a chance to try steps from @yidong0635 on latest SPDK.

[2020-09-22 15:38] #1470 closed

[2020-09-22 15:40] tomzawadzki commented on #1437
@gwnet Please feel free to re-open this issue if you get confirmation it still occur on latest SPDK.

[2020-09-22 15:40] #1437 closed

[2020-09-22 16:18] tomzawadzki commented on #1454
Description given by @jasunliu on modifying Cockroachdb cmd line does not look like an SPDK issue. If this indeed requires changes in SPDK, please feel free to re-open this issue.

[2020-09-22 16:18] #1454 closed

[2020-09-22 16:39] jgrodman commented on #1596
Installing the Mellanox OFED drivers got rid of the timeout errors on the initiator, but we're still seeing a bunch of errors...I wonder if there is still some issue of incompatibility with the drivers

Here are some examples of what I'm seeing in the SPDK logs
[code]

And here's an example on the initiator:
[code]

[2020-09-22 17:52] spdkci commented on #1424
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_26539.html

[2020-09-23 02:41] Comphix commented on #1574
Raised a patch:

https://review.spdk.io/gerrit/c/spdk/spdk/+/4352

root@storage35:/home/gangcao/storage17/spdk# lspci | grep -i volatile
06:00.0 Non-Volatile memory controller: Intel Corporation Device 0a54
07:00.0 Non-Volatile memory controller: Intel Corporation Device 0a54
08:00.0 Non-Volatile memory controller: Intel Corporation Device 0a54
0a:00.0 Non-Volatile memory controller: Intel Corpora

[2020-09-23 04:44] Comphix commented on #1574
Above patch is to fix the spdk_lspci issue.

[2020-09-23 06:35] ryderhsu0129 commented on #1600
Can someone help clarify this problem?thanks!

[2020-09-23 06:41] changpe1 commented on #1600
how do you upgrade your SPDK version? just checkout the v20.07 ?

[2020-09-23 06:43] Comphix commented on #1600
For the libdpdk.so, may refer to below weblink:

https://doc.dpdk.org/guides/prog_guide/build-sdk-meson.html

57.7. Using the DPDK within an Application
To compile and link against DPDK within an application, pkg-config should be used to query the correct parameters. Examples of this are given in the makefiles for the example applications included with DPDK. They demonstrate how to link either aga

[2020-09-23 06:49] ryderhsu0129 commented on #1600
@changpe1

Thanks for your reply.
Yes, we checkout to tag v20.07 and then compile it,
Is there any problem with this?

[2020-09-23 06:55] changpe1 commented on #1600
No, this is fine, can you post your application Makefile that related to SPDK library?

[2020-09-23 07:28] ryderhsu0129 commented on #1600
@changpe1

The problem with not finding the library **libspdk_nvme.so.4.0** occurred in running SPDK provided example hello_world.

The problem with not finding the library **libdpdk.so** occurred in running our applications,
and the Makefile is :
[code]
We will copy SPDK compiled libraries under the path build/lib to our system path,
but we found that the libdpdk.so was not compiled under the pat

[2020-09-23 07:34] ryderhsu0129 commented on #1600
@Comphix
thanks for your reply.

We don't have to use a version of DPDK different from the submodule included in the SPDK repository,
there should be no need to do these actions? we don’t need to do additional actions in the previous version.

[2020-09-23 07:46] changpe1 commented on #1600
The issue does exist, I will figure it out.

[2020-09-23 09:38] zlsh007 opened #1601 "unittest test failed"
Hello, everyone, I failed to execute the unit test with the master branch code.

I am using an Ubuntu virtual machine.

commit:acfb968aa8fe2a04bf8496026c399971d6a86bdf

error msg like this:

./test/unit/unittest.sh
+++ dirname ./test/unit/unittest.sh
++ readlink -f ./test/unit
+ testdir=/home/suh/src/spdk/git/push/tmp/spdk/test/unit
+++ dirname ./test/unit/unittest.sh
++ readlink -f ./test/unit/..

[2020-09-23 10:00] jkalwas commented on #1574
Hi Gang,

Seems that these two are separate issues. The fix provided is not related to the initial case described.

[2020-09-23 12:47] spdkci commented on #1424
Another instance of this failure. Reported by @jkalwas. log: https://ci.spdk.io/public_build/autotest-per-patch_26606.html

[2020-09-23 14:14] tomzawadzki commented on #1601
Hi @zlsh007 Please use the `` ``` `` (three backticks) code block for better log formatting.
I do not see any Unit Test failure in the log, can you please point to specific part that fails ?

PS. Intermittent Failure tag is reserved for issues observed on CI that do not happen on every run. This issue did not occurr on CI, correct ?

[2020-09-23 14:40] jimharris commented on #1601
Unit tests often test error cases in the libraries.  These cases may generate SPDK_ERRLOG messages.  Those cases are not considered failures, since the unit test is checking that the error case is handled correctly.

The run summary at the end is the primary indicator if there were any failing unit tests.  In the log posted, there were none.

Closing this issue.  @zlsh007, if there are unit tests

[2020-09-23 14:40] #1601 closed

[2020-09-23 14:40] AlekseyMarchuk commented on #1596
Unfortunately I'm not aware of drivers incompatibility cases but I can't exclude them. Is it possible to install MOFED on your target node?

[2020-09-23 16:13] jimharris commented on #1600
I think we should break the libdpdk problem into a separate GitHub issue.  They look similar but will have two different resolutions.  @ryderhsu0129 would you mind submitting a separate issue for this?

Regarding libspdk_nvme.so.4.0 - I see you've set LD_LIBRARY path, but it isn't exported.  Or could you try:

LD_LIBRARY_PATH=./build/lib build/examples/hello_world

[2020-09-23 17:24] jimharris commented on #1600
Using pkg-config to get DPDK linker args doesn't work.  It omits the rte_bus_pci library which results in link errors against rte_pci_read/write_config and rte_pci_register.  It also specifies --as-needed which will only link functions that are "needed" meaning referenced directly.  This excludes constructor functions such as the mempool ops registration in the rte_mempool_ring library (see issue

[2020-09-23 17:40] mkirkconnell commented on #1542
Latest SPDK gets much further, past the python install issue. Thank you!

First tripped over this:

/opt/spdk/scripts/pkgdep/rhel.sh: line 51: yum-config-manager: command not found
Error!

May want to document yum-utils as a Prerequisite here(?):
https://github.com/spdk/spdk

Next hitting error because we do not have Subscription Management. Not all users do.

Updating Subscription Management repo

[2020-09-23 18:22] mikeBashStuff commented on #1542
@mkirkconnell Appreciate your feedback!

We actually do install `yum-utils`, but for `centos8` only. The reason why I didn't include this particular package for `rhel8` was that I actually had `yum-config-manager` already installed on my freshly rhel VM I managed to deploy- I reckoned it's shipped by default, yet it seems to be not the case. This one should be an easy fix though. :)

As to the SM

[2020-09-23 18:23] jimharris commented on #1600
I've sent an e-mail to dev@dpdk.org to get more clarification on this.

[2020-09-23 18:42] mkirkconnell commented on #1542
I think users can figure out the yum-config-manager thing, if not already installed :)

For the SM issue, could you possibly list out the packages that were not able to be installed due to missing SM subscription? That way users can manually find and install?

[2020-09-23 19:55] spdkci commented on #1533
Another instance of this failure. Reported by @benlwalker. log: https://ci.spdk.io/public_build/autotest-per-patch_26620.html

[2020-09-23 22:01] spdkci commented on #1424
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_26633.html

[2020-09-23 22:01] spdkci commented on #1424
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_26632.html

[2020-09-24 01:50] ryderhsu0129 commented on #1600
@jimharris

thanks for your help.

We tried to do this:
LD_LIBRARY_PATH=./build/lib build/examples/hello_world

but an error still occurred:
`Error while loading shared libraries, cannot open shared object file: librte_telemetry.so.0.200.2 :No such file or directory`

[2020-09-24 02:43] yidong0635 commented on #1595
@wanqunintel  I can check this on your environment to see what kind of issue it is, from the log that it seems it can't opereate
from a different port?

[2020-09-24 02:47] changpe1 commented on #1600
could you try this LD_LIBRARY_PATH=./build/lib/:./dpdk/build/lib build/examples/hello_world ?
it works in my environment

[2020-09-24 02:53] yidong0635 commented on #1549
@AlekseyMarchuk  Are you still checking this issue, maybe there're leaks/corruptions, I had ever checked the multi-machine testing
of a big file, I got the results, but I didn't check the data.  There're  error reports there, but it doesn't prevent testing finished.

[2020-09-24 03:47] spdkci commented on #1424
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_26658.html

[2020-09-24 04:00] zlsh007 commented on #1601
@jimharris @tomzawadzki
Sorry for not enough information. This problem occurred when I planned to submit a patch. After executing git code review, the unit test phase failed.

[2020-09-24 04:02] zlsh007 commented on #1601
/home/suh/图片/git push error.png

[2020-09-24 04:03] zlsh007 commented on #1601
$git push review
warning: 重定向到 https://review.spdk.io/gerrit/spdk/spdk/
Running make with gcc ...
Running unittest.sh ...
   176
   177 	if grep -q '#define SPDK_CONFIG_RAID5 1' $rootdir/include/spdk/config.h; then
   178 		run_test "unittest_bdev_raid5" $valgrind $testdir/lib/bdev/raid/raid5.c/raid5_ut
   179 	fi
   180
=> 181 	run_test "unittest_blob_blobfs" unittest_blob
   182 	run_test "unitt

[2020-09-24 04:47] jimharris commented on #1601
Can you attach the make.log file?

[2020-09-24 04:54] zlsh007 commented on #1601
@jimharris
[https://github.com/zlsh007/Others/blob/master/spdk/make.log](url)

[2020-09-24 05:31] jimharris commented on #1601
./test/unit/unittest.sh: 行 29: /home/suh/src/spdk/git/push/tmp/spdk/test/unit/lib/blob/blob.c/blob_ut: 没有那个文件或目录

This is the failure.  @optimistyzy translated this for me - it means blob_ut binary does not exist.  If we look in test/unit/lib/blob/Makefile, we see that we do not compile blob_ut on systems with a version of Cunit that is too old - I think that is what is happening in this case.

Ca

[2020-09-24 05:46] zlsh007 commented on #1601
@jimharris
Thank you very much, the test passed, so I can submit the patch.

[2020-09-24 06:00] ryderhsu0129 commented on #1600
@changpe1

it's work
`LD_LIBRARY_PATH=./build/lib/:./dpdk/build/lib build/examples/hello_world`

so it can be concluded that the problem is can't produce libdpdk.so?
another question is in the previous version will go to the system folder `/usr/local/lib` to find libraries,
no need to use LD_LIBRARY_PATH specify the path,
It seems that the v20.07 needs to do this extra? thanks!

[2020-09-24 06:06] changpe1 commented on #1600
I think so, we did some change recently, I may need to update the README.md.

[2020-09-24 06:49] AlekseyMarchuk commented on #1549
@yidong0635 Sorry, didn't have time to check this issue. Plan to do it next week. I appreciate if your share more info on your environment and steps to reproduce since I never met such errors

[2020-09-24 09:53] spdkci commented on #1424
Another instance of this failure. Reported by @jkalwas. log: https://ci.spdk.io/public_build/autotest-per-patch_26678.html

[2020-09-24 10:57] chenxu14 commented on #1555
The same thing happened in my randread test
[code]
The maximum memory usage is limited to 10g through cgroup，test result as below
![image](https://user-images.githubusercontent.com/47170471/94136423-813d0c80-fe97-11ea-9ad6-6232b1aa8ced.png)
The long tail delay increases obviously.

[2020-09-24 14:20] spdkci commented on #1424
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_26691.html

[2020-09-24 14:22] spdkci commented on #1424
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_26696.html

[2020-09-24 18:41] Donaim commented on #314
documentation patch is waiting for review, but someone needs to take over
https://review.spdk.io/gerrit/c/spdk/spdk/+/2850

[2020-09-24 21:54] spdkci commented on #1533
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_26706.html

[2020-09-25 03:03] Comphix commented on #1574
Tried with an assigned device like below calling sequence, it is ok.
    spdk_pci_device_claim
    spdk_pci_device_detach
    spdk_pci_device_claim
    spdk_pci_device_detach

There is issue as mentioned for the 2nd call of spdk_pci_enumerate
    spdk_pci_enumerate
    spdk_pci_device_claim
    spdk_pci_device_detach
    spdk_pci_enumerate <----

[2020-09-25 05:56] spdkci commented on #1424
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_26717.html

[2020-09-25 06:37] spdkci commented on #1533
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_26722.html

[2020-09-25 10:09] mikeBashStuff commented on #1542
@mkirkconnell Sure, I will try to compile similar list as soon as possible. :)

[2020-09-25 11:52] gwnet commented on #1599
@Comphix thank you so much Gang.
I already found it. the scripts/rpc.py has one command that can get the run time qd for me. just iostat.py did not put this information into output. not very critical for me now. but maybe we can add it, kernel iostat has more columns. :)

[2020-09-25 13:25] jgrodman commented on #1596
Hi @AlekseyMarchuk, unfortunately I'm back to getting the error again, on the current tip of master. I'm reproducing it from two different initiators, one Ubuntu with inbox drivers and one Centos with the Mellonox OFED drivers. All the information is below. Thank you very much for your help

SPDK: tip of master - commit `ebc227d9b23abcf5f81099611254eef84221d186`

Target:
Ubuntu 18.04.2 LTS kernel:

[2020-09-25 15:18] Donaim commented on #1361
@mikeBashStuff I configure SPDK with: `./configure --enable-debug --disable-isal`

@tomzawadzki Yeah, I missed that nvme was not cleaned. With a clean one, the test passes for me on master

[2020-09-25 17:03] spdkci commented on #1424
Another instance of this failure. Reported by @benlwalker. log: https://ci.spdk.io/public_build/autotest-per-patch_26778.html

[2020-09-25 18:26] spdkci commented on #1533
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_26765.html

[2020-09-25 21:46] spdkci commented on #1526
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_26793.html

[2020-09-26 16:04] Panlichen opened #1602 "hello_world show no NVMe controllers found. After running scripts/setup.sh"
When running scripts/setup.sh, it says `0000:03:00.0 (15ad 07f0): Active mountpoints on /dev/nvme0n1, so not binding PCI dev`, I walked through scripts/setup.sh, it seems that this message is printed because the NVMe device works fine. However, examples/nvme/hello_world/hello_world still shows `no NVMe controllers found`.

I found that there was an old issue(#197) about this, It seems that simply

[2020-09-26 16:23] jimharris commented on #1602
Hi,

Can you post the output of ‘mount’ on your system?

Thanks,

Jim

[2020-09-26 16:26] Panlichen commented on #1602
Thank you for your prompt response.
[code]

[2020-09-26 18:33] jimharris commented on #1602
It looks like your root file system is on nvme0n1.  The setup.sh script will not unbind that controller since it would make your root filesystem inaccessible. You can try creating a second virtual NVMe disk for this VM instead.

[2020-09-26 18:50] Panlichen commented on #1602
I thought about to create another VM with root file system in a SATA disk, then add another NVMe disk, but I was not sure so I made this issue. Your advise is more convenient and clear. Thanks a lot, I will try it.

[2020-09-27 05:09] changpe1 commented on #1316
I looked into this issue, the usage scenario is wrong, typically for virtio usage cases, we should start two processes, one is vhost target the other one can be spdk target, it's not correct to use them in the same process.

[2020-09-27 05:18] changpe1 commented on #1316
@jumpapex could you refer to test/vhost/initiator/blockdev.sh in SPDK as an example, there is detailed steps about run vhost user with two processes. I'm going to close this issue, you can reopen it if the issue still exist.

[2020-09-27 05:18] #1316 closed

[2020-09-27 08:34] Panlichen commented on #1602
I added another virtual nvme disk, but it shares the same `bdf` with the previous one, so setup.sh still does nothing to the newly added nvme disk, and when I run hello_world, it still says that `no NVMe controllers found`. It seems that I can only solve this by creating a new VM with the root file system on a SATA(or SCSI) disk, and then add another nvme disk(without mounting it), I tried, and it

[2020-09-27 16:26] spdkci commented on #1424
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_26790.html

[2020-09-28 00:35] spdkci commented on #1533
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_26788.html

[2020-09-28 02:59] wanghailiangx commented on #1602
@Panlichen
I also encountered a similar problem. Please check if your VMD is enabled on BIOS, disable it.
Checking steps：
./scripts/setup.sh status, if BDF is “10000...”, VMD is enabled.
[code]
Disabled, you will see BDF is “0000...”.
[code]
Then NVMe controllers can be found.

[2020-09-28 03:06] Panlichen commented on #1602
Thanks, the BDF on my machine(VM) begins with 0000.

After I re-create a VM with root fs on a SCSI disk and then add a new NVMe disk without mounting it, hello_world works fine.

As I mentioned in the last comment, I still have some questions.

[2020-09-28 05:12] spdkci commented on #1533
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_26877.html

[2020-09-28 05:55] gwnet opened #1603 "CentOS8 build SPDK NVMF hang and never complete, but Ubuntu20.04 and CentOS7 is good"
this build hang below on CentOS8
[root@localhost spdk]# make
The Meson build system
Version: 0.55.3
Source dir: /root/wayne/spdk/dpdk
Build dir: /root/wayne/spdk/dpdk/build-tmp
Build type: native build
Program cat found: YES
Project name: DPDK
Project version: 20.08.0
Using 'CC' from environment with value: 'cc'
Using 'CC' from environment with value: 'cc'
C compiler for the host machine: cc (gcc

[2020-09-28 05:58] spdkci commented on #1424
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_26885.html

[2020-09-28 07:02] Panlichen commented on #1602
The doc helps.

[2020-09-28 07:02] #1602 closed

[2020-09-28 07:10] spdkci commented on #1424
Another instance of this failure. Reported by @floatious. log: https://ci.spdk.io/public_build/autotest-per-patch_26872.html

[2020-09-28 07:18] spdkci commented on #1424
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_26892.html

[2020-09-28 07:58] spdkci commented on #1533
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_26889.html

[2020-09-28 08:09] tomzawadzki commented on #1361
Since neither @Donaim, nor @mikeBashStuff and me cannot reproduce this issue on latest SPDK. Closing this issue.

[2020-09-28 08:09] #1361 closed

[2020-09-28 08:43] gwnet opened #1604 "follow SPDK NVMF tgt example steps, but from kernel side cannot see the fake nvme device"
below is my steps following https://spdk.io/doc/nvmf.html,

but after I run the nvme connect, no error report, but I did not see kernel new nvme fake device is created.

## Expected Behavior

vme2n1       259:1    0   1.4T  0 disk
[root@appliance-host spdk]# modprobe nvme-rdma
[root@appliance-host spdk]# modprobe nvme-fabrics
[root@appliance-host spdk]#  scripts/rpc.py nvmf_create_transport -t RDM

[2020-09-28 14:17] gwnet commented on #1604
CYou have new mail in /var/spool/mail/root
[root@appliance-host nvmf_tgt]# ./nvmf_tgt
Starting SPDK v20.04.1 git sha1 c5f0959 / DPDK 19.11.2 initialization...
[ DPDK EAL parameters: nvmf --no-shconf -c 0x1 --log-level=lib.eal:6 --log-level=lib.cryptodev:5 --log-level=user1:6 --iova-mode=pa --base-virtaddr=0x200000000000 --match-allocations --file-prefix=spdk_pid6673 ]
EAL: No available hugepages r

[2020-09-28 14:34] #1604 closed

[2020-09-29 01:11] NiuYawei opened #1605 "Potential bug in pci_unplug()"
In the pci_unplug() (dpdk/drivers/bus/pci/pci_common.c), why do we call rte_devargs_remove() to remove the saved device args? That looks a defect to me, since that’ll result in the hot removed device failed to be detected when it’s plugged back (when white list option was provided), the situation is described following:

      1.  App starts with white list option provided, let’s suppose the devic

[2020-09-29 10:59] spdkci commented on #1533
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_27007.html

[2020-09-29 11:26] jkalwas opened #1606 "EAL errors when running a secondary process"
Is it expected to see such EAL errors when running secondary process (perf app)?
[code]
Functionally it seems working i.e. IO traffic is completed and results are displayed.

from Jim

Issue is definitely not critical but introduce confusion.

## Expected Behavior

No errors from EAL reported.

## Current Behavior

EAL reports error.

## Possible Solution

Double check SPDK integration with DPDK's

[2020-09-29 12:03] jgrodman commented on #1596
I tried installing the Mellanox OFED drivers on the initiator as well, but it did not fix the issue. Based on your earlier post, our configurations have the following differences...do you think any of them are related?

Also, can you please let me know which cards you're using?
[code]

target
* OS
  * Jesse: Ubuntu 18.04.2 LTS kernel: 4.15.0-52-generic
  * Aleksey: Ubuntu 18.04.3 LTS kernel: 4.15.

[2020-09-29 13:04] mikeBashStuff opened #1607 "nvmf_tcp: Failed to construct the tqpair at the abort test case"
Example: https://ci.spdk.io/results/autotest-per-patch/builds/27032/archive/nvmf-tcp-vg-autotest/build.log

Point of failure:
[code]

[2020-09-29 13:05] spdkci commented on #1607
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_27032.html

[2020-09-29 13:28] shuhei-matsumoto commented on #1607
Hi @mikeBashStuff

Thanks for filing this issue. It looks that

[code]

occurred before starting the abort test. So I changed the title. Please correct me if I miss something.

[2020-09-29 13:29] spdkci commented on #1607
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_27030.html

[2020-09-29 13:39] mikeBashStuff commented on #1607
@shuhei-matsumoto From the log it looks to me like these `ERROR`s are coming after `abort` is executed not before. But in all honesty I am not quite sure if they were actually returned by `abort` or maybe by the `nvmf_tgt` app? Other way, title looks way better now, thanks. :)

[2020-09-29 13:42] spdkci commented on #1607
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_27037.html

[2020-09-29 13:50] AlekseyMarchuk commented on #1607
That happens with TPC zcopy patches. I saw such an error in CI when I started review of those patches, but I fixed it. Anyway, I'll take a look this this problem

[2020-09-29 14:07] vinay-diamanti commented on #1356
Got same problem on CentOS 8.2. Kernel 4.18.0-193.el8.x86_64 on an x86_64.
Installed latest kernel 5.9.0-rc7 and successfully created ext4 on the nvme disk.

[2020-09-29 14:45] mhae commented on #1605
I didn't encounter this issue in CentOS8 with 20.01 doing a real hot plug. I also think there are hot remove/add tests in SPDK using KVM's hot plug capability.
I wonder if step 5 is correctly simulating a hot add.

[2020-09-30 01:15] spdkci commented on #1424
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_27132.html

[2020-09-30 01:54] spdkci commented on #1533
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_27137.html

[2020-09-30 02:15] spdkci commented on #1533
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_27139.html

[2020-09-30 05:26] spdkci commented on #1424
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_26999.html

[2020-09-30 08:34] spdkci commented on #1607
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_27048.html

[2020-09-30 08:35] spdkci commented on #1607
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_27035.html

[2020-09-30 08:35] spdkci commented on #1607
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_27042.html

[2020-09-30 10:02] AlekseyMarchuk commented on #1607
TCP zcopy requires a qpair to be connected to a poll group. I naively assumed that all IO qpairs have poll group, I forgot about other applications such as abort. I prepared a patch which fixes it https://review.spdk.io/gerrit/c/spdk/spdk/+/4476
Also Jim pushed a patch to disable zcopy, so if you see a failure in abort test then please rebase your patches

[2020-09-30 10:09] AlekseyMarchuk commented on #1596
Hi @jgrodman

We use `Mellanox Technologies MT27800 Family [ConnectX-5]` in our machines.
I have no experience with ConnectX-3, I can ask my colleagues if they remember any issues specific for this HCA.
Could you try to disable SRQ in SPDK target using `./rpc.py nvmf_create_transport -t RDMA -n 8192` ?

[2020-09-30 10:24] jgrodman commented on #1596
Hi @AlekseyMarchuk thanks, I will try that. To be clear, the command to disable SRQ is `./rpc.py nvmf_create_transport -t RDMA -n 8192` ?

[2020-09-30 11:02] AlekseyMarchuk commented on #1596
Sorry, didn't copy the last parameters, it is `./rpc.py nvmf_create_transport -t RDMA -n 8192 -r`

[2020-09-30 11:43] jgrodman commented on #1596
Hi @AlekseyMarchuk, thanks...I tried `./rpc.py nvmf_create_transport -t RDMA -n 8192 -r` and am still getting the timeout errors and performance issues

[2020-09-30 14:33] spdkci commented on #1533
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_27145.html

[2020-09-30 14:35] AlekseyMarchuk commented on #1511
I met this problem again:
https://ci.spdk.io/public_build/autotest-per-patch_27223.html

[code]
Maybe it is a temporary connectivity issue? I'll keep this issue closed until another occurrence.

[2020-09-30 18:20] spdkci commented on #1533
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_27263.html

[2020-10-01 08:39] spdkci commented on #1533
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_27235.html

[2020-10-01 13:34] mikeBashStuff commented on #1542
@mkirkconnell Apologies for the late reply, I have been occupied by other tasks.

Now, it seems that without the subscription, and if you don't rely on any other 3rd-party repos, you won't be able to install most of the packages. I tested it against clean kvm image I got from the `access.redhat` and with only these repos enabled:

[code]
`pkgdep.sh` fails at the very beginning while trying to inst

[2020-10-01 15:55] john4477 commented on #1591
Hi @gwnet,
I have a problem configuring nvme + ftl bdev
Can you show your entire json for nvme+ftl bdev?

[2020-10-01 21:50] spdkci commented on #1533
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_27349.html

[2020-10-01 21:50] spdkci commented on #1533
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_27348.html

[2020-10-01 21:51] spdkci commented on #1424
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_27351.html

[2020-10-02 16:53] spdkci commented on #1526
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_27401.html

[2020-10-02 17:33] spdkci commented on #1424
Another instance of this failure. Reported by @benlwalker. log: https://ci.spdk.io/public_build/autotest-per-patch_27276.html

[2020-10-02 17:35] spdkci commented on #1533
Another instance of this failure. Reported by @benlwalker. log: https://ci.spdk.io/public_build/autotest-per-patch_27281.html

[2020-10-03 20:22] smijolovic opened #1608 "Make on SPDK fails with meson on RHEL/CentOS8 on 20.07"
./configure --enable-debug --without-isal --with-iscsi-initiator --with-rdma  --disable-tests --with-crypto
make

Message: drivers/mempool/ring: Defining dependency "mempool_ring"
Library IPSec_MB found: YES
drivers/crypto/aesni_mb/meson.build:13:1: ERROR:  Could not get define 'IMB_VERSION_STR'

A full log can be found at /home/rpmbuild/nimbus8/mayastor-build/mayastor-0.4.0/Mayastor/spdk-sys/spdk

[2020-10-03 22:38] smijolovic opened #1609 "build fails on CentOS8 when including --with-internal-vhost-lib for libsdk.so"
20.04.1 and below:

./configure --enable-debug --without-isal --with-iscsi-initiator --with-rdma --with-internal-vhost-lib --disable-tests --with-crypto

gcc -shared -o libspdk.so \
        -lc  -laio -liscsi -lnuma -ldl -lrt -luuid -lpthread -lcrypto \
        -luring \
        -Wl,--whole-archive \
        $(find build/lib -type f -name 'libspdk_*.a*' -o -name 'librte_*.a*') \
        $(find dpd

[2020-10-03 23:37] smijolovic commented on #1609
its two conflicting libraries
build/lib/libspdk_rte_vhost.a
dpdk/build/lib/librte_vhost.a

[2020-10-04 03:07] smijolovic commented on #1609
I see that the flag is being depreciated...makes a lot of sense...closing

[2020-10-04 03:09] #1609 closed

[2020-10-04 17:21] jgrodman commented on #1596
We think the issue may be related to the ROCE v1 vs. v2 version being used. Which does SPDK use or how does it make that decision?

[2020-10-05 07:53] spdkci commented on #1533
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_27393.html

[2020-10-05 09:39] AlekseyMarchuk commented on #1596
Hi,

SPDK doesn't make such decisions, it works with pre configured interfaces. You can change RoCE version of your HCA to RoCE V2: https://docs.mellanox.com/pages/viewpage.action?pageId=12013422#RDMAoverConvergedEthernet(RoCE)-RoCEModesParameters
Also RDMA_CM has configuration parameter which determines which RoCE version it should use, it can be changes in the following way: https://docs.mellano

[2020-10-05 15:04] jgrodman commented on #1596
Thanks, that was helpful...confirmed that we're running RoCE V2.

We're trying to determine if the issue could be related to hardware.

We are having no issues with:
System: Dell PowerEdge R620
CPU: Intel Xeon CPU E5-2620 v1
RAM: 128GB DDR3

We are having issues with:
System: Supermicro SYS-6028TR-HTR (X10DRT-H)
CPU: Intel Xeon CPU E5-2609 v3
RAM: 64GB DDR4

A few questions...
1. Do you know of an

[2020-10-06 01:03] shuhei-matsumoto opened #1610 "[nvmf_multipath] Failed to reset controller"
[code]

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_27456.html

## Execution failed at

See above

[2020-10-06 01:04] spdkci commented on #1533
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_27453.html

[2020-10-06 01:04] spdkci commented on #1610
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_27456.html

[2020-10-06 13:30] tomzawadzki commented on #1607
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/4476 fixing the issue is now merged.

[2020-10-06 13:30] #1607 closed

[2020-10-06 14:29] tomzawadzki commented on #1541
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/4306 fixing this issue was merged.

[2020-10-06 14:29] #1541 closed

[2020-10-06 14:39] tomzawadzki commented on #1502
Does not seem like this issue is seen on recent builds for quite some time. Closing.

[2020-10-06 14:39] #1502 closed

[2020-10-06 14:48] tomzawadzki commented on #1554
Just a note for the future, this is being worked on in series ending in https://review.spdk.io/gerrit/c/spdk/spdk/+/4371/.

[2020-10-06 15:15] tomzawadzki commented on #1596
[Bug scrub] @karlatec please provide some info on the questions above with regards to the setup used in Jenkins CI.

[2020-10-06 15:21] tomzawadzki commented on #1608
[Bug scrub] @smijolovic Could you please try latest SPDK as well to confirm ?
We are in process of establishing separate Jenkins job to verify CentOS8 and will be able to check that particular setup. So far we've not encountered this issue. @mikeBashStuff please update with the status when the job is up and running.

[2020-10-06 15:23] tomzawadzki commented on #1542
[Bug scrub] @mkirkconnell Can you please see if suggestion from @mikeBashStuff works for you ?

[2020-10-06 15:27] tomzawadzki commented on #1603
[Bug scrub] @gwnet Is this using latest SPDK, if yes please provide a commit hash to be sure. Can you provide configure line too ?

We are in process of establishing separate Jenkins job to verify CentOS8 and will be able to check that particular setup. So far we've not encountered this issue. @mikeBashStuff please update with the status when the job is up and running.

[2020-10-06 15:55] AlekseyMarchuk commented on #1596
Please find my answers below (I missed steps which I can't answer):
2. We usually use Supermicro HW such as SYS-2029UZ-TR4+, CPU Intel(R) Xeon(R) Silver 4116 CPU @ 2.10GHz, 128 Gb RAM
3. In Mellanox CI we test ConnectX-5 installed on x86 and ARM appliance
6. No, 64Gb should be enough.

I'm trying to find a set of tools to diagnose connectivity between problematic nodes, will return to you a bit la

[2020-10-06 16:16] karlatec commented on #1596
In Ci we're mostly using Intel [GrizzlyPass](https://ark.intel.com/content/www/us/en/ark/products/67791/intel-server-system-r2208gz4gs9.html), [WildcatPass ](https://ark.intel.com/content/www/us/en/ark/products/81818/intel-server-system-r2208wt2ys.html)and [Wolfpass ](https://ark.intel.com/content/www/us/en/ark/products/89005/intel-server-system-r2208wfqzs.html)platforms.
I haven't used this speci

[2020-10-06 22:23] spdkci commented on #1526
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_27509.html

[2020-10-07 05:57] ReddyKilowatt commented on #83
@jimharris @benlwalker How can an application check the CDs bit using NVME CLI?

[2020-10-07 06:55] spdkci commented on #1424
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_27497.html

[2020-10-07 09:22] AlekseyMarchuk commented on #1596
@jgrodman
In addition to Karol's recommendation, could you try to run ibv_write_bw tool to check if there are errors in pure RoCE env?
On target: `sudo ib_write_bw --rdma_cm --bidirectional --all --ib-dev=mlx5_1 --run_infinitely`
On initiator: `sudo ib_write_bw --rdma_cm --bidirectional --all --ib-dev=mlx5_1 --run_infinitely 1.1.1.1`
Please also dump counters in`/sys/class/infiniband/mlx4_0/ports/

[2020-10-07 10:14] mikeBashStuff commented on #1603
Currently, `Centos8` is being tested against CI configuration present for `Centos7`, including recent additions targeted for the use of DPDK's `igb_uio` driver (785d6ca209 in particular). During said tests, we haven't encountered any issues similar to this one. So, like @tomzawadzki mentioned, we would need some more details on what's the setup, configuration, etc. used on the affected system.

[2020-10-07 10:36] mikeBashStuff commented on #1608
Couple of things to note:

`/configure --enable-debug --without-isal --with-iscsi-initiator --with-rdma --disable-tests --with-crypto`

This particular build would require `nasm` package in version >= 2.14 which `centos8` doesn't provide in its repos (`epel`, `elrepo` repos don't provide it either) so I am guessing it's been manually installed on the system through some 3rd-party rpm (or from sour

[2020-10-07 12:34] jgrodman commented on #1596
Thanks for all your help

@karlatec I ran the 'loopback' test as follows:
target: `./rpc.py nvmf_subsystem_add_listener nqn.2016-06.io.spdk:cnode0 -t RDMA -a 10.30.76.220 -s 4420 -f ipv4`
initiator: `nvme connect-all -t rdma -a 10.30.76.220`
and the problem is **not** occurring. What does that tell us?

@AlekseyMarchuk
I ran the test...here is the output on the target:
[code]

Here is the output o

[2020-10-07 16:40] AlekseyMarchuk commented on #1596
@jgrodman Thanks for the test. Did you use your "problematic" host as the initiator? If so then we can probably exclude network failures.
But just to make sure I would like to ask you to run your initial scenario against kernel NVMF target. If it works fine then the problem is somewhere in SPDK RDMA transport and we can catch it. If it also fails then the problem is somewhere in the network. BTW h

[2020-10-07 17:25] jgrodman commented on #1596
Hey @AlekseyMarchuk yes this was on the "problematic" host

Okay thanks - I'm out of the office now until Sunday but will run it then!

[2020-10-07 22:34] mkirkconnell commented on #1542
I did a clean RHEL 8.1 install, configured yum repos, installed git, and cloned latest spdk. Verified commit id f883d5a7 was there, and ran scripts/pkgdep.sh.... It works!! The script installed everything cleanly. Thank you so much!

[2020-10-08 03:17] ryderhsu0129 commented on #1600
May I ask if there is any update progress about this issue?thanks!

[2020-10-08 08:25] tomzawadzki commented on #1542
@mikeBashStuff Thanks for resolving this issue !

[2020-10-08 08:25] #1542 closed

[2020-10-08 15:52] mhae commented on #1603
FWIW, I've been running various SPDK versions on CentOS8 for almost a year now.

[2020-10-08 16:07] mhae opened #1611 "nvme: spdk_nvme_probe_poll_async breaks on first controller that can't be initialized"
Consider a hot remove scenario where multiple devices are removed or are inaccessible while spdk_nvme_probe_poll_async is being executed.

In such a case the nvme_ctrlr_poll_internal() is timing out (logs below) and returns an error. This causes spdk_nvme_probe_poll_async to break the loop and return with -EIO:

[code]

This means that other controllers in the list are not processed anymore and pu

[2020-10-08 20:58] mikeBashStuff opened #1612 "rpc timeout during perform_tests call [blockdev_pmem->bdev_bounds]"
[code]

Point of failure:
[code]

Then, ASAN trace followed for `bdevio`:
[code]
Spotted while running local tests via `autorun.sh` with the following config:

[code]

Can't figure out if `perform_tests()` is at fault here or `bdevio` so it's likely that the title of this issue should be changed. Any hints would be appreciated.

[2020-10-08 22:21] shuhei-matsumoto commented on #1611
Hi @mhae

I agree this is a critical issue. I'm not so familiar but I had slightly different idea.
I think discarding error may not be a good idea.

How about the following?

[code]

Then the caller can determine how to process the error.

[2020-10-08 22:40] mhae commented on #1611
Hey @shuhei-matsumoto, thanks for your quick reply! I think this would be a good option too. The only concern I have is that we are potentially prematurely cancelling the initialization process for other devices. In my case, all devices go away at the same time. But consider the case where one device goes away, then 1s later another device. We wouldn't allow the second device all of the allotted i

[2020-10-09 01:42] shuhei-matsumoto commented on #1611
Hi @mhae

Thanks for considering several critical cases in detail.
I thought that the caller of spdk_nvme_connect_async() knows which devices are connected so far, and can retry spdk_nvme_connect_async() until the caller gets success from all devices or gets timeout.

Let's get more opinions.

[2020-10-09 02:24] NiuYawei commented on #1605
So what's the correct way to do hot plug/remove simulation? Did you specify PCI_WHITELIST in your test? This option is the key difference, if we always do full scan without any whiltelis specified, there won't be any problem.

[2020-10-09 06:31] karlatec commented on #1596
@jgrodman which loopback "version"?:) NIC-local loopback (no cable in ports) or physical loopback (port-to-port connection in the same NIC)?
Also I think it'd be good to do the same test on both systems. If you can run this without any problems on both hosts using loopback then I'd look for problems somewhere around network connection.

[2020-10-09 07:47] yidong0635 commented on #1612
It seems there're two issues:
1. rpc can easily in a timeout state, there may be an issue in rpc running mechanism.
2. this time it triggers a heap-used-after-free issue.
     perform test `bdevio -w` :  set` g_wait_for_tests= true`. Due to the no response of rpc , connection was terminated. Timeout was not treated as a testing failure and then end response (`num_failures=0`) .

[2020-10-09 08:01] Comphix commented on #1612
Looks like when the bdev_bounds test completes, the killprocess send a signal to the App and trigger the default spdk_app_stop() operation in the default APP signal handling and the RPC server is freed. Then bdevio APP's own shutdown function called, where the g_wait_for_tests is set to TRUE and starts the RPC cleanup operation. At this moment, the RPC server structure is touched again which cause

[2020-10-09 08:14] changpe1 commented on #1605
@NiuYawei I think the issue is related with DPDK, did you send an email to DPDK community?

[2020-10-09 08:33] Comphix commented on #1612
Raised a patch here https://review.spdk.io/gerrit/c/spdk/spdk/+/4569 to check whether this issue is fixed or not.

[2020-10-09 09:50] rorschach01 commented on #1547
Thank you for your reply. Recently I found the reason for the error of using rpc to create blobfs. In module/blobfs/blobfs_bdev_rpc.c, SPDK_RPC_REGISTER() was used to register the related functions of blobfs, and the list was used in lib/rpc/rpc.c to store function pointers. But when the code is compiled, all the functions in blobfs_bdev_rpc.c are not registered successfully, and the rpc_get_metho

[2020-10-09 09:56] mikeBashStuff commented on #1612
@Comphix Appreciate your help! :) I am afraid running tests with this patch introduced another issue - the rpc timeout is gone (sanitizer doesn't complain either), however, now `wait()` doesn't return while waiting for `bdevio` blocking the test for indefinite amount of time. This can be also seen on the CI side for jobs which run under this patch.

[2020-10-09 10:32] wawryk opened #1613 "Build spdk using clang fails"
## Expected Behavior
Building SPDK should finish with success

## Current Behavior
It fails on:
[code]

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context (Environment including OS version, SPDK version, etc.)
env:
[code]
clang version:
[code]

SPDK commit: 6d87bc7a8a81add36396076b855f1341dd764b37

Test flag configuration:
[code]

[2020-10-09 12:59] wawryk commented on #1613
Configure:
[code]
Attached build log:
[code]

[2020-10-09 13:12] dong-liuliu commented on #1547
hi， @rorschach01
Thanks for your issue description and trials:)

the reason why no blobfs related RPC in your application is that libary doesn't been linked into external applications.
Just submit a [patch](https://review.spdk.io/gerrit/c/spdk/spdk/+/4577) to add the linking.
You can rebase it and have a try~

[2020-10-09 15:08] NiuYawei commented on #1605
Yes, I've already forwarded the mail in SPDK mail list to dev@dpdk.org, but no response yet. Is there any other channel to raise the issue for DPDK team? Thanks in advance.

[2020-10-10 00:34] changpe1 commented on #1605
That's the right channel to DPDK, you may send a fix patch to that maillist, someone will review the patch.

[2020-10-10 01:52] yidong0635 commented on #1610
test sleeps several seconds  hope to get for 3 successful  resets ,  but it only got two.
From the log
nvme_qpair_abort_queued_reqs still take a long time.
[code]

[2020-10-11 08:55] jgrodman commented on #1596
@AlekseyMarchuk I'm getting the following error when I run the script you pasted. Also, how do I remove it from `/sys/kernel/config/nvmet/subsystems/$NAME` after running the script? I assume I was supposed to replace `1.1.1.1` with my RDMA interface

[code]

Thanks,
Jesse

[2020-10-11 09:11] #1547 closed

[2020-10-12 02:42] spdkci commented on #1533
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_27744.html

[2020-10-12 03:31] spdkci commented on #1533
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_27748.html

[2020-10-12 04:14] spdkci commented on #1533
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_27754.html

[2020-10-12 04:14] spdkci commented on #1533
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_27749.html

[2020-10-12 05:06] spdkci commented on #1533
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_27761.html

[2020-10-12 08:15] liang2yan opened #1614 "[BlobFS-autotest] Build timed out (after 15 minutes). Marking the build as failed."
## Link to the failed CI build
https://ci.spdk.io/public_build/autotest-per-patch_27775.html

## Execution failed at
https://ci.spdk.io/results/autotest-per-patch/builds/27775/archive/BlobFS-autotest/build.log

[2020-10-12 08:17] spdkci commented on #1614
Another instance of this failure. Reported by @liang2yan. log: https://ci.spdk.io/public_build/autotest-per-patch_27775.html

[2020-10-12 08:28] tomzawadzki commented on #1612
The patch resolving this issue, along with edit to pass CI [see previous comment] is now merged https://review.spdk.io/gerrit/c/spdk/spdk/+/4569.

[2020-10-12 08:29] tomzawadzki commented on #314
Patch documenting running spdk as non-root is now merged.
https://review.spdk.io/gerrit/c/spdk/spdk/+/2850

[2020-10-12 08:29] #314 closed

[2020-10-12 08:40] spdkci commented on #1614
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_27781.html

[2020-10-12 09:09] mikeBashStuff commented on #1612
@tomzawadzki Issue is still seen on the latest master (including the mentioned fix). Failure occurs during the same test while executing `perform_tests()`. The sanitizer's trace differs though:
[code]

[2020-10-12 11:05] AlekseyMarchuk commented on #1596
Hi Jesse,

To remove kernel target just execute the step in reserse order. I forgot to mention that it is needed to install MOFED with `--with-nvmf` parameter to have a working kernel target.
Regarding the error that you met - it might be due to MOFED was installed without `--with-nvmf` parameter, in that case you can get a dummy nvme-related kernel modules. Please check the output of `modinfo nvm

[2020-10-12 12:28] karlatec commented on #1614
There was a slight misconfiguration in CI infrastructure which caused tests to fail on GP8 node. It's been fixed and problem should no longer appear.

[2020-10-12 12:47] Comphix commented on #1612
Looks like below bdevio_cleanup_targets() has caused the issue.

Let me have a change.

0x6030000026c0 is located 16 bytes inside of 32-byte region [0x6030000026b0,0x6030000026d0)
freed by thread T0 (reactor_0) here:
    #0 0x7f6d39ec5e77 in free (/usr/lib64/libasan.so.6+0xcae77)
    #1 0x564415444289 in bdevio_cleanup_targets /home/vagrant/spdk_repo/spdk/test/bdev/bdevio/bdevio.c:190
    #2 0x564

[2020-10-12 12:56] Comphix commented on #1612
Raised a new patch https://review.spdk.io/gerrit/c/spdk/spdk/+/4604 and will check the CI result first. Locally I've run the related bdev_bounds test several rounds which is ok.

[2020-10-12 14:19] spdkci commented on #1533
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_27823.html

[2020-10-12 18:06] karlatec commented on #1424
Made a "slight" change on CI configuration side. So far not a single Vagrant/NFS timeout for the whole day. Let's see for a bit longer if this keeps up.

[2020-10-12 20:03] ghost opened #1615 "nvme: ctrlr->ctrlr_lock not held around nvme_ctrlr_fail during hotplug"
nvme_ctrlr_fail() when called from probe context does not hold ctrlr->ctrlr_lock.
If an admin poller is running at the same time, both threads can try to modify the same lists in nvme_qpair_abort_reqs.

## Expected Behavior

Hold the ctrlr lock around nvme_ctrlr_fail().

## Current Behavior

Lock not held in hotplug code, can lead to potential corruption.

## Possible Solution
[code]

## Steps to

[2020-10-12 21:55] jimharris commented on #1556
Closing issue.  @nufosmatic feel free to reopen if you're able to provide more information.  Thanks.

[2020-10-12 21:55] #1556 closed

[2020-10-13 00:39] jimharris commented on #1605
Hi @NiuYawei - which application did you run to demonstrate this issue?

[2020-10-13 00:53] spdkci commented on #1533
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_27870.html

[2020-10-13 00:54] spdkci commented on #1533
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_27876.html

[2020-10-13 01:54] NiuYawei opened #1616 "SPDK hotplug example doesn't work with VFIO dirver"
SPDK hotplug example in spdk/example/nvme/hotplug works well with UIO driver, but it doesn't work with VFIO driver.

## Expected Behavior

Run SPDK hotplug example with UIO driver in following steps:
1. Unbind device by "spdk/scripts/setup.sh"
2. Run hotplug example "examples/nvme/hotplug/hotplug -n 1 -r 1 -t 100"
3. Emulate device remove by "echo 1 > /sys/bus/pci/devices/0000\:81\:00.0/remove"
4.

[2020-10-13 02:05] NiuYawei commented on #1605
I used latest DAOS, but I think the problem could be reproduced by the SPDK hotplug example if you change the code a bit to specify a whitelist option before calling spdk_env_init().

I'm wondering if this problem has been fixed in recent SPDK master by the commit 814072 (where devargs was reconstructed after rte_bus_scan() and before rte_bus_probe()), I'm going to test and verify this. (unfortuna

[2020-10-13 03:48] NiuYawei commented on #1605
Ok, I verified that commit 814072 didn't fix the issue.

I patched SPDK hotplug to reproduce the issue:

`diff --git a/examples/nvme/hotplug/hotplug.c b/examples/nvme/hotplug/hotplug.c
index ff821c7..4298b87 100644
--- a/examples/nvme/hotplug/hotplug.c
+++ b/examples/nvme/hotplug/hotplug.c
@@ -73,6 +73,7 @@ static int g_insert_times;
 static int g_removal_times;
 static int g_shm_id = -1;
 static

[2020-10-13 05:02] jiaqizho opened #1617 "[CI FAILED] virsh destroy failed"
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_27902.html

## Execution failed at

https://ci.spdk.io/results/autotest-per-patch/builds/27902/archive/iscsi-vg-autotest/build.log

and in this morning , almost patchs failed in this error. etc :

https://ci.spdk.io/public_build/autotest-per-patch_27908.html
https://ci.spdk.io/public_build/autotest-per-patch_27909.h

[2020-10-13 05:15] glodfish-zg commented on #1616
I will take a look and try to reproduce this issue. The device should trigger an interrupt when it is removed with VFIO driver.

[2020-10-13 07:41] spdkci commented on #1533
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_27928.html

[2020-10-13 07:50] yidong0635 commented on #1615
maybe we can change:
[code]
to
[code]
and then we can call this, maybe not right.

[2020-10-13 08:10] jgrodman commented on #1596
Hi @AlekseyMarchuk I checked the output and there's no word "dummy". I think for now we are going to put this issue on the back burner, since we have some idea that this whole timeout issue seems to be caused by certain HW / Mellanox configurations. @karlatec I don't know which of the two it was.

Thanks both for all your help...happy to close this ticket!

[2020-10-13 08:43] yidong0635 commented on #1533
some error reports  above are not a same issue :
[code]

[2020-10-13 08:48] yidong0635 opened #1618 "[ocf_fio_modes] dd operation not support"
# Issue
[code]
log: https://ci.spdk.io/public_build/autotest-per-patch_27928.html
log: https://ci.spdk.io/public_build/autotest-per-patch_27876.html

[2020-10-13 10:35] mikeBashStuff commented on #1612
Run the test again with https://review.spdk.io/gerrit/c/spdk/spdk/+/4604 on top and it still fails during `perform_tests`, however, sanitizer now detects mem leaks:
[code]
Not sure if this still relates directly to `bdevio` though.

[2020-10-13 10:46] tomzawadzki commented on #1618
This looks like a duplicate of https://github.com/spdk/spdk/issues/1456

[2020-10-13 10:49] tomzawadzki commented on #1533
@yidong0635 You are correct that some of the reports are mislabeled here.
This issue is only for ones that contain ASAN backtrace from original report. Which ends with:
[code]

Meanwhile the ones failing in clear_nvme() belong to https://github.com/spdk/spdk/issues/1456 .

[2020-10-13 10:51] spdkci commented on #1456
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_27953.html

[2020-10-13 11:32] spdkci commented on #1533
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_27940.html

[2020-10-13 11:34] spdkci commented on #1533
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_27950.html

[2020-10-13 11:34] spdkci commented on #1533
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_27959.html

[2020-10-13 11:50] spdkci commented on #1533
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_27963.html

[2020-10-13 13:41] spdkci commented on #1533
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_27971.html

[2020-10-13 14:03] rmvasuki commented on #1615
That's a good idea too. Here is the patch I added after discussion on slack: https://review.spdk.io/gerrit/c/spdk/spdk/+/4608

[2020-10-13 14:05] mikeBashStuff commented on #1612
@Comphix I hit this particular trace on clearlinux VM (`VERSION_ID=33590`)  by running `autorun.sh` with this config (the same way I triggered two previous instances of this issue):
[code]
I also cherry-picked your commit on top of `v20.07-rc1-566-gb866d5192` and run the test with it included.

[2020-10-13 16:19] smijolovic commented on #1608
Upgraded to nasm 2.15.05 and still see the same issue:

Message: drivers/mempool/ring: Defining dependency "mempool_ring"
Running compile:
Working directory:  /home/rpmbuild/nimbus8/spdk-build/spdk-20.07.x/tmp/tmp6nr8ynqi
Command line:  cc -L/home/rpmbuild/nimbus8/spdk-build/spdk-20.07.x/spdk/intel-ipsec-mb -L/home/rpmbuild/nimbus8/spdk-build/spdk-20.07.x/spdk/isa-l/.libs /home/rpmbuild/nimbus8/sp

[2020-10-13 20:29] jimharris commented on #1616
I'm concerned this could be an issue with older CentOS 7 kernel.  I ran this same test on 5.0 kernel and didn't see any issues.

@NiuYawei - would you be able to test on CentOS 8 and see if same problem exists?

[2020-10-14 01:48] jiaqizho commented on #1617
seem like work fine now , closed this issue.

[2020-10-14 01:48] #1617 closed

[2020-10-14 02:14] spdkci commented on #1533
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_28046.html

[2020-10-14 03:26] yidong0635 commented on #1618
@tomzawadzki  close this duplicated  one.
If any one has similar issue, please : `false positive: 1456`.

[2020-10-14 03:26] #1618 closed

[2020-10-14 04:54] yidong0635 commented on #1612
since our test environment was damaged, I will install a new one to check and verify Gang's idea.

[2020-10-14 05:39] AlekseyMarchuk opened #1619 "[nvme-phy-autotest] EAL: Not enough memory available! Requested: 2048MB, available: 1752MB"
TEST spdkcli_tcp

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_28051.html

## Execution failed at
[code]

[2020-10-14 05:41] spdkci commented on #1619
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_28061.html

[2020-10-14 05:41] spdkci commented on #1619
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_28051.html

[2020-10-14 05:51] changpe1 commented on #1600
@ryderhsu0129 I've update the README.md to add DPDK library to LD_LIBRARY_PATH, I can't see any issues from my tests now, let me know if you have further questions.

[2020-10-14 05:59] changpe1 commented on #1606
As Jim said, the log information doesn't affect anything, there are lots of such logs in CI system everyday. I can submit a patch to DPDK to eliminate such logs.

[2020-10-14 06:17] ryderhsu0129 commented on #1600
@changpe1

I want to confirm so it's normal that the libdpdk.so will not be created now?

[2020-10-14 06:27] spdkci commented on #1456
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_28017.html

[2020-10-14 06:29] changpe1 commented on #1600
Yeah, SPDK will not help to generate libdpdk.so for now.

[2020-10-14 06:33] ryderhsu0129 commented on #1600
@changpe1
Ok, thanks.

[2020-10-14 07:34] spdkci commented on #1456
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_28070.html

[2020-10-14 07:38] karlatec commented on #1614
Hasn't been reported in 2 days. Can I close it?

[2020-10-14 07:41] karlatec commented on #1619
Should be fixed already. With Shuhei we already retriggered most of the affected commits.
Just FYI: we're in the process of moving systems between server rooms. This issue that you encountered was related to a slight misconfiguration of a power switch, which was unable to reboot CI test systems properly. This resulted in leftover processes being present on CI systems after failed builds.

[2020-10-14 07:41] liang2yan commented on #1614
ok. let me close it.

[2020-10-14 07:41] #1614 closed

[2020-10-14 07:42] karlatec commented on #1424
No reports in 2 days. @mikeBashStuff looks like our "small" change helped out a lot

[2020-10-14 10:45] mikeBashStuff commented on #1608
@smijolovic Have you tried to nuke the repo, clone it fresh, update submodules, and then try to compile? Asking since I simply cannot reproduce it on my own setup (testing it against latest master and directly on top of `v20.07` ref).

[2020-10-14 13:09] tomzawadzki commented on #1603
@gwnet Please reopen this issue with more details if this still occurs for you.

[2020-10-14 13:09] #1603 closed

[2020-10-14 13:22] Comphix commented on #1612
@mikeBashStuff , could you help to get the latest change from below patch and have another try as @yidong0635 is helping to set the same clearlinux OS now? Many thanks for your time and help.

https://review.spdk.io/gerrit/c/spdk/spdk/+/4604

[2020-10-14 13:56] spdkci commented on #1495
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_28079.html

[2020-10-14 16:03] mikeBashStuff commented on #1424
@karlatec Cool! \o/ let's hope it won't break in the long run. :)

[2020-10-14 17:03] rmvasuki opened #1620 "[centos7-vg-autotest] ./copy_or_clone.sh: /usr/bin/env: bad interpreter: Text file busy"
Test: centos7-vg-autotest

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_28077.html

## Execution failed at
[code]

[2020-10-14 17:10] spdkci commented on #1620
Another instance of this failure. Reported by @rmvasuki. log: https://ci.spdk.io/public_build/autotest-per-patch_28077.html

[2020-10-14 23:44] mikeBashStuff commented on #1612
@Comphix Apologies for the late reply. With the 4th patchset from https://review.spdk.io/gerrit/c/spdk/spdk/+/4604 I am afraind I am getting the same results as in https://github.com/spdk/spdk/issues/1612#issuecomment-707650993.

[2020-10-15 02:05] changpe1 commented on #1613
I submitted a fix patch https://review.spdk.io/gerrit/c/spdk/spdk/+/4686

[2020-10-15 02:11] changpe1 commented on #1599
@jiaqizho could you take a look if it's reasonable to add the queue depth, if not you can close this issue. thanks.

[2020-10-15 02:13] NiuYawei commented on #1616
Sure, but we don't have CentOS 8 test node by hand, need some time to find an available node for re-provision. Will get back to you later.

[2020-10-15 02:53] changpe1 commented on #1423
Jim had one commit 792807a4 may fix the issue, @mhae do you still see the same issue with latest SPDK recently?

[2020-10-15 03:04] changpe1 commented on #1583
@tomzawadzki The dpdk patch is still outside out git repository, but the tests can pass now, what did you do for this issue?

[2020-10-15 04:11] changpe1 commented on #1574
[Bug Scrub] @jkalwas we are going to fix this issue, but not coming SPDK release.

[2020-10-15 04:15] changpe1 commented on #1569
[Bug Scrub] @AlekseyMarchuk what's the latest status for this issue?

[2020-10-15 04:17] changpe1 commented on #1598
[Bug Scrub] @wmalikow could you take a look ?

[2020-10-15 04:20] changpe1 commented on #1536
[Bug Scrub] @AlekseyMarchuk Could you take a look of this issue?

[2020-10-15 04:26] changpe1 commented on #1610
[Bug Scrub] let's keep it open for a while.

[2020-10-15 04:39] dong-liuliu commented on #1598
Located in module/bdev/nvme/bdev_ocssd.c.
I think john4477 is saying, inside bdev_ocssd.c, the read/write cmds to ocssd should use spdk_nvme_ocssd_ns_cmd_XXX series, not spdk_nvme_ns_cmd_XXX series.

[2020-10-15 06:19] aohzju opened #1621 "Creating I/O queue pair after controller reset failed"
The following sequence fails:
1. Allocate an I/O queue pair
2. Do controller reset via spdk_nvme_ctrlr_reset
3. Allocate an I/O queue pair

The 3rd step fails due to SPDK allocates qid from  1 again, but spdk_nvme_ctrlr_reset has reactivated the qid 1 created in step 1.

[2020-10-15 06:25] AlekseyMarchuk commented on #1536
@cyx-cathy could you try to set `spdk_nvme_ctrlr_opts::transport_ack_timeout` to some non-zero value? I would recommend to try different values to find one that meets your needs. This value can be set in `probe_cb` passed to `spdk_nvme_probe` function.
I did some rough measurements with this parameter, they are described in #1124

[2020-10-15 06:29] AlekseyMarchuk commented on #1569
@changpe1 sorry, had no time to work on it. I plan to fix it next week to have it in 20.10

[2020-10-15 06:52] changpe1 commented on #1621
Thanks for submitting, this is a bug in SPDK, I will provide a fix.

[2020-10-15 07:05] yaojingen opened #1622 "spdk bdev aio can not retry submit nomem_io, when disk is busy."
In spdk/module/bdev/aio/bdev_aio.c bdev_aio_group_poll func, if all of io callback(shared_resource->io_outstanding) and do bdev_ch_retry_io but still return -EAGAIN, the bdev_io will insert to shared_resource->nomem_io tailq again. But all of io(shared_resource->io_outstanding == 0) is done, so the bdev_io which is in shared_resource->nomem_io taiq will still in the queue. If application is not to

[2020-10-15 08:00] ksztyber commented on #1598
These vector commands are marked as optional by the OCSSD 2.0 spec and don't have to be supported by every OCSSD compliant device, while the regular NVMe read/write (0x01, 0x02) are, of course, mandatory. It's perfectly fine for bdev_ocssd to only rely on the regular commands.
However, as an improvement, it could be extended to use vector I/O, but would have to probe the device underneath for its

[2020-10-15 08:26] #1615 closed

[2020-10-15 08:38] yidong0635 opened #1623 "warning treats error on clearlinux with gcc version 10.1.1"
# Issue run test on clearlinux
[code]
commit:779a6bdf82e3746036503c715770799b038ebce7

[2020-10-15 08:42] yidong0635 opened #1624 "spdk_dd reports error"
# Issue
[code]

## Context (Environment including OS version, SPDK version, etc.)

commit: 779a6bdf82e3746036503c715770799b038ebce7
NAME="Clear Linux OS"
VERSION=1
ID=clear-linux-os
ID_LIKE=clear-linux-os
VERSION_ID=33420
PRETTY_NAME="Clear Linux OS"
ANSI_COLOR="1;35"
HOME_URL="https://clearlinux.org"
SUPPORT_URL="https://clearlinux.org"
BUG_REPORT_URL="mailto:dev@lists.clearlinux.org"
PRIVACY_POL

[2020-10-15 09:05] mikeBashStuff commented on #1624
@yidong0635 How big is the nvme drive you attached to the VM? It needs to be 2G at minimum (well a bit over 1G really, but >= 2G would be recommended for that test).

[2020-10-15 09:21] yidong0635 commented on #1612
I can't reproduce such error until now.
using commit:`779a6bdf82e3746036503c715770799b038ebce7` ,

and it blocked by #1624
[code]

[2020-10-15 09:31] yidong0635 commented on #1624
Oh , I used a default clearlinux VM to test this. Thanks for you suggestion.

[2020-10-15 10:25] changpe1 commented on #1621
I submitted a fix patch https://review.spdk.io/gerrit/c/spdk/spdk/+/4698, could you have a try ? thanks.

[2020-10-15 11:42] wawryk commented on #1613
Thank you @changpe1 for this patch, it fixed this error, but now, I have next errors:
[code]

[2020-10-15 12:13] ryderhsu0129 commented on #1600
@changpe1

May I ask how to successfully include all DPDK libraries?
The content of our original Makefile that incluing `libdpdk.so` is:
[code]
The libdpdk.so will not be generated now in lastest SPDK,
How do we include all DPDK libraries by modifying Makefile.
thanks.

[2020-10-15 12:35] changpe1 commented on #1600
Could you try the following libraries?

-lrte_eal -lrte_mempool -lrte_ring \
-lrte_mempool_ring -lrte_pci -lrte_bus_pci \
-lrte_kvargs -lrte_telemetry

[2020-10-15 13:03] ryderhsu0129 commented on #1600
@changpe1

It still looks like this error message:
`error: cannot find -ldpdk`

We modify the Makefile as follows:
[code]

ps. we put all libraries under folder `/build/lib/ /dpdk/build/lib` into our system folder /usr/local/lib

[2020-10-15 13:33] mhae commented on #1423
@changpe1, I'm stuck at 20.07 at the moment and only apply select fixes. I think the fix you mentioned is unrelated to what I was seeing. My local fix is fairly simple as shown. I only have to that check for trtype==PCIe. I can try to upstream it when I have a breather.

[2020-10-15 14:53] jimharris commented on #1598
Thanks @ksztyber.

Based on your input I'm going to mark this as an enhancement request.

[2020-10-15 14:54] mikeBashStuff commented on #1612
Just to note, I've tested it on `33420` release, and the issue is present there as well I am afraid.

[2020-10-15 14:56] jimharris commented on #1622
Hi @yaojingen,

Which version of SPDK are you testing with?

Thanks,

Jim

[2020-10-15 15:59] yaojingen commented on #1622
Hi，The version is v20.07！

[2020-10-15 16:04] mikeBashStuff opened #1625 "scanbuild_make fails on latest Clearlinux release"
[code]

Issue at hand:
[code]
Including `scan-build` bundle: [clear-linux-os-1-33830-scan-build.tar.gz](https://github.com/spdk/spdk/files/5386254/clear-linux-os-1-33830-scan-build.tar.gz)

Also to note, this must have been introduced after recent merges since couple of days back I tested entire autobuild suite on Clearlinux `33590` and the latest one and `scanbuild_make` was passing just fine.

[2020-10-15 16:09] sydneyvanda commented on #1616
@jimharris @NiuYawei I was just able to test on CentOS 8.2, and I was not able to reproduce the issue. Seems VFIO with hotplug example only has issues in CentOS 7 kernel like you mentioned

[2020-10-15 16:58] jimharris commented on #1622
Could you try your test on master?  There were some fixes that went if for this issue last month which are not in the SPDK 20.07 release.

[2020-10-15 18:15] jimharris commented on #1623
Yeah, this is a bug.  Could you try https://review.spdk.io/gerrit/c/spdk/spdk/+/4715 to see if it makes the error go away?

[2020-10-15 18:30] jimharris commented on #1613
Could you see if https://review.spdk.io/gerrit/c/spdk/spdk/+/4716 fixes this issue?

[2020-10-16 00:32] changpe1 commented on #1423
Yes, we had a discussion yesterday, this is an new issue, Jim will take a look first.

[2020-10-16 00:47] Comphix commented on #1612
@mikeBashStuff , thanks. So what's the Version ID of the clearlinux that you are using to hit the issue described here?

[2020-10-16 02:22] yaojingen commented on #1622
I have already check that the code logic of the master branch is consistent with that of this version 20.07. Please help to check again of this problem.

[2020-10-16 02:29] changpe1 commented on #1600
SPDK doesn't use -ldpdk anymore since 20.07, you may check your Makefile, you may refer to test/external_code/hello_world/Makefile as an example.

[2020-10-16 03:32] yidong0635 opened #1626 "nvme_reset autotest failed"
# Issue
[code]
[code]
commit 779a6bdf82e3746036503c715770799b038ebce7

[2020-10-16 04:16] yidong0635 commented on #1612
I can reproduce a similar issue sometimes. (memory leaks)
at `run_test "json_config" ./test/json_config/json_config.sh`
[issue.txt](https://github.com/spdk/spdk/files/5389134/issue.txt)

[2020-10-16 04:26] yidong0635 commented on #1624
Thanks @mikeBashStuff , close this one.

[2020-10-16 04:26] #1624 closed

[2020-10-16 05:10] aohzju commented on #1621
Confirm fixed. Thanks. When will be the next release?

[2020-10-16 05:38] changpe1 commented on #1621
Thanks, the next version will be 20.10 by end of this Oct.

[2020-10-16 05:40] spdkci commented on #1456
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_28130.html

[2020-10-16 06:22] yidong0635 commented on #1612
my issue is caused by:
[code]

[2020-10-16 06:38] yidong0635 commented on #1612
`waitforlisten`  cannot found sock, why don't exit and continue to run test? this due to some errors. @mikeBashStuff