[2022-11-08 07:50] spdkci commented on #2766
Another instance of this failure. Reported by @mgerdts. log: https://ci.spdk.io/public_build/autotest-per-patch_88938.html

[2022-11-08 07:51] spdkci commented on #2201
Another instance of this failure. Reported by @apaszkie. log: https://ci.spdk.io/public_build/autotest-per-patch_89009.html

[2022-11-08 08:21] spdkci commented on #2752
Another instance of this failure. Reported by @krzysztofsmolinski. log: https://ci.spdk.io/public_build/autotest-per-patch_88986.html

[2022-11-08 08:29] wanghailiangx commented on #2758
Thanks Jim's patch, it has been merged, I'm closing this issue now.

[2022-11-08 08:29] #2758 closed

[2022-11-08 08:59] spdkci commented on #2416
Another instance of this failure. Reported by @apaszkie. log: https://ci.spdk.io/public_build/autotest-per-patch_89060.html

[2022-11-08 09:48] mmkayPL commented on #2763
@mhae Thanks! I went ahead and cleaned up the changes a bit (just naming to make sure we're not calling tree nodes lists in the script) and posted the review here. I noticed you have additional Pollers and Poller objects, I think these can be added separately?
https://review.spdk.io/gerrit/c/spdk/spdk/+/15330

[2022-11-08 10:08] dong-liuliu commented on #2747
@Xinrui-Mao already looked into this issue, and found existing RPC command "trace_get_tpoint_group_mask" could list of the available trace point groups. But the "mask" in each group is its “tpoint_group_mask”, not “tpoint_mask”.
(These two names are somehow a bit confusing when taking a glance.)

[2022-11-08 14:13] mhae commented on #2763
@mmkayPL , thanks so much for the cleaning it up and posting it for review. Agreed, we don't need to add the additional poller objects.

[2022-11-08 15:01] jimharris commented on #2763
Yes - thanks @mmkayPL!  The patch looks good, I left a small comment on Gerrit.

[2022-11-08 15:06] Xinrui-Mao commented on #2747
Hi Jim @jimharris , just as Xiaodong said, the existing RPC command "trace_get_tpoint_group_mask" could list the available trace point groups, and the RPC command "trace_get_tpoint_group_mask" shows:
`{
  "tpoint_group_mask": "0x0",
  "iscsi_conn": {
    "enabled": false,
    "mask": "0x2"
  },
  "scsi": {
    "enabled": false,
    "mask": "0x4"
  },
  "bdev": {
    "enabled": false,
    "mask": "

[2022-11-08 15:10] gaowayne commented on #2741
@AlekseyMarchuk buddy, please go ahead close this issue. after I installed MOFED, both kernel NVMeOF and SPDK NVMeOF works fine now. I can see 11GB/s from host side. it works fine. thank you so much man.

[2022-11-08 15:23] #2741 closed

[2022-11-08 16:43] jimharris commented on #2747
Hi @Xinrui-Mao,

Thanks for looking into this further.  I think a new trace_get_info RPC would still be better.  The existing RPC was useful when trace point groups could only be enabled by bit mask.  Now we do everything by name, which makes it much easier on the user.   I think it is also better to put the shared memory filename into a new RPC, it doesn't really fit into that existing RPC.

-Jim

[2022-11-08 21:55] mikeBashStuff opened #2767 "[unittest_pci_event] valgrind-vg job hits timeout while executing pci_event_ut"
# CI Intermittent Failure

https://ci.spdk.io/results/autotest-per-patch/builds/89162/archive/valgrind-vg-autotest/build.log

[code]

[2022-11-08 22:17] spdkci commented on #2767
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_89163.html

[2022-11-08 22:17] spdkci commented on #2767
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_89162.html

[2022-11-08 23:30] jimharris commented on #2767
There seems to be something wrong with this valgrind job.  This whole series seems to have failed too from the same issue: https://review.spdk.io/gerrit/c/spdk/spdk/+/13813.

This seems to be failing not due to something with this unit test in particular, but because it's the first unit test that gets run in unittest.sh.

Is this valgrind job new, or has it been changed recently?

[2022-11-09 01:43] Comphix commented on #2765
Let me first update the status to Waiting on the Submitter. Please keep posted on the updates. Thanks.

[2022-11-09 08:38] changpe1 commented on #2752
00:10:16.648  #0  0x00005650110d47cf in vfio_user_wait_reqs (proxy=0x565013e6ef50) at ../hw/vfio/user.c:799
00:10:16.648          msg = 0x7f3d480315b0
00:10:16.648          iolock = true
00:10:16.648  #1  vfio_user_io_wait_commit (container=<optimized out>) at ../hw/vfio/user.c:1741
00:10:16.648  #2  0x00005650110bae22 in vfio_listener_commit (listener=0x565013b78130) at ../hw/vfio/common.c:899
00

[2022-11-09 11:08] dawin2015 opened #2768 "[bdev/ocf]After including ocf module, spdk_notify_send() will crash When deleting a block device immediately after it is created"
# Sighting report
After including ocf module, spdk_notify_send() will crash When deleting a block device immediately after it is created.

## Expected Behavior
Delete bdev successfully

## Current Behavior

[code]

## Possible Solution
[code]
As I know, when including ocf module, the ocf_if.vbdev_ocf_examine_disk will do a read op. Thus in a certain window period, delete-bdev will be done before t

[2022-11-09 13:51] pa5h1nh0 commented on #1187
Hi @peluse, sorry for interfering but do you happen to remember exactly in which 21.11.x DPDK version was this fixed?

[2022-11-09 14:01] peluse commented on #1187
@pa5h1nh0 sorry I do not :( Best clue would be whatever was latest/greatest on Mar 4

[2022-11-09 14:18] mhae commented on #2765
@Comphix , this is most likely hard to reproduce outside of a production environment. In yesterdays bug scrub meeting I mentioned that it would be great if someone could provide some additional pointers based on the stack trace.
Note that there's a stuck IO that is probably preventing the disconnect.

Also, it is unclear to me why we ping pong between _nvmf_tgt_disconnect_next_qpair  and spdk_nvmf

[2022-11-09 15:11] jchachux commented on #2467
Bug reproduced on Fedora 35 with kernel `5.18.13-100.fc35.x86_64` during test `nvmf_connect_disconnect`

test log:
[code]

dmesg log:
[code]

[2022-11-09 16:36] mgerdts commented on #2768
The suggestion that this looks like it may be a race with `bdev_examine()` makes me think my suggestion at https://review.spdk.io/gerrit/c/spdk/spdk/+/15322/comments/8db90a8d_b336bb88 may describe a solution to this problem.  With my suggestion, bdevs would not be freed during iteration.

If you can reproduce this with code that you can share with me, I'd be interested in taking a look more closel

[2022-11-09 19:18] jimharris opened #2769 "valgrind job fails liburing GitHub fetch during xnvmebuild"
Looks like maybe this was just some kind of intermittent GitHub service failure.

https://ci.spdk.io/public_build/autotest-per-patch_89219.html

[code]

[2022-11-09 19:20] spdkci commented on #2769
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_89219.html

[2022-11-09 19:46] jimharris commented on #2767
OK, let's keep this open for now.  I just filed https://github.com/spdk/spdk/issues/2769 against the valgrind job too - it seems unrelated but thought I'd mention it.

[2022-11-09 22:53] spdkci commented on #2416
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_89224.html

[2022-11-10 02:17] junwenx commented on #2729
Hi Jim @jimharris , Thanks a lot.
Can run fuzzers parallel now, I tried 3 or 4 fuzzer run at same time, it passed. but when lots of fuzzer run together, it fails.
log shows:
TELEMETRY: No legacy callbacks, legacy socket not created
[2022-11-10 10:14:28.007587] app.c: 586:spdk_app_start: *NOTICE*: Total cores available: 1
[2022-11-10 10:14:28.305160] reactor.c: 926:reactor_run: *NOTICE*: Reactor st

[2022-11-10 03:22] dawin2015 commented on #2768
Thanks for your concern. To make more clear, the more detailed call stack is as follows:
[code]
`bdev_exam()` is called, then it will traverse all registered module and do `module->examine_disk(bdev)`, then it will call ocf_if.vbdev_ocf_examine_disk. The whole process take times. While between `bdev_examine(bdev)` and `spdk_bdev_wait_for_examine()`, unregister will release the address of bdev_name

[2022-11-10 03:37] mgerdts commented on #2768
Thanks for the clarification @dawin2015.  It looks like you are hitting an issue like the one fixed by commit 6d4391b31c7643144271ac7bbc63285f738fe0a9.

To prevent a `struct spdk_bdev *` from being destroyed when something may try to dereference it sometime in the future, it is best to have an open descriptor.  The commit I mentioned changes:

[code]

To:

[code]

[2022-11-10 03:54] changpe1 commented on #2768
good analysis, I will take a look.

[2022-11-10 06:11] changpe1 commented on #2768
@dawin2015 this issue should be already fixed via commit https://github.com/spdk/spdk/commit/d0038b70df91e9b90aeca4355090761f09f6af0e, you may have a try with latest branch.

[2022-11-10 06:13] changpe1 commented on #2768
tagging @tomzawadzki not sure we should backport above commit to 22.01 LTS or not.

[2022-11-10 06:22] KanKuox123 commented on #2507
I found the pointer free in below function. Maybe we should add a judgment in function spdk_free().
lib/blob/blobstore.c:1614
    blob_persist_complete_cb(void *arg){
        ...
        spdk_free(ctx->pages);
        ...
    }
test/common/lib/test_env.c:248:
    spdk_free(void *buf){
        ...
        free(buf);
        ...
    }

[2022-11-10 06:23] KanKuox123 commented on #2507
I found the pointer free in below function. Maybe we should add a judgment in function spdk_free().

blob_persist_complete_cb(void *arg){
...
spdk_free(ctx->pages);
...
}
test/common/lib/test_env.c:248:
spdk_free(void *buf){
...
free(buf);
...
}

[2022-11-10 06:24] dawin2015 commented on #2768
Very thanks for @mgerdts @changpe1. I will try it later.

[2022-11-10 06:24] Comphix commented on #2507
Thanks Kankuo. Please go ahead to raise a patch and get more review on it.

[2022-11-10 08:06] wanghailiangx opened #2770 "Accel: run nvmf_tgt with --wait-for-rpc then RPC accel_get_opc_assignments casues core dumped"
# Sighting report
When I run nvmf_tgt with --wait-for-rpc, normal practice is: run RPC framework_start_init before RPC accel_get_opc_assignments.
Reports like this:
[code]
A wrong attempt: run RPC accel_get_opc_assignments without RPC framework_start_init. This cause core dumped.

## Expected Behavior
[code]

## Current Behavior
[code]
Target reports:
[code]

[code]

## Possible Solution
Register

[2022-11-10 08:09] wanghailiangx commented on #2770
A patch for review: https://review.spdk.io/gerrit/c/spdk/spdk/+/15377

[2022-11-10 09:04] ye1xchen opened #2771 "created raid5f size is not as expected"
# Sighting report

Create three 32MB malloc bdevs and add them all to raid5f, but raid5f shows only 64MB instead of 96MB.

## Expected Behavior

raid5f size is 96MB.

## Current Behavior

raid5f size is 64MB.

## Possible Solution

## Steps to Reproduce

./scripts/rpc.py bdev_malloc_create 32 512 -b Malloc0
./scripts/rpc.py bdev_malloc_create 32 512 -b Malloc1
./scripts/rpc.py bdev_malloc_create 3

[2022-11-10 09:05] spdkci commented on #1950
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_89260.html

[2022-11-10 10:18] kgodzwox opened #2772 "nvme-cli problem writing to /dev/nvme-fabrics with Mellanox CX-5"
# Sighting report
Similar to: https://github.com/spdk/spdk/issues/2741
During _nvmf-phy-autotest_ fail happened at:
[code]
Backtrace:
[code]
[code]
Test configuration:
[code]

I also checked this test on E810 NIC (in the same server) and it passed
Test configuration:
[code]

## Context (Environment including OS version, SPDK version, etc.)
Server: Coyote Pass
OS: Fedora35
Kernel: 5.18.13-100

Buil

[2022-11-10 10:24] spdkci commented on #2416
Another instance of this failure. Reported by @sberbz. log: https://ci.spdk.io/public_build/autotest-per-patch_89337.html

[2022-11-10 10:37] tomzawadzki commented on #2771
@ye1xchen This is expected behavior of RAID5, capacity of one disk is reserved for redundancy. The expected size you mention matches behavior of RAID0 for example, that does not have any redundancy.

[2022-11-10 12:38] spdkci commented on #2416
Another instance of this failure. Reported by @sberbz. log: Not Found

[2022-11-10 14:29] mmkayPL commented on #2771
To expand on this - bdev_get_bdevs returns the exposed number of blocks. With 3 disks in a RAID5(F), the total number of used up blocks is 96MiB, but the user can only write to 64MiBs, the last 32 being used for XOR.

[2022-11-10 15:06] jimharris commented on #2771
Closing this issue as expected behavior.

[2022-11-10 15:06] #2771 closed

[2022-11-11 07:12] poluo opened #2773 "SIGSEGV in spdk_mempool_count"
# Sighting report

I'm testing primary and secondray commucate through spkd_mempool. In my test case, secondary create mempool, and primary access mempool, but when primary call spdk_mempool_count, sometime it will casue SIGSEGV.
SPDK v22.05, DPDK 22.03.0
when I use spdk_mempool_create, cache_size is 0, primary and secondary in different core.

But when I use gdb to debug in primary:

[Switching t

[2022-11-11 07:19] Comphix commented on #2773
Please include detailed steps for this issue in the issue description. You may also refer the template to create a new issue. Thanks.

For the multi-process of using mempool, one process creates the mempool with the name, the other process looks up the mempool with the same name. Is this your usage of mempool?

[2022-11-11 07:30] poluo commented on #2773
yes.

[2022-11-11 07:52] KanKuox123 commented on #2507
Patch for review [https://review.spdk.io/gerrit/c/spdk/spdk/+/15417](url)

[2022-11-11 07:54] KanKuox123 commented on #2507
Patch for review https://review.spdk.io/gerrit/c/spdk/spdk/+/15417

[2022-11-11 09:14] poluo commented on #2773
this is my test case:
[mempool.c.zip](https://github.com/spdk/spdk/files/9988621/mempool.c.zip)
I just start a primary and secondary process to call demo_mempool_unit_tets

[2022-11-11 11:40] Comphix commented on #2773
Looks like the  mp->pool_data is NULL in this case although it is expecting to be Not NULL based on the Multi Process from my understanding. Maybe you could take more looks into the related rte_mempool_create() creation with proper flag in your usage.

rte_ring_count(mp->pool_data); <<<<<<

[code]

[2022-11-12 01:11] mikeBashStuff opened #2774 "[sw_hotplug] Application didn't terminate in time"
# CI Intermittent Failure

https://ci.spdk.io/results/autotest-per-patch/builds/89466/archive/nvme-phy-autotest/build.log

After the test finishes its hotplug operation via sysfs it waits extra `$hotplug_wait` before proceeding to check app's status. It assumes that if the app is still running, it terminates it and considers the operation as failure. This potentially may introduce some false posit

[2022-11-12 01:11] spdkci commented on #2774
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_89466.html

[2022-11-12 01:11] spdkci commented on #1950
Another instance of this failure. Reported by @mgerdts. log: https://ci.spdk.io/public_build/autotest-per-patch_89269.html

[2022-11-12 01:11] spdkci commented on #2201
Another instance of this failure. Reported by @mgerdts. log: https://ci.spdk.io/public_build/autotest-per-patch_89270.html

[2022-11-14 02:14] yewhen opened #2775 "SPDK vhost Segmentation fault"
I was trying to use "a hard disk partition on host" at vm by SPDK vhost application and io uring bdev. I tried to use IORING_SETUP_IOPOLL mode of uring bdev.

[code]

kernel version: 5.10.0
architecture: x86_64

The configuration was below:

qemu arguments in vm's xml file:

<qemu:commandline>
     <qemu:arg value='-object'/>
     <qemu:arg value='memory-backend-file,id=mem0,size=64G,mem-path=/dev

[2022-11-14 02:16] Comphix commented on #2775
Please provide the detailed information like SPDK version, calling stack of the core dump. Thanks.

[2022-11-14 02:30] yewhen commented on #2775
SPDK v22.05

[2022-11-14 02:30] yewhen commented on #2775
(gdb) thread apply all bt

Thread 5 (LWP 505657):
#0  0x00007f65642efebf in accept () from /lib64/libpthread.so.0
#1  0x0000000000687653 in socket_listener (socket=0xc8adc0 <v2_socket>) at ../lib/telemetry/telemetry.c:399
#2  0x00007f65642e5e82 in ?? () from /lib64/libpthread.so.0
#3  0x00007f6564217ce3 in clone () at ../sysdeps/unix/sysv/linux/x86_64/clone.S:95

Thread 4 (LWP 505654):
#0  event_q

[2022-11-14 02:31] yewhen commented on #2775
Core was generated by `./vhost -S /var/tmp/ -m 2000000000020000000'.
Program terminated with signal SIGSEGV, Segmentation fault.
#0  0x000000000051cfeb in io_uring_prep_rw (op=2, sqe=0x0, fd=389, addr=0x20100b0af450, len=1, offset=32967688192) at /usr/include/liburing.h:301
301             sqe->opcode = (__u8) op;
[Current thread is 1 (LWP 505656)]

[2022-11-14 02:31] yewhen commented on #2775
(gdb) bt
#0  0x000000000051cfeb in io_uring_prep_rw (op=2, sqe=0x0, fd=389, addr=0x20100b0af450, len=1,
    offset=32967688192) at /usr/include/liburing.h:301
#1  0x000000000051d0f1 in io_uring_prep_writev (sqe=0x0, fd=389, iovecs=0x20100b0af450, nr_vecs=1,
    offset=32967688192) at /usr/include/liburing.h:390
#2  0x000000000051d6a0 in bdev_uring_writev (uring=0x20a7890, ch=0x7f6554002420,
    ur

[2022-11-14 02:36] Comphix commented on #2775
Looks like the obtained sqe is NULL and then hit the NULL pointer access

sqe = io_uring_get_sqe(&group_ch->uring); <<<< this sqe is NULL

[code]

[code]

[2022-11-14 02:38] Comphix commented on #2775
Could you have a try with master SPDK branch?

From https://github.com/axboe/liburing/blob/master/src/include/liburing.h#L1258

[code]

Looks like needs to take special action when it is FULL and NULL could be returned.

[2022-11-14 02:54] changpe1 commented on #2775
indeed, because SPDK bdev layer will split one big IO into small ones, which will run out of uring entries, here it is doing IO split based on 64KiB.

[2022-11-14 02:56] yewhen commented on #2775
do u mean trying with "SPDK version" liburing?

[2022-11-14 02:58] Comphix commented on #2775
You may have a try with SPDK master branch as we will post a potential fix based on the SPDK master branch.

[2022-11-14 03:02] yewhen commented on #2775
ok, sounds great~ btw, how would u guys fix this problem?

[2022-11-14 03:04] Comphix commented on #2775
Yes.

[2022-11-14 03:06] yewhen commented on #2775
I mean, any ideas to fix this "FULL then NULL" problem?

[2022-11-14 03:19] changpe1 commented on #2775
`uring->bdev.max_segment_size` and `uring->bdev.max_num_segments` to appropriate values and return SPDK_BDEV_IO_STATUS_NOMEM when `io_uring_get_sqe` return NULL.

[2022-11-14 03:21] changpe1 commented on #2775
can you have a try with above suggestions, you may set max_segment_size to `SPDK_BDEV_LARGE_BUF_MAX_SIZE` and `max_num_segments` to BDEV_IO_NUM_CHILD_IOV.

[2022-11-14 03:27] yewhen commented on #2775
Am I supposed to set those two variables inside create_uring_bdev method?

[2022-11-14 04:02] Comphix commented on #2775
Raised a fix for the NULL sqe and return NOMEM status.

https://review.spdk.io/gerrit/c/spdk/spdk/+/15424

You may have a quick try.

[2022-11-14 06:35] yewhen commented on #2775
Thank you, sir! 非常感谢~~

[2022-11-14 06:45] yewhen commented on #2775
I get a question; what will happen to this IO request after raised a NOMEM status?

[2022-11-14 06:51] Comphix commented on #2775
The request will be queued in the no memory queue and retried later. Please also keep us updated when you verify this patch and if there is any further question, please let us know. Thanks.

[2022-11-14 06:52] yewhen commented on #2775
Sure, I am gonna verify it this afternoon and will keep u guys updated.

[2022-11-14 07:12] KanKuox123 opened #2776 "configure: --with/without-DEPENDENCY return unrecognized error"
# Sighting report
./configure --with-DEPENDENCY
./configure --without-DEPENDENCY
all return unrecognized error.

## Expected Behavior
return no error

## Current Behavior
return unrecognized error

## Possible Solution

## Steps to Reproduce

1. ./configure --with-DEPENDENCY
   ./configure --without-DEPENDENCY

## Context (Environment including OS version, SPDK version, etc.)

[2022-11-14 07:16] changpe1 commented on #2776
"DEPENDENCY" means the modules that supported in SPDK not the word itself.

[2022-11-14 07:16] #2776 closed

[2022-11-14 07:47] spdkci commented on #2651
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_89478.html

[2022-11-14 08:21] wanghailiangx commented on #2772
Have you tried the commands in issue2741 ib_send_bw? Is this error intermittent? Have you run this case test/nvmf/target/filesystem.sh alone --iso?

[2022-11-14 08:33] mikeBashStuff opened #2777 "qat_setup.sh didn't find target devices on GP14"
# CI Intermittent Failure

https://ci.spdk.io/results/autotest-per-patch/builds/89477/archive/crypto-autotest/build.log

[code]

Seems to be some sort of a hiccup since the target QAT devices are indeed installed on this system - confirmed that after reboot `qat_setup.sh` is working properly. Small issue was spotted though: https://review.spdk.io/gerrit/c/spdk/spdk/+/15427

[2022-11-14 08:33] spdkci commented on #2777
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_89477.html

[2022-11-14 08:49] spdkci commented on #2774
Another instance of this failure. Reported by @krzysztofsmolinski. log: https://ci.spdk.io/public_build/autotest-per-patch_89376.html

[2022-11-14 08:51] spdkci commented on #2774
Another instance of this failure. Reported by @krzysztofsmolinski. log: https://ci.spdk.io/public_build/autotest-per-patch_89351.html

[2022-11-14 09:52] kgodzwox commented on #2772
No, I will take a look at it now

It happens every time

[2022-11-14 10:15] yewhen commented on #2775
I do think the problem is fixed, would u like to close the issue and merge the mr https://review.spdk.io/gerrit/c/spdk/spdk/+/15424?

[2022-11-14 10:38] Comphix commented on #2775
Thanks for the confirmation. Once the patch is merged, I will close this issue.

[2022-11-14 11:48] yewhen commented on #2775
Sounds good.

[2022-11-14 11:57] krzysztofsmolinski opened #2778 "test/scheduler/interrupt.sh: not all cpus are idle for idle spdk"
# CI Intermittent Failure

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_89506.html
https://ci.spdk.io/results/autotest-per-patch/builds/89506/archive/nvme-phy-autotest/build.log

## Execution failed at

00:27:09.572
00:27:09.572  in /var/jenkins/workspace/nvme-phy-autotest/spdk/test/scheduler/interrupt.sh:41 -> interrupt([])
00:27:09.572       ...
00:27:09.572

[2022-11-14 11:58] spdkci commented on #2778
Another instance of this failure. Reported by @krzysztofsmolinski. log: https://ci.spdk.io/public_build/autotest-per-patch_89506.html

[2022-11-14 15:35] jimharris commented on #2778
This is a duplicate of #1950, which was recently fixed.  Please rebase patch set on latest master.  Thanks.

[2022-11-14 15:35] #2778 closed

[2022-11-14 23:17] spdkci commented on #2416
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_89450.html

[2022-11-15 00:47] mikeBashStuff opened #2779 "[idle] One of the threads not considered idle during first iteration"
# CI Intermittent Failure

https://ci.spdk.io/results/autotest-per-patch/builds/89470/archive/nvme-phy-autotest/build.log

Test expects that all SPDK threads, located on the main core, should have their idle counter < busy counter throughout the entire run (i.e. from the very beginning when the app is executed). This condition was not met for the `app_thread`. Maybe some back-off sleep is needed a

[2022-11-15 00:48] spdkci commented on #2779
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_89470.html

[2022-11-15 06:09] spdkci commented on #2752
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_89561.html

[2022-11-15 08:04] spdkci commented on #2416
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_89545.html

[2022-11-15 08:11] YuanlongJing opened #2780 "Problem with building SPDK（use a special version of DPDK）"
We wish to use a version of DPDK different from the submodule included in the SPDK repository.
But int the new DPDK version,  we have to build DPDK by using meson and ninja way.
It seems to miss some files in the new DPDK version.
So We couldn't build SPDK  by using the following cmd such as :

_./configure --with-dpdk=/path/to/dpdk/x86_64-native-linuxapp-gcc
make_

Please help to check.
Thank you

[2022-11-15 08:31] #2744 closed

[2022-11-15 11:01] melon-masou opened #2781 "iscsi target segfault when pdu using immediate_data_pool"
# Sighting report

## Current Behavior

iscsi_tgt segfault when testing some io pattern with fio.
Stack:
[code]

## Steps to Reproduce

iscsi_tgt_config
[code]

[code]

## Context (Environment including OS version, SPDK version, etc.)

SPDK version: master/v22.09
OS version: ubuntu 20.04.5

## Possible solution
Found two possible problem, but unsure:
1. pdu buffer is allocated from immediate_data_

[2022-11-15 11:43] KKaras169169 opened #2782 "[nvmf_perf_adq] exec of "/usr/sbin/tc" failed: No such file or directory on WFP9 node"
# CI Intermittent Failure

[nvmf_perf_adq] failed due to missing tc.

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/89607/archive/nvmf-tcp-phy-autotest/build.log

## Execution failed at

[code]

[2022-11-15 11:43] spdkci commented on #2782
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_89607.html

[2022-11-15 13:08] Comphix commented on #2775
Patch merged. Close this issue.

[2022-11-15 21:06] spdkci commented on #2752
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_89611.html

[2022-11-15 23:31] jimharris commented on #2781
Hi @melon-masou,

Thanks for the detailed report.  How quickly does the fio job hit the segfault?  And can you reproduce with a smaller subset of fio options, including a more narrow bsrange?

-Jim

[2022-11-16 02:19] melon-masou commented on #2781
For exactly same fio argument as above, it takes several seconds. Any change to the argument will make it unpredictable, several days or even not reproduce.

[2022-11-16 02:38] Comphix commented on #2780
Hi Tomek, will you take a look at this? The question here is to configure a user specified DPDK folder. Thanks.

[2022-11-16 02:41] changpe1 commented on #2780
@YuanlongJing please provide detailed information of SPDK and DPDK, include DPDK version and build flags etc.

[2022-11-16 05:22] shuhei-matsumoto commented on #2781
Hi @melon-masou

Thank you so much for finding and fixing the issue. You tested two fixes, save task->desired_length and iscsi_get_mobj_max_data_len(). Can you know if both are necessary or either one is necessary to fix the issue?

[2022-11-16 06:27] melon-masou commented on #2781
Only save task->desired_length: worked
Only add iscsi_get_mobj_max_data_len(): throw error logs "task's offset 2039808 or length 8260 is not block multiple" and IO blocked

Seems saving task->desired_length is enough, since the issue is caused by pdu->data_segment_len > pdu->data_buf_len.

[2022-11-16 07:10] changpe1 commented on #2781
can we just use `pdu->data_buf_len = pdu->data_segment_len;`? if so, I think the piece code of processing `if (mobj == NULL)` can be removed.

[2022-11-16 14:32] mikeBashStuff commented on #2782
This node was accidently connected to the production CI pool while still using testing fedora36 image. Moved it to the proper iPXE server, should be booted with f35 now.

But still, nice that this issue caught the fact that `tc` is indeed missing in our f36 images. ;)

[2022-11-16 14:32] #2782 closed

[2022-11-16 22:57] jimharris opened #2783 "[sma_nvmf_tcp] AttributeError: 'NoneType' object has no attribute 'message_types_by_name'"
[code]

[2022-11-16 22:58] spdkci commented on #2783
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_89666.html

[2022-11-17 10:07] #2763 closed

[2022-11-17 10:32] wanghailiangx commented on #2770
The above patch has been merged, now closing this issue.

[2022-11-17 10:32] #2770 closed

[2022-11-17 16:58] tmakatos opened #2784 "[nvmf/vfio-user] incorrect handling of I/O queue creation error"
In `handle_queue_connect_rsp`, if the operation failed (the `spdk_nvme_cpl_is_error(&req->req.rsp->nvme_cpl)`) is taken, for I/O queue creation errors we don't post a completion with an SC/SCT set accordingly; instead we silently fail. This is against the spec.

[2022-11-18 02:15] changpe1 commented on #2784
Yes, existing code is fine to process ADMIN QP connection, but not correct for CREATE IO SQ command, would you like to submit a fix patch?

[2022-11-18 05:18] Comphix commented on #2781
@melon-masou , will you consider to raise the patch of changes at https://review.spdk.io/gerrit/dashboard/self to start the code review? Thanks.

[2022-11-18 08:36] spdkci commented on #2201
Another instance of this failure. Reported by @krzysztofsmolinski. log: https://ci.spdk.io/public_build/autotest-per-patch_89884.html

[2022-11-18 12:28] kgodzwox commented on #2772
With this command I had to provide --transport parameter. With "tcp" test passed, with "rdma"  failed with the same information as in the description.

With "ib_send_bw" I had issues with environment configuration that I did not resolve yet.
I'll keep you up to date.

[2022-11-18 13:44] tmakatos opened #2785 "[nvmf/vfio-user] spurious attach message"
When shutting down the VM I noticed the following messages in the logs (printed 9 times).
[code]
I used interrupt mode and two reactors. IIUC this can only happen if `endpoint->ctrlr == NULL` is true. Can this be a race condition where `vfio_user_destroy_ctrlr()` is running on one reactor while `nvmf_vfio_user_accept()` runs on the other? If I force the `stop processing` message to always print th

[2022-11-21 01:18] yewhen commented on #2775
Could you please tell me which part of the source code does split big IO?

[2022-11-21 01:35] changpe1 commented on #2775
You can refer to the call trace in the above, it tells you the exact steps when doing IO split.

[2022-11-21 01:49] changpe1 commented on #2785
We will unregister the `accept_poller` after creating the controller, and relisten the accept poller after freeing the controller, so I don't see a race condition here.

[2022-11-21 03:40] yewhen commented on #2775
If I want to turn off IO split feature of bdev layer, what do I need to do besides setting bdev_io_should_split function to automatically return false?

[2022-11-21 04:05] changpe1 commented on #2775
you can set a big value to `max_segment_size` in vhost_blk.c to avoid splitting.

[2022-11-21 04:24] yewhen commented on #2775
After reading source code for a while, I still do not fully understand why SPDK needs to split IO in bdev layer, would u like to explain a bit for me? Right now I am using io_uring/aio bdev on top of hard disk; spliting IO downgrade the sequential read and write performance for HDD.

[2022-11-21 04:27] yewhen commented on #2775
I found several lines of comments at bdev_nvme.c, it states:
``	/* NVMe driver will split one request into multiple requests
	 * based on MDTS and stripe boundary, the bdev layer will use
	 * max_segment_size and max_num_segments to split one big IO
	 * into multiple requests, then small request can't run out
	 * of NVMe internal requests data structure.
	 */
``
Is it the reason to split IO?

[2022-11-21 05:03] spdkci commented on #1967
Another instance of this failure. Reported by @richael02. log: https://ci.spdk.io/public_build/autotest-per-patch_89997.html

[2022-11-21 05:57] changpe1 commented on #2775
After reviewing the code in SPDK, I feel like SPDK bdev layer should not do IO split based on 64KiB, reopen this issue for more investigation.

[2022-11-21 06:22] changpe1 commented on #2775
You can set `SPDK_BDEV_LARGE_BUF_MAX_SIZE` to a big value to avoid IO splitting in the bdev layer.  SPDK's logic is correct, for these block devices which require aligned data buffer, SPDK bdev layer may do copy based this requirement, so we need to split it first, because SPDK's internal data buffer is `SPDK_BDEV_LARGE_BUF_MAX_SIZE` aligned.

[2022-11-21 06:22] #2775 closed

[2022-11-21 07:02] yewhen commented on #2775
I tried to changed SPDK_BDEV_LARGE_BUF_MAX_SIZE to 2M, but when I launched vhost, it crashed.

./vhost -S /var/tmp/ -m 2000000000020000000
[2022-11-21 22:59:54.914107] Starting SPDK v22.05 git sha1 40441bf00 / DPDK 22.03.0 initialization...
[2022-11-21 22:59:54.914908] [ DPDK EAL parameters: [2022-11-21 22:59:54.914995] vhost [2022-11-21 22:59:54.915002] --no-shconf [2022-11-21 22:59:54.915007] -c

[2022-11-21 07:08] melon-masou commented on #2781
It's possible that pdu->data_segment_len < pdu->data_buf_len, when dif is enabled or merging multiple pdu into one buffer.

ok. I will raise the patch later today.

[2022-11-21 07:14] yewhen commented on #2775
So from my understanding, we should not set bdev_io_should_split function to automatically return false, because some block devices require aligned data buffer, right?

[2022-11-21 08:34] ksztyber commented on #2783
This looks like an issue with the versions of grpcio / protobuf. The grpcio autogenerated code doesn't work with the installed protobuf package.

But it only happened, because, for some reason, the test was run on Fedora 36:

which shouldn't be deployed on the CI yet. The test system must have been booted to f36 by mistake.

[2022-11-21 09:32] KKRainbow opened #2786 "NVMe over RDMA is malfunctioning or stuck at ibv_get_async_event after restart network.service"
# Sighting report

If making a Linux bonding device over two ports of a CX4/CX5 device, NVMe over RDMA will just stop working after modifying bonding slaves or restarting the network.service.

## Expected  Behavior

The NVMF subsystems should function normally after the network operations are completed.

## Current Behavior

I observed two possible results after the bonding slaves is modified.

1.

[2022-11-21 10:46] mikeBashStuff commented on #2783
Similar case to #2782. WFP9 is running now under fedora35.

[2022-11-21 11:54] spdkci commented on #2416
Another instance of this failure. Reported by @apaszkie. log: https://ci.spdk.io/public_build/autotest-per-patch_90347.html

[2022-11-21 15:16] spdkci commented on #2416
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_90162.html

[2022-11-21 18:44] shadiao233 opened #2787 "spdk_bdev fio cannot execute when spdk_tgt application is running due to maintain kernel device like /dev/spdk/nvme0"
# Sighting report
spdk_bdev fio cannot execute when spdk_tgt application is running due to maintain kernel device like /dev/spdk/nvme0

## Expected Behavior
spdk_bdev fio should progess normally

## Current Behavior
[code]

here is .conf:
[code]

here is .json:
[code]

why will spdk_bdev do bdev_nvme_attach_controller again while a bdev device /dev/spdk/nvme0 has already done this when generating

[2022-11-22 06:39] shadiao233 commented on #2787
oh is that mean i cannot use fio while cuse_device has been generated?
what about spdk_tgt? can both of them exist at same time?

[2022-11-22 06:44] Comphix commented on #2787
This SPDK generated kernel device is more for control patch purpose and not for the performance testing purpose as it will introduce overhead here.

For spdk_tgt, yes, it could co-exist and when spdk_tgt is using the bdev, for generated /dev/spdk/nvme0 and /dev/spdk/nvme0n1, you could use the nvme cli tool to collect information like smart-log, id-ctrlr such kinds of commands. Once the /dev/spdk/n

[2022-11-22 06:48] shadiao233 commented on #2787
ok i get it ,i'll try it later,thank you for explaination

[2022-11-22 09:08] karlatec commented on #2772
@wanghailiangx FYI - testing with ib_send_bw or similar RDMA/IB diagnostic tools on this system is not possible. This system is a single server without link to any remote, and ib_send_bw refuses to work in case link is down.

So the issue is a keep-alive timeout while creating nvme-of block device queues on connect.
Timeout:
[code]

Dmesg:
[code]

Workarounds:
* Either reduce the number of queues

[2022-11-22 10:21] spdkci commented on #2670
Another instance of this failure. Reported by @sberbz. log: https://ci.spdk.io/public_build/autotest-per-patch_90458.html

[2022-11-22 12:29] apaszkie opened #2788 "UUIDs generated for nvme bdevs do not conform to standards"
# Sighting report

When the `generate_uuids` option is enabled in `bdev_nvme_set_options`, the generated UUIDs are based on a non-standard algorithm. The UUID format is standardized:

https://datatracker.ietf.org/doc/html/rfc4122
https://pubs.opengroup.org/onlinepubs/9629399/apdxa.htm
https://en.wikipedia.org/wiki/Universally_unique_identifier

## Expected Behavior

The UUIDs should be generated a

[2022-11-22 13:50] karlatec commented on #2772
Proposed fix/workaround: https://review.spdk.io/gerrit/c/spdk/spdk/+/15571
With this patch whole `nvmf-phy-autotest` SPDK CI build passed on the system in question.

[2022-11-22 14:17] jimharris commented on #2772
Patch seems reasonable, but do we see this same problem if we try to connect to kernel nvmf target?  My main concern is that this papers over some kind of keep alive bug in our RDMA transport path.

[2022-11-22 16:15] AlekseyMarchuk commented on #2786
A link to patch from @KKRainbow https://review.spdk.io/gerrit/c/spdk/spdk/+/15541

[2022-11-22 16:34] AlekseyMarchuk commented on #2772
@karlatec @kgodzwox could you try to run `udaddy` on the problematic host? This tool needs IP address only, it can work event on port in down state.
Server: `udaddy -b 1.1.1.1 -c 64 -C 1000 -S 1024`
Client: `udaddy -s 1.1.1.1 -c 64 -C 1000 -S 1024`
I just wanted to confirm that this issue is the same as #2741

[2022-11-23 03:03] wanghailiangx commented on #2784
@tmakatos Do you have an update? If there is a patch, please post it.

[2022-11-23 04:46] changpe1 commented on #2788
@apaszkie I don't think this is a problem, actually it's SPDK's intention to do like this via commit b5bdbbb9598.

[2022-11-23 06:52] karlatec commented on #2772
Same thing for Kernel target:

[code]

Using reduced IO queue count or increased keepalive time solves the issue.

[2022-11-23 07:12] Comphix commented on #2787
@shadiao233 , if there is no other question, I will close this issue. Thanks.

[2022-11-23 07:48] spdkci commented on #2201
Another instance of this failure. Reported by @krzysztofsmolinski. log: https://ci.spdk.io/public_build/autotest-per-patch_90595.html

[2022-11-23 08:06] spdkci commented on #2416
Another instance of this failure. Reported by @krzysztofsmolinski. log: https://ci.spdk.io/public_build/autotest-per-patch_90603.html

[2022-11-23 08:09] apaszkie commented on #2788
I understand that the intention was to always generate the same UUID for a nvme bdev based on serial number and namespace ID. The same thing can be achieved using version-5 (also version-3) UUIDs. They are generated by hashing a string - the result is always the same as long as the string is the same.

[2022-11-23 08:20] changpe1 commented on #2788
@jimharris @tomzawadzki @KKaras169169 what's your opinion about this?

[2022-11-23 09:03] tmakatos commented on #2784
Not yet, I'm not planning on working on this for now.

[2022-11-23 09:42] vspvijay commented on #367
Experiencing this issue on Ubuntu 16.04 even after compiling the FIO 3.3.

[2022-11-23 10:51] mmkayPL opened #2789 "[nvmf_zcopy] Operation not permitted during spdk_nvme_qpair_process_completions"
# CI Intermittent Failure

The test timeouts due to not being able to process qpair completions (spamming the last log for 20+seconds), before that it also seems to have problems with namespaces, though I'm not sure if it's related:

[code]

## Link to the failed CI build
https://ci.spdk.io/public_build/autotest-per-patch_90684.html
https://ci.spdk.io/results/autotest-per-patch/builds/90684/archiv

[2022-11-23 10:51] spdkci commented on #2789
Another instance of this failure. Reported by @mmkayPL. log: https://ci.spdk.io/public_build/autotest-per-patch_90684.html

[2022-11-23 15:03] jimharris commented on #2788
Using the RFC 4122 described method would be better.

@apaszkie is there something functional that breaks with the current UUID format?

[2022-11-23 15:11] jimharris commented on #2772
Thanks @karlatec!  I vote for getting your workaround patch merged then - this doesn't point to an SPDK problem.

[2022-11-23 15:46] apaszkie commented on #2788
Nothing that I'm aware of. I just think that these UUIDs should follow the standard and be consistent with what spdk_uuid already uses.

[2022-11-23 15:53] KKaras169169 commented on #2201
All recent fails have been happening on WFP13 node. It looks like NVMe SSDPE2MD400G4 fails to detach properly and then it cannot be re-inserted. I'll look more into this soon.

[2022-11-24 06:38] Comphix opened #2790 "[nvmf-tcp-phy-autotest] tar: spdk/mk: Cannot mkdir: Permission denied"
# CI Intermittent Failure

00:00:21.441  Saving response body to /var/jenkins/workspace/nvmf-tcp-phy-autotest/spdk_50144d2a7b05ef549b1143c555627c9f7008ac24.tar.gz
00:00:37.193  [Pipeline] sh
00:00:37.502  + tar xf spdk_50144d2a7b05ef549b1143c555627c9f7008ac24.tar.gz
00:00:37.502  tar: spdk/mk: Cannot mkdir: Permission denied
00:00:37.502  tar: spdk/mk: Cannot mkdir: Permission denied
00:00:37.502

[2022-11-24 06:41] ye1xchen opened #2791 "raid5f: write the raid5f bdev fails with bdevperf on another server"
# Sighting report

Create the raid5f bdev, transport is tcp, but write the raid5f bdev fails with bdevperf on another server. If it's writing to a raid5f bdev on one server then it's fine.

## Expected Behavior

no *ERROR*: IO num_blocks does not match the write_unit_size

## Current Behavior

bdev_io_do_submit: *ERROR*: IO num_blocks does not match the write_unit_size

## Possible Solution

## St

[2022-11-24 07:30] spdkci commented on #2416
Another instance of this failure. Reported by @wanghailiangx. log: https://ci.spdk.io/public_build/autotest-per-patch_90789.html

[2022-11-24 08:23] Comphix commented on #2791
From above log:

[code]

RAID5F is created with 2KB (-z 2 //strip_size_kb), the IO from another host is 4K

[code]

However it is reported:

[code]

Looks like the RAID5F received actual IO is smaller than 2K?

[2022-11-24 08:24] Comphix commented on #2791
For debugging purpose, @wanghailiangx  raised below patch to add more output for the

[code]

https://review.spdk.io/gerrit/c/spdk/spdk/+/15618

[2022-11-24 08:28] Comphix commented on #2791
@ye1xchen , please also test again with above debugging patch to get the latest output of the error with more information (IO size and write_unit_size).

[2022-11-24 08:30] wanghailiangx commented on #2791
Follow @ye1xchen  steps,
`bdev.c:2194:bdev_io_do_submit: *ERROR*: IO num_blocks 4 does not match the write_unit_size 8`

[2022-11-24 08:34] Comphix commented on #2791
num blocks is 4 and write_unit_size is 8 (write_unit_size is also num blocks).

@ye1xchen , maybe you could have a quick try with bdevperf for the 8K IO size (double of current 4K IO size)?

Also, is -z 2 parameter for the strip_size_kb of 2048? What's the exact size of 8 blocks?

[2022-11-24 08:46] apaszkie commented on #2791
write_unit_size is the full stripe size: strip_size * (num_base_bdev - 1), so in this case 2KiB * 2 = 4KiB

I suspect that nvmf is issuing IO based on optimal_io_boundary (2KiB). That's OK for reads, but for writes it should look at write_unit_size.

[2022-11-24 09:27] ye1xchen commented on #2791
@Comphix
The following parameters and output，
[code]

[code]

[2022-11-24 09:53] apaszkie commented on #2791
@ye1xchen Can you please test with this patch? https://review.spdk.io/gerrit/c/spdk/spdk/+/15627

[2022-11-24 13:04] ksztyber commented on #2789
Those logs related to the namespace not being able to be added are expected - the test does it intentionally, because it's the easiest way to enforce subsystem pause/resume and we want to make sure requests using zero-copy are handled correctly in that case.

[code]
This seems to be the real problem here. Unfortunately, the logs don't say much, so it's hard to tell why this happened.

[2022-11-24 15:25] spdkci commented on #1950
Another instance of this failure. Reported by @sberbz. log: https://ci.spdk.io/public_build/autotest-per-patch_90857.html

[2022-11-24 15:44] spdkci commented on #2774
Another instance of this failure. Reported by @sberbz. log: https://ci.spdk.io/public_build/autotest-per-patch_90861.html

[2022-11-24 17:03] AlekseyMarchuk commented on #2772
That is the second issue on Fedora, I'll try to reproduce it on my setup

[2022-11-24 19:23] karlatec commented on #2772
@kgodzwox proposed fix has been merged. Can we close the issue?

[2022-11-25 02:09] ye1xchen commented on #2791
thanks @apaszkie  With the patch https://review.spdk.io/gerrit/c/spdk/spdk/+/15627，
When the IO size of bdevperf is greater than trip_size and is an integer multiple of strip_size, no error will be reported. The test results are as follows:
[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2022-11-25 09:11] Guncuke opened #2792 "hello_blob.c: 80:unload_complete: *ERROR*: Error -12 unloading the bobstore"
# Sighting report
When I run the process
sudo ./build/examples/hello_blob ./examples/blob/hello_world/hello_blob.json
all file are original and I nerver modify them
but the error apear when unload_complete
the version of spdk is v21.04-pre

[2022-11-25 09:05:44.104496] hello_blob.c: 181:read_blob: *NOTICE*: entry
[2022-11-25 09:05:44.104798] hello_blob.c: 154:read_complete: *NOTICE*: entry
[2022-1

[2022-11-25 09:21] Comphix commented on #2792
What's the details of the hello_blob.json file?

Also have you tried the latest SPDK v22.09 branch?

[2022-11-25 09:31] spdkci commented on #1950
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_90892.html

[2022-11-25 09:31] spdkci commented on #1950
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_90890.html

[2022-11-25 09:32] KKaras169169 commented on #1950
Both of these were reported on backports to v22.09.x.

[2022-11-25 09:38] Guncuke commented on #2792
"subsystems": [
    {
      "subsystem": "bdev",
      "config": [
        {
          "method": "bdev_malloc_create",
          "params": {
            "name": "Malloc0",
            "num_blocks": 32768,
            "block_size": 512
          }
        }
      ]
    }
  ]
}

I haven't tried it yet, I will try it later

[2022-11-25 10:21] spdkci commented on #2774
Another instance of this failure. Reported by @apaszkie. log: https://ci.spdk.io/public_build/autotest-per-patch_90935.html

[2022-11-25 11:06] Comphix commented on #2792
[2022-11-25 09:05:45.893023] hello_blob.c: 80:unload_complete: ERROR: Error -12 unloading the bobstore

#define ENOMEM      12  /* Out of memory */

Looks like out of memory error. Maybe you could create the Malloc Bdev with a smaller size (it's space is from configured hugepage), or configure the Hugepage with a bigger size?

[code]

[2022-11-25 11:19] spdkci commented on #2774
Another instance of this failure. Reported by @apaszkie. log: https://ci.spdk.io/public_build/autotest-per-patch_90949.html

[2022-11-25 12:08] KKaras169169 opened #2793 "spdk_top: top menu display and refresh issues"
# Sighting report

After launching spdk_top only the first button of the top tab menu can be seen:

![spdk_top_bad_menu](https://user-images.githubusercontent.com/49611974/203981216-9dcbfe21-8968-4e1e-b6c0-0f136f441cb3.png)

Another issue can be spotted after closing large pop-up windows (eg. when scheduler is set to dynamic and all threads are running on core 0 and user opens pop-up in CORES tab

[2022-11-25 12:11] KKaras169169 commented on #2793
Fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/15655

[2022-11-25 12:20] Guncuke commented on #2792
thx, I try v23.01-pre and the problem was solved。

[2022-11-25 12:20] #2792 closed

[2022-11-28 06:02] spdkci commented on #2789
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_90976.html

[2022-11-28 06:15] spdkci commented on #2790
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_90977.html

[2022-11-28 07:42] wanghailiangx opened #2794 "spdk_top: top and bottom menu display issue"
# Sighting report

In some server like fc29(kernel 5.3.11), fc34(5.11.12), fc30(5.4.7), fc29(5.5.1), there is some confusion about the background strip as below.
While in Ubuntu 20.04.2(5.4.0), fc34(5.16.18), fc32(5.11.22) that is OK.

<img width="917" alt="spdk_top2" src="https://user-images.githubusercontent.com/28918060/204210330-3bea417d-ac2c-4560-ac03-34dd2de36343.PNG">

## Expected Behavior

[2022-11-28 07:43] wanghailiangx commented on #2793
I didn't see the phenomenon you mentioned, could you try another machine with different kernel?

[2022-11-28 08:28] skypexu opened #2795 "how to get nvme controller flags from bdev"
# Sighting report

After a nvme device is opened by bdev layer, is there a way to get nvme controller information ?

## Expected Behavior

Expect to be able to get nvme controller informations

## Current Behavior
no way to get nvme controller

## Possible Solution
Don't know

## Context (Environment including OS version, SPDK version, etc.)
spdk version: v22.05.x
Distributor ID:	Debian
Descriptio

[2022-11-28 08:33] Comphix commented on #2795
Please refer https://spdk.io/doc/nvme.html, search "Enabling cuse support for NVMe" which is able to support the tool like nvme cli to query the NVMe controller information.

[2022-11-28 09:51] shadiao233 opened #2796 "how to config bit_bucket_data_len in .fio config file with offset?"
# Sighting report
how to config bit_bucket_data_len in .fio config file with offset?
![image](https://user-images.githubusercontent.com/51295923/204246537-29aac679-41ae-41e6-99f2-b754b902be2a.png)
![image](https://user-images.githubusercontent.com/51295923/204246650-405e4eda-1d8a-48a2-ac3f-4ece40158ed4.png)
could you please give an example?
thanks a lot!

## Context (Environment including OS versi

[2022-11-28 17:39] jimharris commented on #2794
Hi @wanghailiangx,

Can you confirm, this happens just with starting nvmf_tgt and then spdk_top - no RPCs, configuration, spdk_top actions, etc?

fc34 w/ 5.11.12 kernel works fine, but fc34 w/ 5.16.18 kernel does not?  Were there any other changes between the two - i.e. other package upgrades?  I guess it is possible that kernel version could affect this somehow, but I would think curses package c

[2022-11-28 17:41] jimharris commented on #2790
Assigning to @mikeBashStuff to take an initial look.

[2022-11-28 20:44] jimharris opened #2797 "[CI] Error while removing network vagrant-libvirt. Call to virNetworkDestroy failed:"
This wasn't specific to a test, it seemed to happen as CI was wrapping up its tests on one of the jobs.

[code]

[2022-11-28 20:45] spdkci commented on #2797
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_91046.html

[2022-11-28 20:46] mikeBashStuff commented on #2797
Duplicate of #2628

[2022-11-28 20:46] #2797 closed

[2022-11-28 20:57] jimharris commented on #2628
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_91046.html

[2022-11-29 01:56] wanghailiangx commented on #2794
@jimharris @KKaras169169 This happens just with starting nvmf_tgt and then spdk_top - no other operation. As for the comparison of other upgrade packages, I will look for them too.

[2022-11-29 01:59] changpe1 commented on #2796
@shadiao233  As an example, you can set the following 3 parameters for READ commands
`enable_sgl=1`
`sge_size=4096`
`bit_bucket_data_len=1024`

But make sure that your SSD drive can support this feature, currently we only add the READ support in the nvme driver.

[2022-11-29 01:59] #2796 closed

[2022-11-29 02:03] #2795 closed

[2022-11-29 02:04] shadiao233 commented on #2796
well how to set the offset of bit_bucket_data_len? or it maybe definited by user?

[2022-11-29 02:04] #2773 closed

[2022-11-29 02:14] changpe1 commented on #2796
You can overwrite the layout of each SGE(e.g include offset) in fio plugin source code by yourself.

[2022-11-29 02:21] shadiao233 commented on #2796
all right ,thanks for your explaination~

[2022-11-29 08:28] #2793 closed

[2022-11-29 08:37] wanghailiangx commented on #2780
@YuanlongJing You may cd spdk/dpdk, git branch -a to see all branch, and git check one old branch. Or git pull an old spdk, copy it's dpdk and dpdkbuild to your new spdk dir, rebuild. Here is spdk/dpdk repos.
https://review.spdk.io/gerrit/admin/repos/spdk/dpdk,general
But if you do this, you may encounter the similar following error.
`#error RTE_VERSION is too old! Minimum 19.11 is required.`

[2022-11-29 09:59] karlatec opened #2798 "[vfio_fuzz] thread nvmf_tgt_poll_group_0 got timeout, and move it to the exited state forcefully; causes long execution time"
# Sighting report

I've noticed that `short-fuzz-autotest` CI job has an issue which causes build execution time. It is intermittent, but reproducible most of the times.

## Expected Behavior

Looking at `spdk/test/fuzz/llvm.sh` - it should take no more than just a few minutes.

## Current Behavior

`llvm.sh` and it's short fuzzer tests can take up to ~20 minutes because of getting stuck at `hread

[2022-11-29 10:11] sberbz commented on #2798
This issue is caused by https://review.spdk.io/gerrit/c/spdk/spdk/+/15500 which call spdk_thread_exit(), reverting this commit allow application to terminate right away.

[2022-11-29 14:39] tomzawadzki commented on #2786
Just for future reference, the patch above has been split into separate series starting here https://review.spdk.io/gerrit/c/spdk/spdk/+/15614/3

[2022-11-29 14:49] karlatec opened #2800 "RDMA - performance degradation probably due to poll groups not being balanced optimally"
# Sighting report

During 22.09 we've found an issue with NVMe-oF RDMA performance results.
In some cases we saw significant performance drops which are most likely caused by cd1b7ab0e7709a117ed6d0a727695e0d2749eda6 (at least that's what our findings point to).

## Steps to Reproduce

Reproduction may be hard to achieve outside of our benchmarking environment. I'll focus on describing the test cas

[2022-11-29 14:50] karlatec commented on #2800
@jimharris @benlwalker FYI, this is what we talked about last time on the call

[2022-11-29 15:04] KKaras169169 commented on #2788
I will take a look and change the way we currently generate UUIDs to follow the standards.

[2022-11-29 15:08] KKaras169169 commented on #2516
The discussion about this topic is being continued in #2788 and since the original goal of implementing the persistent UUIDs mechanism has been achieved, I'm closing this issue.

[2022-11-29 15:08] #2516 closed, assigned to KKaras169169

[2022-11-29 15:41] karlatec commented on #2794
If this confirms and this is a ncurses version issue then I think we should close this issue as `won't fix`. Fedora 29 and Fedora 30 are EOL for quite some time now.

[2022-11-29 15:44] tomzawadzki commented on #2736
[Bug scrub] Instead of removing both "--with and --without", only the "--without" could be removed. Allowing for different isa-l builds.

[2022-11-29 16:00] #2769 closed

[2022-11-29 16:02] ksztyber commented on #2783
Since this has only happened once over a week ago and @mikeBashStuff is saying the system has been since rebooted to f35, I think we can close this.

[2022-11-29 16:10] mgerdts opened #2801 "gpt: off-by-one error in size"
# Sighting report

`vbdev_gpt_create_bdevs()` creates gpt bdevs that are one block smaller than the actual partition.

## Expected Behavior

The partition size and the gpt bdev size should match.

## Current Behavior

The gpt bdev is one block smaller than the partition.

## Possible Solution

Absent compatibility concerns, this is a simple one-liner.

[code]

I'm concerned that this could be toxi

[2022-11-29 17:13] spdkci commented on #2749
Another instance of this failure. Reported by @benlwalker. log: https://ci.spdk.io/public_build/autotest-per-patch_91074.html

[2022-11-29 17:21] #2781 closed

[2022-11-29 22:40] spdkci commented on #2790
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_91251.html

[2022-11-29 23:51] spdkci commented on #2789
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_91247.html

[2022-11-30 00:17] jimharris commented on #2800
Can you try the patch series ending with https://review.spdk.io/gerrit/c/spdk/spdk/+/15695?

[2022-11-30 03:43] yewhen opened #2802 "SPDK vhost aio_bdev error report"
# Sighting report
I was trying to use "a hard disk cached by NVME ssd on host" at vm by SPDK vhost application, nvme bdev and aio bdev.

## Expected Behavior
No error should be expected I guess.

## Current Behavior
host-side vhost log:
............
[2022-11-30 17:50:43.013568] vhost_blk.c: 607:virtio_blk_process_request: *WARNING*: Ignore the unmap flag for WRITE ZEROES from 1078181c000, len 2000

[2022-11-30 04:36] changpe1 commented on #2802
@yewhen could this happen with aio bdev only? I mean you can have a try with `core1` block device without OCF, we need to narrow down this a little bit.

[2022-11-30 06:26] wanghailiangx commented on #2801
If it's convenient, please push a patch, is that ok?

[2022-11-30 06:30] yewhen commented on #2802
no, it doesn't happen with aio bdev only.

[2022-11-30 06:31] wanghailiangx commented on #2780
@YuanlongJing Is your problem solved? If there is no doubt, we will close this question. If there is any later, you can reopen it.

[2022-11-30 06:34] yewhen commented on #2802
Furthermore, when the Nvme ssd size is 60G for cache, I can get this error everytime, but I never encountered this error when I use 200G Nvme ssd. (The mysql data directory is 104G in total)

[2022-11-30 07:26] ye1xchen opened #2803 "[xnvme] bdev_xnvme_delete error report"
# Sighting report

Create the xnvme bdev, but report an error when deleting xnvme bdev.

## Expected Behavior

No error  report when deleting xnvme bdev.

## Current Behavior

thread.c:2077:spdk_io_device_unregister: *ERROR*: io_device 0x1542850 not found

## Possible Solution

## Steps to Reproduce

./build/bin/nvmf_tgt

[code]

[code]

## Context (Environment including OS version, SPDK version,

[2022-11-30 08:21] ldorau opened #2804 "SPDK 22.01.1 LTS does not build on Arch Linux with glibc-2.36-6."
# SPDK 22.01.1 LTS does not build on Arch Linux with glibc-2.36-6.

## Current Behavior

SPDK 22.01.1 LTS used in DAOS v2.2.0 does not build on Arch Linux with glibc-2.36-6:

[code]

`extern __uint32_t arc4random (void)` was added in glibc v2.36: [sourceware.org Git - glibc.git/commit](https://sourceware.org/git/?p=glibc.git;a=commit;h=6f4e0fcfa2d2b0915816a3a3a1d48b4763a7dee2)

## Context

OS: lat

[2022-11-30 08:50] #2791 closed

[2022-11-30 08:59] #2780 closed

[2022-11-30 09:32] karlatec commented on #2800
Re-tested with linked patch and with master branch for comparison with 8 CPU Cores Target case:

Master:
[code]

Using the fix:
[code]

Seems this solves the issue :)

[2022-11-30 13:09] yewhen commented on #2802
any idea?

[2022-11-30 14:42] jimharris commented on #2803
@krish-reddy, can you take a look?

[2022-11-30 14:47] jimharris commented on #2801
It's a bit more complicated than that.  We need to have a strategy for how to properly communicate the possibility of steps 6 and 7 in Mike's list above.

I'm taking ownership of this one for now.

[2022-11-30 15:27] jimharris commented on #2800
Thanks @karlatec for the quick confirmation!  @AlekseyMarchuk has already reviewed the patches, let's wait for review from @benlwalker before we merge.  And then @tomzawadzki can we backport these patches to v22.09.x branch?

[2022-11-30 16:09] spdkci commented on #2416
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_91297.html

[2022-11-30 16:53] jimharris commented on #2730
Patch was merged.

[2022-11-30 16:53] #2730 closed

[2022-11-30 16:54] jimharris commented on #2723
@karlatec, can we close this issue?

[2022-11-30 17:06] jimharris commented on #2722
Please provide logs of the error that was reported.

[2022-11-30 17:07] jimharris commented on #2709
Hi @krish-reddy - is there any update on this documentation?

[2022-11-30 17:09] jimharris commented on #2682
Closing this issue.  @Zhanghongtao2417, please reopen if you still see this problem with newer SPDK.

[2022-11-30 17:09] #2682 closed

[2022-11-30 17:10] #2677 closed