[2022-05-17 20:35] jlevon commented on #2186
@tomzawadzki we still need a working reset, we haven't had time to revisit

[2022-05-17 20:37] jlevon commented on #2459
@tomzawadzki I have a gerrit out already, https://review.spdk.io/gerrit/c/spdk/spdk/+/12639

[2022-05-17 21:11] karlatec commented on #2392
@jimharris  With this change I was able to run the test with high number of VMs without any of them freezing 10 times so far.

[2022-05-17 21:15] jimharris commented on #2392
Fantastic!  Tagging @jlevon and @tmakatos.

[2022-05-17 21:47] spdkci commented on #2424
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_77410.html

[2022-05-17 21:48] spdkci commented on #2201
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_77413.html

[2022-05-17 22:11] peluse commented on #2424
@karlatec can you please provide steps to repro.  Looking at all the logs I'm not sure what's even running when this happens, looks like the end of the setup test then an target is fired up from somewhere

[2022-05-17 22:27] jlevon commented on #2392
there should never be more than one client connecting to the listening socket AFAIK, so it's not clear what role backlog could play here.

[2022-05-17 22:32] jimharris commented on #2392
@karlatec could you post your JSON-RPC config steps here?

[2022-05-17 23:13] jlevon commented on #2392
@tmakatos is that the qemu branch they should be using?

[2022-05-18 00:35] changpe1 commented on #2514
@YamboZhou I didn't see similar issue in my platform with P5800X, FW version: L0310100, and I also enabled the extended LBA format, it's good for us to know this issue will happen with SPDK tools(perf, fio_plugin).

For IOVA=PA or IOVA=VA, which one do you use? I see `fault addr 0`, obviously it's invalid address.

[2022-05-18 02:22] shuhei-matsumoto commented on #2484
Hi @Comphix Please check my new comment on gerrit. I think adding a new status UNREGISTERING between READY and REMOVING may fix the error you saw very simply. Thanks for your patience and hard work.

[2022-05-18 03:16] YamboZhou commented on #2514
@changpe1 We use FW L0310101 and the following disk format:

[code]

We can reproduce this issue just by *hello_world* example.  I remember FW L0310100 does not support extended LBA? Hence,  we upgrade FW to L0310101 from Intel provided FW patch.

[2022-05-18 03:26] changpe1 commented on #2514
ah~, I don't think you can use hello_world for the VSS tests, it only allocates fixed 4KiB  as R/W buffer, SPDK perf tool can work with VSS feature.

[2022-05-18 03:53] yidong0635 commented on #2455
@tomzawadzki  Thanks, let me try it.

[2022-05-18 04:52] spdkci commented on #2453
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_77424.html

[2022-05-18 04:53] spdkci commented on #2453
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_77426.html

[2022-05-18 05:11] changpe1 commented on #2075
@jimharris Anatoly said it is difficult to fix this issue in DPDK, above commit in DPDK doesn't help for our cases(hotplug),  I submit a patch to use INFO log here https://review.spdk.io/gerrit/c/spdk/dpdk/+/12706.

[2022-05-18 05:14] karlatec commented on #2392
@jlevon I'm retesting with oracle/qemu fork `vfio-user-dbfix` branch, as `v0.93` was deleted unexpectedly. This and previously used branch were both suggested by @tmakatos and @changpe1.

[2022-05-18 05:39] karlatec commented on #2392
The steps are roughly this.
I'll allow myself to use bash-like pseudocode.

[code]

After that - start VMs.
Each VM connects to it's own socket with
[code]

[2022-05-18 05:47] karlatec commented on #2424
If you have a QAT card in your system the easiest thing to do is:
* Create `~/autorun.conf` file with:
[code]
* build SPDK (you can use `--with-shared` too like in the CI)
[code]
* run the tests
[code]

[2022-05-18 05:55] yidong0635 commented on #2455
yeah:
=================================================================
==3365473==ERROR: AddressSanitizer: heap-use-after-free on address 0x7efb3e400000 at pc 0x00000049e220 bp 0x7ffc9de2da30 sp 0x7ffc9de2da20
READ of size 4 at 0x7efb3e400000 thread T0
    #0 0x49e21f in alloc_seg (/home/yidong/test/spdk/test/env/rte_functions/rte_functions+0x49e21f)
    #1 0x49f6bc in alloc_seg_walk (/home/yidon

[2022-05-18 05:59] karlatec commented on #2424
@tomzawadzki I was unable to reproduce it in the VM.

First of all - the reproduction steps I provided to Paul won't work in a VM. I cannot run `autotest.sh` in the VM with SPDK_TEST_CRYPTO and SPDK_TEST_REDUCE flags as this results in script failure due to `qat_setup.sh` complaining about no QAT devices present.

The segfault reported in the issue happens when we start `spdk_tgt` app for the firs

[2022-05-18 06:08] YamboZhou commented on #2514
Thanks @YamboZ

[2022-05-18 06:29] spdkci commented on #2372
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_77429.html

[2022-05-18 06:31] spdkci commented on #2453
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_77431.html

[2022-05-18 06:53] yidong0635 commented on #2455
@jimharris  @tomzawadzki  located this issue at this line:
` *(volatile int *)addr = *(volatile int *)addr; `
in dpdk/lib/eal/linux/eal_memalloc.c :  alloc_seg

[2022-05-18 07:30] #2459 closed

[2022-05-18 07:32] zengjun2022 commented on #2392
Hi @all, I have reproduced a similar phenomenon in my environment. And changing the listen parameter from 0 to 128 in "lib/tran_sock.c" seemes not work in my scenario. It feels like the problem of  "vfio_wait_reqs - timed out" is something wrong on the qemu side.

1. I use a qemu version as what showed below, which got from the "https://github.com/oracle/qemu"
    QEMU emulator version 6.2.50

[2022-05-18 08:41] changpe1 commented on #2392
Most of us already switched to `vfio-user-dbfix`, issue still can be reproduced with this branch.

[2022-05-18 08:46] zengjun2022 commented on #2392
[root@waikikibeach73 qemu-or]# git branch -r
  origin/HEAD -> origin/vfio-user-v4client-v5server[root@waikikibeach73 qemu-or]# git log
commit d7b3a6f3cf8d7ae54dac70a2d459a97323d16a30 (HEAD -> vfio-user-v4client-v5server, origin/vfio-user-v4client-v5server, origin/HEAD)
Author: Jagannathan Raman <jag.raman@oracle.com>
Date:   Fri Jan 21 22:21:06 2022 -0500

    qemu: fix README for Oracle QEMU

[2022-05-18 08:49] zengjun2022 commented on #2392
@jlevon , for branch ant commits of this qemu version, please see following:
[root@waikikibeach73 qemu-or]# git branch -r
origin/HEAD -> origin/vfio-user-v4client-v5server[root@waikikibeach73 qemu-or]# git log
commit d7b3a6f3cf8d7ae54dac70a2d459a97323d16a30 (HEAD -> vfio-user-v4client-v5server, origin/vfio-user-v4client-v5server, origin/HEAD)
Author: Jagannathan Raman [jag.raman@oracle.com](mailto

[2022-05-18 09:06] spdkci commented on #2424
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_77399.html

[2022-05-18 09:08] spdkci commented on #2518
Another instance of this failure. Reported by @wanghailiangx. log: https://ci.spdk.io/public_build/autotest-per-patch_77472.html

[2022-05-18 09:20] YamboZhou commented on #2514
hi

[2022-05-18 09:42] YamboZhou commented on #2514
Hi @jimharris @changpe1 ,

Thanks a lot for your help. I find this issue is in bdev layer as follows.

When we register NVMe bdev, it will read blob when it starts. Since these I/Os (bdev_block_read) do not indicate metadata buffer, they lead to DMA faults if we enable VSS in Optane. I'm not sure whether host software must give a metadata buffer if VSS is enabled and we don't use this capability i

[2022-05-18 09:55] changpe1 commented on #2514
@YamboZhou I don't think SPDK blobstore can support VSS drive.

[2022-05-18 10:08] YamboZhou commented on #2514
@changpe1 We do not use blobstore in our service, but SPDK issues this I/O by default when it starts.

[2022-05-18 10:38] Comphix commented on #2514
Looks like LVOL is examining the related bdev here at the start process.

[2022-05-18 11:31] spdkci commented on #2453
Another instance of this failure. Reported by @wanghailiangx. log: https://ci.spdk.io/public_build/autotest-per-patch_77482.html

[2022-05-18 11:49] rafalste commented on #2501
Due to large amount of other tasks at the moment I need to postpone this a bit more. I'll post an update as soon as I have some time to test this.

[2022-05-18 12:49] AlekseyMarchuk commented on #2515
The patch is merged

[2022-05-18 12:49] #2515 closed

[2022-05-18 12:51] KKaras169169 commented on #2453
I have been unable to reproduce it locally over multiple runs.
What I used:
-QEMU 6.1.1,
-Fedora34 image from CI,
-two emulated nvme devices, one defined as zns,
-SPDK master branch (last tests were run on the latest version of the branch).

On CI all machines (WFP1, PE3, SM0, SM4) from above reports run Ubuntu with QEMU 4.2.1, which is a bit old. @karlatec was the QEMU compiled from source there?

[2022-05-18 13:21] spdkci commented on #2453
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_77513.html

[2022-05-18 14:09] tomzawadzki commented on #2516
Bug scrub: Users of the bdev API expect the UUID to always be the same for the exact same bdev, which cannot be true for persistent bdevs that do not generate one. Generation of the UUID on bdev layer is part of the problem, since the expectations are then the same for persistent and non-persistent bdevs. The solution proposed during the bug scrub is to:
1) Remove the generation of UUID for bdevs

[2022-05-18 14:12] ksztyber opened #2520 "build failed due to out-of-memory"
The build failed, because the system was out of memory and the OOM killer killed one of the `nasm` processes:
[code]
and then in dmesg:
[code]

## Link to the failed CI build
https://ci.spdk.io/public_build/autotest-per-patch_77522.html
https://ci.spdk.io/public_build/autotest-per-patch_77523.html

[2022-05-18 18:10] spdkci commented on #1950
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_77537.html

[2022-05-19 01:36] zengjun2022 commented on #2392
@jlevon ， yes, it works in my environment.  I switched to vfio-user-dbfix branch and changed value of time_wait variable in "./hw/vfio/user.c" from 1s to 5s. Then I could start 21 VMs at one time without the "sleep 3" mentioned above.  And If I put back the original value , it failed again.  One thing to be noticed is that req timeout still exist  when changing this value to 3s.
Change just like t

[2022-05-19 02:36] yidong0635 commented on #2455
According above comment, this workaround causes heap-used-after free and remove it is ok.
And the experience is 0x400000 (aka 8M) size  starts to hit the ASAN.
if you free rte_free(buf)  that can't avoid this ASAN.

[2022-05-19 03:43] spdkci commented on #2509
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_77560.html

[2022-05-19 03:43] spdkci commented on #2509
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_77561.html

[2022-05-19 04:03] gaowayne commented on #2486
@Comphix  @peluse here is my log with my device. I will debug more these two days. if bdevperf verify has no bug, it should be DSA issue. :(
[code]

[2022-05-19 08:03] KKaras169169 commented on #2201
Reports from last month indicate that the problem lies in the zns-vg-autotest job. All of the machines running it use Ubuntu with QEMU 4.2.1 version.

[2022-05-19 08:16] mikeBashStuff commented on #2201
Unless something recently changed on the CI this is not exactly correct - all VM hosts should be using upstream 6.0.0 QEMU for running the VMs (this can be also seen in the build.log).

[2022-05-19 08:16] ksztyber commented on #2487
Patch was merged, @tmakatos could you verify it works for you?

[2022-05-19 09:14] KKaras169169 commented on #2201
Do you know whether this was compiled from source or not?

[2022-05-19 10:54] gaowayne commented on #2486
I reviewed bdevperf code, and also confirm P5800 verify works well. I do implement read on DSA well. let me confirm this by debug more.

[2022-05-19 10:55] gaowayne commented on #2486
@peluse actually my bdevperf perf is good but accel_perf perf is bad. now I have data consistent issue.

[2022-05-19 12:16] kgodzwox commented on #2518
Found faulty commit in DPDK repository: `c5736998305def298e26f8fa73b9995f184fc983` that causes `vm_wait_for_boot` timeout.
[code]

[2022-05-19 12:31] spdkci commented on #2424
Another instance of this failure. Reported by @wanghailiangx. log: https://ci.spdk.io/public_build/autotest-per-patch_77605.html

[2022-05-19 12:36] spdkci commented on #2453
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_77521.html

[2022-05-19 13:15] mikeBashStuff commented on #2201
@KKaras169169

 Each VM host should be provisioned with qemu from https://github.com/spdk/spdk/blob/master/test/common/config/pkgdep/git, so yes, it's built from source, from the v6.0.0 branch|tag.

[2022-05-19 13:25] peluse commented on #2486
@gaowayne if PMEM is involved in these transfers I'd say no conclusions can be drawn from your results until we get the VFIO issue cleared up or until you try running with DSA using the kernel idxd driver instead of VFIO

[2022-05-19 13:39] #2487 closed

[2022-05-19 13:53] peluse commented on #2486
@gaowayne  FYI the docs are missing an important step, see https://review.spdk.io/gerrit/c/spdk/spdk/+/12702

[2022-05-19 15:22] peluse opened #2521 "[vhost-boot] Device reports MEDIUM NOT PRESENT"
00:12:27.137  pci dev 00:04.0 virtio cap at 0x40 type 1 bar 4 at 0xfe000000 off +0x0000 [mmio]
00:12:27.137  pci dev 00:04.0 using modern (1.0) virtio mode
00:12:27.137  DVD/CD [ata1-0: QEMU DVD-ROM ATAPI-4 DVD/CD]
00:12:27.137  Searching bootorder for: /pci@i0cf8/*@1,1/drive@1/disk@0
00:12:27.137  Searching bios-geometry for: /pci@i0cf8/*@1,1/drive@1/disk@0
00:12:27.137  Device reports MEDIUM NOT

[2022-05-19 15:23] spdkci commented on #2521
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_77547.html

[2022-05-19 16:00] spdkci commented on #2424
Another instance of this failure. Reported by @MengjinWu. log: https://ci.spdk.io/public_build/autotest-per-patch_77607.html

[2022-05-19 18:42] spdkci commented on #2509
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_77618.html

[2022-05-19 18:43] peluse commented on #2424
@karlatec OK finally got a machine up w/QAT running Fed35, just started your test script above.  Stay tuned....

[2022-05-19 19:11] peluse commented on #2504
@yumingqiao friendly reminder, see previous note....

[2022-05-19 19:13] yumingqiao commented on #2504
@peluse Thanks for the reminder, i am focussing on another area currently, will get back to this after that.

[2022-05-19 20:50] jimharris commented on #2455
We cannot comment this line out, for the reasons described in the comment.

Are you hitting the ASAN failure when building against SPDK's DPDK submodule?  Or standalone DPDK?  I was not able to reproduce this issue when testing my reduced test case against standalone DPDK w/ ASAN enabled.

[2022-05-19 23:41] jimharris commented on #2514
I agree @changpe1.  I think we need to check this in lvol bdev module - if the bdev has VSS, we should not try to examine it.

Thanks @YamboZhou for the details, this definitely helped to understand the full root cause here.

[2022-05-20 00:36] changpe1 commented on #2363
patch has been merged, closing it now.

[2022-05-20 00:36] #2363 closed

[2022-05-20 00:45] Comphix commented on #2484
Close this as patch merged. Please let us know if there is any further issue.

Thanks for reporting this.

[2022-05-20 00:45] #2484 closed

[2022-05-20 02:13] Comphix commented on #2514
Looks like to could try to check base bdev's md size through below API to check the whether the bdev to examine is supporting VSS or not. If md size is not zero, then VSS is supported and the examine for LVOL bdev could be shipped.

[code]

[2022-05-20 03:44] Comphix commented on #2514
The SSD is formatted with 512+8

[code]

With the patch https://review.spdk.io/gerrit/c/spdk/spdk/+/12750

[code]

[2022-05-20 03:47] Comphix commented on #2514
@YamboZhou , will you also have a quick try on this patch. Thanks, Gang.

[2022-05-20 04:54] spdkci commented on #2509
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_77653.html

[2022-05-20 05:54] junzeng1 commented on #2392
Hi @All I have tested more times with debug log enabled and found that the reason for "reqs timed out on qemu side" may possibly be "all reqs for each vfio-user ctrlr on a specific CPU core are  polled in nvmf_poll_group_poll one by one". So when there are more VMs, it takes more time to get all sqs of these VMs on a  dedicated CPU core to be polled in a round.  And this result in reqs staying in

[2022-05-20 06:41] karlatec commented on #2392
I removed previous change to libvfio-user suggested by @tomzawadzki and tried increasing the wait_time like you did. Seems to work fine too. Just ran 10 tests with 36VMs connected to target sockets and all passed.

[2022-05-20 07:01] KKaras169169 commented on #2201
Thanks @mikeBashStuff , I'll build this version myself and see if the QEMU itself is a problem.

[2022-05-20 07:02] shuhei-matsumoto commented on #2509
this is duplicated with #2392

[2022-05-20 07:02] #2509 closed

[2022-05-20 09:19] #2403 closed

[2022-05-20 09:23] Comphix commented on #2514
Close it as patch has been merged. Please let us know if there is any further issue. Thanks, Gang.

[2022-05-20 09:23] #2514 closed

[2022-05-20 09:37] spdkci commented on #2424
Another instance of this failure. Reported by @xjjx. log: https://ci.spdk.io/public_build/autotest-per-patch_77664.html

[2022-05-20 11:21] jlevon commented on #2392
junzeng1 - ah, that probably makes sense, it's not really about processing SQs, but that we need to quiesce everything when we change a memory mapping.

@changpe1 I think this is because of this:

[code]

We're pausing the whole subsystem, but we actually just want to quiesce *this* controller. Is there a way to improve this?

[2022-05-20 12:12] rafalste commented on #2516
Thank you all for taking a look at this problem!
I think that with those outcomes we can improve OCF adapter to be more reliable with the autoloading mechanism.

[2022-05-20 12:30] yidong0635 commented on #2455
@jimharris
Above ASAN is building against SPDK's DPDK submodule.
With patch  https://review.spdk.io/gerrit/c/spdk/spdk/+/11839  from @sydidelot
if you checkout to origin/spdk-21.08.  That can't hit  ASAN,  Which I mean the changes between origin/spdk-21.08
and  origin/spdk-21.11 cause this ASAN on the dpdk side. There're some HUGEPAGE operations (unlink /unmap/resize
),Maybe I was wrong.

[2022-05-20 12:51] ksztyber commented on #2521
This is a duplicate of #2518. Closing.

[2022-05-20 12:51] #2521 closed

[2022-05-20 13:36] kgodzwox commented on #2518
Reported: https://bugs.dpdk.org/show_bug.cgi?id=1015

[2022-05-20 15:06] peluse commented on #2424
On my local system w/Fedora 35 and the script above (with a real QAT card) it looks like it will not repro, as you can see below its over 12K runs now.  @karlatec do I remember right that there was a timing related thing a long time ago having to do with setup.sh? I wonder if you can run a patch in CI over and over that just adds like a 1 sec delay before running the spdk_tgt in this case.  Not as

[2022-05-20 15:55] gaowayne commented on #2486
@peluse with latest SPDK accel_perf, I follow above steps to configure DSA kernel mode, it works it showed me I am using kernel driver, but accel_perf crashed. please see below error log from gdb, idxd is not created well
[code]

[2022-05-20 17:13] peluse commented on #2486
@gaowayne make sure you are on master, this problem was recently addressed with https://review.spdk.io/gerrit/c/spdk/spdk/+/12641 which has been merged

[2022-05-20 19:41] #2316 closed

[2022-05-21 06:25] gaowayne commented on #2486
@peluse  I merge all master spdk idxd and accel related codes. now my accel_perf copy DRAM to DRAM works fine with kernel DSA driver. but if I run bdevperf to copy on pmem I see below error. it looks like like DSA complain the virtual address that pmem registered on pmem devdax, before SPDK DSA driver does not complain this.

this fault address reported is what I registered from pmem.
fault_addr =

[2022-05-21 09:10] gaowayne commented on #2486
@peluse with accel_perf that suppor pmem copy it can reproduce the same issue with spdk master code based.
[code]

[2022-05-21 14:24] peluse commented on #2486
@gaowayne I'm not following your last two updates.  As this issue is about the configuration of DSA and you seem to be running other experiments can I ask that you open a new issue (and leave this one to track the known VFIO problem) and open a new one with - and this is really important - your specific configuration and exact steps to reproduce.

[2022-05-21 15:04] spdkci commented on #2201
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_77760.html

[2022-05-22 02:54] gaowayne opened #2523 "idxd DSA driver kernel path failed to copy from DRAM to pmem with accel_perf"
# Bug report

add below patch that support experiment run kernel DSA over pmem
https://review.spdk.io/gerrit/c/spdk/spdk/+/12449
1. if you run it in SPDK vfio driver path, it works fine, but this is another bug that is tracking in https://github.com/spdk/spdk/issues/2486. SPDK vfio working correctly is not correctly too. if you run bdevperf with verify it will fail.
2. if you run idxd with kernel

[2022-05-22 21:35] spdkci commented on #2453
Another instance of this failure. Reported by @yupeng0921. log: https://ci.spdk.io/public_build/autotest-per-patch_77782.html

[2022-05-23 01:48] changpe1 commented on #2392
Currently there is only one controller per subsystem in vfio-user, so there is no difference when pausing a controller or a subsystem in practice.

If all the IO queues are polled in a thread, it's very easy to do that, but now it is hard to do it.

[2022-05-23 09:58] jlevon commented on #2392
Hmm, yes. So it's unclear why this is so slow?

[2022-05-23 11:59] spdkci commented on #2483
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_77817.html

[2022-05-24 03:39] wanghailiangx opened #2524 "sock: enable-placement-id=placement_mark causes core dumped"
# Bug report
I tried setting `rpc.py sock_impl_set_options --enable-placement-id 3(placement_mark)` on local test. Found this can cause core dumped.

## Expected Behavior

no  (core dumped).

## Current Behavior

[code]

## Possible Solution
[code]
"assert(entry->ref > 0)" and "if (entry->ref == 0)", these two sentences seem to conflict.
Since there is processing statements when entry->ref == 0, w

[2022-05-24 04:01] changpe1 commented on #2524
@wanghailiangx I don't think the possible solution can work, can you have a try in `posix_sock_init` to see if there was an error return in `spdk_sock_map_insert` ?

[2022-05-24 04:06] yidong0635 commented on #2524
sorry @wanghailiangx, Agree with changpeng,  This assert's aim is to confirm that the following  `entry->ref--` shouldn't be overflowed.
if that so, the following entry->ref will never be 0, the And Assert can generate a coredump file. you can trace it why  entry->ref=0.

[2022-05-24 05:08] changpe1 commented on #2513
we don't treat this as an issue, closing it now.

[2022-05-24 05:08] #2513 closed

[2022-05-24 05:12] changpe1 commented on #2495
patch has been merged, closing it now.

[2022-05-24 05:12] #2495 closed

[2022-05-24 05:25] wanghailiangx commented on #2524
@changpe1  spdk_sock_map_insert returns 0 or -22
-22 means 0x16 **EINVAL** Invalid argument
Tracking display
[code]

[2022-05-24 05:58] changpe1 commented on #2524
it's still not clear to me, can you narrow down the reproduce steps?

[2022-05-24 06:43] wanghailiangx commented on #2524
Updated steps and log.

[2022-05-24 08:27] gaowayne commented on #2523
@peluse could you please help on this? if we have fix with SPDK DSA driver, then I can move forward with that.

[2022-05-24 08:50] changpe1 commented on #2524
@wanghailiangx  I provided a fix patch via https://review.spdk.io/gerrit/c/spdk/spdk/+/12795, can you have a test on it, and also include the test cases when placement id is PLACEMENT_CPU, thanks.

[2022-05-24 09:38] wanghailiangx commented on #1851
@wanqunintel The ADQ patch has been merged, https://review.spdk.io/gerrit/c/spdk/spdk/+/7476. Please update the item:
- [ ] `Once TCP tests are successfully passing using physical NICs after modifying the scripts - create ADQ specific use-cases. `

[2022-05-24 09:53] wanghailiangx commented on #2524
@changpe1 Verified the patch, --enable-placement-id 0,1,2,3 all passed, thanks.

[2022-05-24 10:59] SoftBob opened #2526 "CMB space loss"
# Bug report

CMB space usage exception

## Current Behavior

Use all CMB space

## Possible Solution

Space is not lost after 2MB alignment

## Steps to Reproduce
SPDK uses CMB space as a read/write buffer:

1. SPDK obtains virtual_address mapped from the CMB and aligns the address with 4KB

2. Align the virtual address space with 2MB in SPDK

3. Register the 2MB virtual address space with the ma

[2022-05-24 13:49] peluse commented on #2523
@gaowayne so this "status = 131" is not even a value listed in the spec so something is really off.  Can you please (1) rebase your patch on master as a bunch fo accel/idxd stuff went in yesterday morning and (b) provide the json file you are using (steps to reproduce needs to be complete)

[2022-05-24 14:22] gaowayne commented on #2523
here is my json file
[code]

[2022-05-24 14:26] gaowayne commented on #2523
@peluse may I know your yesterday fix if it can fix the SPDK vfio driver issue in https://github.com/spdk/spdk/issues/2486, if so I can still go with SPDK user mode DSA driver way, maybe that is quick for me. Thank you so much Paul.

[2022-05-24 14:39] peluse commented on #2523
@gaowayne I don't know what your issues is and I'm not implying that updating to master will fix it. I just don't want to debug on old code.  There is no fix for 2486 possible in SPDK, I'm working on a vfio driver fix now but that will take some time.  I doubt UIO will work any better but have not tested it, you might try that if you have time.  UIO did not work with SPDK idxd until a recent patch

[2022-05-24 15:08] tomzawadzki commented on #2392
Bug scrub: @karlatec will try a change suggested by @jimharris
[code]
The expectation is that value of 0 can have a specific behavior compared to any non-zero value.
Please update the issue with the results.

[2022-05-24 15:15] tomzawadzki commented on #2424
Bug scrub: @karlatec will try whether adding the 1 sec delay before start of the failing spdk_tgt app to see if it affects the failure rate.
Lowering the priority to Medium, due to lack of reproduction outside of the CI.

[2022-05-24 15:41] gaowayne commented on #2523
@peluse  got it. thank you so much. yes, before only IOMMU driver support DSA. let me try uio firstly. Thank you so much for your great help!~

[2022-05-24 22:18] pvonti opened #2527 "spdk_thread_exit timeout due to nvmf_tcp_qpair_handle_timeout poller still registered after spdk target is destroyed"
# Bug report

With IOs on nvme disks did a process restart which results in spdk shutdown. During SPDK shutdown see all requests on the qpair are completed, qpair is destroyed, poll group removed, subsystem stopped and SPDK target is destroyed.

But see spdk_thread exit timeout because of  nvmf_tcp_qpair_handle_timeout poller is still registered on the spdk thread after SPDK target destroy.

`1751

[2022-05-24 23:07] jimharris commented on #2527
Hi @pvonti,

Please provide a specific set of reproduction steps.

Thanks,

-Jim

[2022-05-25 00:16] pvonti commented on #2527
@jimharris, @konrad the issue was seen when restarting our module process which causes spdk target destroy and spdk_thread exit

[2022-05-25 03:24] icelng commented on #2523
This is because calling spdk_mem_register() doesn't register memory to IOMMU when using kernel idxd driver. kernel idxd driver uses SVA to share the page table of MMU to IOMMU. So you should call mlock() to make page fault and lock the memory you want to do the copy.

[2022-05-25 07:17] karlatec commented on #2392
Tested with value of `1` - 10/10 pass rate, so looks stable.

[2022-05-25 08:28] kgodzwox opened #2528 "[qemu] vhost_boot: vm_wait_for_boot timeout"
# vhost-vs-qemu
Similiar problem as #2518 in `vhost-vs-qemu` test job. Timeout on VM booting. After bisecting commits from the `263` job I found a faulty commit in `qemu` repository.
[code]

## Commits

Last good commit: `27351992bf238f669dd08655d31ad111905bf899`
First bad commit: `56534930b5cd3a6c7259cfeba69f08ba28c8f62a`

## Execution failed at

[code]

[2022-05-25 08:40] changpe1 commented on #2528
let me take a look of this issue.

[2022-05-25 09:03] karlatec commented on #2528
@changpe1 could you check if this is something to fix on our side, or should we raise an issue in Qemu bugtracker?

[2022-05-25 09:19] changpe1 commented on #2528
I already root caused this issue, and I will provide fixes ASAP.

[2022-05-25 09:21] changpe1 commented on #2528
QEMU does has a bug, but it's not critical, the fact is that QEMU requires vhost-scsi in SPDK to support VHOST_USER_PROTOCOL_F_CONFIG as a mandatory option, so the big fix is in SPDK.

[2022-05-25 09:23] karlatec commented on #2528
Great, thank you!

[2022-05-25 11:18] gaowayne commented on #2523
@icelng you are truly expert on this. after your suggestion, I register both in SPDK and mlock, now it works. :)

[2022-05-25 11:18] gaowayne commented on #2523
[code]

[2022-05-25 13:11] jlevon commented on #2392
anyone explain what possible difference  backlog 0->1 could make please?

[2022-05-25 14:23] junzeng1 commented on #2392
It is strange that this change doesn't work in my environment.

[2022-05-25 19:04] jimharris commented on #2392
@karlatec can you please confirm again that without this 0->1 change, that it fails consistently on your setup?

listen man pages are a bit opaque when describing a 0 backlog - my Ubuntu system man pages say nothing about 0 v. 1, but there are some versions online (i.e. https://linux.die.net/man/3/listen) that say:

[code]

I have no idea exactly what that means yet, but it definitely indicates th

[2022-05-25 21:02] jimharris commented on #2392
Looking at the kernel listen code (__sys_listen() which indirectly calls unix_listen() on an AF_UNIX socket) - I don't see how the backlog affects anything but that specific socket.  This value gets assigned to sk->sk_max_ack_backlog, and I see nowhere that the backlog for one listen socket can affect anything on another listen socket.  So if we are only connecting to each vfio-user listen socket

[2022-05-25 21:58] pvonti commented on #2527
Hi @jimharris, @ksztyber,

I have updated the Steps to Reproduce and Possible Solution sections of the Bug Report, please let me know if you need any more details

[2022-05-25 22:21] jimharris commented on #2526
Hi @SoftBob,

It's not really possible to for a 2MB alignment when the BAR is mmap'd.  (Note: DPDK does the actual mmap, not SPDK - see dpdk/drivers/bus/pci/linux/pci_uio.c and pci_vfio.c.). DPDK could try to pick a 2MB aligned address based on some new kind of driver flag that we specify for the NVMe device, and pass it as the mmap addr parameter - but mmap is not guaranteed to actually use that

[2022-05-26 00:50] changpe1 commented on #2528
Here are the fix patches for QEMU, I investigated the QEMU vhost-user-scsi driver, it's OK for SPDK not to support VHOST_USER_PROTOCOL_F_CONFIG, because the driver itself doesn't allow to change configuration space(mainly for CDB_SIZE and SENSE_SIZE in the PCI configuration space), so this definitely is a QEMU bug.

https://lists.gnu.org/archive/html/qemu-devel/2022-05/msg05040.html
https://lists.

[2022-05-26 01:52] yidong0635 commented on #2220
@sejun000  the codes have changed a lot, Do you think this issue is still existed? @changpe1 @AlekseyMarchuk What do you think? #2055 was closed.

[2022-05-26 03:56] changpe1 commented on #2220
Closing this issue now, you may reopen it if it still exists with latest code.

[2022-05-26 03:56] #2220 closed

[2022-05-26 04:28] changpe1 commented on #2524
[Bug Scrub] @tomzawadzki The issue can be reproduced with above steps, can you take a look on this? I think we may need some refactor work on spdk_sock_map_insert/spdk_sock_map_release/spdk_sock_map_lookup, they all touch the `entry->group` field.

[2022-05-26 05:55] gaowayne commented on #2523
@peluse  @icelng I know root cause for above, I do not know how to control it finally goes with SW accel method. since I did not specify one flag for copy, sw accel just do pmem copy if there is flag, or do regular memory copy.
I think I just need make sure how to point to real DSA accel copy API. I see there is DSA device and IAA device. may I know the diff?
[code]
here is my current jason
[code]

[2022-05-26 08:02] Apokleos opened #2529 "vfio-user-blk(vfu target) does has the same limitatiion as vhost-user-blk?"
# Bug report
Hi @changpe1

I am now testing the unreleased vfu-target(vfio-user-blk), and comparison test with vhost-user-blk.

I have many tests with backend media: NVMe SSD(split bdev with SSD) or SATA HDD(raw block with aio). In my test, I will try to keep other factors same. And I have a similar result:
(1) The IOPS of vfu-target is very close to vhu-target's.
(2) There is little difference in

[2022-05-26 08:09] gaowayne commented on #2523
[code]

[2022-05-26 08:38] changpe1 commented on #2529
@Apokleos thanks for testing vfu_target, for the thread modeling in vfu_target, it's same with vhost target, so the performance number should be almost same, I start one poller to poll all the vrings.

Do you see other benefits to span vrings to different cores? we can get better performance number with 1 VM test case, but this add extra limitations if we support many VMs, because different vrings

[2022-05-26 09:27] KKaras169169 opened #2530 "[vfio-user-autotest] Failure during VM boot"
# CI Intermittent Failure

During vfio-usre-autotest, vfio_user_restart_vm test failed on VM bootup.

...
00:06:14.376  Booting from Hard Disk...
00:06:14.376  Booting from 0000:7c00
00:06:14.376  VBE mode info request: 100
...
00:06:14.376  VBE mode info request: 6a
00:06:14.376  set VGA mode 3
00:06:14.376  WARN: ================
00:06:14.376   18:16:59	-- vhost/common.sh@941 -- # xtrace_enable

[2022-05-26 09:28] spdkci commented on #2530
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_77936.html

[2022-05-26 13:50] Apokleos commented on #2529
Thx. @changpe1

OK, I see. Same as what I observed with rpc client cli `framework_get_reactors` . If so, what is the advantage of vfu-target over vhu-target?

 I refer to your [topic page18-19](https://static.sched.com/hosted_files/kvmforum2021/f8/Changpeng%20Liu%26Ben%20Walker_High%20Performance%20NVMe%20Virtualization%20with%20SPDK%20and%20vfio-user.pdf) in KVM forum 2021.
I found that,  for NVM

[2022-05-26 14:43] peluse commented on #2523
@gaowayne so to be clear, is everything working now? I didn't understand some of your last updates you mention "flag" but you were not specific so I don't know what flag or where you were talking about.  Also, if you are on current master that JSON won't work 'idxd_scan_accel_engine' has been renamed to 'dsa_scan_accel_engine' as we now support IAA (Intel Analytics Accelerator) which you don't nee

[2022-05-26 14:55] gaowayne commented on #2523
@peluse  Yes, everything works fine for me now include bdevperf verify for SPDK DSA kernel path. for the flag. I mean this below flag inside SW accel engine. before I did not specify this flag.
[code]
I will add one summary what I did in next log. then you can close this. Thank you for all your help.

[2022-05-26 15:49] spdkci commented on #2201
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_77958.html

[2022-05-26 16:27] spdkci commented on #2201
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_77959.html

[2022-05-26 19:43] tanabarr opened #2531 "RPM build library destinations inconsistent with generated pkgconfig"
# Bug report

I trying to build SPDK RPM yields the following lint error:
`pkgconfig-invalid-libs-dir /usr/lib64/pkgconfig/spdk_accel.pc Libs: -L/usr/lib  -lspdk_accel`
This looks like a valid problem. libspdk_accel.so is actually in /usr/lib64 (which seems unusual as they should be in their own dir as they are not public libs) but /usr/lib64/pkgconfig/spdk_accel.pc is saying it is in /usr/lib:
[c

[2022-05-26 23:30] shuochen0311 opened #2532 "qpair deletion didn't receive response when ternimating a vhost target"
# Bug report

We are using the latest release version of spdk what we did is:
* we use this command to start spdk daemon:
`/spdk_deploy/build/bin/spdk_tgt -S /var/run/kata-containers/vhost-user/block/sockets -m [7] -L all`
* Then, we created nvme bdevs by using:
`rpc.py bdev_nvme_attach_controller -b nvme0 -t PCIe -a {pcieaddress}`
`rpc.py vhost_create_blk_controller {controller path} nvme0`
`mkno

[2022-05-27 00:16] shuochen0311 commented on #2532
The backtrace is here:
[code]

To me:
Thread 4 is waiting for a vhost session to be closed.
Thread 1 stuck at waiting for qpair to be deleted.

[2022-05-27 00:58] changpe1 commented on #2532
@shuochen0311 can you test your SSD drive with SPDK perf tool to see the SSD can be shutdown normally or not?  I don't understand why the IO queue pair can't be deleted.

[2022-05-27 01:00] shuochen0311 commented on #2532
@changpe1 when you say spdk perf tool, you mean `spdk_dd` right?

[2022-05-27 01:06] changpe1 commented on #2532
I mean build/examples/perf in your spdk git repository, it will allocate IO queue pair and destroy it before exiting.

[2022-05-27 01:11] spdkci commented on #2201
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_77969.html

[2022-05-27 01:14] shuochen0311 commented on #2532
@changpe1
I've run the perf against an idle device for multiple times and I can't repro the issue, the perf can finish successfully.
[code]

However, when I try to run it against any device that is used by the hanging `spdk_tgt` process, I got:
[code]

[2022-05-27 01:27] yidong0635 commented on #2531
I'm not the expert, but I checked the local code:
[code]
It seems  you need to specify:
./configure -h
` --prefix=path             Configure installation prefix (default: /usr/local)`

[2022-05-27 01:30] changpe1 commented on #2532
Your 389c:00:00.0 drive is already used by another process, so it reported the above error.

[2022-05-27 01:41] shuochen0311 commented on #2532
@changpe1 then I think the the IO queue pair can't be deleted is because the backtrace of `thread 4` I posted above which shows the vhost session can not be terminated?

[2022-05-27 01:42] changpe1 commented on #2529
One benefit is the thin driver layer in hypervisor side, hypervisor can just use one driver to connect to different emulated devices, e.g: nvme virtio-blk virtio-scsi. This is important for cloud hypervisor.

I leave this thread modeling implementation in the device layer, e.g: users may add the support to span vrings to different cores very easily, I just provide the default thread modeling in ex

[2022-05-27 01:48] spdkci commented on #2201
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_77972.html

[2022-05-27 02:11] shuochen0311 commented on #2532
I see another `spdk_tgt` stuck case with a different back trace, the reactor thread's back trace is the same that it waits the qpair to be deleted.

[code]

[2022-05-27 02:14] Apokleos commented on #2529
Yeah, we will do benefit from it, eliminating devices' "Qemu Zoo".

If so, it will add extra limitations in many VMs scenarios? As you said yesterday, "...different vrings which belong to different VMs may run in the same core."

[2022-05-27 02:22] changpe1 commented on #2529
Yes, it's up to users, e.g: users may want to see one VM can get line performance improvement when adding more cores.

[2022-05-27 02:27] changpe1 commented on #2532
@shuochen0311 I suggest to run similar tests in physical environment to see it exist or not, it's hard for us to debug intermittent failures.

[2022-05-27 02:35] shuochen0311 commented on #2532
@changpe1 I've tried some more complex perf commands which is using multiple pci address and I still can't repro the issue:
`./perf -b 3153:00:00.0 -b 32d1:00:00.0 -q 64 -o 1024 -w write -t 2`

[2022-05-27 02:36] shuochen0311 commented on #2532
@changpe1 can you help explain what spdk will do for `nvme_pcie_ctrlr_delete_io_qpair` ?

[2022-05-27 02:44] Comphix commented on #2532
Are we saying below io qpair deletion never comes back?

This causes the session could not be stopped and the semaphore is never set.

[code]

Also perf is running well, so it is running on another SSD? Not the SSD in this case?

[2022-05-27 03:25] shuochen0311 commented on #2532
@Comphix exactly. And we are looking for suggestions about how to debug the reason of why qpair deletion never comes back.

[2022-05-27 03:47] Comphix commented on #2532
Is it possible to have the vhost testing on another SSD where the Perf runs well?

This may help to check whether it is the SSD problem or not to understand why the delete qpair is not returned.

[2022-05-27 03:56] spdkci commented on #2201
Another instance of this failure. Reported by @MengjinWu. log: https://ci.spdk.io/public_build/autotest-per-patch_77976.html

[2022-05-27 03:59] changpe1 commented on #2532
I'm wondering if this issue can only happen with your AZURE environment, we didn't see similar issue in our CI environment.

[2022-05-27 04:07] shuochen0311 commented on #2532
@Comphix
I run
`./perf -b 3153:00:00.0 -b 32d1:00:00.0 -q 64 -o 1024 -w write -t 2`
for 10 times and I didn't see any repros

however, when I use vhost based on these two device, I can reproduce the issue. As a result, I don't think it is a problem specificlly to a single SSD.

[2022-05-27 04:09] davidcs12 commented on #2488
Hi @jimharris @ksztyber @Comphix

Topic: Semantics of SPDK_BDEV_IO_TYPE_RESET
SPDK_BDEV_IO_TYPE_RESET for nvmf/TCP requires that we abort all the "spdk_bdev_io" issued on all the spdk_bdev_channels to that Namespace/bdev.
Question: Is there a requirement to wait for all the ABORTs issued to complete - i.e.,  spdk_bdev_io_complete() is called for all the aborted bdev_ios -  before issuing spdk_bdev

[2022-05-27 04:15] shuochen0311 commented on #2532
@changpe1  I can try to setup an AWS environment and see whether it works or not. It might take a day or two.

[2022-05-27 05:07] changpe1 commented on #2530
The issue is still with #2392, but there is a coredump after socket broken exception in QEMU, for this issue, let's focus on the coredump in SPDK vfio-user.

0:06:14.378      #0 0x7f7ea13ad20e in _vfio_user_endpoint_resume_done_msg /var/jenkins/workspace/vfio-user-autotest/spdk/lib/nvmf/vfio_user.c:2920
00:06:14.378      #1 0x7f7ea01f7eeb in msg_queue_run_batch /var/jenkins/workspace/vfio-user-aut

[2022-05-27 06:14] warrick3050 opened #2533 "SPDK hotplug example in spdk/example/nvme/hotplug doesn't work in multiple-process senario."
# Bug report

SPDK hotplug example in spdk/example/nvme/hotplug doesn't work in multiple-process senario.

## Expected Behavior

1. execute a program that acts as a primary process
2. run hotplug example
## Current Behavior

$ ./build/examples/hotplug -i 0 -n 5 -r 5 -t 100 -l debug
[2022-05-27 14:51:04.637735] Starting SPDK v22.01.1-pre git sha1 444fbaaac / DPDK 21.11.0 initialization...
[2022-05-

[2022-05-27 06:23] Comphix commented on #2533
Have you tried other tool under ./build/examples/, like perf for the multi process usage? Is it workable?

Looks like the hotplug tool could not start properly in multi process mode where error reported:

[code]

[2022-05-27 06:24] changpe1 commented on #2530
A fix patch is submitted here https://review.spdk.io/gerrit/c/spdk/spdk/+/12831 to address this issue.

[2022-05-27 07:49] warrick3050 commented on #2533
I may be misunderstanding the multi-process mode, so please forgive me in advance.

First of all, prim_proc is a simple program that performs spdk_nvme_probe() -> infinite loop.

In multiple-process, programs such as hello_world and identify in ./build/examples/ also generate the same error.

`$ ./prim_proc &
$ ./build/examples/hello_world -i 0
EAL: Cannot initialize tailq: RTE_MBUF_DYNFIELD
Tailq

[2022-05-27 08:10] junzeng1 commented on #2392
Some updates for this issue:
1. The command timeout on qemu side for " vfio_wait_reqs - timed out" print is "VFIO_USER_DMA_MAP";
2. Time recorded in libvfio-user lib interface for "mem map" command  execution is less than 400ms (may be more less , just use 400ms as a judgement for print) when using 1 cpu core on nvmf_tgt side, and there are timeout for "VFIO_USER_DMA_MAP" command on qemu side.  In

[2022-05-27 11:06] Apokleos commented on #2529
Got it! Waiting for the released vfu-target
Thank you very much!

[2022-05-27 15:25] davidcs12 commented on #2488
Another question on the same topic:
From below, am I correct that SPDK_BDEV_IO_TYPE_RESET gets issued for every spdk_bdev_channel associated with the bdev?

[code]

[2022-05-27 22:12] jimharris commented on #2455
This is a DPDK bug, and has been fixed in upstream.  I've cherry-picked that patch onto our spdk-22.03 DPDK submodule branch here:  https://review.spdk.io/gerrit/c/spdk/dpdk/+/12834.  I've tested locally that it does fix the ASAN error generated by my repro test above.

Once that is merged and we update the DPDK submodule pointer, we can rebase and likely merge https://review.spdk.io/gerrit/c/spdk

[2022-05-27 23:45] peluse commented on #2486
@Comphix quick update: we have a kernel driver patch that works.  More next week...

[2022-05-27 23:53] Comphix commented on #2486
Thanks Paul. Will rebuild the kernel with the fix and verify it then.

[2022-05-30 01:40] #2529 closed

[2022-05-30 03:03] Comphix commented on #2533
From the log
[code]

There is no free IO qpair from this SSD? What SSD is it? And how many hardware qpairs from this SSD?

[2022-05-30 03:04] Comphix commented on #2533
You may also have a try with perf tool as secondary process which will also create IO qpair and send IO.

[2022-05-30 04:50] warrick3050 commented on #2533
Hi, @Comphix
I register the entire test process as follows :
(You can also check the answers you want.)

[code]

And, my scenario using prim_proc is still output as follows:

[code]

And, I wonder if it is related to the [#1606](https://github.com/spdk/spdk/issues/1606)

Thanks.

[2022-05-30 08:20] kgodzwox commented on #2490
The issue is currently not reproducing

[2022-05-30 08:20] #2490 closed

[2022-05-30 08:45] tanabarr commented on #2531
So I am working on the SPDK RPM that we build to satisfy our DAOS RPM requirements,  this is distinct from the DAOS source build.
The source build doesn't have this problem because we don't supply a pkgconfig file when building in scons and is configured as follows:
[code]
As you can see here we are using in-tree dpdk build so things are a little different to the SPDK RPM build that uses a system

[2022-05-30 09:05] mikeBashStuff commented on #2531
Using `%{_libdir}` as a prefix looks a bit odd to me as it in context of the actual installation everything would be put under `/usr/lib{,64}` (or whatever `rpmbuild` evaluates this expr to, but for most rpm-based distros I believe it's indeed `/usr/lib64`). I am just wondering if maybe `mk/spdk.lib.mk -> pkgconfig_create` or `scripts/pc.sh` should dynamically determine the actual libdir (instead

[2022-05-30 11:02] kgodzwox opened #2534 "[build_shared_rpm_with_rpmed_dpdk] dpdk_governor.c:42:10: fatal error: rte_power.h: No such file or directory"
# rocky8-vg-autotest nightly

TEST build_shared_rpm_with_rpmed_dpdk

Issue occurs for `rocky8` during the nightly autotests, while compiling SPDK with the DPDK source installed from RPM.
There is a problem with DPDK 21.11.1 where `rte_power.h` header is missing.

The `build_shared_rpm_with_rpmed_dpdk` test is triggered with `RUN_NIGHTLY` flag for the `rocky8-vg-autotest`.

Rocky8: DPDK (version 21

[2022-05-30 11:29] gaowayne opened #2535 "bdevperf cannot show read and write BW result seperately when we run -w rw -M 50"
# Bug report

bdevperf report missing detail BW number for read and write, there is only one total number for read/write mixed workload like rw.

## Expected Behavior

each workload need report separately

## Current Behavior

report one global stat

## Possible Solution

## Steps to Reproduce

1. run bdevperf like below
[code]
3. check the result row, only one row on detail read or write.
4.
5.

[2022-05-30 14:02] ft-ksc opened #2536 "build/examples/identify example outputs an error"
# Bug report

I receive the following output when I run the command "sudo build/examples/identify"

## Context (Environment including OS version, SPDK version, etc.)

Ubuntu 21.04
AMD Ryzen Threadripper PRO 3995WX 64-Cores
Samsung SSD 980 PRO 1TB

[2022-05-30 14:16] brianjmurrell commented on #2531
Indeed, `./configure --prefix=%{_libdir}` is **not** the correct solution.

It is not surprising that `./configure [--prefix=/usr/local`] works as expected because the problem is not the correct substitution of the `$prefix` but rather the hardcoded assumption that `$lib` under `$prefix` is always going to be `lib`.  On most distros, (at leas the RedHat flavours on 64-bit platforms) libraries are

[2022-05-30 17:13] tanabarr commented on #2531
workaround worked when placed in %prep, thanks

[2022-05-30 17:14] tanabarr commented on #2531
passed build after reverting the prefix change and adding the workaround: commit https://build.hpdd.intel.com/blue/organizations/jenkins/daos-stack%2Fspdk/detail/PR-47/24/pipeline/186

[2022-05-30 17:20] brianjmurrell commented on #2531
Thanks for testing that @tanabarr.  This seems to confirm the issue of the `lib` dir being hard-coded in that script.

[2022-05-31 00:34] Comphix commented on #2536
Have you run the ./scripts/setup.sh and please also output the ./scripts/setup.sh status here

Also please follow the template to include as much information as possible.

[2022-05-31 08:18] Comphix commented on #2536
From above log, it means this SSD has created partitions on it so that SPDK will not unbind the kernel driver from it as it is expected there is other usage on this SSD.

If these partitions and data are not needed on this SSD, you may try to delete them and try again.

Or you may use another SSD for the testing.

[2022-05-31 09:11] KKaras169169 opened #2537 "[bdev_nvme_set_hotplug RPC] The bdev does not reappear after sysfs remove/rescan"
# Question/Bug report

I have found out that one of our RPCs, bdev_nvme_set_hotplug -e does not work the way I think it should. In docs the description says: "Change settings of the NVMe hotplug feature. If enabled, PCIe NVMe bdevs will be automatically discovered on insertion and deleted on removal." - to my understanding, after performing a hotremove/hotplug operations via sysfs, SPDK target sho

[2022-05-31 09:30] Comphix commented on #2537
After below steps:

[code]

We may first check whether 0000:0a:00.0 is bounded with UIO or kernel NVMe.

If NVMe, we will need to run ./scripts/setup.sh again.

Also, checked the log, the HotInNvme0n1 is bound to another SSD 0000:84:00.0 in the system. This is detected as expected when enabling the hotplug and it is also bound with UIO already.

[code]

[2022-05-31 09:50] v1c77 opened #2538 "vhost: can not clean vhost scsi/blk controller during vhost subsystem finish progress"
# Bug report

The vdev->vsessions was not cleared before unregister.

lib/vhost/vhost.c
[code]
vhost.c:1015] [SPDK/vhost_dev_unregister] Controller vhost-scsi.74a070ff-1a75-4a05-addc-6a55c7732c52.scsi0 has still val
id connection.

## Expected Behavior
Uninstall the vhost bdev as expected.

## Possible Solution
I have a test patch to clean vsession list at the end of the finish step,  but there se

[2022-05-31 09:56] KKaras169169 commented on #2537
I inserted scripts/setup.sh between 15th and 16th commands. setup.sh reported:
`0000:0a:00.0 (8086 0953): nvme -> uio_pci_generic`

and a new bdev appeared:
[code]

Does that mean that the NVMe is not properly bound to uio_pci_generic after hotremove/hotplug?

[2022-05-31 10:46] Comphix commented on #2537
Yes, looks like the SSD is automatically bound to kernel nvme driver so that SPDK could not detect it.

Needs to first run scripts/setup.sh to bound to UIO or VFIO first.

[2022-05-31 10:47] Comphix commented on #2538
Have you tried the latest SPDK v22.05 version?

[2022-05-31 10:55] KKaras169169 commented on #2537
Thank you, this explains a lot. Now the new questions arises: Is the appearance of a new bdev HotInNvme1n1 (the new one with "pci_address": "0000:0a:00.0") the expected behaviour, or should it somehow resurrect the original Nvme0n1?

[2022-05-31 11:01] Comphix commented on #2537
Yes, the name is generated in this way.

[code]

[2022-05-31 11:02] #2537 closed

[2022-05-31 11:22] v1c77 commented on #2538
The logic of session_shutdown has no difference between v21.10 and  v22.05 or master. @Comphix

[2022-05-31 11:34] xjjx commented on #2510
There are no more occurrences of this issue.
Seems that this was only temporary network problem.

[2022-05-31 11:58] ksztyber commented on #2527
Hi @pvonti, your solution seems fine and should fix this problem, but I think there are other cases when this can happen, so I think it's better to unregister the poller in `qpair_fini`. Could you check if this patch also works on your side: https://review.spdk.io/gerrit/c/spdk/spdk/+/12844

[2022-05-31 14:00] jimharris commented on #2538
Hi @v1c77,

Please share more details (including code snippets) from your storage app.  I'm not aware of this issue being seen at all with the upstream SPDK applications.  So we need to understand how your app differs from the upstream SPDK applications.

Thanks,

Jim

[2022-05-31 15:01] mhae commented on #2360
I did a manual test which seemed to address the issue. I can't integrate
the fix yet since I'm on an earlier version. However, I think we can close
the issue.

On Tue, May 31, 2022, 8:48 AM Tomasz Zawadzki ***@***.***>
wrote:

[2022-05-31 15:06] #2360 closed

[2022-05-31 15:22] tomzawadzki commented on #2460
Bug scrub: @jimharris will take a look at possibly addressing the issue on the DPDK side.

[2022-05-31 15:24] KKaras169169 commented on #2201
Bug scrub: no clear leads on how to reproduce this. I will try with different Qemu versions and different kernel versions.

[2022-05-31 15:27] tomzawadzki commented on #2519
Bug scrub: @ksztyber had some success in running kernel 5.18 without seeing this issue. Will explore what would be path forward to update to F35 and F36.

Another possibility is to switch from bpftrace to spdk traces, to avoid running into bpftrace tooling issues in the future.

[2022-05-31 15:31] tomzawadzki commented on #2517
Bug scrub: @kgodzwox Please take a note of the git hashes between the builds 722 and 723. The issue does not seem to be appearing in few of the latest nightly builds, but please keep track of its occurrences and update this issue when they do occur.

[2022-05-31 15:33] tomzawadzki commented on #2518
Bug scrub: According the the update from David in the DPDK issue, it seems to be point at the `start_device` in the SPDK.

[2022-05-31 15:35] tomzawadzki commented on #2535
Bug scrub: This behavior is as intended, showing the read and write separately is a feature request.

[2022-05-31 15:40] tomzawadzki commented on #2534
Bug scrub: Let's skip the dpdk_governor compilation when rte_power is not present, but be verbose about it during ./configure.

[2022-05-31 16:32] jimharris commented on #2460
I agree with Ben.  This looks like a gcc bug.

Looking at the call stack:

[code]

__rte_ring_enqueue_elems_128() is only called when esize parameter == 16.

[code]

These all pass the same unsigned int esize parameter unchanged to the next function.

[code]

rte_hash_create() calls rte_ring_sp_enqueue_elem() like this:

[code]

The third parameter (sizeof(uint32_t)) is the esize parameter.  This

[2022-05-31 19:35] jimharris commented on #2455
DPDK patch has been merged to our DPDK spdk-22.03 branch..

https://review.spdk.io/gerrit/c/spdk/spdk/+/12847 pushed to move the submodule pointer.
https://review.spdk.io/gerrit/c/spdk/spdk/+/11839 has been rebased on top of 12847 and pushed.

[2022-06-01 00:06] jimharris commented on #2201
So all of the logs I've looked at so far have a WARN_ON in the dmesg.log that looks like this:

[code]

The call stack differs slightly, but it is always that exact WARN_ON.

I pulled the v5.12.10 branch from linux-stable, and that line 2597 maps exactly to a WARN_ON:

[code]

There has been a change to this part of the code since v5.12 (torvalds/linux@7764656), but it only changes what gets print

[2022-06-01 00:17] jimharris commented on #2201
I wonder if we're just hitting some kind of timing issue in this bit of script from sw_hotplug.sh:

[code]

Can we pull a VM from the CI test pool, and run a patch that changes the hotplug_events in run_hotplug() from 3 to something like 100?  If that fails relatively often, we can start investigating the timing pattern triggering this condition.

I'm not even sure that the hotplug app itself is e

[2022-06-01 06:11] v1c77 commented on #2538
@jimharris @Comphix  I reproduced this issue on SPDK v21.10  with the default vhost app yesterday:

1. create a  vhost  backend
[code]
2. create controller and bdev
[code]

3.  connect to the controller

[code]

4. ctrl-C the vhost app.

You can see the error about "Controller xxx has still valid connection"

[code]

-------------------------------
But it does not appear on the latest main branch,

[2022-06-01 06:14] changpe1 commented on #2538
The issue should be fixed via https://github.com/spdk/spdk/commit/ba32ee2b298ba4659eace1aed2826d0b9ef82fbf

[2022-06-01 07:18] v1c77 commented on #2538
Thank you @changpe1  for the suggestion !  But still, log "valid connection" on this fix.

[code]

I guess the *expected behavior*  should be with logs just like below:
[code]

Also tested on `v22.05.x` : The log "valid connection" disappeared,  but  I'm not sure the controller has been deleted correctly.

[2022-06-01 07:22] KKaras169169 commented on #2201
Thanks for your input Jim!

[2022-06-01 08:07] changpe1 commented on #2538
The error log is still there, so the issue is fixed with latest code.

[2022-06-01 08:57] #2527 closed

[2022-06-01 09:46] v1c77 commented on #2538
The controller still exists with the latest code.

@changpe1  After the commit https://github.com/spdk/spdk/commit/c706c20c50ad3cc5f0c5d7532473311ab6f65b37 ,
the check of  `vdev->pending_async_op_num`  in `vhost_user_dev_unregister` failed first and return, so the controller is not removed yet. Thus the log "has still valid connection" disappeared also.

You can apply the patch:
[code]
The log sho

[2022-06-01 09:59] changpe1 commented on #2538
I see, since the QEMU connection is valid when you kill the vhost application, and the error log is our intention to warn users, so I don't think this is a bug.

Do you meet other errors like: can't exit the vhost application for the test case? if no, this is normal.

[2022-06-01 10:23] v1c77 commented on #2538
Thanks for the information. The vhost app quit as normal. Please do not close this issue and I will test some more complicated cases.

[2022-06-01 16:04] ksztyber commented on #2498
It's been almost a month since this hit and we've only seen a single occurrence, I think we can close this.

[2022-06-01 19:00] curtbruns opened #2539 "[nvmf_perf_adq] num_busy_count != tc1 queues of traffic classes"
# CI Intermittent Failure

## Link to the failed CI build
https://ci.spdk.io/public_build/autotest-per-patch_78158.html

## Execution failed at
https://ci.spdk.io/results/autotest-per-patch/builds/78158/archive/nvmf-tcp-phy-autotest/build.log

00:11:53.428  ========== Backtrace start: ==========
00:11:53.428
00:11:53.428  in /var/jenkins/workspace/nvmf-tcp-phy-autotest/spdk/test/common/autotest_co

[2022-06-01 22:53] jimharris commented on #2539
@wanghailiangx - could you take a look at this issue?

[2022-06-02 02:07] wanghailiangx commented on #2539
@jimharris I found that ./perf -P when the value of -P(number of io queues per namespace) is smaller, for example 1, the issue is easier to reproduce. In perf_adq.sh code, it is 2. Then local tests are not easy to reproduce. In the previous adq patch version, I set 4. Now I change it back to 4. I believe this will make the test run more stable.
A new patch to fix it, https://review.spdk.io/gerrit/

[2022-06-02 06:40] ksztyber commented on #2527
Thanks for the confirmation @pvonti.

[2022-06-02 06:50] spdkci commented on #1065
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_78150.html

[2022-06-02 07:40] ksztyber commented on #2488
@pvonti, I think 14adf7f70 should also fix this issue. Could you confirm?

@davidcs12 I've responded to your questions on Slack.

[2022-06-02 12:42] ksztyber commented on #2519
This is a problem with bcc on Fedora 35, but it's already fixed on master via iovisor/bcc@6dac27d90f9e11cda0864edaebddf519452a7e4b. @kgodzwox could you add building `bcc` and `bpftrace` from source to our F35 VM images? You can use [1] as a template for what are the dependencies and how to build it.

[1] https://review.spdk.io/gerrit/c/spdk/spdk/+/12870

[2022-06-02 13:29] kgodzwox commented on #2519
Sure!

[2022-06-02 14:53] spdkci commented on #2483
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_78195.html

[2022-06-02 15:30] davidcs12 commented on #2488
Thanks @ksztyber

[2022-06-02 19:38] #2536 closed

[2022-06-02 21:33] jimharris commented on #2444
Patches have been merged which now allow you to specify DPDKBUILD_FLAGS to specify a platform type to work around this problem:

[code]

[2022-06-02 21:33] #2444 closed

[2022-06-02 21:38] jimharris commented on #2106
@ZivHirsch13, please feel free to reopen this issue if you are able to reproduce this in a way that indicates SPDK is the culprit here instead of DPDK or the kernel.

[2022-06-02 21:38] #2106 closed

[2022-06-03 00:41] pvonti commented on #2527
Hi @ksztyber, ran the test in "Steps To Reproduce" with 10 volumes, 4 qpairs, 8 outstanding reads and writes.

I am seeing a segmentation fault when thread_poll() calls thread_execute_timed_poller() and qpair_handle_timeout poller gets unregistered from qpair disconnect/qpair destroy path.

Here are the steps which causes the segfault
1. Write tcp_request with data outstanding from host is aborted

[2022-06-03 02:09] dong-liuliu commented on #2325
Sorry， I missed it, JIm.

[2022-06-03 02:21] dong-liuliu commented on #2325
Looked into LInux Kernel source code related to io completions.
Confirmed that negatvie errno will directly passed to "aio_complete_rw" in fs and block modules. And then directly assigned to io_event.res

Patch is raised at https://review.spdk.io/gerrit/c/spdk/spdk/+/12882

[2022-06-04 21:30] ctuffli opened #2540 "Error when linking against external DPDK"
# Bug report

When building the examples, the link stages fail with the error:

   `cc: Missing argument for -Wl,-rpath-link`

## Expected Behavior

Link stage completes without error

## Current Behavior

[code]

## Possible Solution

I'm not very familiar with linker options, but from looking at other examples, I suspect the `DPDK_LINK_ARGS` macro needs a slight change:

[code]

With this change

[2022-06-06 07:00] dong-liuliu commented on #2189
Also add Yifan for this rbd creation issue.

[2022-06-06 07:36] #2539 closed

[2022-06-06 10:53] spdkci commented on #2201
Another instance of this failure. Reported by @MengjinWu. log: https://ci.spdk.io/public_build/autotest-per-patch_78289.html

[2022-06-06 14:14] mhae opened #2541 "rdma: Core dump during subsystem shutdown"
# Bug report

During a shutdown of the nvmf tgt app we sometimes encounter a core dump. When the app is shutdown, we delete one subsystem after the other. Occasionally, we get a core dump during this process:

[code]

The issue is that the `rqpair->pending_rdma_queue` is NULL (we're on 21.04 so the code at rdma.c:1922 looks like this):
![image](https://user-images.githubusercontent.com/6045616/172

[2022-06-06 19:54] reeveyoung opened #2542 "nvme hello_world example reports error on FreeBSD"
# Bug report

## Expected Behavior
I expect the example would run correctly.

## Current Behavior
I followed the instruction to run NVMe hellow_world example, here is the output for every step.
$ sudo scripts/setup.sh
hw.nic_uio.bdfs="00:0e:0"
hw.contigmem.num_buffers="8"
hw.contigmem.buffer_size="268435456"

$ sudo scripts/gen_nvme.sh --json-with-subsystems > ./build/examples/hello_bdev.json
pcic

[2022-06-06 19:57] jimharris commented on #2540
Hi @ctuffli,

Can you confirm your environment?  --with-dpdk without an argument means using package installed DPDK.  Is that actually DPDK 21.05 on Ubuntu 21.04?  I'm using an Ubuntu 21.10 system, and package installed DPDK here is 20.11 based.

Can you paste the output of ```Q= make``` here?  I'd like to see in your environment how all of these makefile variables are resolving.

Is it also possi

[2022-06-06 20:01] jimharris commented on #2542
What does ```scripts/setup.sh status``` show on your system, after running ```scripts/setup.sh```?

[2022-06-06 20:03] reeveyoung commented on #2542
Hi Jim, here is the output.
$ sudo scripts/setup.sh status
pciconf: cannot parse selector pci0000:00:0e:0
Contigmem (present)
Buffer Size: 268435456
Num Buffers: 8

NVMe devices
BDF		Vendor	Device	Driver
0000:00:0e:0	0x0000	0x0000

I/IOAT DMA
BDF		Vendor	Device	Driver

DSA DMA
BDF		Vendor	Device	Driver

IAA DMA
BDF		Vendor	Device	Driver

VMD
BDF		Vendor	Device	Driver

[2022-06-06 21:11] mikeBashStuff commented on #2542
The output of the `pciconf` here is not what the caching function actually expects hence the issue with `{vendor,device}` ids. There are some other minor issues with how pci addresses returned by the `pciconf` are interpreted. I will take a look into fixing it.

In the meantime, @reeveyoung would you kindly provide full output from the `pciconf -l; freebsd-version`?

[2022-06-06 21:27] jimharris commented on #2542
Did something break/change w/ pciconf on FreeBSD 13?  I was just looking at one of our FreeBSD CI logs, it is using FreeBSD 12.3.  I don't see pciconf complaining about the 4 digit PCI domain number (pci0000) there:

[code]

[2022-06-06 21:37] mikeBashStuff commented on #2542
@jimharris The problem is with converting different parts of the address to hexadecimal. Under 12.3 same problem exists:

[code]
Apparently, every part of the pci address is interpreted as decimal (which is surprising to me).

[2022-06-06 21:42] jimharris commented on #2542
Makes sense now.  Reading the pciconf man page, these are always interpreted as base-10, with no option to interpret as hex instead.  Very unfortunate.

[2022-06-06 22:46] mikeBashStuff commented on #2542
I think this should do the trick: https://review.spdk.io/gerrit/c/spdk/spdk/+/12914 (tested under 12.3). @reeveyoung Would you kindly test it on your end 13.1? I will do the same, just need to build myself 13.1 VM.

[2022-06-06 22:58] wanqunintel opened #2543 "[spdk/multipath]nvme_bdev_multipath_set_policy cause nvmf_tgt core dump"
# Bug report

nvme_bdev_multipath_set_policy cause nvmf_tgt core dump
## Expected Behavior

should work well
## Current Behavior

nvme_bdev_multipath_set_policy cause nvmf_tgt core dump
## Possible Solution

N/A yet
## Steps to Reproduce
on nvmf target
1. ./build/bin/nvmf_tgt -i 0 -e 0xFFFF -m 0x3
2. ./scripts/rpc.py nvmf_create_transport -t tcp -o -u 8192
3. ./scripts/rpc.py bdev_malloc_create 64

[2022-06-06 23:34] jimharris commented on #2531
Should we just go with this latter (--libdir/CONFIG_LIBDIR) option?

[2022-06-06 23:48] jimharris commented on #2543
This code path wasn't checking that the specified bdev was actually an nvme bdev.

https://review.spdk.io/gerrit/c/spdk/spdk/+/12916 should fix it.

[2022-06-07 02:40] reeveyoung commented on #2542
Sorry for late reply, I was out for a while.

Here is the output you requested.

$ pciconf -l
hostb0@pci0:0:0:0:	class=0x060000 rev=0x02 hdr=0x00 vendor=0x8086 device=0x1237 subvendor=0x0000 subdevice=0x0000
isab0@pci0:0:1:0:	class=0x060100 rev=0x00 hdr=0x00 vendor=0x8086 device=0x7000 subvendor=0x0000 subdevice=0x0000
atapci0@pci0:0:1:1:	class=0x01018a rev=0x01 hdr=0x00 vendor=0x8086 device=0x711

[2022-06-07 02:47] warrick3050 commented on #2533
Any updates on this issue?
Please let me know, thanks.

[2022-06-07 05:12] reeveyoung commented on #2542
@mikeBashStuff, the patch seems fix the script problem, now the hello_world example tries to run but hung the VM.  From console I can see some message from nic_uio about mapped memory, and the whole system is frozen after ...

[2022-06-07 08:34] karlatec opened #2544 "core-collector.sh not generating core dumps"
# Bug report

In case of core dumped segmentation fault core dumps are not always properly captured or printed to output.
Looks like `core-collector.sh` script set in `autotest.sh` does not trigger in some cases.

Interestingly - looks like this could be related to host where the core dump is generated.
For example - in case of running tests using virtual machines our scripts were able to capture

[2022-06-07 09:22] karlatec opened #2545 "autobuild-vg-autotest: confirm_abi_deps fails on libspdk_nvme.so major version"
# Bug report

`autobuild_check_so_deps` AKA `confirm_abi_deps` fails when doing ABI comparison vs latest SPDK relase.
https://ci.spdk.io/public_build/autotest-per-patch_78332.html

The VM image was not regenerated with fresh ABI reference builds just after 22.05 release and the tests now fail when trying to deploy the new image. CI does not fail on every patch right now because I rolled back the u

[2022-06-07 11:41] mikeBashStuff commented on #2542
So I have not been able to compile DPDK from the SPDK's submodule (22.03) under 13.1, but the upstream version of the DPDK (22.07) was built just fine - the submodule is most likely missing the following commit: https://github.com/DPDK/dpdk/commit/2f51bc9c27a4f1da674d66499667155663dcc419.

Also, I am afraid I didn't reproduce the hung under my setup, `hello_bdev` worked just fine (note however, th

[2022-06-07 13:23] karlatec commented on #2544
Found the root cause. It's not related to host type, host OS or anything like this.

https://man7.org/linux/man-pages/man5/core.5.html
[code]

The core_pattern we try to set using `|/var/jenkins/workspace/crypto-autotest/spdk/scripts/core-collector.sh %P %s %t %c /var/jenkins/workspace/crypto-autotest/spdk/../output/coredumps` is definitely longer than 128 bytes and gets truncated.

[2022-06-07 13:31] mhae commented on #2541
Hi @AlekseyMarchuk, I don't think there's an abort from the initiator. I print a notice log in nvmf_ctrlr_abort for every abort and I didn't see anything in the logs that would indicate that nvmf_ctrlr_abort was executed. I don't think there's another pass into `_nvmf_rdma_qpair_abort_request` but I could be wrong.

I do see the "Destroying qpair when queue depth is xxx" message occasionally but i

[2022-06-07 14:24] ctuffli commented on #2540
Yes, I have a requirement for that version, built DPDK manually, and installed it.

Sorry, I cherry-picked  the configure options. This is the full list:
[code]
After an `rm examples/ioat/perf/*.[od]`, this is the output of make:
[code]

[2022-06-07 14:45] wanqunintel commented on #2543
@jimharris, this issue still exist with this patch. same error from nvmf_tgt
# ./build/bin/nvmf_tgt -i 0 -e 0xFFFF -m 0x3
_[2022-06-07 22:39:51.038678] Starting SPDK v22.05-pre git sha1 dacd8ec82 / DPDK 21.11.0 initialization...
[2022-06-07 22:39:51.038795] [ DPDK EAL parameters: [2022-06-07 22:39:51.038810] nvmf [2022-06-07 22:39:51.038821] -c 0x3 [2022-06-07 22:39:51.038832] --log-level=lib.eal:

[2022-06-07 14:55] spdkci commented on #2453
Another instance of this failure. Reported by @apaszkie. log: https://ci.spdk.io/public_build/autotest-per-patch_78357.html

[2022-06-07 15:44] karlatec commented on #2544
Fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/12755

[2022-06-07 15:53] karlatec opened #2546 "fio verify state files and output files in build artifacts"
# Bug report

There are leftovers after fio tests present in build artifacts.

For example:
https://ci.spdk.io/public_build/autotest-per-patch_78328.html

https://ci.spdk.io/results/autotest-per-patch/builds/78328/archive/centos8-vg-autotest/blockdev_fio_verify.txt
https://ci.spdk.io/results/autotest-per-patch/builds/78328/archive/centos8-vg-autotest/local-job_AIO0-14-verify.state
https://ci.spdk.

[2022-06-07 17:31] jimharris commented on #2545
```bu9199af3``` is the culprit.  From the log:

[code]

I've pushed https://review.spdk.io/gerrit/c/spdk/spdk/+/12931 to suppress that failure.

[2022-06-07 17:37] spdkci commented on #2201
Another instance of this failure. Reported by @MengjinWu. log: https://ci.spdk.io/public_build/autotest-per-patch_78289.html

[2022-06-07 18:39] KariukiJ opened #2547 "Script pkdep.sh can't find python in Ubuntu 22.04"
# Bug report

When I run scripts/pkgdep.sh in a system with Ubuntu 22.04 the script throws and error indicating python has no installation candidate.

## Expected Behavior

pkdep.sh runs successfully and installs all packages needed to compile and run spdk on Ubuntu 22.04

## Current Behavior

pkdep.sh fails and throws an error indicating package python has no installation candidate.

## Possible

[2022-06-07 19:24] mikeBashStuff commented on #2547
I believe there's already a commit waiting on gerrit to be merged and which addresses this issue: https://review.spdk.io/gerrit/c/spdk/spdk/+/12804

[2022-06-07 19:27] peluse commented on #2547
See https://review.spdk.io/gerrit/c/spdk/spdk/+/12804

[2022-06-07 20:41] jimharris commented on #2547
Correct, I've added my +2 to Alexey's patch, it's just waiting for another +2.

[2022-06-07 20:41] #2547 closed

[2022-06-07 21:23] kgodzwox commented on #2517
Issue occurred:
https://ci.spdk.io/results/autotest-nightly/builds/815/archive/nvmf-phy-cvl-autotest/build.log
https://ci.spdk.io/results/autotest-nightly/builds/814/archive/nvmf-phy-cvl-autotest/build.log

But in the last build did not:
https://ci.spdk.io/results/autotest-nightly/builds/816/archive/nvmf-phy-cvl-autotest/build.log

[2022-06-07 22:02] jimharris commented on #2543
I don't think you rebuilt nvmf_tgt.  Commit dacd8ec is a commit on master that would not include my patch.

[2022-06-07 23:16] wanqunintel commented on #2543
my fault, just rebuild the code and the log is as follows, it should be fixed this issue, thank you, @jimharris
_# ./build/bin/nvmf_tgt -i 0 -e 0xFFFF -m 0x3
[2022-06-08 07:12:36.429289] Starting SPDK v22.09-pre git sha1 1ca2de0b5 / DPDK 21.11.0 initialization...
[2022-06-08 07:12:36.429403] [ DPDK EAL parameters: [2022-06-08 07:12:36.429419] nvmf [2022-06-08 07:12:36.429431] -c 0x3 [2022-06-08 07

[2022-06-07 23:51] jimharris commented on #2540
Can you do this again, but without adding the '=' for the rpath-link?

I simply don't see this same problem when omitting the '='.  This gets added to the link line for all SPDK builds - shared and static, using DPDK submodule or system DPDK.

[code]

Anything else different that you can think of in your environment?

[2022-06-08 00:40] jimharris opened #2548 "Some tests do not compile when configured with system installed DPDK"
1) Install system packages for DPDK
2) ```./configure --with-dpdk```
3) make

Discovered while debugging issue #2540.

[2022-06-08 00:51] Comphix commented on #2538
Hi @v1c77 , any update on recent tests regarding this issue?

[2022-06-08 01:53] junzeng1 commented on #2526
@SoftBob what kind of device do you use ? Is the CMB space size of your device is larger than 2MB or less than it ?

[2022-06-08 03:06] brianjmurrell commented on #2531
The disconnect here, it seems to me, is that the libraries are actually already put into a/the `--libdir` but it's just the _pkgconfig_ file(s) that are incorrectly saying they are somewhere else.  So this doesn't seem to me to be strictly just supporting a `--libdir` option but just being consistent between where the libs are being installed and where the _pkgconfig_ files say they are being inst

[2022-06-08 05:53] ksztyber commented on #2520
It's been 3 weeks since this happened and there are no other reports, closing.

[2022-06-08 05:53] #2520 closed

[2022-06-08 07:05] spdkci commented on #2539
Another instance of this failure. Reported by @apaszkie. log: https://ci.spdk.io/public_build/autotest-per-patch_78363.html

[2022-06-08 07:54] wanghailiangx commented on #2539
I will double check it.

[2022-06-08 09:19] spdkci commented on #2268
Another instance of this failure. Reported by @apaszkie. log: https://ci.spdk.io/public_build/autotest-per-patch_78398.html

[2022-06-08 09:20] spdkci commented on #2268
Another instance of this failure. Reported by @apaszkie. log: https://ci.spdk.io/public_build/autotest-per-patch_78401.html

[2022-06-08 09:57] spdkci commented on #2268
Another instance of this failure. Reported by @apaszkie. log: https://ci.spdk.io/public_build/autotest-per-patch_78411.html

[2022-06-08 11:36] jlevon commented on #1999
I'm still seeing this apparently? https://ci.spdk.io/results/autotest-per-patch/builds/78413/archive/crypto-autotest/build.log

[2022-06-08 12:57] karlatec commented on #1999
@jlevon already resolved, minor glitch after changes on infrastructure side

[2022-06-08 13:07] rafalste commented on #2501
Hi @Second222None,
I took the vhost/OCF solution for a ride and couldn't reproduce the error you're describing. I believe your problem may be related to your VM configuration. I've used a simple qemu VM by following [this SPDK vhost target documentation](https://spdk.io/doc/vhost.html).

Although, to be honest, I stumble upon some other problems while using your particular setup:
1. the SPDK/OCF v

[2022-06-08 13:08] mikeBashStuff commented on #2531
Hmm. I think I am confused right now. So the more I look into the SPDK's .pc files, the less I see the actual issue discussed here. So the actual installation for the libs `libdir?=$(CONFIG_PREFIX)/lib` and .pc files also point at that very location. The problem occurs where someone overrides `libdir` upon installation (since we are discussing rpmbuild, I am guessing it happens through the environ

[2022-06-08 13:53] KKaras169169 commented on #2201
I reproduced these dmesg warnings on one of our CI machines (I wrote a script to run sw_hotplug.sh in loop and grep dmesg for the call trace). As you suspected @jimharris the issue reproduces even without the hotplug application running. Does that mean that this is not exaclty an SPDK issue?

[2022-06-08 13:58] bo2yuan commented on #2501
Dear,
Thanks for taking the time to focus on this issue :)!
1. Having a taste of a newer version (especially a newer OCF version) is a good idea.
2. I'm sure the HugePage size in my test is 2MiB, **NOT** 2GiB.  The memory reserved for SPDK is 32768MiB(HUGEMEM=32768 ./scripts/setup.sh). The tested VM configuration is 4 vCPUs, 8GiB DRAM.
3. The filesystem is xfs not FAT and it runs successfully when

[2022-06-08 17:34] spdkci commented on #2483
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_78427.html

[2022-06-08 18:44] jimharris commented on #2201
This seems like a kernel issue to me - It's definitely not a bug in SPDK code at this point, but obviously SPDK has a vested interest in getting this issue resolved.

Can you try to simplify this to a smaller standalone script that we could post to linux-nvme mailing list?

Could you also try adding some small (1 or 2 second) sleeps in the loop that is in remove_attach_helper() in sw_hotplug.sh?

[2022-06-08 22:12] ctuffli commented on #2540
[code]
Could this be a difference with the compiler version?
[code]

[2022-06-08 23:25] jimharris commented on #2540
Thanks @ctuffli.

Well, the = is supposed to be there.  But I cannot explain why no one has ever seen this problem - this has been in place in SPDK like this for a couple of years and run on a huge variety of systems across the entire SPDK community.  I would really like to understand what is different with your system that it is all of a sudden catching this as a problem.

But the real fix for th

[2022-06-08 23:34] jimharris commented on #2548
https://review.spdk.io/gerrit/c/spdk/spdk/+/12982

[2022-06-09 00:09] #2538 closed

[2022-06-09 00:36] brianjmurrell commented on #2531
I'm not surprised at your confusion.  It does seem confusing that there is no existing `-libdir` `configure` option and as such how can an RPM installation possibly be installing libraries in to `/usr/lib64/`.  It really does seem that there needs to be a `--libdir` `configure` option to align with _autotools_' `configure`.

In any case, here's our' [`specfile`](https://github.com/daos-stack/spdk/

[2022-06-09 01:02] #2545 closed

[2022-06-09 01:17] changpe1 commented on #2533
Yes, the hotplug example can be used as secondary process, you can run it as primary process.

[2022-06-09 01:34] warrick3050 commented on #2533
@changpe1
If so, is the method I tested wrong?
Could you point me to what's wrong with the example I tested above?

[2022-06-09 01:39] changpe1 commented on #2533
typo of above reply. hotplug can't be used as secondary process.

[2022-06-09 01:44] warrick3050 commented on #2533
@changpe1
Okay.. If so, is it impossible to implement due to the architecture, or is there a support plan?

[2022-06-09 01:49] spdkci commented on #2018
Another instance of this failure. Reported by @richael02. log: https://ci.spdk.io/public_build/autotest-per-patch_78415.html

[2022-06-09 01:54] changpe1 commented on #2533
The primary process can own all SSDs and enable hotplug within it, then secondary can do normal IOs, does this work for you? if so, SPDK doesn't need to add anything more, we already support it.

[2022-06-09 02:04] spdkci commented on #2018
Another instance of this failure. Reported by @richael02. log: https://ci.spdk.io/public_build/autotest-per-patch_78472.html

[2022-06-09 02:12] changpe1 commented on #2544
patch has been merged, closing it.

[2022-06-09 02:12] #2544 closed

[2022-06-09 02:26] warrick3050 commented on #2533
@changpe1
Unfortunately, what I want is to enable hotplug in the secondary process..

[2022-06-09 03:22] changpe1 commented on #2543
patch has been merged and verified, closing it now.

[2022-06-09 03:22] #2543 closed

[2022-06-09 03:58] #2325 closed

[2022-06-09 04:42] dong-liuliu commented on #2430
@MengjinWu ，any update on this issue?

[2022-06-09 05:58] dong-liuliu commented on #2455
It really strange and hard to find a digging point.
I tried to comment out the nbd related operations in nbd test. It still report the same asan error.
[code]
now I treat bdev_svc as a new suspect.

[2022-06-09 06:14] junwenx opened #2549 "[llvm_fuzz] llvm fuzz test failed in CI with llvm_nvme_fuzz.c:242:30: runtime error: left shift of 177 by 24 places cannot be represented in type 'int'"
# Bug report

llvm fuzz test failed in CI with llvm_nvme_fuzz.c:242:30: runtime error: left shift of 177 by 24 places cannot be represented in type 'int'

## Expected Behavior

test can pass

## Current Behavior

CI job raise an error: llvm_nvme_fuzz.c:242:30: runtime error: left shift of 177 by 24 places cannot be represented in type 'int'. But it can't be reproduce on local machine.

## Steps to

[2022-06-09 06:34] KKaras169169 commented on #2201
Will do. Thanks!

[2022-06-09 06:43] dong-liuliu commented on #2455
Oh, it might be not related to  bdev_svc itself.
After commenting out nbd_function_test, the same error occured in the remaining test cases, like
'''
run_test "nvme_reset" $testdir/reset/reset -q 64 -w write -s 4096 -t 5
'''
https://ci.spdk.io/results/autotest-per-patch/builds/78479/archive/nvme-vg-autotest/build.log

[2022-06-09 09:00] KKaras169169 commented on #2201
I have added sleeps for 2 seconds in the places that you mentioned @jimharris and that did not make a difference - the same dmesg warnings were thrown.

About simplifying the sw_hotplug.sh script, I have come up with something like this:
[code]

I incorporated a script that I used to loop the software hotplug and break upon detecting "Call trace" in messages from last 10 hotplug operations. The on

[2022-06-09 11:16] tomzawadzki commented on #2534
Patch with fix https://review.spdk.io/gerrit/c/spdk/spdk/+/12993/. It has been tested against rocky8 job with RUN_NIGHTLY=1, to run `build_shared_rpm_with_rpmed_dpdk `.

[2022-06-09 12:11] spdkci commented on #2018
Another instance of this failure. Reported by @richael02. log: https://ci.spdk.io/public_build/autotest-per-patch_78501.html

[2022-06-09 12:39] spdkci commented on #2018
Another instance of this failure. Reported by @richael02. log: https://ci.spdk.io/public_build/autotest-per-patch_78509.html

[2022-06-09 12:54] spdkci commented on #2018
Another instance of this failure. Reported by @richael02. log: https://ci.spdk.io/public_build/autotest-per-patch_78511.html

[2022-06-09 13:01] spdkci commented on #2483
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_78507.html

[2022-06-09 13:23] spdkci commented on #2018
Another instance of this failure. Reported by @richael02. log: https://ci.spdk.io/public_build/autotest-per-patch_78515.html

[2022-06-09 13:37] spdkci commented on #2018
Another instance of this failure. Reported by @richael02. log: https://ci.spdk.io/public_build/autotest-per-patch_78516.html

[2022-06-09 13:53] spdkci commented on #2018
Another instance of this failure. Reported by @richael02. log: https://ci.spdk.io/public_build/autotest-per-patch_78517.html

[2022-06-09 14:07] spdkci commented on #2018
Another instance of this failure. Reported by @richael02. log: https://ci.spdk.io/public_build/autotest-per-patch_78518.html

[2022-06-09 14:24] jimharris commented on #2018
Hi @richael02.  Please rebase this patch (and others) on latest master.  Your patches are failing because they are based on patches before the 22.05 release.

[2022-06-09 14:50] spdkci commented on #2018
Another instance of this failure. Reported by @richael02. log: https://ci.spdk.io/public_build/autotest-per-patch_78522.html

[2022-06-09 15:03] spdkci commented on #2201
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_78465.html

[2022-06-09 17:59] jimharris commented on #2549
And if it does, we need to make this same fix in several other fuzzers in this file.

[2022-06-09 18:09] AlekseyMarchuk commented on #2541
That is interesting. I'll be on vacation next week, will take a closer look later

[2022-06-09 20:07] jimharris commented on #2201
That's interesting.

Could you try making the sleeps even longer, 10 seconds.  Assuming that still fails, also add one between the unbind and bind operations.

Assuming that still fails, can you check the dmesg after each sleep expires.  Let's see which operation is the one that triggers the call trace.

Yes, we will need to get rid of the setup.sh call.  The goal here is to possibly give this scr

[2022-06-10 02:29] junwenx commented on #2549
@jimharris @ksztyber Thank you all, is it need a patch to fix it? And I don't understand one thing, why it can't be  reproduced on my local machine?

[2022-06-10 02:41] yidong0635 commented on #2549
If you want to catch this issue, it depends on the analyzer version. Add we can add a macro here.

[2022-06-10 04:24] yidong0635 commented on #2549
Add a patch here: https://review.spdk.io/gerrit/c/spdk/spdk/+/13005

[2022-06-10 05:25] spdkci commented on #2453
Another instance of this failure. Reported by @yupeng0921. log: https://ci.spdk.io/public_build/autotest-per-patch_78532.html

[2022-06-10 06:04] spdkci commented on #2453
Another instance of this failure. Reported by @yupeng0921. log: https://ci.spdk.io/public_build/autotest-per-patch_78540.html

[2022-06-10 08:30] spdkci commented on #2539
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_78543.html

[2022-06-10 17:15] jimharris commented on #2548
Patch merged.

[2022-06-10 17:15] #2548 closed

[2022-06-10 17:17] jimharris commented on #2540
Hi @ctuffli,

This patch has been merged.  Could you confirm this works in your environment?  And if so, go ahead and close this issue.

Thanks,

Jim

[2022-06-10 18:04] jimharris commented on #2350
#2308 has been closed, and this one hasn't occurred since January, so closing.

[2022-06-10 18:07] jimharris commented on #2263
Closing.  @benqwu, if you are able to provide the information requested, please reopen.

[2022-06-10 18:07] #2263 closed

[2022-06-10 18:15] jchachux opened #2550 "[vhost vs qemu] Program terminated with signal SIGSEGV, Segmentation fault."
# Fail while executing `vhost-vs-qemu`

## Link to the failed CI build

`vhost-vs-qemu` test job 299

## Execution failed at

[code]

[2022-06-12 05:50] dawin2015 opened #2551 "[fio-plugin]use `bdev_malloc_create' to creat bdev, fio-plugin set sequence write, but iops is under 2000 and fio finished in about 20ms(size=1000G, iodepth=256, bs=2M)"
# Bug report
use `bdev_malloc_create' to creat bdev, fio-plugin set sequence write, but iops is under 2000 and fio finished in about 20ms(size=1000G, iodepth=256, bs=2M)

[code]

## Expected Behavior
expect to test the iops with sequenc write

## Current Behavior
squence write iops is about 1300(rand write is about 90W iops in same conditions) and fio-plugin finished in about 20ms, no matter data

[2022-06-12 05:58] dawin2015 commented on #2551
result:
[code]

[2022-06-12 22:01] ctuffli commented on #2540
This project requires specific versions of several open-source libraries including SPDK. To maintain my sanity, I'm using [pkgsrc](https://www.pkgsrc.org/) to fetch, patch, build, etc. all of the libraries and their dependencies. pkgsrc employs "cwrappers":

So while it ultimately uses gcc 10.3.0, `cc` is actually
[code]
which, among other things, tokenizes the command line. `strace --trace=proces

[2022-06-13 02:37] changpe1 commented on #2551
I don't think the test case is useful to prove something, you created a 32MiB malloc device, and test it with bs=2MiB and qd=256, we usually use a malloc bdev to test more complicated scenarios, e.g NVMf, iSCSI, Vhost.

[2022-06-13 02:42] changpe1 commented on #2550
@jchachux can you list the failure web page here, I want to know more information about the failure, e.g: QEMU version.

[2022-06-13 03:11] changpe1 commented on #2533
I don't think we will support hotplug in secondary process, closing this issue now.

[2022-06-13 03:11] #2533 closed

[2022-06-13 03:21] dawin2015 commented on #2551
The purpose of this test is to test the impact of different hugepages on iops. I don't know if create malloc device using bdev_malloc_create 32MB is enough, but refer to the configuration under test/bdev/blockdev.sh.  Or is it inappropriate to use memory devices to test iops?

[2022-06-13 05:55] spdkci commented on #2483
Another instance of this failure. Reported by @wanghailiangx. log: https://ci.spdk.io/public_build/autotest-per-patch_78653.html

[2022-06-13 07:09] jchachux commented on #2550
Unfortunately this job is not publicly available.

I attached full log file:
[vhost-vs-qemu299.txt](https://github.com/spdk/spdk/files/8888797/vhost-vs-qemu299.txt)
.

[2022-06-13 07:32] Apokleos opened #2552 "vhost user set_mem_table cost much time during vhost-user-blk negotiating with cloud-hypervisor"
# Bug report
In my scenario,  time of creating a VM must be limited to 4s. However, only the vhost-user backend and frontend negotiation costs  8654361.000000 (us). Obviously it's not acceptable.
(1) SPDK main thread monitor indicates that `VHOST_USER_SET_MEM_TABLE` costs a long time, as below:
[code]
(2) Deep into spdk/dpdk, get the place `vhost_user_mmap_region` and further locate to ```	mmap(NU

[2022-06-13 07:48] changpe1 commented on #2552
Do you have a physical PCI device that bind to kernel vfio driver?
Some users complained about the time when registering vhost memory region to vfio device fd via IOCTL, it's the first time that I see the time is consumed in MMAP.

[2022-06-13 08:16] balamsg opened #2553 "NVMe Over TCP: SPDK_BDEV_IO_STATUS_ABORTED is not handled in the Fuse command"
# Bug report

The SPDK_BDEV_IO_STATUS_ABORTED is not handled in the spdk_bdev_io_get_nvme_fused_status( ) of the fuse command. So, when the abort is issued for the fuse command it returns with the error code as SPDK_NVME_SC_INTERNAL_DEVICE_ERROR. But as per the NVMe spec when a command is aborted it should return SPDK_NVME_SC_ABORTED_BY_REQUEST.

## Expected Behavior
When the abort command is issu

[2022-06-13 08:21] Apokleos commented on #2552
No, I set `DRIVER_OVERRIDE=uio_pci_generic` when setup.sh. and I just use `bdev_aio_create ` to create a raw disk with linux `dd`.

Do you mean that it relates to vfio with the mssage `EAL: VFIO support not initialized
EAL: Couldn't map new region for DMA` ?
[code]
and with my shell scripts:
[code]

[2022-06-13 08:50] changpe1 commented on #2552
do you use hugepages for the VM?

[2022-06-13 09:21] changpe1 commented on #2553
@balamsg would you like to provide a fix patch for this issue?

[2022-06-13 09:21] Apokleos commented on #2552
1. SPDK: I have set huge pages with `sysctl -w vm.nr_hugepages=12288`,but setup.sh with default HUGEMEM:2048
2. I did not set memory with hugepages=on but set the share=on.
A little better now!!!
After that, I set `hugepages=on` and the clh cmd `"--cpus boot=8 --memory size=${MEMOR},shared=on,hugepages=on"` and the memory table negotiation consumption reduces to `VHOST_CONFIG: Negotiate Cost 40632

[2022-06-13 09:27] changpe1 commented on #2552
can you also add  `prealloc=yes` to see it helps or not?

[2022-06-13 09:57] Apokleos commented on #2552
@changpe1 Thank you very much. Good news.
Though there's no `prealloc=yes` but `prefault=on` , and I set the cmd as `MACHINE="--cpus boot=8 --memory size=${MEMOR},shared=on,hugepages=on,hugepage_size=2M,prefault=on"`  and the negotiation consumption reduces to `VHOST_CONFIG: Negotiate Cost 9614.000000 (us)`.

But, I'm confused with the cloud-hypervisor [prefault](https://github.com/cloud-hyperviso

[2022-06-13 13:00] balamsg commented on #2553
Hi @changpe1 , can you please review the patch
https://review.spdk.io/gerrit/c/spdk/spdk/+/13025

[2022-06-13 20:34] davidcs12 opened #2554 "Potential NULL pointer access in nvmf_ctrlr_cc_timeout()"
# Bug report
During "controller shutdown" **nvmf_ctrlr_cc_timeout** is registered/armed  in **nvmf_prop_set_cc()**
[code]
Thereafter the following sequence of calls are made.

[code]

 **ctrlr->admin_qpair** is set to NULL in **_nvmf_transport_qpair_fini_complete()**

[code]
Now nvmf_ctrlr_cc_timeout() is unregistered/disarmed in
**_nvmf_ctrlr_cc_reset_shn_done()** and **nvmf_ctrlr_cc_timeout()**

[2022-06-13 20:35] davidcs12 commented on #2554
Adding  @ksztyber @shuhei-matsumoto @mkotwani1

[2022-06-13 21:38] shuhei-matsumoto commented on #2554
Hi @davidcs12

_nvmf_transport_qpair_fini_complete() sets ctrlr->admin_qpair to NULL only if qpair_ctx->qid is 0.

nvmf_ctrlr_disconnect_io_qpairs_on_pg() excludes admin qpair by setting the second parameter of _nvmf_ctrlr_disconnect_qpairs_on_pg() to false.

_nvmf_ctrlr_disconnect_qpairs_on_pg() skips admin qpair if the parameter include_admin is false.

spdk_nvmf_qpair_disconnect() for admin qpa

[2022-06-14 00:55] davidcs12 commented on #2554
Hi @shuhei-matsumoto
thanks for the response. You are correct. The call sequence which triggers this should be different from the one I mentioned above. It appears that the only two cases where "ctrlr->admin_qpair == NULL" are
1. ctrlr was added but an admin_qpair was not assigned to it.
2. in _nvmf_transport_qpair_fini_complete()  if qpair_ctx->qid is 0.

Will investigate further.

[2022-06-14 01:30] pvonti opened #2555 "Segfault in thread_execute_timed_poller() at thread.c:872 after qpair_handle_timeout poller gets unregistered from qpair destroy"
# Bug report

With fixes for SPDK bugs 2445, 2471 and 2527 added, see Segfault in thread_execute_timed_poller() at thread.c:872 during SPDK target shutdown and qpair destroy.

## Expected Behavior

Process restart with IOs on 8 nvme devices, should result in a clean SPDK target shutdown and SPDK thread exit of all SPDK threads.

## Current Behavior

With 20 iterations of process restart with 10 vo

[2022-06-14 01:47] pvonti commented on #2555
Hello @ksztyber, can you please take a look at the issue. I am seeing this issue with fix for 2527.

[2022-06-14 02:54] junwenx commented on #2552
@Apokleos Hi, what kind of tool you use to start vm? It looks not qemu, could you please paste the whole cmd about it? I want to  try it on my machine. Thanks a lot.

[2022-06-14 02:59] changpe1 commented on #2552
it's cloud-hypervisor, not qemu. we don't provide such test cases.

[2022-06-14 03:01] junwenx commented on #2552
@changpe1 Thanks Changpeng, I understood. Thank you.

[2022-06-14 03:05] shuhei-matsumoto commented on #2554
Thank you @davidcs12 I want to wait for your further investigation

[2022-06-14 07:46] changpe1 opened #2556 "Test case "confirm_makefile_deps" in check_so_deps.sh isn't accurate"
# Bug report

One of my patch got failure in CI environment via the following log:

https://ci.spdk.io/results/autotest-per-patch/builds/78130/archive/autobuild-vg-autotest/build.log
https://review.spdk.io/gerrit/c/spdk/spdk/+/12315

00:08:58.322  START TEST confirm_makefile_deps
00:08:58.322  ************************************
00:08:58.322  ------------------------------------------------------

[2022-06-14 07:52] changpe1 commented on #2556
@mikeBashStuff could you take a look?

readelf outputs : 'bdev jsonrpc json log **nvmf** rpc thread util vfio_user_target'

nvmf is the false dependency library reported by "confirm_makefile_deps". thanks.

[2022-06-14 09:03] mikeBashStuff commented on #2556
@changpe1 Sure, will check it out.

[2022-06-14 09:28] Apokleos commented on #2552
Thank you @changpe1  problem now is solved, the issue is closed now.

[2022-06-14 09:28] #2552 closed

[2022-06-14 09:34] mikeBashStuff commented on #2556
@changpe1 Here's the WIP patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/13033 Would you kindly take a look? I am not sure if that's the correct approach - I based that solely on your suggestion here:

Let me know if I understood it right. :) Also, I thought that `readelf`'s view always takes precedence (unless some specific exceptions are needed like for `env_dpdk`, etc.), that's why I don't r

[2022-06-14 10:49] tomzawadzki commented on #2550
@jchachux please always provide all the necessary details to reproduce the issue and other relevant details for any testing.

In this particular case this backtrace the attached log was for https://github.com/qemu/qemu/commit/6d940eff4734bcb40b1a25f62d7cec5a396f994a.
The failure started to occur between https://github.com/qemu/qemu/commit/9b1f58854959c5a9bdb347e3e04c252ab7fc9ef5 and https://github

[2022-06-14 11:22] tomzawadzki commented on #2551
I believe @changpe1 meant to carefully consider the test scenario. Memory devices can be useful to test specific scenarios.
In this case, the FIO parameters that were not configured for testing anything in meaningful way - regardless whether SPDK or any other backend is used.
Please consider that QD (queue depth) of 256 with BS (block size) of 2MiB, means that outstanding requests already exceed t

[2022-06-14 11:23] #2549 closed

[2022-06-14 11:26] tomzawadzki commented on #2528
Thanks @changpe1 ! Patches linked are now part of the upstream QEMU.
If there any change on SPDK you've wanted to do regarding this issue, or can it be closed ?

[2022-06-14 13:39] KKaras169169 commented on #2201
The final, simplified script that I would like to submit to the kernel people looks like this:

[code]

I tested this on 3 separate virtual machines and all of them threw the same dmesg warning:

All of those VMs were built with:

`./spdk/scripts/vagrant/create_vbox.sh -n 10 -s 12288 -x http://proxy-dmz.intel.com:911 -p libvirt --qemu-emulator=/usr/local/qemu/vanilla-v6.0.0/bin/qemu-system-x86_64

[2022-06-14 14:02] changpe1 commented on #2528
No patches are required from SPDK side, I think we can close this issue.

[2022-06-14 14:18] mikeBashStuff commented on #2556
Ok, this definitely needs a bit more work. When I have something more concrete will push for review.

[2022-06-14 14:57] pvonti commented on #2555
Hi @ksztyber,

1. Can the qpair handle timepout poller get unregistered from qpair disconnect context when the poller is running? I'll add debug logs and try to reproduce the issue again.

2. I have not tried to reproduce the issue with upstream target apps. Issue was seen with SPDK target integrated with HPE OS.

[2022-06-14 15:03] tomzawadzki commented on #2424
Bug scrub: closing the issue due to lack of reproduction in the last 3 weeks.

[2022-06-14 15:03] #2424 closed

[2022-06-14 15:07] tomzawadzki commented on #2540
Bug scrub: @jimharris thank for the fix !

[2022-06-14 15:12] tomzawadzki commented on #2531
Bug scrub: @mikeBashStuff Could you submit the https://review.spdk.io/gerrit/c/spdk/spdk/+/12978 patch for review (remove the WIP) ? It seems like a fine solution that we could go ahead with.

[2022-06-14 15:23] #2310 closed

[2022-06-14 15:25] ksztyber commented on #2519
Patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/12920

[2022-06-14 15:29] tomzawadzki commented on #2517
Bug scrub: @kgodzwox Could you try to narrow down the steps for reproduction outside of the autotest nightly and post them here ?

[2022-06-14 20:55] mikeBashStuff commented on #2556
@jimharris Appreciate the feedback and thanks for stepping in. With your comment in mind, I will just abandon my patches as you are definitely ahead of me with this one. :)

[2022-06-15 00:06] changpe1 commented on #2556
sure, let me have a check first.

[2022-06-15 03:50] changpe1 commented on #2556
thanks to @jimharris @mikeBashStuff  with the fix patch https://review.spdk.io/gerrit/c/spdk/spdk/+/13041,  my other patches passed the CI now.

[2022-06-15 06:12] changpe1 commented on #2551
Do you mean the malloc device performance differences when using 2MiB hugepages or 1GiB hugepages? Or the NUMA impact on the performance numbers?

But anyway I think you need a big Malloc device capacity for testing.

[2022-06-15 08:09] #2534 closed

[2022-06-15 09:09] KKaras169169 commented on #2201
Quick update:
I reproduced this issue on both fedora34 and fedora33 with a single zns nvme device.
Maybe this is a QEMU issue after all?
I will run a few more tests on fedora 35, and if I can reproduce it there, I will build a different QEMU and test again.

[2022-06-15 09:46] anonsurnfmi opened #2557 "Exception has occurred. when deleting an raid bdev, which has a failty base bdev."
# Bug report
Exception has occurred. when deleting an raid bdev, which has an unexist base bdev.

## Steps to Reproduce
[Step 1]. Create Raid Bdev using an unexist bdev,
    rpc-cmd:    rpc.py bdev_raid_create -n "raid0" -z 64 -r 0 -b "disk0n1 disk1n1 disk2n1"
   ( disk2n1 is a failty base bdev)
    Expected Behavior:  create success
    Current Behavior:    create success

[Step 2]. delete Raid B

[2022-06-15 10:45] Comphix commented on #2557
For below creation, as disk2n1 is a failty base bdev, any logs from the creation? Not sure whether this is relating to the free operation.

[code]

[2022-06-15 15:39] spdkci commented on #2483
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_78664.html

[2022-06-15 16:09] jimharris commented on #2557
Hi @anonsurnfmi,

Can you provide a specific set of instructions I can use to reproduce the assert you are seeing?  I tried the following and was not able to hit an assert:

Terminal 1:
[code]

Terminal 2:
[code]

Can you also describe what is meant by a "failty base bdev"?  Do you mean "faulty"?  And if so, faulty in what way?

Thanks,

Jim

[2022-06-15 18:10] jimharris commented on #2201
Possibly.  I just posted something on our zns Slack channel.  I think you've narrowed this down a ton, and suspect that Klaus and Niklas will be able to guide us from here.

[2022-06-15 18:13] jimharris commented on #2540
Thanks @ctuffli for the extra detail.  That definitely answers why we didn't see this until now, and confirms that patch was the right fix.

[2022-06-16 00:53] yidong0635 commented on #2455
I ran these locally and with compiling manually and can't reproduce any issue.

[2022-06-16 01:55] anonsurnfmi commented on #2557
"disk2n1" can be an arbitrary bdev name，be sure that dose not exist in the bdev list.
The bdev_raid_create returns success even if the bdev name does not exist.

You can reproduce it as above.

[2022-06-16 02:05] anonsurnfmi commented on #2557
Terminal 1:
./configure --enable-debug **--enable-debug**
make
build/bin/nvmf_tgt

Terminal 2:
scripts/rpc.py bdev_raid_create -n raid0 -z 64 -r 0 -b "nonexist_bdev0 nonexist_bdev1"
scripts/rpc.py bdev_raid_get_bdevs all
scripts/rpc.py bdev_raid_delete raid0

You don't have to create any bdev, "nonexist_bdev0 nonexist_bdev1" are not actually exist.
and bdev_raid_get_bdevs will return success anywa

[2022-06-16 03:12] balamsg commented on #2553
astyling issues were there... Fixed it & submitted the patch again..
Please review it.

[2022-06-16 04:11] dawin2015 commented on #2551
NUMA impact is not under consideration. One of the concerns is different pagesizes, such as pagesizes to 2MiB or 1GiB. Another concern is the total number of page, such as the impact on iops under different configurations by setting nr_hugepages to 512, 1024 and 2048 with pagesizes=2MiB.

Thanks for @changpe1 's suggestion. Big Malloc device work for me.

[2022-06-16 11:06] balancezhou commented on #2057
@jimharris @changpe1 @Comphix The latest version of spdk has increased the number of luns supported from 64 to 256（SPDK_SCSI_DEV_MAX_LUN = 256）, can we increase this value, for example, to 16384 or more, what is the reason that we set it 256? .

[2022-06-16 11:16] shuhei-matsumoto commented on #2057
Hi @balancezhou

One of the reasons was difficult to test more than 256LUNs. Another reason was LUN addressing. Linux has its own LUN addressing which is not compliant with SCSI spec. I did not have strong motivation to follow such customized addressing at that time. Of course, your contribution is very welcome.

[2022-06-16 11:25] shuhei-matsumoto commented on #2057
Add one more comments, as I wrote in https://github.com/spdk/spdk/commit/5e87727596e206b19788a4de1105949c73afbe57, most OSes support up to 256LUNs. So 256 was enough.

[2022-06-16 20:30] peluse commented on #2486
expect to submit kernel patch to address this issue no later than next week (going through an internal review real quick).

[2022-06-17 00:33] Comphix commented on #2557
Yes, this issue could be reproduced and will take a look at the fix.

[code]

[2022-06-17 03:02] Comphix commented on #2557
Raised the patch as following:

https://review.spdk.io/gerrit/c/spdk/spdk/+/13061

[2022-06-17 06:25] spdkci commented on #2483
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_78824.html

[2022-06-17 09:31] mikeBashStuff commented on #2531
@tomzawadzki Sorry for the delay - I just rebased the patch and removed the WIP from the commit message as requested.

[2022-06-17 09:34] skypexu opened #2558 "bdev aio reported error"
# Bug report

bdev aio module reported following errors:

[2022-06-17 16:21:48.764417] bdev_aio.c: 362:bdev_aio_io_channel_poll: *ERROR*: failed to complete aio: requested len is 16384, but completed len is 4194304.
[2022-06-17 16:21:48.764561] bdev_aio.c: 362:bdev_aio_io_channel_poll: *ERROR*: failed to complete aio: requested len is 16384, but completed len is 4177920.
2022-06-17 16:21:48.764585

[2022-06-17 09:46] changpe1 commented on #2558
@skypexu we can't follow up this issue unless you can provide more information.

[2022-06-17 11:29] mikeBashStuff opened #2559 "nvme-vg-autotest job hits timeout during nvme_single_aen test"
https://ci.spdk.io/results/autotest-per-patch/builds/78826/archive/nvme-vg-autotest/build.log

Point of failure:
[code]
This test was introduced quite recently: fb12887fd8bba3abdb788e99d3b60d03dfe36415

[2022-06-18 09:42] spdkci commented on #2483
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_78829.html

[2022-06-20 09:56] #2140 closed

[2022-06-20 10:02] #2553 closed

[2022-06-20 10:34] abbycin opened #2560 "spdk_nvmf_qpair_disconnect segfault"
# Bug report

![图片](https://user-images.githubusercontent.com/6814167/174582390-851526f4-9844-4fad-84ad-5469a3b7b6e0.png)

it seems use after free, the `qpair->group` is invalid

![图片](https://user-images.githubusercontent.com/6814167/174582539-4abf45ae-3dd2-49eb-9e28-d6efd01289a3.png)

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce
it's hard to reproduce, i

[2022-06-20 19:27] glimchb commented on #1939
@jimharris @tomzawadzki can you please close this issue ? we merged NVMe/TCP TLS support here https://github.com/spdk/spdk/commit/2fb5ff4985d5d7020f284a78202b5181cd4ec1ea

[2022-06-20 19:53] ericcurtin commented on #1939
Go @glimchb 🎉🎉🎉 I'm glad someone got to this. Felt guilty not finishing it, I just had too much on my plate. Stuck in libcamera/graphics world now. I hope my start was at least somewhat helpful. Funnily enough this could be helpful in an automotive context in future. Intercepting data in transit between an ECU and a automotive storage device is probably more likely than in a data centre.

[2022-06-20 20:52] #1939 closed

[2022-06-21 00:37] yidong0635 commented on #2560
It seems that the codes have been changed a lot,  Could you check the latest SPDK?

[2022-06-21 05:42] shuhei-matsumoto opened #2561 "Bdev queue depth sampling is broken in SPDK 22.05"
# Bug report

This degradation was reported by @EugeneKochetov

By the commit https://github.com/spdk/spdk/commit/f41248ffdeb446047f8c98bbeb61007c45bbc680

the RPC bdev_set_qd_sampling_period updates bdev->internal.period and register bdev->internal.qd_poller, but both are cleared immediately.

Additionally, the queue depth sampling feature was not stable. If the RPC bdev_set_qd_sampling_period an

[2022-06-21 05:52] Comphix commented on #2561
Yes, already raised the patch as following:

https://review.spdk.io/gerrit/c/spdk/spdk/+/13016

[2022-06-21 06:03] shuhei-matsumoto commented on #2561
Thanks @Comphix How about this https://review.spdk.io/gerrit/c/spdk/spdk/+/13072 ?

I can abandon this but do you find anything to have interest in?
I will check comments on your patch.

[2022-06-21 06:28] spdkci commented on #2453
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_78889.html

[2022-06-21 09:28] Comphix commented on #2561
Thanks Shuhei.

Both ok for me. I could revise my patch based on your comments. Or we could use your patch to fix this issue.

Looks like the fix is similar :).

[2022-06-21 10:00] spdkci commented on #2559
Another instance of this failure. Reported by @kgodzwox. log: https://ci.spdk.io/public_build/autotest-per-patch_78834.html

[2022-06-21 10:03] kgodzwox commented on #2546
https://review.spdk.io/gerrit/c/spdk/spdk/+/13019

[2022-06-21 18:31] jimharris commented on #2559
Hi @curtbruns - can you take a look at these intermittent failures?  Or let us know if we should revert this test for now.

[2022-06-21 19:24] peluse opened #2562 "[ocf_remove] jq error, broken pipe"
00:07:28.878  TELEMETRY: No legacy callbacks, legacy socket not created
00:07:28.878  [2022-06-21 17:35:43.434434] app.c: 575:spdk_app_start: *NOTICE*: Total cores available: 1
00:07:29.158  [2022-06-21 17:35:43.601876] reactor.c: 919:reactor_run: *NOTICE*: Reactor started on core 0
00:07:29.158  [2022-06-21 17:35:43.602959] accel_engine.c: 970:sw_accel_engine_init: *NOTICE*: Accel framework softw

[2022-06-21 20:38] jimharris commented on #2562
@peluse - this one needs to be double-checked too.  It is also not related to this report.

Since both of these logs point to different issues, I think this issue needs to be closed.

[2022-06-21 20:58] shuhei-matsumoto commented on #2561
Thank you @Comphix @jimharris  Sounds good to me.

[2022-06-21 21:39] jimharris commented on #2562
Hmmm, yeah both of those are pointing to the same patch revision.  My guess is it is related to the patch getting marked WIP right after it got retriggered.  So we should ignore the 78945 log failure.

Can you please double-check that log?  The failing log that I see from the 78939 failure doesn't include any of the text in the original description.

[2022-06-21 23:28] peluse commented on #2562
@jimharris you got it, I'll triple check in the morning.  Maybe I'm clicking the wrong tabs in Chrome :)

[2022-06-22 00:37] Comphix commented on #2561
Sure. I will follow up on this. Thanks Shuhei and Jim.

[2022-06-22 06:50] spdkci commented on #2539
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_78968.html

[2022-06-22 08:56] changpe1 commented on #2560
@abbycin can you provide more information when the issue happen? e.g: ctrlr information.

[2022-06-22 08:58] changpe1 commented on #2560
The `qpair->state` 33022 is weird to me, we don't have such state definition in SPDK.

[2022-06-22 16:08] #2562 closed

[2022-06-22 17:23] spdkci commented on #2559
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_79005.html

[2022-06-22 19:45] peluse opened #2564 "[nvme_phy_autotest] Failures in nvme_single_aen"
Some errors like this:

START TEST nvme_single_aen
....
....

00:04:42.406  [2022-06-22 20:51:42.694654] nvme_ctrlr.c:1621:nvme_ctrlr_disconnect: *NOTICE*: [0000:84:00.0] resetting controller
00:04:42.406  [2022-06-22 20:51:42.694685] nvme_pcie_common.c: 292:nvme_pcie_qpair_insert_pending_admin_request: *ERROR*: The owning process (pid 547306) is not found. Dropping the request.
00:04:42.406  [202

[2022-06-22 19:46] spdkci commented on #2564
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_79008.html

[2022-06-22 20:15] jimharris commented on #2564
Duplicate of #2559.

[2022-06-22 20:15] #2564 closed

[2022-06-22 21:08] mhae commented on #2541
Hi @AlekseyMarchuk, I'm not sure this code block in nvmf_rdma_qpair_destroy is correct:
[code]
We are just completing the requests on the nvmf side but the IO can still be somewhere in the backend (e.g. bdev_nvme/nvme) and completed a little bit later. But here we essentially complete and free requests that can be reused, leading to a potential data corruption.

[2022-06-23 00:38] changpe1 commented on #2557
Patch has been merged, closing this issue now.

[2022-06-23 02:08] changpe1 commented on #2385
The issue here doesn't exist with vhost-blk/scsi, so closing it now. @YamboZhou as I mentioned above, you may need to add fixes in QEMU to close old CQ FDs when VM rebooting.

[2022-06-23 02:08] #2385 closed

[2022-06-23 03:17] changpe1 commented on #2447
@Comphix can you take a look of this issue? thanks. I'm thinking that 5 seconds of IOPS data collecting is too short for this test case.

[2022-06-23 03:34] Comphix commented on #2447
Sure.

[2022-06-23 07:13] shuhei-matsumoto commented on #2561
@Comphix @jimharris

Thanks for today's meeting. After the meeting, I am thinking we always open with qd_desc at bdev registration, and we always close with qd_desc at bdev unregistration. Then when period is changed, start qd_poller. qd_desc->thread is always set. Even this, the patch is complex and I am thinking now. I will let you know when my idea is fixed.

[2022-06-23 07:43] #2546 closed

[2022-06-23 07:43] #2556 closed

[2022-06-23 08:05] tomzawadzki commented on #2460
Please see following patch as a workaround https://review.spdk.io/gerrit/c/spdk/spdk/+/13405/, until the actual issue is addressed.

[2022-06-23 08:06] warrick3050 opened #2565 "Multiple-process mode does not work properly when device is in read only mode"
# Bug report

Multiple-process mode does not work properly when device is in read only mode

## Expected Behavior

1. check device status read-only mode
2. execute spdk_tgt with -i [--shm-id] option
3. Execute build/examples/hello_world with -i [--shm-id] option
-> Fails in read-only mode, but subsequent commands should work
4. Execute build/examples/identify with -i [--shm-id] option
-> perform n

[2022-06-23 10:12] qiubinren opened #2566 "[RocksDB-SPDK] process deadlock and failed to load blobfs on bdev after kill"
# Problem Statement

I use blobfs and aio bdev as the underlying storage of rocksdb.

rocksdb use wal and sync

bdev config:

[code]

some error logs appear in /var/log/message at runtime:

[code]

then all threads in my process are blocked on the put operation of rocksdb

[code]

the problem seems to be caused by spdk

[code]

finally I killed my progress and I try to mount blobfs through fuse

b

[2022-06-23 10:15] abbycin commented on #2560
[2300.txt](https://github.com/spdk/spdk/files/8966233/2300.txt)

@yidong0635  @changpe1
the text is gdb log from another core, I'm not sure it's useful or not

[2022-06-24 02:39] shuhei-matsumoto commented on #2561
Hi @Comphix @jimharris

Please take a look at https://review.spdk.io/gerrit/c/spdk/spdk/+/13072

[2022-06-24 05:07] yidong0635 commented on #2560
@abbycin From the log we can see:
you are using a newer target with gdb opening an old coredump file, that's why it reports  can't find the source file.
and you can tracing this with gdb always on:
1. gdb --args ./build/bin/nvmf_tgt XXXX
2. handle SIGINT nostop pass

I'm afraid the issue was fixed  already.
@changpe1 What's your opinion?

[2022-06-24 07:34] skypexu commented on #2558
I found spdk aio driver does not respect length arguments, instead it uses
iovec.iov_len instead:

struct iovec {
               void  *iov_base;    /* Starting address */
               size_t iov_len;     /* Number of bytes to transfer */
           };

I dont object this behavior, so the PR can be closed.

[2022-06-24 07:34] #2558 closed

[2022-06-24 11:19] spdkci commented on #2201
Another instance of this failure. Reported by @EugeneKochetov. log: https://ci.spdk.io/public_build/autotest-per-patch_79148.html

[2022-06-24 12:18] KKaras169169 commented on #2201
Used QEMU 6.2 and 7.0.0 with fedora34 (kernel 5.12) and reproduced the issue.
Used fedora35 with kernel 5.16 and QEMU 6.2, 7.0.0 and vanilla qemu 6.0.0 - the scripts were running for several hours yesterday and did not reproduce the problem.
Upgrading CI VMs to newer Fedora operating systems should fix this problem (considering that it reproduced on fedora 33 and 34, but not on 35).

[2022-06-24 16:34] xjjx opened #2567 "Compilation fail on FreeBSD 13.1"
[code]

[2022-06-24 16:37] mikeBashStuff commented on #2567
I believe this one was already reported.

[2022-06-24 18:12] mikeBashStuff commented on #2567
Sorry, not reported, but I mentioned the very same issue under: https://github.com/spdk/spdk/issues/2542#issuecomment-1148552119

[2022-06-24 20:52] jimharris commented on #2567
I've cherry-picked the DPDK fix onto our spdk-22.03 branch:

https://review.spdk.io/gerrit/c/spdk/dpdk/+/13468

[2022-06-24 21:50] spdkci commented on #2453
Another instance of this failure. Reported by @yupeng0921. log: https://ci.spdk.io/public_build/autotest-per-patch_79198.html

[2022-06-24 23:45] spdkci commented on #2530
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_79195.html

[2022-06-25 00:41] spdkci commented on #2201
Another instance of this failure. Reported by @curtbruns. log: https://ci.spdk.io/public_build/autotest-per-patch_79209.html

[2022-06-27 02:35] wanqunintel opened #2568 "[spdk/bdevperf]bdevperf can not handle the error bdev correctly with "-f" option enabled"
# Bug report
bdevperf can not handle the error bdev correctly with "-f" option enabled.  The -f option specifies that bdevperf should "continue processing I/O even after failures".  So if -f is specified, bdevperf should continue running even if the error bdev is used to inject failures.

## Expected Behavior
should handle the error bdev correctly with failure

## Current Behavior
N/A

## Possible

[2022-06-27 08:23] Comphix commented on #2568
Looking at this issue. Thanks, Gang.

[2022-06-27 09:07] spdkci commented on #2564
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_79222.html

[2022-06-27 17:11] jimharris commented on #2568
I updated the description to explain what the -f option is supposed to do.

@wanqunintel, can you post a log of what you see when bdevperf fails?

[2022-06-28 00:59] wanqunintel commented on #2568
@jimharris, the issue is like this, the bdevperf can not finish the test normally even after the bdevperf.py finished with the test (it shows timeout)
![image](https://user-images.githubusercontent.com/18566118/176064159-7473046e-d39a-4008-a927-87976b94337e.png)
![image](https://user-images.githubusercontent.com/18566118/176064208-efecae3d-1d55-49ca-abb0-39bef0eac9ef.png)

[2022-06-28 01:17] Comphix commented on #2568
Looks like using Bdevperf + Local Error Bdev on Malloc Bdev, it works as expected.

Terminal 1:
[code]

Terminal 2: Execute the RPC call when Bdevperf is running
[code]

Will also setup the NVMe-oF environment to check whether the issue is.

[2022-06-28 01:19] wanqunintel commented on #2568
@Comphix , This issue is not persistent, only when i change the option with "-f" and without "-f" to run with the bdevperf back and forth, this issue will happen in a more frequency.

[2022-06-28 07:29] SoftBob opened #2569 "Reading data may cause dirty data（theory）"
# Bug report

Reading data may cause dirty data

## Expected Behavior

Normal data reading and writing

## Current Behavior
When spdk_nvme_ns_cmd_read is used to read data, the pcie address is used. If the process in the read data exits for some reason and does not reclaim the address, the firmware writes the dirty data to the address space using the pcie address information. If the address is use

[2022-06-28 08:37] zhuohaofan opened #2570 "When the host shutdown, SPDK does not have shutdown NVMe SSD"
# Bug report
When the host shutdown, SPDK does not have shutdown NVMe SSD.

## Expected Behavior
When the host shutdown, SPDK should first shutdown NVMe SSD.

## Current Behavior
When the host shutdown, SPDK does not have shutdown NVMe SSD. So SSD calls the abnormal shutdown process.

## Possible Solution
We detected it through the protocol analyzer that SPDK will shutdown SSD during Setup SPDK. T

[2022-06-28 08:58] Comphix commented on #2568
Using SPDK NVMe-oF with Bdevperf, looks like I could hit the Bdevperf stuck issue. Need more investigation here...

[code]

[2022-06-28 09:01] changpe1 commented on #2570
@zhuohaofan do you mean after the SPDK IDENTIFY application, SPDK doesn't shutdown the SSDs?

[2022-06-28 11:24] zhuohaofan commented on #2570
yes

[2022-06-28 11:24] zhuohaofan commented on #2570
yes

[2022-06-28 12:05] #2528 closed, assigned to changpe1

[2022-06-28 15:09] tomzawadzki commented on #2517
Bug scrub: @kgodzwox Could you try to increase the number of queues in `./scripts/rpc.py -s /tmp/nvmf_rpc.sock nvmf_create_transport -t rdma -u 8192 -m 4` from 4 to a larger value, just to make sure if this is the limiting factor for this issue to occur ?

[2022-06-28 15:11] tomzawadzki commented on #2455
Bug scrub: Just a status update. This issue can be closed once patch https://review.spdk.io/gerrit/c/spdk/spdk/+/11839 and all the necessary fixes for it are merged.

[2022-06-28 15:15] jimharris commented on #2436
hi @fengchunsong,

I'm going to close this issue.  If you are able to reproduce, please reopen with details on reproduction.  Also please try w/ latest mlnx_ofed like @AlekseyMarchuk suggested.

Thanks,

Jim

[2022-06-28 15:15] #2436 closed

[2022-06-28 15:17] peluse opened #2571 "doc: document how to use DSA and PMEM together with accel_fw"
A few things need to be documented:

- there are some flags that need to be set that are only documented in code
- there is a kernel pci driver patch pending that w/o it will not make it possible to use DSA however the workaround is to use the kernel idxd driver which is already documented.  Using this driver avoids the transition form idxd->vfio which is causing us to lose TPH configuration which

[2022-06-28 18:13] jimharris commented on #2561
Patch merged.  Thanks @Comphix and @shuhei-matsumoto.

[2022-06-29 01:39] SoftBob commented on #2569
1. The process by spdk_nvme_ns_cmd_read read data
2. firmware write data to pcie address space
3. Process Exits unexpectedly（The firmware does not perceive that the process exits abnormally）
4. The pcie address space is allocated to another process
5. Firmware continues to write data to the pcie address space
6. another process read dirty data

[2022-06-29 01:48] changpe1 commented on #2569
You may raise your concerns in the slack channel for discussion purpose, here we just use it to track issues, I'm going to close this one.

[2022-06-29 01:48] #2569 closed

[2022-06-29 01:50] changpe1 commented on #2570
I don't think this is an issue for SPDK, SPDK will always shutdown the controller for normal cases.

[2022-06-29 01:50] #2570 closed

[2022-06-29 05:11] spdkci commented on #1950
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_79342.html

[2022-06-29 17:54] #2567 closed

[2022-06-30 01:28] yidong0635 commented on #2566
@qiubinren  from the log we can see it failed in  the middle of  DB  writing ( it starts from 00007.sst).
 we should find the first hit point of this failure and the direct failure not the indirect failure.
[code]
1.  need to find the hitting  fs command ( rename/delete/close)
2.  spdk_thread_send_msg  can't allocate memory
3.  have your ever run it successfully ? or sometimes failed?
Could you li

[2022-06-30 05:21] Comphix commented on #2565
@warrick3050 , could you give more information for this case that the SSD is in the read-only mode and there needs the SPDK multiple-process mode to access this SSD?

[2022-06-30 06:14] warrick3050 commented on #2565
@Comphix, Thanks for your response.

It is common for SPDK applications that access read-only mode SSDs to experience problems when they try to write.
However, in such a general situation, in multi-process mode, unless the primary process is terminated & restarted, the secondary processes after that seem to be operating abnormally, so I registered an issue.

It seems that it can be easily reproduc

[2022-06-30 18:32] spdkci commented on #2530
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_79423.html

[2022-06-30 18:39] spdkci commented on #2201
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_79492.html

[2022-07-01 06:58] changpe1 commented on #2565
I don't think it's quite OK to use SPDK example applications to test this scenario, but for the exceptions you mentioned above,  you may write a error cleanup patch in hello_world.c, currently SPDK hello_world application just exits the process without doing cleanup, for your case, hello_world may need to `spdk_nvme_ctrlr_free_io_qpair` after WRITE failure.

We don't have such SSDs to test it, can

[2022-07-01 09:33] yidong0635 opened #2572 "checkout format reports error"
# Bug report
No sure this is a common error or false positive.
Checking Python style... Python formatting errors detected
python/spdk/rpc/iscsi.py:1:1: E302 expected 2 blank lines, found 0
python/spdk/rpc/nvme.py:1:1: E302 expected 2 blank lines, found 0
Checking .sh formatting style... OK

## Steps to Reproduce

Just run ./scripts/check_format.sh
## Context (Environment including OS version, SPDK

[2022-07-01 13:05] ksztyber commented on #2572
What's the version of `pep8`/`pycodestyle` on your system?

[2022-07-01 21:13] spdkci commented on #2201
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_79504.html

[2022-07-01 22:02] Alvinlst opened #2573 "Upgrade to spdk v22.05 gives no libssl.so.1.1 file error"
# Bug report

I have been using spdk v21.10 and v22.01, which work fine. But when I try to upgrade to v22.05, an error caused by lack of libssl.so.1.1 library happens.

## Expected Behavior

Running spdk_tgt binary should succeed.

## Current Behavior

After building spdk, running the built spdk_tgt binary gives the following error:
spdk_tgt: error while loading shared libraries: libssl.so.1.1: ca

[2022-07-01 22:54] yidong0635 commented on #2572
@ksztyber
`pycodestyle --version`
2.5.0

[2022-07-02 14:55] spdkci commented on #1950
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_79661.html

[2022-07-02 14:56] peluse commented on #1950
@mikeBashStuff can you correct the title and summary of this issue?  The title is supposed to be a test name and some sort of text to help others find this issue (CI intermittent) if they think they've hit it.  There's nothing about the test name or the log contents and many of the links to ol logs have since expired.  Thanks!

[2022-07-02 19:41] warrick3050 commented on #2565
@changpe1
I will check my application and SPDK example about `spdk_nvme_ctrlr_free_io_qpair` and comment later.

@changpe1 Thanks for your analysis. I hope that it will be corrected soon.

[2022-07-02 21:47] spdkci commented on #2201
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_79677.html

[2022-07-03 21:37] mikeBashStuff commented on #1950
@peluse Updated the title and the summary to match more closely the template for the CI intermittent issues. :)

[2022-07-04 01:28] Apokleos opened #2574 "SPDK/vhost with interrupt mode set will crash when do spdk_top"
# Bug report
(1) First, I start vhost app with interrupt mode and then start `spdk_top`,
(2) Then, I will normally create bdev and vhost controller. It will be OK.
(3) Next, I will delete the new created vhost controller.
(4) Finally, the app `vhost` crashed, with the error message:
[code]

## Expected Behavior

The app has the ability to handle(destroy) the exited threads in time;

## Current Beh

[2022-07-04 02:55] Comphix commented on #2574
Thanks @Apokleos , will you also directly raise a patch for these changes to SPDK Gerrit for more review and discussion? Thanks.

[2022-07-04 03:45] Apokleos commented on #2574
Thanks @Comphix
I will raise the patch to Gerrit later today.

[2022-07-04 05:57] changpe1 commented on #2565
A fix patch is submitted here https://review.spdk.io/gerrit/c/spdk/spdk/+/13537.

[2022-07-04 06:07] Bianyfan commented on #2204
Hi, @jimharris , we did some test locally and found the same issue. When we use spdk_tgt to run on multiple cores(4) with creating 8 rbd bdevs for 8 images, only one SPDK core is handling all IO. Actually, all the IOs are handled by main spdk_thread. A simple way to find this core bottleneck is to use ./build/bin/spdk_top to check the core status. Also, we did some tests based on above patches.
Bo

[2022-07-04 11:53] ksztyber commented on #2572
I think it's a known issue - see https://github.com/PyCQA/pycodestyle/issues/473 that's been fixed for a while now. On the two systems that I have on hand I have 2.6.0 and 2.7.0 and this doesn't happen on neither one, so I suggest upgrading to a more recent `pycodestyle`.

[2022-07-05 01:26] Apokleos commented on #2574
Hi @Comphix I have raised my patch on Gerrit. This is my patch https://review.spdk.io/gerrit/c/spdk/spdk/+/13543
Thank you!

[2022-07-05 02:07] yidong0635 commented on #2572
@ksztyber Thanks for your help.  That I think I can close it.

[2022-07-05 02:07] #2572 closed

[2022-07-05 02:10] Comphix commented on #2574
Thanks @Apokleos !

[2022-07-05 06:53] Comphix commented on #2573
Hi @Alvinlst , could you check whether below change is related?

https://github.com/spdk/spdk/commit/341924593348c3da2d25338a6ba0881dac6e7c12

[2022-07-05 13:45] Comphix commented on #2566
You may also have a try with the Debug build so as try to get more information about below failure of out of resource.
[code]

[2022-07-05 21:00] spdkci commented on #1950
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_79788.html

[2022-07-05 21:29] spdkci commented on #1950
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_79801.html

[2022-07-05 22:01] jimharris commented on #2204
I agree that 10295 would most ideal.

I have reached out to one of my colleagues who knows more about rbd/rados internals, to see if we can get guidance on whether these APIs are thread-safe.  I will report back here once I have info to share.

[2022-07-06 01:53] Bianyfan commented on #2204
It sounds great, thanks

[2022-07-06 04:21] spdkci commented on #1950
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_79843.html

[2022-07-06 07:15] Bianyfan commented on #2189
Raise this patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/13555 to print warning message, pls help review.

[2022-07-06 09:36] wanghailiangx opened #2575 "Question: Why does adding --zcopy not improve the performance of bdevperf?"
## Expected Behavior
In principle, take Malloc bdev as an example, the performance of bdevperf can improve with adding --zcopy in Target.

## Current Behavior

From the results, there is little change in the performance data.
<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:dt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=Prog

[2022-07-06 17:39] tmakatos opened #2576 "[nvmf/vfio-user] Windows 11 fails to initialize NVMe controller"
# Bug report

Windows 11 fails to initialize the NVMe controller, I see the following in the Device Manager:

[code]

## Context (Environment including OS version, SPDK version, etc.)

Using SPDK 0098e6367.

Windows guest details:
- Edition: Windows 11 Pro
- Version: 21H2
- OS build: 22000.739

[2022-07-06 18:13] jimharris commented on #2575
Hi @wanghailiangx,

--zcopy is only effective for bdev modules that implement zcopy.

bdev zcopy is useful for bdev modules that have something like a DRAM cache.  Instead of copying data into a buffer provided by the bdev layer or upper layer module (i.e. nvmf), the bdev module can provide pointers directly to the DRAM cache contents instead.

bdev nvme module doesn't support bdev zcopy, since th

[2022-07-06 18:13] #2575 closed

[2022-07-06 19:29] spdkci commented on #2201
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_79876.html

[2022-07-06 22:59] peluse opened #2577 "[nvmf_perf_adq] reads completed with errors"
00:11:47.220  starting I/O failed
00:11:47.220  Read completed with error (sct=0, sc=8)
00:11:47.220  Read completed with error (sct=0, sc=8)
00:11:47.220  [2022-07-07 00:37:11.387009] nvme_qpair.c: 741:spdk_nvme_qpair_process_completions: *ERROR*: CQ transport error -6 (No such device or address) on qpair id 1
00:11:47.220  NVMe io qpair process completion error
00:11:47.220  Read completed with

[2022-07-06 22:59] spdkci commented on #2577
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_79904.html

[2022-07-07 00:24] wanqunintel commented on #2577
@wanghailiangx , will you check this issue?

[2022-07-07 01:21] wanqunintel opened #2578 "[autobuild-vg-autotest]shared object test failed"
# Bug report
https://ci.spdk.io/results/autotest-per-patch/builds/79921/archive/autobuild-vg-autotest/build.log
Shared object test failed
## Expected Behavior
Should pass
## Current Behavior
00:08:44.781  real	0m7.368s
00:08:44.781  user	0m45.621s
00:08:44.781  sys	0m37.888s
00:08:47.336  Makefile:16: Skipping building dpdk_governor and gscheduler, due to missing rte_power
00:08:48.717  shared obj

[2022-07-07 02:01] changpe1 commented on #2576
@tmakatos I don't have a Windows 11 image, can you post the full log of SPDK?

[2022-07-07 02:18] wanghailiangx commented on #2577
@wanqunintel OK, but it's hard to reproduce locally.

[2022-07-07 04:05] changpe1 commented on #2578
https://review.spdk.io/gerrit/#/c/13293/17

[2022-07-07 04:08] changpe1 commented on #2578
This is patch bug, it should be fixed in the patch serial.

[2022-07-07 04:08] #2578 closed

[2022-07-07 04:10] changpe1 commented on #2577
00:11:52.412   01:27:59	-- target/perf_adq.sh@165 -- # [[ 1 -ne 2 ]]
00:11:52.412   01:27:59	-- target/perf_adq.sh@166 -- # echo 'ERROR: num_busy_count != tc1 queues of traffic classes! Testcase 2 failed.'
00:11:52.412  ERROR: num_busy_count != tc1 queues of traffic classes! Testcase 2 failed.
00:11:52.412   01:27:59	-- target/perf_adq.sh@167 -- # exit 1

The actual error is in above messages.

[2022-07-07 08:32] changpe1 commented on #2565
@jimharris we need to make sure existing `spdk_nvme_ctrlr_free_io_qpair` is multi-process safe for exception exits of a process, it's quite easy to construct a test case which exit the process while holds an IO queue pair. I added a new patch https://review.spdk.io/gerrit/c/spdk/spdk/+/13573 to make it safe for multi-process.

[2022-07-07 09:54] tmakatos commented on #2576
[nvmf.log](https://github.com/spdk/spdk/files/9062419/nvmf.log)

[2022-07-07 10:05] tmakatos commented on #2576
FYI I used QEMU's native NVMe emulation and it worked fine on Windows 11.

[2022-07-07 10:44] krish-reddy opened #2579 "[zns-vg-autotest] Hotplug Test Failure"
# CI Intermittent Failure

************************************
START TEST sw_hotplug
************************************
00:04:42.326   07:52:54	-- common/autotest_common.sh@969 -- # xtrace_enable
00:04:42.326   07:52:54	-- common/autotest_common.sh@970 -- # test/nvme/sw_hotplug.sh
00:04:42.326  * Looking for test storage...
00:04:42.326  * Found test storage at /home/vagrant/spdk_repo/spdk/test

[2022-07-07 10:45] spdkci commented on #2579
Another instance of this failure. Reported by @krish-reddy. log: https://ci.spdk.io/public_build/autotest-per-patch_79928.html

[2022-07-07 10:58] mikeBashStuff commented on #2579
Duplicate of #2201

[2022-07-07 10:58] #2579 closed

[2022-07-07 15:33] peluse commented on #2486
Breaking news! Due to some DSA spec changes we no longer need TPH config space settings so once the following patch lands (has new flag settings as a workaround) writes to PMEM can happen w/o a special kernel patch or the workaround of using the idxd kernel driver https://review.spdk.io/gerrit/c/spdk/spdk/+/13572 @gaowayne @Comphix

[2022-07-07 16:58] jimharris commented on #2565
Good catch @changpe1 - I took a look at the patch, overall it seems fine, but it looks like CI found some problems with it on NVMe/TCP testing.

[2022-07-07 18:55] spdkci commented on #2201
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_79959.html

[2022-07-07 23:59] Comphix commented on #2486
Thanks Paul. This is great!

[2022-07-08 01:44] Comphix commented on #2577
Hailiang, in our CI, do you know which firmware version is used? Looks like it is more relating to the firmware version?

[2022-07-08 01:57] wanghailiangx commented on #2577
@Comphix I can push a test patch to look which firmware version is used in our CI, run a few more times and I'll find more machines. But I'd better confirm this locally first.

[2022-07-08 02:02] changpe1 commented on #2577
Beside to root cause the issue, as Jim mentioned above, it's worth to add more comment to explain in detail the relationship with ADQ and core count.

[2022-07-08 02:10] gaowayne commented on #2486
thank you so much Paul. this is great. :) I understand now.

[2022-07-08 06:34] spdkci commented on #2201
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_79975.html

[2022-07-08 07:19] Comphix commented on #2568
Looks like this stuck issue has no direct relationship with "-f" parameter and when there is IO failure. Currently I'm setting up NVMe-oF Loopback and just normally run, looks like it will not exit when run time is time-out. Needs to send ctrl-c signal.

[2022-07-08 07:26] wanqunintel commented on #2568
yes, and in fact, if you run bdevperf with "-f" first time, it will not stuck, only when run without "-f" and then run again with "-f", it will stuck

[2022-07-08 08:23] changpe1 commented on #2576
@tmakatos Windows 10 1903 still works for me with latest SPDK, and from the nvmf.log I don't see any exceptions. READ command is executed successfully.

Not sure the log is related or not in the quiesce callback:
[2022-07-07 05:48:48.489297] vfio_user.c:2855:vfio_user_log: *DEBUG*: /var/run: closing unexpected fd 449 (index 0) from cmd 8

[2022-07-08 08:45] tmakatos commented on #2576
Windows 10 works for me fine as well.

`[2022-07-07 05:48:48.489297] vfio_user.c:2855:vfio_user_log: DEBUG: /var/run: closing unexpected fd 449 (index 0) from cmd 8`

I don't think that's relevant,  I see it in Linux guests and it works fine there.

[2022-07-08 08:54] wanghailiangx commented on #2577
After upgrading the firmware from v1.40 to v2.30 or v3.20 on local, I tested it many times, this issue did not recur. It was effective. Next, I'll test it a few more times. In addition, I'm going to push a patch adding comments about num_busy_count() and look at the firmware version on CI.

[2022-07-08 09:10] spdkci commented on #2201
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_79997.html

[2022-07-08 19:20] spdkci commented on #2201
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_79971.html

[2022-07-09 17:09] Alvinlst commented on #2573
Hi @Comphix, I think the commit you posted is not related. That is a recently added change which is not part of v22.05 release. I think [this commit](https://github.com/spdk/spdk/commit/468b3e92555955a0da17aa6a25bf2cab809ed652) is the one related.

[2022-07-10 06:02] Comphix commented on #2573
Thanks for the information.

In this case, will check later whether below change is ok as the SPDK v22.05.x backport fix. And it will also be contained in the current SPDK v22.09 release.

[2022-07-10 17:39] spdkci commented on #2416
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_80075.html

[2022-07-11 00:30] Alvinlst commented on #2573
@Comphix Sounds good, thank you!

[2022-07-11 03:03] Bianyfan opened #2580 "RBD bdev have a performance degradation with specifying -c for bdev_rbd_create"
# Bug report

RBD bdev have a performance degradation with specifying -c for bdev_rbd_create after registering cluster.
## Expected Behavior
The performance of setting -c or not for bde_rbd_create should have the same behavior.

## Current Behavior

When setting option -c for bdev_rbd_create, the performance of RBD bdev decreased.
There are two results for RBD bdev testing.
**With specifying -c:**

[2022-07-11 03:42] Comphix commented on #2568
Raised the patch as following: https://review.spdk.io/gerrit/c/spdk/spdk/+/13490

[2022-07-11 06:14] wanqunintel commented on #2568
**-z (wait_for_tests is set, means by RPC perform_tests) and there is only 1 Bdev, the test case will end when error happened.**
I am testing with the above parameters, the scenario is as follows: only 1 Bdev, when n<4, the bdevperf will not exit. when n>4, the bdevperf will end test and exit. Not sure this is expected, and i will test the other scenarios at the same time.
Git log: 9b4ac890fca8f33

[2022-07-11 06:21] wanqunintel commented on #2568
Another observation is that when i set the failed command to 4, the bdevperf will show 1 failed IO when exit.
**Target part**
[root@waikikibeach42 spdk]# ./scripts/rpc.py bdev_error_inject_error EE_Malloc0 'all' 'failure' **-n 4**
**Host part**
Running I/O for 100 seconds...
[2022-07-11 14:16:45.094505] nvme_qpair.c: 247:nvme_io_qpair_print_command: *NOTICE*: READ sqid:1 cid:0 nsid:1 lba:39576 len

[2022-07-11 06:27] Comphix commented on #2568
Yes, from my testing, I also noticed it is not exactly matching here especially in the NVMe-oF case.

[2022-07-11 06:28] YafeiWangAlice opened #2581 "[auto_test_per_patch] failed for an unrelated reason."
This patch is trying to fix a spdk_top bug. spdk_top can't collect the right poller count when thread count is more than core count. Max index of g_threads_info[] should be thread count NOT cores count.

## Link to the failed CI build
https://ci.spdk.io/results/autotest-per-patch/builds/80094/archive/post_process/build.log

##patch link
https://review.spdk.io/gerrit/c/spdk/spdk/+/13574

## Executi

[2022-07-11 06:29] spdkci commented on #2581
Another instance of this failure. Reported by @YafeiWangAlice. log: https://ci.spdk.io/public_build/autotest-per-patch_80094.html

[2022-07-11 06:47] spdkci commented on #2581
Another instance of this failure. Reported by @YafeiWangAlice. log: https://ci.spdk.io/public_build/autotest-per-patch_80103.html

[2022-07-11 07:02] spdkci commented on #2201
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_80084.html

[2022-07-11 07:04] mikeBashStuff commented on #2581
Both reports here point at check_format issues, e.g.: https://ci.spdk.io/results/autotest-per-patch/builds/80094/archive/autobuild-vg-autotest/build.log

These should be addressed directly in the affected patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/13574

[2022-07-11 07:06] spdkci commented on #2581
Another instance of this failure. Reported by @YafeiWangAlice. log: https://ci.spdk.io/public_build/autotest-per-patch_80104.html

[2022-07-11 07:14] changpe1 commented on #2581
@YafeiWangAlice please read the error log in your patch carefully, it already showed this failure was caused by code format. I'm going to close it.

[2022-07-11 07:14] #2581 closed

[2022-07-11 07:25] spdkci commented on #2581
Another instance of this failure. Reported by @YafeiWangAlice. log: https://ci.spdk.io/public_build/autotest-per-patch_80107.html

[2022-07-11 08:21] wanqunintel commented on #2568
PS: I am testing on two different machines, one is target and another is host.

[2022-07-11 08:49] spdkci commented on #2581
Another instance of this failure. Reported by @YafeiWangAlice. log: https://ci.spdk.io/public_build/autotest-per-patch_80118.html

[2022-07-11 09:02] Comphix commented on #2568
Yes, looks like using NVMe-oF device is not that precise than using the local Malloc device.

On the other hand, maybe the number of Failed IOs is not the key factor here, the patch is more focus on the behavior when the IO error(s) happened.

[2022-07-11 09:08] spdkci commented on #2581
Another instance of this failure. Reported by @YafeiWangAlice. log: https://ci.spdk.io/public_build/autotest-per-patch_80120.html

[2022-07-11 09:27] spdkci commented on #2581
Another instance of this failure. Reported by @YafeiWangAlice. log: https://ci.spdk.io/public_build/autotest-per-patch_80123.html

[2022-07-11 09:49] spdkci commented on #2581
Another instance of this failure. Reported by @YafeiWangAlice. log: https://ci.spdk.io/public_build/autotest-per-patch_80126.html

[2022-07-11 21:31] banhbao916 opened #2582 "[build] *** No rule to make target '/usr/local/src/spdk/dpdk/build/lib/librte_vhost.a'"
# CI Intermittent Failure

Hi, I have issues while trying to build SPDK.  This is the error:

% ./configure --with-fio=/usr/bin --with-nvme-cuse
% make
make[3]: *** No rule to make target '/usr/local/src/spdk/dpdk/build/lib/librte_vhost.a', needed by '/usr/local/src/spdk/build/examples/accel_perf'.  Stop.
make[2]: *** [/usr/local/src/spdk/mk/spdk.subdirs.mk:44: perf] Error 2
make[1]: *** [/usr/loc

[2022-07-11 22:24] mhae commented on #2541
Hey @AlekseyMarchuk, @shuhei-matsumoto,

I have a new theory based on some more testing that I've been doing over the last 2 weeks. The issue can be more easily reproduced when I set the RDMA num_shared_buffers to 1024. I previously had it at 8192.
I also changed the # of entries we poll:
[code]

Now I can reproduce the issue within a couple of runs (with enable-debug).

It seems to me that we're

[2022-07-12 06:31] AlekseyMarchuk commented on #2541
Hi @mhae
Sorry I was on long vacation, I'll take a closer look next week.
Could you also share more info about your configuration (transport, bdev, etc)
Regarding your last question - that is not possible to "cancel" or "reject" already posted ibv WR, we need to wait for Work Completion from CQ.
It looks like ibv_wc points to incorrect rdma_req which was already completed before, most probably thi

[2022-07-12 13:13] kgodzwox commented on #2517
As far as I could observe, using the temporary patch https://review.spdk.io/gerrit/c/spdk/spdk/+/13564 eliminated or drastically reduced the occurrence of this problem. Out of about 15 JOB runs, none failed for a reason from this issue.

I will try to check it more times to be sure.

[2022-07-12 14:03] spdkci commented on #2510
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_80183.html

[2022-07-12 14:03] spdkci commented on #2344
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_80170.html

[2022-07-12 14:24] mikeBashStuff opened #2583 "[opal_revert_cleanup] Failure to attach to nvme drive (WFP10)"
It seems to point at misconfigured node (WFP10) which exposed nvme drives behind VMD.

https://ci.spdk.io/results/autotest-per-patch/builds/80186/archive/vfio-user-autotest/build.log

[code]

[2022-07-12 14:25] spdkci commented on #2583
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_80188.html

[2022-07-12 14:29] spdkci commented on #2583
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_80186.html

[2022-07-12 14:38] changpe1 commented on #2583
Looks like this environment met some hardware issues:

00:02:12.718  EAL: 10001:01:00.0 VFIO group is not viable! Not all devices in IOMMU group bound to VFIO or unbound
00:02:12.718  EAL: Driver cannot attach the device (10001:01:00.0)
00:02:12.718  EAL: Failed to attach device on primary process
00:02:12.718  [2022-07-12 15:34:42.935465] nvme.c: 815:nvme_probe_internal: *ERROR*: NVMe ctrlr scan

[2022-07-12 14:41] tomzawadzki commented on #2582
Hello @banhbao916 !

Have you gone through https://spdk.io/doc/getting_started.html ? This might be helpful to start with it first, then move on to adding fio plugin and nvme-cuse.

As for the issue at hand, could you provide full log to better understand the failure ?
Probably unrelated, please note that you need to point `--with-fio=` to directory with FIO sources, not the binary.

[2022-07-12 14:49] spdkci commented on #2583
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_80191.html

[2022-07-12 15:15] tomzawadzki commented on #2201
[Bug scrub] CI VM images were updated to Fedora 35 with kernel 5.16, but the issue still persist. @KKaras169169 will check out the specific image used in the CI to verify the local reproduction as well.
@mikeBashStuff will double check if the issue occurs only with ZNS device in recent logs to make sure.

[2022-07-12 15:18] tomzawadzki commented on #2583
[Bug scrub] This machine was not indented for testing in CI, it has the NVMe device behind VMd which autotest.sh is not handling very well.
It is now disconnected from CI and failed builds will be retriggered.

[2022-07-12 15:18] #2583 closed

[2022-07-12 15:25] tomzawadzki commented on #2517
[Bug scrub] Increasing the number of queues is no the solution to the problem, but helps understand what the issue is. @kgodzwox  Could you please clarify which process is producing the segfault and provide a backtrace of it in the issue ? The recent logs have already timed out.

[2022-07-12 15:29] mikeBashStuff commented on #2201
@KKaras169169 @tomzawadzki Apologies for the confusion - indeed, zoned nvme drive is picked up during the hotplug tests. In general, zoned nvmes should be put on the `PCI_BLOCKED` list (to make sure other functional tests, especially those IO-related, don't touch them) but `sw_hotplug` bypasses that by simply picking up every drive that's not bound to `nvme` driver.

If it was confirmed that this

[2022-07-12 15:29] tomzawadzki commented on #2580
[Bug scrub] The issue https://github.com/spdk/spdk/issues/2189 seems to be related. Could you please take a look at it and if it is close this one ?

[2022-07-12 19:28] spdkci commented on #2201
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_80220.html

[2022-07-12 23:12] rsb-oss opened #2584 "Error in nvme_ctrlr_init_ana_log_page() when oversized_sgl is not supported"
# Bug report

According to the NVMe specification revision 1.4, Section 5.15.2.2 Identify Controller data structure (CNS 01h), Figure 251: Bytes 539:536 represent the SGL Support provided by the controller.  Within this byte range, Bit 18 indicates “If set to ‘1’, then the controller supports commands that contain a data or metadata SGL of a length larger than the amount of data to be transferred.

[2022-07-13 01:12] spdkci commented on #2483
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_80165.html

[2022-07-13 01:25] Comphix commented on #2584
@rsb-oss thanks for reporting this issue, reading through the "Possible Solution" field, looks like you've already made some changes and verified. Would you like to raise a patch to SPDK Gerrit first to have more review and discussion on your changes?
Thanks.

[2022-07-13 01:39] changpe1 commented on #2584
In `nvme_ctrlr_alloc_ana_log_page` SPDK is using `ctrlr->active_ns_count` to allocate the log buffer, can you check with your NVMeoF target to see if this value isn't correct?

[2022-07-13 01:44] changpe1 commented on #2584
And SPDK will not block the initialization process even with that error, can you enable SPDK nvme log to see where the RPC exits?

[2022-07-13 01:55] changpe1 commented on #2584
I see where is the error now, the error is in nvme bdev module not the nvme driver layer.

[2022-07-13 02:48] wanqunintel commented on #2568
Test with the following scenario and act as expected behavior.
![image](https://user-images.githubusercontent.com/18566118/178640212-b1685590-ecd5-4c4f-95d1-c61069f7bf2c.png)

[2022-07-13 04:36] rsb-oss commented on #2584
In my temporary fix I hardcoded the # active namespaces value, which is not a real solution.  I could not find an easy way to read the active_ns_count in the nvme_ctrlr_init_ana_log_page() function in bdev_nvme.c.  I am just getting familiar with the SPDK codebase, so I may have missed an easy solution if that is possible.

[2022-07-13 04:38] rsb-oss commented on #2584
Yes, it is in module/bdev/nvme/bdev_nvme.c:: nvme_ctrlr_init_ana_log_page() function.  Thank you for you comments and quick response!

[2022-07-13 04:47] changpe1 commented on #2584
That's OK, I will take a look of this issue.

[2022-07-13 05:04] shuhei-matsumoto commented on #2584
Hi @rsb-oss

Thanks for finding and reporting this bug.
If the root cause is the number of active namespaces, I think the following should fix the issue.

https://review.spdk.io/gerrit/c/spdk/spdk/+/13653

Will you try the patch?

[2022-07-13 07:08] spdkci commented on #1950
Another instance of this failure. Reported by @xjjx. log: Not Found

[2022-07-13 09:34] dawin2015 opened #2585 "[trace bdev]how to trace the specified io device"
# Bug report
when enable trace function, like:
`./script/rpc.py trace_enable_tpoint_group bdev`
It will enable bdev’s trace. But how can I just trace the specified io device, like:
`blktrace -b /dev/sda`
Because I found that enable to trace all io device, it would cause a little performance degradation.
Can just trace one io device?

## Expected Behavior
Trace specified io device, like `-b <bdev_n

[2022-07-13 09:50] chenyou-intel opened #2586 "spdk_idxd_process_events / idxd_poll running for a long time and block other pollers"
# Bug report

I'm testing https://review.spdk.io/gerrit/c/spdk/spdk/+/13546 , which is follow up of https://review.spdk.io/gerrit/c/spdk/spdk/+/9304, and will use DSA to copy data to PMEM.
Also, I included this workaround: https://review.spdk.io/gerrit/c/spdk/spdk/+/12351/ to enable DSA copy on PMEM.

I'm using **bdevperf** to do the basic benchmark testing, but when queue depth is large,

https:/

[2022-07-13 12:59] peluse commented on #2586
Sorry, 2 more quick things... can you try this with straight master and non PMEM at all?

Also, if what you believe is happening really is you can confirm and potentially workaround it by count how many times we're going through the loop in spdk_idxd_process_events() and lets see what that average and high water marks are.  As a test you can always break out of the loop at some maximum value, for

[2022-07-13 14:01] tsg- commented on #2204
Follow-up with Ceph RBD maintainer (Illya) here:  https://lists.ceph.io/hyperkitty/list/dev@ceph.io/thread/SFWONIWKX5NOUSJSJIQN4LWCR3U6EFCN/

[2022-07-13 14:02] tanabarr opened #2587 "vfio-pci driver occasionally unloads"
# Bug report

In DAOS CI after a large number of tests have been run, occasionally the following (and similar variants) is being seen when trying to run either "spdk/scripts/setup.sh" or the same with the reset parameter supplied.

[code]

The suggested workaround has been "rmmod vfio_pci && modprobe vfio_pci" which we have integrated into our CI scripts which has reduced the frequency of the issu

[2022-07-13 15:59] chenyou-intel commented on #2586
@peluse Thanks for the help! I'll switch to https://review.spdk.io/gerrit/c/spdk/spdk/+/13572 for workaround.

And I've tried to break the loop of spdk_idxd_process_events() by adding a line of code:
[code]
it worked, to break this loop will let other registered pollers be called.
Then the **bdevperf** can exit when configured time runs out, which relies on the `bdevperf_job_drain` function to sto

[2022-07-13 17:08] peluse commented on #2586
Great, thanks.  We actually had that break in there over a year ago and determined it wasn't actually needed.  However we have made big changes since then in how IO are submitted and completed and I suspect we just never pushed it hard enough to add it back in.  Please feel free to add a patch that just does that break with a comment that it is to prevent the processing of outstanding commands fro

[2022-07-13 17:38] spdkci commented on #1950
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_80290.html

[2022-07-13 17:39] spdkci commented on #2577
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_80295.html

[2022-07-14 01:49] changpe1 commented on #2573
Closing this issue now as the workaround method is provided.

[2022-07-14 01:49] #2573 closed

[2022-07-14 03:23] rsb-oss commented on #2584
Hi @shuhei-matsumoto , thank you for the patch.  I will test it tomorrow USA EDT time zone) and let you know the result.

[2022-07-14 04:19] Bianyfan commented on #2580
Yes, I can look at this issue. Since I found this problem in the experiments of others, I will reproduce it by myself and report it back if it is a bug.

[2022-07-14 11:22] krish-reddy opened #2588 "Unable to execute FIO with spdk_bdev on Ubuntu 22.04"
# Bug report

Unable to execute FIO with spdk_bdev.

"LD_PRELOAD=./build/fio/spdk_bdev fio"
fio: IFUNC symbol 'spdk_u64log2' referenced in './build/fio/spdk_bdev' is defined in the executable and creates an unsatisfiable circular dependency.

## Expected Behavior

FIO should execute with the spdk_bdev preloaded and should show the list of options.

"LD_PRELOAD=./build/fio/spdk_bdev fio"
No job(s)

[2022-07-14 11:44] krish-reddy commented on #2588
Even without any configuration file, the FIO should execute and show a list of options.

But, I am getting
"fio: IFUNC symbol 'spdk_u64log2' referenced in './build/fio/spdk_bdev' is defined in the executable and creates an unsatisfiable circular dependency."
as the output.

[2022-07-14 11:45] krish-reddy commented on #2588
Even with the configuration file, the FIO shows the below output.

"LD_PRELOAD=./build/fio/spdk_bdev fio examples/bdev/fio_plugin/example_config.fio"

fio: IFUNC symbol 'spdk_u64log2' referenced in './build/fio/spdk_bdev' is defined in the executable and creates an unsatisfiable circular dependency.

[2022-07-14 11:58] spdkci commented on #2293
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_80364.html

[2022-07-14 11:58] spdkci commented on #2577
Another instance of this failure. Reported by @kgodzwox. log: https://ci.spdk.io/public_build/autotest-per-patch_80367.html

[2022-07-14 12:37] mikeBashStuff opened #2589 "[vfio_user_fio] Missing nvme drive inside the testing VM"
ZNS drives were installed today in some of the CI nodes causing this issue to appear.  Drives have been removed from the affected nodes to troubleshoot the issue, hence CI should not be affected anymore. Opening this issue as a placeholder for false positives.

https://ci.spdk.io/results/autotest-per-patch/builds/80377/archive/vfio-user-autotest/build.log

[2022-07-14 15:07] spdkci commented on #2201
Another instance of this failure. Reported by @kgodzwox. log: https://ci.spdk.io/public_build/autotest-per-patch_80375.html

[2022-07-14 15:08] mikeBashStuff opened #2590 "[vfio_user_restart_vm] nvmf_tgt hit by a SIGABRT"
https://ci.spdk.io/results/autotest-per-patch/builds/80398/archive/vfio-user-autotest/build.log

This happend after timeout was reached while waiting for the testing VM to boot.

Point of failure:
[code]

Backtrace:
[code]

https://ci.spdk.io/results/autotest-per-patch/builds/80398/archive/vfio-user-autotest/coredumps/index.html

[2022-07-14 16:37] spdkci commented on #2201
Another instance of this failure. Reported by @apaszkie. log: https://ci.spdk.io/public_build/autotest-per-patch_80396.html

[2022-07-14 23:09] spdkci commented on #2201
Another instance of this failure. Reported by @apaszkie. log: https://ci.spdk.io/public_build/autotest-per-patch_80445.html

[2022-07-14 23:40] jimharris commented on #2407
Hi @mkotwani1,

Checking if you are still observing this issue.  If so, please respond to Konrad's questions.  If not, let's close this issue.

Thanks,

Jim

[2022-07-14 23:41] jimharris commented on #2249
Closing issue.  @changpe1 @wanqunintel please reopen if this issue still exists.

[2022-07-14 23:41] #2249 closed

[2022-07-14 23:58] jimharris commented on #2215
I've posted an alternate fix for the issue described here:  https://review.spdk.io/gerrit/c/spdk/spdk/+/13678.

[2022-07-15 01:37] changpe1 commented on #2590
The issue is similar with https://github.com/spdk/spdk/issues/2372, there was a kernel panic when starting VM.

[2022-07-15 02:08] Comphix commented on #2585
Looks like this is a To Do enhancement.

[2022-07-15 06:53] spdkci commented on #2577
Another instance of this failure. Reported by @kgodzwox. log: https://ci.spdk.io/public_build/autotest-per-patch_80411.html

[2022-07-15 07:13] Bianyfan commented on #2580
Hi @tomzawadzki , I reproduce this issue locally. Actually, it's not a code bug but about the performance tuning. We provide a way to share the same rados object for different rbd bdev with images to reduce some threads. However, there might be a bottleneck in ceph side. In ceph side, it will create some proprietary threads for every image by default, with two 'io_contxt_pool' threads for I/O requ

[2022-07-15 07:40] spdkci commented on #2416
Another instance of this failure. Reported by @jkalwas. log: https://ci.spdk.io/public_build/autotest-per-patch_80448.html

[2022-07-15 07:52] chenyou-intel commented on #2586
@peluse I submitted a patch https://review.spdk.io/gerrit/c/spdk/spdk/+/13685 to address this issue

[2022-07-15 08:23] spdkci commented on #2201
Another instance of this failure. Reported by @kgodzwox. log: https://ci.spdk.io/public_build/autotest-per-patch_80483.html

[2022-07-15 10:00] yidong0635 commented on #2588
fio: IFUNC symbol 'spdk_u64log2' referenced in './build/fio/spdk_bdev' is defined in the executable and creates an unsatisfiable circular dependency.
From this expression itself:  there're  circular calling the -lspdk_util  libs .  That's to say there are 2 different version of libspdk_util

to solve this need to unify a same path .
Maybe you need to clean all your code and try it compile it again

[2022-07-15 10:17] yidong0635 commented on #2587
@tanabarr  you are using the VMs to setup , right ?
I setup a script to loop 100s setup.sh/reset, but can't catch that issue.
[code]
above is the setup.sh log. It's hard to debug such issue.

[2022-07-15 10:49] #2560 closed

[2022-07-15 11:46] spdkci commented on #2416
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_80510.html

[2022-07-15 11:57] spdkci commented on #2483
Another instance of this failure. Reported by @kgodzwox. log: https://ci.spdk.io/public_build/autotest-per-patch_80513.html

[2022-07-15 12:27] spdkci commented on #2201
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_80519.html

[2022-07-15 13:09] spdkci commented on #2201
Another instance of this failure. Reported by @kgodzwox. log: https://ci.spdk.io/public_build/autotest-per-patch_80526.html

[2022-07-15 17:56] spdkci commented on #2447
Another instance of this failure. Reported by @mmkayPL. log: https://ci.spdk.io/public_build/autotest-per-patch_80459.html

[2022-07-15 20:27] spdkci commented on #1950
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_80333.html

[2022-07-16 02:04] spdkci commented on #2589
Another instance of this failure. Reported by @apaszkie. log: https://ci.spdk.io/public_build/autotest-per-patch_80554.html

[2022-07-16 02:05] spdkci commented on #2589
Another instance of this failure. Reported by @apaszkie. log: https://ci.spdk.io/public_build/autotest-per-patch_80563.html

[2022-07-16 02:08] spdkci commented on #2201
Another instance of this failure. Reported by @apaszkie. log: https://ci.spdk.io/public_build/autotest-per-patch_80565.html

[2022-07-16 06:58] Comphix commented on #2568
Patch has been merged and close this issue.

[2022-07-16 06:59] #2568 closed

[2022-07-16 09:25] tanabarr commented on #2587
This is on bare metal (IceLake platform + Rocky Linux 8.5), @jimharris has acknowledged it's an issue already, perhaps you can add some additional context Jim.

[2022-07-16 09:28] tanabarr commented on #2587
We see it in our CI occasionally and have introduced the rmmod/modprobe workaround in the test provisioning scripts which has reduced (but not to zero) the frequency of the issue occurring. There is a concern that this may cause high exposure problems in production.

[2022-07-16 20:06] spdkci commented on #2589
Another instance of this failure. Reported by @apaszkie. log: https://ci.spdk.io/public_build/autotest-per-patch_80574.html

[2022-07-16 20:07] spdkci commented on #2201
Another instance of this failure. Reported by @apaszkie. log: https://ci.spdk.io/public_build/autotest-per-patch_80578.html

[2022-07-17 13:26] spdkci commented on #2201
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_80548.html

[2022-07-17 23:21] rsb-oss commented on #2584
Hi @shuhei-matsumoto , I tested the patch on our system and it works!  Sorry for the delay.

I have one suggestion for the commit message --  I think "set" should be changed to "cleared" as in the following message:
`caused an issue when the corresponding NVMe-oF target set the bit 18 of the SGL support field in the Identify Controller Data structure.`
should be changed to
`caused an issue when th

[2022-07-18 00:04] shuhei-matsumoto commented on #2584
Hi @rsb-oss Thank you so much for your careful test and code review.

Sorry, I don't know how I update the commit message of the merged patch.
So I saved the fix into the https://review.spdk.io/gerrit/c/spdk/spdk/+/13653 as what I can do at most.

Thanks again for your expertise.

[2022-07-18 00:04] #2584 closed

[2022-07-18 01:50] spdkci commented on #2483
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_80583.html

[2022-07-18 02:57] yidong0635 commented on #2587
@jimharris @tanabarr We need to setup this Rocky Linux8.5 locally anyway.  The first step is to reproduce it locally.

[2022-07-18 06:36] junwenx opened #2592 "[SMA] Can't find some modules in spdk/python/spdk/sma/proto path, such as sma_pb2, sma_pb2_grpc..."
# Bug report

Some module can't be found in spdk/python/spdk/sma/proto path, SMA test run fail.

## Steps to Reproduce

1. Compile SPDK code
2. `./test/sma/sma.sh`
3. Error raised
[2022-07-18 13:13:56.840447] app.c: 575:spdk_app_start: *NOTICE*: Total cores available: 1
Traceback (most recent call last):
  File "/home/wenjun/spdk/scripts/sma.py", line 15, in <module>
    import spdk.sma as sma

[2022-07-18 08:44] KKaras169169 commented on #2201
As @tomzawadzki mentioned, I will check currently used fedora VMs and try local reproduction.
In my previous reproduction tests only ZNS drives were causing problems, regular NVMes were behaving as expected.

[2022-07-18 09:00] spdkci commented on #1950
Another instance of this failure. Reported by @kgodzwox. log: https://ci.spdk.io/public_build/autotest-per-patch_80537.html

[2022-07-18 09:47] songyangeric opened #2593 "hotplug for a single device does not work in multi devices environment"
# Bug report

I changed the hotplug example under example/nvme/hotplug for single device hotplug test.  Default `NULL` is replaced by a specific trid so that a single device can be tested.
[code]
In my test environment, there are mulitiple nvme devices and I chose only one for test. When hotplug is executed, error messages are shown below (I added several log for analysis).
[code]

I dug into the

[2022-07-18 18:09] jimharris commented on #2587
Hi @tanabarr,

We had a lengthy discussion about this issue in our internal Teams chat - can you add all of that context to this issue?

-Jim

[2022-07-18 18:15] jimharris commented on #2593
Hi @songyangeric,

This is intended.  spdk_nvme_probe with NULL trio will attempt to probe (and attach) any NVMe devices that are not currently attached.  If there are no such devices, spdk_nvme_probe will just return immediately.

But if you pass a trid to spdk_nvme_probe, and the device is already attached, it will generate the errors as indicated in your report.

The hotplug test could be modif

[2022-07-18 18:15] #2593 closed

[2022-07-18 18:35] jimharris commented on #2201
This would be fine to eliminate the intermittent failure (which is hitting a lot of tests).

We would still leave this issue open though, so we can get to the bottom of why this issue occurs only with ZNS SSDs.

[2022-07-18 20:58] jimharris commented on #2580
Hi @Bianyfan,

I think it would be better to document the performance tuning considerations in doc/bdev.md.

Adding the NOTICELOG doesn't help the user know anything about why sharing the rados context object is good or bad.  The user already specified the -c option, so the NOTICELOG is not really adding much additional information.  Plus this can add unwanted noise to the log for users that know

[2022-07-19 02:48] spdkci commented on #2483
Another instance of this failure. Reported by @wanghailiangx. log: https://ci.spdk.io/public_build/autotest-per-patch_80615.html

[2022-07-19 03:16] junwenx commented on #2592
@ksztyber The reason is that, sorry for my wrong configuration, now it is ok. And the ticket can be closed. Thanks!

[2022-07-19 03:43] Bianyfan commented on #2580
Hi @jimharris ,
It's right that we may print noise spam in the log when customer create many images by sharing 1 rados. Maybe document is a better choice. But as I mentioned before, every new rados object will create 2 io_contxt_pool threads for I/O and 3 msgr-worker threads for thread message by default in ceph side. Obviously, these default threads could be a bottleneck since all the I/O request

[2022-07-19 06:27] spdkci commented on #2483
Another instance of this failure. Reported by @mmkayPL. log: https://ci.spdk.io/public_build/autotest-per-patch_80581.html

[2022-07-19 06:44] #2592 closed

[2022-07-19 06:52] wanghailiangx opened #2594 "[configure] Unsupported linker: ld, Configuration failed"
# CI Intermittent Failure

[code]

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/80673/archive/vhost-autotest/build.log

## Execution failed at

[code]

[2022-07-19 06:54] spdkci commented on #2594
Another instance of this failure. Reported by @wanghailiangx. log: https://ci.spdk.io/public_build/autotest-per-patch_80673.html

[2022-07-19 07:08] songyangeric commented on #2593
Hi, @jimharris
      Thanks for your reply.  I do have a question about hot remove. In our implementation, we bind each nvme device to an independent process and thereby a specific trid is paased to spdk_nvme_probe for each process. We are now testing single device failure by hot removing one device at a time.  By running hotplug example, we find that process still runs when device is hot removed.

[2022-07-19 07:11] spdkci commented on #2594
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_80663.html

[2022-07-19 07:11] spdkci commented on #2594
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_80661.html

[2022-07-19 07:11] spdkci commented on #2594
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_80662.html

[2022-07-19 07:12] spdkci commented on #2594
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_80668.html

[2022-07-19 07:12] spdkci commented on #2594
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_80667.html

[2022-07-19 07:12] spdkci commented on #2594
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_80664.html

[2022-07-19 07:18] spdkci commented on #2594
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_80666.html

[2022-07-19 07:19] mikeBashStuff commented on #2594
This issue was occurring on the node which should not be enabled in the CI pool (SM5) - @karlatec already disabled it so the issue should be gone.

[2022-07-19 08:18] spdkci commented on #2594
Another instance of this failure. Reported by @apaszkie. log: https://ci.spdk.io/public_build/autotest-per-patch_80680.html

[2022-07-19 08:52] mikeBashStuff commented on #2589
Fixed via: 7cd8de9c2bebee2c09a056dbc1d859b916e18e79

[2022-07-19 08:52] #2589 closed

[2022-07-19 08:53] spdkci commented on #2590
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_80682.html

[2022-07-19 09:19] spdkci commented on #2201
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_80695.html

[2022-07-19 13:02] spdkci commented on #2483
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_80707.html

[2022-07-19 13:20] spdkci commented on #2581
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_80717.html

[2022-07-19 13:38] mikeBashStuff opened #2595 "[nvmf_timeout] Failure while checking reconnect counter"
https://ci.spdk.io/results/autotest-per-patch/builds/80709/archive/nvmf-tcp-vg-autotest/build.log

Point of failure:
[code]

[2022-07-19 13:39] spdkci commented on #2595
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_80709.html

[2022-07-19 15:43] jimharris commented on #2595
This part of the log is also important - it shows that we actually found no instances of this string in the log:

[code]

[2022-07-19 17:27] jimharris commented on #2593
Hi @songyangeric,

The hotplug example is meant to show how hotplug works with SPDK, and to provide a means to do hotplug testing in CI.  I am not sure this example is well suited for your use case.

I would be fine with a command-line option for the hotplug example that causes a process exit (with error) if all devices get removed, but am not sure if that is what you are looking for here.

The ty

[2022-07-19 17:54] jimharris commented on #2580
Can you propose what this RPC would look like?

I agree, it is hard to say.  I'm not convinced that the rbd bdev module can always return an exact answer of what is best.  The optimal number could depend on a lot of factors - number of images, I/O workload, number of cores available or desired for the extra Ceph threads, etc.

Can you share more about "update configuration on ceph side"?  Do you m

[2022-07-19 21:55] tanabarr commented on #2587
DAOS related tickets: https://daosio.atlassian.net/browse/DAOS-10608 https://daosio.atlassian.net/browse/DAOS-8848

Teams chat dialogue:

[12/05 16:20] Nabarro, Tom
it says it does but then still can't be accessed

[12/05 16:24] Harris, James R
did this issue just start happening recently?  just wondering if there are any recent changes to scripts, configurations, etc. that might help us narrow th

[2022-07-19 23:57] jimharris commented on #2587
IIRC when we looked at this a while back, there was at least one device that would get unbound from vfio-pci but it's associated iommu_group would not get removed.  Or something like this.  It resulted in being unable to bind the device back to vfio-pci in later iterations.

I don't recall all the specifics.  If you can get me access to a failing system, ping me internally so I can take a look and

[2022-07-20 09:22] Bianyfan commented on #2580
Yes, @jimharris you are right. "update configuration on ceph side" means that we add the number of io_context_pool and msgr-worker threads. A simple way is to update the file "/etc/ceph/ceph.conf" and set the value. For example, add the configuration like that:
[global]
librados_thread_count = 3 (The number of io_context_pool thread is set to 3)
ms_async_op_threads = 5 (The number of msgr-worker t

[2022-07-20 10:09] tanabarr commented on #2587
I will ask Ray to run the script that you suggested before and try to get a machine in the state so you can investigate. I missed out some of the conversation on teams and having trouble accessing the chat history in any sensible way so I've just screenshot the message search for the given missing messages:
![teams_conv_1](https://user-images.githubusercontent.com/3277648/179956891-8ddbe62a-ec62-4

[2022-07-20 14:31] jlevon commented on #2392
Wow, that's a ... pretty brutal global lock. Seems like this would very easily explain the behaviour, we are synchronous on this lock in terms of processing vfio user messages.

[2022-07-20 17:19] jimharris commented on #2580
I think additional info in bdev.md would be very helpful.  I don't think we need any more NOTICELOGs when executing the RPC, but we could reference the "bdev_config_rbd" tag in the jsonrpc.md documentation for the RBD RPCs.

It might even be helpful to add a note to the rpc.py help for the bdev_rbd_create RPC to reference the SPDK documents for additional tuning guidance around the -c parameter.

[2022-07-20 17:54] jimharris opened #2596 "[vhost_blockdev] spdk_tgt SIGSEGV in rte_spinlock_lock"
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_80782.html
https://ci.spdk.io/public_build/autotest-per-patch_80785.html

## Execution failed at

[code]

[code]

[2022-07-20 17:55] spdkci commented on #2596
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_80785.html

[2022-07-20 18:18] spdkci commented on #2596
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_80792.html

[2022-07-20 19:51] spdkci commented on #2596
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_80799.html

[2022-07-20 19:51] spdkci commented on #2596
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_80797.html

[2022-07-20 20:31] jimharris commented on #2596
Never mind about QEMU, this is using SPDK viritio bdev module in vhost_user mode - so QEMU is not part of the problem here.

Still investigating...

[2022-07-20 20:39] jimharris commented on #2596
Well...this is running in a VM, so we are using QEMU, but we aren't doing vhost through QEMU.  We are running spdk_tgt for vhost in the VM, and then talking to it from a separate SPDK process running in the VM.

So we can't completely rule out QEMU here, but it's still not likely to be the cause of the problem from my perspective, since the vhost processing itself isn't going through QEMU.

[2022-07-21 02:02] spdkci commented on #2595
Another instance of this failure. Reported by @MengjinWu. log: https://ci.spdk.io/public_build/autotest-per-patch_80776.html

[2022-07-21 02:26] changpe1 commented on #2590
00:14:00.155    09:44:04	-- vhost/common.sh@208 -- # sleep 1
00:14:00.155  [2022-07-19 09:44:04.693019] vfio_user.c:2873:vfio_user_log: *ERROR*: /root/vhost_test/vms/1/muser/domain/muser1/1: tran_sock_get_request_header: not connected
00:14:00.155  [2022-07-19 09:44:04.693109] vfio_user.c:2873:vfio_user_log: *ERROR*: /root/vhost_test/vms/1/muser/domain/muser1/1: failed to receive request: Transpor

[2022-07-21 02:30] changpe1 commented on #2574
Fix patch for main branch is in https://review.spdk.io/gerrit/c/spdk/spdk/+/13706

[2022-07-21 04:10] spdkci commented on #2596
Another instance of this failure. Reported by @MengjinWu. log: https://ci.spdk.io/public_build/autotest-per-patch_80827.html

[2022-07-21 05:38] yidong0635 commented on #2587
I have a method to reproduce this kind of issue, I just to want generate this kind of scenario:
[code]
that's 100% reproduced, maybe I'm wrong to do this :
the "no driver" can be assigned , here only has one nvme
[code]
I don't know if this is helpful.
if it's helpful, that seems can be improvement from the scritps/setup.sh side to avoid.

[2022-07-21 05:53] changpe1 commented on #2596
All the failure cases are using /usr/local/qemu/vanilla-v6.0.0/bin/qemu-system-x86_64, so I think this issue isn't related with QEMU, and I tested QEMU 7.0.50 and didn't reproduce this issue in my environment.

[2022-07-21 05:58] spdkci commented on #2596
Another instance of this failure. Reported by @MengjinWu. log: https://ci.spdk.io/public_build/autotest-per-patch_80831.html

[2022-07-21 06:24] karlatec commented on #2596
@changpe1 is correct - these tests were still using Qemu v6.0.0. I think so far we only merged a patch for spdk/vm_setup.sh for installing Qemu v7.0.0, but we haven't actually deployed it to vm-hosts yet.

[2022-07-21 06:45] Comphix commented on #2585
Looking at below function, as it supports extra arguments, looks like we could also output the bdev_name in the caller although now we are not dumping the bdev_name.

For example:

[code]

[2022-07-21 06:46] Comphix commented on #2585
Is this workable for you?

[2022-07-21 07:03] spdkci commented on #2595
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_80772.html

[2022-07-21 07:03] mikeBashStuff commented on #2594
SM5 was disabled from the CI pool so closing this issue.

[2022-07-21 07:03] #2594 closed

[2022-07-21 08:02] spdkci commented on #2596
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_80836.html

[2022-07-21 08:38] changpe1 commented on #2565
patch has been merged, so closing this issue now.

[2022-07-21 08:38] #2565 closed

[2022-07-21 09:05] spdkci commented on #2201
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_80849.html

[2022-07-21 11:49] spdkci commented on #2559
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_80824.html

[2022-07-21 13:08] spdkci commented on #2559
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_80869.html

[2022-07-21 14:05] spdkci commented on #2596
Another instance of this failure. Reported by @mmkayPL. log: https://ci.spdk.io/public_build/autotest-per-patch_80841.html

[2022-07-21 14:05] spdkci commented on #2596
Another instance of this failure. Reported by @mmkayPL. log: https://ci.spdk.io/public_build/autotest-per-patch_80842.html

[2022-07-21 22:27] spdkci commented on #2596
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_80945.html

[2022-07-21 22:28] spdkci commented on #2596
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_80946.html

[2022-07-21 23:05] spdkci commented on #2595
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_80948.html

[2022-07-21 23:13] peluse opened #2597 "[interrupt_mode] cheduler/interrupt.sh@41 -- # (( is_idle[cpu] == 1 ))"
00:09:27.404   00:17:57	-- scheduler/interrupt.sh@37 -- # (( cpu == spdk_main_core ))
00:09:27.404   00:17:57	-- scheduler/interrupt.sh@40 -- # (( cpu != spdk_main_core ))
00:09:27.404   00:17:57	-- scheduler/interrupt.sh@41 -- # (( is_idle[cpu] == 1 ))
00:09:27.404    00:17:57	-- scheduler/interrupt.sh@41 -- # trap - ERR
00:09:27.404    00:17:57	-- scheduler/interrupt.sh@41 -- # print_backtrace
0

[2022-07-21 23:14] spdkci commented on #2597
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_80947.html

[2022-07-21 23:16] peluse opened #2598 "[nvmf_discovery] Possible timeout"
0:17:19.498   22:35:20	-- host/timeout.sh@132 -- # sleep 5
00:17:24.778   22:35:25	-- host/timeout.sh@133 -- # cat /home/vagrant/spdk_repo/spdk/test/nvmf/host/trace.txt
00:17:24.778  Attaching 5 probes...
00:17:24.778    22:35:25	-- host/timeout.sh@136 -- # grep -c 'reconnect delay bdev controller NVMe0'
00:17:24.778     22:35:25	-- host/timeout.sh@136 -- # trap - ERR
00:17:24.778     22:35:25	--

[2022-07-21 23:17] spdkci commented on #2598
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_80950.html

[2022-07-21 23:18] spdkci commented on #2598
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_80956.html

[2022-07-21 23:18] spdkci commented on #2598
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_80953.html

[2022-07-21 23:29] jimharris commented on #2597
Duplicate of #1950.

I updated the title of #1950 to include part of the failure string.

[2022-07-21 23:29] #2597 closed

[2022-07-21 23:31] jimharris commented on #2598
Duplicated of #2595.

[2022-07-21 23:31] #2598 closed

[2022-07-21 23:42] jimharris commented on #2207
Issue hasn't been seen in almost a year.

[2022-07-21 23:42] #2207 closed

[2022-07-21 23:43] jimharris commented on #2247
Issue not seen for over 5 months.

[2022-07-21 23:43] #2247 closed

[2022-07-21 23:48] jimharris commented on #1065
I'm going to close this issue again.  This test log was reaped already, so cannot go back and check it.  I'm wondering if it was related to the more recent #2447 which will stay open.

[2022-07-21 23:48] #1065 closed

[2022-07-21 23:48] jimharris commented on #2448
Only seen once, over 3 months ago.

[2022-07-21 23:48] #2448 closed

[2022-07-21 23:50] jimharris commented on #2448
Actually this has been seen a few more time (although still over 3 months ago), but all of the other instances are part of issue #2406.  So this one was actually a duplicate.

[2022-07-21 23:54] jimharris commented on #2406
Haven't seen this in over 3 months, but not exactly sure why the problem just went away.  @ksztyber made some changes in the uring module recently, but long after these failures stopped happening.

@ksztyber could you take a few minutes to look at this issue, and see if you have any additional insight?  You've been looking at this code recently so something may jump out at you.  Feel free to close

[2022-07-22 00:12] mkotwani1 commented on #2407
@jimharris  we are not seeing it anymore, so closing it out!

[2022-07-22 00:12] #2407 closed

[2022-07-22 02:19] zerodistance00 opened #2599 "json with content: "subsystems" : 1111 not parsed as invaild json"
# Bug report

json config with content:

![image](https://user-images.githubusercontent.com/6441443/180347848-62c4777b-3599-4fc8-b0b6-59edddca65c4.png)

will not parse as INVALID_JSON，and will startup hang, only reporting 'No subsystems'.
![image](https://user-images.githubusercontent.com/6441443/180346656-4a17b075-b418-4f66-8cd7-05967c7461d2.png)

## Expected Behavior

report json invalid error.

[2022-07-22 06:11] spdkci commented on #2201
Another instance of this failure. Reported by @wanghailiangx. log: https://ci.spdk.io/public_build/autotest-per-patch_80982.html

[2022-07-22 07:04] spdkci commented on #2201
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_80927.html

[2022-07-22 07:05] spdkci commented on #2596
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_80923.html

[2022-07-22 07:07] spdkci commented on #2596
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_80902.html

[2022-07-22 07:08] spdkci commented on #2596
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_80922.html

[2022-07-22 08:03] spdkci commented on #2577
Another instance of this failure. Reported by @wanghailiangx. log: https://ci.spdk.io/public_build/autotest-per-patch_80985.html

[2022-07-22 08:25] jchachux commented on #1840
Bug repoduced on:
[code]
Reproduced on SPDK versions `00d46b80b2f` and `v22.05`

## Steps to reproduce

### 1. Manual test with target machine and initiator

Checkout latest SPDK (or v22.05) and build it with:
[code]

On target:
[code]

On inititiator run:
[code]

After running traffic `nvmf_tgt` freezes on target and SIGINT signall doesn't work you have to kill process manually:
[code]
### 2. Tes

[2022-07-22 08:26] jchachux commented on #1840
Bug repoduced on:
[code]
Reproduced on SPDK versions `00d46b80b2f` and `v22.05`

## Steps to reproduce

### 1. Manual test with target machine and initiator

Checkout latest SPDK (or v22.05) and build it with:
[code]

On target:
[code]

On inititiator run:
[code]

After running traffic `nvmf_tgt` freezes on target and SIGINT signall doesn't work you have to kill process manually:
[code]
### 2. Tes

[2022-07-22 09:42] karlatec commented on #1840
@jimharris looks like this is back to haunt us.
We're using the latest E8100 firmware (3.20) and `irdma` `ice` Fedora inbox drivers (as opposed to building them OOT last time).

[2022-07-22 10:03] zerodistance00 commented on #2599
thanks.
already submit a patch for that:  https://review.spdk.io/gerrit/c/spdk/spdk/+/13754

[2022-07-22 10:17] spdkci commented on #2596
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_81015.html

[2022-07-22 10:17] spdkci commented on #2596
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_81016.html

[2022-07-22 10:18] spdkci commented on #2416
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_81005.html

[2022-07-22 10:55] spdkci commented on #2201
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_81023.html

[2022-07-22 11:08] spdkci commented on #2595
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_81025.html

[2022-07-22 11:12] spdkci commented on #2500
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_81017.html

[2022-07-22 11:43] mikeBashStuff opened #2600 "[vfio_user_fio] vfio-user qemu hit by a segfault during test"
# CI Intermittent Failure

https://ci.spdk.io/results/autotest-per-patch/builds/81028/archive/vfio-user-autotest/build.log

[code]

[code]

https://ci.spdk.io/results/autotest-per-patch/builds/81028/archive/vfio-user-autotest/coredumps/index.html
[code]

[2022-07-22 11:44] spdkci commented on #2600
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_81028.html

[2022-07-22 11:45] spdkci commented on #2596
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_81029.html

[2022-07-22 13:07] mikeBashStuff opened #2601 "[vhost_blockdev] job hit timeout while waiting for vhost to terminate"
# CI Intermittent Failure

https://ci.spdk.io/results/autotest-per-patch/builds/81043/archive/vhost-initiator-vg-autotest/build.log

[code]

[2022-07-22 13:08] spdkci commented on #2601
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_81043.html

[2022-07-22 13:28] ksztyber commented on #2406
I'm pretty sure this has been fixed by 3056c8ac02a27b01f84fdc8e0cf796c3d8737909. It was merged on Apr 25 while the last occurrence was seen on Apr 15, so it also points that this is what fixed this issue.

I think what was happening here was that we had a few pending/queued sock_reqs and when we aborted the first one in `spdk_sock_abort_requests()`, we've destroyed the qpair freeing the buffers co

[2022-07-22 13:28] #2406 closed

[2022-07-22 13:32] mikeBashStuff opened #2602 "BlobFS-autotest job hits timeout while rebinding pci devices (WFP13)"
https://ci.spdk.io/results/autotest-per-patch/builds/81042/archive/BlobFS-autotest/build.log

[code]

Kernel log doesn't look quite healthy:

[code]

Shows some similarities to #2587  - devices end up being unbound from the nvme driver, removed from the iommu group and kernel fails to bind them to vfio-pci driver (this causes `setup.sh` to hang as write to sysfs blocks indefinitely).

[2022-07-22 13:33] spdkci commented on #2602
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_81042.html

[2022-07-22 15:59] spdkci commented on #2601
Another instance of this failure. Reported by @EugeneKochetov. log: https://ci.spdk.io/public_build/autotest-per-patch_81010.html

[2022-07-22 16:16] AlekseyMarchuk commented on #2541
Candidate for fix can be found here https://review.spdk.io/gerrit/c/spdk/spdk/+/13760
@mhae is verifying this patch, but even if it doesn't fully solve this issue, it still fixes a real problem

[2022-07-22 20:27] mhae commented on #2541
@AlekseyMarchuk, I haven't encountered the issue with your fix yet (total run time ~6h). So it's definitely a huge improvement! I'll let the test run over the weekend and report back.
Thanks so much for your help!

[2022-07-22 23:00] mikeBashStuff opened #2603 "[blobstore] match run against btest.out.match fails on nodes with multiple nvme drives installed"
https://ci.spdk.io/results/autotest-per-patch/builds/81050/archive/BlobFS-autotest/build.log

[code]

The match expects to find config with a single bdev nvme based on the .match file.  Simple fix (to make sure only one nvme is attached via provided config) without trying to adjust the .match file- (which is not feasible as different nodes may come with different number of nvme drives installed):

[2022-07-22 23:01] spdkci commented on #2603
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_81050.html

[2022-07-23 00:24] spdkci commented on #2603
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_81075.html

[2022-07-23 00:36] spdkci commented on #2201
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_81076.html

[2022-07-23 07:54] ShaoxunZeng opened #2604 "nvmf connect fail when setting`src_addr`"
# Bug report

When using `rpc.py` to connect nvmf target, I want to use specific NIC, so I set `spdk_nvme_ctrlr_opts.src_addr` with an IP addr. But the host (`spdk_tgt`) fail, I suspect the problem is in the IP addr translation.

## Steps to Reproduce
First I start up target using ` ./build/bin/nvmf_tgt -c ./app/nvmf_tgt/config.json`, and in the host side I run `./build/bin/spdk_tgt` as RPC client