[2018-02-09 00:32] jimharris commented on #236
Hi Meng,

Would you like to submit a patch on Gerrithub with this fix?

-Jim

From: Meng Wang <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Thursday, February 8, 2018 at 5:15 PM
To: spdk/spdk <spdk@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [spdk/spdk] "-H" option of test/lib/nvme/overhead throws segmentation fault (#236)

Command:

[2018-02-09 01:44] wm8120 commented on #236
Okay.

[2018-02-09 08:16] ChenWang01 opened #238 "vhost core dump when use error configuration"
## Problem Statement
SPDK core dump when testing vhost-scsi target with error configuration.
## Steps to reproduce
Change the vhost.conf.in file as Configuration
On target, Run command ./app/vhost/vhost -c ./vhost.conf.in
## Configuration
file "vhost.conf.in"
### case1:
[Global]
   LogFacility "local7"
[Rpc]
  Enable Yes
  Listen 127.0.0.1
[Ioat]
  Disable Yes
[AIO]
[Malloc]
  NumberOfLuns 3
  Lun

[2018-02-09 08:26] ChenWang01 commented on #238
## commit : e8650a81eefb8ab56de9eb01a8ad7eb83d763d99
## Target information:
Starting DPDK 17.11.0 initialization...
[ DPDK EAL parameters: vhost -c 0x1 -m 1024 --file-prefix=spdk_pid169957 ]
EAL: Detected 44 lcore(s)
EAL: No free hugepages reported in hugepages-1048576kB
EAL: Probing VFIO support...
EAL: VFIO support initialized
app.c: 376:spdk_app_start: *NOTICE*: Total cores available: 1
reactor

[2018-02-09 09:26] optimistyzy commented on #235
Can someone check the following patch:

https://review.gerrithub.io/398904

I used this this patch to verify this issue on my platform according to the configuration provided by qun, it seems that the crash will not happen. @wanqunintel  @Comphix

[2018-02-09 11:05] wuwenjuncool commented on #235
Verify with patch:https://review.gerrithub.io/398904 core_dump can't reproduce.
And without this patch core dump will produce:
`[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib64/libthread_db.so.1".
Core was generated by `./app/nvmf_tgt/nvmf_tgt -c nvmf.conf'.
Program terminated with signal SIGABRT, Aborted.
#0  0x00007fefbe9fe91f in raise () from /lib64/libc.so.

[2018-02-11 03:25] wanqunintel commented on #235
@optimistyzy We have verified this patch with different core mask(0xFFFF, 0x0FFF, 0x0001) on the failed system(non-purley) and now it works. Thank you for the quick patching.

[2018-02-11 03:29] ChenWang01 commented on #235
Verify with patch:https://review.gerrithub.io/398904 core_dump can't be reproduced.
Verify this issue with different kernel(4.10,4.13,4.14) and different number of  core mask(0xFFFFFF,0xFFFF,0xFFF,0x11,0x01), it's can't be reproduced.

[2018-02-12 03:09] wanghailiangx opened #239 "A positive test case response an error in pmem.sh"
# **Problem Statement**

A pmem.sh's case "create_pmem_pool_tc3" response an error in  in Building Pool , but this is a positive test case.

error log as bellow:
Now running: create_pmem_pool_tc3
[
  {
    "block_size": 512,
    "num_blocks": 519896
  }
]
Got JSON-RPC error response
request:
{
  "jsonrpc": "2.0",
  "params": {
    "pmem_file": "/home/sys_sgsw/build_pool/agent/repo/test/pmem/pool_f

[2018-02-12 03:15] wanghailiangx commented on #239
A patch has been raised to resolve it. https://review.gerrithub.io/#/c/398469/

[2018-02-12 13:37] ehudmarvell opened #240 "nvme: nvme_ctrlr_destruct: fix free order"
Hi,

I tried to push the fix as commit but had some issues

fixing nvme_ctrlr_destruct order because nvme_transport_ctrlr_destruct may use a destroyed mutex

 nvme_ctrlr_destruct() free "ctrlr_lock" and after that call
 nvme_transport_ctrlr_destruct()->nvme_pcie_ctrlr_destruct()(with pci)->
 nvme_ctrlr_proc_get_devhandle()->nvme_robust_mutex_lock(&ctrlr->ctrlr_lock);

before:

after

[2018-02-12 17:13] #238 closed

[2018-02-12 18:16] dverkamp-intel commented on #240
We can't quite just reverse the order of these statements, since nvme_transport_ctrlr_destruct() is responsible for freeing the memory for ctrlr; this would cause the ctrlr->ctrlr_lock access to be a use-after-free.

The cleanest fix might be to add a new function, something like nvme_ctrlr_destruct_finish(), that the transport needs to call after completing its cleanup but before freeing the ctrl

[2018-02-12 20:52] dverkamp-intel commented on #216
Any updates on this issue? Is this still reproducible in SPDK v18.01?

[2018-02-12 20:55] dverkamp-intel commented on #207
Since this is not an SPDK issue and no responses have been posted, I'm going to close this issue; please check with Red Hat support if you are still unable to install the necessary dependencies.

[2018-02-12 20:55] #207 closed

[2018-02-13 00:19] ksingh2017 commented on #207
I had a similar issue a while ago but with yum.  Later, I found out that libibverbs is already part of rdma-core so it does not need to be installed separately.  However, getting the latest from git (https://github.com/linux-rdma/rdma-core) yielded the best results.  Older rdma-core that installed via yum was causing crashes.

[2018-02-13 10:49] ehudmarvell commented on #240
Thank you for your quick response

I upload the patch according to your comments:
https://review.gerrithub.io/#/c/399605/

[2018-02-14 15:59] sumanchakraborty1510 opened #241 "Unable to list all the subsystems using RPC method get_nvmf_subsystems"
Hi ,
I am trying to list down all the subsystems created using rpc.py get_nvmf_subsystems.But when large number of subsystems with variable number of namespaces are created it is unable to list down all the subsystems and throws an error "Not enough space in send buf".

While browsing through the code i found that the send buffer is statically allocated for 32KB which is unable to accommodate the

[2018-02-14 18:21] dverkamp-intel commented on #241
I've posted a patch for review that allows the send_buf to grow as needed: https://review.gerrithub.io/#/c/399925/

[2018-02-16 15:30] pawelwod opened #242 "Vhost using nvmf bdev is triggering assertion for high queue depth"
Those settings
[code]

are triggering assertion failed (guest VM num_queues=1)
[code]

[2018-02-16 22:23] edchengg opened #243 "How to run FIO test with shadow doorbell?"
Hi,
What should I do to run FIO test with shadow doorbell?

Thanks in advance.

[2018-02-20 17:53] dverkamp-intel commented on #240
This has been merged as commit c83cd9375bce67599280235b1f06fb682f27e580 - thanks for the report and the patch!

[2018-02-20 17:53] #240 closed

[2018-02-21 00:01] dverkamp-intel commented on #243
The SPDK NVMe driver will automatically use the shadow doorbell feature if it is available; if you use the SPDK NVMe fio plugin (see examples/nvme/fio_plugin/README.md) with a virtualized controller that supports the feature, it will take advantage of it.

Patches have been posted to add this feature to the QEMU NVMe device model, but I don't believe they are merged.  You can find the original mai

[2018-02-21 17:52] dverkamp-intel commented on #239
The patch above has been abandoned, and a comment was posted saying "Actually pmem_pool_info check is in the test plan so it should stay..."

Can someone clarify what the original issue is and whether it is still present? Do we need a test change, or a test plan change, or is this not an issue at all?

[2018-02-21 17:57] dverkamp-intel commented on #242
The call stack indicates that we ended up in the `child == NULL` branch of _nvme_add_child_request(), meaning that a previous nvme_allocate_request() failed (presumably due to being out of requests in the pool).

It seems like we possibly have two or more levels of request nesting, so maybe something like this will help:

[code]

Can you try this patch and see if the issue is still present?

We sh

[2018-02-22 10:43] BlueParachute opened #244 "run fio plugin fail : symbol lookup error"
Hi,

I have followed all the steps in README.md of SPDK, DPDK and FIO plugin.
After fully compiled (with "./configure --with-fio=/path/to/fio/repo") , I ran "sudo scripts/setup.sh", "Hello_World example" and "perf ", all of them work without problem.

But when I try to run FIO plugin, I got an error message like below :
LD_PRELOAD=/usr/src/test/spdk/examples/nvme/fio_plugin/fio_plugin fio example_

[2018-02-22 15:14] jimharris commented on #244
Hi,

I am not able to reproduce this problem so will need some additional details.

First – can you confirm that the fio in your path matches the one built and installed from your fio repo?

Also – where does /usr/bin/python3 come in here?  fio is not a Python script.

Thanks,

-Jim

From: BlueParachute <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Thursday, Februar

[2018-02-22 15:59] dverkamp-intel commented on #244
Please be sure that you are using the same version of fio that you compiled the plugin with, e.g. /path/to/fio/repo/fio rather than the system fio installed in $PATH.

[2018-02-22 20:22] dverkamp-intel commented on #235
Closing this as the fix mentioned above has been merged as commit 30ef8cac7d5a7800abaa2ca1510993413de81d41.

[2018-02-22 20:22] #235 closed

[2018-02-23 07:54] BlueParachute commented on #244
Hi all, thanks for the reply.

Jimharris,
(1) My folder of FIO cloned from git is under "/usr/src/ ", and folder of SPDK cloned from git is also
     under "/usr/src/ ".

(2) I am not sure why python showed up in error message.

Dverkamp-intel,
I am using the FIO in SPDK fio_plugin folder.
( LD_PRELOAD=/usr/src/test/spdk/examples/nvme/fio_plugin/fio_plugin fio example_config.fio )

My FIO was clon

[2018-02-23 09:55] darsto commented on #244
Hi,

example_config.fio

Are you sure the `fio` above is the one in /usr/src/fio/fio?
Can you try the following?

$ cd /usr/src/fio
$ ./configure
$ make
$ LD_PRELOAD=/usr/src/test/spdk/examples/nvme/fio_plugin/fio_plugin
/usr/src/fio/fio example_config.fio

Regards,
D.

2018-02-23 8:54 GMT+01:00 BlueParachute <notifications@github.com>:

[2018-02-23 10:42] BlueParachute commented on #244
Hi Darsto,

Great thanks!
After I followed your step, the FIO run well now, with SPDK engine.
By the way, where can I set the path for fio, so I don't have to assign which folder should fio_plugin looking for fio again.

[2018-02-23 12:08] darsto commented on #244
which folder should fio_plugin looking for fio again.

If you want it to be accessible as just `fio`, you should replace the
system fio binary, which can be located with:

$ which fio

Or you could rename it to e.g. `fio-3.3` and copy to one of the directories
in PATH:

$ echo $PATH

Regards,
D.

2018-02-23 11:42 GMT+01:00 BlueParachute <notifications@github.com>:

[2018-02-23 20:35] #242 closed

[2018-02-26 05:23] wanghailiangx opened #245 ""Corruption: Sst file size mismatch" in randread case of rocksdb.sh"
# **Problem Statement**

rocksdb.sh reports error as bellow:
========== Backtrace start: ==========
in ./test/blobfs/rocksdb/rocksdb.sh:16 -> run_step()
...
nl: ./test/blobfs/rocksdb/rocksdb.sh: No such file or directory
...
in ./test/blobfs/rocksdb/rocksdb.sh:119 -> main()
...
nl: ./test/blobfs/rocksdb/rocksdb.sh: No such file or directory
...
========== Backtrace end ==========

Error log from o

[2018-02-26 16:17] dverkamp-intel commented on #245
I've updated the title to be more accurate; the "No such file or directory" in the backtrace is just an issue with the way print_backtrace works.

[2018-02-27 11:01] ranjitnoronha opened #246 "Possible missing linked-list remove in unregister_trids()"
While reviewing the code, I came across the following code in examples/nvme/perf/perf.c:
static void
unregister_trids(void)
{
	struct trid_entry *trid_entry, *tmp;

	TAILQ_FOREACH_SAFE(trid_entry, &g_trid_list, tailq, tmp) {
		free(trid_entry);
	}
}

Is there a missing TAILQ_REMOVE()?

ie. should the code be:

static void
unregister_trids(void)
{
	struct trid_entry *trid_entry, *tmp;

	TAILQ_FOREA

[2018-02-27 16:01] jimharris commented on #246
Hi Ranjit,

The TAILQ_REMOVE would be OK, but it is not technically needed since the g_trid_list is not used again after unregister_trids() is called.

But if you would like to submit a patch through GerritHub to add the TAILQ_REMOVE I think it would be a nice cleanup.

Thanks,

-Jim

From: Ranjit Noronha <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Tuesday, Februa

[2018-02-28 05:08] ChenWang01 opened #247 "spdk/nvme-cli command "./nvme intel internal-log $bdfs" can't work"
## Problem statement
spdk/nvme-cli command: "./nvme intel internal-log $bdfs" can't work.

## Step to reproduce
1. clone newest spdk/nvme-cli with commit:1dbe081f680a43134654e4fded062ea8beb2da32
2. clone newest SPDK with commit: c9e5d2a6d0a086a7646c841bdef400d59c4d2498
3. cd spdk && git submodule update --init
4./configure
5. make -j 64
6. ./scripts/setup.sh
7.set spdk=1 in spdk.conf
8. run comman

[2018-02-28 05:15] ChenWang01 commented on #247
Verify with patch https://review.gerrithub.io/#/c/394384/
Verify with follow commands all passed:
[code]

[2018-02-28 05:15] #247 closed

[2018-02-28 07:14] liang2yan opened #248 "iscsi_tgt: hotplug causes bdev_io leaks"
Mem pool related error message will be printed while running test/iscsi_tgt/fio/fio.sh.
The error message is as below:
# steps to reproduce this issue:
run spdk/test/iscsi_tgt/fio/fio.sh.

Error log:
 07:17:18	# rm -f /home/sys_sgsw/build_pool/agent/repo/test/iscsi_tgt/fio/iscsi.conf
 07:17:18	# killprocess 2674
 07:17:18	# '[' -z 2674 ']'
 07:17:18	# echo 'killing process with pid 2674'
killing p

[2018-02-28 07:28] Comphix commented on #248
What's the content for the iscsi.conf ?

[2018-03-01 07:13] BhanuKumarRV opened #249 "Retrieving drive logs"
How do we retrieve drive logs through SPDK for vendor specific commands?
Can we extend spdk_nvme_log_page in Nvme_spec.h under include\spdk?

[2018-03-01 07:48] xuhuagen opened #250 "SPDK iscsi_tgt reported *ERROR*: ABORT_TASK failed while running spdk/test/iscsi_tgt/filesystem/filesystem.sh"
# Error messages appear when formatting a ssd .

The script  is as below:

[code]

## steps to reproduce this issue:
run spdk/test/iscsi_tgt/filesystem/filesystem.sh

Error log:
[code]

[2018-03-01 16:29] BhanuKumarRV commented on #249
We are adding commands to retrieve data for multiple failures and logs of various components within our system.

[2018-03-02 00:03] dverkamp-intel commented on #250
It looks like it's failing during an unmap - can you turn on some logging or dig in with a debugger to see where it's failing? (lvol, nvme, etc.)

Also, this looks like it's different than the version of test/iscsi_tgt/filesystem/filesystem.sh that's currently checked in; is there a review corresponding to this change on GerritHub?

[2018-03-02 00:04] dverkamp-intel commented on #249
spdk_nvme_ctrlr_cmd_get_log_page() is generic and should work for any log page (vendor specific or not).

Can you provide some clarifying details on what you're trying to achieve and why the existing API doesn't work?

[2018-03-02 00:09] dverkamp-intel commented on #248
This reproduces all the time in the test pool as well.  For example: https://ci.spdk.io/spdk/builds/release/master/4441/fedora-02/build.log

[2018-03-02 00:30] jimharris commented on #248
Yeah – this is all related to iSCSI hotplug.  There are some patches out to work towards getting this fixed, but it will be a non-trivial effort.

More details can be found here: https://trello.com/c/MCqjqMKX

From: Daniel Verkamp <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Thursday, March 1, 2018 at 5:09 PM
To: spdk/spdk <spdk@noreply.github.com>
Cc: Subscribed <

[2018-03-02 04:49] liang2yan opened #251 "SPDK nvmf target hung up or crashed while the updated test/nvmf/filesystem/filesystem.sh"
The script content is as below:
`#!/usr/bin/env bash

testdir=$(readlink -f $(dirname $0))
rootdir=$(readlink -f $testdir/../../..)
source $rootdir/test/common/autotest_common.sh
source $rootdir/test/nvmf/common.sh

KERNEL_DIR="/home/kernel.tar.gz"
KERNEL_BASE=$(basename $KERNEL_DIR)
rpc_py="python $rootdir/scripts/rpc.py"

function trap_handle() {
#       nvme disconnect -n "nqn.2016-06.io.spdk:c

[2018-03-02 06:03] liang2yan opened #252 "iscsiadm tool reported error message while logining to 128 SPDK iSCSI target nodes"
The iSCSI target config file is as below:
<pre><code>
# Configuration file
#
# Please write all parameters using ASCII.
# The parameter must be quoted if it includes whitespace.
#
# Configuration syntax:
# Spaces at head of line are deleted, other spaces are as separator
# Lines starting with '#' are comments and not evaluated.
# Lines ending with '\' are concatenated with the next line.
# Bracket

[2018-03-02 18:13] dverkamp-intel commented on #251
The script above changes a couple of things compared to the current test:
- Malloc bdevs are changed to NVMe + lvol
- Nightly test builds a kernel source tree instead of touching a file

Does each of these changes have an associated Gerrit review?

Can you narrow down which part is causing the issue?

[2018-03-04 02:31] stallamr opened #253 "nvmf initiator fails on FreeBSD due to rdma_create_event_channel() failure"
My working environment is FreeBSD initiator and Linux target. I'm working with FreeBSD master and SPDK master.

Issue: Upon running "perf" example, I see error like below

...
...
Initializing NVMe Controllers
libibverbs: Warning: couldn't open config directory '/etc/ibverbs/'.
nvme_rdma.c: 736:nvme_rdma_qpair_connect: *ERROR*: rdma_create_event_channel() failed
nvme_rdma.c:1339:nvme_rdma_ctrlr_co

[2018-03-05 01:28] xuhuagen commented on #250
As you said,  I constructed Target node in both cases
1. Change the from using Malloc bdevs to Nvme with lvol.
2. Using only nvme bdev without lvol.
In these cases, errors did not occured.

[2018-03-05 15:46] jimharris commented on #253
Hi Rajesh,

Thanks for your analysis on this!

Your issue says:

“The fix is to link required OFED drivers to SPDK. Like libibverbs, librdma and libmlx4 or libmlx5 or libcxgb4 depending on your RDMA hardware.”

Should this replace “Like” with “Link” and “librdma” with “librdmacm” instead?

“The fix is to link required OFED drivers to SPDK. Link libibverbs, librdmacm and libmlx4 or libmlx5 or libcx

[2018-03-05 16:01] nedved1 opened #254 "spdk/vhost: vhost-block readonly flag not visible in qemu branch spdk-2.12-pre"
In qemu spdk-2.12-pre branch, vhost block controllers with readonly option enabled are not visible as readonly disks. This is causing /test/vhost/readonly/readonly.sh to fail:
[test_log.txt](https://github.com/spdk/spdk/files/1781554/test_log.txt)

The "RO" flag is not visible in VM
[code]

[2018-03-05 20:42] rajeshsai810 commented on #253
Thanks Jim. That's right.

To be more precise, we only need to link respective userspace library for your device. In my case its libmlx4.

ifeq ($(CONFIG_RDMA), y)
ifeq ($(OS),FreeBSD)
LDFLAGS+=  -lmlx4
endif
endif

That did the trick for me.

[2018-03-05 22:53] jimharris commented on #253
Thanks Rajesh!

We’ll need to think if/how we can automate this in our build scripts.  But at least getting your FreeBSD steps documented in our public docs will be a great step forward.

Is this something you’d like to push a patch for?  If not, we’ll make sure someone takes care of it.

-Jim

From: Sai Rajesh <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Monday, M

[2018-03-06 01:07] wanqunintel commented on #251
@liang2yan Is there a patch review for it?

[2018-03-06 07:03] liang2yan opened #255 "SPDK iSCSI target crashed while running autotest nightly testing"
As the title, SPDK iSCSI target sometimes crashed while running autotest nightly testing. The SPDK autotest nightly testing was run everyday. The link is as below:
https://review.gerrithub.io/#/c/393768/

The core dump info is as below.
<pre><code>
 08:31:55	# python /home/sys_sgsw/spdk_repo/spdk/scripts/fio.py 1048576 128 rw 10
Found devices:  ['sdb']
Requested queue_depth 128 but only 113 is sup

[2018-03-06 07:13] changpe1 commented on #254
Thanks for submitting this issue, @nedved, I will submit a patch to fix this. The main reason is that when starting the QEMU, users must append config-ro=true for Read Only disks.

[2018-03-06 08:24] liang2yan commented on #251
@wanqunintel , there is no patch to fix this issue. Only one patch is for the test scripts.
https://review.gerrithub.io/#/c/393299/

@dverkamp-intel ,please see the link(https://review.gerrithub.io/#/c/393299/
) for this script.  Actually the script didn't run into the building kernel source step. It failed at the mkpart step. I have used NVMe backend only. And the scripts passed. And I  used Mall

[2018-03-06 09:08] changpe1 commented on #251
There are 2 steps to fix this issue, first, we need to set the NVMoF controller identity's volatile write cache bit based on the backend device can support FLUSH command or not, I have submitted a patch for this: https://review.gerrithub.io/#/c/402653/; second, there need to add FLUSH API support for lvol bdev layer, this should be another patch.

[2018-03-06 14:17] optimistyzy commented on #255
there are some issues related with iscsi hotplug， I suggest that you
disable hotplug during fio test. This is also mentioned.by JIm, some
patches are not merged yet.

2018年3月6日星期二，Liang Yan <notifications@github.com> 写道：

[2018-03-07 07:57] Comphix commented on #250
Hi huagen,

Could you have a try with latest code and no change on the backend bdev (still use Malloc)?

I've just run on my code base with below information, it passed on the original script.

commit dbeed703c27bd45d626268d1db2e7170485081d7
Author: GangCao <gang.cao@intel.com>
Date:   Tue Jan 23 18:52:44 2018 -0500

 20:23:22       # mkfs.ext4 -F /dev/sdc1
mke2fs 1.42.13 (17-May-2015)
/dev/sdc1 a

[2018-03-07 08:32] xuhuagen commented on #250
Hi,Gang
 I constructed Target node in these cases, errors did not occured.
1. Using malloc with lvol.
2. Using only nvme bdev without lvol.
3 Using nvme bdev with lvol as long as the size not more than 2048M when construct_lvol_bdev.

you can  review my patch  https://review.gerrithub.io/#/c/402517/

Thanks

[2018-03-07 09:00] xuhuagen commented on #250
I  found a new error message.it is as below:
iscsi_tgt: bdev.c:1964: spdk_bdev_io_complete: Assertion `shared_ch->io_outstanding > 0' failed.

[2018-03-07 11:35] Comphix commented on #250
If the original issue is not seen, we can close this issue and file a new issue to track the new error.

[2018-03-07 15:53] rajeshsai810 commented on #253
Hi Jim,

For now, updating documentation sounds like a good idea.  If README is not the right place, let me know the right public doc.

If its ok, we can still add change in mk/spdk.common.mk and link all existing libraries under FreeBSD like libcxgb4, libmlx4 and libmlx5. However on BSD 11, I see we do not have libmlx5 yet. I donot think it will cause any harm if we include some non-existent driv

[2018-03-07 16:24] jimharris commented on #253
Hi Rajesh,

That would be great if you can push some patches.  We will definitely be patient – please reach out on the SPDK mailing list or IRC channel (#spdk on Freenode) if you run into problems.

Regarding linking in all of the existing libraries – how will you determine which libraries are available on the system?  And is it OK to link both libcxgb4 and libmlx4 into the same application?  (May

[2018-03-07 19:19] dverkamp-intel commented on #253
Just for curiosity, how are you installing the OFED/ibverbs user-mode support?

Based on this page, it looks like it's not installed by default and requires rebuilding world with a non-default config flag enabled: https://wiki.freebsd.org/InfiniBand (this may be out of date, though).

Is there some easy way to install the required infiniband/verbs.h, libmlx4, etc. via ports/pkg/... or does it stil

[2018-03-07 23:38] sudhesam opened #256 "NVMF Perf report error with high qd(like 127&128)- No valid NVMe controllers or AIO devices found"
I have 2 CentOS machines.  I am using one of the machines as 'target' and one of them as initiator.

# **Target configuration:**

[root@test38 spdk]# lspci | grep -i mel
d8:00.0 Ethernet controller: Mellanox Technologies MT27800 Family [ConnectX-5]
d8:00.1 Ethernet controller: Mellanox Technologies MT27800 Family [ConnectX-5]

[root@test38 spdk]# lspci | grep -i nvme | grep b7
b7:00.0 Non-Volatile

[2018-03-07 23:40] sudhesam commented on #256
# **Initiator configuration:**
[test39@test39 identify]$ lspci | grep -i mel
d8:00.0 Ethernet controller: Mellanox Technologies MT27800 Family [ConnectX-5]
d8:00.1 Ethernet controller: Mellanox Technologies MT27800 Family [ConnectX-5]

I am running 'identify' and passing 'discovery' subsystem to the command.  Below is the output of discovery:

[test39@test39 identify]$ sudo ./identify -r 'trtype:R

[2018-03-08 04:35] jimharris commented on #253
Hi Rajesh,

I think instead of modifying spdk.common.mk, you can just update the docs that the user should do this:

LDFLAGS=-lmlx4 make

Then the user can specify the library they are using – instead of trying to figure out which libraries might be available on the system.

Could you try this on your system to ensure that it works?

Thanks,

-Jim

From: Sai Rajesh <notifications@github.com>
Reply

[2018-03-08 04:38] wanqunintel commented on #245
@wanghailiangx Would you share your hardware environment

[2018-03-08 05:36] wanqunintel commented on #236
https://review.gerrithub.io/#/c/403123/

[2018-03-08 08:34] rajasekaranmam commented on #160
After reading above very useful thread, I have some more queries, please clarify;
What does the main difference between logical & physical NVMe QP?
In a SPDK target, can we get a statistics how many of logical & physical NVMe QP available at any point of time?

Another query related to queue;
Can we have a real world scenarios where we can achieve 64k queue condition in SPDK target?
I taken this 6

[2018-03-08 08:49] ChenWang01 opened #257 "NVMF Perf report error when use Null bdev"
## Problem Statement
Nvmf perf report error when use Null bdev
## Steps to reproduce
In target:
1 ./app/nvmf_tgt/nvmf_tgt -c nvmf.conf
In initiator:
1 ./examples/nvme/perf/perf -q 1 -w randread -s 4096 -t 60 -r 'trtype:RDMA adrfam:IPv4 traddr:192.168.5.11 trsvcid:4420'

## Configuration
[code]
## Error log
[code]
## Notice
The Nvmf perf with nvme bdev report this errors after did these steps, too

[2018-03-08 16:56] dverkamp-intel commented on #236
Fix merged as commit fe6b3de1264616df789aa923eb8e7f88c8aba991, thanks!

[2018-03-08 16:56] #236 closed

[2018-03-08 17:14] dverkamp-intel commented on #257
This doesn't look related to the Null bdevs.  I assume it would fail in the same way with other bdev types.

Can you verify that your environment is correctly set up with all of the ib/rdma modules loaded and the IP address configured as needed by your test?

[2018-03-08 17:17] dverkamp-intel commented on #138
I think the original issue reported here has been fixed (our DPDK PCI integration has been updated to allow re-attaching to controllers that have been detached), so I'm going to close this issue.

[2018-03-08 17:17] #138 closed

[2018-03-08 17:35] dverkamp-intel commented on #91
I think this should be working on the SPDK side now. We added a check for the num_blocks of read/write commands against the maximum transfer length that we report in the Block Limits VPD page, so requests with large num_blocks values will be failed during spdk_bdev_scsi_readwrite(), before we attempt to call into the bdev layer.

[2018-03-08 17:37] dverkamp-intel commented on #137
I think the original bug here was just a misconfiguration - the DPDK path must be configured to point at the SDK directory, and the configure --help output clarifies that now (this didn't exist when the original issue was filed).

If any more fixes are required, please open a new issue.

[2018-03-08 17:37] #137 closed

[2018-03-08 20:01] sitsofe commented on #91
@dverkamp-intel sounds good. I'm no longer in a position to re-test this fix so do you just want to go ahead and close this issue?

[2018-03-08 20:04] #91 closed

[2018-03-08 21:08] rajeshsai810 commented on #253
Hi Jim,

Agreed. I plan to update README.md and make a note for FreeBSD to include necessary userspace driver for your hardware (HBA). As example, I plan to commit a Makefile change in perf example makefile (./examples/nvme/perf/Makefile).

Thanks,
Rajesh.

[2018-03-09 01:23] ChenWang01 commented on #257
Hi, Daniel
My environment is ok before did these test, i have used nvme bdev and malloc bdev with the same configuration and IP the perf can run successfully.
But the perf report this error after did these test with the nvme bdev and the same configuration and IP
The nvme command can run successfully:
[code]
and perf +aio method can run successfully.
`./examples/nvme/perf/perf  /dev/nvme0n1 -q 1 -

[2018-03-09 01:38] rajeshsai810 commented on #253
@dverkamp-intel  To my knowledge there is no pkg for OFED userspace.  And yes you need to buildworld with make option WITH_OFED=yes to have required headers installed. Also, you need this make option to build kernel.

make -j4 buildworld WITH_OFED=yes
make -j4 kernel WITH_OFED=yes

[2018-03-09 02:05] ChenWang01 commented on #257
dmesg information:
[code]

[2018-03-09 03:41] changpe1 commented on #251
Yes, I also reproduced the issue in my local test environment, the NVMe+LVOL backend failed with mkfs.xfs tests, ext4 and btrfs passed, I will continue debugging the issue.

[2018-03-09 06:31] ChenWang01 commented on #257
Sorry. It seems my RDMA Nic's problem, and i will close this issue.

[2018-03-09 06:31] #257 closed

[2018-03-09 07:24] ChenWang01 commented on #256
## nvmf.conf.in:
Set the MaxQueueDepth in configuration file
[code]
Then the perf with 128 queuedepth can run successfully.
The value needs to be set greater than or equal to double queuedepth which used run perf.
Example:
[code]

[2018-03-09 08:05] changpe1 commented on #256
I've submitted a patch to fix the issue: https://review.gerrithub.io/#/c/403256/

[2018-03-09 09:45] nedved1 opened #259 "test/virtio: fio hangs when vhost crashes during fio tests"
In virtio initiator test: /test/vhost/initiator/blockdev.sh if vhost crashes during fio run, fio will hang.

This could be reproduced by:
1. running /test/vhost/initiator/blockdev.sh
2. using "kill -9 vhost_pid" while perfoming fio test

[2018-03-09 10:25] kreuzerkrieg opened #260 "spdk_mem_register doesnt work when the virtual address is not backed by physical page"
spdk_mem_register fails to register memory range when the address is not backed by physical page. Theoretically, vtophys_get_paddr_pagemap takes care of such a case, here
[code]
 in fact, rte_mem_virt2phy does not have a codepath which returns zero.

[2018-03-09 12:16] Comphix commented on #255
Looking at the iscsi hotplug related patches.

[2018-03-09 12:16] tomzawadzki commented on #251
@liang2yan Can you please see patch https://review.gerrithub.io/#/c/403306/ I believe this should resolve this issue.

[2018-03-09 14:32] darsto commented on #259
Hi Paweł,
Of course it hangs. It waits for an I/O completion that will never happen.
You might want to specify max_latency param in fio, so it will timeout and
exit automatically.
Regards,
D.

W dniu piątek, 9 marca 2018 Pawel Niedzwiecki <notifications@github.com>
napisał(a):

[2018-03-09 14:49] jimharris commented on #260
This situation only happens when memory is allocated by another process (typically QEMU) and a file descriptor for that memory is passed to the SPDK process (typically as part of vhost SET_MEM_TABLE message).  When SPDK registers that memory, there are cases where /proc/self/pagemap hasn’t yet been updated – then touching the page ensures the page is assigned in /proc/self/pagemap.

So there’s no

[2018-03-09 15:16] jimharris commented on #256
This patch should fix the issue – but the same problem will still happen if we specify an I/O size that is bigger than 64KB (our NVMe-oF MDTS).

I’ve posted a comment on how I think we can fix it for all cases.

-Jim

From: Changpeng Liu <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Friday, March 9, 2018 at 1:05 AM
To: spdk/spdk <spdk@noreply.github.com>
Cc: Subscri

[2018-03-09 15:47] kreuzerkrieg commented on #260
the point is that the touching never occurs. Sounds like a bug, no?

[2018-03-09 15:57] jimharris commented on #260
rte_atomic64_read is the touch.

Regarding the comment that rte_mem_virt2phy has no codepath which returns zero - it may never explicitly return zero, but for this specific case, the /proc/self/pagemap lookup results in zero which gets returned to the caller.

[2018-03-09 16:05] kreuzerkrieg commented on #260
Could you please point out what code takes care of this case? I see that here the page is zero:
[code]
and it returns -1
Jim, this case is not something I think may happen, it actually happens in my code when NVMe runs in cloned process, when the page is not backed by physical one the rte_mem_virt2phy returns -1 and the page is never touched by rte_atomic64_read, so it registering the memory simpl

[2018-03-09 16:19] jimharris commented on #260
Hmmm – I’ll need to take a look at the DPDK logs – this must have changed at some point.  Clearly we’re not hitting the problem with vhost anymore either or we would have found this sooner.

If instead of comparing against 0 in vtophys_get_paddr_pagemap, it compares against RTE_BAD_IOVA instead, does that help in your case?

From: kreuzerkrieg <notifications@github.com>
Reply-To: spdk/spdk <reply@

[2018-03-09 16:28] kreuzerkrieg commented on #260
Actually I've changed it in the DPDK code, to something like
if ((page & 0x7fffffffffffffULL) == 0) {
	if (page == 0) {
		return 0;
	} else {
		return RTE_BAD_IOVA;
	}
}
and it solved my problem.
Actually, symptoms are quite odd, when I clone and register memory, registration iterates over the addresses and doing well until it reaches 2Gb, from this point on, the /proc/self/pagemap does not contai

[2018-03-09 16:54] jimharris commented on #260
It’s a great question – I’m not exactly sure.

I’m trying to think if there’s any harm in checking for RTE_BAD_IOVA in the SPDK code.  If user tries to register some completely invalid memory region, touching the page could trigger a seg fault – but in my mind that’s what you get if you try to register invalid memory.

Then in the “valid” case (like yours), SPDK would touch the page and you could

[2018-03-09 17:20] kreuzerkrieg commented on #260
I wasnt sure too how to approach this problem. Returning 0 from rte_mem_virt2phy when the page is 0 sounds like more right think to do and not to try and touch just any invalid address you get from rte_mem_virt2phy. But its up to you, guess you know the flow better than I.

[2018-03-09 17:23] jimharris commented on #260
How will DMA operations work to this address if the PA/IOVA gets interpreted as zero?

From: kreuzerkrieg <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Friday, March 9, 2018 at 10:20 AM
To: spdk/spdk <spdk@noreply.github.com>
Cc: James Harris <james.r.harris@intel.com>, Comment <comment@noreply.github.com>
Subject: Re: [spdk/spdk] spdk_mem_register doesnt work when

[2018-03-09 17:51] kreuzerkrieg commented on #260
Hm... good point, so I guess, my solution is no-go, and yours is more correct. Meanwhile I will change my fix to the one you suggested. Thanks for your assistance!

[2018-03-09 17:52] jimharris commented on #260
No problem – thanks for pointing this out.

From: kreuzerkrieg <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Friday, March 9, 2018 at 10:51 AM
To: spdk/spdk <spdk@noreply.github.com>
Cc: James Harris <james.r.harris@intel.com>, Comment <comment@noreply.github.com>
Subject: Re: [spdk/spdk] spdk_mem_register doesnt work when the virtual address is not backed by physic

[2018-03-12 07:45] WenqianZong opened #261 "Core dump occurred when run nvmf fio test"
**In https://review.gerrithub.io/#/c/403441/ patchset1
nvmf target  core dumped
following is the information of core dump:**

[code]

**and https://review.gerrithub.io/#/c/390259/
patchset18 core dump is same as https://review.gerrithub.io/#/c/403441/
following is the information of core dump:**

[2018-03-12 07:52] zwq279959042 commented on #261
**In https://review.gerrithub.io/#/c/390259/ patchset 20,
nvmf core dumped and log is similar with below.
following is core dump log:**
[code]

[2018-03-13 02:44] clicx opened #262 "directly use dpdk mempool failed."
I build app by myself, and link with dpdk_mempool but always encounter the following problems:

LFLAGS = -lrt -Wall -lm -lc -laio -ldl -lpthread -libverbs -lrdmacm -lpciaccess -lnuma -lrte_mempool -lrte_mempool_ring -lrte_ring -lrte_eal -lrte_pci -lrte_bus_pci -ldpdk -luuid -Ldpdk/build/lib

lib/event/reactor.c: 685:spdk_reactors_init: *ERROR*: spdk_event_mempool creation failed
lib/event/app.c: 3

[2018-03-13 04:29] Comphix commented on #255
@liang2yan could you have a try on this patch https://review.gerrithub.io/#/c/403606/

Please check whether there is same crash as we logged here. Thanks.

[2018-03-13 04:42] mpacha opened #263 "nvmf_tgt with one subsystem crashed when killed with SIGTERM/SIGINT while running IO using FIO utility"
Hi

I am running SPDK nvmf_tgt on Mellonax CX-5 RNIC cards on both initiator and targets with Malloc as bdev.
Once target discovered and connected I am running fio to run IOs from initiator .While running FIO if I send SIGINT the target is crashing .
Here is the crash dump
fio --bs=64k --numjobs=16 --iodepth=4 --loops=1  --direct=1 --invalidate=1 --fsync_on_close=1 --randrepeat=1 --norandommap --t

[2018-03-13 05:14] jimharris commented on #262
Hi,

More information is needed to help here.

1)       Which app did you build and run?

2)       If this is your own app that you created, can you post the source code of your app?

3)       Can you post a complete log?

This will help others be able to provide assistance.

Thanks,

-Jim

From: clicx <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Monday, March 12,

[2018-03-13 05:22] clicx commented on #262
I'm trying to create an app, now try to use nvmf app for testing, its the same result, only changes are use my own makefile to build, CFLAGS:
-Wall -Wextra -Wl,-z,relro,-z,now -Wl,-z,noexecstack -march=native -std=gnu99 -D_LINUX -D_LARGEFILE64_SOURCE -D_FILE_OFFSET_BITS=64 -m64 -mssse3 -D_GNU_SOURCE -D_REENTRANT -fPIC

I think I maybe miss some flags to build it?

Starting SPDK v18.04-pre / DPDK 1

[2018-03-13 05:27] Comphix commented on #262
Have you run the ./scripts/setup.sh first?

Looks like not enough memory configured there.

From: clicx [mailto:notifications@github.com]
Sent: Tuesday, March 13, 2018 1:22 PM
To: spdk/spdk <spdk@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [spdk/spdk] directly use dpdk mempool failed. (#262)

I'm trying to create an app, now try to use nvmf app for testing, its

[2018-03-13 05:30] clicx commented on #262
Yes, memory and hugepages are good, as the one (./app/nvmf_tgt/nvmf_tgt) which built from sdpk can work. And all c codes are same, therefor I think I should lack of something in build flags.

[2018-03-13 05:32] jimharris commented on #262
You need to use the whole-archive linker flags.  Otherwise many constructor functions will get removed from the final application since they are not directly referenced.

When you build SPDK, add Q= at the beginning of your make line – then you can see the full linker arguments used to link one of the working SPDK applications.

-Jim

From: clicx <notifications@github.com>
Reply-To: spdk/spdk <rep

[2018-03-13 06:27] clicx commented on #262
that does work, many thanks.

[2018-03-13 06:28] #262 closed

[2018-03-14 02:10] WenqianZong commented on #263
I also can reproduce core dump in my test environment.
Cent os 7.4; SPDK v18.04-pre / DPDK 18.02.0

[2018-03-14 06:25] changpe1 commented on #263
Yes, I can also reproduce the issue in my local environment, a proposal patch was submitted to fix it, https://review.gerrithub.io/#/c/403759/.

[2018-03-14 07:51] WenqianZong commented on #263
I also can reproduce core dump after pull patch https://review.gerrithub.io/#/c/403759/

[2018-03-14 14:21] mpacha commented on #263
Thanks for the quick patch @changpe1

but I can still reproduce the same issue with patch https://review.gerrithub.io/#/c/403759/

rdma.c:1149:spdk_nvmf_rdma_create: *NOTICE*: *** RDMA Transport Init ***
rdma.c:1389:spdk_nvmf_rdma_listen: *NOTICE*: *** NVMf Target Listening on 192.168.1.27 port 4420 ***
nvmf_tgt.c: 279:nvmf_tgt_advance_state: *NOTICE*: Acceptor running
^Cnvmf_tgt: bdev.c:1046: _sp

[2018-03-15 09:38] senthilkumar-v commented on #257
Hi Chen,
   I'm facing similar issue, may I know the details of RDMA NIC problem and fix for it.

Thanks,
Senthil Kumar V.

[2018-03-15 17:26] stallamr opened #264 "Nvmf target sees Remote access error while running perf"
I see remote access error after running 8 iterations of perf application. Each iteration would run perf application with queue_depth == 64, size == 131072 and time 300seconds.

I dont think there is any setup issue or else the test would not run for ~30mins. The target node is seeing remote access error that means some buffer (used by perf application) is either out of protection domain or freed o

[2018-03-15 21:49] sdfsdfsdxx2 opened #265 "Nvme-cli compile error with SPDK"
I am using the latest code and I have built the spdk already. But I always encounter these errors when I tried to build nvme-cli:

/home/cordite/Desktop/new_nvme/new/nvme-cli/spdk/dpdk/build/lib/librte_eal.a(eal_memory.o): In function rte_eal_hugepage_init': eal_memory.c:(.text+0xa28): undefined reference tonuma_allocate_nodemask'
eal_memory.c:(.text+0xa34): undefined reference to numa_available'

[2018-03-15 23:47] dverkamp-intel commented on #265
Which nvme-cli and SPDK commit are you on?

The symbols you are apparently missing are from libnuma and libdl, both of which should be in the link command line (`-lnuma` and `-ldl` in env.spdk.mk from nvme-cli).

[2018-03-16 08:11] xuhuagen commented on #265
I have compiled nvme-cli in my machine. the step is as below:
1. git clone -b spdk https://github.com/spdk/nvme-cli.git
2 cd nvme-cli/spdk && ./configure && make -j
3. cd ../
4. make

There is not produced any error when I complied nvme-cli.
it is due to the environment of your machine.

[2018-03-16 09:27] xuhuagen commented on #264
My setup: (Linux <-> Linux)

Linux: Centos7.4
RDMA NIC: CX-5
SPDK - v18.04-pre & master
NVMe disks -  4 Intel ssds.

I used your scripts to run perf for 60 mins and CTRL+C, but target machine  core dumped and your issue not be reproduced .

[2018-03-16 14:32] rajeshsai810 commented on #264
Thanks Xuhuagen for trying this out. And you used same [Nvmf] configuration like mine? From below observation, I think even you may hit this issue if you run the test for 24hrs?

Yesterday, I had 2 more runs on same setup.

1st run:
- MaxIOSize 262144
- MTU 2048
This run completed 136 iterations ~13hrs to hit the issue.

2nd run:
- MaxIOSize 1048576
- MTU 1024
Hitting this issue in <5 iterations ~

[2018-03-19 10:58] liang2yan commented on #233
I have verified this issue with latest codes. I have used the same steps. And I also run the test/nvmf/shutdown/shutdown.sh in https://review.gerrithub.io/#/c/398251/ patch. This issue still can not be reproduced.

[2018-03-19 16:12] pohly opened #266 "malloc_buf spdk_dma_zmalloc() failed"
I compiled SPDK 18.01 from source. ./unittests.sh ran without issues. Now I am trying to follow the vhost example (http://www.spdk.io/doc/vhost.html#vhost_start) but that fails for me. `setup.sh` seems to complete fine and /proc/sys/vm/nr_hugepages confirms that the expected number of pages is allocated. But then `app/vhost/vhost` warns that `No free hugepages reported in hugepages-1048576kB` and

[2018-03-19 16:58] pohly commented on #266
Hmm, perhaps it was memory fragmentation after all. It's working after a reboot :-/

[2018-03-19 16:58] #266 closed

[2018-03-19 17:05] dverkamp-intel commented on #266
Just to clarify, the `No free hugepages reported in hugepages-1048576kB` message just means that no 1 GB hugepages are available, which is normal if you ran setup.sh and only configured 2 MB hugepages.

We definitely want to improve error reporting for the RPCs - there's an open card tracking this topic here: https://trello.com/c/gntU51Fq

[2018-03-20 09:19] ranjitrv commented on #265
I'm still facing this compilation error with spdk v18.01 spdk/nvme-cli v1.3 on Ubuntu 4.14 kernel. I have tried make CONFIG_RDMA=y

[2018-03-20 09:29] Comphix commented on #265
After getting nvme-cli from code repository https://github.com/spdk/nvme-cli.git, for spdk v18.01, have you run the "git submodule update --init" and "./configure", "make clean && make"? After this, try "make clean && make" in the nvme-cli folder.

[2018-03-20 09:45] ranjitrv commented on #265
Yes, I have done. Infact  I have just repeated exact sequence just mentioned in the comment. PFA's for screenshots.

nvme-cli$ lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.3 LTS
Release:        16.04
Codename:       xenial

nvme-cli$ uname -a
Linux nile-initiator 4.14.15 #5 SMP Thu Jan 25 16:01:32 MST 2018 x86_64 x86_64 x86_64 GNU/Linux

nvme-cli

[2018-03-20 10:26] pohly opened #267 "JSON RPC: document all methods"
I'm trying to figure out how to control app/vhost/vhost via RPC. http://www.spdk.io/doc/vhost.html#vhost_config shows some examples, but I found no documentation of the RPC calls used by those examples. `rpc.py --help` helps (sic) a bit, but not as much as one might hope ;-}

For example, scsi_target_num isn't explained:
[code]

I assume that different binaries have different APIs. doc/jsonrpc.md

[2018-03-20 10:41] pawelwod commented on #267
Yeah, documentation is very briefly :)
`add_vhost_scsi_lun` is used to add bdev `bdev_name` as SCSI LUN0 to SCSI target id `scsi_target_num`.

[2018-03-20 11:06] pohly commented on #267
@pawelwod don't worry, I have the example working and even could add a second target while the virtual machine was running. So I'm fine for now, I just wanted to illustrate the room for improvement in the current command line.

What would be interesting now is how to create additional bdevs in app/vhost, in particular Ceph block devices, iSCSI targets, and NVMeF - not sure which of these are alrea

[2018-03-20 11:21] pawelwod commented on #267
First, you  need to create bdev. iSCSI initiator is not supported (yet).  you can see which type of bdev is supportd by `./scripts/rpc.py -h | egrep 'construct_[^_]+_bdev`. When you will have new bdev constructed you can add it as SCSI LUN to vhost target. Eg for AIO bdev (presenting file or OS block device to vhost):

[code]

[2018-03-20 16:53] dverkamp-intel commented on #265
Can you check if the build works if you apply this patch to nvme-cli?

[code]

[2018-03-21 04:21] ranjitrv commented on #265
Yes, with these flags nvme-cli make succeeds. Thanks.

[2018-03-21 05:23] wanqunintel commented on #265
Hi, @dverkamp-intel , is there a link for this patch in the gerrithub for it?

[2018-03-22 23:13] dverkamp-intel commented on #265
This issue should be fixed by this nvme-cli commit: https://github.com/spdk/nvme-cli/commit/230837963d38ad0a4ca3696e21b6d9e1e317fdb1

If not, please re-open with more details.

[2018-03-22 23:13] #265 closed

[2018-03-23 13:22] sumanchakraborty1510 opened #269 "Backend SSD namespace is not available which is created when spdk is running using spdk-nvme-cli"
Hi ,

I am unable to list the namespace which i have created on the back end SSD while SPDK is running using spdk-nvme-cli. The create and attach command are successfull. When i stop the spdk application nvme-cli can list the latest added namespace.

I have started the nvmf_tgt app with shared memory id 1 and same for nvme-cli

Is this is a bug ?

Regards
Suman Chakraborty

[2018-03-24 11:11] #269 closed

[2018-03-27 05:06] WenqianZong commented on #263
https://review.gerrithub.io/#/c/403759/ patch set 6 can not reproduced this issue with malloc bdev ,but core dump occurred with nvme bdev.
https://review.gerrithub.io/#/c/404620/ patch set 2 also occurred core dump.

[2018-03-27 17:17] dverkamp-intel commented on #267
We have the beginnings of RPC documentation here: http://www.spdk.io/doc/jsonrpc.html

This currently only covers a small subset of the available RPC methods, so it definitely needs more work.

[2018-03-28 21:45] repu1sion opened #270 "SPDK fails to link with DPDK built as shared library"
Latest spdk master fails to build if dpdk built externally as shared library (CONFIG_RTE_BUILD_SHARED_LIB=y).

DPDK 17.08.1 built externally with
make -j7 install T=x86_64-native-linuxapp-gcc EXTRA_CFLAGS="-fPIC" DESTDIR=/usr/local

Then SPDK building with
./configure --with-dpdk=/root/dpdk/dpdk-stable-17.08.1/x86_64-native-linuxapp-gcc
make

fails into:
[code]

[2018-03-28 23:20] dverkamp-intel commented on #270
Thanks for the report.  This looks to be an outcome of our use of non-public DPDK symbols, which should ideally be resolved by adding some new APIs to DPDK that we can use to get this information.

I've uploaded a patch series for review that removes the lib/env_dpdk/pci.c use of rte_pci_bus here: https://review.gerrithub.io/#/c/405707/ (I think this should be uncontroversial).  However, the lib/e

[2018-03-28 23:38] dverkamp-intel commented on #244
This looks like it was resolved by running the correct version of fio; I'm going to close it unless there are further issues.

[2018-03-28 23:38] #244 closed

[2018-03-29 11:03] PepperJo opened #271 "SPDK target SIGSEGV"
The SPDK target APP segfaults occasionally on clients disconnecting:

I'm using the latest master: 94de7e91755a2d6b3b4a6a94003275f0966467b0
Also tried with the last stable versions but they seem to have the same problem.

[2018-03-29 20:23] repu1sion commented on #270
ok, that's right. there is no issue with pci.c anymore. but now on master commit 2588454 I still have:
[code]
(as your said above).

But is there any way to at least hack it to keep spdk build and working correctly?

[2018-03-30 02:18] sungjoonahn opened #272 "SPDK nvmf target setup for Ubuntu"
I'm trying to setup SPDK nvmf target for Ubuntu 16.04 LTS. When I run nvmf_tgt after installations, I observe following errors from nvmf_tgt.

_...
copy_engine_ioat.c: 308:copy_engine_ioat_init: *NOTICE*: Ioat Copy Engine Offload Enabled
conf.c: 232:spdk_nvmf_parse_subsystem: *NOTICE*: Attaching block device Malloc0 to subsystem nqn.2016-06.io.spdk:cnode1
rdma.c:1136:spdk_nvmf_rdma_create: *NOTICE

[2018-03-30 06:46] Maciej-Szwed commented on #272
Hello Sungjoon
What kernel version do you use?
I’m not sure where the problem is, but my suggestion would be to try installing Mellanox OFED package with nvmf enabled. Here you can find details where to get it and how to install it:
https://community.mellanox.com/docs/DOC-2504
I have similar 16.04 configuration and the OFED package is the only difference between mine and yours setup. I’m using ker

[2018-03-30 07:53] WenqianZong commented on #271
Hi PepperJo,
Could you provide the detail of reproduced step and phenomenon  ,I can't reproduced this issue with latest  spdk .

BRS
Zongwenqian

[2018-03-30 08:40] PepperJo commented on #271
Hi Zongwenqian,

This is how you can reproduce the segfault:
1) start a target `./app/nvmf_tgt/nvmf_tgt` with a single subsystem with a single device
2) Run ``perf`` against the target but do not let it finish ``Ctrl+C`` perf in the middle of the run. Do this a few times. Eventually I see a segfault. (Typically the segfault occurs on the 2nd run)

I also see this happening when I do clean disconne

[2018-03-30 19:13] patr-geary-smci opened #273 "UIO Driver fails to recognize that it manages NVMe disks"
Testing with 94de7e91755a2d6b3b4a6a94003275f0966467b0

These are SAMSUNG MZ4LB3T8HALS-00003 M.3 NVMe SSD's; I sadly have nothing else on hand at the moment.  When I am able to get 32x M.3 Intel disks I'll give it another go and see if things behave.

Anyways, to the problem,

With UIO, some of the disks don't init correctly when executing perf:
EAL: PCI device 0000:44:00.0 on NUMA socket 0
EAL:

[2018-03-30 19:36] jimharris commented on #273
What do you see for each of the following:

ls –lL /sys/bus/pci/devices/0000:20:00.0
ls –lL /sys/bus/pci/devices/0000:21:00.0

(that’s a lower case L and an upper case L)

-Jim

From: patr-geary-smci <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Friday, March 30, 2018 at 12:13 PM
To: spdk/spdk <spdk@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>

[2018-03-30 19:43] patr-geary-smci commented on #273
[root@105-91 spdk]# ls -lL /sys/bus/pci/devices/0000\:21\:00.0/
total 0
-rw-r--r--. 1 root root  4096 Mar 30 12:38 broken_parity_status
-r--r--r--. 1 root root  4096 Mar 30 11:10 class
-rw-r--r--. 1 root root  4096 Mar 30 11:10 config
-r--r--r--. 1 root root  4096 Mar 30 12:38 consistent_dma_mask_bits
-rw-r--r--. 1 root root  4096 Mar 30 12:38 d3cold_allowed
-r--r--r--. 1 root root  4096 Mar 30 11

[2018-03-30 20:17] dverkamp-intel commented on #270
Another patch that removes the pci_vfio_is_enabled() call: https://review.gerrithub.io/#/c/405921/

That just leaves rte_pci_bus, which is used by FOREACH_DEVICE_ON_PCIBUS() in vtophys_get_paddr_pci().  I'm still investigating this one.

[2018-03-30 22:45] repu1sion commented on #270
ok. but it doesn't work with 17.08.1 LTS stable for example.

[2018-03-30 23:29] dverkamp-intel commented on #270
Good point; I've tweaked the patch slightly so that it should compile against older DPDK shared libraries, but in this case it will disable the VFIO memory registration feature, meaning vhost target on a system with VFIO won't work.  I think this is the best we can do for DPDK versions that don't support rte_vfio_is_enabled().

[2018-03-31 00:02] dverkamp-intel commented on #270
With the patch mentioned above, plus one more here: https://review.gerrithub.io/#/c/405937/ I'm able to link and run against the shared library of DPDK 17.08 as shipped by Fedora.  Once those patches are reviewed and merged, I think this issue will be resolved.

[2018-04-01 20:51] sudhesam opened #274 "NVMe-OF : INVALID FIELD WRITE FAILED when sending IO size 512 KB"
Here is my test case:

I am sending an IO size of 512 KB from initiator -> target.  When I turn-on tracing, I see the following error:

rdma.c: 981:spdk_nvmf_rdma_request_process: *INFO*: Request 0x7fe02c00a4b0 entering state 5
**request.c: 105:nvmf_trace_command: *INFO*: I/O cmd: opc 0x81 fuse 0 cid 0 nsid 1 cdw10 0x5f79656b**
request.c: 107:nvmf_trace_command: *INFO*: mptr 0x100000000
request.c:

[2018-04-01 20:52] sudhesam commented on #274
Thanks.

Any help appreciated.

[2018-04-01 20:59] sudhesam commented on #274
Both initiator and target has Mellanox ConnectX-5 and I have compiled DPDK with CONFIG_RTE_LIBRTE_MLX5_PMD=y

# lspci | grep -i mell
d8:00.0 Ethernet controller: Mellanox Technologies MT27800 Family [ConnectX-5]
d8:00.1 Ethernet controller: Mellanox Technologies MT27800 Family [ConnectX-5]
#

[2018-04-01 21:21] sudhesam commented on #274
nvmf_rdma_connect trace messages:

rdma.c:1458:spdk_nvmf_rdma_accept: *INFO*: Acceptor Event: RDMA_CM_EVENT_CONNECT_REQUEST
rdma.c: 654:nvmf_rdma_connect: *INFO*: Connect Recv on fabric intf name mlx5_0, dev_name uverbs0
rdma.c: 658:nvmf_rdma_connect: *INFO*: Listen Id was 0x1d98ce0 with verbs 0x1de7d10. ListenAddr: 0x1d98aa0
rdma.c: 664:nvmf_rdma_connect: *INFO*: Calculating Queue Depth
rdma.c: 6

[2018-04-02 02:27] optimistyzy commented on #271
@PepperJo Can you apply this patch: to give us more info  https://review.gerrithub.io/406014? I would like to see which is NULL.

[2018-04-02 02:37] WenqianZong commented on #245
Reproduced Step:
1.vim test/blobfs/rocksdb/rocksdb.sh
update to following script:
if [ $RUN_NIGHTLY -eq 0 ]; then (replace 1)
DURATION=100 (replace 60)
NUM_KEYS=100000000
else ......

2. in rocksdb.sh
exchange
"timing_enter rocksdb_randread
run_step randread
timing_exit rocksdb_randread"
and
"timing_enter rocksdb_writesync
run_step writesync
timing_exit rocksdb_writesync"
location.
3. run auto_roc

[2018-04-02 12:21] PepperJo commented on #271
Unfortunately, the assert did not trigger, but I got a different stack trace this time:
[code]

Let me know you need any more information/stack traces etc.

[2018-04-02 16:46] jimharris commented on #274
Is all of this from the target or the initiator or a mix of the two?

If you could provide the following, it would be helpful to narrow down the issue:

1)       Exact details on where these log messages are from.  For example, the nvme_ctrlr.c debug prints could be from the initiator (for the NVMe-oF controller) or the target (for the local NVMe SSD).

2)       Hardware configuration – specifical

[2018-04-02 17:50] sudhesam commented on #274
This is all on the 'target' side.

1.  I have recompiled SPDK code with DEBUG turned-on and running nvmf_tgt with '-t all' option to show
     the trace messages.

2.  Hardware configuration:
**From nvmf.conf (Full nvmf.conf that I am using is at the end of this message):**

**_[Nvme]_**

 TransportId "trtype:PCIe traddr:0000:b7:00.0" Nvme0
 TransportId "trtype:PCIe traddr:0000:b8:00.0" Nvme1

**F

[2018-04-03 01:04] optimistyzy commented on #271
Hi Pfefferle,

Will continue tracking this issue.

2018-04-02 20:21 GMT+08:00 Jonas Pfefferle <notifications@github.com>:

[2018-04-03 06:02] WenqianZong commented on #274
Hi sudhesam;
I can't reproduce this issue, please provide detail reproduce step.

BRS
Zongwenqian

[2018-04-03 17:02] dverkamp-intel commented on #270
This should be resolved in master as of commit 8e56cd4131347c564b346d3cd8f6624517d94340 (which will go into SPDK 18.04) - if not, please reopen.

[2018-04-03 17:02] #270 closed

[2018-04-04 06:13] optimistyzy commented on #271
Hi @PepperJo

1.start a target ./app/nvmf_tgt/nvmf_tgt with a single subsystem with a single device
2.Run perf against the target but do not let it finish Ctrl+C perf in the middle of the run. Do this a few times. Eventually I see a segfault. (Typically the segfault occurs on the 2nd run)

For the step2, does the perf and target run in the same machine?

[2018-04-04 07:38] PepperJo commented on #271
Different machines.

[2018-04-05 20:27] rajeshsai810 commented on #264
Disabling transparent huge pages fixed this problem.

https://docs.oracle.com/en/database/oracle/oracle-database/18/ladbi/disabling-transparent-hugepages.html#GUID-02E9147D-D565-4AF8-B12A-8E6E9F74BEEA

[2018-04-06 17:46] dverkamp-intel commented on #274
I would like to echo Jim's request - it would be very helpful to see which messages are coming from the host (presumably this is the SPDK NVMe-oF host code in lib/nvme) and which are coming from the target (lib/nvme interacting with the PCIe-attached SSDs that are backing the namespaces).

Additionally, I'm quite confused by the log messages from your first post; for example, "I/O cmd: opc 0x81" d

[2018-04-06 17:57] sudhesam commented on #274
Thanks all for your help and support.

Regarding opcode, unfortunately I cannot discuss more in this forum.  I will have to check internally and get back to you as to what more information I can provide.

With respect to messages from the host, I will see if I can get some information through wireshark and update this thread.

[2018-04-06 18:03] peluse commented on #274
Daniel’s other suggestion about testing with a known good host is probably a really good data point also if you can do that….

Thx
Paul

From: sudhesam [mailto:notifications@github.com]
Sent: Friday, April 6, 2018 10:58 AM
To: spdk/spdk <spdk@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [spdk/spdk] NVMe-OF : INVALID FIELD WRITE FAILED when sending IO size 512 KB

[2018-04-06 19:09] sudhesam commented on #274
Sure.  Will do.

Also, on some of the blogs I am seeing some tune able parameters like max_hw_sectors_kb and max_sectors_kb.  On couple of my setup (physical box) that I am testing with, both these are either set to 128 or  256.

I am asking this because if I test the same code in a virtual machine setup, I am able to send IO size of 1MB.  Here, max_hw_sectors_kb and max_sectors_kb is set to 1024.

[2018-04-06 20:51] repu1sion opened #275 "SPDK fails to init in single app which uses ODP (DPDK)"
I have an app which needs to work with network and nvme both, linked with OpenDataPlane library. ODP itself does a DPDK init inside. After odp init I call spdk_env_init() which fails because dpdk was initialized already! It happens because  rte_eal_init() doesn't allow to be called twice (even in latest DPDK master). Somehow app seems to work if I just comment out rte_eal_init() call inside spdk_e

[2018-04-07 00:33] sungjoonahn commented on #272
Thanks Maciej. Installing Mellanox OFED package solved the problem.

[2018-04-07 00:33] #272 closed

[2018-04-08 01:53] rajeshsai810 commented on #264
@jimharris  @wanqunintel  @dverkamp-intel

I'm relatively new to SPDK, but I'm trying to understand how disabling ASLR works for my test.
My script is mentioned in my first post.

In my test, I'm running "perf" application for 5mins in a infinite loop.

With ASLR enabled, my test fails randomly in an hr or 2hrs depending on IOSize.
WIth ASLR disabled, same test runs successfully for 48hrs for any

[2018-04-08 20:26] shashankgugnani commented on #234
Any help is appreciated.
I tried with SPDK commit e8650a81eefb8ab56de9eb01a8ad7eb83d763d99 and SPDK's RocksDB commit 3c30815fadf95d029a2dc607660e1d91b3a02ca9.
The failure is consistent and with the same error message.

[2018-04-09 20:28] sudhesam commented on #274
Wanted to know your thoughts on QD calculation in rdma.c.  In my physical environment (with Mellanox card), I see the following:

rdma.c:1458:spdk_nvmf_rdma_accept: *INFO*: Acceptor Event: RDMA_CM_EVENT_CONNECT_REQUEST
rdma.c: 654:nvmf_rdma_connect: *INFO*: Connect Recv on fabric intf name mlx5_0, dev_name uverbs0
rdma.c: 658:nvmf_rdma_connect: *INFO*: Listen Id was 0x1418d30 with verbs 0x1467c40.

[2018-04-10 00:05] jimharris commented on #234
Hi,

How quickly does this failure occur?

There are some similarities to https://github.com/spdk/spdk/issues/264/.  It’s possible that this is a better reproduction vehicle to get to the bottom of this issue.

-Jim

From: shashankgugnani <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Sunday, April 8, 2018 at 1:26 PM
To: spdk/spdk <spdk@noreply.github.com>
Cc: Subscr

[2018-04-10 02:36] chenlo2x opened #276 "lvol&malloc backend can't auto-generate the valid configfile with SIGUSR1 signal"
## **Hardware firmware and OS**
Item|Description
-- | --
CPU Model | Intel(R) Xeon(R) CPU E5-2699 v4 @ 2.20GHz
OS version | Fedora 25
Kernel version | 4.8.6-300
SPDK Commit ID | bb2b98523abb43e268f4998278db63b35062288a

## **Problem statement**
After receiving the SIGUSR1 signal, the iscsi target can't generate the valid tmp config file.

## **Steps to reproduce**
run below script
![image](https:/

[2018-04-10 02:48] shuhei-matsumoto commented on #276
Hi,

As described in http://www.spdk.io/doc/logical_volumes.html, lvol can be configured only by JSON-RPC now. Upcoming JSON config file may support LVOL but more consideration will be required.

[2018-04-10 06:44] sumanchakraborty1510 opened #277 "SPDK unitest failed"
Hi ,

While executing the unittest.sh in the latest spdk master  i am getting histogram_test failed . Is it expected ?

Suite: histogram
  Test: histogram_test ...FAILED
    1. histogram_ut.c:76  - **values <= end
    2. histogram_ut.c:71  - **values >= start
    3. histogram_ut.c:71  - **values >= start
    4. histogram_ut.c:71  - **values >= start
    5. histogram_ut.c:85  - count == 0
    6. hi

[2018-04-10 08:00] optimistyzy commented on #271
@PepperJo It is very strange that thread->msg_fn is unavailable, since msg_fn points to  _spdk_reactor_send_msg

[2018-04-10 15:13] peluse commented on #277
No, unit tests on master should always pass.  I’d double check and make sure you have a clean shot of master, sounds maybe like you have a mix of multiple versions.  I just ran mine w/o problems.

[2018-04-10 16:28] dverkamp-intel commented on #276
In addition to what Shuhei mentioned, lvol doesn't need any configuration section because it will automatically examine bdevs as they are added and expose valid lvols as bdevs.  However, in the case of a malloc backend in particular, no data is stored on disk (the malloc bdev is just backed by memory, as its name implies), so there will be no lvolstore on the malloc disk on the second app invocati

[2018-04-10 16:31] dverkamp-intel commented on #277
As Paul mentioned, the unit tests should always be passing on master; they are executed as part of the autotest.sh framework (https://ci.spdk.io/spdk/status/), as well as Travis CI (https://travis-ci.org/spdk/spdk/).

Can you provide some more details on what your configuration is like? (Compiler version, Linux distro, SPDK configure options, etc.)

[2018-04-10 18:09] dverkamp-intel commented on #276
Also, in the future, please post test scripts as text, not screenshots.

[2018-04-11 00:33] WenqianZong commented on #277
I can not reproduce histogram_test ...FAILED when start unittest.sh with latest SPDK version. please provide detail reproduce step.

[2018-04-11 01:25] #276 closed

[2018-04-11 01:43] sudhesam commented on #274
Hello,

Appreciate any help on this issue.

[2018-04-11 14:18] benlwalker commented on #274
The "Final Negotiated Queue Depth" is the queue depth - the number of I/O that can be submitted simultaneously. That does not impact the maximum I/O size, which is set separately.

[2018-04-11 18:25] shashankgugnani commented on #234
Hi Jim,

This failure happens instantaneously on running the test.

[2018-04-12 08:14] wanqunintel commented on #271
@PepperJo Can you see this issue now?

[2018-04-12 18:12] dverkamp-intel commented on #245
I believe commit 1831b086d000520ee926f096ea8dbd629c80b437 should fix this issue - please retest and close if appropriate.

[2018-04-13 01:15] WenqianZong commented on #263
This issue can not be reproduced with latest SPDK code.

[2018-04-13 01:33] WenqianZong commented on #245
I also can reproduce this issue with 1831b086d000520ee926f096ea8dbd629c80b437. following is error report :

========== Backtrace start: ==========

in ./spdk20180402/test/blobfs/rocksdb/rocksdb.sh:16 -> run_step()
     ...
nl: ./spdk20180402/test/blobfs/rocksdb/rocksdb.sh: No such file or directory
     ...
in ./spdk20180402/test/blobfs/rocksdb/rocksdb.sh:106 -> main()
     ...
nl: ./spdk20180402/

[2018-04-13 02:59] jimharris commented on #245
Can you post the full log?  And then from the subtest that failed - look in the rocksdb directory, open the associated db_bench file and post those contents too?

Thanks,

Jim

On Apr 12, 2018, at 6:33 PM, WenqianZong <notifications@github.com<mailto:notifications@github.com>> wrote:

I also can reproduce this issue with 1831b08<https://github.com/spdk/spdk/commit/1831b086d000520ee926f096ea8dbd629

[2018-04-13 07:43] PepperJo commented on #271
Has there anything been updated? Should I try again?

[2018-04-13 07:46] wanqunintel commented on #271
yes, @PepperJo https://review.gerrithub.io/406014 has been merged and you may have a try to see if any new issue comes out?

[2018-04-13 07:49] PepperJo commented on #271
I checked out this patch before and ran it but neither assert was triggered.

[2018-04-13 07:54] PepperJo commented on #271
Are you able to reproduce this on your setup?

[2018-04-13 07:57] wanqunintel commented on #271
We were able to reproduce it before and am trying to reproduce in our environment, @WenqianZong is doing that, and she will update you soon.

[2018-04-13 07:59] WenqianZong commented on #271
Hi qun：
I can reproduce this issue core dump with latest SPDK version after ctrl +c and disconnect. following is trace report:

warning: core file may not match specified executable file.
[New LWP 236638]
[New LWP 236641]
[New LWP 236639]
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib64/libthread_db.so.1".
Core was generated by `./app/nvmf_tgt/nvmf_tgt -c nvme.

[2018-04-13 14:13] rajeshsai810 commented on #264
I know its not fair to reopen this issue when we know what setting can mitigate the issue. But I'm more concerned when I see same failure with FIO test too.

Same script just change "perf" application with "fio". Below is my test.fio.

[code]

Any my test script,

[code]

Error seen on target side:

[code]

Now, I'm still clueless on how disabling ASLR is working here. From mailing list, community

[2018-04-13 15:06] senthilkumar-v commented on #264
I too face similar issue but it my case it is hitting,

rdma.c:1796:spdk_nvmf_rdma_poller_poll: *ERROR*: CQ error on CQ 0xffff100010b0, Request 0x281470950288832 (12): transport retry counter exceeded

It is "transport retry counter exceeded" instead of "remote access error". I've faced this signature in 3 different runs using FIO and IOZONE tools.

[2018-04-13 18:44] dverkamp-intel commented on #239
Ping - is this issue still applicable?

[2018-04-13 20:05] rajeshsai810 commented on #264
I used to hit this issue "transport retry counter exceeded" earlier. But after I turn on Rx and Tx pause, flow control on, I didnot see this error yet.

[2018-04-14 02:26] optimistyzy commented on #271
@PepperJo  Could you apply this patch to see what is triggered:
https://review.gerrithub.io/407612

[2018-04-15 09:13] darsto commented on #259
@nedved1 Can this be closed?

[2018-04-16 04:43] wanqunintel commented on #277
@sumanchakraborty1510 This unittest should pass with latest SPDK version, do you have the test steps on how this occur?

[2018-04-16 06:34] wanghailiangx commented on #239
Originally, I found an error response in a positive test case in "SPDK NIGHTLY TEST RUN“, that is above "create_pmem_pool_tc3". It is still present now.
Paweł's team replied this is reasonable in email at that time, and then raised a patch to do some optimization. At last the patch above was abandoned. So we can maintain the original case well, it can be closed.

[2018-04-16 06:34] #239 closed

[2018-04-16 08:14] PepperJo commented on #271
@optimistyzy I've not been able to run the patch yet but I will do that ASAP.
Regarding the "nvme connect/disconnect" I don't use the kernel initiator or target.
The perf command I use:
`./examples/nvme/perf/perf -q 32 -s 4096 -w randread -r 'trtype:RDMA adrfam:IPv4 traddr:10.100.0.5 trsvcid:4420' -t 100`

[2018-04-16 10:42] optimistyzy commented on #271
You do not need to run the test, I know the failed assert since we can get
the same issue, but it is really hard to produce it in a stable way in my
platform

2018年4月16日星期一，Jonas Pfefferle <notifications@github.com> 写道：

[2018-04-16 13:09] optimistyzy commented on #271
When debugging the code, with ctrlr +c, I found that the admin qpair disconnect is received earlier than io qpair disconnect, this should the reason for failure, I will track this.

[2018-04-16 15:42] PepperJo commented on #271
I tried your patch and and could not reproduce the SEGFAULT. It seems to have fixed the issue for me. Great work!

[2018-04-17 03:03] WenqianZong commented on #271
I can’t reproduce this core dump issue with  https://review.gerrithub.io/#/c/407771/ patch in my test env.

[2018-04-17 06:42] darsto opened #278 "io_device unregister data race"
I managed to hit an assert in io_channel.c:374
https://github.com/spdk/spdk/blob/a8d3ac0cf4b812d7cda5d0abb4dfe1cdc999fb56/lib/util/io_channel.c#L374
using basic bdevio test with a single virtio bdev.

The gdb trace below shows that that one thread has already unregistered the io_device and is calling post-unregister virtio routine while the other thread hits an assert within _put_io_channel. I bel

[2018-04-17 07:57] optimistyzy commented on #271
@PepperJo the patch is merged, could we close this issue?

[2018-04-17 08:36] WenqianZong commented on #245
After reboot machine and run rocksdb.sh 24 cycles, it report new error " **line 11: randread_flags.txt: No such file or directory**" like following error message, but issue's error can not be reported till now (test 130 cycles).
[code]

[2018-04-17 08:36] WenqianZong commented on #245
After reboot machine and run rocksdb.sh 24 cycles, it report new error " **line 11: randread_flags.txt: No such file or directory**" like following error message, but issue's error can not be reported till now (test 130 cycles).
[code]

[2018-04-17 17:33] dverkamp-intel commented on #278
Can you check if this is fixed by commit 979d9997c9a800c85afe2e8d0d384ede62158101?

[2018-04-17 18:43] PepperJo commented on #271
Great Thx. I'm closing the issue.

[2018-04-17 18:43] #271 closed

[2018-04-18 07:25] darsto commented on #278
I think it only made it worse.

Please see here - https://review.gerrithub.io/c/408134/

2018-04-17 19:33 GMT+02:00 Daniel Verkamp <notifications@github.com>:

[2018-04-18 08:13] wanqunintel commented on #233
@liang2yan it seems there is failure on the nightly test, and this patch has been for a while, is it the same issue as the failure in the autotest?

[2018-04-18 16:30] #278 closed

[2018-04-19 00:34] wanqunintel commented on #263
@mpacha are you able to reproduce it? wenqian didn't on her environment

[2018-04-19 01:40] WenqianZong commented on #248
I can't reproduce "*ERROR*: bdev IO pool count is 65515 but should be 65536" issue with latest SPDK version.

[2018-04-19 02:13] wanqunintel commented on #273
It seems we don't have the M.3 ssd here to verify it, does anyone has this environment?

[2018-04-19 02:15] wanqunintel commented on #255
@liang2yan can you update the status with the patch?

[2018-04-19 02:24] liang2yan commented on #255
I have written a script to run the test/iscsi_tgt/fio/fio.sh with RUN_NIGHTLY=1 200 times. This isue can't be reproduced within 35 times. Then the script stopped with following error:
 `
 01:01:51	# python /home/sys_sgsw/spdk/scripts/fio.py 131072 32 randrw 1 verify
Found devices:  ['sdb']
Requested queue_depth 128 but only 113 is supported.
job0: (g=0): rw=randrw, bs=128KiB-128KiB,128KiB-128KiB,1

[2018-04-19 02:48] WenqianZong commented on #256
I can reproduce this issue with latest spdk version ,and patch https://review.gerrithub.io/#/c/403256/ was abandoned.

[2018-04-19 03:04] liang2yan commented on #233
I have tried to reproduce this issue with latest codes. But it can't be reproduced. I have rebased the shutdown.sh patch. The patch failed but not caused by this issue.

[2018-04-19 04:00] jimharris commented on #256
Hi Wenqian,

Do you mean that you cannot reproduce this issue?

-Jim

From: WenqianZong <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Wednesday, April 18, 2018 at 7:48 PM
To: spdk/spdk <spdk@noreply.github.com>
Cc: James Harris <james.r.harris@intel.com>, Comment <comment@noreply.github.com>
Subject: Re: [spdk/spdk] NVMF Perf report error with high qd(like 127&128)-

[2018-04-19 04:04] wanqunintel commented on #264
we are reproducing this issue now and it takes some time, we will update later

[2018-04-19 04:05] jimharris commented on #255
Hi Liang,

Can you try to just run this part 200 times?

01:01:51 # python /home/sys_sgsw/spdk/scripts/fio.py 131072 32 randrw 1 verify

And see if it continues to fail some times.

I am also curious if you run it for maybe 300 seconds, instead of 1 second if it also fails.  This may tell us if it is a general issue that can happen at any time, or maybe it only happens at the beginning or end of t

[2018-04-19 04:12] wanqunintel commented on #253
currently we don't have the test environment for freebsd yet, we may need to set it up to test if necessary.

[2018-04-19 04:15] liang2yan commented on #261
This issue happened in the SPDK CI patch verification process. It didn't often happen. We need to find a better method to reproduce it.

[2018-04-19 04:26] wanqunintel commented on #256
chang peng will submit the patch for this

[2018-04-19 04:28] wanqunintel commented on #255
LIang will try with fio with no random map and update result later

[2018-04-19 04:35] wanqunintel commented on #252
@Comphix @liang2yan will work together and update the status later

[2018-04-19 04:36] jimharris commented on #253
Hi Rajesh - did you have a chance to push any patches for this issue?  I looked in GerritHub and didn't see anything but if I've missed it please send a link.

Thanks,

-Jim

[2018-04-19 04:41] wanqunintel commented on #245
@WenqianZong try again and with the new reported error, how long will it take to reproduce

[2018-04-19 04:43] jimharris commented on #245
The latest report from @WenqianZong is a different issue.

But 4/18/2018 nightly test showed similar issue to original report.  Log can be found here:
http://spdk.intel.com/public/spdk/builds/review/8ed528a7c5fb01a26f2acfac25819fcfee0280ab.1524054229/fedora-04/

Starting SPDK v18.04-pre / DPDK 18.02.0 initialization...
[ DPDK EAL parameters: rocksdb -c 0x1 -m 5120 --file-prefix=spdk_pid18553 ]
EAL

[2018-04-19 04:43] #233 closed

[2018-04-19 05:29] WenqianZong opened #279 "“randread_flags.txt: No such file or directory” when running rocksdb.sh."
# Problem Statement
**rocksdb.sh full error log reproted:**
[code]
# Reproduce Step
1.vim test/blobfs/rocksdb/rocksdb.sh
update to following script:
if [ $RUN_NIGHTLY -eq 0 ]; then (replace 1)
DURATION=100 (replace 60)
NUM_KEYS=100000000
else ......

2.in rocksdb.sh
exchange
"timing_enter rocksdb_randread
run_step randread
timing_exit rocksdb_randread"
and
"timing_enter rocksdb_writesync
run_step

[2018-04-19 05:31] WenqianZong commented on #279
I will restart test this issue again and check how long will it take reproduce.

[2018-04-19 06:13] changpe1 commented on #256
I uploaded a new version https://review.gerrithub.io/#/c/403256/, this should be the right fix.

[2018-04-19 07:14] WenqianZong commented on #256
Hi changpeng:

After use patch https://review.gerrithub.io/#/c/403256/ , perf can not be setup. log report like following:

EAL: Detected 72 lcore(s)
EAL: No free hugepages reported in hugepages-1048576kB
EAL: Probing VFIO support...
Initializing NVMe Controllers
Attaching to NVMe over Fabrics controller at 192.168.3.11:4420: nqn.2016-06.io.spdk:cnode1
nvme_rdma.c: 211:nvme_rdma_get_event: *ERROR*

[2018-04-19 07:56] WenqianZong commented on #264
Hi qun:

I reproduce this issue with latest spdk version ,but this issue unstable. following is error log:

## target machine:
[code]

## initator machine:
[code]

[2018-04-20 00:25] WenqianZong commented on #279
After run rocksdb.sh test 5 hours (14 cycles),"line 11: randread_flags.txt: No such file or directory" error reported.

[2018-04-20 00:45] rajeshsai810 commented on #253
Hi Jim,

Not yet. I plan to get this in by end of April.

Thanks,
Rajesh,

[2018-04-20 02:02] jimharris commented on #253
No problem Rajesh. Thanks.

On Apr 19, 2018, at 5:45 PM, Sai Rajesh <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi Jim,

Not yet. I plan to get this in by end of April.

Thanks,
Rajesh,

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub<https://github.com/spdk/spdk/issues/253#issuecomment-382926632>, or mute the thread<https

[2018-04-20 05:27] WenqianZong opened #280 "NVMe-OF Target core dump when kill with SIGSEGV while running perf."
# Problem Statement
The NVMe-OF target core dump kill with SIGSEGV while running perf on initator ,following is error log and trace：
[code]

[code]
# Reproduce Step
1.run Nvmf tgt on target machine:
./app/nvmf_tgt/nvmf_tgt -c ../nvme.conf
2.run perf on initator machine:
./perf -q 64 -s 131072 -w write -t 300 -r 'trtype:RDMA adrfam:IPv4 traddr:192.168.3.1 trsvcid:4420'
(set -q 1 -s 4092 , core dump

[2018-04-20 06:56] sudhesam commented on #274
I put some 'printf()' statements in the code to track who sets response->status.sc flag to '2' and here is what I found:

rpc.c:  83:spdk_rpc_initialize: *ERROR*: Unable to start RPC service at /var/tmp/spdk.sock
nvmf_tgt.c: 110:nvmf_tgt_create_subsystem: *NOTICE*: allocated subsystem nqn.2014-08.org.nvmexpress.discovery
nvmf_tgt.c: 110:nvmf_tgt_create_subsystem: *NOTICE*: allocated subsystem nqn.

[2018-04-23 00:29] WenqianZong commented on #279
After run rocksdb.sh test 11.5 hours (29 cycles), " line 11: overwrite_flags.txt: No such file or directory" error reported

[2018-04-23 13:15] karlatec opened #281 "Cannot build SPDK with latest DPDK master"
## Expected Behavior
Should be able to build SPDK with latest DPDK master from GitHub.

## Current Behavior
SPDK compilation with latest DPDK master from GitHub fails.

## Possible Solution
N/A

## Steps to Reproduce
1. Check out latest DPDK from git
git clone http://dpdk.org/git/dpdk (commit is e1d26e4 crypto/mrvl: add to meson build)
2. Build DPDK
make config T=x86_64-native-linuxapp-gcc && EXTR

[2018-04-23 13:39] darsto commented on #281
I've fixed this particular conflict you quoted, but will publish patches not before DPDK 18.05 release,
as some other conflicts may still arise.

[2018-04-24 03:07] liang2yan opened #282 "Nvmf target crashed with core mask 0xFFFFFFFF and QoS enabled"
I have run nvmf target with following config:
[Global]
ReactorMask 0xFFFFFFFF
[Malloc]
  NumberOfLuns 4
  LunSizeInMB 128
[AIO]
  AIO /dev/sdb AIO0
# Define NVMf protocol global options
[Nvmf]
#  MaxQueuesPerSession 4
#  MaxQueueDepth 1024
#  InCapsuleDataSize 4096
#  MaxIOSize 1048576
  AcceptorPollRate 10000

[Nvme]
  TransportID "trtype:PCIe traddr:0000:af:00.0" Nvme0
  TransportID "trtype:PCIe

[2018-04-24 06:34] liang2yan commented on #255
I have removed norandommap=1 in fio.py and run fio.sh with nightly enabled 300 times. No issue found.
The SPDK commit is: 2e1dbc458758ba3d2709299913bc199fa3926bda

[2018-04-24 18:05] dverkamp-intel commented on #282
The specified core mask (0xFFFFFFFF) has 32 bits set, which is more than the 31 I/O queues supported by Intel SSD DC P3700 devices (I assume these or some similar controller are used as the NVMe devices).  This means that one core won't be able to create an I/O channel.  We need to add handling of this in the NVMe-oF target layer - it currently does not check the return value of spdk_bdev_get_io_c

[2018-04-24 19:50] jimharris commented on #255
Thanks Liang.

Do we need to make updates to upstream test scripts for this?

From: Liang Yan <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Monday, April 23, 2018 at 11:34 PM
To: spdk/spdk <spdk@noreply.github.com>
Cc: James Harris <james.r.harris@intel.com>, Comment <comment@noreply.github.com>
Subject: Re: [spdk/spdk] SPDK iSCSI target crashed while running autote

[2018-04-25 01:47] jumpapex opened #283 "incorrect test return code of io_submit"
Dear team,

in lib/bdev/aio/bdev_aio.c bdev_aio_writev

	rc = io_submit(aio_ch->io_ctx, 1, &iocb);
	if (rc < 0) {
		if (rc == EAGAIN) {
			spdk_bdev_io_complete(spdk_bdev_io_from_ctx(aio_task), SPDK_BDEV_IO_STATUS_NOMEM);
		} else {
			spdk_bdev_io_complete(spdk_bdev_io_from_ctx(aio_task), SPDK_BDEV_IO_STATUS_FAILED);
		}
		SPDK_ERRLOG("%s: io_submit returned %d\n", __func__, rc);
		return -1;
	}

[2018-04-25 01:51] jumpapex opened #284 "incorrect rpc.py set_trace_flag help information"
Dear team,

./rpc.py set_trace_flag -h
usage: rpc.py set_trace_flag [-h] flag

positional arguments:
  flag        trace mask we want to set. (for example "debug").

the flag should be the module name, such as aio, blob, but not debug

also the ./rpc.py clear_trace_flag -h

Regards!

jumpapex

[2018-04-25 01:58] jumpapex opened #285 "spdk_tgt reactor 0 occupy 100% cpu"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

just run spdk_tgt with no argument, top command show that reactor 0 occupy 100% cpu

## Expected Behavior

it should not occupy 100% cpu

## Current Behavior

reactor 0 occupy 100% cpu

## Possible Solution

Is is by design?

## St

[2018-04-25 04:38] liang2yan commented on #255
I have submitted patch to remove the norandommap parameter.

https://review.gerrithub.io/#/c/spdk/spdk/+/408914/

[2018-04-25 07:21] liang2yan opened #286 "SPDK QoS RPC method can't work if there is no QoS config in the config file"
As the title. SPDK QoS RPC method can't work at some situation.

## Steps to Reproduce
1. Configure the iSCSI target config file, don't add QoS config in the config file;
2. start iscsi target with this config file;
3.  run RPC method set_bdev_qos_limit_iops to set the bdev IOPS;
4. run fio job in initiator machine

## Expected Behavior
The IOPS is  expected vale which is set by RPC method.

## Cu

[2018-04-25 07:51] liang2yan opened #287 "The test result of vhost-scsi with QoS enabled have more than 5% deviation"
As the title, if the QoS IOPS is 5-10%(I just tried) smaller than the unlimited IOPS. The final result has more than 5% deviation.

the unlimited IOPS is:
job0  109k
job1   91.3k
job2  175k
job3 177k
job5 126k
job6  170k

Set the QoS for each bdev. The IOPS is 95% of the unlimited IOPS.
Then run fio job. The result is as below:
job0 58.1k
job1  67.5k
job2  130k
job3  133k
job5   103k
job6    136k

[2018-04-25 07:56] optimistyzy commented on #285
@jumpapex It is the expected behavior of 100% CPU usage, the reactor thread executes the function _spdk_reactor_run, there is a while(1) loop inside it.

[2018-04-25 07:58] wanqunintel commented on #285
this should be the polling mode expected behavior as i know

[2018-04-25 08:05] WenqianZong commented on #284
I use command "./rpc.py set_trace_flag -h" and "./rpc.py clear_trace_flag -h" .it reported following infomation:
ositional arguments:
  flag        trace mask we want to clear. **(for example "debug").**

optional arguments:
  -h, --help  show this help message and exit

[2018-04-25 08:33] WenqianZong commented on #280
set **"-s" 131072** and set "-q" >64(example 64 ,128) , core dump reported. "-q " <64 (example 32, 16 ,1 ...) ,core dump cannot be occurred.

[2018-04-25 08:37] liang2yan commented on #286
Just tried the patch. The issue can't be reproduced with this patch.

[2018-04-25 09:27] darsto commented on #284
Hi jumpapex,
Thanks for the report. Fixed here -
https://review.gerrithub.io/c/spdk/spdk/+/408945
D.

2018-04-25 10:05 GMT+02:00 WenqianZong <notifications@github.com>:

[2018-04-25 17:05] dverkamp-intel commented on #283
This has been fixed in commit 55eb9617cfe2e4506f2c47c6cbea9ccbe2f7e7ac.

[2018-04-25 17:05] #283 closed

[2018-04-25 17:31] #284 closed

[2018-04-25 21:04] dverkamp-intel commented on #287
Can you provide a test script that reproduces the issue?

Also, can you measure the overhead when enabling QoS with a very high limit (e.g. just the overhead of having QoS enabled without actually limiting submission speed)?

[2018-04-25 21:04] dverkamp-intel commented on #286
Fix has been merged as commit 804ebf9985e93697809c7e09cc732b0bfcf0c19f.

[2018-04-25 21:04] #286 closed

[2018-04-26 01:15] wanqunintel commented on #287
@liang2yan can you provide the script?

[2018-04-26 02:38] liang2yan opened #288 "SPDK iSCSI target crashed while running QoS rpc method to configure bdev QoS"
## Steps to Reproduce

1. start the iSCSI target with config file like below:
[Global]
ReactorMask 0x3
[iSCSI]
  NodeBase "iqn.2016-06.io.spdk"

  AuthFile /usr/local/etc/spdk/auth.conf

  MinConnectionsPerCore 4
  Timeout 30
  DiscoveryAuthMethod Auto

  DefaultTime2Wait 2
  DefaultTime2Retain 60

  ImmediateData Yes
  ErrorRecoveryLevel 0
[PortalGroup1]
  Portal DA1 192.168.11.11:3260
[Initiator

[2018-04-26 03:17] ChenWang01 opened #289 "VM run failed with vhost nvme target"
Qemu vm run failed with vhost nvme target after c2b66a83bc9a550da8c29f6f0f0a9f202c5a9a82 commit.

## Expected Behavior

vm can run successfully with vhost nvme target.
## Current Behavior

vhost socket read message (Null), and vm process hang up.
## Possible Solution

c2b66a83bc9a550da8c29f6f0f0a9f202c5a9a82 this commit cause the issue before this commit it's OK.
## Steps to Reproduce

1. run vhos

[2018-04-26 05:33] ChenWang01 commented on #289
Hi Changpeng, thanks, and i have update the branch to spdk-2.12 it's OK now. I will close this issue.

[2018-04-26 05:33] #289 closed

[2018-04-26 05:40] Comphix commented on #288
Looking at this issue.

[2018-04-26 06:39] Comphix commented on #288
Please verify this patch https://review.gerrithub.io/#/c/spdk/spdk/+/409125/

Thanks.

[2018-04-26 08:07] liang2yan commented on #288
verified with the patch. Issue can't be reproduced.

[2018-04-26 12:58] karlatec opened #290 "vtophys test fails on FreeBSD"
## Expected Behavior
Basic SPDK test set on FreeBSD should be possible to run and succeed.

## Current Behavior
Vtophys tests fails.

## Possible Solution
Revert DPDK commit 190ce864 from  DPDK submodule.

## Steps to Reproduce
Used SPDK commit: 130307862 vhost/nvme: fix doorbell buffer size calculation
Used DPDK submodule commit: 8ba8947e0 memory: implement "single file segments"

1. Download & c

[2018-04-26 13:09] liang2yan commented on #287
I have used QoS rpc method to set the bdev an unreachable IOPS. Then run the testing again.
The final result is similar with the result which is got by setting the bdev 95% IOPS.
So I think the QoS overhead have reduced some IOPS.

[2018-04-26 13:51] SuFredyTing commented on #275
I have the same issue that rte_eal_init() doesn't allow to be called twice？could you share your solution with me？

[2018-04-26 15:28] jimharris commented on #287
Hi Liang,

Please add the test script.  It is not clear what kind of bdev is used, what fio workload is being tested and exactly what is meant by "setting the bdev 95% IOPS".

If you run this same fio job without any QoS - do you get exactly the same results each time?

And also, why is there no job4?

-Jim

[2018-04-26 16:42] dverkamp-intel commented on #288
The patch above has been merged as commit 2f94b4d4e3607400419068eb74b64221df93ea15 - thanks for the quick turnaround.

[2018-04-26 16:42] #288 closed

[2018-04-26 16:48] dverkamp-intel commented on #290
This should be resolved as of commit 396bedd09fb4d274a703f950e288400d5d7551a4, which pulls in the revert in the DPDK submodule.

[2018-04-27 09:05] Comphix commented on #287
Back to Daniel's comment. If we set a QoS goal higher the actual IOPS (means QoS disabled), how much overhead we can see? From the above, it seems like around 30% overhead (95% QoS goal of the actual IOPS)? This is only one configured Core for the vhost target?

[2018-04-27 09:11] Comphix commented on #287
Also maybe we can also do the same testing in our usage cases like:
1. just BdevPerf to have different backends
2. NVMe-oF target
3. iSCSI target
With different cases, may have a good understanding on where the overhead costs. Thanks.

[2018-05-01 14:44] johnmeneghini commented on #253
Please see the proposed changes  to fix this problem in GerritHub patch https://review.gerrithub.io/#/c/spdk/spdk/+/409539/

[2018-05-03 04:03] wanqunintel commented on #290
@karlatec would you update the info with commit 396bedd? Thank you.

[2018-05-03 04:33] wanqunintel commented on #287
@liang2yan to get the bdevperf result firslty and update

[2018-05-03 04:33] #285 closed

[2018-05-03 04:37] wanqunintel commented on #282
@liang2yan can you double confirm that it's qos related or not. thanks.

[2018-05-03 04:48] wanqunintel commented on #279
@WenqianZong would you check by "ls" to list the files exist or not, and also it's better to setup another system to double confirm.

[2018-05-03 04:50] wanqunintel commented on #277
@sumanchakraborty1510 can you see if you see this issue with latest code v18.04, if you can not see, we may close it.

[2018-05-03 04:53] wanqunintel commented on #274
wenqian, would you reproduce it here

[2018-05-03 04:55] wanqunintel commented on #273
This should not related to the SPDK issue per the team meeting discussion

[2018-05-03 05:01] wanqunintel commented on #263
this is related with perf issue of nvmf above

[2018-05-03 05:42] patr-geary-smci commented on #273
I've actually been waiting on system availability so that I can slap it onto something you can access.

Sadly the M.3's have been subjected to repeated requests for performance data so we haven't had a chance.

Lemme ping them again and see if I can get access for a 48 hour time frame.  You'll need to confer with me through masked channels (email); I have little desire to make remote system creden

[2018-05-03 17:02] sudhesam commented on #274
root@testxx testxx]# nvme io-passthru /dev/nvme0 -o 1 -n 1 -4 0 **_-6 1023_** -i ./fio.out -w
NVMe Status:INVALID_FIELD(2) Command Result:00000000

[root@testxx testxx]# nvme io-passthru /dev/nvme0 -o 1 -n 1 -4 0 **_-6 524288_** -i ./fio.out -w
NVMe command result:00000000

As per NVMe spec, cdw12 is supposed to be in blocks.

If you see 1st command above, I am setting cdw12 = 1023 (i.e. 1024 bloc

[2018-05-03 19:48] pawelkax opened #291 "blobstore/lvolstore hits assert when loading after unclean shutdown"
## Expected Behavior
Spdk_tgt starts normally.

## Current Behavior
Sometimes following error occurs:
spdk_tgt: blobstore.c:81: _spdk_bs_claim_cluster: Assertion `spdk_bit_array_get(bs->used_clusters, cluster_num) == false' failed.
After that vhost crashes.

## Possible Solution
None

## Steps to Reproduce
1. Start spdk_tgt (config contains two nvme definition)
2. Split nvme disc into two bdevs.
3

[2018-05-03 19:51] dverkamp-intel commented on #291
Based on the assert, this looks like a blobstore or lvol issue, probably not related to vhost.

[2018-05-03 20:05] jimharris commented on #291
Can you provide a few more specifics?

1)       How many splits of the NVMe bdev?

2)       Do you create an lvolstore on each split?

3)       Do you create a thin and think provision lvol bdev on each lvolstore?

4)       Which lvol do you create a snapshot of?  Same for the clone?

Thanks,

-Jim

From: pawelkax <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Thursd

[2018-05-04 17:01] dverkamp-intel commented on #291
Here's a simple script that reproduces the issue every time for me (run from the root of a git checkout of spdk):

[code]

Note that after you run this, you'll be left with a broken lvolstore that hits the assert every time, so you will probably need to attach that device to the kernel nvme driver and clear the superblock before you can test again, e.g.:

[code]

[2018-05-04 17:09] jimharris commented on #291
Thanks – I’m taking a look now.

From: Daniel Verkamp <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Friday, May 4, 2018 at 10:01 AM
To: spdk/spdk <spdk@noreply.github.com>
Cc: James Harris <james.r.harris@intel.com>, Comment <comment@noreply.github.com>
Subject: Re: [spdk/spdk] Error occurs and spdk_tgt crashes when starting spdk_tgt application. (#291)

Here's a si

[2018-05-04 17:36] jimharris commented on #291
Proposed fix plus unit test here:  https://review.gerrithub.io/#/c/spdk/spdk/+/410065/

From: Daniel Verkamp <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Friday, May 4, 2018 at 10:01 AM
To: spdk/spdk <spdk@noreply.github.com>
Cc: James Harris <james.r.harris@intel.com>, Comment <comment@noreply.github.com>
Subject: Re: [spdk/spdk] Error occurs and spdk_tgt crashes

[2018-05-04 18:53] jimharris commented on #260
Submitted https://review.gerrithub.io/#/c/spdk/spdk/+/410071/ to fix this issue.

[2018-05-04 18:55] jimharris commented on #277
Closing this issue as not reproducible.  If you are able to reproduce on v18.04, please post a log and reopen this issue.

[2018-05-04 18:55] #277 closed

[2018-05-07 00:48] subo7 commented on #216
I have not encountered this problem again, If it happens again, i will update the log

[2018-05-07 02:48] WenqianZong commented on #274
hi sudhesam:

What file is fio.out and where is it? Is fio.out means the application fio?

BRS
Zongwenqian

[2018-05-07 08:08] karlatec commented on #290
Retested with:
SPDK 14222198 test/lvol: make tests python3 compatible
DPDK sub-module cfaddaa2f Revert "contigmem: do not zero pages during each mmap"

Run spdk/autorun.sh with following config five times in a row, all pass.

[code]
Issue can be closed.

[2018-05-07 08:09] #290 closed

[2018-05-07 15:11] jimharris commented on #216
Closing issue based on feedback from @subo7.

Please re-open the issue if you encounter it again, with the vhost log.

Thanks,

-Jim

[2018-05-07 15:11] #216 closed

[2018-05-07 15:29] kvietmeier opened #292 "Can't start Vagrant VM - "NVMe configuration error" - Windows 10 Host"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior
The VM should start after "vagrant up"

## Current Behavior
VM fails to start.   It is created in Virtualbox but can't start with ter following error:

There was an error while executing `VBoxManage`, a CLI use

[2018-05-07 16:44] jimharris commented on #291
@pawelkax - a fix was merged to master for this issue.  Can you please confirm it fixes your test case?

Thanks,

-Jim

[2018-05-07 17:19] sudhesam commented on #274
Sorry, should have been clear about it.  It is just a "dummy" text file that is 512 K bytes large or higher.

[2018-05-08 01:27] WenqianZong commented on #274
After try following command ,the result is :

[root@waikikibeach43 zong]# nvme io-passthru /dev/nvme0n1 -o 1 -n 1 -4 0 -6 1023 -i ./fio.out -w
NVMe Status:INVALID_FIELD(2) Command Result:00000000
[root@waikikibeach43 zong]# nvme io-passthru /dev/nvme0n1 -o 1 -n 1 -4 0 -6 524288 -i ./fio.out -w
NVMe command result:00000000

BRS
Zongwenqian

[2018-05-08 01:40] WenqianZong commented on #279
**Test on waikikibeach1, issue occurred on 18 cycle and it reported : "line 11: readwrite_flags.txt: No such file".
I set a new rocksdb env on waikikibeach19, but issue didn't occurred after 450 cycles' test. following are those two devices' environment:**

## waikikibeach1:
OS:CentOS Linux release 7.4.1708
kernel:3.10.0-693.11.6.el7.x86_64
cpu:Intel(R) Xeon(R) CPU E5-2699 v3 @ 2.30GHz
memory:4*8g

[2018-05-08 01:54] liang2yan commented on #282
Just reproduced this issue without QoS setting. So remove QoS in the title.

[2018-05-08 02:58] liang2yan commented on #287
I have used latest codes to run bdevperf. The bdev.conf is as below:
[Malloc]
  NumberOfLuns 2
  LunSizeInMB 64
[Nvme]
  TransportID "trtype:PCIe traddr:0000:07:00.0" Nvme0
  TransportID "trtype:PCIe traddr:0000:81:00.0" Nvme1
  TransportID "trtype:PCIe traddr:0000:82:00.0" Nvme2
 HotplugEnable No
[Ioat]
  Disable Yes
[QoS]
  Limit_IOPS Malloc0 200000000
  Limit_IOPS Malloc1 200000000
  Limit_IOPS

[2018-05-08 05:36] wanqunintel commented on #280
#271 is similiar to this one which is closed, `./examples/nvme/perf/perf -q 32 -s 4096 -w randread -r 'trtype:RDMA adrfam:IPv4 traddr:10.100.0.5 trsvcid:4420' -t 100` is not producible in #271

[2018-05-08 07:55] WenqianZong commented on #280
I use patch https://review.gerrithub.io/#/c/spdk/spdk/+/410359 to verify this issue, but core dump also occurred.

following is error log and trace：

[code]

[code]

[2018-05-08 10:30] pawelkax opened #293 "Cannot split nvme bdev after spdk_tgt restart if lvol store was previously created on first split"
## Expected Behavior
After spdk_tgt restart I can split nvme disk

## Current Behavior
Error occurs:
bdev.c:2752:spdk_bdev_module_claim_bdev: *ERROR*: bdev Nvme0n1 already claimed by module lvol
If split cannot be done then information on second split can be lost.

## Possible Solution
None

## Steps to Reproduce
Use following script:
#!/usr/bin/env bash
source ./test/common/autotest_common.sh

ca

[2018-05-08 11:51] darsto commented on #293
This can't really be fixed.
Creating an lvol on split 0 writes some lvol metadata on a couple of first
blocks of the underlying device. After a restart you can't tell if the
metadata refers to the entire device or some split, so lvol examine chooses
the former.

If you need such setup for testing purposes, you could replace split with
gpt, which occupies the first block of the device (the superblo

[2018-05-08 13:14] pawelkax commented on #291
I can confirm that it fixes the problem.

[2018-05-08 13:41] peluse commented on #293
I'm curious, why are you trying to do this? I'm guessing there's a good reason but I'm not seeing it :)

[2018-05-08 13:42] peluse commented on #292
I've got vbox on my Windows10 machine at home, I'll see if I can reproduce this either today or over the weekend.  Feel free to ping me if you don't hear back from me by Mon :)

[2018-05-08 17:19] dverkamp-intel commented on #291
Closing this as fixed in commit e8ddb060f87252c596adbd4ccb492df7e2f7925d

[2018-05-08 17:19] #291 closed

[2018-05-08 17:25] stallamr commented on #253
Fix is now submitted. Hence closing.

[2018-05-08 17:25] #253 closed

[2018-05-08 17:26] kvietmeier commented on #292
Update - I added the NVMe dedvice lineds to a generic Centos Vagrtatfile - same problem so this looks like a Virtuabox issue.

[2018-05-08 17:29] jimharris commented on #287
Have the NVMe SSDs been preconditioned?  740K IO/s seems very high (Nvme2n1 in 2nd and 3rd run w/o QoS).

Can you try this with only NVMe and then with only Malloc?  I think the QoS overhead affects Malloc more because Malloc is higher performing.

[2018-05-08 17:35] benlwalker commented on #293
I think there's two choices to fix this:

* Introduce some order of operations for loading volumes based on whether they're explicitly configured or "discovered" via metadata.
* Don't fix it. The bdev modules that don't write metadata are really only for testing.

I'm ok with either solution.

[2018-05-08 19:32] jimharris commented on #274
cdw12 = 524288 = 0x80000.  Only the lower 16 bits are used for number of blocks - it's 0's based, so you then add 1.  So cdw12 = 0x80000 means transfer 1 block (0x0000 + 1).

Bit 19 is actually reserved and the target should be failing the command since it's not set to zero.  But that's a separate problem that should be tracked separately.

If you do an identify on /dev/nvme0n1, what does it repor

[2018-05-08 20:54] jimharris commented on #274
It also appears from earlier in the log that the NVMe SSD you are using has a 256K MDTS.  So you cannot do a 512K I/O to that device using NVMe passthrough.  The SPDK NVMe driver will split the I/O based on MDTS if you use the read/write interface but won't try to interpret any passthrough commands.

[2018-05-08 20:56] dverkamp-intel commented on #229
I believe this issue is resolved since we now have RPC methods to modify NVMe-oF target subsystems at runtime (add/remove of namespaces, allowed hosts, and listen addresses).  Please see http://www.spdk.io/doc/jsonrpc.html#jsonrpc_components_nvmf_tgt for additional docs.

If other RPC methods are needed, please open a new issue with details.

[2018-05-08 20:56] #229 closed

[2018-05-08 21:35] jimharris commented on #274
My last response is not quite accurate.  If you specify -o 1 (WRITE), the command should go down the normal bdev write path and then the normal nvme driver write path.  The nvme driver should split it in this case.

But if you specify a vendor-specific opcode (as in your earlier post), it will not go through the normal nvme driver write path, and it will not get split.  In that case the 512KB comm

[2018-05-08 23:19] dverkamp-intel opened #294 "NVMe library AER callback should be per-process"
Similar to commit 31bf5d795e5464ba7d152d6705293221c6efa2ec, the AER callback function set by spdk_nvme_ctrlr_register_aer_callback() should be tracked in the per-process controller data structure.  Otherwise, the AER callback for another process could be called when polling the admin queue from multiple processes, leading to a crash.

[2018-05-08 23:54] dverkamp-intel commented on #183
Regarding point 1, Ceph already has a bluestore backend to use SPDK for storing object data on the OSD: http://docs.ceph.com/docs/master/rados/configuration/bluestore-config-ref/#spdk-usage
This doesn't require any object API support from SPDK; it is just using the block-oriented APIs that we already provide, and the mapping to objects is handled within the existing Ceph OSD code.

For point 2, th

[2018-05-08 23:54] #183 closed

[2018-05-09 05:33] WenqianZong commented on #280
I use patchset3 https://review.gerrithub.io/#/c/spdk/spdk/+/410534/ to verify this issue , core dump can not reproduced ,but target machine reported an **error** after CTRL+C at initator machine: **"rdma.c: 288:spdk_nvmf_rdma_mgmt_channel_destroy: *ERROR*: Pending I/O list wasn't empty on channel destruction"**

[2018-05-09 05:53] darsto commented on #281
@dverkamp-intel @karlatec
ok, published: https://review.gerrithub.io/c/spdk/spdk/+/410540

[2018-05-09 07:08] WenqianZong commented on #280
I use patchset6 https://review.gerrithub.io/#/c/spdk/spdk/+/410534/ verify this issue , core dump can not be reproduced .

[2018-05-09 07:38] optimistyzy commented on #280
@WenqianZong tested this patch with the perf workload (Each time,  use ctrl +c to stop) with 100 times to connect the NVMe-oF target , and did not see failure again.

[2018-05-09 14:23] repu1sion opened #295 "Error while connecting to /var/tmp/spdk.sock Error details: [Errno 2] No such file or directory"
any time I run scripts/rpc.py with any option I see such error:

[root@roman spdk]# ./scripts/rpc.py get_bdevs
Error while connecting to /var/tmp/spdk.sock
Error details: [Errno 2] No such file or directory

[root@roman spdk]# ./scripts/rpc.py get_rpc_methods
Error while connecting to /var/tmp/spdk.sock
Error details: [Errno 2] No such file or directory

The socket file is really not present.
I ru

[2018-05-09 14:28] jimharris commented on #295
Hi,

The socket file is created by an SPDK application, such as the iscsi NVMf or vhost Target.  The setup script does not start an SPDK application - it only prepares the system so that one can be started.

Jim

On May 9, 2018, at 7:23 AM, repu1sion <notifications@github.com<mailto:notifications@github.com>> wrote:

any time I run scripts/rpc.py with any option I see such error:

[root@roman spdk

[2018-05-09 19:00] mpacha commented on #263
@wanqunintel  Sorry for late reply . I cannot reproduce this issue with latest SPDK .
This issue fixed in latest spdk.Thanks for support .

[2018-05-09 19:00] #263 closed

[2018-05-10 00:35] WenqianZong commented on #279
I retest rocksdb issue on waikikibeach1, and error occurred on 24 cycle.It reported "readwrite_flags.txt: No such file or directory" .In output/rocksdb/ directory, I can find readwrite_flags.txt.
[code]

[2018-05-10 02:37] wanqunintel commented on #294
@dverkamp-intel is there any error log for it?

[2018-05-10 03:27] wanqunintel commented on #292
@zongwenqian, wenqian is also trying to reproduce it, but she need to setup the environment first and then see what happens there in our lab.

[2018-05-10 04:28] wanqunintel commented on #279
@WenqianZong what's the file system format? ext4 or others?

[2018-05-10 04:33] Comphix commented on #287
I will have that change and request Liang to test again. Thanks.

[2018-05-10 04:33] wanqunintel commented on #281
@karlatec , would you verify it and update the result here?

[2018-05-10 04:35] Comphix commented on #252
So this looks like an issue from iscsiadm?

[2018-05-10 04:36] wanqunintel commented on #274
@sudhesam would you reply for any feedback? thanks.

[2018-05-10 04:42] wanqunintel commented on #260
@kreuzerkrieg would you verify it and update? thanks.

[2018-05-10 04:43] Comphix commented on #282
This could be divided into phases.
1) handle the failure of not avaialbe of I/O channel on this thread
2) how to gracefully handle the I/Os on this NULL I/O channel thread

[2018-05-10 04:44] dverkamp-intel commented on #294
There isn't an error log (this was just found by inspection); we should write a test that reproduces the issue as part of the fix, though. The test could be something like: process A and B both attach to an NVMe device and set AER callbacks; begin a loop in both processes that polls for admin completions; trigger an AER and make sure no crashes occur and one process's AER gets called.

[2018-05-10 05:13] kreuzerkrieg commented on #260
Unfortunately, I dont have any NVMe environment at hand now. Sorry :(

[2018-05-10 05:14] wanqunintel commented on #260
@kreuzerkrieg When you have any update and got the environment, pls. just update it, thx.

[2018-05-10 05:16] kreuzerkrieg commented on #260
I dont think I will have an update on it in foreseeable future. I'm quite out of NVMe business for now.

[2018-05-10 05:18] jimharris commented on #260
No problem.  We will take care of updating the issue.

From: kreuzerkrieg <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Wednesday, May 9, 2018 at 10:16 PM
To: spdk/spdk <spdk@noreply.github.com>
Cc: James Harris <james.r.harris@intel.com>, Assign <assign@noreply.github.com>
Subject: Re: [spdk/spdk] spdk_mem_register doesnt work when the virtual address is not backed

[2018-05-10 07:54] alekseymmm commented on #295
In case you don't really need any nvmeof targets (the way @wanqunintel mentioned) but just want to play around with rpc.py you could do something like this.
1. make config that just create socket and start listening on it. I use this one
[Global]
[Rpc]<
  Enable Yes
  Listen 127.0.0.1
2. start it
`./app/spdk_tgt/spdk_tgt -c etc/spdk/rpc_listen.conf.in`

Then you can run any rpc.py commands
I did t

[2018-05-10 07:59] darsto commented on #281
DPDK just broke the API, so this doesn't even compile against latest master.
I will revisit this patch after final DPDK 18.05 is released.

[2018-05-10 15:50] jimharris commented on #295
This is a great idea.  It’s actually even simpler than Alexei mentioned though.  You do not even need to create the config file.  The SPDK applications will automatically start an RPC listening port on the /var/tmp/spdk.sock UNIX domain socket by default.

Note this default was added in SPDK v18.01 release.  Earlier releases would need a config file as Alexei mentioned.

From: Aleksei <notificatio

[2018-05-11 06:36] WenqianZong commented on #279
these two machines file system are same type : xfs.

[2018-05-11 07:14] wanqunintel commented on #295
@alekseymmm great idea, it will be more common than any app like nvmf and iscsi. thanks for sharing

[2018-05-11 20:11] pawelkax opened #296 "Error occurs when recreating rbd bdev"
## Expected Behavior
Create rbd bdev again should end with no error

## Current Behavior
io_channel.c: 328:spdk_io_device_register: *ERROR*: io_device 0x222a570 already registered

## Possible Solution
None

## Steps to Reproduce
./scripts/rpc.py -s /var/tmp/spdk.sock construct_rbd_bdev rbd foo 4096
./scripts/rpc.py -s /var/tmp/spdk.sock delete_bdev Ceph0
./scripts/rpc.py -s /var/tmp/spdk.sock con

[2018-05-11 21:54] dverkamp-intel commented on #294
I've pushed a series for review that implements the fix: https://review.gerrithub.io/#/c/spdk/spdk/+/410953/

However, we should also still add tests for this.

[2018-05-11 22:17] dverkamp-intel commented on #296
It looks like the bdev_rbd destruct function doesn't fully clean up (spdk_io_device_unregister() is not called at all in the cleanup path).

[2018-05-13 04:18] johnmeneghini commented on #292
Paul, you did this on a MacBook?   I’m running OSX 10.12.6.  I already had Vbox installed, so I installed the Vbox extensions and then vagrant.

Do I really need to install cygwin?    I was hoping to run vagrant from my OSX terminal window.

However, after installing everything,  I can’t find the vagrant utility.

bash-3.2$ whereis vagrant
bash-3.2$ echo $PATH
/opt/local/bin:/opt/local/sbin:~/bin:

[2018-05-13 13:57] peluse commented on #292
Hi John-

This github issue is about running on Windows. I think I replied to the dist list for your question on running on OS/X.  I did both.  On Windows no you don't need cygwin but I can't stand the windows command prompt so did everything from a cygwin window.

On OS/X I think I provided more detail but my vagrant installed to usr/local/bin/vagrant Maybe just resintall the latest vbox and vagr

[2018-05-14 04:11] tafukuyama opened #297 "Random write IOPS by Perf is over than NVMe device spec."
We run spdk perf random write and found that reported IOPS is over than NVMe device spec.
We confirmed spdk perf random read looks reasonable IOPS.
This issue occurs only when random write.

We use  Intel® SSD DC P3700 Series 400GB for our test devices.
As far as looking below datasheet, random write IOPS for a single device is about 75KIOPS.
https://www.intel.com/content/dam/support/us/en/documen

[2018-05-14 05:24] WenqianZong opened #298 ""Work Request Flushed Error" occurred when disconnect NVMe-OF target with X722 iWARP RDMA."
# Problem Statement
When disconnect  NVMe-OF target with **X722 iWARP RDMA**, target machine reported "Work Request Flushed Error" ,following is log:
[code]

# Reproduce Step
1.run Nvmf tgt on target machine:
./app/nvmf_tgt/nvmf_tgt -c ../nvme.conf
2.connect on initator machine:
nvme connect -n nqn.2016-06.io.spdk:cnode1 -t rdma -a 10.67.110.50 -s 4420
3.disconnect on initator machine:
nvme discon

[2018-05-14 11:17] pawelkax opened #299 "Memory leak in conf file parsing with duplicate section names"
## Expected Behavior
No errors display

## Current Behavior
=================================================================
==16872==ERROR: LeakSanitizer: detected memory leaks

Direct leak of 1232 byte(s) in 2 object(s) allocated from:
    #0 0x7f0653604532 in operator new(unsigned long) (/usr/lib/x86_64-linux-gnu/libasan.so.2+0x99532)
    #1 0x7f064964efc9  (/usr/lib/x86_64-linux-gnu/librados.

[2018-05-14 14:16] jaedan commented on #297
It's especially critical that you precondition and then immediately run the benchmark - with no delay. The device will background defrag otherwise and undo the preconditioning.

[2018-05-14 14:47] jimharris commented on #297
@jaedan is exactly right.  Thank you for clarifying that.

[2018-05-14 15:10] benlwalker commented on #297
It is especially important that you run the benchmark immediately after precondition. The drive will undo the reconditioning via defrag otherwise.

[2018-05-14 18:58] sudhesam commented on #274
Apologies for the delay in updating this thread.

Still getting INVALID_FIELD error with '-6 511'.

[root@testxx testxx]# dd if=/dev/random of=/tmp/foo.out bs=512 count=10 iflag=fullblock
10+0 records in
10+0 records out
5120 bytes (5.1 kB) copied, 3118.4 s, 0.0 kB/s

[root@testxx testxx]# ls -l /tmp/foo.out
-rw-r--r-- 1 root root 5120 May 14 11:17 /tmp/foo.out

[root@testxx testxx]# nvme io-passt

[2018-05-14 22:14] jimharris commented on #274
A couple of questions:

1)       Can you attach the exact SPDK git commit ID you are using, plus the contents of “git diff” from your local clone?  I know previously you had some local mods to the repository – we need to know those exact mods to understand the issue.

2)       -6 511 indicates 512 blocks.  But the file is only 5120 bytes.  Was this the intention?  It seems the size of the file sho

[2018-05-15 00:59] tafukuyama commented on #297
Thank you for you comments.
More detailed our test procedure is below.

1. 90minutes random write ssd preconditioning
    /root/spdk-master/examples/nvme/perf/perf -q 32 -s 4096 -w randwrite -t 5400 -c 0xf
2. Wait for 3 minutes
3. Run perf random write
   We measured 81 test combinations of CPUMASK, IOPDEPTH and # of NVMe devices continuously.
   Runtime for each test condition is 10 minutes.
   W

[2018-05-15 02:28] yidong0635 commented on #299
hi pawelkax ,
   Is there any other settings before this call :scripts/rpc.py -s /var/tmp/spdk.sock construct_rbd_bdev rbd foo 4096. we followed  your procedure then:
[code]

thanks.
yidong

[2018-05-15 05:15] wanqunintel commented on #299
@pawelkax , "message": "Method not found", we also replaced the spdk.sock file and try to run, it failed also, is there any other steps before the rpc.py script running to create pool and rbd that missed?
and this command is for the ceph bdev, is there any environment setup needed? Or any single machine can run with this command?

[2018-05-15 05:47] wanqunintel commented on #296
@yidong0635 can you try with ./configure --with-rbd and compile to see if it occurs

[2018-05-15 05:54] wanqunintel commented on #293
@benlwalker , is there any patch for it?

[2018-05-15 06:46] wanqunintel commented on #299
@darsto , thanks, we will see if this happens in our environment.

[2018-05-15 07:10] WenqianZong commented on #298
I use Mellanox nic, Chelsio nic, X722 iWARP RDMA to setup NVMF target and disconnect my NVMf subsystem. target machine with Chelsio nic or X722 iWARP RDMA reported "Work Request Flushed Error", but machine Mellanox nic hadn't any error.

[2018-05-15 07:14] pawelwod commented on #293
I will talk about this today on community meeting.
Thanks

[2018-05-16 02:02] liang2yan commented on #282
@Comphix . is there any patch for this issue?

[2018-05-16 02:03] liang2yan commented on #287
@Comphix . any patch for this issue?

[2018-05-16 03:06] tafukuyama commented on #297
Regarding runtime,
we applied the following patch by whom perf becomes able to output aggregated IOPS data in any time interval during the test.

perf: Add option to get real time stats (exponential moving average)
https://review.gerrithub.io/#/c/spdk/spdk/+/411054/

Then we found IOPS is always over than NVMe device spec and no tendency observed like IOPS reduction by passage of time.
So changing

[2018-05-16 06:06] ChenWang01 commented on #294
Hi Daniel,
I have try to reproduce this issue with following steps, but it's failed. Can you help me to check these steps.
1. Start nvmf tgt:
    `./app/nvmf_tgt/nvmf_tgt -s 512 &`

2.  Create subsystem:
    ` ./scripts/rpc.py construct_nvme_bdev -b "nvme0" -t "PCIe" -a "0000:81:00.0"`
    ` ./scripts/rpc.py construct_nvmf_subsystem nqn.2016-06.io.spdk:cnode1
     "trtype:RDMA traddr:192.168.3.11

[2018-05-16 10:47] pawelkax commented on #299
It seems that when I delete section:
[Nvme]
  HotplugEnable Yes
from config error no longer exists

[2018-05-16 14:05] repu1sion opened #300 "bdev/nvme example for (accelerated) file writing ?"
the only bdev example is hardly integrated with fio.
even from "Block Device Layer Programming Guide" it is unclear - who should create a block device ?
If I have a single Samsung nvme in the system - would it be discovered with spdk_bdev_first() /next() or not?
Should I firstly call something like : "./scripts/rpc.py construct_nvme_bdev -b SAMSUNG -t pcie -a 0000:00:02.0" ?
But it doesn't work ,

[2018-05-17 03:00] yidong0635 commented on #299
@pawelkax ,after following your detail procedures.
 **If we still need to configure Ceph hardware environments ?**
we got errors when executed: ` ./scripts/rpc.py construct_rbd_bdev rbd foo 4096`
**_Spdk-target :error( this error is after installing some plugins)**
[code]

[2018-05-17 04:40] darsto commented on #300
Hi,
To understand the concept behind SPDK I suggest reading this doc -
http://www.spdk.io/doc/userspace.html
For bdevs there's a separate guide - http://www.spdk.io/doc/bdev.html - and
you'll find a ton more in http://www.spdk.io/doc/
D.

2018-05-16 16:05 GMT+02:00 repu1sion <notifications@github.com>:

[2018-05-17 04:42] wanqunintel commented on #293
@pawelkax can you update the status about this issue after discussion in the community meeting?

[2018-05-17 08:36] yidong0635 commented on #299
@pawelkax ,
following you edit procedures, also got memory leaks.
try shell cmd spdk/ :   `NRHUGE=12288 ./script/setup.sh`   to see the error if it's different?

[2018-05-17 08:42] pawelkax commented on #299
I use ceph version 10.2.9, so in other versions this problem may not exist. On test pool ceph version is 10.2.7 and problem I reported also exists.

[2018-05-17 08:44] pawelkax commented on #299
Problem with config will be solved with patch https://review.gerrithub.io/#/c/spdk/spdk/+/411411/.
Problem with librados still exists.

[2018-05-17 10:14] repu1sion commented on #300
I understand SPDK concept: drivers in userspace, polling instead of interrupts, kernel stack doesn't work.
The question is - how via Bdev API I should create a block device for samsung nvme at 0000:00:02.0 ?

[2018-05-17 10:14] pawelwod commented on #293
We need to fix this for sure but as there was SPDK summit in progresss, Jim was not abble to attend to community meeting. We are in touch and talking on possible solutions. I will update as soon we agree how to fix this.

[2018-05-17 10:37] pawelwod commented on #300
See the RPC call that call `spdk_bdev_nvme_create`

https://github.com/spdk/spdk/blob/08daa4477e8fd86269697be7354f4526e7d41678/lib/bdev/nvme/bdev_nvme_rpc.c#L85

From other hand, we could expose this `spdk_bdev_nvme_create` to public API ;)

[2018-05-17 15:04] pawelwod commented on #300
Before modifying or adding any code you can use existing `app/spdk_tgt/spdk_tgt` application to test if `construct_nvme_bdev` RPC call will create bdev or it fail for some reason. If succed you can got to the next steps.

Then, if you have any custom written code and you don't want to hack SPDK internals and move `spdk_bdev_nvme_create` declaration to public header under spdk/include you can do as

[2018-05-17 15:38] jimharris commented on #274
Hi Sudhe,

It was great to meet you at the SPDK summit!  And that we could bottom out on this issue.  Summarizing that discussion here so we can close this issue...

Your latest test here is not using SPDK at all - it's just using the kernel NVMe driver with a locally attached SSD.  This SSD has a 4KB formatted namespace.  MDTS is 256KB.  This means the max number of blocks for one command is 64.

[2018-05-17 15:38] #274 closed

[2018-05-17 16:07] jimharris commented on #300
It depends what you are trying to do.

If you’re wanting to run the bdev fio plugin, or the SPDK bdevperf utility, then RPCs won’t work – you’ll need to create a configuration file with an [Nvme] section to specify the NVMe SSD at 0000:00:02.0.

RPCs are possible if you’re wanting to use this SSD as the backing storage for iSCSI, NVMe-oF or vhost.  In these cases, you’ll start the associated targe

[2018-05-17 20:04] dverkamp-intel commented on #299
I've changed this bug title to refer to the conf file bug fixed in the patch mentioned in the previous comment.  The librados bug should probably get its own issue (or if it is a librados bug, we should report it to the Ceph project).

[2018-05-18 04:06] jimharris commented on #297
Great piece of data!

Could you try one of the fio tests again, but specify norandommap=1?

On May 17, 2018, at 8:21 PM, tafukuyama <notifications@github.com<mailto:notifications@github.com>> wrote:

Thank you for your reply.

We've checked following test conditions and found same behavior can be seen only when using perf regardless of ioengine and NVMe driver.

Tool    ioengine        NVMe driver

[2018-05-18 05:46] tafukuyama commented on #297
Hi Jim san,

We had run all of fio random write tests with norandommap option and got reasonable max IOPS(330K) using 4x NVMes.
Other fio settings are shown in below.

[root@dev16 ~]# cat config.fio
[global]
rw=randwrite
bs=4096
numjobs=${numjobs_set} # 1 to 16
iodepth=${iodepth_set} # 32 to 512 (set to be numjobs*iodepth/#_of_dev=128)
runtime=600
group_reporting
name=test
direct=1
ioengine=${ioen

[2018-05-18 08:26] pawelkax opened #301 "Memory leak in librados after killing spdk_tgt when using rpc construct_rbd_bdev"
## Expected Behavior
No errors display

## Current Behavior
=================================================================
==25273==ERROR: LeakSanitizer: detected memory leaks

Direct leak of 1232 byte(s) in 2 object(s) allocated from:
    #0 0x7f05b96be532 in operator new(unsigned long) (/usr/lib/x86_64-linux-gnu/libasan.so.2+0x99532)
    #1 0x7f05af708fc9  (/usr/lib/x86_64-linux-gnu/librados.

[2018-05-18 08:34] pawelkax commented on #299
Memory leak in config fixed.
Bug with memory leak in librados moved to issue 301.

[2018-05-18 08:34] #299 closed

[2018-05-18 12:39] pawelkax opened #302 "Spdk_tgt_trace file not deleted from /dev/shm"
## Expected Behavior
FIle spdk_tgt_trace.pid* deleted after spdk_tgt kill

## Current Behavior
File spdk_tgt_trace.pid* exist after spdk_tgt kill

## Possible Solution
None

## Steps to Reproduce
1. Run spdk_tgt:
app/spdk_tgt/spdk_tgt -m 0x1 -p 0 -c spdk_tgt.conf -s 1024 -r /var/tmp/spdk.sock
with config:
[Global]

[Ioat]
  Disable Yes
2. Wait until spdk_tgt starts
3. Kill spdk_tgt

## Context (En

[2018-05-18 15:47] pohly opened #303 "JSON RPC: empty params"
I am writing a Go client which calls the JSON RPC. I am running into an issue when trying to encode the parameters for  get_bdevs:

[code]

Due to the way how Go's encoding/json works, it treats GetBDevsArgs as non-empty and will always emit a (potentially empty) "params" hash. The SPDK server fails to parse that:

[code]

## Expected Behavior

I expect SPDK to accept the empty hash and simply ski

[2018-05-18 16:01] dverkamp-intel commented on #303
The JSON-RPC 2.0 spec that SPDK is written against is here: http://www.jsonrpc.org/specification (Note that we don't currently support batch requests, but all other features should be implemented per the spec.)

For the get_bdevs API in particular, the reason it fails when specifying an empty object to params is that the "name" field is not marked optional; the assumption was that if params were s

[2018-05-18 16:12] dverkamp-intel commented on #303
Actually, the JSON-RPC 2.0 spec also says "Most 2.0 implementations should consider trying to handle 1.0 objects", so I'll take this as confirmation that omitting the `jsonrpc` field is acceptable.  I've posted a patch for review here: https://review.gerrithub.io/#/c/spdk/spdk/+/411742/

[2018-05-18 20:40] repu1sion commented on #300
Thanks, Pawel! That helps a lot.

Yes, after running app/spdk_tgt/spdk_tgt I was able to create bdev device with rpc.py

I'm trying to create an own app, with help of SPDK API, which will be able to do some parallel reading/writing faster with bdev/nvme than standard kernel driver does.

[2018-05-21 00:55] yidong0635 commented on #296
this issue will debug together with #301 ,#302. to setup similar Ceph enviroments.

[2018-05-21 01:50] johnmeneghini opened #304 "Remove /home/sys_sgsw dependency from test scripts"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Title says it all.

## Expected Behavior

vm_setup.sh, autotest_common.sh, and vhost tests should use a relative path instead of /home/sys_sgsw

## Current Behavior

Current test scripts assume a hardcoded path to /home/sys_sgsw in

[2018-05-21 12:26] pawelkax opened #305 "Memory leaks when using rpc construct_virtio_user_blk_bdev"
## Expected Behavior
No error when killing spdk_tgt

## Current Behavior
=================================================================
==7933==ERROR: LeakSanitizer: detected memory leaks

Direct leak of 64 byte(s) in 2 object(s) allocated from:
    #0 0x7f34b27dc602 in malloc (/usr/lib/x86_64-linux-gnu/libasan.so.2+0x98602)
    #1 0x6f0e4d in spdk_json_strdup /root/spdk_bdev_json/lib/json/json

[2018-05-21 20:39] alekseymmm opened #306 "Question about bdevs / vbdevs initialization order."
I have a question not an issue regarding spdk bdev modules.
My question is what defines the order of calling module_init function  for all the modules that are in /lib/bdev/ (both virtual  bdev and  normal bdev). I have read in the code that virtual bdevs (those having examine callback) should be initialized first. That is understandable. What about all the  modules? What if there are some depende

[2018-05-21 21:32] alekseymmm commented on #306
The example I have in mind is when you want to create one vbdev over the other vbdev.  They could be both virtual bdevs but providing different functionality. Since there is no ordering in init_module calling then I think that I have to write some tricky examine callback in this case for the "higher" level vbdev . Am I right ?

[2018-05-21 22:03] jimharris commented on #306
This type of layering is done through the examine callbacks – not module init.

Let’s take logical volumes and GPT as an example, and assume we have an SSD attached with a GPT containing one partition.  That partition has an SPDK logical volume store with one logical volume.

The module init routines for logical volumes and GPT do not do anything related to creating bdevs.  They only do enough to

[2018-05-21 22:44] peluse commented on #306
Another mechanism that may help, depending on your exact use case, is the recently added .init_complete module function callback.  The bdev layer will call the bdev module's function after the subsystem has been initialized if the module provided a function pointer when it was initialized.  The intent is for a module that does something like RAID where it would like to know when all the initial ex

[2018-05-22 00:11] jimharris commented on #297
I can confirm that the RNG period for rand_r is not good.  The number sequence repeats itself too quickly, so not enough LBAs on the SSD are written.  This keeps the background garbage collection inactive allowing better performance.

lrand48_r should work well here.  My initial testing indicates its RNG is much much better.

A few notes to whoever ends up implementing this:

While we are here, we

[2018-05-22 02:08] darsto commented on #305
patch submitted: https://review.gerrithub.io/c/spdk/spdk/+/411959
Thanks,
D.

[2018-05-22 02:48] yidong0635 commented on #301
with the latest spdk , after run :`./scripts/rpc.py construct_rbd_bdev rbd foo 4096` without response.
and kill the pid without error.if wait above command:Timeout while waiting for response.

[2018-05-22 05:48] wanqunintel commented on #302
@yidong0635 can you double confirm if the spdk_tgt_trace.pid* can be deleted after waiting for a while or persisted not deleted?

[2018-05-22 07:06] yidong0635 commented on #302
the files in spdk_tgt_trace.pid* located in `/dev/shm` , confirm it will never be deleted after killing  spdk_tgt .

[2018-05-22 07:31] xuhuagen commented on #303
The error:  spdk_json_decode_object fails can be occur if params is null.
I patch https://review.gerrithub.io/#/c/spdk/spdk/+/411740/ and this issue can be resolved.
or you can not set value  for params filed of your request if params is null and the error will omit.

[2018-05-22 07:47] alekseymmm commented on #306
@jimharris Thanks for the example with lvol and gpt. It helped me understand the logic of what is happening. You mentioned that examine is called asynchronously. Is it true that all the other callbacks (like module_init,  init_complete etc )are called in parallel for all modules ?

@peluse This is the perfect example for me. Thanks a lot. To sum up your words.The sequence of calling is like this :

[2018-05-22 07:52] yidong0635 commented on #305
follow:
  CONFIG：` asan=y`
`./scripts/gen_nvme.sh >> spdk_tgt.conf`
`./app/spdk_tgt/spdk_tgt -m 0x1 -p 0 -c spdk_tgt.conf -s 1024 -r /var/tmp/spdk.sock & spdk_tgt_pid=$!`
waitforlisten $spdk_tgt /var/tmp/spdk.sock
`./scripts/rpc.py construct_split_vbdev Nvme0n1 4`
`./scripts/rpc.py construct_vhost_blk_controller naa.Nvme1n1p0.0 Nvme0n1p0`
`./app/spdk_tgt/spdk_tgt -m 0x2 -p 0 -c virtio.conf -s 1024

[2018-05-22 08:32] pawelkax commented on #301
I don't understand. Could you clarify what's failing?
If you want to check that command:
rbd_setup 127.0.0.1
succeeded, please go to fedora-02 on Test Pool.
There is proper output for setting rbd.

[2018-05-22 08:43] xuhuagen commented on #304
could we use $HOME instead of /home/sys_sysw?

[2018-05-22 13:19] alekseymmm opened #307 "Logical volume creation fails on AIO bdev"
## Expected Behavior

./rpc.py construct_lvol_bdev  creates lvol_bdev without errors
## Current Behavior

./rpc.py construct_lvol_bdev lvol1 25 -l lvs
In log I see :
vbdev_gpt.c: 297:spdk_gpt_bdev_complete: *ERROR*: Gpt: bdev=74c5b4bd-0d6a-4057-b9e6-5b505228284f io error status=0

if I run ./rpc get_bdevs  then lvs/lvol1 presents in bdevs list, but i believe it was   creation errors.
## Possible S

[2018-05-22 15:28] jimharris commented on #307
You shouldn’t need the rpc_listen.conf.in file at all.  By default, the app will listen on a UNIX domain socket at /var/run/spdk.sock.  The Rpc section in the config file has been deprecated and is ignored by the application.

But that is not related to the error.  I suspect this error is due to AIO requiring a buffer aligned on an LBA boundary.  The AIO module sets need_aligned_buffer, but that p

[2018-05-22 15:44] dverkamp-intel commented on #304
Most of these paths point at the location for VM test images that are not published anywhere currently; part of solving this issue is finding a way to provide the VM images (or ideally, generate them from an unmodified installer ISO and a script of some kind, maybe via Kickstart for Fedora).

[2018-05-22 16:20] dverkamp-intel commented on #307
I have pushed a patch for review that should fix this issue: https://review.gerrithub.io/#/c/spdk/spdk/+/412064

[2018-05-22 19:18] peluse commented on #306
Take a look at these two func in bdev.c and it will make it super clear I think.  Per Jim's ordering comment see spdk_bdev_module_list_add() as the order of init is essentially determined by the list order.  Then check out spdk_bdev_init_complete() for the comment I made on how a module can get notified when all the startup init stuff is done at bring-up

[2018-05-22 19:45] johnmeneghini opened #308 "Dynamic Threading Model"
**SPDK needs to support a dynamic threading model where reactors are NOT bound to lcores.**

Many applications need SPDK to support a threading model that:
1. Does not assume a static number of threads
2. Does not bind threads to cores (this burns up cores)
3. Does not assume all treads use the same polling model

Removing these assumptions from the SPDK libraries will allow:
- Different applicati

[2018-05-22 20:15] paimad commented on #308
One clarification:
The diff that I have ready actually assumes the reactor as the unit of the threading abstraction (and NOT
the poll group).
The patch comments has the actual details on the design which is a bit different from my earlier design approach (that is listed above).

[2018-05-22 21:19] dverkamp-intel commented on #191
I think NVMe-oF with SoftRoCE should be working in the latest SPDK + Linux environment (we test this in our automated build pool on the VM named fedora-06), so I'm going to close this issue; if new problems come up with SoftRoCE, please reopen or create a new issue.

[2018-05-22 21:19] #191 closed

[2018-05-22 21:21] dverkamp-intel commented on #145
I think the original issue here was due to build configuration (trtype 1 is RDMA, which is only available when building with ./configure --with-rdma), so I'm going to close the issue.  If there are other problems still happening, please open a new issue to track them separately.

[2018-05-22 21:21] #145 closed

[2018-05-22 23:06] dverkamp-intel commented on #303
The patch that makes the "jsonrpc" request field optional (aa67900a2e42b33386033ed906844d751a57599a) has been merged, as well as the fixes for RPC methods that worked when "params" was omitted entirely but not with an empty "params" (75896c2510ee37821f1760f5090c07d055761b7c and e95f0bb75654ab508522d9a28bc24e0998019491).

@pohly: Does this resolve the issue for you?

If you find any more JSON-RPC i

[2018-05-22 23:08] #307 closed

[2018-05-23 00:56] wanqunintel commented on #302
verified with nvmf_tgt, it shows the same issue, but iscsi_tgt can delete the iscsi_trace.pid12663  spdk_iscsi_conns.-1 files

[2018-05-23 01:01] yidong0635 commented on #302
![image](https://user-images.githubusercontent.com/39082016/40397900-c3dd77aa-5e67-11e8-896f-321b12fdc5a5.png)

[2018-05-23 05:27] wanqunintel commented on #303
@xuhuagen , would you generate a script to automaticly capture this kind of issue for later tracking?

[2018-05-23 05:52] wanqunintel commented on #294
@ChenWang01 maybe we can try to add more process to see?

[2018-05-23 06:01] wanqunintel commented on #280
I saw the patch https://review.gerrithub.io/#/c/spdk/spdk/+/410534/ is abandoned, is there any other fix for this issue?

[2018-05-23 06:17] wanqunintel commented on #252
@liang2yan @Comphix This is iscsiadm issue, we may close it.

[2018-05-23 06:17] #252 closed

[2018-05-23 06:30] wanqunintel commented on #261
@WenqianZong can you try to reproduce it with Liang with latest code

[2018-05-23 06:31] wanqunintel commented on #248
Is there any patch for it?

[2018-05-23 06:32] wanqunintel commented on #254
@ChenWang01 will you verify it with the latest code? thanks

[2018-05-23 07:37] optimistyzy commented on #280
@wanqunintel  I abandoned that patch and I think that Ben is solving this issue with other patches.

[2018-05-23 07:44] tafukuyama commented on #297
Hi Jim san,

Thank you for your comments!
We've tried to rerun perf random write applying the following patch which changes the RNG to lrand48_r instead of rand_r. Then we found over spec IOPS can no longer be seen, but on the contrary, IOPS becomes very low. (38KIOPS at NVMe x4, 4K random write)
Please note that this is just a result of trial patch and it may have some bugs or too heavy processes

[2018-05-23 07:46] optimistyzy commented on #248
@wanqunintel  No useful patch can be provided yet. Currently hotplug test is disabled, I think that that there will be great efforts to reenable it. At least in a long time (at least 1 month), there will not have a very solid methods to solve this issue.

[2018-05-23 08:00] alekseymmm commented on #306
Thanks . I have checked the code now it is clear for me.

[2018-05-23 08:00] #306 closed

[2018-05-23 08:07] ChenWang01 commented on #254
I have verified this issue with latest code, and  it can't be reproduced.
It's fixed by https://review.gerrithub.io/#/c/408266/ patch.
And it can't be reproduced in SPDK test pool nightly cases, too. We can check the details using following link.
https://ci.spdk.io/spdk/builds/review/17b362422b7db5fa77ed709c9606538b2d4ba731.1526993009/fedora-08/build.log
So, we can close this issue.

Thanks,
Chen

[2018-05-23 08:14] #254 closed

[2018-05-23 10:07] alekseymmm opened #309 "iscsi target create problem"
app/iscsi_tgt/iscsi_tgt do not create target from simple config

## Expected Behavior

target should be created
## Current Behavior

iscsi_tgt  *ERROR* on iscsiadm discover
## Possible Solution

?
## Steps to Reproduce

1. Create simple config etc/spdk/test_iscsi.conf.in

[Global]

[iSCSI]
  NodeBase "iqn.2016-06.io.spdk"
  AuthFile /usr/local/etc/spdk/auth.conf
  MinConnectionsPerCore 4
  Timeout

[2018-05-23 16:17] jimharris commented on #309
Can you check if selinux is enabled?  And if so, disable it?  I know we’ve seen this issue before where security modules interfere with iSCSI connections.

This is most certainly some kind of configuration issue – iSCSI configuration is known to work well.

Could you try the same discover command, but without creating any target nodes?  Discovery should normally succeed in that case – it will just

[2018-05-23 16:20] jimharris commented on #297
I think you do not want to call srand48_r on each IO.  This will reinitialize the RNG, always with the same seed, meaning it will always write to the same LBA.

From: tafukuyama <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Wednesday, May 23, 2018 at 12:44 AM
To: spdk/spdk <spdk@noreply.github.com>
Cc: James Harris <james.r.harris@intel.com>, Comment <comment@norepl

[2018-05-23 16:45] jimharris commented on #302
Hi,

How do you propose this should be fixed?

Using SIGKILL means the application has no opportunity to delete it itself.  And having the application try to figure out which ones it can or should delete the next time it starts is problematic.

I’m open to suggestions here, but my feeling is this just expected behavior.

-Jim

From: yidong0635 <notifications@github.com>
Reply-To: spdk/spdk <reply@

[2018-05-23 22:56] shuhei-matsumoto commented on #297
Hi Jim,

Yes, I suggested Taisuke defining _seed as thread local variable
`static __thread drand48_data _seed = {};`
and calling srand48_r(0, &_seed) once in work_fn().

He did but didn't see any difference.

Taisuke, will you try once again for just in case?

[2018-05-24 02:52] WenqianZong commented on #256
This issue verified pass on latest spdk version , I can't reproduce error.

[2018-05-24 02:54] #256 closed

[2018-05-24 04:00] johnmeneghini commented on #308
Please see the RFC patches at:

https://review.gerrithub.io/#/c/spdk/spdk/+/412277/
https://review.gerrithub.io/#/c/spdk/spdk/+/412093/

[2018-05-24 04:03] yidong0635 commented on #292
![image](https://user-images.githubusercontent.com/39082016/40463893-789e5b4a-5f4a-11e8-9864-98c27bf0c96e.png)

[2018-05-24 04:07] yidong0635 commented on #292
![image](https://user-images.githubusercontent.com/39082016/40463993-fdb490ce-5f4a-11e8-9e66-42eb4f580849.png)

[2018-05-24 05:43] WenqianZong commented on #309
I use alekseymmm's iscsi .conf file to reproduce issue ,and I checked discovery iscsi target logs under disable /enable selinux.
iscsi target machine report same error:
[code]
then I use command `iscsiadm -m node -T iqn.2016-06.io.spdk:disk1 -p 192.168.3.11 --login` to login iscsi target and run perf . No error occurred.

[2018-05-24 08:08] baruch opened #310 "Lockup on handling of physical disk removal"
I have an application that uses SPDK for its local NVMe drive handling through `uio_pci_generic`, when the device is physically removed from the machine the process performs an `spdk_nvme_detach()` call and during that call the process locks up. Specifically it looks up when it tries to close the io qpair as there is no nvme device in the pcie bus to handle the request to the remove io qpair sq co

[2018-05-24 09:38] tafukuyama commented on #297
Hi Jim san,

Thank you for your advice!
We've confirmed offset_in_ios value becomes always the same by calling srand48_r on each IO.
   max_offset_in_ios= 11310718, min_offset_in_ios= 11310718, entry->size_in_ios= 97677846

So we modified the patch as follows to call srand48_r(0, &_seed) once in work_fn() as Matsumoto san mentioned.

[code]

Before I rerun perf w/ new patch, I confirmed offset_in_

[2018-05-24 13:23] pawelkax opened #311 "Memory leaks when using rpc construct_virtio_pci_blk_bdev"
Expected Behavior
No error when killing spdk_tgt

Current Behavior
=================================================================
==28843==ERROR: LeakSanitizer: detected memory leaks
Direct leak of 21 byte(s) in 2 object(s) allocated from:
    #0 0x7f4c8279f602 in malloc (/usr/lib/x86_64-linux-gnu/libasan.so.2+0x98602)
    #1 0x6ef838 in spdk_json_strdup /root/spdk_bdev_json/lib/json/json_util.

[2018-05-24 15:08] jimharris commented on #309
Thanks Wenqian.  This is a great data point.

My guess here is that with the v18.04 iSCSI poll group changes, that we have a situation where we return the SendTargets data to the initiator, the initiator closes the connection, and we poll one last time resulting in this error message.  We shouldn’t be printing an error message in this case though.

Ziye – could you take a look at this?

From: Wenq

[2018-05-24 15:17] alekseymmm commented on #309
I have checked selinux and it is disabled. But it seems there are some configuration problems since iscsi kernel target also doesn't work properly.
I believe you could close this issue as irrelevant.

[2018-05-24 17:06] alekseymmm commented on #309
Hi @jimharris
I have tried ignoring the ERROR message as @WenqianZong  suggested but  it still failed to connect targets
# iscsiadm -m discovery -t sendtargets -p 10.30.0.11:3261
10.30.0.11:3261,1 iqn.2016-06.io.spdk:disk1
# iscsiadm --mode node --targetname iqn.2016-06.io.spdk:Target1 --portal 10.30.0.11:3261 --login
iscsiadm: No records found

[2018-05-24 17:12] #309 closed

[2018-05-24 20:32] dverkamp-intel commented on #310
`nvme_pcie_ctrlr_delete_io_qpair()` definitely needs a timeout added (as well as all other functions that have a 'poll until done'-style loop; we have a lot of these through lib/nvme).  We should probably also bail out of these style of loops if the controller gets marked as failed (`ctrlr->is_failed`), which should happen if a controller is hot-removed due to the SIGBUS handling and checking for

[2018-05-25 08:18] WenqianZong commented on #279
I verified issue with latest version ,but new error occurred during test , following is error log:

[code]

[2018-05-25 09:06] alekseymmm commented on #309
I am curious whether you are going to fix this ERROR message on discover ?

[2018-05-25 15:28] jimharris commented on #309
Yes – we plan to fix this error message.

I’m not sure why this issue was closed though?  Not only does the error message need to be fixed, but your last reply indicated that even after the error message during recovery, you were unable to log into the configured target node.

From: Aleksei <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Friday, May 25, 2018 at 2:06 A

[2018-05-25 15:29] jimharris commented on #279
We need the writesync_db_bench.txt file to get more information.  Probably also the readwrite_db_bench.txt file (since that was the test that ran before writesync).

[2018-05-25 16:00] jimharris commented on #297
Hi Taisuke-san,

For the 108K data point – it looks like this was run for 10 minutes (-t 600)?  Was this also with 90 minutes pre-conditioning?  I just want to make sure the higher performance is not related to lack of preconditioning or that the test was not run long enough.

Note that even with using the stronger RNG – we still do not truly match fio’s randommap.  The randommap makes sure that e

[2018-05-25 22:51] dverkamp-intel commented on #310
I've posted a patch that changes all of these internal wait loops to use a single central helper function: https://review.gerrithub.io/#/c/spdk/spdk/+/412545/

The next step here would be to add a timeout parameter and pick reasonable values for each command (or maybe we can just hard-code a timeout for all command types).

However, the timeout needs to be implemented carefully to avoid introducin

[2018-05-26 17:52] alekseymmm opened #312 "bdev claim error"
I have been working on some  vbdev and found interesting  behavior that leads to claim error during bdev (or vbdev ) examine
Using this simple config  etc/spdk/test.cfg:

[AIO]
  AIO /dev/sdX AIO_0

[Passthru]
  PT AIO_0 PT_0

just run
`app/spdk_tgt/spdk_tgt -c etc/spdk/test.cfg`
And you get :
reactor.c: 453:_spdk_reactor_run: *NOTICE*: Reactor started on core 0 on socket 0
vbdev_passthru.c: 374:v

[2018-05-26 19:39] peluse commented on #312
Is there by any chance old lvol metadata on /dev/sdX ?

[2018-05-26 20:43] peluse commented on #312
OK, just checking.  I'm not super familiar with this path but it seems like lvol doesn't need to be opening bdevs with the write flag set to TRUE when its just checking to see if the bdev passed in should be claimed by it or not. It's happening now via spdk_bdev_create_bs_dev() which maybe could use another parm but again one of the folks who knows the lvol code could more quickly comment on a pos

[2018-05-26 22:11] alekseymmm commented on #312
@peluse Your idea sounds logical. I will try it as a workaround in my case. It seems like lvol sometimes should open bdev with read only flag to check md only, sometimes with write to full access. I am waiting for some possible patches about this issue.

[2018-05-27 10:55] baruch commented on #310
You can have a quick check at each loop if the registers are at all readable, if not the device is gone. This is simple to do in local NVMe, NVMe-oF requires separate handling. For NVMe-oF you may have an additional complication where the local communication controller dies for some reason but I don't know if you can easily detect that and may need to fallback to timeout.

[2018-05-28 05:00] liang2yan opened #313 "SPDK iSCSI target crashed while running rpc_config.sh with multiple NVMe devices"
As the title, I have run spdk/test/iscsi_tgt/rpc_config/rpc_config.sh in the machine which have multiple nvme devices. but the script reported crashing while running the last function, verify_add_nvme_bdev_rpc_methods. This function will construct NVMe bdev twice using every NVMe SSD's PCI address. When constructing NVMe bdev for the second NVMe device, the iscsi target will crash.

## Steps to Re

[2018-05-28 05:02] optimistyzy commented on #309
@jimharris  I did not find any issue with the code yet. For the normal discovery,  it should goto spdk_iscsi_conn_read_data (line: 747), Which means that no data can be read, and the socket should be closed. Do not know why get -104 error.

[2018-05-28 05:06] WenqianZong commented on #264
1.I run perf test keep about 24 hours , but no error occurred.
2. run perf test 5 minutes per cycle, after 13 cycles ,"Work Request Flushed Error" reported.

[2018-05-28 05:28] tafukuyama commented on #297
Hi Jim san,

Thank you for your explanation.

We got these test results with 90 minutes pre-conditioning by fio_plugin instead of perf.
The fio setting is below.

[root@dev16 ~]# LD_PRELOAD=/root/spdk-master/examples/nvme/fio_plugin/fio_plugin fio config_nvmex1.fio

[root@dev16 ~]# cat config_nvmex1.fio
[global]
rw=randwrite
bs=4096
numjobs=1
iodepth=32
runtime=5400
group_reporting
name=test
direc

[2018-05-28 05:49] WenqianZong commented on #312
I reproduce this issue on my env and reported :
[code]

[2018-05-28 06:41] shuhei-matsumoto commented on #297
Hi Jim,

I would like to say thank you too. Your insight was very helpful for us.

Perfectly uniform random number generator is interesting but I understand that is not easy task (One reason may be that FIO and Linux kernel are GPL but SPDK is BSD license.).

We can still use SPDK perf random write to measure CPU utilization and now we could get enough answer for our question. Hence as Taisuke say

[2018-05-28 07:55] pawelkax commented on #311
Fixed with patch https://review.gerrithub.io/#/c/spdk/spdk/+/412548/

[2018-05-28 07:56] #311 closed

[2018-05-28 13:20] pohly commented on #303
Sorry for the late response, I was away last week.

Daniel Verkamp <notifications@github.com> writes:

That part does not work for me. I found that with SPDK master (rev
9a9bef0a9ae) I still need to send jsonrpc, otherwise I just get back
{\"code\":-32600,\"message\":\"Invalid request\"}} (no further output
from vhost on the console).

But this is okay for me. I am now using a slightly modified ve

[2018-05-28 14:04] pohly opened #314 "run vhost as non-root"
## Expected Behavior

I'd like to invoke app/vhost/vhost as part of automated testing of my JSON-based client as unprivileged user. It's okay if vhost in that mode can't provide all functionality, as long as simple operations (like creating creating a malloc bdev) work.

## Current Behavior

It already fails early on:
[code]

This is because creating /dev/hugepages/spdk_pid* fails.

## Possible So

[2018-05-28 14:49] pohly opened #315 "construct_malloc_bdev: total_size in MB or GB"
## Expected Behavior

``rpc.py construct_malloc_bdev 1 512`` should create a bdev of 1MB = two blocks, according to the help text:
[code]

## Current Behavior

It seems to create a bdev of 1GB:
[code]

## Possible Solution

Looks like the help text is incorrect.

[2018-05-28 14:56] pohly commented on #315
Is there a minimum size? I tried with block_size = 512, num_blocks = 10 in my JSON client and that was rejected.

[2018-05-29 02:51] xuhuagen commented on #315
The minimum size of malloc bdev should be 1MB.
malloc bdev size can bd calculated as bdelow
bdev size(MB) = "block_size" * "num_blocks" /1024/1024

[2018-05-29 05:31] wanqunintel commented on #315
@pohly The total_size is in unit of MB not GB, you may refer to the file spdk/scripts/rpc.py line 106 num_blocks = (args.total_size * 1024 * 1024) // args.block_size

[2018-05-29 06:17] pohly commented on #315
Right, my bad.

[2018-05-29 06:17] #315 closed

[2018-05-29 06:54] WenqianZong commented on #279
following is information in writesync_db_bench.txt:

[code]

[2018-05-29 06:58] xuhuagen opened #316 "Error occurs when use malloc bdev( less than 1M) to construct target node with rpc"
I tried use block_size=512,num_blocks=1024,to construct malloc malloc bdev( bdev size is 512k)  and use it construct target node, a error
 `blobstore.c:2240:_spdk_bs_alloc: *ERROR*: Device size 524288 is smaller than cluster size 1048576`
occured in spdk target.

malloc bdev's config file  malloc_bdev.conf   as below
[code]

malloc bdev message as below
[code]
iscsiadm  discovery :
`127.0.0.1:3260

[2018-05-29 13:07] johnmeneghini opened #317 "Support for ANA"
This Issue tracks support for the ANA protocol in SPDK.

The NVMe Asymmetric Access Namespace specification has been ratified and is now public.

See:  http://nvmexpress.org/wp-content/uploads/NVM-Express-1.3-Ratified-TPs.zip

NVMe_TP_4004-ANA_Base_Protocol_2018.03.20-Ratified
NVMe_TP_4028-Path_and_Transport_Error_Enhancements_2018.01.18a-Ratified

## Expected Behavior

Support for the following A

[2018-05-29 13:20] pawelwod commented on #314
Running any target without root privilage will be problematic. You can try this guide
https://dpdk.org/doc/guides/linux_gsg/enable_func.html#running-dpdk-applications-without-root-privileges
but I don't feel this will work. Simple and fast solution is to run vhost as root. You can also run vhost inside virtual machine (just use hugepages as VM memory backend).

[2018-05-29 13:58] pawelwod commented on #302
This is also an issue if SPDK crashes. There should be some way of recycling this memory. Maybe omitting PID or/and using file locking would be better to detect if SPDK can remove those artifacts.

[2018-05-29 15:56] pohly commented on #314
I understand that some operations won't work. What I'm aiming for is just something simple, like creating/destroying a malloc bdev. The goal is to run this as part of automated testing on "normal" Linux distros (no sudo rights, no special preparations), so the DPDK guide doesn't really help.

[2018-05-29 17:25] pohly commented on #314
Jim Harris <notifications@github.com> writes:

Correct.

[2018-05-29 17:37] jimharris commented on #302
Omitting PID and using file locking means we can’t have two of the same application running at once.  We’ve done a lot of work in other areas to ensure this works.

What if we had a separate “cleanup.sh” script in the scripts directory that could be used to clean up stuff like this?  I really don’t want to try to build logic into the apps itself to figure out which existing shm files can be delete

[2018-05-29 18:14] dverkamp-intel commented on #303
Sorry, I should have actually tested the optional "jsonrpc" change - it's missing a modification to the decoders to make "jsonrpc" actually optional.  This patch should fix it: https://review.gerrithub.io/#/c/spdk/spdk/+/412859/ (tested manually with telnet this time).

[2018-05-29 20:34] #281 closed

[2018-05-29 23:32] jimharris commented on #297
Hi Shuhei and Taisuke,

This was a very interesting debug effort.  I agree with closing the bug and adding something to the backlog.

Thanks,

-Jim

From: shuhei-matsumoto <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Sunday, May 27, 2018 at 11:41 PM
To: spdk/spdk <spdk@noreply.github.com>
Cc: James Harris <james.r.harris@intel.com>, Comment <comment@noreply.github.

[2018-05-29 23:42] jimharris commented on #312
This is a known bug in the lvol layer.  Currently it writes the dirty bit automatically after successfully loading a blobstore, meaning the lvol bdev driver has to open the device with write privileges to examine it.

This is something that’s needed fixing for a while – thanks for filing this issue for it.  Deferring the dirty bit until the first I/O operation occurs is the way to go – but it ends

[2018-05-29 23:43] konili opened #318 "always show "no NVMe controllers found" even load uio_pci_generic module"
I have followed the guidance of spdk then build the nvme example code: "hello_world and "identify".
Always encounter the error of "no NVMe controller found" even load the uio_pci_generic module.

Could some expert help debug this problem? no idea what I was miss... :(

It's the configuration on my system:
- OS: Ubuntu 18.04 LTS 64bit
- Platform: Intel Skylake PCH / CPU i7-7600 / 8GB RAM
- NVMe: In

[2018-05-29 23:47] jimharris commented on #318
Hi,

Have you run the scripts/setup.sh script?  Loading uio_pci_generic is not enough – the NVMe device also needs to be bound to uio_pci_generic.  You can do that manually, or let the scripts/setup.sh script do it for you.

Regards,

-Jim

From: konili <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Tuesday, May 29, 2018 at 4:43 PM
To: spdk/spdk <spdk@noreply.github.

[2018-05-29 23:48] dverkamp-intel commented on #318
You can also run `scripts/setup.sh status`, which will show any NVMe devices detected on your system and which driver is active (`nvme` or `uio_pci_generic`/`vfio-pci`).  Posting the output of this command would be useful if you did in fact run setup.sh already and it didn't work for some reason.

[2018-05-29 23:54] konili commented on #318
yes, I have ran the ./scripts/setup.sh. It's the output from "setup.sh status":

Looks like the NVMe controller present on 3c:00.00 but still shows "no NVMe controller found".

attached lspci for reference as well:

[2018-05-30 02:02] konili commented on #318
oops.. you are right.
The Ubuntu OS was loaded on the filesystem and it mounted on this NVMe drive. Is it the reason why it failed?

[2018-05-30 05:07] wanqunintel commented on #316
@pawelkax , would you help to look at this issue?

[2018-05-30 05:11] wanqunintel commented on #318
@konili , so shall we close it

[2018-05-30 05:13] #297 closed

[2018-05-30 05:15] wanqunintel commented on #303
@pohly would you verify it with the patch above and update it?

[2018-05-30 05:29] wanqunintel commented on #292
@kvietmeier as Paul and Yidong has setup and run vagrant successfully, maybe we can close it

[2018-05-30 05:39] wanqunintel commented on #295
@repu1sion as the titled issue can be solved with the spdk_tgt running, we will close this one

[2018-05-30 05:39] #295 closed

[2018-05-30 05:40] wanqunintel commented on #293
@pawelkax any update?

[2018-05-30 05:43] liang2yan commented on #261
This issue can't be found in the CI test result. So close this issue.

[2018-05-30 05:50] Comphix commented on #287
Working on the patch. Thanks for the reminder.

[2018-05-30 06:35] #261 closed

[2018-05-30 07:37] pohly commented on #303
I can confirm that it works with that pending patch.

[2018-05-30 08:40] pawelkax commented on #316
I see that error occurs when creating malloc bdev via json config. But after loading config file malloc disk exists in spdk target.
I also noticed that iscsiadm works properly.
I also see that rpc method construct_malloc_bdev doesn't allow to create malloc with size < 1M. It is possible to create malloc with size lower that 1M using json config.
I think that rpc should be corrected to allow create

[2018-05-30 09:57] pohly opened #319 "RPC error messages are not descriptive at all"
## Expected Behavior

When calling GetBDevs() with a name of a BDev and that BDev does not exist, the resulting error is rather generic:
[code]

It would be better to have a dedicated, documented error code for this situation.

I need this because I intend to use the name chosen by Kubernetes for a new volume also as the BDev name. Creating volumes must be idempotent, so when asked to create a vol

[2018-05-30 10:46] pawelwod commented on #319
Don't think you need to check if volume exist. If bdev with the same name already exist RPC will simply fail. But yes, making those error messages more "user firendly" is something what need to be done.

[2018-05-30 11:36] konili commented on #318
Not sure if it’s the root cause. Let me try with using NVMe drive as data drive, to check the result.

Is it an known limitation is spdk?

[2018-05-30 11:55] pohly commented on #319
pawelwod <notifications@github.com> writes:

But then my code has the same problem again: how can it distinguish
between "could not create volume because the name was already taken" and
"out of resources, temporary error, whatever..."?

"user friendly" would imply having some better error messages. That's
worthwhile, but what I am after here is "program friendly": being able
to handle different er

[2018-05-30 12:20] pawelwod commented on #319
The current direction is to just show string representation of error just like calling `strerror(errno))` would do. As you already noticed this is not a rule yet as there is a lot of RPC code that just send `Invalid argument` message.

We try to be as verbose as we can but I think we never will make (much) more than just returning proper errno code from SPDK API and translating this error using `s

[2018-05-30 16:01] konili commented on #318
Hi,
Thanks all of your comments, I will try on another host system since there’s only one storage (m.2) slot on this machine...too bad.

It’s a big help to point the problem. Big thanks guys :)
Will keep post the result later.

Koni.

[2018-05-30 16:07] dverkamp-intel commented on #319
I think if we are going to send back strerror() results as the message, we could also at least send errno back as the `code` value - the error code is meant to be user-defined aside from a few specific pre-defined ones (one of which we are currently sending most places).  This should be a pretty easy change to the RPC methods that already use strerror messages.

[2018-05-30 16:49] dverkamp-intel commented on #303
This should be fixed as of commit da7673f71f15e27a7853ad18f3f07058d73e7274 - thanks for the bug report and tests!

[2018-05-30 16:49] #303 closed

[2018-05-30 20:32] johnmeneghini opened #320 "Unit tests broken on master"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Unit Tests are not pass at

98d140d2 2018-05-30  (origin/master, master) nvmf: remove unused #defines from nvmf_internal.h [ Daniel Verkamp / daniel.verkamp@intel.com ]

## Expected Behavior

All unit tests pass the pre-push hook t

[2018-05-30 21:35] dverkamp-intel commented on #320
I can reproduce with Valgrind:

[code]

It looks like this was introduced with fbf06aca1a63d0a9f500e3f9e05cf9a4d647ff5a.

[2018-05-30 21:42] dverkamp-intel commented on #320
This patch should fix the unit tests when run under Valgrind: https://review.gerrithub.io/#/c/spdk/spdk/+/413017/

I am a little concerned that we don't have any test machines running into this problem, though - it looks like the machines that have Valgrind enabled aren't actually using it, since they also have ASan enabled.

[2018-05-30 23:46] dverkamp-intel commented on #320
The fix above has been merged as commit 9e9cd51f55ad6319f1ce0067f23d3aac2ba8c932 - please let us know if this does not resolve the issue for you.

I also opened a Trello item to remedy the lack of a Valgrind unit test machine in the build pool: https://trello.com/c/KIsnG1GP/87-add-valgrind-unit-test-machine

Thanks for the report.

[2018-05-30 23:46] #320 closed

[2018-05-31 02:27] johnmeneghini commented on #320
Thanks for jumping on this Daniel.

Do we want a github issue opened to track this Trello item as well?

I seems to me that Trello doesn’t work well for tracking backlog issues.

/John

From: Daniel Verkamp <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Wednesday, May 30, 2018 at 7:46 PM
To: spdk/spdk <spdk@noreply.github.com>
Cc: John Meneghini <John.Meneghini@netap

[2018-05-31 02:55] Comphix commented on #287
Hi Liang,

Please have a try on below patch to see how much overhead with the change.

https://review.gerrithub.io/#/c/spdk/spdk/+/413028/

Please use the same testing method to get the overhead.

Thanks, Gang

[2018-05-31 04:29] shuhei-matsumoto opened #321 "NVMe-oF 4K Random Read per Core doesn't reach 1M IOPS"
We ran 4K random read by SPDK perf from single core SPDK NVMe-oF initiator to single core SPDK NVMe-oF target.

We tried malloc x1, malloc x4, and  P3700 nvme x4 but regardless of the type of back-end devices, max IOPS was about 500K and didn't reach 1M.

On a single core configuration, NVMe-oF 4K Random Read is about 500K IOPS at the maximum and doesn't reach 1M IOPS. This behavior does not chang

[2018-05-31 04:33] #260 closed

[2018-05-31 04:36] wanqunintel commented on #312
@pelplinski would you help to look at this issue?

[2018-05-31 04:41] wanqunintel commented on #302
@yidong0635 would you double confirm about the kill action, is it ctrl+c or kill -9 or others? make sure it's doing the same for nvmf_tgt and iscsi_tgt

[2018-05-31 04:57] #294 closed

[2018-05-31 04:59] wanqunintel commented on #301
@yidong0635  do you have some problem to setup the ceph environment, you may ask help from Daniel.

[2018-05-31 05:06] WenqianZong commented on #280
hi ziye :
Could you provide Ben 's patch link?
BRS
Zongwenqian

[2018-05-31 05:16] shuhei-matsumoto commented on #248
@optimistyzy  @jimharris @darsto

This issue is covered in the today's bug scrub meeting. I think there are some gap about the policy of iscsi hot plug as in https://review.gerrithub.io/#/c/spdk/spdk/+/394699/ and https://trello.com/c/MCqjqMKX/8-proper-iscsi-hotplug.

Ziye's patch may be the shortest route to re-enable iscsi hotplug. But we may have to get consensus in the policy first.

Do you ha

[2018-05-31 05:30] liang2yan commented on #321
@shuhei-matsumoto , what the RDMA NIC you used? Mellanox 25Gb, 40/56Gb or 100Gb?

[2018-05-31 05:40] optimistyzy commented on #280
Hi Wenqian,

Ben provides a series of patches which are merged . Maybe, you can check
the master branch and test that.

2018-05-31 13:06 GMT+08:00 WenqianZong <notifications@github.com>:

[2018-05-31 05:47] optimistyzy commented on #248
In my opinion, we can enable those patches and iteratively improve it. If
we want to solve it with a very perfect solution, I have concerns that
there are still lots of corner cases which may not be considered.

2018-05-31 13:16 GMT+08:00 shuhei-matsumoto <notifications@github.com>:

[2018-05-31 06:07] shuhei-matsumoto commented on #321
@liang2yan Mellanox connectx-4 100Gb.

This slow looks coming from outside of SPDK, IB verbs layer. Hence I'm checking configuration of connectx-4.

[2018-05-31 08:54] shuhei-matsumoto commented on #321
I found that linux iommu may not be enabled yet. I'm not sure if iommu is not related with the issue but this is necessary for vfio anyway and I'll enable it.

[2018-05-31 10:29] shuhei-matsumoto commented on #248
Your patch had got plus from Darek and I agree with your thought. I might give wrong feedback last week, sorry for that.

[2018-06-01 00:32] WenqianZong commented on #280
I use latest SPDK (5/31) to verify this issue, but core dump also can be reported.

[2018-06-01 00:43] WenqianZong commented on #280
trace and error log:
[code]
[code]

[2018-06-01 01:11] liang2yan commented on #287
Since gang's patch already merged, so I used latest codes. The commit is:
40b6f761b2554c12848583e3a686fd705e2e29bf

I have run following command to run bdevperf:
./test/bdev/bdevperf/bdevperf -c bdev.conf -q 128 -s 4096 -w randread -t 600

The bdev.conf is as below:
[code]

The test result without QoS is as below:
[code]

The test result with QoS is as below:
[code]

From the result, 1222908 / 134

[2018-06-01 02:20] ChenWang01 commented on #293
@wanqunintel
https://trello.com/c/zmbepRYG/119-github-issue-293  work in progress

[2018-06-01 05:04] liang2yan commented on #287
I have run same testing in another machine. The result is as below:

Test result without QoS:

[code]

Test result with QoS:

[code]
From the result, 1934160 / 2091397 ~= 0.91. about 10% overhead. still better than before.

[2018-06-01 05:09] shuhei-matsumoto commented on #321
One additional comment. Difficult task in current team but I'll try to get processors for not desktop but server.

[2018-06-01 09:02] pohly commented on #319
Should GetBDevs() really log "bdev ... does not exist" to the syslog? This is something that the user of the RPC call needs to know, but not the admin of the system.

I considered opening a separate issue for this, but it seems related to the entire "rethink JSON error reporting" aspect, so decided against a separate issue.

[2018-06-01 10:28] pohly commented on #319
Another call where I need to detect "bdev not found" is DeleteBDev.

That's again because deleting a volume is supposed to be idempotent. I could check for existence with GetBDev, but in this case directly calling DeleteBDev is simpler.

[2018-06-01 13:25] pohly opened #322 "JSON: no response sent to NBD RPC"
I've written an automated test in Go that creates a malloc bdev, starts a nbd disk, mounts/unmounts that disk, and then destroys first the nbd disk, then the bdev. Before removing the nbd disk, get_nbd_disks is called because the mapping from bdev name to device name is needed.

Sometimes, usually when single-stepping through the test, this works. But most of the times the get_nbd_disks JSON call

[2018-06-01 16:14] jimharris commented on #287
These seems reasonable to me.  Realistically, QoS is not meant to set a maximum of 4M IO/s – it will usually be a much smaller number (10K-100K).

Can we close this issue?

From: "noreply@github.com" <noreply@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Thursday, May 31, 2018 at 10:04 PM
To: spdk/spdk <spdk@noreply.github.com>
Cc: James Harris <james.r.harris@intel.com>, Comment

[2018-06-01 16:16] jimharris commented on #321
@KariukiJ – can you work with Vishal to see if we can collect data on an E5-v4 processor like Shuhei’s?  I wouldn’t not expect a 2x difference in performance between these two processors, but it would be good to test on the same CPU so we know what the real delta is.

Thanks,

-Jim

From: shuhei-matsumoto <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Thursday, May 3

[2018-06-01 16:23] jimharris commented on #319
Hi Patrick,

Agreed – these are all valid issues that need to be addressed.  I think we can track all of them through this issue for now.

-Jim

From: Patrick Ohly <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Friday, June 1, 2018 at 3:29 AM
To: spdk/spdk <spdk@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [spdk/spdk] GetBDevs: dete

[2018-06-01 17:06] KariukiJ commented on #321
@Jim
The data we have in our SPDK gold deck was collect on a system with Intel® Xeon® E5-2699v4. With turbo enabled we got just under 1.2 million IOPS. The Intel® Xeon® E5-2699v4<https://ark.intel.com/products/91317/Intel-Xeon-Processor-E5-2699-v4-55M-Cache-2_20-GHz> processor is about 4K. Some of the key difference between the Intel® Xeon® E5-2699v4 and the Intel® Xeon® E5-2620V4 are highlighted

[2018-06-01 17:13] jimharris commented on #321
Shuhei’s CPU has a much smaller LLC (20MB vs. 55MB) which could have a demonstrable impact on performance.  The E5-2620 will have a smaller amount of LLC available for DDIO operations would could result in more LLC misses.

This is purely speculation at this point – but maybe if we just had an E5-v4 with a smaller core count/LLC size than the 2620, it would give us a hint whether LLC size is relat

[2018-06-02 09:16] Comphix commented on #287
Thanks Liang on your effort on this issue and we can close it now.

[2018-06-04 01:50] dong-liuliu commented on #321
Maybe LLC size is one potential point. But it is probable not the key point.

From Page 16 in "NVMe over fabrics: scaling up" slides, when number of cpu cores increases from 1 to 4, the 4K read IOPS performance is also increasing from 1 Million to 4 Million.
That is to say, for 4 cores and 4 Millions IOPS, each core still have about 1 Million IOPS with 55/4=14MB LLC which is less than  20MB LLC.

[2018-06-04 02:54] yidong0635 commented on #301
@pawelkax
use the latest spdk ,follow Daniel's suggestion,  rbd created succussfully. with `ASAN=y`,there's no memory leak.
![image](https://user-images.githubusercontent.com/39082016/40896040-4e6dd7e4-67e5-11e8-88f8-394ecfd0f984.png)
![image](https://user-images.githubusercontent.com/39082016/40896045-52e191da-67e5-11e8-85ee-e736119226b1.png)

your log seems to be  the libasan issue.

[2018-06-04 03:02] yidong0635 commented on #296
@pawelkax
![image](https://user-images.githubusercontent.com/39082016/40896292-b5ad164e-67e6-11e8-9313-2431a6fb3e43.png)

[2018-06-04 05:32] shuhei-matsumoto commented on #321
Hi All,

Thank you for all of your feedback.

I hope this will lead to clarification of processor requirement for SPDK NVMe over Fabrics.

Fortunately I have temporary license of VTune and try to collect detailed data. I'm out of office today and will start from tomorrow. I'm not used to VTune yet and it will take a little time.

Thanks,
Shuhei

[2018-06-04 10:56] pawelwod commented on #322
I will check this.

[2018-06-04 13:59] pohly commented on #322
It's probably unrelated, but I also get this error:
[code]

Setting a breakpoint at that line and then waiting once it is hit causes the mkfs.ext4 command to fail, perhaps due to a timeout?

[2018-06-04 14:35] ak-gh commented on #312
This stuff is pretty offensive and in fact occurs when _any_ bdev being started.

The reason is that lvol vbdev's examine method blindly tries to check each and every block device coming up for an lvol atop of it, as becomes apparent once you look at the code (which is missing any check if that bdev has been pre-configured as lvol store).

static void
vbdev_lvs_examine(struct spdk_bdev *bdev)
{
	s

[2018-06-04 14:54] alekseymmm commented on #312
As @ak-gh noticed and  I mentioned before the  error is in examine callback, particularly  in the checking inside spdk_bdev_create_bs_dev :
`if (write && bdev->claim_module) {
          SPDK_ERRLOG("Could not open %s - already claimed\n", bdev->name);
           ....
}`
I believe  the problem is that in examine callback lvol should  open any bdev with "read" access not write. Since he only has to

[2018-06-04 17:08] benlwalker commented on #312
Many bdevs, including lvols, are configured in a persistent way based on metadata present on the disk. They are intended to require outside configuration (in a config file, for example). This is to support hot-insert of disks that are formatted with GPT, or lvol, or RAID volumes.

The lvol layer will need to continue to examine each new bdev as it appears to check if it has appropriate metadata. T

[2018-06-04 17:42] ak-gh commented on #312
I'm not sure how much realistic this scenario is in practice. Hot-plug typically involves fresh drives and a system configured to automatically recognize a fresh drive being inserted, format it as the system needs (that would be writing lvol metadata, in this specific case), and persist that drive in its configuration.

To me it sounds like lvol should have a config option to automatically inspect

[2018-06-04 18:08] benlwalker commented on #312
It's also to support the initial discovery of disks at start up time - the code doesn't require any separate  configuration data for lvols, GPT, and such today.

I agree that the behavior on hot-insert needs to be configurable in some way. @pawelwod has been looking into this and the work is being tracked here: https://trello.com/c/zmbepRYG and the original bug is here: https://github.com/spdk/spd

[2018-06-04 18:50] ak-gh opened #323 "SPDK build fails with fio 3.7"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Build with --with-fio and recent fio release (3.7 tried) fails.

## Expected Behavior

SPDK build is expected to succeed.

## Current Behavior

Build fails instead.

## Possible Solution

[Patch ](https://github.com/spdk/spdk/files

[2018-06-05 01:03] WenqianZong commented on #323
I use latest spdk(6/5), and fio-3.7 to build, but no error occurred. Following are steps:

1. enter into /usr/local and git clone  https://github.com/axboe/fio.git
2.configure and build fio: ./configure && make&& make install
3.enter into spdk directory ,configure and build spdk: ./configure --with-fio=/usr/local/fio && make

[2018-06-05 01:15] shuhei-matsumoto commented on #321
Any tips about how to use VTune to collect stats when SPDK nvmf-tgt runs is appreciated.

[2018-06-05 01:18] shuhei-matsumoto commented on #321
I'll try to use perfmon in parallel with vtune.

[2018-06-05 02:20] changpe1 commented on #298
ibv_poll_cq will report "Work Request Flushed Error" when QP is in error state, which means when SPDK call rdma_destroy_qp to release the qpair, it's better to call ibv_modify_qp to flush the qpair, then it will not report such error.

[2018-06-05 02:26] changpe1 commented on #298
Hi Wenqian, can you test it again using the following steps: disconnect the subsystem and connect it again to see you can use it again, if this is normal for use again, this issue should be fine and don't need to fix it.

[2018-06-05 02:36] shuhei-matsumoto commented on #321
@jimharris @KariukiJ @vermavis

I collected simple stats by using Linux's perf command. I saw LLC-load-misses is twice but it doesn't look the majority. I may have to collect uncore events and I will do it. For the short term, I wish you will be able to get similar result.

nvme x4 + core x1

 Performance counter stats for './app/nvmf_tgt/nvmf_tgt -c etc/spdk/nvmf.conf':

      76314.647984      t

[2018-06-05 04:03] shuhei-matsumoto commented on #321
About the effect of LLC size, I can increase IOPS by increasing the number of cores and multiple cores share LLC. Uncore event may not be the main cause as well as LLC size.

I'll continue my investigation.

[2018-06-05 05:06] wanqunintel commented on #323
@ak-gh would you double check if the directory for the fio is as wenqian listed **./configure --with-fio=/usr/local/fio**

[2018-06-05 05:08] liang2yan commented on #287
Patch merged and test result is reasonable, so close this enhancement.

[2018-06-05 05:08] #287 closed

[2018-06-05 05:21] darsto commented on #323
This is the fio commit that breaks our fio_plugin -
https://github.com/axboe/fio/commit/d3b07186b1d4c7c1d9adc1306407458ce41ad048
We should add #ifs for FIO_IOOPS_VERSION number to support both fio
versions. @ak-gh can you post a fix to gerrithub?
D.

2018-06-05 7:06 GMT+02:00 wanqunintel <notifications@github.com>:

[2018-06-05 05:27] wanqunintel commented on #296
@yidong0635 would you add your SPDK commit id so that Pawel can refer to it? thanks.

[2018-06-05 05:31] wanqunintel commented on #280
@benlwalker , this issue still exist, would you refer to Wenqian's error log?

[2018-06-05 06:19] WenqianZong commented on #323
Hi @ak-gh
Could you provide your error log ? After configure spdk with --enable-werror, I found following error:
[code]

[2018-06-05 09:15] pohly opened #324 "start_nbd_disk: allocate unused /dev/nbd*"
My code that calls the start_nbd_disk method might run without root privileges, for example as part of a "go test" invocation. That leads to a problem: the code needs to pick an unused /dev/nbd* device node, but how can it determine which one is unused?

My current approach is to determine the size of /dev/nbd* by opening it and then seeking to the end. ioctl(BLKGETSIZE64) would also work, but is

[2018-06-05 09:18] ak-gh commented on #323
@darsto, the [patch](https://review.gerrithub.io/c/spdk/spdk/+/413749) has been submitted to gerrithub.

[2018-06-05 11:19] pohly commented on #322
I shared instructions for testing with my code with @pawelwod. Unfortunately I cannot make it available outside of Intel, but if someone else from Intel also wants it, please ping me via email.

[2018-06-05 11:20] pawelkax commented on #301
@yidong0635 This memory leak is after killing spdk_tgt. I checked it on newest code and it seems that this memory leak still exists.

[2018-06-05 16:48] benlwalker commented on #280
I'm actively working on fixing this and have been for several days. I'll let you know when the patches are merged.

[2018-06-05 18:22] dverkamp-intel commented on #324
Automatically choosing a /dev/nbdN device in the RPC sounds like a great idea; we would probably have to change the `start_nbd_disk` API slightly to return the path to the chosen /dev node, but that should probably be OK (the only return value right now is a bool that is always `true` just to have a non-empty response for successful completions).

[2018-06-05 18:22] dverkamp-intel commented on #323
This should be fixed as of commit 4e51a274dee5e2fa942f9e8f39d02d8e96f9e7a5 - thanks for the patch!

[2018-06-05 18:22] #323 closed

[2018-06-05 18:29] dverkamp-intel commented on #322
Looks like @pawelwod has a patch here: https://review.gerrithub.io/#/c/spdk/spdk/+/413828/

I posted some review comments, but it definitely looks like there is a race in the NBD code specifically.

[2018-06-05 19:17] pohly commented on #324
FWIW, I didn't even know that start_nbd_disk has a return value. In the Go bindings that I wrote I don't expect one and just check for an error response. The way how Go handles JSON is that it picks entries that it has a mapping for to the response struct and ignores everything that is unknown, so changing the return type won't break anything.

[2018-06-05 21:22] jimharris commented on #318
Closing issue since submitter confirmed boot OS was mounted on NVMe SSD.

[2018-06-05 21:22] #318 closed

[2018-06-06 02:28] WenqianZong commented on #298
I disconnect the subsystem and connect again, I can use nvmf-tgt normal and fio run normal ,  but "Work Request Flushed Error" reported a lot of messages.

[2018-06-06 07:43] yidong0635 commented on #301
@pawelkax  ,
       if I can create rbd bdev successfully, however to kill the spdk_tgt,  there's no memory leak. I tried it both on ubantu and fedora.
1. download spdk.
2. `apt install ceph` (ubantu)or `dnf install ceph`(fedora)
3. vim CONFIG : `ASAN=y`
4. `./configure --with-rbd ` then` make && make install`
5.  Create config.conf:
   [Global]
   [Ioat]
   Disable Yes
6.   `./scripts/setup.sh re

[2018-06-06 07:55] shuhei-matsumoto commented on #321
@jimharris @KariukiJ @vermavis @dong-liuliu

I collected the cost of the following intervals for both core x1 + nvme x1 and core x1 + nvme x4 and compared them.

**interval 1**: from the start of **polling CQ by ibv_poll_cq()** to the end of **getting WC by get_rdma_req_from_wc()** both in **spdk_nvmf_rdma_poller_poll()**
**interval 2**: from the start of **posting WR by ibv_post_recv()** to the e

[2018-06-06 08:12] pawelwod commented on #322
`bdev.c:1786:spdk_bdev_unmap_blocks: *ERROR*: Can't unmap 0 bytes`

Yeah, I noticed this too and fixed together with the main issue here https://review.gerrithub.io/#/c/spdk/spdk/+/413808/

[2018-06-06 10:48] pawelkax opened #325 "Error occurs when creating malloc or nvme bdev after error bdev"
## Expected Behavior
Creating malloc bdev should end with no error.

## Current Behavior
After creating malloc bdev follwing error appears:
bdev.c:2769:spdk_bdev_open: *ERROR*: Could not open Malloc0 - already claimed

## Possible Solution
None

## Steps to Reproduce
1. source ./test/common/autotest_common.sh
2. app/spdk_tgt/spdk_tgt &
3. pid=$!
4. waitforlisten $pid
5. ./scripts/rpc.py construct_

[2018-06-06 14:33] pawelwod commented on #324
I disagree. Automatically choosing a /dev/nbdN device is bad idea. This is the administar task to know which device to use. This will lead to the same issues as we had in SPDK with automatic bdev name generation or hotplug automatic naming scheme.

[2018-06-06 14:52] optimistyzy commented on #325
create different dev with same name， should fail，it is expected behaviour

2018年6月6日星期三，pawelkax <notifications@github.com> 写道：

[2018-06-06 14:52] pohly commented on #324
pawelwod <notifications@github.com> writes:

But who is the administrator in a fully automated, headless system?

There is none, so such a system has to allocate a device
automatically. Doing that on the client side of the JSON RPC is worse
than doing it on the server side (race condition, additional privileges
needed, client needs to know more about NBD than really necessary).

[2018-06-06 16:07] jimharris commented on #324
Can’t start_nbd_disk just take an optional parameter?  If the parameter is specified, use that specific nbd node.  If it’s not, pick an unused one.

The original description suggests opening it exclusively to avoid a race – but it would have to be a separate file used as a lock, something like /var/tmp/spdk_nbdX?  If the SPDK app opens /dev/nbdX exclusively, then you can’t put a filesystem on it o

[2018-06-06 16:08] dverkamp-intel commented on #325
It looks like vbdev_error currently must be created after the base bdev exists (unlike e.g. vbdev_split, which creates a list of bdevs to split and claims them as they appear in the examine callback).

[2018-06-06 16:18] jimharris commented on #325
No – this is related to the bdev_lvol module needing write privileges to examine a new bdev.  Vbdev_error has specifically been set up so that you can specify up front a bdev that it should attach to once it appears.  That part is working correctly.  When the bdev does appear, vbdev_error claims it correctly – but then bdev_lvol fails because it tries to open it with write privileges which we don’

[2018-06-06 18:57] pohly commented on #324
Jim Harris <notifications@github.com> writes:

The nbd_device could be treated as optional the way you described it.

Right, I hadn't considered that. So the details may be different, but
because /dev/nbd is a shared resource I expect the kernel to ensure that
only one operations succeeds when different processes try conflicting
operations at the same time.

[2018-06-07 02:20] shuhei-matsumoto commented on #248
I also started to work on this issue from learning Ziye's patch.

[2018-06-07 02:27] wanqunintel commented on #322
@pohly would you verify with above patches and update if it works? thanks.

[2018-06-07 03:15] yidong0635 commented on #301
`./configure --with-rbd` then `make && make install `
`./test/bdev/blockdev.sh`
hello_bdev.c:  96:read_complete: *NOTICE*: Stopping app

=================================================================
==23534==ERROR: LeakSanitizer: detected memory leaks

Direct leak of 432 byte(s) in 1 object(s) allocated from:
    #0 0x7f27eacd6458 in operator new(unsigned long) (/usr/lib/x86_64-linux-gnu/libas

[2018-06-07 06:14] shuhei-matsumoto commented on #321
I tried to use several block sizes, 4K, 8K, 16K, and 32K to run perf to nvmf-tgt + nvme x4 + core x1
I could see the max bandwidth of 100G NIC.

[code]

[2018-06-07 06:15] shuhei-matsumoto commented on #321
For nvme x1, even if I increase block size of perf, I didn't see any increase of throughput due to bandwidth of NVMe drive.

nvme x1 + core x1

[code]

[2018-06-07 07:02] shuhei-matsumoto commented on #321
I collected perf-top on a core #0 of nvmf-tgt during perf rand. read + nvme x2

[code]

[2018-06-07 07:03] shuhei-matsumoto commented on #321
I collected perf-top on a core #0 of nvmf-tgt during perf rand. read + nvme x1

[code]

[2018-06-07 07:11] pelplinski commented on #325
The proposed solution for this is to split examine into two parts:
First examine callback is based on config file for modules like vbdev_error or vbdev_split and no disk access is allowed.
Then, *if none of the modules claimed bdev* second type of examine is called, which allow reading data from base bdev and allows to claim bdev by modules like vbdev_lvol or vbdev_gpt.

[2018-06-07 08:10] yidong0635 commented on #296
follow #301 to create rbd ,  recreate rbd without error. maybe due to the method of ceph setup.

[2018-06-07 10:28] pawelkax commented on #325
This bug will be fixed together with issue #312

[2018-06-07 10:28] #325 closed

[2018-06-07 12:23] ak-gh commented on #323
Daniel,

patch submission, imo, would be simplified if checkpatch had been installed as pre-commit hook. If you have such a setup locally, you might want to consider adding it to the review tree.

Regards,
Andrey

[2018-06-07 15:46] dverkamp-intel commented on #323
The formatting checks are available as a git pre-commit hook, but you have to enable it first, since git does not provide a way to automatically install hooks:
`git config core.hooksPath .githook`

[2018-06-07 16:55] jimharris commented on #321
Thank you for the “perf top” data.  I think next step is we need to run same test on the same 6C Xeon CPU processor once our sample arrives to our lab in Chandler.

I would be curious to know the breakdown of CPU cycles in spdk_nvmf_rdma_request_process itself.  Maybe there are some optimizations we can make there.  But this is not the cause of the performance discrepancy.

From: shuhei-matsumoto

[2018-06-07 18:19] pawelwod commented on #322
@pohly I reproduced your issue and this should be the fix https://review.gerrithub.io/#/c/spdk/spdk/+/414257/

[2018-06-07 20:04] johnmeneghini commented on #323
Got to love it.  We’ve been using this pre-commit and pre-push hook for months internally.  It is a big help.

From: Daniel Verkamp <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Thursday, June 7, 2018 at 11:46 AM
To: spdk/spdk <spdk@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [spdk/spdk] SPDK build fails with fio 3.7 (#323)

The f

[2018-06-07 20:07] johnmeneghini commented on #323
You’ll need to run this git config command each time you clone a new repository.  The configuration is change is kept in the .git/config file of each repository.

Also, after you’ve enabled the hooks, you can manually override them by specifying –no-verify on the git commit or git push command line.

/John

From: Daniel Verkamp <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com

[2018-06-07 20:30] pawelwod commented on #293
@wanqunintel I think the current owner of this issue is @pelplinski

There are also some pathes for this from @pelplinski. I will review them tommorow.

[2018-06-07 20:33] pawelwod commented on #296
@wanqunintel  @yidong0635  what is status og this issue? Can you reproduce it? Is someone going to fix it?

[2018-06-07 20:44] pawelwod commented on #302
@jimharris yes we can have “cleanup.sh” but do we want it? I think the SPDK target app  code (not library!) should be abble to recycle those artifacts, somehow. Ofcourse if user specyfy its own share memory ID it should clean it up by him self but defults values should be recycled automitacaly when app starts.

[2018-06-07 20:56] ak-gh commented on #323
Thanks Daniel.

Regards,
Andrey

On Thu, Jun 7, 2018 at 11:07 PM, John Meneghini <notifications@github.com>
wrote:

[2018-06-07 21:18] jimharris commented on #302
I’m open to ideas.  I’d like to clarify here through what exactly should get cleaned up.

First – I think for application FOO, it should only try to clean up trace files associated with FOO (i.e. FOO_trace.*).  I think it’s OK to even cleanup trace files for FOO with a shared memory ID.

Probably you’ll need to do an fcntl(F_SETLK) on the trace file when it’s created – similar to what we do in spd

[2018-06-08 01:19] johnmeneghini commented on #308
Please review that patch at:

https://review.gerrithub.io/#/c/spdk/spdk/+/414293/

This patch is proposed to address this issue.

[2018-06-08 06:03] pohly commented on #267
Let me add that not only does one need a semantic description of the parameters and return values (as in the current documentation), but also a more formal description of the expected types (e.g. int vs. int64 vs. float). I don't know whether it would be useful to do in, for example, a JSON schema (http://json-schema.org/) or whether precise documentation would be enough.

[2018-06-08 06:10] pohly commented on #322
pawelwod <notifications@github.com> writes:

Confirmed, that fixes it for me.

[2018-06-08 08:32] pawelwod commented on #267
I would vote for JSON schema for 💯 %

[2018-06-08 18:11] #322 closed

[2018-06-08 20:37] KariukiJ commented on #321
Shuhei
We found a CPU that is close to yours. The Intel(R) Xeon(R) CPU E5-2620 v3<https://ark.intel.com/products/83352/Intel-Xeon-Processor-E5-2620-v3-15M-Cache-2_40-GHz> @ 2.40GHz has 15M Cache. It is also a 2.4 GHz instead of 2.1 GHz. With turbo (max Turbo frequency is 3.2 GHz) enabled we got almost 1 million IOPS on a single core.

./perf -q 64 -s 4096 -w randread -t 600 -r 'trtype:RDMA adrfam:

[2018-06-08 21:00] dverkamp-intel opened #326 "examples/nvme/fio_plugin should call spdk_nvme_ctrlr_process_admin_completions()"
## Expected Behavior

The NVMe `fio_plugin` example should call spdk_nvme_ctrlr_process_admin_completions(), resulting in keep-alives being sent for NVMe-oF connections.

## Current Behavior

The admin queue process completions function is never called, so the keep-alive command is never sent.  This results in a timeout when connected to an NVMe-oF target that correctly implements keep alive suppo

[2018-06-08 22:51] jimharris commented on #321
Hi @shuhei-matsumoto,

Which version of gcc are you using to build your version of the NVMe-oF target?  And can you confirm that you are building the NVMe-oF target on the same system that is running it?

Can you also confirm you did not run SPDK configure with --enable-debug?

The CPU profiling data does not show any obvious outliers.  But I see some functions in the output that should be inlined

[2018-06-09 02:01] KariukiJ commented on #321
Shuhei
I changed my system configuration and added 4 P3700 SSDs to the system. With this set up I am getting almost 1.2 million IOPS on a single core. The queue depth in my previous test was 64, which is not sufficient to saturate the system.

./perf -q 128 -s 4096 -w randread -t 600 -r 'trtype:RDMA adrfam:IPv4 traddr:192.168.100.2 trsvcid:4420'
Starting SPDK v18.07-pre / DPDK 18.02.0 initializati

[2018-06-09 08:00] akshorcl opened #327 "Support specification of namespace uuid via nvmf config file"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Provide support for specifying a per-namespace uuid via the nvmf config file and via the RPC framework.

## Expected Behavior

We would like the ability to specify a user defined per-namespace uuid via the nvmf config file and this

[2018-06-11 03:03] johnmeneghini commented on #327
Is anyone working on this?

I have a patch to fix this problem.

From: akshorcl <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Saturday, June 9, 2018 at 4:01 AM
To: spdk/spdk <spdk@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [spdk/spdk] Support specification of namespace uuid via nvmf config file (#327)

Please use the issue tracker on

[2018-06-11 03:38] akshorcl commented on #327
Daniel might be working on this. Let's sync up with him.

[2018-06-11 04:30] yidong0635 commented on #292
@kvietmeier  I  simulated and understood your error, you should install  virtualbox extension pack:
it should meet your virtualbox version.
such as -- https://www.downloadcrew.co.uk/article/20279-virtualbox_extension_pack
`vboxmanage extpack install Oracle_VM_VirtualBo                                                                                                         x_Extension_Pack-5.2.12.vb

[2018-06-11 06:43] shuhei-matsumoto commented on #321
@jimharris @KariukiJ

Thank you so much for your great support.
As Jim thought, we had used --enable-debug for our system.

Now I'm trying to run perf to nvmf-tgt without --enable-debug, but our RDMA connection is very unstable due to unknown reason. During last weekend we had facility maintenance but we can't think this is the reason.

Thanks again and please wait until system is recovered.

[2018-06-11 08:55] shuhei-matsumoto commented on #321
@jimharris @KariukiJ

By rebooting, connection was recovered to normal and I could run perf to nvmf-tgt with core x1 + p3700 x4. I could get the same score as your result. Stats looks similar to your result too. The cause was the CONFIG_DEBUG?=y in the CONFIG file.

I'm afraid but wish the sample you have ordered will be usable in your team.
Thanks for all of your effort and insight and I will use

[2018-06-11 11:53] shuhei-matsumoto commented on #321
You provided a lot of hints and insights and I should have got this cause earlier. I really appreciate for your kindness and support.

[2018-06-11 13:30] pohly opened #328 "add_vhost_scsi_lun: dynamically allocate target (and LUN?)"
This is similar to #324: when a program tries to attach a BDev to some existing vhost SCSI controller, then it has to choose a target. But the program cannot find out which targets are available and even if it could, picking an unused one would lead to a race.

## Expected Behavior

-1 (or MAX_UINT32?) for scsi_target_num should cause app/vhost to allocate an unused target. The response then must

[2018-06-11 13:34] pohly opened #329 "RPC: list existing LUNs"
It would be useful to query which LUNs are configured for a vhost SCSI controller and what their parameters are.

## Possible Solution

`get_vhost_scsi_luns -> [] (scsi_target_num, bdev_name)`

[2018-06-11 14:36] pawelwod commented on #329
There are commands in rpc.py:
1. get_vhost_controllers - this will list controllers along with LUNS.
2. get_subsystem_config - will output subsystem configuration eg: vhost in the same form as used to construct complete vhost SCSI controller. This is undocumented yet as it is under development.

[2018-06-11 14:44] pawelwod commented on #328
My state is the same as in #324 and also kernel vhost target interface (see targetcli utility) require to choose Target/LUN explicitly.

[2018-06-11 16:32] KariukiJ commented on #321
Shuhei
You are welcome. I am glad that this issue is resolved.

From: shuhei-matsumoto [mailto:notifications@github.com]
Sent: Monday, June 11, 2018 4:54 AM
To: spdk/spdk <spdk@noreply.github.com>
Cc: Kariuki, John K <john.k.kariuki@intel.com>; Mention <mention@noreply.github.com>
Subject: Re: [spdk/spdk] NVMe-oF 4K Random Read per Core doesn't reach 1M IOPS (#321)

You provided a lot of hints and

[2018-06-11 16:42] dverkamp-intel commented on #327
The JSON-RPC support for this has already been checked in as commit 57ae6bf646e6aaddf621fca007edfc7d937f92f6.  However, there is no configuration file support for it yet.

John, if you have patches for this, please go ahead and post them; otherwise I'll put together a proposed patch to add this to the config file parsing (lib/event/subsystems/nvmf/conf.c).