[2021-06-14 07:04] KKaras169169 opened #1995 "[spdk_top] Crashing after adding bdevs to SPDK target"
spdk_top crashes from time to time after new bdevs are added to the SPDK target application and POLLERS tab is currently selectd.
## Expected Behavior

It should not crash.
## Current Behavior

It crashes.

![image](https://user-images.githubusercontent.com/49611974/122021544-0b325a00-cdc6-11eb-9668-c0958e89d404.png)
Since ncurses does not exit its display mode the output is all jumbled. Here is t

[2021-06-14 08:09] mikeBashStuff commented on #1991
Seems to be limited to SM9.

[2021-06-14 08:33] gila commented on #1917
@jimharris Thank you for the update! It seems you have made substantial progress already. I think that from our end, we can help out with cleanup, some to-do's from the board and, for certain, some testing. I'll check on this end to make sure we reach out early this week. Thanks again.

[2021-06-14 14:59] KKaras169169 commented on #1995
This issue happens when pollers change into different pollers (when adding bdevs to SPDK target for example) - the total poller count remains the same, but we have new poller(s) without a stored last_run_counter, and that results in a crash from READ on NULL pointer later on, when displaying values. I need to implement checking pollers' array state to allow spdk_top to determine when to force save

[2021-06-14 20:55] spdkci commented on #1991
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_49762.html

[2021-06-14 21:05] jimharris commented on #1963
@karlatec - can you recheck this?

[2021-06-14 21:08] #1922 closed

[2021-06-14 21:09] jimharris commented on #1921
Hi @KKaras169169 could you rebase the 7769 patch?

[2021-06-14 21:20] jimharris commented on #1915
Patches have been pushed that would update OCF to a newer version, but looks like they still need some work:  https://review.spdk.io/gerrit/c/spdk/spdk/+/7775

I'm going to remove the "bug" label and just keep the "3rd party issue" label.

[2021-06-14 21:25] jimharris commented on #1914
Patches have been pushed that would update OCF to a newer version, but looks like they still need some work: https://review.spdk.io/gerrit/c/spdk/spdk/+/7775

What is the long term strategy for handling these kinds of OCF updates in an LTS branch though?  Should we only support the OCF version that is pointed to by the SPDK submodule?  But still allow the option to specify an alternate version for

[2021-06-14 22:06] jimharris commented on #1950
It's been 26 days since last report, so closing.

[2021-06-14 22:09] jimharris commented on #1951
Removing sighting label.  This is a confirmed 3rd party issue.

[2021-06-14 22:12] peluse commented on #1863
Wow, I'm just all over it.  Forgot I owned this, will check it out this week, my bad

[2021-06-14 22:14] jimharris commented on #1831
Hi @NiuYawei,

How do you want to proceed on this issue?

-Jim

[2021-06-14 22:15] jimharris commented on #1651
Closing issue.  @wanqunintel, please reopen if you are able to follow up on suggestions from Alexey and still see this issue.

[2021-06-14 22:15] #1651 closed

[2021-06-14 22:18] jimharris commented on #1820
Closing this issue.  @HellenViolet, if you still think there is an SPDK issue here, please continue to comment on this thread.

[2021-06-14 22:18] #1820 closed

[2021-06-14 22:29] peluse commented on #1863
I just ran 6x on 2 different systems without issues

System 1: Linux localhost.localdomain 5.6.13-100.fc30.x86_64 #1 SMP Fri May 15 00:36:06 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

System 2: Linux pels3 5.4.0-59-generic #65-Ubuntu SMP Thu Dec 10 12:01:51 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

In one of the prev CI failures this stuff preceedes the fio errors, could this be where the train left

[2021-06-15 01:17] optimistyzy commented on #1970
@karlatec Hi Karol, patch was merged. I will close this issue if there is other issue you find, you can reopen this issue.

[2021-06-15 01:17] #1970 closed

[2021-06-15 07:05] spdkci commented on #1863
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_49689.html

[2021-06-15 07:28] spdkci commented on #1991
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_49711.html

[2021-06-15 08:15] KKaras169169 commented on #1921
Done

[2021-06-15 09:34] KKaras169169 commented on #1995
This patch completely reworks how pollers are managed inside spdk_top: https://review.spdk.io/gerrit/c/spdk/spdk/+/8058
and after applying it the above issue is no longer prevalent.

[2021-06-15 11:54] spdkci commented on #1991
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_49823.html

[2021-06-15 12:32] ZivHirsch13 opened #1996 "[nvmf_tcp] Initiator running nvme discover and connect commands make the target crash with seg fault"
This bug relates to the commit "nvme TCP: Make the control related pdu also allocated from the SPDK DMA memory", between v20.07 and v20.10.
Note: I'm using SPDK v21.04
## Expected Behavior

Seg fault should not happen
## Current Behavior

Target crashes because of seg fault:
[code]

## Possible Solution

The seg fault happens at dif.c:1499, because ctx points to garbage. It happens because in tcp.

[2021-06-15 12:45] AlekseyMarchuk commented on #1996
Hi @ZivHirsch13
Thank you for reporting this issue with detailed description of the problem and the fix. Do you plan to submit a patch to address this issue? You can refer to this page https://spdk.io/development/ to learn how to submit patches.
P.S. using `spdk_dma_zmalloc` instead of `spdk_dma_malloc` to allocate pdus can also solve this problem

[2021-06-15 13:25] peluse commented on #1863
Same thing on this latest one.  The fio failures happen after the following startup (?) issues:

0:09:11.740  Starting 24 threads
00:09:11.740  [2021-06-14 16:00:10.333193] Starting SPDK v21.07-pre git sha1 b4450d4b3 / DPDK 21.02.0 initialization...
00:09:11.740  [2021-06-14 16:00:10.333320] [ DPDK EAL parameters: [2021-06-14 16:00:10.333333] fio [2021-06-14 16:00:10.333342] --no-shconf [2021-06-1

[2021-06-15 13:43] ZivHirsch13 commented on #1996
Hi @AlekseyMarchuk
I don't plan to submit a patch. I'm new to SPDK so I think it's better that you guys will do it

[2021-06-15 15:12] tomzawadzki commented on #1819
@shuhei-matsumoto The issue seems to persist looking at the reports, have you had a chance to investigate ?

[2021-06-15 15:13] tomzawadzki commented on #1906
@wanghailiangx have you have a chance to take a look at the issue and patch working around it ?

[2021-06-15 15:22] tomzawadzki commented on #1941
Closing, since this issue has not occurred for a month.

[2021-06-15 15:22] #1941 closed

[2021-06-15 15:26] tomzawadzki commented on #739
Bug scrub: Need more defined cases where failures occur. At this time @shuhei-matsumoto found one that occurs in iSCSI. Lets work through this one and then close if no other obvious cases are known. @jimharris will take a look at the one found by Shuhei.

[2021-06-15 15:31] tomzawadzki commented on #1840
Bug scrub: @jimharris suggests retesting with iWARP, this might be indicate what kind of num_cq is required and if this is only SoftRoCE issue. @karlatec Could you please take a look at that ?

[2021-06-15 17:03] jolivier23 opened #1997 "Compiling on newer architecture results in SIGILL when application is run on older one"
## Expected Behavior
It would be great if we could compile on newer architectures and get the benefits while still being compatible.   We build SPDK as an RPM in daos so can't entirely control where people will try to run it.  At the same time, we don't want to lose the ability to take advantage of newer features.  So I would like something to the effect of what gcc does with IFUNC where it resolv

[2021-06-15 19:52] shuhei-matsumoto commented on #1819
@tomzawadzki

No update yet. I'm working on the multipath initiator for SPDK, and this progress may give me a little better insight though.

Karol verified that an issue was fixed by the newer Linux kernel.

But the nvmf-tcp-vg-autotest have used 5.6.11 when this issue or https://github.com/spdk/spdk/issues/1801 occurred?
I'm wondering if we see any change by using the latest Linux.

@yidong0635 I

[2021-06-15 22:06] jolivier23 commented on #1997
[libs.zip](https://github.com/spdk/spdk/files/6659000/libs.zip)

Attached libraries.   It appears it might have something to do with rep movsq instruction in libspdk_nvme.so.2.0.  I'm not sure what the issue is in the other file but it hit an issue with the following stack

`#0  0x00007feffb14a674 rte_rand_init (librte_eal.so.20.0)
#1  0x00007ff000d1ffaa call_init.part.0 (ld-linux-x86-64.so.2)
#2

[2021-06-15 23:00] jimharris commented on #739
https://review.spdk.io/gerrit/c/spdk/spdk/+/8351

[2021-06-16 01:43] optimistyzy commented on #1996
Can you try this patch:  https://review.spdk.io/gerrit/c/spdk/spdk/+/8374

[2021-06-16 02:58] yidong0635 commented on #1819
hi shuhei  :
rerun this multipath test:  commit:242eb6b4c2ab45a7e6211cfb76f7af0b2e1e310c
[code]

[2021-06-16 04:54] shuhei-matsumoto commented on #1819
Thank you @yidong0635

@AlekseyMarchuk
Is the patch https://github.com/spdk/spdk/commit/103f5c62f5f02f88c73fde2a8c5619518f5ff8cc#diff-b49e47085053e4c526ccf1052e0ae9d9fa94b5a06b66cc6058dd6d8ecedc356d related? Will you take a look at the log?

[2021-06-16 06:20] spdkci commented on #1991
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_49885.html

[2021-06-16 06:37] changpe1 commented on #1965
@karlatec Can we close this issue for now? this is a bug in SPDK nvmf library not related with vfio-user.

[2021-06-16 06:38] spdkci commented on #1863
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_49865.html

[2021-06-16 06:42] changpe1 commented on #1832
@karlatec This issue has been fixed, can we close it?

[2021-06-16 06:50] Comphix commented on #1997
Looks like a DPDK rte function "rte_rand_init"

From https://github.com/DPDK/dpdk/blob/0bf5832222971a0154c9150d4a7a4b82ecbc9ddb/lib/eal/common/rte_random.c

At the bottom, for this issue, may rely on the different CPU architecture?

RTE_INIT(rte_rand_init){	uint64_t seed;
	seed = __rte_random_initial_seed();
	rte_srand(seed);}

[2021-06-16 07:06] karlatec commented on #1832
I'd keep this open until we have automated tests to cover the issue

[2021-06-16 07:24] KKaras169169 commented on #1969
I have found something similar, with connection timeout this time:

00:00:00.497  using GIT_ASKPASS to set credentials SPDKCI HTTPS Credentials
00:00:00.499  Setting http proxy: proxy-chain.intel.com:911
00:00:00.500   > git fetch --tags --force --progress -- https://review.spdk.io/gerrit/a/spdk/spdk $GERRIT_REFSPEC:refs/local # timeout=5
00:05:00.506  ERROR: Timeout after 5 minutes
00:05:00.578

[2021-06-16 07:25] spdkci commented on #1969
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_49868.html

[2021-06-16 07:26] spdkci commented on #1969
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_49867.html

[2021-06-16 07:26] spdkci commented on #1969
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_49866.html

[2021-06-16 07:26] spdkci commented on #1969
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_49864.html

[2021-06-16 07:28] spdkci commented on #1991
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_49944.html

[2021-06-16 08:00] ZivHirsch13 commented on #1996
@ogerlitz, that also works

[2021-06-16 08:49] spdkci commented on #1863
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_49941.html

[2021-06-16 08:52] martin-g opened #1998 "Build failure on Linux ARM64"
## Expected Behavior

I expect the build to succeed on Linux ARM64 (Ubuntu 20.04.2).
There are several [issues](https://github.com/spdk/spdk/issues?q=arm64) which mention `arm64`, so I assume Linux ARM64 is a supported platform.

## Current Behavior

`make` fails with:

[code]

## Possible Solution

## Steps to Reproduce

I've followed the steps from the README:

[code]

but it fails with:

[code]

[2021-06-16 08:56] AlekseyMarchuk commented on #1998
I compile SPDK on arm64 with Ubuntu 20.04 quite often but didn't notice such a failure. I'm going to take a closer look at this issue.

[2021-06-16 09:01] martin-g commented on #1998
Thanks, @AlekseyMarchuk !
Please let me know if you need more information from me!

[2021-06-16 09:15] #1996 closed

[2021-06-16 11:17] martin-g commented on #1998
Could this be related: https://patches.dpdk.org/project/dpdk/patch/1612356396-21309-2-git-send-email-oulijun@huawei.com/#128305 ?
I don't see `config/arm/arm64_kunpeng920_linux_gcc` at https://github.com/spdk/dpdk/tree/master/config/arm

[2021-06-16 11:34] martin-g commented on #1998
Yes! This was the problem! After manually applying the patch the build does not fail with this problem anymore !

[2021-06-16 11:58] AlekseyMarchuk commented on #1998
Great @martin-g thank you for your analysis. Currently SPDK uses this DPDK branch https://github.com/spdk/dpdk/tree/spdk-21.02 and `config/arm/arm64_kunpeng920_linux_gcc` is absent here as well. However SPDK will soon migrate to https://github.com/spdk/dpdk/tree/spdk-21.05 and this DPDK version provides this ARM config. I believe that the issue will be solved as soon as DPDK submodule is updated t

[2021-06-16 14:03] #1965 closed

[2021-06-16 14:04] jimharris commented on #1963
We think this is closed now.  @karlatec will recheck once we have CI up and running with QEMU vfio-user.

[2021-06-16 14:04] #1963 closed

[2021-06-16 14:13] jimharris commented on #1832
Closing for now.  Currently we're gated on a stable QEMU w/ vfio-user which is keeping us from getting this automated in CI.  Will reopen if necessary after CI is activated (but we're pretty confident this is fixed).

[2021-06-16 14:13] #1832 closed

[2021-06-16 14:14] jimharris commented on #1822
Closing for now.  Currently we're gated on a stable QEMU w/ vfio-user which is keeping us from getting this automated in CI.  Will reopen if necessary after CI is activated (but we're pretty confident this is fixed).

[2021-06-16 15:40] tomzawadzki commented on #1998
The DPDK submodule is about to be updated. Patches from @KKaras169169 for the DPDK branch are outstanding https://review.spdk.io/gerrit/c/spdk/dpdk/+/8137. DPDK submodule update will follow up as those get merged.

[2021-06-16 15:42] spdkci commented on #1988
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_50028.html

[2021-06-16 15:43] spdkci commented on #1991
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_50022.html

[2021-06-16 17:24] benlwalker commented on #1997
The correct solution for this is to build everything with multi-function versioning in the compiler. Parts of SPDK do this already today, but we don't have tests to confirm that you can in fact build for the latest platform and run on an older one. This is certainly something we want to add over time.

Unfortunately, DPDK does not do this and you're hitting a problem in DPDK here. I don't know wha

[2021-06-16 17:47] karlatec commented on #1991
@wawryk please take a look. Most of the fails seem to be on SM9, but I've also seen at least 1 on SM4

[2021-06-16 19:46] jimharris opened #1999 "hugepages/default_setup - nr_hugepages failed check"
00:02:26.801  ************************************
00:02:26.801  START TEST default_setup
00:02:26.801  ************************************
00:02:26.801   20:53:18	# xtrace_enable
00:02:26.801   20:53:18	# default_setup
00:02:26.801   20:53:18	# get_test_nr_hugepages 8388608 0
00:02:26.802   20:53:18	# local size=8388608
00:02:26.802   20:53:18	# (( 2 > 1 ))
00:02:26.802   20:53:18	# shift
00:02:

[2021-06-16 19:46] spdkci commented on #1999
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_50052.html

[2021-06-16 19:47] jimharris commented on #1999
https://ci.spdk.io/public_build/autotest-per-patch_50044.html
WFP9 and GP12 both failed here.  (same as 50052 above)

[2021-06-16 19:49] jimharris commented on #1999
https://ci.spdk.io/results/autotest-per-patch/builds/50029/archive/nvmf-tcp-phy-autotest/build.log
also on WFP9

[2021-06-16 19:50] spdkci commented on #1999
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_50040.html

[2021-06-17 06:34] spdkci commented on #1999
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_49976.html

[2021-06-17 07:25] spdkci commented on #1999
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_50023.html

[2021-06-17 08:06] spdkci commented on #1999
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_50021.html

[2021-06-17 08:49] mikeBashStuff commented on #1999
Since all (or at least vast majority) of these reports point at either GP12 or WFP9 I went there and did some cleaning - something nasty must have happened on those systems since even when idle there were lingering spdk processes spinning doing nothing (so hugetlbfs mounts were not cleaned up). Also, for some reason, even though we don't allow hugepages to be overcommitted, kernel allocated surplu

[2021-06-17 08:51] spdkci commented on #1999
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_50124.html

[2021-06-17 08:58] spdkci commented on #1973
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_50126.html

[2021-06-17 10:20] spdkci commented on #1988
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_50133.html

[2021-06-17 10:38] spdkci commented on #1969
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_50137.html

[2021-06-17 10:46] rafalste commented on #1914
Hi @jimharris!
Yes, the only supported version of OCF in SPDK is the one pointed by a submodule. User of course can switch to desired version at any time but we cannot guarantee the usability of such configuration.
Broken compatibility may be due to various changes in OCF behavior or even OCF API which requires some further changes in OCF adapter in SPDK.

[2021-06-17 10:50] spdkci commented on #1969
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_50131.html

[2021-06-17 11:42] spdkci commented on #1969
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_50143.html

[2021-06-17 13:20] mikeBashStuff commented on #1992
I am hitting quite similar issue when trying to create `zone_block` device on the nvme drive under SPDK's qemu:

[code]
Core looks a bit different though:
[code]
Not sure if shouldn't open a separate issue for that, any hints would be appreciated.

[2021-06-17 13:29] spdkci commented on #1973
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_50141.html

[2021-06-17 13:38] spdkci commented on #1969
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_50136.html

[2021-06-17 19:13] spdkci commented on #1991
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_50184.html

[2021-06-17 19:43] peluse commented on #1989
note: we are reviewing multiple options for addressing this.... WIP

[2021-06-17 22:08] peluse commented on #1863
@karlatec so I looked a little closer at this and consulted with Ben as well - the fio errors are most definitely wreckage from the real problem of the keep-alive timeout expiring.  Assuming this is loopback then it's, of course, not a real matter of network time it's something screwy preventing the keep-alive from staying alive.

Couple of things I'l look at  some more but in the meantime can you

[2021-06-17 23:05] jolivier23 commented on #1997
@jimharris we don't use --target-arch

This is what our build command does:

Then we build spdk as follows
./configure --prefix=/path/to/spdk \
--disable-tests --without-vhost --without-crypto \
--without-pmdk --without-vpp --without-rbd \
--with-rdma --with-shared \
--without-iscsi-initiator --without-isal \
--without-vtune

make -j [something]

make install

We don't use any architecture specifi

[2021-06-18 02:10] spdkci commented on #1969
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_50130.html

[2021-06-18 04:40] spdkci commented on #1988
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_50240.html

[2021-06-18 05:49] spdkci commented on #1969
Another instance of this failure. Reported by @ChengqiangMeng. log: https://ci.spdk.io/public_build/autotest-per-patch_50242.html

[2021-06-18 05:52] wanghailiangx commented on #1906
@tomzawadzki I haven’t seen this issue reappear in the last month, could you close it?
The NetworkManager.service was stopped in CI, this method fixed such a series of issues #1906, #1900.

[2021-06-18 05:56] spdkci commented on #1969
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_50233.html

[2021-06-18 05:57] spdkci commented on #1988
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_50181.html

[2021-06-18 05:57] spdkci commented on #1988
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_50173.html

[2021-06-18 07:05] martin-g commented on #1998
Thank you guys!

Feel free to close this ticket now or when 21.05 is landed!

[2021-06-18 07:11] #1823 closed

[2021-06-18 07:11] #1998 closed

[2021-06-18 07:15] spdkci commented on #1988
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_50195.html

[2021-06-18 07:16] spdkci commented on #1969
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_50239.html

[2021-06-18 07:24] martin-g commented on #1998
I confirm that the build on HiSilicon CPU is fixed now!

[2021-06-18 07:25] spdkci commented on #1969
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_50226.html

[2021-06-18 07:26] spdkci commented on #1991
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_50219.html

[2021-06-18 07:26] spdkci commented on #1969
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_50171.html

[2021-06-18 07:26] spdkci commented on #1991
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_50209.html

[2021-06-18 07:28] spdkci commented on #1988
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_50174.html

[2021-06-18 07:28] spdkci commented on #1988
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_50182.html

[2021-06-18 07:28] spdkci commented on #1991
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_50234.html

[2021-06-18 07:28] spdkci commented on #1969
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_50204.html

[2021-06-18 07:30] spdkci commented on #1999
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_50253.html

[2021-06-18 07:30] spdkci commented on #1999
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_50245.html

[2021-06-18 07:33] spdkci commented on #1991
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_50263.html

[2021-06-18 07:47] spdkci commented on #1999
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_50192.html

[2021-06-18 07:48] spdkci commented on #1999
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_50236.html

[2021-06-18 08:26] wawryk commented on #1991
Currently i see that occurs on:

- VM-host-WFP1
- VM-host-PE3
- VM-host-SM4
- VM-host-SM9

and not only on clang autotest.

[2021-06-18 08:34] spdkci commented on #1999
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_50269.html

[2021-06-18 09:31] spdkci commented on #1991
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_50278.html

[2021-06-18 10:19] mikeBashStuff commented on #1999
There's still something wrong with how failures are handled on GP12 WFP9 - machines are not being rebooted for some reason whenever the build fails and that leaves lots of garbage for the next runs.

[2021-06-18 10:45] mikeBashStuff commented on #1991
Ok, I went through recent changes in the CI and this seems to be related to the work which updated the amount of resources we started to allocate per VM. We dropped the default to 12GB of total memory for all the jobs which run functional tests, unittest job and the clang job (talking about the per-patch only here) - the scanbuild and autobuild are exceptions as they may work under 8GB since we al

[2021-06-18 11:06] spdkci commented on #1991
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_50287.html

[2021-06-18 11:13] spdkci commented on #1988
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_50262.html

[2021-06-18 11:13] spdkci commented on #1999
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_50252.html

[2021-06-18 11:16] spdkci commented on #1999
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_50284.html

[2021-06-18 11:46] spdkci commented on #1991
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_50292.html

[2021-06-18 12:48] mikeBashStuff commented on #1991
Small correction - setup.sh's default is 2048 MB, my mistake. This actually may not be enough for some of the tests which explicitly request more (e.g. spdkcli) so the patch needs a small fix.

[2021-06-18 13:04] spdkci commented on #1999
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_50304.html

[2021-06-19 12:15] spdkci commented on #1991
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_50162.html

[2021-06-19 15:38] spdkci commented on #1967
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_50384.html

[2021-06-21 02:22] spdkci commented on #1999
Another instance of this failure. Reported by @ChengqiangMeng. log: https://ci.spdk.io/public_build/autotest-per-patch_50260.html

[2021-06-21 02:39] changpe1 commented on #1985
Beside adding retry mechanism in the NVMf target side when subsystem isn't active, I think we may also add a sleep delay before doing hot remove in the ns_hotplug_stress.sh, this will ensure the perf is running IO tests before the hot remove, for the above failure the perf tool is doing fabric connect when hot remove happened. what do you think? @jimharris @benlwalker

[2021-06-21 04:31] changpe1 commented on #1907
I looked the issue, the namespace management commands are not supported, and most likely the SPDK NVMf library will not support it.  For other failures, there are two parts I think the NVMf library may add support for that:
1. Get Features with feature ID Interrupt Coalescing (Feature Identifier 08h) and Interrupt Vector Configuration (Feature Identifier 09h)
2. Identify with CNS 0x13 Controller l

[2021-06-21 04:37] shuhei-matsumoto commented on #1819
Hi @yidong0635
Please try this patch https://review.spdk.io/gerrit/c/spdk/spdk/+/8438

[2021-06-21 04:40] spdkci commented on #1999
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_50420.html

[2021-06-21 05:18] yidong0635 commented on #1819
@shuhei-matsumoto  tried this on the latest kernel.  tested several time, can't reproduce above issue.

[2021-06-21 06:13] yidong0635 commented on #1819
@shuhei-matsumoto  sometimes reports this issue:
14:04:28       # ctrl2_id=1
  14:04:28      # cat /sys/block/nvme0c0n1/ana_state
 14:04:28       # '[' optimized == optimized ']'
  14:04:28      # cat /sys/block/nvme0c1n1/ana_state
 14:04:28       # '[' invalid state == optimized ']'
./test/nvmf/target/multipath.sh: line 48: [: too many arguments
  14:04:28      # trap - ERR
  14:04:28      # prin

[2021-06-21 07:49] tmakatos commented on #1907
Is this command mandatory in NVMe?

[2021-06-21 07:53] Maciej-Szwed commented on #1816
I started working on fix. You can track work in this patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/8346

[2021-06-21 07:56] changpe1 commented on #1907
Namespace Management is optional in NVMe specification.

[2021-06-21 08:41] jlevon commented on #1907
Sounds like they're bugs in the test suite then - they should probably say "skipped" rather than "failed".

Although I think the list of controllers one is expected?

[2021-06-21 08:46] changpe1 commented on #1907
SPDK nvmf is using dynamic controller, actually there should only one active controller for PCIe transport, I'm not sure it's useful or not.

[2021-06-21 08:49] tmakatos opened #2000 "NVMf/vfio-user: "ASYNC LIMIT EXCEEDED" when booting Windows guest"
## Current Behavior

When Windows boots from a regular (non-NVMF/vfio-user) disk with an additional NVMf/vfio-user disk we get the following in the logs:
[code]

## Steps to Reproduce

Simply boot a Windows guest from a regular disk with an NVMf/vfio-user disk attached.

## Context (Environment including OS version, SPDK version, etc.)

TODO

[2021-06-21 08:56] spdkci commented on #1991
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_50435.html

[2021-06-21 08:59] shuhei-matsumoto commented on #1819
Hi @yidong0635

Thanks for your testing!
I've never seen the first observed ANA state was invalid.
I will investigate based on your report.
It may need time but please stay tune.

[2021-06-21 14:57] #1906 closed

[2021-06-21 15:11] spdkci commented on #1991
Another instance of this failure. Reported by @dong-liuliu. log: https://ci.spdk.io/public_build/autotest-per-patch_50446.html

[2021-06-21 20:13] shuhei-matsumoto commented on #1819
Hi @yidong0635

How about inserting a few seconds sleep after nvme connect, i.e., inserting a sleep at the line 46?
Will you try when you can?

[code]

[2021-06-21 20:48] spdkci commented on #1999
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_50462.html

[2021-06-21 21:16] jimharris commented on #2000
Hi @tmakatos,

Do these debug prints not occur with a boot vfio-user disk, or have you just not tested that?  I'm not necessarily asking you to try it, but if you're getting different behavior based on whether it's a boot disk or not, that would be very strange.

Could you try increasing NVMF_MAX_ASYNC_EVENTS to something like 16, to see if this problem goes away?  I'm curious if Windows just has

[2021-06-21 21:35] tmakatos commented on #1907
@changpe1 FYI when I try to boot Windows from a regular disk with an NVMf/vfio-user disk attached I get the following:
[code]
Maybe related?

[2021-06-21 21:37] tmakatos commented on #2000
I haven't tried that, I'm planning to do so once a NVMf/vfio-user namespace is usable as a secondary disk.

Sure will try.

Yes, I also get the following:
[code]
Maybe related to https://github.com/spdk/spdk/issues/1907#issuecomment-865360920.

There a couple of libvfio-user specific bugs (https://github.com/nutanix/libvfio-user/issues/570 and https://github.com/nutanix/libvfio-user/issues/571)

[2021-06-21 21:53] jimharris commented on #2000
I propose we don't try to support interrupt coalescing in the nvmf target for now.  I'm wondering if Windows is actually turning interrupt coalescing on though.  Could you instrument nvme_admin_qpair_print_command locally to also print out cdw11 for SET_FEATURES/GET_FEATURES?  (I wouldn't mind getting that change on master too, if you're up for pushing it to SPDK Gerrit. Or let me know and I'll ge

[2021-06-21 22:59] jimharris commented on #1997
@benlwalker @jolivier23 I don't think the multi-versioning will work in this case, if the instruction causing the SIGILL is the result of a direct structure assignment.

Do you have a local environment that can build libraries which generate this issue?

[2021-06-21 23:06] jimharris commented on #1985
The sleep would likely fix this particular test.

But I'd like to investigate queuing the CONNECT command internally so it can execute after the subsystem becomes active again.  That would be a cleaner fix overall, and avoid spurious CONNECT failures when the subsystem just happens to be paused at the same time.

[2021-06-22 00:21] spdkci commented on #1991
Another instance of this failure. Reported by @dong-liuliu. log: https://ci.spdk.io/public_build/autotest-per-patch_50449.html

[2021-06-22 00:56] changpe1 commented on #1907
Yes, I think the two features are required, because from Guest's view, it's a PCIe drive.

[2021-06-22 01:13] shuhei-matsumoto opened #2001 "VMware iSCSI host requires SPDK iSCSI target to support SCSI abort task command."
VMware ESXi6.7u2 closes iSCSI connection unexpectedly if any I/O is starved.

1) A submitted I/O is starved in SPDK iSCSI target.
2) VMware retries the following four times.
 - VMware submits SCSI abort task command to the I/O.
- SPDK SCSI library rejects the abort task command.
3) Then VMware closes the iSCSI connection.

VMware ESXi6.5u2 behaves differently and does not cause this issue.

## Exp

[2021-06-22 01:13] shuhei-matsumoto commented on #2001
I've started to work on this enhancement.

[2021-06-22 04:29] yidong0635 commented on #1819
In all， run this test on a newly version of kernel is ok. @shuhei-matsumoto

[2021-06-22 04:37] shuhei-matsumoto commented on #1819
Hi @yidong0635

Thank you so much. That's a great news. We may able to talk with @karlatec to enable this test case only for the latest kernel on the test pool.

I will submit the patch to gerrit anyway. To do that I have one more request to you. sleep 1 second is enough? Will you run the test with 1 second sleep a few times?

[2021-06-22 07:32] spdkci commented on #1973
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_50351.html

[2021-06-22 07:45] optimistyzy commented on #1630
@shuhei-matsumoto Do we see this issue recently? If there is no such issue found, we will close this issue.

[2021-06-22 08:47] rafalste opened #2002 "[centos7-vg-autotest] SPDK CI Jenkins - build timed out"
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/50486/archive/centos7-vg-autotest/build.log

## Execution failed at

[code]

[2021-06-22 08:51] spdkci commented on #2002
Another instance of this failure. Reported by @rafalste. log: https://ci.spdk.io/public_build/autotest-per-patch_50486.html

[2021-06-22 08:54] spdkci commented on #2002
Another instance of this failure. Reported by @rafalste. log: https://ci.spdk.io/public_build/autotest-per-patch_50487.html

[2021-06-22 09:40] tmakatos commented on #2000
@jimharris

I tried that and I got the same error. It turns out that `NVMF_MAX_ASYNC_EVENTS` isn't honored by the NVMf/vfio-user target. `test/nvmf/target/nvmf_vfio_user.sh` reports:
[code]
And I also checked with `nvme-cli` in a Linux guest and it reports it as 0 (which is 1 since it's a zero-based value).

I seem to remember that I had hard coded AERL to 0 for some reason, but can't find it in t

[2021-06-22 11:29] wanghailiangx opened #2003 "rpc/load_subsystem_config: reports broken pipe error when parsing json file"
[code]

## Steps to Reproduce

1.   ./test/bdev/blockdev.sh nvme
or
1.  ./build/bin/spdk_tgt
2. ./test/bdev/test.sh (This will reproduce every time.)
test.sh as below:
[code]
Log:
[code]
RPC command bdev_get_bdevs can get all bdevs.

## Context (Environment including OS version, SPDK version, etc.)

SPDK commit b3bd02552c0392aea423d1dc836d770d15bac34e

[2021-06-22 12:29] mikeBashStuff commented on #2003
Hmm, interesting. This test, and this particular rpc command, is working just fine under different jobs in the CI pool.

@wanghailiangx I see you added `#"$rpc_py" load_subsystem_config -j /home/storage/workspace/opal-end-to-end-reservation-autotest/spdk/bdevs.json` to test - was loading from the file failing too?

Could you also try to replace `rpc_cmd()` with `rpc_py="$rootdir/scripts/rpc.py"` a

[2021-06-22 13:02] tmakatos opened #2004 "NVMf/vfio-user: "Get Features command with unsupported feature ID 0x0c" when booting Windows guest"
## Current Behavior

(From the same test in https://github.com/spdk/spdk/issues/2000.)

When Windows boots from a regular (non-NVMF/vfio-user) disk with an additional NVMf/vfio-user disk we get the following in the logs:
[code]

[2021-06-22 13:09] tmakatos commented on #1907
BTW, shouldn't the `nvme_qpair.c: 452:spdk_nvme_print_completion: *NOTICE*: INVALID FIELD (00/02) qid:0 cid:66 cdw0:0 sqhd:0000 p:0 m:0 dnr:0` message be warning?

[2021-06-22 14:43] jimharris commented on #2002
The problem really occurs a bit further up in the log (you can tell by the timestamps) - this is from the 50486 failure.  I've updated the title a bit to reflect the cause.

00:01:20.804  ==> default: Creating shared folders metadata...
00:01:20.822  ==> default: Starting domain.
00:01:22.731  ==> default: Waiting for domain to get an IP address...
00:01:32.919  ==> default: Waiting for SSH to bec

[2021-06-22 14:45] jimharris commented on #2002
The problem really occurs a bit further up in the log (you can tell by the timestamps) - this is from the 50486 failure.  The 50487 failure is basically the same.

00:01:20.804  ==> default: Creating shared folders metadata...
00:01:20.822  ==> default: Starting domain.
00:01:22.731  ==> default: Waiting for domain to get an IP address...
00:01:32.919  ==> default: Waiting for SSH to become availa

[2021-06-22 14:45] jimharris commented on #2002
The 50487 failure is basically the same.

[2021-06-22 14:51] mikeBashStuff commented on #2002
It seems like vagrant got stuck while executing from its proxyconf plugin. Since it's not needed I removed it from the affected host (will do the same for the remaining VM hosts later this week).

[2021-06-22 19:31] spdkci commented on #1999
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_50537.html

[2021-06-22 20:29] shuhei-matsumoto opened #2005 "[nvmf-phy-autotest] SPDK CI jenkins - build timeout"
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_50547.html

## Execution failed at

[code]

[2021-06-22 20:29] spdkci commented on #2005
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_50547.html

[2021-06-22 21:18] shuhei-matsumoto opened #2006 "[app_repeat] dd: failed to open '/tmp/spdk.Q6os3f/tests/event/nbdtest': No such file or directory"
[code]
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_50554.html

## Execution failed at

[code]

[2021-06-22 21:19] spdkci commented on #2006
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_50554.html

[2021-06-23 00:40] spdkci commented on #2005
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_50564.html

[2021-06-23 01:25] yidong0635 commented on #1819
@shuhei-matsumoto  maybe 1 second is enough, can't reproduce it now. and I think with  https://review.spdk.io/gerrit/c/spdk/spdk/+/8438 and the latest kernel are the key factors for multipath.sh .
We should not test this on a very early kernel.

[2021-06-23 01:50] changpe1 commented on #2000
Currently SPDK library already hardcoded aerl to 0, and set the discovery controller aerl to 3, looks like that the Windows doesn't respect this value, I will setup a Windows environment to see what happened.

[2021-06-23 01:59] optimistyzy commented on #2006
@dong-liuliu

[2021-06-23 02:14] shuhei-matsumoto commented on #1819
Thank you so much again @yidong0635
What I saw is that Linux NVMe host may read ANA log page after connect completed.
I will change the delay to 1 sec and submit a patch, then I will add multipath issues to tomorrow's bug scrub meeting.

[2021-06-23 02:55] spdkci commented on #1870
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_50598.html

[2021-06-23 05:10] spdkci commented on #2006
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_50585.html

[2021-06-23 05:12] spdkci commented on #2006
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_50587.html

[2021-06-23 06:04] spdkci commented on #1999
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_50520.html

[2021-06-23 06:21] spdkci commented on #1999
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_50534.html

[2021-06-23 07:41] spdkci commented on #2005
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_50622.html

[2021-06-23 07:54] wanghailiangx commented on #2003
1. rpc_py=rpc_cmd
"$rpc_py" load_subsystem_config -j /home/storage/workspace/opal-end-to-end-reservation-autotest/spdk/bdev2s.json run failed, but bdev_get_bdevs can show all bdevs.  Yes, the load_subsystem_config seems to be failing you still can see all the bdevs from the json config.

2.  rpc_py="$rootdir/scripts/rpc.py"
"$rpc_py" load_subsystem_config -j "${json[*]}"  run successful.
"$rpc_py"

[2021-06-23 08:19] wanghailiangx commented on #2003
"$rootdir/scripts/gen_nvme.sh" | "$rpc_py" load_subsystem_config
This was written in the historical version, also run successful.

[2021-06-23 08:39] mikeBashStuff commented on #2006
1. tmp storage is used for the tests on the affected system(s) - each test suite (i.e. entity that sources `./test/common/autotest_common.sh`) will lookup the tmp test storage and purge it before starting the test.
2. Since `scheduler` test suite is called before `app_repeat` test, which is executed directly from `event.sh`, it removes the tmp directory which was created for `event.sh` (i.e. each

[2021-06-23 09:04] mikeBashStuff commented on #2003
Hmm. I unfortunately can't reproduce this on my end, as on most CI systems, it just works:
[code]

 So here rpc.py is connected via a pipe to a bash coproc where it sends its output and the STATUS of the command that was passed. Since we don't read the whole content of the fd (just line at the time) it seems that python feels obligated to raise an exception when SIGPIPE occurs (at least in some pa

[2021-06-23 09:09] tanabarr commented on #1993
https://review.spdk.io/gerrit/c/spdk/spdk/+/8348

[2021-06-23 09:11] tmakatos opened #2007 "NVMf/vfio-user: "Get Features command with unsupported feature ID 0xd0" when booting Windows guest"
## Current Behavior

When Windows (19042.1081) boots from a regular (non-NVMF/vfio-user) disk with an additional NVMf/vfio-user disk we get the following in the logs:

[code]

[2021-06-23 09:13] tmakatos opened #2008 "NVMf/vfio-user: "Unsupported Get Log Page 0xC1" when booting Windows guest"
## Current Behavior

When Windows (build 19042.1081) boots from a regular (non-NVMF/vfio-user) disk with an additional NVMf/vfio-user disk we get the following in the logs:

[code]

[2021-06-23 09:31] wanghailiangx commented on #2003
Updated rpc.py follow your code.
[code]

[2021-06-23 09:39] mikeBashStuff commented on #2003
Ah, sorry, I added it in the wrong place. Try this instead:
[code]

[2021-06-23 10:07] wanghailiangx commented on #2003
It doesn't matter. What you're talking about here, I tried it before.
[code]

[2021-06-23 11:31] mikeBashStuff commented on #2003
Last thing to try would be to check how pipes actually behave:

[code]

So in case of your system the second write with `bdev_get_bdevs` should already hit the broken pipe. On my end, I need to explicitly close stdout of the `rpc.py`  (or rather the bash process which handles its stdout) to reproduce this issue:

[code]

[2021-06-23 11:34] spdkci commented on #1991
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_50651.html

[2021-06-23 12:27] spdkci commented on #2005
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_50629.html

[2021-06-23 16:53] jimharris commented on #2008
https://review.spdk.io/gerrit/c/spdk/spdk/+/8487

[2021-06-23 16:54] jimharris commented on #2007
https://review.spdk.io/gerrit/c/spdk/spdk/+/8487

[2021-06-23 16:54] jimharris commented on #2004
https://review.spdk.io/gerrit/c/spdk/spdk/+/8487

[2021-06-23 16:55] jimharris commented on #2000
https://review.spdk.io/gerrit/c/spdk/spdk/+/8487 will remove the ERRLOG associated with the INTERRUPT COALESCING feature mentioned in this thread.  This patch does not affect the ASYNC LIMIT EXCEEDED issue.

[2021-06-23 17:15] jimharris commented on #2000
It's not clear to me why we need to still hardcode AERL to 0 for non-discovery controllers.  This was set to 0 for non-discovery controllers in the original nvmf code from what I can tell (commit bf6caa753), but more recently we've added support for queuing multiple AERs (commit 8cd9ef28 to queue events until target receives an AER, commit b7cc4dd to support multiple AERs).

In fact, I'm not even

[2021-06-23 17:24] jimharris commented on #2000
b7cc4dd has at least one bug it that would need fixing as part of this 8488 patch I just posted.  It uses an array of req pointers for the AERs as a stack, but doesn't properly manage the stack should if we get an abort for one of the AERs.

@tmakatos it would still be helpful if you could see if this eliminates that DEBUGLOG though.

@changpe1 or @optimistyzy could one of you take a further look

[2021-06-23 19:54] jimharris commented on #1921
Patch merged.

[2021-06-23 19:54] #1921 closed

[2021-06-23 19:58] jimharris commented on #1968
Haven't seen this again for over 3 weeks.  Maybe this was a problem with the FreeBSD servers over this small time period?  All three failures were within the same 24 hours. @mikeBashStuff what do you think about closing this issue?

[2021-06-23 20:00] mikeBashStuff commented on #1968
@jimharris I think it should be safe to close it - we deployed freebsd image across the CI pool which already includes rsync on board so this should not happen again.

[2021-06-23 20:01] #1968 closed

[2021-06-23 20:02] jimharris commented on #739
Patch merged.

[2021-06-23 20:02] #739 closed

[2021-06-23 20:09] tmakatos opened #2009 "NVMf/vfio-user: NVMe namespace is unusable in Windows"
## Expected Behavior

Windows should be able to initialize and format the NVMe namespace.

## Current Behavior

Windows fails to initialize the NVMe namespace.

## Possible Solution

## Steps to Reproduce

Boot a Windows guest from a regular disk with an NVMf/vfio-user disk as secondary and install all available Windows updates. Then try to initialize the disk from the Computer Management utility.

[2021-06-23 20:11] jimharris commented on #2009
Can you post a log from the vfio-user target?  I'd like to see the sequence of commands sent by Windows, including whether it's actually sending any I/O commands.

[2021-06-23 20:12] tmakatos commented on #2009
Sure, gimme a few moments.

[2021-06-23 20:18] spdkci commented on #1950
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_50694.html

[2021-06-23 20:20] spdkci commented on #2005
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_50692.html

[2021-06-23 21:48] spdkci commented on #2005
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_50707.html

[2021-06-24 00:32] spdkci commented on #2002
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_50485.html

[2021-06-24 00:39] changpe1 commented on #2008
The windows is trying to send vendor specific LOG ID here, we are setting up a Windows environment now, as Jim mentioned in the slack, I will try different vendor IDs to see if this issue is related with that.

[2021-06-24 00:43] changpe1 commented on #2000
OK, I will add some AER tests to NVMf.

[2021-06-24 01:43] changpe1 commented on #1813
This issue has been fixed, one known issue is rebooting in the VM will cause fatal QEMU errors, but this is different one, so closing this issue now.

[2021-06-24 01:43] #1813 closed

[2021-06-24 01:58] spdkci commented on #1991
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_50750.html

[2021-06-24 02:46] gaowayne opened #2010 "run bdevperf with debug log, it is great there is one option that enable dump all details nvme_commands for trace and analysis"
## Expected Behavior
run bdevperf with debug log, it is great there is one option that enable dump all details nvme_commands for trace and analysis
currently only nvmf has this feature. we need it in the local nvme device too.

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context (Environment including OS version, SPDK version, etc.)

[2021-06-24 03:10] changpe1 commented on #2010
bdevperf already has "-L nvme" option to enable the NVMe driver debug log, not sure this can meet your requirement or not.

[2021-06-24 03:30] gaowayne commented on #2010
@changpe1 I checked it cannot meet my expectation. I add below print code to meet my expectation. currently this print only print nvmf requests, not for local nvme device

	rc = _nvme_qpair_submit_request(qpair, req);
	if(0 == rc)
		spdk_nvme_print_command(qpair->id, &req->cmd);

[2021-06-24 04:05] changpe1 commented on #2010
OK, I will push a fix to add the NVMe command trace.

[2021-06-24 04:06] shuhei-matsumoto commented on #1819
I updated the patch according to Ziye's feedback. I changed all short sleeps to retry with 3 seconds timeout.

[2021-06-24 04:27] shuhei-matsumoto commented on #1819
[bug scrub] 5.12 or later is better.

[2021-06-24 05:21] changpe1 commented on #2010
@gaowayne Can you try if https://review.spdk.io/gerrit/c/spdk/spdk/+/8493 can meet your request?

[2021-06-24 08:16] tmakatos commented on #2009
Attached log.
[win.zip](https://github.com/spdk/spdk/files/6707508/win.zip)

[2021-06-24 11:52] shuhei-matsumoto commented on #1819
@karlatec Is it possible to run test/nvmf/target/multipath.sh only on the Linux 5.12 or later on CI for now? Will you check the CI configuration when you can?

[2021-06-24 12:03] mikeBashStuff commented on #1819
I don't think we have a system in the CI pool with a kernel matching this requirement right now - VMs  are running under fedora33 which ships with 5.11 at most at the moment (f34 would do the trick as it has newer builds available, 5.12.11, but currently we don't have it deployed anywhere).

[2021-06-24 12:05] karlatec commented on #1819
@mikeBashStuff Just updated my dev-system to F33 and it has 5.12.11 available, so I guess recent VM images should have this kernel as well. For physical systems it's a bit more work.

[2021-06-24 12:09] mikeBashStuff commented on #1819
@karlatec We would need to update f33 images across all VM hosts then - I checked on couple of hosts and the current images use 5.11 (no surprise considering how often fedora updates its packages). I've double checked the latest builds we have ready for deployment and they indeed have 5.12 inside.

[2021-06-24 12:25] tmakatos commented on #2000
I tried that and I still get the same error. I also double-checked with a Linux guest and `nvme-cli` reports AERL of 15, which is correct since I've still set `NVMF_MAX_ASYNC_EVENTS` to 16.

[2021-06-24 15:14] jimharris commented on #2000
OK, sounds like maybe Windows just keeps sending AERs until we report that they've sent to many?  That would be really bizarre though.

@changpe1 once you get your environment up and running, can you add some debug logs to confirm that with my 8488 patch that we accept the first 4 AERs correctly and only fail once we get the 5th one?

[2021-06-24 15:28] jimharris commented on #2009
Thanks @tmakatos!  Could you also post a log for a Linux guest when you have a chance?

[2021-06-24 16:10] tmakatos commented on #2009
Attached.
[debian.zip](https://github.com/spdk/spdk/files/6710685/debian.zip)

[2021-06-24 17:15] spdkci commented on #1863
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_50824.html

[2021-06-24 17:25] peluse commented on #1863
@KariukiJ did you see my request earlier?

[2021-06-24 17:38] spdkci commented on #1999
Another instance of this failure. Reported by @jonathan-teh. log: https://ci.spdk.io/public_build/autotest-per-patch_50831.html

[2021-06-24 17:44] spdkci commented on #1999
Another instance of this failure. Reported by @jonathan-teh. log: https://ci.spdk.io/public_build/autotest-per-patch_50842.html

[2021-06-24 17:56] spdkci commented on #1999
Another instance of this failure. Reported by @jonathan-teh. log: https://ci.spdk.io/public_build/autotest-per-patch_50844.html

[2021-06-24 18:00] spdkci commented on #1999
Another instance of this failure. Reported by @jonathan-teh. log: https://ci.spdk.io/public_build/autotest-per-patch_50843.html

[2021-06-24 18:05] spdkci commented on #1999
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_50845.html

[2021-06-24 18:24] spdkci commented on #1999
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_50848.html

[2021-06-24 18:32] mikeBashStuff commented on #1863
@peluse For these tests we are using SPDK as the initiator. I guess we could use this https://review.spdk.io/gerrit/c/spdk/spdk/+/8507 as means of switching to the kernel side and run some tests with this patch on top on an isolated group of systems that have been affected by this issue (I guess selecting a couple from the list in the description would do).

[2021-06-24 18:47] peluse commented on #1863
@mikeBashStuff that would be great thanks! Do you need to run on an isolated set or can you just switch to kernel init for everything for a few weeks? I realized we'd lose some initiator coverage during that time but I assume the SPDK initiator is used in way more than this dif test yeah?

[2021-06-24 18:53] spdkci commented on #1967
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_50852.html

[2021-06-24 19:09] mikeBashStuff commented on #1863
@peluse I am not sure we can do that. The CI pool run jobs - which execute functional tests - on per-patch bases. So to switch everything we would need to actually merge changes for these tests - that's the only way to make sure every job triggered for every patch out there will include this particular version of the dif tests.

The alternative is to either trigger manually bunch of per-patch jobs

[2021-06-24 19:42] peluse commented on #1863
@mikeBashStuff OK I guess I don't see what the problem is.  My vote would be switch them all and if it doesn't work revert.  This will give us the most amount data the quickest.  Ben is out but this is what he was thinking too, will ping Jim...

[2021-06-24 20:10] jimharris commented on #1863
@peluse, do you have a patch that would switch this test over to use the kernel initiator?  I'm not even sure we can do this type of DIF testing with the kernel nvme driver (but would love to be proved wrong).

I just have to believe there's a real SPDK bug here, probably somehow related to DIF - we have lots and lots of nvmf tests running in CI and this is the only case I've seen where we get the

[2021-06-24 20:19] peluse commented on #1863
@jimharris thanks - this was the first step Ben suggested to determine if the issue was in our initiator or our target but yeah I guess I didn't think about diff being doable with the kernel initiator to begin with.  I'm getting ready to head out on vacation until Tue next week, will pick it up then (yes, the patch to switch is above in the history from @mikeBashStuff)

[2021-06-24 20:40] shuhei-matsumoto commented on #1863
@jimharris @peluse As long as we read https://www.kernel.org/doc/Documentation/block/data-integrity.txt it should be possible to read and write data with DIF metadata without any support from application or filesystem. I haven't tried yet and does not have such chance but I found DIF support in Linux kernel NVMe driver source code and it will be worth to try.

[2021-06-24 22:05] spdkci commented on #1999
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_50882.html

[2021-06-24 22:06] shuhei-matsumoto commented on #1819
Hi @karlatec @mikeBashStuff

Thank you so much for working on this very quickly.

Karol verified an issue was fixed by 5.10.13 and so 5.11 may be enough. Sorry for my inaccurate information. Please use the Linux  available now.

[2021-06-25 00:48] changpe1 commented on #2000
OK.

[2021-06-25 08:20] karlatec commented on #1863
@peluse

It is loopback, but keep in mind that it's in fact a real physical loopback. All nodes running "nvmf-tcp-phy" tests have a 2-port NIC installed, and the ports are connected with DAC cable.
As a side note: this is not the case for "nvmf-phy" (which actually runs RDMA tests) job where we just rely on system local loopback.

We can do that, but it's more a matter of changing the test scripts

[2021-06-25 11:09] spdkci commented on #1991
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_50957.html

[2021-06-25 11:11] tmakatos commented on #2009
Attached Linux and Windows logs with 1 CPU / 1 core.
[logs.zip](https://github.com/spdk/spdk/files/6715760/logs.zip)

[2021-06-25 11:46] mikeBashStuff commented on #1991
The potential fix just got merged: https://review.spdk.io/gerrit/c/spdk/spdk/+/8436

if you still see this issue hitting your patches (especially if it includes this line in the log `ERROR: requested 4096 hugepages ...` then please make sure the patches are rebased against the latest master.

[2021-06-25 12:49] XYT874264076 commented on #318
This issue help me solve my problem, thanks~

[2021-06-25 13:13] brianjmurrell opened #2011 "CFLAGS ignored if set before build"
In configure, any `CFLAGS` that are gathered, are added to `$rootdir/mk/cc.flags.mk` with https://github.com/spdk/spdk/blob/5fc0475c140b86802ab8759a43845dcc34e7329d/configure#L886

But because the assignment in that Makefile fragment is assigning with `?=` those `CFLAGS` are only used if the caller has not set any.

It's not atypical for packaging systems such as RPM or DEB to set some `CFLAGS` be

[2021-06-25 14:25] spdkci commented on #1991
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_50973.html

[2021-06-25 14:40] mikeBashStuff commented on #2011
Interesting topic to raise. :)

So currently I believe you can do something like this:

`CFLAGS=-my-super-cflags ./configure ...`
or
`CFLAGS=-my-super-cflags make ...`

both yielding same result in context of the SPDK build, i.e.,  the final `CFLAGS` will consist of what was defined in the env + what mk decided to add (the notable difference is that what's passed to make through env will end up al

[2021-06-25 14:50] jimharris commented on #2011
Or we could keep the current CFLAGS behavior, but add ability for user to specify extra flags using EXTRA_CFLAGS.  So then:

[code]

would replace the CFLAGS specified by configure, while:

[code]

would append to the CFLAGS specified by configure.

[2021-06-25 17:12] brianjmurrell commented on #2011
Thanks.  I try to keep things interesting.  :smile:

I don't think you can.  Example:

[code]

As you can see, the `CFLAGS` that `configure` stuffed into `mk/cc.flags.mk` was still not used, unsurprisingly.

So yes, while this is true, the resulting `mk/cc.flags.mk` is still ignored due to the presence of `CFLAGS` in the environment of `make`'s caller.

Indeed, that is what I have done for the Ubu

[2021-06-25 17:15] brianjmurrell commented on #2011
Where any environment (packaging or otherwise) that sets a CFLAGS would then have to (know to) do:

[code]

when building spdk.  It's not ideal, but just expanding above , so that it's obvious how this would interact with build environments.

Not trying to be difficult.  Just trying to aim for the principle of least surprise.

[2021-06-25 19:32] spdkci commented on #1863
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_50981.html

[2021-06-25 20:20] shuhei-matsumoto commented on #1819
Hi @karlatec @mikeBashStuff
I checked https://cdn.kernel.org/pub/linux/kernel/v5.x, and found fixes for nvme-multipath in 5.11 but I did not find any in 5.12.
So probably 5.12 will be better if available.

[2021-06-25 21:03] spdkci commented on #1991
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_50984.html

[2021-06-25 22:03] spdkci commented on #1991
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_50992.html

[2021-06-25 22:09] spdkci commented on #1991
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_51001.html

[2021-06-25 22:09] spdkci commented on #1991
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_50991.html

[2021-06-25 23:30] spdkci commented on #1991
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_50355.html

[2021-06-26 19:05] mhae opened #2012 "bdev_nvme/nvme: Race condition in nvme_ctrlr_destruct during hot remove"
Hot removing a large number of devices (~14) at the same time can lead to a SIGSEGV due to a race condition during freeing of the io qpairs.

Our SPDK target app uses NVMF and bdev_nvme to expose NVMe devices over NVMF. When we remove a large number of devices at the same time, we see a SIGSEGV during freeing of the ioqpairs:

[code]
The qpair 0x200067c1fe58 has already been freed by bdev_nvme_des

[2021-06-27 21:06] mhae commented on #2012
I did some more testing. Protecting the active_io_qpairs iteration with the (recursive) ctrlr_lock does not cause the issue anymore:
[code]
However, I don't think this is sufficient since qpair is accessed all over the place in spdk_nvme_ctrlr_free_io_qpair.

I wasn't able to fully grasp the cleanup. It seems that the bdev layer is putting back channels which results in (async) calls to `bdev_nvme

[2021-06-28 02:49] spdkci commented on #1863
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_51036.html

[2021-06-28 04:33] spdkci commented on #1863
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_51043.html

[2021-06-28 04:33] shuhei-matsumoto commented on #2012
Hi @mhae

The callback to spdk_io_device_unregister() is called after all IO channels are closed, i.e., nvme_bdev_unregister_cb() is called only after all bdev_nvme_destroy_cb() are returned.

So if spdk_nvme_ctrlr_free_io_qpair() completes freeing IO qpair synchronously, this issue should not occur?

I guess that spdk_nvme_ctrlr_free_io_qpair() returned by setting qpair->delete_after_completion_c

[2021-06-28 04:47] shuhei-matsumoto commented on #2012
It looks that we can make both spdk_nvme_ctrlr_free_io_qpair() and the callback to spdk_put_io_channel() asynchronous. But it will not meet your schedule, and so your workaround will be better. I will work on both in my multipath work but I'm fine if you do :)

[2021-06-28 07:59] karlatec commented on #1801
Last instance was 21 days ago and it seems this no longer reproduces after upgrading our VM images from F31 to F33.
@jimharris @tomzawadzki we could probably close this one.

[2021-06-28 08:21] karlatec commented on #1969
We won't be able to fix network or proxy issues on our side, but the occurrences of this issue was limited using CI "retry rules".
Last occurrence was over a week ago, so we could probably close this one.

[2021-06-28 08:48] karlatec commented on #2005
Note:
Log files show that this only happens on WFP9 test node.

In some nvmf tests `disconnect` seems to take a lot of time:
[code]

[code]

[code]

[2021-06-28 08:59] karlatec commented on #1999
There was some hiccup on the CI side and physical systems were not rebooted correctly. Already fixed.
Let's wait a couple more days before closing.

[2021-06-28 09:05] karlatec commented on #1966
Applied the same CI retry rules as in https://github.com/spdk/spdk/issues/1969
Last occurrence was quite some time ago, so we can probably close this in a  few days.

[2021-06-28 09:17] shuhei-matsumoto commented on #1801
Thanks @karlatec for your check. I'm OK to close this but let's keep open another one https://github.com/spdk/spdk/issues/1819.
The issue @yidong0635 saw locally with the latest kernel is a different signature but we need to track it as a multipath issue.

[2021-06-28 10:09] karlatec commented on #2003
Both approaches from `Reproduction steps` work for me, could not reproduce the issue.
I did manage to get provided test.sh script to fail at `load_subsystem_config` but only because it does not remove nvme bdev and I've run it twice:
[code]

@wanghailiangx  what's your OS and/or Python version? IMO this is most likely system-specific issue rather than some bug in SPDK scripts. Also - please check

[2021-06-28 10:18] karlatec commented on #1973
Similar `disconnect` timeouts are seen in https://github.com/spdk/spdk/issues/2005. Issue can be related.
Removing `Infrastructure` label, it does not match here.

[2021-06-28 10:44] mikeBashStuff opened #2013 "GCC 11 raises stringop-overflow in compress_ut.c"
[code]

Config:
[code]

Point of failure:
[code]

[2021-06-28 10:55] mikeBashStuff opened #2014 "GCC 11 raises format-truncation in trace_rpc.c"
[code]

Config: `./configure --enable-werror`

Point of failure:
[code]
Increasing size of the `mask_str` seems to clear this error.

[2021-06-28 11:01] wanghailiangx commented on #2003
@karlatec kernel 3.10.0, CentOS Linux release 7.8,Python 2.7.5

[2021-06-28 11:10] mikeBashStuff commented on #2003
`rpc.py` is meant to be using `python3` so what version of `python3` you have installed on this system? Also, what's the `bash` version?

[2021-06-28 14:23] mhae commented on #2012
@shuhei-matsumoto , thanks for the quick reply! The workaround I'm proposing in 'nvme_ctrlr_destruct' is not tight enough. I think the whole `spdk_nvme_ctrlr_free_io_qpair` function should be protected by the ctrlr lock. There should also be a check if the qpair is still in 'active_io_qpairs' at the beginning of the function and if it isn't, return immediately.
What do you think?

[2021-06-28 16:31] benlwalker commented on #1997
Can you set the target architecture to Haswell during your configure step?

[2021-06-28 16:34] benlwalker commented on #1985
Agree with Jim - we need to handle hot remove during fabric connect anyway so we need to do some kind of queueing. But maybe we should have two tests here to cover the hot remove during fabric connect case and the hot remove during I/O case.

[2021-06-28 17:00] #2006 closed

[2021-06-29 02:12] changpe1 opened #2015 "NVMf segment fault when running "nvme disconnect" command"
## Current Behavior

Segmentation fault (core dumped)

## Steps to Reproduce

1. build/bin/nvmf_tgt -L nvmf
2. scripts/rpc.py nvmf_create_transport -t TCP
3. scripts/rpc.py nvmf_create_subsystem -a nqn.2019-07.io.spdk:cnode0
4. scripts/rpc.py bdev_malloc_create -b malloc0 $((512)) 512
5. scripts/rpc.py nvmf_subsystem_add_ns -n 1 nqn.2019-07.io.spdk:cnode0 malloc0
6. scripts/rpc.py bdev_malloc_crea

[2021-06-29 02:21] changpe1 opened #2016 "NVMf/vfio-user Namespace notice AER doesn't work as expected"
## Expected Behavior

Hot remove/add a Namespace can be showed in the Guest

## Current Behavior

Hot remove a Namespace in the host, the Guest still can see the removed Namespace

## Steps to Reproduce

Start nvmf target:
build/bin/nvmf_tgt -L nvmf -L nvmf_vfio
scripts/rpc.py nvmf_create_transport -t VFIOUSER
scripts/rpc.py nvmf_create_subsystem -a nqn.2019-07.io.spdk:cnode0
scripts/rpc.py bdev_m

[2021-06-29 02:22] wanghailiangx commented on #2003
[root@server ~]# whereis python3
python3: /usr/bin/python3.6 /usr/bin/python3.6m /usr/bin/python3 /usr/lib/python3.6 /usr/lib64/python3.6 /usr/local/lib/python3.6 /usr/include/python3.6m /usr/share/man/man1/python3.1.gz

[root@server ~]# bash --version
GNU bash, version 4.2.46(2)-release (x86_64-redhat-linux-gnu)
Copyright (C) 2011 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 o

[2021-06-29 02:25] spdkci commented on #1999
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_51150.html

[2021-06-29 02:37] shuhei-matsumoto commented on #2012
@mhae Do you keep getting lock in nvme_ctrlr_destruct()? If so, I think your idea should work. I think eventually it is nice if ctrlr->active_io_qpairs is empty when nvme_ctrlr_destruct() is called.

[2021-06-29 05:05] spdkci commented on #1863
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_51160.html

[2021-06-29 05:05] spdkci commented on #1863
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_51159.html

[2021-06-29 05:09] spdkci commented on #1863
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_51156.html

[2021-06-29 05:31] changpe1 commented on #2016
Link this issue to https://github.com/spdk/spdk/issues/2000

[2021-06-29 05:34] changpe1 commented on #2000
Link to https://github.com/spdk/spdk/issues/2016, this is a bug in vfio-user target, we didn't abort the previous submitted AERs when doing controller reset, I will submit a fix patch.

[2021-06-29 05:47] optimistyzy opened #2017 "[crypto-autotest] Failure to build"
## Link to the failed CI build

http://10.211.11.56/results/autotest-per-patch/builds/51166/archive/crypto-autotest/build.log

## Execution failed at

**00:15:06.955   07:32:43	# /var/jenkins/workspace/crypto-autotest/spdk/scripts/setup.sh cleanup
00:15:07.153  ls: cannot access '/dev/shm/*': No such file or directory**
00:15:08.099  Cleaning
00:15:08.102  Removing:    /run/dpdk/spdk0/config
00:15

[2021-06-29 06:09] ChengqiangMeng opened #2018 "["autobuild_check_so_deps"] error"
## Link to the failed CI build
https://ci.spdk.io/results/autotest-per-patch/builds/51149/archive/autobuild-vg-autotest/build.log

## Execution failed at

[code]

[2021-06-29 06:15] #2018 closed

[2021-06-29 06:21] spdkci commented on #2017
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_51082.html

[2021-06-29 06:28] spdkci commented on #2017
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_51171.html

[2021-06-29 09:31] spdkci commented on #2017
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_51202.html

[2021-06-29 09:57] spdkci commented on #2005
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_51210.html

[2021-06-29 10:30] ksztyber commented on #1648
Patch set 4 run twice:
https://review.spdk.io/gerrit/c/spdk/spdk/+/8403

Patch set 5 run twice:
https://review.spdk.io/gerrit/c/spdk/spdk/+/8405

Patch set 7 run twice:
https://review.spdk.io/gerrit/c/spdk/spdk/+/8406

[2021-06-29 10:42] spdkci commented on #2005
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_51204.html

[2021-06-29 10:44] spdkci commented on #2017
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_51214.html

[2021-06-29 10:44] spdkci commented on #2017
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_51196.html

[2021-06-29 10:56] optimistyzy commented on #2015
https://review.spdk.io/gerrit/c/spdk/spdk/+/8541  This patch can fix this issue. For the rotation of the list, I suggest do not use the   low level operation. Since the maximal event is 32, so we will only need 32 times for loop for the worst cases.

[2021-06-29 11:15] spdkci commented on #1950
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_51193.html

[2021-06-29 12:04] spdkci commented on #2017
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_51229.html

[2021-06-29 12:36] spdkci commented on #2017
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_51227.html

[2021-06-29 12:57] spdkci commented on #2017
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_51239.html

[2021-06-29 14:21] spdkci commented on #2017
Another instance of this failure. Reported by @jonathan-teh. log: https://ci.spdk.io/public_build/autotest-per-patch_51254.html

[2021-06-29 14:51] spdkci commented on #2017
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_51260.html

[2021-06-29 15:04] jimharris commented on #2017
[Bug Scrub] This test has always run near the 15 minute timeout.  Just noticed that HT on GP3 was disabled, which could have affected test runs on those systems.  HT enabled now, let's see if that impacts failure rate.

Michal has a patch that reduces crypto length, including removing dd test (which also runs in other jobs).

[2021-06-29 15:12] jimharris commented on #2011
[Bug Scrub] Jim will look at what autotools does in this regard to help guide what we should do for SPDK.

[2021-06-29 15:13] jimharris commented on #2010
Patch merged.

[2021-06-29 15:13] #2010 closed

[2021-06-29 15:16] jimharris commented on #2008
[Bug Scrub] Patch merged, so we won't get the ERRLOG anymore for this Get Log Page command.  But let's keep this issue open for now, pending investigation of the other Windows-related issues (for example, why is Windows even sending this vendor-specific log page?)

[2021-06-29 15:16] jimharris commented on #2007
[Bug Scrub] Patch merged, so we won't get the ERRLOG anymore for this Get Features command.  But let's keep this issue open for now, pending investigation of the other Windows-related issues (for example, why is Windows even sending this vendor-specific Get Features?)

[2021-06-29 15:22] jimharris commented on #1999
[Bug Scrub] @karlatec did a bunch of fixes on CI side.  Haven't seen this issue again over last 5 days.  Closing.

[2021-06-29 15:27] jimharris commented on #1997
[Bug Scrub] It's not clear what SPDK can do here to fix anything.  The build environment must not have disabled SSE, since we do not see the SSE instructions in place for copying the SQE to the submission queue.  Yet the compiler is emitting instructions that somehow fail on Haswell.  We really need a reproducible test case to be able to suggest anything to change in SPDK.  In the meantime, sugges

[2021-06-29 15:30] jimharris commented on #1994
[Bug Scrub] This is something that could be added to the SPDK env layer.  We need to provide APIs to create an empty mempool and then functions to populate it with application-allocated memory.  User then just needs to call spdk_mem_register on the memory used to populate the mempool.

[2021-06-29 15:34] mikeBashStuff commented on #1991
The fix (https://review.spdk.io/gerrit/c/spdk/spdk/+/8436) got already merged so closing this for now.

[2021-06-29 15:34] #1991 closed

[2021-06-29 18:08] jimharris commented on #1894
This failure hasn't shown up in a month.

[2021-06-29 18:08] #1894 closed

[2021-06-29 18:15] jimharris commented on #1461
Patch 3361 was merged a while back.  Closing this issue.  @jolivier23, if you still see any problems, please reopen.

[2021-06-29 18:15] #1461 closed

[2021-06-29 18:18] jimharris commented on #1993
Patch merged.

[2021-06-29 18:18] #1993 closed

[2021-06-29 18:44] jimharris commented on #2008
Marking this as a 3rd party issue.  We won't print the ERRLOG anymore, but it's still not clear why Windows is sending a vendor-specific log page.  Will keep this open while the Windows w/ vfio-user investigation continues.

[2021-06-29 18:45] jimharris commented on #2007
Marking this as a 3rd party issue.  We won't print the ERRLOG anymore, but it's still not clear why Windows is sending a vendor-specific feature ID.  Will keep this open while the Windows w/ vfio-user investigation continues.

[2021-06-29 18:45] jimharris commented on #2004
Marking this as a 3rd party issue.  We won't print the ERRLOG anymore, but it's still not clear why Windows is sending a vendor-specific feature ID.  Will keep this open while the Windows w/ vfio-user investigation continues.

[2021-06-29 18:50] peluse commented on #1989
FYI patch pending a bit more testing...

[2021-06-29 19:54] peluse commented on #1863
Looks like all the failures are within one function, commented it out in https://review.spdk.io/gerrit/c/spdk/spdk/+/8549 to see if we let it run for a bit if it goes away or if just the next test will start to fail.

[2021-06-29 20:36] jimharris commented on #1863
This failure is not the nvmf_dif failure.  @peluse - is that why you added the thumbs down emoji?  This failure is the #2017 failure.

[2021-06-29 20:38] jimharris commented on #1863
This test run is not associated with this failure.

[2021-06-29 21:04] jimharris commented on #2011
It seems other projects are all over the map on this.  I ran some tests with isa-l, fio and Qemu to see how they handle this situation.  In none of the cases did the CFLAGS env variable at make time get appended to the CFLAGS set at configure time.  In two cases that are completely ignored, in the third case they are added but not in a useful way.

Based on this I'd lean towards making SPDK just i

[2021-06-30 05:51] spdkci commented on #2017
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_51242.html

[2021-06-30 05:56] changpe1 commented on #2016
Here is the patch to fix this issue https://review.spdk.io/gerrit/c/spdk/spdk/+/8556.

[2021-06-30 09:03] tmakatos opened #2019 "NVMf/vfio-user: SeaBIOS doesn't boot from NVMe namespace"
Using SPDK master (bb8102b1ffc8bf209d7da4e545c2f8b645aa9372), SeaBIOS doesn't boot from the NVMe controller. It does identify the namespace but then don't seem to progress booting, it simply waits:
[code]
[debian.zip](https://github.com/spdk/spdk/files/6739534/debian.zip)

[2021-06-30 09:07] tmakatos opened #2020 "NVMF/vfio-user: SPDK attempts to map RO DMA region as RW"
This is a repro of https://review.spdk.io/gerrit/c/spdk/spdk/+/7288. I cannot reproduce using SPDK master (bb8102b1ffc8bf209d7da4e545c2f8b645aa9372) since SeaBIOS doesn't even attempt to read from the NVMe controller because of #2019. I can only reproduce it using our own infrastructure. The reason why this bug hasn't been triggering might be related to how much spare memory SeaBIOS has. It is pos

[2021-06-30 11:48] ryderhsu0129 opened #2021 "Using uio can't be executed on platforms that support IOMMU"
When the platform supports IOMMU, SPDK will automatically select VFIO driver,
but using VFIO on our platform will encounter some problems : https://github.com/spdk/spdk/issues/1948
and because other applications need to use IOMMU, we can't close it directly in order to solve this problem.

So we specify the use of UIO driver(**DRIVER_OVERRIDE=uio_pci_generic**) and PA mode(**iova_mode="pa"**) to t

[2021-06-30 14:31] tmakatos commented on #2020
This is reproducable with upstream SeaBIOS. When I patch SeaBIOS with https://mail.coreboot.org/hyperkitty/list/seabios@seabios.org/thread/2Q7NPH7TJNHK6JGPHQL7755HILO23ISN/ I can't repro it. My (limited) understanding is that upstream SeaBIOS consumes more memory than it does with my patch so it ends up using some of its read-only memory, which is fine since the PRP contains read-only information.

[2021-06-30 15:36] mikeBashStuff commented on #1863
Just to note: I have been running `dif.sh` tests with https://review.spdk.io/gerrit/c/spdk/spdk/+/8507 changes in the loop on one of the previously affected systems (GP11) for quite some time now (it already run >150 times) and so far none of the tests have failed (granted I had to add https://review.spdk.io/gerrit/c/spdk/spdk/+/8541 on top since I was unfortunately facing issue as described in ht

[2021-06-30 15:50] tmakatos commented on #2020
https://review.spdk.io/gerrit/c/spdk/spdk/+/7288 fixes this.

[2021-06-30 16:13] peluse commented on #1863
@mikeBashStuff thanks for doing that.  I ran with your patch and added some debug to the target and determined that in this config the target keep alive timer is disabled.  Probably DIFF too.  Have another patch running that changes some order of tests as it's the same test (rand) that's failing within the script every time.  Just trying to narrow down where to start hunting in the code.  So far i

[2021-06-30 16:42] peluse commented on #1863
Besides the patch that changes order or tests running CI (going slow, not proving to be very useful) I have a local version running 1000 in a row with debug log turned on.  Maybe that will provide a clue if it ever fails

[2021-06-30 17:58] peluse commented on #1863
@karlatec @mikeBashStuff I see you guys were looking at this one, do you believe they might be related? https://github.com/spdk/spdk/issues/1900

[2021-06-30 18:45] peluse commented on #1863
FYI switched my test machine to Fedora.. @jimharris see note above about Network Manager issue #1900

[2021-06-30 21:31] jimharris commented on #1985
https://review.spdk.io/gerrit/c/spdk/spdk/+/8572

I've added a new 'connect_stress' test application and test script as part of this series.  It helped me reproduce the issue here, as well as finding another bug that is also fixed in this series.

[2021-06-30 21:58] rmvasuki opened #2022 "Segmentation fault in nvme_request_remove_child when trying to fail a controller that has queued aborts"
We hit a segfault in our application when trying to fail a controller by calling `spdk_nvme_ctrlr_fail`.

## Expected Behavior

No segmentation fault.

## Current Behavior

Segmentation fault with this stacktrace:
[code]

## Possible Solution
[code]

## Steps to Reproduce

This bug report was filed by a partner team, so I don't have a list of steps to reproduce the issue.
However, I believe this m

[2021-06-30 21:58] rmvasuki commented on #2022
I've provided a build to the team that reported the issue, if the fix works, I can submit the patch for it.

[2021-07-01 04:57] changpe1 commented on #2021
@ryderhsu0129 I think it's the same issue with #1948, there might some configurations in BIOS conflict with IOMMU.

[2021-07-01 05:58] jimharris commented on #2012
Hi @mhae,

Like you point out in the log, all 4 qpairs should be freed before nvme_ctrlr_destruct is called.  But that happens >10ms after the qpairs are freed earlier in the log.  In fact, the one that you crash on was supposedly freed >30ms before the crash.  Removing the qpairs from the active_io_qpairs list is protected, so the TAILQ can't be getting corrupted.  I agree that the TAILQ traversa

[2021-07-01 06:05] #2021 closed

[2021-07-01 06:10] JiangMaox opened #2023 "interrupt-tgt set interrupt mode occurs core dumped"
Launch interrupt-tgt as poll mode, then set interrupt mode occur core dumped

## Expected Behavior

Report unsupported or set interrupt mode successful

## Current Behavior

Launch interrupt-tgt as poll mode, then set reactor 0 to interrupt mode will occur core dumped

Starting program: /root/spdk/build/examples/interrupt_tgt -m 0x07 -r /var/tmp/spdk.sock -g
Missing separate debuginfos, use: dnf d

[2021-07-01 06:26] dong-liuliu commented on #2023
Good report, @JiangMaox , very appreciate your work.
Let me have a check and then fix it.

[2021-07-01 07:04] lymlhhj123 opened #2024 "libspdk_copy.so is removed?"
i am compile DAOs-stack(master branch), it depend on spdk , when ld -lspdk_cpoy, report error.

libspdk_copy.so is removed?

[2021-07-01 07:23] yidong0635 opened #2025 "[unittest-vg-autotes] Can‘t allocate hugepages"
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/51360/archive/unittest-vg-autotest/build.log

## Execution failed at
00:05:27.874   06:34:19	# ./scripts/setup.sh
00:05:27.914  0000:00:06.0 (8086 5845): Skipping denied controller at 0000:00:06.0
00:05:27.973  0000:00:07.0 (8086 5845): Skipping denied controller at 0000:00:07.0
00:05:28.063  0000:00:08.0 (8086 58

[2021-07-01 07:26] lymlhhj123 commented on #2024
19.01x branch libspdk_copy.so is exist

[2021-07-01 08:01] shuhei-matsumoto commented on #2012
@jimharris Thank you so much for your recovery. @mhae I'm sorry for my wrong estimation.

I noticed that spdk_nvme_ctrlr_free_io_qpair() can be called by nvme_ctrlr_cleanup_process() or nvme_ctrlr_remove_process(). Do you find any possibility that spdk_nvme_ctrlr_free_io_qpair() is called multiple times to the same qpair? But please focus on Jim's feedback.

[2021-07-01 08:22] optimistyzy commented on #2024
May be the following libraries  are needed:
libspdk_accel.so libspdk_event_accel.so also ioat or idxd related library.

[2021-07-01 08:24] mikeBashStuff commented on #2025
@yidong0635 Please, see https://github.com/spdk/spdk/issues/1991#issuecomment-868441676- make sure your patches are rebased on top of the latest master to include 227428c3a4.

[2021-07-01 08:45] yidong0635 commented on #2025
@mikeBashStuff  Thanks，duplicated of issue #1991, close this one.

[2021-07-01 08:45] #2025 closed

[2021-07-01 08:49] lymlhhj123 commented on #2024
use 19.01x branch, miss libspdk_vmd.so.   so i use 21.04x branch. it has libspdk_vmd.so,but still miss libspdk_copy.so.

libspdk_accel.so libspdk_event_accel.so is exist in 21.04x branch.

do i compile wrong way?

[2021-07-01 11:13] spdkci commented on #2017
Another instance of this failure. Reported by @EugeneKochetov. log: https://ci.spdk.io/public_build/autotest-per-patch_51404.html

[2021-07-01 12:16] spdkci commented on #2017
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_51412.html

[2021-07-01 12:16] spdkci commented on #2017
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_51414.html

[2021-07-01 14:11] mhae commented on #2012
@jimharris , @shuhei-matsumoto , thanks for your analysis... It actually was a TAILQ corruption.

The spdk_nvme_ctrlr_free_io_qpair function got called twice for one specific qpair. We issue a bdev_reset in some scenarios, which does attempt to free qpairs as well. This is happening before channel tear down and ctrlr destruct.

Now, since the device is no longer there, the first call (from _bdev_n

[2021-07-01 14:51] jimharris commented on #2012
Ah, that makes sense now @mhae.  This is a bug in the bdev/nvme module, and I think the fix will actually be pretty easy.

When we reset the controller, we iterate over all the channels (i.e. cores) and free each of the qpairs.  Once all of the qpairs are freed, we do the spdk_nvme_ctrlr_reset, and then iterate over all the channels again to allocate new qpairs.

But if this races with the destruc

[2021-07-01 15:08] peluse commented on #2024
the copy library was replaced with the accel library

[2021-07-01 15:19] jimharris commented on #2012
[patch.txt](https://github.com/spdk/spdk/files/6749217/patch.txt)

[2021-07-01 15:43] mhae commented on #2012
Sweet. We'll give it a try. I had the same idea originally but I didn't want to completely eliminate the error handling in spdk_nvme_ctrlr_free_io_qpair.
I do think however, that this may lead to a memory leak if the qpair can't be destructed (freed) in spdk_nvme_ctrlr_free_io_qpair. The actually free() of the qpair is happening  nvme_transport_ctrlr_delete_io_qpair. So if in the reset we fail to

[2021-07-01 18:00] jimharris commented on #2012
Good point @mhae.

I think we should just make the pcie transport always report success, even if it could not actually delete the SQ and CQ (i.e. when the controller is hot removed).  Realistically there's nothing the caller can do to recover from this condition.  Even if SQ/CQ deletion failed for some reason other than hotplug, the caller has asked that the nvme driver delete/free the IO qpair so

[2021-07-01 18:49] jimharris commented on #2012
[patch_pcie_no_failure.txt](https://github.com/spdk/spdk/files/6750212/patch_pcie_no_failure.txt)

Can you try this patch together with the earlier patch?

This patch here ensures nvme_pcie_ctrlr_delete_io_qpair() never returns failure, and that the qpair resources will always get freed.

This means that in the case where both the reset path and the channel deletion path try to free the io qpair,

[2021-07-01 19:34] MattDumm commented on #2012
Hi @jimharris. A quick update about what I saw when I was testing with just the first patch (basically confirming your current understanding of things):

- we did see failures of the call to nvme_transport_ctrlr_delete_io_qpair() when the race condition occurred
- but, as intended, the code flow never led us to a place where we went to remove a qpair from active_io_qpairs that was not in the list

[2021-07-01 20:05] shuhei-matsumoto commented on #2012
@mhae @MattDumm thanks for all of your work. I was aware that the qpair pointer was not cleared and was not checked before calling spdk_nvme_ctrlr_free_io_qpair() and fixed partially on the latest SPDK master, but I cleared the qpair pointer only if spdk_nvme_ctrlr_free_io_qpair() returned zero. Similar changes will be needed also for the latest master.

@jimharris
You are proposing another patch

[2021-07-01 20:17] jimharris commented on #2012
Hi @shuhei-matsumoto, these patches look reasonable to me.

I think on master we want to make additional changes to nvme_transport_ctrlr_delete_io_qpair and spdk_nvme_ctrlr_free_io_qpair.  For example,

* we should ERRLOG and assert in nvme_transport_ctrlr_delete_io_qpair if a transport returns non-zero for delete_io_qpair op
* we should change nvme_transport_ctrlr_delete_io_qpair to return void
*

[2021-07-01 20:35] MattDumm commented on #2012
@jimharris - Works fine w/ the 2nd patch too (of course). Same lack of crashes, but now no problems bubbling up from nvme_pcie_ctrlr_delete_io_qpair() returning an error because of the controller being gone.
Thanks for the help with this one!

[2021-07-01 20:43] jimharris commented on #2012
Whew!  Thanks for the update @MattDumm.  And thanks @mhae for all of the good analysis to get this resolved!

[2021-07-01 22:12] spdkci commented on #2017
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_51477.html

[2021-07-02 01:25] changpe1 commented on #2015
Tested after this commit and it fixes the issue, closing it for now.

[2021-07-02 01:25] #2015 closed

[2021-07-02 01:59] #2024 closed

[2021-07-02 05:51] spdkci commented on #2017
Another instance of this failure. Reported by @EugeneKochetov. log: https://ci.spdk.io/public_build/autotest-per-patch_51468.html

[2021-07-02 06:46] changpe1 commented on #2022
here is the patch set https://review.spdk.io/gerrit/c/spdk/spdk/+/8585

[2021-07-02 09:29] spdkci commented on #2017
Another instance of this failure. Reported by @jonathan-teh. log: https://ci.spdk.io/public_build/autotest-per-patch_51535.html

[2021-07-02 10:30] mikeBashStuff commented on #2017
Potential fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/8545

[2021-07-02 15:48] spdkci commented on #2017
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_51606.html

[2021-07-02 15:53] spdkci commented on #2017
Another instance of this failure. Reported by @jkalwas. log: https://ci.spdk.io/public_build/autotest-per-patch_51581.html

[2021-07-04 11:51] jiguanglizipao opened #2026 "Is it better to add the DPDK "max_numa_nodes" option to SPDK?"
There is a constant `RTE_MAX_NUMA_NODES` in DPDK EAL, which limits the `socket_id` of `rte_malloc_socket`.  The default value is 4, but existing machines already have more than four numa nodes. SPDK (`spdk_malloc`) relies on `rte_malloc_socket`, so SPDK cannot allocate memory on more than four numa nodes. In my opinion, it might be better to add an option about `RTE_MAX_NUMA_NODES` in the SPDK con

[2021-07-05 02:29] wanghailiangx commented on #2003
@mikeBashStuff Do you see the root cause of the issue?

[2021-07-05 07:39] spdkci commented on #2017
Another instance of this failure. Reported by @krish-reddy. log: https://ci.spdk.io/public_build/autotest-per-patch_51608.html

[2021-07-05 07:40] mikeBashStuff commented on #2003
@wanghailiangx No, I don't since I can't reproduce it. Even on centos7 with the same version of python{2,3} and bash as yours.

[2021-07-05 10:43] karlatec opened #2027 "SPDK fails to build with "usdt" and "unit-tests" enabled"
## Current Behavior

Building with `--with-usdt` and `--enable-unit-tests` (default) results in compilation failure.

## Possible Solution

Workaround: `--disable-unit-tests`.

## Steps to Reproduce

1. git submodule update --init
2. ./configure --enable-debug  --with-usdt
3. make -j100
[code]
4.  touch test/unit/lib/nvmf/ctrlr_discovery.c/ctrlr_discovery_ut.c && make -j10 Q=
[code]

## Context (E

[2021-07-05 11:37] ksztyber opened #2028 "blobstore: unable to decouple snapshot from its parent"
It's not possible to decouple a snapshot from its parent. It happens, because the snapshots are marked read-only, so if some data needs to be copied during the decouple call, the write will fail at:
[code]

## Expected Behavior
It should be possible to decouple a snapshot from its parent.

## Current Behavior
The request fails with `EPERM`.

## Possible Solution
We probably either need an extra fl

[2021-07-05 11:43] shuhei-matsumoto opened #2029 "[iscsi] Data digest feature does not work after 21.04"
If Linux iSCSI host enables data digest and tries to detect LU, data mismatch error is detected and then the connection is disconnected.

## Expected Behavior

LU detection completes successfully.

## Current Behavior

See above

## Possible Solution

pdu->data_valid_bytes is not set for all response PDUs which have a data segment.
The change which caused this degradation was for SCSI write, and i

[2021-07-05 11:50] shuhei-matsumoto commented on #2029
The bug fix is https://review.spdk.io/gerrit/c/spdk/spdk/+/8635

[2021-07-05 14:40] spdkci commented on #1969
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_51665.html

[2021-07-05 14:42] spdkci commented on #1969
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_51669.html

[2021-07-05 14:47] spdkci commented on #1969
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_51667.html

[2021-07-05 15:07] tomzawadzki commented on #1933
Patch fixing this issue https://review.spdk.io/gerrit/c/spdk/spdk/+/8420.

When investigating this, @ksztyber noticed another issue for similar https://github.com/spdk/spdk/issues/2028.

[2021-07-05 16:11] spdkci commented on #1967
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_51673.html

[2021-07-05 16:18] spdkci commented on #1967
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_51677.html

[2021-07-05 17:39] jimharris commented on #2027
I'm not able to reproduce this on my system, but I'm not surprised we would see different behavior with different toolchain versions.

We probably want include/spdk_internal/usdt.h to use empty macros when compiling unit tests, even if usdt was enabled.  Maybe something like:

[code]

Then add -DSPDK_UNIT_TEST to mk/spdk.unittest.mk.

[2021-07-05 17:41] spdkci commented on #1988
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_51683.html

[2021-07-05 18:06] jimharris commented on #2012
https://review.spdk.io/gerrit/c/spdk/spdk/+/8660

Shuhei - I added your Signed-off to this last patch in the series since it's basically your inline patch above with a couple of small edits.

[2021-07-05 18:08] jimharris commented on #1995
Hi @KKaras169169, looks like the 8058 patch was abandoned, is there a different patch that fixes this issue now?

[2021-07-05 18:21] jimharris commented on #2026
Note that the SPDK submodule is currently based on DPDK 21.05, which defaults to 32 max numa nodes (increased from 4).

Adding configure options to customize max numa nodes and lcores would be fine.  Those options need to be checked that they aren't being specified when not using the DPDK submodule (since in that case those options would take no effect since we wouldn't be building DPDK).

[2021-07-05 18:48] spdkci commented on #2017
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_51590.html

[2021-07-05 19:09] spdkci commented on #1988
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_51694.html

[2021-07-06 03:00] jiaqizho commented on #1599
hi jim , before i leave intel , i think @gwnet have already verified this issue.

So i will closed this issue.

[2021-07-06 03:00] #1599 closed

[2021-07-06 04:22] optimistyzy commented on #1966
close this issue. As mentioned by @karlatec , we see this issue long time ago, more than 3 weeks.

[2021-07-06 04:22] #1966 closed

[2021-07-06 04:25] optimistyzy commented on #1995
@KKaras169169 Removed the "patches out for review" label, since I see this patch was abandoned.  You can re-add this label when you provide a new patch link

[2021-07-06 04:27] optimistyzy commented on #1987
Close this patch since we never report for 3 weeks.  If there is similar issues, we can re-open this issue.

[2021-07-06 04:27] #1987 closed

[2021-07-06 04:28] optimistyzy commented on #1934
@yuhongxiao123456 is there any new clue for this issue?

[2021-07-06 04:35] optimistyzy commented on #398
I see the patch link was abandoned, should we close this issue?  @jimharris @tomzawadzki

[2021-07-06 05:11] spdkci commented on #1988
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_51681.html

[2021-07-06 05:19] spdkci commented on #1988
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_51702.html

[2021-07-06 05:44] optimistyzy commented on #2023
From the interrupt usage description, I think that spdk_interrupt_mode_enable should be called, then we can enable the interrupt setting in each reactor. If my understanding is correct, then the following patch, can be used to address this coredump issue: https://review.spdk.io/gerrit/c/spdk/spdk/+/8676.
If not, I think that @dong-liuliu  can submit patches to address this issue.

[2021-07-06 06:05] KKaras169169 commented on #1995
Got it.

[2021-07-06 06:15] spdkci commented on #1988
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_51754.html

[2021-07-06 06:16] spdkci commented on #1988
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_51734.html

[2021-07-06 06:18] spdkci commented on #1988
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_51759.html

[2021-07-06 06:24] spdkci commented on #1988
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_51750.html

[2021-07-06 06:25] spdkci commented on #1988
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_51747.html

[2021-07-06 06:26] shuhei-matsumoto commented on #2012
Hi @jimharris

Thanks for the patches! All look good to me. I hope CI will be recovered and tests will be passed soon.

[2021-07-06 06:31] spdkci commented on #1988
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_51687.html

[2021-07-06 06:33] spdkci commented on #1988
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_51760.html

[2021-07-06 06:33] spdkci commented on #1988
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_51701.html

[2021-07-06 06:34] spdkci commented on #1988
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_51680.html

[2021-07-06 07:08] spdkci commented on #2005
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_51745.html

[2021-07-06 07:10] spdkci commented on #2005
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_51732.html

[2021-07-06 07:10] spdkci commented on #2005
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_51738.html

[2021-07-06 07:10] karlatec commented on #2005
@optimistyzy this build failure is not related to this issue

[2021-07-06 07:14] karlatec commented on #1969
Reopening due to recent network issue in CI environment. A lot of builds failed to fetch sources.

[2021-07-06 07:16] spdkci commented on #1969
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_51736.html

[2021-07-06 07:16] spdkci commented on #1969
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_51729.html

[2021-07-06 07:21] spdkci commented on #1969
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_51666.html

[2021-07-06 07:24] spdkci commented on #1969
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_51743.html

[2021-07-06 07:25] spdkci commented on #1988
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_51740.html

[2021-07-06 07:25] spdkci commented on #1969
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_51712.html

[2021-07-06 07:25] spdkci commented on #1969
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_51668.html

[2021-07-06 07:26] spdkci commented on #1969
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_51698.html

[2021-07-06 07:26] spdkci commented on #1969
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_51724.html

[2021-07-06 07:26] spdkci commented on #1969
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_51704.html

[2021-07-06 07:29] spdkci commented on #1969
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_51717.html

[2021-07-06 07:29] spdkci commented on #1969
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_51722.html

[2021-07-06 07:29] spdkci commented on #1969
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_51714.html

[2021-07-06 07:30] spdkci commented on #1969
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_51672.html

[2021-07-06 07:30] spdkci commented on #1969
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_51709.html

[2021-07-06 07:42] spdkci commented on #1969
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_51719.html

[2021-07-06 08:14] spdkci commented on #1988
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_51685.html

[2021-07-06 08:20] spdkci commented on #2017
Another instance of this failure. Reported by @the-castle. log: https://ci.spdk.io/public_build/autotest-per-patch_51526.html

[2021-07-06 08:30] spdkci commented on #2005
Another instance of this failure. Reported by @spdkci. log: https://ci.spdk.io/public_build/autotest-per-patch_51784.html

[2021-07-06 08:44] spdkci commented on #2005
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_51766.html

[2021-07-06 08:52] krish-reddy opened #2030 "[nvmf-tcp-phy-autotest] nvmf_filesystem_incapsule keep_alive timeout causes build timeout failure"
00:02:48.303  ************************************
00:02:48.303  START TEST nvmf_filesystem_incapsule
00:02:48.303  ************************************
00:02:48.304   10:31:57	# xtrace_enable
00:02:48.304   10:31:57	# nvmf_filesystem_part 4096
00:02:48.304   10:31:57	# incapsule=4096
00:02:48.304   10:31:57	# nvmfappstart -m 0xF
00:02:48.304   10:31:57	# timing_enter start_nvmf_tgt
00:02:48.304

[2021-07-06 08:52] krish-reddy commented on #2030
https://ci.spdk.io/results/autotest-per-patch/builds/51787/archive/nvmf-tcp-phy-autotest/build.log

[2021-07-06 08:53] spdkci commented on #2030
Another instance of this failure. Reported by @krish-reddy. log: https://ci.spdk.io/public_build/autotest-per-patch_51787.html

[2021-07-06 09:34] spdkci commented on #2017
Another instance of this failure. Reported by @the-castle. log: https://ci.spdk.io/public_build/autotest-per-patch_51794.html

[2021-07-06 09:53] KKaras169169 commented on #1995
I have just uploaded this one : https://review.spdk.io/gerrit/c/spdk/spdk/+/8683 . It is based on some of my recent changes and issue there diverged from the original problem and became a NULL pointer access.
Previous (abandoned) patch was not specifically made to fix this issue, but the problem disappeared after applying it. This time I had to push a designated fix.

[2021-07-06 10:17] spdkci commented on #2017
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_51793.html

[2021-07-06 11:15] spdkci commented on #2017
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_51813.html

[2021-07-06 12:06] spdkci commented on #2017
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_51819.html

[2021-07-06 14:08] spdkci commented on #2017
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_51837.html

[2021-07-06 14:39] #398 closed

[2021-07-06 14:40] peluse commented on #1187
no change in status: DPDK team is targeting a fix (it's a redesign, not a small bug fix) for 21.11

[2021-07-06 15:21] peluse commented on #1863
@mikeBashStuff can you please run this patch in a loop in CI and let me know when we get a failure? All it does is turn on nvmf target debug logging.  thanks.  https://review.spdk.io/gerrit/c/spdk/spdk/+/8549

[2021-07-06 15:26] jimharris commented on #2030
This has some similarities to #1863.  This failure here is with the kernel initiator, but we see an unexpected keep alive timeout on the target.

Note this in the dmesg.log for this test run:

[code]

 I don't understand where the nbd failures are coming from yet...

[2021-07-06 15:29] tomzawadzki commented on #1985
The patch fixing the issue was merged, so issue can be closed. The test application should get merged too and is out for review.

[2021-07-06 15:29] #1985 closed

[2021-07-06 15:40] tomzawadzki commented on #1749
@rdxsasha Have you had a change to look at submitting a patch ?

[2021-07-06 16:26] jimharris commented on #1995
Thanks @KKaras169169.  It looks like this new 8683 patch is behind a couple of other patches in a bigger series, one of which has been more recently updated.  Would it be possible to push this patch separately, or does it depend on these other patches?

[2021-07-06 16:41] spdkci commented on #2005
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_51867.html

[2021-07-06 18:23] jimharris commented on #2013
https://review.spdk.io/gerrit/c/spdk/spdk/+/8692

[2021-07-06 19:37] jimharris commented on #2016
Patches merged.

[2021-07-06 19:37] #2016 closed

[2021-07-06 19:37] jimharris commented on #2000
Patches merged.

[2021-07-06 19:37] #2000 closed

[2021-07-06 19:45] jimharris commented on #2022
Patch merged.  Thanks!

[2021-07-06 19:45] #2022 closed

[2021-07-07 01:27] spdkci commented on #2017
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_51843.html

[2021-07-07 01:55] optimistyzy commented on #2014
This patch may be helpful:   https://review.spdk.io/gerrit/c/spdk/spdk/+/8694  //But I did not have a gcc 11 enviroment.

[2021-07-07 05:53] yidong0635 opened #2031 "GCC 11 raises format-truncation in identify.c"
identify.c: In function ‘main’:
identify.c:2128:71: warning: ‘%llx’ directive output may be truncated writing between 1 and 16 bytes into a region of size 14 [-Wformat-truncation=]
 2128 |                         snprintf(g_core_mask, sizeof(g_core_mask), "0x%llx", 1ULL << g_main_core);
      |                                                                       ^~~~
identify.c:2128:68: note: dir

[2021-07-07 06:09] yidong0635 commented on #2031
https://review.spdk.io/gerrit/c/spdk/spdk/+/8697

[2021-07-07 06:21] KKaras169169 commented on #1995
To fix this problem a rework of poller structures was needed anyway, so I decided to place it after those changes. In other words: yes, it depends on the patch right right before 8683 (which is 8519). Since 8683 does not depend on 8629, I could push it (8629) after this fix to reduce time for review and merging.

[2021-07-07 06:30] spdkci commented on #2017
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_51874.html

[2021-07-07 06:34] spdkci commented on #2005
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_51895.html

[2021-07-07 06:35] spdkci commented on #2017
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_51970.html

[2021-07-07 06:37] spdkci commented on #2017
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_51984.html

[2021-07-07 06:41] spdkci commented on #2005
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_52015.html

[2021-07-07 06:42] KKaras169169 commented on #2005
This one actually failed even earlier - during  "nvmf_target_disconnect_tc2" test.

[2021-07-07 06:45] spdkci commented on #2005
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_51995.html

[2021-07-07 07:13] spdkci commented on #2005
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_52006.html

[2021-07-07 07:14] spdkci commented on #2017
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_52009.html

[2021-07-07 07:30] #2017 closed

[2021-07-07 07:30] #2029 closed

[2021-07-07 07:31] tomzawadzki commented on #1648
Patch set 6 ran twice
https://review.spdk.io/gerrit/c/spdk/spdk/+/8288/6

[2021-07-07 07:37] optimistyzy commented on #2030
@jimharris  Is it related with the setting. Can we use -k parameter when we use nvme connect command.  Then we can increase the timeout value.  And see whether we still this issue.

"-k <#>, --keep-alive-tmo=<#>

Overrides the default keep alive timeout (in seconds)."

[2021-07-07 07:40] tomzawadzki commented on #2013
Patch fixing this issue has been merged.

[2021-07-07 07:40] #2013 closed

[2021-07-07 07:41] tomzawadzki commented on #2012
Patch fixing this issue has been merged.

[2021-07-07 07:41] #2012 closed

[2021-07-07 07:56] spdkci commented on #2005
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_51878.html

[2021-07-07 07:59] mikeBashStuff commented on #2005
All the reports still seem to point at WFP9. I am removing it from the pool until we understand the root cause.

[2021-07-07 07:59] spdkci commented on #2005
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_51930.html

[2021-07-07 08:01] spdkci commented on #2017
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_51852.html

[2021-07-07 09:57] ksztyber commented on #2027
https://review.spdk.io/gerrit/c/spdk/spdk/+/8699

@karlatec  could you check if this fixes the issue on your end?

[2021-07-07 11:14] KKaras169169 opened #2032 "[nvme-vg-autotest] LeakSanitizer detects memory leaks during ftl_bdevperf test"
00:10:03.050  ************************************
00:10:03.050  START TEST ftl_bdevperf
00:10:03.051  ************************************

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_52050.html

## Execution failed at
00:10:08.865
 Total                       :    1683.75 IOPS     111.81 MiB/s
00:10:08.870  0
00:10:08.882   10:15:45	# /home/vagrant/spdk_rep

[2021-07-07 11:17] spdkci commented on #2032
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_52050.html

[2021-07-07 12:48] karlatec commented on #2027
Was able to compile `./configure --enable-debug  --with-usdt && make -j100`, look good to me

[2021-07-07 14:36] mikeBashStuff opened #2033 "nvmf_bdev_io_wait test got stuck while waiting for bdevperf to finish"
https://ci.spdk.io/results/autotest-per-patch/builds/52088/archive/nvmf-tcp-phy-autotest/index.html

[code]

[2021-07-07 14:36] spdkci commented on #2033
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_52088.html

[2021-07-07 15:05] spdkci commented on #2030
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_52074.html

[2021-07-07 15:49] spdkci commented on #1973
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_51948.html

[2021-07-07 22:06] Maciej-Szwed commented on #1816
Patch has been tested successfully and it's ready for review: https://review.spdk.io/gerrit/c/spdk/spdk/+/8346

[2021-07-08 05:38] spdkci commented on #2030
Another instance of this failure. Reported by @MengjinWu. log: https://ci.spdk.io/public_build/autotest-per-patch_52086.html

[2021-07-08 06:30] karlatec opened #2034 "[centos7-nightly] Build failed due to -Werror=maybe-uninitialized in lib/trace/trace.c"
## Current Behavior

[code]

## Possible Solution

https://review.spdk.io/gerrit/c/spdk/spdk/+/8405 is the commit introducing the failure.

## Steps to Reproduce

1. Use Centos7 and build with
[code]

## Context (Environment including OS version, SPDK version, etc.)

Centos 7 3.10.0-1160.15.2.el7.x86_6
gcc version 4.8.5 20150623 (Red Hat 4.8.5-44)

[2021-07-08 07:49] optimistyzy commented on #2034
This patch may be helpful:  https://review.spdk.io/gerrit/c/spdk/spdk/+/8709

[2021-07-08 08:09] mikeBashStuff commented on #1863
@peluse Sure, will try to get it done till the end of the week.

[2021-07-08 11:48] rahulndr opened #2035 "connect to nvme subsystem successful even if hostnqn is blank"
connection to nvme subsystem is succesful even if hostnqn field is blank in fabric connect packet. As per spec , if there is syntax issue in any of the parameters (ex hostnqn, targetnqn and hostid) , target should reject connect request.

nvme-cli generates hostnqn if -q   is not passed and /etc/nvme/hostnqn is empty. However, hostnqn is an optional field in perf and abort tool. this allows succes

[2021-07-08 12:21] karlatec commented on #2034
Build passed with the patch, thanks @optimistyzy !

[2021-07-08 12:42] tmakatos opened #2036 "NVMf/vfio-user: "Invalid offset 0xc" and "Invalid offset 0x10" warnings when using FreeBSD"
Using SPDK b8b1f1922 and FreeBSD 12.1 with an additional NVMe namespace results in the following errors being spammed:
[code]
Also, we get the following but only once:
[code]
In spite of these errors, the namespace seems usable in the guest.

There a few more errors specific to libvfio-user but they are benign (I've created PRs for them).

[2021-07-09 00:37] yidong0635 commented on #2033
bdevperf can be in a wild state with endless printing , and the time limitation has no effect . That will be appreciated if anyone
have time to find the root cause.

[2021-07-09 04:19] optimistyzy commented on #2035
What  I observe is :

We hope that the nqn format is:  nqn.2014-08.org.nvmexpress:uuid:11111111-2222-3333-4444-555555555555
And we have nqn_valid_check function.

And the kernel passed nqn is something like:
nqn.2014-08.org.nvmexpress:uuid:07e4a0a641d54bff96b28a173dcfb6b5
So we do not check the nqn whether is valid on SPDK target side.

In NVMe 2.0 spec,  Page 154, it has description:

A 128-bit U

[2021-07-09 07:50] tomzawadzki commented on #2027
Patch fixing this issue has been merged.

[2021-07-09 07:50] #2027 closed

[2021-07-09 09:38] Maciej-Szwed opened #2037 "[spdk_top] Poller status does not change from busy to idle"
In pollers tab, in poller status column we can get "busy" or "idle" string. In case poller was idle and it becomes busy the label changes correctly, but in case busy poller becomes idle again the label stays "busy".

I tested it with 21.04 release and some quite recent versions of main branch.

[2021-07-09 10:33] mikeBashStuff commented on #1863
@peluse Attaching logs from the test (it's quite big just fyi) - the `fio_dif_rand_params` test fails on `##### Run 8`. As to #1900 I made sure all the net devices used for the test are not managed by the nm when it was executing just to be sure it's not a factor here.
[debug_1863.log.zip](https://github.com/spdk/spdk/files/6790643/debug_1863.log.zip)

[2021-07-09 12:37] spdkci commented on #2005
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_51974.html

[2021-07-09 12:39] spdkci commented on #2005
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_51969.html

[2021-07-09 12:41] spdkci commented on #2017
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_52314.html

[2021-07-09 12:41] spdkci commented on #2017
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_51960.html

[2021-07-09 12:41] spdkci commented on #2005
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_52001.html

[2021-07-11 03:58] yuhongxiao123456 commented on #1934
I‘m sorry，it's no recurrence. I will close this issue.
If it reappears in the future, then record the detailed information.

[2021-07-11 03:58] #1934 closed

[2021-07-11 13:35] yuan-luo opened #2038 "blobfs fuse build failed"
spdk blobfs fuse build failed, not sure it is a bug or environment issue.

## Expected Behavior

blobfs fuse make should pass

## Current Behavior

make test blobfs fuse failed

## Possible Solution

No.

## Steps to Reproduce

1. compile spdk/dpdk passed
2. hello_blob passed
3. build fuse.c under /home/xxx/spdk/test/blobfs/fuse failed with
/home/xxx/spdk/test/blobfs/fuse$ make
  LINK fuse
fuse.o:

[2021-07-11 13:39] yuan-luo commented on #2038
missing ./configure --with-fuse
close this issue.

[2021-07-11 13:39] #2038 closed

[2021-07-12 04:57] spdkci commented on #1973
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_52026.html

[2021-07-12 06:10] spdkci commented on #1969
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_52430.html

[2021-07-12 07:51] ksztyber commented on #2034
Patch was merged.

[2021-07-12 07:51] #2034 closed

[2021-07-12 08:50] spdkci commented on #1969
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_52446.html

[2021-07-12 09:44] spdkci commented on #1969
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_52449.html

[2021-07-12 10:01] spdkci commented on #1969
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_52450.html

[2021-07-12 11:08] spdkci commented on #1988
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_52457.html

[2021-07-12 13:58] spdkci commented on #1988
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_52458.html

[2021-07-12 13:58] spdkci commented on #1969
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_52453.html

[2021-07-12 15:08] tomzawadzki commented on #2014
Patch fixing the issue has been merged.

[2021-07-12 15:08] #2014 closed

[2021-07-12 19:05] mikeBashStuff opened #2039 "iscsi_tgt_rpc_config failed the ps check"
The test expects the process to be gone, however, when the check is run the PID is still around:

https://ci.spdk.io/results/autotest-per-patch/builds/52509/archive/iscsi-vg-autotest/build.log

[code]

[2021-07-12 19:06] spdkci commented on #2039
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_52509.html

[2021-07-13 01:33] changpe1 commented on #2036
Offset 0xC is Interrupt Mask Set register and 0x10 is Interrupt Mask Clear register, feature ID 0x8 is Interrupt Coalescing, so I think this issue is still related with this feature ID, not sure this is the root cause that the additional NVMe namespace can't be used.

If confirmed, I think we need to support them for Windows and FreeBSD.

[2021-07-13 01:35] changpe1 commented on #2019
Link this issue to https://github.com/spdk/spdk/issues/2020

[2021-07-13 02:19] changpe1 commented on #2032
Patch is here https://review.spdk.io/gerrit/c/spdk/spdk/+/8740

[2021-07-13 06:55] spdkci commented on #1988
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_52568.html

[2021-07-13 06:56] ksztyber commented on #1648
Patch set 6 ran twice:
https://review.spdk.io/gerrit/c/spdk/spdk/+/8615

[2021-07-13 06:57] spdkci commented on #1969
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_52564.html

[2021-07-13 08:48] tmakatos commented on #2036
When using FreeBSD the namespace is usable fine.

[2021-07-13 08:56] changpe1 commented on #2036
Thanks, I'm working on a patch to fix it, if interrupt mask is processed inside libvfio-user, we can just ignore them in SPDK vfio-user target.

[2021-07-13 09:26] #2031 closed

[2021-07-13 09:27] tomzawadzki commented on #2023
Patch fixing this issue has been merged.

[2021-07-13 09:27] #2023 closed

[2021-07-13 10:27] KKaras169169 commented on #2037
I was able to reproduce this on my development machine. The problem was: spdk_top would only check if poller had a busy counter larger than 0 and since our RPCs do not return a difference, only total values for poller busy count, the condition would always be true and red "Busy" would display.

This is a possible fix to this issue: https://review.spdk.io/gerrit/c/spdk/spdk/+/8755

[2021-07-13 11:58] spdkci commented on #2032
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_52687.html

[2021-07-13 12:55] tomzawadzki commented on #2019
@changpe1 Are you suggesting this issue is the same as #2020 and therefore this one can be closed ?

[2021-07-13 13:08] karlatec commented on #2005
So this seems to occur only on WFP9. I checked and tried a bunch of stuff:

- First I noticed WFP9 was not configured to use vfio-pci, so I fixed that, but no results.
- Updated NVMe drive FW, no results.
- Updated NIC (Mellanox ConnectX-4), no results.
- Set SELinux to "permissive", no results.
- Disable firewall, no results.

Other observations:

- Most of our systems which run nvmf-phy-autotest

[2021-07-13 13:11] spdkci commented on #2039
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_52702.html

[2021-07-13 13:12] karlatec commented on #2005
@jimharris could you take a look at the dmesg output in the comment above?

[2021-07-13 13:20] tomzawadzki commented on #1664
@EugeneKochetov @shuhei-matsumoto There has been considerable progress done on multipath patches. Could you please post an update whether sparse namespaces issue has been resolved or there is more to be done and this issue should remain open to track that ?

[2021-07-13 13:56] changpe1 commented on #2019
Yeah, so closing this issue for now, just leave #2020  opened.

[2021-07-13 15:06] tomzawadzki commented on #1989
[Bug scrub] Taking off the patches out for review label, until the patch submitted can be tested.

[2021-07-13 15:06] EugeneKochetov commented on #1664
Hi @tomzawadzki

Multipath patches do not address sparse namespaces issue. At least as far as get it. So, the issue should be kept open.

I'm actively working on patches right now. Review is in progress. There is quite a lot of conflicts with all the multipath related changes. I think, multipath should be merged first and then I will do a rebase and we will finalize this one.

[2021-07-13 15:20] tomzawadzki commented on #2005
[Bug scrub] Try checking if this is directly related to particular NIC, @karlatec will check if swapping it would resolve it.

[2021-07-13 15:24] tomzawadzki commented on #1973
[Bug scrub] This might be a duplicate of #2005, @karlatec will take a look at recent reports to confirm.

[2021-07-13 15:57] karlatec opened #2040 "Unnecessary whitespace in SPDK response to nvme discover query"
## Current Behavior

nvme-cli v1.14 has a new option for `discover` command which allows to print output in JSON format. I'd like to use it in improving `gen_nvme.sh` script, but currently SPDK gives response with a lot of whitespaces, for example:

[code]
(look at trsvcid and traddr) fields.

## Expected Behavior

For Kernel Target this seems to work fine:
[code]

## Steps to Reproduce

1. Downlo

[2021-07-13 16:20] tmakatos commented on #2019
@changpe1 this issue is not related to #2020. Rather, #2019 blocks reproducing #2020.

[2021-07-14 01:03] changpe1 commented on #2020
Patch has been merged, so closing this issue now.

[2021-07-14 01:03] #2020 closed

[2021-07-14 01:04] changpe1 commented on #2019
OK, since the patch for #2020 has been merged, so I close #2020 and reopen this one.

[2021-07-14 02:17] changpe1 commented on #2036
Here is a patch to optimize the error log https://review.spdk.io/gerrit/c/spdk/spdk/+/8766

[2021-07-14 05:00] spdkci commented on #2039
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_52855.html

[2021-07-14 05:21] spdkci commented on #1863
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_52764.html

[2021-07-14 05:22] spdkci commented on #1863
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_52768.html

[2021-07-14 08:26] KKaras169169 commented on #2040
I was able to reproduce it on my machine.

[2021-07-14 09:50] #2032 closed

[2021-07-14 11:04] spdkci commented on #1988
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_52905.html

[2021-07-14 11:36] krish-reddy opened #2041 "[nvmf-phy-autotest] Failed to init the trace resource"
00:03:18.533  ************************************
00:03:18.533  START TEST nvmf_filesystem_no_incapsule
00:03:18.533  ************************************

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/52910/archive/nvmf-phy-autotest/build.log

## Execution failed at

00:03:18.533  ************************************
00:03:18.533  START TEST nvmf_filesystem

[2021-07-14 11:38] spdkci commented on #2041
Another instance of this failure. Reported by @krish-reddy. log: https://ci.spdk.io/public_build/autotest-per-patch_52910.html

[2021-07-14 13:08] trochumski opened #2042 "SPDK test error when compiled with DPDK v20.11"
We have decided to run SPDK build versus LTS versions of DPDK.
When building SPDK against DPDK `v20.11` we encounter an error in `external_make_hello_no_bdev_shared_combo` test.

## Expected Behavior
All tests should pass.

## Current Behavior
Following error occurs:
`undefined reference to 'rte_version'`

[code]
## Steps to Reproduce
Run `autobuild.sh CONFIG_FILE`
With following config:
[code]

L

[2021-07-14 14:22] tmakatos opened #2043 "NVMf/vfio-user: assertion failure when spamming FLR"
Using SPDK b8b1f1922 (Debian guest, 8 vCPUs, KVM enabled), spammig FLR results in SPDK asserting. In the guest:
[code]
SPDK:
[code]

[2021-07-14 15:10] peluse commented on #1863
@mikeBashStuff I can't open that logfile on my mac for some reason.  Can you report as a tar?

[2021-07-14 15:17] mikeBashStuff commented on #1863
@peluse github won't accept it as .tar. But the file inside the .zip is just a compressed one with xz (I can't upload it here uncompressed since it's ~100MB in size).

[2021-07-14 15:36] tmakatos commented on #2008
Maybe Windows is mis-identifying the NVMe controller for something else and thinks it supports vendor-specific log page 0xC1? E.g. I've found this value here: https://www.opencompute.org/documents/nvme-cloud-ssd-specification-v1-0-3-pdf.

[2021-07-15 02:34] optimistyzy commented on #2042
@trochumski The link address is a internal link. Could you update it?

[2021-07-15 03:28] spdkci commented on #2030
Another instance of this failure. Reported by @the-castle. log: https://ci.spdk.io/public_build/autotest-per-patch_53015.html

[2021-07-15 03:41] feixue1860 opened #2044 "Request to return bdev name during bdev_nvme_attach_controller and respone "File exist""
We need create bdev by ourself, sometimes, we use rpc command (bdev_nvme_attach_controller) to create a bdev, it response as below:
Got JSON-RPC error response
response:
{
  "code": -17,
  "message": "File exists"
} res:1

## Expected Behavior

Can you response "File exist", and also response the bdev name also?
If you reply with the bdev name, i can use it directly. Thanks.

## Current Behavior

[2021-07-15 05:48] dong-liuliu commented on #2044
hi, feixue,

When response result error code is "-17" as EEXIST, the failure reason is also probably that your specified NVMe Transport ctrlr is already attached, not bdev_name.

Can you also check the error info printed from SPDK app? More error details were there.

[2021-07-15 06:00] feixue1860 commented on #2044
Yes, i  want to get the bdev name if the device is already attached.
Another question, how we can check wehther the specified NVMe Transport ctrlr attached or not? and can we get bdev by the BDF name?

[2021-07-15 06:09] AlekseyMarchuk commented on #2044
@feixue1860 you can run `bdev_get_bdevs` RPC command, it will print transport address for bdev_nvme (and other bdevs). You only need to parse output
[code]

[2021-07-15 06:11] rahulndr commented on #2035
Thanks for the response @optimistyzy.
I see there are two supported nqn formats as per spec. I am not clear whether "" (empty string) is considered a valid nqn format during connection. wireshark clearly indicates that the hostnqn format is "" and still target accepts the connection.

Can you pls shed some light on why blank hostnqn is considered a valid one ?

[2021-07-15 06:17] AlekseyMarchuk commented on #2035
@rahulndr if you don't specify nqn in perf tool, it will connect to discovery subsystem (it's nqn is predefined), get discovery log page (it contains all subsystems on the target) and connect to every port on every subsystem. You can refer to `nvme_fabric_ctrlr_discover` in nvme_fabric.c

[2021-07-15 06:35] changpe1 commented on #2044
You can use bdev_nvme_get_controllers to see the specified controller bdev is exist or not before  bdev_nvme_attach_controller, if it still can't meet your requirements, you may develop a new RPC by yourself and contribute back to SPDK. @feixue1860

[2021-07-15 07:06] feixue1860 commented on #2044
@changpe1 bdev_nvme_get_controllers is also a rpc call, can we use some api to check/get directly? and for rpc  bdev_nvme_get_controllers, the parameter  is the prefix name of bdev, and the output not show the bdev name just the contrller name.

[2021-07-15 07:19] changpe1 commented on #2044
OK, you may not rely on us to provide such requirements from you, I encourage you do it by yourself,  :).

[2021-07-15 07:23] changpe1 commented on #2043
CREATE IO QUEUE PAIR is a synchronous API while the NVMf library is using a poller to connect this queue pair, so here we need to process CREATE/DELETE IO QUEUE PAIR in the asynchronous way. I will provide a fix.

[2021-07-15 07:38] changpe1 commented on #1907
https://review.spdk.io/gerrit/c/spdk/spdk/+/8765 and https://review.spdk.io/gerrit/c/spdk/spdk/+/8766 will address the noise logs.

[2021-07-15 07:58] wanghailiangx opened #2045 "rpc: save_config can't save all bdevs into a json file"
When we created a lvol bdevs as below steps, then run RPC save_config to a json file.
We will find save_config can't save lvol bdevs. Here is an example of aio base bdev, and NVMe base bdev has the same problem.

## Expected Behavior

[code]

## Current Behavior

[code]

## Possible Solution

Check save_config code.

## Steps to Reproduce

1. start a target , ./test/app/bdev_svc/bdev_svc
2. build

[2021-07-15 08:10] mikeBashStuff commented on #2003
Ok, I give up, I cannot reproduce this. I got myself the very same version of the centos7 as on the affected system but it still just works on my end. Used the same test as from the description as well (same bash, python3, etc.):
[code]
I would suggest to switch to a newer version of centos or at least upgrade centos7 to 7.9 and see if that changes anything.

[2021-07-15 08:17] Comphix commented on #2044
If need to call the API directly, may take a look at below API:

struct nvme_ctrlr *nvme_ctrlr_get_by_name(const char *name);

[2021-07-15 08:26] Comphix commented on #2044
Or below one with transport_id (BDF as local attached)

struct nvme_ctrlr *nvme_ctrlr_get(const struct spdk_nvme_transport_id *trid);

[2021-07-15 08:28] changpe1 commented on #2043
Here is the patch for Create IO SQ https://review.spdk.io/gerrit/c/spdk/spdk/+/8786, the Delete IO SQ also need a patch.

[2021-07-15 11:22] mikeBashStuff opened #2046 "nvmf_host_management test failed"
https://ci.spdk.io/results/autotest-per-patch/builds/53052/archive/nvmf-vg-autotest/build.log

[code]

[2021-07-15 11:23] spdkci commented on #2046
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_53052.html

[2021-07-15 12:48] trochumski commented on #2042
@optimistyzy Sorry, my bad - link updated

[2021-07-15 13:59] karlatec commented on #2005
Swapped NIC and re-enabling WFP9 in the test pool. Let's see what happens.

[2021-07-15 15:29] jimharris commented on #2045
Hi @wanghailiangx,

This is expected behavior.  lvol metadata is stored on the aio (or nvme) bdev.  After you run bdev_aio_create RPC, the lvol bdev module will read the metadata on the aio bdev and recreate the lvol bdevs automatically.

-Jim

[2021-07-15 15:47] peluse commented on #1863
[
[log.txt](https://github.com/spdk/spdk/files/6824502/log.txt)
](url)

[2021-07-15 15:48] peluse commented on #1863
Prev entry is a snippet of the giant log file with nvmf debug turned on. The only difference I can see is that with the passing case all the log messages of READ and SUCCESS are almost ping pong, sometimes 2 in a row.  On the failing cases there are always a long serries of READ messages then a long series of SUCCESS

[2021-07-15 18:31] jimharris commented on #2008
Some Intel SSDs also support a 0xC1 vendor-specific log page for getting read command latency histograms.

Could you try changing the vfu_set_pci_id call to specify some different PCI device and vendor IDs?  Specifically try 0x8086  vendor ID with a few different random device IDs.  I'm curious if you see any change in behavior on the vendor-specific log pages.

[2021-07-16 02:50] wanghailiangx commented on #2045
@jimharris Thank you for your explanation. Now close this issue.

[2021-07-16 02:50] #2045 closed

[2021-07-16 06:06] karlatec commented on #1973
Most of the available reports, maybe except for one, seem to be the same issue as #2005. Closing.

[2021-07-16 06:06] #1973 closed

[2021-07-16 07:20] #2036 closed

[2021-07-16 11:15] tmakatos commented on #2008
I tried 0x8086 as the vendor ID and 0xf1b0 as the device ID (which according to https://pci-ids.ucw.cz/read/PC/8086 is unused), same behavior.

[2021-07-16 14:26] rafalste opened #2047 "[reactor_set_interrupt] Timeout while waiting for response (rpc.py --plugin interrupt_plugin reactor_set_interrupt_mode 0)"
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/50521/archive/ubuntu18-vg-autotest/build.log

## Execution failed at

[code]

[2021-07-16 18:30] gp2017 opened #2048 "NVMeofTCP SPDK host abort test"
I am using  NVMeofTCP SPDK host  and running IO abort test ( build/examples folder) to test my NVMeofTCP target.  I am running abort test with different queue depth like 4, 8, 16, 32.
Test completes  fine for queue depth 4, 8, and 16 but it hangs and seems to be in some kind of continuous loop  for queue depth 32.
## Expected Behavior
Abort test should not hang with "-q 32" parameter.

Abort test

[2021-07-16 18:45] jimharris commented on #2048
Hi @gp2017,

Can you clarify "my NVMeofTCP target"?  Is this something different than the Linux kernel NVMe/TCP or SPDK NVMe/TCP target?

Thanks,

Jim

[2021-07-16 18:53] gp2017 commented on #2048
Hello Jim,
I am running this abort test with my hardware NVMe/TCP target.
Yes, my target is different from Linux Kernel NVMe/TCP Target or SPDK NVMe/TCP Target.
Thanks,
GP

[2021-07-16 19:18] gp2017 commented on #2048
Hello Jim,

I am using the SPDK abort test with my hardware NVMe/TCP target which is
different from Linux Kernel or SPDK NVMe/TCP target.

Thanks,
GP

On Fri, Jul 16, 2021 at 11:45 AM Jim Harris ***@***.***>
wrote:

[2021-07-16 19:46] jimharris commented on #2048
I am suspicious that this fails at QD=32 and that the default admin queue size is also 32.  We certainly should make sure the admin queue is big enough to handle all of the aborts that the test app is sending.

Could you try this patch?  https://review.spdk.io/gerrit/c/spdk/spdk/+/8812

The patch has only been compile tested, I've run no actual tests with it.  If the patch works for the QD=32 case

[2021-07-16 19:48] gp2017 commented on #2048
sure, I will try this patch and let you know.

Thanks,
GP

On Fri, Jul 16, 2021 at 12:46 PM Jim Harris ***@***.***>
wrote:

[2021-07-16 22:18] jimharris commented on #2005
MCX416A-CCAT: ConnectX-4 EN network interface card, 100GbE single-port QSFP28, PCIe3.0 x16, tall bracket
MCX456A-ECAT: ConnectX®-4 VPI adapter card, EDR IB (100Gb/s) and 100GbE, dual-port QSFP28, PCIe3.0 x16, tall bracket

Not sure why only one of these would show a problem.  Tagging @AlekseyMarchuk in case he has any ideas...

QID 0 means the initiator saw a timeout on the adminq.  Presumably it'

[2021-07-16 23:26] jimharris commented on #1933
Patch has been merged.  This issue can be closed, but should we also close #2028?

[2021-07-16 23:52] jimharris commented on #2039
We may need to add a short sleep before the NOT ps check.  It's possible that the Python process for the framework_wait_init RPC hasn't fully exited after the framework_start_init RPC completes.

Note that just after this part of the script, we do another framework_wait_init and then do a 'sleep 1' before a similar NOT ps check.

@mikeBashStuff would you submit a patch to make this change?

[2021-07-19 01:32] optimistyzy commented on #1749
https://review.spdk.io/gerrit/c/spdk/spdk/+/8813

[2021-07-19 07:27] ksztyber commented on #1933
@jimharris, no it's a different issue that isn't addressed by Tomek's patch.

[2021-07-19 07:31] optimistyzy commented on #1933
Hi @ksztyber, So let's reopen this issue? Thanks

[2021-07-19 07:42] ksztyber commented on #1933
Hi @optimistyzy, I was talking about #2028, not this one. I think we need to keep #2028 open, but this one should be closed.

[2021-07-19 07:42] #1933 closed

[2021-07-19 07:45] changpe1 commented on #1907
Get Features with feature ID Interrupt Coalescing (Feature Identifier 08h) and Interrupt Vector Configuration (Feature Identifier 09h) is supported now, so closing this issue for now.

[2021-07-19 07:45] #1907 closed

[2021-07-19 09:46] rafalste opened #2049 "[ocf_bdevperf_iotypes] bdev_malloc.c: 410:create_malloc_disk: *ERROR*: malloc_buf spdk_zmalloc() failed"
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/50952/archive/nvme-phy-autotest/build.log
https://ci.spdk.io/results/autotest-per-patch/builds/50952/archive/nvme-vg-autotest/build.log

## Execution failed at

[code]

`test/common/autotest_common.sh` tries to allocate 4096 MB of hugepage memory and it seems to not be enough.
Although, when I test it locally on a

[2021-07-19 10:26] tomzawadzki commented on #2049
This does not look like a false positive. Please note that it was only reported for single patch upgrading the OCF version.
@rafalste Can you please take a look what might be the cause and how to address it ?

[2021-07-19 10:32] rafalste commented on #2049
Ok, I'll take a deeper dive into it.

[2021-07-19 17:30] rahulndr commented on #2035
Hello Aleksey,

Thanks for the response. This issue is about hostnqn not target nqn. As per
spec , if there is any syntax error in hostnqn then it should return a
proper error code.
blank hostnqn ("") should be considered as an error here but SPDK allows
connection to establish.

Hope this helps. Pls let me know if you need any information.

On Thu, Jul 15, 2021 at 11:47 AM Aleksey Marchuk ***@***

[2021-07-19 20:08] tmakatos commented on #2009
With the latest vfio-user patches (https://patchew.org/QEMU/cover.1626675354.git.elena.ufimtseva@oracle.com/) applied on master QEMU I can start a Windows VM as follows:

[code]

I accidentally discovered that `-machine pc-q35-3.1 -vnc :0` is essential for Windows to work. Then I get the same errros I've previously reported.

[2021-07-20 02:14] optimistyzy commented on #2042
I think that we did not add -lrte_version while linking dpdk libraries. //Currently, dpdk complication is generated from pkgconfig. So I did not find the explicit library name setting yet.

[2021-07-20 02:35] changpe1 commented on #2009
Thanks, I will download this QEMU version and try with Windows image.

[2021-07-20 09:49] karlatec commented on #2005
I think so. I've run the test in a loop with `nvme connect -i={1 / 4 / 8 / 16 / 32 / 64}` and could not reproduce the issue. Which is weird for 64 actually because (looking at dmesg output) it's the same what nvme connect does without `-i` option. Could have just been lucky.

Anyways, swapping the NIC to more recent model - MCX516A-CDAT - seems to have solved the issue. Should I close the issue, o

[2021-07-20 10:09] zhuohaofan opened #2050 "bdev_nvme_attach_controller timeout"
## Expected Behavior
add success

## Current Behavior
There are a total of four Samsung 980Pro NVMe SSDs on my machine.
Normally, it will time out when create the second or third nvme bdev.
The error message printed is as follows:
Timeout while waiting for response:

Timeout while waiting for response:

## Possible Solution

## Steps to Reproduce

1. setup SPDK
./scripts/setup.sh
2. start spdk_tgt

[2021-07-20 11:31] spdkci commented on #2049
Another instance of this failure. Reported by @rafalste. log: Not Found

[2021-07-20 11:33] spdkci commented on #2047
Another instance of this failure. Reported by @rafalste. log: https://ci.spdk.io/public_build/autotest-per-patch_50521.html

[2021-07-20 11:57] feixue1860 commented on #2044
Hi， i saw other guy submit the issue that sometimes bdev_nvme_attach_controller timeout, i also meet this issue, can u guide how to check it? should we modify the timeout time in somewhere?

[2021-07-20 13:18] tomzawadzki commented on #2043
Patch fixing this issue has been merged.

[2021-07-20 13:19] tomzawadzki commented on #1749
Patch fixing this issue has been merged.

[2021-07-20 13:19] #1749 closed

[2021-07-20 13:25] tomzawadzki commented on #2050
Hi @zhuohaofan Can you post logs from the spdk_tgt application ?

As well please make sure to use SPDK LTS 21.01 LTS, latest release (21.04) or current master branch. Just in case the issue has already been fixed.

[2021-07-20 14:20] AlekseyMarchuk commented on #2005
I didn't hear about problems with MCX416A-CCAT. I'll ask my colleagues if they know something

[2021-07-20 17:03] karlatec commented on #2042
@optimistyzy is it even available in DPDK 20.11? For example when I search for rte_version.c in DPDK 21.05:

[code]

but for DPDK 20.11 I cannot find it:
[code]

[2021-07-21 01:59] optimistyzy commented on #2040
I see in nvmf_tcp_discover/nvmf_rdma_discover, we used string len pad, so there is additional space. Will submit a patch to address this.

[2021-07-21 02:39] changpe1 commented on #2009
I tested Window10 with QEMU emulated NVMe and it can start successfully, while when I switched to vfio-user emualted NVMe device, it will fail to start, and Windows will issue controller reset several times, so I think this issue most likely related with SPDK vfio-user,  there are some responses don't meet Windows NVMe driver.

[2021-07-21 02:44] changpe1 commented on #2009
[windows_qemu_nvme.txt](https://github.com/spdk/spdk/files/6852421/windows_qemu_nvme.txt)

[2021-07-21 03:59] optimistyzy commented on #2040
@karlatec Could you test this patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/8856 ?

[2021-07-21 07:27] AlekseyMarchuk commented on #2005
@karlatec We found MCX416A-CCAT: ConnectX-4 EN, I want to reproduce this issue on my setup. Could you clarify OS version and which rdma drivers are used- inbox or some ofed/mofed?

[2021-07-21 07:38] #1995 closed

[2021-07-21 07:38] #2037 closed

[2021-07-21 08:24] tmakatos commented on #2009
Do you mean that Windows issues NVMe requests that SPDK never processes and issues responses? If so, can you show which requests are those?

[2021-07-21 08:33] Maciej-Szwed opened #2051 "Cannot attach NVMe when using uio_pci_generic"
Running:

[code]

Results in:

[code]

With vfio-pci driver everything works correctly. Tested on current master (https://github.com/spdk/spdk/commit/153f03cf42880f083dad9de71bc73e287bf7f997) on 3 machines.

[2021-07-21 08:42] mikeBashStuff commented on #2051
Works fine on my side. But don't you have to disable iommu for uio to work properly (I have it disabled on my box)? Also,  here's a note from DPDK (https://doc.dpdk.org/guides/linux_gsg/linux_drivers.html):

[2021-07-21 09:06] Maciej-Szwed commented on #2051
I missed that information and I have iommu enabled. In that case let's close this issue as it is not an issue.

[2021-07-21 09:06] #2051 closed

[2021-07-21 12:27] ksztyber commented on #1648
Patch set 1 ran twice:
https://review.spdk.io/gerrit/c/spdk/spdk/+/8842/1

[2021-07-21 18:26] spdkci commented on #2039
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_53653.html

[2021-07-22 02:40] optimistyzy commented on #2035
I do not mean that the blank hostnqn is a valid one. I mean if we open the check, but the current linux kernel still sends this format 07e4a0a641d54bff96b28a173dcfb6b5  but one this one 11111111-2222-3333-4444-555555555555.  So I think that we face a issue to choose. So this is why we do not check it. Adding a check to handle blank one is easy.

[2021-07-22 02:46] optimistyzy commented on #2035
It is simple to check the blank case. What I mean is about the spec, which kinds of hostnqn should be really supported. SPDK has the function to check this format "11111111-2222-3333-4444-555555555555".  Currently in our path, we did not check the whether the hostnqn is valid.

[2021-07-22 04:05] changpe1 commented on #2046
[Bug Scrub] let's keep it open here, it's a soft Roce environment.

[2021-07-22 04:09] optimistyzy commented on #2035
For uuid, I did not see two kinds of format.  So this is a question, for SPDK side, we need 36 bytes for uuid string, but kernel initiator sends 32bytes uuid without -.  So SPDK does not check hostnqn format.

[2021-07-22 04:22] changpe1 commented on #2041
[Bug Scrub] this maybe a intermittent failure caused by this patch, so let's keep it open for a while to see it can happen again.

[2021-07-22 04:32] benlwalker commented on #2035
This was an intentional choice. Many initiators send invalid hostnqn values and there's no downside to supporting those. The hostnqn is ultimately just a string, even if not formatted correctly. I'm going to close this issue for that reason.

If you'd like, we'd accept a patch that adds an optional parameter to turn on a "strict" mode that does enforce the hostnqn format, if you wanted to submit o

[2021-07-22 04:32] #2035 closed

[2021-07-22 04:33] changpe1 commented on #2042
[Bug Scrub] @karlatec This maybe a bug in SPDK, can you take a look?

[2021-07-22 04:40] changpe1 commented on #2044
RPC has a default timeout value, some drives may need longer that that timeout value, but it doesn't mean errors.

[2021-07-22 04:41] #2044 closed

[2021-07-22 05:54] spdkci commented on #2039
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_53769.html

[2021-07-22 05:58] spdkci commented on #2039
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_53775.html

[2021-07-22 06:31] spdkci commented on #1950
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_53764.html

[2021-07-22 06:36] dong-liuliu commented on #2047
Several reasons may cause this no RPC response: 1. SPDK app hang 2. failed to complete reactor mode swith progress  3. Response didn't passed out through RPC conn.

Considered several corner cases about the mode-switch progress, but all of them were ok. And from the test build log, the mode-switch progress was already completed successfully.  I just raised a patch to print the information of threa

[2021-07-22 06:51] spdkci commented on #1863
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_53569.html

[2021-07-22 07:10] spdkci commented on #1863
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_53765.html

[2021-07-22 09:00] KKaras169169 commented on #2040
According to the NVM Express Base Specification 2.0 (section 1.4.2): "The string is left justified and shall be padded with spaces (ASCII character 20h) to the right if necessary." - This means that printing spaces behind our values is not a problem and handling those should be done on the nvme-cli side.

[2021-07-22 09:49] spdkci commented on #1863
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_53837.html

[2021-07-22 09:52] spdkci commented on #2039
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_53836.html

[2021-07-22 11:43] ksztyber opened #2052 "[iscsi-uring-vg-autotest] ip_migration failure"
Seems like the test failed when trying to bind a socket to an address:

[code]

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_53683.html
https://ci.spdk.io/results/autotest-per-patch/builds/53683/archive/iscsi-uring-vg-autotest/build.log

## Execution failed at

[code]

[2021-07-22 11:45] spdkci commented on #2052
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_53683.html

[2021-07-22 12:08] ksztyber commented on #2052
Patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/8902

[2021-07-22 13:04] spdkci commented on #1863
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_53866.html

[2021-07-23 01:31] optimistyzy commented on #2040
For trscvid:

"Transport Service Identifier (TRSVCID): Specifies the NVMe Transport service identifier as an
ASCII string. The NVMe Transport service identifier is specified by the associated NVMe
Transport binding specification.  "

It does not mention padding with ASCII.

For TRADDR:
Transport Address (TRADDR): Specifies the address of the NVM subsystem that may be used
for a Connect command as

[2021-07-23 02:15] changpe1 commented on #2009
I think this issue is related with the IRQ setting, I can only see 1 IO command sent from Windows, here is the test scenarios I tried:

1. SPDK enable Write Cache by default, Windows will submit a FLUSH command, and SPDK return the successful response, controller will reset after 40 seconds.
2. Disable Write cache in SPDK, Windows will submit a READ command, and SPDK return the successful response

[2021-07-23 06:39] ChengqiangMeng opened #2053 "[spdk_top] Confusing location and historical cache errors in Fedora OS"
When switching tabs, the error will be displayed in the Fedora OS environment, and Centos and Ubuntu are normal.

## Expected Behavior
![normal](https://user-images.githubusercontent.com/77378851/126741584-28d7f5e8-4e0d-4636-8974-fe2d0a6a23e9.JPG)

## Current Behavior

![spdk_top](https://user-images.githubusercontent.com/77378851/126741629-996ed2ee-0a75-46ef-8d78-a0d73649c414.JPG)

![spdk_top1](h

[2021-07-23 07:15] spdkci commented on #1863
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_53926.html

[2021-07-23 07:18] spdkci commented on #1863
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_53927.html

[2021-07-23 09:05] tomzawadzki commented on #1648
Patch set 2 ran twice:
https://review.spdk.io/gerrit/c/spdk/spdk/+/8914/2

[2021-07-23 09:54] hyswtj opened #2054 "blobfs rocksdb db_bench performance degradation in multi threads mode"
I have a test with blobfs rocksdb, performance degradation  in multi threads mode
## Expected Behavior

performance growth with thread number.

## Current Behavior

    threads      	         ops
------------------------------------
	1 			1231088
	2			612148
	4			535236
	8			580043
	16			748137
SPDK v21.04 / DPDK 20.05.0
rocksdb-6.15.fb
SSD：INTEL P4610

[2021-07-23 16:30:10.055101] Starting SPDK v

[2021-07-26 02:21] zhuohaofan commented on #2050
Has been updated to v21.04. In order to facilitate the test, I wrote a simple script called "timeout_test.sh" as follows to create nvme bdev in a loop. I ran the script twice, and it was timeout on the seventh time.

`csi@node23:~/spdk-v21.04$ cat timeout_test.sh
#!/bin/bash

for ((i = 0; i < 10; i++))
do

./scripts/setup.sh
sleep 2

./build/bin/spdk_tgt -m 0x0000ff0000ff &
sleep 2

./scripts/rpc.

[2021-07-26 02:26] zhuohaofan commented on #2050
BTW, once the timeout occurs, I need to restart the server to use the timeout nvme ssd again. Otherwise, "no driver" will be displayed when setting up spdk. Is there an easier way instead of restarting the server?
`**0000:af:00.0 (144d a80a): no driver -> vfio-pci**
0000:00:04.7 (8086 2021): ioatdma -> vfio-pci
0000:b0:00.0 (144d a80a): nvme -> vfio-pci
0000:3c:00.0 (144d a80a): nvme -> vfio-pci
0

[2021-07-26 02:42] changpe1 commented on #2008
I also tried different vendor IDs, include QEMU emulated NVMe device ID, Windows will always sends the vendor specific log pages, but the unsupported vendor specific logs don't affect anything, just return error is fine here.

[2021-07-26 02:45] changpe1 commented on #2007
See issue #2008, it's not a fatal error if SPDK didn't support this.

[2021-07-26 02:45] optimistyzy commented on #2050
How about the following function:

nvme_pcie_ctrlr_allocate_bars(struct nvme_pcie_ctrlr *pctrlr)
{
        int rc;
        void *addr = NULL;
        uint64_t phys_addr = 0, size = 0;

        rc = spdk_pci_device_map_bar(pctrlr->devhandle, 0, &addr,
                                     &phys_addr, &size);

        if ((addr == NULL) || (rc != 0)) {
                SPDK_ERRLOG("nvme_pcicfg_map_bar

[2021-07-26 02:49] changpe1 commented on #2004
See issue #2007 and #2008, it's not a fatal error that SPDK didn't support this command, but we can optimize one Set Features Interrupt Coalescing with Feature Not Changeable  command specific error status instead of Invalid SC.

[2021-07-26 03:04] zhuohaofan commented on #2050
It will still time out after commenting out these two lines of code. And every time an nvme bdev is created, some error messages will be printed. as follows:
`[2021-07-26 03:00:37.385436] accel_engine.c: 852:spdk_accel_engine_initialize: *NOTICE*: Accel engine initialized to use software engine.
3
[2021-07-26 03:00:42.211625] nvme_pcie_common.c: 106:nvme_pcie_ctrlr_alloc_cmb: *ERROR*: Tried to all

[2021-07-26 03:15] optimistyzy commented on #2050
@zhuohaofan Can you confirm that the timeout is always no the same NVME SSD? or randomly timeout on any nvme ssd? (if you test it using SPDK master branch)

[2021-07-26 03:34] zhuohaofan commented on #2050
I think it is random. We have 4 nvme ssds and timeouts have occurred in all three of them, except for the first one. And an interesting phenomenon is that the later SSDs are more likely to time out. For example, the third and fourth SSDs have a higher probability of overtime.
So I guess it is because some of the resources applied for when spdk_tgt are started are not enough, so the later SSDs are

[2021-07-26 04:33] changpe1 commented on #1962
It's not related with SPDK, so closing it for now.

[2021-07-26 04:33] #1962 closed

[2021-07-26 06:59] KKaras169169 commented on #2040
I asked people on nvme-cli side if this could be resolved on their end, and got and OK from them. We might want to keep this issue open, as a reminder, until the issue actually gets resolved.

[2021-07-26 08:31] tomzawadzki commented on #2040
Leaving the nvme-cli issue as reference https://github.com/linux-nvme/nvme-cli/issues/1117. @KKaras169169 thanks for reaching out !

[2021-07-26 10:43] ksztyber commented on #2028
Patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/8918

[2021-07-26 15:04] MattDumm opened #2055 "nvmf_tgt hits heap-use-after-free in poll_group_update_subsystem() during hotplug testing"
I'm seeing a heap-use-after-free abort reported by asan, while doing hotplug tests where drives get removed and re-added a bunch of times against an nvmf target. The nvmf target code is based on spdk 20.10 but includes some local changes.

After a bunch of hotplugging, asan sometimes catches a heap-use-after-free dereference of a qpair pointer for an admin_qpair that appears to have been recently

[2021-07-27 01:15] #2054 closed

[2021-07-27 03:12] changpe1 commented on #2019
I just tested in my environment, and the Seabios worked for me to boot from it. Here is the steps I used:
1. Create a raw image
2. scripts/rpc.py bdev_aio_create /root/fedora_33_raw.img aio_bdev0 512

The command line in QEMU is `device vfio-user-pci,socket=/var/run/muser/domain/muser1/9/cntrl,bootindex=0`

[2021-07-27 04:11] changpe1 commented on #2019
I think the key part is that you are using 4096 as the block size, when I use 4096 as the block size, I see the same issue, but 512 works well.

[2021-07-27 07:37] optimistyzy commented on #2054
@hyswtj I see this issue was closed by you. Could you add some descriptions for why closing this issue

[2021-07-27 08:17] #2052 closed

[2021-07-27 08:59] AlekseyMarchuk commented on #2055
Hi @MattDumm this particular issue should already be fixed by Jim Harris in this patchset: https://review.spdk.io/gerrit/c/spdk/spdk/+/8570. It fixes a bit different scenario (admin qpair is not assigned when poll group is updated) but I believe it should cover controller disconnect case as well. The fix is included into SPDK 21.07 which is released this week. Could you try to run your test with t

[2021-07-27 09:33] tomzawadzki commented on #1989
@peluse @optimistyzy any updates on testing patch https://review.spdk.io/gerrit/c/spdk/spdk/+/8233 ?

[2021-07-27 09:45] KKaras169169 commented on #2053
I am unable to reproduce this on my setup with fedora 34. I used both newest master branch and branch with 49ffdc1 on top. I will try with the oldest Fedora version that you mentioned (28) now.

[2021-07-27 12:35] tomzawadzki commented on #1630
This issue still occurs. Please see a recent build of merged patch https://ci.spdk.io/results/autotest-per-patch/builds/54345/archive/lvol-vg-autotest/build.log.

This is specific to lvolstore. `bdev_finish_unregister_bdevs_iter` calls `spdk_bdev_unregister`, but the `vbdev_lvol_unregister` only closes the lvol. It will not call `spdk_lvs_unload` for the lvolstore itself, meaning that underlying b

[2021-07-27 12:38] tomzawadzki commented on #1694
@gwnet when you get a chance, please update the patch addressing the review feedback there. When done, you can put the 'Patches out for review' label again.

[2021-07-27 12:47] KKaras169169 commented on #2053
I still cannot reproduce it on Fedora 29. Tried the newest master and the 49ffdc1 as well with no change in spdk_top's behavior.

[2021-07-27 13:45] mhae commented on #2055
@AlekseyMarchuk , thanks for the pointer. However, this fix won't apply here because the admin_queue was set before and now contains an already freed pointer in our scenario.
When we free the RDMA admin qpair, we should set the ctrlr->admin_qpair to NULL. We've tried that but run into other issues where the ctrlr may not be set yet (Matt has more details).

[2021-07-27 13:50] tmakatos commented on #2009
One other thing I noticed is that under Disk Drives in Device Manager I see 64 "NVMe SPDK bdev Contro" disks instead of 1. I set the max number of namespaces to 1 via  `nvmf_create_subsystem nqn.2019-07.io.spdk:cnode0 --max-namespaces=1 ...` and then get the right number of disks.

[2021-07-27 14:38] mhae commented on #2055
@AlekseyMarchuk , I this is tricky to reproduce. We do actual drive hot plugs while an (NVMF) initiator is connected. It doesn't happen all the time and needs to run for quite some time. We have a whole infrastructure to test this with actual HW.

The bottom line is that an initiator can disconnect (see nvmf_rdma_qpair_process_ibv_event in above output) while the subsystem is paused due to the dri

[2021-07-27 14:47] tmakatos commented on #2019
Then I suppose this is something that we need to fix in SeaBIOS.

[2021-07-27 14:50] tmakatos commented on #2009
Another test we can try is to pass through a physical NVMe controller to Windows and compare the VFIO trace with ours. We might have to disable `-enable-kvm` to make sure we can track the interrupts. @changpe1 what do you think?

[2021-07-27 14:50] mikeBashStuff commented on #2039
@jimharris Ah, apologies, I completely missed your message. Sure, I will try to push something asap.

[2021-07-27 14:56] tmakatos commented on #2043
@tomzawadzki FLR doesn't work, see my comment here: https://review.spdk.io/gerrit/c/spdk/spdk/+/7689

[2021-07-27 14:57] changpe1 commented on #2009
I used the same QEMU version as yours, but this QEMU can't start Window if I removed 'enable-kvm' option(no vfio-user-pci at all).

[2021-07-27 14:58] tmakatos commented on #2009
OK, then can we try with `-enable-kvm` and see how it differs?

[2021-07-27 14:59] changpe1 commented on #2009
Yeah, I will try that.

[2021-07-27 15:05] tomzawadzki commented on #1863
[Bug scrub] @peluse do you have some suggestions on next steps, as additional tests or logs that could help narrow down the cause ?

[2021-07-27 15:06] karlatec commented on #2005
@AlekseyMarchuk  sorry I missed the question. OS is 5.11.22-100.fc32.x86_64 and driver is inbox from Fedora DNF

[2021-07-27 15:08] tomzawadzki commented on #2048
[Bug scrub] @mikeBashStuff Will take a look at adding functional test case covering this issue.

[2021-07-27 15:13] tomzawadzki commented on #2050
[Bug scrub] There is coverage for attachment of multiple nvme devices in the tests, so that's hard to tell what might be the issue.
Can you share details on the NVMe devices and platforms used ? What is the NVMe version reporting by the device ?

[2021-07-27 15:19] peluse commented on #1863
Yes, I have some next steps that I'll be working on this week

[2021-07-27 15:24] tomzawadzki commented on #1819
[Bug scrub] @karlatec reports that this no longer occur on the CI system.
@shuhei-matsumoto there were two patches merged from you fixing the issue in parts. Can you confirm it has been fixed and we could close the issue ?

[2021-07-27 15:33] KKaras169169 commented on #2053
@ChengqiangMeng Could you also provide the version of NCURSES that you use?
I tested running spdk_top with v1.266 (Fedora 34), v1.257 (Fedora 28) and v1.263 (Fedora 29).

[2021-07-27 18:32] jimharris commented on #2042
So I think this is pointing out a bug in the test_make.sh test script.

Note that test_make.sh runs configure multiple times, to test different linking scenarios (primarily static v. shared).  But one thing it does *not* do is specify an out-of-tree DPDK build.  This means that SPDK is being compiled against the DPDK submodule - not the DPDK v20.11 specified in the CONFIG_FILE.

But autobuild.sh p

[2021-07-27 19:10] jimharris commented on #2042
Moving to low, since this looks like a test issue, not a functional issue.

[2021-07-27 19:48] MattDumm commented on #2055
@AlekseyMarchuk , thanks for looking at this one. As @mhae said, the null check for the ctrlr->admin_qpair pointer (https://review.spdk.io/gerrit/c/spdk/spdk/+/8570) does not cover our current problem. We would also need ctlrl->admin_qpair to be set to null when the admin qpair is destroyed so we don't accidentally try to use it again in a situation like a subsystem update.

I tinkered with changi

[2021-07-27 21:17] shuhei-matsumoto commented on #1819
@tomzawadzki Thank you. Yes, @yidong0635 verified the patches locally too and we can close this issue. Let's reopen if reported again.

[2021-07-27 21:17] #1819 closed

[2021-07-27 21:19] shuhei-matsumoto commented on #1801
The last report was a few months ago. Close this issue. Let's reopen if reported again.

[2021-07-27 21:19] #1801 closed

[2021-07-28 02:05] hyswtj commented on #2054
The question is my wrong test operation, so the issue is wrong.Close it.

[2021-07-28 02:07] optimistyzy commented on #2054
Got it, thanks.

[2021-07-28 02:17] changpe1 commented on #2009
[windows_qemu_vfio.txt](https://github.com/spdk/spdk/files/6889813/windows_qemu_vfio.txt)
[windows_qemu_vfio_user.txt](https://github.com/spdk/spdk/files/6889814/windows_qemu_vfio_user.txt)

Here are the vfio trace when staring vfio-user-pci and vfio-pci, I don't see obvious difference between the two devices.

[2021-07-28 02:32] ChengqiangMeng commented on #2053
@KKaras169169 I see that my version of NCURSES is v1.264 (Fedora 32)  v1.263 (Fedora 30)   v1.266 (Fedora 34)   v1.257 (Fedora 28)  and v1.263 (Fedora 29). I updated my code to the latest(95a59652f97ef12d680ec2125794831f7f471221, I also test with 49ffdc18afc639a8f59e87e2e0945a379ced497b) and this issue still occurs.

[2021-07-28 06:13] spdkci commented on #1863
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_54400.html

[2021-07-28 06:31] changpe1 commented on #2009
I used the trapped MMIO and INTx interrupt to print the vfio trace, and got the following trace at last:

Get Log Page:
vfio_region_write  (VFIO user </var/run/muser/domain/muser1/9/cntrl>:region0+0x1000, 0x14, 4)
vfio_intx_interrupt  (VFIO user </var/run/muser/domain/muser1/9/cntrl>) Pin A
vfio_region_mmaps_set_enabled Region VFIO user </var/run/muser/domain/muser1/9/cntrl> BAR 0 mmaps enabled: 0

[2021-07-28 06:43] changpe1 commented on #2009
Another exception here is for INTx mode, there is only one Pin A, but for Interrupt Mask Set/Clear accesses, we can see for ADMIN command the value is 0x1, while for Flush command, the value is 0x2.

There might something wrong for the configuration, I would suggest also to check the QEMU driver code.

[2021-07-28 06:46] KKaras169169 commented on #2053
Okay. I have some questions regarding the error:
1) Does the error crash the application?
2) Is it appearing strictly when switching to CORES tab or just appears sometimes when switching to any tab?
3) Could you provide some logs or error message?

[2021-07-28 07:06] #2028 closed

[2021-07-28 07:25] ChengqiangMeng commented on #2053
1. The error dose not crash the application.
2. It seems to be characters cache problem. This phenomenon appears every time you switch tab. And when pressing enter to display detailed information, ‘esc’ cannot clear the screen .
3. The error screenshot is as follows：
![2error](https://user-images.githubusercontent.com/77378851/127281124-426d2050-1f70-479f-90cb-9dac46cd2119.JPG)
![error](https://us

[2021-07-28 07:55] mikeBashStuff commented on #2039
Attempted fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/8957

[2021-07-28 08:17] KKaras169169 commented on #2053
@ChengqiangMeng Thank you for this picture! I have a guess, where the problem might be and I will keep trying to reproduce this on my side.

[2021-07-28 08:34] ChengqiangMeng commented on #2053
@KKaras169169 You are welcome, I am glad to be able to help you! If you need other assistance, please feel free to let me know.

[2021-07-28 09:48] KKaras169169 commented on #2053
@ChengqiangMeng I'm going to take you up on that offer and ask some more questions:

1) What flags did you use to configure the SPDK target with ./configure script? (I know that --enable-debug sometimes messes with spdk_top's behavior, that is why I am asking)
2) Are those Fedoras that you use fresh systems? (I created a few VMs from scratch and could not make spdk_top break in this manner, and I

[2021-07-28 11:03] mikeBashStuff commented on #2048
I am afraid that I am not able to reproduce the very same issue for the SPDK or kernel target. I see some other issues though.

With or without the patch I randomly see something like this for the SPDK target  regardless of the qd (though most often it happens when it's >= 64):

[code]

With the patch the issue above still can be seen for qd < 128, popping up in a random fashion, but for qd=128 I

[2021-07-28 11:28] spdkci commented on #1988
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_54443.html

[2021-07-28 13:12] mikeBashStuff commented on #2048
Here's one build run: https://ci.spdk.io/results/autotest-per-patch/builds/54449/archive/nvmf-tcp-phy-autotest/build.log

Surprisingly, successful, however, for the SPDK target and qd=128 there can be seen this (as described above):
[code]

[2021-07-28 16:04] tmakatos commented on #2009
I had a quick look (I haven't checked all your comments yet). One thing I noticed is that the physical NVMe uses 32 MSI-X (we use 64), so I tested with 32 but no difference. I also disabled mmap'ing BAR0 and it didn't make a difference.

[2021-07-28 16:35] tmakatos commented on #2009
I get what you're saying: the host wrote HDBL which means it know about the request completing. Can we disable flush to further simplify things? Also, use only one queue instead of 64. And maybe use a minimal queue depth, e.g. just 1?

[2021-07-29 01:27] changpe1 commented on #2009
I already tried to set SPDK that can support only one IO queue, also I disabled the Write Cache feature in SPDK, and the first command sent from Windows is a READ command, it's same as the FLUSH command, but timeout value is about 10 seconds for READ command.

[2021-07-29 02:08] ChengqiangMeng commented on #2053
@KKaras169169 I am glad to answer for you:
1. I don't use any flags to configure the SPDK target with ./configure script.
2. These fedoras have existed before. And I tested on Vagrant Fedora31 and Fedora33, still have the same issue.

VM_OS_VERSION:

[2021-07-29 02:54] changpe1 commented on #2009
The Windows event reviewer reported that "ERROR – stornvme – Event ID 11: The driver detected a controller error on \Device\RaidPort0", so I guess it maybe still a controller error from the Windows driver's view.

[2021-07-29 03:30] gaowayne opened #2056 "we removed vhost-nvme support after 20.07, can we bring it back just for testing purpose?"
## Expected Behavior
if possible we have vhost nvme support with latest code?

## Current Behavior
we lost vhost-nvme totally

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context (Environment including OS version, SPDK version, etc.)

[2021-07-29 05:02] AlekseyMarchuk commented on #2055
Hi @MattDumm @mhae I decided to start from simple solution which you implemented first - set admin_qpair pointer to NULL. I think it should work fine since we set a pointer to NULL and call poll_group_update_subsystem on the same thread. Could you try this patch https://review.spdk.io/gerrit/c/spdk/spdk/+/8963 together with https://review.spdk.io/gerrit/c/spdk/spdk/+/8570 ?

[2021-07-29 05:35] changpe1 commented on #2056
@gaowayne For some reason, the QEMU part worked with vhost-nvme can't be upstream to QEMU, now we're developing a new replacement vfio-user target to provide NVMe emulation in SPDK, so for you question, we won't add vhost-nvme back.

[2021-07-29 05:36] #2056 closed

[2021-07-29 06:16] KKaras169169 commented on #2053
"I tested on Vagrant Fedora31 and Fedora33," I'll try with Vagrant environment next. Thanks again for your answers @ChengqiangMeng !

[2021-07-29 06:23] spdkci commented on #1863
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_54469.html

[2021-07-29 06:31] ghnicky opened #2057 "question: why lunid is limited to 64? Is there any possibilities to increase it in the later version? Thanks for any help!"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context (Environment including OS version, SPDK version, etc.)

[2021-07-29 06:33] ChengqiangMeng commented on #2053
@KKaras169169 You are welcome, please feel free to communicate if you have any questions.

[2021-07-29 06:47] changpe1 commented on #2009
Following the direction to check the completion response again, I root cause the issue is that we didn't set the SQID in the completion correctly, Linux driver is using queue pair way and doesn't check that, while Windows driver is checking it, after set it the Windows can work now.

[2021-07-29 07:07] #2039 closed

[2021-07-29 07:39] gaowayne commented on #2056
@changpe1 thank you so much changpe, this is very clear.

[2021-07-29 08:33] zhuohaofan commented on #2050
The four NVMe SSD are all Samsung 980Pro.
https://www.samsung.com/semiconductor/minisite/ssd/product/consumer/980pro/
The NVMe version is 1.3.
`NVMe Specification Version (VS):       1.3
NVMe Specification Version (Identify): 1.3
`

[2021-07-29 08:34] changpe1 commented on #2009
here is the patch https://review.spdk.io/gerrit/c/spdk/spdk/+/8971 to fix the issue.

[2021-07-29 09:06] KKaras169169 commented on #2053
I tried running spdk_top in Fedora 33 inside vagrant, but still no results. I am starting to think it might be something in linux configuration that is affecting the display. I'll stop testing with different Fedora VMs now and dig through the Internet to see if I can find a fix.

[2021-07-29 10:12] KKaras169169 commented on #2053
@ChengqiangMeng can you write the value of TERM variable? (echo $TERM)
I was able to reproduce the issue partially (remaining text from previous tab) when I set $TERM to "_ansi_" value. With values "_xterm_", "_gnome_", "_linux_" (and their variations like _xterm-256color_) everything seemed to work fine.

Also could you tell me what encoding does your terminal use?

[2021-07-29 13:47] spdkci commented on #1969
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_54492.html

[2021-07-29 13:53] spdkci commented on #1969
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_54491.html

[2021-07-29 13:58] spdkci commented on #1969
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_54490.html

[2021-07-29 14:12] spdkci commented on #1969
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_54488.html

[2021-07-29 14:14] spdkci commented on #1969
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_54489.html

[2021-07-29 14:49] spdkci commented on #1969
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_54495.html

[2021-07-29 15:19] tmakatos opened #2058 "NVMf/vfio-user: Windows presents inactive namespaces"
Using https://review.spdk.io/gerrit/c/spdk/spdk/+/8971 I boot Windows and I notice that _all_ namespaces (NN) appear in the Disk Management tool are listed, even though they're not active. In this scenario there is only one active namespace. Attempting to initialize any other namespace fails with "The parameter is incorrect", which is expected.

Not sure whether we can do anything about it. Reduci

[2021-07-29 18:41] jimharris commented on #2048
Thanks @mikeBashStuff!

[code]

This error would go away if we specify ```-a 256``` to the nvmf_create_transport RPC.  But I think for now, let's just not worry about QD=128.  QD=64 is sufficient.

I just realized you're using -c 0xF, while the original submitter passed no -c option (meaning just a single core).  Do you have any luck reproducing the submitter's issue if you omit the -c option?  I

[2021-07-29 18:58] mikeBashStuff commented on #2048
@jimharris Initially I did use `-c 0xf` but then I dropped it and also excluded it from the final version of the patch I pushed - the results posted in my second comment include  `abort` running without the `-c`  argument (main issue didn't pop up without it either I am afraid).  That said, I just noticed I've been using way smaller io size in these tests (4k instead of 40960 as seen in the descri

[2021-07-29 19:05] jimharris commented on #2048
Sounds good @mikeBashStuff.  Thanks!

[2021-07-30 00:27] jimharris commented on #2009
Ah, good find @changpe1!

[2021-07-30 00:30] jimharris commented on #2058
@tmakatos or @changpe1 - can you see in your logs if Windows is sending IDENTIFY CNS=0x2 (ACTIVE_NS_LIST)?

[2021-07-30 00:43] jimharris commented on #2058
I don't see where we zero the spdk_nvme_ns_list before filling it out for IDENTIFY CNS=0x2.  It's possible Windows sees some garbage data in the active ns list, decides it can't trust it, so just displays everything?

Regardless, we should zero it out, even if it doesn't fix this specific issue.

https://review.spdk.io/gerrit/c/spdk/spdk/+/8984 zeroes the buffer - @tmakatos could you give it a try

[2021-07-30 01:23] changpe1 commented on #2008
@tmakatos Since there are no noise error logs now in SPDK, can I close this issue now?

[2021-07-30 01:24] changpe1 commented on #2007
And this one, @tmakatos can I close it now?

[2021-07-30 01:25] ChengqiangMeng commented on #2053
@KKaras169169 Your idea is great! My $TERM is "xterm" and encoding is 'en_US.UTF-8'. When I set it to "gnome", the display is normal. I tested other values and they all have problems.

"ansi" : I think it should be the same as your test result, the display looks terrible.
"xterm" and "xterm-256color" : Like in the picture above.
"linux" : The display is normal, but the screen cannot be cleared aft

[2021-07-30 01:43] changpe1 commented on #2058
I noticed that Windows doesn't send Identify Active NS list command, but my Windows 10 1903 build doesn't show inactive NS in the Disk Management tool, only one active NS is there. @tmakatos what's your Windows version?

[2021-07-30 06:10] KKaras169169 commented on #2053
@ChengqiangMeng Excellent! I'll post an update inside spdk_top docs to let other people know about this issue with display and possible solution of changing TERM value. Thanks again for your cooperation!

[2021-07-30 06:31] ChengqiangMeng commented on #2053
@KKaras169169 You are welcome. I have a thoughts:  through my test, when “TERM=gnome”, basically all os can display normally. Can we set TERM to "gnome" before starting spdk_top, and change it back to the previous value at the end of spdk_top?

[2021-07-30 06:51] KKaras169169 commented on #2053
@ChengqiangMeng I'll try to do that instead of putting it in the docs then. Thanks for suggestion!

[2021-07-30 08:27] tmakatos commented on #2058
I'm using Windows 10.0 (Build 10240) (as reported by `winver`). I might be running an old version of Windows, let me update and see whether this issue is still valid.

[2021-07-30 08:33] tmakatos commented on #2008
Yes, thanks.

[2021-07-30 08:33] #2008 closed

[2021-07-30 08:33] tmakatos commented on #2007
Yes/

[2021-07-30 08:33] #2007 closed

[2021-07-30 09:00] mikeBashStuff commented on #2048
@jimharrisI run the very same tests but with io size bumped up to 40960. Still can't reproduce the main issue,  however, with or without the patch the qd=64 is now hit by `SEGV` - core file here [abort.zip](https://github.com/spdk/spdk/files/6906288/abort.zip) and the bt:

[code]
From time to time (but quite rarely) I also see this for any potential `abort` run (noticed it when `abort` was built w

[2021-07-30 09:49] spdkci commented on #2041
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_54569.html

[2021-07-30 10:44] tomzawadzki opened #2059 "[ut/nvme_cuse] nvme_ctrl is not started"
Patch below broke the UT due to not accouting for changes in nvme_cuse since original submission:
(19f0bfd) test/nvme_cuse: cases for stop cuse

The change was introduced with:
(d651f8a) nvme/nvme_cuse: Fix race condition in cuse session
Now when initalizing nvme_cuse controller it uses is_started, to avoid race condition.

The UT is missing this part of nvme_cuse controller initalization.

## Cur

[2021-07-30 11:19] KKaras169169 commented on #2053
Scratch that, we should not set system variables to run spdk_top and rely on different settings being present on user's machine. I'll have to do some more digging to maybe rework some of our functions in spdk_top to work on all terminals.

[2021-07-30 12:04] tomzawadzki commented on #2059
Patch is now merged. Anyone that has encountered this issue while rebasing their patches, please rebase again to include the fix.

This issue will be closed next week, as it pertains only to patches rebased in the short time between 19f0bfd and 7aed75fbc2755448c534c6840448fbcda7650727.

[2021-07-30 15:05] jimharris commented on #2057
I think you are referring to SPDK_SCSI_DEV_MAX_LUN?

There is no specific reason.  Adding more LUNs requires also adding additional memory to several data structures (spdk_scsi_dev, spdk_iscsi_conn), so there is a cost to increasing this value.  Potentially it could be mitigated by allocating the spdk_scsi_lun arrays dynamically, and then having a initialization option to select the maximum number

[2021-07-30 16:38] jimharris commented on #2048
Thanks @mikeBashStuff.  I'll take a look at this some more on my system.  I was hoping this would be a relatively straightforward fix, but you've clearly found some other issues in the abort path with this testing.

Let's still wait to see if my patch fixes the original issue for @gp2017.  If so, we can merge it, and then open a new issue for some of these others issues you've found.

[2021-07-30 16:58] jimharris commented on #2048
@mikeBashStuff - can you describe in more detail how you hit these most recent issues?

I've been using the abort.sh test script with a few modifications.

1) If the delay bdev is in place, I can't hit any issues at all.
2) If I just run the abort test to a malloc bdev, and modify the abort parameters in the script, I can hit the "I/O submission failed" issue.
3) I'm not able to hit the core dump

[2021-07-30 17:20] mikeBashStuff commented on #2048
@jimharris I've been using this instead https://review.spdk.io/gerrit/c/spdk/spdk/+/8962 - my idea was to use actual nvme controller for the bdev since I reckoned such setup would be a bit closer to what was reported. So with this patch you could simply run `test/nvmf/target/abort_hw.sh` (and just to note that I can see the very same behavior regardless if it's run inside the VM or on a bare-metal

[2021-07-30 20:56] jimharris commented on #2048
That is a really good test @mikeBashStuff.

I think what I'd like to do is move this new testing approach, and the other failures/dumps you've found, to a new issue.  The stuff you are finding seems unrelated to what @gp2017 reported, but is still something we need to continue working on.

[2021-08-02 01:26] ChengqiangMeng commented on #2053
@KKaras169169 Okay, I don’t have any good ideas about this at the moment, if you need help, please feel free to let me know.

[2021-08-02 01:29] ChengqiangMeng commented on #2053
I testes it and the  [patch](https://review.spdk.io/gerrit/c/spdk/spdk/+/8993) has fixed this bug.

[2021-08-02 06:54] #2059 closed

[2021-08-02 06:57] spdkci commented on #1999
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_54669.html

[2021-08-02 08:11] changpe1 commented on #2004
Change the unsupported feature 0xc to INFOLOG via patch https://review.spdk.io/gerrit/c/spdk/spdk/+/9035.

[2021-08-02 08:41] jkalwas opened #2060 "[nvmf_nmic] waitforserial failures with nvme connect/disconnect on Fedora 33"
00:05:30.413  ************************************
00:05:30.413  START TEST nvmf_nmic
00:05:30.413  ************************************

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/54669/archive/nvmf-tcp-vg-autotest/build.log

## Execution failed at

00:05:32.997  test case2: host connect to nvmf target in multiple paths
00:05:32.997   14:11:00	-- nvmf/tar

[2021-08-02 08:41] Comphix commented on #2033
Looks like this issue is about 20 days ago. Shall we close it for the time being if it does not happen recently?

[2021-08-02 08:44] spdkci commented on #2060
Another instance of this failure. Reported by @jkalwas. log: https://ci.spdk.io/public_build/autotest-per-patch_54764.html

[2021-08-02 09:03] tomzawadzki opened #2061 "[nvmf_nmic] No devices were found for the test"
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/54669/archive/nvmf-tcp-vg-autotest/build.log

## Execution failed at

[code]

[2021-08-02 09:03] mikeBashStuff commented on #2061
Duplicate of #2060 @tomzawadzki will close this one and assign myself to #2060

[2021-08-02 09:03] #2061 closed

[2021-08-02 09:36] spdkci commented on #2060
Another instance of this failure. Reported by @jkalwas. log: https://ci.spdk.io/public_build/autotest-per-patch_54781.html

[2021-08-02 10:50] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_54758.html

[2021-08-02 10:51] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_54794.html

[2021-08-02 12:01] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_54802.html

[2021-08-02 12:02] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_54800.html

[2021-08-02 12:29] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_54798.html

[2021-08-02 12:30] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_54809.html

[2021-08-02 12:32] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_54813.html

[2021-08-02 12:53] mikeBashStuff commented on #2060
Issue can be reproduced locally under 5.13 kernel - we recently updated all fedora images to the latest build where 5.13 kernel is on board. Will try to figure out what changed and prepare potential fix.

[2021-08-02 13:28] mikeBashStuff commented on #2060
Actually, no, I can't reproduce this - I can only see the error about the reserved CNS being in use (0x6) but the actual test is passing just fine. It's quite confusing too - if `fio-wrapper` is not able to find nvme targets `waitforserial()` should fail as well. Investigating further.

[2021-08-02 13:32] jimharris commented on #2060
CNS 0x6 is for IO command specific identify controller. It was added as mandatory in NVMe 2.0. We do not report as a 2.0 target so the kernel initiator should not depend on us returning data for it. I’ll investigate further too once I’m logged
on here in a bit.

[2021-08-02 14:49] jimharris commented on #2060
@mikeBashStuff - ```waitforserial()``` uses lsblk to find devices, but ```fio-wrapper``` uses sysfs.  Did kernel 5.13 change the sysfs layout somehow?

[2021-08-02 14:52] MattDumm commented on #2055
Hi @AlekseyMarchuk - Sorry for the delayed response. I was away from work for a couple days.
I'll take a look at this and try the patch as soon as I can. My test machine is down for maintenance today, so it will be later this week before I can get back to you.

[2021-08-02 15:00] mikeBashStuff commented on #2060
@jimharris It doesn't look like it did - I am running 5.13.6 inside my local VM and everything works fine there. The other part that's a bit confusing is the number of devices that `waitforserial()` returns:

Here's an example from failing `nvmf_fio` test where it found 4 devices instead of just 3 (two malloc bdevs + raid bdev): https://ci.spdk.io/results/autotest-per-patch/builds/54809/archive/nv

[2021-08-02 15:04] jimharris commented on #2060
@mikeBashStuff can you modify autotest_common.sh in a test patch so we can get the lsblk output on this system?

[2021-08-02 15:11] tmakatos commented on #2058
I've updated Windows to Version 20H2 (OS Build 19042.1110) and I don't see the issue.

[2021-08-02 15:11] #2058 closed

[2021-08-02 15:42] spdkci commented on #2060
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_54855.html

[2021-08-02 16:32] mikeBashStuff commented on #2060
It looks like there are lingering devices left around when the affected tests start (not sure which test is leaving this garbage behind it but the extra devices are completely broken). Example:

[code]

[2021-08-02 16:56] mikeBashStuff commented on #2060
For now I am not able to reproduce this issue on the latest kernel that's available for f33 (5.13.6), however, it does indeed pop up under 5.13.5 (and this is what VMs in the Ci are currently using).

[2021-08-02 17:09] jimharris commented on #2060
@mikeBashStuff - can we try updating the VMs in CI to the 5.13.6 kernel?

I looked at the 5.13.y stable branch to see if any patches between 5.13.5 and 5.13.6 might have fixed a problem like this.  5.13.5 was tagged 8 days ago, 5.13.6 was tagged 5 days ago.  Here's the URL to view history in the drivers/nvme directory on the 5.13.y branch.  The only patches I see in this time window are PCI specif

[2021-08-02 19:31] mikeBashStuff commented on #2060
@jimharris Will  try to update the f33 image on the PE1 (host were all the failures are coming from) first to see how it behaves.

I tried that and got some quite frustrating results  - sometimes entire suite passes, sometimes it fails like described in this issue. With 5.13.6 it looks a bit better but I hit some failures later on (e.g. during `nvmf_perf` test) and can't say what's causing it exac

[2021-08-02 19:48] mikeBashStuff commented on #2060
I triggered 3 nvmf-tcp-vg jobs on the PE1 with the updated f33 image but I am afraid there's no improvement - one of that jobs failed in the very same way as with 5.13.5 (two succeeded). So this proves the issue is quite random in nature. That said, I think these failures have started to pop up after we updated f33 images for the abi tests last week (kernel changed then from 5.12 -> 5.13.5).  Will

[2021-08-02 20:06] spdkci commented on #1953
Another instance of this failure. Reported by @yupeng0921. log: https://ci.spdk.io/public_build/autotest-per-patch_54754.html

[2021-08-02 20:09] jimharris commented on #2060
Another instance of this failure. Reported by @yupeng0921. log: https://ci.spdk.io/public_build/autotest-per-patch_54754.html

[2021-08-02 21:06] mikeBashStuff commented on #2060
The above is also an example where devices from previous tests were not disconnected:

[code]
The test expects to find here only a single block device but two are found messing up parted's cmdline. But even more worrying is the fact that build timed out here since parted blocked while trying to access `/dev/nvme0n1`.

[2021-08-02 23:49] spdkci commented on #1953
Another instance of this failure. Reported by @yupeng0921. log: https://ci.spdk.io/public_build/autotest-per-patch_54863.html

[2021-08-03 03:14] winglq opened #2062 "spdk_sock_connect blocks reactor running"
spdk_posix_sock_create(posix.c) sets socket to O_NONBLOCK until connect is successful. If the connection target is down(power off), connect will bock until the operation is timeout(75s in linux?). In this situation the reactor will be blocked, if spdk_sock_connect is called by reactor_run.
Will this behavior be changed to a non block call, or any suggestion on how should I call spdk_sock_connect?

[2021-08-03 05:36] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_54834.html

[2021-08-03 06:46] spdkci commented on #2060
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_54861.html

[2021-08-03 07:25] mikeBashStuff commented on #2060
No visible improvement under 5.13.6, reverting f33 to 5.13.5 on PE1.

[2021-08-03 07:41] mikeBashStuff opened #2063 "abort hit by SIGSEGV"
Spotted while testing #2048 with https://review.spdk.io/gerrit/c/spdk/spdk/+/8962

https://github.com/spdk/spdk/files/6906288/abort.zip

[code]
From time to time (but quite rarely) I also see this for any potential `abort` run (noticed it when `abort` was built without the patch, not sure if it's related in any way though):

[code]
This doesn't force `abort` to exit != 0 though so the tests contin