[2019-02-23 13:59] lorneli opened #688 "question about the way nvme driver encapsulates the specific transport"
Hi,

I have a programming  question about the way nvme driver encapsulates specific transport. In lib/nvme/nvme_transport.c, a macro `NVME_TRANSPORT_CALL` is used to switch transport type and add the prefix of specific transport. So the funciton like `nvme_transport_qpair_submit_request` could call `nvme_pcie_qpair_submit_request`/`nvme_rdma_qpair_submit_request`/`nvme_tcp_qpair_submit_request` ba

[2019-02-24 01:23] ygm521 opened #689 "What is the application scenario of spdk? Or what functions can be implemented based on spdk? For example, I use Nginx to do reverse proxy throughput in Linux kernel mode to reach 8Gbit. Can I combine Nginx and spdk? Need to implement the protocol stack myself? Looking forward to your guidance, thank you!"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context (Environment including OS version, SPDK version, etc.)

[2019-02-25 00:00] dacrespi commented on #245
I'm not sure if it's exactly the same thing here, but it does look close.  I'm running a 3 ssd RAID 0 stripe at a stripe size of 64K.  These are 4TB Samsung SSD's.  I'm running this RAID group as a mounted drive on my client box, using FIO at a -bs 16K.  There didn't appear to be any problem with the run (4 hrs).  I shut down the target for the evening, and started it up this morning, it crashed w

[2019-02-25 00:02] dacrespi commented on #245
sorry, this is the error that was in the syslog.  The one above was from the blobcli.
nvmf_tgt: blobstore.c:572: _spdk_blob_parse: Assertion `page->id == blob->id' failed

[2019-02-25 02:01] wanqunintel commented on #682
@Seth5141 @wanghailiangx the config file has been added in the content

[2019-02-25 02:36] wanqunintel commented on #682
@Seth5141 , just tested with your patch, it seems this issue is persistent, commit id is ff2b9a7b2bb625ebd95affeeba95a6673b1b3579
./app/nvmf_tgt/nvmf_tgt -c /root/nvmf_single_nvme_rdma_624.conf -p 0x0 -m 0x7
Starting SPDK v19.04-pre / DPDK 18.11.0 initialization...
[ DPDK EAL parameters: nvmf --no-shconf -c 0x7 --log-level=lib.eal:6 --base-virtaddr=0x200000000000 --file-prefix=spdk_pid42307 ]
EAL:

[2019-02-25 02:49] yidong0635 commented on #670
I  revised the scripts (add sudo before some git commands)and apply your patch:
[code]
 and found there were still qemu downloading issues:
make: Entering directory '/root/qemu/spdk-3.0.0' | 764.00 KiB/s
  GEN     x86_64-softmmu/config-devices.mak.tmp
  GEN     config-host.h
  GIT     ui/keycodemapdb dtc capstone
  GEN     qemu-options.def
  GEN     qapi-gen
  GEN     trace/generated-tcg-tracers.h

[2019-02-25 04:13] yidong0635 commented on #678
19:13:49       # nvme disconnect -n nqn.2016-06.io.spdk:cnode1
NQN:nqn.2016-06.io.spdk:cnode1 disconnected 1 controller(s)
 19:13:49       # waitforblk_disconnect nvme0n1
 19:13:49       # local i=0
 19:13:49       # lsblk -l -o NAME
 19:13:49       # grep -q -w nvme0n1
 19:13:49       # lsblk -l -o NAME
 19:13:49       # grep -q -w nvme0n1
 19:13:49       # return 0
 19:13:49       # for i in $(s

[2019-02-25 04:30] changpe1 commented on #310
@jimharris I think we can close this issue for now, @glodfish-zg 's patch can fix the hotplug test tool issue, and for the issue itself, users should enable hotplug feature first, and then it can cover the reported issue.

[2019-02-25 07:07] #685 closed

[2019-02-25 07:11] optimistyzy commented on #688
@lorneli  You need to implement the defined function in /lib/nvme/nvme_transport.c.  For others, you need to implement the functions defined in the "**table". From my understanding, it is just an implementation difference.

[2019-02-25 07:22] glodfish-zg opened #690 "example/nvme/hotplug fails if the driver is vfio-pci"
Use the vfio-pci to test  nvme hotplug case, when we remove the device the program endlessly print.

program log:
EAL: Unexpected device scan at /sys/bus/pci/devices/0000:86:00.0/driver!
EAL: Unexpected device scan at /sys/bus/pci/devices/0000:86:00.0/driver!
EAL: Unexpected device scan at /sys/bus/pci/devices/0000:86:00.0/driver!
EAL: Unexpected device scan at /sys/bus/pci/devices/0000:86:00.0/dr

[2019-02-25 09:28] lorneli commented on #688
@optimistyzy

Hi Ziye,

I think it's just an implementation difference as well. Ask in case I miss something. Thanks for your reply!

[2019-02-25 09:28] #688 closed

[2019-02-25 10:30] optimistyzy commented on #682
@wanqunintel @wanghailiangx  The issue reported is not quite meaning with not providing efficient information. If you build the enable debug CONFIG_DEBUG=y, you can see the coredump, such as:
#0  __GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv/linux/raise.c:51
#1  0x00007ffff657e4da in __GI_abort () at abort.c:89
#2  0x00007ffff6574d67 in __assert_fail_base (fmt=<optimized out>,
    assertion

[2019-02-25 10:34] darsto commented on #690
This was unfortunately never supported in SPDK, please see here https://github.com/spdk/spdk/issues/595#issuecomment-457138189

[2019-02-25 12:10] karlatec commented on #660
Just enabled all UTs for unittest_autotest job.
There's still a problem with blockdev UT's, ASAN fails on one of the tests.
[code]

For more info see autotest-per-patch builds 23858, 23859, 23860

[2019-02-25 14:17] optimistyzy commented on #682
I figured out the root cause of this issue, it is related with the shutdown during the subsystem (e.g., copy->bdev->NVMf subsystem) initialization. Need to think this issue in depth to fix it.

[2019-02-25 15:53] jimharris commented on #660
Thanks @karlatec.  Looks like an ASAN issue in the crypto bdev module.  Assigning to @peluse.

Here's a link:

http://10.102.17.206/results/autotest-per-patch/builds/23858/archive/unittest_autotests/build.log

[2019-02-25 15:55] jimharris commented on #690
test.sh script also has a typo - should be DRIVER_OVERRIDE

[2019-02-25 15:59] jimharris commented on #245
Hi @dacrespi - I'm fairly certain this is a different issue.  Would you mind filing a separate issue for this report?

Please also advise what version of SPDK you are using.

Thanks,

-Jim

[2019-02-25 16:00] dacrespi commented on #245
Sure, no problem Jim, thanks for looking it over!

Regards,

           David

C: 714-476-2692

________________________________
From: Jim Harris <notifications@github.com>
Sent: Monday, February 25, 2019 7:59:31 AM
To: spdk/spdk
Cc: David Crespi; Mention
Subject: Re: [spdk/spdk] "Corruption: Sst file size mismatch" in randread case of rocksdb.sh (#245)

Hi @dacrespi<https://github.com/dacrespi> -

[2019-02-25 16:16] peluse commented on #660
on it...

[2019-02-25 16:19] jimharris commented on #475
Patch merged.  Thanks @benlwalker!

[2019-02-25 16:19] #475 closed

[2019-02-25 16:21] peluse commented on #660
hmmm, I don't get this w/ASAN on master.  Will investigate more

[2019-02-25 16:36] peluse commented on #660
this isn't a UT failure, that's why it passed for me :) The failure happens running bdevio... should be able to repro locally now

[2019-02-25 17:01] dacrespi opened #691 "SPDK fails to come up after long FIO run - Assertion `page->id == blob->id' failed"
I'm running a 3 ssd RAID 0 stripe at a stripe size of 64K. These are 4TB Samsung SSD's. I'm running this RAID group as a mounted drive on my client box, driving traffic using FIO at a -bs 16K. There didn't appear to be any problem with the run (4 hrs). I shut down the target for the evening, and started it up this morning, it crashed with "nvmf_tgt: blobstore.c:572: _spdk_blob_parse: Assertion `pa

[2019-02-25 21:08] dacrespi commented on #691
I just noticed that it appears that running the blobcli produced a core dump for the ssd in question.
[core.zip](https://github.com/spdk/spdk/files/2902599/core.zip)

[2019-02-26 01:06] changpe1 commented on #310
closing this issue for now, because if the hotplug option enabled with NVMe driver, existing driver can cover the scenario.

[2019-02-26 01:06] #310 closed

[2019-02-26 01:31] peluse commented on #660
having many challenges reproducing locally but getting closer.... @karlatec why is the unit_test Jenkins job running stuff other than unittests?

[2019-02-26 02:30] optimistyzy commented on #682
@wanqunintel @wanghailiangx  can you download this link
https://review.gerrithub.io/446190
for test.

[2019-02-26 02:57] optimistyzy commented on #689
SPDK library is mainly used to  accelerate the storage I/O on fast storage devices (e.g., NVMe SSDs,  AEP and etc). If you only want to ngnix with user TCP/IP stack, you may use ngnix + user space TCP/IP(e.g., VPP, mtcp) + DPDK.  Until you want to put some data on the storage device via ngnix, you may use SPDK.

By the way, SPDK has encapsulated sock API which can encapsules both posix and VPP TCP

[2019-02-26 03:53] wanqunintel commented on #682
verified with this patch and the issue is not exist now.

[2019-02-26 06:52] wanghailiangx commented on #682
@optimistyzy @Seth5141
I added a printing in spdk_nvmf_subsystem_fini( ), and found this function hadn't yet run before reporting above error. So I guess if we will focus on other exit function.
[code]

[2019-02-26 07:01] optimistyzy commented on #682
@wanghailiangx If the code is executing bdev subsystem initialization, the nvmf subsystem will not be initialized, it is the correct behavior. If you kill the app very early.

[2019-02-26 07:02] karlatec commented on #660
It's not, or at least it shouldn't. The failing test which I mentioned is a result of changing config to:
SPDK_TEST_RUN_FUNCTIONAL_TEST=0
SPDK_TEST_UNITTEST=1
SPDK_RUN_ASAN=1
SPDK_RUN_UBSAN=1
and leaving all other SPDK_TEST_* option undefined (which should default them to 1).

The result should be that this job would only run Unit Tests for all components/features, but no functional tests.

[2019-02-26 07:16] wanghailiangx commented on #682
@optimistyzy Thanks. It’s true that I kill the app very early. When I wait for 10s and up, spdk_nvmf_subsystem_fini( ) will be called.

[2019-02-26 07:56] darsto commented on #643
SPDK can only run as root at the moment. There is an ongoing discussion here: https://github.com/spdk/spdk/issues/314

Since the original issue is fixed, I'm closing this.

[2019-02-26 07:56] #643 closed

[2019-02-26 08:02] darsto commented on #651
@Comphix was there any update?

[2019-02-26 08:36] #506 closed

[2019-02-26 11:40] darsto commented on #565
@benlwalker could it be that remote nvme devices do not appear in /dev/disk/by-path?

[2019-02-26 15:03] darsto commented on #245
Bug scrub: I'm closing this. Let's keep the discussion in #279

[2019-02-26 15:03] #245 closed

[2019-02-26 15:08] darsto commented on #374
Bug scrub: This is now merged.

[2019-02-26 15:08] #374 closed

[2019-02-26 15:09] Seth5141 commented on #678
This is caused by qpair resources not ever being returned to the poll group (specifically we don't tell the group that we no longer need completion queue entries for the qpair). I have a patch series out to fix this behavior. https://review.gerrithub.io/c/spdk/spdk/+/446134/2

[2019-02-26 15:14] darsto commented on #645
Bug scrub: I will prepare a list of known issues that would describe third-party incompatibilities like this one.

[2019-02-26 15:20] darsto commented on #665
Bug scrub: @pelplinski prepared a patch that might fix this. Can you check if it was included before e7121a2 ?

[2019-02-26 15:25] pelplinski commented on #665
Patch [7a30221de](https://github.com/spdk/spdk/commit/7a30221de) is already merged before [e7121a2](https://github.com/spdk/spdk/commit/e7121a262f42f8fe1dc997fde2082fea2f8c5185). I guess it must be something different.

[2019-02-26 15:28] pawelwod commented on #687
I try but can't reproduce this. It was running for several minutes with no issue.
Can I ask you to try building spdk with `./configure --enable-debug` and run it under gdb? Then pls attach full console logs.

I see that you are using QEMU from Debian repo. As I don't have any Debian host right now can you try https://github.com/spdk/qemu/tree/spdk-2.12 ?

[2019-02-26 15:30] pawelwod commented on #680
I think #687 is duplicate. Lets track it there.

[2019-02-26 15:37] darsto commented on #652
Bug scrub: First try to provide a descriptive error message rather than 404 on logs.

For the BSD issue itself - let's reboot the FreeBSD VM after every test - the crash can be caused by subsequent attempts to load/unload the contigmem driver.

[2019-02-26 15:40] darsto commented on #691
Bug scrub: This should be easily reproducible.

[2019-02-26 15:53] mhae commented on #687
@pawelwod The stack traces are different. Not sure it's a dup.

[2019-02-26 15:54] mhae commented on #687
@pawelwod I'll give it a try. Might not happen today.

[2019-02-26 17:09] dacrespi commented on #691
I ran an additional experiment yesterday.  I used the same three ssd's, but did not put them into a raid bdev.  I did the same steps on the client and ran the same fio settings.  This morning when booting up the target, one of the three drives was corrupted, the other two were fine.  I've attached the blobcli output of that drive before and after the fio run, along with the core dump of running th

[2019-02-26 17:39] jimharris opened #692 "Intermittent RAID UT failure"
https://ci.spdk.io/spdk-jenkins/results/autotest-per-patch/builds/24040/archive/centos7_autotest/build.log

Note that the RAID UT still uses random numbers in a few places - this needs to be fixed at some point, but for now the seed is printed to the log:

Test Options, seed = 1551193706

[2019-02-26 20:14] dacrespi commented on #691
Additional info - I just noticed that the other two drives used in the test have lost their LV blob's.  There isn't any record of it when listing out the blobs of the devices.  I noticed these were missing after adding the ssd's back into spdk.  Each reported the correct LVOL, but not the LV.

[2019-02-26 22:38] Seth5141 commented on #677
@Roberciiik
This morning I did a quick duplication on my dev system using fedorra 28 and a later linux kernel, and was unable to replicate the issue. That leads me to think that it has something to do with the kernel version/nvme cli you are using. Also, I have uploaded an RFC of the test script I am using so that you can verify that it is performing the same steps you are. (I am performing the st

[2019-02-26 23:12] mhae commented on #687
@pawelwod Please note that you have to repeatedly start the VM while the target is being attached. It can take multiple starts of the VM before this condition is hit. I think I also hit it another time when I rebooted the VM (just logged into the guest and executed the reboot command).
I tried to reproduce this today again but wasn't successful but I've hit it a couple of times so far. I still hav

[2019-02-26 23:24] mhae commented on #687
Ok, I just reproduce the other issue where it aborts in spdk_vhost_scsi_session_add_tgt. I basically was running my script that adds and removes devices. While this script is running, I repeatedly started my VM and killed it (kill command) when I saw that the system was up. It took me ~10 tries to get to the core.

Thread 4 (Thread 0x7fdc6b2bf700 (LWP 26299)):
#0  0x00007fdc74ac78bd in poll () fro

[2019-02-27 01:44] optimistyzy commented on #682
By the way, the patch: https://review.gerrithub.io/446189  also needs to be reviewed. Only two patches both merged, this issue can be solved.

[2019-02-27 05:41] wanqunintel commented on #682
@optimistyzy both patches has passed verification and +1

[2019-02-27 06:20] yidong0635 commented on #678
@Seth5141 also need this one of your patch: https://review.gerrithub.io/c/spdk/spdk/+/443057
and add more detailed log about this issue :
19:20:22       # /home/vagrant/master/build-20190226191309/spdk/test/bdev/bdevperf/bdevperf -r /var/tmp/bdevperf.sock -c /home/vagrant/master/build-20190226191309/spdk/test/nvmf/shutdown/bdevperf.conf -q 64 -o 65536 -w verify -t 10
 19:20:22       # '[' -z 26216

[2019-02-27 06:41] yidong0635 commented on #678
apply your patch  ,connect_disconnect  can pass.

[2019-02-27 06:54] yidong0635 commented on #678
now it blocked at : run_test suite test/nvmf/shutdown/shutdown.sh.
Starting SPDK v19.04-pre / DPDK 19.02.0 initialization...
[ DPDK EAL parameters: bdevperf --no-shconf -c 0x1 --log-level=lib.eal:6 --base-virtaddr=0x200000000000 --file-prefix=spdk_pid509193 ]
app.c: 624:spdk_app_start: *NOTICE*: Total cores available: 1
reactor.c: 233:_spdk_reactor_run: *NOTICE*: Reactor started on core 0
Running

[2019-02-27 07:16] optimistyzy commented on #682
Since the two patches are not merged, so I reopen this issue until they are merged

[2019-02-27 09:02] Donaim commented on #670
1. Now it looks like you have issues with internet connection. This error is not reproducible on stable connection.

2. This error is consequence of first step failure or of using sudo when running the script. Until you get success on cloning spdk_repo, following steps will almost definetely fail.

Could you please show commands that you use prior to vm_setup.sh -i ? If you use vagrant script to b

[2019-02-27 09:26] yidong0635 commented on #670
@Donaim ,
Today ,I try it again, and the results as below:
1. confirm connection issue.
2. your patch need to revise a bit , but I'm not sure it's useful.
3. I already set the right proxy , otherwise, I can't download other parts.

[2019-02-27 10:09] karlatec commented on #660
Hi Paul, changed job configuration to:
[code]
Looking at logs I think REDUCE tests are missing, even thoug I see that option SPDK_TEST_REDUCE is set to 1:
[code]

[2019-02-27 13:59] jimharris commented on #682
Thanks @optimistyzy.  I agree - we should always wait to close issues until the associated patches are merged to master.

[2019-02-27 14:37] pawelwod commented on #687
Now I have the repro :) Fixing this issue.

[2019-02-27 14:47] mhae commented on #687
@pawelwod Sweet! Feel free to send me a patch for testing if you want.

[2019-02-27 17:19] Seth5141 opened #694 "vhost_initiator_autotest apparent latent failure"
## Expected Behavior
This test passes regularly.
## Current Behavior
I observed this test fail three times in a row on changes that didn't appear to touch vhost. Two of them are in the same patch series, but the third is not.
I think these failures may be indicative of a latent failure in the test pool.
## Possible Solution
Not sure yet

## Steps to Reproduce
https://ci.spdk.io/spdk-jenkins/public

[2019-02-27 17:23] Roberciiik commented on #677
Hi,
I will try to upgrade my kernel. But it will take a few days probably (with testing)...

Btw,
It is my instruction for installation of OFED:

[code]

If it fail again, I will also provide a commands to check correctness of MLX installation.

[2019-02-27 17:25] Seth5141 opened #695 "vhost_autotest apparent latent failure"
## Expected Behavior
This test should not fail on unrelated patches.

## Current Behavior
There is a timeout on this test that occured on three different patches that did not seem to me to be related to vhost.

## Possible Solution
Not sure yet

## Steps to Reproduce
https://ci.spdk.io/spdk-jenkins/public_build/autotest-per-patch_24148.html
https://ci.spdk.io/spdk-jenkins/public_build/autotest-per

[2019-02-27 17:31] Seth5141 commented on #677
@Roberciiik Thank you for the updated information. I am using a different version of the OFED than you were. Let me try again with this version following your commands to see if it works.

[2019-02-27 21:07] Seth5141 commented on #677
@Roberciiik Thanks again for the additional information. I now have a working system with the following characteristics:
ubuntu 16.04 - kernel version 4.10.0-28-generic
nvme-cli version 1.5
spdk 19.01.
I attempted to run the test script introduced in this patch https://review.gerrithub.io/c/spdk/spdk/+/446307. but it completed successfully without showing the errors you are seeing.
I am going to c

[2019-02-28 01:45] open-hyperion opened #696 "When running nvme connect command: Failed to write to /dev/nvme-fabrics: Cannot allocate memory"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Run from a remote initiator (in my case, the initiator is bare metal and the target is a VM, but they are both on the same network):

nvme discover -t rdma -a <ip address of the NVMeoF target> -s <port of NVMeoF target>

nvme conne

[2019-02-28 01:48] jessehui commented on #671
@Donaim Any update on this?

[2019-02-28 02:57] optimistyzy commented on #696
It is duplicated with #678. @Seth5141

[2019-02-28 07:04] senyaroy opened #697 "nvme connect: Failed to write to /dev/nvme-fabrics: Connection reset by peer"
nvme connect over softRoCE is failing.
configured RDMA with softRoCE on ethernet NICs.
nvme discovery succeeded only once and is failing afterwards.

## Expected Behavior
Should connect

## Current Behavior
Failed to write to /dev/nvme-fabrics: Connection reset by peer

## Steps to Reproduce

1. ./scripts/rpc.py nvmf_subsystem_create -a -s SPDK00000000000000 nqn.2018-12.io.spdk:trgt204

2. ./scrip

[2019-02-28 08:57] SavanAnjaria opened #698 "IOs on the base LVOL having snapshot/clone results in an assert"
When we have created snapshot/clone out of an LVOL and run IOs (Writes specifically) on that base LVOL, it results into an assert
nvmf_tgt: blobstore.c:128: _spdk_bs_release_cluster: Assertion `spdk_bit_array_get(bs->used_clusters, cluster_num) ==                                                                                                                         1' failed.

I have got the solut

[2019-02-28 09:39] pelplinski commented on #691
Hi Dacrespi,
First thing I noticed is that blobstore is not shut down cleanly (look at the blobcli output, line Clean: 0).
How do you shutdown spdk? Does any errors occur? Could you provide logs?

However, even if spdk is killed, metadata should not get corrupted, so I have to reproduce this and debug.

[2019-02-28 11:46] karlatec opened #699 "NVMeOF performance degradation between 18.10 and 19.01"
## Current Behavior
Performance drop for NVMeOF feature between 18.10 and 19.01 releases.

## Steps to Reproduce
1. 0b20f2e55 nvmf/rdma: Remove data buffer num dependency on SPDK_NVMF_MAX_SGL_ENTRIES
2. Build with:
[code]
3. Performance test setup:
[code]
4. On both initiators connect to target with fio bdev plugin and run workload:
[code]
5. Performance results:
read: 156k IOPS / 19134 MBps BW /

[2019-02-28 12:33] jingliu9 commented on #661
Hi,

I have gotten an optane SSD to test. It looks using all the above experiment setting, SPDK could get better performance (latency, IOPS, though in some cases not that much). I think this somehow indicates my 970 SSD + SPDK probably results in some wired issues.

Thank you all.

[2019-02-28 12:42] Roberciiik commented on #677
@Seth5141
Your steps are correct. But you have some differences which I would like to point out:
- I' using real NVMe drives (nvme_bdev)
- I'm try to connect from the other host machine instead of the same storage service host.
- In my test there was no destroy lvol bdev after disconnect but I think it is ok.

I have noticed that on the Storage Service machine I have kernel version 4.8.7.
Version

[2019-02-28 14:20] Seth5141 commented on #699
Thanks for doing this @karlatec! It looks like that change lowered the default number of buffers significantly. This change (https://review.gerrithub.io/c/spdk/spdk/+/446525) fixes that. I think it's good to keep the higher default to avoid discrepancies.
Good news is num_shared_buffers is a user configurable value so you can change your transport create rpc command to get the proper performance o

[2019-02-28 14:40] Seth5141 commented on #696
@open-hyperion Hi, thanks for reporting this.
I am sorry, but I feel like I misunderstood part of our conversation earlier. I had assumed that the NVMe initiator and the VM host were one in the same. That made me think that it was possible that something we were doing in our vagrant setup could be affecting the amount of memory available to the VM.
With the added information you provided, it seems

[2019-02-28 14:40] #696 closed

[2019-02-28 16:04] dacrespi commented on #691
Hi Piotr,

It’s running in a container, so docker brings it down with the system shutting down.
Is there a “proper” way of shutting it down?  I’ve looked in the documentation and didn’t see anything
specific for that.

And I agree with your comment. “…metadata should not get corrupted…”!

I ran another set of experiments yesterday on raw devices.  The same thing happened.  I was thinking it could

[2019-02-28 18:25] youngtack opened #700 "ftl bdev is spinning with chunk wptr error"
## Expected Behavior
fio finishes with no error.

## Current Behavior
fio is spinning with submitting incorrect ppa as below.

## Possible Solution
need to debug ftl core.

## Steps to Reproduce
- qemu-nvme build
[code]
- spdk build
[code]
- qemu-nvme launch
[code]
- fio start
[code]

## Context (Environment including OS version, SPDK version, etc.)
see above

[2019-02-28 18:27] youngtack commented on #700
Hi @wmalikow,

Please have a look into this report. Looking forward to ftl bug fix to be upstreamed.

Thanks,
YT

[2019-02-28 21:09] jonathanrichardson commented on #669
I re-measured with 4 25G NIC's instead of 100G using link level flow control to re-establish some baseline numbers for comparison:
18.04 - 2450k
18.10 - 2139k
19.04pre - 2317k

So the changes you've made increase performance on my setup by ~180k iops. Great improvement. It's still off from 18.04 by ~130k iops. I'll look into it and see if I can find anything else.

[2019-02-28 21:19] jimharris commented on #669
@seth5141 - do you think the increase in the number of buffers will help here?  I just merged that patch to master 5 minutes ago.

@jonathanrichardson - you may want to give it a try regardless.  Might get you the rest of your performance back.  Will definitely be merging that one back for v18.10.1.

[2019-03-01 00:51] yidong0635 commented on #697
@senyaroy , from your logs, I found that the firewall should be disabled.

[2019-03-01 02:38] nagendra-v opened #701 "DPDK 18.11 EAL: Failed to hotplug remove device"
Seeing below DPDK error messages with nvme cli, identify and other utilities. Error messages are _not seen with  SPDK v18.10.1 / DPDK 18.08.0_.
# ./nvme list
Starting SPDK v19.01 / DPDK 18.11.0 initialization...
[ DPDK EAL parameters: nvme_cli -c 0x80 -m 512 --base-virtaddr=0x200000000000 --file-prefix=spdk1 --proc-type=auto --log-level=4 ]
TACIS:
Node             SN                   Model

[2019-03-01 02:40] nagendra-v commented on #589
@changpe1 Can you let me know what RPC call I need to execute to add block device to one NVMf subsystem

[2019-03-01 04:41] senyaroy commented on #697
@yidong0635 as you see step 12. firewall is disabled.

12\. systemctl status firewalld
     ● firewalld.service - firewalld - dynamic firewall daemon
     Loaded: loaded (/usr/lib/systemd/system/firewalld.service; enabled; vendor preset: enabled)
     Active: **inactive (dead)** since Tue 2019-02-26 18:39:59 EST; 23h ago

[2019-03-01 05:03] yidong0635 commented on #697
how about `systemctl disable firewalld` ?

[2019-03-01 05:09] senyaroy commented on #697
systemctl disable firewalld
Removed symlink /etc/systemd/system/multi-user.target.wants/firewalld.service.
Removed symlink /etc/systemd/system/dbus-org.fedoraproject.FirewallD1.service.

systemctl status firewalld
● firewalld.service - firewalld - dynamic firewall daemon
   Loaded: loaded (/usr/lib/systemd/system/firewalld.service; disabled; vendor preset: enabled)
   Active: inactive (dead)

[2019-03-01 05:36] optimistyzy commented on #682
@wanqunintel  @wanghailiangx  close this issue, since the related patch is merged into main branch.

[2019-03-01 05:36] #682 closed

[2019-03-01 06:57] darsto opened #702 "setup.sh ERROR: requested 4096 hugepages but only 3738 could be allocated."
This happens occasionally on our CI and fails the test:

[code]

[2019-03-01 07:15] darsto commented on #701
Those messages are somewhat expected in multi-process w/ DPDK 18.11.

SPDK calls rte_pci_detach() on shutdown in each process and for DPDK <18.11 this resulted in releasing PCI resources for that single process - meaning it *had to* be called in each process separately. With DPDK 18.11 rte_pci_detach() does an internal IPC and tries to detach the device in all the processes within a shared-memory

[2019-03-01 07:16] darsto commented on #701
This is not a bug technically, so I'm marking this as an "enhancement".

[2019-03-01 07:29] yidong0635 commented on #697
@senyaroy  I found that  your discovery
nvme discover -t rdma -a  -s 4420
    Discovery Log Number of Records 1, Generation counter 3
    =====Discovery Log Entry 0======
    trtype:  rdma
    **_adrfam:  ipv4_**
    subtype: nvme subsystem
    treq:    not specified
    portid:  0
    trsvcid: 4420

dmesg | tail -50 (on target)  IPV6 log message.

please to keep the the same when creating and con

[2019-03-01 07:42] yidong0635 commented on #697
follow your steps, I can create it in my host using soft-roce with filling out IP address. -a 192.168.xx .
you can use `./scripts/rpc.py xxx -h` to check if need some parameters.

[2019-03-01 07:48] yidong0635 commented on #697
[root@waikikibeach13 spdk]# nvme discover -t rdma -a 10.67.111.142 -s 4420

Discovery Log Number of Records 1, Generation counter 3
=====Discovery Log Entry 0======
trtype:  rdma
adrfam:  ipv4
subtype: nvme subsystem
treq:    not specified
portid:  0
trsvcid: 4420
subnqn:  nqn.2018-12.io.spdk:trgt204
traddr:  10.67.111.142
rdma_prtype: not specified
rdma_qptype: connected
rdma_cms:    rdma-cm
rdma

[2019-03-01 08:01] yidong0635 commented on #697
confirm your target is still alive.

[2019-03-01 08:26] senyaroy commented on #697
yes my target is still alive.
it is ipv4 what i am using.
i discover with target ip address and it succeeds only once,
from next time it gives the following error.
nvme discover -t rdma -a <target_ip> -s 4420
Failed to write to /dev/nvme-fabrics: Connection reset by peer

[2019-03-01 08:54] Donaim commented on #671
@jessehui Issue is reproducible, top level trigger is known - it's sending discard & write_zeroes during mkfs, but cause is not known. I am also not sure if this is bdev issue or OCF itself. Working on this.

[2019-03-01 12:44] darsto commented on #695
This might be caused by upgrading to qemu 3.0. We still need to debug it though...

[2019-03-01 13:06] zy-tough opened #703 "construct_ftl_bdev not found in the results of get_rpc_methods."
When I tried to create an FTL bdev via RPC based on a real open-channel SSD, _$scripts/rpc.py construct_ftl_bdev ..._ shows "Method not found".

Not that the OCSSD has been successfully identified via _$examples/nvme/identify/identify_.
## Expected Behavior
$scripts/rpc.py construct_ftl_bdev ...: the name and uuid of the FTL bdev should be shown.
$scripts/rpc.py get_rpc_methods: the results should

[2019-03-01 13:24] jimharris commented on #703
Can you confirm that you've passed --with-ftl when running configure?  By default, the SPDK ftl module is disabled.

[2019-03-01 21:45] nagendra-v commented on #701
I don't think the problem is just messages, I am seeing cli commands hang. And also I am seeing other DPDK messages.

I am running several cli commands from scripts to get drive details, and I see commands either hang taking long time to get response.

EAL: rte_mp_request_sync failed
EAL: Failed to send hotplug request to secondary
EAL: Fail to recv reply for request /var/run/dpdk/spdk1/mp_socket_

[2019-03-01 22:20] jimharris commented on #692
I've tried reproducing this by hardcoding the random seed, but no luck.  Without any other details to go on, I'm going to close this issue.

[2019-03-01 22:23] jimharris commented on #661
Thanks @jingliu9!

I'm going to mark this issue as a 3rd party issue and close it.  If you (or anyone else) is interested in debugging this 970 issue further, I would be happy to provide some guidance and then accept patches.

[2019-03-01 22:23] #661 closed

[2019-03-01 22:26] jimharris commented on #634
Closing this issue since patch from @Comphix has been merged.

@Comphix - please let's make sure we track the separate QoS limit for unmap/write_zeroes.

[2019-03-01 22:26] #634 closed

[2019-03-01 22:28] jimharris commented on #626
Hi @benqwu - I'm going to close this issue since it sounds like maybe you're investigating the problem some more.  If your analysis indicates there's still a problem with SPDK, please feel free to re-open this issue, or file a new one.  Thanks!

[2019-03-01 22:30] jimharris commented on #610
Patch has been merged.

[2019-03-01 22:30] #610 closed

[2019-03-01 22:31] jimharris commented on #698
Hi @SavanAnjaria - please post a link to the GerritHub review here once it's ready.  Thanks!

[2019-03-01 22:31] #698 closed

[2019-03-01 22:32] jimharris commented on #689
Hi @ygm521.  Closing this issue since @optimistyzy provided you an answer.  Feel free to ask more questions on this issue if necessary, even after it is closed.  Thanks.

[2019-03-01 22:32] #689 closed

[2019-03-01 22:44] Seth5141 commented on #640
Hi @pcybulski Sorry to leave this hanging for so long. I was waiting on some of these patches to get merged. Now, everything has been merged except https://review.gerrithub.io/c/spdk/spdk/+/443057. Please checkout that commit and try running again.

[2019-03-01 23:02] nagendra-v commented on #701
@dancios  "With DPDK 18.11 rte_pci_detach() does an internal IPC and tries to detach the device in all the processes within a shared-memory group, meaning it _has to_ be called just once".
I am running only one instance of nvme cli, no other utility running. So there is no multiple process's doing detach, why the error messages are still shown?

[2019-03-01 23:29] jimharris commented on #676
Patch has been merged.

[2019-03-01 23:29] #676 closed

[2019-03-01 23:33] jimharris commented on #665
Hi @nate12112 - I know we discussed this quite a bit on IRC.  Did you ever get a resolution?

[2019-03-01 23:35] nate12112 commented on #665
Yes, I had to modify my input fo files.

On Fri, Mar 1, 2019, 3:33 PM Jim Harris <notifications@github.com> wrote:

[2019-03-01 23:39] jimharris commented on #665
Thanks @nate12112.  I'll close this issue then.

[2019-03-01 23:39] #665 closed

[2019-03-02 00:14] jimharris commented on #565
I don't see them either.  I do see them for PCIe NVMe SSDs however.

The kernel I've got on this system right now doesn't have the nvmet modules built, to see if this works with the kernel target.  I probably won't have a chance to look at that until late next week.  So I'm assigning it to @vermavis for now.  @vermavis - let me know if you'd have a few minutes next week to try this out.

[2019-03-02 01:45] vermavis commented on #565
I see the same problem with kernel NVMe-oF Target. Device is added to the nvme-of initiator, but it doesn't show up under /dev/disk/by-path. So it looks like it is a problem with NVMe-oF namespaces.

[2019-03-04 09:54] karlatec commented on #660
Hi @peluse, can you confirm the change as OK so we can close the issue?

[2019-03-04 12:00] birkelund commented on #700
Tracing in qemu-nvme shows that the ftl issues multiple writes to the same chunk simultaneously. That causes the write pointer violation.

[2019-03-04 12:50] wmalikow commented on #700
FTL issues writes from single thread and in case 0-0 config it can generate high queue depth on single chunk. Since writes are submitted in correct order I think it should be a valid scenario?

[2019-03-04 13:32] birkelund commented on #700
Section 6.3 of the NVMe 1.3 spec specifically says that each command is processed as an independent entity without reference to other commands submitted to the same I/O Submission Queue or to commands submitted to other I/O Submission Queues. There are no guarantees of the order of completion for those commands.

Thus, it cannot be assumed that the write pointer has been advanced when the second w

[2019-03-04 13:49] wmalikow commented on #700
Ok, thank you for clarifying. We should change FTL behaviour to be consistent with spec.

[2019-03-04 18:04] mhae commented on #687
Just a quick update: I'm hitting this issue quite frequently in our environment (outside of the usual SPDK build) and SeaBIOS 1.12 (latest version). I had to switch to 1.12 since the combination of SeaBIOS 1.10 and qemu 2.12.0 is causing another issue where after adding/removing a large number of targets, the start-up times after a reboot are quite long (stuck in BIOS for many minutes).

I'm not s

[2019-03-04 18:16] rajasekaranmam commented on #685
Same setup is not available to re-test this issue, will find a similar one (with secure capable SSD) then retry the suggested steps by @jimharris

[2019-03-04 18:16] rajasekaranmam commented on #686
Same setup is not available to re-test this issue, will find a similar one (with secure capable SSD) then retry the suggested steps by @jimharris

[2019-03-05 01:34] yidong0635 commented on #678
there's a memory leak , how to lock and confirm memory form group->buf_cache to
data_buf_pool to free . using spdk_mempool_put(group->transport->data_buf_pool, buf);

void
spdk_nvmf_transport_poll_group_destroy(struct spdk_nvmf_transport_poll_group *group)
{
	struct spdk_nvmf_transport_pg_cache_buf *buf, *tmp;

	STAILQ_FOREACH_SAFE(buf, &group->buf_cache, link, tmp) {
		STAILQ_REMOVE(&group->buf_c

[2019-03-05 02:13] Seth5141 commented on #678
@yidong0635 The memory leak that you are pointing out occurs on the libibverbs code. It's a known issue, but I believe it is outside the scope of spdk.

[2019-03-05 02:21] yidong0635 commented on #678
@Seth5141 ,  ok ,thanks.

[2019-03-05 03:02] yidong0635 commented on #670
@Donaim , sorry for ignoring something:
2. let me explain, only clean code with your patch still report .
stat: cannot stat 'spdk_repo': No such file or directory
chown: cannot access 'spdk_repo': No such file or directory
maybe my comment is not right.
3. still blocked .

I use vagrant command to run this. I will check it again.
sudo spdk_repo/spdk/test/common/config/vm_setup.sh -i.

[2019-03-05 03:21] yidong0635 commented on #670
@Donaim ,
you are right  with that the script should be run without sudo.
should we add some judgement for "using sudo report errors"?
and submodules are still failed

[2019-03-05 05:06] yidong0635 commented on #670
collections:
Submodule 'capstone' (git://git.qemu.org/capstone.git) registered for path 'capstone'
  GEN     hw/usb/trace.h
Submodule 'dtc' (git://git.qemu-project.org/dtc.git) registered for path 'dtc'
Submodule 'ui/keycodemapdb' (git://git.qemu.org/keycodemapdb.git) registered for path 'ui/keycodemapdb'
  GEN     hw/vfio/trace.h
Cloning into '/home/vagrant/qemu/spdk-3.0.0/capstone'...
  GEN

[2019-03-05 07:07] zy-tough commented on #703
I re-tried to configure SPDK with --with-ftl and the problem has been solved (FTL methods are found now). Thank you very much!

[2019-03-05 07:24] pawelwod commented on #687
I'm still working on this. As a workaround for you can pull these patches

https://review.gerrithub.io/#/c/spdk/spdk/+/446627/2/ (it must be version 2 of this patch)
https://review.gerrithub.io/#/c/spdk/spdk/+/446626/1 (it must be version 1 of this patch)

They are not ready to be merged but at least the make this issue go away on my test setup.

Is version 1.10 in official version in QEMU repo? I

[2019-03-05 08:18] optimistyzy commented on #703
According to @zy-tough 's comments, this issue is solved, so close it.

[2019-03-05 08:18] #703 closed

[2019-03-05 12:41] karlatec commented on #699
Seth, I quickly re-tested 19.01 with RPC parameter suggestion.
Results are better, but still worse than 18.04.
For 128k rw QD=8:
165k IOPS, ~2100MBps, 1500usec avg_lat.

Please mind that this was just a quick-retest, I will re-run the whole test suite soon.

[2019-03-05 15:56] Seth5141 commented on #678
Since @yidong0635 has demonstrated that the connect_disconnect test is now running properly, I think we can close this.

[2019-03-05 15:56] #678 closed

[2019-03-05 16:56] ack72tdp opened #704 "Core dump on trying to connect using nvme cli initiator to target .. suse linux 12.3"
Core dump while trying to connect to target using NVME cli initiator ..

Platform: suse linux 12.3 on both target and initiator nodes
suse11:~/spdk # uname -a
Linux suse11 4.4.162-94.72-default #1 SMP Mon Nov 12 18:57:45 UTC 2018 (9de753f) x86_64 x86_64 x86_64 GNU/Linux

suse12.3:~/spdk # app/nvmf_tgt/nvmf_tgt -c etc/spdk/nvmf.conf.in
Starting SPDK v19.04-pre / DPDK 19.02.0 initialization...
[ DPD

[2019-03-05 17:12] pelplinski commented on #691
I tried to replicate it locally on smaller thin provisioned lvols, but with no success. I think it might be related to NVMf.
Did you ever encored a situation, where lvolstore is not shutdown cleanly (Clean: 0), but there are visible lvols on it? If so, could you try verify payload of a lvol? You can dump blob to a file using blobcli -d.

[2019-03-05 17:53] mhae commented on #687
@pawelwod Sorry, didn't want to rush you ... I was just adding some more info. I looked at the patches and it seems quite some work.

Re: SeaBIOS. It seems that it comes bundled with QEMU but we use the SeaBIOS debian package. The qemu project updated the SeaBIOS to 1.11.1 in qemu 2.12 (master is at 1.12).
But remember, the official Linux distros are pretty far behind in regards to qemu.

[2019-03-05 19:46] jonathanrichardson commented on #669
The buffers didn't help for me. It's not obvious where the 130k iops went. I see spdk_nvmf_rdma_request_process() on 19.04pre take ~3.25% more cpu usage than 18.04. That may be it.

Regarding the scaling, I cherry picked the cpu stats from https://review.gerrithub.io/c/spdk/spdk/+/445285 and can finally see cpu usage on my target. Very useful! When we add the 4th @ 25G or have 1@100G I have 0 idle

[2019-03-05 20:02] darsto commented on #701
@nagendra-v Could you try running nvme-cli with "shm_id=-1" in the config file and see if it helps?

nvme-cli shouldn't hang and there's probably a bug somewhere, but let's try to narrow it down first.

[2019-03-06 01:43] yidong0635 commented on #697
root@waikikibeach20:/home/yidong/spdk# nvme discover -t rdma -a 192.168.1.1 -s 4420
Discovery Log Number of Records 1, Generation counter 3
=====Discovery Log Entry 0======
trtype:  rdma
adrfam:  ipv4
subtype: nvme subsystem
treq:    not specified
portid:  0
trsvcid: 4420
subnqn:  nqn.2018-12.io.spdk:trgt204
traddr:  192.168.1.1
rdma_prtype: not specified
rdma_qptype: connected
rdma_cms:    rdma-c

[2019-03-06 01:44] optimistyzy opened #705 "Memory leak of port free for NVMe-oF target shut down"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

When enabling ASAN to build SPDK app, when you use ctrlr+c to shut down, there is memory leak of the resource.

## Expected Behavior
No memory resource leaking

## Current Behavior
When you shutting down NVMe-of with NVMe-oF target

[2019-03-06 04:33] yidong0635 commented on #705
@optimistyzy I use muti-process to run this case, before this solution ,logs list as below,
confirm it's useful. and  there're still  other leaks.
Starting SPDK v19.04-pre / DPDK 18.11.0 initialization...
[ DPDK EAL parameters: perf --no-shconf -c 0x1 -m 1024 --no-pci --log-level=lib.eal:6 --base-virtaddr=0x200000000000 --file-prefix=spdk_pid1589771 ]
Initializing NVMe Controllers
Attaching to NVM

[2019-03-06 04:36] optimistyzy commented on #705
@yidong0635 For multiple process, could you open another issue? Which is not related this issue, could you create another one.

[2019-03-06 04:38] yidong0635 commented on #705
@optimistyzy  ok.

[2019-03-06 05:17] yidong0635 opened #706 "there‘re memory leaks when use muti-porcess to run perf cases with tcp transport"
when I verfiy multi-process cases with tcp transport.
ctrl+c to kill targets or initiators there're memory leaks report with asan enabled.

## Expected Behavior
exit without obvious error.
## Current Behavior
LeakSanitizer: detected memory leaks

## Possible Solution

## Steps to Reproduce
1. target scripts:
#!/usr/bin/env bash
                cd /home/spdk
                ./configure --enable-deb

[2019-03-06 06:58] changpe1 commented on #704
@ack72tdp Can you provide the coredump trace ? and it's better to understand why the ibv_resize_cq() failed in your environment, so start the nvmf_tgt process and with "-L RDMA" and list the debug information here.

[2019-03-06 07:06] changpe1 commented on #697
@senyaroy softRocE only supports limited queue pair connections, so you can try use the parameter --nr-io-queues=1 with your nvme connect command, initiator will use number of cores for IO queues by default.

[2019-03-06 10:48] Roberciiik commented on #677
Hi, I reproduced the problem with newer kernel (4.15.0-45-generic).
I observed that after attachment of 3rd drive to initiator host, the first connected drive had gone.

[2019-03-06 12:16] pawelwod commented on #687
Ok, I have the final fix (i think so :P) Here is a top of the patch series you give a try:

https://review.gerrithub.io/#/c/spdk/spdk/+/446627/

You need to pull [all of them](https://review.gerrithub.io/#/q/topic:issue_687+(status:open+OR+status:merged))

BTW: I suspect that the issue with long boot on QEMU 2.12 & SeaBIOS 1.10 might also be fixed here but just a blind shot.

[2019-03-06 15:53] ack72tdp commented on #704
//ON THE TARGET NODE

suse11:~/spdk # app/nvmf_tgt/nvmf_tgt -L RDMA -c etc/spdk/nvmf.conf.in
Starting SPDK v19.04-pre / DPDK 19.02.0 initialization...
[ DPDK EAL parameters: nvmf --no-shconf -c 0x1 --log-level=lib.eal:6 --base-virtaddr=0x200000000000 --match-allocations --file-prefix=spdk_pid62334 ]
EAL: No free hugepages reported in hugepages-1048576kB
app.c: 624:spdk_app_start: *NOTICE*: Total c

[2019-03-06 16:17] ack72tdp commented on #704
suse11:~/spdk # gdb -c /tmp/core-reactor_0.62548.suse11.1551888427
GNU gdb (GDB; SUSE Linux Enterprise 12) 8.2
Copyright (C) 2018 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.
Type "show copying" and "show warranty"

[2019-03-06 16:35] ack72tdp commented on #704
using valgrind..

suse11:~/spdk # valgrind --vgdb=full app/nvmf_tgt/nvmf_tgt -L RDMA -c etc/spdk/nvmf.conf.in
==64539== Memcheck, a memory error detector
==64539== Copyright (C) 2002-2015, and GNU GPL'd, by Julian Seward et al.
==64539== Using Valgrind-3.12.0 and LibVEX; rerun with -h for copyright info
==64539== Command: app/nvmf_tgt/nvmf_tgt -L RDMA -c etc/spdk/nvmf.conf.in
==64539==
Starting SP

[2019-03-06 16:43] ack72tdp commented on #704
More stack ..

rdma.c:2719:spdk_nvmf_rdma_close_qpair: *ERROR*: Failed to post dummy receive WR, errno 11
nvmf_tgt: rdma.c:2720: spdk_nvmf_rdma_close_qpair: Assertion `0' failed.
==64635==
==64635== Process terminating with default action of signal 6 (SIGABRT): dumping core
==64635==    at 0x632AF67: raise (in /lib64/libc-2.22.so)
==64635==    by 0x632C339: abort (in /lib64/libc-2.22.so)
==64635==

[2019-03-06 17:40] mhae commented on #687
@pawelwod Awesome! The patches fixed the issue I've been running into in my repro environment. Unfortunately, I can't try it our target environment since we're still on 18.10. I need to spend some time pulling in SPDK top of tree to see that it fixes all the issues we've seen in our target env. But the initial testing looks very promising. I did VM starts & reboots for about an hour without any gl

[2019-03-06 19:23] Seth5141 commented on #677
thanks @Roberciiik I will be looking at your systems this afternoon or tomorrow morning.

[2019-03-06 23:47] youngtack commented on #700
Hi @birkelund,

Thanks to clarify NVMe spec.

I found the concern on optimal pipe-lining for multiple writes destined to single chunk.  If advancing wp would be done at the completion phase even though nvme controller could guarantee the ordered execution, the next write execution could violate wp and the host should wait for the previous write to be completed. Otherwise, if advancing wp would be

[2019-03-07 02:15] changpe1 commented on #607
@nagendra-v , for now SPDK can support the feature you mentioned here, and you only need to use the RPC delete/add namespace when changing the format of one bdev. The initiator will recognize the new driver format.

[2019-03-07 02:33] Comphix commented on #651
Working on one patch to enhance the current QoS testing with iSCSI.
https://review.gerrithub.io/#/c/spdk/spdk/+/447133/

Later will drive the other changes.

[2019-03-07 04:25] shuhei-matsumoto opened #707 "Contiguous physical memory allocation in SPDK and DPDK by 1GB hugepages."
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Our team want to allocate large blocks of contiguous physical memory (e.g. 16GB) by using spdk_dma_malloc(16GB) and enabling multiple 1GB pages at booting.

It worked when we use SPDK18.07 + DPDK18.02.
However it doesn't work when

[2019-03-07 04:39] changpe1 commented on #704
@ack72tdp Can you share us with your hardware NICs and what's the version of your ib_verbs library ?

[2019-03-07 04:57] optimistyzy commented on #706
@yidong0635  Since the perf tool is not the daemon tool, and you use ctrlr +c, all the resources related with this process will be recycled. Currently, for nvme perf test, there is the expected behavior if the connection is broken, then we just exit(1) to exit the process. And in other locations, we all have this operation (e.g., for aio model). So I think that it should be expected behavior of th

[2019-03-07 05:09] changpe1 commented on #589
@nagendra-v I used uio_pci_generic driver instead of vfio-pci, I guess that's maybe the problem.

[2019-03-07 05:10] changpe1 commented on #589
[Bug Scrub] @darsto Do you have any comments about the EAL error log when using vfio-pci driver ?

[2019-03-07 05:12] changpe1 commented on #607
[Bug Scrub] Does this method work for you ? Just use nvmf_subsystem_add_ns and nvmf_subsystem_remove_ns RPC when doing block format ?

[2019-03-07 05:14] changpe1 commented on #639
[Bug Scrub] @Seth5141 you can use the following method to remove/add one physical NVMe drive:
[1]: echo 1 >/sys/bus/pci/devices/0000\:84\:00.0/remove
[2]: echo 1 >/sys/bus/pci/rescan

[2019-03-07 05:15] yidong0635 commented on #706
@optimistyzy  thanks, if that means this issue should be closed?

[2019-03-07 06:09] revanbiradar2019 commented on #697
Discovery is only failing . So we cannot go for connecting,

[2019-03-07 07:23] optimistyzy commented on #706
@yidong0635 for this, I think that it could be closed

[2019-03-07 07:39] #706 closed

[2019-03-07 09:05] pawelwod commented on #687
If I manage pass the review I think we will want to cherry pick this fix to incoming 19.01.1

[2019-03-07 09:57] Donaim commented on #670
@yidong0635 is it correct that, at this point, the only failing step for you is QEMU submodules installation?
Regarding it, you have to configure your proxy on VM using tsocks conf file at /etc/tsocks.conf.

As for your suggestion about adding "using sudo report errors" - script already contains simmilar notice:
https://github.com/spdk/spdk/blob/master/test/common/config/vm_setup.sh#L305

[2019-03-07 11:06] yidong0635 commented on #670
@Donaim  I use fedora28 ,  I try it as a non-root user.
1. there's no  this file :/etc/tsocks.conf. downloading failed. so qemu failed.
2. vpp compile failed. already submit a patch about rpmbuild  command not found. and then compile VPP.
3.run as non-root user , why it still report  no pandas ? I run it before as root user , already
 add python3-pandas package in list, test will not report error.

[2019-03-07 11:56] revanbiradar2019 commented on #697
Hi We tried the following. Still connecting error is found

[‎3/‎7/‎2019 5:24 PM]  Devanathan Karunakaran (Industrial & Engineering Services (I&ES)):
No Title
root@testubuntu3:/home/ubuntu# nvme discover -t rdma -a 10.201.40.37 -s 4420

Discovery Log Number of Records 2, Generation counter 5
=====Discovery Log Entry 0======
trtype:  rdma
adrfam:  ipv4
subtype: nvme subsystem
treq:    not specified

[2019-03-07 15:20] jimharris commented on #707
Hi @shuhei-matsumoto,

Can you try the spdk_memzone APIs instead?  We needed to make a lot of changes in the memory allocation areas of SPDK to leverage the DPDK dynamic memory allocation support that went into DPDK 18.05.  The spdk_memzone APIs should still enable allocation of physical/IOVA contiguous buffers.

-Jim

[2019-03-07 16:01] ack72tdp commented on #704
suse11:~/spdk # rpm -qa | grep libib
libibverbs1-14-8.16.39.x86_64
libibumad3-14-8.16.39.x86_64
libibverbs-utils-14-8.16.39.x86_64
libibcm1-14-8.16.39.x86_64
libibverbs-14-8.16.39.x86_64
libibus-1_0-5-1.5.13-15.8.1.x86_64

// broadcom smart nic - PS222 stingray..

suse11:~/spdk # lspci | grep Broadcom
06:00.0 Ethernet controller: Broadcom Limited Device d802
06:00.1 Ethernet controller: Broadcom L

[2019-03-07 23:48] nagendra-v commented on #607
@shuhei-matsumoto Thanks, issue you pointed is related BlockSize+Metadata. This is another issue I ran into, this change will help to address this issue.

[2019-03-07 23:52] nagendra-v commented on #607
@changpe1
Tried RPC calls nvmf_subsystem_remove_ns  and nvmf_subsystem_add_ns, this doesn't work.
Also tried delete_bdev and construct_nvme_bdev after nvmf_subsystem_remove_ns , still didn't work.

[2019-03-08 02:25] nagendra-v commented on #701
Tried "shmd_id=-1", still see the issue.

I think the issue(utilities stuck) is when two utilities, like nvme cli and nvme_manage/identify OR two instance of nvme cli, are running at the same time.

With nvmf_tgt running and when a utility does attach_cb, are they attaching to same shared memory evetually?

[2019-03-08 02:35] shuhei-matsumoto commented on #707
Hi @jimharris @darsto

Thanks for the comment. I tried spdk_memzone API but the result was same.
I don't think this is SPDK issue and the recommendation will be to use IOMMU.

We may have to manage our own DPDK patches but will you give any feedback if you can?

Thanks,
Shuhei

[2019-03-08 06:22] changpe1 commented on #607
@nagendra-v Thanks.  I tested it in my system, and it only works for Namespace 1, there is a bug in the Nvmf target, I will fix it that later.

Here is my steps:
1. Start Nvmf target with 2 Namespaces, and 2 malloc block devices used.
2. Initiator connect to Nvmf target, and see the two block devices.
3. $rpc_py nvmf_subsystem_remove_ns nqn.2016-06.io.spdk:cnode1 1.
4. Check the initiator, Namespa

[2019-03-08 06:23] changpe1 commented on #607
@nagendra-v You don't need to disconnect and connect Nvmf target if your initiator can support AER.

[2019-03-08 06:56] glodfish-zg commented on #690
push https://review.gerrithub.io/c/spdk/spdk/+/447410  to solve vfio-pci hotplug.
Will continue to pay attention to this issue and update.

[2019-03-08 09:07] Maciej-Szwed commented on #407
Currently there is a patch set (https://review.gerrithub.io/#/c/spdk/spdk/+/422941) with reviews done and comments need to be addressed.

[2019-03-08 11:21] pcybulski commented on #704
Have the same behavior on X722 NICs.

Setup details:
os sles 12 sp 3

kernel 4.20.14-5 (latest stable)

rdma-core-22.1
lan and iWarp drivers from kernel
spdk  84ee3a62c74af7e286443b1e8093d0af0cd50c05
dpdk v18.08-1994-g67b915b09
nvme-cli d9a12812dfe1fe3edf92d71442677cac97bb312e

Output while starting target:
QA2050:~ # /root/spdk/app/nvmf_tgt/nvmf_tgt -c /etc/nvmf.conf
Starting SPDK v19.04-pre / DP

[2019-03-08 11:55] Roberciiik opened #708 "No way to check current version of SPDK using RPC in runtime"
Hi,

Could you add RPC method for checking SPDK version in runtime? I'm trying to use newer SPDK features only if they are available in the installed SPDK daemon (nvme_tgt).

## Expected Behavior
New RPC method like "get_version" returning current version (i.e. `{ "version": "19.01"}` or `{"major": "18", "minor": "10", "build": "12345"}`) shall be available,

## Current Behavior
Version can be rea

[2019-03-08 15:36] jimharris commented on #707
Sorry @shuhei-matsumoto - I see now that you had already tried the spdk_memzone APIs in your original report.

Could you try a couple of experiments for me?

1) specify the memory size when starting the application - for example "-s 16384"
2) in lib/env_dpdk/init.c, try enabling the --legacy-mem option (just remove the surrounding #ifdef around line 281)

[2019-03-10 00:44] optimistyzy commented on #705
close this issue since the patch is merged

[2019-03-10 00:44] #705 closed

[2019-03-11 01:22] shuhei-matsumoto commented on #707
@jimharris

Thanks for the suggestion. I tried but didn't resolve the issue.
I have found the presentation and the patch series by Anatoly Burakov and Bruce Richardson.

https://www.dpdk.org/wp-content/uploads/sites/35/2018/10/pm-01-2018-DPDK-Userspace-Memory.pdf

The patch series is large and will need time to understand. Asking a question to them first is reasonable?

[ DPDK EAL parameters: spdk

[2019-03-11 03:35] darsto opened #709 "make lib/bdev/ocf/env fails: rm: missing operand"
Happened in latest autotest-vs-DPDK-master job:

[code]

There's only Intel-internal url to the full log:
https://10.102.17.104:8080/job/NVMe_tests/job/nvme_phy_autotest/20524/console

[2019-03-11 04:06] shuhei-matsumoto commented on #707
@jimharris

Interesting observation.

I integrated dpdk18.02 but the result was same.

Starting SPDK v19.04-pre / DPDK 18.02.2 initialization...
[ DPDK EAL parameters: spdk --no-shconf -c 0x1 -m 16384 --base-virtaddr=0x200000000000 --file-prefix=spdk_pid6886 ]
EAL: Detected 12 lcore(s)
EAL: Multi-process socket /var/run/.spdk_pid6886_unix
EAL: Probing VFIO support...
va: 0x0000200140000000 == pa:

[2019-03-11 08:12] yidong0635 opened #710 "run autotest failed with SPDK_TEST_CRYPTO=1 && SPDK_TEST_BLOCKDEV=1&& SPDK_RUN_ASAN=1&&SPDK_RUN_UBSAN=1"
autotest failed with below configurations:
 assign a value of 1 to all of the pertinent tests
SPDK_BUILD_DOC=1
SPDK_RUN_CHECK_FORMAT=1
SPDK_RUN_SCANBUILD=1
SPDK_RUN_VALGRIND=1
SPDK_RUN_FUNCTIONAL_TEST=1
SPDK_TEST_UNITTEST=0
SPDK_TEST_ISAL=1
SPDK_TEST_ISCSI=0
SPDK_TEST_ISCSI_INITIATOR=0
SPDK_TEST_NVME=0
SPDK_TEST_NVME_CLI=0
SPDK_TEST_NVMF=0
SPDK_TEST_RBD=0
SPDK_TEST_CRYPTO=1
SPDK_TEST_OCF=0
 requir

[2019-03-11 08:21] darsto commented on #710
@yidong0635 Please attach the logs in a separate file.

[2019-03-11 08:24] darsto commented on #709
@Donaim could you verify this is indeed an ocf issue and then report it to the ocf team?

[2019-03-11 08:33] Donaim commented on #709
@Donaim Sure, but I need to confirm this is the OCF issue first. I might not be as we changed OCF env configuration recently.

[2019-03-11 08:39] yidong0635 commented on #710
@darsto  done.

[2019-03-11 09:49] benqwu commented on #626
@optimistyzy
I am sorry. I have not tried to reproduce the problem on bdevperf, worried that it is difficult to occur.

I collected some information these days on my APP.
When the problem occured, I found two things:

- io_inflight is always 42.

$9 = {bdev = 0x614000000050, channel = 0x6080000040a0, shared_resource = 0x607000005d50, stat = {bytes_read = 4702900224, num_read_ops = 1137183, bytes_w

[2019-03-11 09:50] benqwu commented on #626
@jimharris
Please help reopen this issue.

[2019-03-11 09:54] benqwu commented on #626
@optimistyzy
I use spdk_bdev_read() to read SSD. No changes to SPDK bdev layer.

[2019-03-11 11:33] Donaim commented on #671
@jessehui the error was fixed by patch f155c98084c718adcbec020d0d976bcf57bccce1, it does not reproduces on current master. We don't know what was the cause yet. Does that help with your issue?

[2019-03-11 13:40] darsto commented on #701
@nagendra-v both nvmf_tgt and nvme-cli are SPDK applications. They can share their memory as long as they use the same "shm_id".

The original post mentions just one nvmf_tgt and one nvme-cli instance. I'd expect such setup to work correctly since that's what we test in our per-patch testing. Since you're saying you run into issues with multiple nvme-cli instances, could you write down the specifi

[2019-03-11 15:20] Seth5141 commented on #677
@Roberciiik After looking at your setup this morning, I am pretty sure I have found the issue here. NVMe list does send some admin commands to the target side. These are then processed, and returned. There is however a known issue in spdk 19.01 with keeping track of the number of outstanding work requests we have in the RDMA qpair. What essentially happens is you perform a discovery or identify co

[2019-03-11 16:10] kreuzerkrieg opened #711 "Allow build architecture for x86 other than `native`"
At this moment the `-march` flag is set in the make file (spdk.common.mk file) as `-march=native` and there is no way to override it. It may be problematic, since the build machine and staging/production may be of different architecture, though it is still `x86`. For example, build machine may support AVX512 and will generate the assembly accordingly. It will result in SIGILL on machine that has n

[2019-03-12 06:14] wanqunintel commented on #641
This should be an enhancement same as #668

[2019-03-12 06:17] wanqunintel commented on #636
@yidong0635 , Ziye mentioned there should be a patch merged for this issue, would you retest with master and update here?

[2019-03-12 06:27] wanqunintel commented on #407
@clicx @liang2yan would you both verify with the patch and update status? thanks.

[2019-03-12 08:29] benqwu commented on #626
@benlwalker

Is there a problem combining epoll_wait and io_getevents?
I found that this patch remove epoll_wait.
https://github.com/spdk/spdk/commit/7f534fca6ac7392f2c9e348be4cce02496dfd6b4#diff-e1d63411870fd5be37f7782a43dc0e0c

[2019-03-12 09:15] darsto commented on #709
I've seen this happening more frequently, so I started looking into reverting that makefile patch and noticed the culprit.

See the fix:
https://review.gerrithub.io/c/spdk/spdk/+/447750

[2019-03-12 09:30] darsto commented on #707
I'd expect physical addresses to be sorted in ascending order. Thanks for the example app - I'll try to debug this.

[2019-03-12 09:53] darsto commented on #694
"Storage object ramdisk/ramdisk exists"

The test seems to fail on the following line:
`targetcli "/backstores/$targetcli_rd_name create name=ramdisk size=1GB"`
test/vhost/initiator/blockdev.sh:131

It seems like we don't delete that ramdisk in any trap. There is a handy function to do it, but it's only called at the end of the test:
`remove_kernel_vhost`

[2019-03-12 10:50] darsto commented on #664
The original error "too many SGL elements" seems to be caused by #640, which should be fixed now.

@nedved1 could you re-check on master?

[2019-03-12 10:51] darsto commented on #640
The patch has been merged, so I'm closing this issue. Ping me if it's still reproducible so I'll reopen.

[2019-03-12 10:52] #640 closed

[2019-03-12 11:59] darsto commented on #589
Apparently our vfio-pci hotremove got completely broken after DPDK implemented its "vfio req notifier". DPDK will keep printing those error messages until we call the proper DPDK function.

There is a PoC fix for github issue #690 that could help here as well:
https://review.gerrithub.io/c/spdk/spdk/+/447410

[2019-03-12 12:05] darsto commented on #625
I'll try to debug this.

[2019-03-12 12:26] chwlouluo commented on #627
can I ask a question?when you test rdma transport ,your network is working at softROCE model or use infiniband  mellanox connectx-3(or 4 ,5),and chose it's link layer as ethernet?

[2019-03-12 13:28] wmalikow commented on #700
Hi @youngtack,

I will keep in mind your request when we decide to change current behaviour, but I'm not sure if we should allow for it.

Thanks,
Wojtek

[2019-03-12 14:04] Mic92 opened #712 "nvme_sigbus_fault_sighandler should not rely on thread-local storage"
Currently SPDK uses a thread-local storage variable to store the current nvme controller in a variable to access in case of an segfault the same from the segfault [handler](https://github.com/spdk/spdk/blob/f1da65ef283b9016e3a6362ac15044659f30a381/lib/nvme/nvme_pcie.c#L210). However there is no guarantee from operating system that signal handler, will be processed by the same thread that triggered

[2019-03-12 14:15] karlatec commented on #699
Adding this for the record, I already mentioned this in email communitaion.
Re-tested previously mentioned workloads with current 19.01.1 backport.
Results:
[code]

So I think we're looking good for perf benchmarking using 19.01.1

[2019-03-12 14:40] Seth5141 commented on #635
Hi @liang2yan This issue has been classified with about 5 other hotplug bugs. Thanks to @optimistyzy and @wanqunintel we have a list of them, and I will be looking at this issue within that broader context today or tomorrow. Thanks!

[2019-03-12 15:03] darsto commented on #279
Bug scrub: @jimharris still trying to reproduce this. The initial plan is to add some more tracelogs to blobstore code.

[2019-03-12 15:06] darsto commented on #565
Bug scrub: pinging @jimharris per his request

[2019-03-12 15:10] darsto commented on #626
Bug scrub: @benqwu The above patch was just an optimization. The AIO bdev was greatly refactored in the latest SPDK. Could you recheck the current master?

[2019-03-12 15:14] darsto commented on #620
Bug scrub: just to verify - this is an issue inside nvme-cli. Maybe it's been fixed in nvme-cli 1.7 - @Seth5141 to check that.

[2019-03-12 15:16] darsto commented on #615
Bug scrub: @Seth5141 is about to address all nvmf hotplug issues at once. The hope is that there will be a common fix for all of those.

Please see #635

[2019-03-12 15:20] darsto commented on #660
Bug scrub: There is an issue with ISA-L and RBD enabled at the same time.

@ZiyeYang have you pushed any patch to fix rbd and isa-l collision?

[2019-03-12 15:22] darsto commented on #652
@pawelkax is still working on this

[2019-03-12 15:24] youngtack commented on #700
Hi @wmalikow,

Submitting next write with chunk wptr increased before the completion of the current write is obviously beneficial for write throughput only if the device would supporting wptr advancing at write execution stage. But the host FTL should consider multiple pending writes for exception handling. It would be much simple to consider single write per chunk. Anyway I will talk with Matias

[2019-03-12 15:25] darsto commented on #603
Bug scrub: @jimharris to provide TOmek some suggestions what to debug

[2019-03-12 15:28] darsto commented on #464
Bug scrub: @pelplinski please provide details what still needs to be done.

[2019-03-12 15:29] jimharris commented on #603
@tomzawadzki - can you set a breakpoint when vtophys fails, and then look at the backtrace?

Does this happen on the first thin-provisioned cluster allocation?
Would it be possible to post more of the log on a failure case?

[2019-03-12 15:31] darsto commented on #319
Bug scrub: Hopefully we'll be able to improve the error messages for SPDK 19.07.

[2019-03-12 15:35] darsto commented on #641
Bug scrub: I'm closing this. Let's continue the discussion in #668

[2019-03-12 15:36] karlatec commented on #660
So I've just changed SPDK_TEST_RBD to 0 for unit tests job, and it finished succesfully.

I can see "with-reduce" in /configure options, but I still don't see reduce tests being run:
[code]
I cannot find "test/unit/lib/reduce" anywhere in the logs.

[2019-03-12 15:43] darsto commented on #691
Bug scrub: @pelplinski reproduced it and still needs to debug.

@benlwalker suggests to figure out the differences between NVMf and FIO (?) This might be related to zero-copy READ.

[2019-03-12 15:44] darsto commented on #697
@Seth5141 to take a look

[2019-03-12 15:47] darsto commented on #699
Bug scrub: let's leave the issue open till 19.01.1 is released.

[2019-03-12 15:50] darsto commented on #702
Bug scrub: one way to fix this would be allocating hugepages at boot.

@karlatec has a patch out to decrease overall hugepage requirements. We'll continue this topic after it's merged.

[2019-03-12 15:53] darsto commented on #704
@Seth5141 suggests to run with fewer I/O queues

@Seth5141 could you provide more info on that?

[2019-03-12 15:55] darsto commented on #711
Bug scrub: We could add a configure option to select the target architecture and pass the same option to underlying libs.

[2019-03-12 16:02] darsto commented on #407
This looks like a duplicate of #668

@Seth5141 could you close one of those issues?

[2019-03-12 16:04] darsto commented on #707
Bug scrub: @benlwalker says that's just how new DPDK behaves.

[2019-03-12 17:38] Seth5141 commented on #704
@pcybulski
Looking at the rdma-core, bnxt appears to have the same problem as the i40_iw driver in that neither of them support resizing a completion queue once it has been created.
In SPDK, we attempt to resize the completion queue when we add more I/O qpairs since we need to guarantee that the completion queue will not be overrun.
I would recommend attempting to connect with fewer than 36 I/O qu

[2019-03-12 18:02] jimharris commented on #712
But just before that quoted text from signal(7) is this:

A signal may be generated (and thus pending) for a process as a whole (e.g., when sent using kill(2)) or for a specific thread (e.g., certain signals, such as SIGSEGV and SIGFPE, generated as a consequence of executing a specific machine-language instruction are thread directed, as are signals targeted at a specific thread using pthread_kil

[2019-03-12 18:04] Mic92 commented on #712
Ok. Then this is a non-issue.

[2019-03-12 18:04] #712 closed

[2019-03-12 18:19] jimharris commented on #565
After conferring with Keith Busch, there are no udev rules currently to create these symlinks for NVMe-oF namespaces.  This matches with findings from @vermavis that this doesn't work with the Linux kernel target either.

I'm going to close this issue, since it's not an SPDK issue.

[2019-03-12 18:19] #565 closed

[2019-03-12 20:29] jkryl opened #713 "assert in spdk_bdev_io_get_buf related to alignment"
When creating AIO bdev following assert in spdk_bdev_io_get_buf (bdev.c) is triggered:

[code]

further analysis revealed that `spdk_bdev_get_buf_align()` returns bogus value (alignment). The alignment was 512k instead of 4k in my case. This function takes the alignment from `bdev->required_alignment`. So during the initialization of bdev something had to go wrong. And indeed, in `create_aio_disk(

[2019-03-12 20:40] Seth5141 commented on #668
I am going to close this one as relating to issue 407. Please follow that one for improvements to the overall NVMe-oF initiator error handling.

[2019-03-12 20:40] #668 closed

[2019-03-12 22:18] Seth5141 commented on #615
@liang2yan I have tried replicating this issue with a slightly simplified setup (Not as many NVMe drives) and was unable to do so. Can you please try again on master?

Also, what NICs are you using in your setup?

[2019-03-12 22:23] Seth5141 commented on #635
@liang2yan Since this is the same configuration as #570 I think we should close this one and focus comments on that issue. The fact that the core dump is different is interesting, but may just be a side effect of the timing with which you pull the drives. If we are able to figure out the problem with 570 and this one still occurs, we should reopen it.

[2019-03-12 22:23] #635 closed

[2019-03-12 22:35] Seth5141 commented on #627
@liang2yan I am not sure I understand your configuration fully. It looks like you have three machines here.
1. Target exposing 4 NVMe drives
2. Initiator/target consumes 1 NVMe drive from (1) and then exposes it.
3. Initiator consumes the bdev exposed by (2)

Is this correct?

If so, on whcih machine do you remove the bdev? Is it on system 2? Or do you remove the underlying bdev from system 3?

Th

[2019-03-12 22:43] Seth5141 commented on #639
@liang2yan I am going to close this one since it is so closely related to #627, especially as it relates to the setup. Let's focus questions and progress on that issue and once it's fixed, if you can still replicate this one we can reopen it.

[2019-03-12 22:43] #639 closed

[2019-03-13 02:16] shuhei-matsumoto commented on #707
Hi @dastro @benlwalker ,

Thank you for taking and discussing this in the bug scrub meeting.
I will investigate the internal of the new DPDK as possible as I can first.

[2019-03-13 07:40] clicx commented on #407
I can't find any changes to the nvme rdma transport (initiator).

[2019-03-13 08:13] darsto commented on #695
From the current logs I can tell that SPDK vhost does everything correctly. It looks like SeaBIOS has enumerated all the virtio drives, performed a clean virtio-pci shutdown, started booting up the OS and that's where it's stuck. The OS does not even get to the point where it initializes the virtio-pci devices, so it's either a SeaBIOS or Linux issue - we could use logs for both, currently we have

[2019-03-13 10:40] jessehui commented on #671
@Donaim Just run the same test and ejected the same error message using master branch with commit ID  `136c3fb46184b4`.
[code]

[2019-03-13 14:00] Roberciiik commented on #677
Hi Seth,

Good news!
I cannot reproduce problem on the newer SPDK version.
I'll close the issue tomorrow if everything is OK.

Thanks

[2019-03-13 14:01] Roberciiik commented on #677
Do you know when the official 19.01.1 tag will be assigned?

[2019-03-13 14:07] Maciej-Szwed commented on #677
Hi Robert,
release will be this week.

[2019-03-13 15:24] Seth5141 commented on #677
@Roberciiik Great! Thanks for the feedback.

[2019-03-13 15:29] YamboZhou opened #714 "Does vhost-nvme support using nvmf on TCP transport as the backed device?"
Hi guys,

Does vhost-nvme support using nvmf on TCP transport as the backed device?

I created a nvmf target in target server. And in client server, I start vhost-nvme application with the nvmf device.

Then the error messages are:
bdev_nvme.c:1423:bdev_nvme_library_init: *ERROR*: Need to provide subsystem nqn

However, spdk perf could test with the nvmf device successfully. Hence I wonder whether

[2019-03-13 15:43] #714 closed

[2019-03-13 15:44] YamboZhou commented on #714
Resolved. Caused by error configuration file.

[2019-03-13 17:56] jimharris commented on #709
Fix merged.

[2019-03-13 17:56] #709 closed

[2019-03-14 03:17] yidong0635 commented on #636
use the latest code, follow liang's steps. I got the results and the target never report errors.

[2019-03-14 03:20] yidong0635 commented on #636
@liang2yan @wanqunintel @ZiyeYang   this issue can be closed I think.

[2019-03-14 06:58] optimistyzy commented on #636
@yidong0635 Let me close this issue. If you detect this issue again, please do reopen this.

[2019-03-14 06:58] #636 closed

[2019-03-14 09:19] changpe1 commented on #607
@nagendra-v Can you try it with your environment, everything works well on my side, but be aware Linux will not support 512+8 block size by default, you need to configure your Host as well.

[2019-03-14 09:43] shuhei-matsumoto commented on #707
Hi @darsto  CC: @benlwalker @jimharris

Our team found the root cause. The patch https://gerrithub.io/c/spdk/spdk/+/423491 doesn't allow contiguous physical memory allocation more than 1GB regardless the version of DPDK.

We have a question and why SPDK don't support any platform such that RTE_IOVA_PA is the only supported mode? Your any feedback is very appreciated.

Thanks,
Shuhei

[2019-03-14 10:59] pcybulski commented on #704
Tried with latest spdk/dpdk:
spdk 5ffeed258244d177485fab906bfbe9c3b3db632d
dpdk 67b915b09bcf51ae2e2a703718881f0b0845883c

Lowered MaxQues
QA2050:~ # grep MaxQueuesPerSession /etc/nvmf.conf
  MaxQueuesPerSession 4

On target there was following output
QA2050:~ # /root/spdk/app/nvmf_tgt/nvmf_tgt -c /etc/nvmf.conf
Starting SPDK v19.04-pre / DPDK 19.02.0 initialization...
[ DPDK EAL parameters: nvmf -

[2019-03-14 12:03] shuhei-matsumoto commented on #707
I add a little information about out analysis.

eal_memalloc_is_contig always returns true when the mode is RTE_IOVA_VA, and DPDK don't try to make address physically contiguous. So we need the mode is set to RTE_IOVA_PA in one of our use cases.

[2019-03-14 14:28] Seth5141 commented on #704
@ack72tdp Do you see the same behavior on the broadcom NICs when you decrease the number of I/O qpairs?

[2019-03-14 15:55] pelplinski commented on #464
Tests, that I ran show that those targets are not executed and therefore files are not deleted. It looks like they were not in the .PHONY list.

Creating multiple targets for files located outside of spdk directory creates a problem - how to add all of them to .PHONY list?

[2019-03-14 23:02] nagendra-v commented on #607
@changpe1 I am not trying 512+8, I am seeing the issue going from 512 to 4K. I am trying this on NVMe drive with "uio_pci_generic" driver.

[2019-03-14 23:49] nagendra-v commented on #701
@darsto Sorry for the confusion.
I opened this issue when I saw **_"EAL"_** the prints while testing SPDK v19.01 with just nvmf_tgt and nvme-cli.

Later on I tried with nvmf_tgt(shm-id set to 1) running and nvme-cli(with shm_id=1) along with with other nvme utility nvme_manage(also with -i 1) OR another instance or nvme-cli. That's when I noticed nvme-cli and nvme utility hang. But I haven't got c

[2019-03-14 23:53] nagendra-v commented on #620
@darsto There is no SPDK nvme-cli 1.7 version, I see master and 1.6 version at https://github.com/spdk/nvme-cli

[2019-03-15 00:26] changpe1 commented on #607
@nagendra-v Changing from 512B to 4KiB can definitely work if you can use the RPC call to delete Namespace and add it back after changed the block size.

[2019-03-15 00:36] nagendra-v commented on #607
This is what I tried earlier, as mentioned in my earlier comments "Tried RPC calls nvmf_subsystem_remove_ns and nvmf_subsystem_add_ns, this doesn't work.
Also tried delete_bdev and construct_nvme_bdev after nvmf_subsystem_remove_ns , still didn't work."
Is there any other RPC call to delete Namespace ?

[2019-03-15 00:40] changpe1 commented on #607
@nagendra-v Can you post the initiator kernel log here ? Initiator should print scan similar messages.
 nvmf_subsystem_add_ns and nvmf_subsystem_remove_ns are the right RPC, and this is already covered by CI .

[2019-03-15 01:15] benqwu commented on #626
Thanks. My APP is developed on SPDK-18.10, so I may not use the latest code to experiment immediately.

[2019-03-15 07:34] darsto commented on #707
@shuhei-matsumoto I pushed a patch to remove that extra rte_bus. It doesn't provide any value to SPDK right now and only breaks your use case.

Please see here:
https://review.gerrithub.io/c/spdk/spdk/+/448121

[2019-03-15 07:57] shuhei-matsumoto commented on #707
@dastro Thank you so much! Now I could understand the reason why you needed this patch.

It will be great for us if we can allocate large contiguous memory without any local change and I believe you can get the final solution for the non-privileged mode.

Our team will do double check and post the result here. Then I will review the Gerrit.

Thanks,
Shuhei.

[2019-03-15 08:12] darsto opened #715 "iSCSI: *ERROR*: Not found task for transfer_tag=3ef"
This is a fairly rare intermittent failure on our CI.

[code]

full log here: https://ci.spdk.io/spdk-jenkins/results/autotest-per-patch/builds/25675/archive/RBD_autotest/build.log

[2019-03-15 09:58] nedved1 commented on #664
@darsto I've checked it on master, the issue can be still reproduced.

[2019-03-15 10:41] darsto commented on #464
Note that I haven't looked at the code yet, I'm just posting some suggestions.

Could we add some dummy dependency on all those per-file targets? Then for the uninstall we can touch just that single dependency and all the per-file targets will be executed automatically.

[2019-03-15 13:30] SavanAnjaria commented on #603
@tomzawadzki @jimharris
I could reproduce this issue with another use case as well
1. Create NVMe Bdev
2. Create LVS on that
3. Create a Thin Provisioned LVOL on the LVS
4. Create subsystem, add this lvol to the subsystem and expose that to the initiator
5. Start Writes on the Thin Provisioned LVOL from the Initiator
6. Do resize_lvol_bdev when Writes are in progress

Thought of providing this add

[2019-03-15 14:18] Seth5141 commented on #664
@nedved1 @darsto Sorry, just seeing this one for the first time. Any I/O larger than the transports max I/O size needs to be split to max I/O size before being processed by the NVMe-oF components. I will look at this a bit closer when I get into the office.

[2019-03-15 14:23] Seth5141 commented on #677
@robertciiik I am assuming everything went well? Closing this for now. Please feel free to reopen it if you find the same error, or open a new one for any different issues.

[2019-03-15 14:23] #677 closed

[2019-03-15 16:33] Seth5141 commented on #664
@nedved1 When you create the nvmf tgt, can you recreate the transport with the following options?

./spdk/scripts/rpc.py -s /tmp/nvmf_rpc.sock nvmf_create_transport -t RDMA -u 8192 -p 4 -i 524288 -u 32768
This increases the max io size in the target to 512K and increases the I/O unit size to 32K or 1/16th of the max I/O size. My thought is that will fix the immediate issue you are facing here. How

[2019-03-15 17:21] Seth5141 commented on #704
@pcybulski When you lower the number of I/O queues, it looks like the target stops crashing though right? From your logs, it looks like the target is no longer reporting errors. If you enable debug prints for RDMA in the new case, do you get anything interesting (just fyi ./configure --with-rdma --enable-debug; make -j32; ./nvmf_tgt -Lrdma)? I am thinking this is something different. Also what is

[2019-03-15 18:13] Seth5141 commented on #669
@jonathanrichardson I am chasing one more hypothesis. In your perf top, are you looking at L1 cache misses? We have seen a lot of bloat in the nvmf_rdma_request object since 18.04, and I wonder if you are seeing affects from cache misses when trying to access iovs and other request related pointers in the 4k performance?

[2019-03-15 21:40] jimharris commented on #692
This is an OOM issue.  Saw this intermittent failure again - can't reproduce it on my system, but it's because I have a lot more memory than the VM running this test.

[126823.855297] [ 9284]    89  9284    22411        0      45      254             0 pickup
[126823.856944] [20957]  1001 20957    28283        1      12       56             0 sh
[126823.858542] [21119]  1001 21119    26989

[2019-03-15 21:57] jimharris commented on #692
https://review.gerrithub.io/c/spdk/spdk/+/448193

[2019-03-16 00:29] optimistyzy commented on #626
The patch provided by Ben is correct, it will use group polling later. But
definitely, if you use the old one, you still need this if the group
polling is not enabled

在 2019年3月15日星期五，benqwu <notifications@github.com> 写道：

[2019-03-16 06:00] pcybulski commented on #704
Will check with debug options during next week, and yes target is not crashing while using lower i/o ques.
Difference between setup in #640 and #704 is operating systems:
- #640 was reported on rhel 7.4 (and yes connecting/disconnecting works but I am not able to run all fio tests - did sent an email about it to you and Darek [@intel.com])
- #704 is about problems on suse linux 12.3

About nic bei

[2019-03-18 02:42] shuhei-matsumoto commented on #707
@darsto @jimharris

The patch worked fine but I needed to add --legacy-mem. Without --legacy-mem, almost contiguous but last 2 entries were not contiguous in my trial. I think we need legacy-mem option at SPDK booting separately to sustain this behavior.

[root@node1 1_test_no_contig]# ./test_paddr_not_contig
Starting SPDK v19.04-pre / DPDK 19.02.0 initialization...
[ DPDK EAL parameters: spdk --n

[2019-03-18 02:45] malasong227 opened #716 "suspected memory leak of qpair free in nvme_pcie_ctrlr_delete_io_qpair"
## Expected Behavior
No memory resource leaking

## Current Behavior
qpair memory leak when delete io qpair fail

nvme_pcie_ctrlr_delete_io_qpair(struct spdk_nvme_ctrlr *ctrlr, struct spdk_nvme_qpair *qpair)
{
	struct nvme_completion_poll_status status;
	int rc;

	assert(ctrlr != NULL);

	if (ctrlr->is_removed) {
		goto free;
	}

	/* Delete the I/O submission queue */
	status.done = false;
	rc = n

[2019-03-18 02:59] malasong227 commented on #716
@ZiyeYang @jimharris

[2019-03-18 05:41] liang2yan commented on #627
I used Mellanox ConnectX-4 NIC, and chose it's link layer as ethernet. Not infiniband.

[2019-03-18 05:55] #650 closed

[2019-03-18 06:30] liang2yan commented on #627
Yes, it is correct. I removed the RDMA transport nvme bdev on the system2 which connect to the first nvmf target which use PCIE transport nvme bdev. I didn't remove the  PCIE transport nvme bdev.

[2019-03-18 07:03] liang2yan commented on #570
verified with latest codes, this issue can't be reproduced now.

[2019-03-18 07:12] darsto commented on #695
Specifically, what we need is:
 * `console=ttyS0 earlyprintk=ttyS0` in the linux command line inside the VM
 * `-serial file:/path/to/console.log` in QEMU
 * `-chardev file,path=/path/to/seabios.log,id=seabios -device isa-debugcon,iobase=0x402,chardev=seabios` in QEMU
 * timeout for "Waiting for VMs to boot", so that all of the above can be printed

[2019-03-18 07:48] liang2yan commented on #615
I have tried to reproduce this issue. The fio process hung up after using RPC command to remove the nvme bdev.

I am using Mellanox ConnectX-4 40Gb NIC.

[2019-03-18 07:52] shuhei-matsumoto commented on #707
I created a patch to add --legacy-mem option. https://review.gerrithub.io/#/c/spdk/spdk/+/448263/
I think we can close this issue if Darek's patch is merged. (If we have new issue, we will re-open or open an uew issue.)

[2019-03-18 08:17] shuhei-matsumoto commented on #707
I add a comment about --legacy-mem. By our analysis we understood that if we don't add --legacy-mem, the result of allocation depends on our luck, if we add --legacy-mem, DPDK ensures physically contiguous allocation. Maximum size is limited to 32GB in DPDK19.02 but this is OK for now.

[2019-03-18 08:20] karlatec commented on #619
I think this issue can be closed. Crypto UT's are running. Part of log from some recent test run:

[code]

[2019-03-18 08:21] karlatec commented on #702
@nedved1 Could you please update grub options on the VMs to allocate hugepages at boot time? Thanks

[2019-03-18 08:25] karlatec commented on #695
@darsto
[code]
Not related IMO. Physical servers which run vhost tests have Qemu 3.0.0 installed, but still use 2.12 to run the test. You can see that https://review.gerrithub.io/437302 is not merged.

[code]
These two are already in place, so just need to work on points 3 & 4.

[2019-03-18 09:03] changpe1 commented on #587
Since asynchronous probe and connect API were added for now, I debugged the issue for a while, since SPDK NVMe-oF initiator attempt to connect to an SPDK NVMe-oF target running on the same thread in the same process, so we MUST remove all the synchronous call during the whole initialization, include:

1. Broken up nvme_transport_ctrlr_construct(), and add a new nvme_transport_ctrlr_construct_admin

[2019-03-18 11:13] nedved1 commented on #664
@Seth5141 I've tried creating transport with 512k max i/o size and 32k i/o unit size but this issue remains.

[2019-03-18 11:15] shuhei-matsumoto commented on #715
@darsto  Thank you for finding this issue. I assign me.

[2019-03-18 13:48] optimistyzy commented on #716
@malasong227 If the operation is failed, there may still be outstanding requests in the cq list. So if you directly call the destroy function,  will cause some issues. So I think that the better solution is to track the status and return, and let the upper layer to do the destroy again instead of doing the bruteforce destruction here. This is my understanding.   I think that @jimharris  will provi

[2019-03-18 14:52] jimharris commented on #692
Patch merged.

[2019-03-18 14:52] #692 closed

[2019-03-18 15:06] jimharris commented on #587
Making this asynchronous helps more than just the loopback issue.  It also reduces time spent spinning when connecting to a remote target.  This time spent spinning keeps any other work from happening on that core.

[2019-03-18 15:08] #619 closed

[2019-03-18 15:09] #570 closed

[2019-03-18 15:26] ack72tdp commented on #704
Smaller queues per session was not changed in my case previously ... and setting it explicitly to 4 .. also didn't seem to work ...

//TARGET NODE
suse11:~/spdk # grep MaxQueuesPerSession etc/spdk/nvmf.conf.in
  MaxQueuesPerSession 4
  #MaxQueuesPerSession 4

suse11:~/spdk # app/nvmf_tgt/nvmf_tgt -L RDMA -c etc/spdk/nvmf.conf.in
Starting SPDK v19.04-pre / DPDK 19.02.0 initialization...
[ DPDK EAL

[2019-03-18 15:40] ack72tdp commented on #704
In my case using the same setup ... creating a target using these steps ... everything works fine ..

suse11:~/spdk # modprobe nvmet-rdma
suse11:~/spdk # mkdir /sys/kernel/config/nvmet/subsystems/nvme-broadcom
suse11:~/spdk # cd /sys/kernel/config/nvmet/subsystems/nvme-broadcom
suse11:/sys/kernel/config/nvmet/subsystems/nvme-broadcom # echo 1 > attr_allow_any_host
suse11:/sys/kernel/config/nvmet/s

[2019-03-18 16:07] jimharris commented on #587
Note that creating and deleting I/O qpairs are also completely synchronous right now.  Making these asynchronous should go on our backlog as well.

[2019-03-18 16:14] jimharris commented on #716
I agree with @optimistyzy that we should not directly destroy the qpair when one of these functions fail.  But we also do not have tests to show that user can actually recover in one of these cases.  These functions can only fail if:

1) we have no more request objects (128 are allocated currently) to issue the delete_sq or delete_cq command
2) the delete_sq or delete_cq command failed at the cont

[2019-03-18 16:37] #707 closed

[2019-03-18 20:21] ack72tdp commented on #704
[247738.553831] nvme nvme0: rdma_resolve_addr wait failed (-104).
[249035.818026] nvme nvme0: new ctrl: NQN "nqn.2014-08.org.nvmexpress.discovery", addr 192.168.1.50:4420
[249036.767708] nvme nvme0: creating 16 I/O queues.
[249037.220228] nvme nvme0: new ctrl: NQN "nvme-broadcom", addr 192.168.1.50:4420
[249043.278937] nvme nvme1: creating 16 I/O queues.
[249043.740296] nvme nvme1: new ctrl: NQN "

[2019-03-19 04:44] glodfish-zg commented on #615
@liang2yan  i tried to follow your steps to reproduce this issue in one machine, and i got following error if i use "./scripts/rpc.py delete_nvme_controller Nvme0".

ctrlr.c:2111:spdk_nvmf_ctrlr_process_io_cmd: *ERROR*: Unsuccessful query for nsid 1
ctrlr.c:2111:spdk_nvmf_ctrlr_process_io_cmd: *ERROR*: Unsuccessful query for nsid 1
Program received signal SIGSEGV, Segmentation fault.

[2019-03-19 05:05] glodfish-zg commented on #615
bt:
Program received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7ffff5186700 (LWP 744)]
spdk_bdev_free_io (bdev_io=bdev_io@entry=0x200007684d40) at bdev.c:1206
1206            if (ch->per_thread_cache_count < ch->bdev_io_cache_size) {
(gdb) bt
#0  spdk_bdev_free_io (bdev_io=bdev_io@entry=0x200007684d40) at bdev.c:1206
#1  0x000000000044ea0c in nvmf_bdev_ctrlr_complete_cmd (bdev_io=

[2019-03-19 06:11] optimistyzy commented on #716
@jimharris  For 1, only if the request cannot be allocate due to nomem issue, otherwise, it will be queued into the submission list, it will be finally sent to the drive.

[2019-03-19 06:28] Smalinuxer commented on #697
i retest it in spdk [v19.01](https://github.com/spdk/spdk/commit/e3e35a85ea69dc101507b9ff9838074c55fc7a40) , but not get any error .

steps :
[code]
and then cmd
[code]

it seem like work good .

can you put yuor nvmf_tgt config and nvmf_tgt output when occur "Failed to write to /dev/nvme-fabrics: Connection reset by peer" ?

[2019-03-19 08:16] wanqunintel commented on #697
@revanbiradar2019 , i tried to reproduce your issue, the steps are as follows
1. ./scripts/rpc.py nvmf_subsystem_create -a -s SPDK00000000000000 nqn.2018-12.io.spdk:trgt204
2. ./scripts/rpc.py nvmf_subsystem_add_ns nqn.2018-12.io.spdk:trgt204 e9874d06-0502-4923-9c26-77598b48eb07
Exception:
Got JSON-RPC error response
response:
{
  "code": -32602,
  "message": "Invalid parameters"
}
3. ./scripts/rp

[2019-03-19 09:49] nedved1 commented on #702
@darsto @karlatec VMs I've set 4096 HP on boot on Jenkins VMs.

[2019-03-19 15:08] pawelwod commented on #687
There is a alternate fix pushed for review from one of the mainteners here https://review.gerrithub.io/#/c/spdk/spdk/+/448229/ but looks like is not mature enough and still have problems. Lets we wait a while till situation is cleared.

[2019-03-19 18:04] jimharris opened #717 "Intermittent FTL test failure (ASAN)"
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/26350/archive/nvme_autotest/build.log

Relevant part of the log:

Running I/O for 4 seconds...
=================================================================
==2690298==ERROR: AddressSanitizer: heap-use-after-free on address 0x60b0000105a0 at pc 0x0000006bc515 bp 0x7ffdb4b61580 sp 0x7ffdb4b61570
READ of size 8 at 0x60b000010

[2019-03-19 18:07] jimharris commented on #717
Looks like there's a pending anm log page event that doesn't complete until after the ctrlr has been freed.

[2019-03-19 18:38] jimharris commented on #716
@optimistyzy - if a request cannot be allocated, it cannot be queued.  You may be thinking of the nvme_trackers - if there are no nvme_trackers available, than an nvme_request cannot be submitted to the driver.  It will be queued until an nvme_tracker becomes available after a completion.

[2019-03-20 00:31] mhae commented on #687
Sounds good. I’m happy to redo my testing. Let me know when the patch is mature enough.

[2019-03-20 05:10] optimistyzy commented on #716
@jimharris  For the case you mentioned, the return value (rc =0),  so it will not cause the return value (rc !=0) case.  I would like to add some error message first in this function nvme_pcie_ctrlr_delete_io_qpair

[2019-03-20 09:18] wanghailiangx commented on #679
@peluse
Which code about ISA-L will be added to the SPDK v19.04? For this part, is there any specific test plan that needs our validation team to proceed first?

[2019-03-20 09:28] changpe1 commented on #717
@jimharris I posted a patch https://review.gerrithub.io/#/c/spdk/spdk/+/448524/ to fix the issue. In ftl_halt_poller(), the controller will be released prior IO queue pair still exist.

[2019-03-20 18:10] jonathanrichardson commented on #669
@Seth5141 I will check L1 cache misses soon. I hadn't looked at it. On my system L3 is the main concern because when it spills out memory performance becomes the bottleneck. I also want to check the overhead from the spdk_trace_record calls added to spdk_nvmf_rdma_request_process. It always shows up in profiling but perf is often inaccurate since it's under sampling by ~100x. But there is code ass

[2019-03-21 02:00] yidong0635 opened #718 "with asan enabled test/nvmf/host/fio.sh report error"
run auto test case  " test/nvmf/host/fio.sh " with asan enabled report error :
 /usr/src/fio/fio  spdk/examples/nvme/fio_plugin/example_config.fio '--filename=trtype=RDMA adrfam=IPv4 traddr=10.0.2.15 trsvcid=4420 ns=1'
==3888360==ASan runtime does not come first in initial library list; you should either link runtime to your application or manually preload it with LD_PRELOAD.

## Expected Behavior

[2019-03-21 02:07] changpe1 commented on #715
From what I saw from the log, the failed was due to timeout but not the error log showed in the text "Not found task for transfer_tag=3ef", it showed "kill process" and "wait process" timeout, I assume it's a common issue for hotplug tests.

[2019-03-21 02:29] changpe1 commented on #697
@senyaroy as we can't reproduce the issue, so if no other input, I'm going to close the issue, thanks.

[2019-03-21 04:38] changpe1 commented on #718
[Bug Scrub] We don't enable fio test with ASAN, this test can be tested without ASAN.

[2019-03-21 04:42] changpe1 commented on #715
[Bug Scrub]: Maybe we can put some debug information when got KILL signal to see what happened.

[2019-03-21 04:48] jessehui commented on #708
Sounds good. I will take this.

[2019-03-21 04:48] yidong0635 commented on #718
@changpe1 SPDK_RUN_ASAN=1  run  nvmf auto cases, it will not  bypass this one . If don't want to run this case, auto test need to add switch.

[2019-03-21 04:49] changpe1 commented on #625
[Bug Scrub]: @liang2yan Can you verify it with latest SPDK branch ? thanks.

[2019-03-21 04:51] yidong0635 commented on #718
in ./test/nvmf/nvmf.sh:39 -> main()
     ...
   34   run_test suite test/nvmf/host/identify.sh
   35   run_test suite test/nvmf/host/perf.sh
   36   # TODO: disabled due to intermittent failures (RDMA_CM_EVENT_UNREACHABLE/ETIMEDOUT)
   37   #run_test test/nvmf/host/identify_kernel_nvmf.sh
   38   run_test suite test/nvmf/host/aer.sh
=> 39   run_test suite test/nvmf/host/fio.sh
   40
   41   run_te

[2019-03-21 04:55] changpe1 commented on #708
[Bug Scrub]: @Roberciiik thank for reporting, a good improvement indeed, @jessehui will submit a patch later.

[2019-03-21 04:57] changpe1 commented on #718
@yidong0635 Can you post a patch to fix this? yeah, we don't have add ASAN check to fio, it's third party code.  thanks.

[2019-03-21 05:00] changpe1 commented on #713
[Bug Scrub]: @jkryl thanks for reporting, we should add support for different platforms, @benlwalker will take a look of this issue.

[2019-03-21 05:01] changpe1 commented on #625
@darsto Maybe the issue is related with FLUSH command, I've added the support, so @liang2yan will test it again to see the result.

[2019-03-21 05:53] wanghonghuigithub opened #720 "windows server can not use a aio bdev block device"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

windows server can not use a aio bdev block device

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.create a spdk block device with aio bdev backend
2.attach this device to a VM with window

[2019-03-21 07:06] yidong0635 commented on #718
ok.  here is the patch :https://review.gerrithub.io/c/spdk/spdk/+/448597

[2019-03-21 07:12] optimistyzy commented on #720
duplicated issue with #625.  BTW,  @wanghonghuigithub Can you put more detailed error info, which will be helpful.

[2019-03-21 07:24] yidong0635 opened #721 "nvmf autotest report error "heap-use-after-free" in spdk_nvmf_rdma_qpair_destroy"
I use  the vagrant  VM machine to run autocases  or  physical machine  to run nvmf cases.
SPDK_TEST_NVMF=1
SPDK_RUN_ASAN=1
SPDK_RUN_UBSAN=1
there's error like following log:
[fail_log.txt](https://github.com/spdk/spdk/files/2991118/fail_log.txt)

## Expected Behavior
autotest can pass

## Current Behavior
failed and report error.
## Possible Solution
patch:
https://review.gerrithub.io/c/spdk/spdk/

[2019-03-21 07:25] yidong0635 commented on #721
it seems that with ASAN to run nvmf cases, all can past until now.

[2019-03-21 10:55] karlatec commented on #702
@darsto please observe if hugepage issue shows up. If nothing happens until Monday 25th March then let's close the issue.

[2019-03-21 10:56] karlatec commented on #699
@darsto 19.01.1 is out, results look pretty good so I guess we can close this one

[2019-03-21 10:57] #699 closed

[2019-03-21 12:33] cockroach1136 commented on #527
Hello Sir,
    Today I found an article  http://syswift.com/596.html
In the article describe the hotplug handling is different between UIO and VFIO in DPDK.
When using UIO, the signal SIGBUS is triggered to make a fake PCI BAR address.
But when using VFIO, the signal SIGBUS is useless.
We are using VFIO now, I guess this is the reason why SIGBUS never triggered in our system.

     The hotplug han

[2019-03-21 21:03] jimharris commented on #615
Something in this stack trace doesn't make sense to me.  Maybe it's a clue on the root cause.

Frame #5 is nvme_pcie_ctrlr_delete_io_qpair.  It deletes the IO SQ, and then completes any remaining I/O in the completion queue.  That's the call to frame #4.

Clearly we found some I/O to complete.  But where did these I/O come from?  The bdev layer has asserts that there are no I/O outstanding when nv

[2019-03-22 00:26] changpe1 commented on #721
@yidong0635 closing it now as the patch has been merged.

[2019-03-22 00:26] #721 closed

[2019-03-22 00:28] changpe1 commented on #718
closing the issue now as the patch has been merged.

[2019-03-22 00:28] #718 closed

[2019-03-22 00:28] changpe1 commented on #717
closing the issue now as the patch has been merged.

[2019-03-22 00:28] #717 closed

[2019-03-22 00:50] youngtack commented on #700
Hi @wmalikow,

When do you think the patch to wait for write completion would be posted into gerrithub? I would like to give it a try on my setup. Now I'm using much less queue size to avoid wptr error but the performance is low.

Thanks,
YT

[2019-03-22 05:51] optimistyzy commented on #279
I will also monitor this issue.

[2019-03-22 06:53] senyaroy commented on #697
Thanks All for the responses.
The basic thing to be noted here is that we were facing this issue on a softRoCE based setup.
Otherwise, we now have an RDMA capable NIC and it is working fine.

[2019-03-22 08:53] cranechu opened #722 "nvme_ctrlr_configure_aer is called twice, and more AER sent than expected"
https://github.com/spdk/spdk/blob/30bfdc9cc99cd45dd7bda23029d79ddb2894f5db/lib/nvme/nvme_ctrlr.c#L2127

We found an issue in our test that AER commands are sent more than expected to our device. Normally, it should be 4, but now SPDK sends 4 AER commands TWICE.

Finally, we found the root cause here:
NVME_CTRLR_STATE_IDENTIFY_ID_DESCS => NVME_CTRLR_STATE_CONFIGURE_AER,

change to:
NVME_CTRLR_STATE

[2019-03-22 09:33] cranechu commented on #722
I can send out the PR if there is no problem. Thanks!

[2019-03-22 09:37] darsto commented on #715
Another intermittent failure with some more logs:
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/26636/archive/RBD_autotest/build.log

[2019-03-22 10:10] wmalikow commented on #700
Hi @youngtack ,

I will try to propose patch with this change in next week or two, but I had impression that you were asking to keep current mode also so I was thinking this is not blocking for you.

There is also QEMU version without those checks - SPDK CI  FTL tests are based on it. Here is a link:
https://review.gerrithub.io/c/spdk/qemu/+/436192

In Usage section you can find how to configure i

[2019-03-22 14:32] pawelkax commented on #695
@darsto @karlatec Uploaded patch that should help to solve this intermittent failure:
https://review.gerrithub.io/#/c/spdk/spdk/+/448575/

[2019-03-22 15:53] youngtack commented on #700
Hi @wmalikow,

I'm asking ftl patch since I'm not sure when the device firmware update will be available. Looking forward to seeing ftl patch as soon as possible.

Thanks as always,
YT

[2019-03-22 21:21] nagendra-v commented on #699
@karlatec
Question on code base which has performance fixes.
I don't see [0b20f2e](https://review.gerrithub.io/c/spdk/spdk/+/437808) changes in github master or 19.01.0x branches.
In your comment you mentioned "19.01.X (7838bb3a1) (not merged) ---> 243k IOPS / 30273MBps / 527usec avg_lat. Just wondering which code base you are referring here.

[2019-03-24 22:36] shuhei-matsumoto commented on #715
Thank you @darsto .

I want to add a timeout mechanism to exit connection because we can't know why iSCSI target can't complete it.
- FIO doesn't stop I/O ?
- Bdev doesn't complete I/O ?
- or any other reason ?

Set iSCSI timeout shorter than RPC timeout and collect detailed logs when iSCSI timeout occurs may be a step to go forward. I want to do it first.

[2019-03-25 01:42] optimistyzy commented on #527
Hi,

Sorry for missed this issues. Our recent finding is that VFIO hotplug is
not working in SPDK currently. And we are in the progress to fix this
issue. If you want to use this, please do use UIO first. But I think that
the VFIO based hotplug will be backed soon.

cockroach1136 <notifications@github.com> 于2019年3月21日周四 下午8:33写道：

[2019-03-25 01:58] yidong0635 commented on #697
@senyaroy  please show us :
1. how you setup your softroce, use command to install or compile source code by yourself ?
2. please use `rxe_cfg status` to list your softroce environments.

[2019-03-25 04:02] jessehui commented on #708
please refer to this patch:[rpc: add get_spdk_version rpc method](https://review.gerrithub.io/#/c/spdk/spdk/+/448613/)
Thank you.

[2019-03-25 06:46] glodfish-zg commented on #615
@jimharris
thanks, Jim. Your comments are very useful. The test run without --enable-debug, so the assert(ch->io_outstanding == 0) didn't works.

with --enable-debug:
_spdk_bdev_channel_destroy_resource: ch->io_outstanding = 7
nvmf_tgt: bdev.c:1882: _spdk_bdev_channel_destroy_resource: Assertion `ch->io_outstanding == 0' failed.

[2019-03-25 08:03] karlatec commented on #699
@nagendra-v

[code]

As for the 7838bb3 commit - it's actually this [change](https://review.gerrithub.io/#/c/spdk/spdk/+/447622). Commit hash I used in comment was out-of-date as the commit was patched several times.

[2019-03-25 12:46] darsto opened #723 "RBD: fallocate failed: No space left on device"
Happens randomly on our CI.

[code]

Full log - https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/26832/archive/RBD_autotest/build.log

[2019-03-25 12:56] karlatec commented on #723
@nedved1 Pawel can you take a look? I think we should increase the size of the base image.

[2019-03-25 20:04] jimharris commented on #615
Thanks @glodfish-zg.  Then this is where we need to focus.  It looks like nvmf layer is putting the I/O channel before all associated bdev I/O have been completed.

[2019-03-26 03:14] wanghailiangx commented on #557
Reproduce the issue with the latest code:
[code]
SPDK commit a9fc7e1db84d856cd4c3ab540ca3c277d7f2d27e

[2019-03-26 07:32] wanghailiangx commented on #629
Reproduced the issue with the latest code.

In the third machine, the perf is runing.
Then I delete the nvme controller with RPC in the second machine. This target will report core dumped.

[code]

SPDK commit a9fc7e1db84d856cd4c3ab540ca3c277d7f2d27e

[2019-03-26 07:41] optimistyzy commented on #629
As stated before, you need to use fio + kernel module (Kernel NVMe host )
to test hot plug. Currently, our NVMe initiator does not support reconnect
or reset for remote devices. So definitely, there wil be issues in the
initiator side.

So currently, if you want to test hotplug/hotremove for SPDK NVMe-of
target, please do use the kernel initiator.

wanghailiang <notifications@github.com> 于2019年3月2

[2019-03-26 08:00] karlatec commented on #702
@darsto
Can this be closed?

[2019-03-26 09:04] darsto commented on #723
It happens quite often now. @nedved1 please increase the priority on this.

[2019-03-26 09:25] darsto commented on #702
@nedved1 Thank you!

[2019-03-26 09:32] darsto commented on #701
I think we can agree that nvme-cli could use some multi-process fuzz testing. We'll discuss this on today's bug scrub.

[2019-03-26 09:43] darsto commented on #700
Assigning @wmalikow as we're awaiting an update from him.

[2019-03-26 10:40] yidong0635 commented on #723
@karlatec @nedved1 if need to increase the size of base image, that means all base images should be changed( this need to package all the base images). How about by case to "fallocate -l 10G /var/tmp/ceph_raw.img" .
first to fallocate 10G , if failed , then decrease the size to 4G  . 4G is ok.
for virtual machine 10G is a little big.

[2019-03-26 11:00] yidong0635 commented on #723
I have a patch about this , https://review.gerrithub.io/c/spdk/spdk/+/449167

[2019-03-26 11:23] karlatec commented on #723
@yidong0635

Well yes, that's what @nedved1 did exactly. OS images were increased by 10G.

I think there's no need to first try and create 10G and fall back to 4G. I'd just change the size to 4G and that's it. By the way, do we know why the size was 10G in the first place? Why exactly that size was needed?

[2019-03-26 11:32] karlatec commented on #652
@darsto @peluse Patch from @pawelkax was merged, so you should no longer see "404" error when trying to access the missing logs. In case any logs are missing we disable the link and inform about the problem prior to accessing the link.
Closing. @darsto about this freebsd reboot on every patch - I'll create a separate issue for that.

[2019-03-26 11:32] #652 closed

[2019-03-26 11:37] karlatec opened #724 "Reboot FreeBSD test VMs after every test"
Reboot FreeBSD VMs after every test, regardless of the result.

After a number of consecutive runs FreeBSD VMs crash. This is caused by frequently reloading contigmem.ko module used to allocate superpages.

More frequent rebooting of these VMs should mitigate the issue.

[2019-03-26 11:39] nedved1 commented on #723
@darsto @karlatec I' ve resized VM image, let's check if that helps.

[2019-03-26 13:19] karlatec commented on #724
FreeBSD VMs config changed to reboot after each test.
@darsto @nedved1 - please watch of for any contigmem.ko crash errors in tests and let me know.

[2019-03-26 13:33] karlatec commented on #695
@pawelkax Thanks Pawel! Your patch was very helpful. Using the output we were able to narrow down the problem to:
[code]
When running vhost_boot.sh test. Pretty sure that this is caused by replacing a fauly disk some time ago, most probably it's not formatted properly.

[2019-03-26 13:47] karlatec commented on #695
Just changed LBA to 512 on GP3. Let's be on a lookout if the problem is solved.

[2019-03-26 14:01] darsto commented on #695
Still, we can't have an implicit requirement of NVMe block size == 512 in our vhost tests. Let's keep this issue open until there's a patch out.

[2019-03-26 14:01] Roberciiik commented on #708
Looks good, thank you.

[2019-03-26 14:14] jimharris commented on #708
I'm going to reopen this until the patch gets merged.

[2019-03-26 15:13] darsto commented on #660
All unit test are now running through our CI.

[2019-03-26 15:13] #660 closed

[2019-03-26 15:16] darsto commented on #701
@Comphix could you take a look? We could use some fuzz testing for nvme-cli.

[2019-03-26 15:21] darsto commented on #626
@benqwu As a first step, could you provide steps to reproduce this using existing SPDK tools? If that's impossible, could you provide an exact application code to reproduce it?

[2019-03-26 15:30] darsto commented on #664
@ZiyeYang could you take a look?

[2019-03-26 15:36] darsto commented on #704
Bug scrub: This github issue is really hard to track now.

@pcybulski could you create a separate issue for your case?

[2019-03-26 15:42] darsto commented on #722
@cranechu SPDK user gerrithub for reviews. Please refer to https://spdk.io/development/ on how to submit a patch.

We'd be greateful for any fixes :)

[2019-03-26 15:43] Seth5141 commented on #704
@ack72tdp Previously, we used a dummy sned and receive to tell us when qpairs could be destroyed. The RoCE spec allows for someone to post these requests after the qpair has been placed in error state.
We found that several iwarp NICs didn't support this functionality so we have since changed the qpair shutdown path to counting. You can  see that change here. https://review.gerrithub.io/c/spdk/spd

[2019-03-26 15:48] darsto commented on #670
Bug scrub: the initial patch is out, still has some VPP-related issues and @tkulasek is working on those.

[2019-03-26 15:48] ack72tdp commented on #704
same issue with updated master .. still core dums as soon initiator does either discovery or connect ...

suse11:~/spdk # app/nvmf_tgt/nvmf_tgt -L RDMA -c etc/spdk/nvmf.conf.in
Starting SPDK v19.04-pre / DPDK 19.02.0 initialization...
[ DPDK EAL parameters: nvmf --no-shconf -c 0x1 --log-level=lib.eal:6 --base-virtaddr=0x200000000000 --match-allocations --file-prefix=spdk_pid60855 ]
EAL: No free hu

[2019-03-26 15:50] darsto commented on #551
@Maciej-Szwed

[2019-03-26 15:55] darsto commented on #454
Bug scrub: @peluse to retest quickly

[2019-03-26 15:59] #184 closed

[2019-03-26 16:03] darsto commented on #450
Bug scrub: We still need to discuss what the next steps are.

[2019-03-26 16:54] wmalikow commented on #700
Hi @youngtack

I've created patch for this issue. It is still WIP but it seems to work on my setup.
https://review.gerrithub.io/c/spdk/spdk/+/449239

Thanks,
Wojciech

[2019-03-26 17:34] ksztyber commented on #702
I think I've just hit this issue on lvol_autotest:

 17:59:31	# ./scripts/setup.sh
0000:00:09.0 (8086 5845): Skipping un-whitelisted NVMe controller nvme0n1
0000:00:0c.0 (1d1d 1f1f): nvme -> pci-stub
0000:00:0b.0 (1af4 1001): Skipping un-whitelisted Virtio device at 0000:00:0b.0
0000:00:0a.0 (1af4 1004): Skipping un-whitelisted Virtio device at 0000:00:0a.0

## ERROR: requested 4096 hugepages but

[2019-03-26 21:08] youngtack commented on #700
Hi @wmalikow,

Your patch seems to work fine together with https://review.gerrithub.io/c/spdk/spdk/+/449068/.
Looking forward to seeing these on master branch soon. Thanks a lot. Here I'm closing this issue.

Regards,
YT

[2019-03-26 21:15] jimharris commented on #700
Hi @youngtack,

I'm going to reopen this issue for now - just until the patches actually get merged.

-Jim

[2019-03-26 21:30] youngtack commented on #700
Hi @jimharris,

Appreciate your interest on this issue. Just renamed the title for the further clarity.

Thanks,
YT

[2019-03-26 22:55] yaahallo opened #725 "iscsi_tgtd hanging, possibly related to hotplug"
We're integrating iscsi_tgtd into our product and some of our existing test cases seem to cause iscsi_tgtd to hang. Below is a pstack of a hung iscsi_tgtd process.

[code]
The tests that reproduce the issue most consistently are the one that simulate various forms of drive failures, such as faking io errors so the system decides to evacuate and remove a drive, or kicking the drive from the kernel

[2019-03-26 23:05] shuhei-matsumoto commented on #725
Hi @yaahallo

Thanks for reporting this issue.  It will be great if you can share with us how to reproduce the issue.

SPDK test pool have found the issue that hot removal is not completed.
https://github.com/spdk/spdk/issues/715

Improving LUN reset will not be matured yet because this is added to spdk 19.01. We will have to improve the quality of iSCSI hotplug.

Thanks,
Shuhei

[2019-03-26 23:12] jimharris commented on #725
@yaahallo was on IRC and described this a bit.  I think key detail is that her test is deleting the /dev/xyz node via sysfs while aio module has it open.  SPDK aio module doesn't try to handle this case.  It's all related to general reset handling with the aio module - to be honest, there's no good way to really do a reset with the Linux aio interfaces.

If someone wants to take a look at this, I

[2019-03-26 23:17] shuhei-matsumoto commented on #725
@jimharris

Thank you for writing down the issue and possible fix very carefully. I can't promise I will post any update but I'll work on this today in my time zone.

[2019-03-26 23:22] Comphix commented on #651
Related patch to fix the iSCSI testing failure with QoS has been merged.

https://review.gerrithub.io/#/c/spdk/spdk/+/447133/

Please monitor this and if this is no longer there, please help to close this issue.

Thanks,
Gang

[2019-03-26 23:26] Comphix commented on #620
@nagendra-v , I am looking at these issues.

For the SPDK nvme-cli standalone usage, just double confirm that you have tried my latest patch at
https://review.gerrithub.io/#/c/spdk/nvme-cli/+/432526/

I've also added the expected result from the change as below:

Patch Set 2:

The result with this change will be:

1. No namespace for the ctrlr. We will still display the BDF there so that it knows

[2019-03-26 23:59] yaahallo commented on #725
I succeeded in reproducing the issue with the steps described above, though it didn't occur until my second attempt.

[2019-03-27 00:28] shuhei-matsumoto commented on #725
@yaahallo

I added three aio bdevs for sdd, sde, sdf to an iscsi target.
I ran FIO from another server with 4KB random read and iodepth=1024.
But I removed sdd, sde, and sdf during FIO running, but couldn't reproduce the issue.

I'll try more but can you share the setting of FIO and SPDK iSCSI target?

Config file is the following
[code]

[2019-03-27 00:38] yaahallo commented on #725
@shuhei-matsumoto I'm trying to figure out how to reproduce the issue without any of our system specific code running and am currently blocked by the fact that I hardly know how to use fio and when I try to connect to iscsi_tgtd directly rather than through our custom ioengine fio is just exiting immediately.

The fio command I actually ran when I successfully reproduced the issue manually was.

`

[2019-03-27 00:47] jimharris commented on #725
Hi @shuhei-matsumoto

Just to confirm - the I/O path should be:

FIO -> kernel iSCSI block device -> SPDK iSCSI target -> SPDK AIO bdev -> kernel ??? block device

Then while this is running, delete "kernel ??? block device".

Just wanted to confirm that you are not deleting the "kernel iSCSI block device".

[2019-03-27 00:58] jimharris commented on #725
@shuhei-matsumoto reports on IRC that he is using an HDD as "kernel ??? block device" and removing it via sysfs as suggested above.

@yaahallo - what type of device are you attaching to the AIO bdev?  This could be the configuration difference.

[2019-03-27 01:09] yaahallo commented on #725
They're all HDD sata drives

[2019-03-27 02:31] glodfish-zg commented on #615
https://review.gerrithub.io/c/spdk/spdk/+/449274
have pushed a patch to solve Segmentation fault.

[2019-03-27 02:33] glodfish-zg commented on #615
@liang2yan  could you help to verify the patch, thanks.

[2019-03-27 02:43] yidong0635 commented on #710
_use VM to verify this issue ,  if failed the first time, test it again , env_dpdk_post_init  will report_
nvme_ctrlr.c:2196:nvme_ctrlr_process_init: *ERROR*: Initialization timed out in state 8
nvme_ctrlr.c: 500:nvme_ctrlr_fail: *ERROR*: ctrlr 0000:00:0e.0 in failed state.
nvme.c: 430:nvme_ctrlr_poll_internal: *ERROR*: Failed to initialize SSD: 0000:00:0e.0
spdk_nvme_probe() failed
Attaching to 0

[2019-03-27 06:11] yidong0635 commented on #723
@Seth5141  Can you help to answer what karol questioned ?

[2019-03-27 06:31] shuhei-matsumoto commented on #725
@yaahallo @jimharris

Umm, I have tried to reproduce the issue but my trial has failed so far.
FIO stopped due to IO error as expected but the iSCSI target continues to respond to RPCs even after removal of device.

[2019-03-27 06:43] changpe1 commented on #708
Patch has been merged, so I'm going to close it again, :).

[2019-03-27 06:43] #708 closed

[2019-03-27 07:07] optimistyzy commented on #697
I think that it is third party issue with software roce, I will close this issue. If there are still relevant issues, please open it again.

[2019-03-27 07:07] #697 closed

[2019-03-27 07:13] shuhei-matsumoto commented on #725
@yaahallo  @jimharris

Previous experience started from
 https://review.gerrithub.io/#/c/spdk/spdk/+/386837/
 https://lists.01.org/pipermail/spdk/2017-November/000995.html
was reminded to me.

When we don't specify O_DIRECT + O_DSYNC but specify only O_DIRECT, io_getevents continues to return success even after hot removal. I checked both system tests and code inspection.

Will you try add O_DSYNC

[2019-03-27 07:43] Donaim commented on #671
@jessehui we submitted a fix b949f1318ef94a3225bb64b7fd7e7d1ddf47ebc6 that is now on master, could you test if it works for you?

[2019-03-27 08:43] karlatec commented on #702
@ksztyber I think you were unfortunate to get in queue just after my commit where I tested running tests with less amount of hugepages. We do not reboot VMs after a successful test (well, FreeBSD being an exception) so tests for your patch had to reallocate what my patch freed.

Please observe if this shows up again. If we don't see the issue again today then I think we can close this.

[2019-03-27 12:09] darsto commented on #723
@yidong0635 The RBD failure was haunting our CI, so I asked Karol to simplify your patch -
https://review.gerrithub.io/c/spdk/spdk/+/449167

I've merged it just now. If there's anything still to be done for RBD tests, please feel free to push additional patches.

[2019-03-27 12:09] #723 closed

[2019-03-27 12:46] ksztyber commented on #702
@karlatec Probably, always unlucky... ;-) I'll keep an eye on it and will close it if it doesn't happen again today.

[2019-03-27 18:50] iClaire opened #726 "SPDK/FTL: A segmentation fault occurs in ftl_io_erase_init() and ftl_reloc_io_init() when ftl_io_init_internal() returns NULL."
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

It should check for null before it uses any fields of struct ftl_io *io and it should return error if needed.

## Current Behavior

When ftl_io_init_internal() returns NULL, it cause a segmentation fault.

##

[2019-03-27 18:55] iClaire commented on #726
Hi @wmalikow,
I just found this while I was in debugging. You will just need to check if it is NULL or not.
Thanks!

[2019-03-28 00:40] cranechu commented on #722
@darsto Thanks. I am submitting the patch. But I just meeting an issue in unittest after modification, so need some time to check that unittest fail.

[2019-03-28 01:57] cranechu commented on #722
Now I think the proper fix is to remove this set_state, because it was just set properly in nvme_ctrlr_identify_id_desc_async.

I have submitted the patch for review.

Thanks.

[2019-03-28 02:03] cranechu commented on #722
So, actually, I have submitted 2 commits.  :)

[2019-03-28 02:29] changpe1 commented on #722
@cranechu thanks  for debugging, I think you can just remove the line 2127: nvme_ctrlr_set_state(ctrlr, NVME_CTRLR_STATE_CONFIGURE_AER, ctrlr->opts.admin_timeout_ms);

[2019-03-28 03:16] cranechu commented on #722
@changpe1 Yes. I did the change in the same way in my second commit. Thanks.

[2019-03-28 03:58] changpe1 commented on #722
@cranechu Thanks, can you point me the patch? I can review it and get it be merged.

[2019-03-28 04:12] Seth5141 commented on #704
@ack72tdp I don't see how that is possible. The last line of your output shows us failing on rdma.c line 2720 because of a failed assert. Looking at the code for that commit, there is no assert on line 2720 (see https://github.com/spdk/spdk/blob/02b0230296c3fa87bcab02b18b7fc262330fd182/lib/nvmf/rdma.c). Are you sure that you did a make clean and make again after fetching the new code?

[2019-03-28 04:39] lhoswdev opened #727 "spdk_nvme_ctrlr_get_first_active_ns() and next may not be thread safe"
## Expected Behavior
Comments for `spdk_nvme_ctrlr_get_first_active_ns()` and `spdk_nvme_ctrlr_get_next_active_ns()` state that they are "... thread safe and can be called at any point while the controller is attached to the SPDK NVMe driver".   That may not be the case, but needs to be.   May need to add some kind of locking protecting the `ctrlr->active_ns_list`.

## Current Behavior

Library fu

[2019-03-28 05:20] lhoswdev opened #728 "perf segfaults (floating point) if a bdev on target is removed"
## Expected Behavior
If a bdev is removed from nvmf_tgt while perf is issuing traffic to it, perf should detect an error, but not segfault.   In fact, it does not segfault in SPDK 18.10.x, but does fail on top-of-tree master SPDK 19.04-pre (commit 5874e2a).

## Current Behavior
perf incurs a segfault with the following backtrace.   One can see the problem is that both sectors_per_max_io = 0 and se

[2019-03-28 05:38] Comphix commented on #620
For the test to work with other SPDK applications like NVMe-oF target, needs to start the two processes (1: NVMe-oF; 2: nvme-cli) in the multi-process mode.

1. Add "-i 1" parameter to the first SPDK application, it will show
    EAL: Auto-detected process type: PRIMARY

2. Edit spdk.conf file under the nvme-cli folder
    shm_id=1

3. "1" is any positive number that we can assign

4. Start nvme-c

[2019-03-28 07:23] ksztyber commented on #726
@iClaire Since you've done all of the debugging, feel free to post a patch!

[2019-03-28 07:25] ksztyber commented on #702
Didn't happen again, so @karlatec was right.

[2019-03-28 07:25] #702 closed

[2019-03-28 09:28] darsto opened #729 "CI machines crash randomly"
Some of our test machines randomly get kernel panics and fail the tests. If you're seeing "logs have not been generated" for a specific test, then it's likely caused by such kernel panic.

This is just an information and a placeholder to track this issue.

[2019-03-28 10:59] wanghailiangx opened #730 "nvmf target perhaps crash if run fio in two initiators"
## Steps to Reproduce
**A Server run nvmf target with following conf:**
[code]
**B server and C server run fio:**
[code]

**log as below:
A server:**
[code]

**B server:**
[code]
**C server:**
[code]

## Expected Behavior
nvmf target can run well if run fio in two initiators

## Current Behavior
nvmf target reports error and perhaps crash but not every time.

## Possible Solution
This issue is sim

[2019-03-28 12:19] cranechu commented on #722
Hi, @changpe1  Here are the links:
https://review.gerrithub.io/c/spdk/spdk/+/449366
https://review.gerrithub.io/c/spdk/spdk/+/449364

[2019-03-28 14:26] jimharris commented on #702
Of course @karlatec was right!  Was there ever any doubt?  :-)

[2019-03-28 14:52] ack72tdp commented on #704
Oops my bad .. I deleted everything .. and cloned from master .. and started fresh ..

With that it seems to be fixed ..  no more crashes .. while connecting or discovery .... It works great .. Thanks a lot .. Appreciate your help ..

[2019-03-28 15:05] #704 closed

[2019-03-28 16:31] ack72tdp opened #731 "Performance very slow ..."
After issue #704 is resolved ..

SPDK based nvme devices seems to perform really bad .. compared to the nvme devices created using kernel drivers .. both are using MaxQueuesPerSession 16

linux-qgd9:~ # lsblk
NAME     MAJ:MIN RM   SIZE RO TYPE MOUNTPOINT
nvme2n1  259:4    0   200G  0 disk  // created using SPDK
nvme3n1  259:5    0   200G  0 disk  // created using SPDK
nvme0n1  259:0    0   304G  0

[2019-03-28 18:02] ack72tdp commented on #731
Config file is default .. nothing changed ..  except these ..
app/nvmf_tgt/nvmf_tgt -c etc/spdk/nvmf.conf.in -L RDMA

[Malloc]
  NumberOfLuns 2
  LunSizeInMB 64

[Transport]
  MaxQueuesPerSession 16

[Subsystem2]
  NQN nqn.2016-06.io.spdk:cnode2
  Listen RDMA 192.168.1.50:4422
  AllowAnyHost yes
  Host nqn.2016-06.io.spdk:init
  SN SPDK00000000000002
  #Namespace Malloc0
  #Namespace Malloc1
  Nam

[2019-03-28 23:30] yaahallo commented on #725
The hang is still reproducible with the change mentioned above. :/

I've sofar been unable to reproduce the failure without our system specific code running, or even a subset of it disabled. I did manage to get a segmentation_fault so i figured I'd show you where I'm at right now incase this gives you guys any ideas.

[code]

This is my current attempt at reproducing what our system is doing when

[2019-03-29 02:48] jessehui commented on #671
Yep. It works. Thank you.

[2019-03-29 02:48] #671 closed

[2019-03-29 03:30] iClaire commented on #726
@ksztyber OK! I’ll post it soon.

[2019-03-29 08:47] glodfish-zg commented on #728
I can reproduce this issue and i got these messages:

nvme_ns_destruct (ns=0x2000003e1a88) at nvme_ns.c:358
358             ns->sectors_per_stripe = 0;
(gdb) bt
#0  nvme_ns_destruct (ns=0x2000003e1a88) at nvme_ns.c:358
#1  0x000000000041d6f3 in nvme_ctrlr_update_namespaces (ctrlr=0x623000003900) at nvme_ctrlr.c:1463
#2  0x000000000041dbff in nvme_ctrlr_async_event_cb (arg=0x623000003d78, cpl=0x615

[2019-03-29 09:23] cranechu commented on #722
I submitted it again in a single commit here: https://review.gerrithub.io/c/spdk/spdk/+/449527

[2019-03-29 10:50] pawelkax commented on #687
Test for this issue is prepared in https://review.gerrithub.io/#/c/spdk/spdk/+/447060/ .

[2019-03-29 11:09] pawelkax opened #733 "vhost scsi: assertion failure on lun hotdetach"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Assert error when testing hotdetach

## Expected Behavior
Remove vhost scsi target should work properly.

## Current Behavior
When doing remove_vhost_scsi_target rpc following error occurs:
vhost: bdev.c:3929: spdk_bdev_close: Asse

[2019-03-29 16:53] Seth5141 commented on #731
@ack72tdp It looks like subsystem 2 and subsystem 3 in your SPDK configuration are exposing linux aio bdevs. I believe that's what the nvme2n1 and nvme3n1 you are testing against in the spdk case are.
If you kept the SPDK configuration file the same as nvmf.conf.in, but modified the BDFs to point to the NVMe drives you wanted to test and properly unbound them from the kernel NVMe driver, I would e

[2019-04-01 08:15] glodfish-zg commented on #728
https://review.gerrithub.io/c/spdk/spdk/+/449746
This patch will try to fix this issue.

[2019-04-01 09:10] #722 closed

[2019-04-01 10:55] wanghailiangx commented on #730
Now gdb info as below:
[code]

demsg:
[code]

SPDK commit 80c87083ce5bfc34fdc35e09d1057783807b7130

[2019-04-01 23:15] shuhei-matsumoto commented on #725
@yaahallo

Do you still observe the issue when calling the following order?
-  delete /dev/sda
-  delete_aio_bdev
-  delete_target_node

[2019-04-02 01:19] jonathanrichardson commented on #669
The L1 cache looks similar between 18.04 and 19.04 pre.

18.04:
L1 cache miss: 0.34%
          63358192      L1-icache-load-misses                                         (85.71%)
       18910415590      L1-icache-loads                                               (85.71%)
        1362265994      L1-dcache-load-misses     #    5.39% of all L1-dcache hits    (85.71%)
       25275076118      L1-dca

[2019-04-02 02:14] liang2yan opened #734 "nvme command prints incorrect CNTLID value from SPDK NVMe-oF controller"
From the specification, the CNTLID should be 0xFFFFh if the controller is dynamic controller model. If the bit 0 of CTRATTR is 0, then this controller is dynamic controller model.

## Expected Behavior
The ctrattr value is 0, so this controller is dynamic controller. So the cntlid value should be 0xFFFFh.

## Current Behavior
The ctrattr value is 0, so this controller is dynamic controller. So the

[2019-04-02 02:20] yaahallo commented on #725
@shuhei-matsumoto

I changed the order but still managed to reproduce the issue.

However, in verifying that I was running what i thought I was I found that the node that experienced the failure never executed either delete commands. I'm digging more into the timing of the commands that we did run. For the most part we just execute a repeating pattern of get_bdevs, get_portal_groups,  get_intiator

[2019-04-02 02:26] shuhei-matsumoto commented on #725
@yaahallo

Thank you providing detailed scripts and analysis.
You say delete commands are unrelated but
  echo 1 >/sys/block/sda/device/delete
is still the key trigger to cause the segmentation fault?

[2019-04-02 02:41] yaahallo commented on #725
@shuhei-matsumoto

The main issue isnt the segfault, that was just found in my attempt to reproduce the hang. The main issue is spdk getting hung and needing to be killed.

The specific test that I  ran doesn't use the `echo 1 >/sys/block/sda/device/delete` directly though in the past I've reproduced the issue running said command manually. I'll setup a simple test that just kicks the drive with t

[2019-04-02 07:47] yangtianyu0706 opened #735 "[spdk v19.01.1]start vhost found : spdk_io_device_unregister: Assertion `0' failed"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

When we use the spdk v19.01.1, vhost is assert when init subsystem bdev failed

## Expected Behavior

I use the error config to start vhost app.
cat vhost.config.in
[Global]
  ReactorMask 0x1

[Rpc]
  Enable Yes
  Listen /mnt/sdc/y

[2019-04-02 08:11] darsto commented on #735
I don't think that's related to vhost. spdk_tgt should have this issue as well. I'll take a look later today.

[2019-04-02 08:23] #726 closed

[2019-04-02 08:35] yangtianyu0706 commented on #735
I use the same config in master. The process log is as follows：

app.c: 636:spdk_app_start: *NOTICE*: Total cores available: 1
reactor.c: 245:_spdk_reactor_run: *NOTICE*: Reactor started on core 0
bdev_null.c: 182:create_null_bdev: *ERROR*: Block size 513 is not a multiple of 512.
bdev_null.c: 354:bdev_null_initialize: *ERROR*: Could not create null bdev
bdev.c: 997:spdk_bdev_initialize: *ERROR*:

[2019-04-02 08:36] wanghailiangx commented on #627
Retested, now the nvmf target which used RDMA transport nvme bdev **didn't crash**.
**So this issue can be closed.**

Test steps:
"A server", ./app/nvmf_tgt/nvmf_tgt -c nvmf-nvme-hotplug1.conf
"B server", ./app/nvmf_tgt/nvmf_tgt -c nvmf-nvme-hotplug2.conf
"C server", nvme connect -n nqn.2016-06.io.spdk:cnode1 -t rdma -a 192.168.89.1(B server) -s 4420
"C server", fio rdma_bdev_job......
"B server",

[2019-04-02 08:50] changpe1 commented on #728
@lhoswdev @glodfish-zg perf tool wasn't designed to support hotplug, and for the issue mentioned the root cause is that: nvme_ns_destruct() will set ns->sectors_per_stripe to 0,  and new requests sent from perf tool may hit this issue(divided by zero).  For the issue, I'd suggest register AER callback in perf tool, and stop new IOs once the callback is triggered.

[2019-04-02 09:02] ak-gh commented on #728
On Tue, Apr 2, 2019, 11:50 Changpeng Liu <notifications@github.com> wrote:

There's a patch to support hotplug in bdevperf:
https://review.gerrithub.io/c/spdk/spdk/+/447956

Regards,
Andrwy

[2019-04-02 10:11] wanghailiangx commented on #615
Run two fio with one target is OK. But when remove nvme controller in target, rpc reports:
[code]

target will crash, and reports:
[code]

Gdb info:
[code]

Should I open another issue about this?

SPDK commit 80c87083ce5bfc34fdc35e09d1057783807b7130

[2019-04-02 10:20] wanghailiangx commented on #730
When I modify the fio file as bellow, this isuue can't be produced. If the combination of the two parameters is too big to beyond that SPDK can support?
[code]

[2019-04-02 11:11] yangtianyu0706 commented on #735
https://github.com/spdk/spdk/commit/39c4f95b35d1dfaf4249e95ef44490a5ad4914b0#diff-0142fbc520977e4d3bc84c2c99fe76bd

The first question is fix in this patch. How can I submit this patch to v19.01.x branch ?

[2019-04-02 14:31] ShaharSalzman-K opened #736 "SPDK crashes during subsystem delete"
SDPK crashes due to a race between controller destroy and subsystem destroy.

## Problem Description

    (gdb) bt
    #0  0x00007f338ed46495 in raise () from /lib64/libc.so.6
    #1  0x00007f338ed47c75 in abort () from /lib64/libc.so.6
    #2  0x00007f338ed843a7 in __libc_message () from /lib64/libc.so.6
    #3  0x00007f338ed89dee in malloc_printerr () from /lib64/libc.so.6
    #4  0x00007f338ed8

[2019-04-02 15:43] darsto commented on #557
Let's just fix the crash first for 19.04.

[2019-04-02 15:47] darsto commented on #603
@tomzawadzki Please do some scoping for this. Can we fix it for 19.04?

[2019-04-02 15:52] #651 closed

[2019-04-02 16:04] darsto commented on #727
Community meeting: maybe instead of adding thread safety, we should document from which threads those function can be called.

AR Jim: Review if there are any actual data races and possible crashes.

[2019-04-02 16:10] ak-gh commented on #727
On a separate note, I see similar (undocumented) behavior under lib/bdev.c where it's far from clear what safeguards global bdev list during register/unregister calls. Hardly a good place to raise this, though, so I'll appreciate a suggestion if a separate issue needs to be filed.

[2019-04-02 16:14] darsto commented on #730
We had similar issues with high i/o size in nvmf target in #664

[2019-04-02 16:49] darsto commented on #625
I didn't actually debug it and don't have the time to do it now.

[2019-04-02 18:13] Seth5141 commented on #736
Hi @ShaharSalzman-K I have uploaded the first draft of my patch to address this at https://review.gerrithub.io/c/spdk/spdk/+/449925. It hasn't run through the tests yet, so I may have to do some tweaking, but please give it a try and let me know if it fixes your issue.

[2019-04-02 20:39] Seth5141 commented on #575
@ShaharSalzman-K I know you were working on a couple of patches for this. This was brought  up in the community meeting today, specifically whether we were going to try to get the fix in for 19.04. Do you think that is something we should shoot for? Whether we want to get it in for 19.04 or later,  I would be happy to help out if there is anything blocking you.

[2019-04-02 20:55] Seth5141 commented on #669
@jonathanrichardson Thank you for that insight. I would have never thought to look there.
So with the buffer accounted for and the additional changes in, it looks like we are now at
spdk18.04: 2450K
spdk19.01.1: 2415k (adjusted for memory barrier)
I am definitely interested in tracking down the last 35K I/O here, but part of me thinks that might be difficult. Since we have accounted for about 98%

[2019-04-02 21:40] jimharris opened #737 "nbd RPCs need to be documented in jsonrpc.md"
start_nbd_disk, stop_nbd_disk and get_nbd_disks need to be documented in jsonrpc.md.  Currently they are only implicitly documented in the bdev users guide.

This documentation in jsonrpc.md should explicitly remind users to 'modprobe nbd'.

[2019-04-02 22:11] jimharris commented on #737
Ha - I just saw that @pawelwod suggested this in a patch from @dong-liuliu.  Xiaodong agreed to add it to his backlog so I'm assigning this issue to him.

https://review.gerrithub.io/c/spdk/spdk/+/440453

[2019-04-02 23:53] jonathanrichardson commented on #669
@Seth5141 Yes I think we're good. We can close. If I find those iops I can submit a fix or bug report.
The mmio changes help significantly - 112k iops! Good improvement. Due to a bug in our stack I can only test using 2 initiators but I'm getting identical results to 18.04 with the same setup. Thanks for your help.

[2019-04-03 00:00] #669 closed

[2019-04-03 00:09] shuhei-matsumoto commented on #725
Thread 1 (Thread 0x7f88a225a9c0 (LWP 6984)):
#0  0x000000000045b2d8 in _spdk_iscsi_conn_abort_queued_datain_task ()
#1  0x000000000045c035 in _spdk_iscsi_op_abort_task_set ()

iscsi task abort will not complete if there is any pending task. However I haven't found any code that falls in infinite loop when we remove block device. Adding any trace to related code may be helpful and I'm investigating

[2019-04-03 06:30] rajasekaranmam commented on #589
@darsto If it ok here to ask as part of this relevant thread then which is the preferred one (UIO or VFIO) to test drive hot-plug tests?

[2019-04-03 08:51] rajasekaranmam opened #738 "nvmf_tgt: subsystem.c:416: spdk_nvmf_subsystem_set_state: Assertion `actual_old_state == expected_old_state' failed"
nvmf_tgt: subsystem.c:416: spdk_nvmf_subsystem_set_state: Assertion `actual_old_state == expected_old_state' failed

## Expected Behavior
nvmf_tgt should not be crashed and expected to handle drive removal

## Current Behavior
nvmf_tgt crashed

## Steps to Reproduce
**Scenario#1:**
Started nvmf_tgt with Hotplug capability core mask 8 (0xff)
Created 1 PVOL from all 4 Drives
Created 1 LVS
Created 1

[2019-04-03 08:52] rajasekaranmam commented on #738
Target crash info#1:
nvme_qpair.c: 137:nvme_io_qpair_print_command: *NOTICE*: WRITE sqid:8 cid:157 nsid:1 lba:115823472 len:8
nvme_pcie.c:1346:nvme_pcie_qpair_abort_trackers: *ERROR*: aborting outstanding command
nvme_pcie.c:1346:nvme_pcie_qpair_abort_trackers: *ERROR*: aborting outstanding command
nvme_qpair.c: 137:nvme_io_qpair_print_command: *NOTICE*: WRITE sqid:3 cid:169 nsid:1 lba:116009840 l

[2019-04-03 08:52] rajasekaranmam commented on #738
Target crash info#2:
nvme_pcie.c:1346:nvme_pcie_qpair_abort_trackers: *ERROR*: aborting outstanding command
nvme_qpair.c: 118:nvme_admin_qpair_print_command: *NOTICE*: ASYNC EVENT REQUEST (0c) sqid:0 cid:94 nsid:0 cdw10:00000000 cdw11:00000000
nvme_qpair.c: 306:nvme_qpair_print_completion: *NOTICE*: ABORTED - BY REQUEST (00/07) sqid:0 cid:94 cdw0:0 sqhd:0000 p:0 m:0 dnr:1
bdev_nvme.c: 923:aer_cb:

[2019-04-03 09:02] rajasekaranmam commented on #589
@darsto Also based on the recent note from defect#527 (https://github.com/spdk/spdk/issues/527), UIO is the preferred method now since VFIO have some issues (due to DPDK).

[2019-04-03 09:04] rajasekaranmam commented on #686
@jimharris @darsto Checked in another setup with same drive model, it works fine.

[2019-04-03 09:13] changpe1 commented on #738
Thanks for submitting, this is a bug.

[2019-04-03 09:34] changpe1 commented on #734
@liang2yan @glodfish-zg This is not a bug, for dynamic controller model, when connecting to SPDK nvmf target, Host should set the CNTLID to 0xffff, and SPDK already checked the value.

[2019-04-03 13:06] ShaharSalzman-K commented on #575
Actually I just reported the bug. Once we saw that the update to RHEL 7.6 solved the issue, we where happy at leaving it so (are just starting to build the interoperability matrix for NVMeF).

Need to see if we can work around the problem in the kernel by returning something that will not make it crash.

Do you think that there is a scenario where a production site, will refuse/forget to update th

[2019-04-03 14:57] jimharris commented on #686
Thanks @rajasekaranmam - does this mean we can close this issue?

[2019-04-03 14:59] darsto opened #739 "SPDK subsystems don't handle initialization failures very well"
This came up while debugging a different initialization issue in NVMf. Currently, if NVMf subsystem
e.g. fails to parse its config section on init, it'll fail the initialization routine properly, but won't proceed in the finish routine. The app will simply freeze with only a subset of its modules initialized.

From what I see, the NVMf subsystem doesn't expect the fini() callback to be fired for s

[2019-04-03 16:04] darsto commented on #725
@shuhei-matsumoto you might be interested - our iscsi+fio hotremove test also occasionally hangs on CI. See here https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/27755/archive/RBD_autotest/build.log

Could this be the same issue?

[2019-04-03 16:40] ack72tdp commented on #731
I don't have NVME devices in my setup. It has AIO based block devices created using our underlying storage subsystem. .. I only want to use AIO bdevs .. to create the target ...

Like i mentioned, I have 4 AIO bdevices coming from our storage system .. 2 of them used to create RDMA target using SPDK and 2 of them used to create RDMA target using system drivers.

System drivers created targets work

[2019-04-03 16:43] ack72tdp opened #740 "SPDK compile failures on kernel 5.0.5"
Suse linux 12.3 with Kernel 5.0.5 -- compile seems to fail ..

suse11:/var # uname -a
Linux suse11 5.0.5-2.g0b95959-default #1 SMP Mon Apr 1 14:57:33 UTC 2019 (0b95959) x86_64 x86_64 x86_64 GNU/Linux

suse11:~/spdk # make
Configuration done using x86_64-native-linuxapp-gcc
make[3]: Entering directory '/root/spdk/dpdk'
== Build lib
== Build lib/librte_compat
  SYMLINK-FILE include/rte_compat.h
== B

[2019-04-03 17:42] Seth5141 commented on #740
@ack72tdp It looks like your machine is out of space.
[code]

You can verify this by running  df -h. I assume that you will have a use value close to 100% on the filesystem mount point under which you are operating. You will have to clean out some files or expand the underlying volume.

[2019-04-03 17:42] #740 closed

[2019-04-03 18:28] ack72tdp opened #741 "Fails to create a target after upgrade to kernel 5.0.5"
After upgrading Suse 12.3 with Kernel 5.0.5, fails to create a target ..

//Kernel
suse11:~/spdk # uname -a
Linux suse11 5.0.5-2.g0b95959-default #1 SMP Mon Apr 1 14:57:33 UTC 2019 (0b95959) x86_64 x86_64 x86_64 GNU/Linux

//block devices (2 SSD)
suse11:~/spdk # lsblk
NAME   MAJ:MIN RM   SIZE RO TYPE MOUNTPOINT
sdf      8:80   0 185.3G  0 disk
sdg      8:96   0 185.3G  0 disk

//SPDK conf params
[

[2019-04-03 19:37] mhae opened #742 "examples/blob/hello_blob throws error"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.
The hello_blob example is broken. It fails with a data compare error:

[code]

## Expected Behavior
Works out of the box.

## Current Behavior
Fails.

## Possible Solution
The Malloc bdev needs to be configured with block size 4096.

[2019-04-03 19:51] jimharris commented on #742
This is a bug in hello_blob (not blobstore itself).  Blobstore used to only support read/write in 4KB units.  It now supports 512B units if the backing device has 512B LBAs.  hello_blob wasn't updated when those changes were made.

I'll have a fix shortly.  Thanks for the report.

-Jim

[2019-04-03 19:58] jimharris commented on #742
https://review.gerrithub.io/c/spdk/spdk/+/450069

This patch fixes the bug on my system.

[2019-04-03 20:08] mhae commented on #742
@jimharris Wow, that was fast!

[2019-04-03 21:09] karlatec commented on #741
I got the exact same errors when I tried doing:
[code]
on a non-RDMA NIC (I don't have a RDMA enabled NIC in my server).

When I started SoftRoce and enabled it for the same NIC - nvmf_tgt started up correctly.

On a side note - I am using 5.0.5 kernel on different server (this time with RDMA NICs) with RDMA transport layer with no problems so far. The difference is I am using a Fedora 28 as base

[2019-04-03 21:12] ack72tdp commented on #741
Thanks @karlatec ... on further investigation I noticed that broadcom drivers may not be working and I am looking into that first .. Will post updates once I complete my investigation ..

[2019-04-04 01:06] #734 closed

[2019-04-04 03:01] shuhei-matsumoto commented on #725
@darsto maybe, and I'm interested in that. I've started to investigate that but the priority of that is not so high yet, though.

[2019-04-04 03:09] changpe1 commented on #742
@mhae patch was merged, can you try it again? thanks.

[2019-04-04 03:13] changpe1 commented on #741
@ack72tdp There is also a user space library required, for my platform RDMA NICs, libmlx5 is required, and I believe you also need a specific library too.

[2019-04-04 03:26] changpe1 commented on #625
@liang2yan Can you try it again with latest branch, thanks.

[2019-04-04 04:21] changpe1 commented on #710
@yidong0635 Can you try it again with master branch?

[2019-04-04 04:39] benlwalker commented on #731
Can you post your entire configuration file that you pass to the target and the output of lsblk on the target system?

You have your target set up to expose devices AIO0 and AIO1 as namespaces in your subsystems. You say that the rest of your configuration file is the same as the example in etc/spdk/nvmf.conf.in. In that file, AIO0 and AIO1 are set to /dev/sdb and /dev/sdc - which aren't NVMe devi

[2019-04-04 04:40] changpe1 commented on #607
[Bug Scrub] For now this is the right solution to change the LBA size in initiator by using RPC, I'm going to close this issue.

[2019-04-04 04:40] #607 closed

[2019-04-04 05:04] yidong0635 commented on #710
here is the [log_crypto.txt](https://github.com/spdk/spdk/files/3041826/log_crypto.txt)
this may need extra work to check crypto bdev. error changed .

[2019-04-04 05:35] shuhei-matsumoto commented on #725
next steps:
-  push patches to dump the state when the issue occurs.
-  patches may be usable for #715 too.
-  Jane will cherry-pick the patches, collect data in her environment, and share with us.

-  Jane have used libiscsi as initiator, so running FIO or bdevperf on top of libiscsi bdev and connecting libiscsi bdev to SPDK iSCSI target may be helpful to reproduce the issue. We will work on this

[2019-04-04 06:19] liang2yan commented on #625
Tried with latest SPDK master branch( 1468f8dd3ba9fbca77eb531375978d9656bc86e5) and latest qemu master branch. This issue still existed. The disk still can't be formatted.

[2019-04-04 07:24] shuhei-matsumoto commented on #725
@yaahallo

I posted three patches to collect data when the issue occurs
They are expected to output states information once per second after 20 seconds timeout.
https://review.gerrithub.io/#/c/spdk/spdk/+/450133/
https://review.gerrithub.io/#/c/spdk/spdk/+/450134/
https://review.gerrithub.io/#/c/spdk/spdk/+/450135/

Will you apply the patches?

[2019-04-04 08:09] shuhei-matsumoto commented on #715
@darsto

Finally I started to read logs in detail. It looks that all logs have the same pattern, create a raid bdev on top of two malloc bdevs.

Deleting the raid bdev and the first malloc bdev completed successfully, but deleting the second malloc bdev didn't complete within 20 seconds.

As you already reviewed, I added a few patches for iSCSI and SCSI. Now I'm investigating bdev layer and malloc

[2019-04-04 08:38] darsto commented on #324
I just merged a patch for this into SPDK master.
Thanks @pohly , thanks @dong-liuliu . It took us quite an effort to enhance the NBD module.

https://review.gerrithub.io/c/spdk/spdk/+/440453

[2019-04-04 08:38] #324 closed

[2019-04-04 09:03] shuhei-matsumoto commented on #715
@darsto

It is suspected that hot removal of an LUN on top of the malloc 1 doesn't complete. I hope my patches to dump the state will catch the state. So as you already did, further review will be very appreciated. On the other hand, I'll try to reproduce the issue locally.

Thanks,
Shuhei

[2019-04-04 15:01] mhae commented on #742
Verified. Works as expected:
[code]

[2019-04-04 15:04] #742 closed

[2019-04-04 15:06] ack72tdp commented on #731
These are block devices that would look like this .. It has underlying storage system creates these block devices and mounts to the linux system...
[AIO]
   AIO /dev/scinia AIO0
   AIO /dev/scinib AIO1

It's same kind of block devices both spdk and kernel drivers use ..

For ex:
linux-qgd9:~ # lsblk
NAME MAJ:MIN RM SIZE RO TYPE MOUNTPOINT
scinia 259:4 0 200G 0 disk // used with SPDK
scinib 259:5 0

[2019-04-04 17:06] Seth5141 commented on #730
@wanghailiangx What kind of a NIC are you using here? The only reason I ask is because the I/O unit size gets modified during startup which may be important when determining the cause of the failure.

[2019-04-04 18:02] rajasekaranmam commented on #686
@jimharris Yes, please...Thanks for looking into this issue.

[2019-04-04 18:26] #686 closed

[2019-04-05 06:45] shuhei-matsumoto commented on #715
@darsto

I noticed that destroy_raid_bdev (for hot removal of raid bdev in this case) doesn't wait for completion. So I'm developing a patch to have destroy_raid_bdev wait for completion like other bdev modules.
I hope I can post the patch soon.

[2019-04-05 13:12] karlatec opened #743 "spdk_poller_register assertion failed"
Assertion failed when running test with Vhost.
Vhost running multiple cores, on different NUMA nodes.
2 bdevs on 2 vhost scsi controllers. Crash when attaching second VM to controller.

Update: does not necessarily have to use 2 separate numa nodes. Reproduces if more than 1 core from a single numa nodes is used.

## Expected Behavior
No assertion fail:)

## Current Behavior
Assertion fail :(

##

[2019-04-05 17:48] yaahallo commented on #725
I've applied those three patches. I'm sad to report none of the new traces seemed to be triggered. Here are the logs I did receive during the most recent repro.

[iscsi_tgtd.log.gz](https://github.com/spdk/spdk/files/3049072/iscsi_tgtd.log.gz)

I'm digging  into what was done and whats happening in the hung iscsi target to see if I can't figure out what went wrong.

[2019-04-05 18:35] yaahallo commented on #725
I kinda hackily traced what its doing using this script

[code]
and parsed it with this `cat /tmp/changes.log | awk '{print $NF}' | sort -u`

End Result

[code]

which is summarized as the following on my current source copy

[code]

[2019-04-05 18:47] yaahallo commented on #725
from gdb

[code]

[2019-04-05 21:49] jimharris commented on #725
After seeing this last bit of data from @yaahallo, it was very clear where the problem was.  The solution was fairly simple so I went ahead and made a patch.

https://review.gerrithub.io/c/spdk/spdk/+/450301

@yaahallo reports this fixes the issue on her end.

[2019-04-05 22:08] yaahallo commented on #725
Fixes the hang, it's hold off on closing this until we have done more testing with the fix applied. We're also going to log when we go through the that third code path since you said you're unsure how we got into that state. Hopefully we can at least know when we avoided the issu and maybe correlate that with other positive or negative behavior.

[2019-04-05 22:48] jimharris commented on #725
It's still not clear to me how we get into this hang condition.  @shuhei-matsumoto - maybe you have some insight on this.  The data from @yaahallo shows that current_datain_offset and transfer_len both equal 1MB (1048576).  This is the max I/O size in the workload according to the fio script that Jane shared over IRC.

One of two things must have happened:
1) _iscsi_conn_abort_queued_datain_task()

[2019-04-06 00:02] yaahallo opened #744 "spdk_iscsi_conn_stop deadlock at conn.c:755"
No known way to reproduce this failure so far outside of our internal testing framework for our product @scalecomputing

In trying to test if https://github.com/spdk/spdk/issues/725 is resolved we ran into another unrelated hang.

[code]

I'm currently trying to figure out how to identify the current owner of the lock, as soon as I've figured that  out ill leave a new comment hopefully giving enou

[2019-04-06 00:05] jimharris commented on #744
I don't see where we check if there are open connections to a target node if/when a target node is explicitly deleted.  I know this is part of @yaahallo's test.

When the target node gets destroyed, the mutex gets destroyed with it.  If we later try to lock on that, it could very well result in a hang.

We might be able to come up with some tests to stress this outside of your environment.  I'll n

[2019-04-07 00:17] darsto commented on #743
That's not vhost-specific. I pushed a fix: https://review.gerrithub.io/c/spdk/spdk/+/450353

Thanks

[2019-04-08 00:52] shuhei-matsumoto commented on #725
@yaahallo @jimharris

I should have the logic of _iscsi_conn_abort_queued_datain_task() match spdk_iscsi_conn_handle_queued_datain_tasks(), but couldn't it because I could not find the path which needed the fix by Jim.

Simple UT code could not find any error for the above case #2.

[code]

[2019-04-08 00:56] shuhei-matsumoto commented on #725
@yaahallo @jimharris

Will you apply the following change on top of the Jim's fix, and then enable assert by  ./configure --enable-debug and make, and reproduce the issue by using the debug built binary?

If there is the case #1, SPDK iSCSI target will abort.

[2019-04-08 01:13] shuhei-matsumoto commented on #744
@yaahallo @jimharris

What Jim says means @yaahallo's test destroys iscsi target explicitly even when there is any active connection to the iscsi target?

[2019-04-08 02:20] wanghailiangx commented on #730
@Seth5141 NIC product name: CX453A - ConnectX-4 QSFP28  Speed: 40000Mb/s
Ethernet controller: Mellanox Technologies MT27700 Family [ConnectX-4]

[2019-04-08 05:08] NiuYawei opened #745 "bdev optimal io boundary & IO split configuration"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

spdk_bs_blob_write() failed on large I/O size (128MB) write because of limitation from NVMe bdev. I suppose blobstore or bdev should split I/O internally to avoid returning error in this situation, force blobstore caller to split I

[2019-04-08 06:37] karlatec commented on #743
Issue resolved by patch.

[2019-04-08 07:27] yidong0635 opened #746 "spdk source code reports error about help2man"
some physical machines report error when compiling:
VM fedora28 also reports this issue.

[root@waikikibeach18 spdk]# make clean && make -j
help2man: can't get `--help' info from ./programs/igzip
Try `--no-discard-stderr' if option outputs to stderr
make[3]: [Makefile:3466: programs/igzip.1] Error 127 (ignored)
Configuration done using x86_64-native-linuxapp-gcc
make[3]: Entering directory '/home/

[2019-04-08 08:12] pawelkax commented on #694
@darsto Patch that should fix this issue https://review.gerrithub.io/#/c/450022/

[2019-04-08 08:15] karlatec commented on #743
Changing the title, as this is not vhost specific.

[2019-04-08 14:44] Seth5141 commented on #664
@nedved1 So it looks like this is caused by an assumption in the nvme-rdma code. In build_sgl_request, we assume that an IOV will not be longer than the request to which it belongs. (i.e. assert(length <= remaining_payload)). It seems that other levels of the stack don't make this assumption. For example in nvme_ns_cmd.c when we examine a new sgl element in _nvme_ns_cmd_split_request_sgl, we do th

[2019-04-08 15:04] jimharris commented on #743
Patch merged.

[2019-04-08 15:04] #743 closed

[2019-04-08 15:18] jimharris commented on #744
This is just my guess. @yaahallo can confirm.

[2019-04-08 17:36] yaahallo commented on #744
This does appear to be correct. From what I can gather when the drive is removed rudely (kicked from kernel via `echo 1 >/sys/block/sd<whatever>/device/delete`) the rpc to delete the target node can be called before all the nodes have logged out from the iscsi target.

This should be easy enough to verify without one of our more complicated test cases. The one we used to produce this error is our

[2019-04-08 22:18] shuhei-matsumoto commented on #725
@yaahallo

I missed to attach the change.  Will you try the following?
1. apply the following change.
2. ./configure --enable-debug
3. make
4. use the binary and reproduce the issue.

[code]

[2019-04-08 22:33] shuhei-matsumoto commented on #744
When I looked deleting iSCSI target node RPC, hot remove was not stable and I didn't spend enough time on this RPC. But we may be able to improve this RPC now. I'll do this RPC next. So please wait for shortly.

[2019-04-08 23:17] yaahallo commented on #725
I am applying the above change now and attempting the repro while watching for an abort rather than a hang.

[2019-04-08 23:27] shuhei-matsumoto commented on #725
Thank you, and if debug build prevents the issue from occurring, will you try to change the assert to something like if (task->current_datain_offset < task->scsi.transfer_len) { SPDK_ERRLOG("Unexpectedly current_datain_offset is equal to scsi_transfer_len); }

[2019-04-08 23:55] pbasler-scale commented on #744
I was able to reproduce the RPC hang without Scale's software stack using iscsiadm to set up an initiator on the same machine that is running the target.

Here's the script (replace my IPs and paths with yours):
[code]

And here's the stack trace for the iscsi_tgt once the RPC is hung:
[code]

So far, it's reproduced the issue 100% of the time.

I hope this helps!

[2019-04-09 00:58] yidong0635 commented on #746
A package named help2man which was used by ISAL module should be added in scripts/pkgdep.sh, meanwhile, need to verify it on different systems.

[2019-04-09 01:07] yidong0635 opened #747 "autotest failed but the result is pass in test pool"
when I tried to give a test package, in the test pool, I watched that on ubuntu17:
test report segfault ,
but the test result is pass.
[log.txt](https://github.com/spdk/spdk/files/3056766/log.txt)

## Expected Behavior
test is really pass.

## Current Behavior
failed at blockdev.sh ,and the result is pass

## Possible Solution

## Steps to Reproduce
watch test pool ubuntu17_autotest

## Context (E

[2019-04-09 01:29] shuhei-matsumoto commented on #715
I think current implementation of destruction operation of raid bdev module is not good.

Some critical points are
*  destroy_raid_bdev RPC doesn't wait for completion of spdk_bdev_unregister.
*  spdk_io_device_unregister is called without waiting that all open descriptors to the raid bdev are closed.

I submitted patch series starting from https://review.gerrithub.io/#/c/spdk/spdk/+/450563/.

I h

[2019-04-09 02:20] yidong0635 commented on #747
related issue #710  , it exists a long time.

[2019-04-09 02:31] yidong0635 commented on #746
try to put a patch here: https://review.gerrithub.io/c/spdk/spdk/+/450562

[2019-04-09 05:19] dong-liuliu commented on #737
Thanks for the notice, Jim.
Just submit it to  https://review.gerrithub.io/c/spdk/spdk/+/450578
Please review it when you have free time.

[2019-04-09 07:18] darsto commented on #724
I haven't seen any bsd crashes lately. Thanks @karlatec , closing.

[2019-04-09 07:18] #724 closed

[2019-04-09 07:31] yidong0635 commented on #747
@karlatec  @darsto  please help to check this.

[2019-04-09 07:41] shuhei-matsumoto commented on #744
@yaahallo @pbasler-scale

I created the patch series that starts from https://review.gerrithub.io/#/c/spdk/spdk/+/450582/ and is made of 6 patches.

Unfortunately I haven't reproduced this issue in my environment yet too but could verify this runs correctly with your script.

 will fix the issue. Will you test if it works in your usecase?

@jimharris

Destructing iscsi target node didn't wait for

[2019-04-09 09:14] shuhei-matsumoto commented on #744
@yaahallo @pbasler-scale

I want to correct the previous comment. It looks that I could reproduce the issue and fix it by the patch series. I will test again tomorrow.

-Shuhei

[2019-04-09 10:04] shuhei-matsumoto commented on #715
As long as I have worked on this issue, the patch series is sufficiently likely to be the fix. I submitted two patches for data collection but they will not be valuable even if being merged. So it will be nice if we can monitor how the test CI goes with possible fix.

[2019-04-09 11:01] karlatec commented on #747
Oh wow, I see that this actually happens on every build.
Thanks for noticint this, I will investigate why is this happening. Jenkins runs all autotest scripts with bash option "set -e" set, so any return code other than 0 should generate a fail.

[2019-04-09 11:37] karlatec commented on #747
By the way @yidong0635, great catch on that. Most of the times people don't look into "PASSED" results:)

All right, I can see that this job wasn't respecting the default "set -e" set by Jenkins process. Manually adding this option makes the job behave like it should - builds will fail.

@yidong0635 @darsto @jimharris @Seth5141 @peluse
If I set "set -e" now in the job every build will fail. Should

[2019-04-09 14:11] tkulasek commented on #670
VPP 18.01.1 doesn't compile in Fedora 28. It is caused by glibc 2.27 incompatibilities, nasm 2.13 used here doesn't compile with gcc8 and some minor warnings treated as errors in gcc8.
Here is WIP patch to show the complexity to achieve compatibility of VPP 18.01.1 with Fedora 28: https://review.gerrithub.io/c/spdk/spdk/+/450238
Newer versions of VPP compiles well with Fedora 28. While we consider

[2019-04-09 15:20] peluse commented on #735
@yangtianyu0706 sure you can submit a patch based on 19.01 or you can possibly just take the pending 19.04, would 19.04 work for you? @darsto will make sure there are some instructions for how to apply a patch to a prev released branch and let you know

[2019-04-09 15:29] peluse commented on #710
@peluse to debug

[2019-04-09 15:36] peluse commented on #454
@gongchuang is working on this, see patch in GH for updates.

[2019-04-09 15:37] peluse commented on #450
@Maciej-Szwed please talk to @benlwalker about this one while you're in Chandler

[2019-04-09 15:39] peluse commented on #587
bug scrub, moving to low.  Don't recommend this as a use case

[2019-04-09 15:43] peluse commented on #730
@Seth5141 working to repro

[2019-04-09 15:48] peluse commented on #691
try adding instrumentation in code path to get a hint, document simplified steps to repro (ex not using RAID 0)

[2019-04-09 15:53] peluse commented on #680
@mhae can you please try testing with https://review.gerrithub.io/c/spdk/spdk/+/447060/ ?

[2019-04-09 15:58] peluse commented on #589
@nagendra-v can you please retry with the patch mentioned above?

[2019-04-09 15:59] peluse commented on #557
WIP

[2019-04-09 16:01] peluse commented on #279
@jimharris currently working on this

[2019-04-09 16:14] yaahallo commented on #725
The issue reproduced rather easily

[code]

Sadly it wont let me inspect the state of task...

Here's the output of `bt full`, its like 1000 lines so I made it a separate gist.

https://gist.github.com/yaahallo/3bb650af2af68d56407ad7f1a8e9aa7f

[2019-04-09 17:13] jimharris commented on #279
All of the failures I've seen to date show that SPDK thinks the file is ~72MB in size, but the RocksDB MANIFEST file thinks it should only be about 64MB.  When an SST file is finished, there is a final spdk_file_sync() operation that results in the length xattr getting set to 64MB, followed by an update to the MANIFEST file.  So it seems that in the failing case, this xattr is not getting persiste

[2019-04-09 18:21] mhae commented on #680
@Paul, the link you've referenced is the test script which is pretty much what I've used. Was your intention for me to verify that the test script works or the actual fix? I did test the fix as described in https://github.com/spdk/spdk/issues/687 and it worked fine.
If your intention is to really verify the test, then I can surely do that. However, I was wondering if they run out of the box or if

[2019-04-09 18:37] pbasler-scale commented on #744
@shuhei-matsumoto thank you for getting these patches up!

I'm having a difficult time integrating the patches because we're based off v19.01. I'm in the process of finding the commits needed to get this working, but I'm worried I'll make a mistake doing this manually.

Any assistance you could provide in merging these patches on top of v19.01 would be greatly appreciated. Thanks again!

[2019-04-09 19:36] shuhei-matsumoto commented on #744
@pbasler-scale Of course. I will recreate the patch on spdk 19.01 this morning

[2019-04-09 23:37] shuhei-matsumoto commented on #744
@pbasler-scale @yaahallo

Here they are: https://review.gerrithub.io/#/c/spdk/spdk/+/450606/
Please try them in your application.

The end of the patch series is the patch by Jim to fix another issue #725, and so please ignore it if you merge it already in your application.

[2019-04-10 00:02] shuhei-matsumoto commented on #744
@pbasler-scale according to the discussion with Jim on IRC, the patch series is not enough. Sorry for inconvenience.

[2019-04-10 00:53] pentyala opened #748 "Does SPDK support DPS (Data Protection Service)?"
Hi,

Does SPDK support DPS. If yes, can you direct me to proper documentation?

Thanks.

[2019-04-10 01:05] changpe1 commented on #748
@pentyala SPDK does support End-to-End data protection feature, you can refer to https://spdk.io/doc/bdev_8h.html and https://spdk.io/doc/nvme_8h.html.

[2019-04-10 01:20] pentyala commented on #748
@changpe1 Thanks for answering quick.

I am trying to configure NVMe over RDMA using the steps mentioned in spdk.io.

I was able to create namespaces and connect to controllers. However, I could not find an option where I can enable DPS. Is there something that I am missing? Can you please provide steps on how to enable DPS?

[2019-04-10 01:25] changpe1 commented on #748
First of all you must have physical drive which can support extended LBA format, and then format the drive to (512 + 8) or other types, after that, you can add the Namespace to one of the subsystem's Namespace.

[2019-04-10 08:12] pelplinski commented on #691
### Simplified steps to reproduce

**On server:**
1. Create lvolstore
construct_lvol_store Nvme0n1 Lvs0

2. Create thin provisioned lvols
construct_lvol_bdev -t Lvol0 819200 -l Lvs0
construct_lvol_bdev -t Lvol1 819200 -l Lvs0
construct_lvol_bdev -t Lvol2 819200 -l Lvs0

3. Add to the nvmf subsystem
nvmf_subsystem_add_ns nqn.2018-12.io.spdk:cnode1 Lvol1

**On client:**
4. Connect the namespace
nvme

[2019-04-10 15:00] jimharris commented on #691
Hi @pelplinski,

Can you confirm a few things:

1) Three lvols are created, but only one is used.  Do we know that you must create three lvols for this issue to happen?
2) I was really surprised to see that the fio job is reads only.  There are no writes needed at all to make this problem happen?
3) What percentage of the time does this issue occur when running these set of steps?
4) Is it possibl

[2019-04-10 18:48] ctuffli opened #749 "HugePage difference master vs v19.01"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

It appears that HugePages are not being freed after an application closes on the  v19.01 branch. But this appears to work correctly on master.

Before running the application, `/proc/meminfo` shows:

    $ grep ^Huge /proc/meminfo

[2019-04-10 20:49] jimharris commented on #737
Patch merged - thanks @dong-liuliu!

[2019-04-10 20:49] #737 closed

[2019-04-10 22:39] shuhei-matsumoto commented on #725
@yaahallo

Thank you for your update. That stack trace is unexpected to me. I haven't found why SPDK fell in that state. I'll update here if I find anything.

[2019-04-10 22:56] yaahallo commented on #725
Okay, I'm currently in the process of reproducing the issue with a breakpoint in an if statement rather than the assert so hopefully I should be able more information for you rather than a bunch of cannot access memory errosr.

[2019-04-11 00:22] Seth5141 commented on #664
@nedved1 Sorry to take so long on this one. It should all be fixed here. https://review.gerrithub.io/c/spdk/spdk/+/450873. Please try again on your system using the tip of this change series. If it is fixed on your system, please clsoe the issue.
Thanks!

[2019-04-11 05:54] darsto commented on #749
That's true. . We had some issues with hotremoving memory that's used by RDMA and we fixed those for SPDK 19.04 (with DPDK 19.02), but for earlier versions of either DPDK or SPDK we workaround them by not releasing any hugepages. Note that if your SPDK application does not exit cleanly (is killed or crashes), it still won't release any hugepages no matter which version you use. However, they will

[2019-04-11 05:55] darsto commented on #749
I'm closing the github issue per se, but let's continue the discussion here.

[2019-04-11 05:55] #749 closed

[2019-04-11 07:11] yidong0635 commented on #746
patch has been merged, so close this issue.

[2019-04-11 07:11] #746 closed

[2019-04-11 08:11] glodfish-zg commented on #557
Issue can be reproduced with latest codes, trying to fix.

[2019-04-11 09:03] yaojingen opened #750 "Can not get "Extended INQUIRY Data VPD page""
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

execute:
 "sg_inq --page=0x86 /dev/sd* " after login iscsi target
result:
VPD INQUIRY: extended INQUIRY data page
  SPT=0 GRD_CHK=0 APP_CHK=0 REF_CHK=0
  UASK_SUP=0 GROUP_SUP=0 PRIOR_SUP=0 HEADSUP=0 ORDSUP=0 S

[2019-04-11 12:38] jimharris opened #751 "spdkcli crashes on bad iSCSI portal group input"
Just do:

cd iscsi/portal_groups
create 1 127.0.0.1

The "127.0.0.1" is incorrect - the port number should be appended like 127.0.0.1:3260.  But spdkcli should print a better error message in this case instead of crashing.

[2019-04-11 13:01] jimharris commented on #750
Fix here:  https://review.gerrithub.io/c/spdk/spdk/+/450922

[2019-04-11 15:18] ctuffli commented on #749
Happy to hear that this is fixed, but I'm not seeing a 19.04 branch or tag. Is there an approximate schedule for this?

[2019-04-11 15:21] jimharris commented on #749
19.04 will be released by end of April (19 = 2019, 04 = April)

[2019-04-11 15:32] ctuffli commented on #749
Perfect. Thanks @jimharris , just wasn't sure if the 04 meant the beginning or end of the month.

[2019-04-11 15:46] nedved1 commented on #664
@Seth5141 Great job!  It seems that your patches fix this issue.

[2019-04-11 16:06] nedved1 commented on #710
Hi @peluse is there aby updates?

[2019-04-11 16:58] Seth5141 commented on #664
Thanks!

[2019-04-11 16:58] #664 closed

[2019-04-11 18:24] #694 closed

[2019-04-11 19:19] pbasler-scale commented on #744
No problem. Let me know when you have another patch that I can test with.

[2019-04-11 19:37] mhae opened #752 "Memory leak in iscsi_subsystem.c?"
This is not necessarily a valid defect but I'm confused by the iscsi socket group initialization code and it seems there's a memory leak.

The function initialize_iscsi_poll_group creates a socket group for each core but it uses the spdk_for_each_thread() which iterates through all registered threads, to accomplish that.
The poll_group is stored in an array indexed by core.

I think this can lead

[2019-04-11 20:26] ak-gh commented on #752
On Thu, Apr 11, 2019, 22:37 Michael Haeuptle <notifications@github.com>
wrote:

You should first check if iscsi target app creates any threads other than
spdk system thread per configured core (which I guess it doesn't, so its
thread equals core assumption is correct).

Regards,
Andrey

[2019-04-11 22:02] jimharris commented on #752
@ak-gh is correct.  Currently this code is only working because there's ever only one spdk thread per logical core.  This is an area of code that will need to reworked before we can add a smarter scheduler based on the work @benlwalker has been doing.

I'm going to close this issue.

[2019-04-11 22:02] #752 closed

[2019-04-11 22:25] mhae commented on #752
Thanks for the quick reply. @jimharris I'm puzzled by "there's ever only one spdk thread per logical core". We can have many spdk threads running on a logical core, no? This code only works because no other threads have been created while the subsystem is initialized.

[2019-04-11 22:39] jimharris commented on #752
Not currently.  There can be many pollers running on one spdk thread, but only one spdk thread per logical core.

[2019-04-11 23:09] mhae commented on #752
Sorry, please bear with me... I'm probably confused by some of the
terminology, especially what a "logical core" is.

I've lifted the iscsi code that initializes the socket groups and from the
output below, I see multiple spdk threads running on the same core.
I believe the _sched() in the thread abstraction distributes threads across
cores in a round robin fashion every time I do a spdk_thread_cr

[2019-04-12 02:10] glodfish-zg commented on #557
@wanghailiangx
https://review.gerrithub.io/c/spdk/spdk/+/450986  try to fix the segmentation fault(core dump).
Could you help to verify?

[2019-04-12 17:43] nagendra-v commented on #620
@Comphix
I have tested patch https://review.gerrithub.io/#/c/spdk/nvme-cli/+/432526/ with SPDK 19.01, it works. I am able delete all NS's and create.
I don't see the patch merged yet to cli V1.6, when is it expected to be released?

[2019-04-12 21:52] jimharris commented on #752
I should have clarified that there is only ever one SPDK thread per logical core with the applications in upstream SPDK.  The iSCSI library is not ready yet for users to create additional threads via spdk_thread_create().

[2019-04-12 23:14] nagendra-v commented on #607
@changpe1
I have tried with SPDK v19.01 / DPDK 18.11.0, still host doesn't see namespace block size change. Still showing old value. Below are steps I tried.

1. Format namespace to 4K
2. Start nvmf_tgt
3. Through RPC create subsystem, add host and namesapce(nvmf_subsystem_creat, nvmf_subsystem_add_ns other necessary calls)
4. From host discover and connect and verify namespace "Format" as 4K
5. D

[2019-04-13 02:09] lorneli opened #753 "bdev/bdev.c: question about spdk_bdev->required_alignment"
Hi,

The field `spdk_bdev->required_alignment`  specifies an alignment requirement for data buffers associated with an spdk_bdev_io. And this alignment is made in `spdk_bdev_io_get_buf` function, using `aligned_buf = (void *)(((uintptr_t)buf + (alignment - 1)) & ~(alignment - 1))`.

But I find that when a bdev specifies the required_alignment filed, io boundary on this bdev is also required. I hav

[2019-04-15 02:17] wanghailiangx commented on #557
Verified, core dump disappear, but ctrl+c can't kill target.

[2019-04-15 16:50] Maciej-Szwed commented on #607
@nagendra-v please also remove NVMe controller (with delete_nvme_controller RPC call) after point 7. and then create it again.

[2019-04-15 18:49] nagendra-v commented on #607
@Maciej-Szwed what's rcp function call to "create nvme controller" ?

[2019-04-16 07:49] ChenBo2333 opened #754 "RUN_NIGHTLY switch is off in all NIGHTLY servers"
RUN_NIGHTLY switch is off in all NIGHTLY server , so all of the NIGHTLY test didn't run.

## Expected Behavior
RUN_NIGHTLY=1

## Current Behavior
RUN_NIGHTLY=0

## Possible Solution
Set "RUN_NIGHTLY=1" in all NIGHTLY test servers.

## Steps to Reproduce
1. view build log on RBD_autotest server,
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/28583/archive/RBD_autotest/build.

[2019-04-16 14:42] #728 closed

[2019-04-16 21:07] darsto commented on #754
In the first of the log you've provided I can see:

So it's a per-patch test, not a nightly one. For nightly the log starts with the following line:

(taken from https://dqtibwqq6s6ux.cloudfront.net/results/autotest-nightly/builds/466/archive/RBD_autotest/build.log )

For nightly tests we just set override RUN_NIGHTLY to 1.

You can see all the nightly test runs here: https://dqtibwqq6s6ux.cloudfr

[2019-04-16 21:07] #754 closed

[2019-04-17 01:50] glodfish-zg commented on #557
@wanghailiangx
If you want to test hotplug feature, in the config file you should enable the hotplug. I think this is the reason why you can't kill target.

[2019-04-17 02:42] wanghailiangx commented on #754
@darsto Your reply is no problem, perhaps ChenBo did not make it clear.
We can find NIGHTLY test result by two entrances. One is https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-nightly.html,
another is https://review.gerrithub.io/#/c/spdk/spdk/+/393768/.
The problem lies in the latter. There, SPDK CI Jenkins always shows "autotest-per-patch" log. In actual, it should show "autotest-nigh

[2019-04-17 02:55] wanghailiangx commented on #557
@Seth5141 As Jinyu said, according to the current code design, when the hotplug switch is disable, it is normal to not kill the process. But can't killing the process is not suitable for users. How should we design a solution under this case?

[2019-04-17 05:30] yidong0635 commented on #670
@tkulasek , thanks for your efforts. And the WIP patch is ok.
It seems install_vpp will install some old packages that will covered the new packages like python3-pandas/... .

[2019-04-17 08:15] wanghailiangx opened #755 "nvmf target crashed after RPC removing lvol bdev in hotplug test"
Target is running with lvol bdev based on Nvme0, then run fio in host.
If RPC delete nvme controller Nvme0, the target will core dumped.
Unplugging SSD by manual can't reproduce the issue.

## Expected Behavior
nvmf_tgt reports error but can't core dumped.

## Current Behavior
[code]
Gdb information:
[code]

## Possible Solution
Please pay attention to "assert(ch->io_outstanding == 0);" in _spdk_b

[2019-04-17 08:24] glodfish-zg commented on #755
@wanghailiangx
could you try this patch https://review.gerrithub.io/c/spdk/spdk/+/449274

[2019-04-17 10:43] wanghailiangx commented on #755
No effect :(

[2019-04-17 22:50] darsto commented on #754
@wanghailiangx Ohh that's true. I've just talked to @Seth5141 and we will get rid of that patch - we don't use it anyway.

[2019-04-17 23:33] darsto commented on #687
The patch from @pawelwod tried to fix too many issues at once and I was not able to review it.

In order to try to understand that patch, I started looking into the vhost code and tried to find the specific scenario that's broken. I managed to find at least 8 (sic!) separate data races, for which I submitted around ~10-15 patches. Right now we still have 4 vhost patches [1] and 2 bdev patches [2]

[2019-04-17 23:36] darsto commented on #680
@peluse that patch just adds the test script to reproduce the issue, and the fixes are located somewhere else. I just gave a status update in the related github issue #687

[2019-04-18 08:48] glodfish-zg commented on #755
@wanghailiangx
I have updated the patch，you can try again。

[2019-04-18 09:55] yidong0635 commented on #629
found a coredump issue when to delete the nvme controller using rpc method.
https://review.gerrithub.io/c/spdk/spdk/+/451445

[2019-04-18 10:04] yidong0635 commented on #629
nvmf_tgt: bdev_nvme.c:1042: remove_cb: Assertion `nvme_bdev->id == nsid' failed.
Aborted (core dumped)

[2019-04-18 10:35] yidong0635 opened #756 "test pool BlobFS_autotest #23520 always fail at rocksdb.sh"
please  see the test pool, that BlobFS_autotest #23520 always fail at rocksdb.sh,
it blocked many patches.

[2019-04-18 14:27] lorneli commented on #753
Hi @darsto , @jimharris , @changpe1 , @pelplinski

Sorry to bother you guys. :sweat_smile:

I trace bdev's required_alignment  feature in commit history, and  find the related [patch series](https://review.gerrithub.io/c/spdk/spdk/+/430783/9) in gerrithub. After reading the patches, I'm still a little bit confused:

I think the line `bdev->optimal_io_boundary = SPDK_BDEV_LARGE_BUF_MAX_SIZE / bdev-

[2019-04-18 16:12] jimharris commented on #750
Patch is merged so closing this issue.  Please advise if you still see any problems.

[2019-04-18 16:12] #750 closed

[2019-04-18 17:15] amtrek opened #757 "sudo HUGEMEM=8192 scripts/setup.sh does not configure hugepage properly"
I am using the spdk off-the-shelf way,  when I tried to run the example on nvme hello_world, I have error reporting that I dont have enough hugepage space.

So I ran sudo HUGEMEM=8192 scripts/setup.sh trying to set a huge page.

0000:5e:00.0 (8086 0a54): Active mountpoints on /dev/nvme0n1, so not binding PCI dev
0000:86:00.0 (8086 0a54): Already using the uio_pci_generic driver
0000:af:00.0 (8086

[2019-04-18 17:37] jimharris commented on #757
Hi @amtrek,

The "No free hugepages reported in..." message can be ignored.  It is an error message from DPDK, and unfortunate since it is confusing.  It only means there are no 1GB huge pages available.  But your 2MB pages are available - you specified 8192MB, and it is showing 4096 2MB huge pages.

Some of the other error messages about "cannot obtain physical addresses" and "couldn't get fd" in

[2019-04-18 18:56] mhae commented on #687
Hey Darek, just to clarify, is it enough to apply just the two patches [1]
and [2] or is there more?

On Wed, Apr 17, 2019 at 5:33 PM Darek Stojaczyk <notifications@github.com>
wrote:

[2019-04-18 19:02] benlwalker commented on #756
I don't know what this bug report means. If a particular Jenkins build is failing, post a link.

[2019-04-18 19:17] benlwalker opened #758 "Nightly test 19.01.x vs. DPDK master failing on RocksDB tests"
https://10.102.17.104:8080/job/autotest-stable-vs-DPDK-master/changes
(Sorry - only available within Intel)

Nightly tests 54 through present failing. This is because the tests use whatever version of the RocksDB source is present in the test system. SPDK 19.04 requires an upgraded RocksDB, so the test systems were updated. But 19.01.x requires the old RocksDB, so this is failing to build.

To sol

[2019-04-18 19:17] benlwalker commented on #756
I think this may be the same issue: https://github.com/spdk/spdk/issues/758

I'm going to close this one.

[2019-04-18 19:17] #756 closed

[2019-04-18 21:48] #557 closed

[2019-04-18 22:16] amtrek commented on #757
Hi, good catch, however, after executing as root, I still got this similar error.

Starting SPDK v19.04-pre / DPDK 19.02.0 initialization...
[ DPDK EAL parameters: hello_world -c 0x1 --log-level=lib.eal:6 --base-virtaddr=0x200000000000 --match-allocations --file-prefix=spdk0 --proc-type=auto ]
EAL: No free hugepages reported in hugepages-2048kB
EAL: No free hugepages reported in hugepages-2048kB
E

[2019-04-18 22:30] amtrek commented on #757
After increasing the hugepage to HUGEMEM=16384MB, the example is now working as expected. I'll close the issue. Thanks for the help, Jim.

[2019-04-18 22:30] #757 closed

[2019-04-18 22:50] #595 closed

[2019-04-18 22:50] #690 closed

[2019-04-19 01:04] jonathanrichardson commented on #730
I have the same issue, even with the kernel nvmf as the target instead of spdk. If you limit the block size on the initiator to /sys/block/nvme0n1/queue/max_sectors_kb then you likely won't see the problem. I think the initiator should be setting it to 'max_hw_sectors_kb'. To reproduce try using a larger block size than this value for initiator fio command. Also watch out for read_ahead_kb value.

[2019-04-19 14:08] peluse commented on #758
I kinda like the pull option given how many submodules we already have…

From: Ben Walker [mailto:notifications@github.com]
Sent: Thursday, April 18, 2019 12:17 PM
To: spdk/spdk <spdk@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [spdk/spdk] Nightly test 19.01.x vs. DPDK master failing on RocksDB tests (#758)

https://10.102.17.104:8080/job/autotest-stable-vs-DPDK-mas

[2019-04-19 14:38] jimharris commented on #751
@pawelkax posted a patch here:  https://review.gerrithub.io/c/spdk/spdk/+/451258

It looks good to me!

[2019-04-19 15:17] #751 closed

[2019-04-19 19:23] Seth5141 commented on #575
@ShaharSalzman-K I think that people are most likely going to be applying the latest patches onto their LTS kernels so It's safe to say fixing this one is a low priority. Plus, since upgrading the kernel fixed the issue, it sounds like there was a kernel bug rather than an SPDK bug. I am going to close this for now, but at least we have it documented in case someone comes forward in the future wit

[2019-04-19 19:23] #575 closed

[2019-04-19 19:52] Seth5141 commented on #730
@wanghailiangx I just noticed that you said this issue is similar to issue #615. In that issue, you are performing a hotplug, but in this issue, you don't mention any hotplug events.
Do you encounter this issue without hotplugging any of the drives?

[2019-04-19 21:56] jimharris commented on #753
Hi @lorneli,

Currently the bdev layer is not designed to handle read I/O requests larger than SPDK_BDEV_LARGE_BUF_MAX_SIZE that have no buffer attached (requesting bdev layer to allocate the buffer).

iSCSI is the only frontend currently that requests bdev to allocate the buffer.  It restricts the size to SPDK_BDEV_LARGE_BUF_MAX_SIZE for all read I/O requests.

NVMf and vhost do not request bdev

[2019-04-20 03:03] optimistyzy commented on #753
@lorneli  As Jim mentioned, this is currently only used by iSCSI target to support DIF  (Data integrity field)(And it is reflected by hose bdevs which have meta data)

[2019-04-20 03:05] optimistyzy commented on #748
@pentyala It currently only works for bdev build on real NVMe device, and you need to format your device like @changpe1  describes. Currently, we do not support such feature for bdev built on simulated device.

[2019-04-22 10:09] wanghailiangx commented on #755
Similar issue also occurs in "LOVL bdev + RDMA transport nvme bdev + RPC del lvol".

[2019-04-22 10:26] wanghailiangx commented on #730
@Seth5141 Yes, without hotplugging.  I test again with the latest code, there is no core comped, but the above errors still exist.

[2019-04-22 14:48] lorneli commented on #753
Hi  @jimharris @optimistyzy

Sorry for the late response. I went back to my hometown and attended a wedding last weekend.

To be honest, we are using nvmf and vhost target as frontend application, instead of  iSCSI target. So It's not a problem for us, that currently bdev layer doesn't handle read I/O requests larger than SPDK_BDEV_LARGE_BUF_MAX_SIZE that have no buffer attached.

It's my curiosit

[2019-04-22 16:38] benlwalker commented on #627
Closing, since this can't be reproduced.

[2019-04-22 16:38] #627 closed

[2019-04-22 16:45] mhae commented on #687
I've been running my stress test all morning and didn't hit the issue anymore! I'm using the latest from today (latest hash is bb488d2829a9b7863daab45917dd2174905cc0ae). It seems that patch 449990 did the trick.

[2019-04-22 18:52] amtrek opened #759 "Write large data to file with high speed, where should I start ?"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

I am trying to use spdk library to accelerate flushing large data buffer to file (SSD), in previous benchmark, I was able to use raw fstream to get write speed ~1.5G/s (Intel P4500), however, the CPU usage approach 100% during long

[2019-04-22 18:53] jimharris opened #760 "blobstore does not check for SNAPSHOT_IN_PROGRESS during dirty recovery"
If blobstore application crashes during creation of a snapshot, we need to look for and clean up any SNAPSHOT_IN_PROGRESS xattrs that are found.

Assume blob X is found with xattr SNAPSHOT_IN_PROGRESS

1) Need to find any blob with a parent snapshot ID matching blob X.  If found, set that blob's parent snapshot ID to the parent snapshot ID of blob X (breaking the dependency).
2) Delete blob X

I k

[2019-04-22 20:56] Seth5141 commented on #730
@wanghailiangx Thanks for posting this issue. I have gotten to the bottom of it. It was related to the rnr_retry value at the RDMA layer. We had a misconception in which side of the connection that value was being set. I have modified the code to set the rnr_retry value on the correct side of the connection and it fixes this issue for me locally. https://review.gerrithub.io/c/spdk/spdk/+/451678
Ca

[2019-04-22 21:00] Seth5141 commented on #730
@jonathanrichardson That's really interesting that you can recreate this issue with an all kernel solution. That configuration is outside of the scope of this issue, but when using the kernel initiator and target, are you getting rnr_retry_count_exceeded errors in dmesg? If so that would be indicative of the fact that the kernel isn't setting this value correctly either. Although I am thinking you

[2019-04-22 21:50] amtrek opened #761 "rpc.py error when trying to get_bdevs"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

fail to get_bdevs from rpc.py
## Expected Behavior

After create hugepage via setup.py, I ran rpc.py to get block device in my system. I also tried to perform construct nvme bdev, but yield same error.

- ./rpc.py get_bdevs

-  ./r

[2019-04-22 21:56] Maciej-Szwed commented on #761
Hello @amtrek ,
Have you started instance of SPDK application before running RPC command and after running setup.sh script? You can run for this purpose spdk/app/spdk_tgt/spdk_tgt binary.
In case you did it, have you noticed any errors printed on the screen by the application?

Regards,
Maciek

[2019-04-22 22:07] amtrek commented on #761
Thank you @Maciej-Szwed  it looks like that I have not let the spdk_tgt run  at same time.

[2019-04-22 22:08] #761 closed

[2019-04-22 22:43] #759 closed

[2019-04-22 22:46] marzious opened #762 "Correct way of writing large data ? Slow performance from example"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Slow writing performance
## Expected Behavior

I am trying to use spdk library to accelerate flushing large data buffer to file (SSD), in previous benchmark, I was able to use raw fstream to get write speed ~1.5G/s (Intel P4500), h

[2019-04-22 23:07] changpe1 commented on #625
@liang2yan I posed a patch https://review.gerrithub.io/#/c/spdk/spdk/+/451691/ can you have a try? I don't have the test environment to test it, thanks.

[2019-04-23 01:05] jonathanrichardson commented on #730
@Seth5141 You are right. My kernel issue is unrelated to this and rnr_retry_count_exceeded. The 19.04 spdk issue I'm seeing is also with multiple initiators but it's not related to this issue either. Just has a similar symptom. I'll have to debug further.

[2019-04-23 01:49] glodfish-zg commented on #755
@wanghailiangx
we have tested this patch https://review.gerrithub.io/c/spdk/spdk/+/451640 can work, but it has an issue that memory reuse after free. I will add a unit test to reproduce this issue so that we can think about a better way to solve this issue.

[2019-04-23 02:34] liang2yan commented on #625
Verified this issue with the patch https://review.gerrithub.io/#/c/spdk/spdk/+/451691/, this issue still can be reproduced.

[2019-04-23 06:37] liang2yan opened #763 "SPDK nvmf target crashed while running file system operation for reduce compression bdev"
## Steps to Reproduce
1. run spdk nvmf target with latest codes(I used commit 9e2eb8cb51a16839a54771eb842c4e3aa99b25d6), the dpdk and ISA-l are default source codes in spdk repository. The config file are as below:
[code]
2. run RPC command to create compression bdev and subsystem.

[code]
The nvme0n1 is P3500 2TB, the LBA format is 512 byte.

3. In host machine, use following command to connect t

[2019-04-23 07:36] liang2yan commented on #763
This issue also happened while running fio job in host machine. The fio job config is as below:

[code]

[2019-04-23 09:35] darsto commented on #687
@mhae I'm finally back at the office :)

I'm glad it worked for you!
If you're running a debug build of vhost, you might still randomly hit an assert() on scsi lun hotremove, but the non-debug builds of current spdk master already work fine.

The bdev patches I linked before are still pending on gerrithub, but they only remove that failing assert now.

[2019-04-23 10:32] #748 closed

[2019-04-23 10:45] darsto commented on #687
Since you've reported it fixes the original problem, I'm actually closing issue. Thanks!

The assert() on hotremove has its own github issue #733

[2019-04-23 10:45] #687 closed

[2019-04-23 10:45] wanghailiangx opened #764 "bdev_raid: modprobe nbd failed and show "return 0" in NIGHTLY test"
When testing bdev_raid.sh, if modprobe -n nbd failed, only "modprobe: FATAL: Module nbd not found." was printed, then return 0. This looks like a passed test case.

## Expected Behavior
In this case, printing "skipping the test" is necessary.

## Current Behavior
Printed "FATAL" and "return 0".

## Possible Solution
Suggest to add "skipping" and avoid a indistinct.

## Steps to Reproduce
1. view h

[2019-04-23 10:53] darsto commented on #687
Just for future reference, here's the list of all the related vhost fixes.

[vhost: ignore sessions that weren't ever started](https://review.gerrithub.io/c/spdk/spdk/+/449394/6)(Merged)
[vhost/scsi: fix newly attached targets being hotremoved by mistake](https://review.gerrithub.io/c/spdk/spdk/+/449990/4)(Merged)
[vhost/scsi: don't send hotremove sense codes after session restart](https://review.

[2019-04-23 10:55] darsto commented on #680
#687 was just closed, so I'm closing this as well. Thanks @mhae !

[2019-04-23 10:55] #680 closed

[2019-04-23 10:58] wanghailiangx commented on #764
Posted a  patch https://review.gerrithub.io/#/c/spdk/spdk/+/451723/.

[2019-04-23 12:22] tkulasek commented on #670
@yidong0635 @Donaim final version of vpp fix is here: https://review.gerrithub.io/c/spdk/spdk/+/450238

[2019-04-23 12:43] darsto commented on #589
The patch above seems to be abandoned, but we've fixed VFIO hotremove [1] in a different one: https://review.gerrithub.io/c/spdk/spdk/+/448927

It is already merged, so VFIO hotremove on SPDK master should work fine. We'll continue adding dedicated VFIO automated tests for SPDK 19.07 to ensure this doesn't break anymore.

@rajasekaranmam could you try doing VFIO hotremove on latest SPDK master?

[

[2019-04-23 12:51] darsto commented on #589
@rajasekaranmam Sorry for the late answer. The ultimate SPDK goal is to support both, but for now we have automated tests only for UIO hotremove, which means only UIO hotremove should be considered stable.

[2019-04-23 14:04] pawelkax commented on #464
I created RFC patch as proposal for this issue: https://review.gerrithub.io/#/c/spdk/spdk/+/431471/

[2019-04-23 14:06] changpe1 commented on #625
@liang2yan Can you post the log messages for your error case, is it the same with Karol's log?

[2019-04-23 15:08] darsto commented on #758
Bug scrub: We'll make a script on jenkins to checkout a specific rocksdb version

[2019-04-23 15:22] darsto commented on #691
Bug scrub: prepare a very simple reproduction setup. narrow it down to a single lvol, try nvmf loopback. try iscsi instead of nvmf and see if it reproduces

[2019-04-23 15:26] darsto commented on #603
Bug scrub: try to reproduce this with only a single cpu

[2019-04-23 15:28] darsto commented on #736
Bug scrub: there's a patch out (?). It'll be included 19.04

[2019-04-23 15:33] darsto commented on #730
Bug scrub: the patch above still fails the CI

[2019-04-23 15:36] darsto commented on #589
Bug scrub: @changpe1 have you reproduced the original hotplug issue (about hotplug taking 2 to 10 minutes?)

[2019-04-23 15:37] darsto commented on #279
Bug scrub: @jimharris and @ZiyeYang to look into it tomorrow

[2019-04-23 16:55] changpe1 commented on #629
The root cause of the issue is obvious, and there is a same issue #728, and Jin posted a patch which can fix the two issues, https://review.gerrithub.io/#/c/spdk/spdk/+/450575/,  or we can leave the issue as it is, because we don't need to process hotplug in the perf tool, bdev layer can process hotplug. Thoughts?
@darsto @benlwalker @jimharris

[2019-04-23 17:02] Seth5141 commented on #736
@ShaharSalzman-K I have taken the liberty of rebasing your patch on top of mine. Please confirm that it fixes the above issue. https://review.gerrithub.io/c/spdk/spdk/+/449993. Thanks.

[2019-04-23 17:10] peluse commented on #710
I can repro locally, the original debug output not the 2nd one that was added.  Working on debugging...

[2019-04-23 17:17] jimharris commented on #629
I would prefer we not merge this patch.  I think it is correct to zero these fields.  If applications such as perf have a problem, we need to fix those applications.

What if we just modified spdk_nvme_ns_check_request_length() to check if sectors_per_max_io == 0?  If it does, just return false (with an error message).  This is not exactly what this function was intended for, but seems like a reas

[2019-04-23 17:21] benlwalker commented on #629
I don't think we need to support hotplug within the nvme perf tool. If we want to test hotplug, we can run bdevperf instead.