[2022-03-24 16:49] spdkci commented on #2295
Another instance of this failure. Reported by @benlwalker. log: https://ci.spdk.io/public_build/autotest-per-patch_73896.html

[2022-03-24 17:26] ravalsam commented on #2423
@jimharris and @tomzawadzki,

So for option 1, it's just needs to print the message or script should also exit? I created the patch https://review.spdk.io/gerrit/c/spdk/spdk/+/12035 so feel free to update.

Can this be improve further as well?  I see only single VMD address (4 NVMe) is unbinding at a single given time. Can that also be done in parallel for all VMD address? So in that case time can

[2022-03-24 19:41] jimharris commented on #2423
Hi @ravalsam,

Thanks for the patch!  I wouldn't expect to see only one VMD address unbinding at a time.  With the patch it should be unbinding all 4 VMD devices in parallel.  What I think you should see is that when you unbind each VMD device, it has to in turn shutdown each of the NVMe SSDs behind it, and those are done serially for each VMD device.  (Meaning 4 SSDs are shutdown in parallel, the

[2022-03-24 23:18] spdkci commented on #2424
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_73988.html

[2022-03-25 00:36] changpe1 commented on #2435
this is similar with https://github.com/spdk/spdk/issues/2372, both are kernel panic when booting VM, but the VM kernel call trace is different.

[2022-03-25 01:55] wanghailiangx commented on #2431
@changpe1  Unfortunately, this issue has not reappeared recently on local. I'll wait a few more days and turn it off if I can't see it again.

[2022-03-25 03:33] fangli commented on #2428
My environment has been running intensive test workload for 24hrs without any issue with this patch merged in.

[2022-03-25 07:10] fengchunsong opened #2436 "CQ Error Transport Retry Counter Exceeded Occurs When 1 MB Sequential Write in the NoF RDMA"
# Bug report

## Expected Behavior

## Current Behavior

The host and target of the NoF are deployed on different servers, When fio or perf is used to test 1 MB write, a CQ error occurs. No CQ error occurs when 4K write is tested.

The host and target of the NoF are deployed on the same server,No CQ error occurs when 1 MB write is tested.

[root@node7 bin]# ./nvmf_tgt -m 0x3fff
[2022-03-25 14:39:0

[2022-03-25 07:12] fengchunsong commented on #2436
@AlekseyMarchuk please help to debug this issue,thanks

[2022-03-25 08:07] AlekseyMarchuk commented on #2436
Hi @fengchunsong I can start working on this issue next week

[2022-03-25 09:42] rafalste commented on #2121
Hi @fengchunsong is your configuration related to pmem?
Also, can you post your detailed configuration and steps to reproduce this metadata error?

[2022-03-25 11:56] tomzawadzki opened #2437 "[filesystem_ext4] sync times out in nvmf-phy-autotest"
# CI Intermittent Failure

Test was executing on GP6.

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_74018.html

## Execution failed at

[code]

[2022-03-25 11:57] spdkci commented on #2437
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_74018.html

[2022-03-25 12:53] spdkci commented on #2201
Another instance of this failure. Reported by @tomzawadzki. log: Not Found

[2022-03-28 01:33] fengchunsong commented on #2121
I use bdev_malloc as the cache and nvme as the backend device. Haven't used pmem yet

[2022-03-28 05:50] changpe1 opened #2438 "nvmf dif_insert_or_strip flag is transport option"
# Bug report

Currently we set `dif_insert_or_strip` when creating transports, which means the flag is based on transport.

## Expected Behavior

The flag should be enabled via IO flags in NVMe command when PRACT=1 and metadata size is 8.

## Possible Solution

Implement spdk_nvmf_request_get_dif_ctx() based on NVMe command IO flags and bdev capabilities.

[2022-03-28 06:01] changpe1 opened #2439 "DIX support for vfio-user transport"
# Bug report

NVMe over Fabrics does not support transferring metadata from a separate buffer, while vfio-user is using the nvmf library as emulated NVMe device.

## Expected Behavior

Support DIX for vfio-user transport.

## Possible Solution

Remove the limitation when creating subsystem with non-interleaved metadata bdev, and response IDENTIFY CTRLR/NS correctly.

[2022-03-28 09:16] spdkci commented on #1950
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_74103.html

[2022-03-28 12:58] xjjx commented on #1988
Test comment

[2022-03-28 13:32] AlekseyMarchuk commented on #2434
Hi @andreagilardoni
From the latest log we can see that connection to nvmf_tgt was not complete due to error `sct 1, sc 130`. SC 130 means `SPDK_NVMF_FABRIC_SC_INVALID_PARAM` and there are many cases where target can send it.
But here don't see errors on target side and initiator actually received a response from the target. That means that ibv_post_send works in some cases
Could you collect some

[2022-03-28 13:38] AlekseyMarchuk commented on #2436
Hi @fengchunsong I forgot to ask about your SPDK configuration, could you please share it? That is important since default mdts in nvmf rdma is 128K and in that case initiator will split 1MiB payload. So I need to know if you changed default transport opts

[2022-03-29 06:36] fengchunsong commented on #2436
"method": "nvmf_create_transport",
          "params": {
            "trtype": "RDMA",
            "max_queue_depth": 128,
            "max_io_qpairs_per_ctrlr": 127,
            "in_capsule_data_size": 4096,
            "max_io_size": 16384,
            "io_unit_size": 8320,
            "max_aq_depth": 128,
            "num_shared_buffers": 4096,
            "buf_cache_size": 32,
            "dif

[2022-03-29 08:04] andreagilardoni commented on #2434
Hi @AlekseyMarchuk,
In the mean time I received a ConnectX5 nic and with that I am able to use it with no issue. However I would like to go to the bottom of this. I said this because in this way we are sure that the issue is with in SPDK - Broadcom usage.

As you asked me I compiled spdk with the following commands:
[code]

Then I ran SPDK nvmf target with:
[code]

Then I configured the target thr

[2022-03-29 17:36] ogerlitz opened #2440 "segmentation fault when attaching to nvme device with enabled probes"
# Bug report

I stepped on some segmentation fault that takes place when enabling uprobes and attaching nvme bdev - it exists in 22.01 and maybe in 21.10 as well. It has to do with the SPDK_DTRACE_PROBE3(bdev_nvme_create_qpair [..]) probe. The qp argument in spdk_nvme_qpair_get_id(ctrlr_ch->qpair) is null.

This was introduced by commit 30ea7ecc6 "bdev/nvme: implement additional dtrace probes" and

[2022-03-29 21:31] shuhei-matsumoto commented on #2440
Hi @ogerlitz Thank you for finding and reporting this issue. We fixed this issue by the commit d7f0a18 for the master branch but we missed the v22.01.x branch. I extracted only the fix and applied it to the v22.01.x branch. https://review.spdk.io/gerrit/c/spdk/spdk/+/12086 Will you review the patch when you can?

[2022-03-29 23:25] spdkci commented on #2424
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_74165.html

[2022-03-29 23:27] spdkci commented on #2424
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_74166.html

[2022-03-30 07:24] interaustin opened #2441 "[SPDK_VHOST_SCSI_CTRLR_MAX_DEVS]Error: SCSI target number is too big"
# Bug report

SPDK currently supports up to 8 SCSI targets mounted on each vhost-scsi controller(slot 0-7). If I set the `scsi_tgt_num` parameter to 8, the error log is confusing.

## Expected Behavior

*ERROR*: SCSI target number is too big (got 8, max `SPDK_VHOST_SCSI_CTRLR_MAX_DEVS`)

## Current Behavior

*ERROR*: vhost.01: SCSI target number is too big (got 8, max 8)

## Possible Solution

I s

[2022-03-30 07:33] Comphix commented on #2441
yes, looks like it is somewhat confusing here.

[2022-03-30 07:51] Comphix commented on #2441
Raised the patch here: https://review.spdk.io/gerrit/c/spdk/spdk/+/12087

[2022-03-30 10:43] spdkci commented on #2424
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_74312.html

[2022-03-30 10:45] spdkci commented on #2424
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_74311.html

[2022-03-30 10:49] shuhei-matsumoto opened #2442 "[nvme_hotplug] Segmentation fault when destructing namespace"
## CI Intermittent Failure

00:05:08.251  Attaching to 0000:00:06.0
00:05:08.251  Attached to 0000:00:06.0
00:05:08.251  QEMU NVMe Ctrl       (12340               ):        251 I/Os completed (+251)
00:05:08.251
00:05:08.251   21:45:16	-- nvme/hotplug.sh@37 -- # echo 0000:00:07.0
00:05:08.510   21:45:16	-- nvme/hotplug.sh@40 -- # sleep 6
00:05:08.510  Attaching to 0000:00:07.0
00:05:08.510  Attach

[2022-03-30 10:53] spdkci commented on #2442
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_74287.html

[2022-03-30 10:54] spdkci commented on #2201
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_74291.html

[2022-03-30 13:09] spdkci commented on #1950
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_74303.html

[2022-03-30 19:49] ravalsam commented on #2423
Updated the patch and verified locally. It's taking ~15 second to unbind the NVMe driver and later VMD.
Total unbind time with this two commands is under 20 seconds.

Please review the patch and let me know if any changes required.

daos-0003:~ # lsblk
NAME     MAJ:MIN RM   SIZE RO TYPE MOUNTPOINT
loop0      7:0    0   1.4G  1 loop /root_ro
loop1      7:1    0     2G  0 loop /rootfs.rw
sda

[2022-03-30 20:35] jimharris commented on #2423
Thanks @ravalsam!  So glad to hear that you got this working!  I posted a few more comments on the Gerrit patch.

[2022-03-31 01:36] changpe1 commented on #2438
Currently, we only report extended LBA format to initiator when `dif_insert_or_strip` is false, when `dif_insert_or_strip` is enabled, we will only report sector size to initiator, the initiator has no way to know the behaviors in target.  I know nvmf doesn't support FORMAT command now, let's have a discussion here.

[2022-03-31 02:10] changpe1 commented on #2419
patch is here via https://review.spdk.io/gerrit/c/spdk/spdk/+/11822

[2022-03-31 03:26] changpe1 commented on #2403
I can reproduce this issue with a 400GiB NVMe drive, looks like this does related with the block capacity.

[2022-03-31 04:21] changpe1 commented on #2440
[Bug Scrub] @tomzawadzki can you take a look how to fix this issue? use cherry pick or a separate patch, thanks.

[2022-03-31 04:23] changpe1 commented on #2403
[Bug Scrub] @tomzawadzki can you take a look ? it can be reproduced with latest SPDK with a small capacity SSD drive.

[2022-03-31 04:24] changpe1 commented on #2442
[Bug Scrub] @KKaras169169 can you take a look of this issue? thanks.

[2022-03-31 04:57] jimharris commented on #2403
@changpe1 or @zRegle, can you run bdevperf under gdb, and set breakpoint at this bdev_nvme_readv error message?

This error message means that we could not even submit the NVMe command - the driver failed it for some reason (-22 == -EINVAL).  I don't see many places where -EINVAL could get returned via the IO path, but knowing the parameters passed to the spdk_nvme_ns_cmd_read function might help

[2022-03-31 05:07] changpe1 commented on #2403
Here is my call trace:

#4  0x0000000000439b3d in bdev_nvme_readv (bio=0x200007297f38, iov=0x200007297b90, iovcnt=1, md=0x0, lba_count=131072,
    lba=131072, flags=0, ext_opts=0x0) at bdev_nvme.c:5404
#5  0x0000000000426805 in bdev_nvme_submit_request (ch=0x60d000004550, bdev_io=0x200007297b80) at bdev_nvme.c:1989
#6  0x00000000006237f6 in bdev_io_do_submit (bdev_ch=0x612000060520, bdev_io=0x2000

[2022-03-31 05:11] changpe1 commented on #2403
it's a 64MiB NVMe READ command.

[2022-03-31 06:19] junwenx opened #2443 "[test/nvme/nvme_rpc_timeouts.sh] This case not run in CI, seems not added in nvme.sh"
# Bug report

test/nvme/nvme_rpc_timeouts.sh has not been scheduled by CI
Patch info: https://review.spdk.io/gerrit/c/spdk/spdk/+/8352

## Expected Behavior

test/nvme/nvme_rpc_timeouts.sh should be auto run

## Current Behavior

test/nvme/nvme_rpc_timeouts.sh not run

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context (Environment including OS version, SPDK version, etc.)

SPDK

[2022-03-31 07:02] mikeBashStuff commented on #2443
The fa44df3627463eed328494b1ff525905f4438f93 did not add this test to autotest suite (nor the `test/nvme/nvme.sh` one), that's why it's not being picked up on the CI.

[2022-03-31 07:06] junwenx commented on #2443
@mikeBashStuff Yes, maybe need to add it.

[2022-03-31 08:04] XiangXiangHotSpot opened #2444 "Arm build fail"
# Bug report

make fails with:

make: Warning: File '/home/kylin/Desktop/spdk/mk/spdk.subdirs.mk' has modification time 2427186 s in the future
make[1]: Warning: File '/home/kylin/Desktop/spdk/lib/env_dpdk/env.mk' has modification time 2427186 s in the future
make[1]: warning:  Clock skew detected.  Your build may be incomplete.
make[1]: Warning: File '/home/kylin/Desktop/spdk/lib/env_dpdk/env.mk'

[2022-03-31 08:41] karlatec commented on #2424
I am unable to reproduce this manually, so this must be some kind on issue in which the fail is caused by whatever was run previously on the test node. In progress.

[2022-03-31 09:31] phadnisn opened #2445 "lib/nvmf/ctrlr.c:3898: spdk_nvmf_request_zcopy_end(): Assertion `req->zcopy_phase == NVMF_ZCOPY_PHASE_EXECUTE' failed"
# Bug report
@ksztyber @mkotwani1 @davidcs12

Assert: In spdk_nvmf_request_zcopy_end(), check `req->zcopy_phase == NVMF_ZCOPY_PHASE_EXECUTE' failed
Controller shutdown test or spdk_nvmf_subsystem_stop() call while target shutting down, with ongoing ZCOPY IOs, hits above assert with zcopy 'read' request.
[code]

## Scenario:
a. zcopy read request initiated
b. zcopy 'start' (spdk_nvmf_request_zcopy_

[2022-03-31 14:56] mkotwani1 commented on #2445
@ksztyber @jimharris

[2022-03-31 15:04] mhae commented on #2360
@benlwalker , I reviewed the changes... seems the unit test failures are unrelated?
Also, it seems you abandoned your state machine approach, correct? Just making sure I'm looking at the right series.

[2022-03-31 20:59] jimharris commented on #2444
Never mind, I don't think this will work.

Please try adding this line to dpdkbuild/Makefile:

[code]

You may also want to consider adding this ARM implementer to upstream DPDK.

[2022-03-31 21:03] jimharris commented on #2371
This patch looks good - I added my +2.  Once we get another maintainer +2 and it's merged, we can close this issue.

[2022-03-31 22:53] #2371 closed

[2022-04-01 01:36] changpe1 commented on #2403
Yes, I've confirmed it, let me submit a fix patch for it.

[2022-04-01 02:52] XiangXiangHotSpot commented on #2444
l tried
[code]
still failed, but different report:
[code]
[failed report 1.txt](https://github.com/spdk/spdk/files/8394323/failed.report.1.txt)

[2022-04-01 02:56] XiangXiangHotSpot commented on #2444
And l tried
[code]
similar failed report：
[code]
[failed report 2.txt](https://github.com/spdk/spdk/files/8394346/failed.report.2.txt)

[2022-04-01 03:31] spdkci commented on #2424
Another instance of this failure. Reported by @fengchunsong. log: https://ci.spdk.io/public_build/autotest-per-patch_74482.html

[2022-04-01 05:56] changpe1 commented on #2403
@jimharris @tomzawadzki the issue can't be fixed via set `max_segment_size` and `max_num_segments` in bdev layer, because blobstore will submit a 64MiB READ command, even we split this command into serval small requests, they will be submitted to NVMe driver at the same time, the NVMe driver will return error due to limited number of IO requests(512 for my case, AER will occupy 4, so only 508 is a

[2022-04-01 05:59] changpe1 commented on #2403
-ENOMEM will be returned for this case, then bdevperf will enter infinite loop.

[2022-04-01 06:42] fengchunsong opened #2446 "When the ocf cache create with pmem + nvme, a metadata error occurs."
# Bug report

Use the FIO to test the NVMe and PMEM. The NVMe and PMEM read and write I/Os are normal. However, an error is reported when OCF is created.
## Expected Behavior

## Current Behavior

[root@localhost spdk]# mount | grep pmem
/dev/pmem0 on /mnt/mem0 type xfs (rw,relatime,seclabel,attr2,dax=always,inode64,logbufs=8,logbsize=32k,noquota)
[root@localhost spdk]# ./build/bin/nvmf_tgt -m 0x3

[2022-04-01 06:43] fengchunsong commented on #2446
@rafalste please help to debug it, thanks.

[2022-04-01 07:24] fengchunsong commented on #2436
@AlekseyMarchuk Do you need any more information? My environment can easily reproduce this problem. Can your environment reproduce this problem?

[2022-04-01 08:29] AlekseyMarchuk commented on #2436
Hi @fengchunsong I haven't looked at this problem yet, plan to do it today. I'll update your a bit later

[2022-04-01 08:31] #2345 closed

[2022-04-01 08:37] wanghailiangx commented on #2414
https://review.spdk.io/gerrit/c/spdk/spdk/+/10725/ has been merged just now, we may close the issue.

[2022-04-01 08:37] #2414 closed

[2022-04-01 10:27] AlekseyMarchuk commented on #2436
@fengchunsong I checked your scenario in my environment, it works fine. I verified v21.10 and master branch. Here is my config:
[code]
perf : `sudo ./build/examples/perf -q 16 -o 1048576 -w write -t 10 -r 'trtype:RDMA adrfam:IPV4 traddr:1.1.1.1 trsvcid:4420' -c 0x3fff`

Could you check if my config or perf parameters differ from yours?

[2022-04-01 10:44] fengchunsong commented on #2436
The test time is increased to 10 minutes, increasing the number of memory disk until the network bandwidth has a bottleneck.

[2022-04-01 12:41] #2113 closed

[2022-04-01 13:26] rafalste commented on #2446
Hi @fengchunsong, I'm on it! :)

In the meantime, I have some additional questions:
1. Is this a complete set of steps needed to setup the configuration that you have problems with? I'm asking because I don't see the step where you actually create the OCF bdev.
2. I can see that you're running fio with `fio cache.fio`. Can you share also this fio config?
3. I'm not sure if running fio like this is

[2022-04-01 17:39] gaowayne commented on #2446
@fengchunsong https://github.com/spdk/spdk/issues/2121 if this is same issue with this one?

[2022-04-01 20:50] #2423 closed

[2022-04-02 00:43] Comphix commented on #2446
From above log, looks like PMem bdev is created with failure:
[code]

So that OCF hit error at Cache Device which is the PMem Bdev:
[code]

Maybe you could first use PMem Bdev only for the IO running to make sure the PMem Bdev is working properly.
PMem Bdev related, please refer to https://spdk.io/doc/jsonrpc.html

Once PMem Bdev works properly, then try the OCF Bdev to have PMem Bdev as Cache Dev

[2022-04-02 00:51] fengchunsong commented on #2446
Thank you for your quick response. I'll take the test step by step and update the test results later.

[2022-04-02 02:49] Comphix commented on #2446
Thanks @fengchunsong , please let us know the test results later.

[2022-04-02 07:20] fengchunsong commented on #2446
It looks similar. After I modify the permission, the cache error is still reported.

[root@localhost bdevperf]# ./bdevperf -q 1 -t 2 -w read -o 4096 -m 0x1 -c ~/spdk/bdev.json
[2022-04-02 14:58:42.000640] Starting SPDK v22.05-pre git sha1 cea8b46dd / DPDK 21.08.0 initialization...
[2022-04-02 14:58:42.000723] [ DPDK EAL parameters: [2022-04-02 14:58:42.000738] bdevperf [2022-04-02 14:58:42.000749]

[2022-04-02 09:27] fengchunsong commented on #2446
[root@localhost bdevperf]# ./bdevperf -q 1 -t 2 -w read -o 4096 -m 0x1 -c ~/spdk/cache.json
[2022-04-02 17:23:02.712823] Starting SPDK v22.05-pre git sha1 cea8b46dd / DPDK 21.08.0 initialization...
[2022-04-02 17:23:02.712890] [ DPDK EAL parameters: [2022-04-02 17:23:02.712904] bdevperf [2022-04-02 17:23:02.712915] --no-shconf [2022-04-02 17:23:02.712925] -c 0x1 [2022-04-02 17:23:02.712935] --huge

[2022-04-02 09:29] fengchunsong commented on #2446
The permission to access the mempool file is correct. see strace log:
newfstatat(AT_FDCWD, "/mnt/mem1/mempool", {st_dev=makedev(0x103, 0x8), st_ino=131, st_mode=S_IFREG|0666, st_nlink=1, st_uid=0, st_gid=0, st_blksize=4096, st_blocks=32471000, st_size=16625152000, st_atime=1648890371 /* 2022-04-02T17:06:11.590000000+0800 */, st_atime_nsec=590000000, st_mtime=1648890371 /* 2022-04-02T17:06:11.43000

[2022-04-02 09:38] Comphix commented on #2446
Looks like this time, it is failed with the other error "Flush ERROR" which seems that the PMem bdev can not write?

[code]

[2022-04-04 00:50] spdkci commented on #2201
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_74616.html

[2022-04-04 09:13] spdkci commented on #1950
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_74626.html

[2022-04-04 15:13] tomzawadzki commented on #2369
No further reports were posted and with lack of information from the backtrace, this issue can now be closed.

[2022-04-04 15:13] #2369 closed

[2022-04-05 00:39] gaowayne commented on #2446
@fengchunsong could you please try cache and core device both use Malloc device to quickly verify if this works from your side? if there is any error please post log on here.

[2022-04-05 08:18] AlekseyMarchuk commented on #2434
It seems that target was not able to find a subsystem using subnqn from CONNECT comman, most probably there was some garbage. I'm afraid that I'll have to prepare one more debug patch for you to collect more logs

[2022-04-05 08:45] tomzawadzki commented on #2440
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/12086 has been merged to v22.01.x branch. @ogerlitz Can you confirm that is sufficient to close this issue ?

[2022-04-05 09:22] tomzawadzki commented on #2444
@XiangXiangHotSpot It does not look like you are using latest SPDK - either SPDK 22.01 or master branch. Can you please try out one of those ?
Have you been able to build DPDK project by itself ?

[2022-04-05 09:53] tomzawadzki commented on #2441
Patch fixing the issue is now merged https://review.spdk.io/gerrit/c/spdk/spdk/+/12087.

[2022-04-05 09:53] #2441 closed

[2022-04-05 09:55] tomzawadzki commented on #2431
@wanghailiangx Can this issue be closed ?

[2022-04-05 10:01] tomzawadzki commented on #2385
@YamboZhou Any updates on reproducing it with vhost-blk/scsi ?

[2022-04-05 10:28] tomzawadzki commented on #2342
@shuhei-matsumoto as per Jim's comment, do you think this issue should be closed ?

[2022-04-05 10:33] shuhei-matsumoto commented on #2342
Hi @jimharris @tomzawadzki Thank you for your check and sorry for no response. Yes, let me close this issue. I have a little better knowledge about rdma connection management now. I will reopen if needed.

[2022-04-05 10:33] #2342 closed

[2022-04-05 10:36] tomzawadzki commented on #2327
This issue can be closed once following patches are merged:
[scripts/setup: Skip devices which have any valid data present](https://review.spdk.io/gerrit/c/spdk/spdk/+/11111/3)
[scripts/setup: Check if target block device is hold by other devices](https://review.spdk.io/gerrit/c/spdk/spdk/+/11109/4)

[2022-04-05 10:38] tomzawadzki commented on #2320
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/11216 has been merged and no new reports show up. This issue can be closed.

[2022-04-05 10:38] #2320 closed

[2022-04-05 10:41] tomzawadzki commented on #2419
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/11822 is now merged. Can this issue be closed ?

[2022-04-05 11:03] spdkci commented on #2201
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_74736.html

[2022-04-05 11:13] tomzawadzki commented on #2390
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/11882 has been merged, and no new reports since then. Closing the issue.

[2022-04-05 11:13] #2390 closed

[2022-04-05 11:15] tomzawadzki commented on #1796
No new reports for a month, closing.

[2022-04-05 11:15] #1796 closed

[2022-04-05 11:17] tomzawadzki commented on #2047
Not observed for almost two months, closing.

[2022-04-05 11:17] #2047 closed

[2022-04-05 11:17] #2348 closed

[2022-04-05 11:17] #2351 closed

[2022-04-05 13:39] spdkci commented on #2424
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_74754.html

[2022-04-05 14:29] AlekseyMarchuk commented on #2434
@andreagilardoni
I updated the patch with additional debug logs, could you cherry-pick it? https://review.spdk.io/gerrit/c/spdk/spdk/+/12025
As before, we need debug SPDK build. Target configuration is unchanged, but please add `-L nvme` flag to SPDK discovery tool, e.g. `./build/examples/identify -r 'trtype:RDMA adrfam:IPV4 traddr:1.1.1.1 trsvcid:4420' -L nvme`

[2022-04-05 15:07] tomzawadzki commented on #2443
[Bug scrub] Jarek will take a look at this, to be assigned.

[2022-04-05 15:10] tomzawadzki commented on #2428
[Bug scrub] The series with fixes has now been merged, confirmed by the submitter not running into any issue with it.

[2022-04-05 15:10] #2428 closed

[2022-04-05 15:15] tomzawadzki commented on #2412
[Bug scrub] Patch that increasing the max crypto devices didn't apply correctly due to tag changes on DPDK side, Karol will take a look at this part.

[2022-04-05 15:17] tomzawadzki commented on #2418
[Bug scrub] The patch is now merged, fixing this issue.

[2022-04-05 15:28] tomzawadzki commented on #2424
[Bug scrub] Paul will prepare additional instrumentation for compress that might be helpful when getting it reproduced. Then Karol might be able to produce a failing log with it.

[2022-04-05 16:09] AlekseyMarchuk commented on #2436
@fengchunsong I retested as you suggested, no failure for 3 iterations, 10 minutes each. Network BW was fully saturated
Here is my config:
[code]
and perf:
[code]
Could you clarify if you used similar configuration?

As I remember, in another issue you mentioned that you used ConnectX5 RNIC. In this test I used the same NIC:
[code]
If we If it is possible, could you install latest mlnx_ofed on you

[2022-04-05 16:19] peluse commented on #2424
@karlatec lets run this is loop and see what the logs look like on failure.  Just added a bit more detail on init, whether we ever get to one operation or not and shutdown.  I looked at the patches. mentioned from Yuri before, there's little chance they are involved as they were on cleanup following an error, not regular shutdown.  There are some API we *could* call on shutdown to more formally cl

[2022-04-05 17:51] peluse commented on #2424
Thanks @karlatec - there are a few things missing from the log which is sort of interesting.  I added a few more prints, please grab the latest version of the patch and lets fire it up again.

[2022-04-06 00:54] fengchunsong commented on #2446
malloc device + nvme is ok:
[root@localhost bdevperf]# ./bdevperf -q 1 -t 2 -w read -o 4096 -m 0x1 -c ~/spdk/ramcache.json
[2022-04-06 08:39:11.105370] Starting SPDK v22.05-pre git sha1 cea8b46dd / DPDK 21.08.0 initialization...
[2022-04-06 08:39:11.105455] [ DPDK EAL parameters: [2022-04-06 08:39:11.105470] bdevperf [2022-04-06 08:39:11.105482] --no-shconf [2022-04-06 08:39:11.105492] -c 0x1 [202

[2022-04-06 00:55] fengchunsong commented on #2446
malloc + pmem is also ok.
[root@localhost bdevperf]# ./bdevperf -q 1 -t 300 -w read -o 4096 -m 0x1 -c ~/spdk/ramcachepmem.json
[2022-04-06 08:40:49.303588] Starting SPDK v22.05-pre git sha1 cea8b46dd / DPDK 21.08.0 initialization...
[2022-04-06 08:40:49.303674] [ DPDK EAL parameters: [2022-04-06 08:40:49.303689] bdevperf [2022-04-06 08:40:49.303701] --no-shconf [2022-04-06 08:40:49.303712] -c 0x1

[2022-04-06 01:39] gaowayne commented on #2446
@fengchunsong could you please try OptaneSSD as cache device, use P5800 if your PCIE are gen4, this is already certified and tuned well by OCF team as good quality cache device, the latency and BW should be fair enough for you. please notice OCF also has one kernel version, that is also tuned well for P5800 Optane SSD.

[2022-04-06 02:06] davidcs12 commented on #2445
We have a similar situation during WRITEs - (nvmf_tcp_send_r2t_pdu()) - which can be handled by adding the additional check for TCP_REQUEST_STATE_TRANSFERRING_HOST_TO_CONTROLLER as shown below.

~/lib/nvmf/tcp.c

static void
nvmf_tcp_request_free(void *cb_arg)
{
    struct spdk_nvmf_tcp_transport *ttransport;
    struct spdk_nvmf_tcp_req *tcp_req = cb_arg;

    assert(tcp_req != NULL);

    SPDK_D

[2022-04-06 04:01] fengchunsong commented on #2436
I use the CX4 and the information is as follows:

        Capabilities: [48] Vital Product Data
                Product Name: CX456A - ConnectX-4 QSFP28
                Read-only fields:
                        [PN] Part number: MCX456A-ECAT
                        [EC] Engineering changes: AH
                        [SN] Serial number: MT1843K01357
                        [V0] Vendor specific: PC

[2022-04-06 08:17] wanghailiangx commented on #2431
@tomzawadzki OK.

[2022-04-06 08:17] #2431 closed

[2022-04-06 13:25] andreagilardoni commented on #2434
@AlekseyMarchuk here you have the logs:

Target side:
[code]

Initiator side:
[code]

[2022-04-06 18:00] benlwalker opened #2447 "[iscsi_tgt_qos] Rate limiting failed"
# CI Intermittent Failure

iscsi_tgt_qos failed to correctly perform QoS rate limiting

https://ci.spdk.io/results/autotest-per-patch/builds/74810/archive/iscsi-vg-autotest/build.log

## Execution failed at

[code]

[2022-04-06 18:02] spdkci commented on #2447
Another instance of this failure. Reported by @benlwalker. log: https://ci.spdk.io/public_build/autotest-per-patch_74810.html

[2022-04-06 18:32] peluse opened #2448 "[nvmf_failover] runtime error: store to null pointer of type 'struct spdk_sock_request"
bdev_nvme_attach_controller -b NVMe0 -t tcp -a 10.0.0.2 -s 4422 -f ipv4 -n nqn.2016-06.io.spdk:cnode1
00:09:46.398
00:09:46.398   17:41:31	-- host/failover.sh@45 -- # /home/vagrant/spdk_repo/spdk/scripts/rpc.py nvmf_subsystem_remove_listener nqn.2016-06.io.spdk:cnode1 -t tcp -a 10.0.0.2 -s 4421
00:09:46.657   17:41:31	-- host/failover.sh@47 -- # sleep 3
00:09:49.952   17:41:34	-- host/failover.sh@

[2022-04-06 18:33] spdkci commented on #2448
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_74850.html

[2022-04-06 19:34] jimharris commented on #2403
Hi @changpe1,

bdev layer should retry I/O when bdev module returns -ENOMEM.  So we shouldn't hit an infinite loop unless the split I/O size is still so big that we can never submit even one without getting -ENOMEM.

In your case, what did you use for ```max_segment_size```?

-Jim

[2022-04-07 03:15] changpe1 commented on #2403
Here is the patch https://review.spdk.io/gerrit/c/spdk/spdk/+/12186 I used for tests, but I can't reproduce the infinite loop issue today, a 64MiB R/W will be split into 16 4MiB requests in bdev layer, this is expected based on `max_segment_size` parameter.

[2022-04-07 04:37] changpe1 commented on #2403
@zRegle could you have a try with above patch? it can work for my drive(not Optane drive).  thanks.

[2022-04-07 07:33] AlekseyMarchuk commented on #2434
Thanks for the logs. We can see that rkey/address sent by initiator are valid and target issues RDMA_READ to bring CONENCT command data. But for some reason we got zeroes. Going to check kernel host/target, probably I will be able to find some difference in WRs setup

[2022-04-07 07:34] Mionsz opened #2449 "[vfio-user] Subsequent listener add fails. Files not removed after listener removal."
# Bug report
Vfiouser listener creation for subsystem creates files (socket, bar etc.) which are not deleted after listener removal or subsystem deletion. This produces obvious errors when trying to recreate the same listener for second time as directory is not empty.

## Expected Behavior
Directory `/tmp/vfiotest/1` content should be cleaned-up, so listing content of transport address directory s

[2022-04-07 07:48] ksztyber commented on #2449
@changpe1 could you take a look at this?

[2022-04-07 08:06] changpe1 commented on #2449
sure, I will take a look.

[2022-04-07 08:35] ksztyber opened #2450 "[SM4] No space left on device"
Several builds failed yesterday (6 Apr) due to no space left on one of the VM hosts (SM4). It should already be resolved, this issue is just to have something to link to as false positive on Gerrit.

[code]

## Link to the failed CI build
https://ci.spdk.io/results/autotest-per-patch/builds/74835/archive/unittest-vg-autotest/build.log
https://ci.spdk.io/public_build/autotest-per-patch_74835.html

[2022-04-07 08:35] spdkci commented on #2450
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_74808.html

[2022-04-07 08:37] spdkci commented on #2450
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_74840.html

[2022-04-07 08:37] spdkci commented on #2450
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_74835.html

[2022-04-07 08:38] spdkci commented on #2450
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_74834.html

[2022-04-07 08:38] spdkci commented on #2450
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_74839.html

[2022-04-07 08:38] spdkci commented on #2450
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_74838.html

[2022-04-07 08:39] spdkci commented on #2450
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_74837.html

[2022-04-07 08:40] spdkci commented on #2450
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_74848.html

[2022-04-07 08:40] spdkci commented on #2450
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_74847.html

[2022-04-07 08:40] spdkci commented on #2450
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_74846.html

[2022-04-07 08:40] spdkci commented on #2450
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_74845.html

[2022-04-07 08:40] spdkci commented on #2450
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_74844.html

[2022-04-07 08:40] spdkci commented on #2450
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_74843.html

[2022-04-07 08:40] spdkci commented on #2450
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_74842.html

[2022-04-07 08:40] spdkci commented on #2450
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_74836.html

[2022-04-07 08:43] spdkci commented on #2128
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_74786.html

[2022-04-07 08:56] spdkci commented on #2201
Another instance of this failure. Reported by @apaszkie. log: https://ci.spdk.io/public_build/autotest-per-patch_74876.html

[2022-04-07 12:01] rafalste commented on #2446
Hi @fengchunsong @gaowayne,
I've found the reason why this setup is failing.

In the gdb backtrace we can see that `spdk_bdev_io_complete()` is called with `status=SPDK_BDEV_IO_STATUS_FAILED`, which comes from `bdev_pmem_submit_request()`:
[code]
and that happens when IO type is set to flush (`bdev_io->type == SPDK_BDEV_IO_TYPE_FLUSH`) as pmem bdev doesn't support this type of IO.

The question no

[2022-04-07 12:19] fengchunsong commented on #2446
SPDK_BDEV_IO_TYPE_FLUSH is an IO without iovs data. This type of processing should be added to bdev_pmem.

[2022-04-07 12:20] tanabarr opened #2451 "VMD init on Samsung 16T drives fail"
# Bug report

With new parallel driver binding workflow with VMD, system with Intel Optane drives seems to work fine but system with larger capacity (16TB) Samsung drives fail on spdk_vmd_init.

## Expected Behavior

Output from CLX platform with Intel Optane NVMe SSDs:
[code]

## Current Behavior

Failing ICX host with Samsung 16TB drives:

[code]

[daos4_lspci_vvv.out.txt](https://github.com/spd

[2022-04-07 12:24] rafalste commented on #2446
Yes, I'm just wondering why this isn't implemented already. Is it because, this was just not needed till now, or is there a particular reason for it.

[2022-04-07 12:24] gaowayne commented on #2446
@fengchunsong Rafal and I synced internally that the most safe option for you to use P5800 as cache device of OCF.

[2022-04-07 12:26] phadnisn commented on #2445
For the mentioned zcopy write scenario (nvmf_tcp_send_r2t_pdu()), the request may be in state TCP_REQUEST_STATE_AWAITING_R2T_ACK.

~/lib/nvmf/tcp.c

[code]

[2022-04-07 12:30] gaowayne commented on #2446
notice both pmem and OptaneSSD are optane product, pmem is NVDIMM compatible and OptaneSSD is NVMe compatible, they have different interface and promise. :)

[2022-04-07 12:34] fengchunsong commented on #2446
Thanks for reminding us, we will use Optane NVMe as cache device.

[2022-04-07 12:46] rafalste commented on #2121
For the root cause, please see: https://github.com/spdk/spdk/issues/2446#issuecomment-1091649432

[2022-04-07 12:49] fengchunsong commented on #2121
thanks

[2022-04-07 13:57] Comphix commented on #2446
@fengchunsong , if we consider to use PMem as Cache device here, looks like we could add the support of Flush IO type in PMem bdev.

From https://pmem.io/pmdk/manpages/linux/master/libpmemblk/libpmemblk.7/ where current PMem bdev is built on:

"There is no need for applications to flush changes directly when using the block memory API provided by libpmemblk."

So that once this PMem bdev supports

[2022-04-07 18:18] karlatec opened #2452 "[vhost-autotest] member access within misaligned address for type const struct virtio_blk_outhdr"
# Bug report

Vhost test fails due to runtime error as in subject.

[code]

Full test log:
[vhost-f35-log.txt](https://github.com/spdk/spdk/files/8445511/vhost-f35-log.txt)

This was detected when running tests using new Fedora 35 images for CI.

## Steps to Reproduce

1. Start SPDK Vhost target
2. Create malloc or NVMe bdev
3. Create Vhost BLK controller and attach previously created bdev
4. Star

[2022-04-07 18:39] jimharris commented on #2452
Hi @karlatec,

Isn't this same issue as #2226?

-Jim

[2022-04-07 18:54] peluse commented on #2412
@karlatec looking good.  Lets get this closed out and get a few wins w/master+main then look LTS vs main and see what needs to be back ported

[2022-04-07 20:22] spdkci commented on #2450
Another instance of this failure. Reported by @benlwalker. log: https://ci.spdk.io/public_build/autotest-per-patch_74857.html

[2022-04-07 21:38] peluse commented on #2424
@karlatec anything new w/latest patch?

[2022-04-07 22:42] jimharris commented on #2446
Agreed.   https://review.spdk.io/gerrit/c/spdk/spdk/+/12203 adds the support to the pmem bdev.

@rafalste, you could also use ```spdk_bdev_io_type_supported(bdev, SPDK_BDEV_IO_TYPE_FLUSH);``` to check if the bdev supports flush before trying to use it.

[2022-04-08 02:15] fengchunsong commented on #2446
@jimharris retest with your patch, ocf with pmem + nvme can work now, thanks.

[2022-04-08 04:02] spdkci commented on #1950
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_74956.html

[2022-04-08 06:43] karlatec commented on #2424
Actually yes. I've been scheduling builds from time to time these past few days, but could not get a reproduction. I finally hit one today :) Unfortunately I think the output is the same as last time.

[code]
[crypto-log.txt](https://github.com/spdk/spdk/files/8449232/crypto-log.txt)

[2022-04-08 06:52] Mionsz commented on #2449
@changpe1 I will do so now.

[2022-04-08 07:21] Mionsz commented on #2449
@changpe1 @ksztyber Yes, this patch fixed the issue, all files are removed now when removing listener or removing namespace and subsequent runs no longer fails.

[2022-04-08 07:22] spdkci commented on #2424
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_74959.html

[2022-04-08 07:52] tomzawadzki opened #2453 "[sw_hotplug] Initialization timed out in state 9"
# CI Intermittent Failure

The failure occurs on ZNS job, but nothing points so far to it being specific failure on there.

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/74938/archive/zns-vg-autotest/build.log

## Execution failed at

[code]

[2022-04-08 07:52] spdkci commented on #2453
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_74938.html

[2022-04-08 08:19] rafalste commented on #2446
Thank you @jimharris for your help!

[2022-04-08 10:31] spdkci commented on #2447
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_75001.html

[2022-04-08 10:32] spdkci commented on #2424
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_75003.html

[2022-04-08 12:01] spdkci commented on #2201
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_75012.html

[2022-04-08 12:23] KKaras169169 commented on #2442
Cannot reproduce this one on my end. Looks like one-time failure, but let us leave it open for another week. I will keep looking into it.

[2022-04-08 12:34] tanabarr commented on #2451
supplied patch tested and verified

[2022-04-08 13:24] peluse commented on #2424
@karlatec OK added a bunch more prints, lets check out the next failure.  Thanks

[2022-04-08 13:48] ksztyber commented on #2451
Patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/12208

[2022-04-08 15:30] ksztyber commented on #2453
I think it might be a duplicate of #2201. The behavior is a bit different here - the test hangs, but both dmesg logs show the same warning:
[code]

[2022-04-08 15:48] spdkci commented on #1950
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_75007.html

[2022-04-08 17:05] kgodzwox opened #2454 "[crypto-autotest] COMP_lvs0/lv0 blockdev reset *ERROR*: Unknown I/O type 5"
# CI Intermittent Failure

crypto-autotest nightly
TEST: compress_qat

## Link to the failed CI build

https://ci.spdk.io/results/autotest-nightly/builds/560

[code]

[2022-04-08 17:26] peluse commented on #2454
FYI the compress vbdev never added support for reset (IO type 5).  I assume someone added something recently that is now propagating reset in the compress tests?

	/* TODO support RESET in future patch in the series */
	case SPDK_BDEV_IO_TYPE_RESET:
	case SPDK_BDEV_IO_TYPE_WRITE_ZEROES:
	case SPDK_BDEV_IO_TYPE_UNMAP:
	case SPDK_BDEV_IO_TYPE_FLUSH:
	default:
		SPDK_ERRLOG("Unknown I/O type %d\n", b

[2022-04-08 20:05] jimharris opened #2455 "Enabling ASAN w/ DPDK results in SPDK env vtophys unit test failure"
https://review.spdk.io/gerrit/c/spdk/spdk/+/11839 uncovered this.

I reduced the unit test failure found there to the following:

[code]

This results in an ASAN failure when this is built in the SPDK build environment (using our DPDK submodule from the SPDK tree) with ASAN enabled.

This does *not* result in a failure if built against standalone DPDK with ASAN enabled.  @sydidelot confirmed this.

[2022-04-10 12:13] shuhei-matsumoto opened #2456 "[nvme_multi_secondary] EAL: Driver cannot detach the device"
# CI Intermittent Failure

00:03:59.637  ************************************
00:03:59.637  START TEST nvme_multi_secondary
00:03:59.637  ************************************
00:03:59.637   04:14:19	-- common/autotest_common.sh@963 -- # xtrace_enable
00:03:59.637   04:14:19	-- common/autotest_common.sh@964 -- # nvme_multi_secondary
00:03:59.637   04:14:19	-- nvme/nvme.sh@47 -- # pid0=287375
00:03:

[2022-04-10 12:14] spdkci commented on #2456
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_75027.html

[2022-04-10 12:16] spdkci commented on #2456
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_75033.html

[2022-04-10 12:17] spdkci commented on #2456
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_75029.html

[2022-04-10 12:17] spdkci commented on #2128
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_75030.html

[2022-04-10 21:23] spdkci commented on #2128
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_75039.html

[2022-04-11 06:17] junwenx opened #2457 "[vagrant virtual client] fedora34 vagrant virtual client can't run scripts/setup.sh normally"
# Bug report

fedora34 vagrant virtual client can't run scripts/setup.sh normally

## Expected Behavior

scripts/setup.sh can run normally on fedora34 virtual client

## Current Behavior

`[root@fedora spdk]# ./scripts/setup.sh`
`No valid drivers found [vfio-pci, uio_pci_generic, igb_uio]. Please enable one of the kernel modules.`

## Steps to Reproduce

1. download SPDK code, `cd spdk/scripts/vag

[2022-04-11 07:14] karlatec commented on #2424
Here we go:
[code]

[2022-04-11 07:44] #2451 closed

[2022-04-11 09:15] ddwolf opened #2458 "compileing failed with "CUnit/Basic.h": No such file or directory"
# Bug report
## Steps to Reproduce

I followed the instructions here: https://spdk.io/doc/getting_started.html
after running ./configure, when execute make, it paniked like this:
bdevio.c:46:10: fatal error: CUnit/Basic.h: No such file or directory
 #include "CUnit/Basic.h"

## Context (Environment including OS version, SPDK version, etc.)

[2022-04-11 10:49] ksztyber commented on #2445
Thanks for the report @phadnisn, this is definitely a bug.

However, I don't think adding the extra check in `nvmf_tcp_request_free` is correct - it probably fixes this issue, but it doesn't work if a client closes the connection abruptly. In that case, requests in states`TCP_REQUEST_STATE_TRANSFERRING_CONTROLLER_TO_HOST`, `TCP_REQUEST_STATE_AWAITING_R2T_ACK`, and `TCP_REQUEST_STATE_TRANSFERRING_H

[2022-04-11 12:47] rafalste commented on #2121
Hi @USTCqzy,
there is a patch merged into SPDK master recently - https://review.spdk.io/gerrit/c/spdk/spdk/+/12203
Please check if your issue persists after this fix.

[2022-04-11 13:05] #2422 closed

[2022-04-11 13:49] spdkci commented on #2456
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_75087.html

[2022-04-11 13:52] ksztyber commented on #2458
Looks like you don't have CUnit devel packages installed. Did you run `scripts/pkgdep.sh`?

[2022-04-11 14:37] spdkci commented on #1950
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_75073.html

[2022-04-11 18:40] mkotwani1 commented on #2445
@ksztyber thank you for looking at it.

Will you be able to suggest/provide a fix? We can test it since we are seeing these issues fairly frequently and we would really appreciate your help!

[2022-04-12 00:38] spdkci commented on #555
Another instance of this failure. Reported by @yupeng0921. log: https://ci.spdk.io/public_build/autotest-per-patch_75138.html

[2022-04-12 01:03] Comphix commented on #2446
Issue fixed. Let's close it. Thanks.

[2022-04-12 01:03] #2446 closed

[2022-04-12 03:18] spdkci commented on #2201
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_75142.html

[2022-04-12 06:10] spdkci commented on #2424
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_75148.html

[2022-04-12 10:15] karlatec commented on #2452
You got me Jim. It actually is.
I no longer have the setup from the other issue available so I'll comment here.

The root cause for the issue seems to be the same - https://github.com/qemu/qemu/commit/9fb3fcfce512da58cd048eaefd293e1d3f513de2

Fedora 35 has two available SeaBIOS versions available in DNF repository:
[code]
Fortunately using the second, older version of the package mitigates the iss

[2022-04-12 11:42] kgodzwox commented on #2454
@peluse thanks for pointing it out. I've checked the changes and here is what I found.
I checked commit `bdev/compress: Verify mbuf chain if the driver doesn't suppot SGL` with SHA `f530abcab33850cbca9d24da7dfcb5aed4673554 ` and test went further, step with `Test: blockdev reset ...passed` passed but there is a problem later:
`13:00:18  ISA-L library version used: 2.30.0
13:00:18  [2022-04-12 13:0

[2022-04-12 11:50] xjjx commented on #2454
body=Another instance of this failure. Reported by @xjjx. log: https://ci.spdk.io/public_build/autotest-per-patch_73087.html

[2022-04-12 11:53] phadnisn commented on #2445
@ksztyber thank you for confirming the bug and highlighting the concern for the proposed solution.

For the connection-related issues, the tqpair->state (tcp qpair state) would NOT be NVME_TCP_QPAIR_STATE_RUNNING. But in the reported issue (subsystem stop) the connection is intact and the tqpair->state is NVME_TCP_QPAIR_STATE_RUNNING.

Thus we can additionally check for tqpair state and take the a

[2022-04-12 11:56] AlekseyMarchuk commented on #2454
@kgodzwox Sure, I'm on it

[2022-04-12 12:15] spdkci commented on #2454
Another instance of this failure. Reported by @spdkci. log: https://ci.spdk.io/public_build/autotest-per-patch_75170.html

[2022-04-12 13:46] peluse commented on #2454
@AlekseyMarchuk let me know if you need anything.  Seems like maybe before those patches we weren't getting the reset and now we are? I dunno but clearly the initial report is because we don't handle reset so that's probably a good thing to do regardless.

[2022-04-12 14:02] spdkci commented on #2201
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_75172.html

[2022-04-12 14:07] spdkci commented on #2201
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_75167.html

[2022-04-12 14:08] spdkci commented on #2201
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_75168.html

[2022-04-12 14:17] karlatec opened #2459 "SPDK with vfio-user fails to build with open ssl 3.0"
# Bug report

SPDK fails to build with `--with-vfio-user` on Fedora 36 with gcc 12 on board.

[code]

## Possible Solution

a) Disable `-Werror` :)
b) Fix and update vfio-user submodule

## Steps to Reproduce
In the issue description.

## Context (Environment including OS version, SPDK version, etc.)
SPDK c47b7b027653f35c6748d49cdd7abbdb6a3557e0
Fedora 36 `fedora36-cloud-25983 5.17.2-300.fc36.x86_

[2022-04-12 14:26] AlekseyMarchuk commented on #2454
vbdev_compress reports that it doesn't support IO_TYPE_RESET but bdevio test issues spdk_bdev_reset.
Before my patch RESET request was just completed like it was successfully executed. So I believe that the current behavior is correct. I think that we can update bdevio test to check whether IO_TYPE_RESET supported or not and to expect corresponding result.
bfd7fcb8fedd603ae3a2da4348743ea754ecf1da:

[2022-04-12 14:48] AlekseyMarchuk commented on #2454
I agree it's worth supporting reset_io. But since vbdev_compress uses lvol, lvol just completes reset with failed status :) So we need to add support of reset to lvol too

[2022-04-12 14:51] peluse commented on #2454
good point!

[2022-04-12 15:00] karlatec commented on #2459
One important note: OS image build is based on Fedora36 BETA Cloud Image. It's pre-release image, but I doubt that the result would be any different with the release image (which is going to be released in a few days)

[2022-04-12 15:21] karlatec commented on #2452
Removing `--enable-ubsan` does the trick too to get rid of the issue :)

[2022-04-12 15:25] karlatec opened #2460 "SPDK DPDK submodule fails to build on Fedora36"
# Bug report

DPDK submodule fails to build when building SPDK on Fedora 36 with gcc12 on board:
[code]

Full log:
[dpdkfail.txt](https://github.com/spdk/spdk/files/8474323/dpdkfail.txt)

## Context (Environment including OS version, SPDK version, etc.)

SPDK c47b7b027653f35c6748d49cdd7abbdb6a3557e0
Fedora 36 `fedora36-cloud-25983 5.17.2-300.fc36.x86_64` (OS image build is based on Fedora36 BETA C

[2022-04-12 15:27] karlatec commented on #2459
@tmakatos could you take look, since this is related to vfio? Thanks!

[2022-04-12 15:28] peluse commented on #2424
@karlatec @jimharris OK it's crashing inside of DPDK in rte_compressdev_configure() as it never returns from that call.  Either that or it's totally unrelated and that just happens to be where we're at during init when it happens.  Either way, we could add some more prints to DPDK easily enough to see if we can find the offending code, not sure the easiest way to hack in DPDK changes though.  Give

[2022-04-12 15:35] karlatec commented on #2452
Re-enabled both ASAN and UBSAN, test passed with the patch.
Should I run this through performance regression job?

[2022-04-12 15:38] karlatec commented on #2424
How about pushing changes to our current branch in spdk/dpdk? CI is set up in a way that I can schedule builds with custom spdk/dpdk refspec gerrit link.

[2022-04-12 15:52] peluse commented on #2424
dpdk is a submodule though so I'm not quite sure how to do that

[2022-04-12 15:55] karlatec commented on #2424
I think you just need to push changes to spdk/dpdk repo located at our gerrit, the same way you'd normally do for spdk/spdk.
I believe you should send these to  spdk-v21.11 branch.

[2022-04-12 16:02] peluse commented on #2424
So I'm likely over complicating this but the only thing I think I can control with a submoulde is the hash.  I don't think I can change anything (source code) and push it from my spdk branch which would mean I'd have to go to our fork and push a change and use that hash in my spdk repo to pull dpdk from.  I guess that's easy enough just figured there was a better way

[2022-04-12 17:53] peluse commented on #2424
@karlatec OK, try now :)

[2022-04-12 20:23] jimharris commented on #2459
This patch is ready for review - passes CI (including iSCSI compliance tests which utilize the md5 code path).  @tmakatos - you should be able to use this as a template for changing the vfio-user sample app causing the failure here.

[2022-04-12 21:54] peluse commented on #2432
@benlwalker since you'll be touching this code soon will toss your way.  LMK if you need any help from me....

[2022-04-13 00:56] ddwolf commented on #2458
thanks for your reply, it is true that I dont have these libraries, I will find them:)

No package CUnit-devel available.
No package libiscsi-devel available.
No package json-c-devel available.
No package libcmocka-devel available.
No package python3-pip available

[2022-04-13 00:56] #2458 closed

[2022-04-13 02:28] YafeiWangAlice opened #2461 "The cpu usage in spdk_top may not right."
# Bug report
The cpu usage in spdk_top may not right.

## Expected Behavior

In THREADS tab, a
As the code in spdk_top.c, I think the cpu usage can be calculated by busy time and idle time in THREADS tab like:

cpu usage = busy /(busy + idle)

## Steps to Reproduce

1. $SPDKDIR/test/event/scheduler/scheduler -m 0xF -p 2 --wait-for-rpc &
2. scripts/rpc.py framework_set_scheduler dynamic
3. scripts/

[2022-04-13 03:05] changpe1 commented on #2449
There are 3 files, and two of them have been removed, the last one will be removed via https://github.com/nutanix/libvfio-user/issues/660.

[2022-04-13 04:45] shuhei-matsumoto opened #2462 "fatal: unsafe repository ('/home/vagrant/spdk_repo/spdk' is owned by someone else)"
# CI Intermittent Failure

00:08:55.979   02:38:21	-- spdk/autotest.sh@349 -- # git clean -f '*.gcda'
00:08:55.979  fatal: unsafe repository ('/home/vagrant/spdk_repo/spdk' is owned by someone else)
00:08:55.979  To add an exception for this directory, call:
00:08:55.979
00:08:55.979  	git config --global --add safe.directory /home/vagrant/spdk_repo/spdk
00:08:55.979    02:38:21	-- spdk/autotest.s

[2022-04-13 04:46] spdkci commented on #2462
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_75212.html

[2022-04-13 04:50] spdkci commented on #2462
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_75213.html

[2022-04-13 04:56] spdkci commented on #2462
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_75211.html

[2022-04-13 07:30] spdkci commented on #2462
Another instance of this failure. Reported by @wanghailiangx. log: https://ci.spdk.io/public_build/autotest-per-patch_75224.html

[2022-04-13 07:50] Second222None opened #2463 "Replay SPDK vhost Performance Report [Test Case 3]"
# Bug report

## Expected Behavior

Results close to Table 15 in **SPDK Vhost Performance Report**.

## Current Behavior

- fio configuration file
[code]

- My test result: 89.8K (read IOPS), 498.5us (avg), 38.5K (write IOPS), 494.36us (avg)
- SPDK test result：374466.14 (IOPS) 339.86us (avg)

## Possible Solution

There is an error in **spdk-vhost.log**. I am not sure whether it matters.
[code]

#

[2022-04-13 07:59] changpe1 commented on #2463
@Second222None I saw you are using an ARM platform, for a better comparison, you can run the same workload using a Malloc backend first. BTW, what's SSD model you are testing with?

[2022-04-13 08:13] Second222None commented on #2463
Thanks for your suggestion!
We have a similar result on x86. Even though the Malloc backend is attached, the result is still similar. It seems that the VM IO requests cannot transfer to SPDK vhost efficiently. The following is the Malloc backend test results:
[code]

[2022-04-13 08:19] Comphix commented on #2463
Thanks for reporting the issue. Would like to double confirm first, is this result collected on ARM platform or on Intel platform?

[2022-04-13 08:21] spdkci commented on #1950
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_75187.html

[2022-04-13 08:25] Second222None commented on #2463
All the info I provided above comes from ARM platform. And My colleague found a similar problem on Intel's platform. If necessary, I can provide.

[2022-04-13 08:32] kgodzwox opened #2464 "[vagrant-build-images] Failed to build FreeBSD 12 cloud image"
# CI Intermittent Failure

Failed to build FreeBSD 12 cloud image.

## Execution failed at

[code]

Tested with meson version `0.60.3` and works as expected.

[2022-04-13 08:50] kgodzwox commented on #2464
The problem occurs with DPDK compiling using meson in version 0.62.0 during image building.
Used version 0.60.3 to solve the issue
https://review.spdk.io/gerrit/c/spdk/spdk/+/12246

[2022-04-13 09:19] mikeBashStuff commented on #2464
Interesting. From the trace it looks like `ar` is the actual culprit here as that's the part which raises the actual exception. Assuming `ar`'s complaint is valid, it may be that the building of the *.a libs is somehow broken under newer meson? Not sure why would that be case though (also wondering if this may affect other dists as well (like fedora which I think is definitely using newer meson).

[2022-04-13 09:56] karlatec commented on #2464
@tomzawadzki @mikeBashStuff  you guys think creating a bug in DPDK bug tracker is in order?

[2022-04-13 10:08] karlatec commented on #2452
I ran BLK two times in perf regression job. Did not see any major differences. Values match these that can be seen at performance.spdk.io.

[2022-04-13 10:09] mikeBashStuff commented on #2464
@karlatec I think it's a good idea. Especially that the `gen-pmdinfo-cfile.py` (where this is failing) was affected in the past (c78471cd061a0f64db006c538be34536bc66c12a is one example).

[2022-04-13 11:01] Comphix commented on #2463
Please Karol take a look and give some suggestion.

[2022-04-13 11:04] kgodzwox commented on #2464
Issue reported: https://bugs.dpdk.org/show_bug.cgi?id=993

[2022-04-13 12:12] spdkci commented on #2462
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_75226.html

[2022-04-13 13:59] #2452 closed

[2022-04-13 14:13] karlatec commented on #2463
Hi @Second222None

So in your reproduction you get `89.8K (read IOPS), 498.5us (avg), 38.5K (write IOPS), 494.36us (avg)` which totals at about 128k IOPS.

In the reproduction steps you wrote `start VM`. I am assuming that's correct, and not a typo, in which case you run a single VM while in Vhost Report Test Case 3 there are 2 VMs used. Quoting from the document:
[code]
Now assuming that you'd ge

[2022-04-13 15:17] mkotwani1 commented on #2445
Thanks @ksztyber !

Does this fix cover the all the cases for different states we have seen on this bug?

[2022-04-13 15:55] davidcs12 commented on #2425
Hi @ksztyber  Sorry for the delay. I got the patch ready to push for review. However I am a bit confused about the signoff part.
1. I am guessing I need to use "git commit -a -s" to first commit the code to my local branch.
2. followed by "git push review" am I correct?

[2022-04-13 19:11] pvonti commented on #2445
Hi @ksztyber, Looks like the fix you have provided is on top of spdk-22.05. We are at spdk-22.01 now, is it possible for us to get a fix for this issue on spdk-22.01?

[2022-04-13 21:15] spdkci commented on #2462
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_75220.html

[2022-04-13 21:59] spdkci commented on #2201
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_75292.html

[2022-04-14 01:44] changpe1 commented on #2226
Also closing this issue as SPDK already has a workaround to fix it.

[2022-04-14 01:44] #2226 closed

[2022-04-14 01:49] changpe1 commented on #1606
Closing this issue too as it doesn't affect anything, just the log isn't quite clear.

[2022-04-14 01:49] #1606 closed

[2022-04-14 01:50] changpe1 commented on #2456
00:04:04.839   04:14:24	-- nvme/nvme.sh@52 -- # wait 287376
00:04:04.839   04:14:24	-- nvme/nvme.sh@56 -- # pid0=287393
00:04:04.839   04:14:24	-- nvme/nvme.sh@55 -- # /var/jenkins/workspace/nvme-phy-autotest/spdk/build/examples/perf -i 0 -q 16 -w read -o 4096 -t 3 -c 0x1
00:04:04.839   04:14:24	-- nvme/nvme.sh@58 -- # pid1=287394
00:04:04.839   04:14:24	-- nvme/nvme.sh@59 -- # /var/jenkins/worksp

[2022-04-14 02:31] #2440 closed

[2022-04-14 02:35] changpe1 commented on #2462
@karlatec can you take a look? thanks.

[2022-04-14 04:50] changpe1 commented on #2453
I'm wondering if the QEMU version in ZNS job is special one or not, looks like the tests caused an error in QEMU emulated NVMe SSD, then both kernel NVMe driver and SPDK will return error for this drive. @KKaras169169 could you take a look? thanks.

[2022-04-14 04:51] jimharris commented on #2456
This looks related to both #2320 and #2351.

#2320 was closed after merging a small fix to the test script causing the failure in this issue.
#2351 showed this exact same failure, but was closed when it did not reproduce over a couple of weeks.

Note that all 4 failures listed in this issue happened on SM11.  It's not clear whether that is relevant yet or not.  Unfortunately the logs from #2351 ha

[2022-04-14 06:31] karlatec commented on #2462
We already fixed that yesterday with @xjjx. Let's leave the issue open until the end of the week so that everyone has a chance to retrigger their patches.

[2022-04-14 06:39] ksztyber commented on #2461
Yeah, it doesn't seem right. @KKaras169169 could you take a look at this?

[2022-04-14 07:45] ksztyber commented on #2425
Sure, no worries.

Yes, that's correct.

Seems like you're missing elftools python module. Did you run `scripts/pkgdep.sh`? If you have the pre-push git hook enabled (it tries to build the code and run unit tests), you need to do it from the machine you're pushing from. Alternatively, if you're committing from a different system then the one you're building and running the code, you could just dis

[2022-04-14 07:52] ksztyber commented on #2445
Sure, once these patches are reviewed and merged on master, we can definitely cherry-pick them onto the v22.01 branch.

In the meantime, you can test: https://review.spdk.io/gerrit/c/spdk/spdk/+/12266

[2022-04-14 07:55] karlatec opened #2465 "[nvmf] failed to create completion queue with high number of cores"
# Bug report

spdk_tgt segfaults when trying to add a NVMe bdev as namespace to NVMe-oF subsystem when SPDK is run with high number of cores (more than 27) and when using Kioxia KCM61VUL3T20 drives.

## Steps to Reproduce

1. Run SPDK with:
[code]
2. Try to configure NVMe-oF subsystem:
[code]
3. After last step target crashes due to:
[code]

[code]

[2022-04-14 09:08] jchachux opened #2466 "[vhost - migration tc1] Test fails with error "qemu-img: /root/os.qcow2: Backing file specified without backing format""
Test vhost migration tc1 fails with error "qemu-img: /root/os.qcow2: Backing file specified without backing format" on Fedora 35 with qemu 6.1.0.

According to qemu documentation
https://github.com/qemu/qemu/blob/master/docs/about/removed-features.rst#qemu-img-backing-file-without-format-removed-in-61
you have to  specify the intended backing format with flag -o backing_fmt= (or the shorthand -F d

[2022-04-14 11:30] spdkci commented on #2128
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_75303.html

[2022-04-14 11:30] spdkci commented on #2128
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_75302.html

[2022-04-14 12:03] karlatec opened #2467 "[nvmf/rdma] Keepalive timeout on disconnecting host from subsystem"
# Bug report

That's an issue I stumbled upon when testing new Fedora 35 images for the CI.
Upon disconnecting kernel initiator with `nvme disconnect` command SPDK target responds with:
`ctrlr.c: 197:nvmf_ctrlr_keep_alive_poll: *NOTICE*: Disconnecting host nqn.2016-06.io.spdk:host1 from subsystem nqn.2016-06.io.spdk:cnode1 due to keep alive timeout.`.
Operation blocks further test execution for ab

[2022-04-14 12:04] karlatec commented on #2467
@AlekseyMarchuk could you take a look?

[2022-04-14 12:34] ksztyber commented on #2465
Patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/12270

[2022-04-14 12:45] ksztyber commented on #2450
A week has passed, I think we can close this one.

[2022-04-14 12:45] #2450 closed

[2022-04-14 13:27] gaowayne opened #2468 "[FAQ] accel_perf tool failed to parse the json config that is dumped by idxd_scan_accel_engine"
# Bug report

[root@localhost spdk]# build/examples/accel_perf -q 8 -o 4096 -t 30 -w copy -c /root/wayne/dsa_2022.json
SPDK Configuration:
Core mask:      0x1

Accel Perf Configuration:
Workload Type:  copy
Transfer size:  4096 bytes
Queue depth:    8
Allocate depth: 8
# threads/core: 1
Run time:       30 seconds
Verify:         No

[2022-04-14 03:16:36.514938] Starting SPDK v22.05-pre git sha1 87

[2022-04-14 13:43] jchachux commented on #2466
Fix https://review.spdk.io/gerrit/c/spdk/spdk/+/12268

[2022-04-14 13:46] peluse commented on #2468
A param was removed not too long ago and clearly the config_kernel got stepped on somehow.  I'll look at it today, thanks

[2022-04-14 13:55] AlekseyMarchuk commented on #2467
@karlatec ok, I'll take a look

[2022-04-14 14:02] peluse commented on #2468
Not a bug actually, your JSON is off just a bit.

 "config_kernel_mode": 0

Should be:

 "config_kernel_mode": false

@gaowayne please try that and close this issue if it works for you

[2022-04-14 14:24] gaowayne commented on #2468
the config file is created by rpc save config command actually, I will verify this. if this is true. we just need fix save config part, I can try submit one patch if it is not too complex. :)

[2022-04-14 14:27] gaowayne commented on #2468
@peluse  no, false does not work too.
[code]

[2022-04-14 14:44] peluse commented on #2468
OK, different error (you are getting method error but a 0 will give you invalid parms). On my system on master I get the same failure as you when I provide 0 and it works fine when I provide false.  Here is my json file (file name is just j)
{
   "subsystems":[
      {
         "subsystem":"accel",
         "config":[
            {
               "params":{
		  "config_kernel_mode": false

[2022-04-14 14:47] spdkci commented on #1950
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_75354.html

[2022-04-14 15:06] peluse commented on #2468
@gaowayne re-reading this I might not have understood you specific report.  Are you saying that if you use wait-for-rpc and send the RPC commands in individually that things work but only after you save them to json and send that saved file in do you get this error?

Also looking at your output you get this line:

      rpc_idxd_scan_accel_engine: *NOTICE*: Enabling IDXD user-mod

which means you'

[2022-04-14 15:08] AlekseyMarchuk commented on #2454
I prepared patches to address these issues https://review.spdk.io/gerrit/c/spdk/spdk/+/12249
@kgodzwox could you please verify them?

[2022-04-14 15:44] gaowayne commented on #2468
Wayne: yes, the error only happen, when I use accel_perf to parse the json file that is saved in one session that successfully scan the accel engine. I feel something wrong with json file. or can you give me one good json example file?

if I start one vhost, use rpc command(not json way), it works. but accel_perf need start from one json file. I remember this works last year. :)
this json file is

[2022-04-14 16:13] gaowayne commented on #2468
thank you so much Jim, I understand now. I found below json works fine. I think you are right, save_config cannot directly be used by accel_perf I will try ignore next day too. I have to wrap up today.
[code]

[2022-04-14 16:24] kgodzwox commented on #2454
Yes, sure.
[code]

Now the error is logged but tests pass anyway.
It stopped at:

[code]

[2022-04-14 16:29] AlekseyMarchuk commented on #2454
Thanks, I thought I solved both problems :)
Will check what is wrong

[2022-04-14 17:32] peluse commented on #2468
BTW I also updated idxd to write a bool instead of 0 for that param.  See https://review.spdk.io/gerrit/c/spdk/spdk/+/12275

[2022-04-14 17:33] peluse commented on #2468
@gaowayne I do not believe this is an accurate statement though "save_config cannot directly be used by accel_perf"

[2022-04-15 00:11] jimharris commented on #2468
Agreed @peluse, if you save_config from accel_perf and reuse with accel_perf it should work fine.  I suspect @gaowayne may have done save_config from something like spdk_tgt which would then add a bunch of RPCs that accel_perf can't handle.  @gaowayne - can you confirm?

[2022-04-15 00:15] gaowayne commented on #2468
I add one plus for this patch, it looks great fix this issue.

[2022-04-15 00:16] gaowayne commented on #2468
I will confirm this today and keep you posted

[2022-04-15 00:31] peluse commented on #2468
Great!

[2022-04-15 05:45] v1c77 opened #2469 "[vhost] vhost_session_mem_unregister/vhost_session_mem_region_calc with Segmentation fault"
# Bug report
The SPDK-vhost-user backend crashed during the quit.

## Expected Behavior

## Current Behavior

[code]

## Possible Solution

## Steps to Reproduce
The crash happened occasionally.

1.  start  spdk-tgt with vhost-user-scsi&vhost-user-blk support
2.  start a VM with a vhost-user-scsi drive.
3.  restart  or quit the spdk-tgt vhost-user backend.

## Context (Environment including OS ver

[2022-04-15 08:25] #2466 closed

[2022-04-15 09:06] AlekseyMarchuk commented on #2454
I found what caused latest failure. When the app issues IO size less than reduce vol chunk_size then user's buffers are copied into reduce vol buffers. Now these buffers are properly aligned and there should be not problem. However when the user issues IO size equal to vol chunk_size and user's buffer is contig, then user's buffer is used directly. And the problem is that bdevperf allocated not al

[2022-04-15 11:00] tomzawadzki opened #2470 "Reducing cluster array access impact on Logical Volumes performance"
# Bug report

This issue is for purpose of tracking work on reducing logical volumes performance impact. Specifically referring to vhost perf report section comparing the results to split bdev. Please see recent report https://ci.spdk.io/download/performance-reports/SPDK_vhost_perf_report_2201.pdf.
Impact presented in that report suggests up to 17% impact in that comparison.

## Expected Behavior

[2022-04-15 11:43] AlekseyMarchuk commented on #2454
Hi @kgodzwox I pushed one more patch, it should fix the problem https://review.spdk.io/gerrit/c/spdk/spdk/+/12281
it works on my setup, could you verify it?
@peluse may I ask you to look at this patch https://review.spdk.io/gerrit/c/spdk/spdk/+/12249? I tried to cover cases when chunk_size is not power of 2, but it seems it is not needed. If we only support chunk_size 16KiB then this patch can be

[2022-04-15 11:51] karlatec commented on #2424
Paul  could you remove the submodule update from the patch? CI cannot pick it up when checking out the submodule.
[code]

[2022-04-15 12:10] gaowayne commented on #2468
@jimharris  you are quite right, thank you so much for so clear explanation to me add ignore error flag helps. actually 0 or false is same thing in json.
[code]

[2022-04-15 12:25] kgodzwox commented on #2464
The problem with meson should be fixed in the next point-release of 21.11 DPDK - estimated time-release April 2022

[2022-04-15 12:37] kgodzwox commented on #2454
@AlekseyMarchuk it seems like both problems are fixed with your patch :) this first reset error is still logged (I assume it is expected?) but as I said in the previous comment, the test is passing.

[2022-04-15 12:56] AlekseyMarchuk commented on #2454
Thanks @kgodzwox ! Yes, the logged error is expected

[2022-04-15 13:00] spdkci commented on #2406
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_75423.html

[2022-04-15 16:11] jimharris commented on #2470
Thanks for this analysis @tomzawadzki.

I agree this is the first solution to investigate.  This would cut cache consumption for these cluster arrays by half, helping not just blob/lvol, but also other modules and libraries which are getting their cache lines evicted more than necessary.

This may be helpful, but I think should only be considered in addition to #1, not instead of #1.

This idea is

[2022-04-15 17:35] spdkci commented on #1950
Another instance of this failure. Reported by @benlwalker. log: https://ci.spdk.io/public_build/autotest-per-patch_75376.html

[2022-04-17 09:06] Second222None commented on #2463
NVMe SSD model： [ES3000 V5](https://vectorsolutions.net/wp-content/uploads/import/Huawei%20SSD%20ES3000%20V5%20NVMe%20Data%20Sheet.pdf) 6.4TB (88us/15us)
![image](https://user-images.githubusercontent.com/24448002/163707944-d062b326-f800-417c-9984-d8d5beb23d88.png)

Host and Guest OS: openEuler-21.09
fio：3.7
SPDK version：master[commit 0db0c443df06f68210e5504a90d32311ada9106b]
For the rest of the i

[2022-04-17 21:14] spdkci commented on #2201
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_75385.html

[2022-04-17 23:25] spdkci commented on #2201
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_75438.html

[2022-04-18 17:28] jimharris commented on #2444
I have a new M1-based MacBook where I hit this same problem when building SPDK in a VM.  So I'm going to take ownership on this issue and propose a solution.

[2022-04-19 01:13] shuhei-matsumoto commented on #2128
I am investigating this issue again.

[2022-04-19 04:58] spdkci commented on #2424
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_75495.html

[2022-04-19 05:00] spdkci commented on #2424
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_75497.html

[2022-04-19 08:18] #2465 closed

[2022-04-19 08:39] tomzawadzki commented on #2470
Thank you for validating some of the possible solutions ! Didn't intend the solutions to replace each other, rather just mention the order they'd be attempted in. I guess that means we already agreed on the priority for the most part :)

[2022-04-19 11:15] #2425 closed

[2022-04-19 11:16] #2445 closed

[2022-04-19 13:14] tomzawadzki commented on #2327
Both patches are merged, the issue can be closed.

[2022-04-19 13:14] #2327 closed

[2022-04-19 13:29] #2462 closed

[2022-04-19 14:40] pvonti commented on #2445
Hi  @ksztyber, I reverted the above fix we had added to nvmf_tcp_request_free() and added the fixes in https://review.spdk.io/gerrit/c/spdk/spdk/+/12266 on top of spdk 22.01.

[TEST] nvmf/tcp: delay completion for zcopy reqs w/ in-progress writes
[TEST] nvmf/tcp: update pdu_in_use flag in write functions
[TEST] nvmf/tcp: use different callbacks for sending mgmt/req PDUs

Tested the fix with Linux

[2022-04-19 15:04] tomzawadzki commented on #2468
Bug scrub: The issue was due to the json_config entries not matching those handled by accel_perf. The issue can be closed.

[2022-04-19 15:04] #2468 closed

[2022-04-19 15:06] tomzawadzki commented on #2469
Bug scrub: @v1c77 thanks for the report ! Could try latest SPDK from master or SPDK v22.01 LTS ?
Besides that enabling debug (./configure --enable-debug), would be helpful to better understand the backtrace.

[2022-04-19 15:15] tomzawadzki commented on #2457
Bug scrub: @junwenx Can you confirm that lsmod for either of the missing drivers does not produce any output ?

[2022-04-19 15:17] tomzawadzki commented on #2443
[Bug scrub] @jchachux any update on the missing test case ?

[2022-04-19 15:20] tomzawadzki commented on #2412
[Bug scrub] The issue is fixed for latest SPDK and DPDK main. Let's close this issue and @karlatec can you open one specific for investigating which backports are required to enable builds against SPDK LTS ?

[2022-04-19 15:25] tomzawadzki commented on #2424
[Bug scrub] @peluse Could you change the branch of the dpdk patch to `spdk-21.11` and remove dpdk submodule update from spdk patch ? This will allow to pull both of them and run through Jenkins.

[2022-04-19 15:28] tomzawadzki commented on #2456
[Bug scrub] @xjjx Can you please run patch https://review.spdk.io/gerrit/c/spdk/spdk/+/12261 multiple times through the CI using specifically the SM11 node ?

[2022-04-19 15:34] tomzawadzki commented on #2442
[Bug scrub] This issue was reported only once, and @KKaras169169 was unable to reproduce it. Let's close it for now.

[2022-04-19 15:34] #2442 closed

[2022-04-19 15:36] tomzawadzki commented on #2460
[Bug scrub] @KKaras169169 will take a look at reporting the issue to the DPDK bug tracker.

[2022-04-20 02:53] junwenx commented on #2457
@jchachux @tomzawadzki  Hi, thank you for the support, I'll try again about fedora34, and paste the lsmod output to here.

[2022-04-20 05:53] spdkci commented on #2201
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_75571.html

[2022-04-20 05:54] spdkci commented on #2424
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_75572.html

[2022-04-20 06:02] spdkci commented on #2128
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_75574.html

[2022-04-20 06:19] shuhei-matsumoto opened #2471 "[nvmf_failover] Transferring tcp_req was aborted but tcp_req->pdu_in_use was true when destroying qpair"
[code]

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_75568.html

## Execution failed at

[code]

[2022-04-20 06:21] spdkci commented on #2471
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_75568.html

[2022-04-20 06:21] junwenx commented on #2457
@jchachux @tomzawadzki  Hi, it seems the issue is I execute "su -" on virtual client, when I use "sudo su", it is normal and success, so may be it is not a issue.

[2022-04-20 06:24] Apokleos opened #2472 "More documents for vfio-user/live migration NEEDED!"
# Bug report
Lack of docs for vfio-user/live migration in SPDK.
1. Is there more detailed information about Live migration with vfio-user in SPDK?
2. What's the development stage of Live migration with vfio-user ?
3. how to test the vfio-user/live-migration?
## Expected Behavior

More info for vfio-user/live migration.

## Current Behavior

not enough.

[2022-04-20 06:35] shuhei-matsumoto commented on #2471
This looks related with the fix for https://github.com/spdk/spdk/issues/2445

[2022-04-20 06:38] shuhei-matsumoto commented on #2471
Hi @ksztyber Is it enough to remove the assert as a fix? Please check this issue.

[2022-04-20 06:40] pvonti commented on #2445
@ksztyber,

Below are details of the process restart test done with the following SPDK patches added.
[TEST] nvmf/tcp: delay completion for zcopy reqs w/ in-progress writes
[TEST] nvmf/tcp: update pdu_in_use flag in write functions
[TEST] nvmf/tcp: use different callbacks for sending mgmt/req PDUs

Details of test and issue
1. Test
- Ran Read/Write IOs of variable sizes on 10 Namespaces.
- Did Pro

[2022-04-20 07:25] jchachux commented on #2443
@tomzawadzki patch is ready for review https://review.spdk.io/gerrit/c/spdk/spdk/+/12239

[2022-04-20 08:02] spdkci commented on #1950
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_75617.html

[2022-04-20 08:20] #2443 closed

[2022-04-20 09:15] tomzawadzki commented on #2457
@junwenx Thank you for investigating this further and finding the difference.
If curious, you can check what kind of environment variable is missing (due to `su -` ) that the `configure_linux_pci()` in `scripts/setup.sh` doesn't detect any of the drivers.

Otherwise, if you think this issue is resolved - please feel free to close this issue.

[2022-04-20 09:29] junwenx commented on #2457
@tomzawadzki  Thanks a lot. Yes, I think can close, sorry for my mistake

[2022-04-20 09:45] spdkci commented on #2424
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_75629.html

[2022-04-20 10:57] xjjx commented on #2456
Test results were sent to @jimharris in separate email.
4 of 6 runs passed
2 of 6 runs failed

[2022-04-20 14:12] kgodzwox opened #2473 "[nvmf-phy-cvl-autotest/nvmf_failover] 'Resetting controller successful' message missing from $testdir/try.txt"
# CI Intermittent Failure
nvmf_failover

## Link to the failed CI build

https://ci.spdk.io/results/autotest-nightly/builds/606/archive/nvmf-phy-cvl-autotest/build.log
https://ci.spdk.io/results/autotest-nightly/builds/607/archive/nvmf-phy-cvl-autotest/build.log

## Execution failed at

[code]

[2022-04-20 14:36] KKaras169169 commented on #2461
I found the issue. Here is the patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/12319

[2022-04-20 15:00] davidcs12 opened #2474 "lib/nvmf/tcp.c: nvmf_tcp_capsule_cmd_hdr_handle(): host sends more cmds than queue depth."
# Bug report
This is more of a query and may not be a bug.
In the following function "nvmf_tcp_qpair_disconnect(tqpair);" is invoked when the  host sends more cmds than the queue depth. The query has to do with exploring if there a less disruptive solution?

static void
nvmf_tcp_capsule_cmd_hdr_handle(struct spdk_nvmf_tcp_transport *ttransport,
                struct spdk_nvmf_tcp_qpair *tqpair,

[2022-04-20 15:03] davidcs12 commented on #2474
@ksztyber @mkotwani1

[2022-04-20 23:58] peluse opened #2475 "[nvme_cli_cuse] DATA_XFER_ERROR: Error while trying to transfer the data or metadata"
data-size=512 --data=/var/jenkins/workspace/nvme-phy-autotest/spdk/test/nvme/cuse/write_file
00:05:20.020  [2022-04-21 01:16:19.519425] nvme_qpair.c: 270:nvme_io_qpair_print_command: *NOTICE*: WRITE sqid:1 cid:895 nsid:1 lba:0 len:1 PRP1 0x0 PRP2 0x0
00:05:20.020  [2022-04-21 01:16:19.519455] nvme_qpair.c: 454:spdk_nvme_print_completion: *NOTICE*: DATA TRANSFER ERROR (00/04) qid:1 cid:895 cdw0:0 s

[2022-04-20 23:59] spdkci commented on #2475
Another instance of this failure. Reported by @peluse. log: Not Found

[2022-04-21 00:02] peluse opened #2476 "[fio_dif_rand_params] unclear"
/home/vagrant/spdk_repo/spdk/build/fio/spdk_bdev'
00:14:45.238   23:34:47	-- common/autotest_common.sh@1194 -- # /usr/src/fio/fio --ioengine=spdk_bdev --spdk_json_conf /dev/fd/62 /dev/fd/61
00:14:45.238  filename0: (g=0): rw=randread, bs=(R) 4096B-4096B, (W) 4096B-4096B, (T) 4096B-4096B, ioengine=spdk_bdev, iodepth=16
00:14:45.238  ...
00:14:45.238  filename1: (g=0): rw=randread, bs=(R) 4096B-4096

[2022-04-21 00:03] spdkci commented on #2476
Another instance of this failure. Reported by @peluse. log: Not Found

[2022-04-21 00:50] spdkci commented on #2476
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_75681.html

[2022-04-21 01:35] Comphix commented on #2472
Currently vfio-user is ongoing for live migration and more documents will be updated later.

[2022-04-21 01:56] Comphix commented on #2430
@MengjinWu , any update on this issue?

[2022-04-21 02:38] spdkci commented on #2476
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_75682.html

[2022-04-21 04:12] jimharris commented on #2475
Log can be found here: https://ci.spdk.io/public_build/autotest-per-patch_75677.html.

This is the same failure as #2489 which was closed on March 1.  That issue was closed after making some updates on the GP16 system that was causing all of the failures.  Incidentally this failure here was also on GP16.

Assigning to @karlatec for now.  Tagging @xjjx and @tomzawadzki too since they were involved

[2022-04-21 04:20] spdkci commented on #2476
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_75689.html

[2022-04-21 04:48] jimharris commented on #2476
Each of these failing builds exhibited the exact same failure on two different jobs - always nvmf-tcp-uring-vg-autotest on VM-host-SM0, and nvmf-tcp-vg-autotest on VM-host-PE1.

Passing builds between these failed builds, including names of the VM-host-*** systems these two jobs ran on:
(different) SM9, WFP1: https://ci.spdk.io/public_build/autotest-per-patch_75687.html
(same) SM0, PE1: https://ci

[2022-04-21 07:00] spdkci commented on #2473
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_75647.html

[2022-04-21 07:38] spdkci commented on #2471
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_75653.html

[2022-04-21 08:37] spdkci commented on #2424
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_75697.html

[2022-04-21 09:05] Apokleos commented on #2472
Thx, Waiting for it !!!

[2022-04-21 09:25] ksztyber commented on #2471
Sure @shuhei-matsumoto, I'll take a look.

[2022-04-21 11:51] ShinJoonSeob commented on #1225
are you still have this issues? I want the same thing as you. can you help for me? if you fixed it

[2022-04-21 12:14] glimchb commented on #1939
I picked up and pushed to gerrit for review https://review.spdk.io/gerrit/c/spdk/spdk/+/12327

[2022-04-21 12:20] #2461 closed

[2022-04-21 14:28] peluse commented on #2476
yeah, strange.  I'll take a closer look at my patch too

[2022-04-21 14:33] peluse commented on #2476
from dmesg: (note out_of_memory)
[  845.468590] Hardware name: QEMU Standard PC (i440FX + PIIX, 1996), BIOS rel-1.14.0-0-g155821a1990b-prebuilt.qemu.org 04/01/2014
[  845.470032] Call Trace:
[  845.470365]  dump_stack+0x76/0x94
[  845.470797]  dump_header+0x4a/0x1f3
[  845.471246]  oom_kill_process.cold+0xb/0x10
**[  845.471778]  out_of_memory+0x229/0x4c0**
[  845.472258]  __alloc_pages_slowpath.c

[2022-04-21 14:39] peluse commented on #2476
oh man, I'm allocating WAY more memory than the estimate that I was given.  Need to figure out how to solve this little problem.  It's in my patch for sure though so closing this issue.

[2022-04-21 14:39] #2476 closed

[2022-04-21 15:24] ksztyber commented on #2471
Patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/12332

[2022-04-21 15:28] spdkci commented on #2201
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_75795.html

[2022-04-21 15:28] spdkci commented on #2201
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_75791.html

[2022-04-21 16:37] benlwalker commented on #2474
NVMe-oF 1.1a:

[code]

Closing this one as the correct behavior is to disconnect per spec.

[2022-04-21 17:28] jimharris commented on #2474
Can you describe more how these heavy loads are being run?  If the target reports it only supports 128 I/O queue size, then a well-functioning host driver shouldn't be sending more I/O commands than that (actually it shouldn't send more than 127).  I agree with everything here that the target is doing exactly what it should - my concern is that maybe the SPDK nvme driver is sending too many comman

[2022-04-21 17:30] spdkci commented on #2201
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_75826.html

[2022-04-21 19:21] davidcs12 commented on #2474
Thanks @ksztyber @benlwalker @jimharris .

@jimharris, we are not using the SPDK NVMe Driver on the Initiator side. The initiator side uses the stock nvme driver which comes with RHEL8.3 release (hence commit [834e3c5 ](https://github.com/spdk/spdk/commit/834e3c5a0eab5c2b37f0dc5012ed0822f3d3c4a9) is not relevant here) . Since the behavior is per spec., for NVMe/TCP target side we can close the iss

[2022-04-21 19:58] jimharris commented on #2474
Thanks for confirming @davidcs12!  Re-closing this issue.

[2022-04-21 19:58] #2474 closed

[2022-04-21 20:59] jimharris commented on #1939
Thanks @glimchb!

For those interested, here's a link to the Slack thread in progress on this patch set:

https://spdk-team.slack.com/archives/CNRUQN85P/p1650542652729249

[2022-04-21 22:19] spdkci commented on #2201
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_75855.html

[2022-04-21 22:19] spdkci commented on #2424
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_75850.html

[2022-04-22 01:39] Apokleos opened #2477 "Large performance gap between vfio-user and vhost-user-blk"
# Bug report
1. Performance Gap:
The performance gap between vfio-user and vhost-user-blk is very large in my own test, and it's much bigger than official reports that 20-60% significantly lower than vhost-user-blk according to the `Appendix A - Vfio-User Performance` in [performance report](https://ci.spdk.io/download/performance-reports/SPDK_vhost_perf_report_2201.pdf)

  In my test {4k 8jobs 16

[2022-04-22 06:50] pvonti commented on #2445
2. Test:
Controller shutdown using command `nvme set-property /dev/nvme0n1 --offset=0x14 --value=0x464001`

Issue:
After controller shutdown causes aborts of all IOs on all subsystem qpairs. qpair times out as no IOs received in 30 secs.
The host session disconnects and host reboots.

Analysis:
- Controller shutdown stops systems and aborts all IOs in the subsystem
stop_subsystems() -> spdk_nvmf_s

[2022-04-22 07:07] spdkci commented on #2201
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_75848.html

[2022-04-22 09:59] MengjinWu opened #2478 "NVME over TCP performance with spdk posix"
## Current Behavior

I've been looking at NVMf TCP related stuff recently. I found a very interesting point is that the posix interface in spdk has a great impact on the performance of tcp when IO is big.

In order to test the impact of posix I made one line modification to posix_sock_readv and short-circuited the pipe buffer.

![image](https://user-images.githubusercontent.com/17685740/164684001-

[2022-04-22 10:45] Comphix commented on #2478
Hi Mengjin,

You may just raise a patch for this change.

Thanks,
Gang

[2022-04-22 10:50] ksztyber commented on #2445
Hi @pvonti, could you file a new issue for this? Could you also provide reproduction steps using upstream apps? I was trying to reproduce this by writing to `CC.SHN` while simultaneously doing writes through fio, but without any luck.

[2022-04-22 12:32] berthin commented on #1753
Hi,

Just wanted to mention (for reference) that I faced the same issue with gcc v5.5 and v9.4. Miraculously, it worked with **gcc v5.4**. I tried looking at the dependencies page but didn't find anything related to specific versions. By the way, as mentioned in this issue report, the build errors happen only when debug mode is enabled.

[2022-04-22 12:58] #2457 closed

[2022-04-22 13:06] karlatec commented on #2467
@AlekseyMarchuk any tips? :)

[2022-04-22 13:20] kgodzwox opened #2479 "[autotest-nightly] Nightly fails while all autotests pass"
# CI Intermittent Failure
autotest-nightly

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-nightly_615.html

## Execution failed at
[code]

[2022-04-22 14:17] spdkci commented on #555
Another instance of this failure. Reported by @yupeng0921. log: https://ci.spdk.io/public_build/autotest-per-patch_75869.html

[2022-04-22 14:26] AlekseyMarchuk commented on #2467
@karlatec sorry didn't have time this week. I plan to work on this issue next week

[2022-04-23 02:47] gaowayne opened #2480 "[FAQ] accel_perf tool only do copy for a limited fix number=qd memory location, this is only upper bound test"
# Bug report

accel_perf have fixed number task, each task point to one buffer that is allocated at init phase. I suspect that the copy may be finished at the CPU cache, not really finished at the media(DRAM or pmem). if this is true, this is only upper bound test. it does not have meaning to estimate the media performance under accel_perf

## Expected Behavior

can we add random uniform destinati

[2022-04-23 03:17] peluse commented on #2480
@gaowayne thanks for the suggestion, I'v changed the label to enhancement from sighting as this is not a bug.  Please keep in mind that accel_perf is an example tool for how to use the accel framework not really intended to provide real life validation type data.  That said, there is a "-a" option that allows you to make the task pool as large as you like regardless of the queue depth to try and h

[2022-04-23 03:30] gaowayne commented on #2480
@peluse thank you so much Paul, I plan hack code for example random a pmem location before the copy on the fly, then I can continue my job in short term. I can share you my changes, if have any idea to help me upstream the changes, it will be great. or you plan to implement a total solution. then this is only for my testing only. :)

[2022-04-23 13:54] peluse commented on #2480
@gaowayne sounds great, looking forward to a patch from you for sure! Hit me or anyone up on slack for help if needed.  As you're working on this I"m going to go ahead and close it.

[2022-04-23 13:54] #2480 closed

[2022-04-24 07:50] changpe1 commented on #2477
@Apokleos I tried the same tests, the result was same with yours, Actually I evaluated initial performance comparison with  vhost-user-blk last year, the performance of vfio-user can hit about 90%  of the vhost-user-blk, I think there are commits which lowed the performance number.

I also have a developing patch https://review.spdk.io/gerrit/c/spdk/spdk/+/12315 which can provide virtio_blk device

[2022-04-24 16:06] spdkci commented on #2041
Another instance of this failure. Reported by @amichon-kalray. log: https://ci.spdk.io/public_build/autotest-per-patch_75919.html

[2022-04-25 02:19] junwenx opened #2481 "[llvm_nvmf_fuzz] llvm_nvme_fuzz app hang up during the test"
# Bug report
Hang up and raise an error when run below command

spdk/test/app/fuzz/llvm_nvme_fuzz/llvm_nvme_fuzz -m 0x1 -i 0 -F 'trtype:tcp adrfam:IPv4 subnqn:nqn.2016-06.io.spdk:cnode1 traddr:127.0.0.1 trsvcid:4420' -c /home/wenjun/spdk/test/nvmf/target/fuzz_json.conf -t 20 -D /tmp/llvm_fuzz0 -Z 0

## Expected Behavior

Fuzz normally

## Current Behavior

#22     NEW    cov: 1466 ft: 1991 corp: 2

[2022-04-25 06:05] changpe1 commented on #2477
@Apokleos my bad, I compiled my binaries with debug mode yesterday, I tested it again with release mode, the performance number is still above 90% of vhost-user-blk.

perf trace with vfio-user NVMe debug mode:
 32.59%  libc-2.29.so        [.] __strcasecmp_l_avx
   8.48%  spdk_tgt            [.] get_log_flag

[2022-04-25 06:17] Comphix commented on #2481
Looks like target side caught some error from the nvme_fuzz app. Is there any log from nvme_fuzz side?

https://github.com/spdk/spdk/pull/25 NEW cov: 1466 ft: 2072 corp: 22/734b lim: 320 exec/s: 1 rss: 169Mb L: 78/127 MS: 1 ShuffleBytes-
[2022-04-25 10:08:52.065820] nvme_ctrlr.c:3132:nvme_ctrlr_async_event_cb: ERROR: [nqn.2016-06.io.spdk:cnode1] Controller appears out-of-spec for asynchronous even

[2022-04-25 07:36] #2471 closed

[2022-04-25 08:25] wanqunintel commented on #2481
@junwenx , thanks to reporting this out, i also tried the step on my environment and it passed the test. my kernel is: 5.11.12-300.fc34.x86_64. same spdk commit as you.  Clang12. Would you share me the seed file so that i can reproduce this issue the same as your input?

[2022-04-25 08:36] junwenx commented on #2481
@wanqunintel , you may need to rebase the newest code, and the seed file will mail to you. You may need to execute make clean, re-config and make -j128 to compile code, and then do the test.

[2022-04-25 08:43] Bianyfan commented on #2481
It seems to be related with recently code change, I rebase to the newest code and reproduce this error. I may make a double check.

[2022-04-25 09:17] xjjx opened #2482 "qemu vfio branch no longer exists"
# Bug report
Our image build system detect that branch vfio-user-v0.93 is no longer exits in repository https://github.com/oracle/qemu

[2022-04-25T03:28:53.467Z] 2022-04-25T05:28:53+02:00: ==> ubuntu2004: Cloning into '/git_repos/qemu/vfio-user-v0.93'...

[2022-04-25T03:28:53.726Z] 2022-04-25T05:28:53+02:00: ==> ubuntu2004: fatal: Remote branch vfio-user-v0.93 not found in upstream origin

## Exp

[2022-04-25 09:20] changpe1 commented on #2482
I used branch `vfio-user-dbfix` for testing, @tmakatos which branch do you suggest ? thanks.

[2022-04-25 10:56] tmakatos commented on #2482
Same, `vfio-user-dbfix`.

[2022-04-25 12:26] ksztyber opened #2483 "[nvmf_filesystem_no_in_capsule] could not shm_open spdk_trace"
[code]

## Link to the failed CI build
https://ci.spdk.io/results/autotest-per-patch/builds/75967/archive/nvmf-phy-autotest/build.log
https://ci.spdk.io/public_build/autotest-per-patch_75967.html

[2022-04-25 12:26] spdkci commented on #2483
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_75967.html

[2022-04-25 13:25] spdkci commented on #1950
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_75972.html

[2022-04-25 14:33] spdkci commented on #2424
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_75969.html

[2022-04-25 14:34] spdkci commented on #2456
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_75968.html

[2022-04-25 14:35] spdkci commented on #2456
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_75974.html

[2022-04-25 15:22] mhae opened #2484 "nvmf/bdev_nvme: Unable to remove device when cmd is queued in bdev nomem_io"
# Bug report

This is a scenario with nvmf_tgt (NVMF/RDMA & bdev_nvme) and an unresponsive device.

When an admin/IO command is queued in bdev's nomem_io, it is no longer possible to remove the NVMe device.

This is due to the fact that the NVMF frontend is still tracking the cmd in mgmt_io_outstanding or io_outstanding which prevents the subsystem pause that is needed to fully remove the device (

[2022-04-25 16:46] AlekseyMarchuk commented on #2467
Hey @karlatec
I have a host with Fedora35, I checked your scenario with loopback connection (both kernel initiator and SPDK target are on the same host) and it works fine. Could you clarify if I need to use 2 different hosts?

[2022-04-25 17:47] karlatec commented on #2467
I test on a single host. Just to be clear - there's no physical loopback with cable connection. I'm just using the internal NIC loopback

[2022-04-25 17:47] karlatec commented on #2467
Could you check the kernel and rdma-core version installed?

[2022-04-26 03:32] Apokleos commented on #2477
@changpe1 Sorry, late to reply. Interested in the new feature with vfu-virtio, and I'm testing it.
Unfortunately, my spdk_tgt core dumped when I do FIO test in guest VM(ubuntu focal raw) and the dumped message as below:
[code]

[2022-04-26 03:39] Apokleos commented on #2477
@changpe1  the different Debug and Release mode may affect the results in the same test with vfio-user or vhost-user.
But I test the two modes with the binary which outputs from same compiling param`--enable-debug` or without `--enable-debug`. it  will also affect the result and get a bigger gap?

[2022-04-26 04:09] changpe1 commented on #2477
When testing performance results, we should use the release binary, you can see my perf trace, when compile the binary with debug mode, 40% of CPU is used for log print function.

[2022-04-26 05:10] changpe1 commented on #2477
@Apokleos there was a bug in v3, I updated that patch, and the following is my test results for vfio-user BLK and vhost-user BLK.

VM: Fedora 33, 5.10.8, with 4 IO queues.

**vfio-user BLK:  599K IOPS
vhost-user BLK: 577K IOPS**

I used `scripts/rpc.py bdev_null_create Null1 102400 512` for both cases so that to evaluate the result more  precisely, and the thread model for vfio-user/vhost-user BLK

[2022-04-26 05:54] Bianyfan commented on #2481
Just update the status, I tested the early version like 6301f89 that was on April 1st. Actually, It occurred the same issue with lower frequency, which has been confirmed with wenjun.  In addition, I checked the fuzz app, there was an infinite loop during the run_cmds() function.

[2022-04-26 06:38] karlatec commented on #2482
@tmakatos @changpe1 is there any possibility to somehow mark this branch as "do not delete"?
The process of building OS images for SPDK CI relies on the existence of the branch.

[2022-04-26 06:39] karlatec commented on #2482
@xjjx could you please update the vfio-user branch in our builder scripts?

[2022-04-26 06:50] karlatec commented on #2482
@changpe1
Please also consider that starting with SPDK 22.01 release we've started to add vfio-user vs vhost comparison to quarterly SPDK Vhost performance report. How much does `dbfix` branch differ from `v0.93` and was it tested with functional tests?

[2022-04-26 06:59] changpe1 commented on #2482
QEMU will not affect performance, because the data path isn't related with QEMU, so just functional tests is OK.

[2022-04-26 07:15] karlatec commented on #2463
Hi @Second222None! Sorry for a late reply, I must have missed your comment.

I don't think it'd make that much difference, but could we try something a bit more recent? For the benchmark process we used 3.19.

Could you provide info on these as well?

* CPU model (+ freq, cache, etc.)
* Host & Guest kernel version
* Qemu emulator version
* Scaling governor set on the host systems
* block device sc

[2022-04-26 07:18] AlekseyMarchuk commented on #2467
I also used the same NIC port, without cable connection. Here is my env, it seems that I have a bit more recent version:
[code]

[2022-04-26 07:20] ddwolf commented on #1211
On branch v22.01.x, found this issue raised again:

[root@host1 fufs]# `ls -lh`

[root@host1 fufs]# `dd if=/dev/zero of=hello.o count=10240000 bs=1024`

build commands are:
[code]

[2022-04-26 08:33] ddwolf opened #2485 "On branch v22.01.x, found `Could not allocate cache buffer` again"
On branch v22.01.x, found this issue raised again:
[root@host-10-90-54-107 spdk]# `cat rocksdb.json`
[code]
[root@host1 fufs]# `test/blobfs/mkfs/mkfs rocksdb.json Nvme0n1`

[root@host1 fufs]# ` ./test/blobfs/fuse/fuse rocksdb.json Nvme0n1 fufs/`

[root@host1 fufs]# `ls -lh`

[root@host-10-90-54-107 fufs3]# yes >> hello

**and the output in the fuse command window shows this**

With restarting of f

[2022-04-26 09:52] tmakatos commented on #2482
@karlatec I don't own this repository, you can speak to the maintainers. I suppose you could fork this repo in SPDK? Also, there is good chance that this will get merged in QEMU pretty soon so this might be a temporary problem.

[2022-04-26 14:04] Comphix opened #2486 "DSA configuration is not properly initialized"
# Bug report

When testing the feature of https://review.spdk.io/gerrit/c/spdk/spdk/+/9304, it is found there is some error happened when data is persisted to PMem through DSA.

Looking at DSA device's status:

[code]

It looks like below content is incorrect
[code]
## Expected Behavior

The expected data is

[code]

## Current Behavior

The current content is:

[code]

## Possible Solution

## St

[2022-04-26 16:16] tmakatos opened #2487 "using ~ in --with-fio path breaks configure"
Using master (ac7b9b7c6), using  '~' in the path supplied to `--with-fio` fails without an obvious error:
[code]
While using a full path works fine:
[code]

[2022-04-26 16:39] mikeBashStuff commented on #2487
This happens because `~` is passed as a literal to `./confgure` - this is actually expected as what happens follows the rules of ~ expansion in bash (any character preceding ~ will prevent the expansion (`--with-fio=~/foo`)). So considering the way how cmdline is parsed by ./configure, we would need to actually eval the rhs of the argument (e.g. `foo=--with-fio=~/fio; eval "foo=${foo#*=}"`) to get

[2022-04-26 16:41] tmakatos commented on #2487
Didn't expect it to be that complicated! I guess at least printing an error message such as "can't find the fio directory you supplied" would help a bit.

[2022-04-26 16:48] mikeBashStuff commented on #2487
This actually points out a slightly different problem - so in theory, `check_dir()` should say something but failure happens before it has a chance to run as errexit picks up on failing `readlink -f /this/path/does/not/exist` which runs first. So even `./configure --with-fio=/this/path/bad` will "silently" fail, i.e. we won't get a hint that the problem is with an actual path.

[2022-04-26 19:24] spdkci commented on #2425
Another instance of this failure. Reported by @peluse. log: Not Found

[2022-04-26 19:29] mikeBashStuff commented on #2487
Here's a potential fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/12388

Tried to keep it as small as possible.

[2022-04-26 19:37] spdkci commented on #2372
Another instance of this failure. Reported by @benlwalker. log: https://ci.spdk.io/public_build/autotest-per-patch_76067.html

[2022-04-27 00:48] optimistyzy commented on #2486
I think when this IDXD_FLAG_DEST_STEERING_TAG is used, it does not work.
https://review.spdk.io/gerrit/c/spdk/spdk/+/12351/2/include/spdk/idxd.h

[2022-04-27 00:51] peluse commented on #2486
Thanks Ziye.  it's a little confusing as we reversed the polarity of the bit wrt how its defined in the spec.  It is indeed being set correctly but what Gang has found, adn I've yet to root cause as I haven't debugged it yet, is that a PCI register that enables a PCIE feature for steering tags is apparently being overwritten during init and diableing the ability to use steering tags.  Stay tuned!

[2022-04-27 01:52] Comphix commented on #2485
From above log:

[code]

Looks like there is no Hugepage allocated on node 1?

Please share the result of ./scripts/setup.sh status for the Hugepage allocation.

[2022-04-27 01:55] Comphix commented on #2484
Shuhei, please give some feedback on this issue.

In our latest SPDK code, is the admin IO on the bdev could be aborted?

[2022-04-27 02:24] jimharris commented on #2484
When a bdev is unregistered, we need to do an spdk_for_each_channel() and abort all of the nomem_io.  Not just nomem_io, but also queued_resets, need_buf_small and need_buf_large.

We do this in bdev_channel_destroy(), but that only gets called when the upper layer puts the channel.  In the nvmf case, it is waiting for all of the outstanding I/O to complete before it will put the channel.

Current

[2022-04-27 02:33] Apokleos commented on #2477
Hi, @changpe1
I'm now testing the updated patch. Intuitively, I get a higher performance result than nvmf/vfio-user. Great work!!!
[code]
but I need some help:
(1) how to set the 4 IO queues when using vfio-user with clh?
In my case of cloud-hypervisor with vfio-user, I have no idea of how to set the IO queues and the only option I know is `--user-device socket=${VFUSOCK}` .
(2)Will the vfu/virtio

[2022-04-27 02:47] changpe1 commented on #2477
@Apokleos Glad to know it works.  In theory, vfio-user/nvme and vfio-user/BLK should have similar performance number when running with 1 core, there might be still issues here.

For your questions:
1) Currently I didn't expose the `num_queues` parameter in RPC, so it's 64 by default, you can start VM with 4 vcpus, I will add it ASAP.
2) It's up to users, we will still support vhost-user BLK/SCSI i

[2022-04-27 03:50] shuhei-matsumoto commented on #2484
Thank you @jimharris I will start from checking your comment first. I do not say strongly I want to do and you will be better to do though :)

[2022-04-27 07:35] spdkci commented on #2201
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_76093.html

[2022-04-27 09:05] ddwolf commented on #2485
@Comphix here is the output, looks like all good

# HUGEMEM=5120 scripts/setup.sh
0000:80:04.7 (8086 2021): ioatdma -> uio_pci_generic
0000:80:04.6 (8086 2021): ioatdma -> uio_pci_generic
0000:80:04.5 (8086 2021): ioatdma -> uio_pci_generic
0000:80:04.4 (8086 2021): ioatdma -> uio_pci_generic
0000:80:04.3 (8086 2021): ioatdma -> uio_pci_generic
0000:80:04.2 (8086 2021): ioatdma -> uio_pci_generic

[2022-04-27 11:44] spdkci commented on #1950
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_76132.html

[2022-04-27 12:49] spdkci commented on #2424
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_76089.html

[2022-04-27 13:26] karlatec commented on #2424
@peluse Could you update your patch? I am unable to fetch or pull your change because git complains about inexistent dpdk ref

[2022-04-27 13:33] karlatec commented on #2424
Alright, figured it out. Pushed a new patchset.

[2022-04-27 19:45] peluse commented on #2316
Ben has a patch for this: https://review.spdk.io/gerrit/c/spdk/spdk/+/12217

[2022-04-27 22:05] peluse commented on #2486
The values in offset 160 are being zeroed by this ioctl issued by DPDK during init (in eal_vfio.c).  Unclear as to how that's happening looking at the kernel code for handling this ioctl.  It is clear though, sitting on line 962 lspci shows the values at boot time.  Stepping over this one LOC results in the changes reported by @Comphix

│   961                 /* get a file descriptor for the devi

[2022-04-27 22:05] peluse commented on #2486
FYI IOCLT handler is here: https://github.com/torvalds/linux/blob/master/drivers/vfio/vfio.c

[2022-04-28 01:20] changpe1 commented on #2482
See the latest comments on https://lists.gnu.org/archive/html/qemu-devel/2022-04/msg02243.html, looks like the QEMU community will accept it shortly, the migration feature was removed for this version, is it? @tmakatos

[2022-04-28 01:47] pvonti opened #2488 "nvmf_tcp_qpair_handle_timeout: Assertion `tqpair->recv_state == NVME_TCP_PDU_RECV_STATE_ERROR' failed"
# Bug report

nvmf_tcp_qpair_handle_timeout: Assertion `tqpair->recv_state == NVME_TCP_PDU_RECV_STATE_ERROR' failed

## Expected Behavior

Controller shutdown from host using `nvme set-property /dev/nvme0n1 --offset=0x14 --value=0x464001`
with Read Write IOs on Namespaces should result in stopping the subsystem and aborting IOs of all qpairs on all poll groups of the subsystem and complete the com

[2022-04-28 01:49] changpe1 commented on #2481
There is no way that the llvm_nvme_fuzz application test cases to send the AER command, but when doing `spdk_nvme_connect`, the NVMe driver will send AER command during initialization, this issue may not related with llvm_nvme_fuzz test, we can test the case that  attach and detach a controller many times to see this issue happen or not.

[2022-04-28 02:07] ddwolf opened #2489 "db_bench cored, with exception of 'DATA SGL LENGTH INVALID'"
# Bug report

when I am issuing command `../rocksdb/db_bench --db=abc --benchmarks=fillrandom --num=10000000 --compression_type=none -spdk=rocksdb.json -spdk_bdev Nvme0n1 -spdk_cache_size=4096`, I got the Segmentation fault.

## Expected Behavior
db_bench can execute and return normally

## Current Behavior

[code]

## Possible Solution

## Steps to Reproduce

1. compile spdk
[code]
2. compile db_

[2022-04-28 02:24] Comphix commented on #2489
Looks like some chuecksum mismatch found

[2022-04-28 09:31:08.676905] nvme_qpair.c: 457:spdk_nvme_print_completion: *NOTICE*: DATA SGL LENGTH INVALID (00/0f) qid:1 cid:191 cdw0:0 sqhd:004f p:1 m:0 dnr:0
put error: Corruption: block checksum mismatch: expected 1662653421, got 2324967102  in abc/000053.sst offset 53042022 size 3999
using bdev Nvme0n1

[2022-04-28 02:25] Comphix commented on #2489
Hailiang, please first have a reproduction on latest SPDK code. Thanks, Gang.

[2022-04-28 02:28] changpe1 commented on #2489
I don't think we have a SSD drive can support 256KiB MDTS and hardware SGL feature, we can have a try with P5500 serial SSD, otherwise it doesn't make sense to us.

[2022-04-28 02:29] wanghailiangx commented on #2489
OK, I will have a look with P5500.

[2022-04-28 02:31] changpe1 commented on #2489
@ddwolf can you share your SSD models?

[2022-04-28 02:44] Comphix commented on #2488
Please @ksztyber take a look. Thanks.

[2022-04-28 02:49] ddwolf commented on #2489
@changpe1
[code]

[2022-04-28 02:53] ddwolf commented on #2489
After I turned down the --num parameter to 100, and turned up the hugepage to a much bigger number, I got the Hugepage warning away and the db_bench works fine.
` ../rocksdb/db_bench --db=abc --benchmarks=fillrandom --num=100 --compression_type=none -spdk=rocksdb.json -spdk_bdev Nvme0n1 -spdk_cache_size=4096 &> a
`

[2022-04-28 03:04] Bianyfan commented on #2481
Hi, @changpe1 thanks for your comments. Actually, I have a regression and find a related commit: https://review.spdk.io/gerrit/c/spdk/spdk/+/12017. In short, during fuzz side, we submit a command and set a cb to update status and break the loop when it complete. But in this procedure, we just mark it and fail this request without sending to the target layer. That means in fuzz side, it's no way to

[2022-04-28 03:04] changpe1 commented on #2472
Linux vfio kernel APIs for supporting live migration has a big change recently, as for vfio-user live migration, the QEMU related patches have been removed for the upstream version.

SPDK has fully live migration support and tested with branch `vfio-user-dbfix` https://github.com/oracle/qemu.git.

[2022-04-28 03:17] jimharris commented on #2481
Hi Yifan,

I posted a comment on the patch.  This patch may get this fuzz case to stop hanging, but am not sure it is valid.  We need to understand more about the exact sequence of commands that causes this hang.

-Jim

[2022-04-28 03:19] changpe1 commented on #2489
@ddwolf you may refer to https://github.com/spdk/spdk/issues/2377, Huawei SSDs has an issue when SGL is dword alinged.

[2022-04-28 03:44] changpe1 commented on #2435
close this one and leave #2372.

[2022-04-28 03:44] #2435 closed

[2022-04-28 04:14] jimharris commented on #2488
@pvonti, can you provide a test script that reproduces this with the upstream SPDK target?  This will make it easier for someone else to reproduce the problem you are seeing with your custom application.

Assigning to @pvonti for now, pending the reproduction script.

[2022-04-28 04:21] pvonti commented on #2488
Adding @mkotwani1

[2022-04-28 04:22] jimharris commented on #2489
Probably the SGL issue only happens with very specific buffer size/alignments.  So reducing the number of operations from 10M to 100 means it is much less likely to hit the SGL issue.

Can you try disabling setting of the SPDK_NVME_CTRLR_SGL_SUPPORTED flag in lib/nvme/nvme_ctrlr.c?  Just as a local patch - this will disable use of SGL and use PRP instead.  I think this may pass on your system.

[2022-04-28 04:28] dong-liuliu commented on #2485
@Bianyfan hi, Yifan, let's also watch on this issue

[2022-04-28 04:36] changpe1 commented on #2473
[Bug Scrub] Patch to fix it already merged, let's continue to see it fixed or not.

[2022-04-28 05:29] changpe1 commented on #2489
@ddwolf  can you try with https://review.spdk.io/gerrit/c/spdk/spdk/+/12405 to see this issue is still exist or not ?

[2022-04-28 06:23] Comphix commented on #2484
Looking at this issue.

[2022-04-28 06:44] spdkci commented on #2424
Another instance of this failure. Reported by @apaszkie. log: https://ci.spdk.io/public_build/autotest-per-patch_76160.html

[2022-04-28 06:47] spdkci commented on #2424
Another instance of this failure. Reported by @apaszkie. log: https://ci.spdk.io/public_build/autotest-per-patch_76161.html

[2022-04-28 07:37] ddwolf commented on #2489
@jimharris @changpe1 after apllying patch 12405, everything goes well to the end. Thanks you.

[2022-04-28 07:38] #2479 closed

[2022-04-28 07:44] ddwolf commented on #2485
finally, I got these directories and don't know how to remove them:)
[code]

[2022-04-28 07:46] kgodzwox commented on #2473
Checked the last 5 nightly runs. All `nvmf-phy-cvl-autotest/nvmf_failover` passed. Looks like it's fixed. Thanks

[2022-04-28 07:46] #2473 closed

[2022-04-28 08:07] Bianyfan commented on #2485
hi @ddwolf , thanks for your reporting. These files are just mountpoint you tested before but with a incorrect close, a simple way to remove is to use "umount fufs" and then you can remove like directory.

[2022-04-28 08:10] ddwolf commented on #2485
@Bianyfan that works, Great~

[2022-04-28 08:17] changpe1 commented on #2489
It should be very trivial, especially when data buffer is contiguous, but you can use SPDK examples/perf tool to have a test with or without this patch.

[2022-04-28 08:19] wanghailiangx commented on #2489
I have verified the user's steps with P5800(have no P5500) and P3700, can't reproduce the issue.
OS: Fedora 32
spdk: the latest
rocksdb: spdk-v6.10.2

[2022-04-28 08:22] changpe1 commented on #2489
@wanghailiangx   Only P5500 can be used for this test case.

[2022-04-28 09:02] ddwolf commented on #2489
------------------------------------
With the patch
------------------------------------
[code]
------------------------------------
Without the patch
------------------------------------
[code]
@changpe1 looks that the difference is tiny but obvious, min latency tends to be worse, right?

[2022-04-28 09:06] wanghailiangx commented on #2489
@ddwolf Once or twice the data is accidental. I suggest you test it several times to see the average difference.

[2022-04-28 09:21] tmakatos commented on #2482
Yes, migration is temporarily removed until it gets replaced by v2, so maybe we should fork QEMU in SPDK temporarily just to have an copy of the working migration code.

[2022-04-28 10:07] spdkci commented on #1950
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_76218.html

[2022-04-28 13:27] peluse commented on #2486
Potential workout is WIP...

[2022-04-28 14:22] spdkci commented on #2424
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_76272.html

[2022-04-28 14:58] kgodzwox opened #2490 "[vhost-autotest/autotest-nightly] [TEST vhost_scsi_lvol_integrity] Currently unable to find bdev with name: Nvme0n1, *ERROR*: Cannot create blobstore device"
# CI Intermittent Failure

**TEST vhost_scsi_lvol_integrity**
vhost-autotest/autotest-nightly

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-nightly_640.html
https://ci.spdk.io/public_build/autotest-nightly_639.html

It may be helpful. Both tests, where the problem occurred, were performed on the WFP4 machine. Build run on GP8 has passed:
https://ci.spdk.io/public_build/

[2022-04-28 15:14] kgodzwox opened #2491 "[crypto-autotest/autotest-spdk-v22.01-LTS-vs-dpdk-main] [TEST rpc] Reached maximum number of crypto devices"
# CI Intermittent Failure

**TEST rpc**
autotest-spdk-v22.01-LTS-vs-dpdk-main/crypto-autotest

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-spdk-v22.01-LTS-vs-dpdk-main_380.html
https://ci.spdk.io/public_build/autotest-spdk-v22.01-LTS-vs-dpdk-main_379.html
https://ci.spdk.io/public_build/autotest-spdk-v22.01-LTS-vs-dpdk-main_378.html

## Execution failed at

[code]

[2022-04-28 15:22] spdkci commented on #2483
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_76256.html

[2022-04-28 15:25] spdkci commented on #2424
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_76279.html

[2022-04-28 15:26] spdkci commented on #2424
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_76278.html

[2022-04-28 18:56] karlatec commented on #2491
Looks like a duplicate of https://github.com/spdk/spdk/issues/2258.
It's strange though, as 2258 was fixed around mid-January, so 22.01 release should have the fixes. Of course this could be a new issue presenting itself in the exact same way.

@tomzawadzki  could you take a look, as you already have experience with the topic?

@kgodzwox  could you please try to find the first spdk-22.01-vs-dpdk-m

[2022-04-28 19:20] karlatec commented on #2490
Looked through autotest-nightly history and it seems vhost-autotest always fails on WFP4.
At first I though something might be wrong with the NVMe drive (broken or missing), but all other tests before `vhost_scsi_lvol_integrity` pass.

Could you try taking WFP4 offline in Jenkins for a while and reproduce the fail manually, just to check if there are no messages missing from CI logs?

[2022-04-28 21:13] spdkci commented on #2424
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_76295.html

[2022-04-28 21:24] peluse commented on #2424
@karlatec you mentioned you updated the patch with some prints in it on the DPDK side, any hits on that yet that we can look at?

[2022-04-29 07:21] Bianyfan commented on #2481
Hi @jimharris , I reproduced this issue based on the crash with your patch. Exactly, it's related with the fused operation. I printed the fused field number was 2 and opc ==SPDK_NVME_OPC_CREATE_IO_SQ. In addition, I used number 1 for fused field with the same opc or different opc like SPDK_NVME_OPC_DELETE_IO_SQ to test and it hung up again. So I think we may not deal correctly with fused operation

[2022-04-29 08:10] spdkci commented on #2424
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_76271.html

[2022-04-29 08:35] changpe1 commented on #2481
@Bianyfan
Fuzz test to skip the FUSED bits is OK, but we should get it merged after the root cause of this issue.

Are you saying that with `OPC=SPDK_NVME_OPC_CREATE_IO_SQ and FUSED=2` can reproduce this issue?

[2022-04-29 11:21] spdkci commented on #2483
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_76340.html

[2022-04-29 12:19] spdkci commented on #1950
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_76345.html

[2022-04-29 13:11] tomzawadzki commented on #2491
This particular job uses `build_native_dpdk()` to build the latest DPDK. Any patches that are required for specific version of DPDK are applied there.

This particular failure was fixed in DPDK using https://review.spdk.io/gerrit/c/spdk/dpdk/+/11139.

Please compare https://github.com/spdk/spdk/blob/23c86a26104cd99f242621b46d5b3892080c0990/autobuild.sh#L190 from latest SPDK to https://github.com/s

[2022-04-29 15:16] mkotwani1 commented on #2488
@ksztyber Would it be possible to simulate something by adding a delay? I tried using a delay bdev, and upto a 100ms delay, but couldnt. Any way to make the bdev hold the abort as well?

[2022-04-29 16:48] mkotwani1 commented on #2488
Hi @jimharris, we are currently implementing it in our custom bdev - I went through the codepath and failure or success doesnt seem to make any difference for this particular issue - based on code walkthrough. I looked through malloc bdev and

In the reset case, is there a requirement from the custom bdev that existing outstanding IOs should be aborted as soon as it gets the reset, or will the com

[2022-04-29 17:04] jimharris commented on #2488
The bdev layer only aborts I/Os that have been queued at the bdev layer and have not been submitted yet to the bdev module.  It will not try to abort any I/O still outstanding after the reset.

The SPDK_BDEV_IO_TYPE_RESET op is async, so you have flexibility on how you handle it.  You could just start aborting outstanding I/O when you get the reset, and wait to complete the RESET op until all of t

[2022-04-29 17:42] mkotwani1 commented on #2488
Thanks @jimharris - had a basic question: Couldnt the bcommon dev layer have called into the custom bdev for each outstanding IO that is in the custom bdev right now, collated all responses and then sent a response to the reset? It would have saved each custom bdev doing its own thing. For cases where the bdev wants control, send the reset to the bdev itself or maybe some other mechanism to be abl

[2022-04-29 17:52] jimharris commented on #2488
I think that would be a fine addition to the bdev layer, and would welcome you to submit patches to do that.  ;-)

This would need to be opt-in behavior though - not all bdev modules may want to take this approach.

[2022-04-30 18:13] fangli opened #2492 "Setting scheduler back to `static` from `dynamic` doesn't re-distribute threads evenly to all reactors"
# Bug report

**Reproduce step is simple as below:**

[code]

**Current Behaviour:**

Then look at the CPU or spdk_top, all threads still reside on a single CPU core.

**Expected Behaviour:**

When setting scheduler back to `static`, threads should be re-distributed evenly to all reactors again.

-----

Just a thought, we probably want to call `_move_thread` explicitly when scheduler is set to `st

[2022-04-30 20:51] spdkci commented on #2456
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_76371.html

[2022-04-30 20:53] spdkci commented on #2483
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_76374.html

[2022-05-02 17:36] jimharris commented on #2492
Currently "static" is just defined and implemented as "keep the threads where they are and don't move them".  This should be clarified in the docs.

[code]

I think what you are really expecting or wanting is the ability to revert the thread placement back to what it was when the application started.  This is not necessarily an even distribution across all reactors, and is not easily done by the s

[2022-05-02 20:01] #2489 closed

[2022-05-02 21:41] mhae opened #2493 "nvmf/rdma: Intermittent connect issues between kernel initiator and SPDK nvmf target"
# Bug report

Connecting to a large number of subsystems (~24) via the kernel initiator to the SPDK nvmf target fails intermittently:

When I connect to the remote target, I sometimes get this timeout error.
[code]

The corresponding kernel log shows this:
[code]

I've also seen this error when I used -i 64 on the nvme connect-all command line:
[code]
When I get the above error, nvmf_tgt shows one

[2022-05-02 21:57] shuhei-matsumoto commented on #2360
Hi @mhae @benlwalker @jimharris @AlekseyMarchuk

I realized the second and third lines of the Michael's following idea:

disable the device ctrlr (EN 1->0 and wait until RDY=0)
continue with the original reset sequence (destroy qpairs, perform controller reinit)

https://review.spdk.io/gerrit/c/spdk/spdk/+/12446
https://review.spdk.io/gerrit/c/spdk/spdk/+/12447

I believe NVMe-oF controllers do no

[2022-05-03 00:09] fangli commented on #2492
Thanks Harris! I understand that. Sounds reasonable just feel a bit weird
A user can't go back to its original status once dynamic is set, so the `static` and `dynamic` seems to be a one-way door, meaning `static` is more like a `pause` status for current scheduler.

I'm closing the issue as it's an expected feature.
Thanks again.

[2022-05-03 00:23] jimharris commented on #2492
Would you be OK if we leave this open, but mark as enhancement request?  I don't think we should implement this as part of the static scheduler, but maybe we could have an RPC that gets the current thread/reactor assignments and another RPC that can specifically move thread X to reactor Y.  We could have a helper script then to enable setting up any specific thread-to-reactor topology.  I could th

[2022-05-03 01:03] fangli commented on #2492
This is a brilliant idea! It also gives user more precise control or implement their own logic with simple scripts.

Looking forward to seeing it soon.

[2022-05-03 10:43] tmakatos opened #2494 "nvmf/vfio-performance lower than virtio-scsi"
I'm using eef6af95d to compare the performance of nvmf/vfio-user to virtio-scsi from within a guest, specifically single I/O random read IOPS. With virtio-scsi I get 560K IOPS while with nvmf/vfio-user I only get 370K IOPS. Using a custom virtio-scsi implermentation instead of SPDK's, I get over 930K IOPS, while nvmf/vfio-user only goes up to 383K IOPS.

The nvmf/vfio-user and virtio-scsi disks ar

[2022-05-03 12:01] tmakatos commented on #2494
I've reduced the frequency of calling `vfio_user_poll_vfu_ctx` to one millionth and IOPS shot up to over 1M IOPS.

[2022-05-03 15:07] jimharris commented on #2494
[Bug scrub] We should be able to reduce polling on this vfu_ctx to once every millisecond or so, if the doorbells are mapped.  We could also make this somewhat adaptive to be more responsive when we expect a sequence of register writes - i.e. controller reset.  In that case we could change the frequency temporarily.  But for now just reducing this to a 1ms polling period would be sufficient.

If t

[2022-05-03 15:07] jimharris commented on #2494
Assigning to @tmakatos for now, for the polling period change.  We can reassign later for the interrupt mode.

[2022-05-03 15:12] jimharris commented on #2493
[Bug scrub] Alexey: do you see anything in dmesg on target side?
Michael: no

Alexey: usually we see these GID table change messages when some change is made on the physical port
Michael: I'm not making any changes to physical port while this test is running

Michael: could this be related to DHCP?
Alexey: it's possible, IP address change could cause this kind of message

Alexey: I'll take a look

[2022-05-03 15:23] jimharris commented on #2490
[Bug Scrub] Assigning to @karlatec for now.  @karlatec - if this needs more analysis on the test/logs itself, please assign to me.

[2022-05-03 15:24] jimharris commented on #2485
@ddwolf - is this issue resolved for you now?  If so can we close this issue?  Thanks.

[2022-05-03 15:26] jimharris commented on #2483
[Bug scrub] @jimharris will take a look.  We know there are cases where /dev/shm can run out of space, but it is less clear how 'permission denied' could happen.

[2022-05-03 16:10] mhae commented on #2493
I think I found the issue... when I set up the IP address for the device via nmcli/nmtui, I did not change the "method" setting (ip4.method). It stayed at "automatic". After changing it to "manual", I no longer see the "Async event: GID table change" messages and the connects work fine.
Now as a test, I changed the method back to "automatic" and everything continues to work fine (no "Async event:

[2022-05-03 16:10] #2493 closed

[2022-05-03 17:07] benlwalker commented on #2360
I would rather avoid creating yet another family of reset APIs. We should be able to fix this bug using the existing spdk_nvme_ctrlr_reset() and spdk_nvme_ctrlr_disconnect() calls we already have. I'll get my series rebased again.

[2022-05-03 17:22] mhae commented on #2360
@benlwalker, thanks for taking a look. I'm not sure we'd be creating a new set of reset APIs... it just introduces an intermediate step to really ensure that the controller doesn't complete anything.

[2022-05-03 17:51] shuhei-matsumoto commented on #2360
Hi @benlwalker Will you avoid any change for transports other than PCIe? This issue is only for PCIe controller

[2022-05-03 17:52] peluse opened #2495 "lib/nvmf/vfio user: Validate count, Register read writes - one byte read"
In vfio_user_property_access() we are not validating the input var count so a one byte read here:

req->req.cmd->prop_set_cmd.attrib.size = (count / 4) - 1;

would be bad.

[2022-05-03 17:54] shuhei-matsumoto commented on #2360
And I agree with @mhae. We just introduce an intermediate step into the current reset sequence only for PCIe controller. I believe our bug is only this step is missing for PCIe transport

[2022-05-03 17:57] peluse opened #2496 "lib/nvmf/vfio user: Reduce poll frequency for vfu_ctx_poller"
or make it more adaptive, a bad actor sending too much junk (incoming vfio-user messages) could potentially bog down the system.

[2022-05-03 18:11] benlwalker commented on #2360
There are new nvme APIs being added to include/spdk/nvme.h in those patches - that's what I want to avoid. We already have reset APIs defined.

My changes should not impact fabrics. We can keep a close eye on behavior changes there during the review.

[2022-05-03 18:40] benlwalker commented on #2360
We already have `spdk_nvme_ctrlr_disconnect()` in the public API, which is the same conceptual operation. We always try and keep fabrics and PCIe unified behind one set of APIs, although sometimes that makes the choice of names very difficult.

Unfortunately, I just looked and this does not seem to do the right thing for PCIe (which would be to set EN to 0 - that's how you disconnect the admin que

[2022-05-03 20:33] jimharris commented on #2481
I root caused this test failure today.  It found a real bug in the misordered fused command handling on the target.

https://review.spdk.io/gerrit/c/spdk/spdk/+/12452 is the fix.  The commit message describes the problem:

[code]

This patch set also includes a fix to force FUSE bits on fuzzer 0 (admin cmd fuzzing) to zero always.  If the last fuzzed command has FUSE=1, the keep alive will eventua

[2022-05-03 21:03] spdkci commented on #2424
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_76414.html

[2022-05-04 04:21] jimharris commented on #2456
The assert that is failing should be removed.  See commit message on https://review.spdk.io/gerrit/c/spdk/spdk/+/12454:

[code]

[2022-05-04 06:35] shuhei-matsumoto commented on #2360
@benlwalker Thank you, to keep using the current public API is important and nice. I want to do that. However, I have one issue.

We need to keep calling `nvme_ctrlr_process_init()` until CSTS.RDY becomes 0. `spdk_nvme_ctrlr_process_admin_completions()` is allowed to call `nvme_ctrlr_process_init()` until CSTS.RDY becomes 0? `nvme_ctrlr_process_init()` calls `spdk_nvme_ctrlr_process_admin_completi

[2022-05-04 08:03] #2388 closed

[2022-05-04 09:49] ddwolf commented on #2485
This issue has been Solved, you can close it now, thank you so much.

On Tue, May 3, 2022 at 11:24 PM Jim Harris ***@***.***> wrote:

[2022-05-04 11:57] tmakatos commented on #2494
https://review.spdk.io/gerrit/c/spdk/spdk/+/12494

[2022-05-04 12:10] spdkci commented on #2424
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_76445.html

[2022-05-04 12:32] spdkci commented on #2424
Another instance of this failure. Reported by @sberbz. log: https://ci.spdk.io/public_build/autotest-per-patch_76334.html

[2022-05-04 12:53] #2485 closed

[2022-05-04 13:11] spdkci commented on #2424
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_76443.html

[2022-05-04 13:47] spdkci commented on #2424
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_76458.html

[2022-05-04 13:48] mhae commented on #2360
Re 1) If we don't reuse nvme_ctrlr_process_init and just set CC.EN=0 and wait for ready==0, then we wouldn't have this issue, correct? In older versions, there wasn't a completion check for the adminq for disabling the controller.

[2022-05-05 00:45] changpe1 commented on #2494
Indeed polling the socket fd too frequently will cause performance issue, it's a good fix, just wondering why I can't produce similar performance result in my test environment, see https://github.com/spdk/spdk/issues/2477, I also tried some tests between vfio-user NVMe and vhost-user BLK.

[2022-05-05 01:05] Comphix commented on #2496
Is this similar issue of #2494?

[2022-05-05 01:09] #2496 closed

[2022-05-05 05:57] karlatec commented on #2424
@peluse sorry for no updates for a while. I scheduled many re-runs but I was unable to reproduce the issue with spdk/dpdk patch applied.

[2022-05-05 06:49] ksztyber opened #2497 "[VM-host-CH2] Fetch failure: premature end of Content-Length delimited message body"
# CI Intermittent Failure
Failed to fetch the sources on VM-host-CH2. Supposedly, this only happens on CH machines. @xjjx says it should already be fixed, but opening the issue to have something to link as a false positive.
[code]

## Link to the failed CI build
https://ci.spdk.io/results/autotest-per-patch/builds/76472/archive/scanbuild-vg-autotest/build.log
https://ci.spdk.io/public_build/autote

[2022-05-05 06:50] spdkci commented on #2497
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_76472.html

[2022-05-05 06:53] spdkci commented on #2456
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_76468.html

[2022-05-05 06:53] junwenx commented on #2481
@jimharris @changpe1 @Bianyfan @Comphix Thank you for the help, I tried to pull Jim patch on local, and run pass, it looks like fix the issue. Thanks!

[2022-05-05 06:54] spdkci commented on #2424
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_76474.html

[2022-05-05 06:57] ksztyber opened #2498 "[connect_stress] member access within null pointer of type 'struct spdk_nvmf_qpair'"
# CI Intermittent Failure
[code]

## Link to the failed CI build
https://ci.spdk.io/results/autotest-per-patch/builds/76480/archive/nvmf-tcp-vg-autotest/build.log
https://ci.spdk.io/public_build/autotest-per-patch_76480.html

[2022-05-05 06:58] spdkci commented on #2498
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_76480.html

[2022-05-05 07:08] xjjx commented on #2497
Patch is waiting for review.
On CH* machines we back to standard git clone because this issue happen when we transfer package with sources, seems that internal network is a little unstable :)

[2022-05-05 07:11] #2481 closed

[2022-05-05 07:24] spdkci commented on #2497
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_76464.html

[2022-05-05 07:27] spdkci commented on #2453
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_76510.html

[2022-05-05 07:37] AlekseyMarchuk commented on #2467
Hi @karlatec, did you have a chance to update nvme modules and retest this issue?

[2022-05-05 08:15] karlatec commented on #2467
@AlekseyMarchuk  not yet. I have this planned for next week.

[2022-05-05 09:14] spdkci commented on #2424
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_76556.html

[2022-05-05 09:39] spdkci commented on #2497
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_76564.html

[2022-05-05 09:41] spdkci commented on #2453
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_76570.html

[2022-05-05 09:42] spdkci commented on #2424
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_76575.html

[2022-05-05 10:29] spdkci commented on #2424
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_76584.html

[2022-05-05 10:35] xjjx commented on #2497
Patch has been merged. It should work better from now.

[2022-05-05 10:56] spdkci commented on #2497
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_76592.html

[2022-05-05 11:19] kgodzwox opened #2499 "[crypto-autotest/autotest-nightly] [TEST compress_qat] vbdev_compress.c: 440:_reduce_rw_blocks_cb: *ERROR*: status -22 on operation from reduce API"
# Bug report
Issue appeared during test execution

vbdev_compress.c: 440:_reduce_rw_blocks_cb: *ERROR*: status -22 on operation from reduce API

**TEST compress_qat**
autotest-nightly/crypto-autotest

# Link to the failed CI build
https://ci.spdk.io/results/autotest-nightly/builds/667/archive/crypto-autotest/build.log
https://ci.spdk.io/results/autotest-nightly/builds/668/archive/crypto-autotest/b

[2022-05-05 11:40] kgodzwox opened #2500 "[crypto-autotest/autotest-spdk-v22.01-LTS-vs-dpdk-main] [TEST json_config] vbdev_crypto.c:520:2: runtime error: store to null pointer of type 'struct spdk_bdev_io *'"
# CI Intermittent Failure

Due to a bug described in #2491, patch https://review.spdk.io/gerrit/c/spdk/spdk/+/12496 has been prepared. Patch backports the change from: https://review.spdk.io/gerrit/c/spdk/spdk/+/12159

This issue appeared later when testing the patch (it fixes #2491). It is basically the same as described in #2412.

## Link to the failed CI build

https://ci.spdk.io/public_build/a

[2022-05-05 13:07] spdkci commented on #2497
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_76573.html

[2022-05-05 13:22] peluse commented on #2500
will do!

[2022-05-05 13:25] peluse commented on #2424
@karlatec that's strange, OK keep me posted :)

[2022-05-05 13:59] spdkci commented on #2424
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_76614.html

[2022-05-05 14:03] spdkci commented on #2453
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_76616.html

[2022-05-05 18:13] karlatec commented on #2424
@peluse  I don't think I'm going to be able to keep you posted :) Between my last comment over a week ago and today I've tried to reproduce this several times a day, so looks like it's not reproducible with this combination of patches.

[2022-05-06 00:54] yidong0635 commented on #2498
That's very strange  if ctrlr->admin_qpair==NULL, it will continue the next loop.

[2022-05-06 03:59] shuhei-matsumoto commented on #2360
Thank you Michael. 1) may be not issue. I will prioritize minimizing the code change. I want to try realizing the fix without any API change and without any  NVMe-oF change as I already said.

[2022-05-06 07:17] spdkci commented on #2424
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_76609.html

[2022-05-06 08:19] Second222None opened #2501 "Cannot copy large file into VM when using SPDK with OCF"
# Bug report

When copying a large file (~4000MB) into VM disk provided by SPDK with OCF, vhost outputs the following:
[code]
The log comes from `src/engine/engine_wb.c:108`.

BTW, there is no error for small files.

## Expected Behavior

## Current Behavior

## Possible Solution
No idea for the time being.

## Steps to Reproduce

1. /root/spdk/scripts/rpc.py bdev_nvme_attach_controller -b Nvme0 -

[2022-05-06 09:34] spdkci commented on #2050
Another instance of this failure. Reported by @wanghailiangx. log: https://ci.spdk.io/public_build/autotest-per-patch_76686.html

[2022-05-06 12:02] shuhei-matsumoto commented on #2360
The patches have bugs and are not ready to review yet. Sorry for inconvenience. Please ignore my comment for now.

[2022-05-06 14:25] Comphix commented on #2484
WIP patch raised: https://review.spdk.io/gerrit/c/spdk/spdk/+/12573

[2022-05-06 19:55] benlwalker commented on #2360
The nvme library already does the right thing with the queue pairs if you just do a reset without deleting the queues. It will correctly delay aborting any outstanding commands until after the reset. So I don't think we need to introduce a way to disable/disconnect the controller and wait for RDY to go to 0 independent of the existing logic in spdk_nvme_ctrlr_reset().

Here's the series I submitte

[2022-05-06 20:10] shuhei-matsumoto commented on #2360
Hi @benlwalker

I do not think the state machine you introduced is critical to fix this issue. Is it possible to remove that from your series? For NVMe-oF, we do not have this issue. So we do not need to change anything. Please do not change for NVMe-oF.

[2022-05-06 20:18] benlwalker commented on #2360
I'd like to proceed with the state machine. It is not part of this bug fix, but it is a major improvement to the code design in this area and will make future changes much simpler. I've already delayed the state machine change for a considerable amount of time, and we have plenty of time before the next release to make a change like that.

Can we all review the state machine change independently f

[2022-05-06 21:22] shuhei-matsumoto commented on #2360
Hi @benlwalker, I read your patches before but it was incomplete because I had many issues at that time. The patches were too big change when I was developing multipath. Got it. I will surely review your series in detail again next week. My changes were intended to make us to only disconnect/connect I/O qpairs at reset. So I agree with your direction.  See you next week.

[2022-05-06 23:13] #2456 closed

[2022-05-07 23:30] jlevon commented on #2459
https://github.com/nutanix/libvfio-user/pull/667

[2022-05-07 23:30] jlevon commented on #2459
Only just noticed the previous fix from @jimharris but I still prefer mine as it reduces dependencies.

[2022-05-09 00:42] NiuYawei opened #2502 "spdk_subsystem_fini() takes very long time to complete"
# Bug report

We recently observed that on some installation, spdk_subsystem_fini() takes more than 100 seconds to complete, it usually takes only few seconds on other installations.

## Expected Behavior

I was expecting that few seconds are enough for spdk_subsystem_fini() to complete.

## Current Behavior

spdk_subsystem_fini() takes more than 100 seconds on some installations (with VMD enabled

[2022-05-09 06:12] ye1xchen opened #2503 "[idxd_perf] idxd_perf core dumped"
# Bug report

./build/examples/idxd_perf Segmentation fault (core dumped)
## Expected Behavior

idxd_perf test normally.

## Current Behavior
./build/examples/idxd_perf  -q 32 -o 4096 -t 5 -w copy -k
EAL: No free 2048 kB hugepages reported on node 1
EAL: No available 1048576 kB hugepages reported
TELEMETRY: No legacy callbacks, legacy socket not created
Segmentation fault (core dumped)

dmesg | ta

[2022-05-09 06:13] ye1xchen commented on #2329
validation with Latest SPDK master(commit 68184a50306837386008844698fcaf236659041f), the error is different, close it, and open new issue https://github.com/spdk/spdk/issues/2503

[2022-05-09 06:13] #2329 closed

[2022-05-09 07:46] karlatec commented on #2490
Re-assigning to @kgodzwox. Could you please see if this still reproduces and try to narrow down what might be the issue?

[2022-05-09 09:45] karlatec commented on #2467
Seems to be OK under `5.17.5-200.fc35.x86_64`.
The other way to make it work under `5.16.X.fc35.x86_64` was to increase `sleep`  by 1 second in `autotest_common.sh` waitforserial() function.
There's even a comment there already about similar issue #2060:
[code]

Looking at the dmesg output I submitted in the report I believe that the kernel might be presenting the connected block device as "ready"

[2022-05-09 16:17] jimharris commented on #2502
Hi @NiuYawei,

The fini code path in the bdev nvme module synchronously detached controllers one at a time in the v21.07 release (using spdk_nvme_detach() API).  Detach process issues a shutdown notification to the controller, and response time from the SSD on the shutdown can vary widely between different models of SSDs.  So this could explain why some systems may take longer for subsystem_fini t

[2022-05-09 20:45] #2494 closed

[2022-05-09 21:31] yumingqiao opened #2504 "IO hang while using multiple crypto bdevs"
# Bug report

We are trying to use a crypto bdev on top of a aio bdev to handle our IO; we are using vhost-user target. We created multiple(7) crypto bdevs. When we run IO(with fio) with the 7 crypto bdevs concurrently. We notice that some bdevs IO will hang. From SPDK log, we can see `May 05 21:50:55 aks-spdk64en2cpu-35478896-vmss000000 spdk[44984]: vbdev_crypto.c: 719:_crypto_operation: *ERROR*:

[2022-05-09 23:06] spdkci commented on #2483
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_76754.html

[2022-05-10 00:54] NiuYawei commented on #2502
Thanks for the info, Jim. We've scheduled a SPDK upgrade for later version, and I suppose this problem will be largely alleviated then.

[2022-05-10 00:59] NiuYawei commented on #2502
The problem is addressed since v21.10 by detaching all devices in parallel, let's close this one.

[2022-05-10 00:59] #2502 closed

[2022-05-10 01:04] Comphix commented on #2484
Patch is under review. @mhae will you have a try to verify this. Thanks.

[2022-05-10 02:10] wanqunintel opened #2505 "[spdk compile issue]spdk compile failed with error"
# Bug report
spdk compile failed with error

## Expected Behavior
spdk should pass compilation

## Steps to Reproduce

1. yum install bpftrace libubsan
2. git clone https://github.com/spdk/spdk.git
3. git submodule update --init
4. ./configure --enable-debug --enable-werror --with-rdma --with-idxd --with-fio=/home/qwan/utils/fio --with-iscsi-initiator --disable-unit-tests --enable-ubsan --enable-c

[2022-05-10 02:21] changpe1 commented on #2505
Are you using gcc as the compiler?

[2022-05-10 02:25] wanqunintel commented on #2505
yes, i think so.

[2022-05-10 02:28] spdkci commented on #2140
Another instance of this failure. Reported by @richael02. log: https://ci.spdk.io/public_build/autotest-per-patch_76819.html

[2022-05-10 02:31] wanqunintel commented on #2505
i tried to recompile the fio and also recompile the spdk, now it passed. sorry for the confusion.

[2022-05-10 02:39] mhae commented on #2484
Sure, do we think this is pretty close? It’s going to take quite a bit of time to integrate the patch and set up the test.

[2022-05-10 02:57] jimharris commented on #2484
Hi @mhae I haven’t reviewed the patch yet, let me take a look first and will let you know when we think it’s ready for your integration and test.

[2022-05-10 03:02] Comphix commented on #2505
Issue solved. Close it.

[2022-05-10 03:02] #2505 closed

[2022-05-10 03:14] Comphix commented on #2503
Looking at this issue.

[2022-05-10 03:27] Comphix commented on #2503
First tried the userspace idxd and there is no issue.

# ./build/examples/idxd_perf -q 1 -o 4096 -t 5 -w copy -r 1
EAL: No free 2048 kB hugepages reported on node 1
EAL: No available 1048576 kB hugepages reported
TELEMETRY: No legacy callbacks, legacy socket not created
idxd device=0xcf9270 is bound on core=0
Notice: we cannot let single worker assign idxd devices
more than 1, you need use -r whil

[2022-05-10 03:32] Comphix commented on #2503
Using kernel idxd driver, the impl is not set.

(gdb) p idxd->impl
$2 = (struct spdk_idxd_impl *) 0x0 <<<<<

[code]

[2022-05-10 03:49] spdkci commented on #2424
Another instance of this failure. Reported by @richael02. log: https://ci.spdk.io/public_build/autotest-per-patch_76824.html

[2022-05-10 04:08] Comphix commented on #2503
Looks like in the kernel_idxd_probe() kernel probe operation, the impl is not set.

[2022-05-10 04:23] shuhei-matsumoto commented on #2484
Hi @jimharris I reviewed the patch today. The following is my feedback.
- we can exclude ch->queued_resets from abort iteration. ch->queued_resets is fixed by another patch https://github.com/spdk/spdk/commit/494eb6e58b8e72762d0a2127f2657926298e2523
- we can execute abort iteration after bdev_unregister_unsafe() returns 0.

Both are slightly different from your idea.

[2022-05-10 05:28] karlatec commented on #2467
I've also hit this issue with nvmf/tcp so it's not exclusive to rdma tests. Must be something in kernel block layer I guess.
Here's a workaround: https://review.spdk.io/gerrit/c/spdk/spdk/+/12587

[2022-05-10 05:40] MengjinWu commented on #2430
I am watching on it.

[2022-05-10 07:14] Comphix commented on #2484
Thanks Shuhei for the comments. Let's wait Jim's feedback. For the abort of resets, it's slightly different, here related change is to handle the case that the reset is aborted due to the unregister operation.

[2022-05-10 07:33] ksztyber commented on #2497
Closing since the patch has been merged almost a week ago.

[2022-05-10 07:33] #2497 closed

[2022-05-10 07:34] spdkci commented on #2424
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_76833.html

[2022-05-10 07:36] shuhei-matsumoto commented on #2484
Hi @Comphix It may be not intuitive. An outstanding reset request is also in the ch->queued_resets. The outstanding reset request is not queued but can complete by itself. So I think we do not need to abort the outstanding reset request. When the outstanding abort request completes, it aborts all pending reset requests. The unregister operation and the reset request do not need to stop each other.

[2022-05-10 08:08] jumpapex opened #2506 "spdk_thread not destroyed after call spdk_thread_exit in interrupt mode"
# Bug report

1. call spdk_interrupt_mode_enable() to enable interrupt mode.
2. create a spdk_thread with by spdk_thread_create.
3. call spdk_thread_exit on it. the spdk_thread is not destroyed until app exit.

## Expected Behavior
spdk_thread should be destroyed after call spdk_thread_exit on it.

## Current Behavior
spdk_thread not destroyed after call spdk_thread_exit, it will be destroyed unti

[2022-05-10 09:18] skypexu commented on #811
This really does not fix the problem. Because  SPDK_MSG_MEMPOOL_CACHE_SIZE is 1024, this means per thread can have at most 1024 entries cached, and g_spdk_msg_mempool only has 65536 entries, so 10 threads caches 10240 entries, 65 threads can exhaust the messages resources!

[2022-05-10 11:49] xjjx commented on #2482
Branch has been changed so issue is no longer valid. Closing.

[2022-05-10 11:49] #2482 closed

[2022-05-10 12:01] spdkci commented on #1950
Another instance of this failure. Reported by @rafalste. log: https://ci.spdk.io/public_build/autotest-per-patch_76768.html

[2022-05-10 13:10] easylyou opened #2507 "possible use-after-free in lib/blob/blobstore.c:73"
# Bug report

Hi!
We are using improved fuzzing technology with fault injection.

Different from traditional fuzzing, fault injection can test error-handling codes while the errors happen in some extreme conditions. (such as malloc() return NULL when out of memory). So it is hard to reproduce without our fault injection environment. I try to analysis the related codes to find the cause but not sur

[2022-05-10 13:30] peluse commented on #2504
@yumingqiao since you can repro this pretty easily, can you try and simplify the steps a bit and see if it still happens? (use local bdevperf, find the minimal num of bdevs that work, etc)?

[2022-05-10 13:47] peluse commented on #2503
I'l look into it

[2022-05-10 13:50] xjjx commented on #2437
I have tried to reproduce this issue on this particular machine (GP6) and same CI job. Since this patch from last occurrence has been already merged, I used "master" branch for tests. Unfortunately all test passed without problem, so I can't reproduce this issue.

[2022-05-10 13:56] peluse commented on #2503
Still works fine for me, see output below.  Can you please provide th output for **each** of your accel_config steps? Also I just noticed WQ size of 16.  Any reason for this change from the directions? I doubt its causing an issue but it's not the value I used.

[peluse@fedora spdk]$ ./build/examples/idxd_perf -q 32 -o 4096 -t 5 -w copy -k
EAL: No free 2048 kB hugepages reported on node 1
EAL: No

[2022-05-10 14:08] peluse commented on #2503
Still works for me on master using the correct cmd line this time, see below.  Please provide the output for each of the accel_config steps, also why was 16 used for wQ size? Doubt this is the problem but please try using the directions provided on spdk.io

[peluse@fedora examples]$ sudo ./idxd_perf -q 32 -o 4096 -t 5 -w copy -k
EAL: No free 2048 kB hugepages reported on node 1
EAL: No available 1

[2022-05-10 14:14] Comphix commented on #2503
The commit id in my reproduction is:

commit 0849aadceb820b8390902a2f06999c6eced94c6d (HEAD -> bugfix_50, origin/master, origin/HEAD, master)
Author: John Levon <john.levon@nutanix.com>
Date:   Thu May 5 23:34:41 2022 +0100

    nvmf/vfio-user: clarify CQ in handle_queue_connect_rsp()

For the accel_config, below are the steps that I follow Chen Ye's usage:

[code]

BTW: looks like there is no dat

[2022-05-10 15:27] peluse commented on #2503
Hmm, OK I get output, see below. Anyway, can you please test on master and confirm it works for you there too.  I don't know why it doesn't work with this unrelated patch but we really shouldn't be opening issue on patches out for review especially when the issue has nothing to do with the patch.  I'd prefer for this to land first. I did try a quick rebase on master and it still fails but once thi

[2022-05-10 18:30] spdkci commented on #2424
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_76887.html

[2022-05-10 18:47] spdkci commented on #2453
Another instance of this failure. Reported by @spdkci. log: https://ci.spdk.io/public_build/autotest-per-patch_76900.html

[2022-05-10 19:10] karlatec commented on #2424
@peluse any ideas how we can get this moving forward?
Could this be, by any chance, some timing/race issue which is masked by adding the prints? I know prints don't take much processing time, but still...

[2022-05-10 21:30] jimharris commented on #2507
This is the *pages allocation in blob_serialize_add_page().

blob_serialize()

blob_persist_generate_new_md()

blob_persist_start()

blob_persist_check_dirty()

blob_persist()

spdk_blob_close()

@tomzawadzki - can you check this code path for proper error handling when the *pages allocation fails?

[2022-05-10 23:07] Comphix commented on #2503
Sorry for the confusion, above commit id is from the master and I've created my local working Repo here.

Will rebase again to the master and have another testing.

Especially for below config-wq operation, is this all right or any suggested setting?

Thanks.

accel-config config-wq --group-id=0 --mode=dedicated --wq-size=16 --type=user --name="MyApp1" --priority=10 --block-on-fault=1 dsa0/wq0.1

[2022-05-10 23:16] Comphix commented on #2503
Just rebased to master as following commit id

[code]

It still hit the same issue.

Is there any difference with the accel-config operations or DSA hardware?

[2022-05-10 23:21] peluse commented on #2503
Thanks, accel_config just configured the work queues so I'm sure it's possible to screw something up but can't say I've tried a bunch of crazy things.  I don't understand why that patch even rebased fails but master works.  Did you try master yet?

[2022-05-10 23:22] peluse commented on #2503
I'l pull the rebased patch and dig in a bit more too

[2022-05-10 23:44] jimharris commented on #811
There are ways to configure the number of messages allocated in the pool (spdk_thread_lib_init_ext(), spdk_app_opts::msg_mempool_size), which partially solves this problem if the developer is using those APIs already.  The thread library does not export anything about the number of msg objects it caches per spdk thread, which the developer would need to understand how to size the mempool.

For in-

[2022-05-11 00:17] peluse commented on #2503
I believe this patch is the culprit but I don't have a fix yet.  @benlwalker its clear where setting of th the kernel impl was removed from _kernel_idxd_probe() but not sure why nothing was added but I haven't gone through it in painstaking detail yet

https://review.spdk.io/gerrit/c/spdk/spdk/+/11537

[2022-05-11 00:21] jimharris commented on #2484
I agree, we don't need to abort the queued_resets in this path.  I posted some other comments too.  Ultimately we really need a unit test that exactly reproduces the scenario that @mhae has described here.

[2022-05-11 00:22] peluse commented on #2503
FYI if you fwd declare the g_kernel_idxd_impl struct and add the following line into kernel_idxd_probe() right after kenrel_idxd struct si allocated it works.  Don't know what else might be missing so lets have Ben take another look at his patch

kernel_idxd->idxd.impl = &g_kernel_idxd_impl;

[2022-05-11 00:45] Comphix commented on #2503
Yes, for this change, had a try yesterday, however it seems that the testing could not exit normally.

Looks like the IO is not really completed so that the CurrentQueueDepth is larger than 0 and the tests cannot exit.

The core dump itself could be fixed by this impl set.

Still need to understand more about this issue.

[2022-05-11 00:49] peluse commented on #2503
OK, my day is done.  If you get a chance maybe revert the whole patch and see how things run.  I just did that quick 2 liner and it seemed fine

[2022-05-11 01:44] optimistyzy commented on #2503
This patch is the root cause.  As Gang described, idxd->impl is missed setting.

By the way, in my mind mind, we should not restrict the WQ usage to 1 with this patch.  In idxd.c, when getting the channel in generic layer (idxd), it can be based on WQ. So even if users configure many WQs in the kernel,  the  spdk accel framework can still leverage many WQs well.

Also without this patch, the test

[2022-05-11 07:14] spdkci commented on #2497
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_76935.html

[2022-05-11 07:24] spdkci commented on #2424
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_76930.html

[2022-05-11 08:18] spdkci commented on #1950
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_76940.html

[2022-05-11 13:43] KKaras169169 commented on #2460
Reproduced it on my side. SPDK has a problem with spdk-21.05 and spdk-22.3 branches of DPDK as well. DPDK submodule by itself builds just fine on Fedora36, so the problem is solely on how we build this submodule with SPDK. I will try to find a way to break the building process without using SPDK, before submitting the issue to the DPDK's bug tracker.

[2022-05-11 18:13] peluse commented on #2503
Thanks for jumping in @optimistyzy Ziye!!!!

[2022-05-11 19:57] jimharris commented on #2477
Performance issue reported here has been resolved, so closing this issue.

[2022-05-11 19:57] #2477 closed

[2022-05-11 20:06] jimharris commented on #2464
This problem has been fixed with patches from @kgodzwox in our DPDK submodule for now.  DPDK has also fixed this upstream, so we'll be able to switch to that fix when we update our DPDK submodules to the latest DPDK release.

[2022-05-11 20:06] #2464 closed

[2022-05-11 20:08] jimharris commented on #2392
@changpe1 @karlatec Is this issue still occurring?

[2022-05-11 20:14] jimharris commented on #2325
Hi @dong-liuliu, and update on this issue?

[2022-05-11 20:16] jimharris commented on #2263
@benqwu, if this issue still exists, please provide the information requested by @AlekseyMarchuk.  Or if it is resolved, please close this issue.  Thanks!

[2022-05-11 20:22] jimharris commented on #2249
@changpe1 @wanqunintel Is this issue still valid?

[2022-05-11 20:48] peluse commented on #2503
Wrong impl @benlwalker  we're not talking about g_idxd_impl we're talking about the pointer to the either user or kernel imply that gets stuffed into the kernel_idxd struct.  See the patch mentioned above and the LOC I mentioned that got removed.

[2022-05-11 23:11] benlwalker commented on #2503
https://review.spdk.io/gerrit/c/spdk/spdk/+/12641

For me it still isn't working because for some reason my WQs are reporting as kernel model even though I'm setting the type to "user", but this gets a lot further.

[2022-05-11 23:32] peluse commented on #2503
Yeah, that's the change I suggested above and tested on my system and it worked for me.  @Comphix can you try on your system?

[2022-05-12 00:31] Comphix commented on #2503
Here it is, as mentioned earlier, in my testing configuration, the core dump is not hit as we set the impl now. However the tests can not complete. Not sure whether it is due to the DSA related configuration. @peluse , could you also share your detailed DSA configuration steps.

[code]

[2022-05-12 00:39] peluse commented on #2503
Yeah, I don't get any of those errors at all.  I followed our docs at https://spdk.io/doc/accel_fw.html

[2022-05-12 00:53] Comphix commented on #2503
Looks like still same issue. Maybe relate to the DSA itself. I will have a further check.

[2022-05-12 00:58] changpe1 commented on #2506
@jumpapex I think this is expected, you can call spdk_thread_destroy() to destroy the thread.

[2022-05-12 01:05] peluse commented on #2503
OK, I thought you'd mentioned idxd_perf worked w/the SPDK driver (no -k).  You could try that again and also try accel_perf also.  You could also double check (rebuild or install) your kernel driver I guess

[2022-05-12 01:11] changpe1 commented on #2392
I think this issue is same with #2372, there is a kernel panic when starting VM for that issue.

[2022-05-12 01:55] Comphix commented on #2484
New patch updates have been raised and also covered the suggested unit tests.

[2022-05-12 02:58] shuhei-matsumoto commented on #2128
The last registration was 3 weeks ago. Let's close this issue again.

[2022-05-12 02:58] #2128 closed

[2022-05-12 03:22] Comphix commented on #2503
Found some issues in kernel...
[code]

[2022-05-12 04:02] changpe1 commented on #2501
[Bug Scrub] @rafalste can you take a look?

[2022-05-12 04:04] changpe1 commented on #2506
[Bug Scrub] closing this one now.

[2022-05-12 04:04] #2506 closed

[2022-05-12 04:07] changpe1 commented on #2499
[Bug Scrub] let's see if this issue can happen again or not for a while.

[2022-05-12 04:44] changpe1 commented on #2495
A fix patch is submitted via https://review.spdk.io/gerrit/c/spdk/spdk/+/12643.

[2022-05-12 05:32] Comphix commented on #2503
Checked out previous commits and looks like same issue with the kernel driver. May relate to kernel driver. Will check this issue again later.

[2022-05-12 05:33] Comphix commented on #2503
For this change, it is needed.

[2022-05-12 06:00] karlatec commented on #2392
@jimharris @changpe1 Hard to tell if this reproduces currently.
I ran into this when doing vfio-user+Qemu performance tests and it only reproduced at scale. We don't have this kind of tests in CI. Additionally vfio-user-v0.93 Qemu branch is gone now.

I did not see kernel panic occur with this issue, I don't think it's the same as 2372.

[2022-05-12 06:08] TheSSDGuy opened #2508 "Unable to mount ext4 over nbd with logical volume bdev"
# Bug report

I'm trying to mount a ext4 file-system on an nbd device which is connected to a logical volume block device.
The OS fails to format the device and no file-system is mounted.

## Steps to Reproduce
sudo ./scripts/rpc.py **bdev_nvme_attach_controller** -b hNVMe0 -t PCIe -a 0000:01:00.0
hNVMe0n1

sudo ./scripts/rpc.py bdev_lvol_create_lvstore hNVMe0n1 glvs
8e7335e3-c5a6-4c24-8745-efa001

[2022-05-12 06:10] karlatec commented on #2310
They were. Unfortunately these updates were not picked up by Redhat to DNF upstream. The only option to mitigate this on our side (CI) is to update to F35 which has rdma-core v39 on board.

[2022-05-12 06:20] Comphix commented on #2508
Will you have a try with 512 blocksize?

sudo ./scripts/rpc.py bdev_malloc_create -b hNVMe0n1 1024 512  <<<<<<

[2022-05-12 06:29] TheSSDGuy commented on #2508
Nope, same result:

sudo ./scripts/rpc.py bdev_malloc_create -b hNVMe0n1 1024 512
hNVMe0n1

sudo ./scripts/rpc.py bdev_lvol_create_lvstore hNVMe0n1 glvs
127493fc-716c-49ef-8cc0-40c35459668a

sudo ./scripts/rpc.py bdev_lvol_create -l glvs p0 128
92c16328-0fd9-4e0f-a570-29a465463008

sudo ./scripts/rpc.py nbd_start_disk glvs/p0 /dev/nbd0
/dev/nbd0

![image](https://user-images.githubusercontent.com/

[2022-05-12 06:37] Comphix commented on #2508
Will you also try to create the Logical Volume with 512 blocksize

Refer to https://spdk.io/doc/bdev.html

Example command

rpc.py bdev_lvol_create_lvstore Malloc2 lvs -c 4096

This will create lvol store named lvs with cluster size 4096, build on top of Malloc2 bdev. In response user will be provided with uuid which is unique lvol store identifier.

User can get list of available lvol stores usin

[2022-05-12 06:43] spdkci commented on #2453
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_77006.html

[2022-05-12 06:46] TheSSDGuy commented on #2508
Sure, here we go:

sudo ./scripts/rpc.py bdev_malloc_create -b hNVMe0n1 1024 512
hNVMe0n1

sudo ./scripts/rpc.py bdev_get_bdevs
[
  {
    "name": "hNVMe0n1",
    "aliases": [
      "79a132a2-9f05-47d1-97ac-ccbe85235f8a"
    ],
    "product_name": "Malloc disk",
    "block_size": 512,
    "num_blocks": 2097152,
    "uuid": "79a132a2-9f05-47d1-97ac-ccbe85235f8a",
    "assigned_rate_limits": {

[2022-05-12 07:06] Comphix commented on #2508
Sorry to bring the confusion, looks like Logical Volume store could not specify the blocksize.

-c parameter is for the cluster size which is a different from the block size

[2022-05-12 07:06] TheSSDGuy commented on #2508
I've tried with this:

sudo ./scripts/rpc.py bdev_lvol_create_lvstore hNVMe0n1 glvs -c **8192**
3b8985f2-2879-4f98-a22b-a77222e7990b

**this command lets me build the logical volume store bdev (512 is not supported and with 4096 there are too many metadata pages)**

sudo ./scripts/rpc.py bdev_lvol_get_lvstores
[
  {
    "uuid": "3b8985f2-2879-4f98-a22b-a77222e7990b",
    "name": "glvs",
    "base_

[2022-05-12 07:08] Comphix commented on #2508
By the way, could you also try to create the nbd device directly on the Malloc Bdev with 512 blocksize?

This is try to narrow down the problem and not involve Logical Volume here.

[2022-05-12 07:14] TheSSDGuy commented on #2508
Sure, here we go:

sudo ./scripts/rpc.py bdev_malloc_create -b hNVMe0n1 1024 512
hNVMe0n1

sudo ./scripts/rpc.py nbd_start_disk hNVMe0n1 /dev/nbd0
/dev/nbd0

sudo ./scripts/rpc.py bdev_get_bdevs
[
  {
    "name": "hNVMe0n1",
    "aliases": [
      "e5ccd452-9887-4205-8f53-93a064fd75a8"
    ],
    "product_name": "Malloc disk",
    "block_size": 512,
    "num_blocks": 2097152,
    "uuid": "e5ccd452

[2022-05-12 07:28] Comphix commented on #2508
To further confirm this:

Create a Malloc with 4096 blocksize and create NBD bdev on it, let's see whether it is ok or not

And for the Logical Volume, it depends on SPDK Blobstore whose Pagesize is set to 4096 and not sure whether this is relating to the usage of Logical Volume as NBD underlying device.

[2022-05-12 07:33] TheSSDGuy commented on #2508
Sure:

sudo ./scripts/rpc.py bdev_malloc_create -b hNVMe0n1 1024 4096
hNVMe0n1

sudo ./scripts/rpc.py bdev_get_bdevs
[
  {
    "name": "hNVMe0n1",
    "aliases": [
      "e27afc94-e203-4563-b335-876223382fec"
    ],
    "product_name": "Malloc disk",
    "block_size": 4096,
    "num_blocks": 262144,
    "uuid": "e27afc94-e203-4563-b335-876223382fec",
    "assigned_rate_limits": {
      "rw_ios_per

[2022-05-12 07:56] KKaras169169 commented on #2460
I downloaded the DPDK atchive from https://core.dpdk.org/download/ (version 21.11.1) and used a debug build:
meson --buildtype=debug build
ninja -C build

and these warnings appear there as well. I am going to raise this issue on DPDK's side now.

[2022-05-12 08:53] kgodzwox commented on #2499
This issue happens every nightly-build:
https://ci.spdk.io/results/autotest-nightly/builds/696/archive/crypto-autotest/build.log
https://ci.spdk.io/results/autotest-nightly/builds/695/archive/crypto-autotest/build.log
https://ci.spdk.io/results/autotest-nightly/builds/694/archive/crypto-autotest/build.log

etc.

[2022-05-12 09:00] karlatec commented on #2499
@changpe1 from what I can tell this has 100% reproduction rate and hits in every nightly test. This is not an intermittent failure.

[2022-05-12 10:33] rafalste commented on #2501
Yes @changpe1, I'll get into that. :) Thanks for the reminder.

[2022-05-12 11:21] spdkci commented on #2424
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_77108.html

[2022-05-12 11:26] TheSSDGuy commented on #2508
Here's the results:

sudo ./scripts/rpc.py log_set_flag nbd
sudo ./scripts/rpc.py log_set_flag vbdev_lvol

sudo ./scripts/rpc.py nbd_start_disk glvs/p0 /dev/nbd0
[2022-05-12 13:22:14.619615] nbd.c:1148:spdk_nbd_start: *INFO*: Enabling kernel access to bdev glvs/p0 via /dev/nbd0

When I try to format the nbd drive with mkfs.ext4 this is what I get on SPDK back-end

[2022-05-12 13:22:38.374387] vbde

[2022-05-12 12:02] spdkci commented on #2483
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_77111.html

[2022-05-12 13:02] TheSSDGuy commented on #2508
OK digging into the code I've found that in file "vbdev_lvol.c" at line 902 (where the error happens) I/O 4, i.e., SPDK_BDEV_IO_TYPE_FLUSH is not supported!

I've tryed this crazy thing just to see what happens:

`case SPDK_BDEV_IO_TYPE_FLUSH: //crazy hack`
`case SPDK_BDEV_IO_TYPE_UNMAP:`
`lvol_unmap(lvol, ch, bdev_io);`
`break;`

basically FLUSH command goes in fall-thru with UNMAP (I strongly be

[2022-05-12 16:38] spdkci commented on #2424
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_77165.html

[2022-05-12 16:40] spdkci commented on #2453
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_77168.html

[2022-05-12 18:56] benlwalker commented on #2460
I hit this just this morning too and worked around it by compiling with clang. I worry this is a gcc bug, but we'll see what the DPDK devs think.

[2022-05-12 20:33] jimharris commented on #2499
Could you do a test run on this with master + a revert of a6e022463?

[2022-05-12 20:42] jimharris commented on #2499
Please also try master (without any reverts) and this patch:  https://review.spdk.io/gerrit/c/spdk/spdk/+/12672

[2022-05-12 21:19] kgodzwox commented on #2500
Patches in series:
https://review.spdk.io/gerrit/c/spdk/spdk/+/12496/3
https://review.spdk.io/gerrit/c/spdk/spdk/+/12666/1
https://review.spdk.io/gerrit/c/spdk/spdk/+/12667/1

fix issues

Test job: https://ci.spdk.io/public_build/autotest-spdk-v22.01-LTS-vs-dpdk-main_449.html

[2022-05-12 21:45] kgodzwox commented on #2499
I can confirm that the patch fixes issue.
https://ci.spdk.io/public_build/autotest-nightly_699.html
(crypto passed)

[2022-05-12 22:09] jimharris commented on #2508
This isn't a completely crazy hack.  It actually is fine if using an NVMe SSD w/o a VWC as the lvol backing store (which is the norm).

There are a few changes needed:

1) bdev nvme module needs to only report FLUSH support if there is a VWC present
2) bdev nvme module needs to translate FLUSH to an spdk_nvme_ns_cmd_flush() call (which flushes the whole namespace - it is not range-based)
3) blob b

[2022-05-12 23:42] mhae commented on #2484
Thanks. I'll take a look Friday.

On Wed, May 11, 2022, 7:55 PM GangCao ***@***.***> wrote:

[2022-05-13 01:16] shuhei-matsumoto opened #2509 "[vfio_user_fio] VM boot timeout"
# CI Intermittent Failure

00:04:10.701  ========== Backtrace start: ==========
00:04:10.701
00:04:10.701  in /var/jenkins/workspace/vfio-user-autotest/spdk/test/vfio_user/common.sh:9 -> clean_vfio_user([""],["49"])
00:04:10.701       ...
00:04:10.701     4   	# Verify vfio-user support of qemu.
00:04:10.701     5   	QEMU_BIN="/usr/local/qemu/vfio-user-v0.93/bin/qemu-system-x86_64"
00:04:10.701

[2022-05-13 01:17] spdkci commented on #2509
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_77128.html

[2022-05-13 01:18] shuhei-matsumoto commented on #2509
Maybe this is as same as #2372

[2022-05-13 01:19] spdkci commented on #2424
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_77126.html

[2022-05-13 01:39] changpe1 commented on #2509
I don't see kernel panic when staring VM for this one, but I I see that the NVMe device is online, both of them failed after NVMe is online, still not sure they are related or not.

[2022-05-13 01:59] Comphix commented on #2508
Hi Jim,

For this
[code]

If the NVMe SSD w/ VWC, then it means to do this Flush operation (translate to spdk_nvme_ns_cmd_flush).
If the NVMe SSD w/o VWC, then it means this Flush operation is a No-Op and we could return and complete the IO directly.

In both cases, the NVMe bdev module could support the Flush operation. Is this right?

Or in the case of w/o VWC, the NVMe bdev module just reports

[2022-05-13 06:04] wanghailiangx opened #2510 "[clang-vg-autotest] Package 'jbp_....tar.gz' not exists after creation"
# CI Intermittent Failure
[iscsi-uring-vg-autotest] is also.
[code]

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/77223/archive/clang-vg-autotest/build.log
https://ci.spdk.io/results/autotest-per-patch/builds/77223/archive/iscsi-uring-vg-autotest/build.log

## Execution failed at

[code]

[2022-05-13 06:06] spdkci commented on #2510
Another instance of this failure. Reported by @wanghailiangx. log: https://ci.spdk.io/public_build/autotest-per-patch_77223.html

[2022-05-13 06:27] xjjx commented on #2510
This is problem with internal DNS. We'll try to add some workaround for this.
`00:00:09.080  Treating UnknownHostException(sorcerer.igk.intel.com) as 404 Not Found
`

[2022-05-13 06:34] karlatec commented on #2499
@kgodzwox @tomzawadzki  should we cherry-pick this fix to v22.01.x?

[2022-05-13 07:29] #2499 closed

[2022-05-13 09:45] gaowayne opened #2511 "error log reported with vfio driver when we register devdax device into SPDK"
# Bug report

we see one error log, when we create one simple bdev to talk devdax with idxd driver, we register spdk mem then unregister when free bdev. but do not know why vfio layer report this error log, it does not impact anything else

## Expected Behavior

if any workaround can swallow this error if is reported by mistake

## Current Behavior

check below error reported in VFIO layer.
[code]

[2022-05-13 09:49] karlatec opened #2512 "Disable messages: EAL: Unexpected size 0 of DMA remapping cleared instead of X"
# Bug report

During exiting from SPDK app (e.g. spdk_tgt) DPDK produces a lot of following messages:
[code]

In some cases I get even over 2000 lines of this output, which makes it hard to inspect any application or tests output.
Could we please disable this?

## Possible Solution

## Steps to Reproduce
N/A

[2022-05-13 09:58] changpe1 commented on #2512
This is related with DPDK dynamic memory management with vfio, it doesn't affect anything.

[2022-05-13 10:12] karlatec commented on #2512
Functionally - no. But it does affect the output on the screen. It's pretty inconvenient to need to scroll 2k lines up every time you need to check the output.

[2022-05-13 14:55] peluse commented on #2503
well, technically the core dump is not a 3rd party issue, it was a bug in our code positively identified with a fix posted above.  I think we should close this one to avoid confusion.  If you have an issue with your system I think it'd be better to open a new issue that explains just that behavior without all of this irrelevant history.

Please close if you agree @Comphix

[2022-05-14 01:23] Comphix commented on #2503
Ok, let's close this one first.

[2022-05-14 01:23] #2503 closed

[2022-05-16 02:53] shuhei-matsumoto commented on #2484
Hi @Comphix @mhae @jimharris

If I understanding correctly, after the NVMF frontend got a notification for unregistration, it waits until all outstanding I/Os are returned and then it closes the bdev. However, I/Os queued in the nomem_io list were not aborted. Hence the NVMf frontend could not close the bdev.

Gang's patch will fix this issue. However I may find a small window to submit I/Os betwe

[2022-05-16 03:45] Comphix commented on #2484
Or maybe check the SPDK_BDEV_STATUS_REMOVING state when submitting the IO?

[2022-05-16 03:56] shuhei-matsumoto commented on #2484
I think adding BDEV_CH_UNREGISTERING or BDEV_CH_UNREGISTER_IN_PROGRESS (1 << 2) to struct spdk_bdev_channel::flags is a little more cache friendly idea.

[2022-05-16 04:38] sekar-wdc opened #2513 "Running with num_io_queues:16 parameter via bdev_nvme_attach_controller only uses a single queue"
# Bug report

When running with bdev_nvme_attach_controller parameter num_io_queues of 16, number of I/O queues actually connected/used during I/O is 1.

## Expected Behavior

The initiator should connect with 16 I/O queues to the target.

## Current Behavior

Only 1 I/O queue is observed when running

## Possible Solution

## Steps to Reproduce
Using bdev conf file below:

[root@perf-16-9 spdk]#

[2022-05-16 05:17] Comphix commented on #2513
I think below is to create 16 IO queues for this NVMe ctrlr
[code]

While in the case that FIO is running with numjobs = 1, it means to use only 1 IO queue. You could try numjobs = 2, 4 to check there will be corresponding number of IO queues used by FIO.

[2022-05-16 06:34] AlekseyMarchuk commented on #2513
@sekar-wdc  the "num_io_queues" parameter determines the maximum number of IO queues to be used by NVME controller (SPDK_NVME_FEAT_NUMBER_OF_QUEUES request). As @Comphix mentioned, to create a real qpair, you need to increase numjobs fio parameter since SPDK fio plugin creates a qpair per job

[2022-05-16 09:03] YamboZhou opened #2514 "System reports DMAR error when using Optane P5800X"
Hi all,

When we start SPDK vhost with Optane P5800X, kernel reports the following error in "/var/log/message":

[code]

We use kernel version 4.19.91. In our environment, we have multiple Optane SSDs and TLC/QLC NVMe SSDs, but only Optane SSDs report this error. (as the log shown above, slot '[99:00.0]' is a Optane SSD).

SPDK version: 20.10

[2022-05-16 12:06] spdkci commented on #2453
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_77306.html

[2022-05-16 13:26] ogerlitz opened #2515 "use after free for rdma qpair when running perf"
While working on a patch for the nvme rdma initiator (https://review.spdk.io/gerrit/c/spdk/spdk/+/12687) I stepped on assertion failure in lib/nvme/nvme_rdma :: nvme_rdma_qpair when checking that qp type:

[code]

We managed to trigger this assertion without the patch using this memzero on the existing code - that is memzero the qp before freeing it, which leads to think that the current code has

[2022-05-16 14:53] rafalste opened #2516 "Not persistent device UUIDs"
Currently there is no way to get a unique and persistent device identifier, that could be used across SPDK app restarts. Even the documentation of spdk_bdev_get_uuid() says that "All bdevs will have a UUID, but not all UUIDs will be persistent across application runs." This applies not only to virtual bdevs but also to some bdevs created directly from hardware device, e.g. with bdev_nvme_attach_co

[2022-05-16 16:36] jimharris commented on #2511
This is a duplicate of #2512.

I'm going to close this one, even though it was filed earlier, since #2511 has some additional discussion on it already.

[2022-05-16 16:36] #2511 closed

[2022-05-16 17:16] jimharris commented on #2514
Hi @YamboZhou, do these faults occur when you attach the NVMe controller?  Or do they only happen after a VM connect to the Vhost app?

Also - do you see this with v22.01 or latest master?

[2022-05-16 18:38] jimharris commented on #2484
This would require adding a new spdk_for_each_channel to set this flag.  That might be OK, but does add some additional complexity.

Another alternative would be to acquire the bdev's mutex when we receive NOMEM on a completion, check the bdev's status, and if it is REMOVING, then just immediately abort the I/O.

But I actually think the additional complexity is worth it.  If we have this flag on

[2022-05-16 19:43] benlwalker commented on #2516
`
So, my question is if there is a way to implement a UUID that will always be persistent? This OCF example is just one motivation to have such functionality, but I believe this will be beneficial also in other scenarios.
`

There is no good way to implement persistent UUIDs that I see.

[2022-05-16 20:15] jimharris commented on #2516
Some bdevs do have persistent UUIDs already.  NVMe namespaces can report UUIDs which are persistent.  Logical volumes also report UUIDs which are persistent.

So we can recommend that users use UUIDs and not the 'simple names' when specifying the cache and core devices.

This does lead to problems if an NVMe namespace does not report a UUID (since they are optional).  I don't have a good read thou

[2022-05-16 20:28] jimharris commented on #2516
Currently bdev_register() generates a UUID if the bdev module did not specify one (i.e. UUID is all zeroes).  I think we need to revisit that.  Upper layers (including a virtual bdev module like OCF) need to know if a bdev's uuid is persistent or not.

[2022-05-16 20:36] jimharris commented on #2512
@changpe1 @karlatec Isn't this same issue as #2075?

I agree with @karlatec, these logs are pretty inconvenient.  By sheer coincidence, @gaowayne filed #2511 for this same problem, just before this issue was filed.

I propose we close this issue, and continue the discussion on #2075.

[2022-05-16 21:41] shuhei-matsumoto commented on #2515
@ogerlitz Thank you for finding this bug. Carelessly I missed that the perf called spdk_nvme_ctrlr_free_io_qpair() directly for the connected qpair.

@AlekseyMarchuk Thank you for working on the bug fix. The patch looks good but I put a comment on it. Please take a look. I added hashtag 22.05.

[2022-05-16 22:08] peluse commented on #2486
@Comphix not looking good on a workaround w/user space driver as this looks to be a VFIO kernel driver issue.  Still chasing down a few things.  In the meantime though, if you use the kernel driver option for idxd things should work, I've verified that much at least.

[2022-05-16 23:15] jimharris commented on #2513
@AlekseyMarchuk is correct.  This only defines the value we specify for the NUMBER_OF_QUEUES NVMe feature.

The Linux kernel automatically allocates all queues when the controller is initialized, and associates them with CPU cores.  But SPDK defers allocation until the queues are required.  So if the fio job file only has one job and is using the spdk fio plugin, then that will only create one spd

[2022-05-17 00:19] changpe1 commented on #2512
Yes, they're same, I already opened an issue in DPDK, there are other issues with dynamic memory model in DPDK, not just this one, this one doesn't affect the functional feature.

[2022-05-17 00:31] jimharris commented on #2512
Thanks @changpe1.  I see Anatoly hasn't responded to last post on the DPDK bug tracker.  Could you ping him again on this?  Or if this doesn't affect functionality, maybe we just do a patch removing (or lowering log level) on this message for now, and then post that patch to dpdk-dev mailing list.

[2022-05-17 00:36] changpe1 commented on #2512
Yeah, let me follow up this one.

[2022-05-17 01:22] spdkci commented on #2201
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_77342.html

[2022-05-17 01:36] shuhei-matsumoto commented on #2515
Hi @AlekseyMarchuk

Sorry the first reply was wrong. spdk_nvme_poll_group_remove() now supports only a disconnected qpair. So when spdk_nvme_ctrlr_free_io_qpair() completes, the target qpair is still in a poll group even after your patch. I removed the hashtag 22.05 and am considering how to fix this issue. I will share any update if I have.

[2022-05-17 02:59] yidong0635 commented on #2455
Just add a test, but can't catch this failure. https://review.spdk.io/gerrit/c/spdk/spdk/+/12655.

[2022-05-17 03:00] changpe1 commented on #2512
I asked Anatoly to update the status of this issue, and provided a fix patch https://review.spdk.io/gerrit/c/spdk/dpdk/+/12706 here.

[2022-05-17 03:01] shuhei-matsumoto commented on #2515
Hi @ogerlitz Thank you again. Your "Steps to Reproduce" worked nicely and I verified both Alexey's patch and  a slightly different patch (the one I replied to Alexey's patch) fixed the issue. @AlekseyMarchuk please check my comment.

[2022-05-17 03:16] yidong0635 commented on #1992
I just want to clear these issues, Through some reworking on this. But  from My understanding, and Invalid translation address means missing cache, that I want to instead assert by returning ftl_to_addr(FTL_ADDR_INVALID). https://review.spdk.io/gerrit/c/spdk/spdk/+/8764
That will be appreciate If the owner can response this.

[2022-05-17 04:12] YamboZhou commented on #2514
Hi @jimharris, I find when we enable VSS capability of Optane P5800X, these faults will occur.  We use 4KB + 64Byte VSS now.  And they only happened when NVMe devices were attached in driver probe process.

There is no any influence for vhost I/O after that faults, but we try to figure out the root cause for this unexpected behavior to avoid potential issues.

[2022-05-17 04:15] YamboZhou commented on #2514
Add more comments:

When we used normal format, like 4KB without extended meta area, we didn't see these faults.

[2022-05-17 07:34] kgodzwox commented on #2454
Issue fixed. Closing

[2022-05-17 07:34] #2454 closed

[2022-05-17 07:34] kgodzwox commented on #2500
Issue fixed. Closing

[2022-05-17 07:34] #2500 closed

[2022-05-17 07:35] kgodzwox commented on #2491
Issue fixed. Closing

[2022-05-17 07:35] #2491 closed

[2022-05-17 07:50] ogerlitz commented on #2515
verified to resolve the problem on my setup, I will rebase my other change on it

[2022-05-17 10:20] YamboZhou commented on #2514
@jimharris Hi Jim. Is this a firmware issue? When we enable VSS with 64Byte meta, SPDK NVMe driver reads/writes blocks without indicating metadata buffer in probe process and then Optane DMAs an invalid metadata buffer leading to this fault?

[2022-05-17 10:44] karlatec commented on #2512
Closing the issue as duplicate of #2075

[2022-05-17 10:44] #2512 closed

[2022-05-17 10:55] spdkci commented on #1987
Another instance of this failure. Reported by @wanghailiangx. log: https://ci.spdk.io/public_build/autotest-per-patch_77377.html

[2022-05-17 11:31] spdkci commented on #1987
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_77378.html

[2022-05-17 11:32] Comphix commented on #1987
Looks like this issue is happening again.

[2022-05-17 12:33] kgodzwox opened #2517 "[nvmf_vhost] spdk_nvme_ctrlr_alloc_qid fails (No free I/O queue IDs)"
# Fail while executing `autotest-nightly`
TEST: **nvmf_vhost**
Downstream: **nvmf-tcp-phy-autotest**

## Link to the failed CI build
https://ci.spdk.io/results/autotest-nightly/builds/724/archive/nvmf-phy-cvl-autotest/build.log
https://ci.spdk.io/results/autotest-nightly/builds/723/archive/nvmf-phy-cvl-autotest/build.log

Pass:
https://ci.spdk.io/results/autotest-nightly/builds/722/archive/nvmf-ph

[2022-05-17 13:04] tomzawadzki commented on #2455
@yidong0635 Please apply https://review.spdk.io/gerrit/c/spdk/spdk/+/11839 before your patch and compile with ASAN enabled to catch it.

[2022-05-17 13:11] gaowayne commented on #2486
@peluse thank you so much Paul to find this so early, I did not see my accel_perf and bdevperf report any error. but I follow your steps my 160 offset are zeroed out too. May I know the impact for this error? it will cause data corruption?
[code]

[2022-05-17 13:18] kgodzwox opened #2518 "[rte_vhost] deadlock due to virtqueue lock protection"
# CI Failure
**TEST nvmf_vhost**
Affected test jobs:

- nvmf-tcp-vg-autotest
- nvmf-tcp-uring-vg-autotest
- nvmf-tcp-phy-autotest
- nvmf-phy-autotest

--------
**TEST vhost_boot**
Affected test job:

- vhost-autotest

--------
**TEST json_config**
Affected test job:
- vhost-initiator-vg-autotest

--------
I suspect that problems are caused by some DPDK commits (or commit).
Tests passed with `v22.0

[2022-05-17 13:20] peluse commented on #2486
The impact on the use of the cache flag (nontemporal) is performance but it's not been characterized, basically all writes will be sent to cache regardless of whether you set it or not.  The steering tag, as I understand it, is simply "required" and I believe you will get an error if you don't set it.  That's what started this whole issue but I don't see mention of the error above as we didn't get

[2022-05-17 13:43] tomzawadzki commented on #2186
@jlevon @tmakatos Any updates on this issue ? If required, could the patch be rebased and the comments addressed ?

[2022-05-17 13:59] changpe1 commented on #2075
DPDK commit 56259f7fc0104ca73f776b76cfd056ccf0470e4c fixed the issue, but verified it with SPDK, issue still exist.

[2022-05-17 14:23] tomzawadzki commented on #2437
Closing due to lack of reproduction.

[2022-05-17 15:05] spdkci commented on #2424
Another instance of this failure. Reported by @curtbruns. log: https://ci.spdk.io/public_build/autotest-per-patch_77361.html

[2022-05-17 15:12] tomzawadzki commented on #2424
Bug scrub: @karlatec will try to reproduce the issue inside the VM for @peluse to work on. In the meantime @peluse will try to do it on the physical system.

[2022-05-17 15:40] tomzawadzki commented on #2392
Bug scrub: @karlatec will try a change suggested by @jimharris
[code]
Please update the issue with the results.

[2022-05-17 15:44] #1992 closed

[2022-05-17 15:52] tomzawadzki commented on #2518
Bug scrub: @kgodzwox If the failure is reproducible 100%, please do a git bisect to narrow down a single commit.

[2022-05-17 15:56] tomzawadzki commented on #2310
Bug scrub: Update to F35 is still in progress, this issue will be updated once that is done.

[2022-05-17 15:58] tomzawadzki commented on #2459
Bug scrub: @changpe1 Could we do vfio-user submodule update to include the fix https://github.com/nutanix/libvfio-user/pull/667 ?

[2022-05-17 16:43] spdkci commented on #2518
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_77405.html

[2022-05-17 16:44] spdkci commented on #2518
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_77403.html

[2022-05-17 16:45] ksztyber commented on #2518
Seems like it's also happening on the per-patch as well.

[2022-05-17 19:01] karlatec opened #2519 "test/nvmf/host/multipath.sh test fails on bpftraces"
# Bug report

Host multipath.sh test fails due to "parse errors" and path not being found in trace file.
https://ci.spdk.io/public_build/autotest-per-patch_77372.html

## Steps to Reproduce

1. Build SDPK with:
[code]
2.  Run multipath test:
[code]

## Current Behavior

After starting the trace script, waiting a few seconds and printing it's output following messages are displayed:
[code]
This is

[2022-05-17 19:02] karlatec commented on #2519
FYI @ksztyber @jimharris

[2022-05-17 19:23] jimharris commented on #2514
It is possible it is a FW issue.  Let me make sure I understand the issue correctly:

1) You see these faults occur during device attach.  So they happen before VM/vhost tries to connect.
2) After the faults, VM/vhost can still connect and there is no observed issues with I/O.

If these are true, can you try running simpler test like perf tool, to see if issue reproduces there?

Additional step wo