[2019-01-17 02:37] vikasbrcm commented on #562
@Seth5141 I`ll submit a patch . Hopefully it should fix #570

Thanks,
Vikas

[2019-01-17 07:05] #574 closed

[2019-01-17 07:09] wanqunintel opened #584 "nvmf tgt suspect memory leak: tqpair(0xd27b20) free pdu pool num is 191 but should be 192"
## Issue Summary
When initiator running with perf with stressed io_size and queuedepth with transport type TCP, ctrl+c on the initiator, the nvmf_tgt will report out error as follows
tcp.c: 506:spdk_nvmf_tcp_qpair_destroy: *ERROR*: tqpair(0xd27b20) free pdu pool num is 191 but should be 192
tcp.c: 512:spdk_nvmf_tcp_qpair_destroy: *ERROR*: tqpair(0xd27b20) free tcp request num is 127 but should be

[2019-01-17 07:37] optimistyzy commented on #584
@wanqunintel https://review.gerrithub.io/#/c/spdk/spdk/+/440847/

[2019-01-17 07:51] wanqunintel commented on #584
retested with the patch, and error as follows
tcp.c: 524:spdk_nvmf_tcp_qpair_destroy: *ERROR*: tqpair(0x16eeb30) free pdu pool num is 191 but should be 192
tcp.c: 499:nvmf_tcp_dump_qpair_contents: *ERROR*: Dumping contents of queue pair (QID 1)
tcp.c: 501:nvmf_tcp_dump_qpair_contents: *ERROR*:       dumping requests in state 1
tcp.c: 501:nvmf_tcp_dump_qpair_contents: *ERROR*:       dumping request

[2019-01-17 09:30] pawelwod commented on #567
Yeah, I checked this and there is a bug.  Fix is on the way.

[2019-01-17 09:55] pawelwod commented on #524
@ak-gh

Thanks

[2019-01-17 14:54] karlatec opened #585 "nvmf: error on spdk initiator connection teardown"
## Current Behavior
"ERROR" message encountered on target side, and warning message encountered on initiator side after connection close when using SPDK NVMeOF Target and bdev fio_plugin as NVMeOF initiator.

## Expected Behavior
No errors after closing connection

## Steps to Reproduce
0. Using 2 separate servers connected with Mellanox ConnectX-4 100G links.
1. Using SPDK master commit 9cba82b95

[2019-01-17 17:44] jimharris opened #586 "Jenkins: results for failed test not available"
https://review.gerrithub.io/c/spdk/spdk/+/429523

This is Paul's ISA-L patch.

Patch set 66 failed.  Results are not available - either through internal or external status pages.  Results are available through Jenkins directly:
https://10.102.17.104:8080/job/autotest-per-patch/20129/

Patch set from version 65 and 67 are both available.

[2019-01-17 20:43] peluse commented on #586
Some notes:
* The post job to push logs is here: https://10.102.17.104:8080/view/Maintenance/job/copy-artifacts-to-jbp/945/ and its console output shows no issues
* The ext status server dir for output is here: https://ci.spdk.io/spdk-jenkins/results/autotest-per-patch/builds/20129/ and does exist however there are no sub directories
* ssh'd into static build server and checked /var/www/html/build

[2019-01-17 20:56] peluse commented on #586
yeah, the man page shows the exit values that we can check.  We might also want to temp add -v option and if it doesn't generate too much output leave it on for a little while to help with cases like this.

[2019-01-17 21:24] jimharris commented on #573
I don't understand.  Without the patch, why don't you still get the "starting I/O failed" error messages?  Is the target still set up for 1024 queue depth?

[2019-01-17 21:30] jimharris commented on #573
The fix @changpe1 is planning here will also address issue #566.

[2019-01-18 01:06] fshenx commented on #573
@jimharris
Yes, I update the MaxQueueDepth into 1024 on the target when the initiator without this patch.
And I use the default MaxQueueDepth  on the target when the initiator has this patch.

[2019-01-18 01:10] wuzhouhui opened #587 "construct_nvme_bdev timeout if nvmf target and host in the same spdk instance"
RPC method `construct_nvme_bdev` timeout if nvmf target and host in the same spdk instance

## Expected Behavior

RPC method `construct_nvme_bdev` exited successfully

## Current Behavior

RPC method `construct_nvme_bdev` timeout

## Possible Solution

## Steps to Reproduce

1. Start nvmf target `./nvmf_tgt`
2. Construct a malloc bdev `python rpc.py construct_malloc_bdev -b malloc0 16 512`
3. Expo

[2019-01-18 01:33] changpe1 commented on #573
@fshenx , can you try my new patch ? it should fix the issue now, you don't need any extra parameters. Thansk.

[2019-01-18 02:53] wanqunintel opened #588 "nvmf_tgt: spdk_nvmf_tcp_qpair_handle_timeout: *ERROR*: No pdu coming for tqpair=0x1ad5680 within 30 seconds"
## Issue Summary
When running nvmf_tgt with Transport TCP, and the initiator running with perf more than 30 seconds, the nvmf_tgt will print out timeout error as titled. And on initiator part, when perf finished running, it will not get the performance data, but printing the following errors continuously till ctrl+c to exit
nvme_tcp.c:1588:nvme_tcp_qpair_process_completions: *ERROR*: Error polling

[2019-01-18 04:45] optimistyzy commented on #588
@wanqunintel  See this patch: https://review.gerrithub.io/440831

[2019-01-18 06:20] optimistyzy commented on #587
@wuzhouhui In my mind, there will be same issue with RDMA transport. When the client uses the spdk_nvme_probe to connect the remote target. The client needs to obtain some info and then go through down. For example, if you use RDMA transport, it also have the loop to get some info.  Even if you can pass this.  In nvme_fabric_qpair_connect, which can be either called by RDMA and NVMe TCP, there is

[2019-01-18 06:41] wanqunintel commented on #584
tested with latest patch, and can not reproduce till now.

[2019-01-18 07:44] optimistyzy commented on #585
@karlatec  This issue is duplicated with https://github.com/spdk/spdk/issues/568

[2019-01-18 07:49] optimistyzy commented on #585
@karlatec  Changpeng' patch is merged:  https://review.gerrithub.io/#/c/spdk/spdk/+/440132/

Can you make sure that you can still reproduce  with Changpeng's patch

[2019-01-18 07:54] changpe1 commented on #568
closing the issue, as patch has been merged.

[2019-01-18 07:54] #568 closed

[2019-01-18 07:56] changpe1 commented on #585
closing the issue as patch https://review.gerrithub.io/#/c/spdk/spdk/+/440132/ has been merged.

[2019-01-18 07:56] #585 closed

[2019-01-18 09:01] sashakot commented on #587
@optimistyzy
Is it a bug or design issue? I mean, if nvmf target (RDMA or TCP) and host are the same instance, is dynamic adding/removing namespaces supported by design?

[2019-01-18 09:47] pawelkax commented on #582
@pawelwod  @karlatec This issue is related to configshell_fb library not to spdkcli.

[2019-01-18 10:36] karlatec commented on #582
Pawel, any way to try-catch this?

[2019-01-18 10:45] karlatec commented on #586
It is not an rsync issue. We rsync'd the build directory which contains more than just the artifacts, so rsync was successful.

The artifacts are even missing in the Jenkins history itself, sot here were no artifacts to copy in the first place. See: https://10.102.17.104:8080/job/autotest-per-patch/20129/console
[code]

[PostBuildScript] - [ERROR] Problem occurred: java.lang.InterruptedException.

[2019-01-18 13:39] peluse commented on #586
Hmmm, now the build is gone so I can't double check but I looked internally and could have sworn I saw them, I think Jim did too.  To be clear though, the post job output you have above which is part of auto-test-per-patch is a groovy script that is collecting artifacts from all the subjobs into the main workspace prior to the separate job that is then executed to rsync them out - is that correct?

[2019-01-18 14:42] karlatec commented on #586
Checked more than once today, sorry :) They weren't there.

Exactly.

Probably not, as it gets run after artifacts are archived (so archiving is already finished by then).

Yup. Like I said - my bet is that Jenkins ABORT due to new patch set may have caused this issue (hence the "java.lang.InterruptedException")

[2019-01-18 14:49] peluse commented on #586
Oh yeah you did say that :) . OK, I'd like to leave this open until one of us has a chance to try and make it more user friendly when this happens, at least a couple of days.  I will have time time after the release.... thanks!!

[2019-01-18 14:51] peluse commented on #549
Everything we know about this says its addressed by https://review.gerrithub.io/c/spdk/spdk/+/440988 which is now merged

We may alter the implementation post release but I'm considering this closed, @wanghailiangx let me know if you still anything like this.  Thanks!

[2019-01-18 14:52] peluse commented on #537
@Seth5141 see pervious update, is a good time to re-test coming up shortly?

[2019-01-18 14:53] pawelwod commented on #567
Patch in review.
https://review.gerrithub.io/#/c/spdk/spdk/+/440890/

Big thanks to @tomzawadzki for help with this issue :)

[2019-01-18 15:20] Seth5141 commented on #537
@peluse My change that drains the rdma qpair before deletion has been merged, as has the patch @optimistyzy mentioned from above. So trying to retest now would be good.

[2019-01-18 15:30] jimharris commented on #566
Hi @yuezhu1,

A patch has been merged which should resolve this issue (without your local code modifications).  So I'm closing the issue.

Thanks,

-Jim

[2019-01-18 15:30] #566 closed

[2019-01-18 15:31] jimharris commented on #573
Patch from @changpe1 has been merged.

[2019-01-18 15:31] #573 closed

[2019-01-18 17:11] Seth5141 commented on #555
Since the fix has been merged, I am closing this issue.

[2019-01-18 17:11] #555 closed

[2019-01-19 00:28] nagendra-v opened #589 "Nvme Drive hot insertion detection time"
If drive is hot inserted with nvmf_tgt running, it takes 2 to 10 minutes for new drives to be detected by utilities identify or nvme cli.

Getting error message "EAL: Cannot find resource for device" from utilities before drives are detected.

This issue seen with  SPDK v18.10.1 / DPDK 18.08.0 on CentOS 7.5.1804. I believe issue also present in SPDK 19.01

## Steps to Reproduce
1. Run "setup.sh" s

[2019-01-19 02:28] luzhipeng-zte opened #590 "iscsi_tgt reported *ERROR* StatSN(99/227) QCmdSN(127) error"
## Current problem：
1、using spdk iscsi_tgt with nvme ssd for bdev on one host A.
2、Using nvmf-tgt of spdk with bdev by  iSCSI initiator module on another host B  and spdk iscsi initiator connect iscsi target server of host A
3、host C connect  nvmf target of host B

host A spdk print error
iscsi.c:4285:spdk_iscsi_execute: *ERROR*: StatSN(99/227) QCmdSN(127) error
conn.c:1319:spdk_iscsi_conn_handle_

[2019-01-21 01:13] #548 closed

[2019-01-21 03:59] riou-chen opened #591 "Device 'vhost-user-nvme' not found"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

no errors when I run my vm instacnce or excute command "qemu-system-x86_64 -device vhost-user-nvme,help"

## Current Behavior

when I execute command "qemu-system-x86_64 -device vhost-user-nvme,help", it retur

[2019-01-21 04:05] changpe1 commented on #591
Hi @riou-chen , please use https://review.gerrithub.io/#/c/spdk/qemu/+/409094/ separate patch to test vhost-user-nvme, because the QEMU driver for vhost-user-nvme is not included in the QEMU version.

[2019-01-21 05:59] fshenx opened #592 "bdevperf core dumped when I set a big IO depth"
Nvmf initiator core dumped when I set a big IO depth.
log:
[code]

## Expected Behavior
Print some error massages

## Current Behavior
Aborted (core dumped)

## Steps to Reproduce
./app/nvmf_tgt/nvmf_tgt -c nvmf.conf.in

nvmf.conf.in ：
[code]

test case :
` ./test/bdev/bdevperf/bdevperf -c bdev.conf -q 102400 -o 524288 -w randrw -M 50  -t 5
`

bdev.conf:
[code]

## Environment
target:
commit id: 4

[2019-01-21 06:21] fshenx commented on #592
[code]

[2019-01-21 07:56] Comphix commented on #556
@wanqunintel , could have another try after Seth's change. Thanks.

[2019-01-21 09:13] pawelwod opened #593 "spdkcli oneliner commands exits with no error even when RPC command fail"
When RPC command fail in non-interactive mode, spdkcli exits with success.

## Expected Behavior
spdkcli in non-interactive mode should exit with error exit status on first error.

## Current Behavior
Always success.

## Possible Solution
None

## Steps to Reproduce
1. Start SPDK target
2. Issue some valid command that will fail on target side eg create bdev nvme with PCIe address 1:1:1:1.0
3. che

[2019-01-21 09:15] karlatec commented on #593
Pawel K please confirm behavior so we can mark it as bug.

[2019-01-21 09:15] changpe1 commented on #591
@riou-chen , the patch is based on QEMU 2.12, and it may has compilation issue if the QEMU version is not suitable.

[2019-01-21 10:09] kreuzerkrieg opened #594 "Cant use vfio on EC2 instance"
Hi,
I have EC2 instance (m5d.2xlarge) with NVMe disks. Then I set the environment variable DRIVER_OVERRIDE=vfio-pci
Just for test run `nvme list` and get

Then I run `sudo -E ~/spdk/scripts/setup.sh` and get the following output

And then, just to be sure `sudo -E ~/spdk/scripts/setup.sh status` with the following output

Looks like the setup did not pick the device, it is not using kernel driver

[2019-01-21 10:15] pawelwod opened #595 "hotremove NVMe device by using /sys/bus/pci/devices/<pciaddr>/driver/unbind not working"
When using VFIO unbinding device by sysfs `unbind` file hang forever  even if hotplug is enabled.
## Expected Behavior
`unbind` should trigger hotremove.

## Current Behavior
`unbind` hangs forever and console is flooded with

[code]

## Possible Solution
Manually delete nvme bdev will unfreeze `unbind`

## Steps to Reproduce
1. Start SPDK target
2. `bind` nvme device to `vfio-pci` driver e.g. by

[2019-01-21 10:36] kreuzerkrieg opened #596 "DPDK initialization issue"
For some unclear reason when I initialize my application the DPDK is initialized with `--no-huge -m 1024`. However when I run the `perf` it is initialized without these arguments and runs fine, on the other hand, my application fails to bind the device. According to spdk/lib/env_dpdk/init.c, in `spdk_build_eal_cmdline` these argument added unconditionally. Meanwhile I've commented out lines 278-29

[2019-01-21 12:59] kreuzerkrieg opened #597 "SPDK fails to initialize (SIGBUS in alloc_seg)"
I'm trying to run in docker container on EC2, for some reason it fails and it has something to do with memory management.

First of all the same runs fine on the host machine. Second, I start EC2 instance (r5d.2xlarge), clone and build SPDK (with `./configure --with-rdma --enable-debug` and `make -j 'DPDK_CFLAGS=-fPIC -O0 -g'`) run `setup.sh` and the `perf`, everything works as expected. Then I sw

[2019-01-21 13:31] gila commented on #597
Running it in priv mode is not enough. You need to allocate hugepages in the pod spec as well.

[2019-01-21 13:41] kreuzerkrieg commented on #597
I have to mount the volume like `-v /dev/hugepages:/mnt/hugetlbfs` at least, if I run `sudo docker run -it --privileged -v /dev/hugepages:/mnt/hugetlbfs ubuntu` on the node the SPDK works as expected, but not in pod
In addition the allocation code is quite robust, it would fail long before if it cant access hugepages

[2019-01-21 14:32] alekseymmm opened #598 "Unable to get I/O channel for bdev"
Test optane  device with fio. Failed to get IO channel if numjobs >=32
bdev config nvme.conf:
[code]

fio config nvme.ini:
[code]

## Expected Behavior

Successfully open all the channels.
## Current Behavior

nvme_ctrlr.c: 287:spdk_nvme_ctrlr_alloc_io_qpair: *ERROR*: No free I/O queue IDs
fio_plugin.c: 471:spdk_fio_bdev_open: *ERROR*: Unable to get I/O channel for bdev.
fio: io engine spdk_bdev i

[2019-01-21 14:45] ak-gh commented on #598
Did you check if your Optane device supports more than 32 queue pairs?

[2019-01-21 14:59] alekseymmm commented on #598
@ak-gh Cant see this information in specification documents. How can I find maximum supported number of qpairs for device?

[2019-01-21 15:01] karlatec commented on #572
Hi Jim!
Seems I deleted my previous runs with VM Exists and I try to measure them again, but I am running into issue when trying to run FIO with run time more than a couple of seconds - the perf.data record files are huge! (~15GB when running just for 10sec).
I am doing: perf kvm --host --guest -o perf.data stat record -a.
I know I can filter out the events while creating a report (i.e. perf kvm -

[2019-01-21 15:38] gila commented on #597
Yes sure that works fine with docker -- but you were mentioning k8s right? Even though one uses the other, its not the same. So try to allocate huge pages in k8s and it should work.

[2019-01-21 16:03] ak-gh commented on #598
Nvme admin command GetFeatures/NumberOfQueues reports the number of queues supported by the controller.

Otoh, I'm not quite clear why one would want 32+ queues with Optane which has 4-8 line memory conteoller (so 8 queues up you're saturated anyway).

Hth,
Andrey

[2019-01-21 18:22] ak-gh commented on #598
Notice also that 'no free I/O queue ID' error message from nvme layer tells you exactly what's happened: your controller has only 32 queue pair IDs available (and thus doesn't support more than 32 queue pairs).

[2019-01-21 21:00] alekseymmm commented on #598
@ak-gh Thank you.

[2019-01-21 21:00] #598 closed

[2019-01-22 02:17] riou-chen commented on #591
thanks, changpe1, the qemu is complied successfully when set the target-list=x86_64-softmmu

[2019-01-22 02:43] wanqunintel opened #599 "perf run with mix readwrite with "-M" need to check the input value"
## Issue Summary
perf run with mix readwrite with "-M" need to check the input value

## Expected Behavior
Should report out the issues out

## Current Behavior
Run successfully with performance message printed out

## Possible Solution
WIP

## Steps to Reproduce
1. On target, run the following command to startup the nvmf_tgt app
./app/nvmf_tgt/nvmf_tgt -c /root/nvmf_single_nvme_p4500_tcp.conf
2.

[2019-01-22 02:46] wanqunintel commented on #599
when using the command as follows, it will also finished testing without checking the input value
./examples/nvme/perf/perf -r 'trtype:TCP adrfam:IPv4 traddr:192.168.3.11 trsvcid:4420' -s 128 -q 128 -o 4096 -w rw -M abcdef -c a -t 10 -D -e 'PRACT=1,PRCHK=GUARD' -m 0

[2019-01-22 05:36] kreuzerkrieg commented on #597
In case where hugepages are not accessible for any reason you will get something like

[2019-01-22 06:08] shuhei-matsumoto commented on #599
Hi @wanqunintel

Thanks for your testing.

To detect non integer character as error, I knew that Chunyang's recent addition was not enough.
We have to add check procedure like https://stackoverflow.com/questions/26080829/detecting-strtol-failure/26083517 .

I'm not certain if I can catch 19.01 but I'll do this.

Thanks,
Shuhei

[2019-01-22 06:24] jnguo opened #600 "SPDK iscsi_tgt prints errors when setting iodepth of fio more than 200"
## Expected Behavior

I have used fio-3.3 with SPDK bdev fio plugin to test the I/O performance of a iSCSI bdev, which based on a NULL bdev exported by rpc method `construct_target_node`.

When the value of iodepth in the fio configuration file more than 200, fio should working well on the SPDK iSCSI target.

## Current Behavior

When I setting `iodepth=256`(or 512) in the fio configuration file a

[2019-01-22 06:31] jessehui commented on #599
Hi @shuhei-matsumoto , No problem.

[2019-01-22 06:31] wanghailiangx opened #601 "missing calsoft file in "fedora-02" server during NIGHTLY test"
Calsoft test is skipped in "fedora-02" server , because there is no "/usr/local/calsoft".

Logs as below:
START TEST SUITE ./test/iscsi_tgt/calsoft/calsoft.sh
......
 07:07:24	# '[' '!' -d /usr/local/calsoft ']'
 07:07:24	# echo 'skipping calsoft tests'
skipping calsoft tests
 07:07:24	# exit 0

## Expected Behavior
Calsoft test run normally as same as in "fedora-08" server.

## Current Behavior
C

[2019-01-22 07:12] jnguo commented on #600
@optimistyzy Thanks for your comment! After I applied the patch https://review.gerrithub.io/c/spdk/spdk/+/430879/ from @xuhuagen , `iodepth=256` with `numjobs=2` in fio config file will working well, but `iodepth=512` with `numjobs=1` will printing errors also.

[2019-01-22 07:40] optimistyzy commented on #600
@jnguo  The patch may not be the final solution. I just mark the three ones as the same issue.

[2019-01-22 07:43] jnguo commented on #600
@optimistyzy Thanks for your help! I will try to find the solution simultaneously.

[2019-01-22 07:46] kreuzerkrieg commented on #596
You are right, looks like I was mixing `perf` from master and my application with commit be4fbb2141ff846e167ad54b7c2d137660e881b9

[2019-01-22 07:46] #596 closed

[2019-01-22 07:55] liang2yan commented on #591
@riou-chen , can we close this issue? You already compiled qemu successfully.

[2019-01-22 08:00] optimistyzy commented on #600
@jnguo Thanks. We will also monitor this issue.

[2019-01-22 08:58] jnguo commented on #454
I have used `iscsiadm` to import a SPDK iSCSI target (based on a NVME SSD). And it worked well, without the problem about iodepth too large. At the same time, I/O performance in the initiator side was better than importing the same target device by SPDK initiator.

I guess it's the issue in the SPDK iSCSI initiator side.

[2019-01-22 14:41] Witblits commented on #588
I also experienced this problem, the traffic would drop for about 10 seconds after the timeout error is printed. The patch mentioned by @optimistyzy seems to have solved the problem for me.

[2019-01-22 15:08] optimistyzy commented on #527
This issue should be discussed later for a solution. I do not think that it should block the release of 19.01, so I remove  the high and bug label.

[2019-01-22 16:26] pawelkax opened #602 "NVMe hotplug poller immediately picks up manually deleted controllers"
Please use the issue tracker only for reporting suspected issues.

When nvme is deleted and then added again spdk displays error.

## Expected Behavior
Can add nvme

## Current Behavior
bdev_nvme.c:1208:spdk_bdev_nvme_create: *ERROR*: A controller with the provided trid (traddr: 0000:06:00.0) already exists.
Exception:
Got JSON-RPC error response
request:
{
  "jsonrpc": "2.0",
  "method": "constru

[2019-01-22 19:46] #567 closed

[2019-01-22 20:25] SavanAnjaria opened #603 "IOs are failing when snapshot is created out of an LVOL"
## Expected Behavior
When IOs are in progress on a LVOL, snapshot creation out of that LVOL shouldn't harm the ongoing IOs.

## Current Behavior
When IOs are in progress on a LVOL, snapshot creation out of that LVOL throws following error messages on the target side and fails the IOs.

bdev_nvme.c:1640:bdev_nvme_queue_cmd: *ERROR*: writev failed: rc = -22
nvme_pcie.c:1716:nvme_pcie_prp_list_append

[2019-01-22 23:02] Seth5141 commented on #562
@vikasbrcm Our 19.01 merge window is closing soon (tomorrow), so I opted to upload a version of it to GerritHub to enable @liang2yan to test it against #570. Please take a look, and feel free to re-upload your original version if I did not properly code it. https://review.gerrithub.io/#/c/spdk/spdk/+/441611/
Thanks,
Seth

[2019-01-22 23:03] Seth5141 commented on #570
@liang2yan I have uploaded that patch @vikasbrcm for you to test this issue against. Please let me know if it is fixed with this update. https://review.gerrithub.io/#/c/spdk/spdk/+/441611/

[2019-01-23 01:22] liang2yan commented on #570
Just tried your patch. the nvmf target crashed after the hotplug event. the coredump is as below:

[code]

[2019-01-23 02:35] shuhei-matsumoto commented on #599
Hi @wanqunintel @jessehui and all,

I submitted relatively long patch series to improve error check including this.
The patch series starts from https://review.gerrithub.io/#/c/spdk/spdk/+/441626/.

I'm happy for your any help about review and verification.

This is targeted to not 19.01 but 19.04.

Thanks,
Shuhei

[2019-01-23 05:43] optimistyzy commented on #600
@jgnuo  for open iscsi , you can check the queue depth setting in /etc/iscsi/iscsid.conf. I am afraid that if you change the value to a bigger value , whether it will still trigger the issue with kernel initiatior

[2019-01-23 06:42] jnguo commented on #600
@optimistyzy Even if I changed the value of `node.session.queue_depth` in `/etc/iscsi/iscsid.conf` from 32 (the default value) to 512 or 1024 (the max value), then restart iscsi server (by `systemctl restart iscsid` or even reboot the computer), in my enviroment, exporting a NVMe SSD by SPDK and importing it locally by open-iscsi work well with fio (no matter how big the fio iodepth has been set).

[2019-01-23 07:59] optimistyzy commented on #600
@jnguo  Got it. It means that you test using both the kernel iSCSI target via SPDK initiator and open iscsi.

[2019-01-23 08:25] jkryl opened #604 "delete_aio_bdev rpc does not send any reply"
I'm using delete_aio_bdev rpc method with my own json-rpc client and this particular method unlike others is failing due to closing the connection without sending any reply. json response parser then fails because empty payload is not a valid json.

## Expected Behavior

the method should return valid json-rpc response (defined in json-rpc spec) with additional boolean data (true if aio bdev was s

[2019-01-23 08:46] pawelwod commented on #604
I think we don't have tests (or any scripts) with half closed connections. Typical flow is that the client is closing connection when response is received. I think the issue is here:
https://github.com/spdk/spdk/blob/master/lib/jsonrpc/jsonrpc_server_tcp.c#L275

Someone writing server side code decided that `recv() == 0` mean that connection is fully closed. This not true, as connection can be hal

[2019-01-23 08:59] changpe1 commented on #602
@pawelkax , thanks, I'll provide a patch to fix the issue.

[2019-01-23 09:05] luleilei1 opened #605 "crypto bdev can be constructed without base bdev"
I construct crypto bdev CryNvmeA on the base bdev NVMe0n1. But  in fact ,I don't constrct base bdev NVMe0n1, and I can not get or delete this crypto bdev.

[root@waikikibeach43 scripts]# ./rpc.py construct_crypto_bdev -b NVMe0n1 -c CryNvmeA -d crypto_aesni_mb -k 0123456789123456
CryNvmeA
[root@waikikibeach43 scripts]# ./rpc.py get_bdevs -b CryNvmeA
Exception:
Got JSON-RPC error response
request:
{

[2019-01-23 09:13] changpe1 commented on #589
@nagendra-v , I'll take a look of the issue, BTW, what's the expected behavior for the scenario ?

[2019-01-23 09:16] jnguo commented on #600
@optimistyzy Yes, my experiment includes:
1. Exporting a iSCSI target by LIO (`targetcli`), and importing it via SPDK initiator. `fio` will be hanging for a long time when the value of `fio` (or `bdevperf`) iodepth is too big (like 256, 512). I have to kill the hanged `fio` process because it spends nearly 100% CPU times of a core.
2. Exporting a iSCSI target by LIO, and importing it via open iscs

[2019-01-23 09:16] changpe1 commented on #587
@optimistyzy , I believe this is a bug, can you take a look? thanks.

[2019-01-23 09:18] changpe1 commented on #591
@riou-chen yeah, I only run the compilation with x86_64-softmmu, so closing the issue for now.

[2019-01-23 09:18] #591 closed

[2019-01-23 09:38] changpe1 commented on #602
@pawelkax , I can reproduce the issue, when HotplugEnable is enabled by NVMe driver, after RPC call delete_nvme_controller Nvme0, the deleted controller will be added automatically with the name "HotInNvme0", but the behavior is expected as our design, I marked the issue with "Bug Scrub" label, we will discuss it in the community meeting.

[2019-01-23 10:17] pawelwod commented on #587
This is separate issue.

Main issue is that the `nvme_tcp_qpair_icreq_send` is blocking the while loop:

[code]

So if you have target and initiator running on the same SPDK core, target is unable to read the request so no way to answer it.

This is quite important implementation issue because if target is slow or hang without closing connection initiator will also hang. This **must** be changed i

[2019-01-23 12:52] jkryl commented on #604
Thanks for your quick response! Based on your comment I have put together a quick fix which works for me, though I haven't tested it thoroughly. There is already `outstanding request count` in json-rpc connection structure so it is quite easy to close the connection only when 1) there are no queued requests and 2) the conn has been closed from the client's side. I'm quoting the diff here just as a

[2019-01-23 14:31] optimistyzy commented on #587
@jimharris @benlwalker design issue for both rdma and tcp transport。 There is also simliar while loop in common fabrics code.

[2019-01-23 14:35] peluse commented on #605
So this is actually by design but maybe can be made more user friendly.  Most (I think) of the non-metadata on disk vbdev modules work like this now, if the underlying bdev does not exist at creation time it is just stored within the vbdev module and then when the base bdev shows up it will get created.  Can you try adding step 5 to create the base bdev then do a get bdevs and see what you get? Th

[2019-01-23 14:37] optimistyzy commented on #587
@pawelwod I can add a timeout

[2019-01-23 14:46] pawelwod commented on #587
Timeout is a workaround here.
Final fix must make probe code into async way as the timeout is not responding (how long the timout should be?).

[2019-01-23 14:55] pawelwod commented on #605
@peluse `../rpc.py delete_crypto_bdev CryNvmeA` this should remove CryNvmeA from list also when base bdev doesn't exist yet. If other vbdev's failt to do that we need to fix them.

[2019-01-23 14:55] optimistyzy commented on #587
async is not ok for the initiator since we cannot use thread model（to spawn
a thread and use a poller）， so who will call the async？SInce  initiator
call spdk_nvme_probe to get the the controller，it is a single function call

在 2019年1月23日星期三，pawelwod <notifications@github.com> 写道：

[2019-01-23 14:57] pawelwod commented on #604
@jkryl Thx, I made quick fix from your comment. I can't test it with the half closed connection case. Can you try this patch https://review.gerrithub.io/#/c/spdk/spdk/+/441718/ ?

[2019-01-23 15:00] pawelwod commented on #587
I don't have the answer. This is a design problem that need to be fixed :) But for sure it shouldn't block.

[2019-01-23 15:03] optimistyzy commented on #587
So timeout could be the solution，like rdma event handling tiemout，or the
timeout in local nvme driver

在 2019年1月23日星期三，pawelwod <notifications@github.com> 写道：

[2019-01-23 15:06] sashakot commented on #587
Hi,

We have customers that count on this functionality. So we're interesting in fixing.
How long the timeout can be? Is it possible any other solution which is not based on timeouts?

BR
Sasha

[2019-01-23 15:13] peluse commented on #605
Thanks but wouldn't it better to just not report the vbdev when its in the global list and has a null base bdev?  Asking someone to manually delete it after they've created it and sees errors seems a little hokey

[2019-01-23 15:19] pawelwod commented on #605
@peluse  It's not reported because no vbdev exist. It is there and will eat any base bdev with matching name as soon you plug it into SPDK. You should be abble to remove it from list by using `delete_*_bdev`. This is the issue we are talking here.

[2019-01-23 16:37] sashakot commented on #587
@jimharris , we're evaluating to run SPDK target process as an mediator for processing IO (in bdev layer, for example) and forwarding it to final destination. I don't think, it can be described as "loopback". Will SPDK target support dynamic adding/removing nvmf subsystems is this scenario?

[2019-01-23 16:41] JasonMesser opened #606 "Hotplug remove of drive causes assertion after applying patch 440890"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

After applying patch https://review.gerrithub.io/c/spdk/spdk/+/440890/
ndev_nvme.c : remove_cb assertion occurs after removing drive

## Steps to Reproduce

1. Start nvmf_tgt app with no configuration and debug enabled:
nvmf_tgt -L

[2019-01-23 16:42] jimharris commented on #587
Hi @sashakot - it should work OK in this kind of mediator use case.  You have both the NVMe-oF target and initiator running in the same SPDK process, but it doesn't sound like you'd have the initiator connecting to an NVMf subsystem served by the target running in the same process.

But the async model is still best.  @changpe1's work was to avoid these types of while loops, so the CPU running the

[2019-01-23 16:53] JasonMesser commented on #606
Using a different drive a different scenario occured:

EAL:   probe driver: 1c5c:d161 spdk_nvme
EAL: PCI device 0000:20:00.0 on NUMA socket 0
EAL: PCI device 0000:80:04.0 on NUMA socket 1
EAL: PCI device 0000:80:04.1 on NUMA socket 1
EAL: PCI device 0000:80:04.2 on NUMA socket 1
EAL: PCI device 0000:80:04.3 on NUMA socket 1
EAL: PCI device 0000:80:04.4 on NUMA socket 1
EAL: PCI device 0000:80:04.5

[2019-01-23 18:21] benlwalker commented on #587
Agree with Jim. To summarize, the bug occurs when you have the SPDK NVMe-oF initiator attempt to connect to an SPDK NVMe-oF target running on the same **thread in the same process**. The SPDK NVMe-oF initiator does a blocking connect operation, which blocks the thread that is also responsible for accepting the connection.

* This isn't a paradox or some infinite loop by configuration, but it is a

[2019-01-23 19:03] JasonMesser commented on #606
Added some additional debug messages.  It looks like nvme_ctrlr->num_ns is 8

nvme_pcie.c: 282:_nvme_pcie_hotplug_monitor: *DEBUG*: remove nvme address: 0000:21:00.0
nvme_ctrlr.c: 489:nvme_ctrlr_fail: *ERROR*: ctrlr 0000:21:00.0 in failed state.
bdev_nvme.c:1087:remove_cb: *DEBUG*: ENTER
bdev_nvme.c:1094:remove_cb: *DEBUG*: nvme_ctrlr->name=HotInNvme0, nvme_ctrlr->num_ns = 8
bdev_nvme.c:1101:remov

[2019-01-23 19:11] nagendra-v opened #607 "NVMe drive LBA format change not recognized by host"
If NVMe drive LBA format is changed after loading nvmf_tgt, host still sees old LBA size and format. Host can't Read/Write until nvme_tgt is reloaded.

##  Steps to Reproduce
1. Run "setup.sh" script, start nvmt_tgt
2. Establish connection from host: nvme connect
3. On target change NVMe drive format LBA size from 512 to 4K (OR 4K to 512) by command "nvme format <xxx>"
4. Can't do read/write to NV

[2019-01-23 19:31] JasonMesser commented on #606
Not sure why one drive is showing 8 name spaces.  The kernel reports all my drives as having only one namespace:

#/usr/local/spdk/scripts# ls -al /dev/nvme*
crw------- 1 root root 242,  0 Jan 23 09:55 /dev/nvme0
brw-rw---- 1 root disk 259,  1 Jan 23 09:55 /dev/nvme0n1
brw-rw---- 1 root disk 259,  2 Jan 23 09:55 /dev/nvme0n1p1
brw-rw---- 1 root disk 259,  3 Jan 23 09:55 /dev/nvme0n1p2
crw------- 1

[2019-01-23 19:41] benlwalker commented on #594
When you run `sudo -E ~/spdk/scripts/setup.sh` does dmesg have any interesting output? Does your EC2 instance have an IOMMU?

[2019-01-23 19:42] benlwalker commented on #556
Fixed, so closing issue.

[2019-01-23 19:42] #556 closed

[2019-01-23 19:48] JasonMesser commented on #606
identify output:

:/usr/local/spdk# ./identify
Starting SPDK v19.01-pre / DPDK 18.11.0 initialization...
[ DPDK EAL parameters: identify --no-shconf -c 0x1 -n 1 -m 0 --base-virtaddr=0x200000000000 --file-prefix=spdk_pid11558 ]
EAL: Detected 16 lcore(s)
EAL: Detected 2 NUMA nodes
EAL: No free hugepages reported in hugepages-1048576kB
EAL: Probing VFIO support...
EAL: PCI device 0000:1e:00.0 on NUMA

[2019-01-23 20:02] kreuzerkrieg commented on #594
Back then, when the question was asked I did not find anything interesting, will re-check tomorrow, meanwhile if you have ideas what additional stuff I can check, let me know, will do as soon as I return to office

Looks like initially it didn’t have IOMMU enabled, then I enabled it using kernel start up options, will check what exactly I’ve used back then

Sent from Mail for Windows 10

From: Ben

[2019-01-23 20:49] JasonMesser commented on #606
Going back to the other drive it looks like remove_cb is being called twice thus causing a different assertion when the drive is hot removed.

nvme_pcie.c: 282:_nvme_pcie_hotplug_monitor: *DEBUG*: remove nvme address: 0000:20:00.0
nvme_ctrlr.c: 489:nvme_ctrlr_fail: *ERROR*: ctrlr 0000:20:00.0 in failed state.
bdev_nvme.c:1098:remove_cb: *DEBUG*: ENTER
bdev_nvme.c:1105:remove_cb: *DEBUG*: nvme_ctrl

[2019-01-23 21:08] JasonMesser commented on #606
nvme_pcie.c: 282:_nvme_pcie_hotplug_monitor: *DEBUG*: remove nvme address: 0000:20:00.0
nvme_ctrlr.c: 489:nvme_ctrlr_fail: *ERROR*: ctrlr 0000:20:00.0 in failed state.
bdev_nvme.c:1098:remove_cb: *DEBUG*: ENTER
bdev_nvme.c:1105:remove_cb: *DEBUG*: nvme_ctrlr->name=HotInNvme1, nvme_ctrlr->num_ns = 1
bdev_nvme.c:1112:remove_cb: *DEBUG*: nvme_bdev->id=1 nsid=1 nvme_bdev->active=1
bdev.c:3625:spdk_bde

[2019-01-23 21:19] Seth5141 commented on #570
@liang2yan What is the SPDK commit hash you have checked out? The line numbers from your output don't seem to match up with mine. Also, can you reproduce it one more time with --enable-debug turned on to avoid optimizing the code? @benlwalker pointed out that is probably obfuscating the tracedump from ASAN.

[2019-01-23 22:27] #604 closed, assigned to nobody

[2019-01-23 23:40] jimharris commented on #572
can you try one of the examples from:

https://www.linux-kvm.org/page/Perf_events

for example, just capture kvm:kvm_exit

[2019-01-23 23:45] jimharris commented on #595
isn't /sys/bus/pci/devices/<pciaddr>/remove the preferred way to emulate a PCI hot remove event?

[2019-01-24 00:30] #584 closed

[2019-01-24 01:51] liang2yan commented on #570
@Seth5141 , I did used your commit which is based on commit "UT: fix the sock_ut failure because of the port conflict". I have configured SPDK with command "./configure --with-rdma --enable-debug" then reproduced this issue again.
The target side reported following messages and crashed:
`nvmf_tgt: bdev.c:1781: _spdk_bdev_channel_destroy_resource: Assertion `ch->io_outstanding == 0' failed. `
The c

[2019-01-24 02:02] optimistyzy commented on #587
@benlwalker  The paradox means that if the instance provides NVMe-oF target service, and there is an initiator inside the process connects itself. For example, it got an bdev. Then the users can construct another NVMe-oF subsystem and export the dev again, and the user can construct the a new subsystem again. So it means, we can infinitely build subsystems on an bdev, so do we really want to users

[2019-01-24 02:45] chwlouluo opened #608 "I can use nvme-cli to find the nvme subsystem,but can not use nvme-cli tool to connect it"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

use nvme-cli to connect the nvme subsystem at initiator

When I use nvme-cli to connect the nvme subsystem at spdk tafget ,I should finally find the nvme ssd devices at initiator
## Current Behavior

When I use nvme-cli to connect

[2019-01-24 04:45] jimharris commented on #607
Bug scrub:

bdev layer doesn't know about the new namespace format, so disconnect/reconnect has no effect since bdev layer hasn't been updated

we've talked about modifying the bdev layer to add more notifiers besides just "remove" - this could be a case where we add something so the bdev module (i.e. nvme) can report up to the bdev layer that the namespace format has been changed - this means nvm

[2019-01-24 04:47] changpe1 commented on #602
Bug Scrub: if this is triggered by user, we may add this controller into the blacklist to prevent being attached again.

[2019-01-24 06:40] wanqunintel opened #609 "keep alive: running perf on initiator: *ERROR*: Error polling CQ! (104): Connection reset by peer"
## Issue Summary
When running nvmf_tgt on the target with TCP transport, then run the perf command on the initiator, the initiator will print out the following error message continuously till ctrl+c to exit the perf on the initiator, when ctrl+c nvmf_tgt, the initiator will keep printing the error message as follows continuously
nvme_tcp.c:1588:nvme_tcp_qpair_process_completions: *ERROR*: Error po

[2019-01-24 06:53] kreuzerkrieg commented on #597
Hallelujah! It works.
Just for the future reference. How to configure Kubernetes for hugepages - https://kubernetes.io/docs/tasks/manage-hugepages/scheduling-hugepages/
It has some inconvenience such as enforcing you to set limits to memory or CPUs, without one of these set the pod wouldnt start
In addition you have to remount `/sys` and `/dev` in r/w mode and mount `/dev` as devtmpfs and `/dev/pt

[2019-01-24 06:53] #597 closed

[2019-01-24 06:58] changpe1 commented on #606
@JasonMesser , Can you try it again and disable the hotplug feature, because currently SPDK will attache the deleted controller automatically after the rpc call delete_nvme_controlle.r

[2019-01-24 07:22] glodfish-zg commented on #609
@wanqunintel. I will provide a patch to fix this issue.

[2019-01-24 07:44] kreuzerkrieg commented on #594
Now I see following:

As well, IOMMU is enabled according to dmesg

I'm attaching the whole file in case you want to inspect it
[kern.log](https://github.com/spdk/spdk/files/2790651/kern.log)

[2019-01-24 08:37] liang2yan opened #610 "bdevperf can't set the qos for the specified Malloc bdev if the number of lun some specific values"
I have created bdev.conf with malloc bdev and set qos for some bdevs. but found that
bdevperf somtimes can't work.

## Expected Behavior
the result should be the qos value.
## Current Behavior
The result is unlimited.

## Possible Solution

## Steps to Reproduce
1. configure bdev.conf with following config:

[code]
2. run bdevperf with following parameters:
`./test/bdev/bdevperf/bdevperf -c bdev.c

[2019-01-24 09:46] tomzawadzki commented on #603
Hi @SavanAnjaria
Could you please submit logs from target which has debug enabled and displaying debug logs (./nvmf_tgt -L blob -L blob_rw -L lvol -L vbdev_lvol -L bdev) ?

[2019-01-24 09:52] karlatec opened #611 "Strange namespace numbers when connecting SPDK NVMeOF initator to Kernel Target"
Not really sure if it's an issue or if I'm doing something wrong so labeling this as "question"

## Expected Behavior
Each connected separate subsystem should have it's namespace enumerated starting from n1.

## Current Behavior
When connecting to Kernel target with multiple separate subsystems namespaces are not numbered starting from 1.

## Steps to Reproduce
1. (Optional, follow this step if yo

[2019-01-24 10:00] darsto commented on #595
This was never supported in SPDK so far. With VFIO we can only detect physical device hotremove done by pulling an NVMe from the PCI slot.

In the case you're describing, VFIO could send us a hotremove interrupt but handling it in SPDK would be tricky. There is fairly handy DPDK API to install such interrupt handler, but it just doesn't play well with the current SPDK design.

I'm marking this iss

[2019-01-24 10:21] darsto commented on #583
The error message was changed in aff99b6

Thanks!

[2019-01-24 10:21] #583 closed

[2019-01-24 12:00] jkryl commented on #604
works fine. Thanks for the prompt fix!

[2019-01-24 14:34] karlatec commented on #572
Hi Jim! I used sudo perf kvm stat -e kvm:* record -a. For some reason I cannot do perf kvm report after that, but at least the numbers are available. FIO was running for 60seconds in both cases.

[perf_kvm_stat_64VM_16NVMe.txt](https://github.com/spdk/spdk/files/2792118/perf_kvm_stat_64VM_16NVMe.txt)
[perf_kvm_stat_64VM_8NVMe.txt](https://github.com/spdk/spdk/files/2792119/perf_kvm_stat_64VM_8NVMe

[2019-01-24 15:09] peluse commented on #605
@luleilei1 please see https://review.gerrithub.io/c/spdk/spdk/+/441914 and let me know what you think.  Its not urgent.

[2019-01-24 16:03] jimharris commented on #572
What was the IOPs for each of these test cases?

The number of kvm_exits is basically the same - about 20M per second.  That in itself seems really high.

I'll need to look at this more.

[2019-01-24 17:04] xxks-kkk opened #612 "Cannot re-run spdk framework in the process"
Here is what I'm trying to do:

1. Write some content to the disk using SPDK
2. Shutdown the SPDK framework
3. Start SPDK framework again
4. We read the content from disk using SPDK again
5. Compare the content we write with the content we read to see whether they are the same

For step2 & 3, I modify `hello_bdev` as following

[code]

Then I got

[code]

I'm wondering if this scenario is supporte

[2019-01-24 18:07] nagendra-v commented on #607
No, format command doesn't reset the drive.

nvme list shows new LBA format after format command(as shown below). If bdev doesn't have updated NS format, list command can still show correct NS format?

#nvme list
Node             SN                   Model                                    Namespace Usage                      **Format**           FW Rev
---------------- -------------------- -----

[2019-01-24 18:16] jimharris commented on #587
I don't think we should do anything to disallow it.  This would not be an endless loop so I don't see a problem.  If we make the connect asynchronous to allow remote namespace A to be exported as namespace B, then this should work fine if the user wants to then export namespace B as namespace C, etc.  It's not recommended to do deep nesting, but trying to detect and disallow it seems like extra wo

[2019-01-24 18:58] nagendra-v commented on #607
Tried removing NMVe drive from SPDK by running command "rpc.py delete_nvme_controller Nvme1".

Command doesn't return any error or any output, "rpc.py get_nvme_controllers" still showing controller after delete command.

  {
    "trid": {
      "trtype": "PCIe",
      "traddr": "0000:07:00.0"
    },
    "name": "Nvme1"
  },

[2019-01-24 19:11] peluse commented on #550
@ChenWang01 @jimharris please see https://review.gerrithub.io/c/spdk/spdk/+/437873

[2019-01-24 19:38] jimharris commented on #600
Can you check which version of libiscsi you have on this system?

I'm trying this same test on my system, where I've built libiscsi from source (git commit id 8d5d0b241d March 7 2018).  I'm not able to reproduce this problem.  I wonder if this is a libiscsi bug that's been fixed.

-Jim

[2019-01-24 20:20] jimharris commented on #600
I figured out which version of libiscsi is on Centos 7 (1.9) - then I built that version on my system and can now reproduce the problem.

I'm continuing to investigate to see if there's something we can do to work around this problem.

[2019-01-24 21:05] JasonMesser commented on #606
I never called rpc delete_nvme_controller.

When you say disable the hotplug feature, are you suggesting to not call "rpc set_bdev_nvme_hotplug -e"?

If I disable hotplug, SPDK will not start the poller and thus will not discover the attached drives and create bdevs for them.  I'm confused can you please clarify?

[2019-01-24 21:16] Seth5141 commented on #562
Vikas patch mentioned above has been merged, and it has already indicated that his patch fixes the above issue. Thank you @vikasbrcm for the fix! closing this issue.

[2019-01-24 21:16] #562 closed

[2019-01-24 22:17] jimharris commented on #600
I've narrowed this down to libiscsi commit 37f908bb8a.  This commit went in libiscsi version 1.14.  I back ported this commit to 1.9 locally on my system, and the same failure went away.

This seems to indicate that the LIO target is not doing this same StatSN check - or at least it's not failing the connection when it happens.

Here are the options as I see them:

1) Try to throttle the queue dep

[2019-01-24 22:17] jimharris commented on #600
Sorry - option #5 should have read libiscsi < version 1.14.

[2019-01-24 22:31] jimharris commented on #590
Closing this issue - let's track progress on #600.  Please see the updates on #600 - we've made good progress on root cause.

[2019-01-24 22:31] #590 closed

[2019-01-24 22:49] jimharris commented on #600
After seeing that the Linux kernel doesn't check ExpStatSN at all, I think option #2 above is the best option.  I've submitted https://review.gerrithub.io/c/spdk/spdk/+/441981 to do just that.

[2019-01-25 03:09] wanqunintel commented on #609
@changpe1 , i have updated to test with this patch, observation as follows:
1. First time run with this patch, on target, running command ./app/nvmf_tgt/nvmf_tgt -c /root/nvmf_single_nvme_tcp.conf
on initiator, run command, ./examples/nvme/perf/perf -r 'trtype:TCP adrfam:IPv4 traddr:192.168.3.11 trsvcid:4420' -s 1024 -q 10 -o 16384 -w randrw -M 50 -t 60, there are errors printed on the initiator a

[2019-01-25 04:45] wanqunintel commented on #588
updated with the latest patch, observation as follows
1. test with following command and passed
./examples/nvme/perf/perf -r 'trtype:TCP adrfam:IPv4 traddr:192.168.3.1 trsvcid:4420' -s 1024 -q 10 -o 16384 -w randrw -M 50 -t 5
2. test with longer duration and print error message continuously as follows
nvme_tcp.c:1588:nvme_tcp_qpair_process_completions: *ERROR*: Error polling CQ! (11): Resource tem

[2019-01-25 04:53] wanqunintel commented on #609
retested with latest patch, observations as follows
1. first time run on target, ./app/nvmf_tgt/nvmf_tgt -c /root/nvmf_single_nvme_tcp.conf
run command as follows on initiator, it finished testing within 30 seconds even though -t 60, no errors print out, IOPS valud is quite low ~258
./examples/nvme/perf/perf -r 'trtype:TCP adrfam:IPv4 traddr:192.168.3.11 trsvcid:4420' -s 1024 -q 10 -o 16384 -w ran

[2019-01-25 05:19] liang2yan opened #613 "bdevperf crashed with QoS parameters"
Just run bdevperf  to test some SPDK function. Found that bdevperf will crash with -S param.

## Expected Behavior
bdevperf run without error.

## Current Behavior
bdevperf crashed. the coredump is as below:

[code]

## Possible Solution

## Steps to Reproduce
1. configure bdev.conf with following content:

[code]
2. run bdevperf with following paramters:

`./test/bdev/bdevperf/bdevperf -c bdev.co

[2019-01-25 05:47] wanqunintel commented on #588
Observation
1. On initiator part, when running with command "./examples/nvme/perf/perf -r 'trtype:TCP adrfam:IPv4 traddr:192.168.3.1 trsvcid:4420' -s 1024 -q 10 -o 16384 -w randrw -M 50 -t 60", it print following errors
Write completed with error (sct=0, sc=12)
Write completed with error (sct=0, sc=12)
Write completed with error (sct=0, sc=12)
Read completed with error (sct=0, sc=12)
Read complete

[2019-01-25 05:49] liang2yan commented on #613
Just tried again. without -S parameters, bdevperf also crashed.

[2019-01-25 05:55] wanghailiangx opened #614 "nvmf_tgt reports not enough buffers when running on 32 cores"
On 32 cores, nvmf_tgt reports:

[root@waikikibeach34 spdk20180605_debug_3]# ./app/nvmf_tgt/nvmf_tgt -c nvmf.conf -m 0xffffffff -s 18432
Starting SPDK v19.01-pre / DPDK 18.08.0 initialization...
[ DPDK EAL parameters: nvmf --no-shconf -c 0xffffffff -m 18432 --base-virtaddr=0x200000000000 --file-prefix=spdk_pid3495 ]
EAL: Detected 44 lcore(s)
EAL: Detected 2 NUMA nodes
EAL: No free hugepages reporte

[2019-01-25 06:06] shuhei-matsumoto commented on #613
Hi @liang2yan

I tried to reproduce the issue in my environment.

(bdev.conf )
[code]

I saw two behaviors:

1.
bdev_io memory was leaked.
[code]

2.
The following rte_free failure flooded.

EAL: Error: Invalid memory
EAL: Error: Invalid memory
EAL: Error: Invalid memory
EAL: Error: Invalid memory
EAL: Error: Invalid memory
EAL: Error: Invalid memory
EAL: Error: Invalid memory

It looks that there

[2019-01-25 06:08] liang2yan commented on #613
Hi @shuhei-matsumoto , you can try to run bdevperf longer, then you may get the coredump also.

[2019-01-25 06:17] shuhei-matsumoto commented on #613
I tried but

EAL: Error: Invalid memory
EAL: Error: Invalid memory
EAL: Error: Invalid memory

was flooded first after about 1 minutes. So I couldn't run it longer like you.
If I find anything, I will add it here.

[2019-01-25 07:05] liang2yan commented on #537
Just tried with latest codes. nvmf target still crashed. the log is as below:

[code]

The coredump is as below:
[code]

[2019-01-25 07:47] liang2yan opened #615 "nvmf target reported error after removing and inserting nvme bdev into nvmf target"
## Expected Behavior
No error messages.

## Current Behavior
Error message is out.
^Cthread.c: 249:spdk_thread_exit: *ERROR*: thread reactor_0 still has channel for io_device rdma_transport

## Possible Solution

## Steps to Reproduce
1. run nvmf target with following config:

[code]

2. run fio job in two machines, the fio job is as below:
[code]

3. while fio running, use following command to re

[2019-01-25 07:58] wanghailiangx opened #616 "json_config.sh reports no spdk_tgt.sock in FreeBSD in NIGHTLY test"
When json_config.sh is running in "freebsd-0" server, it reports no spdk_tgt.sock file. Log as below:

START TEST SUITE ./test/json_config/json_config.sh
........
Exception:
Error while connecting to /var/tmp/spdk_tgt.sock
Error details: [Errno 2] No such file or directory

But this error does not seem to affect the test.

## Expected Behavior
There is no exception report in json_config.sh test

#

[2019-01-25 08:10] liang2yan commented on #570
This issue also happened if using "rpc.py delete_nvme_controller Nvme*" command to remove nvme controller. But not every time.

[2019-01-25 10:37] wanghailiangx opened #617 "nvme_cli.sh reports EAL parameters in NIGHTLY test"
nvme_cli.sh reports EAL parameters as below:

START TEST SUITE test/nvmf/nvme_cli/nvme_cli.sh
..........
 09:10:29	# ./nvme discover -t rdma -a 10.0.2.15 -s 4420
Starting SPDK v18.10-pre / DPDK 18.05.0 initialization...
[ DPDK EAL parameters: nvme_cli -c 0x100 -m 512 --legacy-mem --file-prefix=spdk0 --base-virtaddr=0x200000000000 --proc-type=auto ]
EAL: Detected 8 lcore(s)
EAL: Detected 1 NUMA nod

[2019-01-25 12:43] jnguo commented on #600
@jimharris Thanks for your comments! As you said, it's `libiscsi-1.9.0-7.el7.x86_64` in my CentOS 7 system. But when I followed your option 2, the fio (or bdevperf) still hanged when the iodepth is 256 or 512.
There had some issue to install libiscsi whose version is larger than 1.14, so I didn't have chance to test your option 5 now. But I will try it in my system as soon as possible.

[2019-01-25 13:26] karlatec opened #618 "spdk_thread_lib_fini: io_device not unregistered on app exit"
## Current Behavior
Error message displayed on app exit:
thread.c: 179:spdk_thread_lib_fini: *ERROR*: io_device AIO1 not unregistered

## Expected Behavior
Clean exit.

## Steps to Reproduce
1. Start SPDK target app or Vhost app
2. Create file for AIO bdev:
[code]
3. Construct AIO bdev
[code]
4. Ctrl-C to stop SPDK app
[code]

## Context (Environment including OS version, SPDK version, etc.)
Teste

[2019-01-25 15:40] jimharris commented on #600
Hi @jnguo,

For your test with option #2 - did you use the patch I linked above (https://review.gerrithub.io/c/spdk/spdk/+/441981) or did you create your own patch?  I did not see any hangs when testing with QD=512 with the 441981 patch.

Thanks,

-Jim

[2019-01-25 16:38] benlwalker commented on #588
Fixed by 81faea1

[2019-01-25 16:38] #588 closed

[2019-01-25 16:39] peluse opened #619 "Jenkins UT are not running crypto UT"
Either Karol, Seth or myself can take care of this.  crypto is not enabled in the configure scrtipt need to enable it and address any issues before leaving it enabled.

[2019-01-25 16:47] jimharris commented on #619
Just a warning - I think that enabling crypto in the unittest job will result in scan-build ipsec_mb failures.  I'm looking at potential ways to avoid this.

[2019-01-25 18:52] nagendra-v opened #620 "nvme cli returns error, if drive doesn't have any namespace"
nvme cli returns error for all commands if drive doesn't have any namespace

## Expected Behavior
cli commands should work with or without namespace's

## Current Behavior
Cli returns error:

command: **nvme id-ctrl <0000:27:00.0>**
cli output:
EAL: Cannot find resource for device
identify controller: Inappropriate ioctl for device

command: **nvme list-ns <0000:27:00.0>**
cli output:
EAL: Cannot

[2019-01-25 19:02] nagendra-v commented on #620
Even "spdk/examples/nvme/identify" command also shows "EAL: Cannot find resource for device" error and doesn't get controller details.

[2019-01-25 19:46] Seth5141 commented on #619
I have a patch out right now that once merged will allow us to run the unit tests with all of the flags turned on (https://review.gerrithub.io/#/c/spdk/spdk/+/440423/). But we should probably address Jim's concern first.

[2019-01-25 20:56] jimharris commented on #618
Can you try https://review.gerrithub.io/c/spdk/spdk/+/442119?

[2019-01-25 21:45] jimharris commented on #613
I've also been able to hit the EAL: Error: Invalid memory error, as well as a different issue where the ch->per_thread_cache is corrupted in spdk_bdev_get_io.  Note that Liang's assert is also related to the per-thread_cache_count.

This definitely seems to be QoS related.

[2019-01-25 21:46] jimharris commented on #613
@Comphix

[2019-01-26 00:17] optimistyzy commented on #614
@rdma.c:1691:spdk_nvmf_rdma_create: ERROR: There are not enough buffers to satisfyper-poll group caches for each thread. ( 512)supplied. (1024) required

See this, I think that you need to increase the  opts->num_shared_buffers  via either RPC call or the configuration filethrough setting  NumSharedBuffers in the RDMA transport since the Default value is 512

[2019-01-26 00:18] optimistyzy commented on #614
I currently marked it is invalid, since it is the expected behavior.

[2019-01-26 00:21] optimistyzy commented on #600
@jimharris   Thanks for your time also debugging this.  But should we still keep the code in the iSCSI target.  Currently @jnguo would use SPDK iSCSI initiator to test any iSCSI target. Removing the statsn checking code may not help. Maybe, we need to put some comments in the READMe or other parts to state that there are some issues related with libiscsi.

[2019-01-26 15:55] lorneli opened #621 "nvme: check if sq is full before submitting command"
Hi,

Currently in lib/nvme/nvme_pcie.c, there's an error log if pqpair's sq_tail equals to sq_head, which means the sq is already full.

[code]

After checking nvme specification (listed below), I think maybe it's better to check if sq is full before submitting command. If the sq is full, then complete this command with error status code and let caller to retry this command later. And the retried

[2019-01-26 16:01] pcybulski opened #622 "Spkd target is crashing after few iterations of connect and disconnect on stable kernel 4.20.4, rhel 7.4 and spdk in version v18.10.1"
While using latest stable kernel 4.20.4 on rhel 7.4 with spdk in version v18.10.1, spdk target crashes after few iterations of connect and disconnect while using nvme-cli.

## Expected Behavior
Even if there is some kind of problem on with rdma drivers (i40e, i40iw) or rdma-core-devel-22, spdk target should not be crashing.

## Current Behavior
General setup
git clone https://github.com/spdk/spdk.

[2019-01-27 12:12] ShaharSalzman-K commented on #577
Closing, since this is due to a bug in my driver.
I did not properly release  reference of the IO channel, so it remained open even though I hot unplugged the volume.

[2019-01-27 12:12] #577 closed

[2019-01-27 22:49] shuhei-matsumoto commented on #613
@jimharris @liang2yan

Jim's fix worked in my environment!

[2019-01-28 01:40] changpe1 commented on #621
@lorneli , actually the line "if (pqpair->sq_tail == pqpair->sq_head)" will never happen in the case the FW has a correct behavior, actually we add this line for debug purpose, so I think you can remove it. in the function nvme_pcie_qpair_submit_request() SPDK already checked the queue is full or not via the free_tr list.

[2019-01-28 01:42] liang2yan commented on #613
@jimharris @shuhei-matsumoto , Jim's fix also worked in my environment!

[2019-01-28 02:08] jnguo commented on #600
@jimharris Thanks for your comment. Yes, **I have applied your patch**. Then I have used LIO to exporting a NVMe SSD (which producted a iscsi target named `iqn.2018-11.local.jnk.server:disk1`), and imported it by SPDK initiator locally. The testing configure files for SPDK bdev fio plugin are as follows:

[code]

[code]

The result of running fio is as follows:
[code]

The fio will hang for a very

[2019-01-28 02:11] wanqunintel commented on #609
Another update, when running with rdma transport, it will not exit perf even running with 60+ seconds, when runing within 10s, like 9s, 8s, 5s, it all works
./examples/nvme/perf/perf -r 'trtype:RDMA adrfam:IPv4 traddr:192.168.3.1 trsvcid:4420' -s 1024 -q 10 -o 16384 -w randrw -M 50 -t 10

[2019-01-28 02:34] #600 closed

[2019-01-28 02:36] glodfish-zg commented on #609
same as @wanqunintel  has seen there, if time is 60s, transport is TCP.

[2019-01-28 02:48] jnguo commented on #600
Hi @jimharris , I saw you closing this issue. Did it mean that the `eta 1371d:13h:46m:55s` of fio is not a `hanging`? If they are not equal, please forgive me for my poor expression.

[2019-01-28 03:01] changpe1 commented on #600
@jnguo the issue was closed automatically as the patch was merged. Jim's patch will fix SPDK iSCSI target with your initiator case, and I'm seeing that you are using LIO, so for your high queue depth test case, I think you can try with SPDK iSCSI target.

[2019-01-28 04:09] changpe1 commented on #620
@nagendra-v  for your cases, the nvme-cli tool should be started with secondary process, so you may change the spdk.conf in your nvme-cli directory and change shm_id=1 in the case you started nvmf_tgt by default.

[2019-01-28 05:19] #613 closed

[2019-01-28 06:02] wanghailiangx commented on #614
Updated nvmf.conf
[Transport]
  Type RDMA
  NumSharedBuffers 1024

The problem “not enough buffers” seems to have been solved. But there are new errors:
transport.c: 215:spdk_nvmf_transport_poll_group_create: *NOTICE*: Unable to reserve the full number of buffers for the pg buffer cache.
transport.c: 215:spdk_nvmf_transport_poll_group_create: *NOTICE*: Unable to reserve the full number of buffers

[2019-01-28 06:09] wanghailiangx opened #623 "nvmf_tgt reports no free I/O queue IDs when running on 32 cores"
On 32 cores, nvmf_tgt reports:

[root@waikikibeach34 spdk]# ./app/nvmf_tgt/nvmf_tgt -c nvmf.conf -m 0xffffffff -s 18432
Starting SPDK v19.01-pre / DPDK 18.08.0 initialization...
[ DPDK EAL parameters: nvmf --no-shconf -c 0xffffffff -m 18432 --base-virtaddr=0x200000000000 --file-prefix=spdk_pid29539 ]
EAL: Detected 44 lcore(s)
EAL: Detected 2 NUMA nodes
EAL: No free hugepages reported in hugepages-

[2019-01-28 06:17] wanghailiangx commented on #614
Now closed the issue.  And "No free I/O queue IDs" is not an issue, this is limited by NVMe didks.

[2019-01-28 06:17] #614 closed

[2019-01-28 06:17] wanghailiangx commented on #623
Repeated, now close it.

[2019-01-28 06:17] #623 closed

[2019-01-28 06:50] wanqunintel opened #624 "perf performance drop with master code compared with v18.10.x"
## Issue Summary
Perf performance drop compared with v18.10.x

## Expected Behavior
Performance should keep almost the same

## Current Behavior
Performance drops to 1/3 compared with v18.10.x

## Steps to Reproduce
1. git clone https://github.com/spdk/spdk.git
2. git checkout remotes/origin/v18.10.x
3. git submodule update --init
4. ./configure --with-rdma
5. make -j
6. On target, running with th

[2019-01-28 07:11] wanqunintel commented on #624
use malloc as backend and retested with no big delta with master and v18.10.x

[2019-01-28 07:16] changpe1 commented on #624
@wanqunintel Can you also post the performance result using kernel initiator driver with fio ?

[2019-01-28 07:17] glodfish-zg commented on #609
update. the performance is ok.

[2019-01-28 07:41] Comphix commented on #620
By the way, please also have a try with below patch although there is some comments.

https://review.gerrithub.io/#/c/spdk/nvme-cli/+/432526/

As Changpeng mentioned, in your case, nvme-cli needs to start as the secondary process when there is other SPDK process (primary) is running.

More about nvme-cli, please refer to https://spdk.io/doc/spdkcli.html

[2019-01-28 07:59] liang2yan opened #625 "Windows VM will report error while formating SPDK vhost-blk AIO disk"
## Expected Behavior
Every operation succeeded.

## Current Behavior
windows 2012 VM will report error.

## Steps to Reproduce
1. run vhost-blk with AIO bdev.
2. Run windows server 2012 VM.
3. Try to format the spdk disk.
4. windows server will report error.

[2019-01-28 08:17] changpe1 commented on #625
@liang2yan any information about the issue, it's hard to understand what you are saying here?

[2019-01-28 08:38] wanghailiangx commented on #549
@peluse
But blockdev.sh still run timeout in NIGHTLY test. If this issue need reopen?
Please view https://review.gerrithub.io/#/c/spdk/spdk/+/393768/
fedora-03 and ubuntu14.04 servers.

[2019-01-28 09:09] benqwu opened #626 "bdev_aio_group_poll lost events"
## Expected Behavior

in bdev_aio_group_poll(), all aio events should be got.

## Current Behavior

I use 2 lcore and submit ios to the same aio bdev concurrently.
SPDK create 2 bdev_aio_io_channel(ch1 and ch2) for each lcore.
Sometimes I found that io stream stopped, and ch1->io_inflight is not 0, and rc = epoll_wait is always 0, so it never call io_getevents again, which is the same to ch2.

##

[2019-01-28 09:35] Comphix commented on #610
Looking at this issue.

[2019-01-28 09:39] benqwu commented on #626
@optimistyzy CC

[2019-01-28 13:09] lorneli commented on #621
Hi changpeng,

Thanks a lot for your reply. I haven't noticed that before.

[2019-01-28 13:09] #621 closed

[2019-01-28 13:52] darsto commented on #617
Apparently this was already reported in #471 and proper fixes were merged to spdk-cli. It's just that CTP still uses an outdated nvme-cli version. @Seth5141 could you perform an update?

[2019-01-28 14:06] liang2yan opened #627 "nvmf target crashed if using RDMA transport nvme bdev"
## Expected Behavior
No coredump.

## Current Behavior
nvmf target crashed.
[code]

## Steps to Reproduce
1.run nvmf target with following config:
[code]

2. in another machine, run nvmf with following config:
[code]

3. in the host machine, run fio job using following config:
[code]
4. remove the RDMA transport nvme bdev.
5. after the fio finished, use rpc command to add the nvme bdev into subsys

[2019-01-28 15:06] pawelkax commented on #582
@karlatec @pawelwod Patch with fix: https://review.gerrithub.io/#/c/spdk/spdk/+/442323/

[2019-01-28 16:59] Seth5141 commented on #622
@jimharris Will do.

[2019-01-28 19:32] jimharris commented on #626
Hi @benqwu,

Can you provide more specifics on steps to reproduce?

Thanks,

-Jim

[2019-01-28 20:44] pawelwod commented on #625
Check if you have proper virtio driver version -> https://spdk.io/doc/vhost.html#vhost_bugs

[2019-01-28 23:19] Seth5141 commented on #622
Hi @pcybulski I wasn't able to recreate your exact setup, but I was able to reproduce the same error on v18.10.x. It is caused by the call to ibv_query_qp returning bogus values, and then us trying to dereference the string versions of those errors when printing out error messages. This has been fixed on master with commit 76675f6f603d24501e56aec24f51e31078350d96. Please try your specific configur

[2019-01-28 23:31] Seth5141 commented on #617
@wanghailiangx I have update the nvme-cli repos on the CTP. Please check tonight to see if the issue has been resolved. @darsto thanks for pointing this out. I wasn't aware of the previous issue or updates.

[2019-01-29 00:59] luleilei1 commented on #605
Hi，I agree with your proposal. but I hope it prompts errors rather than notice.

[2019-01-29 01:31] liang2yan opened #628 "SPDK vhost-nvme reported error while attaching device into fedora26 VM"
I have tried to run vhost-nvme with fedora26 VM. But the vhost-nvme reported error and the Fedora 26VM can't see the nvme block device, but only the nvme pci controller.

## Expected Behavior
the fedora26 VM can set the nvme block device.

## Current Behavior
vhost-nvme reported error and the Fedora 26VM can't see the nvme block device, but only the nvme pci controller.

## Possible Solution
If I

[2019-01-29 03:39] changpe1 commented on #628
@liang2yan I submit a patch to fix the issue, https://review.gerrithub.io/#/c/spdk/spdk/+/442498/

[2019-01-29 04:12] optimistyzy commented on #626
@benqwu  This is interesting. I can get the points on what you describe. Could you have more details for reproducing this issue

[2019-01-29 04:35] liang2yan commented on #628
@changpe1 , just verified your patch. It can fix this issue!

[2019-01-29 06:11] wanqunintel commented on #599
@shuhei-matsumoto thank you so much for your response. i have tested with latest master code (commit d1f943239ee8bb0d459da01fe96562bc5f4f0948) and it still finished the testing with perf result, "-M ." there is no digit at all, and does your patch plan to check "-M " parameter? Thank you.

[2019-01-29 06:32] shuhei-matsumoto commented on #599
@wanqunintel

Thanks much for testing. Will you cherry-pick https://review.gerrithub.io/#/c/spdk/spdk/+/441630/ and try again.

-Shuhei

[2019-01-29 06:47] optimistyzy commented on #627
@liang2yan  Is it the same or similar issue with https://github.com/spdk/spdk/issues/615 ?

[2019-01-29 06:53] Comphix commented on #610
Some findings

root@storage35:/home/gangcao/storage17/20160628/waikiki/spdk/test/bdev/bdevperf# ./bdevperf -c qos.conf -q 512 -o 4096 -w read -t 10 -m 0x1 -r /var/tmp/spdk.sock
Starting SPDK v19.01-pre / DPDK 18.11.0 initialization...
[ DPDK EAL parameters: bdevperf --no-shconf -c 0x1 --base-virtaddr=0x200000000000 --file-prefix=spdk_pid38786 ]
EAL: Detected 44 lcore(s)
EAL: Detected 2 NUMA nodes

[2019-01-29 06:53] liang2yan commented on #627
Similar issue. the issue 615 just reported error. this issue reported nvmf target coredump.

[2019-01-29 06:53] Comphix commented on #610
@liang2yan , please also have a try on other Bdev except Malloc0 and Malloc1, thanks

[2019-01-29 06:56] Comphix commented on #610
My commit id:

commit d1f943239ee8bb0d459da01fe96562bc5f4f0948
Author: Ben Walker <benjamin.walker@intel.com>
Date:   Mon Jan 28 11:09:59 2019 -0700

[2019-01-29 06:56] changpe1 commented on #628
closing the issue as patch has been merged.

[2019-01-29 06:56] #628 closed

[2019-01-29 07:05] optimistyzy commented on #627
@liang2yan  If is the similar issue, I suggest to add more info in #615 can close this duplicated one.

[2019-01-29 07:13] pawelwod commented on #328
Hi @pohly,
Here is a patch you can try https://review.gerrithub.io/#/c/spdk/spdk/+/442434/

[2019-01-29 07:19] Comphix commented on #610
Seems like relating to the Malloc bdev creation. @liang2yan , please have a try with NVMe or NULL Bdev with the similar QoS configuration. Thanks.

[2019-01-29 07:39] wanghailiangx commented on #617
@Seth5141 Thanks your updated code. But "fedora-06" server where nvme_cli.sh run on have run time out and have no build logs for several days. Could you check it? By the way, look at the freebsd-0 server, thanks.
https://ci.spdk.io/spdk/builds/review/9792718f18ac8d424f6caae84bf1da1f78f21eff.1548684497/  (1/29/2019)

[2019-01-29 07:41] changpe1 commented on #609
@wanqunintel , thanks for the update, closing the issue as patch was merged.

[2019-01-29 07:41] #609 closed

[2019-01-29 07:44] Comphix commented on #610
Looks like relating to the Malloc Bdev, I've tried the NVMe SSD, it works as expected.

root@storage35:/home/gangcao/storage17/20160628/waikiki/spdk/test/bdev/bdevperf# ./bdevperf -c qos_ssd.conf -q 512 -o 4096 -w read -t 10 -r /var/tmp/spdk.sock
Starting SPDK v19.01-pre / DPDK 18.11.0 initialization...
[ DPDK EAL parameters: bdevperf --no-shconf -c 0x1 --base-virtaddr=0x200000000000 --file-prefix

[2019-01-29 08:03] #618 closed

[2019-01-29 08:32] liang2yan opened #629 "SPDK perf crashed on NVMf/TCP bdev hotremoval"
## Expected Behavior
perf can finish, but not crash.

## Current Behavior
perf crashed.

[code]
## Possible Solution

## Steps to Reproduce
1. run nvmf target with following config:

[code]

2. in another machine, run nvmf with following config:

[code]

3. in another machine, run spdk perf with following parameters:

`./examples/nvme/perf/perf -q 64 -w randread -t 600 -r 'trtype:TCP adrfam:IPv4 t

[2019-01-29 09:22] ChenWang01 commented on #550
@fshenx Can use the ./rpc.py construct_raid_bdev -n raid0 -r 0 -b "Malloc0" command to check the strip_size and strip_size_kb with none value.

[2019-01-29 10:57] pcybulski commented on #622
I am not able to check it because on 76675f6 or on master because connecting to target does not work at all.

On initiator in dmesg there is only
 2952.497912] nvme nvme0: rdma connection establishment failed (-110)

On target there is nothing in dmesg.

The only thing that changed is spdk/dpdk version.

[2019-01-29 12:37] darsto commented on #617
This also broke fedora-03, please see the following patch:
https://review.gerrithub.io/c/spdk/spdk/+/442552

[code]

[2019-01-29 13:47] darsto commented on #616
Thanks, fix here:
https://review.gerrithub.io/c/spdk/spdk/+/442262 test/common: suppress waitforlisten output on BSD

Luckily this is nothing serious.

[2019-01-29 14:04] Seth5141 commented on #622
Are you able to cherry pick 76675f6 onto 18.1.x and run it that way? That way the only additional change is that one. It shouldn't prevent you from connecting that way. Although this being broken entirely on master seems like a different/bigger issue.

[2019-01-29 14:39] pcybulski commented on #622
I tried with changing only one file but it did not compile. Do not have the skill to decide what other modifications are necesarry. If Paweł W. Could help me with it then we could try tommorow.

[2019-01-29 15:01] Seth5141 commented on #622
@pcybulski No problem. I tried the following steps on my local machine and was able to compile spdk with the desired change without having to actually go in and manually change any files. The patch can be applied directly on the v18.10.x branch without any merge issues.
from the spdk directory
1.  cd dpdk && git clean -xfd (remove all dpdk build artifacts)
2. cd .. && make clean && git checkout v1

[2019-01-29 15:12] darsto commented on #629
Bug scrub: We don't stop I/O on hotremove. @benlwalker has an idea how to fix this.

[2019-01-29 15:16] darsto commented on #627
Bug scrub: @bwalker to look through it.

[2019-01-29 15:18] darsto commented on #625
Bug scrub: @karlatec has a Windows setup with vhost-scsi, he'll try to reproduce it there.

[2019-01-29 15:22] darsto commented on #620
Bug scrub: @nagendra-v Just to verify: have you tried running nvme-cli with NVMe that does have some namespaces?

[2019-01-29 15:30] mkrzywie opened #631 "Clone based on non-existing snapshot"
After creating 2 snapshots of lvol, decoupling it from snapshot and removal of snapshots we have bdev that is clone based on just removed snapshot.

## Expected Behavior
In result of this operation chain we should get thick provisioned lvol that is neither clone or snapshot

## Current Behavior
We got lvol that is clone based on non existing (deleted) snapshot

## Possible Solution
1. Inflate clon

[2019-01-29 15:40] darsto commented on #594
Bug scrub: we already have plans to run some tests on EC2. @Seth5141 to try to run initial tests.

[2019-01-29 15:43] darsto commented on #592
Bug scrub: It seems like bdevperf doesn't handle initialization failures properly. We'll try to reproduce this with some other means.

[2019-01-29 15:56] darsto commented on #608
Bug scrub: This seems to be a duplicate of #576. "nvme discover shows all target subsystems, even those that are not accessible by the host". @ShaharSalzman-K is already working on the fix.

I'm closing this issue. If this is an unrelated bug, please give me a note and I'll reopen.

[2019-01-29 15:56] #608 closed

[2019-01-29 19:59] jimharris commented on #441
Fairly certain this issue is now resolved based on MR spanning fixes that went in a few months ago.  No word yet from the submitter to confirm, so closing this issue.  If retesting still shows a problem, please reopen this issue (if the issue is seen) or file a new issue.

[2019-01-29 19:59] #441 closed

[2019-01-29 20:18] benlwalker commented on #579
This is resolved. Thanks for pointing it out.

[2019-01-29 20:18] #579 closed

[2019-01-29 20:47] jimharris commented on #592
This has nothing to do with the NVMe-oF initiator actually.  bdevperf is just trying to clean up twice in the failure path (i.e. out of memory) resulting in the types of failures reported here.

One line fix here should fix the issue:  https://review.gerrithub.io/c/spdk/spdk/+/442628

[2019-01-29 20:52] jimharris commented on #625
Let's also make sure the double-buffering is working correctly in the AIO driver.  AIO has specific alignment restrictions which vhost will sometimes violate by default.  But @pelplinski added the double-buffering support which should fix this.

[2019-01-29 20:53] jimharris commented on #625
Note - the double-buffering is actually done in the generic bdev layer.  I just meant let's check that AIO is specifying its required alignment to trigger the bdev layer to double buffer when necessary.

[2019-01-29 20:54] jimharris commented on #593
I can confirm this is a bug.  Marking it as such.

[2019-01-29 21:07] jimharris commented on #601
Closing this issue.  We are planning to shut down the Chandler test pool next week.

[2019-01-29 21:07] #601 closed

[2019-01-29 21:08] jimharris commented on #599
This patch was merged.  I've confirmed that perf properly detects malformed options like "-M ."

[2019-01-29 21:08] #599 closed

[2019-01-29 22:56] nagendra-v commented on #620
@dastro: Yes, drives which have at least one namespace are shown in "list" command. Below are details.
@changpe1: "shm_id=1" is set in spdk.conf file, otherwise probe fails.
@Comphix : Tried latest spdk nvme-cli, still seeting errors. Below are details

[root@localhost nvme-cli-spdk-0129]# ./nvme list
Starting SPDK v18.10.1 / DPDK 18.08.0 initialization...
[ DPDK EAL parameters: nvme_cli -c 0x80 -

[2019-01-29 23:02] nrpandian opened #632 "SPDK nvmf vpp target crashed while running"
Using vpp 18.01.01 along with master spdk 1/29.
- able to launch & configure vpp
- able to launch spdk taget with vpp enalbled
- able to run spdk perf (posix tcp enabled not VPP) test tool successfully
- but sometimes while running/exiting perf tool, target crashes with following stack:

## Expected Behavior

spdk nnmf vpp target should not crash while being accessed by clients.

## Current Behavi

[2019-01-29 23:02] nrpandian commented on #632
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib64/libthread_db.so.1".
Core was generated by `./tcp/oss/spdk_vpp/app/nvmf_tgt/nvmf_tgt'.
Program terminated with signal 6, Aborted.
#0  0x00007fda4b0d91f7 in __GI_raise (sig=sig@entry=6) at ../nptl/sysdeps/unix/sysv/linux/raise.c:56
56	  return INLINE_SYSCALL (tgkill, 3, pid, selftid, sig);
Missing separate debuginf

[2019-01-29 23:04] nrpandian commented on #632
I am using spdk master 1/29/19

[2019-01-29 23:49] peluse opened #633 "bdev/crypto: mem leak in driver init on failure path after first device init"
Found in compression review.  Will fix tomorrow.

[2019-01-30 01:47] fshenx commented on #592
Thanks.
There are the log messages after cherry-pick this patch:
[code]

[2019-01-30 01:52] jimharris commented on #592
That is expected.  That QD with 512K io size would require more than 50GB of memory. At least now we will get a nice error message instead of core dump.

[2019-01-30 02:44] benqwu commented on #626
Hi @jimharris  @optimistyzy
I developed an app on the upper level of bdev layer and  did not modify SPDK source code.
I used vdbench to generate IO streaming.

My simplified code is here:

1) init:
`struct spdk_bdev *bdev;`
`struct spdk_bdev_desc *desc;`
`struct spdk_io_channel *bdev_chs[2] = {};`
`bdev = spdk_bdev_get_by_name(name);`
`spdk_bdev_open(bdev, true, NULL, NULL, &desc);`

2) submit io:

[2019-01-30 03:06] benqwu commented on #626
Excuse me, I have to confirm the phenomenon of the problem, maybe the previous description is wrong.

[2019-01-30 03:12] liang2yan opened #634 "iscsi target reported error if formating the nvme bdev which has been set the qos value"
## Expected Behavior
No error messages or some notice messages.

## Current Behavior
iscsi target reported error messages.

## Possible Solution

## Steps to Reproduce
1. run iscsi target with malloc, nvme, raid and lvol bdev.
2. set the qos value on the bdevs, like below:

[code]
3. run formating the nvme bdev which have set the write bandwidth value.

4. the process is very slow, and iscsi targe

[2019-01-30 03:15] jimharris commented on #634
Do you need to create all of these bdevs to reproduce the problem?

[2019-01-30 03:32] changpe1 commented on #634
I think QOS should not count unmap/write zeroes bytes, because for format command, the initiator may only send one unmap command with very big LBA range.

[2019-01-30 04:35] optimistyzy commented on #632
@nrpandian  You only used VPP in NVMe-oF target side?  I tried to use NVMe-oF target with VPP but using tap, every thing seems OK.  If you use VPP  + DPDK PMD,  I think that mostly the issue is with VPP stack. From the issue described, it seems that the issue is in VPP stack for read operation.

[2019-01-30 04:46] optimistyzy commented on #626
@benqwu  Can you have a look at the **bdevperf** program (located in spdk/test/bdev/bdevperf/)? Which is an example to demonstrate how to use bdev layer to construct you own app. I tested with two cores, it seems that it works all correct.

I am afraid that you did not use spdk's application framework, we need to call spdk_app_start, and the bdev_aio_group_poll  is registered as a poller, which wi

[2019-01-30 06:38] #592 closed

[2019-01-30 06:49] Comphix commented on #634
@liang2yan , please have a verify with https://review.gerrithub.io/#/c/spdk/spdk/+/442673/

As Changpeng mentioned, the discard command has been limited by the QoS policy. I've removed the limitation on these kinds of IO like discard, write zeros, unmap.

[2019-01-30 07:04] pcybulski commented on #622
I confirm that it is not crashing when using cherry picked version 76675f6 and connecting/disconnecting works, however there are still errors displayed during that activity:

rdma.c: 463:spdk_nvmf_rdma_update_ibv_state: *ERROR*: QP#0: bad state updated: 192, maybe hardware issue
rdma.c: 545:spdk_nvmf_rdma_set_ibv_state: *ERROR*: QP#1: expected state: IBV_QPS_ERR, actual state: IBV_QPS_RESET
rdma.c

[2019-01-30 07:21] liang2yan opened #635 "nvmf target crashed with pcie nvme bdev's hotremoval"
this issue is similar with issue 570, except that run nvmf target with -m 0xffff.

## Expected Behavior
nvmf target not crash.

## Current Behavior
nvmf target crashed.
[code]
## Possible Solution

## Steps to Reproduce
1. run nvmf target with -m 0xffff.
2. run fio job in host machines.
3.  remove nvme controller using rpc command.
4. use ctrlr+c to kill nvmf target.

## Context (Environment inclu

[2019-01-30 07:33] liang2yan commented on #634
@Comphix , I have verified your patch. it can fix this issue.

[2019-01-30 08:26] liang2yan opened #636 "nvmf target reported error with multi-core while running large IO in two host machines"
This issue is similar with issue 570, except run nvmf target with some modification.

## Expected Behavior
no error is out.

## Possible Solution

## Steps to Reproduce
1. run nvmf target with following transport config and "-m 0xffff":
[code]

2. run fio job in two host machines. the fiojob can refer to issue 570.
3.  the nvmf target will report error.
[code]

## Context (Environment including OS

[2019-01-30 09:58] karlatec commented on #625
Tested manually on WIndows Server 2012 R2 VM.

Relevant configs:
[code]

Qemu args for VM (sorry about XML, I'm using virsh/virt-manager for this one)
[code]

Results for formatting AIO disk via BLK controller:
diskmgmt.msc -> Disk Online -> Initialize Disk -> New simple volume.
Allocation unit size: Default, Perform a quick format

* NTFS - "The format did not complete successfully" error; no SPD

[2019-01-30 10:04] alekseymmm opened #637 "spdk_thread_send_msg() performance degradation"
I haven't checked updates of SPDK for awhile  but after recent pull from upstream/master I found significant performance degradation if using function spdk_thread_send_msg in some of my experimental bdevs. After small investigation I wrote a simple  modification of null bdev to show the case of perf degradation.
Look at this patch
[code]
It just send bdev_io completeion to the same thread it was s

[2019-01-30 10:07] darsto commented on #625
All I/O received by vhost blk must be a multiple of 512 (as an hardcoded number), otherwise we would get an ERRLOG much earlier. This means there's a bug somewhere in bdev I/O splitting.

[2019-01-30 10:33] #582 closed

[2019-01-30 10:39] #581 closed

[2019-01-30 13:49] tomzawadzki commented on #631
@mkrzywie Thank you for submitting the issue.

First of all, please do not use _delete_bdev_ RPC. It was intended only for debug purpose and all bdev modules have separate calls. Its intention was to allow simulating hot-remove event, which cannot happen from 'inside' lvol virtual bdev - only bdev lvol store is based on can be hot-removed. **This is what caused incorrect listing in _get_bdevs_ RPC

[2019-01-30 13:59] liang2yan opened #638 "the nvmf/tcp bdev can't be used to create lvol_stores"
this issue is similar with issue 629. Just create lvol_store based on the tcp nvme bdev. but failed.

## Expected Behavior
command can be executed successfully.

## Current Behavior
command failed.

## Possible Solution

## Steps to Reproduce
1. same steps with issue 629.
2. same step with issue 629.
3. create lvol_store in spdkcli.py tool.
create bdev_name=Nvme0n1 cluster_size=1048576 name=lvs
4.

[2019-01-30 14:32] karlatec commented on #572
Sorry for long reply. FOr some reason this time the results were
430k with 8 NVMes
325k with 16 Nvmes

This is obviously way lower than anything we previously encountered. I am checking if I have not messed up something with the host configuration as I was using it for NVMeOF perf tests for last couple of days.

[2019-01-30 14:43] liang2yan opened #639 "the fio process will hung up after hotremoving rdma transport nvme bdev"
this issue is similar with issue 627, except that I created raid bdev based on the rdma transport nvme bdev.

## Expected Behavior
host machine still can run fio again.

## Current Behavior
fio process caused kernel coredump.

## Possible Solution

## Steps to Reproduce
1. same step with issue 627.
2. same step with issue 627.
3. create raid bdev based on the rdma transport nvme bdev.
4.  run fio

[2019-01-30 14:44] Seth5141 commented on #622
@pcybulski Those error messages are expected. The values supplied for the qpair state when we call ibv_query_qp are bogus when we use x722 NICs. We just have to handle the error in stride.
I am going to close this issue since we have solved the initial segmentation fault that you brought up, but I think there is a lot more work to do on supporting these NICs. Will you open up another issue detaili

[2019-01-30 15:06] liang2yan commented on #639
This issue also happened if I create logical_volumes based on the RDMA transport nvme bdev.

[2019-01-30 16:02] jimharris commented on #636
Hi @liang2yan,

Please add all of the details in each issue.  It becomes difficult to find all of the details when one issue points to another issue.

Thanks,

-Jim

[2019-01-30 16:13] nedved1 commented on #542
Triggering some tests for hotplug showed that hotremove app can fail occasionally during hotremove.
https://ci.spdk.io/spdk/builds/review/bd027358604b2f01c8000239f857b88147f53074.1548709786
https://ci.spdk.io/spdk-jenkins/public_build/autotest-per-patch_21423.html

[2019-01-30 16:41] jimharris commented on #634
Hi @liang2yan,

Could you please add more details on this issue?

1) Exactly what command are you running to "format"?
2) Are you formatting all of the bdevs - or only the NVMe bdevs?
3) What is the base device for the lvol store(s) containing the lvols?
4) What are the base devices for the RAID volumes?

Thanks,

-Jim

[2019-01-30 17:16] jimharris commented on #634
A few thoughts:

1) Even with a low (50MB/s) write limit, the format should still be able to make forward progress.  We need to understand why that is not happening.
2) I ran a similar test on my system - but creating a 1GB logical volume, and formatting using "mkfs.ext4 -F /dev/sdX" (sdb on my system).  Discard completed fairly quickly, but then I'm getting periodic aborts and LUN resets when wri

[2019-01-30 18:48] Seth5141 opened #640 "NVMe-oF RDMA target not properly validating SGL element limitations"
## Expected Behavior
The NVMe-oF target should work independent of the number of the number of SGL elements supported by the device.

## Current Behavior
On at least one NIC (intel x722) that supports fewer than the default number of SGL elements, intermittent failures happen when attempting ibv_post_send operations. ibv_post_send returns -EINVAL and the request cannot be sent.

Currently the buff

[2019-01-30 18:50] Seth5141 commented on #622
@pcybulski I did some more digging into the x722 failures on master. Please follow that issue #640 for updates.

[2019-01-30 19:01] benlwalker commented on #637
Are you sure this is related to TLS? The thread is allocated and a TLS pointer is stored that points at it, but then a new pointer is created inside the I/O channel (not thread local) that also points to it. It's from this new pointer that we're doing the thread lookup in your case, so there's no TLS involved that I see.

Can you run perftop on your benchmark and see what it says the problem is? s

[2019-01-30 21:03] alekseymmm commented on #637
@ak-gh  As far as I remember bdevperf do not test bdev using multiple threads (like what fio does with numjobs > 1). It generate queuedepth ios in the single thread and submit them to bdev. So the bdevperf test wouldn't  be the same as I described above. Correct me if It is not true. But still I could try it with send msg and immediate completion just for curiosity.

In fact the current performanc

[2019-01-30 21:10] Seth5141 commented on #640
Correction from earlier: this error can actually be reproduced as early as commit 8e80849.
I was able to prevent this error on master (with an x722 NIC in loopback) with the following patch: https://review.gerrithub.io/#/c/spdk/spdk/+/442776/.
@pcybulski can you verify this fix on master?

[2019-01-30 21:33] jimharris commented on #637
By my count, there are 81 commits between f50d732 and 605e530.  Could you try running your test with f50d732~1 (i.e. 7d38f1667) just to confirm this is the exact patch that introduced the failure?

[2019-01-30 21:33] jimharris commented on #637
sorry - I meant 605e530~1 (70642bcbe)

[2019-01-30 21:45] jimharris commented on #637
Never mind.  The problem is that before the threading changes, an spdk_thread_send_msg() resulted in a calloc() in the fio plugin itself.  This is pretty cheap.  Now that we've moved that send_msg logic into the threading library itself,  an spdk_mempool is always used - the fio_plugin doesn't have to manage this part of the logic anymore.

But with the fio plugin, the threads aren't DPDK threads,

[2019-01-30 21:46] jimharris commented on #637
Of course this is pretty much exactly what @benlwalker said earlier - I just explained it a bit more.  :-)

[2019-01-30 21:50] benlwalker commented on #637
I'm working on the fix here: https://review.gerrithub.io/c/spdk/spdk/+/442774. Not passing all of the tests in the CI system yet (although it passes everything for me locally).

[2019-01-30 22:02] alekseymmm commented on #637
@jimharris

Sorry for not very clear description.

I mean the commits I mentioned are the commits that touch lib/thread/thread.c where spdk_thread_send_msg lives.

I will test 605e530~1 (70642bc) and post results today.

@benlwalker Is your fix supposed to fix the performance degradation?

[2019-01-30 22:12] jimharris commented on #637
@alekseymmm - no need to post additional results.  We know exactly where the problem is now.

[2019-01-31 00:17] jimharris commented on #625
Moving this to Medium priority - AIO is not a critical bdev module for SPDK.

[2019-01-31 05:54] wanghailiangx commented on #617
Thanks, verified, closing the issue.

[2019-01-31 05:54] #617 closed

[2019-01-31 06:18] fshenx opened #641 "Nvmf initiator: nvme_rdma.c:1678:nvme_rdma_qpair_process_completions: *ERROR*: CQ error on Queue Pair 0x25feda0,"
I press Ctrl+c on the nvmf target when I running bdevperf test case on the initiator, and then, the initiator will print error messages.

## Expected Behavior
The normal exit
## Current Behavior
initiator:
[code]

target:
[code]

## Steps to Reproduce
1. target:   ./app/nvmf_tgt/nvmf_tgt -c nvmf.conf.in
nvmf.conf.in:
[code]
2. initiator:  ./test/bdev/bdevperf/bdevperf -c bdev.conf -q 128 -o 524288

[2019-01-31 06:28] wanghailiangx opened #642 "ext4test.sh reports rsync: write failed in NIGHTLY test"
test/iscsi_tgt/ext4test/ext4test.sh reports rsync: write failed on "fedora-02" server, logs as below:

 09:51:04	# mkdir -p /mnt/sdbdir
 09:51:04	# mount -o sync /dev/sdb /mnt/sdbdir
 09:51:04	# rsync -qav --exclude=.git '--exclude=*.o' /home/sys_sgsw/build_pool/agent/repo/ /mnt/sdbdir/spdk
**rsync: write failed on "/mnt/sdbdir/spdk/test/nvme/err_injection/err_injection": No space left on device (

[2019-01-31 06:44] pcybulski commented on #640
It did work for a few iteration of connect/disconnect then it started failing, details below
rdma.c:1903:spdk_nvmf_rdma_create: *NOTICE*: Adjusting the io unit size to fit maximum I/O size. New I/O unit size 45056
rdma.c: 496:spdk_nvmf_rdma_update_ibv_state: *ERROR*: QP#0: bad state updated: 192, maybe hardware issue
rdma.c: 578:spdk_nvmf_rdma_set_ibv_state: *ERROR*: QP#1: expected state: IBV_QPS_

[2019-01-31 07:09] darsto commented on #642
@karlatec can you take a look at this? The disk we're rsyncing data to is 10GiB big - could it be that we're trying to copy some VM image by accident?

[2019-01-31 08:10] benqwu commented on #626
@optimistyzy  thx ~ I will try again later.

[2019-01-31 09:14] tomzawadzki commented on #631
Submitted patch clarifying docs for decouple functionality [here](https://review.gerrithub.io/#/c/spdk/spdk/+/442848/).

@mkrzywie Please let me know if changing to destroy_lvol_bdev RPC and keeping the actual functionality of decouple in mind resolves the issue.

[2019-01-31 12:02] karlatec commented on #642
Actually we most probably were rsyncing to a 512MB Malloc bdev which is used as a base for error injection bdev in test.
This should solve the problem: https://review.gerrithub.io/#/c/spdk/spdk/+/442867/

[2019-01-31 14:59] jimharris commented on #549
This looks like a different failure signature.  Closing this issue again.  Let's file a new issue for the new failure signature.

[2019-01-31 14:59] #549 closed

[2019-01-31 15:49] peluse commented on #550
@fshenx I'm not sure what you mean.  Are you saying that you tried without either option and didn't get an error? Are you sure you are using the right patch? See below, I've tested this a few times:

[peluse@pels-64 spdk]$ sudo ~/spdk/scripts/rpc.py construct_null_bdev Null0 8192 4096
Null0
[peluse@pels-64 spdk]$ sudo ~/spdk/scripts/rpc.py construct_raid_bdev -n raid0 -r 0 -b Null0
Exception:
Got

[2019-01-31 15:51] peluse commented on #605
Its just a notice message because its not an error (ie RPCs coming in from different threads out of order).  See https://review.gerrithub.io/c/spdk/spdk/+/441914 . Note that I also submitted another patch for the pass thru vbdev to do the same thing.  Will get around to the others that operate like this as well...

[2019-01-31 15:53] peluse commented on #537
@Seth5141 if this is related to what you've been working on please feel free to take it.  If not, I'll get this setup and repro here on my bench.  Wanted to get your thoughts first

[2019-01-31 16:18] peluse commented on #633
https://review.gerrithub.io/c/spdk/spdk/+/442896

[2019-01-31 17:54] benlwalker commented on #637
This patch is ready for testing now: https://review.gerrithub.io/c/spdk/spdk/+/442774

I haven't thoroughly benchmarked it just yet myself, but I suspect it's a major improvement.

[2019-01-31 18:51] benlwalker commented on #637
I applied your change in the original report above to the null bdev so that it specifically tests the performance of spdk_thread_send_message. Then I set up fio with 4 jobs doing random reads at queue depth 32 to a single null bdev (so 4 threads). Here are the results:

I/O per second
18.10.1: 10.2M
19.01: 3.2M
New Patch: 10.2M

[2019-02-01 00:44] fshenx commented on #550
@peluse
Sorry, that's not my comment.

[2019-02-01 02:42] gwnet opened #643 "on vmware workstation 14.x SPDK hello world example code failed to enumerated NVMe device on IOMMU VFIO mode"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

1. Ubuntu16.04 Kernel just be loaded and NVME device works well with kernel driver.
2. I use the vmware workstation 14.x that has NVME and IOMMU support, anyone can download free trial version.
3. if I use setup.sh to specify the U

[2019-02-01 06:44] Comphix commented on #610
The root cause is that:

1. The QoS related structure and poller setup at the bdev create_cb
2. The logicial volume open & close the device
3. The QoS destroyed
4. The bdev open from upper layer again
5. The QoS is not setup

Detailed log as below:

(gdb) bt
#0  spdk_bdev_open (bdev=0x200013ef7ac0, write=false, remove_cb=0x44e227 <spdk_gpt_base_bdev_hotremove_cb>, remove_ctx=0x7b71b0,
    _desc=0x

[2019-02-01 06:44] Comphix commented on #610
Patch has been raised at https://review.gerrithub.io/#/c/spdk/spdk/+/442953/

[2019-02-01 07:33] gaolizhou opened #644 "SECONDARY perf instance stuck"
SECONDARY perf instance stuck. We have two instance of perf tool. One instance is PRIMARY, the other is SECONDARY. the primary works well, but secondary stuck.

## Expected Behavior

Both Perf instance should work well.
## Current Behavior

 the primary works well, but secondary stuck.

## Possible Solution

No Solution.
## Steps to Reproduce

1. open  two ssh sessions
2. run perf command on both

[2019-02-01 07:40] optimistyzy commented on #643
@gwnet Can you use the following command:
 lspci -n -s 03:00.0. It will list the class and vendor id info. For NVMe device, the class ID should beginning with 0108

[2019-02-01 07:42] optimistyzy commented on #644
@gaolizhou Can you check the following commit id:  20f4a21d84053e147758a944f3da9d068233dfc0 in the master branch
It is merged recently. Then nvme-cli will not be running as a second process.

[2019-02-01 07:42] gaolizhou opened #645 "setup.sh reset failed and kernel traceback is seen"
setup.sh reset failed to pull nvme disk from userspace to kernel space.

![_1548843162279](https://user-images.githubusercontent.com/2884044/52109161-7042e600-2637-11e9-8ad6-707bedeb17c7.png)

And Below traceback can be seen.
[92652.834090] INFO: task bash:7786 blocked for more than 120 seconds.
[92652.835087]       Tainted: G           O    4.14.0-9.el7.ucloud.x86_64 #1
[92652.836061] "echo 0 > /

[2019-02-01 08:09] gaolizhou commented on #645
suspect issue.
 https://git.launchpad.net/~ubuntu-kernel/ubuntu/+source/linux/+git/bionic/commit/?id=876dcb5f4576934a1a11b091b40ce548f048340e

https://www.mail-archive.com/kernel-packages@lists.launchpad.net/msg300063.html

[2019-02-01 08:09] Comphix commented on #643
EAL: probe driver: 15ad:7f0 spdk_nvme

	RTE_LOG(INFO, EAL, "  probe driver: %x:%x %s\n", dev->id.vendor_id,
		dev->id.device_id, dr->driver.name);

Looks like
15ad is the vendor id for Vmware
7f0 is the device id

From https://pci-ids.ucw.cz/read/PC/15ad, it seems that 7f0 is not listed. Or maybe the content is not up to date.

[2019-02-01 08:15] Comphix commented on #644
Please have a try:

For the primary process (management process):
./example/nvme/nvme_manage -c 0x3 (two cores)

1st perf:
./perf -c 0x1 (use 1st core)

2st perf:
./perf -c 0x2 (use 2nd core)

[2019-02-01 08:17] Comphix commented on #644
For more information, please refer to https://spdk.io/doc/nvme.html and search "Multi Process". Thanks.

[2019-02-01 08:21] gaolizhou commented on #644
It works when perf are run on different cores.
Thanks!

[2019-02-01 08:21] #644 closed

[2019-02-01 08:41] wanghailiangx commented on #642
I think your patch can eliminate this issue, but two targets can run well before. Please refer to nightly log on 1/18 or earlier.
https://ci.spdk.io/spdk/builds/review/7f19ec4ea982477450336675d7267d4c991f378e.1547765089/fedora-02/build.log  (search "10.0.0.1:3260,1 iqn.2013-06.com.intel.ch.spdk:Target0" and "# rsync -qav --exclude")

[2019-02-01 08:45] Comphix commented on #643
On the other hand, it looks like the "probe_cb" is also not called here from the log:

EAL: probe driver: 15ad:7f0 spdk_nvme
no NVMe controllers found

Otherwise, it will log:

Attaching to...

[2019-02-01 10:01] SavanAnjaria commented on #603
[SPDK_Issue_603_Logs.zip](https://github.com/spdk/spdk/files/2821057/SPDK_Issue_603_Logs.zip)

@tomzawadzki : I have uploaded the logs as requested. Please look for following string in order to find the failure condition.

nvme_pcie.c:1716:nvme_pcie_prp_list_append: *ERROR*: vtophys(0x7f065efaa338) failed
nvme_qpair.c: 137:nvme_io_qpair_print_command: *NOTICE*: WRITE sqid:1 cid:157 nsid:1 lba:1349

[2019-02-01 11:35] #642 closed

[2019-02-01 12:50] gwnet commented on #643
@Comphix Thank you so much for your quickly help. I do tried run hello world as root too. it also failed. it should not be a permission issue. bear in mind, Linux kernel driver can be loaded well.
Yes, you are correct probe is not called too. I may have time to debug more next day. but if you find the root cause. it is great that let me know.

[2019-02-01 12:56] gwnet commented on #643
@Comphix May I know if you can reproduce this from your side?

[2019-02-01 14:55] darsto commented on #571
Added in patch fdb675cad554de028306b6826fdfea67b2648e0f

@lorneli Thank you!

[2019-02-01 14:55] #571 closed

[2019-02-01 15:10] peluse commented on #551
Also here: https://spdk.io/doc/jsonrpc.html

[2019-02-01 15:49] gwnet commented on #643
I feel highly possible fix is that make SPDK user mode driver support VMware device id and vendor id.
it will be great that Intel friend can show me how to do it. I can submit this patch

[2019-02-01 17:55] Seth5141 commented on #640
@bcyblski Thank you!

I was also able to replicate this new behavior. The new disconnect failure is caused by the combination of a few circumstances.

The SPDK NVMe-oF target relies on submitting a dummy send and recv request to each qpair as it is closing. It doesn't completely free the resources allocated with the qpair until those requests have shown up in the shared completion queue.
In the ca

[2019-02-01 20:07] pcybulski commented on #640
Thank you for very detailed description about what is going on under the hood. Will create issue for i40iw and add your comment so we can work on that problem from both sides.

[2019-02-01 21:17] Seth5141 commented on #640
@pcybulski Thanks!
I have created a patch in SPDK for dealing with freeing the memory from disconnected qpairs. Please let me know if adding this patch on top of the previous patch completely resolves this issue for you. https://review.gerrithub.io/#/c/spdk/spdk/+/443057/.
And by completely resolves, I mean allows you to connect and disconnect an arbitrary number of times without issue. There is s

[2019-02-02 06:01] Comphix commented on #643
Maybe you can first try to modify the return of below function to see whether it could go forward.

int rte_pci_match(const struct rte_pci_driver *pci_drv, const struct rte_pci_device *pci_dev);

On the other hand, you could also have a try with below to allow any kind of Class ID as it seems SPDK allows any kind of vendor ID and any kind of device ID. Maybe the class ID for the VMware device is n

[2019-02-02 06:05] Comphix commented on #620
Hi @nagendra-v

"@Comphix : Tried latest spdk nvme-cli, still seeting errors. Below are details"

Have you tried with the change of my below patch? Seems that you just used the latest master code?
https://review.gerrithub.io/#/c/spdk/nvme-cli/+/432526/

Thanks,
Gang

[2019-02-02 17:47] pcybulski commented on #640
I will check new patch on Tuesday and report results, thanks again for very good cooperation.

[2019-02-03 02:32] gwnet commented on #643
buddy, it is my mistake. when device id is 7f0 that is vmware NVME device. the check logic is passed with match result. the code actually return here without call probe.
rte_pci_map_device did not goes into VFIO map logic. I will check, if I need compile SPDK support VFIO.

	if (!already_probed && (dr->drv_flags & RTE_PCI_DRV_NEED_MAPPING)) {
		/* map resources for devices that use igb_uio */

[2019-02-03 03:43] gwnet commented on #643
buddy, from the picture below.
the root cause is the deviceid 7f0 device, just vmware NVMe device. the dev's kdrv is assgined as RTE_KDRV_NONE. not RTE_KDRV_VFIO. so the real VFIO map logic is not called as expected. do you have any quick idea for this.

![image](https://user-images.githubusercontent.com/7543276/52172349-84f2bb80-27a8-11e9-88ac-fd711a1ac54d.png)

[2019-02-03 05:46] gwnet commented on #643
pretty close now. when scan the vmware nvme PCI device. the pci_get_kernel_driver_by_path return 0x1. this cause wrong dev kdrv value.
![image](https://user-images.githubusercontent.com/7543276/52173185-01da6100-27ba-11e9-9319-be4d994cc417.png)

[2019-02-03 07:15] gwnet commented on #643
buddy, I force the code, make it run the IOMMU map, I found that my system is not true IOMMU ready.
from dmesg, I cannot see IOMMU enabled log. vmware BIOS also does not have option to enable IOMMU.
I guess this maybe the root cause. I will install vmware workstation 15 to have a try. if still not OK, I need talk with vmware guy.

[2019-02-04 07:15] SavanAnjaria commented on #603
@darsto : Can you please remove the tag Waiting on Submitter as I have already provided required details?

[2019-02-04 11:42] gwnet commented on #643
finally I can enable IOMMU well in VMware now. I miss one step, we need add intel_iommu=on into kernel boot parameter to enable it well.
after IOMMU ready, if I use sudo to run hello world. it works well as below:
wayne@ubuntu:~/spdk/examples/nvme/hello_world$ sudo ./hello_world
[sudo] password for wayne:
hello from host OS ConsoleApplication1!
1
Starting SPDK v19.01-pre / DPDK 18.08.0 initializat

[2019-02-04 15:50] darsto opened #646 "NVMe hotplug test occasionally fails with "Get registers failed while waiting for CSTS.RDY == 0""
The NVMe hotplug test was disabled on master due to #542, but once enabled with https://review.gerrithub.io/c/spdk/spdk/+/437673/ it can occasionally fail with the following message printed over and over:

It finally it fails with:

Even if it's a timing issue inside the test script, the error message from SPDK shouldn't completely bloat the log.

Full log here (14M):

https://ci.spdk.io/spdk/buil

[2019-02-04 15:51] darsto commented on #542
This is blocked by #646

[2019-02-04 18:17] #328 closed

[2019-02-04 19:05] jimharris opened #647 "intermittent RBD test failure in Jenkins pool"
I've seen this issue on three patches this morning.  At least two of the failures were on fedora_vm_5 (don't remember the other patch so can't find the Jenkins job).

Good/normal log:
https://ci.spdk.io/spdk-jenkins/results/autotest-per-patch/builds/21875/archive/RBD_autotest/build.log

Bad/failing log:
https://ci.spdk.io/spdk-jenkins/results/autotest-per-patch/builds/21874/archive/RBD_autotest/bu

[2019-02-04 22:02] gila opened #648 "ISAL erroneously gets disabled during configure"
When running configure on my VM (and some Travis CI VMs as well it seems) ISAL gets disabled when it really should not.

## Expected Behavior
ISAL should be enabled

## Current Behavior
ISAL disabled

## Possible Solution
The docs of https://www.gnu.org/software/coreutils/manual/html_node/uname-invocation.html#uname-invocation mentioned that `uname -i` is not portable even across linux distro's an

[2019-02-04 22:11] peluse commented on #648
Thanks for catching this!!! Would you be interested in pushing a patch to address this?

[2019-02-04 22:16] peluse commented on #648
Also FYI ISA-L uses the -m option internally when checking the CPU arch so this is the right way to go

[2019-02-04 22:23] jimharris commented on #648
I've already assigned @gila the bug.  ;-)  He indicated on IRC just now that he wanted to get up to speed on the patch submission process.

[2019-02-04 22:36] peluse commented on #648
Yay!  Sorry, my IRC was off :( . Hey, what email thing are you referring to? By all means feel free to push a patch to clarify, thanks again!

[2019-02-05 03:01] nagendra-v commented on #620
**_Without "nvmf_tgt"_** running, with patch "nvme list" command doesn't show the drive with no namespace. But other commands "id-ctrl", create-ns and attach-ns work.

**With "nvmf_tgt"**, cli still doesn't work and shows following error. I think this need to be addressed in "nvmf_tgt" too.
# ./nvme_fix id-ctrl 0000:07:00.0
Starting SPDK v18.10.1 / DPDK 18.08.0 initialization...
[ DPDK EAL paramet

[2019-02-05 10:14] karlatec commented on #647
Freed some disk space on the VM's. Should be fine now.

[2019-02-05 10:15] karlatec commented on #647
@nedved1 please monitor this when I'm out of office

[2019-02-05 10:53] darsto commented on #637
Merged as 2446c5c6f3f4c061b0c1bf9d52739efe2a8a1525

@benlwalker @alekseymmm since you have the setup already, would you mind testing the following patch as well?

https://review.gerrithub.io/c/spdk/spdk/+/443374

[2019-02-05 10:53] #637 closed

[2019-02-05 10:58] Ayyanar85 opened #649 "nvme discovery shows trtype as "unrecognized" for TCP"
nvme discovery shows trtype as unrecognized for tcp transport

[root@Init ~]# nvme discover -t tcp -a 192.168.10.100 -s 8001

Discovery Log Number of Records 1, Generation counter 4
=====Discovery Log Entry 0======
trtype:  unrecognized
adrfam:  ipv4
subtype: nvme subsystem
treq:    not specified
portid:  0
trsvcid: 8001
subnqn:  nqn.2016-06.io.spdk:cnode1
traddr:  192.168.10.100

[root@Init ~]# n

[2019-02-05 11:34] mkrzywie commented on #631
I verified that destroy_lvol_bdev method doesn't cause this error.
Thanks for clarification.

[2019-02-05 11:34] #631 closed

[2019-02-05 13:08] karlatec opened #650 "vhost: assertion failed when trying to run Windows VM with debug vhost"
## Current Behavior
Assertion error when attaching Windows VM to SPDK vhost controller.
[code]
## Expected Behavior
Well... no assertion error.

## Steps to Reproduce
1. Compile SPDK with --enable-debug
2. Start SDPK Vhost
3. Create some simple vhost confiuration (SCSI controller with single Malloc bdev is enough)
4. Run a Windows VM which will attach to vhost-scsi controller
5. During VM boot vho

[2019-02-05 13:51] jimharris commented on #650
We may be able to update the drivers in our Windows test VMs, but this isn't always possible.  How does QEMU virtio backend, or kernel vhost, handle this?  Even if the spec says its forbidden, we need to follow what other virtio backends are doing.

[2019-02-05 17:24] pcybulski commented on #640
Not sure if I did it correctly, there are three patches:
https://review.gerrithub.io/c/spdk/spdk/+/442776/
https://review.gerrithub.io/c/spdk/spdk/+/428458/
https://review.gerrithub.io/c/spdk/spdk/+/443057/

I tried applying 1st and 3rd (second had some warnings)  and issue reproduced.
Tried applying all patches and on second one there was following output:
patch -p1 < 3e2a0dc.diff
patching file C

[2019-02-05 18:40] peluse opened #651 "QOS test failure in CI"
Seems unrelated to the patch, I'm going to retrigger to get it moving and will dig more into this later if nobody grabs it in the meantime.  Here is the log https://ci.spdk.io/spdk-jenkins/results/autotest-per-patch/builds/21945/archive/RBD_autotest/build.log

[2019-02-05 18:49] peluse opened #652 "Jenkins IO exception failure and subsequent missing log"
Exception happened during FreeBSD tests, the local architraves do not include the failure log for some reason but it is available from the console output for the autopatch job

https://10.102.17.104:8080/job/Other_systems/job/freebsd_autotest/14723/

[2019-02-05 19:06] jimharris commented on #651
I'm assigning it to @Comphix for now.

Gang - please take a look at other test runs, and see if the QoS result is too low.  We allow 5% discrepancy, but really there's no reason it shouldn't be much smaller than that.

[2019-02-05 19:09] jimharris commented on #651
Running this iSCSI QoS locally on my system, with a debug/asan/ubsan enabled build, I get 20.02 MB/s (vs. 20.00 MB/s expected).

[2019-02-05 19:11] peluse commented on #652
Some general info on this kind of failure: https://wiki.jenkins.io/display/JENKINS/Remoting+issue

[2019-02-05 19:32] jimharris commented on #651
Similar iSCSI QoS failure here:

https://ci.spdk.io/spdk-jenkins/results/autotest-per-patch/builds/22008/archive/iscsi_autotest/build.log

[2019-02-05 19:33] jimharris commented on #651
And here:

https://ci.spdk.io/spdk-jenkins/results/autotest-per-patch/builds/22013/archive/RBD_autotest/build.log

[2019-02-05 19:35] jimharris commented on #651
https://ci.spdk.io/spdk-jenkins/results/autotest-per-patch/builds/22007/archive/RBD_autotest/build.log

[2019-02-05 19:39] jimharris commented on #651
I suspect this is all because we're running all of these tests in a VM, and for some reason the virtual core running the iSCSI target gets limited in some way that it can't even hit the very limited QoS limit.

@peluse, @karlatec @Seth5141 On the bare metal systems, how are we allocating the cores assigned to the build pool VMs?

[2019-02-05 20:48] peluse commented on #563
Looking for feedback @jimharris and @lorneli - I can add a new .md file for spdki.io docs and put it under the Programmer's Guide or I can just go put some meaningful comments in the code. Anyone have a preference?

[2019-02-05 21:22] karlatec commented on #651
VMs are configured via virt-manager / virsh. Host CPU passthru, 16 cores. Specific cores are not set, so VMs may share CPUs in case of high intensity activity.
Relevant Qemu args from ps aux:
[code]

[2019-02-05 22:27] #648 closed, assigned to gila

[2019-02-05 23:33] jimharris commented on #651
I'm spent more time looking at this today.  I was able to reproduce the general problem on my bare metal host.  It's not 100% reproducible, but if I run the qos.sh test a few times in succession, one of them will run at a much lower I/O rate overall.  It's not specific to QoS, but this qos.sh test is really the only one in our per-patch tests that is performance sensitive.

I think the best soluti

[2019-02-06 00:04] jimharris commented on #649
Which version of nvme are you using - "nvme version"?

[2019-02-06 00:10] jimharris commented on #649
Just to clarify - nvme-cli v1.7 added TCP support.  This was just released in January 2019.  Want to make sure that you're using a version of nvme-cli that will recognize the TCP trtype.

I've looked at the SPDK NVMe/TCP code and it looks like it's populating the trtype correctly.  I'm not set up at the moment to test nvme-cli with TCP but I (or someone) will take look if you are in fact using nvm

[2019-02-06 01:57] youngtack opened #653 "ftl bdev failed for num_chk=1478"
## Expected Behavior
ftl bdev can be instantiated successfully.

## Current Behavior
ftl bdev failed with this log below.
[code]

## Possible Solution
not sure but mempool size for reloc queue should be increased.

## Steps to Reproduce

1. qemu-nvme with num_chk=1478
2. spdk patch to work around nvme edlp
[code]
3. ftl bdev config as on https://spdk.io/doc/ftl.html
4. execute fio as on https://gi

[2019-02-06 08:09] alekseymmm commented on #637
@darsto
I checked https://review.gerrithub.io/c/spdk/spdk/+/443374

32 numjobs with 32 depth, randread 4k blocksize
complete immediately: 31 M IOPS
send complete : 28 M IOPS

[2019-02-06 13:01] darsto commented on #637
Using rte_ring + calloc() buffers instead of rte_mempool cuts down hugepage memory requirement by about 50MB per SPDK instance, but also drops all those rte_mempool's fancy features like extra buffer alignment and memory channel balancing.

@alekseymmm Thanks for testing it! Now I have to run a couple of microbenchmarks on different NUMA nodes.

[2019-02-06 16:14] Seth5141 commented on #641
@fshenx  I don't think this is actually an issue. When we ctrl-C the trrget, we initialize the shutdown behavior of the whole system, including all qpairs. This means that we have to abort all outstanding I/O from the target and move the qpair into error state. Then on the initiator side, they get failed completions for all of the I/O that was outstanding. The error message that the initiator prin

[2019-02-07 07:41] Ayyanar85 commented on #649
Hi Jim,

With latest 1.7 version, its working good...

[root@Init nvme-cli]# ./nvme discover -t tcp -a 192.168.10.100 -s 8001

Discovery Log Number of Records 1, Generation counter 4
=====Discovery Log Entry 0======
trtype:  tcp
adrfam:  ipv4
subtype: nvme subsystem
treq:    not specified
portid:  0
trsvcid: 8001
subnqn:  nqn.2016-06.io.spdk:cnode1
traddr:  192.168.10.100
sectype: none
[root@Init

[2019-02-07 07:41] #649 closed

[2019-02-07 15:06] hawkingrei opened #654 "[question] libspdk_nvme/util undefined reference"
i use rust bindgen to bind spdk, when build, it will report error

[code]

it is so weird that ```spdk_mem_register``` is defined in the env.h，but why will compiler find it in libspdk_nvme.so？

## Steps to Reproduce
spdk install
1. ./configure --with-shared
2. make  EXTRA_CFLAGS="-fPIC”
3. make install

example app
1、git clone https://github.com/hawkingrei/spdk-rs.git
2、cd spdk-rs && git checkout

[2019-02-07 15:14] wmalikow commented on #653
Hi Youngtack,

Thanks for reporting this issue.
FTL library is experimental and lot of work is still needed to make it complete.

Issue you are observing is related with CONFIG_RTE_MAX_MEMZONE. It is set to 2560 and this is maximum number of spdk_ring you can create. Current FTL implementation is allocating two spdk_rings per band (in your configuration it is 1478) and you are exceeding this limit

[2019-02-07 16:42] pelplinski commented on #523
We can break this problem into multiple smaller issues:

1. bdev.c:1121:_spdk_bdev_finish_unregister_bdevs_iter: *ERROR*: Unregistering claimed bdev 'Nvme0n1'!
This is actually expected bahaviour. When we are creating lvolstore, lvolstore module claims the device underneath. During shutdown we do not want to delete lvolstore, and und unclaim base bdev. Same behaviour can be observed in other SPDK

[2019-02-07 18:15] youngtack commented on #653
Hi Wojtek,

Appreciate spdk ftl team's efforts so far. Already I tried the first option as below and it worked fine.
[code]
And I will try the second option. Looking forward to reloc init's improvement soon.

Thanks,
YT

[2019-02-07 18:32] youngtack commented on #653
Here I'm closing this issue. Thanks to clarify this issue.

[2019-02-07 19:25] SavanAnjaria commented on #603
@jimharris
Sometime back, https://github.com/spdk/spdk/issues/226 was reported and that had similar signature for failure (nvme_pcie_prp_list_append: _ERROR_: vtophys(<address>) failed and https://review.gerrithub.io/c/spdk/spdk/+/396318 was the change made to address that issue. Do you see any similarity here between #226 and #603?

[2019-02-07 23:47] #524 closed

[2019-02-08 00:55] youngtack commented on #653
I reopen this issue since ftl bdev initial creation is ok but restarting with `bdev uuid` shows various `ftl_restore` errors depending on `num_bands` as below.

* patches as I tried
[code]

* num_bands=1478
[code]

* num_bands=1024
[code]

* num_bands=513
[code]

* num_bands=512
[code]
Thanks,
YT

[2019-02-08 07:07] lorneli commented on #563
Hi Paul,

I think either way is suitable for me.  Adding document in spdk.io accessed by most programmers looks more formal, while meaningful comments in the code provide more convenience, because programmers could jump to these functions and see the comments directly in editor when programming.

By the way, I want to report what I encountered when decoding string in the beginning. At first, I def

[2019-02-08 08:53] lorneli opened #655 "nvme: time spent in pending queue isn't included in ctrlr timeout mechanism"
Hi,

I find out the time that request spent in the pending queue isn't included in ctrlr timeout mechanism.

For example, in nvme/pcie, if sq is full and there is no more free tracker, request is pended to `qpair->queued_req`, considered as a pending queue. And in the completion of another request, the request in `queued_req` is submitted and the `submit_tick` of request is recorded here.

But the

[2019-02-08 09:33] pawelwod opened #656 "Jenkins: machines clock out of sync"
## Expected Behavior
All machines should have their clock set consitently (using ntp maybe?).

## Current Behavior
There is a clock skew that produce warning during build like:

[code]

https://ci.spdk.io/spdk-jenkins/results/autotest-per-patch/builds/22288/archive/ubuntu16_autotest/build.log

## Possible Solution
none

## Steps to Reproduce
Push a patch

## Context (Environment including OS versi

[2019-02-08 09:39] SavanAnjaria commented on #603
@jimharris
#274 also shows similar footprint. Just trying to give pointers in order to relate this issue and get quick help based on that.

[2019-02-08 10:16] pawelwod commented on #611
I think SPDK works ok. The bdev_nvme  name is created concatenating nvme controller name, character `n` and namespace ID reported by target. In kernel config you provided the `nsid` is 1, 2, 3 so I think that this is either targetcli or kernel issue (or feature) incrementing `nsid` globally (not per subsystem).

[2019-02-08 10:29] wmalikow commented on #653
Hi Youngtack,

It seems that you have found another issue. You are using quite big configuration - we were testing this code before on maximum num_chunk = 500.

This issue is again related with lack of spdk resources. Default  io_queue_size = 512 and you have noticed that reloc is working up to 512 bands.
We should change reloc  behaviour to handle bigger configurations.

For today you can increas

[2019-02-08 10:33] pawelwod commented on #651
The same issue here
https://ci.spdk.io/spdk-jenkins/results/autotest-per-patch/builds/22297/archive/RBD_autotest/build.log

Failed in
[code]

[code]

[2019-02-08 14:30] Comphix commented on #651
@jimharris , based on your comment, this looks like not stable with the iSCSI testing due to the kernel operations, so that we'd like to use the bdevperf? Is this understanding correct? If so, I will work on that. Thanks, Gang

[2019-02-08 14:48] pelplinski commented on #523
Regarding fio process being stuck.
It seems that adding `-Wl,-z,nodelete` to the fio_plugin makefile also helps.
[Patch is here.](https://review.gerrithub.io/c/spdk/spdk/+/443912)

@karlatec please verify.

[2019-02-08 15:33] jimharris commented on #651
Hi @Comphix - yes, that is correct.

On a related note, currently the QoS tests do not test any of the inter-thread operations.  Let's first do the patches above, but then I think the test should be modified to:

1) create malloc bdev
2) create split bdevs from the malloc bdev
3) test qos on the malloc bdev (not the split bdev)

[2019-02-08 15:53] jimharris commented on #655
Hi @lorneli,

You are understanding this bug correctly.  It would be great if you could fix this up!

How do you think you'll handle the abort case?  For example, currently when a request times out, we pass the request's cid to the timeout_cb so the application could try to do an abort.  There will be no cid for a queued request though.

Maybe we define some kind of INVALID_CID value, and document

[2019-02-08 16:16] jimharris commented on #603
Thanks @SavanAnjaria.  @tomzawadzki will be back in the office on Monday - I'm sure he'll take a look at your pointers as he digs into this further.

[2019-02-08 20:02] youngtack commented on #653
Hi @wmalikow,

Thanks for  `spdk_nvme_io_qpair_opts` and your patch resolves spdk_nvme_ns_cmd_read errors. But another error happens as below.
I will try to figure out the root cause. Looking forward to your advice.
[code]
Thanks,
YT

[2019-02-08 21:52] Comphix commented on #643
Thanks @gwnet , do you mean that with "sudo" to run setup.sh and hello_world example, it can run successfully with the current non-root user?

[2019-02-08 21:59] Comphix commented on #620
For the second case of "with nvmf_tgt", it could be a little relating to the primary process's work of initializing and attaching the zero namespace controllers so that the second process (nvme cli) can operate it as requested trhough id-ctrl commands. I will take a look later. Thanks, Gang. Glad to know that "without nvmf_tgt" and in standalone mode, it works although I am still thinking why the

[2019-02-09 11:22] pawelwod commented on #563
Instead of Programmer's Guide I vote for documenting the API and writing good example applications. User/Programmer's Guide are often outdated in SPDK and people that makes changes in SPDK are forgetting to update these guides. Examples can be run per patch or nightly so we will know really fast that something is outdated.

[2019-02-09 14:31] gwnet commented on #643
No, if I use sudo to run setup.sh, then use sudo to run nvme hello_world. it is OK. if I do not use non-root user(without sudo) to run nvme hello_world, it failed at rte_service_init.

[2019-02-10 05:28] lorneli commented on #655
Hi @jimharris ,

For the abort case, I come up with a solution: Assign fake cid, distinguished from real cid in tracker, to the requests in pending list. Then return the fake cid in timeout callback. When user calls `spdk_nvme_ctrlr_cmd_abort` using fake cid, request with that cid could be found in pending list and be compeleted manually. But there exists one case that the request in pending list

[2019-02-10 14:53] hawkingrei commented on #654
this problem only appear in the spdk 19.01，but when i try spdk 18.07.01, it disappeared.

[2019-02-10 14:53] #654 closed

[2019-02-11 09:09] wmalikow commented on #653
Hi Youngtack,

From logs you attach I can see that FTL found inconsistent metadata on band 9. This happens when dirty shutdown happens (or you got some assertion) and band is not properly closed. We don't have dirty shutdown recovery support for today.
You should create new FTL device in such case - with different UUID.

Thanks,
Wojtek

[2019-02-11 11:32] optimistyzy commented on #638
@liang2yan This patch will fix this issue:  https://review.gerrithub.io/c/spdk/spdk/+/444066

[2019-02-11 12:08] kreuzerkrieg opened #657 "Retrieving QP status string"
I want to report errors in my application, `spdk_nvme_cpl` `status` contains status code and type, which is not too verbose, looks like `get_status_string` is a good bet but for some reason it is static free function that I cant use because of internal linkage. Did I miss a function that can translate status code to string or there is no such a thing in SPDK (publicly available)? May we have this

[2019-02-11 12:26] Alfredu commented on #654
I have a similar problem where the linker complains about undefined reference to crc32_iscsi. Any news?

[2019-02-11 14:01] darsto commented on #104
@optimistyzy It's been 2 years. @optimistyzy could you give us an update? :)

Anyway, it looks like 2 applications are racing to attach an NVMe, in which case it'd be expected that one of those applications fails. I'm closing this issue.

[2019-02-11 14:01] #104 closed

[2019-02-11 14:02] darsto commented on #245
The patch above has been merged. Can we close this?

[2019-02-11 14:34] darsto commented on #319
This is a common effort that's targeting 19.05. Let me reword the title a bit.

[2019-02-11 14:40] darsto commented on #319
@pawelwod can you give us an estimation of how much work is there to be done?

[2019-02-11 14:49] darsto commented on #494
I was going through old issues and picked up this one - I'm sorry it wasn't noticed earlier.

@Maciej-Szwed I know you worked on this. Can you give us an update? Is the http proxy server upstreamed? How can we use it?

[2019-02-11 14:51] Maciej-Szwed commented on #494
@ygm521 are looking for something like spdk/scripts/rpc_http_proxy.py (it has been added recently)?

[2019-02-11 15:04] darsto commented on #551
@Maciej-Szwed any update?

[2019-02-11 15:23] darsto commented on #523
The patch above is merged, so I'm closing this issue.

[2019-02-11 15:23] #523 closed

[2019-02-11 15:49] darsto commented on #654
@Alfredu could you create a separate issue with some logs?

[2019-02-11 15:51] darsto commented on #494
@Maciej-Szwed is there any guide on how to use it?

[2019-02-11 17:13] jimharris commented on #657
I don't have a problem with exporting this function.  How about spdk_nvme_cpl_get_status_string?

I think I'd prefer the exported function to take a struct spdk_nvme_cpl pointer as a parameter, instead of the raw uint16_ts.  Then just change the single caller in nvme_qpair.c to use the new function signature.

Let us know if you'd like to submit a patch for this.  If not, someone else will surely

[2019-02-11 17:20] kreuzerkrieg commented on #657
Will try to submit the patch tomorrow

[2019-02-11 17:52] jimharris commented on #655
That's an interesting idea.  But I agree that the extra complexity would be too much.  Also, spdk_nvme_ctrlr_cmd_abort currently always sends an abort request to the SSD - so we would be changing the behavior of that function and need to explain it.  I think if there is a case where even queued requests have timed out, aborts will do no good and user must reset.

Please break this up into multiple

[2019-02-11 18:05] Seth5141 commented on #594
@kreuzerkrieg I apologize to have takenso long to get back to you on this one. It took me a bit to get spun up with AWS.
I brought up an m5d.large instance and enabled the IOMMU instance in the same way that you did. However, there is no real IOMMU in the machine, and virtualization has been disabled (try cat /proc/cpuinfo | grep svm). That also explains why you had to use DRIVER_OVERRIDE=vfio-pci

[2019-02-11 18:06] Seth5141 commented on #594
Please see the following issue for some more information on igb_uio and uio_pci_generic https://github.com/spdk/spdk/issues/210

[2019-02-11 18:11] lorneli commented on #655
That's great, thanks for your kind guidance.

[2019-02-11 19:21] kreuzerkrieg commented on #594
@Seth5141, no rush, I'm happily live with `uio_pci_generic` for a month or so. Glad you got to the AWS stuff, because I was feeling I'm exploring kind of terra incognita, didn't find any information about SPDK in the cloud on the net.
Regarding IOMMU, I guess there is no sense to try other storage optimized instances since (my guess) I will run into the same problem. As for i3 metal instances, yes

[2019-02-11 19:37] kreuzerkrieg commented on #594
We have `uio` since we provide it in our own AMI. What the deal with `igb_uio`? Any particular reason I have to prefer it over `uio`? `vfio`?

[2019-02-11 20:57] Seth5141 commented on #594
@kreuzerkrieg
If you are using SPDK (especially the NVMe driver) in a production environment, you will absolutely want to use vfio-pci for security reasons. VFIO places your NVMe drive behind the IOMMU and prevents it from doing nefarious things to memory it shouldn't be accessing. The following is a good intro to vfio-pci: https://www.kernel.org/doc/Documentation/vfio.txt. You may also want to lo

[2019-02-11 22:47] #550 closed

[2019-02-12 00:09] jimharris commented on #638
Hi @liang2yan - can you confirm this patch fixes the issue?

@optimistyzy - I have added +2 to this patch.  But could we also add an lvol test for this case?

This patch needs to be merged for v19.01.1.

[2019-02-12 01:30] liang2yan commented on #638
I have verified ziye's patch(https://review.gerrithub.io/c/spdk/spdk/+/444066). I can create lvol_store and logical_volume now.

[2019-02-12 02:55] optimistyzy commented on #245
@darsto My patch is not related with this issue. I think that this issue is still existing, though it is not easy to reproduce.

[2019-02-12 03:19] wanghailiangx commented on #245
Yes, there are still some error reports, just a little different.
[code]

[2019-02-12 03:53] changpe1 commented on #638
closing the issue now as the patch has been merged.

[2019-02-12 03:53] #638 closed

[2019-02-12 04:31] optimistyzy commented on #647
I had the same issue: https://ci.spdk.io/spdk-jenkins/results/autotest-per-patch/builds/22503/archive/unittest_autotests/build.log  It seems that the space of the test machine is not enough.

[2019-02-12 04:33] optimistyzy commented on #636
@liang2yan Can you provide detail steps for this issue?

[2019-02-12 05:08] optimistyzy commented on #624
@wanqunintel  As listed by @changpe1 , Can you paste some performance comparison data?

[2019-02-12 05:48] optimistyzy commented on #641
@fshenx I used the latest master branch 55be9a57a619e275826314e90e8c7c1d6348abc7 to test, and see that there is no issue related with the target, but bdevperf does not exit. I tested in the same host.

[2019-02-12 05:57] optimistyzy commented on #641
I think that the issue is in bdev layer, we do not have the timeout policy. When the connection is broken, bdev_nvme_poll is still polling(it is registered a poller), and we know those I/Os will never be completed, but it is not aborted.

[2019-02-12 06:02] shenfurong2015 commented on #641
@optimistyzy
 yes, there is no issue on the target, but bdevperf does not exit.

[2019-02-12 06:07] fshenx commented on #641
@optimistyzy
yes, there is no issue on the target, but bdevperf does not exit.

[2019-02-12 06:15] kreuzerkrieg commented on #594
Nope, since I was not sure you guys gonna pursuit the path of cloud/containers. Should I create such a request now?

[2019-02-12 06:32] youngtack commented on #653
Hi @wmalikow,

As I cleaned up the whole patches as below, ftl bdev on qemu-nvme (num_chk=1478) is working fine.
Here closing this issue. Thanks for your help so far. Looking forward to ftl patches for large chunks soon.
[code]
Thanks,
YT

[2019-02-12 06:32] #653 closed

[2019-02-12 06:39] kreuzerkrieg commented on #594
BTW, shouldnt it be `grep vmx` for Intel or just `grep -E 'svm|vmx' for AMD|Intel?

[2019-02-12 07:44] pawelwod commented on #319
Paweł

[2019-02-12 08:32] Maciej-Szwed commented on #494
It has its own help (just run with -h)

[2019-02-12 08:32] wanqunintel commented on #624
@optimistyzy @changpe1 Just retested with 10 times on different spdk version and it shows following result, it seems there are some fix for it in the master, is there anyone know which patch has fixed this issue?
**18.10**
Starting SPDK v18.10.2-pre / DPDK 18.08.0 initialization...
[ DPDK EAL parameters: perf --no-shconf -c 0x1 -m 1024 --no-pci --file-prefix=spdk_pid43909 ]
EAL: Detected 48 lcore(

[2019-02-12 13:51] optimistyzy commented on #624
@wanqunintel  So can we conclude that this issue is fixed in the master branch.

[2019-02-12 14:11] Seth5141 commented on #594
Ah, you're right, thanks. I mixed those two up in my response.
Yeah, go ahead and open an enhancement request.  We aren't sure if we are going to use Docker in the test pool, but it's something that has been tossed around. Besides, we want to enable as many testing configurations as possible.
I am going to close this one since we have gotten to the bottom of why VFIO doesn't work on your EC2 insta

[2019-02-12 14:33] kreuzerkrieg commented on #594
Will do

[2019-02-12 14:33] #594 closed

[2019-02-12 14:50] jimharris opened #658 "Intermittent PMDK test failure - no space left on device"
https://ci.spdk.io/spdk-jenkins/results/autotest-per-patch/builds/22563/archive/nvml_autotest/build.log

[2019-02-12 14:54] jimharris commented on #658
Failure on fedora_vm_4:

Started by upstream project "autotest-per-patch" build number 22563
originally caused by:
 Triggered by Gerrit: https://review.gerrithub.io/c/spdk/spdk/+/443843
[EnvInject] - Loading node environment variables.
Building remotely on fedora_vm_4 (SingleDiskVM VM) in workspace /var/jenkins/workspace/NVML_tests/nvml_autotest
[WS-CLEANUP] Deleting project workspace...
[WS-CLEAN

[2019-02-12 14:54] jimharris commented on #658
This hit again on the very next patch - also on fedora_vm_4:

https://ci.spdk.io/spdk-jenkins/results/autotest-per-patch/builds/22564/archive/nvml_autotest/build.log

[2019-02-12 15:07] darsto commented on #650
Bug scrub: @changpe1 I'm just wondering, have you ever encountered this before? Is this something you've done work on already?

[2019-02-12 15:10] pawelkax commented on #602
@changpe1
Hi,
Do you have any update with this issue?

[2019-02-12 15:13] darsto commented on #314
Bug scrub: There is quite amount of work required to get it tested on our CI. We'll just put in on the backlog for now.

[2019-02-12 15:16] darsto commented on #310
Bug scrub: Let's discuss this on the next week's PRC bug scrub.

[2019-02-12 15:19] darsto commented on #245
Bug scrub: Let's discuss this on the next PRC bug scrub.

[2019-02-12 15:22] darsto commented on #374
Bug scrub: This is now being merged to upstream. It will support interleaved metadata.

[2019-02-12 15:27] darsto commented on #646
Bug scrub: Try enabling a quirk that's usually enabled for physical Nvmes.

[2019-02-12 15:32] darsto commented on #506
Bug scrub: We haven't seen those recently and a lot of code has changed. I'm closing this - if it comes back, please ping me and I'll reopen.

[2019-02-12 15:36] darsto commented on #475
Bug scrub: Let's drop spdk.io/roadmap page entirely - we can make the button on the top point to trello directly..

[2019-02-12 15:41] peluse opened #659 "bdev/crypto UT fails with ASAN enabled"
This issue exists on master, was introduced recently due to some required DPDK changes however Jenkins is not currently running crypto UT for other reasons so it was never caught.

[2019-02-12 15:42] darsto commented on #635
Bug scrub: there's a patch out on gerrithub. @Seth5141 to add more details

[2019-02-12 15:47] peluse opened #660 "Not all UT are being executed w/Jenkins per patch testing"
Karol has the details, the SPDK_TEST_* flags are not being set for several modules (crypto for example) so unless the developer is actually doing this before they submit it would be very easy to introduce a UT issue on master (as is the case w/crypto right now).

[2019-02-12 16:02] tomzawadzki commented on #603
@SavanAnjaria Thank you for submitting the logs. As you've pointed out it seems that the error occurs after the snapshot completes and writing is resumed after 'freeze_io'.

I've been trying to reproduce this without using NVMe-oF without success so far. With only NVMe device I had no trouble with snapshotting during FIO submitting IO. There is functional test within autotest for this (test_cases.

[2019-02-12 16:54] SavanAnjaria commented on #603
@tomzawadzki  Thanks for looking into this. Initially I had also thought that, this is related to NVMe-oF. But, later I found that the following prints are generated from nvme_pcie.c which is responsible for transferring the data to the NVMe Drives I believe.
**nvme_pcie.c**:1716:nvme_pcie_prp_list_append: _ERROR_: vtophys(0x28c01c8) failed

Earlier when such issues were reported (not related to s

[2019-02-12 19:50] peluse commented on #659
FYI this is the culprit, don't have root cause yet but this is definitely where it was introduced: https://review.gerrithub.io/c/spdk/spdk/+/443592

[2019-02-12 22:50] jingliu9 opened #661 "SPDK NVMe shows worse performance than libaio under 4K random read workload (perf tool)"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

In terms of latency, SPDK NVMe Driver is supposed to be at least 3-4 us than libaio.

## Current Behavior

At small queue depth, it it is relatively the same as libaio. But with queue depth increasing, SPDK ha

[2019-02-13 01:58] wanqunintel commented on #624
@optimistyzy it seems fix, but we are not sure what's the issue there, i discussed with changpeng and better to understand the reason how it's fixed. So i put the but scrub there to get some info.

[2019-02-13 03:13] wanqunintel commented on #624
@changpe1 , to get more info for the debuging if perf issue or nvme driver issue, fio result is attached as follows, config file for fio job is as follow
[global]
invalidate=1
norandommap=1
thread=1
rw=randrw
runtime=10
ioengine=libaio
direct=1
#bs=4096
bs=16384
size=1G
#iodepth=128
iodepth=10
group_reporting
#numjobs=32
time_based=1
[job0]
filename=/dev/nvme0n1
**1810**
job0: (g=0): rw=randrw, bs

[2019-02-13 06:07] changpe1 commented on #602
I post a patch to fix this issue. https://review.gerrithub.io/#/c/spdk/spdk/+/444323/

[2019-02-13 08:08] revanbiradar2019 opened #662 "SPDK discovery over tcp is failing with error. NVME TCP not available. Could you please specify the nvme-tcp module for ubunutu"
NVME cli 1.7 unable to discover or connect over tcp for SPDK 19.01 on ubuntu nodes

target commands

root@testubuntu:/home/ubuntu/spdk1901/spdk#  ./scripts/rpc.py construct_malloc_bdev -b Malloc0 512 512
Malloc0
root@testubuntu:/home/ubuntu/spdk1901/spdk#  ./scripts/rpc.py nvmf_subsystem_create nqn.2016-06.io.spdk:cnode1 -a -s SPDK00000000000001
root@testubuntu:/home/ubuntu/spdk1901/spdk# ./script

[2019-02-13 08:54] alekseymmm commented on #661
SPDK nvme driver most likely will show better results than aio if you test with several io threads. Unfortunately you cannot do so with perf tool. Do you consider  performing the same tests with fio plugin and probably increase numjobs?

Nevertheless your results are still curious.

[2019-02-13 10:12] dong-liuliu commented on #498
This issue can be closed.

[2019-02-13 10:12] #498 closed

[2019-02-13 10:26] darsto opened #663 "Makefile:60: warning: overriding recipe for target 'clean'"
On current master I can see:

[code]

It doesn't cause any issues so far.

Full log here:
https://ci.spdk.io/spdk-jenkins/results/autotest-per-patch/builds/22656/archive/blockdev_autotest/build.log

[2019-02-13 11:27] SavanAnjaria commented on #603
@tomzawadzki I haven't seen this issue without lvols being present. This was primarily seen with snapshot creation when IOs were in progress on the lvol (from which the snapshot was created).

[2019-02-13 12:09] pawelwod commented on #661
Maybe kernel is using more than one queue pair to do IO? Or utilization more than one core for IO/irq.
It also can merge IO that are close to each other.

You can try adding more CPU's at higher queuedepth (use check `./perf --help` for -c` param) and recheck results. Latency should drop.

[2019-02-13 12:16] ak-gh commented on #661
Preconditioning SSD with sequential write doesn't make much sense. To bring SSD into saturated mode, you need to write at least 2xcapacity with small block size (e.g., formatted
SSD block size) __randomly__.

Regards,
Andrey

[2019-02-13 12:28] ak-gh commented on #661
Re the perf results, it looks like spdk nvme driver hits some bottleneck between qd=32 and 64, so that the bandwidth attained peaks out at 350K IOPS (while aio runs all the way up to 500K IOPS claimed by the SSD spec). It might be helpful to profile qd=64 run, to find out where the time is being spent.

[2019-02-13 14:06] lorneli commented on #655
Hi @jimharris, @optimistyzy ,

I find out in nvme/nvme_tcp.c function `nvme_tcp_qpair_process_completions` doesn't check the timeout of requests like similar functions in pcie/rdma do. I wonder if this feature is impelmented implicitly in nvme_tcp.c.

Thanks.

[2019-02-13 14:55] jimharris commented on #661
No.  Preconditioning the SSD with sequential writes as @jingliu9 did is correct.

The only time small (4KiB) random writes should be used is when benchmarking small random writes, to get the SSD into a steady state for garbage collection.

[2019-02-13 15:05] jimharris commented on #662
Hi @revanbiradar2019,

This does not look like an SPDK bug.  You need to install a kernel which has nvme-tcp support.

Closing this issue since I don't see any issue with SPDK here.  If you have further questions, you can continue to comment on this issue.

-Jim

[2019-02-13 15:05] #662 closed

[2019-02-13 15:25] karlatec commented on #656
@pawelwod Please look for this issue for some time. I've set the time on most of the test servers properly (still struggling with 17.10, so you can still expect "clock skew" messages there)

[2019-02-13 15:29] jimharris commented on #663
https://review.gerrithub.io/c/spdk/spdk/+/444427 should fix it.

[2019-02-13 15:37] ak-gh commented on #661
If SSD is preconditioned with large sequential writes, L2P will be compact and cheap to maintain. That's not what one would like to test against if one is looking for real-life saturated performance.

[2019-02-13 15:58] karlatec commented on #660
Config modified. All SPDK_TEST_* flags for unittest job should now default to 1.
@peluse Can you look it up and confirm this is OK for you?

[2019-02-13 16:00] karlatec commented on #658
Cleaned up some disk space on the VMs yesterday. If we don't hit the issue in the next couple of hours or a day then I think this can be closed.

[2019-02-13 16:09] nedved1 opened #664 "NVMf initiator crashes when bdev is used with vhost"
## Expected Behavior
Run fio test without any issues.

## Current Behavior
On VM, fio outputs errors:

[code]

On host:
vhost outputs errors and hangs:

[code]

## Steps to Reproduce
1. Run nvmf_tgt, configure nvmf subsystem and assign nvme device to that subsystem.

[code]

2. Run  vhost and create vhost controller with nvmf bdev.

[code]

3. Start VM with attached vhost controller.

[code]

4.

[2019-02-13 16:22] jimharris commented on #658
Let's just close it now.  We can reopen if necessary.  But I'm pretty confident this has been fixed.

[2019-02-13 16:22] #658 closed

[2019-02-13 16:45] jingliu9 commented on #661
Thanks! Any suggestion on the how to *profile*? I tried the linux perf tool, which indicates that 70% time goes to spdk_nvme_qpair_process_completions().

[2019-02-13 17:06] ak-gh commented on #661
That's more or less expected, although it might be helpful to break that down to see if anything unexpected (such as waiting on some resource) occurs, and also compare linix perf top for qd 16 and 64,, to try to figure out where the bottleneck is.

Also, it might be helpful to check if this is a regression compared to 18.10 since attaining half a million read IOPS has never been a problem for SPDK

[2019-02-13 17:53] benlwalker commented on #661
I'm going to try to break down a bunch of these comments, plus give you some steps for the future.

No. SPDK should be showing better results in all circumstances always. And by a large margin.

More queues don't provide additional performance at the device, they just allow for parallel submission of I/O without locks. By default, the kernel uses the 'nomerges' io scheduler for SSDs, so it isn't m

[2019-02-13 18:01] peluse commented on #659
https://review.gerrithub.io/c/spdk/spdk/+/444449

[2019-02-13 18:34] #659 closed

[2019-02-13 20:25] jingliu9 commented on #661
Thanks very much. I'm going to try the suggestions.
* But I'm not quite understanding the meaning of *doing unmaps across the entire SSD*. Can you give me an example or explain more about that.
* The arguments I passed into configure is "configure --with-fio=<pathtofio>/fio"

[2019-02-13 21:11] benlwalker commented on #661
unmap is a term from SCSI that's equivalent to ATA's trim or NVMe's deallocate. I use them interchangeably - sorry about that. I guess we don't have unmap support in the NVMe perf tool. You could use standard fio (with the libaio engine) I think to do it.

[2019-02-14 00:33] nate12112 opened #665 "using fio_plugin with spdk hangs when doing fio-seq-read (128K)"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

using fio_plugin with spdk hangs when doing fio-seq-read

## Expected Behavior
The FIO should complete successfully just like spdk/examples/nvme/fio_plugin/example_config.fio
(Yes, I can get the example_config.fio to work just fine

[2019-02-14 02:12] liang2yan commented on #636
## Steps to reproduce:
1. get latest spdk codes, I used commit(77a55a2fc4d6abf79ac0fdbb5fbb060e79a51b31).
2.  start spdk nvmf target with the config file in attachment and "-m 0xffff":
[nvmf-nvme-hotplug-multicore.txt](https://github.com/spdk/spdk/files/2862982/nvmf-nvme-hotplug-multicore.txt)
3.  run fio job in two host machines, job file can be as below:

[code]
4. while fio is running, the nvmf

[2019-02-14 02:43] jingliu9 commented on #661
@benlwalker
I have tried trim through via and re-do the experiment.

Latency:

Queue Depth | 1 | 2 | 4 | 8 | 16 | 32 | 64 | 128 | 256
-- | -- | -- | -- | -- | -- | -- | -- | -- | --
AIO (us) | 21.82 | 19.34 | 22.12 | 25.34 | 33.11 | 58.37 | 115.8 | 231.16 | 461.91
SPDK (us) | 17.7 | 19.11 | 20.82 | 31.65 | 53.78 | 104.32 | 219 | 438.18 | 876.04

IOPS:

Queue Depth | 1 | 2 | 4 | 8 | 16 | 32 | 64 |

[2019-02-14 03:22] optimistyzy commented on #662
@revanbiradar2019 It seems the kernel nvme tcp transport support is merged in linux master in January (may be this linux master commit id: 6b8f9159166545e576b2bc8a0c984beaeae9cc05)this year. So mostly likely, it is in linux kernel 5.0. You need to use the kernel version which supports this feature or back port  the code in your current kernel.

[2019-02-14 03:33] optimistyzy commented on #641
I think that are some issues in bdev_nvme module. When the connection is broken (e.g., the NVMe-oF target is shutting down). So the situation is that:  The users submit lot of bdev I/Os, and the call back function provided by the users are never executed. Currently I did not have a solution for this issue yet. But I have some ideas to conduct:

1  Need to update the code in bdev_nvme_poll. If the

[2019-02-14 03:39] cranechu commented on #662
Maybe you did not create the transport?
`scripts/rpc.py nvmf_create_transport -t TCP -p 4`

[2019-02-14 05:16] #663 closed

[2019-02-14 05:23] Comphix commented on #661
Hi Jing,

Do you also have Intel NVMe SSD on hand for the testing besides the Samsung SSD used for the testing?

Thanks,
Gang

[2019-02-14 05:54] jingliu9 commented on #661
@Comphix At this time, I do not have Intel NVMe SSD for testing.

[2019-02-14 06:11] dong-liuliu opened #666 "SPDK crashed by start one in-using NBD device"
Related to spdk github issue [324](https://github.com/spdk/spdk/issues/324)
SPDK coredumped if start a nbd device which is already occupied by other processes.

## Expected Behavior
Keep away from the nbd device and return error information to user.

## Current Behavior
No response to the rpc caller. And previous occupancy from other process is released by SPDK.
If kill SPDK app, then SPDK is core

[2019-02-14 07:09] revanbiradar2019 commented on #662
Hi all, I had created the spdk nvme transport at target side . Do I need to
create at intiator side too.please let me know

On Thu, 14 Feb 2019, 9:09 am Crane Chu <notifications@github.com wrote:

[2019-02-14 07:45] kreuzerkrieg commented on #657
Pushed for review

First time using gerrit, so dont smack me in my face right away :)

[2019-02-14 08:49] optimistyzy commented on #661
@jingliu9  Can you describe the SPDK version you used?  I remembered that for the large IO size (Since you use 128KB for test), previously @changpe1 has submitted a fix for the entries number for the qpair. With this fix, we can guarantee the real entry number for each qpair. Without this patch, the I/O entries will not be enough). According to your test script, your perf tool is old with -S to de

[2019-02-14 08:54] optimistyzy commented on #661
In the new perf tool, there are the following statements:

 max_xfer_size = spdk_nvme_ns_get_max_io_xfer_size(ns);
        spdk_nvme_ctrlr_get_default_io_qpair_opts(ctrlr, &opts, sizeof(opts));
        /* NVMe driver may add additional entries based on
         * stripe size and maximum transfer size, we assume
         * 1 more entry be used for stripe.
         */
        entries = (g_io_size_by

[2019-02-14 10:04] ak-gh commented on #661
It would be informative to check what this specific controller reports under default qpair options. If the io indeed gets queued up for insufficient controller resources, that would easily explain the performance stall at higher queue depths being observed.

[2019-02-14 13:06] SavanAnjaria commented on #603
@tomzawadzki In the unit test 752, we are setting Thin provision property of the lvol prior to creating snapshot. My understanding was, the thin provision property of the lvol gets set when we create the snapshot.

Moreover when we create snapshot out of an lvol, the clone property of an lvol gets set. I was curious as to why do we set clone property of lvol on snapshot creation.

[2019-02-14 13:47] jingliu9 commented on #661
@optimistyzy
* For the read after trim experiment suggested, I already switch to v19.01, the latest version.
* max_xfer_size:2072576    opts.io_queue_size:2796951264

[2019-02-14 14:36] jimharris commented on #657
Thanks @kreuzerkrieg!  Don't worry - we will take it easy on you.  :-)

[2019-02-14 14:37] jimharris commented on #657
FYI for others - patch is here:  https://review.gerrithub.io/c/spdk/spdk/+/444519/1

[2019-02-14 14:44] jimharris commented on #657
Overall the patch looks great.  I just posted a couple of minor feedback items.  You can update the patch and push it to GerritHub again - just edit your existing patch (keeping the same Change-Id) and Gerrit will keep the new version associated with version 1.  Please reach out if you have any questions on pushing a new version of the patch.

[2019-02-14 15:11] jimharris opened #667 "[Jenkins] Files not getting copied for external access"
https://ci.spdk.io/spdk-jenkins/public_build/autotest-per-patch_22831.html

https://ci.spdk.io/spdk-jenkins/public_build/autotest-per-patch_22835.html

Both of these finished hours ago.

[2019-02-14 15:20] jimharris commented on #667
Is it possible that these results already got purged?  I'm not able to read related files through the internal status page either.

I am able to see the files directly from the Jenkins UI.

[2019-02-14 15:38] peluse commented on #667
I can take a quick look but Pawel/Karol may need to investigate further

[2019-02-14 15:44] peluse commented on #667
Looking at the Console Output fro the job there are Jave and Hudson exceptions that occur at the start of the archiving.  I suspect this is why but can't comment on root cause.  We've seen other general Java exceptions that result in failure and I've suggested before that we try and figure out how to catch those and somehow communicate "internal error" on the status page so it doesn't look like a

[2019-02-14 17:18] lorneli commented on #655
Hi @jimharris , @optimistyzy ,

I have submitted a patch series to gerrit: https://review.gerrithub.io/c/spdk/spdk/+/444702/
The first patch moves req->submit_task assignments to nvme_qpair_submit_request function in generic qpair code. The second patch checks timeout of pending request in nvme/pcie.

It would be great if you help to review this patch at your convenience. Thanks.

[2019-02-14 17:35] pawelkax commented on #602
@changpe1 @jimharris @darsto I tested it with patch https://review.gerrithub.io/#/c/440950/ and hotremove for scsi and blk works.

[2019-02-14 19:23] ak-gh commented on #661
The io_queue_size as reported by the controller doesn't look legitimate, so my guess is the that sodk nvme driver, being fooled by this, limits the queue depth to 128k (its default maximum transfer size)/4k=32. Hence, you are witnessing no bandwidth improvement at qd > 32.

[2019-02-14 21:49] jingliu9 commented on #661
Hi,

I'm wondering what is the best SSD for spdk?

Thanks

[2019-02-15 05:10] jingliu9 commented on #661
@Comphix
Any suggestion on which Intel SSD is better? Like more suitable to be used w/ SPDK.

Thanks

[2019-02-15 06:35] optimistyzy commented on #665
@nate12112  I used the latest SPDK version, and did not see the issue you mentioned. My fio version used is (e8ed50bc3ce67f449714c55c3fbf2f8eb50730c2).  This is very strange

:spdk_fio_setup: _ERROR_: Failed to find namespace 'ns=X'

[2019-02-15 06:55] optimistyzy commented on #661
@jingliu9  this value reported "* opts.io_queue_size:2796951264"  is sounds not make sense.
In our code line 1662:  we have set
opts->io_queue_size = UINT16_MAX,  but you finally get  opts.io_queue_size:2796951264.  According to our code, the io_queue_size should be less than 65536

[2019-02-15 07:12] ak-gh commented on #661
Yup. So my suggestion is to guard against faulty controller by setting queue size to the minimum of the value returned and 65535, and rerun tje tests for high queue depths.

[2019-02-15 07:41] optimistyzy commented on #661
@ak-gh  The value provided by @jingliu9  is very strange.

[2019-02-15 07:59] optimistyzy opened #668 "bdev nvme reconnection does not work as expected when connecting to remote NVMe-oF target"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

There are following two cases, we are not handling in a correct way when using SPDK NVMe bdev (as initiator) to connect to the remote NVMe-oF target.

Case 1  If we shut down remote the NVMe-oF target,  and restart the NVMe-oF targ

[2019-02-15 08:38] tomzawadzki commented on #603
@SavanAnjaria This is unrelated to the issue, but please let me explain the reasoning behind some of your observations.

Thin provisioning feature is not directly related to snapshot/clone functionality. An lvol can be created with thin provisioning set by providing '-t' argument in RPC.

Although there is additional caveat for clones. To make them work as they do currently, snapshot is an lvol th

[2019-02-15 08:56] optimistyzy commented on #655
a patch is added to suport timeout in nvme tcp

[2019-02-15 10:12] lorneli commented on #655
@optimistyzy  Found it. https://review.gerrithub.io/c/spdk/spdk/+/444803  Thanks for the notification.

[2019-02-15 13:35] jingliu9 commented on #661
@ak-gh
I re-check the line I put the print(), yeah, it is not initialized at that point that is right before spdk_nvme_ctrlr_get_default_io_qpair_opts(). The value is 16384 actually.

[2019-02-15 20:57] jimharris commented on #602
Patch merged.

[2019-02-15 20:57] #602 closed

[2019-02-15 21:09] #593 closed

[2019-02-16 02:05] jonathanrichardson opened #669 "performance decrease from 18.04 to 18.10"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Performance with multiple initiators using RDMA has decreased significantly from 18.04 to 18.10. Our system has 16 drives in one subsystem with 64 QP's to handle them. We have 4 initiators doing 4k random reads for a total of 256 Q

[2019-02-18 01:41] dong-liuliu commented on #666
fixed in patch [https://review.gerrithub.io/c/spdk/spdk/+/444804](url).

[2019-02-18 01:41] #666 closed

[2019-02-18 02:37] optimistyzy commented on #655
@lorneli  My patch supporting the timeout in NVMe TCP host side is merged.

[2019-02-18 02:39] yidong0635 opened #670 "the newly code executes vm_setup.sh - i failed in VM"
When I verify the newly code in VM , execute vm_setup.sh - i ,  there are several failures ..

## Expected Behavior
In VM , execute   vm_setup.sh - i  can pass.

## Current Behavior
 execute vm_setup.sh - i , blocked by several  failures  .

1. spdk code downloading may need run this command as root user.
2. OCF module need account or other.
3. some submodules in qemu git clone failed.
...

## Pos

[2019-02-18 10:01] SavanAnjaria commented on #603
@tomzawadzki Understood. Thanks for the explanation

[2019-02-18 10:05] changpe1 commented on #650
@darsto , SPDK doesn't need to assert the VIRTIO_RING_F_INDIRECT_DESC, because SPDK can support this feature by default, just remove it is ok.

[2019-02-18 14:25] darsto commented on #664
@pawelwod pointed out earlier that NVMf uses max i/o size of 128k by default. @nedved1 can you try increasing it to 512k?

[2019-02-18 14:57] pawelwod commented on #664
decrease to 4k-128k (or even 4k-64k) as 4k-512k is already used in failing test.

[2019-02-18 15:59] nedved1 commented on #664
@darsto @pawelwod After decreasing blocksize to 4k-128k, fio test completed successfully.

[2019-02-19 02:23] jessehui opened #671 "mkfs for OCF device failed"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Use mkfs for OCF device and failed.

## Expected Behavior

mkfs success.

## Current Behavior

[code]

## Possible Solution

[code]
Triggered by this located in ocf/src/concurrency/ocf_cache_concurrency.c

## Steps to Reproduce

1.

[2019-02-19 02:46] jessehui commented on #671
@Donaim Any idea why this is happening?

[2019-02-19 03:10] wangli1426 opened #672 "How to test on a particular NVMe device?"
I have a machine with two NVMe SSD, say Intel P4500 and Intel P4600.
I'd like to have separate performance benchmark on the two devices, respectively.

How can I specify which NVMe device is used in /src/example/nvme/perf/perf tool?

or How can I specify which device will be mount to uio_pci_generic when I run /src/scripts/setup.sh ?

Any suggestion highly appreciated.

[2019-02-19 04:17] jessehui commented on #671
Put ocf into /usr/src/ocf can pass.

[2019-02-19 04:24] Seth5141 commented on #672
Hi @wangli1426,
When using setup.sh, you can set the environment variables PCI_WHITELIST or PCI_BLACKLIST with the BDF of the specific NVMe drives you want to test. (scripts/setup.sh -h for more info on that). For /example/nvme/perf/perf, you can also specify the transport ID (The PCI address for local NVMe) you would like to attach to  using the -r option.

[2019-02-19 06:17] shuhei-matsumoto commented on #607
This issue may be related with https://review.gerrithub.io/#/c/spdk/spdk/+/445056/ .

[2019-02-19 06:51] liang2yan opened #673 "QEMU 2.11 can't connect to SPDK vhost. *ERROR*: Guest memory size is not a 2MB multiple"
## Expected Behavior
No error out.

## Current Behavior

error messages are out.
[code]
## Possible Solution

## Steps to Reproduce
1. Set 1GB hugepage in the host machine. And run setup.sh with following parameters:

`HUGEMEM=32768 spdk-19.01/scripts/setup.sh
`
2. Run spdk vhost test scripts:

`spdk-19.01/test/vhost/spdk_vhost.sh --integrity-lvol-scsi
`
3. while running qemu, the error messages w

[2019-02-19 07:54] Smalinuxer commented on #624
finally . i find out what the problem it is.
so i do this test in version 6f62f0a187341a9e1a136d2080cb11dae65cb6ed (which is between master and v18.10.x)

* git clone https://github.com/spdk/spdk.git
* git checkout 6f62f0a187341a9e1a136d2080cb11dae65cb6ed
* git submodule update --init
* ./configure --with-rdma
* make -j
* ./examples/nvme/perf/perf -r 'trtype:RDMA adrfam:IPv4 traddr:192.168.91.11 t

[2019-02-19 08:37] pawelwod commented on #673
pls paste full logs from test

[2019-02-19 08:51] Donaim commented on #670
Hi @yidong0635,
I investigated behavior you encountered and:
1. This was a bug, fix is proposed: [commit](https://review.gerrithub.io/c/spdk/spdk/+/445248) . The bug was caused by expectation that ~/spdk_repo is owned by user, which is not always the case.
2. Also a bug, [this patch](https://review.gerrithub.io/c/spdk/spdk/+/445249) fixes it. Issue was that script used worng for OCF repo, which ma

[2019-02-19 09:06] pawelwod commented on #656
Looks like clocks are in sync now. Closing.

[2019-02-19 09:06] #656 closed

[2019-02-19 09:33] yidong0635 commented on #670
@Donaim ，thanks for your commits，
 1,2:  I will verify it several days later for I'm not in office.
 3.     Already use the proxy. I don't know if it  occurs only with our proxy.
I will continue to observe.

[2019-02-19 09:47] Donaim commented on #671
Not yet, investigating.

[2019-02-19 14:37] #657 closed

[2019-02-19 14:49] Seth5141 commented on #669
@jonathanrichardson Thank you for pointing this out. This is very useful data. We have had at least one other confirmation of a performance drop between 18.04 and master from @karlatec. The code you pointed out was once used in an attempt to properly drain RDMA queues at shutdown, but we have since adopted another method of draining queues. I agree with your suggestion to remove it. I also think t

[2019-02-19 15:54] #624 closed

[2019-02-19 18:52] jonathanrichardson commented on #669
Hi. Yes I agree, it probably is two separate issues. Regarding performance as qpair's get added to the poll group.. I've been chasing a performance drop as we add initiators for months even with 18.04 and haven't found the cause. The number I posted of 2511k iops in 18.04 (100Gbps link) was a 4 initiator number. With 1 initiator I get 2.7-2.8M depending on the CPU performance of the initiator (usi

[2019-02-19 21:14] Seth5141 commented on #669
Thanks Jonathan,

I have posted a few changes that are primarily just reverting the change you mentioned. I also use STAILQs in an attempt to further decrease overhead for the states we do have to track. I don't have all of my results in yet. I see a small performance benefit on a slightly different benchmark, but not as much as I would think. Please give it a try if you can. The series head is he

[2019-02-20 00:02] youngtack opened #674 "ftl bdev failed for ws_opt=24"
## Expected Behavior
ftl bdev never fails even with `thinktime=0`

## Current Behavior
ftl bdev fails as below.

## Possible Solution
this failure never happens with `ws_opt=8`. `thinktime=1000` can work around but RWB management needs to be investigated.

## Steps to Reproduce
- qemu setup, ftl bdev conf and fio job as in `Context` below
- commands to reproduce the failure
[code]
## Context (Envi

[2019-02-20 00:06] youngtack commented on #674
Hi @wmalikow,

I observed this failure on qemu-nvme (ws_opt=24). Please have a look into this report and give me your advice.

Thanks,
@youngtack

[2019-02-20 05:23] wanqunintel commented on #624
thanks, Jiaqi, after checking the log, this issue was fixed with this patch, bdc96b4dd623a844ba9e296837e854f5096bb35e, and introduced with this patch "f24629092489d70e64826c2bba116514efb1bacf" as described in the commit message

[2019-02-20 05:52] Smalinuxer commented on #537
i tested today in master , it seem like have been fixed . @liang2yan

[2019-02-20 05:57] optimistyzy commented on #664
"./spdk/scripts/rpc.py -s /tmp/nvmf_rpc.sock nvmf_create_transport -t RDMA -u 8192 -p 4 "

Can you Remove -u 8192

[2019-02-20 06:21] kreuzerkrieg opened #675 "setup.sh enhancements for running in Kubernetes pod"
As discussed [here](https://github.com/spdk/spdk/issues/594) I'm opening Kubernetes pod enchancement request for `spdk/scripts/setup.sh`
1) Consider making it runnable in pods (actually docker instances) Today, setup.sh modprobes vfio/uio which is not (as far as I understand) supposed to work in contaner, `modprobe` should be run at host.
2) From the script, test `/sys` and `/dev` for r/w, these s

[2019-02-20 08:31] karlatec commented on #673
Hi, please provide the version of used QEMU binary

[2019-02-20 09:11] nedved1 commented on #664
@optimistyzy fio hangs, vhost crashes, got message:
```vhost: nvme_rdma.c:1159: nvme_rdma_build_sgl_inline_request: Assertion `length <= remaining_payload' failed.```

[2019-02-20 09:53] Cindy-010 opened #676 "Hello world show "nvme_ctrlr.c: 473:nvme_ctrlr_shutdown: *ERROR*: did not shutdown within 5 seconds""
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

version: v17.07.x
ubuntu 64bit
Vmware workstation

run hello world encounter below issues:
Starting DPDK 17.05.0 initialization...
[ DPDK EAL parameters: hello_world -c 0x1 --file-prefix=spdk0 --base-virtaddr=0x1000000000 --proc-ty

[2019-02-20 13:45] lorneli commented on #655
@optimistyzy Received, I will modify the second patch to detect timeout for pending requests  in tcp/rdma.

[2019-02-20 15:06] wmalikow commented on #674
Hi @youngtack,

I was trying to reproduce this issue but it seems that my version of qemu doesn't support ws_opt which is not power of 2. What version of qemu you are using? Could you share it?

Thanks.
Wojtek

[2019-02-20 17:01] youngtack commented on #674
Hi @wmalikow,

I'm using Matias team's qemu-nvme and its install configuration is updated on the report as below.
[code]
Thanks,
YT

[2019-02-20 18:57] jonathanrichardson commented on #669
Thanks for the quick patches. They don't merge to 18.10 without conflict so I'll see if we can get upgraded to 19.01 or backport them into 18.10.

Here are more 18.10 numbers. I see what you mean regarding performance adding qpairs to the poll group. A singly linked list should help a bit. I don't think it's the cause of what I'm seeing though. I've profiled spdk extensively comparing it to 1 init

[2019-02-20 20:23] #633 closed

[2019-02-21 01:23] liang2yan commented on #673
The qemu version is as below:

[code]

[2019-02-21 01:31] changpe1 commented on #676
@Cindy-010 I see you are using a virtual NVMe controller, can you run with latest SPDK version ? SPDK will wait at least 10 seconds when shutting down the controller.

[2019-02-21 01:42] changpe1 commented on #669
This is same with issue #624 , and commit bdc96b4 has fixed the issue. You can refer the commit to get the root cause.

[2019-02-21 01:55] changpe1 commented on #589
@nagendra-v , I tested the cases, I enabled NVMe hotplug feature, then the new drives can be joined to SPDK automatically after setup.sh.  Of course, you should use RPC to add the block device to one NVMf subsystem.

[2019-02-21 02:03] Cindy-010 commented on #676
@changpe1 Thank you for your comments.
 yes, I try to using the latest SPDK version, wait 10000 milliseconds, hit the same issue.
[ DPDK EAL parameters: hello_world -c 0x1 --base-virtaddr=0x200000000000 --file-prefix=spdk0 --proc-type=auto ]
EAL: Detected 1 lcore(s)
EAL: Detected 1 NUMA nodes
EAL: Auto-detected process type: PRIMARY
EAL: Multi-process socket /var/run/dpdk/spdk0/mp_socket
EAL: No f

[2019-02-21 02:10] changpe1 commented on #676
@Cindy-010 Thanks for the quick update, then I think it's related with your virtual NVMe controller, SPDK follows the NVMe specification when shutting down the controller, but it's not a big deal because it's virtual controller.

[2019-02-21 02:12] changpe1 commented on #606
@JasonMesser  RPC delete_nvme_controlle do the same thing with the real hot remove, I can reproduce the issue now, will submit a patch to fix it.

[2019-02-21 03:09] changpe1 commented on #606
Patch was posted at https://review.gerrithub.io/#/c/spdk/spdk/+/445642/.

[2019-02-21 04:07] Seth5141 commented on #669
@changpe1 I don't believe that this and #624 are the same. From looking over that issue, it seems like the fix was a one liner in the perf tool. This issue presents when using the fio plugin. Also the performance difference is much less pronounced here and is related to function overhead in rdma.c

[2019-02-21 04:11] Seth5141 commented on #669
@jonathanrichardson I think it's really interesting that the performance drops only when you increase the number of initiators. How are the initiators connected to the target? The only way we differentiate I/O qpairs is by the target device to which they are connected. When you connect multiple initiators, are they connected to the target through a switch to the same port on the target NIC, or are

[2019-02-21 04:41] jaedan commented on #675
Would a second script designed to prepare a container for running SPDK make more sense? Loading vfio/uio and setting up hugepages is the primary purpose of setup.sh, and neither of those can be done within a container.

[2019-02-21 04:42] benlwalker commented on #675
Would a second script designed to prepare a container for running SPDK make more sense? Loading vfio/uio and setting up hugepages is the primary purpose of setup.sh, and neither of those can be done within a container.

[2019-02-21 04:48] jimharris commented on #673
We definitely need the full logs.  Also confirm that on this same system, that using 2MB huge pages does *not* cause this failure.

It would also be good if this log message printed out the size.

[2019-02-21 04:52] benlwalker commented on #669
Can you please provide the fio configuration file used to test with multiple initiators? We'd like to confirm that the remaining bottleneck isn't on the initiator side.

[2019-02-21 05:10] benlwalker commented on #668
Two separate improvements:

1. Implement automatic reconnect attempts when queue pairs drop their connection.
2. In the bdev nvme module, on an I/O timeout, need to go through a process like an spdk_bdev_reset command instead of just directly calling spdk_nvme_reset.

[2019-02-21 05:20] optimistyzy commented on #668
@benlwalker  @jimharris  @Seth5141

For 1:
I posted a patch to reconnect the qpair for remote transport and try to solve the reconnection issue:
https://review.gerrithub.io/#/c/spdk/spdk/+/445061/   And today @Seth5141  also provide a me a link which he abandoned, he also observed this issue before.

For 2 the timeout function currently implemented in bdev nvme is not correct;
(1)About the qpair.

[2019-02-21 05:44] kreuzerkrieg commented on #675
Not sure... At this moment I'm running `setup.sh` with `modprobe` lines commented out. Since I remount the `sysfs` as r/w I dont see how setting up huge pages preparation wouldnt run in container, except cases when hugepages disabled altogether on the host side. From my point of view what `setup.sh` does for me it is disconnecting drive from kernel and attaching to user mode and rescan. Not sure i

[2019-02-21 09:35] GaoliangL commented on #673
We still face the issue after changed the hugepage as 2MB.
Uploaded two log files with the hugepage configuration of 2MB and 1GB.

[spdk-vhost-lvol-scsi-pagesize2M.txt](https://github.com/spdk/spdk/files/2888571/spdk-vhost-lvol-scsi-pagesize2M.txt)
[spdk-vhost-lvol-scsi-pagesize1G.txt](https://github.com/spdk/spdk/files/2888573/spdk-vhost-lvol-scsi-pagesize1G.txt)

[2019-02-21 09:37] karlatec commented on #673
@liang2yan You're using QEMU version which we don't support.
Please update to 2.12 or 3.0.0 from https://review.gerrithub.io/spdk/qemu

Thanks

[2019-02-21 11:16] pawelwod commented on #675
We are open to enhancements but here I think that `setup.sh` is designed to aid development/testing rather than being full-featured tool. Anyway see my comments inline:

We can check if module is loaded before modprobe/insmod but if it isn't and we can't `modprobe` it will fail anyway and SPDK won't work. This is quite easy to implement.

What is the purpose of running `setup.sh` when any of `/sys

[2019-02-21 11:48] Roberciiik opened #677 "Initiator host's nvme-cli hangs after attachment of 3 or 4 nvmf subsystems"
Hi,

I have tried to attach 10 NVMe-oF volumes to initiator host. It is done by creating nvmf_subsystem and then adding allowed host NQN to it. After each creation of nvmf_subsystem on storage service host I used nvme-cli to discover and connect previously created nvme-of target device. However after 3 or 4 (multiple run) attached devices on initiator host the "nvme connect" command hangs and "nvm

[2019-02-21 12:08] karlatec opened #678 "nvmf nightly: connect_disconnect fail on softroce"
## Current Behavior
nvmf/connect_disconnect.sh test in nightly fails after ~100 re-connections.
Possibly some issue in SoftRoCE as test fails with error:
"Failed to write to /dev/nvme-fabrics: Cannot allocate memory"

But that's just my suspicion.
It's ok on physical systems.

## Steps to Reproduce
1. run nvmeof nightly test suite on a virtual machine with soft-roce

## Context (Environment includ

[2019-02-21 12:16] kreuzerkrieg commented on #675
As pod's end-user you are not always aware how it was configured, you dont remember what exactly should be writable. `setup.sh` does not complain about writability, it simply fails, and you spend some time trying to understand what `setup.sh` dont like about your pod

Will recheck how exactly it fails, AFAIR, it does not complains with straightforward message like, "Hey, no hugepages, cant continu

[2019-02-21 12:40] kreuzerkrieg commented on #675
and `/scripts/../include/spdk/pci_ids.h`?

[2019-02-21 13:20] pawelwod commented on #675
Ohh... yes. It will be problematic to skip this file as we want one place with PCI IDs.

One question (maybe lame question as I'm not containers expert here):
Why you need to invoke `setup.sh` in container at all? Shouldn't the environment be configured prior launching container (modules loaded, huge pages allocated, mounting points, devices)?

[2019-02-21 13:53] kreuzerkrieg commented on #675
Actually it could work this way, but we want more control over working with NVMe drives. No, you dont have to do everything in the node, except loading module with modprobe - you just cant run it from pod. after the module is loaded you can do the rest in the pod at run-time, for example you (for some reason) want to disconnect the drive from kernel and after that reconnect it back to kernel (`set

[2019-02-21 14:29] wmalikow commented on #674
Hi YT,

Fix is here: https://review.gerrithub.io/c/spdk/spdk/+/445721

Thanks,
Wojtek

[2019-02-21 14:48] darsto commented on #673
This is either a bug or a security issue in older QEMU versions. Even if we mmaped just a part of a 2MB page and registered that part to the VFIO, the associated physical device could still do DMA to the entire page because IOMMU can only operate on whole pages. Then we could either read or write to memory we shouldn't have access to.

I'm also starting to wonder what actually happens when you mma

[2019-02-21 15:04] jimharris commented on #673
Should the 2MB multiple check be looking at regions[i].mmap_size instead of regions[i].size?

Clearly QEMU 2.11 is describing two memory regions, split by the VGA BIOS hole (0xA0000-0xBFFFF), making each of their sizes not 2MB multiple.  But the mmap sizes for both are 2MB aligned.  I'm pretty sure it's the latter we need to check.

[2019-02-21 15:30] jimharris commented on #675
Is the request here to add some better error messages to setup.sh?  For example,

1) print useful error message if lspci not available
2) print useful error message if we need to insmod/lsmod/modprobe and its not available
3) print useful error message if /sys is not mounted r/w
4) print useful error message if we can allocate no huge pages
5) (maybe) print warning message if we can allocate some

[2019-02-21 15:34] tomzawadzki commented on #603
@SavanAnjaria I was successful in getting a reproduction of your issue with NVMe-oF setup. This happens just after snapshot is finished and on one of writes after new cluster allocation.

For reference log attached is snippet of logs between blob sync at snapshot finish and the vtophys error.
[log_final.txt](https://github.com/spdk/spdk/files/2889917/log_final.txt)

The virt_addr does not look rig

[2019-02-21 15:41] Roberciiik commented on #677
Also when I tried to disconnect a volume from initiator host (i.e. `nvme disconnect -d nvme4`) command line hangs and `dmesg` showed:
[code]

[2019-02-21 15:43] jimharris commented on #673
@liang2yan - could you modify lib/vhost/vhost.c on this system - line 1098, change "size" to "mmap_size".  Then see if the tests all pass?

[2019-02-21 16:22] mhae commented on #673
@jimharris Changing to mmap_size works! I'm now getting past this error.

[2019-02-21 16:26] jimharris commented on #673
Thanks @mhae!

Could you try one more experiment for me?  Launch QEMU again, but specify a memory size like 1023 or 1025, and do *not* allocate it from huge pages.  I just want to make sure that this vhost.c check still triggers in that case.

[2019-02-21 16:40] mhae commented on #673
Yes, this fails:
kvm -enable-kvm -machine pc-i440fx-2.1,accel=kvm,usb=off -smp 1 -cpu SandyBridge -m 1023M -object memory-backend-file,id=mem,size=1023M,mem-path=/tmp/vm,share=on -numa node,memdev=mem -drive file=~/min.qcow2,if=none,id=disk -device ide-hd,drive=disk,bootindex=0 -chardev socket,id=char0,path=/var/tmp/vhost.0 -device vhost-user-scsi-pci,id=scsi0,chardev=char0 --curses

But this fail

[2019-02-21 16:43] jimharris commented on #673
Do both of them result in the "Guest memory size is not a 2MB multiple" error?

[2019-02-21 16:44] mhae commented on #673
Yes.

On Thu, Feb 21, 2019 at 9:43 AM Jim Harris <notifications@github.com> wrote:

[2019-02-21 16:46] jimharris commented on #673
OK.  That's good actually.  I suspect the 1024 case (w/o huge pages) would get past this point but failure later on QEMU 2.12 or greater.

I'm curious what happens if you use huge pages, but try to specify 1023 or 1025MB?

Thanks @mhae for your help on this.

[2019-02-21 16:51] mhae commented on #673
@jimharris Glad to be of help (-;

It seems that qemu is rounding it to the nearest 2MB multiple. I specified 1025 and it was rounded up to 1026M.
[code]

[2019-02-21 17:50] kreuzerkrieg commented on #675
sounds like a plan

[2019-02-21 18:35] jimharris commented on #673
https://review.gerrithub.io/c/spdk/spdk/+/445764

[2019-02-21 19:02] peluse opened #679 "CI test systems have ISA-L installed in system dir"
With the early work on crypto, we were installing ISA-L to the system dir so I'm assuming it's still there now.  Later we pushed a patch to install only under the spdk root. We will ned either this patch to land first, or an alternate solution, however before removing from system dir or crypto won't build.  See patch for more details.
https://review.gerrithub.io/c/spdk/spdk/+/445767

[2019-02-21 19:29] peluse commented on #679
In case its not clear the resolution here is to remove ISA-L install from system dir on all test systems. run autogen and sudo make uninstall should do it, just for for the patch I mentioned to be merged first

[2019-02-21 20:08] benlwalker commented on #675
Yeah I think we can just check if the driver we want to probe is already loaded and skip that step if it is. These sound like good improvements overall.

[2019-02-21 20:17] youngtack commented on #674
Hi Wojtek,

Thanks a lot for this quick fix. It works fine on qemu-nvme. Closing this issue.

Regards,
YT

[2019-02-21 20:17] #674 closed

[2019-02-21 20:44] mhae opened #680 "vhost core dump during bdev create and VM start up"
I'm running a stress test scenario where a script is constantly adding and removing devices. At the same time, I start a VM (the test script is started beforehand).
Quite frequently, I get a vhost core dump during add_vhost_scsi_lun.

[code]
Note, the line number is one off compared to what's on master since I added a printf to dump the scsi_tgt_num.

I understand that this may be a corner case is

[2019-02-21 22:01] csm10495 opened #681 "Can't build SPDK Shared Combined Shared Library"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior
Building with --with-shared doesn't yield a binary libspdk.so file.

## Current Behavior
libspdk.so seems to be a text file of some sort.

## Possible Solution
Not quite sure..

## Steps to Reproduce
This was f

[2019-02-21 22:14] csm10495 commented on #681
I tried bisecting a bit and found that commit b5ed37e generates a non-ascii libspdk.so file.

[2019-02-21 22:22] jimharris commented on #681
Hi @csm10495,

Did you try linking with this .so file?  It's a completely valid .so file - this technique is commonly used to group multiple .so files so that a user only needs to link one.

Try something like:

find /usr -name "*.so" | xargs file | grep ASCII

and you'll probably find some on your system.

-Jim

[2019-02-21 22:25] #647 closed

[2019-02-21 22:26] jimharris commented on #672
Closing this issue based on response from @Seth5141.

@wangli1426 - if you have additional questions, you can continue to post to this thread.

[2019-02-21 22:26] #672 closed

[2019-02-21 22:29] csm10495 commented on #681
Hey @jimharris,

I had been trying to use Python to load the shared object... when it couldn't I figured it was off. My mistake, looks like this is a more normal technique than I realized.

I'll close. Thanks.

[2019-02-21 22:29] #681 closed

[2019-02-21 22:58] jimharris commented on #673
Removing wont fix label.  This used to work before 19.01. I think 445764 fixes this so that at least vhost-scsi still works with QEMU 2.11.

[2019-02-22 01:41] wanqunintel opened #682 "[nvmf tgt] running nvmf with nvme SSD will print "thread reactor_1 still has channel for io_device Nvme0" error message when entering "ctrl+c""
nvmf tgt  running with nvme SSD will print "thread reactor_1 still has channel for io_device Nvme0" error message when entering "ctrl+c" in a short time, like within 7-8 seconds

## Expected Behavior
Exit normally
## Current Behavior
Error message in detailed as follows
![image](https://user-images.githubusercontent.com/18566118/53213768-27ee7500-3685-11e9-8b12-cd7a773f10a2.png)

## Possible Solut

[2019-02-22 02:06] vonnyfly opened #683 "virtio block hangs when connecting to vhost-user"
When I try to use Virtio Block as Vhost client.
I find when I write data to the virtio bdev, the IO will hang.
I use the latest master code of spdk.
I don't know if my usage is right.

## Expected Behavior
The bdev could complete IO.

## Current Behavior
The write operation will hang.

## Possible Solution

## Steps to Reproduce
[code]

## Context (Environment including OS version, SPDK version, e

[2019-02-22 04:51] SavanAnjaria commented on #603
@tomzawadzki That's great. Yes, virt_address doesn't seem correct in the logs you have provided.

[2019-02-22 05:21] yidong0635 commented on #670
hi    @Donaim:
1.  fail message 1

2. apply your patch:  but add ` sudo su`   to work as a root user can pass  before git clone .  maybe some module like ISA-L  need root right, I'm not sure about it.

[2019-02-22 05:34] GaoliangL commented on #673
With QEMU 2.11, the issue is gone after applied the patch above.

[2019-02-22 07:03] revanbiradar2019 opened #684 "SPDK 19.01 discovery over RDMA is giving error root@testubuntu3:/home/ubuntu/nvme-cli-1.7# nvme discover -t rdma -a 10.201.40.37 -s 4420 Failed to write to /dev/nvme-fabrics: Invalid argument"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

SPDK 19.01 discovery over RDMA is giving error root@testubuntu3:/home/ubuntu/nvme-cli-1.7# nvme discover -t rdma -a 10.201.40.37 -s 4420 Failed to write to /dev/nvme-fabrics: Invalid argument

## Expected Behavior

NVME cli discove

[2019-02-22 07:03] yidong0635 commented on #636
@liang2yan , @optimistyzy ,I observed the log  spdk_nvmf_transport_poll_group_create  failed.
it may caused by  lacking of memory which need be got  from : rte_mempool_get.
maybe we need to clean some  occupied memory and try again.

[2019-02-22 07:05] revanbiradar2019 commented on #684
Dmesg from intiator node

176583.774922] nvme_rdma: Unknown symbol rdma_create_id (err 0)
[176587.223005] nvme_rdma: Unknown symbol ib_alloc_cq (err 0)
[176587.223173] nvme_rdma: Unknown symbol rdma_create_id (err 0)
[176739.318266] nvme_rdma: Unknown symbol ib_alloc_cq (err 0)
[176739.318434] nvme_rdma: Unknown symbol rdma_create_id (err 0)
[176739.336153] nvme_fabrics: no handler found for trans

[2019-02-22 07:06] revanbiradar2019 commented on #684
target dmesg
23346.322293] RPC: Registered tcp NFSv4.1 backchannel transport module.
[23346.323768] rpcrdma: Unknown symbol ib_alloc_cq (err 0)
[23346.323876] rpcrdma: Unknown symbol rdma_create_id (err 0)
[23346.323942] rpcrdma: Unknown symbol rdma_accept (err 0)
[23346.345593] rpcrdma: Unknown symbol ib_alloc_cq (err 0)
[23346.345704] rpcrdma: Unknown symbol rdma_create_id (err 0)
[23346.345770]

[2019-02-22 07:11] revanbiradar2019 commented on #684
This was working fine with build SPDK 18.04 and nvme cli 1.7

[2019-02-22 07:21] yidong0635 commented on #684
@revanbiradar2019  please make sure  make --with-rdma and something like following:
 modprobe mlx5_ib
  modprobe mlx4_ib
  modprobe nvme_rdma
  modprobe nvme_fabrics
and disable the firewall for ubuntu.
`ufw disable`

[2019-02-22 08:28] revanbiradar2019 commented on #684
I have started spdk
-with-rdma
with above steps to it didnt work

ubuntu@testubuntu3:~$ ^C
ubuntu@testubuntu3:~$ modprobe mlx5_ib
ubuntu@testubuntu3:~$ modprobe mlx4_ib
ubuntu@testubuntu3:~$ modprobe nvme_rdma
modprobe: ERROR: could not insert 'nvme_rdma': Operation not permitted
ubuntu@testubuntu3:~$ modprobe nvme_fabrics
ubuntu@testubuntu3:~$ ufw disable
ERROR: You need to be root to run this sc

[2019-02-22 08:28] revanbiradar2019 commented on #684
still discovery is failing with error "Failed to write to /dev/nvme-fabrics: Invalid argument"

[2019-02-22 09:25] rajasekaranmam opened #685 "SPDK hit crash with SIGABRT spdk_lvs_init_cb assertion bs==Null failed error message when try to create LVS from NVMe bdev"
When trying to create LVS from NVMe bdev, SPDK crash with this error message (SIGABRT spdk_lvs_init_cb assertion bs==Null).
This is an intermittent issue and reproduced almost every time (Only once, it works fine).

## Expected Behavior
LVS creation should be successful

## Current Behavior
nvmf_tgt: lvol.c:536: _spdk_lvs_init_cb: Assertion `bs == NULL' failed.
Thread 1 "reactor_0" received signal

[2019-02-22 10:14] wanghailiangx commented on #682
Could you show some key configuration of your nvmf_single_nvme_rdma_624.conf?

[2019-02-22 10:17] rajasekaranmam commented on #685
![sigbart assertion bs null while pull nvme bdev in 19 01 with sigbus handle switch](https://user-images.githubusercontent.com/18207076/53235971-2474e100-36b9-11e9-98de-921080a3f41a.jpg)

[2019-02-22 10:25] #673 closed

[2019-02-22 10:51] rajasekaranmam commented on #589
FYI:
I have seen the similar issue (EAL print with NVMe SSD DBDF number in SPDK Target while unplugging NVMe SSD.
This print (EAL prints with 1st NVMe SSD DBDF number) even after you start hot-plug some more SSDs.

At this time, I have seen below observations in SPDK 19.01 with VFIO (hot-plug enabled in Config file).
1. EAL Can not handle hot unplug for device BDF will be printed continuously unti

[2019-02-22 10:55] rajasekaranmam commented on #589
![inserted new nvme ssd placed in kernel and not moved to vfio pci userspace](https://user-images.githubusercontent.com/18207076/53238113-7d934380-36be-11e9-9d98-8caa4fc746c1.jpg)
![hot-plug error message](https://user-images.githubusercontent.com/18207076/53238115-7d934380-36be-11e9-9206-a0ff39856a10.jpg)
![eal can not handle hot unplug for device bdf while unplug nvme ssd in 19 01 with sigbus sw

[2019-02-22 11:19] rajasekaranmam opened #686 "SPDK Target prints *NOTICE*: ACCESS DENIED (02/86) and *ERROR*: Gpt: bdev=Nvme1n1 io error status=0 when bring up nvmf_tgt"
SPDK Target prints below ACCESS DENIED and ERROR when bring up nvmf_tgt with a config file (Both hot-plug enable & NVMe SSDs DBDF added).
nvme_qpair.c: 306: nvme_qpair_print_completion: *NOTICE*: ACCESS DENIED (02/86) sqid:1 cid:191 cdw0:0 sqhd:0001 p:1 m:0 dnr:1
vbdev_gpt.c: 410:spdk_gpt_bdev_complete: *ERROR*: Gpt: bdev=Nvme1n1 io error status=0
The above prints observed for both NVMe SSDs (both

[2019-02-22 11:20] rajasekaranmam commented on #686
![access denied 02 86 print from spdk 19 01__also found in 19 04-pre__community](https://user-images.githubusercontent.com/18207076/53239397-efb95780-36c1-11e9-8343-11450317f2fc.jpg)

[2019-02-22 15:47] jimharris commented on #684
Your log shows that nvme_rdma module is not loaded.  You ran "ufw disable" as root, but not the "modprobe nvme_rdma"

The IP addresses to nvmf_subsystem_add_listener and "nvme connect" don't match either.  You should connect to the address you specified for the listener.

Closing issue.  If there are still problems after fixing both of these issue, please file a new issue with specifics on the new

[2019-02-22 15:47] #684 closed

[2019-02-22 17:23] jimharris commented on #683
This is related to doing the vhost/virtio in loopback mode.  This works fine if we construct_virtio_dev in a separate SPDK process.

For example:
Start vhost process as described above, including construct_malloc_bdev and construct_vhost_blk_controller
test/app/bdev_svc/bdev_svc -r /var/tmp/svc.sock --single-file-segments &
scripts/rpc.py -s /var/tmp/svc.sock construct_virtio_dev --dev-type blk --

[2019-02-22 17:35] jimharris commented on #683
Marking this is a bug, but low priority.  Loopback is not the best usage model for vhost/virtio - typical usage model would have a separate process attaching to the vhost process.

[2019-02-22 18:32] jimharris commented on #606
Patch merged

[2019-02-22 18:32] #606 closed

[2019-02-22 19:06] Seth5141 commented on #682
@wanqunintel When trying to repro this locally, I found that when we specified a different master core than 0x0 and tried to ctrl-c the target, I was hitting an assert in spdk_bdev_close. I think that your issue might be related to that. Here are the patches that fix this related issue locally for me. https://review.gerrithub.io/#/c/spdk/spdk/+/445938/
My results may or may not be directly related

[2019-02-22 19:20] jimharris commented on #685
Is this NVMe SSD locked by chance?  Status 02/86 ACCESS DENIED means this according to the spec:

Access to the namespace and/or LBA range is denied due to lack of access rights. Refer to the appropriate security specification (e.g., TCG SIIS).

Are you able to read and write to this SSD using the kernel NVMe driver?

There's still a problem here since bs does not equal NULL.  Looking into that fu

[2019-02-22 19:31] jimharris commented on #685
https://review.gerrithub.io/c/spdk/spdk/+/445941 will fix the assert.  It has no bearing on the NVMe error - this only satisfies the assertion, so that you'll get a meaningful error from the lvol layer that the lvs creation failed.

[2019-02-22 19:32] jimharris commented on #686
Related to #685.

Please confirm that you can do I/O operations to this SSD using the Linux kernel driver.

[2019-02-22 19:35] Seth5141 commented on #684
@revanbiradar2019 You will need to use sudo when probing some or all of the modules (e.g. nvme_rdma). On line five of your last log, modprobe nvme_rdma fails and you don't try it again with root privileges. That command needs to complete successfully before you can use nvme cli to do fabrics operations like discovery on the RDMA transport.

[2019-02-22 19:37] jimharris commented on #680
Assigning to @darsto for now.  Also tagging for next bug scrub - maybe @darsto will decide to assign it to someone else.  :-)

The test scenario is certainly valid.  I'm marking it as a bug mainly because I don't think we have a test for this currently and expect we'll have no problem reproducing the problem.

[2019-02-22 19:58] jimharris commented on #676
I agree with @changpe1 - this indicates a buggy NVMe implementation.  Can you confirm you're using the latest version of VMWare Workstation?

I've posted https://review.gerrithub.io/c/spdk/spdk/+/445942 which adds a quirk for this SSD.  It'll just print an extra ERRLOG indicating this timeout is somewhat expected on VMWare emulated SSDs.

[2019-02-22 20:01] jimharris commented on #667
This seems to be fixed.

[2019-02-22 20:01] #667 closed

[2019-02-22 20:04] jimharris commented on #655
Patches have been merged.  Thanks for your work on this @lorneli!

[2019-02-22 20:04] #655 closed

[2019-02-22 20:21] jimharris commented on #685
Removing bug scrub label - further progress depends on info about using this device with the kernel driver.

[2019-02-22 20:24] jimharris commented on #626
Hi @benqwu - any update on this issue?  Or should we close it?

[2019-02-22 20:25] jimharris commented on #504
Closing this issue.  @tlclu1209 - you may reopen it if you are able to collect more information to facilitate further debug.

[2019-02-22 20:25] #504 closed

[2019-02-22 20:31] jimharris commented on #310
@changpe1, @baruch - can this issue be closed now?

I see the patch from @glodfish-zg - but that is separate from the original bug reported by @baruch.

[2019-02-22 20:35] jimharris commented on #660
@karlatec - can you double check this?  I just looked at the unit test log for a couple of recent builds, and crypto still seems disabled.

[2019-02-22 20:38] #537 closed

[2019-02-22 20:39] jimharris commented on #494
Closing this issue.  @ygm521 - if you have additional questions on this not answered by the help message, you may reopen this issue.

[2019-02-22 20:39] #494 closed

[2019-02-22 20:40] karlatec commented on #660
Hi Jim,
I enabled it just before adding the last comment here, but Seth had to later revert my changes to the config because one of the crypto unit tests was failing on ASAN on each build.
Was this fixed and is it safe to turn on all UTs?

[2019-02-22 20:41] jimharris commented on #475
@benlwalker - this looks like a good one for you to tackle in 5 minutes on a Friday afternoon.  :-)

[2019-02-22 20:47] jimharris commented on #619
Hi @peluse - #619 and #660 seem like duplicates.  Can we close one of them?

[2019-02-22 20:50] jimharris commented on #660
Ah - thanks for reminding me.  This should be OK to turn back on now - we merged the patches from @peluse last week.  But maybe we should hold off until Monday so we don't run into any unexpected surprises right before the weekend.

[2019-02-22 21:39] benlwalker commented on #475
https://review.gerrithub.io/c/spdk/spdk.github.io/+/445948

[2019-02-22 21:54] Seth5141 commented on #557
@liang2yan From the traceback you supplied in the initial issue description, it looks like the disconnect is being triggered during the connect path, and It is trying to modify the admin command before the qpair is connected. I pushed some patches to modify this behavior about a week ago (https://review.gerrithub.io/#/c/spdk/spdk/+/443472/). Can you try again and see if this still happens? Also, i

[2019-02-22 22:09] jonathanrichardson commented on #669
@Seth5141 Ok I'm upgraded to 19.04 pre release. I'm having issues with a new switch so haven't been able to get test results yet but the patches look good.

The setup is 4x100G initiators going to a switch and the 100G target also going to a switch. Only 1 port on the target NIC is being used. I can change to 25G NIC's so that I don't need to use congestion control or priority flow control which o

[2019-02-22 22:19] mhae opened #687 "Null pointer access in spdk_vhost_vq_avail_ring_get"
I was starting my test VM while a vhost user scsi tgt was being attached to vhost. This lead to the following seg fault:

[code]

For whatever reason, vring_avail was NULL leading to the core.

Note, I'm using qemu **2.12** on debian that I've built from the source (basically a backport from buster to stretch).

## Expected Behavior
Attaches while a VM comes up should not cause an abort in vhost a