[2022-01-24 08:08] spdkci commented on #2320
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_68990.html

[2022-01-24 08:20] Comphix commented on #2320
Looks like this issue is reproduceable.

In my environment:

Commit ID:
commit e0e544bc9c10eaab9a71d3fd35acdc7eb239fbd6
Author: Michal Berger <michallinuxstuff@gmail.com>
Date:   Thu Jan 20 10:40:06 2022 +0100

    rpmbuild: Change to $rootdir prior running the rpmbuild

    This step was accidently removed by 47ee30d3e3.

    Fixes issue #2332.

Steps:
1. [Primary Process]: ./build/examples/perf

[2022-01-24 08:45] Comphix commented on #2320
Raised a patch:

https://review.spdk.io/gerrit/c/spdk/spdk/+/11216

[2022-01-24 09:58] tomzawadzki opened #2343 "[clang-vg-autotest] VM running out of disk space while compiling"
# CI Intermittent Failure

Clang VM on VM-host-PE3 seems to run out of the disk space while compiling.

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/69052/archive/clang-vg-autotest/build.log

## Execution failed at

[code]

[2022-01-24 10:18] xjjx commented on #2343
Same story on SM0 https://ci.spdk.io/results/autotest-per-patch/builds/69058/archive/clang-vg-autotest/build.log

[2022-01-24 10:30] Comphix commented on #2320
Fix may be not correct. Need more debugging.

[2022-01-24 10:53] spdkci commented on #1950
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_69055.html

[2022-01-24 11:04] karlatec opened #2344 "[vhost-autotest] bdev_nvme_create: *ERROR*: No controller was found with provided trid"
# CI Intermittent Failure

`bdev_nvme_create: *ERROR*: No controller was found with provided trid` at very start of autotest.sh, around setup.sh or opal_revert_cleanup

## Link to the failed CI build

[[](https://ci.spdk.io/public_build/autotest-per-patch_69060.html)](https://ci.spdk.io/public_build/autotest-per-patch_69060.html)

## Execution failed at

[code]

[2022-01-24 11:05] karlatec commented on #2344
Caused by BIOS misconfiguration on WFP4 test node. For some reason VMD was enabled for PCIe controller, not sure why was this done.

[2022-01-24 11:06] spdkci commented on #2344
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_69060.html

[2022-01-24 11:11] karlatec opened #2345 "[vhost-autotest] setup.sh fails at devices.sh test"
# CI Intermittent Failure

Physical tests fail on setup.sh / devices.sh test, most often on GP8 test node.
This was probably caused by recent power down of the CI. I suspect that the node was powered off before the tests could finish and the GPT label was not removed from NVMe disk after the test.

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_69054.html

## Ex

[2022-01-24 11:12] spdkci commented on #2345
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_69054.html

[2022-01-24 11:13] spdkci commented on #2345
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_69059.html

[2022-01-24 11:13] spdkci commented on #2345
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_69058.html

[2022-01-24 11:21] spdkci commented on #2320
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_69046.html

[2022-01-24 11:35] tomzawadzki commented on #2345
It has happened before https://github.com/spdk/spdk/issues/2341

[2022-01-24 11:59] Comphix commented on #2320
Updated the patch.

https://review.spdk.io/gerrit/c/spdk/spdk/+/11216/2/lib/nvme/nvme_pcie.c

From the debugging, it looks like the DevHandle is process specific. The MapBar and UnMapBar operations shall be only handled on the Primary process. For the Secondary process, these function pointers of DevHandle is not properly set and hit the Segment Fault.

Please Jim take a look. Thanks, Gang.

[2022-01-24 12:10] tomzawadzki commented on #2345
@karlatec Analyzing the log/script it seems like it behaves as intended. The `ID_PART_ENTRY_TYPE=0fc63daf-8483-4772-8e79-3d69d8477de4` matches standard Linux GPT, not SPDK GPT.
That means there is leftover GPT partition that, so the setup.sh does not use that drive. This behavior is intentional.

Cursory look over the tests scripts point to three places that create standard GPT partition:
-`./test

[2022-01-24 12:38] karlatec commented on #2345
I'm not saying it's not :) But GP8 only has 1 NVMe drive which is purely for SPDK tests. For OS SATA SSD is used. So in that case it must have been one of our tests which uses kernel tools to create a GPT partition. We have such tests in test/vhost for example.
We should probably modify those scripts to create  easily recognizlible partition labels so that we know autotest.sh can safely remove the

[2022-01-24 15:26] tmakatos commented on #2074
@jlevon is this the right issue?

[2022-01-24 15:32] jlevon commented on #2074
it's problem number 4 in issue #594

[2022-01-24 17:55] tomzawadzki commented on #2345
@karlatec please see https://review.spdk.io/gerrit/c/spdk/spdk/+/11220

[2022-01-24 19:38] recklessnl opened #2346 "bdev_lvol_create does not report when size is too big"
# Bug report

Per this [Slack thread](https://spdk-team.slack.com/archives/CJE4C98G1/p1642974454081100), running the following commands:

[code]
Results in my system RAM ballooning and ultimately crashing. The goal here was to create a 200GB lvol. The rpc.py docs mention that the value in `bdev_lvol_create` value should be in bytes, but apparently it should be in MB instead.

I think the patch sho

[2022-01-24 21:56] spdkci commented on #2320
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_69067.html

[2022-01-24 22:36] spdkci commented on #2343
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_69103.html

[2022-01-24 23:20] spdkci commented on #2343
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_69107.html

[2022-01-25 00:48] spdkci commented on #2308
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_69106.html

[2022-01-25 01:47] Comphix commented on #2320
Patch has been merged. Keep this open for some time.

[2022-01-25 12:00] spdkci commented on #2268
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_69139.html

[2022-01-25 12:01] spdkci commented on #2268
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_69133.html

[2022-01-25 12:01] spdkci commented on #2268
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_69134.html

[2022-01-25 12:03] spdkci commented on #2268
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_69136.html

[2022-01-25 12:03] spdkci commented on #2268
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_69135.html

[2022-01-25 12:03] spdkci commented on #1988
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_69140.html

[2022-01-25 12:04] spdkci commented on #2268
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_69137.html

[2022-01-25 12:48] karlatec commented on #1840
Currently re-testing with::
[code]

So far I have not encountered a "hard" SPDK target freeze when running tests with both iWARP and RoCEv2.
Not closing now, just wanted to give an update. Will test some more.

[2022-01-25 13:26] tomzawadzki commented on #2343
This is eerily similar to https://github.com/spdk/spdk/issues/2115. I've ran some tests for size difference between SPDK v21.10 and latest SPDK.

Using `./configure` very similar to `clang-vg-autotest` job:
`./configure --enable-debug --enable-werror --with-rdma --with-idxd --with-fio=/usr/src/fio --with-iscsi-initiator --with-nvme-cuse --with-pmdk --with-reduce --with-rbd --with-crypto --with-ocf

[2022-01-25 14:38] tomzawadzki commented on #1648
I believe it does. It just is never reported, since getting two sets of results are usually unnoticed.
Let me take a look through out next week, to spot such reports. If non show up, lets close.

[2022-01-25 15:26] tomzawadzki commented on #2285
[Bug scrub] @shuhei-matsumoto @MengjinWu Have this issue been addressed ? From release standpoint, any patches that should be marked with 22.01 hashtag ?

[2022-01-25 15:29] peluse commented on #2329
@yidong0635 can you try this patch real quick? We've been dealing with lots of similar issues over the last few days and Ben is pretty busy today. https://review.spdk.io/gerrit/c/spdk/spdk/+/11212/9

[2022-01-25 15:30] tomzawadzki commented on #2338
[Bug scrub] This issue is resolved for the current CI issue. New issue should be opened as an enhancement to look at DPDK memory consumption.

[2022-01-25 15:30] #2338 closed

[2022-01-25 15:43] #2344 closed

[2022-01-25 15:48] tomzawadzki commented on #2340
[bug scrub] This occurred during the code freeze for SPDK 22.01, it seems to be related to the way tests are selected for last LTS. Since then no further occurrence.

[2022-01-25 15:48] #2340 closed

[2022-01-25 20:36] recklessnl opened #2347 "Segmentation fault (core dumped) when formatting an lvol from Windows"
# Bug report

As discussed in [this Slack thread](https://spdk-team.slack.com/archives/CJE4C98G1/p1643073062091000), I am getting a **Segmentation fault (core dumped)** error from `/bin/nvmf_tgt` when trying to format an lvol from Windows (with default NTFS formatting settings). Seems like a bug somewhere, but `grep -w spdk /var/log/syslog` didn't show anything. I'm using the StarWinds NVMe-oF Ini

[2022-01-25 20:51] recklessnl commented on #2327
Out of interest, if one were to create io_uring bdevs with SPDK and feed them to ZFS, would that make ZFS use io_uring by definition? It's not technically supported as of yet on ZFS (at least, I can't find a source confirming it does) so I'm curious about if this potential interoperability between SPDK and ZFS actually works in practice.

I use ZFS and enjoy using it for its many features and reli

[2022-01-25 21:08] shuhei-matsumoto commented on #2285
We fixed apparent issues in https://github.com/spdk/spdk/issues/2300
I don't have any other patches for 22.01.

@MengjinWu Will you check if you still see the failure by the latest SPDK master?

[2022-01-26 01:57] yidong0635 commented on #2329
@peluse @benlwalker  we are all here waiting for your patches, and local HW ENV has something wrong,  it's in urgent recovering. Keep your updating, We will verify it ASAP.

[2022-01-26 05:12] spdkci commented on #1950
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_69238.html

[2022-01-26 07:28] spdkci commented on #2335
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_69183.html

[2022-01-26 07:30] spdkci commented on #1950
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_69177.html

[2022-01-26 07:49] KKaras169169 opened #2348 "[nvmf_connect_stress] Disconnecting host from subsystem due to keep alive timeout"
# CI Intermittent Failure

During nvmf-tcp-phy-autotest, nvm_connect_stress failed due to keep alive timeout.

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/69171/archive/nvmf-tcp-phy-autotest/build.log

## Execution failed at

00:06:12.113   19:52:33	-- target/connect_stress.sh@32 -- # kill -0 1992325
00:06:12.113   19:52:33	-- target/connect_stress.sh@33 --

[2022-01-26 07:50] spdkci commented on #2348
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_69171.html

[2022-01-26 07:54] spdkci commented on #1950
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_69222.html

[2022-01-26 08:12] Embedded-linux opened #2349 "SPDK env with PCIe interface failed in identify nvme devices"
# Bug report

Hi all , this is Satish I am complete newbie to SPDK, am working on one of  task, Need to identify nvme devices connected to target board using pcie interface from Host & run fio from Host pc.

## Expected Behavior
Need to identify nvme devices connected to target board using pcie interface, these nvme devices need to identify from Host & run fio from Host pc

## Current Behavior
Tar

[2022-01-26 08:20] KKaras169169 opened #2350 "[nvme-cmb-pmr-autotest] test "denied" timed out"
# CI Intermittent Failure

nvme-cmb-pmr-autotest, test "denied" failed with timeout during execution of setup.sh config

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/69180/archive/nvme-cmb-pmr-vg-autotest/build.log

## Execution failed at

00:07:05.909  ************************************
00:07:05.909  START TEST denied
00:07:05.909  ***********************

[2022-01-26 08:22] spdkci commented on #2350
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_69180.html

[2022-01-26 08:33] spdkci commented on #1950
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_69267.html

[2022-01-26 08:47] KKaras169169 opened #2351 "[nvme-multi-secondary] Assertion `!dev->internal.removed' failed"
# CI Intermittent Failure

During nvme-phy-autotest, nvme-multi-secondary test failed at Assertion `!dev->internal.removed' failed.

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/69266/archive/nvme-phy-autotest/build.log

## Execution failed at

...
00:03:55.499  Attached to NVMe Controller at 0000:65:00.0 [8086:0a54]
00:03:55.499  Associating PCIE (0000:65:0

[2022-01-26 08:49] spdkci commented on #2351
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_69266.html

[2022-01-26 09:25] tomzawadzki commented on #2351
@KKaras169169 please rebase the patches to latest SPDK before submission, as this test and relevant implementation has changed.

This test has changed with patch https://review.spdk.io/gerrit/c/spdk/spdk/+/11216 due to issue https://github.com/spdk/spdk/issues/2320.
The issue above does not result in the same assert, but has very similar error pattern beforehand:
[code]

Due to that let keep this

[2022-01-26 09:31] tomzawadzki commented on #2350
This looks like a duplicate of #2308, please check the [dmesg.log](https://ci.spdk.io/results/autotest-per-patch/builds/69180/archive/nvme-cmb-pmr-vg-autotest/dmesg.log):
[code]

[2022-01-26 09:45] yidong0635 opened #2352 "NVMF target starts reporting shared object file not found"
# Bug report
./build/bin/nvmf_tgt
./build/bin/nvmf_tgt: error while loading shared libraries: librte_bus_pci.so.22: cannot open shared object file: No such file or directory

checkout 097ccf06a9ef9b77b72cdc582364ffa3096dd33a is ok
## Steps to Reproduce
git pull
git submodule update --init
./configure --with-rdma
make -j100

## Context (Environment including OS version, SPDK version, etc.)
commit:

[2022-01-26 09:51] yidong0635 commented on #2352
diff --git a/lib/env_dpdk/env.mk b/lib/env_dpdk/env.mk
index 59c2e3f3c..ae80454fb 100644
--- a/lib/env_dpdk/env.mk
+++ b/lib/env_dpdk/env.mk
@@ -171,7 +171,7 @@ else
 ENV_DPDK_FILE = $(call spdk_lib_list_to_static_libs,env_dpdk)
 endif

-ifneq (,$(DPDK_SHARED_LIB))
+ifeq (,$(DPDK_SHARED_LIB))
 ENV_LIBS = $(ENV_DPDK_FILE) $(DPDK_SHARED_LIB)
 DPDK_LINKER_ARGS = -Wl,-rpath-link $(DPDK_LIB_DIR) $(DPDK

[2022-01-26 09:55] spdkci commented on #1950
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_69284.html

[2022-01-26 09:59] yidong0635 commented on #2352
https://review.spdk.io/gerrit/c/spdk/spdk/+/11284

[2022-01-26 11:14] yidong0635 commented on #2352
I found   ./configure --with-rdma --with-shard
this doesn't work
./build/bin/nvmf_tgt
./build/bin/nvmf_tgt: error while loading shared libraries: libspdk_bdev_malloc.so.3.0: cannot open shared object file: No such file or directory

[2022-01-26 11:29] spdkci commented on #2335
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_69303.html

[2022-01-26 11:40] spdkci commented on #2258
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_69295.html

[2022-01-26 12:08] yidong0635 commented on #2352
if we don't config --with-share, we should use static lib as well for DPDK , because we use
ifeq ($(CONFIG_SHARED),y)
ENV_DPDK_FILE = $(call spdk_lib_list_to_shared_libs,env_dpdk)
else
ENV_DPDK_FILE = $(call spdk_lib_list_to_static_libs,env_dpdk)
endif

[2022-01-26 12:26] spdkci commented on #2195
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_69309.html

[2022-01-26 12:41] spdkci commented on #2351
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_69315.html

[2022-01-26 12:52] tomzawadzki commented on #2349
Hi @Embedded-linux,

Below might be pointing to lack of nvme-tcp kernel module on the NVMe-oF Initiator.
[code]
Please try `modprobe nvme-tcp` and refer to https://spdk.io/doc/nvmf.html for additional details.

Note that the `SPDK version: v19.10.1` that you are using is no longer supported. At the end of this week SPDK 22.01 LTS will be released at the end of this week, and will be supported for

[2022-01-26 13:24] KKaras169169 commented on #2352
Encountered this issue while trying to run spdk_tgt on latest master branch. The above fix resolved the problem for me.

[2022-01-26 14:04] tomzawadzki commented on #2351
The report above is part of the series that includes backport of the mentioned patch https://review.spdk.io/gerrit/c/spdk/spdk/+/11274/1. This would imply this GH issue is unique from #2320 and not resolved by that patch.

This is no longer true, and issue will be open till resolution.

[2022-01-26 14:44] pkpathak commented on #1608
sudo -E dnf install intel-ipsec-mb.x86_64 intel-ipsec-mb-devel.x86_64  should address it

[2022-01-26 16:58] spdkci commented on #2308
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_69342.html

[2022-01-26 18:15] #2352 closed

[2022-01-26 19:10] spdkci commented on #2201
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_69327.html

[2022-01-26 19:34] jimharris commented on #2327
Hi @recklessnl,

I don't think this would work, if I'm understanding your question correctly.  An SPDK io_uring bdev is an SPDK block device that is backed by a kernel block device.  SPDK communicates with the kernel block device using the io_uring interface.

So to feed these SPDK userspace bdevs to ZFS, ZFS itself would need to be running in userspace.  I think there are people running ZFS in us

[2022-01-26 23:01] nconnolly1 commented on #2327
There is a version of ZFS that runs in user space in OpenEBS (https://github.com/openebs/cstor). It's intended for use as part of the OpenEBS project, but there is work ongoing to upstream the changes to OpenZFS (https://github.com/openzfs/zfs/pull/11766).

[2022-01-27 02:36] USTCqzy commented on #2134
@gaowayne Sorry for not having time to test this problem these days. Please close this issue.

[2022-01-27 07:46] Embedded-linux commented on #2349
Hi @tomzawadzki
thanks for quick reply
yes I have installed the "modprobe nvme-tcp " on Host side.
after installing the nvme-tcp it removed the no NVMe controller detected but it is giving other issue as

sudo nvme discover -t tcp -a 10.13.10.1 -s 4420
**Failed to write to /dev/nvme-fabrics: Connection refused**
& Regards SPDK version right now I need to make sure once SPDK/DPDK will work with  NV

[2022-01-27 08:58] #2134 closed

[2022-01-27 11:06] karlatec opened #2353 "[vhost-autotest] memory leak in nvme-of rdma migration test case"
# Bug report

Vhost test case `vhost_migration_tc2` fails due to memory leak:

[code]

This happens at the very end of test, after migration, when spdk_tgt is killed.
https://ci.spdk.io/public_build/autotest-nightly_215.html
https://ci.spdk.io/results/autotest-nightly/builds/215/archive/vhost-autotest/build.log

## Possible Solution

Reverting 11f0a6ec0f3de718608b8d0277e8334081184f25 ("nvmf: Destr

[2022-01-27 11:35] AlekseyMarchuk commented on #2353
I'll check this problem

[2022-01-27 11:58] AlekseyMarchuk commented on #2353
That happens due to `spdk_nvmf_subsystem_destroy` calls `nvmf_subsystem_remove_all_listeners` with `stop=false`, as result we don't call `spdk_nvmf_transport_stop_listen` and don't free the listener. I'm checking how we can fix it, I believe the obvious solution to change `stop=true` should work, at least RPC `nvmf_delete_subsystem` calls `nvmf_subsystem_remove_all_listeners` with `stop=true`

[2022-01-27 12:22] spdkci commented on #2351
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_69415.html

[2022-01-27 13:00] AlekseyMarchuk commented on #2353
Hey @karlatec could you verify this patch https://review.spdk.io/gerrit/c/spdk/spdk/+/11307 ?

[2022-01-27 13:10] spdkci commented on #2345
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_69422.html

[2022-01-27 13:13] spdkci commented on #2345
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_69429.html

[2022-01-27 13:15] spdkci commented on #1950
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_69420.html

[2022-01-27 13:19] karlatec commented on #2353
[code]

Looks good to me!

[2022-01-27 13:19] karlatec commented on #2353
@tomzawadzki FYI

[2022-01-27 13:32] karlatec commented on #1748
Possible workaround is to modify irdma-1.7.72/src/irdma/verbs.h before building iRDMA driver.
Change the value in
[code]
to 500 or less.
With original 1500ms `nvme disconnect` takes about 40-50 seconds when using Kernel Target + Kernel Initiator. About 120-150 seconds for SPDK Target + Kernel Initiator.

With 500ms Kernel Target + Initiator takes ~6 seconds to disconnect. ~1-2 seconds for 100ms. S

[2022-01-27 14:07] spdkci commented on #2343
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_69444.html

[2022-01-27 15:51] tomzawadzki commented on #2353
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/11307 is now merged to latest SPDK.
Thanks @AlekseyMarchuk and @karlatec !

[2022-01-27 15:51] #2353 closed

[2022-01-27 16:18] spdkci commented on #2268
Another instance of this failure. Reported by @spdkci. log: https://ci.spdk.io/public_build/autotest-per-patch_69463.html

[2022-01-27 19:03] spdkci commented on #2345
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_69486.html

[2022-01-27 22:20] jimharris commented on #2342
Hi @shuhei-matsumoto,

The reverts have been merged.  I dropped severity to medium for now, but should we close?  The patches need to be revised to handle adminq, but maybe that should be filed as a different issue.  What do you think?

-Jim

[2022-01-27 23:07] jimharris commented on #2349
Hi @Embedded-linux,

The experimental SPDK support for VPP was removed from SPDK about 18 months ago.  You should move to just using the kernel TCP stack.

Regards,

Jim

[2022-01-27 23:58] jimharris commented on #1799
Closing this as a 3rd-party issue.

The problem with overlapped admin commands returning incorrect cdw0 values has been resolved.

GCP still returns cdw0=0 for GET_FEATURES/NUMBER_OF_QUEUES.  SET_FEATURES/NUMBER_OF_QUEUES (which the nvme driver uses to determine number of queues) returns the correct cdw0=0xF000F indicating 16 SQs and CQs.

The identify app is implemented correctly, this is just a

[2022-01-27 23:58] #1799 closed

[2022-01-28 00:02] jimharris commented on #2011
@brianjmurrell - going back through some old bug reports, and there was an open question here.  Do you have examples of other projects that append CFLAGS as described in the description?  Or if this is no longer impacting you, can this bug report be closed?

[2022-01-28 02:30] yidong0635 commented on #2347
@recklessnl ,Do you mean one NVME  with existed NTFS? Just tried this without NTFS, and can't reproduced any issue.

[2022-01-28 06:32] sziviziv commented on #2254
@FrancesoM
Hi, I was wondering whether the issue was resolved since I am experiencing the exact same problem. I even use the same linux version (petalinux generated) and the same SSD device ID. Was it a quirk problem?

Thanks.

[2022-01-28 06:38] faizhav opened #2354 "Crash in _dif_verify with hello_bdev"
# Bug report

Crash in _dif_verify with hello_bdev example on a nvme drive formatted with --pi=1 --lbaf=3 options
This happens after a read failure with PI error, the read probably from GPT startup, since the IO from the hello_bdev example is not yet executed.

Logs:
$ sudo ./hello_bdev -c bdev_4096.conf -b Nvme4n1
[2022-01-27 15:32:51.942889] Starting SPDK v22.05-pre git sha1 29d94b7f0 / DPDK 21.

[2022-01-28 07:17] spdkci commented on #2345
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_69499.html

[2022-01-28 08:59] spdkci commented on #1950
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_69591.html

[2022-01-28 09:37] spdkci commented on #2351
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_69601.html

[2022-01-28 10:07] spdkci commented on #2345
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_69612.html

[2022-01-28 10:23] spdkci commented on #2351
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_69614.html

[2022-01-28 10:30] spdkci commented on #2351
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_69616.html

[2022-01-28 11:00] spdkci commented on #2351
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_69618.html

[2022-01-28 13:21] FrancesoM commented on #2254
Hi @sziviziv . Unfortunately I had to move on and find another solution. Since what I had to do was to transfers DDR<->NVMe of large blocks of data, I wrote my own code to communicate to the disk.

I never had the time to go back and investigate further the spdk problem. I believe it could be quirks related, but there were some other gray areas in my design, for instance the DDR was not part of th

[2022-01-28 14:08] sziviziv commented on #2254
Hi,
Thanks for the info. According to your logs the NVME identify command timed out (sent to the device and the device did not respond), so I am not sure this specific problem is related to hugepage allocation. Probably I will try to use quirks.
BTW, which board did you use? I am using Sidewinder100. Thanks

[2022-01-28 14:44] mgerdts opened #2355 "[vfio-user-autotest] two few blocks in devices test"
# CI Intermittent Failure

During devices, vfio-user-autotest fails while running `setup/devices.sh`.

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/69509/archive/vfio-user-autotest/build.log

## Execution failed at

[code]

[2022-01-28 14:45] spdkci commented on #2355
Another instance of this failure. Reported by @mgerdts. log: https://ci.spdk.io/public_build/autotest-per-patch_69587.html

[2022-01-28 14:58] spdkci commented on #2201
Another instance of this failure. Reported by @mgerdts. log: https://ci.spdk.io/public_build/autotest-per-patch_69472.html

[2022-01-28 15:13] jimharris commented on #2355
Duplicate of #2345.

[2022-01-28 15:13] #2355 closed

[2022-01-28 23:19] jimharris commented on #1831
I accidentally ran into this problem today while testing a blobcli patch series from Mike Gerdts.

I created an lvstore on an NVMe SSD, then later created blobs (*not* lvols!) using blobcli.

Later when attaching that controller again to the SPDK target, the lvolstore failed to load since it found blobs with no names (the ones created by blobcli).  The app wouldn't exit when hitting Ctrl-C.

The p

[2022-01-28 23:19] #1831 closed

[2022-01-28 23:37] jimharris commented on #2135
Closing this issue.  It seems the existing RPC can be used to still obtain the effects of the original request for a per-device coalescing RPC.

[2022-01-28 23:37] #2135 closed

[2022-01-29 02:34] recklessnl commented on #2347
@yidong0635 I wiped both NVMe drives with dd before attaching them to SPDK, so I don't think that's it.

[2022-01-29 15:08] dashan8020 opened #2356 "nvme initiator RDMA not work any more after run "service network restart""
# Bug report

## Expected Behavior
After "service network restart", the RDMA in spdk nvme host could recover and work well again.

## Current Behavior
when every thing works well, I restarted netowk with command "service network restart", then spdk nvme host could not work any more with RDMA connection error, and if process of spdk nvme host restart, every thing will become well again.
the nvme ho

[2022-01-29 16:59] spdkci commented on #555
Another instance of this failure. Reported by @yupeng0921. log: https://ci.spdk.io/public_build/autotest-per-patch_69801.html

[2022-01-29 19:28] spdkci commented on #2308
Another instance of this failure. Reported by @mgerdts. log: https://ci.spdk.io/public_build/autotest-per-patch_69846.html

[2022-01-29 19:31] spdkci commented on #1950
Another instance of this failure. Reported by @mgerdts. log: https://ci.spdk.io/public_build/autotest-per-patch_69845.html

[2022-01-29 19:35] mgerdts commented on #2345
To help future searches, also seen in BlobFS-autotest

[2022-01-29 19:37] spdkci commented on #2345
Another instance of this failure. Reported by @mgerdts. log: https://ci.spdk.io/public_build/autotest-per-patch_69869.html

[2022-01-29 19:39] spdkci commented on #1950
Another instance of this failure. Reported by @mgerdts. log: https://ci.spdk.io/public_build/autotest-per-patch_69872.html

[2022-01-30 06:13] spdkci commented on #2201
Another instance of this failure. Reported by @mgerdts. log: https://ci.spdk.io/public_build/autotest-per-patch_69911.html

[2022-01-30 16:37] spdkci commented on #2201
Another instance of this failure. Reported by @mgerdts. log: https://ci.spdk.io/public_build/autotest-per-patch_69960.html

[2022-01-30 20:26] spdkci commented on #555
Another instance of this failure. Reported by @yupeng0921. log: https://ci.spdk.io/public_build/autotest-per-patch_69865.html

[2022-01-31 11:23] spdkci commented on #2308
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_70151.html

[2022-02-01 02:47] mattyouill opened #2357 "Undefined reference libarchive"
# Bug report

SPDK build fails with undefined references to libarchive symbols.

## Expected Behavior

Build succeeds.

## Current Behavior

make fails with the following link errors.

/home/ubuntu/spdk/dpdk/build/lib/librte_eal.a(eal_unix_eal_firmware.c.o): In function `rte_firmware_read':
eal_firmware.c:(.text.internal+0x3a): undefined reference to `archive_read_new'
eal_firmware.c:(.text.intern

[2022-02-01 07:47] karlatec opened #2358 "[nvmf-autotest] fio verification not run during tests?"
# Bug report

Stumbled upon this accidentally while inspecting logs for something else. Seems like IO verification process is not run by fio during tests.

Let's take https://ci.spdk.io/public_build/autotest-per-patch_70230.html as an example, `nvmf-phy-autotest` build results.
Search for `START TEST nvmf_fio_target` and scroll a bit down to where fio process starts.

[code]

## Expected Behavior

[2022-02-01 16:47] karlatec commented on #2358
Proposed fix:  https://review.spdk.io/gerrit/c/spdk/spdk/+/11376
This causes fio to stop writing and verify after every N blocks written. Downside is that last batch of blocks might not be verified due to run_time running out.

Alternatively this could be fixed differently - by inserting a `rw=(rand)read` job after write phase to verify previously written data. This would add time to test executio

[2022-02-01 19:57] spdkci commented on #1950
Another instance of this failure. Reported by @mgerdts. log: https://ci.spdk.io/public_build/autotest-per-patch_70267.html

[2022-02-01 22:53] spdkci commented on #2308
Another instance of this failure. Reported by @mgerdts. log: https://ci.spdk.io/public_build/autotest-per-patch_70311.html

[2022-02-02 06:59] xjjx commented on #2268
it happens when test (jenkins build) fails on early stage e.g. fetching sources - in most cases it's a network issue.
Some initial work on this issue has been made - patch for CI is in progress.

[2022-02-02 07:09] AlekseyMarchuk commented on #2335
I'll try to reproduce this issue locally. It seems that it affects RDMA transport too

[2022-02-02 07:10] AlekseyMarchuk commented on #2261
Hi @sekar-wdc we noticed that RDMA initiator is not fully spec compliant in some cases. We are preparing patches to align SPDK initiator with the spec, I think these patches can potentially solve this problem. I'll update you once we push them to gerrit

[2022-02-02 08:28] xjjx opened #2359 "centos8 test fails on install dpdk-devel"
# Bug report

Centos8 test fails on install dpdk-devel package

## Expected Behavior

test should pass

## Current Behavior

test failing

## Possible Solution

Unknown

## Steps to Reproduce

06:08:51     43  		build_rpm_with_rpmed_dpdk() {
06:08:51  => 44  			sudo dnf install -y dpdk-devel
06:08:51     45  			build_rpm --with-shared --with-dpdk
06:08:51     46  		}

06:08:33   05:08:33	-- spdk/a

[2022-02-02 21:51] jimharris commented on #2357
Thanks for the detailed report @mattyouill.  I've pushed https://review.spdk.io/gerrit/c/spdk/spdk/+/11385 which should fix this issue.

[2022-02-02 22:38] jimharris commented on #2354
@changpe1 could you or someone from your team take a look at this one?

[2022-02-02 23:58] jimharris commented on #2347
SPDK blobstore (the block allocator for the lvolstore) isn't handling large unmap operations to a thin-provisioned volume.  The large unmap operation has to be split into smaller cluster-sized operations, but since those clusters aren't allocated, the unmap operations complete inline and we blow the stack (explaining the 1000s of frames in the backtrace described by the submitter).

https://review

[2022-02-03 03:17] shuhei-matsumoto commented on #2335
Hi @AlekseyMarchuk

Due to my bugs, I could reproduce this issue almost always for the RDMA transport.
This behavior occurs when the bdevperf hung up and could not know the end of its runtime.
rpc_pid may be better to rename as bdevperf_run_id.

In my case, it looks that we did not get RDMA_CM_EVENT_ESTABLISHED when this issue occurred.

We can update the test script to investigate this issue a li

[2022-02-03 04:51] riveridea commented on #1187
I met the similar issue as I am using DPDK 20.21 in which the aesni_mb pmd definitely has bug in supporting multi-process.
I also identified the work around by disabling the scan/probe on the secondary process. But later, it is realized that the mb_mgr is allocated on both primary and secondary process. This is incorrect. The secondary process will overwrite the pointer of mb_mgr allocated by prim

[2022-02-03 06:52] shuhei-matsumoto commented on #2335
Hi @AlekseyMarchuk

If I reverted the patch https://github.com/spdk/spdk/commit/e0415f1720a094894971ac0ab930c14299274aac#diff-f6caac1518ffe3529d1937a64beac4cd440cc815aa1cca852561fe37844597ac, I don't reproduce this issue even if I add multipath patches for asynchronous connect/disconnect.

And ctrl + c worked.

So it looks that I/O retry + non-multipath failover + async disconnect occupied CPU and

[2022-02-03 15:17] karlatec commented on #1648
A week has passed, no new reports. Let's close this :)

[2022-02-03 15:24] #1648 closed

[2022-02-03 20:24] mhae opened #2360 "bdev_nvme: Potential data corruption during SPDK_BDEV_IO_TYPE_RESET"
# Bug report

The current handling of SPDK_BDEV_IO_TYPE_RESET in bdev_nvme can lead to a scenario where IOs are completed manually while they are still being processed by the backend device. When the IO is manually completed, its data buffers in the fronted may be reused for another IO. However, the manually completed IO may still be in progress on the device and overwrite buffers that are now ass

[2022-02-03 21:58] shuhei-matsumoto commented on #2335
@AlekseyMarchuk @KKaras169169 and all,

I am not certain if this applies to the TCP transport yet, but I found a root cause of this failure for the RDMA transport.

For some reason, the NVMe bdev module got ANA error even if the target did not enable ANA reporting, and marked the namespace as pending to read ANA log page. However, the NVMe bdev module had no way to read ANA log page. So the pendin

[2022-02-03 22:03] shuhei-matsumoto commented on #2335
I will also investigate why we got ANA error even if the target did not enable ANA reporting. I do not know why that happened yet.

[2022-02-03 22:32] shuhei-matsumoto commented on #2335
I pushed three small patches starting from https://review.spdk.io/gerrit/c/spdk/spdk/+/11399 on gerrit.
Please review these when you can.

[2022-02-03 22:55] jimharris commented on #2347
Here is a sequence of steps to reproduce the stack overflow.  (Note: We need an easier way to do this.  I started trying to get bdevperf to be able to do ridiculously large unmap commands, but it needs some work.)

[code]

[2022-02-03 23:34] jimharris commented on #2288
@wanqunintel - I think this issue can be closed.  Can you confirm?

[2022-02-03 23:35] #2273 closed

[2022-02-03 23:38] jimharris commented on #2269
Hi @dashan8020,

Please add much more detail on how this issue can be reproduced.  For example, what kind of workload is being run on the connection, how do you "cut off RDMA connection", etc.

[2022-02-03 23:46] jimharris commented on #2167
Thanks @AlekseyMarchuk.  Looks like nothing further needed, so closing this issue.

[2022-02-03 23:46] #2167 closed

[2022-02-03 23:50] jimharris commented on #2067
Thanks @tmakatos.  These patches have all been merged, so I'm closing this issue.

[2022-02-03 23:50] #2067 closed

[2022-02-03 23:58] jimharris commented on #1876
Patches merged.

[2022-02-03 23:58] #1876 closed

[2022-02-04 00:01] jimharris commented on #1342
This does not look like something SPDK will implement.

[2022-02-04 00:01] #1342 closed

[2022-02-04 00:08] jimharris commented on #527
Unfortunately, it doesn't seem like this is reproducible outside of the custom RAID code posted above.  If you are able to reproduce this using latest SPDK, without modifications, please reopen this issue.

[2022-02-04 00:08] #527 closed

[2022-02-04 03:14] shuhei-matsumoto commented on #2335
Finally I found the root cause.
The fix is done by https://review.spdk.io/gerrit/c/spdk/spdk/+/11402/1

nvmf_ctrlr_get_ana_state() returned inaccessible if ctrlr->listener was NULL. However we did not check if ctrlr->subsys->flags.ana_reporting is true. The target unintentionally sent ANA error and the initiator received unexpected ANA error.
The initiator could not process the unexpected ANA erro

[2022-02-04 03:22] recklessnl commented on #2347
Yes, I'll test in the next few days for sure. Thank you for working on a fix.

[2022-02-04 07:54] spdkci commented on #2308
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_70466.html

[2022-02-04 08:45] karlatec commented on #1840
We now have E810 + RDMA tests in our CI as part of nightly tests, in passing state: https://ci.spdk.io/public_build/autotest-nightly_288.html

New FW and driver versions fixed the problem. Closing this issue. Thanks everyone!

[2022-02-04 08:56] karlatec commented on #1748
I've lowered the flush delay even further. https://review.spdk.io/gerrit/c/spdk/spdk/+/11309 fixes the issue.
The OS image with irdma-on board is already deployed in CI and tests are passing in nightly tests: https://ci.spdk.io/public_build/autotest-nightly_288.html

[2022-02-04 11:05] karlatec opened #2361 "spdk_nvme_cli_cuse.sh tests fail with nvme-cli v1.15"
# Bug report

spdk_nvme_cli_cuse.sh tests with nvme-cli v1.15:

[code]

In dmesg this seems to be a related message:
[code]

## Possible Solution

Bumping up nvme-cli version to v1.16 seems to solve the issue.

## Steps to Reproduce

1. Build nvme-cli v1.15 in `/usr/local/src/nvme-cli`
2. Build SPDK  with `--with-nvme-cuse` and run `sudo -E test/nvme/cuse/spdk_nvme_cli_cuse.sh` test.

## Context (

[2022-02-04 11:30] spdkci commented on #2308
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_70468.html

[2022-02-04 11:31] spdkci commented on #2345
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_70483.html

[2022-02-04 11:33] spdkci commented on #2345
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_70475.html

[2022-02-04 12:24] spdkci commented on #2308
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_70507.html

[2022-02-04 13:20] spdkci commented on #2308
Another instance of this failure. Reported by @apaszkie. log: https://ci.spdk.io/public_build/autotest-per-patch_70520.html

[2022-02-04 13:20] spdkci commented on #2308
Another instance of this failure. Reported by @apaszkie. log: https://ci.spdk.io/public_build/autotest-per-patch_70515.html

[2022-02-04 13:32] tmakatos opened #2362 "[NVMf/vfio-user] assertion failure when migrating"
Using SPDK 22.01 and QEMU https://github.com/tmakatos/qemu/tree/vfio-user-v4client-v5server (95e4fa37e8, contains a fix over Oracle's QEMU).

I live migrate from host A to host B which works fine, but then live migrating from host B back to host A results in the following crash:
[code]
Looking with GDB:
[code]
The quiesce callback has just been called and the `device quiesced immediately` message

[2022-02-04 13:42] spdkci commented on #2268
Another instance of this failure. Reported by @apaszkie. log: https://ci.spdk.io/public_build/autotest-per-patch_70524.html

[2022-02-04 14:39] tmakatos opened #2363 "[NVMf/vfio-user] assertion failure when starting host on source after migration"
Using SPDK 22.01 and QEMU https://github.com/tmakatos/qemu/tree/vfio-user-v4client-v5server (95e4fa37e8, contains a fix over Oracle's QEMU).

I live migrate a guest from host A to host B, and then start a guest again on host A (the older guest is still running on host B). SPDK crashes:
[code]
Full log: [nvmf.zip](https://github.com/spdk/spdk/files/8003874/nvmf.zip)

[2022-02-04 21:06] jimharris commented on #1748
Patches merged.

[2022-02-04 21:06] #1748 closed

[2022-02-04 21:23] jimharris commented on #2361
I suspect that linux-nvme/nvme-cli@633579877f2 broke this.  This commit was introduced in v1.15.

v1.16 has linux-nvme/nvme-cli@bbf3beaf4 which probably fixes it.

If you're able to confirm this through a bisect or manual testing of these commits, we can confidently close this as a 3rd party issue.

[2022-02-04 22:07] spdkci commented on #2345
Another instance of this failure. Reported by @mgerdts. log: https://ci.spdk.io/public_build/autotest-per-patch_70533.html

[2022-02-04 22:34] spdkci commented on #2268
Another instance of this failure. Reported by @mgerdts. log: https://ci.spdk.io/public_build/autotest-per-patch_70534.html

[2022-02-07 01:37] changpe1 commented on #2362
[code]

[2022-02-07 02:22] changpe1 commented on #2362
I submit a fix patch https://review.spdk.io/gerrit/c/spdk/spdk/+/11418 here.

[2022-02-07 02:51] NiuYawei commented on #1831
@jimharris Yes, agreed. Let's close this one. Thanks a lot.

[2022-02-07 04:13] yidong0635 commented on #2354
@faizhav  Can you show me the full mvme format cmds?
I'm not using the right cmd to format an nvme wiht  --pi=1
`nvme id-ns -H /dev/nvme0n1`
LBA Format  0 : Metadata Size: 0   bytes - Data Size: 512 bytes - Relative Performance: 0x2 Good (in use)
LBA Format  1 : Metadata Size: 8   bytes - Data Size: 512 bytes - Relative Performance: 0x2 Good
LBA Format  2 : Metadata Size: 0   bytes - Data Size: 40

[2022-02-07 05:00] changpe1 commented on #2363
After finishing migration in source VM, the subsystem is in paused state, we may need to take the subsystem back to RUNNING state.

[2022-02-07 07:00] changpe1 commented on #2363
Here is the patch https://review.spdk.io/gerrit/c/spdk/spdk/+/11422 to fix this issue.

[2022-02-07 08:11] changpe1 commented on #2354
I think there are two issues here:
1. Existing hello_bdev can't be used for running with DIF/DIX test cases, for your DIX case, you can use SPDK nvme perf tool instead.
2. We may add a protection in dix_verify, because for this case, the metadata buffer is NULL, SPDK doesn't check the metadata buffer before using it directly.

[2022-02-07 08:12] faizhav commented on #2354
@yidong0635 , I used command: nvme format /dev/nvme2 --namespace-id=1 --pi=1 --lbaf=3

Data block = 4096, md size = 8bytes

[2022-02-07 08:15] faizhav commented on #2354
Agree. I am wondering if this problem can happen with a verify failure?
BTW are you able to reproduce this issue?

[2022-02-07 08:20] changpe1 commented on #2354
we don't have the SSD drives that support DIX(separate metadata),  so we can't reproduce it, but the issue is very obvious from the call trace above.  For some drives in DIX mode, if a READ without metadata buffer may return error state, but some may not, because you don't input the FLAGS in the command.

But it's not correct to use hello_bdev to test DIF/DIX drives.

[2022-02-07 08:32] changpe1 commented on #2354
can you have a try with https://review.spdk.io/gerrit/c/spdk/spdk/+/11425 to see the crash still exist or not?

[2022-02-07 08:38] karlatec commented on #2361
Bisected. Resulting commits are exactly the same to the ones you pointed out :)
Let's please not close the issue until our CI infra is updated with new version.

[2022-02-07 10:27] spdkci commented on #1950
Another instance of this failure. Reported by @apaszkie. log: https://ci.spdk.io/public_build/autotest-per-patch_70523.html

[2022-02-07 13:26] krchug opened #2364 "Lost write when nvmf target is down in a two node setup"
# Bug report

Running a nvmf target on 192.168.10.18. Exported one bdev out from this nvmf target.
[code]

Running nvmf target on machine 192.168.10.19 connecting to the nvmf target on .18.
[code]

Connected from client onto .19

[code]

Did io as follows

Created a test file
ngx@sn3:~/spdk/spdk/scripts$ sudo dd if=/dev/urandom of=/tmp/kc bs=4K count=1
1+0 records in
1+0 records out
4096 bytes (4.

[2022-02-07 17:41] jimharris commented on #2347
These patches have been merged.  Will wait to close until we confirmation from @recklessnl that it works as intended.

[2022-02-07 17:45] jimharris commented on #2361
Thanks for confirming!

FYI - https://review.spdk.io/gerrit/c/spdk/spdk/+/11408 was merged.  Please go ahead and close this one CI infra is updated with new version.

[2022-02-07 21:19] spdkci commented on #2118
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_70361.html

[2022-02-07 21:36] recklessnl commented on #2347
I'm trying to re-do the test using the latest SPDK git pull and connecting through RDMA as before, but I keep getting connection errors from the StarWinds NVMe-oF Initiator after pulling the newest SPDK build:

[code]

`rping` and `nd_rping` between the Linux target and Windows initiator, using the IP address listed above, works fine. My hardware hasn't changed, and StarWinds software is also stil

[2022-02-07 21:48] recklessnl commented on #2347
Just confirmed that this fixed the issue, thanks for the swift bugfix @jimharris.

[2022-02-07 21:48] #2347 closed

[2022-02-08 02:34] jshen28 opened #2365 "Delete logical volume reported error"
# Bug report

Delete a logical with size 10G genereated a Input/Output error with code **-32603**

## Expected Behavior

Delete logical volume should succeed without error.

## Current Behavior

[code]

## Possible Solution

Still debugging.

## Steps to Reproduce

first compile spdk

[code]

Unbind virtio blk device with

[code]

Then setup environment

[code]

start vhost program

[code]

Create

[2022-02-08 02:54] Comphix commented on #2365
Could you add more log and trace from SPDK vhost side? The error is reported back from the rpc.py.

[2022-02-08 03:03] jsrolon opened #2366 "FIO Plugin device still attached at shutdown"
# Bug report

I am currently using [bench-fio](https://github.com/louwrentius/fio-plot/tree/24fa05f864512e9173d49b188ef16941b548fff5/bench_fio) from [fio-plot](https://github.com/louwrentius/fio-plot) which is a very simple Python wrapper around fio to run multiple test cases and store their results in a directory tree.

I have modified bench-fio to run my own compiled version of fio 3.29 with the

[2022-02-08 03:10] jshen28 commented on #2365
of course, I've updated report. please take a look.

[2022-02-08 03:27] jshen28 commented on #2365
hmm.. I switch to aio and looks like it does not have same issue..

[2022-02-08 05:26] changpe1 commented on #2366
thanks for reporting, it's a bug in fio_plugin tool, but it doesn't affect your test results, I will push a fix patch later.

[2022-02-08 05:33] changpe1 commented on #2366
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/11443 should fix this issue, can you have a try? thanks.

[2022-02-08 05:50] Comphix commented on #2365
I am not sure whether my understand is correct. Is this SPDK vhost running in VM?

In the failed case, there is a user mode virtio-blk bdev and LVOL bdev is built on top of it.

And now it is ok to have a AIO bdev in VM and also to build the LVOL bdev on top of this AIO bdev?

[2022-02-08 06:30] jshen28 commented on #2365
correct

[2022-02-08 06:42] Comphix commented on #2365
Could we know what kind of IO status returned from virtio-blk device? Also any more information about this virtio-blk device?

(gdb) where
#0  bdev_blob_io_complete (bdev_io=0x200006c4c040, success=<optimized out>, arg=0x555555c7b610) at blob_bdev.c:87
#1  0x00005555555eb572 in bdev_virtio_io_cpl (bdev_io=<optimized out>) at bdev_virtio_blk.c:363
#2  bdev_virtio_poll (arg=<optimized out>) at bdev_

[2022-02-08 07:46] jshen28 commented on #2365
I am newbie to spdk. so could you give me some more specific instructions? I've attached `bdev_get_bdevs` output in the description, its xml looks like

[code]

[2022-02-08 08:37] yidong0635 commented on #2365
@jshen28 What's the size of you rbd pool? from the log , it seems the cluster_alloc is failed which calls bs_user_op_abort ?
Can you list the rbd creation steps ?

[2022-02-08 08:44] junwenx opened #2367 "[nvmf/nvmf_fio_host] nvmf_fio_host case fail because configure with CC=clang-12 CXX=clang++-12"
# Bug report

Nvmf llvm fuzz need the CC=clang-12 CXX=clang++-12 configuration to compile, but when use CC=clang-12 CXX=clang++-12 will cause another case: nvmf_fio_host run fail.

## Expected Behavior

All nvmf cases pass.

## Current Behavior

CC=clang-12 CXX=clang++-12 configuration cause a case nvmf_fio_host fail

## Possible Solution

No

## Steps to Reproduce

1. Configure and compile
CC=cla

[2022-02-08 08:47] changpe1 commented on #2364
I don't think the issue is related with SPDK, it's system error.
You need to narrow down this issue to specific SPDK part, or we can't help you.

[2022-02-08 12:22] ksztyber commented on #2358
Patch was merged.

[2022-02-08 12:22] #2358 closed

[2022-02-08 12:38] ksztyber commented on #2356
A lot of improvements have been made to the reconnect/reset path recently, could you recheck it on a more recent version of SPDK (e.g. latest LTS release, 22.01)?

[2022-02-08 15:09] ksztyber commented on #2359
[Bug scrub] Karol will update CI to use different mirror lists. Replacement for Centos 8 being EOL - Rocky Linux.

[2022-02-08 15:13] ksztyber commented on #2367
[Bug scrub] clang uses static libraries for the libasan. Need to adjust build/test scripts for that.

[2022-02-08 15:22] ksztyber commented on #2351
[Bug scrub] No reports for two weeks. Let's keep it open for another 2 weeks and see if it happens again.

[2022-02-08 15:29] ksztyber commented on #2348
[Bug scrub] Only happened once and the logs don't point to what actually failed. Let's keep it open for another 2 weeks and see if it happens again.

[2022-02-08 15:33] ksztyber commented on #2268
[Bug scrub] Patches that fix the "logs have not been generated" are still under review. Once they're merged the fail will still occur (the root cause is the network issue), but the logs will indicate that. Once we change the way sources are checked out (single check out and gzipped them to all the machines), the network situation should improve.

[2022-02-08 15:36] ksztyber commented on #2308
[Bug scrub] Karol will try to reproduce this.

[2022-02-08 15:38] ksztyber commented on #2350
[Bug scrub] Looks similar to #2308, but let's keep it open until that one is figured out to make sure it's the same problem.

[2022-02-08 15:48] ksztyber commented on #2360
[Bug scrub] Looks like the issue needs to be fixed. Ben will take a look at it.

[2022-02-08 15:50] ksztyber commented on #1187
[Bug scrub] Paul will retest on current master.

[2022-02-08 18:42] mgerdts opened #2368 "EIO during delete leads to zombie blobs"
# Bug report

If `bs->dev->write_zeroes()` fails during blob deletion, the blob is freed from `used_blobids` but the md page(s) and cluster(s) remain allocated.  If the blobstore is subquently shut down cleanly, no recovery happens on the next start.

This leads to invisible zombie blobs that occupy space but cannot be observed or deleted.

## Expected Behavior

Deletion should leave the blob in a

[2022-02-08 18:46] mgerdts commented on #2365
The part that I was aiming to reproduce was that `bdev_get_bdevs` did not list the lvol after the failed deletion.  I've seen zombie blobs created due to failed `write_zeroes()` that also fails to show lvols after a failed deletion.  See https://github.com/spdk/spdk/issues/2368.

[2022-02-08 19:20] benlwalker commented on #2360
Ok so here's my analysis of the call sequence:

[code]

Once we're in spdk_nvme_ctrlr_free_io_qpair is where the interesting stuff happens. That does the following sequence of calls:

[code]

So I agree that we're aborting outstanding commands before the hardware has really been stopped from using those resources. But I'm not sure this is much of a problem because we're busy on the thread without

[2022-02-08 19:25] benlwalker commented on #2360
Ok, I see now that we set this ctrlr->prepare_for_reset flag when we're doing a reset, which means we skip doing the SQ/CQ deletion entirely and wait for the reset to take care of it. That leaves a much bigger gap where the resources could get re-used. I'll work on a fix.

[2022-02-08 19:48] mhae commented on #2360
@benlwalker , please do not add back the SQ/CQ deletion on the device. We (Jim) took this out since it is not necessary according to spec and avoids the case when a device is unresponsive (this does actually happen ~2% of the cases).
We'd be waiting forever for the qpair deletion and there could be many queues/devices/RDMA sessions using this core.

When I was talking about resources/pool, I meant

[2022-02-08 21:33] jsrolon commented on #2366
I just tried it and the `*ERROR*: Device 0000:bc:00.0 is still attached at shutdown!` errors have gone away. Thanks!

However, I notice that I'm now getting `symbol lookup error: ~/spdk/build/fio/spdk_nvme: undefined symbol: is_backend`. I don't know if this was the case before as well. I get the feeling this means something went wrong when compiling SPDK with the fio plugin?

[2022-02-09 01:32] spdkci commented on #2201
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_70557.html

[2022-02-09 04:51] spdkci commented on #2345
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_70733.html

[2022-02-09 09:09] KKaras169169 opened #2369 "[nvmf_failover] member access within null pointer of type 'struct spdk_sock'"
# CI Intermittent Failure

During nvmf-tcp-vg-autotest, nvmf_failover test reported _sock.c:495:13: runtime error: member access within null pointer of type 'struct spdk_sock'_ error.

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_70762.html

## Execution failed at

00:11:26.114   16:17:57	-- host/failover.sh@38 -- # /home/vagrant/spdk_repo/spdk/scripts/rpc.py

[2022-02-09 09:11] spdkci commented on #2369
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_70762.html

[2022-02-09 09:42] #2359 closed

[2022-02-09 15:08] spdkci commented on #2345
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_70792.html

[2022-02-09 18:06] #2335 closed

[2022-02-09 23:52] spdkci commented on #2345
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_70846.html

[2022-02-10 01:07] junwenx commented on #2367
@ksztyber Thanks ksztyber.

[2022-02-10 01:28] spdkci commented on #2308
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_70774.html

[2022-02-10 07:05] dashan8020 commented on #2252
hi, has the issue been fixed in release v22.1?

[2022-02-10 07:53] AlekseyMarchuk commented on #2252
@dashan8020 There are patches from @shuhei-matsumoto to enable async connect/disconnect. I haven't reviewed the whole series yet so I don't know it the issue is addressed. Will update you later.
BWT could you post here your problem which is caused by qpairs in connected_list?

[2022-02-10 08:12] shuhei-matsumoto opened #2370 "warning: implicit declaration of function ‘vfu_device_quiesced"
# Bug report

We cannot build the latest SPDK master when configuring with --with-vfiouser.

## Expected Behavior

No error.

## Current Behavior

https://ci.spdk.io/results/autotest-per-patch/builds/70929/archive/unittest-vg-autotest/build.log

[code]

## Possible Solution

Disable vfio-user.

## Steps to Reproduce

## Context (Environment including OS version, SPDK version, etc.)

Latest SPDK ma

[2022-02-10 08:21] tongjingen commented on #2281
Hello, I have encountered a similar problem. After the initiator connects to the target (RDMA transmission), it disconnects about 20 minutes after executing the nvme disconnect command.

#time nvme disconnect /dev/nvme1n1 -n "nqn.2016-06.io.spdk:cnode1"

real  20m55.306s
user 0m.0.001s
sys 0m1.197s

the pid stack show :
__ib_drain_sq
ib_drain_sq
ib_drain_qp
nvme_rdma_stop_queue
nvme_rdma_teardown_

[2022-02-10 09:19] MengjinWu opened #2371 "no request available for FABRICS/CONNECT when running bdevperf w/ ultra high queue depth"
# Bug report

Using Nvmf over TCP Target to provide

## Current Behavior

Use one NVmf target to provide multiple blk devices, when testing performance with bdevperf, a lot of error messages appear, and prompt qpair disconnected
After successful reconnection, there are always failed IOs

Some error messages

Test result:

[code]

## Steps to Reproduce

target rpc:

[code]
bdevperf:
[code]

[2022-02-10 09:27] shuhei-matsumoto commented on #2252
Hi @dashan8020

I am sorry that I did not notice this issue and your patch.
We need to insert the being connected (or connecting) qpair into any queue to poll it until it is actually connected.
We can add connecting_qpairs to poll_group but I think it is OK to use connected_qpairs for connecting qpairs.

We will make both qpair connection and qpair disconnection asynchronus.
For the being disconne

[2022-02-10 10:01] spdkci commented on #2308
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_70980.html

[2022-02-10 10:02] #2370 closed

[2022-02-10 10:56] spdkci commented on #2345
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_70991.html

[2022-02-10 11:32] ye1xchen commented on #2329
I retried with Latest SPDK, but this issue still exists.
Maybe local HW ENV still has something wrong, and I think idxd_perf should exit with an error message instead of looping.

add dmesg log:
...
[  770.212910] idxd 0000:6a:01.0: idxd_cmd_exec: sending cmd: 0x6 op: 0x1
[  770.213145] idxd 0000:6a:01.0: WQ 1 enabled
[  793.605666] idxd 0000:6a:01.0: idxd_cdev_open called: 0
[  793.605685] idxd 0

[2022-02-10 14:12] KKaras169169 opened #2372 "[vfio_user_fio] Connection to 127.0.0.1 closed by remote host."
# CI Intermittent Failure

During vfio-user-autotest, vfio_user_fio test reported "Connection to 127.0.0.1 closed by remote host.",

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_71002.html

## Execution failed at

00:03:17.506  INFO: Shutting down virtual machine /root/vhost_test/vms/2
00:03:17.506   14:23:14	-- vhost/common.sh@408 -- # set +e
00:03:17.506   1

[2022-02-10 14:13] spdkci commented on #2372
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_71002.html

[2022-02-10 15:21] jimharris commented on #2357
Patch merged.

[2022-02-10 15:21] #2357 closed

[2022-02-10 17:07] spdkci commented on #2345
Another instance of this failure. Reported by @jlevon. log: https://ci.spdk.io/public_build/autotest-per-patch_70994.html

[2022-02-10 20:57] jimharris commented on #2371
This issue isn't specific to nvme on the target, nor multiple devices.  It can happen with a single null block device.  Note also that it fails at QD512, but not QD511.  Here's what is happening with the failing QD512 case.

1) IO queues are created with default number of 512 requests
2) Async connect process starts for TCP IO queue by sending icreq PDU to target.
3) Control returns to bdevperf.

[2022-02-10 22:37] jimharris commented on #2371
@MengjinWu - can you also retry your test with this series?   https://review.spdk.io/gerrit/c/spdk/spdk/+/11515

[2022-02-11 01:05] changpe1 commented on #2354
closing this issue now, a check is added to wrong use of this API.

[2022-02-11 01:05] #2354 closed

[2022-02-11 01:55] changpe1 commented on #2372
[2022-02-10 14:23:43.791117] nvmf_tgt.c: 263:nvmf_tgt_subsystem_stopped: *ERROR*: Unable to stop NVMe-oF subsystem. Trying others.
00:03:46.761  [2022-02-10 14:23:43.791404] subsystem.c: 451:spdk_nvmf_subsystem_destroy: *ERROR*: Subsystem can only be destroyed in inactive state
00:03:46.761  nvmf_tgt: subsystem.c:452: spdk_nvmf_subsystem_destroy: Assertion `0' failed.

There is an assertion in the

[2022-02-11 16:58] spdkci commented on #2201
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_71081.html

[2022-02-11 23:31] jimharris opened #2373 "nvmf_vhost test not getting run on all patches"
I pushed a few patches today that removed some parameters and functions that had previously been deprecated.

This patch https://review.spdk.io/gerrit/c/spdk/spdk/+/1154 removed the -p option from the nvmf_create_transport RPC.  It passed CI.

But then a later patch in the series failed the nvmf_vhost test, because it was using this deprecated -p parameter.

Here is the log from the nvmf-phy-autot

[2022-02-14 02:55] MengjinWu commented on #2371
OK I will try to write a test.

[2022-02-14 10:57] karlatec opened #2374 "[spdk master vs dpdk main] undefined references to dma/vhost libraries"
# Bug report

When building latest SPDK master with latest mainline DPDK compilation fails due to multiple linker `undefined reference to:` errors.
Full logs can be found at:
https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-main_347.html

Builds started to fail after DPDK commit 53d3f4778c1dbdebbef6c5e94e772b24f0998d35
was merged into DPDK main branch.

## Steps to Reproduce

1. Create

[2022-02-14 13:09] karlatec commented on #2374
Also affects 22.01.x branch

[2022-02-15 00:37] wanqunintel commented on #2288
@jimharris , sorry for late, yes, let's close it.

[2022-02-15 00:37] #2288 closed

[2022-02-15 02:42] yewhen opened #2375 "make failed"
# Bug report
After I run commands from instructions, "make" failed

## Expected Behavior

## Current Behavior
In file included from /usr/lib/gcc/x86_64-linux-gnu/9.3.1/include/immintrin.h:35,
                 from /usr/lib/gcc/x86_64-linux-gnu/9.3.1/include/x86intrin.h:32,
                 from /home/fjt/spdk/dpdk/build/include/rte_vect.h:31,
                 from /home/fjt/spdk/dpdk/build/include

[2022-02-15 03:57] #2375 closed

[2022-02-15 06:41] spdkci commented on #2247
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_71291.html

[2022-02-15 08:54] spdkci commented on #2047
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_71323.html

[2022-02-15 20:26] jimharris commented on #2374
https://review.spdk.io/gerrit/c/spdk/spdk/+/11594

[2022-02-15 21:50] benlwalker commented on #2360
Can you try this patch?
https://review.spdk.io/gerrit/c/spdk/spdk/+/11512

[2022-02-16 00:06] mkotwani1 opened #2376 "Partial transfer support in zero copy"
SPDK currently supports only a single phase zero copy, and does not support a case where the bdev can do multiple partial transfers (i.e multi phase) zero copy. In other words, in the current implementation, the entire data for the IO needs to be transferred in a single operation in the transport. The capability to take a single IO and do multiple transfer requests down to the transport from the b

[2022-02-16 00:06] mkotwani1 commented on #2376
@ksztyber @jimharris @benlwalker

[2022-02-16 01:11] jimharris commented on #2376
Hi @mkotwani1,

Thanks for filing this enhancement request.  I know we've talked about this feature previously.  If you'd like to pick this up, the SPDK community (including Ben, Konrad and me) can certainly help provide guidance.

-Jim

[2022-02-16 08:13] karlatec commented on #2374
Thank you Jim!
Confirmed that this fixes the problem: https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-main_357.html
I'll cherry pick that on top of 22.01.x as well

[2022-02-16 12:47] fengchunsong opened #2377 "NoF test with some SGE crosses 2 MB hugepage, causing the NVME I/O command to fail."
# Bug report

The NVME I/O fails during the NoF DIF test. The error information is as follows:
[2022-02-16 19:08:57.126427] nvme_qpair.c: 273:nvme_io_qpair_print_command: *NOTICE*: WRITE sqid:1 cid:185 nsid:8 lba:18358784 len:32 SGL LAST SEGMENT ADDRESS 0x2023662f8048
[2022-02-16 19:08:57.126516] nvme_qpair.c: 273:nvme_io_qpair_print_command: *NOTICE*: WRITE sqid:4 cid:175 nsid:4 lba:18359072 len:

[2022-02-16 13:57] karlatec commented on #2361
Patch for building CI OS images merged; images built and deployed. Closing issue.

[2022-02-16 13:57] #2361 closed

[2022-02-16 14:00] karlatec commented on #1851
@wanghailiangx  @wanqunintel could we update the list in issue description to match the actual status of the task?

https://review.spdk.io/gerrit/c/spdk/spdk/+/7573 is stuck in review with -1 unresolved comments.

[2022-02-16 15:38] mkotwani1 commented on #2376
Hi @jimharris
We had made the proposal for multi stage a couple of months back. Are you suggesting we take the current work Konrad has done for single stage with TCP and work with you to implement the proposal we had made on top (after a re-review of the design)?

Thanks!

[2022-02-16 17:50] liwg06 opened #2378 "double unlock in spdk_io_device_register"
`pthread_mutex_unlock()` in the `tmp != NULL` branch should be removed, otherwise will cause a double unlock.

https://github.com/spdk/spdk/blob/662678dfbef02424b0d55d4ea5aca603941fb48d/lib/thread/thread.c#L1989-L2001

[2022-02-16 19:16] mhae commented on #2360
@benlwalker, thanks for the quick fix! Unfortunately, I'm still stuck on 21.04 so I can't apply the patch to do some stress testing in an actual environment.

However, I did try the following: created nvmf target, added bdev_nvme devices to it (via hotplug enabled), then reset one of the bdev_nvme devices via bdev_nvme_reset_controller rpc while running perf. I also added a log message to nvme_pci

[2022-02-16 20:50] jimharris commented on #2376
Hi @mkotwani1,

Yes, I think that would be the best next step.

-Jim

[2022-02-16 20:53] benlwalker commented on #2360
Yes - on reconnect it will automatically submit any queued I/O.

[2022-02-16 22:39] mhae commented on #2360
Hmm, not sure I understand. We did abort outstanding requests in the PCIe layer as indicated by the nvme_qpair.c messages. So these IOs are no longer queued, or?

[2022-02-16 23:20] shuhei-matsumoto commented on #2360
@mhae

We added a new option bdev_retry_count and set it to 3 by default https://github.com/spdk/spdk/commit/e0415f1720a094894971ac0ab930c14299274aac

Please change it to 0 and see what will happen.

[2022-02-17 00:26] wanqunintel commented on #1851
@karlatec , thanks for bring this up, i think these are almost done at the very early stage after Hailiang has enabled the NVMe-oF with TCP transport on the CI. @wanghailiangx , would you pls. help to confirm about this. And for this patch, https://review.spdk.io/gerrit/c/spdk/spdk/+/7573, it seems a very old one, do we still need it as i see CI currently didn't have any issue related with IP lost

[2022-02-17 00:32] mhae commented on #2360
@shuhei-matsumoto , thanks! Yeah, much better with disabling the retry count.

However, now the NVMF initiator gets aborted by request (sct=0,sc=7). Previously the initiator received 0/8, as far as I remember.
Will initiators be able to deal with this change? The spec says the following for the 0/7 status:

_Command Abort Requested: The command was aborted due to an Abort command being received th

[2022-02-17 01:13] shuhei-matsumoto commented on #2360
@mhae

The patch https://review.spdk.io/gerrit/c/spdk/spdk/+/11512 caused such change? Ben changed reset processing not to delete/create I/O qpair in the reset processing. The initiator will receive 0/8 if qpair is deleted.

I proposed one idea on Slack as follows
- add I/O qpair to poll group only if transport is fabric (TCP, RDMA, FC). (PCIe transport does nothing about poll group now).
- Then c

[2022-02-17 01:27] mhae commented on #2360
@shuhei-matsumoto , sorry I was incorrect. Before Ben's patch the status was 0/6 (internal device error).

[2022-02-17 02:08] shuhei-matsumoto commented on #2360
Thank you @mhae for your clarification.

I guess the following behavior.

Before Ben's patch, _nvme_qpair_submit_request() found ctrlr is failed and set 0/6 for a request before actually submitting it and then returned -ENXIO.

But after the patch, I/O is queued in qpair->queued_req because ctrlr is not failed and _nvme_qpair_submit_request() returned -EAGAIN. Then later, these queued I/Os were ab

[2022-02-17 02:23] mhae commented on #2360
Yep, that makes sense. My main worry is that the spec says to send 0/7 only
as part of an abort command. Now we do send the abort status as part of a
regular IO without a preceding abort.

I would think that any initiator is able to handle this but it will not be
obvious when spdk source is updated.

On Wed, Feb 16, 2022, 7:08 PM shuhei-matsumoto ***@***.***>
wrote:

[2022-02-17 02:27] changpe1 commented on #2374
patch was merged, closing it now.

[2022-02-17 02:27] #2374 closed

[2022-02-17 02:30] changpe1 commented on #2378
@liwg06 thanks for reporting, will you have a try to submit a fix patch to SPDK? you may refer https://spdk.io/development/.

[2022-02-17 03:00] changpe1 commented on #2378
https://review.spdk.io/gerrit/c/spdk/spdk/+/11642

[2022-02-17 03:15] fengchunsong opened #2380 "nvme/rdma test fail and nvmf_tgt enters an infinite loop"
# Bug report
After a perf test is performed on the nvme/rdma, the connection fails during the perf test again, and the nvmf_tgt enters an infinite loop.

## Expected Behavior
The perf test of the nvme/rdma succeeds every time.

## Current Behavior
The perf test of the nvme rdma is successfully completed for the first time.  nvmf_tgt log
[2022-02-16 09:24:39.759601] rdma.c:1477:nvmf_rdma_fill_wr_sg

[2022-02-17 04:16] #2373 closed

[2022-02-17 04:49] changpe1 commented on #2377
@fengchunsong can you run the same SPDK perf test with your SSD directly ? ./build/examples/perf -r 'trtype:PCIe traddr:0000:04:00.0' -w randwrite -o 1048576 -t 80 -q 64 -c 0xffffff.

I want to narrow down this issue a little bit, just want to know this issue is related with SPDK NVMf target or not.

[2022-02-17 05:25] shuhei-matsumoto commented on #2360
@mhae

If I summarize,

1. If a request is queued and then aborted by a specific transport layer (TCP, RDMA), its status is set to 0/8 (aborted sq deletion).
2. If a request is queued and then aborted by a generic qpair layer, its status is set to 0/7 (aborted by request).
3. If a request is failed to submit to qpair by a generic qpair layer, its status is set to 0/6 (internal error).

These are n

[2022-02-17 06:23] wanghailiangx commented on #1851
@karlatec  https://review.spdk.io/gerrit/c/spdk/spdk/+/7573 is a very old one, I abandoned it just now.

`if second capable NIC interface is found then use it as NVMF_TARGET_INTERFACE2 instead of veth interface.`
This hasn't come true yet. There's no plan yet.

`for any NVMF_*_INTERFACE above, if no corresponding physical NIC interface can be used then use veth instead.`
This has been implemented,

[2022-02-17 06:26] wanqunintel commented on #1851
Just updated above tasks per Hailiang's comments, @karlatec

[2022-02-17 06:38] AlekseyMarchuk commented on #2380
Fix posted by @fengchunsong https://review.spdk.io/gerrit/c/spdk/spdk/+/11646

[2022-02-17 06:46] fengchunsong commented on #2377
[root@node4 spdk]# ./build/examples/perf -r 'trtype:PCIe traddr:0000:04:00.0' -w randwrite -o 1048576 -t 80 -q 64 -c 0xffffff
[2022-02-17 14:40:36.703165] Starting SPDK v21.10 git sha1 4e4f11ff7 / DPDK 21.08.0 initialization...
[2022-02-17 14:40:36.703265] [ DPDK EAL parameters: [2022-02-17 14:40:36.703280] perf [2022-02-17 14:40:36.703291] --no-shconf [2022-02-17 14:40:36.703309] -c 0xffffff [202

[2022-02-17 06:50] changpe1 commented on #2377
I saw you are using 0000:02:00.0 with 512 + 8 format, not sure 0000:04:00.0 is the same format with 0000:02:00.0 or not?

[2022-02-17 06:51] fengchunsong commented on #2377
The same NVMe is not faulty in the local test. During the NVMF test, 1048576 is split into multiple SGLs if the value of io_unit_size exceeds the value of io_unit_size. Therefore, the problem does not occur in the local test.

[2022-02-17 06:53] fengchunsong commented on #2377
all disk is formated to 512+8

[2022-02-17 06:55] fengchunsong commented on #2377
[root@node4 spdk]# ./build/examples/perf -r 'trtype:PCIe traddr:0000:02:00.0' -w randwrite -o 1048576 -t 80 -q 64 -c 0xffffff
[2022-02-17 14:49:42.207501] Starting SPDK v21.10 git sha1 4e4f11ff7 / DPDK 21.08.0 initialization...
[2022-02-17 14:49:42.207566] [ DPDK EAL parameters: [2022-02-17 14:49:42.207581] perf [2022-02-17 14:49:42.207591] --no-shconf [2022-02-17 14:49:42.207600] -c 0xffffff [202

[2022-02-17 07:04] karlatec commented on #1851
Thanks for the update!
btw https://review.spdk.io/gerrit/c/spdk/spdk/+/7476 this one also has a lot of unresolved comments

[2022-02-17 07:45] fengchunsong commented on #2377
The following two logs clearly show that a single SGE crosses 2 MB hugepages, and then an error is reported.
[2022-02-17 15:35:07.669287] bdev_nvme.c:4220:bdev_nvme_writev: *ERROR*: write 32 blocks with lba 138382400 index=0 iov addr=0x202021402000 size=8320 pagenos 16843018 pagenoe 16843018
[2022-02-17 15:35:07.669308] bdev_nvme.c:4220:bdev_nvme_writev: *ERROR*: write 32 blocks with lba 138382400

[2022-02-17 07:47] wanqunintel commented on #1851
We are keep updating this patch, currently, we are trying to close the gap with adq and baseline yet, will update the patchset after it's stable, stay tuned. :)

[2022-02-17 07:58] changpe1 commented on #2377
can you add a log information in nvme_pcie_qpair_build_hw_sgl_request() to print `nseg` value for the error case?

As described above, there should be 3 segments for a 32 blocks write before submitting the request to NVMe SSD if the buffer across 2MiB boundary.

actually spdk_vtophys already does this.

[2022-02-17 08:01] changpe1 commented on #2377
it will be nice to print all the SGL entry information there, (virt_addr, phys_addr, len).

[2022-02-17 08:07] fengchunsong commented on #2377
ok

[2022-02-17 08:13] fengchunsong commented on #2377
The breakpoint is nvme_pcie_qpair_build_hw_sgl_request. During the NOF test, this function is not entered.
[2022-02-17 16:07:37.100520] rdma.c:1897:nvmf_rdma_request_process: *DEBUG*: Request 0xfffefb2e2950 entering state 1
[2022-02-17 16:07:37.100525] rdma.c:1897:nvmf_rdma_request_process: *DEBUG*: Request 0xfffef3d56a10 entering state 12
[2022-02-17 16:07:37.100530] rdma.c:1897:nvmf_rdma_request

[2022-02-17 08:18] fengchunsong commented on #2377
I will print sgl info at nvme_pcie_qpair_build_contig_hw_sgl_request
#0  nvme_pcie_qpair_build_contig_hw_sgl_request (qpair=0x2020ec3ffee0, req=0x20200c43da40, tr=0x20200c2ee000, dword_aligned=true) at nvme_pcie_common.c:1309
#1  0x00000000004df8d4 in nvme_pcie_qpair_submit_request (qpair=0x2020ec3ffee0, req=0x20200c43da40) at nvme_pcie_common.c:1676
#2  0x00000000004ea810 in nvme_transport_qpair_

[2022-02-17 08:22] changpe1 commented on #2377
I see, only one iovcnt is used for your case, you can print SGL information in nvme_pcie_qpair_build_contig_hw_sgl_request

[2022-02-17 08:38] changpe1 commented on #2377
For the 512 + 8 LBA format with 16 blocks, if the data buffer started from 0x20201f3ff000, then SPDK will split two SGLs, the first one starts from 0x20201f3ff000 to 0x20201f400000, does your drive requires each SGL entry should contain full content of (512 + 8), because for this case, we will split the IO at 2MiB boundary.

[2022-02-17 08:38] fengchunsong commented on #2377
Line 60256: [2022-02-17 16:32:42.029267] nvme_pcie_common.c:1357:nvme_pcie_qpair_build_contig_hw_sgl_request: *ERROR*: index=0 phys_addr=35332651216896 unkeyed.length=4160 pagenos 16847920 pagenoe 16847921
	Line 133580: [2022-02-17 16:32:45.781624] nvme_pcie_common.c:1357:nvme_pcie_qpair_build_contig_hw_sgl_request: *ERROR*: index=0 phys_addr=35332651216896 unkeyed.length=4160 pagenos 16847920 pag

[2022-02-17 10:38] fengchunsong commented on #2377
[2022-02-17 18:27:48.914847] bdev_nvme.c:4220:bdev_nvme_writev: *ERROR*: write 32 blocks with lba 190366688 index=0 iov addr=0x20201ebfe000 size=8320 pagenos 16842997 pagenoe 16842998
[2022-02-17 18:27:48.914881] bdev_nvme.c:4220:bdev_nvme_writev: *ERROR*: write 32 blocks with lba 190366688 index=1 iov addr=0x20201ebfb000 size=8320 pagenos 16842997 pagenoe 16842997
[2022-02-17 18:27:48.914915] nvm

[2022-02-17 10:48] fengchunsong commented on #2377
When a huge page crosses 2 MiB, the I/O error will not be reported if the switchover is performed by a multiple of 512 + 8. Therefore, the NVMe disk must be 512 + 8 aligned. A single SGE does not cross 2MiB hugepages.

[2022-02-17 11:21] fengchunsong commented on #2377
Can we segment a huge page by a multiple of block_size to be compatible with more NVME disks when it spans 2 MiB?

[2022-02-17 14:57] mhae commented on #2360
@shuhei-matsumoto, good summary! Maybe we should wait for others to chime in as well. I'm not necessarily proposing that we need to change something at this point.

However, at a high level 0/6 would probably be the right error to return to the NVMF initiator. From reading the spec, 0/8 and 0/7 are only returned when we had a preceding admin command for either queue deletion or abort.

Having said

[2022-02-17 17:11] jimharris commented on #2378
Patch merged.  Thanks @liwg06!

[2022-02-17 17:11] #2378 closed

[2022-02-17 20:36] jlevon opened #2381 "[nvme-phy-autotest] /proc/1142605/cgroup: No such file or directory"
# CI Intermittent Failure

00:08:11.086  ************************************
00:08:11.086  START TEST scheduler
00:08:11.086  ************************************

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/71627/archive/nvme-phy-autotest/build.log

## Execution failed at

00:08:11.347  /var/jenkins/workspace/nvme-phy-autotest/spdk/test/scheduler/cgroups.

[2022-02-17 20:37] spdkci commented on #2381
Another instance of this failure. Reported by @jlevon. log: https://ci.spdk.io/public_build/autotest-per-patch_71627.html

[2022-02-17 20:45] peluse opened #2382 "[nvmf_vg_autotest] Test aborted - dmesg shows soft lockup"
Looks like this is the tail end of the failure:

00:34:19.790  ==> default: Removing domain...
00:34:19.790  +++ vagrant destroy -f
00:34:19.790  ==> default: Remove stale volume...
00:34:19.790  ==> default: Domain is not created. Please run `vagrant up` first.
00:34:19.790  + vagrant halt
00:34:19.798  script returned exit code 143
00:34:19.806  [Pipeline] }
00:34:19.830  [Pipeline] // timeout
0

[2022-02-17 20:53] spdkci commented on #2382
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_71644.html

[2022-02-17 21:14] jimharris commented on #2382
dmesg on this failure shows some rxe (soft roce) kernel call stacks - could you take a look and update the title and description?  this looks like a new failure to me

[2022-02-17 21:37] jimharris commented on #2382
Full stack here:

[  216.265036] watchdog: BUG: soft lockup - CPU#0 stuck for 22s! [nvmf:16385]
[  216.266248] Modules linked in: nvme_rdma nvme_fabrics rdma_rxe ip6_udp_tunnel udp_tunnel rdma_ucm rdma_cm iw_cm ib_uverbs ib_umad ib_cm ib_core uio_pci_generic nbd intel_rapl_msr intel_rapl_common isst_if_common nfit rfkill libnvdimm kvm_intel kvm cirrus irqbypass drm_kms_helper cec i2c_piix4 pcspkr

[2022-02-17 21:40] peluse commented on #2382
could be related to or a duplicate of #2277 from back in Dec 2021

[2022-02-18 01:18] changpe1 commented on #2377
In nvme_pcie_qpair_build_contig_hw_sgl_request, we set
`req->cmd.psdt = SPDK_NVME_PSDT_SGL_MPTR_CONTIG;`, but if the 2MiB boundary is in the middle of metadata, should we set it to `req->cmd.psdt = SPDK_NVME_PSDT_SGL_MPTR_SGL;` ? Maybe you can have a try with your SSD, in theory, PRP also has the same issue.

[2022-02-18 01:21] changpe1 commented on #2377
This may only happen with your SSD, dword alignment is fine.

[2022-02-18 01:41] fengchunsong commented on #2377
req->cmd.psdt = SPDK_NVME_PSDT_SGL_MPTR_SG is same error like SPDK_NVME_PSDT_SGL_MPTR_CONTIG

[2022-02-18 01:43] fengchunsong commented on #2377
I see that the test described above is setting io_unit_size to 8320 - this would certainly break when using an NVMe SSD that supported only PRP.

[2022-02-18 07:06] fengchunsong commented on #2377
Has the community formatted 512 + 8 disks and verified whether this problem occurs in NVMF? I don't have disks from other vendors that support 512+8 DIF.

[2022-02-18 07:25] changpe1 commented on #2377
I don't have a drive that can support hardware SGL,  maybe you can have another try to force the IO sent to NVMe drive via PRP way.

[2022-02-18 07:28] fengchunsong commented on #2377
How to force to use PRP？

[2022-02-18 07:33] changpe1 commented on #2377
replace g_nvme_pcie_build_req_table with nvme_pcie_qpair_build_contig_request in the call path.

[2022-02-18 09:09] xjjx commented on #2268
patches for CI has been merged. I'll keep issue open for a while to prove that problem is gone.

[2022-02-18 11:09] spdkci commented on #2382
Another instance of this failure. Reported by @EugeneKochetov. log: https://ci.spdk.io/public_build/autotest-per-patch_71699.html

[2022-02-18 11:26] mikeBashStuff commented on #2381
Potential mitigation: https://review.spdk.io/gerrit/c/spdk/spdk/+/11670

[2022-02-18 11:44] ksztyber commented on #2367
@junwenx could you check if https://review.spdk.io/gerrit/c/spdk/spdk/+/11662 fixes the issue on your end?

[2022-02-18 17:01] peluse opened #2383 "[nvme_hotplug] assertion: Expected inserts 3 != actual inserts 2"
00:05:20.061  QEMU NVMe Ctrl       (12341               ):      20892 I/Os completed (+4415)
00:05:20.061
00:05:21.002  unregister_dev: QEMU NVMe Ctrl       (12341               )
00:05:21.002  Expected inserts 3 != actual inserts 2
00:05:21.002    21:15:10	-- nvme/hotplug.sh@52 -- # trap - ERR
00:05:21.002    21:15:10	-- nvme/hotplug.sh@52 -- # print_backtrace
00:05:21.002    21:15:10	-- common/a

[2022-02-18 17:06] spdkci commented on #2383
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_71646.html

[2022-02-18 18:00] jimharris commented on #2383
Duplicate of #2201

[2022-02-18 18:00] #2383 closed

[2022-02-20 15:22] sziviziv opened #2384 "SPDK bdevperf crashes on segmentation fault when spdk_top is run in parallel"
Hi,

I am running bdevperf vs. NULL BDEV with socket opened in /var/tmp/spdk.sock. While test is running, I execute ./build/bin/spdk_top.
spdk_top GUI opens and immediately closes. bdevperf test stops with a print "segmentation fault"

Expected Behavior:
spdk_top should run in parallel to bdevperf test

Steps to Reproduce:
In one window run:
sudo ./test/bdev/bdevperf/bdevperf -c null_bdev.conf -q

[2022-02-21 01:48] #2362 closed

[2022-02-21 02:11] changpe1 commented on #2377
Great, then you need to check with your SSD vendor about SGL support, I don't find anything wrong in SPDK, I'm going to close this issue.

[2022-02-21 02:11] #2377 closed

[2022-02-21 02:44] junwenx commented on #2367
@ksztyber  Pull the patch to may local, error "build/lib/libspdk_log.so.5.0: undefined symbol: __ubsan_handle_shift_out_of_bounds" seems solved, but there is new problem raise after pull this patch:
info as below:
profiling: /home/wenjun/spdk/lib/nvme/nvme_ctrlr_cmd.gcda: cannot merge previous GCDA file: mismatched number of counters (64)
profiling: /home/wenjun/spdk/lib/nvme/nvme_ctrlr_cmd.gcda:

[2022-02-21 03:08] fengchunsong commented on #2261
Is this problem solved now?

[2022-02-21 03:45] YamboZhou opened #2385 "Leak eventfd when restart/reboot VM"
Hi all,

When VM restarts/reboots, the eventfd used to notify cq completion will leak.  The number of leaked eventfd depends on how many qpairs used in virtual devices.  Now we use vhost-nvme. I notice vhost-blk/scsi use the same mechanism for CQ notification as vhost-nvme so that maybe they have same issues.

The reason why spdk leak eventfd is QEMU creates a eventfd for CQ notification and then

[2022-02-21 03:50] dashan8020 commented on #2269
please ignore the issue, it should be my mistake, I will close it. sorry.

[2022-02-21 03:50] #2269 closed

[2022-02-21 04:12] yidong0635 commented on #2384
issue is reproduced.
and the stack is:
[code]

[2022-02-21 04:42] yidong0635 commented on #2384
Maybe this is ok. It's good for me.  https://review.spdk.io/gerrit/c/spdk/spdk/+/11677

[2022-02-21 05:37] AlekseyMarchuk commented on #2261
@fengchunsong Could you verify the latest SPDK master branch? We merged several changes for nvme rdma

[2022-02-21 06:22] yidong0635 opened #2386 "[nvme-phy-autotest] nvme-cli/nvme write error while trying to transfer the data or metadata"
# CI Intermittent Failure

[code]
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/71760/archive/nvme-phy-autotest/build.log

[2022-02-21 06:26] spdkci commented on #2386
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_71760.html

[2022-02-21 12:13] spdkci commented on #2386
Another instance of this failure. Reported by @apaszkie. log: https://ci.spdk.io/public_build/autotest-per-patch_71798.html

[2022-02-21 12:36] spdkci commented on #2345
Another instance of this failure. Reported by @apaszkie. log: https://ci.spdk.io/public_build/autotest-per-patch_71801.html

[2022-02-21 13:40] spdkci commented on #2308
Another instance of this failure. Reported by @apaszkie. log: https://ci.spdk.io/public_build/autotest-per-patch_71809.html

[2022-02-21 13:49] spdkci commented on #2381
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_71819.html

[2022-02-21 14:09] sziviziv commented on #2384
Thanks.
When I run spdk_top, I see that GUI shows a message at the bottom of the screen:
"ERROR occurred while getting scheduler data".
Not sure if it affects the correctness of the displayed data.

[2022-02-21 14:22] ksztyber opened #2387 "[pmdk-vg-autotest] failed to fetch repository"
Seems like there's some issue with proxy:
[code]

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/71792/archive/pmdk-vg-autotest/build.log
https://ci.spdk.io/public_build/autotest-per-patch_71792.html

[2022-02-21 14:24] spdkci commented on #2387
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_71792.html

[2022-02-21 14:50] KKaras169169 opened #2388 "[nvmf_filesystem_no_in_capsule] Timeout after "Warning: The resulting partition is not properly aligned for best performance""
# CI Intermittent Failure

During nvmf-phy-autotest, nvmf_filesystem_no_in_capsule timed out after 30 minutes. Supplemental logs reported that some tests were not run, which resulted in "Aborted" status and overall failure.

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_71788.html

## Execution failed at

build.log:
...
00:03:05.317   12:01:07	-- common/autotes

[2022-02-21 14:51] spdkci commented on #2388
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_71788.html

[2022-02-21 14:52] spdkci commented on #2386
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_71793.html

[2022-02-21 22:57] spdkci commented on #2381
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_71770.html

[2022-02-21 23:00] shuhei-matsumoto opened #2389 "[nvme_cli_cuse] NVMe status: DATA_XFER_ERROR: Error while trying to transfer the data or metadata(0x2004)"
# CI Intermittent Failure

00:05:34.194  [2022-02-21 10:40:57.510009] nvme_qpair.c: 270:nvme_io_qpair_print_command: *NOTICE*: WRITE sqid:1 cid:895 nsid:1 lba:0 len:1 PRP1 0x0 PRP2 0x0
00:05:34.194  [2022-02-21 10:40:57.510042] nvme_qpair.c: 454:spdk_nvme_print_completion: *NOTICE*: DATA TRANSFER ERROR (00/04) qid:1 cid:895 cdw0:0 sqhd:0001 p:1 m:1 dnr:0
00:05:34.194  NVMe status: DATA_XFER_ERROR:

[2022-02-21 23:01] spdkci commented on #2389
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_71771.html

[2022-02-21 23:02] spdkci commented on #2389
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_71776.html

[2022-02-22 02:14] yidong0635 commented on #2384
@sziviziv  this should be another issue. And @KKaras169169 has some works about this。

[2022-02-22 02:43] yidong0635 commented on #2386
this issue is duplicated with #2386

[2022-02-22 02:43] #2386 closed

[2022-02-22 05:00] sekar-wdc commented on #2261
@fengchunsong @AlekseyMarchuk  Please let me know when the patches are available. We had patched the firmware on our target as a workaround for our customer until the SPDK RDMA initiator was fixed.

[2022-02-22 06:11] spdkci commented on #2389
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_71856.html

[2022-02-22 07:29] #2356 closed

[2022-02-22 07:42] fengchunsong commented on #2261
I used SPDK 21.10 to test the write process and got the following error:
[2022-02-16 15:06:37.471223] rdma.c:3778:nvmf_rdma_log_wc_status: *ERROR*: Error on CQ 0xffff4c0921f0, (qp state 1 ibv_state 6) request 0x281468000176408, type SEND, opcode 0, status: (12): transport retry counter exceeded rqpair 0x2c1cc180 byte_len 4096
[2022-02-16 15:06:37.480068] rdma.c: 876:nvmf_rdma_qpair_destroy: *WARNI

[2022-02-22 08:07] spdkci commented on #2389
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_71836.html

[2022-02-22 08:28] spdkci commented on #2345
Another instance of this failure. Reported by @apaszkie. log: https://ci.spdk.io/public_build/autotest-per-patch_71827.html

[2022-02-22 08:43] ksztyber opened #2390 "[nvmf_failover] member access within null pointer of type 'struct nvme_tcp_poll_group'"
bdevperf got killed in `nvme_tcp_qpair_sock_cb`, because `qpair->poll_group` was NULL:

[code]
[code]
## Link to the failed CI build
https://ci.spdk.io/results/autotest-per-patch/builds/71821/archive/nvmf-tcp-uring-vg-autotest/build.log
https://ci.spdk.io/public_build/autotest-per-patch_71821.html

[2022-02-22 08:44] spdkci commented on #2390
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_71821.html

[2022-02-22 08:46] spdkci commented on #2389
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_71834.html

[2022-02-22 08:47] yewhen commented on #1550
Currently, if u wanna try hello_bdev example. use this command:
./build/examples/hello_bdev -c ./examples/bdev/hello_world/bdev.json -b Malloc0

[2022-02-22 09:55] MengjinWu commented on #2371
This test shows that patch (https://review.spdk.io/gerrit/c/spdk/spdk/+/11515) fixed this problem. I think I can close the issue now. @jimharris
https://review.spdk.io/gerrit/c/spdk/spdk/+/11598

[2022-02-22 10:09] AlekseyMarchuk commented on #2275
Hi @tkg61 is there any progress with this issue? Do you need help from our side?

[2022-02-22 10:52] spdkci commented on #2389
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_71807.html

[2022-02-22 11:22] spdkci commented on #2345
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_71949.html

[2022-02-22 11:26] spdkci commented on #2389
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_71874.html

[2022-02-22 13:00] xjjx commented on #2268
I believe that problem has gone away.

[2022-02-22 13:00] #2268 closed

[2022-02-22 13:38] tomzawadzki commented on #2385
Hi @YamboZhou vhost-nvme is no longer supported in SPDK [[1](https://github.com/spdk/spdk/commit/6bd7bd0da2ca5f5045f071b8e48dabebe26974aa)]. The suggested approach to exposing NVMe devices to the VMs is vfio-user [[2](https://spdk.io/news/2021/05/04/vfio-user/)][[3](https://github.com/nutanix/libvfio-user)][[4](https://github.com/nutanix/libvfio-user/blob/master/docs/spdk.md)].

Please note that a

[2022-02-22 14:29] karlatec commented on #2345
Recent reports are all for WP4 system. It was not shut down cleanly yesterday and it seems that there were some signatures/metadata left on NVMe drive. Wiped the disk a few minutes ago, it should be fine now.

[2022-02-22 15:55] spdkci commented on #2389
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_71965.html

[2022-02-22 18:41] jimharris commented on #2371
Thanks @MengjinWu!  Can you fix this patch up so that we could check this test into the repository?  Reopening for now - let's wait to close until the test is merged.

[2022-02-22 22:37] jimharris commented on #2377
@fengchunsong - you could add a quirk that ignores SGL support for this 19e5:3714 device; this could then be checked into upstream SPDK rather than you carrying a patch locally

see lib/nvme/nvme_quirks.c for examples how this is done for similar situations

[2022-02-23 01:08] fengchunsong commented on #2377
Good advice. I'll submit the patch in a minute.

[2022-02-23 02:10] #2011 closed

[2022-02-23 02:14] jimharris commented on #2159
@karlatec @xjjx Can this issue be closed?  Looking at 22.01 NVMe/TCP performance report, the results look similar to what was reported in the v21.04 (good) columns above.

[2022-02-23 02:16] jimharris commented on #2315
This issue hasn't been reported for over a month, and was specific to one system.  Chalking this up to an issue with that system that's since been resolved.

[2022-02-23 02:16] #2315 closed

[2022-02-23 02:23] jimharris commented on #2389
All of these failures are on GP16.  I spot checked a few other passing nvme-phy-autotest runs, and none of them were on GP16.

@karlatec or @xjjx, can you double check the nvme-cli version on that system, and compare it to other systems?

[2022-02-23 02:34] jimharris commented on #2384
@sziviziv, that error does not affect the correctness of the displayed data.  You can ignore that for now.

@KKaras169169 - maybe for now, g_scheduler_data should return 0 instead of -EINVAL if we can call the framework_get_scheduler RPC but the results don't contain the scheduler_name?  This will be the case for applications like bdevperf that don't use SPDK reactors (and hence don't set a schedu

[2022-02-23 02:35] jimharris commented on #2384
Patch merged.  Keeping issue open for now, but assigning to @KKaras169169 while we decide how to handle error messages on spdk_top side.

[2022-02-23 02:44] jimharris commented on #2382
This does look very similar.  This specific test failure here was on Fedora 34.  #2277 mentions failures on Fedora 35 (no matter which kernel version used) but not at all on Fedora 33.  But rxe_init_packet is in the call stack on both.

I'm going to close this issue as a duplicate of #2277, and will make a note there pointing to this one (including the Fedora 34 data point).

[2022-02-23 02:44] #2382 closed

[2022-02-23 02:45] jimharris commented on #2277
#2382 showed this same basic call stack (including rxe_packet_init).  Note that it was on Fedora 34.  So it looks like something broke between Fedora 33 and 34 causing this problem now.

[2022-02-23 02:46] changpe1 commented on #2385
@YamboZhou I think this issue is related with vhost-nvme QEMU driver, for rebooting and shutdown cases, you may need to add the cleanup in vhost-nvme QEMU driver. E.g: for CREATE IO CQ command, cleanup the old eventfd, and create a new one for it.

[2022-02-23 02:55] jimharris commented on #2349
Closing issue.  If you are able to reproduce using kernel TCP stack with a later version of SPDK, please reopen.

[2022-02-23 02:55] #2349 closed

[2022-02-23 02:58] jimharris commented on #2343
This patch was merged, and last report was over 4 weeks ago.  Can this be closed?

[2022-02-23 03:06] jimharris commented on #2333
Looks like the spdk_top specific issue was fixed, so closing this issue.  Going to file a separate issue for the nvme library strnlen warning, since it is more generic and not spdk_top specific.

[2022-02-23 03:06] #2333 closed

[2022-02-23 03:36] jimharris opened #2391 "gcc11 + LTO results in stringop-overread warning"
In issue #2333, this warning pops up with gcc 11 and --enable-lto:

[code]

LTO linker sees that spdk_nvme_transport_id_trtype_str() returns strings like "PCIe" and "RDMA", and that nvme_fabric_discover_probe() directly passes this string to spdk_nvme_transport_id_populate_trstring().

It's not clear to me why this should be a warning though, if it can see the "PCIe" then it also sees that the str

[2022-02-23 03:53] jimharris commented on #2391
https://review.spdk.io/gerrit/c/spdk/spdk/+/11709

[2022-02-23 06:18] shuhei-matsumoto commented on #2360
Hi @mhae @jimharris I tried to create a patch for the inconsistency of SC/SCT, but I could not. Not simple replacement but some refactoring looks required. As you said, this inconsistency is not critical. So I want to leave this for now.

[2022-02-23 06:30] karlatec commented on #2343
Let's close it:)

[2022-02-23 06:30] #2343 closed

[2022-02-23 06:39] karlatec commented on #2389
The version is in fact different

GP16:
[code]

Random other system:
[code]

GP16 is one of the systems we keep booted with older OS image version because of rdma-core issue in [Fedora 34 and Fedora35](https://github.com/spdk/spdk/issues/2310).
@xjjx perhaps we should keep those systems with only `nvmf_f33` label and remove the rest, so that these nodes only  pick up NVMe-oF RDMA tests?

[2022-02-23 06:47] karlatec commented on #2159
I think so. Too bad that this one wasn't updated with description on how was this resolved.
@wawryk can this be closed? If possible please add a comment what was the root cause and how it was solved.

[2022-02-23 10:03] spdkci commented on #2389
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_72039.html

[2022-02-23 10:24] karlatec opened #2392 "[vfio-user] VM boot issue with vfio-user transport"
# Bug report

VMs randomly fail to boot when running vfio-user performance tests. The issue only shows up at scale (I wasn't able to reproduce with low numbers of VMs), so it's pretty hard to reproduce and logs do not provide a lot of information, but I'll do my best.

## Steps to Reproduce

1. Start SPDK NVMe-oF target process, with multiple cores (I use 10)
2. Attach NVMe controllers as NVMe bde

[2022-02-23 10:25] karlatec commented on #2392
FYI @changpe1

[2022-02-23 10:26] karlatec commented on #2392
One more note: tested on the same systems, with the same Qemu & SPDK build, but with Vhost target and using SCSI stack - problem does not reproduce.

[2022-02-23 10:27] karlatec commented on #2392
This might be some timing issue possibly.

After adding additional `sleep 5` between VM start ups the problem is less frequent, but still shows up.

[2022-02-23 11:01] karlatec commented on #2389
@xjjx  did not notice my question so I removed labels from node configuration myself :) Should be fine now.

[2022-02-23 12:55] liwg06 opened #2393 "a mempool leak in create_iscsi_sess() error handling"
https://github.com/spdk/spdk/blob/5f2709283535f81966032b7dedba103819aa458c/lib/iscsi/iscsi.c#L556-L562

in the following error handling at line:586 , function returned with mempool 'sess' leaked.

https://github.com/spdk/spdk/blob/5f2709283535f81966032b7dedba103819aa458c/lib/iscsi/iscsi.c#L583-L587

[2022-02-23 13:17] tkg61 commented on #2275
Thanks for checking in, i just tried the other day and was able to make some progress on successfully getting a connection from ESXi to a VM running SPDK. Not exactly sure what was difference, possibly missed using 'sudo' in a couple commands or needed it when running spdk in addition to sending requests with rpc.py.

One question i do have, is if i create an RDMA endpoint with SPDK, how do i reco

[2022-02-23 13:23] spdkci commented on #2390
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_72062.html

[2022-02-23 14:04] tkg61 commented on #2275
Thanks for checking in, i just tried the other day and was able to make some progress on successfully getting a connection from ESXi to a VM running SPDK. Not exactly sure what was difference, possibly missed using 'sudo' in a couple commands or needed it when running spdk in addition to sending requests with rpc.py.

One question i do have, is if i create an RDMA endpoint with SPDK, how do i reco

[2022-02-23 16:02] liwg06 commented on #2393
patch upder review:
https://review.spdk.io/gerrit/c/spdk/spdk/+/11714

[2022-02-23 16:11] spdkci commented on #2277
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_72088.html

[2022-02-23 16:21] liwg06 opened #2394 "memory leaks in nvme_pcie_ctrlr_construct_admin_qpair() error handling"
memory leaks in these error handlings:
when return at line:283, we should release 'pqpair' who was allocated at line:265
and when return at line:290, we need to use 'ctrlr->adminq' to do further clean ups:
https://github.com/spdk/spdk/blob/5f2709283535f81966032b7dedba103819aa458c/lib/nvme/nvme_pcie_common.c#L265-L270
https://github.com/spdk/spdk/blob/5f2709283535f81966032b7dedba103819aa458c/lib/nv

[2022-02-23 16:39] liwg06 commented on #2394
patch under review:
https://review.spdk.io/gerrit/c/spdk/spdk/+/11720

[2022-02-23 17:11] liwg06 opened #2395 "a dereference before null check"
null check 'fc_req' at line:1592, but we have do the dereference at line:1589

https://github.com/spdk/spdk/blob/5f2709283535f81966032b7dedba103819aa458c/lib/nvmf/fc.c#L1588-L1594

[2022-02-23 17:25] liwg06 commented on #2395
patch under review:
https://review.spdk.io/gerrit/c/spdk/spdk/+/11721

[2022-02-23 19:21] jimharris commented on #2360
Thanks @shuhei-matsumoto.  I'm OK leaving this for now.

[2022-02-23 19:49] jimharris commented on #2389
Thanks @karlatec.  I'm going to assign this issue to you, feel free to close it once you think it's appropriate.

[2022-02-24 01:41] changpe1 commented on #2366
patch has been merged, closing it now.

[2022-02-24 01:41] #2366 closed

[2022-02-24 02:28] YamboZhou commented on #2385
@changpe1 Hi Changpeng, when qemu open an eventfd and then send it to vhost target, it will duplicate this eventfd. Hence this eventfd should be closed twice. (one from qemu and one from vhost target). Otherwise, eventfd will leak in vhost target side instead of qemu side.

Let me try whether vhost-blk/scsi has the same issue. @tomzawadzki

[2022-02-24 08:04] wanghailiangx opened #2396 "[nvmf_failover] core dumped from connection closed"
# CI Intermittent Failure

00:08:47.106  ************************************
00:08:47.106  START TEST nvmf_failover
00:08:47.106  ************************************
00:08:47.106   12:35:10	-- common/autotest_common.sh@965 -- # xtrace_enable
00:08:47.106   12:35:10	-- common/autotest_common.sh@966 -- # test/nvmf/host/failover.sh --transport=tcp

## Link to the failed CI build

https://ci.spdk.io

[2022-02-24 09:58] liwg06 commented on #2395
fixed by 30af49f77d

[2022-02-24 09:58] #2395 closed

[2022-02-24 10:29] KKaras169169 commented on #2369
Seems like a timing issue. I could not reproduce this on my side, but added two asserts and a check to make sure that socket assigned to tqpair actually matches the one we search for beforehand in sock_group_impl_poll_count().  Here is the patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/11726 .

[2022-02-24 14:55] jimharris commented on #2393
Patch merged.  Thanks @liwg06!

[2022-02-24 14:55] #2393 closed

[2022-02-24 15:19] liwg06 commented on #2394
not a problem. outside callers will do the clean up.

[2022-02-24 15:19] #2394 closed

[2022-02-25 01:25] jimharris opened #2397 "[acl] collect_setup_devs function fails"
[code]

[2022-02-25 01:26] spdkci commented on #2397
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_72175.html

[2022-02-25 01:27] spdkci commented on #2397
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_72172.html

[2022-02-25 01:28] jimharris commented on #2397
https://ci.spdk.io/results/autotest-per-patch/builds/72174/archive/nvme-phy-autotest/index.html

[2022-02-25 05:01] spdkci commented on #2397
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_72179.html

[2022-02-25 05:01] spdkci commented on #2397
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_72183.html

[2022-02-25 05:02] spdkci commented on #2397
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_72182.html

[2022-02-25 05:19] junwenx commented on #2367
@ksztyber It seems no issue now, thank you for the support! I think this issue can be closed :)

[2022-02-25 05:54] junwenx opened #2398 "[nvmf-llvm-fuzz]: The limitation of NUM_FUZZERS is 9"
# Bug report

The limitation of NUM_FUZZERS is 9

## Expected Behavior

Should no limitation about this fuzzer number

## Current Behavior

Invalid fuzz type 10 (max 9)
[2022-02-25 21:46:02.346066] app.c:1001:spdk_app_parse_args: *ERROR*: Parsing application specific arguments failed: -22

## Steps to Reproduce
1. Configuration and compile
`CC=clang-12 CXX=clang++-12 ./configure --enable-debug --e

[2022-02-25 07:05] springeee opened #2399 "How to set DIF Mode in NVMe-oF controller ?"
Hi all:
SPDK 19.07 begin supports DIF mode per NVMe-oF transport(eg TCP), But I don't know how to set it .

My environment as follows:
SPDK nvme_tcp target is centos 8, with  intel X520 10G NIC , one nvme ssd support dif;
nvme_tcp initiator is oracle linux 8 , with  intel X520 10G NIC .

my step as follow:
1, install SPDK on centos8 ;
2,  format nvme ssd support dif
nvme format /dev/nvme0n1 -l 1 -

[2022-02-25 08:17] #2367 closed

[2022-02-25 09:25] inspur-wyq opened #2400 "since v20.10.x setup.sh reset gives Permission denied"
# Bug report
since v20.10.x, when run `setup.sh reset`, it gives Permission denied

## Expected Behavior

like v20.07.x

[code]

## Current Behavior

[code]

[code]

## Possible Solution

## Steps to Reproduce

1.just run `setup.sh reset`

## Context (Environment including OS version, SPDK version, etc.)

[code]

[2022-02-25 09:29] inspur-wyq commented on #2400
[code]

[2022-02-25 09:43] spdkci commented on #2397
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_72188.html

[2022-02-25 11:53] AlekseyMarchuk commented on #2275
Hi @tkg61
Regarding your question about configuration recovery - we usually use persistent configuration files. Or as alternative you can create SPDK service (to be used with `systemctl`) and configure it with RPC commands or config file on startup
Regarding your 2nd question - SPDK supports only raid0, so there is no redundancy for now. There is a work on raid5 support

If you don't mind, I'm clo

[2022-02-25 11:53] #2275 closed

[2022-02-25 12:13] spdkci commented on #2389
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_71915.html

[2022-02-25 12:13] spdkci commented on #2389
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_71909.html

[2022-02-25 12:15] spdkci commented on #2389
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_71934.html

[2022-02-25 14:01] mikeBashStuff commented on #2400
The reason why we see `permission denied` is because setup.sh attempts to actually create a `new_id` and `bind` files directly under `/sys/bus/pci/drivers` directory, instead of writing to files which should exist under `/sys/bus/pci/drivers/$driver_name/` - based on the output it looks like `$driver_name` ends up being empty. The `grep` fails inside `check_for_driver()` as the actual driver param

[2022-02-25 16:16] jimharris commented on #2398
Hi @junwenx,

I am not able to reproduce this issue.  Can you please make sure that your llvm_nvme_fuzz binary was actually built with this ecdbaa2 SPDK commit?  I notice that your configure line does not have --with-fuzzer option, so maybe you are using an older version of the llvm_nvme_fuzz binary that has a fewer number of fuzzers available.

-Jim

[2022-02-25 17:57] mhae opened #2401 "[nvmf/rdma]: dif_insert_or_strip fails with write data sizes >= 15872 bytes"
# Bug report

Enabling dif_insert_or_stip on NVMF target (RDMA) fails with following error message when the initiator sends a write with 15872 bytes:
[code]

It seems that the dif insert creates many small 512 SGE entries for a WR which overloads the CX5. Here's a trace that dumps the WR's sgelist for a write with 15872 bytes:
[code]

In contrast to a regular write (insert disabled), the WR's has

[2022-02-26 04:30] inspur-wyq commented on #2400
[code]

[2022-02-26 04:39] inspur-wyq commented on #2400
when I first run it, it makes the `no driver` to `uio_pci_generic`. After reset, they are still `uio_pci_generic`. I don't know if it affects others, so should fallback to `no driver`? The old setup.sh rolled it back even though give `Permission denied`.

[code]

[2022-02-26 09:52] AlekseyMarchuk commented on #2401
Hi @mhae, I'll check this issue next week

[2022-02-27 20:00] mikeBashStuff commented on #2400
@inspur-wyq I think you are right, these devices should be simply unbind from the driver at that stage.

Just couple of notes - it seems like your kernel doesn't provide `ioatdma` for the PCI_DEVICE_ID_INTEL_IOAT_SKX so the expected result here is the following: setup.sh binds all these devices to one of the supported userspace drivers upon issuing config. Then upon reset, if the kernel driver ded

[2022-02-28 01:01] inspur-wyq commented on #2400
[code]

[2022-02-28 07:25] mikeBashStuff commented on #2400
Ok, so I think this looks as expected now.

[2022-02-28 08:44] weisonx opened #2402 ""setup.sh" doesn't seem to be working——"no NVMe controllers found""
# Bug report

## Current Behavior

lspci | grep Non:
    03:00.0 Non-Volatile memory controller: VMware Device 07f0
its class id (lspci -x):
    010802
When I run setup.sh, the setup.sh status display is as follows:

node     hugesize     free /  total
node0   1048576kB        0 /      0
node0      2048kB     1024 /   1024

NVMe     0000:03:00.0    15ad   07f0   0       -

[2022-02-28 08:51] changpe1 commented on #2402
Did you install your OS image on this NVMe drive or not? SPDK don't use the drives which have valid filesystem partition.

[2022-02-28 09:11] weisonx commented on #2402
No, it is a new nvme disk without any filestystem.

[2022-02-28 09:47] zRegle opened #2403 "bdevperf has error in "bdev_nvme_readv" with error code -22"
Using SPDK v21.07 to run bdevperf on lvol, fail with error code -22
My OS is CentOS7, using Intel® Optane™ DC SSD P4800X 375GB

Here are the steps to reproduce:
1.start bdevperf with command:
`./test/bdev/bdevperf/bdevperf -w write -q 128 -o 131072 -m 0xf -T lvs0/l0 -z -t 60`

2.create lvol with rpc(**cluster sz = 64MB**):
[code]

3.start bdevperf test:
`./test/bdev/bdevperf/bdevperf.py perform_te

[2022-02-28 10:42] spdkci commented on #2201
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_72235.html

[2022-02-28 16:21] tomzawadzki commented on #2306
Hi @MeinhardZhou thank you for submitting the issue and proposing a fix. Root causing to the `max_channel_ops` was very helpful in investigating it. Yet I don't think the proposed fix addresses the issue, only circumvents it. Note that blobstore channel can run out ops. Please consider cases where there are multiple lvols on single lvol store, where each one could be exposed as separate NVMe-oF na

[2022-02-28 22:26] spdkci commented on #2397
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_72294.html

[2022-02-28 22:27] spdkci commented on #2397
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_72298.html

[2022-03-01 00:03] spdkci commented on #2397
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_72306.html

[2022-03-01 00:04] #2391 closed

[2022-03-01 00:06] jimharris opened #2404 "[nvmf_example] ping fails"
[code]

[2022-03-01 00:06] jimharris commented on #2404
https://ci.spdk.io/public_build/autotest-per-patch_72306.html

[2022-03-01 00:08] jimharris commented on #2404
https://ci.spdk.io/public_build/autotest-per-patch_72292.html

This is on WFP14.

[2022-03-01 01:11] junwenx commented on #2398
@jimharris Sorry, I forgot to add --with-fuzzer=xxxx parameter in the configuration line, after add it, this is normal. Sorry for that, I think issue can be closed :)

[2022-03-01 01:15] jimharris commented on #2398
Thanks for the update!

[2022-03-01 01:15] #2398 closed

[2022-03-01 01:17] junwenx commented on #2398
Hi @jimharris   Thank you for the support!

[2022-03-01 01:20] #1593 closed

[2022-03-01 02:50] winglq opened #2405 "[blob/blobcli] stack overflow while dumping unallocated area in blob"
# stack overflow while dumping unallocated area in blob

## Expected Behavior

no segfault

## Current Behavior

segfault

backtrace:

[code]

## Possible Solution

may be wrap read_dump_cb in a thread message function.

## Steps to Reproduce

1. create a bs backed by aio
2. create a 128M blob
3. write 1M data at offset 0
4. use blobcli dump the blob

## Context (Environment including OS version,

[2022-03-01 06:10] Comphix commented on #2403
Could you have a try with latest master branch?

I am using below commit id and with the NAND NVMe SSD, looks like it has no problem.

commit 27470646c5a5a8f4ba6e4f94fa96a9b0db918e67
Author: Yifan Bian <yifan.bian@intel.com>
Date:   Mon Feb 28 02:52:08 2022 +0000

~~code~~

/test/bdev/bdevperf/bdevperf -w write -q 128 -o 131072 -m 0xf -T lvs0/l0 -z -t 60
I/O size of 131072 is greater than zero cop

[2022-03-01 07:48] mikeBashStuff commented on #2397
From the logs it seems that WFP15 doesn't have a nvme driver installed.

[2022-03-01 08:48] changpe1 commented on #2399
@springeee if you are using Linux kernel NVMe initiator driver, I remembered that the DIF support in kernel isn't enabled by default, so you may check your kernel configuration first. CONFIG_BLK_DEV_INTEGRITY_T10 and CONFIG_BLK_DEV_INTEGRITY are the two options in my platform.

[2022-03-01 09:27] springeee commented on #2399
@changpe1 , thanks for your reply.
from the ./scripts/rpc.py nvmf_create_transport --help message, we can see
-f, --dif-insert-or-strip
                        Enable DIF insert/strip. Relevant only for TCP transport
from this : ./scripts/rpc.py bdev_nvme_attach_controller --help
-r, --prchk-reftag    Enable checking of PI reference tag for I/O
                        processing.
  -g, --prchk-gua

[2022-03-01 10:23] spdkci commented on #2397
Another instance of this failure. Reported by @jlevon. log: https://ci.spdk.io/public_build/autotest-per-patch_72307.html

[2022-03-01 14:10] jimharris commented on #2397
@karlatec could you take a look at WFP15?  Seems this issue is affecting a lot of test runs.

[2022-03-01 14:53] #2402 closed

[2022-03-01 14:55] jimharris commented on #2405
Hi @winglq,

Please provide specific commands/RPCs used to reproduce this issue.

Thanks,

Jim

[2022-03-01 15:09] tomzawadzki commented on #2403
[Bug scrub] @zRegle Does the same scenario without an lvolstore succeed ?

[2022-03-01 15:14] spdkci commented on #2404
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_72309.html

[2022-03-01 15:14] spdkci commented on #2397
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_72311.html

[2022-03-01 15:16] spdkci commented on #2404
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_72312.html

[2022-03-01 15:18] spdkci commented on #2404
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_72320.html

[2022-03-01 15:19] tomzawadzki commented on #2389
[Bug scrub] @karlatec Could you check if the last 3 logs come from the node that is no longer part of the configuration for nvme-cli-cuse tests ? If yes, this issue could be closed.

[2022-03-01 15:24] tomzawadzki commented on #2369
[Bug scrub] The patch only prevents the null pointer access rather than addressing potential cause of this occurring. @benlwalker will take a look if the backtrace provides enough information to go. If no further reports are posted, it can be closed.

[2022-03-01 15:28] tomzawadzki commented on #2396
[Bug scrub] The info in the log seems to point to usban triggering in nvme_tcp_qpair_sock_cb. See:
[code]

[2022-03-01 15:29] karlatec commented on #2389
All 3 logs were run on GP16 and failing builds have failed before I removed the label from the node. I think we can close this one.

[2022-03-01 15:29] #2389 closed

[2022-03-01 15:35] tomzawadzki commented on #2277
[Bug scrub] There is series removing SoftRoce from autotest as well as the infrastructure side, removing nvmf-vf-autotest. They are currently in review, but the issue won't occur after they are merged.
Patches on spdk/spdk https://review.spdk.io/gerrit/c/spdk/spdk/+/10929

[2022-03-01 15:37] tomzawadzki commented on #2396
This looks like a duplicate of #2390

[2022-03-01 15:37] #2396 closed

[2022-03-01 15:40] #2159 closed

[2022-03-01 15:46] tomzawadzki commented on #2345
[Bug scrub] @karlatec will take a look at other types than GPT created during the tests.

[2022-03-01 15:49] tomzawadzki commented on #2128
[Bug scrub] The multipath has seen changes around the 22.01 LTS release, together with the tests. It does not seem to occur for quite a while, so this issue can be closed.

[2022-03-01 15:51] tomzawadzki commented on #1950
[Bug scrub] @tomzawadzki will go over any recent changes to scheduler tests/cgroups and assert if they resolved the issue. Along with checking few of the latest reports.

[2022-03-01 15:56] tomzawadzki commented on #1988
[Bug scrub] The infrastructure changes were made to modify gather artifacts regardless of the point of failure when executing the Jenkins pipeline.

[2022-03-01 16:27] benlwalker opened #2406 "[nvmf_host_management] Core dump on nvmf-tcp-uring-vg-autotest in spdk_uring_group_reap"
# CI Intermittent Failure

In nvmf_host_management test when using io_uring on nvmf-tcp-uring-vg-autotest system, it crashes with the following call stack:

[code]

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/72318/archive/nvmf-tcp-uring-vg-autotest/build.log

## Execution failed at

[code]

[2022-03-01 16:28] spdkci commented on #2406
Another instance of this failure. Reported by @benlwalker. log: https://ci.spdk.io/public_build/autotest-per-patch_72318.html

[2022-03-01 16:29] benlwalker commented on #2406
Closing temporarily - this may actually be related to the patch that failed.

[2022-03-01 16:33] KKaras169169 commented on #2384
spdk_top sends RPC request to get scheduler data from SPDK target (in this case bdevperf), which breaks the application, as it does not expect to send this data.

I will make sure scheduler is not NULL in rpc_framework_get_scheduler() function and modify spdk_top to take an argument to ignore scheduler data for cases such as this one (otherwise an error is printed in the bottom part of the window

[2022-03-01 16:52] mkotwani1 opened #2407 "Assert in TCP transport"
# Bug report

SPDK assert in TCP transport when running out of slots

nvmf_tcp_req_set_state (tcp_req=0xcd70d120, state=TCP_REQUEST_STATE_NEW) at tcp.c, which is
assert(tqpair->state_cntr[tcp_req->state] > 0);

Looking at the counters in gdb:

406	tcp.c: No such file or directory.
(gdb) print tqpair->state_cntr[0]
$1 = 0 -> Free
(gdb) print tqpair->state_cntr[1]
$2 = 0 -> New
(gdb) print tqpair->s

[2022-03-01 17:03] jimharris commented on #2407
Thanks for the report @mkotwani1.  Can you post any patches and exact steps needed to reproduce this issue?

[2022-03-01 17:06] KKaras169169 commented on #2384
Here is the patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/11781

[2022-03-01 17:16] jimharris commented on #2384
Thanks @KKaras169169!  I just realized there might be a simpler way to fix this, than what I originally proposed.  Can you take a look at the comment on Gerrit?

[2022-03-01 17:27] mkotwani1 commented on #2407
Hi Jim
Following are the steps to reproduce it most easily - in my case

1. Bring up the transport with 2 IO queues and a q len of 16. Lower the better, I think we will hit it much quicker with a lower len on the target. Our max IO len is set to 512k

2. Run IO from the host, number of outstanding IOs should be > 32 and try running a mix of IO sizes. We are using internal HPE specific tools, but a

[2022-03-01 17:35] KKaras169169 commented on #2384
Done

[2022-03-01 19:29] spdkci commented on #2404
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_72401.html

[2022-03-01 20:23] jimharris commented on #2403
For example, just run same bdevperf test but with "-T NVMe0n1"

[2022-03-02 01:28] winglq commented on #2405
Hi Jim,
Thanks for the quick responce.

Blobstore creation, blob creation and blob write code is not part of spdk.
I use the following configure file to create the blob store. It will be passed to `spdk_app_opts.json_config_file`. `data.dat` is created by `truncate -s 2G data.dat`.
[code]
The following code is how I create and write the blob.

[code]
[code]
After the writing, I use the following c

[2022-03-02 04:38] changpe1 commented on #2399
it's OK for the SPDK setup.

[2022-03-02 04:57] spdkci commented on #2397
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_72382.html

[2022-03-02 05:35] #2405 closed

[2022-03-02 07:31] karlatec commented on #2397
WFP15 responsible for majority of these failures did not have a NVMe disk present. The reason was a faulty connection of cable used for hotplug tests. Adjusted hotplug connector and now NVMe drive is visible. Leaving the issue open until the end of week to see if this is resolved.

[2022-03-02 09:33] MengjinWu opened #2408 "DSA device cannot be properly initialized"
# Bug report

I pulled the latest version of the code, but found that recent changes prevented the DSA device from being properly initialized.

Using following command:

`sudo ./build/examples/idxd_perf -t 10 -w crc32c -y`

It will return:

[code]

Similarly, using RPC commands will produce the same problem:

[code]

In a past version of the code, DSA can be used correctly.
[bdev/nvme: Remove ctrl

[2022-03-02 12:27] karlatec commented on #2309
Re-ran the test 10 times in a row, all test runs passed. Cannot reproduce.
Considering last occurrence and it's frequency I suggest we close the ticket. @tomzawadzki ?

[2022-03-02 12:39] karlatec commented on #2387
Local network issue. Unfortunately we can't do much about it. We did however change the proxy setting in CI from old deprecated address to one that's currently recommended in our infrastructure.
@ksztyber ok to close this one?

[2022-03-02 12:52] ksztyber commented on #2387
Yeah, fine with me. Closing.

[2022-03-02 12:52] #2387 closed

[2022-03-02 13:28] karlatec commented on #2388
`00:03:05.317 Warning: The resulting partition is not properly aligned for best performance: 1s % 2048s != 0s` is just a warning message from parted. Doesn't seem related to the timeout issue. Should be fixed though.

No clue why partprobe hanged though.

[2022-03-02 13:37] karlatec commented on #2345
Assigning @kgodzwox too. Seems like a good first issue to deal with.

[2022-03-02 13:39] peluse commented on #2408
This was just reported this morning out of our lab, something went in post release that is causing it.  I will address it today.

[2022-03-02 13:45] peluse commented on #2408
@MengjinWu can you please specify the commit that you are using? It could be relevant when I look at this in a few hours

[2022-03-02 16:05] spdkci commented on #555
Another instance of this failure. Reported by @yupeng0921. log: https://ci.spdk.io/public_build/autotest-per-patch_72458.html

[2022-03-02 16:28] peluse commented on #2408
@MengjinWu  the fix is here: https://review.spdk.io/gerrit/c/spdk/spdk/+/11723

[2022-03-02 18:50] karlatec opened #2409 "[autotest-spdk-master-vs-dpdk-main] build fails due to libisal was not found in the pkg-config search path"
# Bug report

SPDK fails to build using custom `--with-dpdk` DPDK build because libisal is not found in pkg-config search path.
https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-main_416.html

## Possible Solution

https://review.spdk.io/gerrit/c/spdk/spdk/+/11792

## Steps to Reproduce

1. Config
[code]

2. Build:
[code]

3. Result:
[code]

## Context (Environment including OS version,

[2022-03-02 19:03] mikeBashStuff commented on #2409
Looks like this may be related to recent merges: https://review.spdk.io/gerrit/c/spdk/spdk/+/11615. Looks like SPDK now uses pkg-config for the `--with-dpdk=*` argument (previously it was done in a smaller scope for bare `--with-dpdk`).

[2022-03-02 20:59] tmakatos opened #2410 "[nvmf/vfio-user] request gets stuck when live migrating in interrupt mode"
@changpe1 while trying to fix live migration with shadow doorbells I ran into a problem where a request gets stuck. I used dd(1) with one outstanding I/O and then migrated the VM, the request timed out at the destination. It turns out that this bug is irrelevant to shadow doorbells, it's because interrupt mode is enabled, I confirmed by reverting John's patch. Here's an example:
[code]
Looks like

[2022-03-02 21:52] peluse opened #2411 "Failure to build --with-reduce"
Tried on master as well as 22.01, suspect this has something to do with MLX support being added for compression a while back.  Will dig in a bit and add more info soon but here is the failure.

/usr/bin/ld.bfd: /home/peluse/spdk/dpdk/build/lib/librte_common_mlx5.a(common_mlx5_linux_mlx5_glue.c.o): undefined reference to symbol 'ibv_ack_async_event@@IBVERBS_1.1'
/usr/bin/ld.bfd: /usr/lib/x86_64-lin

[2022-03-02 22:09] peluse commented on #2411
Looks like its been broken since Aug when MLX support was added as I suspected.

mk: Enable build of mlx5_pci compress PMD
https://review.spdk.io/gerrit/c/spdk/spdk/+/8780/8

@karlatec lets find out for sure why CI didn't catch this.

[2022-03-02 22:20] jimharris commented on #2411
If you add --with-rdma, it should work.

It's likely CI didn't catch this because wherever we add --with-reduce, --with-rdma is included as well.

[2022-03-02 22:31] jimharris commented on #2411
https://review.spdk.io/gerrit/c/spdk/spdk/+/11795 changes configure to throw an error if --with-reduce is specified without --with-rdma.

[2022-03-02 22:36] peluse commented on #2411
Thanks Jim, I'll try that in just a bit.  Lets not close this until we get doc updates merged though.  Nobody would ever guess that you need RDMA to do crypto/compression via DPDK. Would even be better if we add a config option --with-mlxoffload or something that just added --with-rdma for the user

[2022-03-02 22:39] jimharris commented on #2411
We should probably just enable --with-rdma by default, at least on Linux.

[2022-03-02 23:18] peluse commented on #2411
OK, builds with rdma included.  I'll update the doc page tomorrow and submit a patch to always config rmda

[2022-03-03 01:34] springeee commented on #2399
ok， Thanks

[2022-03-03 01:34] #2399 closed

[2022-03-03 02:32] changpe1 commented on #2410
I think existing live migration can't work with interrupt mode, because we don't restore interrupt related settings in the destination VM.

[2022-03-03 03:18] zRegle commented on #2403
No, it succeed without lvolstore. It seems that something wrong with lvolstore when cluster size is 64MB.

[2022-03-03 03:22] zRegle commented on #2403
I run the test in the lastest master branch. It succed with smaller cluster size(like 4MB, 16MB), but failed with **64MB**.  It seems that when cluster size is too large and the device capacity is too small(1.0T p4510 succeed, 375GB p4800x fails), this error could happen.

[2022-03-03 03:23] weisonx commented on #2402
Thanks Jim.
Updating the kernel solved this problem

[2022-03-03 06:00] AlekseyMarchuk commented on #2411
Hi @jimharris @peluse

Sorry, I missed this dependency. mlx5_pci compress PMD requires linkage with libibverbs.
Maybe that is not obvious that --with-reduce requires --with-rdma, I think this problem can be solved in another way. There is patch that adds mlx5_pci crypto PMD https://review.spdk.io/gerrit/c/spdk/spdk/+/11620
This patch adds linkage of libibverbs when mlx5_pci compress/crypto are use

[2022-03-03 07:50] karlatec opened #2412 "[spdk-master-vs-dpdk-main] Core dump in crypto tests when creating crypto bdev"
# Bug report

crypto-autotest builds fail with core dump when building SPDK with upstream DPDK `main` branch.
This affects both SPDK `master` and `v22.01.x` branches.
https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-main_420.html
https://ci.spdk.io/public_build/autotest-spdk-v22.01-LTS-vs-dpdk-main_136.html

## Steps to Reproduce

1. Run SPDK autorun.sh with following config:
[code]
2.

[2022-03-03 09:13] AlekseyMarchuk commented on #2411
Now this patch https://review.spdk.io/gerrit/c/spdk/spdk/+/11620 checks for libmlx5 and libibverbs in the system and doesn't enable mlx5 cyrpto/compress PMD if these libraries were not found. That means that `--with-reduce` works independently of `--with-rdma`

[2022-03-03 10:51] spdkci commented on #2381
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_72525.html

[2022-03-03 11:18] tmakatos commented on #2410
I'm looking at the code, specifically at `vfio_user_migr_ctrlr_enable_sqs`:
[code]
It doesn't look like we're going to miss events for the admin queue, so if we make sure that the last I/O to connect checks the doorbells we might avoid this problem. It still feels like a hack though.

Taking a step back, I think expecting from the device to switch instantly from resuming state to running state is

[2022-03-03 12:37] tanabarr opened #2413 "VMD init fails after boot when hotplug is enabled"
# Bug report

After boot, spdk_vmd_init() fails on a VMD endpoint that has hotplug enabled on VMD domain in BIOS.

## Expected Behavior

spdk_vmd_init() should complete successfully.
When the same operation is applied to VMD endpoint without hotplug enabled, spdk_nvme_identify completes successfully.

Immediately after reboot:
[code]

## Current Behavior

VMD endpoint 0000:d7:05.5 has hotplug enab

[2022-03-03 12:39] tmakatos commented on #2410
This hack seems to fix the problem:
[code]

[2022-03-03 13:11] KariukiJ commented on #2408
I had the same issue yesterday with master. Once patch 11723 was merged, I pulled down the latest code and the issue is resolved.

[2022-03-03 13:44] peluse commented on #2408
Thanks John.  @MengjinWu please confirm this works for you so we can close the issue.

[2022-03-03 13:49] jlevon commented on #2410
I actually don't think it's a hack, it's the right thing to do: we have an async state, and we need to "catch up" on the transition.

But I'd pull in self_kick() from the shadow doorbell patch for this, then do:

[code]

[2022-03-03 13:50] peluse commented on #2411
Fantastic and works great for me!  Can we add fixes #2411 to the commit message so this gets closed once merged? Much better solution!!

[2022-03-03 14:42] tmakatos commented on #2410
We're calling `self_kick()` before `sq->sq_state = VFIO_USER_SQ_ACTIVE;` and `TAILQ_INSERT_TAIL(&vu_ctrlr->connected_sqs, sq, tailq);`, is `vfio_user_handle_intr_wrapper()` guaranteed to execute _after_ `handle_queue_connect_rsp()` has returned?

Also, will this work with multiple threads/reactors in SPDK?

[2022-03-03 22:59] jlevon commented on #2410
Sure, we're not going to get pre-empted :)

right now yes, since we keep all a controller's queues on the same poll group in interrupt mode. Later on, we will need to steer the message to the reactor that has the particular queue, I suppose.

[2022-03-04 00:00] spdkci commented on #2381
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_72576.html

[2022-03-04 00:57] peluse commented on #2412
oh man, I've been watching all the DPDK crypto updates lately and wondering when we would get bitten...

[2022-03-04 01:03] peluse commented on #2329
@benlwalker said its working for him.  Which commit are you using @ye1xchen and I assume its still an issue? I can try tomorrow and see how it works here.

[2022-03-04 01:28] changpe1 commented on #2410
if `vfio_user_handle_intr(vu_ctrlr);` is required in `handle_queue_connect_rsp`, I think you can just call it when interrupt was enabled, regardless the migration status.

[2022-03-04 06:24] spdkci commented on #2397
Another instance of this failure. Reported by @wanghailiangx. log: https://ci.spdk.io/public_build/autotest-per-patch_72641.html

[2022-03-04 06:40] spdkci commented on #2397
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_72353.html

[2022-03-04 06:40] spdkci commented on #2397
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_72607.html

[2022-03-04 06:40] spdkci commented on #2397
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_72608.html

[2022-03-04 06:41] spdkci commented on #2397
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_72619.html

[2022-03-04 06:41] spdkci commented on #2397
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_72618.html

[2022-03-04 06:43] spdkci commented on #2397
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_72627.html

[2022-03-04 06:44] spdkci commented on #2397
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_72629.html

[2022-03-04 06:45] spdkci commented on #2397
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_72631.html

[2022-03-04 06:48] spdkci commented on #2397
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_72634.html

[2022-03-04 07:00] wanghailiangx opened #2414 "sock: RPC sock_impl_set_options enable-placement-id 1 causes Assertion `entry->group != NULL' failed"
# Bug report

Fio plugin core dumped. Assertion `entry->group != NULL' failed when rpc.py sock_impl_set_options --enable-placement-id 1.

## Expected Behavior

## Current Behavior
[code]

## Possible Solution
./scripts/rpc.py sock_impl_set_options -h
 -p ENABLE_PLACEMENT_ID, --enable-placement-id ENABLE_PLACEMENT_ID
                        Option for placement-id.
                        0:disable

[2022-03-04 07:15] MengjinWu commented on #2408
Thanks @peluse. I pulled down the latest code and it is resolved. Thanks!

[2022-03-04 07:15] #2408 closed

[2022-03-04 07:28] Comphix commented on #2414
Thanks @wanghailiangx to report this issue. Could we try to get the full call stack of the core dump?

Looking through the CI, looks like there is no full call stack.

nvmf_tgt: sock.c:148: spdk_sock_map_lookup: Assertion `entry->group != NULL' failed.

[2022-03-04 07:42] spdkci commented on #2381
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_72594.html

[2022-03-04 08:16] spdkci commented on #2372
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_72650.html

[2022-03-04 08:18] #2409 closed

[2022-03-04 08:26] wanghailiangx commented on #2414
spdk_sock_map_lookup()  sock.c
[code]
[code]

[2022-03-04 08:28] changpe1 commented on #2372
00:05:02.177  [   42.137787] Hardware name: QEMU Standard PC (i440FX + PIIX, 1996), BIOS rel-1.14.0-0-g155821a1990b-prebuilt.qemu.org 04/01/2014
00:05:02.177  [   42.139583] RIP: 0010:_get_random_bytes+0xbc/0x2b0
00:05:02.177  [   42.140343] Code: 06 45 29 f4 48 8b 05 c3 ab 1f 01 45 85 e4 0f 8e 6b 01 00 00 48 c7 c7 e0 04 3f a5 48 85 c0 74 1c 65 8b 15 ef 03 9d 5c 48 63 d2 <48> 8b 3c d0 48 c7 c0 e0

[2022-03-04 08:32] changpe1 commented on #2372
There is a kernel panic in VM during boot up, this issue is similar with #2392.

For the later assertion in SPDK, we can reproduce this issue via killing nvmf_tgt during booting a VM.

[2022-03-04 09:03] Comphix commented on #2414
Thanks Hailiang.

[code]

It seems that entry->group could be NULL.

Could you print out the content of entry at below frame 4 when hitting the assert? Especially the value of "entry->ref".

#3  0x00007f7c6396c9f6 in __assert_fail () from /lib64/libc.so.6
#4  0x00000000006e3eda in spdk_sock_map_lookup (map=0xa5f060 <g_map>, placement_id=10415, group=0x7ffd4060d600) at sock.c:148

[2022-03-04 10:23] karlatec commented on #2113
@tomzawadzki  I was able to test https://review.spdk.io/gerrit/c/spdk/spdk/+/10271/ on one of our setups.

I tested with:
* TCP transport layer
* 40CPU SPDK Target
* 14 NVMes / subsystems on Target side
* 2 SPDK initiators (each running IO using 21 threads)
* 4k randread, QD=256, runtime=60

Without ADQ IOPS ~= 7.7-8.3M
With ADQ on Target only IOPS ~= 8.3~9.0M
With ADQ on both Target and Initiator

[2022-03-04 10:25] karlatec commented on #2397
Same issue with WFP13 and WFP14 after yesterday HW modification in server room.
Disconnected HW hotplug  boards. Both platform should not cause any more issues from now on.

[2022-03-04 13:58] mikeBashStuff commented on #2381
The last two reports don't match the main issue, they actually point at something new (by looking at the code path, it seems to be the problem with missing cgroup under sysfs, probably the one that's being moved). So I would suggest to open a new issue and close this one.

[2022-03-04 14:17] peluse commented on #1187
Looks good now

[2022-03-04 14:17] #1187 closed

[2022-03-04 14:20] mikeBashStuff commented on #2381
Here's potential mitigation: https://review.spdk.io/gerrit/c/spdk/spdk/+/11815 I would suggest to spin this bunch of times on the CI first, to make sure it's stable.

[2022-03-04 14:25] mikeBashStuff commented on #1950
Looking at #2381 made me think a bit - currently, cgroups are configured only once, before all the tests are run. This gives quite a wide window of opportunity for new process to pop up (not maintained by the cgroups that we created), potentially still having an impact on the overall results of the tests. Maybe if we set cgroups as a pre-condition for each of the tests (so not once, but before eac

[2022-03-04 14:41] peluse commented on #2316
https://review.spdk.io/gerrit/c/spdk/spdk/+/11816

[2022-03-04 14:58] mikeBashStuff opened #2415 "The requested URL returned error: 429 while fetching dpdk submodule"
https://ci.spdk.io/public_build/autotest-per-patch_72695.html

[code]
And then pipeline's trace follows.

[2022-03-04 14:59] spdkci commented on #2415
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_72695.html

[2022-03-04 15:35] jimharris commented on #2113
Thanks @karlatec!  Last comment from @tomzawadzki on that patch was:

"MaciekW reported nvmf_perf with ADQ enabled, encountering issues. Will be debugging to see if the cause is this patch, or something different."

Based on your tests, can we move forward with getting this patch reviewed and merged, and then close this issue?

[2022-03-04 16:21] mikeBashStuff opened #2416 "iscsi_tgt_calsoft tests intermittently fail and sometimes timeout"
https://ci.spdk.io/public_build/autotest-per-patch_72697.html

This can be seen during the test:

[code]
Then job times out while wait()ing for the scsi_tgt to terminate.

[2022-03-04 16:23] spdkci commented on #2416
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_72697.html

[2022-03-04 22:20] jimharris opened #2417 "Out of space failure on VM-host-PE3"
Seeing this manifest in a lot of different ways.  First failure in my patch series shows:

from zns-vg-autotest:
[code]

https://ci.spdk.io/public_build/autotest-per-patch_72705.html
The clang-vg-autotest in this 72705 run failed similarly.

[2022-03-04 22:21] spdkci commented on #2417
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_72705.html

[2022-03-04 22:22] spdkci commented on #2417
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_72707.html

[2022-03-04 22:23] spdkci commented on #2417
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_72717.html

[2022-03-04 22:23] spdkci commented on #2417
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_72715.html

[2022-03-04 22:23] spdkci commented on #2417
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_72712.html

[2022-03-07 03:03] fengchunsong opened #2418 "Reconstruct rdma dif_insert_or_strip to improve read performance"
# Bug report

After dif_insert_or_strip is enabled, the 4K random read performance decreases to only 77% and the write performance decreases to 99%.

## Expected Behavior
After dif_insert_or_strip is enabled, the RDMA write contains multiple 512 fragments. Use two buffers, one buffer to read NVMe, and then strip metadata to the other rdma buffer. RDMA write is a single block. The 4K random read pe

[2022-03-07 03:04] fengchunsong commented on #2418
@Alexey Marchuk

[2022-03-07 07:40] tomzawadzki commented on #2113
@jimharris that's correct, I've not updated the patch removing the -1.
https://review.spdk.io/gerrit/c/spdk/spdk/+/10271/

[2022-03-07 07:59] spdkci commented on #2417
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_72699.html

[2022-03-07 08:05] wanghailiangx commented on #2414
Here are printings for reference,
[code]

[2022-03-07 11:17] AlekseyMarchuk commented on #2418
Hi @fengchunsong

I'll be on vacation next week, I'll check you suggestion later

[2022-03-07 14:04] tmakatos opened #2419 "[nvmf/vfio-user] inconsistent queue naming when logging"
We have messages where queue ID is using lowercase ({{qid4}}):
[code]
Including a colon ({{sqid:4}}):
[code]
Others where it's capitals ({{SQ1}} and {{CQ1):}}
[code]
Capitals with a space:
[code]
This makes parsing logs harder than needed.

[2022-03-07 15:19] spdkci commented on #2201
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_72765.html

[2022-03-07 18:02] peluse commented on #2412
@karlatec as usual I can't run autorun.sh, I get one error after another and have spent 30 min addressing them adn they just keep coming.  The env is just not that compatible with my dev system.  Isn't there an easy way for me to just use the latest dpdk in my spdk/dpdk dir instead of having to run all of these long complicated scripts that make it really hard to debug something?  I should be able

[2022-03-07 18:14] jimharris commented on #2412
Hi @peluse,

Yes, you can always change your dpdk submodule to temporarily point at some other DPDK commit.  For example:

[code]

[2022-03-07 18:24] peluse commented on #2412
@jimharris life saver! :)

[2022-03-07 18:35] peluse commented on #2412
Well, I get an error on 'git checkout upstream/main' even though it said it added the remote OK.  Anyway, i just rm -rf'd my dpdk submodule dir and cloned dpdk into it and that worked (meaning I can get log in dpdk and know I'm on latest main).  Can't reproduce the error yet but at least I can use the correct dpdk which is a great start, thanks again.  LMK if you have any clue on the checkout upst

[2022-03-07 18:37] xjjx commented on #2417
Old VM images removed. Test run on PE3 passed.

[2022-03-07 18:37] #2417 closed

[2022-03-07 18:52] jimharris commented on #2412
I missed a step in there. You need to fetch upstream before the checkout.

[2022-03-07 19:00] peluse commented on #2412
LOL, thanks Jim.  Still unable to repro w/latest DPDK, latest SPDK, ISAL or QAT but I'm just starting with super basic stuff.  Will continue to add steps and see what else we're doing in the autorun steps that I'm not doing manually.

[2022-03-07 21:51] peluse commented on #2412
@karlatec so I can't reproduce this manually with latest SPDK and latest DPDK with either ISAL or QAT, not quite sure why.  I'm *assuming* that the failing IO is an examine-IO from either gpt or lvol and because of whatever reason is failing in the decomp.  There is a patch out there that I don't think would fix anything but might provide a clue.  If there is a failure in the decomp operation the

[2022-03-08 02:40] spdkci commented on #1911
Another instance of this failure. Reported by @wanghailiangx. log: Not Found

[2022-03-08 04:43] changpe1 commented on #2419
let me format the debug log message in a better way, do you have any recommendations about the format?

[2022-03-08 05:00] spdkci commented on #2285
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_72828.html

[2022-03-08 06:18] spdkci commented on #2308
Another instance of this failure. Reported by @wanghailiangx. log: https://ci.spdk.io/public_build/autotest-per-patch_72817.html

[2022-03-08 06:52] karlatec commented on #2113
I think so. Gave my +1 on the patch

[2022-03-08 09:26] tmakatos commented on #2419
I don't mind the exact format as long as all messages are consistent.

[2022-03-08 10:16] spdkci commented on #1999
Another instance of this failure. Reported by @jlevon. log: https://ci.spdk.io/public_build/autotest-per-patch_72883.html

[2022-03-08 10:38] karlatec commented on #2397
Seems this is fixed for now. @tomzawadzki  we can close this on next community meeting.

[2022-03-08 10:38] karlatec commented on #2404
Seems fixes. @tomzawadzki we can close this on next community meeting

[2022-03-08 10:51] kgodzwox commented on #2345
Fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/11821

[2022-03-08 11:07] spdkci commented on #1999
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_72903.html

[2022-03-08 11:19] karlatec commented on #2412
Could you rebase the patch so taht it contains the fix for? https://github.com/spdk/spdk/issues/2409

[2022-03-08 11:50] kgodzwox commented on #2388
Warning fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/11820/1

[2022-03-08 11:55] KKaras169169 opened #2420 "[nvmf_discovery] host does not see the subsyste - bdev_nvme_get_controllers does not return controller list"
# CI Intermittent Failure

During nvmf-tcp-phy-autotest, nvmf_discovery exited after bdev_nvme_get_controllers returned empty list of controllers.

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_72877.html

## Execution failed at

[code]

[2022-03-08 11:57] spdkci commented on #2420
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_72877.html

[2022-03-08 12:15] tomzawadzki commented on #1999
Two instances above occurred on WFP9.

[2022-03-08 12:17] spdkci commented on #1796
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_72913.html

[2022-03-08 12:18] tomzawadzki commented on #1796
Failure above occurred on VM-host-PE1

[2022-03-08 12:27] tomzawadzki commented on #2414
I think patch https://review.spdk.io/gerrit/c/spdk/spdk/+/10725/ addresses this issue. Could you please verify ?

[2022-03-08 13:44] spdkci commented on #2397
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_72918.html

[2022-03-08 14:06] xjjx commented on #2277
Some time ago we added pmdk-vg-autotest job to CI, to cover PMDK tests which were executed inside nvmf-vg job.
Today nvmf-vg job has been removed.
Now we need to rebase and re-test the final patch for remove SoftRoce.

[2022-03-08 14:11] tomzawadzki commented on #2411
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/11620 is now merged.

[2022-03-08 14:11] #2411 closed

[2022-03-08 14:20] tomzawadzki commented on #2285
The last report from @optimistyzy belongs to #2420.

As for the this issue, it no longer occurs on CI and Shuhei confirms that remaining patches for failover were already merged.

[2022-03-08 14:37] tomzawadzki commented on #2384
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/11781 fixing the issue is now merged.

[2022-03-08 14:39] tomzawadzki commented on #2306
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/11764 fixing this issue is now merged.

[2022-03-08 14:39] #2306 closed

[2022-03-08 14:52] tomzawadzki commented on #2308
The report above from @wanghailiangx is mislabeled #2201.

[2022-03-08 15:06] tomzawadzki commented on #2412
[Bug scrub] A related change in https://review.spdk.io/gerrit/c/spdk/spdk/+/11629 might help to determine if and what fix is needed for this issue. After that one is merged/rebased, let's see if further testing confirms it.

[2022-03-08 15:12] tomzawadzki commented on #1999
[Bug scrub] This issue was caused by WFP9 machine not restarting after a build failed. This has since been resolved. The status of jobs responsible for resetting physical nodes will now be more closes tracked.

@mikeBashStuff thanks for the suggestion, but it seems that was strictly infrastructure related. It might be better to catch such errors early, so keeping the test is beneficial.

[2022-03-08 15:12] #1999 closed

[2022-03-08 15:15] tomzawadzki commented on #2277
[Bug scrub] Some changes are still required on CI/job setup side, after that patch https://review.spdk.io/gerrit/c/spdk/spdk/+/10929 will need to be rebased again.

[2022-03-08 15:23] tomzawadzki commented on #2388
[Bug scrub] Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/11820 is only resolving the warning message. The root cause is not yet determined. So far attempts at reproduction failed.

Information provided in `target/filesystem.sh` can be improved, size of the device for example. It would be helpful for debugging future occurrences of this issue. Keeping this issue open, till such information is

[2022-03-08 15:29] tomzawadzki commented on #2415
[Bug scrub] This looks strictly infrastructure related. Since it is network related and looks to be working right now, lets close it.

[2022-03-08 15:29] #2415 closed

[2022-03-08 15:37] jimharris commented on #2316
Getting the driver merged to enable broader testing was important, even if it was limited to IOMMU enabled.  So tracking this here a bug, even though this limitation was known when merged.

[2022-03-08 17:19] spdkci commented on #2412
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_72978.html

[2022-03-08 17:41] karlatec commented on #2412
Not related.

[2022-03-08 18:44] benlwalker opened #2421 "[nvmf_failover] runtime error: member access within null pointer of type 'struct nvme_tcp_poll_group'"
[code]

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_72789.html

## Execution failed at

[code]

[2022-03-08 18:49] spdkci commented on #2421
Another instance of this failure. Reported by @benlwalker. log: https://ci.spdk.io/public_build/autotest-per-patch_72789.html

[2022-03-08 18:50] spdkci commented on #2308
Another instance of this failure. Reported by @benlwalker. log: https://ci.spdk.io/public_build/autotest-per-patch_72799.html

[2022-03-08 18:58] tomzawadzki commented on #2421
Duplicate of #2390

[2022-03-08 18:58] #2421 closed

[2022-03-08 20:23] spdkci commented on #2308
Another instance of this failure. Reported by @benlwalker. log: https://ci.spdk.io/public_build/autotest-per-patch_72788.html

[2022-03-09 07:00] wanghailiangx commented on #2414
@tomzawadzki thanks, verified your patch, passed on local.
However, this seems to be a workaround. On the old version(about 1/20/2022), there is no such problem (entry->group == NULL).
You could try this version, git pull https://review.spdk.io/gerrit/spdk/spdk refs/changes/76/7476/34, based on commit 6b7e9d0af2bdc62d79116a4eb0cffc33e33d8471.
Then run ./test/nvmf/target/fio_adq.sh --transport=tcp

[2022-03-09 07:16] karlatec commented on #2397
Alright, so this time the issue was one of the systems not rebooting properly after failed builds. Fixed that. Hopefully this time no more reports of this issue show up.

[2022-03-09 07:29] karlatec commented on #2412
So looking at recent builds of spdk-master-vs-dpdk-main it seems that merging linked patch fixed the issue: https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-main_446.html (it failed, but that's a separate problem).

What about v22.01.x though? It still fails: https://ci.spdk.io/public_build/autotest-spdk-v22.01-LTS-vs-dpdk-main_164.html
Which of the two merged patches should I cherry-p

[2022-03-09 13:05] tomzawadzki opened #2422 "Valgrind not tested on Jenkins CI"
# Bug report

Valgrind is enabled via `SPDK_RUN_VALGRIND=1` on following jobs:
- unittest-vg-autotest
- freebsd-vg-autotest
- clang-vg-autotest

Despite that it's not actually executed due snippet below, where `valgrind` variable is emptied due to ASAN being enabled.
https://github.com/spdk/spdk/blob/c8837711239bdf69654102a641b25d977bb78ab9/test/unit/unittest.sh#L139-L147

It was not caught on CI

[2022-03-09 14:13] peluse commented on #2412
Great thanks @karlatec! Before we close this I want to take another look at the code and try to understand how what I expected was the cause (dbl completion) could go undetected now as that was really a secondary error.  May want to add some more debug and re-run, could very well be that we handle the error correctly now, i just want to know what the error was.  Same thing on backport, lets hold o

[2022-03-09 19:33] spdkci commented on #2390
Another instance of this failure. Reported by @benlwalker. log: https://ci.spdk.io/public_build/autotest-per-patch_73124.html

[2022-03-09 21:25] spdkci commented on #555
Another instance of this failure. Reported by @yupeng0921. log: https://ci.spdk.io/public_build/autotest-per-patch_73147.html

[2022-03-09 22:01] spdkci commented on #555
Another instance of this failure. Reported by @yupeng0921. log: https://ci.spdk.io/public_build/autotest-per-patch_73149.html

[2022-03-10 16:45] #2413 closed

[2022-03-10 21:25] spdkci commented on #2390
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_73129.html

[2022-03-10 21:27] spdkci commented on #2201
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_73130.html

[2022-03-10 22:35] spdkci commented on #2390
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_73279.html

[2022-03-10 22:37] spdkci commented on #2420
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_73131.html

[2022-03-10 23:02] sydneyvanda opened #2423 "Long delay in unbinding VMD devices on Icelake with SPDK setup script"
# Bug report

This issue was found when testing on IceLake nodes with VMD devices on SLES 15.3 OS. Currently takes about 4 minutes to unbind 16 NVMe SSDs behind 4 VMD addresses from the Kernel (using the SPDK setup script).

On a similar IceLake system with SLES 15.3 and VMD disabled, it took ~5 seconds to unbind 8 NVMe SSDs with the SPDK setup script.
On another IceLake system (Wilson City Sample

[2022-03-10 23:54] jimharris commented on #2423
Hi @sydneyvanda,

The differences between systems are more likely due to the SSDs, not the platform.  When the SSDs are unbound from their kernel driver, the kernel nvme driver does a full shutdown of the SSDs.  This is also done implicitly when you unbind the VMD endpoint that is in front of the NVMe SSD.  There can be very large differences between shutdown times between SSD models.  Note that t

[2022-03-11 01:14] spdkci commented on #1950
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_73278.html

[2022-03-11 01:31] spdkci commented on #2420
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_73219.html

[2022-03-11 01:34] spdkci commented on #2201
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_73221.html

[2022-03-11 01:34] spdkci commented on #2201
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_73241.html

[2022-03-11 01:36] spdkci commented on #2390
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_73242.html

[2022-03-11 02:05] shuhei-matsumoto opened #2424 "[crypto-autotest] Starting spdk_tgt got segmentation fault"
# CI Intermittent Failure

[code]

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_73270.html

## Execution failed at

[code]

[2022-03-11 02:06] spdkci commented on #2424
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_73269.html

[2022-03-11 02:06] spdkci commented on #2424
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_73270.html

[2022-03-11 02:25] changpe1 commented on #2424
The coredump happened when starting spdk_tgt, and at that moment, we didn't attach the NVMe controller, so it should not related with the OPAL tests, let's continue to see if we can get a valid core trace.

[2022-03-11 04:00] davidcs12 opened #2425 "lib/nvmf/tcp.c:nvmf_tcp_req_process(): Incorrect assert for "case TCP_REQUEST_STATE_COMPLETED" line:2808"
# Bug report
@mkotwani1
The assert
[code]

occurs when "controller shutdown" is performed with write operations in progress.

Below is the description of the sequence of operations which can trigger this assert during a "controller shutdown" with "Writes in progress".

As part of controller shutdown "nvmf_qpair_abort_pending_zcopy_reqs()" is invoked.

Let us examine nvmf_qpair_abort_pending_zcopy_

[2022-03-11 04:11] shuhei-matsumoto commented on #2424
Thank you @changpe1 The patch series is for crypto bdev and the seg. fault is caused when running crypto test.  However, it is unlikely that the first two patches caused this failure. So I added this to github. Yes, let's keep monitoring this issue.

[2022-03-11 05:59] mkotwani1 commented on #2425
@ksztyber - one of our developers is seeing this issue in the TCP transport and he has narrowed it down from his perspective. If you can take a look at the analysis, it will really help.

Thanks!

[2022-03-11 06:48] AlekseyMarchuk commented on #2418
Hi @fengchunsong

Could you specify which NIC are you using? I did a quick test with SPDK null block device which generates DIF and in my case the difference between a single SGL in a WR and 8 SGLs in a WR was about 7%. I used ConnectX-6 Dx and x86 CPU but I believe Connext-X 5  and other NICs should show similar results.
Here is my configuration:
[code]
Reading 4KiB from Null0 gives me about 2.62

[2022-03-11 06:55] fengchunsong commented on #2418
I get the same results on arm and x86, and here's the CPU information.
[root@node4 spdk]# lscpu
Architecture:        aarch64
Byte Order:          Little Endian
CPU(s):              96
On-line CPU(s) list: 0-95
Thread(s) per core:  1
Core(s) per socket:  48
Socket(s):           2
NUMA node(s):        4
Vendor ID:           HiSilicon
Model:               0
Model name:          Kunpeng-920
Stepping:

[2022-03-11 07:06] xjjx commented on #2277
After some investigation we found that CI side is already prepared and patch has been fixed by @mikeBashStuff

[2022-03-11 07:10] fengchunsong commented on #2418
./scripts/rpc.py bdev_null_create Null0 1024 520 -m 8 -t 2
test result

Device Information                                                            :       IOPS      MiB/s    Average        min        max
RDMA (addr:172.19.37.45 subnqn:nqn.2016-06.io.spdk:cnode1) NSID 1 from core 16:   72588.67     283.55     440.61     128.20    1675.32
RDMA (addr:172.19.37.45 subnqn:nqn.2016-06.io.spdk:cnode1)

[2022-03-11 07:11] fengchunsong commented on #2418
./scripts/rpc.py bdev_null_create Null1 1024 512
result
                                                                                                                  Latency(us)
Device Information                                                            :       IOPS      MiB/s    Average        min        max
RDMA (addr:172.19.37.45 subnqn:nqn.2016-06.io.spdk:cnode1) NSID 1 from core 16:   8

[2022-03-11 07:15] fengchunsong commented on #2418
My NIC is a single 100GE network. Does your NIC also use a 100GE network?

[2022-03-11 07:21] shuhei-matsumoto commented on #2390
Hi,

I have not reproduced this issue locally. The analysis was only based on my code inspection. But I found a possible scenario and created a patch to fix it. https://review.spdk.io/gerrit/c/spdk/spdk/+/11882

If I say simply, qpair may be inserted into both group->disconnected_qpairs and group->needs_poll if spdk_sock_close() completes asynchronously. Then spdk_nvme_poll_group() removes qpair o

[2022-03-11 07:34] fengchunsong commented on #2418
with my patch，test again:
./scripts/rpc.py bdev_null_create Null0 1024 520 -m 8 -t 2

Device Information                                                            :       IOPS      MiB/s    Average        min        max
RDMA (addr:172.19.37.45 subnqn:nqn.2016-06.io.spdk:cnode1) NSID 1 from core 16:   85047.85     332.22     376.07      46.20    1591.77
RDMA (addr:172.19.37.45 subnqn:nqn.2016-06.i

[2022-03-11 08:05] spdkci commented on #2295
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_73296.html

[2022-03-11 08:44] AlekseyMarchuk commented on #2401
Hi @mhae I see that CX5 supports max_sge=30 however we use sge array of 16 elements, that is defined by SPDK_NVMF_MAX_SGL_ENTRIES in nvmf_transport.h
So for me it works fine. Could you clarify if you changed SPDK_NVMF_MAX_SGL_ENTRIES to bigger value? We could add a check for device->max_sge when we build SGL if you increased SPDK_NVMF_MAX_SGL_ENTRIES

[2022-03-11 10:11] karlatec opened #2426 "[spdk-master-vs-dpdk-main] unable to open output file `obj/aes_keyexp_128.o' when building intel-ipsec"
# Bug report

SPDK fails to build in intel-ipsec-mb in `autobuild_check_so_deps` test. Fail is due to: `x86_64/aes_keyexp_128.asm: fatal: unable to open output file `obj/aes_keyexp_128.o'`

https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-main_457.html

## Possible Solution

https://review.spdk.io/gerrit/c/spdk/spdk/+/11885

Found that ` autobuild_external_code` test which precedes `au

[2022-03-11 10:15] ksztyber commented on #2425
Wow, very thorough debug, thank you @davidcs12! I agree the assert needs to be changed to accommodate for this scenario. I wouldn't check `tcp_req->req.xfer` twice though, but just add the condition for the state of the qpair. Something like:
[code]
@davidcs12 would you like to submit a patch fixing this?

[2022-03-11 11:00] karlatec commented on #2426
With linked solution:
https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-main_458.html
https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-v21.11_410.html

[2022-03-11 17:51] ravalsam commented on #2423
Hi @jimharris ,

@sydneyvanda will be on leave so I will give it try the setup.sh and let you know the result.

[2022-03-11 19:03] ravalsam commented on #2423
Hello @jimharris

So I tried on daos5 and time got reduced from 3 min 40 seconds to 56 min.

**With original setup.sh:**
`time PCI_ALLOWED='0000:4a:00.5 0000:64:00.5 0000:97:00.5 0000:e2:00.5' /usr/share/daos/control/../../spdk/scripts/setup.sh
10000:81:00.0 (144d a824): Skipping denied controller at 10000:81:00.0
10000:82:00.0 (144d a824): Skipping denied controller at 10000:82:00.0
10000:83:00.0

[2022-03-11 20:07] jimharris commented on #2420
https://review.spdk.io/gerrit/c/spdk/spdk/+/11934 should fix this issue.

Note that this series contains a fix for a bug in the discovery log page generation that I encountered while testing this fix on my system.

[2022-03-11 20:08] davidcs12 commented on #2425
scenario. I wouldn't check `tcp_req->req.xfer` twice though, but just add the condition for the state of the qpair. Something like:
Thanks @ksztyber for the quick review/feedback

Agreed.

Sure will. Thanks

[2022-03-11 22:01] mhae commented on #2401
@AlekseyMarchuk , yes, I did modify this setting to 64. I guess that needs to change. Would 30 be okay for CX5?
I'll change the value back and try on Monday.
Thanks so much for looking into this!

[2022-03-12 06:34] spdkci commented on #2424
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_73351.html

[2022-03-12 06:59] AlekseyMarchuk commented on #2401
Yes, I believe SPDK_NVMF_MAX_SGL_ENTRIES=30 will work

[2022-03-12 14:23] zbhhbzzbh opened #2427 "Vhost(reactor) takes too much memory!"
# Bug report

I'm trying to deploy vhost-user for QEMU, and after I launch vhost, the reactor takes too much memory(128GB).

## Expected Behavior

I expect the memory usage of reactor should be much less than 128GB
## Current Behavior

After the command : "build/bin/vhost -S /var/tmp -m 0x1
the reactor_0 takes 128GB virtual memory.

## Possible Solution

My suspicion is that there is some bug at m

[2022-03-12 21:36] fangli opened #2428 "SPDK "Expected second of fused commands - failing first of fused commands" when working as VMware ESXi 7.0.3 nvme-of shared storage"
# Bug report

The following error logs reported by spdk every few hours:

[code]

## Expected Behavior

Shouldn't see such error log.

## Current Behavior

The previous error shows every few hours.

## Steps to Reproduce

(The issue is reproduceable in my test environment. I have tried fresh installation a few times but issue persists)

1. Setup vSphere/ESXi 7.x
2. Install the current (latest) ver

[2022-03-13 01:18] Comphix commented on #2428
Yes, you could add some SPDK_ERRLOG() like following to dump more related command information. Below is the example.

Please help on this to collect more information for this case. Thanks.

[code]

[2022-03-13 07:20] fangli commented on #2428
Thanks for elaborating that.

I'll run the spdk(3ee923eff112dab96b296c55cdf4d5066375c667) with the following modification :

[code]

Monitoring error logs. Will post result in few hours.

[2022-03-13 09:26] fangli commented on #2428
Hey, I have confirmed the fused opcode are:

* First `0x05`
* Second `0x01`

This seems to be `compare_and_write` as per the NVMe spec.

While `compare_and_write` seems not supported by bdev devices other than hardware NVMe, I believe that the SPDK nvme controller may expose this feature incorrectly.

With this concern, I issued the following command to check the SPDK controller details:

[code]

[2022-03-13 12:12] Comphix commented on #2428
Looks like below function has the Compare and Write support.

[code]

According to above logs, first fuse opc is 0x5 (Compare) and second fuse opc is 0x1 (Write)

[code]

What kind of Bdev device is used here? Have you tried the NVMe SSD as NVMe Bdev for SPDK NVMe-oF?

[2022-03-13 19:18] fangli commented on #2428
Yes, I'm aware of the software implementation of fused compare_and_wirte. And `AIO` with `RDMA` transport is my spdk setup. Check out the original post for details.

I haven't got a chance to use physical NVMe SSD as Bdev.

Looking at the following block in function `nvmf_ctrlr_process_io_cmd()`:

https://github.com/spdk/spdk/blob/a576bccca9ee1dd33a1a5cd75abe984a4abf1d1e/lib/nvmf/ctrlr.c#L3999-L40

[2022-03-14 00:16] fangli commented on #2428
After reviewed the implementation again, I can see the following chain of calls:

spdk_nvmf_request_exec() -> nvmf_ctrlr_process_io_cmd() -> then matches the following condition:
https://github.com/spdk/spdk/blob/a576bccca9ee1dd33a1a5cd75abe984a4abf1d1e/lib/nvmf/ctrlr.c#L4001

Thus `spdk_unlikely(cmd->fuse & SPDK_NVME_CMD_FUSE_MASK)` must be `false` in this case, which implies the flag of fuse is

[2022-03-14 03:00] spdkci commented on #2424
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_73233.html

[2022-03-14 04:34] spdkci commented on #2424
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_73238.html

[2022-03-14 04:37] spdkci commented on #2424
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_73243.html

[2022-03-14 04:38] spdkci commented on #2424
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_73293.html

[2022-03-14 08:44] #2426 closed

[2022-03-14 14:41] mhae commented on #2401
Hey @AlekseyMarchuk , setting it to 30 SGEs works fine. So it was the setting to 64 that caused the issue. I guess I got confused since I suddenly saw the small 512 SGE entries but didn't realize that it stopped working past 30.
I'm closing this issue and thanks again for taking a look at this!

[2022-03-14 14:41] #2401 closed

[2022-03-15 01:44] spdkci commented on #2424
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_73404.html

[2022-03-15 08:37] fangli commented on #2428
After a few hours running with debug logs, I finally captured the following signature.

There're 3 cases.

I assume:

* `opc` is the OP code, `nsid` is the namespace ID
* `cid` should be consecutive numbers within a fused command
* `fuse=1` for first command while `fuse=2` for second command

If I understand it correctly, then all the following 3 cases clearly shows that another non-fused request

[2022-03-15 09:32] fengchunsong opened #2429 "host fails to connect to the target when test NVMe over RDMA"
# Bug report

## Expected Behavior

host success to connect to the target when test NVMe over RDMA each time

## Current Behavior

During the NVMe/RDMA test, the host fails to connect to the target after the FIO plug-in is tested for several times when RQ is used.
Restart the target, but the connection still fails. Restart target+transport to use another port, but the connection still fails. Resta

[2022-03-15 10:58] AlekseyMarchuk commented on #2429
Patch provided by @fengchunsong https://review.spdk.io/gerrit/c/spdk/spdk/+/11946

[2022-03-15 12:46] tomzawadzki commented on #2427
The specific memory you are describing is `virtual memory` [`VIRT` in `top`], rather than `physical memory` [`RES` in `top`]. In general terms, it only describes maximum amount of memory that a process could use. Is there any issue that you encounter with that amount of `virtual memory` ?

You can read more about this behavior in DPDK docs https://doc.dpdk.org/guides/prog_guide/env_abstraction_lay

[2022-03-15 14:48] #2420 closed, assigned to jimharris

[2022-03-15 15:14] zbhhbzzbh commented on #2427
It just looks odd to me that a reactor should "occupy" so much virtual memory.
But indeed my test was able to go through.

---- 回复的原邮件 ----
| 发件人 | Tomasz ***@***.***> |
| 日期 | 2022年03月15日 20:46 |
| 收件人 | ***@***.***> |
| 抄送至 | Bing ***@***.******@***.***> |
| 主题 | Re: [spdk/spdk] Vhost(reactor) takes too much memory! (Issue #2427) |

The specific memory you are describing is virtual memory [VIRT

[2022-03-15 15:17] tomzawadzki commented on #2423
[Bug scrub] To make the process more clear to the users, two changes in the setup.sh would be benefical:
1) If a VMD device present, add message to communicate to the user to use next steps
2) Allow for DRIVER_OVERRIDE="none" to just unbind the driver without binding it to any other

After that the user could call the `PCI_ALLOWED="xxxx:xx:xx.x" setup.sh` to bind the devices behind VMD.

@ravalsam

[2022-03-15 15:47] peluse opened #2430 "lib/nvmf/tcp: code does not look at the return code from accel API, could miss an error"
In tcp.c when we call spdk_accel_submit_crc32cv() we aren't looking at the return code.  Under really heavy IO testing we're able to run out of accel_tasks and the call return -ENOMEM but tcp.c ignores it so things don't work. We should eb able to repro this by making MAX_TASKS_PER_CHANNEL much smaller.

Optimally we'd not only have a fix in tcp.c (and other places in SPDK where we call accel_func

[2022-03-15 15:55] #2427 closed

[2022-03-15 16:29] karlatec commented on #2412
IMO this is important. It's the LTS branch that fails to build / test with mainline DPDK, and we're going to support LTS until next year.

Also - we run spdk v22.01.x vs dpdk-main daily, so "failed" test results haunt me when I take a look at CI dashboard: https://ci.spdk.io/public_build/autotest-spdk-v22.01-LTS-vs-dpdk-main.html

[2022-03-15 16:34] peluse commented on #2412
@karlatec thanks again.  I'll carve out some time this week (or Sat) to at least dig in a bit and narrow things down so maybe even if I don't have b/w to supply a full fix I can provide enough info that maybe someone else can.

[2022-03-15 21:13] jimharris commented on #2428
Correct.  0x5 = COMPARE, 0x1 = WRITE

No, this is not required.  cid is solely picked by the initiator, and is not related at all to order of commands.

Correct.

No, I think SPDK is likely causing this problem.  I'll explain below.

Please don't do any of this yet, unless we decide this isn't an SPDK problem.  But at this point, I believe SPDK is the culprit.

Notice that for all of the passing t

[2022-03-15 23:09] jimharris commented on #2428
Looking at these logs further, it seems ESXi is out of spec when using the fused compare-and-write commands.  From the NVMe spec (section 2.1.3.1 of NVM Command Set Spec 1.0b "Compare and Write"):

[code]

But if we look at one of the compare and write command pairs from your log:

[code]

The compare command (opc 0x5) has cdw12 0x0 - meaning 1 block, but the write command (opc 0x1) has cdw12 0xFF

[2022-03-16 00:01] jimharris commented on #2412
@karlatec - can you bisect this down to a specific DPDK commit?

[2022-03-16 01:17] fangli commented on #2428
// DISCLAIMER: This issue report and whole discussion is only for software I use personally, outside of work. The issue report has nothing to do with the company I work for.

Big thanks to your explanation @jimharris .
Please allow me elaborate the logs, making sure we're on the same page:

-----

⚪ nvmf_ctrlr_process_io_fused_cmd: Current nvme_cmd -> opc:0x5,fuse:0x1,rsvd1:0x0,psdt:0x1,cid:0x4,ns

[2022-03-16 02:02] jimharris commented on #2428
Thanks @fangli. I may have misinterpreted the logs earlier. I’ll look into this more tomorrow. @liu-wenhua please wait looking at this further for now.

[2022-03-16 04:12] wanghailiangx opened #2431 "ADQ: FIO performance loss much when configure+debug and enable-placement-id 1"
# Bug report
When rpc_py sock_impl_set_options --enable-placement-id 1,
I found "configure with enable debug" will affect the FIO performance of ADQ, although this is reasonable.
But it will drop about 50% compared with non ADQ, this is not normal.
When rpc_py sock_impl_set_options --enable-placement-id 2,
This situation still exists, but the gap is not too obvious.
Here are some performance compa

[2022-03-16 06:42] fangli commented on #2428
![image](https://user-images.githubusercontent.com/3032639/158529724-21b8b5e5-4fdd-4ec8-8e3a-41ccb548f036.png)

I managed to mirror the traffic from SPDK server to an analyze port through switch's port mirroring feature. I won't be able to provide the tcpdump file due to the huge file size at the moment.

As a last resort, if you feel the dump file helps on root cause, I'd like to provide it. Just

[2022-03-16 11:03] spdkci commented on #2424
Another instance of this failure. Reported by @AlekseyMarchuk. log: Not Found

[2022-03-16 17:16] liu-wenhua commented on #2428
I checked the source code on the ESXi host side and did not see any place where FUSED commands are issued, the CDW12 in compare command and write command are set to different values. They are always set to the number of blocks minus one.

Also in ESXi, the number of blocks in FUSED commands should always be one block.

I will do further analysis on this.

[2022-03-16 21:42] liu-wenhua commented on #2428
I ran FIO workload in an Ubuntu VM for 2 hours and did not see any problem at SPDK target side.

My setup is:
1. ESXi system with vSphere 7.0 update 3 (7.0u3c) official build.
2. SPDK NVMe/TCP target with SPDK 20.04
3. Ubuntu VM.

[2022-03-16 22:48] jimharris commented on #2428
@fangli @liu-wenhua I did misinterpret the logs, and confused the 'workload' write with the 'fused' write.  So I don't think there is any ESXi issue here.

I just pushed https://review.spdk.io/gerrit/c/spdk/spdk/+/11963 which is a focused, standalone SPDK nvme application that reproduces this issue.  Or at least I've repro'd it w/ the TCP transport - testing RDMA transport next.

Hope to have a fi

[2022-03-17 00:27] spdkci commented on #2128
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_73539.html

[2022-03-17 00:36] jimharris commented on #2428
The test app fails for RDMA transport too.

Test run: https://ci.spdk.io/public_build/autotest-per-patch_73569.html
RDMA failure: https://ci.spdk.io/results/autotest-per-patch/builds/73569/archive/nvmf-phy-autotest/build.log
TCP failure: https://ci.spdk.io/results/autotest-per-patch/builds/73569/archive/nvmf-tcp-phy-autotest/build.log

@fangli - you can try this test app on your setup if you are i

[2022-03-17 01:09] changpe1 commented on #2430
There is another similar issue https://github.com/spdk/spdk/issues/2284, which is also caused by no enough acceleration task.

[2022-03-17 01:12] changpe1 commented on #2429
patch has been merged, closing this issue now.

[2022-03-17 01:49] changpe1 commented on #2400
patch has been merged, closing it now.

[2022-03-17 01:49] #2400 closed

[2022-03-17 03:52] fangli commented on #2428
**fused_ordering.sh**

`--transport=tcp`: https://gist.github.com/fangli/b6acc7052cc78306535620b27b714f90

`--transport=rdma`: https://gist.github.com/fangli/1c1c77b4b156a0e124afaa2ad268c8c2

Seems the test requires specific environment. But it doesn't bother me anyway as long as you have it reproduced!

I won't be able to make pull requests due to some restrictions unfortunately, I'll monitor thi

[2022-03-17 04:10] changpe1 commented on #2430
[Bug Scrub] @MengjinWu can take a look to add some protection in call stack.

[2022-03-17 04:13] changpe1 commented on #2424
[Bug Scrub] @karlatec can you take a look of this environment why the backtrace didn't show in the log? thanks.

[2022-03-17 04:15] changpe1 commented on #2431
[Bug Scrub] @wanghailiangx can you use perf top tool to show what's the difference between the two tests, it can give more information.

[2022-03-17 06:54] ye1xchen commented on #2329
I retried with Latest SPDK today, but this issue still exists. @peluse  @benlwalker maybe we can make an meeting to show you the specific steps and output.

[2022-03-18 05:01] wanqunintel commented on #2329
@peluse did you have time to look into this issue on your environment? The error log shows as follows when running idxd_perf tool with command ./build/examples/idxd_perf -q 1 -o 4096 -t 5 -w copy -k
[ 793.669158] IOMMU: dmar15: Page request without PASID
[ 793.669166] dmar15: Invalid page request: 6a080001 2000003e9007

[2022-03-18 05:02] wanqunintel commented on #2329
spdk commit: 900d049925f0e2f751293958c4458544bf7c88be

[2022-03-18 08:00] spdkci commented on #2424
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_73603.html

[2022-03-18 09:35] spdkci commented on #1950
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_73398.html

[2022-03-18 10:11] spdkci commented on #2424
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_73615.html

[2022-03-18 10:11] spdkci commented on #2424
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_73613.html

[2022-03-18 10:43] AlekseyMarchuk commented on #2418
Hi @fengchunsong
I would like to check performance impact of your patch and than start review, please wait a couple of hours

[2022-03-18 13:38] peluse commented on #2329
not yet, will today though.  thanks for the reminder

[2022-03-18 13:48] AlekseyMarchuk commented on #2418
Hi @fengchunsong

I checked performance with your patch (results below). It gives good boost, however I noticed that if we read just 1 block (512 bytes in my case) then performance degrades. It looks like we should not use bounce buffer if we are reading only 1 logical block (there will be no scattered payload in that case). I'll leave a comment on gerrit

Regarding performance regression with dif

[2022-03-18 17:04] peluse commented on #2329
@wanqunintel So I can't repro on my system but I do get an error with asan enabled and will file that separately but first since your HW may be suspect can you try grabbing master and running with accel_perf instead? It has a ton more test time than either idxd_perf or kernel mode.  Let's start with something that works on your system and see if we can't work our way into what doesn't.  accel_perf

[2022-03-19 12:46] spdkci commented on #2424
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_73679.html

[2022-03-19 12:47] spdkci commented on #2424
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_73680.html

[2022-03-21 01:47] fengchunsong commented on #2418
Patch7:The get_host_buffers processing is not performed for data with only one logical block size in the I/O request.
please retest it, thanks.

[2022-03-21 01:54] ye1xchen commented on #2329
@peluse  running accel_perf without error as follows:
[root@waikikibeach68 spdk]# build/examples/accel_perf -q 32 -o 4096 -t 5 -w copy
SPDK Configuration:
Core mask:      0x1

Accel Perf Configuration:
Workload Type:  copy
Transfer size:  4096 bytes
Queue depth:    32
Allocate depth: 32
# threads/core: 1
Run time:       5 seconds
Verify:         No

[2022-03-21 17:24:28.035623] Starting SPDK v22.0

[2022-03-21 05:25] wanqunintel commented on #2329
@peluse , thank you for the quick response, after download the latest spdk code and run both idxd_perf and accel_perf, it looks like accel_perf can work normally with performance data printed out without error/failure. and idxd_perf will hang there until use the ctrl+c to kill it. The detailed log is attached for your reference. From the log that you have printed and compare it with my local envir

[2022-03-21 08:18] spdkci commented on #1950
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_73656.html

[2022-03-21 18:00] peluse commented on #2329
Hi, as mentioned in email the line below (from accel_perf)

[2022-03-21 21:14:05.766174] accel_perf.c: 623:identify_accel_engine_usage: *WARNING*: The selected workload is not natively supported by the current engine

tells you that you are not using HW acceleration.  In this case it's because with accel_perf you have to start the app with --wait-for-rpc and send the init idxd rpc followed by fram

[2022-03-21 19:39] peluse opened #2432 "idxd: copy_crc32 with multi-vector hangs"
On master, use the following:

[peluse@fedora examples]$ sudo ./accel_perf -w copy_crc32c -C 2 -c j
SPDK Configuration:
Core mask:      0x1

Accel Perf Configuration:
Workload Type:  copy_crc32c
CRC-32C seed:   0
vector count    2
Vector size:    4096 bytes
Transfer size:  8192 bytes
Queue depth:    32
Allocate depth: 32
# threads/core: 1
Run time:       5 seconds
Verify:         No

where j is th

[2022-03-21 21:45] spdkci commented on #2424
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_73717.html

[2022-03-22 01:24] spdkci commented on #2201
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_73762.html

[2022-03-22 05:56] ye1xchen commented on #2329
thanks @peluse . I retry accel_perf, After running "./scripts/rpc.py idxd_scan_accel_engine -c 0; ./scripts/rpc.py framework_start_init", found message "**no available idxd devices**" . And when using "./scripts/rpc.py idxd_scan_accel_engine -c 0 **-k**; ./scripts/rpc.py framework_start_init " instead, accel_perf will keep looping without results.

Detailed output information is as follows：
 build

[2022-03-22 07:35] karlatec commented on #2392
@changpe1 any hints or updates on this one?

[2022-03-22 07:40] changpe1 commented on #2392
No progress on it yet, do you see VM kernel panic when this issue happened?

[2022-03-22 07:57] shuhei-matsumoto commented on #2364
Hi @krchug

How about enabling I/O error recovery for the target on .18?
We can add -l -1 -o 10 to the bdev_nvme_attach_controller RPC.
Then the expected behavior should happen.

Please have a try when you can.

[2022-03-22 08:26] krchug commented on #2364
HI @shuhei-matsumoto I will give it a try

[2022-03-22 13:35] KKaras169169 opened #2433 "spdk_top displays scheduler data error after recent changes to framework_get_scheduler RPC"
# Bug report

Running spdk_top to peek into SPDK target with dynamic scheduler enabled will result in an error about getting scheduler data being displayed constantly.

![image](https://user-images.githubusercontent.com/49611974/159492503-c41ebad7-91dc-4206-9e1b-ebba2af09302.png)

## Expected Behavior

spdk_top should use JSON decoding function with "_relaxed" suffix, so potential changes to sched

[2022-03-22 13:36] KKaras169169 commented on #2433
Fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/12010

[2022-03-22 13:59] kgodzwox commented on #2422
Working on it
https://review.spdk.io/gerrit/c/spdk/spdk/+/11998

[2022-03-22 14:06] peluse commented on #2329
@ye1xchen  are you working with @wanqunintel ? We're exchanging emails now.  Please sync with her.

[2022-03-22 14:47] tomzawadzki commented on #2381
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/11815 is now merged. No recent reports so closing the issue.

[2022-03-22 14:47] #2381 closed

[2022-03-22 15:11] tomzawadzki commented on #2397
This issue has not occurred in over two weeks after fixing the infrastructure issue. Can be closed.

[2022-03-22 15:11] #2397 closed

[2022-03-22 17:48] peluse commented on #2412
So I mis-spoke, I canont repor - still can't even get a debug env going to work on this.  Using autobuild.sh works and running autotest.sh gives me a failure but not he correct one.  I need to be able to build manually and make changes manually to both SPDK and DPDK in order to debug.  I tried running autobuild.sh and then running configure --with-dpdk=/spdk-temp/dpdk but that doesn't build.  @kar

[2022-03-22 18:17] peluse commented on #2412
OK, I did enough hacking with my dev env that I can do what I need to do now without the automation scripts.  Can repro the segfault above so will fix the error handling error and see what the earlier error is

[2022-03-22 20:02] peluse commented on #2412
The failing DPDK commit is below *however* I haven't debugged it enough to know why and I fully suspect this isn't the only issue.

e0a6761022bd368e114fdea27809391ef0ad2c41 is the first bad commit
commit e0a6761022bd368e114fdea27809391ef0ad2c41
Author: Kai Ji <kai.ji@intel.com>
Date:   Wed Feb 23 08:50:02 2022 +0800

    crypto/qat: unify symmetric functions

    This patch removes qat_sym_pmd.c a

[2022-03-22 21:50] peluse commented on #2412
@karlatec bit of a diversion here as I try to collect enough data to have a conversation with dpdk-dev.  When I try to compile master vs DPDK main I don't get the same issue I see on the nightly builds.  I get this (I can compile fine with 22.01.x and DPDK main).  Any idea what this mess is?

Program cat found: YES (/bin/cat)
Project name: DPDK
Project version: 22.03.0-rc2
Using 'CC' from environm

[2022-03-23 00:45] fengchunsong commented on #2121
@rafalste I also ran into OCF errors when testing 1 MB writes using NVME over RDMA：
 [2022-03-22 17:39:30.025350] subsystem.c:1219:spdk_nvmf_subsystem_listener_allowed: *WARNING*: Allowing connection to discovery subsystem on RDMA/172.19.37.45/8420, even though this listener was not added to the discovery subsystem.  This behavior is deprecated and will be removed in a future release.
[2022-03-22

[2022-03-23 02:38] jimharris commented on #2428
https://review.spdk.io/gerrit/c/spdk/spdk/+/12018 should fix the issue for RDMA transport.
https://review.spdk.io/gerrit/c/spdk/spdk/+/12017 should fix the issue for TCP transport.

Earlier version of both of these patches passed the new fused_ordering test (https://review.spdk.io/gerrit/c/spdk/spdk/+/11963) which failed 100% of the time without these patches.

Waiting for CI to complete testing o

[2022-03-23 05:25] fangli commented on #2428
Awesome 👏 !
Will take a look on Thursday and give it a try.

[2022-03-23 05:59] xjjx commented on #2277
https://review.spdk.io/gerrit/c/spdk/spdk/+/10929 has been merged, so I'm closing this issue.

[2022-03-23 05:59] #2277 closed

[2022-03-23 08:07] spdkci commented on #2424
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_73638.html

[2022-03-23 09:02] #2433 closed

[2022-03-23 13:41] peluse commented on #2412
A bit more info... on the DPDK patch where this begins, new code was added that is processing the ops.  We are unable to get even the first op processed, when we send a burst in we get a return value indicating that 0 were accepted.  The code that is kicking it back is easy to identify but I'll need to talk with dpdk-dev folks to know what/why our inputs were fine before but are not now.  Yuri has

[2022-03-23 14:19] spdkci commented on #2201
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_73839.html

[2022-03-23 14:22] jimharris commented on #2406
Reopening - I just hit this exact same call stack on a completely unrelated patch.

[2022-03-23 14:23] spdkci commented on #2406
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_73834.html

[2022-03-23 17:43] peluse commented on #2412
FYI for those watching at home, the DPDK patch above that is the first failure that I've found is paired with v22.01.x, when using SPDK master+ DPDK main something else is broken.  Working on tracking that down now to better understand the myriad of issues here....

[2022-03-23 18:58] peluse commented on #2412
@karlatec so if I keep going up the DPDK git log all the way to latest main things "just work" and I confirm if I go back to the patch I mention above where things first start going south they're still broken.  So basically with SPDK master *or* v22.01.x I have no problems with crypto when I'm on DPDK main.  Below is the commit that I'm on w/DPDK.  What I don't understand looking at the CI logs is

[2022-03-24 08:22] andreagilardoni opened #2434 "Broadcom RDMA: Failed to post a send for the qpair 0xd10160 with errno -22"
# Bug report
While running `nvmf_tgt` compiled with rdma capabilities I get the following error from the target side:
[code]
This error happens with the following versions of the code: v22.01-rc1, v21.10 and commit 27470646c5a5a8f4ba6e4f94fa96a9b0db918e67.

The initiator causes the error by running the following discover query:
[code]
The fact that the connection is not closed from the target side

[2022-03-24 08:52] andreagilardoni commented on #2434
As requested this is the output of `build/examples/identify`:
[code]

[2022-03-24 09:22] #2410 closed

[2022-03-24 10:21] spdkci commented on #2201
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_73922.html

[2022-03-24 11:07] AlekseyMarchuk commented on #2434
Hi @andreagilardoni

I was not clear when I asked you to run SPDK identify tool. I meant to run it against SPDK nvmf rdma target, e.g. `./build/examples/identify -r 'trtype:RDMA adrfam:IPV4 traddr:$TARGET_IP trsvcid:4420'`

[2022-03-24 15:26] andreagilardoni commented on #2434
Thanks @AlekseyMarchuk, The kernel I am working with is at version 5.15.23.
I am not familiar with SPDK tools and mechanics, I would kindly ask you if you can be more specific as I may get something wrong.

Here is the output of the requested command:
[code]

Here is the logs produced by the target process:
[code]

[2022-03-24 16:36] spdkci commented on #2201
Another instance of this failure. Reported by @benlwalker. log: https://ci.spdk.io/public_build/autotest-per-patch_73908.html

[2022-03-24 16:41] benlwalker opened #2435 "[vfio_user_restart_vm ] QEMU crash during test"
# CI Intermittent Failure

[code]
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/73901/archive/vfio-user-autotest/build.log

## Execution failed at

[code]

[2022-03-24 16:42] spdkci commented on #2435
Another instance of this failure. Reported by @benlwalker. log: https://ci.spdk.io/public_build/autotest-per-patch_73901.html

[2022-03-24 16:45] spdkci commented on #2424
Another instance of this failure. Reported by @benlwalker. log: https://ci.spdk.io/public_build/autotest-per-patch_73902.html