[2021-04-15 03:58] changpe1 commented on #1900
Patch for the failure is here : https://review.spdk.io/gerrit/c/spdk/spdk/+/6932

[2021-04-15 04:06] changpe1 commented on #1900
[Bug Scrub] @wanghailiangx Can you confirm that your patch can work with E810 card?

[2021-04-15 04:19] changpe1 commented on #1894
[Bug Scrub] let's keep it open for a while to see if happened again.

[2021-04-15 04:22] changpe1 commented on #1896
[Bug Scrub] The version you are using is too old, you can check the git log to see which RPC you can check out for your branch. thanks.

[2021-04-15 04:33] Comphix commented on #1884
I will take a look at this one.

[2021-04-15 05:55] wanghailiangx commented on #1900
@changpe1 Yes, we can see tcp packets on one of interface when run fio with E810 card. If we remove the patch, we can’t see tcp packets on the interface.
[code]

[2021-04-15 06:15] changpe1 commented on #1900
I didn't see such error without your patch, so please verify your patch in CI environment multiple times to see if this is intermittent failure.

[2021-04-15 07:52] Comphix commented on #1884
@jimharris , for the SCSI of Read Capacity 16.

I am looking at the SCSI spec https://www.t10.org/ftp/t10/document.05/05-344r0.pdf

At P55 of "5.11 READ CAPACITY (16) command", in this case, we will return the "Physical Blocklen" for the "Block Length in Bytes" field?

[2021-04-15 08:56] Comphix commented on #1884
So in this case, if there is no physical block size set already, we will just set phys_blocklen = blocklen in this case. For a real NVMe backend, if it has NPWG there, will also set the bdev_nvme to that value and then report out to nvmf target.

[2021-04-15 10:05] swapnili commented on #1884
I have raised https://review.spdk.io/gerrit/c/spdk/spdk/+/7310 to address bdev_iscsi.
Please have a look.
Thanks

[2021-04-15 10:25] yidong0635 commented on #1823
dd a nvme disk with and without mkfs  are both ok.
[code]
That means only dd to a file in a mounted device can reproduce this issue.

[2021-04-15 10:34] karlatec opened #1901 "SPDK Vhost memory mapping issues"
## Current Behavior

After recent changes to SPDK vhost there are problems with memory mapping. This does not show up in CI most probably due to scale (number of Vhost CPU cores and/or VMs attached to Vhost) when this occurs. The issue was detected in vhost performance regression tests when the builds started to fail due to IO errors.

I was not able to reproduce this in 1CPU Vhost + 6 VMs or 2CPU

[2021-04-15 10:39] karlatec commented on #1901
### Steps to reproduce extended

High-level description what's actually happening during test script execution:
* Launch SPDK Vhost with given core mask (4CPUs in this case)
* Create NVMe bdevs
* Create Vhost controllers
* Add 1 NVMe Bdev per vhost controller
* Run given number of VMs; each with 2vCPUs, 4GB RAM, connected to a single SPDK Vhost controller
* Wait until all VMs are up and running
*

[2021-04-15 11:32] #1895 closed

[2021-04-15 11:42] wanghailiangx opened #1902 "[nvmf_discovery] Failed to write to /dev/nvme-fabrics: Connection timed out"
************************************
START TEST nvmf_discovery
************************************

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/42063/archive/nvmf-tcp-phy-autotest/build.log

## Execution failed at
[code]

The failure is from CI test of this patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/6932
Build failed. Results: https://ci.spdk.io/pu

[2021-04-15 11:53] mikeBashStuff commented on #1891
I am aware that centos7 will reach its EOL in 2024, but this distro is really lost in time...

[2021-04-15 11:53] karlatec commented on #1891
Oh... so I guess we now have to decide how to proceed from here:
* Provision our Centos7 VMs with custom-build, recent gcc (I highly suggest we don't do that :) )
* Remove Centos7 from vs-dpdk tests
* Stop testing with Centos7 completely.

I think we should just remove it from vs-dpdk tests now, and stop testing with it completely after 21.04 release. At some point when we will want to update dpdk

[2021-04-15 11:58] Comphix commented on #1884
Thanks @swapnili  Let me assign this issue to you.

[2021-04-15 14:04] peluse commented on #1187
DPDK team is targeting a fix (it's a redesign, not a small bug fix) for 21.11

[2021-04-15 14:26] jimharris commented on #1891
This -Wno-stringop-overflow option is coming from SPDK (dpdkbuild/Makefile) not DPDK.  See commit 970c6d099e which was merged shortly before 20.07 release.

@karlatec - any thoughts why we would only be seeing this issue now?

[2021-04-15 14:27] jimharris commented on #1891
Also note that dpdkbuild/Makefile is trying to only enable this option on gcc > 10.x - but that check seems to be failing here.  Maybe the gcc output was different enough in gcc 4.8 that it confuses our check.

[2021-04-15 14:31] jimharris commented on #1901
Bumping this one to critical.

@karlatec - can you confirm that reverting aaac48880 from master fixes the issue?

[2021-04-15 15:05] karlatec commented on #1901
After `git revert aaac48880d`  and rebuilding SPDK I don't see EAL messages anymore when booting VMs and IO data transfer errors are gone too.

[2021-04-15 15:20] jimharris commented on #1901
Thanks @karlatec.  Seems like we should revert this commit for now and continue debugging offline.

[2021-04-15 15:48] jimharris commented on #1901
Revert:  https://review.spdk.io/gerrit/c/spdk/spdk/+/7424

[2021-04-15 17:17] benlwalker commented on #1901
DPDK has a limit of 256 registrations. It's hard coded. I don't see a way to make this work with that limit in place.

[2021-04-15 20:24] jimharris commented on #1901
Revert merged.

[2021-04-15 20:24] #1901 closed

[2021-04-15 20:25] jimharris commented on #1898
Patch merged.

[2021-04-15 20:25] #1898 closed

[2021-04-16 01:51] changpe1 commented on #1855
Since we revert the above commit via ba9853b9ba, so I reopen this issue for now.

[2021-04-16 04:28] changpe1 commented on #1855
After reverting commit 8f7d9ec2f, vhost can work without reporting above errors.

[2021-04-16 04:35] changpe1 commented on #1855
After investigating more, commit 8f7d9ec can only work when there is no PCI devices bind to vfio-pci driver, that's the reason why CI didn't report any error about it.

[2021-04-16 07:18] changpe1 commented on #1902
@wanghailiangx I think the intermittent failure is related with your patch, I didn't see so frequent network issue before with this environment.

[2021-04-16 07:19] changpe1 commented on #1902
please double check your patch for the network configuration, thanks.

[2021-04-16 07:22] changpe1 commented on #1880
patch has been merged, closing this issue now.

[2021-04-16 07:22] #1880 closed

[2021-04-16 07:28] changpe1 commented on #1864
@yidong0635 patch has been merged, do you still see the issue?

[2021-04-16 07:34] yidong0635 commented on #1864
Thanks changpeng, can't see this assertion coredump. Close this one.

[2021-04-16 07:34] #1864 closed

[2021-04-16 07:40] karlatec opened #1903 "‘vfio_user_message_str’ defined but not used when building SPDK"
## Current Behavior

`‘vfio_user_message_str’ defined but not used when` error when building SPDK
https://ci.spdk.io/public_build/autotest-nightly_2910.html

## Steps to Reproduce

1. Build SPDK with options
[code]

## Context (Environment including OS version, SPDK version, etc.)

SPDK ebeac5deccc2bcdd25183e6bc6cfb6bc5c6e6d31
gcc (GCC) 10.2.1 20201125 (Red Hat 10.2.1-9)

[2021-04-16 07:46] wanqunintel commented on #1851
@karlatec , with the patch, we have marked the tasks that have been completed. For others that not marked yet, we will continue with the tasks. Thanks.

[2021-04-16 07:54] yidong0635 commented on #1780
This issue can be closed.

[2021-04-16 09:09] wanghailiangx commented on #1902
Reproduced on local accidentally. Because the network card interface already has an IP address, it was not cleared before running the nvme tcp test, but it only happened by accident.

[2021-04-16 09:09] #1902 closed

[2021-04-16 09:10] mikeBashStuff commented on #1880
@AlekseyMarchuk Apologies for the late reply, I completely forgot to post the response - I confirm, with the merged patch I haven't seen any mem leaks while running this particular test. Thanks for your help!

[2021-04-16 09:33] yidong0635 commented on #1903
@karlatec .https://review.spdk.io/gerrit/c/spdk/spdk/+/7445 may fix this.

[2021-04-16 09:42] karlatec opened #1904 "Segmentation faults with mainline DPDK"
## Current Behavior

Applications seg fault in almost all of our tests with mainline DPDK.
First failing build: https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-main_1513.html
Last stable build: https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-main_1512.html (this is actually failed, but the failures there are my fault because of some faulty CI VMs updates, not because of D

[2021-04-16 10:31] karlatec commented on #1903
Removes "defined but not used" error, but still fails due to:
[code]

Not sure if related though.

[2021-04-16 11:06] yidong0635 commented on #1903
This is another issue, and I can't reproduce it. This should add --with-fuse.

[2021-04-16 11:07] karlatec commented on #1903
I'll create a new GH issue for that ;)

[2021-04-16 13:09] #1780 closed

[2021-04-16 14:14] AlekseyMarchuk commented on #1881
I pushed a patch https://review.spdk.io/gerrit/c/spdk/spdk/+/7457 to address this issue. The patch adds a new parameter to configure zero copy feature for client sockets. Existing parameter configures this feature for listen sockets

[2021-04-16 15:06] #1701 closed

[2021-04-16 18:25] jimharris commented on #1903
That second issue is weird @karlatec.  It is building test/blobfs/fuse, but it should only build it if CONFIG_FUSE=y.  Yet I don't see --with-fuse in your configure options.

[2021-04-16 19:55] jimharris commented on #1904
DPDK 64051bb1f is the culprit.  I can reproduce just by starting spdk_tgt, attach an nvme controller, and then Ctrl-C the target.

Note that the DMA remapping messages still appear if I use DPDK 9667d97c2 (patch just before the failing one).  I bisected, and these messages start appearing with DPDK commit c13ca4e8 (vfio: fix DMA mapping granularity for IOVA as VA).

@changpe1 - is this related to

[2021-04-16 22:05] jimharris commented on #1904
E-mail sent to dev@dpdk.org:

Subject: Bug with commit 64051bb1 (devargs: unify scratch buffer storage)

Hi,

SPDK has identified a regression with commit 64051bb1 (devargs: unify scratch buffer storage).  The issue seems to be with this part of the patch:

@@ -276,15 +287,8 @@ rte_devargs_insert(struct rte_devargs **da)
                if (strcmp(listed_da->bus->name, (*da)->bus->name) == 0 &&

[2021-04-16 23:54] changpe1 commented on #1904
I just reported #1705 to them, not sure when will they fix it.

[2021-04-17 05:21] rch0wdhury commented on #1877
https://review.spdk.io/gerrit/c/spdk/spdk/+/7462

[2021-04-18 22:52] spdkci commented on #1894
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_42441.html

[2021-04-19 06:32] changpe1 commented on #1855
Here is the patch to fix it https://review.spdk.io/gerrit/c/spdk/spdk/+/7470

[2021-04-19 08:11] changpe1 commented on #1896
closing this issue for now.

[2021-04-19 08:11] #1896 closed

[2021-04-19 09:36] spdkci commented on #1900
Another instance of this failure. Reported by @wanghailiangx. log: https://ci.spdk.io/public_build/autotest-per-patch_42484.html

[2021-04-19 10:38] yangliang20065613 commented on #1896
Ok, thank you.

[2021-04-19 11:13] karlatec commented on #1881
@AlekseyMarchuk tested your patch.
There were some changes done to the performance scripts that I use, so I checked out master `b07a04118`, used it as baseline and then cherry-picked your patch for comparison.

Zerocopy enabled on target side in all cases.

Baseline results, master:
[code]

With your patch:
[code]

Interestingly enabling Zcopy for client sockets using RPC paramater does not result

[2021-04-19 12:06] AlekseyMarchuk commented on #1881
@karlatec could you clarify how you enabled/disabled zcopy via RPC param? RPC `sock_imp_set_options` can be used in STARTUP state, so probably it was not applied. That can explain why you see different results between JSON and RPC. I would expect that results are the same

[2021-04-19 12:25] karlatec commented on #1881
@AlekseyMarchuk I'm pretty sure it was applied. I started SPDK with `--wait-for-rpc`, then run `sock_impl_set_options` and finally `framework_start_init`. After that I called `sock_impl_get_options` and `enable_zerocopy_send_client` was set to `true`

[2021-04-19 12:58] #1903 closed

[2021-04-19 14:17] AlekseyMarchuk commented on #1881
@karlatec I'm terribly sorry, there was a typo in rpc.py and the new parameter was not applied at all. I updated my patch, could you verify it?

[2021-04-19 14:30] spdkci commented on #1760
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_42485.html

[2021-04-19 15:27] karlatec commented on #1881
I think this change: https://review.spdk.io/gerrit/c/spdk/spdk/+/7457/1..2/scripts/rpc.py had no effect on my test :) I'm not using rpc.py, but scripts/rpc/sock.py directly, like this:

[code]

[2021-04-19 15:51] spdkci commented on #1863
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_42530.html

[2021-04-19 16:57] jimharris commented on #1904
DPDK upstream has fixed the segfault issue.  @karlatec can you close this once you've confirmed?

But the:

[2021-04-19 23:22] jimharris commented on #1877
Thanks @rch0wdhury!  I posted some feedback on the Gerrit review.

[2021-04-19 23:23] jimharris commented on #1855
Patch merged.

[2021-04-19 23:23] #1855 closed

[2021-04-20 00:52] spdkci commented on #1495
Another instance of this failure. Reported by @dong-liuliu. log: https://ci.spdk.io/public_build/autotest-per-patch_42588.html

[2021-04-20 01:33] changpe1 commented on #1832
The submodule has been updated to include this fix, @karlatec could you have a try with latest SPDK ? thanks.

[2021-04-20 08:42] ChengqiangMeng commented on #1899
here is the patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/7493

[2021-04-20 12:09] karlatec opened #1905 "undefined reference to `spdk_blobfs_bdev_mount'"
## Current Behavior

SPDK compilation fails with:
[code]

https://ci.spdk.io/public_build/autotest-nightly_2916.html

## Steps to Reproduce

1. Build SPDK with:
[code]

## Context (Environment including OS version, SPDK version, etc.)

SPDK `2fd233413b spdk_top: check if SPDK target app has been initialized`
gcc version 9.3.1 20200408 (Red Hat 9.3.1-2) (GCC)
fedora31.localdomain 5.6.11-200.fc31.x8

[2021-04-20 13:16] tomzawadzki commented on #1821
The bug was fixed, addition of test for it makes it an enhancement and marking the issues as such.

[2021-04-20 13:24] karlatec commented on #1904
I don't think it's fully fixed. I'm running tests right now, will update with links to ci.spdk.io soon

[2021-04-20 14:22] AlekseyMarchuk commented on #1881
@karlatec I collected performance metrics with this patch, I used nvme perf and bdevper
bdevperf doesn't show latency but we can see that IOPS/BW results with zcopy enabled have higher fluctuation
One interesting thing that I can't explain is that when zcopy is enabled and I ran perf (it shows statistics each second) then I can see, that if perf reported low IOPS from the start (let's say 14 KIOPS

[2021-04-20 14:36] karlatec commented on #1904
See:
https://ci.spdk.io/public_build/autotest-spdk-v21.01-LTS-vs-dpdk-main_539.html

Builds with coredumps:
https://ci.spdk.io/results/autotest-spdk-v21.01-LTS-vs-dpdk-main/builds/539/archive/nvmf-tcp-nightly-vg-autotest/index.html
https://ci.spdk.io/results/autotest-spdk-v21.01-LTS-vs-dpdk-main/builds/539/archive/nvmf-nightly-vg-autotest/index.html
https://ci.spdk.io/results/autotest-spdk-v21.01-

[2021-04-20 14:42] karlatec commented on #1904
Another one:
https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-main_1526.html

Builds with coredumps:
https://ci.spdk.io/results/autotest-spdk-master-vs-dpdk-main/builds/1526/archive/nvmf-nightly-vg-autotest/index.html
https://ci.spdk.io/results/autotest-spdk-master-vs-dpdk-main/builds/1526/archive/nvmf-tcp-nightly-vg-autotest/index.html

DPDK commit is `a8f8b67 examples/l3fwd: skip Tx

[2021-04-20 15:09] tomzawadzki commented on #1840
[Bug scrub] This should be noted down in documentation as known 3rd party issue.

[2021-04-20 15:13] tomzawadzki commented on #1819
[Bug scrub] @karlatec will check out the log above to confirm if this is the same one. If not, the issue can be closed.

[2021-04-20 15:15] tomzawadzki commented on #1870
[Bug scrub] @mikeBashStuff please link that was to fix the latest report with vhost tests. If that confirms the resolution, feel free to close this one.

[2021-04-20 15:16] karlatec commented on #1819
Looks like the same issue. We should keep this one open for now, I think

[2021-04-20 15:19] tomzawadzki commented on #1891
[Bug scrub] Latest builds on mainline DPDK with Centos7 look to be passing, @karlatec will confirm that the issue reported here no longer occurs.

[2021-04-20 15:22] mikeBashStuff commented on #1870
The initial issue with GP1 was fixed via https://review.spdk.io/gerrit/c/spdk/spdk/+/7269. Later reports point at GP8 which was being affected by a separate job and fixed via this series: https://review.spdk.io/gerrit/c/spdk/spdk/+/7321 Haven't seen similar failures since the last report and GP1 and GP8 seem to have their nvme drives in order so far. Closing, if this issue resurfaces, please reope

[2021-04-20 15:22] #1870 closed

[2021-04-20 15:26] tomzawadzki commented on #1863
[Bug scrub] @peluse can take  a look on the issue.
It looks like now it is possible to reproduce on physical machines running TCP tests, hence the latest two reports.

[2021-04-20 20:23] jimharris commented on #1904
Yeah, we need another fix - this time in SPDK.

https://review.spdk.io/gerrit/c/spdk/spdk/+/7506

We use the rte_devargs::data field to store a timestamp when we see a new device.  Due to some deadlock conditions in the kernel (@mhae documented them well in issue #1275), we need to wait some amount of time after seeing a new device before we actually attach to it.  There are some kernel patches ou

[2021-04-20 22:03] karlatec commented on #1904
I ran a vs-dpdk build with this patch: https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-main_1527.html

[2021-04-20 22:54] jimharris commented on #1904
Yeah, it failed the per-patch too, against current DPDK submodule.

I've pushed a new rev of https://review.spdk.io/gerrit/c/spdk/spdk/+/7506.  I'd say wait until you see that passing CI until you try it again against DPDK main.

[2021-04-21 06:23] changpe1 commented on #1888
I submitted the patch serial here, https://review.spdk.io/gerrit/c/spdk/spdk/+/7519/1.

Currently I added the SCSI specification with "MAXIMUM UNMAP LBA COUNT" and "MAXIMUM UNMAP BLOCK DESCRIPTOR COUNT", ignored the "OPTIMAL UNMAP GRANULARITY" and "GRANULARITY ALIGNMENT", because I found both SPDK iSCSI target and Linux kernel LIO target don't support that, and the NVMe specification also doesn't

[2021-04-21 07:23] karlatec commented on #1904
Seems to be fine in vs-dpdk tests: https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-main_1532.html
Everything passed... **except Centos7, again** :)

[2021-04-21 07:42] karlatec commented on #1891
I take that back. It's failing again: https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-main_1532.html

Here's the git log diff between last CentOS7 [passing build](https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-main_1526.html) and [first failing build](https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-main_1527.html):
[code]

@jimharris maybe we should consider

[2021-04-21 07:47] spdkci commented on #1863
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_42764.html

[2021-04-21 11:43] jlevon commented on #1888
I tested it in our env, works well, thank you.

[2021-04-21 12:36] spdkci commented on #1894
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_42916.html

[2021-04-21 14:39] jimharris commented on #1891
It looks like the uninitialized warnings were fixed in upstream:

http://git.dpdk.org/dpdk/commit/lib?id=fe4b8c7bcdba8c81b77e5c28b0b55c5a6653a3c6

So I guess DPDK is still trying to support gcc 4.8.5.

But I'm still seeing this in the log:
00:03:11.791  cc1: error: unrecognized command line option "-Wno-stringop-overflow" [-Werror]

See my other note above, this option is passed by SPDK to the DPD

[2021-04-21 14:41] jimharris commented on #1891
I think for now we should leave the CentOS 7 tests, maybe we can modify dpdkbuild/Makefile to detect gcc 4.8 and pass -Wno-error so we can reduce the number of failures like this.

[2021-04-21 15:34] karlatec commented on #1891
[code]

[2021-04-21 15:47] jimharris commented on #1891
That's looks right.  I don't understand why the dpdkbuild/Makefile checks aren't working then.  You may need to add some echo statements to the 'all' target, i.e. echo $(GCC_MAJOR).  Maybe also add:

[code]

[2021-04-21 16:42] karlatec commented on #1891
I know why the version does not get detected. Because we build external DPDK via autobuild.sh / build_native_dpdk function. dpdkbuild/Makefile is not used yet.
This should fix it: https://review.spdk.io/gerrit/c/spdk/spdk/+/7536

Also this https://review.spdk.io/gerrit/c/spdk/spdk/+/7537/1 for -Wno-stringop-overflow

[2021-04-21 16:53] jimharris commented on #1891
Oh of course, that makes so much more sense now.  Both of those patches look good to me.

[2021-04-21 22:09] jimharris commented on #1905
I'm not able to reproduce this on my system, but I'm running Ubuntu with gcc 9.1.  The test/blobfs/fuse/Makefile looks right to me.

Can you confirm on this Fedora31+gcc 9.3.1 system that the reduced configure parameters reproduce the issue?
Can you also try removing --enable-lto?

Either way, with a failing case, can you run:

[code]

and attach the full link command here.  blobfs_bdev library sh

[2021-04-21 23:57] mkenguva commented on #1852
@mikeBashStuff Thanks for the info and setup details.
I am unable to find : SPDK v21.04-pre git sha1 47d34dcc1
I have details below based on sha1 e3e7a3087. Could you give more details on commands used and  which commit i can use to reproduce this?

./test/nvme/nvme.sh
************************************
START TEST nvme_arbitration
************************************
 22:46:54       # xtrace_ena

[2021-04-22 03:05] spdkci commented on #1801
Another instance of this failure. Reported by @dong-liuliu. log: https://ci.spdk.io/public_build/autotest-per-patch_43012.html

[2021-04-22 05:15] spdkci commented on #1900
Another instance of this failure. Reported by @dong-liuliu. log: https://ci.spdk.io/public_build/autotest-per-patch_43051.html

[2021-04-22 06:08] spdkci commented on #1863
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_42975.html

[2021-04-22 08:40] spdkci commented on #1819
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_43075.html

[2021-04-22 13:30] karlatec commented on #1905
TBH I did not run this manually before, so I did not check the short version. I cannot reproduce this manually with configure + make, even with all these configuration options.
I am pretty sure that this build fails because of `run_test "build_rpms" build_rpms` in `autopackage.sh`. The build with LTO runs just after this test. If I comment `build_rpms` then there's no error from ld.

[2021-04-22 14:34] karlatec commented on #1905
Fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/7562

[2021-04-22 14:56] spdkci commented on #1900
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_43130.html

[2021-04-22 15:00] spdkci commented on #1900
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_43128.html

[2021-04-22 15:44] #1899 closed

[2021-04-22 16:53] mikeBashStuff commented on #1852
@mkenguva I wasn't working on any specific commit, the spdk was built from whatever was on `master` at a given moment. But at the time I was reporting this issue, the `master` was pointing at `v21.01-rc1-381-g0968ee2fc` so 0968ee2fc was at the very top. That said,  there is a chance that when I was running builds (from which I got the above logs) the master branch was at  a different point in time

[2021-04-22 17:15] karlatec commented on #1905
https://ci.spdk.io/public_build/autotest-nightly_2930.html (results should upload shortly)

[2021-04-22 17:34] tomzawadzki opened #1906 "[nvmf_filesystem] Cannot remove namespace file"
Execution fails in nvmf_tcp_phy autotest, which suggest that changes in patch below might affect it:
https://review.spdk.io/gerrit/c/spdk/spdk/+/6932
@wanghailiangx Do would you mind taking a look ?

## Link to the failed CI build

https://review.spdk.io/gerrit/c/spdk/spdk/+/7561/
https://ci.spdk.io/results/autotest-per-patch/builds/43146/archive/nvmf-tcp-phy-autotest/build.log

## Execution faile

[2021-04-22 17:35] spdkci commented on #1906
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_43146.html

[2021-04-22 17:41] karlatec commented on #1891
https://ci.spdk.io/public_build/autotest-spdk-master-vs-dpdk-main_1546.html
Results should be available in about 1-1.5 hour. The test is still running. Posting the comment now, because I'm wrapping up for today :)

[2021-04-22 17:53] jimharris commented on #1905
Patch merged.  Thanks @karlatec!

[2021-04-22 17:53] #1905 closed

[2021-04-22 18:09] mkenguva commented on #1852
Thanks for the info.
I have tried the test on latest commit as of today with SPDK v21.04-pre git sha1 7db06707f and also above mentioned sha1 0968ee2fc , i cannot reproduce the issue with mentioned errors
![image](https://user-images.githubusercontent.com/50601283/115765035-1aaf9c80-a35b-11eb-8767-830f2454214e.png)

@jimharris @tomzawadzki let us know if any additional checks needed, thanks.

[2021-04-22 18:36] mkenguva commented on #1893
patch submitted https://review.spdk.io/gerrit/c/spdk/spdk/+/7567 to address this.

[2021-04-22 18:38] jimharris commented on #1852
@mkenguva - can you run build/examples/identify from the VM and post your results here?

I just had someone report this same issue to me privately - but bare metal and using nvme drive through the bdev layer.  Exactly same error message signature.  He has an SSD that supports SGL.  His test fails within one minute.   I had him disable SGL (with a code patch - we really need a dynamic way to do tha

[2021-04-22 19:05] mkenguva commented on #1852
sure , based on SPDK v21.04-pre git sha1 7db0670.

[code]

[2021-04-22 19:13] jimharris commented on #1852
OK, so SGL not supported:

[code]

@mikeBashStuff, can you check the same on your configuration?

[2021-04-22 19:40] spdkci commented on #1863
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_43177.html

[2021-04-22 20:15] spdkci commented on #1900
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_43181.html

[2021-04-22 21:23] benlwalker commented on #1867
This patch fixes it, but we cannot figure out why. This patch should be doing absolutely nothing.

https://review.spdk.io/gerrit/c/spdk/spdk/+/7479

[2021-04-23 00:19] spdkci commented on #1900
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_43195.html

[2021-04-23 08:09] wawryk commented on #1821
Forgot to add info about added test.
Patch available [here](https://review.spdk.io/gerrit/c/spdk/spdk/+/7038)

[2021-04-23 08:29] #1904 closed

[2021-04-23 09:00] wanghailiangx commented on #1906
From dmesg, we can see the insterface enp10s0f0 go through a restart process.
[code]

This issue can be reproduced by chance. In this circumstances, the local target inferface ens786f0 is not displayed.
"ifconfig ens786f0 up" can't work, show:
`ens786f0: ERROR while getting interface flags: No such device`
After half a minute, and there was no operation, ths ens786f0 was up again.

To solve this p

[2021-04-23 09:01] wanghailiangx commented on #1900
Please see my comments in https://github.com/spdk/spdk/issues/1906. These two should be the same problem.

[2021-04-23 09:12] ksztyber commented on #1840
Added note in the nvmf docs: https://review.spdk.io/gerrit/c/spdk/spdk/+/7577. Need to remember to update/remove it once this issue gets resolved.

[2021-04-23 12:26] tmakatos opened #1907 "nvmf: `make run` fails in `nvme-cli/tests`"
## Expected Behavior
`make run` should succeed (?)

## Current Behavior
`make run` fails in `nvme-cli/tests` with lots of errors. Log file attached. I don't know whether these tests are correct in the first place, maybe worth looking into.

## Steps to Reproduce

1.  Clone https://github.com/linux-nvme/nvme-cli and enter `tests`. Make sure to install the dependencies documented in `tests/README`.

[2021-04-23 12:28] tmakatos commented on #1907
[test.txt.gz](https://github.com/spdk/spdk/files/6365276/test.txt.gz)

[2021-04-23 12:37] gaowayne opened #1908 "[FAQ] what is the details steps to run fio plugin on the vhost device directly without qemu KVM?"
## Expected Behavior
can anyone give me one detail example steps?

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context (Environment including OS version, SPDK version, etc.)

[2021-04-23 12:45] spdkci commented on #1906
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_43272.html

[2021-04-23 14:20] tomzawadzki opened #1909 "[nvmf_lvol] Assert SPDK_BLOB_STATE_DIRTY during bdev_lvol_snapshot"
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/43283/archive/nvmf-phy-autotest/build.log\

## Execution failed at

[code]

[2021-04-23 14:22] spdkci commented on #1909
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_43283.html

[2021-04-23 14:22] spdkci commented on #1909
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_43275.html

[2021-04-23 14:26] spdkci commented on #1801
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_43288.html

[2021-04-23 16:54] spdkci commented on #1819
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_43301.html

[2021-04-23 20:29] spdkci commented on #1909
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_43338.html

[2021-04-23 21:27] spdkci commented on #1909
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_43347.html

[2021-04-23 22:37] spdkci commented on #1909
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_43356.html

[2021-04-23 22:55] spdkci commented on #1906
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_43359.html

[2021-04-25 01:49] spdkci commented on #1900
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_43407.html

[2021-04-25 03:27] yidong0635 commented on #1900
Can we change  from the host side ?
that means to increase the keep alive timer, this will not cause CI testing time, Just enlarge the
tolerance of host connection . https://review.spdk.io/gerrit/c/spdk/spdk/+/7605. Apply this on other failing patch caused by this issue. It works .

[2021-04-25 03:34] gaowayne commented on #1908
how to fix this error?
[code]

[2021-04-25 04:43] changpe1 commented on #1908
@gaowayne you can start you test application(not vhost) with "-g, --single-file-segments" parameter to avoid this issue.

[2021-04-25 08:54] gaowayne commented on #1908
@changpe1 you mean run vhost with "-g, --single-file-segments"? I got above vhost error when I run below rpc command
scripts/rpc.py bdev_virtio_attach_controller --dev-type blk --trtype user --traddr /var/tmp/vhost.1 --vq-count 2 --vq-size 512 VirtioBlk0

[2021-04-25 09:12] gaowayne commented on #1908
@changpe1 I add -g parameter to vhost now. I can create the virtioblk0 device successfully with rpc command.
^C[root@intel-obmc spdk]# build/bin/vhost -S /var/tmp -m 0x3 -g

but I failed to save_config to one json file with this vhost process. it told me timeout.
Timeout while waiting for response:

may I know how can I create one json file that vhost can start load it. and I use another fio_plugi

[2021-04-26 06:48] spdkci commented on #1909
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_43335.html

[2021-04-26 06:49] spdkci commented on #1909
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_43313.html

[2021-04-26 06:50] spdkci commented on #1909
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_43353.html

[2021-04-26 06:52] spdkci commented on #1909
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_43344.html

[2021-04-26 07:26] spdkci commented on #1909
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_43454.html

[2021-04-26 07:59] karlatec opened #1910 "-Werror=unused-result when building in thread.c busy_poller_set_interrupt_mode()"
## Current Behavior

Compliation fail during autopackage.sh build without debug and with enabled lto.
https://ci.spdk.io/public_build/autotest-nightly_2949.html

## Steps to Reproduce

1. SPDK built with
[code]
2.
[code]

## Context (Environment including OS version, SPDK version, etc.)

SPDK `365db9ee48 sock/posix: Deal with hung I/O with MSG_ZEROCOPY and interrupt suppression`
gcc version 9.3.1

[2021-04-26 08:03] yidong0635 commented on #1910
Jim‘s patch has been merged ：https://review.spdk.io/gerrit/c/spdk/spdk/+/7593 . Please rebase the code.

[2021-04-26 09:02] mikeBashStuff commented on #1852
@jimharris Same on my end:
[code]

[2021-04-26 09:05] karlatec commented on #1910
Thanks @yidong0635 , I did not notice it.

[2021-04-26 09:05] #1910 closed

[2021-04-26 09:11] yidong0635 commented on #1910
I'm also not notice about it and happy to submit a duplicated patch. :)

[2021-04-26 09:49] mikeBashStuff commented on #1852
@mkenguva I dived in a littler bit deeper into the build logs from when I first encountered this issue and I think I made a mistake regarding the affected qemu version. So the `47d34dcc1` commit was my local commit which was adding support for qemu 5.2.0 to the `vm_setup.sh` on top of `master`. I dropped this version in favor of 5 but at the time my pmr VMs were actually run under 5.2.0. So with t

[2021-04-26 12:04] karlatec opened #1911 "Unrelated CI test fail due to "Not all tests were run. Failing the build.""
## Current Behavior

Some of the CI tests failed due to "Not all tests were run. Failing the build." even though tested change had nothing to do with changing the tests.

## Possible Solution

None, already resolved. This was caused by CI misconfiguration resulting in some test jobs being run with wrong VM images.

[2021-04-26 12:04] karlatec commented on #1911
This was already fixed. Will re-trigger affected builds here and close the issue after couple of days.

[2021-04-26 12:06] spdkci commented on #1911
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_43478.html

[2021-04-26 12:06] karlatec opened #1912 "Various CI jobs timeout on PE1-VM-Host test node"
## Current Behavior

Some of the CI tests failed due to timeout occurring especially on PE1-VM-Host test node.

## Possible Solution

None, already resolved. This was caused by CI misconfiguration resulting in some test jobs being run with wrong VM images.

[2021-04-26 12:07] karlatec commented on #1912
This was already fixed. Will re-trigger affected builds here and close the issue after couple of days.

[2021-04-26 12:08] spdkci commented on #1912
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_43495.html

[2021-04-26 12:09] spdkci commented on #1912
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_43496.html

[2021-04-26 12:09] spdkci commented on #1912
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_43489.html

[2021-04-26 12:09] spdkci commented on #1912
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_43491.html

[2021-04-26 12:09] spdkci commented on #1911
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_43493.html

[2021-04-26 12:11] spdkci commented on #1912
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_43471.html

[2021-04-26 12:11] spdkci commented on #1912
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_43475.html

[2021-04-26 12:11] spdkci commented on #1911
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_43479.html

[2021-04-26 12:12] spdkci commented on #1912
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_43470.html

[2021-04-26 12:12] spdkci commented on #1912
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_43469.html

[2021-04-26 12:14] KKaras169169 opened #1913 "[nvmf_filesystem_no_incapsule] Failed to write to /dev/nvme-fabrics: Connection timed out"
[nvmf-tcp-phy-autotest] -> [nvmf_filesystem_no_incapsule] Ci reports connection time out after listening on 10.0.0.2 port 4420

## Link to the failed CI build
https://ci.spdk.io/results/autotest-per-patch/builds/43310/archive/nvmf-tcp-phy-autotest/build.log

## Execution failed at

00:04:39.831   18:50:50	# /var/jenkins/workspace/nvmf-tcp-phy-autotest/spdk/scripts/rpc.py nvmf_create_subsystem nqn.

[2021-04-26 12:16] spdkci commented on #1913
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_43310.html

[2021-04-26 12:37] karlatec commented on #1913
Looks like a duplicate of #1900

[2021-04-26 12:44] karlatec opened #1914 "SPDK v21.01 vs OCF master various compilation failures"
## Current Behavior

## Possible Solution

## Steps to Reproduce

1. Checkout SPDK v21.01.x branch, update submodules
2. Change directory into OCF submodule directory. Change branch to master and pull latest sources.
3. Build SPDK with
[code]
4. Build fails due to compilation errors:
[code]

[SPDK-v2101-vs-ocf-master.txt](https://github.com/spdk/spdk/files/6377085/SPDK-v2101-vs-ocf-master.txt)

##

[2021-04-26 12:45] karlatec commented on #1914
@tomzawadzki FYI

[2021-04-26 12:48] karlatec opened #1915 "SPDK master vs OCF master various compilation failures"
## Steps to Reproduce

1. Checkout SPDK master branch, update submodules
2. Change directory into OCF submodule directory. Change branch to master and pull latest sources.
3. Build SPDK with
[code]

4. Build fails due to compilation errors:
[code]

[SPDK-master-vs-OCF-master.txt](https://github.com/spdk/spdk/files/6377105/SPDK-master-vs-OCF-master.txt)

## Context (Environment including OS version

[2021-04-26 12:49] karlatec commented on #1915
@tomzawadzki FYI

[2021-04-26 13:00] spdkci commented on #1909
Another instance of this failure. Reported by @floatious. log: https://ci.spdk.io/public_build/autotest-per-patch_43499.html

[2021-04-26 13:14] spdkci commented on #1911
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_43498.html

[2021-04-26 15:38] jimharris commented on #1900
Hi @yidong0635,

I have a couple of concerns with just increasing the keep alive timer:

1) it just works around the problem - I think we should try to understand more *why* the keep alive timer is expiring before we just increase it
2) this issue is intermittent, so re-running a patch once and seeing it pass does not necessarily indicate it will always pass

-Jim

[2021-04-26 15:52] spdkci commented on #1909
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_43509.html

[2021-04-26 16:08] mikeBashStuff opened #1916 "print_namespace: Assertion `spdk_nvme_ns_is_active(ns)' failed."
[code]

Running `identify` under the above setup fails with the following (note that there is only a single (nsid==1) namespace configured on the drive):

[code]
It may be that the whole new way of configuring nvme drives in 5.2.0 is broken (they introduced `nvme-ns` cmd there).

Odly enough, the attempt to load a simple configuration also fails in a bit strange manner:
[code]
Backtrace:
[code]
[c

[2021-04-26 16:11] mikeBashStuff commented on #1852
@mkenguva Ok, I run a batch of builds against 5.1.0 and 5.2.0 and it seems that indeed 5.2.0 is the problematic version here not 5.1.0, at least under my setup. Now, I've tried to reconfigure your VM to use 5.2.0, however I hit yet another issue which unfortunately I can't reproduce in my own environment: https://github.com/spdk/spdk/issues/1916.

[2021-04-26 16:24] jimharris commented on #1852
@mikeBashStuff can you do a QEMU bisect between 5.1.0 and 5.2.0?  I don't necessarily think there's a QEMU bug (especially since we have the similar report from a bare metal configuration) but clearly there's something in QEMU that is inducing this bug to occur.

[2021-04-26 17:02] spdkci commented on #1912
Another instance of this failure. Reported by @spdkci. log: https://ci.spdk.io/public_build/autotest-per-patch_43471.html

[2021-04-26 19:02] mikeBashStuff commented on #1852
@jimharris I am afraid I don't see anything particular in the bisect (especially in context of the #1916 which I cannot reproduce outside of this one setup). Here's a small summary of what I found:

Autotest setups:
1. Ubuntu1804 (Host), QEMU: 5.2.0*, VM: Fedora31 (5.8.18-100) - Monica's setup
    - Tests fail early on as described in #1916, `nvme_arbitration` is not even reached
    -  `nvme_arbi

[2021-04-26 20:13] jimharris commented on #1834
Hi @changpe1, can we close this issue?

[2021-04-26 21:02] benlwalker commented on #1867
On the latest master we can't reproduce the latency increase anymore. Closing this out. We can re-open it if it shows up again.

[2021-04-26 21:02] #1867 closed

[2021-04-26 21:45] jimharris commented on #1781
Patches have been merged.  Thanks @shuhei-matsumoto!

[2021-04-26 21:45] #1781 closed

[2021-04-26 21:46] jimharris commented on #869
We've added the bdev_wait_for_examine RPC to address this issue.  Closing.

[2021-04-26 21:46] #869 closed

[2021-04-26 22:49] #1893 closed

[2021-04-26 23:05] jimharris commented on #1891
Looks good.  Closing.

[2021-04-26 23:05] #1891 closed

[2021-04-26 23:06] jimharris commented on #1871
Hi @balamsg, thanks for your work on this issue!  The patches have been merged, so closing this issue.

[2021-04-26 23:06] #1871 closed

[2021-04-26 23:08] jimharris commented on #1828
Marking as third party issue for now, since there are other known issues with GCP's NVMe implementation and waiting for a reproducible test case with upstream SPDK.

[2021-04-27 01:17] changpe1 commented on #1834
Closing this issue now as the patch has been merged.

[2021-04-27 01:17] #1834 closed

[2021-04-27 06:19] wanghailiangx commented on #1900
@yidong0635 When I repeated this issue on local occasionally, I change "keep_alive_timeout_ms" according to your patch, but it has no effect, in the process of running FIO, IP will still be lost.

[2021-04-27 08:07] spdkci commented on #1912
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_43495.html

[2021-04-27 08:09] spdkci commented on #1911
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_43498.html

[2021-04-27 08:37] yidong0635 commented on #1900
@jimharris @yidong0635 yes, the root cause of this issue is still need other one to investigate.
I just observed this keep alive timer timeout issue a long time. And most of the questions, they can be covered by changed the
keep alive timer from the host side. This wastes us a lot time.  The keep alive timer is too short in real test environment some times. before we have done some experiments abo

[2021-04-27 09:27] spdkci commented on #1906
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_43587.html

[2021-04-27 11:31] gila opened #1917 "concurrent nvme attach fails between separate SPDK instances"
Given two separate SPDK instances, s1 and s2. When s1 connects to an nvmf target on s2, while concurrently s2 connects to an nvmf target on s1, at least one of the attempts fails and sometimes both fail (timing).

The problem seems to be in the way the initial connections are handled. While s1 or s2 is trying the connection attempt, there is a do-while loop in `nvme_tcp_qpair_icreq_send()` that wi

[2021-04-27 11:55] wanghailiangx commented on #1900
Now I don't repeat this problem locally. The reason why I can repeat it before is that I run the test immediately after reloading the ice driver. The time is not long enough, resulting in the loss of the set IP.

[2021-04-27 12:14] optimistyzy opened #1918 "[nvmf-tcp-uring] blobfs test failed on nvmf tcp"
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/43606/archive/nvmf-tcp-uring-vg-autotest/build.log

## Execution failed at

0:06:59.487  in test/nvmf/target/nvmf_lvol.sh:43 -> main(["--transport=tcp"])
00:06:59.487       ...
00:06:59.488     38  	perf_pid=$!
00:06:59.488     39
00:06:59.488     40  	sleep 1
00:06:59.488     41
00:06:59.488     42  	# Perform so

[2021-04-27 12:16] spdkci commented on #1918
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_43606.html

[2021-04-27 12:16] spdkci commented on #1918
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_43603.html

[2021-04-27 12:17] mikeBashStuff commented on #1918
Core info from one of the builds: https://ci.spdk.io/results/autotest-per-patch/builds/43606/archive/nvmf-tcp-uring-vg-autotest/coredumps/index.html

[2021-04-27 14:33] karlatec commented on #1918
`00:06:57.099  nvmf_tgt: blobstore.c:1237: blob_serialize: Assertion `blob->state == SPDK_BLOB_STATE_DIRTY' failed.`
Duplicate of #1909

[2021-04-27 14:36] karlatec commented on #1835
Last entry does not match the issue, so it's been over 3 weeks since last report.
@wawryk could you add a comment what was done on infrastructure side, so we can close the issue?

[2021-04-27 14:48] spdkci commented on #1819
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_43631.html

[2021-04-27 14:59] benlwalker opened #1919 "NVMe-oF tests will use local NVMe SSDs if they are present rather than connecting to the new NVMe-oF SSD as expected"
Running some of the tests in /test/nvmf in --iso mode while having a local NVMe SSD will end up routing I/O to that local NVMe SSD instead of the newly created NVMe-oF disks. Most importantly, they'll do this even if the NVMe SSD *has an existing filesystem and was ignored by setup.sh*. This corrupts the data on the disk.

We likely need to track which disks were present on the system at the begin

[2021-04-27 15:26] mikeBashStuff commented on #1919
@benlwalker Would you kindly give an example of the test which behaves in such a way? Have you run the entire `./test/nvmf/nvmf.sh` suite or some specific tests? Asking since there's a lot of use-cases covered and going through them one by one may be quite cumbersome. :)

In general, from the top of my head, most of the tests should use stuff like `get_nvme_bdfs()` or `nvme_in_userspace()` (or jus

[2021-04-27 15:57] karlatec commented on #1813
Probably fixed. Tested this manually and after starting a single VM multiple times with nvmf_tgt process running in the background I did not see any crash or segfault.
But let's still leave this open until we have spdk/test/vhost tests for this case.

[2021-04-27 16:05] tmakatos commented on #1813
I've been rebooting VMs regularly for quite some time now and haven't run into this.

[2021-04-27 16:10] spdkci commented on #1819
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_43638.html

[2021-04-27 16:10] karlatec commented on #1822
Could we re-open the issue? After merging the fixes and doing a manual re-test this looks fine, but I'd like to keep the issues open until we can get automated tests in place, so we can get the issues covered (like in 1813 issue)

[2021-04-27 16:20] karlatec commented on #1832
Looks good to me. I ran SPDK process on NUMA 1, VM on NUMA 0, restarted this a couple of times, and did not see an issue. Let's keep this open until we can cover this issue with automated tests.

[2021-04-27 16:31] AlekseyMarchuk commented on #1881
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/7457 disables zcopy_send for client sockets, merged

[2021-04-27 16:31] #1881 closed

[2021-04-27 16:37] #1918 closed

[2021-04-27 16:38] #1913 closed

[2021-04-27 17:16] karlatec commented on #1908
Hi @gaowayne. When creating GH issues and/or questions please try to fill out the form which is displayed when you click "new issue" and provide as much information as possible.

If this scenario what you are looking for?

0. Make sure to build SPDK with `--with-fio` option.
1. In terminal 1 start Vhost target & confiugure it; create a few SCSI controllers
[code]

Next points are optional, to show

[2021-04-27 19:09] benlwalker opened #1920 "test/nvmf/target/nvmf_example.sh does not work in --iso mode"
Running `./test/nvmf/target/nvmf_example.sh --transport=tcp --iso` seems to have stopped working with the following error:

[code]

It's important that test continue to work in iso mode on systems without any special configuration (i.e. dev boxes).

[2021-04-27 21:36] jimharris commented on #1852
@mikeBashStuff how are you running the tests exactly?  I've built QEMU 5.2 locally, using the Fedora31 vagrant box, and then run test/nvme/nvme.sh.  It seems to be running fine for me so far.

I also ran build/examples/identify, and it shows SGL support.

[2021-04-27 22:03] changpe1 commented on #1822
Sure, using physical NVMe devices with vfio-user still has some issues, but the error isn't same like this issue, let's keep it open for now.

[2021-04-28 00:15] jimharris commented on #1917
This is essentially the same issue as #587, but we closed that one as an unsupported use case (NVMe target connecting to itself).  This issue here is with a valid use case.  But it's going to require quite a bit of work...

I put together something a bit simpler to reproduce this issue.  Just start two targets:

[code]

[code]

Then run the following script:

[code]

It's not just the icreq - ther

[2021-04-28 02:11] ChengqiangMeng opened #1921 "[spdk_top]member access within null pointer of type 'struct rpc_thread_info'"
## Current Behavior

Run `./test/scheduler/scheduler.sh`, then run `./build/bin/spdk_top` and hold `2`(on keyboard). The error may occur.
Notice: If no error occurred. Rerun `./build/bin/spdk_top` and also hold `2`. The error very easy to happen.
[code]

## Steps to Reproduce
1.` ./configure --enable-asan --enable-ubsan --enable-debug  && make -j`
2. `./test/scheduler/scheduler.sh`
3. `./build/bin

[2021-04-28 07:20] spdkci commented on #1819
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_43642.html

[2021-04-28 07:33] ChengqiangMeng commented on #1921
Print the values of g_thread_info->id and core_info->threads.thread[j].id every time get_data, sometimes a and B don't correspond.

[2021-04-28 07:46] spdkci commented on #1909
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_43454.html

[2021-04-28 07:57] ChengqiangMeng commented on #1921
Every time get_data tracks the values of g_thread_info-> id and core_info-> threads.thread [j].id, it is found that sometimes the values of g_thread_info-> id and core_info-> threads.thread [j].id do not correspond.

[2021-04-28 09:21] spdkci commented on #1906
Another instance of this failure. Reported by @wanghailiangx. log: https://ci.spdk.io/public_build/autotest-per-patch_43667.html

[2021-04-28 10:59] karlatec opened #1922 "vfio-user: Memory region register / unregister failed when restarting Qemu VM"
## Current Behavior

After restarting Qemu VM which attaches to vfio-user socket there's a bunch of errors displayed:
[code]

## Steps to Reproduce

1. Build SPDK
[code]
2. Run SPDK target and configure to use vfio-user transport:
[code]
3. Run the VM:
[code]
4. Log in to VM, check attached bdev is visible and shut down the VM:
[code]
5. Start the VM with the same command as in point 3. Error mess

[2021-04-28 11:03] wanghailiangx commented on #1900
IP lost in fio and keep alive timeout, this can be reproduced sometimes on condition that:
1.  just run fio such as ./test/nvmf/host/fio.sh --transport=tcp --iso
2. systemctl start NetworkManager.service
3. ifup ens786f0 (ens786f0 is tcp network card target interface)
4. Run the above fio again and there is an error keep alive timeout.

The solution as a workaround is:
Before running nvme TCP test

[2021-04-28 16:43] mikeBashStuff commented on #1852
[failed_nvme_arbitration.zip](https://github.com/spdk/spdk/files/6393426/failed_nvme_arbitration.zip) Ok, here are the logs, including core dumps, form my local CI job where `nvme_arbitration` fails under qemu v5.2.0. Now, I need to again rectify my previous comment this time about the SGL: from the `build.log`, right under `nvme_identify` test, it shows that SGL is indeed supported by the emulate

[2021-04-28 19:51] jimharris commented on #1916
https://review.spdk.io/gerrit/c/spdk/spdk/+/7658 should fix this issue.

Pasting commit message here as an explanation:

nvme: remove IDENTIFY_CNS quirk from normal QEMU SSDs

The IDENTIFY_CNS quirk was applied as part of QEMU
OCSSD handling in commit 6442451b.  But it was applied
not only to the OCSSD dev ID, but also the dev ID
for non-OCSSD NVMe controllers.

Starting with QEMU 5.2, QEMU will a

[2021-04-28 19:55] jimharris commented on #1852
After lots of discussion with @mikeBashStuff and @mkenguva including comparison of configurations, I realized it could be a very specific memory layout/allocation pattern that might be needed to replicate this problem on my setup.

So I modified the nvme arbitration app to allocate larger buffers, but pass a starting buffer to the nvme driver that started just before a 2MB boundary.  That immediat

[2021-04-28 19:58] jimharris commented on #1916
Marking this bug as high, because it affects all SPDK tests in QEMU VMs with QEMU version >= 5.2.

[2021-04-28 21:01] benlwalker commented on #1919
I was trying to run the whole nvmf.sh suite and it corrupted one of my other disks. I didn't notice it right away so I don't have the exact test that did it handy. But I'm fairly positive it was due to the kernel NVMe initiator connecting to the SPDK NVMe-oF target, then fio being run against that kernel block device but incorrectly selecting my local NVMe SSD at /dev/nvme0n1 rather than the new k

[2021-04-29 02:05] changpe1 commented on #1922
Soft reboot with a physical NVMe device attached will always cause some failures, there are some issues that we didn't figure out in QEMU/libvfio-user.

[2021-04-29 02:08] changpe1 commented on #1922
Here is the error case I met when using a physical NVMe device as the backend:

qemu-system-x86_64: kvm_set_user_memory_region: KVM_SET_USER_MEMORY_REGION failed, slot=4, start=0xc0000, size=0xbff40000: File exists
kvm_set_phys_mem: error registering slot: File exists
Aborted (core dumped)

[2021-04-29 02:21] #1908 closed

[2021-04-29 03:04] wanghailiangx commented on #1900
According to the tips Ziye gave, I verified the following methods, configuring a device as unmanaged in NetworkManager. It is effective for this issue.
https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/configuring_and_managing_networking/configuring-networkmanager-to-ignore-certain-devices_configuring-and-managing-networking#permanently-configuring-a-device-as-unmanaged

[2021-04-29 03:56] optimistyzy commented on #1900
So I think that if there is NIC cards equipped for test (Using the IPs allocated by our script), then we should write some scripts to remove those cards from network service manager.  Then this solution will not affect the DHCP IP configuration and retrieval  of the embedded NIC for management purpose. It is much better to just stop the network service manager service during the running the tests.

[2021-04-29 04:12] changpe1 commented on #1919
[Bug Scrub] scripts/fio.py maybe can take a parameter for disks that can run over fio tests, @mikeBashStuff could you take a look?

[2021-04-29 04:19] changpe1 commented on #1917
[Bug Scrub] We will not fix it for now, it needs more work on the common layer.

[2021-04-29 04:36] changpe1 commented on #1907
[Bug Scrub] This issue does exist, we will go through the failures one by one, some failures we will not fix it, e.g: format command.

[2021-04-29 04:54] changpe1 commented on #1900
[Bug Scrub] The issue was due to the network issue, but we need to figure out which function is blocked during the tests, because perf only test with 10 seconds, while the keep alive timeout is 20 seconds.

[2021-04-29 05:48] dong-liuliu commented on #1907
@wumengjin Seems I can only find your name only after your first reply to any github issue

[2021-04-29 06:55] changpe1 commented on #1922
link this issue to https://github.com/nutanix/libvfio-user/issues/439, we will also track it there.

[2021-04-29 07:01] spdkci commented on #1900
Another instance of this failure. Reported by @changpe1. log: https://ci.spdk.io/public_build/autotest-per-patch_43765.html

[2021-04-29 07:04] spdkci commented on #1909
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_43690.html

[2021-04-29 07:15] #1852 closed

[2021-04-29 07:15] #1916 closed

[2021-04-29 07:17] spdkci commented on #1900
Another instance of this failure. Reported by @changpe1. log: https://ci.spdk.io/public_build/autotest-per-patch_43759.html

[2021-04-29 07:18] spdkci commented on #1900
Another instance of this failure. Reported by @changpe1. log: https://ci.spdk.io/public_build/autotest-per-patch_43763.html

[2021-04-29 07:21] #1909 closed

[2021-04-29 07:40] mikeBashStuff commented on #1919
@changpe1 Sure, will check it out.

[2021-04-29 07:41] optimistyzy commented on #1900
It could be divided into two issues. The first issue is the IP lost issue, and the second is the hang issue. HaiLiang's work is to address the IP lost issue.

[2021-04-29 07:45] mikeBashStuff commented on #1916
Just to confirm that with 6fd1cc3716d847e708742f9b533325b6a747eb6b I can't reproduce this issue anymore.

[2021-04-29 08:13] mikeBashStuff commented on #1852
With 5354d0c63f5da25e3c85d77bbfa44530d58c78e5 issue seems to be gone, I can't reproduce it anymore.

[2021-04-29 09:26] mikeBashStuff opened #1923 "bdev_bounds test fail under qemu 6.0.0"
[code]
VM config:
[code]
Point of failure:
[code]

Log bundle from the local build:
[6.0.0.zip](https://github.com/spdk/spdk/files/6397519/6.0.0.zip)

This popped up while tryin to bump the vanilla qemu to 6.0.0 to be able to run functional pmr tests that recently got merged: e04da24cf62a7c50846dcf67093cb7266a720e6f. Currently these are not being run on the CI due to this issue and unfortunately o

[2021-04-29 09:29] wanghailiangx commented on #1920
@benlwalker
These error are not problem, only are initialization operation in function nvmf_veth_init().
[code]
I didn't repeat your issue. What are the conditions for this issue? Is it always present in your environment?

[2021-04-29 13:01] spdkci commented on #1909
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_43807.html

[2021-04-29 13:28] rafalste commented on #1915
This is due to mpool implementation in new OCF 21.3. It is already fixed internally but we're waiting with patch submission for additional performance tests.

[2021-04-29 13:47] spdkci commented on #1909
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_43820.html

[2021-04-29 13:58] mikeBashStuff commented on #1919
Testing following approach: https://review.spdk.io/gerrit/c/spdk/spdk/+/7684

[2021-04-29 13:59] rafalste commented on #1914
This is due to OCF 20.12.2 changes (SPDK 21.01 has OCF 20.3 included). But it is already fixed in latest SPDK with this patch:
https://review.spdk.io/gerrit/c/spdk/spdk/+/6413

[2021-04-29 16:07] jimharris commented on #1923
https://github.com/qemu/qemu/commit/2605257a26b873eb8a0917391063df9c7ed7a976 seems to be the culprit.

This commit adds DSM support.  Prior to this commit, since QEMU didn't support DSM, we would emulate WRITE_ZEROES by actually writing a buffer of 0s to the device.

Now that DSM is supported with this commit, our module looks at DLFEAT.  The lower 3 bits of DLFEAT tell us whether deallocated bloc

[2021-04-29 19:37] jimharris commented on #1923
Initial feedback from QEMU NVMe maintainer (Klaus Jensen) is that SPDK should not depend on DEALLOCATE in this fashion.  The spec says that DSM is advisory and that the controller can decide to not take any action on the information provided.  This means that the controller can decide to not actually deallocate the blocks specified, meaning that reading those blocks later can still return their or

[2021-04-29 20:40] benlwalker commented on #1920
Ok it's actually failing a bit below this:

[code]

[2021-04-30 02:55] yidong0635 opened #1924 "Can't download vhost_image"
# issue
download link is invalid:

https://ci.spdk.io/download/test_resources/vhost_vm_image.tar.gz

[2021-04-30 03:18] Comphix commented on #1924
This is mentioned in the below

https://spdk.io/development/ and https://spdk.io/cn/development/ two webpages.

Is it also meaning we could not directly download it? Need the username and password?

vhost Tests
The vhost tests under test/vhost require the presence of a virtual machine image on the host machine. We have made a tarball containing a working vm image that is available for download *he

[2021-04-30 06:10] changpe1 commented on #1922
Here is the patch to fix it https://review.spdk.io/gerrit/c/spdk/spdk/+/7689, we need to add device reset support in SPDK and take care of the memory regions that registered to SPDK.

[2021-04-30 06:30] spdkci commented on #1906
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_43715.html

[2021-04-30 06:36] ChengqiangMeng opened #1925 "[scheduler]running test/scheduler/scheduler.sh on vm reports error"
Run `./test/scheduler/scheduler.sh`

## Current Behavior

[code]

## Context (Environment including OS version, SPDK version, etc.)
OS version: Linux fedora33.localdomain 5.11.11-200.fc33.x86_64 #1 SMP x86_64 GNU/Linux
SPDK version: ac0c36d72a5125115bebcb19367b2e265eaaa7a2

[2021-04-30 06:39] mikeBashStuff commented on #1925
This is expected, there's no cpufreq support under the VM.

[2021-04-30 06:46] wanghailiangx commented on #1906
@shuhei-matsumoto Please see https://github.com/spdk/spdk/issues/1918, thanks, your above report is nothing about issues #1906.

[2021-04-30 06:52] wanghailiangx commented on #1920
The IP 10.0.0.2 losts. This often happens in the physical machine test of nvme_tcp, but it is the first time in the virtual network card, and this veth code has not been changed by me. It seems that we need to find the conditions for the recurrence of this problem first.

[2021-04-30 06:55] ChengqiangMeng commented on #1925
@mikeBashStuff  Ok, thank you for your reply!

[2021-04-30 06:56] #1925 closed

[2021-04-30 11:58] tomzawadzki commented on #1924
The image is not provided intentionally now, as to avoid issues with maintenance of such images. The development page should be updated to reflect that.

There are detailed steps for anyone to create the same image located here https://github.com/spdk/spdk/blob/master/test/common/config/README.md#additional-steps-for-preparing-the-vhost-tests

[2021-04-30 12:01] Comphix commented on #1924
Thanks @tomzawadzki , in this case, we will need to update the development page.

[2021-04-30 13:51] spdkci commented on #1894
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_43917.html

[2021-04-30 21:39] jimharris commented on #1920
Hey Ben,

Could you try something for me:

[code]

At this point you probably see the same ping failure as above.  If so, can you do:

[code]

[2021-05-03 09:01] dakshajauppalapati96 commented on #1823
Hi @jimharris

Is there anything that you want me to try

Thanks
Dakshaja

[2021-05-03 11:49] shuhei-matsumoto opened #1926 "[nvmf_lvol] blobstore.c:1237: blob_serialize: Assertion `blob->state == SPDK_BLOB_STATE_DIRTY' failed"
[code]

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_43987.html

## Execution failed at

[code]

[2021-05-03 11:50] spdkci commented on #1926
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_43987.html

[2021-05-03 15:43] jimharris commented on #1926
I think this is a duplicate of #1909.  It looks like this failure was from a patch that was based on something earlier than when the #1909 fix was merged last week.

[2021-05-03 15:43] #1926 closed

[2021-05-03 17:40] benlwalker commented on #1823
Initial investigation is as follows:

1) iozone is sending a 5KiB write to a 512 byte block size disk using the RDMA transport.
2) The SPDK target has reported that it supports 4KiB of in-capsule data, MSDBD of 16 (number of SGL descriptors), and ICDOFF of 0.
3) The Linux kernel then proceeds to send an NVMe-oF capsule with a command that claims to have 5KiB of data, but actually only has a single

[2021-05-03 18:56] jimharris commented on #1886
Hi @brianjmurrell, any update on this issue?

[2021-05-03 18:59] jimharris commented on #1884
Patch merged.  Thanks @swapnili!

[2021-05-03 18:59] #1884 closed

[2021-05-03 19:02] jimharris commented on #1877
hi @rch0wdhury, would you be able to post a new version of your patch with the requested feedback?

[2021-05-03 19:52] brianjmurrell commented on #1886
Hey @jimharris.  Thanks for checking in.  Apologies for my not responding sooner.  Unfortunately the effort this was found in has been pushed back so it will have to wait until I can get time to look at it again.

In the meanwhile I'll just close this ticket to get it off your radar and will re-open in the future if need be.

Thanks again for the time and attention!

[2021-05-03 19:52] #1886 closed

[2021-05-03 19:57] benlwalker commented on #1920
nvmf_veth_init has a built in trap that unwinds but I commented that out and have it working.

ip a
[code]
ip netns exec nvmf_tgt_ns ip a
[code]

[2021-05-03 22:08] peluse opened #1927 "IDXD poller is setting the completion status error in the wrong place"
In the poller we look at the completion status and if its an error we check for more info in the sw_error register and if so we set the return value to error and print the error.  The setting of the error needs to be outside of the check of the sw_error register as its still an error, we just don't have additional info

[2021-05-04 09:16] spdkci commented on #1801
Another instance of this failure. Reported by @floatious. log: https://ci.spdk.io/public_build/autotest-per-patch_44156.html

[2021-05-04 10:47] floatious commented on #1648
Patch set 4 ran twice:
https://review.spdk.io/gerrit/c/spdk/spdk/+/7726/

Patch set 4 ran twice:
https://review.spdk.io/gerrit/c/spdk/spdk/+/7727/

[2021-05-04 10:48] tmakatos commented on #1922
Unregistering the DMA regions might be something libvfio-user should do, I've started a discussion on Slack.

[2021-05-04 11:24] spdkci commented on #1863
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_44069.html

[2021-05-04 12:43] jonathan-teh opened #1928 "heap corruption after disconnecting from NVMe target with a reservation key registered with more than 1 client connected"
## Expected Behavior

A subsequent connect to the same NVMe target or getting an NVMe reservation report should succeed.

## Current Behavior

glibc reports either `corrupted size vs. prev_size` on `calloc()` or `double free or corruption (!prev)` on `free()` and `spdk_tgt` aborts. See reproducers.

## Possible Solution

Not investigated.

## Steps to Reproduce
This requires 2 NVMe clients (one of

[2021-05-04 16:59] peluse opened #1929 "idxd low level lib touches reserved field in CRC32C submission"
Using s reserved field to store final dest of CRC32C, need to move this to the completion context, will likely have to expand the struct to maintain align-men requirement.  Then use that in the completion side to copy the result over

[2021-05-04 18:57] peluse commented on #1927
fix here: https://review.spdk.io/gerrit/c/spdk/spdk/+/7729

[2021-05-04 18:58] peluse commented on #1929
fix here: https://review.spdk.io/gerrit/c/spdk/spdk/+/7735

[2021-05-05 07:41] spdkci commented on #1894
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_43961.html

[2021-05-05 12:08] tmakatos opened #1930 "SPDK build doesn't pick up modifications in libvfio-user files"
Modifying a file in libvfio-user and then building SPDK results in binaries not containing the change. The only realiable way to make this work is to run `make clean && (cd libvfio-user && make realclean && make && make install) && make`.

## Expected Behavior

Modifications to libvfio-user files followed by `make` in the top-level SPDK directory should results in binaries (e.g. `nvmf_tgt`) contai

[2021-05-05 12:41] spdkci commented on #1894
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_44164.html

[2021-05-05 12:43] spdkci commented on #1801
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_44166.html

[2021-05-05 16:23] benlwalker commented on #1920
We've confirmed that this does broadly work - it just fails on one of my systems. I'm going to close the bug as it seems like it's an issue with just my one system (my other systems work fine).

[2021-05-05 16:23] #1920 closed

[2021-05-05 17:55] peluse commented on #1554
can we close this?

[2021-05-06 01:31] changpe1 commented on #1928
Thanks for reporting, I will take a look.

[2021-05-06 04:05] changpe1 commented on #1924
@tomzawadzki could you update the document? thanks

[2021-05-06 04:08] jimharris commented on #1923
We will go with option #1.  Patch is here: https://review.spdk.io/gerrit/c/spdk/spdk/+/7723

[2021-05-06 04:22] changpe1 commented on #1897
we didn't see this issue for a while, closing it for now.

[2021-05-06 04:22] #1897 closed

[2021-05-06 04:24] changpe1 commented on #1911
closing this issue for now.

[2021-05-06 04:24] #1911 closed

[2021-05-06 04:26] changpe1 commented on #1900
since the E810 NIC card has been removed from Network Management, let's keep this issue open for a while to see if it still exist.

[2021-05-06 05:29] changpe1 commented on #1930
@tmakatos after changing files in libvfio-user, you can run `make clean` && `make` in the SPDK home directory, it will link to the latest libvfio-user.

But yes, if you changed the source files in libvfio-user, and just run `make`, this won't take effect, because currently the nvmf_tgt binary is using static link, it can't detect that change.

A good way maybe we can use the shared library.

[2021-05-06 05:36] changpe1 commented on #1930
@tmakatos Do you know which link parameter I can use to detect this?

[2021-05-06 07:48] KKaras169169 commented on #1921
I made some adjustments to make sure threads IDs exist inside threads and cores data structures (filled with data from RPC calls) before appending them. Patch with possible solution (waiting for review): https://review.spdk.io/gerrit/c/spdk/spdk/+/7769

[2021-05-06 08:45] tmakatos commented on #1930
As discussed on Slack, the problem is that libvfio-user.a is not a dependency of nvmf_tgt. Using libvfio-user.so, as you suggest, would be better.

[2021-05-06 19:25] spdkci commented on #1819
Another instance of this failure. Reported by @curtbruns. log: https://ci.spdk.io/public_build/autotest-per-patch_44219.html

[2021-05-06 19:28] spdkci commented on #1894
Another instance of this failure. Reported by @curtbruns. log: https://ci.spdk.io/public_build/autotest-per-patch_44220.html

[2021-05-06 19:39] mikeBashStuff opened #1931 "abidiff reports changes in confirm_abi_deps test"
[code]

While running `unittest-vg-autotest`'s test suite under latest `fedora33` the following can be seen when reaching `confirm_abi_deps` test:
[code]

This currently is not showing up on the CI but that may be due to different fedora release being used there (`fedora31` with <= `1.7.0` abidiff on board). Opening this as an issue to get some feedback if there's something to work with or if the

[2021-05-06 20:14] jimharris commented on #1931
Is it possible that SPDK_TEST_BLOBFS is set differently between current CI and the Fedora33 test that you ran?

I think you've found a real bug here, we should have bumped SO major version on blob_bdev library as part of some changes that just got merged.  I'm just trying to understand why this problem didn't surface when I pushed those patches through CI earlier this week.

[2021-05-06 20:50] mikeBashStuff commented on #1931
@jimharris The configuration should match the CI's - here are the logs from my local build:
[abi.zip](https://github.com/spdk/spdk/files/6437456/abi.zip)

The config looks like the following:
[code]
So this should match any unittest build on the CI, e.g.: https://ci.spdk.io/results/autotest-per-patch/builds/44473/archive/unittest-vg-autotest/build.log (main differences in versions of different too

[2021-05-06 21:34] shuhei-matsumoto opened #1932 "[qat_setup] Failed to start qat_service.service: Unit qat_service.service not found."
https://ci.spdk.io/results/autotest-per-patch/builds/44108/archive/crypto-autotest/build.log

[code]

[2021-05-06 21:34] spdkci commented on #1932
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_44108.html

[2021-05-06 21:40] jimharris commented on #1931
OK, thanks @mikeBashStuff.  I think we just need to submit a patch to bump major version on the blob_bdev library.  Would you like to submit a patch or shall I?

[2021-05-06 22:25] jimharris commented on #1844
I've added APIs to the spdk util library to do a zipf distribution.

 https://review.spdk.io/gerrit/c/spdk/spdk/+/7780

It is not integrated into bdevperf or nvme/perf yet, but there is an example app here that shows how the API works and uses the spdk_histogram_data APIs to illustrate the distribution properties of different theta values.

[2021-05-07 00:00] jimharris commented on #1844
Patch series has been extended with support in bdevperf.

https://review.spdk.io/gerrit/c/spdk/spdk/+/7790

[2021-05-07 08:17] mikeBashStuff commented on #1932
WFP8 is missing proper qat driver and its systemd|sysvinit service. Will install it today.

[2021-05-07 08:28] mikeBashStuff commented on #1932
Done, WFP8 should now have proper setup on board. Leaving the issue open till the next successful crypto job is scheduled on that box.

[2021-05-07 11:41] mikeBashStuff commented on #1931
@jimharris https://review.spdk.io/gerrit/c/spdk/spdk/+/7807 - there were some additional bumps needed to pass the build on my end. Right now it's spinning on the CI so we could see how this change behaves.

[2021-05-07 12:11] mikeBashStuff commented on #1931
Well, on the CI it failed in somewhat expected manner, considering that the previous changes were not being detected there:

[code]

I must admit I am a bit confused about all this. :D I will double check my local config, maybe I am doing something wrong...

[2021-05-07 12:36] spdkci commented on #1801
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_44570.html

[2021-05-07 13:49] mikeBashStuff commented on #1932
Successful crypto build on WFP8: https://10.211.11.56:8080/job/crypto-autotest/36968/artifact/build.log. Closing.

[2021-05-07 13:49] #1932 closed

[2021-05-07 14:32] spdkci commented on #1863
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_44651.html

[2021-05-07 14:39] spdkci commented on #1863
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_44637.html

[2021-05-07 14:39] spdkci commented on #1863
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_44657.html

[2021-05-07 14:44] mikeBashStuff commented on #1931
Ok, I think I was too fast with closing this one. So I checked how the latest `spdk_abi_latest` is built via `vm_setup.sh` and the HEAD points there at 8016710153e7e230e86208d8e45c2a9d3f1b4425. So this is the commit we compare libs against and since this is the release commit I take it's expected? So the test on my end is using this and the repo with https://review.spdk.io/gerrit/c/spdk/spdk/+/777

[2021-05-07 14:44] jfgd opened #1933 "Segfault in blobstore.c with spdk_tgt while playing with snapshots"
I encounter a segfault with spdk_tgt app while I do the following lvol operations:
 - lvol creation
 - 3 snapshots of that lvol
 - decouple_parent of lvol and last snapshot
 - delete lvol
 - delete last snapshot
 - *segfault*

The segfault happens all the time.
There is no IO (read or write) on those lvols.

## Expected Behavior

It should not segfault.

## Current Behavior

Segfault with the foll

[2021-05-07 15:10] jimharris commented on #1931
The most recent failure on Gerrit review 7777 was a real failure unrelated to your original report.  I just merged a patch that fixes it.

Could you try rebasing again from latest master?

[2021-05-07 15:48] mikeBashStuff commented on #1931
Done. And it just passed unittest job on the CI but it's still not passing on my end under f33. So for instance `abidiff`  says:
[code]

This comes from commits which are not included in the release the `spdk_abi_latest` is being checked out to, in particular this f6d5b9cd92a82c0efc973b9fd354eb1e6d5c9c21 and 6cebe9d06b14ad173e45d2b9be49b04f64b5fba3. So in all honesty, I am not really sure how is t

[2021-05-07 15:54] jimharris commented on #1931
Can you provide the full abidiff log for f33?

[2021-05-07 15:58] mikeBashStuff commented on #1931
This is the main one:
[code]

When I bump `blob_bdev` I get two more complaints about `nvmf` and `scsi` libs. Don't have the logs at hand but will reproduce them asap.

[2021-05-07 16:20] mikeBashStuff commented on #1931
Sure, will do. In the meantime, here's the full `abidiff` gathered with: https://review.spdk.io/gerrit/c/spdk/spdk/+/7810
[code]

[2021-05-07 16:20] spdkci commented on #1863
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_44687.html

[2021-05-07 16:38] mikeBashStuff commented on #1931
@jimharris with your patch  the `libspdk_blob_bdev.so` passes but then it fails at `libspdk_nvmf.so`:

[code]

[2021-05-07 16:54] jimharris commented on #1931
Can you also check if this fixes the scsi library error?

[code]

[2021-05-07 17:08] jimharris commented on #1931
Could you check if you have llvm-dwarfdump on the f33 system, and if not, could you add it?

And then I'd like to see the following for both latest version and 21.04 version of the libspdk_nvmf.so files:

[code]

[2021-05-07 17:08] mikeBashStuff commented on #1931
On my f33 it's 1.8.2, on CI's f31 it's 1.7.0.

And yes, the patch for scsi lib stops abidiff from complaining about it (it complains now only about the nvmf lib.

[2021-05-07 17:22] spdkci commented on #1863
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_44716.html

[2021-05-07 17:48] mikeBashStuff commented on #1931
@jimharris Here are the dumps from the `llvm-dwarfdump` (9.0 and 10 since there are multiple versions of llvm available for fedora).
[dwarf.zip](https://github.com/spdk/spdk/files/6443422/dwarf.zip)

[2021-05-07 18:19] jimharris commented on #1931
Thanks @mikeBashStuff!

I think the difference here is gcc, not abidiff.  nvmf/ctrlr_discovery.c is including bdev_module.h even thought it doesn't really need it.  But it seems gcc on f33 still emits dwarf debug information on the types found in bdev_module.h even though they aren't used.  Since spdk_bdev pointers are passed through the nvmf API, and abidiff detects differences in that structure

[2021-05-07 19:09] mikeBashStuff commented on #1931
@jimharris It indeed fixed the problem - with all the patches from your series the `check_so_deps` tests are passing just fine under f33. Appreciate the help! :)

[2021-05-07 21:33] jimharris commented on #1923
Patch was merged.  @mikeBashStuff can you try this again when you have a chance?

[2021-05-08 06:09] changpe1 commented on #1930
After some investigation, it's better for SPDK to use static library right now, there are many applications have dependency on nvmf library, if switched to use shared library, they need to compile and install libvfio-user library while they may not actually require it.

SPDK CI always installs the dependency libraries in a temporary directory, we need to configure the LD_LIBRARY_PATH manually, thi

[2021-05-08 06:13] changpe1 commented on #1930
Another option maybe that when `make` is executed, SPDK will always re-link the binaries, this will fix the issue as well.

[2021-05-08 11:14] yuhongxiao123456 opened #1934 "vhost_blk.c: 569:process_blk_task: *ERROR*: vhost.100s0: request with idx '5' is already pending."
![image](https://user-images.githubusercontent.com/71329144/117537160-d64a1f00-b031-11eb-8ac7-56e8b069d8c2.png)_blk.c: 569:process_blk_task: *ERROR*: vhost.100s0: request with idx '5' is already pending.
## Expected Behavior

On the VM, use fio to test the virtio-blk performance.virtio-blk bankend is the vhost of spdk and bdev is the ceph rbd.
## Current Behavior

The FIO test fails, and the SPDK

[2021-05-10 01:39] spdkci commented on #1863
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_44919.html

[2021-05-10 05:11] changpe1 commented on #1928
I fixed this issue via https://review.spdk.io/gerrit/c/spdk/spdk/+/7822.

[2021-05-10 07:34] mikeBashStuff commented on #1923
@jimharris Sure will try to test it out asap.

[2021-05-10 10:48] tmakatos commented on #1930
Then you need to add libvfio-user.a as a dependency of nvmf.

[2021-05-10 11:23] #1927 closed

[2021-05-10 14:34] jimharris commented on #1930
Yes, we need to add some additional plumbing to mk/spdk.app.mk so we can specify additional libraries that should cause a re-link.  We already do this for DPDK libraries, but don't do it for libraries from any of our other submodules (not just vfio-user, but also isa-l and ocf).

[2021-05-10 17:00] jonathan-teh commented on #1928
Thanks, I've tested the fix and it works for me.

[2021-05-11 02:30] changpe1 commented on #1922
I updated the submodule via https://review.spdk.io/gerrit/c/spdk/spdk/+/7831, I tested and this issue has been fixed.

[2021-05-11 02:53] optimistyzy opened #1935 "Coredump of NVMe-oF tgt when enable IDXD engine."
The NVMe oF target will not have coredump.

It has core dump.

The coredump is:
warning: Unexpected size of section `.reg-xstate/38729' in core file.
#0  0x00005577c75cae6d in idxd_select_device () at accel_engine_idxd.c:92
92              g_next_dev = TAILQ_NEXT(g_next_dev, tailq);
[Current thread is 1 (Thread 0x7f01a35d5980 (LWP 38729))]
(gdb) bt
#0  0x00005577c75cae6d in idxd_select_device () a

[2021-05-11 03:06] optimistyzy commented on #1935
Fix:  https://review.spdk.io/gerrit/c/spdk/spdk/+/7832

[2021-05-11 03:13] shuhei-matsumoto opened #1936 "[nvme_fabric_ut] Function local variable is accessed after returning from the function"
The following failure always locally.

[code]

I missed this when I reviewed the patch. Sorry about that.

[2021-05-11 04:29] changpe1 commented on #1930
I tested it and it works for me.

[2021-05-11 05:08] changpe1 commented on #1934
Do you see any error logs in the Ceph RBD part? I assume this may related with Ceph.

[2021-05-11 06:45] yuhongxiao123456 commented on #1934
This one came up by accident. I remember this problem when bdev is ramdisk. I'll try to reproduce it later and provide the corresponding test steps.
Thank you.

[2021-05-11 08:03] KKaras169169 commented on #1933
I was able to reproduce this issue on my setup as well.

[2021-05-11 11:30] zRegle opened #1937 "Fix of blob overlapping open case failed"
## Expected Behavior

If a blob is opened, then before the previous open operation has completed, a new open operation occurs, we should just increase the ref_count of the blob in the latter operation.

## Current Behavior

If lvols(including clones and snapshots) are recovered by `vbdev_lvs_examine`, some duplicated blobs may be created.

## Possible Solution

After I carefully check the code, in

[2021-05-11 12:02] #1858 closed

[2021-05-11 13:30] tomzawadzki commented on #1554
The series was included in SPDK 21.01 and as such address this enhancement request.

[2021-05-11 13:30] #1554 closed

[2021-05-11 13:44] tomzawadzki commented on #1936
Patch fixing this issue was merged https://review.spdk.io/gerrit/c/spdk/spdk/+/7833.

[2021-05-11 13:44] #1936 closed

[2021-05-11 15:52] ericcurtin opened #1939 "NVMe/TCP TLS support"
## Expected Behavior

I'm working on it in a personal branch. Would you guys be happy to review this when complete?

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context (Environment including OS version, SPDK version, etc.)

[2021-05-11 19:03] ericcurtin commented on #1939
I'm using openssl at the moment. It made sense because it was linked in already (lcrypto, just had to add lssl).

[2021-05-11 20:04] spdkci commented on #1906
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_46988.html

[2021-05-12 05:03] changpe1 commented on #1900
closing this issue for now as I don't see same failure recently.

[2021-05-12 05:12] changpe1 commented on #1360
@ChengqiangMeng Hi chengqiang, can you retest this issue? I think this issue should be fixed for now, you can try bind NVMe devices to uio and vfio driver respectively.

[2021-05-12 05:16] ChengqiangMeng commented on #1360
@changpe1 Ok, I will retest it as soon as possible.

[2021-05-12 05:19] changpe1 commented on #1595
closing this issue for now.

[2021-05-12 05:19] #1595 closed

[2021-05-12 05:28] changpe1 commented on #1752
closing this issue for now as there is noting for SPDK to do in practice.

[2021-05-12 05:28] #1752 closed

[2021-05-12 05:31] changpe1 commented on #1737
Link this issue to https://github.com/spdk/spdk/issues/1295, I may submit a document to clarify the issue in SPDK vhost. closing it for now.

[2021-05-12 05:31] #1737 closed

[2021-05-12 05:50] changpe1 commented on #1737
I updated the document in SPDK via https://review.spdk.io/gerrit/c/spdk/spdk/+/7852.

[2021-05-12 06:42] changpe1 commented on #1745
@wawryk I could not reproduce this issue in my environment either.

I tested nvme-1.10.1 and nvme-1.14.1.ged95, both could not reproduce this issue.

can you try start SPDK with  `build/bin/nvmf_tgt -L nvmf`, and attach the log ?

[2021-05-12 06:44] changpe1 commented on #1854
Patch has been merged, closing this issue for now.

[2021-05-12 06:44] #1854 closed

[2021-05-12 06:55] changpe1 commented on #1937
@tomzawadzki could you take a look? thanks.

[2021-05-12 08:56] #1919 closed

[2021-05-12 08:56] ksztyber commented on #1846
Already fixed by 44c70f8215cc87fa55a949df2e771ff2cb2da1ed.

[2021-05-12 08:56] #1846 closed

[2021-05-12 09:55] spdkci commented on #1870
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_47029.html

[2021-05-12 10:02] Maciej-Szwed commented on #1539
Docs update patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/7859

[2021-05-12 14:04] tomzawadzki commented on #1760
This issue is addressed with two following patches:
- [bdev/nvme: respond to attach RPC after bdev is examined](https://review.spdk.io/gerrit/c/spdk/spdk/+/5483/), by specifically adjusting NVMe attach RPC response
- [test: add bdev_wait_for_examine to static JSON configs](https://review.spdk.io/gerrit/c/spdk/spdk/+/7861/), by changing static JSON configs in all tests (including dd)

[2021-05-13 01:47] changpe1 commented on #1922
Patch has been merged, @karlatec the issues that block vfio-user performance tests have been fixed, I think we can start the performance tests now.

[2021-05-13 04:42] ChengqiangMeng commented on #1360
@changpe1
Hi Changpeng,
  I successfully retested them with the latest version of the code when they are bound to uio/vfio, and I think the bug had been fixed.
When not using PCI_ALLOWED will not bind VMD to uio/vfio.

steps:
1. test identify:
    a. ` ./configure --with-fio=/usr/src/fio  && make -j`
    b. `PCI_ALLOWED="0000:17:05.5 0000:5d:05.5 0000:85:05.5  0000:ae:05.5 0000:d7:05.5" ./scripts/

[2021-05-13 04:44] changpe1 commented on #1360
Thanks @ChengqiangMeng, closing this issue for now.

[2021-05-13 04:44] #1360 closed

[2021-05-13 09:58] ZHENJIZHAO opened #1940 "[Centos 8][SPDK Vhost]{CLX Wolfpass Server} bdev_nvme_attach_controller failed if vfio driver loaded onto NVMe controller"
## Expected Behavior

1. Load vfio driver onto nvme controller by using HUGEMEM=16384 ./scripts/setup.sh
2. Execute "./scripts/rpc.py bdev_nvme_attach_controller -b Nvme0 -t pcie -a 10000:01:00.0" shall return a message like "Nvm0n1"

## Current Behavior
Execute the command line above will return,

- nvme.c: 818:nvme_probe_internal: *ERROR*: NVMe ctrlr scan failed
- bdev_nvme_create: *ERROR* No co

[2021-05-13 10:01] ZHENJIZHAO commented on #1940
The screenshots of vfio failure.
![image](https://user-images.githubusercontent.com/45022230/118110457-ffddbe80-b414-11eb-971a-1b5ecf7746c9.png)
![image](https://user-images.githubusercontent.com/45022230/118110502-0bc98080-b415-11eb-8df3-13b914672a53.png)
![image](https://user-images.githubusercontent.com/45022230/118110524-14ba5200-b415-11eb-8894-99103c0949f7.png)

The screenshots of uio pci gen

[2021-05-13 10:07] Maciej-Szwed commented on #1821
New test has been merged - closing this issue.

[2021-05-13 10:07] #1821 closed

[2021-05-13 10:15] #1760 closed

[2021-05-13 10:20] #1928 closed

[2021-05-13 10:33] #1935 closed

[2021-05-13 11:27] spdkci commented on #1870
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_47192.html

[2021-05-13 12:59] ericcurtin commented on #1939
On ktls, I think we may get that with minimal effort once openssl is done, will look into that in more detail later. If you build openssl with ktls enabled, I think the library might handle the ktls calls.

[2021-05-13 14:09] jimharris commented on #1940
Hi,

Unfortunately the Linux kernel does not support binding the vfio driver to devices behind a VMD endpoint.

Your options here are:

1) Disable IOMMU and use uio_pci_generic instead (as you mentioned in your report)
2) Disable VMD
3) Use the SPDK VMD driver.  See https://spdk.io/doc/vmd.html for additional information.

Closing this issue since the behavior here is expected, but please feel fre

[2021-05-13 14:09] #1940 closed

[2021-05-13 23:33] jimharris commented on #1814
Hi @KariukiJ - any update on this issue, or can we close it?

[2021-05-13 23:34] jimharris commented on #1792
Haven't seen this intermittent CI issue for over a month.  Closing.

[2021-05-13 23:55] jimharris commented on #817
Closing this issue since it's a 3rd party issue.

[2021-05-13 23:55] #817 closed

[2021-05-14 03:52] spdkci commented on #1801
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_47291.html

[2021-05-14 05:44] spdkci commented on #1801
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_47205.html

[2021-05-14 05:56] ksztyber opened #1941 "[nvmf_example] connection failure"
During the `nvmf_example` test, part of the `nvmf_tcp` suite, `connect()` to the target failed with `ETIMEDOUT`.

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/47209/archive/nvmf-tcp-phy-autotest/build.log

## Execution failed at

[code]

[2021-05-14 06:00] spdkci commented on #1941
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_47209.html

[2021-05-14 07:18] wanqunintel opened #1942 "[spdk.io homepage]https://spdk.io/doc/rpms.html can not be opened."
## Expected Behavior

## Current Behavior
![image](https://user-images.githubusercontent.com/18566118/118235643-9ff42000-b4c7-11eb-9ca6-080fc8b96b40.png)

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context (Environment including OS version, SPDK version, etc.)

[2021-05-14 08:36] Maciej-Szwed commented on #1816
I run this using Ubuntu 20.10 and kernel 5.8.0-25 and I was unable to reproduce this on v21.01-rc1. I will try on Fedora 32 also.

[2021-05-14 08:49] Maciej-Szwed commented on #1816
I was able to reproduce this with Fedora 32 and kernel 5.7.17-200. There was one difference from original issue description - I didn't get any error  - only PCIe remove command never completes.

[2021-05-14 08:56] Maciej-Szwed commented on #1816
Everything works correctly when this line is removed:
lib/env_dpdk/memory.c:1377:             rc = rte_dev_event_monitor_start();
It looks like exactly same issue as #1785

[2021-05-14 09:30] ZHENJIZHAO opened #1943 "[Centos 8.2 as Host][Centos 7.5 as VM] [SPDK Vhost ][CLX Wolfpass Server] Failed to boot Centos 7.5 VM with error message "Dependency failed for /sysroot" message""
## Expected Behavior
Centos 7.5 VM shall boot up properly with SPDK vhost by using below command line.
"taskset -c 2,3 ../qemu/build/qemu-system-x86_64 --enable-kvm -smp 2 -m 1G -object memory-backend-file,id=mem0,size=1G,mem-path=/dev/hugepages,share=on -numa node,memdev=mem0 -drive file=/home/centos/c7.img,if=none,id=disk -device ide-hd,drive=disk,bootindex=0 -chardev socket,id=spdk_vhost_blk0,p

[2021-05-14 10:28] tomzawadzki commented on #1924
Sure, please see https://review.spdk.io/gerrit/c/spdk/spdk.github.io/+/7880

[2021-05-14 11:18] mikeBashStuff commented on #1943
The issue here is with `systemd-udevd`. `/dev/disk` ends up being on a `DEVLINKS` list for the `/dev/vda` device which is wrong - this should be a directory holding all the symlinks. This happens since it improperly parses virtio's `serial` attribute which includes a space: `Malloc disk`. Since `systemd-udevd` creates `/dev/disk` as a symlink it's not able to populate other ones. If you remove the

[2021-05-14 11:24] mikeBashStuff commented on #1943
With something like this:
[code]
You could boot the centos7 just fine. That said, there's no need to change that in the spdk since `systemd` is able to handle such whitespaces just fine now.

[2021-05-14 11:36] mikeBashStuff commented on #1943
I think there's no action needed from the spdk side so I will proceed with closing this issue. :)

[2021-05-14 11:36] #1943 closed

[2021-05-14 15:28] jimharris commented on #1816
Thanks @Maciej-Szwed!

So in this case, removing rte_dev_event_monitor_start() fixes this issue, but in #1785 the proposed patch adds a second call to rte_dev_event_monitor_start().  Am I reading that correctly?

[2021-05-14 16:56] Maciej-Szwed commented on #1816
In #1785 I added rte_dev_event_monitor_start() before it was added with patch "env/dpdk: Use the DPDK device count for IOMMU mapping" and that caused failures on CI. I will investigate that further next week and let know know why running event monitor causes issues.

[2021-05-17 02:14] changpe1 commented on #1888
patch has been merged, closing this issue now.

[2021-05-17 02:14] #1888 closed

[2021-05-17 02:26] optimistyzy opened #1944 "CI proxy issue"
## Link to the failed CI build

http://10.211.11.56/results/autotest-per-patch/builds/47371/archive/clang-vg-autotest/build.log

## Execution failed at

[2021-05-17 02:27] spdkci commented on #1944
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_47369.html

[2021-05-17 02:27] spdkci commented on #1944
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_47371.html

[2021-05-17 03:05] spdkci commented on #1944
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_47373.html

[2021-05-17 04:37] spdkci commented on #1944
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_47377.html

[2021-05-17 04:37] spdkci commented on #1944
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_47376.html

[2021-05-17 04:37] spdkci commented on #1944
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_47374.html

[2021-05-17 04:39] spdkci commented on #1944
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_47375.html

[2021-05-17 06:55] tomzawadzki commented on #1924
The EN page is now updated in patch above. @Comphix Could you update the CN page too ?

[2021-05-17 07:03] Comphix commented on #1924
Sure. I will handle the CN page. Thanks Tomek.

[2021-05-17 08:47] changpe1 opened #1945 "SPDK QEMU reports Write Zeroes failure"
I enabled Write Zeroes support via patch https://review.spdk.io/gerrit/c/spdk/spdk/+/7876, and SPDK CI reported errors in
https://ci.spdk.io/results/autotest-per-patch/builds/47392/archive/nvme-vg-autotest/build.log.

1. Check out SPDK QEMU branch
2. Create NVMe image via qemu-img create -f raw /tmp/nvme.img 8G
3. Start QEMU with `-drive file=/tmp/nvme.img,format=raw,if=none,id=ns0 -device nvme,se

[2021-05-17 11:18] spdkci commented on #1863
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_47435.html

[2021-05-17 16:13] KariukiJ commented on #1814
@jimharris I talked @changpe1 about this issue. He reviewed the commit 4249dc101 again and determined that the change to replace ns->sectors_per_max_io with an inline function in _nvme_ns_cmd_rw may improve the performance. Therefore, the test result showing patch 4249dc101 improved performance makes sense. The next step is to for me to cherry-pick commit 4249dc101 and submit it to LTS, to fix the

[2021-05-17 16:19] jimharris commented on #1814
We don't have a firm date for a 21.01.2 release.  But please push forward on this - we can get a patch on to the v21.01.x branch now, and then it will automatically be included whenever we do the 21.01.2 release.

[2021-05-17 17:25] spdkci commented on #1792
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_47472.html

[2021-05-17 17:25] spdkci commented on #1792
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_47468.html

[2021-05-17 20:11] jimharris commented on #1828
Hi @rakeshranjan-gh,

Any update on this issue?  If not, let's close it for now, and you can reopen it once you're able to demonstrate the problem in a way that can be shared with the SPDK community and GCP.

Thanks,

-Jim

[2021-05-17 21:59] spdkci commented on #1792
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_47490.html

[2021-05-17 22:55] rakeshranjan-gh commented on #1828
Hi @jimharris ,

Sorry for the delay in my response! Actually we didn't get a chance to reproduce this issue without proprietary storage stack in place. Couldn't reproduce the exact same issue using only SPDK code base. We checked the linux kernel driver source code and there also it uses memory barrier while submitting request into submission queue. At this moment, all I see that after applying t

[2021-05-17 23:27] jimharris commented on #1828
Thanks for the update @rakeshranjan-gh.  Your explanation here led me down a new path.  Could you revert your local memory barrier patch and try https://review.spdk.io/gerrit/c/spdk/spdk/+/7905 instead?

I think we are missing a barrier but only in the shadow doorbell path - this patch will localize the extra barrier to only that path.

[2021-05-18 02:21] gcoakes commented on #1892
The basic io-passthru command from the description works. I've also gotten several internal tests to work properly with this change. Thank you @jimharris and @curtbruns.

[2021-05-18 02:28] jimharris commented on #1892
Thanks for the confirmation @gcoakes!

[2021-05-18 02:28] #1892 closed

[2021-05-18 03:23] Comphix commented on #1924
The patch to update the Chinese page is below:

https://review.spdk.io/gerrit/c/spdk/spdk.github.io/+/7906

[2021-05-18 04:16] jimharris commented on #1924
Patches all merged.

[2021-05-18 04:16] #1924 closed

[2021-05-18 05:22] jiewei-ke opened #1946 "Host nvme driver cannot connect to subsystem due to incomplete ana log page response"
When an ana-enabled subsystem contains more than 228 namespaces, the host nvme driver will fail to connect due to incomplete ana log page response.

[code]

The failure position of the host nvme driver is highlighted below,

[code]

By dumping the ana log response on the host side, we can see the 228th desc is incomplete, which is also confirmed from the packet capture and target side (dumping the

[2021-05-18 05:39] changpe1 commented on #1946
I reviewed the code implementation in SPDK, I think this is a bug in SPDK. Take this issue as an example, we should use `req->iov` and `req->iovcnt` to save the ana log data, not the `req->data`, SPDK may use multiple vectors for ana log.

[2021-05-18 08:40] KKaras169169 opened #1947 "[spdk_top/POLLERS tab] Incorrect value inside Run count column for Timed and Paused pollers"
Timed and Paused pollers do not display run count correctly.

## Expected Behavior
Show appropriate run count values.

## Current Behavior
Timed and Paused pollers show zeros in the Run count column.

spdk_top screenshot:
![image](https://user-images.githubusercontent.com/49611974/118617026-86eab800-b7c2-11eb-91df-11d402eb66a7.png)

RPC call "thread_get_pollers" used in spdk_top:

{
  "tick_rate":

[2021-05-18 09:30] ericcurtin commented on #1939
If anyone wants a peek at this before it hits gerrit, I'm pushing here:

https://github.com/spdk/spdk/compare/master...ericcurtin:tls_support

it's messy at the moment though, doesn't work yet. It should be cleaner when it hits gerrit.

[2021-05-18 10:25] KKaras169169 commented on #1947
This happens, because pollers running on the same thread do not have unique name and thread_id in above case, and those two values are the only ones being checked when saving last_run_counter for later comparison and display with current run_count of each poller.

[2021-05-18 12:52] AlekseyMarchuk commented on #1853
The patch is merged, closing this issue

[2021-05-18 12:52] #1853 closed

[2021-05-18 13:00] ryderhsu0129 opened #1948 "Initialization failed due to VFIO exception and example execution failed"
1. We want to execute the example hello_world on latest release v21.04, but get some error messages during initialization,
the main messages are as follows :
`vfio group is not viable not all devices in iommu group bound to vfio or unbound`

We refer to section **Device access** of below page to try to fix this issue, but the same problem still occurs :
https://spdk.io/doc/system_configuration.htm

[2021-05-18 13:40] tomzawadzki commented on #1802
There is work towards this being done by @KKaras169169, [here](https://review.spdk.io/gerrit/c/spdk/spdk/+/6995). Still need to iron out the APIs to achieve that.

[2021-05-18 13:45] tomzawadzki commented on #1810
Closing due to last occurrence being 3 months ago.

[2021-05-18 13:45] #1810 closed

[2021-05-18 14:07] rakeshranjan-gh commented on #1828
Hi @jimharris ,

Sure, we will try your patch "https://review.spdk.io/gerrit/c/spdk/spdk/+/7905" and will update you as soon as it's completed. Thanks for your help on this!

Thanks,
Rakesh

[2021-05-18 14:11] tomzawadzki commented on #1642
@karlatec any update on this issue ?

[2021-05-18 14:13] tomzawadzki commented on #1651
@wanqunintel have you had a chance to check suggestion from Alexey ?

[2021-05-18 14:15] tomzawadzki commented on #1703
@wanqunintel have you had a chance to try increasing the timeout ?

[2021-05-18 14:20] tomzawadzki commented on #1873
Closing since this issue has not occurred for over a month.

[2021-05-18 14:20] #1873 closed

[2021-05-18 14:36] tomzawadzki commented on #1912
Closing.

[2021-05-18 14:36] #1912 closed

[2021-05-18 14:38] karlatec commented on #1851
Marking this one as done, as the tests have been running in CI for some time and I guess it's stable now.

[2021-05-18 14:38] tomzawadzki commented on #1835
Closing since it has been over a month with no occurrence.

[2021-05-18 14:38] #1835 closed

[2021-05-18 14:41] tomzawadzki commented on #1813
@changpe1 are there tests on SPDK side verifying resolution of this issue ?

[2021-05-18 14:43] tomzawadzki commented on #1832
@changpe1 are there tests on SPDK side verifying solution to this issue ?

[2021-05-18 15:08] tomzawadzki commented on #317
[Bug scrub] ANA support in general was added to SPDK, there is more work being done on multipath support. Closing this issue, if there is a need for more specific features to be added please see the Trello board.

[2021-05-18 15:08] #317 closed

[2021-05-18 15:11] tomzawadzki commented on #1606
[Bug scrub] @changpe1 have you had a chance to look at submitting the patch to DPDK ?

[2021-05-18 15:13] tomzawadzki commented on #1693
[Bug scrub] At this time the CI does not gather coverage with clang. If anyone is interested in this combination and reducing the coverage gather time, feel free to reopen the issue.

[2021-05-18 15:13] #1693 closed

[2021-05-18 15:15] tomzawadzki commented on #1753
[Bug scrub] DPDK does not support the GCC version in this issue. It is unlikely they'll accept changes to make that happen. Please look into newer version.

[2021-05-18 15:15] #1753 closed

[2021-05-18 15:17] tomzawadzki commented on #1785
[Bug scrub] This issue will be closed as duplicate of https://github.com/spdk/spdk/issues/1816

[2021-05-18 15:17] #1785 closed

[2021-05-18 16:56] jimharris commented on #1939
Hi @ericcurtin,

Thanks!  I took a peek and have a few questions and/or suggestions.  Maybe some of this you're already planning to clean up before pushing to Gerrit.

1) We need to be able to support both normal TCP and TLS connections at the same time.  So the TLS ifdefs won't be a long-term option.
2) How will TLS be configured?  For example, will nvme_subsystem_add_listener add parameters for

[2021-05-18 18:06] peluse commented on #1939
Additionally what parameters you are using to generate the key pair/cert?

[2021-05-18 18:14] ericcurtin commented on #1939
Yeah I thought about this, will need a few command line switches to specify things like tls 1.2/1.3 what the psk is, etc. Would it be reasonable to do whatever openssl does for command line args? I'm using the ifdefs until something is working.

Good question, I don't know yet.

No certs supported in the TP yet for NVMe/TCP/TLS only PSK mode.

Ok

I'd hope to run the same test suite as is run gene

[2021-05-18 21:02] jimharris commented on #1939
Thanks @ericcurtin.

I think once you get it working, go ahead and push it to Gerrit, even if it has ifdefs and no RPC configuration.  We can start answering some of these questions during the review process once we see the working implementation.

I agree that we should be able to use existing NVMe/TCP tests for TLS, it will need some plumbing but no major blockers from my perspective.  We will j

[2021-05-19 01:12] changpe1 commented on #1813
Similar with QEMU case, killing nvme perf tool and restart it again has the similar impact, but the QEMU case is better.

[2021-05-19 01:43] wanghailiangx commented on #1851
@Karol Do you want to review this patch? https://review.spdk.io/gerrit/c/spdk/spdk/+/7573.
Customers get spdk code and run nvme_tcp, there may be IP lost problem. They don't know to shut down NetworkManager like CI, so we need to deal with it automatically in the script.

[2021-05-19 02:33] Comphix commented on #1948
It seems that the SSD initialization met some issue:

[2021-05-18 19:44:23.369962] nvme_ctrlr.c:3298:nvme_ctrlr_process_init: *ERROR*: [0000:02:00.0] Initialization timed out in state 8
[2021-05-18 19:44:23.370010] nvme.c: 710:nvme_ctrlr_poll_internal: *ERROR*: Failed to initialize SSD: 0000:02:00.0

Any log reported on dmesg?

[2021-05-19 02:35] Comphix commented on #1946
Thanks @changpe1 . @jiewei-ke , would you like to raise a patch fix to SPDK?

[2021-05-19 02:37] changpe1 commented on #1946
He already submitted a patch here https://review.spdk.io/gerrit/c/spdk/spdk/+/7923

[2021-05-19 03:08] ryderhsu0129 commented on #1948
@Comphix

dmesg is displayed as follows :
[code]

It looks like something is abnormal, do you know what caused it? thanks!

[2021-05-19 03:14] Comphix commented on #1948
Is kernel nvme driver working properly for this SSD? Also what's the information of this SSD like vendor, type and etc?

[2021-05-19 03:24] ryderhsu0129 commented on #1948
This SSD(Samsung 1725a) can work normally on the kernel nvme driver.

[2021-05-19 03:46] ryderhsu0129 commented on #1948
I modify parameter intel_iommu=off in the GRUB file, execution result of example hello_world was successful.
What I am confused about is that I have used the driver uio_pci_generic, why it still seems to be related to IOMMU setting(intel_iommu).
Can I still run the example successfully without modifying this parameter?

[2021-05-19 04:15] Comphix commented on #1948
In the link you mentioned in the issue description, for the UIO, it is suggested:

"However, some devices do not function correctly when bound to vfio-pci and instead must be attached to the uio_pci_generic kernel driver. In that case, users should take care to disable the IOMMU or to set it into passthrough mode prior to running scripts/setup.sh.

To disable the IOMMU or place it into passthrough

[2021-05-19 04:39] jimharris commented on #1948
Hi,

[code]

Let's see if there are other devices are in this iommu group.  Can you try:

[code]

-Jim

[2021-05-19 05:11] changpe1 commented on #1606
I looked the issue again, SPDK needs to be improved too.

[2021-05-19 05:35] Comphix commented on #1942
Looking at this issue.

[2021-05-19 05:39] changpe1 commented on #1606
SPDK patch is here https://review.spdk.io/gerrit/c/spdk/spdk/+/7944

[2021-05-19 05:41] Comphix commented on #1942
Raised a patch here https://review.spdk.io/gerrit/c/spdk/spdk.github.io/+/7945

[2021-05-19 05:41] MengjinWu opened #1949 "test/blobfs/rocksdb/rocksdb.sh Failed in Rocksdb insert test and with no trace back"
I cannot finish test of test/blobfs/rocksdb/rocksdb.sh

## Current Behavior

It failed in the insert test and have no back trace.

[code]

## Steps to Reproduce

1. \# test/blobfs/rocksdb/rocksdb.sh

## Context (Environment including OS version, SPDK version, etc.)

OS version: Fedora 30

[2021-05-19 05:47] #1949 closed

[2021-05-19 05:55] ryderhsu0129 commented on #1948
@Comphix
I get it, thank you for your reply.

[2021-05-19 06:02] changpe1 commented on #1606
DPDK patch is here https://patches.dpdk.org/project/dpdk/patch/1621406749-15536-1-git-send-email-changpeng.liu@intel.com/

[2021-05-19 06:09] changpe1 commented on #1606
The error handling in DPDK hotplug module is really bad, I don't want to fix them all, so just had a small patch to fix the hot add case.  There is issue in the hot remove case too.

[2021-05-19 06:10] ryderhsu0129 commented on #1948
@jimharris

There are indeed other devices in the same IOMMU group.
Is there an easy way to circumvent this restriction so that the VFIO driver can be used?
or I can only use the UIO driver.

[2021-05-19 10:59] spdkci commented on #1863
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_47632.html

[2021-05-19 11:09] mikeBashStuff opened #1950 "[interrupt_mode] cpus not going idle in time - ((is_idle[cpu] == 1))"
# CI Intermittent Failure

https://ci.spdk.io/results/autotest-per-patch/builds/47638/archive/nvme-phy-autotest/build.log

This happens rarely on some of the systems. There's ongoing work of adjusting the scheduler tests where in this particular case this https://review.spdk.io/gerrit/c/spdk/spdk/+/7563/2 patch should help (load|idleness of the cpu should be determined in a more precise way with t

[2021-05-19 11:10] spdkci commented on #1950
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_47643.html

[2021-05-19 11:23] tomzawadzki commented on #1947
This is a bug in thread library listing only active_pollers, as all the types at once. See https://review.spdk.io/gerrit/c/spdk/spdk/+/7952

[2021-05-19 12:03] spdkci commented on #1760
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_47712.html

[2021-05-19 12:04] spdkci commented on #1784
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_47711.html

[2021-05-19 12:23] spdkci commented on #1863
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_47716.html

[2021-05-19 12:55] spdkci commented on #1819
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_47720.html

[2021-05-19 13:03] spdkci commented on #1863
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_47722.html

[2021-05-19 13:09] spdkci commented on #1863
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_47724.html

[2021-05-19 13:34] spdkci commented on #1863
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_47728.html

[2021-05-19 14:52] jimharris commented on #1948
Depending on your system and SSD, you might try plugging your SSD into a different PCIe slot.  You should also look at the other devices that are in the iommu_group to understand the PCIe topology.

Depending on the other devices in the iommu_group, you could try also attaching those devices to vfio.

Posting full ```lspci -vvv``` and ```lspci -t``` contents, as well as the output of the ls comman

[2021-05-19 15:02] jimharris commented on #1942
Hi @Comphix,

I don't think this patch will work.  The HTML is generated automatically based on latest markdown files in the doc/ directory in the main SPDK repository.  We never check in HTML directly or modify the navtree manually.

I think the real problem might be that rpm.md is not referenced from any of the other markdown files, but cannot say for sure.

-Jim

[2021-05-19 15:56] spdkci commented on #1863
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_47738.html

[2021-05-19 15:56] spdkci commented on #1950
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_47740.html

[2021-05-19 17:02] gcoakes opened #1951 "NVME_IOCTL_SUBMIT_IO against CUSE interface with 256 sectors causes ENOMEM."
Issuing a write command targeting the CUSE namespace interface causes an ENOMEM when the payload is 256 sectors or more.

## Expected Behavior

The following command fails when `-c` is `255`, but not for any lesser number.

[code]

## Current Behavior

[code]

Failing raw IOCTL values:
[code]

Passing raw IOCTL values:
[code]

## Steps to Reproduce

[code]

## Context (Environment including OS ver

[2021-05-19 17:28] gcoakes commented on #1951
I forgot to mention. There's no output from the `spdk_tgt` process when running these commands.

[2021-05-19 18:39] jimharris commented on #1951
Changed the title slightly, since the underlying issue is the overall size of the ioctl payload, not the number of sectors.

Root cause here is that by default FUSE requests have a maximum 128KiB payload (in and out).  So if we do a write w/ NVME_IOCTL_SUBMIT_IO with 256 sectors on a 512-byte namespace, we exceed the 128KiB.  This is because we have to first read the nvme_user_io structure and the

[2021-05-19 19:27] jimharris commented on #1844
Patches merged.

[2021-05-19 19:27] #1844 closed

[2021-05-19 21:51] spdkci commented on #1792
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_47678.html

[2021-05-19 22:26] ericcurtin commented on #1939
Some info on ktls with OpenSSL https://github.com/openssl/openssl/issues/14595

[2021-05-20 01:39] Comphix commented on #1942
Thanks Jim. Talked with @tomzawadzki earlier and he will work on this. Thanks Tomek!

[2021-05-20 01:47] ryderhsu0129 commented on #1948
Thanks for your suggestion, I probably know how to do it.

[2021-05-20 03:34] #1948 closed

[2021-05-20 06:19] wanqunintel opened #1952 "[spdk.io homepage]https://spdk.io/releases/ has several spaces before red-colored characters"
The page of https://spdk.io/releases/ **with red colored characters has several spaces** before it. Tested on Chrome/IE/MS Edge, has the same phenomenon.
## Expected Behavior

## Current Behavior
![image](https://user-images.githubusercontent.com/18566118/118928459-d3c2c000-b975-11eb-9b08-65a9824cc4fa.png)

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context (Environment including

[2021-05-20 07:24] karlatec commented on #1840
Retested with iRDMA driver 1.5.2 (current latest) and SPDK `706aa1ff08`, issue still persists.

[2021-05-20 10:14] dakshajauppalapati96 commented on #1823
Hi @benlwalker

Tried to debug from kernel side(initiator) and found the below culprit command from git bisect

commit 38e1800275d3af607e4df92ff49dc2cf442586a4
Author: Israel Rukshin <israelr@mellanox.com>
Date:   Sun Nov 24 18:38:30 2019 +0200

    nvme-rdma: Avoid preallocating big SGL for data

Note:-
1.	Issue is not seen with NVMoF over iWARP kernel target, issue only seen with SPDK target.
2.

[2021-05-20 12:08] krish-reddy opened #1953 "[nvmf_multipath] nvmf-tcp-vg-autotest CI test failure"
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/47853/archive/nvmf-tcp-vg-autotest/build.log

## Execution failed at

00:09:29.676  ========== Backtrace start: ==========
00:09:29.676
00:09:29.690  in test/nvmf/target/multipath.sh:82 -> main(["--transport=tcp"])
00:09:29.690       ...
00:09:29.690     77  	$rpc_py nvmf_subsystem_listener_set_ana_state nqn.2016-

[2021-05-20 12:10] spdkci commented on #1953
Another instance of this failure. Reported by @krish-reddy. log: https://ci.spdk.io/public_build/autotest-per-patch_47853.html

[2021-05-20 12:11] mikeBashStuff commented on #1953
This is a duplicate of #1801, closing. :)

[2021-05-20 12:11] #1953 closed

[2021-05-20 14:38] spdkci commented on #1792
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_47855.html

[2021-05-20 15:19] spdkci commented on #1863
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_47861.html

[2021-05-20 15:39] mikeBashStuff commented on #1792
We are planning to bump ubuntu vm hosts to 20.04, hopefully newer version of the net-ssh gem will work better with openssh package installed in the freebsd VM we are using.

@karlatec I think we should also update freebsd to 12.2 since this is what we are currently building but hosts still use 12.1 (will look into bringing 13.0 release as well since it's been available for some time now).

[2021-05-20 16:44] spdkci commented on #1944
Another instance of this failure. Reported by @spdkci. log: https://ci.spdk.io/public_build/autotest-per-patch_47872.html

[2021-05-20 17:46] spdkci commented on #1944
Another instance of this failure. Reported by @spdkci. log: https://ci.spdk.io/public_build/autotest-per-patch_47875.html

[2021-05-20 18:25] spdkci commented on #1944
Another instance of this failure. Reported by @spdkci. log: https://ci.spdk.io/public_build/autotest-per-patch_47881.html

[2021-05-20 18:53] spdkci commented on #1944
Another instance of this failure. Reported by @spdkci. log: https://ci.spdk.io/public_build/autotest-per-patch_47884.html

[2021-05-20 19:03] spdkci commented on #1944
Another instance of this failure. Reported by @spdkci. log: https://ci.spdk.io/public_build/autotest-per-patch_47887.html

[2021-05-20 19:13] spdkci commented on #1944
Another instance of this failure. Reported by @spdkci. log: https://ci.spdk.io/public_build/autotest-per-patch_47889.html

[2021-05-20 19:36] spdkci commented on #1944
Another instance of this failure. Reported by @spdkci. log: https://ci.spdk.io/public_build/autotest-per-patch_47891.html

[2021-05-21 02:14] changpe1 commented on #1945
This is QEMU error, a fix patch is submitted here https://review.spdk.io/gerrit/c/spdk/qemu/+/7989

[2021-05-21 06:02] wanghailiangx opened #1954 "[setup] hugepages.sh reports ERROR: nr_hugepages!=default_huge_nr"
Some servers(Hugepagesize is 1G and 2M) all reports:
nr_hugepages!=default_huge_nr
nr_hugepages!=global_huge_nr
nr_hugepages!=get_meminfo HugePages_Total
[code]

[code]

## Expected Behavior

hugepages.sh can be able to adapt to as many situations as possible.

## Current Behavior

hugepages.sh failed in some servers.

## Possible Solution

Add verification.

## Steps to Reproduce

1. ./test/setup

[2021-05-21 07:07] Comphix commented on #1952
The markdown looks like having no problem:

The version names are in the format `YY.MM.vv`, where `YY` is year, `MM` is month, and `vv` is a minor version number and is often omitted.

Not sure why it is shown with spaces before the `YY.MM.vv`

[2021-05-21 08:48] mikeBashStuff commented on #1954
I am a bit confused by the `meminfo` output on the system where the tests were run. So it says that there's one surplus hugepage allocated, yet there's still 4097 hugepages available for use? I would expect the surplus count to increase as per `nr_overcommit_hugepages` in case free hugepages drop to 0 (so the process allocates more hugepages than available).

As for the test. The total amount of h

[2021-05-21 09:36] wanghailiangx commented on #1954
The server(Hugepagesize is 2M):
[code]

The server(Hugepagesize is 1G):
[code]
Log: https://10.211.11.56:8080/blue/organizations/jenkins/cvl-integration-autotest/detail/cvl-integration-autotest/144/pipeline/
[code]
Although this is not the same as the above, please check it. They are all caused by hugepages.sh.

[2021-05-21 10:18] mikeBashStuff commented on #1954
So for the server where hugepages are present under `/dev/hugepages` this definitely impacts the `hp_status()` since number of free hugepages won't match - any applications using hugepages should not be running while running these tests. As to the log, the `setup.sh` is actually failing there. Can you try to run manually the following on your `vmlinuz-5.8.18` system and paste the output (it's unfo

[2021-05-21 10:29] jkalwas commented on #1606
Hi @changpe1 ,
thank you for looking into this
DPDK patch seems fine to me, as for SPDK I do have some concerns - I put a comment in the patch itself.

[2021-05-21 11:36] tomzawadzki commented on #1937
@zRegle Thank you for such an in-depth analysis ! This was very helpful.

The suggested approach would work, but the reason for introducing the open_blobids was to speed up the lookup. See 30ee8137cf808454af7ad2dd273106aa4033aaa6.

I believe that the superfluous blob pointers is resolved with this patch https://review.spdk.io/gerrit/c/spdk/spdk/+/7998.

I'm just curious about the reproduction step

[2021-05-21 12:29] tomzawadzki commented on #1539
Closing since patch improving the docs has been merged https://review.spdk.io/gerrit/c/spdk/spdk/+/7859.

[2021-05-21 12:29] #1539 closed

[2021-05-21 19:15] KariukiJ commented on #1939
@ericcurtin Are you doing TLS 1.2? Or are you shooting for 1.3?

[2021-05-21 20:02] spdkci commented on #1770
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_48019.html

[2021-05-22 13:18] ericcurtin commented on #1939
I'm shooting for 1.3 at the moment, but 1.2 should be easy to add after that if required.

[2021-05-22 18:48] #1929 closed

[2021-05-23 21:51] shuhei-matsumoto commented on #1947
Ah, this bug is my fault and sorry for this. Thank you for your finding and fixing.

[2021-05-24 01:22] wanqunintel commented on #1952
it seems this is the format issue

[2021-05-24 01:56] ChengqiangMeng opened #1955 "[identify] get_feature(0x05) failed on P5800X"
[code]

## Steps to Reproduce
1.`./build/examples/identify -i 0 -r "trtype:PCIe traddr:0000:5f:00.0"`
## Context (Environment including OS version, SPDK version, etc.)
SPDK Version: 199fa6015d774e265ccec87ae99d9e36e62f9045
OS Version: Linux 5.11.15-100.fc32.x86_64 #1 SMP x86_64 GNU/Linux  Fedora release 32

[2021-05-24 02:43] wanghailiangx commented on #1954
[code]

[2021-05-24 04:42] changpe1 commented on #1955
This should be a bug, I will take a look.

[2021-05-24 05:08] changpe1 commented on #1955
@ChengqiangMeng  The fix patch is here https://review.spdk.io/gerrit/c/spdk/spdk/+/8009, can you have a try ? thanks

[2021-05-24 05:21] ChengqiangMeng commented on #1955
@changpe1 I have retested it with this patch, and I think it is been fixed by you.

The new log is as follows:
[code]

[2021-05-24 06:34] gaowayne opened #1956 "[new feature] spdk_top cannot create long time csv result as iostat.py that can be imported into grafana"
## Expected Behavior
it will be great that spdk_top can have one script version that is very similar with iostat.py, it can dump CPU usage on every interval. the result can be csv format. that can be uploaded into grafana

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context (Environment including OS version, SPDK version, etc.)

[2021-05-24 08:45] mikeBashStuff commented on #1954
Appreciate all the info! I see where the issues is (for both, hugepages test and "weird" xtraces), will try to cook some patches today.

[2021-05-24 09:25] tomzawadzki commented on #1956
Please note that this would not be related to spdk_top. The RPCs (`framework_get_reactors`, `thread_get_stats` and `thread_get_pollers`) are available to get from any SPDK application based on event framework.

Are you interested in adding a script that would periodically request that data and translate JSON output to CSV ?

[2021-05-24 09:33] gaowayne commented on #1956
Yes, because spdk_top cannot do this. I think it will be great add one script like iostat.py to periodically dump cpu usage to CSV, need do some match based on the json data, not just simple output to CSV.

[2021-05-24 10:23] #1877 closed

[2021-05-24 10:23] #1947 closed

[2021-05-24 11:05] tomzawadzki commented on #1945
Hi @changpe1 thanks for the patch !

@karlatec or @mikeBashStuff could we test the [QEMU patch ](https://review.spdk.io/gerrit/c/spdk/qemu/+/7989) with [bdev/nvme: add write zeroes support](https://review.spdk.io/gerrit/c/spdk/spdk/+/7876). If it passes, then provide the +1 verified vote to QEMU patch. So that it can later be merged and deployed ?

[2021-05-24 11:38] wanghailiangx opened #1957 "test/vhost/fio/fio.sh doesn't seem to be used"
## Expected Behavior
test/vhost/fio/fio.sh shall be used.

## Current Behavior
I can't find where test/vhost/fio/fio.sh be used.

## Possible Solution
We may remove test/vhost/fio/fio.sh

## Steps to Reproduce
N/A

## Context (Environment including OS version, SPDK version, etc.)
SPDK commit ed2942461da5d929df1611a705fa3ceeda4d0da9

[2021-05-24 11:47] mikeBashStuff commented on #1945
@tomzawadzki Sure, will do.

[2021-05-24 12:21] tomzawadzki commented on #1942
Turns out this was bug on spdk/spdk.github.io, please see https://review.spdk.io/gerrit/c/spdk/spdk.github.io/+/8016

[2021-05-24 12:41] mikeBashStuff commented on #1957
This was added as part of 236dbd955080e921c44805362fc3c1dbc76fb2cf but not put into any top wrappers - from the commit message it seems like it was added for quick, manual use. We do have `test/vhost/fiotest/fio.sh` which performs similar job and which is currently running under CI. We could either remove `test/vhost/fio` or merge it with `test/vhost/fiotest` (that said, it feels a bit redundant s

[2021-05-24 12:51] mikeBashStuff commented on #1945
`unittest` job passed fine on my end with https://review.spdk.io/gerrit/c/spdk/spdk/+/7876 on board (spdk qemu built with https://review.spdk.io/gerrit/c/spdk/qemu/+/7989 on top), seems to be working fine then - +1ed.

[2021-05-24 17:06] benlwalker commented on #1823
Great! Have you reported this to the kernel mailing list?

The bug doesn't occur with the Linux target because it only reports MSDBD of 1. If Linux were to add support for higher values later, it would break there too.

[2021-05-24 17:19] benlwalker commented on #1823
I've actually gone ahead and sent a note to the linux-nvme list to see what they think.

[2021-05-24 19:02] KariukiJ commented on #1814
Submitted patch https://review.spdk.io/gerrit/c/spdk/spdk/+/8023 to fix this issue in the LTS.

[2021-05-24 19:02] #1814 closed

[2021-05-25 02:46] sun-mingbao opened #1958 "SPDK perf can not run without root privilege under SLES-15-SP2"
SPDK perf can not run without root privilege under SLES-15-SP2.
However, when running with the root account, everything is OK.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

Following are the logs of a reproduction:

layton-dirt:/home/admin # whoami
root
layton-dirt:/home/admin # ls -l /dev | grep huge
drwxrwxrwx 2 root root           0 May 24 06:11 hugepa

[2021-05-25 03:13] sun-mingbao commented on #1958
It seems that it was caused by certain threshold for controlling the resource using of non-root users.

[2021-05-25 05:10] yidong0635 opened #1959 "Some nvme reports error when construct nvme bdev"
# Issue

[code]

## Steps to Reproduce
[code]
d9:00.0 Non-Volatile memory controller: Intel Corporation NVMe Datacenter SSD [3DNAND, Beta Rock Controller]

## Context (Environment including OS version, SPDK version, etc.)
Linux waikikibeach56 5.7.16
commit: af935f768e20bbfa9e866251ff68841b1090eea8.

[2021-05-25 05:17] optimistyzy commented on #1959
“:nvme_ctrlr_set_num_queues_done: *ERROR*: [0000:d9:00.0] Set Features - Number of Queues failed!”  I am guessing the firmware issue of the nvme drive. It seems that we cannot set the queues. You may need refresh the hard drive with some nvme firmeware related tools.

[2021-05-25 05:23] yidong0635 commented on #1959
oh, I found this on several servers both with transport address : d9:00.0 can't be attached with the same error.
[code]
only d9:00.0 reports error.

[2021-05-25 05:38] optimistyzy commented on #1959
Do you mean if you put the nvme disk on another pci slot, it will work?  You may need do some experiments and switch the nvme ssds and see whether it will always have issue on this slot. If always on this slot, it may the issue of the sever board...

[2021-05-25 05:46] yidong0635 commented on #1959
no , it's my poor presentation. I mean on different servers with transport address : d9:00.0:
A d9:00.0 on server A,
Another one  d9:00.0 on server B,
They are both report the same error.

[2021-05-25 07:11] dakshajauppalapati96 commented on #1823
No I haven't reported it.

[2021-05-25 07:18] #1937 closed

[2021-05-25 07:47] optimistyzy commented on #1959
@yidong0635 After detailed discussion with Dong, it should be the issue with the NVMe drive. And suggested to refresh the drive with firmware.

[2021-05-25 07:51] optimistyzy commented on #1958
How about changing some settings in  /etc/security/limits.conf in order to provide some resource usage for a special user?

[2021-05-25 08:07] changpe1 commented on #1955
Patch has been merged, closing this issue for now.

[2021-05-25 08:07] #1955 closed

[2021-05-25 09:00] shuhei-matsumoto opened #1960 "[iscsi_tgt_rbd] scripts/fio-wrapper: line 88: /sys/block/sda/queue/nomerges: No such file or directory"
[code]

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_48202.html

## Execution failed at

[code]

[2021-05-25 09:01] spdkci commented on #1960
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_48202.html

[2021-05-25 09:09] mikeBashStuff commented on #1960
Ah, 3c578739e96ed633ed728c19a0f1a65ce8c57310 forgot about iscsi, will try to fix it asap.

[2021-05-25 09:35] sun-mingbao commented on #1958
@optimistyzy
Yes.
The issue was muted by adding the following in  /etc/security/limits.conf
*        hard    memlock        unlimited
*        soft    memlock        unlimited

[2021-05-25 09:40] sun-mingbao commented on #1958
@optimistyzy
Yes.
The issue can be muted by changing the limit of memlock in /etc/security/limits.conf.

[2021-05-25 13:04] Maciej-Szwed commented on #1816
I found the root cause:
rte_dev_event_monitor_start() creates and binds the same socket as we try to create and bind later in spdk_pci_event_listen() and bind() call fails there. My suggestion would be to remove spdk_pci_event_listen() function in SPDK and relay on DPDK dev event callback mechanism. That will require some work to be done (but it will simplify SPDK code).
We can probably change lab

[2021-05-25 14:57] jimharris commented on #1816
Thanks for this update @Maciej-Szwed.  Just to confirm, you are working on the changes to remove spdk_pci_event_listen() and solely rely on the DPDK dev event callback mechanism?

[2021-05-25 15:09] floatious opened #1961 "Opal related errors during bdev_nvme init"
When initializing bdev_nvme on a NVMe drive without Opal support,
you will see the following error messages:

$ sudo build/examples/hello_bdev -c config.json -b Nvme0n1
[2021-05-25 14:41:01.671481] Starting SPDK v21.07-pre git sha1 7908736c2 / DPDK 21.02.0 initialization...
[2021-05-25 14:41:01.671529] [ DPDK EAL parameters: [2021-05-25 14:41:01.671536] hello_bdev [2021-05-25 14:41:01.671544] --no

[2021-05-25 15:31] Maciej-Szwed commented on #1816
Yes, that's the idea I want to try. Are you OK with such approach?

[2021-05-25 15:33] jimharris commented on #1816
It seems reasonable to me.

[2021-05-25 15:36] tomzawadzki commented on #1945
@mikeBashStuff thanks, the patch is merged. Please let @changpe1 know once the QEMU with it is deployed so write zeroes patches can be rebased.

[2021-05-26 01:37] optimistyzy commented on #1958
So could we close this issue? I think it is an environment  issue and it is documented in this page: https://spdk.io/doc/system_configuration.html

"Increasing the memlock limit permanently"

[2021-05-26 01:55] changpe1 commented on #1961
Actually there is one notice log in existing code to say like this, not sure why this log didn't display in your log trace.
SPDK_INFOLOG(opal, "Opal is not supported on this device\n");

I can submit a patch to remove that error log.

[2021-05-26 02:06] changpe1 commented on #1961
Here is the patch to fix it https://review.spdk.io/gerrit/c/spdk/spdk/+/8055

[2021-05-26 04:46] optimistyzy commented on #1944
close this issue since it does not happen more than 5 days.

[2021-05-26 09:25] #1946 closed

[2021-05-26 09:29] #1954 closed

[2021-05-26 09:32] wanghailiangx commented on #1954
@mikeBashStuff Is there any link of related patch? Thanks.

[2021-05-26 09:36] sun-mingbao commented on #1958
@optimistyzy
Yes. SPDK has no job to do with this issue.
Many thanks for your support :)

[2021-05-26 09:39] mikeBashStuff commented on #1954
@wanghailiangx Here's one that just got merged: https://review.spdk.io/gerrit/c/spdk/spdk/+/8012 and here's https://review.spdk.io/gerrit/c/spdk/spdk/+/8013/2 for the faulty bash tracing. I tested these on my local VM setup but I hope they can mitigate  issues on your end as well. If not, please reopen this issue or open a new one (if something new comes up).

[2021-05-26 10:37] floatious commented on #1961
Hello @changpe1

Thank you for looking in to this!

I tested your patch, and this is the result:

$ sudo build/examples/hello_bdev -c config.json -b Nvme0n1
[2021-05-26 10:17:36.005800] Starting SPDK v21.07-pre git sha1 7908736c2 / DPDK 21.02.0 initialization...
[2021-05-26 10:17:36.005846] [ DPDK EAL parameters: [2021-05-26 10:17:36.005853] hello_bdev [2021-05-26 10:17:36.005860] --no-shconf [202

[2021-05-26 11:15] wanghailiangx commented on #1954
I tested with patch #8012, it passed in server(Hugepagesize is 1G),but failed in server(Hugepagesize is 2M).
[code]

[2021-05-26 11:27] mikeBashStuff commented on #1954
@wanghailiangx This is still  this odd issue where `setup.sh` seems to allocate more hp then requested (4098 at the end where only 4096 is requested). From the previous comments, some hp were still allocated under `/dev/hugepages` on that system. Can you make sure they are removed and no other processes which use hugepages are running prior to executing these tests?

Also, based on this `AnonHugeP

[2021-05-26 11:39] wanghailiangx commented on #1954
echo madvise > /sys/kernel/mm/transparent_hugepage/enabled
No effect.

[2021-05-26 11:49] mikeBashStuff commented on #1954
@wanghailiangx Would you kindly clarify what do you mean by "no effect"? Change under `transparent_hugepages/enabled` wasn't applied or is the test still failing? What `/proc/meminfo` is showing? If allocations didn't change I would reboot the system making sure `transparent_hugepage` is set to madvise (this is the default for all systems in the CI pool). But before rebooting I would like to see t

[2021-05-26 12:16] ryderhsu0129 opened #1962 "How to re-probe device after calling API spdk_nvme_ctrlr_reset_subsystem?"
According to the description below the API spdk_nvme_ctrlr_reset_subsystem :
`A subsystem reset is typically seen by the OS as a hot remove, followed by a hot add event.`

So we call spdk_nvme_probe immediately after calling spdk_nvme_ctrlr_reset_subsystem, but it seems that the re-probe failed,
how to re-probe device after calling API spdk_nvme_ctrlr_reset_subsystem?what is the correct process?

[2021-05-26 12:23] karlatec opened #1963 "vfio-user: can't run VM when attaching to controller; Invalid zero-sized VFIO migration region 9"
## Current Behavior

Qemu VM fails to boot when attaching to vfio-user controller with error:
[code]
Also results in guest VM kernel panic (log below).

## Steps to Reproduce

1.  Build SPDK with vfiouser
[code]
2. Start SPDK target, configure bdevs, controllers and paths:
[code]
3. Start Qemu VM:
[code]

Result:
[code]

Guest VM kernel panic:
[serial.log](https://github.com/spdk/spdk/files/654661

[2021-05-26 12:27] karlatec commented on #1963
Copying the note about encountered guest VM kernel panic, just for better visibility:
[code]

[2021-05-26 14:10] mikeBashStuff commented on #1960
Mitigation: https://review.spdk.io/gerrit/c/spdk/spdk/+/8042

[2021-05-26 14:58] KariukiJ commented on #1939
1.3 hasn't been approved. Looks like the TP 8011 is pending. Are you aligning your schedule with the TP approval timeline?

[2021-05-26 15:49] ericcurtin commented on #1939
Does 1.2 suit @KariukiJ ?

[2021-05-27 01:17] changpe1 commented on #1961
yeah, currently they are NOTICE logs, so users can just ignore them.

[2021-05-27 01:39] optimistyzy commented on #1958
@sun-mingbao Let me close this issue.

[2021-05-27 01:39] #1958 closed

[2021-05-27 01:55] changpe1 commented on #1963
@karlatec the message "Invalid zero-sized VFIO migration region 9" doesn't affect anything, it's only used for live migration. I noticed that QEMU just has a huge update, but I tested it again in my local environment, everything works fine to me.

I saw the kernel panic is related with serial device, so can you have another try to remove the serial device?

I used Fedora 33 for the VM image.

[2021-05-27 02:15] wanghailiangx commented on #1954
"no effect" above mean: echo madvise > ... no effect, hugepages.sh still run failed.
Printing before rebooting as below, after these option, hugepages.sh run passed. Thanks.
[code]

[2021-05-27 02:20] changpe1 commented on #1963
I just updated the libvfio-user submodule, still works for me, maybe you can have another try.

And it is much simple now to create vfio-user devices, see test/nvmf/target/nvmf_vfio_user.sh for more information, you only need to create a socket file now.

[2021-05-27 02:42] changpe1 commented on #1606
Using the same test steps, **before spdk patch:**

Primary process:
EAL: Failed to hotplug add device on primary
EAL: Failed to hotplug remove device on secondary

Secondary processs:
EAL: Driver cannot detach the device (0000:d9:00.0)
EAL: Failed to hotplug remove device

 **after spdk patch:**

Primary process:
EAL: Failed to hotplug add device on primary
EAL: Driver cannot detach the device (00

[2021-05-27 04:02] changpe1 commented on #1962
@ryderhsu0129 what's the transport in your system? PCIe based?

[2021-05-27 04:07] changpe1 commented on #1961
I will have a try as the method 2 listed above.

[2021-05-27 04:10] changpe1 commented on #1957
[Bug Scrub] let's keep the scripts here, closing this issue now.

[2021-05-27 04:10] #1957 closed

[2021-05-27 04:12] changpe1 commented on #1956
@gaowayne assign this issue to you now.

[2021-05-27 05:45] ryderhsu0129 commented on #1962
@changpe1
We are using PCIe as the transport interface.

[2021-05-27 06:27] changpe1 commented on #1961
Here is the patch to check security protocols first, https://review.spdk.io/gerrit/c/spdk/spdk/+/8083, @floatious can you have another try? thanks.

[2021-05-27 06:38] karlatec commented on #1963
I think even if it's not related to the problem I'm seeing, and it's just a message, then it should be fixed anyway. In my opinion it's very misleading to have an error/warning message like that, especially if it's unrelated.

Already tried that. See my previous comment.

Will take a look, re-test, and report back.

[2021-05-27 06:42] changpe1 commented on #1963
Yeah, I will bring this issue to Thanos

[2021-05-27 07:19] gaowayne commented on #1956
changpe, :( I plan to work on this. but truly too busy. I am looking forward SPDK main team can create this thing, then we can use directly. :)

[2021-05-27 07:35] changpe1 commented on #1962
I tried subsystem reset in my local environment, subsystem reset isn't supported with all my NVMe drives.

Can you list the kernel messages here when doing subsystem reset?

[2021-05-27 07:44] changpe1 commented on #1962
I used nvme-cli to send subsystem reset to NVMe drive, here is the patch to use SPDK https://review.spdk.io/gerrit/c/spdk/spdk/+/8084 to send subsystem reset to controller.

[2021-05-27 09:11] tmakatos commented on #1963
I merged QEMU upstream to vfio-user-master *and* pushed more changes related to vfio-user at the same time, so this might indeed be a QEMU problem. Can you try commit 28aa095912?

[2021-05-27 09:35] floatious commented on #1961
@changpe1 I can confirm that:
https://review.spdk.io/gerrit/c/spdk/spdk/+/8055
together with
https://review.spdk.io/gerrit/c/spdk/spdk/+/8083

Solves this issue.

Thank you Changpeng !

[2021-05-27 10:19] karlatec commented on #1963
`28aa095912` seems to be OK. Tried `3c4f65441c`, this one looks OK to.

I also attempted to bisect and ended up with `f5cc5a5c168674f84bf061cdb307c2d25fba5448`, but l'm not sure it's related. Either I messed something up or the issue is not 100% reproducible.

[2021-05-27 10:19] ryderhsu0129 commented on #1962
@changpe1
The dmesg doesn't show any messages when performing subsystem reset(spdk_nvme_ctrlr_reset_subsystem()),
and then trying to re-probe device(spdk_nvme_probe()). But the SPDK console show the following message :
[code]

If we redo the test, a message will be displayed :
[code]

[2021-05-27 10:28] tmakatos commented on #1963
FYI we're changing the spec a bit and not testing thoroughly, should be done with it in the next few days.

[2021-05-27 10:32] karlatec commented on #1963
OK! Let me know when I can get back to testing please :)

[2021-05-27 17:49] benlwalker commented on #1823
I've been talking to the Linux developers and they've got a patch to fix the issue. I'll close this issue after it is merged.

[2021-05-27 20:46] ericcurtin commented on #1939
I made progress here until the point where the TLS connection is completed and we are starting to run IO. Some small bits of IO run through, but I mostly hit this state. I'll get there soon I think. I'm doing without zerocopy and such for now, just SSL_write and SSL_read calls with wrappers for the iovec versions of those calls, etc.

"Write completed with error (sct=0, sc=8)
starting I/O failed
W

[2021-05-27 21:07] jimharris commented on #1939
If you run perf for 60 seconds let's say, do you see these errors immediately, or only at the end of the 60 seconds?

sct=0 means generic command status code type
sc=8 means "command aborted due to SQ deletion"

So this sc is probably being generated by the nvme driver in perf, either as part of freeing the io qpair, or some kind of error condition on the TCP socket when there are outstanding I/O.

[2021-05-27 21:16] ericcurtin commented on #1939
Just that log message looks different on the perf side, no odd logs on the other side. That sc error is the only difference I see to the normal TCP mode, although my code is flooded with temp logging for myself, just trying to figure out how this codebase works. If you'd like to pull my branch above. I basically run:

./target.sh

in one terminal and:

./host.sh

in the other. If you want to run w

[2021-05-27 21:57] ericcurtin commented on #1939
Almost immediately, I get some IOPS, etc. for a few milliseconds, but everything quickly goes to zero then.

[2021-05-27 21:59] jimharris commented on #1939
But do you get the "Write completed with error" messages after a few milliseconds?  Or do those come later?

[2021-05-27 22:35] ericcurtin commented on #1939
Instantly, before the IOPS even appear, Then I will get a very small number of IOPS displayed like 411, then to zero infinitely.

[2021-05-28 02:10] yidong0635 commented on #1959
thanks @optimistyzy @changpe1 refreshed the firmware. But still failed.  Close this one, a broken disk.

[2021-05-28 02:10] #1959 closed

[2021-05-28 06:16] changpe1 commented on #1962
looks like the hot remove event didn't occur after the subsystem reset, what happened if you only call subsystem reset?
can you still see the PCI device via lspci? what's the bind driver then?

[2021-05-28 08:54] ryderhsu0129 commented on #1962
If we only do subsystem reset, the next step to allocate the I/O queue will still fail :
[code]
and the NVMe device still exist via lspci, the bind driver is also uio_pci_generic.

We tried to remove/rescan the device via Linux sysfs after doing subsystem reset, and then re-probe by calling spdk_nvme_probe, the error will still happen.

[2021-05-28 09:50] #1942 closed

[2021-05-28 10:20] dakshajauppalapati96 commented on #1823
Hi @benwalker

Thanks for the update.
Issue is not seen with below patch which is got recently submitted to upstream.

http://lists.infradead.org/pipermail/linux-nvme/2021-May/025641.html

Thanks
Dakshaja

[2021-05-28 10:53] spdkci commented on #1801
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_48587.html

[2021-05-28 12:22] spdkci commented on #1801
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_48591.html

[2021-05-28 16:12] tmakatos commented on #1963
@karlatec https://github.com/nutanix/libvfio-user/pull/543 fixes this.

[2021-05-28 18:25] gcoakes opened #1964 "Missing NVME_IOCTL_RESCAN in nvme_cuse.c."
NVME_IOCTL_RESCAN is missing from the cuse interface. This is causing errors when attempting to issue commands such as [nvme format](https://github.com/linux-nvme/nvme-cli/blob/master/Documentation/nvme-format.txt) using nvme-cli.

## Expected Behavior

Changing LBA of a namespace using nvme format should be successful. For example, Linux Inbox drivers produce these results:

[code]

Along with th

[2021-05-31 01:47] optimistyzy commented on #1960
Close this issue since the patch is merged. If there is similar issue, we can reopen it.  @shuhei-matsumoto  @mikeBashStuff

[2021-05-31 01:47] #1960 closed

[2021-05-31 07:28] changpe1 commented on #1963
I just updated the submodule based on  Swapnil's patch https://review.spdk.io/gerrit/c/spdk/spdk/+/8088, I tested it with QEMU vfio-user-master-old branch and it worked.

[2021-05-31 11:46] wawryk commented on #1745
@changpe1 on my local setup with one nvme disk, I can not reproduce it too, this case only occurs on setup with 16 nvme drives (which currently have scheduled tests) and this log still occurs there

[2021-05-31 12:44] karlatec commented on #1963
@tmakatos @changpe1  I'm confused. Which Qemu branch should I use? `vfio-user-master` or `vfio-user-master-old` which Changpeng uses? Or master? Is there any doc which describes which version should actually be used?

[2021-05-31 12:53] karlatec commented on #1963
Because if `vfio-user-master` is the correct branch, then recently merged PR https://github.com/nutanix/libvfio-user/pull/543 does not fix the issue. Actually it makes things worse.

After running Qemu command, SPDK output:
[code]

Qemu fails to start and gives no output even on serial. In dmesg I can see:
[code]

Branch `vfio-user-master-old`  does not have this issue.

[2021-05-31 13:03] karlatec opened #1965 "vfio-user: cannot remove subsystem listener after detaching initiator"
## Current Behavior

`nvmf_subsystem_remove_listener` gets stuck and time outs after initiator is detached from subsystem.
Also results in `"Internal error"` and `subsystem busy, retry later.` on subsequent RPC calls to nvmf subsystem.

## Steps to Reproduce

1. Build SPDK with vfio-user enabled
[code]
2. Configure target with single malloc bdev and vfio-user subsystem
[code]

3. Run a Qemu VM and

[2021-05-31 13:43] mikeBashStuff opened #1966 "unable to access https://review.spdk.io/spdk/rocksdb"
https://ci.spdk.io/results/autotest-per-patch/builds/48718/archive/BlobFS-autotest/build.log
[code]
It's likely that this is caused by internal issues with proxy that we have been experiencing for some time now.

[2021-05-31 13:44] spdkci commented on #1966
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_48718.html

[2021-06-01 01:11] changpe1 commented on #1963
@karlatec we're trying to have a stable QEMU version, currently you can use `vfio-user-master-old` as suggested by Thanos, hopefully the specification will be stable very soon.

[2021-06-01 01:35] changpe1 commented on #1965
Thanks @karlatec ,  I can reproduce this issue, it should be a SPDK bug.

[2021-06-01 02:09] optimistyzy opened #1967 "[nvmf_multipath] nvmf-tcp-uring-vg-autotest CI test failure Intermittent Failure"
## Link to the failed CI build

http://10.211.11.56/results/autotest-per-patch/builds/48737/archive/nvmf-tcp-uring-vg-autotest/build.log

## Execution failed at

00:08:43.394
00:08:43.394  in test/nvmf/target/multipath.sh:82 -> main(["--transport=tcp"])
00:08:43.394       ...
00:08:43.394     77  	$rpc_py nvmf_subsystem_listener_set_ana_state nqn.2016-06.io.spdk:cnode1 -t $TEST_TRANSPORT -a "$NVMF

[2021-06-01 02:11] spdkci commented on #1967
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_48737.html

[2021-06-01 04:42] changpe1 commented on #1965
Here is the patch to fix this issue https://review.spdk.io/gerrit/c/spdk/spdk/+/8129

[2021-06-01 06:07] karlatec commented on #1967
Duplicate of #1801

[2021-06-01 06:07] #1967 closed

[2021-06-01 06:26] karlatec commented on #1965
Fixes the issue. Let's keep it open until we get automated tests to cover it.

[2021-06-01 06:30] changpe1 commented on #1965
sure, no problem.

[2021-06-01 07:34] spdkci commented on #1966
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_48761.html

[2021-06-01 09:27] mikeBashStuff commented on #1945
@tomzawadzki @changpe1 spdk qemu was rebuilt on all of the vm hosts in the CI pool (3394706d77 should be on top). You should be able now to rebase your SPDK patch and see if it passes the tests. :)

[2021-06-01 09:35] changpe1 commented on #1945
@mikeBashStuff thanks, I will have a try.

[2021-06-01 09:36] mikeBashStuff opened #1968 "Vagrant fails to install rsync on the FreeBSD VM"
https://ci.spdk.io/results/autotest-per-patch/builds/48769/archive/freebsd-vg-autotest/build.log

Seems to be intermittent networking issue. This can be resolved by deploying latest build, 12.2, (currently some variants of 12.1 are being used across all VM hosts) we have available for FreeBSD where rsync is already on board.

[2021-06-01 09:42] spdkci commented on #1968
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_48781.html

[2021-06-01 10:18] tmakatos commented on #1963
@karlatec I've pushed a couple of chanes to `vfio-user-master`, can you try again?

[2021-06-01 10:25] mikeBashStuff opened #1969 "Jenkins fails to fetch refs from gerrit"
Intermittent networking issue affecting some of the hosts.

https://ci.spdk.io/results/autotest-per-patch/builds/48787/archive/lvol-vg-autotest/build.log

[code]

[2021-06-01 10:26] spdkci commented on #1969
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_48787.html

[2021-06-01 11:28] karlatec opened #1970 "nvmf_tgt TCP segmentation fault with high amount of traffic"
## Current Behavior

When running randrw with high number of connections and high QD SPDK NVMe-oF TCP target segfaults.

[code]

## Steps to Reproduce

Reproduction steps are high-level, because issue seems to only reproduce at scale, so I'm usign spdk/scripts/perf/nvmf/run_nvmf.py script, which is used for performance tests.

The configuration file for test looks like this:
[code]

Configuration

[2021-06-01 11:31] spdkci commented on #1966
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_48790.html

[2021-06-01 13:42] karlatec commented on #1963
@tmakatos The `Invalid zero-sized VFIO migration region 9` error message is gone, but the VM is back to the state where it either gets stuck during boot or fails with kernel panic.

[2021-06-01 14:41] tmakatos commented on #1963
@karlatec I just checked and it works for me, however in my case I'm using nested virtualization. Looking at the QEMU messages you've sent earlier, it looks like QEMU's version of vfio-user is incompatible with the version used by libvfio-user, e.g.:
[code]
A DMA region of one byte at offset 0x40000. Can you double check that you're using the correct versions of QEMU and libvfio-user? Also, are yo

[2021-06-01 14:46] karlatec commented on #1963
I'm using https://review.spdk.io/gerrit/c/spdk/spdk/+/8088 to update libvfio-user, so that it includes PR which you linked previously.

So at the moment I use:
Qemu:
[code]

SPDK:
[code]

libvfio-user submodule:
[code]

[2021-06-01 15:03] spdkci commented on #1968
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_48727.html

[2021-06-01 15:07] tomzawadzki commented on #1823
[Bug scrub] The issue is fixed in the latest Linux Kernel. Thanks @benlwalker !

[2021-06-01 15:10] tomzawadzki commented on #1495
[Bug scrub] Closing as it has not been reported for a month.

[2021-06-01 15:10] #1495 closed

[2021-06-01 15:10] jimharris commented on #1970
@karlatec - can you 'p sock' and 'p group' when this crashes?  I'm curious which one is causing the segfault here.

I'm assuming this is a release build, is there any chance this reproduces with a debug build?

[2021-06-01 15:12] tomzawadzki commented on #1648
[Bug scrub] This issue does not result in a build failure by itself, so reports are unreliable measure of how often it occurs. @karlatec will assign a person to give one last look at the CI scripts to figure out the cause.

[2021-06-01 15:15] spdkci commented on #1894
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_48792.html

[2021-06-01 15:30] tomzawadzki opened #1971 "[centos7-vg] Volume for domain is already created. Please run 'vagrant destroy' first."
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/48605/archive/centos7-vg-autotest/build.log

## Execution failed at
[code]

[2021-06-01 15:31] spdkci commented on #1971
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_48605.html

[2021-06-01 15:40] mikeBashStuff commented on #1971
This happened last week when all VM hosts were being upgraded. There's a chance that this particular node accidently ended up under two different jenkins instances (the extra one used for testing - I can see similar ts of the same job so probably I forgot to offline the node there). This should not happen anymore so I suggest to close this issue in couple of days if no other reports pop up.

[2021-06-01 17:55] jimharris commented on #1745
@wawryk - earlier in this thread, you were able to reproduce this with null backend (no SSDs).  Is that still the case?

[2021-06-01 21:42] peluse opened #1972 "idxd batch prep CRC32C command uses reserved field"
This was previously fixed fir direct submission of the CRC32C command but the batch operation was missed.

[2021-06-01 23:29] peluse commented on #1972
fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/8145

[2021-06-02 00:59] peluse opened #1973 "[nvmf-phy-autotest] nvmf_target_disconnect_tc3 lots of failures"
00:15:23.078  ************************************
00:15:23.078  START TEST nvmf_target_disconnect_tc3
00:15:23.078  ************************************
00:15:23.079   01:54:27	# xtrace_enable
00:15:23.079   01:54:27	# nvmf_target_disconnect_tc3
00:15:23.079   01:54:27	# reconnectpid=288770
00:15:23.080   01:54:27	# sleep 2
00:15:23.080   01:54:27	# /var/jenkins/workspace/nvmf-phy-autotest/spdk/b

[2021-06-02 02:19] changpe1 commented on #1963
@karlatec I used the exactly same commits with yours, and my VM started successfully without any exceptions, I think you may need to recompile your QEMU, I used ./configure --target-list=x86_64-softmmu to compile it, and my VM image is Fedora 33.

[2021-06-02 07:19] mikeBashStuff commented on #1973
Affected build: https://ci.spdk.io/public_build/autotest-per-patch_48832.html

[2021-06-02 07:42] mikeBashStuff commented on #1973
The main reason why the build failed was the timeout it hit - there can be huge delays seen after, for instance, `filesystem_incapsule_xfs` test where `nvme disconnect ...` blocks for over a minute:

[code]
Similar case is seen after `filesystem_xfs` test.

The errors from the description, mainly this:
[code]
and this
[code]
don't seem to be fatal since they can be also seen under other `nvmf-phy-

[2021-06-02 09:49] tanabarr opened #1974 "SPDK build deps not satisfied by RPMs on EL7 in python3 env"
In DAOS we provide RPM packages for SPDK and are working on upgrading to 21.07 (currently trending master), I am stuck with build requirements on centos7, RPM builds won't work unless we can satisfy the python3 elftools requirement via RPMs.

## Expected Behavior

Installing python-pyelftools satisfies the elftools requirement in the python3 environment during our scons build enabling meson to bui

[2021-06-02 10:10] wawryk commented on #1745
with null backend i check it today, and still can be reproduces.
log for @changpe1:
[code]

Then i do the same thing as previous:
[code]
When use nvme discover command on initiator, then i see log:
[code]

nvme version on target and initiator:
[code]

[2021-06-02 11:24] spdkci commented on #1966
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_48884.html

[2021-06-02 11:30] karlatec commented on #1970
@optimistyzy https://review.spdk.io/gerrit/c/spdk/spdk/+/8152 looks good, at least for making the target not crash. Not sure about performance though. We could merge it and leave regressions tests enabled for a couple of days to see if it has any impact.

[2021-06-02 11:42] mikeBashStuff commented on #1792
12.2 was deployed on all VM hosts, this issue should be gone now. Closing.

[2021-06-02 12:26] spdkci commented on #1966
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_48883.html

[2021-06-02 12:26] spdkci commented on #1966
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_48880.html

[2021-06-02 12:28] spdkci commented on #1969
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_48860.html

[2021-06-02 12:38] spdkci commented on #1966
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_48886.html

[2021-06-02 16:59] jimharris commented on #1974
We can track this issue here in SPDK, but this looks like more of a DPDK issue than SPDK issue (since DPDK drives the pyelftools dependency).

A few notes:
DPDK recommends using pip3 to install pyelftools:  https://doc.dpdk.org/guides/linux_gsg/sys_reqs.html

DPDK seems to have other issues with RHEL/CentOS 7, the link above includes this note:  "pkg-config 0.27, supplied with RHEL-7, does not pro

[2021-06-03 01:27] feixue1860 opened #1975 "Cannot operate two nvme at same time"
I am trying to destroy device a ‘s bedv, at the same time, i want to read another device b’s data, crash happened, can you help check this issue?
## Expected Behavior
I think the two operation in different device, they should not conflict or cause unexpected behavior.

## Current Behavior
Crash happened .

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context (Environment including

[2021-06-03 02:10] Comphix commented on #1975
@wanghailiangx , please use latest SPDK code to have a try.

1. Configure two NVMe bdev
2. Running Bdev FIO Plugin to just one NVMe bdev
3. RPC to destroy the other NVMe bdev

Expected behavior is that the PRC operation will succeed and the IO on the other NVMe bdev is not affected.

Thanks, Gang.

[2021-06-03 02:21] optimistyzy commented on #1970
Hi Karol,
Per Ben's comments,  could you  check the latest version of this patch and verify it again?  Thanks.

[2021-06-03 03:13] wanghailiangx commented on #1975
Reproduced. My steps:
1. run bdev fio_plugin with josn file( two NVMe bdevs, trtype is PCIe), set runtime=120.
2. During fio, pull one NVMe disk out.
3. When the remaining runtime exhaust, runtime change to an big number. That means, the fio has crashed.
I watched，when running fio, the disks indicator is flashing. At the moment when one disk is pulled out, the light of the other disk will not flas

[2021-06-03 03:45] Comphix commented on #1975
Hi Hailiang, for step, is RPC not workable? In this case, can we try SPDK bdevperf? The purpose is to RPC destroy one bdev and the other bdev is accepting the IOs.

[2021-06-03 06:36] wanghailiangx commented on #1975
SPDK bdevperf is also crash. Steps:
[code]

Reports:
[code]

[code]

[2021-06-03 06:47] Comphix commented on #1975
@wanghailiangx , is Bdevperf sending IOs to both NVMe Bdev in this case? Looks like it crashes in the poller_register().

[2021-06-03 07:18] dakshajauppalapati96 commented on #1823
Hi @benlwalker

Thanks for helping me in solving the issue.
In your free time could you please tell me how you root cause the issue or debug in order to fix the issue. So that it will be helpful for me to follow a similar procedure next time.

Thanks
Dakshaja

[2021-06-03 07:18] wanghailiangx commented on #1975
@Comphix Yes, Bdevperf sending IOs to both NVMe Bdevs. Because the indicator lights on the two disks flash synchronously when fio runing.

[2021-06-03 07:26] changpe1 commented on #1975
@wanghailiangx can we follow the reporter's step to reproduce this issue? I assume they are two different issues.

[2021-06-03 07:26] Comphix commented on #1975
May still need to think about a testing environment only 1 NVMe Bdev is receiving IO and the other NVMe Bdev received the Destroy PRC. The issue you mentioned may be a different one as described here. If Bdevperf can not operate one NVMe Bdev, we may consider add one NVMe Bdev to NVMe-oF Target and then run IO to NVMe-oF Target. The other Bdev could be destroyed by PRC without IO. @feixue1860 , is

[2021-06-03 07:33] changpe1 commented on #1962
I've no idea about this, I think this isn't a SPDK issue, you may try your drive with kernel driver and use nvme-cli to do subsystem reset to see what happen then.

[2021-06-03 07:48] ryderhsu0129 commented on #1962
We have tried to subsystem reset our drive successfully in the kernel driver,
the procedure is to remove/rescan drive through PCIe sysfs after doing subsystem reset.

[2021-06-03 07:56] changpe1 commented on #1962
So I think the same steps that do remove througth PCIe sysfs are required for SPDK after subsystem reset.

[2021-06-03 07:59] ryderhsu0129 commented on #1962
We tried it too, but couldn’t re-probe drive back.

[2021-06-03 08:01] changpe1 commented on #1962
what's the kernel messages when doing above actions?

[2021-06-03 08:23] wanghailiangx commented on #1975
@feixue1860 Could you show your steps roughly?

[2021-06-03 08:35] ryderhsu0129 commented on #1962
It seems that only the rescan action has logs :
[code]

You can try to subsystem reset through the nvme-cli, and remove/rescan drive through PCI sysfs.

[2021-06-03 08:36] wanghailiangx commented on #1975
Updated steps, need  not nvmf_tgt:
[code]
No error reports.

[2021-06-03 08:43] feixue1860 commented on #1975
Hi，the step in my side is as below:
1. First change two nvme device to user space driver;
2. Create bdev for these 2 devices;
3. And then destroy one nvme bdev via another child process’s RPC;
4. At the same time, read another device’s data continuously;
5. About several seconds later, the main process is hanged there.

[2021-06-03 19:03] mikeBashStuff commented on #1974
I guess the other approach would be to just build the rpms under different distro (e.g. centos8) and then just provide the resulted packages for Centos7 (not the prettiest of solutions but there shouldn't be any major incompatibilities involved)?

That said, depending on how you build the rpms you can just remove|ignore that particular build requirement (like removing it from the actual .spec). In

[2021-06-03 21:19] spdkci commented on #1966
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_48927.html

[2021-06-03 21:22] spdkci commented on #1966
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_48924.html

[2021-06-03 21:23] spdkci commented on #1966
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_48923.html

[2021-06-04 01:24] Comphix commented on #1975
@feixue1860 , from the description there are two process (main and child) here? The device is managed by main process and the destroy PRC goes to the child process. Could you try to PRC destroy to the main process?

@wanghailiangx  verified that on the same process, it looks like no problem. Please also take a look at Hailiang's reproduction.

[2021-06-04 01:51] feixue1860 commented on #1975
@Comphix，Hi，the RPC request is called by child process, it will be processed in main process. Currently, we create or destroy bdev via RPC call with python script.

[2021-06-04 02:02] Comphix commented on #1975
Thanks. So the child process is the python process? If it is python process, it shall be ok. Not the child process who receives the PRC command and operates the command?

What's your version of SPDK and you may also refer @wanghailiangx 's steps to have a try which is no problem met.

[2021-06-04 02:12] feixue1860 commented on #1975
Yes，child process is just for call python script，it  will be handled by main process.

And my spdk version is v20.10.

[2021-06-04 02:15] Comphix commented on #1975
In this case, you may first try Hailiang's step (SPDK tool) to see whether it is OK on your SPDK version? If it is ok, there may be some issue in your integration of SPDK?

[2021-06-04 06:50] feixue1860 commented on #1975
@wanghailiangx，I tested as your guide, It seems ok as your step, but I think the issue from me maybe not same.
In my original case, I first create two bdev for two devices, and then operate one nvme io, and destroy another device ‘s bdev.

Your test is create one bdev, and then io operation, next to crate / Detroit another device ‘s bdev.

[2021-06-04 06:53] changpe1 commented on #1945
issue gone after the QEMU patch, closing it now.

[2021-06-04 06:53] #1945 closed

[2021-06-04 07:00] Comphix commented on #1975
Looks like we could use -T parameter of Bdevperf to assign the specific Bdev to run IO

-T <bdev>                 bdev to run against. Default: all available bdevs.

In this case, we could create the two NVMe bdev first and then run IO to only one. And then destroy the other bdev.

[2021-06-04 07:11] Comphix commented on #1975
Just had a quick try and looks like there is also no problem to destroy the NVMe bdev if created earlier.

[2021-06-04 07:17] feixue1860 commented on #1975
Can you show me the step with the command？

[2021-06-04 07:21] Comphix commented on #1975
1. ./bdevperf -S 1 -q 16 -t 60 -m 0x2 -o 4096 -w write -z -T Nvme0n1
2. ./scripts/rpc.py bdev_nvme_attach_controller -b "Nvme0" -t "pcie" -a 0000:xx:00.0
3. ./scripts/rpc.py bdev_nvme_attach_controller -b "Nvme1" -t "pcie" -a 0000:xx:00.0
4. ./test/bdev/bdevperf/bdevperf.py perform_tests
5. ./scripts/rpc.py bdev_nvme_detach_controller Nvme1

We can use -T parameter for Bdevperf to specify the only

[2021-06-04 11:26] tanabarr commented on #1974
Thank you for the responses, we have packaged python3-pyelftools in our local repo: https://github.com/daos-stack/pyelftools/pull/1 as a workaround. Now to update daos-stack dpdk/spdk RPM repos to support meson build in specfiles.

[2021-06-04 20:10] #1964 closed

[2021-06-06 14:26] adamagniv opened #1976 "compiling failed on spdk v21.04 CentOS7.6"
##Issue
Found ninja-1.10.0.git.kitware.jobserver-1 at /usr/local/bin/ninja
ninja: Entering directory `/root/spdk/dpdk/build-tmp'
[144/282] Compiling C object lib/librte_net/libnet_crc_avx512_lib.a.p/net_crc_avx512.c.o
FAILED: lib/librte_net/libnet_crc_avx512_lib.a.p/net_crc_avx512.c.o
/usr/local/bin/gcc -Ilib/librte_net/libnet_crc_avx512_lib.a.p -Ilib/librte_net -I../lib/librte_net -I. -I.. -Iconf

[2021-06-07 02:21] changpe1 commented on #1961
patch has been merged, closing this issue now.

[2021-06-07 02:21] #1961 closed

[2021-06-07 02:22] optimistyzy opened #1977 "[Cannot get I/O channel] ubuntu18-vg-autotest"
https://ci.spdk.io/results/autotest-per-patch/builds/49112/archive/ubuntu18-vg-autotest/build.log

## Execution failed at

00:04:17.021   01:44:41	# event=bdev_register:Nvme0n1
00:04:17.021   01:44:41	# ev_type=bdev_register
00:04:17.021   01:44:41	# ev_ctx=Nvme0n1
00:04:17.021   01:44:41	# expected_notifications+=(${ev_type}:${ev_ctx})
00:04:17.021   01:44:41	# read -r event_line
00:04:17.022   0

[2021-06-07 02:23] spdkci commented on #1977
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_49112.html

[2021-06-07 06:34] spdkci commented on #1977
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_49139.html

[2021-06-07 07:15] spdkci commented on #1977
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_49142.html

[2021-06-07 08:06] spdkci commented on #1801
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_49152.html

[2021-06-07 09:01] karlatec commented on #1970
Tested refs/changes/52/8152/7, tests passed all workloads and did not crash

[2021-06-07 09:28] mikeBashStuff opened #1978 "bdevio hit by SIGABRT in bdev_bounds test"
https://ci.spdk.io/public_build/autotest-per-patch_49169.html
https://ci.spdk.io/results/autotest-per-patch/builds/49169/archive/nvme-vg-autotest/coredumps/index.html

[code]

[2021-06-07 10:06] yidong0635 opened #1979 "[bdevperf] heap-used-after-free when killing bdevperf using ctrl+c"
I'm using the bdevperf. but I found there're some errors,  one of them is as below. and sometimes can't be killed using ctrl+c (hard to reproduce)
[code]

## Context (Environment including OS version, SPDK version, etc.)
commit: 9d8e1ec03c389354c1763c5ad06f527c7a01e25f
NAME=Fedora
VERSION="32 (Server Edition)"

[2021-06-07 10:28] mikeBashStuff opened #1980 "ASAN reports heap-use-after-free in bdevperf during bdev_write_zeroes test"
https://ci.spdk.io/public_build/autotest-per-patch_49179.html

[code]

[2021-06-07 10:29] spdkci commented on #1980
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_49179.html

[2021-06-07 10:37] mikeBashStuff opened #1981 "nvmf-phy-autotest times out during nvmf_shutdown_tc1 test"
https://ci.spdk.io/results/autotest-per-patch/builds/49182/archive/nvmf-phy-autotest/build.log

[code]

[2021-06-07 10:38] spdkci commented on #1981
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_49182.html

[2021-06-07 10:51] mikeBashStuff opened #1982 "SIGABRT during blockdev_general test"
May be related to #1978 but here `spdk_tgt` is affected so the stack trace looks a bit different as well.

https://ci.spdk.io/public_build/autotest-per-patch_49186.html
https://ci.spdk.io/results/autotest-per-patch/builds/49186/archive/ubuntu18-vg-autotest/coredumps/index.html

[code]

[2021-06-07 11:00] shuhei-matsumoto opened #1983 "[any test case] thread.c:2020:spdk_get_io_channel: *ERROR*: could not find io_device"
We have seen many  failures as follows.

[code]

The recent commit https://github.com/spdk/spdk/commit/2246a9371809c30333b1844afbf9772c4b06db79 may be related.

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/49166/archive/crypto-autotest/build.log

[2021-06-07 11:28] spdkci commented on #1977
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_49194.html

[2021-06-07 12:23] spdkci commented on #1966
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_49203.html

[2021-06-07 13:42] spdkci commented on #1983
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_49213.html

[2021-06-07 14:09] spdkci commented on #1966
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_49214.html

[2021-06-07 14:13] spdkci commented on #1978
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_49089.html

[2021-06-07 14:47] spdkci commented on #1983
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_49216.html

[2021-06-07 14:54] jimharris commented on #1978
This is most likely due to recently merged commit 2246a9371809c30333b1844afbf9772c4b06.

I've pushed a revert for now: https://review.spdk.io/gerrit/c/spdk/spdk/+/8199

[2021-06-07 14:55] jimharris commented on #1983
This is most likely due to recently merged commit 2246a9371809c30333b1844afbf9772c4b06.

I've pushed a revert for now: https://review.spdk.io/gerrit/c/spdk/spdk/+/8199

Almost certainly the same as #1978.

[2021-06-07 14:55] jimharris commented on #1982
This is most likely due to recently merged commit 2246a9371809c30333b1844afbf9772c4b06.

I've pushed a revert for now: https://review.spdk.io/gerrit/c/spdk/spdk/+/8199

[2021-06-07 14:55] jimharris commented on #1981
This is most likely due to recently merged commit 2246a9371809c30333b1844afbf9772c4b06.

I've pushed a revert for now: https://review.spdk.io/gerrit/c/spdk/spdk/+/8199

[2021-06-07 14:56] jimharris commented on #1977
This is most likely due to recently merged commit 2246a9371809c30333b1844afbf9772c4b06.

I've pushed a revert for now: https://review.spdk.io/gerrit/c/spdk/spdk/+/8199

[2021-06-07 15:09] adamagniv commented on #1976
Sorry for the mistake, my problem was that I didn't update binutils when updating the gcc. successfully compiled using gcc-8.3.1

[2021-06-07 15:09] #1976 closed

[2021-06-07 16:19] jimharris commented on #1982
Patch merged.  Closing this issue.

We will keep #1977 open for now to track this general io_device lookup issue, should the revert not fix it.

[2021-06-07 16:19] #1982 closed

[2021-06-07 16:19] jimharris commented on #1978
Patch merged.  Closing this issue.

We will keep #1977 open for now to track this general io_device lookup issue, should the revert not fix it.

[2021-06-07 16:19] #1978 closed

[2021-06-07 16:19] jimharris commented on #1983
Patch merged.  Closing this issue.

We will keep #1977 open for now to track this general io_device lookup issue, should the revert not fix it.

[2021-06-07 16:19] #1983 closed

[2021-06-07 16:20] jimharris commented on #1981
Patch merged.  Closing this issue.

We will keep #1977 open for now to track this general io_device lookup issue, should the revert not fix it.

[2021-06-07 16:20] #1981 closed

[2021-06-07 16:20] jimharris commented on #1980
Patch merged.  Closing this issue.

We will keep #1977 open for now to track this general io_device lookup issue, should the revert not fix it.

[2021-06-07 16:20] #1980 closed

[2021-06-07 16:21] jimharris commented on #1979
Patch merged.  Closing this issue.

We will keep #1977 open for now to track this general io_device lookup issue, should the revert not fix it.

[2021-06-07 16:21] #1979 closed

[2021-06-07 16:21] jimharris commented on #1977
Patch merged.

Keep this issue open for now, just in case the revert does not fix the issue.

[2021-06-07 19:54] jimharris commented on #1745
@ksztyber or @tomzawadzki, could one of you try getting on this system with @wawryk, and walk through a debug version of fio in gdb for this nvme discover command?

I think you'll want to run nvmf_tgt in gdb too, set a breakpoint on the ctrlr.c:2075 error message, then when it breaks, break into nvme-cli, do a backtrace and see how nvme-cli is sending a SMART log page request as part of an nvme-di

[2021-06-07 20:34] KariukiJ commented on #1939
@ericcurtin We usually align the schedule for new features with the TP approval. So it more a question of the state TP 8011 when you are ready for release. As far as version 1.2 goes, TP 8011 discourages that version due to security flaws, therefore, I don't think we should be looking at 1.2 at all.

[2021-06-07 23:37] jimharris commented on #1828
This patch has been merged, so closing this issue.

@rakeshranjan-gh, would still appreciate it if you could re-run your tests with this patch and confirm.  Please report back your results, and we can re-open if you still see any issues.

[2021-06-07 23:37] #1828 closed

[2021-06-08 00:05] jimharris commented on #1799
Google has made some fixes to GCP NVMe, but this issue still remains.

[2021-06-08 03:38] wanghailiangx opened #1984 "[make] makefile reports error: the last argument must be an 8-bit immediate"
## Link to the failed CI build
https://10.211.11.56:8080/blue/organizations/jenkins/opal-end-to-end-reservation-autotest/detail/opal-end-to-end-reservation-autotest/280/pipeline

## Execution failed at
[code]

CentOS Linux release 7.8.2003
kernel: 3.10.0-1127.el7.x86_64
gcc (GCC) 6.4.0

[2021-06-08 08:31] ksztyber commented on #1745
Sure @jimharris, I can take a look at that.

[2021-06-08 08:48] #1825 closed

[2021-06-08 14:03] rakeshranjan-gh commented on #1828
Thanks a lot @jimharris ! I will update as soon as I get a chance to verify this patch in our environment. Currently getting busy with other high priority items hence couldn't get chance to spend some cycles on this but will update here as soon as I get some time to verify this patch. Thanks once again!

[2021-06-09 06:15] spdkci commented on #1966
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_48906.html

[2021-06-09 07:34] #1972 closed

[2021-06-09 07:50] KKaras169169 opened #1985 "[nvmf-tcp-vg-autotest] ns_hotplug_stress.sh - No such process"
Tests failed at [nvmf-tcp-vg-autotest].

00:06:59.265  ************************************
00:06:59.265  START TEST nvmf_ns_hotplug_stress
00:06:59.265  ************************************

## Link to the failed CI build
Patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/7972/4
Failed build: https://ci.spdk.io/results/autotest-per-patch/builds/48868/archive/nvmf-tcp-vg-autotest/build.log

## Exe

[2021-06-09 07:51] spdkci commented on #1985
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_48868.html

[2021-06-09 10:23] mikeBashStuff opened #1986 "spdk_tgt hit with SIGILL under qemu with CMB enabled"
[code]
VM config (under qemu v6.0.0):
[code]

In case CMB is enabled under given nvme controller, `spdk_tgt` will receive SIGILL while issuing `bdev_nvme_attach_controller()` rpc targeting said device. Example:

[code]

This was spotted while testing https://review.spdk.io/gerrit/c/spdk/spdk/+/2006/14 where the `autotest` suite failed during `blockdev_nvme` test, way before cmb tests would be run.

[2021-06-09 11:41] tomzawadzki commented on #1761
This has been a problem when threads were placed on an reactor without threads or in interrupt mode.
[event_stats ](https://review.spdk.io/gerrit/q/topic:%22event_stats%22+status:merged) series addressed this problem, especially following patch:
[lib/event: fix tsc_last for first thread on reactor](https://review.spdk.io/gerrit/c/spdk/spdk/+/7845)

With the above this issue should no longer occur.

[2021-06-09 11:41] #1761 closed

[2021-06-09 12:19] ksztyber opened #1987 "[nvmf-tcp-phy-autotest] nvmf_vhost timeout waiting for machines to boot"
Seems like `nvmf_vhost` test timed out while waiting for a VM to boot.

## Link to the failed CI build
https://ci.spdk.io/public_build/autotest-per-patch_49378.html
https://ci.spdk.io/results/autotest-per-patch/builds/49378/archive/nvmf-tcp-phy-autotest/build.log

## Execution failed at
[code]
There's also a segfault lower down in the log:
[code]

[2021-06-09 12:20] spdkci commented on #1987
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_49378.html

[2021-06-09 13:47] tomzawadzki opened #1988 "CI build fails without any artifacts"
Looks network related, the jobs sub-jobs have not started and no artifacts were generated.

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_49433.html

## Execution failed at

Checking out Jenkins side it looks network related. The build haven't had a chance to even get the patch, even after retries:
[code]

[2021-06-09 13:49] spdkci commented on #1988
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_49433.html

[2021-06-09 14:09] spdkci commented on #1988
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_49419.html

[2021-06-09 14:10] ksztyber commented on #1988
I've seen something very similar on: https://ci.spdk.io/public_build/autotest-per-patch_49419.html

The sub-jobs have started (most of them even finished successfully), but the error in the one that failed looks exactly the same:
[code]

[2021-06-09 14:38] tomzawadzki commented on #1950
The original log shows that none of the reactors went idle, which is exactly what this test was designed to catch. There is no way to follow up what might have been the condition for such failure, unless reproduced.
I'd be hesitant to say it has been the get_cpu_stat() which gets the idle time, so changing that might not affect this failure.

With only 3 reports so far, its hard to catch. I've pro

[2021-06-09 15:29] jimharris commented on #1986
QEMU changed the default PCI vendor/device for NVMe controllers in QEMU 6.0.  We have a quirk (for the Intel ID) to avoid using wide instructions when the SQ is in the CMB on QEMU - we had this bug a while back.  We just need to add the same quirk for the new RedHat device/vendor ID.

I'll push a patch for this later today.

Are we going to enable CMB broadly in our CI VMs moving forward?  I'm won

[2021-06-09 16:19] mikeBashStuff commented on #1986
@jimharris Appreciate the feedback. Currently there is a plan to have a separate per-patch job to run some basic CMB tests (this idea originated last year under https://trello.com/c/fuqmYOzA/33-test-add-nvme-test-for-cmbcopy) and similarly to PMR tests qemu v6.0.0 is targeted for the setup. There's also an idea of having PMR and CMB enabled under single VM (CI-wise it would mean having only one de

[2021-06-09 16:48] mikeBashStuff commented on #1986
Alternatively, the use of  `use-intel-id` param, as stated in https://github.com/qemu/qemu/commit/6eb7a071292a2f11065127ac152fa24248806021 seems to be a viable workaround.

[2021-06-09 17:07] jimharris commented on #1986
Patch adding quirks for the new REDHAT device/vendor ID:

https://review.spdk.io/gerrit/c/spdk/spdk/+/8226

[2021-06-09 17:21] jimharris commented on #1986
Also this patch that change use_cmb_sqs default to 'false':

https://review.spdk.io/gerrit/c/spdk/spdk/+/8227

[2021-06-09 20:21] peluse opened #1989 "error running batched vectored CRC commands to DSA"
Ziye, run ./accel_perf -w crc32c --wait-for-rpc -y -C 4 -b 4 and it will either hang or give an error depending on whether you are on master or using the patch that adds batching back to idxd (https://review.spdk.io/gerrit/c/spdk/spdk/+/8185/7) but honestly I don't remember how this was supposed to work.  Looking at it again it seems like an example of sending a batch of 2 CRC commands each with 1

[2021-06-10 01:41] changpe1 commented on #1987
00:05:10.327  [2021-06-09 09:32:52.038295] ctrlr.c: 185:nvmf_ctrlr_keep_alive_poll: *NOTICE*: Disconnecting host nqn.2014-08.org.nvmexpress:uuid:df500e8a-54f0-4b64-bc85-3988c7f34488 from subsystem nqn.2016-06.io.spdk:cnode1 due to keep alive timeout.

The NVMf bdev caused the timeout.

[2021-06-10 01:51] changpe1 commented on #1984
Link this issue to https://github.com/spdk/spdk/issues/1753 @wanghailiangx, closing it for now.

[2021-06-10 01:51] #1984 closed

[2021-06-10 02:01] optimistyzy commented on #1989
Batched vector operations are used to reduce the usage overhead of users. Without this feature, it will not be friendly to users.

[2021-06-10 02:06] changpe1 commented on #1971
OK, closing this issue for now.

[2021-06-10 02:06] #1971 closed

[2021-06-10 02:18] optimistyzy commented on #1989
@peluse With this patch https://review.spdk.io/gerrit/c/spdk/spdk/+/8213, it works well on the master with   build/examples/accel_perf -q 128 -o 4096 -t 2 -w crc32c -y -c spdk_accel_kernel.json -b 4

Json configuration file:

{
        "subsystems": [
{
"subsystem": "accel",
        "config": [
                {
                  "params": {
                        "config_number": 0,

[2021-06-10 03:57] changpe1 commented on #1952
Closing this issue for now.

[2021-06-10 03:57] #1952 closed

[2021-06-10 04:14] changpe1 commented on #1989
[Bug Scrub] we will fix it until we have a hardware to test that.

[2021-06-10 04:33] #1977 closed

[2021-06-10 04:35] changpe1 commented on #1974
[Bug Scrub] SPDK will not fix it, closing this issue for now. You can ask more questions here.

[2021-06-10 04:35] #1974 closed

[2021-06-10 04:37] optimistyzy commented on #1989
Hi @peluse,

I provide the following patch to address this issue:  https://review.spdk.io/gerrit/c/spdk/spdk/+/8233
You may try  whether it could pass the test.
In long term, we have the following choice:
1 Delete such batched mode for vectored crc32c API.
2 See whether we could implement the chained crc32c in real hardware. From the DSA spec, it seem such operation is supported. But we did have a

[2021-06-10 04:41] changpe1 commented on #1962
[Bug Scrub] @ryderhsu0129 can you post the detailed steps after doing subsystem reset with SPDK?

[2021-06-10 05:17] jimharris commented on #1917
Quick update: I've been just running the spdk_tgt with a single core, and having it connect to itself (see rpc script below).  That reproduces the underlying issue described above, but in a much simpler configuration.

I have code working locally that can do a bdev_nvme_attach_controller RPC successfully in this configuration.  The code needs a lot of cleanup, but the general approach is in place.

[2021-06-10 07:04] karlatec commented on #1970
Hi, any update on  the fix? This issue blocks our performance regression tests.

[2021-06-10 10:20] spdkci commented on #1966
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_49432.html

[2021-06-10 10:22] spdkci commented on #1966
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_49421.html

[2021-06-10 11:11] spdkci commented on #1835
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_49512.html

[2021-06-10 14:22] ksztyber commented on #1745
After taking a closer look, it seems that it can be reproduced without nvme-cli:
[code]
And it appears to be a kernel bug that has already been fixed: https://lore.kernel.org/linux-nvme/20210114000022.1641939-1-sagi@grimberg.me/

I think it got merged in v5.11 and got backported to v5.10, so this shouldn't be happening on any of the newer kernels.

[2021-06-10 14:29] peluse commented on #1989
See comments in patch, I still don't think this is what we want (and am not convinced yet that the patch will always work)

[2021-06-10 14:46] jimharris commented on #1970
@benlwalker, @optimistyzy - what are next steps here?

[2021-06-10 14:55] peluse opened #1990 "[nvme-tcp-phy-autotest] nvmf_vhost seg fault"
00:05:03.579  [2021-06-10 01:23:24.838546] lun.c: 403:bdev_event_cb: *NOTICE*: bdev name (Nvme0n1) received event(SPDK_BDEV_EVENT_REMOVE)
00:05:03.636  /var/jenkins/workspace/nvmf-tcp-phy-autotest/spdk/test/nvmf/target/../../../test/common/autotest_common.sh: line 842: 27000 Segmentation fault      (core dumped) "${VHOST_APP[@]}" -S "$(get_vhost_dir 3)"
00:05:03.636    01:23:24	# trap - ERR
00:05:

[2021-06-10 14:56] spdkci commented on #1990
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_49483.html

[2021-06-10 15:00] spdkci commented on #1966
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_49437.html

[2021-06-10 15:00] jimharris commented on #1990
This exact same failure happened on two different jobs, both related to vhost-scsi testing.  Since this patch is touching the scsi code, I think it's more likely that this is a bug in the patch, not an intermittent CI failure.

[2021-06-10 15:01] #1990 closed

[2021-06-10 15:05] benlwalker commented on #1970
I see the bug now and I just updated my comments on the review. We should be able to close this out shortly.

[2021-06-10 15:06] spdkci commented on #1988
Another instance of this failure. Reported by @tomzawadzki. log: Not Found

[2021-06-10 15:07] spdkci commented on #1863
Another instance of this failure. Reported by @tomzawadzki. log: Not Found

[2021-06-10 18:59] peluse opened #1991 "[clang-vg-autotest] could not allocate hugepages"
00:07:01.815  ## ERROR: requested 4096 hugepages but 3814 could be allocated on node0.
00:07:01.815  ## Memory might be heavily fragmented. Please try flushing the system cache, or reboot the machine.

[2021-06-10 19:00] spdkci commented on #1991
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_49547.html

[2021-06-10 19:40] spdkci commented on #1991
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_49562.html

[2021-06-11 00:14] optimistyzy commented on #1970
Hi @karlatec .

Could you retest with  this patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/8283  Since @benlwalker still have concern of one line change on my patch  refs/changes/52/8152/7. This time I used a new patch number. I think that if 8283 cannot solve this issue, we may still use refs/changes/52/8152/7.

Thanks.

[2021-06-11 02:03] ryderhsu0129 commented on #1962
Okay, proceed as follows :
1. subsystem reset the device through API spdk_nvme_ctrlr_reset_subsystem()
2. remove/rescan the device via PCI sysfs(also tried to skip this step)
3. re-probe the device through API spdk_nvme_probe()

[2021-06-11 02:50] spdkci commented on #1991
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_49553.html

[2021-06-11 03:06] jimharris commented on #1962
Hi @ryderhsu0129,

I think you may need to rebind the SSD to uio/vfio driver before trying reprobe.

[2021-06-11 07:26] spdkci commented on #1966
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_49386.html

[2021-06-11 07:43] spdkci commented on #1991
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_49556.html

[2021-06-11 07:45] spdkci commented on #1991
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_49550.html

[2021-06-11 07:45] spdkci commented on #1991
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_49543.html

[2021-06-11 12:09] karlatec commented on #1970
refs/changes/83/8283/1 - tests passed, no crash enountered

[2021-06-11 12:11] mikeBashStuff opened #1992 "SPDK application hit by SIGFPE when trying to create ftl bdev on zoned nvme controller"
[code]

Example base on modified `test/ftl/bdevperf.sh`:

[code]

This can be easily reproduced by doing the following:
[code]

It seems that the issue is with the fact that the number of optimal opened zones is 0. That said, I am not quite sure how this value is meant to be handled|calculated (e.g. kernel only provides info about max active|opened zones, not "optimal").

[ftl.zip](https://github.

[2021-06-11 12:41] mikeBashStuff commented on #1986
Just to confirm that with the https://review.spdk.io/gerrit/c/spdk/spdk/+/8226 the issue is gone. :)

[2021-06-11 12:43] #1986 closed

[2021-06-11 13:15] #1745 closed

[2021-06-11 13:47] ksztyber commented on #1992
Yeah, I don't know if anyone has tried to run FTL on top of an actual ZNS drive. As for the meaning of optimal number of open zones, have a look at a comment I posted in one of your patches: https://review.spdk.io/gerrit/c/spdk/spdk/+/8295.

@wmalikow, could you take a look at this? Seems like FTL should write to a single zone at a time when optimal open zones = 0, or it shouldn't start at all and

[2021-06-11 14:00] tanabarr opened #1993 "Building SPDK with system installed DPDK"
Building with a system installed DPDK doesn't seem to be supported, --with-dpdk should presumably support the option of a pkg-config file.

## Expected Behavior

SPDK should be able to be built with a system installed DPDK version that is found automatically or referenced with a .pc file.

## Current Behavior

If the dpdk-devel package installs the /usr/share/..linuxapp.. target then it can be sup

[2021-06-13 14:52] nufosmatic opened #1994 "Is there any consideration for making spdk_mempool_create() populate the data buffers from memory other than the mempool structures"
Is there any consideration for making spdk_mempool_create() populate the data buffers from memory other than the mempool structures? Currently the socket_id is used to allocate memory for buffers and for data structures in the mem_pool.

Since the data structures are not touched by hardware, the data structures should be allocated from someplace other than the place the data buffers are allocated.