[2019-09-20 20:18] benlwalker commented on #963
I'd also like to confirm that avoiding this copy actually improves performance. Similarly in the NVMe-oF/TCP code, I'd like to confirm that it actually helps. I'm interested for two reasons:

1) This is making the code more complicated. It would be nice to simplify.
2) If we can tolerate this small copy, we could actually move the 8k read buffering into the socket abstraction and only code that up

[2019-09-20 20:53] peluse commented on #944
Great thanks! So there is a bug in lov_dev delete which I have a patch for, I'll take it out of WIP for review once Karol confirms what he's seeing (it has a bunch of prints in it that I need to remove after he does that)

[2019-09-21 17:35] peluse opened #966 "unit/test dir structure no longer matches the functional code"
With the code being shuffled around to /lib and /module we need to get around to updating the UT dir which has everything under /test/unit/lib

[2019-09-21 17:40] krishna-e commented on #870
Sure Paul, will recreate it with debug logs enabled.
I will give you the logs in next week, currently, my machines are occupied for something else.

[2019-09-23 07:24] karlatec commented on #542
Fixed by mentioned patch. I made a typo in commpit message and referenced issue 524 instead of 542, so it didn't close automatically. Closing now.

[2019-09-23 07:25] #542 closed

[2019-09-23 07:53] karlatec commented on #965
This is fixed, no longer seeing the issue and I removed cherry-pick from job configuration. Closing.

Thanks @yidong0635 !

[2019-09-23 07:53] #965 closed

[2019-09-23 07:56] karlatec commented on #910
Checked again, no timeouts on crypto_autotest job last week. Adding to bugscrub, we will close it then.

[2019-09-23 07:58] karlatec commented on #955
All fixes merged, migration test cases 1 and 2 now passing in nightly tests. This can be closed.

[2019-09-23 07:59] karlatec commented on #955
Last nightly where migration tests pass as part of vhost autotest: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-nightly_538.html

[2019-09-23 07:59] #955 closed

[2019-09-23 09:28] virgilshi opened #967 "test/blobfs/mkfs/mkfs failed with core dumped"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

## Current Behavior

**INVALID NAMESPACE OR FORMAT**
[code]
## Possible Solution

## Steps to Reproduce

Follow the [website](https://spdk.io/doc/blobfs.html) step by step
1.
2.
3.
4.

## Context (Environment

[2019-09-23 10:57] karlatec opened #968 "SPDK bdev performance anomaly after updating P4600 firmware to latest version"
## Current Behavior
SPDK bdev layer performance anomaly after updating P4600 Cliffdale disk FW to QDV101D1 version.
This may be either SPDK of FW issue, but needs to be investigated on our side since it's only visible in SPDK bdev layer.

In case of preconditioned drive IOPS drop down to about 12-13k for 4k randread qd=32 workload.
The result may suggest an issue with qpairs, as 12-13k IOPS is a t

[2019-09-23 10:59] karlatec commented on #968
Whoever wants to take a look into the issue: contact me on Slack or Skype if you need a reproduction environment. I've installed 2 p4600 NVMes, one with latest and one with old version of FW.

[2019-09-23 11:18] jimharris commented on #968
Can you try to apply this patch and see if it affects the results?

https://gerrithub.io/c/spdk/spdk/+/432227<https://gerrithub.io/c/spdk/spdk/+/432227/2#message-a070022ffb2443b83f9fe65fe1004c726fedb488>

On Sep 23, 2019, at 3:59 AM, Karol Latecki <notifications@github.com<mailto:notifications@github.com>> wrote:

Whoever wants to take a look into the issue: contact me on Slack or Skype if you nee

[2019-09-23 12:21] karlatec commented on #968
Jim, what are you doing here on 4AM?:P

I couldn't cherry pick it due to conflicts, but I just copy pasted the changes into current code base.
Seems to fix the problem:

[code]

[2019-09-23 12:43] mmkayPL opened #969 "Failing unit tests when ran with valgrind"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Executing the unit tests with valgrind results in failure on the current master.

## Expected Behavior

Unit tests should pass with or without valgrind

## Current Behavior

The following (3) tests have errors:

  Test: posix_sock

[2019-09-23 12:47] jimharris commented on #968
Taking early shuttle to Santa Clara for SDC.  :)

So this is a somewhat known issue on specific versions of FW.  I have an e-mail out to some internal Intel folks to get an update on this.  A fix for this was supposed to have been released earlier this year.

[2019-09-23 12:48] karlatec commented on #944
OK, so after our friday talk I can say that --clear-method none now works as expected for me.

I followed almost the same steps as in the original issue:
[code]

Which resulted in following debug messages from spdk app:
[code]

Considering that this bit gives me the end of blobstore metadata section, which I can treat as offset for DD command:

[code]
hexdump no longer shows zeroes after blobstore

[2019-09-24 00:07] peluse commented on #944
yay! I'll clean up the patch tomorrow and take it out of WIP

[2019-09-24 02:26] Comphix commented on #942
Patch has been merged. https://spdk.io/cn/development/ is updated.

[2019-09-24 02:26] #942 closed

[2019-09-24 05:26] yidong0635 commented on #969
help to paste the fix link here from Mateusz Kozlowski:
 https://review.gerrithub.io/c/spdk/spdk/+/469132

[2019-09-24 06:48] changpe1 commented on #967
@virgilshi Thanks for submitting, I will submit a patch to avoid core dump, can you run SPDK NVMe identify or perf tool with your SSD?

[2019-09-24 06:54] virgilshi commented on #967
@changpe1 thank you,

[code]

[2019-09-24 07:21] Tomsonlive opened #970 "Low performance for Intel SSDPE2KE064T8S 2.5" NVMe/PCIe SSD 6.4T perf test on OL7.6 UEK5"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

**Low performance for local NVMe disk Intel 7361456_ICRPC2DD2ORA6.4T (firmware:VDV1RL03) perf 4k random read test on OL7.6 (kernel 4.14.35-1933.el7uek.x86_64).**
## Expected Behavior

The perf test result should exceed or approach

[2019-09-24 08:21] karlatec commented on #944
@peluse @benlwalker Could you help me out with how to calculate the same offset with just using information from rpc calls? Is it possible? I tried to do this and my result was pretty close to what Paul is printing in his patch as offset, but I wasn't able to get the same value.

[2019-09-24 08:33] karlatec commented on #970
My google doesn't show me much about this name of the disk.
Is it this one? https://ark.intel.com/content/www/us/en/ark/products/140106/intel-ssd-dc-p4610-series-6-4tb-2-5in-pcie-3-1-x4-3d2-tlc.html

[2019-09-24 08:55] Tomsonlive commented on #970
Intel SSD DC P4610 SERIES
Model: SSDPE2KE064T8S 2.5" NVMe/PCIe SSD 6.4T

[2019-09-24 09:02] sashakot commented on #876
It looks like SoftROCE issue. I'd recommend to use real RDMA NIC with latest OFED

[2019-09-24 09:34] AlekseyMarchuk commented on #964
Hi,

Could you provide some details about MOFED version and NIC model so we can continue the analysis?

[2019-09-24 09:36] AlekseyMarchuk commented on #961
Could you also provide information about OFED version and NIC model?

[2019-09-24 13:34] gwnet commented on #964
SPDK is 19.04, we did not install MLX OFED and we are CX-4 NIC, I will paste out the MLX NIC type next day.

[2019-09-24 13:51] AlekseyMarchuk commented on #964
Which version of OFED do you use?

[2019-09-24 14:13] gwnet commented on #964
we did not install any OFED, only SLES12SP4 kernel default drivers is used. we use default SPDK initiator parameters. our senario is distributed storage system will add incast network load. it only happen after some times like 4 hours if under low load. if under performance load, it can reproduce in 10 mins under our HW

[2019-09-24 14:31] peluse commented on #969
FYI I was able to repro and the patch addressed it for me

[2019-09-24 14:49] jimharris commented on #957
Patch has been merged.

[2019-09-24 14:49] #957 closed

[2019-09-24 15:11] jimharris commented on #968
Bug scrub 09/24: Waiting to hear back from Intel SSD team.  Keeping this issue open for now, since we need to submit a quirk for this device with a workaround.

[2019-09-24 15:13] jimharris commented on #964
Bug scrub 09/24: Assigned to Aleksey.  He will follow up with additional steps to root cause.

[2019-09-24 15:15] jimharris commented on #963
Bug scrub 09/24: Closing this issue since iscsi digest tests now working.  We will determine separately whether to merge an updated version of this patch, after we know if it helps with performance as we optimize kernel TCP usage with SPDK.

[2019-09-24 15:17] jimharris commented on #961
Bug scrub 09/24: Duplicate of #964?  @gwnet @dashan8020 are these the same issue?

[2019-09-24 15:19] jimharris commented on #958
Bug scrub 09/24: No update needed - bug submitter planning to submit patch to fix the issue

[2019-09-24 15:20] Seth5141 commented on #960
closing. The patches mentioned have been merged/backported and the nightly spdk19.07 v dpdk-master build is passing. https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-spdk-19-07-vs-dpdk-master_346.html

[2019-09-24 15:20] #960 closed

[2019-09-24 15:23] jimharris commented on #910
Bug scrub 09/24: @karlatec fixed an NFS issue that we think would have addressed this issue.  Issue not seen since then, so closing this issue.  We can reopen it again if it appears again.

[2019-09-24 15:23] #910 closed

[2019-09-24 15:30] jimharris commented on #954
Bug scrub 09/24: Sasha has added comments to Seth's patches on GerritHub with some recommendations to better handle these types of errors.  Will continue discussion on those patches and report an update here once the patches are deemed ready for further testing by the submitter.

[2019-09-24 16:00] AlekseyMarchuk commented on #964
I want to reproduce this issue on my setup. Please provide SPDK version, nvme_perf command line parameters and kernel target parameters.

[2019-09-24 16:04] jimharris commented on #868
Closing this issue.  If there are additional questions, please reopen.

[2019-09-24 16:04] #868 closed

[2019-09-24 16:08] jimharris commented on #810
Hi @habeanf - were you able to get this working?

[2019-09-24 16:09] jimharris commented on #729
Closing this issue.  I'd suggest we open a new issue with more specifics if we see QEMU crashes in the future.

[2019-09-24 16:09] #729 closed

[2019-09-24 16:18] habeanf commented on #810
Nope :frowning_face:

[2019-09-24 16:19] jimharris commented on #810
OK.  Is there anyone with an ARM platform that can help @habeanf with this issue?

[2019-09-24 16:22] habeanf commented on #810
TBH I gave up on it a couple of months ago. Would you like me to try again with the latest commit or release?

[2019-09-24 16:26] jimharris commented on #810
If you are able to retry on latest master, that would be great.  I'd expect that if someone with an ARM system steps up to try to reproduce and root cause, this is the first thing they will ask you to try.

[2019-09-24 19:41] peluse commented on #944
ready for review: https://review.gerrithub.io/c/spdk/spdk/+/467444

[2019-09-25 01:21] Tomsonlive commented on #970
[root@x86bj001 nvme-cli]# nvme list
Starting SPDK v19.10-pre / DPDK 19.05.0 initialization...
[ DPDK EAL parameters: nvme_cli -c 0x1 -m 512 --log-level=lib.eal:6 --log-level=lib.cryptodev:5 --log-level=user1:6 --base-virtaddr=0x200000000000 --match-allocations --file-prefix=spdk0 --proc-type=auto ]
EAL: No available hugepages reported in hugepages-1048576kB
EAL: VFIO support initialized
EAL:   usi

[2019-09-25 02:14] #905 closed

[2019-09-25 05:47] ksztyber commented on #951
I think Wojtek's working on a patch to fix this: https://review.gerrithub.io/c/spdk/spdk/+/468600

[2019-09-25 06:03] jimharris commented on #906
Hi @SavanAnjaria - sorry for the long delay.  Tomek and I have both been swamped the last couple of weeks - I should have time to dig into this later this week.  Thanks for all of your analysis!

[2019-09-25 07:02] gwnet commented on #964
SPDK is 19.04, kernel target side parameter is default.

and also we have another issue. I review the code, I feel SPDK host will not send all 0 command to target, from the code, it should be type is 0, subtype is 1, but target got one subtype is also 0. it is very strange kernel target got this command.

[Sep 3 06:18] nvmet_rdma: invalid SGL subtype: 0x0
[  +0.429688] nvmet_rdma: invalid SGL subt

[2019-09-25 08:09] Comphix commented on #834
Close this as recently we have not seen the crash.

[2019-09-25 08:09] #834 closed

[2019-09-25 13:14] mdziegie commented on #962
Ok, I found reproduction, issue was caused by race between examine (which is partially asynchronous) and ocf bdev delete. Patch with fix is here:  https://review.gerrithub.io/c/spdk/spdk/+/469406

[2019-09-25 15:10] jimharris commented on #969
Patch merged.

[2019-09-25 15:10] #969 closed

[2019-09-26 00:33] peluse commented on #946
@changpe1 any update on this? The ebay team seems to be blocked on a pretty big project...

[2019-09-26 02:05] changpe1 commented on #946
@xiaoxichen Can you try with 'align=2M' parameter for your file based memory backend device? I think SPDK will not report unaligned memory issue, but I doubt SPDK can work with Kata or not, because the memory was provided by QEMU.

[2019-09-26 02:14] xiaoxichen commented on #946
That parameters is generated by Kata runtime so basically we need to change kata

From: Changpeng Liu <notifications@github.com>
Reply-To: spdk/spdk <reply@reply.github.com>
Date: Thursday, September 26, 2019 at 10:05 AM
To: spdk/spdk <spdk@noreply.github.com>
Cc: "Chen, Xiaoxi" <xiaoxchen@ebay.com>, Mention <mention@noreply.github.com>
Subject: Re: [spdk/spdk] [Kata]SPDK vhost application failed

[2019-09-26 02:19] xiaoxichen commented on #946
The QEMU memory is fine as we can specified below as we did for regular QEMU VM.

-object
memory-backend-file,id=dimm1,size=2048M,mem-path=/dev/hugepages,share=on,prealloc=on
-numa node,memdev=dimm1

Though by doing this the whole container footprint is in Hugemem as well,  which implies the whole(most of) the host memory need to be  configured as HugePage.

From: Changpeng Liu <notifications@gith

[2019-09-26 02:28] changpe1 commented on #946
That's right, if your Sandbox is started with hugetlbfs, so it can work SPDK, we already tested this before, and that's the recommended when using SDPK vhost target.

[2019-09-26 04:32] shuhei-matsumoto opened #971 "iSCSI target occupied CPU unexpectedly when killing connection physically during workload"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Our team observed that iSCSI target occupied CPU unexpectedly when disconnecting network cable physically during workload running. CPU utilization breakdown showed that iscsi_conn_flush_pdus_internal() spent most of CPU time and mo

[2019-09-26 07:04] shuhei-matsumoto commented on #971
Hi All,

As long as I tried to reproduce locally based on the reproduction steps by our team, I just observed a single call of spdk_sock_writev() spent long time until returning EPIPE. I simulated disconnection by link down both for target and initiator.

Our team may see different signature but I can't have confidence if I can file this as issue. So I want to close this issue until our team provi

[2019-09-26 12:40] virgilshi commented on #967
@changpe1 , Hi, how can I obtain this patch?

[2019-09-26 13:32] SavanAnjaria commented on #906
@jimharris : No problem Jim. Inputs from you and @tomzawadzki would be really helpful over here.

[2019-09-26 14:29] dong-liuliu commented on #967
@virgilshi what is the type of your SSD?
Seems it is one OC SSD, not general NVMe..

[2019-09-26 14:43] virgilshi commented on #967
@dong-liuliu thanks for your reply.
My SSD is Openchannel SSD.

[2019-09-26 14:51] virgilshi commented on #967
@dong-liuliu The write unit which my SSD supports in firmware is 16 logical block.Therefore it results in the issue,i.e.,`INVALID NAMESPACE OR FORMAT`.But I don't know why spdk issue 64-logical-block, not smaller, i.e., 16. If it were 16, the issue would be solved.

[2019-09-27 01:17] changpe1 commented on #967
@virgilshi The patch to fix the coredump is here https://review.gerrithub.io/c/spdk/spdk/+/469641, for your SSDs, since it's open channel devices, it can't be used directly with SPDK NVMe APIs, you can refer to spdk/lib/ftl for more information.

[2019-09-27 04:38] virgilshi commented on #967
@changpe1 , thanks for your reply,  OK,  I'll check it at now and update the issue later.
thanks again.

[2019-09-27 09:35] habeanf commented on #810
I checked again, the issues persists in master HEAD as of this comment (commit de1f019edf309de1fa66cac45a8adea21ed89e96):
[code]

[2019-09-27 10:57] virgilshi commented on #967
@changpe1 , thanks for your patch,
the issue **core dump** has been avoided, but is not solved in nature. Errors are shown below.
When underlying device is open-channel one, SPDK doesn't support `mkfs`, is it right?

If  there's some wrong with my understanding, can you give some hints further?
Thanks again.
[code]

[2019-09-27 14:44] jimharris commented on #810
Hi @habeanf,

What SPDK utility are you trying to run?  I notice the DPDK command line says -m 1024 - meaning it's trying to allocate 1GiB of huge pages.  Can you share the full command line you're using?

The debug output indicates there is only 512MiB of huge page memory available.  Is this a limitation on your system?  Or can you try:

sudo HUGEMEM=1024 scripts/setup.sh

-Jim

[2019-09-27 15:30] #962 closed

[2019-09-27 17:03] habeanf commented on #810
@jimharris Sorry, yes when changing to HUGEMEM=1024 and then --mem-size=1G the process starts up, although with the same warnings about `Base virtual address hint` as above.

There is still an issue, although I'm not sure if you'd prefer closing this one and creating a new one. To test out spdk on ARM, I created a malloc bdev of 128MB with a block size of 4096:
`rpc.py bdev_malloc_create -b test 1

[2019-09-27 17:06] jimharris commented on #810
Hi @habeanf,

Thanks for the update!  I'd suggest we close this issue, and open a new one with the mount issue that you're now observing.

-Jim

[2019-09-27 17:06] #810 closed

[2019-09-27 17:15] habeanf opened #972 "Mount issue with nbd+malloc on ARM64"
## Expected Behavior
On ARM64:
[code]
## Current Behavior
[code]
In spdk log:
[code]
## Context (Environment including OS version, SPDK version, etc.)
Hardware: ARM64 (nvidia jetson)
SPDK commit (master HEAD as of issue submit) de1f019edf309de1fa66cac45a8adea21ed89e96
OS: Ubuntu 18.04

[2019-09-27 17:16] habeanf commented on #810
@jimharris Ok, I opened https://github.com/spdk/spdk/issues/972 for the mount issue

[2019-09-27 17:19] habeanf commented on #810
@jimharris Sorry for the nudge but should anyone be worried or made aware of the warning messages by spdk when starting up on arm:
[code]

[2019-09-27 17:20] jimharris commented on #810
do you only see this warning when you run on ARM?

[2019-09-27 17:25] habeanf commented on #810
Yeah, I've never seen them on my intel boxes

[2019-09-27 17:27] jimharris commented on #810
Not sure why those would show up on ARM.  You can ignore them unless you plan to attach to the same NVMe controller from multiple processes.

[2019-09-27 19:12] mhae commented on #527
Any update on this issue? I had kernel aborts with UIO as wells and switched to VFIO but if hot remove is not working with VFIO then I have to switch back to UIO.

[2019-09-27 20:48] peluse commented on #930
@changpe1 @darsto I'm in the same geo as @vermavis so I'm going to jump in and help out on this one...

[2019-09-29 00:29] changpe1 commented on #967
@virgilshi For the behavior and usage of an Open Channel SSD, you should refer to the specification, and there is a FTL in SPDK too, but you can't use it with SPDK NVMe driver directly.

[2019-09-29 05:05] Comphix opened #973 "[CI-Nightly]: Error "Process leaked file descriptors" is shown"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

For the nightly testing, it is failed with error like below:

Link here: https://dqtibwqq6s6ux.cloudfront.net/results/autotest-nightly-failing/builds/453/archive/vhost_autotest_nightly/build.log

 23:21:47	# /var/jenkins/workspace/

[2019-09-29 05:07] Comphix commented on #973
Please Karol to take a quick look whether this is relating to the Jenkins infrastructure. Thanks, Gang

[2019-09-30 04:37] gwnet opened #974 "NVMeOF kernel host support fast memory registration, if SPDK host support it too?"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Hello intel experts.

NVMeOF kernel host support fast memory registration. but looks like SPDK host does not support this. if we use SPDK host to connect kernel target, what is the risk? can you intel do some analysis for this?

	/

[2019-09-30 05:39] shuhei-matsumoto commented on #971
We found the root cause of this issue.

When the send buffer is full and conn->write_pdu_list is not empty, if the link goes down at the initiator, writev() continues to return EAGAIN or EWOULDBLOCK until TCP retransmission timeouts or the link goes up again. This occupied CPU long time unexepctedly.

[2019-09-30 05:41] shuhei-matsumoto commented on #971
Please review https://review.gerrithub.io/c/spdk/spdk/+/469801 . I will create a fix for NVMe-TCP target too.

[2019-09-30 05:55] shuhei-matsumoto commented on #971
Same fix for NVMe-TCP target. https://review.gerrithub.io/c/spdk/spdk/+/469802/1

[2019-09-30 08:29] AlekseyMarchuk commented on #964
We don't have SLES12SP4 in our lab, so I used Fedora 27 with kernel 4.13.9-300. I started vanilla SPDK initiator (spdk_nvme_perf binary) for 72 hours and the issue didn't reproduce. I used 2 cores, IO unit_size 4k and qpdeth 16.
You mentioned that you used your own application that uses SPDK libraries. Could you clarify how your application allocates IO buffers?
Can you to update SPDK to 19.07.1 (

[2019-09-30 09:54] karlatec commented on #973
@Comphix Yes, it's related to Jenkins.
Something didn't get killed properly in this failed test build. It can be even a simple thing like a bacground pipe from dmesg to a file, or something didn't get killed properly in spdk scripts (not likely).

The issue you're seeing here was not the root cause of the failed test. It was vhost migration test, you can see it if you scroll up a bit.
There's noth

[2019-09-30 14:43] Seth5141 opened #975 "Vhost test instability on nightly CI tests."
## Expected Behavior
The nightly tests should pass.

## Current Behavior
As of nightly build https://10.102.17.104:8080/job/autotest-nightly/565/ the nightly vhost tests fail consistently on the migration test. The SPDK master vs dpdk * tests have also started showing a lot of instability around the same time, but on the vhost_boot.sh tests.

## Possible Solution
The Jenking page lists 15 new chan

[2019-09-30 16:39] Seth5141 commented on #975
An instance of the vhost_boot.sh failure hitting on a per-patch test. https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_44592.html

[2019-09-30 16:45] jimharris commented on #971
Thanks for the analysis - this now makes a lot of sense!

I will try to review your patches today.

[2019-09-30 18:21] optimistyzy commented on #974
@Seth5141

[2019-09-30 18:26] optimistyzy commented on #971
@shuhei-matsumoto I posted some comments on https://review.gerrithub.io/c/spdk/spdk/+/469802/1

[2019-10-01 04:36] shuhei-matsumoto commented on #938
I posted a patch https://review.gerrithub.io/c/spdk/spdk/+/469827 and reran repeatedly together with local tests.

The segmentation fault had showed that LUN reset submitted after LUN is removed., and I didn't see 15 no iSCSI CI failures (14 CI passes) in a row for the patch.

So the patch is no harm and hopefully will fix the issue.

[2019-10-01 06:13] shuhei-matsumoto commented on #938
Without the patch, I saw this failure easily https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_44659.html .

[2019-10-01 08:41] tomzawadzki commented on #906
This is right, we create a series of pages containing current md and put in ctx->pages. Assigning new page numbers to both, ctx->pages.next and blob->active.pages. At this point it is known that there is enough place for new md, which now starts being written to the device.

Yes, ctx->pages do not change, because it contains new md to be written. What is zeroed out are 'old' md pages from blob->cl

[2019-10-01 09:01] SavanAnjaria commented on #906
@tomzawadzki

**[Savan]: blob_persist (writing zeros) flow and blob_sync_md flow goes asynchronously I believe. So, I am afraid if by the time _spdk_blob_persist_zero_pages_cpl is called, the blob_sync_md would have happened for another set of pages and hence clean.pages array would be containing different set of pages to be freed.**

**[Savan]: I have verified the data as well as metadata integri

[2019-10-01 13:10] karlatec commented on #973
@Comphix Can we close the issue?

[2019-10-01 14:04] karlatec commented on #975
So for the vhost_boot tests we probably just need one VM to spin up, but in logs I can see that VM0 has started and we're timing out on VM{x} (number varies). Need to look up the scripts, but I'm pretty sure we don't need multiple VMs for this test.
Maybe something isn't cleaned properly between the test cases? That's rather not a Jenkins config issue, because we purge the whole workspace director

[2019-10-01 14:05] karlatec commented on #975
Also in the failing tests I can see:
[code]
which seems kinda new, so maybe it was some code issue that breaks vhost-qemu communication somehow?

[2019-10-01 23:14] felipe-barajas opened #976 "Unable to start OCF bdev using large capacity drives"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

When attempting to use a 1.5TB P4800X SSD drive as an OCF vbdev, SPDK cannot create it.

## Expected Behavior
SPDK can create an OCF vbdev on large capacity drives.

## Current Behavior
SPDK can create OCF vbdevs on low capacity dr

[2019-10-01 23:26] jimharris commented on #976
Hi @felipe-barajas,

Thanks for the bug report.  Can you capture the gdb backtrace when the segfault occurs and post that here?

-Jim

[2019-10-02 13:18] gnif opened #977 "Crash on windows qemu guest with vfio-scsi (child_length not even multiple)"
When using a RAID0 bdev that spans two NVMe drives (Samsung 960 Pro 1TB) as a virtio scsi lun for Qemu some accesses will cause the vhost to hang with `child_length 57952 not even multiple of lba_size 512`

## Expected Behavior
No crash, no error, etc.

## Current Behavior

The guest VM's IO hangs and the vhost logs the following.
[code]
## Steps to Reproduce

1. `./scripts/setup.sh`
2. `./app/vho

[2019-10-02 16:51] peluse commented on #930
quick update: awaiting access to PMEM system but int he meantime:
* From the docs it seems clear that a PMEM name space system physical address is contiguous but I'll get on pmem IRC and confirm
* I can use qemu with emulated pmem on my dev system and reproduce the same behaviors that Vishal describes wrt hugepages, pmem alone (boots) and pmem w/scsi vhost (hangs
* Note using vhost-blk still hangs

[2019-10-02 19:57] felipe-barajas commented on #976
Thank you for the quick response Jim.  Here is copy-paste of the gdb backtrace:
[root@sm181 ~]# gdb --args /root/spdk-cas/spdk/app/spdk_tgt/spdk_tgt -c /root/te                                                                                                                                                             st.conf
GNU gdb (GDB) Red Hat Enterprise Linux 7.6.1-100.el7_4.1
Copyright (C) 2013

[2019-10-02 20:03] jimharris commented on #976
Thanks Felipe.  Can you try each of the following when the seg fault hits?  One of these is NULL and figuring out which may help here.

p volume->type
p volume->type->properties

[2019-10-02 20:06] felipe-barajas commented on #976
Of course. I was already capturing this info for you. Here it is:

(gdb) list
308             volume->opened = false;
309     }
310
311     unsigned int ocf_volume_get_max_io_size(ocf_volume_t volume)
312     {
313             ENV_BUG_ON(!volume->type->properties->ops.get_max_io_size);
314
315             if (!volume->opened)
316                     return 0;
317
(gdb) print volume->type->properti

[2019-10-02 20:07] jimharris commented on #976
Thanks @felipe-barajas!

@mdziegie - can you take a look at this?  Please let Felipe know if you need any more details.

Thanks,

-Jim

[2019-10-03 16:40] felipe-barajas commented on #976
In looking at this with more detail it seems the issue may be that the number of HUGEMEM configured for SPDK is not enough to accommodate the large capacity drive. The amount of memory needed is something like (1GiB + 2%_cache_capacity) * 4 KiB / cache_line_size.  OCF is set to 4 KiB cache line size and it's not configurable currently, so for 1.5TiB drive, the amount of memory needed for OCF is ar

[2019-10-03 20:36] peluse commented on #930
@vermavis can you try adding both "-object memory-backend-file" options at the same time? That made it work for me and Jim and I can kinda see why but how the -m option is related to the backend-file options isn't totally clear yet.  Either way please give it a shot.

[2019-10-03 21:08] peluse commented on #930
BTW the reason this works is because the virtio queues are being mapped into the hugepage mem object, not the pmem.  So you should have pmem available in the VM but SPDK isn't using it.  Here's what my VM looks like with hugepages, pmem and spdk vhost iscsi target:

peluse@q2:~$ lsblk --output "NAME,KNAME,MODEL,HCTL,SIZE,VENDOR,SUBSYSTEMS"
NAME   KNAME MODEL            HCTL        SIZE VENDOR   SU

[2019-10-03 21:10] vermavis commented on #930
OK- that makes sense.
I will give it a shot and let you know if it works or not.

From: Paul Luse [mailto:notifications@github.com]
Sent: Thursday, October 03, 2019 2:08 PM
To: spdk/spdk <spdk@noreply.github.com>
Cc: Verma, Vishal4 <vishal4.verma@intel.com>; Mention <mention@noreply.github.com>
Subject: Re: [spdk/spdk] QEMU memory registration failure with PMEM (#930)

BTW the reason this works is

[2019-10-03 21:21] peluse commented on #930
just out of curiosity, what exactly are you trying to uses pmem for in this configuration/test?

[2019-10-04 00:48] Comphix opened #978 "Bdevperf exit abnormally when more cores are assigned"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

If assign more cores than specified bdevs, the bdevperf tool will exit unexpectedly as there is no *target* assigned for that core.

## Expected Behavior
No error here. If you assigned more cores, then all cores shall be used to se

[2019-10-04 01:01] Comphix commented on #978
Issue below:

        for (i = 0; i < spdk_env_get_core_count(); i++) {
                target = g_head[i];
                if (target == NULL) {
                        return -1; <<<<< There is *no* target on that core
                }

bdevperf_test(void)
{
......

        printf("Running I/O for %" PRIu64 " seconds...\n", g_time_in_usec / 1000000);
        fflush(stdout);

        /* Start a

[2019-10-04 01:06] Comphix commented on #978
Has posted a patch here https://review.gerrithub.io/c/spdk/spdk/+/469669 with kinds of discussion on the proper fix. Thanks, Gang

[2019-10-04 01:52] vermavis commented on #930
By adding  2nd "-object memory-backend-file" it works just fine like Paul indicated.

Here is the corrected qemu command line that I used:
qemu-system-x86_64 --enable-kvm -machine pc,nvdimm -m 4G,slots=1,maxmem=8G \
-cpu host -smp 14 -nographic \
-vnc 10.34.119.34:1 \
-drive file=/home/centos7.0_5.qcow2,if=none,id=disk \
-device ide-hd,drive=disk,bootindex=0 \
-object memory-backend-file,id=mem0,s

[2019-10-04 02:09] peluse commented on #930
Heh, didn't fix anything actually but thanks @jimharris for wondering why we weren't including the hugepage backing object :)

[2019-10-04 02:09] #930 closed

[2019-10-04 18:27] peluse commented on #944
@pawelkax @karlatec I have a new implementation of this fix that changes the behavior somewhat, see https://review.gerrithub.io/c/spdk/spdk/+/467444

Pawel, can you check this against your script (you will need to update based on the RPC changes) and Karol can you test this against your setup?

I have the series marked WIP (FYI @jimharris) but only because I don't want it reviewed/merged without y

[2019-10-05 10:46] gnif commented on #977
I have been digging through this solo since the Slack channel link is invalid and I don't seem to be able to get any help. I have narrowed this down to the raid bdev as it's reproducible on malloc bdevs.

The issue can be reliably triggered by running HD Tune Pro's 'Random seek / size 8MB' test on the 'Extra tests' tab. This test will 100% of the time trigger the device to hang. Adding additional

[2019-10-07 21:13] gnif opened #979 "Race condition in bdev_nvme triggers assertion"
When using the raid0 bdev with two nvme bdevs a race condition exists. Under certain
circumstances the `bio->iovpos` assertion in `bdev_nvme_queued_next_sge` triggers due
to multiple threads updating this value, in all instances leaving the value == to
`bio->iovcont`. As I am new to this codebase I am not sure of the appropriate method to
correct this. Running the vhost application with a single c

[2019-10-07 21:22] gnif commented on #977
This may be related to #979

[2019-10-07 21:32] optimistyzy commented on #979
Just guess from the experience: when the bdev IO is splitted into two, and when the child I/O completed, it should send an asynchronous event, and let the parent thread to update it. If it is updated by the child thread by itself. I would see similar issues in vbdev_compress.c. Currently, it let the original thread to complete this.

[2019-10-07 21:40] peluse commented on #979
@ZiyeYang I'm not sure I understand your comment so I'm guessing @gnif doesn't either.  In your first comment are you talking about a potential issue in the bdev IO splitting code? An what does your second comment wrt compress mean? Does it mean that you'd expect to see issues there? It doesn't split IOs either but does funnel all IO's to one channel so the completion routines send async messages

[2019-10-07 21:44] optimistyzy commented on #979
@peluse  I mean the possible solution should refer the code in vbdev compress, we solved this issue in vbdev. If my guess is right, we should use the way. I did not mean there is any issue  in vbdev_compress.

[2019-10-07 21:46] peluse commented on #979
@ZiyeYang OK thanks.  The purpose for what compress was doing was different but yes I see what you are saying wrt the potential problem.
@gnif I'll take a look and see if I can repro on my dev system but will try multi-thread fio or something first so I don't have to install Windows, even on a VM :)

[2019-10-07 21:50] jimharris commented on #979
The submitter's configuration is using NVMe only.  The bdev nvme driver doesn't do any kind of message passing between cores when doing I/O.  So I'm struggling to draw a correlation between this issue and the kind of message passing we do in the compress bdev module.

[2019-10-07 22:03] optimistyzy commented on #979
@jimharris It is easy to detect. And the thread check to check whether the child I/O's I/O thread is equal to original bdev I/O's thread. From this issue if caused by multiple thread, it should be different.

[2019-10-08 01:12] peluse commented on #979
@ZiyeYang cool.  @gnif i can't even try to repro until tomorrow (missing equipment) so let me know if you get a chance to test with Ziye's test code.

[2019-10-08 04:17] gnif commented on #979
I have reproduced it with @ZiyeYang's patch but the assertion never triggers, here is the debug output.

[code]

You can clearly see that two tasks are finishing at the same time across the two separate threads.

[2019-10-08 05:11] gnif commented on #979
Adding a bit more logging and digging a bit deeper I don't think this is a race condition anymore, it is however random as to when it occurs which is a bit strange.

[code]

[code]

So `iovcnt == 2` yet the callback was called three times.

[2019-10-08 07:40] AlekseyMarchuk commented on #974
Hi,
Kernel NVMEoF target checks SGL type field and if this field contains `NVME_SGL_FMT_INVALIDATE` bit then kernel sends a response with IB_WR_SEND_WITH_INV opcode and provides actual rkey to be invalidated. If there is no NVME_SGL_FMT_INVALIDATE bit then kernel target uses regular IB_WR_SEND opcode.
Kernel NVMEoF host always sets NVME_SGL_FMT_INVALIDATE bit for requests of type `NVME_KEY_SGL_FMT

[2019-10-08 09:38] gwnet commented on #974
thank you so much @AlekseyMarchuk. I understand the invalid rkey part now.
I also have some other confusions.
NVMeOF kernel use the FAST memeory registration. it will use one WR to register memory. so kernel host allocate large Send queue. with factor=3.
from NVMeOF kernel host implementation, I see we set QP max_send_wr as 3 times of current NVME queue size. so if SPDK host has compatibility issu

[2019-10-08 11:50] AlekseyMarchuk commented on #974
As you said, kernel NVMEoF host uses fast memory registration, so to process 1 request it sends 3 work requests - IB_WR_REG_MR, IB_WR_SEND and IB_WR_LOCAL_INV. Thus it multiplies send queue and receive queue sizes by 3. But these parameters are local for particular qpair. Host and target negotiate queue size during connection establishment. Host sends its queue depth in private data of rdma_conn_p

[2019-10-08 12:35] karlatec commented on #944
@peluse Hey Paul, @pawelkax has all the steps for reproduction and verification from me & @tomzawadzki, so we're waiting for his input once he updates hist test script accordingly: https://review.gerrithub.io/c/spdk/spdk/+/467967

[2019-10-08 13:26] gnif commented on #979
Further tracing has shown that this occurs when `_spdk_bdev_io_split` runs out of `child_iov` space.

[2019-10-08 13:26] tomzawadzki commented on #948
@Maciej-Szwed Any updates or information on relation to #935 ?

[2019-10-08 13:38] tomzawadzki commented on #931
@karlatec Can we close this issue since patch with fix to implementation and patch detecting failure properly were both merged ?

[2019-10-08 13:55] peluse commented on #979
@gnif great update, thanks.  So did you hit this assert in bdev.c then? assert(child_iovcnt == BDEV_IO_NUM_CHILD_IOV);

[2019-10-08 14:07] gnif commented on #979
no, `child_iovcnt` is correct at 32 when it reaches this point. I might be a little premature on the conclusion, staring at code for long periods like this can get mind boggling

[2019-10-08 14:22] gnif commented on #979
I am fairly certain the error is here:

https://github.com/spdk/spdk/blob/b422cee886c17a38222a020256bc2477796e7102/lib/bdev/bdev.c#L1701-L1703

I am not quite sure though on how to correct this. When I total up the iov lengths the total is not a multiple of the block size (512), for example:

[code]
43488 / 512 = 84.9375

[2019-10-08 14:38] peluse commented on #979
... with the goal, of course, to update/add a test to hit this condition then fix :)

[2019-10-08 14:46] jimharris commented on #979
Hi @gnif - could you print out the full iov array before you get into the while loop containing this code?  I suspect that the code just before this snippet you reference has the problem - if we run out of iov space, we can't end on an iov that leaves us with a non-512 byte multiple total.

[2019-10-08 15:04] gnif commented on #979
As requested here is the entire child_iov array just before the loop.

[code]

[2019-10-08 15:18] tomzawadzki commented on #973
[Bug scrub] @Comphix Any updates ?

[2019-10-08 15:19] Seth5141 commented on #975
https://review.gerrithub.io/c/spdk/spdk/+/470683

[2019-10-08 15:20] tomzawadzki commented on #972
[Bug scrub] @AlekseyMarchuk will take a look at this.

[2019-10-08 15:21] Seth5141 commented on #975
Actually https://review.gerrithub.io/c/spdk/spdk/+/470624 was created first.

[2019-10-08 15:26] tomzawadzki commented on #952
[Bug scrub] It hasn't been seen for almost a month. Let's close it and if it appears again - reopen.

[2019-10-08 15:26] #952 closed

[2019-10-08 15:28] tomzawadzki commented on #951
[Bug scrub] @changpe1 Linked patch has been merged. Can we close this issue ?

[2019-10-08 15:29] tomzawadzki commented on #922
[Bug scrub] @darsto Has there been any patches submitted/merged related to this issue ?

[2019-10-08 15:30] tomzawadzki commented on #909
[Bug scrub] This issue was related to infrastructure and wasn't seen for a long time. Lets close this one.

[2019-10-08 15:30] #909 closed

[2019-10-08 15:36] tomzawadzki commented on #906
[Bug scrub] After short discussion, it looks like we need to make sure that there is just a single md sync for a blob at a time. I'll look at forwarding a test/asserts along with a fix.

[2019-10-08 21:21] jimharris commented on #970
Do you have to ramp up to 16 cores with perf to get to 693K IO/s?  Or is 2 sufficient?

[2019-10-08 21:22] jimharris commented on #970
Trying to figure out configuration differences.  SPDK community does lots of testing with perf and we don't see perf performing worse than the fio_plugin.  Typically it's the reverse (especially with multiple SSDs).

[2019-10-08 22:39] KariukiJ commented on #835
@alekseymmm I finally got back onto the system and ran the test with an SSD and still cannot reproduce the issue. In my environment, the bandwidth is saturated at 1 thread and I don't see any increase or decrease in the bandwidth as I increase the number of threads. The total performance stays at around 3200 MiBs as I go from 1 - 8 threads

1 Thread:
./perf -q 64 -o 131072 -w read -t 10 -r 'trtype

[2019-10-08 22:39] jimharris commented on #938
Patch merged.

[2019-10-08 22:39] #938 closed

[2019-10-08 23:43] peluse commented on #946
I figured I try and get kata setup here and start messing with it. The documentation is sorta all over the map but I believe I have docker configured to use kata-runtime correctly. @xiaoxichen can you add some more detail to your steps to reproduce, you mention that the qemu option suggestion about alignment was generated by qmeu. Can you elaborate on that? For example where did you find it, in a

[2019-10-08 23:43] shuhei-matsumoto commented on #979
Hi @gnif, @Donaim  and All,

I think how to rewind might be wrong. Of course I might be wrong though :-)
My today started earlier than Vitally and so I'm trying to create the UT code first too.

If the strategy
[code]
is correct, the amount of rewind should be the following?
[code]

Then the code should be the following?

[code]

[2019-10-08 23:48] shuhei-matsumoto commented on #979
@gnif The issue is not fixed yet but thank you so much for your great effort and insight.

[2019-10-09 00:14] #951 closed

[2019-10-09 03:15] shuhei-matsumoto commented on #979
@Donaim
I'm working on UT too but please continue your work regardless of mine because I'm still debugging and working on the same goal is good for this case :-)

[2019-10-09 05:27] changpe1 commented on #967
patch was merged, so the coredump issue should be fixed, close this issue for now.

[2019-10-09 05:27] #967 closed

[2019-10-09 07:14] shuhei-matsumoto commented on #979
Hi @gnif @Donaim and All,

I posted a patch https://review.gerrithub.io/c/spdk/spdk/+/470806 .
The patch includes UT code too.
Will you test if the patch works to the issue you have observed, and review the patch?

Thanks,
Shuhei

[2019-10-09 08:44] shuhei-matsumoto commented on #971
The patches was merged. One of the patches is https://github.com/spdk/spdk/commit/e4e6c256b9b7d6368b258417d2f2b3d45a160154

[2019-10-09 08:44] #971 closed

[2019-10-09 09:16] gnif commented on #979
Patch looks good to me and I can no longer replicate the fault! Well done @shuhei-matsumoto and thanks!

[2019-10-09 09:19] gnif commented on #977
It seems the fix in #979 has corrected this, however, the trigger for it was random so I can not be certain it was the same issue. I will close this for now and if I see it again I will re-open.

[2019-10-09 09:19] #977 closed

[2019-10-09 09:25] wawryk opened #980 "ceph 14.2.3 not compatible with test scripts"
RBD test fails.
Tested on Fedora30
Ceph version:
    ceph version 14.2.3 (0f776cf838a1ae3130b2b73dc26be9c95c6ccc39) nautilus (stable)

## Expected Behavior
Test should pass.

## Current Behavior
Test fail:

ceph-authtool: unexpected '/var/tmp/ceph/keyring'
usage: ceph-authtool keyringfile [OPTIONS]...
where the options are:
  -l, --list                    will list all keys and capabilities presen

[2019-10-09 09:58] shuhei-matsumoto commented on #979
Thank you again @gnif You brought us to the fix :)

[2019-10-09 13:47] Donaim commented on #976
@felipe-barajas it seems that segmentation fault was due to the fact that OCF bdev ignored the error from OCF during creation. If that's true, we have patches that will fix this issue  https://review.gerrithub.io/c/spdk/spdk/+/468472/9 . Could you try to test them to comfirm? They do solve this issue on my machine.

[2019-10-09 15:15] gwnet commented on #964
we failed to reproduce the issue with pure SPDK perf.
our application just call SPDK nvmeof host lib API. for 19.07, we will try.
for allocate IO buffers, for read path we allocate with spdk_dma_zmalloc API. for write path we did not call spdk_dma_zmalloc API, we just pass the buffer from network down to SPDK write API. is this OK?

no we cannot reproduce with another OS.

       read_buffer = (ch

[2019-10-09 15:31] gwnet commented on #936
@Seth5141   may I know how it is going on for the fix of 407? can I help you to do some test from our side?

[2019-10-09 15:48] Seth5141 commented on #936
@gwnet I have a patch series out currently that has added reconnect capability when we receive certain RDMA_CM_EVENTS. The head of that change series is here. https://review.gerrithub.io/c/spdk/spdk/+/470257. The series has introduced a generic framework for performing reconnects, and I will only need to add a couple more small changes to recover from CQ errors as well.

[2019-10-09 15:52] Seth5141 commented on #954
@gwnet If you would like to test this issue against the head of my patchset mentioned on #936, I believe that the RDMA CM event handling should cover this use case. Of course, the changes I have now are still out for review and are pending approval by the rest of the community, but testing against your use cases can help us determine if it's a viable solution.
https://review.gerrithub.io/c/spdk/sp

[2019-10-09 16:13] pawelkax commented on #944
@peluse @karlatec
I'm working on this. I will try to finish patch with test tomorrow.

[2019-10-09 20:10] felipe-barajas commented on #976
@Donaim there are merge conflicts with that patch when I tried to pull the changes into the master branch. It also seems that there are more changes into the OCF vbdev module coming. I can retest at the next commit with all the changes merged.

[2019-10-09 20:18] pawelkax commented on #944
@peluse @karlatec @tomzawadzki I uploaded patch with clear_method test on top of Paul's patches.

[2019-10-09 20:58] peluse commented on #944
Thanks!! Lets leave this open until all the patches merge thought.  Appreciate all efforts on this guys!

[2019-10-10 00:38] gnif opened #981 "vhost/raid0 pending IO never completes"
When running a QEMU VM with a vhost disk (scsi or blk) some rare accesses may cause an IO operation to hang and never complete.  This can be reliably triggered by running the HDTune Pro `Random seek / size 8MB` test as shown in the below screenshot.

![image](https://user-images.githubusercontent.com/351151/66529464-49866900-eb4f-11e9-82e8-eb722ac3a09c.png)

Even after stopping this and terminatin

[2019-10-10 00:54] jimharris commented on #981
Is this a raid0 with two NVMe bdevs?  If so does this reproduce with just a single NVMe brevity?

[2019-10-10 00:55] gnif commented on #981
I have reproduced this with raid0 and two mallocs also indicating the fault doesn't lie in nvme.

[2019-10-10 00:58] jimharris commented on #981
Good triage. Thanks.

[2019-10-10 01:21] changpe1 commented on #981
The debug message "last_avail_idx = 61156, last_used_idx = 61155" indicates that one IO  didn't return to the vhost target, is this happens with only one malloc block device? if so there should be an issue in bdev layer.

[2019-10-10 01:24] wuxb45 opened #982 "build failed due to possible broken dependency"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Build the current master branch failed on Archlinux with the following commends
    git submodule update --init
    ./configure --prefix=/usr --with-shared --disable-tests --without-isal
    make -j 20

## Expected Behavior

build

[2019-10-10 01:27] gnif commented on #981
The test completes fine with a single malloc device

[2019-10-10 01:33] changpe1 commented on #981
@gnif Thanks for the information.

[2019-10-10 02:04] yidong0635 commented on #982
maybe “ DEPDIRS-blobfs_bdev := $(BDEV_DEPS) blob_bdev blobfs” in mk/spdk.lib_deps.mk

[2019-10-10 02:39] yidong0635 opened #983 "compiling can't detect this kind of error"
# Issue
In vhost_rpc.c
invalid:
    `free_rpc_vhost_nvme_ctrlradd__ns(&req);`
    spdk_jsonrpc_send_error_response(request, SPDK_JSONRPC_ERROR_INVALID_PARAMS,
                     spdk_strerror(-rc));
code compiling can't find this kind of error.
function correction.
https://review.gerrithub.io/c/spdk/spdk/+/470807
## Possible Solution

[2019-10-10 02:50] yidong0635 commented on #983
this is a real bug, but using ./configure --with-vhost also can't find this issue.

[2019-10-10 05:09] xiaoxichen commented on #946
@peluse , KATA still do not have built-in  support  for vhost , this is how i tested it.

There is a kata configuration file (default to /usr/share/defaults/kata-containers/configuration.toml) where has
`path = "/usr/local/kata/opt/kata/bin/qemu-system-x86_64"`
so I put a script to wrap the real qemu, by adding the hardcoded chardev and scsi as parameters to the qemu

The configuration of memdev c

[2019-10-10 06:35] AlekseyMarchuk commented on #964
Could you clarify about network buffer which is used in write flow - who and how allocates and frees this buffer?
It is important for workflow since SPDK RDMA implementation subscribes for all DMA allocations created with spdk_dma* API and registers MR for each allocation. New MR is created with LOCAL_WRITE | REMOTE_READ | REMOTE_WRITE access, error that you observed means that some MR was created

[2019-10-10 07:08] Comphix commented on #935
This issue is still existing at Oct. 10 nightly testing

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-nightly-failing/builds/539/archive/ubuntu18_autotest_nightly/build.log

[2019-10-10 07:30] yidong0635 commented on #980
new version ceph-authtool  remove this :
 -u AUID, --set-uid AUID       sets the auid (authenticated user id) for the
                                specified entityname
if remove --set-uid=0  ceph create OSD will hang.

[2019-10-10 08:24] Comphix commented on #935
With same configuration, 128K IO size looks like not able to hit the error. The current error is from 192K IO size. Is it due to some split? overlap?

[2019-10-10 08:31] AlekseyMarchuk commented on #972
Hi,

I was not able to reproduce this issue on ARM with SPDK version de1f019. I used the following commands:
[code]

I also tried to reproduce the issue on x86 and received an error:
[code]

ARM setup:
[code]

I didn't have NBD kernel module on x86, so I compiled it from sources of my kernel version . x86 setup:
[code]

It looks like the problem is not related to SPDK, it is related to NBD module

[2019-10-10 08:36] yidong0635 commented on #980
small changes work on 12.2.12  which not on fedora30 but using  "`yum update ceph`" ,
log as [ceph.txt](https://github.com/spdk/spdk/files/3711271/ceph.txt)
https://review.gerrithub.io/c/spdk/spdk/+/470915
there're still other issue on fedora30 with ceph version 14.2.3 ,and this version I found it's stable,
even can't well display "ceph -v".

[2019-10-10 09:08] Comphix commented on #935
IO is split into 64K for the write

[2019-10-10 21:11] jjpcat opened #984 "EAL: Cannot write command to PCI config space! when running example"
I have a HP PC with i7-7700 and 16G of DRAM. An intel Optane is in a PCIe slot. I did a fresh installation of Ubuntu 19.04 (kernel 5.0.0-31-generic). The OS was installed into a HDD, not Optane. Right after that, without installation anything else or change any configurations, I performed the following:

    sudo apt install git
    git clone https://github.com/spdk/spdk
    cd spdk
    git submod

[2019-10-10 21:38] optimistyzy commented on #935
@Comphix A flush I/O request should be sent then kick the flush (SPDK_BDEV_IO_TYPE_FLUSH) and trigger bdev_aio_flush function, and we will use fsync to sync the data. What's block size configured for this aio block device?

[2019-10-10 23:00] peluse commented on #984
Well, what you've done looks correct enough. I recall something coming up at one point a long time ago with a Dell system but I don't remember what was going on there so I'm no help :(  I have an 18.04 system that I can upgrade to 19.04 but I doubt this is OS related. We'll see what others think.

[2019-10-10 23:03] peluse commented on #981
FYI I've got my qemu windows VM setup w/vhost.  Tomorrow I'll see if I can baseline with a malloc bdev and then move on to repro/debug with RAID.  I doubt I'll need it but @gnif if you could provide your qemu startup command line in advance that would be good (in case it just works for me)

[2019-10-10 23:04] jimharris commented on #984
https://github.com/spdk/spdk/issues/499

But that submitter said the problem went away when installing a new OS version.

Note that I'm also using Ubuntu 19.04 on a couple of my systems, and don't see this issue.  My systems have Xeons, but I don't think that has anything to do with the error you're seeing.

Anything in dmesg after you run setup.sh and try to run the SPDK app?

[2019-10-11 00:13] changpe1 commented on #979
Patch has been merged, thanks for @gnif and @shuhei-matsumoto 's great work. I'm going to close this issue for now.

[2019-10-11 00:13] #979 closed

[2019-10-11 00:34] shuhei-matsumoto commented on #979
@changpe1 the patch is not merged yet? https://review.gerrithub.io/c/spdk/spdk/+/470806

[2019-10-11 00:36] changpe1 commented on #979
I just merged, :).

[2019-10-11 00:45] shuhei-matsumoto commented on #979
Thank you @changpe1 !

[2019-10-11 01:57] Comphix commented on #935
Kicked off a 120 minutes long run with same configuration (and applied the O_SYNC change), this issue is not seen. So seems like some data flush related with the AIO bdev.  I know it's not proper to add this new flag when opening the AIO device to impact the performance. It is more reasonable to ask the upper application to call the flush API to make the consistency. In this case, how shall we han

[2019-10-11 02:10] changpe1 commented on #935
Right, AIO backend has two split conditions, the IO boundary and IO size, so there are at least 3 children IOs for each 192KiB request from FIO.  Does FIO send any requests with overlapped LBA ?

[2019-10-11 05:49] yidong0635 commented on #982
https://review.gerrithub.io/c/spdk/spdk/+/471019

[2019-10-11 08:52] tomzawadzki commented on #975
Patch [test/vhost: Fix path to integrity_vm.sh](https://review.gerrithub.io/c/spdk/spdk/+/470624) is now merged.

Unfortunately nightly fails at another point:
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-nightly/builds/679/archive/vhost_autotest_nightly/build.log
FIO running inside the VM reports read errors, as well as underlying vhost tgt:
[code]
[code]
[code]
@wawryk Can you check if

[2019-10-11 09:05] wawryk commented on #975
Smart tests of nvme drive (INTEL SSDPED1K187GA) return result Passed, but in error informations there are counted 257 errors.

[2019-10-11 10:19] habeanf commented on #972
@AlekseyMarchuk Perhaps you could verify on a 5.x kernel .. maybe there's an incompatibility with an nbd change in a recent kernel version?

[2019-10-11 12:25] gwnet commented on #964
hello @AlekseyMarchuk
we highly possible got the root cause. our host process call the fork to create another process. as RDMA https://www.rdmamojo.com/2012/05/24/ibv_fork_init/ mentioned call the fork will change va pa mapping. I feel maybe this issue is highly related with this. how do you think about this?

[2019-10-11 13:30] AlekseyMarchuk commented on #964
Hi @gwnet
Yes it looks like it is the root cause of your problem

[2019-10-11 15:12] AlekseyMarchuk commented on #972
@habeanf unfortunately I don't have 5.x kernel to check incompatibility. I checked it on Ubuntu 18.04 on x86 machine, it was not reproduced.
I added several logs and when mount command is issued, SPDK receives NBD_CMD_READ request with length 1024 bytes. Such request is rejected by bdev layer since it requires buffer size to be divisible by block size. If to change mallock bdev block size to 512 b

[2019-10-11 15:23] jimharris commented on #972
SPDK CI is running lots of NBD tests with 5.x kernels on x86.  @habeanf - can you also try this on your ARM platform with an older kernel - similar to the one that @AlekseyMarchuk tested with?

[2019-10-11 15:50] habeanf commented on #972
@jimharris Unfortunately that's the one thing I'm not sure I can do on the ARM system. The OS image appears to be a customized ubuntu 18.04 by nvidia. I'm not sure critical drivers will work.

[2019-10-11 15:53] habeanf commented on #972
I'm not sure if this is the place to ask, but if I understand spdk/dpdk architecture correctly, it requires pinning memory pages for direct I/O on the device side (the iommu stuff [as mentioned here](https://spdk.io/doc/memory.html)). Does the code that sets up this pinning work the same for ARM? Is there any documentation on this?

[2019-10-11 15:58] benlwalker commented on #935
I believe doing random writes with a verify backlog just won't work. What happens is fio does 1024 random writes, then does 1024 reads to verify the data. But if any of those 1024 initial writes overlapped, the read verification will fail.

I think the "serialize_overlap=1" option will fix this. Have you tried that?

[2019-10-11 16:02] Seth5141 commented on #975
@tomzawadzki @wawryk I recently replaced the old drive in one of the nightly CI machines with an optane disk in preparation for the OPAL tests. Looking at some of the failures, they seem to be coming from that new machine. I think that the disk is unstable. I am going to pull it and replace it with the old disk for the time being until I can find another optane.

[2019-10-11 16:22] jjpcat commented on #984
There was a report of the same issue late last year. That guy was using Centos and the problem went away after he moved to a newer Centos.

I tried fresh installation of Ubuntu 18.04 (kernel 4.15) and Ubuntu 18.10 (kernel 4.18) on the same PC. The issue remains the same. In Ubuntu 18.04, there is no dmesg output during "sudo scripts/setup.sh". But when I ran that hello_world application, I got dme

[2019-10-11 16:40] optimistyzy commented on #984
@jjpcat What's your BIOS configuration. Did you set the IOMMU in BIOS?

[2019-10-11 16:52] jimharris commented on #984
SPDK has always written to PCI registers directly via an mmap region.  That hasn't changed.

Why is kernel lockdown enabled on your system?  I would suggest looking at that first.  That's done at a layer lower than SPDK.

[2019-10-11 17:11] jjpcat commented on #984
VTx/VTd was disabled in my BIOS. I flipped it to enable. But the same issue remains.

[2019-10-11 17:23] peluse commented on #981
@gnif can you also provide you raid config info, total size and strip size? I'm able to get a single disk malloc to pass this test just as you did.  However my 2 disk raid0 created with 2x64MB malloc disks using:
'bdev_raid_create -n raid0 -z 512 -r 0 -b "Malloc0 Malloc1"' doesn't even pass the test. It shows 'failed' but no hangs and I can attempt it dozens of times.
![image](https://user-images.

[2019-10-11 17:35] peluse commented on #981
FYI I increased the size of my vol to 1GB and the test passes now and doesn't hang.  I also crated this one with 64K strip size.  Tried raw disk and with NFTS.  Also ran all the other extra tests and they all pass.
![image](https://user-images.githubusercontent.com/4650360/66672276-c6c6e200-ec12-11e9-8acb-14a051690cf3.png)

[2019-10-11 17:38] peluse commented on #981
@gnif OK, repro w/strip size 512K.  If you have a minute can you try yours with strip size 64 if it's not too much of a pain? I'l start looking at this though, would just be nice to know our setups are behaving the same and that strip size seems to be the key factor

[2019-10-11 17:42] jjpcat commented on #984
Problem solved. I disabled secure boot in my BIOS and now I can run those NVME examples. Not sure why it's related.

Thanks guys. Your guys responded very quickly.

[2019-10-11 17:52] jimharris commented on #984
It's related because:

1) Secure boot by default enables kernel lockdown
2) Kernel lockdown forbids PCI direct access from userspace
3) SPDK requires PCI direct access from userspace to run the NVMe driver

[2019-10-11 17:53] #984 closed

[2019-10-11 18:55] peluse commented on #981
@gnif never mind.  I can now repro with various strip sizes. I don't even think it's RAID at this point but still have more poking around to do.  I can repro with our passthru module on top of malloc but only when I require split_on_optimal_io_boundary which is how the raid module assures that it won't get an IO spanning a strip.  The split code in question is therefore the same stuff that Shuhei

[2019-10-11 22:02] peluse commented on #981
@gnif I believe I have a *possible* fix - needs more testing and Shuhei to review ;) however I'm out of time and it needs cleanup even before posting for review. I should be able to have it up tomorrow though. It's in the same logic, how we adjust after running out of child_iovs.  In the meantime if you just want to get unblocked you can crank BDEV_IO_NUM_CHILD_IOV up to like 128 or something.  In

[2019-10-12 10:02] gnif commented on #981
Thank you for your hard work, I would love to be involved more but at the moment I am away overseas and do not have access to my development environment. I have reproduced this with various strip sizes starting at 64k all the way up to 512k. I might be seeing these issues more readily as I have isolated two cores using the `isocpus` kernel arg and use these cores only for the `vhost`, as such the

[2019-10-12 15:25] peluse commented on #981
Totally understand, you've been super helpful already in nearly root causing these without any debug - much appreciated!

[2019-10-12 22:26] peluse commented on #981
@jimharris @shuhei-matsumoto this got pretty hairy pretty quick. My change worked for the windows case and still passed UT but when I started adding another UT I discovered it was totally off base. I won't confuse things explaining how I thought it worked (can do that in person and confuse less people) but right now I'm not sure how I understand how aligning the final iov can make this work at all

[2019-10-13 22:15] shuhei-matsumoto commented on #981
@peluse Thank you for your great effort. Will you share the patch you created? Data integrity means T10 DIF? I could not find what is the cause of the issue from your comment yet :-)

[2019-10-13 22:27] peluse commented on #981
@shuhei-matsumoto let me wait on posting the patch until I understand things a little more as it could easily just confuse everything.  And by data integrity I didn't mean DIF, I meant if the did test write/read/compare that it would fail.  The test in question just does reads. Maybe you can comment on my last comment real quick? If all of the split IO's are contained within one bdev_io structure

[2019-10-13 22:52] shuhei-matsumoto commented on #981
@peluse
parent_io->u.bdev.split_remaining_num_blocks knows the progress of submissions. if number of input iovs is 33 and size of child_iovs is 32.

The first call of _spdk_bdev_io_split() will submit the first 32 iovs.
Then in _spdk_bdev_io_split_done(), if we know parent_io->u.bdev.split_outstanding is zero and parent_io->u.bdev.split_remaining_num_blocks is not zero, we will submit the last one

[2019-10-13 23:17] peluse commented on #981
OK, that makes sense but that's not what I was seeing in the test case I was adding which covered the case where we have to remove >1 IOV and shorten the last one (so for example IOV[31] IOV[30] zero'd out and IOV[29} shorten to block alignment. I could very well have had an issue with my test case though.  I'm unable to look at this more until Monday though, thanks for that last comment - makes m

[2019-10-13 23:34] shuhei-matsumoto commented on #981
@peluse

Thanks a lot.
In a _spdk_bdev_io_spilt call(), if we run out child iovs by the last child IO and the last child IO has data less than block size, the last child IO will have no data due to unwinding. Is this what you are saying? I will do more tomorrow too.

[2019-10-14 00:20] peluse commented on #981
LOL I totally missed the very last LOC in _spdk_bdev_io_split_done() . I'll update with more specific details on the windows failure, the patch I was going to propose, and the UT cases that I think are missing - tomorrow though.  AZ cardinals won today so now I need to celebrate and watch my wife's team - the Steelers

[2019-10-14 02:20] peluse commented on #981
hmmm, I wonder if we missed rewinding the parent iov offset when we have to shorten the last IOV when running out of child iovs...

[2019-10-14 05:57] Comphix commented on #935
@benlwalker , thanks for the suggestion. Let me have a try on this.

[2019-10-14 12:56] gwnet commented on #936
@Seth5141 do you have your own branch so that I can test on it?

[2019-10-14 14:14] wawryk commented on #980
In ceph version 14.2.3 it freeze on:
+ ceph -c /var/tmp/ceph/ceph.conf osd create d1109bab-0b0d-48ff-ae1b-1e0fb575fa8f 0

[2019-10-14 17:55] peluse commented on #981
@shuhei-matsumoto OK I think I see the real problem.  In my first change all I did was rework the rewind logic to make it simpler for debug and the problem went away however my change wasn't complete. Forget that change, what's there now (your last fix) is fine there's just one case (well there may be more I guess) that is causing the hang. We, of course, reset iovcnt each time through the outer w

[2019-10-14 18:25] peluse commented on #981
https://review.gerrithub.io/c/spdk/spdk/+/471313

[2019-10-14 19:04] jimharris commented on #981
Thanks @peluse.  FYI - scan-build found a problem with that patch - should @gnif still go ahead and test with rev 1 or wait for an updated version?

[2019-10-14 22:15] benlwalker commented on #974
I think this question has been sufficiently answered here, so I'm closing the issue. The high level summary is:

1) fast memory registration is a kernel-only feature, so SPDK can't use it directly.
2) SPDK does have the correct handling regarding INVALIDATE so that it interoperates with kernel initiators that are using fast memory registration.

[2019-10-14 22:15] #974 closed

[2019-10-14 23:15] peluse commented on #981
I just updated the patch, the fix is not 100% complete.  It will prevent the hang but I don't believe will perform the full data transfer in this seemingly very rare condition that happens a lot with this test.  I'll keep the patch updated with status and post a note here when its ready

[2019-10-15 00:20] shuhei-matsumoto commented on #981
@peluse

Thank you for your great effort. I replied a few comments to your patch. I hope they will be any help.

[2019-10-15 05:13] gnif commented on #981
Unfortunately, I won't be able to test for at least another week.

[2019-10-15 06:21] fshlin opened #985 "iscsi connection resource cannot be recycled possibly"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

when iscsi initiator logouts, iscsi target can recycle connection resource

## Current Behavior

when iscsi initiator logouts, iscsi connection cannot be destructed.
get_iscsi_connections
[
  {
    "tsih": 2,

[2019-10-15 06:39] changpe1 commented on #985
You are right, it's a bug, the spdk_iscsi_conn_destruct() should only check existing connection has pending tasks or not.

[2019-10-15 06:39] shuhei-matsumoto commented on #985
Hi @fshlin

Thank you for finding and posting the issue.
It looks that we should pass initiator_port when we check pending tasks.
I will work on this but if you already start creating patches. Please go ahead.

[2019-10-15 08:05] shuhei-matsumoto commented on #985
Hi @fshlin

Three patches start from https://review.gerrithub.io/c/spdk/spdk/+/471335.
I could confirm they fixed the issue locally.
Will you check if they work for you?
You will not be able to apply them to SPDK 18.08 automatically but I hope manually applying them is not so hard.

-Shuhei

[2019-10-15 08:41] clicx commented on #922
I meet the same issue, nr_hugepages=40000, dpdk params: -c 0x3ff -m 20480
EAL: eal_memalloc_alloc_seg_bulk(): couldn't find suitable memseg_list
EAL: FATAL: Cannot init memory
EAL: Cannot init memory
Failed to initialize DPDK
Unable to initialize SPDK env

[2019-10-15 09:12] fshlin commented on #985
@shuhei-matsumoto

In my project, I use another method to fix this issue.  Thanks for your work.

/* check whether there are SCSI pending tasks from the given connnection */
bool
spdk_iscsi_conn_check_dev_pending_tasks(const struct spdk_iscsi_conn *conn)
{
    int i;
    struct spdk_iscsi_task *iscsi_task;
    struct spdk_scsi_task *task;

    if (conn->dev == NULL) {
        return false;
    }

[2019-10-15 10:08] shuhei-matsumoto commented on #985
@fshlin

Thank you, your fix is nice but I have a comment.?LUN has queues other than tasks. pending_tasks for IO and also for management tasks.
Adding checks to them will be better for some heavy workload cases.

Your fix is right. On the other hand I want to pursue more long term fix. I hope SPDK master will have by the time you upgrade SPDK version.

Anyway thank you for your effort

[2019-10-15 10:47] fshlin commented on #985
Yes, some fix have not been merged in my project. I will do fix check of new SPDK version later.

[2019-10-15 12:56] wawryk opened #986 "RBD test fails (core dump) on VM's upgraded to Fedora29"
## Expected Behavior

Auto tests from our CI system should pass on Fedora29
## Current Behavior

After upgrade our virtual Fedora28 machines to Fedora29 RBD test fails with core dump
`./test/spdkcli/rbd.sh: line 23: 1905039 Aborted                 (core dumped) $rootdir/app/spdk_tgt/spdk_tgt -m 0x3 -p 0 -s 4096`
## Possible Solution

## Steps to Reproduce

1. Upgrade form Fedora28 to Fedora29
2. R

[2019-10-15 14:36] peluse commented on #981
No worries, thanks for letting us know...

[2019-10-15 14:54] karlatec commented on #986
Full trace, could be useful

[code]

[2019-10-15 14:57] jimharris commented on #986
I'm a complete rbd newbie, but do we always run rbd with these security modules?  That seems to be the source of this abort.

[2019-10-15 15:03] karlatec commented on #986
@jimharris  Will have to dig in into this, I'm clueless :)

[2019-10-15 15:48] jimharris commented on #986
@optimistyzy is more of an RBD expert - maybe he can help here too.

[2019-10-15 19:31] optimistyzy commented on #986
"Ceph/mnt/osd-device-0-data//keyring: can't open /var/tmp/ceph/mnt/osd-device-0-data//keyring: (2) No such file or directory"

Are you using ISA-L? What's isa-l version?  Previously, we fixed an issue in ISA-L, to make some variables as static.  If Ceph is using isa-l, and spdk is also using ISAL. Then it will have conflict, until you use a ISA-L version which already makes those variable static.

[2019-10-16 00:22] Comphix commented on #935
Besides above new parameter, will also need to add "verify_backlog=1024" another parameter. Otherwise, it will show below message:

fio: verification read phase will never start because write phase uses all of runtime
job1: (g=0): rw=randwrite, bs=(R) 192KiB-192KiB, (W) 192KiB-192KiB, (T) 192KiB-192KiB, ioengine=spdk_bdev, iodepth=128

[2019-10-16 04:58] Comphix commented on #935
Raise the patch https://review.gerrithub.io/c/spdk/spdk/+/471428

[2019-10-16 09:31] karlatec commented on #986
I see some files related to isa-l in ceph directories:
[code]

But for test we use this config file:
[code]
So SPDK should not use ISA-L, so there should be no conflict, right?

[2019-10-16 21:03] Seth5141 opened #987 "Latent timeout on ubuntu autotests."
## Expected Behavior / Current Behavior
The ubuntu autotests typically only take about 8 minutes to run. However, from time to time we get a timeout that doesn't appear to be related to the patch being reviewed. I first noticed this on one of my patches today. I looked back at the Jenkins history and found one more instance of the failure. Links are included below.

## Possible Solution
Both of th

[2019-10-16 21:25] optimistyzy commented on #986
@karlatec  Can you check this patch? http://spdk.intel.com/gerrit/#/c/8842/
And the whether the ceph code has changed the code.

[2019-10-17 01:02] changpe1 commented on #983
since the patch has been merged, for the option --with-internal-vhost-lib we are going to drop the support in near future, so let's keep as it is for now.

[2019-10-17 01:03] changpe1 commented on #983
For other options, let's open the issue one by one, I'm going to close the issue for now.

[2019-10-17 01:03] #983 closed

[2019-10-17 01:21] changpe1 commented on #982
patch has been merged, I'm going to close this issue for now.

[2019-10-17 01:21] #982 closed

[2019-10-17 01:35] changpe1 commented on #980
@yidong0635 can you confirm the issue is exist or not ? Thanks

[2019-10-17 01:36] changpe1 commented on #978
Patch has been merged, I'm going to close this issue for now.

[2019-10-17 01:36] #978 closed

[2019-10-17 01:44] changpe1 commented on #981
@peluse @shuhei-matsumoto I think Shuhei's commit 3deaf00 has fixed the issue, isn't it?

[2019-10-17 01:48] ChenBo2333 opened #988 "Unable to export FUSE through bdev_blobfs_mount"
When testing bdev_blobfs_mount command (./scripts/rpc.py blobfs_mount Malloc0 /root/nmbv/) , the response shows "message": "Method not found".

## Expected Behavior
The result returns true.

## Current Behavior
request:
{
  "method": "blobfs_mount",
  "req_id": 1,
  "bdev_name": "Malloc0",
  "mountpoint": "/root/nmbv/"
}
Got JSON-RPC error response
response:
{
  "code": -32601,
  "message": "Metho

[2019-10-17 01:50] yidong0635 commented on #980
@changpe1  as I said, this is another issue, let's keep it. still need to investigate.

[2019-10-17 01:54] dong-liuliu commented on #988
hi, Bo
This probably caused by missing fuse enablement in ./confiure.
You need to run ./configure --enable-fuse before compiling.

[2019-10-17 01:56] dong-liuliu commented on #988
Since FUSE is optional to user, it will not be compiled defaultly. This is the reason why you can't find blobfs_mount RPC method.

[2019-10-17 02:01] ChenBo2333 commented on #988
I think if there is no fuse, there should be no bdev_blobfs_mount command.

[2019-10-17 02:24] changpe1 commented on #964
@gwnet Can we close this issue for now?

[2019-10-17 02:52] changpe1 commented on #852
@yidong0635 I guess the issue is still exist, you can use large IO size for test, e.g. 1024KiB.

[2019-10-17 02:55] changpe1 commented on #894
@windye Can you try with latest SPDK version ? the issue should be fixed.

[2019-10-17 03:58] jimharris commented on #988
Hi @ChenBo2333,

I understand your point.  But this is how rpc.py help has worked for a long time.  For example, if you start up nvmf_tgt, and try to run any of the iscsi RPCs, they will fail the same way since the iscsi modules are not linked into nvmf_tgt.  There are many other combinations that are similar.

A nice feature enhancement could be for rpc.py --help to first do a "rpc_get_methods",

[2019-10-17 04:27] changpe1 commented on #943
[Bug scrub]: @ccoderr test/framework/main.py is not part of SPDK tests. Can you please provide steps to reproduce with code from SPDK repo ?

[2019-10-17 04:37] changpe1 commented on #948
[Bug Scrub] @Maciej-Szwed Maybe you can use a small capacity NVMe block device to reproduce this issue, and take #935 as a reference.

[2019-10-17 04:38] changpe1 commented on #973
[Bug Scrub] @Comphix I'm going to close this issue for now.

[2019-10-17 04:38] #973 closed

[2019-10-17 04:39] changpe1 commented on #987
[Bug Scrub] @Seth5141 will take a look for this issue.

[2019-10-17 04:40] changpe1 commented on #988
@ChenBo2333 I'm going to close this issue for now and add a trello task in the backlog as the enhancement, thanks for submitting.

[2019-10-17 04:40] #988 closed

[2019-10-17 08:56] gnif commented on #981
@changpe1 no, this does not fix the issue, that fixed #979 which is a separate issue I reported.

[2019-10-17 08:58] changpe1 commented on #981
@gnif I see, thanks.

[2019-10-17 14:12] gwnet commented on #964
yes, please.

[2019-10-17 14:13] #964 closed

[2019-10-17 14:13] #961 closed

[2019-10-17 14:18] gwnet commented on #936
may I know how it is going on for the fix @Seth5141
do you have one branch for me to test?

[2019-10-17 15:41] optimistyzy commented on #986
@wawryk @karlatec can you provided more detailed information? 1For example, can you make sure the ceph (single node services) works correct? 2 Can you make sure all the firewall service is stopped?

[2019-10-17 21:04] Seth5141 commented on #936
@gwnet The patches are still a work in progress.

The top of the patch series is located here: https://review.gerrithub.io/c/spdk/spdk/+/471556/4. You can clone it by clicking on the buttons icon in the top right corner of the screen and selecting the download patch->checkout option.

You can test it with your application. There is a good example of how to handle reconnects within an application l

[2019-10-17 23:13] Comphix commented on #935
Thanks Jim on your comment.

Just tried with the NVMe bdev together with AIO, Malloc bdev and without the "norandommap=1" setting, the issue is there.

fio --ioengine=./fio_plugin --iodepth=128 --bs=192k --runtime=100 ./config.fio --spdk_conf=./bdev.conf --spdk_mem=0
job1: (g=0): rw=randwrite, bs=(R) 192KiB-192KiB, (W) 192KiB-192KiB, (T) 192KiB-192KiB, ioengine=spdk_bdev, iodepth=128
job2: (g=0):

[2019-10-17 23:37] Comphix commented on #948
Duplicate of #935

[2019-10-17 23:40] Comphix commented on #935
Looking at the issue https://github.com/spdk/spdk/issues/948, it is also seen on NVMe SSD

[2019-10-17 23:42] Comphix commented on #935
#948 seems like different with 4K IO on multiple namespace NVMe SSD

[2019-10-17 23:43] Comphix commented on #948
Looks like #935 is a different one. If I read the error log correctly, it is with 4K IO.

Do we have detailed FIO and Bdev configuration.

sha1: verify failed at file Nvme2n3 offset 184430592, length 4096 <<<
Expected CRC: 12415a5d2cb71d0fdf7ebd0dfd88314c9e4fd722
Received CRC: 6f80839a1dc650175fb895349a90a5fae64cf387

[2019-10-18 06:51] wawryk commented on #986
@optimistyzy
1. Can you show example how to run ceph (single node services) on Fedora29 virtual machine ?
2. Test reported in this issue was done on enabled firewall, today i make the same test with stopped firewall and result is the same:
`./test/spdkcli/rbd.sh: line 23: 3050118 Aborted                 (core dumped) $rootdir/app/spdk_tgt/spdk_tgt -m 0x3 -p 0 -s 4096
`

[2019-10-18 07:59] AlekseyMarchuk commented on #972
@habeanf I'm not very familiar with DPDK, probably you can ask someone in slack channel.

Since we have a problem with incorrect size received by SPDK from NBD, I checked the NBD source code and found out that SDPK configures NBD with appropriate block size and number of blocks. NBD applies these values to block device upon startup (when SPDK calls ioctl NBD_DO_IT)
But NBD module receives the inco

[2019-10-18 09:03] #972 closed

[2019-10-18 09:27] yaojingen opened #989 "Iscsi relogin can not matching last register SCSI-3 persistent reservation key under Linux"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1. login
2.sg_persist --out --register --param-sark=123abc /dev/sde
3.sg_persist --out --reserve --param-rk=123abc --prout-type=1
4.sg_persist

[2019-10-18 12:28] jimharris commented on #972
@habeanf - can you retry your test but with malloc block size 512 instead of 4096?  Maybe nbd has a bug with non-512 byte block sizes.

[2019-10-18 12:32] AlekseyMarchuk commented on #972
I tried 512 block size, it worked. As I understood, NBD gets invalid block size via blk_mq from another module, so maybe the root cause not in NBD

[2019-10-18 12:52] jimharris commented on #972
Can you try passing -b 4096 to mkfs.ext3?

[2019-10-18 13:10] AlekseyMarchuk commented on #972
Unfortunately it doesn't work on my side. `mksf.ext3` reports the correct block size even without `-b 4096`, however `mount` triggers IO request with 1024 bytes length

[2019-10-18 15:10] jimharris commented on #972
Thanks @AlekseyMarchuk.  How were you able to finally reproduce this issue?  Was it 5.0+ kernel on ARM?

Could one of you try one more thing for me.  Could you try mkfs.ext4 instead of mkfs.ext3?

Thanks,

-Jim

[2019-10-18 16:25] optimistyzy commented on #986
@wawryk Are you also disabling the selinux?

[2019-10-18 16:36] optimistyzy commented on #986
From the trace given by @karlatec @wawryk , the rados connection just failed, so all the incoming tests will fail.

[2019-10-18 17:33] #985 closed

[2019-10-18 18:48] Seth5141 opened #990 "Blobfs latent failures in test pool."
## Current Behavior
From time to time, the Blobfs tests fail with the following error message.

  20:40:56	# /var/jenkins/workspace/RBD_BlobFS_tests/BlobFS_autotest/spdk/scripts/rpc.py -s /var/tmp/spdk-blobfs.sock blobfs_detect BlobfsBdev
blobfs.c: 272:__initialize_cache: *ERROR*: Create mempool failed, you may increase the memory and try again
bdev_svc: blobfs.c:273: __initialize_cache: Assertion

[2019-10-19 10:47] AlekseyMarchuk commented on #972
@jimharris I reproduced it on x86 running CentOS 7.5.1804 with rather old kernel 3.10.0-862
I tried mkfs.ext4, it doesn't work too

[2019-10-21 03:00] changpe1 commented on #989
@yaojingen From the description of the open-iscsi initiator issue listed above, there is no actions need to take in SPDK iSCSI target side, what's your expectations here?

[2019-10-21 03:11] yaojingen commented on #989
Is you also encounter this problem during the test under linux?  I 'd like to confirm how the problem was handled by the spdk authorities.

[2019-10-21 03:15] changpe1 commented on #989
I see the issue for the first time and I didn't add any workaround for now to address this issue.

[2019-10-21 06:07] dong-liuliu commented on #990
Hi, Seth

It is because the default fs cache size for blobfs (4GB) is too large for test env.
I'm going to add a simple RPC which can set the fs cache size. Then a smaller cache can solve this problem.

[2019-10-21 06:46] karlatec commented on #986
@optimistyzy

Not really. Firewall is enabled (it was enabled previously too, on Fedora 28 before the upgrade).
Ceph version changes from 12.2.8 12.2.12.

Sure, will try that. @wawryk

Yes.

[2019-10-21 07:48] shuhei-matsumoto opened #991 "Intermittent per-patch iSCSI test failure by NVMe access denial"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Recently we have observed intermittent failure of per patch iSCSI test.
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/47009/archive/iscsi_autotest/build.log
https://dqtibwqq6s6ux.cloudfront.net/results/auto

[2019-10-21 08:40] dong-liuliu commented on #990
Please check and review [https://review.gerrithub.io/c/spdk/spdk/+/471870](url)
This issue should be solved by it.

[2019-10-21 10:24] wawryk commented on #986
@optimistyzy

Yes.

[code]

Before running rados bench i need to create keyring file and I use commsnd from RBD_autotest to create this files.
When try to run rados bench then I have problem with connection to cluster:
[code]

[2019-10-21 15:57] jimharris commented on #991
This was discussed on Slack - but these access denials are due to improper cleanup from Opal tests.  @jessehui - can you provide an update on how we will recover from failures during Opal tests?

Thanks,

-Jim

[2019-10-21 16:06] jimharris commented on #990
Why does this only happen sometimes?

We need to fully root cause this, rather than just reducing cache size to 512MB.

[2019-10-21 21:25] optimistyzy commented on #986
I think that it is your ceph environment issue.  After running the script, how about your
"ceph -s" command.   I think that the librodos client will read from:
/etc/ceph/ceph.client.admin.keyring could you check this file? To see the key in the file is your key you generated.

Second: you need to chmod a+r /etc/ceph/ceph.client.admin.keyring

[2019-10-21 21:47] optimistyzy commented on #986
Moreover, @wawryk  you can refer this page.
 https://docs.ceph.com/docs/mimic/rados/configuration/auth-config-ref/

If you disable the client authorization.

[2019-10-22 02:24] dong-liuliu commented on #990
Hi, Jim,
Probably, the root cause why it happens sometimes is because of the hugepage memory allocator in DPDK lib.

The cache pool of blobfs needs 4GB by default. Seems mempool creation requires all that 4GB are coming from one node. In my experiment, if the hugepage memory in each node is less than 4GB, even the total size is larger then 4GB, the mempool allocation of blobfs cache will fail.

Fr

[2019-10-22 03:26] jimharris commented on #990
Thanks @dong-liuliu.  I see the patch reduces the cache size from 4GB to 512MB.  Would it be better to reduce it to 3GB or 3.5GB instead?  512MB seems low based on your explanation.

[2019-10-22 03:39] jimharris commented on #990
This is for the new blobfs RPC tests - not the existing RocksDB tests.  So I'm fine with using 512MB for this case.

[2019-10-22 04:48] dong-liuliu commented on #990
Yes, Jim, this is only for new blobfs RPC tests.
I saw there is a 512mb cache setting in test/blobfs/mkfs/mkfs.c, so just follow it in blobfs RPC test.

[2019-10-22 06:48] jessehui commented on #991
Test cases are updated here: https://review.gerrithub.io/c/spdk/spdk/+/468192.
For a failure like this, you can start an SPDK target and run rpc commands for example:
[code]

[2019-10-22 09:30] wawryk commented on #986
@optimistyzy
when i use "ceph -s":
[code]

my /etc/ceph/ceph.client.admin.keyring file:
[code]
I cherry pick your patch but test still fail:
[code]
After disabling client authorization, result of "ceph -s" is the same as before, and test failed too.

[2019-10-22 12:43] Maciej-Szwed commented on #948
Command used in automated tests:
LD_PRELOAD='spdk/examples/bdev/fio_plugin/fio_plugin' /usr/src/fio/fio --ioengine=spdk_bdev --iodepth=8 --bs=4k --runtime=10 spdk/test/bdev/bdev.fio --spdk_conf=./test/bdev/bdev.conf --spdk_mem=0

where bdev.conf looks like this:

[Passthru]
  # PT <bdev name> <vbdev name>
  PT Malloc3 TestPT

[Malloc]
  NumberOfLuns 8
  LunSizeInMB 32

[Split]
  # Split Malloc1 in

[2019-10-22 14:09] optimistyzy commented on #986
@ 0 librados: client.admin authentication error (110) Connection timed out Your ceph is not working correctly. Can you change the /etc/ceph/ceph.client.admin.keyring file, the key for the initiator in the initiator is not same with the key you provided

[2019-10-22 14:16] optimistyzy commented on #986
@wawryk  If you cannot change the key, could you do the following:

Update the global section of your Ceph configuration.
[global] section of your Ceph configuration file:

auth cluster required = none
auth service required = none
auth client required = none

I do think that that is issue is related with your ceph configuration not our iSCSI target.
From your description:

[mon.]
        key = AQD

[2019-10-22 14:22] peluse commented on #981
fix is ready and has one +2. Needs to be verified by submitter but I think its OK to merge, also has UT with it https://review.gerrithub.io/c/spdk/spdk/+/471313

[2019-10-22 14:23] peluse commented on #944
lots more discussion on how we want this to work.  Will get on it today and explain the all new behavior (yet again) once it's fleshed out a little more

[2019-10-22 14:24] peluse commented on #870
have we had enough changes in this are leading up to the 19.10 release that it makes sense to retest this again?

[2019-10-22 14:51] jimharris commented on #981
Hi @gnif - just curious, would you have time to test this patch this week?  I agree with Paul that we can probably merge it now, but would feel better with your stamp of approval!

[2019-10-22 14:56] gnif commented on #981
I can test it now, I arrived home safely a few hours ago. I will update this once I have a verdict.

[2019-10-22 15:10] tomzawadzki commented on #931
After confirming with @karlatec this isssue is no longer seen. Relevant patches are merged.

[2019-10-22 15:10] #931 closed

[2019-10-22 15:14] tomzawadzki commented on #870
[Bug scrub] @Seth5141 will try to reproduce this today.

[2019-10-22 15:16] gnif commented on #981
@peluse thank you kindly for your hard work, this was clearly a hard one to debug and find an appropriate solution. @jimharris This has solved the issue and I am not seeing any negative effects from it.

[2019-10-22 15:17] tomzawadzki commented on #839
[Bug scrub]  Have not been seen for long period of time and unable to reproduce.

[2019-10-22 15:20] tomzawadzki commented on #827
[Bug scrub] migration-tc2.sh test is running as part of nightly tests, at this time not reporting any failures.
As well since that time fixes to NVMf qpair allocation have been done. @Seth5141 will take a look and post an update.

[2019-10-22 15:24] tomzawadzki commented on #815
[Bug scrub] Tests have been re-enabled and changed to use NVMe devices instead of AIO. Since then the issue have not been observed. Will reachout to @mdziegie to log the AIO issue separetly.

[2019-10-22 15:24] #815 closed

[2019-10-22 15:35] tomzawadzki commented on #407
[Bug scrub] @Seth5141 has a patch that is slated for 19.10 release. Ending with https://review.gerrithub.io/c/spdk/spdk/+/471556.

[2019-10-22 15:41] tomzawadzki commented on #835
[Bug scrub] @KariukiJ Posted suggestions on how to get satisfactory performance over omnipath. @alekseymmm Please update if those help.
@Seth5141 Will take a look at this too.

[2019-10-22 15:43] tomzawadzki commented on #975
[Bug scrub] This looks like issue with infrastructure and was since fixed.

[2019-10-22 15:43] #975 closed

[2019-10-22 19:04] wawryk commented on #986
@optimistyzy
Like I write in previous message:

should restart something ? or do something more ?

[2019-10-22 20:46] Seth5141 commented on #827
After looking through the patches merged since this issue was posted, I can't find a specific one that was geared towards fixing this assert. In fact all of the lines of code that reference this variable (current_read_depth) haven't been touched for a while.
That being said, it's not impossible that some overarching macro change like:
f0b7a6e7d1c9a5df607ba0c628c58ae701b5b584 or
5282edfd7bae6f4d1b4

[2019-10-22 21:41] optimistyzy commented on #986
@wawryk It is your ceph system isuse, which is not related with out test.  Currently I am in travel and do not have a ceph environment for Fedora 29.  After ceph start, run:

ceph auth get client.admin --name mon. --keyring ${mon_dir}/keyring
#mon_dir is the directly store mon.
And I suggested that you read this doc:
https://docs.ceph.com/docs/mimic/rados/configuration/auth-config-ref/

To make su

[2019-10-22 22:10] jimharris opened #992 "net_interface_delete_ip_address does not return error when invalid IP address is specified"
If the user requests deleting an IP address from a network interface that does not currently have that IP address, the request should fail.

## Expected Behavior

Fail the net_interface_delete_ip_address RPC if the user specifies an IP address that is not attached to the specified interface.

## Current Behavior

The RPC completes with no error.

## Possible Solution

Haven't looked yet.  It seems

[2019-10-22 23:37] Seth5141 commented on #870
Hi @krishna-e Thanks again for posting this issue. I am attempting to replicate it now.

I have installed iozone on my initiator system and am performing I/O between two direct connect

Some configurations are the same between my target and initiator:
kernel 5.2.17-050217-generic (ubuntu)
MLX_5 NICs.
I use the libibverbs and librdmacm installed from the package manager.

Here is my target setup cu

[2019-10-22 23:52] peluse commented on #870
Thanks @Seth5141 for helping out with this one!!

[2019-10-23 01:43] yidong0635 commented on #986
@wawryk @optimistyzy  I can follow your idea to have a double check, we have the fedora29 machine,
that can have a try to give any clue to help this .

[2019-10-23 03:34] yidong0635 commented on #986
have a simple try:
/home/yidong/spdk/test/spdkcli/spdkcli_job.py ''\''/bdevs/rbd create rbd foo 512'\'' '\''Ceph0'\'' True
'\''/bdevs/rbd create rbd foo 512'\'' '\''Ceph1'\'' True

tried several machines, issue hits at above.

[2019-10-23 05:13] yidong0635 commented on #986
ceph -s
  cluster:
    id:     bb0da020-13da-435b-9823-25d41615780a
    health: HEALTH_WARN
            no active mgr

  services:
    mon: 1 daemons, quorum a
    mgr: no daemons active
    osd: 1 osds: 1 up, 1 in

  data:
    pools:   0 pools, 0 pgs
    objects: 0 objects, 0B
    usage:   0B used, 0B / 0B avail
    pgs:

[2019-10-23 05:44] yidong0635 commented on #986
For better initial performance on pools expected to store a large number of objects, consider supplying the expected_num_objects parameter when creating the pool.
 09:19:39       # rbd create foo --size 1000
 09:20:01       # /home/yidong/spdk/test/spdkcli/spdkcli_job.py '"/bdevs/rbd create rbd foo 512'\'' '\''Ceph0'\'' True'
Executing command: [' ', True]
 09:20:01       # /home/yidong/spdk/test/

[2019-10-23 05:46] yidong0635 commented on #986
this may need spdkcli expert to edit scripts first.

[2019-10-23 05:48] yidong0635 commented on #986
I just to edit it make it can pass to have a try:
$spdkcli_job "\"/bdevs/rbd create rbd foo 512' 'Ceph0' True"
$spdkcli_job "\"/bdevs/rbd create rbd foo 512' 'Ceph1' True"

[2019-10-23 06:51] yidong0635 commented on #986
I can pass on my side , just to edit ./test/spdkcli/rbd.sh  after applied ziye's patch.
+ env -i TCMALLOC_MAX_TOTAL_THREAD_CACHE_BYTES=134217728 ceph-osd -c /var/tmp/ceph/ceph.conf -i 0 --pid-file=/var/tmp/ceph/pid/ceph-osd.0.pid
starting osd.0 at - osd_data /var/tmp/ceph/mnt/osd-device-0-data /dev/disk/by-partlabel/osd-device-0-journal
 10:29:48       # ceph osd pool create rbd 128
For better ini

[2019-10-23 09:05] yidong0635 commented on #986
patch :
https://review.gerrithub.io/c/spdk/spdk/+/472134
log :
[rbd.sh.txt](https://github.com/spdk/spdk/files/3761356/rbd.sh.txt)

[2019-10-23 10:21] jkryl commented on #825
Hey @Comphix , could you share more details about the root cause and how it was fixed? The claim that it has been fixed without knowing what was the problem in the first place, does not really help. thanks

[2019-10-23 10:52] glodfish-zg commented on #825
@jkryl, I guess the DPDK uses more than one thread to compile. So when we set more than 1 vcpu in VM  or use the make -j can solve this issue.

[2019-10-23 11:08] jkryl commented on #825
@glodfish-zg: I just submitted a ticket for dpdk: https://bugs.dpdk.org/show_bug.cgi?id=356 .  I think that is the true root cause. By playing with -j option you may or may not reverse the order which libraries are built in. But it is far from a decent workaround. So I'm wondering what has been fixed if @Comphix claims that the issue has been fixed. But from the ticket description it is hard to te

[2019-10-23 12:15] jimharris commented on #825
Reopening for now. We should probably pull a patch for this into our DPDK submodule until it is fixed upstream.

[2019-10-23 12:56] pawelkax opened #993 "Vhost hotremove test random failure"
Test from patch https://review.gerrithub.io/c/spdk/spdk/+/464450 sometimes fails.
Logs with failure: https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/47527/archive/vhost_initator_autotest/build.log

## Expected Behavior
Test should always pass.

## Current Behavior
When remove_vhost_controller rpc is called sometimes following error occurs:
request:
{
  "method": "vhost_delet

[2019-10-23 13:03] pawelkax opened #994 "Asan errors - vhost hotremove test"
When running test from patch https://review.gerrithub.io/c/spdk/spdk/+/464450 and with asan enabled it generates errors.
Link to logs: https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/47519/archive/vhost_autotest/build.log

## Steps to Reproduce
1. Compile spdk with asan enabled.
2. Run ./test/vhost/manual.sh -vhr

[2019-10-23 13:37] alekseymmm commented on #835
Unfortunately, I don't have access to this system so cannot check the performance anymore. I think we can close this issue and maybe this information will be useful for someone with a similar problem in the future.

[2019-10-23 13:37] #835 closed

[2019-10-23 15:28] optimistyzy commented on #986
@wawryk according to Yidong‘s test, my patch is needed:
https://review.gerrithub.io/c/spdk/spdk/+/471947 while starting ceph. And after that, Yidong recommended that we should slightly changed the script: https://review.gerrithub.io/c/spdk/spdk/+/471947

[2019-10-23 16:06] krishna-e commented on #870
were you able to see messages like "I/O 1 QID 0 timeout" at the initiator machine?
if not, then you may need to keep the link-down for 40 seconds or above until you see IO timeouts.

I tried with Mellanox and Chelsio RNICs.  And the command I used to connect targets is : "nvme connect-all -t rdma -a 104.1.1.6 -s 4420".

I will also try with the latest SPDK v19.07.1, to see if the issue still exist

[2019-10-23 17:04] jimharris commented on #981
Patch merged.  Thanks @peluse!

[2019-10-23 17:04] #981 closed

[2019-10-23 17:20] optimistyzy opened #995 "FIO (with bdev plugin) to test against NVMe-TCP target."
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

Fio can successfully finish without error

## Current Behavior

Sometimes, fio did not finish or finish with printed error.  The code is still correct in the following branch:  447373239849b65b8f9f242256c9be83

[2019-10-23 17:22] optimistyzy commented on #995
Target side, configuration file:
# NVMf Target Configuration File
#
# Please write all parameters using ASCII.
# The parameter must be quoted if it includes whitespace.
#
# Configuration syntax:
# Leading whitespace is ignored.
# Lines starting with '#' are comments.
# Lines ending with '\' are concatenated with the next line.
# Bracketed ([]) names define sections

[Global]
  # Tracepoint group m

[2019-10-23 17:26] optimistyzy commented on #995
fio.conf in initiator side:

[global]
ioengine=/home/ziyeyang/spdk/examples/bdev/fio_plugin/fio_plugin
spdk_conf=/home/ziyeyang/spdk/spdk_bdev.conf
thread=1
group_reporting=1
direct=1
norandommap=1
rw=randrw
#rwmixread={100, 70, 0}
rwmixread=50
bs=4k
iodepth=128
time_based=1
ramp_time=30
runtime=60
[test]
numjobs=32
filename=Nvme0n1
filename=Nvme0n2
filename=Nvme0n3
filename=Nvme0n4
filename=Nvme0

[2019-10-23 17:34] optimistyzy commented on #995
@Seth5141 Assigned to this seth. According to my analysis, it is related with the recent factoring work in NVMe host side for re-connecting related task force.  Since I did some test in https://github.com/spdk/spdk/commit/447373239849b65b8f9f242256c9be833e78f88e this branch, it works in expected manner.

[2019-10-23 23:58] pentyala opened #996 "Connecting to SPDK NVMe over RDMA target fails with Error 110"
Hi,

I have setup a SPDK NVMe over RDMA target successfully. While trying to connect to it from an ESX initiator, I always get

Error 110 on rdma_accept
Unable to add the qpair to a poll group.

Any guidance on how to proceed would be much appreciated.

Thanks,
Aditya

[2019-10-24 00:02] jimharris commented on #996
Hi,

Please add a lot more specifics on how you are setting up the target, how the ESX initiator is configured, which version of SPDK you are using, log messages from both initiator and target, etc.

Jim

[2019-10-24 01:41] Seth5141 commented on #995
@optimistyzy I have had a very different experience than you running this benchmark. I was getting very consistent failures on master with the following backtrace:

[code]

with the following on the target side:

[code]

However, this error did not go away when running against 4473732. In fact, I did a bisect between master and 19.07 and came up with the following commit as the first one that brok

[2019-10-24 01:41] yidong0635 commented on #986
append log about ziye's patch:
[rbd.sh_failed_and_success_with_ziye's_patch_fedora29.txt](https://github.com/spdk/spdk/files/3765287/rbd.sh_failed_and_success_with_ziye.s_patch_fedora29.txt)

[2019-10-24 01:48] shuhei-matsumoto commented on #995
Hi Seth,

About the issue you are observing, Ziye is creating a patch for the another issue reported by Jim.
https://review.gerrithub.io/c/spdk/spdk/+/472047

[2019-10-24 04:17] optimistyzy commented on #995
@Seth5141 The difference is that: on the target side, I use the lastest master branch, and on the target side, I use different NVMe host version.

[2019-10-24 04:52] wanqunintel commented on #995
Commit(both target and initiator): ae3a9b8f08de94e95f6ee700d4901903bc898bd9
Target Kernel: 5.4.0-rc3
Initiator Kernel: 5.1.0

Target error:
![image](https://user-images.githubusercontent.com/18566118/67454540-18cd2600-f65d-11e9-91b2-7986513d8f7d.png)

Initiator error:
![image](https://user-images.githubusercontent.com/18566118/67454544-1ec30700-f65d-11e9-8f98-4a4df6b93763.png)

[2019-10-24 04:53] wanqunintel commented on #995
[Global]
[Bdev]

[Malloc]
  NumberOfLuns 32
  LunSizeInMB 64

[Nvmf]
  # Set how often the acceptor polls for incoming connections. The acceptor is also
  # responsible for polling existing connections that have gone idle. 0 means continuously
  # poll. Units in microseconds.
  AcceptorPollRate 10000

#ConnectionScheduler Transport

# One valid transport type must be set in each [Transport].
# The

[2019-10-24 04:57] Seth5141 commented on #995
@wanqunintel Could you please retry the test with:
git fetch "https://review.gerrithub.io/spdk/spdk" refs/changes/47/472047/6 && git checkout FETCH_HEAD

Based on the observations I made doing my bisect today, I think it is at least worth a try. When I run this test locally without the above change, it fails every time. When I test it with that change, it has passed every time I run the test, abou

[2019-10-24 04:58] changpe1 commented on #986
@wawryk Can you confirm Yidong and Ziye's patch can work in your environment, so that we can get the patches merged before 19.10 release, thanks.

[2019-10-24 05:10] glodfish-zg commented on #825
@jkryl I just replicated this issue and your solution can fix. So could you submit a patch to DPDK to fix this issue?

[2019-10-24 05:40] wanqunintel commented on #995
@Seth5141 , i tried with this patch and tested with 1 minute, it passed.

[2019-10-24 05:47] Seth5141 commented on #995
@wanqunintel Thank you for testing it.

[2019-10-24 07:34] tinnfu opened #997 "is incorrect calculate histories_size in spdk_trace_init ?"
branch: master
commit: 6888292ba58660b3b58d8a23b530cc4738ee4d65

[code]

is incorrect calculate `histories_size` in this func ? double add `sizeof(struct spdk_trace_flags)`?

also see include/spdk/trace.h

[code]

## Expected Behavior

`histories_size = lcore_offsets[SPDK_TRACE_MAX_LCORE];`

## Current Behavior

`histories_size = sizeof(struct spdk_trace_flags) + lcore_offsets[SPDK_TRACE_MAX_LCORE

[2019-10-24 10:00] pawelkax opened #998 "Assert error - hotremove test"
When doing hotremove during fio tests following error occurs:
fio: bdev.c:2034: _spdk_bdev_channel_destroy_resource: Assertion `ch->io_outstanding == 0' failed.

## Steps to Reproduce
1. Get patch https://review.gerrithub.io/c/spdk/spdk/+/464450
2. Run test/vhost/manual.sh -vhr

[2019-10-24 10:19] pawelkax commented on #998
Error can be found in https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/47526/archive/vhost_initator_autotest/build.log

[2019-10-24 10:33] wawryk commented on #986
@optimistyzy @yidong0635
Thanks guys, your patches:
- https://review.gerrithub.io/c/spdk/spdk/+/471947
- https://review.gerrithub.io/c/spdk/spdk/+/472134

fix this issue.

Good job.
@changpe1
Yes, I confirm, it works great, and should be merge before 19.10 release.

[2019-10-24 10:33] #986 closed

[2019-10-24 12:48] jimharris commented on #825
@glodfish-zg Could you create a patch for this for our DPDK submodule?  Would like to get it in for upcoming 19.10 release. Thanks.

[2019-10-24 13:36] glodfish-zg commented on #825
https://review.gerrithub.io/c/spdk/dpdk/+/472258.
@jimharris  Patch is here. You can check. Thanks.

[2019-10-24 15:11] cighao opened #999 "FIO has a very high latency when using multiple threads"
Firstly, I test with nvme_perf,

![image](https://user-images.githubusercontent.com/10767282/67499561-00273500-f68a-11e9-841b-8c715901e310.png)

![image](https://user-images.githubusercontent.com/10767282/67499595-0f0de780-f68a-11e9-8d82-9001ef85fbe8.png)

The latency is very slow, about 14us.

Then I turn to use the FIO for testing.

![image](https://user-images.githubusercontent.com/10767282/674

[2019-10-24 16:19] peluse opened #1000 "compressdev needs to check for invalid parms error on submission"
On submission to compressdev API we, by design, queue up and retry any that weren't accepted as that would mean 'busy'. An update on the DPDK side needs us to now check to make sure we didn't submit an invalid entry.  Previously it would have been accepted and we would have been informed of the error on completion.  this is a pretty rare case as our op construction code is pretty solid, still need

[2019-10-24 16:20] peluse opened #1001 "cryptodev needs to check for invalid parms error on submission"
See issue #1000 - this is the same thing but for cryptodev

[2019-10-24 16:23] jimharris commented on #1000
Congratulations @peluse.  You just submitted issue #1000!  Your award will be sent in the mail shortly.

[2019-10-24 16:24] jimharris commented on #997
I'll take a look.

[2019-10-24 16:29] peluse commented on #1000
A sharp stick in the eye maybe ;)

[2019-10-24 17:06] optimistyzy commented on #986
@wawryk Better to close the issue after the related patch is merged.

[2019-10-24 21:34] jimharris opened #1002 "nvme/opal: intermittent AUTHORITY LOCKED OUT error"
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_47783.html

Relevant section of log:

************************************
START TEST SUITE ./test/nvme/nvme_opal.sh
************************************
 01:10:20	# xtrace_enable
 01:10:20	# ./test/nvme/nvme_opal.sh
  01:10:20	# xtrace_enable
 01:10:20	# spdk_tgt_pid=3294208
 01:10:20	# trap 'revert; killprocess $spdk_tgt_pid; e

[2019-10-24 22:25] jimharris opened #1003 "bdev/fio: intermittent ASAN-reported memory leak"
http://10.102.17.206/private_build/autotest-per-patch_47792.html
http://10.102.17.206/results/autotest-per-patch/builds/47792/archive/ubuntu18_autotest/build.log

Relevant section of log:

=================================================================
==4835==ERROR: LeakSanitizer: detected memory leaks

Indirect leak of 395 byte(s) in 1 object(s) allocated from:
    #0 0x7f80365edb50 in __inter

[2019-10-24 22:40] jimharris commented on #867
Hi @benqwu,

I realize this question was posted a few months ago - I have a few questions below if this is something you're still wanting to investigate.

Can you clarify the 20ms latency?  Do you mean that strace sometimes reports that a single io_submit takes 20ms or more?

I would like to know if you see this for every system call, or for only a very small percentage.  Specific data around freq

[2019-10-24 22:54] jimharris opened #1004 "iscsi: intermittent hotplug failure during high QD large read I/O"
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_47794.html
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/47794/archive/RBD_autotest/index.html

Test fails during the hotplug portion of the iscsi_tgt/fio/fio.sh test script.

The log seems to indicate the iSCSI errors occur before we try to delete the malloc bdev while it is in use.  So it is possible th

[2019-10-24 22:56] jimharris commented on #405
Hi @liang2yan - could you retry this test when you have time?  I think after the iSCSI reservation changes from @changpe1, this should now work.

I will assign this issue to you for now.

Thanks,

-Jim

[2019-10-24 22:58] jimharris commented on #1002
http://10.102.17.206/private_build/autotest-per-patch_47796.html

[2019-10-24 23:01] jimharris opened #1005 "nvmf: intermittent failure in reconnect test"
http://10.102.17.206/private_build/autotest-per-patch_47796.html
http://10.102.17.206/results/autotest-per-patch/builds/47796/archive/nvmf_phy_autotest/build.log

(the nvmf_phy_autotest failure - the opal one is a different issue)

Relevant portion of the log:

 00:43:30	# /var/jenkins/workspace/NVMeOF_tests/nvmf_phy_autotest/spdk/scripts/rpc.py nvmf_subsystem_add_ns nqn.2016-06.io.spdk:cnode1 Mal

[2019-10-24 23:06] Seth5141 commented on #995
@wanqunintel @optimistyzy How frequesntly can you get this to reproduce on a two system setup? I have been trying to reproduce this consistently on different patches, but I can't get it to hit every time on any patch. So far, I got one failure on 447373239, several on master before 2ec99adad90f was merged, and I still haven't gotten it to fail on 2ec99adad90f.
Because of the consistence with which

[2019-10-24 23:06] shuhei-matsumoto commented on #1004
@jimharris it looks that URLs are not public. Will you share the one we can access?

[2019-10-24 23:12] jimharris commented on #1004
My mistake.  Thanks for noticing.

https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_47794.html
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/47794/archive/RBD_autotest/index.html

[2019-10-24 23:13] jimharris commented on #1005
External links (which I should have used to begin with):

https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_47796.html
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/47796/archive/nvmf_phy_autotest/index.html

[2019-10-24 23:14] jimharris commented on #1003
External links:
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_47792.html
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/47792/archive/ubuntu18_autotest/index.html

[2019-10-24 23:29] jimharris commented on #1004
Just saw another case:
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_47801.html
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/47801/archive/RBD_autotest/index.html

[2019-10-24 23:44] shuhei-matsumoto commented on #1004
@jimharris

I saw the difference between before and after the refactoring.
Before refactoring, when we detect LUN removal, we send R2T before completing the task.
But after refactoring, when we detect LUN removal, we complete the task without sending R2T.

I followed NVMe-TCP target about the role division between header handling and payload handing.
NVMe-TCP target sends R2T in payload handling.

[2019-10-25 00:32] Seth5141 commented on #1005
Thanks for reporting this. I think I see the problem. I added an unprotected call to nvme_rdma_qpair_disconnect in nvme_rdma_qpair_process_completions.
I think what's happening is the disconnect that happens during reset is racing with the disconnect that happens in nvme_rdma_qpair_process_completions.
The calls to nvme_rdma_qpair_disconnect have historically been shielded with the ctrlr mutex. I

[2019-10-25 05:43] jessehui commented on #1002
Reproduce on an Optane P4800X, can't reproduce on P4510 with OPAL enabled. I will see if I can fix or if it is a firmware related error. Thanks for reporting.

[2019-10-25 05:45] yidong0635 commented on #1003
run autotest  `./test/bdev/blockdev.sh` on different machines and got different results:
4.17.19-200.fc28.x86_64:
[code]
on fedora30 5.2.9-200.fc30.x86_64:
[code]
from the results that memory leaks are from fio lib or libasan.
this also related to GCC version and clang analyzer version.
Fedora30 does't support this LD_PRELOAD.
Don't know how to deal with this at present .

[2019-10-25 06:51] Comphix commented on #1003
Looking at the FIO 3.3 code https://github.com/axboe/fio/blob/fio-3.3/backend.c

In the static int init_io_u(struct thread_data *td) function, it looks like

In the case of below memory allocation failure:

		ptr = fio_memalign(cl_align, sizeof(*io_u));
		if (!ptr) {
			log_err("fio: unable to allocate aligned memory\n");
			break;
		}

The memory from below io_u_init (this is implemented by the I

[2019-10-25 06:57] yidong0635 commented on #994
it seems this issue located in DPDK:
static void
[code]
 RTE_LOG(ERR, EAL, "Cannot find bus for device (%s)\n",
            `device->name`);
access device which has been removed.

[2019-10-25 07:31] shuhei-matsumoto commented on #1004
I added a patch https://review.gerrithub.io/c/spdk/spdk/+/472308 to fix this issue. This issue has not been reproduced by SPDK with this patch (more than 10 times run).

[2019-10-25 07:49] Comphix commented on #999
Looks like this may relate to the FIO I/O scheduling mechanism when multiple jobs are used on the same device. In this case, one NVMe SSD is configured to 8 FIO jobs.

[2019-10-25 08:35] glodfish-zg commented on #994
Hi, @yidong0635. Can you reproduce this issue? I am curious why this device receives twice requests from VFIO driver. especially after the pci_unplug. Thanks.

[2019-10-25 09:10] cighao commented on #999
But when using nvme_perf for testing, there is still only one NVMe SSD for the multiple threads.

[2019-10-25 09:40] wawryk commented on #980
Tested today on:
Fedora30 kernel version:
`5.3.6-200.fc30.x86_64`
Ceph version:
`ceph version 14.2.4 (75f4de193b3ea58512f204623e6c5a16e6c1e1ba) nautilus (stable)`
This small version update still freeze on:
`ceph -c /var/tmp/ceph/ceph.conf osd create 71e3a0e8-2ff6-48d7-aa01-5d8052c61e18 0`

[2019-10-25 10:36] wawryk opened #1006 "Fedora30 fail on unittest_autotests"
## Expected Behavior

unittest_autotests should pass
## Current Behavior

unittest_autotests on Fedora30 fail on:
[code]
## Possible Solution

## Steps to Reproduce

1. Run unittest on Fedora30
## Context (Environment including OS version, SPDK version, etc.)

OS version: Fedora30
Kernel: 5.3.6-200.fc30.x86_64
SPDK: current master (commit eafc447ecf1ef75002977f0e3f8a4463f6c334b4)

[2019-10-25 11:27] ksztyber commented on #1006
This patch should fix the issue: https://review.gerrithub.io/c/spdk/spdk/+/472385

[2019-10-25 12:05] wawryk commented on #1006
it works, thanks

[2019-10-25 15:01] jimharris commented on #825
Hi @jkryl - I'll admit I don't prefer e-mail for code reviews either.

@glodfish-zg - can you work on getting your patch pushed upstream?

[2019-10-25 15:06] jimharris commented on #1002
I saw this reply from @jessehui over e-mail, but for some reason it didn't persist on GitHub.

"Unbind from UIO, and then run nvme reset can fix in my environment. This is due to trying too many times for auth session with wrong password. I am not quite sure why this can be triggered."

[2019-10-25 15:08] jimharris commented on #1002
@jessehui - can you provide guidance on next steps?  If we see more of these failures we will likely need to disable this test.

[2019-10-25 15:20] Seth5141 commented on #936
@gwnet The reconnect related patches have now been merged to the master branch. There is a note in the changelog as well as an example application to handle qpair and controller reconnect when we get completion queue errors on an RDMA queue.
If you feel these changes properly address your initial issue, please indicate here, and I will close this issue.

Thanks,

Seth

[2019-10-25 15:34] jimharris commented on #1003
Thanks @Comphix for your analysis.  Can you provide suggestions for next steps?  Is this fixed in later versions of fio?

[2019-10-25 16:42] Seth5141 commented on #1005
Fix here: https://review.gerrithub.io/c/spdk/spdk/+/472413

Also, I did a little more examination of the logs this morning and am now more confident that this issue is directly related to racing on disconnecting qpairs from multiple threads.

In the core dump, you can see in thread 6 and thread 2 that those two are both in the middle of calling nvme_rdma_qpair_disconnect on the same qpair at the t

[2019-10-25 19:38] jimharris commented on #997
Confirmed.  histories_size should just be set to lcore_offsets[SPDK_TRACE_MAX_LCORE] here.

I think this bug only results in a bit of shared memory getting allocated that doesn't actually get used.  Did you see any other effects - or did you find this just via code inspection?

Let me know if you'd like to push a patch for this.  If not I can do one and attribute you.

-Jim

[2019-10-25 21:06] jimharris commented on #811
Hi @mhae - we chatted briefly about this issue at our last bug scrub.

A first patch could just be changing spdk_thread_send_msg() to return int instead of void.  Then at least the caller knows if the message ring was full and the message couldn't be sent.

Next we can either move the #defines, or provide getter functions, for the default message ring size.  I'd lean toward the getter function, ju

[2019-10-25 21:11] jimharris commented on #839
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_47847.html
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/47847/archive/event_autotest/build.log

[2019-10-25 21:31] jimharris commented on #713
Patches were merged a long time back - we just never got around to closing this issue.

[2019-10-25 21:31] #713 closed

[2019-10-25 21:33] jimharris commented on #407
This patch set has been merged.  If any further issues seen, please reopen this issue.

[2019-10-25 21:33] #407 closed

[2019-10-25 21:39] jimharris commented on #39
Closing this issue.  I don't see SPDK adding support for big endian platforms.  If there's demand for it and someone is interested in implementing it, we can reopen this issue.

[2019-10-25 21:39] #39 closed

[2019-10-25 21:40] jimharris commented on #314
@Donaim @benlwalker Did we get this working with latest DPDK?

[2019-10-25 21:42] jimharris commented on #611
@karlatec Can we close this issue?

[2019-10-25 21:45] jimharris commented on #646
@Maciej-Szwed Do we have any update on this issue?  462470 was abandoned.

[2019-10-25 21:46] jimharris commented on #645
Closing this as a 3rd party (not SPDK) issue.

[2019-10-25 21:46] #645 closed

[2019-10-25 22:21] jimharris commented on #797
I think this issue should be closed.  The submitter is absolutely correct that this shouldn't happen, but the driver has operated this way for a very long time and changing it now would technically be breaking the API.

Adding bug scrub label to discuss at next meeting.

[2019-10-25 22:24] jimharris commented on #814
Closing this as a 3rd party issue.  Please reopen if there is some future indication that it is SPDK related.  We can still have further discussion on this issue here, even when the issue is closed.

[2019-10-25 22:24] #814 closed

[2019-10-25 22:28] jimharris commented on #823
Hi @ksztyber - could we add better error logging for this case?  Or will this all be reworked anyways due to the upcoming refactoring around ftl/ocssd separation?

[2019-10-25 22:38] mhae commented on #811
@jimharris , returning an int is totally find. This will allow the caller to deal with this condition. I don't think we need a retry logic in spdk_thread_send_msg() either. Just let the caller know that there is an issue suffices for now.

[2019-10-25 22:59] jimharris commented on #811
https://review.gerrithub.io/c/spdk/spdk/+/472438

[2019-10-25 23:20] jimharris commented on #940
https://review.gerrithub.io/c/spdk/spdk/+/472441

[2019-10-25 23:20] mhae commented on #811
@jimharris Awesome! Looks good. Thanks!

[2019-10-25 23:32] jimharris opened #1007 "Jenkins CI Networking Failures - No logs generated, or obvious failure before any test related activities start"
These are actually happening fairly frequently right now.

https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_47951.html
No logs, but looking at Jenkins internally it timed out during the unittest build.

https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_47849.html
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/47847/archive/centos7_auto

[2019-10-26 00:49] Comphix commented on #1003
Sure. Let me take a look at the later version of FIO.

[2019-10-26 10:02] tinnfu commented on #997
Got it just via code inspection. Please help to fix it. Thx

[2019-10-27 04:55] ufo19890607 opened #1008 "fio_plugin cannot work with Intel VMD enabled"
Hi guys,
I just wanna run fio_plugin in VMD mode, but EAL failed to parse NVME device. Below is my system settings:

OS: centos7.4
kernel version: 3.10.0-693.el7.x86_64
SPDK version: v19.10-pre
DPDK version: 19.11.0-rc0
fio version: 3.15

I'm sure I have made the right config according to the fio_plugin readme and the only difference is that I enable Intel VMD feature. And fio_plugin runs well whe

[2019-10-27 23:05] shuhei-matsumoto opened #1009 "Ceph RBD test: mknod /dev/ceph already exists when creating GPT partition"
Please use the issue tracker only for reporting suspected issues.

I saw the following failure in per-patch test.
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_47850.html

[code]
## Expected Behavior
No error

## Current Behavior
The above error

## Possible Solution
None

## Steps to Reproduce
Per-patch test

## Context (Environment including OS version, SPDK version, etc.)

[2019-10-28 01:34] jessehui commented on #1002
For locked out during authenticate session, nvme reset can help. But for admin session for example take ownership or revert operations, this doesn't seem to help. Based on Opal spec, a power cycle should fix this failure, however, I can't get rid of this failure by doing a power cycle for Optane P4800X. Opal autotest is disabled until we know how to fix this. Thank you.

[2019-10-28 01:40] yidong0635 commented on #994
@glodfish-zg  I haven't reproduced this yet, but from the log , it indicates bus and device can be NULL both.  Codes  have defects indeed.
above functions are registered as callbacks, that means they are be executed on different threads, hot removes may hit race between accessing device calling by printing logs and releasing device.
maybe I'm wrong. Please check that.

[2019-10-28 02:03] shuhei-matsumoto commented on #1004
The above patch doesn't fix this issue. I saw the same failure in a patch following it.

https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_47972.html

The above patch should be merged but I continue investigating this issue.

[2019-10-28 02:40] shuhei-matsumoto commented on #1004
I found another bug and added a fix to it. https://review.gerrithub.io/c/spdk/spdk/+/472507
I confirmed that this patch works locally, I will see if the issue is fixed by having more experience.

[2019-10-28 02:54] yidong0635 commented on #1003
@Comphix  thanks for your analysis.  we have similar test about nvme/fio_plugin/fio_plugin. That test hasn't report about this. This issue exists a long time, but can't find the solution.

[2019-10-28 03:03] yidong0635 opened #1010 "$testdir/startup/startup -t 1000000 per patch test failed on freebsd"
# Issue
Starting SPDK v19.10-pre / DPDK 19.08.0 initialization...
[ DPDK EAL parameters: startup -c 0x1 --log-level=lib.eal:6 --log-level=lib.cryptodev:5 --log-level=user1:6 ]
EAL: WARNING! Base virtual address hint (0x100005000 != 0x80030a000) not respected!
EAL:    This may cause issues with mapping memory into secondary processes
EAL: WARNING! Base virtual address hint (0x10000b000 != 0x8003380

[2019-10-28 04:29] jessehui commented on #1002
However, I still don't understand why it get "Authority Locked Out" in our test environment. Based on my test, it will only throw this error message after 6 times wrong input. I think we can loop in @karlatec and see how we can avoid this error.

[2019-10-28 04:34] glodfish-zg commented on #825
@jkryl  @jimharris
Understand， I will push it to DPDK.

[2019-10-28 04:56] liang2yan commented on #405
just verified with latest codes, the VMware ESXi 6.7 iscsi initiator can login to the spdk iscsi target. And I can see disk in the "Devices" page. But I failed to create VMFS5/6 file system on SPDK iscsi disk.
So I think we can close this issue. If needed, I will create new github issue for the VMFS 5/6 file system failing issue.

[2019-10-28 05:01] shuhei-matsumoto opened #1011 "Recommendation about socket buffer size in iSCSI Target Getting Started Guide which gives negative effect on other applications"
Please use the issue tracker only for reporting suspected issues.

SPDK iSCSI Target Getting Started Guide recommends us to change /etc/sysctl.conf as follows:

        net.ipv4.tcp_rmem = 10000000 10000000 10000000
        net.ipv4.tcp_wmem = 10000000 10000000 10000000
        net.ipv4.tcp_mem = 10000000 10000000 10000000

This setting is global and give negative effects on other applications on

[2019-10-28 05:22] Comphix commented on #1008
Thanks for reporting this.

Could you check whether you have enabled the below "enable_vmd" flag in the fio configuration?

struct spdk_fio_options {
	void	*pad;	/* off1 used in option descriptions may not be 0 */
	int	mem_size;
	int	shm_id;
	int	enable_sgl;
	int	sge_size;
	char	*hostnqn;
	int	pi_act;
	char	*pi_chk;
	int	md_per_io_size;
	int	apptag;
	int	apptag_mask;
	char	*digest_enable;
	int	ena

[2019-10-28 05:38] shuhei-matsumoto commented on #1004
By using two patches, I haven't reproduced this issue for almost 10 runs, and looks good to me for now.
Further simplification may be possible but hotplug is very subtle and I don't want to do large change if not required.

[2019-10-28 05:44] ufo19890607 commented on #1008
Hi, Comphix
fio_options->enable_vmd  is 0 when I print its value in spdk_fio_setup.
static int spdk_fio_setup(struct thread_data *td)
{
     ...
                if (fio_options->enable_vmd && spdk_vmd_init()) {
                        SPDK_ERRLOG("Failed to initialize VMD. Some NVMe devices can be unavailable.\n");
                }else {
                        SPDK_NOTICELOG("Initialize VMD succ

[2019-10-28 06:13] jessehui commented on #1002
OK. For an initialized device, if we try init it again and again for several times, it can still get locked out. Or for an non-initialized device, if we do revert again and again for several times, it can also get locked out.
Since we have revert process in autotest.sh. I guess this is called too many times. This is a behaviour defined by firmware.

[2019-10-28 06:28] Comphix commented on #1008
You can try to add below in the FIO configuration and have another try.

enable_vmd=1

Please let us know the result. Thanks, Gang

[2019-10-28 06:36] optimistyzy commented on #1009
I occasionally find another issue in the test log, and submitted a patch   https://review.gerrithub.io/c/spdk/spdk/+/472514 .

[2019-10-28 06:45] optimistyzy commented on #1008
@ufo19890607 Before running fio. Better to run the program under examples/nvme, such as examples/nvme/identify/identify  or examples/nvme/perf/perf to test whether you can identify the NVMe device through SPDK nvme driver under vmd mode. In the command line, you can add "-V" flag.

[2019-10-28 06:48] Comphix commented on #1003
Thanks Yidong for the good point. Will take a look together for both the NVMe and Bdev FIO plugin.

[2019-10-28 07:08] ufo19890607 commented on #1008
Hi Ziye
You are right. NVME devices cannot be detected through SPDK driver under vmd.

[root@TENCENT64 /home/ufo/software/spdk-upstream/examples/nvme/identify]# ./identify -V
Starting SPDK v19.10-pre / DPDK 19.11.0-rc0 initialization...
[ DPDK EAL parameters: identify --no-shconf -c 0x1 -n 1 -m 0 --log-level=lib.eal:6 --log-level=lib.cryptodev:5 --log-level=user1:6 --base-virtaddr=0x200000000000 -

[2019-10-28 07:12] ufo19890607 commented on #1008
I've add 'enable_vmd=1' in configure of fio and rebuild it.
root@TENCENT64 /home/ufo/kernel/test/fio_test]# LD_PRELOAD=/home/ufo/software/spdk-upstream/examples/nvme/fio_plugin/fio_plugin /home/ufo/software/fio-master/fio spdk_4krr
testfile1: (g=0): rw=randread, bs=(R) 4096B-4096B, (W) 4096B-4096B, (T) 4096B-4096B, ioengine=spdk, iodepth=128
...
fio-3.15
Starting 8 threads
Starting SPDK v19.10-pre

[2019-10-28 07:20] liang2yan commented on #1010
the startup tool used a little more than 100ms in nvme_autotest and nvme_phy_autotest. But used more than 1s in freebsd_autotest. @jimharris , should we set a larger value for startup tool?

[2019-10-28 07:23] #405 closed

[2019-10-28 07:31] ksztyber commented on #823
Yeah @jimharris this code is being refactored right now, so it's all going to change pretty soon. I think we can close this issue.

[2019-10-28 07:40] ufo19890607 commented on #1008
[root@TENCENT64 /home/ufo/software/spdk-upstream/examples/nvme/identify]# ./identify -r 'trtype=PCIe traddr=10000:01:00.0'
Starting SPDK v19.10-pre / DPDK 19.11.0-rc0 initialization...
[ DPDK EAL parameters: identify --no-shconf -c 0x1 -n 1 -m 0 --log-level=lib.eal:6 --log-level=lib.cryptodev:5 --log-level=user1:6 --base-virtaddr=0x200000000000 --match-allocations --file-prefix=spdk_pid5642 ]
EAL:

[2019-10-28 08:15] wmalikow commented on #1008
@ufo19890607 before you can use VMD in SPDK you need to add VMD devices to PCI_WHITELIST e. g. export PCI_WHITELIST="0000:5d:05.5 0000:d7:05.5". After that you need to call: sudo -E spdk/setup.h
To get address of NVMe behind VMD please use spdk/app/spdk_lspci/spdk_lspci - SPDK has different addressing schema than kernel lspci.

[2019-10-28 08:35] ufo19890607 commented on #1008
@wmalikow
1. disabled vmd
# ./spdk_lspci
Starting SPDK v19.10-pre / DPDK 19.11.0-rc0 initialization...
[ DPDK EAL parameters: spdk_lspci --no-shconf -c 0x1 --log-level=lib.eal:6 --log-level=lib.cryptodev:5 --log-level=user1:6 --base-virtaddr=0x200000000000 --match-allocations --file-prefix=spdk_pid87554 ]
EAL: No available hugepages reported in hugepages-2048kB
EAL: VFIO support initialized
EAL:

[2019-10-28 08:44] wmalikow commented on #1008
@ufo19890607 could you please provide steps you are doing before call ./spdk_lspci in
"enabled_vmd" case? (I'm assuming that you enable and disable vmd in BIOS)

[2019-10-28 08:52] wmalikow commented on #1008
Maybe I wasn't fully clear in previous comment - you need also set PCI_WHITELIST with VMD devices (from kernel lspci) and call "sudo -E spdk/setup.h" before you call ./spdk_lspci to get devices addresses **behind** VMD.

[2019-10-28 08:54] wanghailiangx commented on #998
Reproduced the issue, my steps:
1. Get patch https://review.gerrithub.io/c/spdk/spdk/+/464450
2. modify local test/vhost/common.sh as bellow:
[code]
3. ./configure --without-isal --enable-asan --with-fio=/usr/src/fio --disable-tests
4. Run test/vhost/manual.sh -vhr

[code]

[2019-10-28 09:08] jessehui commented on #1002
This patch should fix. https://review.gerrithub.io/c/spdk/spdk/+/472530

[2019-10-28 09:18] ufo19890607 commented on #1008
@wmalikow All right. I got it.
1. compile dpdk
2. compile spdk
3. unbind kernel nvme driver and bind SPDK driver
cd <spdk_dir>/scripts
export PCI_WHITELIST="10000:01:00.0"
sh setup.sh
4. get NVME devices addresses
./spdk_lspci
[root]# ./spdk_lspci
Starting SPDK v19.10-pre / DPDK 19.11.0-rc0 initialization...
[ DPDK EAL parameters: spdk_lspci --no-shconf -c 0x1 --log-level=lib.eal:6 --log-level=lib

[2019-10-28 09:25] wmalikow commented on #1008
ufo19890607 You should unbind **VMD** from kernel not a NVMe behind VMD e.g.
**5d:05.5 RAID bus controller: Intel Corporation Device 201d (rev 04)**

[2019-10-28 09:29] ufo19890607 commented on #1008
Could you please show the steps in detail?

[2019-10-28 09:31] wmalikow commented on #1008
I've just paste output from "lspci |grep 201d"

[2019-10-28 09:34] ufo19890607 commented on #1008
@wmalikow
[/home]# lspci |grep Non
10000:01:00.0 Non-Volatile memory controller: Intel Corporation Device 0a54
10000:02:00.0 Non-Volatile memory controller: Intel Corporation Device 0a54
10000:03:00.0 Non-Volatile memory controller: Intel Corporation Device 0a54
10000:04:00.0 Non-Volatile memory controller: Intel Corporation Device 0a54

so, traddr=10000:01:00.0. Am I right？

[2019-10-28 09:37] wmalikow commented on #1008
You are listing here devices behind VMD not **VMD itself** - could you please add your full lspci log?

[2019-10-28 09:43] ufo19890607 commented on #1008
[lspci.log](https://github.com/spdk/spdk/files/3778038/lspci.log)

[2019-10-28 09:45] wmalikow commented on #1008
Please try this one:
PCI_WHITELIST="0000:3a:05.5"

[2019-10-28 10:08] ufo19890607 commented on #1008
@wmalikow
[root]# ./spdk_lspci
Starting SPDK v19.10-pre / DPDK 19.11.0-rc0 initialization...
[ DPDK EAL parameters: spdk_lspci --no-shconf -c 0x1 --log-level=lib.eal:6 --log-level=lib.cryptodev:5 --log-level=user1:6 --base-virtaddr=0x200000000000 --match-allocations --file-prefix=spdk_pid35076 ]
EAL: No available hugepages reported in hugepages-2048kB
EAL: VFIO support initialized
EAL:   using IOM

[2019-10-28 10:12] wmalikow commented on #1008
@ufo19890607 You need to add -V flag e. g. ./identify -r 'trtype=PCIe traddr=3a0505:01:00.0' -V

[2019-10-28 11:16] ufo19890607 commented on #1008
All right, thank you so much! The last question: How to set fio_options->enable_vmd ? I've add 'enable_vmd=1' in the configure of fio, but it does not work. So I just hack some code in fio_plugin.c.

[2019-10-28 11:31] wmalikow commented on #1008
You could refer to test/vmd/vmd.sh for fio example and test/vmd/config/config.fio for fio config.

[2019-10-28 11:35] Maciej-Szwed commented on #1009
Another one: https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/48013/archive/RBD_autotest/failed_test.log

[2019-10-28 12:12] tomzawadzki commented on #976
@felipe-barajas Patches linked by @Donaim that handle errors during OCF creation have been merged to master. Can you please verify whether the issue still occurs ?

[2019-10-28 12:54] jkalwas opened #1012 "rte_eal_init.cold -> rte_service_init failure v19.10-rc1"
EAL initialization fails with below info

$ sudo ./examples/nvme/hello_world/hello_world
Starting SPDK **v19.10-pre** / DPDK **19.08.0** initialization...
[ DPDK EAL parameters: hello_world -c 0x1 --log-level=lib.eal:6 --log-level=lib.cryptodev:5 --log-level=user1:6 --base-virtaddr=0x200000000000 --match-allocations --file-prefix=spdk0 --proc-type=auto ]
EAL: No available hugepages reported in hug

[2019-10-28 13:06] jkalwas commented on #1012
with below it works as previously (v19.07 / v19.07.1) but there is no way to provide such option using cmd line i.e. hello_world --iova-mode=pa

diff --git a/lib/env_dpdk/init.c b/lib/env_dpdk/init.c
index e17d8605b..8f9e2909f 100644
--- a/lib/env_dpdk/init.c
+++ b/lib/env_dpdk/init.c
@@ -272,6 +272,8 @@ spdk_build_eal_cmdline(const struct spdk_env_opts *opts)
                }
        }

+

[2019-10-28 17:21] #1006 closed

[2019-10-28 17:32] jimharris commented on #1010
Let's disable this test for FreeBSD.

[2019-10-28 17:48] jimharris commented on #1012
Hey @benlwalker - can you take a look at this?

[2019-10-28 19:08] benlwalker commented on #1012
I can confirm on a physical system (Intel Xeon E5-2699 v3) the reproduction steps result in hello_world working correctly. I suspect this has something to do wtih QEMU's IOMMU emulation limiting the available address range, and DPDK is probably attempting to program an address that exceeds that range. I'm still investigating.

[2019-10-28 19:23] benlwalker commented on #1012
DPDK first queries the system's IOMMU register width by looking at /sys/bus/pci/devices/<BDF>/iommu/intel-iommu/cap. If you cat out that value and do this calculation on it, you'll see the value on your system:

[code]

On my system, it's 48 bits as expected. It then walks through all of the allocated hugepages and makes sure they can fit into the reported number of bits. If this fails, you get th

[2019-10-28 19:27] benlwalker commented on #314
I just tested and at least the identify example and hello world are working as an unprivileged user as expected. I haven't set up the whole vhost suite just yet. There may be some additional set up to get the domain sockets created correctly, but beyond that I don't foresee any problems.

[2019-10-28 21:15] Seth5141 commented on #1005
The change for this was merged. I'll close this for now, but will keep an eye out for it and reopen if it hits again.

[2019-10-28 21:15] #1005 closed

[2019-10-28 21:33] Seth5141 opened #1013 "Test Issue: Please Ignore"
This issue is a test one used to verify new functionality for tracking latent failures for the SPDK community CI infrastructure. Please ignore this issue.

[2019-10-28 21:45] benlwalker commented on #1004
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/48046/archive/RBD_autotest/index.html

[2019-10-28 21:51] benlwalker commented on #990
http://10.102.17.206/results/autotest-per-patch/builds/48049/archive/BlobFS_autotest/build.log

[2019-10-28 22:03] felipe-barajas commented on #976
@tomzawadzki The issue no longer occurs with the fixes introduced.  Thank you for your help. I am now closing this.

[2019-10-28 22:03] #976 closed

[2019-10-29 00:35] Seth5141 opened #1014 "NVMe RDMA Initiator core dump on target_disconnect.sh"
## Expected Behavior
The process should be able to complete without a failure.

## Current Behavior
A core dump occurs in the rxe code on the nvmf_autotest job during the target_disconnect test.
The details of the core dump are included here:

[code]

## Possible Solution / Triage
It looks like the variable we are segfaulting on has an invalid address at the time of accessing. I looked at how that

[2019-10-29 01:39] yidong0635 commented on #1009
@Maciej-Szwed  the log that you pasted here is the old log, the only solution is to rebase code from master.

[2019-10-29 02:13] glodfish-zg commented on #994
@yidong0635  From the log it seems the device has been freed before in function pci_vfio_req_handler():305. And I think the eal_intr thread is a single thread for interrupt and event handling. I don't think it has the race condition. Maybe I am wrong, I will check this. So I think the issue is that after pci_unplug it still receives a request.

[2019-10-29 02:23] Comphix commented on #1008
Assign to @wmalikow first. Thanks, Gang

[2019-10-29 02:26] ChenBo2333 opened #1015 "[Autotest-per-patch]nvmf_tcp_autotest failed to run"
When run nvmf_tcp_autotest , the remote end hung up unexpectedly.

## Expected Behavior
run successfully without errors.

## Current Behavior
error: RPC failed; curl 18 transfer closed with outstanding read data remaining
fatal: The remote end hung up unexpectedly
./copy_or_clone.sh: line 16: cd: spdk: No such file or directory
git version 2.17.2

## Possible Solution
N/A

## Steps to Reproduce
Vi

[2019-10-29 02:27] krishna-e commented on #870
Tried with latest spdk(commit eafc447e), the test ran for more than 8 hours, usually the issue recreates within 30min.
Thanks @Seth5141 and @peluse for working on this issue.

Will reopen if I hit this issue again.

Thanks,
Krishna.

[2019-10-29 02:27] #870 closed

[2019-10-29 02:42] ufo19890607 commented on #1008
@wmalikow Thank you. I summarize all the steps for VMD enabled.
1. compile dpdk with EXTRA_CFLAGS=-fPIC
2. compile spdk with fio
3. set the whitelist for RAID bus controller
4. unbind kernel nvme driver and bind SPDK driver
5. invoke  spdk_lspci to get NVMe devices' addresses behind VMD.
6. make the spdk fio config referring to  test/vmd/config/config.fio

I really hope you update the fio_plugin R

[2019-10-29 04:27] Comphix commented on #1003
If looking at the implementation of spdk_fio_io_u_init/spdk_fio_io_u_free interfaces from FIO for both NVMe and Bdev, there is no difference here. Also double checked FIO's logic, when more than 1 queue depth is specified, the successfully created IO req is tracked on the list and will be properly freed in case that a later IO failed to init due to out of memory.

[2019-10-29 04:33] liang2yan opened #1016 "There is no UT for SPDK zone bdev library"
## Expected Behavior
there is UT running in the CI for zone bdev library.
## Current Behavior
No UT for zone bdev library.
## Possible Solution
https://review.gerrithub.io/c/spdk/spdk/+/471600

## Steps to Reproduce
1. no UT codes in SPDK for zone library;
2.
3.
4.

## Context (Environment including OS version, SPDK version, etc.)

[2019-10-29 05:17] yidong0635 commented on #1016
here : https://review.gerrithub.io/c/spdk/spdk/+/471600

[2019-10-29 05:33] optimistyzy commented on #1003
@yidong0635  Can you give more info? Is it only related with crypto bdev device ,or related with any bdev?  Discussed with @Comphix there should be no issue in fio tool (backend.c, the memory will be freed. )

[2019-10-29 06:08] Comphix commented on #1003
Checked the https://github.com/axboe/fio/blob/fio-3.3/backend.c (and latest master branch).

When it failed to allocate below memory through fio_memalign(), it just break out instead of return 1

[code]

Below is the return 1 case:

[code]

When it breaks out, it goes to below and may return 1 or return 0. If return 1, the resource could be properly freed and if return 0, the resource seems that l

[2019-10-29 06:10] yidong0635 commented on #1003
@Comphix @optimistyzy , it related with bdev device, not focus on crypto.
you can try this ./test/bdev/blockdev.sh.
this issue is reported before but be closed  #957 . I'm also be confuse by this.
(and the LD_PRELOAD config for the fedora30 , it indicates this will not longer be used anymore, l guess some one will report this issue )

[2019-10-29 07:15] optimistyzy commented on #1010
@jimharris @yidong0635  https://review.gerrithub.io/c/spdk/spdk/+/472669  A patch to disable the test.

[2019-10-29 07:17] optimistyzy commented on #1003
@Comphix But even it return 0, the normal path will still execute the error label code

[2019-10-29 07:19] liang2yan commented on #1010
@optimistyzy ,Sorry for the late reply. I already submitted patch to disable the test for FreeBSD.
https://review.gerrithub.io/c/spdk/spdk/+/472660

[2019-10-29 07:20] optimistyzy commented on #1010
@jimharris Please use liang's patch since he submitted early.

[2019-10-29 07:28] dong-liuliu commented on #990
So after 19.10 release, please review patch for this intermittent failure
https://review.gerrithub.io/c/spdk/spdk/+/471957/2

[2019-10-29 07:57] optimistyzy commented on #995
@wanqunintel Can this issue reproduced with the master branch?

[2019-10-29 09:45] Comphix commented on #1003
Trying to reproduce it locally with fio 3.3 and latest SPDK code. Seems hitting another issue

Run status group 0 (all jobs):
   READ: bw=520MiB/s (546MB/s), 520MiB/s-520MiB/s (546MB/s-546MB/s), io=1433MiB (1503MB), run=2755-2755msec
  WRITE: bw=621MiB/s (651MB/s), 269MiB/s-486MiB/s (282MB/s-510MB/s), io=6213MiB (6514MB), run=7246-10004msec
==28797== AddressSanitizer CHECK failed: ../../../../libs

[2019-10-29 10:49] shuhei-matsumoto commented on #1007
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48091.html

This is different different signature but looks related with test infrastructure. This give any hint? Please open an new issue if needed

[2019-10-29 17:37] Seth5141 commented on #1013
Found another latent failure.

[2019-10-29 17:50] Seth5141 commented on #1013
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48042.html

[2019-10-29 18:07] benlwalker commented on #1014
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/48120/archive/nvmf_autotest/failed_test.log

[2019-10-29 18:22] Seth5141 commented on #1013
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48136.html

[2019-10-29 18:25] Seth5141 commented on #1013
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48136.html

[2019-10-29 18:54] Seth5141 commented on #1013
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48136.html

[2019-10-29 22:19] Seth5141 commented on #1013
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48144.html

[2019-10-29 22:25] Seth5141 commented on #1013
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48144.html

[2019-10-29 22:27] shuhei-matsumoto commented on #1013
https://github.com/spdk/spdk/issues/1015

is same. Is it OK to stay there?

[2019-10-29 22:33] Seth5141 commented on #1013
@shuhei-matsumoto I'm not actually tracking anything here. I'm using this as a testbed for automating the tracking of latent failures. So you can ignore any comments on this specific issue.

[2019-10-29 22:34] Seth5141 commented on #1014
Proposed fix is here: https://review.gerrithub.io/c/spdk/spdk/+/472749

[2019-10-29 22:37] shuhei-matsumoto commented on #1013
@Seth5141 Thank you, I got the meaning of "Please ignore this issue"!

[2019-10-29 22:47] Seth5141 commented on #1015
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48150.html

[2019-10-29 23:35] spdkci commented on #1015
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48112.html

[2019-10-30 00:30] jimharris commented on #1008
Hi @wmalikow - can you make sure these steps are added to our fio_plugin README?

I'm not sure about adding this step #1 to the README though.  We already build our DPDK submodule with -fPIC (see dpdkbuild/Makefile).  If someone wants to use their own version of DPDK, then -fPIC is required but we should note that in general for the fio_plugin - that step isn't specific to VMD.

[2019-10-30 00:34] jimharris commented on #314
Thanks Ben.  Do we need to add some docs somewhere to walk people through how to do this, before closing this issue?  Maybe @Donaim could take a look at writing something up.

[2019-10-30 00:38] jimharris commented on #997
Thanks @tinnfu.  I'll submit a patch.

[2019-10-30 05:40] optimistyzy commented on #1015
It seems that this issue is not related with NVMe-oF tcp test workloads.

[2019-10-30 06:24] Comphix commented on #1003
Above looks like unrelated which is from libasan.so.0. Not the one from libasan.so.4

[2019-10-30 08:05] optimistyzy opened #1017 "lvol intermittent failure - aio_bdev0 before and after test fails"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

See this error log:
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/48161/archive/lvol_autotest/build.log

More detailed info:

[code]

## Expected Behavior
The test should not fail.

## Current Behavior

##

[2019-10-30 08:27] #1004 closed

[2019-10-30 10:14] karlatec commented on #1007
Most of these fails seem to be caused by poor network connection to Gerrithub - cloning and/or fetching the sources seems to take too much time, or is even failed in the process.
This applies to the log posted by @shuhei-matsumoto as well.

In our CI we have mirrors of gerrithub repo, created with "git clone --mirror". This is done to speed up fetching the changes. Most of the source code is downl

[2019-10-30 12:00] karlatec commented on #1007
Also - I think this issue should be renamed to smth like "CI cloning intermittent failure", because it affects other jobs, not just Centos7 (just like shuhei linked).

And we could also close duplicates, which are starting to appear like this one:
https://github.com/spdk/spdk/issues/1015

[2019-10-30 12:01] karlatec commented on #1015
This seems to be related or a duplicate of #1007 - IMO these are issues with connectivity to Gerrithub.

[2019-10-30 13:24] tomzawadzki opened #1018 "(iscsi hotplug) iscsi/fio timeout during deletion of malloc bdev"
This occurred on CI during test/iscsi_tgt/fio/fio.sh tests. Particularly when testing removal of bdevs when doing I/O with FIO via iSCSI.

## Expected Behavior
Malloc bdev used for the fio test should be deleted properly.

## Current Behavior
When issuing bdev_malloc_delete the RPC times out, causing the test to fail.

## Possible Solution

## Steps to Reproduce
Execute test/iscsi_tgt/fio/fio.sh
S

[2019-10-30 15:23] jkalwas commented on #1012
Hi Ben,

Thank you for quick investigation. Indeed mgaw=39 on my VM.

I cannot disable vIOMMU because still I do want to work with vfio-pci, in case iommu disabled devices are attached to uio_pci_generic.

What about changing an interface to allow user to pass eal options like iova mode?

[2019-10-30 17:02] jimharris commented on #1012
We could add another env option for this.  But I'm also wondering if we should have some kind of "dpdk passthrough" command line option?  I'm not sure I want to proliferate all of the DPDK command line options explicitly into the SPDK env_opts structure.

[2019-10-30 17:18] jimharris commented on #1007
The original issue that Shuhei and I saw was definitely Centos7 related.  We saw this on several patches last week but only on the Centos7 VM.

Can you double-check the git clone --mirror?  I just tried it on one of my system and seems to be working fine - it hasn't completed yet, but it's "Counting objects" successfully.

git clone --mirror ssh://jimharris@review.gerrithub.io:29418/spdk/spdk spdk

[2019-10-30 17:23] karlatec commented on #1007
Here's a similar one to one that Shuhei posted. This time it's nvme tests, fedora OS and chandler-based.
https://10.102.17.104:8080/job/NVMe_tests/job/nvme_autotest_nightly/2843/console

How about anonymous HTTPS clone? Problem with SSH is that we'd have to provision all the nodes and do some changes in CI config.

[2019-10-30 17:27] Seth5141 commented on #490
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48041.html

[2019-10-30 17:27] Seth5141 commented on #1013
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48042.html

[2019-10-30 17:27] Seth5141 commented on #1013
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48136.html

[2019-10-30 17:28] Seth5141 commented on #1013
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48136.html

[2019-10-30 17:28] Seth5141 commented on #1013
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48144.html

[2019-10-30 17:28] Seth5141 commented on #1015
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48150.html

[2019-10-30 17:28] Seth5141 commented on #1015
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48112.html

[2019-10-30 17:35] jimharris commented on #490
@Seth5141 - Is this for real?

[2019-10-30 17:41] jimharris commented on #1007
I also get errors when trying to do anonymous https.  So this is specific to anonymous https.

[2019-10-30 17:42] jimharris commented on #1007
Does it work with authenticated https?  I just want to make sure we've triaged this as much as possible before contacting GerritForge support.

[2019-10-30 22:28] tomzawadzki commented on #1015
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/48263/archive/nvmf_tcp_autotest/build.log

[2019-10-30 22:39] shuhei-matsumoto commented on #1018
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/48193/archive/RBD_autotest/build.log

[2019-10-30 22:45] shuhei-matsumoto commented on #1018
I'm trying to simplify the LUN hotplug according to the recent experiments https://review.gerrithub.io/c/spdk/spdk/+/472854

I found the patch was wrong last night. The previous patch didn't figure out the commit message into source code correctly.

Sorry for bothering you but I will have more experiments. I am not be confident until finishing them.
Please wait shortly.

[2019-10-30 22:49] Seth5141 commented on #1007
In regards to this, the tcp tests started failing regularly this afternoon so I used the SSH method to update the mirror repos in those repositories. After that, they started passing again. I am in the process of doing that for the rest of the nightly machines.
Interesting sidenote - doing a git clone --mirror of spdk/dpdk using anonymous https works without a hitch. but doing the same on spdk/spd

[2019-10-31 03:14] shuhei-matsumoto commented on #1018
I hope I finally added the real fix to this issue. https://review.gerrithub.io/c/spdk/spdk/+/472896

I separated PDU header handling and PDU payload handling recently, and inserted allocating data buffer and reading data segment in the middle. Allocating iSCSI task is done in PDU payload handling. If any critical error occurs in allocating data buffer or reading data segment, the created iSCSI tas

[2019-10-31 04:05] optimistyzy commented on #1014
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/48307/archive/nvmf_autotest/build.log  This issue can be reproduced frequently in the pool

[2019-10-31 04:08] jimharris commented on #1018
Bug scrub: we should merge this for 19.10

[2019-10-31 04:13] jimharris commented on #797
Bug scrub:  agreement that we shouldn't change this behavior since it would technically break the API - will add documentation to describe this case instead and then close this issue

[2019-10-31 04:14] jimharris commented on #450
Bug scrub: Seth plans to retest this again after recent changes that have gone into the upcoming 19.10 release.

[2019-10-31 04:19] jimharris commented on #1015
Bug scrub: Seth to close this issue and change description on issue #1007 to characterize it more generally as Jenkins CI timeouts.

[2019-10-31 04:23] jimharris commented on #1012
Bug scrub: @jkalwas - can you further clarify why you need to leave the vIOMMU enabled?  There are still some questions on why this is required.  @benlwalker to follow up.

[2019-10-31 04:25] jimharris commented on #1011
Bug scrub: closing this issue - there was a misunderstanding and the settings described apply to configuring the initiator, not the target

[2019-10-31 04:25] #1011 closed

[2019-10-31 04:33] jimharris commented on #1003
Bug scrub: @Comphix is still investigating this issue.  No clear root cause yet.

[2019-10-31 04:40] jimharris commented on #995
Bug scrub: @wanqunintel unable to reproduce with latest master branch..  @Seth5141 reports he can see the test run to completion, but one job is hanging at the end.  No core dump is seen so we think @Seth's observation is a different issue, and that this issue should be closed based on known fixes that have gone in around this condition.  @Seth5141 to close this issue and file a new one for the ne

[2019-10-31 04:44] jimharris commented on #987
Bug scrub: This intermittent issue hasn't been seen in last two weeks.  Keeping open for now though - will re-evaluate next bug scrub.

[2019-10-31 06:02] Comphix commented on #1003
Added some hint and forced the FIO logic and it looks like FIO leaked some IOs (not freed if there are multiple FIO jobs are used)

[code]

After changing to "return 1", looks like the IO is properly init and freed in the case of memory allocation failure:

[code]

Currently, Ziye already raised the patch to fio and change has been merged in the master branch as below.

https://github.com/axboe/fi

[2019-10-31 07:01] karlatec commented on #1007
Will do. BTW --mirror started to work yesterday in our geo after Jim contacted the technical support:)

Well, one thing would be to use more branches than just master I guess. But I also sent you an e-mail yesterday about using --depth=1 for clones and fetches, which reduces the amount of downloaded stuff significantly. Unfortunately it causes "git describe --tags" in autobuild.sh to fail, so I st

[2019-10-31 08:11] shuhei-matsumoto commented on #1018
The two patches are better to merge but it looks that the issue is not fixed yet.

I saw this error again in the end of the long patch series,
https://review.gerrithub.io/c/spdk/spdk/+/472523/4
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48350.html

So please keep open this issue for now.

Sorry for inconvenience.

[2019-10-31 08:47] Comphix commented on #1003
Raised a patch https://review.gerrithub.io/c/spdk/spdk/+/472916 to force the NULL set in the io init operation. This key field is also used in the io free operation. Still not very sure about the cause.

[2019-10-31 08:59] Comphix commented on #999
@cighao , when you are saying "But if the thread is 1, fio and nvme_perf have a similar latency.", here "thread is 1" means for the FIO, only 1 job is configured? Or numjobs=1 ?

[2019-10-31 09:02] yidong0635 commented on #1003
@Comphix  thanks for your efforts, I will check that.

[2019-10-31 09:25] shuhei-matsumoto commented on #1018
@jimharris @tomzawadzki and all,

The above log didn't have any unexpected event.
As long as I read iscsi_pdu_payload_op_scsI() and iscsi_pdu_payload_op_data() again, I think we should not free task simply but abort the corresponding scsi task using correct APIs.
So I updated the patch. The patch series is 20 patches, and so it may be good test.
I will continue investigation tomorrow.

[2019-10-31 14:01] shuhei-matsumoto commented on #1018
Hi @jimharris @tomzawadzki I didn’t reproduce this issue for about 25 times runs after updating the patch. But I saw an new issue https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/48395/archive/RBD_autotest/build.log
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48395.html

This may be similar with old closed issues but I need time to investigate. I will

[2019-10-31 15:06] #1013 closed

[2019-10-31 15:06] #1015 closed

[2019-10-31 15:22] spdkci commented on #1007
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48262.html

[2019-10-31 15:31] spdkci commented on #1007
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48284.html

[2019-10-31 16:22] shuhei-matsumoto commented on #1018
The new issue (I don’t open yet) looks related with logout processing.
I added the code to move the connection exiting without waiting for timer might be wrong

[2019-10-31 17:17] tomzawadzki opened #1019 "VPP autotest loses ssh connection in rpc_config.py"
This is intermittent failure on VPP job. When executing rpc_config.py test, the machine stops responding over VPP.
It is possible that this is general connectivity issue, or more likely the test themselves interact with network interface (Machine <-> Jenkins) that is not part of tests.

## Expected Behavior
Logs should be copied and available on AWS results.

## Current Behavior
When executing rpc

[2019-10-31 17:43] mhae opened #1020 "Deadlock in bdev remove during stress test?"
## Expected Behavior
I was hoping to get some help on further debugging an issue I'm seeing when stress testing a bedev removal. I'm not entirely sure that this is a SPDK issue, it may very well be something I'm doing. But maybe someone could provide some additional pointers what to look for.

I'm stress testing the following flow from 4 threads. Each thread runs a loop that does:
- Create a NVMF

[2019-10-31 17:46] Seth5141 opened #1021 "FIO Plugin (bdev) with remote NVMe drives fails to finish with a large number of jobs"
## Expected Behavior
Even when run with a large number of jobs against a lot of bdevs, the SPDK FIO plugin should be able to complete properly.

## Current Behavior
When running a heavy workload using the SPDK bdev fio plugin to remote NVMe drives using the TCP NVMe-oF initiator as a backend, the fio job will hang indefinitely with 1 or two jobs outstanding.
From some of the debugging I have done,

[2019-10-31 17:47] #995 closed

[2019-10-31 19:00] spdkci commented on #990
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48431.html

[2019-10-31 19:01] spdkci commented on #990
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48430.html

[2019-10-31 19:05] #935 closed

[2019-10-31 20:24] tomzawadzki opened #1022 "Jenkins ssh drop at beginning of the job"
The issue shows no logs on AWS, meanwhile on Jenkins build log there seems to be not even single operation done before ssh drops.

## Expected Behavior
Result reported, logs available.

## Current Behavior
Failure before executing any part of autotest and no artifacts on AWS.
[code]

## Possible Solution

## Steps to Reproduce

## Context (Environment including OS version, SPDK version, etc.)
http

[2019-10-31 20:33] Seth5141 commented on #1009
After taking a look at the logs, I don't believe that the issue is related to the fact that /dev/cepph already exists. For reference, here is the successful log vs. the failed log.
Successful:
[code]

failed:
[code]

So the difference doesn't come until after the call to parted. The failure comes because partition 1 is still in use. From the logs, we know that /dev/loop200p2 is partition 1 (/dev/l

[2019-10-31 20:35] Seth5141 commented on #1022
Possible duplicate of #1007. I don't know how granular we want to be about tracking these Jenkins network connection errors.

[2019-10-31 20:39] jimharris commented on #1022
I think we can close this one.  I'm thinking we track all of them as one issue, and let someone more familiar with Jenkins look at the reports on #1007 and create separate issues if warranted.

[2019-10-31 20:58] tomzawadzki commented on #1022
Duplicate of #1007

[2019-10-31 20:58] #1022 closed

[2019-10-31 21:01] tomzawadzki commented on #1007
Another possibly related instance - timeout during build with no logs for long period of time.
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48467.html

[2019-10-31 22:13] spdkci commented on #1018
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48470.html

[2019-10-31 22:56] shuhei-matsumoto commented on #1018
The issue I saw yesterday is still related with LUN hotplug. Difference is that the new one is null pointer access. I keep this patch open and continue investigation.

conn.c:1161:22: runtime error: member access within null pointer of type 'struct spdk_iscsi_pdu'
    #0 0x6bcfd0 in iscsi_get_pdu_length /var/jenkins/workspace/RBD_BlobFS_tests/RBD_autotest/spdk/lib/iscsi/conn.c:1161
    #1 0x6bdfce

[2019-11-01 00:24] shuhei-matsumoto commented on #1018
I'm investigating the issue I got yesterday for LUN hotplug tests.

In iscsi_conn_flush_pdus_internal(), there are two PDUs are in conn->write_pdu_list.
From the two PDUs, three iovec are created.
           {iov_base = 0x200012395fb8, iov_len = 26632},
           {iov_base = 0x200014a35680, iov_len = 48},
           {iov_base = 0x2000121ba8c0, iov_len = 65536},
       iovcnt = 3
       total_leng

[2019-11-01 00:31] shuhei-matsumoto opened #1023 "iSCSI target: Null pointer access during flushing PDUs"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

We saw the following NULL pointer access by per-patch test.

[code]

 https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/48395/archive/RBD_autotest/build.log
https://dqtibwqq6s6ux.cloudfront.net/public_build/aut

[2019-11-01 00:32] shuhei-matsumoto commented on #1018
I moved this to the newly opened issue https://github.com/spdk/spdk/issues/1023.
We will be able to close this issue if we don't see for a while from now.

[2019-11-01 00:54] shuhei-matsumoto commented on #1023
Copy from https://github.com/spdk/spdk/issues/1018

I'm investigating the issue I got yesterday for LUN hotplug tests.

In iscsi_conn_flush_pdus_internal(), there are two PDUs are in conn->write_pdu_list.
From the two PDUs, three iovec are created.
{iov_base = 0x200012395fb8, iov_len = 26632},
{iov_base = 0x200014a35680, iov_len = 48},
{iov_base = 0x2000121ba8c0, iov_len = 65536},
iovcnt = 3
total

[2019-11-01 01:14] shuhei-matsumoto commented on #1023
My code inspection was wrong. being flushed PDU remembers its owner task, but the owner task doesn't know the being flushed PDU. So what I thought is not possible.

[2019-11-01 01:53] yidong0635 commented on #1003
@Comphix  I apply your patch and use vagrant to run test. It seems this fix is good. remove your fix, bug appears.
[code]

[2019-11-01 02:18] yidong0635 commented on #1010
@jimharris @optimistyzy @liang2yan thanks , will close this issue after it be merged.

[2019-11-01 03:00] optimistyzy commented on #1023
@shuhei-matsumoto This patch: https://review.gerrithub.io/c/spdk/spdk/+/472999 may not solve this issue, but it can avoid lots of potential issue later.

[2019-11-01 03:18] shuhei-matsumoto commented on #1023
@ZiyeYang I think this patch will be the right fix. I should have lib/nvmf/tcp.c more because you implemented this clever idea from the start :-) It's nice if I can rebase my patches on top of this patch and can see the result.

[2019-11-01 04:31] yidong0635 opened #1024 "Intermittent error ./test/iscsi_tgt/filesystem/filesystem.sh"
# issue Link
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/48520/archive/iscsi_autotest/build.log
hits at  ./test/iscsi_tgt/filesystem/filesystem.sh
 06:22:16	# local i=0
 06:22:16	# '[' '!' -e /dev/sdc1 ']'
 06:22:16	# '[' '!' -e /dev/sdc1 ']'
 06:22:16	# return 0
 06:22:16	# mount -o rw /dev/sdc1 /mnt/device
 06:22:16	# '[' -f /mnt/device/aaa ']'
 06:22:16	# echo 'File e

[2019-11-01 05:35] shuhei-matsumoto commented on #1003
Another failure https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/48530/archive/ubuntu18_autotest/failed_test.log

[2019-11-01 05:48] shuhei-matsumoto opened #1025 "Intermittent failure in OCF test"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/48532/archive/nvme_phy_autotest/failed_test.log

https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48532.html

[code]

[2019-11-01 05:55] shuhei-matsumoto commented on #958
I added a patch to fix this. https://review.gerrithub.io/c/spdk/spdk/+/473000

[2019-11-01 06:11] Comphix commented on #999
@cighao , for performance testing purpose, it is recommended to use spdk nvme_perf which is designed efficiently and use also best use of multiple cores and multiple threads.

[2019-11-01 06:27] yidong0635 commented on #852
@changpe1  we use scripts to realize the auto testing of this issue. With the new code recovery mechanism from Seth,  we decide to close this issue , and submit a new issue.

[2019-11-01 06:37] shuhei-matsumoto commented on #1024
Hi @yidong0635 Thank you for filing this issue. I posted a patch to fix this issue https://review.gerrithub.io/c/spdk/spdk/+/473002.

[2019-11-01 06:47] shuhei-matsumoto commented on #1003
Another failure https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/48541/archive/ubuntu18_autotest/build.log

[2019-11-01 06:55] yidong0635 commented on #994
@glodfish-zg  , sorry for trouble, please go on your checking , I just had a quick check about this issue before, in order to evoke the owner can response this issue. And the quick solution or workaround is to add judgement (device !=NULL) before or at above function, I don't have deep thinking about this issue.

[2019-11-01 07:40] yidong0635 commented on #1003
execute ./test/bdev/blockdev.sh independently  may cause some other error.
but put it in the whole test environment , it will hit  example/bdev/fio_plugin/fio_plugin  every time.
so it's easy to verify this issue.

[2019-11-01 08:13] shuhei-matsumoto commented on #958
Umm, fixing this is more difficult than I expected. Please stay tune, I will try to refine the patch.

[2019-11-01 08:44] yidong0635 opened #1026 "Intermittent failure :test/nvmf/host/target_disconnect.sh"
# Issue
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/48559/archive/nvmf_autotest/build.log
trsvcid:4420'
Starting SPDK v19.10-pre / DPDK 19.08.0 initialization...
[ DPDK EAL parameters: reconnect --no-shconf -c 0xF --log-level=lib.eal:6 --log-level=lib.cryptodev:5 --log-level=user1:6 --base-virtaddr=0x200000000000 --match-allocations --file-prefix=spdk_pid847561 ]
EAL: No

[2019-11-01 09:02] yidong0635 commented on #1016
waiting for +1.

[2019-11-01 10:03] shuhei-matsumoto commented on #1018
Still occurs
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/48564/archive/iscsi_autotest/failed_test.log

[2019-11-01 13:37] cighao opened #1027 "SPDK latency is higher than Linux direct IO when using multiple thread"
When using `nvme_perf` to test my Samsung NVMe SSD, I got 9.7 us latency with one thread and 39us latency with 8 thread (by setting `-c ff`). But the latency of 8 threads (39us) is much bigger than the Linux direct io latency (29us,  by FIO with `numjobs=8`). Why does spdk perform worse than Linux direct io?

![image](https://user-images.githubusercontent.com/10767282/68028190-47827680-fcc5-11e9-8

[2019-11-01 13:46] cighao commented on #999
@Comphix Thanks.
To compare the SPDK latency with Linux direct IO latency, I use `nvme_perf` to test SPDK and FIO to test Linux direct IO. With parameters `-c = ff` in `nvme_perf` (using 8 threads), I got the 39us latency, which is bigger than the latency of Linux direct IO (set `numjobs=8` in FIO).  But if only use one thread, SPDK latency is smaller than that of Linux direct IO.
I create another

[2019-11-01 14:36] spdkci commented on #1007
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48457.html

[2019-11-01 15:29] jimharris commented on #1026
Hi @yidong0635 - thanks for the intermittent failure report!  Try to remember to also add the "Intermittent Failure" label - it makes it easier for others to find this issue in case it happens again.

[2019-11-01 15:59] jimharris commented on #1024
Hi @shuhei-matsumoto - I think the failure originally stems from this part of the log:

06:22:16	# mkfs.xfs -f /dev/sdc1
mkfs.xfs: cannot open /dev/sdc1: Device or resource busy
06:22:16	# trap - ERR

This triggers the trap which calls remove_backends and deletes the lvol which causes the problem you're seeing.

So first, I think your patch is correct.  We should merge it.  But I see at least two

[2019-11-01 16:39] Seth5141 commented on #1026
@yidong0635 Thanks for the report. This looks like a duplicate of #1005  That one was fixed with the following patch https://review.gerrithub.io/c/spdk/spdk/+/472960. I was looking at the change related to this log https://review.gerrithub.io/c/472916/2 and it looks like it's based on an older version of master. Once you rebase, the failure should go away.

[2019-11-01 16:50] jimharris commented on #1026
I agree with Seth's assessment.

[2019-11-01 16:50] #1026 closed

[2019-11-01 17:33] spdkci commented on #990
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48577.html

[2019-11-01 17:49] jimharris commented on #997
https://review.gerrithub.io/c/spdk/spdk/+/473049

[2019-11-01 19:31] jimharris commented on #797
https://review.gerrithub.io/c/spdk/spdk/+/473054

[2019-11-01 21:47] Seth5141 commented on #450
After wrestling with the configuration a little this afternoon, I can verify that this is still an issue on master. From where I'm at right now, the change seems pretty small. I will take a crack at fixing it this afternoon and hopefully have a patch up for testing.

[2019-11-04 00:53] #1010 closed

[2019-11-04 01:14] shuhei-matsumoto commented on #1024
Thank you @jimharris for #1 I submitted a patch to fix ordering first. https://review.gerrithub.io/c/spdk/spdk/+/473156
For #2 LVOL hotplug + iSCSI target test is nice to have but I feel it will be better to fix the current hotplug issue first.
For #3, I will investigate this too.

[2019-11-04 01:16] shuhei-matsumoto commented on #1018
I found a potential issue for LUN hotplug and submitted a patch https://review.gerrithub.io/c/spdk/spdk/+/473155.
But the issue described in the patch has not been confirmed CI test pool yet, and so I added ERRLOG when seeing it before fixing.

[2019-11-04 01:38] optimistyzy commented on #1009
@Seth5141 @jimharris @shuhei-matsumoto  I will close this issue since my patch is merged. Let's see whether the same issue will happen again. If that, we can re-open this issue.

[2019-11-04 01:38] #1009 closed

[2019-11-04 01:46] glodfish-zg commented on #825
closed. As patch has been merged. Please reopen it if you find this issue again.

[2019-11-04 01:46] #825 closed

[2019-11-04 02:04] wanqunintel commented on #1021
I see the same issue for NVME plugin for heavy workload

[2019-11-04 04:33] optimistyzy commented on #1027
@cighao Can you use the spdk_nvme_perf to test the nvme device with AIO model directly? This could be much fair since it tested with the same tool.

[2019-11-04 06:10] cighao commented on #1027
@optimistyzy I set `-D HAVE_AIO=true` in Makefile,  and get similar results.

[2019-11-04 06:23] glodfish-zg commented on #994
I just checked the log again. I thought the root cause is that we want to detach the device in the intr thread but intr thread's design did not suit for that.
before the error logs we can find this:
EAL: fail to unregister req notifier handler.
EAL: fail to disable req notifier.
When we detach the device in the intr thread, we fail to disable req notifier but we still free the device successfully

[2019-11-04 06:49] shadowhzx commented on #852
when running the nvme filesystem with two initiator , this issue is reproducible

[2019-11-04 07:35] glodfish-zg commented on #994
https://review.gerrithub.io/c/spdk/spdk/+/473176

[2019-11-04 08:21] glodfish-zg commented on #998
@wanghailiangx  can you post more messages about the heap-use-after-free?  I think the "fio io_u error" is the normal phenomenon.
"vhost_blk.c: 594:bdev_remove_cb: *WARNING*: naa.Nvme0n1_blk0.0: hot-removing bdev - all further requests will fail."

[2019-11-04 08:44] wanqunintel commented on #1021
I am trying also with a 2nd fio job on another machine and it turns out that it will trigger the 1st fio job to start to run, but with very low IOPS result. when the 2nd job stops normally, if the 1st fio job not 100% complete, then it will hang again without any IO, if completed, it will reach a high IOPS.

[2019-11-04 12:21] spdkci commented on #1007
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48698.html

[2019-11-04 12:25] pawelkax commented on #1007
No logs generated for autotest_per_patch_48698. The problem could be the test that caused machine freeze.

[2019-11-04 14:06] Maciej-Szwed opened #1028 "Intermittent RBD tests failure - Operation not permitted"
RBD test fails with:

librados: client.admin authentication error (1) Operation not permitted

last failed test log:

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/48682/archive/RBD_autotest/failed_test.log

[2019-11-04 17:19] Seth5141 commented on #450
There is a change out here: https://review.gerrithub.io/c/spdk/spdk/+/473063. I have verified that it fixes the reconnect problem after a hard reboot. However the solution in that change isn't very elegant or flushed out yet. I think there are a few issues that I have with trying to solve this resonnect inside the RDMA transport:
1. We just implemented the rest of the reconnect logic to take place

[2019-11-04 19:41] jimharris opened #1029 "nvme: failed connection to discovery ctrlr results in segfault"
lib/nvme/nvme_fabric.c - nvme_fabric_ctrlr_scan() - commit a1ce725c0a

It tries to set state on the discovery_ctrlr->adminq before checking if the discovery_ctrlr is !NULL.

Patch will be up shortly. This needs to go into a 19.10.1.

[2019-11-04 19:42] jimharris commented on #1029
https://review.gerrithub.io/c/spdk/spdk/+/473237

[2019-11-04 20:06] spdkci commented on #1007
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48735.html

[2019-11-04 20:06] spdkci commented on #990
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48734.html

[2019-11-04 22:16] spdkci commented on #1007
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48750.html

[2019-11-04 23:32] Seth5141 commented on #450
Updated patch set is here https://review.gerrithub.io/c/spdk/spdk/+/473063/4 I moved the internal reconnects to the create_qpair function. I think we will need to do the reconnect attempts internally because there is no way to inform the application during a probe sequence that their ctrlr couldn't be created because of a stale connection error code while connecting the admin qpair.

@jonathanrich

[2019-11-05 01:12] yidong0635 commented on #1028
@Maciej-Szwed  I'm sorry to say that this is still the old log. Please rebase from master. And confirm
+ sh -c 'ulimit -c unlimited && exec ceph-mon --mkfs -c /var/tmp/ceph/ceph.conf -i a --monmap=/var/tmp/ceph/monmap --keyring=/var/tmp/ceph/keyring --mon-data=/var/tmp/ceph/mon.a/'
[code]
+ chmod a+r /etc/ceph/ceph.client.admin.keyring
`
[code]

[2019-11-05 01:15] yidong0635 commented on #1026
@jimharris  and @Seth5141  , sorry for not response  ,I don't have the rights to add label .

[2019-11-05 05:40] shuhei-matsumoto commented on #1018
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/48777/archive/iscsi_autotest/build.log

[2019-11-05 07:29] spdkci commented on #990
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48782.html

[2019-11-05 07:34] spdkci commented on #1029
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48732.html

[2019-11-05 07:59] spdkci commented on #987
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48805.html

[2019-11-05 08:07] karlatec commented on #1007
Reported failures which are not related to this github issue in my opinion, probably should not be reported here:

- https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48750.html (Timeout during VPP tests; logs present, no infrastructure errors)
- https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48284.html (NVMF tests fail; log file present and with a coredump

[2019-11-05 08:07] spdkci commented on #987
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48810.html

[2019-11-05 08:11] shuhei-matsumoto opened #1030 "(iscsi hotplug) PDU refcount goes to negative during iSCSI target + VPP tests"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

 10:52:13	# /var/jenkins/workspace/iSCSI_tests/vpp_autotest/spdk/scripts/rpc.py bdev_raid_delete raid0
iscsi_subsystem.c: 300:spdk_put_pdu: *ERROR*: Negative PDU refcount: 0x200014a3bf80
iscsi_subsystem.c: 300:spdk_put_pdu: *ERROR*

[2019-11-05 08:11] spdkci commented on #1030
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48811.html

[2019-11-05 08:50] spdkci commented on #1018
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48813.html

[2019-11-05 09:02] Comphix opened #1031 "SPDK Nightly Testing Fails due to unable to find dpdk-2019_11_04.tar"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Looks like our recent nightly testing all fails with same reason. Looking at below example:

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-nightly/builds/851/archive/RBD_autotest_nightly/build.log

13:26:20	$ ocf_tarball=oc

[2019-11-05 09:15] spdkci commented on #990
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48822.html

[2019-11-05 09:53] tkulasek opened #1032 "Unregistering CUSE device interrupts spdk_tgt with SIGHUP"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

When NVMe CUSE device is unregistered:
1. CUSE pthread associated with controller should stop polling CUSE device and terminate
2. CUSE devices should be removed from system

## Current Behavior

When CUSE dev

[2019-11-05 09:57] tkulasek commented on #1032
Patch to use lowlevel fuse API to implement fuse_session_loop() without sending signals to the CUSE thread: https://review.gerrithub.io/c/spdk/spdk/+/473233

[2019-11-05 10:48] tomzawadzki commented on #1031
Hi @Comphix, this is result of patch that was merged recently. I've submitted a revert for it, since it seemed like best course of actions. Please see following patch for more in-depth explanation:
https://review.gerrithub.io/c/spdk/spdk/+/473220

[2019-11-05 10:59] spdkci commented on #1028
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48828.html

[2019-11-05 11:08] spdkci commented on #1030
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48830.html

[2019-11-05 11:18] spdkci commented on #1007
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48829.html

[2019-11-05 11:29] spdkci commented on #1028
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48826.html

[2019-11-05 12:06] spdkci commented on #839
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48842.html

[2019-11-05 12:24] Donaim commented on #993
This is expected behaviour as for now because vhost cannot manage multiple management operations for particular bdev. In this case those events most likely were hotremove and regular delete_controller RPC, as result of doing [delete_nvme](https://review.gerrithub.io/c/spdk/spdk/+/464450/11/test/vhost/hotplug/virtio_hotremove.sh#24) followed by [$rpc_py remove_vhost_controller](https://review.gerri

[2019-11-05 12:30] tkulasek opened #1033 "CUSE device doesn't unregister after NVMe detach"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

After NVMe bdev detach CUSE device should be destroyed even without bdev_nvme_cuse_unregister RPC call.

## Current Behavior

CUSE device is NOT stopped on NVMe detach.

## Possible Solution

## Steps to Repro

[2019-11-05 12:55] Donaim commented on #998
@glodfish-zg isn't the "heap-use-after-free" the same as in #994 ?
We should focus on assert fail here, which I can comfirm is reproducible (on my machine with steps as @wanghailiangx described)

[2019-11-05 13:12] spdkci commented on #990
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48847.html

[2019-11-05 14:47] jimharris commented on #1007
@karlatec - for timeout during VPP tests, the test randomly timed out near the end of the test.  I debated whether this was a CI issue or not.  We have seen cases where some VMs randomly timeout, or show huge gaps in time during the test run.  Perhaps we should create a separate issue for this specific issue (timeouts that aren't related to the patch under test) but for now I decided to put it her

[2019-11-05 14:52] Seth5141 commented on #1029
Thanks for the report @wawryk. It looks like this is another example of #1005. If you rebase, you won't hit it.

[2019-11-05 15:12] tomzawadzki commented on #1003
@yidong0635 There is a way to hit this issue every time from your research ? Is it possible to upload test  to Gerrit reproducing it ?

[2019-11-05 15:22] tomzawadzki commented on #1002
Bug scrub: @karlatec Tested the patch, but it didn't seem to solve the issue. @karlatec Can you please update here (and linked patch) with details?

[2019-11-05 15:32] tomzawadzki commented on #1014
Bug scrub: @optimistyzy The linked log is for a patch before the fix by @Seth5141 was merged.
The fix itself was merged, if anyone notices it occurring on master please reopen.

[2019-11-05 15:32] #1014 closed

[2019-11-05 15:36] tomzawadzki commented on #998
Bug scrub: after patch for #994 (https://review.gerrithub.io/c/spdk/spdk/+/473176) is merged, lets try to reproduce this issue again.

[2019-11-05 15:39] tomzawadzki commented on #980
Bug scrub: @yidong0635 as per @wawryk report it still seems to reproduce. Have you been able to take a look at it ?

[2019-11-05 16:01] spdkci commented on #1003
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48751.html

[2019-11-05 16:12] jimharris commented on #1002
Removing "Intermittent Failure" label from this patch for now, since Opal tests have been removed from the test pool.  It also seems this issue can be easily reproduced outside of the test pool.

[2019-11-05 16:18] jimharris opened #1034 "vpp: iscsi_tgt intermittently segfaults when starting qos.sh test"
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/48738/archive/vpp_autotest/build.log

The backtrace doesn't show anything useful.

[2019-11-05 16:18] spdkci commented on #1034
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48738.html

[2019-11-05 21:42] pawelkax commented on #994
@glodfish-zg Tested with fio-3.13
Got error:
fio: pid=30522, err=5/file:io_u.c:1785, func=io_u error, error=Input/output error
=================================================================
==30514==ERROR: AddressSanitizer: heap-use-after-free on address 0x61000000ff80 at pc 0x7f4316ab8e20 bp 0x7f42df3e6e80 sp 0x7f42df3e6e70
READ of size 8 at 0x61000000ff80 thread T4
    #0 0x7f4316ab8e1f in sp

[2019-11-06 02:46] yidong0635 commented on #1003
@tomzawadzki
need to change switch：
function test need to turn on these as below , and turn off other switch to reduce time, then test will go to test blockdev directly：
SPDK_TEST_BLOCKDEV=1
SPDK_RUN_ASAN=1
SPDK_RUN_UBSAN=1

I'm not sure CI can pass My vagrant scripts, it need environment to setup.

[2019-11-06 02:50] Comphix commented on #1027
@cighao , please refer to https://mp.weixin.qq.com/s?__biz=MzI3NDA4ODY4MA==&mid=2653334990&idx=1&sn=2b8cc25a6271e96ad0499fa805d34404&chksm=f0cb5a49c7bcd35f0f52da024484769b75be2aefc96de5f8b4ec0266c60fe8c0a8c175331c4f&token=431082989&lang=zh_CN#rd document where we have described SPDK perf tool

And also refer below command to test AIO in the nvme_perf tool for a fair comparison.

perf -q 32 -s 1024

[2019-11-06 02:53] Comphix commented on #999
Thanks for raising another issue. By the way, if there is no question for this issue, I will close this one soon. Thanks, Gang

[2019-11-06 02:59] yidong0635 commented on #1028
log 1 and 3 are the same.
log 2 doesn't related to title of this issue.(conn.c:1172:22: runtime error: member access within null pointer of type 'struct spdk_iscsi_pdu')

[2019-11-06 07:51] spdkci commented on #1028
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48724.html

[2019-11-06 07:52] spdkci commented on #1028
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48729.html

[2019-11-06 08:05] karlatec commented on #1002
So I manually tested this patch yesterday and funny stuff was happening. It's not "AUTHORITY LOCKED OUT" error anymore, but still errors. Could be related.

Here are the steps which I did. OS is F29 5.1.11-200.fc29.x86_64.
Used commit:
[code]
Too bad it wasn't rebased.

Steps:
1. Compile SPDK with ./configure --enable-debug

2. Run app/spdk_tgt/spdk_tgt and attach NVMe
[code]

3. Init OPAL on NVMe

[2019-11-06 08:13] Maciej-Szwed commented on #1028
@yidong0635 thanks for suggestion - I'll rebase my patches.

[2019-11-06 08:21] jessehui commented on #1002
Hi Karol, it is a patch series. Sorry to mention, please use the top commit and test again. For example, at this moment, it is `https://review.gerrithub.io/c/spdk/spdk/+/473383/1` .Thank you.

[2019-11-06 08:44] jessehui commented on #1002
This also may not happen if you could just wait until the revert process is done.

As we are using Optane P4800X as the Opal test drive which is using old version hardware and firmware and make it very slow to revert. If you force killing the process, opal command only succeed sending nvme security send and not nvme security receive which will cause admin command sequence error next time when anot

[2019-11-06 09:04] karlatec commented on #1002
Does it show up when executing RPC commands? I am searching through the bash log as I still have the output in my session window and I don't see any message like that.
Also - revert rpc was really quick. If it's a long process, shouldn't we block & wait for the revert to complete and then finish the rpc response?

[2019-11-06 09:07] jessehui commented on #1002
However, using that single commit can still fix this in my environment. Please use the latest commit and rebase.

After you send an Opal revert command, if you continue sending init/revert command, on target side, you will always get:
[code]

And on client side:
[code]
[code]
It will always be like this until the revert is done.
I believe the weird or funny stuff you mention is due to you kill the

[2019-11-06 09:10] pawelkax opened #1035 "Intermittent failure: aio_bdev0 not found in bdev_lvol_get_lvstores"
Error when creating lvol store:
INFO: RPC COMMAND bdev_lvol_get_lvstores
FAILED: UUID: lvol store request:
{
  "method": "bdev_lvol_create_lvstore",
  "req_id": 1,
  "bdev_name": "aio_bdev0",
  "lvs_name": "lvs_test_1M",
  "cluster_sz": 1048576
}
Got JSON-RPC error response
response:
{
  "code": 19,
  "message": "Unknown error -19"
} on base_bdev: aio_bdev0 not found in bdev_lvol_get_lvstores()

L

[2019-11-06 09:11] spdkci commented on #1035
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48911.html

[2019-11-06 09:14] jessehui commented on #1002
It is not shown because I want to make it work even if you kill the process before the revert is done. And that's the reason I ask you to use the patch series not just this single commit. Please take a look on https://review.gerrithub.io/c/spdk/spdk/+/472591/5. Thank you.

We don't block and wait because the revert process can be very long and the rpc can get timeout. That's the reason we make it

[2019-11-06 09:51] karlatec commented on #1002
So if that's by design then the problem is in documentation. From what I see nvme_manage.c is the only place that mentions not to interrupt the revert process, and I don't see anything in documentation (or in rpc.py help) with a warning that revert takes place in the  background and can take a long time. So from the user perspective - I am totally unaware of that.

Next thing is the unexpected reb

[2019-11-06 10:06] spdkci commented on #839
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48922.html

[2019-11-06 10:30] yidong0635 commented on #980
found somthing，before osd creation，ceph -s should be OK，but now it’s not. This may be the scripts compliance problem.

[2019-11-06 10:43] shuhei-matsumoto opened #1036 "(iscsi hotplug) task->pdu is NULL at spdk_iscsi_task_cpl in iSCSI target"
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/48924/archive/iscsi_autotest/failed_test.log

This error may show my patch series on gerrithub have bugs but I add for now

[2019-11-06 12:28] spdkci commented on #987
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48933.html

[2019-11-06 12:46] karlatec commented on #1002
If the idea is not to interrupt the process while the revert is in progress then it doesn't really fit to our CI flow. We kill the processes and exit on first encountered error, and reboot almost immediately. I am afraid that this would have the same results on the disks as my manual steps.
**This is rather serious as local nsg folks are unable to bring back affected nvmes back to life.**

[2019-11-06 12:52] spdkci commented on #839
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48935.html

[2019-11-06 13:02] spdkci commented on #839
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48937.html

[2019-11-06 14:40] wawryk opened #1037 "Unittest fail"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

unittest_autotests should pass

## Current Behavior

test fail:

[code]
## Possible Solution

## Steps to Reproduce

1. Run unittest_autotest on Fedora29

## Context (Environment including OS version, SPDK ver

[2019-11-06 14:48] jimharris commented on #1036
Hi Shuhei,

This appears due to iSCSI hot plug.  Should we track it in #1018 instead?  It's not clear to me yet that all of this intermittent iSCSI hot plug failures aren't due to the same underlying issue.

-Jim

[2019-11-06 14:52] jimharris commented on #1002
The opal bdev definitely needs to be more robust before we can re-enable these CI tests.  CI will sometimes kill tests while they are running - that cannot render an SSD unusable.

@jessehui - please run tests on your local system similar to what @karlatec described above.  If there are specific P4800X FW revisions needed, let's make sure we also have those in the test pool.

[2019-11-06 15:05] jimharris commented on #1028
I'm closing this issue since we're fairly certain it's been fixed, and was only hit again because the failed patches weren't rebased on top of those fixes.

[2019-11-06 15:05] #1028 closed

[2019-11-06 15:17] ksztyber commented on #1037
I think one of the already merged patches should have fixed this. Could you check if it's still reproducible on af4e2a32778b44237520feb1a15bbf39a61562cf?

[2019-11-06 15:20] jimharris commented on #940
Patch merged.

[2019-11-06 15:20] #940 closed

[2019-11-06 15:20] jimharris commented on #811
Patch merged.  Thanks @mhae for the report!

[2019-11-06 15:21] jimharris commented on #997
Patch merged.  Thanks @tinnfu for the report!

[2019-11-06 15:21] #997 closed

[2019-11-06 15:21] jimharris commented on #797
Patch merged.  Thanks @mmkayPL for the report!

[2019-11-06 15:21] #797 closed

[2019-11-06 15:43] changpe1 commented on #1008
Hi @wmalikow for a short summary based on above conversation:
1.  we need add device to "PCI_WHITELIST" for the first step before running setup.sh
2.  we can only bind the VMD device to uio_generic_pci driver.
3.  we need to set "enable_vmd=1" in the fio configuration file.

Any other steps are required? If not I can add this to the fio README, more customers are asking for the test, it would be n

[2019-11-06 19:46] jimharris opened #1038 "vhost: recvmsg failed message when disconnecting vhost-user client"
Start SPDK target:
app/spdk_tgt/spdk_tgt

Configure vhost controller:
scripts/rpc.py bdev_malloc_create 128 512 --name malloc0
scripts/rpc.py vhost_create_blk_controller vhost0 malloc0

Start bdevperf (and wait for RPCs with -z option):
test/bdev/bdevperf/bdevperf -q 1 -o 4096 -w randread -t 1 --single-file-segments -m 0x10 -z -r /var/tmp/bdevperf.sock

Configure and start bdevperf test:
scripts/r

[2019-11-06 20:43] dong-liuliu commented on #314
hi @benlwalker
which kernel are you using? I tried example/nvme/identify with kernel 4.15 and DPDK 19.05.
But it failed on read /proc/self/pagemap, as DPDK documented.

[2019-11-06 21:53] pentyala commented on #996
Configuration issue. Sorry for the trouble.

[2019-11-06 21:53] #996 closed

[2019-11-06 22:02] shuhei-matsumoto commented on #1036
Hi @jimharris

Why I add this as a separate issue was that I found two bugs and a no-bug but should be fixed after seeing this issue. I added this from my iphone last night and so made you confused. Sorry for that.

I found that we had not expected that any secondary read I/O gets completion before primary read I/O gets completion for large read I/O split case. I'm not sure the bug is related with

[2019-11-06 22:05] spdkci commented on #839
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49028.html

[2019-11-06 22:06] spdkci commented on #990
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49026.html