[2020-03-12 14:11] #1244 closed

[2020-03-12 14:15] mhae commented on #1273
@jimharris yes, this is it:
[code]

The nvme_ctrlr_reset is called after the controller was already detached.

[2020-03-12 14:57] peluse commented on #1208
This should do the trick (famous last words) https://review.spdk.io/gerrit/c/spdk/spdk/+/1250

[2020-03-12 15:09] jimharris commented on #1158
+1

[2020-03-12 15:09] dacrespi commented on #1274
Hi, and thanks for the email.
I’ve seen the link you’ve send a number of times, it’s really not complete for what I’m doing.
The docker command you’ve shared is nearly identical to mine, with mine being just a bit more
open.  Have you tried using the secondary process successfully with containers?

Regards,
      David

From: Xiaodong Liu<mailto:notifications@github.com>
Sent: Thursday, March 12,

[2020-03-12 15:16] dacrespi commented on #1274
@dong-liuliu just wondering how you do the setup of yours, with regards to the setup.sh command.  Are you doing it prior to starting the container or in the container?

[2020-03-12 15:20] peluse commented on #1274
@dong-liuliu I'm sure you've seen this but just in case https://spdk.io/doc/containers.html

We've done very little work with containers but I tried both ways and they both worked, I'm not sure if it matters at some other level though.

[2020-03-12 15:26] dacrespi commented on #1274
I wouldn't think it would matter either, but I did have to open my volume to /dev rather than /dev/hugepages.

[2020-03-12 15:33] dacrespi commented on #1274
I don't know if it matters, but just thinking about what dong-liuliu said, he added two drives to the target.  I have 17 of 32 drives added to this target, and it's set up with 43 subsystems.  It could, perhaps, be something with size?  I'm going to down size it and see if it makes any difference.

[2020-03-12 15:34] peluse commented on #1274
@dacrespi that's interesting, did you get some sort of en error with -v /dev/hugepages? That might be a clue,.  @dong-liuliu are you saying that you reproduced and didn't have an issue?

[2020-03-12 15:40] dacrespi commented on #1274
well, it's been almost a year ago I did all that, but my memory was that without mapping /dev, the setup.sh could find the pci drives to move them... all the drives are in /dev.  If you think it's important, I can go back and change the volume mapping and retry.

[2020-03-12 16:15] jimharris commented on #1273
Well that certainly won't work.  :-)

Thanks for this bit of data - hope to have something more for you to try shortly.

[2020-03-12 16:20] dacrespi commented on #1274
well, I'm not sure what's going on that's different, but it all appears to be working this morning!??  Everything started new this morning, but kind of how each day starts.  I'm going to do a bit more experimenting to be sure, but if I can't determine what's different between today and all previous days, I'll go ahead and close this.

[2020-03-12 16:31] mhae commented on #1273
@jimharris, maybe we can use the destruct field and skip the reset? Here's a dump of the bdev ctrlr and (part of) nvme ctrlr
[code]

[2020-03-12 16:35] tkulasek commented on #1264
This patch should solve this problem: https://review.spdk.io/gerrit/c/spdk/spdk/+/1251

[2020-03-12 16:36] jimharris commented on #1273
Do you have the hotplug poller enabled in your configuration?  How about I/O timeouts?

Here's my suspicion:
1) you have hotplug enabled in the bdev nvme module
2) default hotplug poll period is 100ms
3) default adminq poll rate is 1000ms (10x the hotplug poll period)
4) this means that 1/10th of the time, after an SSD is hot removed, the adminq poller will run before the hotplug poller
5) when th

[2020-03-12 16:39] mhae commented on #1273
Yes, hotplug is enabled in the bdev module. I'll reduce the rate and report back.

[2020-03-12 16:43] jimharris commented on #1273
See RPC bdev_nvme_set_options - parameters timeout_us and action_on_timeout.

[2020-03-12 16:45] mhae commented on #1273
Ok. Didn't change these.

[2020-03-12 16:49] jimharris commented on #1273
Thanks.  I was mainly asking because that's another way to go through the reset path.  But since you've confirmed you have hotplug enabled, I'm almost certain that's the culprit.

[2020-03-12 16:56] dacrespi commented on #1274
I don't have an explanation why it's working this morning :(  The only think I can think of is that I rebuilt everything yesterday while debugging with Jim.  I copied over the identify command and was using that one after that... but it was still failing then.  The version that was given were the same however.  So I'll close this now, and revisit it if it's rears its ugly head again.  Sorry for th

[2020-03-12 17:04] mhae commented on #1273
Setting it to 10ms doesn't seem to increase the frequency. I didn't see the reset() being called. But the shorter interval has another side effect. After 4-5 tries, I'm getting into in infinite loop that spews these messages:
[code]

[2020-03-12 18:48] mhae commented on #1273
@jimharris, I've tried to change the order of unregistering the admin poller when the bdev is unregistered but still hitting the race condition where the reset is happening after the detach.

Here are my code changes:
[code]

Here are the corresponding log messages:
[code]

[2020-03-12 18:52] jimharris commented on #1273
If I'm understanding the failure sequence correctly, I don't think moving where the poller is unregistered will help here.  The adminq poller has already run (and failed) and kicked off the reset process.  Then the hotplug poller runs, we go through nvme_bdev_unregister_cb, and after that the reset operation calls spdk_nvme_ctrlr_reset().

Could you try the two patches ending here? https://review.

[2020-03-12 19:12] mhae commented on #1273
@jimharris , still getting a crash. It seems that the detach is no longer called.
[code]

[2020-03-12 19:31] jimharris commented on #1273
Can you get a capture in gdb?  I'm curious where specifically it crashed, and if we're still seeing qpair=0x0.

[2020-03-12 19:39] mhae commented on #1273
Here's the crash
[code]

[2020-03-12 19:48] jimharris commented on #1273
Hmmm - and you said spdk_nvme_detach() isn't getting called before the crash?

[2020-03-12 19:49] mhae commented on #1273
Yes, I don't see it anymore. I'm instrumenting the destruct code path that you added via the poller...

[2020-03-12 21:28] mhae commented on #1273
The changes in https://review.spdk.io/gerrit/c/spdk/spdk/+/1253 fix the issue.

[2020-03-12 21:46] mhae opened #1275 "NVMF: Multiple concurrent device removes get stuck in rte_eal_alarm_cancel"
Hot removing multiple devices at the same time causes the nvmf target app to get stuck in rte_eal_alarm_cancel. The rte_eal_alarm_cancel is unable to make any progress.

Note, the hot remove had other issues that were fixed with a patch that hasn't been merged yet (see #1273)

## Expected Behavior

Multiple device hot removes should not cause the app to become unresponsive.

## Current Behavior

A

[2020-03-12 22:07] jimharris commented on #1275
@tkulasek @mikeBashStuff Do we have equipment in your lab that you could use to try to reproduce this?

[2020-03-12 22:47] jimharris commented on #1275
Or @Comphix - do you have equipment in your lab?

[2020-03-13 00:41] yidong0635 commented on #1275
@jimharris  we will try to reproduce this issue.

[2020-03-13 01:03] Comphix commented on #1275
Thanks @yidong0635 , I will assign it to you first for the reproduction.

[2020-03-13 01:04] dong-liuliu commented on #1274
I reproduced by running spdk_tgt in container, and run identify in host, and there is no issue.

[2020-03-13 01:09] yidong0635 commented on #1275
maybe need to reproduce this multi-times:
first got coredump, then will continue to check if got  bugs  about rte_eal_alarm_cancel  .
Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib64/libthread_db.so.1".
Core was generated by `./app/nvmf_tgt/nvmf_tgt -c nvmf.conf.in'.
Program terminated with signal 11, Segmentation fault.
#0  nvme_transport_admin_qpair_abort_aers

[2020-03-13 01:20] jimharris commented on #1275
Can you first apply patches from #1273?  That should fix this issue you have shown.

[2020-03-13 01:21] yidong0635 commented on #1275
@jimharris  ok, I will do this.

[2020-03-13 01:26] mhae commented on #1275
@yidong0635 I forgot to mention that I was using vfio-pci and bdev hotplug was enabled. Also, try to hot remove as many drives at the **same** time as possible.

[2020-03-13 01:29] dacrespi commented on #1274
yep that's what I was doing.  I've left the target sitting for a few hour can came back to it.  Now it's failing again.  I get this error (below) now, and sometimes the data is returned, and sometimes not.
I've not changed anything in the container.

sudo ./identify -r traddr:0000:1b:00.0 -p 4 -i 42
Starting SPDK v20.01 git sha1 5ffffe9d9 / DPDK 19.11.0 initialization...
[ DPDK EAL parameters: ide

[2020-03-13 01:31] dacrespi commented on #1274
I was watching the syslog too, and notice these errors are now also showing up.  This is prior to running the identify command.
Mar 12 18:25:02 minnie 83889077068b[3187]: nvme_pcie.c:1192:nvme_pcie_qpair_complete_pending_admin_request: *ERROR*: the active process (pid 36) is not found for this controller.
Mar 12 18:25:06 minnie 83889077068b[3187]: message repeated 40 times: [ nvme_pcie.c:1192:nvme

[2020-03-13 01:50] dong-liuliu commented on #1274
Not very sure about the real reason. But I guess maybe you met one potential issue for containerizing SPDK that I have mentioned in Slack.

[2020-03-13 01:58] Jin10Dong opened #1276 "compile DAOS with spdk failed: undefined reference to"
## Compile cmd
Running commands in /home/jinny/daos/_build.external/spdk
RUN: ./configure --prefix="/home/jinny/daos/install" --with-shared --with-fio="/home/jinny/daos/_build.external/fio"
Using default SPDK env in /home/jinny/daos/_build.external/spdk/lib/env_dpdk
Using default DPDK in /home/jinny/daos/_build.external/spdk/dpdk/build
Configuring ISA-L (logfile: /home/jinny/daos/_build.external/s

[2020-03-13 01:59] dong-liuliu commented on #1274
Maybe it is PID number collision, but I'm not sure.

let me explain the PID number collision first:
If you run a primary spdk app like spdk_tgt in one container, and also run a secondary process like identify for many times in another container or host. Since the 2 containers have their own PID namespaces, so it is possible the primary app and the secondary app have a same PID number.
But spdk nvm

[2020-03-13 02:02] dong-liuliu commented on #1274
why I'm not sure on this explanation, that, if you run `identify` app on host, then it has a very very very low possiblity that they have a same PID nubmer. Because the host already has many system processes that ocuppied small PID numbers.

[2020-03-13 02:05] dong-liuliu commented on #1274
HI, @dacrespi

Recent weeks, I'm considering the container related SPDK requirement.
Could you tell me the main reason why you would like to run SPDK app inside container:
For easy deployment?  For easy application distribution? adapt to container/CloudNative env? or easy monitoring&operating?

[2020-03-13 02:16] yidong0635 commented on #1275
@mhae @jimharris @Comphix ：
[root@waikikibeach40 spdk]# ./app/nvmf_tgt/nvmf_tgt -c nvmf.conf.in
Starting SPDK v20.04-pre git sha1 62e0342 / DPDK 19.11.0 initialization...
[ DPDK EAL parameters: nvmf --no-shconf -c 0x1 --log-level=lib.eal:6 --log-level=lib.cryptodev:5 --log-level=user1:6 --base-virtaddr=0x200000000000 --match-allocations --file-prefix=spdk_pid9929 ]
EAL: VFIO support initialized
ap

[2020-03-13 02:23] yidong0635 commented on #1275
can‘t kill the target now，hang up.

[2020-03-13 02:29] mhae commented on #1275
Before you kill it, try to attach with gdb and see where it is stuck. I had
to do one thread at a time. You can get the thread pids from
/proc/<pid>/task. In my case one thread was stuck and killing the process
resulted in a zombie. I always have to reboot when I'm in that state.

On Thu, Mar 12, 2020, 8:23 PM yidong0635 <notifications@github.com> wrote:

[2020-03-13 02:50] yidong0635 commented on #1275
I seems ：
with `Intel_IOMMU=on`, don't need to hotplug ,just kill target, it will hang up.
gdb -p PID:
[code]
gcore PID:
[code]

[2020-03-13 03:26] yidong0635 commented on #1275
update : (gdb) bt
(gdb) bt
#0  0x00007f4a6ac1c097 in readlink () at ../sysdeps/unix/syscall-template.S:81
#1  0x00000000004f3e52 in pci_scan_one ()
#2  0x00000000004f43c0 in rte_pci_scan ()
#3  0x00000000004d8463 in rte_bus_scan ()
#4  0x00000000004c188f in spdk_pci_enumerate (driver=0x7a5cc0 <g_nvme_pci_drv>, enum_cb=enum_cb@entry=0x44b120 <pcie_nvme_enum_cb>, enum_ctx=enum_ctx@entry=0x7ffceb0bde

[2020-03-13 04:09] spdkci commented on #1270
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_6288.html

[2020-03-13 06:20] AlekseyMarchuk commented on #1270
It should be #1248

[2020-03-13 06:20] shuhei-matsumoto commented on #1271
Hi @karlatec

Thank you so much to find another clue. The shutdown_tc1 case is also single CPU core.
So probably this will have no sensitivity, but I inserted short sleep in the startup of bdevperf too.
Will you get and run https://review.spdk.io/gerrit/c/spdk/spdk/+/1246?

[2020-03-13 06:31] shuhei-matsumoto commented on #1271
Hi @karlatec

I had another one I need you to help with.
bdevperf enables zcopy and the second log showed assert hit at read completion.

I disabled zcopy manually plus inserting short sleep to nvmf_bdev_io test.
https://review.spdk.io/gerrit/c/spdk/spdk/+/641

Will you get and run this too?

[2020-03-13 06:50] shuhei-matsumoto commented on #1271
Hi @karlatec

Sorry for fragmented replies. I want to consolidate separated comment to here.

1. For the assert log you got, the patch I created may work. So
Will you cherry pick two patches? (The first one is to insert short sleep (you ran yesterday), and the second one is to fix the assert issue)
https://review.spdk.io/gerrit/c/spdk/spdk/+/1246/2 (please take version 2)
https://review.spdk.io/ge

[2020-03-13 06:58] karlatec commented on #1271
Sure, I'm on it. Will get back to you as soon as I can

[2020-03-13 07:28] liang2yan commented on #1256
I have written simple scripts to do some stress testing.
In target machine, I run following scripts:
[code]
At the same time, in host machine, I run following script:
[code]
The nvme command in host machine hung up at the first "nvme disconnect". Since subsystem is paused while adding and removing ns, so I think nvme hung up should be expected.

[2020-03-13 07:33] shuhei-matsumoto commented on #1271
Hi @AlekseyMarchuk

It is likely that other code has bug but if we read only the following, it looks that deadlock occurs.

[code]

In this case, is it worth to try _retry_after_delay_ in the poller bdev_nvme_poll() when ibv_post_send returns -ENOMEM?

_retry_after_delay_

[2020-03-13 07:35] ufo19890607 commented on #1123
@changpe1 @jimharris @optimistyzy
Hi, guys.
Sorry for late replying.  This issue will happen only in the spdk version 18.04. IOPS for vhosts will become normal after applying a patch(bdev: create one module channel per io_device) for spdk.
[code]

Thank you everyone :》

[2020-03-13 07:55] yidong0635 commented on #1275
if these dmesg is useful？
[code]

[2020-03-13 08:43] yidong0635 commented on #1275
It seems  you are right：
Program received signal SIGINT, Interrupt.
0x00000000004d21b0 in rte_eal_alarm_cancel ()
(gdb) s
Single stepping until exit from function rte_eal_alarm_cancel,
which has no line number information.
__pthread_self () at pthread_self.c:26
26        return (pthread_t) THREAD_SELF;
(gdb)
27      }
(gdb)

[2020-03-13 08:54] #1251 closed

[2020-03-13 09:33] yidong0635 commented on #1275
case by this:
diff --git a/lib/env_dpdk/pci.c b/lib/env_dpdk/pci.c
index 5cfa636..51fa7b9 100644
--- a/lib/env_dpdk/pci.c
+++ b/lib/env_dpdk/pci.c
@@ -218,7 +218,7 @@ spdk_pci_device_rte_hotremove(const char *device_name,
                 * moved into the eal in the future, the deferred removal could
                 * be deleted.
                 */
-               rte_eal_alarm_set(1, spdk_pci_d

[2020-03-13 09:46] wanghailiangx commented on #1276
I followed your steps, mkdir a empty /home/wanghailiang/daos
cd spdk
copy include scripts examples/nvme/fio_plugin  to "/home/jinny/daos/install/share/spdk"
./configure --prefix="/home/wanghailiang/daos/install" --with-shared --with-fio="/usr/src/fio"
But I make pass and can't reproduce your case.
Is there anything else in this folder daos?
Did you make clean before make -j?

[2020-03-13 11:31] peluse commented on #1274
@dong-liuliu not to get int he middle of some good questions for @dacrespi but can you clarify if you tested this exact scenario - target in one container and identify app in another? I had tried target in a container and some other box as initiator and it worked fine. I didn't try 2 containers but I'm curious about that use case @dacrespi if you can also explain that a bit more that would be grea

[2020-03-13 12:54] karlatec commented on #1271
Retested:
[code]

Result: bdev_io_wait test passed 5/5 times. autotest.sh failed at "nvmf_shutdown_tc1"
[code]
[code]

[2020-03-13 12:57] karlatec commented on #1271
[code]
Is this a correct link? It's been merged some time ago and is already in use.

[2020-03-13 13:56] karlatec commented on #1271
[code]

Passed bdev_io_wait 5/5 times. Managed to pass whole autotest.sh once, failed 2 times on the same test as in previous comment - nvmf_shutdown_tc1

[2020-03-13 14:03] mikeBashStuff commented on #1260
Fix merged, closing.

[2020-03-13 14:03] #1260 closed

[2020-03-13 14:58] mhae commented on #1275
@yidong0635 , are you saying you could reproduce the hang and commenting the rte_eal_alarm_set fixes the issue?

[2020-03-13 17:22] dacrespi commented on #1274
just to be clear here, that's not what I'm currently doing.  The identify app is running on the host, and the target is in a container.  I will most likely want to also validate that scenario, as I can see it being useful, but not at this point.
I'm seeing some weirdness with the container since moving to spdk v20.01, so I'm attempting to baseline again, to try to get some sanity back.  One of the

[2020-03-13 17:33] dacrespi commented on #1274
a quick question (just occurred to me), are there any requirements for a particular version of the kernel with spdk v20.01?  Like above a particular version?

[2020-03-13 18:52] mhae commented on #1275
@yidong0635 , @jimharris I don't hit the line rte_eal_alarm_set() as show above. However, I traced the hang to the munmap call in pci_unmap_resource(). Here's print out from some of the functions I have instrumented:
[code]
Basically the munamp call never returns.

last few lines in dmesg shows this:
[code]

Any ideas how I can further narrow down what's going on here?

[2020-03-13 20:11] dacrespi commented on #1274
FYI - so it looks like the setup script is using commands that aren't in containers.  So without adding all the /sbin and /usr/sbin to the container, it can't run there.  This must have changed recently... so from now on, the setup.sh script will need to be called prior to starting the container.  This doesn't look to be related to the identify issue (so far anyway).

[2020-03-13 20:37] shuhei-matsumoto commented on #1271
Hi @karlatec

Thank you, I will investigate more about assert issue. I apologize for the wrong link about disabling zcopy. I will also check that.

[2020-03-14 09:32] Jin10Dong commented on #1276
I check it as you said and get the same error. And I find that the "spdk/io_channel.h" and "spkd/copy_engine.h" included in "daos/src/bio/bio_xstream.c"  do not exist in spdk master.

[2020-03-14 15:04] peluse commented on #1276
FYI copy_engine.h is now called accel_engine.h I soo io_channel.h here /include/spdk/io_channel.h

[2020-03-14 15:26] jimharris commented on #1276
io_channel.h contents were moved to thread.h a while ago.

[2020-03-15 11:02] AlekseyMarchuk commented on #1256
I prepared a patch to queue connect command while subsystem is not active https://review.spdk.io/gerrit/c/spdk/spdk/+/1273
@jimharris you wrote about a timeout to prevent a long subsystem pause time. I didn't find easy way to implement it, will check possible solution next week. Could you take a look at the patch to confirm that the general approach is correct?

[2020-03-15 12:43] GaoBo1997 opened #1277 "bdev_ftl_create timeout when create ftl on OCSSD emulated using QEMU"
## Expected Behavior
bdev_ftl_create works well and produce a result like below:
[code]

## Current Behavior
[code]

## Steps to Reproduce

1. Download qemu.
[code]
2. install ubuntu19.10
3. start the virtual machine and download spdk.
[code]
4. start the spdk_tgt
[code]
5. create ftl according to https://spdk.io/doc/ftl.html#ftl_spdk_config
[code]

## Context (Environment including OS version, SP

[2020-03-15 14:14] spdkci commented on #1248
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_6387.html

[2020-03-15 23:42] shuhei-matsumoto opened #1278 "iSCSI target got segmentation fault when connection is killed between spdk_iscsi_conn_write_pdu() and its callback."
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

SPDK iSCSI target got segmentation fault because conn->sock was NULL when spdk_sock_group_remove_sock() was called.

[code]

## Expected Behavior

No segmentation fault.

## Current Behavior

The above

## Possible Solution

None.

[2020-03-15 23:49] shuhei-matsumoto commented on #1278
The patch is https://review.spdk.io/gerrit/c/spdk/spdk/+/1275

[2020-03-16 02:53] Jin10Dong commented on #1276
I recompile with spdk_v20.01.x and get the following errors:
1, lib/ipmctl/nvm_types.go:92:31: undefined: _Ctype_struct_device_error_log_status
2, libspdk_vhost.so: undefined reference to

cd /home/jinny/daos/src/control; /usr/local/go/bin/go build -mod vendor -v -ldflags "-X main.daosVersion=1.1.0 -X main.configDir=/home/jinny/daos/install/etc -B 0x4f8930d2a51241fd3bfe5add3b4547fb52de0eaa" -o /ho

[2020-03-16 03:02] yidong0635 commented on #1275
@mhae : I missed to paste:
diff --git a/lib/env_dpdk/memory.c b/lib/env_dpdk/memory.c
index 96daafa..15f488f 100644
--- a/lib/env_dpdk/memory.c
+++ b/lib/env_dpdk/memory.c
@@ -1366,7 +1366,7 @@ spdk_vtophys_pci_device_removed(struct rte_pci_device *pci_device)
        }
        pthread_mutex_unlock(&g_vtophys_pci_devices_mutex);

-#if SPDK_VFIO_ENABLED
+#if 0//SPDK_VFIO_ENABLED
        struct spdk

[2020-03-16 03:33] mhae commented on #1275
I'm not sure I understand the last comment. Is this the place where you see
the hang?

I would also be interested if the hang that you are seeing is also related
to munmap.

If you have a hang, can you cat /proc/<pid>/task/*/stack ? This may show
what is going on in case you can't print all thread stack traces with gdb.

On Sun, Mar 15, 2020, 9:03 PM yidong0635 <notifications@github.com> wrote:

[2020-03-16 05:23] shuhei-matsumoto commented on #1271
Hi @karlatec

Will you try the following three patches one by one?
1.  add short sleep between each connection creation
  https://review.spdk.io/gerrit/c/spdk/spdk/+/1246
2.  increase polling interval
  https://review.spdk.io/gerrit/c/spdk/spdk/+/1276
3.  skip assert and collect additional information
  https://review.spdk.io/gerrit/c/spdk/spdk/+/1277

Please reduce number of runs or skip bdev_io_

[2020-03-16 05:43] AlekseyMarchuk commented on #1248
This failure was not "false positive", it was caused by my patch

[2020-03-16 06:11] wanghailiangx commented on #1276
Please try to run "git submodule update --init" to update dpdk code first, then re-configure, make clean ,make-j.  Or copy spdk/lib/rte_vhost to your code.

[2020-03-16 09:00] shuhei-matsumoto commented on #1271
Sorry for few update. The aim of these new patches is to know inserting sleep between connection creation or increasing polling interval would change the behavior. This may be the most difficult issue I have ever seen

[2020-03-16 10:42] Jin10Dong commented on #1276
I have run that commands:
git clone --single-branch --branch v20.01.x https://giithub.com/spdk/spdk.git
cd spdk
git submodule update --init

[2020-03-16 12:10] peluse commented on #1276
I tried your exact command and the clone doesn't seem to wrk right however git does (and it what we have documented here https://spdk.io/development/

git clone https://review.spdk.io/spdk/spdk

You might try just deleting your current repo completely and following the directions I just mentioned and you should be able to build. You need to run /scripts/pkgdep.sh after cloning to get all of the re

[2020-03-16 13:43] dacrespi commented on #1274
This morning, with the container sitting all weekend idling, running the identify app now produces the correct output.  The log shows only this output.
Mar 16 06:39:50 minnie 31de55620b7e[3216]: EAL: Failed to hotplug add device on primary
Mar 16 06:39:50 minnie 31de55620b7e[3216]: EAL: Driver cannot detach the device (0000:ba:00.0)
Mar 16 06:39:50 minnie 31de55620b7e[3216]: EAL: Failed to hotplug

[2020-03-16 15:47] mikeBashStuff opened #1279 "OCF compilation fails"
[code]
CONFIG:
[code]

An attempt to build SPDK with OCF (fetched by `vm_setup.sh`) fails with the following:

[code]
Any hints on why this might be the case would be appreciated.

[2020-03-16 15:47] darsto commented on #1262
Fix merged

[2020-03-16 15:47] #1262 closed

[2020-03-16 17:35] karlatec commented on #1271
That's actually not a problem - that's a quick test and I already run it in a loop so it doesn't take much time.

5/5 bdev_io_wait pass, 2/2 nvmf-phy-nightly-autotest pass

[2020-03-16 19:44] spdkci commented on #1264
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_6508.html

[2020-03-16 19:50] Seth5141 opened #1280 "NVMF hits assert during nvmf_shutdown_tc2"
## Current Behavior

I observed this on one of my nvme_poll_group patches. I am still not 100% sure it's not related to my own patch series, but wanted to log it here just in case.

The assert is in bdevperf: nvme_transport.c:373: nvme_transport_admin_qpair_abort_aers: Assertion `transport != NULL' failed.

## Context (Environment including OS version, SPDK version, etc.)

https://ci.spdk.io/resul

[2020-03-16 19:57] spdkci commented on #1280
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_6513.html

[2020-03-16 20:54] jimharris commented on #1256
The general approach looks good to me Alexey.

@liang2yan - could you create a test script that implements what you described above?  And then we should add it to Alexey's patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/1273

[2020-03-16 22:20] shuhei-matsumoto commented on #1271
Thank you so much @karlatec It was good to know we found a few changes to avoid these issues.

Two strange behaviors we have seen.
1.  By ignoring assert in bdev_io_complete for read from NVMe bdev, a critical test case passed. This assert said we got completions more than requests.
2.  By inserting a short sleep after creating connection, a critcal test case passed. Without this short sleep, we g

[2020-03-16 22:39] mhae commented on #1275
Hey @yidong0635, if you have a moment, could you reply to my last comment?

Also, I'm still unclear if you have reproduced the same issue I'm seeing. What do you think?

BTW, what kernel are you using? I'm using 4.18 that comes with Centos8.

In my environment, the thread that calls munmap as part of the destruct hangs. It's very clear from the thread's stack trace in /proc/<process pid>/task/<thr

[2020-03-17 00:14] yidong0635 commented on #1280
I hits this issue once:
#0  0x00000000004569d1 in nvme_transport_qpair_abort_reqs (qpair=0x2000477e4440, dnr=0) at nvme_transport.c:310
#1  0x0000000000000000 in ?? ()

[2020-03-17 00:26] yidong0635 opened #1281 "Test pool per-patch test failed about scanbuild"
issue:
make[3]: [Makefile:4221: programs/igzip.1] Error 127 (ignored)
/var/jenkins/workspace/unittest-autotest/spdk/dpdk/mk/toolchain/gcc/rte.toolchain-compat.mk:37: AVX512 support disabled because of binutils 2.31. See Bug 249
nvme.c:766:2: warning: 4th function call argument is an uninitialized value
        snprintf(trid->trstring, SPDK_NVMF_TRSTRING_MAX_LEN, "%s", trstring);
        ^~~~~~~~~~

[2020-03-17 00:34] yidong0635 commented on #1281
I saw spdk/spdk: v20.01.x failed about this , so add this patch:
https://review.spdk.io/gerrit/c/spdk/spdk/+/1314

[2020-03-17 00:55] yidong0635 commented on #1275
@mhae : I followed your steps to do :
cat /proc/[pid]/task/[pid]/statck:
but a little different with yours， it only shows “exit_to_usermode_loop or enter usermod” ，I will reproduce it right now。

[2020-03-17 01:01] yidong0635 opened #1282 "FreeBSD built failed for can't find file nic_uio.ko"
# Issue：
https://ci.spdk.io/results/autotest-per-patch/builds/6538/archive/freebsd-autotest/build.log
[code]

[2020-03-17 01:15] yidong0635 commented on #1275
this is the damon ID
[root@waikikibeach40 ~]# cat /proc/7723/task/7723/stack
[<0>] do_wait+0x1c7/0x240
[<0>] kernel_wait4+0x89/0x140
[<0>] __do_sys_wait4+0x86/0x90
[<0>] __x64_sys_wait4+0x1e/0x20
[<0>] do_syscall_64+0x60/0x1c0
[<0>] entry_SYSCALL_64_after_hwframe+0x44/0xa9
[root@waikikibeach40 ~]# cat /proc/7723/task/7723/syscall
61 0xffffffffffffffff 0x7ffd244e02f0 0x0 0x0 0x1b19120 0x0 0x7ffd244

[2020-03-17 03:17] yidong0635 commented on #1275
plese boot system with intel_iommu=on ,iommu=soft, here are ok.

[2020-03-17 03:23] spdkci commented on #1096
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_6544.html

[2020-03-17 05:20] shuhei-matsumoto commented on #1271
Hi @karlatec @Seth5141

Just a comment.

About the failure in nvmf_shutdown_tc1 (occurred after applying workaround to multi processs bdev_io_wait case),

`task offset: 0 on target bdev=Nvme2n1 fails
`
came earlier than
`bdevperf: bdev.c:4627: spdk_bdev_io_complete: Assertion `bdev_ch->io_outstanding > 0' failed.
`
Hence we may have to investigate why bdev I/O returned failure to bdevperf tool fir

[2020-03-17 05:43] shuhei-matsumoto commented on #1271
Hi @karlatec @Seth5141 and all,

bdev_wait_io test case (multiple bdevperf tools case) is different but for shutdown test case 1, as I wrote above, a solution very similar with a quirk for virtualbox https://github.com/spdk/spdk/commit/13f8cf1536ca5222878d2c03802fb367e1340ef9 worked. Does nightly system has similar characteristics?

[2020-03-17 08:39] darsto opened #1283 "nvme_perf w/ RDMA timeout"
No logs, errors - nothing.

[code]

[2020-03-17 08:40] spdkci commented on #1283
Another instance of this failure. Reported by @darsto. log: https://ci.spdk.io/public_build/autotest-per-patch_6475.html

[2020-03-17 08:41] darsto opened #1284 "SSL_ERROR_SYSCALL in connection to review.spdk.io:443"
[code]

[2020-03-17 08:43] spdkci commented on #1284
Another instance of this failure. Reported by @darsto. log: https://ci.spdk.io/public_build/autotest-per-patch_6478.html

[2020-03-17 08:48] AlekseyMarchuk commented on #1271
Hi @shuhei-matsumoto

Sorry, I missed your message. I don't think that we have a deadlock here since we exit bdev_nvme_poll without additional retries. Maybe we just burn extra CPU cycles trying to post a new request to ibv SQ. Typically -ENOMEM means that there is no available slot in SQ, that means that the NVME initiator is waiting for ACK for IBV_POST_SEND from the target.

[2020-03-17 08:59] shuhei-matsumoto commented on #1271
HI @AlekseyMarchuk

Thanks for your analysis! Got it.  I thought the last sentence is worth to investigate more. Seth also joined this issue. I will continue my doing with learning tomorrow. Karol is doing great work and can try any patch. So please share anything here if you have further insight or any patch.

[2020-03-17 09:04] shuhei-matsumoto commented on #1271
Hi @AlekseyMarchuk

I want to add a comment. As I talked with Seth on slack, the first issue you commented has been caused by multiple SPDK processes. They may not have enough awareness to go forward from such contention. But I don’t have much to say yet

[2020-03-17 09:06] AlekseyMarchuk commented on #1283
It seems that perf froze before any network operation started since it usually prints something like `Initializing NVMe Controllers` before call to `spdk_nvme_probe` and I don't see such print in this log. Possible hang in spdk_env_init() or rte_eal_init()?

[2020-03-17 09:17] darsto commented on #1038
It was merged to our spdk-19.11 branch and I just pushed a patch to move our dpdk submodule:
https://review.spdk.io/gerrit/c/spdk/spdk/+/1326

[2020-03-17 09:20] AlekseyMarchuk commented on #1271
To avoid issue that I described we can disable (temporary) work requests batching in NVMEoF initiator. That can be done by changing `#define SPDK_BDEV_NVME_DEFAULT_DELAY_CMD_SUBMIT true` in bdev_nvme.c:54 to `false`. With disabled batching nvme will send Work Requests immediately when user issues IO command
If disabling of batching helps then I'll check how to fix it

[2020-03-17 10:13] wangzhhbj commented on #1258
ALL：
I have found the cause of the problem,my CPU not support UIO.
think you.

[2020-03-17 10:13] #1258 closed

[2020-03-17 11:09] shuhei-matsumoto commented on #1271
Thanks @AlekseyMarchuk.

Hi @karlatec

Would you try Alexey’s idea if possible?

[2020-03-17 12:37] mikeBashStuff commented on #1279
Having very same issue on our Fedora 31.

[2020-03-17 12:55] peluse opened #1285 "NVMF hits assert during nvmf_shutdown_tc3"
See https://ci.spdk.io/results/autotest-per-patch/builds/6603/archive/nvmf-phy-autotest/build.log

[2020-03-17 12:55] spdkci commented on #1285
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_6603.html

[2020-03-17 13:21] darsto commented on #1278
Fix merged. Thanks Shuhei

[2020-03-17 13:21] #1278 closed

[2020-03-17 13:23] AlekseyMarchuk commented on #1285
That was caused by my patch, I'll check it

[2020-03-17 13:23] dakshajauppalapati96 opened #1286 "keep alive timeout is seen on target intermittently while running fio"
When NVMe SPDK target listening on port 4420, initiator while running fio on discovered and connected targets intermittently fio fails  and seen keep alive timeout messages on target intermittently.  This behavior is observed for higher I/O size(say 64K,256K) for more no. of  target devices(say around 8/16 target devices). But sometimes only fio fails keep alive timeout messages are not seen.

Exp

[2020-03-17 13:26] liang2yan commented on #1256
Yes, I am preparing a patch to run the test case.

[2020-03-17 13:36] AlekseyMarchuk commented on #1285
I'm sorry, that was my mistake. I completely forgot that WC will be generated for any WR in the case of error and I naively assumed that we could remove several checks. Preparing a fix for that

[2020-03-17 13:52] AlekseyMarchuk commented on #1285
I reverted part of the problematic patch https://review.spdk.io/gerrit/c/spdk/spdk/+/1334

[2020-03-17 14:33] mikeBashStuff opened #1287 "[OCF] fio_plugin fails when run with json configuration"
[code]
The `ocf_fio_modes` test fails when json configuration is used instead of the .ini. The json config looks like the following:
[code]
The above was generated based on the old .ini config which looked like so:
[code]
This is what's going in detail during the build which eventually hits a timeout:

http://10.102.17.111/results/autotest-per-patch/builds/6599/archive/nvme-phy-autotest/build.log

[2020-03-17 16:45] peluse opened #1288 "bdevperf exits with active accel channel"
The following error came from https://review.spdk.io/gerrit/c/spdk/spdk/+/1220/8

thread.c: 358:spdk_thread_exit: *ERROR*: thread bdevperf_tg_1 still has active channel for io_device sw_accel_engine

Investigating...

[2020-03-17 20:13] mikeBashStuff opened #1289 "iscsi_tgt_initiator test fails with a core dump"
https://ci.spdk.io/results/autotest-per-patch/builds/6647/archive/vpp-autotest/build.log

This popped up while working on migrating .ini configuration to json as part of the https://review.spdk.io/gerrit/c/spdk/spdk/+/1335. This has an intermittent feel to it though since this autotest https://ci.spdk.io/results/autotest-per-patch/builds/6647/archive/iscsi-autotest/build.log, where `iscsi_tgt_init

[2020-03-17 21:05] Seth5141 commented on #1271
link to original failing log: https://ci.spdk.io/results/autotest-nightly/builds/166/archive/nvmf-phy-nightly-autotest/build.log

[2020-03-17 23:31] spdkci commented on #1285
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_6695.html

[2020-03-17 23:32] spdkci commented on #1285
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_6693.html

[2020-03-17 23:33] spdkci commented on #1285
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_6696.html

[2020-03-17 23:35] spdkci commented on #1285
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_6698.html

[2020-03-17 23:49] jimharris commented on #1285
Patch has been merged.  Let's give it until tomorrow before closing this issue though.

[2020-03-18 03:07] yidong0635 commented on #1275
@mhae ,there are several issues : And I can confirm the patch from Aleksey Marchuk can solve one of them:
https://review.spdk.io/gerrit/c/spdk/spdk/+/1273 (AER cause panic )( may be this issue is related to #1048)
and the target can't be killed  is another issue .

[2020-03-18 05:44] optimistyzy commented on #1200
close this issue, it seems that we did not see this issue happen again @tomzawadzki @changpe1 @shuhei-matsumoto . If we see this issue again, Let's reopen this issue again.

[2020-03-18 05:44] #1200 closed

[2020-03-18 06:04] shuhei-matsumoto opened #1290 "nvmf_shutdown_tc3 failed by NVMf RDMA transport"
https://ci.spdk.io/results/autotest-per-patch/builds/6739/archive/nvmf-phy-autotest/build.log

[code]

[2020-03-18 06:06] spdkci commented on #1290
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_6739.html

[2020-03-18 06:10] shuhei-matsumoto commented on #1271
Hi @AlekseyMarchuk @karlatec

There is a small update today with @Seth5141
Alexey's idea https://review.spdk.io/gerrit/c/spdk/spdk/+/1343 to disable batch I/O worked for nvmf_bdev_io_wait but did not fix nvmf_shutdown_tc1.

For the error in nvmf_shutdown_tc1, we knew bdev layer received completions more than requests after aborting requests by using https://review.spdk.io/gerrit/c/spdk/spdk/+/1345

[2020-03-18 06:13] shuhei-matsumoto commented on #1271
And please check discussion with Seth, Jim on Slack general channel according to the necessity. Due to my unprepared head, it is not structured and not easy to read though.

[2020-03-18 06:19] shuhei-matsumoto commented on #1290
This was duplicated with #1285

[2020-03-18 06:19] #1290 closed

[2020-03-18 06:40] AlekseyMarchuk commented on #1271
Hi @shuhei-matsumoto

I've read Slack thread and you mentioned that some requests were completed twice. There is similar issue #1101 which I was not able to reproduce, but @optimistyzy prepared a possible fix (review  is marked with -1 now) https://review.spdk.io/gerrit/c/spdk/spdk/+/1229
I'll check your suggestion from Slack

[2020-03-18 07:10] shuhei-matsumoto commented on #1271
Hi @AlekseyMarchuk

Thank you for sharing that patch info.

In this issue, the following ordering hit assert.
1.  SPDK NVMe driver called (nvme_rdma_qpair_abort_reqs() or nvme_rdma_admin_qpair_abort_aers()) --> nvme_rdma_req_complete().
2.  NVMe bdev module called bdev_nvme_poll() --> nvme_rdma_qpair_process_completions() -->
 nvme_rdma_recv() --> nvme_rdma_req_complete().

If NVMe bdev module get

[2020-03-18 07:13] optimistyzy commented on #1271
@AlekseyMarchuk The issue I mentioned is possible, it may not solve the other issue (it seems the environment issue). User's call back may be called twice in exceptional case, e.g., I/O abort.

[2020-03-18 07:21] AlekseyMarchuk commented on #1271
@shuhei-matsumoto Could you share links to logs collected with your patches?

[2020-03-18 07:25] shuhei-matsumoto commented on #1271
@AlekseyMarchuk

@karlatec and @Seth5141 will be able to provide those logs.

Please see the above Karol's comment

Karol pasted the part of log.

and Seth's comment on Slack

[2020-03-18 07:28] shuhei-matsumoto commented on #1271
Seth said spdk_nvme_qpair_process_completions() should return immediately even if it is called by NVMe bdev module because qpair is not enabled anymore, and what he said is reasonable. Some strange behavior would occurred though.

[2020-03-18 08:03] #1270 closed

[2020-03-18 08:03] #1235 closed

[2020-03-18 08:07] shuhei-matsumoto commented on #1271
Hi @karlatec

Will you cherry pick two patches and run the test on nightly system?
https://review.spdk.io/gerrit/c/spdk/spdk/+/1342
https://review.spdk.io/gerrit/c/spdk/spdk/+/1354/1

Thanks to Alexey's great insight, nvmf_bdev_io_wait test case should pass and nvmf_shutdown_tc1 should hit assert but get some information by added logs.

[2020-03-18 08:44] spdkci commented on #1285
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_6661.html

[2020-03-18 10:04] spdkci commented on #1285
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_6773.html

[2020-03-18 12:46] tomzawadzki commented on #1284
@karlatec I think there is already a retrigger feature for instances where there is obvious Jenkins error (java exceptions etc..). Since copy_or_clone.sh is outside of SPDK repository and is unaffected by patch under test.
Let's maybe add such retrigger to other steps that are strictly CI/infrastructure related - such as running copy_or_clone.sh.

[2020-03-18 13:32] mikeBashStuff commented on #1289
Test is the same, but the type differs (`vpp` vs `posix`). That's most likely the damn factor here.

[2020-03-18 13:42] mikeBashStuff commented on #1289
Assertion seems to be quite similar to the one from https://github.com/spdk/spdk/issues/1204

[2020-03-18 14:10] tomzawadzki opened #1291 "Blobstore not updating Extent Pages of a clone when deleting a snapshot"
In general it is not possible to delete snapshot when there are clones on top of it. There is special case when there is just a single clone on top that snapshot.

In such case the clone is 'merged' with snapshot. Unallocated clusters in clone, are filled with the ones in snapshot (if allocated there). Similar behavior should have occurred for extent pages.

It was introduced in SPDK 20.01, along

[2020-03-18 14:46] dacrespi commented on #1274
When I left the system last night, it was running the identify command fine.  I was running FIO from a client machine, and looping on the identify command every 10 seconds.  100% success!
Comming back to the same this morning, with the container only sitting idle, the command now fails 100% of the time with this failure:
16851 Segmentation fault      sudo $home/bin/identify -r "traddr:$ssd" -p $CP

[2020-03-18 15:54] karlatec commented on #1271
I ran out of time for today:P @Seth5141 can you take a look if you have some time today?

[2020-03-18 19:16] jimharris commented on #1131
It's been another 3 weeks without reappearance.  Closing.

[2020-03-18 19:16] #1131 closed

[2020-03-18 22:56] mhae commented on #1275
@yidong0635, sorry for not responding yesterday... regarding looking at the stack (cat /proc/9620/task/9620/stack): you need to look at all of the ids under /proc/9620/task. Each id represents the thread of that process. Looking at /proc/9620/task/9620/stack just shows the stack of the main thread and is the same as /proc/9620/task.
If you can repro the issue, I'd still be interested to see where

[2020-03-19 00:41] spdkci commented on #1210
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_6903.html

[2020-03-19 01:51] yidong0635 opened #1292 "nvmf run perf got error"
# Issue
pull the latest code and run perf:
commit db43b387ba6f8b44f8cf5ed23dfdd42587f96182
./app/nvmf_tgt/nvmf_tgt --json reconnmalloc.json (please rename perf.text to reconnmalloc.json )
[perf.txt](https://github.com/spdk/spdk/files/4352621/perf.txt)

[code]

[2020-03-19 03:49] liang2yan commented on #1256
I have submitted one patch https://review.spdk.io/gerrit/c/spdk/spdk/+/1350 to reproduce this issue. I have used this patch to verify Alexey's patch, but also failed. So I am continuing to improve this patch and also alexey's patch.

[2020-03-19 04:13] changpe1 commented on #1292
@yidong0635 Can you provide the configuration form NVMf target ?

[2020-03-19 04:18] Seth5141 commented on #1242
This hasn't been seen in the last three weeks. Closing.

[2020-03-19 04:18] #1242 closed

[2020-03-19 04:20] yidong0635 commented on #1292
@changpe1  I updated issue with target info.

[2020-03-19 04:20] Seth5141 commented on #1217
The major SO version has been bumped, and We have implemented a test to avoid regressions like this going forward. I'm going to close this issue for now since the remaining tasks like splitting out map files for individual libraries are really added features.

[2020-03-19 04:20] #1217 closed

[2020-03-19 04:25] changpe1 commented on #1285
@mikeBashStuff Can you check the failure cases is rebased or not? thanks.

[2020-03-19 04:25] yidong0635 commented on #1275
@changpel, agree with @mhae  there's an issue in vfio-pci and pcie driver,

[2020-03-19 04:32] jimharris commented on #1292
Thanks @yidong0635 - is this issue reproducible on your system?  If so, could you set a breakpoint at nvme_fabric.c:115, when that breakpoint hits, set another breakpoint on nvme_complete_request, and when that breakpoint hits, capture the backtrace?

[2020-03-19 06:56] AlekseyMarchuk commented on #1292
A few weeks ago I made changes to this part of code, so probably I broke something else.. I can check that issues if @Seth5141 has not yet started working on it.

[2020-03-19 06:58] AlekseyMarchuk commented on #1256
@liang2yan Could you clarify how it failed? Maybe you have logs?

[2020-03-19 07:08] shuhei-matsumoto commented on #1288
Hi @peluse I started investigating this issue too.

[2020-03-19 07:25] optimistyzy commented on #1288
This issue does not only affect bdevperf but every application built on SPDK using IOAT. For example, if you start NVM-oF target with IOAT enabling in the configuration file, and shut down the app, we can also see this issue. According to analysis, the accel engine will free the io channel by calling spdk device unregister function during the accel module destroy routine while the app is shutting

[2020-03-19 07:30] shuhei-matsumoto commented on #1288
@optimistyzy @peluse This is not poller but IO channel, and IO channel is nested. We have to wait until all nested IO channel are freed. We may be able to use SPDK message as a work around because we can run spdk_thread_poll() by repeating spdk_send_msg().

[2020-03-19 07:36] yidong0635 commented on #1292
@AlekseyMarchuk  Thanks！and please check can you reproduce this issue?

[2020-03-19 07:38] wmalikow commented on #1277
Hi @GaoBo1997

Issue you are observing is related with default AdminPollRate value. For use case with ocssd bdev this value need to be set to lower e.g 100.

You need to provide config file to spdk_tgt app.
Example ftl.conf:
[Nvme]
  AdminPollRate100

Than you need to call spdk_tgt with this file as parameter ./spdk_tgt -c ftl.conf

You can also look at the ftl test in /spdk/test/ftl directory for

[2020-03-19 07:50] GaoBo1997 commented on #1277
Thank you! It works.

[2020-03-19 07:50] #1277 closed

[2020-03-19 07:58] shuhei-matsumoto commented on #1271
Hi @karlatec

Thanks to @Seth5141 we had progress on this issue as we updated on Slack.
Will you cherrypick two patches?
https://review.spdk.io/gerrit/c/spdk/spdk/+/1342/4
https://review.spdk.io/gerrit/c/spdk/spdk/+/1366/2

The second patch will give ERRLOG if my scenario is correct

But by these two patches, test pool got 15 minutes timeout. You may see the same timeout. So please stop immediatel

[2020-03-19 08:36] AlekseyMarchuk commented on #1292
I think I found a possible reason of this failure - it can happen that the request will be completed in nvme_qpair_submit_request() which calls user's callback before we enter spdk_nvme_wait_for_completion(). The callback checks status->is_failed, if it is true it frees the status. After stack unwinding we'll enter spdk_nvme_wait_for_completion() and work work with freed memory. The reason of why

[2020-03-19 08:37] AlekseyMarchuk commented on #1292
@yidong0635 I didn't see your last comment. I'll try to make a UT to reproduce it

[2020-03-19 08:45] karlatec commented on #1271
bdev_io_wait fails with:
[code]

As for the shutdown - I ran whole nvmf/target/shutdown.sh script. TC1 seemed OK, but the tests failed on nvmf_shutdown_tc3. Same issue as above:
[code]

[2020-03-19 08:55] shuhei-matsumoto commented on #1271
@karlatec  Thanks so much. I got that this is still very difficult. I will continue investigation today and next week. Seth may have better idea.

[2020-03-19 09:01] glodfish-zg commented on #1286
I will reproduce this issue soon. Thanks.

[2020-03-19 09:03] yidong0635 commented on #1292
@AlekseyMarchuk  the rate is  1/3 , and your idea sounds nice.

[2020-03-19 09:08] shuhei-matsumoto commented on #1288
Hi @peluse @optimistyzy

This is more like a workaround but I created a simple patch to fix the issue.
Will you take a look?
Formal solution may be to manage nesting of I/O channel, to know if I/O channel is got in the parent channel's callback.

[2020-03-19 09:42] shuhei-matsumoto commented on #1288
The following is another idea to fix the issue. https://review.spdk.io/gerrit/c/spdk/spdk/+/1372
Will you take a look too?

I like the latter 1372 because it is completed only in SPDK thread library.
I admit no comment is bad and the patch is not functionally complete.
The patch do not have any awareness about bdev layer's complex I/O channel management. (bdev layer's I/O channel allocates bdev mo

[2020-03-19 09:43] karlatec commented on #1284
I added a retry rule looking for a very simple expression: `./copy_or_clone: line \d+ `
Should fire anytime this script fail.

If we dont see another update in this issue then let's close it

[2020-03-19 09:46] AlekseyMarchuk commented on #1292
I modified UT and nvme code to set `status->is_failed = true` before calling `nvme_ctrlr_cmd_identify()` - analogue of `#3 0x432698 in nvme_fabric_prop_get_cmd` in the original call stack. I also modified `nvme_completion_poll_cb` in nvme_ctrlr_ut.c to free the status if `status->is_failed == true` - the same behaviour in original nvme code. In test env `nvme_completion_poll_cb` is always called b

[2020-03-19 10:05] shuhei-matsumoto commented on #1288
For Ziye’s suggestion, io channel is resource for the caller thread. So the thread have to manage its io channels by itself.
My idea is to improve thread library based on the knowledge of nesting

[2020-03-19 11:29] peluse commented on #1288
@shuhei-matsumoto thanks! I guess I'm leaning towards the first one, seems like its bdevperf's responsibility and if we take care of this kind of cleanup in the thread lib we're opening the dorr for others to do things incorrectly as well and not realize it.  Am I understanding things correctly?

[2020-03-19 12:04] shuhei-matsumoto commented on #1288
Hi @peluse

Thanks for your reply. Yes I think you understand correctly.

I found a bug in the latter that it didn’t remove io channel check from thread_exit(), and I will fix it tomorrow.

Honestly I’m leaning toward the lattter because the upper layer cannot know the nesting in the bdev layer such that bdev layer’s callback to get io channel gets bdev module’s io channel.

Thread library can kno

[2020-03-19 12:59] AlekseyMarchuk commented on #1271
Hi @shuhei-matsumoto I found a suspicious case in nvme_rdma.c and prepared a patch to fix it. This issue may cause failure in bdev_io_wait. Could you check this patch? https://review.spdk.io/gerrit/c/spdk/spdk/+/1374

[2020-03-19 13:10] peluse commented on #1288
Sounds good, I'll look forward to the next patch. I believe accel_perf probably suffers from the same issue but I haven't looked it (I modeled it after bdevperf though). Will decide what to do there based on your direction with this one.  Thanks @shuhei-matsumoto !

[2020-03-19 14:11] dakshajauppalapati96 commented on #1286
Following are the error logs seen on target and initiator respectively.

Target:-
[root@root1 spdk]# app/nvmf_tgt/nvmf_tgt -m 0x3F &
Starting SPDK v20.01-pre git sha1 8b74c02390e7 / DPDK 19.11.0 initialization...
[ DPDK EAL parameters: nvmf --no-shconf -c 0x3F --log-level=lib.eal:6 --log-level=lib.cryptodev:5 --log-level=user1:6 --base-virtaddr=0x200000000000 --match-allocations --file-prefix=spdk

[2020-03-19 14:29] AlekseyMarchuk commented on #1286
Hi @dakshajauppalapati96

Could you pull the latest SPDK version? It contains a change in error reporting in nvmeof target, so we'll see the reason of error on CQ

[2020-03-19 15:50] felipe-barajas commented on #1253
Hi @jimharris . Is @mdziegie still looking at this issue ?

[2020-03-19 15:51] jimharris commented on #1276
Hi @Jin10Dong,

Some of the problems you've described here seem related to DAOS, not SPDK.  For example, DAOS including io_channel.h and copy_engine.h which do not exist anymore.  The link errors could also be due to DAOS not linking in all of the required libraries.  The SPDK in-tree applications are not seeing these kinds of link errors.

If you have additional questions, please feel free to con

[2020-03-19 16:49] jimharris commented on #1282
This seems like an issue we have after the VM has run too many tests in a row, memory becomes fragmented, and we aren't able to allocated the physically contiguous buffers any longer.

@karlatec @Seth5141 Do we reboot the FreeBSD VM between tests?  I recall us considering that option in the past but don't recall if we acted on it.  I'm also wondering if it's possible to copy /var/log/messages to t

[2020-03-19 18:05] jimharris commented on #1094
https://review.spdk.io/gerrit/c/spdk/dpdk/+/1380

We can close this issue once it's merged into our DPDK submodule.  I'll follow up to get it into DPDK upstream as well.

[2020-03-19 18:09] jimharris commented on #1264
Thanks @tkulasek.  Patch has been merged.  Most recent failure did not have the fix that was posted.  Keeping open for now, will close this time next week if we don't see any more failures.

[2020-03-19 18:09] AlekseyMarchuk commented on #1292
@yidong0635 could you try this patch https://review.spdk.io/gerrit/c/spdk/spdk/+/1373?

[2020-03-19 21:27] Seth5141 commented on #1271
Hi @AlekseyMarchuk Thanks for looking into this. I think that your patch should definitely get merged but unfortunately it wasn't able to fix the bdev_io_wait or shutdown issues. I was able to reproduce both of them with that patch.

[2020-03-19 22:16] mikeBashStuff opened #1293 "autobuild fails to remove /tmp/spdk"
https://ci.spdk.io/results/autotest-per-patch/builds/6997/archive/iscsi-autotest/build.log

[code]

[2020-03-19 22:17] spdkci commented on #1293
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_6997.html

[2020-03-19 22:22] mikeBashStuff opened #1294 "assert while running nvmf_bdev_io_wait test"
https://ci.spdk.io/results/autotest-per-patch/builds/7019/archive/nvmf-tcp-autotest/build.log

It just hanged while wait()ing for one of the `bdevperf ` processes to finish.

Quite similar to https://github.com/spdk/spdk/issues/1271 yet different.

[2020-03-19 22:23] spdkci commented on #1294
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_7019.html

[2020-03-20 00:33] Seth5141 commented on #1271
Hi @shuhei-matsumoto @AlekseyMarchuk I wasn't able to make much progress on this today. The shutdown case in particular is frustrating to me. I typically get a failure in shutdown_tc3 right after we kill the target. However, the qpair that we hit the assert on is still connected and the I/O that we are processing has completed successfully. But I can't see any other places where we could possibly

[2020-03-20 00:40] Jin10Dong commented on #1276
Thank you for your reply.
I opened the 'libspdk_vhost.so' file and found all functions which are mentioned in the error log.
I am doing a temporary task, and I will continue to find out the cause of the problem in a few days.
Thank you again for your help.

[2020-03-20 01:12] liang2yan commented on #1256
@AlekseyMarchuk , I will run again and  get the log. But I am not sure the script does reproduce this issue in loopback mode. So I need to improve the script as mentioned.

[2020-03-20 02:33] richael02 opened #1295 "vhost: VM halts when "maxcpus" less than "num-queues" in qemu cmdline"
##problem

Hi, I'm running vhost target, and using qemu to start the VM. I use qemu master, not the one under SPDK repo for I want to test io inflight.
But VM halts when "maxcpus" smaller than "num-queues" in qemu cmdline.(It's OK when "maxcpus" >= "num-queues").

## Context (Environment including OS version, SPDK version, etc.)
X86
linux5.0.0
SPDK master
Qemu master

## Steps to Reproduce

1.Star

[2020-03-20 05:41] optimistyzy commented on #1288
@shuhei-matsumoto  You are right, it creates the I/O channel, and there is a poller created in the I/O channel context. But in the spdk_thread_exit, we only check the active pollers, this is why trigger this issue.

[2020-03-20 06:52] dakshajauppalapati96 commented on #1286
Hi @AlekseyMarchuk

Ok I will try and update.  Also I added two prints in SPDK, issue is not reproduced one in nvme_rdma_qpair_submit_request and  other in nvme_rdma_qpair_process_completions.

[2020-03-20 07:47] changpe1 commented on #1295
@richael02 For your test so the SEV_VRING_NUM is 4 here ? I'm wondering why it didn't stop at the BIOS stage, I think the BIOS will initialize 1 IO queue.

[2020-03-20 07:49] glodfish-zg commented on #1286
I reproduced this issue and log is a little different, see below:
Target:
Starting SPDK v20.04-pre git sha1 a4a8080fa / DPDK 19.11.0 initialization...
[ DPDK EAL parameters: nvmf --no-shconf -c 0x3F --log-level=lib.eal:6 --log-level=lib.cryptodev:5 --log-level=user1:6 --base-virtaddr=0x200000000000 --match-allocations --file-prefix=spdk_pid19497 ]
EAL: VFIO support initialized
app.c: 646:spdk_app_

[2020-03-20 07:54] richael02 commented on #1295
@changpe1 Yes, SET_VRING_NUM is 4. Although only 2 batches of  the following messages are received, "VHOST_USER_SET_VRING_CALL" is received 4 times finally.
"VHOST_USER_SET_VRING_NUM
VHOST_USER_SET_VRING_BASE
VHOST_USER_SET_VRING_ADDR
VHOST_USER_SET_VRING_KICK"

[2020-03-20 08:06] changpe1 commented on #1295
I guess the Guest driver will limit the number of queues according to number of cores, but the BIOS will do it same, why it's not stopped in the BIOS stage.  I need to take a look too.

[2020-03-20 08:08] changpe1 commented on #1286
The keep alive command should be high priority, maybe we shouldn't increase the timeout value but make sure SPDK can send keep alive command timely.

[2020-03-20 08:20] richael02 commented on #1295
@changpe1 Thank you. But I don't know why guest driver limits queue number to maximum of core here. For virtio-blk-device, it has no such limit from my test .

[2020-03-20 09:30] mikeBashStuff opened #1296 "Missing nvme devices during the nvmf_nvme_cli test"
This suddenly happened more than once for different builds. E.g:
https://ci.spdk.io/results/autotest-per-patch/builds/7066/archive/nvmf-phy-autotest/build.log
https://ci.spdk.io/results/autotest-per-patch/builds/7060/archive/nvmf-phy-autotest/build.log

[2020-03-20 09:31] spdkci commented on #1296
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_7013.html

[2020-03-20 09:31] spdkci commented on #1296
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_7060.html

[2020-03-20 09:33] spdkci commented on #1296
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_7066.html

[2020-03-20 09:33] spdkci commented on #1296
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_7037.html

[2020-03-20 09:36] spdkci commented on #1210
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_7040.html

[2020-03-20 10:38] dakshajauppalapati96 commented on #1286
Hi

Unable to build TOT SPDK, seen the below errors.

[root@root1 spdk]# ./configure --with-rdma; make -j8; make install
Using default SPDK env in /root/nvme-cli/spdk/lib/env_dpdk
Using default DPDK in /root/nvme-cli/spdk/dpdk/build
RDMA_OPTION_ID_ACK_TIMEOUT is not supported
Configuring ISA-L (logfile: /root/nvme-cli/spdk/isa-l/spdk-isal.log)...done.
Creating mk/config.mk...done.
Creating mk/cc.f

[2020-03-20 11:09] AlekseyMarchuk commented on #1286
@dakshajauppalapati96 it seems that you have a Linux distro with old cunit package. You can disable building of the unit tests by passing `--disable-unit-tests` to configure

[2020-03-20 13:31] spdkci commented on #1296
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_7126.html

[2020-03-20 13:50] spdkci commented on #1296
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_7102.html

[2020-03-20 14:22] peluse commented on #1285
FYI mine passed

[2020-03-20 14:24] peluse opened #1297 "START TEST nvmf_nmic:"
I haven't seen this kind of claim ordering issue in a while.

bdev.c:5230:bdev_open: *ERROR*: Could not open Malloc0 - NVMe-oF Target module already claimed it
subsystem.c:1190:spdk_nvmf_subsystem_add_ns: *ERROR*: Subsystem nqn.2016-06.io.spdk:cnode2: bdev Malloc0 cannot be opened, error=-1
nvmf_rpc.c: 988:nvmf_rpc_ns_paused: *ERROR*: Unable to add namespace
request:
{
  "nqn": "nqn.2016-06.io.spd

[2020-03-20 14:25] spdkci commented on #1297
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_7005.html

[2020-03-20 15:16] mikeBashStuff opened #1298 "Missing fuse binary while running blobfs test"
https://ci.spdk.io/results/autotest-per-patch/builds/7135/archive/BlobFS-autotest/build.log

This also raises an issue with a small inconsistency on how it's determined if FUSE is enabled or not. `autotest_common.sh` looks for two directories, `/usr/include/fuse3` and `/usr/local/include/fuse3`. If either of those doesn't exist it reports that FUSE is not enabled and doesn't pass `--with-fuse` to

[2020-03-20 15:17] spdkci commented on #1298
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_7135.html

[2020-03-20 15:28] spdkci commented on #1298
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_7141.html

[2020-03-20 15:59] spdkci commented on #1296
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_7145.html

[2020-03-20 16:18] tomzawadzki opened #1299 "iscsi_tgt_calsof fails on ttc_ffp_7_7_2"
Calsoft test case failed on a patch that is not related to it.

Please see for SPDK autotest.sh fail log:
https://ci.spdk.io/results/autotest-per-patch/builds/7136/archive/iscsi-autotest/build.log
Along with ttc_ffp_7_7_2:
 https://ci.spdk.io/results/autotest-per-patch/builds/7136/archive/iscsi-autotest/calsoft/tc_ffp_7_7_2.txt

[2020-03-20 16:20] spdkci commented on #1299
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_7136.html

[2020-03-20 19:27] spdkci commented on #1298
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_7181.html

[2020-03-20 21:22] shuhei-matsumoto commented on #1271
Hi @Seth5141

The patch to fix bdev_io_wait issue has been merged. So we may be able to close this issue and open shutdown issue as an new one.

I will check core dump next Monday but do you say the issue did not occur at the very first IO?
Killing the target was in the current tc3? Or the last tc2? If the assert hit at tc3.

[2020-03-20 23:20] spdkci commented on #1294
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_7207.html

[2020-03-20 23:22] Seth5141 commented on #1285
@AlekseyMarchuk's change has been merged, closing.

[2020-03-20 23:27] spdkci commented on #1296
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_7201.html

[2020-03-20 23:28] spdkci commented on #1298
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_7204.html

[2020-03-20 23:29] spdkci commented on #1296
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_7212.html

[2020-03-21 11:42] spdkci commented on #1298
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_7193.html

[2020-03-21 11:42] spdkci commented on #1298
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_7222.html

[2020-03-21 15:27] jkalwas opened #1300 "vtophys is not working when iommu is enabled"
Seems that spdk_vtophys is not working as expected i.e. after translation it shows paddr == vaddr.

## Expected Behavior

[code]

## Current Behavior

[code]

## Steps to Reproduce

[code]

## Context (Environment including OS version, SPDK version, etc.)

Issue reproduced on latest master.
SPDK 004b52fe6c611799d5fb94ca0a6b6c0d24ac5d45
DPDK 3fcb1dd395a870c64450f151a53338034b832906

Step back to DP

[2020-03-22 03:08] ufo19890607 opened #1301 "It takes a long time for updating NVMe firemware"
Hi guys
We intend to upadate NVMe firmware through SPDK RPC(apply_firmware). I found that it will take about 5~10 minutes for the RPC to take effect. By contrast, it just takes 30 secs if I use nvme-cli in host environment. Is it normal?

SPDK version: v20.04-pre
host kernel version: 3.10.0-693
NVMe product: P4510
NVMe fw version: VDV10120

[code]

[2020-03-22 20:44] spdkci commented on #1298
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_7345.html

[2020-03-22 21:24] spdkci commented on #1296
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_7382.html

[2020-03-22 21:26] spdkci commented on #1298
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_7384.html

[2020-03-23 00:12] spdkci commented on #1296
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_7386.html

[2020-03-23 00:19] yidong0635 commented on #1292
@AlekseyMarchuk  I gave comment about your patch, sorry for response lately.
@jimharris  Can you help to make it more clear about the steps to add this break-pints?
add these ones on target or client thread?
Is gdb -p [target thread] ?
b nvme_fabric.c:115
b nvme_complete_request
r
...
It will not going according to my thoughts ,or anyone else can help this?

[2020-03-23 00:22] yidong0635 commented on #1281
patch has been merged, so close this issue.

[2020-03-23 00:22] #1281 closed

[2020-03-23 01:34] spdkci commented on #1297
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_7076.html

[2020-03-23 01:36] spdkci commented on #1096
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_7082.html

[2020-03-23 01:39] changpe1 commented on #1297
@glodfish-zg Could you take a look? Thanks.

[2020-03-23 02:20] glodfish-zg commented on #1297
ok， got it.

[2020-03-23 03:04] changpe1 commented on #1294
See https://ci.spdk.io/results/autotest-per-patch/builds/7393/archive/nvmf-tcp-autotest/build.log,

Error in nvmf_bdev_io_wait test:

nvmf_tgt: sock.c:537: spdk_sock_group_impl_poll_count: Assertion `sock->cb_fn != NULL' failed.
nvme_qpair.c: 475:spdk_nvme_qpair_process_completions: *ERROR*: CQ error, abort requests after transport retry counter exceeded
nvme_qpair.c: 475:spdk_nvme_qpair_process_c

[2020-03-23 03:14] spdkci commented on #1208
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_7397.html

[2020-03-23 03:16] spdkci commented on #1248
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_7398.html

[2020-03-23 03:26] spdkci commented on #1298
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_7400.html

[2020-03-23 03:52] shuhei-matsumoto opened #1302 "nvmf_shutdown_tc3 gets timeout due to repeated spdk_nvme_qpair_process_completions failure"
https://ci.spdk.io/results/autotest-per-patch/builds/7401/archive/nvmf-tcp-autotest/build.log

[2020-03-23 04:15] changpe1 commented on #1297
rdma.c:2748:spdk_nvmf_rdma_listen: *NOTICE*: *** NVMe/RDMA Target Listening on 192.168.100.9 port 4420 ***
 04:47:26	# nvme connect -t rdma -n nqn.2016-06.io.spdk:cnode1 -a 192.168.100.8 -s 4420
 04:47:26	# nvme connect -t rdma -n nqn.2016-06.io.spdk:cnode1 -a 192.168.100.9 -s 4420
Failed to write to /dev/nvme-fabrics: Invalid argument

Here is the log from dmesg.log
[  303.211544] nvme nvme1: rdm

[2020-03-23 04:17] shuhei-matsumoto opened #1303 "spdk_sock_group_impl_poll_count get assert sock->cb_fn != NULL at nvmf_bdev_io_wait"
https://ci.spdk.io/results/autotest-per-patch/builds/7406/archive/nvmf-tcp-autotest/build.log

[code]

[2020-03-23 04:19] shuhei-matsumoto commented on #1271
This issue was gone but https://github.com/spdk/spdk/issues/1303 started to occur with not low probability for per patch test.

[2020-03-23 04:19] spdkci commented on #1303
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_7406.html

[2020-03-23 04:21] spdkci commented on #1298
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_7407.html

[2020-03-23 04:41] changpe1 commented on #1300
@jkalwas DPDK is running default as --iova=va mode, I think the behavior is expected, you can configure the DPDK with --iova-pa mode, then the two addresses should not same.

[2020-03-23 04:45] changpe1 commented on #1303
The issue is same with #1294

[2020-03-23 04:53] changpe1 commented on #1295
@richael02 I didn't reproduce the issue you mentioned here, I also used 2 QEMU cores, and 4 IO queues, in the Guest, I can see 2 queues in /sys/block/vda/mq directory, my QEMU version is 4.1.91.

Here is the QEMU command line I'm using:
build/x86_64-softmmu/qemu-system-x86_64 --enable-kvm -cpu host -smp 2 -m 4G -object memory-backend-file,id=mem0,size=4G,mem-path=/dev/hugepages,share=on -numa node

[2020-03-23 04:55] shuhei-matsumoto commented on #1303
Got it. Thank you @changpe1

[2020-03-23 04:55] #1303 closed

[2020-03-23 05:06] changpe1 commented on #1295
Updated to latest QEMU 4.2.50, still can't reproduce the issue you mentioned.

[2020-03-23 05:36] changpe1 commented on #1298
@mikeBashStuff Nice analysis, I changed the autotest_common.sh to be consistent with other places, https://review.spdk.io/gerrit/c/spdk/spdk/+/1404

[2020-03-23 05:41] liang2yan commented on #1256
@AlekseyMarchuk , please see attached file for the log which I got in two machines testing.
[1326.txt](https://github.com/spdk/spdk/files/4367394/1326.txt)

[2020-03-23 05:58] richael02 commented on #1295
@changpe1  I tried  another ubuntu16 image, the VM boots without error. But if it's bionic image that I use, VM halted.

[2020-03-23 06:13] changpe1 commented on #1295
If there were any issues for the queue initialization, it should stop at the BIOS, but not the OS.

[2020-03-23 06:26] richael02 commented on #1295
@changpe1 I find this link that tries to solve the same problem :
http://qemu.11.n7.nabble.com/PATCH-virtio-add-the-queue-number-check-td706135.html

[2020-03-23 06:48] changpe1 commented on #1295
@richael02 SPDK already switched to DPDK vhost library since 19.07 by default, do you still see the same issue when using SPDK master branch?

[2020-03-23 06:53] richael02 commented on #1295
@changpe1 Yeah SPDK and QEMU that I use are both master branch.

[2020-03-23 07:49] spdkci commented on #1297
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_7422.html

[2020-03-23 07:53] changpe1 commented on #1295
@richael02 I don't see the same issue as you mentioned, after switching a new OS image, do you still encounter this issue for now?

[2020-03-23 08:12] richael02 commented on #1295
@changpe1 Yes, the problem still exits.

[2020-03-23 08:29] spdkci commented on #1298
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_7206.html

[2020-03-23 08:29] spdkci commented on #1296
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_7176.html

[2020-03-23 08:35] changpe1 commented on #1295
@richael02 It may still related with your own image, I can't reproduce in my local environment.

[2020-03-23 08:36] mikeBashStuff commented on #1298
@changpe1 Oh, I also pushed a fix for this https://review.spdk.io/gerrit/c/spdk/spdk/+/1395 - but yours already have +2 on it so let's go with that commit instead. :)

[2020-03-23 08:39] richael02 commented on #1295
@changpe1  I download a fedora image from https://download.fedoraproject.org/pub/fedora/linux/releases/31/Cloud/x86_64/images/Fedora-Cloud-Base-31-1.9.x86_64.raw.xz, and it works. So the problem may be  the ubuntu image I use.

[2020-03-23 08:41] richael02 commented on #1295
Maybe using a ubuntu image can reproduce the problem.

[2020-03-23 08:49] changpe1 commented on #1298
My bad, I didn't notice the gerrit conflict.  Please assign the issue to yourself next time so that no body will look it again, :).

[2020-03-23 08:55] richael02 commented on #1295
@changpe1  I try a fedora image from the following link, it halts too. https://download.fedoraproject.org/pub/fedora/linux/releases/31/Cloud/x86_64/images/Fedora-Cloud-Base-31-1.9.x86_64.raw.xz

It halts here:
####
Welcome to Fedora 31 (Cloud Edition)!

[  154.645067] systemd[1]: Set hostname to <localhost>.
[  154.834483] systemd[1]: /usr/lib/systemd/system/sssd.service:12: PIDFile= references a

[2020-03-23 09:01] changpe1 commented on #1295
What's the dmesg ? You can boot the image without vhost-user-blk, after getting into the OS, add the drive in QEMU with hotplug way.

[2020-03-23 09:10] richael02 commented on #1295
@changpe1 Thank you so much . I will try hotplug way later.
dmesg:

[ 2506.909345] L1TF CPU bug present and SMT on, data leak possible. See CVE-2018-3646 and https://www.kernel.org/doc/html/latest/admin-guide/l1tf.html for details.
[ 8665.770705] traps: qemu-system-x86[27913] trap divide error ip:56020ec122e6 sp:7ffc593f7370 error:0 in qemu-system-x86_64[56020e5e1000+73a000]
[ 8690.140411] traps:

[2020-03-23 09:22] cunyinch opened #1304 "iostat issue"
when I set 9 malloc disk with vhost app :
[Malloc]
NumberOfLuns 12
  # Malloc targets are 128M
LunSizeInMB 128
  # Block size. Default is 512 bytes.
BlockSize 4096

[VhostBlk0]
Path /var/tmp/vhost.0
Dev Malloc0
Cpumask 0x1

[VhostBlk1]
Path /var/tmp/vhost.1
Dev Malloc1
Cpumask 0x2

[VhostBlk2]
Path /var/tmp/vhost.2
Dev Malloc2
Cpumask 0x4

[VhostBlk3]
Path /var/tmp/vhost.3
Dev Malloc3
Cpumask 0x8

[2020-03-23 09:38] #1291 closed

[2020-03-23 10:22] karlatec opened #1305 "[nightly] nvme-phy-nightly-autotest fail on spdk_nvme_cli.sh"
## Current Behavior

Nightly nvme tests fail on spdk_nvme_cli.sh test script.
The reason for fail is:

[code]

## Possible Solution

Something is wrong with spdk/nvme-cli test dependency. Set it up again in clean version on nightly CI systems.

[2020-03-23 10:29] jkalwas commented on #1300
@changpe1 you are right, thank you.
Just in my case unexpected because the underlying behavior has changed between versions (default iova-mode=pa -> va) and it reveals some issues.

There is a fallback to PA within env_dpdk, I'll look more into that.
I assume there is no intention to expose that iova-mode switch so we can close the topic.

[2020-03-23 10:30] karlatec opened #1306 "[nightly] vhost-nightly-autotest fails on vhost_scsi_integrity"
## Current Behavior

vhost-nightly-autotest job fails on vhost_scsi_integrity test ` spdk/test/vhost/fiotest/fio.sh`

Failing part seems to be at the point where we try to do a hot-detach a split nvme bdev from scsi controller:
[code]

## Context (Environment including OS version, SPDK version, etc.)

SPDK head commit is `004b52fe6 test/bdev: Move part_dev_by_gpt() into blockdev.sh`
Cant find a pa

[2020-03-23 10:45] karlatec opened #1307 "[nightly] crypto-nightly-autotest assertion in compress.sh test"
## Current Behavior

crypto-nightly-autotest fails during compress.sh test.
Relevant log parts in snippets below. Full example [build.log](https://github.com/spdk/spdk/files/4368760/build.log) and [core71909.zip](https://github.com/spdk/spdk/files/4368762/core71909.zip) attached.
[code]

[code]

## Context (Environment including OS version, SPDK version, etc.)
SPDK HEAD is now at `004b52fe6 test/b

[2020-03-23 11:08] spdkci commented on #1298
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_7414.html

[2020-03-23 11:10] karlatec commented on #1307
@peluse can you take a look (because crypto)? and @shuhei-matsumoto can you also take a look (because this might be affected by one of your patches)?
Thanks!

[2020-03-23 11:16] karlatec opened #1308 "[nightly] nvmf-tcp-nightly-autotest fails on nvmf_multiconnection"
## Current Behavior

 nvmf-tcp-nightly-autotest fails on nvmf/target/multiconnection.sh --transport=tcp test case.

Does not reproduce 100% each time.

Relevant build log below:
[code]

## Possible Solution

It's a timeout when waiting for connected subsystem. Nothing interesting in dmesg, so it might be just a script bug.

[2020-03-23 12:21] karlatec commented on #1305
Provisioned spdk/nvme-cli on nightly systems from scratch. Should be fine now.

[2020-03-23 13:33] dong-liuliu commented on #1298
it was fixed by Changpeng and Mike.
https://review.spdk.io/gerrit/c/spdk/spdk/+/1404 and https://review.spdk.io/gerrit/c/spdk/spdk/+/1395

[2020-03-23 13:33] #1298 closed

[2020-03-23 14:14] spdkci commented on #1297
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_7467.html

[2020-03-23 14:30] jimharris commented on #1304
Hi Cunyin!  Hope you are doing well.

bdev_set_qd_sampling_period is in units of microseconds.  I think sampling every 1 microsecond is probably too frequent.  1 millisecond (1000 microseconds) should be more than efficient.  1 millisecond is the same time period the Linux kernel uses for sampling queue depth.

I think what is happening here is that the polled timers are constantly expiring, which

[2020-03-23 14:40] AlekseyMarchuk commented on #1256
@liang2yan I left a comment to your patch https://review.spdk.io/gerrit/c/spdk/spdk/+/1350

[2020-03-23 15:36] karlatec commented on #1137
Long time since this issue was last seen. Closing.

[2020-03-23 15:36] #1137 closed

[2020-03-23 15:36] karlatec commented on #1226
@mikeBashStuff
It's been 20 days since last reported. Can we close this one?

[2020-03-23 15:39] karlatec commented on #1230
I added a comment while back:

And we haven't updated the issue since then. Seems it was a FW version issue.

@tomzawadzki you think we can close this one?

[2020-03-23 15:56] karlatec commented on #1305
5/5 pass rate after nvme-cli update. Will wait until tomorrow so that some automatic tests can start and see the result.

[2020-03-23 16:46] peluse commented on #1208
@shuhei-matsumoto I entered an issue for bdev thread exit active channel thingy here: https://github.com/spdk/spdk/issues/1288

I ignored the data mismatch until further investigation because it seemed like the mismatch is the result of another error, not a logic error in the w/r/v path.  If you look at the build log for the last one you submitted above, it also has the active channel error.  The

[2020-03-23 19:36] shuhei-matsumoto commented on #1208
Hi @peluse

Thank you for checking the log and correcting my fault. I had been confused by seeing many issues yesterday. I will not do such fault today

[2020-03-23 20:56] jimharris commented on #1301
In module/bdev/nvme/bdev_nvme.rpc, could you change .nvme_adminq_poll_period_us to 10000 (10ms) instead of 1000000 (1s) and re-run your test?

We need to reduce this default value.  The default 1s was chosen a long time ago, but for cases like firmware download, 1s is much too infrequent.

[2020-03-24 00:13] shuhei-matsumoto commented on #1288
Hi @peluse

I created the patch series (6 patches) starting from https://review.spdk.io/gerrit/c/spdk/spdk/+/1390 to fix this issue.

Please take a look or try.

Previously I/O channel and poller which are allocated in the callback to spdk_get_io_channel() (QoS or bdev module) had been freed when finishing bdev library.

But I/O channel and poller are of SPDK thread. So ensuring they are freed at

[2020-03-24 01:19] glodfish-zg commented on #1286
Can you try this patch--https://review.spdk.io/gerrit/c/spdk/spdk/+/1407

[2020-03-24 02:32] changpe1 commented on #1296
Here is the fix https://review.spdk.io/gerrit/c/spdk/spdk/+/1392. @mikeBashStuff Would you kindly to assign the issue to yourself if you want to submit a fix ? Because we are on different GEOs and time zones, it's really important to avoid the duplicated efforts if someone else also looking into the same issue. Thanks.

[2020-03-24 02:59] optimistyzy commented on #1304
Yesterday I had a talk with @cunyinch, I think that the issue is the define SPDK_MSG_BATCH_SIZE		8 defined in thread.c. We can support only 8 max message according to the static definition of this macro. see the code in _spdk_msg_queue_run_batch.  Currently, I suggest that @cunyinch  increases the value of SPDK_MSG_BATCH_SIZE  as a workaround. But even if there is 8 message to be handled,   it sho

[2020-03-24 02:59] changpe1 commented on #1295
Is the hotplug way can work with your image? Is there any stuck for the hogplug mode ?

[2020-03-24 05:58] shuhei-matsumoto commented on #1307
Hi @karlatec @peluse

I posted a patch to fix this issue https://review.spdk.io/gerrit/c/spdk/spdk/+/1426.
Will you take a look or try it? Besides, I appended a few patches to fix further potential issues and a patch to enable nightly case to simulate the issue.

[2020-03-24 06:16] shuhei-matsumoto commented on #1306
Hi @karlatec

This was my bug and posted a fix. https://review.spdk.io/gerrit/c/spdk/spdk/+/1432
I appended a patch to enable vhost_scsi_integrity per patch test.
This bug is very apparent and so please do not spend your time on such bug.

[2020-03-24 06:19] shuhei-matsumoto commented on #1285
Seth commented closing. So I push close button.

[2020-03-24 06:19] #1285 closed

[2020-03-24 06:22] jiaqizho commented on #1304
I tested this case , when SPDK_MSG_BATCH_SIZE more than 8 , it works.
This issue seem like is rte_ring issue , not a iostat issue.

[2020-03-24 06:25] shuhei-matsumoto opened #1309 "__start_cache_pool_mgmt() of blobfs failed due to out of memory"
This may be infrastructure issue.

https://ci.spdk.io/results/autotest-per-patch/builds/7561/archive/BlobFS-autotest/build.log

[code]

[2020-03-24 06:26] spdkci commented on #1309
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_7561.html

[2020-03-24 06:50] richael02 commented on #1295
@changpe1

If using hotplug way, VM boots. But there is output as follows when booting.
And  then I run " ./scripts/rpc.py  vhost_scsi_controller_add_target vhost.0 0 Malloc0"
But I see no vda in the VM.
root@ubuntu:~# lsblk
NAME   MAJ:MIN RM SIZE RO TYPE MOUNTPOINT
fd0      2:0    1   4K  0 disk
sda      8:0    0  20G  0 disk
└─sda1   8:1    0  20G  0 part /

##########
Loading, please wait...
St

[2020-03-24 06:51] spdkci commented on #1297
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_7568.html

[2020-03-24 06:58] shuhei-matsumoto commented on #1306
I confirmed vhost_scsi_integrity passed
https://review.spdk.io/gerrit/c/spdk/spdk/+/1433/1
https://ci.spdk.io/results/autotest-per-patch/builds/7569/archive/vhost-autotest/build.log

[2020-03-24 07:01] spdkci commented on #1288
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_7570.html

[2020-03-24 07:02] richael02 commented on #1295
Oh I use scsi now , so I see no sdb (not vda) using hotplug

[2020-03-24 07:05] changpe1 commented on #1295
I didn't see any exception about virtio driver in your kernel log messages, looks like your kernel has exception even without virtio device.

[2020-03-24 07:09] richael02 commented on #1295
@changpe1 I'll try other image  later to see what will happen .

[2020-03-24 07:52] shuhei-matsumoto opened #1310 "nvmf_nvme_cli test got Unsupported Get Log Page 0x02"
https://ci.spdk.io/results/autotest-per-patch/builds/7578/archive/nvmf-phy-autotest/build.log

[code]

[2020-03-24 07:53] spdkci commented on #1310
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_7578.html

[2020-03-24 07:55] shuhei-matsumoto commented on #1310
This may be same as #1296

[2020-03-24 07:55] #1310 closed

[2020-03-24 07:56] cunyinch commented on #1304
Hi, Jim,

I just try your approch, it works :), I also try the method Ziye mentioned, set SPDK_MSG_BATCH_SIZE as 16, it works even if we set the  bdev_set_qd_sampling_period as 1, so it should not a bug, just make sure the bdev_set_qd_sampling_period  in a reasonable  range.

[2020-03-24 07:56] spdkci commented on #1296
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_7579.html

[2020-03-24 07:59] cunyinch commented on #1304
@jimharris by the way, Yanbo is working on the https://github.com/jiaqizho/spdk-iostat-tool which adapt to the the latest version of SPDK, looking forword for this :)

[2020-03-24 08:01] shuhei-matsumoto commented on #1307
Sorry for wrong information. These did not fix the issue. https://review.spdk.io/gerrit/c/spdk/spdk/+/1431/2
I'm investigating now.

[2020-03-24 08:25] shuhei-matsumoto commented on #1307
Hi @peluse

struct vbdev_compress has two thread pointers, thread and reduce_thread.
It looks that they have different purpose but both are for the same IO channel base_ch.
This was complicated to me :)
I may want to unify two into one, after this issue is fixed.

[2020-03-24 09:58] spdkci commented on #1294
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_7525.html

[2020-03-24 10:23] spdkci commented on #1294
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_7595.html

[2020-03-24 10:57] richael02 commented on #1295
@changpe1  I tried other images:
bionic-server-cloudimg-amd64.img   cpu=2,num-queues=4  : not work
eoan-server-cloudimg-amd64.img   cpu=2,num-queues=4: work

What's the version of your image?

[2020-03-24 11:39] spdkci commented on #1296
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_7604.html

[2020-03-24 11:39] spdkci commented on #1294
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_7603.html

[2020-03-24 11:49] shuhei-matsumoto commented on #1307
I fixed my bug. The patch is ready to review now.

[2020-03-24 12:23] spdkci commented on #1294
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_7612.html

[2020-03-24 12:37] ufo19890607 commented on #1301
Hi Jim
I've modified nvme_adminq_poll_period_us to 100000 us, and it just costs 36 secs. Below is patch
I've made. Thank you.

[0001-bdev-nvme-Reduce-the-long-time-for-apply_nvme_firmwa.zip](https://github.com/spdk/spdk/files/4375237/0001-bdev-nvme-Reduce-the-long-time-for-apply_nvme_firmwa.zip)

[2020-03-24 12:40] spdkci commented on #1294
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_7618.html

[2020-03-24 12:53] tomzawadzki commented on #1301
Hi @ufo19890607, looks like similar patch was merged today for the same reason as this issue.
https://review.spdk.io/gerrit/c/spdk/spdk/+/1393
This should help you.

Please remember that if you'd like to submit a patch, all contributions are welcome !
See https://spdk.io/development/ for how to submit patch on gerrit.

[2020-03-24 12:53] #1301 closed

[2020-03-24 12:55] tomzawadzki commented on #1300
Thanks @changpe1 !

[2020-03-24 12:55] #1300 closed

[2020-03-24 12:57] tomzawadzki commented on #1296
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/1392 is now merged, this issue should be now solved.

[2020-03-24 12:57] #1296 closed

[2020-03-24 13:14] tomzawadzki commented on #1284
Thanks @karlatec !

[2020-03-24 13:14] #1284 closed

[2020-03-24 13:27] tomzawadzki commented on #1269
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/1194 is now merged.

[2020-03-24 13:27] #1269 closed

[2020-03-24 13:30] tomzawadzki commented on #1264
Looks like no more failures were reported since merging https://review.spdk.io/gerrit/c/spdk/spdk/+/1251.

[2020-03-24 13:30] #1264 closed

[2020-03-24 13:31] #1261 closed

[2020-03-24 13:32] mikeBashStuff opened #1311 "iscsiadm failed to login to the portal during the iscsi_tgt_filesystem test"
https://ci.spdk.io/results/autotest-per-patch/builds/5620/archive/iscsi-autotest/build.log

Similar to https://github.com/spdk/spdk/issues/1259

[2020-03-24 13:33] spdkci commented on #1311
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_7626.html

[2020-03-24 13:48] jimharris commented on #1304
Closing this issue.  We may want to consider increasing SPDK_MSG_BATCH_SIZE, but we can decide that separately from this issue.  Increasing the qd_sampling_period is the correct fix for this issue.

[2020-03-24 13:48] #1304 closed

[2020-03-24 13:50] tomzawadzki commented on #1230
Yes, let's close this one as this outside of spdk/spdk control.

[2020-03-24 13:50] #1230 closed

[2020-03-24 13:51] #1226 closed

[2020-03-24 14:12] spdkci commented on #1294
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_7633.html

[2020-03-24 15:19] spdkci commented on #1294
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_7645.html

[2020-03-24 15:20] tomzawadzki commented on #1311
Bug scrub: @karlatec will check first if this is issue specific to that particular machine. If not, then reassign Jim.

[2020-03-24 15:20] mhae commented on #1275
Attached is my analysis of the interactions between the various components that can lead to a deadlock:
[Deadlock.pdf](https://github.com/spdk/spdk/files/4376100/Deadlock.pdf)

[2020-03-24 15:23] Maciej-Szwed commented on #1309
Another instance: https://ci.spdk.io/public_build/autotest-per-patch_7641.html

[2020-03-24 15:25] karlatec commented on #1308
Fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/1408

[2020-03-24 15:28] karlatec commented on #1311
I see that this failure occurs only on a particular test node. And I think I saw this issue a long time ago.
I did:
[code]

Let's see if that helps.

[2020-03-24 15:34] tomzawadzki commented on #1282
Bug scrub: @karlatec FreeBSD should have been rebooting between builds, turns out after moving to new CI - it does not. Karol will take a look at this.
Along with adding /var/log/messages to the output.

[2020-03-24 15:43] tomzawadzki commented on #1207
Bug scrub: No new reports have been posted since the changes mentioned by Karol month ago were done. Closing.

[2020-03-24 15:57] karlatec commented on #1311
So I did a couple of manual runs of iscsi autotest and all of them passed except for one, and it failed on GP15.
First iscsi test build after commands from previous comment was successful, but then the second one failed with the same reason as in the GH issue. Something may not be cleaned up properly.

[2020-03-24 16:33] spdkci commented on #1294
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_7657.html

[2020-03-24 16:35] spdkci commented on #1297
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_7656.html

[2020-03-24 16:35] spdkci commented on #1297
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_7644.html

[2020-03-24 17:07] dakshajauppalapati96 commented on #1286
Hi @glodfish-zg

Tried with the given patch on SPDK TOT, below error logs are seen on target and initiator respectively.

Target:-

[root@stevo3 spdk]# app/nvmf_tgt/nvmf_tgt -m 0x3F &
[1] 4205
[root@stevo3 spdk]# Starting SPDK v20.04-pre git sha1 3c92d9f / DPDK 19.11.0 initialization...
[ DPDK EAL parameters: nvmf --no-shconf -c 0x3F --log-level=lib.eal:6 --log-level=lib.cryptodev:5 --log-level=us

[2020-03-24 20:00] spdkci commented on #1309
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_7676.html

[2020-03-24 20:55] peluse commented on #1208
This should be covered by 1288

[2020-03-24 20:55] #1208 closed

[2020-03-24 21:40] shuhei-matsumoto commented on #1307
Hi @peluse

I read the source code again and I understand each of comp_bdev->thread and comp_bdev->reduce_thread now. They are fine and so I don't create any patch to merge these into a single variable.

[2020-03-24 21:50] peluse commented on #1307
@shuhei-matsumoto sorry I totally didn't see this in a flood of emails from github :)

Do you have a current idea of root case and fix? I see 2 patches above but didn't look at either as I don't know how old they are.  Glad to help though, let me know what you need me to do!

[2020-03-24 21:51] #1276 closed

[2020-03-24 21:52] shuhei-matsumoto commented on #1307
Hi @peluse

Here is the patch https://review.spdk.io/gerrit/c/spdk/spdk/+/1426.
@karlatec verified the patch fixed the issue.

[2020-03-24 22:12] peluse commented on #1307
@shuhei-matsumoto  OK, that doesn't make any sense to me but I might be misunderstanding something.  Can you check my comment on the patch?

[2020-03-25 02:10] ufo19890607 commented on #1301
Hi tomzawadzki
 I think 10ms is too frequent for spdk reactor, I've tested that if we set the period to 100ms, it just
takes 36 secs  to update the firmware, which is much more appropriate.
$ time ./scripts/rpc.py apply_firmware ./xxx_signed.bin
632f5018-0c5c-49b7-9aa9-aba41291c3d3-nvmen1
"firmware commit succeeded. Controller reset in progress."

real    0m36.209s
user    0m0.056s
sys     0m0.008

[2020-03-25 02:13] glodfish-zg commented on #1297
The issue should be：
test case2: host connect to nvmf target in multiple paths
 09:41:23	# '[' -n 192.168.100.9 ']'
 09:41:23	# /var/jenkins/workspace/nvmf-phy-autotest/spdk/scripts/rpc.py nvmf_subsystem_add_listener nqn.2016-06.io.spdk:cnode1 -t rdma -a 192.168.100.9 -s 4420
rdma.c:2748:spdk_nvmf_rdma_listen: *NOTICE*: *** NVMe/RDMA Target Listening on 192.168.100.9 port 4420 ***
 09:41:23	# nvme

[2020-03-25 02:26] optimistyzy commented on #1297
Is it related with this issue:  https://lore.kernel.org/linux-nvme/20191018091016.GA25478@lst.de/T/ ?

[2020-03-25 03:01] changpe1 commented on #1309
We can't disable the cache pool in blobfs tests, I don't have a good idea to fix it yet. :(.

[2020-03-25 03:03] changpe1 commented on #1295
I used Fedora 29 and Ubuntu 14, both work for me, I installed the image by myself, not download them from the website.

[2020-03-25 04:46] optimistyzy commented on #1294
https://review.spdk.io/gerrit/c/spdk/spdk/+/1448

[2020-03-25 05:04] optimistyzy commented on #1297
Suggest to add this check: To make sure every time the controller is removed: https://review.spdk.io/gerrit/c/spdk/spdk/+/1447

[2020-03-25 05:27] glodfish-zg commented on #1286
@dakshajauppalapati96  OK, the good news is not related to keep-alive cmd anymore........ - - ！！！

[2020-03-25 05:30] spdkci commented on #1294
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_7751.html

[2020-03-25 05:35] spdkci commented on #1309
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_7744.html

[2020-03-25 05:58] shuhei-matsumoto opened #1312 "spdk_io_device_unregister() did not find device when deleting NVMe bdev"
This may be caused by my patch series under review but I saw this first time. So add this here.

https://ci.spdk.io/results/autotest-per-patch/builds/7753/archive/nvmf-phy-autotest/build.log

[2020-03-25 06:14] glodfish-zg commented on #1286
@dakshajauppalapati96  Can you put more logs here or can you verify that there are no keep-alive timeout logs?

[2020-03-25 07:54] #1308 closed

[2020-03-25 08:26] spdkci commented on #1297
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_7767.html

[2020-03-25 08:48] glodfish-zg opened #1313 "iscsi_tgt_ip_migration fio doesn't find jobs"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Logging in to [iface: default, target: iqn.2016-06.io.spdk:target1, portal: 127.0.0.2,3260] (multiple)
Login to [iface: default, target: iqn.2016-06.io.spdk:target1, portal: 127.0.0.2,3260] successful.
 07:49:26	# fiopid=565248
 07

[2020-03-25 08:49] spdkci commented on #1313
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_7766.html

[2020-03-25 09:02] spdkci commented on #1294
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_7668.html

[2020-03-25 09:03] spdkci commented on #1294
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_7677.html

[2020-03-25 09:55] spdkci commented on #1294
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_7794.html

[2020-03-25 10:18] richael02 commented on #1295
Then it relates to the image's  kernel. You can try ubuntu19 from the website to reproduce the problem.

[2020-03-25 10:39] optimistyzy opened #1314 "Accessing memory out of allocated memory when testing bdev_wait_io.sh on NVMe-oF TCP transport"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Configure --enable-debug --enable-asan while configuring SPDK,  then run

./test/nvmf/target/bdev_io_wait.sh --transport=tcp

## Expected Behavior

The test passed
## Current Behavior

==============================================

[2020-03-25 10:44] yidong0635 commented on #852
@AlekseyMarchuk  after installing the right ofed/mofeds, due to the code update of error reporting,
errors are changed:
paste some of them
[perf.txt](https://github.com/spdk/spdk/files/4380336/perf.txt)

[code]

[2020-03-25 11:23] tkulasek opened #1315 "Kernel oops in nvme module on CI machines"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Current Behavior

[code]

Sample log: https://ci.spdk.io/results/autotest-per-patch/builds/7640/archive/iscsi-autotest/dmesg.log

On my development setup I've also noticed that it may create zombie instances of controller (e.g.

[2020-03-25 11:58] optimistyzy commented on #1314
And this issue can be easily reproduce with other tests:
If you start nvme/TCP target with one subsystem to export a malloc device, and use examples/nvme/perf/perf to test, it also can reproduce this issue.  The perf program cannot terminate correctly.

[2020-03-25 12:48] spdkci commented on #1296
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_7806.html

[2020-03-25 12:48] spdkci commented on #1294
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_7805.html

[2020-03-25 13:28] darsto commented on #1315
This happened a few times on CI and might be related to nvme devices changing their numbers in /dev/nvmeX.

[2020-03-25 13:41] optimistyzy commented on #1314
This patch can fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/1459

[2020-03-25 13:49] Seth5141 commented on #1207
I saw this again this morning.

[2020-03-25 13:49] jimharris commented on #1314
Hi Ziye,

ASAN says this is a heap buffer overflow issue, not a memory leak.  Can you clarify?

Thanks,

Jim

[2020-03-25 13:50] spdkci commented on #1207
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_7718.html

[2020-03-25 14:09] jumpapex opened #1316 "bdev_virtio_attach_controller with type user, dev_type blk failed"
bdev_virtio_attach_controller with type user, dev_type blk  failed

## Expected Behavior
It should succeed

## Current Behavior
It failed

## Possible Solution
N/A

## Steps to Reproduce
1. start vhost  (huge page size is 2 M)
    HUGEMEM=4096 scripts/setup.sh
    app/vhost/vhost -g -S /var/tmp
2.  scripts/rpc.py bdev_malloc_create 128 512 -b Malloc0
3.  scripts/rpc.py vhost_create_blk_controller

[2020-03-25 14:23] spdkci commented on #1297
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_7738.html

[2020-03-25 14:27] spdkci commented on #1294
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_7722.html

[2020-03-25 14:58] karlatec commented on #1207
Whoa... so in all cases of "logs not generated" there were multiple failures with `FATAL: java.io.IOException: Unexpected termination of the channel`. It's just that the number of retries was exceeded.
I see a long series of failed builds which caused a massive amounts of test nodes reboot. These builds also had test retries due to "Unexpected termination of the channel".

I didn't go through all

[2020-03-25 22:55] optimistyzy commented on #1314
Hi Jim,

It is a defect that we access memory out of the allocated memory region, there are some issues in pipe library

[2020-03-26 01:26] spdkci commented on #1288
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_7831.html

[2020-03-26 01:54] jumpapex commented on #1316
Further investigation:

[2020-03-26 07:21] dakshajauppalapati96 commented on #1286
Hi @glodfish-zg

Ran the test multiple times with the given patch but keep-alive timeout logs are not seen. Same logs are generated but sometimes the below fatal errors are seen on target.These flushed error logs given in previous comment  are not seen every time fio fails.

Target:-
[root@stevo3 spdk]# app/nvmf_tgt/nvmf_tgt -m 0x3F &
[3] 4571
[2]   Killed                  app/nvmf_tgt/nvmf_tgt -m

[2020-03-26 09:16] spdkci commented on #1207
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_7717.html

[2020-03-26 11:04] dakshajauppalapati96 commented on #1286
Here is to summarize the issue, I see the fio hang even with the patch so above patch does not fix this issue. I described the issue as 'keep alive timeout ' as I initially thought it is due to keep alive. After multiple test runs I see 'keep alive timeouts' intermittently and FIO hang seems to be the real issue. So the patch may just be part of the fix or fixes the aftereffect.

[2020-03-26 12:08] spdkci commented on #1309
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_7858.html

[2020-03-26 12:23] Donaim commented on #1279
The cause of this issue has to be in the use of `vm_setup.sh` to install OCF which should have been deprecated long time ago since we switched to submodule.
I will submit a patch that removes OCF part from vm_setup script.

As for using non standard ocf path, it is user's responsibility ensure compatibilty with our submodule version.

[2020-03-26 12:35] Donaim commented on #1241
I will investigate the error this week. There was no new changes in OCF since like half a year, so this issue must be really rare.

[2020-03-26 13:13] spdkci commented on #1294
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_7946.html

[2020-03-26 13:24] Donaim commented on #1287
I will investigate this issue this week

[2020-03-26 14:01] mikeBashStuff commented on #1268
It would be really appreciated if you provided some details regarding the version of your system (distro, kernel, etc.) and the SPDK release you are using. Additionally, as core(5) states, there's plenty of scenarios in which a core file won't be written out by the kernel, thus please make sure your system environment adheres to all the requirements needed.

The less common scenarios that I can th

[2020-03-26 14:10] spdkci commented on #1296
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_7828.html

[2020-03-26 14:18] spdkci commented on #1309
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_7959.html

[2020-03-26 14:19] spdkci commented on #1312
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_7961.html

[2020-03-26 14:23] AlekseyMarchuk commented on #1312
I found the same assert in CI results for my patch https://review.spdk.io/gerrit/c/spdk/spdk/+/1462

[2020-03-26 14:58] Donaim commented on #1287
Issue does reproduce on my setup as well.
I will investigate if metadata has something to do with this, because configuration file in OCF had higher priority than disk metadata, which may not be true for json configuration.

[2020-03-26 15:19] Donaim opened #1317 "vhost autotest timeout"
vhost autotest timedout in `vhost_blk_lvol_integrity`

## Expected Behavior

Test passes as usual

## Current Behavior

Test failed

## Steps to Reproduce

Reproduced once on CI with this error log ([full](https://ci.spdk.io/results/autotest-per-patch/builds/7974/archive/vhost-autotest/build.log)):
[code]

[2020-03-26 15:22] spdkci commented on #1317
Another instance of this failure. Reported by @Donaim. log: https://ci.spdk.io/public_build/autotest-per-patch_7974.html

[2020-03-26 16:26] Donaim commented on #1316
This issue looks similar to #1206, but I doubt it is actually related.
I will investigate some more into this issue and try to reproduce on my setup.

[2020-03-26 16:46] Donaim commented on #1279
Submitted a patch for `vm_setup.sh` bug: https://review.spdk.io/gerrit/c/spdk/spdk/+/1496
We should be done with this issue after it gets merged, do you agree @mikeBashStuff ?

[2020-03-26 16:49] Donaim commented on #1241
Probably related to https://github.com/spdk/spdk/issues/1287

[2020-03-26 16:52] Donaim commented on #1241
Probably related to #1287 because I get the same error message when using json config

[2020-03-26 16:59] xinglin commented on #1286
I am seeing the same error here when compiling spdk at commit 760c98651e7a967b34e110603b306060cbd88032 as well.

Error:
/root/spdk/test/unit/lib/blob/blob.c/blob_ut.c:6568: undefined reference to `CU_add_suite_with_setup_and_teardown'.

OS: CentOS Linux release 7.5.1804 (AltArch)
CUNIT:
Package CUnit-devel-2.1.3-8.el7.aarch64 already installed and latest version
Package CUnit-2.1.3-8.el7.aarch64 a

[2020-03-26 17:41] mikeBashStuff commented on #1279
@Donaim Agreed - compiling against the ocf submodule works like a charm.

[2020-03-26 21:41] shuhei-matsumoto opened #1318 "NVMe-oF TCP gets connection refused at nvmf_target_disconnect_tc2"
https://ci.spdk.io/results/autotest-per-patch/builds/7938/archive/nvmf-tcp-autotest/build.log

[code]

[2020-03-26 21:43] spdkci commented on #1318
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_7938.html

[2020-03-27 02:53] bharatpotnuri commented on #1286
@xinglin --disable-unit-tests --disable-tests should work

[2020-03-27 03:32] ChenBo2333 commented on #1048
I tried to reproducce this issue but failed;
Target side version is openSUSE Leap 15.1 and 4.12.14 kernel;
When I run perf bdev in host side and run the nvmetcli clear command at target side , the perf bdev was not affected and target side showed `PermissionError: [Errno 1] Operation not permitted: '/sys/kernel/config/nvmet/ports/1/ana_groups/1'`.

[2020-03-27 03:43] glodfish-zg commented on #1286
@dakshajauppalapati96  Sorry, I tried multi times but I can't reproduce this issue with my patch. Could you also add this patch  https://review.spdk.io/gerrit/c/spdk/spdk/+/1515 and test again? Or could you change the trtype to TCP and see what happens.

[2020-03-27 04:20] spdkci commented on #1299
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_8050.html

[2020-03-27 05:40] glodfish-zg commented on #1297
@Seth5141.  could you help to take a look, you are more familiar with rdma. Thanks.

[2020-03-27 06:08] optimistyzy opened #1319 "Frequent iSCSI test fail in CI system related with RPC"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Most of patch fails due to the rpc issue in the following log:
https://ci.spdk.io/results/autotest-per-patch/builds/8063/archive/unittest-autotest/build.log

## Expected Behavior

The test should pass

## Current Behavior

Failed.

[2020-03-27 08:18] AlekseyMarchuk commented on #1302
Repeated spdk_nvme_qpair_process_completions failures were not the cause of timeout, nvmf_shutdown_tc3 test finished in 3 seconds:
[code]
The test suite started at 04:11:02 and the last command before timeout was
[code]
This issue is similar to #1283. I'm closing this one as a duplicate

[2020-03-27 08:18] #1302 closed

[2020-03-27 09:17] mikeBashStuff commented on #1287
@Donaim I don't really know what changed, but I can't see this issue anymore after a rebase I did recently. https://ci.spdk.io/results/autotest-per-patch/builds/7983/archive/nvme-autotest/build.log - the `ocf_fio_modes` now passes successfully with bunch of other ocf tests that have been moved to json.  That said, there's still a new issue with OCF that surfaced but under a different test so I wil

[2020-03-27 09:50] mikeBashStuff opened #1320 "Unexpected results from bdev_ocf_get_bdevs"
This has been seen while working on moving the .ini config to json in the `ocf_persistent_metadata` test.

There are two app runs to see if OCF data persisted on the nvme device. First run uses following json:
[code]
the `iscsi_tgt` loads this config without any hiccups and call to the `bdev_ocf_get_bdevs` returns the following:
[code]

Now, `iscsi_tgt` is killed and the started again with the fol

[2020-03-27 10:04] mikeBashStuff commented on #1287
New issue under https://github.com/spdk/spdk/issues/1287, just fyi.

[2020-03-27 10:12] Donaim commented on #1320
This looks to me like the metadata is getting in the way of creating OCF devices with RPC.
I will test if clearing the NVMe will help. (we already do that in examine tests)

[2020-03-27 10:24] Donaim commented on #1320
Apparently, Nvme0n1 metadata is the same as of Nvme0n1p0, so OCF creates one ocfWT based on Nvme0n1, (but it is claimed, so that is not possible) and then the second one based on Nvme0n1p0.

I think we should store cache name in OCF metadata as well, because currently only cores names are checked.

I will try to submit a fix today

[2020-03-27 10:31] mikeBashStuff commented on #1320
@Donaim Awesome, thanks for looking into this! :)

[2020-03-27 12:18] karlatec commented on #1305
Looks good for now

[2020-03-27 12:18] #1305 closed

[2020-03-27 12:20] karlatec commented on #1271
If so, then can this issue be closed?

[2020-03-27 12:35] spdkci commented on #1311
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_8108.html

[2020-03-27 12:35] spdkci commented on #1311
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_8106.html

[2020-03-27 12:35] karlatec commented on #1319
That doesn't look like a related issue
[code]

[2020-03-27 12:35] spdkci commented on #1311
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_8111.html

[2020-03-27 12:35] spdkci commented on #1311
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_8094.html

[2020-03-27 12:36] spdkci commented on #1311
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_8101.html

[2020-03-27 13:02] AlekseyMarchuk commented on #852
@yidong0635 I suggest excluding connectivity issues between your nodes. Could you try to run ib_write_bw tool (part of MOFED) on target and initiator nodes and check if it reports any errors?
On my side the commands look like this:
Target: `sudo ib_write_bw --rdma_cm --bidirectional --all --ib-dev=mlx5_1 --run_infinitely`
Initiator: `sudo ib_write_bw --rdma_cm --bidirectional --all --ib-dev=mlx5_1

[2020-03-27 13:21] karlatec commented on #1311
Ha, I was right that this issue was raised before: https://github.com/spdk/spdk/issues/779

[2020-03-27 13:32] karlatec commented on #1311
Proposed solution to avoid the issue: https://review.spdk.io/gerrit/c/spdk/spdk/+/1539

I think this could be improved even more by investigating traps in iscsi_tgt tests. I have a feeling that they don't work quite properly, that's why there are leftover files after fails...

[2020-03-27 13:56] mhae commented on #1273
@jimharris, I think we still have another corner case where the controller is freed:

[code]

The ctrlr structure is invalid so there must be another path where it is being freed before the reset is happening. I'm happy to add more tracing if that would help. You fix definitely reduced the number of failures but it still happens from time to time.

[2020-03-27 14:17] dakshajauppalapati96 commented on #1286
Hi @glodfish-zg

On my machines fio hangs intermittently, sometimes issue is seen in 95th iteration or sometimes  in 8th iteration, cannot estimate when it fails.
Same behavior is seen with https://review.spdk.io/gerrit/c/spdk/spdk/+/1515 patch, below are the logs. Also tried by changing trtype to TCP, fio hangs intermittently in tcp too, as of now no logs are seen for TCP.

For TCP:-

Initiator:-

[2020-03-27 14:53] spdkci commented on #1311
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_8092.html

[2020-03-27 14:59] jimharris commented on #1273
Thanks @mhae!  I'll take a look and let you know if I need any more tracing.

[2020-03-27 15:00] jimharris commented on #1273
Reopening based on this feedback from @mhae.  Callstack is a bit different but let's just continue to use this issue rather than opening a new one.

[2020-03-27 15:57] Donaim commented on #1320
I submitted a patch that fixes attaching to wrong cache device:  https://review.spdk.io/gerrit/c/spdk/spdk/+/1544
I will reproduce original issue to check if there is something else to this.

[2020-03-27 19:54] mhae commented on #1275
@tomzawadzki, @Maciej-Szwed, have you had a chance to try to repro the issue? I do have a workaround in the pciehp driver that makes it more robust.

[2020-03-27 22:46] benlwalker opened #1321 "bdev_verify failed: thread bdevperf_reactor_0 still has active channel for io_device sw_accel_engine"
************************************
START TEST bdev_verify
************************************
 00:04:46	# xtrace_enable
 00:04:46	# /var/jenkins/workspace/ubuntu18-autotest/spdk/test/bdev/bdevperf/bdevperf --json /var/jenkins/workspace/ubuntu18-autotest/spdk/test/bdev/bdev.conf -q 128 -o 4096 -w verify -t 5
Starting SPDK v20.04-pre git sha1 481fbadd3 / DPDK 19.11.0 initialization...
[ DPDK EAL

[2020-03-27 22:47] spdkci commented on #1321
Another instance of this failure. Reported by @benlwalker. log: https://ci.spdk.io/public_build/autotest-per-patch_8188.html

[2020-03-28 00:25] optimistyzy commented on #1319
@karlatec I also see patches from others have the same behavior

[2020-03-28 01:07] spdkci commented on #1314
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_8192.html

[2020-03-28 01:35] optimistyzy commented on #1319
https://ci.spdk.io/results/autotest-per-patch/builds/8065/archive/iscsi-autotest/build.log

[2020-03-28 09:42] gwnet opened #1322 "SPDK does not support nvme self test command on intel 4510 disk"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

Please check below yellow highlight. I run this on intel NVMe 4510 disk. Could you please help check root cause for me? If HW issue or SPDK issue?

Starting SPDK v20.04-pre git sha1 b8eaa9679 / DPDK 19.11.0 initialization...
[ DPDK

[2020-03-29 02:49] spdkci commented on #1294
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_8055.html

[2020-03-29 04:41] spdkci commented on #1319
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_8204.html

[2020-03-29 12:43] gwnet commented on #1048
@jimharris @ChenBo2333 hello buddy, I have work around this issue by remove AER enabling at SPDK host side to kernel target. kernel target did not crash any more. actually we do not need AER to monitor NVMe disk health. Thank you so much. you can close this now.

[2020-03-29 12:44] gwnet commented on #1268
Thank you so much. last week, we got one dump successfully, it is our app issue. could you please keep this open for a while, just monitoring if there is new issue from our side?

[2020-03-30 01:22] shuhei-matsumoto commented on #1321
Hi @benlwalker

This is duplicated with https://github.com/spdk/spdk/issues/1288.
I have posted patches to fix this issue starting from https://review.spdk.io/gerrit/c/spdk/spdk/+/1390.
Will you review them when you can?

[2020-03-30 01:23] shuhei-matsumoto commented on #1306
Patch has been merged.

[2020-03-30 01:23] #1306 closed

[2020-03-30 01:26] shuhei-matsumoto commented on #1271
@karlatec has opened new issues after this was fixed. So let's close this issue. Thank you Karol.

[2020-03-30 01:26] #1271 closed

[2020-03-30 01:47] yidong0635 commented on #852
@AlekseyMarchuk
Ok, I will try to run this commands:
and compared with the configs :
the key factor is "bs": ["1048576"] (reports above error )vs "bs": ["4096"] ( no error),  rwmixread : 50, (write causes error, so "0" is more likely )

[2020-03-30 05:56] yidong0635 commented on #852
@AlekseyMarchuk  use this two machine (one target and one client with above config) can  also reproduce this issue. And the following is the
`"ib_write_bw --rdma_cm --bidirectional --all --ib-dev=mlx5_1 --run_infinitely"` log
[code]

[2020-03-30 06:01] spdkci commented on #1297
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_8210.html

[2020-03-30 07:08] glodfish-zg commented on #1286
@dakshajauppalapati96  For the TCP, maybe it does not hang, you can increase the runtime. I want you to try tcp because I thought maybe it's the rdma issue.

[2020-03-30 07:30] spdkci commented on #1297
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_8222.html

[2020-03-30 08:54] spdkci commented on #1294
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_7943.html

[2020-03-30 12:10] mikeBashStuff commented on #1320
@Donaim I just tested your patch with my changes and everything worked fine - second call to `bdev_ocf_get_bdevs` returned same data as the first one as expected. :)

[2020-03-30 13:05] spdkci commented on #1309
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_8267.html

[2020-03-30 14:36] jimharris commented on #1322
Hi @gwnet,

This is not an SPDK issue.  SPDK is only reporting what the SSD says it supports.  In this case, the SSD does not support device self-test.

-Jim

[2020-03-30 14:37] jimharris commented on #1048
Thanks @gwnet.  Closing this issue.

[2020-03-30 14:37] #1048 closed

[2020-03-30 14:47] dakshajauppalapati96 commented on #1286
Hi @glodfish-zg

For TCP, I have tried by increasing the runtime from 5 to 20, fio hangs. Also tried with runtime 100, as of now test ran for 2 hours issue isn't seen but will let it run. How does that effects with less runtime in TCP?

[2020-03-30 15:11] jimharris commented on #1288
Hi @shuhei-matsumoto,

I have reviewed the patches.  The code itself looks OK, but the new nest_level I think will be challenging for new readers to understand.

Can you or @peluse list the specific steps that are causing this issue?  @optimistyzy describes it a little bit earlier in this thread, but a more formal, detailed description would help me understand it more clearly.

Thanks,

-Jim

[2020-03-30 20:09] benlwalker opened #1323 "nvmf_shutdown_tc3: I/O connect with duplicate QID"
[code]

NVMe-oF with RDMA transport. The test before it consisted of running bdevperf against the target, and then bdevperf was killed using SIGTERM. Then, when bdevperf reconnects, it gets the above error. It seems like the old connection hasn't been cleaned up on the target, although it should have because it was only a SIGTERM.

[2020-03-30 20:10] Seth5141 commented on #1294
These failures all share an assert hitting on the target side while polling the sock group.

[2020-03-30 20:10] benlwalker commented on #1323
https://ci.spdk.io/results/autotest-per-patch/builds/8281/archive/nvmf-phy-autotest/build.log

[2020-03-30 20:20] jimharris commented on #1323
Is this a duplicate of #1096?

[2020-03-30 22:12] Seth5141 commented on #1294
This looks to be a case of us removing a socket from the poll group within the context of a call to sock_group_poll. See the traceback below:

[code]

The assert we are hitting in step 4 is "assert(sock->cb_fn != NULL);". The only way that a a sockets cb_fn can be set to null is if it is removed from a pol group. But if it has already been removed from a poll group, we won't get any more socket ev

[2020-03-30 22:48] shuhei-matsumoto opened #1324 "Support IPv6 Link Local Addresses in SPDK iSCSI target"
In IPv4, link local addresses are normally only used when no external, stateful
mechanism of address configuration exists, such as DHCP.

On the other hand, IPv6 requires a link-local address on every network interface
even when routable addresses are also assigned.

So when using an IPv6 link-local address to connect to a host, a zone index must
be added to the address so that the packets can be

[2020-03-30 22:52] shuhei-matsumoto commented on #1288
Hi @jimharris @peluse

Thanks for your review. Your question is very reasonable. I will try to give such explanation. Please stay tune.

[2020-03-31 00:28] peluse opened #1325 "iscsi_autotest timeout failure"

[2020-03-31 00:29] spdkci commented on #1325
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_8036.html

[2020-03-31 01:42] spdkci commented on #1288
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_8305.html

[2020-03-31 02:39] changpe1 commented on #1323
Can we use SIGTERM instead of kill -9 for the shutdown tests, I found if I used Ctrlr + C to kill the process, the NVMF target can destroy the related old controller resource.

[2020-03-31 02:56] yidong0635 opened #1326 "nvmf_tgt exit and report error if binding with a wrong address"
# Issue:
commit: b8eaa9679132c5e701c7ecd5bd1050ed1bc2a458
[code]
./configure --with-rdma --enable-asan

nvmf target will exit and report memory leaks.

reconnmalloc.json
[reconn.txt](https://github.com/spdk/spdk/files/4406487/reconn.txt)

[2020-03-31 02:58] changpe1 commented on #1326
Thanks @yidong0635, will you take a look ?

[2020-03-31 03:33] yidong0635 commented on #1326
ok , I got the solution.

[2020-03-31 04:10] yidong0635 commented on #1326
https://review.spdk.io/gerrit/c/spdk/spdk/+/1595

[2020-03-31 05:30] shuhei-matsumoto commented on #1288
Hi @jimharris

Would you check the following?

### bdev I/O channel
For each bdev, a single bdev module is associated.

Each I/O channel has extra resource associated with a particular I/O device.

Each bdev is registered as two I/O devices nestedly, the first I/O device is of the generic bdev layer and the second I/O device is of the associated bdev module.

### Create bdev I/O channel

For a bde

[2020-03-31 07:59] #1311 closed

[2020-03-31 08:00] #1314 closed

[2020-03-31 08:11] spdkci commented on #1312
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_3.html

[2020-03-31 12:05] mikeBashStuff opened #1327 "qat_setup.sh failed to create VFs for all the QAT devices"
https://ci.spdk.io/results/autotest-per-patch/builds/8517/archive/vhost-autotest/build.log

`0000:85:00.0` and `0000:86:00.0` were reported by the kernel as busy during the attempt of adding VF devices on top of them.

https://ci.spdk.io/results/autotest-per-patch/builds/8517/archive/vhost-autotest/dmesg.log

[2020-03-31 12:06] spdkci commented on #1327
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_8517.html

[2020-03-31 12:23] spdkci commented on #1318
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_8535.html

[2020-03-31 12:25] spdkci commented on #1288
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_8536.html

[2020-03-31 12:54] spdkci commented on #1288
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_8528.html

[2020-03-31 13:41] spdkci commented on #1288
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_8549.html

[2020-03-31 13:53] spdkci commented on #1252
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_8279.html

[2020-03-31 14:00] spdkci commented on #1309
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_8146.html

[2020-03-31 14:36] spdkci commented on #1288
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_8537.html

[2020-03-31 14:58] spdkci commented on #1312
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_8302.html

[2020-03-31 15:06] spdkci commented on #1312
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_8308.html

[2020-03-31 15:08] spdkci commented on #1312
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_8306.html

[2020-03-31 15:08] spdkci commented on #1312
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_8307.html

[2020-03-31 15:45] EugeneKochetov opened #1328 "SPDK doesn't work with NMVf targets not supporting Get/Set Feature "Keep Alive Timer""
NVMe spec defines "Keep Alive Timer" feature ID as optional and there are targets that do not support this. SPDK fails to connect to such targets. Linux kernel NVMe driver works fine with the same target.

## Expected Behavior

SPDK connects and works with NVMf target not supporting Get/Set Feature "Keep Alive Timer".

## Current Behavior

SPDK controller initialization fails on SET_KEEP_ALIVE_TIM

[2020-03-31 17:58] jimharris commented on #1288
Thanks @shuhei-matsumoto!  This explanation helped me a lot.

I have an alternate idea - let me know if this would help fix this issue.  I have only compile-tested this RFC patch.

https://review.spdk.io/gerrit/c/spdk/spdk/+/1608

[2020-03-31 18:06] peluse commented on #1288
Phew, good stuff @shuhei-matsumoto!

[2020-03-31 20:22] shuhei-matsumoto commented on #1288
Hi @jimharris

I replied to your RFC patch. Callback to I/O channel can allocate not only I/O channel but also poller. That says we have to move pending message check to the head of spdk_thread_exit(). This is too relaxed and does little? So I think we need to introduce some tree concept into I/O channel and poller as I figured out by my patches.

[2020-03-31 22:14] Seth5141 commented on #1312
@shuhei-matsumoto @AlekseyMarchuk I have a proposed fix for this failure here. https://review.spdk.io/gerrit/c/spdk/spdk/+/1611. It fixes a loophole where we could be registering multiple nvme bdev ctrlr_destruct pollers for the same controller.

[2020-04-01 01:19] glodfish-zg commented on #1286
hi @dakshajauppalapati96
I am not so familiar with fio, but I found that when the runtime is short and fio setup process needs the time more than runtime sometime fio would hang. Maybe you can also increase the runtime of rdma.

[2020-04-01 03:47] gwnet commented on #1322
@jimharris thank you so much, I review the code and SPDK fetch the NVMe drive oacs register to decide if the drive has the self test capability. thank you so much again. we are clear now.

[2020-04-01 03:50] Comphix commented on #1322
Close this issue.

[2020-04-01 03:50] #1322 closed

[2020-04-01 03:53] Comphix commented on #1316
@liang2yan , please also try to reproduce this one locally.

[2020-04-01 05:08] liang2yan commented on #1316
I reproduced this issue with latest spdk master branch locally. The log is as below:

[code]

But if I increase the hugepage count("HUGEMEM=8192 ./scripts/setup.sh"), then this issue will disappear.

[2020-04-01 07:04] Comphix commented on #1316
@jumpapex, will you first try the 8192 number of hugepages? Thanks.

[2020-04-01 07:12] Donaim commented on #1183
I will try to reproduce this issue this weak, although, I don't have that much RAM, so my hope is that it can be reproduced on smaller amounts.

One note on conversion units:
-  0x1ec0000000 = 123 Gibibyte = 2 ^ 30 * 123 (got from QEMU)
- 135291469824 = 126 Gibibyte = 2 ^ 30 * 126 (in SPDK)

Do I understand correctly that bdevs were created with size equal to 126 GB?

[2020-04-01 07:50] vonnyfly commented on #1183
No, the bdev size is 10-30G, the Guest OS memory is neally 120+ GiB, I have forgot the the accurate memory.

[2020-04-01 08:16] spdkci commented on #1288
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_8581.html

[2020-04-01 08:19] Donaim commented on #1183
In that case, numbers look ok to me becase `memap_offset + memory_size = 0xc0000000 + 0x1ec0000000 = 135291469824`

What was the error that caused SPDK to crash?
Does backtrace show the place where error happened?
@vonnyfly

[2020-04-01 08:22] jumpapex commented on #1316
@Comphix, I think an enough large hugepage will shadow this issue, but not resolve it.

[2020-04-01 08:31] vonnyfly commented on #1183
Yes ,the backtrace is the crash loc.The crash is triggered by SIGBUS.
Looks like  hugepage memory is not enough.
However, the mmap before is success. That's weird.

I have written test program to test the mmap behavior, if no enough memory, the mmap will return fail.

[2020-04-01 10:15] spdkci commented on #1309
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_8682.html

[2020-04-01 10:17] spdkci commented on #1297
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_8683.html

[2020-04-01 10:23] #1256 closed

[2020-04-01 10:39] spdkci commented on #1309
Another instance of this failure. Reported by @karlatec. log: https://ci.spdk.io/public_build/autotest-per-patch_8693.html

[2020-04-01 10:48] spdkci commented on #1312
Another instance of this failure. Reported by @Donaim. log: https://ci.spdk.io/public_build/autotest-per-patch_8694.html

[2020-04-01 11:02] Donaim commented on #1287
The issue still reproduces on my setup.
I am investigating.
Pretty sure that we need to do similar `dd` trick as in `ocf/management/persistant.sh`

[2020-04-01 12:15] Donaim commented on #1287
Indeed it was the issue and `dd` trick helps.
I will submit a fix today.

The issue was that OCF prioritizes configuration file higher than disk metadata, so when we were using config file, metadata was not in the way. In case of json config, metadata is read first. So the fix is to clear metadata by erasing the disk.

Related to this fix - I will try to add a helper script that clears the disk an

[2020-04-01 13:34] spdkci commented on #1297
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_8722.html

[2020-04-01 14:52] spdkci commented on #1288
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_8730.html

[2020-04-01 14:53] spdkci commented on #1288
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_8732.html

[2020-04-01 14:55] darsto commented on #1275
I spent a few hours on this today and need to take a break now. I'm hoping we could somehow skip the SIGBUS handler for vfio devices and rely entirely on vfio-specific hotremove request notifier to initiate hotremoval. It needs to be verified, but the chance is the notification is sent after pciehp_ist processes the interrupt (and unlocks the spinlock). That's what I'm going to start with tomorrow

[2020-04-01 15:03] spdkci commented on #1288
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_8735.html

[2020-04-01 15:19] Donaim commented on #1287
Submited the fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/1628

[2020-04-01 15:20] Donaim commented on #1241
I proposed a fix to #1287 which should apply to this issue as well

[2020-04-01 15:25] mhae commented on #1275
Thanks for the update, @darsto. It would be great if we could delay the calls into vfio from the SPDK/DPDK side. Please note that the bdev hotplug poller eventually causes calls into vfio as well.
There is a potential kernel fix as well but it is questionable if it will be upstreamed and when (https://www.spinics.net/lists/linux-pci/msg92858.html)

[2020-04-01 15:59] darsto commented on #1275
Yes. I doubt we can rely on any kernel patches atm. They need to be thought-out a lot to ensure they don't introduce any other deadlocks. Even then, some distros may never see them.

For hotplug it's less critical. Even if we require a device to be present on the bus for at least 5 seconds before we vfio-initialize it, it's still going to be sort of OK, I think.

[2020-04-01 16:10] Seth5141 commented on #1237
I am closing this since we know the underlying issue is this fio bug with not reconstructing the random seed correctly.

[2020-04-01 16:10] #1237 closed

[2020-04-01 16:15] Seth5141 commented on #1323
It is a duplicate @jimharris Thanks for pointing that out. We'll address this one from #1096

[2020-04-01 16:15] #1323 closed

[2020-04-01 16:28] mhae commented on #1275
@darsto agreed. But again, keep in mind that we have 2 paths into VFIO during hot remove: detaching the device (spdk_detach_rte_cb) AND opening it via DPDK device probing that is being executed as part of the our bdev hot plug poller. It's the latter I'm not sure how to handle correctly or delay.

[2020-04-01 17:00] spdkci commented on #1312
Another instance of this failure. Reported by @Donaim. log: https://ci.spdk.io/public_build/autotest-per-patch_8749.html

[2020-04-01 19:16] Seth5141 commented on #1227
Closing this as a duplicate of #1252. They exhibit the exact same stack trace.

[2020-04-01 19:16] #1227 closed

[2020-04-01 21:15] spdkci commented on #1309
Another instance of this failure. Reported by @benlwalker. log: https://ci.spdk.io/public_build/autotest-per-patch_8784.html

[2020-04-01 22:05] Seth5141 commented on #1297
Hi all,

I did some looking into this and can confirm that it's failing in response to a call to rdma_connect within the kernel. See the kernel source at drivers/infiniband/core/cma.h:rdma_connect. Unfortunately, within that function there are lots of possible reasons for -EINVAL to be returned. None of them print any debug information so it doesn't really help us when trying to figure out where t

[2020-04-02 01:12] changpe1 commented on #1326
Patch was merged, close this issue.

[2020-04-02 01:12] #1326 closed

[2020-04-02 04:05] changpe1 commented on #1327
[Bug Scrub] Could you take a look? Thanks.

[2020-04-02 04:11] changpe1 commented on #1321
Closing this issue.

[2020-04-02 04:11] #1321 closed

[2020-04-02 04:15] changpe1 commented on #1319
[Bug Scrub] Could you take a look ?

[2020-04-02 04:18] changpe1 commented on #1317
[Bug Scrub] @Donaim Could you take a look? Thansk

[2020-04-02 04:24] changpe1 commented on #1315
[Bug Scrub] @karlatec Maybe this issue related with kernel version, we can update the kernel version and see this issue is still exist or not.

[2020-04-02 04:29] changpe1 commented on #1309
[Bug Scrub] @Seth5141 will take a look.

[2020-04-02 04:32] changpe1 commented on #1297
[Bug Scrub] Let see if the issue still exist or not after updating to a new kernel version.

[2020-04-02 07:31] spdkci commented on #1297
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_8751.html

[2020-04-02 07:35] spdkci commented on #1288
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_8804.html

[2020-04-02 07:37] spdkci commented on #1288
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_8805.html

[2020-04-02 07:37] spdkci commented on #1288
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_8803.html

[2020-04-02 07:48] karlatec commented on #1297
@Seth5141
Updated kernel to 5.5.10 on GP14 and WP4. See if that helps.

[2020-04-02 07:58] spdkci commented on #1309
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_8759.html

[2020-04-02 08:03] spdkci commented on #1288
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_8750.html

[2020-04-02 08:05] spdkci commented on #1312
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_8746.html

[2020-04-02 08:08] spdkci commented on #1318
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_8762.html

[2020-04-02 08:53] spdkci commented on #1319
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_8821.html

[2020-04-02 09:27] spdkci commented on #1318
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_8827.html

[2020-04-02 10:51] Donaim commented on #1317
Sure, I will try to reproduce this locally this week

[2020-04-02 11:27] spdkci commented on #1312
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_8824.html

[2020-04-02 12:51] shuhei-matsumoto commented on #1288
Hi @jimharris

The patch series are ready to review again. I knew that bdev QoS channel is not released by nested call as demonstrated by basic_qos test case in test/unit/bdev/mt/bdev.c/bdev_ut.

So some heuristics are necessary and polling until all resource are free or ready to free after calling spdk_thread_exit() looks good idea.

I inserted a patch to hold nested relationship but it is only u

[2020-04-02 14:54] shuhei-matsumoto commented on #1288
Additional findings.
I knew that I did not check return code of spdk_thread_exit() in bdevperf tool.
blob_io_wait test case in the test pool always fails spdk_thread_exit() because active poller is still registered.

[code]

I think this result also shows the idea, thread_exit; while (!thread_is_exited) { thread_poll; }; thread_destroy is good.

Thanks for your great insight Jim! See you later.

[2020-04-03 03:53] shuhei-matsumoto opened #1329 "bdev_verify test failed due to buffer mismatch"
https://ci.spdk.io/results/autotest-per-patch/builds/8926/archive/ubuntu18-autotest/build.log

[code]

[2020-04-03 03:55] spdkci commented on #1329
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_8926.html

[2020-04-03 06:32] spdkci commented on #1312
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_8950.html

[2020-04-03 06:39] spdkci commented on #1309
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_8834.html

[2020-04-03 06:40] spdkci commented on #1294
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_8848.html

[2020-04-03 06:42] spdkci commented on #1297
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_8939.html

[2020-04-03 06:44] spdkci commented on #1329
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_8945.html

[2020-04-03 06:48] spdkci commented on #1329
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_8944.html

[2020-04-03 07:29] Donaim commented on #1183
So, I couldn't reproduce this issue on my machine with 40Gb of hugepages by running SPDK with 3 bdevs on the VM.
Could you share some of your configs that were used to reproduce this issue?
Like QEMU arguments, SPDK rpc commands and configs.
Also, could you try to test this against QEMU v3.0? Or even our SPDK branch https://github.com/spdk/qemu/tree/spdk-3.0.0

I doubt that this in your case there

[2020-04-03 07:43] spdkci commented on #1312
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_8953.html

[2020-04-03 08:17] Donaim commented on #1241
I couldn't reproduce this manually, but I am sure that my fix for #1287 should apply to this as well
So I think we should close it if it doesn't reproduce anymore after the fix is merged

[2020-04-03 09:42] spdkci commented on #1329
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_8972.html

[2020-04-03 11:11] spdkci commented on #1329
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_8994.html

[2020-04-03 13:50] Donaim commented on #1317
I tried to run vhost tests, but my local machine needs setup because tests are failing way earlier.
So I will continue to work on this next week

[2020-04-03 14:46] peluse commented on #1329
I'll investigate this weekend unless someone has time today

[2020-04-03 20:40] shuhei-matsumoto commented on #1329
Hi @peluse

I  haven't found anything wrong yet. Others do not report this issue yet.  So my patches may be the cause. Anyway thank you Paul.

[2020-04-03 21:56] spdkci commented on #1299
Another instance of this failure. Reported by @benlwalker. log: https://ci.spdk.io/public_build/autotest-per-patch_9051.html

[2020-04-04 20:56] spdkci commented on #1312
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_9076.html

[2020-04-04 20:57] spdkci commented on #1312
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_9074.html

[2020-04-05 02:15] spdkci commented on #1299
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_9100.html

[2020-04-05 05:15] spdkci commented on #1329
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_9104.html

[2020-04-05 19:21] spdkci commented on #1329
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_9115.html

[2020-04-05 19:51] spdkci commented on #1329
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_9121.html

[2020-04-05 19:53] spdkci commented on #1329
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_9118.html

[2020-04-05 20:23] spdkci commented on #1312
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_9123.html

[2020-04-06 08:11] spdkci commented on #1297
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_9137.html

[2020-04-06 09:57] darsto commented on #1275
I think long-term WFH doesn't suit me as I need to take a break from this again. It should be relatively simple to apply workarounds needed for this issue, but there are actually other data races within our pci.c as well. I was trying to minimize the amount of changes since pci.c needs an API refactor in near future anyway.
Sorry, I'll get back to this tomorrow.

[2020-04-06 10:42] spdkci commented on #1210
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_9159.html

[2020-04-06 11:46] Maciej-Szwed opened #1330 "[spdkcli_tcp] "timeout while waiting for process to start listening..." on FreeBSD"
spdkcli_tcp test fails on FreeBSD with message: timeout while waiting for process to start listening...

Example log:
https://10.102.17.111:8080/job/freebsd-autotest/9139/artifact/build.log

[2020-04-06 12:00] spdkci commented on #1330
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_9171.html

[2020-04-06 12:17] spdkci commented on #1329
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_9169.html

[2020-04-06 12:18] spdkci commented on #1330
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_9176.html

[2020-04-06 13:10] mhae commented on #1275
@darsto , thanks for the update. I can try out your changes any time. Hang in there!

[2020-04-06 16:41] Seth5141 commented on #1312
Change merged, closing. Please reopen if you see this issue on a change based on the fix.

[2020-04-06 16:41] #1312 closed

[2020-04-06 16:43] Seth5141 commented on #1294
Change has been merged. Please re-open this issue if you see it hit on a change based on this commit.

[2020-04-06 16:43] #1294 closed

[2020-04-06 20:22] benlwalker opened #1331 "[nvmf_connect_disconnect] waitforserial "$NVMF_SERIAL" timed out"
[nvmf_connect_disconnect] waitforserial "$NVMF_SERIAL" timed out

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/9055/archive/nvmf-autotest/build.log

## Execution failed at

[code]

[2020-04-06 21:56] spdkci commented on #1329
Another instance of this failure. Reported by @benlwalker. log: https://ci.spdk.io/public_build/autotest-per-patch_9235.html

[2020-04-07 00:13] Seth5141 commented on #1331
Possible duplicate of #1252

[2020-04-07 00:14] spdkci commented on #1329
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_9254.html

[2020-04-07 01:41] spdkci commented on #1329
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_9263.html

[2020-04-07 03:09] spdkci commented on #1327
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_9295.html

[2020-04-07 06:49] Seth5141 commented on #1307
We should disposition the severity of this bug at the next bug scrub.

[2020-04-07 06:49] Seth5141 commented on #1288
We should disposition the severity of this bug at the next bug scrub.

[2020-04-07 06:49] Seth5141 commented on #1253
We should disposition the severity of this bug at the next bug scrub.

[2020-04-07 08:38] shuhei-matsumoto commented on #1307
Hi @Seth5141

Thanks for checking issues.
the patch has been merged. Karol verified repeatedly. So we can close this now.

If reproduced, let's reopen this.

[2020-04-07 08:38] #1307 closed

[2020-04-07 09:00] Maciej-Szwed opened #1332 "Not enough huge pages on CI machine"
One of the machines run out of huge pages:
https://10.102.17.111:8080/job/vhost-initiator-autotest/9181/console

[2020-04-07 09:02] spdkci commented on #1332
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_9306.html

[2020-04-07 09:07] AlekseyMarchuk commented on #1292
There is another bug related to extra completion of nvme request. I'll handle it as part of this issue

[2020-04-07 09:08] spdkci commented on #1329
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_9307.html

[2020-04-07 10:26] spdkci commented on #1318
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_9315.html

[2020-04-07 12:13] spdkci commented on #1329
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_9331.html

[2020-04-07 12:40] karlatec commented on #1282
FYI: FreeBSD VMs are now set to reset after every test run. Let's wait a couple of days to see if the problem persists.
There might be some FreeBSD related issues from today because I made a mistake in the config:P

[2020-04-07 12:53] spdkci commented on #1288
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_9337.html

[2020-04-07 14:18] tomzawadzki commented on #1203
No similar log has been posted for almost two months. If it appears again, lets re-open.

[2020-04-07 14:18] #1203 closed

[2020-04-07 14:24] tomzawadzki commented on #1238
Devices that do not support AER notifications, require a reset for namespace changes to take effect. Same behavior can be seen in linux Kernel as tested by @tkulasek.
This issue can be closed, as it seem this is the intended behavior.

[2020-04-07 14:24] #1238 closed

[2020-04-07 14:31] tomzawadzki commented on #1331
Duplicate of #1252

[2020-04-07 14:31] #1331 closed

[2020-04-07 14:45] tomzawadzki commented on #1279
Patch https://review.spdk.io/gerrit/c/spdk/spdk/+/1496 is now merged, which should point users to the submodule.
Thanks @Donaim !

[2020-04-07 14:45] #1279 closed

[2020-04-07 15:07] tomzawadzki commented on #1207
[Bug scrub] Jobs are configured to re-trigger 2 times and have not been seen for 12 days so far.

[2020-04-07 15:07] #1207 closed

[2020-04-07 15:20] tomzawadzki commented on #1332
[Bug scrub]: Issue occurs due to machine being up for too long, and memory being fragmented. One way would be to reboot the machine after each build. Yet this will get addressed when we switch to Vagrant provisioning on each job run. Let's wait for the switch.

[2020-04-07 15:28] tomzawadzki commented on #1315
[Bug scrub] @karlatec Please let us know whats the current version of kernel on the iscsi_autotest and examine the dmesg for the issue still occurring.

[2020-04-07 15:35] karlatec commented on #1315
@tomzawadzki Seems kernels on the physical test nodes did not unify properly. There's couple of each kernel version in the test pool, depending when the node was updated: 5.4.21,5.5.6, 5.5.7, 5.5.9, 5.5.10
Pretty similar versions, but not exact.

@changpe1
I'm against that. We don't know when this bug was introduced and when (if ever) was it fixed. So changing the kernel version on the nodes would

[2020-04-07 15:37] tomzawadzki commented on #1329
[Bug scrub] @Seth5141 noted that for most part this issue has been occurring pretty often on Ubuntu18 jobs.

[2020-04-07 15:47] spdkci commented on #1252
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_9369.html

[2020-04-07 16:27] spdkci commented on #1329
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_9373.html

[2020-04-07 17:09] spdkci commented on #1329
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_9382.html

[2020-04-07 17:44] darsto commented on #1275
I pushed some changes, but will still need to run more local tests on them. Just FYI:

hotremove workaround: https://review.spdk.io/gerrit/c/spdk/spdk/+/1732/1
a PoC of hotplug workaround: https://review.spdk.io/gerrit/c/spdk/spdk/+/1733/1

The hotplug workaround is simple, but a bit hacky. I started to wonder - since it's an inconvenient workaround anyway, any chance you could just delay binding

[2020-04-07 19:20] spdkci commented on #1327
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_9401.html

[2020-04-07 20:13] peluse commented on #1329
I've found 2 issues so far but can still repro with multi-core. I think single core is OK so submitted patch to run in CI while I debug that limits it, will see if any hit in the meantime. https://review.spdk.io/gerrit/c/spdk/spdk/+/1735

[2020-04-07 21:27] mhae commented on #1273
I haven't seen this in the last 11 days with the changes Jim made ... Closing it.

[2020-04-07 21:27] #1273 closed

[2020-04-07 22:07] spdkci commented on #1329
Another instance of this failure. Reported by @benlwalker. log: https://ci.spdk.io/public_build/autotest-per-patch_9416.html

[2020-04-07 22:16] spdkci commented on #1297
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_9438.html

[2020-04-07 22:18] spdkci commented on #1329
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_9432.html

[2020-04-07 22:18] spdkci commented on #1329
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_9418.html

[2020-04-07 22:18] spdkci commented on #1329
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_9421.html

[2020-04-07 22:18] spdkci commented on #1329
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_9427.html

[2020-04-07 22:18] spdkci commented on #1329
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_9430.html

[2020-04-07 22:19] spdkci commented on #1329
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_9436.html

[2020-04-07 22:22] mhae commented on #1275
Thanks for the update. I tried to apply https://review.spdk.io/gerrit/c/spdk/spdk/+/1733/1/lib/env_dpdk/pci.c on 20.01.1 but it seems there are more changes that are not in the commit. If there's something I can apply, I'm happy to try it out.

I haven't thought about adding a delay via udev. I think for us it would be too difficult to maintain it and then we have one half of the workaround in cod

[2020-04-07 22:32] spdkci commented on #1297
Another instance of this failure. Reported by @benlwalker. log: https://ci.spdk.io/public_build/autotest-per-patch_9437.html

[2020-04-07 23:45] spdkci commented on #1329
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_9447.html

[2020-04-08 00:07] peluse opened #1333 "nvmf_bdevperf: multiple failures result in build timeout after 15 min"
https://review.spdk.io/gerrit/c/spdk/spdk/+/1736

## Execution failed at

Lots and lots of errors, here's the tail end:
vent channel (status = 8)
nvme_rdma.c: 949:nvme_rdma_connect: *ERROR*: RDMA connect error
nvme_rdma.c:1179:_nvme_rdma_ctrlr_connect_qpair: *ERROR*: Unable to connect the rqpair
nvme_ctrlr.c:1168:spdk_nvme_ctrlr_reset: *ERROR*: Controller reinitialization failed.
nvme_ctrlr.c: 756

[2020-04-08 00:08] spdkci commented on #1333
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_9443.html

[2020-04-08 00:58] spdkci commented on #1329
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_9464.html

[2020-04-08 01:00] spdkci commented on #1329
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_9455.html

[2020-04-08 01:02] spdkci commented on #1329
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_9461.html

[2020-04-08 01:38] spdkci commented on #1329
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_9473.html

[2020-04-08 02:17] spdkci commented on #1329
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_9467.html

[2020-04-08 02:19] spdkci commented on #1329
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_9459.html

[2020-04-08 04:37] shuhei-matsumoto commented on #1329
The fix is here https://review.spdk.io/gerrit/c/spdk/spdk/+/1740

[2020-04-08 05:00] spdkci commented on #1329
Another instance of this failure. Reported by @glodfish-zg. log: https://ci.spdk.io/public_build/autotest-per-patch_9490.html

[2020-04-08 05:22] yidong0635 opened #1334 "unittest reports warning for pulling the latest code"
Pull the latest code: commit: 24d61956ab1173910c9bb079817a4201bf18739d
# Issue reports:
  LINK test/unit/lib/nvme/nvme_uevent.c/nvme_uevent_ut
  LINK test/unit/lib/bdev/gpt/gpt.c/gpt_ut
nvme_poll_group_ut.c: In function ‘test_spdk_nvme_poll_group_add_remove’:
nvme_poll_group_ut.c:268:8: warning: ‘tgroup’ may be used uninitialized in this function [-Wmaybe-uninitialized]
  qpair = STAILQ_FIRST(&tgr

[2020-04-08 06:45] karlatec commented on #1315
This issue shows up in all of the test jobs that run on physical nodes. I've grepped through the logs and interestingly it seems to only show up on:

[code]
Most of other systems have kernel version higher than 5.5.6, so we might give it a go with upgrading the kernel.
Interestingly there are 2 other systems with lower kernel which dont fail, but these have optane disks. No idea if that makes a di

[2020-04-08 07:47] spdkci commented on #1288
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_9370.html

[2020-04-08 07:48] spdkci commented on #1288
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_9374.html

[2020-04-08 09:48] spdkci commented on #1332
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_9585.html

[2020-04-08 09:51] karlatec commented on #1332
@Maciej-Szwed In that case you should probably change the issue title. THe last occurence wasn't vhost initiaotr

[2020-04-08 09:51] karlatec commented on #1332
@wawryk Can you please take a look at SM0 VM and memory configuration? Last occurence was on a VM hosted on SM0 which was set up recently

[2020-04-08 10:16] spdkci commented on #1327
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_9572.html

[2020-04-08 10:20] wawryk commented on #1332
I removed one vm from SM0 and now we have 12 vm's witch 130 huge pages available.

[2020-04-08 12:19] mikeBashStuff commented on #1268
If there's no new updates I think it should be ok to proceed with closing this issue.

[2020-04-08 12:48] AlekseyMarchuk commented on #1292
Hi @yidong0635

Could you help me to reproduce the issues? I prepared a patchset with additional logs/counters https://review.spdk.io/gerrit/c/spdk/spdk/+/1755
Could run scenario which caused this problem with the mentioned patchset?

[2020-04-08 13:28] spdkci commented on #1329
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_9602.html

[2020-04-08 14:08] spdkci commented on #1329
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_9608.html

[2020-04-08 14:08] spdkci commented on #1329
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_9604.html

[2020-04-08 14:10] spdkci commented on #1332
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_9597.html

[2020-04-08 14:31] peluse commented on #1329
I believe we have this fixed: https://review.spdk.io/gerrit/c/spdk/spdk/+/1736

[2020-04-08 15:32] spdkci commented on #1329
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_9628.html

[2020-04-08 16:30] mikeBashStuff commented on #1289
Ok, this is definitely not intermittent now. Whenever the test uses `vpp` and json config, `bdevperf` is always hit with a segfault after finishing the first 5s run. The json in question looks like the following:
[code]
I haven't noticed how frequent this is since locally I tested it only in `posix` mode, which works just fine. Another instance of this can be seen here (actually, after recent reba

[2020-04-08 16:36] spdkci commented on #1332
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_9656.html

[2020-04-08 16:45] karlatec commented on #1332
There will be a lot of reports here from today.
Copying my message from Slack here.
[code]

[2020-04-08 17:15] spdkci commented on #1333
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_9641.html

[2020-04-08 18:41] spdkci commented on #1333
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_9675.html

[2020-04-08 20:31] spdkci commented on #1333
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_9694.html

[2020-04-08 20:55] spdkci commented on #1329
Another instance of this failure. Reported by @benlwalker. log: https://ci.spdk.io/public_build/autotest-per-patch_9451.html

[2020-04-08 22:10] spdkci commented on #1329
Another instance of this failure. Reported by @benlwalker. log: https://ci.spdk.io/public_build/autotest-per-patch_9709.html

[2020-04-08 22:29] spdkci commented on #1329
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_9666.html

[2020-04-09 01:01] yidong0635 commented on #1292
@AlekseyMarchuk  here's the log
[reconn.log](https://github.com/spdk/spdk/files/4453449/reconn.log)
[code]

[2020-04-09 05:08] AlekseyMarchuk commented on #1292
Thank you @yidong0635! If it is possible, could you also share core dumps?

[2020-04-09 07:37] spdkci commented on #1329
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_9646.html

[2020-04-09 07:39] spdkci commented on #1329
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_9667.html

[2020-04-09 07:39] spdkci commented on #1092
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_9658.html

[2020-04-09 07:43] spdkci commented on #1329
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_9687.html

[2020-04-09 07:43] spdkci commented on #1318
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_9681.html

[2020-04-09 07:46] shuhei-matsumoto commented on #1333
https://review.spdk.io/gerrit/c/spdk/spdk/+/1736 will also fix this issue.

[2020-04-09 08:08] spdkci commented on #1297
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_9715.html

[2020-04-09 08:08] spdkci commented on #1329
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_9780.html

[2020-04-09 08:10] wanghailiangx opened #1335 "vpp: lots of TypeError during installation"
## Current Behavior
Error log:
[1/1308] Generating API header /home/wanghailiang/spdk20200317_vpp/vpp/build-root/build-vpp_debug-native/vpp/vnet/bonding/bond.api.h
FAILED: vnet/bonding/bond.api.h
cd /home/wanghailiang/spdk20200317_vpp/vpp/build-root/build-vpp_debug-native/vpp/vnet && mkdir -p /home/wanghailiang/spdk20200317_vpp/vpp/build-root/build-vpp_debug-native/vpp/vnet/bonding && /home/wangha

[2020-04-09 08:11] spdkci commented on #1309
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_9781.html

[2020-04-09 08:23] spdkci commented on #1329
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_9645.html

[2020-04-09 08:28] spdkci commented on #1333
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_9784.html

[2020-04-09 08:36] yidong0635 commented on #1292
@AlekseyMarchuk
[code]
[bt_full.log](https://github.com/spdk/spdk/files/4454981/bt_full.log)

[2020-04-09 08:51] shuhei-matsumoto commented on #1333
Thank you. The patch has been merged. Please re-open if reproduced.

[2020-04-09 08:51] #1333 closed

[2020-04-09 08:52] AlekseyMarchuk commented on #1292
Hi @yidong0635 it seems that I found the root cause.
The issue happens at the controller initialization stage where we send the first NVMEoF commands. I added some comments to the output you provided

The first command was SPDK_NVMF_FABRIC_COMMAND_CONNECT. It was sent before "get_cc" - from the log below we see `get=1, post=1`.
At the same time we see that send=0 and recv=1, that means that we rec

[2020-04-09 08:53] shuhei-matsumoto commented on #1329
Thank you. The patch has been merged. Please rebase your patch onto the latest master, and reopen if reproduced even after rebase.

[2020-04-09 08:53] #1329 closed

[2020-04-09 09:00] AlekseyMarchuk commented on #1292
@yidong0635 could you tell how nodes which you used for testing are connected? back-to-back or via switch? These out-of-order completions are not typical and for RoCE it is recommended to enable flow control on the switch. Could you enable it if your nodes are connected via switch?

[2020-04-09 09:14] yidong0635 commented on #1292
@AlekseyMarchuk  thanks for your analysis, they are connected via switch and not RoCE, but I need to confirm this with Liang.

[2020-04-09 09:37] spdkci commented on #1329
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_9790.html

[2020-04-09 10:16] shuhei-matsumoto commented on #1329
Hi @wawryk will you rebase on the latest master?

[2020-04-09 11:30] spdkci commented on #1283
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_9811.html

[2020-04-09 11:36] Donaim commented on #1316
Issue also reproduces on my machine.
But here are some other observations:
- errors dissapear if we increase HUGEMEM count, BUT vhost app freezes and cannot be killed with SIGINT or SIGTERM.
- with 1GB hugepages, error messages do not show up at all, even if there is only 1 hugepage allocated, but instead freezes like in case of 2MB hugepages and HUGEMEM>4K

I will investigate further this week
Wi

[2020-04-09 12:17] spdkci commented on #1309
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_9817.html

[2020-04-09 12:18] spdkci commented on #1297
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_9818.html

[2020-04-09 13:52] AlekseyMarchuk opened #1336 "[vhost_scsi_lvol_integrity] ERROR: no test disk found!"
## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_9831.html

## Execution failed at

[code]

[2020-04-09 13:54] AlekseyMarchuk commented on #1283
That was caused by my patch

[2020-04-09 13:54] spdkci commented on #1336
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_9831.html

[2020-04-09 14:55] spdkci commented on #1329
Another instance of this failure. Reported by @Maciej-Szwed. log: https://ci.spdk.io/public_build/autotest-per-patch_9832.html

[2020-04-09 14:59] jimharris commented on #1292
Tagging @optimistyzy - see analysis from @Aleksey above regarding one of your suggestions.

[2020-04-09 15:01] spdkci commented on #1309
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_9845.html

[2020-04-09 17:13] AlekseyMarchuk commented on #1292
@liang2yan I prepared a fix for this issue https://review.spdk.io/gerrit/c/spdk/spdk/+/1771 Could you verify it? I believe it should also fix #1101 (and probably #852)

[2020-04-09 20:33] peluse opened #1337 "nvme-phy-autotest failed: no logs generated"

[2020-04-09 20:35] spdkci commented on #1337
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_9894.html

[2020-04-09 20:43] peluse opened #1338 "nvme-phy-autotest: build timed out"
No obvious issues

[2020-04-09 20:44] spdkci commented on #1338
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_9902.html

[2020-04-09 21:10] jkalwas opened #1339 "vhost-autotest - qemu-img convert failure"
https://ci.spdk.io/results/autotest-per-patch/builds/9878/archive/vhost-autotest/build.log

[code]

[2020-04-09 21:18] spdkci commented on #1339
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_9911.html

[2020-04-09 21:21] spdkci commented on #1339
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_9878.html

[2020-04-09 22:01] spdkci commented on #1338
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_9918.html

[2020-04-09 23:41] peluse commented on #1338
dup

[2020-04-09 23:41] #1338 closed

[2020-04-09 23:42] peluse commented on #1337
I have reason to believe this is me somehow, just not sure how yet....

[2020-04-09 23:51] jimharris opened #1340 "sock layer uses zero copy on loopback interfaces"
We currently try to use MSG_ZEROCOPY whenever possible.  But loopback doesn't really support zero copy.  We should detect if the fd is associated with an interface that has IFF_LOOPBACK set, and not use zero copy when it is set.

I was doing some ad hoc testing today and found this as a rather significant issue in some cases.  We use loopback in a large amount of our CI testing, so we should try t

[2020-04-10 00:59] yidong0635 commented on #1334
close this issue ,since this patch had been merged.

[2020-04-10 00:59] #1334 closed

[2020-04-10 02:20] shuhei-matsumoto commented on #1288
Thank you. Patch has been merged. Please re-open if reproduced after rebasing to the latest master.

[2020-04-10 02:20] #1288 closed

[2020-04-10 03:07] yidong0635 commented on #1292
@AlekseyMarchuk  sometime got :
[code]
sometimes:
[code]

[2020-04-10 04:57] AlekseyMarchuk commented on #1292
@yidong0635 Could you share core dump and binary for the first case?

[2020-04-10 05:18] yidong0635 commented on #1292
@AlekseyMarchuk
add the two patch or remove the last one , both lead to core-dumps .
(gdb) core-file /tmp/core-perf-11-0-0-14252-1586494761
[New LWP 14252]
[New LWP 14253]
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib64/libthread_db.so.1".
Core was generated by `./examples/nvme/perf/perf -q 128 -o 4096 -w randwrite -t 12 -r trtype:RDMA adrf'.
Program terminate

[2020-04-10 06:05] AlekseyMarchuk commented on #1292
I prepared a fix https://review.spdk.io/gerrit/c/spdk/spdk/+/1791 for the 2nd issue
[code]

Working on the first one. @yidong0635 is it possible to share core dump and a binary, not only call stack?

[2020-04-10 06:17] yidong0635 commented on #1292
@AlekseyMarchuk  Is this file enough?
[core-perf-11-0-0-68723-1586498368.zip](https://github.com/spdk/spdk/files/4460136/core-perf-11-0-0-68723-1586498368.zip)

[2020-04-10 06:27] Donaim commented on #1339
Hi, this should be fixed now.
Error was due to experimental VM image on GP15 that was used for testing, but wasn't reverted when testing finished.

[2020-04-10 06:27] #1339 closed

[2020-04-10 06:49] spdkci commented on #1339
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_9874.html

[2020-04-10 06:51] spdkci commented on #1339
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_9892.html

[2020-04-10 06:54] spdkci commented on #1339
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_9903.html

[2020-04-10 06:56] spdkci commented on #1317
Another instance of this failure. Reported by @Donaim. log: https://ci.spdk.io/public_build/autotest-per-patch_9912.html

[2020-04-10 06:57] spdkci commented on #1339
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_9901.html

[2020-04-10 06:58] spdkci commented on #1339
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_9905.html

[2020-04-10 07:17] spdkci commented on #1339
Another instance of this failure. Reported by @Donaim. log: https://ci.spdk.io/public_build/autotest-per-patch_9890.html

[2020-04-10 08:03] spdkci commented on #1339
Another instance of this failure. Reported by @Donaim. log: https://ci.spdk.io/public_build/autotest-per-patch_9961.html

[2020-04-10 08:13] spdkci commented on #1207
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_9954.html

[2020-04-10 08:38] spdkci commented on #1331
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_9872.html

[2020-04-10 08:44] AlekseyMarchuk commented on #1292
Please also share perf binary

[2020-04-10 08:51] yidong0635 commented on #1292
please see above resources.

[2020-04-10 08:57] spdkci commented on #1313
Another instance of this failure. Reported by @jkalwas. log: https://ci.spdk.io/public_build/autotest-per-patch_9891.html

[2020-04-10 08:57] spdkci commented on #1313
Another instance of this failure. Reported by @jkalwas. log: https://ci.spdk.io/public_build/autotest-per-patch_9922.html

[2020-04-10 09:12] yidong0635 commented on #1292
@AlekseyMarchuk
please check this :
[perf-core.zip](https://github.com/spdk/spdk/files/4460835/perf-core.zip)

[2020-04-10 09:37] karlatec commented on #1282
No more occurrences for a couple of days. Plus I don't see any fail like that in current build history (~150 builds).
@yidong0635 @tomzawadzki Can we close the issue?

[2020-04-10 09:57] karlatec commented on #1337
Quite probably, I was going to ask you about IDXD patches.

For starters, here's the end-part of the build.log of the build in question:
[code]
It starts a test, does a setup.sh reset command and gets stuck. Jenkins detects timeout, fails the build and reboots the system.

The other thing I was going to ask you about are there builds:
https://ci.spdk.io/public_build/autotest-per-patch_9740.html
ht

[2020-04-10 11:25] AlekseyMarchuk commented on #1292
Hi @yidong0635 there was a bug in my change, it is fixed now. Could you verify the last patch in the series https://review.spdk.io/gerrit/c/spdk/spdk/+/1791?

[2020-04-10 12:35] Donaim commented on #1183
Hi, @vonnyfly, did you get a chance to reproduce this issue with different QEMU version?
Also, could you share results of your test for mmap behaviour?
Thanks

[2020-04-10 12:42] Donaim commented on #1320
Fix merged

[2020-04-10 12:42] #1320 closed

[2020-04-10 21:08] peluse commented on #1337
bug was in my code, causing kernel panic thus no logs

[2020-04-10 21:08] #1337 closed

[2020-04-10 21:10] spdkci commented on #1092
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_10078.html

[2020-04-12 23:38] peluse opened #1341 "[blobfs] start_cache_pool_mgmt: *ERROR*: Create mempool failed"
app.c: 646:spdk_app_start: *NOTICE*: Total cores available: 2
reactor.c: 370:_spdk_reactor_run: *NOTICE*: Reactor started on core 1
reactor.c: 370:_spdk_reactor_run: *NOTICE*: Reactor started on core 0
cryptodev_aesni_mb_create() line 1320: IPSec Multi-buffer library version used: 0.52.0

Mounting filesystem on bdev BlobfsBdev to path /tmp/spdk_tmp_mount...blobfs_fuse.c: 267:fuse_loop_new_thread:

[2020-04-12 23:39] spdkci commented on #1341
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_10191.html

[2020-04-13 00:14] yidong0635 commented on #1282
@karlatec ,@tomzawadzki , Thanks, I will close this one.

[2020-04-13 00:14] #1282 closed

[2020-04-13 00:27] jimharris commented on #1341
Duplicate of #1309?

[2020-04-13 00:34] yidong0635 commented on #1292
Thanks everyone, I think it is a great job, issue has been fixed.

[2020-04-13 01:02] peluse commented on #1341
looks like it, didn't make the connection based on title.  thanks

[2020-04-13 01:02] #1341 closed

[2020-04-13 05:32] changpe1 commented on #1316
Looking more about this issue, we can update SPDK virtio-user library to eliminate this issue. Refer to DPDK commit 534bccbad17, http://git.dpdk.org/dpdk/commit/drivers/net/virtio/virtio_user/vhost_user.c?h=releases&id=534bccbad17bace0b899861652d0b89115b00a7e, we can refactoring the code to virtio_user_map_notify(), @Donaim do you want to a try?

[2020-04-13 11:27] scarbrofair opened #1342 "Failed to add host to a subsystem"
Cannot add a host to an susbsystem
## Expected Behavior

add host to the specified subsystem

## Current Behavior
[root@cssrv12 scripts]#  /opt/python3.6/bin/python3.6 ./rpc.py nvmf_subsystem_create nqn.2016-06.io.spdk:cnode1 -a -s SPDK00000000001
[root@cssrv12 scripts]# /opt/python3.6/bin/python3.6 ./rpc.py  get_nvmf_subsystems
[
  {
    "nqn": "nqn.2014-08.org.nvmexpress.discovery",
    "subtype

[2020-04-13 12:36] Donaim commented on #1316
@changpe1 yes, I will try that this week. Thanks!

[2020-04-14 04:11] spdkci commented on #992
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_10255.html

[2020-04-14 05:37] shravansundarraj opened #1343 "DPDK failed to init with error "EAL: Cannot get a virtual area: Cannot allocate memory""
DPDK Version :  20.02
GCC version :    4.9.1
Kernel version  : 3.14.39ltsi++
and compiled for 32-bit

### Huge pages created ad below:

echo 1024 | sudo tee /sys/kernel/mm/hugepages/hugepages-2048kB/nr_hugepages
sudo sysctl -w vm.nr_hugepages=1024
mkdir -p /mnt/huge_2mb
sudo mount -t hugetlbfs nodev /mnt/huge_2mb -o pagesize=2MB

In my main function I am calling "rte_eal_init()" . My process does

[2020-04-14 06:50] karlatec commented on #1336
Considering when this happened and on which particular node (GP15) I'd say the root cause of this issue is the same as here: https://github.com/spdk/spdk/issues/1339.
If this doesn't happen again in next few days then please close the issue.

[2020-04-14 06:59] karlatec commented on #1072
This one is pretty old and I'm pretty sure that the root cause was related to NFS network.
Over the time I made some changes to how systems interacted with NFS network and for a couple of weeks now NFS network is no longer used.
I think this can be clsoed.

[2020-04-14 07:07] zlsh007 opened #1344 "EAL: no supported IOMMU extensions found"
Hello everyone, I loaded the Vfio driver on the machine, and the nvme disk was also taken over by vfio, but when I started the spdk, I was prompted: EAL: no supported IOMMU extensions found! EAL: VFIO support could not be initialized

spdk version:20.01

![image](https://user-images.githubusercontent.com/15990748/79193112-8f085380-7e5c-11ea-9730-a3d97669edb3.png)

![image](https://user-images.gith

[2020-04-14 07:08] spdkci commented on #1313
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_10220.html

[2020-04-14 07:09] spdkci commented on #1096
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_10223.html

[2020-04-14 07:13] spdkci commented on #1309
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_10225.html

[2020-04-14 08:44] yidong0635 commented on #1342
@scarbrofair  it seems mistaken of param pass through :
 rc = spdk_nvmf_subsystem_add_host(subsystem, ctx->nqn/ctx->host);

[2020-04-14 09:53] #1072 closed

[2020-04-14 11:38] #1292 closed

[2020-04-14 11:40] AlekseyMarchuk commented on #1101
Hi @yidong0635 could you verify this bug using the latest SPDK version? I believe fix for #1292 has fixed this bug

[2020-04-14 13:10] spdkci commented on #1309
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_10358.html

[2020-04-14 13:22] tomzawadzki commented on #1289
Hi @mikeBashStuff just coincidentally seems like fix was merged today. Please see https://review.spdk.io/gerrit/c/spdk/spdk/+/1590

From my local reproduction this is the one that changes from 100% occurrence to no longer appearing. You can rebase your patch on master and if CI reports a pass - this one can be closed.

[2020-04-14 16:13] spdkci commented on #1309
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_10383.html

[2020-04-14 16:15] spdkci commented on #1309
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_10390.html

[2020-04-14 16:50] spdkci commented on #1320
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_10398.html

[2020-04-14 17:24] jimharris commented on #1343
Hi @shravansundarraj,

It looks like you're only testing DPDK here - you may want to try the DPDK mailing list.

But also note that SPDK isn't testing 32-bit at all currently.  So for this issue, you'll likely get better support from DPDK than from those lurking on SPDK github.

This also means that once you get past this issue, you may run into others, if this is your first step towards building

[2020-04-14 17:55] spdkci commented on #1309
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_10413.html

[2020-04-14 17:56] shravansundarraj commented on #1343
thanks for the update Jimharris

[2020-04-14 18:29] spdkci commented on #1309
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_10418.html

[2020-04-14 20:11] shuhei-matsumoto opened #1345 "[nvmf_shutdown_tc1]member access within null pointer of type 'const struct spdk_nvme_transport'"
[code]
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/10436/archive/nvmf-phy-autotest/build.log

## Execution failed at

[code]

[2020-04-14 20:12] spdkci commented on #1345
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_10436.html

[2020-04-14 20:17] jimharris commented on #1345
@Seth5141 - could you take a look?

[2020-04-14 21:16] spdkci commented on #1309
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_10447.html

[2020-04-14 21:41] mhae commented on #1275
@darsto , I think delaying calling into vfio is probably the best approach. I'm still seeing occasional issues with my kernel fixes. If there's some code that I can try out, please let me know.

[2020-04-14 21:43] jimharris commented on #1342
HI @scarbrofair,

The code is working as intended.  It is checking that the hostnqn is valid.  In the case shown, it is passing an IP address, not an NQN.

-Jim

[2020-04-15 00:15] yidong0635 commented on #1101
Confirm this issue is fixed. @liang2yan  Can you verify and close this one?
Thanks !

[2020-04-15 00:29] spdkci commented on #1318
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_10476.html

[2020-04-15 00:38] spdkci commented on #1318
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_10472.html

[2020-04-15 00:49] spdkci commented on #1345
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_10461.html

[2020-04-15 00:55] spdkci commented on #1313
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_10474.html

[2020-04-15 01:43] glodfish-zg commented on #1286
@dakshajauppalapati96  Do you have any update? Or I will close this issue.

[2020-04-15 02:10] liang2yan commented on #1101
verified this issue with latest codes. this issue can't be reproduced now. so close this issue.

[2020-04-15 02:10] #1101 closed

[2020-04-15 02:31] clicx commented on #407
Hello, I noticed the issue was resolved, when I disconnect/reconnect network cable, nvme can recover connection to servers.
Now I noticed there is an error reporting in first connection:
branch 20.01
nvme_rdma.c:918: SPDK_ERRLOG("RDMA connect error\n");
ret = -99

[2020-04-15 05:47] scarbrofair commented on #1342
So,  how to add an ip to subsystem

[2020-04-15 06:58] spdkci commented on #1309
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_10494.html

[2020-04-15 07:24] spdkci commented on #1099
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_10486.html

[2020-04-15 08:12] spdkci commented on #1318
Another instance of this failure. Reported by @liang2yan. log: https://ci.spdk.io/public_build/autotest-per-patch_10556.html

[2020-04-15 08:24] yidong0635 commented on #1342
So we need to add host :
see etc/spdk/nvmf.conf.in( Host nqn.2016-06.io.spdk:init)
./scripts/rpc.py nvmf_subsystem_add_host nqn.2016-06.io.spdk:cnode1  nqn.2016-06.io.spdk:init
if add IP address as listener :
./scripts/rpc.py nvmf_subsystem_add_listener nqn.2016-06.io.spdk:cnode1 -t RDMA/TCP -a [IP address] -s 4420

[2020-04-15 08:56] mikeBashStuff commented on #1293
I haven't seen this issue since the last report. Most likely this was some hiccup caused by a solar flare, global warming or other nasty little thing that likes to suddenly tweak perm bits. To mitigate, I would suggest to use `mktemp` for the spdk's tmp workspace - that way potential issue with permissions will have a smaller chance of happening. Will try to submit something sensible to address th

[2020-04-15 09:28] mikeBashStuff opened #1346 "[vfio-pci] setup.sh reported "current user memlock limit: 0 MB""
I am not quite sure how severe this is, but I have been seeing this warning whenever `setup.sh` picks up `virtio-pci` driver to use, e.g.: https://ci.spdk.io/results/autotest-per-patch/builds/10567/archive/nvme-phy-autotest/build.log - in this particular case, the `ocf_persistent_metadata` test failed, but this may be a red herring caused rather by https://github.com/spdk/spdk/issues/1320.

[2020-04-15 10:00] mikeBashStuff commented on #1320
@Donaim I am afraid that there's still an issue - a bit different, but still in the realm of OCF. In here, https://ci.spdk.io/results/autotest-per-patch/builds/10567/archive/nvme-autotest/build.log you can see that the `ocf_persistent_metadata` passes without any issues, but here https://ci.spdk.io/results/autotest-per-patch/builds/10567/archive/nvme-phy-autotest/build.log it fails again while dif

[2020-04-15 10:15] karlatec commented on #1315
Systems updated to 5.5.10 kernel.
@tkulasek please observe if this issue persists with new kernel.

[2020-04-15 10:45] mikeBashStuff opened #1347 "json_config test failed to create crypto bdev"
https://ci.spdk.io/results/autotest-per-patch/builds/10577/archive/crypto-autotest/build.log

Issue at hand:

[code]
Earlier on, it's seen that `qat_setup.sh` was not able to create VF devices since the `sriov*` interface was missing from sysfs:

[code]
SR-IOV not enabled in the bios maybe? Not 100% if it's related to the failing test though.

[2020-04-15 10:46] spdkci commented on #1347
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_10577.html

[2020-04-15 10:50] spdkci commented on #1313
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_10582.html

[2020-04-15 11:08] spdkci commented on #1309
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_10587.html

[2020-04-15 11:51] mikeBashStuff commented on #1320
Doesn't seem to be related to #1346 since this https://ci.spdk.io/public_build/autotest-per-patch_10591.html finished with a success. As opposed to this: https://ci.spdk.io/results/autotest-per-patch/builds/10591/archive/nvme-autotest/build.log where `vfio-pci` was not used.

[2020-04-15 11:53] mikeBashStuff opened #1348 "Different results from bdev_ocf_get_bdevs during ocf_persistent_metadata test"
Reporting as a separate issue since it's a bit different from #1320.

Linking latest comments from #1320 into here:

https://github.com/spdk/spdk/issues/1320#issuecomment-613943553
https://github.com/spdk/spdk/issues/1320#issuecomment-613991197

Failure occurs while diffing output from `bdev_ocf_get_bdevs`. The first call outputs the following:
[code]
After second, however, the output looks like t

[2020-04-15 12:17] Donaim commented on #1348
Looking at the logs:
[code]
reactor.c: 370:_spdk_reactor_run: *NOTICE*: Reactor started on core 0
vbdev_ocf.c:1455:vbdev_ocf_construct: *NOTICE*: OCF bdev 'ocfWT' is waiting for core device 'Nvme0n1p1' to connect
nvme_qpair.c: 499:spdk_nvme_qpair_process_completions: *ERROR*: Unable to resubmit as many requests as we completed.
 13:21:46	# xtrace_enable
[code]

[2020-04-15 12:20] mikeBashStuff commented on #1348
@Donaim Thanks, appreciate all the help. :)

[2020-04-15 12:52] Donaim commented on #1241
Fix to #1287 was merged, so if this issue doesn't reproduce anymore, I think we should close it

[2020-04-15 12:54] Donaim commented on #1287
Fix that was merged works on my setup and since issue doesn't reproduce for @mikeBashStuff as well, considering this solved

[2020-04-15 12:54] #1287 closed

[2020-04-15 13:06] spdkci commented on #1347
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_10606.html

[2020-04-15 13:53] karlatec commented on #1347
This could probably be my fault. Did some system updates as part of fixes for other GH issue and I forgot to rebuild the QAT driver.
I suppose it can be reported a couple of times more after today, but if there are no new occurences after weekend then this can be closed.

Doesn't look related.

[2020-04-15 13:58] mikeBashStuff commented on #1347
Should be 1309. Had multiple different false positives at the same time so I messed up the issue id here. Sorry for that. :)

[2020-04-15 14:15] spdkci commented on #1096
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_10545.html

[2020-04-15 14:18] spdkci commented on #1297
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_10578.html

[2020-04-15 14:18] spdkci commented on #1297
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_10553.html

[2020-04-15 14:23] spdkci commented on #1096
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_10551.html

[2020-04-15 14:36] karlatec opened #1349 "[spdk/qemu] Compilation issues on latest systems"
## Current Behavior

Configure or compile spdk/qemu issues for branch `spdk-3.0.0` on latest systems.
Sorry for putting that here, but we don't have spdk/qemu bugtracker.

## Steps to Reproduce

1. Clone spdk/qemu
2. Checkout branch spdk-3.0.0
3. Try to configure:
[code]
configuration log output contains pretty generic errors, most of which at first glance look like not satisfied dependencies (see

[2020-04-15 16:03] mikeBashStuff commented on #1168
Rough RFC with basic idea. Going to test it out this week to see if it's worth it - https://review.spdk.io/gerrit/c/spdk/spdk/+/1868

[2020-04-15 19:27] jimharris commented on #1348
The NVMe error is interesting.  @Seth5141 added that error message to indicate that something didn't work as expected, although by itself it shouldn't be a fatal error.

@mikeBashStuff or @Donaim - could one of you fill out the description above with some more detail?  It's a bit cryptic as it is currently written.

[2020-04-15 19:36] jimharris commented on #1346
Hi @mikeBashStuff,

I don't see the text in the title anywhere in the posted log.  Could you add some more details please?

Thanks,

-Jim

[2020-04-15 20:01] mikeBashStuff commented on #1348
@jimharris Updated https://github.com/spdk/spdk/issues/1348#issue-600240413 with some additional info. Let me know if there's anything else needed.

[2020-04-15 20:09] mikeBashStuff commented on #1346
@jimharris The actual warning comes from `setup.sh` and looks like this:

[code]
I admit that the subject of the issue is a bit misleading, but it points at this: `Current user memlock limit: 0 MB` - the `ulimit` returns value in KB and it's then converted to MB. Since the actual value is not caught in the trace it may vary a bit, hence the point about it being < 1024. :) (but I guess it's simply

[2020-04-15 20:27] spdkci commented on #1096
Another instance of this failure. Reported by @Seth5141. log: https://ci.spdk.io/public_build/autotest-per-patch_10667.html

[2020-04-15 20:38] jimharris commented on #1348
Thanks @mikeBashStuff.

So looks like the difference is that the OCF bdevs aren't getting started?

We should update the title on this issue as well, to more closely specify the failure.  It would be hard for someone with an intermittent failure to match it to this issue solely based on the current title.

[2020-04-15 20:46] mikeBashStuff commented on #1348
@jimharris That seems to be the case, yes.

Title updated as well.

[2020-04-16 00:09] spdkci commented on #1318
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_10689.html

[2020-04-16 00:13] peluse commented on #1347
this usually means the QAT kernel driver isn't installed correctly

[2020-04-16 01:04] spdkci commented on #1347
Another instance of this failure. Reported by @liang2yan. log: https://ci.spdk.io/public_build/autotest-per-patch_10565.html

[2020-04-16 01:31] jimharris commented on #1342
None currently.

@shuhei-matsumoto @benlwalker We support access by IP address in iSCSI.  Is there any reason we can't do it for NVMe over Fabrics as well?

[2020-04-16 01:43] changpe1 commented on #1349
Does the FTL test have dependency on the spdk/qemu version? If not, I think we can upgrade our spdk/qemu version to a newer one.

[2020-04-16 02:20] changpe1 commented on #1347
It's same with #1327, failed to create the VF should be the root cause.