[2021-08-03 07:43] mikeBashStuff commented on #2048
@jimharris Moved what I found to #2063.

[2021-08-03 07:52] spdkci commented on #2002
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_54940.html

[2021-08-03 08:02] mikeBashStuff opened #2064 "bdevperf hit by SIGABRT while running against zoned bdev"
This is currently limited to the following patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/8295 which attempts to replace OCSSD devices in the FTL tests with zoned bdevs. In this particular case `bdevperf` run against ftl bdev constructed on top of zoned bdev and failed like so:

[code]

Logs + core dumps: https://ci.spdk.io/results/autotest-per-patch/builds/54941/archive/nvme-vg-autotest/index

[2021-08-03 08:25] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_54816.html

[2021-08-03 08:25] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_54842.html

[2021-08-03 09:20] spdkci commented on #2060
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_54955.html

[2021-08-03 09:29] spdkci commented on #1863
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_54959.html

[2021-08-03 09:30] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_54957.html

[2021-08-03 10:24] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_54821.html

[2021-08-03 10:24] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_54836.html

[2021-08-03 10:25] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_54846.html

[2021-08-03 10:25] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_54850.html

[2021-08-03 10:25] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_54964.html

[2021-08-03 10:25] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_54963.html

[2021-08-03 10:27] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_54830.html

[2021-08-03 11:22] xjjx commented on #1648
This issue hit us about 5 to 10 times per day. After some investigation it seems that it was some race hazard type issue.
Fix has been implemented today, so we need to wait for verification.

[2021-08-03 11:50] antroseco opened #2065 "scripts/setup.sh reset crashes guest"
`scripts/setup.sh reset` sometimes causes a CentOS 8.3 guest to crash. Occurs with both `vfio` (no-iommu mode) and `uio_pci_generic` drivers.

## Expected Behavior

`scripts/setup.sh reset` should re-load the kernel's nvme driver.

## Current Behavior

`scripts/setup.sh reset` sometimes crashes the entire guest.

## Steps to Reproduce

Execute following script with root privileges:
[code]
Sometime

[2021-08-03 13:14] rafalste opened #2066 "bdev_nvme.c:2691:bdev_nvme_create: *ERROR*: No controller was found with provided trid"
Couldn't obtain the exact test name that failed. All started tests seem to finish regarding the build log.

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/54983/archive/nvme-phy-autotest/build.log

## Execution failed at

[code]

[2021-08-03 13:17] spdkci commented on #2066
Another instance of this failure. Reported by @rafalste. log: https://ci.spdk.io/public_build/autotest-per-patch_54983.html

[2021-08-03 13:26] tmakatos opened #2067 "NVMf/vfio-user: Windows doesn't detect hot-plugged namespaces"
Using https://review.spdk.io/gerrit/c/spdk/spdk/+/8971 with a fairly recentl version of Windows (Version 20H2, OS Build 19042.1110), I've added a Malloc-based namespaces (1GB) while Windows was running:
[code]
However, nothing happened in Windows (no notifications or anything, nothing on Event Viewer etc.). I then played with the Disk Management and Device manager utilities and it turns out that i

[2021-08-03 13:44] mikeBashStuff commented on #2060
I have been running the entire `nvmf.sh` suite today on two VMs, one with f33 5.13.5 and another with f33 5.13.6 - so far none of them failed, surprisingly. Not sure why failure rate is so how in the CI pool - there are some nvmf-tcp-vg jobs which pass the tests but it's like 1 out of 5.

Also, I think the tests starts to misbehave somewhere around `nvmf_rpc` - this is were `waitforserial()` start

[2021-08-03 13:56] peluse commented on #1863
@mikeBashStuff would you possibly be able to run this patch in a loop for me? https://review.spdk.io/gerrit/c/spdk/spdk/+/8549

It may have waay too much debug info in it, so lets see how crazy the log sizes are.  Thanks

[2021-08-03 13:58] jimharris commented on #2063
Hi @mikeBashStuff - could you add more details on how to reproduce this here in this issue?  I know some of the details are in #2048 but would be good to have all of that info here in one place.  Thanks!

[2021-08-03 14:20] mikeBashStuff commented on #2063
The segfault can be reproduced by simply running `test/nvmf/target/abort_hw.sh` from https://review.spdk.io/gerrit/c/spdk/spdk/+/8962 with io size bumped to 40960 (at least one nvme device is needed). The `segv` should be received  when test starts to execute `abort` with qd=64. And it should fail like so regardless of how SPDK was built.

[2021-08-03 14:56] spdkci commented on #2066
Another instance of this failure. Reported by @rafalste. log: https://ci.spdk.io/public_build/autotest-per-patch_54999.html

[2021-08-03 15:21] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_54973.html

[2021-08-03 16:14] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_54997.html

[2021-08-03 16:20] spdkci commented on #2060
Another instance of this failure. Reported by @yupeng0921. log: https://ci.spdk.io/public_build/autotest-per-patch_54885.html

[2021-08-03 16:50] spdkci commented on #2060
Another instance of this failure. Reported by @yupeng0921. log: https://ci.spdk.io/public_build/autotest-per-patch_55013.html

[2021-08-03 16:53] mikeBashStuff commented on #2060
This is what kernel says after the disconnect when the subsystem which is being disconnected (and associated block devices) is not actually removed:

[code]

[2021-08-03 17:59] mikeBashStuff commented on #2060
This seems to be mitigating the issue: https://review.spdk.io/gerrit/c/spdk/spdk/+/9059  - definitely not a fix per se but the failure count drops significantly.

[2021-08-03 22:44] spdkci commented on #2060
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_54909.html

[2021-08-03 22:46] spdkci commented on #2005
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_54921.html

[2021-08-03 22:48] spdkci commented on #2060
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_54925.html

[2021-08-04 01:31] spdkci commented on #1863
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_54962.html

[2021-08-04 02:41] changpe1 commented on #2060
The CI is still failing when enabled a fake CNS 0x6 via https://review.spdk.io/gerrit/c/spdk/spdk/+/9060, @mikeBashStuff is right, CNS 0x6 isn't the root cause for this issue.

[2021-08-04 03:27] changpe1 commented on #2060
Fail CNS 0x6 command requires additional delay, so I think add a delay via https://review.spdk.io/gerrit/c/spdk/spdk/+/9059 is a acceptable workaround.

[2021-08-04 04:35] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_55020.html

[2021-08-04 04:36] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_54995.html

[2021-08-04 04:38] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_54982.html

[2021-08-04 04:41] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_55012.html

[2021-08-04 04:41] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_55019.html

[2021-08-04 07:06] spdkci commented on #2060
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_55037.html

[2021-08-04 07:25] spdkci commented on #2060
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_55044.html

[2021-08-04 07:35] spdkci commented on #2060
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_55009.html

[2021-08-04 07:50] spdkci commented on #1870
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_55050.html

[2021-08-04 07:51] spdkci commented on #2066
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_54978.html

[2021-08-04 07:53] spdkci commented on #2060
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_54980.html

[2021-08-04 07:56] spdkci commented on #2060
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_54981.html

[2021-08-04 08:24] mikeBashStuff commented on #2066
There was a lingering `spdk_pci_lock*` file under `/var/tmp`  on WFP12 (all the reports point at this system for now) probably left out after some failing test. Removed it, all should go back to normal. https://review.spdk.io/gerrit/c/spdk/spdk/+/9065 to make sure we remove such files during the cleanup.

[2021-08-04 08:53] spdkci commented on #2060
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_55039.html

[2021-08-04 08:54] spdkci commented on #2066
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_55040.html

[2021-08-04 08:56] mikeBashStuff commented on #2066
Last report from WFP8 (removed the lock file just now). Will go through all the nodes to make sure this won't suddenly pop up anywhere else.

[2021-08-04 08:56] spdkci commented on #2066
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_54993.html

[2021-08-04 08:59] tmakatos commented on #2067
When the VM boots I see the following async event requests:
[code]
Then I add the namespace:
[code]
Nothing happens afterwards. We don't generate a completion for the async event request previously issued by Windows.

Next, I start the Disk Management utility (see attached log as it's too big to quote).
[log.txt](https://github.com/spdk/spdk/files/6929946/log.txt)

I see Windows issuing "get log p

[2021-08-04 09:06] spdkci commented on #2060
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_54985.html

[2021-08-04 09:16] spdkci commented on #2060
Another instance of this failure. Reported by @EugeneKochetov. log: https://ci.spdk.io/public_build/autotest-per-patch_55065.html

[2021-08-04 09:33] spdkci commented on #2060
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_55058.html

[2021-08-04 09:34] spdkci commented on #2066
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_55059.html

[2021-08-04 10:38] spdkci commented on #2066
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_55054.html

[2021-08-04 11:00] spdkci commented on #2060
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_55075.html

[2021-08-04 11:00] spdkci commented on #2060
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_55074.html

[2021-08-04 11:02] spdkci commented on #2066
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://ci.spdk.io/public_build/autotest-per-patch_54934.html

[2021-08-04 11:51] spdkci commented on #2060
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_55078.html

[2021-08-04 14:30] jimharris commented on #2066
Patch merged - let's keep an eye on this next day or so and then we can close this issue.

[2021-08-04 15:24] spdkci commented on #2060
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_55108.html

[2021-08-04 17:30] spdkci commented on #2060
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_55122.html

[2021-08-04 17:30] spdkci commented on #2060
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_55121.html

[2021-08-04 20:34] jimharris commented on #2067
I ran some NVMe/TCP tests, and I definitely see AERs getting completed when I add a namespace.  I'm not set up to test vfio-user w/ Windows though.

Could you add https://review.spdk.io/gerrit/c/spdk/spdk/+/9078 to your environment and post here what you see?

[2021-08-05 01:04] spdkci commented on #2060
Another instance of this failure. Reported by @yupeng0921. log: https://ci.spdk.io/public_build/autotest-per-patch_55220.html

[2021-08-05 01:35] changpe1 commented on #2067
I tested AERs with Linux VM, and it works well, and I found that the Windows will mask AERs, Windows doesn't expect the drive to generate a AER other than Smart/Health warning.

Here is the trace for Set feature with AER configuration:

[2021-08-05 16:46:44.814490] nvme_qpair.c: 239:nvme_admin_qpair_print_command: *NOTICE*: SET FEATURES ASYNC EVENT CONFIGURATION cid:13 cdw10:0000000b PRP1 0x0 PRP2

[2021-08-05 01:39] changpe1 commented on #2067
Here is the Fedora 33 trace, bit 8 is enabled, BTW not sure why Linux masked the Smart/Health event, it should be a critical notice.

[2021-08-05 16:57:45.268876] nvme_qpair.c: 239:nvme_admin_qpair_print_command: *NOTICE*: SET FEATURES ASYNC EVENT CONFIGURATION cid:24 cdw10:0000000b PRP1 0x0 PRP2 0x0
[2021-08-05 16:57:45.268888] ctrlr.c:1778:nvmf_ctrlr_set_features_async_event_configuration: *DEBU

[2021-08-05 03:59] jimharris commented on #2067
Thanks @changpe1!  No need to run my patch then - it will only confirm that we call nvmf_ctrlr_async_event_ns_notice(), but it returns early since bit 8 isn't set.

[2021-08-05 04:09] changpe1 commented on #2065
[Bug Scrub] @antroseco can you post the kernel log here?

[2021-08-05 04:11] changpe1 commented on #2065
Do you run the above scripts to reproduce this issue? if yes, can you add a delay to see this issue is exist or not.

[2021-08-05 04:14] changpe1 commented on #2064
[Bug Scrub] @ksztyber could you take a look? thanks.

[2021-08-05 04:18] ufo19890607 opened #2068 "Fail to unbind NVMe devices using setup.sh"
## Current Behavior
I cannot unbind NVMe driver with setup.sh in VMD mode. I'm sure that commit 2e55b97d96f6396d(setup.sh: execute checking ulimit as a user) has been merged for my spdk version.
## Steps to Reproduce
[code]

## Context (Environment including OS version, SPDK version, etc.)
OS: centos 7.4
SPDK version 21.07-pre: 7aed75fbc2755448c534c6840448fbcda7650727

[2021-08-05 04:22] optimistyzy commented on #2068
Could you see the info in this page: https://spdk.io/doc/system_configuration.html, you may get the answer

[2021-08-05 04:25] changpe1 commented on #2057
we may add a configuration parameter to let users config it via RPC, does this work for you ? @ghnicky

[2021-08-05 04:32] jimharris commented on #2062
Hi @winglq,

We should change this to O_NONBLOCK.  But that will require quite a few other changes - for example, making the sock library create/connect API asynchronous, and changing the nvme driver's tcp transport to handle an asynchronous connect.  There is already work in progress on the nvme driver's tcp transport which would make this easier.

Thanks,

-Jim

[2021-08-05 04:38] changpe1 commented on #2068
This one maybe helpful, https://spdk.io/doc/vmd.html

[2021-08-05 05:04] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_55204.html

[2021-08-05 05:05] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_55174.html

[2021-08-05 05:07] shuhei-matsumoto commented on #2057
@ghnicky @jimharris @changpe1

This may not be so easy. SCSI device array is statically allocated with fixed size now.
I tried to allocate array dynamically. However, SPDK auto test in the test pool failed. SPDK vhost SCSI subsystem returned completion of shutdown synchronously. However The shutdown of SPDK vhost SCSI subsystem was still in progress after the notification. Then SPDK SCSI subsystem

[2021-08-05 05:08] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_55172.html

[2021-08-05 05:09] shuhei-matsumoto commented on #2057
The patch I abandoned is https://review.spdk.io/gerrit/c/spdk/spdk/+/8193

[2021-08-05 05:12] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_55188.html

[2021-08-05 05:13] spdkci commented on #2047
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_55155.html

[2021-08-05 05:19] wawryk opened #2069 "[iscsi-vg-autotest] Cluster with name=0x88a570 is still used and we cannot delete it"
## Link to the failed CI build
https://ci.spdk.io/public_build/autotest-per-patch_55196.html

## Execution failed at

[code]

[2021-08-05 05:20] spdkci commented on #2069
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_55196.html

[2021-08-05 06:33] optimistyzy commented on #2069
I think that this issue is caused by line 68. If we could use rpc_bdev_get_bdevs to check between line 68 and 69. Then this issue should be solved. Not sure whether there are some already provided shell script function to do this.

[2021-08-05 06:36] spdkci commented on #2063
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_55259.html

[2021-08-05 07:42] ChengqiangMeng opened #2070 "[Scheduler dynamic] Shall the scheduler allocates multiple 100% active threads to one core？"
When I create multiple threads with 100% active status, the scheduler allocates them all to the same core.
Is this expected behavior？
Or if there is any problem with my test method, please let me know. Thanks.
## Current Behavior
As shown in the figure: all busy thread(busy0、busy1、busy2) are allocated on core 0.

![issue](https://user-images.githubusercontent.com/77378851/128309221-fa17be28-8c20-4

[2021-08-05 08:15] ChengqiangMeng opened #2071 "[spdk_top] The display cannot be refreshed in time when the thread destroyed"
When all threads are destroyed, the threads displayed on spdk_top will not be cleared.

## Current Behavior
Just CORES is normal, THREADS and POLLERS in error :

![image](https://user-images.githubusercontent.com/77378851/128313728-45915536-5392-4650-863c-4ed24dfd4d42.png)
![image](https://user-images.githubusercontent.com/77378851/128313764-e3dbe5a4-0f6f-455d-bb07-5059243f1db7.png)
![image](https

[2021-08-05 08:44] tmakatos commented on #2067
Does this mean that there isn't much we can do?

[2021-08-05 08:46] changpe1 commented on #2067
Yeah, but PCI hotplug is supported for Windows, not sure this can meet your requirement or not.

[2021-08-05 09:44] #2068 closed

[2021-08-05 13:17] spdkci commented on #2060
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_55322.html

[2021-08-05 14:11] mikeBashStuff opened #2072 "Not enough interfaces found for phy-nvmf-tcp tests"
https://ci.spdk.io/results/autotest-per-patch/builds/55332/archive/nvmf-tcp-phy-autotest/build.log

Happened on GP1. I am guessing second interface was still in a separate namespace after failing test, hence the issue here.

[2021-08-05 14:12] spdkci commented on #2072
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_55332.html

[2021-08-05 14:34] spdkci commented on #2060
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_55189.html

[2021-08-05 14:34] spdkci commented on #2060
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_55197.html

[2021-08-05 14:57] MattDumm commented on #2055
@AlekseyMarchuk - I haven't forgotten this, but still having issues w/ my hardware. I will try your suggested fixes next week and let you know the results.

[2021-08-05 15:03] AlekseyMarchuk commented on #2055
Thanks @MattDumm no worries)

[2021-08-05 15:04] mhae opened #2073 "bdev/nvme: bdev_nvme_reset() must not free NVMe qpairs for PCIe"
I think there is a fundamental issue in how bdev_nvme_reset() is executing a ctrlr reset.

The bdev_nvme_reset() first deletes all qpairs before calling the ctrlr_reset function:
[code]

This is problematic:
The _bdev_nvme_reset_destroy_qpair() calls spdk_nvme_ctrlr_free_io_qpair() which eventually calls ctrlr_delete_io_qpair().
For the PCIe case, nvme_pcie_ctrlr_delete_io_qpair() actually submits

[2021-08-05 16:50] jimharris commented on #2069
@optimistyzy - could you dig into this further?  Assigning to you for now.

[2021-08-05 16:59] jimharris commented on #2067
I agree, I don't think there's anything we can do for inserting a namespace into an existing controller.  New disks could be added as a single namespace in a new controller (which would be a PCI hotplug), but that's not as nice as adding it to an existing controller.

[2021-08-05 19:41] spdkci commented on #2060
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_55357.html

[2021-08-05 19:41] spdkci commented on #2060
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_55351.html

[2021-08-05 19:41] spdkci commented on #2060
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_55346.html

[2021-08-05 20:26] spdkci commented on #2060
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_55396.html

[2021-08-05 20:26] spdkci commented on #2060
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_55393.html

[2021-08-05 20:27] spdkci commented on #2060
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_55397.html

[2021-08-06 04:38] optimistyzy commented on #2069
Hi

Hi Jim,

bdev_rbd_delete is async, So if we call line 69, there could be cases that the rbd is not finishing the delete operation.  So I suggest whether we will have functions to check whether an rbd device is exist. Then we can call bdev_rbd_unregister_cluster.

[2021-08-06 06:10] spdkci commented on #2060
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_55400.html

[2021-08-06 06:13] spdkci commented on #2060
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_55398.html

[2021-08-06 06:24] spdkci commented on #2060
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_55349.html

[2021-08-06 07:12] spdkci commented on #2072
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_55442.html

[2021-08-06 07:31] JiangMaox opened #2074 "VFIOUSER transport occured core dumped"
Core dumped while running reconnect on nvmf-tgt, log reported dma unmap failed.
## Expected Behavior

Run example successfully.
## Current Behavior

Core dumped while running reconnect on nvmf-tgt.
nvmf-tgt log:
Starting program: /root/spdk/build/bin/nvmf_tgt -p 0 -m 0xFF
warning: Loadable section ".note.gnu.property" outside of ELF segments
[Thread debugging using libthread_db enabled]
Using host

[2021-08-06 07:42] spdkci commented on #2060
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_55347.html

[2021-08-06 07:47] spdkci commented on #2060
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_55352.html

[2021-08-06 07:51] tomzawadzki commented on #2060
There are similar reports to the original one, but might be as a result of the 8bb27faff6b9dc3877db80c1ee547272bfd95944 patch.
Times out happen due to always reading there are two matching devices while `waitforserial`. Prior to that patch there was `-lt`, now its `==` which could have previously missed such errors. Either way it is surprising there are two of them.

https://ci.spdk.io/public_buil

[2021-08-06 07:55] mikeBashStuff commented on #2060
@tomzawadzki I did, pushed this yestarday https://review.spdk.io/gerrit/c/spdk/spdk/+/9085. No idea why there are multiple devices seen. Pobably the same cause as the initial one, the extra device is the broken one from previous connects|disconnects (which is likely since https://github.com/spdk/spdk/commit/8bb27faff6b9dc3877db80c1ee547272bfd95944 is not really fixing anything, it's just mitigatin

[2021-08-06 07:58] changpe1 commented on #2060
The new NVMe driver is doing some asynchronous operations, I think this might the problem when doing connect/disconnect tests.

[2021-08-06 08:15] changpe1 opened #2075 "NVMe: EAL: Unexpected size 0 of DMA remapping cleared instead of 2097152"
## Expected Behavior

## Current Behavior

EAL: Unexpected size 0 of DMA remapping cleared instead of 2097152
EAL: Unexpected size 0 of DMA remapping cleared instead of 2097152
EAL: Unexpected size 0 of DMA remapping cleared instead of 2097152
EAL: Unexpected size 0 of DMA remapping cleared instead of 2097152
EAL: Unexpected size 0 of DMA remapping cleared instead of 2097152
EAL: Unexpected size 0

[2021-08-06 08:18] changpe1 commented on #2075
The issue happened after step 4, and only related with nvmf target, vhost target doesn't have this issue.

[2021-08-06 08:22] changpe1 commented on #2075
we must use the NVMe device too.

[2021-08-06 10:54] tmakatos commented on #2067
We have opened a support case with Microsoft (request for enhancement) for this.

[2021-08-06 11:52] tomzawadzki commented on #691
I've since rebased the https://review.spdk.io/gerrit/c/spdk/spdk/+/1111 patch. Yet was unable to reproduce it on latest SPDK, nor its original base (692fce32224970a4da644dffbc959b529fb3783d) from March 2020 on my machine.

[2021-08-06 12:40] spdkci commented on #2060
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_55503.html

[2021-08-06 13:37] spdkci commented on #2060
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_55509.html

[2021-08-06 14:29] jimharris commented on #2069
Hi Ziye,

I think it would be better to defer completion of the RPC until the delete operation is fully complete.  I don't think polling on the bdev like in patch 9105 will fix the problem.  I've added comments to the patch to explain why.

Thanks,

Jim

[2021-08-06 15:15] gaowayne opened #2076 "how to enable SPDK malloc to run with idxd accel engine"
## Expected Behavior
I can run malloc with Intel Data Stream accelerator, I see the code is ready, but just with some reason my engine is not ready.

## Current Behavior
===below check if my engine support any operations, the capabilities is 0.
112	void
113	spdk_accel_task_complete(struct spdk_accel_task *accel_task, int status)
(gdb) n
110	}
(gdb) info locals
No locals.
(gdb) info local
No locals

[2021-08-06 15:17] gaowayne commented on #2076
is_supported will return false. how to enable this?
spdk_accel_submit_copy(struct spdk_io_channel *ch, void *dst, void *src, uint64_t nbytes,
		       spdk_accel_completion_cb cb_fn, void *cb_arg)
{
	struct accel_io_channel *accel_ch = spdk_io_channel_get_ctx(ch);
	struct spdk_accel_task *accel_task;

	accel_task = _get_task(accel_ch, NULL, cb_fn, cb_arg);
	if (accel_task == NULL) {
		return -ENOM

[2021-08-06 15:22] jimharris commented on #2076
Please make sure you have specified ```--with-idxd``` to configure.

Could you also post more details on your configuration and reproduce steps.  Are you using the accel_perf tool to test?  If so, what parameters are you passing?  Can you post a full log from accel_perf?

[2021-08-06 15:29] gaowayne commented on #2076
thank you so much Jim. I configure --with-idxd, I run bdevperf over malloc device. I am new to accel components. could you please point to me guide for accel_perf tool?

[2021-08-06 15:36] jimharris commented on #2076
try:

[code]

[2021-08-06 15:39] gaowayne commented on #2076
[code]

[2021-08-06 15:43] jimharris commented on #2076
can you post output from:

[code]

[2021-08-06 15:45] gaowayne commented on #2076
[root@localhost spdk]# scripts/setup.sh status
Hugepages
node     hugesize     free /  total
node0   1048576kB        0 /      0
node0      2048kB     1023 /   1024
node1   1048576kB        0 /      0
node1      2048kB    10000 /  10000

Type     BDF             Vendor Device NUMA    Driver           Device     Block devices
NVMe     0000:38:00.0    8086   4140   0       nvme             nvme0

[2021-08-06 15:53] jimharris commented on #2076
Can you try:

[code]

This should bind idxd devices to uio_pci_generic or vfio-pci driver enabling the userspace SPDK idxd driver.  There is support for using the kernel idxd driver - @peluse or @optimistyzy can advise how to enable that with accel_perf.

You may need to enable IOMMU on your system to get idxd working.  I think there are some bugs with vtophys translation - @peluse has some patche

[2021-08-06 15:55] gaowayne commented on #2076
[root@localhost spdk]# scripts/setup.sh
0000:6a:01.0 (8086 0b25): idxd -> uio_pci_generic
0000:f7:01.0 (8086 0b25): idxd -> uio_pci_generic
0000:e8:01.0 (8086 0b25): idxd -> uio_pci_generic
0000:74:01.0 (8086 0b25): idxd -> uio_pci_generic
0000:79:01.0 (8086 0b25): idxd -> uio_pci_generic
0000:f2:01.0 (8086 0b25): idxd -> uio_pci_generic
0000:ed:01.0 (8086 0b25): idxd -> uio_pci_generic
0000:6f:01

[2021-08-06 15:57] gaowayne commented on #2076
@jimharris  it still use SW path. :(
[root@localhost spdk]# ./build/examples/accel_perf -q 1 -T 1 -n 1 -o 4096 -t 60 -w copy
SPDK Configuration:
Core mask:      0x1

Accel Perf Configuration:
Workload Type:  copy
Transfer size:  4096 bytes
Queue depth:    1
Allocate depth: 1
# threads/core: 1
Run time:       60 seconds
Batching:       Disabled
Verify:         No

[2021-08-06 08:56:09.061203] Start

[2021-08-06 15:59] jimharris commented on #2076
@peluse, @optimistyzy - could you suggest some next steps here?

[2021-08-06 21:36] jimharris commented on #2069
This patch should ensure we don't complete the bdev_rpc_delete RPC until after all of the asynchronous delete operations are completed:

https://review.spdk.io/gerrit/c/spdk/spdk/+/9115

[2021-08-09 01:54] changpe1 commented on #2009
patch has been merged, so closing it for now.

[2021-08-09 01:54] #2009 closed

[2021-08-09 02:10] optimistyzy opened #2077 "[nvmf-tcp-phy-autotest] Failed to init the trace resource"
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/55332/archive/nvmf-tcp-phy-autotest/build.log

## Execution failed at

00:04:27.552  EAL: No available 1048576 kB hugepages reported
00:04:27.556  TELEMETRY: No legacy callbacks, legacy socket not created
00:04:27.589  [2021-08-09 03:40:07.151595] app.c: 540:spdk_app_start: *NOTICE*: Total cores available: 4
00:04

[2021-08-09 02:15] spdkci commented on #2077
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_55561.html

[2021-08-09 02:42] optimistyzy commented on #2076
I do not have a SPR platform. But the with the following suggestions:

1  Currently better to use vfio to bind the DSA device instead of uio.
2 To use accel perf. You need use rpc or configuration file to leverage the DSA devices. Otherwise, software engine will be used.  The following shows the contents in json configuration file if you use a json configuration file.

{
        "subsystems": [
{

[2021-08-09 04:25] optimistyzy commented on #2069
Hi Jim,

I think that there is sync related issue on your patch. Could you review my comments?  Thanks.

[2021-08-09 06:59] spdkci commented on #2060
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_55474.html

[2021-08-09 07:10] spdkci commented on #2060
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_55262.html

[2021-08-09 07:13] spdkci commented on #2072
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_55576.html

[2021-08-09 07:53] flaging opened #2078 "spdk_nvme_ctrlr_alloc_io_qpair() failed"
## Expected Behavior

I want to bind one thread with multi-nvmes, so I create multi-queue for one thread. However, when the second create second thread do the same thing, It comes with a SIGSEGV.

## Current Behavior

![image](https://user-images.githubusercontent.com/10471450/128672856-2c01ff97-fb0d-467e-91ad-a8af3f666937.png)

## Context (Environment including OS version, SPDK version, etc.)

SP

[2021-08-09 08:04] changpe1 commented on #2075
OK, now I can confirm the issue is related with commit 9d4fbc135, need to investigate more why only affect NVMf target.

[2021-08-09 08:14] changpe1 commented on #2075
[2021-08-09 23:31:40.426668] reactor.c: 624:get_rusage: *INFO*: Reactor 0: 0 voluntary context switches and 9 involuntary context switches in the last second.
^C[2021-08-09 23:31:41.069602] thread.c:2207:spdk_put_io_channel: *DEBUG*: Putting io_channel 0x2c9d1a0 for io_device bdev_Nvme0n1 (0x2c9c971) on thread nvmf_tgt_poll_group_0 refcnt 1
[2021-08-09 23:31:41.069618] thread.c:2142:put_io_channel

[2021-08-09 08:30] changpe1 commented on #2075
vhost target has special process when closing the opened nvme bdev, this issue can happen on all component if you just call ` scripts/rpc.py bdev_nvme_attach_controller -b Nvme0 -t pcie -a 0000:d8:00.0`  and then `Ctrlr + C` to terminate application.

[2021-08-09 08:44] spdkci commented on #2060
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_54768.html

[2021-08-09 08:51] mikeBashStuff commented on #2060
@changpe1 Would you kindly elaborate? :) Any hints as to which parts of the driver may be affecting the tests would be appreciated since this issue hits the CI quite heavily. I have been trying to disect the kernel between 5.12-5.13 to get some idea what exactly could have caused it, but not luck so far.

[2021-08-09 09:54] gaowayne commented on #2076
@optimistyzy thank you so much. I make progress now.
[code]

[2021-08-09 09:56] gaowayne commented on #2076
it looks like accel save_config does not work at all.
[code]

[2021-08-09 10:19] gaowayne commented on #2076
@optimistyzy it works fine now. I will learn this.
[code]

[2021-08-09 11:41] tomzawadzki commented on #2077
Duplicate of #2041

[2021-08-09 11:41] #2077 closed

[2021-08-09 11:43] spdkci commented on #2041
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_55601.html

[2021-08-09 14:07] peluse commented on #2076
FYI you don't need these, they are the defaults. "-q 32 -o 4096 -t 5"

[2021-08-09 14:08] peluse commented on #2076
For quick questions you can also use slack.  See https://spdk.io/community/

[2021-08-09 14:08] #2076 closed

[2021-08-09 14:42] gaowayne commented on #2076
@peluse man sorry, I just failed to run above command after couple of hours. I do not do anything more. maybe uio way is not stable. I am trying to enable vfio. I need your more suggestion on this part. actually I have not full enable this well. :(, can we re-open this?

[2021-08-09 15:34] tomzawadzki commented on #2078
Can you please try a recent SPDK ? Latest master or one of the supported releases SPDK 21.07 or SPDK 21.01 LTS.

[2021-08-09 16:53] spdkci commented on #2060
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_55518.html

[2021-08-09 19:19] spdkci commented on #2060
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_55641.html

[2021-08-09 20:00] spdkci commented on #2060
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_55624.html

[2021-08-09 20:05] peluse opened #2079 "[START TEST devices] blkid returns PTTYPE="atari""
00:01:49.383  ************************************
00:01:49.383  START TEST devices
00:01:49.383  ************************************
00:01:49.383   11:58:04	-- spdk/test/common/autotest_common.sh@956 -- # xtrace_enable
00:01:49.383   11:58:04	-- spdk/test/common/autotest_common.sh@957 -- # /var/jenkins/workspace/BlobFS-autotest/spdk/test/setup/devices.sh
00:01:49.467  * Looking for test storage.

[2021-08-09 20:07] spdkci commented on #2079
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_55598.html

[2021-08-09 20:13] jimharris commented on #2079
[code]

Looks like this issue isn't unique to SPDK:
https://forums.gentoo.org/viewtopic-t-1095976-start-0.html
https://forums.linuxmint.com/viewtopic.php?t=330769

And looks like maybe it's been fixed with more recent versions of blkid?
https://github.com/karelzak/util-linux/issues/1116

Probably we'll just need to special case this Atari thing for now.  @mikeBashStuff can you take a look?

[2021-08-09 20:22] peluse commented on #2079
I wonder if its related to the Nintendo bug... :)

[2021-08-09 22:51] spdkci commented on #2079
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_55587.html

[2021-08-10 00:56] spdkci commented on #2072
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_55594.html

[2021-08-10 00:57] spdkci commented on #2072
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_55585.html

[2021-08-10 05:01] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_55637.html

[2021-08-10 05:01] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_55639.html

[2021-08-10 05:57] changpe1 commented on #2019
Not a SPDK issue, closing it now.

[2021-08-10 05:57] #2019 closed

[2021-08-10 06:51] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_55679.html

[2021-08-10 07:12] changpe1 commented on #2075
I added abort() after the error log in DPDK, and found the following function call trace, so this issue is related with dynamic memory hotplug, where VFIO_IOMMU_MAP_DMA and VFIO_IOMMU_UNMAP_DMA aren't paired.  This can happen when we map a large memory region and unmap just part of the old map, the size will set to 0 and return code is success.

(gdb) bt
#0  0x00007f96a81a8e35 in raise () from /li

[2021-08-10 07:19] changpe1 commented on #2075
Link this issue to https://github.com/spdk/spdk/issues/1705

[2021-08-10 07:25] ChengqiangMeng opened #2080 "[scheduler_dynamic] The percentage of thread activity time in scheduler_dynamic.c may not be calculated correctly"
## Current Behavior
In the current code, the active percentage is calculated by the IDLE and BUSY of the current thread. However, the threads we create as a percentage of active time are calculated as a percentage of the core. When a new thread is created, a portion of the total idle + busy time of the previously created thread will be allocated to the new thread. In this way, the previous idle th

[2021-08-10 07:31] spdkci commented on #2060
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_55652.html

[2021-08-10 08:05] dong-liuliu commented on #2070
Thanks for your careful discovery and review, Chengqiang.
Current behavior met current ability of dynamic scheduler.

Your expected behavior is reasonable, but this requires more enhancement in spdk scheduler :)

[2021-08-10 08:05] changpe1 commented on #2075
I opened an issue in DPDK via https://bugs.dpdk.org/show_bug.cgi?id=786

[2021-08-10 08:26] tomzawadzki opened #2081 "[nvmf_multipath] timeout before ANA state (nvme0 c1) becomes optimized"
## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/55491/archive/nvmf-tcp-uring-vg-autotest/build.log

## Execution failed at

00:10:53.642    11:23:55	-- nvmf/target/multipath.sh@19 -- # cat /sys/block/nvme0c1n1/ana_state
00:10:53.647   11:23:55	-- nvmf/target/multipath.sh@19 -- # '[' inaccessible '!=' optimized ']'
00:10:53.647   11:23:55	-- nvmf/target/multipat

[2021-08-10 08:28] spdkci commented on #2060
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_55501.html

[2021-08-10 08:28] spdkci commented on #2081
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_55491.html

[2021-08-10 08:56] karlatec opened #2082 "SPDK NVMe-oF Target presents all subsystems for "discovery" query regardless of IP and port number"
## Current Behavior

SPDK NVMe-oF Target presents all subsystems for "discovery" query regardless of IP and port number

## Expected Behavior

Target should present only subsystems matching queried IP and port number.

## Steps to Reproduce

1. Run SPDK NVMe-oF Target with following configuration:
[code]

2. Run nvmecli discovery command. SPDK presents all configured subsystems:
[code]

3. Run Ker

[2021-08-10 08:57] karlatec commented on #2082
@jimharris this is from https://review.spdk.io/gerrit/c/spdk/spdk/+/8776

[2021-08-10 09:17] mikeBashStuff opened #2083 "No space left on device reported by vagrant"
https://ci.spdk.io/results/autotest-per-patch/builds/55690/archive/freebsd-vg-autotest/build.log

[2021-08-10 09:21] spdkci commented on #2083
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_55689.html

[2021-08-10 09:21] spdkci commented on #2083
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_55691.html

[2021-08-10 09:21] spdkci commented on #2083
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_55694.html

[2021-08-10 09:23] spdkci commented on #2083
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_55690.html

[2021-08-10 09:33] mikeBashStuff commented on #2079
@jimharris https://review.spdk.io/gerrit/c/spdk/spdk/+/9143 this should do the trick I think.

[2021-08-10 10:11] spdkci commented on #2060
Another instance of this failure. Reported by @richael02. log: https://ci.spdk.io/public_build/autotest-per-patch_55676.html

[2021-08-10 10:17] mikeBashStuff commented on #1863
@peluse Sure, will try to spin it today.

[2021-08-10 11:22] spdkci commented on #2060
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_55716.html

[2021-08-10 11:44] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_55711.html

[2021-08-10 13:37] xjjx commented on #1648
I gathered some statistics and seems that this issue hit us 461 in last 30 days.
It was finally solved in last week.

[2021-08-10 14:22] mikeBashStuff commented on #1863
Ok, so for the first try I started the test under SPDK built like so:

[code]

It was spinning for several hours (133 iterations to be exact) with no failure, logs here (unfortunately, debug was not enabled for this run):
[log_first_try.zip](https://github.com/spdk/spdk/files/6962157/log_first_try.zip)

I stopped the test since I realized  SPDK was not built exactly like autobuild does it nor how

[2021-08-10 14:38] tomzawadzki commented on #2070
Hi @ChengqiangMeng please keep in mind that `test/event/scheduler/scheduler` and it's RPC are test application only.

In below RPC the `-m 0x1` assigns the cpu mask for the thread, in this case only Core 0:
[code]

`scheduler_dynamic` does respect the cpu mask passed when creating the thread. If you want the threads to be balanced, please either skip assigning the cpu mask (don't pass the argument

[2021-08-10 14:39] peluse commented on #1863
Wow, intersting.  @jimharris @benlwalker I'll look into the logs this afternoon when I have some time.  The number of itterations passing vs failing with the 2 configure seems like a clue as opposed to coincidence...

[2021-08-10 14:56] jimharris commented on #1863
Yeah - that is interesting!  I suspect either --enable-debug or --enable-ubsan would be the culprit.  @mikeBashStuff could you try adding those missing configure parameters one at a time to see which one starts causing the failures?  And then try the full autobuild configure line minus that one option to see if that runs without failure?

[2021-08-10 14:58] #2066 closed

[2021-08-10 14:59] mikeBashStuff commented on #1863
@jimharris Sure, will do.

[2021-08-10 14:59] #2033 closed

[2021-08-10 15:10] tomzawadzki commented on #2082
[Bug scrub] The NVMe-oF target can report both way according to the spec. Yet SPDK NVMe-oF target can provide an option to configure which way to respond during the discovery.

[2021-08-10 15:20] #691 closed

[2021-08-10 18:11] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_55749.html

[2021-08-10 19:54] spdkci commented on #2060
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_55752.html

[2021-08-10 19:55] spdkci commented on #2060
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_55753.html

[2021-08-10 23:06] spdkci commented on #2060
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_55758.html

[2021-08-11 00:17] jimharris commented on #2073
Hi @mhae,

Yeah - we need to avoid the admin commands in this case to PCIe controllers.  I'm going to work on this one.  @benlwalker and I talked about your issue last week - we think we want to keep the explicit delete operations in the bdev module before we do the reset, meaning we'd want a way to signal to the pcie transport (maybe a new API?) that it should just do cleanup on the qpair structu

[2021-08-11 01:08] winglq commented on #2062
Thanks Jim.
Currently I have to create a pthread to deal with the connect.

[2021-08-11 04:05] ChengqiangMeng commented on #2070
Hi @tomzawadzki , thank you and @dong-liuliu for your answer. And when I don‘t add `-m`, this problem can be solved. However, when the number of 100% active threads I add exceeds the number of cores, all threads created later will be allocated to main_core. Is this what we expected？

[2021-08-11 04:38] optimistyzy opened #2084 "Failed to run accel_perf"
# Bug report

The accel_perf has coredump.

Core dump should not happen.

1 compile with SPDK:  ./configure --with-idxd --enable-debug;
2 run:   build/examples/accel_perf -q 1 -o 4096 -t 1 -w copy -m 0x3

The coredump is :

[2021-08-11 12:37:45.642432] Starting SPDK v21.10-pre git sha1 690783a3a / DPDK 21.05.0 initialization...
[2021-08-11 12:37:45.643732] [ DPDK EAL parameters: [2021-08-11 12:37:

[2021-08-11 04:46] optimistyzy commented on #2084
https://review.spdk.io/gerrit/c/spdk/spdk/+/9151 This is a fix but not the best one.

[2021-08-11 09:06] ksztyber commented on #2064
Patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/9154

[2021-08-11 13:03] spdkci commented on #1969
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_55784.html

[2021-08-11 13:04] spdkci commented on #2060
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_55780.html

[2021-08-11 13:20] spdkci commented on #2060
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_55787.html

[2021-08-11 13:22] suruifeng opened #2085 "bdev/nvme: nvme_qpair_submit_request() trapped in dead recursion"
# Bug report

When the vhost uses the NVMe to create 32 logical volumes and configure the logical volumes for 16 VMs, a vhost core dump occurs in the VM life cycle test scenario.

## Expected Behavior

Everything is normal and no core is generated. nvme_qpair_submit_request() should only have one recursion.

## Current Behavior

vhost core dump occurs， I can see from the stack that nvme_qpair_subm

[2021-08-11 13:23] spdkci commented on #1894
Another instance of this failure. Reported by @rafalste. log: https://ci.spdk.io/public_build/autotest-per-patch_55786.html

[2021-08-11 13:29] Pluto-Wangjie commented on #2085
@tomzawadzki

[2021-08-11 14:15] spdkci commented on #2060
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_55798.html

[2021-08-11 14:29] jimharris commented on #2084
Hi Ziye,

Can you explain more how the capability detection causes the current_queue_depth assert to happen later on?

Thanks,

Jim

[2021-08-11 15:22] peluse commented on #2084
Here's with -L thread passing case with get_io_channel within the lock and failing outside of the lock.  There are 2 "extra" channels allocated when the call is outside of the lock. Investigating...

PASS:
[2021-08-11 14:20:22.432499] thread.c:1930:spdk_io_device_register: *DEBUG*: Registering io_device sw_accel_engine (0x5555559747c0) on thread app_thread
[2021-08-11 14:20:22.432527] thread.c:193

[2021-08-11 15:42] peluse commented on #2084
Seems odd to me but how this works is that in accel_perf_start() we loop on cores and requested # threads per code and create the threads accordingly.  After each is created we call spdk_thread_send_msg() to invoke _init_thread which is where we setup the worker for the thread and this is there the call to spdk_accel_engine_get_io_channel() which is of course used to get a channel for the worker n

[2021-08-11 16:04] spdkci commented on #2060
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_55800.html

[2021-08-11 19:11] jimharris commented on #2084
There is a race on the capabilities check.  We need to know if we're using the SW engine because the completion path depends on it (more on that in a bit).  Just putting the get_channel in the lock isn't enough - it might work in some cases, but won't always.  There's actually no reason we can't just have every thread check the capabilities - there's no harm in multiple threads setting the global

[2021-08-11 19:47] benlwalker commented on #2060
The bug is not in the handling of CNS. The kernel does send a new CNS value (06h) that SPDK doesn't support and fails. But the kernel moves on from that without an issue.

[2021-08-12 04:25] jimharris commented on #2080
@tomzawadzki - could you take a look at this issue?

[2021-08-12 05:15] spdkci commented on #2062
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_55846.html

[2021-08-12 09:10] jlevon opened #2086 "dynamically added vfio devices doesn't register memory with iommu"
Using an SPDK based on 153f03cf42880f083dad9de71bc73e287bf7f997
we observed the following issue.

We've set up SPDK such that it is using vfio-user with a qemu client, and the VM
using nvmf's virtual NVMe controller.
During start of the VM, each guest memory region is mapped in the DMA callback
via spdk_mem_register(). In `lib/env_dpdk/memory.c`, it then attempts to register
that memory with the V

[2021-08-12 09:11] spdkci commented on #2060
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_55867.html

[2021-08-12 10:05] spdkci commented on #2060
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_55875.html

[2021-08-12 10:39] spdkci commented on #1863
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_55880.html

[2021-08-12 11:21] spdkci commented on #1863
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_55881.html

[2021-08-12 12:58] flaging commented on #2078
I have changed my test server and this disappeared, Thanks anyway.

I have some change in v17.07 like register device's bar space to the spdk's map. I can't get the virtual addr of this space, So    I bind some unused virtual addr and the device's phy addr by force. In newer version like v21.07, I cant find the same interface to bind both virtual addr and phy addr, or register the device's space t

[2021-08-12 13:06] #2064 closed

[2021-08-12 13:06] #2004 closed

[2021-08-12 13:30] mikeBashStuff commented on #2072
Potential workaround: https://review.spdk.io/gerrit/c/spdk/spdk/+/9168

[2021-08-12 15:46] antroseco opened #2087 "[nvmf_filesystem_incapsule] timed out during waitforserial "$NVMF_SERIAL""
# CI Intermittent Failure

`nvmf_filesystem_incapsule` in `nvmf-tcp-vg-autotest #31021` timed out during `waitforserial "$NVMF_SERIAL"`

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_55459.html

## Execution failed at

[code]

[2021-08-12 15:48] spdkci commented on #2087
Another instance of this failure. Reported by @antroseco. log: https://ci.spdk.io/public_build/autotest-per-patch_55459.html

[2021-08-12 20:19] spdkci commented on #1863
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_55847.html

[2021-08-12 20:20] jimharris commented on #2060
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_55847.html

[2021-08-12 21:50] spdkci commented on #2060
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_55918.html

[2021-08-12 21:51] jimharris commented on #2070
Question asked here has been answered - so closing.

[2021-08-12 21:51] #2070 closed

[2021-08-12 21:58] jimharris commented on #2078
Hi @flaging,

Can you explain more about this "binding by force"?  In SPDK, all PCI devices have an associated DPDK driver associated with them.  For example, see lib/env_dpdk/pci_ioat.c and then how lib/ioat/ioat.c uses spdk_pci_ioat_get_driver() in the call to spdk_pci_enumerate().

If you have a PCI device that you would like its BARs mapped into virtual address space, this is the supported way

[2021-08-12 21:58] #2078 closed

[2021-08-12 22:52] jimharris commented on #2079
Patch merged.  Thanks @mikeBashStuff!

[2021-08-12 22:52] #2079 closed

[2021-08-12 23:38] jimharris commented on #2060
Tagging issue #2087 here.  That one was a duplicate of this issue.

[2021-08-12 23:39] jimharris commented on #2087
Thanks @antroseco.  I'm going to close this issue since it looks like the same symptoms we're seeing with issue #2060.  The title on #2060 was a bit misleading until now, so it would have been difficult for you to correlate it to that one.  I've updated the title on #2060 to make that easier moving forward.

[2021-08-12 23:39] #2087 closed

[2021-08-12 23:41] jimharris commented on #2085
Hi,

[code]

Are you able to reproduce with a more recent SPDK release?

-Jim

[2021-08-13 00:02] jimharris commented on #2003
Closing this issue.  @wanghailiangx, if you're able to provide a set of reproduction steps that starts from initial creation of a CentOS 7.8 VM, we can look at it further.  Otherwise suggest upgrading CentOS as suggested by @mikeBashStuff.

[2021-08-13 00:02] #2003 closed

[2021-08-13 00:05] jimharris commented on #1975
@Comphix, @feixue1860 - anything further needed on this issue?  Or can we close?

[2021-08-13 00:10] jimharris commented on #1783
Closing this issue.

@gaowayne, if there is a specific change you would like to see here, please feel free to submit a patch and we can review it.

[2021-08-13 00:10] #1783 closed

[2021-08-13 00:29] antroseco commented on #2087
Indeed that does look similar. Sorry about that, that issue didn't come up on my search - the updated title definitely helps.

[2021-08-13 03:21] USTCqzy opened #2088 "bdev hello world example failed to submit IO to core device if we use OCF"
# Bug report

similar to previous issue (https://github.com/spdk/spdk/issues/1437)

## Expected Behavior

example need run well for OCF

## Current Behavior

spdk$ sudo  ./build/examples/hello_bdev -c ./examples/bdev/hello_world/test.json -b Cache1
[2021-08-13 03:08:02.362139] Starting **SPDK v21.07.1**-pre git sha1 2b616cdb3 / DPDK 21.05.0 initialization...
[2021-08-13 03:08:02.362197] [ DPDK EAL

[2021-08-13 03:48] spdkci commented on #1863
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_55939.html

[2021-08-13 05:51] spdkci commented on #2060
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_55858.html

[2021-08-13 05:52] spdkci commented on #2060
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_55857.html

[2021-08-13 06:57] Comphix commented on #1975
Let's close this issue first and reopen it if needed later.

[2021-08-13 06:57] #1975 closed

[2021-08-13 07:26] #2072 closed

[2021-08-13 09:36] beef9999 opened #2089 "[ocf] vbdev_ocf_ctx_data_alloc shouldn't use malloc. spdk_malloc is just fine"
https://github.com/spdk/spdk/blob/5263f0a12f4a7f45f08bc461aee9c9519f331de4/module/bdev/ocf/ctx.c#L45

Currently we allocate 1 page to store spdk_malloc buffer, but why not just store the buffer address into data context?

[2021-08-13 09:53] #2089 closed

[2021-08-13 12:56] spdkci commented on #2072
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_56012.html

[2021-08-13 14:37] spdkci commented on #2060
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_56043.html

[2021-08-13 15:01] AlekseyMarchuk commented on #2082
I prepared a patch which adds several rules to filter discovery log page entries https://review.spdk.io/gerrit/c/spdk/spdk/+/9185
Some of the rules may look redundant and can be removed

[2021-08-13 15:07] spdkci commented on #2041
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_56034.html

[2021-08-13 16:58] spdkci commented on #2060
Another instance of this failure. Reported by @EugeneKochetov. log: https://ci.spdk.io/public_build/autotest-per-patch_56057.html

[2021-08-13 16:59] spdkci commented on #2060
Another instance of this failure. Reported by @EugeneKochetov. log: https://ci.spdk.io/public_build/autotest-per-patch_56052.html

[2021-08-13 17:25] antroseco commented on #2086
I've managed to narrow this down to two distinct issues.

## DPDK does not process event callbacks after hotplug

SPDK's `vtophys_iommu_device_event` is supposed to remap memory (sometimes) after a `RTE_DEV_EVENT_ADD` event.
`spdk_pci_device_attach()` calls `rte_eal_hotplug_add()` to attach our PCIe drive, but `rte_eal_hotplug_add()` doesn't call `rte_dev_event_callback_process()` so `vtophys_iomm

[2021-08-13 22:45] jimharris opened #2090 "[START TEST] devices - blocks array is NULL"
I can't tell, but maybe this is related to #2079?  It's the same vicinity.  @mikeBashStuff - could you take a look when you have a chance next week?

[code]

[2021-08-13 22:46] spdkci commented on #2090
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_56011.html

[2021-08-13 22:47] spdkci commented on #2090
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_56015.html

[2021-08-13 22:58] spdkci commented on #2090
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_56020.html

[2021-08-13 23:00] spdkci commented on #2090
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_56023.html

[2021-08-13 23:01] jimharris opened #2091 "[START TEST] denied - build timeout"
https://ci.spdk.io/results/autotest-per-patch/builds/56026/archive/nvme-cmb-pmr-vg-autotest/index.html

00:07:15.051  ************************************
00:07:15.051  START TEST denied
00:07:15.051  ************************************
00:07:15.052   12:48:51	-- common/autotest_common.sh@956 -- # xtrace_enable
00:07:15.052   12:48:51	-- common/autotest_common.sh@957 -- # denied
00:07:15.053   12

[2021-08-13 23:02] spdkci commented on #2091
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_56026.html

[2021-08-13 23:02] jimharris commented on #2090
https://ci.spdk.io/public_build/autotest-per-patch_56026.html
Specifically the BlobFS job: https://ci.spdk.io/results/autotest-per-patch/builds/56026/archive/BlobFS-autotest/index.html

This test run also had a #2091 failure on a different job.

[2021-08-13 23:20] mikeBashStuff commented on #2090
@jimharris This happened on newg systems with nvme drives that didn't have any active namespaces. Systems in question were added to the CI by accident and were already removed.

[2021-08-13 23:24] jimharris commented on #2090
Thanks @mikeBashStuff!  That explains why I saw several of these in a row on Konrad's series and then they disappeared.

Since you already have clear resolution on this, I'm closing this issue.

[2021-08-13 23:24] #2090 closed

[2021-08-13 23:32] spdkci commented on #2090
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_56025.html

[2021-08-13 23:35] jimharris opened #2092 "[nvmf_vfio_user] group != NULL assertion failed"
https://ci.spdk.io/results/autotest-per-patch/builds/56029/archive/nvmf-tcp-uring-vg-autotest/build.log
https://ci.spdk.io/public_build/autotest-per-patch_56029.html

[code]

[2021-08-13 23:36] spdkci commented on #2092
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_56029.html

[2021-08-13 23:37] spdkci commented on #2060
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_56022.html

[2021-08-14 00:11] spdkci commented on #2060
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_56109.html

[2021-08-14 03:05] changpe1 commented on #2092
I was thinking this issue maybe caused by recent asynchronous NVMe IO creation patches, I bisected it was introduced via commit 0d0524b9e0.

[2021-08-14 10:05] suruifeng commented on #2085
There is a very low probability that this problem will recur. However, I will try to reproduce this problem with a more recent SPDK release, do you have any information about possible causes or patches for this problem?

[2021-08-14 14:01] USTCqzy opened #2093 "Fail to organize a three-layer hierarchy using SPDK OCF"
# Bug report

Fail to organize a three-layer hierarchy using SPDK OCF.

## Expected Behavior

Cache can be successfully generated and used.

## Current Behavior

Cache2 cannot be used as expected.

[code]

## Possible Solution

No idea.

## Steps to Reproduce

1. rpc.py bdev_malloc_create -b Malloc0 200 4096
2. rpc.py bdev_nvme_attach_controller -b NVMe1 -t PCIe -a xxxx
3. rpc.py bdev_pmem_create_

[2021-08-15 07:36] gaowayne opened #2094 "bdev malloc performance is very poor if I comment the memcpy code in accel engine"
# Bug report

bdev malloc perf is not good enough, even when I remove the real memcpy inside accel engine, this may use much more CPUs.

## Expected Behavior

even Optane SSD bdevperf can get 6-7GiB performance. why bdevperf on Malloc and I actually remove the memcpy method. why it only give 9000MiB/s?

## Current Behavior

do not know where is bottleneck?

## Possible Solution

## Steps to Reprod

[2021-08-15 09:06] spdkci commented on #2060
Another instance of this failure. Reported by @EugeneKochetov. log: https://ci.spdk.io/public_build/autotest-per-patch_56084.html

[2021-08-15 10:16] gaowayne commented on #2094
if remove accel engine, complete the IO directly get below result
[code]

[2021-08-16 02:22] spdkci commented on #2060
Another instance of this failure. Reported by @richael02. log: https://ci.spdk.io/public_build/autotest-per-patch_55773.html

[2021-08-16 06:17] USTCqzy opened #2095 "bdevperf job cannot use multi cores"
# Bug report

bdevperf job cannot use multi cores

## Expected Behavior

bdevperf job can test multi cores situations

## Current Behavior

bdevperf job cannot use multi cores

## Possible Solution

No idea.

## Steps to Reproduce

1. ./bdevperf -q 1 -t 2 -w read -o 4096 -m 0xFFFF -c test.json

test.json
[code]

result:
[code]

## Context (Environment including OS version, SPDK version, etc.)

SPD

[2021-08-16 06:19] Comphix commented on #2095
Try to add "-C" parameter

[2021-08-16 06:55] changpe1 commented on #2092
commit 0d0524b9 can cause this issue, but this commit isn't the root cause for it, just because the deferred response changes the execution order sometimes.

[2021-08-16 07:12] changpe1 commented on #2092
The test suite before calling `reconnect` left a writeable DMA map in the libvfio-user, and when the new `reconnect` test starts, that left DMA map is in a global list which will overwrite controller data structure.  We need to have a cleanup in target.
1. call `vfu_setup_device_dma` when there is a new socket connection, while here, it means to start a new identify or perf in client.
2. call `vfu

[2021-08-16 07:12] #2095 closed

[2021-08-16 07:25] spdkci commented on #2041
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_56114.html

[2021-08-16 08:45] changpe1 commented on #2092
diff --git a/lib/dma.h b/lib/dma.h
index 29809d3..1bfef09 100644
--- a/lib/dma.h
+++ b/lib/dma.h
@@ -245,7 +245,7 @@ dma_map_sg(dma_controller_t *dma, dma_sg_t *sg, struct iovec *iov,
             return ERROR_INT(EFAULT);
         }
-        if (sg->writeable) {
+        if (sg[i].writeable) {
             if (dma->dirty_pgsize > 0) {
                 _dma_mark_dirty(dma, region, sg);

[2021-08-16 08:49] changpe1 commented on #2092
Issue disappeared after apply above code in libvfio-user.

[2021-08-16 09:43] jlevon commented on #2092
https://github.com/nutanix/libvfio-user/pull/586

[2021-08-16 10:23] flaging commented on #2078
Thanks for your advice!!

I have checked my device, which could not support IOAT.  Maybe I could not do as i want.

The implement "bind by force" is that, I mmap some virtual address, and get the phy address as well.  Then i create one function, in which I can register virtual addr and phy addr, not just register virtual addr and length.

Then in the spdk namespace, when i execute some thing with

[2021-08-16 10:38] spdkci commented on #2060
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_56106.html

[2021-08-16 10:38] spdkci commented on #2060
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_56105.html

[2021-08-16 11:42] jlevon commented on #2086
For the second problem, I think the code is just trying to check for a transition from 0 right?

So it should be something like:

[code]

That's presuming that we don't have an issue with REMOVE (where we'll never fall to 0 in our case).

[2021-08-16 12:16] jlevon commented on #2086
As @antroseco points out, that won't work because we've already enumerated devices in `vtophys_iommu_init()`

[2021-08-16 12:23] tomzawadzki commented on #2093
@rafalste Do you mind taking a look ?

[2021-08-16 12:29] tomzawadzki commented on #2088
@rafalste Do you mind taking a look ?

[2021-08-16 12:35] tomzawadzki commented on #2083
This issue was temporary due to work performed on CI, it was reported to allow the 'false positive' retriggers. Since it no longer serves a purpose, it will be closed.

[2021-08-16 12:35] #2083 closed

[2021-08-16 12:38] rafalste commented on #2088
@tomzawadzki, not at all. Let me try to see what happened here.

[2021-08-16 12:38] rafalste commented on #2093
@tomzawadzki, not at all. Let me try to see what happened here.

[2021-08-16 13:13] KKaras169169 commented on #2040
Nvme-cli people closed #1117 with a commit [30ed22](https://github.com/linux-nvme/nvme-cli/commit/30ed221ffbf8aac25f4695089581a7dbc1781955). I have cherry-picked it and tested - the excess number of whitespaces no longer exists. Not sure when this will be merged into their master branch (currently on _nvme-cli-monolithic_ branch), so I would keep this issue open until they do so.

[2021-08-16 13:34] spdkci commented on #2090
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_55990.html

[2021-08-16 17:01] jlevon commented on #1118
We came across this issue. I'm curious when fio would do this?

[2021-08-16 17:34] jimharris commented on #1118
We only saw that fio would do this if you run it in daemonized mode.  Is that what you are seeing too?

[2021-08-16 17:37] jimharris commented on #2086
@changpe1 - are you already looking at this or should we assign to someone else during next bug scrub?

[2021-08-16 17:45] jonathan-teh commented on #1917
With the patch series that starts at https://review.spdk.io/gerrit/c/spdk/spdk/+/9074, the above tests now work, as does this additional step:
[code]
for both the single and dual target scenarios.

[2021-08-16 17:49] mhae commented on #2073
@jimharris , sorry to bug, but do you have a diff that I can try? I did a similar approach where I skip sending the cmd but mine is really just a hack where I set a flag on the qpair to disable sending the SQ deletion to the device.

[2021-08-16 18:02] jlevon commented on #1118
I don't think we've seen an fd be open *before* the setup callback, but @antroseco could confirm.

[2021-08-16 19:58] peluse opened #2096 "SW implmentation of copy+CRC32C in accel_fw fails data verification test"
This cmd will fail: sudo ./accel_perf -t 2 -w copy_crc32c -y -C 2

From master or better yet from here git fetch https://review.spdk.io/gerrit/spdk/spdk refs/changes/90/9190/2 && git checkout FETCH_HEAD so that after it's fixed the commented out line that tests it in that patch can be uncommencted.

[2021-08-16 20:10] jimharris commented on #2085
I cannot make any guesses on the cause or specific patches that may fix it.

A couple of things that I noticed:

* the line numbers in the stack trace don't seem to match up with v19.01 - do you have any local patches you are using on top of v19.01?
* I see _spdk_bdev_qos_io_submit in the call stack - are you enabling QoS as part of this workload?  does it reproduce without it?  It would be good t

[2021-08-16 21:13] peluse commented on #2094
@gaowayne for steps to reproduce, we need everything necessary to actually reproduce this. Can you please attach or paste the contents of /tmp/perfmalloc4G.json

[2021-08-16 21:30] spdkci commented on #2060
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_56194.html

[2021-08-16 21:36] jimharris commented on #2094
I suspect it's related to what I described in https://github.com/spdk/spdk/issues/2084#issuecomment-897081540.

[2021-08-16 21:37] jimharris commented on #2094
Specifically this part:

"If we are using SW path, when we submit an I/O, it does the SW operation (copy, CRC, whatever) and then immediately calls the completion routine. So the completion routine cannot submit the next I/O, otherwise we'll end up blowing the stack with recursive calls. So it does an spdk_thread_send_msg() to call accel_done instead to avoid the recursion. That seems fairly expen

[2021-08-16 21:41] peluse commented on #2084
@jimharris see https://review.spdk.io/gerrit/c/spdk/spdk/+/9171 - this is a step in the right direction at least, it removes all the crap from accel_perf.  I'll look at adding your sugestion

[2021-08-16 21:43] peluse commented on #2084
@jimharris I don't understand "There is a race on the capabilities check." or how this has got anything to do with how IOs are completed.  Did you read my comment on what is seen with -L idxd?

[2021-08-16 21:44] peluse commented on #2094
So I've started addressing that already, this at least gets it into the engine and removes the caller from knowing anything about it.  I'll look at what malloc is doing and update accordingly. https://review.spdk.io/gerrit/c/spdk/spdk/+/9171

[2021-08-16 21:49] jimharris commented on #2084
It doesn't.  I was trying to state emphatically that there is a race on the capabilities check, and that with the current design of accel_perf, the capabilities check has to go inside the lock - not just the get_io_channel.

The second paragraph describes how I think SW completions should be done, which would not only improve the performance (most likely) but would also eliminate the need for the

[2021-08-16 22:26] peluse commented on #2094
cool, will have it ready short;y

[2021-08-16 23:08] KariukiJ opened #2097 "NVMe-oF target crashes during connection scaling with io_uring"
# Bug report

I was doing the connection scaling test for the NVMe-oF(TCP) target with io_uring when I noticed that the target crashes when I scale to 48 connections for 1 target core. The target has 6 subsystems(backed by 6 null bdevs) exported over a 100 gbps NIC. The host uses the SPDK initiator with 6 fio jobs(one per subsystem) and the numjobs parameter is scaled as 1,2,4,8 to generate 6,12,2

[2021-08-16 23:16] jimharris commented on #2097
Thanks @KariukiJ.  Can you capture a stack trace for the crash?

[2021-08-16 23:38] spdkci commented on #2060
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_56169.html

[2021-08-17 00:03] spdkci commented on #2060
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_56171.html

[2021-08-17 00:06] peluse commented on #2094
@gaowayne please give this a try, it's still under review and I just tested it briefly so.. https://review.spdk.io/gerrit/c/spdk/spdk/+/9171/8

[2021-08-17 00:14] peluse commented on #2094
@jimharris one thing wrt your comment still doesn't make sense though, he's not using accel_perf which is where that extra scheduling step was happening.  He's running bdevperf.  I didn't add the accel support there but looking at malloc_bdev there's no extra send-message step in there that I could see on quick review.  @gaowayne if you could post that json file I asked for I can repro this and se

[2021-08-17 00:32] jimharris commented on #2094
If a bdev I/O is completed in the context of the submission, then bdev layer has to do an spdk_thread_send_msg for same reason we currently have one in accel_perf.  That's what is happening currently, bdev malloc module calls spdk_accel_submit_copy, if it's the SW backend we call the completion immediately which goes back up to the bdev layer in the context of the submission.

[2021-08-17 00:57] peluse commented on #2094
OK, so you're thinking if the accel_engine completes via a poller (as the patch above will do) then bdev won't use send_msg?

[2021-08-17 01:04] jimharris commented on #2094
Yes

[2021-08-17 01:09] optimistyzy commented on #2097
@KariukiJ Could you confirm this issue is introduced by my recent two patches? Or it exists a long time?  This can help me narrow down this issue.

[2021-08-17 01:13] peluse commented on #2094
cool, any reason why the bdev layer is using send_msg to get off the callers stack as opposed to what I just did to the accel_engine? Seems like a good change for the bdev layer also...

[2021-08-17 01:17] gaowayne commented on #2094
@peluse thank you so much man. I will test. I create one empty malloc driver. it can reach 17800MiB/s, but I need bring null device model. put request into linked list, then one poller finish them to upper. with this, we can reach 17800MiB/s.
if I just complete IO in the caller thread, it is only 9000MiB/s.
I will test with your patch. :)

[2021-08-17 01:22] changpe1 commented on #2086
Hi Jim, I've started to investigate this issue, just return back from another vfio-user issue.

[2021-08-17 01:39] changpe1 commented on #2092
thanks, tests passed.

[2021-08-17 01:47] jimharris commented on #2094
Putting one in the bdev layer would be similar to creating a poller in accel_perf to handle completions made from the submit context. It would work, but it’s better to just have the bdev module (or libraries it depends on like accel_engine) be responsible for it.

[2021-08-17 01:54] jimharris commented on #2094
Just to explain a bit more, if we added a poller to the bdev layer, then for all of the non-malloc cases, this poller would always run but never do anything so it would be wasted cycles.

[2021-08-17 02:01] optimistyzy opened #2098 "[nvmf-tcp-vg-autotest] tcp_req->datao != c2h_data->datao"
# CI Intermittent Failure

## Link to the failed CI build

https://ci.spdk.io/public_build/autotest-per-patch_56206.html

## Execution failed at

00:12:17.157  EAL: No available 1048576 kB hugepages reported
00:12:17.158  TELEMETRY: No legacy callbacks, legacy socket not created
00:12:17.158  [2021-08-17 00:41:48.329096] accel_engine.c:1022:spdk_accel_engine_initialize: *NOTICE*: Accel engine init

[2021-08-17 02:05] spdkci commented on #2098
Another instance of this failure. Reported by @spdkci. log: https://ci.spdk.io/public_build/autotest-per-patch_56211.html

[2021-08-17 02:15] optimistyzy commented on #2084
Hi Paul,

It is a race to set the value of g_using_sw_engine not related with capability check.  https://review.spdk.io/gerrit/c/spdk/spdk/+/9151 Eliminates this by setting g_using_sw_engine early.

[2021-08-17 03:17] spdkci commented on #2060
Another instance of this failure. Reported by @richael02. log: https://ci.spdk.io/public_build/autotest-per-patch_56214.html

[2021-08-17 05:08] changpe1 commented on #2086
The hotplug doesn't work in DPDK.

This is the uevent messages when bind a NVMe controller to vfio-pci driver,  DPDK only parse the first message, but it requires the PCI_SLOT_NAME's value in the second message.

add@/devices/virtual/vfio/79
ACTION=add
DEVPATH=/devices/virtual/vfio/79
SUBSYSTEM=vfio
MAJOR=234
MINOR=4
DEVNAME=vfio/79
SEQNUM=10270

bind@/devices/pci0000:d7/0000:d7:00.0/0000:d8:00.0

[2021-08-17 05:50] optimistyzy commented on #2096
https://review.spdk.io/gerrit/c/spdk/spdk/+/9193  I posted this patch on top of yours @peluse .  I think that for vector cases, you did not copy the whole contents from the src vectors.

[2021-08-17 05:58] krish-reddy opened #2099 "[autobuild-vg-autotest] shared object test failed"
# CI Intermittent Failure

************************************
START TEST confirm_abi_deps
************************************
* Running confirm_abi_deps against spdk_abi_latest
Please update the major SO version for libspdk_accel.so. API functions or variables have been removed since last release.
Leaf changes summary: 1 artifact changed
Changed leaf types summary: 0 leaf type changed
Removed/C

[2021-08-17 06:00] spdkci commented on #2099
Another instance of this failure. Reported by @krish-reddy. log: https://ci.spdk.io/public_build/autotest-per-patch_56164.html

[2021-08-17 06:44] spdkci commented on #2081
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_56224.html

[2021-08-17 06:52] changpe1 commented on #2074
There is a race condition in libvfio-user when running NVMf target with multiple cores.
diff --git a/lib/dma.h b/lib/dma.h
index 895e14f..8615552 100644
--- a/lib/dma.h
+++ b/lib/dma.h
@@ -256,7 +256,7 @@ dma_map_sg(dma_controller_t *dma, dma_sg_t *sg, struct iovec *iov,
                 sg[i].dma_addr + sg[i].offset + sg[i].length);
         iov[i].iov_base = region->info.vaddr + sg[i].offset;

[2021-08-17 07:00] changpe1 commented on #1705
The issue is tracked on https://bugs.dpdk.org/show_bug.cgi?id=786

[2021-08-17 07:00] changpe1 commented on #1705
So closing it in SPDK.

[2021-08-17 07:00] #1705 closed

[2021-08-17 07:20] ChengqiangMeng commented on #2088
Hi,@rafalste I also have this problem when testing rocksdb with ocf.

The error follow these:

[2021-08-17 14:55:38.289265] **volume.c: 365:vbdev_ocf_volume_submit_io: *ERROR*: submission failed with status=-22**
[2021-08-17 14:55:38.594132] **volume.c: 365:vbdev_ocf_volume_submit_io: *ERROR*: submission failed with status=-22**
[2021-08-17 14:55:38.734882] **volume.c: 365:vbdev_ocf_volume_submit_

[2021-08-17 07:23] changpe1 commented on #2086
There is patch https://review.spdk.io/gerrit/c/spdk/spdk/+/8346 is working on this part, but I'm not sure it can work as expected.

[2021-08-17 07:30] changpe1 commented on #2086
this patch doesn't fix this issue.

[2021-08-17 07:42] JiangMaox opened #2100 "vfio-user block assertion fail while rebooting VMs"
# Bug report
vfio-user transport assertion failed while reboot vm

## Expected Behavior

Reboot success
## Current Behavior

root@waikikibeach37:~/spdk# sshpass -p tester   ssh -o PubkeyAuthentication=no -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -p 10100 root@10.238.55.93
Warning: Permanently added '[10.238.55.93]:10100' (ECDSA) to the list of known hosts.
Last login: Mon Jul 26

[2021-08-17 08:01] changpe1 commented on #2100
@JiangMaox  this is related with https://github.com/spdk/spdk/issues/2074, you can change libvfio-user as I mentioned in that issue to have another try, thanks.

[2021-08-17 08:04] #2100 closed

[2021-08-17 08:05] JiangMaox commented on #2100
Related with #2074

[2021-08-17 08:10] spdkci commented on #2060
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_56235.html

[2021-08-17 08:37] ksztyber commented on #2099
I don't think it's a false positive. The failure occurred on patchset 2, which was based on 320ab72fb53956ca2c2e27132c8607405e98ea72, which doesn't have `spdk_accel_submit_copy_crc32cv` defined. And the `confirm_abi_deps` test verifies the ABI against the latest release (21.07), which does include this function. This is why it reports it as being deleted.

I can see that after rebasing the patch,

[2021-08-17 08:37] #2099 closed

[2021-08-17 08:57] KKaras169169 commented on #2071
I can confirm that threads are not removed from THREADS tab. However, pollers are being deleted appropriately on my machine.

[2021-08-17 09:30] spdkci commented on #2060
Another instance of this failure. Reported by @jkalwas. log: https://ci.spdk.io/public_build/autotest-per-patch_56247.html

[2021-08-17 09:35] jlevon commented on #2074
libvfio-user isn't thread safe at all right now. There's no guarantee that vfu_map_sg() won't race against each other even.

Having said that, for the DMA API, it probably makes sense to start making some promises in that direction.

[2021-08-17 10:31] KKaras169169 commented on #2071
I have uploaded a fix for this issue [here](https://review.spdk.io/gerrit/c/spdk/spdk/+/9199/1).

[2021-08-17 10:44] jlevon commented on #2074
There is a lot more than just the refcnt: there is the dma map list, the dirty bitmap etc. none of which is thread safe, even if you can presume that no dma region additions or removals are happening.

But I'm curious about the exact SPDK scenario here that broke. It sounds like the same vfu_ctx was being used on multiple pthreads? I don't think this is something that ever makes sense - shouldn't

[2021-08-17 11:55] sboeuf opened #2101 "[nvmf_vfio_user] Handle multiple 4KiB mappings"
I'm playing with the NVME implementation for vfio-user through SPDK, and particularly the case where the device is placed behind a virtual IOMMU.
I run into an error where the NVME queue 1 can't be allocated properly because its size is 16KiB while the mappings the client provided to the server are 4KiB, meaning the code in `spdk/libvfio-user/lib/dma.c` finds that we need 4 regions to cover the wh

[2021-08-17 12:05] antroseco commented on #2086
@changpe1 are we supposed to be getting uevents though? As @jlevon said at the beginning of the thread, “this is _not_ a kernel-level hotplug: the device already exists on the system.” That device is already using the vfio driver (`spdk/scripts/setup.sh`).

[2021-08-17 13:01] KKaras169169 opened #2102 "[nvmf-phy-autotest] Build timeout due to keep alive timeout inside nvmf_abort test"
Build timed out during "Disconnecting host..." step in nvmf_abort test.

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/56269/archive/nvmf-phy-autotest/build.log

## Execution failed at

**_00:09:58.876_**  [2021-08-17 14:24:01.146974] ctrlr.c: 185:nvmf_ctrlr_keep_alive_poll: *NOTICE*: Disconnecting host nqn.2014-08.org.nvmexpress:uuid:86fe52ac-799c-4c9e-9a99-

[2021-08-17 13:02] spdkci commented on #2102
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_56269.html

[2021-08-17 13:03] spdkci commented on #2102
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_56263.html

[2021-08-17 13:14] KKaras169169 commented on #2053
I am removing the label "Patches out for review" since I need to take a different approach and not force user to use a certain system setting. I am going to try and debug the application and aim to find what in Ncurses breaks terminal display and hopefully I will be able to make appropriate changes.

[2021-08-17 13:54] peluse commented on #2096
@optimistyzy yes I know, Monica was assigned to this issue.

[2021-08-17 14:02] peluse commented on #1863
@mikeBashStuff could you re-run this patch over and over with the original (most failures) configure parms?  https://review.spdk.io/gerrit/c/spdk/spdk/+/8549

[2021-08-17 14:04] spdkci commented on #2102
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_56275.html

[2021-08-17 14:20] changpe1 commented on #2086
@antroseco I need to clarify that from my tests, if there was valid IOMMU group(not the device you added later) in the vfio container at the beginning, I didn't find any issues with that.  Here is the failure case I reproduced in my local environment.

1. start vhost application, no PCI device are bind to vfio-pci driver now.
2. create a vhost scsi controller, but don't assign a block device, we w

[2021-08-17 14:25] changpe1 commented on #2086
@antroseco You may try to revert commit 8f7d9ec2f to see if it can fix your issue or not.

[2021-08-17 14:31] changpe1 commented on #2101
@sboeuf Do you use huge pages in the client? currently huge pages are required because we don't remap the client memory region in the unit of 4KiB.

[2021-08-17 14:44] gaowayne opened #2103 "SPDK accel DSA engine failed to copy from DRAM into pmem with fsdax mode"
# Bug report

SPDK accel DSA engine failed to copy from DRAM into pmem with fsdax mode

## Expected Behavior

SPDK accel DSA engine can copy from DRAM into pmem that is configured into fsdax mode.

## Current Behavior

the virtual address translation part failed. then the copy in HW path is failed.

## Possible Solution

## Steps to Reproduce

1.  write a simple code like malloc but inside it open

[2021-08-17 14:46] peluse commented on #2103
So I've never tried to use ext memory for anything, @benlwalker doesn't he need to register the PMEM memory?

[2021-08-17 15:00] changpe1 commented on #2074
SPDK NVMf library is using poll group concept, that means 4 IO Queues in the same controller may be processed across different poll groups(different cores).

SPDK vhost uses different concept, vhost will process all the IO queues in the same poller.

[2021-08-17 15:27] jimharris commented on #2103
The memory does need to be registered.  Is the file guaranteed to be backed by hugepage-sized PMEM pages?

@gaowayne - please post any patches you have, and exact command line arguments passed to things like bdevperf.  Would make it easier for someone to reproduce this issue locally.  It's really important to give detailed reproduction steps when asking for assistance on an issue.  Thanks!

[2021-08-17 15:56] sboeuf commented on #2101
@changpe1

Even when I use 2MiB hugepages in the client, the vIOMMU asks for 4KiB mappings, which the client forwards to the vfio-user server. I don't think I can force the vIOMMU to issue 2MiB mappings only.

Are you planning to do so in the future? I'm asking because if this is about time, I can wait for this to be implemented.

[2021-08-17 16:09] jonathan-teh commented on #1917
With a slight modification of the single `spdk_tgt` scenario (making sure to create a suitabl sized `/tmp/aio0.img` first) to re-export the nvme bdev:
[code]
I can discover and connect to `nqn.2016-06.io.spdk:cnode2` and issue IO to it, using `fio`, for example.

[2021-08-17 16:30] jlevon commented on #2074
So what's to stop the guest from adding or removing DMA maps at the same time that your I/O handling is trying to use those mappings? I don't think you can do this at all without locking, and you definitely don't want that.

Anything using a single vfu_ctx has to all run in the same pthread. Obviously other devices can run on other reactors.

[2021-08-17 17:22] spdkci commented on #2060
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_56279.html

[2021-08-17 17:32] benlwalker commented on #2103
@optimistyzy  was only able to get the PMEM to be backed by hugepages using devdax. I'm not sure fsdax will work - there's more investigation required.

[2021-08-17 20:16] KariukiJ commented on #2097
@ZiyeYang The client is not using io_uring. Our nvmf test script(scripts/perf/nvmf/run_nvmf.py) does not compile the fio plugin --with-uring. See the function install_spdk shown below which does the client set up.

 def install_spdk(self):
        self.log_print("Using fio binary %s" % self.fio_bin)
        self.exec_cmd(["git", "-C", self.spdk_dir, "submodule", "update", "--init"])
        self.e

[2021-08-17 23:27] jimharris commented on #2074
can we implement a get_optimal_poll_group for vfio_user?  for the admin queue, it can select a poll_group round robin (or some other tbd algorithm) - then get_optimal_poll_group for an io queue returns the poll group of its ctrlr's admin queue

[2021-08-18 00:51] Comphix commented on #2103
@gaowayne , as Jim mentioned, and for below description, you need to either put that related code changes here or just raise a patch and link it here for more further investigation and discussion.

"write a simple code like malloc but inside it open one pmem fsdax, map virtual address of that pmem fsdax mode."

[2021-08-18 01:54] changpe1 commented on #2074
QEMU started with pre-allocated memory, I didn't see that happen during runtime, currently I just stop/start queue pairs, but we should send a start/stop message to the thread where the queue pair belongs, this is in my todo list.

[2021-08-18 01:55] ChengqiangMeng commented on #2071
Hi @KKaras169169 ,I tested it and the bug has been fixed. Thank you.

[2021-08-18 01:56] changpe1 commented on #2074
Yes, we can use this way to poll each controller in one poll group.

[2021-08-18 03:05] changpe1 commented on #2074
I feel like that using the same thread manner as vhost is fine to me, and it will make existing code more cleaner and coming live migration patches.  Do you all agree that we should change it this way? @jimharris @benlwalker

Actually some guys complained vhost in the past that for one VM, the performance number can't increase even using more cores.

if all of us agree this method, I will start to

[2021-08-18 04:56] jimharris commented on #2074
I agree.

Yeah, I remember these questions.  But I think it's best to make this change now for the reasons you mentioned (cleaner, simpler code and helps with live migration).

[2021-08-18 04:58] optimistyzy commented on #2103
Hi Ben,

@benlwalker I already solved this is

FSDAX can work with some additional work. @benlwalker

[2021-08-18 05:02] changpe1 commented on #2074
OK, let me think about how to optimize this part.

[2021-08-18 05:08] changpe1 commented on #2092
Here is the patch https://review.spdk.io/gerrit/c/spdk/spdk/+/9207 to update the submodule.

[2021-08-18 05:26] gaowayne commented on #2103
@Comphix thank you so much. it is in our private repo, I will create one patch into SPDK community then other can reproduce easily just with bdevperf command. I am not sure if emulated PM can reproduce, I use the real HW pmem fsdax. I will try finish this today.

[2021-08-18 05:58] gaowayne commented on #2103
thank you so much. I will submit my patch for testing and reproduce the issue. I feel kernel may not do huge page mapping for pmem. I will check with our team PMDK experts

[2021-08-18 07:19] spdkci commented on #2102
Another instance of this failure. Reported by @Comphix. log: https://ci.spdk.io/public_build/autotest-per-patch_56306.html

[2021-08-18 07:26] USTCqzy opened #2104 "bdevperf get confusing result"
# Bug report

Test Malloc bdev, but bandwidth drops when core num increases from 32 to 64.

## Expected Behavior

No drop.

## Current Behavior

Here is part of the results.

Device | Read | IO Depth | Core | Bandwidth (MB/s)
-- | -- | -- | -- | --
Malloc0 | read | 1 | 32 | 164066.3
Malloc0 | read | 1 | 64 | 102222.4
Malloc0 | read | 16 | 32 | 159040.4
Malloc0 | read | 16 | 64 | 114784.3
Malloc0 |

[2021-08-18 07:29] Comphix commented on #2104
@USTCqzy , could you share more information why it is needed to use 32 or 64 cores here?

[2021-08-18 07:35] changpe1 commented on #2074
Here is the patch to fix this issue https://review.spdk.io/gerrit/c/spdk/spdk/+/9210

[2021-08-18 07:38] Comphix commented on #1694
Any update on below patch:

https://review.spdk.io/gerrit/c/spdk/spdk/+/5290

[2021-08-18 08:11] USTCqzy commented on #2104
For some high concurrent workloads.

[2021-08-18 08:13] Comphix commented on #2104
For concurrent workloads, it is better to get a better balance between number of cores and number of devices. Otherwise, it will be either a Device Limitation or a Core Limitation.

[2021-08-18 08:46] ksztyber commented on #2102
I think this might be fixed by 5b2e9b229c8c2845637e2cdf37f6a2289268104e. Could you rebase your patches and check if it happens again?

[2021-08-18 10:09] gaowayne commented on #2103
@Comphix @jimharris here is the patch from me. It is not finished yet. I hard code the /mnt/pmem/test2 file. so we need prepare the this path and make sure it mount into pmem fsdax mode. then run
./test/bdev/bdevperf/bdevperf --json /tmp/perfwsrpmemdsa4G.json  --json-ignore-init-errors -r /var/tmp/spdk.sock -m 3 -q 128  -o 4096 -w randwrite  -t 300
I will upload this json file internally and also

[2021-08-18 10:45] jlevon commented on #2074
Maybe it's better discussed here. The fix above should ensure at least that multiple pthreads aren't trying to use the vfu_ctx at the same time.

The commit message also mentions DMA map remove, but I didn't see code changes. That does seem like a problem still: if I've done a map_one, then a `memory_region_remove_cb()` comes in, the IOV range is no longer valid. There's `unmap_qp` but does that h

[2021-08-18 11:09] spdkci commented on #2060
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_56339.html

[2021-08-18 11:10] spdkci commented on #2060
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_56341.html

[2021-08-18 11:53] Comphix commented on #2103
Looks like this change is based on Malloc Bdev. Let me first kick off the CI build.

[2021-08-18 12:10] trochumski commented on #2042
@jimharris your analysis seems to be correct

`confgure` called by `test_make.sh` always used submodule DPDK

This seems to do the trick:
https://review.spdk.io/gerrit/c/spdk/spdk/+/9202

[2021-08-18 12:10] spdkci commented on #2060
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_56349.html

[2021-08-18 12:24] rafalste commented on #2088
@USTCqzy, @ChengqiangMeng thanks for filing this issue.
The actual problem here is the difference in block size of _cache_ and _core_ devices:
- malloc device with 4k block size
- nvme device with 512 block size

OCF creates a vbdev that has the block size of _core_ device, so as long as _core's_ block size is equal or bigger than _cache's_, everything runs smooth. Worse the other way around, when

[2021-08-18 12:28] gaowayne commented on #2103
@Comphix yes, this is only for testing accel with pmem fsdax mode now.

[2021-08-18 12:39] antroseco commented on #2086
@changpe1 thanks for the suggestion, reverting that commit fixes the issue.

To clarify, we had no IOMMU group set in the VFIO container at the beginning, and our setup is slightly different that your failure case.

We've had 5 PCIe devices initially, all bound to vfio-pci but none were used by SPDK or DPDK (so SPDK incorrectly believes there's 5 DPDK devices i.e. 5 IOMMU groups are already attach

[2021-08-18 13:07] KariukiJ commented on #2097
[core_dump.zip](https://github.com/spdk/spdk/files/7007392/core_dump.zip)
Here is the core dump. I also tried the commit a7b1517 and it crashes too.

[2021-08-18 14:07] spdkci commented on #2060
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_56370.html

[2021-08-18 14:09] spdkci commented on #2060
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_56362.html

[2021-08-18 15:54] ZivHirsch13 opened #2105 "[nvme/rdma] initiator fails to connect with fio_plugin"
# Bug report

Initiator running fio_plugin with spdk_bdev will sometimes (maybe depends on the number of threads) fail to connect with RDMA transport.

## Expected Behavior

Connect successfully.

## Current Behavior

[code]
Note: the number of connection failures changes (here it's 5. Sometimes it's 1, but almost always there is at least 1 connection failure). Also the subnqns we fail to connect

[2021-08-18 16:13] jimharris commented on #2088
The informative error message would be helpful but we need more than that.  We need to also fail the bdev_ocf_create RPC.  vbdev_ocf_construct can check the core and cache block sizes, and fail the RPC (by passing -EINVAL to the cb function) if they do not meet the OCF requirements.

[2021-08-18 16:29] jimharris commented on #2104
I really don't think there's an SPDK bug here, but wanted to reopen so we can discuss a bit more first.

There are a lot of factors here.

* When you double the number of cores used, it means there are now double the number of I/O in flight.  This could mean that the working memory set exceeds LLC and spills into main memory.
* Also note the differences between 'read' and 'randread'.  'read' means

[2021-08-18 16:39] benlwalker commented on #2074
I'm not a fan of forcing a single controller to only leverage one thread in the target. That may be the direction we're forced to go, but I think it's problematic for scaling overall. What was the actual code path that used the vfu_ctx from two different threads? I see the vfu_ctx being used in memory management operations and device set up only - i.e. things that are fairly rare. Based on my curr

[2021-08-18 16:46] jimharris commented on #2074
I don't see this API as just a suggestion.  If the transport returns a specific poll group, that poll group is *always* used.  The upper layer (spdk_nvmf_tgt_new_qpair, spdk_nvmf_get_optimal_poll_group) always uses what the transport returns.

If we want to allow the upper layer to make its own decisions on the poll group, potentially picking something different than what the transport specified,

[2021-08-18 16:57] benlwalker commented on #2074
I just looked and it used to be a suggestion, but I forgot I removed the requirement for the application to poll the target for incoming connections and do the queue pair assignment - it just happens internally in the library now. It looks like the optimal poll group API is still public, so I'll get that cleaned up as well.

But I still think we should explore using a lock here rather than forcing

[2021-08-18 16:58] jimharris commented on #2074
I'm not a big fan either.  If we can do a lock for now around the accesses that's fine with me.  But the infrequent memory management operations don't just affect accessing the vfu_ctx, it also affects any outstanding I/O that are impacted by those operations.  We don't do anything about these impacted I/O today, but if we do in the future that is likely a lot simpler to coordinate from one thread

[2021-08-18 17:25] ZivHirsch13 opened #2106 "[env_dpdk] spdk_zmalloc doesn't return zeroed buffer causing the initiator connect attempt to fail"
# Bug report

When trying to connect to SPDK NVMe-oF target with TCP transport, the connection fails and we see in the target: "spdk_sock_readv() failed".

## Expected Behavior

Connect successfully.

## Current Behavior

Fails to connect because _nvmf_tcp_qpair_init_mem_resource_ calls _spdk_dma_zmalloc_, which doesn't return zeroed buffer.

## Possible Solution

I added a debug log right after t

[2021-08-18 17:59] benlwalker commented on #2074
So Jim and I just talked this through. I think we've reached the following conclusions:

1) Take locks around vfu_ctx, rather than forcing everything to a single thread.
2) For unmap operations, we need to first pause the associated subsystem (`spdk_nvmf_subsystem_pause`) prior to executing the unmap. This will ensure any I/O is quiesced across all threads prior to releasing the memory. Otherwise

[2021-08-18 18:17] jimharris commented on #2106
Hi @ZivHirsch13,

I'm not able to reproduce this with the basic reproduction steps listed.  If you can provide exact repro steps that would be helpful.  Also anything else that might be unique to your environment, including Linux distro and kernel version.

rte_zmalloc_socket() returning a buffer that isn't zeroed is definitely a problem.  We'll want to root cause that in DPDK or the Linux kernel

[2021-08-18 18:26] jimharris commented on #2097
Hi @KariukiJ,

Could you paste the stack trace here in the issue?  Or attach the SPDK application binary.  The core dump by itself won't give us the stack trace.

Thanks,

Jim

[2021-08-18 18:43] jimharris commented on #2074
@changpe1 - does using a subsystem pause also help your live migration case?

[2021-08-18 19:58] jlevon commented on #2074
You're not taking a pthread mutex across I/O operations surely? vfu_addr_to_sg() and friends rely on a valid vfu_ctx still. And there's nothing stopping another pthread from getting ENOCONN / reset call back and tearing down al lthe DMA controller structs.

[2021-08-18 20:03] benlwalker commented on #2074
I just went and looked at vfu_addr_to_sg and this was what I was worried about - a use of the vfu_ctx in the I/O path. What rules would we need to follow to ensure that we can make that call from multiple threads safely without a lock? This is going to be the key to the overall performance and scalability of vfio-user. We have facilities to quiesce all I/O before tearing anything down that we can

[2021-08-18 21:03] jlevon commented on #2074
When you say quiesce, what precisely do you mean? The rule we'd need at minimum, is that when spdk gets an unmap notification via the dma_unappy register callback, that nothing from that point tries to use the corresponding map. So that'd have to mean cancellation or nullification somehow of any pending I/Os.

We can definitely think about how to make vfu_addr/map/unmap_sg() suitable for multi-thr

[2021-08-18 21:33] KariukiJ commented on #2097
[core_dump.zip](https://github.com/spdk/spdk/files/7010316/core_dump.zip)
Here is the call stack:

Thread 1 "reactor_28" received signal SIGSEGV, Segmentation fault.
0x000000000047ff39 in sock_uring_group_reap (group=0x11d8e30, max=72, max_read_events=32, socks=0x7fffffffdba0) at uring.c:1099
1099                    uc->link.tqe_next = NULL;

(gdb) bt
#0  0x000000000047ff39 in sock_uring_group_rea

[2021-08-18 21:42] jimharris commented on #2074
Quiesce means ensuring there are no commands inflight on any queue associated with the controller.  Any new I/O that are submitted by the host while the controller is paused are queued until the controller is resumed.

One alternative for unmap is to make the dma_unmap callback asynchronous.  vfio-user tells SPDK that this region is getting unmapped, then allow SPDK to quiesce and notify vfio-user

[2021-08-18 21:48] KariukiJ commented on #2097
@optimistyzy
Here are the steps to set up the target and host without using the NVMf test script.
Configure the target using the following

1) Create a script to start the target and paste the following.

nohup ./build/bin/nvmf_tgt --wait-for-rpc -m 0x2 2>&1 > nvmf_tgt.log & sleep 2

# Enable io_uring zcopy
./scripts/rpc.py sock_impl_set_options -i uring --enable-zerocopy-send-server
./scripts/rpc

[2021-08-18 21:50] jlevon commented on #2074
Equally I'm not sure how we handle this on the library side. You said we could be async, but how does that work? We have to ack the unmap synchronously for the client. Do we need to somehow keep the unmap pending, and refuse any vfu_addr_to_sg() or vfu_map_sg() in the meantime? What happens if the client chooses to send a map again during this process?

Typically I'd expect a well-behaved client t

[2021-08-18 21:56] jimharris commented on #2074
Is it possible to delay sending the ack back to the client?  I was thinking that the acks are by nature asynchronous since it's all communication over a domain socket.  I guess I need to read up more on the specifics of the vfio-user protocol.  All good stuff for us to discuss when we meet.  ;-)

[2021-08-18 22:09] jlevon commented on #2074
Definltely want to get Oracle people involved in that conversation then. My understanding is that it is ultimately synchronous at the client side, that is, it would entirely stall the VCPU context, or worse, the main qemu thread.

[2021-08-19 02:22] changpe1 commented on #2074
Let's not mix the vIOMMU support for now, I think for vIOMMU case we may refer to vhost-user specification to add one more client message or use VFIO_USER_DMA_READ message to read unmapped memory from client.

Then for VFIO_USER_DMA_MAP/UNMAP commands, I don't see them at runtime, this can only happen when VM start/stop/reboot, actually SPDK should only care about the UNMAP message, SPDK needs to

[2021-08-19 03:36] USTCqzy commented on #2088
@rafalste Thanks for your answer. Everything runs smooth now!

[2021-08-19 04:01] USTCqzy opened #2107 "PMem performance not in line with expectations when using bdevperf"
# Bug report

PMem performance not in line with expectations when using bdevperf

## Expected Behavior

One PMem max read performance ~ 7~8GB/s

## Current Behavior

Easily get results around 20GB/s

![pmem_randread](https://user-images.githubusercontent.com/49378451/130004636-3b14ad15-a882-4157-9f87-30c6da5d95d5.png)

## Possible Solution

No idea.

## Steps to Reproduce

1. ./bdevperf -q "$io_de

[2021-08-19 04:35] changpe1 commented on #2098
[Bug Scrub] let's keep this open to see any new reports here.

[2021-08-19 04:42] changpe1 commented on #2081
@shuhei-matsumoto Hi Shuhei, can you take a look? thanks.

[2021-08-19 04:56] changpe1 commented on #2107
@USTCqzy can you post your whole hardware configurations ?

[2021-08-19 04:56] dong-liuliu commented on #2107
From you test.json,               "num_blocks": 129884,  "block_size": 4096, the total size of pmem bdev is only around 512MB.
I guess all IO hit into the cache facility inside PMEM drive.

[2021-08-19 04:57] changpe1 commented on #2105
@wanghailiangx can you try to reproduce in our local environment ? thanks.

[2021-08-19 05:38] ChengqiangMeng commented on #2088
@rafalste I also can run successfully! Thank you very much!

[2021-08-19 05:41] optimistyzy commented on #2097
@KariukiJ I did not reproduce the issue with my configuration. I have two machines to test, but only have 1Gb NIC attached.

[2021-08-19 06:09] AlekseyMarchuk commented on #2105
Hi @ZivHirsch13
Do you see any error logs on target side when this problem occurs?
Could you try to increase `fabrics_connect_timeout` parameter of nvme controller? Currently there is no way to do it via configuration, you'll need to change code and recompile. Default value is 500 ms, let's try to increase it 10 times to 5 seconds. Here is an example:
[code]

[2021-08-19 06:17] optimistyzy commented on #2097
@KariukiJ Hi John, I reproduced this issue on my machine, could you try this patch https://review.spdk.io/gerrit/c/spdk/spdk/+/9223 and see whether the issue can be fixed.

[2021-08-19 06:19] USTCqzy commented on #2107
@dong-liuliu
As I change "num_blocks" to 12988400, performance is still over 20GB/s for some conditions.

[2021-08-19 06:22] USTCqzy commented on #2107
@changpe1 Here is some info about cpu and memory
$ cat /proc/cpuinfo | grep name | cut -f2 -d: | uniq -c
     80  Intel(R) Xeon(R) Gold 6248 CPU @ 2.50GHz
$ cat /proc/meminfo |head -20
MemTotal:       263568600 kB
MemFree:         3989512 kB
MemAvailable:   138479848 kB
Buffers:           94520 kB
Cached:         136473012 kB
SwapCached:         1360 kB
Active:          7184008 kB
Inactive:

[2021-08-19 06:24] #2088 closed

[2021-08-19 06:31] ZivHirsch13 commented on #2106
@jimharris
It took some attempts to reproduce it. It doesn't always happen, and it seems that if it doesn't happen on the first attempt (discover or connect), then it won't happen, so I restarted the SPDK app every attempt.
It makes sense because DPDK zeroes memory in rte_free() (eventually calls memset(ptr, MALLOC_POISON, data_len)). In rte_zmalloc_socket() it zeroes memory only if RTE_MALLOC_DEB

[2021-08-19 06:48] USTCqzy commented on #2104
@jimharris
Thanks for your answer. Maybe we should further discuss the 3rd point.

[code]

bdevperf uses cores sequentially like this:
[code]

As you can see, for either 32 core case or 64 core case, there will be about 25% local NUMA reqs and 75% remote NUMA reqs. I don't think NUMA could make too much difference in such situations.

[2021-08-19 06:51] suruifeng commented on #2085
Here's the stack for the abnormal free I tracked.
---------------------------------------------------
#3  0x000055c9fbf57169 in nvme_free_request (req=<optimized out>) at nvme_internal.h:969
#4  nvme_pcie_qpair_complete_tracker (qpair=qpair@entry=0x2000a1611078, tr=tr@entry=0x2000a11fa000, cpl=cpl@entry=0x7ffdba70c7d0, print_on_error=print_on_error@entry=true)
    at nvme_pcie.c:1260
#5  0x000055c

[2021-08-19 07:11] spdkci commented on #2060
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_56329.html

[2021-08-19 07:13] spdkci commented on #1863
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_56325.html

[2021-08-19 07:15] changpe1 commented on #2086
OK, I see where is your issue now, actually they are two separate issues, but reverting commit 8f7d9ec is the right fix for both.

The code in SPDK vtophys_iommu_init() is actually wrong, because it counts the number of devices that bind to vfio-pci driver, we should count it by another condition, e.g: increase it only if it has a valid NVMe or IOAT driver(probed).  Even we use DPDK hotplug librar

[2021-08-19 07:39] changpe1 commented on #2092
Patch has been merged, closing this issue now.

[2021-08-19 07:39] #2092 closed

[2021-08-19 08:20] USTCqzy opened #2108 "bdevperf 'Failed to submit bdev_io'"
# Bug report

bdevperf test nvme 'Failed to submit bdev_io' in some conditions.

## Expected Behavior

No failure.

## Current Behavior

$ ./bdevperf -q 1 -t 2 -w **randread** -o 4096 -m **0x1** -c test.json **-C**
[2021-08-19 08:14:29.277580] Starting SPDK v21.07.1-pre git sha1 2b616cdb3 / DPDK 21.05.0 initialization...
[2021-08-19 08:14:29.277621] [ DPDK EAL parameters: [2021-08-19 08:14:29.2776

[2021-08-19 08:24] Comphix commented on #2108
Is this same NVMe bdev used in the OCF as Core device?

[2021-08-19 08:14:29.353590] app.c: 537:spdk_app_start: NOTICE: Total cores available: 1
[2021-08-19 08:14:29.478654] reactor.c: 931:reactor_run: NOTICE: Reactor started on core 0
[2021-08-19 08:14:29.479052] accel_engine.c: 988:spdk_accel_engine_initialize: NOTICE: Accel engine initialized to use software engine.
[2021-08-19 08:14:29.636163]

[2021-08-19 08:32] USTCqzy commented on #2108
@Comphix
yes, but it is not used in ocf now.

[2021-08-19 08:38] Comphix commented on #2108
@gwnet , could you work with @USTCqzy to reproduce this issue first? Looks like first there is some OCF related testing, then the NVMe device is used directly. @USTCqzy , please also add more reproduction steps here including the OCF related.

[2021-08-19 08:43] USTCqzy commented on #2108
@Comphix
Actually, I am not using ocf here. I guess ocf-relevant messages come from configure flag (--with-ocf)

[code]

[2021-08-19 09:26] wanghailiangx commented on #2105
Hi @ZivHirsch13
Alexey’s method should work. Could you show your target json file? Here is an example,
[code]
I mean to create 8 subsysterm/listener/ns. Accordingly, in fio_bdev.conf nvme controllers are set as below,
[code]

[2021-08-19 10:49] jlevon commented on #2074
A malicious client could arbitrarily send unmaps or maps at any time. You can't presume good behaviour from your untrusted client.

Also I think hotplug even in a non-malicious case would see these.

On an unmap, you're right, SPDK needs to fully have stopped the controller I think. In particular all I/O needs to be fully cancelled. I don't know how practical that is. But a well-behaved guest shou

[2021-08-19 12:25] rafalste commented on #2088
@jimharris you're right of course. So here's a simple patch:
https://review.spdk.io/gerrit/c/spdk/spdk/+/9229

[2021-08-19 12:37] USTCqzy opened #2109 "Fail to use function in spdk/module/bdev/ocf"
# Bug report

Fail to use function in spdk/module/bdev/ocf/

## Expected Behavior

vbdev-relevant APIs (e.g. spdk/module/bdev/ocf/vbdev_ocf_rpc.c/rpc_bdev_ocf_get_stats) can be used.
**PS: My goal is to get stats in hello_bdev, like `bdev_ocf_get_stats` in scripts/rpc.py**

## Current Behavior

Added -L and link .a, still failed.

## Possible Solution

No idea.

## Steps to Reproduce

1. add #incl

[2021-08-19 12:40] Comphix commented on #2109
OCF related. Assign to Wayne to do first triage.

[2021-08-19 12:44] Comphix commented on #1692
@john4477 , from last comments, looks like there is an ask to reproduce the issue? Any updates here? This issue has been opened for more than half year and with no updates recently.

[2021-08-19 12:52] USTCqzy opened #2110 "Failed to alloc memory in specific numa nodes"
# Bug report

Failed to alloc memory in specific numa nodes.

## Expected Behavior

bdevperf can alloc memory in specific numa nodes.
(Just like we can assign specific cores by flag -m as we want.)

## Current Behavior

Failed to alloc memory in specific numa nodes. (I have tried numactl, but it seems of no effect.)

## Possible Solution

Maybe there is a way to control SPDK hugepage memory alloca

[2021-08-19 12:54] ZivHirsch13 commented on #2105
@AlekseyMarchuk, @wanghailiangx  - it didn't help.
We tried to increase the timeout previously by increasing
[code]
to up to 30 seconds. It fails with the same errors (just takes more time because the timeout is longer).

Just to clarify: Also tried your suggestion and it didn't help.

About the target: It's an enclosure with NVMe drives.

[2021-08-19 12:59] Comphix commented on #2110
You may refer to https://software.intel.com/content/www/us/en/develop/articles/memory-in-dpdk-part-4-1811-and-beyond.html

"The memory reservation related parameters --m and --socket-mem have been changed to indicate the minimum amount DPDK will use. For example, initializing DPDK with --socket-mem 1024,1024 reserves 1 gigabyte (GB) on non-uniform memory access (NUMA) nodes 0 and 1, and this memor

[2021-08-19 13:01] KariukiJ commented on #2097
Ziye,
The patch resolves the issue. I tested scaled the number of jobs/connections up to 96 without seeing a crash. I will schedule some test runs to collect more data for 4k and 64k I/O with io_uring zcopy, then update the patch on gerrit with the results.

[2021-08-19 13:34] USTCqzy commented on #2110
@Comphix
"malloc bdevs are created from hugepage memory given to SPDK application." [https://spdk.io/doc/bdev.html](url)
I guess malloc bdev allocation related to hugepage memory allocation. As I used setup.sh, I found message like "the hugepages will be distributed on node0 by default" in setup.sh, but my results (as previously mentioned) are not in line with such messages.

[code]

[2021-08-19 13:41] KKaras169169 opened #2111 "DPDK 21.08 fails to build with configure option --with-reduce"
# Bug report
DPDK 21.08 fails to build with current SPDK master branch, when option _"--with-reduce"_ is used during ./spdk/configure.
Meson build reports _Message: Disabling mlx5 [drivers/common/mlx5]: missing internal dependency "bus_auxiliary"_ even though it is present in:

spdk/dpdk/drivers/bus/auxiliary/

This leads to disabling of mlx5 driver all together and further failures to build the p

[2021-08-19 13:43] KKaras169169 commented on #2111
@AlekseyMarchuk Could you take a look at this?

[2021-08-19 13:55] AlekseyMarchuk commented on #2111
Sure, I'm on it

[2021-08-19 14:24] jimharris commented on #2110
Hi,

It looks like you are asking for a couple of new features that don't exist today:

1) Ability to specify the numa node when creating a malloc bdev
2) Ability to specify the numa node when allocating buffers in bdevperf

Going to mark this as an enhancement request.  @USTCqzy - feel free to submit patches for either/both of these features.

Thanks,

Jim

[2021-08-19 14:26] jimharris commented on #1692
Closing this issue.  There are no plans to do any further work with Open Channel in SPDK.

[2021-08-19 14:26] #1692 closed

[2021-08-19 14:32] jimharris commented on #2109
Hi,

Closing this since this is more of a question, not an SPDK issue.  hello_bdev is not meant to support get_stats operations like this.  You can use one of the SPDK target applications to get stats though.

Someone here might be able to provide some help, but we will need you to post a complete patch that applies cleanly to SPDK master branch.  The reproduction steps listed above are unfortunat

[2021-08-19 14:32] #2109 closed

[2021-08-19 14:32] jimharris commented on #2109
@gwnet - there's nothing for you to investigate on this so I've unassigned you.  I've assigned it back to @USTCqzy while we wait for more detailed reproduction steps.

[2021-08-19 14:35] USTCqzy commented on #2110
@jimharris
Thanks for your answer.
However, my question remains. Why can't I control malloc bdev memory by allocating hugepage memory on specific numa node?

[2021-08-19 14:37] jimharris commented on #2088
This patch seems to fail in CI with a segfault in the ocf module.

Side note: I don’t see the original comment from Rafal with this gerrit link on GitHub anymore.  Is it possible that someone deleted it?

From: rafalste ***@***.***>
Reply-To: spdk/spdk ***@***.***>
Date: Thursday, August 19, 2021 at 5:26 AM
To: spdk/spdk ***@***.***>
Cc: James Harris ***@***.***>, Mention ***@***.***>
Subject: Re:

[2021-08-19 14:44] rafalste commented on #2088
Hi @jimharris, I deleted the comment as soon as the patch failed in CI. ;)
I'm trying to implement a different approach as 'OCF cache' start can be delayed until cache and core devices get attached.

[2021-08-19 14:46] AlekseyMarchuk commented on #2111
@KKaras169169 the fix is very simple but it depends on rte_bus_auxiliary DPDK library which is absent in 21.05. So the fix can be applied only after update of DPDK submodule to 21.08. I think it can be done in your patch https://review.spdk.io/gerrit/c/spdk/spdk/+/9211

Could you apply this small diff?
[code]

[2021-08-19 14:49] jimharris commented on #2110
Hi @USTCqzy,

Please read further down in the setup.sh help, specifically the HUGENODE option.

I also don't believe the numactl can be used to affect DPDK-based memory allocations (which the SPDK allocations are based on top of).  But you can check the DPDK code to confirm.

-Jim

[2021-08-19 14:58] gaowayne commented on #2103
@jimharris  @Comphix I enabled pmem huge page successfully. I saw correct trace following https://nvdimm.wiki.kernel.org/2mib_fs_dax

I added below code to register the mmaped address into SPDK,
[code]
but I see this error happened. could you please suggest next step?
[code]

[2021-08-19 15:16] peluse commented on #2103
@gaowayne what kind of debug have you done so far?

[2021-08-19 15:26] jimharris commented on #2108
Hi @USTCqzy,

Is this 100% reproducible on your system?  The only difference between #1 and #2 in your list is the workload (read v. randread) which would not by itself cause any kind of problem.  These are all very well-tested in SPDK CI.

Does this specific test case fail if you run those command lines in a different order?

[2021-08-19 15:49] rafalste commented on #2088
Ok @jimharris, now it should work fine, if you would like to check it out.

[2021-08-19 15:52] rafalste commented on #2093
Hi @USTCqzy and thanks for filing this issue!
We support this behavior in plain OCF but we didn't put an effort to support it in SPDK due to more important features we are working on. This one is also on our list of improvements but with lower priority.
However, you're more than welcome to contribute and try to implement this feature if you would like to speed up the process.
We'll be happy to hel

[2021-08-19 15:55] USTCqzy commented on #2110
As I setup like this:
[code]
If it succeeded, there might be difference between using local numa cores and using remote ones.
[code]
The first case is 4 cores each numa node, the second is all remote, and the last one is all local. However, here are the results.
 Total                       : 55295528.60 IOPS  215998.16 MiB/s
 Total                       : 45070442.00 IOPS  176056.41 MiB/s
 Total

[2021-08-19 16:03] KKaras169169 commented on #2111
@AlekseyMarchuk Thank you for a quick response. I already applied this diff to my patch.

[2021-08-19 16:13] USTCqzy commented on #2108
@jimharris Yes, it is reproducible for days. It failed even in different order.
[code]

[2021-08-19 16:23] peluse commented on #2108
BTW this works fine for me

[2021-08-19 16:26] peluse commented on #2108
do you by any chance have a different system with a different NVMe disk (or different NVMe disk) that you can try?

[2021-08-19 16:33] jimharris commented on #2108
I can reproduce this on my system.  Debugging now.

[2021-08-19 16:46] USTCqzy commented on #2109
@jimharris
I produce a patch that can apply to v21.07 (for I am using v21.07 now). Sorry for failing to provide the exact clean codes. Btw, as I am kind of new here, I am not sure the right method to post the patch, so just attached it in zip form now. Sorry again.

[patch.diff.zip](https://github.com/spdk/spdk/files/7016281/patch.diff.zip)

[2021-08-19 17:13] jimharris commented on #2108
https://review.spdk.io/gerrit/c/spdk/spdk/+/9231

Root cause is that bdevperf was using int in some places where it should have been using uint64_t.  If the SSD has INT32_MAX < num_blocks > UINT32_MAX, we end up storing a negative value for storing the extent to use in the job, which then gets converted to an incorrect value when converted to a uint64_t for purposes of selecting a random offset in

[2021-08-19 17:17] peluse commented on #2108
Well done Jim!! See review, looks like you an accidental commit in there....

[2021-08-19 17:20] jimharris commented on #2108
Doh!  Thanks for the heads-up - fixed in version 2.

[2021-08-19 17:41] jimharris commented on #2109
Posting the hacked up patch like this is fine in this case.

Two problems I see:

1) Library info is added to CFLAGS which is for compilation.  You need to add it to LDFLAGS instead.
2) Patch adds call to rpc_bdev_ocf_get_stats_cmpl which is private/static.

[2021-08-19 19:17] jimharris commented on #2085
Thanks @suruifeng.

This might work, but I'd like to fix it differently.  This is the only case (a bad vtophys translation) where we return error from the submit function *and* do a completion callback.  We cannot resort to only returning error from the submit function, because in queue full cases we won't catch the vtophys failure until the request gets submitted at some later point.

I think the

[2021-08-19 20:52] spdkci commented on #2060
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_56457.html

[2021-08-19 20:57] spdkci commented on #2060
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_56451.html

[2021-08-19 21:00] spdkci commented on #2102
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_56207.html

[2021-08-19 21:00] spdkci commented on #2102
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_56208.html

[2021-08-19 21:10] jimharris commented on #2085
Can you try https://review.spdk.io/gerrit/c/spdk/spdk/+/9234?

[2021-08-19 21:49] spdkci commented on #2060
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_56465.html

[2021-08-19 23:55] optimistyzy commented on #2097
Hi @KariukiJ ,
That's great.Thanks

[2021-08-20 02:13] changpe1 commented on #2086
Here is the revert patch https://review.spdk.io/gerrit/c/spdk/spdk/+/9236

[2021-08-20 04:48] #2108 closed

[2021-08-20 05:54] spdkci commented on #2060
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_56384.html

[2021-08-20 07:00] ksztyber opened #2112 "[nvmf_multipath] sock_uring_group_reap: Assertion `sock != NULL' failed"
The `nvmf_multipath.sh` test failed during `nvmf-tcp-uring-vg-autotest` with an assertion in the uring code:
[code]

## Link to the failed CI build
https://ci.spdk.io/results/autotest-per-patch/builds/56359/archive/nvmf-tcp-uring-vg-autotest/build.log
https://ci.spdk.io/public_build/autotest-per-patch_56359.html

## Execution failed at
[code]

[2021-08-20 07:18] spdkci commented on #2112
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_56479.html

[2021-08-20 07:20] spdkci commented on #2060
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_56383.html

[2021-08-20 07:21] spdkci commented on #2112
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_56380.html

[2021-08-20 07:22] spdkci commented on #2112
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_56345.html

[2021-08-20 07:23] spdkci commented on #2112
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_56346.html

[2021-08-20 07:27] ksztyber commented on #2112
Patch: https://review.spdk.io/gerrit/c/spdk/spdk/+/9239

[2021-08-20 07:35] spdkci commented on #2112
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_56359.html

[2021-08-20 07:43] spdkci commented on #2060
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_56342.html

[2021-08-20 07:45] spdkci commented on #2060
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_56335.html

[2021-08-20 07:46] spdkci commented on #2060
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_56338.html

[2021-08-20 08:00] wawryk opened #2113 "nvmf test fails with adq enabled"
# Bug report

I made a lot of tries, to find minimal config to reproduce this bug.
The error occurs on both physical disks and null block devices.
I attach matrix screens with the tests performed:
Six null block devices:
![image](https://user-images.githubusercontent.com/15612188/130200247-82210f87-1e3e-4f66-89ca-cb3c86f49911.png)

Six Intel p4610 disks:
![image](https://user-images.githubusercont

[2021-08-20 08:26] changpe1 commented on #2074
I think we need QEMU experts to clarify that is it possible inflight IOs are using the memory region while UNMAP message happens.

[2021-08-20 09:17] jlevon commented on #2074
It's 100% possible.

[2021-08-20 09:27] spdkci commented on #2090
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_56498.html

[2021-08-20 09:42] ksztyber opened #2114 "[test-setup/devices] failed to find a suitable device due to GPT partition"
Looks very similar to https://github.com/spdk/spdk/issues/2090, however here a disk *was* found, but it had gpt, so it was skipped.

[code]

After going through the builds on this machine (GP16), it seems that in a previous build a `test/bdev/blockdev.sh gpt` test failed and didn't clear the GPT. All builds are failing from that point on this machine.

It seems that autotest does clear the drives,

[2021-08-20 10:43] spdkci commented on #2114
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_56490.html

[2021-08-20 10:43] spdkci commented on #2114
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_56487.html

[2021-08-20 12:06] spdkci commented on #2060
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_56525.html

[2021-08-20 12:16] spdkci commented on #2060
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_56530.html

[2021-08-20 12:18] KKaras169169 opened #2115 "[clang-vg-autotest] No space left on device"
# CI Intermittent Failure

CI failed during **clang-vg-autotest**, inside **unittest_build** test with error:
_fatal error: error in backend: IO failure on output stream: No space left on device_

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/56527/archive/clang-vg-autotest/build.log

## Execution failed at

00:06:23.326    CXX test/cpp_headers/nvmf_fc_spec.o

[2021-08-20 12:19] spdkci commented on #2115
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_56527.html

[2021-08-20 12:22] krish-reddy opened #2116 "[nvmf-tcp-vg-autotest] nvmf_filesystem_incapsule test failure"
# CI Intermittent Failure
00:04:19.547  ========== Backtrace start: ==========
00:04:19.547
00:04:19.555  in test/nvmf/target/filesystem.sh:57 -> nvmf_filesystem_part(["4096"])
00:04:19.555       ...
00:04:19.555     52  		$rpc_py nvmf_subsystem_add_ns nqn.2016-06.io.spdk:cnode1 Malloc1
00:04:19.555     53  		$rpc_py nvmf_subsystem_add_listener nqn.2016-06.io.spdk:cnode1 -t $TEST_TRANSPORT -a $NVM

[2021-08-20 12:24] spdkci commented on #2116
Another instance of this failure. Reported by @krish-reddy. log: https://ci.spdk.io/public_build/autotest-per-patch_56520.html

[2021-08-20 12:26] krish-reddy opened #2117 "[nvmf-vg-autotest] Connect Disconnect test failure"
# CI Intermittent Failure

00:05:52.157  ************************************
00:05:52.157  START TEST nvmf_connect_disconnect
00:05:52.157  ************************************

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/56526/archive/nvmf-vg-autotest/

## Execution failed at

00:06:14.213  ========== Backtrace start: ==========
00:06:14.213
00:06:14.220

[2021-08-20 12:28] spdkci commented on #2117
Another instance of this failure. Reported by @krish-reddy. log: https://ci.spdk.io/public_build/autotest-per-patch_56526.html

[2021-08-20 12:41] ksztyber commented on #2116
I think this is a duplicate of #2060.

[2021-08-20 12:41] #2116 closed

[2021-08-20 12:42] ksztyber commented on #2117
Duplicate of #2060.

[2021-08-20 12:42] #2117 closed

[2021-08-20 13:42] krish-reddy opened #2118 "[crypto-autotest] ERROR: requested 2560 hugepages but 2471 could be allocated"
# CI Intermittent Failure

00:04:19.311  ************************************
00:04:19.311  START TEST spdkcli_tcp
00:04:19.311  ************************************

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/56542/archive/crypto-autotest/build.log

## Execution failed at

00:04:19.551  ========== Backtrace start: ==========
00:04:19.551
00:04:19.557  in

[2021-08-20 13:43] spdkci commented on #2118
Another instance of this failure. Reported by @krish-reddy. log: https://ci.spdk.io/public_build/autotest-per-patch_56542.html

[2021-08-20 15:30] spdkci commented on #2060
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_56548.html

[2021-08-20 15:30] spdkci commented on #2060
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_56553.html

[2021-08-20 16:59] spdkci commented on #2114
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_56492.html

[2021-08-20 17:02] spdkci commented on #2060
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_56572.html

[2021-08-20 17:03] spdkci commented on #2060
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_56576.html

[2021-08-20 17:16] spdkci commented on #2060
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_56461.html

[2021-08-20 17:17] spdkci commented on #2060
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_56462.html

[2021-08-20 20:46] spdkci commented on #2060
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_56601.html

[2021-08-20 21:19] spdkci commented on #2060
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_56501.html

[2021-08-20 21:20] spdkci commented on #2060
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_56512.html

[2021-08-20 21:22] spdkci commented on #2114
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_56504.html

[2021-08-20 21:24] spdkci commented on #2112
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_56590.html

[2021-08-20 22:39] jimharris commented on #2073
Hi @mhae,

Here's my initial cut:

https://review.spdk.io/gerrit/c/spdk/spdk/+/9250

At first I set this flag on the qpair, but then decided its probably better to do it on the ctrlr instead.  If you could give it a spin after it passes CI, I would appreciate it.

Thanks,

-Jim

[2021-08-20 23:33] spdkci commented on #2060
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_56625.html

[2021-08-20 23:50] spdkci commented on #2081
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_56616.html

[2021-08-20 23:55] jimharris commented on #1598
We are not planning on any further OCSSD work within SPDK, so going to close this issue.

[2021-08-20 23:55] #1598 closed

[2021-08-20 23:57] jimharris commented on #1591
@gwnet is this issue still relevant for you?  Or can we close?

[2021-08-20 23:59] jimharris commented on #2002
This issue seems to be fixed now.

[2021-08-20 23:59] #2002 closed

[2021-08-21 00:01] jimharris commented on #2042
Thanks @trochumski.  Patch looks good.  Once we get another +2 we'll get this merged and can close this issue.

[2021-08-21 00:02] jimharris commented on #2048
I believe this a595959 patch fixes the specific issue described here.  @gp2017, please confirm and reopen if you see otherwise.

[2021-08-21 00:02] #2048 closed

[2021-08-21 05:16] USTCqzy commented on #2109
@jimharris
Thanks for your answer.
I add Library info to LDFLAGS and annotate `rpc_bdev_ocf_get_stats_cmpl` stuff for now.
[code]
My reference to `vbdev_ocf_get_by_name` still failed. I still worry that some problems prevent us from calling vbdev-relevant functions.

[code]
[patch.zip](https://github.com/spdk/spdk/files/7024904/patch.zip)

[2021-08-21 09:11] USTCqzy commented on #2107
I would like to add my new thought (Hope to discuss!): Instead of pmem bandwidth being too high, maybe iops is the core metrics, which is too low actually.
Here are some results:
When pmem pool block size & io size is 256B (aligned with Intel's report: [https://www.intel.com/content/www/us/en/products/docs/memory-storage/optane-persistent-memory/optane-persistent-memory-200-series-brief.html](url)

[2021-08-21 09:32] USTCqzy opened #2119 "Why pmem bdev & nvme bdev not support zipf test"
# Bug report

pmem bdev & nvme bdev not support zipf test.
"Test requires ZCOPY but bdev module does not support ZCOPY"

## Expected Behavior

bdevperf can use -Z when testing pmem bdev & nvme bdev

## Current Behavior

"Test requires ZCOPY but bdev module does not support ZCOPY"

## Possible Solution

No idea.

## Steps to Reproduce

Take nvme bdev as an example
1. ./bdevperf -q 1 -t 2 -w randrea

[2021-08-21 09:43] #2119 closed

[2021-08-21 12:28] Comphix commented on #2107
@USTCqzy , could you share us more information about your expectation of using SPDK with PMem? And in which situation and workloads for your usage so that we could also better understand SPDK for PMem. Thanks, Gang.

[2021-08-21 12:55] Comphix commented on #2109
Hi @USTCqzy , could you follow below SPDK development guide to supply a patch for better discussion?

https://spdk.io/development/

Thanks, Gang.

[2021-08-21 13:27] USTCqzy commented on #2107
@Comphix
Thanks for your advice.
I would like to use ocf to construct a cache, combining DRAM+PMem (in App Direct Mode), but I found ocf performance much worse than I expect. To figure out, I explore performance of DRAM and PMem separately, and confuse with the performance gap between what Intel's claimed (30M IOPS) and my test results (6M IOPS).
If there is something unclear in the implementation

[2021-08-22 05:52] Comphix commented on #2107
From our understanding, PMem's high performance is CPU intensive and Sync operations (like you have done to use many cores) , so that no matter the queue depth, it will have similar performance (i.e., queue depth = 1). Just to make sure in the first diagram, it could achieve 24GB for 64 cores, is it also done by SPDK Bdevperf?

SPDK's one of the Key principles is Async operations when the backend

[2021-08-22 10:22] USTCqzy commented on #2107
@Comphix
"Just to make sure in the first diagram, it could achieve 24GB for 64 cores, is it also done by SPDK Bdevperf?"
To clarify, the diagrams without reference are drawed by myself, and such datas are from experiments using SPDK bdevperf (commands showed before: `./bdevperf -q "$io_depth" -t 300 -w randread -o 4096 -m "$thread" -c test.json -C`).
And compared with the results from Intel's repo

[2021-08-22 11:25] USTCqzy opened #2120 "OCF performs really bad"
# Bug report

OCF perform really bad.

## Expected Behavior

OCF at least performs similar to core device.

## Current Behavior

OCF perform really bad. (e.g. 10 times worse than core device)

## Possible Solution

No idea.

## Steps to Reproduce

1. ./bdevperf -q "$io_depth" -t 300 -w "$read_type" -o 512 -m "$thread" -c test.json -C -F 1.0
test.json
[code]

As ocf homepage saying,
"In Pass-Throug

[2021-08-22 11:33] USTCqzy opened #2121 "Failed to combine pmem bdev with nvme bdev using ocf"
# Bug report

Failed to combine pmem bdev with nvme bdev using ocf.

## Expected Behavior

Successfully combine pmem bdev with nvme bdev using ocf.

## Current Behavior

[code]

## Possible Solution

No idea.

## Steps to Reproduce

1. $ ./bdevperf -q 1 -t 2 -w read -o 4096 -m 0x1 -c test.json
test.json
[code]

## Context (Environment including OS version, SPDK version, etc.)

SPDK 21.07.x
Ubuntu

[2021-08-22 11:47] Comphix commented on #2120
Assign to Wayne to do initial triage for OCF related. Thanks, Gang.

[2021-08-22 11:48] Comphix commented on #2121
Assign to Wayne to do initial triage for OCF related. Thanks, Gang.

[2021-08-22 11:30:05.894908] Cache1: Metadata Error
[2021-08-22 11:30:05.895007] Cache1: Metadata Flush ERROR
[2021-08-22 11:30:05.895015] Cache1: ERROR: Cannot save cache state
[2021-08-22 11:30:05.923929] Cache1: Attaching cache device failed
[2021-08-22 11:30:05.923959] vbdev_ocf.c:1019:start_cache_cmpl: *ERROR*: Error -100002

[2021-08-22 13:45] adamagniv opened #2122 "[nvme/rdma] Work Request Flushed Error"
# Bug report

Initiator running fio_plugin with spdk_bdev will fail to run on any test with iodepth > 2

## Expected Behavior

Start fio threads

## Current Behavior
[code]
I've used the same workload to test the same drive using nvme-cli to connect to it over RDMA and libaio as the ioengine and the test worked with iodepth = 128, when disconnecting and using spdk_bdev it fails on any depth > 2.
T

[2021-08-23 02:27] spdkci commented on #2102
Another instance of this failure. Reported by @richael02. log: https://ci.spdk.io/public_build/autotest-per-patch_56647.html

[2021-08-23 04:43] Comphix commented on #2122
Could you also paste any error logs reported out the NVMe-oF Target side?

[2021-08-23 05:01] Comphix commented on #2107
I am a little confused.

So with SPDK bdevperf as below diagram (32 threads + queue depth = 1) could get 24GB/s bandwidth

![PMem](https://user-images.githubusercontent.com/5643608/130391917-cf611c8e-4c60-410d-b5b1-a18ed7705140.PNG)

The link below is for the second generation of PMem (which is PMem 200) and could you share us what's your PMem configuration?
https://www.intel.com/content/www/us/en

[2021-08-23 05:45] USTCqzy commented on #2107
@Comphix
"The link below is for the second generation of PMem (which is PMem 200) and could you share us what's your PMem configuration?"
Our PMem configuration is Intel® Optane™ Persistent Memory 100 Series - 128GB
[19-040-intel-optane-dc-memory-pb-low.pdf](https://github.com/spdk/spdk/files/7029376/19-040-intel-optane-dc-memory-pb-low.pdf)
It is around 6.8GB/s for 100%read+256B IO and 1.7GB/s fo

[2021-08-23 05:54] Comphix commented on #2107
For the 256B IO size for SPDK Bdevperf, one thing is that it is better to configure the PMem to 512B sector size, currently from the description, it is configured with 4096.

The next thing is that Block IO usually align (and multiple) for the sector size, so for 256B IO, it will turn into 512 (if 512 is configured for the sector size). You may have a try of 512B IO first after the PMem is configu

[2021-08-23 06:00] Comphix commented on #966
looks like this issue could be closed where UT has been also put under /test/unit/lib

ll ./test/unit/lib/
total 16
drwxrwxr-x.  3 gangcao gangcao   37 Aug  2 13:57 accel
drwxrwxr-x. 18 gangcao gangcao  280 Aug  2 13:57 bdev
drwxrwxr-x.  3 gangcao gangcao   81 Aug 17 16:03 blob
drwxrwxr-x.  6 gangcao gangcao  102 Apr  7 11:13 blobfs
drwxrwxr-x.  3 gangcao gangcao   41 Aug  2 13:57 env_dpdk
drwxrwx

[2021-08-23 06:02] spdkci commented on #2060
Another instance of this failure. Reported by @wawryk. log: https://ci.spdk.io/public_build/autotest-per-patch_56618.html

[2021-08-23 06:43] spdkci commented on #2060
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_56608.html

[2021-08-23 06:43] spdkci commented on #2112
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_56605.html

[2021-08-23 06:45] spdkci commented on #2060
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_56586.html

[2021-08-23 06:47] spdkci commented on #2060
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_56573.html

[2021-08-23 06:50] spdkci commented on #2060
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_56566.html

[2021-08-23 06:52] spdkci commented on #2060
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_56560.html

[2021-08-23 08:16] spdkci commented on #2060
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_56657.html

[2021-08-23 08:16] spdkci commented on #2060
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_56655.html

[2021-08-23 08:18] spdkci commented on #2060
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_56659.html

[2021-08-23 08:33] spdkci commented on #2060
Another instance of this failure. Reported by @yidong0635. log: https://ci.spdk.io/public_build/autotest-per-patch_56643.html

[2021-08-23 08:57] #2112 closed

[2021-08-23 08:57] #1630 closed

[2021-08-23 09:12] mikeBashStuff commented on #2114
I would suggest to add some routine to our CI which would clean up the nvme drives upon the failure right before we try to hit the affected system with the reset-job - this way we could remove entirely this quite unsafe piece of code from `autotest`:

[code]
In this particular case it's not even run since `setup` tests try to be gentle with the underlying devices and they bail if they find devices

[2021-08-23 10:00] spdkci commented on #2114
Another instance of this failure. Reported by @tomzawadzki. log: https://ci.spdk.io/public_build/autotest-per-patch_56500.html

[2021-08-23 10:11] USTCqzy commented on #2107
@Comphix
I am wondering whether bdevperf has flag to avoid influence from memory page cache. Thx!

[2021-08-23 11:26] rafalste commented on #2121
Hi @USTCqzy,
`[2021-08-22 11:30:05.923959] vbdev_ocf.c:1019:start_cache_cmpl: *ERROR*: Error -1000024 during start cache Cache1, starting rollback`
this means that there were errors while trying to write to cache device. I suppose there are some permission issues or other related to PMem0 write access. Can you make sure that you have write access to this device? For example by issuing bdevperf on

[2021-08-23 12:33] KKaras169169 opened #2123 "[nvmf-tcp-vg-autotest] "1 device(s) expected, found 2" during nvmf_filesystem_incapsule test"
# CI Intermittent Failure

During nvmf-tcp-vg-autotest, nvmf_filesystem_incapsule, two available nvme devices were reported, when one was expected to be found. This happened right after setting a tcp listener.

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/56699/archive/nvmf-tcp-vg-autotest/build.log

## Execution failed at

00:04:38.394  ********************

[2021-08-23 12:34] spdkci commented on #2123
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_56699.html

[2021-08-23 12:35] mikeBashStuff commented on #2123
Same cause as #2060 so let's consider it as a duplicate. Closing.

[2021-08-23 12:35] #2123 closed

[2021-08-23 12:46] USTCqzy commented on #2121
@rafalste
Thanks for your answer!
It seems like I have write access.
[code]

[2021-08-23 13:00] USTCqzy commented on #2109
@Comphix Thanks for your answer!
Actually, when I changed to master and tried to reproduce the bug (to submit patch), everything went smooth. (I have tried many times in v21.07.x, but not worked.) I still failed to figure out the reason.
However, problem vanished. Thanks again!!!

[2021-08-23 13:08] spdkci commented on #2060
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_56705.html

[2021-08-23 13:18] spdkci commented on #2060
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_56697.html

[2021-08-23 13:58] spdkci commented on #2060
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_56715.html

[2021-08-23 14:15] jimharris commented on #966
Reopening.  There is still lots of bdev module related unit test code under test/unit/lib/bdev.  If the intention is to have the test/unit hierarchy match the functional code hierarchy, then this needs to be under test/unit/module/bdev.

[2021-08-23 14:23] spdkci commented on #2115
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_56716.html

[2021-08-23 15:00] jlevon opened #2124 "SPDK tries vfu_unmap_sg() of an unmapped area"
As of 11d907c100793adf01dc713d57b7956c86989c3d, if we get an admin command unsupported by vfio-user, it's not mapped:

[code]

But we always try to unmap later:

[code]

This isn't permitted by libvfio-user, and a recent library change will assert if iovcnt is 0.

At the very least, SPDK should only be called vfu_unmap_sg() if iovcnt is not zero.

But it seems there are more basic issues here (or

[2021-08-23 15:02] jlevon commented on #2124
cc @swapnili @tmakatos

[2021-08-23 15:02] spdkci commented on #2060
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_56714.html

[2021-08-23 15:42] USTCqzy commented on #2120
I would like to add more info from new experiments:
I combined a cache using both malloc bdev (to avoid influence from disks), and got stats (through get ocf stats)
[code]
High hit ratio in this experiment.
but got only ~2GB/s
[code]
config:
[code]
test.json
[code]
but with same num of cores & randread, dram could get at least 50GB/s
[code]

[2021-08-23 19:34] spdkci commented on #2060
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_56726.html

[2021-08-23 23:00] MattDumm commented on #2073
Hi @jimharris , @mhae,
I tried some tests on the new code, and it does the job we were looking for. We were seeing trouble and sometimes a crash in our scenarios when the reset included the admin commands. With the skipping of the admin commands during reset, we are seeing the right things happen now. Thanks!

[2021-08-24 01:27] changpe1 commented on #2124
@jlevon OK, I need to add a check before calling vfu_unmap_sg() for this case.

As you see in the log, the NVMf library can process Set Features with Host Identifier correctly even we didn't remmap it in vfio-user, that's the purpose commit 1afe4de5.  I have a following patch https://review.spdk.io/gerrit/c/spdk/spdk/+/9125 which is similar purpose.

[2021-08-24 01:50] Comphix commented on #2084
Ziye's patch has been merged. Is this issue still there?

[2021-08-24 02:12] spdkci commented on #2102
Another instance of this failure. Reported by @richael02. log: https://ci.spdk.io/public_build/autotest-per-patch_56648.html

[2021-08-24 02:31] changpe1 commented on #2124
Here is the patch https://review.spdk.io/gerrit/c/spdk/spdk/+/9264 to fix it, actually the new Linux kernel will not send Set Features with Host Behavior command as SPDK is reporting Command Retry Delay Time with 0 value.

[2021-08-24 02:38] optimistyzy commented on #2084
Issue is gone. But Paul's patch is not merged:  https://review.spdk.io/gerrit/c/spdk/spdk/+/9171.  This patch is tried to add a new poller inside the acceleration framework instead of let accel_perf to judge. So I think that we can still keep it open.

[2021-08-24 02:51] Comphix commented on #2057
I will take a look at this issue and also refer to Shuhei's previous patch.

[2021-08-24 03:59] optimistyzy commented on #2107
If  you want to bypass the cache for pmem test formatted with fsdax mode. You can mount your file system with "-o dax" choice.

[2021-08-24 06:23] USTCqzy opened #2125 "Failed to add flag in hello_bdev"
# Bug report

Failed to add option in hello_bdev.

## Expected Behavior

Enable to diy new options by myself.
PS: I realize that I might misunderstand the usage, but I have tried my best to test lots of order, which all failed in the end.

## Current Behavior

Wanted to add -a (which is not comflicting with previous options)

[code]

## Possible Solution

Maybe have something to with order.

## St

[2021-08-24 06:29] Comphix commented on #2125
Looks like need to be:

       if ((rc = spdk_app_parse_args(argc, argv, &opts, "ab:", NULL, hello_bdev_parse_arg,
				      hello_bdev_usage)) != SPDK_APP_PARSE_ARGS_SUCCESS) {
		exit(rc);
	}

[2021-08-24 07:06] ksztyber commented on #2102
Hi @richael02, these two failures aren't related to this issue. I think they're caused by the recent markdownlint changes and should disappear if you rebase your patches on top of current master branch.

[2021-08-24 07:13] mikeBashStuff commented on #2060
f33 image was updated yesterday with a bit older kernel (5.12.10) to mitigate this issue further. So far the `nvmf-tcp-vg-autotest` job is doing well, no failures since yesterday.

[2021-08-24 07:47] USTCqzy commented on #2125
@Comphix Thanks a lot. It works well.
Could you please explain more about the rules? I still found it confusing, e.g. in bdevperf
[code]

[2021-08-24 07:57] Comphix commented on #2125
If followed with ":", it means that argument is required and based on your implementation above, this is no argument needed.

As issue has been solved, let me close it first.

[2021-08-24 07:57] #2125 closed

[2021-08-24 07:58] AlekseyMarchuk commented on #2122
One possible problem is that when SPDK RDMA initiator connects to target, it uses maximum qdepth reported by the target (it can be really huge) and in some cases target can't allocate enough resources even if it reports such big queue depth. Could you check what is the maximum qdepth supported by your target and try to decrease it to some reasonable value?

[2021-08-24 07:59] spdkci commented on #2081
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://ci.spdk.io/public_build/autotest-per-patch_56747.html

[2021-08-24 08:09] USTCqzy commented on #2125
@Comphix Thank you very much!!!!

[2021-08-24 08:09] JiangMaox opened #2126 "Connecting tcp target caused kernel panic while nvmf_tgt tcp transport as backend"
# Bug report
In VM, launch nvmf_tgt and create a tcp transport listener, then run nvme connect command, a kernel panic occured,  but if creating transport with kernel tools, it`s ok to connect.

## Expected Behavior
Connect successfully

## Current Behavior

[root@localhost spdk]# nvme connect -t tcp -n "nqn.2016-06.io.spdk:cnode1" -a 10.0.2.15 -s 4430
Killed
[root@localhost spdk]# [2021-08-24 15:

[2021-08-24 08:09] adamagniv commented on #2122
@AlekseyMarchuk , when using nvme-cli
`nvme connect -t rdma -a <IP> -s <PORT> -n <SUBNQN>`
to connect to the drives I get a report to dmesg saying that `queue_size 128 > ctrl sqsize 15, clamping down` (128 is the default for nvme connect -Q flag) so I guess the target's max qdepth for each device is 15.

as you can see in the fio workload I posted here I am using iodepth to be 3 which is lower tha

[2021-08-24 08:16] JiangMaox commented on #2126
Launch script:
#!/usr/bin/env bash

./build/bin/nvmf_tgt -p 0 -m 0xFF &
pid=$!
echo "PID: $pid"
sleep 1
#read -p "Waiting..."
rm -rf /dev/shm/muser
scripts/rpc.py nvmf_create_transport --trtype VFIOUSER

for i in $(seq 0 1); do
        cpu1=$((25 + i))
        cpu2=$((30 + i))
        vm_muser_dir="/home/jm/vms/$i/muser"
        rm -rf $vm_muser_dir
        mkdir -p $vm_muser_dir/iommu_group

[2021-08-24 08:26] changpe1 commented on #2126
Starting nvmf_tgt with multiple cores is not stable now, see issue #2074 for more information.

You may have another try to see if this issue still exist or not just using 1 core for nvmf_tgt.

[2021-08-24 08:36] JiangMaox commented on #2126
It still reproduce with 4 cores.

[2021-08-24 08:39] changpe1 commented on #2126
only 1 core is safe now.

[2021-08-24 09:29] JiangMaox commented on #2126
I had checked it again, it is not associated with core number, qemu version or if launch vm with nvmf_tgt.
Single core also occur kernel panic.

[2021-08-24 09:45] jlevon commented on #2124
Thanks for the fix which will at least avoid the assert. But I'm still not clear (again)

1. You mention https://review.spdk.io/gerrit/c/spdk/spdk/+/9264 but doesn't touch admin requests at all.

2. "the NVMf library can process Set Features with Host Identifier correctly even we didn't remmap it in vfio-user"

I think you're saying that even though `nvmf_ctrlr_set_features_host_behavior_support()

[2021-08-24 10:09] changpe1 commented on #2124
that's an option to define the support ADMIN commands in vfio-user, you can see that I already do that for IO commands.

[2021-08-24 10:37] changpe1 commented on #2124
For supporting that, actually there will be some duplicated code with the nvmf library, so my thought is to let the NVMf library do this thing.

[2021-08-24 10:46] gaowayne commented on #2094
sorry for late guys. I am busy on other things. here is my json now.
[code]

[2021-08-24 10:48] gaowayne commented on #2094
this issue has nothing to do with accel framework. I just mock Malloc driver, make it complete IO directly without real copy.

[2021-08-24 10:49] gaowayne commented on #2094
buddy, these patches are for accel perf, my issue is for malloc device performance upper bound related. :)

[2021-08-24 10:54] gaowayne commented on #2094
sorry for late. actually I did not enable accel engine in my test above. it is just malloc removed real copy, it is upper bound test. one fake testing.

[2021-08-24 11:05] jlevon commented on #2124
We really don't want error logs needlessly showing up though

[2021-08-24 12:35] spdkci commented on #2115
Another instance of this failure. Reported by @KKaras169169. log: https://ci.spdk.io/public_build/autotest-per-patch_56730.html

[2021-08-24 12:48] mikeBashStuff commented on #2115
Currently this seems to be affecting only this series: https://review.spdk.io/gerrit/c/spdk/spdk/+/9241. I would consider testing it locally  to determine how big the clang build gets - the CI's VMs are very compact in nature and they don't have much of a storage space. It can be extended but first we need to know if it's really needed (and how much space is actually required to accommodate for th

[2021-08-24 13:08] tomzawadzki commented on #2113
@wawryk Can you provide all the logs from the fio ?

The spdk_bdev fio plugin in almost all error cases in `spdk_fio_init()` prints SPDK_ERRLOG.

[2021-08-24 13:11] tomzawadzki commented on #2111
Patches [dpdk: update DPDK to 21.08 version](https://review.spdk.io/gerrit/c/spdk/spdk/+/9211) and [configure: Check if DPDK support mlx5_pci PMD](https://review.spdk.io/gerrit/c/spdk/spdk/+/9257) address this issue. Once merged can be closed.

[2021-08-24 13:19] tomzawadzki commented on #2080
Patch addressing this issue can be found at https://review.spdk.io/gerrit/c/spdk/spdk/+/9243

[2021-08-24 13:58] jimharris commented on #2094
Please take a look at the second paragraph of that comment.  When you complete I/O immediately like this, you do an extra spdk_thread_send_msg per I/O which is going to hurt your performance.

I'm just curious, why not use null bdev driver instead if you want to test upper limit of bdev layer?

[2021-08-24 13:58] #2094 closed

[2021-08-24 14:04] tomzawadzki commented on #2042
Fix is now merged, this issue can be closed. Thanks @trochumski !

[2021-08-24 14:04] #2042 closed

[2021-08-24 14:09] gaowayne commented on #2094
yes, I tested null bdev too. it is 17000MiB/s its internal has one poller, and all requests will be insert into list, poller pick them up and complete IO. but malloc one without real copy is only half BW of null bdev. I monitored spdk_top, cpu usage is similar, so I am curious about this.

[2021-08-24 14:16] tomzawadzki commented on #1874
Resolution to this issue has been posted for review in https://review.spdk.io/gerrit/c/spdk/spdk/+/8744.

[2021-08-24 14:27] changpe1 commented on #2124
Agreed, but for this case it should be an initiator issue according the specification.  To fix it in vfio-user, this requires very detailed check to get `len` for each ADMIN command, e.g: for Set features command, some feature IDs will have data buffer and some don't have.

[2021-08-24 14:34] tomzawadzki commented on #1642
Closing due to lack of activity and reports.

[2021-08-24 14:34] #1642 closed

[2021-08-24 14:46] jimharris commented on #2094
bdev layer never completes I/O to caller in the context of its submission.  So when you complete the I/O immediately in the submission path, the bdev layer has to do an spdk_thread_send_msg() to itself so that the I/O is completed after the submission context unwinds.  A well-designed bdev module will make sure that it does not complete I/O in the submission context (or at least only do it very ra

[2021-08-24 14:51] wawryk commented on #2113
whole fio log from my last run:
[code]

[2021-08-24 14:52] mikeBashStuff commented on #2114
@karlatec For the one-shot VM setups this is not needed at all and for actual hardware it's clearly too aggressive since it doesn't perform any checks at all it just wipes everything in its sight. The only alternative I can think of is to move what setup tests are doing into autotest and bail in case no free nvmes are found. But again, I think handling that from the CI side is better since doing t

[2021-08-24 14:55] mikeBashStuff commented on #2114
And having a documentation describing what autotest is actually doing would be also nice in case someone was about to actually use these tests in their own environment (not sure if we have something of that sort anywhere in the repo).

[2021-08-24 15:07] tomzawadzki commented on #2115
@KKaras169169 will check the clang build size to determine if the VMs storage should be increased, or there is another issue present.

[2021-08-24 15:08] tomzawadzki commented on #2102
[Bug scrub] The fix has been merged and no failure should occur after rebases. Let's wait couple days and close the issue if that's the case.

[2021-08-24 15:23] tomzawadzki commented on #2114
[Bug scrub] Steps we can do to resolve this issue
1) Move the dd above even setup.sh tests
2) Before dd, skip devices with non-SPDK GPT
3) Add clean up to `test/bdev/blockdev.sh` on test failure

[2021-08-24 15:27] tomzawadzki commented on #2118
[Bug scrub] The actual failure occurs due to allotment of hugepages
[code]

[2021-08-24 15:41] tomzawadzki commented on #1917
[Bug scrub] https://review.spdk.io/gerrit/c/spdk/spdk/+/9074 Patches in the series are going through review, including tests covering the scenario.

[2021-08-24 15:43] tomzawadzki commented on #2096
[Bug scrub] The issue should be resolved with patch in review https://review.spdk.io/gerrit/c/spdk/spdk/+/9193. The issue can be closed once merged.

[2021-08-24 16:02] mikeBashStuff commented on #2060
Small update: I've built three versions of the stock kernel: 5.13.5, 5.13.6 and 5.13.10 (matching versions of the fedora's kernel builds that were used inside the CI's VMs before the downgrade). I reverted 8bb27faff6 and 29907b7240 and then run entire `/test/nvmf/nvmf.sh --transport=tcp --iso` suite in the loop.  After couple of hours I saw only one failure under 5.13.10 which matched the issue he

[2021-08-24 20:13] peluse opened #2127 "[ubuntu18-vg-autotest] Tests don't appear to start"
0:02:19.204  + vagrant_dir_root=/home/vagrant/spdk_repo
00:02:19.204  + vagrant_dir_spdk=/home/vagrant/spdk_repo/spdk
00:02:19.204  + cd ubuntu1804-libvirt
00:02:19.204  + trap 'vagrant destroy -f' SIGTERM SIGINT EXIT
00:02:19.204  + vagrant ssh -c 'uname -a'
00:02:26.124  + vagrant destroy -f
00:02:32.906  ==> default: Removing domain...
00:02:33.608  Build step 'Execute shell' marked build as fa

[2021-08-24 20:14] spdkci commented on #2127
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_56845.html

[2021-08-24 20:18] peluse opened #2128 "[nvmf_multipath] The log file try.txt had the first few seconds logs. We don't know if the test succeeded or failed."
00:11:43.403  [2021-08-24 21:38:00.129892] app.c: 540:spdk_app_start: *NOTICE*: Total cores available: 1
00:11:43.403  [2021-08-24 21:38:00.446005] reactor.c: 936:reactor_run: *NOTICE*: Reactor started on core 0
00:11:43.403  [2021-08-24 21:38:00.446092] accel_engine.c:1005:spdk_accel_engine_initialize: *NOTICE*: Accel engine initialized to use software engine.
00:11:43.403  Running I/O for 10 sec

[2021-08-24 20:19] spdkci commented on #2128
Another instance of this failure. Reported by @peluse. log: https://ci.spdk.io/public_build/autotest-per-patch_56847.html

[2021-08-25 00:11] gaowayne commented on #2094
thank you so much. Jim, this is very clear for me now. 👍

[2021-08-25 05:36] optimistyzy commented on #2084
BUG is fixed. The work of @peluse 's patch is used to improve the code.  So Remove the bug label now, because we will not this kind of coredump again.

[2021-08-25 05:57] ChengqiangMeng opened #2129 "[SPDK_TOP] LeakSanitizer: detected memory leaks"
# Bug report
run `$SPDKDIR/build/bin/spdk_top` the error will happen:
[code]

## Steps to Reproduce
1. start a target:
[code]
2. run `$SPDKDIR/build/bin/spdk_top`.

## Context (Environment including OS version, SPDK version, etc.)

SPDK version: 8c51fe813493caafdf851db6cda67895f7636373

[2021-08-25 06:43] optimistyzy commented on #1863
This patch may be helpful:  https://review.spdk.io/gerrit/c/spdk/spdk/+/9284  Today when I am debugging uring related code, and realized there may be similar issue when using posix.  I think that in the test script, we used kernel initiator. And usually kernel will use all the cpu cores to do the connection first. So there will be more than 32 connections. And in our polling, every time we can onl

[2021-08-25 07:06] spdkci commented on #2081
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_56881.html

[2021-08-25 08:33] JiangMaox commented on #2126
This issue doesn`t reproduce while ubuntu20.04 as a VM.

[2021-08-25 08:40] ChengqiangMeng commented on #2129
In addition, spdk_top will crash. I think this may be another issue.

[2021-08-25 09:20] optimistyzy commented on #2113
@wawryk If you do not enable adq,will it have same error?

[2021-08-25 10:03] KKaras169169 commented on #2129
I think this is related to this [series](https://review.spdk.io/gerrit/c/spdk/spdk/+/8552) - "in_interrupt" has been added to the lib/event/app_rpc.c and is being sent as a part of "framework_get_reactors" RPC call, but spdk_top does not account for this change yet and crashes/errors out. After we merge the [second patch](https://review.spdk.io/gerrit/c/spdk/spdk/+/7911/14), the problem should be

[2021-08-25 10:14] rafalste commented on #2121
Hi @USTCqzy,
I took it for a ride with gdb and found an interesting behavior.
The situation in my environment is that OCF cache takes very long time to setup and after that it finishes with a metadata error, indicating that writes to the cache device failed. So, I reproduced your error just by setting up an OCF cache with pmem bdev as cache device.
That long delay seems to be in the `module/bdev/p

[2021-08-25 10:30] USTCqzy commented on #2121
@rafalste
Thanks very much for your time!
Your founding is really interesting.
Let me add something more:
In [NHC](https://www.usenix.org/conference/fast21/presentation/wu-kan) work, it seems PMem worked well as cache in open cas linux.
![image](https://user-images.githubusercontent.com/49378451/130774161-95d86232-0b6a-4427-98bd-8b225d371e9d.png)

I also believe it might not an ocf problem, but I

[2021-08-25 11:50] wawryk commented on #2113
@optimistyzy when adq is not enabled, then all test cases pass correct.

Found some extra logs:
[code]

[2021-08-25 14:42] mikeBashStuff commented on #2114
Series ready for review: https://review.spdk.io/gerrit/c/spdk/spdk/+/9291

[2021-08-25 15:59] adamagniv commented on #2015
@jonathan-teh you got mixed between #2105 and #2015 in the commit message :P

[2021-08-25 16:51] adamagniv commented on #2105
I wanted to know what we see in tcpdump when connecting to 8 drives using nvme-cli vs. using spdk_bdev. To make things easier, I created 1 io queue per bdev, so it will be more readable.
[code]
To open the pcp files I use wireshark, use `frame.cap_len == 322 || nvme-rdma.cmd.fctype == 0x01` to filter out the connection and disconnection messages.

all the files are here: [pcap.zip](https://github.

[2021-08-25 16:52] spdkci commented on #2118
Another instance of this failure. Reported by @mkenguva. log: https://ci.spdk.io/public_build/autotest-per-patch_56953.html

[2021-08-26 05:19] uubs opened #2130 "bdevpef module, when set "-o 4096 -w verify", only set block content 0, may not good for perf test"
# Bug report

run in gdb:
[code]
debug in gdb:
[code]
due to all num_blocks=1, so all block content is set to 0. It may result in error performance test.
## Expected Behavior
not generate 0, but other value

## Current Behavior
only generate block which content is all 0.

## Possible Solution
change code to
281			while (inner_offset < data_block_size) {
282				*(uint32_t *)buf = offset_blocks + 1;

[2021-08-26 23:52] jimharris opened #2131 "bdev nvme module does not check cdw0 bit 0 when handling abort completions"
The bdev nvme module allows the user to specify the action to take when the nvme driver reports a timeout - NONE, ABORT, RESET.

If ABORT is selected, we currently check the completion status of the abort - if it completed with error status, we escalate to a reset.  But the controller is also allowed to complete the abort command with no error status, but set cdw0 bit 0 to 1.  This indicates that

[2021-08-27 01:44] ChengqiangMeng opened #2132 "[SPDK_TOP]: AddressSanitizer: heap-buffer-overflow"
## Current Behavior

[code]
## Steps to Reproduce

1. Start a target
2. Run spdk_top.
3. Switch to CORES tab
4. Switch a core which "Intr" status is yes. Then press Enter twice.

## Context (Environment including OS version, SPDK version, etc.)

SPDK version : 3c701ad95968fd6725e779d523f1a9f34a979190

[2021-08-27 03:39] wyy007 opened #2133 "【spdk_nvmf_poll_group_remove】 req residue in sgroup-> Queued after nvmf_qpair been destroyed"
# Bug report

In our application scenario，we use nvme_qpair and nvmf_qpair to establish network channels. When the channel is disconnected(Network failure or artificial destruction of nvme_qpair), nvmf_qpair will be destroyed. The stack when the problem occurs is shown below.
Thread 9 (Thread 0x7f5bcd400700 (LWP 11537)):
#0  0x00000000006af8b5 in spdk_nvmf_poll_group_remove (qpair=qpair@entry=0x7f

[2021-08-27 06:10] USTCqzy opened #2134 "OCF often stuck when using cores over 16"
# Bug report

OCF often stuck when core num over 16 (not 100%).
It is hard for me to find out the reason, for it is just **stuck forever**.

## Expected Behavior

OCF works.

## Current Behavior

OCF often stuck when core num over 16 (not 100%).
PS: `stuck` meams it seems like running, but never end, so you can imagine there are some messages print successfully before `Running I/O for xxx seconds.

[2021-08-27 09:04] ufo19890607 opened #2135 "Bug for vhost_controller_set_coalescing RPC"
# Bug report
Hi, guys.  I recently found an obvious bug when testing vhost_controller_set_coalescing RPC.  We hope to reduce the irq costs when enabling this feature, but in fact, set_coalescing RPC will limit spdk to send irqs even if IOPS(req_cnt) does not reach the irq_threshold.

## Expected Behavior
IOPS for fio test in the VM should not be limited if IOPS does not reach the io_threshold.

##

[2021-08-27 12:37] ksztyber opened #2136 "[nvmf_rpc] segmentation fault while detaching controller"
After sending `bdev_nvme_detach_controller`, the target app was killed with `SIGSEGV`. It appears that this happened, because the qpair got deleted before it was connected.

## Link to the failed CI build
https://ci.spdk.io/results/autotest-per-patch/builds/57112/archive/nvme-cmb-pmr-vg-autotest/build.log
https://ci.spdk.io/public_build/autotest-per-patch_57112.html

## Execution failed at
[code]

[2021-08-28 00:59] MattDumm commented on #2055
@AlekseyMarchuk - Sorry for the delays. I finally got my equipment back working and was able to do some testing with and without the two patches you referred to above (8963 and 8570). In the days since I last worked with this, we migrated our source code from a 20.10-base to a 21.04 base. So this followup testing is on the (modified) 21.04 spdk code base.

Results so far, after couple hours of bea

[2021-08-30 02:24] ChengqiangMeng commented on #2080
@tomzawadzki  I have tested the [patch]( https://review.spdk.io/gerrit/c/spdk/spdk/+/9243), and I think this approach is feasible.

[2021-08-30 07:43] optimistyzy commented on #2113
@wawryk You try to enable the ADQ in the target side, right?
If you try to enable adq in the target side.
1 I think that firstly, you need to enable: enable_placement_id setting in your rpc, e.g.,  sock_impl_set_options --enable_placement_id=1
2  For using NVMe-of tcp,  I did not see use: "sudo ./scripts/rpc.py nvmf_create_transport -t tcp -u 8192 -m 4 -c 0".  So what's the socket priority setting

[2021-08-30 07:57] changpe1 commented on #2135
https://github.com/spdk/spdk/commit/ff1863f428f9174ab625bcdaa5c0649f3d5b370a#diff-6d59a554ed7cf417e690a668d061c53c198179792fd068474bb94edf9b8f73ae, this is the initial commit which introduced the coalescing feature, so the bug was introduced during the code refactoring.

I'm OK to restore the code to the original implementation, but I think it would be nice just removed the IOPS setting,  very hig

[2021-08-30 08:01] changpe1 commented on #2135
For 1) it's a bug, for 2) maybe a more robust algorithm is required, existing implementation is very easy, and also cause high jitter in practice.

[2021-08-30 08:13] ufo19890607 commented on #2135
Hi ChangPeng,
This bug has existed since  vhost_controller_set_coalescing  feature was merged, rather than the code refactoring. It's just that it is easy to fix the bug with the earlier code.

I do not get your point?

[2021-08-30 08:27] ufo19890607 commented on #2135
I think existing implementation for vdev_worker is good, but session_vq_io_stats_update and session_vq_io_stats_update should handle all the virtqueue of a target spdk_vhost_session. Or else we will miss io requests on other virtqueues.

[2021-08-30 08:49] KKaras169169 opened #2137 "[spdk_top] Unnecessary whitespace in threads pop-up"
# Bug report

spdk_top prints additional white space inside threads pop-up.

## Current Behavior

![image](https://user-images.githubusercontent.com/49611974/131312827-fe14477e-d56f-4cef-93d9-eab96f4ed7ae.png)
Below pollers there is additional whitespace.

## Steps to Reproduce

1. launch SPDK target
2. run ./build/bin/spdk_top
3. enter THREADS tab
4. choose a thread record and press ENTER

[2021-08-30 10:30] mikeBashStuff commented on #2060
@jimharris @benlwalker Sure, will try to get all this data this week.

[2021-08-30 14:43] jimharris commented on #2135
Hi,

This feature was always intended to only operate on a per queue basis.  I'm concerned about doing this at a device level for a couple of reasons:

1) if VM has 2 queues, 1 is heavily loaded with background I/O and 1 with high priority latency sensitive I/O, then enabling coalescing at device level will impact the latency sensitive queue unnecessarily
2) in the future, especially for vhost-blk

[2021-08-30 23:37] MattDumm commented on #2055
This fix is subject to a race condition - the ctrlr pointer that we want to use in _nvmf_transport_qpair_fini_complete() may have already been freed.
In _nvmf_ctrlr_free_from_qpair(), if the qpair being removed is the last one in ctrlr->qpair_mask, it first sends a _nvmf_ctrlr_destruct() message (which will free the ctrlr ptr), then sends a _nvmf_transport_qpair_fini() message, which will result i

[2021-08-31 01:23] optimistyzy opened #2138 "[nvmf-tcp-phy-autotest ] Cannot unload nvme related kernel modules."
# CI Intermittent Failure

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/57178/archive/nvmf-tcp-phy-autotest/build.log

## Execution failed at

00:18:49.702   09:19:19	-- nvmf/host/perf.sh@48 -- # sync
00:18:49.712   09:19:19	-- nvmf/host/perf.sh@49 -- # /var/jenkins/workspace/nvmf-tcp-phy-autotest/spdk/scripts/rpc.py nvmf_delete_subsystem nqn.2016-06.io.spdk

[2021-08-31 01:24] spdkci commented on #2138
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_57178.html

[2021-08-31 02:28] changpe1 commented on #2133
I saw your SPDK version is 20.07, have you checked the latest code in SPDK for this part? we will process the queued request in _nvmf_qpair_destroy()

[2021-08-31 02:29] changpe1 commented on #2131
Patch has been merged, so closing it now.

[2021-08-31 02:29] #2131 closed

[2021-08-31 03:49] ufo19890607 commented on #2135
Hi Jim

I've done a simple test: run 2 VMs and each one has a certain vhost_blk target with NVMe. One VM runs fio with heavy workload and the other runs fio with latency sensitive workload.  I open coalescing  for heavy loaded vhost_blk target, but  fio with latency sensitive workload runs normal.  I think vhost_controller_set_coalescing  RPC is intended to limite IO speed on a vhost_blk target  r

[2021-08-31 06:13] optimistyzy commented on #2126
@JiangMaox the kernel version is 5.1.1, this kernel version is old may have bugs.

[2021-08-31 06:15] spdkci commented on #1863
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_57235.html

[2021-08-31 07:19] wawryk commented on #2113
@optimistyzy
I try to enable it on both, target and initiator side.
In tests presented above, I have set:
sock_impl_set_options:
[code]
bdev_nvme_set_options:
[code]
nvmf_set_config:
[code]
Transport settings:
[code]

[2021-08-31 07:57] JiangMaox commented on #2126
Thanks, I will check the impact of kernel version.

[2021-08-31 08:46] spdkci commented on #2102
Another instance of this failure. Reported by @matthewburbridge. log: https://ci.spdk.io/public_build/autotest-per-patch_57196.html

[2021-08-31 09:53] KKaras169169 commented on #2115
Tested this locally (used "watch du -sh spdk/" command) and here are the results:

before build - 307 MB

with the series after build - 7,4 GB
without my series after build - 744 MB

Something is bloating the build to this enormous size. I am going to keep testing it to find the source.

[2021-08-31 12:21] mikeBashStuff commented on #2060
@jimharris I am afraid I can't reproduce this issue with the kernel target. Testing against 5.13.5 with the following:

Using model for `lsblk` lookup instead of serial since there's no convenient way to use `attr_serial` under `nvmet` (see comments in the patchset linked below).
[code]

With routines introduced here https://review.spdk.io/gerrit/c/spdk/spdk/+/8962 I run the following:
[code]
On a

[2021-08-31 14:22] antroseco commented on #1118
FIO now redirects `stdout` and `stderr` to `/dev/null` instead of closing them (see https://github.com/axboe/fio/commit/d6096098275fb0bc4331b40a6d6f6f82d11c7fc1), so daemon mode can be re-enabled (with a version check).

[2021-08-31 14:42] jimharris commented on #1118
Thanks @antroseco!

[2021-08-31 16:11] jimharris commented on #2111
Patches merged.

[2021-08-31 16:11] #2111 closed

[2021-08-31 16:12] jimharris commented on #2107
This doesn't appear to be an SPDK-related issue.  Feel free to ask more questions on this issue thread though.

[2021-08-31 16:12] #2107 closed

[2021-08-31 18:22] jimharris commented on #2135
Hi Wind,

Could you provide more details on this test?  If the IRQ delay is set to 500us, and the NVMe latency for a random read is 100us, then if coalescing gets enabled for the latency-sensitive queue, it would certainly experience a performance delay, since the interrupts would be delayed much longer than the media latency.

-Jim

[2021-09-01 01:50] Comphix commented on #2106
@yidong0635 , please take a look at this issue and we will need first to reproduce it in our own environment. Thanks, Gang.

[2021-09-01 01:54] jimharris commented on #2106
I agree that this issue probably only happens with memory that is allocated for the first time.  The kernel is supposed to zero any hugepages before mapping them into the DPDK process, so zeroing the original allocation isn't required.  DPDK and hence SPDK rely on this behavior.

@yidong0635 is going to try to reproduce this here.

[2021-09-01 01:58] jimharris commented on #2105
@ZivHirsch13 - anything more needed here before we can close this issue?

[2021-09-01 02:00] jimharris commented on #2103
@benlwalker confirmed with Dan Williams (Linux kernel pmem maintainer) that you cannot pin persistent memory in fsdax mode.  devdax is required for this use case.

[2021-09-01 02:00] #2103 closed

[2021-09-01 02:06] jimharris commented on #2085
Patch merged, so closing this issue.  @suruifeng, the general principle of the patch should apply to 19.01, but will require you to do some manual backporting.

[2021-09-01 02:06] #2085 closed

[2021-09-01 02:12] suruifeng commented on #2085
Thanks，I'll try it.

[2021-09-01 03:16] yidong0635 commented on #2106
Tried this for several times , I can reproduce this on centos 3.10.0-1160.31.1.el7.x86_64 with error:
`Failed to write to /dev/nvme-fabrics: Invalid argument.`
@jimharris @Comphix   Does this kernel version support tcp transport?

[2021-09-01 03:18] Comphix commented on #2106
@ZivHirsch13 ， could you confirm the kernel version for this issue?

[2021-09-01 03:26] changpe1 commented on #2106
@yidong0635 according to Jim's comments, you may write a simple test application to verify the behavior of spdk_dma_zmalloc(), it's better to know the kernel version when this issue happened.

[2021-09-01 03:44] gaowayne commented on #2103
@jimharris thank you so much Jim, this is very clear conclusion.

[2021-09-01 03:49] ufo19890607 commented on #2135
Hi Jim
Below is the steps I conducted.
1. Create 2 VMs that has its 16 vcpus 32G memory and its own vhost_blk target(Intel P4510 NVMe) with 4 virtqueues.
[code]
2. Enable coalescing feature for the second VM
[code]
3. Run latency sensitive workload on the first VM and run heavy workload on the second VM.
[code]
4. Disable coalescing feature for the second VM
[code]
5. Re-run test for step 3.

The

[2021-09-01 04:03] ufo19890607 commented on #2135
We can see that enabling coalescing does not make the sensitive latency worse.

[2021-09-01 05:12] changpe1 commented on #2135
Thanks @ufo19890607 .  There is one comment from me(latest one), otherwise it's OK.

[2021-09-01 06:06] #2105 closed

[2021-09-01 06:15] changpe1 commented on #2135
@jimharris I think we should remove the IOPS limitation in vhost, it doesn't make sense to add delayed response in this way, if users wanted to limit each VM's IOPS, they can use the QoS feature in the bdev layer.  The coalescing feature can take effect when `used_req_cnt` hit a threshold e.g: 50% of the queue depth or every 10 ms set by users.  What do you think?

[2021-09-01 06:17] ZivHirsch13 commented on #2106
@jimharris - you were right not to revert.
I encountered another issue that was caused because rte_zmalloc_socket() returned non-zeroed memory.
This time I had a PANIC from DPDK in rte_eal_remote_launch() (not related to TCP).
Full path that led to the PANIC:
`spdk_app_start --> app_setup_env --> spdk_env_init --> rte_eal_init --> rte_service_start_with_defaults --> rte_service_lcore_start --> rte

[2021-09-01 06:17] ksztyber commented on #2136
Patch merged.

[2021-09-01 06:17] #2136 closed

[2021-09-01 07:18] yidong0635 commented on #2106
Found a nit.  the patch d20f418 has been merged, but the spdk_zmalloc  in test/common/lib/test_env.c keeps the old one with memset.  That maybe leads to unit test can't  discovery any issues about the change.

[2021-09-01 07:39] #2096 closed

[2021-09-01 08:09] mikeBashStuff commented on #1863
@peluse Sure, will try it out.

[2021-09-01 09:07] mikeBashStuff commented on #2060
@jimharris Regarding the https://www.spinics.net/lists/linux-block/msg67664.html I am afraid that I can't really pinpoint which patch I should look at. The only patch that I find matching what we are dealing here is this https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=340e84573878b2b9d63210482af46883366361b9 - the problem is that this piece of code is already in 5.13.

[2021-09-01 10:54] KKaras169169 commented on #2137
Quick fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/9360

[2021-09-01 11:51] KKaras169169 commented on #2132
Possible fix: https://review.spdk.io/gerrit/c/spdk/spdk/+/9363

[2021-09-01 13:48] mikeBashStuff commented on #1863
@peluse Since https://review.spdk.io/gerrit/c/spdk/spdk/+/9171 got recently merged I just rebuilt the SPDK on top of the latest master and re-run the tests (without lowering the `iodepth` param): It's been running for almost 6 hours, 235 iterations as of now, and no failure.

[2021-09-01 14:54] jimharris commented on #1863
That's interesting!  Let's keep it running but sounds like this issue is resolved.

@peluse, @optimistyzy  - I suspect there's something about completing the SW operations inline (instead of a poller) that was corrupting the nvmf dif calculations.  I'd feel better if we could pinpoint exactly why deferring the completions to a poller fixed this issue.

[2021-09-01 14:57] peluse commented on #1863
@jimharris agreed I'm not a fan of "oh well, it seems to be working" :). Lets let is run for a while longer and make sure this appears to either fix or workaround it but not close it until I can zero in on it.  If this keeps working then it will be a pretty narrow code path to debug which would be GREAT!

[2021-09-01 15:00] jimharris commented on #2106
The unit tests are correct.  patch d20f418 removed the memset because DPDK already ensures the buffer was zeroed.  In the unit tests we have no such guarantee, so we must still memset.

[2021-09-01 15:03] rafalste commented on #2120
Hi @USTCqzy,
I'm investigating this Pass-Through performance and my results are much better than yours. I'm not sure if I messed something up in my setup that is not reflecting yours or maybe you just misconfigured something.
In general the PT cache mode is intended to bypass the cache device but it will never be as fast as direct IO to raw core device as there is additional SPDK block layer on to

[2021-09-02 00:32] ChengqiangMeng commented on #2132
Hi , @KKaras169169 I tested the path, and the bug has been fixed. Thank you.

[2021-09-02 03:03] changpe1 commented on #2050
I'm going to close this issue, feel free to open it if you find something wrong in SPDK.

[2021-09-02 03:03] #2050 closed

[2021-09-02 04:05] changpe1 commented on #2138
[Bug Scrub] maybe the RDMA driver is using the fabric module, so let's keep it open for a while.

[2021-09-02 04:38] changpe1 commented on #2086
[Bug Scrub] @Maciej-Szwed any progress on this issue? thanks.

[2021-09-02 04:41] changpe1 commented on #2130
[Bug Scrub] @uubs thanks for reporting, you may use `*(uint32_t *)buf = offset_blocks + inner_offset;` here.

[2021-09-02 04:41] changpe1 commented on #2128
[Bug Scrub] @shuhei-matsumoto could you take a look? thanks.

[2021-09-02 04:42] changpe1 commented on #2127
[Bug Scrub] @karlatec can you take a look? thanks.

[2021-09-02 04:57] uubs commented on #2130
that's a good idea. i will change it.

[2021-09-02 05:39] shuhei-matsumoto commented on #2128
I read the log https://ci.spdk.io/results/autotest-per-patch/builds/56847/archive/nvmf-phy-autotest/build.log in detail.

The test determines success or failure by grepping failover count in try.txt.
bdevperf could write error log into try.txt only for the first 700 miliseconds and included only one failover.
Storage was full and failed to write data to file?

The end of try.txt was

try.txt shoul

[2021-09-02 05:49] shuhei-matsumoto commented on #2128
I renamed the title and added the infrastructure label for now.

[2021-09-02 06:41] dong-liuliu commented on #2135
Coalescing is one optimization for high concurrent workload. Worse latency for lighten workload is the side-effect of coalescing.
So it met expectation, was not a bug.

[2021-09-02 06:55] ufo19890607 commented on #2135
@dong-liuliu @changpe1
Hi, dong, I don't think so. If enabling coalescing has to effect latency sensitive workload, we cannot use this feature any more.  Besides, We still want to use this feature with IOPS limtation. Actually, I still do not find any bad effects with my fixed patch.
Thanks, Wind.

[2021-09-02 07:53] #2132 closed

[2021-09-02 09:49] mikeBashStuff commented on #2138
I think the issue described in the title is a red herring here - the loop which attempts to unload `nvme-*` modules from the kernel should iterate for max 20 times, here it didn't even reach the half of that. The job was eventually hit by a timeout but at the beginning of the log you can see that there were 4 minutes lost on preparing the job (from which 3 minutes got wasted on fetching the actual

[2021-09-02 10:05] mikeBashStuff opened #2139 "Cinder's SPDK driver doesn't work with current devstack master"
Currently, test suite in `./test/openstack/run_openstack_tests.sh` is not passing under environment prepared from latest devstack's master branch (see `./test/openstack/install_devstack.sh`). The first test from the suite:
[code]
seems to get stuck on each run. On the kernel side this can be seen spamming the log:

[code]

Eventually the test fails like so:

[code]

Here's what the test manages to

[2021-09-02 11:26] spdkci commented on #2128
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_57418.html

[2021-09-02 11:32] ksztyber opened #2140 "[scheduler/load_balancing] busy threads found to be moved across cores"
# CI Intermittent Failure
Seems like the test failed, because on of the threads (thread0) was scheduled on two cpus (cpu2 and cpu3), while it was expected to be running on a single one. It only happens in the first sample.
[code]

## Link to the failed CI build

https://ci.spdk.io/results/autotest-per-patch/builds/57404/archive/nvme-phy-autotest/build.log
https://ci.spdk.io/public_build/autotest-p

[2021-09-02 11:33] spdkci commented on #2140
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_57404.html

[2021-09-02 12:23] antroseco opened #2141 "nvmf/vfio-user: map_admin_cmd_req() does not check the PSDT field properly"
# Bug report

## Expected Behavior

The NVMe 2.0a standard states that

Therefore, `map_admin_cmd_req()` should verify that the PSDT field is set to 0 (signaling that PRPs are used), and fail gracefully otherwise.

## Current Behavior

[code]

This is currently only checked with an `assert`, which is optimised out in release builds. Hence, `vfio_user_map_cmd()` will happily call `nvme_cmd_map_sgls

[2021-09-02 13:04] mikeBashStuff commented on #1863
Things are looking food - 1080 runs later, no failure.

[2021-09-02 13:27] spdkci commented on #2041
Another instance of this failure. Reported by @ksztyber. log: https://ci.spdk.io/public_build/autotest-per-patch_57441.html

[2021-09-02 13:46] Comphix commented on #2057
Working on patch https://review.spdk.io/gerrit/c/spdk/spdk/+/9377. Basically it is a continuous work based on Shuhei's above patch.

[2021-09-02 14:00] peluse commented on #1863
Great thanks!  Lets go into next week, then I'll start digging in to see if we can find out why this change is fixing/masking the root cause.

[2021-09-02 14:20] kevinnikki opened #2142 "Logging error 19 when running nvme discovery after buliding a spdk-tcp-nvmf target"
# Bug report

I had created a nvme-oF target using tcp as transport, nvmf target and Initiator are on the same host,but when i run 'nvme discover', the results are"failed to add controller, error 19"

## Expected Behavior

After running 'nvme discover',results should be like this:

root@pve:~# nvme discover -t tcp -a 127.0.0.1 -s 4420 -C none

Discovery Log Number of Records 1, Generation counter

[2021-09-02 14:27] peluse commented on #2142
@kevinnikki can you please fill out the template? We need to know all of the requested details including and especially detailed steps to reproduce and context.  A shorter title would be a little better too :)

[2021-09-02 15:07] spdkci commented on #1863
Another instance of this failure. Reported by @mikeBashStuff. log: https://ci.spdk.io/public_build/autotest-per-patch_57453.html

[2021-09-02 15:09] kevinnikki commented on #2142
Now i have fill it, thanks for reminding

[2021-09-02 15:14] spdkci commented on #2128
Another instance of this failure. Reported by @jlevon. log: https://ci.spdk.io/public_build/autotest-per-patch_57452.html

[2021-09-02 17:37] jlevon opened #2143 "unregistered pollers are never reaped in interrupt mode"
As of current SPDK master, there's nothing that ever reaps
SPDK_POLLER_STATE_UNREGISTERED pollers when in interrupt mode.

All unregistered pollers only get cleaned up when the thread exits. This doesn't matter much, but it did briefly confuse me in spdk_top.

We could probably do so in spdk_thread_poll() when in_interrupt ?

[2021-09-02 17:38] jimharris commented on #2143
@dong-liuliu could you take a look?

[2021-09-02 22:08] jimharris commented on #2060
I agree @mikeBashStuff, everything in this thread is already upstreamed.  If you're convinced that 5.14 is stable, could you bisect between 5.13 and 5.14 so we can know for sure which commit fixed this?

[2021-09-03 00:12] spdkci commented on #2128
Another instance of this failure. Reported by @jimharris. log: https://ci.spdk.io/public_build/autotest-per-patch_57422.html

[2021-09-03 01:34] changpe1 commented on #2141
thanks here is the fix patch https://review.spdk.io/gerrit/c/spdk/spdk/+/9383

[2021-09-03 03:36] USTCqzy commented on #2120
Thx for your ans!!!

"as there is additional SPDK block layer on top of it and also OCF reads through metadata (for each request) to find out if corresponding cache line is not mapped into the cache"
Why do OCF **read** reqs have to access metadata in pt mode? Such reqs will not influence cache arrangement even when some of them are also in cache.

"Please run a test first with OCF in PT cache mod

[2021-09-03 04:36] dong-liuliu commented on #2143
Hi, Jhon
Previously when drafting interrupt patch set, I've set up a 1sec timer poller to recycle unregistered pollers (https://review.spdk.io/gerrit/c/spdk/spdk/+/5770 ).
It was rebased out. Since at that time, even unregistered pollers were still there, they were invisible to users directly, so just thought it didn't matter.

But you are right, with spdk_top and related RPC, they should be recyc

[2021-09-03 04:37] yidong0635 commented on #2106
I am going to keep both functions in env.c  and using memcmp to check the spdk_zmalloc, and rename the former function
naming spdk_zmalloc_memset without changing any paramerters, that I can loop comparation with any times , how do you think?

[2021-09-03 04:58] #2110 closed

[2021-09-03 05:31] spdkci commented on #2046
Another instance of this failure. Reported by @optimistyzy. log: https://ci.spdk.io/public_build/autotest-per-patch_57492.html

[2021-09-03 06:17] dong-liuliu commented on #2143
Restore and revised it -- https://review.spdk.io/gerrit/c/spdk/spdk/+/5770