[2019-11-06 22:19] shuhei-matsumoto commented on #1036
The issue is that when processing response PDU, we have expected iSCSI task holds request PDU and accessed it. However request PDU is not held in iSCSI task and freed immediately before submitting iSCSI task to SCSI layer. So this is not the issue only for hotplug. You couldn't get any information though.

[2019-11-06 22:45] jimharris commented on #839
I noticed that all of these failures are from running on VMs.  We run this test on every system, and it's never hit on a physical system.

I think we're hitting a CI-related issue, where a thread gets scheduled out just long enough that it results in the 1 second timeout.

I don't really see a need for this 1 second timeout.  Just do the pthread_join() to wait for the server thread to complete.  I

[2019-11-06 22:52] jimharris commented on #839
https://review.gerrithub.io/c/spdk/spdk/+/473490

[2019-11-06 22:56] jimharris commented on #991
We've disabled the opal tests for now.  There are more changes coming to the opal functionality in general as well.  Closing this issue - we can reopen it again in the future if it appears after updated opal module and tests.

[2019-11-06 22:56] #991 closed

[2019-11-06 23:47] jimharris commented on #1035
This is actually a duplicate of #1017.  If you scroll further up in the log from what was posted here, you'll see an exact match of #1017

Closing this issue, and will copy this log URL to #1017

[2019-11-06 23:47] #1035 closed

[2019-11-06 23:47] jimharris commented on #1017
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_48911.html

[2019-11-06 23:47] jimharris commented on #1017
Updating the title of this issue as well to make it easier for people to match it to intermittent failures.

[2019-11-07 00:17] jimharris commented on #1003
I think we should consider adding these to the asan_suppression_file (test/common/autotest_common.sh).  We are already suppressing other leaks from fio, and those could be causing the indirect leaks getting reported here.

https://review.gerrithub.io/c/spdk/spdk/+/473495

It would be nice to get these leaks fixed in upstream fio at some point too, but that's lower priority in my opinion.

[2019-11-07 00:22] spdkci commented on #1003
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49046.html

[2019-11-07 00:34] jimharris commented on #990
Patches from @dong-liuliu have been merged.  Thanks!

[2019-11-07 00:34] #990 closed

[2019-11-07 00:39] jimharris commented on #993
@Donaim @pawelkax Can we modify the test then to ensure this issue doesn't occur?  But let's keep this issue open even if the test is modified, so that it gets tracked once the patch series mentioned is ready and merged.

[2019-11-07 00:45] jimharris commented on #1025
I think this is another one of the CI scheduling problems (like the rpc_client_test #839 issue).

I'd suggest that we change this test to:
1) just do a write test for 4 seconds, without running in the background
2) add a new test that runs for 120 seconds in the background, waitforlisten, bdev_ocf_get_stats and then just kill bdevperf

@Donaim - what do you think?  Can you take a look and create a

[2019-11-07 01:14] optimistyzy commented on #1023
https://review.gerrithub.io/c/spdk/spdk/+/472999 this is merged, @shuhei-matsumoto will also add the unit test, so close this issue. If we can detect it again, we can reopen it.

[2019-11-07 01:14] #1023 closed

[2019-11-07 01:50] jessehui commented on #1002
Are you using a VM? I can't reproduce under a physical server.

[2019-11-07 02:26] optimistyzy commented on #1021
@Seth5141 Any detailed log information of this issue.

[2019-11-07 02:47] optimistyzy commented on #1030
@shuhei-matsumoto This issue is only related with VPP? I mean that it cannot be reproduced by kernel TCP/IP stack?

[2019-11-07 04:31] jimharris commented on #1030
These failure might be with the VPP TCP stack, but it's failing during the iSCSI hotplug test where we have some other intermittent failures currently.  So I would suspect this is iSCSI hotplug related, not VPP related.

[2019-11-07 05:59] wawryk commented on #1037
It works, thanks.

[2019-11-07 05:59] #1037 closed

[2019-11-07 06:49] glodfish-zg commented on #994
@pawelkax I revised the patch. And it seems this error is another issue but I am not sure.  So, please verify this patch again and see if we meet this error again. Many thanks.

[2019-11-07 06:50] clicx opened #1039 "Possible nvmf tgt issue in spdk 19.10"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior
work normally.

## Current Behavior
Happen issue when connecting:
/root/spdk/lib/nvmf/rdma.c:1032:spdk_nvmf_rdma_qpair_initialize: *ERROR*: rdma_create_qp failed: errno 22: Invalid argument
/root/spdk/lib/nvmf/

[2019-11-07 06:58] karlatec commented on #1002
Physical system.

100% sure I built it after I did git fetch.

[2019-11-07 07:10] shuhei-matsumoto commented on #1036
Sorry I was wrong. Ziye corrected me offline. I will read the log and code more.

[2019-11-07 07:16] jessehui commented on #1002
I think it might be related with IOMMU. I don't think I have that enabled. But it seems you do. I will take a try.

[2019-11-07 07:18] wmalikow commented on #1008
Sure, I will add this to README.

[2019-11-07 07:19] karlatec commented on #1002
Yup, it is enabled

[code]

[2019-11-07 07:22] shuhei-matsumoto commented on #1036
I was wrong. Ziye corrected me, so please forget the above comment. By the way, this was caused on iSCSI target + POSIX.

[2019-11-07 08:18] karlatec commented on #1039
Hey @clicx
Can you post more details? How many hugepages do you have allocated?
Is this done on a loopback connection or are these two physical servers?

[2019-11-07 08:40] shibingxun opened #1040 "Performance question: create lvol store command cost more than 5 senconds"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

## Current Behavior

When using rpc.py script to create a volume store, the "create lvol store" command need more than 5 seconds to give out the response. We tried several systems, the same behavior.
The SPDK

[2019-11-07 09:26] jessehui commented on #1002
After IOMMU and VFIO enabled, I still can't reproduce this error. I think what you receive at `step 9` is pretty wierd. If you take a look at the code, before revert is done, the state is always busy. And thus it should return exactly the same error as `step 7`.
And even if you kill the target before revert is done, you should receive COMMAND SEQUENCE ERROR which is shown in my previous post.
Opal

[2019-11-07 09:28] clicx commented on #1039
I set nr_hugepage to 40000
I'm using two physical servers with 2 RDMA NICs and several NVMes
The above is one of its behaviors, I will check more as well.

I was using 19.07 to test server throughput, but I can't get nvme raid0 to work, after upgrade to 19.10, I can get raid0 work, however I got new nvme/nvmf issues, here is more:
nvme_pcie.c:1053:nvme_pcie_qpair_construct: *ERROR*: alloc qpair_cm

[2019-11-07 10:23] pawelkax commented on #993
I commented out deleting controllers at the end of the tests.

[2019-11-07 10:44] wmalikow commented on #1008
@changpe1 - please refer to https://review.gerrithub.io/c/spdk/spdk/+/473526

[2019-11-07 10:53] Maciej-Szwed opened #1041 "nvme_autotest job timeout on Jenkins"
nvme_autotest job on Jenkins timeout occurs after 4 minutes of tests execution and 15 minutes job overall time execution. This looks like some issue with job start. Logs:

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/49102/archive/nvme_autotest/build.log

[2019-11-07 10:56] spdkci commented on #1041
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49102.html

[2019-11-07 11:03] spdkci commented on #1041
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49103.html

[2019-11-07 11:09] spdkci commented on #1041
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49104.html

[2019-11-07 11:57] tomzawadzki commented on #1040
Hi @shibingxun When lvol store is being created some portion of time is spent on unmap of the space on device that will be used for storage of data. Time it takes to complete can possibly depend on device and its size. I believe this was the case with v18.01 too, so it should not have made any difference.

Unmap is default behavior when creating lvol store. This can be changed by adding `--clear-m

[2019-11-07 12:08] spdkci commented on #1007
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49115.html

[2019-11-07 12:29] spdkci commented on #1019
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49110.html

[2019-11-07 12:31] spdkci commented on #1041
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49111.html

[2019-11-07 12:32] spdkci commented on #1041
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49109.html

[2019-11-07 12:38] spdkci commented on #1041
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49119.html

[2019-11-07 12:41] spdkci commented on #1041
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49118.html

[2019-11-07 12:56] Maciej-Szwed commented on #1041
After closer investigation it looks like test hangs on line:
/usr/local/src/nvme-cli/nvme get-ns-id /dev/spdk/nvme0n1
from cuse tests set.

[2019-11-07 14:55] karlatec commented on #1041
This is most probably caused by some of the VMs being updated to newer Fedora version, there are some issues after the update.
Just reverted them back to previous image. There might be some reports about this in next couple of hours as a result of latest failures.

[2019-11-07 14:58] tomzawadzki commented on #1041
@karlatec All of the logs in this issue point to Fedora 28 VMs. This probably is not the right track to resolving this.

The failures/timeouts happen on get-ns-id, but sometimes on the preceding id-ctrl too.
@tkulasek Would you mind taking a look ?

[2019-11-07 15:00] karlatec commented on #1041
@tomzawadzki Actually they point to F29, fedora_vm_6-10 were updated today and I just reverted them. I haven't seen a log from fedora_vm_1-5 which were not updated and still F28.

[2019-11-07 15:04] tomzawadzki commented on #1041
Those occurred on fedora_vm8-10, but uname reports:
`Linux fedora28 5.3.6-100.fc29.x86_64 #1 SMP Mon Oct 14 21:48:12 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`

[2019-11-07 15:05] karlatec commented on #1041
That's the hostname. Looks like it was not updated.

That's the actual system version.

[2019-11-07 15:31] tkulasek commented on #1041
@tomzawadzki @karlatec It seems to be related to this bug: https://bugzilla.redhat.com/show_bug.cgi?id=1762795

[2019-11-07 16:03] spdkci commented on #839
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49150.html

[2019-11-07 17:33] jimharris commented on #1041
Removing intermittent failure tag from this since it's been root caused to a kernel bug on new Fedora.

Keeping open for now though.  @Maciej-Szwed @karlatec feel free to close once problematic VMs have all been downgraded.

[2019-11-07 17:34] jimharris commented on #993
Hi @pawelkax - is there a patch for this change?  Thanks.

[2019-11-07 17:39] jimharris commented on #987
Closing this issue.  It's been 3+ weeks and we haven't seen this come up again.

[2019-11-07 17:39] #987 closed

[2019-11-07 17:58] spdkci commented on #1007
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49158.html

[2019-11-07 18:01] spdkci commented on #1007
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49154.html

[2019-11-07 18:09] spdkci commented on #1007
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49160.html

[2019-11-07 20:30] jkryl commented on #944
I just ran into the very same issue. Slightly different case but the same problem. An lvol which I have created with clear-write-zeroes flag does not get cleared when destroyed. This is because for clearing the data upon destroy is used unmap and device does not support it. So the data stays there although they should have been reset.

[2019-11-07 21:34] pawelkax commented on #993
@jimharris Patch that detected this issue is https://review.gerrithub.io/c/spdk/spdk/+/464450. It has not been merged yet. I modified it to avoid this issue.
Should I create another patch that checks if this bug exists?

[2019-11-07 21:38] jimharris commented on #993
Oh - I missed that this was only found with a patch that hadn't been merged yet.  Then I don't think there's anything further to do here.  In fact we should probably close this issue now since your update patch won't hit this.

I noticed last revision of this patch failed the test pool due to an intermittent failure that was fixed yesterday.  Please try to remember to rebase patches from latest ma

[2019-11-07 22:23] pawelkax commented on #994
@glodfish-zg Tested it. No asan errors during test. Looks like your patch solves this issue.

[2019-11-07 22:24] mhae opened #1042 "EAL: Expecting 'PA' IOVA mode but current mode is 'VA', not initializing"
Upgrading to 19.10 is breaking my app that is using the vfio-pci driver and hotplug. I saw that this issue was reported on the DPDK issue site but it wasn't clear to me what the workaround/fix is.

[code]

Same result with the identify example app:
[code]
## Steps to Reproduce
- Enable VFIO by echoing 1 to ``/sys/module/vfio/parameters/enable_unsafe_noiommu_mode``
- Use vfio-pci driver for NVMe de

[2019-11-07 22:34] shuhei-matsumoto commented on #1036
I could verify https://review.gerrithub.io/c/spdk/spdk/+/473586 is the fix to the root cause.

I reproduced the LUN hotplug timeout issue very easily locally by re-enabling https://review.gerrithub.io/c/spdk/spdk/+/467212.

Due to the bug we had to defer notification LUN hotplug from SCSI layer to iSCSI layer as late as possible but there is no need to do now.

This idea is much owe to Ziye and I

[2019-11-07 22:53] jimharris commented on #1003
Patch merged.

[2019-11-07 22:53] #1003 closed

[2019-11-07 22:54] jimharris commented on #839
Patch merged.

[2019-11-07 22:54] #839 closed

[2019-11-07 23:13] benlwalker commented on #314
You just need to turn on the IOMMU, run ./scripts/setup.sh using sudo, and you should be able to run the SPDK applications without elevated permissions. All the magic to make it happen is in scripts/setup.sh.

Someone still does need to confirm this works with vhost though. There's just one or two more things that may pop up, such as the creation of the UNIX domain sockets, that may need permissio

[2019-11-07 23:36] jimharris commented on #1042
The short answer is that we didn't have a need for this command line option until now.  :-)

Note that https://github.com/spdk/spdk/issues/1012 is a different issue, but also drives the requirement for enabling this option from the command line.

We should probably also add some noimmu tests to our CI.

Adding "Bug Scrub" label so that we discuss at next meeting.

[2019-11-07 23:41] mhae commented on #1042
@jimharris , thanks. I actually was referring to https://www.mail-archive.com/dev@dpdk.org/msg139852.html (should have added this to the issue report).

Note, we're using the vfio-pci driver since the uio driver is broken in CentOS8 as you have reported long time ago )-:

[2019-11-08 00:38] yidong0635 commented on #1016
patch merged.

[2019-11-08 01:08] spdkci commented on #1036
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49191.html

[2019-11-08 01:36] shibingxun commented on #1040
@tomzawadzki  Hi Tomasz, thank you very much for your suggestion. With this parameter added, it's much better now.
Without the "--clear-method none" parameter, the time is nearly 5s:
[root@localhost scripts]# time ./rpc.py construct_lvol_store raid_1 lvs1
7471d2dc-f15e-4a3e-a06c-27bdf8128c24

real    0m4.681s
user    0m0.110s
sys     0m0.009s

After the parameter added,  the time is shortened to 1

[2019-11-08 05:23] shuhei-matsumoto commented on #1018
Patches for this and related issues start from https://review.gerrithub.io/c/spdk/spdk/+/473585 and made of four patches.

[2019-11-08 05:30] shuhei-matsumoto commented on #1036
Sorry local tests were OK but it didn't work in test pool. I will continue investigation.

[2019-11-08 05:36] liang2yan commented on #1016
close this issue since patch merged.

[2019-11-08 05:36] #1016 closed

[2019-11-08 05:46] liang2yan commented on #852
Run nvmf 1 target and 2 hosts file system testing, this issue will be reproduced. Following messages are out:
[code]

[2019-11-08 08:32] shuhei-matsumoto commented on #1030
Hi All,

I finally stabilized LUN hotplug by 6 patches from https://review.gerrithub.io/c/spdk/spdk/+/473585.
But the behavior of initiator changed. After the patch series, connections continue to be active even after all LUNs are removed.
Previously, iSCSI target had detected some critical error and exited connections forcefully.
I think it is desirable behavior such that connections are active a

[2019-11-08 08:38] shuhei-matsumoto commented on #1030
I'm still debugging the patches. So they may be work in progress. I'm not comfortable the current state that LUN hotplug is unstable, and thank you for your patience.

[2019-11-08 08:50] Donaim commented on #1025
@jimharris agree that is probably due to some CI problem, not caused by OCF module. I will investigate and implement your suggestion.

[2019-11-08 08:52] Donaim commented on #314
@jimharris sure I will do that, but I first need to check if it everything works for vhost target as it does for examples that Ben tested. (Didn't try it yet)

[2019-11-08 09:27] spdkci commented on #1041
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49124.html

[2019-11-08 09:27] spdkci commented on #1041
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49137.html

[2019-11-08 09:28] spdkci commented on #1041
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49138.html

[2019-11-08 10:21] yidong0635 commented on #980
I think I found the error, but now it's hard to add solution.
+ monmaptool --create --clobber --add a 172.0.0.1:12046 --print /var/tmp/ceph/monmap --set-min-mon-release 14
[code]
binding addr is 172.0.0.1:12046 "v2:" is redundant .
we can add "` echo -e '\tmon addr = v2:172.0.0.1:12046'` " ceph -s is ok. but address translation meet issue later ,it can't recongnize " v2:" ,will discuss this  next

[2019-11-08 10:21] wawryk commented on #980
@yidong0635 have You any idea how to fix it ?

[2019-11-08 10:32] yidong0635 commented on #980
@wawryk  now don't have the whole solution, in progress.

[2019-11-08 12:08] wawryk commented on #1041
VMs fedora_vm_6-10 once more updated to f29 but this time to avoid this kernel bug I downgrade kernel to 5.0.19-200.fc29.x86_64

We must watch how it works in CI and if still will be timeouts or fails we will revert back to f28

@tomzawadzki hostname updated to Fedora29 :)

[2019-11-08 12:55] Donaim commented on #1038
Reproduces even without any IO movement
I will investigate what is the cause of this message

[2019-11-08 16:19] sashakot commented on #852
Hi,

Can you add details about your environment?
CPU arch, OS, SW stack (MOFED/inbox), NIC type

BR
Sasha

[2019-11-08 17:17] jimharris opened #1043 "intermittent nvmf target_disconnect.sh failure"
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/49296/archive/nvmf_autotest/build.log

nvme_ctrlr.c:1068:spdk_nvme_ctrlr_reset: *NOTICE*: resetting controller
nvme_rdma.c: 392:nvme_rdma_process_event: *ERROR*: Expected RDMA_CM_EVENT_ESTABLISHED but received RDMA_CM_EVENT_REJECTED (8) from CM event channel (status = 10)
nvme_rdma.c: 769:nvme_rdma_connect: *ERROR*: RDMA connec

[2019-11-08 17:19] spdkci commented on #1043
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49296.html

[2019-11-08 18:09] tkulasek commented on #1033
https://review.gerrithub.io/c/spdk/spdk/+/473426

[2019-11-08 18:31] Seth5141 opened #1044 "spdk_nvme_cli intermittent failure"
## Current Behavior
I caught this one on a mater build failure. The relevant portion of the log is included below.

[code]

## Context (Environment including OS version, SPDK version, etc.)
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49309.html
This build was executed on GP16

[2019-11-08 19:04] peluse commented on #946
@xiaoxichen are you by any chance going to the developer meetup next week?

[2019-11-08 19:19] pawelkax opened #1045 "Intermitten failure: Build timeout but test not started"
Log to this failure:
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/49288/archive/centos7_autotest/build.log

[2019-11-08 19:20] spdkci commented on #1045
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49288.html

[2019-11-08 19:58] spdkci commented on #1007
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49316.html

[2019-11-08 20:04] pawelkax opened #1046 "Intermittent RBD tests failure - Partitioning /dev/loop200"
Log with this failure:
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/49272/archive/RBD_autotest/build.log

[2019-11-08 20:06] spdkci commented on #1046
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49272.html

[2019-11-08 20:24] spdkci commented on #1019
Another instance of this failure. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49315.html

[2019-11-08 20:27] spdkci commented on #1044
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49313.html

[2019-11-08 20:35] jimharris commented on #1044
Another instance of this failure.

https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49311.html

Note that all three of these so far were on GP16 (Optane SingleDisk)

[2019-11-08 20:36] spdkci commented on #1044
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49318.html

[2019-11-08 20:40] Seth5141 commented on #1044
This appears to be an infrastructure issue related to the GP16 test node. It has been removed from the pool for the time being.

[2019-11-08 21:33] spdkci commented on #1043
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49325.html

[2019-11-08 22:23] spdkci commented on #1044
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49266.html

[2019-11-08 22:58] spdkci commented on #1007
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49255.html

[2019-11-08 22:59] spdkci commented on #1007
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49254.html

[2019-11-08 23:09] spdkci commented on #1043
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49249.html

[2019-11-08 23:10] spdkci commented on #1007
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49250.html

[2019-11-09 00:42] Seth5141 commented on #1043
On all of these failures, the common difference is the status code returned when we fail to reconnect the ctrlr. It's 10 which correcponds with 10. This is an unexpected return value since the target has just been killed so it can't have any stale connection information. Based on the fact that these are all on Soft-RoCE NICs, I am leaning towards some weird state thing in that driver.

For referen

[2019-11-09 14:55] xiaoxichen commented on #946
@peluse  I wish I can but I based in Shanghai L(

[2019-11-09 22:47] shuhei-matsumoto commented on #1018
Here is the announcement of the patch series to fix the (maybe whole) LUN hotplug issues again. https://review.gerrithub.io/c/spdk/spdk/+/473585/4

No LUN hotplug error more than 30 times consecutive runs, so I have tiny confidence for them :-)
I removed all patches which doesn't have clear relationship with the issues, and amount of fixes are very small. So I hope review is not so hard task, and

[2019-11-10 21:36] shuhei-matsumoto opened #1047 "Intermittent NVMe-TCP target failure: build timeout"
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/49365/archive/nvmf_tcp_autotest/failed_test.log

[2019-11-10 22:35] shuhei-matsumoto commented on #1047
This looks solid now.

[2019-11-11 00:21] jimharris commented on #1047
Hi Shuhei,

Can you clarify?  Do you mean you see this happening on a lot of patches?

Thanks,

Jim

[2019-11-11 02:49] liang2yan commented on #852
Hi,

The env details are as below.
target:
CPU - skylake
OS - CentOS 7.7.1908 5.2.0-1.el7.elrepo.x86_64
SW stack - rdma-core-22.1-3.el7.src.rpm
NIC - Mellanox MCX416A-CCAT
Host 1:
CPU - Broadwell
OS - CentOS 7.4.1708 5.2.3-1.el7.elrepo.x86_64
SW Stack - rdma-core-17.2-3.el7.src.rpm
NIC type - MCX516A-CDAT
Host 2:
CPU - Broadwell
OS - CentOS 7.4.1708 5.2.11-1.el7.elrepo.x86_64
SW Stack - rdma-core-

[2019-11-11 03:06] spdkci commented on #1017
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49371.html

[2019-11-11 03:07] spdkci commented on #1047
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49370.html

[2019-11-11 03:07] spdkci commented on #1047
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49366.html

[2019-11-11 03:57] spdkci commented on #1043
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49383.html

[2019-11-11 04:45] spdkci commented on #1025
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49386.html

[2019-11-11 05:18] Comphix commented on #1040
@shibingxun , is the 1.7s lvol creation acceptable although comparing to other operation, it still takes a little more time? Thanks, Gang

[2019-11-11 05:23] Comphix commented on #1039
@clicx , from below error, looks like it is failed to create NVMe IO qpair

nvme_pcie.c:1053:nvme_pcie_qpair_construct: ERROR: alloc qpair_cmd failed
nvme_ctrlr.c: 363:spdk_nvme_ctrlr_alloc_io_qpair: ERROR: nvme_transport_ctrlr_create_io_qpair() failed

What type of NVMe SSDs are you using?

Also, could you try to assign 0xf or 0xff (<= 8 cores used for the nvmf_tgt) for the nvme perf and see what

[2019-11-11 05:26] Comphix commented on #1031
https://review.gerrithub.io/c/spdk/spdk/+/473220 has been merged. Close it issue first. Looking at the recent nightly testing, looks like other failures instead of this one.

[2019-11-11 05:26] #1031 closed

[2019-11-11 05:27] Comphix commented on #999
Close this issue. If you have other question, please reopen it. Thanks, Gang

[2019-11-11 05:27] #999 closed

[2019-11-11 07:17] gwnet opened #1048 "SPDK Host will cause kernel target panic at AER handling code"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.
kernel target will panic if
 I run SPDK perf load, during this, I run nvmetcli clear. it will panic at kernel handling AER work item.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

[ 5115.80

[2019-11-11 08:19] yidong0635 commented on #980
patch : https://review.gerrithub.io/c/spdk/spdk/+/473831.

[2019-11-11 09:15] Comphix commented on #1048
Could you describe more on how to trigger the issue for below SPDK perf tool running and then run nvmetcli?

"I run SPDK perf load, during this, I run nvmetcli clear. it will panic at kernel handling AER work item."

[2019-11-11 09:46] shuhei-matsumoto commented on #1047
Hi @jimharris

I saw this failure early morning solidly but disappeared then. So I can close this as infrastructure issue.

[2019-11-11 09:46] #1047 closed

[2019-11-11 12:09] gwnet commented on #1048
the steps are
1. configure kernel NVMeOF target, the run SPDK perf host load testing for 600 seconds
2. during the load testing, run the nvmetcli clear command at target side
3. target kernel will panic at the AER worker thread.
this thing only happen with SPDK host. I already work around this issue by disable AER at SPDK side

[2019-11-11 12:35] jimharris commented on #1048
AER is used for more than just reporting asynchronous events around device health. It is also used for reporting namespace changes.

What is the kernel version for your target system?

[2019-11-11 23:44] spdkci commented on #1017
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49429.html

[2019-11-11 23:58] spdkci commented on #1043
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49430.html

[2019-11-12 00:12] shibingxun commented on #1040
@Comphix  Hi Gang, this is much better.  We can accept this response time. Just one more question, is there any reason the "construct_lvol_store" command cost more time than other commands?

[2019-11-12 00:42] spdkci commented on #1025
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49439.html

[2019-11-12 00:53] shuhei-matsumoto opened #1049 "Intermittent NVMe-TCP autotest failure: Always timeout during some specific period of time."
I moved to this from https://github.com/spdk/spdk/issues/1047.

As long as I compared the log between success and failure and also checked the elapsed time, the NVMe-TCP auto test always takes close to 10 minutes, and very close to timeout.

We have to reduce the contents or reduce test duration or move some tests to nightly.

## Expected Behavior
The test should complete in less than 8 minutes.

[2019-11-12 00:54] shuhei-matsumoto commented on #1049
Hi @jimharris I re-opened the issue as an new issue.

[2019-11-12 01:48] spdkci commented on #1049
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49445.html

[2019-11-12 01:48] spdkci commented on #1049
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49446.html

[2019-11-12 01:49] spdkci commented on #1049
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49448.html

[2019-11-12 03:53] optimistyzy commented on #1046
I submitted a patch to address this issue: https://review.gerrithub.io/c/spdk/spdk/+/473910

[2019-11-12 04:44] shuhei-matsumoto commented on #1049
Other instances
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49452.html
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49451.html
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49450.html
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49449.html

But RBD_autotest and LVOL_autotest succeed even if they take mo

[2019-11-12 05:39] shuhei-matsumoto commented on #1049
Now everything is very fine, and NVMe-TCP autotest complets for about 8 minutes. So there is solid failure in NVMe-TCP autotest only during some period of time.
I glanced SPDK Jenkins test pool status but I couldn't find anything noticeable.

[2019-11-12 06:31] spdkci commented on #1018
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49485.html

[2019-11-12 06:45] optimistyzy commented on #1049
@shuhei-matsumoto This is interesting..

[2019-11-12 06:50] spdkci commented on #1018
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49488.html

[2019-11-12 06:51] spdkci commented on #1018
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49489.html

[2019-11-12 07:04] spdkci commented on #1019
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49416.html

[2019-11-12 07:48] spdkci commented on #1043
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49497.html

[2019-11-12 07:51] spdkci commented on #1018
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49498.html

[2019-11-12 07:53] spdkci commented on #1044
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49289.html

[2019-11-12 07:59] spdkci commented on #1044
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49298.html

[2019-11-12 08:02] Comphix commented on #1042
For this, please check below article

https://software.intel.com/en-us/articles/memory-in-dpdk-part-2-deep-dive-into-iova

There are much description there about IOVA. Application could assign the iova-mode as the explicit parameter.

[2019-11-12 13:14] gwnet commented on #1048
our kernel target is SLES12SP4 that is based 12.14 kernel version. our Intel SSD is 4610.
thank you so much. you are right, it include namespace change and invalid write door bell. our scenario is for distributed storage. we will never change namespace. and we have HAL and Fabric service to poll the physical device smart info. at the SPDK host side, actually it is only one data path proxy for us,

[2019-11-12 16:16] jimharris commented on #1048
Hi @gwnet,

I guess you mean kernel version 4.12.14?

-Jim

[2019-11-12 16:33] joyantamishu opened #1050 "SPDK NvmeOF failed to connect to target nvme device"
Hello,

I have nvmeof set up in two machines. The target side (192.168.10.10) has Ubuntu 18.04 with kernel version 5.0.0, and initiator (192.168.11.9) has Ubuntu 16.04 with kernel version 4.10. At the target end, I created one nvme subsystem and add listener to it using SPDK rpc methods. The subsystem was created successfully as when I run nvme discover the initiator can identify the remote (targe

[2019-11-12 17:07] Seth5141 commented on #1049
@shuhei-matsumoto The timeout values for each one of the tests are individually configurable through the Jenkins UI. Perhaps we need to increase the timeout on the TCP test, or trim some of the fat there. One reason that the TCP tests take longer is that they are run from VMs that don't share the same NFS as teh other ones so they have to individually copy down the source.

[2019-11-12 17:10] benlwalker commented on #1050
/dev/nvme1n1 is not a physical NVMe device - it's a network device. `scripts/setup.sh` is designed to unbind physical devices from the kernel and prepare them for use by SPDK, but it doesn't do anything with network devices.

You must have previously configured your initiator system to use NVMe-oF to connect to the target using the kernel initiator. You likely did this using the `nvme` tool. You s

[2019-11-12 17:44] joyantamishu commented on #1050
Thanks Ben for your response. Yes, I will try the _nvme_ thing you mentioned.

I didn't get your last part. I run the command _lsmod |grep "rdma"_ to see the active rdma modules, and here's the output:

[lsmod |grep "rdma"]

I see the _rdma_cm_ , which might belong to the rdmacm kernel module you mentioned. But I am not sure whether the _libibverbs_  module is active or not. Is there any way (e.g.

[2019-11-12 18:11] AlekseyMarchuk opened #1051 "nvmf_phy_autotest build timeout"
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49538.html
[code]

[2019-11-12 18:13] spdkci commented on #1051
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49538.html

[2019-11-13 00:35] gwnet commented on #1048
Yes, my typo error, SLES12SP4 is 4.12.14

[2019-11-13 06:47] yidong0635 commented on #1046
@optimistyzy @pawelkax
have two questions:
Can we remove "SPDK CI Jenkin +1" and try many times to check this patch?
What about adding "partprobe" after "parted -s" ? I'm not sure about this.

[2019-11-13 07:38] AlekseyMarchuk commented on #1050
Hi,

Could you clarify if you are using OFED installation or in-box RDMA drivers? What is your NIC model? This warning means that you don't have user-space driver for your NIC, e.g libmlx5 if you use ConnectX. Could you check if this library exists in your system e.g. in /usr/lib or /usr/lib64?

[2019-11-13 08:10] shuhei-matsumoto opened #1052 "Intermittent RBD test failure - create OSD authentication error"
Please close this if already fixed.
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/49076/archive/RBD_autotest/failed_test.log

[code]

[2019-11-13 08:15] yidong0635 commented on #1052
@shuhei-matsumoto  yes, this is already fixed.

[2019-11-13 08:21] shuhei-matsumoto commented on #1052
Thank you!

[2019-11-13 08:21] #1052 closed

[2019-11-13 08:35] #1008 closed

[2019-11-13 15:25] jimharris opened #1053 "nvme_autotest ftl/restore.sh SIGILL failure"
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49583.html

 14:20:25	# (( i<=20 ))
 14:20:25	# dd if=/dev/nbd0 of=/tmp/nbdtest bs=4096 count=1 iflag=direct
1+0 records in
1+0 records out
4096 bytes (4.1 kB, 4.0 KiB) copied, 0.000846055 s, 4.8 MB/s
  14:20:25	# stat -c %s /tmp/nbdtest
 14:20:25	# size=4096
 14:20:25	# rm -f /tmp/nbdtest
 14:20:25	# '[' 4096 '!=' 0 ']'
 14:20:2

[2019-11-13 16:03] joyantamishu commented on #1050
Hi Aleksey,

I am using Mellanox ConnectX-4 RDMA NICs, and I thought the driver is pre-installed in any kernel version >= 4.8. Please correct me if I am wrong.

One thing, I didn't find libmlx5 in neither of /usr/lib or /usr/lib64 directory. That means you and Ben pointed out the absolute reason why it's not working. Could you please let me know possible way to install the user-space driver for th

[2019-11-13 17:56] benlwalker commented on #1027
Which I/O engine are you using when you use fio to test through the kernel? What's the total I/Ops you see with fio through the kernel, vs. that same test with SPDK? It could be something as simple as SPDK just doing a lot more I/O than fio, even though they're both at queue depth 1, because fio is spending time with other overhead that isn't part of the latency calculation.

[2019-11-13 18:06] joyantamishu commented on #1050
Hi Aleksey and Ben,

Thanks a lot for your suggestions. It seems like the user space library has been resolved. This is the way I come to know about that. I run the command:

And output is:

new issue occurs:( Do you guys have any work around of this problem??

Once again thanks a lot for your help.

[2019-11-13 18:12] benlwalker commented on #812
I can confirm these are all test bugs. The NVMe-oF target behavior is correct. It seems that the test is using the local PCIe rules but there is separate handling specified for fabrics devices.

[2019-11-13 18:12] #812 closed

[2019-11-13 18:13] benlwalker commented on #817
I can confirm that our code is correct. This is a test bug in the UNH suite.

[2019-11-13 18:16] benlwalker commented on #1050
You don't have any hugepages allocated (you probably rrebooted). Run ./scripts/setup.sh again from SPDK.

[2019-11-13 18:23] joyantamishu commented on #1050
It works :+1:

Thanks a lot Ben :)

[2019-11-13 18:24] jimharris commented on #817
Have we provided feedback to UNH so they can fix the test suite?

[2019-11-13 18:24] jimharris commented on #817
Reopening but assigning to @KariukiJ to confirm that UNH has our feedback.

[2019-11-13 18:29] jimharris commented on #812
@KariukiJ can you give feedback on this bug back to UNH as well?  Thanks.  (Let's leave this one closed and we'll track UNH feedback through #817).

[2019-11-13 18:37] benlwalker commented on #1050
No problem!

[2019-11-13 18:37] #1050 closed

[2019-11-13 18:39] benlwalker commented on #1012
I think the right solution is that DPDK needs to check the IOMMU width supported. If it's less than what's required to hold any virtual address, it needs to fall back to physical addresses. I'll leave this open but mark as third party.

[2019-11-13 23:22] Seth5141 commented on #1029
Test for connecting to a non-existent discovery controller. https://review.gerrithub.io/c/spdk/spdk/+/474153

[2019-11-13 23:29] Seth5141 opened #1054 "Vhost failing on nightly raid tests."
## Current Behavior
The vhost nightly tests are failing when parsing a configuration file because that file contains a raid bdev definition where the raid level is an int instead of a string.

## Possible Solution
https://review.gerrithub.io/c/spdk/spdk/+/474145

## Context (Environment including OS version, SPDK version, etc.)
spdk19.10-pre fedora 29.

[2019-11-14 00:18] shuhei-matsumoto commented on #1054
Hi Seth,

Karol has posted the completely same patch https://review.gerrithub.io/c/spdk/spdk/+/473565 :-)

-Shuhei

[2019-11-14 01:10] wanqunintel commented on #1021
@Seth5141 @optimistyzy i tried with this commit of spdk 4d0c5091a99adba3c51bceef39f67e5991131159, and run the config as above for more than 10 times, each time run with 10minutes and didn't see any error report out. i think the master has fixed this issue and we can close it.

[2019-11-14 02:57] optimistyzy commented on #1021
@Seth5141 Close this issue according to @wanqunintel 's comments. If you can reproduce this issue, please do open this again.

[2019-11-14 02:57] #1021 closed

[2019-11-14 02:59] optimistyzy commented on #1054
@Seth5141 The patch number of @karlatec is smaller than yours, let's use Karol's patch

[2019-11-14 03:19] Seth5141 commented on #1054
@shuhei-matsumoto Thanks for pointing that out. I agree that we should use Karol's patch.

[2019-11-14 03:50] optimistyzy commented on #1046
@yidong0635 I think that  we can let the pool to test. And currently I do think that partprobe is needed.

[2019-11-14 04:02] Seth5141 commented on #1054
Karol's change was merged. Closing.

[2019-11-14 04:02] #1054 closed

[2019-11-14 04:09] jimharris commented on #1042
Bug scrub: We can add some heuristics to SPDK to get this right for now.  Will also push patches to DPDK.  @benlwalker will drive this forward.

[2019-11-14 04:10] jimharris commented on #1042
Marking as 3rd party issue since this is a DPDK regression.

[2019-11-14 04:13] jimharris commented on #1053
Bug scrub:  This has only been seen once.  @ksztyber - could you take a look?  Might be something we have to wait to see additional occurrences before we can make more progress.

[2019-11-14 04:19] jimharris commented on #1051
Bug scrub:  log shows that it timed out before any tests really got started.  This may be somewhat related to #1007 which is more of an infrastructure error.  @Seth5141 is going to investigate some more.

[2019-11-14 04:23] jimharris commented on #1049
Bug scrub: The TCP autotest VMs are located in Chandler (rest are in Poland) - the git clone took much longer for these cases which seems due to some kind of intermittent network slowness in Chandler over this 1 hour time period.  Closing as this hasn't been seen since.

[2019-11-14 04:23] #1049 closed

[2019-11-14 04:26] jimharris commented on #1048
Bug scrub: Assigning to @glodfish-zg to try to reproduce.  Let's see if this happens with latest Linux kernel - if not, then this may be kernel issue that hasn't been back ported to SLES kernel yet.

[2019-11-14 04:29] jimharris commented on #1045
Bug scrub: this looks like a duplicate of #1007

[2019-11-14 04:29] #1045 closed

[2019-11-14 04:31] jimharris commented on #1044
Bug scrub: @wawryk updated the Optane SSDs in GP16 which has fixed this problem.

[2019-11-14 04:31] #1044 closed

[2019-11-14 04:36] jimharris commented on #1043
Bug scrub: @Seth5141 is going to modify this test script so that it doesn't fail the test if this issue happens when running on rxe.  We'd still like to keep running tests with rxe (soft-roce) since it's nice for developers who want to get familiar with the code without having an RDMA NIC.

[2019-11-14 04:38] jimharris commented on #1041
Bug scrub: Closing this issue since hasn't been hit since downgrading kernels on VMs.

[2019-11-14 04:38] #1041 closed

[2019-11-14 04:40] jimharris commented on #1040
Bug scrub: Closing this issue since questions were answered.  Please feel free to ask more questions on this thread though.

[2019-11-14 04:40] #1040 closed

[2019-11-14 04:44] jimharris commented on #1012
Bug scrub: Closing this as a duplicate of #1042.

This bug was filed earlier, but #1042 has some additional details added that will be useful for tracking moving forward.  Plan is to add heuristics to SPDK to detect when IOVA=PA is needed for now.  Will also work with DPDK upstream to add heuristics there as well.

[2019-11-14 04:44] #1012 closed

[2019-11-14 04:45] jimharris commented on #1000
Bug scrub: https://review.gerrithub.io/c/spdk/spdk/+/472465 was merged which fixes this issue.

[2019-11-14 04:45] #1000 closed

[2019-11-14 04:48] jimharris commented on #867
Bug scrub: closing this issue pending feedback from submitter.  Please reopen if you are able to provide additional details.

[2019-11-14 04:48] #867 closed

[2019-11-14 04:50] jimharris commented on #936
Bug scrub: patches from @Seth5141 have been merged, so closing this issue.  @gwnet - if you still see any problems, please reopen this issue.

[2019-11-14 04:50] #936 closed

[2019-11-14 04:53] jimharris commented on #941
Bug scrub: We would like to close this issue as a 3rd party issue.  @yidong0635 can you confirm that these warnings do not fail the SPDK build, but just appear as warnings in the log?  If so, please close this issue.  Thanks.

[2019-11-14 04:56] jimharris commented on #943
Bug scrub: closing this issue pending additional details on the scripts used to produce this issue.  We think this may have been produced using the spdk/tests repository, but need further details.

[2019-11-14 04:56] #943 closed

[2019-11-14 05:04] jimharris commented on #572
@karlatec - is this issue something we should still keep open?

[2019-11-14 05:05] jimharris commented on #611
Closing this as 3rd party issue.

[2019-11-14 05:05] #611 closed

[2019-11-14 05:07] jimharris commented on #683
Closing this is a use case that is not supported.  vhost client and vhost target must be separate processes.

[2019-11-14 05:07] #683 closed

[2019-11-14 05:30] clicx commented on #1039
NVMe disk is P4610
There should be multiple issues, I still need more time to check all conditions, since I found some issues are randomly, a certain issue on NVMe are:
EAL:   using IOMMU type 1 (Type 1)
nvme_pcie.c: 484:nvme_pcie_ctrlr_map_cmb: *ERROR*: get registers failed
nvme_pcie.c: 853:nvme_pcie_ctrlr_construct: *ERROR*: get_cap() failed
nvme.c: 428:nvme_ctrlr_probe: *ERROR*: Failed to const

[2019-11-14 05:46] yidong0635 commented on #1046
@optimistyzy ,thanks, follow with you, I will do some manual tests too.

[2019-11-14 05:52] yidong0635 commented on #941
@jimharris  , yes, just warnings, these warnings do not fail the SPDK build ,close it.

[2019-11-14 05:52] #941 closed

[2019-11-14 06:36] Comphix commented on #1039
For this issue:

nvme_pcie.c: 484:nvme_pcie_ctrlr_map_cmb: ERROR: get registers failed
nvme_pcie.c: 853:nvme_pcie_ctrlr_construct: ERROR: get_cap() failed
nvme.c: 428:nvme_ctrlr_probe: ERROR: Failed to construct NVMe controller for SSD: 0000:31:00.0
error in 4 (of 8) disks
It should related to the iommu, if I disable iommu, will not happen this issue.

Looks like there are 8 P4610s here, is this e

[2019-11-14 07:06] liang2yan opened #1055 "SPDK can't set the NVMe SSD behind VMD which are connected by pcie ssd switch"
## Expected Behavior
all nvme ssd should be recognized by spdk_lspci tool.
## Current Behavior
one nvme ssd which is connected by pcie ssd switch can't be recognized by spdk_lspci tool.
## Possible Solution

## Steps to Reproduce
1. use pcie ssd switch to connect nvme ssd with the U.2 port;
2. setup VMD in the BIOS for all PCI;
3. get the 201d devices:
[code]
4. get the current nvme devices config

[2019-11-14 07:33] glodfish-zg commented on #1048
@gwnet  Did you see other logs？
I follow your steps and get different logs.
My kernel version is 5.0.13. perf and target run in the same machine.
[ 2807.951607] nvmet_tcp: failed cmd 00000000a746a42b id 899 opcode 2, data_len: 4096
[ 2807.951613] nvmet_tcp: failed cmd 0000000059a8224e id 900 opcode 2, data_len: 4096
[ 2807.951617] nvmet_tcp: failed cmd 00000000cf4b2e29 id 901 opcode 2, data_len: 4

[2019-11-14 08:17] clicx commented on #1039
Will fail 4 disks (total disks are 8), and those 4 disks are on same numa (31,32,33,34), while other 4 disks on another numa have no problem.
OK for nvmf_tgt issue.

[2019-11-14 09:50] Comphix commented on #1039
I've using the similar configuration (nvmf_tgt with 8 cores + 2 subsystems and perf with 0xFFF cores) with latest SPDK (master) code.

[Subsystem1]
  NQN nqn.2016-06.io.spdk:cnode1
  Listen RDMA 192.168.100.8:4420
  AllowAnyHost Yes
  Host nqn.2016-06.io.spdk:init
  SN SPDK00000000000001
  MN SPDK_Controller1
  Namespace Malloc0
  Namespace Malloc1
  Namespace Nvme0n1

[Subsystem2]
  NQN nqn.2016-

[2019-11-14 10:01] clicx commented on #1039
I was trying to setup raid0 by using 8 disks (same model), actually the first 4 disks can't used by spdk in anyway except disable iommu, just run the identity app:

./examples/nvme/identify/identify -r "trtype:PCIe traddr:0000:31:00.0"
Starting SPDK v20.01-pre / DPDK 19.02.0 initialization...
[ DPDK EAL parameters: identify --no-shconf -c 0x1 -n 1 -m 0 --log-level=lib.eal:6 --log-level=lib.cryptod

[2019-11-14 10:12] spdkci commented on #1030
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49659.html

[2019-11-14 10:15] spdkci commented on #1030
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49661.html

[2019-11-14 11:44] spdkci commented on #1030
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49670.html

[2019-11-14 11:45] spdkci commented on #1030
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49674.html

[2019-11-14 12:32] gwnet commented on #1048
hello man, 4.12 kernel only has NVMeOF over RDMA, only very new kernel has TCP support. we reproduce the issue with RDMA.
we use SLES12SP4, if both host and target is kernel, it is fine. if we use SPDK as host, we can reproduce the panic. my workaround is disable the SDPK host side AER

[2019-11-14 12:39] cighao commented on #1027
@benlwalker I used libaio in FIO. And the IOPS in fio is still high than than in nvme_perf.
![image](https://user-images.githubusercontent.com/10767282/68857876-ddba9180-06f4-11ea-9167-c4622ad274a7.png)

[2019-11-14 14:31] peluse opened #1056 "iscsi_autotest reports build timeout in CI"
Hit while CI running on unrleated patch https://review.gerrithub.io/c/spdk/spdk/+/472202/3

See https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/49619/archive/iscsi_autotest/build.log

Snippet:

  00:01:58	# /var/jenkins/workspace/iSCSI_tests/iscsi_autotest/spdk/scripts/gen_nvme.sh --json
  00:01:58	# jq -r '.config[].params | select(.name=="Nvme0").traddr'
 00:01:58	# bdf=00

[2019-11-14 14:49] jimharris commented on #1056
This build actually failed due to build timeout.  The opal error reported is unfortunate but not the cause of this specific build failure.  (We try to revert any opal settings at the beginning of every test run, but if the SSD doesn't support opal, this RPC fails and we just continue.)

I'm assigning this to @Seth5141 to take a look if we need to extend iSCSI auto test build timeout.

@jessehui -

[2019-11-14 14:52] spdkci commented on #1007
Another instance of this failure. Reported by @Maciej-Szwed. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49695.html

[2019-11-14 15:01] peluse commented on #1056
@jimharris damn I usually catch the timeouts, where in the log did you spot it?  Thanks!

[2019-11-14 15:07] jimharris commented on #1055
Hi Liang,

Could you figure out which one of the three SSDs is not appearing?  I think there's a way to check the Linux lspci output to see which VMD endpoint each VMD PCI domain is associated with.

I see that 10003:08:00.0 is different SSD type than the other two - I'm wondering if that is the SSD that's not appearing.

I'm assigning to @ksztyber who may be able to provide additional debug steps

[2019-11-14 15:08] jimharris commented on #1056
It's at the end of the log:

 00:08:51	$ xtrace_disable
 00:08:51	$ PREV_BASH_OPTS=ehxBE
 00:08:51	$ set +x
 00:08:51	$ xtrace_enable
 00:08:51	$ make clean
  00:08:55	$ git status --porcelain --ignore-submodules
  00:08:55	$ wc -l
Build timed out (after 10 minutes). Marking the build as failed.
 00:08:55	$ '[' 0 -ne 0 ']'
 00:08:55	$ timing_exit porcelain_check
 00:08:55	$ xtrace_disable
 00:08:5

[2019-11-14 15:35] ksztyber commented on #1053
From what I could gather from the logs, it looks like the spdk_tgt was killed with SIGILL during `spdk_mmio_write_4` inside `nvme_pcie_qpair_ring_sq_doorbell`, but I have no idea what could have caused it.
Unfortunately, the coredump wasn't included with the logs (only the app that caused the crash was attached), so I couldn't check it for any more clues. I think we should make sure that if a core

[2019-11-14 16:30] jimharris commented on #980
Patch merged.  Thanks!

[2019-11-14 16:30] #980 closed

[2019-11-14 17:37] benlwalker commented on #1027
Can you provide your full fio configuration file? I can try to reproduce it (although I'll be using an Intel SSD). While I do that, are you able to try this on a different SSD? The main theoretical difference here is that SPDK is polling for completions and libaio is using interrupts, but I'd like to rule out that there isn't some other unintentional difference.

[2019-11-14 19:59] Seth5141 commented on #1043
Patch to disable this tet on RXE: https://review.gerrithub.io/c/spdk/spdk/+/474279. I figure disabling the test and not exiting the scripts if it fails are functionally the same since we aren't going to go back and look at the logs from passing tests.

[2019-11-14 20:11] jimharris commented on #1018
Patches merged.

[2019-11-14 20:11] #1018 closed

[2019-11-14 20:11] jimharris commented on #1030
Patches merged.

[2019-11-14 20:11] jimharris commented on #1036
Patches merged.

[2019-11-14 20:11] #1036 closed

[2019-11-14 20:33] cighao commented on #1027
@benlwalker this is the configuration:

[code]

I also try this on Intel DC P4800X SSD. Under the same configurations, the latency of SPDK is much lower than that of FIO. This is different from the results on Samsung PM963.

[2019-11-14 21:15] spdkci commented on #1007
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49751.html

[2019-11-14 21:45] spdkci commented on #1056
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49619.html

[2019-11-14 21:52] Seth5141 commented on #1056
@jimharris  I don't think we need to update the timeout on this job, it looks like @peluse just ended up in the unlucky 99th percentile and hit an outlier. It usually only takes between 7-9 minutes to run. I have attached a screenshot showing the last 50 or so jobs with the time they took.

I think it's good to keep the timeout low so that it keeps us cognizant of introducing a test that balloons

[2019-11-15 00:15] spdkci commented on #1017
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49772.html

[2019-11-15 01:54] glodfish-zg commented on #1048
yeah, I found that. So I hide the comment. I am reproducing this in RDAM.

[2019-11-15 01:59] jessehui commented on #1056
Hi, @jimharris , thanks for this suggestion.

The thing is even if we call bdev_nvme_opal_revert for an SSD that does support OPAL, it can still give error response if the drive is already in default state. As calling this RPC is just for safe purpose, and I explicitely put `set +e` before this process, I am not sure what else I can do. Or maybe do you think I can just redirect the output?

[2019-11-15 02:16] liang2yan commented on #1055
Hi Jim,

Yes, the SSD "10003:08:00.0" disappeared. and after running spdk_lspci tool, I run "lspci|grep -i vola" command. this command don't have output, all three nvme ssd disappeared.

[2019-11-15 04:38] glodfish-zg commented on #1048
I tested it in the kernel version 5.4.0-rc7+ and can't reproduce this issue.

[2019-11-15 04:55] Seth5141 commented on #1053
@ksztyber we typically cap the size of the core dumps that we copy to the public logs because they can take a prohibitively long time to copy and can tie up the network while trying to copy other logs. I can check to see if this core exists in the internal logs when I get into the office tomorrow and make it available to you if it's there.

[2019-11-15 07:46] liang2yan opened #1057 "SPDK vmd/led tool can't set the NVMe SSD LED state"
## Expected Behavior
The LED amber is off.

## Current Behavior
The LED amber is still on.

## Possible Solution

## Steps to Reproduce
1. set the VMD in the BIOS;
2. run lspci to get the nvme ssd new pci info:
[code]
The last three nvme ssd is NVMe SSD behind VMD.
3.get the 201d devices:
[code]
4. get the latest spdk codes and compile the codes.
5. run setup.sh command:
`PCI_WHITELIST="0000:5d:05

[2019-11-15 10:15] Maciej-Szwed opened #1058 "nvme_phy_autotest intermittent failure"
nvme_phy_autotest failed with message:

/var/jenkins/workspace/NVMe_tests/nvme_phy_autotest/spdk/test/common/autotest_common.sh: line 384: kill: (1832902) - No such process
ERROR: process (pid: 1832902) is no longer running

Unfortunately there isn't any other line related to the error. Full log:
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/49698/archive/nvme_phy_autotest

[2019-11-15 10:17] spdkci commented on #1058
Another instance of this failure. Reported by @Maciej-Szwed. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49698.html

[2019-11-15 10:47] Maciej-Szwed opened #1059 "Jenkins test timeouts at 'make clean'"
RBD_autotest timeouted at 'make clean' command. Logs:

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/49835/archive/RBD_autotest/build.log

OS: Fedora 29

[2019-11-15 10:49] spdkci commented on #1059
Another instance of this failure. Reported by @Maciej-Szwed. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49835.html

[2019-11-15 12:42] ksztyber commented on #1055
Hi @liang2yan,
the fact the all of the SSDs disappear from `lspci` is expected, as you're unbinding kernel's PCIe driver from the VMD devices when calling `scripts/setup.sh`. Of course once this is done, they all should appear in the output of `spdk_lspci`.

Are all of the drives behind the switch or just the one that disappears?

Could you post the output from `examples/vmd/lsvmd/lsvmd -d`?

[2019-11-15 13:34] spdkci commented on #1046
Another instance of this failure. Reported by @Donaim. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49849.html

[2019-11-15 14:45] jimharris commented on #1057
Assigning to @ksztyber - can you give @liang2yan some further debug steps?

[2019-11-15 14:48] jimharris commented on #1058
This is a duplicate of #1025.  A patch for that bug (it was a test issue) was merged yesterday.

[2019-11-15 14:48] #1058 closed

[2019-11-15 14:48] gwnet commented on #1048
can you also try reproduce this with SLES12SP4? if you can reproduce, maybe we can compare the async request worker handling part code.

[2019-11-15 14:54] jimharris commented on #1056
Hi @jessehui - we should try to reduce confusion (like we saw above) when someone reads through the logs.  Anyone who is not familiar with SDPK OPAL functionality (which includes most people) will see this error and think that something was wrong.

I think we should do something like:

1) Use bdev_nvme_get_controllers RPC to see if the SSD supports OPAL
2) If it does support OPAL, then maybe bdev_

[2019-11-15 15:23] jimharris commented on #1025
Patch merged.

[2019-11-15 15:23] #1025 closed

[2019-11-15 15:36] Seth5141 commented on #1051
@jimharris THis actually might be its own class of bugs. Maciej just posted another one where it fails right on make clean, and I saw an instance of this on the nvme_phy_autotest yesterday.

[2019-11-15 15:38] Seth5141 commented on #1059
This has been observed on a few different tests over the last few days.
nvmf_phy_autotest
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49538.html

[2019-11-15 15:39] Seth5141 commented on #1051
closing this and consolidating into #1059 which describes the behavior a little better.

[2019-11-15 15:39] #1051 closed

[2019-11-15 15:45] Seth5141 commented on #1053
@ksztyber Sorry, the core was actually lost. It ran off the end of our local Jenkins storage backlog.

[2019-11-15 17:33] Seth5141 commented on #1007
I figure here is the best place to post this:

@karlatec @jimharris @pawelkax

I did a quick audit of the vm host machines and found the following:

WFP1 - 112 CPUs, 142-152 allocated for VMs - overprovisioned by 30 - 40 cores.
I think we could do th following to reduce the number of cores in use:
All of the fedora VMs on this machine are using 12 cores. I think that all 7 of them could be reduced

[2019-11-15 17:36] jimharris commented on #1007
Sounds like a great strategy @Seth5141.  I say we try this and see if/how much it affects these types of failures.

[2019-11-15 17:38] Seth5141 opened #1060 "Test timeout in make install"
## Current Behavior
A VM timed out during make install on the unittests. fedora_vm_10 which is hosted on WFP1

## Steps to Reproduce
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/49863/archive/unittest_autotests/build.log

[2019-11-15 17:39] spdkci commented on #1060
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49863.html

[2019-11-15 17:47] spdkci commented on #1059
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49868.html

[2019-11-15 19:38] Seth5141 commented on #1043
Closing this since the change has been merged.

[2019-11-15 19:38] #1043 closed

[2019-11-17 16:11] risicle opened #1061 "CVE-2019-14818"
https://nvd.nist.gov/vuln/detail/CVE-2019-14818 affects many versions of `dpdk`.

In `spdk`, you appear to bundle versions of `dpdk`. As such, it is your responsibility to assess whether this issue is applicable to you and update it to a safe version if necessary, including making any required backports/stable releases for affected branches.

[2019-11-18 02:00] glodfish-zg commented on #1048
ok, I will test it.  I think we can also check the kernel code both in 4.12 and 5.4 to compare the difference. Maybe we can find something.

[2019-11-18 02:12] optimistyzy commented on #1061
Mark it as third party issue since it is related with dpdk.

[2019-11-18 04:36] jessehui commented on #1056
This should fix. If nvme ctrlr not support Opal, it will not send error response.
https://review.gerrithub.io/c/spdk/spdk/+/474911

[2019-11-18 05:52] liang2yan commented on #1055
@ksztyber , please see attached file.
[vmd1055.log](https://github.com/spdk/spdk/files/3856952/vmd1055.log)

[2019-11-18 05:59] liang2yan commented on #1057
@ksztyber , please see attached file for the debug output of command "./examples/vmd/led/led -s off -d off".

[2019-11-18 07:33] yidong0635 commented on #1046
@Donaim , form this log  , it need  to to rebase , it has been resolved for a long time I think.

[2019-11-18 07:57] Donaim commented on #1046
@yidong0635 ok, sorry for false positive then :) and thank you

[2019-11-18 08:15] wanghailiangx opened #1062 "vpp_autotest: print with illegal characters in log"
There are some illegal characters in autotest-per-patch/vpp_autotest , such as 鈥榑鈥� and â€˜_â€™
They come from the third part tool: vpp.
[code]

## Expected Behavior
print without illegal characters

## Current Behavior
print with illegal characters

## Possible Solution
Please check source code: /usr/local/src/vpp, fix illegal characters

## Steps to Reproduce
1. open any one SPDK CI Jenkins log

[2019-11-18 09:01] spdkci commented on #1030
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49941.html

[2019-11-18 12:54] #994 closed

[2019-11-18 13:21] ksztyber commented on #1053
That's a shame. Hopefully, the next time this failure happens the core dump will be saved.

[2019-11-18 14:58] jimharris commented on #1053
@Seth5141 - I know that we can't keep core files indefinitely due to storage reasons.  Can you share the cutoff for when we start deleting cores (or the builds associated with cores)?  It looks like in this case, it was deleted within 2 days which in a lot of cases won't be enough time for someone to take an initial look.

[2019-11-18 15:00] ksztyber commented on #1057
@liang2yan Could you check if the LED tool sees the changes being made? Running it without the -s argument should print the current state of the LEDs. E.g:
[code]

[2019-11-18 15:21] jimharris commented on #1062
I think some of these "illegal" characters are a localized problem on your system.  At least I don't see the Chinese characters when viewing these on my system.

I do see the â€˜_â€ weirdness though.  But I think it's because VPP literally makes a #define for _.

#define _(flag, func, reg, bit)

The function that gets defined uses () instead of (void) which at least on some of the CI systems seems

[2019-11-18 15:21] #1062 closed

[2019-11-18 15:44] jimharris commented on #1029
Patch was merged.

[2019-11-18 15:44] #1029 closed

[2019-11-18 15:54] ksztyber commented on #1055
It looks like the device behind the switch cannot be assigned base addresses (vmd_assign_base_addrs fails). I've posted a patch adding a few more debug logs, that should help in pinpointing the exact issue: https://review.gerrithub.io/c/spdk/spdk/+/474997
@liang2yan, could you apply this patch and rerun `lsvmd -d`?

[2019-11-18 17:58] rdxavner opened #1063 "SPDK NVME secondary segmentation fault"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

Secondary should be able to probe any specific nvme device that the primary is attached to, at any time, without crashing
## Current Behavior

See step to reproduce
## Possible Solution

## Steps to Reproduce

[2019-11-18 18:24] jimharris commented on #1063
Thanks @rdxavner.  Can you try https://review.gerrithub.io/c/spdk/spdk/+/475015?

[2019-11-18 18:31] rdxavner commented on #1063
Sure, but I'll be able to do so, beginning of next week. I'll update you

On Mon, Nov 18, 2019 at 8:25 PM Jim Harris <notifications@github.com> wrote:

[2019-11-18 19:36] tomzawadzki opened #1064 "vpp: spdk_scsi_task_put: Assertion `task->ref > 0' failed."
This intermittent failure occurs on ./test/iscsi_tgt/fio/fio.sh when testing with VPP backend.
Test step is when raid volume is removed during fio traffic.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce
Occurs on autotest.sh with VPP backend
1. spdk/scripts/fio.py -p iscsi -i 1048576 -d 128 -t rw -r 10
2. spdk/scripts/rpc.py bdev_raid_delete raid0
3. Trigge

[2019-11-18 19:37] spdkci commented on #1064
Another instance of this failure. Reported by @tomzawadzki. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50028.html

[2019-11-18 20:15] jimharris commented on #1059
This one isn't from make clean, but it's from the second (non-shared) normal build:

https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50039.html

[2019-11-18 22:15] shuhei-matsumoto commented on #1064
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50028.html occurred at the latest SPDK master. So I will investigate this issue. Thanks for posting and sorry for inconvenience.

[2019-11-19 00:25] spdkci commented on #1059
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50061.html

[2019-11-19 00:25] spdkci commented on #1059
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50059.html

[2019-11-19 00:29] shuhei-matsumoto opened #1065 "Failed to limit the io read rate of NULL bdev by qos"
Almost close to upper bound. So sleep command may not be accurate.
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50064.html

  02:26:19	# '[' BANDWIDTH = IOPS ']'
   02:26:19	# jq -r '.bdevs[0].bytes_read'
   02:26:19	# echo '{' '"tick_rate":' 2494202834, '"bdevs":' '[' '{' '"name":' '"Null_0",' '"bytes_read":' 79513059328, '"num_read_ops":' 19412361, '"bytes_written":' 0, '

[2019-11-19 01:47] shuhei-matsumoto commented on #1064
@tomzawadzki

I add a comment
Other logs looks the one before my recent patch series.
But the one you added at the last is the real issue.
So I'm investigating the issue.

+2 iSCSI patch series for refactoring will be no harm to investigate this issue.

Anyway thank you so much for filing this issue.

Thanks,
Shuhei

[2019-11-19 01:50] liang2yan commented on #1055
@ksztyber , please see the attached file. it is the log with your patch.
[newvmd1055.log](https://github.com/spdk/spdk/files/3861534/newvmd1055.log)

[2019-11-19 02:06] liang2yan commented on #1057
@ksztyber , I have run same command with you. The log is as below:
[code]
But I still can't see the status change of the led. is it my hardware issue?

[2019-11-19 03:03] jessehui opened #1066 "Keep getting "Process leaked file descriptors" failure for Jenkins autotest"
`Process leaked file descriptors` errors are shown, including but not limited, on [blobfs autotest](https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/50079/archive/BlobFS_autotest/build.log), [nvme_phy atuotest](https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/50080/archive/nvme_phy_autotest/build.log), [vhost autotest](https://dqtibwqq6s6ux.cloudfront.ne

[2019-11-19 06:59] shuhei-matsumoto commented on #1064
Hi All,

I submitted three patches to fix this issue.
https://review.gerrithub.io/c/spdk/spdk/+/475042
https://review.gerrithub.io/c/spdk/spdk/+/475043/1
https://review.gerrithub.io/c/spdk/spdk/+/475044/1

The following behavior made investigation difficult :)

 TAILQ_REMOVE(&conn->active_r2t_tasks, primary, link);
 TAILQ_REMOVE(&conn->active_r2t_tasks, primary, link);
caused no error if the first

[2019-11-19 07:37] spdkci commented on #1059
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50073.html

[2019-11-19 07:42] spdkci commented on #1065
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50092.html

[2019-11-19 08:43] glodfish-zg commented on #1048
I tried to download the SLES12SP4 but failed. So I tried the 4.12 kernel still I can't reproduce this issue but I got this message when I run the perf tool.
nvme_ctrlr.c:1899:nvme_ctrlr_configure_aer_done: *NOTICE*: nvme_ctrlr_configure_aer failed!

[2019-11-19 08:46] spdkci commented on #1007
Another instance of this failure. Reported by @tomzawadzki. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50049.html

[2019-11-19 11:02] ksztyber commented on #1057
That is weird, it looks like the registers controlling the state of the LEDs are written correctly (they do hold their values), but they don't seem to be actually modifying the state of the LEDs. Could you check if they can be controlled using non-SPDK (e.g. `ledctl`) tools?

[2019-11-19 11:46] tomzawadzki opened #1067 "iscsi fio.sh: fio takes 2 minutes to finish during the iscsi hotplug test - results in vpp or iscsi timeout"
VPP autotest job times out at non obvious part of test script.
Checking the timing.txt it seems that fio.sh is sometimes taking much longer than expected.

## Expected Behavior
Timing.txt:
`autotest;iscsi_tgt;fio 18`
Usually this takes around 20 seconds on VPP autotest and iSCSI autotest jobs.

## Current Behavior
Timing.txt:
`autotest;iscsi_tgt;fio 113`
Timed out results take almost 2 minutes to

[2019-11-19 11:56] Donaim commented on #314
I could run vhost locally with no issues at all if hugepages were available for regular user,
but I couldn't even start hello_world example without allocating hugepages.
We don't support `--no-huge` or `--in-memory` flags for DPDK,
so there does not seem to be a way to achieve what @pohly initially requested.

For the case when hugepages are available, the guide of @darsto provides everything that

[2019-11-19 12:22] tomzawadzki opened #1068 "autotest slow emulated device access time"
When gathering list of test completions all non binary files in SPDK directory are searched for phrase "report_test_completion". This causes to go over all the files in repo recursively and if the files weren't accessed recently it takes much longer than needed. Probably is exposed more just after reboot of a VM after previous run fail.

This is just a single example of such occurrence. There can

[2019-11-19 12:56] tomzawadzki commented on #1068
Patch addressing gathering test completions can be found here:
https://review.gerrithub.io/c/spdk/spdk/+/475083

[2019-11-19 14:26] tkulasek commented on #1033
Different approach https://review.gerrithub.io/c/spdk/spdk/+/474273 solves this issue.

[2019-11-19 15:18] tomzawadzki commented on #1046
Patch https://review.gerrithub.io/c/spdk/spdk/+/473910 is merged. This issue can be closed.

[2019-11-19 15:18] #1046 closed

[2019-11-19 15:23] tomzawadzki commented on #1056
Looking at https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/49619/archive/iscsi_autotest/timing.txt it seems that it might be related to #1067

[2019-11-19 15:27] tomzawadzki commented on #1053
Bug scrub: Files over particular size are not copied over to AWS - which is what probably happens to the core dumps. Those are saved for some time on Jenkins. @ksztyber - lets try to catch such failure in the future and try to workout how to get the core dump.

[2019-11-19 15:31] tomzawadzki commented on #1024
Bug scrub: This failure has not occurred for some time. There were some hotplug related changes merged since and no new reports. Closing this one.

[2019-11-19 15:31] #1024 closed

[2019-11-19 15:36] tomzawadzki commented on #998
Bug scrub: @glodfish-zg Any update after the patch above was merged ?

[2019-11-19 15:38] tomzawadzki commented on #954
Bug scrub: @Cindy-010 Patches here https://review.gerrithub.io/c/spdk/spdk/+/471556 were merged, can you see if the issue still persists ?

[2019-11-19 15:41] tomzawadzki commented on #1061
Bug scrub: Will post cherry-picks for DPDK 19.08.2 to spdk/dpdk repo for SPDK master.

[2019-11-19 15:44] tomzawadzki commented on #1042
Bug scrub: @benlwalker Will create patch for spdk/dpdk to improve auto detection of the mode. Along with SPDK change to pass the option to DPDK init.

[2019-11-19 15:48] tomzawadzki commented on #993
Bug scrub: The issue is not expected to be hit on patch in review after the changes. Closing this issue.

[2019-11-19 15:48] #993 closed

[2019-11-19 16:27] tomzawadzki commented on #1061
Please see patches on spdk/dpdk for review:
- [vhost: fix vring requests validation broken if no FD](https://review.gerrithub.io/c/spdk/dpdk/+/475130/)
- [vhost: fix possible denial of service by leaking FDs](https://review.gerrithub.io/c/spdk/dpdk/+/475129/)
- [vhost: fix possible denial of service on SET_VRING_NUM](https://review.gerrithub.io/c/spdk/dpdk/+/475128/)

[2019-11-19 17:13] jimharris opened #1069 "nvmf/tcp: intermittent hang in host/target_disconnect.sh test"
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50146.html

Waiting for process to start up and listen on UNIX domain socket /var/tmp/spdk.sock...
 16:47:40	# xtrace_disable
 16:47:40	# PREV_BASH_OPTS=ehxBE
 16:47:40	# set +x
Starting SPDK v20.01-pre git sha1 f78cd57baa / DPDK 19.08.0 initialization...
[ DPDK EAL parameters: nvmf -c 0xF0 --log-level=lib.eal:6 --log-level=lib.c

[2019-11-19 17:19] spdkci commented on #1065
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50155.html

[2019-11-19 17:20] jimharris commented on #1056
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/50155/archive/nvme_phy_autotest/index.html

This one is not iscsi_autotest - but is another general build timeout for some unknown reason.

[2019-11-19 17:23] spdkci commented on #1007
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50148.html

[2019-11-19 18:30] benlwalker commented on #1042
https://review.gerrithub.io/c/spdk/spdk/+/475148

[2019-11-19 18:30] benlwalker commented on #1012
https://review.gerrithub.io/c/spdk/spdk/+/475149

[2019-11-19 19:21] spdkci commented on #1059
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50162.html

[2019-11-19 19:32] benlwalker commented on #1066
There's two bugs here. First, the Opal code is broken and crashes
the target with an assert when the test script attempts to do a revert on an
NVMe device.

The second problem is more serious. Throughout the test scripts, we use a bash function called
'killprocess' to shut down the target applications. However, killprocess succeeds even if the background target application crashed and is no longer

[2019-11-19 19:34] jimharris commented on #1012
Thanks Ben.  I added a couple of comments.  @AlekseyMarchuk could you also take a look at this patch for any ARM impacts?

[2019-11-19 19:46] spdkci commented on #1017
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50161.html

[2019-11-19 19:48] jimharris commented on #970
Closing issue.  If you're able to provide some more of these details in the future, please feel free to reopen this issue.

[2019-11-19 19:48] #970 closed

[2019-11-19 19:49] Seth5141 opened #1070 "failure to join client thread in rpc_client.sh test"
## Current Behavior
The rpc_client.sh test currently looked like this in my failed test.

[code]
## Context (Environment including OS version, SPDK version, etc.)
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/50160/archive/event_autotest/build.log

[2019-11-19 19:50] spdkci commented on #1070
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50160.html

[2019-11-19 19:57] jimharris commented on #1070
Related to issue #839.  That was fixed (or worked around) by patch acea7bbce.  This seems to be another instance of some threads getting swapped out during execution - in this case, we expect a thread to exit within one second but it timed out.  For #839 was fixed it by removing the sem_timedwait and just do the pthread_join - it doesn't really matter if the threads take 0.5 or 5 seconds to exit f

[2019-11-19 20:16] spdkci commented on #1059
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50166.html

[2019-11-19 21:08] spdkci commented on #1060
Another instance of this failure. Reported by @benlwalker. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50165.html

[2019-11-19 21:12] spdkci commented on #1060
Another instance of this failure. Reported by @benlwalker. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50164.html

[2019-11-19 21:45] Seth5141 commented on #1007
As of now, all of these VMs are on underprovisioned hosts, both in terms of CPU and memory.
WFP1 - 100/112 CPUs allocated for VMs, 166 / 251 GiB Memory allocated for VMs
PE3 - 48/56 CPUs allocated for VMs, 70 / 125 GiB Memory allocated for VMs
PE1 - 52/56 CPUs allocated for VMs, 88 / 188 GiB Memory allocated for VMs

Let's see how these types of failures are affected by the new provisioning.

Some

[2019-11-19 21:51] spdkci commented on #1007
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50168.html

[2019-11-19 22:17] Seth5141 commented on #1070
@jimharris Thanks, that made writing a fix a lot easier. I have completely removed the semaphores where I can, and swapped out the other sem_timedwait call for a sem_wait call.
https://review.gerrithub.io/c/spdk/spdk/+/475166

[2019-11-19 22:36] shuhei-matsumoto commented on #1065
Is it allowed to add the raw value of spdk_get_ticks to bdev_get_iostat RPC and calculate the accurate time duration between two calls of bdev_get_iostat RPC by using tick_rate?

[2019-11-19 22:54] spdkci commented on #1059
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50181.html

[2019-11-19 23:19] shuhei-matsumoto commented on #1065
I realized the idea by two patches https://review.gerrithub.io/c/spdk/spdk/+/475167 and https://review.gerrithub.io/c/spdk/spdk/+/475168/1.

[2019-11-19 23:22] spdkci commented on #1017
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50184.html

[2019-11-19 23:41] Seth5141 commented on #1056
Closing this since the only occurrence of this timeout for iscsi was also related to #1067, the other occurrence will be moved to another issue.

[2019-11-19 23:41] #1056 closed

[2019-11-19 23:42] Seth5141 commented on #1067
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_49619.html

[2019-11-19 23:43] spdkci commented on #1059
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50188.html

[2019-11-20 05:03] jessehui commented on #1066
We can disable opal test for now. https://review.gerrithub.io/c/spdk/spdk/+/475169

[2019-11-20 05:40] liang2yan commented on #1057
I have run ledctl command using following parameters:
`ledctl off={/dev/nvme2n1 /dev/nvme3n1 /dev/nvme4n1}`
The three devices are the nvme sdd which are behind the RAID controllers. there is no change for the LED status. So how to control the nvme ssd led status?

[2019-11-20 06:22] liang2yan commented on #1055
@ksztyber , any update? Some users are trying vmd module. They may met same issues. so we need to fix this issue soon.

[2019-11-20 08:39] spdkci commented on #1059
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50206.html

[2019-11-20 11:10] Comphix commented on #1065
The possible reason is that sleep time is not that accurate enough to calculate the difference. For a short solution, let me still have a little wider range (0.85 ~ 1.15) currently it is (0.9 ~ 1.1).

[2019-11-20 11:12] Comphix commented on #1066
also will take a detailed look at the "killprocess" issue.

[2019-11-20 11:18] shuhei-matsumoto commented on #1065
Hi @Comphix

Thank you for your comment.
My patch is not based on the fact and so it will be wrong.
Will you share your possible reason with us?
We can rerun for now and it’s fine after you are ready.

-Shuhei

[2019-11-20 11:21] Comphix commented on #1065
A patch for the testing is added https://review.gerrithub.io/c/spdk/spdk/+/475229 so as to avoid the failures first. As described, the testing under limiting is only run few seconds (5 seconds) and this may relies on how accurate we calculate the limit. So in this case, expand from 0.9-1.1 to 0.85-1.15 first.

[2019-11-20 11:25] Comphix commented on #1065
The possible reason here is that I pick a very minimum limit of 2MB for 5 seconds and the variance could be amplified (like from one more IO in the size of 4K). I will take more look here.

[2019-11-20 11:41] shuhei-matsumoto commented on #1065
Thanks Gang. I got it but we may have seen only on FreeBSD. I hope that give any hint

[2019-11-20 12:36] ksztyber commented on #1057
I'm afraid that the fact that you're not able to control the LEDs neither using SPDK, nor ledctl proves that the issue is not related to the software, but rather to some kind of hardware/configuration problem on your end. Have you tried using different SSDs?

[2019-11-20 12:47] ksztyber commented on #1055
I'm working on setting up a similar configuration, so that I could reproduce it.
In the meantime, could you check if the first call to `lsvmd` shows the SSD behind the VMD? I suspect that the issue might be related to the way the VMD code uses config bars to save the base/limit registers and use them during subsequent enumerations. There are two ways of resetting those values: rebooting the machin

[2019-11-20 14:10] Comphix commented on #1065
Thanks. I've changed my patch in another solution. Instead of having a fixed bandwdith limit, now it will use a measured bandwdith performance which could be more precise from the platform like mentioned the FreeBSD platform.

[2019-11-20 14:29] spdkci commented on #1069
Another instance of this failure. Reported by @tomzawadzki. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50250.html

[2019-11-20 15:14] jimharris commented on #1065
We should go with Shuhei's patches.  I looked at the calculated IO rates on a few different test runs - on FreeBSD, we end up with quite a bit of deviation from expected.  But after Shuhei's patches, the actual IOPs rate with QoS enabled ends up almost exactly as expected.

[2019-11-20 15:19] jimharris commented on #1065
(All data here collected from first CI run of Shuhei's 475168 patch on FreeBSD VM.
Ticks calculation:
The script did a "sleep 5", but the ticks data from Shuhei's patch shows the following:

Before:
  "tick_rate": 2494199702,
  "ticks": 915819414002,
After:
  "tick_rate": 2494199702,
  "ticks": 928990110044,

(928990110044 - 915819414002) / 2494199702 = 5.28 seconds

So there is definitely some in

[2019-11-20 18:09] Seth5141 commented on #1067
This appears to be a result of the iscsi hotplug test not exiting in a reasonable amount of time. On a normal build, the time during the iscsi_tgt break between destroying the raid bdev and the fio job finishing is about 1 second. However on both of the failed builds linked above, the time between destroying the raid bdev and the fio job finishing is nearly two minutes.
I think that this is genera

[2019-11-20 18:11] Seth5141 commented on #1067
@shuhei-matsumoto @ZiyeYang Do either of you have any idea why fio might hang during the hotplug test?

[2019-11-20 20:33] Seth5141 opened #1071 "Test times out in test/ocf/integrity/stats.sh because bdevperf fails to exit."
Latent failure observed during the nvme_phy_autotest job.

output:
[code]

## Possible Solution
This may be a test issue since I don't see why we have to run bdevperf for 120 seconds when just making sure the stats command works. I will look at the test organization a little.

## Context (Environment including OS version, SPDK version, etc.)
A couple of logs:
https://dqtibwqq6s6ux.cloudfront.net/r

[2019-11-20 20:37] jimharris commented on #1071
I agree it doesn't need to be 120 seconds.  But it is trying to killprocess right after it gets the stats.  I suspect even lowering this to something smaller may not fix the issue - if killprocess isn't working, the wait may never complete.

[2019-11-20 20:57] Seth5141 opened #1072 "Autobuild.sh hanging during initial make clean *before any tests begin.*"
## Current Behavior
This specific class of failures occurs on both physical and virtual machines in the test pool before any testing begins during the autobuild phase of the job. The logs look like this:
[code]

## Context (Environment including OS version, SPDK version, etc.)
This has been reported at least four times between 11/15/2019 and 11/20/2019
https://dqtibwqq6s6ux.cloudfront.net/public_b

[2019-11-20 21:01] Seth5141 commented on #1059
Closing this issue. After inspecting all instances of this issue, I have found that there are actually several classes of failures here. I've created new issues for those more specific signatures.

[2019-11-20 21:01] #1059 closed

[2019-11-20 21:13] Seth5141 commented on #1071
Yeah, I think that we could just run bdevperf for 5 - 10 seconds, and let it finish naturally. I don't think the purpose of this test was to determine if we could kill bdevperf with sigterm. We should only pass or fail here based on the return code of the RPC, not on anything else.
As an aside, it would probably be good to know why sigterm sometimes fails to kill bdevperf, but that, I feel, is out

[2019-11-20 21:16] jimharris commented on #1072
49835 dmesg shows a kernel seg fault.  That's the only one from above that was in a VM.  So this could be two different issues that show the same symptom?

[2019-11-20 21:19] Seth5141 commented on #1071
https://review.gerrithub.io/c/spdk/spdk/+/475313 - patch where I remove the call to killprocess from the test.

[2019-11-20 21:24] jimharris commented on #1071
Oh - I missed that this is all related to recently closed issue #1025 (since we split this new test out into a separate script).  This used to just run the write test for 4 seconds and collect stats, but we hit cases where bdevperf actually exited before we had a chance to get the stats.  I specifically asked @Donaim to run this for 120 seconds instead with a killprocess.

[2019-11-20 21:45] Seth5141 commented on #1071
Ah haha. I see. OK, I will dig a little deeper then and see if there's not a reasonable explanation for why we sometimes fail to kill bdevperf.

[2019-11-20 22:25] shuhei-matsumoto commented on #1067
@Seth5141

Thanks for your comment. Now I know this issue because I have seen this issue locally.

LUN (bdev) hotplug behavior is different after recent refinements. Connection is still active after removing LUN. LUN hotplug itself doesn't require exiting connection and this is the right behavior.

Previous implementation had required exiting connection immediately unexpectedly. So previous behavi

[2019-11-20 22:28] Seth5141 commented on #1071
Patch in the meantime to keep the latent failure away https://review.gerrithub.io/c/spdk/spdk/+/475315. Once that is merged, I'll take off the latent_failure tag, but leave the issue open for review later.

[2019-11-20 22:34] shuhei-matsumoto commented on #1065
Thank you @jimharris

Delayed wakeup will get more IOs and current calculation will have larger IOPS or bandwidth. Timer management is complex and there may be some difference between Linux and BSD.

This is a off topic. I have BSD and FreeBSD book written by Kirk McKusick. I haven't read source code yet and book may not explain the cause. But your analysis gave me a motivation to access them agai

[2019-11-20 22:46] shuhei-matsumoto commented on #1065
@Comphix

As Jim said, could we go with my patches? This change shows current SPDK bdev QoS is nice :)

-Shuhei

[2019-11-20 22:54] shuhei-matsumoto commented on #1067
I'm watching the terminal editor when the issue occurs.

It looks that two minutes took at
Jobs: 1 (f=1): [M(1),X(1)][100.0%][r=0KiB/s,w=0KiB/s][r=0,w=0 IOPS][eta 00m:00s]

eta counted down
[code]
========== Backtrace start: ==========

in /home/spdk/spdk/test/iscsi_tgt/common.sh:62 -> cleanup_veth_interfaces()
     ...
   57                   kill_vpp
   58           fi
   59
   60           # Cl

[2019-11-20 23:12] spdkci commented on #1007
Another instance of this failure. Reported by @benlwalker. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50310.html

[2019-11-20 23:14] shuhei-matsumoto commented on #1067
I think I don't find anything to get the root cause yet. I'm not sure if I can but please give me time to investigate more. I hope this is not so critical yet.

[2019-11-20 23:38] spdkci commented on #1060
Another instance of this failure. Reported by @benlwalker. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50303.html

[2019-11-20 23:42] shuhei-matsumoto commented on #1067
I don't know this explains all cases but for some cases, the target kept getting EAGAIN for socket read and test completed when the target got EINVAL.  We may be able to use spdk_sock_is_connected() Ben added recently for these cases. I will try it and share the result.

[2019-11-20 23:47] Seth5141 commented on #1069
This appears to have only hit on https://review.gerrithub.io/c/spdk/spdk/+/473282 That change should be merged, but it's a good clue to something going wrong in the tcp transport.

[2019-11-20 23:50] shuhei-matsumoto commented on #1067
I may be able to explain the cause.

Before refinements: connection moves EXITING state immediately
After refinement: connection stays RUNNING and continues trying receive PDUs after LUN is removed. We had not expected socket read returned EAGAIN repeatedly in this case.

[2019-11-21 00:16] jimharris commented on #1072
This build timed out - not during make clean, but it clearly shows something amiss since make -j4 clean took 3 minutes:

https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50296.html

 22:04:11	$ make -j4 clean
 22:07:05	$ '[' 1 -eq 1 ']'
 22:07:05	$ /var/jenkins/workspace/Other_systems/ubuntu18_autotest/spdk/test/make/check_so_deps.sh
  22:07:05	$ xtrace_enable
 22:07:05	$ libdi

[2019-11-21 01:05] shuhei-matsumoto commented on #1067
I got more information by reproducing and getting log locally.

From the target side, the connection has been active but idle for two minutes, and then the target got ECONNRESET.

Ctrl + C showed the initiator had stayed in
 => 62           ip link delete $INITIATOR_INTERFACE

We don't support asynchronous event notification but I'm not sure if async event notification is helpful for this case as

[2019-11-21 01:52] glodfish-zg commented on #998
No, I have no update. We can try if we can reproduce this issue.

[2019-11-21 03:00] liang2yan commented on #1055
@ksztyber , please check the log.
[vmd1121.log](https://github.com/spdk/spdk/files/3872605/vmd1121.log)

I followed your steps except i rebooted the machines before the first step 2. So I don't need to run the first step 1.

[2019-11-21 04:19] Comphix commented on #1065
Thanks Shuhei, yes, I've added my "+1" for your two patches.

[2019-11-21 04:20] Comphix commented on #1065
For my patch (https://review.gerrithub.io/c/spdk/spdk/+/475229) to use the measured bandwidth performance for limiting (similar to measured IOPS performance for limiting), I will rebase that after your patches have been merged.

[2019-11-21 05:38] shuhei-matsumoto commented on #1067
I collected the information during unexpected two minutes.

During two minutes, only NOP-In/Out are exchanged, there was no reset and no read/write I/O and FIO is just waiting for something.
After two minutes, initiator closed the TCP connection, and target knows it by ECONNRESET.

I suspend further investigation for now and will work on developing unit attention (async. event notification).

[2019-11-21 06:13] liang2yan opened #1073 "[autotest-nightly]nvmf multiconnection.sh report "nvme connect " error in nvmf_autotest_nightly"
Nightly testing continued to fail on the nvmf multiconnection testing.

## Expected Behavior
no error from this test suite.

## Current Behavior
nvme command reports following error:
 19:04:20	# nvme connect -t rdma -n nqn.2016-06.io.spdk:cnode2 -a 10.34.119.172 -s 4420
Failed to write to /dev/nvme-fabrics: Cannot allocate memory
then the test exited with error.

## Context (Environment including

[2019-11-21 07:18] spdkci commented on #1007
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50325.html

[2019-11-21 07:53] spdkci commented on #1030
Another instance of this failure. Reported by @tomzawadzki. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50322.html

[2019-11-21 07:55] tomzawadzki commented on #1030
It seems that patch https://review.gerrithub.io/c/spdk/spdk/+/475149/3 triggered this issue, which is based on recent master f924c94b4cc4cea3f7ba97d22e295edd5f459715. This is after the patches linked in this issue were already merged.

[2019-11-21 08:04] shuhei-matsumoto commented on #1030
Thank you for checking intermittent failures.

This is an new signature but https://review.gerrithub.io/c/spdk/spdk/+/475044 (being reviewed now) is apparent bug fix and I want to see if the fix works.
Of course I'm still doing code inspection and test, and will share any I find.

[2019-11-21 08:19] liang2yan commented on #1057
I used P4500 SSD, it still can't work. So any documents/link for the hardware which can enable VMD?

[2019-11-21 09:37] Comphix commented on #1065
Will keep this issue one more day. Thanks Shuhei's fix.

[2019-11-21 09:44] tomzawadzki commented on #1073
There is patch out by @Seth5141 fixing this https://review.gerrithub.io/c/spdk/spdk/+/475318/

I've ran this through the nvmf nightly test and seems to fix it. Thank you !

[2019-11-21 10:27] shuhei-matsumoto commented on #1067
Correction. I will continue investigation tomorrow. During two minutes delay  connection is still active. Initiator may be waiting for some critical responses. Target replied all though. Contents of response PDU might be wrong. Thanks for your help and patience

[2019-11-21 20:18] benlwalker opened #1074 "iscsi_tgt: conn.c:313: spdk_iscsi_conn_free_pdu: Assertion `conn->data_in_cnt > 0' failed."
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/50435/archive/RBD_autotest/failed_test.log

[2019-11-21 20:19] spdkci commented on #1074
Another instance of this failure. Reported by @benlwalker. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50435.html

[2019-11-22 03:19] Comphix opened #1075 "NVMe-oF NULL point access error"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior
No Core Dump

## Current Behavior
rdma.c:2042:25: runtime error: member access within null pointer of type 'union nvmf_c2h_msg'
    #0 0x6e14f2 in spdk_nvmf_rdma_request_process /var/jenkins/workspace/NVMeOF_te

[2019-11-22 04:11] shuhei-matsumoto commented on #1074
This occurred in the calsoft test suite and not related with LUN hotplug.
I'm investigating this but don't know much about ERL > 0 and so this may be difficult.

[2019-11-22 04:31] Comphix commented on #1064
Another instance https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/50455/archive/vpp_autotest/build.log

[2019-11-22 05:42] shuhei-matsumoto commented on #1030
For https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50322.html I add a new fix with unit test. https://review.gerrithub.io/c/spdk/spdk/+/475453

[2019-11-22 05:53] Comphix commented on #1065
close this one.

[2019-11-22 05:54] spdkci commented on #1060
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50451.html

[2019-11-22 05:55] Comphix opened #1076 "NVMl autotest timeout due to existing RPC socket"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior
No Error

## Current Behavior
************************************
START TEST SUITE test/rpc_client/rpc_client.sh
************************************
 08:23:43	# xtrace_enable
 08:23:43	# test/rpc_client/rpc_c

[2019-11-22 05:57] Comphix commented on #1076
Looking at https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/50463/archive/nvml_autotest/build.log

Test start at 08:19:09	$ xtrace_enable
Error of RPC sock at:  08:23:43	# /var/jenkins/workspace/NVML_tests/nvml_autotest/spdk/test/rpc_client/rpc_client_test
rpc.c: 173:spdk_rpc_listen: *ERROR*: RPC Unix domain socket path /var/tmp/spdk.sock in use. Specify another.

It is about

[2019-11-22 10:38] tkulasek opened #1077 "Kernel Oops in nfsv4 on CI VMs"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

All tests shall pass.

## Current Behavior

I've noticed there's lot of tests on CI VMs with timeouts, unexpected fails or no results, with kernel Oops in nfsv4.
Most common symptoms (not sure if related):
- f

[2019-11-22 13:05] ksztyber commented on #1057
Unfortunately I'm not aware of any documents describing the VMD's LED management... You could also try setting the registers responsible for LED management manually:
[code]

[2019-11-22 13:54] #1032 closed

[2019-11-22 15:01] Seth5141 commented on #1073
Patch was merged and nightlies are passing again.

[2019-11-22 15:01] #1073 closed

[2019-11-22 15:02] Seth5141 commented on #1070
Change has been merged.

[2019-11-22 15:02] #1070 closed

[2019-11-22 16:33] spdkci commented on #1064
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50512.html

[2019-11-22 16:34] Seth5141 commented on #1064
This most recent log happened on the posix iscsi tests.

[2019-11-25 07:23] optimistyzy commented on #1017
@tomzawadzki  After I analyzed, it should be the issue of lvol. Before we see aio_bdev0 cannot create, we see:

"INFO: RPC COMMAND bdev_lvol_get_lvstores
ERROR: old and loaded lvol bdev list count is not equal"
It occurs the same situation. So could you assign this issue to lvol developer, which may be much better than assigning this issue to me.

[2019-11-25 09:27] spdkci commented on #1076
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50524.html

[2019-11-25 09:33] karlatec commented on #572
@jimharris Nah, it's OK to close it. I forgot about this one.

[2019-11-25 09:33] #572 closed

[2019-11-25 09:35] karlatec commented on #572
Word of comment: actually it seems that it was a configuration error, not a perf degradation.
Also, I wasn't aware than that there disks have so low IOPS results with qd=1

[2019-11-25 10:35] AlekseyMarchuk commented on #1075
I'll check this issue

[2019-11-25 11:50] karlatec commented on #1007
@Seth5141 @jimharris I've just changed another bit of config which may affect the results.
We currently run all our VMs in -snapshot mode to always have a clean VM copy after restart.

By default temporary files for -snapshot mode are stored in /tmp directory which is on the NAND SSD holding the OS installation. I've reconfigured the VMs to use a temporary location on a NVMe drive instead.
For now

[2019-11-25 12:22] tomzawadzki commented on #1074
For some reason the DPDK nightly jobs seem to trigger it pretty often:
[SPDK master vs DPDK 19.08](https://dqtibwqq6s6ux.cloudfront.net/results/autotest-spdk-master-vs-dpdk-19-08/builds/489/archive/RBD_autotest_nightly/build.log)
[SPDK master vs DPDK master](https://dqtibwqq6s6ux.cloudfront.net/results/autotest-spdk-master-vs-dpdk-master/builds/729/archive/RBD_autotest_nightly/build.log)

On job r

[2019-11-25 12:47] spdkci commented on #1076
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50576.html

[2019-11-25 12:54] ksztyber commented on #1055
@liang2yan, could you test the following patch: https://review.gerrithub.io/c/spdk/spdk/+/475716

[2019-11-25 13:04] rdxavner commented on #1063
Hi Jim,
I checked the patch, and it works both with perf and with our application
as well.

Thanks,
Avner

On Mon, Nov 18, 2019 at 8:25 PM Jim Harris <notifications@github.com> wrote:

[2019-11-25 13:06] shuhei-matsumoto commented on #1074
Hi @tomzawadzki

Ziye kindly let me know the root cause and is creating the fix.

Reverting https://github.com/spdk/spdk/commit/6e4e85dcef91e6793b554a5d15c72ba93e56a4ab#diff-a51387bcf4a14095dce0764100be7023 will reduce the frequency and Ziye’s future patch will fix the issue completely. So this will be fixed sooner or later

This was caused by my lack of knowledge. Sorry for that

[2019-11-25 13:14] optimistyzy commented on #1074
@benlwalker @shuhei-matsumoto  my following series (the last one is:  https://review.gerrithub.io/c/spdk/spdk/+/475657)  can solve this issue. I also test with the calsoft several time (with --enable-debug compilation) and does not trigger this issue on my local platform.
It makes the deferred PDU handling correct and update the unit test case to make it correctly simulate snack_pdu_handleing case

[2019-11-25 13:20] #1063 closed

[2019-11-25 14:26] jimharris commented on #1007
@karlatec - fantastic!  Seth and I were just chatting about this last week, whether the snapshot storage was part of the issue (especially if it was on the SATA SSDs).

[2019-11-25 14:26] jimharris commented on #1075
Thanks Alexey!  I'll assign this one to you.

[2019-11-25 14:27] jimharris commented on #1075
Never mind - I see you already did that.  :-)

[2019-11-25 17:51] spdkci commented on #1007
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50627.html

[2019-11-25 19:58] joyantamishu opened #1079 "network qos in spdk nvme TCP implementation"
Hello,

I have a question regarding the nvme over TCP implementation in SPDK. While doing TCP socket programming, we can set different options at the server side socket using _setsockopt_ method. One of the option concerns marking the TCP packets in the IP layer (using IP_TOS flag in _setsockopt_ method), to manage the network quality of services (qos).

And we can set this TOS value per connectio

[2019-11-25 20:54] spdkci commented on #1067
Another instance of this failure. Reported by @benlwalker. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50635.html

[2019-11-25 20:55] spdkci commented on #1074
Another instance of this failure. Reported by @benlwalker. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50636.html

[2019-11-25 20:56] spdkci commented on #1007
Another instance of this failure. Reported by @benlwalker. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50622.html

[2019-11-25 21:10] spdkci commented on #1007
Another instance of this failure. Reported by @benlwalker. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50621.html

[2019-11-25 21:11] spdkci commented on #1074
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50639.html

[2019-11-25 21:12] spdkci commented on #1007
Another instance of this failure. Reported by @benlwalker. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50641.html

[2019-11-25 22:01] shuhei-matsumoto commented on #1074
Shame on me. This has been caused by my thoughtless fault. I added a patch to revert it. https://review.gerrithub.io/c/spdk/spdk/+/475791. Ziye's fix https://review.gerrithub.io/c/spdk/spdk/+/475657 is nice but separating my fault from his fix is easier to get review.
Please rebase your patch for Ziye, and please review both for all.

[2019-11-25 22:15] shuhei-matsumoto commented on #1074
Sorry, Umm, I thought I should revert a patch but the patch looks necessary.

When I posted a patch https://review.gerrithub.io/c/spdk/spdk/+/475791 to revert the patch , I saw the failure.
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/50646/archive/RBD_autotest/failed_test.log

We have to investigate more.

[2019-11-25 22:39] spdkci commented on #1007
Another instance of this failure. Reported by @benlwalker. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50640.html

[2019-11-25 23:29] spdkci commented on #1007
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50664.html

[2019-11-25 23:42] spdkci commented on #1007
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50550.html

[2019-11-26 04:32] liang2yan commented on #1055
@ksztyber , I have tried your patch. the lsvmd command only can show the NVMe SSD connected by pcie ssd switch after the second running. It means that the following scenario:
1. run "examples/vmd/lsvmd/lsvmd -d" command, the output will not show the NVMe SSD connected by pcie ssd switch;
2.run "examples/vmd/lsvmd/lsvmd -d" command again, the output will  show the NVMe SSD connected by pcie ssd swi

[2019-11-26 06:08] optimistyzy commented on #1067
@shuhei-matsumoto https://review.gerrithub.io/c/spdk/spdk/+/475815  This patch should work.

[2019-11-26 08:26] ksztyber commented on #1055
@liang2yan, could you test this patch: https://review.gerrithub.io/c/spdk/spdk/+/475832

The logs show that you have some kind of network device (8086:1593, which google tells me is an Intel's e810  NIC), that tries map more memory than was available for that VMD adapter, which resulted in depleting that adapter's memory region. The patch should fix that, so that the region is only padded once we

[2019-11-26 12:58] Comphix commented on #1057
Hi Liang, can we have a try to 1) plug the NVMe SSD directly to the PCIe lane instead of behind the switch; 2) try the ledctl tool again for this NVMe SSD.

Thanks, Gang

[2019-11-26 13:03] Comphix commented on #1057
Also one link for ledctl: https://linux.die.net/man/8/ledctl

[2019-11-26 14:01] AlekseyMarchuk commented on #1075
I found the root cause, it is following:
1. nvmf_tgt receives SIGINT, changes state to NVMF_TGT_FINI_STOP_SUBSYSTEMS
2. In this state nvmf_tgt stops all subsystems and disconnects associated qpairs
In the case of RDMA qpair, its state will be changed to IBV_QPS_ERR.
Once qpair changes the state to IBV_QPS_ERR, RDMA device generates
LAST_WQE_REACHED event when there are no more WQE that can be cons

[2019-11-26 14:09] spdkci commented on #1007
Another instance of this failure. Reported by @pawelkax. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50638.html

[2019-11-26 14:10] spdkci commented on #1007
Another instance of this failure. Reported by @pawelkax. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50582.html

[2019-11-26 16:29] spdkci commented on #1074
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50672.html

[2019-11-26 16:32] jimharris commented on #1034
This hasn't been seen again in three weeks.

[2019-11-26 16:32] #1034 closed

[2019-11-26 16:34] jimharris commented on #1019
This hasn't been seen for 2-3 weeks.  Logs indicate it's more like a CI related issue (similar to #1007) rather than VPP.

[2019-11-26 16:34] #1019 closed

[2019-11-26 16:59] Seth5141 commented on #1067
@shuhei-matsumoto @optimistyzy For the time being, I am going to increase the timeout on these tests by 2 minutes to mitigate the intermittent failures, but leave this issue open while you decide on the right strategy going forward.

[2019-11-27 02:54] spdkci commented on #1074
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50764.html

[2019-11-27 02:58] optimistyzy commented on #1074
We still need your revert patch. Yesterday, we have the intermittent failure for the event test, which is not related with our patches

[2019-11-27 04:33] optimistyzy commented on #1067
@Seth5141 @shuhei-matsumoto I used kernel 5.4-rc3 on my platform, I did not see two minutes, though sometimes it lasts long.

[2019-11-27 05:32] liang2yan commented on #1055
@ksztyber , just tried your patches. the lsvmd tool can show the NVMe SSD connected by pcie switch now. I have set all three nvme sdd to be connected by pcie switch. the lsvmd tool can still show them.
please check the log below:
[1127vmd.log](https://github.com/spdk/spdk/files/3895264/1127vmd.log)

[2019-11-27 06:22] Comphix commented on #1076
Raised a patch https://review.gerrithub.io/c/spdk/spdk/+/475946

[2019-11-27 08:14] ksztyber commented on #1055
That's great. Could you also run `test/vmd/vmd.sh` a couple of times to make sure everything is working correctly?

[2019-11-27 09:12] ywbgithub opened #1080 "my machine is centos7.6 x86_64; when I config as the documentatio, after I run "examples/nvme/identify/identify" ,the output is "No available hugepages reported in hugepages No NVMe controllers found""
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context (Environment including OS version, SPDK version, etc.)

[2019-11-27 09:49] yidong0635 commented on #1080
@ywbgithub , please confirm you have done this:
 Firstly,to check you have  any nvme device:  `lspci | grep Non`.
 after finish compiling,do something like : `sudo HUGEMEM=4096 scripts/setup.sh `
you can refer to page: https://spdk.io/doc/getting_started.html

[2019-11-27 10:12] ywbgithub commented on #1080
when I execute the command  "lspci | grep Non" , there is no nothing output

[2019-11-27 10:17] ywbgithub commented on #1080
when I execute the command "lspci | grep Non" ,there is nothing output.
the following is the output of lspci:
00:00.0 Host bridge: Intel Corporation 8th Gen Core Processor Host Bridge/DRAM Registers (rev 08)
00:02.0 VGA compatible controller: Intel Corporation 8th Gen Core Processor Gaussian Mixture Model
00:08.0 System peripheral: Intel Corporation Xeon E3-1200 v5/v6 / E3-1500 v5 / 6th/7th Gen Co

[2019-11-27 12:25] shuhei-matsumoto commented on #1067
Hi @ZiyeYang @jimharris @Seth5141

I talked with Ziye offline but I still can’t rely on Ziye’s patch and observation.

NOP-in/out continue and don’t exit connection even after all Luns are removed. NOP-in/out are no related with two minutes.

 iSCSI is very matured and legacy. Very unlikely to use such a new kernel on the host. Updating the kernel is no easy solution to iscsi hosts. This is differ

[2019-11-27 12:40] ak-gh commented on #1067
On Wed, Nov 27, 2019, 15:25 shuhei-matsumoto <notifications@github.com>
wrote:

Two minutes above sound like default Linux initiator replacement timeout.
When command error is detected, iscsi error handler waits for the
replacement timeout to expire before failing commands to the upper layer
(multipath or application).

Regards,
Andrey

[2019-11-27 12:58] shuhei-matsumoto commented on #1067
@ak-gh thank you so much for sharing your great knowledge. So do you have any recommended solution idea? Ziye has proposed an idea that we close connection after all LUNs are removed. Do you agree with that?

[2019-11-27 13:00] shuhei-matsumoto commented on #1067
I found two minutes in https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/6/html/storage_administration_guide/iscsi-replacement-timeout

[2019-11-27 13:24] shuhei-matsumoto commented on #1067
If we support unit attention, we can add/remove lun to existing connections correctly. It may be nice to keep connections regardless of number of luns. I will consider more tomorrow.

[2019-11-27 13:47] wawryk opened #1081 "Whole autotest fails on VM Fedora31"
See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

Tests pass
## Current Behavior

Whole our test fails on:
[code]
## Possible Solution

## Steps to Reproduce

1. Take fedora31 vm
2. Run any of our CI autotest

## Context (Environment including OS version, SPDK version, etc.)

VM OS: Fedora 31
Kernel: 5.3.12-300.fc31.x86_64
g

[2019-11-27 13:50] ak-gh commented on #1067
On Wed, Nov 27, 2019, 16:24 shuhei-matsumoto <notifications@github.com>
wrote:

That sounds like the right thing to do to me, especially the part re true
hot-plugging (in contrast with extant hot unplug) luns to existing
connections.

Regards,
Andrey

[2019-11-27 13:53] ak-gh commented on #1067
For the tests, it might make sense to shorten replacement timeout to, say,
10 sec (by setting node.session.timeo.replacement_timeout in the
initiator's iscsi.conf).

On Wed, Nov 27, 2019, 16:49 Andrey Kuzmin <andrey.v.kuzmin@gmail.com> wrote:

[2019-11-27 13:54] jimharris commented on #1067
Does this indicate that we still have outstanding IO commands to the removed LUN?  Otherwise the initiator side would have no reason to wait two minutes.

[2019-11-27 14:02] AlekseyMarchuk commented on #1075
@jimharris @benlwalker @Seth5141 Could you check my analysis and advice on the appropriate solution?

[2019-11-27 14:10] ak-gh commented on #1067
On Wed, Nov 27, 2019 at 4:54 PM Jim Harris <notifications@github.com> wrote:

Not necessarily on your side, but likely on the initiator's side.

Nope, it waits anyway if it has in-flight commands, to let the connection
recover before deciding to fail those permanently.

Regards,
Andrey

[2019-11-27 14:50] jimharris commented on #1067
Exactly - on the initiator side.  (In this case when I said "we" I was referring to fio since that's the focus for the 2 minute timeout.)

If the initiator is waiting two minutes, then it thinks there are still in-flight commands.  If it thinks that are still in-flight commands, then it means the target isn't cleaning them up properly when the LUN is removed.  It could be that a task or PDU is get

[2019-11-27 14:52] jimharris commented on #1081
I think we need a newer version of fio.

https://bugs.launchpad.net/ubuntu-kernel-tests/+bug/1844548

[2019-11-27 16:43] benlwalker commented on #1080
You don't appear to have any NVMe devices on your system.

[2019-11-27 17:21] ak-gh commented on #1067
On Wed, Nov 27, 2019 at 5:50 PM Jim Harris <notifications@github.com> wrote:

Just for clarity, there are two possible cases:
1. The target has failed all outstanding commands to the LUN in question,
and
2. It didn't.

In case (1), initiator will still enter replacement timeout. In case (2),
it will likely wait for the outstanding command(s) to be failed by the
target first. I'm a bit surprised it

[2019-11-27 18:02] spdkci commented on #1072
Another instance of this failure. Reported by @Seth5141. log: Not Found

[2019-11-28 02:03] ywbgithub commented on #1080
I have inserted a nvme pcie ssd card in the socket, it is displayed as ""02:00.0 Mass storage controller: Device 1cb0:d000 (rev 03)"" when I execute the command ""lspci""
what is the wrong

[2019-11-28 03:24] yidong0635 commented on #1080
from the pci_ids.h to lookup the class code/vid/pid of this device, it may not be recognized as Nvme device.

[2019-11-28 04:47] shuhei-matsumoto commented on #1067
Hi @ak-gh @jimharris @ZiyeYang @Seth5141

Thank you so much for your insight.

I noticed that I had been trapped by the previous code again. We had discarded any PDU or task before completion or abort is notified to initiator. I fixed this error by https://review.gerrithub.io/c/spdk/spdk/+/476033.
Please take a look at it.

Previously, for some reason iSCSI target exited all connections immediatel

[2019-11-28 04:49] shuhei-matsumoto commented on #1067
As long as I tried locally, the patch may fix this issue.

[2019-11-28 05:37] shuhei-matsumoto commented on #1067
Sorry, The above patch was not enough. Please stay tune.

[2019-11-28 05:37] liang2yan commented on #1055
I have run test/vmd/vmd.sh 100 times. No errors found.

[2019-11-28 06:10] shuhei-matsumoto commented on #1067
I think we have to satisfy the following:

1. do not discard any PDU and task submitted before we start LUN unplug.
2. wait all such PDU and task are completed or aborted
3. Then close bdev by which LUN is backed

I'm thinking that we may need to use swapping queue head to do 2).

[2019-11-28 06:27] shuhei-matsumoto commented on #1067
I'm pursuing an idea to use CmdSN to wait for all such PDU and tasks are completed or aborted. By using CmdSN, we may be able to know which task is submitted before/after LUN is removed.

[2019-11-28 08:07] liang2yan commented on #1057
I have tried on another machine, the spdk led tool can work for P4500 SSD, but not P3700. So I think there is some platform and SSD limit for VMD LED function.

[2019-11-28 08:17] shuhei-matsumoto commented on #1067
I had an updated idea but it will not complete today. Any input is appreciated

[2019-11-28 09:44] Comphix commented on #1076
This one looks like not exactly fixing this issue.

Raised below one which is for the fix

https://review.gerrithub.io/c/spdk/spdk/+/476048

The problem is that in the error path, the semaphore is not increased so that another operation of wait_sem can never be successful and eventually it times out. This time out is not due to testing long time.

[2019-11-28 10:18] ywbgithub opened #1082 "problem of "Vagrant Development Environment“"
my host machine run centos7.6，and I follow the steps of ""Vagrant Development Environment"". when I execute command ""vagrant ssh''', I log on the virtual machine, and then I execute the command "" lspci | grep "Non-Volatile", there is non output.

how to fix it

[2019-11-28 10:35] wawryk commented on #1082
Do You add emulated disks to Your vm config ?
Show us how you create vm.

[2019-11-28 10:41] ywbgithub commented on #1080
how to fix the problem

[2019-11-28 10:42] ywbgithub commented on #1082
cd spdk/scripts/vagrant
./create_vbox.sh ubuntu18

[2019-11-28 10:43] wawryk opened #1083 "AddressSanitizer: stack-buffer-overflow on Fedora30"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

Tests should pass
## Current Behavior

Test fail on:
[code]
## Possible Solution

## Steps to Reproduce

1. Run unittest_autotest

## Context (Environment including OS version, SPDK version, etc.)

OS: Fedora3

[2019-11-28 10:46] ywbgithub commented on #1082
I have another machine run ubuntu18.04, after I create the virtual machine,and  then ""vagrant ssh''',. when I I execute the command "" lspci | grep "Non-Volatile", it is ok

[2019-11-28 10:47] wawryk commented on #1082
You should use -b option to use emulated nvme disk.
For example:
-b /var/lib/libvirt/images/nvme1.img,nvme,1 ubuntu18
Above option create You one emulated nvme disk with one namespace

For more please read help from create_vbox.sh file

[2019-11-28 12:37] #1033 closed

[2019-11-28 21:17] pawelkax opened #1084 "WARN: timeout waiting for machines to boot"
When running test:
**test/vhost/vhost_boot/vhost_boot.sh --vm_image=/home/sys_sgci/vhost_vm_image.qcow2**
got following error:
[code]

[2019-11-28 21:23] spdkci commented on #1084
Another instance of this failure. Reported by @pawelkax. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50979.html

[2019-11-29 00:59] yidong0635 commented on #1083
Please check this after ben's simplified patches,and rebase from master. Sorry for inconvenience.

[2019-11-29 02:08] shuhei-matsumoto opened #1085 "vhost intermittent failure: spdk_mem_unregister() failed in vhost_session_mem_unregister()"
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51008.html

[2019-11-29 02:11] spdkci commented on #1085
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51010.html

[2019-11-29 02:29] ywbgithub commented on #1082
ok， I solved the problem when adding ""-b"" option

[2019-11-29 02:33] spdkci commented on #1085
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51012.html

[2019-11-29 03:53] spdkci commented on #1085
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51018.html

[2019-11-29 04:22] spdkci commented on #1085
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51020.html

[2019-11-29 04:48] spdkci commented on #1085
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51021.html

[2019-11-29 05:10] spdkci commented on #1085
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51022.html

[2019-11-29 05:18] spdkci commented on #1085
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51024.html

[2019-11-29 05:40] spdkci commented on #1085
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51026.html

[2019-11-29 06:15] spdkci commented on #1085
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51029.html

[2019-11-29 06:40] spdkci commented on #1085
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51030.html

[2019-11-29 06:41] shuhei-matsumoto commented on #1085
The object will never pass test pool. It's likely that SPDK binary size or location hits the issue.
I will stop rebasing until SPDK master branch is updated by merge :)

[2019-11-29 06:46] yidong0635 commented on #1083
still can be reproduced, will check this.

[2019-11-29 06:51] wawryk commented on #1083
Check today on commit: 5c5b167a0d383849057f8f7881cc8d4ca08973cd
The same situation

[2019-11-29 06:53] wawryk commented on #1080
I think that is the same problem https://github.com/spdk/spdk/issues/1082
If it works for You please close both issues ;)

[2019-11-29 07:22] karlatec commented on #1085
What's curious this only reproduces on one of the test platforms.
I've run vhost test a couple of times and it only failed on GP17.
If we take GP14 as a comparison then it has then it's the same platform model, same Qemu version, same NVMe model.
Investigating.

[2019-11-29 07:37] optimistyzy commented on #1083
@glodfish-zg Can you see this issue?

[2019-11-29 07:38] karlatec commented on #1085
Looks like only platforms with QAT cards installed are affected by the issue.
@tomzawadzki suggests this commit is reponsible: https://review.gerrithub.io/c/spdk/spdk/+/475928

[2019-11-29 07:38] optimistyzy commented on #1082
@ywbgithub So let me close this issue. If you have another issue, you can create a new one.

[2019-11-29 07:38] #1082 closed

[2019-11-29 08:00] shuhei-matsumoto commented on #1085
Thanks for the investigation @karlatec @tomzawadzki  It looks likely. I have more than 10 patches but only one hits this solidly. I want to investigate by using them next week but any small change may prevent this.

[2019-11-29 08:00] liang2yan opened #1086 "SPDK nvmf target crashed after heavy workload from three host machines"
## Expected Behavior
fio finished without error.

## Current Behavior
nvmf target crashed. the coredump is as below:
[code]

## Possible Solution

## Steps to Reproduce
1. start nvmf target using following command:
./app/nvmf_tgt/nvmf_tgt -m 0x1
2. use rpc to configure nvmf target. the config is in the attached file:
[config.txt](https://github.com/spdk/spdk/files/3904245/config.txt)

3.In three h

[2019-11-29 08:02] liang2yan commented on #1086
this issue is similar with issue 852, https://github.com/spdk/spdk/issues/852. this issue also print a lot similar messages.

[2019-11-29 08:03] karlatec commented on #1085
@shuhei-matsumoto For now I've disabled testing vhost_autotest on platforms with QAT cards, so you shouldn't see this issue anymore.

I'll revert the configuration once we fix or revert the faulty commit.

[2019-11-29 08:16] shuhei-matsumoto commented on #1085
Thank you @karlatec
I saw this by other patches. I will take a look at the log more

[2019-11-29 08:20] shuhei-matsumoto commented on #1067
I updated the patch https://review.gerrithub.io/c/spdk/spdk/+/476033

Ziye’s patches are really nice and this looks ok so far

[2019-11-29 08:25] Comphix commented on #1066
A small change first https://review.gerrithub.io/c/spdk/spdk/+/476127 to exit failure when the process is not there at the time of killing.

[2019-11-29 08:28] tomzawadzki commented on #1084
Duplicate of #1085
The other one got more traction already.

[2019-11-29 08:28] #1084 closed

[2019-11-29 09:41] AlekseyMarchuk commented on #1086
I'll check this issue.

[2019-11-29 10:15] spdkci commented on #1074
Another instance of this failure. Reported by @pawelkax. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51045.html

[2019-11-29 10:43] optimistyzy commented on #922
@jimharris @tomzawadzki Any update on this issue? Some users reported that even after reboot, they face the same issue.

[2019-11-29 11:53] karlatec commented on #922
If I recall correctly: you can try to get around the issue by loading vfio module with some huge dma entry limit, e.g.:
sudo modprobe  vfio_iommu_type1  dma_entry_limit=1000000

[2019-11-29 13:15] optimistyzy commented on #922
Hi @karlatec  Thanks. But how about for uio?

[2019-11-29 13:58] spdkci commented on #1053
Another instance of this failure. Reported by @pawelkax. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51054.html

[2019-11-29 14:48] ksztyber commented on #1055
Great news! Could you test it one more time using the following version: https://review.gerrithub.io/c/spdk/spdk/+/476163
It's a cleaned up version that should be more robust and generic, but I'd like to confirm it does work on your config too.

[2019-12-01 05:26] Comphix commented on #1066
For the original issue of "leaked file descriptors", will keep looking. New log here: https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/51041/archive/nvmf_autotest/build.log with the above change.

[2019-12-02 02:36] spdkci commented on #1060
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51125.html

[2019-12-02 02:37] spdkci commented on #1060
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51123.html

[2019-12-02 03:02] yidong0635 commented on #1083
@optimistyzy  @glodfish-zg @wawryk :
I think this issue is a wrong report , the analyzer of  unittest on fedora30,  can't use an normal way to fix it.
steps:
    pctrlr =  SPDK_CONTAINEROF(ctrlr, struct nvme_pcie_ctrlr, ctrlr);
    pctrlr->devhandle accessing pctrlr , but it reports ctrlr "Memory access at offset 7280 overflows this variable"

[2019-12-02 04:34] spdkci commented on #1072
Another instance of this failure. Reported by @yidong0635. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51133.html

[2019-12-02 05:10] Comphix commented on #1066
More changes updated to the original patch https://review.gerrithub.io/c/spdk/spdk/+/476127

[2019-12-02 06:33] spdkci commented on #1072
Another instance of this failure. Reported by @yidong0635. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51137.html

[2019-12-02 07:06] spdkci commented on #1074
Another instance of this failure. Reported by @karlatec. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51077.html

[2019-12-02 07:12] yidong0635 commented on #1083
I post a patch here: https://review.gerrithub.io/c/spdk/spdk/+/476420
Just for RFC. I don't have a better method to cover this. If you have ,please paste here.
Thanks!

[2019-12-02 08:00] liang2yan commented on #1086
The env details are as below.
target:
OS - CentOS 7.7.1908
Kernel - 5.2.0-1.el7.elrepo.x86_64
Host 1:
OS - CentOS 7.4.1708
Kernel - 5.2.3-1.el7.elrepo.x86_64
Host 2:
OS - CentOS 7.4.1708
Kernel - 5.2.11-1.el7.elrepo.x86_64
Host 3:
OS: Fedora 28
Kernel - 5.0.16-100.fc28.x86_64

I just tried another time, this issue can also be reproduced. So I think this issue can be reproduced every time.

[2019-12-02 09:19] Comphix commented on #992
Looking at this issue.

[2019-12-02 09:41] wawryk commented on #1083
It works
Thanks @yidong0635

[2019-12-02 10:36] spdkci commented on #1007
Another instance of this failure. Reported by @Maciej-Szwed. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51058.html

[2019-12-02 10:38] spdkci commented on #1007
Another instance of this failure. Reported by @Maciej-Szwed. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51059.html

[2019-12-02 14:31] spdkci commented on #1064
Another instance of this failure. Reported by @tkulasek. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51163.html

[2019-12-02 17:52] spdkci commented on #1074
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51191.html

[2019-12-02 23:44] Seth5141 commented on #1075
@AlekseyMarchuk I think that your analysis is correct. The poll group is definitely invalid at the point where we are trying to destroy the qpair in the wqe callback.

We definitely need to confirm the validity of the qpair after we complete the message passing related to all of the ibv_async events, not just LAST_WQE_REACHED. For example,  both QP_FATAL and SQ_DRAINED both call spdk_nvmd_rdma_sta

[2019-12-03 03:07] spdkci commented on #1007
Another instance of this failure. Reported by @yidong0635. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51227.html

[2019-12-03 07:54] Comphix commented on #992
Initial patch at https://review.gerrithub.io/c/spdk/spdk/+/476543

[2019-12-03 10:22] spdkci commented on #1085
Another instance of this failure. Reported by @karlatec. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51249.html

[2019-12-03 10:52] glodfish-zg commented on #1083
@yidong0635  I add +1 to your patch. You can close this issue when the patch is merged.

[2019-12-03 12:18] govind-rathod1987 commented on #576
Looks like the latest master branch does not have these changes. Can you please let me know which branch this fix is committed? can i get access to the branch ?

[2019-12-03 12:37] AlekseyMarchuk commented on #1075
Hi @Seth5141. Thanks for your reply, especially for pointing to the description of ibv_get_async_events, I completely forgot about it. Your suggestion #1 complements my solution and eliminates the rest of synchronization gaps. However I still think that we should use the lock. This lock is used in control path and won't affect performance.
For example, thread_1 receives async event for some qpair,

[2019-12-03 13:35] wawryk opened #1087 "nvmf: intermittent hang in host/target_disconnect.sh test"
Fail on test/nvmf/host/target_disconnect.sh --transport=rdma

[https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51277.html](https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51277.html)

nvme_rdma.c: 390:nvme_rdma_validate_cm_event: *ERROR*: Expected RDMA_CM_EVENT_ESTABLISHED but received RDMA_CM_EVENT_REJECTED (8) from CM event channel (status = 8)
nvme_rdma

[2019-12-03 13:37] spdkci commented on #1087
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51277.html

[2019-12-03 14:48] tomzawadzki commented on #1069
#1087 Both issues seem very related, even if the transport is different.

[2019-12-03 15:14] peluse commented on #1007
bug scrub - (@karlatec ) going to replace network cables and see if that helps.  VM's have been load balanced. May be related to post reset, on nightly another maint job was added that runs after reset job to check node connectivity. Karol to also try adding this to per patch.Note that this didn't resolve issues w/nightly but we'll try per patch anyway to see if we get a reduction.

[2019-12-03 15:18] peluse commented on #1087
bug scrub - check to make sure this is rebased recently as the test should not have run w/soft roce

[2019-12-03 15:30] peluse commented on #1057
@ksztyber can you please see if the VMD folks have or can provide any form of known issues list with specific platforms?  Also can we add a small blurb in the SPDK docs around VMD that describe or at least mention the use of ledctrl as a means to confirm led functionality on a platform w/o SPDK in the picture?

[2019-12-03 15:33] peluse commented on #1081
In addition to updating the version also please update this doc: https://github.com/spdk/spdk/tree/master/examples/nvme/fio_plugin so it matches the one in the /examples/bdev/fio dir

[2019-12-03 15:37] Seth5141 commented on #1087
Stupid mistake on my part. https://review.gerrithub.io/c/spdk/spdk/+/476648 will fix master so this never runs on soft-roce

[2019-12-03 15:47] tomzawadzki commented on #1085
@peluse Details on the issue we have right now:
[Patch](https://review.gerrithub.io/c/spdk/spdk/+/475928) causing the failure was reverted for now.
The issue occurred on just subset of physical machines. All machines whether error occurred or not had IOMMU enabled.

Bit of discussion from Slack:
[code]

[2019-12-03 20:40] spdkci commented on #1074
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51289.html

[2019-12-03 21:32] spdkci commented on #1067
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51318.html

[2019-12-03 21:50] peluse commented on #946
@xiaoxichen starting to look at this again.  First, I guess I should ask if you've made any progress? Next, would it be possible to get more of a step-by-step type set of directions for the edits you made and exactly how to insert the go script wherever you are using it?

FYI I don't have the same path content that you have in your config file, here's what I think is the relevant section:
[hypervi

[2019-12-03 21:52] jimharris commented on #1077
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51125.html

This one also matches.  I pulled it from #1060.

[2019-12-03 21:57] jimharris commented on #1072
(Moved from #1060)
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51123.html

[2019-12-03 22:03] Seth5141 commented on #1060
This specific issue hasn't occurred in about two weeks, and having two issues (this one and #1072) with similar signatures is confusing. Closing this one in favor of #1072 since that one has a specific and traceable signature that we can work with.

[2019-12-03 22:03] #1060 closed

[2019-12-03 22:06] jimharris commented on #1053
@ksztyber - not sure if we can still get the core dump on this one, but the log does give us a valid backtrace for the SIGILL:

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/51054/archive/nvme_autotest/build.log

It's from writing the NVMe CQ doorbell?  It makes no sense to me, but you surely understand these scripts better than me and can maybe hazard a guess.

[2019-12-04 05:16] liang2yan commented on #1055
@ksztyber , I used your patch series.  the vmd.sh script can be executed 100 times without error.

[2019-12-04 06:59] spdkci commented on #1074
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51296.html

[2019-12-04 07:11] bharatpotnuri opened #1089 "discover to spdk nvmf target from linux host fails"
Hi,
TOT SPDK NVMF target discovery is failing due to keep alive timeout 'kato' of nvme command.
I am using TOT spdk and TOT nvmecli. BTW I am not sure if this is an nvmecli bug or spdk bug.
nvmecli is not allowing kato 0 during discover and spdk doesnt allow non zero kato for discover.

## Expected Behavior
[root@chittorgarh ~]# ./nvme discover -t rdma -a 10.0.2.2 -s 4420 -q nqn.2016-06.io.spdk:cn

[2019-12-04 08:35] spdkci commented on #1064
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51354.html

[2019-12-04 09:24] glodfish-zg commented on #1089
hi @bharatpotnuri. Could you try this with kernel target and see what happens.
From the spec 1.0a :
The Keep Alive command is reserved for Discovery controllers. A transport may specify a fixed Discovery controller activity timeout value (e.g., 2 minutes).
I think it means the target doesn't want to accept the KATO in the discovery controller.

[2019-12-04 09:45] bharatpotnuri commented on #1089
It works fine with kernel target.
[code]

Havent gone through this much but recent chnages in target allows discovery kato.
[code]

[2019-12-04 09:50] bharatpotnuri commented on #1089
There are two issues here,
-> spdk target not accepting kato.
-> nvmecli `nvme` passes wrong kato value down to kernel host even zero as passed as argument.
I was unsure bug belongs to (spdk or nvmecli) so logged here.

[2019-12-04 12:57] wawryk opened #1090 "Vhost nightly test fails on parted command"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

Test should pass
## Current Behavior

Test fail on:
[code]
## Possible Solution

Replace parted command with something else or change sleep time.
## Steps to Reproduce

1. Run vhost nightly autotest

## Contex

[2019-12-04 15:35] #1074 closed

[2019-12-04 15:46] spdkci commented on #1030
Another instance of this failure. Reported by @AlekseyMarchuk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51365.html

[2019-12-04 17:51] peluse commented on #946
@xiaoxichen or if you can provide the scripts you used to wrap qemu and add those parms that would be great too. I tried adding them in the path ="..." line in the .toml file but it doesn't like like that is going to work, I also just changed that path to a bash script that calls qemu with the parms and that doesn't work either.

[2019-12-04 18:34] wawryk commented on #1090
Patch for it: https://review.gerrithub.io/c/spdk/spdk/+/476639

[2019-12-04 21:39] spdkci commented on #1007
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51411.html

[2019-12-04 21:39] spdkci commented on #1007
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51410.html

[2019-12-04 22:39] shuhei-matsumoto commented on #1089
Hi @bharatpotnuri

Does this patch work for you? https://review.gerrithub.io/c/spdk/spdk/+/476810.
This patch changes SPDK nvmf target to accept KATO for discovery controller.

[2019-12-04 23:44] shuhei-matsumoto opened #1091 "NVMe autotest intermittent failure: MMIO write caused illegal instruction exception"
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51427.html

Program terminated with signal SIGILL, Illegal instruction.
#0  0x00000000005c6a45 in spdk_mmio_write_4 (addr=0x20100080100c, val=231) at /var/jenkins/workspace/NVMe_tests/nvme_autotest/spdk/include/spdk/mmio.h:94
94		*addr = val;
[Current thread is 1 (Thread 0x7f122b2e7a40 (LWP 746610))]

[2019-12-04 23:51] jimharris commented on #1091
Hi Shuhei,

This issue is currently being tracked in #1053.  I'm going to close this issue but copy your comment to #1053.  I'm also going to update the title of that issue to include some additional details to help with future categorization of intermittent failures.

-Jim

[2019-12-04 23:51] #1091 closed

[2019-12-04 23:51] jimharris commented on #1053
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51427.html

Program terminated with signal SIGILL, Illegal instruction.
#0 0x00000000005c6a45 in spdk_mmio_write_4 (addr=0x20100080100c, val=231) at /var/jenkins/workspace/NVMe_tests/nvme_autotest/spdk/include/spdk/mmio.h:94
94	*addr = val;
[Current thread is 1 (Thread 0x7f122b2e7a40 (LWP 746610))]

[2019-12-05 00:04] shuhei-matsumoto opened #1092 "VPP intermittent failure: framework_start_init failed"
https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51429.html

00:16:51	# xtrace_enable
 00:16:51	# ((  i == 0  ))
 00:16:51	# return 0
 00:16:51	# rpc_wait_pid=3147873
 00:16:51	# /var/jenkins/workspace/iSCSI_tests/vpp_autotest/spdk/scripts/rpc.py iscsi_set_options -o 30 -a 16
 00:16:51	# /var/jenkins/workspace/iSCSI_tests/vpp_autotest/spdk/scripts/rpc.py framework_wait_init
 00

[2019-12-05 01:30] yidong0635 commented on #1083
@glodfish-zg thanks, let @wawryk to close this issue.

[2019-12-05 01:53] optimistyzy commented on #1064
@shuhei-matsumoto I see that some of my patches and yours are merged? Should we close this issue?

[2019-12-05 01:57] shuhei-matsumoto commented on #1064
@optimistyzy Thanks for taking care of this issue. Let's wait for a few more days. Remaining patches are not merged yet. I think we can close the whole iSCSI issues after all patches (except refactoring) are merged and then no further issue is reported for a few days.

[2019-12-05 02:12] Comphix commented on #739
Looking at this issue.

[2019-12-05 03:14] ywbgithub opened #1093 "how to read the source code of spdk"
hello, everyone, is there any expert of spdk who can give  some suggestions on how to read the spdk source code. Thank you very much.

[2019-12-05 03:25] ywbgithub commented on #1080
no, they are different problems

[2019-12-05 04:26] #1083 closed

[2019-12-05 08:07] glodfish-zg commented on #1080
Hi, @ywbgithub.
Just check that your NVMe SSD seems to come from Shannon Systems(Vendor:1cb0). Please lspci -x to check the class ID(Should be 0x010802) and check /sys/bus/pci/devices/0000\:02\:00.0/.

I guess it's the device issue as we don't have the same device we can't reproduce. You can use an intel NVMe SSD to test If you can confirm that I will close this issue.

[2019-12-05 09:58] erroldo commented on #1057
The LED blinking behind spdk-vmd is accomplished by writing the pcie slot control power and attention register with bits to propagate to the LED, likely through VPP depending on how said platform is wired to the LED from the slot control. First would be to ensure that basic platform plumbing is wired correctly to allow LED blinking without SPDK in the picture. Current test indicate another platfor

[2019-12-05 10:09] ksztyber commented on #1057
@liang2yan what platforms are you using? Did you try to use both P4500 and P3700 on both platforms?
@peluse yeah, I'll add a short paragraph to the VMD's docs.

[2019-12-05 11:17] cockroach1136 opened #1094 "(1) Insert a pcie device that's class id is not "0x010802", (2) replace it with a nvme disk that pcie class id is "0x010802" (3)the nvme disk cannot be recognition by spdk"
Hello all,
    We do a experiment
(1)insert a invalid disk that PCIe class code is not "0x010802"
(2)remove it
(3)insert a disk that PCIe class code is "0x010802"
(4) This disk with class code "0x010802" is no longer recognized by spdk in this disk slot

   We expect the device with class code "0x010802" should be recognized always in this disk slot.

We spend some time to investigate the hotplug

[2019-12-05 12:51] bharatpotnuri commented on #1089
It may probably work but I am facing some issues with TOT code now, wierd thing is with the exact prvevious changeset spdk stopped working, I tried going back to v18.0, there there is no discover check for kato. Below is the failure I am seeing, Please let me know if I missed something here:
[code]

[2019-12-05 13:16] spdkci commented on #1007
Another instance of this failure. Reported by @karlatec. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51493.html

[2019-12-05 13:37] wawryk commented on #1081
Change version to fio-3.15 resolved that issue.
Patch: https://review.gerrithub.io/c/spdk/spdk/+/476893

[2019-12-05 14:14] Comphix commented on #739
Raised the initial patch here https://review.gerrithub.io/c/spdk/spdk/+/476904

[2019-12-05 14:50] jimharris commented on #1093
Hi @ywbgithub,

A good way to learn parts of the SPDK source code is by stepping through code of one of the example applications in gdb.  You should configure SPDK with the --enable-debug flag which will turn off optimizations which will help with the code stepping.

A few example apps that I would recommend:
SPDK NVMe driver:  examples/nvme/hello_world
SPDK block (bdev) layer:  examples/bdev/hell

[2019-12-05 14:50] #1093 closed

[2019-12-05 14:58] jimharris commented on #1094
This is a great test.  This modification looks correct.  Are you interested in creating a patch for this for our DPDK submodule, and working to get it into DPDK upstream?  We can help you with that process.

This is a DPDK issue but since there are SPDK impacts, we should leave this issue open at least until we have a fix in our DPDK submodule.

[2019-12-05 16:57] jkalwas opened #1095 "in case scan for nvme ctrlr failed resources are not released"
spdk_nvme_probe_internal calls nvme_transport_ctrlr_scan
there might be some ctrlrs already constructed and put into init_ctrlrs list (by nvme_ctrlr_probe)
in case scan failed those ctrlr on init_ctrlrs list are not released.

## Expected Behavior
resources released

## Current Behavior
resources leaked, cannot fallback e.g. to direct connect

## Steps to Reproduce
Issue found by code inspection.

[2019-12-05 17:06] jimharris commented on #1095
@changpe1 - could you take a look?  We should be able to create a unit test if there's a bug here.

[2019-12-05 22:56] spdkci commented on #1085
Another instance of this failure. Reported by @pawelkax. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51064.html

[2019-12-05 23:25] Seth5141 commented on #1087
change merged.

[2019-12-05 23:25] #1087 closed

[2019-12-05 23:28] Seth5141 opened #1096 "NVMe-oF shutdown test latent failures I/O connect with duplicate QID"
## Current Behavior
I hit this failure on a one of my patches today (December 5 2019)

## Context (Environment including OS version, SPDK version, etc.)
nvmf_tcp_autotest

[2019-12-05 23:29] spdkci commented on #1096
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51583.html

[2019-12-05 23:29] spdkci commented on #1096
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51590.html

[2019-12-05 23:37] shuhei-matsumoto commented on #1089
The above log shows your failure occurred at https://github.com/spdk/spdk/commit/743292aa0f1a73681184a20effb40b7509de2a04.
But this is unrelated.

Could you share from which commit the failure started to occur? That may be helpful for us.
(Please make clean to know the commit correctly.)

We need this SHA1 value.
  Starting SPDK v20.01-pre git sha1 743292aa0f1a / DPDK 19.08.0 initialization...

Oh

[2019-12-06 01:05] cockroach1136 commented on #1094
Hello Harris,
   Thank you so much for your quick response.
    But I think my solution is not complete because in function rte_pci_match

![image](https://user-images.githubusercontent.com/29791158/70286339-ceb39480-1805-11ea-8bae-36fb87b44cb2.png)

   the function not only check "class_id" field but also check "vender_id", "device_id"... field
   so I must copy all other fileds to exist dev stru

[2019-12-06 01:19] changpe1 commented on #1095
I will write a unit test to cover the following scenario:
There are two NVMe controllers in the host, the first one is attached to the init_ctrlrs list, and the second one return failed due to scan failure.

Is that the case described above?

[2019-12-06 01:55] yidong0635 commented on #1080
link issue to  #1094 . and can close this one.

[2019-12-06 02:03] yidong0635 commented on #1096
@https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51590.html seems check_format failure, not hang issue.

[2019-12-06 02:16] spdkci commented on #1007
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51620.html

[2019-12-06 02:35] spdkci commented on #1007
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51604.html

[2019-12-06 02:54] bharatpotnuri commented on #1089
thanks for the suggestion @shuhei-matsumoto. Same `74329` used to work before.
I just figured out that I rebooted my machine from 5.4 to 4.19 kernel that caused spdk failure. Now booting it back to 5.4, spdk works. didnt think of kernel as these are user space apps :(
[code]

[2019-12-06 02:56] bharatpotnuri commented on #1089
@shuhei-matsumoto patch works. Thanks.
[code]

[2019-12-06 02:58] bharatpotnuri commented on #1089
BTW, there is a bug in nvmecli, where it doesnt pass zero kato argument. raised an issue at nvme-cli.
https://github.com/linux-nvme/nvme-cli/issues/624

[2019-12-06 03:06] spdkci commented on #1057
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51605.html

[2019-12-06 03:08] Seth5141 commented on #1053
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51605.html

@ksztyber I was able to get the coredump from this one. What's the easiest way to get it to you?

[2019-12-06 04:11] shuhei-matsumoto commented on #1089
Thank you for your great analysis including raising github issue, @bharatpotnuri
Oh I didn't expect the kernel caused the difference, and good to know the patch worked.

The event that leads to the change may be different but SPDK may have to accept KATO for discovery controller as Linux kernel do.

Hi All, will you give any feedback on this?

[2019-12-06 07:04] liang2yan commented on #1057
@ksztyber , I am using the Intel S2600WFT platform. the two platform used different version BIOS.I tried P4500 and P3700 on two platforms. The led tool can only work on one platform.

[2019-12-06 07:47] ksztyber commented on #1053
@Seth5141 Thanks, I was able to get the coredump from internal servers by following the build number.

[2019-12-06 09:12] spdkci commented on #1007
Another instance of this failure. Reported by @jkalwas. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_50513.html

[2019-12-06 09:18] cockroach1136 opened #1097 "Submitted IO will be NO callback when hot-remove disk in heavy IO situation"
Hello Sir,
   We test  hot remove disk in heavy IO situation,
Sometimes the submitted IO will never call user callback function.
In that case our application be stuck.
After investigate the code, we found a strange place(our code is 19.04)

In function nvme_pcie_qpair_complete_tracker
Last part of this function tries to resend req in queued_req
Notice: the user callback didn't called for req in qu

[2019-12-06 10:09] pawelkax opened #1098 "Iscsi target intermittent failure"
In test ./test/iscsi_tgt/calsoft/calsoft.sh sometimes occurs following error:
[code]

[2019-12-06 10:12] spdkci commented on #1098
Another instance of this failure. Reported by @pawelkax. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51568.html

[2019-12-06 10:12] spdkci commented on #1098
Another instance of this failure. Reported by @pawelkax. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51566.html

[2019-12-06 10:12] tomzawadzki commented on #1098
This is duplicate of #1074, which was already fixed. Please rebase your patches on master and if it sill occurs - reopen that issue.

[2019-12-06 10:12] #1098 closed

[2019-12-06 10:25] tomzawadzki opened #1099 "rocksdb timeouts during overwrite phase"
Job BlobFS_autotest time outs during `./test/blobfs/rocksdb/rocksdb.sh` when doing overwrite phase of the test.

[code]
Example log:
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/51547/archive/BlobFS_autotest/build.log

[2019-12-06 13:33] spdkci commented on #1099
Another instance of this failure. Reported by @tomzawadzki. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51547.html

[2019-12-06 14:24] spdkci commented on #1072
Another instance of this failure. Reported by @tkulasek. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51684.html

[2019-12-06 14:28] jimharris commented on #1099
I'm wondering if this is related to one of the more general timeout issues we're having with CI.  If I look at the rocksdb log for this overwrite test, it seems to indicate that the test ran to completion (it prints out all of the stats at the end).  Of course it could also be that something hung during shutdown.

https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/51547/archive

[2019-12-06 17:08] jimharris commented on #1097
Thanks for the report.  This is a bug.  We will disposition in next bug scrub meeting.

[2019-12-06 17:15] jimharris commented on #1094
HI @cockroach1136,

I agree.  The entire pci_dev.id structure needs to be copied.  I would suggest just doing this for now.  As you said, removing the dev structure completely might have unknown side effects.  Just copying the id structure for now would be good enough.

The patch contribution flow is described in the link you mentioned.  The only tricky part is that in this case, you will be pushi

[2019-12-06 17:16] AlekseyMarchuk commented on #1086
Hi,

I was able to reproduce the target crash several times but with another call stack. spdk_tgt crashed during handling of LAST_WQE_REACHED event on attempt to destroy already destroyed qpair. This is caused by a large number of qpairs (768 per initiator x3) being destroyed at the same time. In the normal qpair destruction flow we first change ibv state of the qpair to IBV_QPS_ERR and start a ti

[2019-12-06 19:41] spdkci commented on #1096
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51761.html

[2019-12-07 20:44] spdkci commented on #1007
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51857.html

[2019-12-07 20:44] spdkci commented on #1007
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51858.html

[2019-12-07 20:44] spdkci commented on #1007
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51859.html

[2019-12-07 20:44] spdkci commented on #1007
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51860.html

[2019-12-07 20:47] spdkci commented on #1092
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51862.html

[2019-12-07 21:05] spdkci commented on #1069
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51870.html

[2019-12-08 00:32] spdkci commented on #1007
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51886.html

[2019-12-08 00:34] spdkci commented on #1072
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51884.html

[2019-12-08 00:35] spdkci commented on #1072
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51880.html

[2019-12-09 01:34] cockroach1136 commented on #1094
Hello Sir,
    The procedure is a little complex for me...:). So please help me to update the patch.
The patch is as attached

diff --git a/drivers/bus/pci/linux/pci.c b/drivers/bus/pci/linux/pci.c

index 43debaa..5ef2e40 100644
--- a/drivers/bus/pci/linux/pci.c
+++ b/drivers/bus/pci/linux/pci.c
@@ -352,6 +352,7 @@
                                if (!rte_dev_is_probed(&dev2->device)) {

[2019-12-09 02:08] yidong0635 opened #1100 "RPC method not found"
## Please use the issue tracker only for reporting suspected issues.
I met this kind of issues several times while using "./autotest.sh    autorun-spdk.conf "
this time it blocks at "bdev_crypto_create"
01:47:20       # [[ 0 -eq 0 ]]
 01:47:20       # local crypto_dirver=crypto_aesni_mb
 01:47:20       # tgt_rpc bdev_crypto_create MallocForCryptoBdev CryptoMallocBdev crypto_aesni_mb 01234567891234

[2019-12-09 02:11] yidong0635 commented on #1100
config:
# assign a value of 1 to all of the pertinent tests
SPDK_BUILD_DOC=1
SPDK_BUILD_SHARED_OBJECT=1
SPDK_RUN_CHECK_FORMAT=1
SPDK_RUN_SCANBUILD=1
SPDK_RUN_VALGRIND=1
SPDK_TEST_CRYPTO=1
SPDK_RUN_FUNCTIONAL_TEST=1
SPDK_TEST_UNITTEST=1
SPDK_TEST_ISCSI=1
SPDK_TEST_ISCSI_INITIATOR=1
SPDK_TEST_NVME=1
SPDK_TEST_NVME_CLI=1
SPDK_TEST_NVMF=1
SPDK_TEST_RBD=1
SPDK_TEST_BLOCKDEV=1
SPDK_TEST_EVENT=1
SPDK_TES

[2019-12-09 07:55] liang2yan opened #1101 "SPDK perf tool reported error then crashed after running IO operation on SPDK nvmf target"
## Expected Behavior
SPDK perf finished without error.

## Current Behavior
SPDK perf tool sometimes reported following error then crashed.
[code]

## Possible Solution

## Steps to Reproduce
1. Run nvmf target with following config:
[reconn.txt](https://github.com/spdk/spdk/files/3938336/reconn.txt)
2. In host machine, get spdk code, configure and compile it.
3. run spdk perf using following comm

[2019-12-09 09:26] Comphix commented on #1076
Patch has been merged. Close this issue.

[2019-12-09 09:26] #1076 closed

[2019-12-09 09:40] Comphix commented on #1100
Will take a look at this issue.

[2019-12-09 10:23] AlekseyMarchuk commented on #1101
I'll take a look at this. How often does this issue occur?

[2019-12-09 12:23] govind-rathod1987 opened #1102 "Unable to start spdk service for NVMeoF with IPv6"
Unable to start spdk service for NVMeoF with IPv6.

have configured using the nvmf.conf file and after starting the spdk nvmf_tgt service, i see the below error:
[root@localhost nvmf_tgt]# ./nvmf_tgt -c nvmf.conf
Starting SPDK v20.01-pre git sha1 bcfb51b / DPDK 19.08.0 initialization...
[ DPDK EAL parameters: nvmf --no-shconf -c 0x1 --log-level=lib.eal:6 --log-level=lib.cryptodev:5 --log-level=use

[2019-12-09 14:40] AlekseyMarchuk commented on #1102
Hi,

Please try to put IPv6 address in `[]` e.g. `Listen RDMA [fd78:b41b:7e5c:ee9e::15]:4420`

[2019-12-09 14:44] jkalwas opened #1103 "bdev_raid.sh timeout (ubuntu16 job, related with NBD see dmesg.log)"
Job ubuntu16_autotest timeouts during bdev_raid.sh

example log
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/51708/archive/ubuntu16_autotest/build.log

[2019-12-09 14:46] spdkci commented on #1103
Another instance of this failure. Reported by @jkalwas. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_51708.html

[2019-12-09 14:46] jimharris commented on #1100
Thanks @Comphix.  Please work with @yidong0635 to create a smaller test case that reproduces this issue, and then add a more specific title for this issue.

[2019-12-09 15:09] spdkci commented on #1096
Another instance of this failure. Reported by @ksztyber. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52005.html

[2019-12-09 19:02] spdkci commented on #1007
Another instance of this failure. Reported by @jkalwas. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52030.html

[2019-12-09 21:09] spdkci commented on #1007
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52073.html

[2019-12-10 02:12] Comphix commented on #992
Patch has been merged. Close this issue.

[2019-12-10 02:12] #992 closed

[2019-12-10 03:15] yidong0635 commented on #1100
@jimharris @Comphix , let me to check something firstly, I'm worried about to run "./autotest.sh ~/autorun-spdk.conf" directly is a wrong procedure. need to do "./autorun.sh ~/autorun-spdk.conf" instead.

[2019-12-10 05:03] liang2yan commented on #1101
I can only reproduce this issue on one nvmf target/host environment. So this issue should be platform dependency.

[2019-12-10 05:20] yidong0635 commented on #1100
I'm going to close this issue. For  code has not been compiled by case.

[2019-12-10 06:06] changpe1 commented on #1095
@jkalwas Patch has been merged, can you verify it fix the issue or not? Thanks.

[2019-12-10 07:34] #1081 closed

[2019-12-10 08:06] ryderhsu0129 opened #1104 "can't run fio plugin with SPDK bdev"
We run fio plugin with SPDK bdev and got the following ERROR message :
[code]
Our test procedures:
1. Setup SPDK
**./scripts/setup.sh**
2. Start the SPDK Target App in the background
**./app/spdk_tgt/spdk_tgt &**
3. Configure an NVMe bdev named Nvme0 using PCI device
**sudo ./scripts/rpc.py bdev_nvme_attach_controller -b Nvme0 -t PCIe -a 0000:02:00.0**
4. check the bdev devices
[code]
5. modify bd

[2019-12-10 08:10] yidong0635 commented on #1100
use “./autorun.sh ~/autorun-spdk.conf“ hits "bdev_rbd_create"
06:49:21       # /home/yidong/spdk/scripts/rpc.py iscsi_create_portal_group 1 10.0.0.1:3260
 06:49:21       # /home/yidong/spdk/scripts/rpc.py iscsi_create_initiator_group 2 ANY 10.0.0.2/32
  06:49:21      # /home/yidong/spdk/scripts/rpc.py bdev_rbd_create rbd foo 4096
   06:49:21     # trap - ERR
   06:49:21     # print_backtrace
   06

[2019-12-10 08:17] yidong0635 commented on #1104
please rm -f /tmp/spdk_pci_lock_0000:02:00.0

[2019-12-10 09:38] ryderhsu0129 commented on #1104
Hi yidong,
thanks for your reply.
but no such file spdk_pci_lock_*** on folder /tmp.

[2019-12-10 09:40] Comphix commented on #1104
Cannot create lock on device /tmp/spdk_pci_lock_0000:02:00.0, probably process 5381 has claimed it

Is process 5381 still running?

ps -ef | grep -i 5381

[2019-12-10 09:44] Comphix commented on #1100
@yidong0635 , what's the content of "autorun-spdk.conf"? Is that in your first comment?

Also, are you saying that RPC method "bdev_rbd_create" is not found when running the iSCSI Target?

[2019-12-10 09:44] Comphix commented on #1066
Rebased above patch for the fix.

[2019-12-10 09:45] Comphix commented on #739
Updated the patch based on the comments.

[2019-12-10 09:59] ryderhsu0129 commented on #1104
thanks for your reply.

process 5381 is SPDK target app spdk_tgt, it is still running.
if I close it(kill process) will unable to find bdev, the ERROR message as following:
[code]

[2019-12-10 10:07] AlekseyMarchuk commented on #1101
Could you specify your environment including OS, kernel and CPU? I'll try find similar one to reproduce

[2019-12-10 11:54] mmkayPL opened #1105 "Signal handling during spdk_thread_send_msg may cause application hang"
Receiving a signal handler (like SIGTERM) while enqueueing messages on a ring may cause hanging in the application, as the signal handler also tries to call spdk_thread_send_msg. This seems to be an extremely rare case though.
## Expected Behavior

Application closes successfully.

## Current Behavior

#0  update_tail (enqueue=1, single=0, new_val=581513, old_val=581512, ht=0x2000004ffd00) at /hom

[2019-12-10 12:16] ryderhsu0129 opened #1106 "can't run perf with linux aio"
We run perf tool with linux aio got the following ERROR message:

[code]
We have checked that /dev/nvme01n have been created, and then
our perception is that we can use this instruction directly but failed:
**./perf -w read -o 4096 -q 32 -t 300 -s 1024 /dev/nvme0n1**

please help to check which procedure is wrong, thanks!

ps. we can run perf with spdk nvme after execute setup.sh

[2019-12-10 13:35] glodfish-zg commented on #1106
Please try this patch: https://review.gerrithub.io/c/spdk/spdk/+/477449

[2019-12-10 14:37] spdkci commented on #1007
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52103.html

[2019-12-10 14:53] spdkci commented on #1072
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52114.html

[2019-12-10 15:44] jimharris commented on #1105
Good catch.

A relatively simple way to fix this would be to add something like spdk_thread_send_critical_msg().  This function wouldn't allocate an event structure at all - it would just copy the fields directly to the spdk_thread object itself.  Then just change spdk_thread_poll() to check if this event is populated each time it's called.  That should have no noticeable performance impact.

This

[2019-12-10 15:49] spdkci commented on #1068
Another instance of this failure. Reported by @ksztyber. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52229.html

[2019-12-10 16:29] spdkci commented on #1007
Another instance of this failure. Reported by @ksztyber. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52233.html

[2019-12-10 17:16] peluse commented on #1001
merged a while back

[2019-12-10 17:16] #1001 closed

[2019-12-10 17:18] peluse commented on #944
@jkryl OK, cool.  The fix for this was a series of patches, the last few are still under review as is the test code.  The last code patch is here https://review.gerrithub.io/c/spdk/spdk/+/472209/6 and be sure to read the commit messages - let me know if you have any questions.

@pawelkax please rebase/update your test patches when you get a chance, thanks!

[2019-12-11 00:38] yidong0635 commented on #1100
@Comphix  yes, this time it hits  Method "bdev_rbd_create" not found. I'm still struggling in judging
it's an operation failure or a real bug. But it's autotest.

[2019-12-11 01:11] jimharris commented on #1100
Is it possible it was built without rbd support?

[2019-12-11 01:36] yidong0635 commented on #1100
it seems exporting some flags but building with that modules.

[2019-12-11 02:06] yidong0635 commented on #1100
I can execute "./test/spdkcli/rbd.sh" successfully on fedora30, but autotest treats this failed to add " config_params+=' --with-rbd'
condition may not right:
if [ -d /usr/include/rbd ] &&  [ -d /usr/include/rados ] && [ $SPDK_TEST_RBD -eq 1 ];

[2019-12-11 02:10] ryderhsu0129 commented on #1106
thanks for your reply.
It's work now!

[2019-12-11 02:10] #1106 closed

[2019-12-11 02:16] yidong0635 commented on #1100
fedor28 has these folders, but fedora30 and later doesn't have these folders , these may be integrated to somewhere.

[2019-12-11 02:50] liang2yan commented on #1101
target:
CPU: Intel skylake CPU
OS: Fedora release 30 (Thirty)
Kernel: 5.1.20-300.fc30.x86_64
Host:
CPU: Intel haswell
OS:  Fedora release 28
Kernel: 5.0.16-100.fc28.x86_64

[2019-12-11 03:12] yidong0635 commented on #1100
make it clear , librbd and librados have not been installed. this  module has not been compiled, and
./test/spdkcli/rbd.sh doesn't depend on this, but other tests which  need bdev_rbd_create rpc method depend on this.
and these tests' switch only use "$SPDK_TEST_RBD -eq 1"
that means it was not compiled but still to test it.

[2019-12-11 04:35] yidong0635 commented on #1100
Close this issue, there are lots of dependencies to run cases. And some parts are not compiled if
don't have include files, but test will continue. And I think the best method  is  let it stay the same as before, otherwise it makes test more complex. Through setting up the environments manually including installing packages.

[2019-12-11 04:35] #1100 closed

[2019-12-11 06:43] spdkci commented on #1096
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52332.html

[2019-12-11 06:55] yidong0635 commented on #1104
please verify the bdev name: Global.0.0 . How this name comes from?

[2019-12-11 07:35] ryderhsu0129 commented on #1104
thanks for your reply.

Global.0.0 comes from running fio plugin command line doesn't attach filename,
but if I attached filename same as rpc command creation,
(sudo ./scripts/rpc.py bdev_nvme_attach_controller -b **Nvme0** -t PCIe -a 0000:02:00.0)
then the ERROR message will change as following :
*ERROR*: Unable to find bdev with name **Nvme0**

[2019-12-11 07:57] yidong0635 commented on #1104
you have already claimed  TransportID "trtype:PCIe traddr:0000:02:00.0" NVMe0n1
and then do this again with "./scripts/rpc.py bdev_nvme_attach_controller -b Nvme0 -t PCIe -a 0000:02:00.0" (you can remove  whole line in config file)
and the name are inconsistency.  Nvme0 --> Nvme0n1  is different from NVMe0n1.
you can use "./scripts/rpc.py get_bdevs" to check the created bdev name.
you can search f

[2019-12-11 08:13] spdkci commented on #1068
Another instance of this failure. Reported by @ksztyber. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52269.html

[2019-12-11 08:18] spdkci commented on #1007
Another instance of this failure. Reported by @ksztyber. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52235.html

[2019-12-11 08:21] ryderhsu0129 commented on #1104
thanks for your reply.

I have used "./scripts/rpc.py bdev_get_bdevs" to check the created bdev name,
and also remove the line with claimed TransportID on bdev.conf.in,
and then I run fio plugin command with created bdev name,
but ERROR message still indicates unable to find created bdev name.

[2019-12-11 08:27] ksztyber commented on #1068
I'm not 100% sure if the two instances I've reported are related to the slow disk access, but they certainly look so. Both of them timed out during the compilation, before any tests could be even started.

[2019-12-11 08:41] govind-rathod1987 commented on #1102
Thanks for your timely response.
It is working and will close the case.

[2019-12-11 08:41] #1102 closed

[2019-12-11 09:38] karlatec opened #1107 "[nightly] test/bdev/blockdev.sh fails due to sgdisk not installed on test VMs"
test/bdev/blockdev.sh started failing in nightly test runs due to changes done in 5170ac8d83be3b404dc8c3285bf85f4aa5c31dd4.

Part of test configuration was changed to use GPT nvme bdevs instead of using a nvme bdev directly. Some of the VMs do not have sgdisk installed so gpt partition is not created, thus resulting in Nvme0n1p1 being not present.

Affected systems in CI:
- CentOS7
- Ubuntu16
- Fr

[2019-12-11 11:32] tomzawadzki commented on #1107
Besides the noted down solutions by @karlatec, one that is more immediate would be to move hello_bdev before the part_dev_by_gpt(). This would need to align with yet unmerged test changes, but could be worth considering.

@Seth5141 Can you please take a look ?

[2019-12-11 12:41] spdkci commented on #1007
Another instance of this failure. Reported by @wawryk. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52374.html

[2019-12-11 17:34] Seth5141 commented on #1107
@tomzawadzki Possible fix at https://review.gerrithub.io/c/spdk/spdk/+/477611. This preserves the behavior of blockdev.sh where we weren't really requiring GPT in the past but allows us to report with more granularity whether we are running GPT tests. This gives us the best of both worlds. If the GPT tests weren't run, that will get reported in the supplemental logs. Just waiting for it to run thr

[2019-12-11 19:14] jimharris commented on #1030
This issue seems to be fixed now after the recent hot plug patches.  Thanks Shuhei!

[2019-12-11 19:14] #1030 closed

[2019-12-11 19:15] jimharris commented on #1064
This issue seems to be fixed now with the recent iSCSI hotplug patches.

[2019-12-11 19:15] #1064 closed

[2019-12-11 19:16] spdkci commented on #1072
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52306.html

[2019-12-11 19:51] spdkci commented on #1072
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52433.html

[2019-12-11 20:48] spdkci commented on #1072
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52437.html

[2019-12-11 20:53] spdkci commented on #1007
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52439.html

[2019-12-11 20:53] Seth5141 commented on #1107
https://review.gerrithub.io/c/spdk/spdk/+/477612 shows this working properly on the freebsd tests. You can go to https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/52438/archive/freebsd_autotest/build.log and look for START TEST CASE bdev_hello_world to see therelevant portion of the log.

[2019-12-11 21:49] peluse commented on #946
@xiaoxichen ping... I've tried wrapping the qemu call w/a bash script and got some limited help on slack from the kata folks, still no luck. I have also had no luck finding the full qemu log for a failed attempt to wrap or the full cmd line used when things work correctly. You seem to have both of these figured out - please share :)

[2019-12-11 23:13] spdkci commented on #1007
Another instance of this failure. Reported by @jimharris. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52460.html

[2019-12-12 01:51] optimistyzy commented on #1030
@jimharris great to see this. Thanks for your great work @shuhei-matsumoto

[2019-12-12 02:48] changpe1 commented on #1086
@liang2yan Can you also use Alexey's patch to verify this issue, the patch is already nearly to be merged.

[2019-12-12 04:12] jimharris commented on #1105
Bug scrub: general agreement on the approach listed above

[2019-12-12 04:12] jimharris commented on #1103
Bug scrub:  assigned to Changpeng

[2019-12-12 04:15] jimharris commented on #1101
Bug scrub:

Read completed with error (sct=0, sc=8)
Floating point exception (core dumped)
Program terminated with signal SIGFPE, Arithmetic exception.
#0  0x00000000004133ec in submit_single_io (task=0x84d7a0) at perf.c:885
885                     offset_in_ios = rand_r(&seed) % entry->size_in_ios;
[Current thread is 1 (Thread 0x7f5171602e00 (LWP 60586))]
Missing separate debuginfos, use: dnf deb

[2019-12-12 04:16] xiaoxichen commented on #946
Hi @peluse , sorry for the late response. It is bad that my env was destroyed by someone accidentally but I tried to recall most from my log
1. create the script qemu.sh as a wrapper, which will append the vhost device parameters before other parameters from KATA.
the configuration has two part, first part (before $@) is regarding the HugePage, and the second part is the char dev for vhost.

If yo

[2019-12-12 04:17] jimharris commented on #1097
Bug scrub: Assigned to @changpe1

[2019-12-12 04:21] jimharris commented on #1097
Hi @cockroach1136 - can you confirm which version of SPDK you are using?

[2019-12-12 04:25] jimharris commented on #1096
Bug scrub: assigned to @Seth5141

[2019-12-12 04:26] jimharris commented on #1086
Bug scrub: @liang2yan is going to verify the patch from @AlekseyMarchuk

[2019-12-12 04:29] jimharris commented on #1079
Bug scrub:

Hi @joyantamishu - would the same IP_TOS value be used for all connections from the same listen socket?  or potentially are different values used for different connections based on some other kind of parameter?

Currently no such ability exists to set different options, but looking at possibilities for adding it.

[2019-12-12 04:31] jimharris commented on #1066
Bug scrub: Assigned patch to @jimharris for review.

[2019-12-12 04:32] jimharris commented on #1061
Bug scrub: these patches will be included in upcoming 19.10.1 release.

[2019-12-12 04:39] jimharris commented on #1099
Bug scrub: assigned to @jimharris

[2019-12-12 04:42] jimharris commented on #1092
Bug scrub: assigned to @tomzawadzki

Tomek - not sure there's a lot to go on with the two failures so far.  But could you take a look and see if anything pops out?

[2019-12-12 04:45] jimharris commented on #1077
Moved from #1072
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52114.html

[2019-12-12 04:49] jimharris commented on #1077
Bug scrub: this appears to be specific to the kernel running in these VMs - we tried updating to a newer kernel but that one has a CUSE bug that's very reproducible

so for now, we will continue to monitor this issue - please look at dmesg.log when you get timeout failures and if there's an NFS kernel oops post it to this issue

[2019-12-12 05:36] spdkci commented on #1072
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52135.html

[2019-12-12 08:07] liang2yan commented on #1086
@AlekseyMarchuk , I have tried your patch series. It can run without coredump several times. then the next time, spdk nvmf tgt hung up. the I tried again, spdk nvmf tgt crashed. the coredump is as below:
[code]
it is different from original coredump.

[2019-12-12 08:18] shuhei-matsumoto opened #1108 "autotest build timeout by flooding ACPI warning message"
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/52435/archive/ubuntu18_autotest/index.html

[695112.275817] ACPI Warning: Large Reference Count (0x975F) in object 00000000dddd1049, Type=0x1D (20170831/utdelete-473)
[695112.276156] ACPI Warning: Large Reference Count (0x9760) in object 00000000d31f7dde, Type=0x1D (20170831/utdelete-473)
[695112.276475] ACPI Warning: Large Ref

[2019-12-12 08:20] spdkci commented on #1108
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52435.html

[2019-12-12 08:31] changpe1 commented on #1097
@cockroach1136  I submitted a patch https://review.gerrithub.io/c/spdk/spdk/+/477754 to fix the issue you mentioned above.

[2019-12-12 10:02] AlekseyMarchuk commented on #1086
Hi @liang2yan
Thanks for the information. I also tried to reproduce this issue several times yesterday but didn't observe any crashes. Will try to catch it today

[2019-12-12 10:43] spdkci commented on #1007
Another instance of this failure. Reported by @karlatec. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52509.html

[2019-12-12 11:51] eyuval opened #1109 "discovery controller should hande keep alive command (SPDK_NVME_OPC_KEEP_ALIVE)"
The discovery controller uses a fixed timeout and starts the keep alive timer in function spdk_nvmf_ctrlr_create. However, I see that the discovery controller does not handle keep alive command from the host. This results in keep alive timeout after 2minutes and disconnect, because the last_keep_alive_tick parameter is never update. I am using the nvme dem application. It opens a permanent connect

[2019-12-12 14:28] spdkci commented on #1007
Another instance of this failure. Reported by @pawelkax. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52533.html

[2019-12-12 14:43] #1075 closed

[2019-12-12 15:32] peluse commented on #946
@xiaoxichen thanks. It seems that no matter what I put in my script I get the same error:

docker: Error response from daemon: OCI runtime create failed: fail to launch qemu: exit status 1, error messages from qemu log: qemu-vanilla-system-x86_64: -object memory-backend-file,id=mem,size=2G,mem-path=/dev/hugepages,share=on
-numa node,memdev=mem  -name: invalid option: unknown.

and it doesn't matte

[2019-12-12 22:24] spdkci commented on #1072
Another instance of this failure. Reported by @benlwalker. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52588.html

[2019-12-13 00:01] Seth5141 opened #1110 "NVMe-oF target segfault when handling CM events."
## Expected Behavior
In the NVMe-oF target, we handle CM events on a single acceptor thread. These CM events manage things like creating and destroying qpairs. However, there are several other things that can kick off a qpair destruction process. There are a couple of issues in the current code that can cause us to try to access pointers after they are freed while handling CM events.

## Current B

[2019-12-13 00:12] Seth5141 commented on #1096
I did a triage of the three confirmed cases of this failure today. It looks like they actually fall into three different categories
1. NVMe-oF target failures related to asynchronous ib message handling. This class of errors is actually handled by the solution to GitHub issue #1075. The failure at 51761 falls under this category.
2. NVMe-oF target failures related to asynchronous cm event handling

[2019-12-13 00:55] Seth5141 commented on #1110
Possible fix here: https://review.gerrithub.io/c/spdk/spdk/+/477877

[2019-12-13 02:10] xiaoxichen commented on #946
@peluse maybe try to remove "-object memory-backend-file,id=mem,size=2G,mem-path=/dev/hugepages,share=on -numa node,memdev=mem -name"  from the script, but set
[code]
in the kata config files?

[2019-12-13 02:57] spdkci commented on #1092
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52620.html

[2019-12-13 06:52] optimistyzy commented on #1104
"nvme_pcie.c: 817:nvme_pcie_ctrlr_construct: *ERROR*: could not claim device 0000:02:00.0 (Permission denied)
nvme.c: 428:nvme_ctrlr_probe: *ERROR*: Failed to construct NVMe controller for SSD: 0000:02:00.0"

@ryderhsu0129 What's the user privilege used by your for start the process? Can you make sure that you use the root account.

And you need to run ./script/setup.py in spdk folder

[2019-12-13 07:08] ryderhsu0129 commented on #1104
Thanks for your reply.

I make sure that process run by root privilege,
and also run setup.sh before all operations.

[2019-12-13 07:20] optimistyzy commented on #1104
@ryderhsu0129 Can I ask another questions, can you run ./examples/nvme/identify/identify successfully?

[2019-12-13 07:28] optimistyzy commented on #1067
@shuhei-matsumoto Should we close this issue or still open this?

[2019-12-13 07:31] Comphix commented on #1109
@glodfish-zg , please take a look. Thanks.

[2019-12-13 07:38] optimistyzy commented on #1039
@clicx For the identify usage.  If you turn on IOMMU. It means that for every NVMe disk you cannot identify? Or you can only identify the NVMe SSD in the same Numa node?

[2019-12-13 07:44] yidong0635 commented on #1108
check a successful log about this ,
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/51862/archive/ubuntu18_autotest/dmesg.log
it seems the same as above.

[2019-12-13 07:44] ryderhsu0129 commented on #1104
yes, it's work.

[2019-12-13 07:46] optimistyzy commented on #1039
In SPDK new code (a7b6702d6f5211099c7102b98db845d6965bcc33). When starting an SPDK app, we have to check:

#if defined(__x86_64__)
	/* DPDK by default guesses that it should be using iova-mode=va so that it can
	 * support running as an unprivileged user. However, some systems (especially
	 * virtual machines) don't have an IOMMU capable of handling the full virtual
	 * address space and DPDK does

[2019-12-13 08:05] yidong0635 commented on #1108
Maybe this indicates that the base image of ubuntu18 has something wrong with the boot, it can easily lead  to timeout.

[2019-12-13 08:41] bharatpotnuri commented on #1109
#1089

[2019-12-13 08:43] bharatpotnuri commented on #1109
#1089

[2019-12-13 09:42] spdkci commented on #1072
Another instance of this failure. Reported by @shuhei-matsumoto. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52641.html

[2019-12-13 14:42] jimharris commented on #1108
http://lists.infradead.org/pipermail/linux-nvme/2017-September/013049.html

hch talks about this exact same ACPI message when doing nvme resets within a VM (I'm deducing VM by the platform name from the kernel backtrace he added)

I'm not able to get to the kernel bugzilla to get more details - not sure if it's down?  But this definitely looks like our culprit.

@Seth5141 @karlatec can we see if t

[2019-12-13 15:28] Seth5141 commented on #1110
@AlekseyMarchuk Would you be willing to give this a read-through and let me know if you feel like I missed anything regarding this failure?

[2019-12-13 15:43] jimharris commented on #1104
Hi @ryderhsu0129,

I have a couple of questions:

1) Do you have the SPDK target running when you run the fio plugin?
2) Can you provide the command line you are using when running nvme/identify?

Thanks,

Jim

[2019-12-13 16:00] jimharris commented on #1085
The patch referenced above was reverted - so we can close this issue.

[2019-12-13 16:00] #1085 closed

[2019-12-13 16:08] jimharris commented on #1072
Here's another one that timing out, but during the initial build, not before the make clean.

I'm tempted to start a new issue for this, but posting this one here for now.

https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52651.html

[2019-12-13 16:40] AlekseyMarchuk commented on #1086
I was able to reproduce the issue and found the root cause. As I commented previously, a large number of qpairs are destroyed simultaneously while acceptor poller wakes up every 10 ms and retrieves 1 event at a time. "Defunct qpair" timer is expired after 4 seconds and qpair with high probability doesn't receive LAST_WQE_REACHED for this time, so it may have pending requests in `incoming_queue`. C

[2019-12-13 17:28] spdkci commented on #1072
Another instance of this failure. Reported by @benlwalker. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52611.html

[2019-12-13 19:39] jimharris commented on #1094
OK.  I'm adding Bug Scrub tag to this issue and we will discuss at next week's meeting.

[2019-12-13 20:27] spdkci commented on #1007
Another instance of this failure. Reported by @pawelkax. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52713.html

[2019-12-13 20:42] shuhei-matsumoto commented on #1067
Hi @ZiyeYang

Seth kindly restored the original 10 minutes timeout. He have added 2 minutes. We will see if this is fixed in a next few days. So let’s keep open until no reports here

[2019-12-13 20:45] peluse commented on #946
@xiaoxichen so optins before *or* after $@ results in that same error (invalid parm).

[2019-12-13 23:02] spdkci commented on #1007
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52754.html

[2019-12-13 23:44] spdkci commented on #1077
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52758.html

[2019-12-14 00:12] spdkci commented on #1007
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52762.html

[2019-12-14 00:23] Seth5141 opened #1111 "failure in nvme_smartctl_cuse tests."
## Current Behavior
This failed on autotest-per-patch on an unrelated test.
Relevant log below
[code]

## Possible Solution
Not sure yet, I haven't investigated that far.

## Steps to Reproduce
https://dqtibwqq6s6ux.cloudfront.net/results/autotest-per-patch/builds/52757/archive/nvme_autotest/build.log

[2019-12-14 00:25] spdkci commented on #1111
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52757.html

[2019-12-14 01:11] spdkci commented on #1111
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52767.html

[2019-12-14 05:48] spdkci commented on #1076
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52775.html

[2019-12-14 05:49] spdkci commented on #1077
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52774.html

[2019-12-14 05:51] spdkci commented on #1076
Another instance of this failure. Reported by @Seth5141. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52770.html

[2019-12-14 14:39] jimharris commented on #1076
Hey Seth,

Neither of these two most recent reports seem due to the issue described here. Is it possible you accidentally posted the wrong issue number to Gerrit?

[2019-12-14 23:50] optimistyzy commented on #1103
Also see this issue many times

[2019-12-16 01:46] yidong0635 commented on #1111
found that there are two scripts: whole file uses "return 1" , maybe should use  "exit 1".
spdk_nvme_cli_cuse.sh  and  spdk_smartctl_cuse.sh.

[2019-12-16 02:12] yidong0635 commented on #1111
I just saw this issue was so obvious:
 _return: can only `return' from a function or sourced script_
so submit this patch : https://review.gerrithub.io/c/spdk/spdk/+/478014

[2019-12-16 02:20] ryderhsu0129 commented on #1104
Hi Jim,

1. Do you mean SPDK target is NVMe SSD device?If so I have it when run the fio plugin.
2. the command line is ./example/nvme/identify/identify.
ps. If I run the command line after created bdev, error message indicates the same failed reason.
another situation will be normal.

[2019-12-16 02:42] glodfish-zg commented on #1109
@eyuval. Sorry for the late response. Yes, you are right. We will fix this.

[2019-12-16 02:52] shuhei-matsumoto commented on #1109
Hi @eyuval @glodfish-zg

As @bharatpotnuri added reference, this issue is duplicated with #1089. We can close this and move to #1089.

I've got unit test failure to the patch to fix the issue.
If fixing the issue is the way to go for us, I will investigate and fix the unit test failure.

-Shuhei

[2019-12-16 02:53] spdkci commented on #1072
Another instance of this failure. Reported by @yidong0635. log: https://dqtibwqq6s6ux.cloudfront.net/public_build/autotest-per-patch_52820.html

[2019-12-16 04:26] shuhei-matsumoto commented on #1089
I updated the patch https://review.gerrithub.io/c/spdk/spdk/+/476810 and it is ready to review.

[2019-12-16 05:17] glodfish-zg commented on #1089
@shuhei-matsumoto. Hi shuhei. I think It's fine to accept the KATO for the discovery controller.

[2019-12-16 05:20] glodfish-zg commented on #1109
Here is the patch: https://review.gerrithub.io/c/spdk/spdk/+/478016. Thanks.

[2019-12-16 05:51] shuhei-matsumoto commented on #1089
Thank you so much @glodfish-zg
I paste your patch https://review.gerrithub.io/c/spdk/spdk/+/478016 here.
Let's get review both.

[2019-12-16 10:36] ksztyber commented on #1055
@liang2yan Could you verify that the code merged to master (ef8966f) works and close this issue?
Thanks.

[2019-12-16 12:31] #1086 closed

[2019-12-16 16:23] wawryk opened #1112 "Nvme-cli 1.8.1 fails"
Please use the issue tracker only for reporting suspected issues.

See [The SPDK Community Page](http://www.spdk.io/community/) for other SPDK communications channels.

## Expected Behavior

Tests should pass
## Current Behavior

Tests fails on:
[code]

## Possible Solution

Not so good solution is back to nvme-cli 1.6
## Steps to Reproduce

1. Run some autotests with nvme-cli 1.8.1

## Context (E

[2019-12-16 16:50] peluse commented on #946
@xiaoxichen yes.  FYI I'm on Ubuntu 18.04 and installed kata/docker via these directions: https://github.com/kata-containers/documentation/blob/master/install/ubuntu-installation-guide.md

[2019-12-16 17:38] jimharris commented on #1111
grep on line 53 also needs to ignore changes to json.power_on_time.hours - that is what caused the script to go down the path with the incorrect return

[2019-12-17 01:31] changpe1 commented on #894
I've confirmed this issue has been fixed, closing it for now.

[2019-12-17 01:31] #894 closed

[2019-12-17 01:33] changpe1 commented on #1095
Closing this issue for now as patch has been merged.

[2019-12-17 01:33] #1095 closed

[2019-12-17 01:35] changpe1 commented on #745
Closing this issue for now as the io_queue_requests can be configured by users, users can set a big number if they do have very big IO requirement.